[2019-07-05 05:38] cmsbuild commented on #27429
The cleanup has started for slc7_amd64_gcc630

[2019-07-05 05:38] #27429 closed

[2019-07-05 05:42] cmsbuild commented on #27429
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_15_patch2-slc7_amd64_gcc630/1378

[2019-07-05 05:43] cmsbuild commented on #27429
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_15_patch2-slc6_amd64_gcc630/1377

[2019-07-05 07:55] fabiocos commented on #27437
upload all

[2019-07-05 07:55] cmsbuild commented on #27437
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-07-05 07:55] cmsbuild commented on #27437
Queing Jenkins upload for slc7_amd64_gcc700

[2019-07-05 07:55] cmsbuild commented on #27437
Queing Jenkins upload for slc7_amd64_gcc820

[2019-07-05 07:55] cmsbuild commented on #27437
Queing Jenkins upload for slc7_amd64_gcc900

[2019-07-05 07:56] cmsbuild commented on #27437
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1366/console

[2019-07-05 07:56] cmsbuild commented on #27437
The upload has started for slc7_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1367/console

[2019-07-05 07:56] cmsbuild commented on #27437
The upload has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1368/console

[2019-07-05 07:56] cmsbuild commented on #27437
The upload has started for slc7_amd64_gcc900 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1369/console

[2019-07-05 07:57] cmsbuild commented on #27437
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre3-slc7_aarch64_gcc700/1366

[2019-07-05 07:57] cmsbuild commented on #27437
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc820/1368

[2019-07-05 07:58] cmsbuild commented on #27437
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc900/1369

[2019-07-05 07:59] cmsbuild commented on #27437
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc700/1367

[2019-07-05 08:00] fabiocos commented on #27437
release-notes

[2019-07-05 08:01] cmsbuild commented on #27437
Generating release notes since CMSSW_11_0_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-05 08:01] cmsbuild commented on #27437
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre3 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre3

Cheers,
cms-bot

You can also

[2019-07-05 08:02] cmsbuild commented on #27437
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre3

[2019-07-05 08:55] fabiocos commented on #27393
@rekovic we still need to clarify the access of conditions outside GT in L1 configurations, could you please comment?

[2019-07-05 08:57] #24522 closed

[2019-07-05 10:58] schneiml opened #27447 "ROOT TDirectory IO in CMSSW"
Dear framework experts,

Within the `DQMStore`, we have the functionality to write the classic `TDirectory` based output file. This needs to be preserved, since many (if not most) DQM-based tools consume DQM data in this format. Currently, we write this format at the end of production HARVESTING jobs, and in many less-mainstream workflows.

The existing code uses `gDirectory` and all the usual ROO

[2019-07-05 10:59] cmsbuild commented on #27447
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-05 11:38] cmsbuild commented on #27431
The cleanup has started for slc7_amd64_gcc700

[2019-07-05 11:38] cmsbuild commented on #27431
The cleanup has started for slc7_amd64_gcc820

[2019-07-05 11:38] #27431 closed

[2019-07-05 11:44] cmsbuild commented on #27431
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_1_patch1-slc7_amd64_gcc820/1380

[2019-07-05 11:44] cmsbuild commented on #27431
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_1_patch1-slc7_amd64_gcc700/1379

[2019-07-05 11:46] cmsbuild commented on #27437
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_aarch64_gcc700/2089

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-05 17:08] kpedro88 opened #27450 "Consolidate MTD modifiers"
After #27449, the "tile" option for MTD is no longer exercised anywhere. I propose:
* merging the modifiers phase2_timing_layer and phase2_timing_layer_bar
* removing the modifier phase2_timing_layer_tile
* simplifying the naming of Phase2 top-level Eras (since only Eras appended with "_timing_layer_bar" are used)
* removing any extraneous code that supports the "tile" option
* removing code only

[2019-07-05 17:08] kpedro88 commented on #27450
assign upgrade

[2019-07-05 17:09] cmsbuild commented on #27450
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-05 17:09] cmsbuild commented on #27450
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-05 20:16] kpedro88 commented on #21129
+upgrade

[2019-07-06 14:09] Dr15Jones opened #27451 "Circular dependency in SimG4Core between Application and GFlash"
SimG4Core/Application links with SimG4Core/GFlash while within G4Flash we have these includes

[code]

In order for UBSAN to work, SimG4Core/GFlash needs to link with the library that has the definition of SteppingAction (in order to get the type info).

[2019-07-06 14:09] Dr15Jones commented on #27451
assign simulation

[2019-07-06 14:10] cmsbuild commented on #27451
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-06 14:10] cmsbuild commented on #27451
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-06 14:37] civanch commented on #27451
@Dr15Jones , thanks, I recently also see this and want to fix asap.

[2019-07-07 02:41] srimanob opened #27453 "Issue with new optional parameter in 11_0_0_pre3"
PdmV reported the issue in
https://its.cern.ch/jira/browse/CMSCOMPPR-7716

It seems to me that the issue comes from https://github.com/cms-sw/cmssw/pull/27191 and https://github.com/cms-sw/cmssw/pull/27399 which are introduced in 11_0_0_pre3. There is a change in python2 / python3 as mentioned in https://github.com/cms-sw/cmssw/pull/27399 which issue reported before. Not clear why we see python2 i

[2019-07-07 02:41] cmsbuild commented on #27453
A new Issue was created by  @srimanob Phat Srimanobhas.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-07 06:08] cmsbuild commented on #27437
The cleanup has started for slc7_aarch64_gcc700

[2019-07-07 06:08] cmsbuild commented on #27437
The cleanup has started for slc7_amd64_gcc700

[2019-07-07 06:08] cmsbuild commented on #27437
The cleanup has started for slc7_amd64_gcc820

[2019-07-07 06:08] cmsbuild commented on #27437
The cleanup has started for slc7_amd64_gcc900

[2019-07-07 06:08] #27437 closed

[2019-07-07 06:09] cmsbuild commented on #27437
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre3-slc7_aarch64_gcc700/1381

[2019-07-07 06:10] cmsbuild commented on #27437
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre3-slc7_aarch64_gcc700/1385

[2019-07-07 06:15] cmsbuild commented on #27437
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre3-slc7_amd64_gcc700/1386

[2019-07-07 06:19] cmsbuild commented on #27437
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre3-slc7_amd64_gcc700/1382

[2019-07-07 06:21] cmsbuild commented on #27437
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre3-slc7_amd64_gcc820/1387

[2019-07-07 06:24] cmsbuild commented on #27437
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre3-slc7_amd64_gcc900/1388

[2019-07-07 06:26] cmsbuild commented on #27437
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre3-slc7_amd64_gcc900/1384

[2019-07-07 06:28] cmsbuild commented on #27437
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre3-slc7_amd64_gcc820/1383

[2019-07-07 08:48] srimanob commented on #27453
@Dr15Jones @fabiocos
I am not sure that you are in the list of persons who can inject relvals, as the problem arises in the submission process only.

[2019-07-07 09:40] fabiocos commented on #27453
@srimanob I do not see how the changes in ```ConfigBuilder.py``` itself could cause problems, so your guess is the most reasonable one as those PRs touch the basic python behaviour behind the scenes. Nevertheless in the regular use of ```runTheMatrix.py``` itself we do not observe any problem, this is why I was asking more info about the reproducibility of the issue.

From the traceback the issue

[2019-07-07 09:40] fabiocos commented on #27453
assign core

[2019-07-07 09:40] cmsbuild commented on #27453
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-07 14:17] Dr15Jones commented on #27453
@srimanob I 'hacked' some of the scripts and was able to find the actual origin of the problem. The useful trackback is
[code]

So the problem is in the WMAgent code.

[2019-07-07 14:40] Dr15Jones commented on #27453
There are 3 obsolete parameters in all of CMSSW
[code]

In the WM code PSetTweaks/WMTweak.py we can see that two of those are listed
https://github.com/dmwm/WMCore/blob/master/src/python/PSetTweaks/WMTweak.py#L42-L43

and it is ultimately from that list which leads to the eventual call to `lastParam.value()` which causes the error.

I see four possible ways around this

1. PSetTweaks/WMTweak add a

[2019-07-07 14:56] civanch commented on #27451
Fixed in #27452

[2019-07-07 15:09] Dr15Jones commented on #27453
I implemented option 4. It is unclear if this will have other consequences.

[2019-07-07 15:15] fabiocos commented on #27453
@Dr15Jones thank you, unfortunately I am afraid that besides what we may see in the PR test/IB we need to verify the interaction with WMAgent , I am not sure what the code do expect. @amaltaro options 1) but mostly 2) look simple to implement, what do you think?

[2019-07-07 19:17] hqucms commented on #25230
Another thing: I came across a fairly new ML inference engine called [ONNX Runtime](https://github.com/microsoft/onnxruntime) recently and did some tests with it. It seems that it can bring another ~1.5x speed-up compared to MXNet+OpenBLAS for DeepAK8. More interestingly, it seems to bring ~3-5x speed-up for the AK4 DeepJet model compared to TensorFlow. Might be interesting to get this into CMSSW.

[2019-07-08 05:25] fabiocos commented on #25230
@hqucms I think that we are mixing different things in this thread:

- effect of revised BLAS implementation used by MXNet: which is the outcome? Do we understand the regression? Is a backport safe in this respect?

- possible alternative engines to MXNet: this is a new development, that may be of course tested upon agreement with the RECO group, but I see it as a separate issue

[2019-07-08 05:29] fabiocos opened #27456 "Crash in HCAL DQM for Data relvals in 9-4-14-UL"
From @prebello

PdmV would like to report a crash in 9-4-14-UL release (only observed after jobs injection in the system, not locally) related with Module: DigiPhase1Task:digiPhase1Task in HCAL DQM, the same of the issue reported in 10-2-0-pre3 below

https://github.com/cms-sw/cmssw/issues/23259

Could you please inform if the fix https://github.com/cms-sw/cmssw/pull/23262 proposed in this issue w

[2019-07-08 05:30] cmsbuild commented on #27456
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-08 05:35] fabiocos commented on #27456
assign dqm

@DryRun FYI

[2019-07-08 05:36] cmsbuild commented on #27456
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-08 05:37] fabiocos commented on #27456
@prebello @zhenhu do you have a tarball that allows us to reproduce the crash? I wonder why this crash is seen just now, as that code seems stable since long time, no data RelVal injected since last spring I would imagine?

[2019-07-08 06:48] fabiocos commented on #27453
#27454 seems to circumvent the problem according to @ahmad3213 . Do you need a new pre-release to inject relvals? Or do can you manage them with this addition for this round?

[2019-07-08 06:54] fabiocos commented on #27450
@kpedro88 once the tile scenario is removed what you propose makes sense. As it will stay available in older releases I think it should be ok, anyway I would like to understand from @pmeridian @lgray whether they envisage lates studies using that scenario (I doubt but...)

[2019-07-08 07:23] ahmad3213 commented on #27453
For the release validation process, we can manage with this addition (without pre-release).

[2019-07-08 07:38] amaltaro commented on #27453
@Dr15Jones  @fabiocos given that production might be handling requests/CMSSW where those parameters are not yet obsolete, option 1) seems to be our best choice.
However, if we don't have such releases around anymore, then getting rid of those two parameters is best, otherwise they get forgotten and stay there forever.

BTW, thanks for debugging and finding out that it actually comes from WMClient

[2019-07-08 08:43] casarsa commented on #27450
@kpedro88 @fabiocos @pmeridian @lgray To further clean and simplify the MTD code, could we also consider removing the old SimpleFTLDigitizer?

[2019-07-08 10:09] prebello commented on #27456
@fabiocos @fioriNTU

the 2017B era has not crashed but from 2017C to 2017F
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=CMSSW_9_4_14_UL__dataUL2017B-1562097746-RunDoubleMuon2017B_UL2017

Latest data rereco and relvals were done with 9-4-0.

Relvals were injected based on new implementation from https://github.com/prebello/cmssw/commit/2769090b89f972df3b606f8ba55d8cb3a0e40536

[2019-07-08 11:34] davidlange6 commented on #25230
i'll look at adding the onnx runtime tool to cmssw - looks interesting... if it would be a way to avoid the non-supported use of the tensorflow c++ interface that would be great (and if its faster, thats all the better, of course one has to do a comparison with like-built libraries, which can make a big difference)

[2019-07-08 11:59] #27275 closed

[2019-07-08 13:11] hqucms opened #27458 "Accelerate ML inference with ONNX Runtime"
Currently the inference of DNN models (DeepJet, DeepAK8, DeepTauID etc.) in CMSSW typically relies on the original training frameworks (TensorFlow or MXNet). However, these frameworks are typically optimized more towards (GPU) training rather than (CPU) inference, therefore may not always provide the best performance for inference.

[ONNX runtime](https://github.com/microsoft/onnxruntime) is a per

[2019-07-08 13:11] cmsbuild commented on #27458
A new Issue was created by  @hqucms Huilin Qu.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-08 13:13] Dr15Jones commented on #27453
@amaltaro I actually implemented 4) which appears to have solved the problem.

[2019-07-08 13:13] Dr15Jones commented on #27453
+1

[2019-07-08 13:13] cmsbuild commented on #27453
This issue is fully signed and ready to be closed.

[2019-07-08 13:16] hqucms commented on #25230
@davidlange6 I can make a PR to cmsdist since I have already tested it a bit.
Also per @fabiocos's request I opened a new issue (https://github.com/cms-sw/cmssw/issues/27458) regarding ONNX runtime to avoid mixing up two fronts.

[2019-07-08 13:19] Dr15Jones commented on #27453
Here is a better explaination as to why my change works. In `WMTweak.getParameter`, if the parameter in question is not available, the function returns `None`. If the parameter is available it calls `parameter.value()`. My change has an unset `cms.optional` and `cms.obsolete` return `None` from the call the `value()` which means `WMTweak.getParameter` returns the same value it did before when thos

[2019-07-08 13:23] amaltaro commented on #27453
Yep, they are equivalent. Thanks, Chris!

[2019-07-08 13:23] davidlange6 commented on #25230
ah - that would be great. thanks.

[2019-07-08 13:23] Dr15Jones commented on #27458
The ability to use the same inference session objects from mulitple threads is extremely useful for CMSSW.

[2019-07-08 13:48] slava77 commented on #25230
@fabiocos
this is a generic thread, opened in November last year. Actually, back then there was some promising development unrelated to either the openblas or the ONNX, which did not materialize with a solution.

[2019-07-08 13:51] slava77 commented on #27458
assign reconstruction

@hqucms
I recall that ONNX was a part of the discussion for an alternative to mxnet last year, but was not selected due to insufficient support.
Has it evolved since then to provide needed support?

[2019-07-08 13:52] cmsbuild commented on #27458
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-08 13:55] hqucms commented on #27458
@slava77 Yes -- actually this ONNX runtime was first released Nov 29, 2018, after the discussion which I think happened in ~summer last year.

[2019-07-08 14:00] mverzett commented on #27458
@slava77, the discussion at the time was about converting DeepAK8 to ONNX and have it read by TF, which at the time turned out to be impossible.

@hqucms is ONNX finally also supported by TF officially? If so, that's a great news.

[2019-07-08 14:05] hqucms commented on #27458
@mverzett I am not sure if it's "officially" but the support seems indeed improved quite a bit since then.

[2019-07-08 14:20] mbluj commented on #27458
FYI, @kandrosov

[2019-07-08 14:40] kpedro88 commented on #27450
@casarsa I highly encourage removing any code that is unused/unneeded after the workflow cleanup

[2019-07-09 14:16] rekovic commented on #27393
@fabiocos
At least in the case of https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/L1Trigger/L1TMuon/python/simGmtStage2Digis_cfi.py#L23
these are "Prototype" parameters which are parameters not transferred to the DB in the process of O2O.
The emulator in turn needs both the the Prototype and the  O2O-ed parameters.
@thomreis

In the case of
https://github.com/cms-sw/c

[2019-07-09 14:17] zhenhu commented on #27453
Hi  @ahmad3213 , please inject one or two workflows to test it. If it works, let's stay with pre3 and inject all the rest relvals.

[2019-07-09 14:22] ahmad3213 commented on #27453
Hi @zhenhu , test was done already, please conversation at following PR
https://github.com/cms-sw/cmssw/pull/27454
It worked fine. I will inject all with the mentioned change in above PR

[2019-07-09 16:43] ianna opened #27466 "Sim Application and Sensitive Detector Classes Event Setup Access"
* Sim Application accesses EventSetup from  OscarMTMasterThread:
https://cmssdt.cern.ch/lxr/source/SimG4Core/Application/src/OscarMTMasterThread.cc#0137
    * DDCompactView record is percolated to the SD classes

* Some SD classes need more: HGCalDDDConstants, etc.
They become an ```Observer<const BeginOfJob*>``` and access EventSetup as follows:
[code]

Note: The discussion has been triggered by

[2019-07-09 16:43] cmsbuild commented on #27466
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-09 16:50] kpedro88 commented on #27466
assign simulation

[2019-07-09 16:51] cmsbuild commented on #27466
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-09 17:46] makortel commented on #27277
I won't be able to work on this for several weeks, so here is the branch with fixes until
https://github.com/cms-sw/cmssw/issues/27277#issuecomment-506760287
and further debugging
https://github.com/cms-sw/cmssw/compare/master...makortel:uniquePtrDictionary

[2019-07-09 18:42] fabiocos commented on #25230
@slava77 you are correct, but at some point the discussing was about the regression due to  cms-sw/cmsdist#5063  and I believe it would be good to keep that issue the whatever other development distinct, just that

[2019-07-09 19:32] civanch commented on #27466
@ianna , master thread should not acces SD at all... We need address interactions between DD and SIM and remove one by one old problems.

[2019-07-09 19:36] Dr15Jones commented on #27466
During the Core meeting, the framework group recommends passing the ConsumesCollector to the various SD during the OscarProducer's constructor. This will allow the SD's to call 'esConsumes' for the data they will get from the EventSetup. Then during the begin Run transition it is safe for the EventSetup to be handed to the SD's directly by the OscarProducer. The framework group recommends NOT usin

[2019-07-09 19:42] civanch commented on #27466
@Dr15Jones , thanks, it seems natural, if we use ConsumesCollector, because SD produce hits.

[2019-07-09 21:18] DryRun commented on #27456
Hi all,

I created a PR to solve the crash at https://github.com/cms-sw/cmssw/pull/27470. I was able to run the cmsDriver command from @franzoni on JetHT 2017C [1], but as @prebello says, it's possible that a successful local test doesn't reflect the crash.

[code]

[2019-07-09 21:56] Dr15Jones opened #27472 "DQM merge failure using ROOT master"
In the recent ROOT master IBs (such as CMSSW_11_0_ROOT6_X_2019-07-08-2300) the step 7 of workflow 137.8 is failing with the ROOT error

[code]

I ran the code in the debugger with DQMService/FwkIO compiled with debugging symbols and I get the traceback

[code]

With the MonitorElement causing the problem being
[code]

[2019-07-09 21:56] Dr15Jones commented on #27472
assign dqm

[2019-07-09 21:58] cmsbuild commented on #27472
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-09 21:58] cmsbuild commented on #27472
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-09 22:06] Dr15Jones commented on #27472
I modified the DQMSource so give more information during the exception. It now says
[code]

[2019-07-10 10:10] apsallid commented on #27417
@fabiocos
Sorry for this late reply. Thank you for pointing the exact point that produced the problem. We have found a solution and I will very soon make a pull request.

[2019-07-10 14:06] ggovi commented on #27393
Within the AlCaDB team we are currently discussing this issue. In parallel to the review and clean up, which is being addressed here, we believe it would be beneficial to introduce some policy to better regulate the use of customisations, especially for what concerns the production workflows like HLT, Express, Prompt Reco.  Two aspects can be considered:
1. How to ensure the control of *allowed* c

[2019-07-10 14:11] Dr15Jones commented on #27472
The problem most likely originates here
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/JetMET/src/METAnalyzer.cc#L322

[2019-07-10 16:52] #26938 closed

[2019-07-11 07:56] fabiocos opened #27489 "Build CMSSW_7_1_42_patch1"

[2019-07-11 07:56] cmsbuild commented on #27489
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-11 07:57] fabiocos commented on #27489
+1

[2019-07-11 07:57] cmsbuild commented on #27489
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_42_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-07-11 07:57] cmsbuild commented on #27489
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-07-11 07:58] cmsbuild commented on #27489
The build has started for slc6_amd64_gcc481 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2090/console
CMSDIST Branch: [REL/CMSSW_7_1_42/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_42/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-07-11 07:58] fabiocos opened #27490 "Build CMSSW_10_6_1_patch2"

[2019-07-11 07:59] cmsbuild commented on #27490
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-11 07:59] fabiocos commented on #27490
+1

[2019-07-11 07:59] cmsbuild commented on #27490
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_1_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-07-11 07:59] cmsbuild commented on #27490
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-07-11 08:00] cmsbuild commented on #27490
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2091/console
CMSDIST Branch: [REL/CMSSW_10_6_1/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_1/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-11 08:01] cmsbuild commented on #27490
The build has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2092/console
CMSDIST Branch: [REL/CMSSW_10_6_1/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_1/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-11 08:05] fabiocos commented on #27453
@srimanob @ahmad3213 I think this is solved now, and the PR fixing the problem will be part of CMSSW_11_0_0_pre4

[2019-07-11 08:24] cmsbuild commented on #27489
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_42_patch1-slc6_amd64_gcc481/2090
Some t

[2019-07-11 08:29] fabiocos opened #27491 "Problem with plugin for RPC Trigger Primitive"
The integration of #26967 has caused a massive failure in the IB CMSSW_11_0_X_2019-07-10-1100 due to a misconfiguration of plugins that was not caught in the initial test phase. According to the comment by @Dr15Jones there are two factories registered under two different names but with identical signature. @maseguracern @rekovic this needs to be fixed in order to reintegrate again this code, that

[2019-07-11 08:29] cmsbuild commented on #27491
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-11 08:30] fabiocos commented on #27491
assign l1

[2019-07-11 08:30] cmsbuild commented on #27491
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-11 08:35] cmsbuild commented on #27489
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_42_patch1-slc6_amd64_gcc481/2090

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-07-11 08:42] cmsbuild commented on #27490
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch2-slc7_amd64_gcc820/2092
Some t

[2019-07-11 08:49] fabiocos commented on #27489
upload all

[2019-07-11 08:50] cmsbuild commented on #27489
Queing Jenkins upload for slc6_amd64_gcc481

[2019-07-11 08:52] cmsbuild commented on #27489
The upload has started for slc6_amd64_gcc481 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1370/console

[2019-07-11 08:52] cmsbuild commented on #27489
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_42_patch1-slc6_amd64_gcc481/1370

[2019-07-11 08:54] fabiocos commented on #27489
release-notes

[2019-07-11 08:55] cmsbuild commented on #27489
Generating release notes since CMSSW_7_1_42.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-11 08:55] cmsbuild commented on #27489
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_42_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_42 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_42_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2019-07-11 08:56] cmsbuild commented on #27489
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_42_patch1

[2019-07-11 09:25] fabiocos opened #27493 "Build CMSSW_9_4_14_patch1"

[2019-07-11 09:25] cmsbuild commented on #27493
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-11 09:26] fabiocos opened #27494 "Build CMSSW_9_4_14_UL_patch1"

[2019-07-11 09:26] cmsbuild commented on #27494
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-11 09:30] cmsbuild commented on #27490
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch2-slc7_amd64_gcc700/2091
Some t

[2019-07-11 10:45] cmsbuild commented on #27490
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch2-slc7_amd64_gcc820/2092

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-11 11:10] #27493 closed

[2019-07-11 11:10] #27494 closed

[2019-07-11 11:11] fabiocos opened #27497 "Build CMSSW_9_4_14_patch1"
ARCHITECTURE:slc6_amd64_gcc630

[2019-07-11 11:12] cmsbuild commented on #27497
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-11 11:12] fabiocos opened #27498 "Build CMSSW_9_4_14_UL_patch1"
ARCHITECTURE:slc7_amd64_gcc630

[2019-07-11 11:13] cmsbuild commented on #27498
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-11 11:13] fabiocos commented on #27497
+1

[2019-07-11 11:13] fabiocos commented on #27498
+1

[2019-07-11 11:13] cmsbuild commented on #27497
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_14_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-07-11 11:13] cmsbuild commented on #27497
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-07-11 11:13] cmsbuild commented on #27498
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_14_UL_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-07-11 11:14] cmsbuild commented on #27498
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-07-11 11:26] cmsbuild commented on #27497
The build has started for slc6_amd64_gcc630 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2093/console
CMSDIST Branch: [REL/CMSSW_9_4_14/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_14/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-11 11:30] cmsbuild commented on #27498
The build has started for slc7_amd64_gcc630 in cmsbuild95.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2094/console
CMSDIST Branch: [REL/CMSSW_9_4_14_UL/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_14_UL/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-11 11:50] cmsbuild commented on #27490
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch2-slc7_amd64_gcc700/2091

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-11 11:50] cmsbuild commented on #27497
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_14_patch1-slc6_amd64_gcc630/2093
Some t

[2019-07-11 11:54] cmsbuild commented on #27498
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_14_UL_patch1-slc7_amd64_gcc630/2094
Som

[2019-07-11 12:51] cmsbuild commented on #27497
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_14_patch1-slc6_amd64_gcc630/2093

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-07-11 13:00] cmsbuild commented on #27498
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_14_UL_patch1-slc7_amd64_gcc630/2094

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-07-11 13:01] fabiocos commented on #27498
@smuzaffar everything looks ok to me both here and in #27497 , so I would upload them

[2019-07-11 13:33] fabiocos commented on #27497
upload all

[2019-07-11 13:33] fabiocos commented on #27498
upload all

[2019-07-11 13:33] cmsbuild commented on #27497
Queing Jenkins upload for slc6_amd64_gcc630

[2019-07-11 13:33] cmsbuild commented on #27498
Queing Jenkins upload for slc7_amd64_gcc630

[2019-07-11 13:34] cmsbuild commented on #27497
The upload has started for slc6_amd64_gcc630 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1371/console

[2019-07-11 13:34] cmsbuild commented on #27498
The upload has started for slc7_amd64_gcc630 in cmsbuild95.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1372/console

[2019-07-11 13:34] cmsbuild commented on #27497
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_14_patch1-slc6_amd64_gcc630/1371

[2019-07-11 13:34] cmsbuild commented on #27498
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_14_UL_patch1-slc7_amd64_gcc630/1372

[2019-07-11 13:46] srimanob commented on #27453
Thanks All. I close this issue.

[2019-07-11 13:46] #27453 closed

[2019-07-11 13:49] Dr15Jones commented on #27491
This is only a guess. The problem is essentially a _one definition rule_ type violation. For such violation, the exact order in which a symbol is loaded into a job will dictate the behavior. So I'm guessing we just happen to load the shared libraries in a different order.

[2019-07-11 14:04] fabiocos commented on #27498
release-notes since CMSSW_9_4_14_UL

[2019-07-11 14:04] fabiocos commented on #27497
release-notes since CMSSW_9_4_14

[2019-07-11 14:04] cmsbuild commented on #27498
Generating release notes since CMSSW_9_4_14_UL.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-11 14:04] cmsbuild commented on #27498
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_14_UL_patch1 is now available for the following architectures:

slc7_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_14_UL can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_14_UL_patch1

Cheers,
cms-bot

You can also click <a href="mailto:

[2019-07-11 14:05] cmsbuild commented on #27497
Generating release notes since CMSSW_9_4_14.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-11 14:05] cmsbuild commented on #27497
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_14_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_14 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_14_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2019-07-11 14:06] cmsbuild commented on #27497
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_14_patch1

[2019-07-11 14:06] cmsbuild commented on #27498
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_14_UL_patch1

[2019-07-11 14:26] fabiocos commented on #27490
upload all

[2019-07-11 14:26] cmsbuild commented on #27490
Queing Jenkins upload for slc7_amd64_gcc700

[2019-07-11 14:26] cmsbuild commented on #27490
Queing Jenkins upload for slc7_amd64_gcc820

[2019-07-11 14:27] cmsbuild commented on #27490
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1373/console

[2019-07-11 14:27] cmsbuild commented on #27490
The upload has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1374/console

[2019-07-11 14:27] cmsbuild commented on #27490
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_1_patch2-slc7_amd64_gcc700/1373

[2019-07-11 14:27] cmsbuild commented on #27490
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_1_patch2-slc7_amd64_gcc820/1374

[2019-07-11 14:28] fabiocos commented on #27490
release-notes

[2019-07-11 14:29] cmsbuild commented on #27490
Generating release notes since CMSSW_10_6_1_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-11 14:29] cmsbuild commented on #27490
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_1_patch2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_1_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_1_patch2

Cheers,
cms-bot

You can also click

[2019-07-11 14:29] cmsbuild commented on #27490
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_1_patch2

[2019-07-11 16:04] fabiocos commented on #27417
the failing workflow has been removed by #27449 and the D41PU workflow now present is ProdLike, so no hgcalValidator. Anyway it was clear that there was an issue (that may be we might now miss...)

[2019-07-11 16:32] kpedro88 commented on #27417
The new workflow 20634.99 is in the IB tests and still suffers the same problem. We can test that workflow with the fix PR #27478.

[2019-07-11 23:14] slava77 opened #27504 "deepAK8 reproducibility problems after switching to openblas"
This was first noticed as a difference in cms-sw/cmsdist#5063
but since then changes are occasionally appearing in workflows that are not clearly related to the deepAK8 tagger inputs or code
- https://github.com/cms-sw/cmssw/pull/27488#issuecomment-510675758
- https://github.com/cms-sw/cmssw/pull/27428#issuecomment-510640346
- in https://github.com/cms-sw/cmssw/pull/27500#issuecomment-510678403
-

[2019-07-11 23:14] slava77 commented on #27504
assign reconstruction

[2019-07-11 23:14] cmsbuild commented on #27504
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-11 23:14] cmsbuild commented on #27504
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-11 23:14] slava77 commented on #25230
So, it looks like this regression is an indication of a random changes in the algorithm
also seen in https://github.com/cms-sw/cmssw/pull/27488#issuecomment-510675758 and https://github.com/cms-sw/cmssw/pull/27428#issuecomment-510640346

I created  #27504 to keep track of the problem

[2019-07-12 00:26] hqucms commented on #27504
@slava77 Are both `ref` and `new` using OpenBLAS in these cases? Or `ref` is before the OpenBLAS change?

[2019-07-12 00:35] hqucms commented on #27504
OK, I just figured out what `ref` is so I think both are using OpenBLAS. One question is, do the machines running the tests all support the same CPU instruction sets? We now build OpenBLAS with `DYNAMIC_ARCH=1` so different instructions may be used on a machine supporting e.g., AVX.

[2019-07-12 01:18] slava77 commented on #27504
I think that we are using some generic "intel", which are all most likely coming with AVX.

@smuzaffar please check/clarify.

[2019-07-12 01:50] hqucms commented on #27504
@slava77

I ran 136.7611 on two machines w/ and w/ AVX and indeed got different results -- looks like `ref` ran w/o AVX and `new` w/ AVX. The difference is at numerical precision level (~1e-7).

[2019-07-12 03:27] slava77 commented on #27504
What were the machine specs/flag lists for the two cases?

it sounds like we should update our lib dependencies to something stable.

[2019-07-12 07:37] smuzaffar commented on #27504
@slava77 , yes we are using Generic Intel cpus. It is not guaranteed that all of them will be support same instruction sets. Most of them have AVX2 but some with only AVX.
I think enabling DYNAMIC_ARCH=1 might cause issues specially if we run on grid node without the AVX.

[2019-07-12 11:36] slava77 commented on #27504
@smuzaffar
please remind me what is our default (and where is it set) for CMSSW.

I thought it was core2, but now I only find it in the tensorflow .spec

[2019-07-12 11:44] fabiocos commented on #27417
@kpedro88 yes, that wf is based on premix instead of classical mixing, but for the practical purpose of this test it behaves in the same way. Anyway using the ```--what upgrade``` selection I have made a private test with wf 20634.0 , and it shows that the time of the hgcalValidator is drastically reduced down to a few seconds:

[code]

[2019-07-12 12:00] smuzaffar commented on #27504
There is no one place to set it. Every spec file sets it. For tensorflow we are setting it to core2
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_0_X/gcc700/tensorflow-sources.spec#L29

but for openblas, we just set `DYNAMIC_ARCH=1`  which sets it based on the machine it build.

For CMSSW , we are setting it to -msse3 https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_0_X/gcc700/gcc-toolfile.

[2019-07-12 12:27] slava77 commented on #27504
@hqucms
please check if the speedup in openblas and a request to use it that eventually lead to this issue was a result of compilation flags.
Perhaps the easiest is to take openblas and recompile it with march=core2 or msse3 and compare to the default where you showed the large speedup.

[2019-07-12 13:25] fabiocos opened #27507 "Failure of wf 20434.1 after Phase2 relval updates"
After #27449 that has update the Phase2 relval sets in the matrix, test wf 20434.1 fails in a reproducible way. This is a D41 scenario workflow with the ```trackingOnly``` sequence, previously running in scenario D17, and it looks like the sequence is not yet adapted to the MTD inclusion:

[code]

[2019-07-12 13:25] cmsbuild commented on #27507
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-12 13:26] fabiocos commented on #27507
assign reconstruction,upgrade

[2019-07-12 13:26] cmsbuild commented on #27507
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-12 13:43] hqucms commented on #27504
@slava77
The 4-5x speed-up reported in https://github.com/cms-sw/cmssw/issues/25230#issuecomment-506422754 was using the previous OpenBLAS build in CMSSW, w/ `TARGET=PENRYN DYNAMIC_ARCH=0`. Enabling `DYNAMIC_ARCH` can further reduce the runtime of DeepAK8 by ~25% on machines w/ AVX/AVX2, as mentioned in https://github.com/cms-sw/cmssw/issues/25230#issuecomment-507617237.

I re-ran 136.7611 with th

[2019-07-12 14:19] slava77 commented on #27504
@hqucms
thank you for checking the static/fixed target performance.
I propose to switch to ```DYNAMIC_ARCH=0```.
IIUC, PENRYN is more advanced than core2/sse3 that we use in the remainder of the builds: it contains up to sse4.1.
To be consistent we should probably get it in core2/sse3 (at least until we centrally change the settings).

[2019-07-12 15:06] kpedro88 commented on #27507
attn: @makortel @JanFSchulte @mtosi @lgray @bendavid

[2019-07-12 17:33] hqucms commented on #27504
@slava77
I also tested `TARGET=CORE2 DYNAMIC_ARCH=0`. It seems to be a little bit slower but not much [0], so looks like we could use that.

A more general question is how strictly do we need to stick to such exact reproducibility -- the outputs of the DNNs are probably needed only up to 3 or 4 decimal points (certainly not as many as 6 or 7). On the other hand, the speed-up from exploiting more a

[2019-07-12 17:45] slava77 commented on #27504
I think that we can not tolerate bitwise non-reproducibility at the incremental validation step (PR tests).

If bitwise reproducibility can be maintained with different architecture builds, then the dynamic choice is trivially acceptable.
Do you understand why do we get the differences? Is e.g. the order of operands changing in the floating point math? Are the relevant/available flags used in comp

[2019-07-12 18:27] slava77 commented on #26913
@nickmccoll @jshlee please update on the status of checking/applying the fix in ME0SegAlgoRU.cc is .
Thank you.

[2019-07-12 18:28] slava77 commented on #26913
assign reconstruction

[2019-07-12 18:28] cmsbuild commented on #26913
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-12 18:37] jshlee commented on #26913
@slava77 - will update now

[2019-07-12 21:33] hqucms commented on #27504
@slava77

So do you mean something like one build for architectures supporting newer instructions like AVX and AVX2, and another one not supporting them? Then I think within each of them bitwise reproducibility will be preserved -- the difference we have seen happens only when comparing across them.

In BLAS libraries the kernels are often written in assembly using different implementations for di

[2019-07-12 21:44] slava77 commented on #27504
On 7/12/19 2:33 PM, Huilin Qu wrote:

AVX is probably available on most.

i don't know detailed stats.
my response was on a general perspective of cmssw development with alt
arches.
the present state requires a fixed best available common set (sse3 or
core2) .

[2019-07-12 21:53] hqucms commented on #27504
@slava77

OK -- so then for the specific problem with OpenBLAS, the solution would be to build it with `TARGET=CORE2 DYNAMIC_ARCH=0` I suppose?

[2019-07-12 21:57] slava77 commented on #27504
On 7/12/19 2:53 PM, Huilin Qu wrote:

yes
at least atm

[2019-07-12 22:06] hqucms commented on #27504
@slava77
OK, I made the changes in https://github.com/cms-sw/cmsdist/pull/5091.

[2019-07-13 07:08] cmsbuild commented on #27489
The cleanup has started for slc6_amd64_gcc481

[2019-07-13 07:08] #27489 closed

[2019-07-13 07:11] cmsbuild commented on #27489
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_42_patch1-slc6_amd64_gcc481/1389

[2019-07-13 12:08] cmsbuild commented on #27497
The cleanup has started for slc6_amd64_gcc630

[2019-07-13 12:08] #27497 closed

[2019-07-13 12:08] cmsbuild commented on #27498
The cleanup has started for slc7_amd64_gcc630

[2019-07-13 12:08] #27498 closed

[2019-07-13 12:12] cmsbuild commented on #27498
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_14_UL_patch1-slc7_amd64_gcc630/1390

[2019-07-13 12:13] cmsbuild commented on #27497
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_14_patch1-slc6_amd64_gcc630/1391

[2019-07-13 12:38] cmsbuild commented on #27490
The cleanup has started for slc7_amd64_gcc700

[2019-07-13 12:38] cmsbuild commented on #27490
The cleanup has started for slc7_amd64_gcc820

[2019-07-13 12:38] #27490 closed

[2019-07-13 12:40] cmsbuild commented on #27490
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_1_patch2-slc7_amd64_gcc820/1393

[2019-07-13 12:41] Dr15Jones commented on #27451
@civanch please sign this issue as the problem has been fixed.

[2019-07-13 12:42] cmsbuild commented on #27490
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_1_patch2-slc7_amd64_gcc700/1392

[2019-07-13 12:47] Dr15Jones opened #27514 "Memory over read in HGCalGeomTools::radius"
The Address Sanitizer has found that HGCalGeomTools::radius is reading beyond the ends of memory region of a container. The exact problem is here:

https://github.com/cms-sw/cmssw/blob/44d504fe304526fc5bce2b42416d3a5d58fb0fb5/Geometry/HGCalCommonData/src/HGCalGeomTools.cc#L133

The problem is `zFront[ik + 1]` for the case that ik is the index to the last element of the container. then `ik+1` is be

[2019-07-13 12:47] Dr15Jones commented on #27514
assign geometry

[2019-07-13 12:47] cmsbuild commented on #27514
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-13 12:48] cmsbuild commented on #27514
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-13 12:50] Dr15Jones commented on #27514
@bsunanda  FYI

[2019-07-13 12:59] civanch commented on #27451
+1

[2019-07-13 13:00] cmsbuild commented on #27451
This issue is fully signed and ready to be closed.

[2019-07-13 13:01] civanch commented on #17802
+1

[2019-07-13 13:01] cmsbuild commented on #17802
This issue is fully signed and ready to be closed.

[2019-07-13 13:02] #27451 closed

[2019-07-13 13:04] #17802 closed

[2019-07-14 14:43] fabiocos commented on #27504
@slava77 @hqucms thank you, I agree with Slava that we should avoid architecture-dependent non reproducibility as much as possible, especially until when the gain looks relatively limited (especiall in comparison with the original version of blas)

[2019-07-14 21:33] fabiocos commented on #27507
The sequence reconstruction_trackingOnly is based on globalreco_tracking https://cmssdt.cern.ch/lxr/source/Configuration/StandardSequences/python/Reconstruction_cff.py#0106 which does not include the module trackExtenderWithMTD, added at the end of globalreco as fastTimingGlobalReco
[code]

[2019-07-14 22:02] fabiocos commented on #27507
the addition of
[code]
to Reconstruction_cff.py seems to be enough to prevent the failure

[2019-07-15 05:50] mtosi commented on #27507
thanks !

[2019-07-15 15:50] cvuosalo commented on #27514
@Dr15Jones: Wouldn't the correct logic be:
[code]
Or am I missing something?

[2019-07-15 16:00] Dr15Jones commented on #27514
@cvuosalo My code was wrong, yours is correct. What I had meant to write was
[code]

[2019-07-15 16:49] bsunanda commented on #27514
@Dr15Jones @cvuosalo Adding a fix in the next PR

[2019-07-15 18:49] Dr15Jones opened #27523 "Dereferencing nullptr in PFClusterProducer"
Using CMSSW_11_0_UBSAN_X_2019-07-12-2300, recompiling select code with `-O0 -g`, running step3 of workflow 134.804 , and breaking on UBSAN reports we get

[code]

With the UBSAN message
[code]

Where the code in question is
    DataFormats/ParticleFlowReco/interface/PFRecHit.h:129
[code]
with `neighbours_` being an empty vector.

The full contents of the PFRecHit is
[code]

[2019-07-15 18:50] cmsbuild commented on #27523
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-15 18:52] Dr15Jones commented on #27523
Given the call to `buildNeighbours` is passed `n==0`, a simple solution could be to change the function to be
[code]

[2019-07-15 18:52] Dr15Jones commented on #27523
assign reconstruction

[2019-07-15 18:52] cmsbuild commented on #27523
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-15 19:57] kpedro88 commented on #27507
Will someone open a PR with the suggestion from @fabiocos? I can also do it, but don't want to duplicate effort

[2019-07-15 22:29] christopheralanwest commented on #27393
@davidlange6 Could you clarify if the ability to run digi+reco without frontier is expected to be supported absolutely? This isn't a normal use case. If a compute node does not have the connectivity required to communicate with frontier via a squid, how would data get in or out of the site? Is the requirement to be able to run in this way needed to support open data efforts?

In the case of HLT, E

[2019-07-16 07:09] mmusich commented on #27393
@christopheralanwest

just as a clarification, also #27517 is based on the same append-payload mechanism as #27516, only it does it in a different way not passing from an additional `ESSource` (it uses the one of the Global Tag).
In any case AlCa would not be asked to maintain five different global tags in either of the two options, we can just agree that we (Tracker) manage that part of the condi

[2019-07-16 08:09] perrotta commented on #27507
Kevin Pedro <notifications@github.com> ha scritto:

Please do.
Thank you Kevin!

[2019-07-16 08:32] fabiocos opened #27528 "DQM merge failure in CMSSW_11_0_0_pre3"
The PdmV team reports a massive failure of the validation in CMSSW_11_0_0_pre3 in the DQMIO merge step, with errors like:
[code]
seen for instance in

https://cms-unified.web.cern.ch/cms-unified/report/muahmad_RVCMSSW_11_0_0_pre3Higgs200ChargedTaus_13_190711_065022_9820

or

https://cms-unified.web.cern.ch/cms-unified/report/chayanit_RVCMSSW_11_0_0_pre3RunCharmonium2018D__RelVal_2018D_190710_08303

[2019-07-16 08:33] cmsbuild commented on #27528
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-16 08:33] fabiocos commented on #27528
assign dqm

for the problem itself

[2019-07-16 08:33] cmsbuild commented on #27528
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-16 08:33] fabiocos commented on #27528
assign pdmv

for the extension of release tests

[2019-07-16 08:34] cmsbuild commented on #27528
New categories assigned: pdmv

@pgunnell,@prebello,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-16 08:35] fabiocos commented on #27528
@jfernan2 this looks the continuation of #26727 . I will close that, keeping here there reference to it

[2019-07-16 08:35] fabiocos commented on #26727
The problem will be followed in #27528 , as it appears again

[2019-07-16 08:35] #26727 closed

[2019-07-16 09:25] davidlange6 commented on #27393
hi @christopheralanwest

I think you have several topics

0) is sqlite a good solution for data taking operations? no.. for the reasons you state. (and others)

1) should alcadb continue to support sqlite access to conditions? There are use cases like opendata, testing applications in self contained environment and developers testing conditions updates.

2) should a global tag contain all of the d

[2019-07-16 11:15] fabiocos commented on #27528
repeating the test with wf 136.85 in the recent IB, using the addition by @Dr15Jones #27473 👍
[code]

[2019-07-16 11:23] fabiocos commented on #27528
This histogram appears to be added in #27330 by @hbecerri in https://github.com/cms-sw/cmssw/blame/master/DQM/TrackingMonitor/interface/TrackAnalyzer.h#L405 , defined in https://github.com/cms-sw/cmssw/blob/master/DQM/TrackingMonitor/src/TrackAnalyzer.cc#L863

[2019-07-16 11:25] fabiocos commented on #27528
I wonder whether the problem is not caused by https://github.com/cms-sw/cmssw/blob/master/DQM/TrackingMonitor/src/TrackAnalyzer.cc#L866 where the axis range is dynamically extended

[2019-07-16 11:52] fabiocos commented on #27528
indeed, removing all the instances of SetCanExtend from that module let the test with 136.85 split in two to complete without any crash

[2019-07-16 11:58] fabiocos commented on #27528
I see that this method is used in many places, and just one instance has been added by @hbecerri in #27330 (the one that has caused the failure). I wonder whether the others are all innocent...

[2019-07-16 13:12] jfernan2 commented on #27528
@fabiocos I reached the same conclusion...but indeed SetCanExtend is used 190 times across CMSSW, so something else must be in the code from  #27330 I believe
Should I create a PR commenting this instances in Tracker until the real solution to the problem is found?

[2019-07-16 13:13] jfernan2 commented on #27528
Oh sorry, I see you already created it...git hub had not refreshed the status.
Thanks

[2019-07-16 13:25] fioriNTU commented on #27528
@fabiocos @jfernan2 @mtosi @schneiml just to add a comment, the Tracker i believe is the main user of the SetCanExtend flag, there the use case is to have time profiles defined with a definite bin number but with the maximum value that get adjusted automatically in the case the run gets too long. I have used privately this functionality for years, and I can assure that the CanExtend+hadd usually d

[2019-07-16 13:36] Dr15Jones commented on #27528
@fioriNTU

The exception is from CMSSW, not from ROOT. In CMSSW we 'trap' ROOT Error and Warning messages and turn them into exceptions. This is because way to many of the ROOT messages are actually fatal but we do not discover the problems until way too late (e.g. missing dictionaries are just a warning message but cause data to not be stored). This is done here

https://github.com/cms-sw/cmssw/b

[2019-07-16 15:32] Dr15Jones opened #27533 "Undefined behavior in SiPixelGainCalibrationOffline"
The UBSAN IB is reporting the following problem
[code]

The problem is here
https://github.com/cms-sw/cmssw/blob/74becf9d33ac741b0e4d92b292b1d6cf61619d47/CondFormats/SiPixelObjects/src/SiPixelGainCalibrationOffline.cc#L196

where a C style cast is being used. The DecodingStructure class is required to be memory aligned to a 4 byte boundary since it contains an unsigned int
https://github.com/cms-s

[2019-07-16 15:32] Dr15Jones commented on #27533
assign reconstruction, alca

[2019-07-16 15:32] cmsbuild commented on #27533
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-16 15:33] cmsbuild commented on #27533
New categories assigned: reconstruction,alca

@slava77,@christopheralanwest,@franzoni,@tlampen,@pohsun,@perrotta,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-16 17:28] kpedro88 commented on #27393
I think using labels is the only way we'll ever be able to build up a complete Phase 2 GT before installation actually occurs.

[2019-07-16 17:34] davidlange6 commented on #27393
i can think of at least one other... but anyway, its >0 options that don't require multiple gts....

[2019-07-17 05:26] fabiocos opened #27539 "Build CMSSW_10_6_1_patch3"

[2019-07-17 05:27] cmsbuild commented on #27539
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-17 05:28] fabiocos commented on #27539
+1

[2019-07-17 05:28] cmsbuild commented on #27539
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_1_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-07-17 05:28] cmsbuild commented on #27539
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-07-17 05:30] cmsbuild commented on #27539
The build has started for slc7_amd64_gcc700 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2095/console
CMSDIST Branch: [REL/CMSSW_10_6_1/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_1/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-17 05:30] cmsbuild commented on #27539
The build has started for slc7_amd64_gcc820 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2096/console
CMSDIST Branch: [REL/CMSSW_10_6_1/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_1/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-17 06:14] cmsbuild commented on #27539
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch3-slc7_amd64_gcc820/2096
Some t

[2019-07-17 06:17] cmsbuild commented on #27539
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch3-slc7_amd64_gcc700/2095
Some t

[2019-07-17 08:07] cmsbuild commented on #27539
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch3-slc7_amd64_gcc700/2095

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-17 08:14] cmsbuild commented on #27539
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch3-slc7_amd64_gcc820/2096

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-17 08:20] fabiocos commented on #27539
upload all

[2019-07-17 08:20] cmsbuild commented on #27539
Queing Jenkins upload for slc7_amd64_gcc700

[2019-07-17 08:20] cmsbuild commented on #27539
Queing Jenkins upload for slc7_amd64_gcc820

[2019-07-17 08:23] cmsbuild commented on #27539
The upload has started for slc7_amd64_gcc700 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1375/console

[2019-07-17 08:23] cmsbuild commented on #27539
The upload has started for slc7_amd64_gcc820 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1376/console

[2019-07-17 08:23] cmsbuild commented on #27539
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_1_patch3-slc7_amd64_gcc700/1375

[2019-07-17 08:23] cmsbuild commented on #27539
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_1_patch3-slc7_amd64_gcc820/1376

[2019-07-17 08:24] fabiocos commented on #27539
release-notes

[2019-07-17 08:24] cmsbuild commented on #27539
Generating release notes since CMSSW_10_6_1_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-17 08:24] cmsbuild commented on #27539
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_1_patch3 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_1_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_1_patch3

Cheers,
cms-bot

You can also click

[2019-07-17 08:26] cmsbuild commented on #27539
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_1_patch3

[2019-07-17 15:32] Dr15Jones opened #27541 "Problem with FromTrackerSeeds parameter in ElectronSeedProducer"
While looking at the workflow 134.804 step 3 in the UBSAN IB, it found that a nullptr was being dereferenced here

https://github.com/cms-sw/cmssw/blob/3bde531d2713e0745e278e0ccfec03891051be35/RecoEgamma/EgammaElectronAlgos/src/PixelHitMatcher.cc#L73

the variable with the nullptr was `theTracker`.

That value is set here
https://github.com/cms-sw/cmssw/blob/3bde531d2713e0745e278e0ccfec03891051be3

[2019-07-17 15:34] Dr15Jones commented on #27541
In gdb I captured the traceback for the UBSAN report
[code]

The actual error message from UBSAN is
[code]

[2019-07-17 15:34] Dr15Jones commented on #27541
assign reconstruction

[2019-07-17 15:35] cmsbuild commented on #27541
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-17 15:35] cmsbuild commented on #27541
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-17 16:19] Dr15Jones commented on #27523
See #27544

[2019-07-18 11:26] fabiocos commented on #27528
#27535 solves this issue (tested with the workflow 136.85 split into two parts)

[2019-07-18 11:26] fabiocos commented on #27528
as closing remark I think we need to extend test 137.8 so as to probe also DQMIo file merge (althouhg it would not detect this specific problem)

[2019-07-18 11:26] #27528 closed

[2019-07-18 13:56] kpedro88 commented on #27417
+upgrade

[2019-07-18 14:11] fabiocos commented on #27417
The problem looks to have been finally solved by #27478

[2019-07-18 14:11] #27417 closed

[2019-07-18 15:34] Dr15Jones opened #27553 "Bad cast in PFEGammaProducer"
When running workflow 134.804 step3 under CMSSW_11_0_UBSAN_X_2019-07-12-2300 we get the error

[code]

[2019-07-18 15:35] cmsbuild commented on #27553
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-18 15:39] Dr15Jones commented on #27553
When run under the debugger, the message comes from here
[code]

with the relevant bit of code being
https://github.com/cms-sw/cmssw/blob/master/RecoParticleFlow/PFProducer/src/PFEGammaAlgo.cc#L99-L105

[2019-07-18 15:39] Dr15Jones commented on #27553
assign reconstruction

[2019-07-18 15:42] cmsbuild commented on #27553
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-18 15:47] perrotta commented on #27553
@hatakeyamak @bendavid

[2019-07-18 15:49] Dr15Jones opened #27554 "integer overflow in L1TGMT"
When running workflow 134.804 step 3 in the UBSAN IB there is the error

[code]

which corresponds to
https://github.com/cms-sw/cmssw/blob/61ad0a34a8c61a073d9240fb9f111625ef561b8b/DQM/L1TMonitor/src/L1TGMT.cc#L205

[2019-07-18 15:50] Dr15Jones commented on #27554
assign l1

[2019-07-18 15:50] cmsbuild commented on #27554
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-18 15:50] cmsbuild commented on #27554
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-18 16:26] fabiocos opened #27556 "Build CMSSW_11_0_0_pre4"

[2019-07-18 16:27] cmsbuild commented on #27556
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-18 16:27] fabiocos commented on #27556
build cmssw-tool-conf

[2019-07-18 16:27] cmsbuild commented on #27556
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-07-18 16:29] cmsbuild commented on #27556
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2097/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-18 16:34] cmsbuild commented on #27556
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2098/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-18 16:43] cmsbuild commented on #27556
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2099/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-18 16:52] cmsbuild commented on #27556
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2100/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-18 17:09] hatakeyamak commented on #22582
https://github.com/cms-sw/cmssw/pull/27131
should have addressed this, which is merged in CMSSW_11_0_0_preX.

[2019-07-18 18:14] kpedro88 commented on #22582
@hatakeyamak thanks! To make sure I'm clear, your PR does two separate things:
1. reduces the warning messages from PF
2. allows (but does not enable) propagation to HF
Is that correct?

[2019-07-18 18:18] hatakeyamak commented on #22582
Yes, for 1.

For 2, now we can get extrapolation of tracks to HF surface, but we are not enabling links of tracks and HF clusters yet. Such PR is still in progress. Stay tuned.

[2019-07-18 18:19] kpedro88 commented on #22582
+upgrade

[2019-07-18 18:26] kpedro88 commented on #16914
@hatakeyamak can you add this to the list of things to check for PF?

[2019-07-18 18:56] hatakeyamak commented on #16914
OK. Will try with @bendavid

[2019-07-18 20:31] cmsbuild commented on #27556
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_aarch64_gcc700/2097

[2019-07-18 21:15] cmsbuild commented on #27556
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc900/2100

[2019-07-18 22:16] cmsbuild commented on #27556
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc700/2098

[2019-07-18 23:45] cmsbuild commented on #27556
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc820/2099

[2019-07-19 06:38] cmsbuild commented on #27539
The cleanup has started for slc7_amd64_gcc700

[2019-07-19 06:38] cmsbuild commented on #27539
The cleanup has started for slc7_amd64_gcc820

[2019-07-19 06:44] cmsbuild commented on #27539
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_1_patch3-slc7_amd64_gcc820/1395

[2019-07-19 06:45] cmsbuild commented on #27539
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_1_patch3-slc7_amd64_gcc700/1394

[2019-07-19 07:21] fabiocos commented on #27556
+1

[2019-07-19 07:21] cmsbuild commented on #27556
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-07-19 07:21] cmsbuild commented on #27556
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2019-07-19 07:22] cmsbuild commented on #27556
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2101/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-19 07:25] cmsbuild commented on #27556
The build has started for slc7_amd64_gcc700 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2102/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-19 07:26] cmsbuild commented on #27556
The build has started for slc7_amd64_gcc820 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2103/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-19 07:33] cmsbuild commented on #27556
The build has started for slc7_amd64_gcc900 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2104/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-19 09:21] cmsbuild commented on #27556
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_aarch64_gcc700/2101
Some

[2019-07-19 11:49] cmsbuild commented on #27556
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc820/2103
Some tes

[2019-07-19 11:57] cmsbuild commented on #27556
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc900/2104
Some tes

[2019-07-19 12:08] slava77 opened #27563 "future workflows naming schema"
until we get an crystal ball working from first principles, perhaps it's better to adopt Run[345][A-D] naming schema for the future workflows.
The digit/number is well established from https://lhc-commissioning.web.cern.ch/lhc-commissioning/schedule/images/schedule-to-2038.png
The letter index will correspond to different stages or even to calendar years.

@kpedro88 @fabiocos @boudoul

[2019-07-19 12:09] cmsbuild commented on #27563
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-19 12:29] cmsbuild commented on #27556
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_aarch64_gcc700/2101

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-19 13:38] kpedro88 commented on #27563
@slava77 this would have been a much more useful suggestion before #27488 was prepared and merged.

[2019-07-19 13:48] cmsbuild commented on #27556
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc700/2102
Some tes

[2019-07-19 13:50] cmsbuild commented on #27556
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc820/2103

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-19 13:57] cmsbuild commented on #27556
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc900/2104

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-19 14:13] slava77 commented on #27563
is the 2-day history of #27488 so significant that it's worth continuing with the numbering schema which is likely to change in a year or so?

[2019-07-19 14:17] kpedro88 commented on #27563
That PR involved significant planning and coordination. It was scheduled just after the cleanup when the number of phase 2 workflows were at a minimum. Now development is continuing, with new workflows being added, etc. I would rather not pause the development again so soon.

As long as Run 3 does not somehow extend an extra 3 years, the 2026 number should not need to be changed until we actually

[2019-07-19 14:29] Dr15Jones opened #27566 "Too large bit shift in EcalFenixTcpFgvbEE"
When running workflow 134.804 for step 3 using CMSSW_11_0_UBSAN_X_2019-07-12-2300 we get the error from UBSAN

[code]

[2019-07-19 14:29] cmsbuild commented on #27566
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-19 14:31] Dr15Jones commented on #27566
assign simulation

[2019-07-19 14:32] cmsbuild commented on #27566
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-19 14:45] kpedro88 commented on #27507
+upgrade

[2019-07-19 15:49] cmsbuild commented on #27556
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc700/2102

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-19 16:03] fabiocos commented on #27556
upload all

[2019-07-19 16:03] cmsbuild commented on #27556
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-07-19 16:03] cmsbuild commented on #27556
Queing Jenkins upload for slc7_amd64_gcc700

[2019-07-19 16:03] cmsbuild commented on #27556
Queing Jenkins upload for slc7_amd64_gcc820

[2019-07-19 16:03] cmsbuild commented on #27556
Queing Jenkins upload for slc7_amd64_gcc900

[2019-07-19 16:04] cmsbuild commented on #27556
The upload has started for slc7_amd64_gcc700 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1378/console

[2019-07-19 16:04] cmsbuild commented on #27556
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1377/console

[2019-07-19 16:05] cmsbuild commented on #27556
The upload has started for slc7_amd64_gcc820 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1379/console

[2019-07-19 16:05] cmsbuild commented on #27556
The upload has started for slc7_amd64_gcc900 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1380/console

[2019-07-19 16:05] cmsbuild commented on #27556
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre4-slc7_aarch64_gcc700/1377

[2019-07-19 16:06] cmsbuild commented on #27556
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc900/1380

[2019-07-19 16:06] cmsbuild commented on #27556
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc700/1378

[2019-07-19 16:07] cmsbuild commented on #27556
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre4-slc7_amd64_gcc820/1379

[2019-07-19 16:09] fabiocos commented on #27556
release-notes

[2019-07-19 16:09] cmsbuild commented on #27556
Generating release notes since CMSSW_11_0_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-19 16:09] cmsbuild commented on #27556
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre4 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre4

Cheers,
cms-bot

You can also

[2019-07-19 18:17] slava77 commented on #27556
it's just over two hours since that message but he release is still not available on cvmfs.
How long does it usually take?

[2019-07-19 20:08] fabiocos commented on #27556
@slava77 at the beginning of the week @mrodozov already observed  that the cvmfs upload was taking quite a long time

[2019-07-19 20:17] slava77 commented on #27556
is 4 hours (as now) long,
or is it more like 12-24 hrs long?

[2019-07-20 00:34] slava77 commented on #27556
it finally showed up around midnight CERN time.

[2019-07-20 08:03] fabiocos commented on #27556
as far as I can see in cvmfs:
[code]

We need to understand how to improve this

[2019-07-20 11:37] mrodozov commented on #27556
After some searching whats happening I remember we are not using the hook that starts to deploy the release right after its uploaded. There is a cron job that is doing it instead of jenkins, this plus the time from publish to being available on cvmfs might take that long. The reason why we are not using it is that we wanted to cover all the deploys this crontab takes care of
https://github.com/boc

[2019-07-20 15:17] Dr15Jones commented on #27514
A different radius method is having the same sort of problem
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_11_0_ASAN_X_2019-07-19-2300/pyRelValMatrixLogs/run/20434.0_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2026D41_GenSimHLBeamSpotFull14INPUT+DigiFullTrigger_2026D41+RecoFullGlobal_2026D41+HARVESTFullGlobal_2026D41/step2_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2026D41_GenSimHLBeamSp

[2019-07-20 16:29] Dr15Jones commented on #27514
The new problem is
https://github.com/cms-sw/cmssw/blob/8ca5ef6c74ee954287c5352dd8ad84abe2c0adaf/Geometry/HGCalCommonData/src/HGCalGeomTools.cc#L26

where zf1 is an iterator to the last element. So `*(zf1+1)` is dereferencing off the end.

The debugger has
[code]
with the arguments being
[code]

going up the stack, the call is
[code]
with the arguments being
[code]

[2019-07-20 17:17] fabiocos commented on #27556
@mrodozov thank you for the clarification, this makes more clear the reason for the large delay. Usually I send the announcement after the upload, but I can start to wait the effective presence of the release in cvmfs before sending the mail. This will reduce the questions by people, of course will not address the problem of taking so long. If there is an alternative solution that may be put in pl

[2019-07-21 00:34] bsunanda commented on #27514
I am trying to address this in PR #27557

[2019-07-21 14:24] cmsbuild commented on #27556
The cleanup has started for slc7_aarch64_gcc700

[2019-07-21 14:24] cmsbuild commented on #27556
The cleanup has started for slc7_amd64_gcc700

[2019-07-21 14:24] cmsbuild commented on #27556
The cleanup has started for slc7_amd64_gcc820

[2019-07-21 14:24] cmsbuild commented on #27556
The cleanup has started for slc7_amd64_gcc900

[2019-07-21 14:24] #27556 closed

[2019-07-21 14:25] cmsbuild commented on #27556
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre4-slc7_aarch64_gcc700/1396

[2019-07-21 14:29] cmsbuild commented on #27556
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre4-slc7_amd64_gcc700/1397

[2019-07-21 14:29] cmsbuild commented on #27556
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre4-slc7_amd64_gcc820/1398

[2019-07-21 14:33] cmsbuild commented on #27556
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre4-slc7_amd64_gcc900/1399

[2019-07-21 14:34] cmsbuild commented on #27556
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre4-slc7_amd64_gcc700/1400

[2019-07-21 14:40] cmsbuild commented on #27556
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre4-slc7_amd64_gcc820/1401

[2019-07-21 14:43] cmsbuild commented on #27556
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre4-slc7_amd64_gcc900/1402

[2019-07-21 18:49] fabiocos opened #27578 "Build CMSSW_10_2_16"
ARCHITECTURE:slc6_amd64_gcc630

[2019-07-21 18:50] cmsbuild commented on #27578
No architecures to build found for CMSSW_10_2_16. Please check that you entered a valid release name or that the IBs are currently enabled for CMSSW_10_2_X

[2019-07-21 18:51] #27578 closed

[2019-07-21 18:51] fabiocos opened #27579 "Build CMSSW_10_2_16_UL"
ARCHITECTURE:slc7_amd64_gcc700

[2019-07-21 18:51] cmsbuild commented on #27579
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-21 18:52] fabiocos opened #27580 "Build CMSSW_10_2_16"
ARCHITECTURE:slc6_amd64_gcc700

[2019-07-21 18:52] cmsbuild commented on #27580
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-21 18:52] fabiocos commented on #27580
+1

[2019-07-21 18:53] cmsbuild commented on #27580
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-07-21 18:53] cmsbuild commented on #27580
Queuing Jenkins build for the following architectures: slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-07-21 18:53] cmsbuild commented on #27580
The build has started for slc6_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2105/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-21 18:56] fabiocos commented on #27579
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc700

[2019-07-22 02:48] cmsbuild commented on #27580
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16-slc6_amd64_gcc700/2105
Some tests (

[2019-07-22 04:45] cmsbuild commented on #27580
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16-slc6_amd64_gcc700/2105

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-22 08:46] perrotta commented on #27507
+1
- Apparently solved by #27529

[2019-07-22 08:46] cmsbuild commented on #27507
This issue is fully signed and ready to be closed.

[2019-07-22 09:35] #27579 closed

[2019-07-22 09:36] fabiocos opened #27581 "Build CMSSW_10_2_16_UL"
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc700

[2019-07-22 09:37] cmsbuild commented on #27581
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-22 09:44] fabiocos commented on #27581
+1

[2019-07-22 09:45] cmsbuild commented on #27581
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_UL. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-07-22 09:45] cmsbuild commented on #27581
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-07-22 09:46] cmsbuild commented on #27581
The build has started for slc7_amd64_gcc700 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2106/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-22 11:43] fabiocos commented on #27580
upload all

[2019-07-22 11:44] cmsbuild commented on #27580
Queing Jenkins upload for slc6_amd64_gcc700

[2019-07-22 11:46] cmsbuild commented on #27580
The upload has started for slc6_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1381/console

[2019-07-22 11:53] cmsbuild commented on #27580
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_16-slc6_amd64_gcc700/1381

[2019-07-22 12:56] cmsbuild commented on #27581
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_UL-slc7_amd64_gcc700/2106
Some test

[2019-07-22 13:36] fabiocos commented on #27580
release-notes

[2019-07-22 13:36] cmsbuild commented on #27580
Generating release notes since CMSSW_10_2_15_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-22 13:36] cmsbuild commented on #27580
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_16 is now available for the following architectures:

slc6_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_2_15_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_16

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@

[2019-07-22 13:37] cmsbuild commented on #27580
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16

[2019-07-22 14:33] cmsbuild commented on #27581
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_UL-slc7_amd64_gcc700/2106

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-22 14:35] fabiocos commented on #27581
upload all

[2019-07-22 14:36] cmsbuild commented on #27581
Queing Jenkins upload for slc7_amd64_gcc700

[2019-07-22 14:38] cmsbuild commented on #27581
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_16_UL-slc7_amd64_gcc700/1382

[2019-07-22 14:39] fabiocos commented on #27581
release-notes since CMSSW_10_2_15_patch2

[2019-07-22 14:39] cmsbuild commented on #27581
Generating release notes since CMSSW_10_2_15_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-22 14:39] cmsbuild commented on #27581
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_16_UL is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_2_15_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_16_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnn

[2019-07-22 14:40] cmsbuild commented on #27581
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_UL

[2019-07-22 14:57] #27507 closed

[2019-07-22 18:05] fabiocos commented on #27581
@smuzaffar for instance also this build is not yet on cvmfs after 3 hours from the upload...

[2019-07-23 21:51] perrotta commented on #27523
+1
- Fixed by #27544

[2019-07-23 21:52] cmsbuild commented on #27523
This issue is fully signed and ready to be closed.

[2019-07-24 11:38] cmsbuild commented on #27580
The cleanup has started for slc6_amd64_gcc700

[2019-07-24 11:38] #27580 closed

[2019-07-24 11:52] cmsbuild commented on #27580
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_16-slc6_amd64_gcc700/1403

[2019-07-24 12:53] cmsbuild commented on #27581
The cleanup has started for slc7_amd64_gcc700

[2019-07-24 12:53] #27581 closed

[2019-07-24 13:01] cmsbuild commented on #27581
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_16_UL-slc7_amd64_gcc700/1404

[2019-07-24 17:21] mundim opened #27599 "add "data" files to the data repository for PPS simulation"
Hello

PPS simulation needs a data dir to be added in the repository. It is located at:
/eos/home-m/mundim

with name (and path)

SimPPS/PPSPixelDigiProducer/data

The related code is under review in the ongoing PR number 27559.

Thanks

[2019-07-24 17:21] cmsbuild commented on #27599
A new Issue was created by  @mundim .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-26 12:43] smuzaffar commented on #27599
@mundim , data repository https://github.com/cms-data/SimPPS-PPSPixelDigiProducer now exists. Please make a PR there for your data files.

[2019-07-26 12:43] #27599 closed

[2019-07-26 13:35] mundim commented on #27599
@smuzaffar, git says I don't have privileges to push.

[2019-07-26 13:38] davidlange6 commented on #27599
Right - you need to make a pull request instead (as is the case for all the cms-sw repositories)

[2019-07-26 13:45] mundim commented on #27599
Don't I have to add the data files first? Or just an initial PR? thanks.

[2019-07-26 13:47] mundim commented on #27599
Another doubt: it is not clear what would be the path for the data files, should I add the files in the top level or create the desired path? thxs.

[2019-07-26 13:53] kpedro88 commented on #27599
Files should go in the top level.

The procedure to add the files is:
1. make a fork of the repository
2. clone your fork locally
3. add the files, commit, push
4. send a PR to the upstream repo from your branch in your fork

[2019-07-26 14:10] mundim commented on #27599
Done. Thank you very much.

[2019-07-27 14:12] christopheralanwest commented on #27393
First of all, tau experts have queued their tags to 11_0_X queues so that these tags can be included in global tags. Tests to ensure that obtaining the tags from the global tag gives equivalent results to the current method are underway.

One issue that hasn't been discussed here is maintainability by AlCa. AlCa currently actively maintains 35 different global tag queues and most of the tasks for

[2019-07-29 14:02] rappoccio commented on #27374
I'm sorry for the delay here, I've been traveling. This is coming from AOD (and is present in CaloJets). If I look at `root://cmsxrootd.fnal.gov//store/data/Run2017E/DoubleEG/AOD/17Nov2017-v1/40000/74C22A1F-95D3-E711-AB20-02163E019CB1.root` I see 30 TeV `CaloJets`:

[code]

This gets propagated to 80 TeV jets in PF:

[code]

[2019-07-29 14:06] rappoccio commented on #27374
@perrotta @slava77 we're probably going to need HCAL experts to take a look at this.

[2019-07-29 14:21] slava77 commented on #27374
@rappoccio
do you happen to know how this 80TeV becomes a NaN downstream?

[2019-07-29 16:21] rappoccio commented on #27374
In MiniAOD the PFJets (both CHS and Puppi) correctly handle this as "80 TeV", and so do the soft dropped subjets.

It seems like the packing of the PFCandidates is the culprit, since the PF candidates at AOD level are fine but then in MINIAOD I get:

[code]

[2019-07-29 16:26] rappoccio commented on #27374
@gpetruc Any ideas on how to fix this? I think this is the culprit line:

https://github.com/cms-sw/cmssw/blob/master/DataFormats/PatCandidates/src/PackedCandidate.cc#L14

[code]

[2019-07-29 16:51] slava77 commented on #27374
we could probably truncate this to some large number.
```MiniFloatConverter::max()``` returns 65504.f. A truncation seems practical.

[2019-07-30 20:24] slava77 opened #27648 "migrate EcalDeadChannelRecoveryBDTG to GBRForest"
This is a follow up to  #27175.
The reason to move to GBRForest is to reduce the memory and CPU footprint as well as achieve proper thread safety.

The agreement with @nancymarinelli and @taroni was that this migration can be postponed until the successful validation of the BDT-based ECAL dead channel recovery (initially with TMVA).

[2019-07-30 20:24] slava77 commented on #27648
assign reconstruction

[2019-07-30 20:25] cmsbuild commented on #27648
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-30 20:25] cmsbuild commented on #27648
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-31 00:26] hatakeyamak commented on #17529
It looks to me that it's not used at all. I am preparing a PR to remote it.

[2019-07-31 06:12] ianna opened #27652 "Use of _ as a first character"
violates naming rule 2.14 and also gives false positive indexing:
https://cmssdt.cern.ch/lxr/ident?v=CMSSW_11_0_X_2019-07-30-2300&_i=_m&_remember=1

[2019-07-31 06:12] cmsbuild commented on #27652
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-31 10:28] barriap opened #27654 "problems with git cms-init"
Hi,

since from yesterday I'm facing issues with git cms-int in order to setup the CMSSW_10_3_1 release on lxplus.
The check connectivity step seems to be done then when it swtches to the new branch 'from-CMSSW_10_3_1' it takes a long time and then it fails with this error:
error: RPC failed; curl 18 transfer closed with outstanding read data remaining
fatal: The remote end hung up unexpectedly
An

[2019-07-31 10:28] cmsbuild commented on #27654
A new Issue was created by  @barriap .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-31 14:34] kpedro88 commented on #27654
GitHub appears to be throttling https requests intermittently.

You can use the `--ssh` flag to use ssh connectivity, which is more reliable. If you want to enable this permanently:
[code]

Please note, this requires having your ssh key associated with your GitHub account.

[2019-07-31 14:51] barriap commented on #27654
Thanks finally it seems to work

[2019-07-31 15:45] slava77 opened #27657 "remove EcalDeadChannelRecoveryNN and related from CMSSW code base"
This is a follow up to the developments coming with  #27175.

EcalDeadChannelRecoveryNN was never deployed for production use.
A new solution is available now and it should replace the NN variant, it came with #27175 .
Given no plan for further use or support of the (old) NN variant, it can be removed safely after #27175 is integrated.

@crovelli @argiro @zghiche @fcouderc
@nancymarinelli @taroni

[2019-07-31 15:45] slava77 commented on #27657
assign reconstruction

[2019-07-31 15:45] cmsbuild commented on #27657
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-31 15:45] cmsbuild commented on #27657
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-31 16:03] nancymarinelli commented on #27657
Hi Slava,
you should trash also all what's in
/afs/cern.ch/work/n/nancy/private/testDeadChannelDev/CMSSW_11_0_X_2019-07-28-2300/src/RecoLocalCalo/EcalDeadChannelRecoveryAlgos/test

All that stuff is connected to NN. And we had to make it compile each time
Best,
  Nancy

@crovelli @argiro @zghiche @fcouderc
@taroni

On 31/07/19 17:45, Slava Krutelyov wrote:

--
_____________________________________

[2019-07-31 22:32] kpedro88 opened #27660 "fillDescriptions for PixelCPE classes"
See https://github.com/cms-sw/cmssw/pull/27614#issuecomment-517022979:

[2019-07-31 22:32] kpedro88 commented on #27660
assign reconstruction

[2019-07-31 22:32] cmsbuild commented on #27660
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-31 22:32] cmsbuild commented on #27660
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-02 08:00] fwyzard opened #27675 "propose to add -Wshadow=local to the compilation flags"
Hi,
I would propose to add `-Wshadow=local` to the compilation flags used for CMSSW.

It would have helped us catch a bug in our development branch earlier :-)

[2019-08-02 08:00] fwyzard commented on #27675
@smuzaffar @fabiocos

[2019-08-02 08:00] cmsbuild commented on #27675
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-02 09:33] fwyzard commented on #27675
Actually, the framework seems a frequent offender of this one... one should use a path similar to the one below just to fix the most common messages:
[code]

[2019-08-02 11:57] fwyzard commented on #27675
After applying the patch above, `-Wshared=local` finds less than 2000 warnings in less than 800 files...

[2019-08-02 13:07] Dr15Jones commented on #27675
Please do not use a macro where a simple renaming will suffice.

[2019-08-02 14:32] mmusich commented on #27660
So, I've started to have a look how to fix this, but I encountered an issue which exceeds my current knowledge of how to use `fillDescriptions`.
One of the parameters that are passed in the configuration is an `ESInputTag`

https://github.com/cms-sw/cmssw/blob/de3e59d268f593c359968493232218bcf97daa3e/RecoLocalTracker/SiPixelRecHits/python/PixelCPEGeneric_cfi.py#L59

and as far as I can see in:

ht

[2019-08-02 14:40] kpedro88 commented on #27660
@mmusich looks like the twiki is out of date .`cms.ESInputTag()` is allowed in our python configs.

[2019-08-02 15:02] mmusich commented on #27660
@kpedro88 than I must be doing something wrong.
If I use:
[code]
it does not even compile. Also I could not find any matching pattern in CMSSW: https://cmssdt.cern.ch/dxr/CMSSW/search?q=desc.add%3Cedm%3A%3AESInputTag&case=true
What's the correct syntax?

[2019-08-02 15:29] kpedro88 commented on #27660
@Dr15Jones @makortel can you comment on this? It's not clear to me why this would fail.

[2019-08-02 15:50] makortel commented on #27660
By quick look it seems to me that `fillDescriptions()` does not support `ESInputTag` (more specifically
https://github.com/cms-sw/cmssw/blob/master/FWCore/ParameterSet/interface/ParameterDescriptionNode.h
)

@Dr15Jones I suppose we should add the support for `ESInputTag` and `vector<ESInputTag>`.

[2019-08-02 16:49] Dr15Jones commented on #27660
We should add ESInputTag support. I ‘m on vacation today so can’t do it right now.

[2019-08-02 17:38] christopheralanwest commented on #26771
I'm closing this issue as it has been resolved. @cvuosalo @ianna, you may want to sign off for bookkeeping purposes.

[2019-08-02 17:38] #26771 closed

[2019-08-02 18:48] Dr15Jones commented on #27660
@wddgit could you look into adding ESInputTag support to the ParameterSet description system?

[2019-08-02 18:51] makortel commented on #27660
@Dr15Jones @wddgit I actually started already and am almost finished.

[2019-08-02 20:26] makortel commented on #27660
Done here #27684.

[2019-08-02 20:44] mmusich commented on #27660
Thanks @makortel

[2019-08-03 09:22] ianna commented on #26771
+1

[2019-08-03 09:23] cmsbuild commented on #26771
This issue is fully signed and ready to be closed.

[2019-08-03 11:58] christopheralanwest commented on #27533
Attn: @mmusich

[2019-08-03 14:19] Dr15Jones opened #27685 "Out of bounds write in SiPixelTemplateReco::PixelTempReco1D"
The following report is given by the Address Santizer
[code]

Running the code in the debugger and stopping on SiPixelTemplateReco.cc:469
[code]
So the code is write a value 2 units before the start of the array `ysum`.

Where `shifty` is calculated a few lines early
[code]
with
[code]

[2019-08-03 14:19] cmsbuild commented on #27685
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-03 14:19] Dr15Jones commented on #27685
This happened in step3 of workflow 12434.0

[2019-08-03 14:19] Dr15Jones commented on #27685
assign reconstruction

[2019-08-03 14:19] cmsbuild commented on #27685
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-03 20:39] fabiocos opened #27687 "Instruct runTheMatrix to throw an exception if a non defined workflows is required"
This issue is meant as a follow up of the comment https://github.com/cms-sw/cmssw/pull/27678#pullrequestreview-270461796 about instrumenting the runner to throw an exception in case a non defined workflow is requested

[2019-08-03 20:40] cmsbuild commented on #27687
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-03 20:40] fabiocos commented on #27687
assign pdmv

[2019-08-03 20:40] cmsbuild commented on #27687
New categories assigned: pdmv

@pgunnell,@prebello,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-05 14:41] mmusich commented on #27660
I tried to address this issue here: https://github.com/cms-sw/cmssw/issues/27660

[2019-08-05 16:15] schneiml opened #27696 "Illegal characters in module labels"
Dear all,

CMSSW bans certain characters from module labels, specifically including `_`. However, it seems to be not very strict about that: having `_` in module labels is a fairly common thing [1].

Now, that turns into a problem once one tries to produce products in these modules: now EDM complains:

[code]

Now, I wonder how to proceed with this. I can do a bunch of batch-replacing to get rind

[2019-08-05 16:16] cmsbuild commented on #27696
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-05 16:20] Dr15Jones commented on #27696
assign core

[2019-08-05 16:21] cmsbuild commented on #27696
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-05 16:22] Dr15Jones commented on #27696
@schneiml the use of `_` in a module label only needs to be enforced with EDProducers as extra `_` mess up the branch names for the data products. We could make the restriction more wide-spread.

[2019-08-05 20:17] #27472 closed

[2019-08-06 10:22] schneiml commented on #27696
Well, we converted all of the DQMEAnalyzers to EDProducer base classes quite a while ago. That might explain where all of these cases come from, though EDM clearly did not complain as long as the EDProducers did not produce anything (-persistent?).

[2019-08-06 16:38] fabiocos opened #27703 "Build CMSSW_11_0_0_pre5"

[2019-08-06 16:38] cmsbuild commented on #27703
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-08-06 16:40] fabiocos commented on #27703
build cmssw-tool-conf

[2019-08-06 16:40] cmsbuild commented on #27703
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-08-06 16:41] cmsbuild commented on #27703
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2107/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-06 16:41] cmsbuild commented on #27703
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2108/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-06 16:41] cmsbuild commented on #27703
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2109/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-06 16:43] cmsbuild commented on #27703
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2110/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-06 19:19] cmsbuild commented on #27703
There was an error building cmssw-tool-conf for slc7_amd64_gcc900
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc900/2109

[2019-08-06 19:35] cmsbuild commented on #27703
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_aarch64_gcc700/2110

[2019-08-06 20:18] cmsbuild commented on #27703
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc700/2107

[2019-08-06 20:20] fabiocos commented on #27703
+1

[2019-08-06 20:38] cmsbuild commented on #27703
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc820/2108

[2019-08-06 20:51] fabiocos commented on #27703
@smuzaffar apparently vincia failed to build for gcc900

[2019-08-06 21:39] cmsbuild commented on #27703
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2111/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-06 21:44] smuzaffar commented on #27703
@fabiocos , I have restarted the gcc9 build

[2019-08-07 01:38] cmsbuild commented on #27703
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc900/2111

[2019-08-07 06:28] fabiocos commented on #27703
+1

[2019-08-07 07:05] fabiocos commented on #27703
@smuzaffar I have the impression that for some reason the bot is stuck, I do not see even in Jenkins the build moving, do you understand what is going on?

[2019-08-07 08:05] cmsbuild commented on #27703
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-08-07 08:05] cmsbuild commented on #27703
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2019-08-07 08:06] mmusich commented on #27685
Issue has been addressed here: https://github.com/cms-sw/cmssw/pull/27705

[2019-08-07 08:06] cmsbuild commented on #27703
The build has started for slc7_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2112/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-07 08:06] cmsbuild commented on #27703
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2113/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-07 08:07] cmsbuild commented on #27703
The build has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2114/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-07 08:08] cmsbuild commented on #27703
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2115/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-07 08:11] mmusich commented on #23798
@christopheralanwest can you please sign this (resolved) issue, so this can be closed?

[2019-08-07 08:22] mmusich commented on #27178
This issue has been addressed in https://github.com/cms-sw/cmssw/pull/27565.
@christopheralanwest please sign the issue so it can be closed.

[2019-08-07 11:37] cmsbuild commented on #27703
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc820/2113
Some tes

[2019-08-07 11:47] cmsbuild commented on #27703
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc900/2114
Some tes

[2019-08-07 12:44] christopheralanwest commented on #23798
+1

[2019-08-07 12:44] cmsbuild commented on #23798
This issue is fully signed and ready to be closed.

[2019-08-07 13:17] christopheralanwest commented on #27178
+1

[2019-08-07 13:18] cmsbuild commented on #27178
This issue is fully signed and ready to be closed.

[2019-08-07 13:24] #27178 closed

[2019-08-07 13:31] fabiocos opened #27707 "Build CMSSW_7_1_43"

[2019-08-07 13:31] cmsbuild commented on #27707
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-08-07 13:32] fabiocos commented on #27707
+1

[2019-08-07 13:32] cmsbuild commented on #27707
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_43. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-08-07 13:32] cmsbuild commented on #27707
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-08-07 13:34] cmsbuild commented on #27707
The build has started for slc6_amd64_gcc481 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2116/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-08-07 13:39] christopheralanwest commented on #23130
+1

[2019-08-07 13:42] cmsbuild commented on #27703
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc820/2113

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-07 13:52] cmsbuild commented on #27703
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc900/2114

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-07 14:04] cmsbuild commented on #27703
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_aarch64_gcc700/2115
Some

[2019-08-07 14:24] cmsbuild commented on #27703
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc700/2112
Some tes

[2019-08-07 16:26] cmsbuild commented on #27707
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_43-slc6_amd64_gcc481/2116
Some tests (

[2019-08-07 16:30] mmusich commented on #27533
this issue is addressed here https://github.com/cms-sw/cmssw/pull/27712

[2019-08-07 16:33] cmsbuild commented on #27703
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc700/2112

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-07 16:36] cmsbuild commented on #27707
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_43-slc6_amd64_gcc481/2116

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-08-07 16:47] IzaakWN commented on #27533
Hey @Dr15Jones, in PR https://github.com/cms-sw/cmssw/pull/27712 we replaced the `DecodingStructure` with a local unsigned integer, which is hopefully more robust. I have not been able to reproduce the error so far. Is it possible for you to check if the changes in this PR solves your issue?

[2019-08-07 16:54] fabiocos commented on #27707
upload all

[2019-08-07 16:54] fabiocos commented on #27703
upload all

[2019-08-07 16:54] cmsbuild commented on #27707
Queing Jenkins upload for slc6_amd64_gcc481

[2019-08-07 16:54] cmsbuild commented on #27703
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-08-07 16:54] cmsbuild commented on #27703
Queing Jenkins upload for slc7_amd64_gcc700

[2019-08-07 16:54] cmsbuild commented on #27703
Queing Jenkins upload for slc7_amd64_gcc820

[2019-08-07 16:55] cmsbuild commented on #27703
Queing Jenkins upload for slc7_amd64_gcc900

[2019-08-07 16:56] cmsbuild commented on #27707
The upload has started for slc6_amd64_gcc481 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1383/console

[2019-08-07 16:56] cmsbuild commented on #27703
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1384/console

[2019-08-07 16:56] cmsbuild commented on #27703
The upload has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1386/console

[2019-08-07 16:57] cmsbuild commented on #27707
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_43-slc6_amd64_gcc481/1383

[2019-08-07 16:57] cmsbuild commented on #27703
The upload has started for slc7_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1385/console

[2019-08-07 16:57] cmsbuild commented on #27703
The upload has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1387/console

[2019-08-07 16:57] cmsbuild commented on #27703
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre5-slc7_aarch64_gcc700/1384

[2019-08-07 16:58] cmsbuild commented on #27703
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc820/1387

[2019-08-07 16:58] cmsbuild commented on #27703
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc900/1386

[2019-08-07 16:59] cmsbuild commented on #27703
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre5-slc7_amd64_gcc700/1385

[2019-08-07 16:59] fabiocos commented on #27707
release-notes

[2019-08-07 16:59] cmsbuild commented on #27707
Generating release notes since CMSSW_7_1_42_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-08-07 16:59] cmsbuild commented on #27707
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_43 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_42_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_43

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2019-08-07 16:59] fabiocos commented on #27703
release-notes

[2019-08-07 17:00] cmsbuild commented on #27703
Generating release notes since CMSSW_11_0_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-08-07 17:00] cmsbuild commented on #27703
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre5 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre5

Cheers,
cms-bot

You can also

[2019-08-07 17:00] cmsbuild commented on #27707
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_43

[2019-08-07 17:01] cmsbuild commented on #27703
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre5

[2019-08-07 17:44] Dr15Jones commented on #27533
@IzaakWN you can test it yourself by doing

1. create a workarea using release CMSSW_11_0_UBSAN_X_2019-08-02-2300
1. checkout your pull request into that workarea and compile it
1. run a workflow exhibiting the problem `runTheMatrix.py -l 1.0 -t 4`
1. check the log for step3 of that workflow, if you  do not see any messages containing 'DecodingStructure' then you have fixed the problem.

An exampl

[2019-08-07 19:29] slava77 commented on #27703
I was hoping that the problem with the delay of data showing up in cvmfs was fixed already.
The release is still not available.

[2019-08-07 19:35] Dr15Jones opened #27718 "switch case fallthrough in TrackerAlignment_PayloadInspector.cc"
The gcc 9 compiler is complaining about TrackerAlignment_PayloadInspector.cc have a swtich statement in which the case statements _fallthrough_ from one case statement to the next. See

https://github.com/cms-sw/cmssw/blob/master/CondCore/AlignmentPlugins/plugins/TrackerAlignment_PayloadInspector.cc#L600-L631

If the code is intended to _fallthrough_ please add `[[fallthrough]]` to the end of each

[2019-08-07 19:35] cmsbuild commented on #27718
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-07 19:36] Dr15Jones commented on #27718
FYI @mmusich

[2019-08-07 19:37] Dr15Jones commented on #27718
assign db

[2019-08-07 19:37] cmsbuild commented on #27718
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-07 19:47] fabiocos commented on #27703
@slava77 I know, this is why I am waiting to send the announcement. My understanding from @smuzaffar and @mrodozov is that this is linked to an external copy procedure that runs at fixed times.

[2019-08-07 20:28] slava77 commented on #27703
I see, from the story with pre4 I somehow (mis)understood that the external-driven copying was some not so desired fall-back, not the design (because something else wasn't set up to trigger a more prompt distribution).

Is that external copy done once in 12 hours or something more frequent?

[2019-08-07 21:05] smuzaffar commented on #27703
I think there is a cron job which runs every hour plus publishing to production cvmfs repo (i.e. /cvmfs/cms.cern.ch ) might take couple of hours too

[2019-08-07 21:06] smuzaffar commented on #27703
anyway, I see the release is visible now `/cvmfs/cms.cern.ch/slc7_amd64_gcc700/cms/cmssw/CMSSW_11_0_0_pre5`

[2019-08-07 21:10] slava77 commented on #27703
ok, it showed up between 22:30 and 23:05.

[2019-08-07 22:35] cmsbuild commented on #27703
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre5-slc7_aarch64_gcc700/2115

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-08 07:25] mmusich commented on #27718
Fixed in https://github.com/cms-sw/cmssw/pull/27722

[2019-08-08 10:22] fioriNTU opened #27724 "AAA Service not active on DQMIO files"
After some investigations related to this JIRA ticket https://its.cern.ch/jira/browse/CMSTZ-427, we found that for DQMIO files the AAA servise is not working

According to Dirk *, is due to the fact that DQMIO files are not in EDM format, and a new feature in CMSSW is required to have it working.

The DQM group is really interested to have this feature implemented, DQMIO datasets can be moved on t

[2019-08-08 10:23] cmsbuild commented on #27724
A new Issue was created by  @fioriNTU .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-08 11:31] fabiocos commented on #27724
assign core

[2019-08-08 11:32] cmsbuild commented on #27724
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-08 12:23] Dr15Jones commented on #27724
assign dqm

[2019-08-08 12:24] cmsbuild commented on #27724
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-08 14:27] #27654 closed

[2019-08-08 14:49] IzaakWN commented on #27533
Thanks for the instructions. After the last commit, https://github.com/cms-sw/cmssw/commit/4ee24edec85c16ae6bbaca69ac127202e1e7b620, there seem to be no more issues when running `runTheMatrix.py` in `CMSSW_11_0_0_pre4` or `CMSSW_11_0_UBSAN_X_2019-07-12-2300`.

[2019-08-08 14:50] Dr15Jones commented on #27724
@dan131riley could you look into this?

[2019-08-08 14:58] fabiocos opened #27730 "Build CMSSW_10_6_2"

[2019-08-08 14:59] cmsbuild commented on #27730
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-08-08 15:11] fabiocos commented on #27730
+1

[2019-08-08 15:11] cmsbuild commented on #27730
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-08-08 15:11] cmsbuild commented on #27730
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-08-08 15:12] cmsbuild commented on #27730
The build has started for slc7_amd64_gcc700 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2117/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-08 15:12] cmsbuild commented on #27730
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2118/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-08 15:51] dan131riley commented on #27724
First check is whether I understand the problem, the description is a bit vague. I'm guessing that what it means is that DQMRootSource, somewhere in the vicinity of this open:

https://github.com/cms-sw/cmssw/blob/e43377ba7c7fb6b146bcccd58bb89bf32a1ce41d/DQMServices/FwkIO/plugins/DQMRootSource.cc#L771

needs some additional logic such that, if the open fails, it tries the fallbackDataCatalog that

[2019-08-08 15:58] Dr15Jones commented on #27724
@bbockelm FYI

[2019-08-08 16:01] fioriNTU commented on #27724
@dan131riley , you can test using the code here /afs/cern.ch/user/c/cmst0/public/wrappersTier0Config/harvestWrapper.sh , it will require few inputs:

run: 323940
PD: /ZeroBias/Run2018D-PromptReco-v2/DQMIO
LFN: /store/data/Run2018D/ZeroBias/DQMIO/PromptReco-v2/000/323/940/00000/9F411A2F-9C94-D54F-894B-83D60BF55C41.root

[2019-08-08 18:37] cmsbuild commented on #27730
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_2-slc7_amd64_gcc820/2118
Some tests (

[2019-08-08 19:54] cmsbuild commented on #27730
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_2-slc7_amd64_gcc700/2117
Some tests (

[2019-08-08 20:37] cmsbuild commented on #27730
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_2-slc7_amd64_gcc820/2118

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-08 21:58] cmsbuild commented on #27730
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_2-slc7_amd64_gcc700/2117

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-08 22:04] fabiocos commented on #27730
upload all

[2019-08-08 22:04] cmsbuild commented on #27730
Queing Jenkins upload for slc7_amd64_gcc700

[2019-08-08 22:04] cmsbuild commented on #27730
Queing Jenkins upload for slc7_amd64_gcc820

[2019-08-08 22:05] cmsbuild commented on #27730
The upload has started for slc7_amd64_gcc700 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1388/console

[2019-08-08 22:05] cmsbuild commented on #27730
The upload has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1389/console

[2019-08-08 22:06] cmsbuild commented on #27730
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_2-slc7_amd64_gcc820/1389

[2019-08-08 22:08] cmsbuild commented on #27730
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_2-slc7_amd64_gcc700/1388

[2019-08-08 22:32] fabiocos commented on #27730
release-notes

[2019-08-08 22:33] cmsbuild commented on #27730
Generating release notes since CMSSW_10_6_1_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-08-08 22:33] cmsbuild commented on #27730
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_1_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_2

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-08-08 22:34] cmsbuild commented on #27730
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_2

[2019-08-09 11:26] fabiocos commented on #27687
A solution (not in the Runner but directly in runTheMatrix) has been implemented in #27713
@slava77 FYI

[2019-08-09 11:26] #27687 closed

[2019-08-09 11:27] fabiocos commented on #27456
#27470 has been merged

[2019-08-09 11:27] #27456 closed

[2019-08-09 11:28] fabiocos commented on #27100
The problem has been finally solved by #27310

[2019-08-09 11:28] #27100 closed

[2019-08-09 11:36] fabiocos commented on #26758
@smuzaffar I keep this issue open as a reminder, I will not update the initial list provided by Andrea as we have regular reports in the IB (e.g. https://cmssdt.cern.ch/SDT/jenkins-artifacts/check_headers/CMSSW_11_0_X_2019-08-08-2300/slc7_amd64_gcc700/build.log )

where I see that a number of problems are still there

[2019-08-09 12:05] #26406 closed

[2019-08-09 14:17] bbockelm commented on #27724
@dan131riley - yes, that's correct.  The integration with AAA is usually done via the fallback mechanism.  File open fails, an exception is thrown, and the exception is suppressed until the fallback succeeds (or fails).

[2019-08-09 15:08] cmsbuild commented on #27703
The cleanup has started for slc7_aarch64_gcc700

[2019-08-09 15:08] cmsbuild commented on #27703
The cleanup has started for slc7_amd64_gcc700

[2019-08-09 15:08] cmsbuild commented on #27703
The cleanup has started for slc7_amd64_gcc820

[2019-08-09 15:08] cmsbuild commented on #27703
The cleanup has started for slc7_amd64_gcc900

[2019-08-09 15:08] #27703 closed

[2019-08-09 15:08] cmsbuild commented on #27707
The cleanup has started for slc6_amd64_gcc481

[2019-08-09 15:08] #27707 closed

[2019-08-09 15:09] cmsbuild commented on #27703
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre5-slc7_aarch64_gcc700/1405

[2019-08-09 15:13] cmsbuild commented on #27707
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_43-slc6_amd64_gcc481/1409

[2019-08-09 15:13] cmsbuild commented on #27703
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre5-slc7_amd64_gcc700/1406

[2019-08-09 15:14] cmsbuild commented on #27703
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre5-slc7_amd64_gcc820/1407

[2019-08-09 15:14] cmsbuild commented on #27703
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre5-slc7_aarch64_gcc700/1410

[2019-08-09 15:17] cmsbuild commented on #27703
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre5-slc7_amd64_gcc900/1408

[2019-08-09 15:21] cmsbuild commented on #27703
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre5-slc7_amd64_gcc700/1411

[2019-08-09 15:23] cmsbuild commented on #27703
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre5-slc7_amd64_gcc900/1413

[2019-08-09 15:26] cmsbuild commented on #27703
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre5-slc7_amd64_gcc820/1412

[2019-08-09 18:08] jpata opened #27741 "GBRForest does not support TMVA BDT with "Transform Normalize" option"
Hi,

I noticed that the nice GBRForest tool does not support a TMVA BDT that does in-place input variable normalization and gives incorrect / different results compared to TMVA.

Here's how the TMVA XML looks like with normalization:

[code]

TMVA implements it here: https://github.com/root-project/root/blob/master/tmva/tmva/src/VariableNormalizeTransform.cxx#L151

Should I make a PR with an updat

[2019-08-09 18:09] cmsbuild commented on #27741
A new Issue was created by  @jpata Joosep Pata.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-09 18:24] guitargeek commented on #27741
HI Joosep, is this functionality required anywhere in CMSSW or you intend to use it? I personally think it only makes sense to implement it in that case.

But in case you want to implement it, here is just a heads up: the GBRForest is used as a conditions data format, so any additional class member would break compatibility with old CMSSW releases and this this not desired. So if you want to imple

[2019-08-09 18:35] guitargeek commented on #27553
Hi @perrotta, just to let you know we are on it. It's not a trivial problem thought, as it revealed a bug in the PFEGammaAlgo and fixing it probably has to change the algo logic. So we need to be a bit careful there and check in with both EGM and PF.

[2019-08-09 18:39] jpata commented on #27741
I ran into it in my own analysis using the GBRForest code. I just thought it might happen silently for someone who intends to use a TMVA XML in CMSSW as well. If you think it's not an issue or might be solved in case it arises, it's fine, I don't need to push my version upstream here, just making a note here.
I see your point about CondFormats, I don't have much experience with it.

[2019-08-09 18:43] bendavid commented on #27741
(It was intended from the beginning to add some checks for unsupported TMVA features when trying to convert from TMVA weights and throw an error rather than succeed and silently give incorrect results.)

[2019-08-10 20:38] cmsbuild commented on #27730
The cleanup has started for slc7_amd64_gcc700

[2019-08-10 20:38] cmsbuild commented on #27730
The cleanup has started for slc7_amd64_gcc820

[2019-08-10 20:38] #27730 closed

[2019-08-10 20:43] cmsbuild commented on #27730
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_2-slc7_amd64_gcc820/1415

[2019-08-10 20:46] cmsbuild commented on #27730
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_2-slc7_amd64_gcc700/1414

[2019-08-12 13:09] fabiocos commented on #27393
referring to the comment https://github.com/cms-sw/cmssw/issues/27393#issuecomment-510075816 by @ggovi:

- #27517 goes in the direction of suggestion 1), i.e. the proposed customization for phase2 relvals falls within ```Configuration/AlCa``` under the full control of the AlCaDB coordinators;

- concerning the point 2) I believe that this proposed flag should be active within ConfigBuilder.py, whi

[2019-08-12 18:04] makortel commented on #26438
Regarding the SwitchProducer use-case, we could likely easily communicate the non-chosen cases via an untracked parameter from python to C++ to know for which modules the constructor call can be avoided.

A further complication comes from the configuration validation though (done as part of the module construction). This step leads to the call of module's static `fillDescriptions()`, and adding pa

[2019-08-13 09:32] hatakeyamak commented on #17529
I think this issue is now resolved. The cleanup PR is already merged.

[2019-08-13 13:36] slava77 commented on #17529
+1

this is available since 11_0_0_pre5

[2019-08-13 13:36] cmsbuild commented on #17529
This issue is fully signed and ready to be closed.

[2019-08-13 13:46] #17529 closed

[2019-08-13 17:19] slava77 opened #27767 "review data-specific modifications for RECO related to HCAL noise flagging"
We (historically) have several settings which are applied specifically for data processing (different from what is done for MC)
https://github.com/cms-sw/cmssw/blob/CMSSW_11_0_0_pre5/Configuration/StandardSequences/python/Reconstruction_Data_cff.py
To complicate this, for most of the processing eras these should be replaced with customisePostEra\* methods from https://github.com/cms-sw/cmssw/blob/

[2019-08-13 17:20] slava77 commented on #27767
assign reconstruction

[2019-08-13 17:20] cmsbuild commented on #27767
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-13 17:20] cmsbuild commented on #27767
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-13 20:11] #27718 closed

[2019-08-14 05:28] abdoulline commented on #27767
Hi Slava, all,

first a small comment on your first bullet - just to avoid misunderstanding:
"Compared to MC which has already cleaning for severity above 11 for all flags"
 - in MC thoughout all the modules there is accepted SeverityLevel=9, above which the hits are rejected. For HF flags in question assigned SeverityLevel is 11 (both for MC and data):
https://github.com/cms-sw/cmssw/blob/master/

[2019-08-14 07:35] abdoulline commented on #27767
adding HCAL Noise convener Chandi  @cpkar

[2019-08-14 07:44] abdoulline commented on #27767
adding HCAL DPG convener Aram @arapyan

[2019-08-14 10:36] schneiml opened #27771 "MessageLogger with callback"
Dear Framework experts,

while porting over the booking backtrace logic from the current DQMStore to my new implementation, I wanted to use the MessageLogger to output the backtraces. The manual [1] documents a really useful facility: by passing a callback, I can do the expensive stacktrace only when it is actually enabled in the logging.

However, trying to use this functionality, my messages see

[2019-08-14 10:37] cmsbuild commented on #27771
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-14 13:11] Dr15Jones commented on #27771
Assign core

[2019-08-14 13:11] cmsbuild commented on #27771
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-14 13:53] Dr15Jones commented on #27771
@schneiml The MessageLogger filters messages in two passes

1. If the MessageLogger has been configured such that all messages of a type (e.g. Info) are to be suppressed for all outputs then the messages are dropped at the call site. This is also the condition used to not call the callback

1. Else, the message is created and sent to the central logging system. The central logging system then appl

[2019-08-14 15:49] slava77 commented on #27767
We do not use towerMakerPF in standard reco. My comment was about particleFlowRecHitHF, which has max severity of 11 for MC for the "Standard" flags (which includes all flags).
https://github.com/cms-sw/cmssw/blob/master/RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitHF_cfi.py#L26-L29
The severity threshold of 9 is only for HFLongShort and HFLongShort flags
https://github.com/cms-sw/c

[2019-08-15 05:34] abdoulline commented on #27767
Slava,

I though towerMakerPF  was used in the past (before moving to RecHits in PF), not now.
I must admit I don't exactly remember why would SeverityLevel = 11  threshold be applied anywhere.  My recollection is that there was some "softening" of this threshold in HLT configs in the past (Run1), but not in Run2...

I hope our PFlow colleagues can comment on the setting you've pointed out:
maxSev

[2019-08-15 09:22] schneiml commented on #27771
@Dr15Jones ok. In my test harness I just use the default config (`cms.Service("MessageLogger")`), though I also tried using the `_cfi` before. In either case, as far as I see the code ran but the info messages where not printed.

Actually, the two-stage filtering you describe is not well suited to my needs here, since taking the stack traces on every booking call is *really* slow and it should onl

[2019-08-15 10:42] andrius-k opened #27780 "DQM Root Source Producer"
Hello,
I just encountered an issue adapting the `DQMServices/FwkIO/plugins/DQMRootSource.cc` to the new codebase in the context of restructuring the DQM code. The old producer would populate the `DQMStore` with histograms directly but since the global `DQMStore` doesn't exist anymore I would like it to produce regular products (`produces<MonitorElementCollection>`). [Documentation](https://twiki.c

[2019-08-15 10:42] cmsbuild commented on #27780
A new Issue was created by  @andrius-k Andrius.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-15 11:31] Dr15Jones commented on #27780
Assign dqm, core

[2019-08-15 11:32] cmsbuild commented on #27780
New categories assigned: dqm,core

@Dr15Jones,@smuzaffar,@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-15 13:51] hatakeyamak commented on #22582
We still have to deal with:

%MSG-e PFEGammaProducer:  PFEGammaProducer:particleFlowEGamma  13-Aug-2019 11:13:22 CDT Run: 1 Event: 1
PFBLOCKALGO BUG!!!! Found a SuperCluster in a block by itself!
%MSG

so we can keep this issue alive for now. I think it comes from SC from HGCAL, but the fact that HGCAL's PFClusters don't go into PFBlocks cause this message. If this can be confirmed, I think this c

[2019-08-15 14:59] makortel commented on #22135
Here is another one
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_11_0_X_2019-08-14-2300/pyRelValMatrixLogs/run/7.1_CosmicsSPLoose+CosmicsSPLoose+DIGICOS+RECOCOS+ALCACOS+HARVESTCOS/step1_CosmicsSPLoose+CosmicsSPLoose+DIGICOS+RECOCOS+ALCACOS+HARVESTCOS.log#/2681-2681

[code]

[2019-08-15 16:39] makortel commented on #26438
A possibility @Dr15Jones suggested quickly on the other day: we could introduce a SwitchTask that would have a similar switching mechanism for Tasks as SwitchProducer has for producers and aliases.

One complication further came to my mind: ESProducers. In principle SwitchTask could be used for ESProducers as well. After reading the [documentation](https://twiki.cern.ch/twiki/bin/view/CMSPublic/SW

[2019-08-16 08:06] ianna opened #27788 "Proposal: Replace PseudoTrap Usage in Magnetic Field Geometry with TruncTubs"
@namapane and @cvuosalo - as we have discussed, we will maintain ```PseudoTrap```.

Having had a closer look at the MF payloads it seems to me that we could easily remove the need for it. The ```PseudoTrap``` shape is only used in the magnetic field 90322 geometry payload:

[code]
It's possible to replace ```PseudoTrap``` with ```TruncTubs```. For example:

The shape V_11 in the 90322 geometry pay

[2019-08-16 08:06] cmsbuild commented on #27788
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-16 15:07] namapane commented on #27788
Hi Ianna,

I can't check in detail right now but I'm afraid that it won't work, unfortunately. It must be a single volume because it must correspond to the data table of the old PseudoTrap. Also a UnionSolid won't work as the MF code needs to know the shape to build a proper interpolator.

Nicola

Il 16 agosto 2019 10:06:23 CEST, Ianna Osborne <notifications@github.com> ha scritto:

[2019-08-18 20:36] IzaakWN commented on #27533
PR https://github.com/cms-sw/cmssw/pull/27712 has been merged. This issue can be closed. Cheers.

[2019-08-18 23:02] christopheralanwest commented on #27533
+1

[2019-08-19 16:41] jan-kaspar opened #27800 "RelMon: more useful DQM-GUI link"
In pages like:
https://cms-pdmv.cern.ch/ReleaseMonitoring/CMSSW_11_0_0_pre4_2018gcc8_vs_CMSSW_11_0_0_pre4_2018/DataReport/SingleMuon2018C-v1_106X_dataRun2_v17_RelVal_2018C_319450/41f33f54ab.html
I'd like to propose that the "To the DQM GUI" link points GUI page related to the RelMon page. This would be much more useful than the current static link. Thanks in advance!

[2019-08-19 16:41] cmsbuild commented on #27800
A new Issue was created by  @jan-kaspar .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-19 16:44] jan-kaspar opened #27801 "RelMon: warning if some jobs fail"
For example here
https://cmsweb.cern.ch/dqm/relval/plotfairy/overlay?obj=archive%2F319450%2FSingleMuon%2FCMSSW_11_0_0_pre4%2D106X_dataRun2_v17_RelVal_2018C%2Dv1%2FDQMIO%2FCTPPS%2Fcommon%2Fevents%20per%20BX;obj=archive%2F319450%2FSingleMuon%2FCMSSW_11_0_0_pre4%2D106X_dataRun2_v17_gcc8_RelVal_2018C%2Dv1%2FDQMIO%2FCTPPS%2Fcommon%2Fevents%20per%20BX;w=600;h=600;ref=ratiooverlay
we see different number

[2019-08-19 16:44] cmsbuild commented on #27801
A new Issue was created by  @jan-kaspar .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-19 16:48] jan-kaspar opened #27802 "RelMon: failing comparison evaluated as successfull"
Here's an example
  https://cmsweb.cern.ch/dqm/relval/plotfairy/overlay?obj=archive%2F319450%2FCharmonium%2FCMSSW_11_0_0_pre4%2D106X_dataRun2_v17_RelVal_2018C%2Dv1%2FDQMIO%2FCTPPS%2Fcommon%2Fevents%20per%20BX;obj=archive%2F319450%2FCharmonium%2FCMSSW_11_0_0_pre4%2D106X_dataRun2_v17_gcc8_RelVal_2018C%2Dv1%2FDQMIO%2FCTPPS%2Fcommon%2Fevents%20per%20BX;w=600;h=600;ref=ratiooverlay
of two obviously dif

[2019-08-19 16:49] cmsbuild commented on #27802
A new Issue was created by  @jan-kaspar .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-19 19:28] makortel commented on #27277
(trying to resume)

I tested what I suggested in https://github.com/cms-sw/cmssw/issues/27277#issuecomment-506760287 i.e.

in
https://github.com/cms-sw/cmssw/blob/7488a8f9600316ad2f43b32f236c797af19573f4/FWCore/Reflection/src/DictionaryTools.cc#L139-L165

After that I get an exception from
https://github.com/cms-sw/cmssw/blob/be9bbe2726172744c09a7dac81a001bfe3f83300/FWCore/Reflection/src/TypeWithD

[2019-08-19 20:07] pcanal commented on #27277
[code]
That's odd .. https://github.com/cms-sw/cmssw/issues/27277#issuecomment-506841849 says that there is TClass being generate(able) for that name:
[code]
humm no ....
Did you try to generate the dictionary explicitly for ```vector<unique_ptr<int,default_delete<int> > >```?

[2019-08-19 22:59] kpedro88 commented on #27800
assign dqm

[2019-08-19 23:00] kpedro88 commented on #27801
assign dqm

[2019-08-19 23:00] kpedro88 commented on #27802
assign dqm

[2019-08-19 23:00] cmsbuild commented on #27800
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-19 23:00] cmsbuild commented on #27801
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-19 23:00] cmsbuild commented on #27802
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-20 09:57] jfernan2 commented on #27802
@jan-kaspar the plot you point out in CTPPS/common/events per BX  is totally compatible within precision: same mean and same RMS, despite the different number of entries. Hence the comparison is sucessful, I see nothing wrong in this case.
Can you show me other clearer example? Thanks

[2019-08-20 11:16] jfernan2 commented on #27801
@jan-kaspar IMHO, I don't see an easy way to asses this: stats in histograms are different almost always due to the nature of the tests. On the other hand, the number of processed events is also usually not exactly the same and this information is not always saved in DQM files, sometimes only the number of processed LSs. sometimes only in some subdetector folders.

Perhaps the actual RelMon expert

[2019-08-20 13:33] makortel commented on #27277
@pcanal If I add
[code]
(or with the explicit `default_delete<int>`) to `DataFormats/StdDictionaries/src/classes_def_vector.xml`, `scram b` fails with
[code]

[2019-08-20 16:08] pcanal commented on #27277
This 'usually' means that the genreflex invocation (and/or the classes.h) is missing headers that are needed for the template instantiation ....

[2019-08-20 19:31] makortel commented on #27277
Thanks @pcanal, the missing include was indeed the issue. That actually fixed a lot of things, and it turns out that what I had done until https://github.com/cms-sw/cmssw/issues/27277#issuecomment-506760287 is sufficient to support `vector<unique_ptr<T>>` (but not `unique_ptr<T>` alone).

(I took a quick look further why `unique_ptr<T>`, and the symptom is the same as in https://github.com/cms-sw/

[2019-08-20 19:47] pcanal commented on #27277
We implemented support for unique_ptr<T> by making it (mostly) transparent the the Meta and I/O layer in ROOT (and looking and treated like a T*) Thus (theoretically) there is never a need to request a dictionary for it.  However when it is used as a template parameter, you need to spelt it 'normally' (and the need for the dict for vector<unique_ptr<T>>)

[2019-08-20 23:03] kpedro88 opened #27814 "Build CMSSW_11_0_0_pre6"

[2019-08-20 23:03] cmsbuild commented on #27814
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-08-20 23:21] kpedro88 commented on #27814
build cmssw-tool-conf

[2019-08-20 23:22] cmsbuild commented on #27814
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-08-20 23:23] cmsbuild commented on #27814
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2119/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-20 23:23] cmsbuild commented on #27814
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2120/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-20 23:23] cmsbuild commented on #27814
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2121/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-20 23:23] cmsbuild commented on #27814
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2122/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-21 00:51] cmsbuild commented on #27814
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_aarch64_gcc700/2122

[2019-08-21 01:20] cmsbuild commented on #27814
There was an error building cmssw-tool-conf for slc7_amd64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc700/2119

[2019-08-21 01:25] cmsbuild commented on #27814
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc900/2121

[2019-08-21 01:38] cmsbuild commented on #27814
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc820/2120

[2019-08-21 04:03] kpedro88 commented on #27814
build cmssw-tool-conf

[2019-08-21 04:14] kpedro88 commented on #27814
@smuzaffar @mrodozov is it possible to retry to see if the error is real or spurious? It's hard to tell from the log.

[2019-08-21 07:23] mrodozov commented on #27814
@kpedro88 I'm checking the logs

[2019-08-21 07:30] mrodozov commented on #27814
@kpedro88 It's hard to tell indeed I'll build it manually and see what happens

[2019-08-21 07:32] cmsbuild commented on #27814
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2123/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-21 07:40] davidlange6 commented on #27814
rivet fails to build

make[2]: *** No rule to make target `tmp.o3Ott0A.cc', needed by `RivetNovosibirskAnalyses.so'.  Stop.

(not sure I see the real error buried behind all of the auto_ptr complaints)

https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc700/2119/LOGS/external/rivet/3.0.1/log

[2019-08-21 08:47] mrodozov commented on #27814
Last week when 820 was failing because of rivet, when we finally made it work the PR was building but the IB failed in a similar way, we restarted the failing job and then it built. Looks like rpm issue because it was failing in the install part, also the auto_ptr complaints are not errors.
Anyway it's just an assumption, the job to build the tool-conf is restarted and this issue will need further

[2019-08-21 08:52] davidlange6 commented on #27814
ah - worrisome (race condition?)... did this work interactively?

[2019-08-21 09:02] davidlange6 commented on #27814
this failure appears to be in the build step. most likely more robust with a lower number of parallel build processes if indeed this is not reproducible?

[2019-08-21 09:32] cmsbuild commented on #27814
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc700/2123

[2019-08-21 13:46] kpedro88 commented on #27814
+1

[2019-08-21 13:47] cmsbuild commented on #27814
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-08-21 13:47] cmsbuild commented on #27814
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2019-08-21 13:48] cmsbuild commented on #27814
The build has started for slc7_amd64_gcc700 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2124/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-21 13:49] cmsbuild commented on #27814
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2125/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-21 13:49] cmsbuild commented on #27814
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2126/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-21 13:49] cmsbuild commented on #27814
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2127/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-21 15:33] andrius-k commented on #27780
Dear framework experts,
I played around with an existing input source and the problem that I had could be solved by simply knowing how to create per run and per lumi products in the input source. There is the ``

[2019-08-21 15:47] cmsbuild commented on #27814
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_aarch64_gcc700/2127
Some

[2019-08-21 17:09] cmsbuild commented on #27814
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc820/2125
Some tes

[2019-08-21 17:24] cmsbuild commented on #27814
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc900/2126
Some tes

[2019-08-21 17:55] makortel commented on #27277
I discussed with @pcanal yesterday and essentially he said that regarding ROOT we should treat `unique_ptr` as we treat raw pointers. Here is a sort-of a braindump of what I've experimented with

1. Change `edm::checkDictionary()` https://github.com/cms-sw/cmssw/blob/60c56004422a5145aa497e064781b077638e2872/FWCore/Reflection/src/DictionaryTools.cc#L69-L76 such that if the "second attempt to load"

[2019-08-21 18:35] cmsbuild commented on #27814
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc700/2124
Some tes

[2019-08-21 19:09] cmsbuild commented on #27814
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_aarch64_gcc700/2127

Tests results:
34 33 32 26 13 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-21 19:12] cmsbuild commented on #27814
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc820/2125

Tests results:
34 33 32 26 13 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-21 19:28] cmsbuild commented on #27814
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc900/2126

Tests results:
34 33 32 26 13 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-21 20:35] cmsbuild commented on #27814
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc700/2124

Tests results:
34 33 32 26 13 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-21 20:50] kpedro88 commented on #27814
upload all

[2019-08-21 20:51] cmsbuild commented on #27814
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-08-21 20:51] cmsbuild commented on #27814
Queing Jenkins upload for slc7_amd64_gcc700

[2019-08-21 20:51] cmsbuild commented on #27814
Queing Jenkins upload for slc7_amd64_gcc820

[2019-08-21 20:51] cmsbuild commented on #27814
Queing Jenkins upload for slc7_amd64_gcc900

[2019-08-21 20:53] cmsbuild commented on #27814
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1390/console

[2019-08-21 20:53] cmsbuild commented on #27814
The upload has started for slc7_amd64_gcc700 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1391/console

[2019-08-21 20:54] cmsbuild commented on #27814
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1392/console

[2019-08-21 20:54] cmsbuild commented on #27814
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1393/console

[2019-08-21 20:54] cmsbuild commented on #27814
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre6-slc7_aarch64_gcc700/1390

[2019-08-21 20:54] cmsbuild commented on #27814
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc820/1392

[2019-08-21 20:54] cmsbuild commented on #27814
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc900/1393

[2019-08-21 20:55] cmsbuild commented on #27814
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre6-slc7_amd64_gcc700/1391

[2019-08-21 21:06] kpedro88 commented on #27814
release-notes since CMSSW_11_0_0_pre5

[2019-08-21 21:07] cmsbuild commented on #27814
Generating release notes since CMSSW_11_0_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-08-21 21:07] cmsbuild commented on #27814
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre6 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre6

Cheers,
cms-bot

You can also

[2019-08-21 21:08] cmsbuild commented on #27814
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre6

[2019-08-22 15:38] makortel commented on #27277
I traced back the origin of `int` to my

Here `desc`  is the `BranchDescription`, which internally holds the branch C++ type as `edm::TypeWithDict`. The `desc.unwrappedType()` returns the `edm::TypeWithDict` for `std::unique_ptr<int>`. However, internally it had transformed the type to `int *` (because we're in attempt 2). I added the `toType()` call here because otherwise I get an exception
[code

[2019-08-23 13:30] slava77 opened #27839 "HGCAL clustering TICL modules to have well-identifiable name in production"
This is to follow up on developments in  RecoHGCal/TICL
https://github.com/cms-sw/cmssw/pull/27439#pullrequestreview-270459729

Just a copy from there:
about ticl_iterations.py and module instance names there,
the naming is still rather nondescript in the context of running in the full reco processing job.
It should be relatively clear that all modules in the sequence are either more generically f

[2019-08-23 13:30] slava77 commented on #27839
assign reconstruction,upgrade

[2019-08-23 13:30] cmsbuild commented on #27839
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-23 13:30] cmsbuild commented on #27839
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-23 13:56] andrius-k commented on #27780
Dear framework experts,
This feature is something that we are missing in order to continue our work on fixing issues in the harvesting stage. Without the input source we are stuck and unable to proceed. If you have any suggestions or some advice, please let us know!
Regards,
Andrius

[2019-08-23 18:51] Dr15Jones commented on #27780
After looking at the framework and DQM code, probably the easiest (but not best) way would be to inherit from `edm::PuttableSourceBase`. All the methods in `DQMRootSource` would remain and in addition one would implement `beginRun(edm::Run&)` and `beginLuminosityBlock(LuminosityBlock&)`. In the constructor you would call `produces` just like for an `EDProducer` and in `beginRun` and `beginLuminosi

[2019-08-23 19:08] cmsbuild commented on #27814
The cleanup has started for slc7_aarch64_gcc700

[2019-08-23 19:08] cmsbuild commented on #27814
The cleanup has started for slc7_amd64_gcc700

[2019-08-23 19:08] cmsbuild commented on #27814
The cleanup has started for slc7_amd64_gcc820

[2019-08-23 19:08] cmsbuild commented on #27814
The cleanup has started for slc7_amd64_gcc900

[2019-08-23 19:08] #27814 closed

[2019-08-23 19:09] cmsbuild commented on #27814
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre6-slc7_aarch64_gcc700/1416

[2019-08-23 19:13] cmsbuild commented on #27814
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre6-slc7_amd64_gcc820/1418

[2019-08-23 19:13] cmsbuild commented on #27814
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre6-slc7_amd64_gcc700/1420

[2019-08-23 19:13] cmsbuild commented on #27814
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre6-slc7_amd64_gcc900/1419

[2019-08-23 19:17] cmsbuild commented on #27814
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre6-slc7_amd64_gcc700/1417

[2019-08-23 19:18] cmsbuild commented on #27814
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre6-slc7_amd64_gcc900/1422

[2019-08-23 19:23] cmsbuild commented on #27814
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre6-slc7_amd64_gcc820/1421

[2019-08-23 20:23] Dr15Jones opened #27860 "Improper cast in CTPPSRawToDigi"
The undefined behavior sanitizer (UBSAN) found the following
[code]

while processing workflow 136.862 on step 3.

The problematic piece of code is
https://github.com/cms-sw/cmssw/blob/842a7dac930b3402c4a8b8fca6e505ae80e2bb5b/EventFilter/CTPPSRawToDigi/src/RawToDigiConverter.cc#L252-L254

[2019-08-23 20:23] cmsbuild commented on #27860
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-23 20:27] Dr15Jones commented on #27860
The underlying problem seems to be that `DiamondVFATFrame` should not inherit from `VFATFrame` but instead should take one as member data and then have its functions access `data` via a call to `getData`.