[2017-07-26 10:27] cmsbuild commented on #19920
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7_patch1-slc7_amd64_gcc630/1258

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-26 11:02] cmsbuild commented on #19920
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7_patch1-slc7_amd64_gcc530/1257

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-26 11:36] davidlange6 commented on #19920
release-notes

[2017-07-26 11:36] cmsbuild commented on #19920
Generating release notes since CMSSW_9_2_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-26 11:36] cmsbuild commented on #19920
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_2_7_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_9_2_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_7_patch1

Cheers,
cms-bot

You can also click <a href="m

[2017-07-26 11:38] cmsbuild commented on #19920
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_7_patch1

[2017-07-26 12:58] cmsbuild commented on #19921
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_29-slc6_amd64_gcc530/1262
Some tests (

[2017-07-26 13:06] Dr15Jones commented on #19395
I'm for testing the lock mechanism since it is the right direction for eventually using a histogram which uses atomics for its bins.

[2017-07-26 13:22] cmsbuild commented on #19921
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_29-slc6_amd64_gcc530/1262

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-26 13:37] cmsbuild commented on #19921
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_29-slc7_amd64_gcc530/1261
Some tests (

[2017-07-26 14:04] cmsbuild commented on #19921
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_29-slc7_amd64_gcc530/1261

Tests results:
10 9 8 6 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-26 16:14] cmsbuild commented on #19920
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/828/console

[2017-07-26 16:15] cmsbuild commented on #19920
The upload has started for slc7_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/829/console

[2017-07-26 16:18] cmsbuild commented on #19920
The was error uploading slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_7_patch1-slc7_amd64_gcc630/829

[2017-07-27 09:05] davidlange6 commented on #19921
upload all

[2017-07-27 09:05] cmsbuild commented on #19921
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-27 09:05] cmsbuild commented on #19921
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-27 09:07] cmsbuild commented on #19921
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/830/console

[2017-07-27 09:07] cmsbuild commented on #19921
The upload has started for slc7_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/831/console

[2017-07-27 09:09] cmsbuild commented on #19921
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_29-slc6_amd64_gcc530/830
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-27 09:09] cmsbuild commented on #19921
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-27 09:09] cmsbuild commented on #19921
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_29-slc7_amd64_gcc530/831
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-27 09:09] cmsbuild commented on #19921
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-27 13:40] dmitrijus commented on #19395
The locking is a terrible approach.

It is way too aesy to leak the TH1 object and debugging any filling has been a nightmare for the DQM. This makes it worse, you can't really protect the access to TH1. Currrently, MonitorElement interface is not enough to cover all what ways people use TH1.

... And it will involve a huge migration of the entire DQM. Last time this happened, it took 3 years and

[2017-07-27 13:57] Dr15Jones commented on #19395
Using `::one` modules would require the following to allow good concurrency
   * each DQM module would have to go on its own EndPath, else all streams would sychronize waiting for the module to finish
   * you could not run an `EDHarvester` in the same job as a `DQMEDAnalyzer` because they both would do work at global end lumi/run and the framework has no knowledge that the harvester depends on th

[2017-07-27 13:59] Dr15Jones commented on #19395
@fwyzard

My original plan was to do just that. However, we had to many examples of modules having hidden dependencies on other modules (e.g. do you know if any two DQM modules are not filling the same histogram?) so keeping Paths/EndPaths to be sequential was the easiest way forward.

[2017-07-27 14:04] fwyzard commented on #19395
Still off topic... would it make sense to try that in an experimental branch, and check how many (other) things break ?

[2017-07-27 14:12] dmitrijus commented on #19395
Perhaps, there should be a way to mark a cms.Path "parallel"?

DQMEDAnalyzer modules not need to run in a sequence, they have no dependencies on between each other. This is enforced as it is, it is impossible for these modules to fill the same histogram, the interface does not allow that!

This is in contrast with DQMEDHarvester, these modules must run single threaded, in sequence and share histog

[2017-07-27 14:13] fwyzard commented on #19395
That's interesting to know, because this has been one of the sore points.
How is that actually disallowed ?
What happens if two modules try to book the same histogram in the same directory ?

[2017-07-27 14:20] dmitrijus commented on #19395
They each get a separate ME object. streamId / moduleId will be unique even if the histogram path is the same.
Even if two modules book the histogram with the same path, they will each get their own unique TH1 objects.

Once the modules reach mergeAndResetMEs*SummaryCache, their own copy is merged into a global histogram. But that happens within a lock, merge order is undefined (as is).

DQMEDAnal

[2017-07-27 14:37] fwyzard commented on #19395
OK, so the problem of a possible inconsistency happens only at the endlumi/endrun merging step.
Thanks, now I understand better why my fix at #19912 actually works.

[2017-07-27 15:55] slava77 opened #19940 "provide functionality to count missing hits from inactive [pixel] detectors beyond the extremes of the trajectory"
#19881 has (finally) introduced a check for inactive components "badComponents" during filling the secondary (missing inner and outer) hit patterns, in addition to already available check for the full measurement det inactive.
For pixels a some fraction of inactive dets  was set only in the "badComponents" (bad ROCs from SiPixelQualityFromDbRcd).
So, analysis/ID selections relying on missing inner

[2017-07-27 15:55] cmsbuild commented on #19940
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-27 16:02] slava77 commented on #19940
assign reconstruction

[2017-07-27 16:02] cmsbuild commented on #19940
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-27 16:13] VinInn commented on #19940
Please add beyond the extremes of the trajectory
Those inside a trajectory are already accounted for.
a possibility (somehow backward incompatible) is to add a "hit type" to the MISSING_INNER/OUTER
category.
This will require some changes to the interface and implementation of HitPattern and most probably major changes in client code (including MiniAOD packing I suspect)

[2017-07-27 16:14] slava77 commented on #19800
+1

"fixed" in #19866 #19865
- the warning was demoted temporarily
- to be put back to a warning once adequate false-positives detection is in place

[2017-07-27 16:14] #19800 closed

[2017-07-27 16:14] cmsbuild commented on #19800
This issue is fully signed and ready to be closed.

[2017-07-27 16:16] slava77 commented on #19940
title and description were updated

[2017-07-27 16:18] slava77 commented on #19801
fixed in #19827

I will +1 and close once the PR is merged

[2017-07-27 16:18] slava77 commented on #19799
+1

fixed in #19872

[2017-07-27 16:18] #19799 closed

[2017-07-27 16:19] cmsbuild commented on #19799
This issue is fully signed and ready to be closed.

[2017-07-27 16:20] slava77 commented on #19605
@ahinzmann @knash @dmitrijus
please clarify if there was some activity related to this issue.
Thank you.

[2017-07-27 16:26] slava77 commented on #19151
based on discussion, this is in a "will not fix" with arguments that the choice is by design
closing without a +1.

[2017-07-28 08:52] davidlange6 commented on #19921
release-notes

[2017-07-28 08:52] cmsbuild commented on #19921
Generating release notes since CMSSW_8_0_28_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-28 08:52] cmsbuild commented on #19921
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_29 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_28_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_29

release for legacy rereco take 2

Cheers,
cms-bot

You c

[2017-07-28 08:55] cmsbuild commented on #19921
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_29

[2017-07-28 09:28] mverzett opened #19945 "Broken ROOT python bindings in 93X?"
Dear experts,

in the latest 93X IB and pre-releases I encountered a problem with one of my [debugging scripts](https://gitlab.cern.ch/mverzett/URNtuples/blob/Moriond17/Utilities/scripts/inspect_edObject.py).

The script crashes with the following error:
[code]

Even more strangely, if I try to call the python shell from the same directory and import ROOT I get
[code]

Like root is still running m

[2017-07-28 09:28] cmsbuild commented on #19945
A new Issue was created by  @mverzett Mauro Verzetti.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-28 09:38] cmsbuild commented on #19920
The cleanup has started for slc6_amd64_gcc530

[2017-07-28 09:38] cmsbuild commented on #19920
The cleanup has started for slc6_amd64_gcc630

[2017-07-28 09:38] cmsbuild commented on #19920
The cleanup has started for slc7_amd64_gcc530

[2017-07-28 09:38] cmsbuild commented on #19920
The cleanup has started for slc7_amd64_gcc630

[2017-07-28 09:38] #19920 closed

[2017-07-28 09:39] cmsbuild commented on #19920
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_7_patch1-slc6_amd64_gcc630/736

[2017-07-28 09:39] cmsbuild commented on #19920
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_7_patch1-slc6_amd64_gcc530/735

[2017-07-28 09:44] cmsbuild commented on #19920
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_7_patch1-slc7_amd64_gcc630/738

[2017-07-28 09:44] cmsbuild commented on #19920
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_7_patch1-slc7_amd64_gcc530/737

[2017-07-28 10:00] davidlange6 commented on #19945
Hi Mauro
I don't really see how to reproduce the problem.

[dlange@lxplus043 dlange]$ scram p CMSSW_9_3_X_2017-07-27-2300
[dlange@lxplus043 dlange]$ python
Python 2.7.11 (default, Apr 28 2017, 13:50:27)
[GCC 6.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

any recipe you can provide?

[2017-07-28 12:04] mverzett commented on #19945
@davidlange6
thanks for looking into this. Here is a recipe to reproduce the problem

[code]

Then calling python and importing ROOT in the same directory gives that weird error. I tried to log off/in again and got the same result even without calling inspect in advance and got the same result, hence I do not believe is my script messing up the environment.

[2017-07-28 12:13] davidlange6 commented on #19945
Thanks - indeed I reproduce - the fix looks to be to give your script a different name. "inspect" is a name of a common python package.

[2017-07-28 12:25] dmitrijus commented on #19605
Hi @slava77, what are caloJets?

Which modules are affected by this? If I know where to start, I could find the relevant developers and ping them.

[2017-07-28 12:41] mverzett commented on #19945
@davidlange6 indeed that's the cause.
Thanks for pointing it out and sorry for the false alarm.

[2017-07-28 12:41] #19945 closed

[2017-07-28 12:54] davidlange6 opened #19950 "Build CMSSW_9_2_6_patch1"

[2017-07-28 12:54] cmsbuild commented on #19950
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-28 12:55] davidlange6 commented on #19950
+1

[2017-07-28 12:55] cmsbuild commented on #19950
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_6_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_6_patchX

[2017-07-28 12:55] cmsbuild commented on #19950
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-28 12:57] cmsbuild commented on #19950
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1264/console
CMSDIST Branch: [REL/CMSSW_9_2_6/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_6/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-28 12:57] cmsbuild commented on #19950
The build has started for slc6_amd64_gcc530 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1263/console
CMSDIST Branch: [REL/CMSSW_9_2_6/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_6/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-28 12:57] cmsbuild commented on #19950
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1265/console
CMSDIST Branch: [REL/CMSSW_9_2_6/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_6/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-28 12:57] cmsbuild commented on #19950
The build has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1266/console
CMSDIST Branch: [REL/CMSSW_9_2_6/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_6/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-28 13:07] ahinzmann commented on #19605
JetMET DQM needs to be adapted for this.
@ramankhurana may know who could take care of this

[2017-07-28 13:14] ramankhurana commented on #19605
Hello
I am seeing this just now. I can take care of changing the JetMET DQM software and make it compatible with this change in the miniAOD. But this will need some time due to other urgent commitments. Can you please tell me how urgent is this? And in which release this will go online. Its not clear to me, in which release I should make the PR with these changes.

[2017-07-28 13:21] cmsbuild commented on #19950
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc6_amd64_gcc630/1264
Some te

[2017-07-28 13:24] cmsbuild commented on #19950
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc7_amd64_gcc630/1266
Some te

[2017-07-28 13:25] cmsbuild commented on #19950
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc7_amd64_gcc530/1265
Some te

[2017-07-28 13:26] cmsbuild commented on #19950
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc6_amd64_gcc530/1263
Some te

[2017-07-28 14:03] cmsbuild commented on #19950
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc6_amd64_gcc630/1264

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-28 14:05] cmsbuild commented on #19950
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc6_amd64_gcc530/1263

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-28 14:06] davidlange6 commented on #19950
upload all

[2017-07-28 14:06] cmsbuild commented on #19950
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-28 14:06] cmsbuild commented on #19950
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-28 14:06] cmsbuild commented on #19950
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-28 14:06] cmsbuild commented on #19950
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-28 14:06] cmsbuild commented on #19950
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/833/console

[2017-07-28 14:06] cmsbuild commented on #19950
The upload has started for slc6_amd64_gcc530 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/832/console

[2017-07-28 14:06] cmsbuild commented on #19950
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/834/console

[2017-07-28 14:07] cmsbuild commented on #19950
The upload has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/835/console

[2017-07-28 14:08] cmsbuild commented on #19950
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6_patch1-slc7_amd64_gcc530/834
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-28 14:08] cmsbuild commented on #19950
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6_patch1-slc6_amd64_gcc630/833
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-28 14:08] cmsbuild commented on #19950
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-28 14:08] cmsbuild commented on #19950
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6_patch1-slc7_amd64_gcc630/835
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-28 14:08] cmsbuild commented on #19950
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-28 14:09] cmsbuild commented on #19950
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6_patch1-slc6_amd64_gcc530/832
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-28 14:09] cmsbuild commented on #19950
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-28 14:11] cmsbuild commented on #19950
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc7_amd64_gcc530/1265

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-28 14:11] cmsbuild commented on #19950
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6_patch1-slc6_amd64_gcc630/833
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-28 14:11] cmsbuild commented on #19950
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc7_amd64_gcc630/1266

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-28 14:32] davidlange6 commented on #19950
release-notes

On Jul 28, 2017, at 4:12 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6_patch1-slc7_amd64_gcc530/1265

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

—
You are receiving this be

[2017-07-28 14:32] cmsbuild commented on #19950
Generating release notes since CMSSW_9_2_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-28 14:32] cmsbuild commented on #19950
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_2_6_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_6_patch1

Cheers,
cms-bot

You can als

[2017-07-28 14:33] cmsbuild commented on #19950
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_6_patch1

[2017-07-28 15:45] slava77 commented on #19605
@ramankhurana
this is related to the plots mentioned in https://github.com/cms-sw/cmssw/pull/19446#issuecomment-313160869
https://user-images.githubusercontent.com/4676718/27875055-bfd62a34-6166-11e7-85c5-9660eadd1c6e.png
current version of the DQM picks up this plot from slimmedJets and the intention is to move to slimmedCaloJets.

it should be fine for updates to be just in the latest release /m

[2017-07-28 15:49] nsmith- opened #19960 "Passed exception causes segfault in FWCore"
In debugging #19812, I discovered a bug introduced between 930_pre1 and 930_pre2 relating to the EventSetupProvider.

The cfg:
[code]

produces the expected behavior in pre1, namely an exception:
[code]

but in pre2, a segfault:
[code]

The segfault is because [the exception](https://github.com/cms-sw/cmssw/blob/master/FWCore/Framework/src/EventSetupRecord.cc#L124), which is thrown during `EventSe

[2017-07-28 15:49] cmsbuild commented on #19960
A new Issue was created by  @nsmith- Nicholas Smith.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-28 21:19] Dr15Jones commented on #19960
Assign core

[2017-07-28 21:19] cmsbuild commented on #19960
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-28 21:19] Dr15Jones commented on #19960
Thanks for the detailed report. I was able to reproduce the behavior.

[2017-07-28 21:29] Dr15Jones commented on #19960
https://github.com/cms-sw/cmssw/pull/19966 fixes the problem

[2017-07-28 21:30] Dr15Jones commented on #19960
+1

[2017-07-28 21:30] cmsbuild commented on #19960
This issue is fully signed and ready to be closed.

[2017-07-30 06:53] cmsbuild commented on #19921
The cleanup has started for slc6_amd64_gcc530

[2017-07-30 06:53] cmsbuild commented on #19921
The cleanup has started for slc7_amd64_gcc530

[2017-07-30 06:53] #19921 closed

[2017-07-30 06:54] cmsbuild commented on #19921
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_29-slc6_amd64_gcc530/739

[2017-07-30 07:14] cmsbuild commented on #19921
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_29-slc7_amd64_gcc530/740

[2017-07-30 12:38] cmsbuild commented on #19950
The cleanup has started for slc6_amd64_gcc630

[2017-07-30 12:38] cmsbuild commented on #19950
The cleanup has started for slc6_amd64_gcc530

[2017-07-30 12:38] cmsbuild commented on #19950
The cleanup has started for slc7_amd64_gcc530

[2017-07-30 12:38] cmsbuild commented on #19950
The cleanup has started for slc7_amd64_gcc630

[2017-07-30 12:38] #19950 closed

[2017-07-30 12:39] cmsbuild commented on #19950
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_6_patch1-slc6_amd64_gcc630/742

[2017-07-30 12:43] cmsbuild commented on #19950
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_6_patch1-slc6_amd64_gcc530/741

[2017-07-30 12:43] cmsbuild commented on #19950
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_6_patch1-slc7_amd64_gcc530/743

[2017-07-30 12:43] cmsbuild commented on #19950
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_6_patch1-slc7_amd64_gcc630/744

[2017-07-30 17:38] Dr15Jones commented on #19783
We finally had a failure after I added the extra diagnostics:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_9_3_X_2017-07-30-0000/pyRelValMatrixLogs/run/25403.0_H125GGgluonfusion_13+FS_H125GGgluonfusion_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS/step1_H125GGgluonfusion_13+FS_H125GGgluonfusion_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS.log

[code]
So it looks like a valid rea

[2017-07-31 08:33] davidlange6 opened #19973 "Build CMSSW_5_3_36"

[2017-07-31 08:33] cmsbuild commented on #19973
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-31 08:33] davidlange6 commented on #19973
+1

[2017-07-31 08:33] cmsbuild commented on #19973
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_36. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2017-07-31 08:33] cmsbuild commented on #19973
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-07-31 08:35] cmsbuild commented on #19973
The build has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1267/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 09:57] davidlange6 opened #19977 "Build CMSSW_9_3_0_pre3"

[2017-07-31 09:58] cmsbuild commented on #19977
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-31 09:58] davidlange6 commented on #19977
+1

[2017-07-31 09:58] cmsbuild commented on #19977
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-07-31 09:58] cmsbuild commented on #19977
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-07-31 09:59] cmsbuild commented on #19977
The build has started for slc6_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1268/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 09:59] cmsbuild commented on #19977
The build has started for slc6_amd64_gcc700 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1269/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 09:59] cmsbuild commented on #19977
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1270/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 09:59] cmsbuild commented on #19977
The build has started for slc7_amd64_gcc630 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1271/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 09:59] cmsbuild commented on #19977
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1272/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX-dev](https://github.com/cms-sw/pkgtools/commits/V00-30-XX-dev)

[2017-07-31 10:29] cmsbuild commented on #19973
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_36-slc6_amd64_gcc472/1267
Some tests (

[2017-07-31 11:13] cmsbuild commented on #19973
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_36-slc6_amd64_gcc472/1267

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2017-07-31 11:48] davidlange6 commented on #19973
upload all

[2017-07-31 11:48] cmsbuild commented on #19973
Queing Jenkins upload for slc6_amd64_gcc472

[2017-07-31 11:51] cmsbuild commented on #19973
The upload has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/836/console

[2017-07-31 11:52] cmsbuild commented on #19973
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_36-slc6_amd64_gcc472/836
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-31 11:52] cmsbuild commented on #19973
CERN AFS installation skipped for slc6_amd64_gcc472 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-31 12:23] davidlange6 commented on #19973
release-notes

[2017-07-31 12:23] cmsbuild commented on #19973
Generating release notes since CMSSW_5_3_35.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-31 12:23] cmsbuild commented on #19973
You can use this template for announcing the release:

Hi all,

The production release CMSSW_5_3_36 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_35 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_36

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2017-07-31 12:25] cmsbuild commented on #19973
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_36

[2017-07-31 12:28] davidlange6 commented on #19977
abort

[2017-07-31 12:28] cmsbuild commented on #19977
Deleting CMSSW_9_3_0_pre3:

  -Release successfully deleted

  -cmssw tag CMSSW_9_3_0_pre3 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_3_0_pre3/slc6_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_3_0_pre3/slc7_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_3_0_pre3/slc6_amd64_g

[2017-07-31 12:29] cmsbuild commented on #19977
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc7_aarch64_gcc700/1270

[2017-07-31 12:35] #19977 closed

[2017-07-31 12:35] davidlange6 opened #19979 "Build CMSSW_9_3_0_pre3"

[2017-07-31 12:36] cmsbuild commented on #19979
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-31 12:36] davidlange6 commented on #19979
+1

[2017-07-31 12:36] cmsbuild commented on #19979
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-07-31 12:36] cmsbuild commented on #19979
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-07-31 12:38] cmsbuild commented on #19979
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1274/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 12:44] cmsbuild commented on #19979
The build has started for slc6_amd64_gcc630 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1275/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 12:49] cmsbuild commented on #19979
The build has started for slc6_amd64_gcc700 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1276/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 12:59] cmsbuild commented on #19979
The build has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1277/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 15:56] #19960 closed

[2017-07-31 15:58] #17878 closed

[2017-07-31 16:51] cmsbuild commented on #19979
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc7_amd64_gcc630/1277
Some test

[2017-07-31 17:27] cmsbuild commented on #19979
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc6_amd64_gcc700/1276

[2017-07-31 18:54] cmsbuild commented on #19979
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc7_aarch64_gcc700/1274
Some

[2017-07-31 19:29] bbockelm commented on #19783
Could we add the same diagnostics here:

https://github.com/cms-sw/cmssw/blob/master/Utilities/XrdAdaptor/src/XrdRequest.cc#L42

?  That would give us a closer-to-the-source indication that the remote server returned an unexpectedly-short read.

We don't track the size at that layer, but it is available from `XrdFile`.

[2017-07-31 20:31] cmsbuild commented on #19979
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc6_amd64_gcc630/1275
Some test

[2017-07-31 20:43] cmsbuild commented on #19979
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc7_aarch64_gcc700/1274

Tests results:
19 17 16 13 8 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-07-31 21:32] cmsbuild commented on #19979
The build has started for slc6_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1278/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 21:34] cmsbuild commented on #19979
The build has started for slc7_amd64_gcc630 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1279/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-31 21:57] cmsbuild commented on #19979
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc6_amd64_gcc630/1275

Tests results:
19 19 18 15 9 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-01 00:43] cmsbuild commented on #19979
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc7_amd64_gcc630/1279
Some test

[2017-08-01 01:39] cmsbuild commented on #19979
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc7_amd64_gcc630/1279

Tests results:
19 17 16 13 8 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-08-01 04:59] cmsbuild commented on #19979
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc6_amd64_gcc700/1278
Some test

[2017-08-01 06:49] davidlange6 commented on #19979
upload all

[2017-08-01 06:49] cmsbuild commented on #19979
Queing Jenkins upload for slc6_amd64_gcc630

[2017-08-01 06:49] cmsbuild commented on #19979
Queing Jenkins upload for slc6_amd64_gcc700

[2017-08-01 06:49] cmsbuild commented on #19979
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-08-01 06:50] cmsbuild commented on #19979
Queing Jenkins upload for slc7_amd64_gcc630

[2017-08-01 06:51] cmsbuild commented on #19979
The upload has started for slc6_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/838/console

[2017-08-01 06:51] cmsbuild commented on #19979
The upload has started for slc7_amd64_gcc630 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/840/console

[2017-08-01 06:51] cmsbuild commented on #19979
The upload has started for slc6_amd64_gcc630 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/837/console

[2017-08-01 06:51] cmsbuild commented on #19979
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/839/console

[2017-08-01 06:53] cmsbuild commented on #19979
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre3-slc7_amd64_gcc630/840
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-01 06:53] cmsbuild commented on #19979
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-01 06:55] cmsbuild commented on #19979
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre3-slc7_aarch64_gcc700/839
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-01 06:55] davidlange6 commented on #19979
release-notes

[2017-08-01 06:56] cmsbuild commented on #19979
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre3-slc6_amd64_gcc700/838
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-01 07:01] cmsbuild commented on #19979
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-01 07:03] cmsbuild commented on #19979
Generating release notes since CMSSW_9_3_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-01 07:03] cmsbuild commented on #19979
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_3_0_pre3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_0_pre3

Cheers,
cms-bot

You can also cl

[2017-08-01 07:11] cmsbuild commented on #19979
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre3-slc6_amd64_gcc700/1278

Tests results:
19 18 17 14 8 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-01 07:15] cmsbuild commented on #19979
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre3

[2017-08-01 13:31] kpedro88 commented on #14895
@davidlange6 ping

[2017-08-01 14:09] Dr15Jones commented on #19690
+1

[2017-08-01 14:09] cmsbuild commented on #19690
This issue is fully signed and ready to be closed.

[2017-08-01 14:10] Dr15Jones commented on #19783
assign core

[2017-08-01 14:10] cmsbuild commented on #19783
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-01 15:08] Dr15Jones commented on #19783
See https://github.com/cms-sw/cmssw/pull/19995. This will add a log message if the readback is 0 and will allow the existing code to cause an exception of the readback request was not for a 0.

[2017-08-01 15:31] slava77 commented on #19803
this is a weekly check on the progress to resolve this.
The effect related to the message is that the single leg seeding is turned off in these events (what's seeded by photonConvTrajSeedFromSingleLeg ).
If the module or seeding path is not essential maybe it can be removed altogether?

[2017-08-02 10:38] cmsbuild commented on #19973
The cleanup has started for slc6_amd64_gcc472

[2017-08-02 10:38] #19973 closed

[2017-08-02 10:39] cmsbuild commented on #19973
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_36-slc6_amd64_gcc472/745

[2017-08-02 19:53] wddgit commented on #16003
PR #19052 should resolve this issue and I think it can be closed.

[2017-08-02 20:01] Dr15Jones commented on #16003
+1

[2017-08-02 20:01] cmsbuild commented on #16003
This issue is fully signed and ready to be closed.

[2017-08-03 05:08] cmsbuild commented on #19979
The cleanup has started for slc7_aarch64_gcc700

[2017-08-03 05:08] cmsbuild commented on #19979
The cleanup has started for slc6_amd64_gcc700

[2017-08-03 05:08] cmsbuild commented on #19979
The cleanup has started for slc6_amd64_gcc630

[2017-08-03 05:08] cmsbuild commented on #19979
The cleanup has started for slc6_amd64_gcc700

[2017-08-03 05:08] cmsbuild commented on #19979
The cleanup has started for slc7_amd64_gcc630

[2017-08-03 05:08] #19979 closed

[2017-08-03 05:33] cmsbuild commented on #19979
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre3-slc7_amd64_gcc630/746

[2017-08-03 09:53] mverzett opened #20031 "html5lib dependency missing for jupyter in CMSSW 9.2.X"
Dear experts,

I've been trying to set-up a jupyter notebook for the CMS Physics Object School and I realized that some features appear to be broken moving from 9.1.X to 9.2.X

I do the following:
[code]

and get the following error

[code]

The same was not happening using CMSSW_9_0_1. Is it a known issue? Is there a new syntax/workaround?

Thanks for the help.
Best,

Mauro

[2017-08-03 09:53] cmsbuild commented on #20031
A new Issue was created by  @mverzett Mauro Verzetti.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-03 10:00] davidlange6 commented on #20031
hi - i thought i had fixed this...let me check to see what went wrong..

[2017-08-03 14:37] kpedro88 opened #20046 "Find source of NaNs in SimClustering"
#19997 added a protection against NaN fractions being produced in `CaloTruthAccumulator`. However, we still need to figure out:
1. if NaN fractions can be produced anywhere else
2. why some hits would have 0 total sim energy, and what should be done with those hits

[2017-08-03 14:38] cmsbuild commented on #20046
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-03 14:39] kpedro88 commented on #20046
assign upgrade

[2017-08-03 14:39] cmsbuild commented on #20046
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-03 19:30] wddgit commented on #15193
PR #17801 resolves this issue and implemented the Task feature. I think this issue can be closed

[2017-08-03 19:51] Dr15Jones commented on #15193
+1

[2017-08-03 19:51] cmsbuild commented on #15193
This issue is fully signed and ready to be closed.

[2017-08-04 14:20] kpedro88 opened #20057 "Use of addJetCollection with data in recent CMSSW versions"
I noticed a ProductNotFound exception when using `addJetCollection()` with data in 92X:
[code]

This occurs despite the producer marking the `patJetPartonMatch` product as a `mayConsume` and the parameter `addGenPartonMatch` being set to false (so the producer never attempts to get the product). The exact same config works fine in 80X. Here are the configs (only difference is a couple of Task-rela

[2017-08-04 14:20] cmsbuild commented on #20057
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-04 14:20] davidlange6 opened #20058 "Build CMSSW_9_1_2"

[2017-08-04 14:21] cmsbuild commented on #20058
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-04 14:21] davidlange6 commented on #20058
+1

[2017-08-04 14:21] cmsbuild commented on #20058
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_1_X

[2017-08-04 14:21] cmsbuild commented on #20058
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-08-04 14:22] cmsbuild commented on #20058
The build has started for slc6_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1280/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-04 14:22] cmsbuild commented on #20058
The build has started for slc6_amd64_gcc630 in cmsbuild32.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1281/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-04 14:24] cmsbuild commented on #20058
The build has started for slc7_amd64_gcc530 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1282/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-04 14:28] cmsbuild commented on #20058
The build has started for slc7_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1283/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-04 14:34] fwyzard commented on #15193
Is this something we have also in (or are going to backport to) 9.2.x ?

[2017-08-04 14:52] cmsbuild commented on #20058
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc6_amd64_gcc630/1281

[2017-08-04 15:04] Dr15Jones commented on #15193
@fwyzard it is in 9_2 already.

[2017-08-04 15:05] davidlange6 commented on #20058
looks like a github glitch -the gcc630 build is not important - so will wait to see other issues..

[2017-08-04 15:41] fwyzard commented on #15193
Thanks.
.A

[2017-08-04 17:25] cmsbuild commented on #20058
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc7_amd64_gcc630/1283
Some tests ( r

[2017-08-04 18:21] cmsbuild commented on #20058
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc7_amd64_gcc530/1282
Some tests ( r

[2017-08-04 18:21] cmsbuild commented on #20058
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc7_amd64_gcc630/1283

Tests results:
18 17 16 14 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-04 19:17] cmsbuild commented on #20058
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc7_amd64_gcc530/1282

Tests results:
18 17 16 14 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-04 20:53] davidlange6 opened #20066 "Build CMSSW_9_2_8"

[2017-08-04 20:53] davidlange6 commented on #20066
+1

[2017-08-04 20:53] cmsbuild commented on #20066
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-04 21:07] davidlange6 commented on #20066
+1

On 4 Aug 2017, at 22:54, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

Request received. I will start to build the release after one of the following approve the issue: @slava77<https://github.com/slava77>, @davidlange6<https://github.com/davidlange6>, @smuzaffar<https://github.com/smuzaffar>. You can do this by writing "+1" in a comment.
You can also ask me to b

[2017-08-04 21:07] cmsbuild commented on #20066
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-08-04 21:07] cmsbuild commented on #20066
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-08-04 21:08] cmsbuild commented on #20066
The build has started for slc6_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1284/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-04 21:09] cmsbuild commented on #20066
The build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1287/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-04 21:09] cmsbuild commented on #20066
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1286/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-04 21:09] cmsbuild commented on #20066
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1285/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-04 21:20] cmsbuild commented on #20058
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc6_amd64_gcc530/1280
Some tests ( r

[2017-08-04 22:13] cmsbuild commented on #20058
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc6_amd64_gcc530/1280

Tests results:
18 18 17 15 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-04 23:52] cmsbuild commented on #20066
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc6_amd64_gcc630/1285
Some tests ( r

[2017-08-05 00:18] cmsbuild commented on #20066
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc7_amd64_gcc630/1287
Some tests ( r

[2017-08-05 00:42] cmsbuild commented on #20066
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc6_amd64_gcc630/1285

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-05 01:03] cmsbuild commented on #20066
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc7_amd64_gcc630/1287

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-05 01:24] cmsbuild commented on #20066
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc7_amd64_gcc530/1286
Some tests ( r

[2017-08-05 02:08] cmsbuild commented on #20066
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc7_amd64_gcc530/1286

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-05 04:01] davidlange6 commented on #20058
release/notes

On 4 Aug 2017, at 21:18, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc7_amd64_gcc530/1282

Tests results:
18 17 16 14 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

—
You are receiving this because you w

[2017-08-05 05:03] cmsbuild commented on #20066
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc6_amd64_gcc530/1284
Some tests ( r

[2017-08-05 05:49] cmsbuild commented on #20066
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc6_amd64_gcc530/1284

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-05 06:10] davidlange6 commented on #20058
release-notes

On 5 Aug 2017, at 06:01, David Lange <David.Lange@cern.ch<mailto:David.Lange@cern.ch>> wrote:

release/notes

On 4 Aug 2017, at 21:18, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2-slc7_amd64_gcc530/1282

T

[2017-08-05 06:11] davidlange6 commented on #20066
upload all

On 5 Aug 2017, at 07:50, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_8-slc6_amd64_gcc530/1284

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you were

[2017-08-05 06:11] cmsbuild commented on #20066
Queing Jenkins upload for slc6_amd64_gcc530

[2017-08-05 06:11] cmsbuild commented on #20066
Queing Jenkins upload for slc6_amd64_gcc630

[2017-08-05 06:11] cmsbuild commented on #20066
Queing Jenkins upload for slc7_amd64_gcc530

[2017-08-05 06:11] cmsbuild commented on #20066
Queing Jenkins upload for slc7_amd64_gcc630

[2017-08-05 06:13] cmsbuild commented on #20066
The upload has started for slc6_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/841/console

[2017-08-05 06:13] cmsbuild commented on #20066
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/842/console

[2017-08-05 06:13] cmsbuild commented on #20066
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/843/console

[2017-08-05 06:13] cmsbuild commented on #20066
The upload has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/844/console

[2017-08-05 06:15] cmsbuild commented on #20066
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_8-slc7_amd64_gcc630/844
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-05 06:15] cmsbuild commented on #20066
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-05 06:16] cmsbuild commented on #20066
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_8-slc7_amd64_gcc530/843
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-05 06:16] cmsbuild commented on #20066
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-05 06:16] cmsbuild commented on #20066
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_8-slc6_amd64_gcc630/842
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-05 06:16] cmsbuild commented on #20066
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-05 06:18] cmsbuild commented on #20066
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_8-slc6_amd64_gcc530/841
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-05 06:18] cmsbuild commented on #20066
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-05 07:38] davidlange6 commented on #20066
release-notes

On 5 Aug 2017, at 08:19, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since <previous-release>", in the first line of your comment.
I will generate the release notes based on the release t

[2017-08-05 07:38] cmsbuild commented on #20066
Generating release notes since CMSSW_9_2_7_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-05 07:38] cmsbuild commented on #20066
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_8 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_7_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_8

Cheers,
cms-bot

You ca

[2017-08-05 07:39] davidlange6 commented on #20058
upload all

On 5 Aug 2017, at 08:10, David Lange <David.Lange@cern.ch<mailto:David.Lange@cern.ch>> wrote:

release-notes

On 5 Aug 2017, at 06:01, David Lange <David.Lange@cern.ch<mailto:David.Lange@cern.ch>> wrote:

release/notes

On 4 Aug 2017, at 21:18, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log

[2017-08-05 07:39] cmsbuild commented on #20058
Queing Jenkins upload for slc6_amd64_gcc530

[2017-08-05 07:39] cmsbuild commented on #20058
Queing Jenkins upload for slc7_amd64_gcc530

[2017-08-05 07:40] cmsbuild commented on #20058
Queing Jenkins upload for slc7_amd64_gcc630

[2017-08-05 07:40] cmsbuild commented on #20058
The upload has started for slc6_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/845/console

[2017-08-05 07:40] cmsbuild commented on #20058
The upload has started for slc7_amd64_gcc530 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/846/console

[2017-08-05 07:40] cmsbuild commented on #20058
The upload has started for slc7_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/847/console

[2017-08-05 07:41] cmsbuild commented on #20066
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_8

[2017-08-05 07:42] cmsbuild commented on #20058
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_2-slc7_amd64_gcc530/846
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-05 07:42] cmsbuild commented on #20058
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-05 07:43] cmsbuild commented on #20058
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_2-slc7_amd64_gcc630/847
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-05 07:43] cmsbuild commented on #20058
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-05 07:43] cmsbuild commented on #20058
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-08-05 07:45] cmsbuild commented on #20058
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_2-slc6_amd64_gcc530/845
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-05 07:45] cmsbuild commented on #20058
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-05 07:45] cmsbuild commented on #20058
Generating release notes since CMSSW_9_1_1_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-05 07:45] cmsbuild commented on #20058
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_1_2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_1_1_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_1_2

Cheers,
cms-bot

You can also click <a hr

[2017-08-05 07:46] cmsbuild commented on #20058
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_2

[2017-08-07 04:23] cmsbuild commented on #20058
The cleanup has started for slc6_amd64_gcc630

[2017-08-07 04:23] cmsbuild commented on #20058
The cleanup has started for slc6_amd64_gcc530

[2017-08-07 04:23] cmsbuild commented on #20058
The cleanup has started for slc7_amd64_gcc530

[2017-08-07 04:23] cmsbuild commented on #20058
The cleanup has started for slc7_amd64_gcc630

[2017-08-07 04:23] #20058 closed

[2017-08-07 04:26] cmsbuild commented on #20058
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_2-slc6_amd64_gcc630/748

[2017-08-07 04:30] cmsbuild commented on #20058
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_2-slc7_amd64_gcc630/750

[2017-08-07 04:30] cmsbuild commented on #20058
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_2-slc6_amd64_gcc530/747

[2017-08-07 04:30] cmsbuild commented on #20058
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_2-slc7_amd64_gcc530/749

[2017-08-07 05:53] cmsbuild commented on #20066
The cleanup has started for slc6_amd64_gcc530

[2017-08-07 05:53] cmsbuild commented on #20066
The cleanup has started for slc6_amd64_gcc630

[2017-08-07 05:53] cmsbuild commented on #20066
The cleanup has started for slc7_amd64_gcc530

[2017-08-07 05:53] cmsbuild commented on #20066
The cleanup has started for slc7_amd64_gcc630

[2017-08-07 05:53] #20066 closed

[2017-08-07 05:54] cmsbuild commented on #20066
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_8-slc6_amd64_gcc630/752

[2017-08-07 06:01] cmsbuild commented on #20066
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_8-slc6_amd64_gcc530/751

[2017-08-07 06:01] cmsbuild commented on #20066
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_8-slc7_amd64_gcc530/753

[2017-08-07 06:01] cmsbuild commented on #20066
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_8-slc7_amd64_gcc630/754

[2017-08-07 10:36] perrotta opened #20072 "Remove non-linked PF collections from HI reco and review the thresholds for reduced RecHits"
Pull request #19927 temporarily stores both the "Tmp" and the final PF candidates in the HI reco collections, thus significantly increasing the event size. The plan is to eventually drop the Tmp collections, but they would like to keep both temporarily for development related studies and  comparisons.

Since no significant HI reco production is foreseen for this year, it may make sense to temporar

[2017-08-07 10:36] perrotta commented on #20072
assign reco

[2017-08-07 10:37] cmsbuild commented on #20072
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-07 10:38] perrotta commented on #20072
assign reconstruction

[2017-08-07 10:38] cmsbuild commented on #20072
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-07 12:31] mandrenguyen commented on #20072
@cfmcginn @kurtejung @mverwe @ttrk

[2017-08-07 13:56] mandrenguyen commented on #20072
@perrotta Can you summarize what the reduced rechit collections are intended for?  Previously we didn't even produce these collections at all.  I included it to silence some DQM/validation warnings.

[2017-08-07 14:02] slava77 commented on #20072
On 8/7/17 6:56 AM, Matthew Nguyen wrote:

most of the ecal reduced rechits are saved to provide full access to the
hits for egamma objects
to be able to recompute cluster shapes or use the info in object
recalibration.
The approach to save the hits works out as long as the fake rate of
egamma objects is reasonably low or if their number per event is small
enough.
Perhaps the default thresholds fro

[2017-08-07 15:32] perrotta opened #20076 "Optimize reducedEalRecHits for HI"
@mandrenguyen
@jainshilpi @Sam-Harper

It was noticed in https://github.com/cms-sw/cmssw/pull/19927#issuecomment-320280028 that the reduced Ecal recHits take significantly longer in HI reconstruction that in pp one. Extracting from that list:

added      +1.62%         0.00 ms/ev ->      215.38 ms/ev reducedEcalRecHitsEB
added      +0.28%         0.00 ms/ev ->        36.92 ms/ev reducedEcalRecHits

[2017-08-07 15:32] perrotta commented on #20076
assign reconstruction

[2017-08-07 15:32] cmsbuild commented on #20076
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-07 15:32] cmsbuild commented on #20076
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-07 15:46] kpedro88 commented on #14895
@davidlange6 if this is going to go in 930, I need feedback ASAP

[2017-08-07 15:59] davidlange6 opened #20077 "Build CMSSW_7_1_29"

[2017-08-07 15:59] davidlange6 commented on #20077
+1

[2017-08-07 15:59] cmsbuild commented on #20077
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-07 15:59] cmsbuild commented on #20077
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_29. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2017-08-07 15:59] cmsbuild commented on #20077
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-08-07 16:00] cmsbuild commented on #20077
The build has started for slc6_amd64_gcc481 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1288/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-07 16:48] kpedro88 commented on #20057
@slava77 should this be assigned to reco or analysis?

[2017-08-07 16:54] slava77 commented on #20057
On 8/7/17 9:48 AM, Kevin Pedro wrote:

can be both, although the initial development of this functionality was
in the analysis

[2017-08-07 20:06] cmsbuild commented on #20077
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_29-slc6_amd64_gcc481/1288
Some tests (

[2017-08-07 20:21] cmsbuild commented on #20077
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_29-slc6_amd64_gcc481/1288

Tests results:
7 6 5 5 3 tests passed, 0 1 0 0 0 failed

[2017-08-08 07:20] davidlange6 commented on #20077
upload all

[2017-08-08 07:20] cmsbuild commented on #20077
Queing Jenkins upload for slc6_amd64_gcc481

[2017-08-08 07:22] cmsbuild commented on #20077
The upload has started for slc6_amd64_gcc481 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/848/console

[2017-08-08 07:24] cmsbuild commented on #20077
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_29-slc6_amd64_gcc481/848
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-08 07:24] cmsbuild commented on #20077
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-08 09:42] davidlange6 commented on #20077
release-notes

[2017-08-08 09:42] cmsbuild commented on #20077
Generating release notes since CMSSW_7_1_28.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-08 09:42] cmsbuild commented on #20077
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_29 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_28 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_29

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2017-08-08 09:44] cmsbuild commented on #20077
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_29

[2017-08-08 11:46] Sam-Harper commented on #20076
Hmm, that does seem excessive. Perhaps we need to tighten the selection criteria for what is "interesting" for HI

[2017-08-09 13:23] mverzett commented on #20031
@davidlange6 any updates on the issue?

[2017-08-09 14:26] davidlange6 commented on #20031
Hi - could you check that CMSSW_9_2_8 works ok for you?
Thanks-

[2017-08-09 16:36] mverzett commented on #20031
@davidlange6 , I can confirm it works. Thanks!

[2017-08-09 16:53] weishi10141993 opened #20105 "Add "hasTrackDetails()" to Fix PackedCandidate in TrackAndVertexUnpacker.cc"
This issue is discussed in: https://github.com/cms-sw/cmssw/issues/19151#issuecomment-307418069
and in:
https://github.com/cms-sw/cmssw/pull/19025#issuecomment-306699120

I saw experts have made changes in some source files, like: https://github.com/cms-sw/cmssw/commit/9dc159582b473fa35975c8f5c62610a47ae2dcd0

Would it be possible to add "hasTrackDetails()" in https://github.com/cms-sw/cmssw/blob/

[2017-08-09 16:53] cmsbuild commented on #20105
A new Issue was created by  @weishi10141993 .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-09 16:58] slava77 commented on #20105
assign analysis

[2017-08-09 16:58] cmsbuild commented on #20105
New categories assigned: analysis

@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-09 17:02] slava77 commented on #20105
@weishi10141993
if you are reasonably familiar with the code already, may I suggest that you make the PR with changes.
This should expedite the update (also considering that it is August).

[2017-08-10 07:53] cmsbuild commented on #20077
The cleanup has started for slc6_amd64_gcc481

[2017-08-10 08:01] cmsbuild commented on #20077
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_29-slc6_amd64_gcc481/755

[2017-08-10 13:18] Sam-Harper commented on #19803
So I had a look into this. So it does rather appear that if this error is triggered, we dont get any single leg conversions. I'm debating what to do about it
1) disable this check (no other similar modules have it)
2) increase the limits by some value, this is simply now we have an extra pixel layer and so needs to be updated

Looking into the code, the layers are not BPIX4 , FPIX3 aware either wh

[2017-08-10 13:28] Dr15Jones commented on #20057
assign reconstruction

[2017-08-10 13:28] cmsbuild commented on #20057
New categories assigned: reconstruction,analysis

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-10 13:42] Dr15Jones commented on #19783
We finally had another one of these errors crop up.
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_9_3_DEVEL_X_2017-08-08-2300/pyRelValMatrixLogs/run/200.0_ZEE+ZEEINPUT+DIGIPU1+RECOPU1+HARVEST/step2_ZEE+ZEEINPUT+DIGIPU1+RECOPU1+HARVEST.log

[code]
The warning comes from the new code
https://github.com/Dr15Jones/cmssw/blob/master/Utilities/XrdAdaptor/src/XrdRequest.cc#L49

So

[2017-08-10 13:46] davidlange6 commented on #19783
possibly related?
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/3656.html

[2017-08-10 13:49] Dr15Jones commented on #19783
I found another one (also in _DEVEL)
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_9_3_DEVEL_X_2017-08-07-2300/pyRelValMatrixLogs/run/250399.0_FS_PREMIXUP15_PU25+FS_PREMIXUP15_PU25/step1_FS_PREMIXUP15_PU25+FS_PREMIXUP15_PU25.log

[code]

[2017-08-10 13:54] Dr15Jones commented on #19783
@davidlange6 I think it would be impossible to know if it related without being able to correlate the file requests with failing CMSSW jobs.

[2017-08-10 14:28] weishi10141993 commented on #20105
I've tested the change on my local machine and made the PR: https://github.com/cms-sw/cmssw/pull/20114

[2017-08-10 14:46] dan131riley opened #20116 "segmentation faults in EcalRawToDigi:ecalDigis"
Two segmentation faults, in the last two devel builds, so far only seen in devel.  EcalRawToDigi hasn't been touched recently.  EcalDigiToRaw was recently updated in #18322

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_9_3_DEVEL_X_2017-08-08-2300/pyRelValMatrixLogs/run/1.0_ProdMinBias+ProdMinBias+DIGIPROD1+RECOPROD1/step3_ProdMinBias+ProdMinBias+DIGIPROD1+RECOPROD1.log
http

[2017-08-10 14:46] cmsbuild commented on #20116
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-10 14:54] Dr15Jones commented on #20116
assign reconstruction

[2017-08-10 14:55] cmsbuild commented on #20116
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-10 15:14] davidlange6 commented on #20116
it looks like it is also a likely cause of problems in IB comparison tests
(#19939) - will revert for now

[2017-08-10 15:22] Dr15Jones commented on #20116
The crash probably happens inside the loop
https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/EventFilter/EcalRawToDigi/src/DCCEBTCCBlock.cc#L72

There are three pointers whare get dereferenced: `pTP_`, `tccP_` (which is a local variable even thought there is an underscore in its name) and `tps_`.

`pTP_` gets its value from mapper which appears to be this code
https://g

[2017-08-10 19:49] bbockelm commented on #19783
I don't think it's related.  It's quite possible (but I suspect rare) to open a file but not read from it, given CMSSW continuously looks for a separate source.

There have historically been issues where Xrootd (client or server, I don't recall which) returns the "wrong response" from a given read.  I wonder if it is possible we have hit one here?

[2017-08-10 21:58] slava77 commented on #19801
+1

#19827 is now merged in 93X.

[2017-08-10 21:58] #19801 closed

[2017-08-10 21:58] cmsbuild commented on #19801
This issue is fully signed and ready to be closed.

[2017-08-11 05:45] davidlange6 opened #20126 "Build CMSSW_9_2_9"

[2017-08-11 05:46] cmsbuild commented on #20126
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-11 05:47] davidlange6 commented on #20126
+1

[2017-08-11 05:47] cmsbuild commented on #20126
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-08-11 05:47] cmsbuild commented on #20126
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-08-11 05:49] cmsbuild commented on #20126
The build has started for slc6_amd64_gcc530 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1289/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-11 05:49] cmsbuild commented on #20126
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1290/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-11 05:49] cmsbuild commented on #20126
The build has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1291/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-11 05:50] cmsbuild commented on #20126
The build has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1292/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-11 08:16] cmsbuild commented on #20126
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9-slc6_amd64_gcc630/1290
Some tests ( r

[2017-08-11 09:10] cmsbuild commented on #20126
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9-slc6_amd64_gcc630/1290

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-11 09:14] cmsbuild commented on #20126
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9-slc7_amd64_gcc630/1292
Some tests ( r

[2017-08-11 09:39] cmsbuild commented on #20126
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9-slc7_amd64_gcc530/1291
Some tests ( r

[2017-08-11 10:06] cmsbuild commented on #20126
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9-slc7_amd64_gcc630/1292

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-11 10:23] cmsbuild commented on #20126
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9-slc7_amd64_gcc530/1291

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-11 11:28] cmsbuild commented on #20126
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9-slc6_amd64_gcc530/1289
Some tests ( r

[2017-08-11 12:08] cmsbuild commented on #20126
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9-slc6_amd64_gcc530/1289

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-11 15:51] dildick opened #20135 "How to apply code style suggestion in git-diff.patch"
The CMSSW code style was updated recently. The bot is checking each PR and makes a suggestion such as: https://cmssdt.cern.ch/SDT/jenkins-artifacts/pr-code-checks/PR-19990/64/git-diff.patch. Is there a way to have the bot apply them after a command e.g. `@cmsbuild apply-code-syle-patch`? If that is not possible, is there an easy way for users to apply the suggestion?

[2017-08-11 15:52] cmsbuild commented on #20135
A new Issue was created by  @dildick Sven Dildick.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-11 15:59] Dr15Jones commented on #20135
assign core

[2017-08-11 15:59] cmsbuild commented on #20135
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-11 17:52] davidlange6 commented on #20126
upload all

[2017-08-11 17:52] cmsbuild commented on #20126
Queing Jenkins upload for slc6_amd64_gcc530

[2017-08-11 17:52] cmsbuild commented on #20126
Queing Jenkins upload for slc6_amd64_gcc630

[2017-08-11 17:52] cmsbuild commented on #20126
Queing Jenkins upload for slc7_amd64_gcc530

[2017-08-11 17:52] cmsbuild commented on #20126
Queing Jenkins upload for slc7_amd64_gcc630

[2017-08-11 17:53] cmsbuild commented on #20126
The upload has started for slc6_amd64_gcc530 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/849/console

[2017-08-11 17:53] cmsbuild commented on #20126
The upload has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/851/console

[2017-08-11 17:53] cmsbuild commented on #20126
The upload has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/852/console

[2017-08-11 17:53] cmsbuild commented on #20126
The upload has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/850/console

[2017-08-11 17:55] cmsbuild commented on #20126
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_9-slc7_amd64_gcc630/852
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-11 17:55] cmsbuild commented on #20126
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-11 17:55] cmsbuild commented on #20126
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_9-slc7_amd64_gcc530/851
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-11 17:55] cmsbuild commented on #20126
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-11 17:57] cmsbuild commented on #20126
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_9-slc6_amd64_gcc530/849
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-11 17:57] cmsbuild commented on #20126
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-11 17:58] davidlange6 commented on #20126
release-notes

[2017-08-11 17:59] cmsbuild commented on #20126
Generating release notes since CMSSW_9_2_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-11 17:59] cmsbuild commented on #20126
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_9 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_9

Cheers,
cms-bot

You can also click <a href="mai

[2017-08-11 17:59] cmsbuild commented on #20126
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_9-slc6_amd64_gcc630/850
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-11 17:59] cmsbuild commented on #20126
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-11 18:00] cmsbuild commented on #20126
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_9

[2017-08-12 13:44] davidlange6 opened #20146 "Build CMSSW_9_2_9_patch1"

[2017-08-12 13:44] davidlange6 commented on #20146
+1

[2017-08-12 13:45] cmsbuild commented on #20146
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-12 13:45] cmsbuild commented on #20146
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_9_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-08-12 13:45] cmsbuild commented on #20146
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-08-12 13:47] cmsbuild commented on #20146
The build has started for slc6_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1294/console
CMSDIST Branch: [REL/CMSSW_9_2_9/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_9/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-12 13:47] cmsbuild commented on #20146
The build has started for slc6_amd64_gcc530 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1293/console
CMSDIST Branch: [REL/CMSSW_9_2_9/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_9/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-12 13:47] cmsbuild commented on #20146
The build has started for slc7_amd64_gcc530 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1295/console
CMSDIST Branch: [REL/CMSSW_9_2_9/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_9/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-12 13:47] cmsbuild commented on #20146
The build has started for slc7_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1296/console
CMSDIST Branch: [REL/CMSSW_9_2_9/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_9/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-12 14:14] cmsbuild commented on #20146
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc630/1294
Some te

[2017-08-12 14:15] cmsbuild commented on #20146
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc530/1295
Some te

[2017-08-12 14:30] cmsbuild commented on #20146
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc630/1296
Some te

[2017-08-12 14:53] cmsbuild commented on #20146
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc630/1294

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-12 14:56] cmsbuild commented on #20146
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc530/1293

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-12 15:05] cmsbuild commented on #20146
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc530/1295

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-12 16:02] cmsbuild commented on #20146
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc630/1296

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-13 16:08] cmsbuild commented on #20126
The cleanup has started for slc6_amd64_gcc530

[2017-08-13 16:08] cmsbuild commented on #20126
The cleanup has started for slc6_amd64_gcc630

[2017-08-13 16:08] cmsbuild commented on #20126
The cleanup has started for slc7_amd64_gcc530

[2017-08-13 16:08] cmsbuild commented on #20126
The cleanup has started for slc7_amd64_gcc630

[2017-08-13 16:08] #20126 closed

[2017-08-13 16:09] cmsbuild commented on #20126
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_9-slc6_amd64_gcc630/757

[2017-08-13 16:16] cmsbuild commented on #20126
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_9-slc6_amd64_gcc530/756

[2017-08-13 16:16] cmsbuild commented on #20126
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_9-slc7_amd64_gcc530/758

[2017-08-13 16:16] cmsbuild commented on #20126
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_9-slc7_amd64_gcc630/759

[2017-08-14 08:10] smuzaffar commented on #20135
@dildick , cms-bot can do the automatic apply of the patch but I am afraid then this will be abused and dev's might not run it before making the PR.

One can apply the patch by doing the following
[code]

Current idea is that, devs, after making their changes run 'scram build code-checks' and compile and test the final changes before making a PR.

[2017-08-14 13:22] fwyzard commented on #19395
@Dr15Jones @dmitrijus I have a first implementation of locking all accesses to the MonitorElements' ROOT objects: https://github.com/cms-sw/cmssw/pull/20158 .

Can you have a look and send me your comments ?

It is still incomplete (see the TODO list) and I haven't tried to update all the client code yet.

[2017-08-14 14:27] davidlange6 opened #20161 "ParameterSet support"
asked in #20144

@Dr15Jones @wddgit can you think of any way to support
[code]
directly in `ParameterSet` ?

I I understand that it cannot be done as an overload or partial specialisation of `ParameterSet::getParameter<T>(...)` .

[2017-08-14 14:27] davidlange6 commented on #20161
assign core

[2017-08-14 14:27] cmsbuild commented on #20161
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-14 14:27] cmsbuild commented on #20161
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-14 15:33] fwyzard commented on #20135
if the patches were on a publicly accessible page, one could just do

wget -q -O - https://cmssdt.cern.ch/SDT/jenkins-artifacts/pr-code-checks/PR-19990/64/git-diff.patch | patch -p1

[2017-08-14 15:37] Dr15Jones commented on #20161
How about just a helper function that takes the array's template arguments and the ParameterSet? Internally it could get an std::vector of the correct type and throw an exception if the python list is the wrong size.

[2017-08-14 15:39] fwyzard commented on #19395
...and as soon as I started looking at user code to fix, I found a use case we had not discussed:
[code]

I don't think any kind of concurrent histogram can support this out of the box: even if `GetBinContent()` and `SetBinContent()` are fully atomic, the combination of the two is not.

If I stick to an `std::recursive_mutex` I can expose the locking and do something like
[code]
or maybe
[code]

D

[2017-08-14 15:52] Dr15Jones commented on #19395
A templated function that takes a function as an argument. The function takes the lock, calls the functor and the releases the lock. That avoids exposing the lock.

[2017-08-14 16:15] slava77 opened #20165 "review or confirm OOT photon reco selections in HI"
@kmcdermo @mandrenguyen @Sam-Harper in case there is a continued use case for OOT photons in HI reco, it may be worth to check the selections. IIUC, they appeared in HI "for free" as a result of updates to default photon sequences. However, the HI reco overrides some thresholds and selections which may have missed possibly needed changes for OOT photons.

I noticed some changes in connection with

[2017-08-14 16:15] cmsbuild commented on #20165
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-14 16:17] slava77 commented on #20165
assign reconstruction

[2017-08-14 16:17] cmsbuild commented on #20165
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-14 16:21] fwyzard commented on #19395
OK, let me go through all the user code and check if anybody would need to lock multiple histograms at the same time...

[2017-08-14 17:05] kmcdermo commented on #20165
@slava77 , I really cannot say what HI might need with ootPhotons, and as mentioned in the PR by Marco, they came for "free" when we were developing them.  I guess this is more of a question for the EGM in coordination with the HI experts.

[2017-08-14 21:37] dildick commented on #20135
@smuzaffar I just tried it out. I think `scram build code-checks` is just fine. Thanks!

[2017-08-14 21:37] #20135 closed

[2017-08-15 01:46] davidlange6 commented on #20146
abort

[2017-08-15 01:47] cmsbuild commented on #20146
Deleting CMSSW_9_2_9_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_9_2_9_patch1 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_9_patch1/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_9_patch1/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_9_patch1/slc7_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_9_patch1/slc7_amd64_

[2017-08-15 01:48] davidlange6 opened #20169 "Build CMSSW_9_2_9_patch1"

[2017-08-15 01:48] cmsbuild commented on #20169
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-15 01:48] davidlange6 commented on #20169
+1

[2017-08-15 01:48] cmsbuild commented on #20169
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_9_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-08-15 01:48] cmsbuild commented on #20169
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-08-15 01:50] cmsbuild commented on #20169
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1297/console
CMSDIST Branch: [REL/CMSSW_9_2_9/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_9/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-15 01:50] cmsbuild commented on #20169
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1298/console
CMSDIST Branch: [REL/CMSSW_9_2_9/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_9/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-15 01:56] cmsbuild commented on #20169
The build has started for slc7_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1299/console
CMSDIST Branch: [REL/CMSSW_9_2_9/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_9/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-15 02:14] cmsbuild commented on #20169
The build has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1300/console
CMSDIST Branch: [REL/CMSSW_9_2_9/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_9/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-15 02:18] cmsbuild commented on #20169
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc630/1298
Some te

[2017-08-15 02:23] cmsbuild commented on #20169
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc530/1299
Some te

[2017-08-15 02:25] cmsbuild commented on #20169
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc530/1297
Some te

[2017-08-15 02:42] cmsbuild commented on #20169
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc630/1300
Some te

[2017-08-15 03:04] cmsbuild commented on #20169
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc530/1297

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-15 03:08] cmsbuild commented on #20169
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc630/1298

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-15 03:08] cmsbuild commented on #20169
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc530/1299

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-15 03:30] cmsbuild commented on #20169
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc630/1300

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-15 04:26] davidlange6 commented on #20169
upload all

On 14 Aug 2017, at 20:09, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc630/1298

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because

[2017-08-15 04:27] cmsbuild commented on #20169
Queing Jenkins upload for slc6_amd64_gcc530

[2017-08-15 04:27] cmsbuild commented on #20169
Queing Jenkins upload for slc6_amd64_gcc630

[2017-08-15 04:27] cmsbuild commented on #20169
Queing Jenkins upload for slc7_amd64_gcc530

[2017-08-15 04:27] cmsbuild commented on #20169
Queing Jenkins upload for slc7_amd64_gcc630

[2017-08-15 04:29] cmsbuild commented on #20169
The upload has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/854/console

[2017-08-15 04:29] cmsbuild commented on #20169
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/853/console

[2017-08-15 04:31] cmsbuild commented on #20169
The upload has started for slc7_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/855/console

[2017-08-15 04:31] cmsbuild commented on #20169
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc630/854
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-15 04:31] cmsbuild commented on #20169
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-15 04:31] cmsbuild commented on #20169
The upload has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/856/console

[2017-08-15 04:31] cmsbuild commented on #20169
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_9_patch1-slc6_amd64_gcc530/853
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-15 04:31] cmsbuild commented on #20169
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-15 04:33] cmsbuild commented on #20169
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc630/856
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-15 04:33] cmsbuild commented on #20169
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-15 04:36] cmsbuild commented on #20169
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_9_patch1-slc7_amd64_gcc530/855
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-15 04:36] cmsbuild commented on #20169
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-15 04:44] davidlange6 commented on #20169
release-notes

[2017-08-15 04:45] cmsbuild commented on #20169
Generating release notes since CMSSW_9_2_9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-15 04:45] cmsbuild commented on #20169
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_2_9_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_9_patch1

Cheers,
cm

[2017-08-15 04:46] cmsbuild commented on #20169
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_9_patch1

[2017-08-15 07:31] smuzaffar commented on #20135
patches are now accessible publicly via  https://cmssdt.cern.ch/SDT/code-checks/....
cms-bot is updated to mention the new url.

[2017-08-15 08:17] dmitrijus commented on #19395
Same suggestion as @Dr15Jones said.

Another which I come up with: with this concurrent filling, what happens to lumi histograms?
How are they "integrated", does it become "a snapshot" of the DQMStore, at the end of global end lumi?
Since modules will see event in parallel, the end lumi transition is no longer consistent.

I guess you could still continue to merge each module at their own end lumi

[2017-08-15 09:23] rovere commented on #19395
Lumi histograms should be booked at the right lumi begin transition and
labelled with the correct lumi numbering inside the DQMStore, eventually
with module and stream number set to 0 if they have to be filled
concurrently as globals.

On Tue, Aug 15, 2017, 10:18 Dmitrijus <notifications@github.com> wrote:

--
Ciao,
--Marco.

___________
Marco Rovere
Marco.Rovere@cern.ch
CERN EP-CMG-CO | room 40 3

[2017-08-15 11:41] dmitrijus commented on #19395
@rovere Correct. But thiis does involve a bit of engineering...

So, then it means we either split bookHistograms into two methods: bookHistograms4Run and bookHistograms4Lumi. Or split at a higher level, DQMEDAnalyzerRun or DQMEDAnalyzerLumi.

[2017-08-15 13:14] slava77 opened #20173 "PFEnergyCalibration with large changes in "e""
This issue is to follow up on changes observed in connection to #20067
After a switch to PFCalibration_v7_mc	from PFCalibration_v6_mc,
the workflows from run1 or 2016 (data) processing have a significant increase in low-et photons (typically pt<0.1 GeV). These photons show up as a downstream effect of PFEnergyCalibration::energyEmHad having inputs with h = 0, e small (under or around 1 GeV) and ou

[2017-08-15 13:14] cmsbuild commented on #20173
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-15 13:14] slava77 commented on #20173
assign reconstruction,alca

[2017-08-15 13:14] cmsbuild commented on #20173
New categories assigned: reconstruction,alca

@lpernie,@slava77,@cerminar,@perrotta,@arunhep,@franzoni,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-15 16:42] slava77 commented on #19828
@davidlange6  @Dr15Jones do you have a suggestion for this one?
My other thought is to make the ConfigBuilder know about this module and inject it at the end of the schedule or otherwise attach it to something that runs at the end of the job already by decision of the ConfigBuilder.

[2017-08-15 18:41] Dr15Jones commented on #19828
@slava77 the only way I can see this working is if logErrorHarvester tells the framework that it is dependent upon all the data products that all output modules are dependent upon. That is the only way to guarantee that the module will run after all unscheduled modules are run.

[2017-08-15 20:05] slava77 commented on #19828
On 8/15/17 11:41 AM, Chris Jones wrote:

technically this module output depends on what the MessageLogger has
collected in the event,
so it does not depend on data produced by upstream modules.
The solution that makes it run after other modules by declaring
dependence on a priory unknown list of modules running upstream sounds
like a bit of a hack.

[2017-08-15 20:12] Dr15Jones commented on #19828
View it a different way. The LogErrorHarvester depends on the output (via MessageLogger) of modules. They way one tells the framework about such a dependency is via consumes.

[2017-08-15 20:15] slava77 commented on #19828
On 8/15/17 1:12 PM, Chris Jones wrote:

What about analyzers?

For the modules that actually produce something, what is the proper
syntax for "consumes<Everything>" ?

[2017-08-15 20:49] Dr15Jones commented on #19828
In the constructor
[code]
This says it wants data for the event and which is in the same process as this module.
[The consumes call I basically took from the edm::global::OutputModuleBase]

[2017-08-15 21:00] Dr15Jones commented on #19828
EDAnalyzers on EndPaths different from the EndPath holding an OutputModule can run concurrently with the OutputModule. If you want to gather their messages (which would decrease the available concurrency) you could make the LogErrorHarvester `consume` the `EndPathStatus` for the EndPaths holding those EDAnalyzers.

[2017-08-15 21:03] Dr15Jones commented on #19828
I have a correction to the code
[code]
We can't have the module be dependent upon all `edm::EndPathStatus` since the OutputModule is on an EndPath and the OutputModule depends on data from this module.

[2017-08-15 21:05] Dr15Jones commented on #19828
NOTE: EventContentAnalyzer also shows how to 'get everything'
https://github.com/cms-sw/cmssw/blob/3ae05bf79647e3ea01b8c430513a90fb233aa4db/FWCore/Modules/src/EventContentAnalyzer.cc#L303

[2017-08-15 21:19] Dr15Jones commented on #19395
@fwyzard could the strange code you found work by using a `weight` instead of explicitly getting the bin content?

[2017-08-16 07:41] Sam-Harper commented on #20165
I think this is more of a question to the HI experts, at least for the initial recommendations. So I will wait for their input and comments.

[2017-08-16 07:44] mandrenguyen commented on #20165
We expect negligible OOT PU, when for data in which the HI reco sequence is invoked.  Does that help to clarify?

[2017-08-16 07:52] Sam-Harper commented on #20165
So I think this is rapidly concluding as "nobody really cares about OOT photons in HI". So we can either disable the production if it is costing diskspace/cpu in HI or leave as is.

[2017-08-16 08:16] mandrenguyen commented on #20165
Disable seems to make sense.

[2017-08-16 12:12] slava77 commented on #20165
On 8/16/17 12:44 AM, Matthew Nguyen wrote:

the main target for this ootPhoton reco is not OOT PU from 25 ns away or
more,
the target is primarily photons that could be reconstructed with times
about 3ns and more.
The regular PF reco rejects ECAL hits with large times.
The oot photon reco  targets long-lived particles
(and for some background studies it also gives access to the negative
tail of th

[2017-08-16 16:36] Dr15Jones opened #20188 "SiPixelClusterSource can have inconsistent histogram binning"
Several IB RelVal workflows are failing randomly with the error:
[code]

I believe the problem is this line
https://github.com/cms-sw/cmssw/blob/f0c24003473f32f44321ad2877df0438e9ba7929/DQM/SiPixelMonitorCluster/src/SiPixelClusterSource.cc#L165

Notice that for layers 1, 2 and 3 the y axis has explicitly defined limits. for layer 4, the value for `ybins` is `-1`. I believe the use of `-1` tells RO

[2017-08-16 16:36] Dr15Jones commented on #20188
assign dqm

[2017-08-16 16:36] cmsbuild commented on #20188
New categories assigned: dqm

@kmaeshima,@vanbesien,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-16 16:36] cmsbuild commented on #20188
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-16 19:52] Dr15Jones opened #20190 "Early delete exception message does not have proper context"
If a data product which was deleted early is requested via prefetching, we get the message

[code]
which does not contain information about what module requested the prefetch. The traceback for the throw is

[code]

and it is ultimately caught in the Path handling code.

This needs to be fixed so that the module doing the prefetching is in the context.

[2017-08-16 19:52] cmsbuild commented on #20190
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-16 19:55] Dr15Jones commented on #20190
assign core

[2017-08-16 19:55] cmsbuild commented on #20190
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-17 02:53] cmsbuild commented on #20169
The cleanup has started for slc6_amd64_gcc530

[2017-08-17 02:53] cmsbuild commented on #20169
The cleanup has started for slc6_amd64_gcc630

[2017-08-17 02:53] cmsbuild commented on #20169
The cleanup has started for slc7_amd64_gcc530

[2017-08-17 02:53] cmsbuild commented on #20169
The cleanup has started for slc7_amd64_gcc630

[2017-08-17 02:53] #20169 closed

[2017-08-17 02:54] cmsbuild commented on #20169
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_9_patch1-slc6_amd64_gcc630/761

[2017-08-17 02:54] cmsbuild commented on #20169
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_9_patch1-slc6_amd64_gcc530/760

[2017-08-17 02:59] cmsbuild commented on #20169
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_9_patch1-slc7_amd64_gcc530/762

[2017-08-17 02:59] cmsbuild commented on #20169
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_9_patch1-slc7_amd64_gcc630/763

[2017-08-17 07:22] perrotta opened #20192 "hltSiPixelPhase1TrackClustersAnalyzer finds incompatible configurations for DQM histos"
Phase 1 logs show repeatedly the error:

%MSG-e SiPixelPhase1TrackClusters:   SiPixelPhase1TrackClusters:hltSiPixelPhase1TrackClustersAnalyzer  16-Aug-2017 18:09:35 CEST Run: 297227 Event: 13844078
incompatible configuration 12!=23
%MSG

(see e.g. https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_9_3_X_2017-08-16-2300/pyRelValMatrixLogs/run/136.781_RunDoubleEG2017B+RunDoubleEG20

[2017-08-17 07:22] perrotta commented on #20192
assign dqm

[2017-08-17 07:22] cmsbuild commented on #20192
New categories assigned: dqm

@kmaeshima,@vanbesien,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-17 07:22] cmsbuild commented on #20192
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-17 08:09] mandrenguyen commented on #20165
Beam background studies certainly sound potentially useful.  I did a small test and these collections appear to be both fast to produce and light in terms of output size, so there appears to be no serious constraint on that front.  In general we are trying to figure out how to tune thresholds for the egamma sequences.  See the hypernews thread from @ttrk :  https://hypernews.cern.ch/HyperNews/CMS/

[2017-08-17 08:12] kmcdermo commented on #20165
I am also at CERN to join any discussions on these objects.

On Thu, Aug 17, 2017 at 10:09 AM, Matthew Nguyen <notifications@github.com>
wrote:

[2017-08-17 19:11] davidlange6 opened #20202 "Build CMSSW_9_1_2_patch1"

[2017-08-17 19:11] cmsbuild commented on #20202
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-17 19:11] davidlange6 commented on #20202
+1

[2017-08-17 19:11] cmsbuild commented on #20202
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_1_X

[2017-08-17 19:12] cmsbuild commented on #20202
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-08-17 19:13] cmsbuild commented on #20202
The build has started for slc6_amd64_gcc530 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1301/console
CMSDIST Branch: [REL/CMSSW_9_1_2/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_1_2/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-17 19:13] cmsbuild commented on #20202
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2_patch1-slc6_amd64_gcc630/1302

[2017-08-17 19:13] cmsbuild commented on #20202
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1303/console
CMSDIST Branch: [REL/CMSSW_9_1_2/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_1_2/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-17 19:13] cmsbuild commented on #20202
The build has started for slc7_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1304/console
CMSDIST Branch: [REL/CMSSW_9_1_2/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_1_2/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-17 19:41] cmsbuild commented on #20202
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2_patch1-slc7_amd64_gcc530/1303
Some te

[2017-08-17 19:43] cmsbuild commented on #20202
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2_patch1-slc7_amd64_gcc630/1304
Some te

[2017-08-17 20:00] cmsbuild commented on #20202
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2_patch1-slc6_amd64_gcc530/1301
Some te

[2017-08-17 20:39] cmsbuild commented on #20202
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2_patch1-slc7_amd64_gcc530/1303

Tests results:
18 17 16 14 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-17 20:49] cmsbuild commented on #20202
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2_patch1-slc7_amd64_gcc630/1304

Tests results:
18 17 16 14 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-17 21:14] davidlange6 commented on #20202
upload all

[2017-08-17 21:14] cmsbuild commented on #20202
Queing Jenkins upload for slc6_amd64_gcc530

[2017-08-17 21:14] cmsbuild commented on #20202
Queing Jenkins upload for slc7_amd64_gcc530

[2017-08-17 21:14] cmsbuild commented on #20202
Queing Jenkins upload for slc7_amd64_gcc630

[2017-08-17 21:15] cmsbuild commented on #20202
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/859/console

[2017-08-17 21:15] cmsbuild commented on #20202
The upload has started for slc6_amd64_gcc530 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/857/console

[2017-08-17 21:15] cmsbuild commented on #20202
The upload has started for slc7_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/858/console

[2017-08-17 21:17] cmsbuild commented on #20202
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_2_patch1-slc7_amd64_gcc530/859
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-17 21:17] cmsbuild commented on #20202
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-17 21:17] cmsbuild commented on #20202
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_2_patch1-slc7_amd64_gcc630/858
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-17 21:17] cmsbuild commented on #20202
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-17 21:19] cmsbuild commented on #20202
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_2_patch1-slc6_amd64_gcc530/857
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-17 21:19] cmsbuild commented on #20202
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-17 21:25] davidlange6 commented on #20202
release-notes

Cheers,
David

On 17 Aug 2017, at 14:21, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_2_patch1-slc6_amd64_gcc530/857
The release is now being installed, you can see the progress here:
https://c

[2017-08-17 21:25] cmsbuild commented on #20202
Generating release notes since CMSSW_9_1_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-17 21:26] cmsbuild commented on #20202
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_1_2_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_1_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_1_2_patch1

Cheers,
cms-bot

You can als

[2017-08-17 21:27] cmsbuild commented on #20202
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_2_patch1

[2017-08-17 21:47] cmsbuild commented on #20202
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_2_patch1-slc6_amd64_gcc530/1301

Tests results:
18 18 17 15 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-17 22:00] Dr15Jones opened #20203 "cmsDriver.py is calling convertToUnscheduled at the wrong time"
Looking at the results of
[code]

I found that
[code]

was being called after
[code]

Unfortunately the `miniAOD_customizeAllMC` injects more Paths and/or EndPaths which contain EDProducers which, in turn, never get moved to Tasks.

[2017-08-17 22:00] cmsbuild commented on #20203
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-18 02:00] davidlange6 commented on #20203
these facts are all correct but it was a feature not a bug.why is this "wrong"?

[2017-08-18 13:01] Dr15Jones commented on #20203
Doing a 'partial' convert to unschedule can lead to unrunnable scheduled. We were testing breaking the very large EndPaths (mostly containing DQM modules) into many EndPaths each with only one module. After doing so we were getting unrunnable module ordering problems like
[code]
The problem stemmed from `particleFlowDisplacedVertex` being made 'unscheduled' in reconstruction but later being added

[2017-08-18 13:04] mandrenguyen commented on #20165
@Sam-Harper Are you also at CERN and available for a coffee length chat next week?

[2017-08-18 13:09] Sam-Harper commented on #20165
Yes I am but I'm on call so will not be around in the mornings most likely. Tuesday afternoon?

[2017-08-18 13:20] mandrenguyen commented on #20165
great!  @ttrk can join as well. Either during 1-2PM or anytime after about 3PM should work.

[2017-08-18 13:23] makortel commented on #20203
I have the impression that many of the DQM modules do not need to be on an EndPath.

[2017-08-18 13:29] Dr15Jones commented on #20203
The idea was most (if not all) of the DQM modules are independent of each other and can be run in parallel. In order to do that with the framework, one can put the modules on their own EndPath or Paths.

[2017-08-18 15:07] davidlange6 commented on #20203
thats true if you mean the DQMEDAnalyzers (or whatever their name is) - but thats not true of all modules on the dqm sequences (unfortunately!!) in general

[2017-08-18 15:15] davidlange6 opened #20210 "Build CMSSW_9_3_0_pre4"

[2017-08-18 15:15] davidlange6 commented on #20210
+1

[2017-08-18 15:15] cmsbuild commented on #20210
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-18 15:16] cmsbuild commented on #20210
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-08-18 15:16] cmsbuild commented on #20210
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-08-18 15:16] cmsbuild commented on #20210
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1305/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-18 15:16] cmsbuild commented on #20210
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1306/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX-dev](https://github.com/cms-sw/pkgtools/commits/V00-30-XX-dev)

[2017-08-18 15:18] cmsbuild commented on #20210
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1307/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-18 15:18] cmsbuild commented on #20210
The build has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1309/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-18 15:18] cmsbuild commented on #20210
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1308/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-18 18:35] cmsbuild commented on #20210
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc6_amd64_gcc630/1305
Some test

[2017-08-18 18:44] cmsbuild commented on #20210
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc6_amd64_gcc700/1308
Some test

[2017-08-18 19:13] cmsbuild commented on #20210
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc7_aarch64_gcc700/1307
Some

[2017-08-18 19:33] cmsbuild commented on #20210
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc6_amd64_gcc630/1305

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-18 19:46] cmsbuild commented on #20210
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc6_amd64_gcc700/1308

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-18 20:04] cmsbuild commented on #20210
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc7_amd64_gcc630/1309
Some test

[2017-08-18 21:09] cmsbuild commented on #20210
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc7_amd64_gcc630/1309

Tests results:
20 18 17 14 9 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-08-18 21:14] cmsbuild commented on #20210
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc7_aarch64_gcc700/1307

Tests results:
20 18 17 14 9 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-08-19 19:38] cmsbuild commented on #20202
The cleanup has started for slc6_amd64_gcc530

[2017-08-19 19:38] cmsbuild commented on #20202
The cleanup has started for slc7_amd64_gcc530

[2017-08-19 19:38] cmsbuild commented on #20202
The cleanup has started for slc7_amd64_gcc630

[2017-08-19 19:38] #20202 closed

[2017-08-19 19:39] cmsbuild commented on #20202
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_2_patch1-slc7_amd64_gcc630/766

[2017-08-19 19:43] cmsbuild commented on #20202
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_2_patch1-slc7_amd64_gcc530/765

[2017-08-19 19:43] cmsbuild commented on #20202
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_2_patch1-slc6_amd64_gcc530/764

[2017-08-19 21:31] davidlange6 commented on #20210
upload all

On 18 Aug 2017, at 12:47, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc700
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre4-slc6_amd64_gcc700/1308

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because y

[2017-08-19 21:33] cmsbuild commented on #20210
Queing Jenkins upload for slc6_amd64_gcc630

[2017-08-19 21:33] cmsbuild commented on #20210
Queing Jenkins upload for slc6_amd64_gcc700

[2017-08-19 21:33] cmsbuild commented on #20210
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-08-19 21:33] cmsbuild commented on #20210
Queing Jenkins upload for slc7_amd64_gcc630

[2017-08-19 21:35] cmsbuild commented on #20210
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/860/console

[2017-08-19 21:35] cmsbuild commented on #20210
The upload has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/861/console

[2017-08-19 21:35] cmsbuild commented on #20210
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/862/console

[2017-08-19 21:35] cmsbuild commented on #20210
The upload has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/863/console

[2017-08-19 21:37] cmsbuild commented on #20210
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre4-slc6_amd64_gcc630/860
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-19 21:37] cmsbuild commented on #20210
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre4-slc6_amd64_gcc700/861
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-19 21:37] cmsbuild commented on #20210
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-19 21:37] cmsbuild commented on #20210
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-19 21:38] cmsbuild commented on #20210
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre4-slc7_amd64_gcc630/863
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-19 21:38] cmsbuild commented on #20210
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-19 21:39] cmsbuild commented on #20210
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre4-slc7_aarch64_gcc700/862
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-19 22:04] davidlange6 commented on #20210
release-notes

On 19 Aug 2017, at 14:40, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc7_aarch64_gcc700
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre4-slc7_aarch64_gcc700/862
The release is now being installed, you can see the progress here:
https://cmssdt.cern.ch

[2017-08-19 22:05] cmsbuild commented on #20210
Generating release notes since CMSSW_9_3_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-19 22:05] cmsbuild commented on #20210
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_3_0_pre4 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_0_pre4

Cheers,
cms-bot

You can also cl

[2017-08-19 22:15] cmsbuild commented on #20210
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre4

[2017-08-21 15:14] Dr15Jones opened #20220 "Slow processing of reconstruction configuration"
Using python's cProfile package I determined that 44% of the time reading in a standard reconstruction configuration is spent in `miniAOD_customizeAllMC`. The time in that routine is dominated by the three (indirect) calls to `runMetCorAndUncForMiniAODProduction` and that routine is dominated by the three calls to `RunMETCorrectionsAndUncertainties.__call__`. The `__call__` each make one call to `

[2017-08-21 15:14] cmsbuild commented on #20220
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-21 15:15] Dr15Jones commented on #20220
assign reconstruction

[2017-08-21 15:15] cmsbuild commented on #20220
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-21 20:08] cmsbuild commented on #20210
The cleanup has started for slc7_aarch64_gcc700

[2017-08-21 20:08] cmsbuild commented on #20210
The cleanup has started for slc6_amd64_gcc630

[2017-08-21 20:08] cmsbuild commented on #20210
The cleanup has started for slc6_amd64_gcc700

[2017-08-21 20:08] cmsbuild commented on #20210
The cleanup has started for slc7_amd64_gcc630

[2017-08-21 20:08] #20210 closed

[2017-08-21 20:09] cmsbuild commented on #20210
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre4-slc7_aarch64_gcc700/769

[2017-08-21 20:09] cmsbuild commented on #20210
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre4-slc6_amd64_gcc700/768

[2017-08-21 20:09] cmsbuild commented on #20210
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre4-slc6_amd64_gcc630/767

[2017-08-21 20:19] cmsbuild commented on #20210
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre4-slc7_amd64_gcc630/770

[2017-08-22 10:21] mandrenguyen commented on #20165
Does 3PM in the B40 lobby work?

[2017-08-22 10:47] Sam-Harper commented on #20165
ah so the run meeting is at 15:00. I can do anytime after 13:30 as long I finish by 15:00

[2017-08-22 11:35] mandrenguyen commented on #20165
@ttrk has a talk at 14:00.  Are you free at all after the run meeting?

[2017-08-22 11:41] Sam-Harper commented on #20165
yes

[2017-08-22 11:45] mandrenguyen commented on #20165
Just shoot us a message when you're free and we'll head over.  We're sitting in a workshop, but we can skip out.

[2017-08-22 15:27] kpedro88 commented on #18425
@Dr15Jones I think this can be closed now

[2017-08-22 15:28] kpedro88 commented on #16680
assign upgrade

[2017-08-22 15:29] cmsbuild commented on #16680
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-22 15:30] kpedro88 commented on #16680
addressed by #19889, w/ followup #20104 and related changes in #19883, #19480

[2017-08-22 15:30] kpedro88 commented on #16680
+1

[2017-08-22 15:30] cmsbuild commented on #16680
This issue is fully signed and ready to be closed.

[2017-08-22 15:30] Dr15Jones commented on #18425
+1

[2017-08-22 15:30] cmsbuild commented on #18425
This issue is fully signed and ready to be closed.

[2017-08-22 16:41] mandrenguyen commented on #20165
It looks like we didn't manage to discuss today.  I leave tomorrow at 2PM.  Any chance we can discuss before that?

[2017-08-22 16:47] Sam-Harper commented on #20165
Yes sorry, p5 emergency came up and its only just resolved. I dont think we will be able to discuss because unfortunately I'm on call and things like this come up so I cant reliably commit to a meeting tomorrow either.

There is the possibility of 13:15 ish tomorrow but again something could come up.

[2017-08-22 16:51] mandrenguyen commented on #20165
understood.  If you manage to avoid an emergency tomorrow give us a holler.

[2017-08-23 10:40] Sam-Harper commented on #20165
So I'm free for a chat at 13:30 in B40.

[2017-08-23 11:26] ttrk commented on #20165
good. we are in B40 now.

[2017-08-23 15:00] slava77 opened #20247 "LogWarning from HcalSeverityLevelComputer: level 8 already defined in 2017 HLT"
Sometime shortly before 9_3_0_pre3 this warning started showing up in 2017 matrix workflows running HLT (e.g. 136.788 step2)

[code]

This may be an indication of a problem in the setup.

@kpedro88  @deguio @abdoulline

[2017-08-23 15:00] cmsbuild commented on #20247
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-23 15:00] slava77 commented on #20247
assign reconstruction

[2017-08-23 15:01] slava77 commented on #20247
assign hlt

[2017-08-23 15:01] cmsbuild commented on #20247
New categories assigned: hlt,reconstruction

@Martin-Grunewald,@slava77,@perrotta,@silviodonato,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-23 15:01] kpedro88 commented on #20247
@jaehyeok please take a look

[2017-08-23 15:47] jaehyeok commented on #20247
The error message is caused by https://its.cern.ch/jira/browse/CMSHLT-1406, which introduced multiple "sevLevel = cms.int32( 8 )" definitions.

This should be fixed by https://its.cern.ch/jira/browse/CMSHLT-1447 (item [2]).

Btw, this error message does not have any impact on the performance because all rechits with severitylevel <10 are considered good at HLT.

[2017-08-23 15:49] Martin-Grunewald commented on #20247
And in turn the above fix should be part of the upcoming HLT menu ("Beatrice" - V3.0).

[2017-08-23 21:58] davidlange6 commented on #20220
see also #18800

[2017-08-24 16:03] davidlange6 opened #20261 "Build CMSSW_9_2_10"

[2017-08-24 16:03] cmsbuild commented on #20261
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-08-24 16:04] davidlange6 commented on #20261
+1

[2017-08-24 16:05] cmsbuild commented on #20261
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-08-24 16:06] cmsbuild commented on #20261
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1310/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-24 16:07] cmsbuild commented on #20261
The build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1311/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-24 16:07] cmsbuild commented on #20261
The build has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1312/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-24 16:07] cmsbuild commented on #20261
The build has started for slc7_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1313/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-08-24 19:07] cmsbuild commented on #20261
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_10-slc6_amd64_gcc630/1311
Some tests (

[2017-08-24 19:11] cmsbuild commented on #20261
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_10-slc7_amd64_gcc630/1313
Some tests (

[2017-08-24 19:27] cmsbuild commented on #20261
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_10-slc6_amd64_gcc530/1310
Some tests (

[2017-08-24 19:46] cmsbuild commented on #20261
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_10-slc6_amd64_gcc630/1311

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-24 19:58] cmsbuild commented on #20261
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_10-slc7_amd64_gcc630/1313

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-24 20:05] cmsbuild commented on #20261
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_10-slc6_amd64_gcc530/1310

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-08-24 20:29] cmsbuild commented on #20261
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_10-slc7_amd64_gcc530/1312
Some tests (

[2017-08-24 20:52] davidlange6 commented on #20261
upload all

[2017-08-24 20:52] cmsbuild commented on #20261
Queing Jenkins upload for slc6_amd64_gcc530

[2017-08-24 20:52] cmsbuild commented on #20261
Queing Jenkins upload for slc6_amd64_gcc630

[2017-08-24 20:52] cmsbuild commented on #20261
Queing Jenkins upload for slc7_amd64_gcc530

[2017-08-24 20:52] cmsbuild commented on #20261
Queing Jenkins upload for slc7_amd64_gcc630

[2017-08-24 20:55] cmsbuild commented on #20261
The upload has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/865/console

[2017-08-24 20:55] cmsbuild commented on #20261
The upload has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/866/console

[2017-08-24 20:55] cmsbuild commented on #20261
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/864/console

[2017-08-24 20:57] cmsbuild commented on #20261
The upload has started for slc7_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/867/console

[2017-08-24 20:57] cmsbuild commented on #20261
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_10-slc6_amd64_gcc630/865
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-24 20:57] cmsbuild commented on #20261
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-24 20:57] cmsbuild commented on #20261
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_10-slc7_amd64_gcc530/866
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-24 20:57] cmsbuild commented on #20261
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-24 20:58] cmsbuild commented on #20261
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_10-slc6_amd64_gcc530/864
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-24 20:58] cmsbuild commented on #20261
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-24 20:58] cmsbuild commented on #20261
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_10-slc7_amd64_gcc630/867
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-08-24 20:58] cmsbuild commented on #20261
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-08-24 21:13] cmsbuild commented on #20261
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_10-slc7_amd64_gcc530/1312

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-08-25 04:23] davidlange6 commented on #20261
release-notes

On 24 Aug 2017, at 13:59, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc7_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_10-slc7_amd64_gcc630/867
The release is now being installed, you can see the progress here:
https://cmssdt.cern.ch/jenkins

[2017-08-25 04:23] cmsbuild commented on #20261
Generating release notes since CMSSW_9_2_9_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-08-25 04:23] cmsbuild commented on #20261
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_10 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_9_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_10

Cheers,
cms-bot

You

[2017-08-25 04:25] cmsbuild commented on #20261
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_10

[2017-08-27 02:38] cmsbuild commented on #20261
The cleanup has started for slc6_amd64_gcc530

[2017-08-27 02:38] cmsbuild commented on #20261
The cleanup has started for slc6_amd64_gcc630

[2017-08-27 02:38] cmsbuild commented on #20261
The cleanup has started for slc7_amd64_gcc530

[2017-08-27 02:38] cmsbuild commented on #20261
The cleanup has started for slc7_amd64_gcc630

[2017-08-27 02:38] #20261 closed

[2017-08-27 02:41] cmsbuild commented on #20261
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_10-slc6_amd64_gcc530/771

[2017-08-27 02:47] cmsbuild commented on #20261
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_10-slc7_amd64_gcc630/774

[2017-08-27 02:47] cmsbuild commented on #20261
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_10-slc7_amd64_gcc530/773

[2017-08-27 02:51] cmsbuild commented on #20261
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_10-slc6_amd64_gcc630/772

[2017-08-29 07:48] spandeyehep commented on #20173
Dear @slava77 ,
Following up on [1] where switching to PFCalibration_mc_v7 from PFCalibration_mc_v6 created an excess of low-pt photons, we tried to understand what is going on.

Our initial checks were consistent with your debugging report that we did in wf 4.53 (4.53_RunPhoton2012B+RunPhoton2012B+HLTD+RECODR1reHLT+HARVESTDR1reHLT).
This anomaly is because of higher values of fbEndCap (ecal-energ

[2017-08-29 13:15] dmitrijus commented on #20192
@fioriNTU ping

[2017-08-29 13:26] fioriNTU commented on #20192
This is not standard Pixel DQM, it is related to the HLT monitor and has been developed by @mtosi

[2017-08-29 13:31] fioriNTU commented on #20192
@mtosi , just to give an indication on what may be wrong, the off-track clusters plots have been removed by the analyzer code itself, so they are not produced anymore after a PR from @VinInn already merged in 9_3_X by some time ... most probably they have to be removed by that list, but actually, as I said, Mia is the best person to judge

[2017-08-29 13:40] mtosi commented on #20192
uhmmm
I'm totally new on this type of message !
=> apologies for the very low level of questions/doubts

if I understand the message, the system is complaining about a different # of histograms
in our config file [1] we are expecting to create 12 histograms
uhmm, actually even if the list of PSet in hltSiPixelPhase1TrackClustersConf is 12
there are some of these PSets configured to create more tha

[2017-08-29 13:48] VinInn commented on #20192
as I commented in the code
``` // copy paste from cfy: the only safe way to doit....```
the cc and the python MUST be in sync, if not havoc is guaranteed

[2017-08-29 13:53] mtosi commented on #20192
uhmmmm, I do not get at 100% the reason of that, though
I mean, is it not somehow too much redundant ?
in addition, why one has forced to enable the whole list ?

anyhow, I'm going to prepare the PR w/ the suggested (thanks) fix
ah, let me check, shall I prepare the backport for 92x as well ?

thanks

On Tue, Aug 29, 2017 at 3:48 PM, Vincenzo Innocente <
notifications@github.com> wrote:

[2017-08-29 13:55] VinInn commented on #20192
Because it goes by index, in principle you can enable just the first N, still the order is not optimized, so at the moment please just copy paste from offline.
submit a jira ticket to ask enhancement: Marcel is supposed to arrive at Xmas....
see
https://cmssdt.cern.ch/lxr/source/DQM/SiPixelPhase1TrackClusters/python/SiPixelPhase1TrackClusters_cfi.py#0319

[2017-08-29 14:02] mtosi commented on #20192
thanks
  mia

On Tue, Aug 29, 2017 at 3:55 PM, Vincenzo Innocente <
notifications@github.com> wrote:

[2017-08-29 14:02] mtosi commented on #20192
backport for 92x ?

On Tue, Aug 29, 2017 at 4:02 PM, mia tosi <mia.tosi@cern.ch> wrote:

[2017-08-29 14:23] fioriNTU commented on #20192
@mtosi and @VinInn, actually using the flag enabled=false in the cfi you can disable whatever plot you want

[2017-08-29 14:24] VinInn commented on #20192
Indeed, thanks @fioriNTU.

[2017-08-29 15:24] #16680 closed

[2017-08-30 14:27] ianna opened #20318 "Clang tidy Check [readability-redundant-declaration]"
It looks like a false report since these friend functions do assess to private members:
[code]

[2017-08-30 14:28] cmsbuild commented on #20318
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-30 14:28] ianna commented on #20318
@davidlange6 and @smuzaffar - FYI

[2017-08-30 14:39] smuzaffar commented on #20318
looks like this commit https://github.com/llvm-mirror/clang-tools-extra/commit/c86c7bcbd76d61fa22d5d669263ca97db38114fc should avoid this. This has not yet landed in the llvm elease_40.

[2017-08-30 14:40] Dr15Jones commented on #20318
I think it is saying that you can remove lines 16, 19, 35 and 50 since a friend declaration does not need an earlier declaration.

[2017-08-30 14:52] dan131riley commented on #15145
Another one along the same lines

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_9_3_X_2017-08-25-2300/pyRelValMatrixLogs/run/5.5_ZTT+ZTTFS+HARVESTFS/step1_ZTT+ZTTFS+HARVESTFS.log

[code]

[2017-08-30 14:55] ianna commented on #20318
@Dr15Jones - thanks, yes, you are right. However, the functions are used elsewhere. I think, I should split the header file.

[2017-08-31 13:53] ianna opened #20337 "Clang tidy [modernize-use-equals-delete]"
Note that:
[code]
does not fix .h files (here are the warnings after the second run):

[code]

[2017-08-31 13:53] cmsbuild commented on #20337
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-08-31 14:06] smuzaffar commented on #20337
assign core

[2017-08-31 14:06] cmsbuild commented on #20337
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-08-31 14:48] smuzaffar commented on #20337
Looks like this checks just gives the warning without changing the actual code. Even just running only this check  I get this warning
[code]
and the generated ymal files does not contain any thing
[code]

Should we update PR code-checks tests to run twice and look for these warnings?

[2017-08-31 16:46] slava77 commented on #20173
On 8/29/17 5:45 AM, Slava Krutelyov wrote:

[2017-09-01 06:59] andreypz opened #20341 "Backport request: adding reduced gsf tracks collection to miniAOD"
Dear cmssw maintainers,
May I request you to make a backport of PR #19964 to whatever version of CMSSW is to be used for legacy re-miniAOD of 2016 data.

CC: @gpetruc @arizzi

[2017-09-01 06:59] cmsbuild commented on #20341
A new Issue was created by  @andreypz Andrey Pozdnyakov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-01 08:21] gpetruc commented on #20341
Hi Andrey,

the re-miniAOD will be done with 9_4_X, so there's no need of backports.

Giovanni

On Fri, Sep 1, 2017 at 8:59 AM, cmsbuild <notifications@github.com> wrote:

[2017-09-01 09:57] andreypz commented on #20341
Ok, thanks.
In that case I close this issue.

[2017-09-01 09:57] #20341 closed

[2017-09-01 13:58] rappoccio opened #20346 "pat::Jets in MiniAOD are miskeyed"
@arizzi found a problem in [applySubstructure.py](https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py). The PUPPI inputs are misconfigured between subjets, jets, and packed candidates.

Investigating now...

[2017-09-01 13:58] cmsbuild commented on #20346
A new Issue was created by  @rappoccio .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-01 14:01] slava77 commented on #20346
assign reconstruction

[2017-09-01 14:01] cmsbuild commented on #20346
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-01 14:03] arizzi commented on #20346
seems broken also in 91X

[2017-09-01 14:05] rappoccio commented on #20346
This is probably broken since we moved to PUPPI.

[2017-09-01 20:14] Dr15Jones opened #20351 "The test print_ecal_geom prints an incredible amount of output to the test log"
Looking at the output of all unit tests, a large fraction of the log is from print_ecal_geom.
https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/CalibCalorimetry/EcalLaserAnalyzer/test/print_ecal_geom.cc

Just printing out many MB of output does not make for a unit test.

[2017-09-01 20:14] cmsbuild commented on #20351
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-01 20:19] Dr15Jones opened #20352 "The test testCSCDigis prints excessively to the test log"
When running all unit tests, testCSCDigis produces an excessive amount of output to the log.

https://github.com/cms-sw/cmssw/blob/0128241156fdface391f39e4a6b21de18508b2ba/DataFormats/CSCDigi/test/testCSCDigis.cpp

[2017-09-01 20:19] cmsbuild commented on #20352
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-03 17:13] davidlange6 opened #20360 "Build CMSSW_9_3_0_pre5"
fixing sim problem affecting pixel in phase 1

[2017-09-03 17:13] davidlange6 commented on #20360
+1

[2017-09-03 17:13] cmsbuild commented on #20360
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-03 17:13] cmsbuild commented on #20360
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-09-03 17:13] cmsbuild commented on #20360
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-09-03 17:14] cmsbuild commented on #20360
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1315/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)