[2020-04-03 08:24] gennai commented on #29203
@ahinzmann can you please open a Jira ticket under the HLT area to ask for a change in confDB if needed?

[2020-04-03 13:17] ghugo83 opened #29390 "Inner Tracker cabling map CMSSW integration: Add possibility to specify GBT Id only"
The latest version of the Inner Tracker cabling map is accessible here: http://cms-tklayout.web.cern.ch/cms-tklayout/layouts-work/recent-layouts/OT616_IT613/cablingInner.html

In view of CMSSW integration for bandwidth studies, the e-link port number should not be needed.
The relevant mapping info (as provided by tkLayout) is:
Module DetId <-> Number of e-links per module DetId <-> LpGBT Id <-> DT

[2020-04-03 13:18] cmsbuild commented on #29390
A new Issue was created by  @ghugo83 .

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-03 13:19] luigicalligaris commented on #29390
I will modify the code, and will reference this feature request in the PR

[2020-04-03 13:20] makortel commented on #29390
assign alca, upgrade

[2020-04-03 13:21] cmsbuild commented on #29390
New categories assigned: upgrade,alca

@christopheralanwest,@tlampen,@pohsun,@tocheng,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-03 13:36] luigicalligaris commented on #29390
Let me tag @mmusich as well

[2020-04-03 13:43] mmusich commented on #29390
@ghugo83 @luigicalligaris
I am not totally sure to understand the implications of:

Module DetId <-> Number of e-links per module DetId <-> LpGBT Id <-> DTC Id
This info should be enough to access the data rates per sensor, per e-link, and per GBT board.

does it imply a change in the CondFormat? As a reminder schema evolution is not supported by the DB group.
Thanks for the clarification

[2020-04-03 13:56] luigicalligaris commented on #29390
It does not imply a change in the CondFormat. It just regards what numbers are written in the fields of the object, which will remain unchanged.

[2020-04-03 13:57] mmusich commented on #29390
OK good then. I suppose some update the GT is also in order.

[2020-04-03 14:56] #29367 closed

[2020-04-03 22:23] ahinzmann commented on #29203
https://its.cern.ch/jira/browse/CMSHLT-2113

[2020-04-05 14:11] civanch commented on #29073
@Abdoulline , can this problem be connected with the fix #29235 ?

[2020-04-05 14:38] Dr15Jones commented on #29073
@civanch that was merged in but the problem is still seen in yesterday's ASAN IB.

[2020-04-06 04:51] abdoulline commented on #29073
@civanch , @Dr15Jones
thank you for the reminder, I suppose  https://github.com/cms-sw/cmssw/pull/29235  (@lwang046) did fix this issue.

[2020-04-06 07:03] ahinzmann commented on #29203
@emilbols The HLT groups would like to have fillDescriptions also for the "trackSelection".
Could you take care of this?
See this comment from Martin https://its.cern.ch/jira/browse/CMSHLT-2113.
And this comment from Slava: https://github.com/cms-sw/cmssw/pull/28936#discussion_r393382830

[2020-04-06 13:00] silviodonato commented on #28636
@wouf I think we have to modify the `ConfigBuilder` https://github.com/cms-sw/cmssw/blob/master/Configuration/Applications/python/ConfigBuilder.py .
Do you have other ideas @makortel ?

[2020-04-06 13:38] Dr15Jones commented on #29332
Is anyone looking at this? I think it is also causing crashes in the ROOT6 IBs.

[2020-04-06 13:42] Dr15Jones opened #29397 "label validationHarvestingNoHLT does not exist"
Since CMSSW_11_1_X_2020-04-02-1100, the workflows 140.0, 145.0 and 150.0 have been failing due to
[code]

[2020-04-06 13:42] cmsbuild commented on #29397
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-06 13:44] silviodonato commented on #29397
fix in https://github.com/cms-sw/cmssw/pull/29393
I think I will integrate this in the next IB

[2020-04-06 14:29] makortel commented on #28636
That would break anything that depends on the current behavior of MixingModule (ignore event completely if signal is missing). I don't know if we have anything depending on it, but finding out is not an easy task.

I also don't understand what exactly would be gained with such a behavior, the two MixingModule instances need to be configured differently anyway. And the second MixingModule is run in

[2020-04-06 18:13] makortel commented on #29298
From the framework perspective it appears (https://github.com/cms-sw/cmssw/issues/28576#issuecomment-605681672) that avoiding loading the plugins defining the EDModules would be difficult, so for time being I don't see a strong reason to separate CUDA code from CPU-only code to separate plugins.

(there may be other motivations for the split though, e.g. for the "portability tool" it could be easi

[2020-04-06 18:15] makortel commented on #29298
Let me add that despite of what I wrote above (for the foreseen long run), I do think the "manual way" is a viable way to get started.

[2020-04-06 18:34] wouf commented on #28636
Sure, but we can to manage it by flag. I mean parameter to switch on smart behavior...

Well, I'm stupid... You right. But with the standard
 `cmsDriver.py Hydjet_Quenched_MinBias_5020GeV_cfi --conditions auto:phase1_2018_realistic --scenario HeavyIons -n 1 --era Run2_2018 --eventcontent RAWSIM --relval 2000,1 -s GEN,SIM --datatier GEN-SIM --beamspot Realistic25ns13TeVEarly2018Collision --geometry

[2020-04-06 18:56] silviodonato opened #29398 ""ExcessiveTime: SiPixelClusterProducer:siPixelClustersPreSplitting" causes fake reco comparison failures"
As noted by @perrotta in https://github.com/cms-sw/cmssw/pull/29375#issuecomment-609386947,  we are getting many fake reco comparison failures because of the following message
[code]

For instance, looking at step3 of wf 9.0, we get this error using:
- [CMSSW_11_1_X_2020-04-05-0000](https://github.com/cms-sw/cmssw/files/4440129/CMSSW_11_1_X_2020-04-05-0000.log)
- [CMSSW_11_1_X_2020-04-05-0000 + #2

[2020-04-06 18:56] cmsbuild commented on #29398
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-06 18:58] silviodonato commented on #29398
assign core

[2020-04-06 18:58] cmsbuild commented on #29398
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-06 18:58] silviodonato commented on #29398
@christopheralanwest do you think this is related to #29308?

[2020-04-06 23:36] christopheralanwest commented on #29398
@silviodonato I don't know. Adding @mmusich to the thread.

[2020-04-06 23:37] makortel commented on #29398
I just ran the 9.0 on a cmsdev machine, and got (from TimeReport summary)
[code]
Something is clearly wrong with `siPixelClustersPreSplitting` (I added the `initialStep` and `initialStepPreSplitting` track pattern recognition module timings for reference).

The timings of `csc2DRechits` and `gedGsfElectrons` look suspiciously large as well.

[2020-04-06 23:38] makortel commented on #29398
assign reconstruction

The effect seems to be real and not just an infrastructure glitch.

[2020-04-06 23:38] cmsbuild commented on #29398
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-06 23:39] makortel commented on #29297
We have discussed earlier about the use case of a "`Ref`", e.g. the following scenario
* producer `A` produces a product on the GPU memory
* producer `B` consumes `A`, produces another product on the GPU that contains "Refs" to `A` (essentially `ProductID` + index)
* producer `C` transfers the product `A` to CPU memory (plain `memcpy()`)
* producer `D` transffers the product `B` to CPU memory (pla

[2020-04-06 23:53] makortel commented on #29398
In my test the first event too ~18 minutes to process, the remaining 9 took 20 s (2-5 s/event).

[2020-04-07 00:03] slava77 commented on #29398
is this reproducible for a repeated run?
I wonder if there are some issues with cvmfs/fuse mounts being slow to respond for the first load.

[2020-04-07 01:20] makortel commented on #28636
Does the `generator` work correctly, i.e. produce `edm::HepMCProduct`?

`GeneratorSmearedProducer` appears to not produce anything if the input is missing
https://github.com/cms-sw/cmssw/blob/38cf3d1e9fe4e8663feb17b23805ac9b2e3ac03a/GeneratorInterface/Core/plugins/GeneratorSmearedProducer.cc#L42-L52

[2020-04-07 01:53] makortel commented on #29398
I ran an IgProf, but it doesn't indicate anything particularly interesting
http://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/debug/siPixelClustersPreSplitting_06_perf
Now the first event took ~5 minutes.

Two more retries gave 1.5 and 26 minutes.

Let's see if strace would find anything interesting.

[2020-04-07 07:14] mmusich commented on #29398
@christopheralanwest @silviodonato pardon my naivety, but I really can't see how an update of the Run3 Global Tags as done in #29308 could possibly affect a Run-1 MC workflow such as 9.0 [*].
Please clarify.

[*]
[code]

[2020-04-07 07:49] #29337 closed

[2020-04-07 11:07] ghugo83 commented on #29390
Adding @emiglior

[2020-04-07 11:09] emiglior commented on #29390
adding @skinnari

[2020-04-07 13:28] makortel commented on #29398
Strace hints towards conditions / frontier
[code]
i.e. the job spent 16 minutes in a long chain of `poll()`+`recvfrom()` from `cmsfrontier.cern.ch` (or maybe really from the proxy). I wonder if this is because the reads are slow, or the job reads a lot (or something else).

@DrDaveD, would you have any ideas or suggestions what to check next?

[2020-04-07 13:40] slava77 commented on #29373
Perhaps this can be discussed in the core meeting today?

[2020-04-07 14:14] silviodonato opened #29405 "Build CMSSW_11_1_0_pre5_PY3"
CMSSW_COMMIT:CMSSW_11_1_0_pre5
CMSDIST_COMMIT:ded387f8299f2a350624b2ae3881c70e8d084c50

[2020-04-07 14:15] silviodonato commented on #29405
@cmsbuild ping

[2020-04-07 14:15] DrDaveD commented on #29398
Since you were able to run strace I assume it is quite reproducible.  Please run it with the environment variables FRONTIER_LOG_LEVEL=debug and FRONTIER_LOG_FILE=frontier_client.log and point me to the log file.

[2020-04-07 14:15] cmsbuild commented on #29405
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-07 14:17] silviodonato commented on #29405
@smuzaffar I think everything is ok to build CMSSW_11_1_0_pre5_PY3.
I took the cmsdist commit correspoding to CMSSW_11_1_0_pre5 for PY3 (ie. including #5682 )

[2020-04-07 14:54] makortel commented on #29398
@DrDaveD I have the log here (8.4 MB)
https://mkortela.web.cern.ch/mkortela/debug/frontier_client.log
Thanks!

In this job the first event took 10 minutes to process.

[2020-04-07 15:17] smuzaffar commented on #29405
yes looks good @silviodonato

[2020-04-07 15:41] makortel commented on #28576
Replying here to @fwyzard's comment https://github.com/cms-sw/cmssw/pull/27983#discussion_r404839823

I don't like it too much either.

There are more issues than just the "configuration hash". If we can not build an EDModule for some architecture

* We can not generate the `cfi` fragments, and any configuration loading/importing such a configuration would fail (also when using `cms.Modifier.toRep

[2020-04-07 16:02] civanch opened #29406 "Prepare Run-3 geometry"
Geometry of Run-3 slightly different from Run-2: Castor is removed, Totem-2 is added, YE3 width and position is changed, few overlaps are fixed in tracker and muon system. Run-3 XML and code should be completed, after geometry DB should be updated. The target release CMSSW_11_1_0.

[2020-04-07 16:02] civanch commented on #29406
geometry+

[2020-04-07 16:02] cmsbuild commented on #29406
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-07 16:03] civanch commented on #29406
+geometry

[2020-04-07 16:05] civanch commented on #29406
assign geometry

[2020-04-07 16:05] civanch commented on #29406
assign alcadb

[2020-04-07 16:05] cmsbuild commented on #29406
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-07 16:06] civanch commented on #29406
assign aldb

[2020-04-07 16:07] civanch commented on #29406
assign alca

[2020-04-07 16:07] cmsbuild commented on #29406
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-07 16:22] DrDaveD commented on #29398
The problem was with a temporary physical machine we had in service as cmsmeyproxy2.  It was taking 10 minutes to transfer a 133MB query instead of 2 seconds.  I took it out of service so performance should be much better.  Nothing showed up wrong on total throughput so thank you for bringing this to my attention.  We don't routinely monitor for transfer rates of large queries.

[2020-04-07 17:10] cmsbuild commented on #29405
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre5_PY3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_DEVEL_X

[2020-04-07 17:10] silviodonato commented on #29397
solved by #29393

[2020-04-07 17:10] #29397 closed

[2020-04-07 17:10] cmsbuild commented on #29405
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-04-07 17:11] cmsbuild commented on #29405
The build has started for slc7_amd64_gcc820 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2388/console
CMSDIST Branch: [ded387f8299f2a350624b2ae3881c70e8d084c50](https://github.com/cms-sw/cmsdist/commits/ded387f8299f2a350624b2ae3881c70e8d084c50), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-07 17:50] makortel commented on #29398
Thanks Dave! I take it that the problem should be gone now, and the issue can be closed.

[2020-04-07 17:50] makortel commented on #29398
+1

[2020-04-07 20:51] slava77 commented on #29373
@pcanal
I found out that our rootmaster builds include root debug symbols.
I used CMSSW_11_1_ROOT6_X_2020-04-06-2300
and I was able to reproduce the same problem as in point 2 of this issue description https://github.com/cms-sw/cmssw/issues/29373#issue-592151531

e.g.
[code]

[2020-04-07 21:14] cmsbuild commented on #29405
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5_PY3-slc7_amd64_gcc820/2388
Some

[2020-04-07 21:15] cmsbuild commented on #29405
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5_PY3-slc7_amd64_gcc820/2388

Tests results:
12 0 0 0 0 0 0 0 0 tests passed, 22 12 0 0 0 0 0 0 0 failed

[2020-04-07 21:39] pcanal commented on #29373
Cool.  Still can you remind me the steps :)

[2020-04-07 23:30] slava77 commented on #29373
since the file is on cmsdev34, go there
[code]

and then in the root session:
[code]
The two columns should show the same values because at c++ level (after following inlined intermediate methods) ```reco::GenMET::pt() { return m_state.p4Polar_.fCoordinates.fPt;}```

[2020-04-08 02:03] makortel opened #29412 "NaN in StatisticsSenderService JSON output"
Reported by @vkuznet in https://hypernews.cern.ch/HyperNews/CMS/get/swDevelopment/3555.html

with recent migration of UDP collector service which captures JSON packets
produced by CMSSW for popularity purposes I found that this piece of code [1]
can produce NaN when value under sqrt is negative. This lead to malformed
JSON packet [2].

read_vector_sigma value.

Valentin.

[2020-04-08 02:03] makortel commented on #29412
assign core

[2020-04-08 02:03] cmsbuild commented on #29412
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-08 02:03] cmsbuild commented on #29412
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-08 02:04] makortel commented on #29412
@bbockelm Would you be able to take a look?

[2020-04-08 02:05] makortel commented on #29412
@vkuznet Is it more important to get a conforming JSON, or a sensible number instead of e.g. `"NaN"`? I'm just wondering if a quick mitigation of putting a string instead of invalid value while the real cause is being investigated would have any benefit.

[2020-04-08 05:30] wouf commented on #28636
I checked it with `HydjetAnalyzer`. I can plot the distributions. So the output of
`process.schedule = cms.Schedule(process.premix_step,process.generation_step,process.genfiltersummary_step,process.simulation_step,process.endjob_step,process.ana_step) `
looks reasonable. But when I replace `process.ana_step` (HydjetAnalyzer), with the `process.RAWSIMoutput_step`, it crashed.

[2020-04-08 07:07] silviodonato commented on #29405
@smuzaffar @makortel many tests failed with
[code]
do you have any ideas about what is going on?

[2020-04-08 07:36] smuzaffar commented on #29405
@silviodonato , I should have checked that CMSSW commit used here to build the release was wrong. We use CMSSW_11_1_DEVEL_X cmssw branch to build python3 release. Please abort this release issue and restart with CMSSW_COMMIT:07c0deada76d429ce140feb90acc585d2cc2902c

[2020-04-08 11:10] silviodonato commented on #29405
abort

[2020-04-08 11:11] cmsbuild commented on #29405
Deleting CMSSW_11_1_0_pre5_PY3:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_pre5_PY3 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_0_pre5_PY3/slc7_amd64_gcc820 successfully deleted.

You must create a new issue to start over the build.

[2020-04-08 11:12] silviodonato opened #29414 "Build CMSSW_11_1_0_pre5_PY3"
CMSSW_COMMIT:07c0deada76d429ce140feb90acc585d2cc2902c
CMSDIST_COMMIT:ded387f8299f2a350624b2ae3881c70e8d084c50

[2020-04-08 11:12] silviodonato commented on #29405
moved to https://github.com/cms-sw/cmssw/issues/29414

[2020-04-08 11:12] #29405 closed

[2020-04-08 11:12] cmsbuild commented on #29414
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-08 11:13] silviodonato commented on #29414
+1

[2020-04-08 11:13] cmsbuild commented on #29414
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre5_PY3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_DEVEL_X

[2020-04-08 11:13] cmsbuild commented on #29414
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-04-08 11:18] cmsbuild commented on #29414
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2389/console
CMSDIST Branch: [ded387f8299f2a350624b2ae3881c70e8d084c50](https://github.com/cms-sw/cmsdist/commits/ded387f8299f2a350624b2ae3881c70e8d084c50), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-08 11:21] silviodonato opened #29415 "cms-bot and fake AddOn test failures"
We observed some fake AddOn test failures in at least two recent PRs (#29347 two times, #29387 )
eg.
[code]

Surprising, cms-bot does not show which AddOn tests are failing.

As a reference in #28936 , on March 6, cms-bot caught correctly the AddOn test failures, showing the failing tests.
Eg.
[code]
https://github.com/cms-sw/cmssw/pull/28936?email_source=notifications&email_token=ABPEFGLICIRPWYF3

[2020-04-08 11:21] silviodonato commented on #29415
assign core

[2020-04-08 11:21] cmsbuild commented on #29415
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-08 11:21] cmsbuild commented on #29415
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-08 11:31] silviodonato opened #29416 "Differences between XML geometry and DB geometry"
This issue is a reminder we have differences between XML and DB geometry.
Let me copy here a message from @cvuosalo in #28313

-------------
There are several differences between Run 1 XML and the geometry in the DB. I suppose these differences can be explained by inadvertent changes being made to the Run 1 XML over the years while the DB geometry has not been touched.

There are differences in th

[2020-04-08 11:31] cmsbuild commented on #29416
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-08 11:31] silviodonato commented on #29416
assign geometry

[2020-04-08 11:31] cmsbuild commented on #29416
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-08 11:35] smuzaffar commented on #29415
looks like addOn tests were timeout after 2 hours. I think  there was some network issues at CERN that is why these tests were timing out . This also happened for IBs few days back. Things looks better now.

I will update cms-bot to properly report is addOnTests were timeout.

[2020-04-08 11:46] vkuznet commented on #29412
Matti, what is important is valid JSON, the nan is not a valid JSON value, therefore service fails to parse the JSON.  From my perspective, I don't really care if you'll provide string or number, but for data to be consistent with possible analysis it should have the same data-type.

[2020-04-08 12:38] silviodonato commented on #29415
thanks @smuzaffar , feel free to close the ticket then

[2020-04-08 12:44] smuzaffar commented on #29415
I will close it after fixing cms-bot to properly report the timeouts.

[2020-04-08 12:58] makortel commented on #29412
Thanks, so a `0` (or `-1`) might be a possible quick mitigation. Do you know how frequently the problem occurs? Are backports to earlier CMSSW release cycles needed?

[2020-04-08 13:07] smuzaffar commented on #29415
cms-bot change https://github.com/cms-sw/cms-bot/commit/9969c92701a0fdecff93ddb91246efa56460966d should properly indicate if addOnTest was not properly finished (main reason is timeout).

[2020-04-08 13:07] #29415 closed

[2020-04-08 13:52] cmsbuild commented on #29414
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5_PY3-slc7_amd64_gcc820/2389
Some

[2020-04-08 14:27] cmsbuild commented on #29414
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5_PY3-slc7_amd64_gcc820/2389

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-08 14:39] vkuznet commented on #29412
yes, 0 or -1 will work. And, the rate of errors I see is ~1500 in 24h where the total number of docs received by the collector was about 2.5M.

[2020-04-08 14:40] wouf commented on #28636
P.S. - It looks like it crashed not in `cmssw/GeneratorInterface/Core/plugins/GeneratorSmearedProducer.cc`, but in `cmssw/SimG4Core/Application/plugins/OscarMTProducer.cc `

[2020-04-08 15:28] makortel commented on #28636
Which `edm::HepMCProduct` product did the analyzer consumes, `generator` or `generatorSmeared`?

Right, but the `generatorSmeared` product can be missing if either `generatorSmeared` producer is not run in the configuration, or the input product of `generatorSmeared` is missing.

[2020-04-08 16:26] smuzaffar commented on #29414
@silviodonato , this looks good now

[2020-04-08 16:49] wouf commented on #28636
Actually it's `edm::InputTag("generator","unsmeared")`

You're right. I placed printout in the constructor of `GeneratorSmearedProducer`, and realized that `GeneratorSmearedProducer` does not executed (no printout message found).

[2020-04-08 16:52] #29075 closed

[2020-04-08 17:22] VinInn commented on #29398
sorry I think I am late and this was understood.
Indeed offline  siPixelClustersPreSplitting is loading the BY FAR largest payload: pixel gains (one per pixel channel). Typically the first event is by far slower than any other. Time report should give a huge difference between ave and max

[2020-04-08 18:42] silviodonato commented on #29414
upload all

[2020-04-08 18:43] cmsbuild commented on #29414
Queing Jenkins upload for slc7_amd64_gcc820

[2020-04-08 18:44] cmsbuild commented on #29414
The upload has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1537/console

[2020-04-08 18:45] cmsbuild commented on #29414
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre5_PY3-slc7_amd64_gcc820/1537

[2020-04-08 18:50] hqucms commented on #26438
@makortel To follow up on this -- have these already been implemented?

[2020-04-08 19:11] makortel commented on #26438
@hqucms Not yet. I'm working on the first one (turned out to be a bit trickier than I hoped), the second one fill follow (should be easier). Or would it actually make the work in #29172 easier if the `globalBeginJob()` would become available sooner?

[2020-04-08 21:25] slava77 commented on #27889
@danbarto @ahinzmann
I suppose that we also need a backport for #28370

[2020-04-08 22:43] hqucms commented on #26438
@makortel That would be nice, but it's not urgent. Just let me know when it becomes available:)

[2020-04-08 22:59] pcanal commented on #29373
I can reproduced it.  Checking into it but on first impression it looks like it'll take a while.

[2020-04-09 07:08] silviodonato commented on #29414
release-notes since CMSSW_11_1_0_pre5

[2020-04-09 07:08] cmsbuild commented on #29414
Generating release notes since CMSSW_11_1_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-04-09 07:08] cmsbuild commented on #29414
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre5_PY3 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_1_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre5_PY3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2020-04-09 07:09] cmsbuild commented on #29414
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre5_PY3

[2020-04-09 07:34] silviodonato commented on #29319
I think we can close this issue

[2020-04-09 07:34] #29319 closed

[2020-04-09 07:51] silviodonato commented on #29398
Thanks to everybody, the issue is solved.
For instance, see https://github.com/cms-sw/cmssw/pull/29422
Closing this issue

[2020-04-09 07:51] #29398 closed

[2020-04-09 08:07] #29414 closed

[2020-04-09 08:27] fwyzard commented on #29319
Sure - I thought they were supposed to auto-close after the upload, I'll close them myself in the future.

[2020-04-09 15:18] ianna commented on #24776
+1

[2020-04-09 15:18] #24776 closed

[2020-04-09 15:18] cmsbuild commented on #24776
This issue is fully signed and ready to be closed.

[2020-04-09 15:20] luigicalligaris commented on #29390
Implemented in PR #29443

https://github.com/cms-sw/cmssw/pull/29443

[2020-04-09 18:42] kpedro88 opened #29444 "HGCal Trackster dictionary error"
After #29081 was merged, there is an error in the phase2 workflows (step3) in the IBs:
[code]

@rovere @felicepantaleo please take a look ASAP

[2020-04-09 18:42] cmsbuild commented on #29444
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-09 18:42] kpedro88 commented on #29444
assign upgrade,reconstruction

[2020-04-09 18:42] cmsbuild commented on #29444
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-09 18:52] makortel commented on #29444
assign core

[2020-04-09 18:52] cmsbuild commented on #29444
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-09 18:54] makortel commented on #29444
As far as I can tell, https://github.com/cms-sw/cmssw/pull/29081 does not add any `Eigen` members to the persisted classes, i.e. `Eigen` is used only on the class interfaces. The error dictionary load attempt looks to me like ROOT (or something in the chain) would not be able to find `Eigen/Core` header.

@pcanal Would you have any insight on what could be going on?

[2020-04-09 19:02] smuzaffar commented on #29444
This is true that we do not have eigen include directory in ROOT_INCLUDE_PATH env variable which root uses at runtime to find headers.

[2020-04-09 19:24] smuzaffar commented on #29444
Adding eigne include directory to ROOT_INCLUDE_PATH let me run one of the workflows.
So question is hainf eigen dependency in dataformats is acceptable?

[code]

[2020-04-09 19:43] smuzaffar commented on #29444
For now I have opened https://github.com/cms-sw/cmsdist/pull/5734 which added the eigen include directory in ROOT_INCLUDE_PATH . We should still see if eigen dependency in dataformat is acceptable.

[2020-04-09 20:40] slava77 commented on #29444
From
https://github.com/cms-sw/cmssw/pull/29110#issuecomment-604434084

[2020-04-09 21:01] smuzaffar commented on #29444
thanks @slava77 ,  cms-sw/cmsdist#5734 is now merged and will be available in next IB

[2020-04-10 07:26] silviodonato opened #29446 ""No module named pfTICLProducer_cfi" in wf 20493.52"
After https://github.com/cms-sw/cmssw/pull/29081, we are getting the following error in 20493.52 since CMSSW_11_1_X_2020-04-09-1100
[code]
@rovere @felicepantaleo

[2020-04-10 07:26] silviodonato commented on #29446
assign reconstruction

[2020-04-10 07:26] cmsbuild commented on #29446
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-10 07:26] cmsbuild commented on #29446
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-10 07:26] silviodonato commented on #29446
assign upgrade

[2020-04-10 07:26] cmsbuild commented on #29446
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-10 07:30] silviodonato opened #29447 "Error in MuTauPath (PFTauDiscriminator not found)"
After having merged #28417, we are getting this error in many workflows since CMSSW_11_1_X_2020-04-09-1100
[code]

See https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_1/2020-04-09-1100?selectedArchs=slc7_aarch64_gcc820&selectedFlavors=X&selectedStatus=failed
@swozniewski

[2020-04-10 07:30] silviodonato commented on #29447
assign reconstruction

[2020-04-10 07:30] cmsbuild commented on #29447
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-10 07:30] cmsbuild commented on #29447
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-10 07:32] silviodonato opened #29448 "Crash of HLTTauRefProducer:TauRefProducer in wf 136.7803 and 136.7801"
After having merged #28417, we are getting a segmentation fault in wf 136.7803 and 136.7801

[code]

[2020-04-10 07:32] cmsbuild commented on #29448
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-10 07:33] perrotta opened #29449 "Implement fillDescriptions() for producers in RecoParticleFlow/PFSimProducer"
It was realized while reviewing PR 29374 (see https://github.com/cms-sw/cmssw/pull/29374#pullrequestreview-390778384) that the producers in RecoParticleFlow/PFSimProducer do not have a fillDescription() method implemented.

Such an implementation goes beyond the scope of that specific PR, and therefore that one is not the place where to integrate it. On the other hand, if that RecoParticleFlow/PFS

[2020-04-10 07:33] perrotta commented on #29449
Assign reconstruction

[2020-04-10 07:33] cmsbuild commented on #29449
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-10 07:33] cmsbuild commented on #29449
A new Issue was created by  @perrotta .

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-10 07:33] perrotta commented on #29449
Also @bendavid @hatakeyamak

[2020-04-10 07:51] perrotta commented on #29446
I think the automatic replacement of *Producer in the product names as applied in the last commits of  #29081 included by mistake the replacement pointed out in https://github.com/cms-sw/cmssw/pull/29081/files#r406646968

I think it is eough to revert that line change to fix the issue

[2020-04-10 08:19] smuzaffar commented on #29250
@fabiocos , @silviodonato I have open https://github.com/cms-sw/cms-bot/pull/1289 which will look for build errors in the  static analyzer build log. It will create a new link on the PR summary page ( https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-b8b54e/5623/summary.html ) . Currently bot will not reject PR in case of static analyzer build error though. If no objections

[2020-04-10 08:23] perrotta commented on #29446
I have created #29450 with a fix

[2020-04-10 08:54] silviodonato commented on #29250
thanks @smuzaffar

[2020-04-10 09:41] rovere commented on #29446
@perrotta I'll have a look and provide a fix asap.

[2020-04-10 10:03] rovere commented on #29446
@silviodonato @perrotta @kpedro88 @slava77
The failing workflows are the ones that were customized to run TICL.
Now that TICL is part of the official reconstruction, there's no need to have them as separate workflows.
I see 2 options:

1. Remove the workflows from runTheMatrix
2. Leave the workflows and remove the old customization.

I'd be in favour of 1, but I'll wait for input from your side be

[2020-04-10 10:04] rovere commented on #29444
@makortel for my education: why the error was not triggered neither in my local development area nor during the usual testing phase?

[2020-04-10 10:26] silviodonato commented on #29446
I agree to remove 20493.52, since now we are running TICL also in many other workflows.

[2020-04-10 10:28] perrotta commented on #29446
I also agree

[2020-04-10 10:35] rovere commented on #29446
Great!
I proposed a patch in #29540, simply because @perrotta had it already open.

[2020-04-10 10:39] smuzaffar commented on #29444
@rovere , during local build or test phase, `root` has used the include paths it had saved in the library. Note that root stores -I/externals/include in the library [a] and during local build or test phase these path exists and root can find header but now when you run the test again (with out rebuiulding DataFormats/HGCalReco ) then those paths are not there and root fallback to ROOT_INCLUDE_PATH

[2020-04-10 11:31] rovere commented on #29444
Thanks @smuzaffar for the explanation.
I guess there's no easy way for me (or anyone else) in future to catch such kind of problems, right?

[2020-04-10 11:44] wouf commented on #28636
It was fixed. Now it's works. The resulting path is:
[code]
The output file (mixing of Hydjet_Quenched_MinBias_5020GeV_cfi and Hydjet_Quenched_B12_5020GeV_cfi) placed [here](http://wouf.web.cern.ch/wouf/up/stepN_GEN_SIM_PU.root). On the generator level "embedding mode" works.  @stepobr , @mandrenguyen could You please to cross-validate it too?

One thing which is still bothers me (not sure who can

[2020-04-10 11:50] silviodonato commented on #29448
assign reconstruction

[2020-04-10 11:51] cmsbuild commented on #29448
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-10 11:51] silviodonato commented on #29447
@swozniewski

[2020-04-10 11:51] silviodonato commented on #29448
@swozniewski

[2020-04-10 12:19] slava77 commented on #29448
for the future reports, please provide a link or a more relevant part of the stack trace (the current snippet does not include the crashing thread)

IIUC, one example is in
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_1_ROOT6_X_2020-04-09-2300/pyRelValMatrixLogs/run/136.7801_RunHLTPhy2017B_AOD+RunHLTPhy2017B_AOD+DQMHLTonAOD_2017+HARVESTDQMHLTonAOD_2017/step2_RunHLTPh

[2020-04-10 13:06] Dr15Jones commented on #29448
@makortel FYI

[2020-04-10 13:43] slava77 commented on #29448
I guess that the problem is here
https://github.com/cms-tau-pog/cmssw/blob/e3ee2f54d22194b79a0f8ad58d32cfb1b8b946e2/DQMOffline/Trigger/plugins/HLTTauRefProducer.cc#L147-L158

[2020-04-10 13:47] slava77 commented on #29448
@swozniewski @mbluj
please post a quick note if you are available to check/fix the problem today (or before Monday)

[2020-04-10 13:55] makortel commented on #29448
Right, the problem is that the product is missing (same problem as in #29447?), and the `edm::Handle::provenance()` returns a `nullptr` which is deferenced without checking for `nullptr`
https://github.com/cms-sw/cmssw/blob/3d03fbb3659b0a3e4bfdde43350c5923d0645b6c/DQMOffline/Trigger/plugins/HLTTauRefProducer.cc#L148-L149

[2020-04-10 14:02] silviodonato commented on #29447
Likely we need to migrate
https://github.com/cms-sw/cmssw/blob/master/RecoTauTag/RecoTau/plugins/PFTauSelectorDefinition.h#L48 from `PFTauDiscriminator` to `TauDiscriminatorContainer`

[2020-04-10 14:07] slava77 commented on #29448
OK, I guess for this file we are better off to use a throwing variant of ```Event::getHandle```
so that the error is reported properly.
Is there such a thing? I didn't find it in the interface

[2020-04-10 14:33] makortel commented on #29448
There is `edm::ValidHandle` that can be created from `edm::Handle` with `edm::makeValid()`, that throws an exception if the `Handle` is invalid. Unfortunately the `ValidHandle` does not provide access to provenance (very likely because it is intended to be used with `edm::OrphanHandle` as well).

We could think of changing `edm::HandleBase::provenance()` to return a reference and throw an exceptio

[2020-04-10 14:53] mbluj commented on #29448
On Fri, Apr 10, 2020 at 3:48 PM Slava Krutelyov <notifications@github.com>
wrote:

I am sorry, but I cannot take a look before next Tuesday,
BTW, is it a new problem? Can it be related with some recently integrated
stuff? Could it be somewhat related to the new tauID dataformat or it is
caused by something not directly related to tau reco&ID?

<https://www.avast.com/sig-email?utm_medium=email&utm_

[2020-04-10 14:56] mbluj commented on #29448
I am sorry, but I cannot take a look before next Tuesday.

[2020-04-10 14:58] makortel commented on #29444
I guess the same. In retrospect the addition of `eigen` to the list of accepted dependencies to DataFormats (https://github.com/cms-sw/cmssw/pull/29110#issuecomment-604434084, https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCreatingNewProducts#Restrictions_on_the_package_defi) should have ringed a bell. I added a reminder on the twiki page about `ROOT_INCLUDE_PATH` in case new dependencies a

[2020-04-10 15:00] slava77 commented on #29448
it is related to #28417

[2020-04-10 15:11] gkrintir commented on #28636
many thanks @wouf all,

I guess @civanch can help here?

thx again!

[2020-04-10 20:04] jiafulow commented on #29237
I'm sorry for taking so long to get back on this issue. I'm unfortunately not very proficient with global tags. The issue is rather tricky. It affects MC simulation with Run2_2016 era, and with the default global tags in both 10_6_X and 11_1_X, after the latest EMTF fixes.

To provide some background, during the UL16 production, the global tag for 2016 was updated to have the correct tags (see [1]

[2020-04-10 20:18] jiafulow commented on #29332
I'm sorry for the delay in getting back. Could you check if the failing workflows are all using Run2_2016 era? If so, I think it's related to https://github.com/cms-sw/cmssw/issues/29237 . I believe the main problem is due to loading the wrong global tag, and thus the wrong BDT trees. I hope there is no new issue in `Node.cc`.

[2020-04-10 20:56] slava77 commented on #29237
assign alca

[2020-04-10 20:56] cmsbuild commented on #29237
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-10 20:59] slava77 commented on #29237
run2_mc auto-GT is supposed to be used only for 2016.
For 2018 the correct (realistic GT) is phase1_2018_realistic, similarly for 2017.

So, if run2_mc contains a payload that works only for 2018, it is a problem and the GT should be updated.

[2020-04-10 21:45] jiafulow commented on #29237
Ah, I didn't realize that. So the comment in the `autoCond.py` is correct (I wasn't sure).

Then I think, for 10_6_X,  'auto:run2_mc_pre_vfp' and 'auto:run2_mc' should be updated to point to '106X_mcRun2_asymptotic_preVFP_v6' and '106X_mcRun2_asymptotic_v12' as used in the latest UL16 RelVals [1,2]. For 11_1_X, new global tags might need to be created?

[1] https://dmytro.web.cern.ch/dmytro/cmspro

[2020-04-11 10:19] fabiocos commented on #29250
@smuzaffar thanks, this is indeed the kind of check that can be useful. The fact that Fireworks is left out implies that this is a partial test, but as far as I can see Fireworks is not using this flag, and it is already having a kind of special treatment in PR checks.

[2020-04-11 21:27] Dr15Jones opened #29460 "SiPixelPhase1Summary is segfaulting in workflow 150.0 step 4"
The crash happens at endJob
[code]

[2020-04-11 21:27] Dr15Jones commented on #29460
assign dqm

[2020-04-11 21:28] cmsbuild commented on #29460
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-11 21:28] cmsbuild commented on #29460
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-11 21:30] Dr15Jones commented on #29460
This seems to have first appeared in CMSSW_11_1_X_2020-04-10-1100. The likely cause was this pull request #29355.

[2020-04-12 19:04] mmusich commented on #29460
The segfault occurs here:
https://github.com/cms-sw/cmssw/blob/c2c99285797f80a73a1c11ce4593255984f99a57/DQM/SiPixelPhase1Summary/src/SiPixelPhase1Summary.cc#L397

as this `MonitorElement`:

https://github.com/cms-sw/cmssw/blob/c2c99285797f80a73a1c11ce4593255984f99a57/DQM/SiPixelPhase1Summary/src/SiPixelPhase1Summary.cc#L392-L393

is not produced in the case of `HeavyIons` scenario, see:

https://g

[2020-04-12 21:02] swozniewski commented on #29448
Sorry for the late reply. I was offline since friday. I can work on this tomorrow. In another producer I added these two lines https://github.com/cms-sw/cmssw/pull/28417/files#diff-c7c5c83df6323f1a53a05655cd079d3fR377-R378  in order to avoid segfaults when accessing provenance. The module would still crash due to a missing input at a later stage but in a better way than this segfault. So I guess i

[2020-04-12 22:52] slava77 commented on #29448
My browser didn't point to anything given this link/anchor tag.

The issue description mentions 136.7803
```runTheMatrix.py -l 136.7803 ```

[2020-04-13 08:43] silviodonato commented on #29448
After #29453 the error is more readable
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_X_2020-04-12-2300/pyRelValMatrixLogs/run/136.7803_RunHLTPhy2017B_RAWAOD+RunHLTPhy2017B_RAWAOD+DQMHLTonRAWAOD_2017+HARVESTDQMHLTonAOD_2017/step2_RunHLTPhy2017B_RAWAOD+RunHLTPhy2017B_RAWAOD+DQMHLTonRAWAOD_2017+HARVESTDQMHLTonAOD_2017.log#/

[2020-04-13 08:48] silviodonato commented on #29447
urgent

this issue is breaking 11 workflows
4.29
136.73
136.787
136.799
136.811
136.823
136.835
136.855
136.867
136.879
136.891

https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_1/2020-04-12-2300?selectedArchs=slc7_amd64_gcc820&selectedFlavors=X&selectedStatus=failed

[2020-04-13 08:57] silviodonato opened #29462 "SiPixelPhase1Summary seg violation in wf 150.0"
We are getting segmentation violation in wf 150.0, step4, since CMSSW_11_1_X_2020-04-10-1100 ie. after having integrated #29355
`cmsDriver.py step4  --conditions auto:phase1_2018_realistic -s HARVESTING:validationHarvesting+dqmHarvestingFakeHLT --scenario HeavyIons --filetype DQM -n 2 --era Run2_2018 --mc   --customise Validation/Performance/TimeMemorySummary.customiseWithTimeMemorySummary --prefi

[2020-04-13 08:57] cmsbuild commented on #29462
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-13 08:57] silviodonato commented on #29462
assign dqm

[2020-04-13 08:57] cmsbuild commented on #29462
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-13 08:58] silviodonato commented on #29462
@dmeuser

[2020-04-13 09:00] boudoul commented on #29462
I guess this is what is already reported here  https://github.com/cms-sw/cmssw/issues/29460 and getting solved here : https://github.com/cms-sw/cmssw/pull/29461  . Am I wrong ?

[2020-04-13 09:01] silviodonato commented on #29462
duplicate of https://github.com/cms-sw/cmssw/issues/29460, sorry for the spam

[2020-04-13 09:01] #29462 closed

[2020-04-13 09:01] mmusich commented on #29462
@silviodonato this is a duplicate of https://github.com/cms-sw/cmssw/issues/29460 (already addressed) please close!

[2020-04-13 10:36] swozniewski commented on #29448
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatAlgos/plugins/PATTauProducer.cc#L377-L378

[2020-04-13 10:38] swozniewski commented on #29448
But ok, you already added #29453 . Thanks!

[2020-04-13 11:17] swozniewski commented on #29448
I think that the problem is that this workflow loads existing files with the old data format. Therefore, we would need an era modifier here that applies the old config: https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Trigger/python/HLTTauDQMOffline_cfi.py#L9-L21
The workflow is using Run2_2017. I don't see a suitable modifier here: https://github.com/cms-sw/cmssw/blob/master/Configuration/E

[2020-04-13 13:37] makortel commented on #29448
The segfault was fixed in https://github.com/cms-sw/cmssw/pull/29453, so could the further discussion on the configuration be moved to https://github.com/cms-sw/cmssw/issues/29447, and we close this issue?

[2020-04-13 13:39] slava77 commented on #29444
+1

it looks like the problem went away

[2020-04-13 13:47] swozniewski commented on #29447
Quoting my comment which is better discussed in this issue:
https://github.com/cms-sw/cmssw/issues/29448#issuecomment-612859051

[2020-04-13 13:48] slava77 commented on #29448
not really, this is not the same as  #29447 .
This is the case where either this issue should be renamed or a new one should be created.
For renaming, I could suggest "Failure running HLT DQM on old AOD inputs in wf 136.7803 and 136.7801"

[2020-04-13 13:49] slava77 commented on #29448
this will be a global problem for workflows like this, we need something like ```tau_ID_rerun``` modifier

[2020-04-13 13:53] swozniewski commented on #29447
Or maybe not, as Slava stated. The problem of 136.787 at least is different: https://github.com/cms-sw/cmssw/blob/49acac1cee9f9d86c4f7223614d21b547127cd38/DPGAnalysis/Skims/python/MuTauSkim_cff.py#L77-L78 needs to be replaced by the new format which I'm currently testing

[2020-04-13 13:56] swozniewski commented on #29448
Shall I provide separate PRs for this issue and #29447 or rather a common one?

[2020-04-13 13:58] makortel opened #29464 "Consider changing edm::HandleBase::procenance() to return a reference and throw if provenance is missing"
The segfault in https://github.com/cms-sw/cmssw/issues/29448 was caused by the code calling `edm::Handle::provenance()` (which returns a pointer to `edm::Provenance` without any checks) and using the returned pointer without checking `Handle::isValid()` or if the returned pointer is `nullptr`. Given that `Handle::product()` throws an exception if the `Handle` is not valid, it could be more clear f

[2020-04-13 13:58] makortel commented on #29464
assign core

[2020-04-13 13:58] cmsbuild commented on #29464
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-13 13:58] cmsbuild commented on #29464
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-13 13:59] makortel commented on #29448
I created an issue https://github.com/cms-sw/cmssw/issues/29464 for this idea, it could make sense anyway despite of the quick fix of https://github.com/cms-sw/cmssw/pull/29453.

[2020-04-13 14:05] slava77 commented on #29448
IIUC, the fix in #29447 is not necessarily related to rerunning tauID, it's about broken tau skims.
So, a combined PR is not required. Also, a fix in #29447  is more urgent

[2020-04-13 18:11] #29460 closed

[2020-04-13 19:00] #29132 closed

[2020-04-14 12:09] ahinzmann commented on #27889
Will need also #29392

[2020-04-14 16:03] kpedro88 commented on #29076
is this completely fixed now? if so, the issue should be closed

[2020-04-14 16:36] silviodonato opened #29471 "Build CMSSW_10_6_12"

[2020-04-14 16:36] cmsbuild commented on #29471
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-14 16:36] silviodonato commented on #29471
+1

[2020-04-14 16:36] cmsbuild commented on #29471
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_12. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-04-14 16:36] cmsbuild commented on #29471
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-04-14 16:38] cmsbuild commented on #29471
The build has started for slc7_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2390/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-14 16:38] cmsbuild commented on #29471
The build has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2391/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-14 17:55] srimanob opened #29472 "Strange output when firstLuminosityBlockForEachRun is used for Run-Dependent MC"
Looking on last relvals of Run-Dependent MC,
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=CMSSW_11_1_0_pre5__RD_Harvesting_6HS-1586551827-ZEE_13UP18_RD

There is a strange in RUN number shows up in output, not sure if I understand how overwriten on run number should work. RelVal was submitted with following setting in DIGI step,
`process.source.firstLuminosityBlockForEachRun

[2020-04-14 17:56] cmsbuild commented on #29472
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-14 18:00] makortel commented on #29472
assign core

[2020-04-14 18:00] cmsbuild commented on #29472
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-14 18:04] Dr15Jones commented on #29472
Which source type was being used?

[2020-04-14 18:06] srimanob commented on #29472
Hi @Dr15Jones
PoolSource,
https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/9878a8ca41e589b33baa4842202f0e80/configFile

[2020-04-14 18:09] makortel commented on #29472
Not sure if it adds, but here is an example of GEN-SIM-DIGI-RAW-HLTDEBUG file
[/store/relval/CMSSW_11_1_0_pre5/RelValZEE_13UP18_RD/GEN-SIM-DIGI-RAW-HLTDEBUG/PUpmx25ns_110X_upgrade2018_realistic_v9_RD_Harvesting_6HS-v1/10000/F44DA59C-C03C-BA4E-BA09-9F38F8351EC4.root](https://cmsweb.cern.ch/das/request?instance=prod/global&input=lumi+file%3D%2Fstore%2Frelval%2FCMSSW_11_1_0_pre5%2FRelValZEE_13UP18_RD

[2020-04-14 18:12] srimanob commented on #29472
Yes, that is correct. GEN-SIM-DIGI-RAW-HLTDEBUG is the output from DIGI step where the overwritten happened.

All cmsDriver and workflow can be found at
https://cmsweb.cern.ch/reqmgr2/fetch?rid=srimanob_RVCMSSW_11_1_0_pre5ZEE_13UP18_RD_PUpmx25ns__RD_Harvesting_6HS_200410_225408_9251

[2020-04-14 18:13] Dr15Jones commented on #29472
Are there log files for the jobs which did the renumbering?

[2020-04-14 18:16] srimanob commented on #29472
I don't have any link to log from request page, and it seems all jobs success

https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=CMSSW_11_1_0_pre5__RD_Harvesting_6HS-1586551827-ZEE_13UP18_RD

@amaltaro Do you know if I can find log of success relvals jobs

[2020-04-14 18:31] Dr15Jones commented on #29472
So I did the following

create a file containing Run 1, Lumi 378
step1_cfg.py
[code]

Read that file and change the Run number
[code]

This created the output
[code]

Which is exactly what we wanted. Therefore I need more information to attempt to reproduce the problem seen.

[2020-04-14 18:47] Dr15Jones commented on #29472
So I did the same test but this time generating a file containing just Run 1 Lumi 1145. Then doing the second step I get what we would have expected
[code]

So there appears to be some step I'm not replicating.

[2020-04-14 19:08] Dr15Jones commented on #29472
So I was eventually able to cause the same effect. If I created two files one with Lumi 378 and the other with Lumi 1145; merge the two files together; have the 'step2' read the file but use `source.firstLuminosityBlock = cms.untracked.uint32(1145)` then the run number assigned to 1145 is 316082 instead of 321414.

[2020-04-14 19:09] amaltaro commented on #29472
@srimanob Phat, there is one log available here, for the DIGI step:
https://eoscmsweb.cern.ch/eos/cms/store/logs/prod/recent/PRODUCTION/srimanob_RVCMSSW_11_1_0_pre5ZEE_13UP18_RD_PUpmx25ns__RD_Harvesting_6HS_200410_225408_9251/DIGIPRMXUP18_PU25_RD

[2020-04-14 19:14] srimanob commented on #29472
Interesting. I am testing the same with `/store/relval/CMSSW_11_1_0_pre5/RelValZEE_13UP18_RD/GEN-SIM/110X_upgrade2018_realistic_v9_RD_Harvesting_6HS-v1/10000/FCD14A86-3935-E84F-9E81-B11A34390C61.root` which we have LS crossing from 217, 226. But I can't reproduce the issue.

[code]

[2020-04-14 19:22] wouf commented on #28636
I'm really counting on @civanch or someone else to explain this. I think it may be related to HepMC COMMON-block size inconsistent in Pythia6 interface.
@gkrintir do You ever observe it before?

[2020-04-14 19:23] cmsbuild commented on #29471
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_12-slc7_amd64_gcc820/2391
Some tests (

[2020-04-14 20:02] cmsbuild commented on #29471
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_12-slc7_amd64_gcc820/2391

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-14 20:17] cmsbuild commented on #29471
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_12-slc7_amd64_gcc700/2390
Some tests (

[2020-04-14 20:57] cmsbuild commented on #29471
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_12-slc7_amd64_gcc700/2390

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-14 21:52] Dr15Jones commented on #29472
Should be fixed with #29473

[2020-04-15 06:19] srimanob commented on #29472
Thanks very much, @Dr15Jones
However, I think I miss one piece of the picture. How does `source.firstLuminosityBlock` appear? It was not a part of cmsDriver. Is it somehow added during the production?

[2020-04-15 06:57] silviodonato opened #29474 "SLHCUpgradeSimulations/Geometry unit test failure"
There is a failing unit test in `SLHCUpgradeSimulations/Geometry` since `CMSSW_11_1_X_2020-04-14-2300`, after the integration of
[code]

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_amd64_gcc8/CMSSW_11_1_X_2020-04-14-2300/unitTestLogs/SLHCUpgradeSimulations/Geometry#/

Likely, this error is related to #29151
cc: @tschuh

[2020-04-15 06:57] cmsbuild commented on #29474
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-15 07:04] silviodonato commented on #29474
assign upgrade

[2020-04-15 07:04] silviodonato commented on #29474
cc: @emiglior

[2020-04-15 07:05] cmsbuild commented on #29474
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-15 07:31] silviodonato commented on #29474
I attached the diff between `CMSSW_11_1_X_2020-04-14-1100` and `CMSSW_11_1_X_2020-04-14-2300` of the `edmConfigDump` of the configuration used by the unit test `SLHCUpgradeSimulations/Geometry/test/phase2_digi_reco_pixelntuple_cfg.py`

[diff.txt](https://github.com/cms-sw/cmssw/files/4479660/diff.txt)

After #29151, we added `TrackerDTCProducer` in `L1TrackTrigger_step` with the following configur

[2020-04-15 07:55] silviodonato commented on #29474
I think the problem is due to https://github.com/cms-sw/cmssw/pull/29151/files#diff-e849ebacbb10dcdc5322db60df5c7a9aR26
Replacing the line to
`ProcessName                   = cms.string    ( "" ),                                             #`
should solve the problem

[2020-04-15 07:55] silviodonato commented on #29474
assign l1

[2020-04-15 07:56] cmsbuild commented on #29474
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-15 08:00] silviodonato commented on #29471
upload all

[2020-04-15 08:00] cmsbuild commented on #29471
Queing Jenkins upload for slc7_amd64_gcc700

[2020-04-15 08:00] cmsbuild commented on #29471
Queing Jenkins upload for slc7_amd64_gcc820

[2020-04-15 08:02] cmsbuild commented on #29471
The upload has started for slc7_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1538/console

[2020-04-15 08:03] cmsbuild commented on #29471
The upload has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1539/console

[2020-04-15 08:04] cmsbuild commented on #29471
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_12-slc7_amd64_gcc700/1538

[2020-04-15 08:04] cmsbuild commented on #29471
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_12-slc7_amd64_gcc820/1539

[2020-04-15 08:06] silviodonato commented on #29471
release-notes

[2020-04-15 08:06] cmsbuild commented on #29471
Generating release notes since CMSSW_10_6_11_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-04-15 08:06] cmsbuild commented on #29471
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_12 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_11_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_12

Cheers,
cms-bot

You can also click <a href="mailto:h

[2020-04-15 08:08] cmsbuild commented on #29471
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_12

[2020-04-15 09:38] tschuh commented on #29474
Ups, in  L1Trigger/TrackerDTC/python/Producer_Defaults_cfi.p L25 CheckHistory should be False by default. Are you able to change that or shall I make a PR?

[2020-04-15 09:41] silviodonato commented on #29474
please make a PR, thanks

[2020-04-15 12:32] #29471 closed

[2020-04-15 12:34] silviodonato opened #29479 "Build CMSSW_7_1_46"

[2020-04-15 12:34] cmsbuild commented on #29479
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-15 12:35] silviodonato commented on #29479
+1

[2020-04-15 12:35] cmsbuild commented on #29479
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_46. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2020-04-15 12:35] cmsbuild commented on #29479
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-04-15 12:36] cmsbuild commented on #29479
The build has started for slc6_amd64_gcc481 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2392/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2020-04-15 12:40] smuzaffar commented on #29479
@silviodonato , have you seen this request https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/7077.html for 7.1.X release?

[2020-04-15 12:49] silviodonato commented on #29479
+1
@smuzaffar yes,  #28785 is already merged, that's why I started CMSSW_7_1_46.

[2020-04-15 12:52] smuzaffar commented on #29479
ah OK, I saw their message on hypernews so thought that they might not have even a backport yet. All is good then.

[2020-04-15 13:05] peruzzim commented on #27889
taking note of #29062

[2020-04-15 13:11] Dr15Jones commented on #29472
@SridharaDasu

Looking at the file used in the original job, the LuminosityBlocks in the file were not consecutive. I assumed that was because the GEN jobs had their outputs merged. Then during the next step the workflow system normally tells that job which LuminosityBlocks within the input files should be processed (we do not always process an entire file in a workflow). So I assumed the job whic

[2020-04-15 13:54] silviodonato commented on #29474
fixed by  #29478

[2020-04-15 14:24] cmsbuild commented on #29479
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_46-slc6_amd64_gcc481/2392
Some tests (

[2020-04-15 14:36] cmsbuild commented on #29479
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_46-slc6_amd64_gcc481/2392

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2020-04-15 15:08] DryRun commented on #29076
Maybe @lwang046 or @abdoulline should confirm, but I believe #28368 fixed the issue once and for all.

[2020-04-15 15:50] abdoulline commented on #29076
I believe so.

On Wed, 15 Apr 2020, David Yu wrote:

[2020-04-15 15:55] abdoulline commented on #29076
@DryRun
in fact, not it's not  https://github.com/cms-sw/cmssw/pull/28368, but https://github.com/cms-sw/cmssw/pull/29083 which fixed the issue once for all.

[2020-04-15 21:36] silviodonato commented on #29479
upload all

[2020-04-15 21:37] silviodonato opened #29488 "Build CMSSW_11_1_0_pre6"

[2020-04-15 21:37] cmsbuild commented on #29479
Queing Jenkins upload for slc6_amd64_gcc481

[2020-04-15 21:37] cmsbuild commented on #29488
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-15 21:37] cmsbuild commented on #29479
The upload has started for slc6_amd64_gcc481 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1540/console

[2020-04-15 21:38] cmsbuild commented on #29479
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_46-slc6_amd64_gcc481/1540

[2020-04-15 21:38] silviodonato commented on #29488
+1

[2020-04-15 21:39] cmsbuild commented on #29488
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-04-15 21:39] silviodonato commented on #29479
release-notes

[2020-04-15 21:39] cmsbuild commented on #29488
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I

[2020-04-15 21:39] cmsbuild commented on #29488
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2393/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-04-15 21:39] cmsbuild commented on #29488
The build has started for slc7_amd64_gcc900 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2395/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-15 21:39] cmsbuild commented on #29479
Generating release notes since CMSSW_7_1_45_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-04-15 21:39] cmsbuild commented on #29479
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_46 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_45_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_46

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2020-04-15 21:39] cmsbuild commented on #29488
The build has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2394/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-15 21:40] cmsbuild commented on #29479
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_46

[2020-04-15 22:30] cmsbuild commented on #29488
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2396/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-04-15 22:36] cmsbuild commented on #29488
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2397/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-16 01:28] cmsbuild commented on #29488
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-cc8_amd64_gcc8/2393
Some tests ( r

[2020-04-16 02:06] cmsbuild commented on #29488
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-cc8_amd64_gcc8/2393

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-16 02:08] cmsbuild commented on #29488
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-slc7_amd64_gcc820/2394
Some tes

[2020-04-16 02:08] cmsbuild commented on #29488
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-cc8_aarch64_gcc8/2396
Some tests

[2020-04-16 02:44] cmsbuild commented on #29488
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-slc7_amd64_gcc820/2394

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-16 03:09] cmsbuild commented on #29488
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-cc8_aarch64_gcc8/2396

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-16 03:38] cmsbuild commented on #29488
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-slc7_aarch64_gcc820/2397
Some

[2020-04-16 04:41] cmsbuild commented on #29488
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-slc7_aarch64_gcc820/2397

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-16 06:10] wouf commented on #28636
The only two remaining issue need to be solved, before I will do the pull request.

1) OscarMTProducer warning like:
[code]

2) Pythia8 StreamCache issue, related to the changes of  **GeneratorFilter**

[code]

[2020-04-16 07:47] cmsbuild commented on #29488
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-slc7_amd64_gcc900/2395
Some tes

[2020-04-16 08:23] #29479 closed

[2020-04-16 08:23] silviodonato commented on #29488
upload all

[2020-04-16 08:23] cmsbuild commented on #29488
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-04-16 08:23] cmsbuild commented on #29488
Queing Jenkins upload for cc8_amd64_gcc8

[2020-04-16 08:24] cmsbuild commented on #29488
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-04-16 08:24] cmsbuild commented on #29488
Queing Jenkins upload for slc7_amd64_gcc820

[2020-04-16 08:24] cmsbuild commented on #29488
Queing Jenkins upload for slc7_amd64_gcc900

[2020-04-16 08:24] cmsbuild commented on #29488
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6-slc7_amd64_gcc900/2395

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-16 08:25] cmsbuild commented on #29488
The upload has started for slc7_amd64_gcc900 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1542/console

[2020-04-16 08:25] cmsbuild commented on #29488
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1541/console

[2020-04-16 08:26] cmsbuild commented on #29488
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre6-slc7_amd64_gcc900/1542

[2020-04-16 08:26] cmsbuild commented on #29488
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1543/console

[2020-04-16 08:27] cmsbuild commented on #29488
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre6-cc8_aarch64_gcc8/1541

[2020-04-16 08:27] cmsbuild commented on #29488
The upload has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1544/console

[2020-04-16 08:27] cmsbuild commented on #29488
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre6-slc7_aarch64_gcc820/1543

[2020-04-16 08:28] cmsbuild commented on #29488
The upload has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1545/console

[2020-04-16 08:28] cmsbuild commented on #29488
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre6-cc8_amd64_gcc8/1544

[2020-04-16 08:30] cmsbuild commented on #29488
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre6-slc7_amd64_gcc820/1545

[2020-04-16 08:31] silviodonato commented on #29488
release-notes

[2020-04-16 08:31] cmsbuild commented on #29488
Generating release notes since CMSSW_11_1_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-04-16 08:31] cmsbuild commented on #29488
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre6 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_p

[2020-04-16 08:32] cmsbuild commented on #29488
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre6

[2020-04-16 09:07] ahinzmann commented on #25849
Adressed by #29385

[2020-04-16 11:49] #29488 closed

[2020-04-16 11:49] silviodonato opened #29491 "Build CMSSW_11_1_0_pre6_CLANG"

[2020-04-16 11:49] cmsbuild commented on #29491
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-16 11:50] silviodonato commented on #29491
+1

[2020-04-16 11:50] cmsbuild commented on #29491
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre6_CLANG. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-04-16 11:50] cmsbuild commented on #29491
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-04-16 11:51] silviodonato commented on #29474
#29478 solved the problem

[2020-04-16 11:51] #29474 closed

[2020-04-16 11:53] cmsbuild commented on #29491
The build has started for slc7_amd64_gcc820 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2398/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-16 11:53] silviodonato commented on #29448
Fixed by #29467

[2020-04-16 11:53] #29448 closed

[2020-04-16 11:54] silviodonato commented on #29447
Fixed by #29465

[2020-04-16 11:54] #29447 closed

[2020-04-16 11:55] silviodonato commented on #29446
Fixed by #29450

[2020-04-16 11:55] #29446 closed

[2020-04-16 11:58] cmsbuild commented on #29491
The build has started for slc7_amd64_gcc820 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2399/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-16 12:00] silviodonato commented on #29472
@srimanob  can we close this issue?

[2020-04-16 12:04] silviodonato commented on #29444
@smuzaffar @makortel , can we close this issue?

[2020-04-16 12:05] smuzaffar commented on #29444
+core

[2020-04-16 12:06] smuzaffar commented on #29444
issue has been fixed by adding the eigen include to ROOT_INCLUDE_PATH

[2020-04-16 12:06] #29444 closed

[2020-04-16 12:18] srimanob commented on #29472
@silviodonato
I plan to inject relvals with _pre6 first, then confirm if issue solved. I will come back to this issue when I get a result.

[2020-04-16 15:10] cmsbuild commented on #29491
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6_CLANG-slc7_amd64_gcc820/2399
So

[2020-04-16 15:46] cmsbuild commented on #29491
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6_CLANG-slc7_amd64_gcc820/2399

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-16 15:57] silviodonato commented on #29491
abort

[2020-04-16 15:58] cmsbuild commented on #29491
Deleting CMSSW_11_1_0_pre6_CLANG:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_pre6_CLANG successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_0_pre6_CLANG/slc7_amd64_gcc820 successfully deleted.

You must create a new issue to start over the build.

[2020-04-16 15:59] silviodonato commented on #29491
I integrated some PRs, so this CMSSW_11_1_0_pre6_CLANG was different from CMSSW_11_1_0_pre6 :-(

[2020-04-16 15:59] #29491 closed

[2020-04-16 16:07] silviodonato opened #29496 "Build CMSSW_11_1_0_pre6_CLANG"
ARCHITECTURE:slc7_amd64_gcc820
CMSSW_COMMIT:CMSSW_11_1_0_pre6

[2020-04-16 16:07] cmsbuild commented on #29496
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-16 16:07] silviodonato commented on #29496
+1

[2020-04-16 16:07] cmsbuild commented on #29496
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre6_CLANG. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-04-16 16:07] cmsbuild commented on #29496
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-04-16 16:12] cmsbuild commented on #29496
The build has started for slc7_amd64_gcc820 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2400/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-16 19:10] cmsbuild commented on #29496
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6_CLANG-slc7_amd64_gcc820/2400
So

[2020-04-16 19:47] cmsbuild commented on #29496
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre6_CLANG-slc7_amd64_gcc820/2400

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-16 23:57] slava77 commented on #25884
@jainshilpi @lsoffi  @afiqaize @SohamBhattacharya
was there any progress on this topic?

[2020-04-17 00:09] slava77 commented on #27889
I've updated the issue description https://github.com/cms-sw/cmssw/issues/27889#issue-486344664 with the list of features mentioned in the thread.
Please check if something is missing

[2020-04-17 00:22] slava77 commented on #27889
I missed the PPS plans; added now in the issue description

@jan-kaspar @fabferro

[2020-04-17 07:54] fwyzard commented on #29496
upload all

[2020-04-17 08:09] jan-kaspar commented on #27889
Thanks @slava77 . I confirm that we use run2_miniAOD_devel to activate the changes for re-miniAOD, e.g.:
  https://github.com/CTPPS/cmssw/blob/jan_buffer_10_6/RecoCTPPS/ProtonReconstruction/python/ctppsProtons_cff.py#L32

[2020-04-17 09:11] smuzaffar commented on #29496
upload all

[2020-04-17 09:11] cmsbuild commented on #29496
Queing Jenkins upload for slc7_amd64_gcc820

[2020-04-17 09:12] cmsbuild commented on #29496
The upload has started for slc7_amd64_gcc820 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1546/console

[2020-04-17 09:13] cmsbuild commented on #29496
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre6_CLANG-slc7_amd64_gcc820/1546

[2020-04-17 11:48] fwyzard opened #29507 "cms.Process.process cannot set the process name"
The python `cms.Process` object defines the property `process` to get and set the process name.

Getting the name works:
[code]

Setting it doesn't work:
[code]

Setting the name directly or via the setter does work:
[code]
[code]

[2020-04-17 11:48] fwyzard commented on #29507
assign core

[2020-04-17 11:49] cmsbuild commented on #29507
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-17 11:49] cmsbuild commented on #29507
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-17 12:33] slava77 commented on #27889
@jainshilpi @lsoffi @afiqaize @SohamBhattacharya
Please clarify if there is something planned from EGM (apparently something was mentioned in private)

[2020-04-17 13:23] makortel commented on #28636
@wouf Could you share the code that leads to the aforementioned compilation failure?

[2020-04-17 13:24] hqucms commented on #27889
Would it make sense to backport https://github.com/cms-sw/cmssw/pull/28112 to benefit from the speed improvement?

[2020-04-17 14:45] wouf commented on #28636
Dear @makortel , I placed it to https://github.com/wouf/cmssw/tree/from-CMSSW_11_1_0_pre5

[2020-04-17 19:28] makortel commented on #28636
Thanks. The problem is that the `ConcurrentHadronizerFilter` constructs the hadronizer in `beginStream()`
https://github.com/cms-sw/cmssw/blob/3548ccd3af86516a2b8905263ceef573e0d3ddb1/GeneratorInterface/Core/interface/ConcurrentHadronizerFilter.h#L175-L176
while in your branch the `Pythia8Hadronizer` constructor now needs an `edm::ConsumesCollector` as well
https://github.com/wouf/cmssw/blob/25a79

[2020-04-17 21:48] wouf commented on #28636
**ConcurrentHadronizerFilter** is needed for CUDA?

Correct, **consumes** needed in HI generators only.

[2020-04-17 22:13] makortel commented on #28636
No, it is a recent work to run a hadronizer (or multiple instances of it, to be prices) concurrently, see https://github.com/cms-sw/cmssw/pull/28913. (in practice, as far as I have understood, limited to pythia8 without a decayer)

Good, then I'd suggest to continue with the workaround below:

[2020-04-18 00:52] slava77 commented on #27889
I don't have a strong feeling that it has to be done.
A backport would likely need some form of #29172 (to have ONNX only for re-mini and allow the older workflows to run what they do now).

[2020-04-18 08:32] silviodonato commented on #29496
release-notes since CMSSW_11_1_0_pre6

[2020-04-18 08:32] cmsbuild commented on #29496
Generating release notes since CMSSW_11_1_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-04-18 08:32] cmsbuild commented on #29496
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre6_CLANG is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_1_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre6_CLANG

Cheers,
cms-bot

You can also click <a href="mailto:h

[2020-04-18 08:33] cmsbuild commented on #29496
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre6_CLANG

[2020-04-18 08:34] #29496 closed

[2020-04-18 11:16] srimanob commented on #29472
@Dr15Jones @makortel @silviodonato

It seems we have a large failure of RunDependent RelVals, [10k event](https://cms-unified.web.cern.ch/cms-unified/report/srimanob_RVCMSSW_11_1_0_pre6ZEE_13UP18_RD_PUpmx25ns__RD_Harvesting_8_200416_161631_4812), [High statistics](https://cms-unified.web.cern.ch/cms-unified/report/srimanob_RVCMSSW_11_1_0_pre6ZEE_13UP18_RD_PUpmx25ns__RD_Harvesting_8HS_200416_161423

[2020-04-18 11:18] srimanob commented on #29472
FYI @chayanit
It should not affect normal MC relvals as RUN always be 1 for MC.

[2020-04-18 13:29] wouf commented on #28636
Thank You @makortel ,it works, but leads to the warning:

[code]

[2020-04-18 15:16] Dr15Jones commented on #29472
@srimanob thanks for the example configuration. I was able to pair it down to just the Source and PoolOutputModule and still get the failure. The problem appears to be that when going from 1 LuminosityBlock to the next, the framework failed to generate the endRun/beginRun transitions but went ahead and changed the Run # on the next LuminosityBlock.

[2020-04-18 16:09] Dr15Jones commented on #29472
I extended the framework unit test to also check Run and LuminosityBlock transitions are being done correctly and it now sees this problem (and the update test now reports failure).

[2020-04-20 13:53] Dr15Jones commented on #28636
Adding consumes to generic Hadronizers will also not work with the ExternalGeneratorFilter: #29445 .

[2020-04-20 14:26] wouf commented on #28636
Could You please to give example of such external processes?

[2020-04-20 14:33] perrotta opened #29522 "The FEVTEventContent is made of RECO chunks, instead of the dedicated FEVT ones"
In Configuration/EventContent/python/EventContent_cff.py the AOD, RECO, etc. event contents are made of chunks of the corresponding AOD, RECO, etc. subpackages output commands. E.g.:

[code]

and the same for the RECOEventContent.

The same is not true for the FEVTEventContent, or FEVTSIMEventContent, e.g.:

[code]

The corresponding ```xxxFEVT.outputCommands``` PSet's of all those packages exist

[2020-04-20 14:34] perrotta commented on #29522
assign operations, reconstruction

[2020-04-20 14:34] cmsbuild commented on #29522
A new Issue was created by  @perrotta .

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-20 14:34] cmsbuild commented on #29522
New categories assigned: operations,reconstruction

@slava77,@fabiocos,@franzoni,@perrotta,@davidlange6,@silviodonato you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-20 14:34] Dr15Jones commented on #28636
At present, any generator created by using the GeneratorFilter template can be run by the ExternalGeneratorFilter. This allows concurrent running of the generators even when the generators are not thread safe. The pull request itself has a unit test that shows this working with Pythia8GeneratorFilter

https://github.com/cms-sw/cmssw/pull/29445/files#diff-ba82afe72ee4cb2d59f19502169d1807R9-R26

[2020-04-20 14:44] makortel commented on #28636
I can only wonder why that does not lead to failures in our regular builds. I can see that `DireFunction`'s indeed is not virtual, but I don't see anything specific in your branch that would trigger it. @smuzaffar Would you have any idea?

[2020-04-20 14:49] wouf commented on #28636
Could You please to clarify for me, in which case we need to run generators concurrent?

Do You have in mind some other workaround for consumers in GeneratorInterface?

[2020-04-20 14:52] makortel commented on #28636
@Dr15Jones Do I understand correctly that the `ExternalGeneratorFilter` can not run a generator that would read data products? But can we have a system where `GeneratorFilter` allows reading data products, and just those instantiations that do not read can be run with `ExternalGeneratorFilter`?

(at least as a short-term workaround, I'd think in the long term we should aim to be able to run all ge

[2020-04-20 14:54] makortel commented on #28636
Running generators with single thread (either as a separate step or within a GEN-SIM step) causes various kinds of issues for computing (e.g. CPU inefficiency, huge load of single-core workflows).

[2020-04-20 14:54] Dr15Jones commented on #28636
When we have very high filter efficiency in the generator, the amount of CPU time used by the generate becomes a significant fraction of a job. Since workflow management wants to run all jobs (if at all possible) using 8 threads, having the generator only being able to use 1 thread is extremely CPU inefficient. Under those cases, using the ExternalGeneratorFilter will allow higher CPU efficiency.

[2020-04-20 15:11] wouf commented on #28636
I see, thank You for the explanation. What is the main trouble to change ConcurrentHadronizerFilter for consumers? I mean what else should be changed for this?

[2020-04-20 15:16] makortel commented on #28636
For `ConcurrentHadronizerFilter` I outlined a possible way here https://github.com/cms-sw/cmssw/issues/28636#issuecomment-615425448

I.e. as far as I can tell there are no fundamental showstoppers, but if the work is clearly not needed (I understood Hydjet would be run as a generator, not as a hardonizers) why bother (but of course I have no objections if someone wants to do it).

[2020-04-20 15:31] slava77 commented on #29522
In https://github.com/cms-sw/cmssw/blame/master/Configuration/EventContent/python/EventContent_cff.py#L33
we have explicit definitions
[code]
this is how it was since https://github.com/cms-sw/cmssw/commit/1c28d1109c96aa7c5e37b35031f715c30aa16724 in 2008.

It sounds like the appropriate solution is to drop support for ```xxxFEVT``` in the subsystems.
Also, some refactoring of Configuration/EventCo

[2020-04-20 15:50] wouf commented on #28636
You right, Hydjets and Pyquen can't be used as external hadronizer, only as generators itself. But what about the ExternalGeneratorFilter, which would be very much in demand?

[2020-04-20 15:56] slava77 commented on #27889
I updated the issue description (to keep a summary in one place)
- PUPPI tune v14 is mentioned
- updated the line item for sumPtUnclustered, now that the PR is available #29521
- updated status after #29062 and #29324 were merged

[2020-04-20 20:28] Dr15Jones commented on #29472
This should be the fix #29525.

[2020-04-21 01:42] makortel commented on #28636
@Dr15Jones pointed out that the addition of `ConsumesCollector` everywhere could be avoided e.g. specializing the constructor of `HydjetGeneratorFilter`, like here
https://github.com/cms-sw/cmssw/commit/4c343245ca5ef91f129c6ad75155d91a438f069f
(to test the compilation I then removed the `ConsumesCollector` parameters
https://github.com/cms-sw/cmssw/commit/bb47c85aba6fa6b0b66756bf0a7fce6e15cfec9e
)

[2020-04-21 05:53] wouf commented on #28636
Nice solution! One thing I'm not understanding: why don't we need inheritance from EDFilter anymore?

[2020-04-21 07:37] jainshilpi commented on #25884
The work on finalizing the regression and ID MVA is ongoing. Once that is done (~a months time), it can be put in miniAOD.

[2020-04-21 13:13] makortel commented on #28636
The inheritance is still there. I removed the call to the base class default constructor, because it is not necessary (it gets called implicitly).

[2020-04-21 14:19] smuzaffar commented on #28636
@makortel , we have these warnings in IBs too but as they are coming from external tools so we ignore them https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc820/CMSSW_11_1_X_2020-04-19-0000/GeneratorInterface/Pythia8Interface

[2020-04-21 14:24] makortel commented on #28636
Thanks Shahzad, I also came to the same conclusion but forgot to mention here. So @wouf, just ignore that warning.

[2020-04-21 14:51] silviodonato opened #29528 "DavixAdaptor unit test failure"
Sometimes we get unit test failures in `Utilities/DavixAdaptor`.
Likely, it is due to a temporary connection problem.
This issue is just to keep track of this problem.

In `CMSSW_11_1_X_2020-04-21-1100`
[code]

[2020-04-21 14:51] cmsbuild commented on #29528
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-21 14:53] makortel commented on #29528
assign core

[2020-04-21 14:54] cmsbuild commented on #29528
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-21 15:06] christopheralanwest commented on #29390
+1

- Implementation in PR #29443 been merged

[2020-04-21 16:51] #29390 closed

[2020-04-21 17:12] wouf commented on #28636
I see, thank You!
Do I understand correctly that we can't use Hydjet and Pyquen with ExternalGeneratorFilter due to consumer's specializetion?

[2020-04-21 17:46] makortel commented on #28636
Currently that is the case. The challenge is somewhat similar to `ConcurrentHadronizerFilter`, i.e. the generator is constructed at the `beginStream()` time, but in the `ExternalGeneratorFilter` an external process is set up (with a communication channel) to run the generator and the `ExternalGeneratorFilter` itself is completely independent of the actual generator. Even if we would manage to find

[2020-04-21 17:55] Dr15Jones commented on #28636
We also have to handle serializing the data on the cmsRun side and deserializing it on the external process side. We do the opposite now to transfer the generated data back but that is very CPU costly and can't be avoided. Having to do it both ways would make calling the module  even slower.

[2020-04-21 17:58] slava77 commented on #27889
Update from today:
- #29392 is merged
- #29521 is merged
- lowPt electrons work (details in #25884) has an ETA of ~1 month
- added #29529 (step up from "backport needed" for #29389 )

[2020-04-22 07:16] silviodonato opened #29532 "DQM/Integration unit test failures in PY3"
We are getting 24 unit test failures in PY3 in DQM/Integration since CMSSW_11_1_PY3_X_2020-04-20-2300.
See https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_1_PY3_X_2020-04-20-2300/unitTestLogs/DQM/Integration
Most likely, the error is originated from #29372.

[code]

[2020-04-22 07:16] silviodonato commented on #29532
assign dqm

[2020-04-22 07:16] cmsbuild commented on #29532
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-22 07:16] cmsbuild commented on #29532
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-22 12:52] makortel commented on #29306
I'm wondering if instead of "fixing" the build rules it would make more sense to move the `mkTemplates` directory e.g. to `FWCore/Skeletons/data`.

[2020-04-22 14:53] silviodonato commented on #29532
Fixed by #29534

[2020-04-22 16:31] silviodonato commented on #28928
@agrohsje

[2020-04-22 16:39] slava77 commented on #27889
I added #29537 to fix sign of pat::Muon::dxy in the list of features in the description/first message in the issue

[2020-04-22 17:29] agrohsje commented on #28928
@qliphy @mkirsano @SiewYan
checking the history, I don't think this is still used:
https://github.com/cms-sw/cmssw/tree/master/GeneratorInterface/PartonShowerVeto
plotting matching is in genproductions.  please comment as well.

[2020-04-22 20:47] wouf commented on #28636
Thank You for the explanation! Тhat doesn't sound comforting...

[2020-04-23 01:16] makortel commented on #28636
I agree. I don't have good ideas for which way to proceed.

Is there any hope for getting Hydjet thread-friendly (like Pythia8 alone is, assuming Hydjet is not yet)?

How much time does the GEN step take compared to SIM step?

[2020-04-23 02:09] qliphy commented on #28928
It might still be safe to keep the package for the moment.

To fix the warning, I agree with @agrohsje "YCUT should be something say 100 or similar. So we can initialize it with a neg value and throw an error if it is below 0."

[2020-04-23 07:04] silviodonato commented on #29532
Solved in CMSSW_11_1_X_2020-04-22-2300

[2020-04-23 07:04] #29532 closed

[2020-04-23 08:27] wouf commented on #28636
The current Hydjet family 1.x and 2.x uses Pyquen 1.x as a part. Pyquen family 1.x  is based on Pythia 6 (PYQUEN mean PYthia QUENched). As far as I know no way to make Pythia 6 thread-friendly (at least due to fortran 77 specification with SAVE variables, right?).

On 10 events GEN workflow spend 0m53s, GEN-SIM - 60m50s.
But at this moment we have a warning from GEANT (which increases the simulati

[2020-04-23 17:10] srimanob commented on #29472
Thanks, @Dr15Jones
I would like to confirm that I try to run locally with CMSSW_11_1_X_2020-04-22-2300, and the Run transition is done properly.

[2020-04-23 17:10] #29472 closed

[2020-04-23 17:12] Dr15Jones commented on #29472
@srimanob thanks for running the test!

[2020-04-23 19:38] gartung opened #29551 "Segfault in Phase2EndcapRing::computeCrossings when running cmsRunVDT with RECO config"
To reproduce:
runTheMatrix.py -l 20634.21 -w upgrade --dryRun
Update config files
TTbar_14TeV_TuneCP5_cfi_GEN_SIM.py and step2_DIGI_L1_L1TrackTrigger_DIGI2RAW_HLT_PU.py
to generate 100 events and use 8 threads. Run these configs
cmsRunVDT TTbar_14TeV_TuneCP5_cfi_GEN_SIM.py
cmsRunVDT step2_DIGI_L1_L1TrackTrigger_DIGI2RAW_HLT_PU.py

Update config file step3_RAW2DIGI_L1Reco_RECO_RECOSIM_PU.py
to gene

[2020-04-23 19:38] cmsbuild commented on #29551
A new Issue was created by  @gartung Patrick Gartung.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-23 19:41] kpedro88 commented on #29551
assign reconstruction,upgrade
attn: @JanFSchulte @mtosi

[2020-04-23 19:41] cmsbuild commented on #29551
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-23 19:42] makortel commented on #29551
Is the pointer invalid also with regular `cmsRun`? (if yes, it would hint towards something going wrong with `cmsRunVDT` earlier when the geometry is built)

[2020-04-23 19:45] gartung commented on #29551
It runs without segfaulting under cmsRun. Perhaps this is a timing issue that running under cmsRunVDT reveals.

[2020-04-23 19:47] gartung commented on #29551
Running valgrind with cmsRun and the same config now.

[2020-04-23 19:50] gartung commented on #29551
The only difference between cmsRun and cmsRunVDT is that the VDT library is linked in the second. I searched through the code and vdt:: namespace functions are called in various places. What happens to these when the VDT library function is not available?

[2020-04-23 19:54] kpedro88 commented on #29551
The vdt headers and library can be included on a per-package basis, as they are distributed in ROOT.

[2020-04-23 20:45] slava77 commented on #29551
Does it crash in one thread or does it have to be 8?
please copy the input file to some place readable.
Thank you.

[2020-04-23 21:30] gartung commented on #29551
The segfault happens whether 8 threads or one thread is used. The segfaults happened with multiple runs of step1 and step2 which generated a new steo2.root each time.

[2020-04-23 21:32] gartung commented on #29551
The files currently being used  can be found on cmsdev34 in /build/gartung/CMSSW_11_1_0_pre6/TimeMemory

[2020-04-23 21:35] gartung commented on #29551
I am also copying them to
/eos/home-g/gartung/TimeMemory

[2020-04-24 01:57] gartung commented on #29551
There is no segfault running cmsRun with the same config and input.

[2020-04-24 02:16] makortel commented on #26438
This part is done in #29553.

[2020-04-24 07:36] perrotta commented on #29251
+1
- #29399 is now merged, and apparently it was effective in removing the error

[2020-04-24 13:12] christopheralanwest commented on #29251
+1

[2020-04-24 13:12] cmsbuild commented on #29251
This issue is fully signed and ready to be closed.

[2020-04-24 14:34] hernand opened #29558 "Implementing fallback for reading conditions from file"
As discussed in the O&C meeting on April 22nd in this contribution: https://indico.cern.ch/event/911363/contributions/3833977/attachments/2024913/3386980/20200422_Using_BSC_Update.pdf
we are finding the way in the CMS WMS to exploit supercomputing resources where the compute nodes don't have network connectivity.
One of the issues is finding a way to read conditions data without access to the Fron

[2020-04-24 14:34] cmsbuild commented on #29558
A new Issue was created by  @hernand Jose Hernandez.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-24 14:36] makortel commented on #29558
assign core, db

[2020-04-24 14:36] cmsbuild commented on #29558
New categories assigned: core,db

@Dr15Jones,@smuzaffar,@ggovi,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-24 14:43] makortel commented on #29558
Towards an implementation, the idea would be to add additional parameter to `PoolDBESSource` in addition to the current `connect`, e.g. `connectFallback`, as a tracked `string`. Whether to use the `connect` or `connectFallback` would be decided at the very first use of the connection: if `connect` works, use that for all access for the whole job, otherwise use `connectFallback` for the whole job (

[2020-04-24 18:28] gartung commented on #29551
LogDebug output enabled log showing construction of objects
https://gartung.web.cern.ch/gartung/step3-log-debug.log

[2020-04-25 12:13] silviodonato opened #29560 "Build CMSSW_11_0_3"

[2020-04-25 12:14] cmsbuild commented on #29560
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-25 12:14] silviodonato commented on #29560
+1

[2020-04-25 12:15] cmsbuild commented on #29560
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_0_X

[2020-04-25 12:15] cmsbuild commented on #29560
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-04-25 12:32] cmsbuild commented on #29560
The build has started for slc7_amd64_gcc820 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2401/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-25 16:23] cmsbuild commented on #29560
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_3-slc7_amd64_gcc820/2401
Some tests (

[2020-04-25 17:02] cmsbuild commented on #29560
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_3-slc7_amd64_gcc820/2401

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-25 18:04] silviodonato commented on #29560
upload all

[2020-04-25 18:05] cmsbuild commented on #29560
Queing Jenkins upload for slc7_amd64_gcc820

[2020-04-25 18:07] cmsbuild commented on #29560
The upload has started for slc7_amd64_gcc820 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1547/console

[2020-04-25 18:09] cmsbuild commented on #29560
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_3-slc7_amd64_gcc820/1547

[2020-04-25 18:14] silviodonato commented on #29560
release-notes

[2020-04-25 18:15] cmsbuild commented on #29560
Generating release notes since CMSSW_11_0_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-04-25 18:15] cmsbuild commented on #29560
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_0_3 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_0_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2020-04-25 18:15] cmsbuild commented on #29560
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_3

[2020-04-27 09:28] mmusich opened #29563 "Phase2 Tracker Premixed DIGIs are broken"
Two problems have been detected in the Premixing vs Standard Mixing validation for the Phase-2 Trackers:

## Issue with Inner Tracker digis
Full details in this presentation from @suchandradutta:

https://indico.cern.ch/event/879033/contributions/3840120/.

In short:
- premixing stage1 uses a single electron to ADC (=135) conversion factor for both IT (inner tracker) / OT  (outer tracker)
https://

[2020-04-27 09:28] cmsbuild commented on #29563
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-27 11:54] silviodonato opened #29564 "Improvements of ReduceMantissaToNbitsRounding"
`ReduceMantissaToNbitsRounding` https://github.com/cms-sw/cmssw/commits/master/DataFormats/Math/interface/libminifloat.h was added by @arizzi and  @gpetruc with #18739 #20367.
@VinInn suggested a re-implementation of `ReduceMantissaToNbitsRounding` (see #29513 #29518).

[2020-04-27 11:54] silviodonato commented on #29564
assign reco

[2020-04-27 11:54] cmsbuild commented on #29564
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-27 12:10] Dr15Jones commented on #29563
assign simulation

[2020-04-27 12:10] cmsbuild commented on #29563
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-27 12:18] civanch commented on #29563
assign upgrade

[2020-04-27 12:18] cmsbuild commented on #29563
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-27 12:26] civanch commented on #28781
@smuzaffar , it seems that #29442 fixing random crashes. More work for proper destruction of SIM is required but this issue may be closed.

[2020-04-27 12:26] civanch commented on #28781
+1

[2020-04-27 12:26] cmsbuild commented on #28781
This issue is fully signed and ready to be closed.

[2020-04-27 12:30] civanch commented on #29073
@abdoulline , @lwang046 , can you, please, confirm, that the issue is fixed now? It was discovered after #29235 was merged and may not necessary connected with this PR.

[2020-04-27 12:31] civanch commented on #29001
+1

[2020-04-27 12:31] cmsbuild commented on #29001
This issue is fully signed and ready to be closed.

[2020-04-27 12:52] lwang046 commented on #29073
Hi @civanch, if you check the modification in PR#29235 the only change was removing a multiplier variable from an equation, I couldn't think of any reason why it could cause or fix this issue.

[2020-04-27 13:04] civanch commented on #29073
@lwang046 , yes, this issue probably disconnected with the PR. AT the other hand, the overflow is in the same code. Should it be understood and a protection added?

[2020-04-27 13:05] abdoulline commented on #29073
My bad, it's not  #29235, but https://github.com/cms-sw/cmssw/pull/29083 which had to fix anomalies  in HcalTDC::timing (subject of this Issue) since March 9.

[2020-04-27 13:07] abdoulline commented on #29073
Vladimir, do you mean there are *still* buffer overrun HcalTDC::timing ??

[2020-04-27 13:26] civanch commented on #29073
+1

it seems, that this issue was opened Mar,2 and the #29083 was merged Mar,9.

[2020-04-27 13:27] cmsbuild commented on #29073
This issue is fully signed and ready to be closed.

[2020-04-27 13:46] Dr15Jones commented on #29332
@jiafulow you can actually look yourself by going to
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_1/2020-04-24-2300?selectedArchs=slc7_amd64_gcc820&selectedFlavors=ASAN_X&selectedStatus=failed

which was the most recent run of address sanitizer (ASAN). It looks like each of the failures labelled `256` are caused by this problem. It appears there are 93 workflows failing under ASAN b

[2020-04-27 15:21] kpedro88 commented on #29563
@mdhildreth @makortel if you have time, can you take a look? hopefully the first issue is easy to fix, the second one might take some more work

[2020-04-27 15:24] mmusich commented on #29563
a possible solution is at https://github.com/cms-sw/cmssw/pull/29565

[2020-04-27 15:26] kpedro88 commented on #29563
@mmusich excellent, thanks!

[2020-04-27 16:23] cmsbuild commented on #29560
The cleanup has started for slc7_amd64_gcc820

[2020-04-27 16:23] #29560 closed

[2020-04-27 16:23] cmsbuild commented on #29560
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_3-slc7_amd64_gcc820/1544

[2020-04-28 09:31] smuzaffar opened #29569 "LLVM 10 warning for SimCalorimetry/EcalZeroSuppressionAlgos"
Hi,
  @civanch and @mdhildreth ,  In latest CLANG IBs we have LLVM 10 which reveal a compilation warning for `SimCalorimetry/EcalZeroSuppressionAlgos/interface/TrivialAmplitudeAlgo.icc`  [a]. This looks like a bug to me, I think the statement should have `&&` instead of `||` here?

[a]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc820/CMSSW_11_1_CLANG_X_2020-04-27-2300/SimCalorimetry/

[2020-04-28 09:31] smuzaffar commented on #29569
assign simulation

[2020-04-28 09:31] cmsbuild commented on #29569
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-28 09:31] cmsbuild commented on #29569
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-28 09:32] smuzaffar commented on #29569
I am in process of fixing other llvm warnings for simulations, so if you can suggest a proper fix then I can include that in my too.

[2020-04-28 16:23] slava77 commented on #24377
ping
a recent example from matrix workflow 136.731
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline-tests/CMSSW_11_1_X_2020-04-25-1100/slc7_amd64_gcc820/-GenuineIntel/matrix-results/136.731_RunSinglePh2016B+RunSinglePh2016B+HLTDR2_2016+RECODR2_2016reHLT_skimSinglePh_HIPM+HARVESTDR2/step3_RunSinglePh2016B+RunSinglePh2016B+HLTDR2_2016+RECODR2_2016reHLT_skimSinglePh_HIPM+HARVESTDR2.log

[2020-04-28 17:25] thomreis commented on #24377
Looks like it comes from these lines:
https://cmssdt.cern.ch/lxr/source/L1Trigger/L1TGlobal/src/GlobalBoard.cc#0899
and
https://cmssdt.cern.ch/lxr/source/L1Trigger/L1TGlobal/src/GlobalBoard.cc#0927

[2020-04-29 14:43] makortel commented on #26438
This part is done in #29585 .

[2020-04-29 21:02] guitargeek opened #29593 "GEMRawToDigiModule throws std::exception"
Hi,

while coming back to https://github.com/cms-sw/cmssw/issues/27553, I tried out the new particle flow validation code [1] in a recent IB (`CMSSW_11_1_X_2020-04-29-1100`) and it crashed reproducibly at the `make QCD_reco` step:

[code]
I could pinpoint the issue exactly to this line in the producer:
https://github.com/cms-sw/cmssw/blob/master/EventFilter/GEMRawToDigi/plugins/GEMRawToDigiModule.

[2020-04-29 21:04] cmsbuild commented on #29593
A new Issue was created by  @guitargeek Jonas Rembser.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-29 21:08] makortel commented on #29593
assign reconstruction

[2020-04-29 21:08] cmsbuild commented on #29593
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-29 21:51] slava77 commented on #29593
please unfold this problem in "make QCD_reco" to a setup reproducible with a cmsDriver.
It looks like there is some inconsistency in eras or conditions in this private setup.

[2020-04-29 21:53] guitargeek commented on #29593
Yes you are right, probably it's just that! I'll let you know

[2020-04-29 22:02] slava77 commented on #29593
if you have the config already, check that ```process.muonGEMDigis``` has ```useDBEMap = True```

[2020-04-30 07:42] civanch commented on #29569
@fabiocos , I suspect it is your code. It is likely correct even if the new compiler complains. May be "if" statement better rewrite in the way, which will be accepted by the compiler?

[2020-04-30 07:43] civanch commented on #29569
@fabiocos , I suspect it is your code. It is likely correct even if the new compiler complains. May be "if" statement better rewrite in the way, which will be accepted by the compiler?

[2020-04-30 07:46] davidlange6 commented on #29569
if (gain >= 1 || gain <= 3) could be replaced by if (true)

[2020-04-30 07:47] civanch commented on #29569
There are two variants:

if (gain >= 1 && gain <= 3)  or if (gain <= 3)

[2020-04-30 07:53] davidlange6 commented on #29569
not sure what you mean....the compiler is just telling you that

if (gain >= 1 || gain <= 3) {
      Erec = Erec + theWeights[sample] * (frame.sample(sample).adc()) * theGainFactors[gain];
    } else {
      edm::LogWarning("EcalAmplitudeError") << "Wrong gain in frame " << sample << " \n" << frame;
    }

can become

Erec = Erec + theWeights[sample] * (frame.sample(sample).adc()) * theGainFactors

[2020-04-30 08:16] fabiocos commented on #29569
@smuzaffar @civanch @davidlange6 yes, its is some very old code of mine, and it looks like "||" should have been "&&", as there are 3 possible gains only, and 0 should not be there, if I recall properly

[2020-04-30 08:32] wouf commented on #28636
Dear @makortel and @Dr15Jones , for `HepMCProduct` it works perfect with `skipSignal` parameter, but for `HepMCProduct`+digis I have to use `theDigitizers` in `HiMixEmbGEN_cff.py`
It looks like we need to _skip_ signal for digitizer as well:

[code]
Could You please to help with it?

[2020-04-30 09:49] #28781 closed

[2020-04-30 09:50] #29001 closed

[2020-04-30 09:50] #29073 closed

[2020-04-30 09:50] #29251 closed

[2020-04-30 14:10] makortel commented on #28636
@wouf Is your question about the second occurrence  of `mix` in

?

[2020-04-30 14:20] makortel commented on #28636
With 60-to-1 ratio naively we could be able to feed 60-wise concurrency in SIM with 1 instance of GEN (ignoring edge effects etc). At least for short-to-mid term I would imagine that to be acceptable (assuming there is no filtering of events between GEN and SIM).

[2020-04-30 14:47] wouf commented on #28636
No, about the first one. As far as I understand this strategy, first mix is for background, second - for signal without background (to avoid file reading). Then we just overlay it.

[2020-04-30 14:59] wouf commented on #28636
Yes, more important is to understand why we have warnings from `OscarMTProducer`, and to avoid situation when GEANT have to manage this. It looks like it happens with HYDJET, EPOS, HIJING, PYQUEN.

[2020-04-30 16:50] #29563 closed

[2020-04-30 16:53] makortel commented on #28636
@wouf Thanks for the clarification.

I took a look of the `edmConfigDump' of step2 configuration of `158.0`, and see that the `theDigitizers` contain two dependencies on `generatorSmeared`: `mergedtruth` for tracking MC truth, and `puVtx` for position information of the "pileup" vertices. By quick look both of them genuinely need the `generatorSmeared` product.

One option would be to remove these

[2020-04-30 17:01] Dr15Jones opened #29605 "Segmentation fault in HcalOfflineHarvesting in recent IB"
We are seeing segmentation faults in 3 of the integration build workflows. The stack trace is
[code]

The likely culprits are either #29544 or #29586. The former changed code in that same package while the latter could be causing a module that was not being run before to now be run.

[2020-04-30 17:01] cmsbuild commented on #29605
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-30 17:08] makortel commented on #29605
assign dqm

[2020-04-30 17:08] cmsbuild commented on #29605
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-04-30 17:13] makortel commented on #29605
Workflows in question are 4.28, 134.807, and 136.757.

Given that the segfault occurs in the HARVESTING step, I would guess https://github.com/cms-sw/cmssw/pull/29586 to be unlikely the cause (still possible if running "unexpected" module in DQM step could somehow trigger a segfault in HARVESTING). Also all DQM modules use the `Accumulator` extension (right?), so they should have been running also

[2020-04-30 17:40] makortel commented on #29605
I ran 4.28 on my developer area of CMSSW_11_1_X_2020-04-21-23000+https://github.com/cms-sw/cmssw/pull/29586 and it succeeded. So https://github.com/cms-sw/cmssw/pull/29544 looks more probable cause.

[2020-04-30 18:12] jfernan2 commented on #29605
@lwang046 It seems your PR is causing trouble that we did not detect.
Can you please have a look?

[2020-04-30 20:00] wouf commented on #28636
If I understand correctly, this point suppose to use two synchronized GEN-SIM collections (background and signal) as input for DIGI step? In this case the events should be mixed head to head, samples have to have the same number of events, what would be useless, I guess.

[2020-04-30 20:17] Dr15Jones commented on #29605
The code crashes here
https://github.com/cms-sw/cmssw/blob/master/DQM/HcalTasks/src/DigiRunSummary.cc#L112

because `meNumEvents` is `nullptr`. The variable is set in the line just above
https://github.com/cms-sw/cmssw/blob/master/DQM/HcalTasks/src/DigiRunSummary.cc#L111

so the request from the IGetter is failing. The value for `_subsystem` appears to be 'Hcal' making the requested MonitorElement

[2020-04-30 21:42] slava77 commented on #27889
updates from today
- PUPPI tune v14 now has a PR #29601
- #29529 lostTrack was merged

[2020-04-30 21:44] slava77 commented on #27889
also, added a note on another feature
- (backport needed for) #29526 Updates to electron/photon scales and smearings for UL

[2020-04-30 22:18] makortel commented on #28636
(assuming we are discussing about the third option above, I wasn't fully sure) Two collections of SimTracks yes, but in the same Event.

[2020-05-01 05:38] wouf commented on #28636
@makortel Sorry for this misunderstanding, I mean second point above:

I'm not sure about it.

If I understand correctly, this point suppose to use two synchronized GEN-SIM collections (background and signal) as input for DIGI step? In this case the events should be mixed head to head, samples have to have the same number of events, what would be useless, I guess.

Do You mean something like [this

[2020-05-01 05:59] wouf commented on #28636
Can't they use `generatorSmeared` from the background file (for background only)?

[2020-05-01 09:12] silviodonato opened #29610 "Action items on #29577"
@vargasa
This is just a reminder of the pending action item on #29577 about removing the existing `cout`.

[2020-05-01 09:13] cmsbuild commented on #29610
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-01 09:36] silviodonato commented on #29610
assign simulation
@vargasa

[2020-05-01 09:36] cmsbuild commented on #29610
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-01 09:45] lwang046 commented on #29605
Hi @jfernan2 @Dr15Jones, may I ask is there some principle differences between these 4 workflows and the other workflows? I'm a bit puzzled why the other workflows can get this ME but these 4 cannot. The problem indeed is related to `getBinContent`, when I comment out this `meNumEvents` related codes, another newly booked ME `cOccupancy_depth` also has issue to `getBinContent`. Both of these are l

[2020-05-01 11:18] schneiml commented on #29605
Hi @lwang046 ,

A few comments:
- Harvesting code must *always* check the return value of `IGetter::get` for `nullptr`. Lots of code does not do that today, and this causes crashes every now and then. Histograms can be missing for all sorts of reasons, typically DQM configuration changes in the RECO step, and harvesting should not crash in this situation.
- There are a lot of changes in `CMSSW_11_

[2020-05-01 12:45] slava77 commented on #29264
+1
via #29254

[2020-05-01 12:46] cmsbuild commented on #29264
This issue is fully signed and ready to be closed.

[2020-05-01 12:46] #29264 closed

[2020-05-01 12:48] slava77 commented on #28959
I'm closing this for now, after cms-sw/cmsdist#5743 was integrated

[2020-05-01 12:48] #28959 closed

[2020-05-01 12:50] slava77 commented on #28469
also,  @XavierAtCERN

ping

[2020-05-01 12:55] makortel commented on #29605
@schneiml

Just a thought, would it make sense for `IGetter::get` to throw an exception (e.g. with the ME name) in case the requested ME is missing?

[2020-05-01 12:57] slava77 commented on #28072
@jfernan2
do you happen to know the origin of the fix?

[2020-05-01 12:58] slava77 commented on #28072
+1

this is apparently resolved, likely not related to reco in the end

[2020-05-01 12:59] slava77 commented on #28049
+1
via #29081

[2020-05-01 13:02] slava77 commented on #27869
What is the status of this?

[2020-05-01 13:41] kpedro88 commented on #28049
+upgrade

[2020-05-01 13:41] cmsbuild commented on #28049
This issue is fully signed and ready to be closed.

[2020-05-01 18:58] makortel commented on #28636
Isn't that what the "embedding mode" workflow is doing now, i.e. run MixingModule first in GEN (to overlay gen products), and then again (in playback mode) in DIGI to overlay the SIM products. Or at least that was my understanding based on
https://github.com/cms-sw/cmssw/issues/28636#issuecomment-581597920
https://github.com/cms-sw/cmssw/issues/28636#issuecomment-581782222
https://github.com/cms-s

[2020-05-01 19:00] makortel commented on #28636
Possibly in theory, if the background event is the one who drives the vertex position (I can't remember if that was the case). In practice some (possibly heavy) code development would be needed to achieve that.

[2020-05-01 20:58] wouf commented on #28636
Well, if we trying to use standard workflow, pgen should looks like:
[code]
here the first `mix` is only to derive proper generator parameters, so it would run with `skipSignal` parameter. BUT the second `mix` should be run without `skipSignal`, this brings us back to the  [#28636 (comment)](https://github.com/cms-sw/cmssw/issues/28636#issuecomment-604660227)
Could You please to advise how to turn

[2020-05-01 21:16] wouf commented on #28636
I assumed this is what You meant in the  [#28636 (comment)](https://github.com/cms-sw/cmssw/issues/28636#issuecomment-585363938) Isn't it? Is it long-term plan?

[2020-05-01 23:47] makortel commented on #28636
The second `mix` would run as in the current workflow, i.e. in the DIGI step and overlay the SIM information from the signal and from the background, and run the final digitization on top of that. Or am I missing something why that would not work?

[2020-05-01 23:55] slava77 commented on #27839
+1

fixed in #29081

[2020-05-01 23:57] makortel commented on #28636
Yes, I meant that. But at that time I was not aware of the circular dependence of `mergedtruth` and `puVtx` eventually depending on the output of the generator, which makes it a lot more complicated.

I am not really in a position to tell. I suppose it is up to the simulation L2's and likely eventually on the manpower to do it.

[2020-05-02 08:09] wouf commented on #28636
I guess it needs signal in CF as well? Or maybe I'm doing something wrong, but with
[code]
I get:
[code]
P.S. - worflows for GEN-SIM:
[code]
for DIGIRAW:
[code]

[2020-05-02 08:15] wouf commented on #28636
I see, thank You for explanation.

Do You know, who may answer more exact?

[2020-05-02 13:08] wouf commented on #28636
Sorry, my mistake! With `--pileup HiMix` it works. Correct workflow for step2 is:
[code]

[2020-05-03 09:04] smuzaffar commented on #29569
fix in #29597

[2020-05-03 09:04] #29569 closed

[2020-05-03 22:33] dilsonjd commented on #27869
You will find the last presentation about it at [cppfpacker_08_04_2020](https://indico.cern.ch/event/907310/contributions/3817694/attachments/2017197/3371755/rpc_cppfpacker_08_04_2020.pdf)

A code structure was developed, see it at https://github.com/dilsonjd/cmssw/tree/cppfpacker.

The CPPFPacker already pack the RPCDigi, received as input. It is needed to add CPPFDigi, produced as output.

An ol

[2020-05-04 08:16] lwang046 commented on #29605
Dear @schneiml , @makortel, in an attempt to fix this issue, I found that the null MEs were booked using the the scope concept, `auto scope = DQMStore::IBooker::UseLumiScope(ib);`. May I ask if this `scope` has compatibility issue with `DQMOneEDAnalyzer` + `edm::LuminosityBlockCache`?

[2020-05-04 10:23] schneiml commented on #29605
@makortel We used to have an API that did that, but nobody used it, so I removed it. We should not change the default behaviour, since a lot of code handles missing MEs just fine (and I think there are valid reasons for MEs to be missing in harvesting, e.g. conditional booking in RECO, and also for general robustness the HARVESTING code should not blow up just because RECO config changed (pragmati

[2020-05-04 11:33] schneiml commented on #29605
Ok, this looks a lot like a bug with #29321, maybe caused by the fact that these WF now actually do concurrent lumis? Investigating...

[2020-05-04 13:39] schneiml commented on #29605
Ok, the issue is actually pretty obvious if you think about it the right way:

The symptom is that the per-lumi MEs in question (`NumberOfEvents`) are not present in all lumisections.

The reason for that is that they are booked in a `DQMOneEDAnalyzer`, which switches lumisections per-event, to not rely on lumisection transitions. However, this means that the per-lumi MEs are never created for the

[2020-05-04 13:51] makortel commented on #29605
@schneiml Thanks for the detailed analysis! I share the dislike of option 1 pretty much for the same reasons. About the option 2

I did not fully understand your concern. In beginLumi (endLumi) transitions (callbacks) the modules are run concurrently (following the data dependencies).

[2020-05-04 14:28] slava77 commented on #29593
was this issue clarified by now?

[2020-05-04 15:36] makortel commented on #20475
+1

appears to be fixed

[2020-05-04 15:37] cmsbuild commented on #20475
This issue is fully signed and ready to be closed.

[2020-05-04 15:37] Dr15Jones commented on #29605
A service must be able to handle all ActivityRegistry service callbacks in a thread-safe manner. For this case, multiple module level 'endLuminosityBlock' callbacks (i.e. PreModuleGlobalBeginLumi and PostModuleGlobalBeginLumi) can be happening to the Services simultaneously since multiple modules could be running concurrently as well as multiple LuminosityBlocks could be ending concurrently.

[2020-05-04 15:40] #20475 closed

[2020-05-04 15:47] makortel commented on #24180
Essentially resolved by https://github.com/cms-sw/cmssw/pull/29024.

[2020-05-04 16:18] schneiml commented on #29605
@makortel As Chris correctly guessed this is about these callbacks: https://github.com/cms-sw/cmssw/blob/master/DQMServices/Core/src/DQMStore.cc#L680-L694

From @Dr15Jones answer I'd say it is ok to do more work there (apart from the edm::Service interface maybe being deprecated in general at some point?). I wanted to get away without these callbacks (apart from for supporting legacy modules), but

[2020-05-05 08:59] mandrenguyen opened #29639 "Rare mismatch in HCAL informormation in calo and PF"
A rare issue was spotted in which a high energy neutral hadron is created from PF far from the associated calorimeter deposit.

In the example, event available here:
/afs/cern.ch/work/m/mnguyen/public/mysteryHCAL/

A high energy (205 GeV) PF neutral hadron is found at eta=0.8886471
The associated PF cluster is found two units away at eta=  2.8198792

The calo towers show no corresponding high ener

[2020-05-05 08:59] cmsbuild commented on #29639
A new Issue was created by  @mandrenguyen Matthew Nguyen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-05 09:11] ianna commented on #28914
@cvuosalo and @fabiocos - following the discussion with Adinda here.
Given that we want to support the legacy payloads and due to a recorded `int` as a shape identifier in a `PGeometricDet` we need to make sure that the old and the new `DDSolidShape` enums are identical. It's not the case now:
https://cmssdt.cern.ch/lxr/source/DetectorDescription/Core/interface/DDSolidShapes.h#0006
https://cmssdt.

[2020-05-05 09:19] silviodonato opened #29640 "CondCore/CondDB unit test failure"
I made this issue simply to keep track of it.
It is clearly a transient problem.
[code]

[2020-05-05 09:19] silviodonato commented on #29640
assign db

[2020-05-05 09:20] cmsbuild commented on #29640
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-05 09:20] cmsbuild commented on #29640
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-05 10:23] fabiocos commented on #28914
@ianna thanks for looking into this. Silly question: what was the reason for this choice at the beginning of the porting? I mean I see that the two lists mostly overlaps, and codes could be made correspondent,  with 2 o3 noticeable differences. Do we have loops that are preventing discontinuities in the lists? The question is of course about the correspondence of polycones and plyhedras...

[2020-05-05 11:09] ianna commented on #28914
Changing `enum` was intentional to weed out reliance on `int`.

[2020-05-05 12:01] slava77 commented on #29639
assign reconstruction

@bendavid (to complete PF list)

[2020-05-05 12:01] cmsbuild commented on #29639
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-05 13:50] fabiocos commented on #28914
@ianna sorry, perhaps I was not clear. I am not questioning the ```enum``` choice, just wondering about the reason for the two different structures.

[2020-05-05 14:13] #28049 closed

[2020-05-05 15:14] makortel commented on #29306
@smuzaffar What combination of environment variables (or some other mechanism) should I use inside the `mk*` scripts to find a directory `FWCore/Skeletons/mkTemplates` either from the development area, or if not in there from the patch release area, or if not in there from the full release area?

[2020-05-05 15:19] smuzaffar commented on #29306
@makortel , you can use `$CMSSW_BASE` ( which points to local development area) and if not found then use `$CMSSW_RELEASE_BASE`

[2020-05-05 15:19] makortel commented on #29306
Do I need to worry about patch releases?

[2020-05-05 15:21] smuzaffar commented on #29306
No, you don't. Patch releases contians symlinks for missing packages.

[2020-05-05 16:06] makortel commented on #29332
@jiafulow Any updates? The ASAN is still reporting the issue, e.g. here for workflow 1310.0
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_ASAN_X_2020-05-01-2300/pyRelValMatrixLogs/run/1310.0_ADDMonoJet_d3MD3_13+ADDMonoJet_d3MD3_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15/step2_ADDMonoJet_d3MD3_13+ADDMonoJet_d3MD3_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15.log#/

[2020-05-05 16:14] makortel commented on #29332
assign alca

[2020-05-05 16:15] cmsbuild commented on #29332
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-05 16:17] makortel commented on #29332
@christopheralanwest,@tlampen,@pohsun,@tocheng

Could you please help to double-check if the conditions payload(s) related to `L1TMuonEndCapTrackProducer` in e.g. workflow 1310.0 are correct or not? Thanks.

[2020-05-05 16:26] guitargeek commented on #29593
Hi @slava77, no I didn't have the time to investigate this further so far. By the way, this problem was reported in thread 1676 in the *Reconstruction Development* hypernews and just today, and also in March in thread 1669 [1,2].

[1] https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1676.html
[2] https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1669.html

[2020-05-05 16:37] slava77 commented on #29593
[2] was solved, that's why my comment about useDBEMap value.

[2020-05-05 16:38] jiafulow commented on #29332
@makortel using the provided [link](https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_1/2020-05-01-2300?selectedArchs=slc7_amd64_gcc820&selectedFlavors=ASAN_X&selectedStatus=failed) (updated to 2020-05-01-2300) , the following workflows that failed with error code 256 (incl 1310.0) are all using '--era Run2_2016':

- 135.1
- 1302.0
- 1310.0
- 1311.0
- 1312.0
- 1314.0

(I didn't check bey

[2020-05-05 16:42] makortel commented on #29332
Thanks @jiafulow, let's try to push #29237 to be fixed then.

[2020-05-05 16:44] makortel commented on #29237
Appears that the same problem is causing address sanitizer (ASAN) failures (https://github.com/cms-sw/cmssw/issues/29332) in a scale which makes it hard to spot other issues with ASAN. Could this issue be addressed soon? Thanks.

[2020-05-05 16:45] makortel commented on #29306
Excellent, thanks.

Then I'm wondering if we could test these scripts in some way. Now they expect to be run inside a package, e.g. `src/FooPackage`, i.e. a straightforward test would be
[code]
but repeating that within unit tests sounds too much. So maybe the way to go is to add a test flag that allows to run them anywhere.

Including the `clang-tidy` and `clang-format` in the test would be nice

[2020-05-05 17:08] guitargeek commented on #29593
Well, sorry for opening the issue that was actually a non-issue in the end. It was sufficient to just update the datesets in `Validation/RecoParticleFlow/test/datasets.py` to fix it, which was actually also done in https://github.com/cms-sw/cmssw/pull/29628 earlier today. I should have known better.

Fixed by https://github.com/cms-sw/cmssw/pull/29628

[2020-05-05 17:08] #29593 closed

[2020-05-06 05:49] #29605 closed

[2020-05-06 06:06] silviodonato opened #29743 "Segmentation fault in DQMStore"
We are getting segmentation fault in wf 4.52, 122.0, 136.732, 136.87, 1362.18, 11650.0, 12634.0, 25212.17
[code]

Please note also the assertion fail
```cmsRun: /data/cmsbld/jenkins/workspace/build-any-ib/w/tmp/BUILDROOT/f57771e3fd2a453450b4e62a76c14438/opt/cmssw/slc7_amd64_gcc820/cms/cmssw-patch/CMSSW_11_1_X_2020-05-05-2300/src/DQMServices/Core/src/DQMStore.cc:480: void dqm::implementation::DQMSt

[2020-05-06 06:06] silviodonato commented on #29743
assign dqm

[2020-05-06 06:06] cmsbuild commented on #29743
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-06 06:06] cmsbuild commented on #29743
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-06 06:09] silviodonato opened #29744 "Exception: Original collection and shifted collection are of different size in ShiftedParticleMETcorrInputProducer"
Several workflows (25211.18, 25403.0, 250205.0, 250208.18) are failing with the error
[code]
Most likely, the error is related to https://github.com/cms-sw/cmssw/pull/29254 .

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_X_2020-05-05-2300/pyRelValMatrixLogs/run/25211.18_GluGluHToZZTo4L_M125_Pow_py8_Evt_13UP18+GluGluHToZZTo4L_M125_Pow_py8_Evt_13UP18+DIGIUP18_PU25+RECOUP

[2020-05-06 06:10] silviodonato commented on #29744
assign reconstruction

[2020-05-06 06:10] cmsbuild commented on #29744
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-06 06:10] cmsbuild commented on #29744
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-06 06:13] silviodonato commented on #29743
In `4008.0` we have the same error
`cmsRun: /data/cmsbld/jenkins/workspace/build-any-ib/w/tmp/BUILDROOT/f57771e3fd2a453450b4e62a76c14438/opt/cmssw/slc7_amd64_gcc820/cms/cmssw-patch/CMSSW_11_1_X_2020-05-05-2300/src/DQMServices/Core/src/DQMStore.cc:480: void dqm::implementation::DQMStore::enterLumi(edm::RunNumber_t, edm::LuminosityBlockNumber_t, uint64_t): Assertion `anyme &amp&amp checkScope(anyme-

[2020-05-06 07:36] schneiml commented on #29743
Well ok, that means that #29738 did not catch all cases. I'll have a look; in the worst case there is a simple workaround but I'd prefer to get it right.

[2020-05-06 07:51] silviodonato commented on #29744
@ahinzmann

[2020-05-06 07:53] schneiml commented on #29743
4.52 passes for me locally in CMSSW_11_1_X_2020-05-05-2300 IB. Let me look at the IB logs...

[2020-05-06 07:55] silviodonato commented on #29743
@schneiml I'm not sure, but it might be related to the multithreading

[2020-05-06 07:57] silviodonato commented on #29743
@schneiml it's weird. We are getting fewer and different errors in `slc7_amd64_gcc900` (wf 1010.0 and 1370.18)

[2020-05-06 07:58] schneiml commented on #29743
Yes, that is my guess as well. Can you point me to the precise commands used?

[2020-05-06 08:00] schneiml commented on #29743
It could well be a race, maybe there is no synchronization between framework callbacks where I expected one. In the worst case we can just run `initLumi` as needed (that is safe andwill fix this problem), but it would be better to know why it does not work as designed.

[2020-05-06 08:10] silviodonato commented on #29743
The exact command should be `runTheMatrix.py -i all --job-reports -t 4 --ibeos` (see https://github.com/cms-sw/cmssw/pull/28622#issuecomment-584566157 )
I let @smuzaffar @makortel confirm it.

@schneiml The weird thing is that even about the issue https://github.com/cms-sw/cmssw/issues/29744, we see fewer and different errors in `slc7_amd64_gcc900` wrt `slc7_amd64_gcc820`

[2020-05-06 08:15] silviodonato commented on #29744
Please note that in  `slc7_amd64_gcc900` fewer and different workflow are failing (`25212.18`). This sounds weird. We see the same effect also in  #29743.

[2020-05-06 08:17] smuzaffar commented on #29743
yes, you should use `-t 4` to run it in threaded mode.

[2020-05-06 08:42] schneiml commented on #29743
@silviodonato I have a proposed fix. I have no idea if it actually fixes the problem, but it's a very obvious bug and looks suspicious. It should also be not very dangerous to merge.

I tried to reproduce the problem, with varying number of threads, but never succeeded. I suspect this is a race that is sort-of hard to win, so it only fails in a handful times out of 100's (1000's?) of IB tests, eve

[2020-05-06 09:43] ahinzmann commented on #29744
Hi, sorry, I'm out of (home-)office this week, will look into it next week.

[2020-05-06 10:28] #29743 closed

[2020-05-06 12:02] mbluj commented on #27889
There is intention to add tauID against electrons in deadECal regions (https://github.com/cms-sw/cmssw/pull/29739) to future UL reMiniAOD productions.

[2020-05-06 12:21] silviodonato commented on #29744
I'm afraid we have to revert  #29743 from 11_1_0_pre7.
We are getting too many errors in random workflows
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_1_X

[2020-05-06 13:20] Dr15Jones commented on #29743
@schneiml

Can you explain what expectations you had for the callback?

[2020-05-06 14:04] silviodonato commented on #29744
I opened the revert PR in #29748

[2020-05-06 14:54] srimanob commented on #29237
Hi @jiafulow
I assume Alca needs to update the GTs of run2_mc_pre_vfp and run2_mc with 111 GT. We should not roll back GT to 10_6 again.

@christopheralanwest  @tlampen @tocheng Could you please have a look? Thanks.

[2020-05-06 16:19] silviodonato opened #29749 "UL gridpacks not available in CVMFS"
Many workflows are failing in CMSSW_11_1_X_2020-05-06-1300 complaining about the missing gridpack (see https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_1_X)
Example: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_X_2020-05-06-1300/pyRelValMatrixLogs/run/515.0_DYTollJets_LO_Mad_13TeV_py8_taupinu+DYToll01234Jets_5f_LO_MLM_Madgraph_LHE_13TeV+Hadronizer_TuneCP5_13TeV_

[2020-05-06 16:19] cmsbuild commented on #29749
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-06 16:22] silviodonato commented on #29749
As a reference, no errors in `CMSSW_11_1_X_2020-05-05-2300`
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_X_2020-05-05-2300/pyRelValMatrixLogs/run/515.0_DYTollJets_LO_Mad_13TeV_py8_taupinu+DYToll01234Jets_5f_LO_MLM_Madgraph_LHE_13TeV+Hadronizer_TuneCP5_13TeV_MLM_5f_max4j_LHE_pythia8_taupinu+HARVESTGEN2/step1_DYTollJets_LO_Mad_13TeV_py8_taupinu+DYToll01234Jets_5f_LO_MLM_

[2020-05-06 16:23] cvuosalo opened #29750 "[Suggestion] Add energy values and conversions to DataFormats/Math/interface/CMSUnits.h"
`GeantUnits.h` contains energy values like `_GeV`. The same user-defined literals could be added to `CMSUnits.h` for the CMS convention.
Energy conversion functions would also be helpful, like `convertGeVToKeV()`.

An example file that could benefit from such additions is `SimCalorimetry/HGCalSimProducers/src/HGCDigitizer.cc`.

[2020-05-06 16:23] silviodonato commented on #29749
Ten minutes ago, I got
[code]
now it works
[code]
So I think we can close this issue

[2020-05-06 16:23] #29749 closed

[2020-05-06 16:23] cmsbuild commented on #29750
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-06 16:24] cvuosalo commented on #29750
assign reco, geometry

[2020-05-06 16:24] cmsbuild commented on #29750
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-06 16:26] cvuosalo commented on #29750
assign reconstruction

[2020-05-06 16:27] cmsbuild commented on #29750
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-06 16:49] silviodonato opened #29751 "RivetInterface problem in aarch64"
Since  CMSSW_11_1_X_2020-05-06-1100, we are getting
[code]
in several workflows (eg. https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_1_X_2020-05-06-1100/pyRelValMatrixLogs/run/1320.0_SingleMuPt10_UP15+SingleMuPt10_UP15INPUT+DIGIUP15+RECOUP15+HARVESTUP15+NANOUP15/step5_SingleMuPt10_UP15+SingleMuPt10_UP15INPUT+DIGIUP15+RECOUP15+HARVESTUP15+NANOUP15.log#/)
I tried again, I c

[2020-05-06 16:49] cmsbuild commented on #29751
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-06 16:54] silviodonato commented on #29751
assign core

[2020-05-06 16:55] cmsbuild commented on #29751
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-06 16:56] silviodonato commented on #29751
It works again in `CMSSW_11_1_X_2020-05-06-1300`, so we can close the issue.
Let me notify @makortel @smuzaffar  about this problem anyway.

[2020-05-06 17:26] christopheralanwest commented on #29237
The latest 10_6_X GTs for 2016 MC are:
- `106X_mcRun2_asymptotic_v13`
- `106X_mcRun2_asymptotic_preVFP_v8`

These differ from the GTs you suggested by the addition of an updated `L1TCaloParamsRcd` tag `L1TCaloParams_static_v3_3_1_UL2016v3_mc`:

https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/106X_mcRun2_asymptotic_preVFP_v6/106X_mcRun2_asymptotic_preVFP_v8
https://cms-conddb.cern.ch/cmsDbBro

[2020-05-06 17:39] slava77 commented on #29744
I tried 25403.0, 250205.0, 250208.18 in CMSSW_11_1_X_2020-04-29-2300 where I was testing #29254 and was not able to reproduce the problem.

[2020-05-06 17:42] slava77 commented on #29744
@mrodozov @smuzaffar
is there a link/place where I can copy the outputs of the failing tests (25211.18, 25403.0, 250205.0, 250208.18 for slc7_amd64_gcc820 CMSSW_11_1_X_2020-05-05-2300)?
Please let me know.
Thank you.

[2020-05-06 18:17] slava77 commented on #29744
@silviodonato
did this show up in any of the PR tests?
For PRs I know how to get the matrix outputs, which should at least allow to avoid the SIM/DIGI randomness in an effort to reproduce the problem.

[2020-05-06 18:24] makortel opened #29753 "tbb::task_scheduler_init is deprecated"
We currently use `tbb::task_scheduler_init` to set the total number of threads, but that is [deprecated](https://software.intel.com/en-us/node/506296) and we should look how to replace is. The `tbb::global_control` looks like the likely replacement.

[2020-05-06 18:24] makortel commented on #29753
assign core

[2020-05-06 18:24] cmsbuild commented on #29753
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-06 18:24] cmsbuild commented on #29753
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-06 18:30] slava77 commented on #29744
no luck with any of the 4 wfs in CMSSW_11_1_X_2020-05-05-2300 on cmsdev34 : all pass OK.

[2020-05-06 18:35] makortel commented on #28636
No, MixingModule reads all of its input from "regular" containers (for both signal and pileup events). CrossingFrame is an output product of the MixingModule (mainly used by muon digitizers). Do you have all the era customizations from
https://github.com/cms-sw/cmssw/blob/0dd520dac3c9f26a92f415da5198b91816b5eeae/SimGeneral/MixingModule/python/mixObjects_cfi.py#L226-L251
?

Technically it would be

[2020-05-06 18:56] silviodonato commented on #29744
We see the error also in `CMSSW_11_1_X_2020-05-06-1300`
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_X_2020-05-06-1300/pyRelValMatrixLogs/run/500206.0_ZMM_13+ZMM_13INPUT+DIGIPRMXUP15_PU50+RECOPRMXUP15_PU50+HARVESTUP15_PU50/step3_ZMM_13+ZMM_13INPUT+DIGIPRMXUP15_PU50+RECOPRMXUP15_PU50+HARVESTUP15_PU50.log#/

@slava77 I don't know where we can get the files of the IB test

[2020-05-06 19:11] silviodonato commented on #29744
The directory is `/data/cmsbld/jenkins/workspace/ib-run-relvals/CMSSW_11_1_X_2020-05-06-1300/pyRelval/` , for instance in `cmsbuild15` I found many relvals, but not all of them :-(

[2020-05-06 19:34] ggovi commented on #29640
@silviodonato is there a way to reproduce it?

[2020-05-06 19:37] silviodonato commented on #29744
It looks like the outputs are deleted as soon as the `ib-run-relvals` ends the job https://cmssdt.cern.ch/jenkins/job/ib-run-relvals/154571/consoleText

[2020-05-06 19:39] silviodonato commented on #29640
Hi Giacomo,
no, it was a transient problem. Actually we can close the issue

[2020-05-06 20:59] silviodonato commented on #29743
#29745 solved the issue. We don't see anymore the errors in CMSSW_11_1_X_2020-05-06-1300!

[2020-05-06 23:09] jiafulow commented on #29237
@christopheralanwest I believe it's ok to use the latest GTs that you listed. I checked that `L1TMuonEndCapForestRcd` and `L1TMuonEndCapParamsRcd` are correct (there's no difference in those records).

Would you also be able to update the 11_1_X GTs? I'm not sure if there are 11_1_X GTs with the correct `L1TMuonEndCapForestRcd` and `L1TMuonEndCapParamsRcd` records at the moment, so maybe they need

[2020-05-07 01:24] makortel commented on #29332
Let me add that I find it disturbing that wrong conditions payload causes the code to misbehave this way. It would be much better that the code either always works according to the payload, or would be able check upfront if the payload is inconsistent with the code.

[2020-05-07 08:17] jiafulow commented on #29332
Thanks for the suggestion, this is something we need to do better. In this particular case, the payload is a set of BDT trees. The number of trees and the number of variables, as well as the definitions of the variables, are different for different eras (2016 vs 2017/18). When there is a mismatch between the payload and the C++ codes, it crashes.

[2020-05-07 10:34] schneiml commented on #29743
@Dr15Jones The assumption is "All begin run things will be done before the first begin lumi starts".

If this is violated, the per-lumi plots (which are still booked in beginRun, via bookHistograms) could be initialized via the global hook before they exist, and, effectively, not initialized. This is a problem I was afraid of with the new change.

However, the crashes were completely unrelated to

[2020-05-07 12:46] #29751 closed

[2020-05-07 13:25] makortel commented on #29332
Now it appears to not to crash but to produce undefined results.

[2020-05-07 14:31] smuzaffar commented on #28928
https://github.com/cms-sw/cmssw/pull/29757 should resolve this issue.

[2020-05-07 16:25] silviodonato opened #29765 "Build CMSSW_11_1_0_pre7"

[2020-05-07 16:25] cmsbuild commented on #29765
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-05-07 16:30] silviodonato commented on #29765
build cmssw-tool-conf

[2020-05-07 16:30] cmsbuild commented on #29765
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900, cc8_amd64_gcc8, cc8_aarch64_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-05-07 16:31] cmsbuild commented on #29765
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2402/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-07 16:33] cmsbuild commented on #29765
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2404/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-07 16:33] cmsbuild commented on #29765
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2403/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-07 16:33] cmsbuild commented on #29765
The cmssw-tool-conf build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2405/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-07 16:33] cmsbuild commented on #29765
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2406/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-07 16:43] cmsbuild commented on #29765
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2407/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-07 20:11] cmsbuild commented on #29765
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_amd64_gcc900/2404

[2020-05-07 21:40] cmsbuild commented on #29765
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_ppc64le_gcc820/2407

[2020-05-07 22:16] christopheralanwest commented on #29237
@jiafulow Could you also confirm that the 2016 cosmics GT should be updated in the same way as the collision GTs? The differences between the latest cosmic and collision GTs for 2016:

https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/106X_mcRun2cosmics_startup_deco_v6/106X_mcRun2_asymptotic_v13

is larger than it had been previously:

https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/106X

[2020-05-07 22:47] cmsbuild commented on #29765
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_aarch64_gcc820/2406

[2020-05-07 23:00] cmsbuild commented on #29765
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_aarch64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-cc8_aarch64_gcc8/2405

[2020-05-07 23:03] cmsbuild commented on #29765
There was an error building cmssw-tool-conf for cc8_amd64_gcc8
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-cc8_amd64_gcc8/2402

[2020-05-08 00:01] cmsbuild commented on #29765
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_amd64_gcc820/2403

[2020-05-08 01:56] cmsbuild commented on #29765
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2408/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-08 07:05] fwyzard commented on #29765
The error in the log is
[code]

Accessing `https://github.com/bazelbuild/bazel-skylib/releases/download/0.8.0/bazel-skylib.0.8.0.tar.gz` seems to work now - maybe it just needs to be re-tried ?

[2020-05-08 07:08] silviodonato commented on #29765
I think @smuzaffar has already restarted `cc8_amd64_gcc8`

[2020-05-08 07:16] fwyzard commented on #29765
Ah yes... my bad, I didn't see that there are both  ![image](https://user-images.githubusercontent.com/4069793/81381184-8843c800-910c-11ea-8f9e-52c2b2886fd6.png) and ![image](https://user-images.githubusercontent.com/4069793/81381195-8c6fe580-910c-11ea-8a31-3acf5b6de820.png) labels.

[2020-05-08 07:20] smuzaffar commented on #29765
ah this is bug in bot, it should have removed the -error label.

[2020-05-08 08:45] silviodonato commented on #29765
+1

[2020-05-08 08:46] cmsbuild commented on #29765
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-05-08 08:46] cmsbuild commented on #29765
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_aarch64_gcc8, slc7_amd64_gcc900, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf firs

[2020-05-08 08:47] cmsbuild commented on #29765
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2409/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-08 08:47] cmsbuild commented on #29765
The build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2410/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-08 08:47] cmsbuild commented on #29765
The build has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2411/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-08 08:48] cmsbuild commented on #29765
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2412/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-08 08:48] cmsbuild commented on #29765
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2413/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-08 08:57] #28928 closed

[2020-05-08 09:51] cmsbuild commented on #29765
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-cc8_amd64_gcc8/2408

[2020-05-08 09:51] cmsbuild commented on #29765
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-05-08 09:52] cmsbuild commented on #29765
The build has started for cc8_amd64_gcc8 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2414/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-08 10:47] cmsbuild commented on #29765
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_ppc64le_gcc820/2412
Some

[2020-05-08 11:18] cmsbuild commented on #29765
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-cc8_aarch64_gcc8/2409
Some tests

[2020-05-08 11:20] cmsbuild commented on #29765
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_aarch64_gcc820/2413
Some

[2020-05-08 11:38] cmsbuild commented on #29765
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_ppc64le_gcc820/2412

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-08 11:39] cmsbuild commented on #29765
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_amd64_gcc900/2411
Some tes

[2020-05-08 12:15] cmsbuild commented on #29765
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-cc8_aarch64_gcc8/2409

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-08 12:16] cmsbuild commented on #29765
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_amd64_gcc900/2411

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-08 12:20] cmsbuild commented on #29765
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_aarch64_gcc820/2413

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-08 12:28] cmsbuild commented on #29765
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_amd64_gcc820/2410
Some tes

[2020-05-08 12:42] cmsbuild commented on #29765
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-cc8_amd64_gcc8/2414
Some tests ( r

[2020-05-08 12:44] silviodonato commented on #29765
upload all

[2020-05-08 12:45] cmsbuild commented on #29765
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-05-08 12:45] cmsbuild commented on #29765
Queing Jenkins upload for cc8_amd64_gcc8

[2020-05-08 12:45] cmsbuild commented on #29765
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-05-08 12:45] cmsbuild commented on #29765
Queing Jenkins upload for slc7_amd64_gcc820

[2020-05-08 12:45] cmsbuild commented on #29765
Queing Jenkins upload for slc7_amd64_gcc900

[2020-05-08 12:45] cmsbuild commented on #29765
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-05-08 12:45] cmsbuild commented on #29765
The upload has started for cc8_amd64_gcc8 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1549/console

[2020-05-08 12:45] cmsbuild commented on #29765
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1550/console

[2020-05-08 12:45] cmsbuild commented on #29765
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1548/console

[2020-05-08 12:45] cmsbuild commented on #29765
The upload has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1551/console

[2020-05-08 12:47] cmsbuild commented on #29765
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7-slc7_aarch64_gcc820/1550

[2020-05-08 12:47] cmsbuild commented on #29765
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7-cc8_amd64_gcc8/1549

[2020-05-08 12:47] cmsbuild commented on #29765
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7-cc8_aarch64_gcc8/1548

[2020-05-08 12:47] cmsbuild commented on #29765
The upload has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1552/console

[2020-05-08 12:47] cmsbuild commented on #29765
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1553/console

[2020-05-08 12:47] cmsbuild commented on #29765
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7-slc7_amd64_gcc820/1551

[2020-05-08 12:48] cmsbuild commented on #29765
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7-slc7_ppc64le_gcc820/1553

[2020-05-08 12:49] cmsbuild commented on #29765
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7-slc7_amd64_gcc900/1552

[2020-05-08 13:05] cmsbuild commented on #29765
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-slc7_amd64_gcc820/2410

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-08 13:18] cmsbuild commented on #29765
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7-cc8_amd64_gcc8/2414

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-08 14:36] silviodonato commented on #29765
upload all

[2020-05-08 14:39] smuzaffar commented on #29765
upload has already been done.

[2020-05-08 14:51] silviodonato commented on #29765
release-notes

[2020-05-08 14:51] cmsbuild commented on #29765
Generating release notes since CMSSW_11_1_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-05-08 14:51] cmsbuild commented on #29765
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre7 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/rel

[2020-05-08 14:53] cmsbuild commented on #29765
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre7

[2020-05-08 14:55] #29765 closed

[2020-05-08 15:09] silviodonato opened #29780 "Build CMSSW_11_1_0_pre7_ROOT620"
ARCHITECTURE:slc7_amd64_gcc820
CMSSW_COMMIT:CMSSW_11_1_0_pre7

[2020-05-08 15:09] cmsbuild commented on #29780
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-05-08 15:17] silviodonato commented on #29780
+1

[2020-05-08 15:18] cmsbuild commented on #29780
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre7_ROOT620. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-05-08 15:18] cmsbuild commented on #29780
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-05-08 15:20] cmsbuild commented on #29780
The build has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2415/console
CMSDIST Branch: [IB/CMSSW_11_1_X/rootnext](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/rootnext), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-08 19:25] cmsbuild commented on #29780
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7_ROOT620-slc7_amd64_gcc820/2415

[2020-05-08 19:54] silviodonato commented on #29780
upload all

[2020-05-08 19:54] cmsbuild commented on #29780
Queing Jenkins upload for slc7_amd64_gcc820

[2020-05-08 19:54] cmsbuild commented on #29780
The upload has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1554/console

[2020-05-08 19:55] cmsbuild commented on #29780
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7_ROOT620-slc7_amd64_gcc820/1554

[2020-05-08 19:59] wouf commented on #28636
Could You please to clarify, what is the "regular" containers? Thanks!

I guess none of them. We are using `--era Run2_2018_pp_on_AA` Why do You asking?

I see, thanks.

[2020-05-08 20:00] silviodonato commented on #29780
release-notes since CMSSW_11_1_0_pre7

[2020-05-08 20:00] cmsbuild commented on #29780
ATTENTION!!! The production architecture (slc6_amd64_gcc700) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2020-05-08 20:01] cmsbuild commented on #29780
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7_ROOT620-slc7_amd64_gcc820/2415

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-08 20:16] silviodonato commented on #29780
release-notes since CMSSW_11_1_0_pre7

[2020-05-08 20:54] cmsbuild commented on #29780
Generating release notes since CMSSW_11_1_0_pre7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-05-08 20:54] cmsbuild commented on #29780
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre7_ROOT620 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_1_0_pre7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre7_ROOT620

Cheers,
cms-bot

You can also click <a href="mail

[2020-05-08 20:54] cmsbuild commented on #29780
Generating release notes since CMSSW_11_1_0_pre7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-05-08 20:54] cmsbuild commented on #29780
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre7_ROOT620 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_1_0_pre7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre7_ROOT620

Cheers,
cms-bot

You can also click <a href="mail

[2020-05-08 20:55] cmsbuild commented on #29780
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre7_ROOT620

[2020-05-08 20:55] cmsbuild commented on #29780
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre7_ROOT620

[2020-05-09 02:27] jiafulow commented on #29237
@christopheralanwest I'm not familiar with any of the listed records, so I don't think I know how to answer the question. Maybe @davignon or other L1T experts could help?

[2020-05-10 18:23] cmsbuild commented on #29780
The cleanup has started for slc7_amd64_gcc820

[2020-05-10 18:23] #29780 closed

[2020-05-10 18:23] cmsbuild commented on #29780
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre7_ROOT620-slc7_amd64_gcc820/1545

[2020-05-11 07:53] silviodonato opened #29794 "DQMServices/Demo unit test failure"
We are getting a unit test failure from `DQMServices/Demo`
[code]

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_ROOT6_X_2020-05-08-2300/unitTestLogs/DQMServices/Demo#/

The error appeared in:
- CMSSW_11_1_X_2020-05-08-2300: ROOT6_X, Patatrack
- CMSSW_11_1_X_2020-05-10-0000: ROOT6_X, ROOT620_X
- CMSSW_11_1_X_2020-05-10-2300: DEFAULT(slc7_amd64_gcc820), ROOT6_X

[2020-05-11 07:53] silviodonato commented on #29794
assign dqm

[2020-05-11 07:54] cmsbuild commented on #29794
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-11 07:54] cmsbuild commented on #29794
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-11 08:00] schneiml commented on #29794
Ok, that is not very surprising, probably it just means starting up cmssw was slower than I expected.

Workaround would be to give the sleep a bit more time, or just try again, it should usually work.

@makortel @Dr15Jones can we get the `EmptySource` to properly support the `RunsAndLumis` mode? Then we could get rid of  this ugly contraption [1] in that test.

[1] https://github.com/cms-sw/cmssw/

[2020-05-11 13:21] makortel commented on #29794
@Dr15Jones Could you take a look at this?

[2020-05-11 13:27] Dr15Jones commented on #29794
It isn't a problem with EmptySource. The issue is the framework only has a `maxEvents` ability, not a `maxLuminosityBlocks` nor `maxRuns` ability.

[2020-05-11 13:28] Dr15Jones commented on #29794
The issue could be handled in a different way. An inintial job could be run to generate a ROOT file containing empty events. Then the test would use the PoolSource in 'RunAndLumi' mode to read that file.

[2020-05-11 13:31] Dr15Jones commented on #29794
Actually, I'm wrong. The framework does support `maxLuminosityBlocks`.

[2020-05-11 13:45] srimanob commented on #29472
New relvals with 11_1_0_pre7 is done. ECAL checks and confirm that RUNs are assigned properly:
![alknkdhnffhlhbnh](https://user-images.githubusercontent.com/4701449/81568607-4a5dd280-939e-11ea-949c-6caa1e833122.png)

Thanks @amassiro
FYI @Dr15Jones @silviodonato

[2020-05-11 13:47] Dr15Jones commented on #29794
There seems to be an off-by-one counting error. When I do
[code]

It only processes 2 Lumis before ending the job. Although such a behavior is wrong, it would not prevent this unit test from working.

[2020-05-11 13:48] Dr15Jones commented on #29472
@srimanob Thanks!

[2020-05-11 14:08] makortel commented on #28636
The containers produced by `OscarMTProducer`, .e.g. for PSimHits that is `std::vector<PSimHit>`.

The missing product error you showed in https://github.com/cms-sw/cmssw/issues/28636#issuecomment-622842767 was about hits in GEM, which in `mixObjects_cfi` are added with `run2_GEM_2017` and `run3_GEM` modifiers, which means that if you override the objects like here
https://github.com/wouf/cmssw/blo

[2020-05-11 14:17] Dr15Jones opened #29796 "EmptySource using mode RunsAndLumis ends prematurely"
Using the example
[code]

stops processing after only handling 2 LuminosityBlocks instead of 3. It looks like the job always stops 1 Lumi to soon.

[2020-05-11 14:18] Dr15Jones commented on #29796
assign core

[2020-05-11 14:18] cmsbuild commented on #29796
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-11 14:18] cmsbuild commented on #29796
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-11 17:29] schneiml commented on #29794
Oh, I didn't actually test if that exists. Makes things much easier. PR coming soon.

[2020-05-11 19:32] Dr15Jones commented on #29796
Fixed in #29804

[2020-05-12 13:08] Dr15Jones commented on #29796
+1

[2020-05-12 13:08] cmsbuild commented on #29796
This issue is fully signed and ready to be closed.

[2020-05-12 13:39] christopheralanwest commented on #29237
@davignon @bundocka Could you respond to the question at https://github.com/cms-sw/cmssw/issues/29237#issuecomment-625524698? Thanks.

[2020-05-12 14:20] fwyzard opened #29811 "Build CMSSW_11_1_0_pre7_Patatrack"

[2020-05-12 14:20] cmsbuild commented on #29811
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2020-05-12 14:21] fwyzard commented on #29811
+1

[2020-05-12 14:21] cmsbuild commented on #29811
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre7_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-05-12 14:21] cmsbuild commented on #29811
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to fi

[2020-05-12 14:22] cmsbuild commented on #29811
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2416/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-12 14:23] smuzaffar commented on #29811
@fwyzard , can you please check if https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X contains all your changes?

[2020-05-12 14:23] davignon commented on #29237
@christopheralanwest @jiafulow
These are the differences between the two tags (cosmics = 1, pp = 2), as far as L1 is concerned:

 L1TCaloParamsRcd:
1) L1TCaloParams_static_CMSSW_9_2_10_2017_v1_8_2_updateHFSF_v6MET
2) L1TCaloParams_static_v3_3_1_UL2016v3_mc
--> 1) should be changed to L1TCaloParams_static_v3_3_1_UL2016v3_mc

L1TMuonEndCapForestRcd:
1) L1TMuonEndCapForest_static_Sq_20170613_v7_mc
2)

[2020-05-12 14:26] cmsbuild commented on #29811
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2417/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-12 14:29] fwyzard commented on #29811
it seems to be missing the very last commit ?

[2020-05-12 14:30] fwyzard commented on #29811
how can I abort and re-start the build ?

[2020-05-12 14:33] smuzaffar commented on #29811
just type the comment `abort`. I am syncing the Patatrack branch now, once done then you can open a new issue to start the build.

[2020-05-12 14:34] fwyzard commented on #29811
abort

[2020-05-12 14:34] cmsbuild commented on #29811
Deleting CMSSW_11_1_0_pre7_Patatrack:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_pre7_Patatrack successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre7_Patatrack/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre7_Patatrack/cc8_amd64_gcc8. Probaly it had not been created.

 -I was not able to delete