[2015-10-28 08:59] cmsbuild commented on #12135
The upload has started for slc6_amd64_gcc491 in cmsbuild35.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/252/console

[2015-10-28 09:16] cmsbuild commented on #12135
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_4_15_patch1-slc6_amd64_gcc491/252
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-10-28 09:24] cmsbuild commented on #12135
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_4_15_patch1/slc6_amd64_gcc491/516/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2015-10-28 09:32] davidlange6 commented on #12135
release-notes

On Oct 28, 2015, at 10:24 AM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc491
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_4_15_patch1/slc6_amd64_gcc491/516/
To generate the release notes for the release write "release-notes since <previo

[2015-10-28 09:33] cmsbuild commented on #12135
Generating release notes since CMSSW_7_4_15.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-10-28 09:33] cmsbuild commented on #12135
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_4_15_patch1 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_4_15 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_4_15_patch1

To fix HCAL DQM crashes in Tier0

Cheers,
cms-bot

You can al

[2015-10-28 09:36] cmsbuild commented on #12135
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_4_15_patch1

[2015-10-28 12:37] HeinAtCERN opened #12139 "libdir for python missing"
Dear cmssw authors,
for some experimentation I needed a more recent version of numpy then what is shipped with cmssw. When trying to ``pip install numpy --target=/mydir/installs/python``, I got an error from the linker:

    gcc -pthread -shared -L/cvmfs/cms.cern.ch/slc6_amd64_gcc491/external/expat/2.0.1-cms/lib -L/cvmfs/cms.cern.ch/slc6_amd64_gcc491/external/bz2lib/1.0.5-cms/lib -L/cvmfs/cms.cern

[2015-10-28 12:43] davidlange6 commented on #12139
I don’t see how we could do this for an arbitrary command (pip in this case).

[2015-10-28 12:45] davidlt commented on #12139
I have no idea how one would correctly use pip inside CMSSW environment. This is not tested, not supported.

If you need a new version of numpy, get PKGTOOLS/CMSDIST and use PKGTOOLS/cmsBuild to build a new RPM. Then use `scram setup` to import into CMSSW environment. This is the standard way of dealing with CMS packages.

Maybe it relies on `python-config`. I cannot say much without looking into

[2015-10-28 13:09] HeinAtCERN commented on #12139
Ok, thanks. I though there might have been an obvious way on adding the specific library path, since anything that links against libpython2.7 needs it, not just packages that are compiled through pip (so it was not about pip itself).

But now that you've put it this way: I actually thought that my pip installation was from cmssw, but it's not. pip is very useful, wouldn't you like to include it in

[2015-10-28 13:30] davidlt commented on #12139
Yes, it could be useful for people who wants more Python packages in CMSSW environment. It would require some heavy testing. You also have to remember that CMSSW is installed at read-only locations. Thus you would always need to install it at custom places.

[2015-10-28 13:48] HeinAtCERN commented on #12139
That's understandable, thanks a lot for the explanations.

[2015-10-28 13:48] #12139 closed

[2015-10-30 07:08] cmsbuild commented on #12127
The cleanup has started for slc6_amd64_gcc481

[2015-10-30 07:08] #12127 closed

[2015-10-30 07:34] cmsbuild commented on #12127
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_20_patch2-slc6_amd64_gcc481/210

[2015-10-30 08:33] cmsbuild commented on #12135
The cleanup has started for slc6_amd64_gcc491

[2015-10-30 08:33] #12135 closed

[2015-10-30 08:38] cmsbuild commented on #12135
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_4_15_patch1-slc6_amd64_gcc491/211

[2015-10-30 13:06] davidlange6 opened #12206 "Build CMSSW_7_6_0"

[2015-10-30 13:08] cmsbuild commented on #12206
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-10-30 13:12] davidlange6 commented on #12206
+1

[2015-10-30 13:13] cmsbuild commented on #12206
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2015-10-30 13:13] cmsbuild commented on #12206
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-10-30 13:33] smuzaffar commented on #12206
abort

[2015-10-30 13:38] cmsbuild commented on #12206
Deleting CMSSW_7_6_0:

  -Release successfully deleted

  -cmssw tag CMSSW_7_6_0 successfully deleted.

  -I was not able to delete the cmsdist tag REL/CMSSW_7_6_0/slc7_amd64_gcc493. Probably it had not been created.

  -I was not able to delete the cmsdist tag REL/CMSSW_7_6_0/slc6_amd64_gcc493. Probably it had not been created.

You must create a new issue to start over the build.

[2015-10-30 13:39] smuzaffar commented on #12206
+1

[2015-10-30 14:25] davidlange6 commented on #12206
@smuzaffar - we should resubmit a new issue... i will do

[2015-10-30 14:25] #12206 closed

[2015-10-30 14:25] davidlange6 opened #12210 "Build CMSSW_7_6_0"

[2015-10-30 14:28] smuzaffar commented on #12206
ah OK, yes one needs to create a new issue.

On 10/30/2015 03:25 PM, David Lange wrote:

[2015-10-30 14:28] cmsbuild commented on #12210
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-10-30 14:28] davidlange6 commented on #12210
+1

[2015-10-30 14:33] cmsbuild commented on #12210
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2015-10-30 14:33] cmsbuild commented on #12210
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-10-30 14:34] cmsbuild commented on #12210
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/460/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-10-30 14:40] cmsbuild commented on #12210
The was an error for slc7_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_0-slc7_amd64_gcc493/461

[2015-10-30 14:41] davidlange6 commented on #12210
git clone git@github.com:cms-sw/cmsdist.git /build/cmsbuild/auto-builds/CMSSW_7_6_0-slc7_amd64_gcc493/build/CMSSW_7_6_0-build/CMSDIST
Cloning into '/build/cmsbuild/auto-builds/CMSSW_7_6_0-slc7_amd64_gcc493/build/CMSSW_7_6_0-build/CMSDIST'...
ssh: Could not resolve hostname github.com: Name or service not known
fatal: Could not read from remote repository.

Please make sure you have the correct acc

[2015-10-30 14:42] davidlange6 commented on #12210
abort

[2015-10-30 14:43] cmsbuild commented on #12210
Deleting CMSSW_7_6_0:

  -Release successfully deleted

  -cmssw tag CMSSW_7_6_0 successfully deleted.

  -Aborting Jenkins build for slc6_amd64_gcc493

  -I was not able to delete the cmsdist tag REL/CMSSW_7_6_0/slc7_amd64_gcc493. Probably it had not been created.

  -I was not able to delete the cmsdist tag REL/CMSSW_7_6_0/slc6_amd64_gcc493. Probably it had not been created.

You must create a n

[2015-10-30 14:43] cmsbuild commented on #12210
The build has started for slc7_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/462/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-10-30 14:43] #12210 closed

[2015-10-30 14:44] cmsbuild commented on #12210
The was an error for slc7_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_0-slc7_amd64_gcc493/462

[2015-10-30 14:44] smuzaffar commented on #12210
I have restarted it. It landed on a new machine where which is not yep
updated ipv6

On 10/30/2015 03:40 PM, cmsbuild wrote:

[2015-10-30 14:44] davidlange6 opened #12212 "Build CMSSW_7_6_0"

[2015-10-30 14:45] davidlange6 commented on #12210
whoops - then i screwed up.. and aborted
can you straighten things out?

[2015-10-30 14:48] cmsbuild commented on #12212
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-10-30 15:12] davidlange6 commented on #12212
+1

[2015-10-30 15:13] cmsbuild commented on #12212
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2015-10-30 15:13] cmsbuild commented on #12212
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-10-30 15:14] cmsbuild commented on #12212
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/463/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-10-30 15:15] cmsbuild commented on #12212
The build has started for slc7_amd64_gcc493 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/464/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-10-30 15:30] DrDaveD commented on #11845
@diguida, please give me, @ggovi, and @apfeiffer1 a status update on this.

[2015-10-30 15:31] cmsbuild commented on #12212
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/465/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-10-30 15:49] diguida commented on #11845
@DrDaveD 76X closing... now back to you.
PR is coming. I have a question: can I make the local test against the `FrontierPrep` servlets?

[2015-10-30 16:11] DrDaveD commented on #11845
Yes, that should work.  if it doesn't, let me know.  I haven't tried the signature feature lately.

[2015-10-30 20:03] cmsbuild commented on #12212
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_0-slc6_amd64_gcc493/465
Some tests ( ru

[2015-10-30 20:30] cmsbuild commented on #12212
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_0-slc6_amd64_gcc493/465

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-10-30 20:34] davidlange6 commented on #12212
upload all

[2015-10-30 20:38] cmsbuild commented on #12212
Queing Jenkins upload for slc6_amd64_gcc493

[2015-10-30 20:38] cmsbuild commented on #12212
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/253/console

[2015-10-30 21:15] cmsbuild commented on #12212
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_0-slc6_amd64_gcc493/253
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-10-30 21:23] cmsbuild commented on #12212
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_0-slc7_amd64_gcc493/464
Some tests ( ru

[2015-10-30 21:28] cmsbuild commented on #12212
Queing Jenkins upload for slc7_amd64_gcc493

[2015-10-30 21:28] cmsbuild commented on #12212
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_0-slc7_amd64_gcc493/464

Tests results:
5 0 0 0 0 0 0 tests passed, 5 5 0 0 0 0 0 failed

[2015-10-30 21:28] cmsbuild commented on #12212
The upload has started for slc7_amd64_gcc493 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/254/console

[2015-10-30 21:40] cmsbuild commented on #12212
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_0/slc6_amd64_gcc493/517/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-10-30 21:49] cmsbuild commented on #12212
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_0-slc7_amd64_gcc493/254
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-10-30 22:09] cmsbuild commented on #12212
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_0/slc7_amd64_gcc493/518/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-10-31 06:39] davidlange6 commented on #12212
release-notes

On Oct 30, 2015, at 11:09 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc7_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_0/slc7_amd64_gcc493/518/
To generate the release notes for the release write "release-notes since <previous-relea

[2015-10-31 06:43] cmsbuild commented on #12212
Generating release notes since CMSSW_7_6_0_pre7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-10-31 06:43] cmsbuild commented on #12212
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_6_0 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_0_pre7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2015-10-31 06:48] cmsbuild commented on #12212
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_0

[2015-11-02 05:43] cmsbuild commented on #12212
The cleanup has started for slc6_amd64_gcc493

[2015-11-02 05:43] cmsbuild commented on #12212
The cleanup has started for slc7_amd64_gcc493

[2015-11-02 05:43] #12212 closed

[2015-11-02 05:44] cmsbuild commented on #12212
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_0-slc6_amd64_gcc493/212

[2015-11-02 06:25] cmsbuild commented on #12212
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_0-slc7_amd64_gcc493/213

[2015-11-02 17:06] Dr15Jones opened #12233 "Allow PoolSource to modify the run number on each luminosity block to support run dependent MC"
1) add a parameter to PoolSource (or base class) named ‘setRunNumberForEachLumi’ which is a cms.vuint32 which is a container of run numbers to assign to each lumi in the job. This list must contain at least as many entries as there are lumis in the job.

2) Follow the original run dependent MC mechanism where we have the python class ‘RandomRunSource’ which is given the ‘run number to probability’

[2015-11-02 17:06] Dr15Jones commented on #12233
@davidlange6 is this what you had in mind?

[2015-11-02 21:00] wmtan commented on #12125
@fwyzard @lgray @Dr15Jones
PR #12234 implements this feature

[2015-11-07 10:50] davidlange6 opened #12306 "Build CMSSW_8_0_0_pre1"

[2015-11-07 10:50] davidlange6 commented on #12306
+1

[2015-11-07 10:53] cmsbuild commented on #12306
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-11-07 10:58] cmsbuild commented on #12306
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2015-11-07 10:58] cmsbuild commented on #12306
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-11-07 10:59] cmsbuild commented on #12306
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/467/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-07 10:59] cmsbuild commented on #12306
The build has started for slc7_amd64_gcc493 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/466/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-07 15:21] cmsbuild commented on #12306
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre1-slc6_amd64_gcc493/467
Some tests

[2015-11-07 15:46] cmsbuild commented on #12306
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre1-slc6_amd64_gcc493/467

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-07 18:04] davidlange6 commented on #12306
upload all

[2015-11-07 18:08] cmsbuild commented on #12306
Queing Jenkins upload for slc6_amd64_gcc493

[2015-11-07 18:08] cmsbuild commented on #12306
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/255/console

[2015-11-07 18:45] cmsbuild commented on #12306
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre1-slc6_amd64_gcc493/255
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-07 19:03] cmsbuild commented on #12306
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre1/slc6_amd64_gcc493/519/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2015-11-07 19:12] cmsbuild commented on #12306
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre1-slc7_amd64_gcc493/466
Some tests

[2015-11-07 19:13] cmsbuild commented on #12306
Queing Jenkins upload for slc7_amd64_gcc493

[2015-11-07 19:13] cmsbuild commented on #12306
The upload has started for slc7_amd64_gcc493 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/256/console

[2015-11-07 19:21] cmsbuild commented on #12306
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre1-slc7_amd64_gcc493/466

Tests results:
5 0 0 0 0 0 0 tests passed, 5 5 0 0 0 0 0 failed

[2015-11-07 19:42] cmsbuild commented on #12306
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre1-slc7_amd64_gcc493/256
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-07 20:04] cmsbuild commented on #12306
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre1/slc7_amd64_gcc493/520/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2015-11-07 20:39] davidlange6 commented on #12306
release-notes since CMSSW_7_6_0

On Nov 7, 2015, at 9:04 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc7_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre1/slc7_amd64_gcc493/520/
To generate the release notes for the release write "release-notes

[2015-11-07 20:43] cmsbuild commented on #12306
Generating release notes since CMSSW_7_6_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-07 20:43] cmsbuild commented on #12306
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_0_0_pre1 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_pre1

Cheers,
cms-bot

You can also click <a href="mailto:hn-

[2015-11-07 20:46] cmsbuild commented on #12306
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre1

[2015-11-09 19:43] cmsbuild commented on #12306
The cleanup has started for slc6_amd64_gcc493

[2015-11-09 19:43] cmsbuild commented on #12306
The cleanup has started for slc7_amd64_gcc493

[2015-11-09 19:43] #12306 closed

[2015-11-09 19:44] cmsbuild commented on #12306
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre1-slc6_amd64_gcc493/214

[2015-11-09 19:52] cmsbuild commented on #12306
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre1-slc7_amd64_gcc493/215

[2015-11-10 16:30] davidlange6 opened #12354 "Build CMSSW_7_5_5"

[2015-11-10 16:33] cmsbuild commented on #12354
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-11-10 16:47] davidlange6 commented on #12354
+1

[2015-11-10 16:48] cmsbuild commented on #12354
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-10 16:48] cmsbuild commented on #12354
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-10 16:49] davidlange6 opened #12357 "Build CMSSW_5_3_31"

[2015-11-10 16:50] cmsbuild commented on #12354
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/468/console
CMSDIST Branch: [IB/CMSSW_7_5_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_5_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-10 16:53] cmsbuild commented on #12357
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-11-10 17:16] davidlange6 commented on #12357
+1

[2015-11-10 17:18] cmsbuild commented on #12357
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_31. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2015-11-10 17:18] cmsbuild commented on #12357
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-10 19:44] Dr15Jones opened #12363 "Allow secondary input to use lazy-download independent of primary"
Have the mixing system be able to do a lazy-download of the files it needs independently of the setting for the primary source.

This would be useful for the Amazon Web Service project.

[2015-11-10 19:44] Dr15Jones commented on #12363
@bbockelm @davidlange6 Was this the outcome of the email thread?

[2015-11-10 19:47] cmsbuild commented on #12357
The build has started for slc6_amd64_gcc472 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/469/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-10 19:47] Dr15Jones commented on #12363
@bbockelm This is the relevant item from Brian's email

"What would be better is doing an extension like we did for overrideSourceCloneCacheHintDir.  With that, we were able to set the cache hint (lazy-download or no) independently for primary input and fast cloning.  We could do the same for secondary inputs.  This would allow the pile-up to use lazy-download while the primary source does not."

[2015-11-10 19:52] bbockelm commented on #12363
Yes, that would be my latest suggestion.

Separately, we need to open a ticket to get the libdavix external built.  Did that part happen?

[2015-11-10 21:01] cmsbuild commented on #12354
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5-slc6_amd64_gcc491/468
Some tests ( ru

[2015-11-10 21:18] cmsbuild commented on #12354
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5-slc6_amd64_gcc491/468

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Tue Nov 10 22:02:40 2015-date Tue Nov 10 22:01:35 2015; e

[2015-11-10 22:04] cmsbuild commented on #12357
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_31-slc6_amd64_gcc472/469
Some tests ( r

[2015-11-10 22:47] cmsbuild commented on #12357
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_31-slc6_amd64_gcc472/469

Tests results:
8 8 5 5 2 tests passed, 0 0 2 0 0 failed

[2015-11-10 23:13] cmsbuild commented on #12357
The build has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/470/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-11 01:09] cmsbuild commented on #12357
The was an error for slc6_amd64_gcc472.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_31-slc6_amd64_gcc472/470

[2015-11-11 06:18] davidlange6 commented on #12354
upload all

On Nov 10, 2015, at 10:01 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build

[2015-11-11 06:18] cmsbuild commented on #12354
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-11 07:12] cmsbuild commented on #12357
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_31-slc6_amd64_gcc472/470
Some tests ( r

[2015-11-11 08:04] cmsbuild commented on #12354
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/257/console

[2015-11-11 08:08] cmsbuild commented on #12357
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_31-slc6_amd64_gcc472/470

Unable to read tests log: WORKSPACE variable not set.

[2015-11-11 08:08] cmsbuild commented on #12357
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_31-slc6_amd64_gcc472/470

Tests results:
8 8 5 5 2 tests passed, 0 0 2 0 0 failed

[2015-11-11 08:36] cmsbuild commented on #12354
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_5-slc6_amd64_gcc491/257
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-11 09:02] cmsbuild commented on #12354
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5/slc6_amd64_gcc491/521/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-11-11 09:03] davidlange6 commented on #12354
release-notes

[2015-11-11 09:08] cmsbuild commented on #12354
Generating release notes since CMSSW_7_5_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-11 09:08] cmsbuild commented on #12354
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_5_5 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_5

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?subje

[2015-11-11 09:12] cmsbuild commented on #12354
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5

[2015-11-11 10:22] davidlange6 commented on #12357
upload all

[2015-11-11 10:23] cmsbuild commented on #12357
Queing Jenkins upload for slc6_amd64_gcc472

[2015-11-11 10:24] cmsbuild commented on #12357
The upload has started for slc6_amd64_gcc472 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/258/console

[2015-11-11 10:49] cmsbuild commented on #12357
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_31-slc6_amd64_gcc472/258
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-11 12:18] davidlange6 commented on #12357
release-notes

[2015-11-11 12:19] davidlange6 opened #12369 "Build CMSSW_7_6_1"
Integrate GT with updated JEC
restore previous behavior for created in memory PackedCandidates

[2015-11-11 12:23] cmsbuild commented on #12369
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-11-11 12:24] davidlange6 commented on #12369
+1

[2015-11-11 12:28] cmsbuild commented on #12369
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2015-11-11 12:28] cmsbuild commented on #12369
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-11-11 12:31] cmsbuild commented on #12369
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/471/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-11 12:49] cmsbuild commented on #12369
The build has started for slc7_amd64_gcc493 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/472/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-11 15:20] davidlange6 opened #12377 "Add davix to the externals for CMSSW"
@smuzaffar @degano - could you have a look at adding davix to the externals.

https://dmc.web.cern.ch/projects/davix/home#source

there should be a 0.6 release soon, but presumably we can get the spec file created based on 0.4.

[2015-11-11 16:31] cmsbuild commented on #12369
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_1-slc6_amd64_gcc493/471
Some tests ( ru

[2015-11-11 16:57] cmsbuild commented on #12369
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_1-slc6_amd64_gcc493/471

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-11 17:03] davidlange6 commented on #12369
upload all

[2015-11-11 17:03] cmsbuild commented on #12369
Queing Jenkins upload for slc6_amd64_gcc493

[2015-11-11 17:04] cmsbuild commented on #12369
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/259/console

[2015-11-11 17:45] cmsbuild commented on #12369
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_1-slc6_amd64_gcc493/259
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-11 18:24] cmsbuild commented on #12357
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_31/slc6_amd64_gcc472/522/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2015-11-11 18:28] cmsbuild commented on #12357
Generating release notes since CMSSW_5_3_30.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-11 18:28] cmsbuild commented on #12357
You can use this template for announcing the release:

Hi all,

The production release CMSSW_5_3_31 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_30 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_31

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2015-11-11 18:31] cmsbuild commented on #12357
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_31

[2015-11-11 18:38] cmsbuild commented on #12369
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_1/slc6_amd64_gcc493/523/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-11-11 18:39] cmsbuild commented on #12369
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_1-slc7_amd64_gcc493/472
Some tests ( ru

[2015-11-11 18:43] cmsbuild commented on #12369
Queing Jenkins upload for slc7_amd64_gcc493

[2015-11-11 18:44] cmsbuild commented on #12369
The upload has started for slc7_amd64_gcc493 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/260/console

[2015-11-11 18:45] cmsbuild commented on #12369
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_1-slc7_amd64_gcc493/472

Tests results:
5 0 0 0 0 0 0 tests passed, 5 5 0 0 0 0 0 failed

[2015-11-11 19:12] cmsbuild commented on #12369
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_1-slc7_amd64_gcc493/260
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-11 19:12] davidlange6 commented on #12369
release-notes

[2015-11-11 19:13] cmsbuild commented on #12369
Generating release notes since CMSSW_7_6_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-11 19:13] cmsbuild commented on #12369
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_6_1 is now available for the following architectures:

slc6_amd64_gcc493 (production)

The release notes of what changed with respect to CMSSW_7_6_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_1

Integrate GT with updated JEC
restore previous behavior for created in memory Packed

[2015-11-11 19:16] cmsbuild commented on #12369
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_1

[2015-11-11 19:31] cmsbuild commented on #12369
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_1/slc7_amd64_gcc493/524/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-11-12 15:26] davidlange6 opened #12404 "Build CMSSW_7_5_5_patch1"
Fixes to
strip unpacker
conditions loader for HLT
DQM harvesting in Tier-0

[2015-11-12 15:28] cmsbuild commented on #12404
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-11-12 15:36] davidlange6 commented on #12404
+1

[2015-11-12 15:38] cmsbuild commented on #12404
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-12 15:38] cmsbuild commented on #12404
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-12 15:41] cmsbuild commented on #12404
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/473/console
CMSDIST Branch: [REL/CMSSW_7_5_5/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_5/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-12 16:40] cmsbuild commented on #12404
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch1-slc6_amd64_gcc491/473
Some tes

[2015-11-12 17:05] cmsbuild commented on #12404
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch1-slc6_amd64_gcc491/473

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-12 17:15] davidlange6 commented on #12404
upload all

On Nov 12, 2015, at 6:05 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc491
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch1-slc6_amd64_gcc491/473

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
Reply to this email directly or vie

[2015-11-12 17:18] cmsbuild commented on #12404
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-12 17:19] cmsbuild commented on #12404
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/261/console

[2015-11-12 17:34] cmsbuild commented on #12404
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_5_patch1-slc6_amd64_gcc491/261
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-12 17:43] cmsbuild commented on #12404
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5_patch1/slc6_amd64_gcc491/525/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-12 18:36] davidlange6 commented on #12404
release-notes

On Nov 12, 2015, at 6:44 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc491
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5_patch1/slc6_amd64_gcc491/525/
To generate the release notes for the release write "release-notes since <previous

[2015-11-12 18:38] cmsbuild commented on #12404
Generating release notes since CMSSW_7_5_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-12 18:38] cmsbuild commented on #12404
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_5_patch1 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_5_patch1

Fixes to
strip unpacker
conditions loader for HLT
DQM harvesting

[2015-11-12 18:40] cmsbuild commented on #12404
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch1

[2015-11-13 08:08] cmsbuild commented on #12354
The cleanup has started for slc6_amd64_gcc491

[2015-11-13 08:08] #12354 closed

[2015-11-13 08:09] cmsbuild commented on #12354
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_5-slc6_amd64_gcc491/216

[2015-11-13 08:27] smuzaffar commented on #12377
@iahmad-khan is working on it now

[2015-11-13 11:18] cmsbuild commented on #12357
The cleanup has started for slc6_amd64_gcc472

[2015-11-13 11:18] cmsbuild commented on #12357
The cleanup has started for slc6_amd64_gcc472

[2015-11-13 11:18] #12357 closed

[2015-11-13 11:19] cmsbuild commented on #12357
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_31-slc6_amd64_gcc472/217

[2015-11-13 12:28] cmsbuild commented on #12404
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5_patch1/slc6_amd64_gcc491/526/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-13 12:39] cmsbuild commented on #12404
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5_patch1/slc6_amd64_gcc491/527/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-13 12:42] cmsbuild commented on #12357
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_31-slc6_amd64_gcc472/218

[2015-11-13 12:42] cmsbuild commented on #12354
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_5-slc6_amd64_gcc491/219

[2015-11-13 15:24] mark-grimes opened #12412 "Build CMSSW_6_2_0_SLHC27"
This release adds improvements for fast timing:

* HGCal ToT readout.
* 4D measurements propagated through the vertexing.
* Currently, timing information for reco tracks is added from sim information.

This release will be used to create test samples for fast timing studies.

[2015-11-13 15:28] cmsbuild commented on #12412
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-11-13 17:24] DrDaveD commented on #11845
@diguida, any more progress?

[2015-11-13 18:13] cmsbuild commented on #12369
The cleanup has started for slc6_amd64_gcc493

[2015-11-13 18:13] cmsbuild commented on #12369
The cleanup has started for slc7_amd64_gcc493

[2015-11-13 18:13] #12369 closed

[2015-11-13 18:14] cmsbuild commented on #12369
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_1-slc6_amd64_gcc493/220

[2015-11-13 18:20] cmsbuild commented on #12369
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_1-slc7_amd64_gcc493/221

[2015-11-14 17:38] cmsbuild commented on #12404
The cleanup has started for slc6_amd64_gcc491

[2015-11-14 17:38] #12404 closed

[2015-11-14 17:39] cmsbuild commented on #12404
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_5_patch1-slc6_amd64_gcc491/222

[2015-11-15 10:00] davidlange6 opened #12423 "Build CMSSW_7_5_5_patch2"
Primary change:
fix for race condition in L1

[2015-11-15 10:03] cmsbuild commented on #12423
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1" t

[2015-11-15 10:04] davidlange6 commented on #12423
+1

[2015-11-15 10:08] cmsbuild commented on #12423
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-15 10:08] cmsbuild commented on #12423
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-15 10:09] cmsbuild commented on #12423
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/474/console
CMSDIST Branch: [REL/CMSSW_7_5_5/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_5/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-15 10:11] davidlange6 commented on #12412
+1

[2015-11-15 10:13] cmsbuild commented on #12412
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_6_2_0_SLHC27. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_6_2_X_SLHC

[2015-11-15 10:13] cmsbuild commented on #12412
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-15 10:15] cmsbuild commented on #12412
The build has started for slc6_amd64_gcc472 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/475/console
CMSDIST Branch: [IB/CMSSW_6_2_X/devel-gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_6_2_X/devel-gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-15 10:44] cmsbuild commented on #12423
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch2-slc6_amd64_gcc491/474
Some tes

[2015-11-15 11:09] cmsbuild commented on #12423
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch2-slc6_amd64_gcc491/474

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-15 11:21] davidlange6 commented on #12423
upload all

[2015-11-15 11:23] cmsbuild commented on #12423
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-15 11:24] cmsbuild commented on #12423
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/262/console

[2015-11-15 11:58] cmsbuild commented on #12423
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_5_patch2-slc6_amd64_gcc491/262
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-15 12:12] cmsbuild commented on #12423
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5_patch2/slc6_amd64_gcc491/528/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-15 12:29] davidlange6 commented on #12423
release-notes

[2015-11-15 12:33] cmsbuild commented on #12423
Generating release notes since CMSSW_7_5_5_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-15 12:33] cmsbuild commented on #12423
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_5_patch2 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_5_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_5_patch2

Primary change:
fix for race condition in L1

Cheers,
cms

[2015-11-15 12:36] cmsbuild commented on #12423
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch2

[2015-11-15 12:57] cmsbuild commented on #12412
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_6_2_0_SLHC27-slc6_amd64_gcc472/475
Some tes

[2015-11-15 12:58] cmsbuild commented on #12412
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_6_2_0_SLHC27-slc6_amd64_gcc472/475

Tests results:
grep: /build/cmsbuild/auto-builds/CMSSW_6_2_0_SLHC27-slc6_amd64_gcc472/build/CMSSW_6_2_0_SLHC27-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2015-11-15 13:16] davidlange6 commented on #12412
upload all

[2015-11-15 13:18] cmsbuild commented on #12412
Queing Jenkins upload for slc6_amd64_gcc472

[2015-11-15 13:19] cmsbuild commented on #12412
The upload has started for slc6_amd64_gcc472 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/263/console

[2015-11-15 13:55] cmsbuild commented on #12412
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_6_2_0_SLHC27-slc6_amd64_gcc472/263
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-15 14:15] cmsbuild commented on #12412
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_6_2_0_SLHC27/slc6_amd64_gcc472/529/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-15 14:21] davidlange6 commented on #12412
release-notes

[2015-11-15 14:23] cmsbuild commented on #12412
Generating release notes since CMSSW_6_2_0_SLHC26_patch4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-15 14:23] cmsbuild commented on #12412
You can use this template for announcing the release:

Hi all,

The production release CMSSW_6_2_0_SLHC27 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_6_2_0_SLHC26_patch4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_6_2_0_SLHC27

This release adds improvements for fast timing:

* HGCal

[2015-11-15 14:25] cmsbuild commented on #12412
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_6_2_0_SLHC27

[2015-11-16 17:29] davidlange6 opened #12441 "Build CMSSW_8_0_0_pre2"

[2015-11-16 17:33] cmsbuild commented on #12441
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-16 17:41] davidlange6 commented on #12441
+1

[2015-11-16 17:43] cmsbuild commented on #12441
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2015-11-16 17:43] cmsbuild commented on #12441
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-11-16 17:45] cmsbuild commented on #12441
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/476/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-16 17:45] cmsbuild commented on #12441
The build has started for slc7_amd64_gcc493 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/477/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-16 22:29] cmsbuild commented on #12441
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre2-slc6_amd64_gcc493/476
Some tests

[2015-11-16 22:55] cmsbuild commented on #12441
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre2-slc6_amd64_gcc493/476

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-17 00:25] cmsbuild commented on #12441
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre2-slc7_amd64_gcc493/477
Some tests

[2015-11-17 00:30] cmsbuild commented on #12441
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre2-slc7_amd64_gcc493/477

Tests results:
5 0 0 0 0 0 0 tests passed, 5 5 0 0 0 0 0 failed

[2015-11-17 05:17] davidlange6 commented on #12441
upload all

[2015-11-17 05:18] cmsbuild commented on #12441
Queing Jenkins upload for slc6_amd64_gcc493

[2015-11-17 05:18] cmsbuild commented on #12441
Queing Jenkins upload for slc7_amd64_gcc493

[2015-11-17 05:18] davidlange6 opened #12449 "Build CMSSW_7_5_5_patch3"

[2015-11-17 05:19] cmsbuild commented on #12441
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/264/console

[2015-11-17 05:19] cmsbuild commented on #12441
The upload has started for slc7_amd64_gcc493 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/265/console

[2015-11-17 05:23] cmsbuild commented on #12449
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-17 05:36] davidlange6 commented on #12449
+1

[2015-11-17 05:38] cmsbuild commented on #12449
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-17 05:38] cmsbuild commented on #12449
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-17 05:39] cmsbuild commented on #12449
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/478/console
CMSDIST Branch: [REL/CMSSW_7_5_5/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_5/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-17 05:49] cmsbuild commented on #12441
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre2-slc6_amd64_gcc493/264
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-17 06:06] cmsbuild commented on #12441
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre2-slc7_amd64_gcc493/265
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-17 06:15] cmsbuild commented on #12449
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch3-slc6_amd64_gcc491/478
Some tes

[2015-11-17 06:16] cmsbuild commented on #12441
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre2/slc6_amd64_gcc493/530/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2015-11-17 06:32] davidlange6 commented on #12441
release-notes

On Nov 17, 2015, at 7:16 AM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre2/slc6_amd64_gcc493/530/
To generate the release notes for the release write "release-notes since <previous-r

[2015-11-17 06:33] cmsbuild commented on #12441
Generating release notes since CMSSW_8_0_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-17 06:33] cmsbuild commented on #12441
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_0_0_pre2 is now available for the following architectures:

slc6_amd64_gcc493 (production)

The release notes of what changed with respect to CMSSW_8_0_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_pre2

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnoun

[2015-11-17 06:36] cmsbuild commented on #12441
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre2

[2015-11-17 06:40] cmsbuild commented on #12449
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch3-slc6_amd64_gcc491/478

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-17 06:55] cmsbuild commented on #12441
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre2/slc7_amd64_gcc493/531/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2015-11-17 08:08] davidlange6 commented on #12449
upload all

[2015-11-17 08:18] cmsbuild commented on #12449
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-17 08:19] cmsbuild commented on #12449
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/266/console

[2015-11-17 08:59] cmsbuild commented on #12449
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_5_patch3-slc6_amd64_gcc491/266
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-17 09:11] cmsbuild commented on #12449
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5_patch3/slc6_amd64_gcc491/532/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-17 09:56] davidlange6 commented on #12449
release-notes

[2015-11-17 09:58] cmsbuild commented on #12449
Generating release notes since CMSSW_7_5_5_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-17 09:58] cmsbuild commented on #12449
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_5_patch3 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_5_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_5_patch3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2015-11-17 10:00] cmsbuild commented on #12449
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch3

[2015-11-17 11:33] cmsbuild commented on #12423
The cleanup has started for slc6_amd64_gcc491

[2015-11-17 11:33] #12423 closed

[2015-11-17 11:34] cmsbuild commented on #12423
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_5_patch2-slc6_amd64_gcc491/223

[2015-11-17 13:23] cmsbuild commented on #12412
The cleanup has started for slc6_amd64_gcc472

[2015-11-17 13:23] #12412 closed

[2015-11-17 13:24] cmsbuild commented on #12412
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_6_2_0_SLHC27-slc6_amd64_gcc472/224

[2015-11-19 05:33] cmsbuild commented on #12441
The cleanup has started for slc6_amd64_gcc493

[2015-11-19 05:33] cmsbuild commented on #12441
The cleanup has started for slc7_amd64_gcc493

[2015-11-19 05:33] #12441 closed

[2015-11-19 05:34] cmsbuild commented on #12441
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre2-slc6_amd64_gcc493/225

[2015-11-19 06:05] slava77 opened #12490 "Build CMSSW_7_5_6"
In preparation for HI.
Starting a new release due to pythia external change

- DQM changes for HI and L1T
- GT update
- ZDC unpacking
- fixes to HI configurations:
    - repacked input for event display
    - offline beamspot in HI prompt reco

[2015-11-19 06:06] cmsbuild commented on #12441
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre2-slc7_amd64_gcc493/226

[2015-11-19 06:27] cmsbuild commented on #12490
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-19 06:49] slava77 commented on #12490
build cmssw-tool-conf

[2015-11-19 06:53] cmsbuild commented on #12490
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc491
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2015-11-19 06:55] cmsbuild commented on #12490
The cmssw-tool-conf build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/479/console
CMSDIST Branch: [IB/CMSSW_7_5_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_5_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-19 07:55] cmsbuild commented on #12490
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc491 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_6-slc6_amd64_gcc491/479

[2015-11-19 08:58] cmsbuild commented on #12449
The cleanup has started for slc6_amd64_gcc491

[2015-11-19 08:58] #12449 closed

[2015-11-19 08:59] cmsbuild commented on #12449
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_5_patch3-slc6_amd64_gcc491/227

[2015-11-19 13:39] slava77 commented on #12490
+1

[2015-11-19 13:43] cmsbuild commented on #12490
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-19 13:43] cmsbuild commented on #12490
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-19 13:45] cmsbuild commented on #12490
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/480/console
CMSDIST Branch: [IB/CMSSW_7_5_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_5_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-19 16:53] cmsbuild commented on #12490
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_6-slc6_amd64_gcc491/480
Some tests ( ru

[2015-11-19 17:16] cmsbuild commented on #12490
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_6-slc6_amd64_gcc491/480

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-19 17:27] slava77 commented on #12490
upload all

[2015-11-19 17:28] cmsbuild commented on #12490
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-19 17:28] cmsbuild commented on #12490
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/267/console

[2015-11-19 17:52] cmsbuild commented on #12490
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_6-slc6_amd64_gcc491/267
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-19 18:19] cmsbuild commented on #12490
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_6/slc6_amd64_gcc491/533/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-11-19 18:29] slava77 commented on #12490
release-notes since CMSSW_7_5_5_patch3

[2015-11-19 18:33] cmsbuild commented on #12490
Generating release notes since CMSSW_7_5_5_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-19 18:33] cmsbuild commented on #12490
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_5_6 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_5_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_6

In preparation for HI.
Starting a new release due to pythia external change

[2015-11-19 18:35] cmsbuild commented on #12490
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_6

[2015-11-20 20:32] slava77 opened #12527 "Build CMSSW_7_5_5_patch4"
to fix missing HI-related event content in pp reference run processing

[2015-11-20 20:33] cmsbuild commented on #12527
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-20 21:16] slava77 commented on #12527
+1

[2015-11-20 21:18] cmsbuild commented on #12527
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_5_patchX

[2015-11-20 21:18] cmsbuild commented on #12527
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-20 21:20] cmsbuild commented on #12527
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/481/console
CMSDIST Branch: [REL/CMSSW_7_5_5/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_5/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-20 21:51] cmsbuild commented on #12527
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch4-slc6_amd64_gcc491/481
Some tes

[2015-11-20 22:12] cmsbuild commented on #12527
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch4-slc6_amd64_gcc491/481

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-20 22:13] slava77 commented on #12527
upload all

[2015-11-20 22:13] cmsbuild commented on #12527
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-20 22:13] cmsbuild commented on #12527
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/268/console

[2015-11-20 22:31] slava77 commented on #12527
@smuzaffar @degano
How long does usually take to upload?
The console  https://cmssdt.cern.ch/jenkins/job/upload-release/268/console was stuck on the following for more than 10 mins already without any activity.

[code]

[2015-11-20 22:42] cmsbuild commented on #12527
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_5_patch4-slc6_amd64_gcc491/268
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-20 22:44] slava77 commented on #12527
heh, maybe I'm getting desperate for no reason

[2015-11-20 22:46] davidlt commented on #12527
@slava77 it takes a quite some time.

[2015-11-20 22:51] cmsbuild commented on #12527
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5_patch4/slc6_amd64_gcc491/534/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-20 22:52] slava77 commented on #12527
release-notes since CMSSW_7_5_5_patch3

[2015-11-20 22:53] cmsbuild commented on #12527
Generating release notes since CMSSW_7_5_5_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-20 22:53] cmsbuild commented on #12527
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_5_patch4 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_5_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_5_patch4

to fix missing HI-related event content in pp reference r

[2015-11-20 22:55] cmsbuild commented on #12527
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch4

[2015-11-21 08:20] smuzaffar commented on #12527
@slava77 , normally upload takes 15-20 mins (mostly due to re-generation of apt cache on cmsrep ) but it can take more if IBs are also running and trying to download/upload their products.
In this case you asked to upload at 11pm at that time IBs are running creating extra load on server that is why it took more time for upload.

[2015-11-21 09:31] slava77 opened #12531 "Build CMSSW_7_5_6_patch1"
release intended for fixes or tails of CMSSW_7_5_6 integration for HI data taking.
Main feature is the ZDC unpacker .
Also:
- fix to missing HI photon isolation event content for pp scenarios
- HLTPixelActivityHFSumEnergyFilter

[2015-11-21 09:33] cmsbuild commented on #12531
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-21 10:18] slava77 commented on #12531
+1

[2015-11-21 10:33] cmsbuild commented on #12531
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_6_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-21 10:33] cmsbuild commented on #12531
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-21 10:34] cmsbuild commented on #12531
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/482/console
CMSDIST Branch: [REL/CMSSW_7_5_6/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_6/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-21 11:17] cmsbuild commented on #12531
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_6_patch1-slc6_amd64_gcc491/482
Some tes

[2015-11-21 11:39] cmsbuild commented on #12531
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_6_patch1-slc6_amd64_gcc491/482

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-21 11:50] slava77 commented on #12531
upload all

[2015-11-21 11:53] cmsbuild commented on #12531
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-21 11:54] cmsbuild commented on #12531
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/269/console

[2015-11-21 12:31] cmsbuild commented on #12531
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_6_patch1-slc6_amd64_gcc491/269
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-21 12:40] cmsbuild commented on #12531
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_6_patch1/slc6_amd64_gcc491/535/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-21 12:45] slava77 commented on #12531
release-notes since CMSSW_7_5_6

[2015-11-21 12:48] cmsbuild commented on #12531
Generating release notes since CMSSW_7_5_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-21 12:48] cmsbuild commented on #12531
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_6_patch1 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_6_patch1

release intended for fixes or tails of CMSSW_7_5_6 integration f

[2015-11-21 12:50] cmsbuild commented on #12531
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_6_patch1

[2015-11-21 17:33] cmsbuild commented on #12490
The cleanup has started for slc6_amd64_gcc491

[2015-11-21 17:33] #12490 closed

[2015-11-21 17:34] cmsbuild commented on #12490
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_6-slc6_amd64_gcc491/228

[2015-11-22 11:07] slava77 opened #12535 "Build CMSSW_7_5_7"
to back out the frontier client version

[2015-11-22 11:08] cmsbuild commented on #12535
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-22 11:24] slava77 commented on #12535
build cmssw-tool-conf

[2015-11-22 11:28] cmsbuild commented on #12535
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc491
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2015-11-22 11:29] cmsbuild commented on #12535
The cmssw-tool-conf build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/483/console
CMSDIST Branch: [IB/CMSSW_7_5_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_5_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-22 12:22] cmsbuild commented on #12535
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc491 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7-slc6_amd64_gcc491/483

[2015-11-22 12:23] slava77 commented on #12535
+1

[2015-11-22 12:28] cmsbuild commented on #12535
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-22 12:28] cmsbuild commented on #12535
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-22 12:29] cmsbuild commented on #12535
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/484/console
CMSDIST Branch: [IB/CMSSW_7_5_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_5_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-22 15:13] cmsbuild commented on #12535
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7-slc6_amd64_gcc491/484
Some tests ( ru

[2015-11-22 15:37] cmsbuild commented on #12535
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7-slc6_amd64_gcc491/484

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-22 17:39] slava77 commented on #12535
upload all

[2015-11-22 17:43] cmsbuild commented on #12535
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-22 17:44] cmsbuild commented on #12535
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/270/console

[2015-11-22 18:24] cmsbuild commented on #12535
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_7-slc6_amd64_gcc491/270
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-22 18:51] cmsbuild commented on #12535
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_7/slc6_amd64_gcc491/536/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-11-22 19:38] slava77 commented on #12535
release-notes since CMSSW_7_5_6_patch1

[2015-11-22 19:43] cmsbuild commented on #12535
Generating release notes since CMSSW_7_5_6_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-22 19:43] cmsbuild commented on #12535
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_5_7 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_6_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_7

to back out the frontier client version

Cheers,
cms-bot

You can also click

[2015-11-22 19:45] cmsbuild commented on #12535
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7

[2015-11-22 21:53] cmsbuild commented on #12527
The cleanup has started for slc6_amd64_gcc491

[2015-11-22 21:53] #12527 closed

[2015-11-22 21:54] cmsbuild commented on #12527
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_5_patch4-slc6_amd64_gcc491/229

[2015-11-23 11:32] smuzaffar commented on #12377
this is available in 80X IBs

[2015-11-23 11:34] cmsbuild commented on #12377
A new Issue was created by @davidlange6 (David Lange).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatu

[2015-11-23 11:34] smuzaffar commented on #12377
assign externals

[2015-11-23 11:43] cmsbuild commented on #12377
New categories assigned: externals

@degano you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-11-23 11:45] smuzaffar commented on #12377
+1

[2015-11-23 11:45] cmsbuild commented on #12377
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-11-23 11:45] cmsbuild commented on #12377
This issue is fully signed and ready to be closed.

[2015-11-23 11:48] cmsbuild commented on #12531
The cleanup has started for slc6_amd64_gcc491

[2015-11-23 11:48] #12531 closed

[2015-11-23 11:49] cmsbuild commented on #12531
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_6_patch1-slc6_amd64_gcc491/230

[2015-11-23 11:52] smuzaffar commented on #12377
close

[2015-11-23 11:54] cmsbuild commented on #12377
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-11-23 12:01] cmsbuild commented on #12377
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-11-23 12:20] #12377 closed

[2015-11-23 15:37] smuzaffar commented on #12363
cms-bot?

[2015-11-23 15:38] cmsbuild commented on #12363
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatur

[2015-11-23 15:40] smuzaffar commented on #12363
assign externals

[2015-11-23 15:41] cmsbuild commented on #12363
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-11-23 15:42] smuzaffar commented on #12363
davix external is now available in CMSSW 8_0_X.

[2015-11-23 15:57] smuzaffar commented on #12233
cms-bot is going to recognize cmssw issues too

[2015-11-23 15:57] smuzaffar commented on #12125
cms-bot?

[2015-11-23 16:00] cmsbuild commented on #12233
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatur

[2015-11-23 16:00] cmsbuild commented on #12125
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatur

[2015-11-24 04:39] slava77 opened #12550 "Build CMSSW_7_5_7_patch1"
To fix the ZDC unpacker
Also included:
- Update mixing scenario names (for ppRef and PbPb)
- event display in 8 threads

[2015-11-24 04:43] cmsbuild commented on #12550
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-24 04:43] slava77 commented on #12550
+1

[2015-11-24 04:48] cmsbuild commented on #12550
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-24 04:48] cmsbuild commented on #12550
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-24 04:50] cmsbuild commented on #12550
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/485/console
CMSDIST Branch: [REL/CMSSW_7_5_7/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_7/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-24 05:32] cmsbuild commented on #12550
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7_patch1-slc6_amd64_gcc491/485
Some tes

[2015-11-24 05:55] cmsbuild commented on #12550
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7_patch1-slc6_amd64_gcc491/485

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-24 05:57] slava77 commented on #12550
upload all

[2015-11-24 05:58] cmsbuild commented on #12550
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-24 05:59] cmsbuild commented on #12550
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/271/console

[2015-11-24 06:08] cmsbuild commented on #12550
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_7_patch1-slc6_amd64_gcc491/271
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-24 06:16] cmsbuild commented on #12550
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_7_patch1/slc6_amd64_gcc491/537/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-24 06:21] slava77 commented on #12550
release-notes

[2015-11-24 06:23] cmsbuild commented on #12550
Generating release notes since CMSSW_7_5_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-24 06:23] cmsbuild commented on #12550
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_7_patch1 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_7_patch1

To fix the ZDC unpacker
Also included:
- Update mixing scenario

[2015-11-24 06:25] cmsbuild commented on #12550
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7_patch1

[2015-11-24 17:10] ianna opened #12556 "edmConfigBrowser fails to load python configuration file"
Using recent IB CMSSW_8_0_X_2015-11-23-2300:

[code]

[2015-11-24 17:11] cmsbuild commented on #12556
A new Issue was created by  @ianna (Ianna Osborne).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatures

[2015-11-24 18:43] cmsbuild commented on #12535
The cleanup has started for slc6_amd64_gcc491

[2015-11-24 18:43] #12535 closed

[2015-11-24 18:44] cmsbuild commented on #12535
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_7-slc6_amd64_gcc491/231

[2015-11-25 10:38] OlivierBondu opened #12559 "watchlist for OlivierBondu"
Hi,

could I be added to the watchlist for all packages in
[`RecoLocalTracker/*`](https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X/RecoLocalTracker)

except for
`RecoLocalTracker/SiPixelClusterizer`
and `RecoLocalTracker/SiPixelRecHits`

Thanks,
Olivier (SiStrip local reco contact)

[2015-11-25 10:41] cmsbuild commented on #12559
A new Issue was created by  @OlivierBondu (Olivier).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signature

[2015-11-26 05:23] cmsbuild commented on #12550
The cleanup has started for slc6_amd64_gcc491

[2015-11-26 05:23] #12550 closed

[2015-11-26 05:24] cmsbuild commented on #12550
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_7_patch1-slc6_amd64_gcc491/232

[2015-11-29 21:02] slava77 opened #12591 "Build CMSSW_7_5_5_patch5"
to solve an issue in XrdRequestManager locking up.

[2015-11-29 21:03] cmsbuild commented on #12591
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-29 21:41] slava77 commented on #12591
+1

[2015-11-29 21:43] cmsbuild commented on #12591
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_5_patchX

[2015-11-29 21:43] cmsbuild commented on #12591
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-29 21:45] cmsbuild commented on #12591
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/486/console
CMSDIST Branch: [REL/CMSSW_7_5_5/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_5/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-29 22:20] cmsbuild commented on #12591
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch5-slc6_amd64_gcc491/486
Some tes

[2015-11-29 22:44] cmsbuild commented on #12591
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_5_patch5-slc6_amd64_gcc491/486

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-29 22:57] slava77 commented on #12591
upload all

[2015-11-29 22:58] cmsbuild commented on #12591
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-29 22:58] cmsbuild commented on #12591
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/272/console

[2015-11-29 23:16] cmsbuild commented on #12591
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_5_patch5-slc6_amd64_gcc491/272
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-29 23:37] cmsbuild commented on #12591
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_5_patch5/slc6_amd64_gcc491/538/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-30 00:03] slava77 commented on #12591
release notes

[2015-11-30 00:14] slava77 commented on #12591
release-notes since CMSSW_7_5_5_patch4

[2015-11-30 00:18] cmsbuild commented on #12591
Generating release notes since CMSSW_7_5_5_patch4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-30 00:18] cmsbuild commented on #12591
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_5_patch5 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_5_patch4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_5_patch5

to solve an issue in XrdRequestManager locking up.

Cheer

[2015-11-30 00:19] cmsbuild commented on #12591
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_5_patch5

[2015-11-30 06:41] slava77 opened #12597 "Build CMSSW_7_5_7_patch2"
resolve recent issues in HI data processing
- prevent lockups in XrdRequestManager
- memory reduction in muon reconstruction
Also includes a new gen filter for HI MC and minor updates in DQM.

[2015-11-30 06:43] cmsbuild commented on #12597
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-30 08:11] slava77 commented on #12597
+1

[2015-11-30 08:13] cmsbuild commented on #12597
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-30 08:13] cmsbuild commented on #12597
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-30 08:15] cmsbuild commented on #12597
The build has started for slc6_amd64_gcc491 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/487/console
CMSDIST Branch: [REL/CMSSW_7_5_7/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_7/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-30 08:37] cmsbuild commented on #12597
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7_patch2-slc6_amd64_gcc491/487
Some tes

[2015-11-30 09:02] cmsbuild commented on #12597
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7_patch2-slc6_amd64_gcc491/487

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-30 13:01] slava77 commented on #12597
Abort

[2015-11-30 13:03] cmsbuild commented on #12597
Deleting CMSSW_7_5_7_patch2:

  -Release successfully deleted

  -cmssw tag CMSSW_7_5_7_patch2 successfully deleted.

  -cmsdist tag REL/CMSSW_7_5_7_patch2/slc6_amd64_gcc491 successfully deleted.

You must create a new issue to start over the build.

[2015-11-30 13:23] slava77 opened #12602 "Build CMSSW_7_5_7_patch2"
resolve recent issues in HI data processing
- prevent lockups in XrdRequestManager
- memory reduction in muon reconstruction
- memory reduction in SiStripMonitorCluster
- add lite DQM sequence to reduce memory consumption in several PDs

Also includes a new gen filter for HI MC and minor updates in DQM.

[2015-11-30 13:28] cmsbuild commented on #12602
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-11-30 14:54] degano commented on #12559
@OlivierBondu done in cms-sw/cms-bot#581

[2015-11-30 14:54] #12559 closed

[2015-11-30 14:55] degano commented on #11057
@govoni ping?

[2015-11-30 14:56] cmsbuild commented on #11057
A new Issue was created by  @covarell (Roberto Covarelli).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request sig

[2015-11-30 16:05] slava77 commented on #12602
+1

[2015-11-30 16:08] cmsbuild commented on #12602
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-11-30 16:08] cmsbuild commented on #12602
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-11-30 16:12] Dr15Jones opened #12608 "Better error handling in XrdRequestManager"
A deadlock situation happened in the Tier 0 because an error condition was missed in the implementation of XrdRequestManager. The fix was done in pull request #12590. However, that pull request makes an implicit error condition for ```m_activeSources.size()==0``` rather than any explicit error condition. This makes handling errors difficult to follow in the code.

We should look into better compar

[2015-11-30 16:12] cmsbuild commented on #12608
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatur

[2015-11-30 16:16] Dr15Jones commented on #12608
assign core

[2015-11-30 16:46] cmsbuild commented on #12602
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/488/console
CMSDIST Branch: [REL/CMSSW_7_5_7/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_7/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-11-30 16:49] smuzaffar commented on #12602
ignore this comment, testing new git webhook

[2015-11-30 17:01] Dr15Jones opened #12609 "Used cached edm::View<> when doing a edm::Event::getBy*"
Instead of creating a new ```edm::View<T>``` each time we call ```edm::Event::getBy*<View<T>>``` we should look to see if we've already cached that item and return it. This would have solved the problem seen in this hypernews threads.
https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3603.html

[2015-11-30 17:01] cmsbuild commented on #12609
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatur

[2015-11-30 17:07] cmsbuild commented on #12602
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7_patch2-slc6_amd64_gcc491/488
Some tes

[2015-11-30 17:19] slava77 commented on #12602
upload all

[2015-11-30 17:19] cmsbuild commented on #12602
Queing Jenkins upload for slc6_amd64_gcc491

[2015-11-30 17:20] cmsbuild commented on #12602
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/273/console

[2015-11-30 17:31] cmsbuild commented on #12602
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7_patch2-slc6_amd64_gcc491/488

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-11-30 17:42] cmsbuild commented on #12602
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_7_patch2-slc6_amd64_gcc491/273
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-11-30 17:53] cmsbuild commented on #12602
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_7_patch2/slc6_amd64_gcc491/539/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-11-30 17:56] govoni commented on #11057
+1

On November 30, 2015 3:55:58 PM Alessandro Degano
<notifications@github.com> wrote:

[2015-11-30 18:09] slava77 commented on #12602
release-notes

[2015-11-30 18:09] cmsbuild commented on #12602
Generating release notes since CMSSW_7_5_7_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-11-30 18:09] cmsbuild commented on #12602
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_7_patch2 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_7_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_7_patch2

resolve recent issues in HI data processing
- prevent loc

[2015-11-30 18:12] cmsbuild commented on #12602
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7_patch2

[2015-11-30 18:12] Dr15Jones commented on #12609
One potentially solution would be to move the handling of ```edm::View``` into the ```edm::Principal``` and then the ```getBy*``` do not have to be specialized. Instead, we would use the consumes information to add new ```ProductHolder```s to the ```edm::Principal``` and these holders would handle getting the necessary data from the principal, creating the ```edm::View``` and then the regular cach

[2015-11-30 18:26] Dr15Jones commented on #12608
The hypernews thread for the problem was
https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1400.html

[2015-12-01 23:18] cmsbuild commented on #12591
The cleanup has started for slc6_amd64_gcc491

[2015-12-01 23:18] #12591 closed

[2015-12-01 23:19] cmsbuild commented on #12591
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_5_patch5-slc6_amd64_gcc491/233

[2015-12-02 12:03] cmsbuild commented on #12597
The cleanup has started for slc6_amd64_gcc491

[2015-12-02 12:03] #12597 closed

[2015-12-02 12:04] cmsbuild commented on #12597
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_7_patch2-slc6_amd64_gcc491/234

[2015-12-02 17:13] cmsbuild commented on #12602
The cleanup has started for slc6_amd64_gcc491

[2015-12-02 17:13] #12602 closed

[2015-12-02 17:14] cmsbuild commented on #12602
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_7_patch2-slc6_amd64_gcc491/235

[2015-12-03 11:42] ferriff opened #12655 "Difference between afs and cvmfs mirrors for CMSSW_GIT_REFERENCE"
Dear all, [1]

I am working with CMSSW on a machine outside CERN that has both cvmfs and afs access. Everything works fine by appropriately setting CMSSW_GIT_REFERENCE [2].

However, if I set it to the cvmfs option, after a generic cmsrel + git cms-init I get a working directory of >400 MB, while if I set it to the afs option the working directory is only about 11 MB. The latter seems a much more

[2015-12-03 11:43] cmsbuild commented on #12655
A new Issue was created by  @ferriff .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatures

[2015-12-04 13:50] davidlange6 opened #12668 "Build CMSSW_7_6_2"
Primary reason for this release: MiniAODv2 changes

[2015-12-04 13:50] cmsbuild commented on #12668
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-04 13:50] davidlange6 commented on #12668
+1

[2015-12-04 13:50] cmsbuild commented on #12668
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2015-12-04 13:50] cmsbuild commented on #12668
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-12-04 13:53] cmsbuild commented on #12668
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/489/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-04 13:59] cmsbuild commented on #12668
The was an error for slc7_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_2-slc7_amd64_gcc493/490

[2015-12-04 14:02] smuzaffar commented on #12668
I have restarted the slc7 build. There was an issue with the machine where jenkins tried to built it

[2015-12-04 15:04] cmsbuild commented on #12668
The build has started for slc7_amd64_gcc493 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/491/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-04 16:48] davidlange6 opened #12671 "Build CMSSW_7_5_7_patch3"

[2015-12-04 16:49] cmsbuild commented on #12671
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-04 16:49] davidlange6 commented on #12671
+1

[2015-12-04 16:49] cmsbuild commented on #12671
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-12-04 16:49] cmsbuild commented on #12671
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-12-04 16:50] DrDaveD commented on #11845
@diguida, please say what the status is.

[2015-12-04 16:51] cmsbuild commented on #11845
A new Issue was created by  @DrDaveD .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatures

[2015-12-04 16:52] cmsbuild commented on #12671
The build has started for slc6_amd64_gcc491 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/492/console
CMSDIST Branch: [REL/CMSSW_7_5_7/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_7/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-04 17:14] cmsbuild commented on #12671
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7_patch3-slc6_amd64_gcc491/492
Some tes

[2015-12-04 17:39] cmsbuild commented on #12671
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_7_patch3-slc6_amd64_gcc491/492

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-04 18:07] cmsbuild commented on #12668
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_2-slc6_amd64_gcc493/489
Some tests ( ru

[2015-12-04 18:08] davidlange6 commented on #12671
Upload all

[2015-12-04 18:08] cmsbuild commented on #12671
Queing Jenkins upload for slc6_amd64_gcc491

[2015-12-04 18:09] cmsbuild commented on #12671
The upload has started for slc6_amd64_gcc491 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/274/console

[2015-12-04 18:32] cmsbuild commented on #12671
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_7_patch3-slc6_amd64_gcc491/274
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-04 18:34] cmsbuild commented on #12668
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_2-slc6_amd64_gcc493/489

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-04 18:38] davidlange6 commented on #12668
Upload all
________________________________________
From: cmsbuild [notifications@github.com]
Sent: 04 December 2015 19:34
To: cms-sw/cmssw
Cc: David Lange
Subject: Re: [cmssw] Build CMSSW_7_6_2 (#12668)

The tests have finished for slc6_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_2-slc6_amd64_gcc493/489

Tests results:
10 10 9 7

[2015-12-04 18:38] cmsbuild commented on #12668
Queing Jenkins upload for slc6_amd64_gcc493

[2015-12-04 18:39] cmsbuild commented on #12668
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/275/console

[2015-12-04 18:41] cmsbuild commented on #12671
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_7_patch3/slc6_amd64_gcc491/540/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-12-04 18:55] cmsbuild commented on #12668
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_2-slc6_amd64_gcc493/275
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-04 19:18] cmsbuild commented on #12668
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_2/slc6_amd64_gcc493/541/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-12-04 22:18] cmsbuild commented on #12668
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_2-slc7_amd64_gcc493/491
Some tests ( ru

[2015-12-04 22:18] cmsbuild commented on #12668
Queing Jenkins upload for slc7_amd64_gcc493

[2015-12-04 22:19] cmsbuild commented on #12668
The upload has started for slc7_amd64_gcc493 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/276/console

[2015-12-04 22:27] cmsbuild commented on #12668
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_2-slc7_amd64_gcc493/491

Tests results:
5 0 0 0 0 0 0 tests passed, 5 5 0 0 0 0 0 failed

[2015-12-04 22:48] cmsbuild commented on #12668
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_2-slc7_amd64_gcc493/276
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-04 23:06] cmsbuild commented on #12668
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_2/slc7_amd64_gcc493/542/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-12-05 00:07] slava77 commented on #11752
I submitted a fix in #12677

[2015-12-05 00:07] cmsbuild commented on #11752
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatures

[2015-12-05 00:17] slava77 commented on #11763
#12678 is expected to fix the problem here

[2015-12-05 00:18] cmsbuild commented on #11763
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatures

[2015-12-05 07:09] davidlange6 commented on #12668
Release-notes

On Dec 5, 2015, at 12:06 AM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc7_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_2/slc7_amd64_gcc493/542/
To generate the release notes for the release write "release-notes since <previous-releas

[2015-12-05 07:14] davidlange6 commented on #12671
Release-notes

[2015-12-05 07:18] davidlange6 commented on #12668
release-notes

[2015-12-05 07:18] cmsbuild commented on #12668
Generating release notes since CMSSW_7_6_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-05 07:18] cmsbuild commented on #12668
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_6_2 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_2

Primary reason for this release: MiniAODv2 changes

Cheers,
cms-bo

[2015-12-05 07:19] davidlange6 commented on #12671
release-notes

[2015-12-05 07:19] cmsbuild commented on #12671
Generating release notes since CMSSW_7_5_7_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-05 07:19] cmsbuild commented on #12671
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_7_patch3 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_7_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_7_patch3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2015-12-05 07:20] cmsbuild commented on #12668
There was an error generating the release notes, please look into the logs

[2015-12-05 07:20] cmsbuild commented on #12671
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_7_patch3

[2015-12-05 10:26] davidlange6 commented on #12668
release-notes

[2015-12-05 10:27] cmsbuild commented on #12668
Generating release notes since CMSSW_7_6_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-05 10:27] cmsbuild commented on #12668
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_6_2 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_2

Primary reason for this release: MiniAODv2 changes

Cheers,
cms-bo

[2015-12-05 10:29] cmsbuild commented on #12668
There was an error generating the release notes, please look into the logs

[2015-12-06 11:11] davidlange6 opened #12681 "Build CMSSW_7_1_20_patch3"
Primary purpose of this release: New generator filters needed for production.

[2015-12-06 11:12] cmsbuild commented on #12681
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-06 11:17] davidlange6 commented on #12681
+1

[2015-12-06 11:17] cmsbuild commented on #12681
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_20_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2015-12-06 11:17] cmsbuild commented on #12681
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-12-06 11:19] cmsbuild commented on #12681
The build has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/493/console
CMSDIST Branch: [REL/CMSSW_7_1_20/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_20/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-06 11:42] cmsbuild commented on #12681
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_20_patch3-slc6_amd64_gcc481/493
Some te

[2015-12-06 11:58] cmsbuild commented on #12681
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_20_patch3-slc6_amd64_gcc481/493

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2015-12-06 12:53] davidlange6 commented on #12681
upload all

[2015-12-06 12:54] cmsbuild commented on #12681
Queing Jenkins upload for slc6_amd64_gcc481

[2015-12-06 12:54] cmsbuild commented on #12681
The upload has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/277/console

[2015-12-06 13:08] cmsbuild commented on #12681
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_20_patch3-slc6_amd64_gcc481/277
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-06 13:13] cmsbuild commented on #12681
The installation has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_20_patch3/slc6_amd64_gcc481/543/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2015-12-06 13:29] davidlange6 commented on #12681
release-notes

On Dec 6, 2015, at 2:13 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc481
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_20_patch3/slc6_amd64_gcc481/543/
To generate the release notes for the release write "release-notes since <previous

[2015-12-06 13:29] cmsbuild commented on #12681
Generating release notes since CMSSW_7_1_20_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-06 13:29] cmsbuild commented on #12681
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_20_patch3 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_20_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_20_patch3

Primary purpose of this release: New generator filters

[2015-12-06 13:31] cmsbuild commented on #12681
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_20_patch3

[2015-12-07 06:23] cmsbuild commented on #12671
The cleanup has started for slc6_amd64_gcc491

[2015-12-07 06:23] #12671 closed

[2015-12-07 06:24] cmsbuild commented on #12671
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_7_patch3-slc6_amd64_gcc491/236

[2015-12-07 09:28] cmsbuild commented on #12668
The cleanup has started for slc6_amd64_gcc493

[2015-12-07 09:28] cmsbuild commented on #12668
The cleanup has started for slc7_amd64_gcc493

[2015-12-07 09:28] #12668 closed

[2015-12-07 09:29] cmsbuild commented on #12668
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_2-slc6_amd64_gcc493/237

[2015-12-07 09:36] cmsbuild commented on #12668
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_2-slc7_amd64_gcc493/238

[2015-12-07 16:03] Dr15Jones commented on #11692
assign core

[2015-12-07 16:03] cmsbuild commented on #11692
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:03] cmsbuild commented on #11692
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:05] Dr15Jones commented on #12120
assign core

[2015-12-07 16:06] Dr15Jones commented on #12123
assign core

[2015-12-07 16:06] cmsbuild commented on #12120
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:06] cmsbuild commented on #12120
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:06] cmsbuild commented on #12123
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:06] cmsbuild commented on #12123
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:06] Dr15Jones commented on #12125
assign core

[2015-12-07 16:07] cmsbuild commented on #12125
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:07] Dr15Jones commented on #12125
+1

[2015-12-07 16:07] cmsbuild commented on #12125
This issue is fully signed and ready to be closed.

[2015-12-07 16:07] Dr15Jones commented on #12126
assign core

[2015-12-07 16:08] cmsbuild commented on #12126
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:08] cmsbuild commented on #12126
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:08] Dr15Jones commented on #12233
assign core

[2015-12-07 16:08] cmsbuild commented on #12233
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:08] Dr15Jones commented on #12363
assign core

[2015-12-07 16:08] cmsbuild commented on #12363
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:09] Dr15Jones commented on #12608
assign core

[2015-12-07 16:09] cmsbuild commented on #12608
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:09] Dr15Jones commented on #12609
assign core

[2015-12-07 16:09] cmsbuild commented on #12609
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:14] Dr15Jones opened #12690 "Only read mergeable products at global end transition"
Mergeable data products can change during Run/LuminosityBlock processing and therefore are not thread-safe. We need to restrict them to only be accessible at the end of the transition, e.g. endRun.

[2015-12-07 16:15] cmsbuild commented on #12690
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:15] Dr15Jones commented on #12690
assign core

[2015-12-07 16:15] cmsbuild commented on #12690
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:21] Dr15Jones opened #12691 "Change Schedule::checkForCorrectness to throw exception"
In the case where the `consumes` dependencies and the order on Paths is not consistent, throw an exception instead of printing a `LogError` message.

[2015-12-07 16:22] cmsbuild commented on #12691
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:22] Dr15Jones commented on #12691
assign core

[2015-12-07 16:22] cmsbuild commented on #12691
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:23] Dr15Jones opened #12692 "Make Event::getByToken work with GenericHandle"

[2015-12-07 16:24] cmsbuild commented on #12692
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:24] Dr15Jones commented on #12692
assign core

[2015-12-07 16:24] cmsbuild commented on #12692
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:26] Dr15Jones opened #12693 "Create thread-safe EDLooper API"
Create an API to allow an ```EDLooper``` to be used in a multi-threaded job. Right now if there is an ```EDLooper``` in the job the job automatically switches to only using one thread.

[2015-12-07 16:26] cmsbuild commented on #12693
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:26] Dr15Jones commented on #12693
assign core

[2015-12-07 16:26] cmsbuild commented on #12693
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:35] Dr15Jones opened #12694 "Make MixingModule/DataMixer thread efficient"
Allow multiple primary events to run concurrently while using the mixing system.

[2015-12-07 16:36] cmsbuild commented on #12694
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:36] Dr15Jones commented on #12694
assign core

[2015-12-07 16:36] cmsbuild commented on #12694
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:40] Dr15Jones opened #12695 "Make EventSetup transient data work with threads"
Deleting the products created for transient data requests from the EventSetup should wait till all streams have processed their first event since the IOV change.

[2015-12-07 16:40] cmsbuild commented on #12695
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:41] Dr15Jones commented on #12695
assign core

[2015-12-07 16:41] cmsbuild commented on #12695
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:42] Dr15Jones commented on #12695
At the moment transient data requests are never deleted.

[2015-12-07 16:47] Dr15Jones opened #12696 "Remove circular python dependencies in FWCore/ParameterSet"
In FWCore/ParameterSet/python the modules ```Config``` depends on ```Utilities``` which depends on ```Config```

[2015-12-07 16:47] cmsbuild commented on #12696
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:47] Dr15Jones commented on #12696
assign core

[2015-12-07 16:48] cmsbuild commented on #12696
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:50] Dr15Jones opened #12697 "Extend skeleton code generator to fully support threaded modules"
Extend the skeleton code generator to handle all the different types of modules we allow.

[2015-12-07 16:50] cmsbuild commented on #12697
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:50] Dr15Jones commented on #12697
assign core

[2015-12-07 16:50] cmsbuild commented on #12697
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:53] Dr15Jones opened #12698 "Change service API to support parallel beginJob/beginStream"
In order to support parallel module running during beginJob and beginStream we need to send ```ModuleCallingContext``` to Services since a TBB wait in a modul ecould cause a module to pre-empt another module.

[2015-12-07 16:53] cmsbuild commented on #12698
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 16:54] Dr15Jones commented on #12698
assign core

[2015-12-07 16:54] cmsbuild commented on #12698
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 16:59] Dr15Jones opened #12699 "Make LoggedErrorSummary work properly unscheduled"
The producer which gets all the error messages for a given Event is not guaranteed to be called after all other producers have run. Therefore it is not guaranteed to capture all the all error messages associated to a given Event.

[2015-12-07 16:59] cmsbuild commented on #12699
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 17:04] Dr15Jones commented on #12699
assign core

[2015-12-07 17:05] cmsbuild commented on #12699
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 17:11] Dr15Jones commented on #10308
assign core

[2015-12-07 17:11] cmsbuild commented on #10308
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 17:11] cmsbuild commented on #10308
A new Issue was created by  @diguida (Salvatore Di Guida).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to

[2015-12-07 17:11] Dr15Jones commented on #10308
+1

[2015-12-07 17:12] cmsbuild commented on #10308
This issue is fully signed and ready to be closed.

[2015-12-07 17:19] Dr15Jones opened #12700 "Allow multiple SubProcesses per Process"
Allow one Process (or SubProcess) to contain multiple SubProcesses. This was requested by David Lange in order to better support skimming.

[2015-12-07 17:19] cmsbuild commented on #12700
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 17:20] Dr15Jones commented on #12700
assign core

[2015-12-07 17:20] cmsbuild commented on #12700
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 17:20] Dr15Jones commented on #12700
@wmtan this was completed, correct? If so, could you associate the pull request to this issue? Thanks.

[2015-12-07 17:28] Dr15Jones opened #12701 "Allow simulation to create new Runs on each LuminosityBlock boundary"
In order to support run dependent monte carlo processing in a finer grain manner, we would like to be able to change the Run number on LuminosityBlock boundaries. This would happen while reading a GEN or GEN+SIM file.

[2015-12-07 17:28] cmsbuild commented on #12701
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 17:29] Dr15Jones commented on #12701
assign core

[2015-12-07 17:29] cmsbuild commented on #12701
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 17:29] Dr15Jones commented on #12701
@wmtan when you get the final pull request, please link it to this issue.

[2015-12-07 17:32] Dr15Jones opened #12702 "Create a thread efficient replacement for TFileService"
To use ```TFileService``` in the threaded framework requires one to use a ```one``` module which a declared shared resource. It would be better to create a fully thread efficient way for analysis users to fill histograms.

[2015-12-07 17:33] cmsbuild commented on #12702
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-07 17:33] Dr15Jones commented on #12702
assign core

[2015-12-07 17:33] cmsbuild commented on #12702
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-07 17:37] wmtan commented on #12700
Yes, this was done in CMSSW_8_0_X by PR #12001

[2015-12-07 18:25] Dr15Jones commented on #12700
+1

[2015-12-07 18:25] cmsbuild commented on #12700
This issue is fully signed and ready to be closed.

[2015-12-07 18:25] #12700 closed

[2015-12-07 18:48] Dr15Jones commented on #12701
Same as #12233

[2015-12-07 18:48] #12701 closed

[2015-12-08 11:22] ferriff commented on #12655
Ping? :) should I send the "issue" to an hn (and in case can you suggest the most appropriate?).
Thanks and cheers,
Federico

[2015-12-08 12:33] cmsbuild commented on #12681
The cleanup has started for slc6_amd64_gcc481

[2015-12-08 12:33] #12681 closed

[2015-12-08 12:34] cmsbuild commented on #12681
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_20_patch3-slc6_amd64_gcc481/239

[2015-12-08 12:40] Dr15Jones commented on #12655
Assign core

[2015-12-08 12:40] cmsbuild commented on #12655
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-08 12:42] Dr15Jones commented on #12655
@smuzaffar Could you find someone to look into this?

[2015-12-08 13:01] smuzaffar commented on #12655
@degano , can you please check this? my guess is that cvfms one is not being automatically updated.

[2015-12-08 13:22] smuzaffar commented on #12655
I see there are two cmssw git directories in cvmfs.
1. /cvmfs/cms.cern.ch/cmssw.git
  this was last updated on 18 FEB 2014
2. /cvmfs/cms.cern.ch/cmssw.git.daily
  This one look newer.

@ferriff , can you try setting CMSSW_GIT_REFERENCE to /cvmfs/cms.cern.ch/cmssw.git.daily  and let us know it this improves the working directory size?

I have asked Bockjoo Kim  tell us the correct ref.

[2015-12-08 13:47] makortel opened #12708 "cmsDriver does not give proper error message for missing --conditions option"
@mtosi noticed that if one does not give `--conditions` to cmsDriver (in 80X), one gets

[code]

instead of the intended exception. I'm not sure where this should be reported, but since autoCond is part of this, I try AlCa first. @diguida @mmusich @franzoni

[2015-12-08 13:48] cmsbuild commented on #12708
A new Issue was created by  @makortel (Matti Kortelainen).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to

[2015-12-08 13:55] mmusich commented on #12708
addding PdmV @boudoul, @fabozzi, @srimanob, @hengne,

[2015-12-08 14:03] ferriff commented on #12655
Great, that improves hugely: the size of the directory is about 9.7 MB.
If Bockjoo Kim confirms that this is the good reference, you may wish to update the instructions: https://cms-sw.github.io/advanced-usage.html
Thanks!!
Federico

[2015-12-08 14:11] smuzaffar commented on #12655
Bockjoo just confirmed that /cvmfs/cms.cern.ch/cmssw.git.daily is the right one. We will update the instructions, thanks

[2015-12-08 14:12] smuzaffar commented on #12655
@iahmad-khan , can you please update https://cms-sw.github.io/advanced-usage.html

[2015-12-08 14:13] ferriff commented on #12655
Great, thank you!

[2015-12-08 14:41] iahmad-khan commented on #12655
repo name updated

[2015-12-08 14:42] smuzaffar commented on #12655
+1
thanks @iahmad-khan

[2015-12-08 14:42] cmsbuild commented on #12655
This issue is fully signed and ready to be closed.

[2015-12-08 14:42] smuzaffar commented on #12655
close

[2015-12-08 14:42] #12655 closed

[2015-12-08 15:26] Dr15Jones commented on #12708
assign operations

[2015-12-08 15:26] cmsbuild commented on #12708
New categories assigned: operations

@franzoni,@davidlange6 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-08 19:44] Dr15Jones commented on #12694
@dan131riley this is just meant to keep track of what work Core is doing

[2015-12-10 10:29] davidlange6 opened #12739 "Need release notes for CMSSW_7_6_2"
the automated ones failed.

[2015-12-10 10:29] cmsbuild commented on #12739
A new Issue was created by  @davidlange6 (David Lange).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to re

[2015-12-10 10:30] davidlange6 commented on #12739
assign core

[2015-12-10 10:30] cmsbuild commented on #12739
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-10 10:49] cmsbuild commented on #12668
There was an error generating the release notes, please look into the logs

[2015-12-10 10:53] smuzaffar commented on #12739
looking in to it

[2015-12-10 11:30] davidlange6 opened #12744 "Build CMSSW_7_5_8"
Primary changes:
For HI and pp ref means
For pixel packer changes needed for online running

[2015-12-10 11:30] cmsbuild commented on #12744
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-10 11:31] davidlange6 commented on #12744
+1

[2015-12-10 11:31] cmsbuild commented on #12744
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-12-10 11:31] cmsbuild commented on #12744
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-12-10 11:33] cmsbuild commented on #12744
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/494/console
CMSDIST Branch: [IB/CMSSW_7_5_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_5_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-10 12:47] smuzaffar commented on #12739
+1
This is now fix. release-note script in cms-bot was failing if there was an indirect merged PR number and it was not able to find it on github

[2015-12-10 12:48] cmsbuild commented on #12739
This issue is fully signed and ready to be closed.

[2015-12-10 12:49] smuzaffar commented on #12739
https://github.com/cms-sw/cms-bot/commit/cf36c70bf39a6bb966e8e7f8e30a6b5dfde1d4a4 should fix this issue

[2015-12-10 12:50] #12739 closed

[2015-12-10 15:25] cmsbuild commented on #12744
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8-slc6_amd64_gcc491/494
Some tests ( ru

[2015-12-10 15:51] cmsbuild commented on #12744
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8-slc6_amd64_gcc491/494

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-10 16:20] davidlange6 commented on #12744
upload all

[2015-12-10 16:20] cmsbuild commented on #12744
Queing Jenkins upload for slc6_amd64_gcc491

[2015-12-10 16:21] cmsbuild commented on #12744
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/278/console

[2015-12-10 16:47] cmsbuild commented on #12744
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_8-slc6_amd64_gcc491/278
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-10 18:25] davidlange6 commented on #12744
@smuzaffar - do we have a problem here? Tw hours for the installation   Seems waiting for the ads volume

[2015-12-10 18:51] davidlange6 opened #12752 "Build CMSSW_7_6_3"
Thread safety fixes for tau reco

[2015-12-10 18:51] cmsbuild commented on #12752
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-10 18:51] davidlange6 commented on #12752
+1

[2015-12-10 18:52] cmsbuild commented on #12752
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2015-12-10 18:52] cmsbuild commented on #12752
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-12-10 18:54] cmsbuild commented on #12752
The build has started for slc7_amd64_gcc493 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/495/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-10 18:55] cmsbuild commented on #12752
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/496/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-10 21:16] cmsbuild commented on #12744
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8/slc6_amd64_gcc491/545/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-12-10 21:18] davidlange6 commented on #12744
release-notes

On Dec 10, 2015, at 10:17 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc491
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8/slc6_amd64_gcc491/545/
To generate the release notes for the release write "release-notes since <previous-relea

[2015-12-10 21:18] cmsbuild commented on #12744
Generating release notes since CMSSW_7_5_7_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-10 21:18] cmsbuild commented on #12744
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_5_8 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_7_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8

Primary changes:
For HI and pp ref means
For pixel packer changes needed for

[2015-12-10 21:20] cmsbuild commented on #12744
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8

[2015-12-10 23:22] cmsbuild commented on #12752
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3-slc6_amd64_gcc493/496
Some tests ( ru

[2015-12-10 23:48] cmsbuild commented on #12752
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3-slc6_amd64_gcc493/496

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-11 00:18] wmtan commented on #12233
@Dr15Jones  PR #12753 implements the solution for this issue in CMSSW_8_0_X.

[2015-12-11 00:54] cmsbuild commented on #12752
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3-slc7_amd64_gcc493/495
Some tests ( ru

[2015-12-11 01:00] cmsbuild commented on #12752
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3-slc7_amd64_gcc493/495

Tests results:
5 0 0 0 0 0 0 tests passed, 5 5 0 0 0 0 0 failed

[2015-12-11 08:24] davidlange6 commented on #12752
upload all

[2015-12-11 08:24] cmsbuild commented on #12752
Queing Jenkins upload for slc6_amd64_gcc493

[2015-12-11 08:24] cmsbuild commented on #12752
Queing Jenkins upload for slc7_amd64_gcc493

[2015-12-11 08:25] cmsbuild commented on #12752
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/279/console

[2015-12-11 08:25] cmsbuild commented on #12752
The upload has started for slc7_amd64_gcc493 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/280/console

[2015-12-11 09:09] cmsbuild commented on #12752
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_3-slc6_amd64_gcc493/279
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-11 09:28] cmsbuild commented on #12752
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_3/slc6_amd64_gcc493/546/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-12-11 09:34] cmsbuild commented on #12752
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_3-slc7_amd64_gcc493/280
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-11 09:43] davidlange6 commented on #12752
release-notes

[2015-12-11 09:44] cmsbuild commented on #12752
Generating release notes since CMSSW_7_6_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-11 09:44] cmsbuild commented on #12752
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_6_3 is now available for the following architectures:

slc6_amd64_gcc493 (production)

The release notes of what changed with respect to CMSSW_7_6_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_3

Thread safety fixes for tau reco

Cheers,
cms-bot

You can also click <a href="mailt

[2015-12-11 09:46] cmsbuild commented on #12752
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_3

[2015-12-11 09:55] cmsbuild commented on #12752
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_3/slc7_amd64_gcc493/547/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2015-12-11 15:24] davidlange6 opened #12761 "Build CMSSW_8_0_0_pre3"

[2015-12-11 15:25] cmsbuild commented on #12761
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-11 15:25] davidlange6 commented on #12761
+1

[2015-12-11 15:26] cmsbuild commented on #12761
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2015-12-11 15:26] cmsbuild commented on #12761
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-12-11 15:27] cmsbuild commented on #12761
The build has started for slc7_amd64_gcc493 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/497/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-11 15:28] cmsbuild commented on #12761
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/498/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-11 20:08] cmsbuild commented on #12761
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre3-slc6_amd64_gcc493/498
Some tests

[2015-12-11 20:33] cmsbuild commented on #12761
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre3-slc6_amd64_gcc493/498

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-11 21:07] davidlange6 commented on #12761
upload all

On Dec 11, 2015, at 9:33 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre3-slc6_amd64_gcc493/498

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
Reply to this email directly or view

[2015-12-11 21:08] cmsbuild commented on #12761
Queing Jenkins upload for slc6_amd64_gcc493

[2015-12-11 21:08] cmsbuild commented on #12761
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/281/console

[2015-12-11 21:35] cmsbuild commented on #12761
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre3-slc6_amd64_gcc493/281
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-11 21:49] cmsbuild commented on #12761
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre3-slc7_amd64_gcc493/497
Some tests

[2015-12-11 21:50] cmsbuild commented on #12761
Queing Jenkins upload for slc7_amd64_gcc493

[2015-12-11 21:50] cmsbuild commented on #12761
The upload has started for slc7_amd64_gcc493 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/282/console

[2015-12-11 21:55] cmsbuild commented on #12761
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre3-slc7_amd64_gcc493/497

Tests results:
5 0 0 0 0 0 0 tests passed, 5 5 0 0 0 0 0 failed

[2015-12-11 22:00] cmsbuild commented on #12761
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre3-slc7_amd64_gcc493/282
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-11 23:21] wmtan commented on #12691
@Dr15Jones PR #12763 solves this issue.

[2015-12-12 09:31] davidlange6 commented on #12761
release-notes

[2015-12-12 09:33] cmsbuild commented on #12761
Generating release notes since CMSSW_8_0_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-12 09:33] cmsbuild commented on #12761
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_0_0_pre3 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_pre3

Cheers,
cms-bot

You can also click <a href="mailt

[2015-12-12 09:35] davidlange6 commented on #12761
Thanks @smuzaffar

[2015-12-12 09:38] cmsbuild commented on #12761
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre3

[2015-12-12 10:03] cmsbuild commented on #12761
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre3/slc6_amd64_gcc493/550/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2015-12-12 10:25] cmsbuild commented on #12761
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre3/slc7_amd64_gcc493/551/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2015-12-12 20:18] cmsbuild commented on #12744
The cleanup has started for slc6_amd64_gcc491

[2015-12-12 20:18] #12744 closed

[2015-12-12 20:19] cmsbuild commented on #12744
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8-slc6_amd64_gcc491/240

[2015-12-13 08:48] cmsbuild commented on #12752
The cleanup has started for slc6_amd64_gcc493

[2015-12-13 08:48] cmsbuild commented on #12752
The cleanup has started for slc7_amd64_gcc493

[2015-12-13 08:48] #12752 closed

[2015-12-13 08:49] cmsbuild commented on #12752
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_3-slc6_amd64_gcc493/241

[2015-12-13 08:57] cmsbuild commented on #12752
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_3-slc7_amd64_gcc493/242

[2015-12-14 01:32] davidlange6 opened #12772 "Build CMSSW_7_5_8_patch1"
memory reduction fix for tier-0 HI processing

[2015-12-14 01:32] cmsbuild commented on #12772
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-14 01:33] davidlange6 commented on #12772
+1

[2015-12-14 01:33] cmsbuild commented on #12772
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2015-12-14 01:33] cmsbuild commented on #12772
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-12-14 01:35] cmsbuild commented on #12772
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/499/console
CMSDIST Branch: [REL/CMSSW_7_5_8/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_8/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-14 02:23] cmsbuild commented on #12772
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch1-slc6_amd64_gcc491/499
Some tes

[2015-12-14 02:49] cmsbuild commented on #12772
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch1-slc6_amd64_gcc491/499

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-14 04:16] davidlange6 commented on #12772
upload all

[2015-12-14 04:17] cmsbuild commented on #12772
Queing Jenkins upload for slc6_amd64_gcc491

[2015-12-14 04:17] cmsbuild commented on #12772
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/283/console

[2015-12-14 04:32] cmsbuild commented on #12772
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_8_patch1-slc6_amd64_gcc491/283
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-14 04:43] cmsbuild commented on #12772
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8_patch1/slc6_amd64_gcc491/552/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2015-12-14 08:33] cmsbuild commented on #12761
The cleanup has started for slc6_amd64_gcc493

[2015-12-14 08:33] cmsbuild commented on #12761
The cleanup has started for slc7_amd64_gcc493

[2015-12-14 08:33] #12761 closed

[2015-12-14 08:34] cmsbuild commented on #12761
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre3-slc6_amd64_gcc493/243

[2015-12-14 08:42] cmsbuild commented on #12761
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre3-slc7_amd64_gcc493/244

[2015-12-14 09:52] davidlange6 commented on #12772
release-notes

[2015-12-14 09:52] cmsbuild commented on #12772
Generating release notes since CMSSW_7_5_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-14 09:52] cmsbuild commented on #12772
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_8_patch1 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8_patch1

memory reduction fix for tier-0 HI processing

Cheers,
cms-bot

[2015-12-14 09:54] cmsbuild commented on #12772
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch1

[2015-12-14 19:02] wmtan commented on #12701
PR #12001 implemented the fix for issue #12233, which is a duplicate of this issue

[2015-12-16 01:12] davidlange6 opened #12803 "Build CMSSW_7_4_15_patch2"
Primary purpose of this release:
 - Include needed pileup scenario
 - In addition, analysis level improvements (e/gamma, b tag) are included

[2015-12-16 01:12] cmsbuild commented on #12803
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-16 01:18] davidlange6 commented on #12803
+1

[2015-12-16 01:19] cmsbuild commented on #12803
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_4_15_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_4_X

[2015-12-16 01:19] cmsbuild commented on #12803
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.