[2020-06-23 18:33] gartung commented on #30332
![image](https://user-images.githubusercontent.com/4292184/85442748-1e656d80-b556-11ea-8e7d-daf881fb0132.png)

[2020-06-23 18:34] gartung commented on #30332
![Screen Shot 2020-06-23 at 10 46 00 AM](https://user-images.githubusercontent.com/4292184/85442811-33420100-b556-11ea-9115-6926d513620a.png)

[2020-06-23 18:34] gartung commented on #30332
I didn'y realize you can copy paster an image into github comments.

[2020-06-23 18:35] gartung commented on #30331
![Screen Shot 2020-06-23 at 11 16 17 AM](https://user-images.githubusercontent.com/4292184/85443013-62f10900-b556-11ea-977e-10f4d07570af.png)

[2020-06-23 18:35] gartung commented on #30331
![Screen Shot 2020-06-23 at 11 20 05 AM](https://user-images.githubusercontent.com/4292184/85443047-6e443480-b556-11ea-802c-ffc3b0a0b526.png)

[2020-06-23 19:47] Dr15Jones commented on #30335
Fixed in #30347 and #30346

[2020-06-23 22:21] slava77 opened #30349 "add re-miniAOD workflow for HI 2018 data"
this is needed to support the planned miniAOD (re)processing of HI data (and MC).
Ideally, this should include all necessary validation and DQM setup

@mandrenguyen
It would be nice if someone from the HI community can make a PR for this.
I may be able to get to this soon, but will need a good reference file for testing; a pair of MC and data would be needed.

[2020-06-23 22:21] slava77 commented on #30349
assign reconstruction,pdmv

[2020-06-23 22:22] cmsbuild commented on #30349
New categories assigned: pdmv,reconstruction

@slava77,@chayanit,@wajidalikhan,@perrotta,@pgunnell you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-23 22:22] cmsbuild commented on #30349
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-23 22:27] srimanob commented on #30335
Thanks @Dr15Jones
@silviodonato PR #30346 should target for the next 11_1_0, thanks.

[2020-06-23 23:29] gartung commented on #30332
The type conversion is not the cause of the loop not being vectorized. The statement from Intel Advisor is shown in the cap below

![Screenshot from 2020-06-23 18-16-22](https://user-images.githubusercontent.com/4292184/85477209-76649a00-b57f-11ea-92f1-41aaca149216.png)

[2020-06-23 23:31] gartung commented on #30331
The actual statement from Intel Advisor below
![Screenshot from 2020-06-23 18-16-22](https://user-images.githubusercontent.com/4292184/85477297-add34680-b57f-11ea-9c4d-a198e1cfe259.png)

[2020-06-24 05:32] chayanit commented on #30324
@swozniewski I can't fix this locally. Please make PR and I can only check the production when PR is merged to new release.

[2020-06-24 05:45] mandrenguyen commented on #30349
@slava77 I can take care of that.   Incidentally, for data there is a issue related to the reMiniAOD of 10_3_X data in 11_2.  It seems puppi was moved to reco, such that the miniAOD in 11_2 looks for the products.  Probably not a hard fix, but we should probably make a decision about whether the reMiniAOD will happen in 11_2 or whether we would like to backport the HI miniAOD stuff into CMSSW 10.

[2020-06-24 11:21] slava77 commented on #30349
I still expect that we can support remini in the master.
The puppi parts can be remade similar to other re-miniAOD workflows.

I understood that the 10_6_X is preferred for the actual production because the (ultra) legacy remini is done there.
Even though in this case there is no match in the base release, I guess the point is that you would still be better off to be able to also potentially use t

[2020-06-24 11:51] swozniewski commented on #30324
Ok, sure. I think the problem here is rather clear. Would have only been nice to see that nothing else pops up.

[2020-06-24 15:18] Dr15Jones opened #30359 "Job crash in ROOT 6.22 IBs"
[code]

[2020-06-24 15:18] cmsbuild commented on #30359
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-24 15:19] Dr15Jones commented on #30359
This issue is intended to follow any crashes that happen in ROOT 6.22 IBs

[2020-06-24 15:20] Dr15Jones commented on #30359
@pcanal

[2020-06-24 15:20] Dr15Jones commented on #30359
assign core

[2020-06-24 15:20] cmsbuild commented on #30359
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-24 15:36] pcanal commented on #30359
Is this reproducible?

[2020-06-26 12:33] slava77 opened #30426 "switch on bad HCAL PF recovery by default (pf_badHcalMitigation)"
pf_badHcalMitigation is used in 2018 data processing, added manually https://twiki.cern.ch/twiki/bin/view/CMS/PdmVDataReprocessingUL2018

At least via 2018, it was also validated to be OK for physics.
There was some discussion (and tentative agreement?) to use badHcalMitigation by default.

I propose to enable this globally and swap pf_badHcalMitigation with pf_badHcalMitigationOff.
However, there

[2020-06-26 12:34] cmsbuild commented on #30426
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-26 12:34] slava77 commented on #30426
assign reconstruction

[2020-06-26 12:34] cmsbuild commented on #30426
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-26 18:05] Dr15Jones opened #30432 "Problem with mxnet on CC8"
Running workflows on CC8 which usie mxnet where the jobs use multilple threads leads to a crash at the end of the job. This can sometimes be reproduced when running under the gdb which yields the following traceback
[code]
One question, has the libmxnet.so shared library already been unloaded from the process before this happened?

[2020-06-26 18:06] Dr15Jones commented on #30432
assign core

[2020-06-26 18:06] cmsbuild commented on #30432
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-26 18:06] cmsbuild commented on #30432
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-26 18:16] makortel commented on #30432
FYI @vlimant @gkasieczka @riga (I don't know Mia's GitHub handle)

[2020-06-26 18:47] slava77 commented on #30432
@hqucms

[2020-06-26 21:15] hqucms commented on #30432
We could probably drop MXNet in the near future -- currently only the ParticleNet tagger is using it, but I have managed to move it to ONNXRuntime recently.

[2020-06-26 22:15] slava77 commented on #30332
by now it looks like we cleared on the mattermost chat that the issue here is with the conditionals

the current loop
[code]

[2020-06-26 22:16] slava77 commented on #30332
@werdmann
how often is the following true in this part of the code?

[2020-06-26 22:18] gartung commented on #30332
see https://github.com/cms-sw/cmssw/pull/30437

[2020-06-27 23:56] makortel commented on #30432
@hqucms Thanks for the update. Does that imply that we could fully remove MXNet, or that we're good until someone wants to add a module using MXNet for inference?

[2020-06-29 08:40] vlimant commented on #30432
adding Mia @mialiu149 too

[2020-06-29 14:28] hqucms commented on #30432
@makortel I think there is a high chance that we could fully remove MXNet as most of the MXNet models can be exported to ONNX either using the existing conversion tool (that's what happened for DeepAK8) or by hand (that's what we did for ParticleNet). Exceptions may exist, but I am not sure if we have to worry about them also given the very limited usage of MXNet (up to now DeepAK8/ParticleNet has

[2020-06-29 14:41] makortel commented on #30266
With this change I would also rename the `ScopedContext*` to just `Context*`, because the destruction is now handled by the base class and thus the `Scoped` would not add much useful information in the type name.

[2020-06-29 16:25] cvuosalo commented on #30298
#30292 has been merged, and the unit tests have been fixed.

[2020-06-29 16:25] cvuosalo commented on #30298
+1

[2020-06-29 16:26] cmsbuild commented on #30298
This issue is fully signed and ready to be closed.

[2020-06-29 17:38] #30298 closed

[2020-06-30 08:00] fwyzard opened #30463 "proposal: add printf-like interface to MessageLogger"
Following the exchanges during the review of various PRs, I propose to add a `printf`-like interface to the MEssageLogger.

My original idea was along the lines of
[code]

@gpetruc suggests
[code]
which indeed seems more in line with the MessageLogger approach.

A simple implementation could reuse an existing string formatting library - for example https://github.com/c42f/tinyformat :
[code]

[2020-06-30 08:00] fwyzard commented on #30463
assign core

[2020-06-30 08:00] cmsbuild commented on #30463
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-30 08:00] cmsbuild commented on #30463
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-30 08:21] davidlange6 commented on #30463
Not commenting on the specific syntax, but if it doesn’t make the message logger easier to configure by developers/users at runtime, then why should we expect more adoption?

On Jun 30, 2020, at 10:00 AM, Andrea Bocci <notifications@github.com<mailto:notifications@github.com>> wrote:

Following the exchanges during the review of various PRs, I propose to add a printf-like interface to the MEssageL

[2020-06-30 08:36] fwyzard commented on #30463
IMHO the MessageLogger has (at least) three issues
  - the `cout`-based vs `printf`-based syntax: as we have seen in the recent PRs, the latter can be much more expressive when dealing with numerical formatting; some people simply are more accustomed to it;
  - the proliferation of categories and the confusion between categories vs module types vs module labels
  - the run time configuration mess

[2020-06-30 08:42] davidlange6 commented on #30463
Yea, exactly. I experience was that the last of these was the primary blocker that led to #ifdef DEBUG being common practice...I guess I’d suggest that a plan to solve the full problem is perhaps useful before investing time in this particular implementation of a message logging service.

On Jun 30, 2020, at 10:36 AM, Andrea Bocci <notifications@github.com<mailto:notifications@github.com>> wrote:

[2020-06-30 09:41] fwyzard commented on #30463
Given that the first issue is completely orthogonal to the other two, that it was raised by multiple developers in just the last few months, and that it likely has a much simpler technical solution that the other ones - why should we not address it ?

[2020-06-30 10:18] davidlange6 commented on #30463
Why not indeed - who am I to discourage enthusiastic message logger developers - but I’d be pessimistic about it actually resulting in an increased usage (on its own)

On Jun 30, 2020, at 11:41 AM, Andrea Bocci <notifications@github.com<mailto:notifications@github.com>> wrote:

Yea, exactly. I experience was that the last of these was the primary blocker that led to #ifdef DEBUG being common pract

[2020-06-30 13:25] makortel commented on #30463
Given that C++20 adds `std::format()`, I'd rather go with something compatible with that (so that it can be eventually removed). Apparently [there is no support in the horizon in any of the `std` implementations](https://en.cppreference.com/w/cpp/compiler_support#cpp20), so that would mean going with https://github.com/fmtlib/fmt (that the `std::format()` appears to be based on).

After a quick ch

[2020-06-30 13:41] fwyzard commented on #30463
While I am not against using a different formatting library, I would suggest a quick poll with users before choosing something else over the `printf` syntax.

[2020-06-30 13:57] gpetruc commented on #30463
in terms of library, fmt seems to support the printf syntax.

Regarding the point from @davidlange6 , at least if the format matches that of printf people can more easily replace any printf's introduced and used during development to MessageLogger when bringing the code back to the release (now it's easy for std::cout but not for printf)

[2020-06-30 15:58] makortel commented on #30432
@hqucms Thanks for the clarifications. Do you have any idea how soon the ParticleNet could be moved to ONNXRuntime?

[2020-06-30 16:46] hqucms commented on #30432
@makortel I can probably make a PR this week or next.

[2020-06-30 22:15] wddgit commented on #29558
I am planning to start looking at this fallback parameter issue tomorrow (related to reading conditions from a file). If there is any new information that would help me, please let me know. For example, if someone else is already working on it or if there are already ideas on exactly what criteria I should use to decide whether to fallback, or anything else is already known that would guide me to

[2020-07-01 09:24] hernand commented on #29558
Thanks for looking into this. From my side there is nothing new. Regarding the fallback, I guess some naming convention for the filepath/filename should be established. It could be as simple as looking for a file named conditions.sql in the CWD, but I guess there should be an option to be able to specify filepath/filename. Modifiying an existing pset is not an option for our use case (that would m

[2020-07-01 12:52] makortel commented on #29558
The file name should be taken from configuration as tracked `string` (as outlined in https://github.com/cms-sw/cmssw/issues/29558#issuecomment-619053907). I think the value to be used in production is outside of the scope of implementing the feature (as far as `core` is concerned), and is something to be agreed when defining the configurations of the campaigns. I'd much prefer to avoid any further

[2020-07-01 13:36] makortel commented on #25090
Updating the list of modules preventing (efficient use of) concurrent lumi blocks from workflow 1361.181 in CMSSW_11_2_X_2020-06-30-2300

step3
[code]

step5 is now clean

[2020-07-01 13:42] slava77 commented on #25090
it's worth to add a heavy-ions workflow to this check.
E.g. 158.0

[2020-07-01 13:49] makortel commented on #25090
Thanks for the suggestion, I'll look into it.

[2020-07-01 14:06] jfernan2 commented on #25090
We (DQM) have been pinging "weekly" the corresponding DQM developers and DPG conveners since several months about this issue.
I do not know the CMSSW release plans concerning this, but at some point , if you think it is needed, we may disable those modules with https://github.com/cms-sw/cmssw/pull/30111  and wait for a posteriori fix from the developers at their own pace.

FYI: @tanmaymudholkar  @

[2020-07-01 14:20] slava77 commented on #25090
the reason I brought this up is that at least one legacy module was recently found in the (2018 setup of) HI reco. So, I wouldn't be surprised that there are more.

[2020-07-01 14:24] hernand commented on #29558
ok, if the tracked string for the filepath/filename is set by production up front, it should be fine. In any case, I think it would be convenient to set a default value in case the parameter is not specified  (e.g. my suggestion ./conditions.sql). This would allow using the fallback mechanism before the fallback parameter is added to the config file of the production campaigns.

[2020-07-01 16:15] Dr15Jones opened #30487 "FastGenParticleCandidateProducer does not exist"
The generator step imports PhysicsTools/HepMCCandAlgos/python/genParticleCandidates_cfi.py which uses a module named `FastGenParticleCandidateProducer`. That name does not appear anywhere else in CMSSW. The module label `genParticleCandidates` does appear elsewhere in various python files but it is never associated with any other module type.

It appears that all uses of `genParticleCandidates` sh

[2020-07-01 16:15] cmsbuild commented on #30487
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-01 16:16] Dr15Jones commented on #30487
assign analysis

[2020-07-01 16:16] cmsbuild commented on #30487
New categories assigned: analysis

@santocch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-01 17:42] silviodonato opened #30490 "RelVals failure in CMSSW_11_2_X_2020-07-01-1300"
We are having many failures in relvals. The reason is that I forgot to merge https://github.com/cms-data/L1Trigger-L1TMuon/pull/18 together with cms-sw/cmssw#30363.
The problems should be fixed in the next IB.

[code]

[2020-07-01 17:42] cmsbuild commented on #30490
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-01 17:45] smuzaffar commented on #30490
If every thing is merged then I can start a new IB now

[2020-07-01 17:48] silviodonato commented on #30490
I merged https://github.com/cms-sw/cmsdist/pull/6014 so the problem should be fixed now. About the phase-2 L1T PR we are still working on it.

[2020-07-01 19:26] makortel commented on #25090
Done in https://github.com/cms-sw/cmssw/pull/30492. By quick look there are indeed some more modules to be addressed

step1
[code]
This is `edm::GeneratorFilter<gen::HydjetHadronizer, gen::ExternalDecayDriver>`

step2
[code]
legacy module

step 3
[code]
`CentralityProducer` is legacy module, `SiPixelStatusProducer` is `edm::one::EDProducer<edm::EndLuminosityBlockProducer, edm::one::WatchLuminosity

[2020-07-01 19:29] kpedro88 commented on #25090
I suspect `CentralityProducer` can be upgraded to `global` with very little work.

[2020-07-01 19:57] makortel opened #30493 "Support for std::array event products"
Current `std::array<T, N>` products can not be put into the event because framework complains from missing dictionary. `std::array` is one of those types that ROOT handles internally without an explicit dictionary. Our current check (or one of them)
https://github.com/cms-sw/cmssw/blob/b0ddd4e29c3f1b1e04ce77cdb7d49d15098f46b1/FWCore/Reflection/src/TypeWithDict.cc#L808-L815
handles built-in types a

[2020-07-01 19:58] makortel commented on #30493
assign core

[2020-07-01 19:58] cmsbuild commented on #30493
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-01 19:58] cmsbuild commented on #30493
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-01 19:58] makortel commented on #30493
@pcanal suggested to look into `TClass::GetMissingDictionaries()` or `TDictionary::GetDictionary()`.

[2020-07-02 02:06] slava77 commented on #30349
+1

resolved by #30354

[2020-07-02 02:06] #30349 closed

[2020-07-02 15:06] wddgit opened #30504 "Improve streamTransitionAsync.h"
Apply the improvements done in globalTransitionAsync in PR #30117 also to streamTransitionAsync.h. In particular, this is related using TransitionInfo type objects as arguments to simplify the interface.

Also consider using the TransitionInfo objects or some other mechanism to improve the interface to Schedule::ProcessOneGlobalAsync in a similar way. Among other things, it is not nice that we hav

[2020-07-02 15:06] cmsbuild commented on #30504
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-02 15:13] makortel commented on #30504
assign core

[2020-07-02 15:13] cmsbuild commented on #30504
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-02 19:15] makortel commented on #30493
Mostly to document for myself. I replaced
https://github.com/cms-sw/cmssw/blob/cea1d1bc4aa7b376b68eb70a34cfb4c7184f438b/FWCore/Reflection/src/TypeWithDict.cc#L808-L815
with
[code]
after which my test failed with
[code]

That exception is thrown from
https://github.com/cms-sw/cmssw/blob/cea1d1bc4aa7b376b68eb70a34cfb4c7184f438b/FWCore/Framework/src/one/OutputModuleBase.cc#L147-L150
where the `checkD

[2020-07-02 20:33] tsusa opened #30512 "Removal of Phase 2 Tracker geometries: T6, T14, T16, T17, T19, T20"
At the moment, there are eight different Phase 2 Tracker geometries in the CMSSW (https://github.com/cms-sw/cmssw/blob/master/Configuration/Geometry/README.md).

Several geometries are kept for the reproducibility of previous results presented in different TDRs. Due to the overhead in maintaining the conditions for different layouts, we would like to remove several Tracker geometries.

After discu

[2020-07-02 20:33] cmsbuild commented on #30512
A new Issue was created by  @tsusa Tatjana Susa.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-02 22:41] slava77 commented on #29373
@pcanal
please let me know if there were updates on this issue.
Thank you.

[2020-07-02 23:09] slava77 commented on #29129
@jmduarte
tagging you here, since your developments are affected by this as well

[2020-07-03 00:00] makortel commented on #30512
assign geometry, upgrade

[2020-07-03 00:00] cmsbuild commented on #30512
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-03 03:23] kpedro88 commented on #30512
@tsusa I applaud the initiative in cleaning up geometries. However, at the moment, this has to be approached with some care.

In particular, we cannot remove T15 any time soon. It is used for the HLT TDR, for which production is still ongoing. Though the new production is not planning to use 11_2_X (current development cycle), relevant PRs are still being backported to 11_1_X. Those PRs need to be

[2020-07-03 09:27] silviodonato commented on #30490
The problems have been fixed

[2020-07-03 09:27] #30490 closed

[2020-07-03 12:52] tsusa commented on #30512
@kpedro88   I agree that it needs to be done carefully; we open the issue for that reason. We would like to remove as many  layouts as possible, however the most critical is T6, as it causes issue in the L1 tracking integration.

[2020-07-03 13:44] makortel opened #30529 "Printouts from mxnet about upgrade attempt"
I noticed strange printouts from mxnet in recent IBs
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-07-02-2300/pyRelValMatrixLogs/run/11634.0_TTbar_14TeV+TTbar_14TeV_TuneCP5_2021_GenSimFullINPUT+DigiFull_2021+RecoFull_2021+HARVESTFull_2021+ALCAFull_2021/step3_TTbar_14TeV+TTbar_14TeV_TuneCP5_2021_GenSimFullINPUT+DigiFull_2021+RecoFull_2021+HARVESTFull_2021+A

[2020-07-03 13:44] cmsbuild commented on #30529
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-03 13:44] makortel commented on #30529
assign core

[2020-07-03 13:45] cmsbuild commented on #30529
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-03 13:45] makortel commented on #30529
FYI  @vlimant @gkasieczka @riga @mialiu149 @hqucms

[2020-07-03 13:54] slava77 commented on #30529
IIRC, these happen every time we have an update
a fix is apparently something like in
https://github.com/cms-data/RecoBTag-Combined/pull/24/files
This is at least for cases where the format changes are compatible

[2020-07-03 18:19] mrodozov commented on #30529
https://github.com/apache/incubator-mxnet/blob/ab4f7f6a7335e88034edcf61402aec170cdca5fd/src/nnvm/legacy_json_util.cc#L187-L220

looks straightforward if one knows what this
`Graph UpgradeJSON_000800_000900(Graph g)`
types are.

[2020-07-03 19:35] silviodonato opened #30533 "Build CMSSW_11_1_0"

[2020-07-03 19:36] cmsbuild commented on #30533
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-03 19:36] silviodonato commented on #30533
build cmssw-tool-conf

[2020-07-03 19:36] cmsbuild commented on #30533
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_ppc64le_gcc820, cc8_amd64_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-07-03 19:38] cmsbuild commented on #30533
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2459/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-03 19:38] cmsbuild commented on #30533
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2458/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-03 19:39] cmsbuild commented on #30533
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2460/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-03 21:24] cmsbuild commented on #30533
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2461/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-03 21:55] cmsbuild commented on #30533
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_ppc64le_gcc820/2460

[2020-07-03 21:56] cmsbuild commented on #30533
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_amd64_gcc820/2459

[2020-07-03 22:11] cmsbuild commented on #30533
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-cc8_amd64_gcc8/2458

[2020-07-03 23:42] cmsbuild commented on #30533
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_aarch64_gcc820/2461

[2020-07-04 01:31] makortel commented on #30529
Thanks @slava77. So, in principle at every mxnet update we should also update all models? On the other hand, given that in #30432 we're discussing dropping mxnet, I'm wondering if we could get away by just waiting for that to happen?

[2020-07-04 08:31] silviodonato opened #30538 "Exception in workflow 27834.0. HGCalTriggerGeometry: Wafer is not mapped to any trigger module"
In workflow `27834.0_TTbar_14TeV+TTbar_14TeV_TuneCP5_2026D59_GenSimHLBeamSpotFull14+DigiFullTrigger_2026D59+RecoFullGlobal_2026D59+HARVESTFullGlobal_2026D59`,
we get the following exception since CMSSW_11_2_X_2020-07-03-1200 (see https://github.com/cms-sw/cmssw/pull/30442)
[code]
@bsunanda @jbsauvan

[2020-07-04 08:31] silviodonato commented on #30538
assign geometry

[2020-07-04 08:31] silviodonato commented on #30538
assign upgrade

[2020-07-04 08:31] cmsbuild commented on #30538
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-04 08:31] cmsbuild commented on #30538
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-04 08:52] silviodonato opened #30539 "ProductNotFound (simEcalEBTriggerPrimitiveDigis) in wf 20634.99"
After having turned on the new Phase-2 L1T package (`CMSSW_11_2 2020-07-02-2300`, #30498, #30479) we are getting an exception in 20634.99:
[code]

[2020-07-04 08:52] silviodonato commented on #30539
assign l1

[2020-07-04 08:52] silviodonato commented on #30539
assign upgrade

[2020-07-04 08:52] cmsbuild commented on #30539
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-04 08:52] cmsbuild commented on #30539
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-04 09:21] silviodonato opened #30540 "Build CMSSW_10_6_14_Pyt8240BugFix"

[2020-07-04 09:21] cmsbuild commented on #30540
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-04 09:22] silviodonato commented on #30540
+1

[2020-07-04 09:22] cmsbuild commented on #30540
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_14_Pyt8240BugFix. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-07-04 09:22] cmsbuild commented on #30540
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-07-04 09:28] silviodonato commented on #30533
+1

[2020-07-04 09:28] cmsbuild commented on #30533
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-04 09:28] cmsbuild commented on #30533
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-04 09:35] jbsauvan commented on #30538
Originally this exception was put in place because the different HGCAL geometries were completely different between each other and trigger modules and links mappings for one geometry couldn't be used for the other geometries.

But now that things converge, this exception could be removed. We have mappings for the V11 geometry which can be used at first order for >V11 geometries. So instead of thro

[2020-07-04 10:04] cmsbuild commented on #30540
The build has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2462/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-04 10:06] cmsbuild commented on #30540
The build has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2463/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-04 10:10] cmsbuild commented on #30533
The build has started for cc8_amd64_gcc8 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2464/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-04 10:12] cmsbuild commented on #30533
The build has started for slc7_amd64_gcc820 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2465/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-04 10:20] cmsbuild commented on #30533
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2466/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-04 10:50] cmsbuild commented on #30533
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2467/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-04 12:15] silviodonato commented on #30539
The problem is related to this line
https://github.com/cms-sw/cmssw/blob/master/Configuration/StandardSequences/python/DigiDM_cff.py#L43
(https://github.com/cms-sw/cmssw/pull/23065)

The offending `cmsDriver.py` command is
`step3 --datamix PreMix --conditions auto:phase2_realistic_T14 --pileup_input file:step2.root -n 10 --era Phase2C8 --eventcontent FEVTDEBUGHLT --procModifiers premix_stage2 --fi

[2020-07-04 13:01] cmsbuild commented on #30533
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_ppc64le_gcc820/2466
Some test

[2020-07-04 13:10] cmsbuild commented on #30533
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-cc8_amd64_gcc8/2464
Some tests ( runThe

[2020-07-04 13:31] cmsbuild commented on #30533
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_aarch64_gcc820/2467
Some test

[2020-07-04 13:51] cmsbuild commented on #30533
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-cc8_amd64_gcc8/2464

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-04 14:07] cmsbuild commented on #30533
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_ppc64le_gcc820/2466

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-04 14:13] cmsbuild commented on #30533
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_amd64_gcc820/2465
Some tests (

[2020-07-04 14:34] cmsbuild commented on #30533
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_aarch64_gcc820/2467

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-04 14:53] cmsbuild commented on #30533
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0-slc7_amd64_gcc820/2465

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-04 16:10] cmsbuild commented on #30540
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_14_Pyt8240BugFix-slc7_amd64_gcc820/246

[2020-07-04 16:49] cmsbuild commented on #30540
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_14_Pyt8240BugFix-slc7_amd64_gcc820/2463

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-04 16:50] cmsbuild commented on #30540
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_14_Pyt8240BugFix-slc7_amd64_gcc700/246

[2020-07-04 17:01] kpedro88 commented on #30538
@jbsauvan that would certainly make development easier, if it won't cause problems for the trigger. We may want to continue to emit a warning (rather than an exception) to keep track of cases where the map could still be updated.

[2020-07-04 17:17] kpedro88 commented on #30539
@makortel FYI

I think the input tag needs to be customized to `DMEcalEBTriggerPrimitiveDigis` using the `premix_stage2` modifier

[2020-07-04 17:31] cmsbuild commented on #30540
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_14_Pyt8240BugFix-slc7_amd64_gcc700/2462

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-04 18:31] bsunanda commented on #30538
I think it is more appropriate to issue warnings rather than exception. HGCal geometry is still on development path. Throwing exception slows down the development process.

[2020-07-04 19:45] silviodonato commented on #30533
upload all

[2020-07-04 19:45] silviodonato commented on #30540
upload all

[2020-07-04 19:46] cmsbuild commented on #30533
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-04 19:46] cmsbuild commented on #30533
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-04 19:46] cmsbuild commented on #30533
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-04 19:46] cmsbuild commented on #30533
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-04 19:46] cmsbuild commented on #30540
Queing Jenkins upload for slc7_amd64_gcc700

[2020-07-04 19:46] cmsbuild commented on #30540
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-04 19:47] cmsbuild commented on #30533
The upload has started for slc7_amd64_gcc820 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1582/console

[2020-07-04 19:47] cmsbuild commented on #30533
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1581/console

[2020-07-04 19:47] cmsbuild commented on #30533
The upload has started for cc8_amd64_gcc8 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1580/console

[2020-07-04 19:48] cmsbuild commented on #30533
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0-cc8_amd64_gcc8/1580

[2020-07-04 19:48] cmsbuild commented on #30533
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1583/console

[2020-07-04 19:49] cmsbuild commented on #30533
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0-slc7_aarch64_gcc820/1581

[2020-07-04 19:49] cmsbuild commented on #30540
The upload has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1584/console

[2020-07-04 19:49] cmsbuild commented on #30540
The upload has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1585/console

[2020-07-04 19:49] cmsbuild commented on #30533
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0-slc7_amd64_gcc820/1582

[2020-07-04 19:49] cmsbuild commented on #30533
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0-slc7_ppc64le_gcc820/1583

[2020-07-04 19:50] jbsauvan commented on #30538
I have made the change in #30541

[2020-07-04 19:50] cmsbuild commented on #30540
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_14_Pyt8240BugFix-slc7_amd64_gcc820/1585

[2020-07-04 19:51] cmsbuild commented on #30540
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_14_Pyt8240BugFix-slc7_amd64_gcc700/1584

[2020-07-04 19:57] silviodonato commented on #30540
release-notes

[2020-07-04 19:57] silviodonato commented on #30533
release-notes

[2020-07-04 19:58] cmsbuild commented on #30533
Generating release notes since CMSSW_11_1_0_pre8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-04 19:58] cmsbuild commented on #30533
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_0 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_0_pre8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0

Cheers,
cms-bot

You

[2020-07-04 19:59] cmsbuild commented on #30533
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0

[2020-07-04 20:19] silviodonato commented on #30540
release-notes since CMSSW_10_6_13

[2020-07-04 20:21] cmsbuild commented on #30540
Generating release notes since CMSSW_10_6_13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-04 20:21] cmsbuild commented on #30540
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_14_Pyt8240BugFix is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_14_Pyt8240BugFix

Cheers,
cms-bot

You can also cl

[2020-07-04 20:21] cmsbuild commented on #30540
Generating release notes since CMSSW_10_6_13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-04 20:21] cmsbuild commented on #30540
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_14_Pyt8240BugFix is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_14_Pyt8240BugFix

Cheers,
cms-bot

You can also cl

[2020-07-04 20:22] cmsbuild commented on #30540
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_14_Pyt8240BugFix

[2020-07-04 20:22] cmsbuild commented on #30540
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_14_Pyt8240BugFix

[2020-07-05 07:56] #30533 closed

[2020-07-05 07:57] #30540 closed

[2020-07-05 17:30] makortel commented on #30539
By quick look I agree (alternative would be to take a step towards resolving https://github.com/cms-sw/cmssw/issues/26001, but that would require larger re-engineering).

[2020-07-06 12:36] saghosh commented on #30304
Hello, thank you.
For more details about the issue and resolution and the verification of it, please see the slides linked below
https://indico.cern.ch/event/924615/contributions/3885484/attachments/2049952/3435787/Pre_EPR_MET_June3.pdf

[2020-07-06 13:58] smuzaffar commented on #30432
I tried to debug it a bit and it fails here
https://github.com/dmlc/dmlc-core/blob/0e13243556d7de754a923c8f97998721d694f29b/include/dmlc/thread_local.h#L58
during the end of job. Note that is is failing for CentOS8/AMD64 , SLC7/PowerPC and SLC7/AARCH64. On SLC7/AMD64 (with gcc8 , 9 and 10) its does not crash.

[2020-07-06 14:03] Dr15Jones commented on #30432
@smuzaffar if you want to debug any further, I'd suggest putting a break point there and seeing if the same object is called multiple times. Another possible issue is the shared library containing the code is unloaded before the destructor is called? That seems unlikely but could happen.

[2020-07-06 14:03] makortel commented on #30432
Does that mean that here
https://github.com/dmlc/dmlc-core/blob/0e13243556d7de754a923c8f97998721d694f29b/include/dmlc/thread_local.h#L39-L49
we use the `#else` block? (IIUC the use of `#if` block would leave `data_` to be empty) If that is really the case, would we have a way to enable `DMLC_CXX11_THREAD_LOCAL && DMLC_MODERN_THREAD_LOCAL == 1`?

[2020-07-06 14:05] smuzaffar commented on #30432
@makortel , I check and no we are not using the `else` block.

[2020-07-06 14:06] Dr15Jones commented on #30432
What is the full traceback of the crash?

[2020-07-06 14:07] smuzaffar commented on #30432
@Dr15Jones stack trace is same as you have mentioned

[2020-07-06 14:10] Dr15Jones commented on #30432
How about doing an strace on the job to see if the shared library is unloaded early?

[2020-07-06 14:14] smuzaffar commented on #30432
ok @Dr15Jones  I will try that I am not sure if one can unload a library for linux OS.

[2020-07-06 14:15] makortel commented on #30432
Ok, thanks. I'm puzzled how the `ThreadLocalStorage::data_` can have any elements then. Would you be able to check how many elements `data_` has in this case?

[2020-07-06 16:02] Dr15Jones opened #30560 "PixelRecoUtilities needs to be reworked to support EventSetup consumes"
The PixelRecoUtilities takes an EventSetup in order to get access to the magnetic field (which it then caches in a function local `static`). This needs to be changed in order to accomodate specifying the consumes of the EventSetup. The most straight-forward way to proceed would be to change the code to take the MagneticField directly instead of passing down the EventSetup. Then it becomes the resp

[2020-07-06 16:02] cmsbuild commented on #30560
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-06 16:05] smuzaffar commented on #30432
you are right @makortel , we are ended up in `else` block, gdb show the following

[code]

what I did was to use build [a] in cmssw env and runing this shows the condition is true
[code]

[a]
[code]

[2020-07-06 16:14] Dr15Jones commented on #30560
assign reconstruction

[2020-07-06 16:15] cmsbuild commented on #30560
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-06 16:24] slava77 commented on #30560
@VinInn
at least a part of the original change was yours
https://github.com/cms-sw/cmssw/commit/df6b957cf54e79155e938be78e32cf389be37bba#diff-40e1ccc149b11611cde767c194141616

Please comment if the proposed solution would be OK

@mtosi @JanFSchulte @vmariani

[2020-07-06 16:32] VinInn commented on #30560
These utilities where already obsolete at the time of my modifications.
The problem is similar, but simpler as limited to 0,0,0, to what already discussed for the mag field cache for Geant4.
we just need a global variable, accessible from everywhere at no cost, that return the nominal mag field...

[2020-07-06 18:41] smuzaffar commented on #30432
OK problem is that mxnet CMAKE forces to disable DMLC_MODERN_THREAD_LOCAL ( https://github.com/cms-externals/incubator-mxnet/blob/1.6.0/CMakeLists.txt#L120 ) this is why https://github.com/cms-externals/incubator-mxnet/blob/1.6.0/src/resource.cc#L458 ends up in `else` block here https://github.com/dmlc/dmlc-core/blob/0e13243556d7de754a923c8f97998721d694f29b/include/dmlc/thread_local.h#L39 . Updati

[2020-07-06 18:48] makortel commented on #30432
Thanks @smuzaffar. I'm not sure what to take from the comment preceding the `DMLC_MODERN_THREAD_LOCAL` definition
https://github.com/cms-externals/incubator-mxnet/blob/1.6.0/CMakeLists.txt#L119
that points to
https://github.com/dmlc/dmlc-core/issues/571#issuecomment-543467484
specifically

[2020-07-06 19:03] smuzaffar commented on #30432
I am also not sure, they explain it a bit here https://github.com/apache/incubator-mxnet/pull/16526 .

[2020-07-07 11:13] davidlange6 opened #30570 "Missing dictionaries from L1T developments"
The modules build suggests we miss a dictionary for

Fatal Root Error: @SUB=TStreamerInfo::Build
pair<edm::Ptr<TrackingParticle>,vector<edm::Ref<edmNew::DetSetVector<TTCluster<edm::Ref<edm::DetSetVector<Phase2TrackerDigi>,Phase2TrackerDigi,edm::refhelper::FindForDetSetVector<Phase2TrackerDigi> > > >,TTCluster<edm::Ref<edm::DetSetVector<Phase2TrackerDigi>,Phase2TrackerDigi,edm::refhelper::FindForDe

[2020-07-07 11:13] cmsbuild commented on #30570
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-07 12:14] Dr15Jones commented on #30570
edm::Ptr is a templated class. What is the template argument for the missing type?

[2020-07-07 12:17] davidlange6 commented on #30570
Oh strange - my text got mangled.

[code]

Lets see if this is better.

On Jul 7, 2020, at 2:14 PM, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

edm::Ptr is a templated class. What is the template argument for the missing type?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/iss

[2020-07-07 12:49] makortel commented on #30570
The error itself looks similar to https://github.com/cms-sw/cmssw/pull/30510#issuecomment-653185215. I'm wondering why we see these errors in ROOT's `TStreamerInfo::Build` instead of e.g. framework's `produce<T>()`.

[2020-07-07 12:50] makortel commented on #30570
assign l1,upgrade

[2020-07-07 12:50] cmsbuild commented on #30570
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-07 15:56] silviodonato opened #30578 "Build CMSSW_10_6_14"

[2020-07-07 15:56] cmsbuild commented on #30578
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-07 15:57] silviodonato commented on #30578
+1

[2020-07-07 15:57] cmsbuild commented on #30578
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_14. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-07-07 15:57] cmsbuild commented on #30578
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-07-07 15:59] cmsbuild commented on #30578
The build has started for slc7_amd64_gcc700 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2468/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-07 16:05] cmsbuild commented on #30578
The build has started for slc7_amd64_gcc820 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2469/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-07 17:13] wddgit commented on #29558
In CondDBESSource, it is possible to override the global tag or add additional entries in the tag collection using a vector<ParameterSet> in the configuration. The parameter name of this vector is "toGet". Each entry in the vector overrides for a particular record and label. And those overrides also allow overriding the connection string for that record and label. If the fallback connection string

[2020-07-07 18:44] Dr15Jones opened #30583 "ASAN problem found in L1TPFCaloProducer"
In the CMSSW_11_2_ASAN_X_2020-07-07-0900 IB the following problem was uncovered

[code]

[2020-07-07 18:45] Dr15Jones commented on #30583
assign l1

[2020-07-07 18:45] cmsbuild commented on #30583
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-07 18:45] cmsbuild commented on #30583
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-07 18:48] Dr15Jones commented on #30583
The problem is at line 37

https://github.com/cms-sw/cmssw/blob/9e8441dac7ded216e0a1b33d29ac0f969c299de9/L1Trigger/Phase2L1ParticleFlow/src/CaloClusterer.cc#L29-L37

the problem is `absie == nEta_` and `nEta_` is the size of `towerEtas_` which means the code reads 1 address off the end of `towerEtas_` .

I confirmed this by adding
`assert(absie>0); assert(absie< nEta_);` to line 36 and the second

[2020-07-07 19:00] Dr15Jones commented on #30583
This code was from #30256

[2020-07-07 19:01] Dr15Jones commented on #30583
@rekovic FYI

[2020-07-07 19:20] cmsbuild commented on #30578
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_14-slc7_amd64_gcc820/2469
Some tests (

[2020-07-07 20:00] cmsbuild commented on #30578
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_14-slc7_amd64_gcc820/2469

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-07 20:05] cmsbuild commented on #30578
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_14-slc7_amd64_gcc700/2468
Some tests (

[2020-07-07 20:45] cmsbuild commented on #30578
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_14-slc7_amd64_gcc700/2468

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-07 22:42] wddgit commented on #29558
I have a very rough draft for this here:

https://github.com/wddgit/cmssw/commit/983cfd2d468dbdda9febd3e127f11b18e7ac4d63

The code is not really that hard. The difficulty lies in deciding exactly what behavior we want. Any comments would be appreciated. This is not tested yet (might still have dumb bugs in it). Does anyone have a recipe for a test where I could test the fallback behavior? Or does

[2020-07-07 23:16] makortel commented on #29558
Thanks @wddgit for the good questions. Given that the `toGet.connect` is tracked (despite of [SWGuideFrontierConditions](https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideFrontierConditions#Customization_of_Global_Tags) claiming "the connect string is untracked") I _think_ some kind of override mechanism is needed for those connection settings. Then thinking out loud

If GlobalTag is customize

[2020-07-07 23:20] makortel commented on #29558
@ggovi @hernand Would either of you be able to help with testing?

I would start without a default fallback. I can not think of any sensible default value for the fallback connection string.

I would leave the `fillDescriptions()` for a separate exercise.

@ggovi Could you comment?

[2020-07-07 23:21] makortel commented on #30432
Hi @hqucms, would you happen to have any news yet?

[2020-07-08 06:28] davidlange6 opened #30586 "Duplicate GEMVfatStatusDigi in cmssw"
we have two, which differ GEMVfatStatusDigi implementations in CMSSW. One in DataFormats/GEMDigi (unused at this moment) and one in EventFilter/GEMRawToDigi. Perhaps other classes are duplicated between these packages. Could this be cleaned up asap?

Perhaps related there is a dictionary definition in EventFilter/GEMRawToDigi that would seem to be against usual CMSSW coding practices.

[2020-07-08 06:29] cmsbuild commented on #30586
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-08 06:29] davidlange6 commented on #30586
assign reconstruction

[2020-07-08 06:29] cmsbuild commented on #30586
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-08 06:47] fwyzard opened #30588 "PFClusterValidation module is unsafe and potentially incorrect"
The [`PFClusterValidation`](https://github.com/cms-sw/cmssw/blob/master/Validation/RecoParticleFlow/plugins/PFClusterValidation.cc) uses unsafe and potentially incorrect constructs:

This https://github.com/cms-sw/cmssw/blob/9bfebaea09245072fa05ba5c03ac079636ea3ae7/Validation/RecoParticleFlow/plugins/PFClusterValidation.h#L77 make "leak" values from one event to the next.

This https://github.com/

[2020-07-08 06:48] cmsbuild commented on #30588
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-08 06:48] fwyzard commented on #30588
assign reconstruction

[2020-07-08 06:49] cmsbuild commented on #30588
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-08 06:51] fwyzard commented on #30588
@bendavid @hatakeyamak FYI

[2020-07-08 06:51] davidlange6 commented on #30588
Its dqm that manages Validation packages.

On Jul 8, 2020, at 8:49 AM, Andrea Bocci <notifications@github.com<mailto:notifications@github.com>> wrote:

assign reconstruction

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/30588#issuecomment-655323654>, or unsubscribe<https://github.com/notif

[2020-07-08 07:03] fwyzard commented on #30588
I would assume that "validation of something" falls under the responsibility of the developers for "something" - in this case Particle Flow, which IIRC is under Reconstruction.

[2020-07-08 07:14] davidlange6 commented on #30588
Not at the level of the coordination groups in cms anyway, no.

On Jul 8, 2020, at 9:03 AM, Andrea Bocci <notifications@github.com<mailto:notifications@github.com>> wrote:

I would assume that "validation of something" falls under the responsibility of the developers for "something" - in this case Particle Flow, which IIRC is under Reconstruction.

—
You are receiving this because you commented.
R

[2020-07-08 07:44] fwyzard commented on #30588
Do you disagree that PF should look into this issue ?

[2020-07-08 08:09] davidlange6 commented on #30588
No. That is the needed outcome.   PF is not strictly “under reconstruction” organizationally or code-responsibility wise (the way CMS organized itself).

On Jul 8, 2020, at 9:44 AM, Andrea Bocci <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you disagree that PF should look into this issue ?

—
You are receiving this because you commented.
Reply to this email directly, view

[2020-07-08 08:14] fwyzard commented on #30588
So, how do I "assign" an issue to PF ?

[2020-07-08 08:16] davidlange6 commented on #30588
indeed… I guess the path is

1) Assign dqm
2) Dqm propagates to the dqm experts in PF.

On Jul 8, 2020, at 10:14 AM, Andrea Bocci <notifications@github.com<mailto:notifications@github.com>> wrote:

So, how do I "assign" an issue to PF ?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/30588#issuecomment-65536470

[2020-07-08 08:20] fwyzard commented on #30588
I see.

Well, I'd rather ping the PF people directly than add another link to the chain...

It's taken more time to comment on this than to actually fix it.

[2020-07-08 10:26] perrotta commented on #30586
@jshlee @watson-ij

[2020-07-08 12:30] makortel commented on #30588
assign dqm

[2020-07-08 12:30] cmsbuild commented on #30588
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-08 12:39] hatakeyamak commented on #30588
Noted. Will try to address it.
@juska

[2020-07-08 12:41] fwyzard commented on #30588
see #30589

[2020-07-08 12:49] hatakeyamak commented on #30588
I see. Thank you for this PR.

[2020-07-08 12:57] silviodonato commented on #30578
upload all

[2020-07-08 12:57] cmsbuild commented on #30578
Queing Jenkins upload for slc7_amd64_gcc700

[2020-07-08 12:58] cmsbuild commented on #30578
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-08 12:58] cmsbuild commented on #30578
The upload has started for slc7_amd64_gcc700 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1586/console

[2020-07-08 12:59] cmsbuild commented on #30578
The upload has started for slc7_amd64_gcc820 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1587/console

[2020-07-08 13:00] cmsbuild commented on #30578
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_14-slc7_amd64_gcc820/1587

[2020-07-08 13:00] cmsbuild commented on #30578
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_14-slc7_amd64_gcc700/1586

[2020-07-08 13:48] slava77 commented on #30588
unassign reconstruction

we are tagged here already, which is enough, just in case

[2020-07-08 14:08] silviodonato commented on #30578
release-notes

[2020-07-08 14:09] cmsbuild commented on #30578
Generating release notes since CMSSW_10_6_13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-08 14:09] cmsbuild commented on #30578
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_14 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_14

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-07-08 14:10] cmsbuild commented on #30578
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_14

[2020-07-08 14:20] jshlee commented on #30586
Yes, one of them is old and should be removed.
We will do this soon.

[2020-07-08 14:21] #30578 closed

[2020-07-08 15:59] davidlange6 commented on #30586
Thanks - please have things end up in DataFormats as is standard across CMS.

I worry that this will break reading of any data with these classes saved, so probably good to do it asap.

[2020-07-08 16:15] smuzaffar opened #30597 "Github teams for CMSSW L2s"
As discussed here https://github.com/cms-sw/cms-bot/issues/1335 , we have now created `cms-sw/<category>-l2` github teams . This will allow you to get attention of L2's by using `@cms-sw/<category>-l2` in comment. In order to automatically manage these teams, one should be added as member of `cms-sw` organization. Some of you might have received an invitation to join `cms-sw` organization, please

[2020-07-08 16:16] cmsbuild commented on #30597
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-08 16:17] smuzaffar commented on #30597
@tlampen,@jpata,@alberto-sanchez,@peruzzim,@tocheng,@rekovic,@mkirsano,@lveldere,@sbein,@wajidalikhan,@christopheralanwest,@pgunnell,@SiewYan,@kmaeshima  can you please accept the invitation to join `cms-sw` organization ?

[2020-07-08 16:21] smuzaffar commented on #30597
@makortel , @Dr15Jones , @silviodonato we have `docs` category with `cmsdoxy` user as L2 [a]. this was there as we had a cat-A running doxygen for generating cmssw documentation. This is now done by CMSSDT group. So I would suggestto drop the `docs` category and add these packages under `core`. Any objections?

[a]
[code]

[2020-07-08 16:57] makortel commented on #30597
No objections from me.

[2020-07-08 17:23] hqucms commented on #30432
@makortel
I made the PR https://github.com/cms-sw/cmssw/pull/30599 -- was waiting for https://github.com/cms-sw/cmssw/pull/30072 to be merged as we are touching the same files.

[2020-07-08 18:01] wddgit commented on #29558
A few thoughts. These are not particularly connected to each other.

1. ```toGet.connectFallback``` This would be useful if data related to a "toGet" is available in a separate sqlite file for that particular tag and and that data is not in the sqlite file being used for the data with tags from the global tag. It is not going to help if the "toGet" tag data is in a database that requires network a

[2020-07-08 18:06] makortel commented on #30432
@hqucms Excellent, thank you!

[2020-07-08 18:46] makortel opened #30604 "Improve string->index mapping in Tau ID data format"
I noticed (a bit accidentally via https://github.com/cms-sw/cmssw/pull/30356) that that https://github.com/cms-sw/cmssw/pull/28417 had introduced the use of provenance to map a Tau ID string to an index in an event product. While that is technically ok, the provenance system is not really meant for that. One downside of that approach is that a change in the producing module configuration structure

[2020-07-08 18:47] makortel commented on #30604
assign reconstruction

[2020-07-08 18:47] cmsbuild commented on #30604
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-08 18:47] cmsbuild commented on #30604
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-08 19:01] slava77 commented on #30604
@swozniewski @mbluj
please take a note.
... not that we didn't consider this, if my memory is right

[2020-07-08 19:49] mbluj commented on #30604
Yes, it was considered, but because of some reasons (@swozniewski should remember it better) provenance was chosen...

[2020-07-08 20:12] #30539 closed

[2020-07-08 21:13] wddgit commented on #29558
I tested the draft code using runTheMatrix, all limited tests pass. I'm pretty sure all will run exactly the same as now if I don't set the fallback parameter.

I also tried putting in a bad connection string. It threw a std::exception instead of the exception types I had expected (cms::Exception or coral::ConnectionServiceException). Although maybe this is not the right way to test for the case o

[2020-07-08 21:25] slava77 commented on #30493
I just wanted to check on the status

[2020-07-08 21:31] pcanal commented on #30493
Shouldn't isArray() return true here?  (I.e. should it be expanded to also return true for std::array)?

[2020-07-08 22:48] kpedro88 commented on #30570
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/SimGeneral/TrackingAnalysis/src/classes_def.xml#L5

why isn't that dictionary used?

it's hard for me to tell where this error comes from.

[2020-07-08 23:33] makortel commented on #30493
Good question. I need to understand if we use `isArray()` anywhere in a way that would need to differentiate between `std::array<T ,N>` and `T[N]`.

On the other hand `isArray() == true` might not help much, `TypeWithDict::invalidTypeInfo()` would still return `true`, and
https://github.com/cms-sw/cmssw/blob/cea1d1bc4aa7b376b68eb70a34cfb4c7184f438b/FWCore/Reflection/src/DictionaryTools.cc#L92-L100

[2020-07-08 23:44] makortel commented on #30570
Not sure, but at least all those dictionary declarations are in a wrong package. None of them are declared as transient, so all should be declared in some data format package. By quick look I'd place all of them to `SimDataFormats/TrackingAnalysis` where `TrackingParticle` is defined.

[2020-07-08 23:45] pcanal commented on #30493
It "should" since a C-style would not have a TClass and would not have a typeinfo stored by ROOT.

Indeed, since the dictionary for the std::array is not generate we do not acquire the type_info for it (we 'could' but it would require header parsing which we are trying to avoid).

[2020-07-08 23:52] kpedro88 commented on #30512
@tsusa I see you've edited the proposal. Questions/comments:
* What's the reason to keep T16 in the first round of cleanup?
* Can we finally get rid of T5? This was kept because of some kind of post-TDR-review paranoia, but isn't even in any active detector geometries.
* There are a lot of development geometries for other subdetectors built on top of T17/T19. It introduces a lot of churn to have t

[2020-07-08 23:58] kpedro88 commented on #30570
There are some cases that mix classes from `SimDataFormats/TrackingAnalysis` and `DataFormats/L1TrackTrigger`. How should those be handled?

Also, how can the error observed by @davidlange6 be reproduced?

[2020-07-09 00:02] makortel commented on #30570
`DataFormats/L1TrackTrigger` must not depend on `SimDataFormats`, but other way around is allowed. Also `SimDataFormats/TrackingAnalysis` already depends on `DataFormats/TrackReco` for types containing both `TrackingParticle` and `reco::Track`, I think the L1 track trigger classes could be dealt similarly.

[2020-07-09 01:33] makortel commented on #30493
Fortunately all calls to `TypeWithDict::isArray()` seem to be within `TypeWithDict`. If we'd change it to return `true` for `std::array`, the consequences would be
* `TypeWithDict::typeInfo()` would throw an exception https://github.com/cms-sw/cmssw/blob/d7f103c459dd195eaa651ce0c30e4bd4bfd0fe43/FWCore/Reflection/src/TypeWithDict.cc#L371-L375
On the other hand it should throw an exception already n

[2020-07-09 04:11] watson-ij commented on #30586
#30547 is merged and removes the unused vfatstatusdigi from DataFormats. I will check and then make a PR to also remove DataFormats/GEMDigi/GEMAMCStatusDigi and GEMGEBStatusDigi which also are unused now, and I'm discussing with @jshlee about what objects to then move from EventFilter/ into DataFormats/.

[2020-07-09 05:58] fwyzard commented on #30588
@hatakeyamak @juska apart from the code improvements - is the `PFClusterValidation` module still used / useful ?

[2020-07-09 08:21] mmusich commented on #30512
@kpedro88

we think it is safe to remove T16 in the 1st round.

Indeed we can drop T5, especially if re-activating T5 in a recent CMSSW release implies all the issues recently faced when introducing L1 Tracking with T6

The main reason for superseding T17 and T19 is that these layouts have still thin OT sensors while the decision of having thick OT sensors was endorsed in Fall 2019 (and thick sens

[2020-07-09 08:23] ghugo83 commented on #30512
Hi,

Presently, from Phase 2 Tracker point of view, all latest designs/features are fully contained in T19 and T20.
If it is finally allowed to remove the others, that's great :)
What we propose is to remove as many geometries as possible which are now unused + also remove T19 and T20 + add 3 new geometries which will contain all the latest designs/features (and new ones ;p): T21, T22 and T23.

As

[2020-07-09 09:18] silviodonato opened #30613 "Build CMSSW_11_1_0_patch1"

[2020-07-09 09:19] cmsbuild commented on #30613
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-09 09:19] silviodonato commented on #30613
+1

[2020-07-09 09:19] cmsbuild commented on #30613
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-09 09:19] cmsbuild commented on #30613
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-09 09:20] silviodonato opened #30614 "Build CMSSW_11_2_0_pre2"

[2020-07-09 09:20] cmsbuild commented on #30614
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-09 09:20] silviodonato commented on #30614
build cmssw-tool-conf

[2020-07-09 09:20] cmsbuild commented on #30614
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_ppc64le_gcc820, slc7_amd64_gcc900, cc8_amd64_gcc8, cc8_aarch64_gcc8, cc8_ppc64le_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after

[2020-07-09 09:22] swozniewski commented on #30604
Hi, I had a look into our email thread on this. For the record, I post the corresponding passage below. I see that Michal raised a corresponding question and Slava brought up provenance and adding some pros and cons for it or additionally storing the config instead. But we did not go much in detail about possibilities to store at higher levels than event level. Altogether I would say we arrived at

[2020-07-09 09:26] cmsbuild commented on #30613
The build has started for slc7_amd64_gcc820 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2472/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 09:30] cmsbuild commented on #30613
The build has started for cc8_amd64_gcc8 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2471/console
CMSDIST Branch: [REL/CMSSW_11_1_0/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-09 09:31] cmsbuild commented on #30614
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2475/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 09:33] cmsbuild commented on #30613
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2470/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_ppc64le_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_ppc64le_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 09:33] cmsbuild commented on #30614
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2473/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-09 09:35] cmsbuild commented on #30614
There was an error building cmssw-tool-conf for slc7_amd64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_amd64_gcc820/2474

[2020-07-09 09:45] cmsbuild commented on #30614
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2477/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 09:50] cmsbuild commented on #30614
The cmssw-tool-conf build has started for cc8_ppc64le_gcc8 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2476/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-09 10:09] cmsbuild commented on #30613
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_amd64_gcc820/2472

[2020-07-09 10:20] cmsbuild commented on #30613
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2478/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_aarch64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_aarch64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 10:22] cmsbuild commented on #30614
The cmssw-tool-conf build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2479/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-09 10:49] cmsbuild commented on #30613
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_ppc64le_gcc820/2470
So

[2020-07-09 11:14] cmsbuild commented on #30613
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-cc8_amd64_gcc8/2471
Some tests (

[2020-07-09 11:47] mrodozov commented on #30614
@silviodonato ,  I'm not sure if you've seen the message for cvmfs failures. the failing toolconf error says I/O error, so that what is happening. the cc8_ppc build is failing since yesterday, I'm expecting it to fail for other reasons:

[code]

[2020-07-09 11:47] cmsbuild commented on #30613
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_aarch64_gcc820/2478
So

[2020-07-09 11:57] cmsbuild commented on #30613
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_ppc64le_gcc820/2470

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-09 12:05] cmsbuild commented on #30613
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-cc8_amd64_gcc8/2471

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-09 12:12] cmsbuild commented on #30614
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_ppc64le_gcc820/2477

[2020-07-09 12:15] cmsbuild commented on #30614
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_amd64_gcc900/2475

[2020-07-09 12:35] juska commented on #30588
I'd assume that this fairly new module is still in use. @hatakeyamak or @akanugan as the original author for this module can confirm.

[2020-07-09 12:37] cmsbuild commented on #30614
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_amd64_gcc8/2473

[2020-07-09 12:46] cmsbuild commented on #30614
There was an error building cmssw-tool-conf for cc8_aarch64_gcc8
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_aarch64_gcc8/2479

[2020-07-09 12:47] cmsbuild commented on #30614
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2480/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 13:09] cmsbuild commented on #30613
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_aarch64_gcc820/2478

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-09 13:10] silviodonato commented on #30613
abort

[2020-07-09 13:11] cmsbuild commented on #30613
Deleting CMSSW_11_1_0_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_patch1 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_1_0_patch1/slc7_amd64_gcc820. Probaly it had not been created.

 -cmsdist tag REL/CMSSW_11_1_0_patch1/slc7_aarch64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_0_patch1/slc7_ppc64le_gcc820 successfully deleted.

 -cmsd

[2020-07-09 13:16] #30613 closed

[2020-07-09 13:54] hernand commented on #29558
Thanks for making progress on this!
A couple of comments:

- I think there is still some value in having a default fallback string (e.g. sqlite_file:conditions.sql)

- I can try to test the fallback mechanism at the HPC machine in Barcelona where nodes do not have network connectivity. We have recently got an allocation of 250k hours that I requested for testing CMS workflows.  I have been using f

[2020-07-09 14:21] silviodonato commented on #30614
abort

[2020-07-09 14:25] silviodonato opened #30618 "Build CMSSW_11_1_0_patch1"

[2020-07-09 14:25] cmsbuild commented on #30618
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-09 14:29] silviodonato commented on #30618
+1

[2020-07-09 14:30] cmsbuild commented on #30618
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-09 14:30] cmsbuild commented on #30618
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-09 14:32] cmsbuild commented on #30618
The build has started for cc8_amd64_gcc8 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2481/console
CMSDIST Branch: [REL/CMSSW_11_1_0/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-09 14:32] cmsbuild commented on #30618
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2482/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_ppc64le_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_ppc64le_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 14:33] cmsbuild commented on #30618
The build has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2483/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 14:39] kpedro88 commented on #30512
@ghugo83 please do not make a PR yet, as there is not agreement for this plan. I would much rather do the (initial) removal myself, as I am the one coordinating with all of the DPGs. Geometry removals do not just affect tracker.

Tracker is welcome to add more versions in a separate PR, but removing versions that are part of geometries actively in use by other DPGs is not recommended. This can cau

[2020-07-09 14:47] ghugo83 commented on #30512
@kpedro88 This is what I understood of the plan. As mentioned, you are more than welcome to deal with the dependencies of the other subdetectors first :)

[2020-07-09 14:48] silviodonato commented on #30614
@cmsbuild abort

[2020-07-09 14:51] emiglior commented on #30512
@kpedro88

I would ask to keep T19 in the first step as currently it is the only geometry available for the 3D sensors developments

[2020-07-09 14:59] kpedro88 commented on #30512
@ghugo83 right now only two geometries use T19: the one for testing T19, and one for testing M5. I've proposed to the muon DPG that we replace T19 with T17 in the M5 geometry, to reduce dependencies on T19. T17 is already used in many geometries, so needs to be kept for a while.

To be completely clear, in my first step PR, I plan to remove T5, T6, T14, T16, as well as the other subdetector geomet

[2020-07-09 15:02] silviodonato commented on #30614
@smuzaffar @mrodozov I would like to stop and start again CMSSW_11_2_0_pre2, but it seems there are problems. Could you have I look? Thanks

[2020-07-09 15:02] cmsbuild commented on #30618
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2484/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_aarch64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_aarch64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 15:09] ghugo83 commented on #30512
@kpedro88 Great, yes that makes sense to me now. Please go ahead and i ll add T21, T22 and T23 later :)

[2020-07-09 15:11] smuzaffar commented on #30614
you have not yet asked for the release built (you have only asked for tool-conf). So there isnothing to abort.
Please close this issue and opena  new one.

[2020-07-09 15:17] #30614 closed

[2020-07-09 15:19] silviodonato opened #30620 "Build CMSSW_11_2_0_pre2"

[2020-07-09 15:19] cmsbuild commented on #30620
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-09 15:23] silviodonato commented on #30620
+1

[2020-07-09 15:23] cmsbuild commented on #30620
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-07-09 15:24] cmsbuild commented on #30620
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_ppc64le_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2020-07-09 15:27] cmsbuild commented on #30620
The build has started for cc8_ppc64le_gcc8 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2485/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-09 15:36] cmsbuild commented on #30618
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_ppc64le_gcc820/2482
So

[2020-07-09 15:41] cmsbuild commented on #30614
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_aarch64_gcc820/2480

[2020-07-09 16:01] cmsbuild commented on #30618
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-cc8_amd64_gcc8/2481
Some tests (

[2020-07-09 16:18] cmsbuild commented on #30618
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_aarch64_gcc820/2484
So

[2020-07-09 16:21] wddgit commented on #29558
For testing purposes, I created a branch in my personal git hub account with a 10_6_12 back port of the proposed changes:

https://github.com/wddgit/cmssw/tree/connectionFallback10612

My first question. Am I catching the right type of exception? Currently cms::Exception and coral::ConnectionServiceException. Should I switch to std::exception? Or some other type? Or detect connection failures in s

[2020-07-09 16:32] cmsbuild commented on #30618
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_amd64_gcc820/2483
Some t

[2020-07-09 16:41] cmsbuild commented on #30618
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-cc8_amd64_gcc8/2481

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-09 16:44] cmsbuild commented on #30618
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_ppc64le_gcc820/2482

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-09 16:46] cmsbuild commented on #30620
The build has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2486/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-09 16:46] cmsbuild commented on #30620
The build has started for slc7_amd64_gcc820 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2487/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 16:46] cmsbuild commented on #30620
The build has started for slc7_amd64_gcc900 in cmsbuild82.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2488/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 16:53] cmsbuild commented on #30620
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2489/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 17:03] cmsbuild commented on #30620
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2490/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-09 17:10] cmsbuild commented on #30618
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_amd64_gcc820/2483

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-09 17:25] cmsbuild commented on #30618
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch1-slc7_aarch64_gcc820/2484

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-09 17:32] cmsbuild commented on #30620
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2491/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-09 19:39] cmsbuild commented on #30620
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_ppc64le_gcc820/2489
Some

[2020-07-09 19:48] cmsbuild commented on #30620
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_amd64_gcc900/2488
Some tes

[2020-07-09 20:09] cmsbuild commented on #30620
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_amd64_gcc8/2486
Some tests ( r

[2020-07-09 20:25] cmsbuild commented on #30620
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_amd64_gcc900/2488

Tests results:
37 36 34 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-09 20:42] cmsbuild commented on #30620
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_ppc64le_gcc820/2489

Tests results:
36 33 32 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-09 20:49] cmsbuild commented on #30620
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_amd64_gcc8/2486

Tests results:
36 33 32 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-09 21:44] smuzaffar commented on #30597
thanks @makortel . category `docs` is now merged with `core` ( https://github.com/cms-sw/cms-bot/pull/1342 )

[2020-07-09 22:41] guitargeek opened #30627 "Copying issue in FWCore/SOA/interface/Table.h"
Hi, this is just a minor issue that I encountered when I used FWCore/SOA in https://github.com/cms-sw/cmssw/pull/30209.

I think something in the Table constructor is not quite right with the perfect forwarding. If I create a table from a set of vectors it actually copies the data of all but the first vector twice. Here an example:

[code]

The output is:

[code]

If I understood correctly, it's n

[2020-07-09 22:41] cmsbuild commented on #30627
A new Issue was created by  @guitargeek Jonas Rembser.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-09 22:43] cmsbuild commented on #30620
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_amd64_gcc820/2487
Some tes

[2020-07-09 23:21] cmsbuild commented on #30620
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_amd64_gcc820/2487

Tests results:
37 36 34 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-09 23:39] makortel commented on #30627
assign core

[2020-07-09 23:39] cmsbuild commented on #30627
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-10 00:17] silviodonato commented on #30618
upload all

[2020-07-10 00:18] cmsbuild commented on #30618
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-10 00:18] cmsbuild commented on #30618
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-10 00:18] cmsbuild commented on #30618
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-10 00:18] cmsbuild commented on #30618
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-10 00:20] cmsbuild commented on #30618
The upload has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1589/console

[2020-07-10 00:20] cmsbuild commented on #30618
The upload has started for cc8_amd64_gcc8 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1588/console

[2020-07-10 00:20] cmsbuild commented on #30618
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1590/console

[2020-07-10 00:20] cmsbuild commented on #30618
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1591/console

[2020-07-10 00:21] cmsbuild commented on #30618
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch1-cc8_amd64_gcc8/1588

[2020-07-10 00:21] cmsbuild commented on #30618
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch1-slc7_ppc64le_gcc820/1591

[2020-07-10 00:21] cmsbuild commented on #30618
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch1-slc7_amd64_gcc820/1589

[2020-07-10 00:22] cmsbuild commented on #30618
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch1-slc7_aarch64_gcc820/1590

[2020-07-10 00:45] Dr15Jones commented on #30627
Your test class does not have a move constructor, try adding
[code]
You may also need to define the relevant `operator=` methods.

Also add a print out between the construction of the vectors and the construction of the table in order to be sure the calls are coming from the table construction.

[2020-07-10 01:52] guitargeek commented on #30627
Sure! Now the test is more complete:
[code]

The output for `Table table{v1, v2, v3}` is:
[code]

And the output for `Table table{std::move(v1), std::move(v2), std::move(v3)}`:
[code]

[2020-07-10 02:06] makortel commented on #30463
This is now implemented in #30626.

[2020-07-10 05:37] slava77 commented on #25884
ping.
AFAIK, some work has been done recently; it would be nice to know (updated) expected time to delivery.
Thank you.

[2020-07-10 05:43] slava77 commented on #27889
updates:
- #30199 Updates to electron/photon scales and smearings for UL (merged June 19, 2020)
- cms-sw/cmsdist#5902 update ONNXRuntime to 1.3.0 (merged June 17, 2020)
- #30123 ONNXRuntime-based implementation of DeepJet, DeepAK8 and DeepDoubleX (technical; significant speedup) (merged July 2, 2020)
- #30542 deepDoubleX V2; capability only, plan to enable later (backport PR is now available)
- #3

[2020-07-10 05:57] silviodonato commented on #30618
release-notes

[2020-07-10 05:58] cmsbuild commented on #30618
Generating release notes since CMSSW_11_1_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-10 05:58] cmsbuild commented on #30618
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_1_0_patch1 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_patch1

Cheers

[2020-07-10 05:59] cmsbuild commented on #30618
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_patch1

[2020-07-10 06:03] #30618 closed

[2020-07-10 06:26] davidlange6 commented on #30570
can we establish a rule about this? Is there a valid reason to have dictionaries declared outside of *data*formats and condformats packages?

[2020-07-10 06:28] davidlange6 commented on #30189
more fun are the CondFormats dependencies in DataFormats/RPCDigi. If one wants to make a class that is both storable in the event and storable in the conditions db, what is the design for that? (or is there one?)

[2020-07-10 07:39] cmsbuild commented on #30614
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_ppc64le_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_ppc64le_gcc8/2476

[2020-07-10 07:44] cmsbuild commented on #30620
The was an error for cc8_ppc64le_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_ppc64le_gcc8/2485

[2020-07-10 07:45] cmsbuild commented on #30620
The build has started for cc8_ppc64le_gcc8 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2492/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-10 07:49] santocch commented on #25849
please close

[2020-07-10 07:49] #25849 closed

[2020-07-10 07:52] silviodonato commented on #30620
@smuzaffar @mrodozov I see `cc8_ppc64le_gcc8` started again, while `cc8_aarch64_gcc8` and `slc7_aarch64_gcc820` are not running https://cmssdt.cern.ch/jenkins/job/build-release/ . Are they in queue? Do I need to take some action? Thanks!

[2020-07-10 08:13] smuzaffar commented on #30620
No all is good, you do not need to take any action. We had to stop aarch64 builds as we only have one aarch64 machine with 160GB disk, building multiple releases at the same time fill up the disk (release needs to stay on the disk till the upload step). As now you have uploaded 11.1.0.patch1 (which free up some disk), so that is why I have re-started the 11.2.0.pre2 for aarch64.
Please in future ,

[2020-07-10 09:15] cmsbuild commented on #30620
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2493/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-10 09:15] cmsbuild commented on #30620
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2494/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-10 10:42] cmsbuild commented on #30620
The build has finished sucessfully for the architecture cc8_ppc64le_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_ppc64le_gcc8/2492
Some tests

[2020-07-10 11:56] cmsbuild commented on #30620
The tests have finished for cc8_ppc64le_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_ppc64le_gcc8/2492

Tests results:
36 33 32 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-10 12:09] cmsbuild commented on #30620
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_aarch64_gcc820/2493
Some

[2020-07-10 12:35] makortel commented on #30570
We have rules stated in https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCreatingNewProducts that essentially say that the `classes_def.xml` needs to be in the package that defines the product.

We have allowed dictionaries for transient-only products (that includes also algorithms) and (I believe) classes needed only in string parsing be declared in non-formats packages.

[2020-07-10 13:03] #30538 closed

[2020-07-10 13:16] swozniewski commented on #30324
@chayanit just in case you did not notice anyway: The two PRs mentioned above are now merged.

[2020-07-10 13:26] cmsbuild commented on #30620
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-slc7_aarch64_gcc820/2493

Tests results:
36 33 32 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-10 13:28] cmsbuild commented on #30620
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_aarch64_gcc8/2494
Some tests

[2020-07-10 13:46] chayanit commented on #30324
Thanks! indeed I did not notice but now I do :) @swozniewski

[2020-07-10 13:50] silviodonato commented on #30620
upload all

[2020-07-10 13:50] cmsbuild commented on #30620
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-07-10 13:50] cmsbuild commented on #30620
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-10 13:50] cmsbuild commented on #30620
Queing Jenkins upload for cc8_ppc64le_gcc8

[2020-07-10 13:50] cmsbuild commented on #30620
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-10 13:50] cmsbuild commented on #30620
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-10 13:50] cmsbuild commented on #30620
Queing Jenkins upload for slc7_amd64_gcc900

[2020-07-10 13:50] cmsbuild commented on #30620
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-10 13:51] cmsbuild commented on #30620
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1592/console

[2020-07-10 13:51] cmsbuild commented on #30620
The upload has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1593/console

[2020-07-10 13:51] cmsbuild commented on #30620
The upload has started for cc8_ppc64le_gcc8 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1594/console

[2020-07-10 13:51] cmsbuild commented on #30620
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1595/console

[2020-07-10 13:52] cmsbuild commented on #30620
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2-cc8_aarch64_gcc8/1592

[2020-07-10 13:52] cmsbuild commented on #30620
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2-cc8_amd64_gcc8/1593

[2020-07-10 13:52] cmsbuild commented on #30620
The upload has successfully finished for cc8_ppc64le_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2-cc8_ppc64le_gcc8/1594

[2020-07-10 13:53] cmsbuild commented on #30620
The upload has started for slc7_amd64_gcc900 in cmsbuild82.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1597/console

[2020-07-10 13:53] cmsbuild commented on #30620
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1598/console

[2020-07-10 13:53] silviodonato commented on #30620
release-notes

[2020-07-10 13:53] cmsbuild commented on #30620
ATTENTION!!! The production architecture (slc7_amd64_gcc820) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2020-07-10 13:53] cmsbuild commented on #30620
The upload has started for slc7_amd64_gcc820 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1596/console

[2020-07-10 13:53] cmsbuild commented on #30620
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2-slc7_aarch64_gcc820/1595

[2020-07-10 13:54] cmsbuild commented on #30620
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2-slc7_amd64_gcc900/1597

[2020-07-10 13:54] cmsbuild commented on #30620
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2-slc7_ppc64le_gcc820/1598

[2020-07-10 13:56] cmsbuild commented on #30620
The was error uploading slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2-slc7_amd64_gcc820/1596

[2020-07-10 13:59] silviodonato commented on #30620
@smuzaffar @mrodozov shall I try again with `upload  slc7_amd64_gcc820` or something like that?

[2020-07-10 14:12] smuzaffar commented on #30620
release has been uploaded successfull. Only the cleanup at the end fail. So  go ahead and generate the release notes

[2020-07-10 14:14] cmsbuild commented on #30620
Generating release notes since CMSSW_11_2_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-10 14:14] cmsbuild commented on #30620
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre2 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
cc8_ppc64le_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_2_0_pre1 can be found at:

https://github.com

[2020-07-10 14:16] cmsbuild commented on #30620
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre2

[2020-07-10 14:22] #30620 closed

[2020-07-10 14:36] cmsbuild commented on #30620
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2-cc8_aarch64_gcc8/2494

Tests results:
36 32 31 24 16 4 1 1 1 tests passed, 1 3 0 0 0 0 0 0 0 failed

[2020-07-10 15:22] parbol commented on #29267
Hi everyone,

I would like to revive this issue in order for us to continue working on the tracking navigation.

In May we presented a few ideas and a working implementation on the integration of the MTD on the navigation of the tracker. You can see the slides here:

https://indico.cern.ch/event/923095/contributions/3878403/attachments/2047579/3431258/RECO-Talk-For-MTDDPGMay29.pdf

The criteria be

[2020-07-10 16:28] jainshilpi commented on #25884
Talking to Chiara, in ~2 weeks, they expect it to be done.

[2020-07-10 16:55] wddgit commented on #30504
This issue was created in response to a couple of Chris's comments to the ProcessBlock pull request. We decided to handle this in a separate PR. I've done the part involving making changes in streamTransitionAsync.h analogous  to what was done for the global transitions. That part was easy.

The second part is a little more difficult and this is what I wanted to discuss now. The question is whethe

[2020-07-10 21:56] dildick opened #30644 "Possible issue with rawId() in GEMDetId"
In CMSSW_11_2_X_2020-07-09-1100, I notice the following. When you write:
[code]
then ```rawId``` does not equal ```detId.rawId()```

Example, in a 2026D41 geometry the detid ```Re -1 Ri 1 St 1 La 2 Ch 10 Ro 1``` was instantiated with rawId 671189248, but detId.rawId() returns 688425248.

I should add that I was trying to run on a PhaseIITDRSpring19DR PU200 sample.

[2020-07-10 21:56] cmsbuild commented on #30644
A new Issue was created by  @dildick Sven Dildick.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-10 22:01] kpedro88 commented on #30512
see #30645 for the first step with removals

[2020-07-10 22:27] cvuosalo commented on #30205
+1

[2020-07-10 22:27] cmsbuild commented on #30205
This issue is fully signed and ready to be closed.

[2020-07-10 23:16] makortel commented on #30644
assign simulation, upgrade

[2020-07-10 23:17] cmsbuild commented on #30644
New categories assigned: upgrade,simulation

@mdhildreth,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-10 23:27] makortel commented on #28354
+1

#30117 was merged in CMSSW_11_2_X_2020-07-10-1100.

[2020-07-10 23:27] cmsbuild commented on #28354
This issue is fully signed and ready to be closed.

[2020-07-10 23:32] makortel commented on #28354
@schneiml Could you start to try out the ProcessBlock? Feedback from actual use would be useful, especially in light of development towards ProcessBlock persistency. Thanks.

[2020-07-11 05:52] silviodonato opened #30646 "Build CMSSW_11_1_0_patch2"

[2020-07-11 05:53] cmsbuild commented on #30646
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-11 05:59] silviodonato commented on #30646
+1

[2020-07-11 05:59] cmsbuild commented on #30646
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-11 05:59] cmsbuild commented on #30646
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-11 06:01] cmsbuild commented on #30646
The build has started for slc7_ppc64le_gcc820 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2495/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_ppc64le_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_ppc64le_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-11 06:10] cmsbuild commented on #30646
The build has started for cc8_amd64_gcc8 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2496/console
CMSDIST Branch: [REL/CMSSW_11_1_0/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-11 06:20] cmsbuild commented on #30646
The build has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2497/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-11 06:37] cmsbuild commented on #30646
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2498/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_aarch64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_aarch64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-11 07:06] cmsbuild commented on #30646
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch2-slc7_ppc64le_gcc820/2495
So

[2020-07-11 07:36] cmsbuild commented on #30646
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch2-cc8_amd64_gcc8/2496
Some tests (

[2020-07-11 08:06] cmsbuild commented on #30646
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch2-slc7_aarch64_gcc820/2498
So

[2020-07-11 08:11] cmsbuild commented on #30646
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch2-slc7_ppc64le_gcc820/2495

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-11 08:15] cmsbuild commented on #30646
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch2-cc8_amd64_gcc8/2496

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-11 08:17] cmsbuild commented on #30646
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch2-slc7_amd64_gcc820/2497
Some t

[2020-07-11 08:56] cmsbuild commented on #30646
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch2-slc7_amd64_gcc820/2497

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-11 09:17] cmsbuild commented on #30646
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch2-slc7_aarch64_gcc820/2498

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-12 10:20] silviodonato commented on #30646
upload all

[2020-07-12 10:21] cmsbuild commented on #30646
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-12 10:21] cmsbuild commented on #30646
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-12 10:21] cmsbuild commented on #30646
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-12 10:21] cmsbuild commented on #30646
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-12 10:22] cmsbuild commented on #30646
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1600/console

[2020-07-12 10:22] cmsbuild commented on #30646
The upload has started for cc8_amd64_gcc8 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1599/console

[2020-07-12 10:22] cmsbuild commented on #30646
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1602/console

[2020-07-12 10:23] cmsbuild commented on #30646
The upload has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1601/console

[2020-07-12 10:23] cmsbuild commented on #30646
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch2-slc7_aarch64_gcc820/1600

[2020-07-12 10:24] cmsbuild commented on #30646
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch2-slc7_ppc64le_gcc820/1602

[2020-07-12 10:25] cmsbuild commented on #30646
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch2-cc8_amd64_gcc8/1599

[2020-07-12 10:26] cmsbuild commented on #30646
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch2-slc7_amd64_gcc820/1601

[2020-07-12 10:28] silviodonato commented on #30646
release-notes

[2020-07-12 10:28] cmsbuild commented on #30646
Generating release notes since CMSSW_11_1_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-12 10:28] cmsbuild commented on #30646
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_1_0_patch2 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_patch2

[2020-07-12 10:30] cmsbuild commented on #30646
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_patch2

[2020-07-12 10:35] #30646 closed

[2020-07-12 19:10] fwyzard opened #30653 "Build CMSSW_11_1_0_Patatrack"

[2020-07-12 19:11] cmsbuild commented on #30653
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2020-07-12 19:11] fwyzard commented on #30653
build cmssw-tool-conf

[2020-07-12 19:12] cmsbuild commented on #30653
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc8, slc7_aarch64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-07-12 19:13] cmsbuild commented on #30653
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2499/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-12 19:14] cmsbuild commented on #30653
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2500/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-12 19:19] fwyzard commented on #30653
+1

[2020-07-12 19:20] cmsbuild commented on #30653
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-07-12 19:42] cmsbuild commented on #30653
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-slc7_aarch64_gcc820/

[2020-07-12 19:42] cmsbuild commented on #30653
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-07-12 19:43] cmsbuild commented on #30653
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2501/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-12 19:44] cmsbuild commented on #30653
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-cc8_amd64_gcc8/2500

[2020-07-12 19:45] cmsbuild commented on #30653
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-07-12 19:45] cmsbuild commented on #30653
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2502/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-12 20:23] cmsbuild commented on #30653
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-slc7_amd64_gcc820/2502

[2020-07-12 20:24] cmsbuild commented on #30653
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-07-12 20:24] cmsbuild commented on #30653
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2503/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-12 21:16] cmsbuild commented on #30653
The build has started for slc7_amd64_gcc820 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2504/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-12 21:56] cmsbuild commented on #30653
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-slc7_aarch64_gcc820/2501

[2020-07-12 22:29] fwyzard commented on #30653
upload all

[2020-07-12 22:29] cmsbuild commented on #30653
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-12 22:30] cmsbuild commented on #30653
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1603/console

[2020-07-12 22:30] cmsbuild commented on #30653
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_Patatrack-slc7_aarch64_gcc820/1603

[2020-07-12 23:02] cmsbuild commented on #30653
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-slc7_aarch64_gcc820/2501

Tests results:
35 31 26 20 13 1 1 1 1 tests passed, 1 3 4 0 3 3 0 0 0 failed

[2020-07-12 23:28] cmsbuild commented on #30653
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-cc8_amd64_gcc8/2503
Some test

[2020-07-12 23:29] cmsbuild commented on #30653
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-12 23:29] cmsbuild commented on #30653
The upload has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1604/console

[2020-07-12 23:30] cmsbuild commented on #30653
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_Patatrack-cc8_amd64_gcc8/1604

[2020-07-12 23:31] cmsbuild commented on #30653
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-cc8_amd64_gcc8/2503

Tests results:
13 0 0 0 0 0 0 0 0 tests passed, 23 13 0 0 0 0 0 0 0 failed

[2020-07-13 00:22] cmsbuild commented on #30653
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-slc7_amd64_gcc820/2504
Som

[2020-07-13 00:22] cmsbuild commented on #30653
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-13 00:23] cmsbuild commented on #30653
The upload has started for slc7_amd64_gcc820 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1605/console

[2020-07-13 00:24] cmsbuild commented on #30653
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_Patatrack-slc7_amd64_gcc820/1605

[2020-07-13 00:57] cmsbuild commented on #30653
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-slc7_amd64_gcc820/2504

Tests results:
36 35 29 22 16 4 1 1 1 tests passed, 0 0 4 0 0 0 0 0 0 failed

[2020-07-13 07:08] cmsbuild commented on #30653
You are not authorized to request the build of a release.

[2020-07-13 08:26] #30205 closed

[2020-07-13 11:45] fwyzard commented on #30653
@smuzaffar @mrodozov can we build this release also for slc7_ppc64le_gcc820 ?

[2020-07-13 12:21] cmsbuild commented on #30653
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2505/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-13 13:52] #30331 closed

[2020-07-13 13:52] #30332 closed

[2020-07-13 13:53] #29551 closed

[2020-07-13 15:30] cmsbuild commented on #30653
The was an error for slc7_ppc64le_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_Patatrack-slc7_ppc64le_gcc820/2505

[2020-07-13 15:50] fwyzard commented on #30653
The ppc64le build failed with an error related to Fireworks:
[code]

Have you already seen this, on Power or otherwise ?

[2020-07-13 17:02] srimanob opened #30664 "Memory consumption in DQM merge step"
Hi All,

Here is the summary of issues we have found so far on memory consumption in DQMMerge step.

+ All Phase-2 RelVals in 11_1_0 fail during DQM merge. After debugging, we see a big jump in memory consumption caused by ROOT 6.20 (*).
   + Report to ROOT team: https://sft.its.cern.ch/jira/browse/ROOT-10927
   + We ask to revert ROOT back to 6.18 in CMSSW_11_1. @silviodonato prepares https://git

[2020-07-13 17:02] cmsbuild commented on #30664
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-13 17:32] dildick commented on #30644
@bsunanda Do you think this is due to the sample that I'm analyzing or is it an actual bug in the code?

[2020-07-13 17:44] makortel commented on #30664
assign core

[2020-07-13 17:44] cmsbuild commented on #30664
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-13 17:59] mrodozov commented on #30653
https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/slc7_ppc64le_gcc820/www/tue/11.1-tue-23/CMSSW_11_1_X_2020-07-07-2300
doesn't fail at build time, I can search elasticsearch records to check

[2020-07-13 18:02] mrodozov commented on #30653
the last release for the same arch built fine
https://github.com/cms-sw/cmssw/issues/30533

[2020-07-13 18:45] bsunanda commented on #30644
@didick I shall check this. It is strange - do you have other examples?

[2020-07-13 18:55] dildick commented on #30644
No I don't I'm afraid. If there is a Run-3 matrix test with single muons, I could that and check it.

[2020-07-13 21:03] fwyzard opened #30669 "EventSetup conditions fail using ESGetToken for a product that uses a Service"
We are seeing an issue with the use of `ESGetToken` after migrating the Patatrack branch to CMSSW_11_2_X .

Some modules fail with an error like
[code]

A cursory investigation following a suggestion by @makortel suggests that this happens when an `ESGetToken` is used to access a product, produced by an ESProducers that accesses a Service (in our case likely the `CUDAService`) when the product is

[2020-07-13 21:04] cmsbuild commented on #30669
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-13 21:05] makortel commented on #30669
assign core

[2020-07-13 21:05] cmsbuild commented on #30669
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-13 21:07] makortel commented on #30669
The `CUDAService` gets called in the constructor of the ESProduct, that has `cms::cuda::ESProduct` member
https://github.com/cms-sw/cmssw/blob/692a8d52c9e0585796ecb7d806fd7b29c4b08429/HeterogeneousCore/CUDACore/interface/ESProduct.h#L21
https://github.com/cms-sw/cmssw/blob/692a8d52c9e0585796ecb7d806fd7b29c4b08429/HeterogeneousCore/CUDAServices/src/numberOfDevices.cc#L5-L10

[2020-07-13 21:28] fwyzard opened #30670 "Build CMSSW_11_2_0_pre2_Patatrack"

[2020-07-13 21:28] cmsbuild commented on #30670
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2020-07-13 21:29] fwyzard commented on #30653
Is it possible to rebuild the release for ppc64le ignoring the build errors ?

[2020-07-13 21:29] fwyzard commented on #30670
+1

[2020-07-13 21:30] cmsbuild commented on #30670
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre2_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-07-13 21:30] cmsbuild commented on #30670
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-13 21:31] cmsbuild commented on #30670
The build has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2506/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-13 21:32] cmsbuild commented on #30670
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2507/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-13 21:33] cmsbuild commented on #30670
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2508/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-13 21:40] cmsbuild commented on #30670
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2509/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-14 01:51] cmsbuild commented on #30670
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2_Patatrack-slc7_amd64_gcc820/250

[2020-07-14 02:15] cmsbuild commented on #30670
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2_Patatrack-cc8_amd64_gcc8/2506
Some

[2020-07-14 02:17] cmsbuild commented on #30670
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2_Patatrack-cc8_amd64_gcc8/2506

Tests results:
14 0 0 0 0 0 0 0 0 tests passed, 23 14 0 0 0 0 0 0 0 failed

[2020-07-14 02:25] cmsbuild commented on #30670
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2_Patatrack-slc7_aarch64_gcc820

[2020-07-14 02:29] cmsbuild commented on #30670
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2_Patatrack-slc7_amd64_gcc820/2508

Tests results:
37 36 34 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-14 02:29] cmsbuild commented on #30670
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2_Patatrack-slc7_ppc64le_gcc820

[2020-07-14 03:24] cmsbuild commented on #30670
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2_Patatrack-slc7_aarch64_gcc820/2509

Tests results:
36 32 31 24 13 1 1 1 1 tests passed, 1 3 0 0 3 3 0 0 0 failed

[2020-07-14 05:22] fwyzard commented on #30670
upload all

[2020-07-14 05:22] cmsbuild commented on #30670
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-14 05:22] cmsbuild commented on #30670
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-14 05:22] cmsbuild commented on #30670
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-14 05:22] cmsbuild commented on #30670
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-14 05:24] cmsbuild commented on #30670
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1608/console

[2020-07-14 05:24] cmsbuild commented on #30670
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1607/console

[2020-07-14 05:25] cmsbuild commented on #30670
The upload has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1606/console

[2020-07-14 05:25] fwyzard commented on #30670
Looks like the CentOS 8 build machine is unable to find or load libcuda.so:
[code]

Any idea why it doesn't find the version from the CUDA external ?

[2020-07-14 05:26] cmsbuild commented on #30670
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2_Patatrack-slc7_aarch64_gcc820/1608

[2020-07-14 05:26] cmsbuild commented on #30670
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1609/console

[2020-07-14 05:27] cmsbuild commented on #30670
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2_Patatrack-slc7_ppc64le_gcc820/1609

[2020-07-14 05:29] cmsbuild commented on #30670
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2_Patatrack-slc7_amd64_gcc820/1607

[2020-07-14 05:31] cmsbuild commented on #30670
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre2_Patatrack-cc8_amd64_gcc8/1606

[2020-07-14 08:03] silviodonato opened #30672 "Build CMSSW_11_1_0_patch3"

[2020-07-14 08:03] cmsbuild commented on #30672
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-14 08:05] silviodonato commented on #30672
+1

[2020-07-14 08:05] cmsbuild commented on #30672
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-14 08:05] cmsbuild commented on #30672
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-14 08:09] cmsbuild commented on #30672
The build has started for cc8_amd64_gcc8 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2510/console
CMSDIST Branch: [REL/CMSSW_11_1_0/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-14 08:10] cmsbuild commented on #30672
The build has started for slc7_amd64_gcc820 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2511/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-14 08:11] cmsbuild commented on #30672
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2512/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_ppc64le_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_ppc64le_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-14 08:47] Martin-Grunewald commented on #29203
There seems no visible progress, is any action still needed?

[2020-07-14 09:18] cmsbuild commented on #30672
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-slc7_ppc64le_gcc820/2512
So

[2020-07-14 09:20] cmsbuild commented on #30672
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2513/console
CMSDIST Branch: [REL/CMSSW_11_1_0/slc7_aarch64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_0/slc7_aarch64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-14 09:27] cmsbuild commented on #30672
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-slc7_ppc64le_gcc820/2512

Tests results:
24 4 0 0 0 0 0 0 0 tests passed, 12 20 4 0 0 0 0 0 0 failed

[2020-07-14 09:39] cmsbuild commented on #30672
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-cc8_amd64_gcc8/2510
Some tests (

[2020-07-14 10:10] cmsbuild commented on #30672
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-slc7_amd64_gcc820/2511
Some t

[2020-07-14 10:36] cmsbuild commented on #30672
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-slc7_aarch64_gcc820/2513
So

[2020-07-14 10:42] cmsbuild commented on #30672
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-cc8_amd64_gcc8/2510

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-14 11:14] cmsbuild commented on #30672
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-slc7_amd64_gcc820/2511

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-14 11:14] silviodonato commented on #30672
upload all

[2020-07-14 11:15] cmsbuild commented on #30672
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-14 11:15] cmsbuild commented on #30672
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-14 11:15] cmsbuild commented on #30672
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-14 11:15] cmsbuild commented on #30672
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-14 11:17] cmsbuild commented on #30672
The upload has started for slc7_amd64_gcc820 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1612/console

[2020-07-14 11:17] cmsbuild commented on #30672
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1611/console

[2020-07-14 11:17] cmsbuild commented on #30672
The upload has started for cc8_amd64_gcc8 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1610/console

[2020-07-14 11:17] cmsbuild commented on #30672
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1613/console

[2020-07-14 11:18] cmsbuild commented on #30672
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch3-slc7_amd64_gcc820/1612

[2020-07-14 11:18] cmsbuild commented on #30672
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch3-slc7_aarch64_gcc820/1611

[2020-07-14 11:19] cmsbuild commented on #30672
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch3-slc7_ppc64le_gcc820/1613

[2020-07-14 11:21] cmsbuild commented on #30672
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_patch3-cc8_amd64_gcc8/1610

[2020-07-14 11:36] silviodonato commented on #30672
release-notes

[2020-07-14 11:37] cmsbuild commented on #30672
Generating release notes since CMSSW_11_1_0_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-14 11:37] cmsbuild commented on #30672
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_1_0_patch3 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_0_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_patch3

[2020-07-14 11:38] cmsbuild commented on #30672
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_patch3

[2020-07-14 11:52] #30672 closed

[2020-07-14 11:55] tommasoboccali opened #30675 "Crash in L1FPGATrackProducer when using glibc::malloc"
Dear all,

we are experiencing a crash  when running L1FPGATrackProducer, in a *very* uncommon setup (spotted since AARCH64 and PPC IBs do not use JEmalloc).

In a nutshell, when using
CMSSW_11_1_0_patch2 + merge 30657 30660 30666  (this will be soon patch3)
and a production like PSET (the one we are testing for HLT rereco)
/afs/cern.ch/user/t/tboccali/public/pset_crash.py

and running with glibc:

[2020-07-14 11:55] cmsbuild commented on #30675
A new Issue was created by  @tommasoboccali Tommaso Boccali.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-14 11:58] silviodonato commented on #30675
assign core

[2020-07-14 11:58] silviodonato commented on #30675
assign l1

[2020-07-14 11:58] cmsbuild commented on #30675
New categories assigned: core,l1

@Dr15Jones,@smuzaffar,@benkrikler,@rekovic,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-14 12:03] silviodonato commented on #30675
During the build of `CMSSW_11_1_0_patch3` I got errors in cc8:
[code]
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-cc8_amd64_gcc8/2510/matrixTests/23234.0_TTbar_14TeV+TTbar_14TeV_TuneCP5_2026D49_GenSimHLBeamSpotFull14+DigiFullTrigger_2026D49+RecoFullGlobal_2026D49+HARVESTFullGlobal_2026D49/step2_TTbar_14TeV+TTbar_14TeV_TuneCP5_2026D49_GenSimHLBeamSpotFull14+D

[2020-07-14 12:08] cmsbuild commented on #30672
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3-slc7_aarch64_gcc820/2513

Tests results:
35 32 31 24 16 4 1 1 1 tests passed, 1 2 0 0 0 0 0 0 0 failed

[2020-07-14 12:09] schneiml commented on #28354
@makortel I'll try to get sth. running this week.

[2020-07-14 12:12] dpiparo opened #30676 "ASAN idendified issue with l1tpf_calo::Phase1GridBase c'tor"
The ASAN IB of 11_2 identified a problem in the treatment of the memory. Below the full report coming from https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-07-10-2300/pyRelValMatrixLogs/run/23234.1001_TTbar_14TeV+RecoFullGlobal_TestOldDigi_2026D49+HARVESTFullGlobal_2026D49/step1_TTbar_14TeV+RecoFullGlobal_TestOldDigi_2026D49+HARVESTFullGlobal_2026D49.log

[code

[2020-07-14 12:12] cmsbuild commented on #30676
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-14 12:46] makortel commented on #30676
assign l1, upgrade

[2020-07-14 12:47] cmsbuild commented on #30676
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-14 13:02] cmsbuild commented on #30670
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre2_Patatrack-slc7_ppc64le_gcc820/2507

Tests results:
35 24 12 7 3 0 0 0 0 tests passed, 2 10 11 2 1 0 0 0 0 failed

[2020-07-14 13:28] makortel commented on #30675
Has anyone tried to run valgrind yet?

[2020-07-14 13:30] tommasoboccali commented on #30675
I think @davidlange6  did, but it stopped before that ....

[2020-07-14 13:39] makortel commented on #30675
assign upgrade

[2020-07-14 13:39] cmsbuild commented on #30675
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-14 13:44] davidlange6 commented on #30675
from the patch1 version of code

[code]

[2020-07-14 13:45] silviodonato opened #30680 "Build CMSSW_11_1_0_patch3_ROOT618"
CMSSW_COMMIT:CMSSW_11_1_0_patch3

[2020-07-14 13:45] cmsbuild commented on #30680
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-14 13:46] silviodonato commented on #30680
+1

[2020-07-14 13:47] cmsbuild commented on #30680
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_patch3_ROOT618. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-14 13:47] cmsbuild commented on #30680
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-07-14 13:50] cmsbuild commented on #30680
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_patch3_ROOT618-slc7_amd64_gcc820/2514

[2020-07-14 13:58] makortel commented on #30675
@tommasoboccali Where could I find the input file used by /afs/cern.ch/user/t/tboccali/public/pset_crash.py?

[2020-07-14 14:02] smuzaffar commented on #30680
please abort this and try to build CMSSW_11_1_0_p3_ROOT618. Currently if there is `patch` in the release name then it will try to build a patch release

[2020-07-14 14:03] tommasoboccali commented on #30675
shourl be this, apologies (i had it in local to be faster, and then I forgot)

[2020-07-14 14:05] Dr15Jones commented on #30675
The most likely problem seems to be to be a probably _one definition rule_ violation. The code has a compile time switch to change the layout of the class

https://github.com/cms-sw/cmssw/blob/master/L1Trigger/TrackFindingTracklet/interface/Globals.h#L103-L106

If one piece of code has that define set and another has it unset, you'd get such a case where the constructor would write past the memory

[2020-07-14 14:07] silviodonato opened #30681 "Build CMSSW_11_1_0_p3_ROOT618"
CMSSW_COMMIT:CMSSW_11_1_0_patch3

[2020-07-14 14:07] silviodonato commented on #30680
abort

[2020-07-14 14:07] cmsbuild commented on #30681
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-14 14:07] cmsbuild commented on #30680
Deleting CMSSW_11_1_0_patch3_ROOT618:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_patch3_ROOT618 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_1_0_patch3_ROOT618/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.

[2020-07-14 14:08] #30680 closed

[2020-07-14 14:08] silviodonato commented on #30681
+1

[2020-07-14 14:08] cmsbuild commented on #30681
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_p3_ROOT618. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-14 14:08] cmsbuild commented on #30681
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-14 14:09] cmsbuild commented on #30681
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2515/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-14 14:10] cmsbuild commented on #30681
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2516/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-14 14:13] smuzaffar commented on #30681
this does not look correct

[2020-07-14 14:14] smuzaffar commented on #30681
abort

[2020-07-14 14:14] cmsbuild commented on #30681
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2517/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-14 14:14] cmsbuild commented on #30681
Deleting CMSSW_11_1_0_p3_ROOT618:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_p3_ROOT618 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_1_0_p3_ROOT618/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_p3_ROOT618/slc7_aarch64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL

[2020-07-14 14:15] cmsbuild commented on #30681
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_p3_ROOT618-cc8_amd64_gcc8/2517

[2020-07-14 14:15] cmsbuild commented on #30681
The was an error for slc7_ppc64le_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_p3_ROOT618-slc7_ppc64le_gcc820/2515

[2020-07-14 14:15] davidlange6 commented on #30675
Does cmssw set “CMSSW_GIT_HASH” when compiling?

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/interface/Settings.h#L31

On Jul 14, 2020, at 4:05 PM, Chris Jones <notifications@github.com> wrote:

The most likely problem seems to be to be a probably one definition rule violation. The code has a compile time switch to change the layout

[2020-07-14 14:15] Dr15Jones commented on #30675
It is a one definition rule violation. The CPP macro is set here

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/interface/Settings.h#L30-L32

That means `Settings.h` must be included before any use of `Globals`. In Globals.h that is not enformced since inclusion of `Settings.h` is behind that macro

https://github.com/cms-sw/cmssw/blob

[2020-07-14 14:16] smuzaffar opened #30682 "Build CMSSW_11_1_0_p3_ROOT618"
CMSSW_COMMIT:CMSSW_11_1_0_patch3
RELEASE_QUEUE:CMSSW_11_1_ROOT618_X

[2020-07-14 14:16] cmsbuild commented on #30682
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-14 14:17] smuzaffar commented on #30682
@silviodonato , now this looks good, please go ahead and start the build here

[2020-07-14 14:17] #30681 closed

[2020-07-14 14:18] fwyzard commented on #30675
Indeed, if I add
[code]
after the `#ifdef` I get plenty of errors :-(

[2020-07-14 14:18] smuzaffar commented on #30682
+1

[2020-07-14 14:18] cmsbuild commented on #30682
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_p3_ROOT618. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-14 14:18] cmsbuild commented on #30682
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-07-14 14:19] cmsbuild commented on #30682
The build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2518/console
CMSDIST Branch: [IB/CMSSW_11_1_X/root618](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/root618), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-14 14:20] davidlange6 commented on #30682
Could we just call this CMSSW_11_1_1?

On Jul 14, 2020, at 4:16 PM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

CMSSW_COMMIT:CMSSW_11_1_0_patch3
RELEASE_QUEUE:CMSSW_11_1_ROOT618_X

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/30682>, or unsubs

[2020-07-14 14:25] fwyzard commented on #30675
minimal fix ?
[code]

[2020-07-14 14:25] smuzaffar commented on #30682
We could if we include root 6.18 in 11.1.X. I think we want to stick to root 6.20 for 11.1.X and hopefully get a root fix soon to continue with 6.20 in 11.1.X.

[2020-07-14 14:28] davidlange6 commented on #30682
But then you make an 11_1_2… (your going to get asked to make another release really soon anyway)

On Jul 14, 2020, at 4:25 PM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

We could if we include root 6.18 in 11.1.X. I think we want to stick to root 6.20 for 11.1.X and hopefully get a root fix soon to continue with 6.20 in 11.1.X.

—
You are receiving

[2020-07-14 14:30] smuzaffar commented on #30682
I will let @silviodonato  decide

[2020-07-14 14:33] kpedro88 commented on #30676
This is an off-by-one error:
https://github.com/cms-sw/cmssw/blob/9e8441dac7ded216e0a1b33d29ac0f969c299de9/L1Trigger/Phase2L1ParticleFlow/src/CaloClusterer.cc#L30
https://github.com/cms-sw/cmssw/blob/9e8441dac7ded216e0a1b33d29ac0f969c299de9/L1Trigger/Phase2L1ParticleFlow/src/CaloClusterer.cc#L37

If `ie==-41`, then `absie==41`, and `towerEtas_[41]` is not allocated (since the size of `towerEtas_`

[2020-07-14 14:39] silviodonato commented on #30682
@davidlange6 I asked the same question to @dpiparo and he preferred to have ROOT618 as a special release instead of moving CMSSW_11_1_X back to ROOT618. @smuzaffar added a new branch in cmsdist of CMSSW_11_1_X with ROOT618. In future, we can easily build 11_1_2_ROOT618 instead of ROOT620, if needed.

[2020-07-14 14:50] tommasoboccali commented on #30675
confirmed both by me (I reoved byhand the ifdefs in a consistent way) and @fwyzard (he forced the symbol).

Now it runs ... tis does not mean t results are ok.

we need input on this by @skinnari @tomalin @rekovic : is forcing Hybrid everywhere a solution????

thanks @Dr15Jones  ,  (it would have taken me a coupe of geological eras  to find ...)

[2020-07-14 14:50] fwyzard commented on #30675
https://github.com/cms-sw/cmssw/pull/30683 has this minimal fix, i.e. it just defined the flag in the BuildFiles to force it being defined in all compilation units.
@tommasoboccali is testing a more aggressive fix, that removes the code that should have been #ifdef'ed away.

[2020-07-14 14:56] skinnari commented on #30675
sorry just returning from some days offline and seeing this thread (and PR 30683), it seems it is understood? please let me know otherwise if any input is required from my side...

[2020-07-14 14:57] fwyzard commented on #30675
@skinnari can you confirm that the intent was that `USEHYBRID` should always be defined ?

[2020-07-14 14:59] skinnari commented on #30675
@fwyzard yes. (if it is not, it compiles the "tracklet only" algorithm, instead of the "hybrid" algorithm).

[2020-07-14 15:06] gpetruc commented on #30676
Uhm, interesting that we didn't spot this before...

To be honest I'm not 100% sure of the trigger tower geometry, i.e. whether 41 is really a valid ieta value or not. If it's not valid, then the simplest thing would be to change the for loop to `for (int ie  = -nEta_+1; ie < nEta_; ++ie) {` .

If instead 41 is needed, one could avoid the error and not change anything of the present behaviour by r

[2020-07-14 15:58] tomalin commented on #30675
If I add "#define USEHYBRID" to the top of Globals.h, this also prevents the crash. The fact that Globals.h includes "#ifdef USEHYBRID" before it includes Settings.h, which defines USEHYBRID is suspect ...

[2020-07-14 16:28] mrodozov commented on #30653
no, the build should be clean. unit tests and relvals may fail but the build needs to pass

[2020-07-14 16:35] fwyzard commented on #30653
While IBs are built even if some packages fail to build, right ?

[2020-07-14 16:45] smuzaffar commented on #30653
that is correct @fwyzard . IBs can have failure but not for releases.

[2020-07-14 18:42] cmsbuild commented on #30682
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_p3_ROOT618-slc7_amd64_gcc820/2518
So

[2020-07-14 19:02] davidlange6 commented on #30682
:( very confusing  - but ok, just a sign that these are not production ready releases

Anyway given that we have a root patch and are still finding L1 bugs, this is pretty much a useless release to build.

On Jul 14, 2020, at 4:39 PM, Silvio Donato <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> I asked the same question to @dpiparo<

[2020-07-14 19:14] silviodonato commented on #30682
upload all

[2020-07-14 19:14] cmsbuild commented on #30682
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-14 19:15] cmsbuild commented on #30682
The upload has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1614/console

[2020-07-14 19:15] cmsbuild commented on #30682
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_p3_ROOT618-slc7_amd64_gcc820/1614

[2020-07-14 19:23] cmsbuild commented on #30682
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_p3_ROOT618-slc7_amd64_gcc820/2518

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-14 19:34] Dr15Jones commented on #30669
#30688 should fix this. Thanks for the report.

[2020-07-14 19:42] silviodonato commented on #30682
release-notes

[2020-07-14 19:42] cmsbuild commented on #30682
Previous release "" does not appear to be a valid release name

[2020-07-14 19:55] wddgit commented on #28354
@schneiml There is some new documentation on the TWIKI that might help related to ProcessBlock. Let me know if you notice any problems with it.

https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideProcessBlockData

[2020-07-14 21:09] cmsbuild commented on #30682
Generating release notes since CMSSW_11_1_0_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-14 21:09] cmsbuild commented on #30682
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_0_p3_ROOT618 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_1_0_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_p3_ROOT618

Cheers,
cms-bot

You can also click <a href="mailto:

[2020-07-14 21:10] cmsbuild commented on #30682
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_p3_ROOT618

[2020-07-14 23:12] kpedro88 commented on #30676
@rekovic please confirm which fix should be used

[2020-07-14 23:13] kpedro88 commented on #27095
HGCal v9 is now deprecated as well, so further usage of HCAL objects, etc. can be cleaned up in the code.

[2020-07-15 06:40] srimanob commented on #30664
I am trying to understand why the issue happens in Phase-2 only by comparing DQMIO and merge in 11_2_0_pre1 (ROOT618)

Here is the result,
https://srimanob.web.cern.ch/DQM/mbGraph.html#?profile=performance-Run3.json&reference=performance-Phase2.json&pid=_sum

Light blue: Phase2
Dark blue: Run3

<img width="800" alt="Screenshot 2020-07-15 08 39 48" src="https://user-images.githubusercontent.com/470

[2020-07-15 07:15] davidlange6 commented on #30664
This graphic potentially just says that phase2 has more histogram Bins than run3.

On 15 Jul 2020, at 08:41, Phat Srimanobhas <notifications@github.com> wrote:

﻿

I am trying to understand why the issue happens in Phase-2 only by comparing DQMIO and merge in 11_2_0_pre1 (ROOT618)

Here is the result,
https://srimanob.web.cern.ch/DQM/mbGraph.html#?profile=performance-Run3.json&reference=performanc

[2020-07-15 07:27] srimanob commented on #30664
Hi @davidlange6

Thanks for the comment.

The point I would like to make is that if we consider it's normal, we may need to consider raising memory allowance in DQM Merge permanently. Currently, we allow 2.3 GB, and Phase-2 relvals merge fail significantly.

[2020-07-15 07:30] davidlange6 commented on #30664
Perhaps one should understand why that is. I guess DQM has tools that count bins by directory..

On Jul 15, 2020, at 9:28 AM, Phat Srimanobhas <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @davidlange6<https://github.com/davidlange6>

Thanks for the comment.

The point I would like to make is that if we consider it's normal, we may need to consider raising memory allowance

[2020-07-15 07:33] #30682 closed

[2020-07-15 07:55] silviodonato opened #30694 "Build CMSSW_10_2_23"

[2020-07-15 07:56] cmsbuild commented on #30694
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-15 12:00] schneiml commented on #28354
@wddgit I tried using the new feature in #30698 but have not gotten it to work yet. Feel free to have a look. I have not looked at the docs yet, maybe that will help...

[2020-07-15 14:08] kpedro88 commented on #30676
@rekovic please reply ASAP, this can potentially break production

[2020-07-15 14:38] gpetruc commented on #30676
Hi @kpedro88 @rekovic

In the meantime, validating 11_1_0_patch2 I found another clear bug introduced during the code integration
    https://github.com/cms-sw/cmssw/blob/master/L1Trigger/Phase2L1ParticleFlow/plugins/L1TPFCaloProducer.cc#L275
where `towerIPhi()` was supposed to be `towerPhi()`.

Still in the process of seeing whether we have also other bugs, then I can make a bugfix PR

[2020-07-15 15:21] silviodonato commented on #30694
+1

[2020-07-15 15:22] cmsbuild commented on #30694
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_23. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-07-15 15:22] cmsbuild commented on #30694
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-07-15 15:24] cmsbuild commented on #30694
The build has started for slc7_amd64_gcc700 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2520/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-15 15:24] cmsbuild commented on #30694
The build has started for slc6_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2519/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-15 15:54] makortel commented on #30493
`DictionaryTools.h` has two overloads for the `checkDictionary()`
1. https://github.com/cms-sw/cmssw/blob/b06207136c07abe4658ec38988715e9c4b52ddf5/FWCore/Reflection/src/DictionaryTools.cc#L67-L78
2. https://github.com/cms-sw/cmssw/blob/b06207136c07abe4658ec38988715e9c4b52ddf5/FWCore/Reflection/src/DictionaryTools.cc#L92-L100

(the definition of `hasDictionary()` can be seen in https://github.com/c

[2020-07-15 16:06] rekovic commented on #30676
@gpetruc
Thanks.  This is a clear bug.  Will submit a PR with a fix.

[2020-07-15 16:07] rekovic commented on #30676
@gpetruc
Ok, will wait for your other findings, and you can submit a PR with the fixes.  That is cleaner.

[2020-07-15 18:31] makortel commented on #30493
The two overloads of `checkDictionary()` were added in https://github.com/cms-sw/cmssw/pull/15198. Before, there were
* https://github.com/cms-sw/cmssw/blob/986ed319ad8e35778a571390b2b82e3625425dfb/FWCore/Utilities/src/DictionaryTools.cc#L23-L35
* https://github.com/cms-sw/cmssw/blob/986ed319ad8e35778a571390b2b82e3625425dfb/FWCore/Utilities/src/DictionaryTools.cc#L52-L64

I'm currently trying to u

[2020-07-15 18:45] pcanal commented on #30493
Overload 1 does (explicitly but somewhat obscurely):
   - trigger the auto-loading of the dictionary library about the type
   - check the result

while Overload 2 assumes that the dictionary library library is already loaded (and that the answer is already compiled in TypeWithDict object).

[2020-07-15 19:25] cmsbuild commented on #30694
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_23-slc6_amd64_gcc700/2519
Some tests (

[2020-07-15 19:50] silviodonato commented on #30694
abort

[2020-07-15 19:51] silviodonato opened #30734 "Build CMSSW_11_1_1"

[2020-07-15 19:51] cmsbuild commented on #30694
Deleting CMSSW_10_2_23:

  -Release successfully deleted

  -cmssw tag CMSSW_10_2_23 successfully deleted.

 -cmsdist tag REL/CMSSW_10_2_23/slc6_amd64_gcc700 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_2_23/slc7_amd64_gcc700. Probaly it had not been created.

You must create a new issue to start over the build.

[2020-07-15 19:51] cmsbuild commented on #30734
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-15 19:51] cmsbuild commented on #30694
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_23-slc6_amd64_gcc700/2519

Tests results:
grep: /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_10_2_23-slc6_amd64_gcc700/build/CMSSW_10_2_23-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2020-07-15 19:53] silviodonato commented on #30734
+1

[2020-07-15 19:53] #30694 closed

[2020-07-15 19:53] cmsbuild commented on #30734
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-15 19:53] cmsbuild commented on #30734
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-15 19:54] cmsbuild commented on #30734
The build has started for cc8_amd64_gcc8 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2521/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-15 19:54] cmsbuild commented on #30734
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2522/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)