[2017-02-03 07:17] cmsbuild commented on #17399
Queing Jenkins upload for slc6_amd64_gcc530

[2017-02-03 07:17] cmsbuild commented on #17399
Queing Jenkins upload for slc6_amd64_gcc620

[2017-02-03 07:17] cmsbuild commented on #17399
Queing Jenkins upload for slc7_amd64_gcc530

[2017-02-03 07:17] cmsbuild commented on #17399
Queing Jenkins upload for slc7_amd64_gcc620

[2017-02-03 07:18] cmsbuild commented on #17399
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/621/console

[2017-02-03 07:19] cmsbuild commented on #17399
The upload has started for slc6_amd64_gcc620 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/622/console

[2017-02-03 07:20] cmsbuild commented on #17399
The upload has started for slc7_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/623/console

[2017-02-03 07:21] cmsbuild commented on #17399
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre4-slc6_amd64_gcc530/621
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-03 07:21] cmsbuild commented on #17399
The upload has successfully finished for slc6_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre4-slc6_amd64_gcc620/622
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-03 07:21] cmsbuild commented on #17399
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-03 07:21] cmsbuild commented on #17399
CERN AFS installation skipped for slc6_amd64_gcc620 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-03 07:21] cmsbuild commented on #17399
The upload has started for slc7_amd64_gcc620 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/624/console

[2017-02-03 07:22] cmsbuild commented on #17399
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre4-slc7_amd64_gcc530/623
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-03 07:22] cmsbuild commented on #17399
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-03 07:25] cmsbuild commented on #17399
The upload has successfully finished for slc7_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre4-slc7_amd64_gcc620/624
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-03 07:25] cmsbuild commented on #17399
CERN AFS installation skipped for slc7_amd64_gcc620 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-03 07:35] davidlange6 commented on #17399
release-notes

[2017-02-03 07:36] cmsbuild commented on #17399
Generating release notes since CMSSW_9_0_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-03 07:36] cmsbuild commented on #17399
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_0_0_pre4 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc620
slc7_amd64_gcc530
slc7_amd64_gcc620

The release notes of what changed with respect to CMSSW_9_0_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_0_pre4

since relvals

[2017-02-03 07:37] cmsbuild commented on #17399
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0_pre4

[2017-02-03 09:05] cmsbuild commented on #17399
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre4-slc7_aarch64_gcc530/984
Some t

[2017-02-03 09:05] cmsbuild commented on #17399
Queing Jenkins upload for slc7_aarch64_gcc530

[2017-02-03 09:07] cmsbuild commented on #17399
The upload has started for slc7_aarch64_gcc530 in techlab-arm64-moonshot-xgene-014.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/625/console

[2017-02-03 09:11] cmsbuild commented on #17399
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre4-slc7_aarch64_gcc530/625
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-03 09:52] davidlange6 opened #17407 "Build CMSSW_8_0_26_patch1"
Fix config issue in MET for the re-miniAOD

[2017-02-03 09:52] davidlange6 commented on #17407
+1

[2017-02-03 09:52] cmsbuild commented on #17407
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-02-03 09:53] cmsbuild commented on #17407
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_26_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2017-02-03 09:53] cmsbuild commented on #17407
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-02-03 09:54] cmsbuild commented on #17407
The build has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/985/console
CMSDIST Branch: [REL/CMSSW_8_0_26/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_26/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-03 10:04] cmsbuild commented on #17407
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/986/console
CMSDIST Branch: [REL/CMSSW_8_0_26/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_26/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-03 10:16] cmsbuild commented on #17407
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_26_patch1-slc7_amd64_gcc530/985
Some te

[2017-02-03 10:16] smuzaffar commented on #14270
this is done here https://github.com/cms-sw/cmssw/pull/17401

[2017-02-03 10:25] cmsbuild commented on #17407
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_26_patch1-slc6_amd64_gcc530/986
Some te

[2017-02-03 10:27] davidlange6 commented on #17407
upload all

[2017-02-03 10:27] cmsbuild commented on #17407
Queing Jenkins upload for slc6_amd64_gcc530

[2017-02-03 10:27] cmsbuild commented on #17407
Queing Jenkins upload for slc7_amd64_gcc530

[2017-02-03 10:31] cmsbuild commented on #17407
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/626/console

[2017-02-03 10:32] cmsbuild commented on #17407
The upload has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/627/console

[2017-02-03 10:32] cmsbuild commented on #17407
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_26_patch1-slc6_amd64_gcc530/626
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-03 10:32] cmsbuild commented on #17407
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-03 10:33] cmsbuild commented on #17407
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_26_patch1-slc7_amd64_gcc530/627
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-03 10:33] cmsbuild commented on #17407
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-03 10:42] cmsbuild commented on #17407
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_26_patch1-slc7_amd64_gcc530/985

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-03 10:49] cmsbuild commented on #17407
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_26_patch1-slc6_amd64_gcc530/986

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-03 11:06] davidlange6 commented on #17407
release-notes

[2017-02-03 11:07] cmsbuild commented on #17407
Generating release notes since CMSSW_8_0_26.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-03 11:07] cmsbuild commented on #17407
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_26_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_26 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_26_patch1

Fix config issue in MET for the re-miniAOD

[2017-02-03 11:08] cmsbuild commented on #17407
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_26_patch1

[2017-02-03 11:30] cmsbuild commented on #17399
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre4-slc7_aarch64_gcc530/984

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-03 14:55] cmsbuild commented on #17368
The cleanup has started for slc7_aarch64_gcc530

[2017-02-03 14:55] cmsbuild commented on #17368
The cleanup has started for slc6_amd64_gcc700

[2017-02-03 14:55] cmsbuild commented on #17368
The cleanup has started for slc6_amd64_gcc530

[2017-02-03 14:55] cmsbuild commented on #17368
The cleanup has started for slc6_amd64_gcc620

[2017-02-03 14:55] cmsbuild commented on #17368
The cleanup has started for slc6_amd64_gcc630

[2017-02-03 14:55] cmsbuild commented on #17368
The cleanup has started for slc7_amd64_gcc530

[2017-02-03 14:55] cmsbuild commented on #17368
The cleanup has started for slc7_amd64_gcc620

[2017-02-03 14:55] #17368 closed

[2017-02-03 14:56] cmsbuild commented on #17368
The workspace for slc6_amd64_gcc620 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre3-slc6_amd64_gcc620/547

[2017-02-03 14:58] cmsbuild commented on #17368
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre3-slc6_amd64_gcc630/548

[2017-02-03 14:58] cmsbuild commented on #17368
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre3-slc7_aarch64_gcc530/550

[2017-02-03 14:59] cmsbuild commented on #17368
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre3-slc6_amd64_gcc700/549

[2017-02-03 14:59] cmsbuild commented on #17368
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre3-slc6_amd64_gcc530/546

[2017-02-03 15:05] cmsbuild commented on #17368
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre3-slc7_amd64_gcc530/551

[2017-02-03 15:05] cmsbuild commented on #17368
The workspace for slc7_amd64_gcc620 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre3-slc7_amd64_gcc620/552

[2017-02-03 15:46] Dr15Jones commented on #17256
assign core

[2017-02-03 15:46] cmsbuild commented on #17256
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-03 15:47] Dr15Jones commented on #17256
+1
Fixed with #17266

[2017-02-03 15:47] cmsbuild commented on #17256
This issue is fully signed and ready to be closed.

[2017-02-03 15:48] #17256 closed

[2017-02-03 15:55] Dr15Jones commented on #16121
I used the following simple python file to find all the module types used by a configuration
[code]

Using that script to write out a file and then running edmPluginHelp and filtering the results  (`tail` used to remove some python printouts in the configuration itself)
[code]

for an upgrade workflow running RECO+DQM we get
[code]

For an upgrade workflow running RECO+PAT we get
[code]

[2017-02-03 16:57] davidlt commented on #17375
@davidlange6 the need for RFIO should be discussed somewhere (ORP, Core Software?):
- RFIO deprecated: http://castor.web.cern.ch/
- Ticket for disabling RFIO write ability: https://cern.service-now.com/service-portal/view-outage.do?n=OTG0033733
Contents:
[code]
CASTOR wants people to use `xroot` protocol, which is great from my point of view (means we can remove some stuff).

[2017-02-03 17:36] davidlange6 commented on #17375
I thought the cms castor data at cern was read only since years. Anyway, it's not really for the software groups I think. If we want to find out other users of rfio out there then it's a question for facilities ops.

Cheers,
David

On 3 Feb 2017, at 17:57, davidlt <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> the need for RFIO shou

[2017-02-04 04:13] slava77 commented on #16177
I have updated the PR description with a note on 03Feb2017 re-miniAOD and for now intend to keep the issue open to preserve tracking of other requests that didn't make it to 03Feb2017.
https://cms-pdmv.cern.ch/pmp/historical?r=03Feb2017

[2017-02-04 07:54] cmsbuild commented on #17379
The cleanup has started for slc6_amd64_gcc530

[2017-02-04 07:54] cmsbuild commented on #17379
The cleanup has started for slc7_amd64_gcc530

[2017-02-04 07:54] #17379 closed

[2017-02-04 07:55] cmsbuild commented on #17379
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_26-slc6_amd64_gcc530/553

[2017-02-04 08:01] cmsbuild commented on #17379
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_26-slc7_amd64_gcc530/554

[2017-02-04 09:28] davidlange6 opened #17416 "Build CMSSW_7_6_6_patch1"
Primary change: include new pu scenario

[2017-02-04 09:28] davidlange6 commented on #17416
+1

[2017-02-04 09:29] cmsbuild commented on #17416
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-02-04 09:29] cmsbuild commented on #17416
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_6_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2017-02-04 09:29] cmsbuild commented on #17416
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-02-04 09:31] cmsbuild commented on #17416
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/987/console
CMSDIST Branch: [REL/CMSSW_7_6_6/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_6_6/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-04 09:31] cmsbuild commented on #17416
The build has started for slc7_amd64_gcc493 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/988/console
CMSDIST Branch: [REL/CMSSW_7_6_6/slc7_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_6_6/slc7_amd64_gcc493), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-04 09:47] cmsbuild commented on #17416
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_6_patch1-slc6_amd64_gcc493/987
Some tes

[2017-02-04 09:55] cmsbuild commented on #17416
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_6_patch1-slc7_amd64_gcc493/988
Some tes

[2017-02-04 10:09] cmsbuild commented on #17416
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_6_patch1-slc6_amd64_gcc493/987

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2017-02-04 10:23] cmsbuild commented on #17416
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_6_patch1-slc7_amd64_gcc493/988

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2017-02-04 10:25] davidlange6 commented on #17416
upload all

[2017-02-04 10:26] cmsbuild commented on #17416
Queing Jenkins upload for slc6_amd64_gcc493

[2017-02-04 10:26] cmsbuild commented on #17416
Queing Jenkins upload for slc7_amd64_gcc493

[2017-02-04 10:27] cmsbuild commented on #17416
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/628/console

[2017-02-04 10:28] cmsbuild commented on #17416
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_6_patch1-slc6_amd64_gcc493/628
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-04 10:28] cmsbuild commented on #17416
CERN AFS installation skipped for slc6_amd64_gcc493 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-04 10:28] cmsbuild commented on #17416
The upload has started for slc7_amd64_gcc493 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/629/console

[2017-02-04 10:29] cmsbuild commented on #17416
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_6_patch1-slc7_amd64_gcc493/629
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-04 10:29] cmsbuild commented on #17416
CERN AFS installation skipped for slc7_amd64_gcc493 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-04 10:52] davidlange6 commented on #17416
release-notes

[2017-02-04 10:52] cmsbuild commented on #17416
Generating release notes since CMSSW_7_6_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-04 10:52] cmsbuild commented on #17416
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_6_6_patch1 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_6_patch1

Primary change: include new pu scenario

Cheer

[2017-02-04 10:53] cmsbuild commented on #17416
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_6_patch1

[2017-02-05 06:39] cmsbuild commented on #17399
The cleanup has started for slc7_aarch64_gcc530

[2017-02-05 06:39] cmsbuild commented on #17399
The cleanup has started for slc6_amd64_gcc630

[2017-02-05 06:39] cmsbuild commented on #17399
The cleanup has started for slc6_amd64_gcc700

[2017-02-05 06:39] cmsbuild commented on #17399
The cleanup has started for slc6_amd64_gcc530

[2017-02-05 06:39] cmsbuild commented on #17399
The cleanup has started for slc6_amd64_gcc620

[2017-02-05 06:39] cmsbuild commented on #17399
The cleanup has started for slc7_amd64_gcc530

[2017-02-05 06:39] cmsbuild commented on #17399
The cleanup has started for slc7_amd64_gcc620

[2017-02-05 06:39] #17399 closed

[2017-02-05 06:40] cmsbuild commented on #17399
The workspace for slc6_amd64_gcc620 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre4-slc6_amd64_gcc620/556

[2017-02-05 06:40] cmsbuild commented on #17399
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre4-slc6_amd64_gcc700/558

[2017-02-05 06:41] cmsbuild commented on #17399
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre4-slc6_amd64_gcc530/555

[2017-02-05 06:41] cmsbuild commented on #17399
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre4-slc7_aarch64_gcc530/559

[2017-02-05 06:41] cmsbuild commented on #17399
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre4-slc6_amd64_gcc630/557

[2017-02-05 06:47] cmsbuild commented on #17399
The workspace for slc7_amd64_gcc620 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre4-slc7_amd64_gcc620/561

[2017-02-05 06:48] cmsbuild commented on #17399
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre4-slc7_amd64_gcc530/560

[2017-02-05 10:09] cmsbuild commented on #17407
The cleanup has started for slc6_amd64_gcc530

[2017-02-05 10:09] cmsbuild commented on #17407
The cleanup has started for slc7_amd64_gcc530

[2017-02-05 10:09] #17407 closed

[2017-02-05 10:10] cmsbuild commented on #17407
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_26_patch1-slc6_amd64_gcc530/562

[2017-02-05 10:13] cmsbuild commented on #17407
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_26_patch1-slc7_amd64_gcc530/563

[2017-02-06 09:53] cmsbuild commented on #17416
The cleanup has started for slc6_amd64_gcc493

[2017-02-06 09:53] cmsbuild commented on #17416
The cleanup has started for slc7_amd64_gcc493

[2017-02-06 09:53] #17416 closed

[2017-02-06 09:54] cmsbuild commented on #17416
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_6_patch1-slc6_amd64_gcc493/564

[2017-02-06 09:57] cmsbuild commented on #17416
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_6_patch1-slc7_amd64_gcc493/565

[2017-02-06 12:30] davidlange6 commented on #17386
#17390 is also in pre4.

[2017-02-06 13:01] slava77 commented on #17288
@dan131riley @ianna @davidlange6
we need a resolution here, as this issue will likely block other CTPPS developments (not just the miniAOD).

Is it enough to just use the solution proposed in https://github.com/cms-sw/cmssw/issues/17288#issuecomment-275517327 ?
If so, @dan131riley please make a PR

Thank you.

[2017-02-06 14:43] Dr15Jones commented on #12691
+1

[2017-02-06 14:43] #12691 closed

[2017-02-06 14:44] cmsbuild commented on #12691
This issue is fully signed and ready to be closed.

[2017-02-06 14:56] Dr15Jones commented on #12697
+1
done in commit da6dcad1a23651cba1d4c3c8a3550a7c92232d1e

[2017-02-06 14:56] #12697 closed

[2017-02-06 14:56] cmsbuild commented on #12697
This issue is fully signed and ready to be closed.

[2017-02-06 14:57] Dr15Jones commented on #12810
+1

[2017-02-06 14:57] #12810 closed

[2017-02-06 14:57] cmsbuild commented on #12810
This issue is fully signed and ready to be closed.

[2017-02-06 15:41] Dr15Jones commented on #14409
+1

[2017-02-06 15:46] Dr15Jones opened #17429 "Use consumes info to set what TBranches to fetch"
The TTreeCache wants to know which branches it should be retrieving. Now we go through a training time. We should change this to using the consumes info.

[2017-02-06 15:46] cmsbuild commented on #17429
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-06 15:47] Dr15Jones commented on #17429
assign core

[2017-02-06 15:47] cmsbuild commented on #17429
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-06 23:16] ianna commented on #17288
+1 for @dan131riley solution

[2017-02-07 08:23] ianna commented on #17288
@slava77 - CTPPS code handling of xml parsing is unsafe, especially in multithreaded environment. It has to be rewritten. The changes proposed by @dan131riley are correct since releasing resources will be done correctly, but it may not help CTPPS. I'd rather let the CTPPS group to make necessary changes and I'm willing to help if they do not have resources.

[2017-02-07 08:31] slava77 commented on #17288
On 2/7/17 12:23 AM, Ianna Osborne wrote:

Hi Yana,

I suppose CTPPS developers will need some guidance with an example of a
safe way of handling xml parsing.
I don't know this functionality myself and would like to have an example
as well for future reference.

Thank you.

[2017-02-07 08:36] ianna commented on #17288
@slava77 - it depends on their needs. If it is something changeable, they can follow Magnetic field example using DDLParser: http://cmslxr.fnal.gov/source/MagneticField/GeomBuilder/plugins/VolumeBasedMagneticFieldESProducerFromDB.cc#0141

[2017-02-07 08:38] ianna commented on #17288
@slava77 - BTW I'm planning to lock DDCompactView to disallow its modifications

[2017-02-07 16:05] dan131riley commented on #17288
@slava77 @davidlange6

I'll make a PR for the proposed change, probably late today/early tomorrow (CERN time).  I still don't understand why the code is the way it is, but it is definitely wrong and my patch is at the very least less wrong.  I did run the full matrix with it (with the CTPSS code) and didn't see any regressions.

I agree with @ianna that the CTPPS code has some threading issues--be

[2017-02-07 16:12] Martin-Grunewald commented on #17386
#17438 (needed for ConfDB parsing) - bug fixes in py files

[2017-02-07 16:36] ianna commented on #17288
@dan131riley - thanks!

[2017-02-10 12:52] ianna opened #17483 "ImportError: pycurl"
Using recent IB CMSSW_9_0_X_2017-02-09-2300:
[code]

[2017-02-10 12:53] cmsbuild commented on #17483
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-10 13:08] davidlange6 commented on #17483
that is likely caused by me. will investigate

[2017-02-10 13:34] smuzaffar commented on #17483
@davidlange6 , @iahmad-khan  is looking in to it and I think he already has a fix.

[2017-02-10 13:39] davidlange6 commented on #17483
ok, i think I know what to do too - so I can cross check what @iahmad-khan does

[2017-02-10 14:28] davidlange6 commented on #17386
Some printouts that need fixing

*** MonitorElement: WARNING:setBinLabel: attempting to set label of non-existent bin number for ME: Hcal/DigiPhase1Task/OccupancyCut/FED/
*** MonitorElement: WARNING:setBinLabel: attempting to set label of non-existent bin number for ME: Hcal/DigiPhase1Task/OccupancyCut/FED/
*** MonitorElement: WARNING:setBinLabel: attempting to set label of non-existent bin number

[2017-02-10 16:01] Dr15Jones opened #17487 "Be able to prefetch per event provenance"
When profiling a miniAOD job using many threads the PoolOutputModule was having lock contention with the input source because of delayed reading of the per event provenance. If we could prefetch the per event provenance from the file in the same way we prefetch regular data product branches then the framework could properly schedule the work and avoid the lock contention (since the cache would alr

[2017-02-10 16:01] cmsbuild commented on #17487
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-10 18:48] smuzaffar commented on #17483
@ianna  and @ggovi   cms-sw/cmsdist#2817 shiould fix pycurl

[2017-02-10 18:48] smuzaffar commented on #17483
assign externals

[2017-02-10 18:48] cmsbuild commented on #17483
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-10 18:48] smuzaffar commented on #17483
+externals

[2017-02-10 18:48] cmsbuild commented on #17483
This issue is fully signed and ready to be closed.

[2017-02-10 18:48] #17483 closed

[2017-02-10 20:17] ianna commented on #17483
@smuzaffar and @davidlange6 - thanks!

[2017-02-10 22:56] kpedro88 commented on #17386
FYI, I ran a test for the ME0 reversion to check that GEN-SIM can be reused:
[code]
Then the following script (derived from runTheMatrix for 22823.0, using input GEN-SIM file from `/MinBias_TuneCUETP8M1_14TeV-pythia8/PhaseIIFall16GS82-90X_upgrade2023_realistic_v1-v1/GEN-SIM`):
[code]

The test successfully ran to completion with no strange or unexpected error messages in the logs.

[2017-02-11 10:47] #15390 closed

[2017-02-11 10:48] #17035 closed

[2017-02-13 16:40] davidlange6 opened #17500 "Build CMSSW_8_0_26_patch2"
include fix to mixing module needed for HLT studies

[2017-02-13 16:41] cmsbuild commented on #17500
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-02-13 16:59] davidlange6 commented on #17500
+1

[2017-02-13 17:00] cmsbuild commented on #17500
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_26_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2017-02-13 17:00] cmsbuild commented on #17500
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-02-13 17:01] cmsbuild commented on #17500
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/989/console
CMSDIST Branch: [REL/CMSSW_8_0_26/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_26/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-13 17:01] cmsbuild commented on #17500
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/990/console
CMSDIST Branch: [REL/CMSSW_8_0_26/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_26/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-13 17:02] davidlange6 opened #17501 "Build CMSSW_7_1_25_patch5"
a number of gen and sim level enhancements

[2017-02-13 17:02] cmsbuild commented on #17501
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-02-13 17:21] cmsbuild commented on #17500
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_26_patch2-slc6_amd64_gcc530/989
Some te

[2017-02-13 17:26] cmsbuild commented on #17500
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_26_patch2-slc7_amd64_gcc530/990
Some te

[2017-02-13 17:46] cmsbuild commented on #17500
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_26_patch2-slc6_amd64_gcc530/989

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-13 17:55] cmsbuild commented on #17500
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_26_patch2-slc7_amd64_gcc530/990

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-14 09:47] davidlange6 commented on #17500
upload all

[2017-02-14 09:47] cmsbuild commented on #17500
Queing Jenkins upload for slc6_amd64_gcc530

[2017-02-14 09:47] cmsbuild commented on #17500
Queing Jenkins upload for slc7_amd64_gcc530

[2017-02-14 09:51] cmsbuild commented on #17500
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/630/console

[2017-02-14 09:53] cmsbuild commented on #17500
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/631/console

[2017-02-14 09:53] cmsbuild commented on #17500
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_26_patch2-slc6_amd64_gcc530/630
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-14 09:53] cmsbuild commented on #17500
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-14 09:54] cmsbuild commented on #17500
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_26_patch2-slc7_amd64_gcc530/631
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-14 09:54] cmsbuild commented on #17500
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-14 13:01] davidlange6 commented on #17500
release-notes

[2017-02-14 13:01] davidlange6 commented on #17501
+1

[2017-02-14 13:02] cmsbuild commented on #17500
Generating release notes since CMSSW_8_0_26_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-14 13:02] cmsbuild commented on #17500
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_26_patch2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_26_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_26_patch2

include fix to mixing module needed

[2017-02-14 13:02] cmsbuild commented on #17501
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_25_patch5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2017-02-14 13:02] cmsbuild commented on #17501
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-02-14 13:03] cmsbuild commented on #17500
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_26_patch2

[2017-02-14 13:23] cmsbuild commented on #17501
The build has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/991/console
CMSDIST Branch: [REL/CMSSW_7_1_25/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_25/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-14 13:49] cmsbuild commented on #17501
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_25_patch5-slc6_amd64_gcc481/991
Some te

[2017-02-14 14:08] cmsbuild commented on #17501
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_25_patch5-slc6_amd64_gcc481/991

Tests results:
7 5 4 4 2 tests passed, 0 2 0 0 0 failed

[2017-02-14 15:44] Dr15Jones commented on #17487
assign core

[2017-02-14 15:44] cmsbuild commented on #17487
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-14 15:50] davidlange6 commented on #17501
upload all

[2017-02-14 15:51] cmsbuild commented on #17501
Queing Jenkins upload for slc6_amd64_gcc481

[2017-02-14 15:53] cmsbuild commented on #17501
The upload has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/632/console

[2017-02-14 15:55] cmsbuild commented on #17501
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_25_patch5-slc6_amd64_gcc481/632
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-14 15:55] cmsbuild commented on #17501
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-14 15:59] davidlange6 commented on #17501
release-notes

[2017-02-14 16:00] cmsbuild commented on #17501
Generating release notes since CMSSW_7_1_25_patch4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-14 16:00] cmsbuild commented on #17501
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_25_patch5 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_25_patch4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_25_patch5

a number of gen and sim level enhancements

Cheers,
cm

[2017-02-14 16:01] cmsbuild commented on #17501
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_25_patch5

[2017-02-14 17:06] fwyzard commented on #17386
please consider #17412 as a fix for 900pre4

[2017-02-15 20:11] aperloff opened #17528 "Issue with dictionary generation in Cling (ROOT 6.08.04)"
I have been developing some code for CMSSW. I was originally developing the code in CMSSW_8_1_0_pre16 and recently switched to CMSSW_9_0_0_pre4 (tested also in the latest IB). The code compiles just fine in 81X, but does not compile in 90X. There is some problem with Cling during dictionary generation. I've attached a file containing the scram messages as well as a temporary dictionary file genera

[2017-02-15 20:11] cmsbuild commented on #17528
A new Issue was created by  @aperloff Alexx Perloff.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-15 20:15] aperloff commented on #17528
I forgot to say that the code I'm working on is located at https://github.com/aperloff/cmssw/tree/bin-lookup-JetCorrectorParameters, in case that helps. I'm going to do a pull request once this issue is resolved.

[2017-02-15 20:21] Dr15Jones commented on #17528
@pcanal

[2017-02-15 20:21] Dr15Jones commented on #17528
assign core

[2017-02-15 20:21] cmsbuild commented on #17528
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-15 20:39] pcanal commented on #17528
We recently added support for std::tuple.  Apparently in this case, it fails to find one of the type of the tuple.  Reading the code, I am not sure where this tuple might comes from.  I see there their are tuples in JetCorrectorParametersHelper but I do not see how it connects to one of the classes with a dictionary.   Shortest mean to solution might be to have a reproducer with a debug build of R

[2017-02-15 20:45] aperloff commented on #17528
All of the tuples in JetCorrectorParametersHelper are supposed to be transient. Is there a build of CMSSW that includes a debug build of ROOT that I could test this on?

[2017-02-15 21:17] slava77 opened #17529 "update PFHBHERecHitCreatorMaxSample to use new aux field formats in phase-1 HBHE"
@igv4321 @bachtis

In case PFHBHERecHitCreatorMaxSample is still needed, it should be updated to handle different formatting (8-bit) and possibly also react somehow to plan-1 merged depth hits.
The other option is to remove this code.

@Dr15Jones please assign to reco.
This is a low priority work though.

[2017-02-15 21:17] cmsbuild commented on #17529
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-15 21:18] Dr15Jones commented on #17529
assign reconstruction

[2017-02-15 21:18] cmsbuild commented on #17529
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-16 12:08] cmsbuild commented on #17500
The cleanup has started for slc6_amd64_gcc530

[2017-02-16 12:08] cmsbuild commented on #17500
The cleanup has started for slc7_amd64_gcc530

[2017-02-16 12:08] #17500 closed

[2017-02-16 12:09] cmsbuild commented on #17500
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_26_patch2-slc6_amd64_gcc530/566

[2017-02-16 12:12] cmsbuild commented on #17500
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_26_patch2-slc7_amd64_gcc530/567

[2017-02-16 15:01] #16838 closed

[2017-02-16 15:08] cmsbuild commented on #17501
The cleanup has started for slc6_amd64_gcc481

[2017-02-16 15:08] #17501 closed

[2017-02-16 15:09] cmsbuild commented on #17501
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_25_patch5-slc6_amd64_gcc481/568

[2017-02-16 15:42] davidlange6 commented on #17386
#17539 likely addresses the tracker dqm messages

[2017-02-16 18:13] slava77 commented on #17149
@arizzi @gpetruc
please comment if we should do anything here or if there is someone to follow up

[2017-02-16 19:15] Dr15Jones commented on #17487
Done with #17541

[2017-02-16 20:18] Dr15Jones commented on #16434
#17541 has the beginning of the facility.

[2017-02-17 14:35] Dr15Jones commented on #17487
+1

[2017-02-17 14:36] #17487 closed

[2017-02-17 14:36] cmsbuild commented on #17487
This issue is fully signed and ready to be closed.

[2017-02-17 14:37] Dr15Jones commented on #16166
+1

[2017-02-17 14:38] Dr15Jones commented on #16166
@cvuosalo,@slava77 ping.
I'm assuming this change was satisfactory for this issue.

[2017-02-17 14:40] Dr15Jones commented on #17375
@ericvaandering Do you know if any sites are still using RFIO protocol?

[2017-02-17 14:54] ericvaandering commented on #17375
I don't know. @hufnagel may know or Stefan Lammel.

[2017-02-17 16:08] hufnagel commented on #17375
Easy to check, just grep SITECONF/SITE/PhEDEx/storage.xml for functional rfio:// mappings.

I see rules for T0_CH_CERN and T1_CH_CERN which should be removed. I also see rules for T1_UK_RAL that seem to be functional (makes sense since RAL is using castor disk) and T3_IR_IPM (not sure if that is valid).

Either way, if you we want to abandon the rfio protocol it seems we need to follow up on this.

[2017-02-17 16:12] davidlt commented on #17375
That's the thing. RFIO is being decommissioned and xrootd interface to CASTOR is the official recommendation. Just wanted to re-iterate why we are looking into this.

[2017-02-17 16:13] hufnagel commented on #17375
That's only for CERN though, RAL might have their own requirements. We need to have Site Support check up with them. If for whatever reason they say they can't switch to xrootd and want to stay with rfio...

[2017-02-17 16:14] hufnagel commented on #17375
CERN doesn't set policy on how to use castor for other sites deploying it.

[2017-02-17 16:22] davidlt commented on #17375
Make sense, I didn't think about other sites here.

[2017-02-18 13:31] slava77 opened #17560 "reduce size of egamma energy regressions"
The last update in #17506 has more than doubled the size of payloads consumed by EGExtraInfoModifierFromDB in memory (from 22 MB to 53 MB).

Do we really need the GBRForestD here, can the float precision suffice?
Can some other "compactification" be done?

@lgray @rafaellopesdesa @bendavid

[2017-02-18 13:31] cmsbuild commented on #17560
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-18 13:33] slava77 commented on #17560
@franzoni @arunhep please take a not from alca side as well.
Thanks.

[2017-02-18 13:36] bendavid commented on #17560
So the double precision is definitely needed during the training for the likelihood-based loss functions for numerical stability reasons.  The possibility of converting back to single precision after the training is done has not so far been explored.

In principle possible and I guess it should work, though a little bit of code would be needed (new constructor for the single precision classes taki

[2017-02-20 13:21] davidlange6 commented on #17386
@kpedro88 - regarding the muon changes above, is there any point in worrying about phase 2 in 8_3_0 ? I guess that without more changes from tracking/trigger this is not a useful release?

[2017-02-20 14:11] davidlange6 commented on #17386
#17572

[2017-02-20 14:20] slava77 opened #17573 "LogWarnings/Errors: L3Absolute not found: PATJetUpdater:updatedPatJetsBTAG"
this needs to be understood and demoted or addressed otherwise.
The warning appears in standard 136.731 workflow in 90X now
it was seen since at least CMSSW_8_0_X_2016-09-07-1100
and CMSSW_8_1_X_2016-08-27-1100

@davidlange6 @gpetruc

[2017-02-20 14:20] cmsbuild commented on #17573
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-20 14:24] slava77 opened #17574 "LogWarnings/Errors: PFRecoTauDiscriminationAgainstMuon2::discriminate ... has area = 0"
this needs to be understood and demoted or addressed otherwise.
The warning appears in standard 136.731 workflow in 90X now.
it has been seen since at least CMSSW_8_1_X_2016-10-03-2300 or 810pre13

e.g.
[code]

@davidlange6 @roger-wolf

[2017-02-20 14:24] cmsbuild commented on #17574
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-20 14:30] gpetruc commented on #17573
I think we should get rid of the updatedPatJetsBTAG setup in normal 90X miniAOD production: it doesn't make sense now to first create corrected PAT jets with some b-tagging information, then uncorrect them, make some more b-tag, embed it and then re-correct them back (this was introduced in  #15421 maybe for compatibility with older AODs or miniAOD-from-miniAOD recipes).
In fact, probably we can j

[2017-02-20 15:05] ferencek commented on #17573
@gpetruc, I agree, changes in `PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py` and `PhysicsTools/PatAlgos/python/slimming/slimmedJets_cfi.py` introduced in #15421 should now be safe to remove.

@imarches @carolinecollard @mverzett @JyothsnaKomaragiri

[2017-02-20 15:22] kpedro88 commented on #17386
I guess we should ask the upgrade studies conveners - if they plan to wait for e.g. tracking fake rate fixes to do another production, then it doesn't matter (but we'll then have to remember to revert the ME0 PR for 8_4_0...)

[2017-02-20 15:26] davidlange6 commented on #17386
last week the statement was that they didn’t plan to use 830. but if you can get an update that would be great.

[2017-02-20 15:38] fwyzard commented on #17386
8.3.0 is needed for urgent studies for 2017, not for upgrade studies

[2017-02-20 16:52] aperloff commented on #17528
Hi all, just checking in to see if there was any movement on this. I never heard back if there was a version of CMSSW with a debug build of ROOT.

[2017-02-20 17:38] slava77 opened #17580 "TrackMerger dead assignment: hit2 = hit => his = hit2"
https://github.com/cms-sw/cmssw/pull/17511#pullrequestreview-22808657

Static analyzer points out that hit2 = hit; is a dead assignment.
Based on the PRINT content, it looks like the code should be hit = hit2;

[2017-02-20 17:38] cmsbuild commented on #17580
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-20 18:31] Dr15Jones commented on #17580
assign reconstruction

[2017-02-20 18:32] cmsbuild commented on #17580
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-21 09:06] davidlange6 commented on #17386
we got a tentative no from upgrade so I'll leave out the ME0 revert for the moment.

[2017-02-21 10:41] davidlange6 commented on #17386
my current recipe is

# 17438
git cms-addpkg RecoTracker/DeDx RecoTracker/TkSeedGenerator RecoTauTag/HLTProducers
git cherry-pick 163bdb775fb89e02aa3083e30390757c58f05332 1969bd5e7e80a5969885d28fe8815c074ab6c903

# 17412
git cms-addpkg HLTrigger/Configuration
git cherry-pick 38f6eaf308205396b1c8c5bec61601e16fb955a4 4e316f6227cd70aa64cc482b18a835217e98c109 bc24b4689d001976cd1d939c5e16d9833ddd968d a

[2017-02-21 10:46] davidlange6 commented on #17386
maybe someone will solve the issues with 17579 before the other tests finish, otherwise I'll go ahead.

[2017-02-21 12:32] davidlange6 commented on #17386
https://github.com/cms-sw/cmssw/pull/17585

[2017-02-21 12:32] davidlange6 opened #17586 "Build CMSSW_8_3_0"

[2017-02-21 12:33] cmsbuild commented on #17586
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-02-21 12:33] davidlange6 commented on #17586
+1

[2017-02-21 12:33] cmsbuild commented on #17586
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_3_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_3_X

[2017-02-21 12:33] cmsbuild commented on #17586
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-02-21 12:34] cmsbuild commented on #17586
The build has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/992/console
CMSDIST Branch: [IB/CMSSW_8_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-21 12:34] cmsbuild commented on #17586
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/993/console
CMSDIST Branch: [IB/CMSSW_8_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-21 15:41] cmsbuild commented on #17586
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_3_0-slc6_amd64_gcc530/993
Some tests ( ru

[2017-02-21 16:22] cmsbuild commented on #17586
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_3_0-slc6_amd64_gcc530/993

Tests results:
15 10 9 8 5 1 1 1 tests passed, 1 5 0 0 0 0 0 0 failed

[2017-02-21 17:10] slava77 opened #17593 "HCAL Plan-1: HcalNoiseInfoProducer.cc to look at all merged digis"
https://github.com/cms-sw/cmssw/pull/17581#pullrequestreview-22972210
introduced with
https://github.com/cms-sw/cmssw/pull/17581

@bsunanda @kpedro88

[2017-02-21 17:10] cmsbuild commented on #17593
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-21 17:12] cmsbuild commented on #17586
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_3_0-slc7_amd64_gcc530/992
Some tests ( ru

[2017-02-21 18:01] cmsbuild commented on #17586
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_3_0-slc7_amd64_gcc530/992

Tests results:
15 9 8 7 4 1 1 1 tests passed, 1 6 0 0 0 0 0 0 failed

[2017-02-21 18:54] Dr15Jones commented on #17593
assign reconstruction

[2017-02-21 18:54] cmsbuild commented on #17593
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-21 20:04] davidlange6 commented on #17386
my build was ok- missing the validation go ahead.

[2017-02-21 21:26] kpedro88 opened #17594 "Fix or remove warnings related to "Trie""
This warning message has been around for over a year now and really should be taken care of:
[code]

It shows up when running step2 or step3 (DIGI, RECO). (The last line may be a separate printout, but should also be removed.)

[2017-02-21 21:26] cmsbuild commented on #17594
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-22 11:51] davidlange6 commented on #17594
assign geometry, reco

from a quick look Trie looks to be obsolete?
(at least here, it is filled for no reason that I see: https://github.com/cms-sw/cmssw/blob/53327033fb356b2a704464439ce79fa47a9d1678/RecoTracker/TkDetLayers/src/GeometricSearchTrackerBuilder.cc)

[2017-02-22 11:51] cmsbuild commented on #17594
New categories assigned: geometry

@Dr15Jones,@ianna,@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-22 11:52] davidlange6 commented on #17574
assign reconstruction

[2017-02-22 11:53] cmsbuild commented on #17574
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-22 11:54] #17288 closed

[2017-02-22 11:55] davidlange6 commented on #17594
assign reconstruction

[2017-02-22 11:55] cmsbuild commented on #17594
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-22 13:13] ianna commented on #17594
@ebrondol - Hi Erica, I can see from your comment you had a plan to re-work the code. Please, let me know if this is still work in progress:
https://github.com/cms-sw/cmssw/commit/03eabec6714d97dba17d205fa724d052649f6ce2#diff-97f650aec2f186e5c1c4889d181c23ecR56
Thanks.

[2017-02-22 13:17] ianna commented on #17594
@kpedro88 - Please, let me know which workflows? I do not see the message in step2 of 2.0, 5.1, 110.0, 136.721, etc.

[2017-02-22 13:19] ianna opened #17601 "Replace Depricated Module: Warning from CondCore"
Most of the relvals produce the following message:
[code]
Deprecated file fragment is used in http://cmslxr.fnal.gov/search?_filestring=&_string=CondDBCommon

[2017-02-22 13:20] makortel commented on #17594
@ianna e.g. 10021.0 (2017 TenMu).

[2017-02-22 13:23] ianna commented on #17594
@makortel - thanks!

[2017-02-22 13:34] ebrondol commented on #17594
Hi, it was a working in progress. @VinInn can comment more about it.

[2017-02-22 13:34] davidlange6 commented on #17601
assign simulation

(I’ve already explained the reason to them)

[2017-02-22 13:34] cmsbuild commented on #17601
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-22 13:34] cmsbuild commented on #17601
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-22 13:48] VinInn commented on #17594
we need to remove the code the in question

[2017-02-22 13:52] ianna commented on #17594
@VinInn and @ebrondol - I'd prefer if you do the editing. Please let me know if you need help.

[2017-02-22 13:53] ebrondol commented on #17594
sure, I'll do it.

[2017-02-22 13:54] ianna commented on #17594
@ebrondol - Thanks!

[2017-02-22 13:57] ebrondol commented on #17594
Rimuovo o commento?

On 02/22/2017 02:48 PM, Vincenzo Innocente wrote:

[2017-02-22 14:16] davidlange6 opened #17603 "CMSSW changes requested for spring re-reco of 2016 data"
As proposed in the 21 February ORP, this issue is for your requests for CMSSW changes for the "legacy" re-reco. Please add your requests here for discussion in the 28 February ORP.

Essential information includes:
 - Feature description
 - 80x PR or expected date of completion
 - Is this change in the development release cycle already? if so, approximately when did it enter (for validation bookkee

[2017-02-22 14:16] cmsbuild commented on #17603
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-22 14:17] davidlange6 commented on #17603
assign reconstruction, alca, db, dqm, pdmv

[2017-02-22 14:18] cmsbuild commented on #17603
New categories assigned: dqm,pdmv,db,reconstruction,alca

@fabozzi,@cvuosalo,@vanbesien,@mmusich,@slava77,@ggovi,@cerminar,@srimanob,@arunhep,@dmitrijus,@hengne,@franzoni,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-22 14:29] VinInn commented on #17594
rimuovi, che a Slava i commenti non piacciano...
v.

--
Il est bon de suivre sa pente, pourvu que ce soit en montant.
A.G.
http://www.flickr.com/photos/vin60/1320965757/

[2017-02-22 14:54] slava77 commented on #17603
On 2/22/17 6:16 AM, David Lange wrote:

Are we planning to redo miniAOD for MC?

[2017-02-22 14:56] Dr15Jones opened #17604 "Excessive time spent in PrimaryVertexProducer in 200PU"
Using a 200 pileup based file, we are finding that the module labelled unsortedOfflinePrimaryVertices4D, which is of type PrimaryVertexProducer, can run for an excessively long time. Using CMSSW_9_0_X_2017-02-21-1100 on a KNL machine the module ran for 4 hours before the job was killed.

This is a problem since we want to run this workflow on NERSC to test algorithmic performance but this algorith

[2017-02-22 14:56] cmsbuild commented on #17604
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-22 14:57] Dr15Jones commented on #17604
assign upgrade

[2017-02-22 14:57] Dr15Jones commented on #17604
@lgray

[2017-02-22 14:57] cmsbuild commented on #17604
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-22 14:58] Dr15Jones commented on #17604
@hufnagel

[2017-02-22 14:58] Dr15Jones commented on #17604
@gartung

[2017-02-22 14:58] kpedro88 commented on #17604
@bendavid also

[2017-02-22 14:59] lgray commented on #17604
Thanks. I suspect this might be due to numerical issues on the KNL compared to Xeon. Josh found a nice solution to those that we may want to try.

It should be cherry-pickable so we could test it very quickly.

[2017-02-22 15:04] slava77 commented on #17604
On 2/22/17 6:56 AM, Chris Jones wrote:

For tests you can switch to D4 geometry layout for the existing release.
Next would be to fix the tails in unsortedOfflinePrimaryVertices4D

[2017-02-22 15:05] davidlange6 commented on #17603
I’m not aware of a concrete plan for that, but others may know more than me. It can be useful to track things that need “only” a re-miniaod of the MC to be consistent.

[2017-02-22 15:09] gartung commented on #17604
The KNL cores are on par with first gen core i5 processors unless you are using the avx512 operations directly.

[2017-02-22 15:58] makortel commented on #15496
Reopening as #17605 presents a use case where the `Run2_2017_core` approach does not work well.

@kpedro88

[2017-02-22 16:13] davidlange6 commented on #15496
sometimes a redesign of the hierarchy of objects can be needed due to changes in requirements..

[2017-02-22 16:15] Dr15Jones commented on #15496
@davidlange6 are you advocating making this change or for reworking the Era hierarchy?

[2017-02-22 16:21] davidlange6 commented on #15496
maybe we should discuss starting from an example and decide if we want to support that example or not?

[2017-02-22 16:26] Dr15Jones commented on #17604
For reference, this discussion originated in #17556

[2017-02-22 16:45] ianna opened #17608 "GEM11 Overlap with ME1Ring"
2017 scenario: GEM11 extrudes ME1Ring by 3.3 cm
![screenshot 2017-02-22 17 39 40](https://cloud.githubusercontent.com/assets/1390682/23221921/9d658c18-f926-11e6-848d-be645c0eaee4.png)

[2017-02-22 16:46] cmsbuild commented on #17608
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-22 16:46] ianna commented on #17608
@calabria, @slava77 - FYI

[2017-02-22 17:19] Dr15Jones commented on #17604
I ran the same event on a Xeon system and the module completed in a few minutes. It does appear that the problem is related to a difference between the KNL and Xeon systems when running this algorithm. Numeric instability could definitely trigger such a problem.

@lgray @bendavid could either of you point us to the code modification that was mentioned?

[2017-02-22 17:21] lgray commented on #17604
Yes, I'll send you the branch in a moment. Unless Josh has already cherry
picked the appropriate commits.

-L

On Feb 22, 2017 11:19 AM, "Chris Jones" <notifications@github.com> wrote:

[2017-02-22 17:33] slava77 commented on #17604
On 2/22/17 9:19 AM, Chris Jones wrote:

I've seen (at least an earlier version) getting stuck on intel (whatever
cmsdev02 was early last Fall)

[2017-02-22 17:39] slava77 commented on #17586
@davidlange6
is this release going to come out soon?

[2017-02-22 17:44] davidlange6 commented on #15496
ok, I think I understand the example

There are N (= #of detectors + #of POGs +++) potential groups that want variants of the “default” for each CMS running scenario. In this case “default” is the 2017 configuration baseline.

Matti was the first consumer, so he pushed his tracking configuration out of the “core era” and into an upper level. Then tracking could add its variants

Now… how does the

[2017-02-22 17:45] kpedro88 commented on #15496
@davidlange6 exactly

[2017-02-22 17:47] davidlange6 commented on #17586
pre4 has not yet been validated.. for the sake of Tier0 testing we may have give up...

[2017-02-22 17:48] davidlange6 commented on #17586
ha - except I notice that there are big problems in the IB tests (that did work locally)

[2017-02-22 17:57] gartung commented on #17604
https://github.com/cmssw/cmssw/blob/CMSSW_9_0_X/RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZT.cc#L217

I noticed that you use exp in one case and std::exp in another case. The unscoped one will call the C exp function. Is that what was intended?

[2017-02-22 17:58] gartung commented on #17604
https://github.com/cms-sw/cmssw/blob/CMSSW_9_0_X/RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZT.cc#L217

[2017-02-22 17:59] lgray commented on #17604
Hi,

It should be uniformly called everywhere, in case we want to sub-in the vdt
libraries.

-Lindsey

On Wed, Feb 22, 2017 at 11:57 AM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-22 18:02] lgray commented on #17604
Which CMSSW version are you presently using on the KNL system? (so I can
base this branch correctly)

On Wed, Feb 22, 2017 at 11:58 AM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-22 18:02] gartung commented on #17604
There are quite a few instances of unscoped exp function calls.

[2017-02-22 18:02] gartung commented on #17604
CMSSW_9_0_X_2017-02-21-1100

[2017-02-22 18:14] lgray commented on #17604
Hi,

Could you please try the branch lgray:fix_2d_vertex_stability

Best,
-Lindsey

On Wed, Feb 22, 2017 at 12:02 PM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-22 18:28] gartung commented on #17604
I made these changes as well.

220c220
<     double pmax=k->pk/(k->pk+rho0*exp(-beta*dzCutOff_*dzCutOff_));
---

317c317
< 	double p=y[ik].pk * exp(-beta*e_ik(tks[i],y[ik])) / tks[i].zi*tks[i].pi;
---

606c606
<     tks[i].zi=rho0*exp(-beta*( dzCutOff_*dzCutOff_));
---

608c608
<       tks[i].zi += k->pk * exp(-beta*e_ik(tks[i],*k));
---

624c624
< 	double p = k->pk * exp(-beta*e_ik(tks[i],*k)) /

[2017-02-22 18:31] Dr15Jones commented on #17604
There are also a few other simple things that could speed up the calculation.

Move the following outside of the loop
https://cmssdt.cern.ch/lxr/source/RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZT.cc?v=CMSSW_9_0_X_2017-02-22-0000#0100

Change the loop to be a range based for since you never use `i` for anything but `tks[i]`.
https://cmssdt.cern.ch/lxr/source/RecoVertex/PrimaryVertexProdu

[2017-02-22 18:38] Dr15Jones commented on #15496
It seems to me that `copyAndExclude` doesn't decrease the `ModifierChains` it just creates implicit ones. That is fine if it is used in one and only one place, but the moment the exact same arguments have to be passed to another `copyAndExclude` I'd think you'd have a maintenance burden.

I would think having explicit names would make it easier to follow the era connections rather than having to a

[2017-02-22 20:19] makortel commented on #15496
If I understood Kevin's intention in #17605 correctly, we would need something along (moving `run2_GEM_2017` to current `Run2_2017_core` where it should have been in the first place):
[code]
(details of HCAL sub-eras can be incorrect, but hopefully close enough to make the point)

Same exercise with copyAndExclude
[code]

There is some amount of repeated information (2017 default tracking sub-era

[2017-02-22 20:28] makortel commented on #15496
Let me add after a bit more thought that in my latter example above, I'd likely write
[code]
so I'd be fine if we impose a rule that a `Modifier` can be excluded from the same `ModifierChain` only once (and if more times is needed, better make a named intermediate `ModifierChain`).

[2017-02-22 20:34] kpedro88 commented on #15496
@makortel I definitely agree about multiplicative vs additive scaling, that's why I was hesitant to start refactoring things again.

[2017-02-22 23:05] Dr15Jones commented on #15496
#17612
I'm still not convinced this is the best idea but it takes less effort to make it than to continue discussing it :).

[2017-02-23 00:40] gartung commented on #17604
Ran with just 2 events, one being a problematic event. It too over an hour to complete even with the patch.

TimeReport   0.000167     0.000167     0.000167  uncleanedOnlyMulti5x5SuperClustersWithPreshower
TimeReport   0.000119     0.000119     0.000119  uncleanedOnlyOutInConversionTrackProducer
TimeReport   0.001844     0.001844     0.001844  uncleanedOnlyPfConversions
TimeReport   0.429079     0

[2017-02-23 01:11] gartung commented on #17604
Trying this with vdt::fast_exp in place of std::exp.

[2017-02-23 04:09] gartung commented on #17604
Sadly it made it worse

TimeReport  97.496880    97.496880    97.496880  unsortedOfflinePrimaryVertices
TimeReport  21.750846    21.750846    21.750846  unsortedOfflinePrimaryVertices1D
TimeReport 5019.465432  5019.465432  5019.465432  unsortedOfflinePrimaryVertices4D
TimeReport   0.022433     0.022433     0.022433  vertexMerger
TimeReport   0.000000     0.000000     0.000000  zdcreco
TimeReport

[2017-02-23 08:28] davidlange6 commented on #17586
abort

[2017-02-23 08:28] cmsbuild commented on #17586
Deleting CMSSW_8_3_0:

  -Release successfully deleted

  -cmssw tag CMSSW_8_3_0 successfully deleted.

 -cmsdist tag REL/CMSSW_8_3_0/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_8_3_0/slc7_amd64_gcc530 successfully deleted.

You must create a new issue to start over the build.

[2017-02-23 08:29] #17586 closed

[2017-02-23 08:29] davidlange6 opened #17615 "Build CMSSW_8_3_0"

[2017-02-23 08:29] cmsbuild commented on #17615
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-02-23 08:31] davidlange6 commented on #17615
+1

[2017-02-23 08:32] cmsbuild commented on #17615
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_3_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_3_X

[2017-02-23 08:32] cmsbuild commented on #17615
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-02-23 08:34] cmsbuild commented on #17615
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/994/console
CMSDIST Branch: [IB/CMSSW_8_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-23 08:36] cmsbuild commented on #17615
The build has started for slc7_amd64_gcc530 in cmsbuild32.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/995/console
CMSDIST Branch: [IB/CMSSW_8_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-23 08:50] mverzett commented on #17573
+1 for me

[2017-02-23 11:22] cmsbuild commented on #17615
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_3_0-slc6_amd64_gcc530/994
Some tests ( ru

[2017-02-23 12:14] cmsbuild commented on #17615
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_3_0-slc6_amd64_gcc530/994

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-23 12:22] davidlange6 commented on #17615
upload all

[2017-02-23 12:22] cmsbuild commented on #17615
Queing Jenkins upload for slc6_amd64_gcc530

[2017-02-23 12:22] cmsbuild commented on #17615
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/633/console

[2017-02-23 12:22] cmsbuild commented on #17615
The was error uploading slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_3_0-slc6_amd64_gcc530/633

[2017-02-23 12:25] smuzaffar commented on #17615
I am looking in to it.

--shahzad

On 02/23/2017 01:22 PM, cmsbuild wrote:

[2017-02-23 12:26] cmsbuild commented on #17615
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/634/console

[2017-02-23 12:28] smuzaffar commented on #17615
fixed. Upload is working now.

--shahzad

On 02/23/2017 01:25 PM, Shahzad Malik Muzaffar wrote:

[2017-02-23 12:29] smuzaffar commented on #17615
thanks!

[2017-02-23 12:30] cmsbuild commented on #17615
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_3_0-slc6_amd64_gcc530/634
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-23 12:30] cmsbuild commented on #17615
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-23 12:56] cmsbuild commented on #17615
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_3_0-slc7_amd64_gcc530/995
Some tests ( ru

[2017-02-23 12:56] cmsbuild commented on #17615
Queing Jenkins upload for slc7_amd64_gcc530

[2017-02-23 12:59] cmsbuild commented on #17615
The upload has started for slc7_amd64_gcc530 in cmsbuild32.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/635/console

[2017-02-23 13:01] cmsbuild commented on #17615
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_3_0-slc7_amd64_gcc530/635
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-23 13:01] cmsbuild commented on #17615
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-23 13:07] davidlange6 commented on #17615
release-notes

[2017-02-23 13:07] cmsbuild commented on #17615
does not appear to be a valid release name

[2017-02-23 13:36] davidlange6 commented on #17615
release-notes since CMSSW_8_2_0_patch1

[2017-02-23 13:37] cmsbuild commented on #17615
Generating release notes since CMSSW_8_2_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-23 13:37] cmsbuild commented on #17615
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_3_0 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_2_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_3_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-

[2017-02-23 13:38] cmsbuild commented on #17615
Generating release notes since CMSSW_8_2_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-23 13:38] cmsbuild commented on #17615
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_3_0 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_2_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_3_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-

[2017-02-23 13:43] davidlange6 commented on #17615
release-notes since CMSSW_9_0_0_pre2

[2017-02-23 13:43] cmsbuild commented on #17615
Generating release notes since CMSSW_9_0_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-23 13:43] cmsbuild commented on #17615
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_3_0 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_9_0_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_3_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2017-02-23 13:44] cmsbuild commented on #17615
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_3_0

[2017-02-23 13:44] cmsbuild commented on #17615
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_3_0

[2017-02-23 13:46] smuzaffar commented on #17615
@davidlange6 , does not looks like it used CMSSW_9_0_0_pre2 as ref release. I am looking

[2017-02-23 13:57] smuzaffar commented on #17615
@davidlange6 , are you happy with release notes based on 820_patch1 or want to redo them for 900pre2?

[2017-02-23 14:04] davidlange6 commented on #17615
i’m happy with 820patch1 - they were empty for a while - but seems ok now..(in the end, 820patch1 is ~900pre2)

[2017-02-23 14:07] cmsbuild commented on #17615
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_3_0-slc7_amd64_gcc530/995

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-02-23 15:01] Dr15Jones commented on #17604
For reference, on the Xeon system the module took 869 seconds to complete that event. Given the speed differences between the Xeon and KNL I'd say they are roughly the same performance.

[2017-02-23 15:03] lgray commented on #17604
Have we included the proposed low-hanging speed ups by Chris?
I don't think there is much to do if the state-space for a particular event
is very large (and so causes slow convergence...)

On Thu, Feb 23, 2017 at 9:01 AM, Chris Jones <notifications@github.com>
wrote:

[2017-02-23 15:05] gartung commented on #17604
Not yet. I am attempting to run the Intel Vtune profiler on it first.

From: Lindsey Gray <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Thursday, February 23, 2017 at 9:03 AM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Patrick E Gartung <gartung@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cms-sw/cmssw] Excessive time spent in PrimaryVertexPr

[2017-02-23 16:04] gartung commented on #17604
I incorporated the suggestions on this branch

https://github.com/cms-sw/cmssw/compare/CMSSW_9_0_X...gartung:from-CMSSW_9_0_X_2017-02-22-1100

[2017-02-23 17:44] gartung commented on #17604
Vastly improved performance on problem event. Please review the changes on my branch closely.

TimeReport   0.000082     0.000082     0.000082  uncleanedOnlyOutInConversionTrackProducer
TimeReport   0.001864     0.001864     0.001864  uncleanedOnlyPfConversions
TimeReport   0.433711     0.433711     0.433711  uncleanedOnlyPfTrack
TimeReport   0.000157     0.000157     0.000157  uncleanedOnlyPfTrac

[2017-02-23 17:48] lgray commented on #17604
The changes look correct, but I'd like to confirm with a performance plot
or a per-vertex comparison in that event.

-L

On Thu, Feb 23, 2017 at 11:44 AM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-23 17:52] Dr15Jones commented on #17604
I found a bug in the code `for(auto tk : tks)` needs to be `for(auto& tk: tks)`. The code was modifying a copy, not the actual track.

[2017-02-23 17:55] lgray commented on #17604
Ah, yeah, that would be bad.

On Thu, Feb 23, 2017 at 11:52 AM, Chris Jones <notifications@github.com>
wrote:

[2017-02-23 18:04] gartung commented on #17604
http://en.cppreference.com/w/cpp/language/range-for
says to use
for( auto && tk :tks)
which is what I used.

[2017-02-23 18:06] lgray commented on #17604
no, we don't want to move it out of the vector being iterated over.

Use a auto&.

-L

On Thu, Feb 23, 2017 at 12:04 PM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-23 18:07] lgray commented on #17604
Or I guess it's just storing an rvalue reference rather than moving so it
might be OK?

On Thu, Feb 23, 2017 at 12:06 PM, Lindsey Gray <lindsey.gray@gmail.com>
wrote:

[2017-02-23 18:55] gartung commented on #17604
Results are similar. Root output files copied to cmslpc in these directories

/uscms_data/d2/gartung/

 132317.tev.fnal.gov 132331.tev.fnal.gov 132363.tev.fnal.gov 132370.tev.fnal.gov

[2017-02-23 19:21] gartung commented on #17604
TimeReport  97.322686    97.322686    97.322686  unsortedOfflinePrimaryVertices
TimeReport  22.006020    22.006020    22.006020  unsortedOfflinePrimaryVertices1D
TimeReport   3.347634     3.347634     3.347634  unsortedOfflinePrimaryVertices4D
TimeReport   0.026332     0.026332     0.026332  vertexMerger
TimeReport   0.000000     0.000000     0.000000  zdcreco
TimeReport  per event     per exec

[2017-02-23 19:46] gartung commented on #17604
On cmslpc Xeon node

TimeReport  19.116905    19.116905    19.116905  unsortedOfflinePrimaryVertices
TimeReport   4.480047     4.480047     4.480047  unsortedOfflinePrimaryVertices1D
TimeReport   0.884162     0.884162     0.884162  unsortedOfflinePrimaryVertices4D
TimeReport   0.005403     0.005403     0.005403  vertexMerger
TimeReport   0.000000     0.000000     0.000000  zdcreco
TimeReport  per

[2017-02-23 20:15] gartung commented on #17604
Comparison on cmslpc XEON node for original algorithm

TimeReport  18.782929    18.782929    18.782929  unsortedOfflinePrimaryVertices
TimeReport   4.297898     4.297898     4.297898  unsortedOfflinePrimaryVertices1D
TimeReport 556.998504   556.998504   556.998504  unsortedOfflinePrimaryVertices4D
TimeReport   0.005675     0.005675     0.005675  vertexMerger
TimeReport   0.000000     0.000000

[2017-02-23 20:21] lgray commented on #17604
Thanks Patrick, I'll make a PR to the original algorithm to see if there's
any physics impact (same piece of code should be slow in both!).

Best,
-Lindsey

On Thu, Feb 23, 2017 at 2:15 PM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-23 21:10] gartung commented on #17604
64s/64t 128 events on KNL. Much better...

TimeReport   0.303056     0.303056     0.303056  uncleanedOnlyPfTrackElec
TimeReport 114.332794   114.332794   114.332794  unsortedOfflinePrimaryVertices
TimeReport  23.326733    23.326733    23.326733  unsortedOfflinePrimaryVertices1D
TimeReport   3.480172     3.480172     3.480172  unsortedOfflinePrimaryVertices4D
TimeReport   0.087038     0.087038

[2017-02-23 21:18] gartung commented on #17604
On cmslpc, stall graph and logs in
/uscms_data/d2/gartung/132376.tev.fnal.gov

[2017-02-23 21:20] lgray commented on #17604
If you add in my commits from https://github.com/cms-sw/cmssw/pull/17622
you should see an even better improvement.
The same issue was present in the vectorized code.

On Thu, Feb 23, 2017 at 3:10 PM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-23 21:56] gartung commented on #17604
XEON with #17622

TimeReport  18.831715    18.831715    18.831715  unsortedOfflinePrimaryVertices
TimeReport   4.190681     4.190681     4.190681  unsortedOfflinePrimaryVertices1D
TimeReport 557.451650   557.451650   557.451650  unsortedOfflinePrimaryVertices4D
TimeReport   0.005501     0.005501     0.005501  vertexMerger
TimeReport   0.000000     0.000000     0.000000  zdcreco
TimeReport  per eve

[2017-02-23 21:57] gartung commented on #17604
Using range-for statements where possible might improve #17622 slightly.

[2017-02-23 22:00] Dr15Jones commented on #17604
With #17622 on Xeon
[code]

With the old algorithm on Xeon
[code]

with Patrick's full changes (which include changing to range based for loops)
[code]

So clearly the range based for loops are an essential component.

[2017-02-23 22:01] lgray commented on #17604
So the improvement comes from the range fors and not the loop clipping?
Somehow that doesn't strike me as true.

On Thu, Feb 23, 2017 at 3:57 PM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-23 22:04] Dr15Jones commented on #17604
The range based for may make it much easier for the optimizer

[2017-02-23 22:04] gartung commented on #17604
I am double checking the test with no modifications now.

It is possible the the compiler knows how to vectorize the range-for statement.

[2017-02-23 22:05] lgray commented on #17604
Jesus take the wheel...

On Thu, Feb 23, 2017 at 4:04 PM, Patrick Gartung <notifications@github.com>
wrote:

[2017-02-23 22:07] Dr15Jones commented on #17604
The loop clipping happened in `purge` but all debug and profiling we did said the algorithm was spending the absolute majority of its times in `update`.

[2017-02-23 22:11] lgray commented on #17604
OK There's also a bug. Zi is never reset per track, when it should be.

https://github.com/gartung/cmssw/blob/b061093a4212690088b9f4273223da6fcc9991c1/RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZT.cc#L95

On Thu, Feb 23, 2017 at 4:07 PM, Chris Jones <notifications@github.com>
wrote:

[2017-02-23 22:25] lgray commented on #17604
Updated #17622, moving making sure to move the initial value of Zi out of
the loop and to reset it each time to the correct value.
Please give it a try.

This was already done in the vectorized version of the code. So no speed up
expected there.

On Thu, Feb 23, 2017 at 4:11 PM, Lindsey Gray <lindsey.gray@gmail.com>
wrote:

[2017-02-23 22:58] gartung commented on #17604
The clang-modernize extension can change for loops to range-for loops automatically when appropriate, ie when the index value is not referenced.

[2017-02-24 00:31] gartung commented on #17604
Results are the same are before with your branch. I can only speculate the I created a vectorized for loop somewhere. I will look at the difference in assembly generated by the compiler for your file and mine.

TimeReport  18.140637    18.140637    18.140637  unsortedOfflinePrimaryVertices
TimeReport   4.118666     4.118666     4.118666  unsortedOfflinePrimaryVertices1D
TimeReport 519.004210   519

[2017-02-24 00:34] lgray commented on #17604
Oh well, speed improvement was a bug.

On Feb 23, 2017 18:31, "Patrick Gartung" <notifications@github.com> wrote:

[2017-02-24 13:45] gartung commented on #17604
KNL 64/64 128 events
One event lasted 10 hours. Logs and stall graph on cmslpc at
/uscms_data/d2/gartung/132414.tev.fnal.gov

TimeReport 109.267564   109.267564   109.267564  unsortedOfflinePrimaryVertices
TimeReport  22.353710    22.353710    22.353710  unsortedOfflinePrimaryVertices1D
TimeReport 1181.681153  1181.681153  1181.681153  unsortedOfflinePrimaryVertices4D
TimeReport   0.086290     0.0

[2017-02-24 13:49] gartung commented on #17604
Fixing the bug on my branch and running on XEON performance is worse than original.

TimeReport  18.888834    18.888834    18.888834  unsortedOfflinePrimaryVertices
TimeReport   4.351542     4.351542     4.351542  unsortedOfflinePrimaryVertices1D
TimeReport 1190.685604  1190.685604  1190.685604  unsortedOfflinePrimaryVertices4D
TimeReport   0.005536     0.005536     0.005536  vertexMerger
TimeRepo

[2017-02-24 13:49] lgray commented on #17604
At this point I'd have to look in detail at what is going on with the
convergence of the algorithm.
If it turns out that a large portion of the vertices are staying the same
iteration to iteration in these slowly converging events, then caching
might be a way around it (if vertex has been altered or is new recalculate,
else use cached value), since the energy of the system is defined by the
vertex

[2017-02-24 14:18] Dr15Jones commented on #17604
I also ran variations of the implementation last night.

1. changing just `tks[i].dz2 * tks[i].dt2` to `tks[i].dz2 + tks[i].dt2` made the two events run faster
TimeReport 153.386689   153.386689   153.386689  unsortedOfflinePrimaryVertices4D

2. starting from Patrick's branch and correcting the `Zi` reset and changed `double zratio = k->pk*k->ei/Zi;` to `const double zratio = tk.pi*k->ei/Zi;` (sin

[2017-02-24 15:19] Dr15Jones commented on #17604
I think one of the problems is the behavior of `update` with respect to a large number of vertices. If you have a job that has 100 vertices and another one that had 10,000 then because the return value of `update` is the sum of all movement changes from all vertices, then the job with 10,000 vertices is required to have an average per vertex delta 100x smaller than the average per vertex delta for

[2017-02-24 16:32] Dr15Jones commented on #17604
As a test, I changed the return value of `update` from `return delta;` to `return delta/y.size()`. I did this on top of Patrick's branch. In that case the module ran ~3.5x faster
TimeReport 696.010855   696.010855   696.010855  unsortedOfflinePrimaryVertices4D

The returned result had 8 additional vertices but the distributions looked to be pretty much the same.

[2017-02-24 17:45] Dr15Jones commented on #17604
As one last test, for all cases where there was a comparison `update(...) > x` I changed to `update(...) >x/10` for the code where I compute the average delta. This was done to compensate for averaging over straight summing. In that case the speedup is only a factor of 2 but the algorithm finds the same number of vertices, although the distributions are a little different between this version and

[2017-02-24 22:32] hufnagel commented on #16767
Ok, has this completely died or is someone working on this ? Or at least supposed to work ?

[2017-02-25 12:55] cmsbuild commented on #17615
The cleanup has started for slc6_amd64_gcc530

[2017-02-25 12:55] cmsbuild commented on #17615
The cleanup has started for slc7_amd64_gcc530

[2017-02-25 12:55] #17615 closed

[2017-02-25 12:58] cmsbuild commented on #17615
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_3_0-slc6_amd64_gcc530/569

[2017-02-25 13:03] cmsbuild commented on #17615
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_3_0-slc7_amd64_gcc530/570

[2017-02-26 12:28] davidlange6 opened #17631 "Build CMSSW_9_0_0_pre5"
Primary purpose: Development, last open release in 9_0_0 cycle. Includes plan0->plan1 switchover in HCAL/HE for 2017

[2017-02-26 12:28] cmsbuild commented on #17631
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-02-26 12:28] davidlange6 commented on #17631
+1

[2017-02-26 12:28] cmsbuild commented on #17631
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-02-26 12:28] cmsbuild commented on #17631
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc6_amd64_gcc620, slc7_aarch64_gcc700, slc7_amd64_gcc620, slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture i

[2017-02-26 12:30] cmsbuild commented on #17631
The build has started for slc7_aarch64_gcc530 in hwei-2180-ol-10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/996/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-26 12:30] cmsbuild commented on #17631
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/997/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-26 12:38] cmsbuild commented on #17631
The build has started for slc7_amd64_gcc530 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/998/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-26 12:40] cmsbuild commented on #17631
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/999/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-26 12:40] cmsbuild commented on #17631
The build has started for slc7_amd64_gcc620 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1000/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc620](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc620), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-26 13:18] cmsbuild commented on #17631
The build has started for slc6_amd64_gcc620 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1001/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc620](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc620), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-26 15:28] cmsbuild commented on #17631
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1002/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-26 15:44] cmsbuild commented on #17631
The build has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1003/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-26 17:31] cmsbuild commented on #17631
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc530/999
Some tests

[2017-02-26 17:49] slava77 opened #17634 "Skims_PDWG_cff broken by load of HLT_Fake1_cff in 2017 Eras"
while testing prompt reco setup for 2017 with 90X (reusing skims from 2016 setups) I get

[code]

Equivalent parsing works for 2016 era.

@fwyzard @Martin-Grunewald

[2017-02-26 17:49] cmsbuild commented on #17634
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-26 18:05] cmsbuild commented on #17631
The build has finished sucessfully for the architecture slc6_amd64_gcc620 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc620/1001
Some test

[2017-02-26 18:17] cmsbuild commented on #17631
The build has finished sucessfully for the architecture slc7_amd64_gcc620 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc7_amd64_gcc620/1000
Some test

[2017-02-26 18:20] cmsbuild commented on #17631
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc530/999

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-26 18:36] slava77 commented on #17634
Skims_PDWG_cff only needs hltGtDigis from HLT_Fake1_cff,
while the complete HLT_Fake1_cff now brings in modifyHLTforEras which changes pixel, tracking, HE and HF. None of these modifications should appear in PromptReco config.
So, some factorization or just complete removal of hltGtDigis-related logic in Skims_PDWG_cff is needed.

[2017-02-26 18:40] cmsbuild commented on #17631
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc700/1003

[2017-02-26 19:11] cmsbuild commented on #17631
The tests have finished for slc6_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc620/1001

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-26 19:12] cmsbuild commented on #17631
The tests have finished for slc7_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc7_amd64_gcc620/1000

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-02-26 19:17] slava77 commented on #17634
I added a "fix" in
https://github.com/cms-sw/cmssw/pull/17635/files#diff-741aef363ff7c3f319c3f9ffbe418f3aR30

[2017-02-26 19:55] cmsbuild commented on #17631
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc7_amd64_gcc530/998
Some tests

[2017-02-26 20:01] davidlange6 commented on #17634
assign pdmv

[2017-02-26 20:01] cmsbuild commented on #17634
New categories assigned: pdmv

@fabozzi,@srimanob,@hengne you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-02-26 20:03] davidlange6 commented on #17631
the runTheMatrix failure is from data availability it seems. I will wait until I see a full IB test to run (which means tomorrow AM at this point)

Failed to open the file 'root://eoscms//eos/cms/store/data/Run2011A/Cosmics/RAW/v1/000/160/960/049F6443-8E53-E011-A943-003048F117EA.root?svcClass=default'
   Additional Info:
      [a] Input file root://eoscms//eos/cms/store/data/Run2011A/Cosmics/RAW/v

[2017-02-26 20:34] cmsbuild commented on #17631
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc630/1002
Some test

[2017-02-26 20:56] cmsbuild commented on #17631
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc7_amd64_gcc530/998

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-02-26 21:42] cmsbuild commented on #17631
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc630/1002

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-02-26 22:49] fwyzard commented on #17634
while the complete HLT_Fake1_cff now brings in modifyHLTforEras which changes pixel, tracking, HE and HF. None of these modifications should appear in PromptReco config.
So, some factorization or just complete removal of hltGtDigis-related logic in Skims_PDWG_cff is needed.

The HLT-related customisations should affect (by construction) only the HLT part or the configuration.
So the problem is tha

[2017-02-26 23:03] slava77 commented on #17634
On 2/26/17 2:49 PM, Andrea Bocci wrote:

Well, HLT_Fake1_cff apparently doesn't contain the full table
and still calls customisations that imply the full table is there.
So, by itself it's broken.

[2017-02-26 23:06] fwyzard commented on #17634
Yes, that's what I'm asking - if the problem is with the fake HLT menus and the customisations, or if somehow the customisations were affecting something outside of the HLT menus.

[2017-02-26 23:11] slava77 commented on #17634
On 2/26/17 3:06 PM, Andrea Bocci wrote:

In the specific case I was looking at,
the HLT part appropriately stayed with "fragment" and has not propagated
to the main "process" object.
So, the problem is apparently with the fake menu
 [although I haven't made an effort to trace if a proper fake menu as it
would come in step2 of MC is completely provided by HLT_Fake1_cff or if
there is something else

[2017-02-27 05:50] davidlange6 commented on #17631
upload all

On 26 Feb 2017, at 21:35, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here

[2017-02-27 05:51] cmsbuild commented on #17631
Queing Jenkins upload for slc6_amd64_gcc530

[2017-02-27 05:51] cmsbuild commented on #17631
Queing Jenkins upload for slc6_amd64_gcc620

[2017-02-27 05:51] cmsbuild commented on #17631
Queing Jenkins upload for slc6_amd64_gcc630

[2017-02-27 05:51] cmsbuild commented on #17631
Queing Jenkins upload for slc7_amd64_gcc530

[2017-02-27 05:51] cmsbuild commented on #17631
Queing Jenkins upload for slc7_amd64_gcc620

[2017-02-27 05:52] cmsbuild commented on #17631
The upload has started for slc6_amd64_gcc620 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/637/console

[2017-02-27 05:52] cmsbuild commented on #17631
The upload has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/638/console

[2017-02-27 05:52] cmsbuild commented on #17631
The upload has started for slc7_amd64_gcc530 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/639/console

[2017-02-27 05:52] cmsbuild commented on #17631
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/636/console

[2017-02-27 05:56] cmsbuild commented on #17631
The upload has successfully finished for slc6_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc620/637
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-27 05:57] cmsbuild commented on #17631
CERN AFS installation skipped for slc6_amd64_gcc620 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-27 05:57] cmsbuild commented on #17631
The upload has started for slc7_amd64_gcc620 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/640/console

[2017-02-27 05:57] cmsbuild commented on #17631
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre5-slc7_amd64_gcc530/639
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-27 05:57] cmsbuild commented on #17631
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-27 05:58] cmsbuild commented on #17631
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc630/638
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-27 05:58] cmsbuild commented on #17631
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-27 05:59] cmsbuild commented on #17631
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre5-slc6_amd64_gcc530/636
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-27 05:59] cmsbuild commented on #17631
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-27 06:00] davidlange6 commented on #17631
release-notes

On 27 Feb 2017, at 06:59, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since <previous-release>", in the first line of your comment.
I will generate the release notes based on the release

[2017-02-27 06:00] cmsbuild commented on #17631
Generating release notes since CMSSW_9_0_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-02-27 06:00] cmsbuild commented on #17631
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_0_0_pre5 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc620
slc6_amd64_gcc630
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_9_0_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_0_pre5

Primary purpos

[2017-02-27 06:01] cmsbuild commented on #17631
The upload has successfully finished for slc7_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre5-slc7_amd64_gcc620/640
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-02-27 06:01] cmsbuild commented on #17631
CERN AFS installation skipped for slc7_amd64_gcc620 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-02-27 06:13] cmsbuild commented on #17631
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0_pre5

[2017-02-27 14:45] civanch commented on #17601
PR #17607 should address the issue

[2017-02-27 17:46] aperloff commented on #17528
With @Dr15Jones  help I found a workaround to my problem. I haven't exactly solved the initial issue, but the code I was writing is no longer affected. I'm therefore going to close this issue.

[2017-02-27 17:46] #17528 closed

[2017-02-27 18:15] #17634 closed

[2017-02-27 18:47] slava77 commented on #17574
fixed in #17620

[2017-02-27 18:47] #17574 closed

[2017-02-28 14:54] slava77 commented on #16177
Moving to https://github.com/cms-sw/cmssw/issues/17603

[2017-02-28 14:54] #16177 closed

[2017-02-28 15:07] boudoul commented on #17603
Greetings, I asked @dmitrijus to put here this PR  #17592 , but since the ORP is in less than 1 hour, i'm doing myself (as Tracker DPG ).
Answering here the questions raised in  the description of this issue :
This PR is just adding some monitoring strip plots which could be useful for the re-reco - fully signed (but ORP )
Backport of the same code from the already merged a month ago PR in 90X : #

[2017-02-28 15:22] slava77 commented on #17603
RECO-related PRs and features (I intend to edit this post once new contributions show up or the available ones change):

Affects RECO only
- ECAL ES dead plane treatment
    - https://github.com/cms-sw/cmssw/pull/17219
    - will need a GT; the part handled in PPD
- ECAL EB multifit using max-sample for gain-switched rechits
    - https://github.com/cms-sw/cmssw/pull/17259
    - This PR doesn't en

[2017-02-28 16:39] slava77 commented on #17603
From reco: I added Tau PR #17292 in https://github.com/cms-sw/cmssw/issues/17603#issuecomment-283068710

[2017-02-28 20:26] davidlange6 opened #17655 "Build CMSSW_8_4_0"

[2017-02-28 20:26] cmsbuild commented on #17655
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-02-28 20:28] davidlange6 commented on #17655
+1

[2017-02-28 20:29] cmsbuild commented on #17655
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_4_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_4_X

[2017-02-28 20:29] cmsbuild commented on #17655
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-02-28 20:29] cmsbuild commented on #17655
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1004/console
CMSDIST Branch: [IB/CMSSW_8_4_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_4_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-02-28 20:30] cmsbuild commented on #17655
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0-slc7_amd64_gcc530/1005

[2017-02-28 20:33] cmsbuild commented on #17655
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0-slc7_amd64_gcc530/1006

[2017-02-28 20:35] cmsbuild commented on #17655
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0-slc7_amd64_gcc530/1007

[2017-02-28 20:38] smuzaffar commented on #17655
@davidlange6 , there is some issue with docker https://status.docker.com/
Once it is solbved then I will re-trigger the slc7 build.

[2017-02-28 23:07] cmsbuild commented on #17655
The build has started for slc7_amd64_gcc530 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1008/console
CMSDIST Branch: [IB/CMSSW_8_4_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_4_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-01 00:37] cmsbuild commented on #17655
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0-slc6_amd64_gcc530/1004
Some tests ( r

[2017-03-01 01:44] cmsbuild commented on #17655
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0-slc6_amd64_gcc530/1004

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-01 05:02] cmsbuild commented on #17655
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0-slc7_amd64_gcc530/1008
Some tests ( r

[2017-03-01 05:08] cmsbuild commented on #17631
The cleanup has started for slc6_amd64_gcc700

[2017-03-01 05:08] cmsbuild commented on #17631
The cleanup has started for slc6_amd64_gcc530

[2017-03-01 05:08] cmsbuild commented on #17631
The cleanup has started for slc6_amd64_gcc620

[2017-03-01 05:08] cmsbuild commented on #17631
The cleanup has started for slc6_amd64_gcc630

[2017-03-01 05:08] cmsbuild commented on #17631
The cleanup has started for slc7_amd64_gcc530

[2017-03-01 05:08] cmsbuild commented on #17631
The cleanup has started for slc7_amd64_gcc620

[2017-03-01 05:08] #17631 closed

[2017-03-01 05:11] cmsbuild commented on #17631
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre5-slc6_amd64_gcc630/573

[2017-03-01 05:11] cmsbuild commented on #17631
The workspace for slc6_amd64_gcc620 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre5-slc6_amd64_gcc620/572

[2017-03-01 05:11] cmsbuild commented on #17631
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre5-slc6_amd64_gcc530/571

[2017-03-01 05:13] cmsbuild commented on #17631
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre5-slc6_amd64_gcc700/574

[2017-03-01 05:24] cmsbuild commented on #17631
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre5-slc7_amd64_gcc530/575

[2017-03-01 05:25] cmsbuild commented on #17631
The workspace for slc7_amd64_gcc620 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre5-slc7_amd64_gcc620/576

[2017-03-01 06:30] cmsbuild commented on #17655
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0-slc7_amd64_gcc530/1008

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-01 08:57] davidlange6 commented on #17655
upload all

[2017-03-01 08:57] cmsbuild commented on #17655
Queing Jenkins upload for slc6_amd64_gcc530

[2017-03-01 08:57] cmsbuild commented on #17655
Queing Jenkins upload for slc7_amd64_gcc530

[2017-03-01 09:00] cmsbuild commented on #17655
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/641/console

[2017-03-01 09:02] cmsbuild commented on #17655
The upload has started for slc7_amd64_gcc530 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/642/console

[2017-03-01 09:05] cmsbuild commented on #17655
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_4_0-slc6_amd64_gcc530/641
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-01 09:05] cmsbuild commented on #17655
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-01 09:10] cmsbuild commented on #17655
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_4_0-slc7_amd64_gcc530/642
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-01 09:10] cmsbuild commented on #17655
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-01 09:27] davidlange6 commented on #17655
release-notes

[2017-03-01 09:28] cmsbuild commented on #17655
Previous release "" does not appear to be a valid release name

[2017-03-01 09:28] davidlange6 commented on #17655
release-notes CMSSW_8_3_0

[2017-03-01 10:08] davidlange6 commented on #17655
release-notes since CMSSW_8_3_0

[2017-03-01 10:09] cmsbuild commented on #17655
Generating release notes since CMSSW_8_3_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-03-01 10:09] cmsbuild commented on #17655
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_4_0 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_3_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_4_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2017-03-01 10:09] cmsbuild commented on #17655
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_4_0 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_3_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_4_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2017-03-01 10:19] cmsbuild commented on #17655
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_4_0

[2017-03-01 10:19] cmsbuild commented on #17655
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_4_0

[2017-03-01 11:21] ebrondol commented on #17594
@kpedro88 should we close it?

[2017-03-01 11:25] fwyzard opened #17664 "conddb dump creates an invalid XML file"
For example, with CMSSW_9_0_0_pre5
[code]
results in a file that is missing the closing `</boost_serialization>` tag:
[code]

This causes errors when using the resulting file with other tools like `xml_grep`:
[code]

[2017-03-01 11:25] cmsbuild commented on #17664
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-01 11:25] fwyzard commented on #17664
@ggovi

[2017-03-01 14:26] Dr15Jones commented on #17664
assign db

[2017-03-01 14:26] cmsbuild commented on #17664
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-01 15:02] kpedro88 commented on #17594
@slava77 should close it

[2017-03-01 15:09] slava77 commented on #17594
+1

fixed in #17652
I don't think I can close it

[2017-03-01 15:12] #17594 closed

[2017-03-01 17:32] slava77 opened #17673 "900pre5 wrong dictionary placement in SimTracker/TrackTriggerAssociation/src/classes_def.xml"
https://cmssdt.cern.ch/SDT/cgi-bin/showDupDict.py//slc6_amd64_gcc530/www/wed/9.0-wed-11/CMSSW_9_0_X_2017-03-01-1100/testLogs/dupDict-lostDefs.log

- ``` TrackingAnalysis : edm::Ptr< TrackingParticle > ``` should be in SimDataFormats/TrackingAnalysis as suggested in the log
- ``` TrackingAnalysis : vector< edm::Ptr< TrackingParticle > > ``` should be in SimDataFormats/TrackingAnalysis as suggested

[2017-03-01 17:32] cmsbuild commented on #17673
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-01 17:34] kpedro88 commented on #17673
@sviret this looks like a lingering issue from #16303

[2017-03-02 08:43] sviret commented on #17673
@kpedro88 , the trackingParticle move has been made in #16331, but the PR has not been merged yet. For the rest I agree it should stay i TrackTriggerAssociation package, as these are objects only related to this package.

[2017-03-02 19:46] davidlange6 opened #17757 "Build CMSSW_9_0_0_pre6"

[2017-03-02 19:46] cmsbuild commented on #17757
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-02 19:47] davidlange6 commented on #17757
+1

(will be fun if frontier still doesn't work)

[2017-03-02 19:47] cmsbuild commented on #17757
Queuing Jenkins build for the following architectures: slc7_amd64_gcc530, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc620
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-03-02 19:48] cmsbuild commented on #17757
The build has started for slc7_amd64_gcc620 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1011/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc620](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc620), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-02 19:48] cmsbuild commented on #17757
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1009/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-02 19:48] cmsbuild commented on #17757
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1010/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-02 19:48] cmsbuild commented on #17757
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1012/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-02 23:24] cmsbuild commented on #17757
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc6_amd64_gcc630/1012
Some test

[2017-03-03 00:00] cmsbuild commented on #17757
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc6_amd64_gcc530/1009
Some test

[2017-03-03 00:25] cmsbuild commented on #17757
The build has finished sucessfully for the architecture slc7_amd64_gcc620 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc620/1011
Some test

[2017-03-03 00:34] cmsbuild commented on #17757
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc6_amd64_gcc630/1012

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-03 00:57] cmsbuild commented on #17757
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc6_amd64_gcc530/1009

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-03 01:29] cmsbuild commented on #17757
The tests have finished for slc7_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc620/1011

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-03 01:47] cmsbuild commented on #17757
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc530/1010
Some test

[2017-03-03 02:50] cmsbuild commented on #17757
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc530/1010

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-03 06:42] davidlange6 commented on #17757
upload all

[2017-03-03 06:43] cmsbuild commented on #17757
Queing Jenkins upload for slc6_amd64_gcc530

[2017-03-03 06:43] cmsbuild commented on #17757
Queing Jenkins upload for slc6_amd64_gcc630

[2017-03-03 06:43] cmsbuild commented on #17757
Queing Jenkins upload for slc7_amd64_gcc530

[2017-03-03 06:43] cmsbuild commented on #17757
Queing Jenkins upload for slc7_amd64_gcc620

[2017-03-03 06:45] cmsbuild commented on #17757
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/644/console

[2017-03-03 06:45] cmsbuild commented on #17757
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/643/console

[2017-03-03 06:45] cmsbuild commented on #17757
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/645/console

[2017-03-03 06:47] cmsbuild commented on #17757
The upload has started for slc7_amd64_gcc620 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/646/console

[2017-03-03 06:49] cmsbuild commented on #17757
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc530/645
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-03 06:49] cmsbuild commented on #17757
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-03 06:51] cmsbuild commented on #17757
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre6-slc6_amd64_gcc630/644
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-03 06:51] cmsbuild commented on #17757
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-03 06:52] cmsbuild commented on #17757
The upload has successfully finished for slc7_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc620/646
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-03 06:52] cmsbuild commented on #17757
CERN AFS installation skipped for slc7_amd64_gcc620 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-03 06:54] cmsbuild commented on #17757
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre6-slc6_amd64_gcc530/643
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-03 06:54] cmsbuild commented on #17757
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-03 07:28] davidlange6 opened #17760 "Build CMSSW_8_4_0_patch1"
Fixes for HCAL DQM and HCAL cosmics reco for MWGR#2 (and only for MWGR#2)

[2017-03-03 07:28] cmsbuild commented on #17760
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-03 07:30] davidlange6 commented on #17760
+1

[2017-03-03 07:31] cmsbuild commented on #17760
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_4_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_4_X

[2017-03-03 07:31] cmsbuild commented on #17760
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-03-03 07:31] cmsbuild commented on #17760
The build has started for slc7_amd64_gcc530 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1013/console
CMSDIST Branch: [REL/CMSSW_8_4_0/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_4_0/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-03 08:05] cmsbuild commented on #17760
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch1-slc7_amd64_gcc530/1013
Some te

[2017-03-03 08:17] cmsbuild commented on #17760
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1014/console
CMSDIST Branch: [REL/CMSSW_8_4_0/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_4_0/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-03 08:57] davidlange6 commented on #17757
release-notes

On 3 Mar 2017, at 07:55, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since <previous-release>", in the first line of your comment.
I will generate the release notes based on the release t

[2017-03-03 08:57] cmsbuild commented on #17757
Generating release notes since CMSSW_9_0_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-03-03 08:57] cmsbuild commented on #17757
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_0_0_pre6 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc620

The release notes of what changed with respect to CMSSW_9_0_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_0_pre6

Cheers,
cms-bo

[2017-03-03 08:59] cmsbuild commented on #17760
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch1-slc7_amd64_gcc530/1013

Tests results:
16 15 14 11 4 1 1 1 tests passed, 0 1 0 1 3 0 0 0 failed

[2017-03-03 08:59] cmsbuild commented on #17757
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0_pre6

[2017-03-03 09:06] cmsbuild commented on #17760
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch1-slc6_amd64_gcc530/1014
Some te

[2017-03-03 09:24] cmsbuild commented on #17655
The cleanup has started for slc7_amd64_gcc530

[2017-03-03 09:24] cmsbuild commented on #17655
The cleanup has started for slc6_amd64_gcc530

[2017-03-03 09:24] cmsbuild commented on #17655
The cleanup has started for slc7_amd64_gcc530

[2017-03-03 09:24] #17655 closed

[2017-03-03 11:56] davidlange6 commented on #17760
abort - will pick up an additional commit to avoid the matrix test failures

[2017-03-03 12:13] davidlange6 commented on #17760
abort

[2017-03-03 12:14] cmsbuild commented on #17760
Deleting CMSSW_8_4_0_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_8_4_0_patch1 successfully deleted.

 -cmsdist tag REL/CMSSW_8_4_0_patch1/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_8_4_0_patch1/slc7_amd64_gcc530 successfully deleted.

You must create a new issue to start over the build.

[2017-03-03 12:28] #17760 closed

[2017-03-03 12:29] davidlange6 opened #17764 "Build CMSSW_8_4_0_patch1"

[2017-03-03 12:29] davidlange6 commented on #17764
+1

[2017-03-03 12:29] cmsbuild commented on #17764
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-03 12:29] cmsbuild commented on #17764
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_4_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_4_X

[2017-03-03 12:29] cmsbuild commented on #17764
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-03-03 12:31] cmsbuild commented on #17764
The build has started for slc7_amd64_gcc530 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1015/console
CMSDIST Branch: [REL/CMSSW_8_4_0/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_4_0/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-03 12:33] cmsbuild commented on #17764
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1016/console
CMSDIST Branch: [REL/CMSSW_8_4_0/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_4_0/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-03 12:54] cmsbuild commented on #17764
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch1-slc7_amd64_gcc530/1015
Some te

[2017-03-03 12:57] cmsbuild commented on #17764
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch1-slc6_amd64_gcc530/1016
Some te

[2017-03-03 13:46] cmsbuild commented on #17764
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch1-slc6_amd64_gcc530/1016

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-03 13:46] davidlange6 commented on #17764
upload all

[2017-03-03 13:46] cmsbuild commented on #17764
Queing Jenkins upload for slc6_amd64_gcc530

[2017-03-03 13:46] cmsbuild commented on #17764
Queing Jenkins upload for slc7_amd64_gcc530

[2017-03-03 13:46] cmsbuild commented on #17764
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/647/console

[2017-03-03 13:47] cmsbuild commented on #17764
The upload has started for slc7_amd64_gcc530 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/648/console

[2017-03-03 13:49] cmsbuild commented on #17764
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch1-slc7_amd64_gcc530/1015

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-03 13:54] cmsbuild commented on #17764
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_4_0_patch1-slc7_amd64_gcc530/648
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-03 13:55] cmsbuild commented on #17764
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-03 13:58] davidlange6 commented on #17764
release-notes

[2017-03-03 13:58] cmsbuild commented on #17764
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-03-03 14:03] cmsbuild commented on #17764
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_4_0_patch1-slc6_amd64_gcc530/647
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-03 14:03] cmsbuild commented on #17764
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-03 14:03] cmsbuild commented on #17764
Generating release notes since CMSSW_8_4_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-03-03 14:03] cmsbuild commented on #17764
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_4_0_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_4_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_4_0_patch1

Cheers,
cms-bot

You can also click <a href="m

[2017-03-03 14:04] cmsbuild commented on #17764
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_4_0_patch1

[2017-03-03 23:09] slava77 opened #17774 "move FastSimulation/ BaseParticlePropagator and Particle to CommonTools"
to facilitate code reuse and remove dependencies as already exist in Reco subsystem on FastSimulation

[2017-03-03 23:09] slava77 commented on #17774
assign reconstruction,fastsim

[2017-03-03 23:09] cmsbuild commented on #17774
New categories assigned: fastsim,reconstruction

@lveldere,@mdhildreth,@slava77,@perrotta,@civanch,@ssekmen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-03 23:09] cmsbuild commented on #17774
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-04 17:31] slava77 commented on #17603
@davidlange6

just to clarify: some of the reco/miniAOD changes are not configurable and will change the default behavior once integrated.

[2017-03-05 08:08] cmsbuild commented on #17757
The cleanup has started for slc6_amd64_gcc530

[2017-03-05 08:08] cmsbuild commented on #17757
The cleanup has started for slc6_amd64_gcc630

[2017-03-05 08:08] cmsbuild commented on #17757
The cleanup has started for slc7_amd64_gcc530

[2017-03-05 08:08] cmsbuild commented on #17757
The cleanup has started for slc7_amd64_gcc620

[2017-03-05 08:08] #17757 closed

[2017-03-05 08:09] cmsbuild commented on #17757
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre6-slc6_amd64_gcc530/577

[2017-03-05 08:10] cmsbuild commented on #17757
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre6-slc6_amd64_gcc630/578

[2017-03-05 08:20] cmsbuild commented on #17757
The workspace for slc7_amd64_gcc620 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre6-slc7_amd64_gcc620/580

[2017-03-05 08:22] cmsbuild commented on #17757
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0_pre6-slc7_amd64_gcc530/579

[2017-03-05 13:08] cmsbuild commented on #17764
The cleanup has started for slc6_amd64_gcc530

[2017-03-05 13:08] cmsbuild commented on #17764
The cleanup has started for slc7_amd64_gcc530

[2017-03-05 13:08] #17764 closed

[2017-03-05 13:11] cmsbuild commented on #17764
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_4_0_patch1-slc6_amd64_gcc530/581

[2017-03-05 13:12] cmsbuild commented on #17764
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_4_0_patch1-slc7_amd64_gcc530/582

[2017-03-06 08:05] makortel commented on #15496
Closing as the feature was implemented in #17612 and taken in use in #17644.

[2017-03-06 08:05] #15496 closed

[2017-03-06 09:22] ianna opened #17786 "gcc700 Compilation Error: HGCFETriggerDigi may be used uninitialized HGCalTriggerDigiFEReproducer::produce"
While trying to compile an unrelated code in CMSSW_9_1_X_2017-03-05-2300 developer area based on SCRAM_ARCH slc6_amd64_gcc700 a compilation error occurs:
[code]

[2017-03-06 09:22] cmsbuild commented on #17786
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-06 20:04] Dr15Jones opened #17802 "Calling G4DecayPhysics::ConstructParticle is not thread safe"
After changing the framework to have streamBeginRun use multiple threads, the fast simulation began to fail with a G4 exception
[code]

The traceback for the error was
[code]

Working my way down the call chain, I found a series of singletons
https://github.com/cms-externals/geant4/blob/e04275a38d2c2ad2ac2954a9c06e08e5e544f30f/source/physics_lists/constructors/decay/src/G4DecayPhysics.cc#L82
https

[2017-03-06 20:04] cmsbuild commented on #17802
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-06 20:04] Dr15Jones commented on #17802
assign simulation

[2017-03-06 20:04] cmsbuild commented on #17802
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-06 21:32] Dr15Jones commented on #17802
A workaround for the problem was added to #17749.

[2017-03-07 08:27] ianna commented on #17608
@bsunanda - FYI

[2017-03-07 09:13] civanch commented on #17802
#17749 resolve the problem of Geant4 particle initialisation in FastHFShowerLibrary

[2017-03-07 20:37] ferencek commented on #17573
Dear all, is anyone taking care of this request?

[2017-03-07 20:49] slava77 commented on #17573
not that I'm aware of.
@ferencek If you can address this, may I suggest to follow up if no one confirms the work is in progress already in the next ~24 hours.

Thank you.

[2017-03-07 21:03] ferencek commented on #17573
@slava77, sounds good. Will do as you suggest.

[2017-03-08 16:15] slava77 opened #17826 "unsortedOfflinePrimaryVertices4D speedup for 2023 timing workflows"
related to discussion in #17610 leading to
https://github.com/cms-sw/cmssw/pull/17610#issuecomment-285035770

[2017-03-08 16:16] cmsbuild commented on #17826
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-08 16:17] slava77 commented on #17826
assign upgrade,reconstruction

@lgray

[2017-03-08 16:17] cmsbuild commented on #17826
New categories assigned: upgrade,reconstruction

@kpedro88,@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-08 16:20] lgray commented on #17826
Thanks. I'll try to get to it soon.

[2017-03-08 16:23] Dr15Jones commented on #17826
I do not believe vectorization will help this algorithm that much. vectorization could, at most, speed the algorithm up by a factor of 8, but from the measurements we were doing on the KNL the algorithm can be a 100x to 1000x slower than all other modules in the job. If you start with an event with very many primary vertices we saw it can takes 4 hours for the algorithm to converge.

[2017-03-08 16:26] lgray commented on #17826
Hi Chris, right now we are also dealing with an increase in the bulk timing
(not just these outlier events, which we hope to eventually deal with).
Vectorization is important here, and from the vectorization of the 1D
version of the algorithm they gained a factor 2 or so, maybe we end up
doing better. Either way the average time of the vertexing needs to be
reduced at this point.

Investigating th

[2017-03-08 23:36] ferencek commented on #17573
The issue has been addressed in the following PRs: https://github.com/cms-sw/cmssw/pull/17839 and https://github.com/cms-sw/cmssw/pull/17840

[2017-03-09 07:58] ianna commented on #17608
https://github.com/cms-sw/cmssw/pull/17830 fixes it

[2017-03-09 07:58] #17608 closed

[2017-03-09 13:22] slava77 commented on #17826
@lgray
please check if you also need this fix
https://github.com/cms-sw/cmssw/pull/16764/files#diff-433c2174a94e2712d80a0b75bba3a49cL196
around https://github.com/lgray/cmssw/blob/8929924570c2ad59f9d21762df80786ed141e4d5/RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZT.cc#L110

[code]

[2017-03-10 10:22] gkasieczka commented on #17603
I would like to add from the JMAR side:
Backport of JetID functor (#17875)

[2017-03-10 14:11] kkotov opened #17878 "Using git over ssh on CentOS7"
As pointed out in https://its.cern.ch/jira/browse/CMSONS-9775 discussion, you may want to update the tutorial page http://cms-sw.github.io/tutorial-proxy.html to include a recipe of using ssh protocol for github on CentOS7.

[2017-03-10 14:11] cmsbuild commented on #17878
A new Issue was created by  @kkotov Khristian Kotov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-10 14:17] smuzaffar commented on #17878
assign core
Thanks @kkotov, we will update the doc.

[2017-03-10 14:17] cmsbuild commented on #17878
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-12 16:59] davidlange6 opened #17899 "Build CMSSW_8_4_0_patch2"
Bufixes from mwgr2 running

[2017-03-12 17:00] davidlange6 commented on #17899
+1

[2017-03-12 17:00] cmsbuild commented on #17899
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-12 17:00] cmsbuild commented on #17899
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_4_0_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_4_X

[2017-03-12 17:00] cmsbuild commented on #17899
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-03-12 17:15] cmsbuild commented on #17899
The build has started for slc7_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1017/console
CMSDIST Branch: [REL/CMSSW_8_4_0/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_4_0/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-12 17:30] cmsbuild commented on #17899
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1018/console
CMSDIST Branch: [REL/CMSSW_8_4_0/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_4_0/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-12 17:50] cmsbuild commented on #17899
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch2-slc7_amd64_gcc530/1017
Some te

[2017-03-12 17:55] cmsbuild commented on #17899
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch2-slc6_amd64_gcc530/1018
Some te

[2017-03-12 18:43] cmsbuild commented on #17899
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch2-slc7_amd64_gcc530/1017

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-12 18:49] davidlange6 commented on #17899
upload all

[2017-03-12 18:50] cmsbuild commented on #17899
Queing Jenkins upload for slc6_amd64_gcc530

[2017-03-12 18:50] cmsbuild commented on #17899
Queing Jenkins upload for slc7_amd64_gcc530

[2017-03-12 18:52] cmsbuild commented on #17899
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/649/console

[2017-03-12 18:54] cmsbuild commented on #17899
The upload has started for slc7_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/650/console

[2017-03-12 19:01] cmsbuild commented on #17899
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_4_0_patch2-slc6_amd64_gcc530/1018

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-12 19:01] cmsbuild commented on #17899
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_4_0_patch2-slc7_amd64_gcc530/650
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-12 19:01] cmsbuild commented on #17899
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-12 19:04] cmsbuild commented on #17899
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_4_0_patch2-slc6_amd64_gcc530/649
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-12 19:04] cmsbuild commented on #17899
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-12 20:54] davidlange6 commented on #17899
release-notes

[2017-03-12 20:55] cmsbuild commented on #17899
Generating release notes since CMSSW_8_4_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-03-12 20:55] cmsbuild commented on #17899
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_4_0_patch2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_4_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_4_0_patch2

Bufixes from mwgr2 running

Cheers,
cms

[2017-03-12 20:56] cmsbuild commented on #17899
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_4_0_patch2

[2017-03-13 14:00] davidlange6 opened #17904 "Build CMSSW_7_1_26"
Hi @govoni, @perrozzi, - please confirm by answering here that we have all the pending and near term expected gen needs integrated in 71x for this build. Thanks

[2017-03-13 14:01] cmsbuild commented on #17904
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-14 08:27] davidlange6 commented on #17904
ping @perrozzi @govoni

[2017-03-14 09:22] perrozzi commented on #17904
+1

[2017-03-14 09:24] perrozzi commented on #17904
Hi David, yes there are no near term gen needs for 71x to the best of our knowledge

[2017-03-14 14:30] davidlange6 commented on #17904
+1

[2017-03-14 14:30] cmsbuild commented on #17904
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_26. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2017-03-14 14:30] cmsbuild commented on #17904
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-03-14 14:34] cmsbuild commented on #17904
The build has started for slc6_amd64_gcc481 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1019/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-14 15:24] kpedro88 opened #17923 "L1 warnings in premix stage 1"
When running a command like this in 9_0_0_pre5 or pre6, for 2017 or 2018, using pre5 minbias relval\* as input:
[code]

I see numerous warning messages like this (>1000 for 100 events):
[code]

Either something in the L1 step should be fixed, or the L1 step should be removed from the premix stage 1 workflow.

attn: @mdhildreth

\* e.g. `/store/relval/CMSSW_9_0_0_pre5/RelValMinBias_13/GEN-SIM/90X_u

[2017-03-14 15:24] cmsbuild commented on #17923
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-14 17:24] cmsbuild commented on #17904
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_26-slc6_amd64_gcc481/1019
Some tests (

[2017-03-14 17:42] cmsbuild commented on #17904
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_26-slc6_amd64_gcc481/1019

Tests results:
7 6 5 5 3 tests passed, 0 1 0 0 0 failed

[2017-03-14 20:08] cmsbuild commented on #17899
The cleanup has started for slc6_amd64_gcc530

[2017-03-14 20:08] cmsbuild commented on #17899
The cleanup has started for slc7_amd64_gcc530

[2017-03-14 20:08] #17899 closed

[2017-03-14 20:09] cmsbuild commented on #17899
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_4_0_patch2-slc6_amd64_gcc530/583

[2017-03-14 20:21] davidlange6 commented on #17904
upload all

[2017-03-14 20:21] cmsbuild commented on #17904
Queing Jenkins upload for slc6_amd64_gcc481

[2017-03-14 20:22] cmsbuild commented on #17904
The upload has started for slc6_amd64_gcc481 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/651/console

[2017-03-14 20:23] cmsbuild commented on #17904
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_26-slc6_amd64_gcc481/651
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-14 20:23] cmsbuild commented on #17904
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-14 20:24] davidlange6 commented on #17904
release-notes

[2017-03-14 20:24] cmsbuild commented on #17904
Generating release notes since CMSSW_7_1_25_patch5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-03-14 20:25] cmsbuild commented on #17904
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_26 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_25_patch5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_26

Hi @govoni, @perrozzi, - please confirm by answering here that we have all

[2017-03-14 20:26] cmsbuild commented on #17904
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_26

[2017-03-14 20:41] cmsbuild commented on #17899
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_4_0_patch2-slc7_amd64_gcc530/584

[2017-03-14 22:38] slava77 opened #17938 "make plugin factory report which plugin was loaded in load exception"
Example can be found in #17794

[code]
in this case, with ``` process.add_(cms.Service("PrintLoadingPlugins")) ``` one can see that the failed operation is ``` Getting> 'PFRecHitFactory' PFEBRecHitCreator ```

It would help to have the name of the attempted loaded plugin in the exception message.

[2017-03-14 22:38] cmsbuild commented on #17938
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-14 23:35] Dr15Jones commented on #17938
assign core

[2017-03-14 23:35] cmsbuild commented on #17938
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-16 19:38] cmsbuild commented on #17904
The cleanup has started for slc6_amd64_gcc481

[2017-03-16 19:38] #17904 closed

[2017-03-16 19:39] cmsbuild commented on #17904
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_26-slc6_amd64_gcc481/585

[2017-03-17 15:01] dan131riley opened #17971 "RootInputFileSequence/TDirectoryFile exception safety w/multiple threads"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc530/CMSSW_9_1_X_2017-03-16-1100/pyRelValMatrixLogs/run/250409.0_SMS-T1tttt_mGl-1500_mLSP-100_13+FS_SMS-T1tttt_mGl-1500_mLSP-100_13_PRMXUP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS/step1_SMS-T1tttt_mGl-1500_mLSP-100_13+FS_SMS-T1tttt_mGl-1500_mLSP-100_13_PRMXUP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS.log

Two threads are throwing exceptions, likely

[2017-03-17 15:01] cmsbuild commented on #17971
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-17 15:13] Dr15Jones commented on #17971
assign core

[2017-03-17 15:13] Dr15Jones commented on #17971
@pcanal

[2017-03-17 18:45] pcanal commented on #17971
Unfortunately, I do not see an obvious connection.  The content of the TDirectoryFile used by Thread 10 should be unrelated to the global stated touched by Thread 9 ....

Is this problem reproducible?

[2017-03-17 20:43] Dr15Jones opened #17977 "Should reduce use of classlib external"
We should replace the use of classlib regexp with the C++ library version. In addition, we should see if other code from that package can be replaced with standard functions.

[2017-03-17 20:44] cmsbuild commented on #17977
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-17 20:44] Dr15Jones commented on #17977
assign core

[2017-03-17 20:44] cmsbuild commented on #17977
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-18 13:57] silviodonato commented on #15977
@Dr15Jones , could you close this issue?

[2017-03-18 14:04] #15977 closed

[2017-03-20 10:01] davidlange6 opened #17990 "Build CMSSW_9_0_0"

[2017-03-20 10:02] davidlange6 commented on #17990
+1

[2017-03-20 10:03] cmsbuild commented on #17990
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-20 10:03] cmsbuild commented on #17990
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-03-20 10:03] cmsbuild commented on #17990
Queuing Jenkins build for the following architectures: slc7_amd64_gcc530, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc620
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-03-20 10:04] cmsbuild commented on #17990
The build has started for slc7_amd64_gcc530 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1020/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-20 10:04] cmsbuild commented on #17990
The build has started for slc7_amd64_gcc620 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1021/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc620](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc620), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-20 10:05] cmsbuild commented on #17990
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1022/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-20 10:05] cmsbuild commented on #17990
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1023/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-20 12:29] cmsbuild commented on #17990
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc630/1023
Some tests ( r

[2017-03-20 12:52] cmsbuild commented on #17990
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc530/1022
Some tests ( r

[2017-03-20 13:23] cmsbuild commented on #17990
The build has finished sucessfully for the architecture slc7_amd64_gcc620 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc620/1021
Some tests ( r

[2017-03-20 13:25] dan131riley commented on #17971
Only been seen once, so probably not easily reproducible.

[2017-03-20 13:39] cmsbuild commented on #17990
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc630/1023

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-20 13:44] cmsbuild commented on #17990
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc530/1022

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-20 14:18] cmsbuild commented on #17990
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc530/1020
Some tests ( r

[2017-03-20 14:28] cmsbuild commented on #17990
The tests have finished for slc7_amd64_gcc620
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc620/1021

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-20 15:21] cmsbuild commented on #17990
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc530/1020

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-20 15:51] davidlange6 commented on #17990
abort
waiting for more fixes

[2017-03-20 15:51] cmsbuild commented on #17990
Deleting CMSSW_9_0_0:

  -Release successfully deleted

  -cmssw tag CMSSW_9_0_0 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0/slc7_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0/slc7_amd64_gcc620 successfully deleted.

You must cre

[2017-03-20 15:51] #17990 closed

[2017-03-20 15:59] cmsbuild commented on #17757
The build has started for slc7_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1024/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-20 16:04] cmsbuild commented on #17757
The build has started for slc7_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1025/console
CMSDIST Branch: [ab1ee2cac322751fe28c8ac7571ba4146ea0730b](https://github.com/cms-sw/cmsdist/commits/ab1ee2cac322751fe28c8ac7571ba4146ea0730b), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-20 16:04] cmsbuild commented on #17757
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc630/1025

[2017-03-20 16:07] cmsbuild commented on #17757
The build has started for slc7_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1026/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-20 23:34] cmsbuild commented on #17757
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc630/1026
Some test

[2017-03-21 00:37] cmsbuild commented on #17757
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc630/1026

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-21 02:04] cmsbuild commented on #17757
The upload has started for slc7_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/652/console

[2017-03-21 02:18] cmsbuild commented on #17757
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0_pre6-slc7_amd64_gcc630/652
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-21 02:18] cmsbuild commented on #17757
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-21 10:19] Teemperor commented on #15248
We now have a list of the cyclic dependencies in the headers of CMS master: https://teemperor.de/pub/cms/cycle_report.cycle.html (Should be updated every few seconds). It also contains some debugging help on how to break those cyclic dependencies.

You can run this program to get the same output for your local changes: https://github.com/Teemperor/circle-break

[2017-03-21 14:14] davidlange6 opened #18014 "Remove requirement on HLT from workflows"
Following up from the ORP on 14 March, @fwyzard has suggested that components in CMS workflows be updated so that the fake HLT menus could be removed altogether. We agreed to investigate and discuss in the 28 March ORP what timescale is possible. Definitively affected are analysis (minor as far as I'm aware) and dqm (offline/validation). Likely there are other issues I'm not aware of.

Please post

[2017-03-21 14:15] cmsbuild commented on #18014
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-21 14:15] davidlange6 commented on #18014
assign dqm

[2017-03-21 14:15] cmsbuild commented on #18014
New categories assigned: dqm

@vanbesien,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-21 14:15] davidlange6 commented on #18014
assign analysis

[2017-03-21 14:15] cmsbuild commented on #18014
New categories assigned: analysis

@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-21 14:15] davidlange6 commented on #18014
assign pdmv

[2017-03-21 14:15] cmsbuild commented on #18014
New categories assigned: pdmv

@fabozzi,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-21 18:16] slava77 opened #18018 "Follow up after migration to tasks in #17801"
Several changes made in #17801 will need updates to resolve comments in code review
https://github.com/cms-sw/cmssw/pull/17801#pullrequestreview-27460235

[2017-03-21 18:16] cmsbuild commented on #18018
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-21 18:16] slava77 commented on #18018
@Dr15Jones @wddgit

[2017-03-21 18:18] Dr15Jones commented on #18018
assign core

[2017-03-21 18:18] cmsbuild commented on #18018
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-21 19:50] davidlange6 opened #18020 "Build CMSSW_9_0_0"
try try again

[2017-03-21 19:50] cmsbuild commented on #18020
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-21 19:50] davidlange6 commented on #18020
+1

[2017-03-21 19:51] cmsbuild commented on #18020
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-03-21 19:51] cmsbuild commented on #18020
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-03-21 20:03] cmsbuild commented on #18020
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1027/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-21 20:07] cmsbuild commented on #18020
The build has started for slc7_amd64_gcc530 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1028/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-21 20:13] cmsbuild commented on #18020
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1029/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-21 20:32] cmsbuild commented on #18020
The build has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1030/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-21 22:05] cmsbuild commented on #18020
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc630/1029
Some tests ( r

[2017-03-21 23:01] cmsbuild commented on #18020
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc630/1029

Tests results:
17 17 16 13 7 1 1 1 tests passed, 0 0 0 1 0 0 0 0 failed

[2017-03-21 23:41] cmsbuild commented on #18020
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc630/1030
Some tests ( r

[2017-03-22 00:16] cmsbuild commented on #18020
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc530/1027
Some tests ( r