[2021-03-03 21:22] davidlange6 commented on #32963
I agree - any influence of TBB on the geometry is a sign of bugs in the geometry code.

[2021-03-03 21:41] Dr15Jones commented on #32963
The compilers and linkers generate extremely reproducible results. Plus, what you describe is happening to all the other code in CMSSW and that gives consistent results. One thing that could cause such issues would be uninitialized values which would totally be effected by what was either last on the stack or in that heap location and those would change when threads are used.

[2021-03-04 00:14] #32977 closed

[2021-03-04 09:31] srimanob opened #33064 "Clean up obsolete Phase2 geometries in 11_3"
This is a proposal (to be implemented in _pre5) to clean up obsolete Phase2 geometries in 11_3. Please comment if you would like to keep additional versions.

- D49 = T15+C9+M4+I10+O4+F2 (Keep, HLT TDR)
- D50 = T15+C9+M4+I11+O4+F2 (Delete)
- D60 = T15+C10+M4+I10+O4+F3 (Keep, HGCal with HFNose)
- D64 = T22+C11+M4+I11+O5+F4 (Delete)
- D65 = T23+C11+M4+I11+O5+F4 (Delete)
- D66 = T21+C11+M8+I11+O5+F4

[2021-03-04 09:32] cmsbuild commented on #33064
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-04 09:34] mmusich commented on #33064
@emiglior FYI

[2021-03-04 09:34] srimanob commented on #33064
assign Upgrade

[2021-03-04 09:36] cmsbuild commented on #33064
New categories assigned: upgrade

@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-04 09:36] srimanob commented on #33064
assign upgrade

[2021-03-04 09:37] cmsbuild commented on #33064
New categories assigned: upgrade

@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-04 10:05] mmusich commented on #33055
@smuzaffar thanks for the tip, but it didn't help :(
I come up with https://github.com/cms-sw/cmssw/pull/33065.
@silviodonato please let me know if that's enough for you.

[2021-03-04 10:15] silviodonato opened #33067 "Build CMSSW_11_3_0_pre4"

[2021-03-04 10:16] cmsbuild commented on #33067
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-04 11:08] mrodozov commented on #33053
@smuzaffar raised the concern not to merge 32890 before asking DQM to adjust, so I'll ask him to clarify what he meant

[2021-03-04 11:15] smuzaffar commented on #33053
@jfernan2 , IIRC, the unit test add https://github.com/cms-sw/cmssw/pull/22653 was to check the ROOT `TH*` schema evolution. As with new root changes this unit test is failing https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ROOT6_X_2021-03-03-2300/unitTestLogs/DQMServices/Components#/62-62 , so we would like to ask you to look in to it and see if there are any changes nee

[2021-03-04 14:39] srimanob commented on #33042
Hi @smuzaffar @kpedro88
Should I try to move on, or you already have ideas on how to deal with it?
Thanks.

[2021-03-04 14:48] smuzaffar commented on #33042
@srimanob , @kpedro88 suggested something like the following ( which we are doing to upgrade wfs).

- set to empty by default: https://github.com/cms-sw/cmssw/blob/a96f16e7dba2bb196cf410b9b40a824fbc32a220/Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py#L1246-L1251
- filled in only when relvals are available: https://github.com/cms-sw/cmssw/blob/a96f16e7dba2bb196cf410b9b40a824

[2021-03-04 14:53] smuzaffar commented on #33042
@srimanob I have not yet looked in to it, if you any ida then please go ahead. We just need to make sure that if data set is available but das failed then we should also fail instead of forcing a gen-sim

[2021-03-04 15:36] jfernan2 commented on #33053
Thanks @smuzaffar  I am consulting with the core experts but my understanding of the situation is the following:

- Marcel introduced modifications to ensure the schema evolution test would catch problems for Online GUI too https://github.com/cms-sw/cmssw/pull/24354
- ROOT version is driven by root.spec file, so my question would be which CMSSW release we foresee is going to use this new ROOT vers

[2021-03-04 16:39] cmsbuild commented on #33067
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc900, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, cc8_amd64_gcc9, cc8_ppc64le_gcc9
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2021-03-04 16:41] cmsbuild commented on #33067
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2936/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-04 16:42] cmsbuild commented on #33067
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2937/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-04 16:43] cmsbuild commented on #33067
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2938/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-04 16:59] davidlange6 commented on #33053
Indeed, perhaps the new method of building the dqm gui means that this unit test is now obsolete. That would be great.

[2021-03-04 17:00] jfernan2 commented on #33053
OK, so we have identified the places to change for old and new GUI:

- new: https://github.com/cms-DQM/dqmgui/blob/master/scripts/cmssw_info and rebuild
- old:  https://github.com/cms-sw/cmsdist/blob/comp_gcc630/dqmgui.spec#L1   not sure what RPM version I should use here

Any advice is welcome. Thanks

[2021-03-04 17:02] jfernan2 commented on #33053
@davidlange6  for the new GUI probably yes, since it will be linked to CMSSW version, but old GUI still has some time to live until we commision the new GUI

[2021-03-04 17:26] thomreis commented on #32480
The issue seems to lie here:
[code]

[2021-03-04 17:32] vkhristenko commented on #32480
Types are different, w/ and w/o host allocator

On Thu, 4 Mar 2021 at 18:26, Thomas Reis <notifications@github.com> wrote:

[2021-03-04 17:53] fwyzard commented on #32480
Yes - that is on purpose.
As I wrote earlier:

If there are no downsides, to me it seems better to change the `vector` to use the `HostAllocator` so the copy can be fully asynchronous.

@makortel what do you think ?

[2021-03-04 18:00] dan131riley commented on #31123
I made PR #33071 to `#ifdef EDM_ML_DEBUG` all the stringstream operations.

[2021-03-04 18:42] davidlange6 commented on #32963
Running valgrind might be of use to find memory issues. As @dr15jones suggests that is often the reason for things like re-compilations to change results.

[2021-03-04 19:09] makortel commented on #32480
I agree. The only downside I can think of is an additional copy of the data, but I think being able to copy asynchronously benefits more than that.

[2021-03-04 19:54] cmsbuild commented on #33067
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-cc8_ppc64le_gcc9/2937

[2021-03-04 20:17] cmsbuild commented on #33067
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_ppc64le_gcc9/2938

[2021-03-04 20:29] cmsbuild commented on #33067
The cmssw-tool-conf build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2939/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-04 20:30] cmsbuild commented on #33067
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_amd64_gcc900/2936

[2021-03-04 20:48] cmsbuild commented on #33067
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-cc8_amd64_gcc9/2935

[2021-03-04 21:55] silviodonato commented on #33067
+1

[2021-03-04 21:56] cmsbuild commented on #33067
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-03-04 21:56] cmsbuild commented on #33067
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, cc8_ppc64le_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each ar

[2021-03-04 21:57] cmsbuild commented on #33067
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2940/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-04 21:57] cmsbuild commented on #33067
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2941/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-04 22:03] cmsbuild commented on #33067
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2942/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-04 22:07] cmsbuild commented on #33067
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2943/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-04 23:14] cmsbuild commented on #33067
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_aarch64_gcc9/2939

[2021-03-04 23:15] cmsbuild commented on #33067
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-03-05 00:10] qliphy opened #33077 "Build CMSSW_11_1_8"

[2021-03-05 00:11] cmsbuild commented on #33077
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-05 00:11] qliphy commented on #33077
+1

[2021-03-05 00:11] cmsbuild commented on #33077
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2021-03-05 00:11] cmsbuild commented on #33077
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2021-03-05 00:21] cmsbuild commented on #33077
The build has started for cc8_amd64_gcc8 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2944/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-05 00:21] cmsbuild commented on #33077
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2945/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-05 01:23] cmsbuild commented on #33067
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-cc8_amd64_gcc9/2940
Some tests ( r

[2021-03-05 01:35] cmsbuild commented on #33067
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-cc8_ppc64le_gcc9/2942
Some tests

[2021-03-05 01:37] cmsbuild commented on #33067
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_ppc64le_gcc9/2943
Some tes

[2021-03-05 02:13] cmsbuild commented on #33067
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-cc8_amd64_gcc9/2940

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-05 02:22] cmsbuild commented on #33067
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_amd64_gcc900/2941
Some tes

[2021-03-05 02:44] cmsbuild commented on #33067
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-cc8_ppc64le_gcc9/2942

Tests results:
35 32 14 4 3 0 0 0 0 tests passed, 3 2 18 2 0 0 0 0 0 failed

[2021-03-05 02:48] cmsbuild commented on #33077
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2946/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-05 02:59] cmsbuild commented on #33067
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_ppc64le_gcc9/2943

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-03-05 03:12] cmsbuild commented on #33067
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_amd64_gcc900/2941

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-05 03:24] cmsbuild commented on #33077
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_8-cc8_amd64_gcc8/2944
Some tests ( runThe

[2021-03-05 04:04] cmsbuild commented on #33077
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_8-cc8_amd64_gcc8/2944

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2021-03-05 04:18] cmsbuild commented on #33077
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_8-slc7_amd64_gcc820/2945
Some tests (

[2021-03-05 04:57] cmsbuild commented on #33077
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_8-slc7_amd64_gcc820/2945

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-05 05:56] cmsbuild commented on #33077
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_8-slc7_ppc64le_gcc820/2946
Some test

[2021-03-05 06:50] jan-kaspar opened #33080 "PPS: update of era modifiers"
We'd like to slightly update the era modifiers for (CT)PPS. Before doing so, we'd like to know your opinion.

Let me review our needs.
  1) We need a modifier to represent all eras where PPS was active - this is to turn on PPS code in various reco and simu sequences, e.g. here https://github.com/cms-sw/cmssw/blob/c98ca602f3886cbf736978afdc5623241c70be4f/Configuration/StandardSequences/python/RawTo

[2021-03-05 06:50] cmsbuild commented on #33080
A new Issue was created by  @jan-kaspar .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-05 07:23] cmsbuild commented on #33067
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2947/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-05 07:42] cmsbuild commented on #33077
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_8-slc7_ppc64le_gcc820/2946

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2021-03-05 08:23] cmsbuild commented on #33039
The cleanup has started for slc7_amd64_gcc700

[2021-03-05 08:23] cmsbuild commented on #33039
The cleanup has started for slc7_amd64_gcc820

[2021-03-05 08:23] #33039 closed

[2021-03-05 08:23] cmsbuild commented on #33039
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_21-slc7_amd64_gcc700/1629

[2021-03-05 08:23] cmsbuild commented on #33039
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_21-slc7_amd64_gcc820/1630

[2021-03-05 08:25] smuzaffar commented on #33053
@jfernan2 , new root (version 6.22 with update `TF*`) will go in to 11.3.0.pre5. If you need to deploy old DQM GUI with this updated version of root then I can update the https://github.com/cms-sw/cmsdist/blob/comp_gcc630/root.spec

So looks like we are fine to merge https://github.com/cms-sw/cmssw/pull/32890 for 11.3.X

[2021-03-05 08:43] jfernan2 commented on #33053
Thanks @smuzaffar
One extra question, again due to my ignorance (my apologies): if we switch to 11.3.0.pre5 at the GUI, would this be backward compatible?
Since at Online we must still run 11.2.X for MWGRs, I fear we should wait for this change in the GUIs

[2021-03-05 08:53] silviodonato commented on #33058
fixed by  #33069

[2021-03-05 08:53] #33058 closed

[2021-03-05 08:54] smuzaffar commented on #33053
with root schema evolution, yes it should be backward compatible  ..... right @davidlange6?

[2021-03-05 08:56] davidlange6 commented on #33053
In root - sure. In protobuf, thats a dqm question.

[2021-03-05 09:23] cmsbuild commented on #33077
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2948/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-05 09:50] jpata commented on #33058
Sorry, I missed the notification somehow.
For my education, how come the unit test didn't fail in the bot tests of the original PR ([link](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-6780aa/13188/unitTests/failed.html))? Is it because checkdeps didn't pick up Configuration/DataProcessing, and it only came up in the build process?

[2021-03-05 10:14] cmsbuild commented on #33067
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_aarch64_gcc9/2947
Some tes

[2021-03-05 10:19] silviodonato commented on #33067
upload all

[2021-03-05 10:19] silviodonato commented on #33077
upload all

[2021-03-05 10:19] cmsbuild commented on #33067
Queing Jenkins upload for cc8_amd64_gcc9

[2021-03-05 10:19] cmsbuild commented on #33067
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-03-05 10:19] cmsbuild commented on #33067
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-03-05 10:19] cmsbuild commented on #33067
Queing Jenkins upload for slc7_amd64_gcc900

[2021-03-05 10:19] cmsbuild commented on #33067
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-03-05 10:19] cmsbuild commented on #33077
Queing Jenkins upload for cc8_amd64_gcc8

[2021-03-05 10:19] cmsbuild commented on #33077
Queing Jenkins upload for slc7_amd64_gcc820

[2021-03-05 10:19] cmsbuild commented on #33077
Queing Jenkins upload for slc7_ppc64le_gcc820

[2021-03-05 10:21] cmsbuild commented on #33067
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1872/console

[2021-03-05 10:21] cmsbuild commented on #33067
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1873/console

[2021-03-05 10:21] cmsbuild commented on #33067
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1874/console

[2021-03-05 10:21] cmsbuild commented on #33067
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1875/console

[2021-03-05 10:22] cmsbuild commented on #33067
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre4-slc7_aarch64_gcc9/1874

[2021-03-05 10:22] cmsbuild commented on #33067
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre4-cc8_amd64_gcc9/1872

[2021-03-05 10:22] cmsbuild commented on #33077
The upload has started for cc8_amd64_gcc8 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1877/console

[2021-03-05 10:22] cmsbuild commented on #33067
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1876/console

[2021-03-05 10:22] cmsbuild commented on #33067
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre4-cc8_ppc64le_gcc9/1873

[2021-03-05 10:23] cmsbuild commented on #33077
The upload has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1878/console

[2021-03-05 10:23] cmsbuild commented on #33067
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre4-slc7_amd64_gcc900/1875

[2021-03-05 10:23] cmsbuild commented on #33077
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_8-cc8_amd64_gcc8/1877

[2021-03-05 10:23] cmsbuild commented on #33077
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1879/console

[2021-03-05 10:24] cmsbuild commented on #33067
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre4-slc7_ppc64le_gcc9/1876

[2021-03-05 10:24] cmsbuild commented on #33077
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_8-slc7_amd64_gcc820/1878

[2021-03-05 10:24] cmsbuild commented on #33077
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_8-slc7_ppc64le_gcc820/1879

[2021-03-05 10:25] silviodonato commented on #33067
release-notes

[2021-03-05 10:25] silviodonato commented on #33077
release-notes

[2021-03-05 10:26] cmsbuild commented on #33067
Generating release notes since CMSSW_11_3_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-05 10:26] cmsbuild commented on #33067
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre

[2021-03-05 10:26] cmsbuild commented on #33077
Generating release notes since CMSSW_11_1_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-05 10:26] cmsbuild commented on #33077
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_8 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_8

Cheers,
cms-bot

You can also click <a href="m

[2021-03-05 10:32] cmsbuild commented on #33077
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_8

[2021-03-05 10:33] cmsbuild commented on #33067
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre4

[2021-03-05 10:50] #33053 closed

[2021-03-05 11:16] thomreis commented on #32480
Is there a way to make this compile:
[code]
with `values` being
[code]
and `valuesEB_` an `valuesEE_` being
[code]
The current compile error is
[code]
Or is there need for separate `edm::propagate_const_array<cms::cuda::device::unique_ptr<float[]>> valuesEB` and `edm::propagate_const_array<cms::cuda::device::unique_ptr<float[]>> valuesEE`?

[2021-03-05 11:29] cmsbuild commented on #33067
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre4-slc7_aarch64_gcc9/2947

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-05 12:00] cmsbuild commented on #33077
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_8-slc7_aarch64_gcc820/2948
Some test

[2021-03-05 12:01] cmsbuild commented on #33077
Queing Jenkins upload for slc7_aarch64_gcc820

[2021-03-05 12:01] cmsbuild commented on #33077
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1880/console

[2021-03-05 12:02] cmsbuild commented on #33077
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_8-slc7_aarch64_gcc820/1880

[2021-03-05 12:26] jfernan2 commented on #31644
@benkrikler @dinyar   could you lease have a look at the L1TEMU/L1TdeStage2uGMT/data_vs_emulator_comparison/{mismatchRatio,errorSummaryNum} diffeences? Thanks

[2021-03-05 13:03] cmsbuild commented on #33077
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_8-slc7_aarch64_gcc820/2948

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2021-03-05 13:24] slava77 commented on #33080
I'm not sure how the proposal would resolve 2a or 2b.
Which part needs to be removed/not applied in Run3?
It sounds like you may need a `pps_run3`  modifier.

[2021-03-05 13:29] makortel commented on #33058
Correct. `Configuration/DataProcessing` appears to have no direct dependence on the files changed in #33069 and therefore the machinery behind `git cms-checkdeps -a` was unaware of the impact. (this is similar to other deficiencies in the testing system that have been discussed earlier, but this would be hard to fix in general without lot's of manual maintenance or running all unit tests; so far t

[2021-03-05 13:30] makortel commented on #33080
assign reconstruction, simulation, operations

(not really sure who else to add)

[2021-03-05 13:30] cmsbuild commented on #33080
New categories assigned: operations,reconstruction,simulation

@mdhildreth,@slava77,@fabiocos,@franzoni,@perrotta,@qliphy,@jpata,@davidlange6,@silviodonato,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-05 13:35] jan-kaspar commented on #33080
Now:
 * `ctpps_2016` is activated for all eras where PPS contributed
 * therefore `ctpps_2016` is also activated for Run3 - confusing (at least)

With the proposal:
 * `ctpps_2016` would be only activated for 2016 data
 * therefore `ctpps_2016 | ctpps_2017 | ctpps_2018` refers truly only for Run2, as expected

We need to remove `ctpps_2016` from all but 2016 modifier chains.

[2021-03-05 13:50] jpata opened #33083 "PFBlock slower by factor 2x in Phase II"
PFBlockProducer CPU time goes up by factor 2x from 11_3_0_pre2 to 11_3_0_pre3 for the Phase II workflow:

- https://jpata.web.cern.ch/jpata/cgi-bin/igprof-navigator/releases/11_3_0_pre2/23434.21/step3/cpu/346
- https://jpata.web.cern.ch/jpata/cgi-bin/igprof-navigator/releases/11_3_0_pre3/23434.21/step3/cpu/232

Is this understood to arise from https://github.com/cms-sw/cmssw/pull/32766 ?

cc @hata

[2021-03-05 13:50] jpata commented on #33083
assign reconstruction

[2021-03-05 13:50] cmsbuild commented on #33083
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-05 13:50] cmsbuild commented on #33083
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-05 13:52] fwyzard commented on #32480
No.

If you want to use a single `vector` on the GPU, you should use a single `vector` on the CPU as well: fill it with the EB values first and EE values after.

[2021-03-05 14:12] silviodonato commented on #33010
@cms-sw/pdmv-l2 `CMSSW_11_3_0_pre4` is ready, so you can produce the new dataset.

We have removed the wf by #33020. Yes, we will add them back when you update the GS string in 11_3_X, thanks!

[2021-03-05 14:27] thomreis commented on #32480
Thanks. @amassiro @vkhristenko is this the preferred version? Having a single vector on the GPU?

[2021-03-05 14:33] amassiro commented on #32480
For me it's the same, let's decide one strategy and propagate the same format everywhere.
I just don't want one strategy for uncalibrehcit and another for rechit conditions.
The rechit were adapted to the same procedure used by unucalibrechit, it's ok to have one single vector, if it makes things faster, everywhere.

[2021-03-05 15:04] thomreis commented on #32480
I have seen both. E.g. `EcalGainRatiosGPU` (https://github.com/cms-sw/cmssw/blob/master/RecoLocalCalo/EcalRecAlgos/src/EcalGainRatiosGPU.cc#L8-L20) uses one vector for EB and EE while `EcalMultifitParametersGPU` (https://github.com/cms-sw/cmssw/blob/master/RecoLocalCalo/EcalRecAlgos/interface/EcalMultifitParametersGPU.h#L17) uses separate ones for EB and EE.

[2021-03-05 15:04] dinyar commented on #31644
Hi @jfernan2,

I'm not sure what is being compared (i.e. what the base comparison is), but my recent PR fixed the incorrect conversion from the hardware code of the unconstrained pT to the physical value, so the unconstrained pT is expected to have changed now.

Cheers,
Dinyar

[2021-03-05 15:13] makortel commented on #31644
@dinyar In https://github.com/cms-sw/cmssw/pull/33038#issuecomment-789183008 the comparison was IB+PR vs IB in CMSSW_11_3_X_2021-03-02-1100. As far as I can tell no other PRs were included on top of the IB in that test.

[2021-03-05 15:19] hatakeyamak commented on #33083
@jpata
Thank you for the report. Good to know. I didn't profile when I made a PR, but this is probably expected. We made sure any track will enter pfTICL or PFBlockAlgo. I expect a decent number of more tracks now enter PFBlockAlgo due to generally tighter track seeding in TICL compared to simPF (so it means we pass more tracks to PFBlockAlgo and PFAlgo).

[2021-03-05 16:22] makortel opened #33084 "Cut parser error in ROOT master IB"
Workflow 1325.61 step 2 fails in CMSSW_11_3_ROOT6_X_2021-03-04-2300 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ROOT6_X_2021-03-04-2300/pyRelValMatrixLogs/run/1325.61_TTbar_13_106Xv1NanoAODINPUT+TTbar_13_106Xv1NanoAODINPUT+NANOAODMC2017_106XMiniAODv1/step2_TTbar_13_106Xv1NanoAODINPUT+TTbar_13_106Xv1NanoAODINPUT+NANOAODMC2017_106XMiniAODv1.log#/

[2021-03-05 16:22] cmsbuild commented on #33084
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-05 16:22] makortel commented on #33084
assign core, xpog

[2021-03-05 16:22] makortel commented on #33084
FYI @pcanal

[2021-03-05 16:22] cmsbuild commented on #33084
New categories assigned: core,xpog

@Dr15Jones,@smuzaffar,@fgolf,@mariadalfonso,@makortel,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-05 16:24] makortel commented on #33084
assign dqm

[2021-03-05 16:24] cmsbuild commented on #33084
New categories assigned: dqm

@jfernan2,@andrius-k,@ahmad3213,@kmaeshima,@rvenditti,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-05 17:51] dinyar commented on #31644
@makortel ok, thanks for the information. I'm a bit mystified by this to be honest I'll try to reproduce locally.

[2021-03-05 21:39] cvuosalo commented on #32963
I ran `valgrind` on DD4hep simulation. There are a lot of complaints about `TStorage::UpdateIsOnHeap()` in ROOT, but nothing I could find in CMSSW itself. I'll keep investigating.

[2021-03-06 01:53] slava77 commented on #33083
https://jpata.web.cern.ch/jpata/cgi-bin/igprof-navigator/releases/11_3_0_pre3/23434.21/step3/cpu/1003
<img width="688" alt="Screen Shot 2021-03-05 at 5 33 38 PM" src="https://user-images.githubusercontent.com/4676718/110190613-00d0ef00-7dd9-11eb-8aa5-12ec0c75489a.png">

(if the call path is to be believed) it's curious how a rather trivial bitwise operation takes up a rather significant fraction o

[2021-03-06 10:06] srimanob commented on #32869
Start to put the document in https://github.com/cms-sw/cmssw/pull/33087

[2021-03-06 13:06] Dr15Jones commented on #33083
Appropriate use of `final` could help. If isPrimary and isSecondary were marked final then isLinkedToDisplacedVertex could call them directly instead of through the virtual table.

[2021-03-06 14:04] chayanit commented on #33010
@silviodonato all GENSIM needed for IB test have been submitted. I will inform and create PR to update GT string accordingly.

[2021-03-06 14:11] chayanit commented on #33010
btw, @silviodonato apart from adding back PPS workflows, I would propose we should update 12024 (TTbar 2021 design but 13TeV) to 12034 which is 14TeV.
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_2017.py#L60

and shall we move this workflow back to TTbar (DeepCore) 11634.17? @mtosi
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseVal

[2021-03-06 15:44] slava77 commented on #33010
moving to a generic ttbar is not a good idea because the deepcore requires high-pt jets to be enabled. These are sufficiently rare in the generic ttbar that we may end up not running deepcore algorithm at all on a small sample.

[2021-03-07 04:09] srimanob commented on #32869
+1

[2021-03-07 04:14] chayanit commented on #32869
+1

[2021-03-07 04:15] cmsbuild commented on #32869
This issue is fully signed and ready to be closed.

[2021-03-07 04:18] chayanit commented on #33010
@slava77 ah ok I think I was confused. I will leave as it is.

[2021-03-07 06:12] chayanit commented on #33010
+1

new PR is opened #33090

[2021-03-07 06:12] cmsbuild commented on #33010
This issue is fully signed and ready to be closed.

[2021-03-07 09:38] cmsbuild commented on #33077
The cleanup has started for slc7_aarch64_gcc820

[2021-03-07 09:38] cmsbuild commented on #33077
The cleanup has started for cc8_amd64_gcc8

[2021-03-07 09:38] cmsbuild commented on #33077
The cleanup has started for slc7_amd64_gcc820

[2021-03-07 09:38] cmsbuild commented on #33077
The cleanup has started for slc7_ppc64le_gcc820

[2021-03-07 09:38] #33077 closed

[2021-03-07 09:38] cmsbuild commented on #33067
The cleanup has started for slc7_aarch64_gcc9

[2021-03-07 09:38] cmsbuild commented on #33067
The cleanup has started for cc8_amd64_gcc9

[2021-03-07 09:38] cmsbuild commented on #33067
The cleanup has started for cc8_ppc64le_gcc9

[2021-03-07 09:38] cmsbuild commented on #33067
The cleanup has started for slc7_amd64_gcc900

[2021-03-07 09:38] cmsbuild commented on #33067
The cleanup has started for slc7_ppc64le_gcc9

[2021-03-07 09:38] #33067 closed

[2021-03-07 09:38] cmsbuild commented on #33077
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_8-slc7_aarch64_gcc820/1632

[2021-03-07 09:38] cmsbuild commented on #33077
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_8-cc8_amd64_gcc8/1631

[2021-03-07 09:38] cmsbuild commented on #33077
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_8-slc7_amd64_gcc820/1633

[2021-03-07 09:38] cmsbuild commented on #33077
The workspace for slc7_ppc64le_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_8-slc7_ppc64le_gcc820/1634

[2021-03-07 09:38] cmsbuild commented on #33067
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre4-cc8_ppc64le_gcc9/1636

[2021-03-07 09:38] cmsbuild commented on #33067
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre4-cc8_amd64_gcc9/1635

[2021-03-07 09:38] cmsbuild commented on #33067
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre4-slc7_aarch64_gcc9/1637

[2021-03-07 09:38] cmsbuild commented on #33067
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre4-slc7_amd64_gcc900/1638

[2021-03-07 09:38] cmsbuild commented on #33067
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre4-slc7_ppc64le_gcc9/1639

[2021-03-07 09:38] cmsbuild commented on #33067
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre4-slc7_amd64_gcc900/1641

[2021-03-07 09:38] cmsbuild commented on #33067
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre4-cc8_amd64_gcc9/1640

[2021-03-07 09:39] cmsbuild commented on #33067
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre4-slc7_ppc64le_gcc9/1642

[2021-03-08 08:12] #32869 closed

[2021-03-08 08:43] davidlange6 commented on #32963
Since we see this again today - I’m wondering if the issue is rather something that changes when dd4hep itself is rebuilt? [I don’t see anything obvious in the cmake files]

[2021-03-08 09:19] #33055 closed

[2021-03-08 11:49] jfernan2 commented on #33084
FYI @peruzzim

[2021-03-08 13:34] VinInn commented on #33083
I suggest to mark "final" the class itself. Eventually make final all derived classes from PFBlockElement.

[2021-03-08 13:36] VinInn commented on #33083
I would change all those "or"s with a single mask.

[2021-03-08 15:44] Dr15Jones opened #33102 "Segmentation fault in tbb synchronous wait"
After the change to using tbb::task_group we have a segmentation fault in TBB while waiting.

[2021-03-08 15:44] Dr15Jones commented on #33102
assign core

[2021-03-08 15:44] cmsbuild commented on #33102
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-08 15:44] cmsbuild commented on #33102
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-08 15:46] Dr15Jones commented on #33102
The crash is in ARM build: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc9/CMSSW_11_3_X_2021-03-08-1100/addOnTests/logs/cmsDriver-fastsim_cmsDriver.py_TTbar_8TeV_TuneCUETP8M1_cfi__--conditions_auto:run1_mc_--fast__-n_100_--eventcontent_AODSIM,DQM_--relval_100000,1000_-s_GEN,SIM,RECOBEFMI.log#/720-720

The traceback is
[code]

Where 3 threads are doing a synchronous wait on the Event

[2021-03-08 15:46] Dr15Jones commented on #33102
@dan131riley FYI

[2021-03-08 15:55] makortel commented on #33102
I'm a bit confused. If I read the IB page correctly, the `tbb::task_group` PR https://github.com/cms-sw/cmssw/pull/32804 did not go in CMSSW_11_3_X_2021-03-08-1100, but will be in the following IB instead.

[2021-03-08 16:03] jfernan2 commented on #33053
@smuzaffar  so, we would like to move to this new ROOT version, can you please  update the https://github.com/cms-sw/cmsdist/blob/comp_gcc630/root.spec   ?

FYI: @ErnestaP

[2021-03-08 16:06] dan131riley commented on #33102
Probably not related to the `tbb::task_group` PR (which, as @makortel said, doesn't look to be in that IB).  We get segmentation faults in `sched_yield()` occasionally on aarch64.  There's no way that those are actually segfaults in `sched_yield()`, it has to be from a delayed write.

[2021-03-08 16:09] Dr15Jones commented on #33102
Ah, my bad.

[2021-03-08 16:17] hatakeyamak commented on #33083
Thank you. Some people are looking into this.

[2021-03-08 16:51] thomreis opened #33103 "BadAlloc exception with GPU WF on non-GPU machine."
I get an BadAlloc exception when running the GPU WF 10824.512 on a standard lxplus node. I thought this behaviour was changed to a more explanatory exception when CUDAService is disabled with https://github.com/cms-sw/cmssw/pull/32155.

Release is `CMSSW_11_3_0_pre3`.
Command: `runTheMatrix.py -w relval_gpu -l 10824.512`

[code]

[2021-03-08 16:51] cmsbuild commented on #33103
A new Issue was created by  @thomreis Thomas Reis.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-08 17:00] smuzaffar commented on #33053
The root in comp_gcc630 branch is build only for python2 and I am having difficulties to build the new root with only python 2 ( see  https://github.com/root-project/root/issues/7289#issuecomment-792758306 ). How do you use root in online dqmgui?  Do you use root's python interface? If yes then if I built it only for python3 then will this break onlune dqmgui?

[2021-03-08 17:30] jfernan2 commented on #33053
I don't believe we use root's python interface at all, on the other hand the old GUI has in etc/makefile:
PYTHON_LIBS  = -lboost_python -lpython2.7

As far I know we use ROOT in the standard way, from makefile:
ROOTC_LIBS   = -lCore -lRIO -lNet -lHist -lMatrix -lThread -lTree -lMathCore
ROOTG_LIBS   = $(ROOTC_LIBS) -lTreePlayer -lGpad -lGraf3d -lGraf \
               -lPhysics -lPostscript -lASIma

[2021-03-08 17:48] makortel commented on #33103
assign heterogeneous

[2021-03-08 17:48] cmsbuild commented on #33103
New categories assigned: heterogeneous

@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-08 17:49] smuzaffar commented on #33053
dqmgui is not control/developed by us, so I have no idea. DQM team should have better knowledge of it :-)

[2021-03-08 19:58] makortel commented on #33103
@thomreis The 10824.512 is a "GPU-only" workflow, right? (i.e. without `SwitchProducer`)

There are some differences compared to
https://github.com/cms-sw/cmssw/pull/31719#issuecomment-727072323:
- there the symptom was a segfault, here it is an exception
- there the segfault was caused by an EDModule, here the exception is thrown from an ESProducer

Likely what happens is that some CUDA EDModule

[2021-03-08 20:03] thomreis commented on #33103
Hi @makortel thanks for the explanation. I should have looked closer but on first glance it reminded me of the segfault from before. Closing this then.

[2021-03-08 20:03] #33103 closed

[2021-03-08 20:08] smuzaffar commented on #33053
@jfernan2 , building root 6.22 from comp branch does not work as comp branch uses GCC 6.3.0 and root fails to build with it. Updating GCC version for comp branch will effect all comp services.

I can move dqmgui.spec in to cms branch ( IB/CMSSW_11_3_X/master) as dqmgui-old.spec and build and upload it to cms RPM repository. You might have to change the deployment procedure to get dqmgui-old from c

[2021-03-09 01:18] makortel opened #33107 "Assertion failures in edm::service::Timing"
Many workflows (but not all) in CMSSW_11_3_X_2021-03-08-1800 are failing along
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-03-08-1800/pyRelValMatrixLogs/run/250202.0_TTbar_13+TTbar_13INPUT+DIGIPRMXUP15_PU25+RECOPRMXUP15_PU25+HARVESTUP15_PU25/step2_TTbar_13+TTbar_13INPUT+DIGIPRMXUP15_PU25+RECOPRMXUP15_PU25+HARVESTUP15_PU25.log#/80-80

[2021-03-09 01:19] makortel commented on #33107
assign core

[2021-03-09 01:19] cmsbuild commented on #33107
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-09 01:19] cmsbuild commented on #33107
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-09 01:19] makortel commented on #33107
Presumably caused by (or related to) the migration to `tbb::task_group` in https://github.com/cms-sw/cmssw/pull/32804.

[2021-03-09 02:15] makortel commented on #32285
Fixed in #33106

[2021-03-09 02:15] makortel commented on #32285
+1

[2021-03-09 02:15] #32285 closed

[2021-03-09 02:16] cmsbuild commented on #32285
This issue is fully signed and ready to be closed.

[2021-03-09 10:00] smuzaffar commented on #33053
@jfernan2, an other issue with old dqmgui is that it does not build with newer boost (1.72) which we have in CMS branch. So including old dqmgui in cms branch also need your help ( the boost code it checksout https://github.com/cms-sw/cmsdist/blob/comp_gcc630/dqmgui.spec#L37 needs adjustments for new boost)

[2021-03-09 10:27] andrius-k commented on #33053
@smuzaffar, would it be possible to move the DQM GUI to a different comp branch that uses newer GCC so we can build ROOT 6.22?

Does this mean that if we do what I mentioned above, other things will break? If so, could we get a separate branch just for the DQM GUI?

[2021-03-09 10:33] smuzaffar commented on #33053
There is no comp branch with newer GCC. It is up to comp team to decide when they want to update their branches.
Having a different branch is not going to break comp services as they will not be using that branch. Again, its comp team who should decide how to maintain dqmgui in comp

[2021-03-09 11:46] andrius-k commented on #33053
@smuzaffar, so if we were to hand you an equivalent of this branch: https://github.com/cms-sw/cmsdist/blob/comp_gcc630/gcc.spec
just with the newer GCC version in it, could you try build a DQM GUI package for it? If so, what is the target GCC version? Not having Python 2 ROOT support should be fine - we will test this once we have the deployable package.

[2021-03-09 12:07] smuzaffar commented on #33053
add a new gcc and uploading to comp is not that straight forward. @amaltaro what do you suggest? we need to build dqmgui in comp branch with newer root which now does not build with gcc630 , so I guess we need gcc 9.3.0? How do you suggest what can be come in comp to build this?

[2021-03-09 12:24] hatakeyamak commented on #32475
@SohamBhattacharya @kpedro88 @rovere @felicepantaleo
This is slightly deviating from the original github issue topic, but since this was also discussed during #32766 I looked into what we can possibly do to clean up at least some of `FromMultiCl` processes.

As @kpedro88 indicated, starting from `particleFlowClusterHGCal`, it looks to me, there are `non-FromMultiCl` and `FromMultiCl` parallel sequ

[2021-03-09 12:30] smuzaffar commented on #33053
@andrius-k, if you are ok with different comp branch and architecture ( as gcc version is  part of architecture) then why not just build old dqmgui  for cms branch. every thing up to root (including gcc) is ready in cms branch. All you need is to provide dqmgui fixes for boost and update you deployment script to get dqmgui from a different reoisitory/architecture

[2021-03-09 12:48] amaltaro commented on #33053
Sorry if it has already been discussed, but at some point I understood that we would no longer need DQMGui to be maintained in the comp_gcc630 branch, and instead it would started to be built with the CMSSW releases (thus living in a different branch). Are you saying that we need to keep both versions available?

Bootstrapping and maintaining a new architecture isn't that simple, and we lack exper

[2021-03-09 14:08] Dr15Jones commented on #33107
I’ll put my effort into this today.

[2021-03-09 14:34] jfernan2 commented on #33053
hi @amaltaro
I am sorry but the new DQM GUI being currently developed is built with CMSSW. However the old DQM GUI, which we should still mantain, is not.

[2021-03-09 14:38] dinyar commented on #31644
Hi again,

I ran locally but couldn't reproduce the difference between the commits in question. I did notice that the mismatches are between EMTF muons where in the unpacked uGMT output we see unconstrained pT > 0, however in the emulated uGMT output their upt == 0. I suspect the reason for the data-emu mismatches is that the RegionalMuon packer/unpacker doesn't expect the EMTF to have displaced q

[2021-03-09 15:05] dan131riley commented on #33107
I'm still getting setup to look at the segfaults on exit.  wrt the assertion failures, running 250206.181 so far I've got an exception:
[code]
and a different exception with a stack trace:
[code]
There's only one active thread, with this backtrace:
[code]

[2021-03-09 15:06] Dr15Jones commented on #33107
oooh, that exception is really helpful!

[2021-03-09 15:53] Dr15Jones commented on #33107
Are all the jobs failing with the assert running PreMix?

[2021-03-09 16:04] eyigitba commented on #31644
Hi @dinyar , we don't have the displaced muons in the firmware right now. So you shouldn't see any unpacked displaced quantity from EMTF. I don't know why the unpacked uGMT output has non-zero unconstrained pT for EMTF muons.

[2021-03-09 16:14] dinyar commented on #31644
Right, sorry I wasn't clear. Here "unpacked" still refers to MC, so if the EMTF emulator creates displaced information that would qualify if I'm not forgetting something.

[2021-03-09 16:23] Dr15Jones commented on #33107
So I see a problem here:
https://github.com/cms-sw/cmssw/blob/6029d3db5dce43bb95792bfc420042efc1da999c/Mixing/Base/src/SecondaryEventProvider.cc#L20-L23

the call to `edm::ServiceRegistry::instance().presentToken()` is calling a thread local but the code in the lambda is not guaranteed to run in the same thread as the `syncWait`. The intent was to grab the token from the `syncWait` thread.

[2021-03-09 16:33] eyigitba commented on #31644
I see ok, my bad. I thought on the emulator side you didn't need any changes to uGMT, but maybe on the unpacker side you still need to (although we don't have a packer for the emulator so I don't know if this applies here). Anyway I don't know what the difference would be between these commits. We didn't change anything on EMTF side.

[2021-03-09 16:39] dinyar commented on #31644
Ok, yeah I thought so. I now noticed there was some update/change of TensorFlow a few commits ago which to my knowledge you use.. could this change the upt values in some way?

[2021-03-09 16:42] eyigitba commented on #31644
Maybe it can. I don't really know. I need to check on my end.

[2021-03-09 16:43] eyigitba commented on #31644
Actually can you point me to the commit about TensorFlow?

[2021-03-09 16:50] jpata commented on #32756
Between 11_3_0_pre1 and 11_3_0_pre2, I track peak RSS going from 4282 -> 4936 = 654 MB of memory increase in [step3](https://github.com/jpata/cms-reco-profiling/blob/main/results/summary.md) for a single threaded workflow.

Comparing the igprof for memory for [pre1](https://jpata.web.cern.ch/jpata/cgi-bin/igprof-navigator/releases/11_3_0_pre1/23434.21/step3/mem/cumulative) and [pre2](https://jpata

[2021-03-09 16:52] dinyar commented on #31644
Sure, I saw mention of it in 502d254d769ea15a6a6cccd7845a50c7e9dc45f2.

[2021-03-09 16:52] Dr15Jones commented on #33107
So I fixed the SecondaryEventProvider call but I am still getting the crash in `service::MessageLogger::unEstablishModule`

[2021-03-09 17:35] Dr15Jones commented on #33107
From the crash I see, the problem seem to be that ModuleCallingContext::previousModuleOnThread is returning a value other than `nullptr`. Looking at the traceback, there is no other module.

[2021-03-09 17:45] makortel commented on #31644
@dinyar Because the tiny differences are visible in tests of unrelated PRs, they likely have some random origin. The cause could be e.g. an uninitialized variable somewhere. The tests are run such that all other conditions except chances in the PR should be same (some times already merged PRs are included). If anything in the event content would change, we should see many other differences as well

[2021-03-09 18:43] Dr15Jones commented on #33107
So for debugging purposes I added an `assert(previousOnThread_ == nullptr)` everywhere in ModuleCallingContext that sets the value to see where it happens. The job aborted on a thread that didn't have any other modules on it.

[2021-03-09 19:11] Dr15Jones commented on #33107
So the thread which says it has a previous module running on it, the context information says the previous module is the 'PreMixingModule'.

[2021-03-09 19:54] dan131riley commented on #33107
Apparently my workaround for the `notify_exit_observers()` crash only works on some workflows.  On my aarch64 VM with debug TBB the wf I was testing is still fine, but with wf 136.885501 I get an assertion failure, and I get crashes on amd64 even after completely disabling the InitRootHandlers task_scheduler_observer.  Feels like a TBB bug.

[2021-03-09 20:47] Dr15Jones commented on #33107
So the previous module on thread is supposed to be non-nullptr inside the PreMixingModule because of this

https://github.com/cms-sw/cmssw/blob/ba6e8604a35283e39e89bc031766843d0afc3240/SimGeneral/PreMixingModule/plugins/PreMixingModule.cc#L192

[2021-03-09 21:28] cvuosalo commented on #32963
During simulation, one can get a debug print-out of the random seeds. From multiple executions of DD4hep simulation, I found that each execution showed one of two sequences of random seeds, with the alternation between the two sequences seemingly random from execution to execution. These tests show that DD4hep simulation does not have completely different results each time, but rather alternates b

[2021-03-09 21:47] Dr15Jones commented on #33107
So I did spot one behavioral difference between the old implementation and the new one. In
https://github.com/cms-sw/cmssw/blob/6029d3db5dce43bb95792bfc420042efc1da999c/Mixing/Base/src/SecondaryEventProvider.cc#L93-L96

previously the `processOneOccurenceAsync` was actually a no-op if no workers are associated with the provider. Now the implementation uses `syncWait` which must always create a tbb

[2021-03-09 22:02] Dr15Jones commented on #33107
So if I _short circuit_ SecondaryEventProvider calls so that no call to `edm::syncWait` happens if there are not modules associated with the provider then it appears that the problem goes away. Although this avoids the symptom we see I can't fully explain why the _module previously on thread_ is not behaving properly.

I'll be making a pull request shortly.

[2021-03-09 22:13] Dr15Jones commented on #33107
See #33125

[2021-03-09 22:16] Dr15Jones commented on #33107
@dan131riley if you get a chance, could you see if #33125 also fixes the case you were looking at?

[2021-03-09 22:40] dan131riley commented on #33107
I'll give it a try but I doubt it will make a difference.  I noticed earlier that my initial attempts to replicate the problem didn't succeed until I added the `TimeMemorySummary` customization, and now my latest assertion failure has me looking at the FastTimerService:
[code]

[2021-03-09 23:36] dan131riley commented on #33107
FastTimerService needed the same treatment as the `task_scheduler_observer` in InitRootHandlers, see #33126.

[2021-03-10 08:52] rovere commented on #32475
Ciao,
I commented on this topic in July during the HLT Upgrade workshop: [slides in back-up](https://indico.cern.ch/event/919645/contributions/3912778/attachments/2061557/3458379/20200622_HLTUpgrade_MR.pdf)

Now that we did make the transition of out `SimAssisted` to `TICL-only`, we could start trimming all the bits and pieces that are not necessary any longer. Thanks a lot, @hatakeyamak for looki

[2021-03-10 09:42] perrotta commented on #33002
Did anybody check that #33050 can fix these "unexpected downstream changes"?

[2021-03-10 14:22] fabiocos opened #33130 "Use modifier phase2_etlv4 for any scenario using MTD I12 or I13"
The validation of scenario D76 by @gsorrentino18 shows a dramatic drop in efficiency of ETL, incompatible with the previous validation of D73. I independently noticed that only a very small number of tracks has ETL hits associated in D76.

One possible source of the problem is the lack of https://github.com/cms-sw/cmssw/blob/master/Configuration/Eras/python/Modifier_phase2_etlV4_cff.py in the defi

[2021-03-10 14:25] fabiocos commented on #33130
@srimanob @bsunanda FYI

[2021-03-10 14:56] makortel commented on #33130
assign upgrade

(not sure who else)

[2021-03-10 14:56] cmsbuild commented on #33130
New categories assigned: upgrade

@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-10 15:40] srimanob commented on #33130
Thanks for the report @fabiocos @gsorrentino18
Could you please fill the ValDB, so that PdmV keeps the record of what fails, https://cms-pdmv.cern.ch/valdb/?srch=11_3_0_pre3&selected=11_3_0_pre3_phase2_D76&Reconstruction=true&RFull=true

[2021-03-10 16:33] jfernan2 commented on #33053
@smuzaffar  would you be so kind to provide some instructions on how to build old dqmgui for cms branch so that we cna debug boost errors? I have tried to find out  myself but no success, sorry. Thank you very much

[2021-03-10 17:01] makortel opened #33135 "Consider adding number of concurrent lumis to framework job report"
It could be useful to monitor the number of concurrent lumis of jobs also after the fact, and it seems to be straightforward to add that into the framework job record (similarly to number of streams and threads). The motivation would be mainly to be able to double-check that concurrent lumis has been enabled.

[2021-03-10 17:01] makortel commented on #33135
assign core

[2021-03-10 17:01] cmsbuild commented on #33135
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-10 17:35] smuzaffar commented on #33053
@jfernan2 , here is how you can build old dqmgui with cms branch (use one of cmsdev machines)
[code]
and run all the commands starting from
[code]
up to
[code]
just copy and paste those commands (from cmsdist-build.sh script)  on terminal. After this you should get the build error. Try to fix the error and only re-run last `python setup.py -v build_system -s DQM -d` to re-build

[2021-03-10 17:38] jfernan2 commented on #33053
Thank you very much @smuzaffar !!

[2021-03-10 18:12] gsorrentino18 commented on #33130
The following plots (Track efficiency as a function of pT for ETL negative side) have been obtained with 150 TTbar events in the D73 (blue) and D76 (red) scenarios.
On the left, the discrepancy observed while validating the new D76 scenario.
On the right, the proper threshold, calibration constant and MeVtoMIP conversion values are used (those implemented in the missing modifier pointed by Fabio).

[2021-03-10 18:27] vgvassilev commented on #31123
Would that fix the original problem -- https://github.com/root-project/root/pull/7419

[2021-03-11 00:20] qliphy commented on #32963
closed by #33141

[2021-03-11 00:20] #32963 closed

[2021-03-11 09:40] qliphy opened #33145 "Build CMSSW_10_6_22"

[2021-03-11 09:40] cmsbuild commented on #33145
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-11 09:41] qliphy commented on #33145
+1

[2021-03-11 09:41] cmsbuild commented on #33145
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_22. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-03-11 09:41] cmsbuild commented on #33145
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-03-11 09:43] cmsbuild commented on #33145
The build has started for slc7_amd64_gcc820 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2950/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-11 09:43] cmsbuild commented on #33145
The build has started for slc7_amd64_gcc700 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2949/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-11 10:37] cmsbuild commented on #33145
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_22-slc7_amd64_gcc820/2950

[2021-03-11 12:10] qliphy commented on #33145
abort

[2021-03-11 12:10] cmsbuild commented on #33145
Deleting CMSSW_10_6_22:

  - Release successfully deleted

  - cmssw tag CMSSW_10_6_22 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_10_6_22/slc7_amd64_gcc700. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_10_6_22/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.

[2021-03-11 12:14] #33145 closed

[2021-03-11 12:16] qliphy opened #33147 "Build CMSSW_10_6_22"

[2021-03-11 12:16] cmsbuild commented on #33147
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-11 12:16] qliphy commented on #33147
+1

[2021-03-11 12:16] cmsbuild commented on #33147
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_22. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-03-11 12:16] cmsbuild commented on #33147
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-03-11 12:18] cmsbuild commented on #33147
The build has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2951/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-11 12:18] cmsbuild commented on #33147
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2952/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-11 13:12] cmsbuild commented on #33147
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_22-slc7_amd64_gcc820/2952

[2021-03-11 13:17] qliphy commented on #33147
@smuzaffar @silviodonato   After a 2nd try, I still get the error as above. Do you have any suggestion?

[2021-03-11 13:30] slava77 commented on #33064
What are the long-term plans to keep
- D49 = T15+C9+M4+I10+O4+F2 (Keep, HLT TDR)
- D60 = T15+C10+M4+I10+O4+F3 (Keep, HGCal with HFNose)
- D72 = T21+C11+M6+I12+O5+F4 (Keep, TDR ETL)
?

My question is in the context of having to support GE0 software for pre-M9 muon system.
@watson-ij @jshlee  please clarify if the migration from ME0 algorithms to GE0 implies that the GE0 algorithms can still support

[2021-03-11 13:55] smuzaffar commented on #33147
I see the error [a] in the cmssw build log https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_22-slc7_amd64_gcc820/2952/LOGS/cms/cmssw/CMSSW_10_6_22/log . Looks like herwig update did not go well. Let first wait for the 10.6.X IB to get the build errors

[a]
[code]

[2021-03-11 14:14] qliphy commented on #33147
thanks @smuzaffar
Adding also @cms-sw/generators-l2 @Dominic-Stafford

[2021-03-11 14:20] smuzaffar commented on #33147
looks like auto forward port for gcc820 did not work https://cmssdt.cern.ch/jenkins/job/auto-forward-port-branch/14609/console . I will fix the forward port and restart the build

[2021-03-11 14:23] jshlee commented on #33064
@slava77 - GE0 algorithms do not support ME0 geometries.

[2021-03-11 14:26] slava77 commented on #33064
thank you for clarifying.
Let's try to understand how long the geometries proposed to be kept/supported (D49, D60, and D72) are expected to be maintained.
@srimanob

[2021-03-11 14:33] cmsbuild commented on #33147
The build has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2953/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-11 15:21] kpedro88 commented on #33064
Historically we have kept TDR baseline geometries around even significantly after the TDR is published (i.e. ≥1 year). This is because the TDR review committees ask questions like "what if you use [new reco algorithm] on [old TDR geometry]?" or "what is the impact of [proposed geometry change]?", so having the old geometries in old releases is sometimes not sufficient.

[2021-03-11 15:32] jshlee commented on #33064
@kpedro88 - the geometry isn't different between ME0 and GE0 so this shouldn't be an issue. Currently, the digitiser is the main difference and then the ME0 rechit producer. In both cases, GEM/GE0 is implemented more correctly and realistically. I'm happy to have ME0 geometry and code kept for a while, but we don't want to have samples produce with them anymore.

[2021-03-11 15:36] jpata commented on #33083
OK, thx, concluding that the slowdown is understood, recognized and coming from physics, so we can close this issue. Independently, opportunities for optimization are being addressed in https://github.com/cms-sw/cmssw/pull/33127.

[2021-03-11 15:36] #33083 closed

[2021-03-11 15:43] cmsbuild commented on #33147
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_22-slc7_amd64_gcc700/2951
Some tests (

[2021-03-11 16:17] Dr15Jones commented on #33107
Although I found a fix to stop the symptom we saw (i.e. the crashing) I do not fully understand the underlying cause.

So what is being seen is the `edm::CurrentModuleOnThread::getCurrentModuleOnThread()` is returning a non nullptr and the information associated to that `ModuleCallingContext` is all invalid, except for the `ModuleDescription` which says it is from "PreMixingModule".

When I run th

[2021-03-11 16:23] cmsbuild commented on #33147
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_22-slc7_amd64_gcc700/2951

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-11 17:40] fabiocos commented on #33064
A comment about D72: in principle we could even remove this scenario, and possibly add back a new one with MTD I12 inserted in a more modern combination, in case it is requested for comparisons. I12 in D72 corresponds anyway to a design that looks abandoned, so keeping the xml description in the release should be enough

[2021-03-11 18:01] Dr15Jones commented on #33107
Alice, we have passed beyond the looking glass. Given that I'm seeing crazy behavior, I decided to pursue crazy. In the constructor of `ModuleContextSentry` I record (as member data of the class) the address of the thread local variable `&CurrentModuleOnThread::currentModuleOnThread_`. In `~ModuleContextSentry` I compare the address recorded in the constructor to the one thread local address again

[2021-03-11 18:11] dan131riley commented on #33107
[OneAPI docs say](https://spec.oneapi.com/versions/latest/elements/oneTBB/source/task_scheduler/scheduling_controls/resumable_tasks.html):

"There are no guarantees that the same thread that called tbb::task::suspend continues execution after the suspended point. However, these guarantees are provided for the outermost blocking oneTBB calls (such as tbb::parallel_for and tbb::flow::graph::wait_for

[2021-03-11 18:13] Dr15Jones commented on #33107
So our other uses work because I have a task_arena. Good to know.

[2021-03-11 18:23] cmsbuild commented on #33147
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_22-slc7_amd64_gcc820/2953

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-11 18:35] davidlange6 commented on #30189
Ping about  DataFormats/RPCDigi.

[2021-03-12 03:39] chunyulin opened #33156 "Compile cmssw in an ubuntu container without CVMFS ?"
Is there any updated doc on the general / detail steps ? As installing CVMFS inside a container need the  prevelidge docker, which is almost unlikely for standard container service provided by some institue. Thanks.

[2021-03-12 03:40] cmsbuild commented on #33156
A new Issue was created by  @chunyulin Chun-Yu Lin.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-12 07:45] qliphy commented on #33147
upload all

[2021-03-12 07:45] cmsbuild commented on #33147
Queing Jenkins upload for slc7_amd64_gcc700

[2021-03-12 07:46] cmsbuild commented on #33147
Queing Jenkins upload for slc7_amd64_gcc820

[2021-03-12 07:46] cmsbuild commented on #33147
The upload has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1882/console

[2021-03-12 07:47] cmsbuild commented on #33147
The upload has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1881/console

[2021-03-12 07:55] cmsbuild commented on #33147
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_22-slc7_amd64_gcc820/1881

[2021-03-12 07:55] cmsbuild commented on #33147
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_22-slc7_amd64_gcc700/1882

[2021-03-12 08:18] qliphy commented on #33147
release-notes

[2021-03-12 08:19] cmsbuild commented on #33147
Generating release notes since CMSSW_10_6_21.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-12 08:19] cmsbuild commented on #33147
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_22 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_21 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_22

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2021-03-12 08:22] cmsbuild commented on #33147
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_22

[2021-03-12 08:46] fwyzard opened #33159 "Build CMSSW_11_2_3_Patatrack"

[2021-03-12 08:46] cmsbuild commented on #33159
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2021-03-12 08:49] fwyzard commented on #33159
+1

[2021-03-12 08:50] cmsbuild commented on #33159
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_3_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2021-03-12 08:50] cmsbuild commented on #33159
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-03-12 08:50] cmsbuild commented on #33159
The build has started for slc7_amd64_gcc900 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2955/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-12 08:50] cmsbuild commented on #33159
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2954/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-12 08:51] cmsbuild commented on #33159
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2956/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-12 08:53] cmsbuild commented on #33159
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2957/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-12 09:24] smuzaffar commented on #33156
@chunyulin , ubuntu is not a support CMS architecture and there is no simple way to compile cmssw under it. You need to build the full software stack (starting from gcc and all the externals) for ubuntu in order to build cmssw.

[2021-03-12 10:07] srimanob commented on #33064
Hi @fabiocos
Is that simple to use I12 in D76? If not, maybe keep D72 for now could be an option. Thanks.

[2021-03-12 11:16] cmsbuild commented on #33159
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3_Patatrack-slc7_aarch64_gcc9/2956
Som

[2021-03-12 11:26] cmsbuild commented on #33159
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3_Patatrack-slc7_ppc64le_gcc9/2957
Som

[2021-03-12 11:34] fwyzard commented on #33159
upload all

[2021-03-12 11:34] cmsbuild commented on #33159
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-03-12 11:34] cmsbuild commented on #33159
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-03-12 11:35] cmsbuild commented on #33159
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1883/console

[2021-03-12 11:35] cmsbuild commented on #33159
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1884/console

[2021-03-12 11:36] cmsbuild commented on #33159
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3_Patatrack-slc7_ppc64le_gcc9/1884

[2021-03-12 11:36] cmsbuild commented on #33159
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3_Patatrack-slc7_aarch64_gcc9/1883

[2021-03-12 11:54] cmsbuild commented on #33159
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3_Patatrack-slc7_amd64_gcc900/2955
Som

[2021-03-12 11:54] cmsbuild commented on #33159
Queing Jenkins upload for slc7_amd64_gcc900

[2021-03-12 11:55] cmsbuild commented on #33159
The upload has started for slc7_amd64_gcc900 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1885/console

[2021-03-12 11:56] cmsbuild commented on #33159
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3_Patatrack-slc7_amd64_gcc900/1885

[2021-03-12 12:00] cmsbuild commented on #33159
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3_Patatrack-cc8_amd64_gcc9/2954
Some test

[2021-03-12 12:00] cmsbuild commented on #33159
Queing Jenkins upload for cc8_amd64_gcc9

[2021-03-12 12:01] cmsbuild commented on #33159
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1886/console

[2021-03-12 12:02] cmsbuild commented on #33159
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3_Patatrack-cc8_amd64_gcc9/1886

[2021-03-12 12:12] cmsbuild commented on #33159
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3_Patatrack-slc7_aarch64_gcc9/2956

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-12 12:19] cmsbuild commented on #33159
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3_Patatrack-slc7_ppc64le_gcc9/2957

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-12 12:35] cmsbuild commented on #33159
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3_Patatrack-slc7_amd64_gcc900/2955

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-12 12:40] cmsbuild commented on #33159
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3_Patatrack-cc8_amd64_gcc9/2954

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-12 14:10] chunyulin commented on #33156
Thanks @smuzaffar for reply. Could you give me a rough idea, or any links, that I can at least try to install scram and build a minimal cmsRun? I searched on twiki but found no related materials. My intention is to test on the ubuntu GPU container of HPC center, which is hard to adapt to cms's enviorment in a short time due to heavy policy constrain.

[2021-03-12 14:22] mariadalfonso commented on #27889
+xpog

indeed production advancing

[2021-03-12 14:23] smuzaffar commented on #33156
why not run cms cc7 docker container and install cmssw release inside it? That will be much simpler to run cmssw . In order to do that you can start cmssw/cc7:amd64 ( or cmssw/cc8:amd64) docker container and mount a local directory e.g. -v /build:/build and once insde the container then you can do
[code]

[2021-03-13 14:33] srimanob commented on #22494
Hi @makortel
While looking on pdigi_valid, I see this open issue. Do I understand correctly that currently,
+ Classical mixing: We do validation of Signal + MinBias in DIGI step
+ PreMixing: The digitization validation is done based on the signal only.
Thanks.

[2021-03-13 14:53] makortel commented on #22494
In both classical mixing and premixing the validation code is run in RECO step. The difference of `pdigi_valid` and `pdigi` Sequences is that using `pdigi_valid` leads to inclusion of MC truth information (mostly TrackingParticles and various DigiSimLinks) that is necessary for validation but not needed in production (`pdigi`). Note that the definitions of `pdigi_valid` and `pdigi` Sequences thems

[2021-03-13 14:53] makortel commented on #22494
assign operations

[2021-03-13 14:54] cmsbuild commented on #22494
New categories assigned: operations

@fabiocos,@franzoni,@qliphy,@davidlange6,@silviodonato you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-13 16:08] srimanob commented on #33012
Hi @rekovic
I don't know if what @davidlange6 mentioned is what you think? But if that is the case, I assume some collections should propagate to AODSIM, so analysts can use them easily. Where is the right forum to discuss this?

[2021-03-13 16:25] srimanob opened #33172 "MINIAOD step can't run on Phase-2 RAWSIM (need Phase2TrackerDigi)"
Trying to follow up on the cleaning of Phase-2 cmsDriver in https://github.com/cms-sw/cmssw/issues/33012, I see that if I use RAWSIM as output from Digi step I will face an issue with several filters which need Phase2TrackerDigi which appears in FEVTDEBUG (in general relvals).

Not sure if it is too early to try to clean up, but I think we may need to make sure that the eventcontents are in the pl

[2021-03-13 16:25] cmsbuild commented on #33172
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-13 18:13] mmusich commented on #33172
This happens because there aren't yet a packer and unpacker for the phase2 Tracker, so the clusterizers take the simDigis instead of the digis extracted from RAW data as it would normally happen.

https://github.com/cms-sw/cmssw/blob/a2397cc1c67ee908deeb2b458f67df3af17519e9/RecoLocalTracker/SiPhase2Clusterizer/python/phase2TrackerClusterizer_cfi.py#L5

Not sure you *really* want to change the RAWS

[2021-03-13 23:35] srimanob commented on #33172
Thanks for the information @mmusich

I think taking care of Phase-2 MINIAOD flag side (i.e. disable MET flags) is a proper way for now until we are ready.

[2021-03-14 02:35] chunyulin commented on #33156
You are right. However, in my scenario, we try to run cmssw, HeterogeneousCore/SonicTriton specifically, in a pre-built, standard, unprivileged tensorRT container service. That means we cannot config CVMFS nor run another container inside, due to the strict policy of our HPC center. So, I naively thought if I could have a scram/cmssw compiled from scratch, maybe I can then utilize my HPC resource

[2021-03-14 05:27] hatakeyamak commented on #32475
Thank you @rovere for your feedback and also for a pointer to the slides. So, I think this proposed cleanup is on the right track. I had some exchange with EGM conveners also about this, and I believe they are on the board, but I also want to make sure @SohamBhattacharya is on the same page. I will be happy to help moving this forward, but I will need some help from EGM for making necessary change

[2021-03-14 07:23] cmsbuild commented on #33147
The cleanup has started for slc7_amd64_gcc700

[2021-03-14 07:23] cmsbuild commented on #33147
The cleanup has started for slc7_amd64_gcc820

[2021-03-14 07:23] #33147 closed

[2021-03-14 07:24] cmsbuild commented on #33147
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_22-slc7_amd64_gcc820/1644

[2021-03-14 07:24] cmsbuild commented on #33147
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_22-slc7_amd64_gcc700/1643

[2021-03-15 08:43] fabiocos commented on #33064
@srimanob I have discussed internally in MTD, and we agree that the I12 option is not something we need to routinely probe, or even plan to use anymore. Since we have the xml description, which in case could be cross checked against recent envelopes and adapted to it, we may keep it, but no real need to have an I12-based scenario in the release. That detector design looks obsolete by now, and it i

[2021-03-15 09:02] silviodonato commented on #32045
We see again `Fatal system signal has occurred during exit` starting from `CMSSW_11_3_X_2021-03-08-1800`. (All relvals were ok in `CMSSW_11_3_X_2021-03-08-1100` both in `DEFAULT` and `SCRAMV3_X`).
The PR merged in `CMSSW_11_3_X_2021-03-08-1800` were
    #32804 from Dr15Jones: Migrate to tbb::task_group
    #33095 from davidlange6: correct Buildfiles in SimDataFormats
    #33019 from guitargeek: Re

[2021-03-15 09:55] SohamBhattacharya commented on #32475
Thank you very much for looking into this, @hatakeyamak.
Starting from `particleFlowClusterHGCal`, we're using `ticlMultiClustersFromTrackstersMerge/ticlTrackstersMerge` for the HGCal e/gamma studies, and not `mix:MergedCaloTruth` anymore.
You mentioned cleaning up the `FromMultiCl` collection for photons and use
[code]
for both barrel and HGCal for RECO -- so is this a merged collection? If so, i

[2021-03-15 11:23] emiglior commented on #33064
As discussed in the last meeting of the Inner Tracker sensors performance task force,
https://indico.cern.ch/event/988838/contributions/4258167/attachments/2202703/3736635/em20210305.pdf
we need to explore few additional layouts for the ph2 Tracker corresponding to more realistic construction scenarios (e.g. limited surface that can be instrumented with 3D sensors)

In summary, we propose
- T21, T

[2021-03-15 12:49] hahnjo commented on #31123
I don't see why it should: The problem started before the LLVM upgrade and the linked PR disables GlobalISel which became enabled as a by-product of the upgrade. I think the initial issue described here is real and happens due to "circumstances" that make a code section more than 4Gb of virtual address space away from the data.
Which is not something we can really avoid unless we statically pre-al

[2021-03-15 13:02] Dr15Jones commented on #32045
@silviodonato #33126 is meant to fix the crashes at end of job

[2021-03-15 13:26] slava77 opened #33180 "non-reproducibility in ticlTrackstersEM id probabilities wf D76 PMX 34834.999"
There is an unrelated (random?) change in comparisons of wf D76 PMX 34834.999

- first observed in tests of #33105 using CMSSW_11_3_X_2021-03-09-2300
    - the same PR tests also have a difference in deepTau as in #32628
    - the log has a similar hint that there is a difference in the baseline and PR hardware, as indicated in the TensorFlow warning about available flags: baseline "SSE4.1 SSE4.2

[2021-03-15 13:26] slava77 commented on #33180
assign reconstruction

[2021-03-15 13:26] cmsbuild commented on #33180
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-15 13:26] cmsbuild commented on #33180
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-15 13:29] dan131riley commented on #31123
I agree that it's unlikely to help.  What needs to be done is implement the suggestion by @lhames to allocate the data and code in one allocation so they are guaranteed to be close by.  I don't know if this would solve every use case, but I'm confident it would fix all the CMS ones that I'm aware of.  Is this on anyone's todo list?

[2021-03-15 14:01] slava77 commented on #33180
@riga @mialiu149
together with #32628 it looks like we are observing a dependency of TF inference results on the (still intel) hardware.
Is the TF library in cmssw using some hardware functionality flag detection and follows different execution?

[2021-03-15 14:03] vgvassilev commented on #31123
Thanks for the explanation @hahnjo!

@dan131riley, I am not aware of being on anybody’s workplan.

[2021-03-15 16:08] riga commented on #33180
@slava77
Good question. According to https://github.com/cms-externals/tensorflow/blob/cms/v2.4.1/tensorflow/core/platform/cpu_feature_guard.cc#L99 , it looks like warnings such as

[code]

are a bit misleading. They list the hardware flags that were not enabled at (TF) build time but are available at compile time, which are thus handled by the oneDNN library. I don't know the exact internals of on

[2021-03-15 16:18] lhames commented on #31123
In the newer (ORCv2) JIT design there are a couple of ways to approach this problem:

1. If you can guarantee that there are no JIT'd external references to variables with hidden visibility:

In this case you can safely allocate on a per-object basis even with the small code model. References to variables outside the current object will go via a GOT entry (automatically optimized to direct referen

[2021-03-15 16:26] hahnjo commented on #31123
But it does not for incremental JITting, right? I'm thinking about declaring a large array in the first module that is referenced by code in the second object. Then we *need* to support arbitrary relocations into the entire address space (unless I'm missing something here).

[2021-03-15 16:30] Axel-Naumann commented on #31123
Thanks a *lot* @lhames for this explanation!

FYI @dan131riley: @hahnjo will be looking into the object pre-reservation described by @lhames - hoping we can come up with a way to make it work (see his comment above). And IIUC @vgvassilev will tackle the upgrade to ORCv2 this year.

[2021-03-15 18:30] lhames commented on #31123
Incremental JITing seems like it would be a problem, but it turns out that regular dynamic linking introduces the same class of problem, so we already have a solution to it. The problem comes from the fact that when you see a declaration like `extern int X;` in C code there's nothing to tell the compiler/codegen whether X will eventually be part of the same library, or will come from some other dy

[2021-03-15 21:42] kpedro88 commented on #33156
@chunyulin I'd like to learn more about the use case and restrictions at your HPC center. Can you run two separate containers (one for CMSSW and one for the Triton server) side-by-side and communicate between them using e.g. docker network?

There are non-cvmfs-based CMSSW container images at https://hub.docker.com/u/cmsopendata and https://gitlab.cern.ch/cms-cloud/cmssw-docker/container_registry,

[2021-03-15 21:45] makortel commented on #33156
assign core

[2021-03-15 21:45] cmsbuild commented on #33156
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-16 03:23] chunyulin commented on #33156
Thank @kpedro88, we can, now I get what you mean: SonicTriton can be run in a separate container from Triton server, and I can try to ask our HPC admin to install base containers to install cmssw as @smuzaffar's tips.

[2021-03-16 03:23] #33156 closed

[2021-03-16 13:24] Dr15Jones opened #33194 "ASAN problem in HGCalGeomTools::radius"
The ASAN report for CMSSW_11_3_ASAN_X_2021-03-15-2300 has many instances of

[code]

[2021-03-16 13:24] Dr15Jones commented on #33194
assign geometry

[2021-03-16 13:24] cmsbuild commented on #33194
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-16 13:24] cmsbuild commented on #33194
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-16 15:33] makortel commented on #28341
Is this issue still relevant? @cms-sw/dqm-l2

(I'd guess "yes")

[2021-03-16 15:35] makortel commented on #21968
What is the status if this issue?

[2021-03-16 15:39] makortel commented on #30234
I think so. Preferably @cms-sw/generators-l2 would sign the issue (in principle @Dr15Jones or those with permissions could also directly close it).

[2021-03-16 15:41] makortel commented on #16063
Is this issue still relevant?

[2021-03-16 15:48] makortel commented on #22135
This doesn't seem to have occurred for a long time, maybe we could close it?

[2021-03-16 15:54] Dr15Jones commented on #22135
Sure. Do you want to do the 'signature'?

[2021-03-16 16:01] makortel commented on #22135
+1

[2021-03-16 16:01] cmsbuild commented on #22135
This issue is fully signed and ready to be closed.

[2021-03-16 16:02] #22135 closed

[2021-03-16 16:10] jfernan2 commented on #28341
My understanding is that yes, it is still relevant.
IMHO, the main issue is the need to keeo histograms shown live in online DQM. A single thread at Online DQM is stil used, but I am not sure of the plan for HLT.
Thanks

[2021-03-16 16:12] makortel commented on #33107
+1

No further signs of these failures

[2021-03-16 16:12] #33107 closed

[2021-03-16 16:12] cmsbuild commented on #33107
This issue is fully signed and ready to be closed.

[2021-03-16 16:25] jfernan2 commented on #21968
I am afraid DQMFileSaver is still used at Harvesting as well as some commissioning tools and other private workflows.
I don't know if EDM does not allow JOB product yet, and therefore output modules cannot save at the end of the JOB scope. The only file format where JOB scope is supported is the legacy TDirectory DQMFileSaver

- We use ProcessBlock products to model the dataflow that traditionally

[2021-03-16 16:26] slava77 commented on #32152
There is a high chance that this will be fixed by #33157

[2021-03-16 17:13] hahnjo commented on #31123
Okay, before continuing the technical discussion, I'd like to take a moment to make sure that everybody is talking about the same problem (because it looks like at least I didn't). I was able to produce a crash on AArch64 Linux with the following two lines in the interactive `root` interpreter:
[code]

<details>
  <summary>Backtrace of the crash with debug information</summary>

[code]
</details>

[2021-03-16 17:17] chayanit commented on #33004
Just to follow up the question in ORP meeting today, the memory for Phase2 highPU workflows does not increase between 11_3_0_pre3 and 11_3_0_pre4. But do we understand what cause the increase since 11_3_0_pre2?

PeakRSSValue for TTbar 2026D76PU200 in pre3
<img width="311" alt="pre3_RECOPU" src="https://user-images.githubusercontent.com/5130391/111351696-bd516d00-8683-11eb-83d5-7373375dc7f0.png">

[2021-03-16 17:41] fabiocos commented on #33130
Issue solved by #33139

[2021-03-16 17:41] #33130 closed

[2021-03-16 17:43] dan131riley commented on #31123
That looks like the same issue, but it isn't during library loading, it's in the process of JITting
[code]
which is all under
[code]
My understanding is that, when that line is JITted, the memory for the constants and the code are allocated separately, while the compiler and runtime loader are assuming that the constants will be nearby the code--often I believe the constants will be allocated just

[2021-03-16 17:44] agrohsje commented on #30234
+generators

[2021-03-16 17:44] cmsbuild commented on #30234
This issue is fully signed and ready to be closed.

[2021-03-16 17:53] pcanal opened #33196 "(likely) Unwanted auto-parsing in aarch64 IBs"
In https://github.com/cms-sw/cmssw/issues/31123 we see https://github.com/cms-sw/cmssw/issues/31123#issuecomment-778318184 which in particular has the lines:

[code]

where asking for the `TClass` for `"edm::AssociationVector<edm::RefToBaseProd<reco::Jet>,std::vector<edm::RefVector<std::vector<reco::Track>,reco::Track,edm::refhelper::FindUsingAdvance<std::vector<reco::Track>,reco::Track> > >,edm::

[2021-03-16 17:53] cmsbuild commented on #33196
A new Issue was created by  @pcanal Philippe Canal.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-16 18:07] fwyzard commented on #28341
I guess the two options are
  - drop support for DQM at HLT: no more DQM histograms coming from the HLT to the online DQM, etc.
  - keep support for DQM at HLT: HLT still needs to make per-Run (and per-LS ?) histograms

What I recall is that the only way to get per-Run histograms from the HLT to the DQM was to "slice" them into per-LS updates; if that is not needed/supported any more, or if there

[2021-03-16 18:10] fwyzard commented on #16063
Re-reading the discussion and description, I think not.

[2021-03-16 18:13] makortel commented on #16063
+1

Thanks for checking!

[2021-03-16 18:14] makortel commented on #33196
assign core

[2021-03-16 18:14] cmsbuild commented on #33196
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-16 18:17] makortel commented on #33196
Dictionary for this class is defined in
https://github.com/cms-sw/cmssw/blob/07a27e5287a583bb5fd83e34f568a4f206536bec/DataFormats/JetReco/src/classes_def_3.xml#L49-L51

[2021-03-16 18:22] makortel commented on #33196
For this I did not see any explicit dictionary declaration, but it is part of declarations of many others, e.g. here
https://github.com/cms-sw/cmssw/blob/07a27e5287a583bb5fd83e34f568a4f206536bec/DataFormats/TrackReco/src/classes_def.xml#L354-L358

[2021-03-16 18:22] pcanal commented on #33196
But (at least in that file) not for `edm::refhelper::FindUsingAdvance<std::vector<reco::Track>,reco::Track>`.

[2021-03-16 18:29] makortel commented on #33196
Checking the use of `FindUsingAdvance` in more general, I see only one case where a dictionary for its instantiation is declared
https://github.com/cms-sw/cmssw/blob/07a27e5287a583bb5fd83e34f568a4f206536bec/DataFormats/CaloTowers/src/classes_def.xml#L23

Philippe, are essentially saying that we should declare a dictionary for all instantiations of `edm::refhelper::FindUsingAdvance` explicitly?

[2021-03-16 18:34] pcanal commented on #33196
First, we should double check doing so is enough to avoid the AutoParsing :)

[2021-03-16 20:21] lhames commented on #31123
That sounds right to me, and fits neatly with the backtrace @hahnjo linked. The discussion above is relevant -- the code examples were x86-64, but there are equivalent sequences and constraints exist for aarch64.

[2021-03-16 23:45] makortel commented on #21968
The `ProcessBlock` persistency is still in progress. But I'm now confused how that relates to supporting concurrent lumis. Is `DQMFileSaver` used in anywhere else than harvesting? If "yes", would it really need to be made to support concurrent lumis? (harvesting would have also other issues towards multi-threading and concurrent lumis, right?)

[2021-03-17 10:21] jpata commented on #33004
Yes, as far as I'm aware, a significant part is from this issue: https://github.com/cms-sw/cmssw/issues/32756

[2021-03-17 10:42] hahnjo commented on #31123
Right, I got confused by the auto-loading / -parsing frames in the original backtrace. However, I'm still not sure that the issue is really about constants and global data accesses - all these seem to respect the large code model that makes no assumptions about addressibility.

I took a closer look at the crash from my previous comment, and I'm 99% sure that this is coming from a relocation in `.e

[2021-03-17 12:12] hahnjo commented on #31123
Well, LLVM does for `ppc64` and `x86_64` but the `case`s for `aarch64` were missing. This was fixed by https://github.com/llvm/llvm-project/commit/18805ea951be02fcab6e7b11c3c7d929bcf1441a upstream and I've prepared a backport in https://github.com/root-project/root/pull/7563. This at least fixes the case I posted in https://github.com/cms-sw/cmssw/issues/31123#issuecomment-800450831. @dan131riley

[2021-03-17 12:34] jfernan2 commented on #28858
+1
solved by https://github.com/cms-sw/cmssw/pull/33200   afaiu

[2021-03-17 12:35] cmsbuild commented on #28858
This issue is fully signed and ready to be closed.

[2021-03-17 12:45] #30234 closed

[2021-03-17 12:45] #28858 closed

[2021-03-17 13:34] makortel opened #33203 "Random exceptions in DD4Hep workflow"
Workflow 11650.911 step 3 fails in CMSSW_11_3_X_2021-03-16-2300 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-03-16-2300/pyRelValMatrixLogs/run/11650.911_ZMM_14+2021_DD4hep+ZMM_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step3_ZMM_14+2021_DD4hep+ZMM_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log#/

[2021-03-17 13:34] makortel commented on #33203
assign geometry

[2021-03-17 13:34] cmsbuild commented on #33203
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-17 13:34] cmsbuild commented on #33203
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-17 13:59] slava77 commented on #32152
Just trying to keep track of the recent cases:
the last time I see a related crash is in 11834.24 using CMSSW_11_3_X_2021-03-12-2300

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc9/CMSSW_11_3_X_2021-03-12-2300/pyRelValMatrixLogs/run/11834.24_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano/step3_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT

[2021-03-17 14:11] cvuosalo commented on #33203
@bsunanda @ghugo83 @civanch Please take a look. Any ideas about this problem?

[2021-03-17 15:08] cvuosalo commented on #33203
@makortel I notice the same workflow succeeds with amd64_gcc10. What might that mean? See the successful log here:

http://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc10/CMSSW_11_3_X_2021-03-16-2300/pyRelValMatrixLogs/run/11650.911_ZMM_14+2021_DD4hep+ZMM_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step3_ZMM_14+2021_DD4hep+ZMM_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log

[2021-03-17 15:28] makortel commented on #33203
Right, the workflow succeeded also in CLANG and PY3 IBs. Typical causes for random failures in our code base include uninitialized variables and data races.

Given the connection to ROOT, I noticed it was updated to 6.22.08 on a preceding IB (2021-03-16-1100). The workflow succeeded in all IB flavors there though.

[2021-03-17 15:48] silviodonato commented on #33203
I tried to rerun the workflow in `CMSSW_11_3_X_2021-03-16-2300` and it worked without any error
[code]

[2021-03-17 16:03] jfernan2 commented on #21968
As far as I can see in github, apart from Harvesting and private test folders, DQMFileSaver is being used on:
- https://github.com/cms-sw/cmssw/blob/ba6e8604a35283e39e89bc031766843d0afc3240/HLTrigger/Timer/python/FastTimerService_cff.py
- https://github.com/cms-sw/cmssw/blob/ba6e8604a35283e39e89bc031766843d0afc3240/Alignment/OfflineValidation/python/TrackerOfflineValidation_Dqm_cff.py

[2021-03-17 16:20] SohamBhattacharya commented on #32475
@hatakeyamak
Thank you for the clarification. Yes, for photons we can move `photonsFromMultiCl` to the following and remove the `photonsFromMultiCl` collection.
[code]
As for the name, since we're having separate collections for EB and HGCal, I think `HGC` as a suffix is a good option, but I'm open to other opinions/suggestions.

Regarding the electrons, I will get back with some tests with `pfTra

[2021-03-17 16:28] hatakeyamak commented on #32475
@SohamBhattacharya thank you. I think "HGC" suffix is a good one.

[2021-03-17 17:08] ghugo83 commented on #33203
This very spurious issue comes from an exception thrown from DD4hep, at XML algo parsing stage:
`DD4CMS           ERROR Exception while processing xml source:file:///cvmfs/cms-ib.cern.ch/nweek-02672/slc7_amd64_gcc900/cms/cmssw/CMSSW_11_3_X_2021-03-16-2300/src/Geometry/TrackerCommonData/data/tecpetal6b.xml`

[code]

So for now was not reproduce-able on CMSSW_11_3_X_2021-03-16-2300 and slc7_amd64_gc

[2021-03-17 17:08] cvuosalo commented on #33203
We have run 11650.911 several times in multi-threaded mode in the latest IB. It has been successful through all steps. I'm not sure if this error can be reproduced.

[2021-03-17 18:01] jfernan2 commented on #28341
I apologize in advance if my answer does not reach the desired levels for this conversation, but unfortunately the real expert on this matter @schneiml is out of CMS since a long time as you probably know.

I am afraid that the original problems stated in this issue concerning DQM@HLT have not been addressed. According to the description by Marcel and the PRs that came afterwards, specially https:

[2021-03-17 22:08] makortel commented on #33203
CMSSW_11_3_DEVEL_X_2021-03-17-1200 shows a different exception
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_DEVEL_X_2021-03-17-1200/pyRelValMatrixLogs/run/11634.911_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step3_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log#/

[2021-03-17 23:20] makortel commented on #33203
CMSSW_11_3_X_2021-03-17-1100 shows a third kind of exception
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-03-17-1100/pyRelValMatrixLogs/run/11634.911_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step3_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log#/

[2021-03-17 23:27] makortel commented on #33203
@Dr15Jones I'm confused by the exception context chain
[code]
What does it mean that the stack has ESModule (`DTGeometryESModule`) followed by `Processing global begin Run` followed by EDModule (`EcalDQMonitorTask`)?

[2021-03-17 23:51] cvuosalo commented on #33203
The exceptions keep occurring in `class DTResolutionAnalysisTask : public DQMOneEDAnalyzer<>`, but the base class is `class DQMOneEDAnalyzer : public edm::one::EDProducer<edm::EndRunProducer, edm::one::WatchRuns, edm::Accumulator, Args...>`.

How can a `one` class be the source of thread-race exceptions?

[2021-03-18 00:20] makortel commented on #33203
The exception occurs every time inside `DDDetectorESProducer`. The call chain is either
* `DTResolutionAnalysisTask` asks for ESProduct produced by `DTGeometryESModule` that requires an ESProduct produced by `DDDetectorESProducer`, or
* `EcalDQMonitorTask` asks for ESProduct produced by `CaloGeometryBuilder` that requires an ESProduct produced by `DDDetectorESProducer`

Both `DTResolutionAnalysisT

[2021-03-18 10:11] SohamBhattacharya commented on #32475
@hatakeyamak
Just to confirm, then at the RECO level, the following collections will contain both the EB and HGCal electrons/photons (after the electron `pfTrackElec` issue is solved)?
[code]
If so, can you please point me to where exactly the EB objects will be combined with the `ticlMultiClustersFromTrackstersMerge/ticlTrackstersMerge`-based HGCal objects? It seems to me this will require some m

[2021-03-18 11:16] mrodozov commented on #31123
@hahnjo I can't reproduce your example can you describe a bit further what machine have you used and which ROOT version ? I tried 6.22 and master on Arm

[2021-03-18 11:59] hahnjo commented on #31123
Sure: I was building ROOT master on `techlab-arm64-thunderx2-01` in full Debug mode (`-DCMAKE_BUILD_TYPE=Debug -DLLVM_BUILD_TYPE=Debug`) in order to get all `assert`s. It doesn't really matter if you can reproduce my example (I mean, I made sure that this one is fixed), but the important data point would be if that also fixes the crash in CMSSW that @dan131riley was able to produce. If the crash i

[2021-03-18 12:15] mrodozov commented on #31123
Right, thank you for the clarification. I'm using similar machine (prob almost the same) so I'm going to change the flags and retry, however ...

In CMSSW we are using 6.22 ROOT, not master, currently this one to be specific
and I tried to reproduced your PR from master to 6.22 in here:
https://github.com/cms-sw/root/commit/fae0f05c92383de4b8d98856444436d1234a8b78
If you confirm this is how the ba

[2021-03-18 12:34] hahnjo commented on #31123
@mrodozov the backport seems fine, but do you need a full release to test if the crash is gone? I had hoped that you have local development builds of CMS-SW, plus you really need a Debug build in order to see the `assert`. (I plan to backport this to `v6-22-patches` once it lands in ROOT `master`, but I wanted confirmation that it really fixes the issue)

[2021-03-18 12:41] makortel commented on #33084
Another occurrance in CMSSW_11_3_DEVEL_X_2021-03-17-2300 1325.6 step 2
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_DEVEL_X_2021-03-17-2300/pyRelValMatrixLogs/run/1325.6_TTbar_13_94Xv1NanoAODINPUT+TTbar_13_94Xv1NanoAODINPUT+NANOAODMC2017_94XMiniAODv1/step2_TTbar_13_94Xv1NanoAODINPUT+TTbar_13_94Xv1NanoAODINPUT+NANOAODMC2017_94XMiniAODv1.log#/

[2021-03-18 12:47] jfernan2 commented on #33084
@gpetruc  according to github history, you were the one who introdudec nanoDQMC in the code, could you please have a look or point us for a responsible?
Thanks

[2021-03-18 12:49] dan131riley commented on #31123
@hahnjo I do have a local dev area with a Debug ROOT that I can hook into a recent CMSSW IB, hopefully will get to trying your patch sometime today.

[2021-03-18 12:59] vgvassilev commented on #31123
@hahnjo, the backport you suggest is in any case good to have. Why don’t we just go ahead and merge it and then cmssw can pick up the new master and will get an answer probably by tomorrow?

[2021-03-18 13:15] Dr15Jones commented on #33203
@makortel wrote:

The context chain has no connection to the call stack anymore. What I think is happening is
1. All ED modules are queued into TBB to run at begin Run
2. EcalDQMonitorTask runs, synchronously request EventSetup data that triggers DDDetectorESProducer to be run.
3. DDDetectorESProducer throws an exception and its exception object records the context up to that point
4. DTResolution

[2021-03-18 13:16] hatakeyamak commented on #32475
For electrons, I think this happens because of
https://cmssdt.cern.ch/lxr/source/cfipython/RecoEgamma/EgammaElectronProducers/ecalDrivenElectronSeeds_cfi.py#0038
https://cmssdt.cern.ch/lxr/source/RecoEgamma/EgammaElectronProducers/python/ecalDrivenElectronSeeds_cff.py#0019
https://cmssdt.cern.ch/lxr/source/RecoEgamma/EgammaElectronProducers/plugins/ElectronSeedProducer.cc#0251
where both barrel an

[2021-03-18 13:17] slomeo commented on #31288
@cvuosalo why are you using CMSSW_11_2_X_2020-08-27-2300 ?

[2021-03-18 13:31] civanch commented on #33203
@makortel , @Dr15Jones , I would add a trivial comment: SIM case is different from RECO, because SIM has a special master thread which set a lock for geometry and main physics of G4 initialisation. RECO geometry is built differently.

[2021-03-18 13:41] mrodozov commented on #31123
we are building this releas anyway, it's just a minor edit for the Arm build and a few hours earlier.
it's not only to check if the example crash is gone, I want to see if it fixes pieces in cmssw.
and a release with debug flags for ROOT will also be helpful

[2021-03-18 13:44] cvuosalo commented on #31288
@slomeo This issue was opened in August, so that was the latest at the time. Many of these warnings are still in the latest 11_3. You can look here http://cms-sw.github.io/showIB.html and click on the "Static Analyzer" link.

[2021-03-18 13:58] makortel commented on #33203
Thanks @Dr15Jones, so I just got fooled by the (a bit confusing) context stack in the exception message.

So the exception itself occurs in `DDDetectorESProducer`, we have multiple EDModules asking (symchronously) for ESProducts whose ESProducers need the procuct of `DDDetectorESProducer`, and the exception just happens to be reported that way.

[2021-03-18 14:03] slomeo commented on #31288
@cvuosalo ok

[2021-03-18 15:31] makortel commented on #33203
CMSSW_11_3_X_2021-03-18-1100 shows a segfault
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-03-18-1100/pyRelValMatrixLogs/run/11634.911_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step3_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log#/

[2021-03-18 15:42] makortel commented on #33203
Two ESModules (`RPCGeometryESModule` and `TrackerGeometricDetESModule`) are calling `TGeoIterator::GetNode()`, while a third one, `magneticfield::DD4hep_VolumeBasedMagneticFieldESProducerFromDB` is constructing `cms::DDDetector::DDDetector`.

Should the data structures created by `DDDetectorESProducer` and `DD4hep_VolumeBasedMagneticFieldESProducerFromDB`  be completely independent, or is there an

[2021-03-18 16:49] SohamBhattacharya commented on #32475
@hatakeyamak Thanks a lot for the detailed clarification -- it's clear to me now.

[2021-03-18 20:16] cvuosalo commented on #33194
@bsunanda Could you please take a look?

[2021-03-18 20:42] cvuosalo commented on #33203
I think the problem started when my PR #33076 was merged on March 15th. Prior to that, the magnetic field in DD4hep workflows was being built with the old DD. With #33076, during reco, a new `DDDetector` is constructed for the magnetic field, which is not thread-safe in DD4hep.

@namapane Could you comment on whether the magnetic field needs its own separate `DDDetector` instance?

Also, for the m

[2021-03-18 21:05] Dr15Jones commented on #33203
Actually, all ES producers are effectively `one`. What needs to be done is all modules creating stuff from DD4Hep evidently need to call `usesResources` and pass in the same string name (presuably `"DD4Hep"`). I'd actually say a global `const std::string` be declared with the name and then every module uses the global variable when calling `usesResources`.

[2021-03-18 21:19] cvuosalo commented on #33203
It looks like this problem was already solved in the past -- we just didn't use the solution. There is already a name for the DD resource:
[code]
from `FWCore/Concurrency/interface/SharedResourceNames.h`

Since old DD and DD4hep should not exist together, we should be able to use this string constant for the DD4hep `usesResources` statements.

[2021-03-18 21:35] makortel commented on #33203
Do I understand correctly that all the `TrackerGeometricDetESModule`, `RPCGeometryESModule` etc need to be protected with the shared resource for DD4Hep then? (that is not needed with the old DD)

[2021-03-18 21:44] dan131riley commented on #31123
It looks like the patch by @hahnjo does fix the problem.  I ran around a hundred test jobs using the backport by @mrodozov in a Debug build, with no assertion failures or crashes observed.

[2021-03-18 21:51] cvuosalo commented on #33203
@makortel I think those ESModules end up using `DDDetectorESProducer`, so if the latter is protected with `usesResources`, along with `DD4hep_VolumeBasedMagneticFieldESProducerFromDB`, then safety would be achieved.

[2021-03-18 21:53] namapane commented on #33203
The MF uses its own geometry, that is completely independent from whatever else. So, instance-wise it should be completely separate. I have no technical experience on how this is achieved with DD4hep.

[2021-03-18 21:56] makortel commented on #33203
The `produce()` functions of those ESModules are run after `DDDetectorESProducer` has produced its ESProduct. A protection in `DDDetectorESProducer` has no effect on those ESModules.

The stack trace of the crash shows those modules (but not `DDDetectorESProducer`) being run at the same time with `DD4hep_VolumeBasedMagneticFieldESProducerFromDB`, so I'm really worried that protecting only `DDDetec

[2021-03-18 22:10] srimanob commented on #33064
@emiglior @mmusich
Thanks for the comment? How quick can you put the new geometry in?
As discussed in the release meeting last week, we may build pre5 earlier than the schedule, to open a chance for longer DD4Hep validation.

FYI @silviodonato @qliphy

[2021-03-18 22:35] cvuosalo commented on #33203
@makortel Yes, that is probably right. While `DD4hep_VolumeBasedMagneticFieldESProducerFromDB` is constructing the magnetic field using DD4hep, no other DD4hep operations may be performed. But I don't think `TrackerGeometricDetESModule` and `RPCGeometryESModule` should block each other, because they are performing read-only operations. I'm not sure how to implement that.

[2021-03-18 22:37] mmusich commented on #33064
Thanks for the reply @srimanob.
@adewit will do the PR to integrate the new geometries (partially internally validated) by tomorrow morning (CERN time).

[2021-03-18 22:41] makortel commented on #33203
Could there be something that could be done on the DD4Hep side to allow one object being read while another logically independent object is being written to?

[2021-03-18 23:02] cvuosalo commented on #33203
I realized a very ugly way to enforce the read-only protection. Each DD4hep ESModule would have its own `usesResources` string name. Then `DDDetectorESProducer` and `DD4hep_VolumeBasedMagneticFieldESProducerFromDB` would list all of them. That way the ESModules wouldn't block each other, but all would be blocked by the two key ESProducers.

[2021-03-19 08:11] silviodonato commented on #33064
I haven't received any news from DD4HEP yet, so I think we will build pre5 next week.

[2021-03-19 10:08] mtosi commented on #32953
w/ @sroychow, @mmusich and alessandro we think we have identified this "bad guy"
to be the source of both the multithread issue and the CPU timing one as well

we are fixing it, and a new PR should come "shortly"

[2021-03-19 13:09] makortel commented on #33203
Different kind of failure in CMSSW_11_3_ROOT6_X_2021-03-18-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ROOT6_X_2021-03-18-2300/pyRelValMatrixLogs/run/11634.911_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step3_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log#/

[2021-03-19 13:11] makortel commented on #33203
Different kind of failure in CMSSW_11_3_CLANG_X_2021-03-18-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_CLANG_X_2021-03-18-2300/pyRelValMatrixLogs/run/11634.911_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step3_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log#/

[2021-03-19 13:38] dan131riley commented on #33203
[Stack trace in CMSSW_11_3_CLANG_X_2021-03-18-2300 11650.911](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_11_3_CLANG_X_2021-03-18-2300/pyRelValMatrixLogs/run/11650.911_ZMM_14+2021_DD4hep+ZMM_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step3_ZMM_14+2021_DD4hep+ZMM_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log) with two threads segfaulting within the signal handler win

[2021-03-19 14:00] cvuosalo commented on #33203
Workflow 11650.911 is unusual because it is a stress test for reconstruction. Unlike other workflows, it builds the reco geometry from XML files during the reco step. Probably all other workflows tested in the IB get the reco geometry pre-built from the DB. It is the multi-threaded usage of DD4hep to construct geometry that is causing these problems.

Any production workflow will get reco geometry

[2021-03-19 14:03] cvuosalo commented on #33203
The problem is clearly `DD4hep_VolumeBasedMagneticFieldESProducerFromDB`. It needs to be protected so that other threads are not accessing DD4hep while it is running, but we have to be careful not to over-protect and impair reco performance. I'm not sure yet what the best solution would be.

[2021-03-19 15:20] makortel commented on #28341
I would not trust much our memory, but what I recall and see in the code, migrating ` DQMGlobalEDAnalyzer` to `DQMEDAnalyzer` could be the least-effort way forward (and would fulfill the requirements to support multiple threads, streams, and concurrent lumisections, and to have minimal copies of histograms in memory).

An alternative could be to add per LS histogram support to `DQMGlobalEDAnalyzer

[2021-03-19 15:43] makortel opened #33224 "Possible threading issue in context information in MessageLogger message decorations"
While running some job with different numbers of threads and streams I noticed that the context part in the decoration of one message changed between different runts. With 8 threads and streams I saw
[code]
but with 8 threads and 1 stream I occasionally saw
[code]
The message itself was the same in both cases, only the context was different. All preceding printouts were done via MessageLogger, the

[2021-03-19 15:43] cmsbuild commented on #33224
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-19 15:44] makortel commented on #33224
assign core

[2021-03-19 15:44] cmsbuild commented on #33224
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-19 16:54] mmusich commented on #33064
Hi @silviodonato the PR mentioned is here #33222, do I understand correctly that in the meanwhile the DD4HEP issues have been straightened out and pre5 is being built this weekend?
Waiting 4+ weeks to have these geometries in to submit relvals is going to be a substantial setback for the Tracker project.
Thanks for the clarification.

[2021-03-19 17:05] bsunanda commented on #33064
We checked only run3 scenario. The job runs to the end. There is still an issue for multi-threading. But it is good for a validation trial
________________________________
From: Marco Musich ***@***.***
Sent: 19 March 2021 17:54
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Clean up obsolete Phase2 geometries in 11_3 (#33064)

Hi @silviodonato<https://github.com/silvio

[2021-03-19 19:45] hahnjo commented on #31123
Thanks for testing! I backported the fix for AArch64 and a similar commit for PowerPC to 6.22 in https://github.com/root-project/root/pull/7607 and the fix will also be included in 6.24. In case you see the issue come back in later testing, please ping me :smiley:

[2021-03-19 19:52] makortel commented on #33203
What is the likelihood that this limitation would be addressed in the DD4Hep side? I'm just wondering if we're talking about temporary mitigation or more permanent solution.

[2021-03-19 19:52] cvuosalo commented on #33194
PR #33221 is a fix for this issue.

[2021-03-19 19:57] cvuosalo commented on #33203
I've been talking with Markus about DD4hep changes. He has ideas of what to change, but I'm not sure whether we want to make the fixes in CMSSW or in DD4hep.
I'm looking for a permanent solution. A temporary mitigation would be to change the 11650.911 workflow to use the DB for reco geometry. But I think it is helpful to discover these multi-threading problems, which are very difficult to reproduc

[2021-03-19 20:35] silviodonato commented on #33064
Hi @mmusich , yes, DD4HEP is ready for a validation so the idea is to build pre5 during the weekend.
CMSSW_11_3_0_pre6 is scheduled for April 6, so in two weeks and half from now ( https://twiki.cern.ch/twiki/bin/view/CMS/CMSSW_11_3_0 ).
If you think https://github.com/cms-sw/cmssw/pull/33222 is ready and can be merged soon (~Monday), we can wait for it to build pre5

[2021-03-19 21:22] Dr15Jones commented on #33203
So first off, TGeoIterator has `const` issues as it always gives access to non-const `TGeoNode`
https://github.com/root-project/root/blob/f8efb11a51cbe5b5152ebef19a4f7b78744ca2fa/geom/geom/inc/TGeoNode.h#L277

which means we can't safely use it on our `const` objects.

[2021-03-19 21:31] Dr15Jones commented on #33203
So internally, DD4Hep uses the global `TGeomManager` which is where the crash is happening

https://github.com/AIDASoft/DD4hep/blob/0fa8158868bd6b1de38a4a613423ed2f720a63c3/DDCore/src/DetectorImp.cpp#L207

[2021-03-19 21:32] Dr15Jones commented on #33203
Here is another global they are using
https://github.com/AIDASoft/DD4hep/blob/0fa8158868bd6b1de38a4a613423ed2f720a63c3/DDCore/src/DetectorImp.cpp#L218

[2021-03-19 21:39] Dr15Jones commented on #33203
So my guess is `TGeoManager` is being shared between the Mag field system and the geometry. While the mag field is adding elements to that `TGeoManager` the geometry is attempting to iterate over it and bad things (technical term :) ) happen.

[2021-03-19 21:43] Dr15Jones commented on #33203
Here appears to be the underlying problem
https://github.com/root-project/root/blob/f8efb11a51cbe5b5152ebef19a4f7b78744ca2fa/geom/geom/src/TGeoManager.cxx#L411-L413

So when the geometry is being made, it set `gGeoManager`. It does NOT reset it to `nullptr` after the geometry is made. Then when the mag field is being built, it deletes the geometry and creates a new `gGeoManager`. Therefore when ot

[2021-03-19 21:46] cvuosalo commented on #33203
@Dr15Jones Yes, that is the problem. We cannot be constructing the magnetic field with with DD4hep while other threads are using DD4hep for navigating the CMS detector instance. Either we have to protect the magnetic field construction, as was done for the old DD, or DD4hep can add a global mutex to protect construction.

[2021-03-19 21:49] cvuosalo commented on #33203
@Dr15Jones Markus Frank told me:
"The use of `gGeoManager` is generally unsafe if you have more than one instance.   You need to check your code for any use of it. Once the geometry is constructed,  the use of Detector::manager() instead of gGeoManager should be fine."

We currently don't touch `gGeoManager`, so I would be reluctant to add code that does.

[2021-03-19 22:17] cvuosalo commented on #33203
As an alternative to changing DD4hep, we could add protection in CMSSW. There are about 20 DD4hep ES modules. `usesResources` could be added to each, with a different name for each one. Then in `DD4hep_VolumeBasedMagneticFieldESProducerFromDB` and `DDDetectorESProducer`, `usesResources` with all 20 names could be added. This approach would allow the ES modules to run in parallel, but they would be

[2021-03-20 08:06] civanch commented on #33203
Hi all, would it be easier to introduce a fix  if the sequence of modules will be optimized? For example, DD4hep_VolumeBasedMagneticFieldESProducerFromDB to be very first or the last of modules which build RECO geometry.

[2021-03-20 15:46] bsunanda commented on #33203
I agree with what Carl and Vladimir suggested - to introduce the protection in all ESModules which makes reco geometries.
________________________________
From: Vladimir Ivantchenko ***@***.***
Sent: 20 March 2021 09:07
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Random exceptions in DD4Hep workflow (#33203)

Hi all, would it be easier to introduce a fix if the seque

[2021-03-20 15:53] ianna commented on #33203
Another solution is that we do not close the TGeo geometry until both the CMS Geometry and the Magnetic field geometry are done. In this case the MF geometry would place itself under the "special" node. In this case we'd use only one dd4hep::Detector and only one TGeoManager.

[2021-03-21 09:41] qliphy opened #33237 "11_2_X IB test: No "EcalMustacheSCParametersRcd" record found in the EventSetup.n"
After the merging of
      #33184 from thomreis: Remove ESProducers for ECAL Mustache parameters from configuration - 11_2_X
11_2_X IB test shows several issues as reported in the title.
e.g.
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_2_X_2021-03-20-1100/pyRelValMatrixLogs/run/50200.0_ZEE_13+ZEE_13INPUT+DIGIUP15_PU50+RECOUP15_PU50_L1TEgDQM+HARVESTUP15_PU50_L1TEgDQM/ste

[2021-03-21 09:41] cmsbuild commented on #33237
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-21 09:42] qliphy commented on #33237
assign alca

[2021-03-21 09:43] cmsbuild commented on #33237
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao,@francescobrivio,@malbouis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-21 10:37] francescobrivio commented on #33237
I run a quick test (`runTheMatrix.py -l 50200.0 --ibeos`) using a newly created GT candidate for run2_mc_50ns that includes the Ecal supercluster parameters (`112X_mcRun2_startup_Candidate_2021_03_21_10_06_16`) and everything works fine. We'll discuss this and eventually provide a fix PR.

[2021-03-21 14:00] Dr15Jones commented on #33203
See #33236

[2021-03-22 08:19] mariadalfonso commented on #32347
@lathomas @kirschen

Please have a look at this issue.
It affects the genMatching when you reclusters jets.

[2021-03-22 09:07] silviodonato opened #33242 "Build CMSSW_11_3_0_pre5"

[2021-03-22 09:07] cmsbuild commented on #33242
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-22 09:08] silviodonato commented on #33242
build cmssw-tool-conf

[2021-03-22 09:08] cmsbuild commented on #33242
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc900, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, cc8_amd64_gcc9, cc8_ppc64le_gcc9
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2021-03-22 09:09] cmsbuild commented on #33242
The cmssw-tool-conf build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2958/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 09:09] cmsbuild commented on #33242
The cmssw-tool-conf build has started for cc8_amd64_gcc9 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2959/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 09:09] cmsbuild commented on #33242
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2960/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 10:06] cmsbuild commented on #33242
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-03-22 11:27] cmsbuild commented on #33242
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2961/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 11:38] czangela commented on #32483
I would like to reiterate and start a conversation on the matter of namespaces, listed in [this previous comment](https://github.com/cms-sw/cmssw/issues/32483#issuecomment-744671102).

Some previous conversations about this went on at #31721 and can be found at [comment 1](https://github.com/cms-sw/cmssw/pull/31721#discussion_r521009826), [comment 2](https://github.com/cms-sw/cmssw/pull/31721#disc

[2021-03-22 11:42] cmsbuild commented on #33242
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2962/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 13:04] VinInn commented on #32483
namespaces are used to group "items" no more no less than structs or classes. The same OOD criteria apply.
One structural difference is that declarations in namespaces may span multiple files.
```phase1PixelTopology``` is the kind of entity that in the old days would have been modeled using a struct.
I find a namespace more appropriate (and in CMSSW we had campaigns to move "struct" to "namespace"

[2021-03-22 13:08] cmsbuild commented on #33242
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_amd64_gcc900/2960

[2021-03-22 13:08] cmsbuild commented on #33242
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-03-22 13:09] cmsbuild commented on #33242
The build has started for slc7_amd64_gcc900 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2963/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 13:25] ianna commented on #33203
@makortel and @cvuosalo - @Dr15Jones solution looks good to me. Thanks!

[2021-03-22 13:26] slava77 commented on #32152
CMSSW_11_3 2021-03-19-2300 has a crash ending in `PixelForwardLayerPhase1::computeCrossings`.
So, #33157 did not help.

Back to the question from early Feb https://github.com/cms-sw/cmssw/issues/32152#issuecomment-777663252, how can this be reproduced?
@smuzaffar please clarify on which node/IP to use to test this interactively.
Thank you.

[2021-03-22 13:40] smuzaffar commented on #32152
@slava77 , I have sent you the instructions. You should be able to use ibmminsky-[13] machines

[2021-03-22 13:55] cmsbuild commented on #33242
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_amd64_gcc9/2959

[2021-03-22 13:55] cmsbuild commented on #33242
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-03-22 13:56] cmsbuild commented on #33242
The build has started for cc8_amd64_gcc9 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2964/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 15:07] cmsbuild commented on #33242
There was an error building cmssw-tool-conf for cc8_ppc64le_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_ppc64le_gcc9/2961

[2021-03-22 15:17] cmsbuild commented on #33242
There was an error building cmssw-tool-conf for slc7_ppc64le_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_ppc64le_gcc9/2962

[2021-03-22 15:33] silviodonato commented on #33242
@cms-sw/core-l2 @cms-sw/simulation-l2

There is a compilation error of `vecgeom` with `ppc64le`. Is it expected?

https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_ppc64le_gcc9/2961/buildToolConfSteps.log

https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_ppc64le_gcc9/2961/LOGS/external/vecgeom/v1.1.8/log

[code]

[2021-03-22 15:56] cmsbuild commented on #33242
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2965/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 15:58] smuzaffar commented on #33242
@silviodonato , https://github.com/cms-sw/cmsdist/pull/6751 should fix it. I have merged that and re-started the ppc64le tool-conf build.

[2021-03-22 15:59] cmsbuild commented on #33242
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2966/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 16:30] cmsbuild commented on #33242
There was an error building cmssw-tool-conf for slc7_aarch64_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_aarch64_gcc9/2958

[2021-03-22 16:30] cmsbuild commented on #33242
The was an error for cc8_amd64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_amd64_gcc9/2964

[2021-03-22 16:30] cmsbuild commented on #33242
The build has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2967/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 16:48] cmsbuild commented on #33242
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_ppc64le_gcc9/2965

[2021-03-22 16:48] cmsbuild commented on #33242
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-03-22 16:49] cmsbuild commented on #33242
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2969/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 16:53] cmsbuild commented on #33242
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_ppc64le_gcc9/2966

[2021-03-22 16:54] cmsbuild commented on #33242
Queuing Jenkins build for the following architectures: cc8_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-03-22 16:54] cmsbuild commented on #33242
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2970/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 17:21] cmsbuild commented on #33242
The cmssw-tool-conf build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2971/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 19:20] cmsbuild commented on #33242
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_ppc64le_gcc9/2969
Some tes

[2021-03-22 19:26] cmsbuild commented on #33242
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_ppc64le_gcc9/2970
Some tests

[2021-03-22 19:29] francescobrivio commented on #33237
After #33239 was merged the 11_2_X IB tests are successful.
I think this issue can be closed.

[2021-03-22 19:32] francescobrivio commented on #33237
+alca

[2021-03-22 19:32] cmsbuild commented on #33237
This issue is fully signed and ready to be closed.

[2021-03-22 20:10] cmsbuild commented on #33242
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_amd64_gcc9/2968
Some tests ( r

[2021-03-22 20:14] cmsbuild commented on #33242
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_ppc64le_gcc9/2970

Tests results:
35 32 14 4 3 0 0 0 0 tests passed, 2 2 18 2 0 0 0 0 0 failed

[2021-03-22 20:28] cmsbuild commented on #33242
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_ppc64le_gcc9/2969

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-22 20:38] cmsbuild commented on #33242
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_aarch64_gcc9/2971

[2021-03-22 20:38] cmsbuild commented on #33242
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-03-22 20:39] cmsbuild commented on #33242
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2972/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-22 20:52] cmsbuild commented on #33242
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-cc8_amd64_gcc9/2968

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-22 21:26] cmsbuild commented on #33242
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_amd64_gcc900/2967
Some tes

[2021-03-22 22:11] cmsbuild commented on #33242
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_amd64_gcc900/2967

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-22 22:15] makortel commented on #25090
Here is an update from CMSSW_11_3_X_2021-03-21-2300

Generators:
[code]

Reconstruction:
[code]

AlCa, used only in a separate ALCA step:
[code]

AlCa, used in RECO step:
[code]

[2021-03-22 22:21] makortel commented on #25090
@cms-sw/reconstruction-l2

There is still one instance left despite of #33024. It is in 1000.0 step 2. The job log shows it in `reconstruction_step` Path
[code]
Could it be caused by the following fragment in the step2 configuration file
[code]
with
https://github.com/cms-sw/cmssw/blob/b97792bdc8fb61d5a5865b154f6a23b5bc216baf/Configuration/DataProcessing/python/RecoTLR.py#L151-L153
and
https://git

[2021-03-22 22:44] silviodonato commented on #33242
upload all

[2021-03-22 22:44] cmsbuild commented on #33242
Queing Jenkins upload for cc8_amd64_gcc9

[2021-03-22 22:44] cmsbuild commented on #33242
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-03-22 22:44] cmsbuild commented on #33242
Queing Jenkins upload for slc7_amd64_gcc900

[2021-03-22 22:44] cmsbuild commented on #33242
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-03-22 22:46] cmsbuild commented on #33242
The upload has started for cc8_amd64_gcc9 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1887/console

[2021-03-22 22:46] cmsbuild commented on #33242
The upload has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1889/console

[2021-03-22 22:46] cmsbuild commented on #33242
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1890/console

[2021-03-22 22:47] cmsbuild commented on #33242
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre5-cc8_amd64_gcc9/1887

[2021-03-22 22:47] cmsbuild commented on #33242
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre5-slc7_ppc64le_gcc9/1890

[2021-03-22 22:51] cmsbuild commented on #33242
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre5-slc7_amd64_gcc900/1889

[2021-03-22 22:57] cmsbuild commented on #33242
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_aarch64_gcc9/2972
Some tes

[2021-03-22 22:57] cmsbuild commented on #33242
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-03-22 22:57] cmsbuild commented on #33242
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1891/console

[2021-03-22 22:58] cmsbuild commented on #33242
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre5-slc7_aarch64_gcc9/1891

[2021-03-22 23:56] cmsbuild commented on #33242
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre5-slc7_aarch64_gcc9/2972

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-23 00:11] #33237 closed

[2021-03-23 00:27] y19y19 opened #33249 "Under Sim4Core/CustomPhysics change the dark photon mass and dark photon PDGParser"
Hi,

I am planning to generate some dark photon signal samples for my analysis's purpose. I talked to EXO group's MC conveners, and they recommended that I raise an issue here, to get my customized code into official CMSSW, such that it can be used to run a central production for my signal samples. The code that I want to modify is very simple, they are already in CMSSW but I would like to change

[2021-03-23 00:28] cmsbuild commented on #33249
A new Issue was created by  @y19y19 Yao Yao.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-23 01:04] makortel commented on #33249
assign simulation

[2021-03-23 01:04] cmsbuild commented on #33249
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-23 06:17] cmsbuild commented on #33242
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1892/console

[2021-03-23 06:19] cmsbuild commented on #33242
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre5-cc8_ppc64le_gcc9/1892

[2021-03-23 07:51] silviodonato commented on #33242
release-notes

[2021-03-23 07:52] cmsbuild commented on #33242
Generating release notes since CMSSW_11_3_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-23 07:52] cmsbuild commented on #33242
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre5 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre

[2021-03-23 07:55] cmsbuild commented on #33242
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre5

[2021-03-23 08:01] #33242 closed

[2021-03-23 16:43] ghugo83 commented on #32414
Can close this issue.
Addressed in https://github.com/cms-sw/cmssw/pull/32479 and https://github.com/cms-sw/cmssw/pull/32843

[2021-03-23 18:14] ghugo83 commented on #28168
There seem to be very few discrepancies left in G4 materials.
Could observe the following:

- T= 293.15 K for DDD materials, 273.15 K in DD4hep materials.

- **pixfwdMaterials:FPix_CFSkin, FPix_CFSkin_InnerInnerRing, Pix_CFSkin_InnerOuterRing, FPix_CFSkin_OuterInnerRing, FPix_CFSkin_OuterOuterRing** (all directly calling pixfwdMaterials:FPix_Disk_CF) **have wrong composition in DDD**, while their

[2021-03-23 19:53] civanch commented on #31920
+1

[2021-03-23 19:53] cmsbuild commented on #31920
This issue is fully signed and ready to be closed.

[2021-03-23 20:20] cvuosalo commented on #33203
+1

[2021-03-23 20:21] cmsbuild commented on #33203
This issue is fully signed and ready to be closed.

[2021-03-23 20:29] cvuosalo commented on #33203
Issue of concern: PR #33236 sets `gGeoManager` to null for a brief window. There is a set of functions that rely upon `gGeoManager` and that will fail if it is null. We don't know all the members of this set. Our current code does not apparently call them during the vulnerable period, but, in the future, we could inadvertently add calls to one of these functions and obtain errors that would appear

[2021-03-23 20:31] cvuosalo commented on #32414
+1

[2021-03-23 20:32] cmsbuild commented on #32414
This issue is fully signed and ready to be closed.

[2021-03-23 21:02] Dr15Jones commented on #33203
If this were true than we have a threading race conditions and it wouldn't matter if we set it to nullptr or not since the the TGeoManager can not handle concurrent access. We must protect all accesses to `gGeoManager` (direct or indirect) with the proper `usesResources` call.

[2021-03-23 21:04] #33203 closed

[2021-03-24 00:06] #33010 closed

[2021-03-24 00:06] #32414 closed

[2021-03-24 08:57] jpata commented on #32756
Just in case it's helpful for the production and HGCAL teams, I benchmarked 23434.21, 100 events with 8 threads in 11_3_0_pre1 with and without the suspect PR https://github.com/cms-data/RecoHGCal-TICL/pull/2.

11_3_0_pre1 baseline:
[code]

11_3_0_pre1 + https://github.com/cms-data/RecoHGCal-TICL/pull/2:
[code]

So we can clearly identify an increase of 13.1GB -> 16GB with the new TICL ML model. I

[2021-03-24 09:05] chayanit commented on #32756
This will be a problem in production. We are not allowed to run more than 15GB for 8 threads.

 Chayanit from PdmVV

[2021-03-24 09:14] thomreis commented on #32480
Hi @fwyzard the first two items are done now with PR #33116 merged.

[2021-03-24 09:18] jpata commented on #32756
@slava77 @cms-sw/operations-l2 @rovere et al, what do you think is the best course of action? It's about a week before 11_3_0 closes. As far as I see:
- either this PR can be reverted
- the threading efficiency improvements be implemented to bring the phase2 workflow below 15GB

[2021-03-24 09:32] fwyzard commented on #32480
:+1:

[2021-03-24 09:45] qliphy commented on #32756
@jpata As discussed at yesterday's ORP, the 11_3 release [schedule](https://twiki.cern.ch/twiki/bin/view/CMS/CMSSW_11_3_0) has changed, and the last open pre-release is by April 13.

@chayanit  As production has started with 11_3_0_pre5, do you have computing performance at hand?

[2021-03-24 09:48] chayanit commented on #32756
We haven't started the relval production in 11_3_0_pre5 yet.

[2021-03-24 10:06] mrodozov commented on #31123
@dan131riley would you please share with us which workflows did you ran as examples that didn't crash after the last ROOT change, or maybe a workflow that you see in the IBs that doesn't fail anymore ?

[2021-03-24 10:35] ghugo83 commented on #28168
Alright, https://github.com/cms-sw/cmssw/pull/33257 fixed the issue with pixfwdMaterials:FPix_CFSkin, FPix_CFSkin_InnerInnerRing, Pix_CFSkin_InnerOuterRing, FPix_CFSkin_OuterInnerRing, FPix_CFSkin_OuterOuterRing

[2021-03-24 10:42] ghugo83 commented on #28168
What shall we do regarding:
- T= 293.15 K for DDD materials, 273.15 K in DD4hep materials.
- Elementary materials having slightly different atomic mass numbers in DDD <-> DD4hep? (leading to minor differences in DDD <-> DD4hep materials properties here and there?)
If these remaining points can be seen as fine, I guess we can close this issue indeed?

[2021-03-24 10:53] silviodonato commented on #32756
urgent

many thanks @jpata for https://github.com/cms-sw/cmssw/issues/32756#issuecomment-805622081

[2021-03-24 11:04] ghugo83 commented on #28398
Production cuts, comparison DDD <-> DD4hep:
- Units are properly fixed.
- World region name being different in DDD <-> DD4hep, and namespace presence in DD4hep, are independent points from production cuts.
- There were bugs in assignments of logical volumes to production cuts regions:
Addressed in https://github.com/cms-sw/cmssw/pull/33101 (different search behavior in DD4hep over SpecPars, result

[2021-03-24 11:04] ghugo83 commented on #28398
Present comparison DDD <-> DD4hep:
**- NumberOfCouples   464 in both DDD and DD4hep
- Root logical volumes assignments are identical.
- Production range cuts values for all materials volumes are identical (all volumes, not only the root ones).**

Sorting and comparing all productions cuts for all materials in CMS (2021 scenario), there are only 2 small discrepancies appearing in computed energy th

[2021-03-24 14:12] dan131riley commented on #31123
I tested with 4.62 and 136.776.  I don't see any TFormula related crashes in those specific workflows since the update, but we are still seeing lots of crashes in closely adjacent workflows.  It isn't immediately obvious to me whether my tests were flawed or those specific workflows were somehow fixed, but it's apparent the overall problem is not fixed.  It will likely be a few days before I can t

[2021-03-25 00:12] #31920 closed

[2021-03-25 09:34] smuzaffar opened #33267 "Build issues for sandybridge builds"
@VinInn , last night I tried to build `CMSSW_11_3_SKYLAKEAVX512_X` IB with multiple instruction set ( `haswell, sandybridge and skylake-avx512`). All worked fine for `haswell` and `skylake-avx512` but for  `sandybridge` we get this build error in `TrackingTools/AnalyticalJacobians` [a]. Any idea how to avoid such issue, note that it fails when scram use `-march=sandybridge`

[a]
https://github.com

[2021-03-25 09:34] cmsbuild commented on #33267
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-25 09:40] VinInn commented on #33267
sandybridge is AVX only. I am almost sure those cose whose written at that time, but apparently not.
One quick solution is to enable it only for AVX2 (or simplu disabled "tout-court": most probably make more damage than good.

[2021-03-25 09:42] VinInn commented on #33267
just "remove" the AVX part in
https://github.com/cms-sw/cmssw/blob/master/TrackingTools/AnalyticalJacobians/src/AnalyticalCurvilinearJacobianSSE.icc#L53

[2021-03-25 09:43] VinInn commented on #33267
no clue what "target specific option mismatch" means

[2021-03-25 09:46] VinInn commented on #33267
apparently ``` _mm256_xor_si256``` is AVX2 only. SO the code was written for haswell and never tested on older machines.

[2021-03-25 09:49] silviodonato commented on #32340
Solved by #32352
Issue moved to #32356

[2021-03-25 09:49] #32340 closed

[2021-03-25 09:51] silviodonato commented on #32356
I've made #33266 but the error `No "LHCInfoRcd" record found in the EventSetup.n` appears again in step-3 of `11925.0`.

[2021-03-25 09:59] smuzaffar commented on #33267
thanks @VinInn for quick reply. If it is only tested for avx2 then shouldn't we change https://github.com/cms-sw/cmssw/blob/master/DataFormats/Math/interface/SSEVec.h#L9 to be `__AVX2__`
[code]

[2021-03-25 11:05] VinInn commented on #33267
I think is ok to change to AVX2. There are ways to make it compatible to AVX. I do not think it is worth the effort.

[2021-03-25 11:41] smuzaffar commented on #33267
I have opened https://github.com/cms-sw/cmssw/pull/33268 proposes to use CMS_USE_AVX2 when build for __AVX2__

[2021-03-25 18:29] slava77 commented on #32152
There was a crash in CMSSW_11_3_X_2021-03-23-2300

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_ppc64le_gcc9/CMSSW_11_3_X_2021-03-23-2300/pyRelValMatrixLogs/run/11834.24_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano/step3_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano.log

I tried on ibmminsky-3 in the same CMSSW_11_

[2021-03-26 01:51] slava77 commented on #32152
I managed to get to something reproducible.

I think that the problem is at
https://github.com/cms-sw/cmssw/blob/CMSSW_11_3_0_pre5/RecoEgamma/EgammaPhotonAlgos/src/OutInConversionSeedFinder.cc#L214-L222

[code]
The package build has `ofast-flag`.
- On x86 in a printout I get `curvature 0 u -nan R 102.966 theBCEnergy_ 19.2478` and the conditional expression `u <= R` is false.
- On ppc `curvature 0

[2021-03-26 08:45] czangela opened #33278 "NVProfilerService assertion failed at preModuleBeginStream"
The NVProfilerService crashes at
[code]

For full backtrace see:
[nvprofilercrash.txt](https://github.com/cms-sw/cmssw/files/6210377/nvprofilercrash.txt)

I was trying to run it on the machine cmg-gpu1080.cern.ch.
I used `cmsCudaSetup.sh` before running `cmsRun`, which set up everything just fine:
[cmscudasetup.txt](https://github.com/cms-sw/cmssw/files/6210410/cmscudasetup.txt)

The same bug appe

[2021-03-26 08:46] cmsbuild commented on #33278
A new Issue was created by  @czangela .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-26 08:58] fwyzard commented on #33278
assign heterogeneous

[2021-03-26 08:59] cmsbuild commented on #33278
New categories assigned: heterogeneous

@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-26 12:53] makortel commented on #32152
Here is some discussion in stackoverflow
https://stackoverflow.com/questions/57894032/floating-point-comparison-with-quiet-nan-on-gcc-with-ffast-math-always-yields

Relevant part being that `-ffast-math` implies `-ffinite-math-only` that

So NaNs (and Infs) with `-ffast-math` are effectively undefined behavior?

[2021-03-26 13:08] slava77 commented on #32152
it seems like x86 is a bot more defined.

Is `edm::isFinite` still expected to be correct everywhere?

[2021-03-26 13:15] makortel commented on #32152
I'd naively expect so because it checks the exact bit pattern (and if NaN/Inf leads to a bit pattern different from IEEE NaN/Inf, it would be a valid value, and we'd have other problems). The unit test of `isFinite()` is also succeeding in all the platforms.

[2021-03-26 15:17] slava77 commented on #32152
one path leading to a crash is fixed in #33277

The `::computeCrossings` endpoint may reappear in other cases (another fixed case in a different context is in  #33157 )

If this issue is renamed to mention `InOutConversionSeedFinder`, then I think that it can be closed after #33277  is merged . This relates more directly to the origin of the NaN.

However, if we keep `::computeCrossings`, then I w

[2021-03-27 16:26] #33267 closed

[2021-03-29 08:36] hahnjo commented on #31123
@mrodozov @dan131riley if you have another failing test, please ping me on the stack trace and I can take a look.

[2021-03-29 13:00] dan131riley commented on #31123
@mrodozov 136.776 hasn't crashed for me at all, and 10809.0 crashes much less frequently, so I believe a bug was fixed, but there still seems to be a problem.  I did get 4.62 to crash with a debug build.

@hahnjo with a debug build, we're now getting an [assertion failure for a different reloc type](https://github.com/cms-sw/root/blob/cc441f6d5635970ea801b711993fb3bbc4665c7b/interpreter/llvm/src/l

[2021-03-29 13:20] makortel opened #33289 "Random multithreaded test failures in FWCore"
One `FWCore/Integration` unit test failed in CMSSW_11_3_X_2021-03-26-2300 slc7_amd64_gcc10 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_11_3_X_2021-03-26-2300/unitTestLogs/FWCore/Integration#/

Another test in `FWCore/Framework` failed in CMSSW_11_3_ROOT6_X_2021-03-28-2300 with similar symptoms
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900

[2021-03-29 13:20] makortel commented on #33289
assign core

[2021-03-29 13:20] cmsbuild commented on #33289
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-29 13:20] cmsbuild commented on #33289
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-29 13:22] makortel commented on #33289
I suspect these are related to the migration to `tbb::task_group`. Given that there is no apparent other sign of failure than the exit code, I'm wondering could just the exit code get "wrong" in some way, or if there is some real issue that just happens to be silent.

[2021-03-29 15:33] hahnjo commented on #31123
@dan131riley thanks for the detailed stack trace. I've started to take a look and will report back once I have some better understanding what's going wrong.

[2021-03-29 16:21] Dr15Jones opened #33292 "ASAN error in RPixChargeShare"
The CMSSW_11_3_ASAN_X_2021-03-26-2300 step2 workflow shows the following ASAN failure

[code]

[2021-03-29 16:22] cmsbuild commented on #33292
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-29 16:22] Dr15Jones commented on #33292
assign simulation

[2021-03-29 16:22] cmsbuild commented on #33292
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-29 16:23] Dr15Jones commented on #33292
After adding asserts to the code, I determined that `ybin` is negative here
https://github.com/cms-sw/cmssw/blob/6a422834d4d410435994ac8fbfea15feb2f615a1/SimPPS/PPSPixelDigiProducer/src/RPixChargeShare.cc#L126

[2021-03-29 16:35] civanch commented on #33292
@jan-kaspar , @fabferro , there is a problem in RPixChargeShare. Whom better to ask for the fix?

[2021-03-29 18:18] jan-kaspar commented on #33292
Thanks @civanch . As this is simulation, I'd forward it to @mundim and @clemencia .

[2021-03-29 19:29] y19y19 commented on #33249
Hi, I didn't hear any feedback on this fo over a week. Anyone can comment on it? If you think there is a way to implement the same thing without changing the cmssw code, please let me know. I hope it can be done asap to make a request to central production. Thanks.

[2021-03-30 03:55] srimanob commented on #33064
Update the proposal:

Keep
- D49 = T15+C9+M4+I10+O4+F2 (Keep, HLT TDR)
- D60 = T15+C10+M4+I10+O4+F3 (HFNose)
- D76 = T21+C14+M9+I13+O7+F6
- D77 = T24+C14+M9+I13+O7+F6
- D78 = T22+C14+M9+I13+O7+F6
- D80 = T25+C14+M9+I13+O7+F6
- D81 = T26+C14+M9+I13+O7+F6

Delete
- D50 = T15+C9+M4+I11+O4+F2
- D64 = T22+C11+M4+I11+O5+F4
- D65 = T23+C11+M4+I11+O5+F4
- D66 = T21+C11+M8+I11+O5+F4
- D67 = T21+C11+M9+I11+

[2021-03-30 08:16] hahnjo commented on #31123
Aha, so that's now the floating point constant pool not honoring the large code model. The reason I didn't see this before is that I've been testing with master and 6.24 with LLVM 9, which correctly disables the pool in the large model. Let me dig out the fix that went in between LLVM 5 (ROOT 6.22) and LLVM 9 (ROOT 6.24) and backport that to older versions of ROOT.

[2021-03-30 12:01] fabferro commented on #33292
@Dr15Jones : I'm not familiar with the sanity checks you've been running, thus I don't understand WHEN ybin has turned out to be negative. It never happened to me running the simulation.
If your warning means that there is nothing that avoids ybin (also xbin then) to become negative for some "buggy" reason we can add a 'if' to protect the code from this to happen. Would that be ok? Thanks.

[2021-03-30 12:19] davidlange6 commented on #33292
xbin and ybin are both negative in the first event in workflow 11846.

[2021-03-30 12:38] jpata opened #33297 "igprof pp profiling outputs no longer work"
There seems to be an issue with igprof pp (CPU profiling) in 11_3_X between pre4 and pre5, starting at least from March 14. The stack is no longer capturing main properly and the cumulative number is not meaningful. @slava77 pointed it out to me yesterday.

11_3_X: https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_11_3_X_2021-03-14-0000/slc7_amd64_gcc900/pp/23434.21_TTbar_14TeV+2026D49PU_P

[2021-03-30 12:38] cmsbuild commented on #33297
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-30 12:51] makortel commented on #33297
assign core

[2021-03-30 12:58] makortel commented on #33297
I agree with @dan131riley that https://github.com/cms-sw/cmssw/pull/32804 is the likely culprit (given that we saw TBB to "move stack between threads", I'd easily believe IgProf to get confused by that, among others).

[2021-03-30 13:34] mundim commented on #33292
this is very strange and has never happen before, but if it occurs only for the first event, it might be due to some uninitialised index. I'll check it but I'll be able to do so only late this week.

[2021-03-30 13:43] Dr15Jones commented on #33292
For the complete list of workflows showing this problem we have:
- 11834.0 step 2
- 11834.13 step 2
- 11834.24 step 2
- 11846.0 step 2
- 11925.0 step 2
- 12634.0 step 2
- 13034.0 step 2

[2021-03-30 14:43] fabferro commented on #33292
I checked wf 11846 (simply with runThematrix.py -l 11846). There's no hit in PPS, therefore no charge sharing is done. The code we are talking about is not run. The only thing I can think of is that xbin and ybin are uninitialized generating the sanity check error.

[2021-03-30 14:44] makortel commented on #33289
Another in `FWCore/Concurrency` in CMSSW_11_3_X_2021-03-29-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-03-29-2300/unitTestLogs/FWCore/Concurrency#/

[2021-03-30 14:55] Dr15Jones commented on #33292
So here is the integration build log for 11846.0
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ASAN_X_2021-03-26-2300/pyRelValMatrixLogs/run/11846.0_ZEE_14+2021PU+ZEE_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano/step2_ZEE_14+2021PU+ZEE_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano.log#/

From the stack trace we can see that `RPixChargeShare::Share` is

[2021-03-30 14:59] davidlange6 commented on #33292
Run  step2 of
runTheMatrix.py -l 11846 -i all —ibeos
With a grid cert.  Perhaps the workflow has bad input defined..

[2021-03-30 21:06] makortel commented on #33297
@jpata Is this specific to pp? Or in other words, do mp profiles work properly?

[2021-03-31 05:43] smuzaffar opened #33303 "Duplicate L1 data files causing cmsdist PRs to fails"
Root file  `L1Trigger/L1TMuon/data/bmtf_luts/kalmanLUTs.root` added by https://github.com/cms-sw/cmssw/pull/33078  should have been updated via https://github.com/cms-data/L1Trigger-L1TMuon repository. We now have a problem that there are two files with same name in CMSSW_SEARCH_PATH ( one via CMSSW_BASE/src and other with cms data). During cmsdist and external PR tests this file is picked up from

[2021-03-31 05:43] cmsbuild commented on #33303
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-31 06:45] hahnjo commented on #31123
The last statement wasn't fully accurate: LLVM 9 got better at avoiding this situation by materializing FP constants in code more often, but the fallback path would still emit `adrp + ldr` that can only address pools +/- 4 Gb. Furthermore ROOT v6.24 seems to allocate JITted sections more closely in memory, so it is harder to violate that assumption (not sure if that is due to the upgrade of LLVM 9

[2021-03-31 07:01] davidlange6 opened #33305 "Allowed dependencies in CUDADataFormats?"
CUDADataFormats has a dependency on GeometryTrackerGeometryBuilder, which depends on lots of other things. I would have assumed that CUDADataFormats had similar dependency requirements to DataFormats? If not, how are we designing the dependency evolution in this area?

[2021-03-31 07:01] cmsbuild commented on #33305
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-31 07:07] srimanob commented on #33012
Kindly ping @cms-sw/l1-l2

[2021-03-31 10:06] smuzaffar opened #33312 "DetectorDescription/Schema data files duplication"
Hi,
  We have duplicate data files for https://github.com/cms-sw/cmssw/tree/master/DetectorDescription/Schema . These files are abvailable vis cmssw/src and cms-data.  @ianna , do you know if we are using these data files?

 Data files from `cmssw/src` are picked for  IB, releases and cmssw PR tests. But for external PR tests ( e.g. cmsdist, cms-data etc.) these files are picked up from cms-data a

[2021-03-31 10:07] cmsbuild commented on #33312
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-31 10:08] fabferro commented on #33292
@Dr15Jones @davidlange6 : I'm running on a clean  11_3_0_pre5. No Failures with -i all --ibeos options too.
In lxplus the log of step2 is here:
~fabferro/public/temp/CMSSW_11_3_0_pre5/src/11846.0_ZEE_14+2021PU+ZEE_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano/step2_ZEE_14+2021PU+ZEE_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano.log

[2021-03-31 10:43] smuzaffar opened #33313 "GeneratorInterface/EvtGenInterface data files duplication"
One file GeneratorInterface/EvtGenInterface/data/evt.pdl is available via both
- https://github.com/cms-data/GeneratorInterface-EvtGenInterface
- https://github.com/cms-sw/cmssw/tree/master/GeneratorInterface/EvtGenInterface/data

and both have different contents. This causes problem when testing `cmsdist` , `cms-data` or other external PRs as in that case the cms-data path comes first and data fi

[2021-03-31 10:43] smuzaffar commented on #33313
assign generators

[2021-03-31 10:44] cmsbuild commented on #33313
New categories assigned: generators

@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-31 10:44] cmsbuild commented on #33313
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-31 10:53] jpata commented on #33297
As far as I can tell, the memory profiling output did not change qualitatively from pre4 to pre5:
- https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_11_3_0_pre3/23434.21/step3/mem
- https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_11_3_0_pre4/23434.21/step3/mem
- https://cms-reco-profiling.web.cern.ch

[2021-03-31 12:33] Dr15Jones commented on #33297
The “moving between threads” should also have been stopped when I later attend the use of a tbb::task_arena call.

[2021-03-31 12:47] makortel commented on #33303
assign l1

[2021-03-31 12:47] cmsbuild commented on #33303
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-31 13:08] makortel commented on #33289
Another in `FWCore/Framework` CMSSW_11_3_GEANT4_X_2021-03-30-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_GEANT4_X_2021-03-30-2300/unitTestLogs/FWCore/Framework#/

[2021-03-31 13:25] alberto-sanchez commented on #33313
I will take care of this later today. I will clean that directory inside cmssw.

[2021-03-31 13:41] fabferro commented on #33292
If I use a nightly build, CMSSW_11_3_X_2021-03-30-2300, the negative ybin's show up. @mundim we should try to check why it's happening.

[2021-03-31 15:47] makortel commented on #33297
I poked around between 11_2_X and 11_3_X IgProf reports and noticed something

Here in CMSSW_11_2_X_2021-03-30-2300 23434.21
* [step2___ec11c36a3776d4eed7c136e4a92306c6___1](https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_11_2_X_2021-03-30-2300/slc7_amd64_gcc900/pp/23434.21_TTbar_14TeV+2026D49PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTriggerPU+RecoGlobalPU+MiniAODPU/step2___

[2021-03-31 16:01] alberto-sanchez commented on #33313
The corresponding PRs have been created

[2021-03-31 16:03] smuzaffar commented on #33313
thanks a lot @alberto-sanchez for these PRs

[2021-03-31 16:17] makortel commented on #33297
Thanks Joosep. Perhaps the symptom should be interpreted then as time accounting effectively being lost some time before the capture point of `1` profiles, and nothing being accumulated after that.

It's still curious that in the GEN-SIM job time does get added after capture point of `1` profile.

[2021-03-31 16:20] gartung commented on #33297
The output is completely controlled by the the runTheMatrix.py switch --profile prof which enables igprof as a service.
https://github.com/cms-sw/cms-bot/blob/9cab720ce0ad62820694846d1153b03f48d21ebe/run-ib-igprof#L19
For the memory profiling the commands are generated with --dryRun and then cmsRunGlibC is used instead.

[2021-03-31 16:22] gartung commented on #33297
The output name of the sqlite files is derived from the igprof service output name here
https://github.com/cms-sw/cms-bot/blob/9cab720ce0ad62820694846d1153b03f48d21ebe/run-ib-igprof#L41

[2021-03-31 16:28] gartung commented on #33297
Luckily I kept the original gzipped tarfile output from igprof. I you click on Logs from the igprof top page you get a directory listing like this where you can download the original igprof output.
https://cmssdt.cern.ch/SDT/jenkins-artifacts/igprof/CMSSW_11_3_X_2021-03-30-2300/slc7_amd64_gcc900/pp/23434.21_TTbar_14TeV+2026D49PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTriggerPU+RecoGlo

[2021-03-31 16:30] gartung commented on #33297
If Igprof is doing something strange you should be able to investigate with the original output.

[2021-03-31 19:17] slava77 commented on #33297
curiously, pp for run3 makes sense in pre5 (`main` is close to 100%)
https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_11_3_0_pre5/11834.21/step3/cpu_endjob

although I'm less sure about the test in the IB
https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_11_3_X_2021-03-29-2300/slc7_amd64_gcc900/profiling/11834.21/igprofCPU_step3

[2021-03-31 19:30] gartung commented on #33297
The run-ib-profining job run on cms-oc-gpu-01 while the run-ib-igprof job is run on cmsprofile-01 or cmsprofile-02 which are 4 core VM's. The release-run-reco-profling jobs are run on vocms11 which is a 32 core bare metal machine.
Since Igprof is using sampling some of the calls might be missed on cms-oc-gpu-01 because of single thread frequency scaling.

[2021-03-31 19:34] gartung commented on #33297
The main sum from the run-ib-igprof jobs run on cmsprofile-01 is even lower -- 89%
https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_11_3_X_2021-03-29-2300/slc7_amd64_gcc900/pp/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSim+DigiPU+RecoPU+MiniAODPU+Nano/step3___70f2a3ea22adee383702bb184802c396___10_EndOfJob

[2021-03-31 19:37] gartung commented on #33297
I would like to move the run-ib-profiling job and the run-ib-igprof jobs to vocms11 so that the hardware is the same when making comparisons.

[2021-04-01 06:35] cmsbuild commented on #33064
This issue is fully signed and ready to be closed.

[2021-04-01 06:55] jpata commented on #33297
@gartung No problem for reco side, I think! Feel free to do what you need in jenkins. Just not to side-track this issue here, we can discuss in mattermost in case of need.

[2021-04-01 08:50] agrohsje commented on #33313
+generators

[2021-04-01 08:51] cmsbuild commented on #33313
This issue is fully signed and ready to be closed.

[2021-04-01 09:27] #33313 closed

[2021-04-01 09:32] smuzaffar commented on #33303
an additional check has been added to code-checks to make sure that new CMSSW PRs do not add any data file which is already available via cms-data.

[2021-04-01 09:32] #33303 closed

[2021-04-01 12:34] dan131riley commented on #31123
@hahnjo So far I haven't seen any failures with that patch on the previous crashing workflow.  @mrodozov can we get this into the cmssw root?

I believe one reason we see this crash so often is because we use jemalloc, which can be very aggressive about using address space.  Crashes are much less frequent with the glibc malloc.

[2021-04-01 12:45] dan131riley commented on #33289
After about 20k iterations of `cmsRun --numThreads 8 test_tbb_threads_from_commandline_cfg.py` on a loaded system, I got a segfault with a stack trace in `~InitRootHandlers()`, so it's probably still related to the task observer.  This was with a debug TBB, but no assertions fired.  Unfortunately, I forgot to set `InteractiveDebug`, will see if I can replicate with that enabled.
[code]

[2021-04-01 13:19] Dr15Jones commented on #33289
@dan131riley So this is an event task! Looks like the task was seriously delayed so I'm not sure why the `tbb::task_group::wait` didn't make sure this was done before going on to endJob.

[2021-04-01 13:25] Dr15Jones commented on #33289
So it looks like the `edm::ServiceToken` which is captured by the lambda is keeping the `ServicesManager` alive past the end of the job. Maybe some of ROOT's shared library was already unloaded before the call to `~InitRootHandlers`?

[2021-04-01 13:33] Dr15Jones commented on #33289
So I think the issue is here
https://github.com/cms-sw/cmssw/blob/d37323e825aeec39912cd78d10ce70dadd64ee26/FWCore/Framework/src/StreamSchedule.cc#L630

Although all the work done in that lambda finishes the object itself is probably sticking around longer just because these unit tests end very quickly. So I think the idea would be to shorten the lifetime of `serviceToken` via the use of a `std::mo

[2021-04-01 13:41] Dr15Jones commented on #33289
The other question is why isn't TBB doing a wait on the threads it spawned?

[2021-04-01 14:27] #33064 closed

[2021-04-01 15:04] Dr15Jones commented on #33289
So if the compiler reorders the call to `~task` and the `if` then if that thread stops for a long time between those two lines then we could definitely see the traceback shown.

https://github.com/oneapi-src/oneTBB/blob/eca91f16d7490a8abfdee652dadf457ec820cc37/src/tbb/custom_scheduler.h#L495-L497

[2021-04-02 07:28] silviodonato opened #33325 "test materialBudgetHGCalPlots had ERRORS"
[code]

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-04-01-1100/unitTestLogs/Validation/Geometry#/12-12

We are getting this error since `CMSSW_11_3_X_2021-04-01-1100` because  of  #33293 from srimanob: Cleaning up obsolete Phase-2 geometries

[2021-04-02 07:28] silviodonato commented on #33325
assign upgrade

[2021-04-02 07:29] cmsbuild commented on #33325
New categories assigned: upgrade

@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-02 07:29] cmsbuild commented on #33325
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-02 07:39] silviodonato commented on #33325
The origin of the error is here https://github.com/cms-sw/cmssw/blob/master/Validation/Geometry/test/genHGCalPlots.sh#L3.
D71 has been deleted by #33293, so the unit test needs to be moved to another geometry.
I see that a lot of test code in HGCal needs to be moved away from D71 https://cmssdt.cern.ch/lxr/search?v=CMSSW_11_3_X_2021-03-31-2300&_string=2026D71&%21v=CMSSW_11_3_X_2021-04-01-2300

@sr

[2021-04-02 08:05] srimanob commented on #33325
Hi @silviodonato
Do you mean updating the file should be enough? I can take care of it.