[2017-06-25 14:08] cmsbuild commented on #19425
The build has started for slc7_amd64_gcc630 in cmsbuild32.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1203/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-06-25 14:27] cmsbuild commented on #19425
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1204/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-06-25 15:23] cmsbuild commented on #19425
The build has started for slc7_aarch64_gcc530 in techlab-arm64-moonshot-xgene-014.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1205/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX-dev](https://github.com/cms-sw/pkgtools/commits/V00-30-XX-dev)

[2017-06-25 16:46] cmsbuild commented on #19425
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc6_amd64_gcc630/1204
Some tests ( r

[2017-06-25 17:27] cmsbuild commented on #19425
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc6_amd64_gcc630/1204

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-06-25 18:29] cmsbuild commented on #19425
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc7_amd64_gcc630/1203
Some tests ( r

[2017-06-25 18:52] cmsbuild commented on #19425
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc7_amd64_gcc530/1202
Some tests ( r

[2017-06-25 19:10] cmsbuild commented on #19425
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc6_amd64_gcc530/1201
Some tests ( r

[2017-06-25 19:29] cmsbuild commented on #19425
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc7_amd64_gcc630/1203

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-06-25 19:40] cmsbuild commented on #19425
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc7_amd64_gcc530/1202

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-06-25 20:03] cmsbuild commented on #19425
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc6_amd64_gcc530/1201

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-06-26 01:30] cmsbuild commented on #19425
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc7_aarch64_gcc530/1205
Some tests

[2017-06-26 03:19] cmsbuild commented on #19425
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_4-slc7_aarch64_gcc530/1205

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-06-26 06:14] davidlange6 commented on #19425
upload all

On 26 Jun 2017, at 03:31, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build he

[2017-06-26 06:14] cmsbuild commented on #19425
Queing Jenkins upload for slc6_amd64_gcc530

[2017-06-26 06:14] cmsbuild commented on #19425
Queing Jenkins upload for slc6_amd64_gcc630

[2017-06-26 06:14] cmsbuild commented on #19425
Queing Jenkins upload for slc7_aarch64_gcc530

[2017-06-26 06:15] cmsbuild commented on #19425
Queing Jenkins upload for slc7_amd64_gcc530

[2017-06-26 06:15] cmsbuild commented on #19425
Queing Jenkins upload for slc7_amd64_gcc630

[2017-06-26 06:15] cmsbuild commented on #19425
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/787/console

[2017-06-26 06:15] cmsbuild commented on #19425
The upload has started for slc7_aarch64_gcc530 in techlab-arm64-moonshot-xgene-014.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/788/console

[2017-06-26 06:15] cmsbuild commented on #19425
The upload has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/789/console

[2017-06-26 06:17] cmsbuild commented on #19425
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_4-slc6_amd64_gcc630/787
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-06-26 06:17] cmsbuild commented on #19425
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-06-26 06:17] cmsbuild commented on #19425
The upload has started for slc7_amd64_gcc630 in cmsbuild32.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/790/console

[2017-06-26 06:19] cmsbuild commented on #19425
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_4-slc7_amd64_gcc530/789
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-06-26 06:19] cmsbuild commented on #19425
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-06-26 06:21] cmsbuild commented on #19425
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_4-slc7_amd64_gcc630/790
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-06-26 06:21] cmsbuild commented on #19425
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-06-26 06:22] cmsbuild commented on #19425
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_4-slc7_aarch64_gcc530/788
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-06-26 06:46] cmsbuild commented on #19425
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/786/console

[2017-06-26 06:54] cmsbuild commented on #19425
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_4-slc6_amd64_gcc530/786
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-06-26 06:54] cmsbuild commented on #19425
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-06-26 07:07] davidlange6 commented on #19425
release-notes

On 26 Jun 2017, at 08:55, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_4-slc6_amd64_gcc530/786
The release is now being installed, you can see the progress here:
https://cmssdt.cern.ch/jenkins/

[2017-06-26 07:07] cmsbuild commented on #19425
Generating release notes since CMSSW_9_2_3_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-06-26 07:07] cmsbuild commented on #19425
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_4 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_3_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_4

Cheers,
cms-bot

You ca

[2017-06-26 07:21] cmsbuild commented on #19425
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_4

[2017-06-26 12:10] mtosi commented on #19142
ciao
it was in one of mine example for non experts
and as you saw almost everybody copied-n-pasted it :(
I agree we should have a more general class for doing it
  mia

On Fri, Jun 23, 2017 at 3:28 PM, Dmitrijus <notifications@github.com> wrote:

[2017-06-26 14:56] #13029 closed

[2017-06-28 05:08] cmsbuild commented on #19425
The cleanup has started for slc7_aarch64_gcc530

[2017-06-28 05:08] cmsbuild commented on #19425
The cleanup has started for slc6_amd64_gcc530

[2017-06-28 05:08] cmsbuild commented on #19425
The cleanup has started for slc6_amd64_gcc630

[2017-06-28 05:08] cmsbuild commented on #19425
The cleanup has started for slc7_amd64_gcc530

[2017-06-28 05:08] cmsbuild commented on #19425
The cleanup has started for slc7_amd64_gcc630

[2017-06-28 05:08] #19425 closed

[2017-06-28 05:09] cmsbuild commented on #19425
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_4-slc6_amd64_gcc630/704

[2017-06-28 05:09] cmsbuild commented on #19425
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_4-slc7_aarch64_gcc530/705

[2017-06-28 05:15] cmsbuild commented on #19425
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_4-slc6_amd64_gcc530/703

[2017-06-28 05:16] cmsbuild commented on #19425
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_4-slc7_amd64_gcc530/706

[2017-06-28 05:17] cmsbuild commented on #19425
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_4-slc7_amd64_gcc630/707

[2017-06-28 17:56] slava77 commented on #18605
+1

fixed in #19421

[2017-06-28 17:57] cmsbuild commented on #18605
This issue is fully signed and ready to be closed.

[2017-06-28 17:57] slava77 commented on #18455
@perrotta
I suppose we can "+1" and close this issue now

[2017-06-28 18:00] slava77 commented on #18426
+1

fixed in  #18666

[2017-06-28 18:00] #18426 closed

[2017-06-28 18:01] cmsbuild commented on #18426
This issue is fully signed and ready to be closed.

[2017-06-28 18:04] slava77 commented on #18227
@pmaksim1

From https://github.com/cms-sw/cmssw/pull/18038#issuecomment-291992616

Please clarify on the status of the update.
Thank you.

[2017-06-28 18:05] slava77 commented on #17826
@lgray
what is the status of this issue?
Please "@" others who may be working on this.
Thank you.

[2017-06-28 18:07] slava77 commented on #17603
+1

the legacy rereco is essentially over for the "RECO" step.
It's probably time to close this issue.
@davidlange6

[2017-06-28 18:09] slava77 commented on #17593
@kpedro88 @igv4321 @bsunanda
is this issue still relevant?
this is related to https://github.com/cms-sw/cmssw/pull/17581#pullrequestreview-22972210

[2017-06-28 18:12] slava77 commented on #17580
@makortel @VinInn
it looks like the "bug" is still there in
https://github.com/cms-sw/cmssw/blob/CMSSW_9_2_4/RecoTracker/FinalTrackSelectors/plugins/TrackMerger.cc#L165-L167

[2017-06-28 18:13] arizzi commented on #18390
nope... we still have several features in the pipeline so performance issues will be addressed later...

[2017-06-28 18:16] slava77 commented on #15961
@Dr15Jones
should this be closed now?
the fix is in the release since a while now
https://github.com/cms-sw/cmssw/commit/f39e5882df8aef401d13423933265580bd0dcbc2

[2017-06-28 18:17] slava77 commented on #15781
+1

fixed in #15799

[2017-06-28 18:17] cmsbuild commented on #15781
This issue is fully signed and ready to be closed.

[2017-06-28 18:18] slava77 commented on #14397
+1

fixed in #17107

[2017-06-28 18:19] cmsbuild commented on #14397
This issue is fully signed and ready to be closed.

[2017-06-28 18:20] slava77 commented on #19179
+1

fixed in #19198 as noted above already

[2017-06-28 18:20] cmsbuild commented on #19179
This issue is fully signed and ready to be closed.

[2017-06-28 18:23] slava77 commented on #18948
@ikrav @ishvetso
please clarify on the status of the update to resolve this issue
Thank you.

[2017-06-28 18:37] pmaksim1 commented on #18227
Thanks for the ping.  I'm waiting to see if there'll be updates for Layer
1.  We can fold in the clean-up with the next round, or (if there's no next
round) just have a PR with just cosmetics.  I didn't want to bug people
while we have an emergency going on.

            Petar

On Wed, Jun 28, 2017 at 2:04 PM, Slava Krutelyov <notifications@github.com>
wrote:

[2017-06-28 18:59] ikrav commented on #18948
Ivan prepared a branch with a solution. However, we are also discussing
right now the alternative solution that doesn’t compute isolation at all, and
which simply relies on the isolation values stored in the photon object. Not
sure which one is the way to go, for various reasons.

Ilya

[2017-06-28 20:00] perrotta commented on #18455
+1
JIRA ticket CMSHLT-1242 integrated in the HLT menu since /dev/CMSSW_9_1_0/HLT/V12

[2017-06-28 20:00] #18455 closed

[2017-06-28 20:00] cmsbuild commented on #18455
This issue is fully signed and ready to be closed.

[2017-06-28 20:11] Dr15Jones commented on #15961
@slava77 I think we were just waiting for a reconstruction approval.

[2017-06-28 20:15] slava77 commented on #15961
+1

it's apparently fixed

[2017-06-28 20:16] cmsbuild commented on #15961
This issue is fully signed and ready to be closed.

[2017-06-28 20:24] #15961 closed

[2017-06-30 08:03] #19179 closed

[2017-06-30 08:03] #18757 closed

[2017-06-30 08:03] #18605 closed

[2017-06-30 08:04] #15781 closed

[2017-06-30 08:04] #14397 closed

[2017-06-30 08:05] #13028 closed

[2017-06-30 08:06] #11057 closed

[2017-07-03 05:51] govoni commented on #11057
Hello @smuzaffar ,

could you please add Efe Yazgan to the list as well? He's becoming GEN convener in September. I guess, by the way, that Luca Perrozzi is already there?

pietro

[2017-07-03 09:22] davidlange6 opened #19513 "Issues related to applying clang-tidy to CMSSW"
Anchor for PRs, requests, discussion

Last discussion we decided to experiment with any clang-tidy tool receiving at least 4 positive votes and no negative votes on CMSSW. The first step was to try and run each tool to let everyone see what effect it will have.

[2017-07-03 09:23] cmsbuild commented on #19513
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-03 09:24] davidlange6 commented on #19513
#19514 is the first experiment - for "modernize-use-nullptr"

[2017-07-03 09:30] davidlange6 commented on #19513
but something has clearly gone wrong with my script - look for nullptrnullptr, which is presumably coming from a race condition - I'm trying to process one release area by subsystem using 8 threads. it seems I need to be more patient than that

[2017-07-03 10:08] smuzaffar commented on #11057
efeyazgan is already added as L2 of GEN https://github.com/cms-sw/cms-bot/pull/868

[2017-07-03 14:05] davidlange6 commented on #19513
ok, I've found a better script  but managed to corrupt my area in the process. It looks like modernize-use-nullptr touches ~3k files. Hopefully I'll have a PR later today for comments (and then for more tools tomorrow)

[2017-07-03 14:19] davidlange6 commented on #19513
And following up on information discussed in the last meeting - the list of survey results is:

https://docs.google.com/spreadsheets/d/1TaMjsEonAtrYT_ddEGpvan0ADkPGtQPHHR3n4WjCI-Y/edit#gid=445834628

(in particular the "sorted" tab) We did not discuss options for any of the tools we decided to evaluate for enabling.

Aside from this we discussed:
 1) being sure to socialize choices made. Last week

[2017-07-03 19:54] davidlange6 opened #19526 "Build CMSSW_9_3_0_patch1"

[2017-07-03 19:55] cmsbuild commented on #19526
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-03 20:00] davidlange6 commented on #19526
+1

[2017-07-03 20:00] cmsbuild commented on #19526
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-07-03 20:00] cmsbuild commented on #19526
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2017-07-03 20:01] cmsbuild commented on #19526
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_patch1-slc7_amd64_gcc630/1207

[2017-07-03 20:01] cmsbuild commented on #19526
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_patch1-slc6_amd64_gcc530/1208

[2017-07-03 20:01] cmsbuild commented on #19526
The was an error for slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_patch1-slc7_aarch64_gcc530/1209

[2017-07-03 20:02] cmsbuild commented on #19526
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_patch1-slc6_amd64_gcc630/1210

[2017-07-03 20:02] cmsbuild commented on #19526
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_patch1-slc7_amd64_gcc530/1206

[2017-07-03 20:04] davidlange6 commented on #19526
abort

[2017-07-03 20:05] cmsbuild commented on #19526
Deleting CMSSW_9_3_0_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_9_3_0_patch1 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_3_0_patch1/slc6_amd64_gcc530. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_3_0_patch1/slc6_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_3_0_patch1/sl

[2017-07-03 20:07] davidlange6 opened #19527 "Build CMSSW_9_3_0_pre1"

[2017-07-03 20:07] cmsbuild commented on #19527
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-03 20:10] davidlange6 commented on #19513
Hi all
Please have a look and comment on
#19529 #19528

will try to get through the rest this week

[2017-07-03 20:10] davidlange6 commented on #19527
+1

[2017-07-03 20:10] cmsbuild commented on #19527
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-07-03 20:11] cmsbuild commented on #19527
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2017-07-03 20:11] cmsbuild commented on #19527
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1211/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-03 20:11] cmsbuild commented on #19527
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1212/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-03 20:11] cmsbuild commented on #19527
The build has started for slc7_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1213/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-03 20:11] cmsbuild commented on #19527
The build has started for slc7_aarch64_gcc530 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1214/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX-dev](https://github.com/cms-sw/pkgtools/commits/V00-30-XX-dev)

[2017-07-03 20:21] cmsbuild commented on #19527
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1215/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-03 20:52] cmsbuild commented on #19527
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc530/1211

[2017-07-03 21:02] cmsbuild commented on #19527
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc630/1215

[2017-07-03 21:14] cmsbuild commented on #19527
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1216/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-03 21:40] cmsbuild commented on #19527
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1217/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-03 22:21] cmsbuild commented on #19527
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc630/1217

[2017-07-03 22:33] cmsbuild commented on #19527
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1218/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-03 22:38] cmsbuild commented on #19527
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc530/1216

[2017-07-03 22:55] cmsbuild commented on #19527
The build has started for slc6_amd64_gcc530 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1219/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-03 23:08] cmsbuild commented on #19527
The build has started for slc6_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1220/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-04 00:18] cmsbuild commented on #19527
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc7_amd64_gcc630/1213
Some test

[2017-07-04 00:38] cmsbuild commented on #19527
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc7_aarch64_gcc530/1214
Some

[2017-07-04 01:04] cmsbuild commented on #19527
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc7_amd64_gcc630/1213

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-04 02:20] cmsbuild commented on #19527
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc7_aarch64_gcc530/1214

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-04 02:44] cmsbuild commented on #19527
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc7_amd64_gcc530/1212
Some test

[2017-07-04 03:02] cmsbuild commented on #19527
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc630/1220
Some test

[2017-07-04 03:37] cmsbuild commented on #19527
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc7_amd64_gcc530/1212

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-04 03:43] cmsbuild commented on #19527
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc630/1220

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-04 06:11] cmsbuild commented on #19527
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc530/1219
Some test

[2017-07-04 06:15] cmsbuild commented on #19527
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-04 06:15] cmsbuild commented on #19527
Queing Jenkins upload for slc7_aarch64_gcc530

[2017-07-04 06:15] cmsbuild commented on #19527
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-04 06:15] cmsbuild commented on #19527
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-04 06:16] cmsbuild commented on #19527
The upload has started for slc6_amd64_gcc530 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/791/console

[2017-07-04 06:16] cmsbuild commented on #19527
The upload has started for slc6_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/792/console

[2017-07-04 06:16] cmsbuild commented on #19527
The upload has started for slc7_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/794/console

[2017-07-04 06:16] cmsbuild commented on #19527
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/793/console

[2017-07-04 06:19] cmsbuild commented on #19527
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre1-slc7_amd64_gcc630/794
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-04 06:20] cmsbuild commented on #19527
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-04 06:20] cmsbuild commented on #19527
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc630/792
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-04 06:20] cmsbuild commented on #19527
The upload has started for slc7_aarch64_gcc530 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/795/console

[2017-07-04 06:20] cmsbuild commented on #19527
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-04 06:21] cmsbuild commented on #19527
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre1-slc7_amd64_gcc530/793
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-04 06:21] cmsbuild commented on #19527
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-04 06:22] cmsbuild commented on #19527
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc530/791
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-04 06:22] cmsbuild commented on #19527
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-04 06:24] cmsbuild commented on #19527
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre1-slc7_aarch64_gcc530/795
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-04 06:55] cmsbuild commented on #19527
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre1-slc6_amd64_gcc530/1219

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-04 07:06] davidlange6 commented on #19527
release-notes since CMSSW_9_2_4

[2017-07-04 07:06] cmsbuild commented on #19527
Generating release notes since CMSSW_9_2_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-04 07:06] cmsbuild commented on #19527
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_3_0_pre1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_0_pre1

Cheers,
cms-bot

Yo

[2017-07-04 07:15] cmsbuild commented on #19527
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre1

[2017-07-04 17:00] davidlange6 commented on #19513
for modernize-use-override, @slava77 comments "probably keep the "virtual" specifier if it's already there. Even though it's redundant, it was our code rule 3.26."

[2017-07-04 17:03] davidlange6 commented on #19513
more PRs (some of them small!)

#19550, #19551, #19552, #19553, #19554 #19555 #19556

the change to  L1TriggerConfig/GMTConfigProducers/src/L1MuGMTParametersOnlineProducer.cc seems to be a bug,  we've gotten around it, but not in these PRs.

misc-sizeof-expression and misc-sizeof-container apparently didn't do anything. (tbc)

[2017-07-05 18:08] #19526 closed

[2017-07-06 05:08] cmsbuild commented on #19527
The cleanup has started for slc7_aarch64_gcc530

[2017-07-06 05:08] cmsbuild commented on #19527
The cleanup has started for slc6_amd64_gcc530

[2017-07-06 05:08] cmsbuild commented on #19527
The cleanup has started for slc6_amd64_gcc630

[2017-07-06 05:08] cmsbuild commented on #19527
The cleanup has started for slc6_amd64_gcc530

[2017-07-06 05:08] cmsbuild commented on #19527
The cleanup has started for slc7_amd64_gcc530

[2017-07-06 05:08] cmsbuild commented on #19527
The cleanup has started for slc7_amd64_gcc630

[2017-07-06 05:08] #19527 closed

[2017-07-06 05:19] cmsbuild commented on #19527
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre1-slc7_amd64_gcc630/709

[2017-07-06 05:20] cmsbuild commented on #19527
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre1-slc7_amd64_gcc530/708

[2017-07-06 08:45] Martin-Grunewald commented on #19085
PRs made - can close this issue!

[2017-07-06 14:58] tapperad opened #19590 "Improvements to L1 offline DQM - part 1"
Here is a list of requested changes to:

cmssw/DQMOffline/L1Trigger/src/L1TStage2CaloLayer2Offline.cc

For the recoHTT and recoMHT we want to restrict the |eta| of the jets to < 2.5.

In the hardware the eta ranges and jet Et thresholds are set separately for HT and MHT (though they are currently the same value). Going forward it may be good to allow the same functionality in the DQM code i.e. sep

[2017-07-06 14:58] cmsbuild commented on #19590
A new Issue was created by  @tapperad .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-06 15:00] tapperad opened #19592 "Improvements to L1 Offline DQM - part 2"
Here is a list of requested changes to:

cmssw/DQMOffline/L1Trigger/src/L1TStage2CaloLayer2Offline.cc

The default Reco MET collection should be changed to "caloMetBE" and the recoETT should be taken from the "caloMetBE" collection with the getter sumEt().

Cheers
Alex.

[2017-07-06 15:01] cmsbuild commented on #19592
A new Issue was created by  @tapperad .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-06 15:05] tapperad opened #19593 "Improvements to L1 Offline DQM - part 3"
Here is a list of requested changes to:

cmssw/DQMOffline/L1Trigger/src/L1TStage2CaloLayer2Offline.cc

The variable ETMHF should be added to the package in the same way as ETM.

The L1 quantity is extracted using the type: l1t::EtSum::EtSumType::kMissingEtHF

The corresponding Reco collection is "caloMet"

Cheers,
Alex.

[2017-07-06 15:05] cmsbuild commented on #19593
A new Issue was created by  @tapperad .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-06 15:08] tapperad commented on #19592
assign kreczko

[2017-07-06 15:15] Dr15Jones commented on #19590
assign dqm, l1

[2017-07-06 15:16] cmsbuild commented on #19590
New categories assigned: dqm,l1

@kmaeshima,@vanbesien,@mulhearn,@vazzolini,@dmitrijus,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-06 15:16] Dr15Jones commented on #19592
assign dqm, l1

[2017-07-06 15:16] Dr15Jones commented on #19593
assign dqm, l1

[2017-07-06 15:16] cmsbuild commented on #19592
New categories assigned: dqm,l1

@kmaeshima,@vanbesien,@mulhearn,@vazzolini,@dmitrijus,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-06 15:17] cmsbuild commented on #19593
New categories assigned: dqm,l1

@kmaeshima,@vanbesien,@mulhearn,@vazzolini,@dmitrijus,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-06 15:19] tapperad commented on #19590
Hi, this issue should be assigned to @kreczko please.

[2017-07-06 15:19] tapperad commented on #19592
Hi, this issue should be assigned to @kreczko please.

[2017-07-06 15:19] tapperad commented on #19593
Hi, this issue should be assigned to @kreczko please.

[2017-07-06 20:56] davidlange6 opened #19602 "Build CMSSW_9_2_5"

[2017-07-06 20:56] cmsbuild commented on #19602
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-06 21:00] davidlange6 commented on #19602
+1

[2017-07-06 21:00] cmsbuild commented on #19602
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-07-06 21:00] cmsbuild commented on #19602
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-06 21:03] cmsbuild commented on #19602
The build has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1222/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-06 21:03] cmsbuild commented on #19602
The build has started for slc7_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1223/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-06 21:03] cmsbuild commented on #19602
The build has started for slc6_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1221/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-06 21:03] cmsbuild commented on #19602
The build has started for slc7_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1224/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-06 23:38] cmsbuild commented on #19602
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc7_amd64_gcc530/1223
Some tests ( r

[2017-07-07 00:30] cmsbuild commented on #19602
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc7_amd64_gcc530/1223

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-07 00:36] cmsbuild commented on #19602
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc7_amd64_gcc630/1224
Some tests ( r

[2017-07-07 00:50] slava77 opened #19604 "PackedCandidate DQM may need to detect expected differences in nLayers/nHits for loopers"
this is related to #19509:
after the introduction of the "firstHit" pattern in the packed candidates, there is now a rare inconsistency between the number of hits or layers, which is apparently seen for loopers

@dmitrijus @makortel @arizzi

[2017-07-07 00:51] cmsbuild commented on #19604
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-07 00:51] slava77 commented on #19604
assign dqm

[2017-07-07 00:51] cmsbuild commented on #19604
New categories assigned: dqm

@kmaeshima,@vanbesien,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-07 01:20] cmsbuild commented on #19602
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc6_amd64_gcc630/1222
Some tests ( r

[2017-07-07 01:54] cmsbuild commented on #19602
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc7_amd64_gcc630/1224

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-07 02:08] cmsbuild commented on #19602
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc6_amd64_gcc630/1222

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-07 03:44] cmsbuild commented on #19602
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc6_amd64_gcc530/1221
Some tests ( r

[2017-07-07 04:25] slava77 opened #19605 "migrate jet miniAOD DQM caloJet variables monitoring to slimmedCaloJets and remove caloJet user floats in miniAOD"
In connection with #19446 :
caloJet user floats still saved in miniAOD are now redundant after introduction of slimmedCaloJets.
The DQM analyzers for the caloJet variables should migrate to use slimmedCaloJets.
After the migration is complete, the userFloats can be removed.

@gpetruc @arizzi @ahinzmann @knash @dmitrijus

[2017-07-07 04:26] slava77 commented on #19605
assign dqm, reconstruction

[2017-07-07 04:26] cmsbuild commented on #19605
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-07 04:26] cmsbuild commented on #19605
New categories assigned: dqm,reconstruction

@kmaeshima,@vanbesien,@slava77,@perrotta,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-07 04:32] cmsbuild commented on #19602
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc6_amd64_gcc530/1221

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-07 05:29] davidlange6 commented on #19602
upload all

On 7 Jul 2017, at 04:08, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5-slc6_amd64_gcc630/1222

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you were

[2017-07-07 05:29] cmsbuild commented on #19602
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-07 05:29] cmsbuild commented on #19602
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-07 05:29] cmsbuild commented on #19602
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-07 05:30] cmsbuild commented on #19602
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-07 05:31] cmsbuild commented on #19602
The upload has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/796/console

[2017-07-07 05:33] cmsbuild commented on #19602
The upload has started for slc6_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/797/console

[2017-07-07 05:34] cmsbuild commented on #19602
The upload has started for slc7_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/798/console

[2017-07-07 05:34] cmsbuild commented on #19602
The upload has started for slc7_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/799/console

[2017-07-07 05:35] cmsbuild commented on #19602
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5-slc6_amd64_gcc630/796
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-07 05:35] cmsbuild commented on #19602
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-07 05:38] cmsbuild commented on #19602
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5-slc6_amd64_gcc530/797
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-07 05:38] cmsbuild commented on #19602
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-07 05:39] cmsbuild commented on #19602
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5-slc7_amd64_gcc530/798
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-07 05:39] cmsbuild commented on #19602
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-07 05:40] cmsbuild commented on #19602
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5-slc7_amd64_gcc630/799
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-07 05:41] cmsbuild commented on #19602
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-07 06:53] davidlange6 commented on #19602
release-notes

[2017-07-07 06:53] cmsbuild commented on #19602
Generating release notes since CMSSW_9_2_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-07 06:53] cmsbuild commented on #19602
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_5 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_5

Cheers,
cms-bot

You can also

[2017-07-07 06:55] cmsbuild commented on #19602
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_5

[2017-07-07 12:07] davidlange6 opened #19614 "Build CMSSW_9_2_5_patch1"

[2017-07-07 12:07] davidlange6 commented on #19614
+1

[2017-07-07 12:07] cmsbuild commented on #19614
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-07 12:07] cmsbuild commented on #19614
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_5_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-07-07 12:07] cmsbuild commented on #19614
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-07 12:08] cmsbuild commented on #19614
The build has started for slc6_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1225/console
CMSDIST Branch: [REL/CMSSW_9_2_5/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_5/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-07 12:10] cmsbuild commented on #19614
The build has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1227/console
CMSDIST Branch: [REL/CMSSW_9_2_5/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_5/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-07 12:10] cmsbuild commented on #19614
The build has started for slc6_amd64_gcc630 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1226/console
CMSDIST Branch: [REL/CMSSW_9_2_5/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_5/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-07 12:20] cmsbuild commented on #19614
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1228/console
CMSDIST Branch: [REL/CMSSW_9_2_5/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_5/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-07 12:41] cmsbuild commented on #19614
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch1-slc7_amd64_gcc530/1227
Some te

[2017-07-07 12:41] cmsbuild commented on #19614
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch1-slc6_amd64_gcc530/1225
Some te

[2017-07-07 12:49] cmsbuild commented on #19614
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch1-slc7_amd64_gcc630/1228
Some te

[2017-07-07 12:57] cmsbuild commented on #19614
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch1-slc6_amd64_gcc630/1226
Some te

[2017-07-07 13:20] cmsbuild commented on #19614
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch1-slc6_amd64_gcc530/1225

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-07 13:32] cmsbuild commented on #19614
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch1-slc7_amd64_gcc530/1227

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-07 13:35] davidlange6 commented on #19614
upload all

[2017-07-07 13:35] cmsbuild commented on #19614
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-07 13:35] cmsbuild commented on #19614
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-07 13:35] cmsbuild commented on #19614
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-07 13:35] cmsbuild commented on #19614
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-07 13:36] cmsbuild commented on #19614
The upload has started for slc6_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/800/console

[2017-07-07 13:36] cmsbuild commented on #19614
The upload has started for slc6_amd64_gcc630 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/801/console

[2017-07-07 13:36] cmsbuild commented on #19614
The upload has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/802/console

[2017-07-07 13:36] cmsbuild commented on #19614
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/803/console

[2017-07-07 13:37] cmsbuild commented on #19614
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch1-slc7_amd64_gcc630/803
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-07 13:37] cmsbuild commented on #19614
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-07 13:38] cmsbuild commented on #19614
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch1-slc6_amd64_gcc530/800
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-07 13:38] cmsbuild commented on #19614
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-07 13:38] cmsbuild commented on #19614
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch1-slc7_amd64_gcc530/802
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-07 13:38] cmsbuild commented on #19614
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-07 13:40] cmsbuild commented on #19614
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch1-slc6_amd64_gcc630/801
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-07 13:40] cmsbuild commented on #19614
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-07 13:41] cmsbuild commented on #19614
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch1-slc7_amd64_gcc630/1228

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-07 13:50] davidlange6 commented on #19614
release-notes

[2017-07-07 13:50] cmsbuild commented on #19614
Generating release notes since CMSSW_9_2_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-07 13:50] cmsbuild commented on #19614
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_2_5_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_5_patch1

Cheers,
cm

[2017-07-07 13:53] cmsbuild commented on #19614
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_5_patch1

[2017-07-07 14:14] cmsbuild commented on #19614
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch1-slc6_amd64_gcc630/1226

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-08 13:38] davidlange6 opened #19628 "Build CMSSW_9_2_5_patch2"

[2017-07-08 13:38] cmsbuild commented on #19628
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-08 13:39] davidlange6 commented on #19628
+1

[2017-07-08 13:40] cmsbuild commented on #19628
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_5_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-07-08 13:40] cmsbuild commented on #19628
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-08 13:41] cmsbuild commented on #19628
The build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1230/console
CMSDIST Branch: [REL/CMSSW_9_2_5/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_5/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-08 13:41] cmsbuild commented on #19628
The build has started for slc6_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1229/console
CMSDIST Branch: [REL/CMSSW_9_2_5/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_5/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-08 13:41] cmsbuild commented on #19628
The build has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1231/console
CMSDIST Branch: [REL/CMSSW_9_2_5/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_5/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-08 13:41] cmsbuild commented on #19628
The build has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1232/console
CMSDIST Branch: [REL/CMSSW_9_2_5/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_5/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-08 14:07] cmsbuild commented on #19628
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch2-slc6_amd64_gcc630/1230
Some te

[2017-07-08 14:08] cmsbuild commented on #19628
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch2-slc7_amd64_gcc530/1231
Some te

[2017-07-08 14:11] cmsbuild commented on #19628
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch2-slc7_amd64_gcc630/1232
Some te

[2017-07-08 14:12] cmsbuild commented on #19628
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch2-slc6_amd64_gcc530/1229
Some te

[2017-07-08 14:45] cmsbuild commented on #19628
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch2-slc6_amd64_gcc630/1230

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-08 14:51] cmsbuild commented on #19628
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch2-slc6_amd64_gcc530/1229

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-08 14:56] cmsbuild commented on #19628
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch2-slc7_amd64_gcc530/1231

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-08 15:05] cmsbuild commented on #19628
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_5_patch2-slc7_amd64_gcc630/1232

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-08 15:38] davidlange6 commented on #19628
upload all

On 8 Jul 2017, at 15:39, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

Request received. I will start to build the release after one of the following approve the issue: @slava77<https://github.com/slava77>, @davidlange6<https://github.com/davidlange6>, @smuzaffar<https://github.com/smuzaffar>. You can do this by writing "+1" in a comment.
You can also ask

[2017-07-08 15:39] cmsbuild commented on #19628
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-08 15:39] cmsbuild commented on #19628
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-08 15:39] cmsbuild commented on #19628
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-08 15:39] cmsbuild commented on #19628
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-08 15:40] cmsbuild commented on #19628
The upload has started for slc6_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/804/console

[2017-07-08 15:40] cmsbuild commented on #19628
The upload has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/805/console

[2017-07-08 15:41] cmsbuild commented on #19628
The upload has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/806/console

[2017-07-08 15:42] cmsbuild commented on #19628
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch2-slc6_amd64_gcc530/804
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-08 15:42] cmsbuild commented on #19628
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch2-slc6_amd64_gcc630/805
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-08 15:42] cmsbuild commented on #19628
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-08 15:42] cmsbuild commented on #19628
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-08 15:42] cmsbuild commented on #19628
The upload has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/807/console

[2017-07-08 15:46] cmsbuild commented on #19628
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch2-slc7_amd64_gcc630/807
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-08 15:46] cmsbuild commented on #19628
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-08 15:47] cmsbuild commented on #19628
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch2-slc7_amd64_gcc530/806
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-08 15:47] cmsbuild commented on #19628
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-08 16:35] davidlange6 commented on #19628
release-notes

On 8 Jul 2017, at 17:48, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_5_patch2-slc7_amd64_gcc530/806
The release is now being installed, you can see the progress here:
https://cmssdt.cern.ch/je

[2017-07-08 16:36] cmsbuild commented on #19628
Generating release notes since CMSSW_9_2_5_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-08 16:36] cmsbuild commented on #19628
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_2_5_patch2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_5_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_5_patch2

Che

[2017-07-08 16:37] cmsbuild commented on #19628
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_5_patch2

[2017-07-09 04:54] cmsbuild commented on #19602
The cleanup has started for slc6_amd64_gcc530

[2017-07-09 04:54] cmsbuild commented on #19602
The cleanup has started for slc6_amd64_gcc630

[2017-07-09 04:54] cmsbuild commented on #19602
The cleanup has started for slc7_amd64_gcc530

[2017-07-09 04:54] cmsbuild commented on #19602
The cleanup has started for slc7_amd64_gcc630

[2017-07-09 04:54] #19602 closed

[2017-07-09 04:55] cmsbuild commented on #19602
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5-slc7_amd64_gcc630/713

[2017-07-09 04:56] cmsbuild commented on #19602
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5-slc7_amd64_gcc530/712

[2017-07-09 05:01] cmsbuild commented on #19602
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5-slc6_amd64_gcc630/711

[2017-07-09 05:01] cmsbuild commented on #19602
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5-slc6_amd64_gcc530/710

[2017-07-09 11:53] cmsbuild commented on #19614
The cleanup has started for slc6_amd64_gcc530

[2017-07-09 11:53] cmsbuild commented on #19614
The cleanup has started for slc6_amd64_gcc630

[2017-07-09 11:53] cmsbuild commented on #19614
The cleanup has started for slc7_amd64_gcc530

[2017-07-09 11:53] cmsbuild commented on #19614
The cleanup has started for slc7_amd64_gcc630

[2017-07-09 11:53] #19614 closed

[2017-07-09 11:55] cmsbuild commented on #19614
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5_patch1-slc7_amd64_gcc630/717

[2017-07-09 11:59] cmsbuild commented on #19614
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5_patch1-slc6_amd64_gcc530/714

[2017-07-09 12:00] cmsbuild commented on #19614
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5_patch1-slc7_amd64_gcc530/716

[2017-07-09 18:29] davidlange6 opened #19634 "Build CMSSW_9_2_6"
to introduce the new tracker vcal

[2017-07-09 18:29] cmsbuild commented on #19634
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-09 18:35] davidlange6 commented on #19634
+1

[2017-07-09 18:35] cmsbuild commented on #19634
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-07-09 18:35] cmsbuild commented on #19634
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-09 18:42] cmsbuild commented on #19634
The build has started for slc6_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1233/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-09 18:48] cmsbuild commented on #19634
The build has started for slc6_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1234/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-09 18:55] cmsbuild commented on #19634
The build has started for slc7_amd64_gcc530 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1235/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-09 18:59] cmsbuild commented on #19634
The build has started for slc7_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1236/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-09 22:02] cmsbuild commented on #19634
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc6_amd64_gcc630/1234
Some tests ( r

[2017-07-09 22:43] cmsbuild commented on #19634
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc7_amd64_gcc530/1235
Some tests ( r

[2017-07-09 22:46] cmsbuild commented on #19634
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc6_amd64_gcc630/1234

Tests results:
16 16 15 12 7 1 1 1 tests passed, 0 0 0 1 0 0 0 0 failed

[2017-07-09 23:17] cmsbuild commented on #19634
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc7_amd64_gcc630/1236
Some tests ( r

[2017-07-09 23:30] cmsbuild commented on #19634
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc7_amd64_gcc530/1235

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-10 00:25] davidlange6 commented on #19634
upload all

Cheers
David

On Jul 9, 2017, at 7:31 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc7_amd64_gcc530/1235

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

—
You are receiving this

[2017-07-10 00:25] cmsbuild commented on #19634
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-10 00:25] cmsbuild commented on #19634
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-10 00:25] cmsbuild commented on #19634
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-10 00:26] cmsbuild commented on #19634
The upload has started for slc6_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/809/console

[2017-07-10 00:26] cmsbuild commented on #19634
The upload has started for slc7_amd64_gcc530 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/808/console

[2017-07-10 00:26] cmsbuild commented on #19634
The upload has started for slc7_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/810/console

[2017-07-10 00:27] cmsbuild commented on #19634
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6-slc7_amd64_gcc530/808
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-10 00:27] cmsbuild commented on #19634
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-10 00:28] cmsbuild commented on #19634
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6-slc6_amd64_gcc630/809
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-10 00:28] cmsbuild commented on #19634
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-10 00:28] cmsbuild commented on #19634
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6-slc7_amd64_gcc630/810
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-10 00:28] cmsbuild commented on #19634
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-10 00:30] cmsbuild commented on #19634
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc7_amd64_gcc630/1236

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-10 01:02] davidlange6 commented on #19634
release-notes

On Jul 9, 2017, at 8:30 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc7_amd64_gcc630/1236

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

—
You are receiving this because yo

[2017-07-10 01:03] cmsbuild commented on #19634
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-07-10 01:32] cmsbuild commented on #19634
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc6_amd64_gcc530/1233
Some tests ( r

[2017-07-10 01:32] cmsbuild commented on #19634
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-10 01:33] cmsbuild commented on #19634
The upload has started for slc6_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/811/console

[2017-07-10 01:37] cmsbuild commented on #19634
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_6-slc6_amd64_gcc530/811
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-10 01:37] cmsbuild commented on #19634
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-10 01:37] cmsbuild commented on #19634
Generating release notes since CMSSW_9_2_5_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-10 01:37] cmsbuild commented on #19634
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_6 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_5_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_6

to introduce the new tr

[2017-07-10 01:38] cmsbuild commented on #19634
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_6

[2017-07-10 02:14] cmsbuild commented on #19634
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_6-slc6_amd64_gcc530/1233

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-10 12:24] dan131riley opened #19638 "Possible memory corruption in 10023.0"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_9_3_X_2017-07-07-2300/pyRelValMatrixLogs/run/10023.0_MinBias_13+MinBias_13TeV_pythia8_TuneCUETP8M1_2017_GenSimFullINPUT+DigiFull_2017+RecoFull_2017+ALCAFull_2017+HARVESTFull_2017/step3_MinBias_13+MinBias_13TeV_pythia8_TuneCUETP8M1_2017_GenSimFullINPUT+DigiFull_2017+RecoFull_2017+ALCAFull_2017+HARVESTFull_2017.log

segmentation fa

[2017-07-10 12:24] cmsbuild commented on #19638
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-10 14:38] cmsbuild commented on #19628
The cleanup has started for slc6_amd64_gcc530

[2017-07-10 14:38] cmsbuild commented on #19628
The cleanup has started for slc6_amd64_gcc630

[2017-07-10 14:38] cmsbuild commented on #19628
The cleanup has started for slc7_amd64_gcc530

[2017-07-10 14:38] cmsbuild commented on #19628
The cleanup has started for slc7_amd64_gcc630

[2017-07-10 14:38] #19628 closed

[2017-07-10 14:39] cmsbuild commented on #19628
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5_patch2-slc7_amd64_gcc530/720

[2017-07-10 14:42] makortel commented on #19604
@slava77 The DQM should certainly be improved, but not only because of #19509, but also due to earlier PRs #17909 and #18092. Likely I won't have time to take a look before August.

But let me ask out loud if the current level of details is actually needed? I mean, while it was an interesting exercise to create the DQM module, and I think the information (including the packing under/overflows) is

[2017-07-10 14:43] cmsbuild commented on #19628
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5_patch2-slc6_amd64_gcc630/719

[2017-07-10 14:43] cmsbuild commented on #19628
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5_patch2-slc6_amd64_gcc530/718

[2017-07-10 14:45] cmsbuild commented on #19628
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_5_patch2-slc7_amd64_gcc630/721

[2017-07-10 15:15] slava77 commented on #19604
On 7/10/17 10:42 AM, Matti Kortelainen wrote:

I think that this packed-vs-generalTrack DQM is very important
to capture correctness of values in the packed candidate.

In most cases, they are probably good enough if they can just show that
there are changes
rather than characterizing if the difference is expected or not.
Still, it would be nice if it's possible to keep track of unexpected
differe

[2017-07-10 16:40] kpedro88 opened #19666 "Assign CTPPS packages to categories"
I recently noticed messages from @cmsbuild regarding CTPPS packages without categories:
[code]

The relevant developer(s) should follow the instructions to assign these packages to categories for future code reviews:

It looks like these packages were introduced in #18021 and #18359, so @sandrofonseca, @malbouis, please take a look at this.

[2017-07-10 16:48] cmsbuild commented on #19666
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-10 18:06] davidlange6 commented on #19513
hi all
I got through the tools with >=5 votes and made PRs for any tool that had >0 lines of changes. The wc of git diff for each of the tools I tried is below

403 1601 22505 clangTidyTest12-boost-use-to-string
0 0 0 clangTidyTest12-clang-analyzer-core.CallAndMessage
0 0 0 clangTidyTest12-clang-analyzer-core.UndefinedBinaryOperatorResult
0 0 0 clangTidyTest12-clang-analyzer-core.uninitialized.Arr

[2017-07-11 18:29] wddgit opened #19690 "edmWriteConfigs writing duplicate and conflicting cfi files"
This problem is caused by modules that do not properly implement the
fillDescriptions function. In the case that was originally reported on
the swDevelopment hypernews on 10 July 2017, a module plugin inherited
from another module plugin. The base class plugin defined fillDescriptions and
included a module label (which causes cfi file generation). The inherited class
did not define fillDescription

[2017-07-11 18:29] cmsbuild commented on #19690
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-11 18:30] Dr15Jones commented on #19690
assign core

[2017-07-11 18:31] cmsbuild commented on #19690
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-11 21:31] wddgit commented on #19690
@fwyzard I added the -x or --plugin feature into edmWriteConfig. I will submit it with the other new code in a separate commit in the same PR. @Martin-Grunewald.

[2017-07-11 21:45] wddgit commented on #19690
Here is the full list of errors I found with the new check. I modified ConfigurationDescriptions.h and I think that pulled in all the packages that could be affected by this. This includes the four I already mentioned. I will start looking at these in the half an hour I have before I head home, but if anyone wants to volunteer to fix them that would be great (4 have HLT in the name). There were al

[2017-07-11 22:06] wddgit commented on #19690
There is one weakness in the test I added. It would detect if two plugins in the same library were trying to write cfi files with the same name. But if there were two such plugins in the same package but not in the same plugin library, this check would miss the problem. In many cases, where there is more than one plugin library in the same package, they are all test libraries except for one. Given

[2017-07-11 23:08] cmsbuild commented on #19634
The cleanup has started for slc6_amd64_gcc530

[2017-07-11 23:08] cmsbuild commented on #19634
The cleanup has started for slc6_amd64_gcc630

[2017-07-11 23:08] cmsbuild commented on #19634
The cleanup has started for slc7_amd64_gcc530

[2017-07-11 23:08] cmsbuild commented on #19634
The cleanup has started for slc7_amd64_gcc630

[2017-07-11 23:08] #19634 closed

[2017-07-11 23:16] cmsbuild commented on #19634
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_6-slc7_amd64_gcc630/725

[2017-07-11 23:17] cmsbuild commented on #19634
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_6-slc7_amd64_gcc530/724

[2017-07-11 23:18] cmsbuild commented on #19634
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_6-slc6_amd64_gcc630/723

[2017-07-11 23:28] cmsbuild commented on #19634
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_6-slc6_amd64_gcc530/722

[2017-07-12 02:21] jpivarski opened #19695 "PSet for pointer type"
Since CMSSW can be run within a Python process, there are situations in which one would want to pass a pointer (e.g. to a Numpy array) as part of a configuration PSet. This can be done as a cms.uint64 or cms.untracked.uint64 at the expense of assuming that pointers are unsigned 64-but integers, a machine-dependent assumption.

It would be much safer if there was a PSet type for pointers, compiled

[2017-07-12 02:21] cmsbuild commented on #19695
A new Issue was created by  @jpivarski Jim Pivarski.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-12 08:58] Martin-Grunewald commented on #19690
Dear David,

It would be great if you could fix all of them and then turn on exception failures such that newly submitted code in PRs gets fixed by the developers themselves - ie, can it be hooked to jenkins tests?

If the filename is the same but they are in different plugin directories, that would be OK for ConfDB parsing, as then there would not be any overwriting.
What would not be OK would be

[2017-07-12 10:38] Dr15Jones commented on #19695
Assign core

[2017-07-12 10:38] cmsbuild commented on #19695
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-12 10:46] Dr15Jones commented on #19695
From an email exchange I had a while back with @jpivarski

To which Jim replied

    int get_typeid() {
        return typeid(PythonCommonBlock);
    }
}

[2017-07-12 10:56] jpivarski commented on #19695
Oh, that's right: we wanted the new pointer PSet to carry both the pointer itself (which scales with the platform: old 32-bit vs current 64-bit vs ??? in the future) and also the type of the data so that it can be properly cast on the other side. We agreed that a C++ std::type_info could carry this type, so the content of the PSet would be a 2-element struct.

I'd prefer the pointer to be first in

[2017-07-12 15:03] wddgit commented on #19690
Dear Martin,

By design, ConfigurationDescriptions allows the same plugin class to have multiple descriptions, one for each module label plus optionally one default description. For each module label a cfi file is generated. And these different descriptions are allowed to have completely different parameters, not just different parameter values. If I read your last comment correctly, this is a pro

[2017-07-12 15:15] Martin-Grunewald commented on #19690
Hmm, ConfDB allows for each plugin only one so-called template == list ot top level parameters (fixing name and type but not value). If during parsing several are found for the same plugin, it either takes the first found, or a big OR. It is still OK if the different ones are in different files because we can specify a preferred cfi file by its filename.

[2017-07-12 15:19] wddgit commented on #19690
Then we should be OK, because the cfi filenames should be different. The module label is in the autogenerated cfi filename.

[2017-07-12 15:22] Martin-Grunewald commented on #19690
OK!

[2017-07-12 19:26] wddgit commented on #19690
@smuzaffar Is there a way to force the PR tests to do a complete build when I submit the PR. I probably caught all the problems by changing ConfigurationDescriptions.h and pulling in the packages depending on it (700+ packages), but I think it might be possible to miss something if someone organized their code in an unusual way.

[2017-07-12 20:39] wddgit commented on #19690
@smuzaffar I figured out how to force a full build manually in a local working area so I do not need to do it with the PR any more. Not difficult, I just had not ever done it before. I am still curious if there already exists some way to do it with the PR testing, but I am not asking you to implement anything new. I will probably submit the tomorrow morning after this build completes.

[2017-07-12 20:41] davidlange6 opened #19715 "Build CMSSW_9_2_0_pre2"

[2017-07-12 20:41] cmsbuild commented on #19715
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-12 20:45] davidlange6 commented on #19715
+1

[2017-07-12 20:46] cmsbuild commented on #19715
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-07-12 20:46] cmsbuild commented on #19715
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-12 20:47] cmsbuild commented on #19715
The build has started for slc7_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1237/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-12 20:48] cmsbuild commented on #19715
The build has started for slc6_amd64_gcc530 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1238/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-12 20:49] cmsbuild commented on #19715
The build has started for slc6_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1239/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-12 20:50] cmsbuild commented on #19715
The build has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1240/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-12 20:52] davidlange6 commented on #19715
abort

[2017-07-12 20:52] davidlange6 opened #19716 "Build CMSSW_9_3_0_pre2"

[2017-07-12 20:52] cmsbuild commented on #19715
Deleting CMSSW_9_2_0_pre2:

  -Release successfully deleted

  -cmssw tag CMSSW_9_2_0_pre2 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_2_0_pre2/slc6_amd64_gcc530. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_2_0_pre2/slc6_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_2_0_pre2/slc7_amd64_g

[2017-07-12 20:53] cmsbuild commented on #19716
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-12 20:53] davidlange6 commented on #19716
+1

[2017-07-12 20:53] #19715 closed

[2017-07-12 20:53] cmsbuild commented on #19716
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-07-12 20:53] cmsbuild commented on #19716
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc7_amd64_gcc630, slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_ppc64le_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building

[2017-07-12 20:54] cmsbuild commented on #19716
The build has started for slc6_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1242/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-12 20:54] cmsbuild commented on #19716
The build has started for slc7_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1243/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-12 20:54] cmsbuild commented on #19716
The build has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1244/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-12 20:54] cmsbuild commented on #19716
The build has started for slc6_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1241/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-12 20:54] cmsbuild commented on #19716
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc7_amd64_gcc700/1244

[2017-07-12 21:03] smuzaffar commented on #19716
@davidlange6 , please ignire slc_amd64_gcc700 build error. This architecture is not yet bootstrapped.

[2017-07-13 00:51] cmsbuild commented on #19716
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc6_amd64_gcc700/1242

[2017-07-13 01:37] cmsbuild commented on #19716
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc7_amd64_gcc630/1243
Some test

[2017-07-13 02:24] cmsbuild commented on #19716
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc7_amd64_gcc630/1243

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-07-13 07:38] cmsbuild commented on #19716
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1245/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX-dev](https://github.com/cms-sw/pkgtools/commits/V00-30-XX-dev)

[2017-07-13 07:38] cmsbuild commented on #19716
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1246/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-13 08:20] cmsbuild commented on #19716
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc6_amd64_gcc630/1241
Some test

[2017-07-13 08:23] cmsbuild commented on #19716
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1247/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-13 09:30] cmsbuild commented on #19716
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc6_amd64_gcc630/1241

Tests results:
17 17 16 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-13 09:35] smuzaffar commented on #19716
upload all

[2017-07-13 09:35] cmsbuild commented on #19716
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-13 09:35] cmsbuild commented on #19716
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-13 09:36] cmsbuild commented on #19716
The upload has started for slc7_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/813/console

[2017-07-13 09:36] cmsbuild commented on #19716
The upload has started for slc6_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/812/console

[2017-07-13 09:37] cmsbuild commented on #19716
The was an error for slc7_ppc64le_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc7_ppc64le_gcc700/1245

[2017-07-13 09:40] cmsbuild commented on #19716
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre2-slc7_amd64_gcc630/813
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-13 09:40] cmsbuild commented on #19716
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-13 09:43] smuzaffar commented on #19716
release-notes

[2017-07-13 09:44] cmsbuild commented on #19716
ATTENTION!!! The production architecture (slc6_amd64_gcc630) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-07-13 09:48] cmsbuild commented on #19716
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre2-slc6_amd64_gcc630/812
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-13 09:48] cmsbuild commented on #19716
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-13 09:48] cmsbuild commented on #19716
Generating release notes since CMSSW_9_3_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-13 09:49] cmsbuild commented on #19716
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_3_0_pre2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_0_pre2

Cheers,
cms-bot

You can also click <a href="mailt

[2017-07-13 10:01] cmsbuild commented on #19716
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre2

[2017-07-13 13:56] cmsbuild commented on #19716
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc7_aarch64_gcc700/1246
Some

[2017-07-13 13:56] cmsbuild commented on #19716
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-07-13 13:57] cmsbuild commented on #19716
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/814/console

[2017-07-13 14:01] cmsbuild commented on #19716
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre2-slc7_aarch64_gcc700/814
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-13 14:19] cmsbuild commented on #19716
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc6_amd64_gcc700/1247
Some test

[2017-07-13 14:20] cmsbuild commented on #19716
Queing Jenkins upload for slc6_amd64_gcc700

[2017-07-13 14:20] cmsbuild commented on #19716
The upload has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/815/console

[2017-07-13 14:22] cmsbuild commented on #19716
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre2-slc6_amd64_gcc700/815
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-13 14:22] cmsbuild commented on #19716
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-13 15:32] wddgit commented on #19690
This should be resolved by PR #19729

[2017-07-13 15:38] cmsbuild commented on #19716
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc7_aarch64_gcc700/1246

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-07-13 16:28] cmsbuild commented on #19716
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre2-slc6_amd64_gcc700/1247

Tests results:
17 17 16 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-13 19:38] kpedro88 commented on #14895
Checked up on this again and noticed a few more had crept in; fixed in #19732.

@davidlange6 @smuzaffar is there some way we could create a unit test to enforce this rule? (i.e. dependence on `Configuration.StandardSequences.Eras` only allowed in the python folders of the three packages listed in https://github.com/cms-sw/cmssw/issues/14895#issuecomment-258293494, with the possibility to add other

[2017-07-13 19:46] kpedro88 commented on #17923
I no longer see these messages in IB tests (e.g. for workflow 250199.17), but for the future, the suggestion from @slava77 should probably still be followed.

[2017-07-13 19:47] davidlange6 commented on #14895
even these dependencies should get removed...that would be more productive use of time that making a unit test imo...

[2017-07-13 19:51] kpedro88 commented on #14895
I think the dependence in `Configuration/Applications` is unavoidable (cmsDriver internals). The others are due to full cmsRun configs being tracked in python folders. Do you think we should change cmsDriver so it doesn't create configs that import `Configuration.StandardSequences.Eras`?

Even then, we still need to prevent future dependencies from being introduced...

[2017-07-13 19:59] davidlange6 commented on #14895
nah - you know what era to call when cmsDriver is started..no need to do anything more than import the one you want. But, right its not implemented.

[2017-07-13 21:49] kpedro88 commented on #14895
@davidlange6 what do you think of this?
https://github.com/cms-sw/cmssw/compare/master...kpedro88:RemoveErasImport

`StandardSequences` contains `ErasList` (frequently modified) and `Eras` ("manager", depends on ErasList). `Applications` contains an instance of the manager that can be shared among the different python scripts (to avoid multiple constructions of it). When developers modify `ErasLis

[2017-07-14 08:33] davidlange6 opened #19737 "Build CMSSW_9_1_1_patch3"

[2017-07-14 08:33] cmsbuild commented on #19737
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-14 08:34] davidlange6 commented on #19737
+1

[2017-07-14 08:34] cmsbuild commented on #19737
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_1_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_1_X

[2017-07-14 08:34] cmsbuild commented on #19737
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-14 08:36] cmsbuild commented on #19737
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1250/console
CMSDIST Branch: [REL/CMSSW_9_1_1/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_1_1/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-14 08:37] cmsbuild commented on #19737
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1251/console
CMSDIST Branch: [REL/CMSSW_9_1_1/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_1_1/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-14 08:39] cmsbuild commented on #19737
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc7_amd64_gcc630/1249

[2017-07-14 09:03] cmsbuild commented on #19737
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc6_amd64_gcc630/1251
Some te

[2017-07-14 09:05] cmsbuild commented on #19737
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc7_amd64_gcc530/1248
Some te

[2017-07-14 09:06] cmsbuild commented on #19737
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc6_amd64_gcc530/1250
Some te

[2017-07-14 09:28] cmsbuild commented on #19737
There was an error when running the tests for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc7_amd64_gcc530/1248

Tests results:
grep: /build/cmsbld/auto-builds/CMSSW_9_1_1_patch3-slc7_amd64_gcc530/build/CMSSW_9_1_1_patch3-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2017-07-14 09:32] cmsbuild commented on #19737
The build has started for slc7_amd64_gcc630 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1252/console
CMSDIST Branch: [REL/CMSSW_9_1_1/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_1_1/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-14 09:57] cmsbuild commented on #19737
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc7_amd64_gcc630/1252
Some te

[2017-07-14 09:58] cmsbuild commented on #19737
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc6_amd64_gcc530/1250

Tests results:
18 18 17 15 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-14 10:04] cmsbuild commented on #19737
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc6_amd64_gcc630/1251

Tests results:
18 18 17 15 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-14 10:54] cmsbuild commented on #19737
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_1_patch3-slc7_amd64_gcc630/1252

Tests results:
18 17 16 14 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-14 12:27] davidlange6 commented on #19737
upload all

[2017-07-14 12:27] cmsbuild commented on #19737
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-14 12:27] cmsbuild commented on #19737
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-14 12:27] cmsbuild commented on #19737
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-14 12:27] cmsbuild commented on #19737
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-14 12:28] cmsbuild commented on #19737
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/817/console

[2017-07-14 12:29] cmsbuild commented on #19737
The upload has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/818/console

[2017-07-14 12:29] cmsbuild commented on #19737
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/816/console

[2017-07-14 12:29] cmsbuild commented on #19737
The upload has started for slc7_amd64_gcc630 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/819/console

[2017-07-14 12:30] cmsbuild commented on #19737
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_1_patch3-slc6_amd64_gcc630/817
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-14 12:30] cmsbuild commented on #19737
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-14 12:31] cmsbuild commented on #19737
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_1_patch3-slc7_amd64_gcc530/818
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-14 12:31] cmsbuild commented on #19737
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-14 12:31] cmsbuild commented on #19737
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_1_patch3-slc6_amd64_gcc530/816
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-14 12:31] cmsbuild commented on #19737
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-14 12:34] cmsbuild commented on #19737
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_1_patch3-slc7_amd64_gcc630/819
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-14 12:34] cmsbuild commented on #19737
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-14 12:42] davidlange6 commented on #19737
release-notes

On 14 Jul 2017, at 14:34, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since <previous-release>", in the first line of your comment.
I will generate the release notes based on the release

[2017-07-14 12:44] cmsbuild commented on #19737
Generating release notes since CMSSW_9_1_1_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-14 12:44] cmsbuild commented on #19737
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_1_1_patch3 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_1_1_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_1_1_patch3

Che

[2017-07-14 12:45] cmsbuild commented on #19737
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_1_patch3

[2017-07-14 13:36] kpedro88 commented on #14895
@davidlange6 I don't think that's general enough. In some cases, the user may want to specify an "internal use modifier", not just a top-level Era. So we need to know how to import any modifier/era.

[2017-07-14 22:07] perrozzi commented on #18174
@pmillet
- can you please remind me which releases have this feature in?
- is there any documentation for people willing to try?
- can you please report at a GEN meeting? (even next monday, although brief)
- can this be backported to CMSSW 71X to be tested with 2016 MC conditions?

[2017-07-15 07:53] cmsbuild commented on #19716
The cleanup has started for slc7_aarch64_gcc700

[2017-07-15 07:53] cmsbuild commented on #19716
The cleanup has started for slc7_ppc64le_gcc700

[2017-07-15 07:53] cmsbuild commented on #19716
The cleanup has started for slc6_amd64_gcc630

[2017-07-15 07:53] cmsbuild commented on #19716
The cleanup has started for slc6_amd64_gcc700

[2017-07-15 07:53] cmsbuild commented on #19716
The cleanup has started for slc7_amd64_gcc630

[2017-07-15 07:53] #19716 closed

[2017-07-15 07:56] cmsbuild commented on #19716
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre2-slc6_amd64_gcc700/727

[2017-07-15 07:57] cmsbuild commented on #19716
The workspace for slc7_ppc64le_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre2-slc7_ppc64le_gcc700/730

[2017-07-15 07:57] cmsbuild commented on #19716
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre2-slc7_aarch64_gcc700/728

[2017-07-15 08:06] cmsbuild commented on #19716
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre2-slc7_amd64_gcc630/729

[2017-07-15 08:07] cmsbuild commented on #19716
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre2-slc6_amd64_gcc630/726

[2017-07-16 10:53] cmsbuild commented on #19737
The cleanup has started for slc7_amd64_gcc630

[2017-07-16 10:53] cmsbuild commented on #19737
The cleanup has started for slc6_amd64_gcc530

[2017-07-16 10:53] cmsbuild commented on #19737
The cleanup has started for slc6_amd64_gcc630

[2017-07-16 10:53] cmsbuild commented on #19737
The cleanup has started for slc7_amd64_gcc530

[2017-07-16 10:53] cmsbuild commented on #19737
The cleanup has started for slc7_amd64_gcc630

[2017-07-16 10:53] #19737 closed

[2017-07-17 08:13] pmillet commented on #18174
somehow my answer did not make it till here:

currently 93X

There is no dedicated documentation for this yet. In principle it should be enough to add -m 'mpirun -n NCORES' to the MakeSherpaLibs.sh call.

So far the only thing to report would be that it is included in 93X. I could make a one slide for this if you want.

From the Sherpa side I do not see an issue with backporting it.

[2017-07-17 08:19] perrozzi commented on #18174
Hi Philipp,
thanks a lot.

I kindly ask to please backport the feature to 71X, add a line with the instructions in the Sherpa twiki and prepare a slide for today's GEN meeting.

Thanks
Luca

[2017-07-17 12:11] davidlange6 commented on #14895
@kpedro88 - its an 'era' option not a 'modifier' option - do we have a use case?

[2017-07-17 14:45] kpedro88 commented on #14895
A couple of examples (remember, so far this has been allowed by cmsDriver):
1. `run2_GEM_2017_MCTest` (recently introduced): a temporary thing, but it needs to be chained with `Run2_2017` to be used.
2. `hcalHardcodeConditions` and `hcalSkipPacker` that I introduced in #19712 - these can be chained with existing Eras to enable hardcode conditions for certain tests.
And in general, if a user/develo

[2017-07-17 15:07] dan131riley opened #19775 "segfault in RunManagerMT::terminateRun()"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_9_3_X_2017-07-16-2300/pyRelValMatrixLogs/run/250199.0_PREMIXUP15_PU25+PREMIXUP15_PU25/step1_PREMIXUP15_PU25+PREMIXUP15_PU25.log

Only seen once so far.  MixingModule input files all failed to open, so it looks like this comes while shutting down with an error condition before processing any events.

[code]

[2017-07-17 15:07] cmsbuild commented on #19775
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-17 15:57] dan131riley commented on #19775
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_9_3_X_2017-07-13-2300/pyRelValMatrixLogs/run/250199.0_PREMIXUP15_PU25+PREMIXUP15_PU25/step1_PREMIXUP15_PU25+PREMIXUP15_PU25.log

[code]

[2017-07-17 20:13] dan131riley opened #19783 "Fatal ROOT errors"
Opening an issue to document fatal ROOT '@SUB=TBranchElement::GetBasket' and '@SUB=TKey::ReadFile' errors, from approximately the last week.  Time distribution is below, full list of exception messages will be in the next message.  I don't see an obvious pattern, though there might be some weak time correlation.  I don't see any strong correlation with the FallbackFileOpenError failures that we've

[2017-07-17 20:14] cmsbuild commented on #19783
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-17 20:14] dan131riley commented on #19783
Full exception messages:

[code]

[2017-07-17 20:17] davidlange6 commented on #19783
this is for which build?

[2017-07-17 20:19] Dr15Jones commented on #19783
@davidlange6 These have been happening in CMSSW_9_0, 9_2, 9_3 for more than a week.

[2017-07-17 20:29] dan131riley commented on #19783
This includes all current IBs of 93x, 93x_devel, 92x and 91x.  It's not specific to any release series, so I'm collecting all that I can find looking for patterns.

[2017-07-17 21:26] Dr15Jones commented on #19783
This pull request should help isolate the problem
https://github.com/cms-sw/root/pull/112

[2017-07-18 07:47] pmillet commented on #18174
When trying to build openmpi in 71X the following message appears
[code]
Can we get the newer autoconf also in 71X?

[2017-07-18 07:55] smuzaffar commented on #18174
just get the latest autotools.spec from https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_9_3_X/gcc630/autotools.spec in your 71x cmsdist. Once every thing builds then make a Pull request.

[2017-07-18 08:43] davidlange6 commented on #19783
ok, i see its mostly (but not totally) in gcc700 in 93x, which is why I didn't really notice. Thanks!

[2017-07-18 11:22] davidlange6 commented on #19783
fwiw- https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1538.html
I asked John if the same error happened on each retry.

[2017-07-18 13:46] Dr15Jones commented on #19783
So all of the `Fatal Root Error: @SUB=TBranchElement::GetBasket` errors happen while using xrootd to read from EOS from CERN. The problem does not seem related to cmsRun based threading since there are some failures which occur at times when cmsRun is only using one thread (e.g. the failure with `[0] Calling InputSource::readRunAuxiliary_` in the exception call stack info).

So my first guesses th

[2017-07-18 13:49] davidlange6 commented on #19783
i can ask Tier0 about xrootd server changes..

[2017-07-18 14:04] Dr15Jones commented on #19783
I see the following in the CMSSW_7_6_X build today
[code]

[2017-07-18 14:04] dan131riley commented on #19783
Since all of the data files are read from copies in /store/user/cmsbuild, I think that's pretty much forced--there won't be any replicas offsite for those LFNs (doesn't matter if the original /store/data or /store/relval LFNs are replicated).

Distribution of ROOT branch being read looks odd to me--I would expect RunAuxiliary and LuminosityBlockAuxiliary to be relatively infrequently accessed, yet

[2017-07-18 14:08] Dr15Jones commented on #19783
Another way to look at the distribution
- 9 before beginRun
- 5 before begin luminosity block
- 2 just before processing an event
- 26 during a delayed read while processing the event

[2017-07-18 14:15] davidlange6 commented on #19783
i realize there should have been an EOS upgrade this month for the long ago reported GSI authentication problems.

[2017-07-18 14:16] Dr15Jones commented on #19783
Looking at the code for the failure `TKey::ReadFile`, that message happens in this code
[code]
A similar `TFile::ReadBuffer` call in `TBasket::ReadBasketBuffers` may be the origin of the error seen in `TBranchElement::GetBasket`.

[2017-07-18 14:21] dan131riley commented on #19783
Probably most of the the "before beginRun" are at the beginning of the job, like

[code]

Before begin lumi is likely also at the beginning, but presumably after beginRun.  There's also a bunch of accesses that happen on file open--getting the MetaData tree, the file format version, file ID, branch indices, etc.--but we don't see those failing.

[2017-07-18 14:25] Dr15Jones commented on #19783
Here is the code for `TTree::ReadFile`
https://root.cern.ch/doc/v610/src_2TFile_8cxx_source.html#l01606

If the function returns `kTrue` then it had a problem. There appears to be two paths through the code that return `kTrue` but do not print an additional Error

1. If `IsOpen()` returns false
1. If `ReadBufferViaCache` returns 2

[2017-07-18 14:28] Dr15Jones commented on #19783
The meta data doesn`t use a TTreeCache system. Wonder if that is an important difference.

[2017-07-18 15:15] bbockelm commented on #19783
Note - `XrdFile` always throws an EDM exception when there's a XRootD client problem.  Hence, there'd be more information in the exception that was rethrown.

I would guess we are looking somewhere inside ROOT.

[2017-07-18 15:18] Dr15Jones commented on #19783
@bbockelm we see failures in CMSSW_7_6 all the way to 9_3. The start of this problem can't be from a change to ROOT (although what ever change was made could be tickling a long existing ROOT problem).

[2017-07-18 15:20] bbockelm commented on #19783
Sorry - didn't mean to imply that it was a ROOT change that caused the problem.

I'm saying the error occurred somewhere inside ROOT.  Given that Xrootd has no integrity checking, I'd be curious about corrupted headers or data... i.e., the read was marked successful but the buffers contained unusable data.

[2017-07-18 15:40] bbockelm commented on #19783
Note that CMSSW registers `TStorageFactoryFile` to handle xrootd; it overrides `TFile::ReadBuffer` with `TStorageFactoryFile::ReadBuffer` here: https://github.com/cms-sw/cmssw/blob/master/IOPool/TFileAdaptor/src/TStorageFactoryFile.cc#L243

That should either call `Error`, throw an exception, or fail if the call to `TFile::ReadBufferViaCache` failed.

[2017-07-18 15:50] Dr15Jones commented on #19783
So from that code, we would not get additional messages about a failure if
- `ReadBufferViaCache(async ? 0 : buf, len);` returns 2, or
- `storage_->xread(buf, len)` returns 0 (although Brian believes that should cause an exception)

[2017-07-18 15:52] Dr15Jones commented on #19783
@smuzaffar does Kibana have failures for older IBs? The question is did these failures start just after July 3rd?

[2017-07-18 16:09] dan131riley commented on #19783
ReadBufferViaCache() calls TFileCacheRead::ReadBuffer(), which mostly just does recursive calls to ReadBuffer() and ReadBuffers() of the underlying TFile*.  I don't see any integrity checks there, all of that seems to be below the level that knows anything about the file structure, so I'm having a hard time identifying any path that gives an error without raising an XRdCl error.

[2017-07-18 16:13] bbockelm commented on #19783
Yeah - I was looking at the integrity check paths:
- Quite a few for the contents of the header of the compressed buffer.  These seem to result in an error message.
- A corrupted streamer could cause the basket to become a zombie, but this seems to result in an error message.

So, I'm not seeing how they could result in a failure returning to `ReadBasketBuffers` but not raise a root exception from

[2017-07-18 16:51] dan131riley commented on #19783
@Dr15Jones there was a flurry of similar errors around June 22, you sent around an email

"Hi everyone,
	Starting on CMSSW_9_2_X_2017-06-22-2300 we seem to be getting a handful of file read errors all doing
		Fatal Root Error: @SUB=TBranchElement::GetBasket

Was there a change to ROOT recently?"

Those errors seemed to go away after a couple of days before reappearing a week or two later.

[2017-07-18 16:53] slava77 opened #19799 "LogWarnings in photonID 2016 V2 (as if ID is not POG approved)"
these are present since 930pre1
and are related to #18645

[code]

@ikrav @jainshilpi @rafaellopesdesa

[2017-07-18 16:53] cmsbuild commented on #19799
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-18 16:54] slava77 commented on #19799
assign reconstruction

[2017-07-18 16:54] cmsbuild commented on #19799
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-18 16:57] slava77 opened #19800 "LogWarnings in SiPixelFrameConverter: SiPixelRawToDigi:siPixelDigis"
The following warnings now appear in every event in 2017 data, for data collected starting from late July 5.
https://hypernews.cern.ch/HyperNews/CMS/get/pixelOfflineSW/1311/1/1.html

[code]

@veszpv @boudoul if there is a TRACK JIRA ticket, please let me know so that a link can be added

[2017-07-18 16:57] slava77 commented on #19800
assign reconstruction

[2017-07-18 16:57] cmsbuild commented on #19800
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-18 16:57] cmsbuild commented on #19800
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-18 17:06] slava77 opened #19801 "LogWarnings from PFClusterEMEnergyCorrector: Flag 5 is not recognized"
this warning is showing up after #19307 was integrated

e.g. in CMSSW_9_3_0_pre2 in workflow 136.780 in step3

[code]

the frequency varies and probably depends on the occupancies per event:
- the 136.78 has about 20% of events with at least one warning
- 299042 has it a few times per event

@rafaellopesdesa @jainshilpi @emanueledimarco @argiro
if flag=5 is a normal flag and it is known how to tre

[2017-07-18 17:06] cmsbuild commented on #19801
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-18 17:06] slava77 commented on #19801
assign reconstruction

[2017-07-18 17:06] cmsbuild commented on #19801
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-18 17:13] slava77 opened #19802 "LogError in HLTPrescaleProvider used by PATTriggerProducer:patTrigger: Error in determining L1T prescale"
this can be seen in workflow 136.78 step3:

[code]

@Martin-Grunewald @fwyzard @gpetruc @arizzi

[2017-07-18 17:13] slava77 commented on #19802
assign hlt,reconstruction

[2017-07-18 17:13] cmsbuild commented on #19802
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-18 17:13] cmsbuild commented on #19802
New categories assigned: hlt,reconstruction

@Martin-Grunewald,@slava77,@perrotta,@silviodonato,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-18 17:18] slava77 opened #19803 "LogError at higher PU: TooManyClusters: PhotonConversionTrajectorySeedProducerFromSingleLeg:photonConvTrajSeedFromSingleLeg"
[code]
This is visible in almost every event, apparently for somewhat large PU (>30),
e.g. in JetHT in run 299042 LS 41-42 which has PU of around 40.

@makortel @VinInn @rovere @rafaellopesdesa @Sam-Harper @jainshilpi

Please check and perhaps adjust the limits.

[2017-07-18 17:18] slava77 commented on #19803
assign reconstruction

[2017-07-18 17:18] cmsbuild commented on #19803
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-18 17:18] cmsbuild commented on #19803
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-18 17:34] slava77 opened #19805 "LogWarning OutOfBounds: in TrackProducer or TrackRefitter"
[code]
in this case I was looking at reco processing of
/store/data/Run2017B/JetHT/RAW/v1/000/299/042/00000/1046825C-D368-E711-A36B-02163E011DF9.root
Here it appears in about 10% of the events.

From the logs of past tests I see that it appears also since at least 80X, e.g. in CMSSW_8_0_28 wf 136.771.

If the warning is not essential, perhaps it's time to demote to LogInfo?

@makortel @rovere @Vin

[2017-07-18 17:34] cmsbuild commented on #19805
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-18 17:34] slava77 commented on #19805
assign reconstruction

[2017-07-18 17:35] cmsbuild commented on #19805
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-18 17:38] VinInn commented on #19805
I think you have to enquire with DPG
https://cmssdt.cern.ch/lxr/source/DataFormats/TrackerRecHit2D/interface/SiPixelRecHitQuality.h#0084

[2017-07-18 18:04] slava77 commented on #19805
@veszpv @boudoul please take not of this LogWarning
Thank you.

[2017-07-19 06:37] Martin-Grunewald commented on #19802
Hi - indeed I see this, eg, in 93X.

These messages are limited to at most 5 per instance of the HLTPrescaleProvider.

One of the two paths, namely HLT_ZeroBias_LastCollisionInTrain, is fixed with the new HLT menu integrated in 93X yesterday, which avoids two HLTL1T seed modules in the path.

I need to check why this construst was used by the remaining trigger HLT_ZeroBias_FirstCollisionInTrain.

[2017-07-19 09:35] ikrav commented on #19799
Hi Slava,

   I have created a 930pre1 test area, ran a standard test with the “offending” photon IDs,
and have not observed the issue.

However, I suspect I know what this issue is about. There is a check of the MD5 sum of all
IDs in the VID framework. The check goes wrong under certain circumstances, as if MD5 sum
itself is computed differently when the code is run on different machines. It was

[2017-07-19 10:29] smuzaffar commented on #19783
@Dr15Jones , from kibana I see that the first occurrence of this type of error happened on 6th June
[code]

[2017-07-19 10:41] jainshilpi commented on #19801
@slava77 I am looking into it. Will update.

[2017-07-19 11:08] ikrav commented on #19799
Is there a simple way to reproduce this problem? Because it seems
that Lindsey’s silencing this issue, implemented in

https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/SelectorUtils/interface/VersionedIdProducer.h#L102-L110

and with the setting from the ID

https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/PhotonIdentification/python/Identification/cutBasedPhotonID_Spring16_V2p2_cff.

[2017-07-19 11:11] davidlange6 commented on #19799
runTheMatrix.py -l 10024

and look at the step3 log file.

[2017-07-19 12:34] dan131riley commented on #19775
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_9_3_X_2017-07-17-2300/pyRelValMatrixLogs/run/250199.0_PREMIXUP15_PU25+PREMIXUP15_PU25/step1_PREMIXUP15_PU25+PREMIXUP15_PU25.log

Three times, so it must be true.

[code]

[2017-07-19 12:42] dan131riley commented on #19783
From

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_9_3_X_2017-07-18-1100/pyRelValMatrixLogs/run/13992501.0_ZMM_13_HS+ZMM_13_HSINPUT+DIGIUP15_PU25HS+RECOUP15_PU25HS+HARVESTUP15_PU25/step2_ZMM_13_HS+ZMM_13_HSINPUT+DIGIUP15_PU25HS+RECOUP15_PU25HS+HARVESTUP15_PU25.log

we have `badread=3`; I'm assuming that means https://github.com/cms-sw/root/pull/112 has been incorporated, so

[2017-07-19 12:50] ikrav commented on #19799
Thanks David, I can reproduce the problem now.
Ilya

[2017-07-19 12:55] dan131riley commented on #19783
We get both 'badread' cases 2 and 3, 2 at the run/lumi boundaries reading the aux records, 3 reading event data.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_9_3_X_2017-07-18-2300/pyRelValMatrixLogs/run/1003.0_RunMinBias2012A+RunMinBias2012A+RECODDQM+HARVESTDDQM/step2_RunMinBias2012A+RunMinBias2012A+RECODDQM+HARVESTDDQM.log

'badread=2'

[code]

https://cmssdt.cern.ch/SDT/

[2017-07-19 14:00] Dr15Jones commented on #19783
@pcanal One thing to note, the return value is not `Int_t`, it is `Bool_t`

https://github.com/Dr15Jones/root/blob/e10fb0cdfaee3f7e386f243a3c93926f594ccf18/tree/tree/src/TBasket.cxx#L498

The auto conversion will do the right thing, but it did confuse me for a bit.

[2017-07-19 14:09] Dr15Jones commented on #19783
@dan131riley So the event data reads with the `error 3` are probably when the TTreeCache has moved forward to events later in the file but then a slower event requests data earlier in the file.

[2017-07-19 14:12] Dr15Jones commented on #19783
Hopefully #19809 will give us a better indication of the failure once today's 1100 build gets further along.

[2017-07-19 15:57] slava77 opened #19828 "logErrorHarvester should be moved to the end of the execution (endPath)"
Output of the logErrorHarvester should correspond to the total of messages produced per event.
I find in my test based on workflow 136.78 that the logErrorHarvester is running 56th in the order out of 1.8K modules total in the event.

The net effect is that MessageLogger and also the error stream skims are not capturing the warnings/errors for the full event.
I see that the total is fairly complet

[2017-07-19 15:57] slava77 commented on #19828
assign reconstruction,core

[2017-07-19 15:57] cmsbuild commented on #19828
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-07-19 15:58] cmsbuild commented on #19828
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-19 16:15] ikrav commented on #19799
I have made some progress in understanding these warnings. Apparently, a new
place where cut-based photon ID is used has been introduced very recently (mid-June by @Sam-Harper ?)
in DQM Offline/HLT. It is here:

https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Trigger/python/HLTEGTnPMonitor_cfi.py#L777-L793
and is used from
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Trigger/pytho

[2017-07-19 16:21] slava77 commented on #19799
On 7/19/17 9:15 AM, ikrav wrote:

does this affect only this isPOGApproved parameter or do other values in
the VID PSet get reset/changed?
The latter could be a more significant problem.

[2017-07-20 03:05] bbockelm commented on #19783
Hm -

Note that one common thread in the errors is that ROOT switches from a vectored read to a "normal" read from Xrootd.

Is it possible that the Xrootd client considers a "short readv" an error (resulting in an exception) but "short read" is OK?

[2017-07-20 03:34] bbockelm commented on #19783
It's probably not the underlying issue here but --

Note that ROOT has `TFile::ReadBuffer` fail if `N` bytes were requested by `<N` are filled into the buffer.  However, CMS's `TStorageFactoryFile::ReadBuffer` will succeed if `N` bytes were requested but `<N` are filled.  That would cause the buffer to contain uninitialized bytes.

I'm not sure that can be leveraged into the error we are seeing (u

[2017-07-20 09:26] ikrav commented on #19799
I have called the dump() on the ParameterSet that defines all cut types and
cut values from the VersionedIdProducer.h constructor, and then have done
a diff, and there is no difference between the two instances except for the
isPOGApproved field.

Ilya

[2017-07-20 12:27] Dr15Jones commented on #19799
How is the ParameterSet obtained? Is it the one passed into the module's constructor or is it pulled directly from the ParameterSetRegistry?

[2017-07-20 13:12] ikrav commented on #19799
Let me try to answer this to the best of my understanding.

The warnings about not-POG-approved state come from the constructor
of the VersionedIdProducer. The list of parameter sets for the IDs is pulled
out of the parameter set that is passed into the constructor:

https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/SelectorUtils/interface/VersionedIdProducer.h#L61
(the warning is printed f

[2017-07-20 13:18] Sam-Harper commented on #19799
Hey everybody. A current trigger crisis (whats new?) is preventing me from really commenting.

Its a completely separate sequence I put i because I needed VID on AOD objects, not miniAOD objects.  And I must have screwed it up somehow. Sorry about that that.

One is running on miniAOD input, one is running on AOD input. I admit, it could be better. Not sure why the switch wasnt flipped.

Unfortuna

[2017-07-20 14:06] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_9_3_X_2017-07-19-2300/pyRelValMatrixLogs/run/45.0_ZpTT_1500_8TeV+ZpTT_1500_8TeVINPUT+DIGI+RECO+HARVEST/step3_ZpTT_1500_8TeV+ZpTT_1500_8TeVINPUT+DIGI+RECO+HARVEST.log

Superficially looks like the previous crashes, so maybe still a race condition somewhere that's harder to hit?

[code]

[2017-07-20 19:46] Sam-Harper commented on #19799
So HLT crisis over. I had a look. Oh fun.

The problem is that VID deletes the parameter from the pset of the ID during setup.
As Slava is no doubt painfully aware my python skills are weak but to me it's the same PSet we pass in twice (as in the same one, a reference not a copy).
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/SelectorUtils/python/tools/vid_id_tools.py#L18-L20

I have tw

[2017-07-20 20:26] lgray commented on #19799
Just read through all of this.

OK probably the easiest thing to do is just allow exactly one untracked
parameter (the approved flag).
Then no deleting is required and it doesn't change any MD5 sums.

Best,
-Lindsey

On Thu, Jul 20, 2017 at 2:46 PM, Sam-Harper <notifications@github.com>
wrote:

[2017-07-20 20:31] Sam-Harper commented on #19799
Thanks Lindsey. Btw Ilya asked me privately, why dont we just make the pog approved tracked? Given the hacks (no judgement, we've all been there, there are times for elegance and there are times for getting it working now), I assumed that there a deep reason why not to.

[2017-07-20 20:32] Sam-Harper commented on #19799
Also there main reason I tagged you, is there any deep conceptual reason why two copies of VID running over the same ID would be bad? I assume not but just want to be sure.

[2017-07-20 20:34] lgray commented on #19799
no, not really any reason it should be bad. It was just thought of for
analysis, where that use didn't make any sense.

switching it to tracked or untracked would cause you to need to recalculate
the md5s every time you changed it, kind of annoying.

-L

On Thu, Jul 20, 2017 at 3:32 PM, Sam-Harper <notifications@github.com>
wrote:

[2017-07-20 20:48] Sam-Harper commented on #19799
Fair enough. Thanks for the clarification. And yes, thats a good reason why it was untracked, knew there had to be one :)

[2017-07-21 06:27] Martin-Grunewald commented on #19802
The remaining trigger is fixed and will become available with HLT menu V2.1.

[2017-07-21 12:57] davidlange6 opened #19856 "Build CMSSW_9_2_7"

[2017-07-21 12:57] davidlange6 commented on #19856
+1

[2017-07-21 12:57] cmsbuild commented on #19856
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-21 12:58] cmsbuild commented on #19856
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-07-21 12:58] cmsbuild commented on #19856
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-21 13:04] cmsbuild commented on #19856
The build has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1253/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-21 13:11] cmsbuild commented on #19856
The build has started for slc7_amd64_gcc630 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1254/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-21 13:25] cmsbuild commented on #19856
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1255/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-21 14:06] cmsbuild commented on #19856
The build has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1256/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-21 14:08] Dr15Jones commented on #19783
We finally had another FileReadError in CMSSW_9_3

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_aarch64_gcc700/CMSSW_9_3_X_2017-07-21-1100/pyRelValMatrixLogs/run/140.53_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI/step2_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI.log

[code]

This did NOT trigger any of the new ROOT Error messages that I added! So the failure went down an unexpected call path.

[2017-07-21 14:30] Dr15Jones commented on #19783
I think the only call path that can still produce the Error message from `TBranchElement::GetBasket` without first triggering another Error message is if `TFileCacheRead::ReadBufferExtNormal` calls `ReadBuffers` on our `TStorageFactoryFile`.

With that in mind, I'll add Error messages into that code as well.

[2017-07-21 15:54] cmsbuild commented on #19856
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7-slc6_amd64_gcc630/1256
Some tests ( r

[2017-07-21 16:02] cmsbuild commented on #19856
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7-slc7_amd64_gcc630/1254
Some tests ( r

[2017-07-21 16:34] cmsbuild commented on #19856
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7-slc6_amd64_gcc630/1256

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-21 16:53] cmsbuild commented on #19856
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7-slc7_amd64_gcc630/1254

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-21 17:36] cmsbuild commented on #19856
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7-slc6_amd64_gcc530/1255
Some tests ( r

[2017-07-21 17:44] cmsbuild commented on #19856
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7-slc7_amd64_gcc530/1253
Some tests ( r

[2017-07-21 18:23] dan131riley commented on #19638
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_9_3_X_2017-07-21-1100/pyRelValMatrixLogs/run/136.78_RunHLTPhy2017B+RunHLTPhy2017B+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017/step3_RunHLTPhy2017B+RunHLTPhy2017B+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017.log

another one, with

[code]

in common with the previous one...time to run some valgrind

[code]

[2017-07-21 18:26] cmsbuild commented on #19856
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7-slc6_amd64_gcc530/1255

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-21 18:32] cmsbuild commented on #19856
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7-slc7_amd64_gcc530/1253

Tests results:
16 15 14 12 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-07-21 19:35] davidlange6 commented on #19856
upload all

[2017-07-21 19:35] cmsbuild commented on #19856
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-21 19:35] cmsbuild commented on #19856
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-21 19:35] cmsbuild commented on #19856
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-21 19:35] cmsbuild commented on #19856
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-21 19:36] cmsbuild commented on #19856
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/820/console

[2017-07-21 19:36] cmsbuild commented on #19856
The upload has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/821/console

[2017-07-21 19:36] cmsbuild commented on #19856
The upload has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/822/console

[2017-07-21 19:36] cmsbuild commented on #19856
The upload has started for slc7_amd64_gcc630 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/823/console

[2017-07-21 19:38] cmsbuild commented on #19856
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_7-slc6_amd64_gcc630/821
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-21 19:38] cmsbuild commented on #19856
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-21 19:38] cmsbuild commented on #19856
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_7-slc7_amd64_gcc530/822
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-21 19:38] cmsbuild commented on #19856
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-21 19:39] cmsbuild commented on #19856
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_7-slc6_amd64_gcc530/820
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-21 19:39] cmsbuild commented on #19856
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-21 19:39] cmsbuild commented on #19856
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_7-slc7_amd64_gcc630/823
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-21 19:39] cmsbuild commented on #19856
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-21 19:43] davidlange6 commented on #19856
release notes

[2017-07-21 19:48] davidlange6 commented on #19856
release-notes

[2017-07-21 19:48] cmsbuild commented on #19856
Generating release notes since CMSSW_9_2_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-07-21 19:48] cmsbuild commented on #19856
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_7 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_7

Cheers,
cms-bot

You can also

[2017-07-21 19:52] cmsbuild commented on #19856
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_7

[2017-07-22 16:20] dan131riley commented on #19638
Looking at the stack traces I realized that this is the return of #14897 from a year ago...

[2017-07-23 15:15] dan131riley commented on #19638
Poking further, both of these are for the slc6_amd64_gcc700 architecture, which is using jemalloc 5.0.1.  Per https://github.com/jemalloc/jemalloc/issues/369 jemalloc 5 does not support valgrind.  Attempting valgrind memcheck or helgrind gives the error message

[code]

valgrind on an architecture with jemalloc 4.5.0 doesn't find any relevant problems (it does find lots else to complain about, tho

[2017-07-23 17:53] cmsbuild commented on #19856
The cleanup has started for slc6_amd64_gcc630

[2017-07-23 17:53] cmsbuild commented on #19856
The cleanup has started for slc7_amd64_gcc530

[2017-07-23 17:53] cmsbuild commented on #19856
The cleanup has started for slc7_amd64_gcc630

[2017-07-23 17:53] #19856 closed

[2017-07-23 17:54] cmsbuild commented on #19856
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_7-slc6_amd64_gcc530/731

[2017-07-23 17:55] cmsbuild commented on #19856
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_7-slc6_amd64_gcc630/732

[2017-07-23 18:00] cmsbuild commented on #19856
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_7-slc7_amd64_gcc630/734

[2017-07-23 18:18] cmsbuild commented on #19856
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_7-slc7_amd64_gcc530/733

[2017-07-24 13:41] fwyzard opened #19879 "close the CMSSW_9_2_3_patchX branch"
Hi,
to avoid confusing the developers, would it make sense to close the CMSSW_9_2_3_patchX branch ?
Is it even possible ?

.A

[2017-07-24 13:41] cmsbuild commented on #19879
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-24 13:48] davidlange6 commented on #19879
its as closed as we can make it aside from a) deleting the branch or b) automating some nasty note when a PR is made. @smuzaffar do we lose any history by deleting the branch?

[2017-07-24 13:58] smuzaffar commented on #19879
@davidlange6 , I see that both https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_3_patchX branch and https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_3_patch2 tag use the same commit so deleting this branch should not lose any history

[2017-07-24 14:51] kpedro88 commented on #14105
Apparently [edmPythonConfigToCppValidation](https://github.com/cms-sw/cmssw/blob/master/FWCore/ParameterSet/scripts/edmPythonConfigToCppValidation) exists and I never knew about.

So this can be closed, but #18425 should be addressed at some point.

[2017-07-24 14:51] #14105 closed

[2017-07-24 15:04] kpedro88 commented on #18425
@Dr15Jones could we just change this line?
https://github.com/cms-sw/cmssw/blob/3b3a9c06012a7e8edae545f64feb85061d66fab6/FWCore/ParameterSet/scripts/edmPythonConfigToCppValidation#L246
to
[code]

[2017-07-24 15:12] Dr15Jones commented on #18425
You can go ahead and make the pull request.

[2017-07-24 16:26] kpedro88 commented on #18425
see #19885

[2017-07-24 20:00] kpedro88 commented on #14895
@davidlange6 further thoughts on this?

[2017-07-25 11:34] Dr15Jones commented on #19783
We final had a failure. This time it was during a test of a pull request:
[code]

[2017-07-25 11:35] Dr15Jones commented on #19783
@bbockelm so it looks like we are getting `Storage::xread` returning 0 without another message or exception.

[2017-07-25 13:10] bbockelm commented on #19783
Hm.  I have no clue how to distinguish that from a valid response, other than a blind retry.

The ROOT layer (`TFileAdaptor`) should never return a short read -- but it is OK at the `Storage::xread` level.  We can implement a blind retry in the `TFileAdaptor`, but I can't convince myself why that's not just a horrible hack.

I suppose we can ask CERN IT whether this is a known issue with EOS?

[2017-07-25 13:28] Dr15Jones commented on #19783
Looking at the implementation of IOInput::xread
https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/Utilities/StorageFactory/src/IOInput.cc#L191

Then at TStorageFactoryFile::ReadBuffer,
https://github.com/cms-sw/cmssw/blob/a8675ca7bcc63e2475634ea80ca94c97f2c8ed30/IOPool/TFileAdaptor/src/TStorageFactoryFile.cc#L308

 isn't the real error condition  if `n < len`?

[2017-07-25 13:49] Dr15Jones commented on #19783
I believe that the `read` call done in `xread` eventually gets to
https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/Utilities/StorageFactory/src/UnixIOChannel.cc#L10

which if the read had a problem, we would get an exception.

Looking at
http://pubs.opengroup.org/onlinepubs/009695399/functions/read.html

`::read` can return 0 if one is asked to read past the end of the

[2017-07-25 14:03] bbockelm commented on #19783
Hm - indeed https://github.com/cms-sw/cmssw/blob/a8675ca7bcc63e2475634ea80ca94c97f2c8ed30/IOPool/TFileAdaptor/src/TStorageFactoryFile.cc#L308 should check for `n < len`, not `n == 0`.  Now, this should never make a difference for ROOT files as the file format should never request something past the end of the file...  but it won't hurt to fix this.

[2017-07-25 14:05] bbockelm commented on #19783
Since the metadata of the ROOT file format lives at the end of the file, any file-truncation issues should hit way before this point.

That's why I have a sneaky suspicion about a Xrootd server issue - the fact we're getting to this point in the code should indicate that the file is complete.

[2017-07-25 14:33] Dr15Jones commented on #19783
I've added more information to the Error message: https://github.com/cms-sw/cmssw/pull/19897

[2017-07-25 14:49] Dr15Jones commented on #19783
I had forgotten we were going through the xrootd adaptor. Therefore the `xread` ultimately calls
https://github.com/cms-sw/cmssw/blob/master/Utilities/XrdAdaptor/src/XrdFile.cc#L235

which ultimately gets to
https://github.com/cms-sw/cmssw/blob/master/Utilities/XrdAdaptor/src/XrdRequestManager.cc#L565

and eventually ends up here
https://github.com/cms-sw/cmssw/blob/master/Utilities/XrdAdaptor/src

[2017-07-25 15:05] dan131riley commented on #19783
Could there be situations where EOS returns an zero-length read response?

[2017-07-25 15:11] slava77 commented on #19803
@makortel @VinInn @rovere @rafaellopesdesa @Sam-Harper @jainshilpi
please let me know if some activity is ongoing to address this issue.

Thank you.

[2017-07-25 15:46] Sam-Harper commented on #19803
@slava77  https://indico.cern.ch/event/616443/contributions/2669482/attachments/1496849/2329371/egammaCurrentIssues.pdf

Its noted as an E/gamma issue to be fixed (and thank you for bringing it to our attention) however we do not have active effort on this yet.

[2017-07-25 16:06] slava77 commented on #19803
On 7/25/17 8:56 AM, Sam-Harper wrote:

Thank you for taking note of this.
I'll keep pinging occasionally.

[2017-07-25 16:14] fwyzard commented on #19395
@Dr15Jones, @dmitrijus, can you (both) confirm that you would rather use `edm::one` modules with no mutex/locks in the `MonitorElement` class, than `edm::stream` modules and a mutex/lock around `MonitorElement::fill` ?

@Dr15Jones, if one uses an `edm::one` module, does the framework guarantees that it will never see intermixed events from different lumisections or runs ?

[2017-07-25 16:19] fwyzard commented on #19395
Ah, I should have read [FWMultithreadedFrameworkOneModuleInterface](https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultithreadedFrameworkOneModuleInterface) before asking...

So, can you confirm that you would rather have the DQM analyzer modules inherit from `edm::one::EDAnalyzer<edm::one::WatchRuns, edm::one::WatchLuminosityBlocks>` (thus forcing the whole jobs to analyse a single run and lumi

[2017-07-25 17:00] bbockelm commented on #19783
Yeah - that's basically my suspicion.  That's why I'm curious if a "blind retry" works or not.

However, to log the server response would be really too much data.  Maybe issue it as a warning?

[2017-07-25 20:02] Dr15Jones commented on #19395
Given that the DQM modules all reside on the same EndPath and modules in a path must be processed in the order they are on the path, making the DQM modules `one` modules would lead to much more stalls across streams then a `mutex`.
However, changing the DQM system to return the same histogram to all stream instances may take a significant amount of re-engineering.

[2017-07-25 21:30] fwyzard commented on #19395
This may be off topic but, if the `one` modules do not have any dependency on each other, is there no way to schedule them to run in parallel ?

[2017-07-26 06:55] VinInn commented on #19395
why? I schedule them as any other analyzer...  (adn I am not the only one)

WHY? modules are independent, they are connected only by consume and produce. Analyzer can be run in any order.

I think we need a valid long term solution: I do not see any role of streams for DQM modules: please should move to Global and learn how to deal with parallel programming.
The CMSSW migration has been very suces

[2017-07-26 07:30] fwyzard commented on #19395
Hi,
moving the DQM part of the `DQMEDAnalyzer`s to `edm::global` would not be all that complicated:
  - we would need to book and keep around one histogram per concurrent run (and lumisection, for lumi-based plots), e.g. via the `edm::RunSummaryCache<T>` (and `edm::LuminosityBlockCache<T>`) mechanism
  - all calls to `Fill()` etc. would need to change from `myME_->Fill(...)` to `runCache()->myMe_-

[2017-07-26 07:52] VinInn commented on #19395
is there any real cost is lock unlock?
as anybody measured it?
btw for an example have a look to
https://github.com/VinInn/cmssw/blob/90d013fbf403f1ff25bd6c4ea8f582a6dbd7c4e3/RecoPixelVertexing/PixelLowPtUtilities/bin/PixelClusterShapeExtractor.cc#L220
we can always implement a faster in-line lock using atomics,spinner,std::yield etc to avoid a system call

--
Il est bon de suivre sa pente, pourvu

[2017-07-26 08:04] fwyzard commented on #19395
On my laptop, running with a single thread
  - locking with a mutex takes 17 ns
  - locking with a spinlock on an atomic_flag takes 7 ns, but scales worse if there is contention

[2017-07-26 08:09] VinInn commented on #19395
you need to give yield after some few 100K iterations...
see OMP implementation
for instance in this long thread
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=43706

v.

--
Il est bon de suivre sa pente, pourvu que ce soit en montant.
A.G.
http://www.flickr.com/photos/vin60/1320965757/

[2017-07-26 08:18] davidlange6 opened #19920 "Build CMSSW_9_2_7_patch1"

[2017-07-26 08:18] cmsbuild commented on #19920
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-26 08:20] davidlange6 commented on #19920
+1

[2017-07-26 08:21] cmsbuild commented on #19920
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_7_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-07-26 08:21] cmsbuild commented on #19920
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-07-26 08:23] cmsbuild commented on #19920
The build has started for slc7_amd64_gcc530 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1257/console
CMSDIST Branch: [REL/CMSSW_9_2_7/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_7/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-26 08:26] cmsbuild commented on #19920
The build has started for slc7_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1258/console
CMSDIST Branch: [REL/CMSSW_9_2_7/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_7/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-26 08:32] cmsbuild commented on #19920
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1259/console
CMSDIST Branch: [REL/CMSSW_9_2_7/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_7/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-26 08:36] cmsbuild commented on #19920
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1260/console
CMSDIST Branch: [REL/CMSSW_9_2_7/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_7/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-26 08:39] fwyzard commented on #19395
OK, I'll have to review my simple spinlock... is there any c++'14 spinlock around ?

[2017-07-26 08:54] VinInn commented on #19395
no.  it is a detail of the lock_guard....
v.

[2017-07-26 09:06] cmsbuild commented on #19920
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7_patch1-slc6_amd64_gcc530/1259
Some te

[2017-07-26 09:09] cmsbuild commented on #19920
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7_patch1-slc6_amd64_gcc630/1260
Some te

[2017-07-26 09:11] cmsbuild commented on #19920
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7_patch1-slc7_amd64_gcc630/1258
Some te

[2017-07-26 09:29] cmsbuild commented on #19920
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7_patch1-slc7_amd64_gcc530/1257
Some te

[2017-07-26 09:48] cmsbuild commented on #19920
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7_patch1-slc6_amd64_gcc530/1259

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-26 09:53] davidlange6 opened #19921 "Build CMSSW_8_0_29"
release for legacy rereco take 2

[2017-07-26 09:54] cmsbuild commented on #19921
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-07-26 09:58] davidlange6 commented on #19921
+1

[2017-07-26 09:58] cmsbuild commented on #19921
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_29. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2017-07-26 09:58] cmsbuild commented on #19921
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-07-26 09:58] cmsbuild commented on #19920
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_7_patch1-slc6_amd64_gcc630/1260

Tests results:
16 16 15 13 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-07-26 09:59] cmsbuild commented on #19921
The build has started for slc7_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1261/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-26 10:00] cmsbuild commented on #19921
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1262/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-07-26 10:02] davidlange6 commented on #19920
upload all

[2017-07-26 10:03] cmsbuild commented on #19920
Queing Jenkins upload for slc6_amd64_gcc530

[2017-07-26 10:03] cmsbuild commented on #19920
Queing Jenkins upload for slc6_amd64_gcc630

[2017-07-26 10:03] cmsbuild commented on #19920
Queing Jenkins upload for slc7_amd64_gcc530

[2017-07-26 10:03] cmsbuild commented on #19920
Queing Jenkins upload for slc7_amd64_gcc630

[2017-07-26 10:04] cmsbuild commented on #19920
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/824/console

[2017-07-26 10:04] cmsbuild commented on #19920
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/825/console

[2017-07-26 10:04] cmsbuild commented on #19920
The upload has started for slc7_amd64_gcc530 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/826/console

[2017-07-26 10:04] cmsbuild commented on #19920
The upload has started for slc7_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/827/console

[2017-07-26 10:06] cmsbuild commented on #19920
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_7_patch1-slc6_amd64_gcc530/824
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-26 10:06] cmsbuild commented on #19920
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-07-26 10:08] cmsbuild commented on #19920
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_7_patch1-slc7_amd64_gcc530/826
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-07-26 10:08] cmsbuild commented on #19920
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms