[2017-11-16 15:12] emeschi commented on #21141
@smorovic can you look at FastMonitoringService ? Please indicate the points affected but you don't necessarily have to do the mods yourself...

[2017-11-16 15:24] slava77 commented on #21267
+1

the crash reported in the issue description is fixed based on #21268, which has been merged in 100X

[2017-11-16 15:26] lgray commented on #20621
I'll make some time. Today and tomorrow are a bit spoken for, however. Will
try for the weekend.

On Nov 16, 2017 09:42, "Kevin Pedro" <notifications@github.com> wrote:

[2017-11-16 15:58] Dr15Jones commented on #21141
@slava77 EventFilter/Utilities (which holds FastMonitoringService) requires a reconstruction signature.

[2017-11-16 16:06] slava77 commented on #21141
On 11/16/17 4:58 PM, Chris Jones wrote:

OK.
This particular service is not used for reco.
The other signature for this package is daq.

[2017-11-16 17:06] smorovic commented on #21141
@emeschi, I looked at the FastMonitoringService and came up with changes. Mostly it assumes multiple lumisections already (was implemented with that in mind), but in few places we ended up not respecting this.

https://github.com/smorovic/cmssw/commit/63d72dbc5d19c05ac6824248c3c92d32c10d18c0
however needs to be tested (even compiled with the appropriate release).

Is there a working CMSSW release

[2017-11-17 07:08] cmsbuild commented on #21308
The cleanup has started for slc7_aarch64_gcc700

[2017-11-17 07:08] cmsbuild commented on #21308
The cleanup has started for slc6_amd64_gcc630

[2017-11-17 07:08] cmsbuild commented on #21308
The cleanup has started for slc6_amd64_gcc700

[2017-11-17 07:08] cmsbuild commented on #21308
The cleanup has started for slc7_amd64_gcc630

[2017-11-17 07:08] #21308 closed

[2017-11-17 07:11] cmsbuild commented on #21308
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre1-slc7_aarch64_gcc700/841

[2017-11-17 07:14] cmsbuild commented on #21308
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre1-slc6_amd64_gcc700/840

[2017-11-17 07:17] cmsbuild commented on #21308
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre1-slc6_amd64_gcc630/839

[2017-11-17 07:18] cmsbuild commented on #21308
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre1-slc7_amd64_gcc630/842

[2017-11-17 07:54] davidlt commented on #21287
While working on this I hit a related bug. Again a wrong index was used based on `GEMDetLabel`  and this time we damaged the stack.

Detailed report:
[code]

[2017-11-17 08:19] slava77 opened #21346 "reduce verbosity of skipMissingTauID"
LogWarning originally introduced in
https://github.com/cms-sw/cmssw/pull/21022/files#diff-c7c5c83df6323f1a53a05655cd079d3fR319
is generated for every tau.
It's enough to get it per module.

Can this be made a LogInfo?
The warning shows up for every tau and just pollutes the logs.
A more informative option that will still be printed is to accumulate the number of dropped IDs and print only the firs

[2017-11-17 08:20] slava77 commented on #21346
assign reconstruction

[2017-11-17 08:20] cmsbuild commented on #21346
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-17 08:20] cmsbuild commented on #21346
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-17 10:17] kpedro88 commented on #20621
Here is a branch:
https://github.com/cms-sw/cmssw/compare/master...kpedro88:TrackTimeDeterministicSeed

It turns out this module can be used twice in an event (a separate copy is made for gsf electron tracks), so I arbitrarily added the leading track chi2 into the seed calculation.

I'm running a matrix test now (wf 20034.2).

[2017-11-17 17:25] BetterWang commented on #21250
Hi @davidlt @slava77 @abdoulline and @kpedro88 , below is my findings in investigating the buffer overflow.
The workflow 1002.0 uses Run1 pp collisions data from run165121, which is really old, and I believe the ZDC readout at that time was different.
Normally, the ZDC has 18 channels (9 on each side), and 10TS for each channel.
In the run165121 data, the number of channels is range from 11 to 18,

[2017-11-17 18:04] davidlt commented on #21250
We dropped `-g` due to technical reason (IIRC size was a problem). One way or another someone needs to debug it locally and thus will need to recompile some packages with `-g`. The main purpose of ASAN, TSAN, and UBSAN IBs are to provide reports.

We use GCC, Clang currently doesn't work with sanitizers in CMSSW.

[2017-11-17 18:21] davidlt opened #21358 "heap-buffer-overflow, read of 4 bytes, HLTExoticaPlotter::analyze"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-15-1800`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `10224.0`
Step: `step3`

Note that files used are important here.

Detailed report:
[code]

The problem is here:
https://github.com/cms-sw/cmssw/blob/master/HLTriggerOffline/Exotica/src/HLTExoticaPlotter.cc#L167

`dxys` only contains one element and `j` is 1 thus out-of-bounds access.

As mentioned files are impor

[2017-11-17 18:22] cmsbuild commented on #21358
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-17 18:29] davidlt opened #21359 "SEGV on unknown address 0x000000000000, RunManagerMT"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-12-1100`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `500199.0`
Step: `step1`

Detailed report:
[code]

The problem happens here:
https://github.com/cms-sw/cmssw/blob/master/SimG4Core/Application/src/RunManagerMT.cc#L252

`m_userRunAction` pointer value is  `0xbebebebebebebebe`. Now ASan has `0xbe` as pattern for `malloc_fill_byte`: Value used to fill the newly allo

[2017-11-17 18:29] cmsbuild commented on #21359
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-19 14:22] Dr15Jones commented on #21359
assign simulation

[2017-11-19 14:22] cmsbuild commented on #21359
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-19 14:38] Dr15Jones commented on #21359
`m_userRunAction` is only set here
https://github.com/cms-sw/cmssw/blob/master/SimG4Core/Application/src/RunManagerMT.cc#L236

which is called from
https://github.com/cms-sw/cmssw/blob/master/SimG4Core/Application/src/RunManagerMT.cc#L196

Looking at the logic of the code, it is possible for an exception to happen before reading the initialization of `m_userRunAction` which means the destructor wo

[2017-11-19 15:29] davidlange6 opened #21362 "Build CMSSW_9_4_0_patch1"

[2017-11-19 15:29] cmsbuild commented on #21362
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-19 15:30] davidlange6 commented on #21362
+1

[2017-11-19 15:30] cmsbuild commented on #21362
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2017-11-19 15:30] cmsbuild commented on #21362
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-11-19 15:32] cmsbuild commented on #21362
The build has started for slc6_amd64_gcc630 in cmsbuild57.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1415/console
CMSDIST Branch: [REL/CMSSW_9_4_0/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_0/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-19 15:37] cmsbuild commented on #21362
The build has started for slc7_amd64_gcc630 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1416/console
CMSDIST Branch: [REL/CMSSW_9_4_0/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_0/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-19 16:01] cmsbuild commented on #21362
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_patch1-slc6_amd64_gcc630/1415
Some te

[2017-11-19 16:04] davidlt commented on #21359
Could you propose a pull request?

[2017-11-19 16:07] cmsbuild commented on #21362
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_patch1-slc7_amd64_gcc630/1416
Some te

[2017-11-19 17:11] cmsbuild commented on #21362
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_patch1-slc6_amd64_gcc630/1415

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-19 17:14] cmsbuild commented on #21362
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_patch1-slc7_amd64_gcc630/1416

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-19 17:15] davidlange6 commented on #21362
upload all

[2017-11-19 17:15] cmsbuild commented on #21362
Queing Jenkins upload for slc6_amd64_gcc630

[2017-11-19 17:15] cmsbuild commented on #21362
Queing Jenkins upload for slc7_amd64_gcc630

[2017-11-19 17:16] cmsbuild commented on #21362
The upload has started for slc6_amd64_gcc630 in cmsbuild57.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/942/console

[2017-11-19 17:16] cmsbuild commented on #21362
The upload has started for slc7_amd64_gcc630 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/943/console

[2017-11-19 17:16] cmsbuild commented on #21362
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_patch1-slc7_amd64_gcc630/943
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-19 17:16] cmsbuild commented on #21362
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-19 17:17] cmsbuild commented on #21362
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_patch1-slc6_amd64_gcc630/942
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-19 17:17] cmsbuild commented on #21362
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-19 17:37] civanch commented on #21359
There is one #21363

[2017-11-19 20:08] davidlange6 commented on #21362
release-notes

[2017-11-19 20:08] cmsbuild commented on #21362
Generating release notes since CMSSW_9_4_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-19 20:08] cmsbuild commented on #21362
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_0_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_0_patch1

Cheers,
cms-bot

You can also click <a href="m

[2017-11-19 20:09] Dr15Jones commented on #21358
assign dqm

[2017-11-19 20:10] cmsbuild commented on #21358
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-19 20:11] #21267 closed

[2017-11-19 20:12] cmsbuild commented on #21362
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_patch1

[2017-11-19 20:12] #21249 closed

[2017-11-19 20:18] Dr15Jones commented on #20720
Fixed by #21108

[2017-11-19 20:18] #20720 closed

[2017-11-19 20:19] Dr15Jones commented on #20720
+1

[2017-11-19 20:19] cmsbuild commented on #20720
This issue is fully signed and ready to be closed.

[2017-11-19 20:34] jfernan2 commented on #21358
please test

[2017-11-19 20:35] Dr15Jones commented on #16125
fixed in #18411

[2017-11-19 20:35] #16125 closed

[2017-11-19 20:39] Dr15Jones commented on #13084
+1

[2017-11-19 20:39] #13084 closed

[2017-11-19 20:40] cmsbuild commented on #13084
This issue is fully signed and ready to be closed.

[2017-11-19 20:47] Dr15Jones commented on #13289
available in #5165

[2017-11-19 20:47] #13289 closed

[2017-11-20 12:35] davidlt commented on #21358
@jfernan2 this is not a PR, but a bug report. "please test" will not work here.

[2017-11-20 14:33] davidlt commented on #21313
Could someone propose a pull request fixing it?

[2017-11-20 15:56] VinInn commented on #21313
The problem goes well beyond the buffer overflow: this class has not been migrated to PhaseI...
Is it used only by HI so we have time till Nov 2018...

[2017-11-20 16:50] davidlange6 opened #21393 "Build CMSSW_5_3_37"

[2017-11-20 16:50] cmsbuild commented on #21393
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-20 16:52] davidlange6 commented on #21393
+1

[2017-11-20 16:52] cmsbuild commented on #21393
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_37. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2017-11-20 16:52] cmsbuild commented on #21393
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-11-20 16:55] cmsbuild commented on #21393
The build has started for slc6_amd64_gcc472 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1417/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-11-20 19:16] cmsbuild commented on #21393
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_37-slc6_amd64_gcc472/1417
Some tests (

[2017-11-20 19:44] kpedro88 opened #21394 "Avoid NaN values in TrackTimeValueMapProducer for 0PU"
The following section of code in `TrackTimeValueMapProducer` doesn't work in 0PU, leading to NaN values:
https://github.com/cms-sw/cmssw/blob/34b0dcfa79770f62fcee24e0334c7a978f1e4b57/SimTracker/TrackAssociation/plugins/TrackTimeValueMapProducer.cc#L161-L178

A default case that uses the vertex time for 0PU should be specified.

attn: @lgray, @bendavid

[2017-11-20 19:44] kpedro88 commented on #21394
assign upgrade

[2017-11-20 19:44] cmsbuild commented on #21394
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-20 19:44] cmsbuild commented on #21394
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-20 19:45] kpedro88 commented on #21036
resolved by #21044

[2017-11-20 19:46] #20772 closed

[2017-11-20 19:47] kpedro88 commented on #19666
@sandrofonseca, @malbouis why is this not done yet?

[2017-11-20 19:47] #21036 closed

[2017-11-20 19:49] cmsbuild commented on #21393
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_37-slc6_amd64_gcc472/1417

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2017-11-20 19:54] davidlange6 commented on #21393
upload all

[2017-11-20 19:54] cmsbuild commented on #21393
Queing Jenkins upload for slc6_amd64_gcc472

[2017-11-20 19:55] cmsbuild commented on #21393
The upload has started for slc6_amd64_gcc472 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/944/console

[2017-11-20 19:56] cmsbuild commented on #21393
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_37-slc6_amd64_gcc472/944
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-20 19:56] cmsbuild commented on #21393
CERN AFS installation skipped for slc6_amd64_gcc472 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-20 23:48] davidlt commented on #21359
I can confirm that PR mentioned above resolves the issue.

[2017-11-21 07:17] #21359 closed

[2017-11-21 10:10] sandrofonseca commented on #19666
Hi Kevin,

My apologies, I had forgotten completely it.

I already opened PR for CT-PPS FastSimulation packages also you can found
in this link: https://github.com/cms-sw/cms-bot/pull/918

Best regards,
Sandro

Dr. Sandro Fonseca de Souza
__________________________________
Universidade do Estado do Rio de Janeiro - UERJ/IF/DFNAE
524 São Francisco Xavier Street,3rd Floor,Office 3016A, Maracanã, Rio

[2017-11-21 12:15] davidlange6 commented on #21393
release-notes

[2017-11-21 12:15] cmsbuild commented on #21393
Generating release notes since CMSSW_5_3_36.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-21 12:15] cmsbuild commented on #21393
You can use this template for announcing the release:

Hi all,

The production release CMSSW_5_3_37 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_36 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_37

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2017-11-21 12:17] cmsbuild commented on #21393
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_37

[2017-11-21 16:15] Dr15Jones opened #21420 "Excessive exceptions thrown in omtf::translateOmtf2Pact"
While debugging another problem with workflow 250202.0 step3, having gdb stop on exception throws causes many 10s of exceptions to be caught from:

[code]

Exceptions should be used for exceptional cases, not for control flow.

[2017-11-21 16:15] cmsbuild commented on #21420
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-21 16:19] cmsbuild commented on #21420
New categories assigned: l1

@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-21 19:08] cmsbuild commented on #21362
The cleanup has started for slc6_amd64_gcc630

[2017-11-21 19:08] cmsbuild commented on #21362
The cleanup has started for slc7_amd64_gcc630

[2017-11-21 19:08] #21362 closed

[2017-11-21 19:13] cmsbuild commented on #21362
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0_patch1-slc6_amd64_gcc630/843

[2017-11-21 22:06] Dr15Jones opened #21423 "MESetEcal broken when using ROOT 6.0.12"
ROOT 6.12 used additional bits in `TH1::fBits` which broke the assumption in `MESetEcal`

https://github.com/cms-sw/cmssw/blob/54c17f0c102be607ddab88b6a5edcd104c0a81f7/DQM/EcalCommon/src/MESetEcal.cc#L226

This code needs to be changed to not interfere with ROOT 6.12's use of `TH1::fBits`

This problem is causing the 10_0_ROOT6_X IBs to fail.

[2017-11-21 22:06] cmsbuild commented on #21423
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-21 22:07] Dr15Jones commented on #21423
assign dqm

[2017-11-21 22:07] cmsbuild commented on #21423
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-21 22:07] Dr15Jones commented on #21423
@pcanal Though you should follow this.

[2017-11-22 00:27] Dr15Jones commented on #21423
In a private email exchange, Philippe suggested

[2017-11-22 08:41] VinInn opened #21425 "silence CTPPSIncludeAlignments"
please silence CTPPSIncludeAlignments
%MSG

	first=      -inf, last=      +inf: alignment blocks=1

[2017-11-22 08:41] cmsbuild commented on #21425
A new Issue was created by  @VinInn Vincenzo Innocente.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-22 13:05] Dr15Jones commented on #21425
assign geometry

[2017-11-22 13:05] cmsbuild commented on #21425
New categories assigned: geometry

@Dr15Jones,@ianna,@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-22 13:06] slava77 commented on #21425
assign geometry

@fabferro @forthommel please take a look and pass to someone if you can not fix it.
Thank you.

[2017-11-22 13:20] fabferro commented on #21425
I'll open a PR asap aimed to CMSSW_10

[2017-11-22 15:31] fabferro commented on #21425
Please see PR#21435

[2017-11-22 16:50] forthommel commented on #21425
Many thanks for your fast reaction, @fabferro !

[2017-11-22 18:11] davidlt commented on #21358
ping

@jfernan2 @dmitrijus is anyone looking into this from DQM side?

[2017-11-22 18:12] davidlt commented on #21296
ping

Is anyone looking at this from ALCA side?

[2017-11-22 18:13] davidlt commented on #21294
ping

@ggovi is anyone looking at this from DB side?

[2017-11-22 18:14] #21287 closed

[2017-11-22 18:14] davidlt commented on #21250
Do we have updates on this?

[2017-11-22 18:15] davidlt commented on #21110
ping

This stack trace keeps showing up also in more places looking at ASAN logs. Is anyone looking into this?

[2017-11-22 18:38] BetterWang commented on #21250
Hi @davidlt , I asked around. It seems possible at the very early time of the data taking, ZDC is reading out with 6TS, and then switched to 10TS during the first heavy ion run. The ZDC group doesn't care about the data before the first heavy ion run. So, can we just put a protection and leave it?

[2017-11-22 18:42] davidlt commented on #21250
Well, that's a questions for @slava77 and @perrotta as they have to sign off the PR/

[2017-11-22 18:49] jfernan2 commented on #21358
@davidlt we are overloaded and @dmitrijus is on holiday until 28th, he will look into this once he is back. I'm sorry

[2017-11-22 18:56] davidlt commented on #21358
It's fine. Just good to know the current status.

[2017-11-22 19:27] slava77 commented on #21250
On 11/22/17 10:38 AM, Quan Wang wrote:

how strong is this statement?
Will it always stay at 10TS?

Note that HCAL is moving to flexible range.
Is it feasible to apply the same for ZDC as well?

[2017-11-22 19:38] BetterWang commented on #21250
ZDC is such a small detector with only 18 channels, plus 32 channels in the RPD upgrade.
We would like to stay at 10TS for the future.

[2017-11-22 20:06] lpernie commented on #21296
Hello @davidlt ,
I tested in CMSSW_10_0_ASAN_X_2017-11-12-1100 the conversion from xml to sqlite file, ad it works fine to me.
Could you help me to reproduce the error? What exact command has been run?

[2017-11-22 20:18] davidlt commented on #21296
Should be something like this:
[code]
The last command will run all the test within checked out package, incl. `test_MuonGeometryDBConverter`

The latest ASAN IB continues to have this report: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_ASAN_X_2017-11-19-2300/unitTestLogs/Alignment/MuonAlignment

[2017-11-22 23:13] lpernie commented on #21296
I did this test in 940 () and basically 3 commands are executed:
1) cmsRun muonGeometryDBConverter_cfg.py input=ideal output=db outputFile=ideal.db
2) cmsRun muonGeometryDBConverter_cfg.py input=db output=xml inputFile=ideal.db outputFile=ideal.xml
3) cmsRun muonGeometryDBConverter_cfg.py input=xml output=none inputFile=ideal.xml

When I reproduce these commands in CMSSW_10_0_ASAN_X_2017-11-12-110

[2017-11-23 00:08] davidlt commented on #21296
It complains about access to `matrix6x6new(i, j);` for (0, 0) element. That's invalid becomes items stats from (1, 1) in `CLHEP::HepSymMatrix`.

See: https://gitlab.cern.ch/CLHEP/CLHEP/blob/master/Matrix/Matrix/SymMatrix.h#L120

[2017-11-23 00:10] davidlt commented on #21296
While in ROOT they are starting (0, 0): https://root.cern/doc/v610/SMatrix_8h_source.html#l00369

[2017-11-23 11:23] cmsbuild commented on #21393
The cleanup has started for slc6_amd64_gcc472

[2017-11-23 11:23] #21393 closed

[2017-11-23 11:28] cmsbuild commented on #21393
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_37-slc6_amd64_gcc472/845

[2017-11-23 12:46] makortel opened #21445 "HLTExoticaValidator makes excessive copies of edm::ParameterSet"
I was profiling the memory of ttbar+PU50 (with matrix workflow 10024.0 step3) for other reasons while I noticed that `HLTExoticaValidator` constructor is holding 1.5 MB (/stream) of copies of `edm::ParameterSet`.

Problematic pieces of code are
* `HLTExoticaValidator` holding a copy of the input `ParameterSet` without any need
https://github.com/cms-sw/cmssw/blob/63e59e6fb76ddfd550cf382a88f07c605f

[2017-11-23 12:46] cmsbuild commented on #21445
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-23 15:59] makortel opened #21451 "HLTMuonOfflineAnalyzer makes excessive copies of edm::ParameterSet"
I was profiling the memory of ttbar+PU50 (with matrix workflow 10024.0 step3) for other reasons while I noticed that `HLTMuonOfflineAnalyzer::dqmBeginRun` is holding 1.3 MB (/stream) of copies of `edm::ParameterSet`.

Problematic pieces of code are
* `HLTMuonOfflineAnalyzer` holding a copy of the input edm::ParameterSet
https://github.com/cms-sw/cmssw/blob/63e59e6fb76ddfd550cf382a88f07c605f45843c/

[2017-11-23 16:06] makortel opened #21452 "HLTHiggsValidator makes excessive copies of edm::ParameterSet"
I was profiling the memory of ttbar+PU50 (with matrix workflow 10024.0 step3) for other reasons while I noticed that `HLTHiggsValidator` is holding 900 kB (/stream) of copies of edm::ParameterSet.

Problematic pieces of code are
* `HLTHiggsValidator` holding a copy of the input `ParameterSet` without any need
https://github.com/cms-sw/cmssw/blob/63e59e6fb76ddfd550cf382a88f07c605f45843c/HLTriggerOf

[2017-11-23 16:06] cmsbuild commented on #21452
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-23 16:27] davidlt commented on #21296
There is a second bug:
[code]

I have a fix for both and will make a PR shortly.

[2017-11-23 16:57] Dr15Jones commented on #21445
assign dqm

[2017-11-23 16:57] cmsbuild commented on #21445
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-23 16:59] Dr15Jones commented on #21452
assign dqm

[2017-11-23 16:59] cmsbuild commented on #21452
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-23 18:40] davidlt commented on #21296
Pull request: https://github.com/cms-sw/cmssw/pull/21453

[2017-11-24 08:47] makortel opened #21454 "EmDQM makes excessive copies of edm::ParameterSet"
I was profiling the memory of ttbar+PU50 (with matrix workflow 10024.0 step3) for other reasons while I noticed that `EmDQM` is holding 700 kB (/stream) of copies of `edm::ParameterSet`.

Problematic pieces of code
* `EmDQM` constructor holding an copy of the input `ParameterSet` (even though this is negligible effect)
https://github.com/cms-sw/cmssw/blob/56584e3ae63cbb5bd06e4f0f5bb396b5f681849f/H

[2017-11-24 08:47] cmsbuild commented on #21454
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-24 13:25] Dr15Jones commented on #21454
assign dqm

[2017-11-24 13:25] cmsbuild commented on #21454
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-24 14:50] #21425 closed

[2017-11-24 19:50] davidlange6 opened #21461 "Build CMSSW_9_3_4"

[2017-11-24 19:52] cmsbuild commented on #21461
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-24 19:52] davidlange6 commented on #21461
+1

[2017-11-24 19:53] cmsbuild commented on #21461
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2017-11-24 19:53] cmsbuild commented on #21461
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-11-24 19:54] cmsbuild commented on #21461
The build has started for slc6_amd64_gcc630 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1418/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-24 19:55] cmsbuild commented on #21461
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1419/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-24 22:13] cmsbuild commented on #21461
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_4-slc7_amd64_gcc630/1419
Some tests ( r

[2017-11-24 23:08] cmsbuild commented on #21461
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_4-slc7_amd64_gcc630/1419

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-25 01:37] cmsbuild commented on #21461
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_4-slc6_amd64_gcc630/1418
Some tests ( r

[2017-11-25 02:32] cmsbuild commented on #21461
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_4-slc6_amd64_gcc630/1418

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-25 08:17] davidlange6 commented on #21461
upload all

[2017-11-25 08:17] cmsbuild commented on #21461
Queing Jenkins upload for slc6_amd64_gcc630

[2017-11-25 08:17] cmsbuild commented on #21461
Queing Jenkins upload for slc7_amd64_gcc630

[2017-11-25 08:18] cmsbuild commented on #21461
The upload has started for slc6_amd64_gcc630 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/945/console

[2017-11-25 08:18] cmsbuild commented on #21461
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/946/console

[2017-11-25 08:19] cmsbuild commented on #21461
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_4-slc7_amd64_gcc630/946
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-25 08:19] cmsbuild commented on #21461
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-25 08:26] davidlange6 commented on #21461
release-notes

[2017-11-25 08:26] cmsbuild commented on #21461
ATTENTION!!! The production architecture (slc6_amd64_gcc630) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-11-25 08:30] cmsbuild commented on #21461
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_4-slc6_amd64_gcc630/945
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-25 08:30] cmsbuild commented on #21461
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-25 08:30] cmsbuild commented on #21461
Generating release notes since CMSSW_9_3_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-25 08:30] cmsbuild commented on #21461
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_4 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_4

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2017-11-25 08:32] cmsbuild commented on #21461
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_4

[2017-11-25 08:50] #20621 closed

[2017-11-27 05:25] kpedro88 opened #21465 "Remove try/catch in OmtfLinkMappingRpc"
A try/catch block was included in the new class https://github.com/cms-sw/cmssw/blob/master/EventFilter/L1TRawToDigi/src/OmtfLinkMappingRpc.cc (introduced in #20859). It is called hundreds (thousands?) of times in an event, which is both incredibly inefficient and incredibly frustrating when trying to debug a real exception afterward (`catch throw` in gdb does not distinguish between caught and un

[2017-11-27 05:26] cmsbuild commented on #21465
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-27 05:26] kpedro88 commented on #21465
assign l1

[2017-11-27 05:26] cmsbuild commented on #21465
New categories assigned: l1

@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-27 06:29] #21296 closed

[2017-11-27 07:38] cmsbuild commented on #21461
The cleanup has started for slc6_amd64_gcc630

[2017-11-27 07:38] cmsbuild commented on #21461
The cleanup has started for slc7_amd64_gcc630

[2017-11-27 07:38] #21461 closed

[2017-11-27 07:39] cmsbuild commented on #21461
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_4-slc6_amd64_gcc630/846

[2017-11-27 07:41] cmsbuild commented on #21461
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_4-slc7_amd64_gcc630/847

[2017-11-28 16:55] nsmith- commented on #21067
I've just been alerted to this, and will look into it soon.

[2017-11-28 19:20] davidlange6 commented on #21423
since this is blocking things, I'd propose to disable the setBIt lines if there is no feedback by the weekend.

[2017-11-29 01:23] davidlange6 opened #21482 "Build CMSSW_7_5_9"
Backport embedded config functionality for EvtGen configs

[2017-11-29 01:23] davidlange6 commented on #21482
+1

[2017-11-29 01:23] cmsbuild commented on #21482
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-29 01:23] cmsbuild commented on #21482
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2017-11-29 01:23] cmsbuild commented on #21482
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-11-29 02:12] cmsbuild commented on #21482
The build has started for slc6_amd64_gcc491 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1420/console
CMSDIST Branch: [IB/CMSSW_7_5_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_5_X/stable), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-11-29 10:41] cmsbuild commented on #21482
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_9-slc6_amd64_gcc491/1420
Some tests ( r

[2017-11-29 11:11] cmsbuild commented on #21482
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_9-slc6_amd64_gcc491/1420

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2017-11-29 15:36] davidlange6 commented on #21482
upload all

[2017-11-29 15:36] cmsbuild commented on #21482
Queing Jenkins upload for slc6_amd64_gcc491

[2017-11-29 15:37] cmsbuild commented on #21482
The upload has started for slc6_amd64_gcc491 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/947/console

[2017-11-29 15:42] cmsbuild commented on #21482
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_9-slc6_amd64_gcc491/947
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-29 15:42] cmsbuild commented on #21482
CERN AFS installation skipped for slc6_amd64_gcc491 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-29 15:44] davidlange6 opened #21485 "Build CMSSW_9_4_1"
Build to incorporate current NanoAOD codes

[2017-11-29 15:45] cmsbuild commented on #21485
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-29 15:45] davidlange6 commented on #21485
+1

[2017-11-29 15:45] davidlange6 commented on #21482
release-notes

[2017-11-29 15:46] cmsbuild commented on #21485
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2017-11-29 15:46] cmsbuild commented on #21485
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-11-29 15:46] cmsbuild commented on #21482
Generating release notes since CMSSW_7_5_8_patch7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-29 15:46] cmsbuild commented on #21482
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_5_9 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8_patch7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_9

Backport embedded config functionality for EvtGen configs

Cheers,
cms-bot

Y

[2017-11-29 15:48] cmsbuild commented on #21482
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_9

[2017-11-29 15:51] cmsbuild commented on #21485
The build has started for slc6_amd64_gcc630 in cmsbuild37.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1421/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-29 15:52] cmsbuild commented on #21485
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1422/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-29 17:51] cmsbuild commented on #21485
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_1-slc7_amd64_gcc630/1422
Some tests ( r

[2017-11-29 18:56] cmsbuild commented on #21485
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_1-slc7_amd64_gcc630/1422

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-29 21:18] cmsbuild commented on #21485
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_1-slc6_amd64_gcc630/1421
Some tests ( r

[2017-11-29 22:32] cmsbuild commented on #21485
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_1-slc6_amd64_gcc630/1421

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-30 02:49] davidlange6 commented on #21485
upload all

[2017-11-30 02:49] cmsbuild commented on #21485
Queing Jenkins upload for slc6_amd64_gcc630

[2017-11-30 02:49] cmsbuild commented on #21485
Queing Jenkins upload for slc7_amd64_gcc630

[2017-11-30 02:50] cmsbuild commented on #21485
The upload has started for slc6_amd64_gcc630 in cmsbuild37.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/948/console

[2017-11-30 02:50] cmsbuild commented on #21485
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/949/console

[2017-11-30 02:52] cmsbuild commented on #21485
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_1-slc7_amd64_gcc630/949
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-30 02:52] cmsbuild commented on #21485
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-30 02:56] cmsbuild commented on #21485
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-30 03:04] davidlange6 commented on #21485
release~notes

[2017-11-30 03:35] davidlange6 commented on #21485
release-notes

[2017-11-30 03:35] cmsbuild commented on #21485
Generating release notes since CMSSW_9_4_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-30 03:35] cmsbuild commented on #21485
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_1

Build to incorporate current NanoAOD codes

Cheers,
cms-bot

[2017-11-30 03:41] cmsbuild commented on #21485
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_1

[2017-11-30 10:47] Teemperor commented on #15248
With these final PRs nearly all of CMS should compile with C++ modules. The remaining issues are a few very strange issues I couldn't easily solve.

One of them are those two headers that declare the same class but slightly changed:
https://github.com/cms-sw/cmssw/blob/master/CommonTools/UtilAlgos/interface/InputTagDistributor.h
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/UtilAlgos/in

[2017-11-30 10:51] vgvassilev commented on #15248
@Teemperor, great job!

FWIW, the diff between two files is really minimal ([see here](https://www.diffchecker.com/6D03gZTl)).

[2017-11-30 11:08] Teemperor commented on #15248
At the reviewers: If you want multiple PRs merged into one, just comment with what subsystems/packages you want to have merged and I'll create a single PR for them. Thanks.

[2017-11-30 13:45] davidlt commented on #15248
One needs to look back into CVS ( http://cern.ch/cmscvs/cgi/viewvc.cgi/cvsroot/CMSSW/ ) to understand why someone made a copy of `InputTagDistributor`.

[2017-11-30 13:51] davidlt commented on #15248
http://cmscvs.web.cern.ch/cmscvs/cgi/viewvc.cgi/cvsroot/CMSSW/PhysicsTools/UtilAlgos/interface/InputTagDistributor.h?view=log
http://cmscvs.web.cern.ch/cmscvs/cgi/viewvc.cgi/cvsroot/CMSSW/CommonTools/UtilAlgos/interface/InputTagDistributor.h?view=log

Looks like original copy comes from `PhysicsTools`.  Then migrated to `CommonTools`, then removed, then again added back. Commit messages do not exp

[2017-11-30 13:53] vgvassilev commented on #15248
@davidlt, thanks for digging. The question is which one should we keep and which one should we remove.

[2017-11-30 13:53] davidlt commented on #15248
There is another similar case in CMSSW: https://github.com/cms-sw/cmssw/issues/21312

[2017-11-30 13:54] davidlt commented on #15248
@vgvassilev ask experts, or propose a PR. I would go with `PhysicsTools/UtilAlgos`, but in needed modifications/extensions into the original class.

[2017-11-30 13:58] davidlt opened #21618 "Remove duplicate header: InputTagDistributor.h"
As discussed from here: https://github.com/cms-sw/cmssw/issues/15248#issuecomment-348152355

We have duplicate headers.

CVS history:
http://cmscvs.web.cern.ch/cmscvs/cgi/viewvc.cgi/cvsroot/CMSSW/PhysicsTools/UtilAlgos/interface/InputTagDistributor.h?view=log
http://cmscvs.web.cern.ch/cmscvs/cgi/viewvc.cgi/cvsroot/CMSSW/CommonTools/UtilAlgos/interface/InputTagDistributor.h?view=log

We should keep

[2017-11-30 13:58] cmsbuild commented on #21618
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-30 14:02] davidlt commented on #21618
This class is not directly used by CMSSW according to DXR: https://cmssdt.cern.ch/dxr/CMSSW/search?q=%2Btype-ref%3AInputTagDistributor

[2017-11-30 14:38] Dr15Jones commented on #15248
Which ever one is kept should go in CommonTools/UtilAlgos since that package is the one intended to hold classes shared by reconstruction and analysis.

[2017-11-30 14:39] davidlt commented on #15248
I guess, then we need to copy the one from PhysicsTools/UtilAlgos which has consumes migration done.

[2017-11-30 14:50] #21067 closed

[2017-11-30 15:00] Dr15Jones opened #21620 "Excessive output from DTTSPhi::addTracoT"
When looking at output from analysis jobs, we came across a job that had an unknown number (but extremely large) of messages of
[code]

Looking at the code in question, one can see it is using std::cout, which is not thread-safe
https://github.com/cms-sw/cmssw/blob/a1a699103d53ed00ae87f2a2578dd7e4b6bd0b5b/L1Trigger/DTTriggerServerPhi/src/DTTSPhi.cc#L183

This code should be changed to use the `Mes

[2017-11-30 15:01] Dr15Jones commented on #21620
assign l1

[2017-11-30 15:04] cmsbuild commented on #21620
New categories assigned: l1

@thomreis,@nsmith-,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-30 15:05] cmsbuild commented on #21620
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-01 14:14] Dr15Jones commented on #21423
@davidlange6 any word on this?

[2017-12-01 14:42] Dr15Jones opened #21627 "Add an UnorderedPath to the framework"
Most EDAnalyzers and OutputModules only depend on data products from EDProducers and do not have hidden dependencies with other modules. In those cases, it is safe to allow the framework to schedule running those module immediately. In principal that can be done by putting each such module on its on EndPath. In practice, having that many EndPaths can make it difficult to build a schedule (plus int

[2017-12-01 14:42] cmsbuild commented on #21627
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-01 14:46] Dr15Jones commented on #21627
assign core

[2017-12-01 14:46] cmsbuild commented on #21627
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-01 14:46] kreczko opened #21628 "Handling of fopen write error in reco::details::loadTMVAWeights"
We recently encountered random segmentation faults in our cluster when running CMSSW jobs in the cluster. It was suggested that it might be due to write permissions in the `/tmp` folder and caused by `reco::details::loadTMVAWeights` in https://github.com/cms-sw/cmssw/blob/fee77f4c558f3b592a0bab04f1a8c1475db9e2c1/CommonTools/Utils/src/TMVAZipReader.cc#L84

In order to better catch such problems in

[2017-12-01 14:46] cmsbuild commented on #21628
A new Issue was created by  @kreczko Luke Kreczko.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-01 14:48] Dr15Jones commented on #21627
@fwyzard in hypernews brought up the idea of allowing EDAnalyzers (and by extension OutputModules) to be added to Tasks to enable the exact same functionality as an UnorderedPath.

[2017-12-01 14:53] cmsbuild commented on #21482
The cleanup has started for slc6_amd64_gcc491

[2017-12-01 14:53] #21482 closed

[2017-12-01 14:54] Dr15Jones commented on #21628
assign reconstruction, analysis

[2017-12-01 14:54] cmsbuild commented on #21628
New categories assigned: analysis,reconstruction

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-01 14:57] Dr15Jones commented on #21627
Question: Why do EndPaths (and EDAnalyzers on Paths) not already act like an UnorderedPath?

Answer: In the original design proposal from the threaded framework, EndPaths were supposed to work like UnorderedPaths. Unfortunately, during the implementation of the threaded framework we discovered quite a number of cases where there were hidden (from the framework) dependencies between EDAnalyzers and

[2017-12-01 15:00] cmsbuild commented on #21482
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_9-slc6_amd64_gcc491/848

[2017-12-01 15:15] kpedro88 commented on #19666
@sandrofonseca `CondTools/CTPPS` still needs a category assignment

[2017-12-01 15:21] sandrofonseca commented on #19666
HI Kevin,

 I am cc'ing my colleague Helena who is the responsible person for it.

Cheers,
Sandro

Dr. Sandro Fonseca de Souza
__________________________________
Universidade do Estado do Rio de Janeiro - UERJ/IF/DFNAE
524 São Francisco Xavier Street,3rd Floor,Office 3016A, Maracanã, Rio de
Janeiro,
Brazil.
ZIP Code: 20559-900
Phone: +552123340623
Brazilian Mobile: +5521982359943
Swiss Mobile:+417

[2017-12-01 15:51] slava77 commented on #21628
On 12/1/17 6:46 AM, Luke Kreczko wrote:

this looks reasonable to me.
Please proceed with a PR.

[2017-12-02 02:38] cmsbuild commented on #21485
The cleanup has started for slc6_amd64_gcc630

[2017-12-02 02:38] cmsbuild commented on #21485
The cleanup has started for slc7_amd64_gcc630

[2017-12-02 02:38] #21485 closed

[2017-12-02 02:41] cmsbuild commented on #21485
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_1-slc7_amd64_gcc630/850

[2017-12-02 02:45] cmsbuild commented on #21485
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_1-slc6_amd64_gcc630/849

[2017-12-02 14:10] Dr15Jones commented on #21110
This is fixed by #21634

[2017-12-02 14:10] Dr15Jones commented on #21110
+1

[2017-12-02 14:10] cmsbuild commented on #21110
This issue is fully signed and ready to be closed.

[2017-12-04 08:58] davidlange6 opened #21637 "Remove BoundaryPlane and friends"
as discussed in #21558 this code looks to be unused (and its not new)

[2017-12-04 08:58] cmsbuild commented on #21637
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-04 08:58] davidlange6 commented on #21637
assign reconstruction

[2017-12-04 08:58] cmsbuild commented on #21637
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-04 10:53] davidlange6 commented on #15248
these are the biggest of the pcms? (eg the vast majority of the 1.3 GB is small stuff)

[2017-12-04 11:43] Teemperor commented on #15248
Yes, the biggest CMS module is 28MB. The dependencies have bigger modules (e.g. Geant4 is one of the biggest currently with a single 120 MB module) because that's easier/faster to create.

[2017-12-04 13:37] slava77 commented on #21637
@namapane
please take a look
the Boundary{Plane,Surface} classes are in MagneticField/VolumeGeometry
Are these a part of still incomplete development or are they now obsolete?

[2017-12-04 14:28] namapane commented on #21637
Both, in fact. These were intended to be the internals of the STEP propagator, with the idea that magnetic volumes would know their boundary surface and each of these surfaces would know what volumes were present on the other side, so that propagation would not need a global search for the volume at each iteration. However, this plan never took shape because (a) we obtained a very satisfactory spe

[2017-12-04 14:39] kreczko commented on #21628
@slava77 PR has been created (#21638)

[2017-12-04 17:18] #20504 closed

[2017-12-04 17:20] Dr15Jones commented on #21423
Worked around using #21635. With that pull request, the IB workflows are now successful.

[2017-12-04 18:24] Dr15Jones opened #21640 "Remove couts from HTXSRivetProducer"
HTXSRivetProducer is a stream module which is calling `std::cout`. `std::cout` is not thread safe and should be replaced with calls to the MessageLogger.

[2017-12-04 18:24] cmsbuild commented on #21640
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-04 18:24] Dr15Jones commented on #21640
assign generator

[2017-12-04 18:26] Dr15Jones commented on #21640
assign gen

[2017-12-04 18:29] Dr15Jones commented on #21640
assign generators

[2017-12-04 18:29] cmsbuild commented on #21640
New categories assigned: generators

@perrozzi,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-05 01:44] Dr15Jones commented on #21250
This same problem occurs for workflow 4.17

[2017-12-05 10:07] davidlange6 opened #21646 "Build CMSSW_9_2_15"

[2017-12-05 10:07] cmsbuild commented on #21646
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-12-05 10:08] davidlange6 commented on #21646
+1

[2017-12-05 10:08] cmsbuild commented on #21646
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_15. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-12-05 10:09] cmsbuild commented on #21646
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-12-05 10:11] cmsbuild commented on #21646
The build has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1424/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-12-05 10:11] cmsbuild commented on #21646
The build has started for slc6_amd64_gcc530 in cmsdev11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1423/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-05 10:12] cmsbuild commented on #21646
The build has started for slc7_amd64_gcc530 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1425/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-12-05 10:12] cmsbuild commented on #21646
The build has started for slc7_amd64_gcc630 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1426/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-12-05 11:28] perrotta commented on #21346
Fixed with  #21348
This can be closed now

[2017-12-05 12:15] cmsbuild commented on #21646
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_15-slc6_amd64_gcc630/1424
Some tests (

[2017-12-05 13:02] cmsbuild commented on #21646
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_15-slc6_amd64_gcc630/1424

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-05 13:16] cmsbuild commented on #21646
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_15-slc7_amd64_gcc630/1426
Some tests (

[2017-12-05 14:02] cmsbuild commented on #21646
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_15-slc7_amd64_gcc630/1426

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-05 14:15] cmsbuild commented on #21646
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_15-slc7_amd64_gcc530/1425
Some tests (

[2017-12-05 14:43] cmsbuild commented on #21646
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_15-slc6_amd64_gcc530/1423
Some tests (

[2017-12-05 14:59] cmsbuild commented on #21646
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_15-slc7_amd64_gcc530/1425

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-05 15:50] cmsbuild commented on #21646
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_15-slc6_amd64_gcc530/1423

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-05 16:14] makortel commented on #12708
Decided to fix myself, see #21648.

[2017-12-05 19:56] davidlange6 opened #21649 "Build CMSSW_9_3_5"
for HGCal re-miniAODSIM

[2017-12-05 19:57] cmsbuild commented on #21649
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-12-05 19:57] davidlange6 commented on #21649
+1

[2017-12-05 19:58] davidlange6 commented on #21646
upload all

[2017-12-05 19:58] cmsbuild commented on #21649
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2017-12-05 19:58] cmsbuild commented on #21649
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-12-05 19:58] cmsbuild commented on #21646
Queing Jenkins upload for slc6_amd64_gcc530

[2017-12-05 19:58] cmsbuild commented on #21646
Queing Jenkins upload for slc6_amd64_gcc630

[2017-12-05 19:58] cmsbuild commented on #21646
Queing Jenkins upload for slc7_amd64_gcc530

[2017-12-05 19:58] cmsbuild commented on #21646
Queing Jenkins upload for slc7_amd64_gcc630

[2017-12-05 19:59] cmsbuild commented on #21646
The upload has started for slc6_amd64_gcc530 in cmsdev11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/950/console

[2017-12-05 19:59] cmsbuild commented on #21649
The build has started for slc6_amd64_gcc630 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1427/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-05 19:59] cmsbuild commented on #21646
The upload has started for slc7_amd64_gcc630 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/952/console

[2017-12-05 19:59] cmsbuild commented on #21646
The upload has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/951/console

[2017-12-05 19:59] cmsbuild commented on #21646
The upload has started for slc7_amd64_gcc530 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/953/console

[2017-12-05 19:59] cmsbuild commented on #21649
The build has started for slc7_amd64_gcc630 in cmsbuild41.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1428/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-05 20:00] cmsbuild commented on #21646
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_15-slc6_amd64_gcc530/950
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-05 20:00] cmsbuild commented on #21646
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-05 20:01] cmsbuild commented on #21646
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_15-slc6_amd64_gcc630/951
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-05 20:02] cmsbuild commented on #21646
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-05 20:02] cmsbuild commented on #21646
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_15-slc7_amd64_gcc530/953
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-05 20:02] cmsbuild commented on #21646
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-05 20:02] cmsbuild commented on #21646
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_15-slc7_amd64_gcc630/952
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-05 20:02] cmsbuild commented on #21646
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-05 23:01] cmsbuild commented on #21649
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_5-slc7_amd64_gcc630/1428
Some tests ( r

[2017-12-05 23:59] cmsbuild commented on #21649
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_5-slc7_amd64_gcc630/1428

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-06 00:53] cmsbuild commented on #21649
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_5-slc6_amd64_gcc630/1427
Some tests ( r

[2017-12-06 01:46] cmsbuild commented on #21649
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_5-slc6_amd64_gcc630/1427

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-06 09:27] davidlange6 commented on #21649
upload all

[2017-12-06 09:28] cmsbuild commented on #21649
Queing Jenkins upload for slc6_amd64_gcc630

[2017-12-06 09:28] cmsbuild commented on #21649
Queing Jenkins upload for slc7_amd64_gcc630

[2017-12-06 09:29] cmsbuild commented on #21649
The upload has started for slc6_amd64_gcc630 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/954/console

[2017-12-06 09:29] cmsbuild commented on #21649
The upload has started for slc7_amd64_gcc630 in cmsbuild41.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/955/console

[2017-12-06 09:30] cmsbuild commented on #21649
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_5-slc7_amd64_gcc630/955
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-06 09:30] cmsbuild commented on #21649
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-06 09:37] davidlange6 commented on #21649
release-notes

[2017-12-06 09:37] cmsbuild commented on #21649
ATTENTION!!! The production architecture (slc6_amd64_gcc630) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-12-06 09:40] davidlange6 commented on #21646
release-notes

[2017-12-06 09:40] cmsbuild commented on #21646
Generating release notes since CMSSW_9_2_14_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-12-06 09:41] cmsbuild commented on #21646
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_15 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_14_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_15

Cheers,
cms-bot

You

[2017-12-06 09:41] cmsbuild commented on #21646
There was an error generating the release notes, please look into the logs

[2017-12-06 09:55] cmsbuild commented on #21649
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_5-slc6_amd64_gcc630/954
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-06 09:56] cmsbuild commented on #21649
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-06 09:56] cmsbuild commented on #21649
Generating release notes since CMSSW_9_3_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-12-06 09:56] cmsbuild commented on #21649
There was an error generating the release notes, please look into the logs

[2017-12-06 09:59] davidlange6 commented on #21649
release-notes

[2017-12-06 10:00] cmsbuild commented on #21649
Generating release notes since CMSSW_9_3_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-12-06 10:00] cmsbuild commented on #21649
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_5 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_5

for HGCal re-miniAODSIM

Cheers,
cms-bot

You can also click <a hr

[2017-12-06 10:00] cmsbuild commented on #21649
There was an error generating the release notes, please look into the logs

[2017-12-06 10:43] #12708 closed

[2017-12-06 10:47] perrotta commented on #21628
+1
- #21638 just merged in 10_0_X

[2017-12-06 12:38] cmsbuild commented on #21649
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_5

[2017-12-06 13:57] cmsbuild commented on #21646
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_15

[2017-12-07 13:20] smorovic commented on #18902
@smorovic is the right address :)
I switched to tbb concurrent hash map in #21658

[2017-12-07 21:56] davidlange6 opened #21660 "Build CMSSW_10_0_0_pre2"

[2017-12-07 21:56] cmsbuild commented on #21660
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-12-07 21:58] davidlange6 commented on #21660
+1

[2017-12-07 21:58] cmsbuild commented on #21660
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-12-07 21:58] cmsbuild commented on #21660
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc7_amd64_gcc630, slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_ppc64le_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building

[2017-12-07 21:59] cmsbuild commented on #21660
The build has started for slc6_amd64_gcc630 in cmsbuild38.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1429/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-07 21:59] cmsbuild commented on #21660
The build has started for slc7_amd64_gcc630 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1431/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-07 21:59] cmsbuild commented on #21660
The build has started for slc6_amd64_gcc700 in cmsbuild36.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1430/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-07 22:00] cmsbuild commented on #21660
The build has started for slc7_amd64_gcc700 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1432/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-07 22:00] cmsbuild commented on #21660
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1433/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-08 02:32] cmsbuild commented on #21660
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc7_amd64_gcc630/1431
Some tes

[2017-12-08 03:39] cmsbuild commented on #21660
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc7_amd64_gcc630/1431

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-08 04:08] cmsbuild commented on #21660
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc7_aarch64_gcc700/1433
Some

[2017-12-08 04:23] cmsbuild commented on #21660
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc6_amd64_gcc630/1429
Some tes

[2017-12-08 05:37] cmsbuild commented on #21660
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc6_amd64_gcc630/1429

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-08 06:05] cmsbuild commented on #21660
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc7_amd64_gcc700/1432
Some tes

[2017-12-08 06:10] cmsbuild commented on #21660
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc6_amd64_gcc700/1430
Some tes

[2017-12-08 06:46] cmsbuild commented on #21660
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc7_aarch64_gcc700/1433

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-08 07:23] cmsbuild commented on #21660
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre2-slc6_amd64_gcc700/1430

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-08 08:53] cmsbuild commented on #21646
The cleanup has started for slc6_amd64_gcc530

[2017-12-08 08:53] cmsbuild commented on #21646
The cleanup has started for slc6_amd64_gcc630

[2017-12-08 08:53] cmsbuild commented on #21646
The cleanup has started for slc7_amd64_gcc530

[2017-12-08 08:53] cmsbuild commented on #21646
The cleanup has started for slc7_amd64_gcc630

[2017-12-08 08:53] #21646 closed

[2017-12-08 08:56] cmsbuild commented on #21646
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_15-slc6_amd64_gcc630/852

[2017-12-08 08:56] cmsbuild commented on #21646
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_15-slc6_amd64_gcc530/851

[2017-12-08 09:00] cmsbuild commented on #21646
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_15-slc7_amd64_gcc630/854

[2017-12-08 09:00] cmsbuild commented on #21646
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_15-slc7_amd64_gcc530/853

[2017-12-08 09:01] davidlange6 commented on #21660
upload all

[2017-12-08 09:01] cmsbuild commented on #21660
Queing Jenkins upload for slc6_amd64_gcc630

[2017-12-08 09:01] cmsbuild commented on #21660
Queing Jenkins upload for slc6_amd64_gcc700

[2017-12-08 09:01] cmsbuild commented on #21660
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-12-08 09:02] cmsbuild commented on #21660
Queing Jenkins upload for slc7_amd64_gcc630

[2017-12-08 09:02] cmsbuild commented on #21660
Queing Jenkins upload for slc7_amd64_gcc700

[2017-12-08 09:04] cmsbuild commented on #21660
The upload has started for slc6_amd64_gcc630 in cmsbuild38.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/956/console

[2017-12-08 09:04] cmsbuild commented on #21660
The upload has started for slc6_amd64_gcc700 in cmsbuild36.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/957/console

[2017-12-08 09:04] cmsbuild commented on #21660
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/958/console

[2017-12-08 09:04] cmsbuild commented on #21660
The upload has started for slc7_amd64_gcc630 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/959/console

[2017-12-08 09:05] cmsbuild commented on #21660
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre2-slc7_aarch64_gcc700/958
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-08 09:05] cmsbuild commented on #21660
The upload has started for slc7_amd64_gcc700 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/960/console

[2017-12-08 09:06] cmsbuild commented on #21660
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre2-slc7_amd64_gcc630/959
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-08 09:06] cmsbuild commented on #21660
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-08 09:07] cmsbuild commented on #21660
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre2-slc6_amd64_gcc700/957
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-08 09:08] cmsbuild commented on #21649
The cleanup has started for slc6_amd64_gcc630

[2017-12-08 09:08] cmsbuild commented on #21649
The cleanup has started for slc7_amd64_gcc630

[2017-12-08 09:08] #21649 closed

[2017-12-08 09:10] cmsbuild commented on #21660
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre2-slc6_amd64_gcc630/956
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-08 09:10] cmsbuild commented on #21660
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-08 09:10] cmsbuild commented on #21660
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre2-slc7_amd64_gcc700/960
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-08 09:10] cmsbuild commented on #21660
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-08 09:13] davidlange6 commented on #21660
release-notes

[2017-12-08 09:13] cmsbuild commented on #21660
Generating release notes since CMSSW_10_0_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-12-08 09:14] cmsbuild commented on #21660
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_0_0_pre2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_0_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_0_pre2

Cheers,
cms

[2017-12-08 09:15] cmsbuild commented on #21649
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_5-slc7_amd64_gcc630/856

[2017-12-08 09:15] cmsbuild commented on #21649
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_5-slc6_amd64_gcc630/855

[2017-12-08 09:34] cmsbuild commented on #21660
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre2

[2017-12-08 14:24] Dr15Jones opened #21668 "JetFlavourClustering throws an unknown exception"
In the integration build CMSSW_10_0_X_2017-12-07-1100 for workflow 1326.0 on step3, the job failed with the log message
[code]
That message happens if a module throws an exception which inherits from neither `std::exception` or `cms::Exception`.

[2017-12-08 14:24] cmsbuild commented on #21668
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-08 14:25] Dr15Jones commented on #21668
assign analysis, reconstruction

[2017-12-08 14:25] cmsbuild commented on #21668
New categories assigned: reconstruction,analysis

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-08 14:41] slava77 commented on #21668
"nice"
now it has popped up in relvals
and is getting out of the private thread addressing an issue in
https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/4626.html

@arizzi @ferencek

For the case in 94X I've spent at least half a day trying to make it crash but I couldn't.

@Dr15Jones do you have a reproducible case here or is it a single report?

[2017-12-08 15:01] Dr15Jones commented on #21668
It only failed that once and subsequent IBs have run fine.

[2017-12-08 15:09] Dr15Jones commented on #21668
I did a quick grep through fastjet code for `throw`. Turns out it throws its own `Error` class as its exception:
https://github.com/cms-externals/fastjet/blob/master/include/fastjet/Error.hh

That class does not inherit from `std::exception`. So it looks like `JetFlavourClustering` should try to catch exceptions of type `fastjet::Error` and convert it to a `cms::Exception` so we can see the messag

[2017-12-08 15:46] Dr15Jones opened #21670 "CSCGEMMotherboardME11 has non-const function statics"
`CSCGEMMotherboardME11` is called from the global module `CSCTriggerPrimitivesProducer` but has two non-const statics:
https://github.com/cms-sw/cmssw/blob/78a797a46a83721d8571bcf954088127f010a183/L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboardME11.cc#L590

This is a thread safety problem. It should be possible to make both statics `const` or, better yet, do not make them `static` anyway sinc

[2017-12-08 15:46] cmsbuild commented on #21670
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-08 15:47] Dr15Jones commented on #21670
This problem was introduced in #20509

[2017-12-08 15:47] Dr15Jones commented on #21670
assign l1, simulation, upgrade

[2017-12-08 15:47] cmsbuild commented on #21670
New categories assigned: upgrade,simulation,l1

@thomreis,@kpedro88,@mdhildreth,@nsmith-,@civanch,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-08 15:49] dildick commented on #21670
@Dr15Jones I'll fix it to `const int`

[2017-12-08 17:31] knoepfel commented on #18574
Are you still interested in having the core framework group pursue the above changes?

[2017-12-10 08:23] cmsbuild commented on #21660
The cleanup has started for slc7_aarch64_gcc700

[2017-12-10 08:23] cmsbuild commented on #21660
The cleanup has started for slc6_amd64_gcc630

[2017-12-10 08:23] cmsbuild commented on #21660
The cleanup has started for slc6_amd64_gcc700

[2017-12-10 08:23] cmsbuild commented on #21660
The cleanup has started for slc7_amd64_gcc630

[2017-12-10 08:23] cmsbuild commented on #21660
The cleanup has started for slc7_amd64_gcc700

[2017-12-10 08:23] #21660 closed

[2017-12-10 10:26] cmsbuild commented on #21660
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/"+JENKINS_PREFIX+"-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre2-slc7_amd64_gcc700/862

[2017-12-10 10:27] cmsbuild commented on #21660
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/"+JENKINS_PREFIX+"-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre2-slc6_amd64_gcc630/863

[2017-12-10 10:27] cmsbuild commented on #21660
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/"+JENKINS_PREFIX+"-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre2-slc6_amd64_gcc700/864

[2017-12-10 10:27] cmsbuild commented on #21660
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/"+JENKINS_PREFIX+"-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre2-slc7_amd64_gcc630/866

[2017-12-10 10:27] cmsbuild commented on #21660
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/"+JENKINS_PREFIX+"-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre2-slc7_aarch64_gcc700/865

[2017-12-11 14:37] slava77 commented on #21135
Just to update: From Dec 7 or so: there is one more PR that modified the behavior of reco in these channels #21651

[2017-12-11 15:30] kpedro88 commented on #21670
+1

[2017-12-12 14:46] dmitrijus commented on #21167
Sorry, I don't know anything about tracking validation nor it is anything we (DQM) can do ourselves.
That's why I signed (and later rejected) it so people no longer are waiting on us.

The best action to do is to either contact validation or tracking experts directly. And I see it was already done.

That said, I will tell @jfernan2 (DQM convener) to follow up on this issue.

[2017-12-12 16:07] arizzi commented on #21668
anyhow the additonal information circulated in the other thread was that the printout is :+1:
<pre>
fastjet::Error:  *** CRITICAL INTERNAL FASTJET ERROR *** CONTACT THE
AUTHORS *** trying to recomine an object that has previsously been
recombined

</pre>

(given that we cannot reproduce I suspect there is something not threadsafe in fastjet... and I've no clue how to debug that)

[2017-12-12 16:09] Dr15Jones commented on #21668
How I'd start to look at a thread-safety issue would be to find where in fastjet that printout is done and then checking to see if there is a global or static variable used as part of that calculation.

[2017-12-12 16:25] slava77 commented on #21668
On 12/12/17 8:09 AM, Chris Jones wrote:

Can the static analyzer be run on it?

.. perhaps this is something to be done for all compiled externals

[2017-12-12 16:30] arizzi commented on #21668
it seems to be printout in ClusterSequence.cc and at a quick glance it seems there is a datamember (_history) that is modified by several functions and in a particular call it finds in there something unexpected.

How are we sure that we have no two threads calling ClusterSequence at the same time acting on the same _history datamember?

[2017-12-12 16:30] dmitrijus commented on #21445
+1

It was discovered and fixed in parallel.
It is merged in master, the PR to 94x should be merged soon enough.

https://its.cern.ch/jira/browse/CMSCOMPPR-1606

[2017-12-12 16:30] cmsbuild commented on #21445
This issue is fully signed and ready to be closed.

[2017-12-12 16:31] dmitrijus commented on #21452
+1

It was discovered and fixed in parallel.
It is merged in master, the PR to 94x should be merged soon enough.

https://its.cern.ch/jira/browse/CMSCOMPPR-1606

[2017-12-12 16:31] cmsbuild commented on #21452
This issue is fully signed and ready to be closed.

[2017-12-12 16:31] dmitrijus commented on #21445
https://github.com/cms-sw/cmssw/pull/21387

[2017-12-12 16:31] dmitrijus commented on #21452
https://github.com/cms-sw/cmssw/pull/21387

[2017-12-12 16:38] Dr15Jones commented on #21668
The check would be to trace back all constructions of ClusterSequence to see if they are associated with a global or static. Unfortunately, doing a search on github often misses many matches.

[2017-12-12 16:43] Dr15Jones commented on #21668
Looks like
https://github.com/cms-externals/fastjet/blob/77e18236f42023d23f6493a5c2d023f3f5f22be0/include/fastjet/ClusterSequence.hh#L759

should be changed to `std::atomic<bool> _first_time;` However, that seems extremely unlikely to have caused this problem.

[2017-12-12 16:44] arizzi commented on #21668
it seems ClusterSequence is not even reused across events... so nothing
obviously bad..

On Tue, Dec 12, 2017 at 5:39 PM, Chris Jones <notifications@github.com>
wrote:

[2017-12-12 16:50] slava77 commented on #21668
On 12/12/17 8:43 AM, Chris Jones wrote:

IIUC, CMSSW distribution is using this version
https://github.com/cms-externals/fastjet/blob/cms/v3.1.0/include/fastjet/ClusterSequence.hh#L769

[2017-12-12 17:56] Dr15Jones commented on #21668
Looking at the module code, I do not see why this needs to be `new`ed nor why fjClusterSeq_ is a member data:

https://github.com/cms-sw/cmssw/blob/a1a699103d53ed00ae87f2a2578dd7e4b6bd0b5b/PhysicsTools/JetMCAlgos/plugins/JetFlavourClustering.cc#L328

If this problem is because of a memory overwrite (instead of thread-safety issue in fastjet) making the object on the stack might avoid the problem.

[2017-12-12 18:03] Dr15Jones commented on #21668
So the comment just before the throw
https://github.com/cms-externals/fastjet/blob/cms/v3.1.0/src/ClusterSequence.cc#L1503

seems to imply that this failure is expected under normal operation and is dependent on the strategy used.

[2017-12-12 18:14] slava77 commented on #21668
On 12/12/17 10:03 AM, Chris Jones wrote:

I guess you are suggesting to catch this.
Is that so?

[2017-12-12 19:27] Dr15Jones commented on #21668
My only suggestion is this may not be a thread-safety or memory related problem, but be intrinsic with the strategy being used by fastjet.

[2017-12-12 19:42] arizzi commented on #21668
well but why it is not reproducible then?

Il 12 dic 2017 8:28 PM, "Chris Jones" <notifications@github.com> ha scritto:

[2017-12-12 19:57] Dr15Jones commented on #21668
Are there any random numbers used by fastjet or by algorithms feeding data into fastjet?

[2017-12-13 07:50] perrozzi commented on #21640
https://github.com/cms-sw/cmssw/pull/21696 https://github.com/cms-sw/cmssw/pull/21490

[2017-12-13 09:07] perrozzi commented on #21640
+1

[2017-12-13 09:07] cmsbuild commented on #21640
This issue is fully signed and ready to be closed.

[2017-12-13 14:02] JoRoemer opened #21699 "Question about morphing of shape uncertainties"
Dear experts,

I am trying to understand how the template morphing for shape uncertainties works in order to check if it works as expected in my analysis. I would like to produce the plots shown in the documentation (https://cms-hcomb.gitbooks.io/combine/content/part2/settinguptheanalysis.html#template-shape-uncertainties -> Show comparison) for my analysis but I do not find any recipe for it. I t

[2017-12-13 14:02] cmsbuild commented on #21699
A new Issue was created by  @JoRoemer .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-13 14:05] JoRoemer commented on #21699
Sorry, Iw was directed to the wrong repository by combine. Sorry for the inconvenience.

[2017-12-13 14:05] #21699 closed

[2017-12-13 14:37] ferencek commented on #21668
As far as I know, there shouldn't be any random numbers involved here. A collection of particles is fed into FastJet and then clustered.

[2017-12-13 16:46] perrotta opened #21704 "Make DigiToRawPreMixing depend on DigiToRaw"
```Configuration/StandardSequences/python/DigiToRawPreMixing_cff.py``` is now almost a clone of ```Configuration/StandardSequences/python/DigiToRaw_cff.py```

With such a design, every time someone has to update one of them (e.g. for era based customizations), one has to repeat exactly the same in the other code, with the non negligible risk of making mistakes.

I think that a much safer and clean

[2017-12-13 16:46] cmsbuild commented on #21704
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-13 16:46] perrotta commented on #21704
assign reconstruction, simulation

[2017-12-13 16:46] cmsbuild commented on #21704
New categories assigned: reconstruction,simulation

@mdhildreth,@slava77,@perrotta,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-13 16:48] Dr15Jones commented on #21704
Maybe this means we should control this via Eras instead of via imports?

[2017-12-13 16:56] perrotta commented on #21704
@Dr15Jones : that could be another option, less simple to me, but I can delegate :-)

By the way, the only place where DigiToRawPreMixing is accessed is in
http://cmslxr.fnal.gov/source/Configuration/Applications/python/ConfigBuilder.py#0959
(and right above there is also a DigiToRawDM_cff.py which is also customized via imports)

What is the suggestion from the framework team?

[2017-12-13 21:27] davidlange6 commented on #21704
I cast a vote against eras. i had asked for a similar consolidation in raw2digi that worked well- i guess digi2raw should be straightforward to merge and simplify

[2017-12-13 22:00] Dr15Jones commented on #21704
If David doesn't want eras, then no eras.
@davidlange6 for completion, what is your reason for not using eras here?

[2017-12-14 07:28] makortel commented on #21704
Adding @kpedro88 since we've talked with @mdhildreth about using eras for premixing customizations.

[2017-12-14 08:23] davidlange6 commented on #21704
lets rephrase..

if you want to use eras for just this one file thus meaning that someone using premixing has to remember both an era and the right set of imports (or steps in cmsDriver), you've made things more complex for no reason

if instead you want to rewrite all the premixing configs such that a user just needs to --era premixing and  otherwise has the same config as for normal mixing DIGI

[2017-12-14 09:03] davidlange6 opened #21707 "Build CMSSW_9_3_6"

[2017-12-14 09:03] cmsbuild commented on #21707
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2017-12-14 09:04] davidlange6 commented on #21707
+1

[2017-12-14 09:04] cmsbuild commented on #21707
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2017-12-14 09:04] cmsbuild commented on #21707
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-12-14 09:05] cmsbuild commented on #21707
The build has started for slc6_amd64_gcc630 in cmsbuild60.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1434/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-14 09:05] cmsbuild commented on #21707
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1435/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-14 09:58] kreczko commented on #19590
@thomreis yes

[2017-12-14 09:59] kreczko commented on #19592
@thomreis yes

[2017-12-14 09:59] kreczko commented on #19593
@thomreis yes

[2017-12-14 10:01] thomreis commented on #19592
+1

[2017-12-14 10:03] thomreis commented on #19593
+1
This could be closed.

[2017-12-14 10:03] thomreis commented on #19590
+1
This could be closed.

[2017-12-14 10:16] kreczko opened #21710 "[DQM] [L1T] Set up a layer1+layer2 emulator chain"
## Overview
This issue is a follow up to PR #21392 where the EMU modules of the L1T DQM have been removed due to a large number of messages in the logs.
The modules for layer1+layer2 emulator need to be included in the DQM offline paths and the EMU L1T DQM modules for Jet&Energy sums, EGamma, and Tau re-enabled.

## Affected files
 - [DQMOffline/L1Trigger/python/L1TriggerDqmOffline_cff.py](https:/

[2017-12-14 10:16] cmsbuild commented on #21710
A new Issue was created by  @kreczko Luke Kreczko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-14 10:20] thomreis commented on #21710
Also tracked in this JIRA ticket: https://its.cern.ch/jira/browse/CMSLITDPG-418

[2017-12-14 10:39] Teemperor commented on #15248
@smuzaffar Here is the tracking issue.

[2017-12-14 11:08] cmsbuild commented on #21707
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6-slc7_amd64_gcc630/1435
Some tests ( r

[2017-12-14 12:01] cmsbuild commented on #21707
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6-slc7_amd64_gcc630/1435

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-14 14:12] cmsbuild commented on #21707
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6-slc6_amd64_gcc630/1434
Some tests ( r

[2017-12-14 15:16] cmsbuild commented on #21707
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6-slc6_amd64_gcc630/1434

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-14 15:32] kpedro88 commented on #21704
That would be my preference. (I didn't know a separate category of ProcessModifiers had been defined, but indeed it's there now: https://github.com/cms-sw/cmssw/tree/master/Configuration/ProcessModifiers/python)

[2017-12-14 15:40] kpedro88 commented on #21129
@bsunanda please address this

[2017-12-14 17:16] bsunanda commented on #21129
I am reviewing the HGCalValidation package right now and will take care of these.

[2017-12-14 18:21] rappoccio commented on #21668
Sorry for the delay, catching up here. There is some random numbers thrown for the area calculation, but we set the seed deterministically so it should be reproducible in that case.

[2017-12-14 21:06] davidlange6 commented on #21707
upload all

[2017-12-14 21:06] cmsbuild commented on #21707
Queing Jenkins upload for slc6_amd64_gcc630

[2017-12-14 21:06] cmsbuild commented on #21707
Queing Jenkins upload for slc7_amd64_gcc630

[2017-12-14 21:08] cmsbuild commented on #21707
The upload has started for slc6_amd64_gcc630 in cmsbuild60.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/961/console

[2017-12-14 21:08] cmsbuild commented on #21707
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/962/console

[2017-12-14 21:09] cmsbuild commented on #21707
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_6-slc7_amd64_gcc630/962
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-14 21:09] cmsbuild commented on #21707
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-14 21:12] cmsbuild commented on #21707
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_6-slc6_amd64_gcc630/961
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-14 21:12] cmsbuild commented on #21707
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-14 21:52] ferencek commented on #21668
@rappoccio, but there is no jet area calculation in this case. Ghost partons are formed "by hand" by taking their momentum and scaling it down by a large factors. These ghosts are then clustered together with jet contituents so there is no randomness in this procedure.

Are there any random numbers involved in the Puppi algorithm? Naively I would not expect any.

[2017-12-14 21:59] davidlange6 commented on #21707
release-notes

[2017-12-14 21:59] cmsbuild commented on #21707
Generating release notes since CMSSW_9_3_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-12-14 21:59] cmsbuild commented on #21707
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_6 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_6

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2017-12-14 22:00] cmsbuild commented on #21707
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_6

[2017-12-15 02:36] rappoccio commented on #21668
Good point. I'm not sure then... may then be threading.

[2017-12-15 07:23] arizzi commented on #21668
could it be some numerical instability due to the ghost procedure? did anyone report to the fastjet authors? (even if we do not have a recipe to reproduce they may have some ideas..)

[2017-12-15 10:53] ferencek commented on #21668
One possible hint is that it only happens with Puppi jets or at least I haven't heard of any non-Puppi cases. So possibly some feature in the momenta of Puppi candidates triggers a problem in FastJet.

[2017-12-15 14:14] rappoccio commented on #21668
It would probably be best to find a reproducible (or close to) test case before bugging the fastjet authors. They may also not help here, we have patched fastjet for multithreading on our own so it may very well be our problem.

[2017-12-15 14:44] Dr15Jones opened #21727 "global and limited OutputModules can not see Run and Lumi transitions"
The Run and LuminosityBlock member functions for global and limited OutputModules are not being called by the framework in the case where RunCache and LuminosityBlockCache are specified for the module.

In addition, `branchIDLists()` is not const so can not be called by a global or limited module outside of its constructor. In principal, that method should be able to avoid doing a lazy computation

[2017-12-15 14:44] cmsbuild commented on #21727
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-15 14:45] Dr15Jones commented on #21727
assign core

[2017-12-15 14:46] cmsbuild commented on #21727
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-16 21:08] cmsbuild commented on #21707
The cleanup has started for slc6_amd64_gcc630

[2017-12-16 21:08] cmsbuild commented on #21707
The cleanup has started for slc7_amd64_gcc630

[2017-12-16 21:08] #21707 closed

[2017-12-16 21:09] cmsbuild commented on #21707
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_6-slc7_amd64_gcc630/868

[2017-12-16 21:15] cmsbuild commented on #21707
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_6-slc6_amd64_gcc630/867

[2017-12-17 22:26] aminnj opened #21740 "gfal compatibility with CMSSW_10"
I'm unable to use gfal-copy in CMSSW_10_0_0_pre1, for example. With
[code]
I get [1]. I saw that the issue at https://github.com/cms-sw/cmssw/issues/14231 discusses something similar. I don't get a crash if I do `LD_PRELOAD=/usr/lib64/gfal2-plugins//libgfal_plugin_xrootd.so gfal-copy -V`. While I understand that CMSSW isn't obligated to support such stageout commands, it would be convenient if it

[2017-12-17 22:26] cmsbuild commented on #21740
A new Issue was created by  @aminnj Nick Amin.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-18 07:01] davidlange6 opened #21741 "Build CMSSW_9_4_2"

[2017-12-18 07:02] cmsbuild commented on #21741
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2017-12-18 07:03] davidlange6 commented on #21741
+1

[2017-12-18 07:04] cmsbuild commented on #21741
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2017-12-18 07:04] cmsbuild commented on #21741
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-12-18 07:05] cmsbuild commented on #21741
The build has started for slc6_amd64_gcc630 in cmsbuild52.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1436/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-18 07:05] cmsbuild commented on #21741
The build has started for slc7_amd64_gcc630 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1437/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-18 10:02] cmsbuild commented on #21741
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_2-slc7_amd64_gcc630/1437
Some tests ( r

[2017-12-18 11:04] cmsbuild commented on #21741
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_2-slc7_amd64_gcc630/1437

Tests results:
21 21 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-18 11:10] davidlange6 commented on #21741
abort

[2017-12-18 11:11] cmsbuild commented on #21741
Deleting CMSSW_9_4_2:

  -Release successfully deleted

  -cmssw tag CMSSW_9_4_2 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_4_2/slc6_amd64_gcc630. Probaly it had not been created.

 -cmsdist tag REL/CMSSW_9_4_2/slc7_amd64_gcc630 successfully deleted.

You must create a new issue to start over the build.

[2017-12-18 11:51] #21741 closed

[2017-12-18 20:57] davidlange6 commented on #21740
Hi @aminnj - can you confirm this is not working since CMSSW_9_3_0?

[2017-12-18 21:42] aminnj commented on #21740
Hi, I just now tried CMSSW_9_3_0 and see the same crash. Going back to 9_2_0, I see the same crash if my SCRAM_ARCH is using gcc630, but not when my SCRAM_ARCH is using gcc530.

[2017-12-19 06:40] davidlange6 commented on #21740
right - while its working by luck in 9_2_0 (eg, no good reason the python libraries have to be compatible, but they happen to be) - the ABI change in gcc630 is breaking this tool in the CMSSW environment.

[2017-12-19 06:41] davidlange6 commented on #21740
assign core

[2017-12-19 06:41] cmsbuild commented on #21740
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-19 06:41] davidlange6 opened #21745 "Build CMSSW_9_4_2"

[2017-12-19 06:41] cmsbuild commented on #21745
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2017-12-19 06:42] davidlange6 commented on #21745
+1

[2017-12-19 06:43] cmsbuild commented on #21745
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2017-12-19 06:43] cmsbuild commented on #21745
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-12-19 06:44] cmsbuild commented on #21745
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1438/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-19 06:44] cmsbuild commented on #21745
The build has started for slc7_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1439/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-19 09:22] cmsbuild commented on #21745
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_2-slc6_amd64_gcc630/1438
Some tests ( r

[2017-12-19 09:45] cmsbuild commented on #21745
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_2-slc7_amd64_gcc630/1439
Some tests ( r

[2017-12-19 10:29] cmsbuild commented on #21745
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_2-slc6_amd64_gcc630/1438

Tests results:
21 21 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-19 10:47] cmsbuild commented on #21745
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_2-slc7_amd64_gcc630/1439

Tests results:
21 21 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-19 11:15] davidlange6 commented on #21745
upload all

[2017-12-19 11:16] cmsbuild commented on #21745
Queing Jenkins upload for slc6_amd64_gcc630

[2017-12-19 11:16] cmsbuild commented on #21745
Queing Jenkins upload for slc7_amd64_gcc630

[2017-12-19 11:16] cmsbuild commented on #21745
The upload has started for slc7_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/964/console

[2017-12-19 11:16] cmsbuild commented on #21745
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/963/console

[2017-12-19 11:18] cmsbuild commented on #21745
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_2-slc6_amd64_gcc630/963
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-19 11:18] cmsbuild commented on #21745
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-19 11:19] cmsbuild commented on #21745
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_2-slc7_amd64_gcc630/964
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-19 11:19] cmsbuild commented on #21745
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-19 15:17] davidlange6 commented on #21745
release-notes

[2017-12-19 15:17] cmsbuild commented on #21745
Generating release notes since CMSSW_9_4_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-12-19 15:17] cmsbuild commented on #21745
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_2

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2017-12-19 15:19] cmsbuild commented on #21745
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_2

[2017-12-19 16:24] dmitrijus commented on #19592
+1

[2017-12-19 16:25] cmsbuild commented on #19592
This issue is fully signed and ready to be closed.

[2017-12-19 16:25] dmitrijus commented on #19590
+1

[2017-12-19 16:25] cmsbuild commented on #19590
This issue is fully signed and ready to be closed.

[2017-12-19 16:25] dmitrijus commented on #19593
+1

[2017-12-19 16:26] cmsbuild commented on #19593
This issue is fully signed and ready to be closed.

[2017-12-19 20:09] Dr15Jones commented on #21727
See https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3814/1/2/1/1/1/1/1.html for details.

[2017-12-20 08:05] davidlange6 opened #21749 "Tracking open items for 1000pre3"
out of the PRs noted at the release meeting, these PRs are still open

Items that missed pre3 (or at last its first candidate build)
#21739 - needs updates from @civanch - not urgent
#21733 - now passes tests
#21657 - rebased now
#21474 - second review from @davidlange6 done - some old comments were still pending. Looks like the hardwired hardware maps are still in flux. Will be for pre4

now inte

[2017-12-20 08:05] cmsbuild commented on #21749
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-20 08:16] abdoulline commented on #21749
#21657 has been updated...

[2017-12-20 08:17] davidlange6 commented on #21749
in addition the 2300 IBs had lots of problems in HCAL DQM.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_10_0_X_2017-12-19-2300/pyRelValMatrixLogs/run/4.17_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step4_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT.log

[not obvious to me how this escaped the PR testing..] P

[2017-12-20 08:49] abdoulline commented on #21749
...Matrix results look OK for this IB
https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline-tests/CMSSW_10_0_X_2017-12-19-2300/slc6_amd64_gcc630/-GenuineIntel/matrix-results/

[2017-12-20 09:50] civanch commented on #21749
#21739 is updated

[2017-12-20 10:49] deguio commented on #21749
I'm running more runTheMatrix tests on top of:
`CMSSW_10_0_X_2017-12-19-2300`
at the moment I wasn't able to reproduce the problem.
`runTheMatrix.py -l 4.6`
completed correctly (including harvesting) for 100 events and 9 LS

[2017-12-20 11:11] deguio commented on #21749
#21683 was updated

[2017-12-20 11:14] tstreble commented on #21749
#21697 was updated

[2017-12-20 11:42] davidlange6 commented on #21749
new vs old gen-sim?
anyway it is reproducible for me

cd CMSSW_10_0_X_2017-12-19-2300
runTheMatrix.py -l 136.731 -t 4

#6  0x00007fa1be862ff4 in MonitorElement::getBinContent(int) const () from /cvmfs/cms-ib.cern.ch/week1/slc6_amd64_gcc630/cms/cmssw-patch/CMSSW_10_0_X_2017-12-19-2300/lib/slc6_amd64_gcc630/libDQMServicesCore.so
#7  0x00007fa1abba9cca in hcaldqm::DigiRunSummary::endLuminosityBlock (

[2017-12-20 11:45] deguio commented on #21749
@davidlange6
interesting. I ran 136.831 and 25202.0 single thread and I didn't see problems.
let me try with -t 4

[2017-12-20 11:54] deguio commented on #21749
indeed enabling multithread makes the crash pop up also with:
`runTheMatrix.py -l 4.6 -t 4`
do I understand correctly that this is the reason why no crashes were observed in the PR tests?

[2017-12-20 11:59] davidlange6 commented on #21749
Yes - must be ( can not be gen-sim recycling as data workflows have problems too)

[2017-12-20 14:42] deguio commented on #21749
I tested the last working IB: CMSSW_10_0_X_2017-12-19-1100+21730
and I don't see crashes.
will do the same with a couple of other PRs while @DryRun  is also looking into the problem.

[2017-12-20 14:56] Dr15Jones commented on #21749
I think I may know why we get the failure. #21652 changed some `DQMAnalyzers` to _global_ modules. Such a change causes a problem if the histograms made by the `DQMAnalyzers` is then 'consumed' by a `DQMHarvester` which is a 'one' module. The problem is both _global_ and _one_ modules are both run at 'global end Run/Lumi' transition. Since the framework does not know there is a dependency between

[2017-12-20 15:09] deguio commented on #21749
ha. interesting.
but here the crash is in the harvesting step where all the dqm modules should be `DQMEDharvesters` so I'm not sure. will look more into it.

@fwyzard

[2017-12-20 15:21] Dr15Jones commented on #21749
@deguio the failures I am looking at are running the DQMHarvester in a non-harvest job: see WF 4.6 which is running the following components:
[code]

[2017-12-20 15:25] deguio commented on #21749
hi @Dr15Jones
for WF 4.6 what is see is a crash in step3 (harvesting) when running
`runTheMatrix.py -l 4.6 -t 4 `

I confirm that the crash was triggered by the merging of #21652
the problem comes from the fact that the ME are not there so the harvesting is crashing when trying to access root objects that don't exist.
MEs are missing from the previous step only when running multithread.

[2017-12-20 15:27] fwyzard commented on #21749
But, the 'global' DQM EDAnalyzer should not need to run anything in the 'global end Run' transition.
anyway, I'll have  a look, of course.

[2017-12-20 15:28] fwyzard commented on #21749
By the way, does anyone know why this was not spotted by the tests of  #21652 ?

[2017-12-20 15:29] deguio commented on #21749
I thin because the jenkins tests run single thread.

[2017-12-20 15:31] Dr15Jones commented on #21749
@deguio for WF 4.6, where are the histograms produced for the histograms being read by the DQMHarvester HcalOfflineHarvesting?

[2017-12-20 15:37] DryRun commented on #21749
Hi @Dr15Jones , the histogram in question is Hcal/RunInfo/NumberOfEvents, which is created here: https://github.com/cms-sw/cmssw/blob/83781ad02b866e4ca0652bccf555692e9c6eb939/DQM/HcalTasks/plugins/DigiTask.cc#L543.

[2017-12-20 16:30] Dr15Jones commented on #21749
I have another theory as to what caused the problem. There are two different phases in the framework as a lumi is ending. There is the 'global end lumi' phase and the 'write lumi' phase. The 'write lumi' phase is only seen by the OutputModules and is when they "write the lumi to output'. So the change in #21652 deletes some histograms at 'end of global end lumi' which is before 'write lumi' gets c

[2017-12-20 16:33] fwyzard commented on #21749
Ah... OK, I didn't know there was a lumi-related phase after the `postGlobalEndLumi`.
Is there any way for a `Service` to be told ?

[2017-12-20 16:34] Dr15Jones commented on #21749
NOTE: The only reason storing lumi histograms to the output file from a non-stream module works is because 'global end lumi' and 'write lumi' are run in that order. If there were a 'data dependency' between the modules generating the histograms and the OutputModule writing the histograms (i.e. changing DQMAnalyzers to EDProducers) then we would not have to rely on obscure synchronizations between

[2017-12-20 16:35] Dr15Jones commented on #21749
@fwyzard we do not at present have such a Service call back (which is one reason I keep forgetting about that 'write' phase). I'd really like to get rid of the seperate 'write' phase, but that would require changing all the DQM system to use 'data dependencies'.

[2017-12-20 16:36] fwyzard commented on #21749
Even if that were the case, how would the `DQMStore` know to delete the histograms *after* they have been saved ?

[2017-12-20 16:41] Dr15Jones commented on #21749
I'd be OK with moving the Service callbacks for 'end of global end lumi' and 'end of global end run' to be after their respective 'write' phase has finished.

[2017-12-20 16:51] fwyzard commented on #21749
I still cannot picture how the data dependency would work, because the DQM modules need to "consume" event-based data and "produce" lumi- or run-based data.

Anyway, possible workarounds for pre3:
  - revert the change about the deletion of the histograms
  - temporarily move the deletion from `postGlobalEndLumi` to `preGlobalBeginLumi`

[2017-12-20 17:01] fwyzard commented on #21749
See #21752 for the latter.

[2017-12-20 17:21] fwyzard commented on #21749
See #21753 for the former.

[2017-12-20 20:43] slava77 commented on #21749
#21717 track NN selections will take longer due to some regressions in comparisons. So, most likely for pre4 only.

[2017-12-20 20:55] davidlange6 commented on #21749
so we are at J+4 hours already.. i think we can manage waiting until 700 cern time tomorrow morning instead of ~now - it seems this would help the mahi PR at least.

[2017-12-20 20:55] davidlange6 opened #21755 "Build CMSSW_10_0_0_pre3"

[2017-12-20 20:56] cmsbuild commented on #21755
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2017-12-20 20:56] davidlange6 commented on #21755
build cmssw-tool-conf

[2017-12-20 20:56] cmsbuild commented on #21755
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc700, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2017-12-20 20:58] cmsbuild commented on #21755
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1440/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-20 21:02] cmsbuild commented on #21755
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1441/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-20 21:14] cmsbuild commented on #21755
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild52.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1442/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-20 21:14] cmsbuild commented on #21755
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild64.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1443/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-20 21:20] cmsbuild commented on #21755
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1444/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-20 21:30] deguio commented on #21749
thanks @davidlange6 @slava77
for the record: I've opened PR#21756 rebasing the #21657 from @matz-e

[2017-12-20 22:39] cmsbuild commented on #21755
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc630/1441

[2017-12-20 22:47] cmsbuild commented on #21755
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc630/1443

[2017-12-21 00:41] cmsbuild commented on #21755
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_aarch64_gcc700/1440

[2017-12-21 01:39] lpernie commented on #21749
Hello @davidlange6 ,
together with PR #21756 , there is another PR( #21758 ) that should be included in pre3 if possible. As explained in the description this PR included some TAGs for HCAL that were left outside in the 2018 realistic GT.

[2017-12-21 01:40] cmsbuild commented on #21755
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc700/1444

[2017-12-21 02:21] cmsbuild commented on #21755
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc700/1442

[2017-12-21 04:41] lpernie commented on #21749
We are experiencing 'DAS Error' in both the PR. I assume this is a temporary glitch, I will re-trigger the tests.

[2017-12-21 09:46] davidlange6 commented on #21755
+1

[2017-12-21 09:47] cmsbuild commented on #21755
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-12-21 09:47] cmsbuild commented on #21755
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2017-12-21 09:47] cmsbuild commented on #21755
The build has started for slc7_amd64_gcc630 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1447/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 09:47] cmsbuild commented on #21755
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1446/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 09:47] cmsbuild commented on #21755
The build has started for slc6_amd64_gcc630 in cmsbuild51.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1445/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 09:48] cmsbuild commented on #21755
The build has started for slc7_amd64_gcc700 in cmsbuild57.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1448/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 09:48] cmsbuild commented on #21755
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1449/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 11:49] cmsbuild commented on #21755
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc700/1446
Some tes

[2017-12-21 12:42] cmsbuild commented on #21755
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_aarch64_gcc700/1449
Some

[2017-12-21 12:49] cmsbuild commented on #21755
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc630/1447
Some tes

[2017-12-21 12:52] cmsbuild commented on #21755
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc700/1446

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-21 13:15] cmsbuild commented on #21755
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc700/1448
Some tes

[2017-12-21 13:53] davidlange6 commented on #21755
abort

[2017-12-21 13:54] cmsbuild commented on #21755
Deleting CMSSW_10_0_0_pre3:

  -Release successfully deleted

  -cmssw tag CMSSW_10_0_0_pre3 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_0_0_pre3/slc6_amd64_gcc630. Probaly it had not been created.

 -cmsdist tag REL/CMSSW_10_0_0_pre3/slc7_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_10_0_0_pre3/slc7_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CM

[2017-12-21 14:05] #21755 closed

[2017-12-21 14:05] davidlange6 opened #21763 "Build CMSSW_10_0_0_pre3"

[2017-12-21 14:05] cmsbuild commented on #21763
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2017-12-21 14:06] davidlange6 commented on #21763
+1

[2017-12-21 14:07] cmsbuild commented on #21763
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-12-21 14:07] cmsbuild commented on #21763
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2017-12-21 14:07] cmsbuild commented on #21763
The build has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1450/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 14:08] cmsbuild commented on #21763
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1451/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 14:08] cmsbuild commented on #21763
The build has started for slc6_amd64_gcc700 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1452/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 14:09] cmsbuild commented on #21763
The build has started for slc7_amd64_gcc630 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1453/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 14:23] cmsbuild commented on #21745
The cleanup has started for slc6_amd64_gcc630

[2017-12-21 14:23] cmsbuild commented on #21745
The cleanup has started for slc7_amd64_gcc630

[2017-12-21 14:23] #21745 closed

[2017-12-21 14:24] cmsbuild commented on #21745
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_2-slc6_amd64_gcc630/869

[2017-12-21 14:28] cmsbuild commented on #21763
The build has started for slc7_amd64_gcc700 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1454/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 14:31] cmsbuild commented on #21745
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_2-slc7_amd64_gcc630/870

[2017-12-21 16:36] cmsbuild commented on #21763
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc630/1450
Some tes

[2017-12-21 16:53] cmsbuild commented on #21763
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_aarch64_gcc700/1451
Some

[2017-12-21 17:35] cmsbuild commented on #21763
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc700/1452
Some tes

[2017-12-21 17:40] cmsbuild commented on #21763
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc630/1450

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-21 17:46] cmsbuild commented on #21763
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc700/1454
Some tes

[2017-12-21 17:50] cmsbuild commented on #21763
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc630/1453
Some tes

[2017-12-21 18:45] cmsbuild commented on #21763
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc700/1452

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-21 18:53] cmsbuild commented on #21763
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc700/1454

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-21 19:05] cmsbuild commented on #21763
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc630/1453

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-21 19:27] cmsbuild commented on #21763
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_aarch64_gcc700/1451

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-21 21:02] davidlange6 commented on #21763
upload all

On 21 Dec 2017, at 20:27, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_aarch64_gcc700
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3-slc7_aarch64_gcc700/1451

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this beca

[2017-12-21 21:02] cmsbuild commented on #21763
Queing Jenkins upload for slc6_amd64_gcc630

[2017-12-21 21:02] cmsbuild commented on #21763
Queing Jenkins upload for slc6_amd64_gcc700

[2017-12-21 21:02] cmsbuild commented on #21763
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-12-21 21:02] cmsbuild commented on #21763
Queing Jenkins upload for slc7_amd64_gcc630

[2017-12-21 21:02] cmsbuild commented on #21763
Queing Jenkins upload for slc7_amd64_gcc700

[2017-12-21 21:03] cmsbuild commented on #21763
The upload has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/965/console

[2017-12-21 21:03] cmsbuild commented on #21763
The upload has started for slc6_amd64_gcc700 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/966/console

[2017-12-21 21:04] cmsbuild commented on #21763
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc700/966
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-21 21:05] cmsbuild commented on #21763
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3-slc6_amd64_gcc630/965
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-21 21:05] cmsbuild commented on #21763
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-21 21:05] cmsbuild commented on #21763
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-21 21:05] cmsbuild commented on #21763
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/967/console

[2017-12-21 21:05] cmsbuild commented on #21763
The upload has started for slc7_amd64_gcc700 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/969/console

[2017-12-21 21:05] cmsbuild commented on #21763
The upload has started for slc7_amd64_gcc630 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/968/console

[2017-12-21 21:05] cmsbuild commented on #21763
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3-slc7_aarch64_gcc700/967
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-21 21:06] cmsbuild commented on #21763
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc700/969
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-21 21:06] cmsbuild commented on #21763
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-21 21:06] cmsbuild commented on #21763
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3-slc7_amd64_gcc630/968
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-21 21:06] cmsbuild commented on #21763
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-21 21:09] davidlange6 commented on #21763
release-notes

On 21 Dec 2017, at 22:08, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since <previous-release>", in the first line of your comment.
I will generate the release notes based on the release

[2017-12-21 21:10] cmsbuild commented on #21763
Generating release notes since CMSSW_10_0_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-12-21 21:10] cmsbuild commented on #21763
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_0_0_pre3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_0_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_0_pre3
https://cmss

[2017-12-21 21:11] cmsbuild commented on #21763
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3

[2017-12-21 21:35] Dr15Jones opened #21769 "AlcaBeamMonitor has thread safety problem"
In CMSSW_10_0_X_2017-12-21-1100 for slc6_amd64_gcc700 architecture the workflows 136.767 and 136.822 crashed at end of luminosity processing where all threads were in the AlcaZBeamMonitor. Specifically they were in function calls for `ROOT::Minuit2`.

[2017-12-21 21:36] cmsbuild commented on #21769
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-21 21:37] Dr15Jones commented on #21769
The traceback for 136.767 is
[code]

[2017-12-21 21:38] Dr15Jones commented on #21769
The traceback for wf 136.822
[code]

[2017-12-21 21:39] Dr15Jones commented on #21769
assign alca, reconstruction

[2017-12-21 21:39] cmsbuild commented on #21769
New categories assigned: reconstruction,alca

@slava77,@cerminar,@perrotta,@arunhep,@franzoni,@lpernie,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-21 21:47] smuzaffar opened #21770 "Build CMSSW_10_0_0_pre3_GEANT4"
RELEASE_QUEUE:CMSSW_10_0_X
 ARCHITECTURE:slc6_amd64_gcc630

[2017-12-21 21:47] cmsbuild commented on #21770
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2017-12-21 22:02] cmsbuild commented on #21770
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2017-12-21 22:08] smuzaffar commented on #21770
+1

[2017-12-21 22:09] cmsbuild commented on #21770
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3_GEANT4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-12-21 22:09] cmsbuild commented on #21770
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-12-21 22:09] cmsbuild commented on #21770
The build has started for slc6_amd64_gcc630 in cmsbuild68.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1455/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-21 22:31] cmsbuild commented on #21770
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_GEANT4-slc6_amd64_gcc630/1455

[2017-12-21 22:40] smuzaffar commented on #21770
@civanch , @davidlange6 : looks like geant4 10.04 and clhep 2.4.0.0 is wrong combination. If we want to build 10.0.0_pre3_GEANT4 release then we might have to revert clhep from cmsdist 10.0.X. This combination also broke the IBs

[code]

[2017-12-21 23:04] slava77 commented on #21668
assign core

[2017-12-21 23:04] cmsbuild commented on #21668
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-21 23:34] slava77 commented on #21668
[this may be just a part of the problem, but this part is apparently related to the core, either a RefVector or elements inside of it are not thread safe]

I tried to investigate this using the original issue input file from MC processing
This was in 940patch1 using /store/mc/RunIIFall17DRStdmix/QCD_Pt_80to120_TuneCP5_13TeV_pythia8/AODSIM/NoPU_94X_mc2017_realistic_v10-v2/70000/6692DC82-C0D5-E711-B

[2017-12-22 00:42] Dr15Jones commented on #21668
Is the GenParticlesRefVector generated in the job or is it coming from storage?

[2017-12-22 00:47] slava77 commented on #21668
On 12/21/17 4:42 PM, Chris Jones wrote:

The refVector is generated (process.patJetPartons =
cms.EDProducer("HadronAndPartonSelector",)

The genParticles come from storage.

[2017-12-22 00:56] Dr15Jones commented on #21668
Which of the collections from HadronAndPartonSelector is being used by the loop in JetFlavourClustering?

[2017-12-22 00:59] Dr15Jones commented on #21668
Are the GenParticles set for earlyDelete?

[2017-12-22 01:19] slava77 commented on #21668
On 12/21/17 4:56 PM, Chris Jones wrote:

patJetPartons_physicsPartons

these are not on the early delete list

[2017-12-22 01:19] Dr15Jones commented on #21668
Since the collection was read back from storage and then used to fill the GenParticlesRefVector, the `push_back` done in `HadronAndPartonSelector` would call
https://github.com/cms-sw/cmssw/blob/master/DataFormats/Common/interface/RefVectorBase.h#L86

and therefore get the pointer to the object in the original collection.

The iterator over the collection ultimately calls RefVector::operator()[]
h

[2017-12-22 01:28] slava77 commented on #21668
On 12/21/17 5:19 PM, Chris Jones wrote:

interesting.

This is indeed in 940, as can be seen in the last commit for this file
in 940
https://github.com/cms-sw/cmssw/commit/908b4dbce52f9cf0b5a9834d6a7fbd17990334dd#diff-1c35e7722c1cce2720b091259b713001R80

[2017-12-22 01:30] slava77 commented on #21668
It's worth to double-check what else may have gone bad in #20789

[2017-12-22 01:37] Dr15Jones commented on #21668
Fix is in #21772

[2017-12-22 01:43] slava77 commented on #21668
my guess is that the test will require a full release recompilation.
Perhaps I better wait for an IB with this and then check the JetFlavourClustering there

[2017-12-22 01:46] Dr15Jones commented on #21668
Probably just rebuilding JetFlavourClustering would be enough to quickly test to see if that solved the problem (since it is only in reading the RefVector).

[2017-12-22 02:56] slava77 commented on #21668
it looks like it did the job
- all 142 instances of JetFlavourClustering are reading the same count of partons with pt>0.
- there are no exceptions from fastjet in my (modified) version of JetFlavourClustering

[2017-12-22 07:27] davidlange6 commented on #21770
lets wait for @civanch - the geant4 10.4 update was the reason behind wanting to change to clhep 2.4...

[2017-12-22 08:21] davidlange6 opened #21776 "Build CMSSW_7_1_31"

[2017-12-22 08:22] cmsbuild commented on #21776
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2017-12-22 08:22] davidlange6 commented on #21776
+1

[2017-12-22 08:23] cmsbuild commented on #21776
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_31. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2017-12-22 08:23] cmsbuild commented on #21776
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-12-22 08:36] cmsbuild commented on #21776
The build has started for slc6_amd64_gcc481 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1456/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-12-22 09:01] #21749 closed

[2017-12-22 12:02] cmsbuild commented on #21776
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_31-slc6_amd64_gcc481/1456
Some tests (

[2017-12-22 12:19] cmsbuild commented on #21776
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_31-slc6_amd64_gcc481/1456

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2017-12-22 13:13] davidlange6 commented on #21770
hi @smuzaffar - so could you restart this reverting clhep?

[2017-12-22 13:17] smuzaffar commented on #21770
sure

[2017-12-22 13:20] cmsbuild commented on #21770
The build has started for slc6_amd64_gcc630 in cmsbuild64.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1457/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-12-22 15:54] davidlange6 commented on #21776
upload all

[2017-12-22 15:55] cmsbuild commented on #21776
Queing Jenkins upload for slc6_amd64_gcc481

[2017-12-22 15:56] cmsbuild commented on #21776
The upload has started for slc6_amd64_gcc481 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/970/console

[2017-12-22 15:57] cmsbuild commented on #21776
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_31-slc6_amd64_gcc481/970
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-22 15:57] cmsbuild commented on #21776
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-22 16:59] davidlange6 commented on #21776
release-notes

[2017-12-22 17:00] cmsbuild commented on #21776
Generating release notes since CMSSW_7_1_30.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-12-22 17:00] cmsbuild commented on #21776
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_31 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_30 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_31

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2017-12-22 17:01] cmsbuild commented on #21776
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_31

[2017-12-22 17:11] slava77 opened #21780 "BadRefCore RefCore in packedPFCandidates (rereco job, EOYReReco2017 , Run2017F, Tau dataset)"
@arizzi @gpetruc

[2017-12-22 17:11] cmsbuild commented on #21780
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-22 17:12] slava77 commented on #21780
assign reconstruction

[2017-12-22 17:12] cmsbuild commented on #21780
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-22 18:27] cmsbuild commented on #21770
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_GEANT4-slc6_amd64_gcc630/1457
S

[2017-12-22 19:38] cmsbuild commented on #21770
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_GEANT4-slc6_amd64_gcc630/1457

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-12-22 21:47] davidlange6 commented on #21770
upload all

On 22 Dec 2017, at 20:38, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_GEANT4-slc6_amd64_gcc630/1457

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this b

[2017-12-22 21:48] cmsbuild commented on #21770
Queing Jenkins upload for slc6_amd64_gcc630

[2017-12-22 21:48] cmsbuild commented on #21770
The upload has started for slc6_amd64_gcc630 in cmsbuild64.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/971/console

[2017-12-22 21:52] cmsbuild commented on #21770
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3_GEANT4-slc6_amd64_gcc630/971
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-12-22 21:53] cmsbuild commented on #21770
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-12-23 19:54] Dr15Jones commented on #21769
Another instance has occurred:
[code]

[2017-12-23 19:56] Dr15Jones commented on #21769
@smuzaffar @davidlange6 @fabiocos These failures have all been on the slc6_amd64_gcc700 builds. So is there a difference in ROOT for gcc700?

[2017-12-23 20:23] cmsbuild commented on #21763
The cleanup has started for slc7_aarch64_gcc700

[2017-12-23 20:23] cmsbuild commented on #21763
The cleanup has started for slc6_amd64_gcc630

[2017-12-23 20:23] cmsbuild commented on #21763
The cleanup has started for slc6_amd64_gcc700

[2017-12-23 20:23] cmsbuild commented on #21763
The cleanup has started for slc7_amd64_gcc630

[2017-12-23 20:23] cmsbuild commented on #21763
The cleanup has started for slc7_amd64_gcc700

[2017-12-23 20:23] #21763 closed

[2017-12-23 20:24] cmsbuild commented on #21763
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre3-slc7_aarch64_gcc700/873

[2017-12-23 20:25] cmsbuild commented on #21763
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre3-slc6_amd64_gcc630/871

[2017-12-23 20:30] cmsbuild commented on #21763
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre3-slc6_amd64_gcc700/872

[2017-12-23 20:30] cmsbuild commented on #21763
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre3-slc7_amd64_gcc630/874

[2017-12-23 20:31] cmsbuild commented on #21763
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre3-slc7_amd64_gcc700/875

[2017-12-24 15:34] Dr15Jones commented on #21780
Taking an educated guess, I think the exception may be coming from
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatAlgos/plugins/PATPackedCandidateProducer.cc#L263

On this line
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatAlgos/plugins/PATPackedCandidateProducer.cc#L239
`PVOrig` is checked to be non-null, but on line 263 there is no such protection.

[2017-12-24 15:39] Dr15Jones opened #21787 "PATPackedCandidateProducer makes copies during sort"
The function used to sort PatCandidates copies the objects in its function arguments:https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatAlgos/plugins/PATPackedCandidateProducer.cc#L44

In addition, this is a member function that requires no access to member data so should be marked as `static`. That is also true for the `sort_indexes` function.

The proper function signature should be
[co

[2017-12-24 15:40] cmsbuild commented on #21787
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-24 15:40] Dr15Jones commented on #21787
assign reconstruction, analysis

[2017-12-24 15:40] cmsbuild commented on #21787
New categories assigned: analysis,reconstruction

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-24 15:53] arizzi commented on #21780
Hi,
well the point is that we do not expect to have no PV. IIRC (but have no
time to debug this now) a fake, BS based, one is inserted when none is
fitted.

ciao
andrea

Il 24 dic 2017 4:35 PM, "Chris Jones" <notifications@github.com> ha scritto:

Taking an educated guess, I think the exception may be coming from
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatAlgos/plugins/
PATPackedC

[2017-12-24 15:56] arizzi commented on #21780
ah hold on those are the  associated PV... perhaps we have a case with idx
=-1... still have no PC to debug it now...

Il 24 dic 2017 4:53 PM, "Andrea Rizzi" <andrea.rizzi@cern.ch> ha scritto:

[2017-12-24 16:08] cmsbuild commented on #21776
The cleanup has started for slc6_amd64_gcc481

[2017-12-24 16:08] #21776 closed

[2017-12-24 16:14] cmsbuild commented on #21776
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_31-slc6_amd64_gcc481/876

[2017-12-24 17:15] arizzi commented on #21780
Hi,
looking again at the code, the original PV associatore code wasn't
returning -1 (because the dz association could not fail), this has been
recently changed [1] using timing info (a  phase2 development) and for
simplicity it was switched to use dz significance (because the track error
is the same for all vertices and the vertex error is not used the ranking,
this is the same as dz when no timin

[2017-12-24 17:35] arizzi commented on #21780
I confirm that here
https://github.com/cms-sw/cmssw/blob/master/CommonTools/RecoAlgos/src/PrimaryVertexAssignment.cc#L68
we get a `-nan` from dzError().

I would suggest to fix the PVAssignment so that it doesn't return -1 (e.g. not using the significance when not needed, or checking the validity of the track error)
A fix in the PATPackedCandidate producer is also possible but I'm not sure if ther

[2017-12-24 22:34] Dr15Jones opened #21788 "ROOT 6.0.12 problems"
The ROOT 6.0.12 test integration builds are having periodic failures in the RelVals.

[2017-12-24 22:35] cmsbuild commented on #21788
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-24 22:36] Dr15Jones commented on #21788
In IB /CMSSW_10_0_ROOT612_X_2017-12-24-0000 for workflow 1363.17 on step 3 we had a crash right at the beginning:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_ROOT612_X_2017-12-24-0000/pyRelValMatrixLogs/run/1363.17_VBFHToBB_M125_Pow_py8_Evt_13UP17+VBFHToBB_M125_Pow_py8_Evt_13UP17+DIGIUP17+RECOUP17+HARVESTUP17/step3_VBFHToBB_M125_Pow_py8_Evt_13UP17+VBFHToBB_M125_Pow_p

[2017-12-24 22:43] Dr15Jones commented on #21788
In IB CMSSW_10_0_ROOT612_X_2017-12-22-2300 we had two workflows fail, both because of failed asserts in ROOT.

workflow 136.816 step3:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_ROOT612_X_2017-12-22-2300/pyRelValMatrixLogs/run/136.816_RunHLTPhy2017E+RunHLTPhy2017E+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017/step3_RunHLTPhy2017E+RunHLTPhy2017E+HLTDR2_2017+RECODR2

[2017-12-24 22:49] Dr15Jones commented on #21788
Integration build CMSSW_10_0_ROOT612_X_2017-12-21-1100 had one workflow fail due to a segmentation fault, worfklow 11626.0 for step3:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_ROOT612_X_2017-12-21-1100/pyRelValMatrixLogs/run/11626.0_QCD_Pt_600_800_13+QCD_Pt_600_800_13TeV_TuneCUETP8M1_2019_GenSimFull+DigiFull_2019+RecoFull_2019+ALCAFull_2019+HARVESTFull_2019/step3_QC

[2017-12-24 22:49] Dr15Jones commented on #21788
assign core

[2017-12-24 22:49] cmsbuild commented on #21788
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-12-24 22:50] Dr15Jones commented on #21788
@pcanal I've gathered the seen ROOT 6.0.12 CMS IB problems under one issue.

[2017-12-27 16:30] Dr15Jones commented on #21769
@pcanal Here is where we are tracking the fitting problems.

[2017-12-27 16:34] Dr15Jones commented on #21769
I have a theory as to why this is happening. The `TMinuit` instance used by the fitter is set here
https://github.com/root-project/root/blob/948847893c8cec95b1b1e48caceddf9c1156fbd9/math/minuit/src/TMinuitMinimizer.cxx#L184

If the compiler optimizer decided to change the code to be more like
[code]
Then we'd have a race condition which would cause such crashes. The optimizer is allowed to make su

[2018-01-02 15:54] dan131riley opened #21796 "Possible race in beam spot fitter"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_X_2017-12-31-0000/pyRelValMatrixLogs/run/134.71_RunZeroBias2015B+RunZeroBias2015B+HLTDR2_50ns+RECODR2_50nsreHLT_HIPM+HARVESTDR2/step3_RunZeroBias2015B+RunZeroBias2015B+HLTDR2_50ns+RECODR2_50nsreHLT_HIPM+HARVESTDR2.log

Possibly another race condition somewhere under TH1::Fit() (subject of a couple of previous issues):

[code

[2018-01-02 15:56] cmsbuild commented on #21796
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-02 16:02] dan131riley commented on #21796
Possibly related to #21769

[2018-01-02 16:12] dan131riley commented on #21769
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_X_2017-12-28-2300/pyRelValMatrixLogs/run/136.804_RunHLTPhy2017D+RunHLTPhy2017D+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017/step3_RunHLTPhy2017D+RunHLTPhy2017D+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017.log

This one, and the traceback in #21796 (which I opened before noticing this one) looks like a shared pointer

[2018-01-02 16:31] slava77 commented on #14564
I think that this was fixed a while back with #18442

[2018-01-02 21:22] dan131riley commented on #21769
wrt Chris's theory,

         fMinuit =  new TMinuit(dim);
         fgMinuit = fMinuit;

gets compiled to

        call    _ZN7TMinuitC1Ei@PLT     #
        movq    _ZN16TMinuitMinimizer8fgMinuitE@GOTPCREL(%rip), %rax    #, tmp150
        movq    %rbx, 176(%rbp) # prephitmp_82, this_35(D)->fMinuit
        movq    %rbx, (%rax)    # prephitmp_82, fgMinuit

In English,

1. make new TMinuit in %rbx
1.

[2018-01-04 06:11] civanch commented on #21770
Extra checks were done for this build:
1) confirmed, that data file are OK
2) Combined calorimeter test-beam test confirms, that with this IB results are the same as in the ROOT6 branch and are very similar as in 10_0_0_pre3. One illustration - pi- results

[2018-01-05 15:22] mzarucki opened #21806 "mcFlavour NTupleVariable in Heppy PhysicsTools is same as partonFlavour"
mcFlavour NTupleVariable in Heppy PhysicsTools is same as partonFlavour, defined in autophobj.py:

https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/Heppy/python/analyzers/objects/autophobj.py#L186

[2018-01-05 15:22] cmsbuild commented on #21806
A new Issue was created by  @mzarucki .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-05 15:39] Dr15Jones opened #21807 "LHESource is not concurrent Runs safe"
LHESource keeps a pointer to the last RunPrinicipal it saw. This is not going to work once the framework allows processing multiple Runs simultaneously.

The underlying issue is LHESource does not properly deal with Run products. All the work should be done in readRun but that is not the case.

[2018-01-05 15:39] Dr15Jones commented on #21807
assign generator, core

[2018-01-05 15:39] cmsbuild commented on #21807
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-05 15:40] cmsbuild commented on #21807
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-08 09:41] fabiocos commented on #21806
assign analysis

[2018-01-08 09:43] cmsbuild commented on #21806
New categories assigned: analysis

@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-08 16:43] dan131riley commented on #21769
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_X_2018-01-04-2300/pyRelValMatrixLogs/run/136.771_RunDoubleMuon2016H+RunDoubleMuon2016H+HLTDR2_2016+RECODR2_2016reHLT_Prompt+HARVESTDR2/step3_RunDoubleMuon2016H+RunDoubleMuon2016H+HLTDR2_2016+RECODR2_2016reHLT_Prompt+HARVESTDR2.log

Another variation.  Most of these seem to be pointing towards problems with FitResult/TFitResu

[2018-01-08 20:23] smuzaffar commented on #21769
@Dr15Jones , root in both gcc630 and gcc700 is same (6.10.08 commit 4584aec)  with following changes in gcc700

- use cxx17
- an additional c++17 patch
- use ninja to build root
- rfio and castor are disabled.

https://github.com/cms-sw/cmsdist/compare/IB/CMSSW_10_0_X/gcc630...IB/CMSSW_10_0_X/gcc700#diff-81217efc115a8de6b75eeef2a6324e47

https://github.com/cms-sw/cmsdist/compare/IB/CMSSW_10_0_X/gc

[2018-01-09 08:47] fabiocos opened #21814 "Problem in Pyquen RelVals"
The IB RelVals 300 301 and 302 are failing since January 4th, apparently after the integration of the PR 21783 with a configuration problem

%MSG
----- Begin Fatal Exception 05-Jan-2018 05:14:47 CET-----------------------
An exception of category 'Configuration' occurred while
   [0] Constructing the EventProcessor
   [1] Constructing module: class=MixingModule label='mix'
Exception Message:
RootE

[2018-01-09 08:47] cmsbuild commented on #21814
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-09 09:47] arizzi commented on #21780
@slava77  should I add a protection and make a PR against both 10x and 9x?
@VinInn can you have a look also about why we get nan from dzError ?