[2021-07-29 11:01] cmsbuild commented on #34675
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_ppc64le_gcc9/3117

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-29 11:38] smuzaffar commented on #34675
@qliphy, @silviodonato , @perrotta,  we have lost the last powerpc machine too. So I am afraid `cc8_ppc64le_gcc9` can not be build for now. I would suggest that if rest look good then please go ahead and upload the release.

[2021-07-29 11:51] qliphy commented on #34675
Thanks @smuzaffar  Ok, let's wait first for the final results of cc8_ppc64le_gcc9 build

[2021-07-29 11:59] smuzaffar commented on #34675
`cc8_ppc64le_gcc9` is not going to build, so you are not going to get result for that. All three  ppc64le machines are not accessible , there is ticket open https://cern.service-now.com/service-portal?id=ticket&table=incident&n=INC2866693 for few days now.

Only `slc7_aarch64_gcc9` is running for now and soon you will get result for that.

[2021-07-29 12:52] cmsbuild commented on #34675
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_aarch64_gcc9/3110

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-29 12:52] qliphy commented on #34675
upload all

[2021-07-29 12:53] cmsbuild commented on #34675
Queing Jenkins upload for cc8_amd64_gcc9

[2021-07-29 12:53] cmsbuild commented on #34675
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-07-29 13:22] makortel commented on #34629
Right, that's what I guessed too. I'm including the surrounding `WARNING` messages to give a little bit of context around the `ERROR` for future reference (when the IB logs have vanished).

[2021-07-29 13:26] makortel commented on #34686
assign core

[2021-07-29 13:26] cmsbuild commented on #34686
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-29 13:33] Dr15Jones commented on #34686
@pcanal thoughts?

[2021-07-29 13:34] makortel commented on #34686
The file in question is `/store/data/Run2016F/BTagCSV/AOD/21Feb2020_UL2016-v1/20000/AC2C02D3-F49D-7A43-86B5-B5121A78553B.root` at T2_US_MIT. CMSSW version is CMSSW_10_6_25. The logs don't show much else interesting. The exception is thrown at file open time (as could be guessed from the exception stemming from EventAuxiliary branch).

[2021-07-29 13:51] agrohsje commented on #34531
@Dominic-Stafford ok, that was my understanding.
@davidlange6 any additional feedback on your job output? my test worked well.
if there is no further follow-up I suggest to go with an odd number per thread.

[2021-07-29 13:58] qliphy commented on #34675
@smuzaffar  Jenkins gets stuck?   Uploading usually can be very quick..

[2021-07-29 14:25] kpedro88 commented on #34633
The relval input test timed out again: https://github.com/cms-sw/cmssw/pull/34597#issuecomment-889052203

so it seems the problem is not fully resolved.

[2021-07-29 14:28] dildick commented on #34633
I can temporarily disable the GEM-CSC trigger until all LUTs are in a eventsetup object.

[2021-07-29 14:43] dildick commented on #34633
https://github.com/cms-sw/cmssw/pull/34693

[2021-07-29 14:44] kpedro88 commented on #34633
thanks @dildick

[2021-07-29 14:44] cmsbuild commented on #34675
Queing Jenkins upload for slc7_amd64_gcc10

[2021-07-29 14:44] cmsbuild commented on #34675
Queing Jenkins upload for slc7_amd64_gcc900

[2021-07-29 14:44] cmsbuild commented on #34675
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-07-29 14:45] cmsbuild commented on #34675
The upload has started for slc7_amd64_gcc10 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1995/console

[2021-07-29 14:45] cmsbuild commented on #34675
The upload has started for slc7_amd64_gcc900 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1996/console

[2021-07-29 14:46] cmsbuild commented on #34675
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc10/1995

[2021-07-29 14:47] cmsbuild commented on #34675
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc900/1996

[2021-07-29 14:48] cmsbuild commented on #34675
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1999/console

[2021-07-29 14:48] cmsbuild commented on #34675
The was error uploading slc7_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre5-slc7_ppc64le_gcc9/1997

[2021-07-29 14:50] cmsbuild commented on #34675
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre5-slc7_aarch64_gcc9/1999

[2021-07-29 14:50] smuzaffar commented on #34675
@qliphy , as ppc64le machines are not accessiblem, so relese for slc7_ppc64le_gcc9 can not be uploaded by bot. Let me see if I can do it by hand

[2021-07-29 14:56] smuzaffar commented on #34675
The machine where ppc64 release was built is not reachable [a]. Please go ahead and announce the release without ppc64le archs.

[a]
[code]

[2021-07-29 15:03] davidlange6 opened #34694 "g4 crash"
I happened upon this in CMSSW_11_3_0 after a few hundred events.. It seems reproducible so might be of use to improve the rate of crashes in geant4..

[code]

[code]

[2021-07-29 15:03] cmsbuild commented on #34694
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-29 15:05] makortel commented on #34694
assign simulation

[2021-07-29 15:05] cmsbuild commented on #34694
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-29 15:07] davidlange6 commented on #34694
running on an intel cpu..

[2021-07-29 15:17] qliphy commented on #34675
thanks @smuzaffar
It seems cc8_amd64_gcc9 uploading is stuck?

[2021-07-29 15:17] dildick commented on #34633
@Dr15Jones Do you have an example of "One ESProducer can create multiple objects (you just register multiple produce type methods)." If so, I can work on it today.

[2021-07-29 15:23] Dr15Jones commented on #34633
@dildick the idea is the module has a member function for each type you want to produce and then you  call `setWhatProduced` mulitple times passing in the member functions to be called as arguments. E.g.

https://github.com/cms-sw/cmssw/blob/bec73cc7eebb30608c73685df0ff07025d838dd2/FWCore/Integration/test/ConcurrentIOVESSource.cc#L93-L97

(The `setWhatProduced(this)` just looks for a member functi

[2021-07-29 15:35] makortel commented on #34633
So I ran an IgProf on 11725.0 in CMSSW_12_0_X_2021-07-28-2300 (that was being killed in RelVal-INPUT tests in some PR). I'm starting with step3 (even if for RelVal_INPUT tests step2 would be more relevant, I'll get back to that later)

`EventProcessor::init()` takes 302 s
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/CMSSW_12_0_X_2021-07-28-2300/test_11725.0_step3_06_perf/9

Creating the

[2021-07-29 15:42] cmsbuild commented on #34675
The upload has started for cc8_amd64_gcc9 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2001/console

[2021-07-29 15:44] cmsbuild commented on #34675
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre5-cc8_amd64_gcc9/2001

[2021-07-29 15:49] smuzaffar commented on #34675
cc8 upload is done now. When should we open 12_1_X?

[2021-07-29 15:52] qliphy commented on #34675
@smuzaffar   Please hold on 12_1_X for a while.   @perrotta and I discussed and would like to merge several PRs in 12_0_X to avoid too many backports.    @perrotta will contact you later to open 12_1_X cycle when ready.  Thanks!

[2021-07-29 15:52] qliphy commented on #34675
release-notes

[2021-07-29 15:53] cmsbuild commented on #34675
Generating release notes since CMSSW_12_0_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-07-29 15:53] cmsbuild commented on #34675
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre5 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_0_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_0_pre5

Cheers,
cms-bot

[2021-07-29 15:56] makortel commented on #34633
In IgProf of step2 shows much bigger problems than the CSC text files, mostly `edm::checkForModuleDependencyCorrectness` taking almost 15 min https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/CMSSW_12_0_X_2021-07-28-2300/test_11725.0_step2_06_perf/9 . I'm looking into this with @Dr15Jones.

The step2 configuration is huge. It has 5054 EDModules and 721 Paths (and 3 EndPaths).

[2021-07-29 15:57] cmsbuild commented on #34675
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre5

[2021-07-29 16:01] makortel commented on #34633
Of the 721 paths, 680 have their name starting with `HLT_` (24 with `MC_`, 8 with `AlCa_`, 3 with `DST_`). @cms-sw/hlt-l2 is this the expected scale for Run3 (2021) RelVal workflows?

[2021-07-29 16:10] cmsbuild commented on #34675
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3119/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-29 16:12] cmsbuild commented on #34675
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2002/console

[2021-07-29 16:13] cmsbuild commented on #34675
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre5-slc7_ppc64le_gcc9/2002

[2021-07-29 16:14] smuzaffar commented on #34675
looks like ibmminsky servers are available now. slc7_ppc64le_gcc9 has been uploaded and  cc8_ppc64le_gcc9 just started the build phase.

[2021-07-29 16:17] Martin-Grunewald commented on #34633
Yes, this is a typical pp HLT menu.

[2021-07-29 16:26] dildick commented on #34633
@Dr15Jones That looks a bit more complicated than I what I initially had in mind.

Would you settle for this proposal: The `CSCL1TPLookupTableEP` ESSource has 3 booleans, `runCCLUT`, `runME11ILT`, `runME21ILT`. The booleans are turned on with era modifiers `run3_common`, `run3_GEM` and `phase2_muon` respectively. Only when the switches are on they load the text files and set the data members (vect

[2021-07-29 16:44] Dr15Jones commented on #34633
@dildick in general, leaving member data empty leads to very hard to debug problems down the road since nothing prevents later created code from using it and thinking all is OK. If you REALLY want to go that route then I'd suggest throwing an exception if the unset data is requested.

[2021-07-29 17:06] dildick commented on #34633
Alright, I understand. Let's go with the cleanest solution then, i.e. `CSCL1TPLookupTableEP` producing
- `CSCL1TPLookupTableCCLUT`, if runCCLUT = True
- `CSCL1TPLookupTableME11ILT`, if runME11ILT = True
- `CSCL1TPLookupTableME21ILT`, if runME21ILT = True

[2021-07-29 17:24] Dr15Jones commented on #34633
In the case you create 3 separate object, there is no need for a member data. Just register all 3 produce methods. The framework will only call the method if someone requests the data product.

[2021-07-29 17:36] qliphy opened #34696 "Build CMSSW_12_0_0_pre5_G4VECGEOM"
CMSSW_COMMIT:CMSSW_12_0_0_pre5

[2021-07-29 17:37] Dr15Jones commented on #34633
A simpler example would have been

https://github.com/cms-sw/cmssw/blob/0c5c2a8d72f5e6b572dbba1b07f0889f5d91dd96/FWCore/Integration/test/WhatsItESProducer.cc#L91-L97

the labels are only needed since all the functions create the same C++ object type. If you use different types, you do not have to use a label to distinguish them.

[2021-07-29 17:37] cmsbuild commented on #34696
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-07-29 17:37] qliphy commented on #34696
+1
cc @civanch

[2021-07-29 17:38] cmsbuild commented on #34696
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre5_G4VECGEOM. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_0_GEANT4_X

[2021-07-29 17:38] cmsbuild commented on #34696
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-07-29 17:38] cmsbuild commented on #34696
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3120/console
CMSDIST Branch: [IB/CMSSW_12_0_X/geant4_vecgeom](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/geant4_vecgeom), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-29 17:39] Dr15Jones commented on #34633
One that is actually used in production is

https://github.com/cms-sw/cmssw/blob/0c5c2a8d72f5e6b572dbba1b07f0889f5d91dd96/SimCalorimetry/EcalTrigPrimProducers/plugins/EcalTrigPrimESProducer.cc#L57-L72

[2021-07-29 19:17] slava77 commented on #34633
@bainbrid
RecoEgamma/ElectronIdentification/data/LowPtElectrons/
RunII_Autumn18_LowPtElectrons_unbiased.xml.gz and RunII_Autumn18_LowPtElectrons_displaced_pt_eta_biased.xml.gz

For a start these are candidates to be converted to root files.
Are you available to make a conversion some time soon?
Further on, is there an opportunity to reduce the size of the training?

[2021-07-29 19:50] perrotta commented on #34675
@smuzaffar I've merged as many PRs as possible, compatibly with a "bug fix" (or simple technical) only release.
I think we can open the 12_1_X cycle now, and move the master over there.

[2021-07-29 20:02] cmsbuild commented on #34675
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_ppc64le_gcc9/3119
Some tests

[2021-07-29 20:02] cmsbuild commented on #34675
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-07-29 20:04] cmsbuild commented on #34675
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2003/console

[2021-07-29 20:05] cmsbuild commented on #34675
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre5-cc8_ppc64le_gcc9/2003

[2021-07-29 20:49] cmsbuild commented on #34675
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_ppc64le_gcc9/3119

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-07-29 21:18] cmsbuild commented on #34696
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5_G4VECGEOM-slc7_amd64_gcc900/312

[2021-07-29 22:03] cmsbuild commented on #34696
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5_G4VECGEOM-slc7_amd64_gcc900/3120

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-30 01:25] qliphy commented on #34696
upload all

[2021-07-30 01:25] cmsbuild commented on #34696
Queing Jenkins upload for slc7_amd64_gcc900

[2021-07-30 01:28] cmsbuild commented on #34696
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2004/console

[2021-07-30 01:36] cmsbuild commented on #34696
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre5_G4VECGEOM-slc7_amd64_gcc900/2004

[2021-07-30 01:36] qliphy commented on #34696
release-notes since 12_0_0_pre5

[2021-07-30 01:37] cmsbuild commented on #34696
Previous release "12_0_0_pre5" does not appear to be a valid release name

[2021-07-30 01:38] cmsbuild commented on #34696
Generating release notes since CMSSW_12_0_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-07-30 01:38] cmsbuild commented on #34696
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre5_G4VECGEOM is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_12_0_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_0_pre5_G4VECGEOM

Cheers,
cms-bot

You can also click <a href="

[2021-07-30 01:39] makortel commented on #34647
Here is the printout from CMSSW_12_0_X_2021-07-28-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc9/CMSSW_12_0_X_2021-07-28-2300/unitTestLogs/FWCore/Utilities#/122-122

Then to think how the number can be 3.

[2021-07-30 01:41] cmsbuild commented on #34696
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre5_G4VECGEOM

[2021-07-30 02:34] tvami commented on #32357
Hi @cvuosalo do you maybe have a better view of what the plans are related to this issue?

[2021-07-30 02:59] kpedro88 commented on #32357
The point of this issue is to use the meta-GT approach to enable the use of *geometry* DB files. Currently, all Phase 2 geometries are read from XML because it's prohibitive to maintain N separate GT queues.

[2021-07-30 03:22] srimanob commented on #32357
Ah, so the key point is that we can load DB geometries of all versions of all detectors and compose the GT. So, we have 1 queue only. Right? Yeah, this looks like a good way to move on, maybe for DD4hep.

[2021-07-30 04:05] dildick commented on #34633
@Dr15Jones The ECAL TPG example was very helpful. I was able to put together a solid draft https://github.com/cms-sw/cmssw/compare/master...dildick:from-CMSSW_12_0_X_2021-07-29-2300-CSCL1TPLookupTable-v3?expand=1. The code compiles but needs to be tested. I'll try to get to that tomorrow. I also hope that https://github.com/cms-sw/cmssw/pull/34693 helps to solve some of the issues with the relvals

[2021-07-30 05:19] ramonbrugman commented on #34633
Truw

[2021-07-30 05:41] perrotta commented on #34647
Or even 4:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc9/CMSSW_12_0_X_2021-07-29-2300/unitTestLogs/FWCore/Utilities#/111

[2021-07-30 06:58] smuzaffar commented on #34675
@perrotta , I am working on 12.1.X now

[2021-07-30 07:42] bainbrid commented on #34633
Hi @slava77, yes, I can attempt to convert - should be successful and should speed things up here. As for reducing the model size, possibly yes, I'll enquire. However, I am about to take vacations in August. What is the timeline?

[2021-07-30 07:48] smuzaffar commented on #34675
12.1.X release cycle is open now and I have started an IB for it at 9h00. Hopefully new IB will be available around 14h00 for PR tests till then bot will use 12.0.X IBs for tests

[2021-07-30 08:31] perrotta commented on #34675
Thank you @smuzaffar !

Should I wait for that first 12_1_X IB to build 12_1_0_pre1, or could it even be started now (it being identical to CMSSW_12_0_X_2021-07-29-2300)? (Maybe the question is also for @qliphy and @silviodonato ...)

[2021-07-30 08:35] smuzaffar commented on #34675
no need to wait for IB, you can already start 12_112_1_0_pre1.

[2021-07-30 08:37] perrotta opened #34701 "Build CMSSW_12_1_0_pre1"

[2021-07-30 08:38] cmsbuild commented on #34701
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-07-30 08:39] perrotta commented on #34701
+1

[2021-07-30 08:39] cmsbuild commented on #34701
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-07-30 08:39] cmsbuild commented on #34701
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-07-30 08:41] cmsbuild commented on #34701
The build has started for cc8_amd64_gcc9 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3121/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-30 08:41] cmsbuild commented on #34701
The build has started for slc7_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3122/console
CMSDIST Branch: [IB/CMSSW_12_1_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-30 08:41] cmsbuild commented on #34701
The build has started for slc7_amd64_gcc900 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3123/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-30 08:43] cmsbuild commented on #34701
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3124/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-30 08:44] cmsbuild commented on #34701
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3125/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-30 08:51] cmsbuild commented on #34701
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3126/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-30 09:38] smuzaffar commented on #34559
@tklijnsma , the `'utf-8' codec can't decode byte ...` messages are harmless and should be ignored. I have updated the configuration to not process `.pyc` files.
I have fixed the ProjectRename issue for CMSSW_12_0_X_2021-07-29-2300 IB, can you please try this?

[2021-07-30 10:07] cmsbuild commented on #34701
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3127/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-30 11:35] davidlange6 opened #34704 "autodqm @ L1TMuon crashes in 11_3_0"
doing some testing I find that adding the @ L1TMuon in 11_3_0 to some MC crashes at the first event... It seems that this component of autodqm is not tested in any run 3 workflow. Is it obsolete?

[code]
where the input file is RAWSIM.

no sign of an error message, but the traceback looks like this
[code]

[2021-07-30 11:35] cmsbuild commented on #34704
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-30 11:58] perrotta commented on #34704
assign @cms-sw/dqm-l2, @cms-sw/l1-l2

[2021-07-30 12:20] slava77 commented on #34633
@bainbrid
thank you for confirming that the conversion to a .root file is possible. Are you still available before the vacation to do this?
I understand that a change in the model itself to make it smaller can take much longer; this can  follow much later.

[2021-07-30 12:25] slava77 opened #34705 "remove "goto" in PixelThresholdClusterizer"
https://github.com/cms-sw/cmssw/pull/34606#discussion_r678722067

http://cms-sw.github.io/cms_coding_rules.html#7--design-and-coding-guidelines-1
7.16 "do not use goto"

an easy solution since c++11 is to wrap the loop as a lambda and use return instead of a goto.

@cms-sw/trk-dpg-l2

[2021-07-30 12:26] slava77 commented on #34705
assign reconstruction

[2021-07-30 12:26] cmsbuild commented on #34705
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-30 12:26] cmsbuild commented on #34705
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-30 12:30] VinInn commented on #34705
not sure how wise is to change a 20 year old code (that works) just to conform to a more modern esthetic.

[2021-07-30 12:34] perrotta commented on #34704
assign dqm, l1

[2021-07-30 12:35] cmsbuild commented on #34704
New categories assigned: dqm,l1

@jfernan2,@kmaeshima,@rekovic,@rvenditti,@andrius-k,@cecilecaillol,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-30 12:43] slava77 commented on #34705
it's apparently only 9 yo
https://github.com/cms-sw/cmssw/commit/3649430e5309e984a3a7852a6e8cbabcf6239d4a#diff-fd9ff4ada15b0bdcf26c28a92efb27cb6523bfbf7dac66dcfcc6313a79c65f6aR359

[2021-07-30 12:50] cmsbuild commented on #34701
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-slc7_amd64_gcc10/3122
Some tests

[2021-07-30 13:04] dan131riley commented on #34704
`sig_pause_for_stacktrace` isn't the thread that crashed, you want the thread with `sig_dostack_then_abort`.  Does the crash reproduce single-threaded?

[2021-07-30 13:09] cmsbuild commented on #34701
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-slc7_ppc64le_gcc9/3125
Some tes

[2021-07-30 13:17] cmsbuild commented on #34701
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-cc8_ppc64le_gcc9/3124
Some tests

[2021-07-30 13:23] davidlange6 commented on #34704
hum, I was following the log that says "Module: L1TMuonBarrelTrackProducer:valBmtfDigis (crashed)" - but right, I pasted the wrong part of the traceback

[code]

[2021-07-30 13:24] davidlange6 commented on #34704
let me see if I can still run this in single thread or not, I changed my area...

[2021-07-30 13:27] Dr15Jones commented on #34633
@dildick thanks for the quick turn around! I have a few comments
[code]
needs to be
[code]
as the lifetime of the object passed to the module's constructor is not guaranteed to be longer than the module.

In your `set` functions, e.g.
[code]
pass the argument by value and then do a `std::move`
[code]
Then when calling the `set_` function also do a `std::move`
[code]
This will avoid a copy of the e

[2021-07-30 13:28] bainbrid commented on #34633
Unfortunately not... My vacation starts tomorrow, and the conversion will likely require some small dev and some careful validation. I'll get to it as soon as I can.

[2021-07-30 13:30] cmsbuild commented on #34701
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-cc8_amd64_gcc9/3121
Some tests ( r

[2021-07-30 13:31] davidlange6 commented on #34704
yes, it also crashes with one thread on the first event..

[2021-07-30 13:35] cmsbuild commented on #34701
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-slc7_amd64_gcc10/3122

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-30 13:41] slava77 opened #34707 "convert LowPtGsfElectronSeedProducer model from xml to root"
https://github.com/cms-sw/cmssw/issues/34633#issuecomment-889698425

The StreamSchedule constructor is mostly about constructing EDModules 118 s
Some that stand out :

`LowPtGsfElectronSeedProducer` 35 s https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/CMSSW_12_0_X_2021-07-28-2300/test_11725.0_step3_06_perf/127
    * Mostly about reading GBRForest XML https://mkortela.web.cern.ch/mkortela/c

[2021-07-30 13:41] cmsbuild commented on #34707
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-30 13:42] slava77 commented on #34633
I created #34707.

Have a nice vacation.

[2021-07-30 13:50] cmsbuild commented on #34701
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-slc7_aarch64_gcc9/3127
Some tes

[2021-07-30 14:08] dan131riley commented on #34647
Perhaps more significant, that failure is on ppc64.  I had been unable to reproduce the crash on my Apple Silicon M1, so I was leaning towards the theory that it could be another issue with the idiosyncrasies of the  Cavium ThunderX cores, but if we're seeing it on Power9 too that's a different story.

[2021-07-30 14:11] cmsbuild commented on #34701
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-cc8_ppc64le_gcc9/3124

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-07-30 14:13] cmsbuild commented on #34701
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-slc7_ppc64le_gcc9/3125

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-30 14:13] cmsbuild commented on #34701
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-slc7_amd64_gcc900/3123
Some tes

[2021-07-30 14:18] cmsbuild commented on #34701
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-cc8_amd64_gcc9/3121

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-30 14:51] cmsbuild commented on #34701
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-slc7_aarch64_gcc9/3127

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-30 14:56] cmsbuild commented on #34701
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-slc7_amd64_gcc900/3123

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-30 15:17] makortel commented on #34707
assign reconstruction

[2021-07-30 15:17] cmsbuild commented on #34707
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-30 15:17] civanch commented on #34694
@bsunanda , have you ever see similar problem? I see it for the first time and already submit to Geant4 geometry developers.

[2021-07-30 15:32] bsunanda commented on #34694
No I saw several failures - but not of this type (in EstimateIntersectionPoint). I saw failure reporting -ve step length which is not very different than this. I thought I reported on this.

[2021-07-30 15:33] cmsbuild commented on #34701
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-cc8_aarch64_gcc9/3126
Some tests

[2021-07-30 15:34] perrotta commented on #34701
upload all

[2021-07-30 15:34] cmsbuild commented on #34701
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-07-30 15:34] cmsbuild commented on #34701
Queing Jenkins upload for cc8_amd64_gcc9

[2021-07-30 15:34] cmsbuild commented on #34701
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-07-30 15:34] cmsbuild commented on #34701
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-07-30 15:34] cmsbuild commented on #34701
Queing Jenkins upload for slc7_amd64_gcc10

[2021-07-30 15:34] cmsbuild commented on #34701
Queing Jenkins upload for slc7_amd64_gcc900

[2021-07-30 15:34] cmsbuild commented on #34701
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-07-30 15:37] cmsbuild commented on #34701
The upload has started for cc8_amd64_gcc9 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2006/console

[2021-07-30 15:37] cmsbuild commented on #34701
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2008/console

[2021-07-30 15:37] cmsbuild commented on #34701
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2007/console

[2021-07-30 15:37] cmsbuild commented on #34701
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2005/console

[2021-07-30 15:38] cmsbuild commented on #34701
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre1-cc8_aarch64_gcc9/2005

[2021-07-30 15:38] cmsbuild commented on #34701
The upload has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2009/console

[2021-07-30 15:38] cmsbuild commented on #34701
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre1-cc8_ppc64le_gcc9/2007

[2021-07-30 15:38] cmsbuild commented on #34701
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre1-slc7_aarch64_gcc9/2008

[2021-07-30 15:38] cmsbuild commented on #34701
The upload has started for slc7_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2010/console

[2021-07-30 15:39] cmsbuild commented on #34701
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre1-cc8_amd64_gcc9/2006

[2021-07-30 15:39] cmsbuild commented on #34701
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre1-slc7_amd64_gcc10/2010

[2021-07-30 15:39] cmsbuild commented on #34701
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2011/console

[2021-07-30 15:40] cmsbuild commented on #34701
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre1-slc7_ppc64le_gcc9/2011

[2021-07-30 15:41] cmsbuild commented on #34701
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre1-slc7_amd64_gcc900/2009

[2021-07-30 16:17] perrotta commented on #34701
@smuzaffar (just in case you are around, and apologize for being new in the game): do you think the upload is finished? Why there is still an "uploading builds" in orange?

[2021-07-30 16:22] smuzaffar commented on #34701
yes upload for all releases are finished. The comment `The upload has successfully finished ... ` is generated at the end of the upload process. All 7 archs have been uploaded

[2021-07-30 16:26] cmsbuild commented on #34701
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre1-cc8_aarch64_gcc9/3126

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-07-30 16:29] perrotta commented on #34701
Thank you @smuzaffar !
The still orange box was confusing me...

[2021-07-30 16:29] perrotta commented on #34701
release-notes

[2021-07-30 16:29] cmsbuild commented on #34701
Unable to find previous release for CMSSW_12_1_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2021-07-30 16:30] perrotta commented on #34701
release-notes since CMSSW_12_0_0_pre5

[2021-07-30 16:31] cmsbuild commented on #34701
Generating release notes since CMSSW_12_0_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-07-30 16:31] cmsbuild commented on #34701
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_1_0_pre1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_0_pre5 can be found at:

https://github.com/cms-

[2021-07-30 16:31] cmsbuild commented on #34701
Generating release notes since CMSSW_12_0_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-07-30 16:31] cmsbuild commented on #34701
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_1_0_pre1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_0_pre5 can be found at:

https://github.com/cms-

[2021-07-30 16:39] cmsbuild commented on #34701
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre1

[2021-07-30 16:39] cmsbuild commented on #34701
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre1

[2021-07-31 08:41] fwyzard commented on #33797
Yes, it's still failing in `CMSSW_12_1_0_pre1`:
[code]

[2021-07-31 13:53] cmsbuild commented on #34675
The cleanup has started for slc7_aarch64_gcc9

[2021-07-31 13:53] cmsbuild commented on #34675
The cleanup has started for cc8_amd64_gcc9

[2021-07-31 13:53] cmsbuild commented on #34675
The cleanup has started for cc8_ppc64le_gcc9

[2021-07-31 13:53] cmsbuild commented on #34675
The cleanup has started for slc7_amd64_gcc10

[2021-07-31 13:53] cmsbuild commented on #34675
The cleanup has started for slc7_amd64_gcc900

[2021-07-31 13:53] cmsbuild commented on #34675
The cleanup has started for slc7_ppc64le_gcc9

[2021-07-31 13:53] #34675 closed

[2021-07-31 23:38] cmsbuild commented on #34696
The cleanup has started for slc7_amd64_gcc900

[2021-07-31 23:38] #34696 closed

[2021-07-31 23:38] cmsbuild commented on #34696
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre5_G4VECGEOM-slc7_amd64_gcc900/1727

[2021-08-01 14:38] cmsbuild commented on #34701
The cleanup has started for cc8_aarch64_gcc9

[2021-08-01 14:38] cmsbuild commented on #34701
The cleanup has started for slc7_aarch64_gcc9

[2021-08-01 14:38] cmsbuild commented on #34701
The cleanup has started for cc8_amd64_gcc9

[2021-08-01 14:38] cmsbuild commented on #34701
The cleanup has started for cc8_ppc64le_gcc9

[2021-08-01 14:38] cmsbuild commented on #34701
The cleanup has started for slc7_amd64_gcc10

[2021-08-01 14:38] cmsbuild commented on #34701
The cleanup has started for slc7_amd64_gcc900

[2021-08-01 14:38] cmsbuild commented on #34701
The cleanup has started for slc7_ppc64le_gcc9

[2021-08-01 14:38] #34701 closed

[2021-08-01 14:38] cmsbuild commented on #34701
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre1-cc8_aarch64_gcc9/1728

[2021-08-01 14:38] cmsbuild commented on #34701
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre1-slc7_aarch64_gcc9/1731

[2021-08-01 14:38] cmsbuild commented on #34701
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre1-cc8_ppc64le_gcc9/1730

[2021-08-01 14:38] cmsbuild commented on #34701
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre1-cc8_amd64_gcc9/1729

[2021-08-01 14:38] cmsbuild commented on #34701
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre1-slc7_amd64_gcc900/1733

[2021-08-01 14:38] cmsbuild commented on #34701
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre1-slc7_ppc64le_gcc9/1734

[2021-08-01 14:38] cmsbuild commented on #34701
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre1-slc7_amd64_gcc10/1732

[2021-08-02 10:07] francescobrivio opened #34717 "Update to DQM onlinebeammonitor"
In order to properly monitor the updates of the BeamSpotOnline tags at lumisection level the configuration of the client
[onlinebeammonitor_dqm_sourceclient-live_cfg.py](https://github.com/cms-sw/cmssw/blob/master/DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py) needs to be updated to include the `refreshTime` parameter.
This change only affects the **monitoring** of

[2021-08-02 10:07] cmsbuild commented on #34717
A new Issue was created by  @francescobrivio .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-02 10:09] cmsbuild commented on #34717
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-02 11:14] smuzaffar opened #34718 "Header files from `non-interface` sub-directory included"
I am trying to update build rules to not allow including headers from `non-interface` directory of a package (6.3:  http://cms-sw.github.io/cms_coding_rules.html#6--packaging-rules-1 ). Currently there are over 100 such header files [a] whcih are used. Can we please go through [a] and check if these header files provide public interface then move to `interface` directory or cleanup their usage ( i

[2021-08-02 11:15] cmsbuild commented on #34718
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-02 11:16] cmsbuild commented on #34718
New categories assigned: core,upgrade,visualization,geometry,db,analysis,alca,generators,daq,reconstruction,l1,heterogeneous,dqm,simulation

@Dr15Jones,@Dr15Jones,@Dr15Jones,@francescobrivio,@smuzaffar,@cvuosalo,@civanch,@civanch,@jfernan2,@Saptaparna,@slava77,@ggovi,@tvami,@malbouis,@pohsun,@emeschi,@mkirsano,@kmaeshima,@alja,@SiewYan,@srimanob,@rekovic,@rvenditti,@fwyzard,@andrius-k,@alberto-san

[2021-08-02 12:54] kpedro88 commented on #34718
@smuzaffar does this include .h files in the plugins directory that are only included by other files in the plugins directory? This has been allowed in some cases in the past.

[2021-08-02 12:58] smuzaffar commented on #34718
@kpedro88 , no. Including a `.h` file from same directory (plugins, src or test) is allowed. Only thing which is not allowed is including `.h` from another package's `non-interface` directory

[2021-08-02 16:32] dildick commented on #34633
@Dr15Jones I implemented your suggestions. Testing the code now. Getting this in WF 11634.0.
[code]
Where/how should I insert the ES producer ```CSCL1TPLookupTableEP``` that delivers ```CSCL1TPLookupTableME11ILTRcd```?

[2021-08-02 16:40] dildick commented on #34633
I think I need to inject it here: https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TMuon/python/simDigis_cff.py#L16 and other trigger cff files that load the muon trigger.

[2021-08-02 17:18] Dr15Jones commented on #34633
Seems reasonable. In principal, any configuration that directly names the module of type 'CSCTriggerPrimitivesProducer' should have the ESProducer added. I do such checks by doing
[code]

In that case only one hit
[code]

so it looks like this is more useful

[code]

which yields
[code]

[2021-08-02 20:06] Dr15Jones commented on #34718
@smuzaffar some of these are to allow unit testing. I think we need to distinguish against headers used as part of the 'public' interface of a module and those meant for 'private' (i.e. meant to only be used by code in subdirectories of the given package like /src /test, etc).

[2021-08-02 20:19] smuzaffar commented on #34718
@Dr15Jones , using private headers (i.e files in `non-interface` dirs) in `non-interface` dirs of the  same package is fine but unit test of packageA should not use private headers of PackageB.

[2021-08-02 20:55] Dr15Jones commented on #31199
NOTE: the new algorithm in #34735 properly identifies the circular dependency described in this issue.

[2021-08-03 01:41] tvami commented on #18340
unassign alca
assign db
* I think this needs a DB signature, not AlCa

[2021-08-03 01:42] tvami commented on #18340
assign db

[2021-08-03 01:43] cmsbuild commented on #18340
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-03 01:47] tvami commented on #20173
kindly ping @hatakeyamak
(or @slava77 if you know more about the status of this)

[2021-08-03 01:57] tvami commented on #23661
Hi @cerminar I see you've edited the `RawPCCProducer.cc` code. Would you be available to address the content of this issue as well? If not, who should we contact? Or is this not relevant anymore? Thanks!

[2021-08-03 02:16] tvami commented on #25090
Hi @makortel I think Phat's answer is correct, there seems to be a `multicore` option in the T0 configs.
Do we (AlCa) need to take any action or you will take care of this? Thanks!

[2021-08-03 07:08] cerminar commented on #23661
Hello @tvami, I would say that this code belongs to the LUMI POG, I would contact the L2 conveners.

[2021-08-03 08:15] mzarucki commented on #34197
Dear all,

We have been doing a number of tests on both Hilton and a separate GPU machine to better understand the crashes and try to isolate them (as it is a 3D problem). Apologies for the delay, however, certain crashes caused the Hilton GPU machine to become unreachable, requiring manual intervention by the sysadmins each time ([CMSONS-13216](https://its.cern.ch/jira/browse/CMSONS-13216)).

To

[2021-08-03 08:35] fwyzard commented on #34197
Hi all,

what is the expected behaviour if HCAL is not in the run ?
  - produce an empty collection of HCAL rechits
  - do not produce any HCAL rechit collection ?

.A

[2021-08-03 09:11] perrotta commented on #34659
Can anybody confirm that #34684 fixed the issue also on hilton?
If so, this github issue can get closed (and concentrate on the Hcal ones reported in #34197)

[2021-08-03 09:22] mzarucki commented on #34197
Dear all,

[continuing from the previous post]

- Concerning the ECAL protections, as already reported, we have not seen any crashes when running over a menu with only ECAL reconstruction over the same data ([e-log](http://cmsonline.cern.ch/cms-elog/1121305)).
- We were able test the Pixel PR (https://github.com/cms-sw/cmssw/pull/34684) by pointing the Hilton to a local _CMSSW 11_3_3_ install, wit

[2021-08-03 09:30] mzarucki commented on #34659
Dear all,

I have just summarised our (TSG FOG) investigations into the different Pixel, HCAL and ECAL crashes that we were seeing related to the missing protections for when a subsystem is not included in the run: https://github.com/cms-sw/cmssw/issues/34197

Concerning the Pixel PR https://github.com/cms-sw/cmssw/pull/34684, as indicated (and reported in today's [daily run meeting](http://schwic

[2021-08-03 09:58] agrohsje commented on #34718
@theofil @Dominic-Stafford : Is one of you available to handle:
https://github.com/cms-sw/cmssw/tree/master/GeneratorInterface/Herwig6Interface
Does it still make sense to keep this? @qliphy: what do you think ?

[2021-08-03 10:01] thomreis commented on #34197
Hi @mzarucki, thanks for the detailed analysis. Does the exception with ECAL and Pixel reco happen at the first event or only later?

[2021-08-03 10:59] smuzaffar commented on #34559
This has been fixed for `CMSSW_12_1_0_pre1` . @tklijnsma , can you please try this and let me know if this works for you on htcondor nodes?

[2021-08-03 12:00] theofil commented on #34718
@agrohsje
as far as I can see it is only 2 files that use this old fortran header [https://cmssdt.cern.ch/lxr/source/GeneratorInterface/Herwig6Interface/src/hwudat.f](https://cmssdt.cern.ch/lxr/source/GeneratorInterface/Herwig6Interface/src/hwudat.f)

- [https://cmssdt.cern.ch/lxr/source/GeneratorInterface/PomwigInterface/plugins/hwudat.F](https://cmssdt.cern.ch/lxr/source/GeneratorInterface/Pomwi

[2021-08-03 12:09] mzarucki commented on #34197
Quick update: @fwyzard kindly pointed out that the reason for the `what(): bad lexical cast` is related to a misconfiguration of the `EvFDaqDirector` for the `.root` input file that we have available (picked up by `process.source.fileListMode = True`). Without this setting, the _HcalOnly_ menu does not crash on the input file - therefore, we cannot reproduce what is seen on Hilton.

I am trying to

[2021-08-03 12:11] smuzaffar commented on #34718
@theofil , please also create GeneratorInterface/Herwig6Interface/src/hwudat.F with following contents
[code]

this will allow to scram compile `hwudat.F` for `Herwig6Interface` package too

[2021-08-03 12:27] Dominic-Stafford commented on #34718
On the question of whether it makes sense to keep this, Herwig 7 is advertised as a direct replacement to Herwig 6, whereas Herwig++ didn't implement all of the old functionality, so arguably the reason to keep Herwig 6 no longer exists. Of course if people still use it we can continue supporting it.

[2021-08-03 12:51] mzarucki commented on #34197
Hi again,

@fwyzard managed to reproduce the HCAL crash by requiring the `cmsRun` job to be run with multiple threads.

Here is a simplfied recipe @mariadalfonso:
[code]

The _modified_ configuration file already includes the following changes:
- Pointing to the input file `/nfshome0/mzarucki/GPUTests/ECALout_HCALout_PIXELout/run343762/run_343762.root`
- Removed `process.source.fileListMode = True

[2021-08-03 12:52] thomreis commented on #34197
Thanks. I was so far not able to reproduce the crash for ECAL + Pixel. I think a `.raw` input file would help get it to run for me as well.

[2021-08-03 13:23] theofil commented on #34531
@davidlange6 @Dr15Jones @smuzaffar  @colizz @agrohsje @Dominic-Stafford

would you change the number of events per thread to an odd number or how do we proceed ?

[2021-08-03 13:28] agrohsje commented on #34718
hi @smuzaffar in fact the file is already there we just need to update. @theofil @Dominic-Stafford : let's make the corresponding pr with the modification and then discuss removing obsolete files. there seem more that we can remove. let's centrally coordinate.

[2021-08-03 15:02] ericcano commented on #33797
This is fixed in https://github.com/cms-externals/eigen-git-mirror/pull/5. One commit was missing to the latest active version of Eigen.

[2021-08-03 15:17] jfernan2 commented on #34717
+1
Fixed in the PRs above

[2021-08-03 15:17] cmsbuild commented on #34717
This issue is fully signed and ready to be closed.

[2021-08-03 15:41] agrohsje commented on #34531
followed up here:
https://github.com/cms-sw/cmssw/pull/34710/files/ce06076dc65aadc045eb878c99ee0ef3f88cd48a..2e7e1c0ca67865630b9aae21948cf75b6ffad0e5
thanks @colizz

[2021-08-03 15:41] agrohsje commented on #34531
+generators

[2021-08-03 15:41] cmsbuild commented on #34531
This issue is fully signed and ready to be closed.

[2021-08-03 15:47] #34717 closed

[2021-08-03 16:26] mzarucki commented on #34197
Hi @thomreis,

I managed to generate a `.raw` file from the `.root` file: `/nfshome0/mzarucki/GPUTests/ECALout_HCALout_PIXELout/run343762/run343762_ls0001_index000005.raw`

Furthermore, I also managed to recreate the ECAL crash using the following config `/nfshome0/mzarucki/GPUTests/CosmicsGPUFixed_NoHcal-V1_modified.py` with CMSSW_11_3_3 that includes the Pixel PR on top (mirroring what is done o

[2021-08-03 16:53] smuzaffar commented on #34531
Looks like `mergeLHE.py` script search for `<init>` and </init>` at the start of the line
https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/LHEInterface/scripts/mergeLHE.py#L199
https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/LHEInterface/scripts/mergeLHE.py#L210
while in the `thread*/cmsgrid_final.lhe` files I see that there are line with starting spaces in them e.g.

[2021-08-03 16:57] smuzaffar commented on #34531
by the way you can download the `thread*/cmsgrid_final.lhe` files from https://cern.ch/muzaffar/537_step1.tgz

[2021-08-03 17:35] colizz commented on #34531
Hi @smuzaffar thanks for noticing this! Looking into the code I agree that the real reason for the collapse is due to the extra spaces you mention.
The extra spaces before `<init>` is tricky, but we haven't met this issue in other situations we are testing (we validate over all LHE cases, put in this repo https://github.com/cms-sw/cmssw/blob/60697c8665538c3f88fbfd03f1502c3468266a52/GeneratorInterf

[2021-08-03 17:40] dildick commented on #34633
@Dr15Jones I have a running version of the CSC/GEM-CSC trigger with the lookup tables in eventsetup objects. Going to test it on a single muon relval and submit the PR later this week.

[2021-08-03 18:34] agrohsje commented on #34531
@smuzaffar: let me add. mcatnlo generates a file that is called cmsgrid_final.lhe. the systematics module crashes when printing the summary statistics (1/(+w - w) = 1/0. so instead of the proper file with systematic weights mergeLHE.pl uses 3 times the output from systematics, once from mcatnlo. this is what is causing the difference you are reporting.
@colizz still it might make sense to make it

[2021-08-03 22:36] fwyzard commented on #34197
With the attached version of [`CosmicsGPUFixed_NoHcal-V1_modified.py`](https://github.com/cms-sw/cmssw/files/6927390/CosmicsGPUFixed_NoHcal-V1_modified.txt) (modified to read a normal .root file) I get errors about some pixel kernels, while the ECAL part looks fine.

In fact, if I comment out the `HLT_Pixel_v1` path, the job runs to completion, and the summary shows that the ECAL modules run fine:

[2021-08-04 06:13] srimanob commented on #32592
Is there action needed for this issue, or should we close? Thanks.

[2021-08-04 06:44] perrotta commented on #34381
@kirschen please confirm that the issue is solved by #34382, and close this github issue if so

[2021-08-04 06:52] perrotta opened #34753 "Unknown PDG id code 9010221 to GenParticleProducer"
Since some while the following error message appears in (e.g.) wf 4007.0 QCD_Pt_30_80_BCtoE_8TeV

[code]

9020221 seems to be a legitimate id code for eta(1475), see https://pdg.lbl.gov/2007/reviews/montecarlorpp.pdf

Would it be possible to make somehow our `GenParticleProducer` aware of it, so that we can get rid of that crash?

[2021-08-04 06:52] perrotta commented on #34753
assign generators

[2021-08-04 06:52] cmsbuild commented on #34753
New categories assigned: generators

@Saptaparna,@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-04 06:52] cmsbuild commented on #34753
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-04 07:03] fwyzard commented on #34197
Investigating some more, if I comment out the ECAL paths (`HLT_ECALHT1_v1`, `HLT_ECALHT1_NoGPU_v1`, `HLT_ECALHT1_GPU_v1`), the job **also** succeeds, and I can see that the pixel code ran:
[code]

[2021-08-04 07:10] fwyzard commented on #34197
While keeping all paths enabled, the job always crashes. So there seems to be some destructive interference between the ECAL and Pixel reconstruction :-/

[2021-08-04 07:12] fwyzard commented on #34197
@mzarucki could you confirm that - with 11.3.3 plus the latest fixes - running **only** the ECAL paths **or** the Pixel paths works also on Hilton ?

[2021-08-04 07:20] smuzaffar commented on #34586
any update?

[2021-08-04 07:21] iarspider commented on #34753
Possibly the same as #34586

[2021-08-04 07:39] perrotta commented on #34753
Indeed, thank you: I did not notice it

[2021-08-04 07:40] perrotta commented on #34753
Closing as replica of #34586

[2021-08-04 07:40] #34753 closed

[2021-08-04 08:08] mzarucki commented on #34197
Hi @fwyzard,

Yes, our previous tests have already shown this. I have re-done them and confirm that we see no crashes when running only one set of path types in _11_3_3_ + fixes. We saw this already for ECAL in the pure _11_3_3_ release, and we see this for Pixel (_11_3_3_ + Pixel PR) and HCAL (_11_3_3_ + HCAL PR).

Cheers,
Mateusz

[2021-08-04 08:19] thomreis commented on #34197
I could reproduce the crash with the configuration of @mzarucki. It happens always with 2 or more threads.

I have extended a bit the error message just before the crash and it seems that there is a wrong number of channels passed in the digis.
[code]
In principle the number of channels should be zero.
The crash is not always the same after the error message. I also got this one already:
[code]

[2021-08-04 08:28] fwyzard commented on #34197
The problem is that - if the error happens inside a kernel, running asynchronously on the GPU - it till be reported by the first CUDA runtime call after it, in any thread.

This can happen in the memory allocator or in the framework support calls, because they are quite frequent and kind of wrap all other CUDA modules, even if the error is not there.

[2021-08-04 08:31] thomreis commented on #34197
While the crash happens in the `EcalUncalibRecHitProducerGPU` the reason for it seems to be in the `EcalRawToDigiGPU` module already where the false number of channels is stored in the digis.

[2021-08-04 08:42] fwyzard commented on #34197
looking at the code of `EventFilter/EcalRawToDigi/plugins/EcalRawToDigiGPU.cc`:
[code]
my guess is that by **not** calling `ecal::raw::entryPoint(...)`, `outputCPU_.nchannels` is not properly set, and `outputGPU_.digisEB.size` gets a random value (same for EE).

[2021-08-04 08:42] iarspider opened #34756 "[GCC 11] CocoaModel/src/Model.cc: error: 'this' pointer is null"
Building CMSSW with gcc11 fails:
[code]

Judging by [this line](https://github.com/cms-sw/cmssw/blob/master/Alignment/CocoaModel/src/Model.cc#L472), these two branches are not supposed to be executed. Looking at github history of this file, the commented out likes are there from the start of github era.

[2021-08-04 08:43] cmsbuild commented on #34756
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-04 08:43] fwyzard commented on #34197
So, it might be enough to add
[code]
right before
[code]

[2021-08-04 08:43] fwyzard commented on #34197
or there may be other fields that should be initialised properly instead of skipping the call altogether - I don't know by heart

[2021-08-04 08:45] iarspider commented on #34756
assign alignment

[2021-08-04 08:49] thomreis commented on #34197
Yes that is my guess as well. Checking that now.

[2021-08-04 08:51] thomreis commented on #34197
Confirmed.

[2021-08-04 08:56] thomreis commented on #34197
So
[code]
in https://github.com/cms-sw/cmssw/blob/master/EventFilter/EcalRawToDigi/plugins/EcalRawToDigiGPU.cc#L108 does not initialise the object?

[2021-08-04 09:00] fwyzard commented on #34197
I think it just allocates the memory, but doesn't perform any initialisation.

[2021-08-04 09:03] fwyzard commented on #34197
By the way, looking again at the code, it's a bit of a waste to deallocate and reallocate 2 integers at every event...
It should be few ms faster to allocate them once (in the constructor, but only if CUDA is available) and simply resetting the values to 0 at the end of produce.

But let's keep this separate from the fix itself.

[2021-08-04 09:33] iarspider opened #34760 "[GCC 11] DataFormats/Candidate/interface/Candidate.h: error: 'this' pointer is null"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc11/CMSSW_12_1_X_2021-07-30-0900/DQMOffline/JetMET
Error message:
[code]

Not sure if the error is real (it doesn't complain about `begin()` or about `iterator end()`)

[2021-08-04 09:33] cmsbuild commented on #34760
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-04 11:14] smuzaffar commented on #34718
I think we can allow `packages/test` sub-dirs to use files from other `packages/test` sub-dirs. e.g. `Utilities/StorageFactory/test/Test.h` is utility test header which is only used by other tests.

[2021-08-04 13:32] Dr15Jones commented on #34760
The problem is in this line
https://github.com/cms-sw/cmssw/blob/82d279ee46b43fac37c20d65a9e9f340b6875ac0/PhysicsTools/SelectorUtils/interface/PFJetIDSelectionFunctor.h#L415

The problem is `patJet->end()` should have been `basicJet->end()`

[2021-08-04 13:41] thomreis commented on #34197
PRs with the fix for the ECAL crash:
- master #34765
- 12_0_X #34766
- 11_3_X #34768

[2021-08-04 14:51] jordan-martins opened #34774 "Mini-v2 can not be produced in FastSim UL scenario"
Hi,

**[Description]:** we are closing the setup for RunII FastSim campaigns under UL scenarios. In our tests, Mini-v1 works just fine. However, Mini-v2 doesn't.

**[Error]:**
`----- Begin Fatal Exception 04-Aug-2021 13:20:35 CEST-----------------------
An exception of category 'ProductNotFound' occurred while
   [0] Processing  Event run: 1 lumi: 1 event: 1 stream: 0
   [1] Running path 'MINIAODS

[2021-08-04 14:52] cmsbuild commented on #34774
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-04 14:52] iarspider opened #34775 "[GCC 11] ambiguous overload for 'operator&&' in FastSimulation/TrackingRecHitProducer"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc11/CMSSW_12_1_X_2021-07-30-0900/FastSimulation/TrackingRecHitProducer
Error message:
[code]

Found a similar question on StackOverflow: https://stackoverflow.com/questions/67693089/overloading-for-stdvariant-breaks-an-unrelated-stdmap. The conclusion was that this is a bug in GCC.

[2021-08-04 14:52] cmsbuild commented on #34775
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-04 14:56] slava77 commented on #34774
assign reconstruction

[2021-08-04 14:57] cmsbuild commented on #34774
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-04 14:58] slava77 commented on #34774
@bainbrid @afiqaize @SohamBhattacharya
please check and clarify if you are available to take a look at this in the next days.
Thank you.

[2021-08-04 15:49] Dr15Jones opened #34777 "Inconsistency in ALCARECOHcal paths"
The new schedule consistency checker, #34735 ,  found the following problem in RelVal 1000.0
[code]

looking at the configuration, `hbherecoNoise` only appears on `pathALCARECOHcalCalMinBias` which means `pathALCARECOHcalCalIterativePhiSym` can not operate without that other path being present.

[2021-08-04 15:50] Dr15Jones commented on #34777
assign alca

[2021-08-04 15:50] cmsbuild commented on #34777
New categories assigned: alca

@francescobrivio,@tvami,@malbouis,@pohsun,@tlampen,@yuanchao you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-04 15:50] tvami commented on #27393
Hi @rekovic @bundocka my understanding is that this issue is waiting on submitting a PR to remove the overrides. Do you have an ETA for that? Thanks!

[2021-08-04 15:52] Dr15Jones commented on #34777
The configuration fragments are

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalMinBias_cff.py#L68

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Configuration/StandardSequences/python/AlCaRecoStream_Specials_cff.py#L47

https://github.com/cms-sw/cmssw/blob/cfbe41337d7eb1acb1aa032

[2021-08-04 16:01] tvami commented on #34777
Hi @bsunanda can you please look into this? Thanks!

[2021-08-04 16:56] bainbrid commented on #34774
Hi @slava77 I’m away until the 16th Aug.

My recollection was that low pT electrons are not supported for FastSim workflows, but the links below suggest otherwise …?

 https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaElectronProducers/python/lowPtGsfElectronSeeds_cfi.py#L45

https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatAlgos/python/producersLayer1/lowPtElectronProducer_c

[2021-08-04 18:01] Dr15Jones commented on #34777
One thing to know, the Paths `pathALCARECOHcalCalMinBias` and `pathALCARECOHcalCalIterativePhiSym` both start with different filters. If the filter on Path `pathALCARECOHcalCalMinBias` fails and the filter on path `pathALCARECOHcalCalIterativePhiSym` succeeds, then when `ALCARECOHcalCalPhisymDQM` is called, the EDAnalyzer will fail to get the data products it needs (since they were only defined on

[2021-08-04 19:01] bsunanda commented on #34777
The two paths produce different outputs and the same DQMAnalyzer should not be used for both. I am trying to see if a second DQM analyzer can be made for pathALCARECOHcalCalIterativePhiSym

[2021-08-04 19:47] SohamBhattacharya commented on #34774
Hi, @slava77 , I'm following up with this within the group and will get back soon.

[2021-08-04 21:27] mzarucki commented on #34197
Hi all,

Just wanted to confirm with you that running our Hilton GPU tests over run 343762 with all three PRs (Pixel https://github.com/cms-sw/cmssw/pull/34684, HCAL https://github.com/cms-sw/cmssw/pull/34750 and ECAL https://github.com/cms-sw/cmssw/pull/34768) on top of _CMSSW_11_3_3_ we do not see any more crashes (as documented in this [e-log](http://cmsonline.cern.ch/cms-elog/1121989)).

Thank

[2021-08-05 00:56] bsunanda commented on #34777
Submitted a PR #34784 to resolve this issue.

[2021-08-05 07:13] iarspider opened #34787 "CXXMODULES IB still looks for python2 headers"
@davidlange6 @vgvassilev can you provide new prebuilt modules for that IB?

[2021-08-05 07:13] cmsbuild commented on #34787
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-05 07:29] smuzaffar commented on #34756
assign alca

[2021-08-05 07:29] cmsbuild commented on #34756
New categories assigned: alca

@francescobrivio,@tvami,@malbouis,@pohsun,@tlampen,@yuanchao you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-05 07:29] jfernan2 commented on #34718
+1
From #34773

[2021-08-05 08:08] iarspider commented on #34760
@Dr15Jones could you please make a PR with this fix?

[2021-08-05 10:40] perrotta opened #34789 "Build CMSSW_11_3_3_patch1"

[2021-08-05 10:41] #34789 closed

[2021-08-05 10:42] perrotta opened #34790 "Build CMSSW_11_3_4"
Release with the updates for the last days of Cruzet, August 2021

[2021-08-05 10:52] perrotta commented on #34790
@smuzaffar @mrodozov I see no reactions from bot: is there any issue, or something I can do?

[2021-08-05 10:58] smuzaffar commented on #34790
I am looking in to it

[2021-08-05 11:04] cmsbuild commented on #34790
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-08-05 11:06] smuzaffar commented on #34790
issue was
[code]
looks like github api now return `NoneType` for empty issue body. i have fixed this

[2021-08-05 11:52] perrotta commented on #34790
Thank you @smuzaffar !

[2021-08-05 11:52] perrotta commented on #34790
+1

[2021-08-05 11:53] cmsbuild commented on #34790
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-08-05 11:53] cmsbuild commented on #34790
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-08-05 11:57] cmsbuild commented on #34790
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3128/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 12:10] cmsbuild commented on #34790
The build has started for cc8_amd64_gcc9 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3129/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 12:11] cmsbuild commented on #34790
The build has started for slc7_amd64_gcc900 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3130/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 12:21] cmsbuild commented on #34790
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3131/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 13:54] theofil commented on #34718
@smuzaffar @Dominic-Stafford @agrohsje
please check #34792, it should be implementing the wished

[2021-08-05 13:56] smuzaffar commented on #34718
thanks @theofil ,  #34792 looks good

[2021-08-05 14:30] cmsbuild commented on #34790
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-slc7_ppc64le_gcc9/3128
Some tests (

[2021-08-05 14:50] cmsbuild commented on #34790
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-slc7_aarch64_gcc9/3131
Some tests (

[2021-08-05 14:56] tvami commented on #34756
Hi @hyunyong , can you please look into this?

[2021-08-05 14:59] perrotta opened #34795 "Bugs to be fixed in DQM/L1TMonitor"
The static analyzer points out a few dead assignmets or increments in the package.

A few trivial ones were cured in #34794. While doing so, a rather obvious bug was spotted in DQM/L1TMonitor/src/L1TBPTX.cc, see https://github.com/cms-sw/cmssw/pull/34794#pullrequestreview-723439833. That pull request provides a fix for it.

However, there are a few more static analyzer reports that point out some

[2021-08-05 15:00] perrotta commented on #34795
assign dqm

[2021-08-05 15:00] cmsbuild commented on #34795
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-05 15:00] cmsbuild commented on #34795
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-05 15:12] colizz commented on #31426
Hello,
I would like to raise this issue again as we continuously meet the timeout issue in ExternalGeneratorFilter, please see
https://its.cern.ch/jira/browse/CMSCOMPPR-20017
https://its.cern.ch/jira/browse/CMSCOMPPR-20020
and also https://github.com/cms-sw/cmssw/pull/34710#issuecomment-893523281

I am thinking of a way to get rid of the timeout issue. When there is a timeout, I think it is possib

[2021-08-05 15:22] perrotta opened #34797 "Build CMSSW_12_0_0_pre6"
CMSSW_12_0_0_pre5 was bugged, and unuseful for validations
This will replace that last open pre-relase in 12_0_X

[2021-08-05 15:22] cmsbuild commented on #34797
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-08-05 15:26] cmsbuild commented on #34790
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-slc7_ppc64le_gcc9/3128

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-08-05 15:32] cmsbuild commented on #34790
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-cc8_amd64_gcc9/3129
Some tests ( runThe

[2021-08-05 15:44] perrotta commented on #34797
+1

[2021-08-05 15:45] cmsbuild commented on #34797
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_0_X

[2021-08-05 15:45] cmsbuild commented on #34797
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-08-05 15:45] cmsbuild commented on #34790
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-slc7_aarch64_gcc9/3131

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-05 15:48] cmsbuild commented on #34797
The build has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3134/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 15:49] cmsbuild commented on #34797
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3133/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 15:49] cmsbuild commented on #34797
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3132/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 15:51] francescobrivio commented on #34790
The failure is: ```11634.911_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA Step0-FAILED Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Thu Aug  5 16:33:14 2021-date Thu Aug  5 16:32:23 2021; exit: 35584 0 0 0 0```
so WF 11634.911 at Step_0 with log:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-slc7_ppc64le_gcc9/3128/matr

[2021-08-05 15:52] cmsbuild commented on #34797
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3135/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 15:53] cmsbuild commented on #34797
The build has started for slc7_amd64_gcc900 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3136/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 15:56] cmsbuild commented on #34797
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3137/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 16:04] perrotta commented on #34790
The test with DD4hep...

11634.911 is failing in the same architecture also in the IBs since a while already in 13_3_X

[2021-08-05 16:05] cmsbuild commented on #34797
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3138/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 16:15] cmsbuild commented on #34790
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-cc8_amd64_gcc9/3129

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-05 16:28] cmsbuild commented on #34790
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-slc7_amd64_gcc900/3130
Some tests (

[2021-08-05 17:11] cmsbuild commented on #34790
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4-slc7_amd64_gcc900/3130

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-05 18:42] cmsbuild commented on #34797
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-cc8_ppc64le_gcc9/3132
Some tests

[2021-08-05 18:44] cmsbuild commented on #34797
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-slc7_aarch64_gcc9/3138
Some tes

[2021-08-05 18:49] agrohsje commented on #34718
+generators

[2021-08-05 18:54] cmsbuild commented on #34797
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-slc7_ppc64le_gcc9/3133
Some tes

[2021-08-05 18:57] Dr15Jones opened #34803 "Memory overread in RealisticSimClusterMapper"
The RelVal from CMSSW_12_1_ASAN_X_2021-08-04-2300 shows a memory overhead in RealisticSimClusterMapper

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_1_ASAN_X_2021-08-04-2300/pyRelValMatrixLogs/run/34834.9921_TTbar_14TeV+2026D76PU_PMXS1S2ProdLike+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+PREMIX_PremixHLBeamSpot14PU+DigiTriggerPU+RecoGlobalPU+MiniAODPU/step4_TTbar_14TeV+2

[2021-08-05 18:58] Dr15Jones commented on #34803
assign reconstruction

[2021-08-05 18:58] cmsbuild commented on #34803
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-05 18:58] cmsbuild commented on #34803
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-05 19:04] Dr15Jones commented on #34803
The problem seems likely to be either
https://github.com/cms-sw/cmssw/blob/2508ef2a29415a54c354b5330ab4726548b1c12b/RecoParticleFlow/PFClusterProducer/plugins/SimMappers/RealisticSimClusterMapper.cc#L170
or
https://github.com/cms-sw/cmssw/blob/2508ef2a29415a54c354b5330ab4726548b1c12b/RecoParticleFlow/PFClusterProducer/plugins/SimMappers/RealisticSimClusterMapper.cc#L176

as they both come from the

[2021-08-05 19:06] cmsbuild commented on #34790
Queing Jenkins upload for slc7_amd64_gcc900

[2021-08-05 19:06] cmsbuild commented on #34790
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-08-05 19:06] cmsbuild commented on #34790
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-08-05 19:06] cmsbuild commented on #34790
The upload has started for cc8_amd64_gcc9 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2012/console

[2021-08-05 19:06] cmsbuild commented on #34790
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2013/console

[2021-08-05 19:07] cmsbuild commented on #34797
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-cc8_amd64_gcc9/3134
Some tests ( r

[2021-08-05 19:07] cmsbuild commented on #34790
The upload has started for slc7_amd64_gcc900 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2014/console

[2021-08-05 19:07] cmsbuild commented on #34790
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_4-cc8_amd64_gcc9/2012

[2021-08-05 19:07] cmsbuild commented on #34790
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2015/console

[2021-08-05 19:08] cmsbuild commented on #34790
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_4-slc7_aarch64_gcc9/2013

[2021-08-05 19:08] cmsbuild commented on #34790
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_4-slc7_ppc64le_gcc9/2015

[2021-08-05 19:09] cmsbuild commented on #34790
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_4-slc7_amd64_gcc900/2014

[2021-08-05 19:09] Dr15Jones commented on #34803
So there was this attempt at protection here
https://github.com/cms-sw/cmssw/blob/2508ef2a29415a54c354b5330ab4726548b1c12b/RecoParticleFlow/PFClusterProducer/plugins/SimMappers/RealisticSimClusterMapper.cc#L166

with the calculations

https://github.com/cms-sw/cmssw/blob/2508ef2a29415a54c354b5330ab4726548b1c12b/RecoParticleFlow/PFClusterProducer/plugins/SimMappers/RealisticSimClusterMapper.cc#L153

[2021-08-05 19:11] cmsbuild commented on #34797
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-slc7_amd64_gcc10/3135
Some tests

[2021-08-05 19:14] perrotta commented on #34790
release-notes

[2021-08-05 19:15] cmsbuild commented on #34790
Generating release notes since CMSSW_11_3_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-08-05 19:15] cmsbuild commented on #34790
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_3_4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9

The release notes of what changed with respect to CMSSW_11_3_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_4

Cheers,
cms-bot

You can also

[2021-08-05 19:19] cmsbuild commented on #34790
There was an error generating the release notes, please look into the logs

[2021-08-05 19:23] slava77 commented on #34803
@laurenhay @marksan87

[2021-08-05 19:24] slava77 commented on #34803
please clarify when you are available to take a look at the issue (or redirect to relevant developers).
Thank you.

[2021-08-05 19:25] hyunyong commented on #34756
@tvami Yes, I'm looking at this.
Since we don't use the cocoa model, this one is very new for me.
Btw, it seems a technical issue, I will try to fix it.

[2021-08-05 19:27] perrotta commented on #34790
@smuzaffar @silviodonato @qliphy I'm afraid I can't find the error in the logs, supposing they can be accesed from https://github.com/cms-sw/cmssw/issues/34790#issuecomment-893718827

[2021-08-05 19:30] alja commented on #34718
+1

[2021-08-05 19:38] cmsbuild commented on #34797
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-cc8_ppc64le_gcc9/3132

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-08-05 19:44] cmsbuild commented on #34797
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-slc7_aarch64_gcc9/3138

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-05 19:48] cmsbuild commented on #34797
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-cc8_aarch64_gcc9/3137
Some tests

[2021-08-05 19:51] cmsbuild commented on #34797
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-cc8_amd64_gcc9/3134

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-05 19:53] marksan87 commented on #34803
I'm looking into this now

[2021-08-05 19:54] cmsbuild commented on #34797
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-slc7_ppc64le_gcc9/3133

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-05 19:55] cmsbuild commented on #34797
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-slc7_amd64_gcc10/3135

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-05 20:17] cmsbuild commented on #34797
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-slc7_amd64_gcc900/3136
Some tes

[2021-08-05 20:19] perrotta commented on #34797
release-notes

[2021-08-05 20:40] cmsbuild commented on #34797
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-cc8_aarch64_gcc9/3137

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-08-05 20:46] perrotta commented on #34797
upload all

[2021-08-05 20:47] cmsbuild commented on #34797
Queing Jenkins upload for slc7_amd64_gcc900

[2021-08-05 20:47] cmsbuild commented on #34797
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-08-05 20:47] cmsbuild commented on #34797
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-08-05 20:47] cmsbuild commented on #34797
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-08-05 20:47] cmsbuild commented on #34797
Queing Jenkins upload for cc8_amd64_gcc9

[2021-08-05 20:47] cmsbuild commented on #34797
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-08-05 20:47] cmsbuild commented on #34797
Queing Jenkins upload for slc7_amd64_gcc10

[2021-08-05 20:47] cmsbuild commented on #34797
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2016/console

[2021-08-05 20:47] cmsbuild commented on #34797
The upload has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2017/console

[2021-08-05 20:48] cmsbuild commented on #34797
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre6-cc8_amd64_gcc9/2017

[2021-08-05 20:48] cmsbuild commented on #34797
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre6-cc8_aarch64_gcc9/2016

[2021-08-05 20:49] cmsbuild commented on #34797
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2018/console

[2021-08-05 20:49] cmsbuild commented on #34797
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2019/console

[2021-08-05 20:49] cmsbuild commented on #34797
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2020/console

[2021-08-05 20:49] cmsbuild commented on #34797
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre6-cc8_ppc64le_gcc9/2018

[2021-08-05 20:50] cmsbuild commented on #34797
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre6-slc7_aarch64_gcc9/2019

[2021-08-05 20:50] cmsbuild commented on #34797
The upload has started for slc7_amd64_gcc900 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2021/console

[2021-08-05 20:50] cmsbuild commented on #34797
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre6-slc7_amd64_gcc10/2020

[2021-08-05 20:51] cmsbuild commented on #34797
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2022/console

[2021-08-05 20:52] cmsbuild commented on #34797
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre6-slc7_amd64_gcc900/2021

[2021-08-05 20:52] cmsbuild commented on #34797
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre6-slc7_ppc64le_gcc9/2022

[2021-08-05 21:04] cmsbuild commented on #34797
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6-slc7_amd64_gcc900/3136

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-05 21:08] perrotta commented on #34797
release-notes

[2021-08-05 21:08] cmsbuild commented on #34797
Generating release notes since CMSSW_12_0_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-08-05 21:08] cmsbuild commented on #34797
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre6 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_0_pre5 can be found at:

https://github.com/cms-

[2021-08-05 21:14] cmsbuild commented on #34797
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre6

[2021-08-05 21:20] perrotta commented on #34790
release-notes

[2021-08-05 21:21] cmsbuild commented on #34790
Generating release notes since CMSSW_11_3_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-08-05 21:21] cmsbuild commented on #34790
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_3_4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9

The release notes of what changed with respect to CMSSW_11_3_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_4

Cheers,
cms-bot

You can also

[2021-08-05 21:27] cmsbuild commented on #34790
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_4

[2021-08-05 21:30] perrotta opened #34806 "Build CMSSW_12_0_0_pre6_G4VECGEOM"
CMSSW_COMMIT:CMSSW_12_0_0_pre6

[2021-08-05 21:30] cmsbuild commented on #34806
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-08-05 21:32] perrotta commented on #34806
+1
cc @civanch

[2021-08-05 21:32] cmsbuild commented on #34806
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre6_G4VECGEOM. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-08-05 21:32] cmsbuild commented on #34806
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-08-05 21:49] cmsbuild commented on #34806
The build has started for slc7_amd64_gcc900 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3139/console
CMSDIST Branch: [IB/CMSSW_12_1_X/geant4_vecgeom](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/geant4_vecgeom), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 22:01] perrotta opened #34807 "Build CMSSW_11_2_5"
It includes fixes and updates for HLT

[2021-08-05 22:02] cmsbuild commented on #34807
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-08-05 22:02] perrotta commented on #34807
+1
@fwyzard FYI

[2021-08-05 22:03] cmsbuild commented on #34807
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-08-05 22:03] cmsbuild commented on #34807
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-08-05 22:04] cmsbuild commented on #34807
The build has started for cc8_amd64_gcc9 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3140/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 22:04] cmsbuild commented on #34807
The build has started for slc7_amd64_gcc900 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3141/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 22:06] cmsbuild commented on #34807
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3142/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-05 22:19] hyunyong commented on #34756
I made PR #34808.
Two types are deleted before but they are not removed in the if statement.
It is compiled without errors.

[2021-08-05 23:40] cmsbuild commented on #34807
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3143/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-06 01:27] cmsbuild commented on #34807
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5-slc7_ppc64le_gcc9/3142
Some tests (

[2021-08-06 01:31] cmsbuild commented on #34807
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5-cc8_amd64_gcc9/3140
Some tests ( runThe

[2021-08-06 02:11] cmsbuild commented on #34807
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5-cc8_amd64_gcc9/3140

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-06 02:18] marksan87 commented on #34803
If `abseta == calibMaxEta_` is the source of the overflow, then `etabin` could be capped to `(container_size-1)` with `std::min`. I'm not able to reproduce the error by running the `34834.9921` workflow though. How can I reproduce this?

[2021-08-06 02:20] cmsbuild commented on #34807
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5-slc7_aarch64_gcc9/3143
Some tests (

[2021-08-06 02:23] cmsbuild commented on #34807
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5-slc7_amd64_gcc900/3141
Some tests (

[2021-08-06 02:51] cmsbuild commented on #34807
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5-slc7_ppc64le_gcc9/3142

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-06 03:04] cmsbuild commented on #34807
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5-slc7_amd64_gcc900/3141

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-06 03:16] cmsbuild commented on #34807
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5-slc7_aarch64_gcc9/3143

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-06 03:25] slava77 commented on #34803
did you use CMSSW_12_1_ASAN_X_2021-08-04-2300 release?

[2021-08-06 03:39] cmsbuild commented on #34806
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6_G4VECGEOM-slc7_amd64_gcc900/313

[2021-08-06 04:25] cmsbuild commented on #34806
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre6_G4VECGEOM-slc7_amd64_gcc900/3139

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-06 05:04] #33159 closed

[2021-08-06 05:04] fwyzard opened #34810 "Build CMSSW_11_2_5_Patatrack"

[2021-08-06 05:20] fwyzard commented on #34810
@smuzaffar is the bot still able to build Patatrack releases ?
I'll need an extra one to integrate the latest fixes that went into CMSSW_11_2_5.

[2021-08-06 05:20] cmsbuild commented on #34810
You are not authorized to request the build of a release.

[2021-08-06 06:32] perrotta commented on #34806
upload all

[2021-08-06 06:32] perrotta commented on #34807
upload all

[2021-08-06 06:32] cmsbuild commented on #34806
Queing Jenkins upload for slc7_amd64_gcc900

[2021-08-06 06:32] cmsbuild commented on #34807
Queing Jenkins upload for slc7_amd64_gcc900

[2021-08-06 06:32] cmsbuild commented on #34807
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-08-06 06:32] cmsbuild commented on #34807
Queing Jenkins upload for cc8_amd64_gcc9

[2021-08-06 06:32] cmsbuild commented on #34807
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-08-06 06:33] cmsbuild commented on #34806
The upload has started for slc7_amd64_gcc900 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2023/console

[2021-08-06 06:34] smuzaffar commented on #34810
@fwyzard , you had requested to remove the Patatrack builds, so no bot is not able to build Patatrack releases
- https://github.com/cms-sw/cms-bot/pull/1540
-https://github.com/cms-sw/cms-bot/commit/42062b94c13b878a5009c20246fed873be608581#diff-c7a93337cd83c53d1407e8d572a00744b2f5efe9e730bc98477f2bc21150292d

[2021-08-06 06:35] cmsbuild commented on #34807
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2025/console

[2021-08-06 06:35] cmsbuild commented on #34807
The upload has started for slc7_amd64_gcc900 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2026/console

[2021-08-06 06:35] cmsbuild commented on #34807
The upload has started for cc8_amd64_gcc9 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2024/console

[2021-08-06 06:37] cmsbuild commented on #34807
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_5-slc7_aarch64_gcc9/2025

[2021-08-06 06:38] cmsbuild commented on #34807
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2027/console

[2021-08-06 06:39] #34760 closed

[2021-08-06 06:39] cmsbuild commented on #34807
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_5-slc7_ppc64le_gcc9/2027

[2021-08-06 06:45] cmsbuild commented on #34806
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre6_G4VECGEOM-slc7_amd64_gcc900/2023

[2021-08-06 06:49] cmsbuild commented on #34807
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_5-cc8_amd64_gcc9/2024

[2021-08-06 06:50] cmsbuild commented on #34807
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_5-slc7_amd64_gcc900/2026

[2021-08-06 06:54] perrotta commented on #34806
release-notes

[2021-08-06 06:54] perrotta commented on #34807
release-notes

[2021-08-06 06:55] cmsbuild commented on #34807
Generating release notes since CMSSW_11_2_4_patch4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-08-06 06:55] cmsbuild commented on #34807
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_2_5 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9

The release notes of what changed with respect to CMSSW_11_2_4_patch4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_5

It includes fixes and u

[2021-08-06 07:01] cmsbuild commented on #34807
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_5

[2021-08-06 07:30] perrotta commented on #34806
release-notes since CMSSW_12_0_0_pre6

[2021-08-06 07:30] cmsbuild commented on #34806
Generating release notes since CMSSW_12_0_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-08-06 07:30] cmsbuild commented on #34806
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre6_G4VECGEOM is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_12_0_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_0_pre6_G4VECGEOM

Cheers,
cms-bot

You can also click <a href="

[2021-08-06 07:30] cmsbuild commented on #34806
Generating release notes since CMSSW_12_0_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-08-06 07:30] cmsbuild commented on #34806
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre6_G4VECGEOM is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_12_0_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_0_pre6_G4VECGEOM

Cheers,
cms-bot

You can also click <a href="

[2021-08-06 07:39] cmsbuild commented on #34806
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre6_G4VECGEOM

[2021-08-06 07:41] cmsbuild commented on #34806
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre6_G4VECGEOM

[2021-08-06 13:41] #34756 closed

[2021-08-06 14:31] marksan87 commented on #34803
Yes I am using `CMSSW_12_1_ASAN_X_2021-08-04-2300` and running the test with `runTheMatrix.py -l 34834.9921`. One difference I notice from inspecting the log is that the overflow occurs on event 4004. When I run the test locally it only processes 10 events, so it doesn't appear to be running the event that is causing this crash.

[2021-08-06 14:48] slava77 commented on #34803
@Dr15Jones
please provide a command to rerun the workflow.
It looks like a simple `-l #` is not enough.

[2021-08-06 14:52] slava77 commented on #34803
I see that the cmsDriver commands are available via
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_1/2021-08-04-2300?selectedArchs=slc7_amd64_gcc10&selectedFlavors=ASAN_X&selectedStatus=failed

@smuzaffar is there a single `runTheMatrix.py -l 34834.9921 someOtherArguments` that can be started?
To avoid the digi randomness, it may be useful to start from step4: are the root files avail

[2021-08-06 15:02] Dr15Jones commented on #34803
@slava77

I didn't run the tests, I just read the logs from the IB.

[2021-08-06 15:20] smuzaffar commented on #34803
`runTheMatrix.py -l 34834.9921 someOtherArguments` should work. you want want to add `-i all --ibeos` too

[2021-08-06 17:19] slava77 commented on #34803
Thank you for clarifying on this.
I noticed in the logs that the number of threads is 4; not sure if this will be more likely to trigger the error.

Still, do we have the job outputs available? I think that it would be more useful to start from step3.root file and run only the reco step, because all the preceding steps are at least known to use random numbers in digitization and pileup selection.

[2021-08-06 17:33] Dr15Jones commented on #34803
@slava77

When using 4 threads (really 4 streams) each stream gets a modified random number seed. So to get random number reply properly, you need to set the same number of threads/streams as the original job. I'd also suggest running a few more events than the original job just to be sure each stream gets as least as many events as the original job.

[2021-08-06 17:36] marksan87 commented on #34803
I ran `runTheMatrix.py -l 34834.9921 -t 4 --nStreams 4 -i all --ibeos` using 4 threads and 4 streams as seen in the logs. This processed the correct events but didn't reproduce the error. The original step3.root file would be helpful to debug further.

What is the argument to process additional events?

[2021-08-06 18:44] slava77 commented on #34803
`--command="-n 100"`

[2021-08-06 20:40] wddgit commented on #30493
Matti asked me to look into this. Below are some comments
about what I found (I know this repeats some parts of the
discussion above). Matti asked me to answer two questions,
plus there is an extra comment at the end.

---------------------------------------------------------

First Question - How hard is it to make CMSSW work with std::array
as a product type?

This is the major problem. TClass::

[2021-08-06 21:14] Dr15Jones commented on #31426
I hope #34815 will better handle timeouts. I think our problem stem from my lack of understanding about exactly how the timeouts occured.

[2021-08-07 19:08] cmsbuild commented on #34797
The cleanup has started for cc8_aarch64_gcc9

[2021-08-07 19:08] cmsbuild commented on #34797
The cleanup has started for slc7_aarch64_gcc9

[2021-08-07 19:08] cmsbuild commented on #34797
The cleanup has started for slc7_amd64_gcc900

[2021-08-07 19:08] cmsbuild commented on #34797
The cleanup has started for cc8_ppc64le_gcc9

[2021-08-07 19:08] cmsbuild commented on #34797
The cleanup has started for slc7_ppc64le_gcc9

[2021-08-07 19:08] cmsbuild commented on #34797
The cleanup has started for cc8_amd64_gcc9

[2021-08-07 19:08] cmsbuild commented on #34797
The cleanup has started for slc7_amd64_gcc10

[2021-08-07 19:08] #34797 closed

[2021-08-07 19:08] cmsbuild commented on #34797
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre6-cc8_aarch64_gcc9/1735

[2021-08-07 19:08] cmsbuild commented on #34797
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre6-cc8_amd64_gcc9/1736

[2021-08-07 19:08] cmsbuild commented on #34797
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre6-cc8_ppc64le_gcc9/1737

[2021-08-07 19:08] cmsbuild commented on #34797
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre6-slc7_aarch64_gcc9/1738

[2021-08-07 19:08] cmsbuild commented on #34797
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre6-slc7_amd64_gcc10/1739

[2021-08-07 19:08] cmsbuild commented on #34797
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre6-slc7_amd64_gcc900/1740

[2021-08-07 19:09] cmsbuild commented on #34797
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre6-slc7_ppc64le_gcc9/1741

[2021-08-07 19:23] cmsbuild commented on #34790
The cleanup has started for slc7_aarch64_gcc9

[2021-08-07 19:23] cmsbuild commented on #34790
The cleanup has started for slc7_amd64_gcc900

[2021-08-07 19:23] cmsbuild commented on #34790
The cleanup has started for slc7_ppc64le_gcc9

[2021-08-07 19:23] cmsbuild commented on #34790
The cleanup has started for cc8_amd64_gcc9

[2021-08-07 19:23] #34790 closed

[2021-08-07 19:23] cmsbuild commented on #34790
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_4-cc8_amd64_gcc9/1742

[2021-08-07 19:23] cmsbuild commented on #34790
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_4-slc7_aarch64_gcc9/1743

[2021-08-07 19:23] cmsbuild commented on #34790
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_4-slc7_ppc64le_gcc9/1745

[2021-08-07 19:23] cmsbuild commented on #34790
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_4-slc7_amd64_gcc900/1744

[2021-08-08 05:08] cmsbuild commented on #34807
The cleanup has started for slc7_aarch64_gcc9

[2021-08-08 05:08] cmsbuild commented on #34807
The cleanup has started for slc7_amd64_gcc900

[2021-08-08 05:08] cmsbuild commented on #34807
The cleanup has started for slc7_ppc64le_gcc9

[2021-08-08 05:08] cmsbuild commented on #34807
The cleanup has started for cc8_amd64_gcc9

[2021-08-08 05:08] #34807 closed

[2021-08-08 05:08] cmsbuild commented on #34807
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_5-cc8_amd64_gcc9/1746

[2021-08-08 05:08] cmsbuild commented on #34807
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_5-slc7_aarch64_gcc9/1747

[2021-08-08 05:08] cmsbuild commented on #34807
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_5-slc7_ppc64le_gcc9/1749

[2021-08-08 05:08] cmsbuild commented on #34807
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_5-slc7_amd64_gcc900/1748

[2021-08-08 05:38] cmsbuild commented on #34806
The cleanup has started for slc7_amd64_gcc900

[2021-08-08 05:38] #34806 closed

[2021-08-08 05:38] cmsbuild commented on #34806
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre6_G4VECGEOM-slc7_amd64_gcc900/1750

[2021-08-09 04:47] colizz commented on #31426
@Dr15Jones Many thanks! I test the new `retry` method in ExternalGeneratorFilter and it works as expected. Will make a PR to ExternalGeneratorFilter.

[2021-08-09 11:45] Dr15Jones commented on #31426
@colizz I first suggest seeing if the retry is even necessary. Try running the job without any modification to ExternalGeneratorFilter but with the new version of FWCore/SharedMemory. I fixed how the non-retry code handles timeouts as well.

[2021-08-09 12:14] colizz commented on #31426
Thanks, but in the non-retry mode we have to set "very large waitTime" to allow some events that took a particularly long time to proceed. This way, we'll have to risk that the worker instance breaks accidentally, and the controller waits a "long time" before recognizing that the worker is dead.
(This is the original reason we propose the retry method to "keep the waitTime small" while letting the

[2021-08-09 12:14] SohamBhattacharya commented on #34774
Hi @jordan-martins ,
while @bainbrid , who is the expert on this, is away, I got some feedback from the group.
Would it be easy for you to check if setting `embedTrack = True` in [1] solves the problem?

[1] https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatAlgos/python/producersLayer1/lowPtElectronProducer_cff.py#L62

[2021-08-09 12:23] colizz commented on #31426
I see the change in the "non-retry" mode is on how the worker notify the controller in https://github.com/cms-sw/cmssw/pull/34815/files#diff-0ddbc2396a91fcad561341136b1ca917ee0da4d59e449c1e351316490e6f02a9R95-R96. But it won't make a difference dealing with the above puzzle.

My idea is to use `setupWorkerWithRetry` and `doTransitionWithRetry` with the custom `iRetry` function set as monitoring if

[2021-08-09 12:47] Dr15Jones commented on #31426
With the change to the non-retry mode, you can also set shorter wait times. The reason is what 'wait times' means on the `boost::semaphore` we are using isn't what I thought it was. So here is what a 'wait with a time out' actually does.
1. releases the lock being held by the controller
2. the worker code is waiting so will immediately take the lock
3. if the controller times out, it then tries to

[2021-08-09 14:00] Dr15Jones commented on #31426
@colizz do you know to which releases we would need to backport the change?

[2021-08-09 14:28] colizz commented on #31426
Hi @Dr15Jones It's 10_6_X that will be used for ultra legacy processing

[2021-08-09 14:39] francescobrivio commented on #34633
@makortel is there a specific way to check the timing of loading the LUTs for CSC?
In order to test it with #34779 and see if it actually improves the timing?

[2021-08-09 14:50] colizz commented on #31426
And thanks for the detailed explanation! For

I understand your idea. But the recent test with Pythia indicate that the concern lies in the timeout in event processing step" The change you introduced

may not quite help. I'll have further investigation in e.g. https://its.cern.ch/jira/browse/CMSCOMPPR-20017 because here shows the picture that if we generate a *very huge* number of events, it is po

[2021-08-09 15:02] Dr15Jones commented on #31426
@colizz 'timeout' doesn't mean what you think it means (I was wrong about it before I changed the code this weekend). After the code change, the timeout does not mean 'the event must complete within this time frame else the job will fail' (which was the previous behavior). Now the timeout is the longest amount of time before cmsRun notices that the Worker has crashed.

This new test illustrates th

[2021-08-09 15:18] Dr15Jones commented on #31426
See #34822 for backport.

[2021-08-09 15:18] colizz commented on #31426
ah i see! I think now I understand the concept - I'll launch more test

[2021-08-09 15:31] Dr15Jones commented on #34633
@francescobrivio I'm afraid @makortel is on vacation right now.  It seems like if you did
[code]
Then step2 would be the one to look at. I'd suggest running valgrind on the step2 process both before and after applying the pull request and then look at the relative timing for the constructor of the module in question.

[2021-08-09 15:34] francescobrivio commented on #34633
Thanks @Dr15Jones ! We'll try that then! (FYI @dildick)

[2021-08-09 18:05] tklijnsma commented on #34559
@smuzaffar It works on htcondor nodes too. Everything seems fixed.

[2021-08-09 21:25] smuzaffar commented on #34559
thanks for confirmation, I am closing the issue now.

[2021-08-09 21:25] #34559 closed

[2021-08-10 06:41] perrotta commented on #34197
Can this issue get closed, then?

[2021-08-10 06:45] perrotta commented on #34659
Can this issue get closed now, then?

[2021-08-10 06:52] qliphy commented on #34586
From [1] https://github.com/cms-sw/cmssw/blob/master/SimGeneral/HepPDTESSource/data/particle.tbl#L372
and  [2] https://github.com/cms-sw/cmssw/blob/master/SimGeneral/HepPDTESSource/data/pythiaparticle.tbl#L372
the pid for f0(980) and several other particles are different.

If I change manually above [2] to match [1], then the error with workflow 4007.0 seems to be gone.

@cms-sw/generators-l2  @sm

[2021-08-10 07:25] smuzaffar commented on #34787
@davidlange6 @vgvassilev looks like we need a new modulemap file for boost with python3

[2021-08-10 07:28] fwyzard commented on #34659
+heterogeneous

[2021-08-10 07:29] fwyzard commented on #34197
+heterogeneous

[2021-08-10 07:29] cmsbuild commented on #34197
This issue is fully signed and ready to be closed.

[2021-08-10 07:39] #34197 closed

[2021-08-10 07:42] smuzaffar commented on #34775
assign fastsim

[2021-08-10 07:43] mzarucki commented on #34197
Dear all,

From the FOG side, I would like to report that we have tested the full GPU menu in [_CMSSW_11_3_4_](https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_4) in [run 344449](https://cmsoms.cern.ch/cms/runs/report?cms_run=344449) with ECAL, HCAL and Pixel out of the run and we saw no issues (as reported in this [e-log](http://cmsonline.cern.ch/cms-elog/1122504) and today's [Daily Run meetin

[2021-08-10 07:43] cmsbuild commented on #34775
New categories assigned: fastsim

@civanch,@sbein,@ssekmen,@mdhildreth,@lveldere you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-10 07:44] mzarucki commented on #34659
Dear all,

From the FOG side, I would like to report that we have tested the full GPU menu in [_CMSSW_11_3_4_](https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_4) in [run 344449](https://cmsoms.cern.ch/cms/runs/report?cms_run=344449) with Pixel, ECAL and HCAL out of the run and we saw no issues (as reported in this [e-log](http://cmsonline.cern.ch/cms-elog/1122504) and today's [Daily Run meetin

[2021-08-10 08:40] #31199 closed

[2021-08-10 10:09] vgvassilev commented on #34787
@smuzaffar, can you show the diagnostic you are seeing?

[2021-08-10 10:20] smuzaffar commented on #34787
see the log https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_1_CXXMODULE_X_2021-08-09-2300/CondCore/Utilities

[2021-08-10 12:38] jordan-martins commented on #34774
Hi @SohamBhattacharya , sure! Would you kindly provide how should I do this from the cmsdrive itself, please?
Thanks

[2021-08-10 14:03] agrohsje commented on #25090
https://github.com/cms-sw/cmssw/pull/34710#issuecomment-896018483
should address the issue from GEN side.

[2021-08-10 16:53] mzarucki opened #34831 "Pixel track fitting and SiPixelRecHitFromCUDA crashes during online GPU tests (CMSSW_11_3_4)"
Dear all,

During our online GPU tests in _CMSSW_11_3_4_ (eg. run [34555](https://cmsoms.cern.ch/cms/runs/report?cms_run=344555) with Pixel, ECAL and HCAL in global, and with 2 GPU + 2 CPU FUs in the DAQ configuration) with a GPU menu that includes pixel reconstruction ([CMSHLT-2157](https://its.cern.ch/jira/browse/CMSHLT-2157), [1]), we saw the following crashes ([e-log](http://cmsonline.cern.ch/

[2021-08-10 16:53] cmsbuild commented on #34831
A new Issue was created by  @mzarucki Mateusz Zarucki.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-10 17:22] fwyzard commented on #34831
Did any of the crash happen running with GPUs, or did they all occur without any GPUs involved ?

Is the data from the corresponding runs, lumisections and possible events available ?

[2021-08-10 17:22] Dr15Jones commented on #34831
assign reconstruction, heterogeneous

[2021-08-10 17:22] cmsbuild commented on #34831
New categories assigned: heterogeneous,reconstruction

@slava77,@fwyzard,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-10 17:32] fwyzard commented on #34831
The first ELOG reports that

The call to `HelixFitOnGPU::launchBrokenLineKernelsOnCPU` should happen only on the nodes without a GPU (unless the menu tries to run both CPU and GPU versions ?). Could you confirm that the error is always the same:
  - `fu-c2a02-27-02`: no GPUs, two crashes
  - `fu-c2a02-35-02`: has a GPU
  - `fu-c2a02-45-02`: no GPUs

To investigate the crash, as usual we would need

[2021-08-10 17:57] mzarucki commented on #34831
Hi @fwyzard,

Yes, we saw the same crash on nodes with GPUs (`fu-c2a02-35-01` and `fu-c2a02-35-02`) and CPUs (`fu-c2a02-27-02`, `fu-c2a02-45-02`,`fu-c2a01-07-03`).

There might be an issue with the _HLT_Pixel_ path, which was added to run Pixel reconstruction ([CMSHLT-2157](https://its.cern.ch/jira/browse/CMSHLT-2157)) but does not filter on anything:
[code]

The HLT menu name is listed under [1]

[2021-08-10 19:48] kskovpen opened #34835 "Segfault in data processing"
Hello,

We are observing a segmentation violation in one of the data processing workflows. Full log is available here:

https://cms-unified.web.cern.ch/cms-unified/joblogs/haozturk_r-1-Run2018D_EGamma_12Nov2019_UL2018_210804_153732_5282/139/DataProcessing/176bb428-0e57-467d-9216-cbda860fc7c8-0-3-logArchive/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log.trunc.txt

The issue is also reproducible locally

[2021-08-10 19:48] cmsbuild commented on #34835
A new Issue was created by  @kskovpen .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-10 19:52] Dr15Jones commented on #34835
The thread with the crash reports the following back trace
[code]

[2021-08-10 19:52] Dr15Jones commented on #34835
assign reconstruction

[2021-08-10 19:53] cmsbuild commented on #34835
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-10 20:06] slava77 commented on #34835
@cms-sw/trk-dpg-l2
please take a look.

This is CMSSW_10_6_4_patch1
If I'm not mistaken, the config is here https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/0628749ed3ef23f28a8cc86fb829c87e/configFile
The data is from run 322106 LumiSection 140 in Run2018D EGamma PD.

[2021-08-10 20:16] slava77 commented on #34835
I was trying to find some info about this LS in OMS and for some reason the details there start from LS 889
https://cmsoms.cern.ch/cms/runs/report?cms_run=322106&cms_run_sequence=GLOBAL-RUN

[2021-08-10 20:21] kskovpen commented on #34835
After applying sorting on LS in the web interface, I can see it :)

[2021-08-10 20:24] slava77 commented on #34835
https://cmsoms.cern.ch/cms/runs/lumisection?cms_run=322106&cms_run_sequence=GLOBAL-RUN
I found in a different link that it's at least all green in DCS

Where are the JSON files these days? my old bookmark to https://cms-service-dqm.web.cern.ch/cms-service-dqm/CAF/certification/ does not work anymore.

[2021-08-10 20:28] kskovpen commented on #34835
We've checked that this run and LS are in the official json files.
The new location is at https://cms-service-dqmdc.web.cern.ch/CAF/certification/

[2021-08-10 20:30] slava77 commented on #34835
Thanks.
It sounds like some effort to understand what happened is in order.

[2021-08-10 20:34] mzarucki commented on #34831
The menu `/cdaq/cosmic/commissioning2021/CRUZET/Cosmics_GPU/V2` python config file is attached here as [CosmicsGPU-V2.txt](https://github.com/cms-sw/cmssw/files/6964389/CosmicsGPU-V2.txt). You can also find it under `/nfshome0/mzarucki/GPUTests/CosmicsGPU-V2.py`.

Note: The only difference wrt. `V1` (and `CosmicsGPUFixed-V1.py`) is the change in the GT configuration, relevant to the BeamSpot workf

[2021-08-10 21:04] slava77 commented on #34835
@Dr15Jones @makortel
the log does not say which event processing had a crash.
Only that `Module: TrackProducer:lowPtTripletStepTracks (crashed)`
Is this available in a more recent release so that debugging like this can be easier?

[2021-08-11 00:46] mzarucki commented on #34831
Hi again,

The data could not be copied locally and it would need a bit time to be accessible via Rucio.

Nevertheless, I tried to recreate the crashes using an older set of data from run [343387](https://cmsoms.cern.ch/cms/runs/report?cms_run=343387) (stored on EOS via our Rucio rule):
`/store/data/Commissioning2021/Cosmics/RAW/v1/000/343/387/00000/05c79a06-0011-4a30-8762-02b7708ecaaa.root`

with

[2021-08-11 06:19] fwyzard commented on #34831
As far as I know, the pixel track reconstruction has not been designed to run at 0 tesla.

My first suggestion would be to switch it off, and turn it on only once the magnetic field is nominal.

[2021-08-11 06:24] fwyzard commented on #34831
@mtosi @vmariani @mmusich FYI

[2021-08-11 06:43] mmusich commented on #34835
tagging @OzAmram and @ferencek as well.

@kskovpen, this seems to come from the 2018 Ultra-Legacy processing, can you clarify how is it possible it comes out only now? Has this LS been failing since the start of the campaign?

[2021-08-11 06:55] mmusich commented on #34659
@cms-sw/hlt-l2 @cms-sw/reconstruction-l2 please sign

[2021-08-11 06:59] kskovpen commented on #34835
Apparently, there have been multiple attempts on recovering this failing job, all resulting in the same issue mentioned above. We are now tracking down the last remaining pieces/issues in the tails of the UL processing.

[2021-08-11 07:08] Martin-Grunewald commented on #34659
What is there to sign? This is not a PR. ??

[2021-08-11 07:09] mmusich commented on #34659
that's an issue, when it's resolved it needs to be signed in order to be closed.

[2021-08-11 07:15] Martin-Grunewald commented on #34659
+1
ah ok!

[2021-08-11 08:17] fwyzard commented on #34831
After copying the input file locally¹ and updating the configuration to use it, the GPU error is consistently reproducible:
[code]

Instead, I have not been able to reproduce the CPU-only crash

---
1. ```
   kinit ${USER}@CERN.CH
   xrdcp root://eoscms.cern.ch//eos/cms/store/data/Commissioning2021/Cosmics/RAW/v1/000/343/387/00000/05c79a06-0011-4a30-8762-02b7708ecaaa.root .
[code]

[2021-08-11 08:43] jpata opened #34839 "outdated/unused RecoMET/METPUSubtraction"
It was pointed out in https://github.com/cms-sw/cmssw/pull/34571#discussion_r675962014, https://github.com/cms-sw/cmssw/pull/34571#issuecomment-886831420 that https://github.com/cms-sw/cmssw/blob/master/RecoMET/METPUSubtraction/python/mvaPFMET_leptons_cfi.py is unused and contains dead code referring to nonexistent plugins.

@camclean @alefisico can you please confirm and open a PR to remove the d

[2021-08-11 08:43] jpata commented on #34839
assign reconstruction

[2021-08-11 08:43] cmsbuild commented on #34839
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-11 09:12] davidlange6 commented on #34787
This was a sign that we needed to change the python dependency into a python3 dependency in pcm_util.spec - Thanks for pinging - it should be fixed for the next modules IB.

[2021-08-11 11:38] colizz commented on #31426
Hi @Dr15Jones, the ExternalGeneratorFilter works well with the new code! There is no need to modify the ExternalGeneratorFilter code.

PS.
I now understand the exact meaning of these steps (it's convoluted and I wasn't realize to this extend)

In previous code, step 3 means that the controller still waits even the time exceeds the waitTime limit, until the worker finishes its work after a "long ti

[2021-08-11 11:45] smuzaffar opened #34841 "Relvals running 3 times slower in CMSSW_12_1_X_2021-08-09-1100 and recent 12.1.X IBs"
I have noticed that Relval jobs for 12.1.X IBs are now running 3 times slower. Looks like this happened after CMSSW_12_1_X_2021-08-08-2300 IB.  Running workflow `1004.0 step2` for CMSSW_12_1_X_2021-08-08-2300 and couple of recent IBs shows[a] that CMSSW_12_1_X_2021-08-09-1100 and above are over 3 times slower. The step2 logs and configuration are available here https://muzaffar.web.cern.ch/muzaffa

[2021-08-11 11:45] smuzaffar commented on #34841
assign core

[2021-08-11 11:46] cmsbuild commented on #34841
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-11 11:46] cmsbuild commented on #34841
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-11 11:48] qliphy commented on #34633
https://github.com/cms-sw/cmssw/pull/34735 is only partial fix.

[2021-08-11 11:59] slava77 commented on #34659
+reconstruction

[2021-08-11 12:00] cmsbuild commented on #34659
This issue is fully signed and ready to be closed.

[2021-08-11 12:16] boudoul commented on #34309
Hi @rekovic,@cecilecaillol - reconstructing/working on the CRUZET data is really painful due to this flood of these warning messages. Could you please take action ?
Also adding  @dinyar , @bundocka, @varuns23  in case they can help here. Thank you .

[2021-08-11 13:16] smuzaffar commented on #34841
igprof results are also available under https://muzaffar.web.cern.ch/muzaffar/12.1.X/1004.0/  . For 08-09-1100 IB it shows
[code]

while for 08-08-2300
[code]

[2021-08-11 13:25] dan131riley commented on #34841
I took the top ten modules in the 08-09-1100 TimeReport and matched to the same module in 08-08-2300.  The result is a fairly widespread and dramatic slowdown.  My first thought was that optimization could be off, but 08-09-1100 is a patch release with very little rebuilt, so these modules are running the exact same libraries:
[code]

[2021-08-11 13:34] smuzaffar commented on #34841
looks like patch vs full build issue. All the default IBs after `CMSSW_12_1_X_2021-08-08-2300` are patch build. But CMSSW_12_1_ROOT624_X_2021-08-09-2300 is full IB and there the timings are same as `CMSSW_12_1_X_2021-08-08-2300`. Let me check the patch release configuration.

[2021-08-11 13:34] dan131riley commented on #34841
08-09-1100 is linked to `jemalloc-debug/4.5.0-cms` for the jemalloc external:
[code]

[2021-08-11 13:39] Dr15Jones commented on #34841
Looking at individual module average times processing an event doesn't show anything super dramatic
[code]
[code]
[code]

[2021-08-11 13:41] Dr15Jones commented on #31426
@colizz thanks for doing the leg work on this!

[2021-08-11 13:46] dan131riley commented on #34841
dt1DRecHits is 30x slower, I guess it must do a lot of memory allocations.

[2021-08-11 14:07] smuzaffar commented on #34841
ok problem understood, in patch releases the jemalloc-debug.xml tool was not dropped and it override the jemalloc definition
- https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_1_X/master/cmssw-tool-conf.spec#L186
- https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_1_X/master/cmssw-patch-tool-conf.spec#L11

I will fix this for next IB

[2021-08-11 14:29] smuzaffar commented on #34841
https://github.com/cms-sw/cmsdist/pull/7209 should fix this issue

[2021-08-11 14:44] OzAmram commented on #34835
Has anyone been able to reproduce this error locally?

I when I try to run on what I think is the offending file `/store/data/Run2018D/EGamma/RAW/v1/000/322/106/00000/5A6F133C-02AF-E811-9E63-02163E019F2D.root` with the above config in CMSSW_10_6_4_patch1 I get `NULL pointer to FEDRawData for FED ` errors and not the seg-fault. I'm assuming something about my setup is incorrect.

[2021-08-11 14:47] mmusich commented on #34835
@kskovpen

can you provide please instructions to reproduce locally?

[2021-08-11 15:42] gartung commented on #34841
Would this explain the increase in time per event seen on the monitoring plot
https://monit-grafana.cern.ch/d/HtKKjajMz/profiling?orgId=11

[2021-08-11 16:01] smuzaffar commented on #34841
yes @gartung

[2021-08-11 17:15] OzAmram commented on #34835
So we were able to successfully reproduce the crash, which was coming specifically from event 196973498.
The crash was occuring due to a call to `SiPixelTemplate2D::interpolate` for which the input track angles were both NaN. I'm not sure what upstream was causing the NaN's, but a simple fix is to check that both angles are finite before proceeding and return a failure if not. There is already fal

[2021-08-11 18:21] slava77 commented on #34835
The standard procedure is to apply the update in the master and then consider a backport.

@kskovpen if we make an update in the software, is the production machinery capable to rerun this LS in a new release?
If it can happen, my guess is that an update on top of CMSSW_10_6_4_patch2 will be needed (the reference/crashing job is in CMSSW_10_6_4_patch1).

If the recovery in the same target dataset

[2021-08-11 18:49] OzAmram commented on #34835
Ok I went ahead and made a PR for master as we decide on the plan for a backport. PR is #34846

[2021-08-11 19:33] kskovpen commented on #34835
Thanks @slava77 for your input. Let me see if @haozturk or @justinasr had such past experience, i.e. would it be possible to rerun the workflow in the updated cmssw release?

[2021-08-11 22:04] dinyar commented on #34309
Hi!

The offending line [1] seems to be more than two years old, so I'm wondering if the firmware changed recently and is causing this issue.

Cheers,
Dinyar

[1] https://github.com/cms-sw/cmssw/blame/master/EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Setup.cc#L82

[2021-08-12 06:03] #34659 closed

[2021-08-12 07:56] smuzaffar commented on #34787
thanks @davidlange6 , CXXMODULE IB has no build errors any more.
Relvals are failing with errors like
[code]

[2021-08-12 08:07] davidlange6 commented on #34787
Thanks.. the first  issue is "harmless" - but right then there is this missing dictionary to fix.

[2021-08-12 08:48] perrotta commented on #34777
As this isssue is fixed by #34784, it can probably be signed and closed

[2021-08-12 09:05] francescobrivio commented on #34777
+alca

[2021-08-12 09:06] cmsbuild commented on #34777
This issue is fully signed and ready to be closed.

[2021-08-12 09:52] iarspider opened #34850 "[GCC11] Warning: matacqDigi.EcalMatacqDigi::freq could be undefined"
Log: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc11/CMSSW_12_1_X_2021-08-11-1100/EventFilter/EcalRawToDigi
Warning message:
[code]

Quick analysis of CMSSW code did not show any usage of `freq` member, so maybe this can be removed?

[2021-08-12 09:52] cmsbuild commented on #34850
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-12 09:53] iarspider commented on #34850
assign simulation

[2021-08-12 12:42] #34777 closed

[2021-08-12 13:17] justinasr commented on #34835
The usual and only procedure from our side (i.e. capabilities of PdmV machinery) would be to reset and resubmit the whole request with new release. If we make a new request to re-run only that run/lumisection, this will end up producing a separate output dataset (like extension) which is probably not desirable.
I think we could manually craft some requests/workflows if needed, but bigger question

[2021-08-12 14:35] Dr15Jones commented on #34787
The  class mentioned in the error

is one that is marked at not to be stored and therefore no dictionary is necessary.

[2021-08-12 14:47] smuzaffar commented on #34841
+core
this has been fixed now. Patch releases are properly dropping jemalloc-debug tool.  Jenkisn relval jobs are now back to their normal time i.e. ~5h instead of 15

[code]

[2021-08-12 14:47] #34841 closed

[2021-08-12 19:27] mzarucki commented on #34831
Dear all,

Today we performed a repeated test of the HLT GPU menu ([e-log](http://cmsonline.cern.ch/cms-elog/1122928)), with the intent of reproducing the above crashes. During the test, in run [344676](https://cmsoms.cern.ch/cms/runs/report?cms_run=344676) we were able to see the GPU crash ([e-log](http://cmsonline.cern.ch/cms-elog/1122714)) only. Considering the GPU menu is exactly the same as t

[2021-08-12 19:56] fwyzard commented on #34831
Note that the two crashes seem unrelated:
  - running over the events from run 344679 crashes the CPU reconstruction, but seems to work fine with the GPU reconstruction (though it could just be that we do not enable assertions on the GPU)
  - running over the events from run 344676 crashes on the GPU (actually, in the module that copies the data from the GPU to the CPU) but works fine on the CPU

[2021-08-13 07:20] jlawrenc commented on #34831
As mentioned in this elog: http://cmsonline.cern.ch/cms-elog/1122928, we attempted to reproduce the error during run 344765, but nothing occurred during the 24 minute run. When we included DT in the next run (344766), the error occurred (only GPU error), within 11 minutes.

[2021-08-13 09:29] mmusich commented on #34309
in addition, there is also a staggering amount of:
[code]

[2021-08-13 10:25] dinyar commented on #34309
Maybe @eyigitba or @dildick can comment on or fix this.

[2021-08-13 12:11] eyigitba commented on #34309
This warning is due to the EMTF unpacker. Unfortunately there are still some problems with the GEM TPs we receive at EMTF. We need to debug this some time after we confirm that we are getting the correct data format on correct links from GEMs. The duplicates are being discarded correctly at the unpacker so it shouldn't create problems downstream. For now, we can disable this warning, but there is

[2021-08-13 12:11] slava77 commented on #34831
@cms-sw/trk-dpg-l2
please take a note (I'm not sure if you received this already)

@fwyzard
do you know, perhaps, if someone is looking/debugging this already?

[2021-08-13 12:46] mmusich commented on #34309
That'd be highly desirable to avoid clogging the logs. I think there are ways to avoid having to print always the same message at all events, but just few times and collect the total at the end of the job.

[2021-08-13 12:46] mmusich commented on #34309
Who can investigate that?

[2021-08-13 12:54] dinyar commented on #34309
I think @varuns23 is the right person.

[2021-08-13 14:03] fwyzard commented on #34831
No, not that I know of.
I've just started looking at them myself.

[2021-08-13 14:30] nsmith- opened #34873 "Report all files to UDP statistics collector"
For several years now, any cmsRun process at a site with
[code]
in their `site-local-config.xml` would send a small UDP packet on every primary file close, reporting the LFN and some summary statistics. The code responsible is found at
https://github.com/cms-sw/cmssw/blob/master/Utilities/StorageFactory/src/StatisticsSenderService.cc
which registers an event watcher:
[code]
However, empirically th

[2021-08-13 14:30] cmsbuild commented on #34873
A new Issue was created by  @nsmith- Nicholas Smith.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-13 14:32] jfernan2 commented on #34795
L1T DQM Contacts:
@abrinke1 @apana @chadfreer @pgianneios @gkaratha @panoskatsoulis @benkrikler @aloeliger @vukasinmilosevic @dinyar @thomreis @rekovic @stahlleiton @hftsoi @mzarucki

Could you please have a look? Thanks

[2021-08-13 15:16] fwyzard commented on #34831
The error from run 344676 looks like a real mismatch between the legacy and GPU pixel cluster / rechit reconstruction.

I think we need @mmusich or @VinInn to have a look.

[2021-08-13 23:22] slava77 opened #34880 "establish/review the design plans for phase-2 ECAL rechit reconstruction"
To follow up on the discussion in https://github.com/cms-sw/cmssw/pull/34505#issuecomment-898463385

Things to consider
- reuse where possible the structure from phase-0/1
- GPU and CPU mix/separation
- algorithm evolution/exchange

@cms-sw/ecal-dpg-l2

[2021-08-13 23:23] slava77 commented on #34880
assign reconstruction,upgrade

[2021-08-13 23:23] cmsbuild commented on #34880
New categories assigned: upgrade,reconstruction

@slava77,@srimanob,@kpedro88,@adrianodee,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-13 23:23] cmsbuild commented on #34880
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-16 11:50] jsalfeld commented on #32219
@mmasciov wanted to check

(cc'ing @dsperka )

[2021-08-16 12:41] tvami commented on #31505
+alca

The following PRs resolve the `AlCa` part:
 * https://github.com/cms-sw/cmssw/pull/34723
 * https://github.com/cms-sw/cmssw/pull/34715

[2021-08-16 13:37] tvami opened #34890 "wf 8.0 failing in all Jenkins tests"
wf 8.0 fails even with the simplest PRs in Jenkins, for example:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_1_X_2021-08-13-1700+7d20f9/44780/validateJR.html

I understand that this is a long standing issue, and I'm wondering how it should be resolved. I cannot reproduce the problem in local testing
[code]
leads to
`1 1 1 1 1 tests passed, 0 0 0 0 0 failed`

Should we

[2021-08-16 13:38] cmsbuild commented on #34890
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-16 13:45] makortel commented on #34890
Just to clarify, the "failure" in PR tests

is in the DQM output comparisons, while the `runTheMatrix` output

checks only if the workflow technically runs or not.

[2021-08-16 13:46] makortel commented on #34890
Following the link to the failing comparison leads to https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_1_X_2021-08-13-1700+7d20f9/44780/8.0_BeamHalo+BeamHalo+DIGICOS+RECOCOS+ALCABH+HARVESTCOS/Pixel_AdditionalPixelErrors.html

that only says "Skipped: 0.2% (1)".

[2021-08-16 13:46] makortel commented on #34890
assign dqm

[2021-08-16 13:46] cmsbuild commented on #34890
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-16 13:50] tvami commented on #34890
Thanks @makortel for the clarification. Indeed following the links I see that
"Failing Comparisons: avgfedDigiOccvsLumi" here
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_1_X_2021-08-13-1700+7d20f9/44780/8.0_BeamHalo+BeamHalo+DIGICOS+RECOCOS+ALCABH+HARVESTCOS/Pixel.html

and "Skiped Comparisons byLumiErrors" here
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineCom

[2021-08-16 14:15] jfernan2 commented on #34890
Is there any way to see from RelMon the log error of those skipped/failing comparisons? The DQM bin by bin tool does not show any problem on those Pixel folders

[2021-08-16 14:18] smuzaffar commented on #34890
@jfernan2 , you can go to parent directory ( just remove the file part of the url in your browser e.g. https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_1_X_2021-08-13-1700+7d20f9/44780/ ) and then look for 8.0 log file.

[2021-08-16 14:27] bainbrid commented on #34774
Hi all,

I've tried the recipes provided [above](https://github.com/cms-sw/cmssw/issues/34774#issue-960576497) by @jordan-martins.

These are the relevant modifiers/eras used for each test:

- PPD-RunIISpring21UL16FSwmLHEGSPremix-00001: `--era Run2_2016 --fast --procModifiers premix_stage2`

- PPD-RunIISummer20UL16MiniAOD-00009: `--era Run2_2016 --fast`

- PPD-RunIISummer20UL16MiniAODv2-00008: `--

[2021-08-16 16:53] makortel commented on #34873
assign core

[2021-08-16 16:54] cmsbuild commented on #34873
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-16 16:55] makortel commented on #34873
@nsmith- How urgently would this information be needed?

[2021-08-16 16:56] jfernan2 commented on #34890
I have manually inspected the 2 root files (baseline and from a PR) for the wf8:
- for the skipped one, averageDigiOccupancy, both baseline and PR file have 80 entries with mean 0 and stddev =0 (overflow and underflow are zero too)

![imagen](https://user-images.githubusercontent.com/4508137/129600753-9d4d7f14-ee50-453f-8e51-5bd6a59bdc82.png)

- for the failing one, consequently avgfedDigiOccvsLum

[2021-08-16 17:10] tvami commented on #34890
Hi @jfernan2 thanks for looking into this. I'm wondering why the comparison of NaN vs NaN doesnt give an agreement.
Anyway, would you then recommend to remove wf 8.0 from the Jenkins tests?

[2021-08-16 17:15] davidlange6 commented on #34890
By definition nan!=nan (or anything else) - Better if the code producing the nan would instead produce some valid result.

[2021-08-16 17:22] jfernan2 commented on #34890
The code can probably not give valid results in this case since there is no FED info for Pizel.
What about blacklisting them in RelMon? Indeed I see they are in a blacklist: https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Utilities/RelMon/data/blacklist.txt#L75-L76

I am adding here Tracker DQM contacts in case they shred some light:
@sroychow @mmusich

[2021-08-16 17:26] davidlange6 commented on #34890
Its typically straightforward to protect against generating nans.. what's the code that is doing this?
(Of course will still be not useful in this workflow but then the histograms will be enabled for other workflows)

[2021-08-16 17:43] nsmith- commented on #34873
For now it supplies only additional, monitoring information. So, within a few months would be OK

[2021-08-16 17:46] jfernan2 commented on #34890
https://github.com/cms-sw/cmssw/blob/639903d4712746dd12121d0f459b1908fb0ae03d/DQM/SiPixelMonitorDigi/src/SiPixelDigiSource.cc#L133-L146

[2021-08-16 18:52] tvami commented on #34890
`averageDigiOccupancy` is actually blacklisted even twice, the second one here
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Utilities/RelMon/data/blacklist.txt#L50

Maybe that could be changed to `avgfedDigiOccvsLumi`. Should I go ahead with this fix?

[2021-08-16 18:55] makortel commented on #34835
No, for crashes we don't report event (or lumi or run) numbers.

[2021-08-16 20:24] mmusich commented on #34890
see https://github.com/cms-sw/cmssw/pull/34900.

[2021-08-16 23:00] makortel opened #34901 "Non-reproducibility in ticlTracksters_ticlSimTracksters reco comparisons"
Many unrelated PRs (e.g. https://github.com/cms-sw/cmssw/pull/34891#issuecomment-899682842) are showing differences in `all_OldVSNew_*_ticlTracksters_ticlSimTracksters__RECO_obj_ticlIteration.png` in workflows 23234.0, 28234.0, 34634.0, and 34834.999. Below is an example from 23234.0
![image](https://user-images.githubusercontent.com/33993/129639490-04e835b4-c6bb-4b7d-9039-51f360cc0e8c.png)

[2021-08-16 23:01] makortel commented on #34901
assign reconstruction, upgrade

[2021-08-16 23:01] cmsbuild commented on #34901
New categories assigned: upgrade,reconstruction

@slava77,@srimanob,@kpedro88,@adrianodee,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-16 23:01] cmsbuild commented on #34901
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-17 02:50] srimanob commented on #34901
assign hgcal-dpg

[2021-08-17 02:50] cmsbuild commented on #34901
New categories assigned: hgcal-dpg

@cseez,@rovere you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-17 02:54] qliphy commented on #34901
https://github.com/cms-sw/cmssw/pull/34800#issuecomment-899607995  should be related.

[2021-08-17 05:58] bainbrid commented on #34633
Hi all, I will try to tackle this today. Can somebody please give me the commands used to generate the (IgProf?) profiling logs above so that I can test myself? Otherwise, I can just create the PR and let somebody else measure the effect?

[2021-08-17 07:57] jordan-martins commented on #34774
Hi @bainbrid, thanks for this follow-up!

From what I can tell, the relval wfs used Mini-v1 configuration and not Mini-v2. For example: https://cms-pdmv.cern.ch/relval/api/relvals/get_cmsdriver/CMSSW_10_6_22__fastsim_PU_2016premix-TTbar_13-00001

Please, let us know how you would like to deal with this. From the PdmV side, we would like to have the Mini-v2 working solution (and not use Mini-v1), e

[2021-08-17 08:31] jfernan2 commented on #34890
+1
Solved by #34900

[2021-08-17 08:31] cmsbuild commented on #34890
This issue is fully signed and ready to be closed.

[2021-08-17 08:46] #34890 closed

[2021-08-17 12:15] kirschen commented on #34381
Indeed solved by #34382. Closing...

[2021-08-17 12:15] #34381 closed

[2021-08-17 12:37] slava77 commented on #34901
this is fixed in
#34858

[2021-08-17 12:41] slava77 opened #34906 "add type deduction for produces calls using put tokens"
`putToken_(produces<FullTypeDetails>())` can likely be reduced to `putToken_(produces())` similar to the ED get tokens.

[2021-08-17 12:41] cmsbuild commented on #34906
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-17 12:43] slava77 commented on #34633
we can test it in the PR with "enable profiling"

[2021-08-17 12:59] makortel commented on #34906
assign core

[2021-08-17 13:00] cmsbuild commented on #34906
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-17 13:24] bainbrid commented on #34633
Here is the PR: https://github.com/cms-sw/cmssw/pull/34908

[2021-08-17 15:27] thomreis commented on #34795
These are modules from the legacy L1. Are they still used somewhere these days?

[2021-08-17 15:46] iarspider opened #34917 "[GCC11] HeterogeneousCore/CUDAUtilities: array subscript is partly outside array bounds"
Build of HeterogeneousCore/CUDAUtilities fails with GCC11:

[code]

Log file: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc11/CMSSW_12_1_X_2021-08-16-1100/HeterogeneousCore/CUDAUtilities

[2021-08-17 15:46] cmsbuild commented on #34917
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-17 15:48] iarspider opened #34918 "[GCC11] RecoPixelVertexing/PixelTrackFitting error: identifier "Eigen::fix<(int)-1> " is undefined in device code"
Build log: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc11/CMSSW_12_1_X_2021-08-16-1100/RecoPixelVertexing/PixelTrackFitting

Error message example:
[code]

[2021-08-17 15:48] cmsbuild commented on #34918
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-17 15:49] iarspider commented on #34917
assign heterogeneous

[2021-08-17 15:49] cmsbuild commented on #34917
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-17 16:03] makortel commented on #34918
assign reconstruction, heterogeneous

[2021-08-17 16:03] cmsbuild commented on #34918
New categories assigned: heterogeneous,reconstruction

@slava77,@fwyzard,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-17 16:07] makortel commented on #34917
@Vininn The error points to the same helper function we discussed in https://github.com/cms-patatrack/pixeltrack-standalone/pull/195#discussion_r677882403 .

[2021-08-17 16:09] fwyzard commented on #34918
It's not clear to me if this is a problem with CUDA/NVCC or with our changes to Eigen (and the older versions of NVCC were more tolerant).

So I've started a discussion about it on the NVIDIA forum ( https://forums.developer.nvidia.com/t/breaking-change-for-eigen-code-in-nvcc-11-3-and-later-vs-nvcc-11-2-and-earlier/186800 ) and opened a bug report about it ( https://developer.nvidia.com/nvidia_bug

[2021-08-17 16:32] mmusich commented on #34607
One of the problems of the approach at https://github.com/cms-sw/cmssw/issues/34607#issuecomment-886926636 is that running it takes an inordinate amount of time to run to completion.
It is not traversing the input DQM file the problem, but rather the creation of the `TrackerMaps` themselves.
Running:
[code]
I get the following results: http://musich.web.cern.ch/musich/cgi-bin/igprof-navigator/ig_t

[2021-08-17 18:55] fwyzard commented on #34918
A backport for the tentative fix is in https://github.com/cms-externals/eigen-git-mirror/pull/7 .

[2021-08-17 19:01] jfernan2 commented on #34795
that is the question @thomreis
Some findings posted here:
https://github.com/cms-sw/cmssw/pull/34794#issuecomment-898497617

[2021-08-17 21:17] makortel commented on #31061
@cms-sw/alca-l2 There are still some helper function calls from `AlignmentProducerAsAnalyzer` in the latest report
* `BzeroReferenceTrajectoryFactory::trajectories()`
* `DualBzeroTrajectoryFactory::trajectories()`
* `DualTrajectoryFactory::trajectories()`
* `ReferenceTrajectoryFactory::trajectories()`
* `TwoBodyDecayTrajectoryFactory::trajectories()`
* `MuonResidualsFromTrack` constructor
* `SiPix

[2021-08-17 21:48] tvami commented on #31061
Hi @mmusich @hyunyong can you please have a look at these?

[2021-08-17 22:14] tvami commented on #34309
Hi @varuns23 have you had the chance to look into this?

[2021-08-17 22:29] makortel commented on #34906
Done in https://github.com/cms-sw/cmssw/pull/34926

[2021-08-18 07:07] mmusich commented on #31061
I am afraid that the answer is no - at least in the near term future, but @bbilin has pledged to work on this, so I invite to redirect your queries to him directly.

[2021-08-18 07:26] bbilin commented on #31061
I will have a look in the upcoming days and migrate those. Thanks @mmusich for pinging.

[2021-08-18 07:45] fwyzard commented on #34917
See #34929 for a possible fix.

[2021-08-18 09:11] kskovpen commented on #34393
Sorry, does anyone know if this issue should also be addressed by #33697 ?

[2021-08-18 11:55] fwyzard commented on #30266
@makortel, what about `edm::global::EDProducer` with `ExternalWork` ?
Do you think it's something we could/should support ?

[2021-08-18 12:55] Dr15Jones commented on #34607
Instead of doing `new` and `delete` all the time, you could reuse the poly line by resetting its value via
https://root.cern.ch/doc/master/classTPolyLine.html#af9615d068b67a0d6bf9e1bba4ea3d83b

[2021-08-18 12:56] makortel commented on #30266
If there is a good use case, sure.

So far it seems that `ExternalWork` in practice implies storing per-EDM-stream state somewhere, which with `edm::global` means `StreamCache`. I'm planning to hide the explicit storage of [`ContextState`](https://github.com/cms-sw/cmssw/blob/master/HeterogeneousCore/CUDACore/interface/ContextState.h) that would need the `StreamCache`, and therefore providing a "s

[2021-08-18 13:12] bainbrid commented on #34774
Hi @jordan-martins, @slava77, all,

some further investigations ...

The reason for the exception above is that for FastSim, we switch to a different track collection (from `generalTracks` to `generalTracksBeforeMixing`) to seed the low pT electron reconstruction (here's the [commit](https://github.com/cms-sw/cmssw/commit/1b3dd5721b7f74ea4b162b37a04a5ecc5ad68c00#diff-ee53734cba9db732577d612624ee1f

[2021-08-18 13:17] fwyzard commented on #30266
Of the ones you suggested earlier, I'd go with `SynchronizingEDProducer` .

[2021-08-18 13:23] slava77 commented on #34774
@bainbrid
is it possible to use the generalTracks in this context (separate PAT step running from AOD)?

[2021-08-18 13:57] bainbrid commented on #34774
hi @slava77, please can you rephrase - not sure I fully understand your question ...?

[2021-08-18 14:03] makortel commented on #34393
No. The logs pointed to in the issue description mention 10_6_25, that includes #33697.

[2021-08-18 14:09] Dr15Jones commented on #34607
Looking at the implementation of `SetPolyLine` it doesn't reuse the underlying storage so it is just like doing a `delete` followed by a `new`. Only `SetPoint` appears to reuse the storage.

[2021-08-18 14:13] Dr15Jones commented on #34607
Ah, so it looks like calling
https://root.cern.ch/doc/master/classTPolyLine.html#ad3e1ccd7ced0116da830612a342b411c
followed by a series of `SetPoint` would reuse the storage.

[2021-08-18 14:23] mmusich commented on #34607
I tried out the `SetPolyLine` option at https://github.com/cms-sw/cmssw/commit/48317548b73c9caba37d1a2c17980530ad8b6b30
but while it make it fast, it does produce empty maps: http://musich.web.cern.ch/musich/display/TrackerMapsFixed/

[2021-08-18 14:38] bainbrid commented on #34774
@jordan-martins how urgent is this issue?

[2021-08-18 17:26] tvami commented on #32084
assign db

[2021-08-18 17:26] cmsbuild commented on #32084
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-18 17:42] smuzaffar commented on #34787
this issue was solved by updating cmsdist's rootmodule branch to use python3.

[2021-08-18 17:42] #34787 closed

[2021-08-19 01:08] qliphy commented on #34531
fixed by https://github.com/cms-sw/cmssw/pull/34710
https://github.com/cms-sw/cmssw/pull/34710/files/ce06076dc65aadc045eb878c99ee0ef3f88cd48a..2e7e1c0ca67865630b9aae21948cf75b6ffad0e5

[2021-08-19 01:08] #34531 closed

[2021-08-19 12:12] ggovi commented on #31505
+1

DB Part addressed by https://github.com/cms-sw/cmssw/pull/34933

[2021-08-19 12:21] mrodozov commented on #34531
Dears, I was trying to figure out why 538.0 is failing in gcc10 when I noticed the failure for 537.0 in gcc10 is the same as for 538.0.

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_1_X_2021-08-18-2300/pyRelValMatrixLogs/run/537.0_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+HARVESTGEN/step1_DYToLL012Jets_5FS_Tu

[2021-08-19 12:39] Dominic-Stafford commented on #34531
Workflows 537 and 538 were added here: https://github.com/cms-sw/cmssw/pull/34463. The issue you've reported looks like it comes from ThePEG failing to read in the lhe files, so I wouldn't expect it to be fixed by 34861, though it may just be because we're using old gridpacks as you suggest- I'll look into this.

[2021-08-19 14:24] mrodozov commented on #34531
using older gridpacks begs the question how the program runs compiled with gcc900 but not with 10.
and yes, looks like ThePEG is failing on this line 115 to read something that points to non init pointer (or released, with the same outcome)

thank you.

[2021-08-19 15:23] smuzaffar commented on #34718
@Dr15Jones , can we also cleanup

[code]
these are included by public header ( e.g FWCore/Framework/interface/EventSetupsController.h and FWCore/Framework/interface/*TransitionAsync.h). I think moving these to FWCore/Framework/interface should be enought

[2021-08-19 15:29] smuzaffar commented on #34718
@fwyzard , we still have couple of private headers of CUDAUtilities which are used by https://cmssdt.cern.ch/lxr/source/HeterogeneousCore/CUDAServices/src/CUDAService.cc
[code]
Any objections on moving these to `HeterogeneousCore/CUDAUtilities/interface` ?

[2021-08-19 15:31] makortel commented on #34718
I'd like to take care of that, can do today.

[2021-08-19 15:51] Dominic-Stafford commented on #34531
I've done some tests, and I think this is simply a bug with the pointer not being created in ThePEG for gcc10, so the old gridpacks aren't the problem. I'll email the Herwig authors about this and ask if they can provide a patch

[2021-08-19 15:53] mrodozov commented on #32084
@tvami see https://github.com/cms-sw/cmssw/issues/33945 and I'll suggest we close this one. This is a consequence to whats in 33945

[2021-08-19 15:54] tvami commented on #32084
Ok let's close this one then!

[2021-08-19 15:55] smuzaffar commented on #34586
looks like woprkflow 4007.0 is now running successfully in the IBs. Do we know which PR fixed it? Was it a side effect of https://github.com/cms-sw/cmssw/pull/34710 ?

[2021-08-19 15:57] #32084 closed

[2021-08-19 16:25] agrohsje commented on #34586
i don't see any connection. it is not related to pythia8. i think simulation should decide and comment more on the 2 files and what we should adjust. @smrenna can confirm but i don't think this is about gen itself.

[2021-08-19 16:47] smrenna commented on #34586
As far as I can tell, this has to do with a definition in HepPDT.

-- Steve

From: agrohsje ***@***.***>
Reply-To: cms-sw/cmssw ***@***.***>
Date: Thursday, August 19, 2021 at 11:26 AM
To: cms-sw/cmssw ***@***.***>
Cc: Stephen Mrenna ***@***.***>, Mention ***@***.***>
Subject: Re: [cms-sw/cmssw] IB error in workflow 4007.0: invalid PDG id: 9010221 (#34586)

i don't see any connection. it is not re

[2021-08-19 17:33] makortel commented on #34718
Done in https://github.com/cms-sw/cmssw/pull/34958.

[2021-08-19 20:29] mrodozov commented on #34586
I checked this IBs, for which it was failing
CMSSW_12_1_X_2021-08-17-2300
CMSSW_12_1_X_2021-08-16-2300
and it ran for both. So it's not due to pr that got in

[2021-08-19 22:23] makortel commented on #25090
Thanks @agrohsje. That indeed improved the situation substantially, but there are still workflows with GEN modules that prevent concurrent lumis. Here is a list from CMSSW_12_1_X_2021-08-18-2300, now also including the workflows where the modules are used
[code]
Can these be addressed as well?

(the same list of AlCa modules as in https://github.com/cms-sw/cmssw/issues/25090#issuecomment-877237758

[2021-08-20 01:55] qliphy commented on #34586
Yes, I think the random number gets changes.
As mentioned above,  Occasionally this workflow will produce a f0(980) particle and then trigger the error.

I just did a test with CMSSW_12_1_X_2021-08-19-1100
it seems the error now appears at 17th event:

runTheMatrix.py -l 4007.0 --job-reports -t 4 --ibeos --command="-n 1000"
...
Begin processing the 17th record. Run 1, Event 17, LumiSection 1 on st

[2021-08-21 00:32] slava77 opened #34971 "[HGCAL/TICL] define/assign ticlIteration for HFNose and default-constructed tracksters"
#34962 :

Either a new iteration should be defined in the `Trackster::IterationIndex` enum, or the `TrackstersProducer` should decode to an existing enum value.

Also, in #34858  the `Trackster::iterationIndex_` was default-initialized to 0, which can be confused with `EM`. Perhaps a new enum `UNKNOWN` or `INVALID` should be defined.

@cms-sw/hgcal-dpg-l2

[2021-08-21 00:33] slava77 commented on #34971
assign reconstruction,hgcal-dpg

[2021-08-21 00:33] cmsbuild commented on #34971
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-21 00:33] cmsbuild commented on #34971
New categories assigned: hgcal-dpg,reconstruction

@cseez,@slava77,@rovere,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-21 01:29] makortel commented on #34906
+1

[2021-08-21 01:30] cmsbuild commented on #34906
This issue is fully signed and ready to be closed.

[2021-08-21 01:33] #34906 closed

[2021-08-21 08:56] fwyzard commented on #30266
@makortel , is there anything in the discussion at https://github.com/cms-patatrack/pixeltrack-standalone/pull/143 that should influence these changes ?

[2021-08-23 06:46] colizz commented on #25090
Hello, maybe add some information from my side on these GEN workflows and the corresponding McM production.

we do not have concurrent implementation for them, but it seems these modules are very infrequently used in McM - 8 for `Pythia8PtGun`, 4 for `Pythia8PtAndDxyGun`, and 0 for `Pythia8EGun` among 9910 UL GEN existing tasks.

These workflows are for LHE interfacing `Pythia8HadronizerFilter` wi

[2021-08-23 08:01] mrodozov opened #34975 "Relvals 537.0 and 538.0 failing in GCC10 IB"
Two relvals are failing in gcc10 with the same stacktrace suggesting the same issue in ThePEG:

[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_1_UBSAN_X_2021-08-20-2300/pyRelValMatrixLogs/run/537.0_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+HARVESTGEN/step1_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_her

[2021-08-23 08:03] cmsbuild commented on #34975
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-23 08:03] mrodozov commented on #34975
assign generators
@Dominic-Stafford lets continue here

[2021-08-23 08:03] cmsbuild commented on #34975
New categories assigned: generators

@Saptaparna,@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-23 10:45] smuzaffar commented on #34718
#34895 ,  #34898 and  #34977 are the last 3 PRs to fix this issue. Once these are merged then all the private header usage should be clean and I can enable the build rule to fail the build if someone use a private header

[2021-08-23 14:15] slava77 opened #34981 "convert old style of consumes/esConsumes/produces calls to use the new style with automatic type deduction"
There are around 10K cases of `consumes<` and `esConsumes<`.
Some central migration may be helpful.
Perhaps also there could be a note/message in the code-checks so that this approach does not spread to the new code either.

[2021-08-23 14:16] cmsbuild commented on #34981
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-23 17:14] makortel commented on #34981
From the framework perspective there is no need to migrate away from the versions with explicit type. That API will stay, and the type-deducing versions are just syntactic sugar (similar to `std::vector<int> a{1};` vs `std::vector a{1}`. I could also imagine some developers preferring the explicit types.

[2021-08-23 19:59] tvami commented on #34309
Hi @qliphy @perrotta since L1 is not very responsive here (might be due to August being holiday season), could this be discussed at the ORP meeting tomorrow? Would be nice to get this fixed for a possible CRUZET ReRECO. Thanks!

[2021-08-23 21:58] smuzaffar commented on #34918
this has been fixed

[2021-08-23 21:58] #34918 closed

[2021-08-23 21:59] smuzaffar commented on #34917
this has been fixed via  #34929

[2021-08-23 21:59] #34917 closed

[2021-08-24 01:02] qliphy commented on #34309
Sure,  added to the google spreadsheet

[2021-08-24 07:24] jordan-martins commented on #34774
Hi @bainbrid , this is currently holding the startup of the FastSim UL campaigns. Not burning critical, but critical.
Best, Jordan

[2021-08-24 14:04] bainbrid commented on #34774
Hi @jordan-martins, @Sam-Harper  @slava77, all,

I’m currently away but I could probably implement the above one evening, as this seems to be the path of least resistance, but it would mean removing low pT ele from PAT for the FS wfs.

[2021-08-24 15:23] agrohsje commented on #34586
@civanch this is the PR we just talked about in ORP.

[2021-08-24 15:26] francescobrivio commented on #34309
@eyigitba Since this seems the preferred solution for the moment, who is it going to actually implement the suggestion from Marco in https://github.com/cms-sw/cmssw/issues/34309#issuecomment-898433435 ?

[2021-08-24 15:29] slava77 commented on #34774
as it was discussed in the ORP earlier today, one of the main customers of fastsim are SUSY analyses and some would need the low-pt electrons supported.
So, a plain removal from the PAT sequence is not desirable.

@cms-sw/xpog-l2

[2021-08-24 15:47] perrotta commented on #34586
assign simulation

[2021-08-24 15:48] cmsbuild commented on #34586
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-24 16:33] bainbrid commented on #34774
Ok then I’ll need to speak with @Sam-Harper on the details. Any significant devs may have to wait until next week.

[2021-08-24 20:28] makortel commented on #34271
+core

[2021-08-24 20:29] cmsbuild commented on #34271
This issue is fully signed and ready to be closed.

[2021-08-24 21:11] civanch commented on #34586
Hi all,

data file [1] includes correct PDG numbers for a0(980), a+-(980), and f0(980). This correspond to Geant4 data and PDG data. There is a small difference in mass, which does not affect anything. There is also uncertainty in width of these mesons, which is natural due to complex dynamic quark continence of these mesons.

From my point of view, [1] should be used and [2] should be removed. PD

[2021-08-25 03:04] #34271 closed

[2021-08-25 06:51] mrodozov opened #35003 "[UBSAN] undefined behavior in vdt/exp.h and vdt/sincos.h"
Merging two old issues which are still present about undefined behavior in VDT
https://github.com/dpiparo/vdt
#11755 and #11754

https://github.com/dpiparo/vdt/blob/master/include/sincos.h#L139
example relvals:
36.0 step3
23434.99 step4
-> this one is unclear to me why it's complaining, maybe it needs initialization and it will stop

vdt/exp.h:144:38: runtime error: left shift of negative value -1

[2021-08-25 06:51] cmsbuild commented on #35003
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 06:54] mrodozov commented on #35003
@dpiparo @VinInn I see you were tagged on the prev issue

[2021-08-25 06:59] mrodozov opened #35004 "[UBSAN] Undefined behavior in DQM for diff relvals"
In few DQM packages undefined behaviour is reported by the UBSAN IB:

DQM/CSCMonitorModule/plugins/CSCDQM_StripClusterFinder.cc:268:77: - runtime error: member access within address 0x2b14cd588b00 which does not point to an object of type 'StripClusterFitData'
136.885

DQM/HcalCommon/src/DQClient.cc:109:13 - runtime error: signed integer overflow: 2147483647 + 1 cannot be represented in type 'int'

[2021-08-25 07:00] mrodozov commented on #35004
assign dqm

[2021-08-25 07:00] cmsbuild commented on #35004
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 07:00] cmsbuild commented on #35004
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 07:06] mrodozov opened #35005 "[UBSAN] CondFormats/JetMETObjects and CondFormats/L1TObjects report"
Undefined behavior is reported in two files for CondFormats:

CondFormats/JetMETObjects/src/SimpleJetCorrector.cc
CondFormats/L1TObjects/src/LUT.cc

with this report:
LUT.cc:83:42: runtime error: signed integer overflow: -2147483648 - 1 cannot be represented in type 'int'
SimpleJetCorrector.cc:88:35: runtime error: variable length array bound evaluates to non-positive value 0

and example relvals:

[2021-08-25 07:06] cmsbuild commented on #35005
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 07:26] mrodozov commented on #35005
assign db

[2021-08-25 07:27] cmsbuild commented on #35005
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 08:45] mrodozov opened #35006 "[UBSAN] Undefined behavior in FastSimulation/CaloGeometryTools"
UBSAN reports a runtime error:

[code]
https://github.com/cms-sw/cmssw/blob/master/FastSimulation/CaloGeometryTools/interface/CaloPoint.h#L17

in multiple relvals, example:
5.6 step1
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc10/CMSSW_12_1_UBSAN_X_2021-08-20-2300/pyRelValMatrixLogs/run/5.7_H130GGgluonfusion+H130GGgluonfusionFS+HARVESTFS/step1_H130GGgluonfusion+H130GGgluonfusion

[2021-08-25 08:45] cmsbuild commented on #35006
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 08:45] mrodozov commented on #35006
assign fastsim

[2021-08-25 08:46] cmsbuild commented on #35006
New categories assigned: fastsim

@civanch,@sbein,@ssekmen,@mdhildreth,@lveldere you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 09:18] eyigitba commented on #34309
I'm still on vacation, but I'll see if I can do it by the end of this week.

[2021-08-25 10:22] mrodozov opened #35008 "[UBSAN] 3 reports in HLT for undefined behaviour"
Undefined behavior was reported in 3 files for HLT:

[code]

found in example relvals:
134.709 step3
158.0 step2, 11604.0 step2
11650.501 step2, 158.3 step2
in that order

Reference: the latest UBSAN IB
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_1/2021-08-20-2300?selectedArchs=slc7_amd64_gcc10&selectedFlavors=UBSAN_X&selectedStatus=passed&selectedStatus=failed

[2021-08-25 10:22] cmsbuild commented on #35008
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 10:30] mrodozov commented on #35008
assign hlt

[2021-08-25 10:30] cmsbuild commented on #35008
New categories assigned: hlt

@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 10:32] mrodozov commented on #35003
assign externals

[2021-08-25 10:33] cmsbuild commented on #35003
New categories assigned: externals

@smuzaffar,@mrodozov,@iarspider you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 12:52] makortel commented on #35004
This points to line
https://github.com/cms-sw/cmssw/blob/3a5e558609b0e6f30f9001479d3038ec773a016e/DQM/HcalCommon/src/DQClient.cc#L109
and `_totalLS` being uninitialized.

https://github.com/cms-sw/cmssw/blob/3a5e558609b0e6f30f9001479d3038ec773a016e/DQM/L1TMonitor/src/L1TStage2EMTF.cc#L978-L980
hinting something could be wrong in the `iRPC` calculation

These are all lines with a call to a member f

[2021-08-25 13:04] makortel commented on #35006
This probably means that `CaloDirection` (which is a an `enum`) member
https://github.com/cms-sw/cmssw/blob/3a5e558609b0e6f30f9001479d3038ec773a016e/FastSimulation/CaloGeometryTools/interface/CaloPoint.h#L64
is not initialized by some of the constructors of `CaloPoint`.

[2021-08-25 13:13] makortel commented on #35004
Here is some discussion https://stackoverflow.com/questions/57294792/c-ubsan-produces-false-positives-with-derived-objects with a suggestion

[2021-08-25 13:19] mrodozov opened #35010 "[UBSAN] Undefined behavior in 23 files for L1Trigger/* packages"
The UBSAN IB reports undef behavior issues in 23 files, with example relval and step they appear in:

[code]
for reference check the latest UBSAN IB:
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_1/2021-08-20-2300?selectedArchs=slc7_amd64_gcc10&selectedFlavors=UBSAN_X&selectedStatus=passed&selectedStatus=failed

[2021-08-25 13:20] cmsbuild commented on #35010
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 13:21] mrodozov commented on #35010
assign l1

[2021-08-25 13:21] cmsbuild commented on #35010
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 14:01] mrodozov opened #35011 "[UBSAN] Undefined behavior in 4 files in SimCalorimetry"
The UBSAN IB reports undef behavior issues 4 files, with example relval and step they appear in:

[code]

for reference: the last UBSAN IB
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_1/2021-08-20-2300?selectedArchs=slc7_amd64_gcc10&selectedFlavors=UBSAN_X&selectedStatus=passed&selectedStatus=failed

[2021-08-25 14:01] makortel commented on #35010
Here is an additional one from 11603.0 step 3 that looked into a bit while looking for something else
[code]
Essentially the code here
https://github.com/cms-sw/cmssw/blob/fd2a2368cee70243b3025199ea1f8fb01b15780b/EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTSetup.cc#L83-L84
casts an object of type `EtSumUnpacker_0x10010057` to `EtSumUnpacker` while they have no relation
https://github

[2021-08-25 14:01] mrodozov commented on #35011
assign l1

[2021-08-25 14:01] cmsbuild commented on #35011
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 14:01] cmsbuild commented on #35011
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 14:03] makortel commented on #35011
Should this be for `simulation` instead?

[2021-08-25 14:18] mrodozov commented on #35004
I'll check how many of those will (hopefully) be solved with initialization after I'm done with this issues.
another example of this is here:
https://github.com/dpiparo/vdt/blob/master/include/sincos.h#L135-L139
https://github.com/cms-sw/cmssw/issues/35003
`int j` is uninit
although I'm not sure what details::reduce2quadrant does with `j` (it probably sets it to something)

[2021-08-25 14:26] mrodozov opened #35012 "[UBSAN] Undefined behavior in EventFilter/*"
The UBSAN IB reports undefined behavior in 5 files, with example relval and step they appear in:

[code]
for reference use the latest UBSAN IB:
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_1/2021-08-20-2300?selectedArchs=slc7_amd64_gcc10&selectedFlavors=UBSAN_X&selectedStatus=passed&selectedStatus=failed

[2021-08-25 14:26] mrodozov commented on #35012
assign l1

[2021-08-25 14:42] slava77 commented on #35012
I couldn't find these details in
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_1_UBSAN_X_2021-08-20-2300/pyRelValMatrixLogs/run/136.752_RunMuonEG2016D+RunMuonEG2016D+HLTDR2_2016+RECODR2_2016reHLT_skimMuonEG_HIPM+HARVESTDR2/step3_RunMuonEG2016D+RunMuonEG2016D+HLTDR2_2016+RECODR2_2016reHLT_skimMuonEG_HIPM+HARVESTDR2.log#/NaN

BTW, EventFilter/EcalRawToDigi is in reco categor

[2021-08-25 14:42] mrodozov opened #35013 "[UBSAN] Undefined behavior in DataFormats/*"
The UBSAN IB reports undefined behavior in 6 files, with example relval and step they appear in:

[code]

for reference use the latest UBSAN IB:
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_1/2021-08-20-2300?selectedArchs=slc7_amd64_gcc10&selectedFlavors=UBSAN_X&selectedStatus=passed&selectedStatus=failed

[2021-08-25 14:43] cmsbuild commented on #35013
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 14:43] cmsbuild commented on #35013
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 14:50] tvami opened #35014 ""ECAL Interpolated Laser correction <0" msg in rerecoing cosmics (2020 MWGR / 2021 CRUZET)"
When rerecoing CRUZET runs we see
"%MSG-e EcalLaserDbService:  EcalDQMonitorTask:ecalMonitorTask  29-Jul-2021 01:46:21 CEST Run: 343175 Event: 382226
Interpolated Laser correction <0 for detid 838888175
%MSG
%MSG-e EcalLaserDbService:  EcalDQMonitorTask:ecalMonitorTask  29-Jul-2021 01:46:21 CEST Run: 343175 Event: 382226
"
a lot! This was present in the MWGRs in 2020 too, but still present in the