[2021-12-06 23:10] cmsbuild commented on #36381
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3310/console
CMSDIST Branch: [IB/CMSSW_12_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 23:11] cmsbuild commented on #36381
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3311/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 23:12] cmsbuild commented on #36381
The build has started for slc7_amd64_gcc900 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3312/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 23:18] cmsbuild commented on #36381
The build has started for cc8_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3313/console
CMSDIST Branch: [IB/CMSSW_12_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 23:24] makortel commented on #31061
Below is a list of EDModules as extracted from CMSSW_12_2_X_2021-12-05-0000 and classified to L2 categories (not exclusive). I classified manually the cases the script was not able to identify a package for the EDmodule. I put class templates to the package where the template itself is defined.

To remind, as far as I can tell none of these are run in the IBs. Possibly many of these are also legac

[2021-12-07 01:50] cmsbuild commented on #36381
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-slc7_ppc64le_gcc9/3311
Some tes

[2021-12-07 01:56] cmsbuild commented on #36381
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3314/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-07 02:00] cmsbuild commented on #36381
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-cc8_aarch64_gcc9/3313
Some tests

[2021-12-07 02:29] cmsbuild commented on #36381
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-cc8_amd64_gcc9/3308
Some tests ( r

[2021-12-07 02:32] cmsbuild commented on #36381
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-slc7_amd64_gcc10/3309
Some tests

[2021-12-07 02:54] cmsbuild commented on #36381
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-cc8_aarch64_gcc9/3313

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-07 02:55] cmsbuild commented on #36381
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-cc8_ppc64le_gcc9/3310
Some tests

[2021-12-07 03:15] cmsbuild commented on #36381
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-cc8_amd64_gcc9/3308

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-07 03:15] cmsbuild commented on #36381
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-slc7_ppc64le_gcc9/3311

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-07 03:19] cmsbuild commented on #36381
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-slc7_amd64_gcc10/3309

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-07 03:47] cmsbuild commented on #36381
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-slc7_amd64_gcc900/3312
Some tes

[2021-12-07 03:57] cmsbuild commented on #36381
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-cc8_ppc64le_gcc9/3310

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-07 04:35] cmsbuild commented on #36381
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-slc7_amd64_gcc900/3312

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-07 04:45] cmsbuild commented on #36381
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-slc7_aarch64_gcc9/3314
Some tes

[2021-12-07 05:48] cmsbuild commented on #36381
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre1-slc7_aarch64_gcc9/3314

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-07 06:30] qliphy commented on #36381
upload all

[2021-12-07 06:30] cmsbuild commented on #36381
Queing Jenkins upload for slc7_amd64_gcc900

[2021-12-07 06:30] cmsbuild commented on #36381
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-12-07 06:30] cmsbuild commented on #36381
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-12-07 06:30] cmsbuild commented on #36381
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-12-07 06:30] cmsbuild commented on #36381
Queing Jenkins upload for cc8_amd64_gcc9

[2021-12-07 06:30] cmsbuild commented on #36381
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-12-07 06:30] cmsbuild commented on #36381
Queing Jenkins upload for slc7_amd64_gcc10

[2021-12-07 06:31] cmsbuild commented on #36381
The upload has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2174/console

[2021-12-07 06:31] cmsbuild commented on #36381
The upload has started for cc8_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2173/console

[2021-12-07 06:31] cmsbuild commented on #36381
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2176/console

[2021-12-07 06:32] cmsbuild commented on #36381
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre1-cc8_amd64_gcc9/2174

[2021-12-07 06:32] cmsbuild commented on #36381
The upload has started for slc7_amd64_gcc900 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2177/console

[2021-12-07 06:32] cmsbuild commented on #36381
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2175/console

[2021-12-07 06:33] cmsbuild commented on #36381
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre1-cc8_ppc64le_gcc9/2175

[2021-12-07 06:33] cmsbuild commented on #36381
The upload has started for slc7_amd64_gcc10 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2178/console

[2021-12-07 06:33] cmsbuild commented on #36381
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre1-slc7_aarch64_gcc9/2176

[2021-12-07 06:33] cmsbuild commented on #36381
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre1-cc8_aarch64_gcc9/2173

[2021-12-07 06:34] cmsbuild commented on #36381
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2179/console

[2021-12-07 06:34] cmsbuild commented on #36381
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre1-slc7_amd64_gcc10/2178

[2021-12-07 06:34] cmsbuild commented on #36381
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre1-slc7_amd64_gcc900/2177

[2021-12-07 06:35] cmsbuild commented on #36381
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre1-slc7_ppc64le_gcc9/2179

[2021-12-07 06:37] missirol commented on #31061
+hlt

[2021-12-07 07:29] qliphy commented on #36381
release-notes

[2021-12-07 07:29] cmsbuild commented on #36381
Unable to find previous release for CMSSW_12_3_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2021-12-07 07:32] qliphy commented on #36381
release-notes since CMSSW_12_2_0_pre3

[2021-12-07 07:32] cmsbuild commented on #36381
Generating release notes since CMSSW_12_2_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-12-07 07:32] cmsbuild commented on #36381
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_3_0_pre1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_2_0_pre3 can be found at:

https://github.com/cms-

[2021-12-07 07:32] cmsbuild commented on #36381
Generating release notes since CMSSW_12_2_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-12-07 07:32] cmsbuild commented on #36381
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_3_0_pre1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_2_0_pre3 can be found at:

https://github.com/cms-

[2021-12-07 07:36] cmsbuild commented on #36381
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre1

[2021-12-07 07:37] cmsbuild commented on #36381
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre1

[2021-12-07 07:58] #36375 closed

[2021-12-07 09:54] agrohsje commented on #31061
Hi @mkirsano @SiewYan , should we update this code:
https://github.com/cms-sw/cmssw/blob/master/IOMC/ParticleGuns/src/FlatEGunASCIIWriter.cc
or clean-up and remove?

[2021-12-07 10:47] franzglessgen commented on #35519
Hi ! I do not think the studies are over yet, @emiglior might be more up to date about the latest development.

[2021-12-07 12:02] SiewYan commented on #31061
Hello @agrohsje , I do not have a strong opinion on this, this is from 2013 and remained intact (from the history). I am fine with other decision though..

[2021-12-07 13:35] slava77 commented on #36369
@wrtabb @SohamBhattacharya
please check and clarify on the timeline for a fix (or if this should be redirected to some other experts).
Thank you.

[2021-12-07 13:59] makortel commented on #36375
+1

[2021-12-07 13:59] cmsbuild commented on #36375
This issue is fully signed and ready to be closed.

[2021-12-07 14:00] makortel commented on #36319
This failure occurred again in CMSSW_12_3_ROOT624_X_2021-12-06-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_3_ROOT624_X_2021-12-06-2300/unitTestLogs/CondTools/SiStrip#/

[2021-12-07 15:42] VinInn commented on #36369
is it coming from ```lowPtGsfEleGsfTracks``` or from the standard ```GsfTracks```?
I think it has been seen (long ago) in ```lowPtGsfEleGsfTracks```

[2021-12-07 18:26] silviodonato commented on #35376
From the latest Ganesh's results https://docs.google.com/spreadsheets/d/1MOAzxYSRKRjqDvkQKUd6a9SAT0mNO--_3Zc3w9JCtQ0/edit#gid=2096617240 obtained in CMSSW_12_2_0_pre2 + #36088
we can say:
- everything is ok up to ECAL+HCAL (as expected)
- there are differences in the pixel local reco of data 2018 (~10x larger than the GPU-to-GPU differences)
- there are no additional differences when offloading Pi

[2021-12-07 21:17] makortel opened #36404 "Migrate legacy EDModules to thread-efficient alternatives"
Legacy EDModules have been effectively deprecated since the start of Run 2, and we are now phasing out their support.

Current ways to locate legacy EDModules:
* Static analyzer lists those not in `test/` directories
* CMSDEPRECATED IB lists all of them as compilation warnings (accompanied with code that needs to be migrated to esConsumes, #31061)
* `cmsRun` jobs print out a warning message listin

[2021-12-07 21:17] cmsbuild commented on #36404
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-07 21:18] makortel commented on #36404
assign analysis,code,db,dqm,generators,l1,upgrade

(starting with categories whose legacy EDModules are being run in IBs)

[2021-12-07 21:19] cmsbuild commented on #36404
New categories assigned: upgrade,db,analysis,generators,l1,dqm

@jfernan2,@ahmad3213,@AdrianoDee,@mkirsano,@rvenditti,@emanueleusai,@ggovi,@srimanob,@alberto-sanchez,@SiewYan,@santocch,@rekovic,@GurpreetSinghChahal,@francescobrivio,@pbo0,@malbouis,@tvami,@Saptaparna,@cecilecaillol,@agrohsje,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-07 21:21] makortel commented on #36404
As a step towards being able to change the warning message to an exception (goal is by 13_0_0) I gathered EDModules listed by the warning messages in full runTheMatrix and unit test logs, and classified the EDModules by their packages and L2 areas. Below is a list from CMSSW_12_3_X_2021-12-06-2300 (the name(s) after the C++ type name are the module labels in the jobs they were run).

@cms-sw/analy

[2021-12-07 21:22] makortel commented on #36404
assign core

[2021-12-07 21:22] cmsbuild commented on #36404
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-07 21:26] slava77 opened #36405 "review content saved in miniAOD in DeDxHitInfo to possibly reduce the size on file"
Followed by a recent update in the dedx data selection in #36225, I think that it's a reasonable idea to review if all data saved in `DeDxHitInfo` in miniAOD is necessary.
This data is saved for a somewhat small fraction of tracks, but the size turns out to be close to 0.4 kB per track (using an average from 100 events from workflow 136.793 from DoubleEG Run2017C).

`DeDxHitInfo` is a vector (per

[2021-12-07 21:27] slava77 commented on #36405
assign reconstruction,xpog

[2021-12-07 21:27] cmsbuild commented on #36405
New categories assigned: xpog,reconstruction

@slava77,@jpata,@mariadalfonso,@gouskos,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-07 21:27] cmsbuild commented on #36405
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-08 02:03] tvami commented on #29833
Hi @bsunanda will you have the time to do this soon? Should we aim to finish with this under 12_3_X?

[2021-12-08 02:47] tvami commented on #27393
Actually that never converged so see https://github.com/cms-sw/cmssw/pull/36408 instead

[2021-12-08 07:30] agrohsje commented on #31061
@SiewYan Why don't we remove? It can always be recovered.
@qliphy @perrotta Do you have an opinion on removing the file:
https://github.com/cms-sw/cmssw/blob/master/IOMC/ParticleGuns/src/FlatEGunASCIIWriter.cc

[2021-12-08 07:34] agrohsje commented on #36404
Hi @SiewYan . Do you mind updating
GeneratorInterface/LHEInterface:
- DummyLHEAnalyzer lhedump ?
Thanks!

[2021-12-08 08:11] perrotta commented on #31061
The file at hand doesn't seem to be used anywhere in CMSSW: if @cms-sw/generators-l2 confirms it is not needed any more, yes please remove it (and all references to it), and avoid having to spend time in maintaining useless code in the release. If needed, it will be always possible to inspect it in github by accessing the past releases

[2021-12-08 08:13] agrohsje commented on #31061
At least the former GEN L2 is not aware that this is still needed. :-D

[2021-12-08 08:23] SiewYan commented on #31061
I am inclined to @perrotta 's idea. Ok, it shall be removed, i will see to it.

[2021-12-08 08:23] cmsbuild commented on #36368
The cleanup has started for cc8_aarch64_gcc9

[2021-12-08 08:23] cmsbuild commented on #36368
The cleanup has started for slc7_aarch64_gcc9

[2021-12-08 08:23] cmsbuild commented on #36368
The cleanup has started for slc7_amd64_gcc900

[2021-12-08 08:23] cmsbuild commented on #36368
The cleanup has started for cc8_ppc64le_gcc9

[2021-12-08 08:23] cmsbuild commented on #36368
The cleanup has started for slc7_ppc64le_gcc9

[2021-12-08 08:23] cmsbuild commented on #36368
The cleanup has started for cc8_amd64_gcc9

[2021-12-08 08:23] cmsbuild commented on #36368
The cleanup has started for slc7_amd64_gcc10

[2021-12-08 08:23] #36368 closed

[2021-12-08 08:24] cmsbuild commented on #36368
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre3-cc8_aarch64_gcc9/1883

[2021-12-08 08:24] SiewYan commented on #36404
@agrohsje , i will see to it!

[2021-12-08 08:24] cmsbuild commented on #36368
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre3-slc7_aarch64_gcc9/1886

[2021-12-08 08:24] cmsbuild commented on #36368
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre3-cc8_amd64_gcc9/1884

[2021-12-08 08:24] cmsbuild commented on #36368
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre3-cc8_ppc64le_gcc9/1885

[2021-12-08 08:24] cmsbuild commented on #36368
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre3-slc7_amd64_gcc10/1887

[2021-12-08 08:24] cmsbuild commented on #36368
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre3-slc7_amd64_gcc900/1888

[2021-12-08 08:24] cmsbuild commented on #36368
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre3-slc7_ppc64le_gcc9/1889

[2021-12-08 08:31] fwyzard commented on #35376
hi @silviodonato

in this test,, did you customise only the pixel local reco or also the pixel tracks ?

[2021-12-08 08:48] silviodonato commented on #35376
I used only pixel local reco

[code]

I copied the python file in `/eos/home-s/sdonato/public/CMSSW_12_2_0_pre3/src/hlt_GPU.py`

[2021-12-08 08:54] mkirsano commented on #31061
Hello, I think this code is obsolete, it is better to remove it in order
to avoid additional work in future.

07/12/21 10:54, agrohsje пишет:

[2021-12-08 10:12] smorovic commented on #31061
EventFilter/Phase2TrackerRawToDigi:   Phase2TrackerDigiProducer

This package had the last update, excluding maintenance from other parties, in 2014, which is a long time for an upgrade package. Possibly even obsolete.
While this is under DAQ signature category [1], I don't know why it is there (historically), as it isn't really related to us (as central-DAQ) - also most RawToDigi packages belong

[2021-12-08 12:03] amaltaro commented on #35247
Perhaps the reason for having 0 events in this file is an inconsistency between the amount of events requested to be generated:
[code]

with the amount of events in the lhe article:
[code]
?

I do not know how to check the content of `out.lhe.xz`, could someone please check whether 20M events could be generated out of this lhe.xz file?

[2021-12-08 13:38] thomreis opened #36415 "`ecalDevel` workflow 28234.61 step3 fails in 12_2_0_pre3"
The `ecalDevel` matrix WF 28234.61 2026D60_ecalDevel+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal fails at step3 in CMSSW_12_2_0_pre3 with the exception message:

[code]

Is this a known issue?

[2021-12-08 13:38] cmsbuild commented on #36415
A new Issue was created by  @thomreis Thomas Reis.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-08 14:03] makortel commented on #36415
assign reconstruction, upgrade

[2021-12-08 14:03] makortel commented on #36415
FYI @cms-sw/ecal-dpg-l2 @cms-sw/hcal-dpg-l2

[2021-12-08 14:03] cmsbuild commented on #36415
New categories assigned: upgrade,reconstruction

@slava77,@jpata,@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-08 14:07] makortel commented on #35250
+1

[2021-12-08 14:07] #35250 closed

[2021-12-08 14:07] makortel commented on #34117
+1

[2021-12-08 14:08] cmsbuild commented on #34117
This issue is fully signed and ready to be closed.

[2021-12-08 14:09] mmusich commented on #36405
Tagging a (semi-)random list of people that might be interested to follow (and might also provide some insight?):

@tvami @echabert @carolinecollard @dvannerom

[2021-12-08 14:10] makortel commented on #36415
Is any `ecalDevel` workflow being run in IBs (i.e. part of full runTheMatrix)?

[2021-12-08 14:13] makortel commented on #36138
The `FinalPath` is implemented in #36398, and backport to 12_2_X should be feasible.

[2021-12-08 14:14] thomreis commented on #36415
A comparison with `28234.0` that runs fine shows only the `phase2_ecal_devel` modifier is given in addition on step3. That alone does not seem to be responsible for the exception. However, step2 of `28234.0` has also the `digi2raw_step` which might be needed to produce the seemingly missing `FEDRawDataCollection`.

[2021-12-08 14:17] thomreis commented on #36415
I do not know but I do not think so. In fact I wanted to set up a configuration that could become a WF to be run in IBs. 28234.61 seemed a good starting point.

[2021-12-08 14:25] thomreis commented on #36415
The WF was introduced by @kpedro88 a bit over a year ago as part of #31726. Has it ever been tested?

[2021-12-08 14:31] SohamBhattacharya commented on #36369
@swagata87 is taking a look.

[2021-12-08 15:06] #34117 closed

[2021-12-08 15:09] makortel commented on #30335
I think this issue could be closed

[2021-12-08 15:10] makortel commented on #36319
Occurred again in CMSSW_12_3_DEVEL_X_2021-12-07-2300 and CMSSW_12_3_CLANG_X_2021-12-07-2300

[2021-12-08 15:12] makortel commented on #36319
The test appears to be failing in some PR tests too. I think we can conclude that there is a correlation with the overall load of the build+test machines. But why is it always this specific test that fails and not others that write to SQLite files?

[2021-12-08 17:19] swagata87 commented on #36369
tried to fix it here https://github.com/cms-sw/cmssw/pull/36421

[2021-12-08 17:57] kpedro88 commented on #36415
I introduced this workflow to facilitate the ongoing development by @argiro and @dariosol - they should comment further.

[2021-12-08 20:08] gartung commented on #36261
https://github.com/cms-sw/cmssw/pull/36424

[2021-12-08 22:57] makortel opened #36426 "Failure in workflow 139.002 step 3"
Workflow 139.002 step 3 fails in CMSSW_12_3_X_2021-12-08-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_3_X_2021-12-08-1100/pyRelValMatrixLogs/run/139.002_RunZeroBias2021+RunZeroBias2021+HLTDR3_2021+RECODR3_ZBOffline+HARVESTD2021ZB/step3_RunZeroBias2021+RunZeroBias2021+HLTDR3_2021+RECODR3_ZBOffline+HARVESTD2021ZB.log#/

[2021-12-08 22:58] cmsbuild commented on #36426
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-08 22:58] makortel commented on #36426
assign l1

[2021-12-08 22:59] makortel commented on #36426
FYI @cms-sw/muon-dpg-l2

[2021-12-08 22:59] cmsbuild commented on #36426
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-08 23:00] makortel commented on #36426
It is not immediately clear to me which of the PRs merged in CMSSW_12_3_X_2021-12-08-1100 could cause this problem.

[2021-12-09 03:14] dildick commented on #36426
It would be good to have this WF in automatically, so it would have been caught in recent PRs. All Run-3 WFs are TTbar/Z+jets MC.

[2021-12-09 06:04] fwyzard commented on #36311
Duplicate of #35370

[2021-12-09 06:04] fwyzard commented on #35370
See also #36311

[2021-12-09 06:34] qliphy commented on #36319
Occurred also in CMSSW_12_2_X_2021-12-08-1100 and CMSSW_12_2_X_2021-12-08-2300

[2021-12-09 06:38] cmsbuild commented on #36381
The cleanup has started for cc8_aarch64_gcc9

[2021-12-09 06:38] cmsbuild commented on #36381
The cleanup has started for slc7_aarch64_gcc9

[2021-12-09 06:38] cmsbuild commented on #36381
The cleanup has started for slc7_amd64_gcc900

[2021-12-09 06:38] cmsbuild commented on #36381
The cleanup has started for cc8_ppc64le_gcc9

[2021-12-09 06:38] cmsbuild commented on #36381
The cleanup has started for slc7_ppc64le_gcc9

[2021-12-09 06:38] cmsbuild commented on #36381
The cleanup has started for cc8_amd64_gcc9

[2021-12-09 06:38] cmsbuild commented on #36381
The cleanup has started for slc7_amd64_gcc10

[2021-12-09 06:38] #36381 closed

[2021-12-09 06:38] cmsbuild commented on #36381
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre1-cc8_aarch64_gcc9/1890

[2021-12-09 06:38] cmsbuild commented on #36381
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre1-cc8_amd64_gcc9/1891

[2021-12-09 06:38] cmsbuild commented on #36381
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre1-slc7_aarch64_gcc9/1893

[2021-12-09 06:38] cmsbuild commented on #36381
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre1-cc8_ppc64le_gcc9/1892

[2021-12-09 06:38] cmsbuild commented on #36381
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre1-slc7_amd64_gcc900/1895

[2021-12-09 06:38] cmsbuild commented on #36381
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre1-slc7_ppc64le_gcc9/1896

[2021-12-09 06:38] cmsbuild commented on #36381
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre1-slc7_amd64_gcc10/1894

[2021-12-09 08:48] emiglior commented on #35519
Studies on Tracker geometries featuring bricked pixels are not done yet (ETA: end of January 2022)

[2021-12-09 09:50] thomreis commented on #36415
Thanks. I will follow up with them about this and close the issue here.

[2021-12-09 09:50] #36415 closed

[2021-12-09 11:38] jfernan2 commented on #36404
Thanks @makortel
Regarding the DQM modules, some of them (see below) are running on Online DQM (single thread) or in dedicated test configs or Unit Tests. Anyway, could you please remind in this thread some information about which are the alternatives and some instructions?

I found these two twikis but I am no tus re if the y are up todate:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultith

[2021-12-09 12:26] davidlange6 commented on #36339
seems no quick answer... maybe its possible just to submit 10x more events for this one specific sample?  That would either confirm or eliminate my concern.

[2021-12-09 12:34] kskovpen commented on #36339
Yes, we can do it, if needed. However, it would be still useful to understand whether the observed differences are statistically significant or not - hence a need for the high stat samples - from BTV validators :)

[2021-12-09 12:42] davidlange6 commented on #36339
sure... how much time do we wait...it seems 0 pileup, so quite fast...

[2021-12-09 13:49] VinInn opened #36433 "Master (next IB) is broken (two inconsistent PR were merged independently)"
Somehow the master is broken due to DQM/L1TMonitor #36396 which, in its own PR was fine. BUT not with #35627 .
Please revert one of the two.

[2021-12-09 15:37] perrotta commented on #36433
Fixed by #36435

[2021-12-09 15:49] perrotta commented on #36433
The fix restores the accessors `sector()` and `endcap()` of  RegionalMuonShower

For the record, the two accessors were used in
- https://github.com/cms-sw/cmssw/pull/36396/files#diff-881ff4a5b7f865747240faa761540efae46b58c1007078bcda43fbfe6f250f6bR62
and another line farther below
- https://github.com/cms-sw/cmssw/pull/36018/files#diff-a2194e73035b8a64c72a7363af81ce438a545aca33b67ce5f616ff6ed98b4

[2021-12-09 16:54] makortel commented on #36404
@jfernan2 Those two links are largely up to date. In addition, the different module types (globla/stream/one) are documented in https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultithreadedFrameworkModuleTypes and links in there.

Some general rules of thumb
* EDAnalyzers that expect to see every event to e.g. fill a histogram are easiest to migrate to `edm::one`.
  * Especially if they use `TFil

[2021-12-09 20:01] #36433 closed

[2021-12-10 07:10] missirol commented on #36369
Just one extra piece of information, in case experts find it useful: if one reverts 76ceb8e5412efdf07, the crash in the 10 events of wf `11723.17` goes away (just an observation, i'm not suggesting to revert that commit).
[code]

[2021-12-10 09:03] VinInn commented on #36369
well hitless seeds (doopcore) were known to cause that crash (reported in march 2020)

[2021-12-10 10:43] swagata87 commented on #36369
thanks Marino, for pin-pointing the change that caused this. That commit(which is part of this PR https://github.com/cms-sw/cmssw/pull/35892) went into CMSSW in 12_2 if I remember correctly, and that was also backported to 12_1 (this PR https://github.com/cms-sw/cmssw/pull/35958). So if needed, the fix can also be backported, in case those releases are going to be used for something..

[2021-12-10 12:55] slava77 commented on #36369
curiosuly, in my tests on 100 events in RelValZpToEE_m6000_14TeV there was no crash with deepCore enabled ( ` --procModifiers seedingDeepCore` )

[2021-12-10 13:29] swagata87 commented on #36369
it could be that the crash is more probable to happen in events where there are no real electrons, but only fakes, like QCD multijet or gamma+jet type of events..

[2021-12-10 15:16] jenimal commented on #35247
@makortel can you answer Alan's question?  We would like to finally get these workflows out of the system before the holiday break!

[2021-12-10 15:18] makortel commented on #36426
Seems that #36428 did the job

[2021-12-10 15:18] #36426 closed

[2021-12-10 15:22] makortel commented on #35247
I don't know. It sounds plausible to me, but @cms-sw/generators-l2 should comment.

Would it be feasible to just ignore the empty files from the merges (e.g. "by hand"), if they are otherwise good?

[2021-12-10 22:39] makortel commented on #36349
Backports down to 9_4_X have been done.

[2021-12-10 22:55] makortel commented on #36261
In CMSSW_12_3_X_2021-12-10-1100 the checker shows 4406 calls
https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-static-analysis/CMSSW_12_3_X_2021-12-10-1100/slc7_amd64_gcc900/llvm-analysis/index.html

[2021-12-10 22:55] makortel commented on #36261
+1

[2021-12-10 22:55] cmsbuild commented on #36261
This issue is fully signed and ready to be closed.

[2021-12-11 14:15] perrotta opened #36461 "Remaining points to be fixed in SimpleFlatTableProducer (PhysicsTools/NanoAOD)"
Once concluded the review of #34169 several remarks remained unanswered, because they were supposedly already as such in the original code from which the modifications implemented in that PR were derived. While the PR is going to get merged as such, all those issues discovered during the review should be now addressed and fixed.
They are listed here below, please @makortel verify if I missed or mi

[2021-12-11 14:15] cmsbuild commented on #36461
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-11 14:16] perrotta commented on #36461
assign xpog

[2021-12-11 14:16] cmsbuild commented on #36461
New categories assigned: xpog

@mariadalfonso,@gouskos,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-11 15:24] Dr15Jones commented on #36461
The module could become a `edm::global` module which would be much more efficient than `edm::one`. To do this, the code would need to change
[code]

to
[code]

and then size the new `std::vector<>` to be equal to the number of concurrent Lumis to be used in the job. This can be determined by overriding
[code]

Then in `fillTable` the code we be changed to
[code]

As each concurrent LuminosityBlock

[2021-12-11 16:32] Dr15Jones commented on #36461
On further consideration, if this module is only ever scheduled using cms.Task than being a `edm::one` module isn't as bad since the Event level `produce` function will never be called and therefore begin a `edm::one` will not hinder the parallel processing of Events.

A `edm::one` module doesn't have a very large impact on performance if it is only ever called during LuminosityBlock processing. S

[2021-12-11 18:34] perrotta commented on #36461
Thank you @Dr15Jones for your hints!

[2021-12-13 01:01] #36261 closed

[2021-12-13 07:50] jfernan2 commented on #35586
+1

[2021-12-13 07:50] cmsbuild commented on #35586
This issue is fully signed and ready to be closed.

[2021-12-13 07:50] jfernan2 commented on #34795
ping @vukasinmilosevic

[2021-12-13 08:07] jfernan2 commented on #33084
+1
I am still not able to reproduce in CMSSW_12_3_ROOT624_X_2021-12-10-2300
If you think this issue is still alive please let me know
Thanks

[2021-12-13 08:14] jfernan2 commented on #34704
+1
Not able to reproduce on CMSSW_12_2_0_pre3
If you think this issue is still alive please let me know
Thanks

[2021-12-13 08:26] jfernan2 commented on #18014
+1
Please let me know if this issue is still valid
Thanks

[2021-12-13 08:27] jfernan2 commented on #18574
Is this issue still alive? My understanding is that it is NOT after the changes in DQMStore by Marcel. Please let me know

[2021-12-13 08:39] #35586 closed

[2021-12-13 08:42] jfernan2 commented on #31069
In CMSSW_12_2_0_pre3 the error now is different:

cmsRun test/runP_Tracker.py geom="Extended2017Plan1" label=Tracker
----- Begin Fatal Exception 13-Dec-2021 09:23:13 CET-----------------------
An exception of category 'ConfigFileReadError' occurred while
   [0] Processing the python configuration file named test/runP_Tracker.py
Exception Message:
 unknown python problem occurred.
RuntimeError: An

[2021-12-13 08:46] jfernan2 commented on #21454
@sushilchauhan could you please apply the suggestions from this old thread which are still valid? Thanks

[2021-12-13 09:21] jfernan2 commented on #32643
Hi, since there is no response from TOP developers I am removing EI in: https://github.com/cms-sw/cmssw/pull/36465

[2021-12-13 09:49] mmusich commented on #36347
@kpedro88
trying again in `CMSSW_12_3_X_2021-12-12-0000` (which should contain #36378) I get:
[code]

[2021-12-13 10:46] iarspider opened #36468 "[GCC 11] Warning: 'am' may be used uninitialized in epos-hnb.f"
Log: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_aarch64_gcc11/CMSSW_12_3_X_2021-12-10-2300/GeneratorInterface/ReggeGribovPartonMCInterface

Warning message:
[code]

[2021-12-13 10:46] iarspider commented on #36468
assing generators

[2021-12-13 10:46] cmsbuild commented on #36468
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-13 10:46] iarspider commented on #36468
assign generators

[2021-12-13 10:47] cmsbuild commented on #36468
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-13 10:59] perrotta commented on #36468
That is Fortran code, indeed,. I already looked at it when I saw that warning first, and it seems to me that not only it "may be used uninitialized", but it is actally always used as such. And the whole code seems rather messy, with a few patches already implemented in the past to tentatively fix similar issues reported by the compiler.

Instead of keeping fixing and maintaining that code forever,

[2021-12-13 11:56] SiewYan commented on #36468
Hello @perrotta , In the past I fixed similar issues with Fortran code #32109.

I am not sure if is is used somewhere though, but I can remove it if needed. @agrohsje , do you happen to know the usage of these Fortran code?

[2021-12-13 14:00] makortel commented on #36138
Backport to 12_2_X was done in https://github.com/cms-sw/cmssw/pull/36438 that is already merged.

[2021-12-13 14:01] makortel commented on #36138
+core

[2021-12-13 14:19] makortel commented on #36336
(changed the title to more general)

More crashes from CMSSW_12_3_ROOT624_X_2021-12-10-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_3_ROOT624_X_2021-12-10-2300/pyRelValMatrixLogs/run/11834.13_TTbar_14TeV+2021PU_mlpf+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU/step2_TTbar_14TeV+2021PU_mlpf+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+H

[2021-12-13 16:23] makortel commented on #36339
Hi, are there any news about the (possible) high-stat sample, or are we still waiting feedback from @cms-sw/btv-pog-l2?

This issue is currently the main blocker for using ROOT 6.24 in production, and with the current release schedule the window for doing that in 12_3_X is rather narrow.

[2021-12-13 16:27] kskovpen commented on #36339
Hi @makortel , the high stat samples are currently in production. We will post here the details once ready.

[2021-12-13 18:38] kpedro88 commented on #36347
Sorry, this was just a mistake in the previous PR: see #36477

[2021-12-13 20:18] makortel commented on #35578
@igv4321 Would you have any news on these modules? The `esConsumes()` is now enforced at run time (since CMSSW_12_3_X_2021-12-13-1100).

[2021-12-13 21:00] igv4321 commented on #35578
The plan is still to fix them before the end of the year.

Igor

On 12/13/21 2:18 PM, Matti Kortelainen wrote:

[2021-12-13 21:53] makortel opened #36480 "ASAN build failure with GCC 11"
It seems that ASAN IBs fail to build with GCC 11 (whereas the last GCC 10 build compiled fine). The errors are in the shared object link
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc11/CMSSW_12_3_ASAN_X_2021-12-10-2300/FWCore/Framework

and
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc11/CMSSW_12_3_ASAN_X_2021-12-10-2300/L1Trigger/CSCTriggerPrimitives

[2021-12-13 21:53] makortel commented on #36480
assign core

[2021-12-13 21:53] cmsbuild commented on #36480
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-13 21:53] cmsbuild commented on #36480
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-13 22:20] wddgit commented on #30044
@makortel

Is the decision to use a GPU to produce products with a certain branch name one that applies to an entire process? Or can the decision be different for different Events in the same process? Can the solution we are designing assume this is always true?

Is there a simple toy test configuration that will produce a product on a GPU? I actually have not worked with these GPU issues yet. I d

[2021-12-14 11:18] vukasinmilosevic commented on #34795
Similar to the other issue :), we have someone taking a look into this. He is currently getting up to speed and will update us soon.

[2021-12-14 14:10] makortel commented on #36336
CMSSW_12_3_X_2021-12-13-2300 slc7_amd64_gcc10 reports a segfault, but the log has no stack trace, just ends abruptly
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2021-12-13-2300/pyRelValMatrixLogs/run/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step2_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT

[2021-12-14 14:13] makortel commented on #33084
Occurred in CMSSW_12_3_X_2021-12-13-2300 slc7_ppc64le_gcc11
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc11/CMSSW_12_3_X_2021-12-13-2300/pyRelValMatrixLogs/run/11834.0_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU/step3_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU.log#/423-423

[2021-12-14 14:21] smorovic opened #36487 "Concurrent fetching of condition data"
CMSSW currently limits fetching of condition data (from the ESSource) to one thread at the time.

With improvements to add thread safery to the frontier_client as well as the Coral library it has been discussed that implementation allowing parallel execution of requests could reduce time spent in beginning-of-run transitions (in HLT and possibly offline) since these jobs are multithreaded.
An impo

[2021-12-14 14:21] makortel opened #36488 "Segfault in ThePEG::PersistentOStream::writeClassId"
Workflow 537.0 step1 segfaulted in CMSSW_12_3_DEVEL_X_2021-12-13-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_3_DEVEL_X_2021-12-13-2300/pyRelValMatrixLogs/run/537.0_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+HARVESTGEN/step1_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_Tu

[2021-12-14 14:21] makortel commented on #36488
assign generators

[2021-12-14 14:21] cmsbuild commented on #36488
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-14 14:21] cmsbuild commented on #36488
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-14 14:40] makortel commented on #36487
assign core,db

[2021-12-14 14:40] cmsbuild commented on #36487
New categories assigned: core,db

@Dr15Jones,@smuzaffar,@ggovi,@makortel,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-14 14:46] makortel commented on #31084
All EDModules run in IBs have been migrated, and esConsumes is now enforced at run time (https://github.com/cms-sw/cmssw/pull/35588). Therefore this optimization could be thought more seriously now.

[2021-12-14 14:47] makortel commented on #36487
Here is another issue related to improving CondDB access performance https://github.com/cms-sw/cmssw/issues/31084 that could be worked on now that esConsumes is enforced at run time.

[2021-12-14 14:48] makortel commented on #31085
All EDModules run in IBs have been migrated, and esConsumes is now enforced at run time (#35588). Therefore this optimization could be thought more seriously now.

[2021-12-14 15:01] makortel opened #36492 "Workflow 11834.24 timeouts on cs8"
Workflow 11834.24 step3 appears to time out consistently on cs8. In CMSSW_12_3_X_2021-12-13-2300 cs8_amd64_gcc10
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_amd64_gcc10/CMSSW_12_3_X_2021-12-13-2300/pyRelValMatrixLogs/run/11834.24_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU/step3_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoN

[2021-12-14 15:01] cmsbuild commented on #36492
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-14 15:03] makortel commented on #36492
@smuzaffar, I noticed the cmsDriver commands on `cs8` appear to be missing `--nThreads 4` (that I see on `slc7`).

[2021-12-14 15:10] smuzaffar commented on #36492
@makortel , ah good catch.
This is fixed now https://github.com/cms-sw/cms-bot/commit/36a78cdc36b5f65a816a057e9e6500fd31cbaba6 (next cs8 IBs should run threaded relvals)

[2021-12-14 15:12] makortel commented on #36492
CMSSW_12_3_X_2021-12-13-2300 cs8_amd64_gcc11 shows similar time/event behavior
[code]

In the same IB slc7_amd64_gcc10 (but this is with 4 threads and streams)
[code]
Based on a few first events the per-event processing times are on the same order of magnitude, but not exactly the same.

[2021-12-14 15:12] makortel commented on #36492
assign core

[2021-12-14 15:22] makortel commented on #36492
The no-pileup variant 11634.24 appears to process only 1 event, I wonder if that could be sufficient for the pileup variant too

11634.24 appears to include also ALCA step that 11834.24 does not (@cms-sw/pdmv-l2 @cms-sw/alca-l2), I have no idea if that is intentional or not.

[2021-12-14 15:37] makortel commented on #36480
Worked around in https://github.com/cms-sw/cmssw/pull/36493

[2021-12-14 15:38] makortel commented on #36480
@smuzaffar Do you think it would be worth to investigate deeper than #36493? (i.e. keep this issue open after the PR has been merged)

[2021-12-14 15:42] dan131riley commented on #36480
Looks like a compiler bug.  The only `_M_high_mark()` member function is in sstream (and it is new for c++20 support).  In the ASAN builds, these lines:

https://github.com/cms-sw/cmssw/blob/2438e09620fba6d96241d886a814aa0f32902d6d/FWCore/Framework/src/PathsAndConsumesOfModules.cc#L687-L690

generate a call
[code]
If I change that to
[code]
the error goes away.

The second one happens at

https://

[2021-12-14 15:49] slava77 commented on #36492
the startup times don't look like 4 stream, more like 2-stream.

OTOH  https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_12_3_X_2021-12-13-2300/pyRelValMatrixLogs/run/11834.24_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU/step3_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU.log
looks more like 4/4

[2021-12-14 15:53] tvami commented on #36492
11834.24 has the NANO step as well (while 11634.24 does not), I'm not sure if that matters or not.
Anyway to answer the question, to me it looks like whenever we do PU wf-s, we never do the ALCA steps. So I guess it is intentional (although this decision was taken much before me)

[2021-12-14 15:56] rappoccio commented on #36322
@johnalison any ideas? It looks like it's on the BTV custom validation side?

[2021-12-14 16:06] jfernan2 commented on #33084
Thanks, I am still not able to reproduce in that last example, either in single-thread or in multi-thread..... and without reproducing I cannot debug...

The only thing I know but which I don't understand, is that the crash is coming from:
https://github.com/cms-sw/cmssw/blob/master/DataFormats/NanoAOD/interface/FlatTable.h#L94-L101

@gpetruc @peruzzim could you give any clue? Thanks

[2021-12-14 16:06] jfernan2 commented on #33084
-1

[2021-12-14 16:11] makortel commented on #36480
Thanks @dan131riley!

I'm not sure. On one hand these workarounds would allow keeping the ASAN compilation flags, on the other hand I'm slightly concerned these workarounds would quickly sediment. Maybe they would be better than adjusting compiler flags. @smuzaffar, what do you think?

If done, for the `PathsAndConsumesOfModules.cc`, could you add a comment that the explicit temporary variable is

[2021-12-14 16:15] dan131riley commented on #36480
@makortel I'd vote for your workaround by changing the ASAN flags for those modules (I didn't see your PR until after I made my comment), and I'll work on a bug report.

[2021-12-14 16:18] mmusich commented on #36492
when they were first introduced at https://github.com/cms-sw/cmssw/pull/30527 these wfs were designed to run just 1 event:

https://github.com/cms-sw/cmssw/pull/30527/files#diff-8c163203cbaa64f0e0e6aa2b16346cfab3eaf84a57a008c7fa37193e8b9b2adbR581

and actually it seems that dumping the command both start with 1 GS event:

[code]

[2021-12-14 16:25] smuzaffar commented on #36480
@dan131riley workaround is better than adjusting the flags for these special files. @dan131riley  go ahead and open a PR. meanwhile I am testing latest gcc 11.2 changes ( hopeing that they might have fixed this)

[2021-12-14 16:42] slava77 commented on #36492
apparently the IB tests recycle gen-sim; and this way they have 10 events here.

[2021-12-14 17:12] mmusich commented on #36492
so we know for sure that the CA is not designed to run correctly for 0T, e.g.:

https://github.com/cms-sw/cmssw/blob/48ecde6f70928f4bc514af0672f32263816a6e6a/RecoTracker/IterativeTracking/python/InitialStep_cff.py#L75

but also:

https://github.com/cms-sw/cmssw/blob/2438e09620fba6d96241d886a814aa0f32902d6d/RecoPixelVertexing/PixelTriplets/src/CACell.h#L219-L222

Some work was started before the be

[2021-12-14 18:04] smuzaffar commented on #36480
Issue remains there even with newer GCC 11 [a]
[a]
[code]

[2021-12-14 18:50] davidlange6 commented on #36339
Is there also one of just pre4 without root624?

[2021-12-14 18:53] mdmorris commented on #36339
@davidlange yes, the link to the relmons has both the target 12_1_0_pre4_ROOT624 and the reference 12_1_0_pre4 samples

[2021-12-14 20:05] slava77 commented on #36369
+reconstruction

via  #36421, available from
 CMSSW_12_3_X_2021-12-14-1100
in this IB the 11723.17 passes OK
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_12_3_X_2021-12-14-1100/pyRelValMatrixLogs/run/11723.17_QCD_Pt_1800_2400_14+2021_seedingDeepCore+QCD_Pt_1800_2400_14TeV_TuneCP5_GenSimINPUT+Digi+RecoNano+HARVESTNano/step3_QCD_Pt_1800_2400_14+2021_seedingDeepCore+QCD_Pt

[2021-12-14 20:05] cmsbuild commented on #36369
This issue is fully signed and ready to be closed.

[2021-12-14 21:03] makortel opened #36500 "Is MallocOpts still useful?"
Question raised in https://github.com/cms-sw/cmssw/pull/36467

[2021-12-14 21:03] makortel commented on #36500
assign core

[2021-12-14 21:03] cmsbuild commented on #36500
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-14 21:06] makortel commented on #36500
According to `git grep` it is used only in `SimpleMemoryCheck` Service
https://github.com/cms-sw/cmssw/blob/5e081489c9027255e45cd174b2ac14af1cb68a9d/FWCore/Services/plugins/SimpleMemoryCheck.cc#L384-L412

[2021-12-14 21:08] #36369 closed

[2021-12-14 21:14] makortel commented on #36500
Seems to me that this piece in `SimpleMemoryCheck` has had no functional changes since its introduction in 2007 in dd0a0cbd60fd. I don't see any of the four configuration parameters being set anywhere except in a test configuration https://github.com/cms-sw/cmssw/blob/master/FWCore/Services/test/mallocopts_cfg.py .

I'd be in favor of removing it (but I'm not someone somewhere is actually using th

[2021-12-14 21:18] makortel commented on #36492
I have a vague recollection we introduced the `trackingLowPU` era during Run 2 for "Run 1 -like tracking" that works with 0 T out of the box. (but I don't know if this is still relevant or not)

[2021-12-14 21:21] makortel commented on #36492
Which, on a closer look, is exactly what @mmusich showed in https://github.com/cms-sw/cmssw/issues/36492#issuecomment-993706143
[code]

[2021-12-14 21:22] makortel commented on #36492
I think the remaining action is to make the `-n 1` applied on all steps of 11834.24.

[2021-12-14 21:22] makortel commented on #36492
assign pdmv

[2021-12-14 21:23] cmsbuild commented on #36492
New categories assigned: pdmv

@bbilin,@wajidalikhan,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-14 21:31] smuzaffar commented on #36480
looks like the issue is just not with these two files. Once you fix these two files then you get a lot more e.g. see the PR tests results
https://github.com/cms-sw/cmssw/pull/36493#issuecomment-993877320
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-365d69/21266/build-logs/

looks like `-fsanitize=pointer-compare` and gcc11 combination does not go well.

[2021-12-14 23:20] makortel commented on #36339
Thanks @mdmorris! Could @cms-sw/btv-pog-l2 help to interpret the results? Thanks.

[2021-12-14 23:26] makortel commented on #36480
Found this issue https://github.com/google/sanitizers/issues/1324 that said (over a year ago)

[2021-12-15 00:16] slava77 commented on #36492
wasn't that a special setup for no-pixel-tracker configurations?

[2021-12-15 00:18] slava77 commented on #36492
or, wasn't it technically made so that no-pixel-tracker setup could work ... and chances are that in attempt to make the purpose more generic the name morphed to `trackingLowPU`

[2021-12-15 00:29] makortel commented on #14895
Can we close this now? Or have a list of steps that would need to be done before it could be closed?

[2021-12-15 00:47] makortel commented on #33084
I made https://github.com/cms-sw/cmssw/pull/36501 to add more information to the exception message for the next time it occurs.

[2021-12-15 00:49] makortel commented on #36349
The backport PRs have been merged

[2021-12-15 00:49] makortel commented on #36349
+1

[2021-12-15 00:49] cmsbuild commented on #36349
This issue is fully signed and ready to be closed.

[2021-12-15 00:51] makortel commented on #36351
@joseflix (Mostly out of curiosity, I'd like to understand the bigger picture better) The framework job report (that I think get uploaded into the monitoring system) reports the processed files, and wall clock and CPU times (for the CPU efficiency calculation). Is this information not sufficient? (like something missing, or would like information already when the jobs are running instead after the

[2021-12-15 09:37] mmusich commented on #36492
see please https://github.com/cms-sw/cmssw/pull/36503.

[2021-12-15 09:38] mmusich commented on #36492
That's precisely what I had attempted here https://github.com/cms-sw/cmssw/pull/33532, though we still had hopes to adapt the Run2 tracking as well.

[2021-12-15 10:21] smuzaffar opened #36504 "CMSSW profiling jobs failing for 12.3.X"
cmssw profiling jobs [a] is failing for 12.3.X IBs.  Any idea whats changed for 12.3.X which causes this error?
@gartung , can you please look in to it?

[a] https://cmssdt.cern.ch/jenkins/job/ib-run-profiling
[code]

[2021-12-15 10:22] cmsbuild commented on #36504
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-15 11:05] mmusich commented on #36504
to solve this, PR #36477 is needed (see also #36347 (comment))

[2021-12-15 12:07] jpata commented on #36282
I wanted to circle back on this to understand if the workflow 136.889 is realistic to monitor from the ALCA and DQM point of view?

[2021-12-15 12:58] jfernan2 commented on #36282
From the DQM point of view, yes
Thanks

[2021-12-15 14:50] #36492 closed

[2021-12-15 14:52] makortel commented on #36492
I see `--nThreads 4` for cs8 in CMSSW_12_3 2021-12-14-2300

[2021-12-15 15:38] smuzaffar commented on #36504
closing it as it is kind of duplicate of #36347.   #36477 should fix this

[2021-12-15 15:38] #36504 closed

[2021-12-15 17:42] makortel commented on #36336
CMSSW_12_3_X_2021-12-14-2300 cs8_amd64_gcc10 workflow **11834.0** step 2 had an assertion failure that could be connected (has two instances of `MixingModule:mix` and one `HitPairEDProducer:hltDisplacedhltIter4PFlowPixelLessHitDoublets` running, which is similar to other stack traces here)
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_amd64_gcc10/CMSSW_12_3_X_2021-12-14-2300/pyRelValMatr

[2021-12-15 21:18] makortel commented on #30044
Just to summarize our discussion, at this point the plan is to store only process-level quantities
1. Generic device type ("GPU", "FPGA"): as a vector of enumeration. Intended for e.g. DQM use case (https://github.com/cms-sw/cmssw/issues/35879) to know if a(n earlier) process had offloading enabled
2. Exact CPU and GPU models : as a vector of strings of the CPU/GPU/etc model names. Intended for de

[2021-12-15 23:24] mmylly commented on #35531
We performed some deeper investigation studying "HammerCloud"-test jobs.
We compared the cpuEff values reported in Grafana and the ones obtained from slurm
("sacct -j $slurmid") and ARC6 ("arcctl accounting job info $arcid") and found out
that there is no clear correspondence.

However, we tracked down that in multiple occasions the WallTime value reported by
ARC was zero even when slurm reported

[2021-12-16 06:22] smuzaffar commented on #36480
I propose to drop this flag for now ( see https://github.com/cms-sw/cmssw-config/pull/88/files ) so that we can continue with ASAN builds

[2021-12-16 06:52] qliphy opened #36514 "HLT issue in IB"
Since IB, HLT is shown in RED.

The error message can be found in:

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_3_X_2021-12-15-2300/slc7_amd64_gcc10/RelVal_RECO_GRun_MC.log

%MSG-w METMonitor:  METMonitor:PFMET110_PFMHT110_IDTight_METmonitoring  16-Dec-2021 01:24:25 UTC Run: 1 Event: 55
skipping events because the collection pfMetEI is not available
%MSG
----- Begin Fatal

[2021-12-16 06:52] cmsbuild commented on #36514
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-16 06:52] qliphy commented on #36514
assign hlt

[2021-12-16 06:53] cmsbuild commented on #36514
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-16 06:53] qliphy commented on #36514
Could it be related to https://github.com/cms-sw/cmssw/pull/36494 ?

@Martin-Grunewald

[2021-12-16 07:00] Martin-Grunewald commented on #36514
Yes, likely.
I think it requires https://github.com/cms-sw/cmssw/pull/36465 as well which does the EI removal elsewhere!

[2021-12-16 07:08] perrotta commented on #36514
Yes, it seems I was to fast in merging #36494...
Since we want to cut pre2 by today, could I suggest to revert #36494 now, and add that simple commit into #36465?
@jfernan2

[2021-12-16 07:39] Martin-Grunewald commented on #36514
Where is the revert button now?

[2021-12-16 07:48] missirol commented on #36514
I see one next to "View details", bottom-right corner of the screenshot
![tmp](https://user-images.githubusercontent.com/5320055/146329606-3908d9b2-3a67-4ec3-9d08-4edac956f54c.png)
.

[2021-12-16 07:49] Martin-Grunewald commented on #36514
Reverted by hand here: https://github.com/cms-sw/cmssw/pull/36515

[2021-12-16 07:51] perrotta commented on #36514
Thank you Martin.
Indeed what proposed by @missirol  also works (thank you Marino, indeed I forgot it...)

[2021-12-16 07:55] Martin-Grunewald commented on #36514
Thanks, @missirol

[2021-12-16 07:56] missirol commented on #36514
+hlt

[2021-12-16 07:56] cmsbuild commented on #36514
This issue is fully signed and ready to be closed.

[2021-12-16 11:58] agrohsje commented on #36468
hi @SiewYan, @perrotta, the code is still used. see e.g. this request:
https://cms-pdmv.cern.ch/mcm/requests?prepid=HIN-HINPbPbAutumn18GS-00049&shown=262271

[2021-12-16 12:00] agrohsje commented on #36488
Hi @theofil, @Dominic-Stafford   are you available to follow-up on this?

[2021-12-16 13:11] mariadalfonso opened #36518 "uninitialised PackedCandidate mass()"
in miniAODv2-UL
PackedCandidate have sometime uninitialized mass() i.e. 10^-7 10^-15 ...

Initially spotted for Photons at nanoAOD level
http://dalfonso.web.cern.ch/dalfonso/NANO/massDump.txt
but then noted that already at MINIAOD we have such cases

[2021-12-16 13:11] mariadalfonso commented on #36518
assign x-pog

[2021-12-16 13:11] cmsbuild commented on #36518
A new Issue was created by  @mariadalfonso .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-16 13:13] cmsbuild commented on #36518
New categories assigned: xpog

@mariadalfonso,@gouskos,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-16 13:32] Dominic-Stafford commented on #36488
I just tried running workflow 537 in this release, and it worked fine for me. @makortel could you try running it again please and see if you still get this seg fault? If the lhe from the original run still exists I could also try running with this (it may be there's something weird there that causes the seg fault)

[2021-12-16 14:23] makortel commented on #36480
I was thinking the same, so I agree.

[2021-12-16 14:30] perrotta opened #36521 "Build CMSSW_12_3_0_pre2"
Ongoing developments in the 12_3_X cycle
Moved to gcc10 as production architecture

[2021-12-16 14:31] cmsbuild commented on #36521
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-12-16 14:32] perrotta commented on #36521
+1

[2021-12-16 14:32] cmsbuild commented on #36521
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-12-16 14:32] cmsbuild commented on #36521
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, cs8_ppc64le_gcc11, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2021-12-16 14:34] cmsbuild commented on #36521
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3317/console
CMSDIST Branch: [IB/CMSSW_12_3_X/masterg9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/masterg9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-16 14:34] cmsbuild commented on #36521
The build has started for cs8_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3315/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 14:34] cmsbuild commented on #36521
The was an error for cs8_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_amd64_gcc10/3315

[2021-12-16 14:34] cmsbuild commented on #36521
The build has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3316/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 14:37] cmsbuild commented on #36521
The build has started for cs8_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3318/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 14:37] cmsbuild commented on #36521
The build has started for slc7_ppc64le_gcc11 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3319/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 14:37] cmsbuild commented on #36521
The was an error for cs8_ppc64le_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_ppc64le_gcc11/3318

[2021-12-16 14:39] makortel commented on #36488
I have so far seen it once in IBs, so it is certainly a rare segfault (hinting towards data race or memory corruption), and thus unlikely to be easily reproducible. Nevertheless it has in general been useful to collect logs of rare crashes.

[2021-12-16 14:42] makortel opened #36522 "TestIntegrationFinalPath failure"
TestIntegrationFinalPath failed in CMSSW_12_3_X_2021-12-15-2300 slc7_amd64_gcc900 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_3_X_2021-12-15-2300/unitTestLogs/FWCore/Integration#/

[2021-12-16 14:43] makortel commented on #36522
assign core

[2021-12-16 14:43] cmsbuild commented on #36522
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-16 14:43] cmsbuild commented on #36522
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-16 14:44] cmsbuild commented on #36521
The build has started for cs8_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3320/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 14:44] cmsbuild commented on #36521
The was an error for cs8_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_amd64_gcc10/3320

[2021-12-16 14:45] makortel commented on #36522
So something caused `grep` to interpret `finalpath.log` as a binary file?
https://github.com/cms-sw/cmssw/blob/4d5c91a05629d9124806e310501fac8c303c84c2/FWCore/Integration/test/test_finalpath.sh#L60-L61

[2021-12-16 14:48] cmsbuild commented on #36521
The build has started for cs8_amd64_gcc10 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3321/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 14:50] cmsbuild commented on #36521
The build has started for cs8_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3322/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 15:23] cmsbuild commented on #36521
The build has started for cs8_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3323/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 15:45] cmsbuild commented on #36521
The build has started for slc7_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3324/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2021-12-16 16:38] perrotta commented on #36514
Fixed by #36515

[2021-12-16 16:38] #36514 closed

[2021-12-16 17:38] makortel opened #36527 "test_edmPickEvents fails"
The `test_edmPickEvents` unit test has been failing since CMSSW_12_3_X_2021-12-14-2300 with
[code]

The appearance of the failure coincides with new `dasgoclient` version from https://github.com/cms-sw/cmsdist/pull/7509

[2021-12-16 17:39] cmsbuild commented on #36527
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-16 17:39] makortel commented on #36527
assign analysis

[2021-12-16 17:40] cmsbuild commented on #36527
New categories assigned: analysis

@santocch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-16 17:41] makortel commented on #36527
Running the test locally in CMSSW_12_3_X_2021-12-15-1100 succeeds. I'm very confused of this error. The script `run_edmCopyPickMerge` has no `DAS` that the error complains.

[2021-12-16 19:17] makortel commented on #36527
@smuzaffar Or could there be some trickery with https://github.com/cms-sw/cmssw/blob/master/Utilities/General/ibeos/das_client in play?

[2021-12-16 19:36] cmsbuild commented on #36521
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_aarch64_gcc11/3323
Some tes

[2021-12-16 19:55] cmsbuild commented on #36521
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-slc7_amd64_gcc900/3317
Some tes

[2021-12-16 19:57] cmsbuild commented on #36521
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_ppc64le_gcc11/3322
Some tes

[2021-12-16 19:57] cmsbuild commented on #36521
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-slc7_ppc64le_gcc11/3319
Some t

[2021-12-16 20:15] cmsbuild commented on #36521
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-slc7_aarch64_gcc11/3324
Some t

[2021-12-16 20:30] cmsbuild commented on #36521
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_aarch64_gcc11/3323

Tests results:
42 40 37 28 18 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2021-12-16 20:33] cmsbuild commented on #36521
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_amd64_gcc10/3321
Some tests (

[2021-12-16 20:42] cmsbuild commented on #36521
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-slc7_amd64_gcc900/3317

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-16 21:03] cmsbuild commented on #36521
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_ppc64le_gcc11/3322

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-16 21:05] cmsbuild commented on #36521
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-slc7_ppc64le_gcc11/3319

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-16 21:18] cmsbuild commented on #36521
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-cs8_amd64_gcc10/3321

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-16 21:22] cmsbuild commented on #36521
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-slc7_aarch64_gcc11/3324

Tests results:
42 40 37 28 18 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2021-12-16 21:22] smuzaffar commented on #36527
I think https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/Utilities/scripts/edmPickEvents.py (which is run by this unit test) fails and printout some error message like https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/Utilities/scripts/edmPickEvents.py#L106 . The script execute the outout of `edmPickEvents.py` and then complain about unknown `DAS` command. May be there is issue with

[2021-12-16 21:30] makortel commented on #36527
I managed to accidentally reproduce locally. The `run_edmCopyPickMerge.sh` got
[code]

[2021-12-16 21:37] smuzaffar commented on #36527
@vkuznet , we see that now dasgoclient ( run here https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/Utilities/scripts/edmPickEvents.py#L121-L136 ) now randomly fails with the message like https://github.com/cms-sw/cmssw/issues/36527#issuecomment-996209145 . Could this be related to the change https://github.com/cms-sw/cmsdist/pull/7509 ?

[2021-12-16 21:49] makortel commented on #36527
The exact command being run inwide `edmPickEvents` appears to be
[code]
(and runnig that gives me a similar error)

[2021-12-16 22:04] cvuosalo commented on #36044
#36197 resolves this issue.

[2021-12-16 22:04] cvuosalo commented on #36044
+1

[2021-12-16 22:04] #36044 closed

[2021-12-16 22:04] cmsbuild commented on #36044
This issue is fully signed and ready to be closed.

[2021-12-16 22:08] vkuznet commented on #36527
I need some time to understand the issue here and will do it tomorrow, but it is related with recent code refactoring which I think revealed hidden issue. Meanwhile, if you'll setup proper DBS_URL environment the issue will be gone:
[code]

[2021-12-16 22:12] cvuosalo commented on #32757
I am closing this issue. It does not seem promising -- too much risk, too much effort, too little reward. If there is any future interest in this issue for Phase 2, this issue could re-opened.

[2021-12-16 22:12] #32757 closed

[2021-12-16 22:12] cvuosalo commented on #32757
-1

[2021-12-16 22:33] cvuosalo commented on #31288
All warnings mentioned above have been fixed except for:
[code]

[2021-12-16 22:35] makortel commented on #35109
Here is another instance https://github.com/cms-sw/cmssw/pull/36507#issuecomment-996225899

[2021-12-16 23:02] civanch commented on #35109
@makortel , @Dr15Jones , does the recent case means that it is needed to add a dependence between modules, which do not exchange data? If they should be executed in a specific order, then may be there can be pseudo data, for example, next module consume previous module but not data of this module?

[2021-12-16 23:30] cvuosalo commented on #35109
Rather than being a random instability, could it be that DD4hep simulation from XML is just very sensitive to any perturbation in the execution process? On the surface, #36507 appears to potentially alter order of execution, which could create some side effect.
The other example above was a change to `cmsDriver`. Perhaps the instability is sensitive to infrastructure changes. Just guessing here.

[2021-12-17 00:47] cmsbuild commented on #36521
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-slc7_amd64_gcc10/3316
Some tests

[2021-12-17 01:34] cmsbuild commented on #36521
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre2-slc7_amd64_gcc10/3316

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-17 02:25] qliphy commented on #36521
upload all

[2021-12-17 02:25] cmsbuild commented on #36521
Queing Jenkins upload for slc7_amd64_gcc900

[2021-12-17 02:26] cmsbuild commented on #36521
Queing Jenkins upload for slc7_amd64_gcc10

[2021-12-17 02:26] cmsbuild commented on #36521
Queing Jenkins upload for cs8_amd64_gcc10

[2021-12-17 02:26] cmsbuild commented on #36521
Queing Jenkins upload for slc7_aarch64_gcc11

[2021-12-17 02:26] cmsbuild commented on #36521
Queing Jenkins upload for slc7_ppc64le_gcc11

[2021-12-17 02:26] cmsbuild commented on #36521
Queing Jenkins upload for cs8_aarch64_gcc11

[2021-12-17 02:26] cmsbuild commented on #36521
Queing Jenkins upload for cs8_ppc64le_gcc11

[2021-12-17 02:27] #36349 closed

[2021-12-17 02:28] cmsbuild commented on #36521
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2182/console

[2021-12-17 02:28] cmsbuild commented on #36521
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2183/console

[2021-12-17 02:29] cmsbuild commented on #36521
The upload has started for cs8_amd64_gcc10 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2181/console

[2021-12-17 02:30] cmsbuild commented on #36521
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre2-cs8_ppc64le_gcc11/2183

[2021-12-17 02:30] cmsbuild commented on #36521
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre2-cs8_aarch64_gcc11/2180

[2021-12-17 02:31] cmsbuild commented on #36521
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre2-slc7_aarch64_gcc11/2182

[2021-12-17 02:31] cmsbuild commented on #36521
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2185/console

[2021-12-17 02:31] cmsbuild commented on #36521
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2186/console

[2021-12-17 02:33] cmsbuild commented on #36521
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre2-slc7_ppc64le_gcc11/2186

[2021-12-17 02:36] cmsbuild commented on #36521
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre2-slc7_amd64_gcc900/2185

[2021-12-17 02:40] cmsbuild commented on #36521
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre2-slc7_amd64_gcc10/2184

[2021-12-17 02:42] cmsbuild commented on #36521
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre2-cs8_amd64_gcc10/2181

[2021-12-17 02:52] qliphy commented on #36521
release-notes

[2021-12-17 02:52] cmsbuild commented on #36521
Generating release notes since CMSSW_12_3_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-12-17 02:53] cmsbuild commented on #36521
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_3_0_pre2 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
cs8_ppc64le_gcc11
slc7_amd64_gcc900
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0_pre1 can be found at:

https://github.com

[2021-12-17 03:00] cmsbuild commented on #36521
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre2

[2021-12-17 06:24] perrotta commented on #35109
[Here](https://github.com/cms-sw/cmssw/pull/36524#issuecomment-996118954) both 11634.911 and 11634.914 show instabilities. I am now relaunching the tests to see if it reproduces in a different baseline IB.

[2021-12-17 07:41] smuzaffar commented on #36527
ok , I have updated [cms-bot](https://github.com/cms-sw/cms-bot/commit/98b3bc70cef9a6ae3767c47a8499135c54f2e029)  to set `export DBS_URL=https://cmsweb.cern.ch:8443/dbs/prod/global/DBSReader`

[2021-12-17 08:13] perrotta commented on #35109
See also https://github.com/cms-sw/cmssw/pull/36325#issuecomment-996082941. where besides 11634.911 and 11634.914 also 11634.911 and 11634.7 is affected

[2021-12-17 08:18] missirol commented on #35109
Just for the record, https://github.com/cms-sw/cmssw/pull/36515#issuecomment-995701965 is likely another example of this.

[2021-12-17 09:10] srimanob commented on #32643
Thanks @jfernan2
I think when PR is merged and IB runs fine, we can close this opened issue.

[2021-12-17 12:35] jfernan2 commented on #32643
+1

[2021-12-17 14:14] vkuznet commented on #36527
I provided the fix in https://github.com/cms-sw/cmsdist/pull/7522, but on a safe side you should explicitly use DBS_URL (and in this regard RUCIO_URL) before using dasgoclient. This explicit settings will ensure that DAS will use them in HTTP calls.

[2021-12-17 14:24] makortel commented on #36527
@smuzaffar What about developers/users, where would they (we) get the correct `DBS_URL` (and `RUCIO_URL`)?

[2021-12-17 14:39] makortel commented on #35109
Happened second time in https://github.com/cms-sw/cmssw/pull/36507#issuecomment-996225899.

I agree, this starts to look similar to https://github.com/cms-sw/cmssw/issues/34448 that execution order of _something_ affects the results (simulation history?). Ideally all our code should be independent of the execution order (that is only constrained by the declared data dependencies of the modules), a

[2021-12-17 14:40] makortel commented on #35109
Occurred also in #36530 (11634.{7,911,014}).

[2021-12-17 14:51] vkuznet commented on #36527
@makortel , all URLs are defined in dasmaps and if these env variables are NOT set DAS will use URLs from its map. Users should not worry about it and should not bother to use explicitly these env variables. I pointed about them here to ensure that production tools may explicitly define them to force DAS tools to use them.

The URLs may change, and it happened already several times in last year, e

[2021-12-17 15:05] makortel commented on #36527
Thanks @vkuznet for the clarification!

[2021-12-17 16:10] Dr15Jones commented on #36487
To make use of #36539 you'd change

https://github.com/cms-sw/cmssw/blob/1081695271bc61827eacbbf49a9ef999b3e34c2d/CondCore/ESSources/interface/DataProxy.h#L28-L33

to

[code]

and make the appropriate changes to the ESSource when creating the proxies.

[2021-12-17 16:55] DrDaveD commented on #36487
Thanks, Chris!  Could you please give us a high level description of how the concurrency feature in the PR works?  In particular, during discussions you were concerned about threads being blocked by locks, leaving them unavailable to other tasks that could be using cores for other things.  Does this PR avoid that?

[2021-12-17 17:07] Dr15Jones commented on #36487
The new code just removes both the std::mutex and the 'serial task queue' which was being used to serialize access to the underlying ESSource code.

This code assumes there are no locks being used by the ESSource (or at least not ones that take any appreciable amount of time) and therefore the bulk of the work can be done concurrently.

Each of the DataProxy objects is replicated based on how many

[2021-12-17 17:31] Dr15Jones commented on #36487
The thread safety question I have is if different `Sessions` created by the same `ConnectionPool` via the call

https://github.com/cms-sw/cmssw/blob/a9f44839b30cab42562af4434e1f01c8b1af8cc6/CondCore/CondDB/interface/ConnectionPool.h#L51

can be called concurrently. If so, then I think PoolDBESSource will be fine to use the new DataProxy. If not then we can't do concurrent accesses and must use the

[2021-12-17 18:00] makortel opened #36542 "Compilation warning in AVXVec.h"
The CMSSW_12_3_SKYLAKEAVX512_X_2021-12-16-2300 on slc7_amd64_gcc10 is warning
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc10/CMSSW_12_3_SKYLAKEAVX512_X_2021-12-16-2300/TrackingTools/AnalyticalJacobians

[2021-12-17 18:01] cmsbuild commented on #36542
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-17 18:01] makortel commented on #36542
assign reconstruction

FYI @VinInn

[2021-12-17 18:01] cmsbuild commented on #36542
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-17 18:02] makortel commented on #36542
The warning is pointing to line 33 in this function
https://github.com/cms-sw/cmssw/blob/a9f44839b30cab42562af4434e1f01c8b1af8cc6/DataFormats/Math/interface/private/AVXVec.h#L32-L35

[2021-12-17 18:17] makortel commented on #35109
And again https://github.com/cms-sw/cmssw/pull/36530#issuecomment-996920686, this time in 11634.7, 12434.0. This occurring only in non-X.911/X.914 makes it rather annoying to distinguish from "real" comparison failures.

[2021-12-17 19:01] slava77 commented on #36542
in this context, it's a false positive. Whatever `vec` was before entering this method, the result will be `ivec1.vec ivec0.vec`.

[2021-12-17 19:48] slava77 commented on #36542
perhaps it should just be replaced by `_mm256_set_m128d(ivec1.vec, ivec0.vec);`

[2021-12-17 20:17] cvuosalo commented on #35109
#36235 shows loss of regression in the comparison test for 11634.911, but no others.
It seems instability has increased very recently. Could there be a recently merged PR that is responsible?

[2021-12-17 20:24] cvuosalo commented on #35109
#36411 was merged just before we started seeing more instabilities. It makes a change in simulation by adding PPS simulation and enabling LHCTransport. Could there be unstable code in the new PPS simulation?

[2021-12-17 20:30] cvuosalo commented on #35109
#36482 shows regression loss for 11634.7 and 11634.911.

[2021-12-17 20:37] cvuosalo commented on #35109
#36351 shows regression loss for 11634.0 and 12434.0.

[2021-12-17 20:44] civanch commented on #35109
@makortel , @perrotta , @cvuosalo , If we roll back #36411 now? This may be achieved simply by addition of one line to #36524 - disable PPS for Run-3 but keeping other modifications of this PR. In modifier for Run-3 we use "False" instead of "True".

[2021-12-17 20:50] makortel commented on #35109
Good catch @cvuosalo. Static analyzer pointed to
https://github.com/cms-sw/cmssw/blob/a9f44839b30cab42562af4434e1f01c8b1af8cc6/SimTransport/PPSProtonTransport/src/TotemTransport.cc#L82-L87
But it seems to me that this code is not being called in matrix workflows (I'm specifically looking into 12434.0). The `const_cast` should be removed nevertheless because the `ApplyBeamCorrection()` ends up modi

[2021-12-17 20:53] makortel opened #36544 "Thread-safety issue in TotemTransport"
Investigation in #35109 pointed to this code
https://github.com/cms-sw/cmssw/blob/a9f44839b30cab42562af4434e1f01c8b1af8cc6/SimTransport/PPSProtonTransport/src/TotemTransport.cc#L82-L87
that, when called, modifies an existing event data product (violates policy and is not thread safe)
https://github.com/cms-sw/cmssw/blob/a9f44839b30cab42562af4434e1f01c8b1af8cc6/SimPPS/PPSSimTrackProducer/plugins/PP

[2021-12-17 20:54] makortel commented on #36544
assign simulation

[2021-12-17 20:54] cmsbuild commented on #36544
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-17 20:54] cmsbuild commented on #36544
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-17 20:54] makortel commented on #36544
FYI @cms-sw/ctpps-dpg-l2

[2021-12-17 20:56] makortel commented on #35109
I think this would be useful. Massive spurious comparison differences disturb the testing of unrelated PRs, and we'd get another data point for testing the hypothesis of culprit being in PPS simulation code.

[2021-12-17 20:57] civanch commented on #36544
I will try to fix...

[2021-12-17 21:15] perrotta commented on #35109
@civanch I have disabled PPS for run3 in #36524, as you are suggesting: please check if https://github.com/cms-sw/cmssw/pull/36524/commits/45ef8d9527726d35521c9bfb2874a085d0ea22ad corresponds exactly to what you meant

[2021-12-17 23:18] cvuosalo commented on #31288
#36548 fixes the `MuonNumbering` warning, which is last of the static analyzer warnings in this issue. This issue can be closed.

[2021-12-17 23:18] cvuosalo commented on #31288
+1

[2021-12-17 23:18] cmsbuild commented on #31288
This issue is fully signed and ready to be closed.

[2021-12-19 01:53] cmsbuild commented on #36521
The cleanup has started for cs8_aarch64_gcc11

[2021-12-19 01:53] cmsbuild commented on #36521
The cleanup has started for slc7_aarch64_gcc11

[2021-12-19 01:53] cmsbuild commented on #36521
The cleanup has started for slc7_amd64_gcc900

[2021-12-19 01:53] cmsbuild commented on #36521
The cleanup has started for slc7_amd64_gcc10

[2021-12-19 01:53] cmsbuild commented on #36521
The cleanup has started for cs8_ppc64le_gcc11

[2021-12-19 01:53] cmsbuild commented on #36521
The cleanup has started for cs8_amd64_gcc10

[2021-12-19 01:53] cmsbuild commented on #36521
The cleanup has started for slc7_ppc64le_gcc11

[2021-12-19 01:53] #36521 closed

[2021-12-19 01:53] cmsbuild commented on #36521
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre2-cs8_amd64_gcc10/1898

[2021-12-19 01:53] cmsbuild commented on #36521
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre2-cs8_aarch64_gcc11/1897

[2021-12-19 01:53] cmsbuild commented on #36521
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre2-cs8_ppc64le_gcc11/1899

[2021-12-19 01:53] cmsbuild commented on #36521
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre2-slc7_aarch64_gcc11/1900

[2021-12-19 01:53] cmsbuild commented on #36521
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre2-slc7_amd64_gcc10/1901

[2021-12-19 01:53] cmsbuild commented on #36521
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre2-slc7_amd64_gcc900/1902

[2021-12-19 01:53] cmsbuild commented on #36521
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre2-slc7_ppc64le_gcc11/1903

[2021-12-20 02:12] makortel opened #36552 "Rare non-reproducibility in patMETs_slimmedMETsNoHF?"
Tests in https://github.com/cms-sw/cmssw/pull/36550#issuecomment-997459140 showed a difference in 2026D60 28234.0 all_mini_OldVSNew for patMETs_slimmedMETsNoHF
![image](https://user-images.githubusercontent.com/33993/146701854-e8794d82-808f-46fc-9b51-93f8ba97e37a.png)

The PR should be purely technical, and I didn't find any earlier mention of a possible non-reproducibility there.

[2021-12-20 02:13] cmsbuild commented on #36552
New categories assigned: xpog,reconstruction

@slava77,@jpata,@mariadalfonso,@gouskos,@clacaputo,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-20 02:13] cmsbuild commented on #36552
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-20 07:58] #36500 closed

[2021-12-20 14:39] makortel commented on #36552
Maybe not so rare, but recent, occurred again in https://github.com/cms-sw/cmssw/pull/36550#issuecomment-997692045 and also in https://github.com/cms-sw/cmssw/pull/36507#issuecomment-997742373.

[2021-12-20 14:50] jpata commented on #36552
Based on the PR tests in https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons I can first see this issue in CMSSW_12_3_X_2021-12-18-1100.

[2021-12-20 16:16] jpata commented on #36552
Slava suggested it might be AVX in DeepMET, checking further in the logs...

[2021-12-21 00:39] #31288 closed

[2021-12-21 13:06] tvami commented on #27393
+db
 * just for the record

[2021-12-21 14:40] makortel opened #36561 "Implementation of CorrelationThreeBodyByTwoBodyTemplate missing"
UBSAN build CMSSW_12_3_UBSAN_X_2021-12-17-2300 is failing with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc11/CMSSW_12_3_UBSAN_X_2021-12-17-2300/L1Trigger/L1TGlobal

The class in question has a header in
https://github.com/cms-sw/cmssw/blob/6d8172feafcb5deaa0ad149c42a60f8d315c5f6b/L1Trigger/L1TGlobal/interface/CorrelationThreeBodyByTwoBodyTemplate.h#L33-L40
that declares the

[2021-12-21 14:41] makortel commented on #36561
assign l1

[2021-12-21 14:41] cmsbuild commented on #36561
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-21 14:41] cmsbuild commented on #36561
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-21 18:14] silviodonato commented on #35376
I investigated a bit more about the origin of the differences.
I considered the case CPU vs GPU when only the pixel local reco is customized (see message above).
First of all, I noticed that the differences are 'fluctuating', ie. if you select an event with a large difference and you ran again on the same event you might get a small difference.
So I ran with "keep *" and selected a posteriori an e

[2021-12-21 18:25] VinInn commented on #35376
(not differences: mostly "missing" tracks)

here 17.3 is simply missing

56 is "new" and 17 is missing (agaain)

where 56 (the first come from)?

17 missing again (where?)

I suggest: sort seeds by pt (or whatever) to stabilize CKF:
see https://cmssdt.cern.ch/lxr/source/RecoTracker/CkfPattern/src/CkfTrackCandidateMakerBase.cc#0231

[2021-12-21 21:23] #36487 closed

[2021-12-22 00:24] qliphy opened #36571 "Build CMSSW_10_6_29_patch1"

[2021-12-22 00:24] cmsbuild commented on #36571
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-12-22 00:24] qliphy commented on #36571
+1

[2021-12-22 00:25] cmsbuild commented on #36571
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_29_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-12-22 00:25] cmsbuild commented on #36571
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-12-22 00:26] cmsbuild commented on #36571
The build has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3325/console
CMSDIST Branch: [REL/CMSSW_10_6_29/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_29/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-22 00:38] cmsbuild commented on #36571
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3326/console
CMSDIST Branch: [REL/CMSSW_10_6_29/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_29/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-22 01:39] cmsbuild commented on #36571
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_29_patch1-slc7_amd64_gcc820/3326
Some

[2021-12-22 01:45] cmsbuild commented on #36571
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_29_patch1-slc7_amd64_gcc700/3325
Some

[2021-12-22 02:19] cmsbuild commented on #36571
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_29_patch1-slc7_amd64_gcc820/3326

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-12-22 02:26] cmsbuild commented on #36571
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_29_patch1-slc7_amd64_gcc700/3325

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-12-22 02:57] qliphy commented on #36571
upload all

[2021-12-22 02:58] cmsbuild commented on #36571
Queing Jenkins upload for slc7_amd64_gcc700

[2021-12-22 02:58] cmsbuild commented on #36571
Queing Jenkins upload for slc7_amd64_gcc820

[2021-12-22 02:58] cmsbuild commented on #36571
The upload has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2188/console

[2021-12-22 02:58] cmsbuild commented on #36571
The upload has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2187/console

[2021-12-22 02:59] cmsbuild commented on #36571
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_29_patch1-slc7_amd64_gcc820/2188

[2021-12-22 03:00] cmsbuild commented on #36571
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_29_patch1-slc7_amd64_gcc700/2187

[2021-12-22 03:01] qliphy commented on #36571
release-notes

[2021-12-22 03:01] cmsbuild commented on #36571
Generating release notes since CMSSW_10_6_29.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-12-22 03:01] cmsbuild commented on #36571
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_29_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_29 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_29_patch1

Cheers,
cms-bot

You can also click <a h

[2021-12-22 03:05] cmsbuild commented on #36571
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_29_patch1

[2021-12-22 14:41] makortel commented on #36351
#36570 adds a "process-level GUID" that is used in `InputSource`, `StatisticsSenderService`, and `CondorStatusService`.

@joseflix The `StatisticsSenderService` (that sends the UDP packets for the popularity data) already had a field
`unique_id: "<guid>-<fileid>"`. #36570 just makes the `<guid>` in that field to be the same as an new field `Guid` in the Condor Chirp messages. Could you confirm if

[2021-12-22 15:57] makortel commented on #36336
Here is another one from 11834.13 step 2 in CMSSW_12_3_X_2021-12-21-2300 (slc7_amd64_gcc10)
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2021-12-21-2300/pyRelValMatrixLogs/run/11834.13_TTbar_14TeV+2021PU_mlpf+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU/step2_TTbar_14TeV+2021PU_mlpf+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNan

[2021-12-23 08:55] #36351 closed

[2021-12-24 00:26] qliphy commented on #36336
Another one appearing from 11834.0 in IB CMSSW_12_3 2021-12-23-1100

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2021-12-23-1100/pyRelValMatrixLogs/run/11834.0_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU/step2_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU.log#/683-683

#23 0x000000000040a266

[2021-12-24 02:08] cmsbuild commented on #36571
The cleanup has started for slc7_amd64_gcc700

[2021-12-24 02:08] cmsbuild commented on #36571
The cleanup has started for slc7_amd64_gcc820

[2021-12-24 02:08] #36571 closed

[2021-12-24 02:08] cmsbuild commented on #36571
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_29_patch1-slc7_amd64_gcc700/1904

[2021-12-24 02:08] cmsbuild commented on #36571
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_29_patch1-slc7_amd64_gcc820/1905

[2021-12-24 16:44] slava77 opened #36590 "consider cleanup in RecoEGamma/Examples"
in a follow up to
https://github.com/cms-sw/cmssw/pull/36577#issuecomment-999841333

there are modules missing Event consumes calls and therefore they have not functioned for all of Run 2. It would probably be good to review them for removal from CMSSW.

@wrtabb @SohamBhattacharya

[2021-12-24 16:44] cmsbuild commented on #36590
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-24 16:44] slava77 commented on #36590
assign reconstruction,egamma-pog

[2021-12-24 16:45] cmsbuild commented on #36590
New categories assigned: reconstruction,egamma-pog

@slava77,@jpata,@lfinco,@clacaputo,@swagata87 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-25 14:01] civanch commented on #36544
@mundim, @fabferro ,
#36589 should fix thread safety, however, PPS simulation is still disabled by default, because was breaking thread safety. When #36589 will be in IB,  please, try to perform new tests with PPS enabled in g4SimHits.

There is also a question: if PPS is enabled are parameters of a proton the same as given by PYTHIA or they are resampled in BaseProtoneTransport?

[2021-12-27 09:59] srimanob opened #36596 "L1T warning of overwriting muon data in the packer"
While running private Phase-2 MC GEN-SIM-DIGI-HLT(Fake) steps with CMSSW_12_3_X_2021-12-25-1100 (not try on other releases yet), I see a lot of warnings said that

%MSG-e L1T:  L1TDigiToRaw:gmtStage2Raw 27-Dec-2021 10:50:54 CET Run: 1 Event: 2
Check constants for RegionalMuonShower fields! It looks like we're in danger of overwriting muon data in the packer!

Are we in a good position of Phase-2 L

[2021-12-27 09:59] cmsbuild commented on #36596
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-27 14:07] Dr15Jones commented on #36596
Assign l1

[2021-12-27 14:08] cmsbuild commented on #36596
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-28 13:12] kpedro88 commented on #14895
A trivial modification to `Eras.py` still results in the following list from checkdeps:
[code]

Given that we now also have modifiers in `Configuration/ProcessModifiers` that are just imported directly rather than from a central location like `Eras.py` (compare https://github.com/cms-sw/cmssw/blob/5cc0e67f56fdf5cf3b0126da9b378733083ae17f/Configuration/Applications/python/ConfigBuilder.py#L2128-L21

[2021-12-28 14:30] makortel opened #36604 "Attempt to get ES data using an invalid token in SiPixelPhase2DigiToClusterCUDA"
Workflow 39434.502 step 3 is failing on slc7_ppc64le_gcc11 since CMSSW_12_3_X_2021-12-23-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc11/CMSSW_12_3_X_2021-12-23-2300/pyRelValMatrixLogs/run/39434.502_TTbar_14TeV+2026D88_Patatrack_PixelOnlyGPU+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D88_Patatrack_PixelOnlyGPU+TTbar

[2021-12-28 14:30] makortel commented on #36604
assign reconstruction, heterogeneous

[2021-12-28 14:31] cmsbuild commented on #36604
New categories assigned: heterogeneous,reconstruction

@slava77,@jpata,@fwyzard,@clacaputo,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-28 14:31] cmsbuild commented on #36604
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-28 14:32] makortel commented on #36604
I'm wondering why this is failing only in PowerPC IBs. Maybe the reason is that the PPC machine has GPUs
[code]
whereas for amd64 this workflow is not being tested in GPU_X IBs?

[2021-12-28 14:32] makortel commented on #36604
FYI @cms-sw/trk-dpg-l2 @AdrianoDee

[2021-12-28 14:37] makortel commented on #36336
Another one in workflow 11834.0 in CMSSW_12_3_X_2021-12-24-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2021-12-24-1100/pyRelValMatrixLogs/run/11834.0_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU/step2_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU.log#/

[2021-12-28 14:39] makortel commented on #33084
Occurred in CMSSW_12_3_X_2021-12-24-2300 slc7_ppc64le_gcc11
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc11/CMSSW_12_3_X_2021-12-24-2300/pyRelValMatrixLogs/run/10802.0_SingleElectronPt35+2018+SingleElectronPt35_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano/step6_SingleElectronPt35+2018+SingleElectronPt35_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALC

[2021-12-28 14:40] makortel commented on #36522
Occurred again in CMSSW_12_3_X_2021-12-24-2300

[2021-12-28 14:51] makortel opened #36605 "Unit test failure in TrackingRecHit2DCUDA_t"
The unit test TrackingRecHit2DCUDA_t is failing in GPU_X IBs (also in PPC) since CMSSW_12_3_GPU_X_2021-12-23-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_GPU_X_2021-12-23-2300/unitTestLogs/CUDADataFormats/TrackingRecHit#/

[2021-12-28 14:52] cmsbuild commented on #36605
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-28 14:53] makortel commented on #36605
assign reconstruction, heterogeneous

FYI @cms-sw/trk-dpg-l2 @AdrianoDee

[2021-12-28 14:53] cmsbuild commented on #36605
New categories assigned: heterogeneous,reconstruction

@slava77,@jpata,@fwyzard,@clacaputo,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-28 14:56] makortel commented on #36605
I guess the failure would be related to #36235 where the assertion is added, but I have no idea why the test is failing in the IBs but did not fail in the PR tests.

[2021-12-28 14:59] makortel opened #36606 "EcalClusterTools exception in PATElectronProducer"
Workflow 4.77 step 3 fails in CMSSW_12_3_X_2021-12-27-2300 on cs8_ppc64le_gcc11
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_ppc64le_gcc11/CMSSW_12_3_X_2021-12-27-2300/pyRelValMatrixLogs/run/4.77_ZElSkim2012D+ZElSkim2012D+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT/step3_ZElSkim2012D+ZElSkim2012D+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT.log#/

[2021-12-28 14:59] makortel commented on #36606
assign reconstruction

[2021-12-28 14:59] cmsbuild commented on #36606
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-28 14:59] cmsbuild commented on #36606
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-28 14:59] makortel commented on #36606
Any chance this could be a (rare) race condition? (I didn't look the code at all)

[2021-12-28 15:01] makortel commented on #33084
Occurred in CMSSW_12_3_X_2021-12-27-2300 cs8_ppc64le_gcc11
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_ppc64le_gcc11/CMSSW_12_3_X_2021-12-27-2300/pyRelValMatrixLogs/run/10071.0_QCD_FlatPt_15_3000HS_13+2017+QCDForPF_13TeV_TuneCUETP8M1_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano/step6_QCD_FlatPt_15_3000HS_13+2017+QCDForPF_13TeV_TuneCUETP8M1_GenSimINPUT+Digi+RecoFakeHLT+HARVESTF

[2021-12-28 15:37] slava77 commented on #36606
I recall that getting to the PPC is rather difficult.
May I ask for a stack trace added in the issue description (`igtrace cmsRun`).

The direct calls in the `PATElectronProducer` are only to `lazyTools.localCovariances(*(itElectron->superCluster()->seed()))`, which by construction should have `thresholds = nullptr` and both `mult = 0.0`. So, the error should not happen in the check `      if ((th

[2021-12-28 15:48] makortel commented on #33084
It seems that both example failures are missing all the methods (and hence causing the exception). The printout comes from
https://github.com/cms-sw/cmssw/blob/5cc0e67f56fdf5cf3b0126da9b378733083ae17f/CommonTools/Utils/src/MethodSetter.cc#L127-L133
The loop uses these functions
https://github.com/cms-sw/cmssw/blob/5cc0e67f56fdf5cf3b0126da9b378733083ae17f/FWCore/Reflection/src/TypeWithDict.cc#L880-

[2021-12-29 08:22] perrotta commented on #36561
- #36610 reverts the offending PR #36441
- Please @rekovic provide an amended version of that PR at your earliest convenience

[2021-12-29 14:08] makortel commented on #36336
Another one in workflow 11834.21 step 2 in CMSSW_12_3_X_2021-12-28-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2021-12-28-2300/pyRelValMatrixLogs/run/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step2_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU.lo

[2021-12-29 14:09] makortel commented on #33084
Occurred in CMSSW_12_3_GEANT4_X_2021-12-28-2300

[2021-12-29 15:31] slava77 opened #36612 "review current use cases of RecoFP420"
The code in RecoFP420 seems to only be used in /test.
A somewhat limited spot-check also suggests that the code had no functional updates for a long time (10 years).

@cms-sw/hcal-dpg-l2  please comment or suggest/tag relevant experts who may clarify
- if there is any raw data that may need to be reconstructed with this code
- is there some expectation for some future developments

One of the purp

[2021-12-29 15:31] cmsbuild commented on #36612
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-29 15:32] slava77 commented on #36612
One of the purpose of the review is to see if the code is still needed in CMSSW.

[2021-12-29 16:09] mseidel42 commented on #36612
Hi Slava, I think this has nothing to do with HCAL:

https://arxiv.org/abs/0806.0302

Contact persons: Brian.Cox@manchester.ac.uk, Albert.de.Roeck@cern.ch. Not sure if they are on github, probably best to write them a mail!

[2021-12-29 16:34] slava77 commented on #36612
@mseidel42
thanks for the pointers. My guess about ZDC connection was wrong, so, no HCAL relationship.
We still need a DPG or POG to be responsible for the reco software.

Now, looking at https://arxiv.org/abs/0806.0302, and more recent activities in PPS, I'm curious if the FP420 R&D project is somehow more closely connected to the PPS DPG or PRO POG.
@cms-sw/ctpps-dpg-l2 @cms-sw/proton-pog-l2 ple

[2021-12-30 14:03] makortel commented on #36606
I recall seeing this exception being thrown once (and it did not repeat in CMSSW_12_3_X_2021-12-29-2300), so there could be some random aspect in it, making it possibly difficult to reproduce. On the stack trace, I checked with gdb (by running the job on amd64 and breaking into `localCovariance()`) that the only call to ` EcalClusterToolsT<B>::localCovariances()` is the direct call from `pat::PATE

[2022-01-04 15:24] makortel commented on #36336
Another one in 11834.21 step 2 on cs8_amd64_gcc10
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_amd64_gcc10/CMSSW_12_3_X_2022-01-01-1100/pyRelValMatrixLogs/run/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step2_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU.log#/

[2022-01-04 15:35] makortel commented on #36336
Another one in 11834.21 step 2 on cs8_amd64_gcc11
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_amd64_gcc11/CMSSW_12_3_X_2022-01-02-2300/pyRelValMatrixLogs/run/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step2_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU.log#/

[2022-01-04 17:14] perrotta commented on #36544
Even if #36589, which includes the proposed fixes, I don't think this issue can get closed until @cms-sw/ctpps-dpg-l2 or @cms-sw/proton-pog-l2 explicitely verify it by enabling proton transport in the code (or until proton transport is re-enabled by default in CMSSW and we can verify that there are no more thread safety related isues)

[2022-01-04 17:20] civanch commented on #36544
I agree that what is fixed is the only one problem and we may have more. After the new IB I will try to enable PPS and we can see if it is working or not.

[2022-01-04 21:34] makortel opened #36630 "Add ability to specify transition information to the consumes() call"
Currently the `consumes()` calls for Event Data products can be given only the branch type (e.g. `edm::InEvent`, `edm::InLumi`) of the product. Together with running all modules in ProcessBlock/Run/Lumi transitions (in contrast to running only modules that are in Paths or whose output products are actually consumed in Event transitions) this approach has guaranteed that e.g. Run products are avail

[2022-01-04 21:35] cmsbuild commented on #36630
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-04 21:37] makortel commented on #36630
assign core

[2022-01-04 21:37] cmsbuild commented on #36630
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-04 22:51] iarspider opened #36631 "[CXXModules] rootcling fails (core dumps) when generating dictionary from FWCoreConcurrency_xr.h"
Full log: [here](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc10/CMSSW_12_3_CXXMODULE_X_2022-01-03-2300/FWCore/Concurrency)

[code]

[2022-01-04 22:51] cmsbuild commented on #36631
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-05 02:52] makortel commented on #36631
assign core

[2022-01-05 02:53] cmsbuild commented on #36631
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-05 02:54] makortel commented on #36631
I [suspected](https://github.com/cms-sw/cmssw/pull/36568#issuecomment-1002137972) https://github.com/cms-sw/cmssw/pull/36568 as it looked somewhat relevant for the failure, and coincided when the problems arose.

@vgvassilev @davidlange6 @Dr15Jones

[2022-01-05 07:56] davidlange6 commented on #36631
The tbb module map needs updating. It has turned out to be nontrivial

On Jan 5, 2022 3:56 AM, Matti Kortelainen ***@***.***> wrote:

I suspected<https://github.com/cms-sw/cmssw/pull/36568#issuecomment-1002137972> #36568<https://github.com/cms-sw/cmssw/pull/36568> as it looked somewhat relevant for the failure, and coincided when the problems arose.

@vgvassilev<https://github.com/vgvassilev> @dav

[2022-01-05 08:50] davidlange6 commented on #36631
btw - cmssw now has a mix of the tbb headers in the tbb and oneapi/tbb subdirectories. Is this the long term plan?

[2022-01-05 08:50] swagata87 commented on #36336
it looks like the crash happens in events where there is a problem of `TrajectoryNaN`, so it could be related to the other github issue: https://github.com/cms-sw/cmssw/issues/35489 , and the fix proposed there might solve this as well.. (but this is a guess, I did not try)

also, several of the crashes reported here are not always reproducible, despite using same CMSSW version and same TTbar GEN-

[2022-01-05 10:47] davidlange6 commented on #36631
ok, seems I just needed to start over and then everything works as expected. Modulo more tests, I believe I have a fix now.

[2022-01-05 14:27] makortel commented on #36631
No, we should migrate them all to `oneapi/tbb`.

[2022-01-05 14:44] makortel commented on #36336
@swagata87 Good catch! I checked one random succeeding 11834.21 step 2 in the IBs and that did not show `TrajectoryNaN` warnings. I have been suspecting `RecHitsSortedInPhi` constructor to be the culprit as it, via `HitPairEDProducer:hltDisplacedhltIter4PFlowPixelLessHitDoublets` module, is the only piece of code present in all of the collected stack traces. But I didn't manage to make the connect

[2022-01-05 14:47] makortel commented on #35489
This issue could be the culprit for random failures in `11834.X` step 2 workflows being followed up in #36336 (thanks to @swagata87 for making the connection).

[2022-01-05 14:49] makortel commented on #35489
Pileup mixing is not fully reproducible when run with multiple threads because the "assignment" of input GEN events to edm streams (MinBias files for mixing are processed per stream) is not deterministic.

[2022-01-05 17:04] dan131riley commented on #36522
`^@` (control-@) is how browsers and pagers (and some editors) conventionally render the `nul` character, so we're writing out a `\0` somewhere.

[2022-01-05 17:54] dan131riley commented on #33224
The `messagedrop::StringProducer` variants all store pointers to parts of the context, so we may be violating some ordering assumption about the lifetime of those pointers.

[2022-01-05 18:52] Dr15Jones commented on #35138
The types.cc problem is fixed in #36636

[2022-01-05 19:30] Dr15Jones commented on #35138
@cms-sw/xpog-l2 and @guitargeek  FYI

I think the Span.h problem is due to an empty 'FlatTable.h.'  Looking at

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_3_UBSAN_X_2021-12-31-2300/pyRelValMatrixLogs/run/1325.61_TTbar_13_106Xv1NanoAODINPUT+TTbar_13_106Xv1NanoAODINPUT+NANOAODMC2017_106XMiniAODv1/step2_TTbar_13_106Xv1NanoAODINPUT+TTbar_13_106Xv1NanoAODINPUT+NANOAODMC2017_

[2022-01-06 14:06] makortel commented on #36606
Another one in 136.805 step 3 in CMSSW_12_3_X_2022-01-05-2300 cs8_ppc64le_gcc11
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_ppc64le_gcc11/CMSSW_12_3_X_2022-01-05-2300/pyRelValMatrixLogs/run/136.805_RunDoubleEG2017D+RunDoubleEG2017D+HLTDR2_2017+RECODR2_2017reHLT_skimDoubleEG_Prompt+HARVEST2017_skimDoubleEG/step3_RunDoubleEG2017D+RunDoubleEG2017D+HLTDR2_2017+RECODR2_2017reHLT_skimDoubleE

[2022-01-06 14:10] makortel commented on #36631
Did the issue got fixed, or did it disappear for some other reason? (only two packages in CMSSW_12_3_CXXMODULE_X_2022-01-05-2300 failed to build, and for different reasons)

[2022-01-06 14:24] iarspider commented on #36631
@davidlange6 thanks!

[2022-01-06 14:24] #36631 closed

[2022-01-06 14:29] makortel commented on #36631
+1

[2022-01-06 14:30] cmsbuild commented on #36631
This issue is fully signed and ready to be closed.

[2022-01-06 14:31] makortel commented on #36631
Thanks! For my education, how does it get updated? I was just puzzled because of not seeing any CMSSW or CMSDIST changes.

[2022-01-06 15:40] jpata commented on #36552
[PR](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-ec05ab/21541/runTheMatrix-results/28234.0_TTbar_14TeV+2026D60+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D60+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal.log):

[code]

[baseline](https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline

[2022-01-06 16:32] Dr15Jones opened #36640 "Added running of ES modules to StallMonitor"
With the extension of ActivityRegistry to see ES module status, we could update the StallMonitor to also show running of ES modules.

[2022-01-06 16:32] Dr15Jones commented on #36640
assign core

[2022-01-06 16:33] cmsbuild commented on #36640
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-06 16:33] cmsbuild commented on #36640
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-07 14:49] Dr15Jones opened #36646 "Memory problem in ThePEG::FxFxReader::scan"
The ASAN build CMSSW_12_3_ASAN_X_2022-01-05-2300 found the following issue in step1 of workflow 537.0

[code]

[2022-01-07 14:49] Dr15Jones commented on #36646
assign generator

[2022-01-07 14:49] cmsbuild commented on #36646
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-07 15:02] davidlange6 commented on #36631
Its on a branch in cmsdist
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_3_X/rootmodule/tbb_modulemap.file

[2022-01-07 15:25] smuzaffar commented on #34097
@swagata87  many workflows in DBG_X IBs are failing with error [a]. Was there any follow up issue/PR to fix this?

[code]

[2022-01-07 16:18] Dr15Jones opened #36647 "int overrun in L1GctJetFinderBase"
The undefined behavior santizer found a large number of int overruns similar to

[code]

[2022-01-07 16:19] cmsbuild commented on #36647
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-07 16:21] makortel commented on #36647
assign l1

[2022-01-07 16:21] cmsbuild commented on #36647
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-07 16:27] Dr15Jones commented on #36647
The problematic line of code is

https://github.com/cms-sw/cmssw/blob/1dfba46f661289c7c316780ba0364dfba589502f/L1Trigger/GlobalCaloTrigger/src/L1GctJetFinderBase.cc#L570

where `myFactor` comes from

https://github.com/cms-sw/cmssw/blob/1dfba46f661289c7c316780ba0364dfba589502f/L1Trigger/GlobalCaloTrigger/src/L1GctJetFinderBase.cc#L563-L567

and `factors` is
https://github.com/cms-sw/cmssw/blob/1df

[2022-01-07 16:31] makortel commented on #36339
@cms-sw/btv-pog-l2 Could you help to interpret the results?

[2022-01-08 17:09] perrotta opened #36649 "Fix needed for PileupInformation.cc"
In SimGeneral/PileupInformation/plugins/PileupInformation.cc the local bool variable `FoundTrk` is certainly wrongly defined and/or updated in the loop that starts at L267 of the `produce()` method.

If that plugin is still in use, a fix is needed.

@mdhildreth FYI (since the original code is yours)

[2022-01-08 17:09] perrotta commented on #36649
assign simulation

[2022-01-08 17:09] cmsbuild commented on #36649
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-08 17:09] cmsbuild commented on #36649
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-08 17:18] perrotta opened #36650 "Possible bug in Validation/RecoVertex/src/BeamSpotHistogramMaker.cc"
As pointed out by the static analyzer, the value stored in `currdir` at L29 of Validation/RecoVertex/src/BeamSpotHistogramMaker.cc in the `BeamSpotHistogramMaker::book` method is never read.

Shouldn't that line be written as
[code]
instead? (With `_currdir` instead of `currdir`)

[2022-01-08 17:18] perrotta commented on #36650
assign dqm

[2022-01-08 17:18] cmsbuild commented on #36650
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-08 17:18] cmsbuild commented on #36650
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-09 07:46] swagata87 commented on #34097
Hello @smuzaffar,
As far as I recall, there was no separate github-issue to follow it up.
However, now I have looked into it a bit more, and I propose a solution here:
https://github.com/cms-sw/cmssw/pull/36655
Hopefully it will solve the problem.. let's see from the tests

[2022-01-09 10:02] jfernan2 commented on #36650
Thanks @perrotta
I believe you are totally right, of course.
I have fixed it in:
https://github.com/cms-sw/cmssw/pull/36656

[2022-01-09 17:32] perrotta commented on #34136
already approved by xpog, as nano checks are now also added in the release profiling

[2022-01-09 17:32] #34136 closed

[2022-01-09 18:02] perrotta commented on #36650
Fixed by #36656, thank you @jfernan2

[2022-01-09 18:02] #36650 closed

[2022-01-09 19:08] jfernan2 commented on #36650
+1
For the records

[2022-01-09 19:08] cmsbuild commented on #36650
This issue is fully signed and ready to be closed.

[2022-01-09 23:34] missirol commented on #33945
As noted in the first message of this issue, this problem is causing failures in multiple unit tests in ASAN IBs (for example, also one in `CondTools/HLT`).

With some trial&error on top of the debugging already done above by others, it looks like the problem is in the function argument/return types used in the python interface of `frontier_client`.

With the patch below [*], the unit tests that c

[2022-01-10 11:47] haozturk commented on #34686
Folks, any updates?
2 relevant production workflows suffering from this issue:
1. https://its.cern.ch/jira/browse/CMSCOMPPR-21454
2. https://its.cern.ch/jira/browse/CMSCOMPPR-21441

[2022-01-10 12:29] qliphy opened #36661 "Failures in workflow 39434.501 and 39434.502 since CMSSW_12_3_X_2022-01-09-0000"
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-01-09-2300/pyRelValMatrixLogs/run/39434.501_TTbar_14TeV+2026D88_Patatrack_PixelOnlyCPU+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D88_Patatrack_PixelOnlyCPU+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal.log#/36-36

Module: SiPixelRecHi

[2022-01-10 12:29] qliphy commented on #36661
related to https://github.com/cms-sw/cmssw/pull/36529
@AdrianoDee

[2022-01-10 12:31] AdrianoDee commented on #36661
@qliphy thanks, let me have a look at it.

[2022-01-10 13:21] mkirsano opened #36662 "Migrate CMSSW from HepMC2 to HepMC3"

[2022-01-10 13:21] cmsbuild commented on #36662
A new Issue was created by  @mkirsano Mikhail Kirsanov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-10 13:41] mkirsano commented on #36662
assign generators

[2022-01-10 13:41] cmsbuild commented on #36662
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-10 14:20] makortel commented on #33945
Adding @DrDaveD, could you comment on the patch above?

[2022-01-10 14:21] makortel commented on #36661
assign reconstruction, heterogeneous

[2022-01-10 14:22] cmsbuild commented on #36661
New categories assigned: heterogeneous,reconstruction

@slava77,@jpata,@fwyzard,@clacaputo,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-10 14:35] smuzaffar commented on #33945
thanks @missirol , let create a PR to test your changes in https://github.com/cms-sw/cmssw/issues/33945#issuecomment-1008447038

[2022-01-10 15:45] makortel commented on #34686
The logs didn't reveal much new. There were a few cases where the exception gets thrown after some successful reads from a file (as opposed to very beginning of the file, in those cases the branch is also different).

But I did realize now that the exception is actually thrown from CMSSW
https://github.com/cms-sw/cmssw/blob/c04fa510bb587b8ee3fa171888468f80de714fa8/IOPool/TFileAdaptor/src/TStorageF

[2022-01-10 16:58] makortel commented on #34686
I tried locally (at CERN) the job https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC1_Run2018C_JetHT_UL2018_MiniAODv2_JMENanoAODv9_211109_182140_1855/8021/DataProcessing/d3a95ee0-0d98-4b68-a13b-2f2659e63143-17-0-logArchive/job/WMTaskSpace/cmsRun1/ (accessing `/store/data/Run2018C/JetHT/MINIAOD/UL2018_MiniAODv2-v1/50000/D2E3ADDE-5061-3C4E-B6AA-54FC9A9C8C47.root`, failing at the beg

[2022-01-10 18:25] makortel opened #36665 "Configuration error in workflow 11723.17"
The workflow 11723.17 step 3 has been failing since CMSSW_12_3_X_2022-01-09-0000 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-01-09-2300/pyRelValMatrixLogs/run/11723.17_QCD_Pt_1800_2400_14+2021_seedingDeepCore+QCD_Pt_1800_2400_14TeV_TuneCP5_GenSimINPUT+Digi+RecoNano+HARVESTNano/step3_QCD_Pt_1800_2400_14+2021_seedingDeepCore+QCD_Pt_1800_2400_14TeV_Tune

[2022-01-10 18:25] makortel commented on #36665
assign reconstruction

[2022-01-10 18:26] cmsbuild commented on #36665
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-10 18:26] cmsbuild commented on #36665
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-10 18:26] makortel commented on #36665
Presumably caused by https://github.com/cms-sw/cmssw/pull/36459

[2022-01-10 18:26] makortel commented on #36665
And apparently fixed in https://github.com/cms-sw/cmssw/pull/36658

[2022-01-10 18:26] #36665 closed

[2022-01-11 13:36] mmusich commented on #36605
I think this can be closed, as it was solved by #36607, right?

[2022-01-11 13:36] mmusich commented on #36604
I think this can be closed, as it was solved by #36607, right?

[2022-01-11 14:11] makortel commented on #36605
Yup.

[2022-01-11 14:11] makortel commented on #36605
+heterogeneous

[2022-01-11 14:12] #36605 closed

[2022-01-11 14:14] makortel commented on #36604
+heterogeneous

[2022-01-11 14:14] #36604 closed

[2022-01-11 14:18] makortel opened #36670 "Check that RefCore works well with RepeatingCachedRootSource"
From tests by @gartung we have some evidence that `RefCore` might not (always?) work well with `RepeatingCachedRootSource`. We should add tests to make sure that this works.

[2022-01-11 14:18] makortel commented on #36670
assign core

[2022-01-11 14:18] cmsbuild commented on #36670
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-11 14:18] cmsbuild commented on #36670
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-11 14:19] makortel commented on #36670
For future reference here is a stack trace from a crash
[code]

[2022-01-11 16:28] perrotta opened #36673 "Build CMSSW_12_2_0"

[2022-01-11 16:29] cmsbuild commented on #36673
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-11 16:30] perrotta commented on #36673
+1

[2022-01-11 16:30] cmsbuild commented on #36673
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-01-11 16:32] cmsbuild commented on #36673
The build has started for cc8_amd64_gcc9 in grid23209.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3327/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-11 16:34] cmsbuild commented on #36673
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3331/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-11 17:49] dan131riley commented on #32967
I'm considering making a PR with a lightly modified version of https://github.com/DarkerStar/libindi-scope/blob/main/indi/scope.hpp

It looks clean and has the virtue (for our purposes) of being a single header.  AFAICT neither libstdc++ (gcc) nor libc++ (llvm) have implemented `std::experimental::scope_exit`

[2022-01-11 18:35] slava77 commented on #33917
@cms-sw/pdmv-l2

this is connected with the MC setup discussion earlier today.
When I closed the issue I thought that the MC production was done/in progress as well.

[2022-01-11 18:56] cmsbuild commented on #36673
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-slc7_aarch64_gcc9/3330
Some tests (

[2022-01-11 19:13] cmsbuild commented on #36673
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-slc7_ppc64le_gcc9/3331
Some tests (

[2022-01-11 19:52] cmsbuild commented on #36673
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-slc7_aarch64_gcc9/3330

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-11 20:01] cmsbuild commented on #36673
The build has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3332/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-11 20:02] cmsbuild commented on #36673
The build has started for slc7_amd64_gcc10 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3333/console
CMSDIST Branch: [IB/CMSSW_12_2_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-11 20:03] cmsbuild commented on #36673
The build has started for cc8_amd64_gcc9 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3334/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-11 20:11] cmsbuild commented on #36673
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-slc7_ppc64le_gcc9/3331

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-11 23:16] cmsbuild commented on #36673
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-slc7_amd64_gcc10/3333
Some tests ( ru

[2022-01-11 23:24] cmsbuild commented on #36673
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-cc8_amd64_gcc9/3334
Some tests ( runThe

[2022-01-12 00:03] cmsbuild commented on #36673
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-slc7_amd64_gcc10/3333

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-12 00:10] cmsbuild commented on #36673
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-cc8_amd64_gcc9/3334

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-12 00:27] cmsbuild commented on #36673
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-slc7_amd64_gcc900/3332
Some tests (

[2022-01-12 01:14] cmsbuild commented on #36673
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0-slc7_amd64_gcc900/3332

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-12 06:46] perrotta commented on #36673
upload all

[2022-01-12 06:46] cmsbuild commented on #36673
Queing Jenkins upload for slc7_amd64_gcc900

[2022-01-12 06:46] cmsbuild commented on #36673
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-01-12 06:46] cmsbuild commented on #36673
Queing Jenkins upload for cc8_amd64_gcc9

[2022-01-12 06:46] cmsbuild commented on #36673
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-01-12 06:46] cmsbuild commented on #36673
Queing Jenkins upload for slc7_amd64_gcc10

[2022-01-12 06:48] cmsbuild commented on #36673
The upload has started for cc8_amd64_gcc9 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2190/console

[2022-01-12 06:48] cmsbuild commented on #36673
The upload has started for slc7_amd64_gcc10 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2191/console

[2022-01-12 06:48] cmsbuild commented on #36673
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2189/console

[2022-01-12 06:48] cmsbuild commented on #36673
The upload has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2192/console

[2022-01-12 06:49] cmsbuild commented on #36673
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0-slc7_amd64_gcc10/2191

[2022-01-12 06:49] cmsbuild commented on #36673
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0-cc8_amd64_gcc9/2190

[2022-01-12 06:49] cmsbuild commented on #36673
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2193/console

[2022-01-12 06:50] cmsbuild commented on #36673
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0-slc7_aarch64_gcc9/2189

[2022-01-12 06:51] cmsbuild commented on #36673
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0-slc7_amd64_gcc900/2192

[2022-01-12 06:51] cmsbuild commented on #36673
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0-slc7_ppc64le_gcc9/2193

[2022-01-12 06:59] missirol commented on #35344
I think #36459 and #36658 addressed this issue (and tested okay in IBs), so I'm closing this.

[2022-01-12 06:59] #35344 closed

[2022-01-12 07:50] perrotta commented on #36673
release-notes

[2022-01-12 07:51] cmsbuild commented on #36673
Generating release notes since CMSSW_12_2_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-12 07:51] cmsbuild commented on #36673
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_2_0 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_2_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_0

Cheers,

[2022-01-12 07:53] cmsbuild commented on #36673
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_0

[2022-01-12 14:43] johnalison commented on #36339
I assume this is the monitored dataset:

dasgoclient --query="summary dataset=/RelValTTbar_14TeV/CMSSW_12_1_0_pre4_ROOT624-121X_mcRun3_2021_realistic_v10-v3/MINIAODSIM"
[{"file_size":3796695257,"nblocks":1,"nevents":90000,"nfiles":2,"nlumis":900,"num_block":1,"num_event":90000,"num_file":2,"num_lumi":900}]

What MINIAOD should be used as reference?

[2022-01-12 14:51] kskovpen commented on #36339
Should be this one: /RelValTTbar_14TeV/CMSSW_12_1_0_pre4-121X_mcRun3_2021_realistic_v10-v2/MINIAODSIM
@mdmorris can also confirm

[2022-01-12 15:07] rekovic commented on #36561
Hi,  I am working on this.

@makortel
Since normal jenkins tests were passing, what alternative compilation command, or release, recipe, should I use to test the fix? Thanx.

[2022-01-12 15:37] Dr15Jones opened #36697 "Failures in ROOT 6.26 IB RelVals"
RelVals are seeing SIGABRT on around 50 workflows.

[code]

[2022-01-12 15:37] cmsbuild commented on #36697
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-12 15:42] smuzaffar commented on #36697
@Dr15Jones , this was due to missing "revert" https://github.com/cms-sw/root/commit/59639f2998d1baf9f486adb4d7fc1f6a30b150bf for v6-26 branch of ours. @pcanal has a fix (see https://github.com/root-project/root/pull/7837 ). For now I have updated our branch to include the revert ( https://github.com/cms-sw/cmsdist/pull/7541/files )

[2022-01-12 15:43] makortel commented on #36697
assign core

[2022-01-12 15:44] cmsbuild commented on #36697
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-12 15:44] Dr15Jones commented on #36697
I ran one of the failing jobs in the debugger and what is happening is an exception is happening within ROOT and the framework is attempting to shutdown cleanly and it leads to the assert.

The traceback is
[code]

[2022-01-12 15:45] Dr15Jones commented on #36697
The assert has the traceback
[code]

[2022-01-12 15:46] Dr15Jones commented on #36697
So it looks like we have a problem when an exception happens when prefetching Event data from the delayed reader. The system isn't properly telling the modules they will not be run and should release their waiting tasks.

[2022-01-12 15:51] makortel commented on #36561
Best would be to have the added code to be used in any kind of test (e.g. runTheMatrix workflow, unit test, addOn test), or even called by "cold code" (I believe that should have been sufficient to catch the missing implementation). Of course UBSAN IBs can be tested explicitly too, but so far UBSAN build failures have been rare enough to warrant discovering them only in IBs (rather than spending m

[2022-01-12 16:14] Dr15Jones commented on #36697
Fortunately, the problem also happens when running with 1 thread, so it does not appear to be a threading issue.

Adding the Tracer service to the 1 thread job yields
[code]

Note there is no _end processing Event_ before the _starting: end lumi_

[2022-01-12 16:55] missirol commented on #36336
Another one in [wf 11834.0 (step2) in `CMSSW_12_3_X_2022-01-11-2300`, `slc7_amd64_gcc10`](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-01-11-2300/pyRelValMatrixLogs/run/11834.0_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU/step2_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+HARVESTNanoPU.log#/)
(I'll let

[2022-01-12 21:34] makortel commented on #36480
The build failure was worked around, so I think this issue can be closed now.

[2022-01-12 21:34] makortel commented on #36480
+core

[2022-01-12 21:35] #36480 closed

[2022-01-12 21:35] cmsbuild commented on #36480
This issue is fully signed and ready to be closed.

[2022-01-12 21:39] makortel commented on #31760
#36699 takes another attempt, this time adding `process.options.accelerators = cms.untracked.vstring()`, and adding a new concept of `ProcessAccelerator`.

[2022-01-13 00:39] qliphy commented on #36661
@AdrianoDee  Any news on this?  The issues are still there in recent IBs.

[2022-01-13 14:43] Dr15Jones commented on #36697
@pcanal using CMSSW_12_3_ROOT626_X_2022-01-11-0800 when I do

root [1] Events->Scan("recoPFCandidates_particleFlow__RECO.obj.size")

I get
[code]

[2022-01-13 14:44] Dr15Jones commented on #36697
@smuzaffar @makortel I'm guessing @pcanal will need a version of ROOT 6.26 build with debug symbols.

[2022-01-13 14:48] smuzaffar commented on #36697
@Dr15Jones , if I understand correctly,  @pcanal  already has fix .... right  @pcanal  ? This is a known issue see https://github.com/root-project/root/pull/7837

[2022-01-13 15:03] pcanal commented on #36697
Yes, it sounds like it.  The proper fix is done and pending the finishing and upload of the corresponding tests (and my current focus).

[2022-01-13 22:41] wddgit commented on #30044
@makortel

I made a first pass at this. I know it is not done and there are issues that need to be resolved before we even think about merging this. But my working branch is here if you want to take a look.

https://github.com/wddgit/cmssw/tree/acceleratorProvenance

One thing we had discussed was making the module that produces this similar to TriggerResults in that it is not scheduled in the con

[2022-01-14 01:01] qliphy opened #36703 "Build CMSSW_8_0_36_patch1"
As discussed in https://its.cern.ch/jira/browse/CMSCOMPPR-22029
to include https://github.com/cms-sw/cmssw/pull/36580
Will support both Architectures: slc6_amd64_gcc530(Production), slc7_amd64_gcc530

[2022-01-14 01:03] qliphy commented on #36703
+1

[2022-01-14 01:03] cmsbuild commented on #36703
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2022-01-14 01:10] cmsbuild commented on #36703
The build has started for slc6_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3335/console
CMSDIST Branch: [REL/CMSSW_8_0_36/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_36/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2022-01-14 01:28] cmsbuild commented on #36703
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3336/console
CMSDIST Branch: [REL/CMSSW_8_0_36/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_36/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2022-01-14 01:31] cmsbuild commented on #36703
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_patch1-slc6_amd64_gcc530/3335
Some t

[2022-01-14 01:47] cmsbuild commented on #36703
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_patch1-slc7_amd64_gcc530/3336
Some t

[2022-01-14 01:49] cmsbuild commented on #36703
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_patch1-slc6_amd64_gcc530/3335

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2022-01-14 02:06] cmsbuild commented on #36703
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_patch1-slc7_amd64_gcc530/3336

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2022-01-14 02:07] cmsbuild commented on #36703
Queing Jenkins upload for slc6_amd64_gcc530

[2022-01-14 02:08] cmsbuild commented on #36703
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2195/console

[2022-01-14 02:08] cmsbuild commented on #36703
The upload has started for slc6_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2194/console

[2022-01-14 02:08] cmsbuild commented on #36703
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_36_patch1-slc6_amd64_gcc530/2194

[2022-01-14 02:09] cmsbuild commented on #36703
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_36_patch1-slc7_amd64_gcc530/2195

[2022-01-14 02:26] qliphy commented on #36703
release-notes

[2022-01-14 02:27] cmsbuild commented on #36703
Generating release notes since CMSSW_8_0_36.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-14 02:27] cmsbuild commented on #36703
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_36_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_36 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_36_patch1

As discussed in https://its.cern.ch/jira/br

[2022-01-14 02:30] cmsbuild commented on #36703
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36_patch1

[2022-01-14 06:53] cmsbuild commented on #36673
The cleanup has started for slc7_aarch64_gcc9

[2022-01-14 06:53] cmsbuild commented on #36673
The cleanup has started for slc7_amd64_gcc900

[2022-01-14 06:53] cmsbuild commented on #36673
The cleanup has started for slc7_ppc64le_gcc9

[2022-01-14 06:53] cmsbuild commented on #36673
The cleanup has started for cc8_amd64_gcc9

[2022-01-14 06:53] cmsbuild commented on #36673
The cleanup has started for slc7_amd64_gcc10

[2022-01-14 06:53] #36673 closed

[2022-01-14 06:53] cmsbuild commented on #36673
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0-cc8_amd64_gcc9/1906

[2022-01-14 06:53] cmsbuild commented on #36673
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0-slc7_aarch64_gcc9/1907

[2022-01-14 06:54] cmsbuild commented on #36673
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0-slc7_amd64_gcc10/1908

[2022-01-14 06:54] cmsbuild commented on #36673
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0-slc7_ppc64le_gcc9/1910

[2022-01-14 06:54] cmsbuild commented on #36673
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0-slc7_amd64_gcc900/1909

[2022-01-14 10:27] smuzaffar commented on #33734
+core
build errors for dbg Ibs are fixed now

[2022-01-14 10:27] #33734 closed

[2022-01-14 10:27] cmsbuild commented on #33734
This issue is fully signed and ready to be closed.

[2022-01-14 11:27] agrohsje opened #36705 "134 PS weights instead of 46 in Pythia 8.3"
Dear all,
producing GEN events in e.g. CMSSW_12_1_0 or CMSSW_11_3_4 (P8.3) I see that the weight vector per event, i.e.
Events->Scan("GenEventInfoProduct_generator__GEN.obj.weights_")
has 134 entries, while the header contains the correct info. I.e.
LuminosityBlocks->Scan("GenLumiInfoHeader_generator__GEN.obj.weightNames_","","colsize=60")
gives me 46 PS weights as expected.
@SiewYan @mkirsano is

[2022-01-14 11:27] agrohsje commented on #36705
assign generators

[2022-01-14 11:27] cmsbuild commented on #36705
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-14 11:27] cmsbuild commented on #36705
A new Issue was created by  @agrohsje .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-14 11:28] agrohsje commented on #36705
FYI: @kdlong @smrenna

[2022-01-14 13:35] shedprog opened #36706 "Issue with predefined decay (charged exotic case)"
The following issue is related to this hypernews thread: https://hypernews.cern.ch/HyperNews/CMS/get/simDevelopment/1997/1/1/1.html

I will demonstrate bug on the example of long-lived stau decaying to tau, which is hadronized in pythia. stau->tau->hadrons/leptons (1000015 -> 15)

In the function, https://github.com/cms-sw/cmssw/blob/22f1b2d464d0b95e3dedc0b8fabce5f4357b6be8/SimG4Core/Generators/sr

[2022-01-14 13:36] cmsbuild commented on #36706
A new Issue was created by  @shedprog Mykyta Shchedrolosiev.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-14 13:38] shedprog commented on #36706
Dear @civanch, can I ask for the help with this issue. Thank you in advance!

[2022-01-14 14:23] makortel commented on #36706
assign simulation

[2022-01-14 14:23] cmsbuild commented on #36706
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-14 14:40] qliphy opened #36708 "Build CMSSW_8_0_36_UL_patch1"
ARCHITECTURE:slc7_amd64_gcc530
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc530

[2022-01-14 14:41] cmsbuild commented on #36708
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-14 14:42] qliphy commented on #36708
+1

[2022-01-14 14:42] cmsbuild commented on #36708
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36_UL_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2022-01-14 14:42] cmsbuild commented on #36708
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_UL_patch1-slc7_amd64_gcc530/3337

[2022-01-14 14:46] smuzaffar commented on #36708
@qliphy , we can not build a patch release if the base release is missing. In this case, I do not see any `CMSSW_8_0_36_UL`  release in https://github.com/cms-sw/cms-bot/blob/master/releases.map

[2022-01-14 14:50] qliphy commented on #36708
@smuzaffar thanks!  The problem is that @cms-sw/pdmv-l2 find the newly built CMSSW_8_0_36_patch1 has a production architecture=slc6_amd64_gcc530 instead of architecture=slc7_amd64_gcc530
https://github.com/cms-sw/cms-bot/blob/master/releases.map#L3207-L3208

I was thinking of building a new release such as CMSSW_8_0_36_UL_patch1  with  PRODUCTION_ARCHITECTURE:slc7_amd64_gcc530

What should you rec

[2022-01-14 14:56] smuzaffar commented on #36708
we can just update the production arch for `CMSSW_8_0_36_patch1` to be `slc7_amd64_gcc530` in https://github.com/cms-sw/cms-bot/blob/master/releases.map

[2022-01-14 14:57] qliphy commented on #36708
That would be great!  Thanks a lot!

@cms-sw/pdmv-l2  FYI

[2022-01-14 15:34] #36708 closed

[2022-01-14 15:49] qliphy opened #36709 "Build CMSSW_8_0_36_UL"
CMSSW_COMMIT:CMSSW_8_0_36
ARCHITECTURE:slc7_amd64_gcc530
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc530

[2022-01-14 15:49] cmsbuild commented on #36709
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-14 15:49] qliphy commented on #36709
+1

[2022-01-14 15:50] cmsbuild commented on #36709
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36_UL. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2022-01-14 15:50] cmsbuild commented on #36709
The build has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3338/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2022-01-14 17:48] Dr15Jones commented on #36697
Looking at the tracer log I see
[code]

The PoolOutputModule doesn't depend on any of the above modules but does depend on
[code]
and on
[code]
where the latter comes from the Source.

The BunchSpacingProducer is not on any path and consumes data only from the Source.
[code]

So of these group of modules, only the following data products come from the Source
[code]

[2022-01-14 17:55] Dr15Jones commented on #36697
The other two modules earlier on path Flag_METFilters have the following info

`globalSuperTightHalo2016Filter` is on one other path
[code]

  only depends on source
[code]

`goodVertices` only depends on source
[code]

[2022-01-14 18:03] cmsbuild commented on #36709
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_UL-slc7_amd64_gcc530/3338
Some tests

[2022-01-14 18:04] Dr15Jones commented on #36697
Below is what I think is the relevant parts of the tracer log
[code]
One item of note, although `HBHENoiseFilterResultProducer` depends on data from the source, it is not associated with any messages stating `event delayed read from source:` even thought he module's prefetching states it completes!

[2022-01-14 18:21] cmsbuild commented on #36709
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_UL-slc7_amd64_gcc530/3338

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2022-01-14 18:22] perrotta commented on #36709
upload all

[2022-01-14 18:22] cmsbuild commented on #36709
Queing Jenkins upload for slc7_amd64_gcc530

[2022-01-14 18:23] cmsbuild commented on #36709
The upload has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2196/console

[2022-01-14 18:23] cmsbuild commented on #36709
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_36_UL-slc7_amd64_gcc530/2196

[2022-01-14 19:15] AdrianoDee commented on #36661
@qliphy opened https://github.com/cms-sw/cmssw/pull/36714, sorry for the delay. I wanted to include it in a general clean-up PR: not a great idea!

[2022-01-14 20:22] agrohsje commented on #36705
Discussed with @Dongwoon77 and @SanghyunKo as possible extension of relval to catch these changes in relval.

[2022-01-14 21:25] makortel commented on #30044
I agree that including this special producer in e.g. merge jobs would be bad. But I'm not sure if the condition should be the same as for TriggerResults producer. If I read the code correctly, the TriggerResults is produced if the process has any (trigger) Paths, did I got that right?

For this case somewhat natural condition would be "does process have any modules that produce data products" (i.e

[2022-01-14 22:23] DrDaveD commented on #33945
The patch looks reasonable to me, other than the fact that `python/lib/frontier_client.py` is not currently part of the frontier client distribution.  There was discussion years ago of moving it there, but then the author of the file disappeared and it never happened.  Perhaps this is a good time to make that happen.  A new major release of frontier_client is coming soon with threading support.

[2022-01-14 22:33] wddgit commented on #30044
I agree. I will try to modify it to only run when any other product is produced. That is a better criteria than associating it to TriggerResults or the existence of a path.

[2022-01-14 22:38] wddgit commented on #30044
Is there anything that exists to get the hardware chip names from in CMSSW or should I just start from scratch and try to figure out how to get this from the OS or environment?

Maybe we can discuss this again next week.

[2022-01-15 01:39] qliphy commented on #36709
release-notes

[2022-01-15 01:46] qliphy commented on #36709
release-notes since CMSSW_8_0_36

[2022-01-15 01:46] cmsbuild commented on #36709
Generating release notes since CMSSW_8_0_36.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-15 01:46] cmsbuild commented on #36709
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_36_UL is now available for the following architectures:

slc7_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_36 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_36_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern

[2022-01-15 01:47] cmsbuild commented on #36709
Generating release notes since CMSSW_8_0_36.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-15 01:47] cmsbuild commented on #36709
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_36_UL is now available for the following architectures:

slc7_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_36 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_36_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern

[2022-01-15 01:47] #36703 closed

[2022-01-15 01:49] qliphy opened #36716 "Build CMSSW_8_0_36_UL_patch1"
ARCHITECTURE:slc7_amd64_gcc530
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc530

[2022-01-15 01:50] cmsbuild commented on #36716
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-15 01:50] qliphy commented on #36716
+1

[2022-01-15 01:50] cmsbuild commented on #36716
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36_UL_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2022-01-15 01:50] cmsbuild commented on #36716
Queuing Jenkins build for the following architectures: slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2022-01-15 01:51] cmsbuild commented on #36709
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36_UL

[2022-01-15 01:51] cmsbuild commented on #36709
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36_UL

[2022-01-15 01:53] qliphy commented on #36709
This release is same as CMSSW_8_0_36 except that  the UL one has slc7 for the default production arch:
https://github.com/cms-sw/cms-bot/blob/master/releases.map#L3207-L3209

[2022-01-15 01:54] cmsbuild commented on #36716
The build has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3339/console
CMSDIST Branch: [REL/CMSSW_8_0_36_UL/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_36_UL/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2022-01-15 02:13] cmsbuild commented on #36716
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_UL_patch1-slc7_amd64_gcc530/3339
Som

[2022-01-15 02:20] qliphy commented on #36716
upload all

[2022-01-15 02:20] cmsbuild commented on #36716
Queing Jenkins upload for slc7_amd64_gcc530

[2022-01-15 02:21] cmsbuild commented on #36716
The upload has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2197/console

[2022-01-15 02:21] cmsbuild commented on #36716
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_36_UL_patch1-slc7_amd64_gcc530/2197

[2022-01-15 02:22] qliphy commented on #36716
release-notes

[2022-01-15 02:23] cmsbuild commented on #36716
Generating release notes since CMSSW_8_0_36_UL.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-15 02:23] cmsbuild commented on #36716
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_36_UL_patch1 is now available for the following architectures:

slc7_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_36_UL can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_36_UL_patch1

Cheers,
cms-bot

You can also click <a href="mailto:

[2022-01-15 02:25] cmsbuild commented on #36716
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36_UL_patch1

[2022-01-15 02:31] cmsbuild commented on #36716
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36_UL_patch1-slc7_amd64_gcc530/3339

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2022-01-15 03:07] makortel commented on #30044
We should discuss about this aspect. There are already
* CPU service https://github.com/cms-sw/cmssw/blob/master/FWCore/Services/plugins/CPU.cc, https://github.com/cms-sw/cmssw/blob/master/FWCore/Utilities/interface/CPUServiceBase.h
* CUDA service https://github.com/cms-sw/cmssw/blob/master/HeterogeneousCore/CUDAServices/src/CUDAService.cc

that dig up hardware information. The CPU service itself

[2022-01-15 20:45] agrohsje commented on #36705
@smrenna @SiewYan  @mkirsano  problem seems to be on the cms side. i tested p8.303 standalone and ended up with the expected number of ps weights in hepmc file.

[2022-01-16 22:53] kdlong commented on #36705
@agrohsje, as for catching this in the future, there is a flag in the implementation of PR #32167 that would fail here because the number of weights don't match the weightNames meta info. I've flipped it to false now so it can pass the tests, but ideally it would be true (do fail) and would help us catch such things

[2022-01-17 00:53] cmsbuild commented on #36709
The cleanup has started for slc7_amd64_gcc530

[2022-01-17 00:53] #36709 closed

[2022-01-17 00:53] cmsbuild commented on #36709
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_36_UL-slc7_amd64_gcc530/1911

[2022-01-17 01:23] cmsbuild commented on #36716
The cleanup has started for slc7_amd64_gcc530

[2022-01-17 01:23] #36716 closed

[2022-01-17 01:23] cmsbuild commented on #36716
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_36_UL_patch1-slc7_amd64_gcc530/1912

[2022-01-17 11:16] SanghyunKo commented on #36705
I tested [`Pythia8Hadronizer.cc`](https://github.com/cms-sw/cmssw/blob/CMSSW_12_2_X/GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc) with 12_2_0 and had some observations:

1. Indeed Pythia8 knows that it produces 45 PS weights & adds 45 weights [here](https://github.com/cms-sw/cmssw/blob/CMSSW_12_2_X/GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc#L740-L745)  - `

[2022-01-17 13:15] missirol commented on #36336
Another one in [wf 11834.21 (step2) in `CMSSW_12_3_X_2022-01-14-2300`, `cs8_amd64_gcc10`](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_amd64_gcc10/CMSSW_12_3_X_2022-01-14-2300/pyRelValMatrixLogs/run/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step2_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU

[2022-01-17 13:55] missirol commented on #36336
Some partial progress: after a few dozen tries, I managed to reproduce the error for wf `11834.0`. I did so including the fix in #36669 (cc: @mmusich); as expected, that avoided the seg-fault (confirming that #35489 and #36336 are related), and provided a valid output file for `step2`, which could then be used as input in "playback mode".

With the steps below, I could then reproduce the the seg-f

[2022-01-17 16:41] missirol commented on #36336
Maybe obvious, but.. one way to (really) reproduce the crash in the HLT step is to run the latter alone using the 'new' input file (the one used as input for 'playback mode' in the previous comment), so without remaking the RAW collection on-the-fly (afaiu).
[code]

[2022-01-17 20:16] fwyzard opened #36726 "crash in edm::checkForModuleDependencyCorrectness"
Instantiating a `TriggerResultsFilter` in `HLT_SomePath` that depends on the status (as in `HLTPathStatus`) of the path `HLT_SomePath` itself, causes a segmentation fault in `edm::checkForModuleDependencyCorrectness` instead of the usual nice error message about cyclic dependencies:
[code]

To reproduce, use the PR at https://github.com/cms-sw/cmssw/pull/36725 .

[2022-01-17 20:16] fwyzard commented on #36726
assign core

[2022-01-17 20:17] cmsbuild commented on #36726
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-17 20:17] cmsbuild commented on #36726
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-18 03:04] makortel commented on #36726
assign core

[2022-01-18 08:12] jpata opened #36727 "cmsRun segfaults with igprof in 12_2_0"
We recently observed that igprof segfaults in CMSSW_12_2_0 in the workflow `11834.21` in `step3`. It seems reproducible (happened on both cases when running the step), but not on the same event.

Attempt 1:
[code]

Attempt 2:
[code]

Steps to reproduce:
[code]

pinging the experts @cms-sw/core-l2 @gartung

[2022-01-18 08:13] cmsbuild commented on #36727
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-18 09:10] civanch commented on #36706
@shedprog , please, try locally to add a logic with code 23 and first be sure that it is fine to your use case. If your solution will work you make a PR for the master branch and we will discuss it. After fix of the master branch the PR may be backported to CMSSW_10_6_X.

[2022-01-18 09:52] iarspider opened #36729 "[ASAN] heap-buffer-overflow in HLTLogMonitorFilter::filter"
Full log [here](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_3_ASAN_X_2022-01-17-2300/unitTestLogs/HLTrigger/special#/58)
[code]

[2022-01-18 09:53] iarspider commented on #36729
assign hlt

[2022-01-18 09:54] cmsbuild commented on #36729
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-18 09:57] Martin-Grunewald commented on #36729
@fwyzard @Dr15Jones
Chris, you modified this most recently...

[2022-01-18 13:06] perrotta opened #36734 "Build CMSSW_12_3_0_pre3"

[2022-01-18 13:06] cmsbuild commented on #36734
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-18 13:07] perrotta commented on #36734
+1

[2022-01-18 13:07] cmsbuild commented on #36734
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-01-18 13:07] cmsbuild commented on #36734
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, cs8_ppc64le_gcc11, slc7_amd64_gcc10, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw

[2022-01-18 13:07] cmsbuild commented on #36734
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3340/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-18 13:09] cmsbuild commented on #36734
The build has started for slc7_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3341/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-18 13:12] cmsbuild commented on #36734
The build has started for slc7_ppc64le_gcc11 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3343/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-18 13:12] cmsbuild commented on #36734
The build has started for cs8_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3342/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-18 13:14] cmsbuild commented on #36734
The build has started for cs8_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3344/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-18 13:15] cmsbuild commented on #36734
The build has started for slc7_amd64_gcc10 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3345/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-18 13:45] fwyzard commented on #36729
1. how does one reproduce this locally ?
2. can we get line number information in the dumps, instead of just the binary addresses ?

[2022-01-18 14:15] makortel commented on #36727
assign core

[2022-01-18 14:15] cmsbuild commented on #36727
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-18 14:18] makortel commented on #36727
@jpata Is the stack trace for thread 1 just missing in both cases?

Does the crash occur on 12_2_0_pre3, 12_3_0_pre1, or 12_3_0_pre2?

Does the crash occur if `Run3_noMkFit` era is used? (just wondering if both crashing in mkFit is just incidental or a smoking gun)

[2022-01-18 14:32] Dr15Jones commented on #36729
@fwyzard

If you create a CMSSW_12_3_ASAN_X_2022-01-17-2300 work area you can run jobs under ASAN. Be sure to be on a machine that lets you have unlimited vmem (I can't do it at FNAL, only at CERN). As for which job, I can never figure out how to run the 'Other Tests'.

If you checkout the code and rebuild with `-g` then ASAN will give line numbers.

[2022-01-18 15:47] jpata commented on #36727
Seems to be the case: what I pasted is what is printed by the job, I don't know more. Slava and I were actually a bit confused why a single-threaded job (numberOfThreads=1) has several threads in the stack trace.

So far, the igprof for those releases seems to have run fine (after just one try, I didn't try to repeat to check if it might crash there in rare cases).

Good question, will test.

[2022-01-18 15:55] Dr15Jones commented on #36727
Most of the extra threads are from the 3rd party Eigen library where we do not have an ability to force it to use fewer threads. One thread is a monitoring thread used by the framework and only uses CPU when we need to create a stack trace because of a problem. [The reason the monitor thread exists is because of restrictions of what one is allowed to do within an unix signal handler.]

[2022-01-18 16:34] shedprog commented on #36706
@civanch, can I ask for a minor clarification: if the complex decay chain have particle in the middle with isLastCopy()==false (in my case it is particle with status=23) then this decay chain will not be assigned to single G4PrimaryVertex but two, but in the first chain decay will not be finished, won't geant always try to finish the decay of the first? So, don't we need to add any particle with i

[2022-01-18 16:39] Dr15Jones commented on #36697
I believe I have traced down the origin of the problem. ROOT throws a std::exception. This gets propagated (via use of std::exception_ptr) down to `edm::Path::workerFinished`. In that function, the code rethrows the exception and tries to catch it as a `cms::Exception`. That catch fails (since it is actually an std::exception) and the exception propagates out to TBB. That causes TBB to kill the `t

[2022-01-18 17:04] fwyzard commented on #36729
thanks @Dr15Jones , I could rebuild and reproduce with
[code]

[2022-01-18 17:28] Dr15Jones commented on #36697
Added my upcoming change to add traceback information to failures in DelayedReader (which also converts the exception to a cms::Exception) fixes this problem.

@pcanal
One item of note: although cmsRun now attempt to shutdown correctly, the job gets stuck in an infinite loop within ROOT. The traceback is

[code]

[2022-01-18 17:46] fwyzard commented on #36729
OK, https://github.com/cms-sw/cmssw/pull/36738 should fix the error.

[2022-01-18 18:10] cmsbuild commented on #36734
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-cs8_aarch64_gcc11/3340
Some tes

[2022-01-18 18:16] cmsbuild commented on #36734
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-slc7_aarch64_gcc11/3341
Some t

[2022-01-18 19:05] cmsbuild commented on #36734
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-cs8_aarch64_gcc11/3340

Tests results:
42 40 37 28 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-01-18 19:06] mariadalfonso commented on #36518
@cms-sw/egamma-pog-l2
please take note of this effect

[2022-01-18 19:13] cmsbuild commented on #36734
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-slc7_aarch64_gcc11/3341

Tests results:
42 40 37 28 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-01-18 19:14] makortel commented on #36697
CMSSW_12_3_ROOT626_X_2022-01-13-2300 appears to have worked fine.

[2022-01-18 19:14] makortel commented on #36697
+1

[2022-01-18 19:14] cmsbuild commented on #36697
This issue is fully signed and ready to be closed.

[2022-01-18 19:14] cmsbuild commented on #36734
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-cs8_ppc64le_gcc11/3342
Some tes

[2022-01-18 19:18] cmsbuild commented on #36734
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-slc7_ppc64le_gcc11/3343
Some t