[2022-01-18 19:25] makortel commented on #36336
@missirol Thanks for looking into this!

Just to clarify further (since it is not really obvious), the pileup mixing in step 2 is not fully reproducible when run with multiple threads. This happens because each stream has its own random number sequence and source of pileup files, and the assignment of input events to streams is not deterministic. The "playback mode" of MixingModule is effectively

[2022-01-18 19:27] cmsbuild commented on #36734
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-cs8_amd64_gcc10/3344
Some tests (

[2022-01-18 19:29] cmsbuild commented on #36734
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-slc7_amd64_gcc10/3345
Some tests

[2022-01-18 19:35] smuzaffar commented on #36697
@makortel , ROOT626 IBs are running because I included the revert https://github.com/cms-sw/root/commit/59639f2998d1baf9f486adb4d7fc1f6a30b150bf . This is just a work around to keep ROOT master abd ROOT 6.26 IBs running. We still need a proper fix from @pcanal for this.

[2022-01-18 19:51] makortel commented on #36697
Right. Do you think it would be better to keep the issue open until we get the proper fix?

[2022-01-18 19:52] makortel commented on #36697
(on the other hand, currently merge of #36739 would close this issue)

[2022-01-18 19:54] smuzaffar commented on #36697
I am testing  #36739 with root 6.26, without the revert, https://github.com/cms-sw/cmsdist/pull/7551 . I think if https://github.com/cms-sw/cmsdist/pull/7551 tests are successful then it is fine that  #36739 closes this issue.

[2022-01-18 20:13] cmsbuild commented on #36734
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-cs8_amd64_gcc10/3344

Tests results:
42 41 40 30 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-18 20:16] cmsbuild commented on #36734
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-slc7_amd64_gcc10/3345

Tests results:
42 41 40 30 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-18 20:17] pcanal commented on #36697
On the ROOT side the proper fix is at https://github.com/root-project/root/pull/9585

[2022-01-18 20:21] cmsbuild commented on #36734
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-cs8_ppc64le_gcc11/3342

Tests results:
42 41 40 30 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-18 20:25] cmsbuild commented on #36734
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre3-slc7_ppc64le_gcc11/3343

Tests results:
42 41 40 30 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-18 20:32] perrotta commented on #36734
upload all

[2022-01-18 20:33] cmsbuild commented on #36734
Queing Jenkins upload for slc7_amd64_gcc10

[2022-01-18 20:33] cmsbuild commented on #36734
Queing Jenkins upload for cs8_amd64_gcc10

[2022-01-18 20:33] cmsbuild commented on #36734
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-01-18 20:33] cmsbuild commented on #36734
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-01-18 20:33] cmsbuild commented on #36734
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-01-18 20:33] cmsbuild commented on #36734
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-01-18 20:33] cmsbuild commented on #36734
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2198/console

[2022-01-18 20:33] cmsbuild commented on #36734
The upload has started for cs8_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2199/console

[2022-01-18 20:34] cmsbuild commented on #36734
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2200/console

[2022-01-18 20:34] cmsbuild commented on #36734
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2201/console

[2022-01-18 20:35] cmsbuild commented on #36734
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre3-cs8_amd64_gcc10/2199

[2022-01-18 20:35] cmsbuild commented on #36734
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre3-cs8_aarch64_gcc11/2198

[2022-01-18 20:35] cmsbuild commented on #36734
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre3-cs8_ppc64le_gcc11/2201

[2022-01-18 20:35] cmsbuild commented on #36734
The upload has started for slc7_amd64_gcc10 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2203/console

[2022-01-18 20:35] cmsbuild commented on #36734
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre3-slc7_aarch64_gcc11/2200

[2022-01-18 20:36] cmsbuild commented on #36734
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre3-slc7_amd64_gcc10/2203

[2022-01-18 20:36] cmsbuild commented on #36734
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2202/console

[2022-01-18 20:37] cmsbuild commented on #36734
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre3-slc7_ppc64le_gcc11/2202

[2022-01-18 20:42] perrotta commented on #36734
release-notes

[2022-01-18 20:42] cmsbuild commented on #36734
Generating release notes since CMSSW_12_3_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-18 20:42] cmsbuild commented on #36734
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_3_0_pre3 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/rele

[2022-01-18 20:46] cmsbuild commented on #36734
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre3

[2022-01-18 20:51] missirol commented on #36336
Thanks, @makortel. Maybe I was not clear in my last comment. Let me clarify, and you can tell me what I'm missing (you can also check the configs in the `/afs` area above, if it helps).

In that latest test (the "2 out of 4"), I think I did run in "playback mode".

In order, what I did was to (1) merge #36669 hoping to avoid the seg-fault, (2) run repeatedly one of the relevant wfs until 1 job sho

[2022-01-18 21:09] iarspider commented on #36729
@fwyzard thanks!

[2022-01-18 21:27] smuzaffar commented on #36697
thanks @pcanal , I have opened PRs
- https://github.com/cms-sw/root/pull/161
- https://github.com/cms-sw/cmsdist/pull/7553
to test  root-project/root#9585 in cmssw

[2022-01-19 01:51] qliphy opened #36744 "Build CMSSW_10_6_30"

[2022-01-19 01:51] cmsbuild commented on #36744
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-19 01:51] qliphy commented on #36744
+1

[2022-01-19 01:52] cmsbuild commented on #36744
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_30. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2022-01-19 01:52] cmsbuild commented on #36744
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2022-01-19 01:53] cmsbuild commented on #36744
The build has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3346/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-19 01:53] cmsbuild commented on #36744
The build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3347/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-19 04:55] cmsbuild commented on #36744
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_30-slc7_amd64_gcc820/3347
Some tests (

[2022-01-19 05:36] cmsbuild commented on #36744
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_30-slc7_amd64_gcc700/3346
Some tests (

[2022-01-19 05:38] cmsbuild commented on #36744
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_30-slc7_amd64_gcc820/3347

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-01-19 05:48] qliphy commented on #36744
upload all

[2022-01-19 05:48] cmsbuild commented on #36744
Queing Jenkins upload for slc7_amd64_gcc700

[2022-01-19 05:48] cmsbuild commented on #36744
Queing Jenkins upload for slc7_amd64_gcc820

[2022-01-19 05:49] cmsbuild commented on #36744
The upload has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2204/console

[2022-01-19 05:51] cmsbuild commented on #36744
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_30-slc7_amd64_gcc700/2204

[2022-01-19 05:51] cmsbuild commented on #36744
The upload has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2205/console

[2022-01-19 05:52] cmsbuild commented on #36744
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_30-slc7_amd64_gcc820/2205

[2022-01-19 06:17] cmsbuild commented on #36744
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_30-slc7_amd64_gcc700/3346

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-01-19 07:01] qliphy commented on #36744
release-notes

[2022-01-19 07:02] cmsbuild commented on #36744
Generating release notes since CMSSW_10_6_29_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-19 07:02] cmsbuild commented on #36744
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_30 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_29_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_30

Cheers,
cms-bot

You can also click <a href="mailto:h

[2022-01-19 07:03] cmsbuild commented on #36744
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_30

[2022-01-19 10:44] swagata87 commented on #36518
Adding in the loop the particle-flow convenors @cms-sw/pf-l2 , and egamma nanoAOD contact @rgoldouz

[2022-01-19 13:33] jpata commented on #36727
Running without mkFit (using the era `Run3_noMkFit`) didn't result in a segfault after one attempt.

[2022-01-19 14:01] slava77 commented on #36727
does the crash happen also when running with gdb? (`gdb igprof`)

[2022-01-19 14:53] Dr15Jones commented on #36726
I was able to reproduce the problem with the pull request. I have determined the underlying problem and have made a unit test that replicates the problem. A pull request with a fix is coming soon.

[2022-01-19 15:19] jpata commented on #36727
igprof seems to work based on `LD_PRELOAD` injection rather than being a proper debuggable executable
[code]

but based on your suggestion I'm running it now after attaching gdb to a running process in case it gives any useful information.

I'm also checking if this happens in 12_3_0_pre3 (ETA tomorrow).

[2022-01-19 17:38] slava77 commented on #36727
IIRC there were no changes in mkFit since 12_2_0_pre3. What else changed?

[2022-01-19 17:42] slava77 commented on #36727
BTW, looking at the stack trace I see `CMSSW_12_1_0_pre4-build/BUILD/slc7_amd64_gcc900/external/igprof/5.9.16-49e1b5c4e6cbc5869a4d7947e7af8b35`
could it be that the igprof itself somehow got out of sync with other CMSSW external dependencies (like tbb)?

[2022-01-19 18:01] gartung commented on #36727
As far as I know igprof does not link to libtbb.so.
The paths in the stacktrace would be from the machine where it was built.
The igprof command is a shell script that does a LD_PRELOAD.

[2022-01-19 18:06] gartung commented on #36727
This is line 829 from profile.cc where the thread watcher is initialized
https://github.com/cms-externals/igprof/blob/c6882f4d8e39893d71466ea23da643dafb60a496/src/profile.cc#L829

[2022-01-19 18:14] gartung commented on #36727
Possibly related to the change I made because of TBB.
https://github.com/cms-externals/igprof/commit/6cc73b59d83ed6c9d73b455dc40857e700ef6ee4

[2022-01-19 21:45] gartung commented on #36727
The gdb command is also a wrapper script for gdb-10.2.

[2022-01-19 23:14] makortel commented on #30044
@fwyzard What do you think, would it be useful to have the architecture/accelerator information stored by the framework (similar to provenance) for the HLT?

@smorovic @emeschi (motivated by the question above, for considering implementation options) What are the constraints for evolving the streamer file format (e.g. for adding support for ProcessBlock data products)? Are these something that cou

[2022-01-20 07:58] fwyzard commented on #30044
I guess it could be useful, yes.
We have this information in aggregated form in the HLT DQM (_e.g._ the `FastTimerService` and `ThroughputService` use per-cpu model subfolders), but nothing that is stored and propagated downstream.

I assume that this information should be equivalent to _untracked_ parameters, to avoid affecting the process hash ?

I'm very _not_ familiar with the streamer format,

[2022-01-20 08:31] jpata commented on #36727
`igprof cmsRun` still segfaulted with gdb attached, here's what I got from gdb (I don't really know what to make of it, or why the repetition)

[code]

[2022-01-20 09:44] missirol commented on #36729
+hlt

 - resolved by #36738

[2022-01-20 09:44] cmsbuild commented on #36729
This issue is fully signed and ready to be closed.

[2022-01-20 10:07] smorovic commented on #30044
@makortel, streamer is used as a temporary format to ship data in P5 and to Tier-0 and there are no constraints in terms of backwards compatibility (i.e. all clients should use the same major_minor version of CMSSW)

A streamer file consists of header (serialized registry) and event payload (concatenated for each event), but the variant of the format we use until the last step is missing the heade

[2022-01-20 10:40] emeschi commented on #30044
Not quite sure I grasp all the implications but I’ll give my two cents.
According to Andrea, for statistical purposes, this information is already collected by the DQM (for the case where one would want to know fractions of events that went through a particular arch/accelerator, and perhaps do timing analysis separately, etc.).
So the only added value would be to have the information on an event-b

[2022-01-20 12:58] fwyzard commented on #30044
Yes, the idea would be to have this effectively per-event, so we can check offline if there are problems related to accelerator-specific implementations.
For example, re-running offline on a well-defined CPU-only architecture and comparing the results with the online ones.

So, storing the information in a per-Event collection would seem the easiest implementation - but it' not clear if it may cau

[2022-01-20 13:04] slava77 commented on #36727
`catch throw` (and continue until SIGSEGV) and `backtrace all` may be useful.

[2022-01-20 13:29] VinInn commented on #36336
I suggest to try
[code]

[2022-01-20 13:49] missirol commented on #36336
Thanks, @VinInn. With that change, the crash from https://github.com/cms-sw/cmssw/issues/36336#issuecomment-1014724357 [*] disappears.

[*]
[code]

[2022-01-20 14:01] gartung commented on #36727
The source file comes from libunwind.

[2022-01-20 14:33] gartung commented on #36727
The thread are create by tensorflow, using eigen thread pools. Did the tensorflow version change?

[2022-01-20 14:37] jpata commented on #36727
Just in case, in 12_3_0_pre3 there was no issue in this workflow. The logfile is at
`/eos/cms/store/user/cmsbuild/profiling/data/CMSSW_12_3_0_pre3/slc7_amd64_gcc10/11834.21/step3_igprof_cpu.txt`

[2022-01-20 14:40] gartung commented on #36727
The tensorflow version is the same is the prereleases.

[2022-01-20 16:16] makortel commented on #36339
@johnalison @AlexDeMoor Would you happen to have any news yet from the high-stat samples? Thanks!

[2022-01-20 16:22] jpata opened #36761 "Clean up and unify Phase2 tracker geometry handling code"
In #36660, a new Phase2 tracker geometry is being proposed, with the urgency of the development resulting in much of the code being duplicated from existing tracker code (in a few cases, in significant amounts and verbatim). https://github.com/cms-sw/cmssw/pull/36660#issuecomment-1017585984

This pattern is not optimal, and there is a commitment from the tracking POG to clean this up in the timesc

[2022-01-20 16:22] cmsbuild commented on #36761
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-20 16:30] jpata commented on #36761
assign reconstruction

[2022-01-20 16:30] cmsbuild commented on #36761
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-20 17:58] #36729 closed

[2022-01-20 19:45] johnalison commented on #36339
Yes, @AlexDeMoor feel free to add more.

The results for the ROOT624 with the new samples (90k events) are now good

https://cms-btv-pog-validation.web.cern.ch/cms-btv-pog-validation/validation/CMSSW_12_1_0_pre4_topdir.html

[2022-01-20 19:53] cmsbuild commented on #36734
The cleanup has started for cs8_aarch64_gcc11

[2022-01-20 19:53] cmsbuild commented on #36734
The cleanup has started for slc7_aarch64_gcc11

[2022-01-20 19:53] cmsbuild commented on #36734
The cleanup has started for slc7_amd64_gcc10

[2022-01-20 19:53] cmsbuild commented on #36734
The cleanup has started for cs8_ppc64le_gcc11

[2022-01-20 19:53] cmsbuild commented on #36734
The cleanup has started for cs8_amd64_gcc10

[2022-01-20 19:53] cmsbuild commented on #36734
The cleanup has started for slc7_ppc64le_gcc11

[2022-01-20 19:53] #36734 closed

[2022-01-20 19:53] cmsbuild commented on #36734
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre3-cs8_aarch64_gcc11/1913

[2022-01-20 19:53] cmsbuild commented on #36734
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre3-cs8_amd64_gcc10/1914

[2022-01-20 19:53] cmsbuild commented on #36734
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre3-slc7_aarch64_gcc11/1916

[2022-01-20 19:53] cmsbuild commented on #36734
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre3-slc7_amd64_gcc10/1917

[2022-01-20 19:53] cmsbuild commented on #36734
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre3-cs8_ppc64le_gcc11/1915

[2022-01-20 19:54] cmsbuild commented on #36734
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre3-slc7_ppc64le_gcc11/1918

[2022-01-20 19:58] makortel commented on #36339
Thanks @johnalison, this is good news!

@qliphy @perrotta @smuzaffar assuming we'd get an additional pre-release between now and last open pre-release of 12_3_X in tomorrow's XC, I'd suggest we proceed with 6.24 as soon as feasible.

[2022-01-20 20:01] makortel commented on #36339
+core

[2022-01-20 20:02] cmsbuild commented on #36339
This issue is fully signed and ready to be closed.

[2022-01-20 20:17] gartung commented on #36727
I ran with gdb attached and the segfault is in the same spot in libunwind. Running backtrace on all of the threads gives the same thing that cmsRun produces from the crash

[code]

[2022-01-21 01:26] qliphy commented on #36339
@makortel  As discussed at last ORP, we are waiting for a few geometry PRs to build 12_3_0_pre4 to validate against 12_3_0_pre3.  We don't plan to include other changes apart from those geometry PRs,    Once pre4 will be built, we can proceed with 6.24 in next pre-release (i.e. 12_3_0_pre5)

[2022-01-21 02:33] makortel commented on #31021
+1

This has been implemented.

[2022-01-21 02:34] cmsbuild commented on #31021
This issue is fully signed and ready to be closed.

[2022-01-21 02:42] makortel commented on #30044
@fwyzard @smorovic @emeschi Thanks for your input!

At this point we're still considering various implementation options. The idea would be to store more information than just "was GPU used or not", right now this would include the CPU and GPU model information. (note that the starting point of this issue was CPU vector architecture) The main use cases would be for monitoring and debugging after t

[2022-01-21 02:44] makortel commented on #36339
@qliphy Thanks for the reminder, I agree ROOT update should **not** go in pre4. I just hope pre5 won't be the last open pre-release.

[2022-01-21 06:08] cmsbuild commented on #36744
The cleanup has started for slc7_amd64_gcc700

[2022-01-21 06:08] cmsbuild commented on #36744
The cleanup has started for slc7_amd64_gcc820

[2022-01-21 06:08] #36744 closed

[2022-01-21 06:08] cmsbuild commented on #36744
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_30-slc7_amd64_gcc700/1919

[2022-01-21 06:08] cmsbuild commented on #36744
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_30-slc7_amd64_gcc820/1920

[2022-01-21 12:34] jpata commented on #36727
Just in case it's relevant, I noticed a segfault in 12_3_0_pre3/34834.21/step4/igprof_mp (memory profiling): https://github.com/jpata/cms-reco-profiling-web/issues/42

The workflow 12_3_0_pre3/11834.21/step3/igprof_pp (cpu profiling) did not segfault, as mentioned above.

[2022-01-21 13:04] qliphy opened #36771 "Missing file in wf 4.76"
As @smuzaffar  commented in https://github.com/cms-sw/cmssw/pull/36730#issuecomment-1017614866

"Workflow 4.76/step2 is failing in all release cycles. Previously workflow 4.76/step2 was using /store/data/Run2012D/SingleMu/RAW-RECO/ZMu-15Apr2014-v1/00000/0A3C1F91-2ECD-E311-8E64-90E6BA442F3F.root file ( see details of used files here) . Three days ago dasgoclient results were changes for dasgoclient

[2022-01-21 13:04] cmsbuild commented on #36771
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-21 13:05] qliphy commented on #36771
assign pdmv

[2022-01-21 13:05] cmsbuild commented on #36771
New categories assigned: pdmv

@bbilin,@wajidalikhan,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-21 14:28] mmusich commented on #36771
For my education I am bit puzzled by how das is working in this case.
If one does:
[code]
and:
[code]

but:
[code]

what am I missing?

[2022-01-21 14:31] gartung commented on #36727
There is a newer version of libunwind. If igprof compiles against it I will test with it.

[2022-01-21 14:35] smuzaffar commented on #36771
@mmusich , in past (https://github.com/cms-sw/cmssw/commit/5a727783ea8e724e4b90c2e2534e6f55daf8b13c) to avoid IBs to read remote data,  we added `site=T2_CH_CERN` condition so that we can alway use the data avaiable at CERN.  But now a days, as we cache the data used by IBs under ibeos area, so `site=T2_CH_CERN` condition is optional. For IBs and PRs test, if `dasgoclient` does not return any resu

[2022-01-21 14:37] mmusich commented on #36771
Hi @smuzaffar, yes I understand and looks sensible to me, what I don't understand are the contradictory (?) results of the das queries.

[2022-01-21 14:43] smuzaffar commented on #36771
the file `BAC962CD-25CD-E311-B35C-90E6BAE8CC08.root` is not at CERN that is why your query
[code]
does not return any thing

[2022-01-21 14:44] mmusich commented on #36771
@smuzaffar

but then, why it is returned (among others) from the first query?

`dasgoclient --limit 0 --query 'file dataset=/SingleMu/Run2012D-ZMu-15Apr2014-v1/RAW-RECO site=T2_CH_CERN'`

[2022-01-21 14:46] smuzaffar commented on #36771
humm, it does not for me
[code]

[2022-01-21 14:47] mmusich commented on #36771
@smuzaffar

try any other one of the list;

[code]

[2022-01-21 14:48] mmusich commented on #36771
if that's the case, it becomes difficult to hunt for a run which is actually present at CERN.

[2022-01-21 14:55] smuzaffar commented on #36771
ah right
[code]
@vkuznet any idea why dasgoclient is not returning the correct results here

[2022-01-21 16:26] vkuznet commented on #36771
The query you provided originally use DBS/Phedex (due to site constrain), now it relies on DBS/Rucio, but Rucio is not part of CMSWEB anymore and as such its URL in a client was not constructed properly (I should fix this). Meanwhile, the query will work if you'll explicitly set its url, e.g.
[code]
I opened https://github.com/dmwm/das2go/issues/37 to fix this use-case.

[2022-01-21 18:08] mmusich commented on #36302
as I didn't receive feedback, to get things moving I started #36773

[2022-01-21 18:24] vkuznet commented on #36771
Here is new PR to have default value for RucioUrl https://github.com/cms-sw/cmsdist/pull/7575

[2022-01-21 18:58] gartung commented on #36727
The command for backtrace of all threads is `thread apply all backtrace`

[2022-01-21 19:28] gartung commented on #36727
Testing with igprof linked against libunwind@1.6.2 has so far not crashed. The job is on event 90 where it had previously crashed around event 50.

[2022-01-21 20:17] perrotta commented on #36661
Fixed by #36714, this can be closed

[2022-01-21 21:13] wddgit opened #36774 "Implement Concurrent Runs"
Implement Concurrent Runs. We can document discussions related to concurrent runs here before the PR is submitted.

@Dr15Jones @makortel

[2022-01-21 21:13] cmsbuild commented on #36774
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-21 21:15] makortel commented on #36774
assign core

[2022-01-21 21:16] cmsbuild commented on #36774
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-21 21:20] wddgit commented on #36774
How much trouble is it going to cause if the order of stream begin run and global begin lumi changes? Currently, all streams complete their begin run transitions before global begin lumi begins.  In the case of multiple runs in flight that ordering will be no longer possible. Those transitions might run concurrently or with either order.

With the current version in my working area even for single

[2022-01-21 21:27] Dr15Jones commented on #36774
@wddgit here is what I wrote about transitions

https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultithreadedFrameworkTransitions#Transitions

So it is extremely important that all 'streams' see the non-event transitions in the same order and in the order they would expect from the original (pre-Run2) framework.

[2022-01-21 21:33] Dr15Jones commented on #36774
In the writeup for which I gave the link, there is one part that is incorrect

That is NOT the case (as I could never make that work correctly). Instead, ALL streams see ALL LuminosityBlocks even if that stream never processes an Event in that LuminosityBlock.

This means we do have a strict ordering in which a new LuminosityBlock can not be started until the last event in the previous LuminosityB

[2022-01-21 21:35] wddgit commented on #36774
Stream transitions. Yes, I agree.

Global transitions. No. And in particular I am asking about global begin lumi. If there are multiple runs in flight, if a stream moves ahead to another run it cannot wait for a different stream on the previous run to complete stream begin run. It must continue on to Events.

[2022-01-21 21:39] wddgit commented on #36774
I think on the web page you referenced, global begin lumi is only waiting on global begin run to complete.

[2022-01-21 22:09] wddgit commented on #36774
Do you mind if I also fix the TWIKI to state all streams see all luminosity blocks and runs? I think we left it that way because we thought we might actually change the code to behave that way. I think we are no longer planning to do that so we might as well change the TWIKI from the original plan to the actual behavior.

[2022-01-21 22:32] Dr15Jones commented on #36774
So lets take the case of two runs each with one lumi and no events, then the time line should be

Order in Source
[code]

Transition order assuming an infinite number of threads. Time progresses along the x axis. A transition begins on its first letter and ends on its last letter or until the start of the next transition on the same line (specifically for stream transitions).
[code]

So the `globa

[2022-01-21 22:50] wddgit commented on #36774
Hmmmmm. This is different than what I thought. I thought we wanted to be able to process an event from run 1 and a different event or events from run 2 concurrently on different streams. So if the last event in run 1 took a very long time we continue  on other streams into run 2, not waiting until streamEndRun(1) is started for all streams. That is what I implemented and would give a better perfor

[2022-01-21 23:00] wddgit commented on #36774
Note that the original ordering issue I mentioned is not the result of intentional design or an explicit wait. Both tasks are likely spawned and it is just the TBB algorithm which picks which task to run first. I understand correctly, the last spawned is run first. It's nontrivial to modify the order because along each execution path there is a series of tasks that spawn other tasks...

[2022-01-21 23:13] wddgit commented on #36774
Note the stream  transitions are ordered properly in the new code using the Stream SerialQueues. That is how I guarantee  streamBeginRun(2) does not fire before streamEndRun(1) within a single stream. I insert tasks into the Stream SerialQueues in the correct order.

[2022-01-21 23:23] wddgit commented on #36774
This question would be so much easier to discuss with a whiteboard in person... I am quitting now for the weekend. We can continue on Monday...

[2022-01-21 23:34] tvami commented on #29833
Hi @bsunanda ,
when do you think it is realistic to deal with this?

[2022-01-22 01:44] #36661 closed

[2022-01-22 01:47] qliphy opened #36776 "Build CMSSW_12_3_0_pre4"

[2022-01-22 01:47] cmsbuild commented on #36776
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-22 01:48] qliphy commented on #36776
+1

[2022-01-22 01:48] cmsbuild commented on #36776
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-01-22 01:48] cmsbuild commented on #36776
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, ubi8_amd64_gcc10, cs8_ppc64le_gcc11, slc7_amd64_gcc10, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-01-22 01:52] cmsbuild commented on #36776
The build has started for cs8_ppc64le_gcc11 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3348/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-22 01:53] cmsbuild commented on #36776
The build has started for slc7_ppc64le_gcc11 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3349/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-22 02:07] cmsbuild commented on #36776
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3350/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-22 02:24] cmsbuild commented on #36776
The build has started for cs8_amd64_gcc10 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3351/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-22 02:24] cmsbuild commented on #36776
The build has started for slc7_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3352/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-22 02:29] cmsbuild commented on #36776
The build has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3353/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-22 02:37] cmsbuild commented on #36776
The build has started for ubi8_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3354/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-01-22 02:37] cmsbuild commented on #36776
The was an error for ubi8_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-ubi8_amd64_gcc10/3354

[2022-01-22 04:35] gartung commented on #36727
The RECO job ran to completion with igprof and libunwind@1.6.2. The pull request to update libunwind is being tested.

[2022-01-22 04:43] cmsbuild commented on #36776
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-cs8_aarch64_gcc11/3350
Some tes

[2022-01-22 05:05] cmsbuild commented on #36776
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-cs8_ppc64le_gcc11/3348
Some tes

[2022-01-22 05:13] cmsbuild commented on #36776
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-slc7_aarch64_gcc11/3352
Some t

[2022-01-22 05:14] cmsbuild commented on #36776
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-slc7_ppc64le_gcc11/3349
Some t

[2022-01-22 05:37] cmsbuild commented on #36776
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-cs8_aarch64_gcc11/3350

Tests results:
42 40 37 28 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-01-22 05:44] cmsbuild commented on #36776
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-slc7_amd64_gcc10/3353
Some tests

[2022-01-22 05:50] cmsbuild commented on #36776
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-cs8_amd64_gcc10/3351
Some tests (

[2022-01-22 06:13] cmsbuild commented on #36776
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-slc7_aarch64_gcc11/3352

Tests results:
42 40 37 28 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-01-22 06:18] cmsbuild commented on #36776
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-cs8_ppc64le_gcc11/3348

Tests results:
42 41 40 30 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-22 06:19] cmsbuild commented on #36776
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-slc7_ppc64le_gcc11/3349

Tests results:
42 41 40 30 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-22 06:32] cmsbuild commented on #36776
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-slc7_amd64_gcc10/3353

Tests results:
42 41 40 30 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-22 06:32] perrotta commented on #36776
@smuzaffar is this something we should worry about? I don't remember we ever used this `ubi8_amd64_gcc10` architecture before, certainly not for pre3: perhaps we can skip it for now?

[2022-01-22 06:38] cmsbuild commented on #36776
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre4-cs8_amd64_gcc10/3351

Tests results:
42 41 40 30 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-22 06:44] smuzaffar commented on #36776
Please ignore ubi8 errors

[2022-01-22 07:15] perrotta commented on #36776
upload all

[2022-01-22 07:15] cmsbuild commented on #36776
Queing Jenkins upload for slc7_amd64_gcc10

[2022-01-22 07:15] cmsbuild commented on #36776
Queing Jenkins upload for cs8_amd64_gcc10

[2022-01-22 07:15] cmsbuild commented on #36776
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-01-22 07:15] cmsbuild commented on #36776
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-01-22 07:16] cmsbuild commented on #36776
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-01-22 07:16] cmsbuild commented on #36776
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-01-22 07:16] cmsbuild commented on #36776
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2207/console

[2022-01-22 07:16] cmsbuild commented on #36776
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2208/console

[2022-01-22 07:16] cmsbuild commented on #36776
The upload has started for cs8_amd64_gcc10 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2206/console

[2022-01-22 07:17] cmsbuild commented on #36776
The upload has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2209/console

[2022-01-22 07:18] cmsbuild commented on #36776
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre4-cs8_aarch64_gcc11/2207

[2022-01-22 07:18] cmsbuild commented on #36776
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre4-slc7_aarch64_gcc11/2208

[2022-01-22 07:18] cmsbuild commented on #36776
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2210/console

[2022-01-22 07:18] cmsbuild commented on #36776
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2211/console

[2022-01-22 07:19] cmsbuild commented on #36776
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre4-cs8_ppc64le_gcc11/2210

[2022-01-22 07:19] cmsbuild commented on #36776
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre4-slc7_ppc64le_gcc11/2211

[2022-01-22 07:21] cmsbuild commented on #36776
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre4-slc7_amd64_gcc10/2209

[2022-01-22 07:22] cmsbuild commented on #36776
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre4-cs8_amd64_gcc10/2206

[2022-01-22 07:30] perrotta commented on #36776
release-notes
(first time I check if it works even if the build for one architecture was unsuccessfull...)

[2022-01-22 07:30] cmsbuild commented on #36776
Generating release notes since CMSSW_12_3_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-22 07:30] cmsbuild commented on #36776
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_3_0_pre4 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/rele

[2022-01-22 07:34] cmsbuild commented on #36776
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre4

[2022-01-22 11:26] missirol commented on #36336
assign hlt

Assigning this issue to HLT just for better bookkeping. Turns out the problem was in the HLT step (see also comments in #35489 and #36669).

[2022-01-22 11:26] cmsbuild commented on #36336
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-22 18:04] #36727 closed

[2022-01-23 16:42] silviodonato commented on #35668
Now that we have integrated the CPU-only part of the Patrack code in the HLT menu, we cannot anymore run only the pixel local reco on GPU.
The code works properly only running pixel local reco + pixel tracking on GPU.

Example:
[code]
gives
[code]

[2022-01-23 23:43] tvami commented on #29833
Hi @civanch maybe this could be discussed in the Simulation meeting next week?
https://indico.cern.ch/event/1117488/

[2022-01-24 05:09] igv4321 commented on #35578
Sorry for the delay. Will need a few more days to fix this.

Regards,
Igor

On 1/20/22 20:34, Matti Kortelainen wrote:

[2022-01-24 06:38] cmsbuild commented on #36776
The cleanup has started for cs8_aarch64_gcc11

[2022-01-24 06:38] cmsbuild commented on #36776
The cleanup has started for slc7_aarch64_gcc11

[2022-01-24 06:38] cmsbuild commented on #36776
The cleanup has started for ubi8_amd64_gcc10

[2022-01-24 06:38] cmsbuild commented on #36776
The cleanup has started for slc7_amd64_gcc10

[2022-01-24 06:38] cmsbuild commented on #36776
The cleanup has started for cs8_ppc64le_gcc11

[2022-01-24 06:38] cmsbuild commented on #36776
The cleanup has started for cs8_amd64_gcc10

[2022-01-24 06:38] cmsbuild commented on #36776
The cleanup has started for slc7_ppc64le_gcc11

[2022-01-24 06:38] #36776 closed

[2022-01-24 06:38] cmsbuild commented on #36776
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre4-cs8_ppc64le_gcc11/1923

[2022-01-24 06:38] cmsbuild commented on #36776
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre4-cs8_aarch64_gcc11/1921

[2022-01-24 06:38] cmsbuild commented on #36776
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre4-cs8_amd64_gcc10/1922

[2022-01-24 06:38] cmsbuild commented on #36776
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre4-slc7_aarch64_gcc11/1924

[2022-01-24 06:38] cmsbuild commented on #36776
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre4-slc7_amd64_gcc10/1925

[2022-01-24 06:38] cmsbuild commented on #36776
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre4-slc7_ppc64le_gcc11/1926

[2022-01-24 06:38] cmsbuild commented on #36776
The workspace for ubi8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre4-ubi8_amd64_gcc10/1927

[2022-01-24 11:19] missirol commented on #36336
+hlt

 - to the best of my knowledge, https://github.com/cms-sw/cmssw/pull/36669 fixes this issue

[2022-01-24 11:20] missirol commented on #35489
+hlt

 - to the best of my knowledge, https://github.com/cms-sw/cmssw/pull/36669 fixes this issue

[2022-01-24 11:39] elfontan opened #36786 "Exception when calling the method EventSetup module RPCConeBuilder"
Hi all,
while testing the new CMSSW_12_3_0_pre4 release to run the L1 emulation, I encountered the following error that I was not seeing before:

_The mapping of bin lower bounds to indices does not contain all possible entries!!!
%MSG
----- Begin Fatal Exception 23-Jan-2022 16:52:55 CET-----------------------
An exception of category 'RPCInternal' occurred while
   [0] Processing global begin Run

[2022-01-24 11:39] cmsbuild commented on #36786
A new Issue was created by  @elfontan Elisa Fontanesi.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-24 12:40] francescobrivio commented on #36786
@bsunanda @cms-sw/geometry-l2 RPC geometry was changed in pre4, could this be the cause of this issue?

[2022-01-24 12:47] bsunanda commented on #36786
Could you specify which workflow sees this exception? Please also put RPC experts in this link

[2022-01-24 12:52] francescobrivio commented on #36786
hi @bsunanda! the command to reproduce this is given by Elisa in the description:
[code]

[2022-01-24 12:52] francescobrivio commented on #36786
FYI @cms-sw/rpc-dpg-l2

[2022-01-24 13:13] perrotta commented on #36786
assign hlt
(`hltGetConfiguration` is a tool used by TSG)

I suspect that the issue may come from using as input file for `hltGetConfiguration` in CMSSW_12_3_0_pre4 a RelVal that was produced in CMSSW_12_0_1, i.e. with the previous (RPC) geometry

[2022-01-24 13:14] cmsbuild commented on #36786
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-24 14:31] dan131riley opened #36788 "Test aarch64 build with -mno-outline-atomics"
We're seeing a large number of failures on aarch64.  Most of them are uninformative exceptions of the form
[code]
but there's a handful of segmentation violations that seem to point to problems with atomic operations
[code]
The relatively new ThunderX2 nodes (olarm-201.cern.ch, olarm-202.cern.ch) support ARMv8.1 Large System Extension atomics, and gcc 10.1+ enables their use by default.  I'd like

[2022-01-24 14:32] cmsbuild commented on #36788
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-24 14:40] makortel commented on #36788
assign core

[2022-01-24 14:40] cmsbuild commented on #36788
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-24 14:57] smuzaffar commented on #36788
@dan131riley , https://github.com/cms-sw/cmsdist/pull/7582 should test a full  rebuild of cmssw for aarch64 with additional `-mno-outline-atomics` flag

[2022-01-24 15:35] wddgit commented on #36774
A couple comments about the question I brought up Friday.

First, most of the code changes in my "concurrent runs" working area will have no effect on anything if the number of concurrent runs is set to 1. But the ordering I mentioned changes even when the number of concurrent runs is set to 1. That is why I brought it up and was worried about it.

Second, maybe a way to answer this question is to

[2022-01-24 17:46] silviodonato commented on #35376
Trying to reproduce this in more recent releases, I realized that there are no differences in `HLT_PixelGlobalBTagDeepCSV*_v1` using legacy pixel tracking.

In `CMSSW_12_2_0_pre3`
using
[code]
(ie. no `customisePixelTrackReconstruction`)

[code]

Using
[code]
(ie. with `customisePixelTrackReconstruction`)

I got
[code]

Using a more recent release (`CMSSW_12_3_0_pre4` + #36721) and HLT menu (`/use

[2022-01-24 20:45] missirol commented on #36786
Thanks for reporting, Elisa.

I have tried to check a few things, and here's my current understanding.

 - The error is not specific to the fact that an old input file was used in the original report; even if I create a RAW file in `12_3_0_pre4` from scratch, and run the problematic command on that, I get the same error.

 - I ran the same type of test in `12_3_0_pre3` and `12_3_0_pre4`, in both c

[2022-01-24 20:58] makortel commented on #36786
assign geometry,l1

[2022-01-24 20:58] cmsbuild commented on #36786
New categories assigned: geometry,l1

@cvuosalo,@mdhildreth,@epalencia,@ianna,@Dr15Jones,@rekovic,@makortel,@cecilecaillol,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-24 21:34] perrotta commented on #36786
Thank you @missirol for the detailed investigation
This has to be fully understood before we can fully backport in 12_2

[2022-01-24 21:34] perrotta commented on #36786
urgent

[2022-01-24 23:06] wddgit commented on #36774
Following Chris's suggestion in our discussion, I found a way to restore the previous ordering by changing the order of spawning tasks. It took a while to find it, but in the end a 1 line change. Thanks.

[2022-01-24 23:19] cvuosalo commented on #36786
In CMSSW_12_3_0_pre4, I tried the command, but no error occurs.
[code]
How can the error be reproduced?

[2022-01-25 02:08] qliphy commented on #35583
@jpata  Could this be closed now? ( as JP b-tagger differences are now understood, and #36639 is merged to address follow up questions.)

[2022-01-25 05:39] Martin-Grunewald commented on #36786
You would need to run the extracted python file:
```cmsRun hlt_uGT.py```

However, the L1T xml file is not in the release itself:
[code]
Please post complete instructions to reproduce!

[2022-01-25 08:32] jpata commented on #35583
+reconstruction

[2022-01-25 08:32] cmsbuild commented on #35583
This issue is fully signed and ready to be closed.

[2022-01-25 08:53] elfontan commented on #36786
Hi @Martin-Grunewald, sure, here the instructions to use the new menu, sorry:

_cmsrel CMSSW_12_3_0_pre4
cd CMSSW_12_3_0_pre4/src
cmsenv
git cms-init
git-cms-addpkg L1Trigger/L1TGlobal
mkdir -p L1Trigger/L1TGlobal/data/Luminosity/startup
cd  L1Trigger/L1TGlobal/data/Luminosity/startup
wget https://raw.githubusercontent.com/cms-l1-dpg/L1MenuRun3/master/development/L1Menu_Collisions2022_v0_1_2/L1Men

[2022-01-25 08:59] Martin-Grunewald commented on #36786
I assume in the above you mean ```git-cms-addpkg L1Trigger/Configuration```?

[2022-01-25 09:00] elfontan commented on #36786
Yes!

[2022-01-25 09:07] perrotta commented on #35583
@jpata you are the original author of this issue.
Perhaps, beside signing it, you can also close it: or do you have some other goal in mind for it?

[2022-01-25 09:16] perrotta opened #36792 "Build CMSSW_12_2_0_patch1"
It includes the backport of all fixes requested for the T0 reply

[2022-01-25 09:16] cmsbuild commented on #36792
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-25 09:17] perrotta commented on #36792
+1

[2022-01-25 09:18] cmsbuild commented on #36792
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-01-25 09:18] cmsbuild commented on #36792
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-01-25 09:22] cmsbuild commented on #36792
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3355/console
CMSDIST Branch: [REL/CMSSW_12_2_0/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_0/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-25 09:22] cmsbuild commented on #36792
The build has started for slc7_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3356/console
CMSDIST Branch: [REL/CMSSW_12_2_0/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_0/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-25 09:26] cmsbuild commented on #36792
The build has started for slc7_amd64_gcc900 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3357/console
CMSDIST Branch: [REL/CMSSW_12_2_0/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_0/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-25 10:01] civanch commented on #36786
Hi all, I am not an expert  but in the [code](https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/L1Trigger/RPCTrigger/plugins/RPCConeBuilder.cc#L137) there is the check if the geometry has a complete ring. In the case of demo chambers, which are added the ring is not filed, only 2 sectors are added.

May be these lines of code should be commented out?

[2022-01-25 10:02] cmsbuild commented on #36792
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3358/console
CMSDIST Branch: [REL/CMSSW_12_2_0/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_0/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-25 10:14] cmsbuild commented on #36792
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-slc7_amd64_gcc10/3356
Some tes

[2022-01-25 10:26] cmsbuild commented on #36792
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-cc8_amd64_gcc9/3355
Some tests (

[2022-01-25 10:38] perrotta commented on #36706
@shedprog @civanch : given the merging of #36772 in master, can this issue get closed now?

[2022-01-25 10:49] perrotta commented on #36786
Thank you @civanch , I think it makes sense.
Would it be possible to disable that check only for the demo chambers, instead?

[2022-01-25 10:54] cmsbuild commented on #36792
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-slc7_ppc64le_gcc9/3358
Some t

[2022-01-25 11:01] cmsbuild commented on #36792
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-slc7_amd64_gcc10/3356

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-25 11:06] #36706 closed

[2022-01-25 11:12] cmsbuild commented on #36792
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-cc8_amd64_gcc9/3355

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-25 11:17] cmsbuild commented on #36792
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-slc7_amd64_gcc900/3357

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-25 12:04] cmsbuild commented on #36792
The build has started for slc7_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3359/console
CMSDIST Branch: [REL/CMSSW_12_2_0/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_0/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-25 12:28] cmsbuild commented on #36792
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-slc7_ppc64le_gcc9/3358

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-25 12:57] cmsbuild commented on #36792
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-slc7_aarch64_gcc9/3359
Some t

[2022-01-25 13:03] perrotta commented on #36792
upload all

[2022-01-25 13:03] cmsbuild commented on #36792
Queing Jenkins upload for slc7_amd64_gcc900

[2022-01-25 13:03] cmsbuild commented on #36792
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-01-25 13:04] cmsbuild commented on #36792
Queing Jenkins upload for cc8_amd64_gcc9

[2022-01-25 13:04] cmsbuild commented on #36792
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-01-25 13:04] cmsbuild commented on #36792
Queing Jenkins upload for slc7_amd64_gcc10

[2022-01-25 13:04] cmsbuild commented on #36792
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2212/console

[2022-01-25 13:04] cmsbuild commented on #36792
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2213/console

[2022-01-25 13:04] cmsbuild commented on #36792
The upload has started for slc7_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2214/console

[2022-01-25 13:04] cmsbuild commented on #36792
The upload has started for slc7_amd64_gcc900 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2215/console

[2022-01-25 13:05] cmsbuild commented on #36792
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_patch1-slc7_aarch64_gcc9/2213

[2022-01-25 13:05] cmsbuild commented on #36792
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_patch1-slc7_amd64_gcc10/2214

[2022-01-25 13:05] cmsbuild commented on #36792
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2216/console

[2022-01-25 13:06] cmsbuild commented on #36792
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_patch1-slc7_amd64_gcc900/2215

[2022-01-25 13:06] cmsbuild commented on #36792
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_patch1-slc7_ppc64le_gcc9/2216

[2022-01-25 13:14] perrotta commented on #36792
release-notes

[2022-01-25 13:14] cmsbuild commented on #36792
Generating release notes since CMSSW_12_2_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-25 13:14] cmsbuild commented on #36792
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_2_0_patch1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_2_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_0_p

[2022-01-25 13:18] cmsbuild commented on #36792
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_0_patch1

[2022-01-25 13:34] civanch commented on #36786
@elfontan , @missirol, can you, please comment out these lines with the check and exception (it is end of the file and repeat your test. We cannot exclude that the crash will be in some another place.

[2022-01-25 13:55] cmsbuild commented on #36792
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_patch1-slc7_aarch64_gcc9/3359

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-01-25 14:01] elfontan commented on #36786
Hi @civanch,
thank you for your comment!
I confirm that commenting [these lines](https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/L1Trigger/RPCTrigger/plugins/RPCConeBuilder.cc#L135-L139), the code runs correctly.

[2022-01-25 14:09] bsunanda commented on #36786
It will be nice if Elisa makes the PR
________________________________
From: Vladimir Ivantchenko ***@***.***
Sent: 25 January 2022 15:04
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Exception when calling the method EventSetup module RPCConeBuilder (Issue #36786)

Great! Who will make PR with the fix?

—
Reply to this email directly, view it on GitHub<https://github.

[2022-01-25 14:53] elfontan commented on #36786
I can prepare the PR, sure.
But for my understanding: does it mean that this check is not useful anymore? Is there a specific reason for this?
Thank you,
--Elisa

[2022-01-25 14:59] civanch commented on #36786
In this a bit stress situation I would not remove these lines but comment them out and add a comment in the code with reference to this issue. Code authors may improve the check later if needed.

[2022-01-25 15:09] makortel commented on #25090
@gartung Could you close this issue? Thanks!

[2022-01-25 15:59] makortel commented on #36640
Done in https://github.com/cms-sw/cmssw/pull/36798

[2022-01-25 16:50] Dr15Jones commented on #36522
In order to help diagnose the underlying problem, the actual message should have been
[code]

[2022-01-25 17:09] Dr15Jones commented on #36522
Intersting enough, the `\0` Dan points out is exactly where `\0` would be if one were to write `PostGlobalEndRun` and then stick the `\0` at the end.

The item holding the information in question is a `std::string_view` which doesn't have to use `\0` as its end condition.

[2022-01-25 17:15] Dr15Jones commented on #36522
The incorrect messages seems to contain `MessageDrop::runEvent` from the `preStreamEndRun` transition

https://github.com/cms-sw/cmssw/blob/ec200b2e6d0213cdf868308a7a836be8912c4cbc/FWCore/MessageService/plugins/MessageLogger.cc#L786-L790

[2022-01-25 17:36] Dr15Jones commented on #36522
I was also able to reproduce the problem. The full log file is
[code]

[2022-01-25 17:43] Dr15Jones commented on #36522
I think I now understand the origin of the problem. The MessageLogger does not listen to the ES module nor the OutputModule write signals. Therefore the context it uses for such messages is just whatever context was used for the last known transition to be run on that thread.

[2022-01-25 17:58] mileva commented on #36786
Hi All. I would agree with @civanch . Meanwhile we can try to improve the check. Personally, I don't know where this producer is used and need some time to test.  @kbunkow, do you know is this producer is still needed?  Roumyana

[2022-01-25 18:49] makortel commented on #36522
Thanks @Dr15Jones. Should we make MessageLogger to listen ES module and OutputModule write signals then?

Do these observations also imply we're using `std::string_view` in some place within MessageLogger where we shouldn't?

[2022-01-25 18:56] mdmorris opened #36800 "CloseByPGun Samples Failure"
The CloseByPGun samples are failing in CMSSW_12_3_0_pre2 (2026D76).  I am opening this issue to find the cause of the error., which is linked below. All other HGCAL requested samples completed without failing.

Error: https://cms-unified.web.cern.ch/cms-unified/joblogs/pdmvserv_RVCMSSW_12_3_0_pre2CloseByPGun_CE_H_Coarse_300um__2026D77noPU_220117_164641_2516/139/GenSimFull/68f22295-aa09-40d3-9e92-5

[2022-01-25 18:56] cmsbuild commented on #36800
A new Issue was created by  @mdmorris .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-25 18:59] Dr15Jones commented on #36522
I'm working on that

Not so far.

[2022-01-25 19:01] makortel commented on #36800
assign generators

[2022-01-25 19:01] cmsbuild commented on #36800
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-25 19:02] Dr15Jones commented on #36800
There doesn't appear to be much useful in the traceback
[code]

[2022-01-25 19:04] makortel commented on #36800
Stack trace is
[code]

[2022-01-25 19:29] makortel commented on #36800
I was able to reproduce locally, compiling with `-g` gave line number
[code]
which points to
https://github.com/cms-sw/cmssw/blob/ec200b2e6d0213cdf868308a7a836be8912c4cbc/IOMC/ParticleGuns/src/CloseByParticleGunProducer.cc#L84-L86
where `PData` is `nullptr`.

[2022-01-25 19:40] makortel commented on #36800
The `fPartIDs` comes from configuration, and it is
[code]

Adding a printout shows that the failing case has `PartID = 0`. I'm wondering if the code should have something along
[code]

I see this part was changed recently in #36460. @lecriste @rovere

[2022-01-25 19:42] makortel commented on #36800
Is this particle gun generator tested in any runTheMatrix workflow or other test in IBs? @cms-sw/pdmv-l2

(if not, would it make sense to make a policy, if there isn't yet, that generators run in RelVals would have to be tested in IBs?)

[2022-01-25 19:48] rovere commented on #36800
Ciao @makortel @Dr15Jones thanks for having looked into that. We will review and submit a fix asap.
@makortel there is no such a workflow tested at PR integration. At the same it would be nice to have the freedom and possibly to selectively test specific workflows depending on the content of the proposed changes.
My recent experience on this front has not been stellar and that could be due to my i

[2022-01-25 19:53] Dr15Jones commented on #36800
It is also possible to write tests for a specific module using the TestProcessor framework

https://github.com/cms-sw/cmssw/tree/master/FWCore/TestProcessor

[2022-01-25 20:37] makortel commented on #33224
Fixed in https://github.com/cms-sw/cmssw/pull/36801

[2022-01-25 22:09] rovere commented on #36800
@Dr15Jones thanks for the useful pointer. I was not aware of this functionality.
On a side note, #36554 has embedded the fix for the problem but is pending for 1+ weeks now, with exactly the same request I made here: how to trigger a generic `runTheMatrix` workflow from any of its collection.

[2022-01-25 23:46] cvuosalo commented on #36786
I tested by changing line 135 of of `RPCConeBuilder.cc` from
[code]
to
[code]
This change prevents the exception, but then the program encounters a segmentation violation soon after this section of the code. I think 3014 and 4014 lack counter-rings.

[2022-01-26 02:27] makortel opened #36804 "Segfault in HitPairEDProducer"
Workflow 1030.0 crashed in CMSSW_12_3_X_2022-01-25-1700
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-01-25-1700/pyRelValMatrixLogs/run/1030.0_RunHLTPhy2017B+RunHLTPhy2017B+TIER0EXPHPBS+ALCASPLITHPBS+ALCAHARVDHPBS+ALCAHARVDHPBSLOWPU/step2_RunHLTPhy2017B+RunHLTPhy2017B+TIER0EXPHPBS+ALCASPLITHPBS+ALCAHARVDHPBS+ALCAHARVDHPBSLOWPU.log#/

[2022-01-26 02:27] makortel commented on #36804
assign reconstruction

[2022-01-26 02:27] cmsbuild commented on #36804
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-26 02:27] cmsbuild commented on #36804
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-26 02:27] makortel commented on #36804
Possible culprit could be https://github.com/cms-sw/cmssw/pull/36184

[2022-01-26 02:29] makortel commented on #36804
Crash was also seen in https://github.com/cms-sw/cmssw/pull/36801#issuecomment-1021719686 workflow 1040.0 step 2
[code]
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-87be02/21993/runTheMatrixINPUT-results/1040.0_RunZeroBias2017F+RunZeroBias2017F+TIER0RAWSIPIXELCAL+ALCASPLITSIPIXELCAL+ALCAHARVDSIPIXELCAL/step2_RunZeroBias2017F+RunZeroBias2017F+TIER0RAWSIPIXELCAL+ALCASPLIT

[2022-01-26 03:29] slava77 commented on #36804
@AdrianoDee
please check

[2022-01-26 08:18] perrotta commented on #36786
I'm puzzled. If we comment the check as a whole, the keys 3014 and 4014 pass as well, but they apparently do not originate a segmentation violation afterwards, see https://github.com/cms-sw/cmssw/issues/36786#issuecomment-1021211111

Can anybody explain? Carl, are you getting the same segmentation violation if you simply comment out the whole check?

[2022-01-26 08:43] kbunkow commented on #36786
Hi all,

The RPCConeBuilder.cc is a part of the L1Trigger/RPCTrigger, which is the emulator of the Run 1 RPC PAC Trigger, which is not used in the L1 Trigger decision since 2016.
Maybe I am wrong, but I cannot see a reason to run this emulator for the Run 2 and Run 3 data. It would be needed for re-emulation of the Run 1 data, but - if such re-emulation is needed at all - is it done with the lates

[2022-01-26 08:50] missirol commented on #36786
Maybe. As noted in https://github.com/cms-sw/cmssw/issues/36786#issuecomment-1020531349 [*], if I use the command in the original bug report, and work around the RPC problem with either an older GT or commenting out the exception, I do see a segmentation fault, but coming from a different L1T producer [**]. At first glance, this looks unrelated to the RPC issue at hand, but that's not to say it sh

[2022-01-26 09:58] #36522 closed

[2022-01-26 10:38] elfontan commented on #36786
Hi @missirol , all,
thank you for all comments!
I confirm that @cvuosalo's suggestion works and that the segmentation fault after the fix is NOT related to the RPCBuilder anymore.
It is related to another issue discussed in parallel, where the work-around mentioned by Marino (to use _--output none_ instead of --output minimal in the hltGetConfiguration command) works [1].

I would suggest then to

[2022-01-26 11:42] #35583 closed

[2022-01-26 11:43] jpata commented on #35583
I keep forgetting the procedure to close, thanks for the reminder

[2022-01-26 12:05] malbouis opened #36806 "Obsolete tags `PCaloGeometry_Castor_v1_hlt` and `L1CaloGeometry_CRAFT09_hlt` still consumed by code"
AlCaDB has started the migration of the DD4hep Geometry for the data Global Tags. While doing so, we noticed a couple of very old DDD tags that are included in the online GTs and apparently still consumed.

The obsolete tags are below:

`PCaloGeometry_Castor_v1_hlt`, from the Castor detector that has been decommissioned.
`L1CaloGeometry_CRAFT09_hlt`, that has not been updated since 2008.

We tried

[2022-01-26 12:06] cmsbuild commented on #36806
A new Issue was created by  @malbouis .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-26 12:17] srimanob commented on #36806
@cms-sw/l1-l2 Could you please comment on l1extraparticles that consume old tag? I am not sure what still need or why it is still OK to pick the old geometry record. Thanks.

[2022-01-26 13:08] tvami commented on #36806
assign l1 reco

[2022-01-26 13:09] tvami commented on #36806
FYI @cms-sw/hcal-dpg-l2

[2022-01-26 13:09] cmsbuild commented on #36806
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-26 13:10] tvami commented on #36806
assign reconstruction

[2022-01-26 13:10] cmsbuild commented on #36806
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-26 13:10] tvami commented on #36806
for the Castor part

[2022-01-26 13:48] makortel commented on #33224
+1

[2022-01-26 13:48] #33224 closed

[2022-01-26 13:48] cmsbuild commented on #33224
This issue is fully signed and ready to be closed.

[2022-01-26 13:54] francescobrivio commented on #36806
assign geometry

since this is mainly a geometry topic

[2022-01-26 13:54] cmsbuild commented on #36806
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-26 13:56] makortel commented on #36806
`EcalDQMonitorTask` is DQM, no?

[2022-01-26 13:58] tvami commented on #36806
unassign reconstruction

[2022-01-26 13:59] tvami commented on #36806
yes, you are right! I'm also a bit confused, I thought Castor stuff is connected to HCAL and not ECAL

[2022-01-26 13:59] tvami commented on #36806
assign dqm

[2022-01-26 13:59] cmsbuild commented on #36806
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-26 13:59] tvami commented on #36806
and then I guess FYI @cms-sw/ecal-dpg-l2 :)

[2022-01-26 14:13] makortel commented on #36806
(sorry for adding noise before) The problem with Castor stems from the configuration of `CaloGeometryBuilder` (so for @cms-sw/geometry-l2), that in 138.4 step2 is
[code]
which then leads to anything consuming the `CaloGeometry` leading to consumption of Castor geometry.

[2022-01-26 14:16] dan131riley opened #36808 "segfaults in CAHitQuadrupletEDProducer"
Two crashes in CAHitQuadrupletEDProducer, wf 1030.0 and 140.56:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc10/CMSSW_12_3_X_2022-01-25-2300/pyRelValMatrixLogs/run/1030.0_RunHLTPhy2017B+RunHLTPhy2017B+TIER0EXPHPBS+ALCASPLITHPBS+ALCAHARVDHPBS+ALCAHARVDHPBSLOWPU/step2_RunHLTPhy2017B+RunHLTPhy2017B+TIER0EXPHPBS+ALCASPLITHPBS+ALCAHARVDHPBS+ALCAHARVDHPBSLOWPU.log

https://cmssdt.cern

[2022-01-26 14:17] cmsbuild commented on #36808
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-26 14:21] makortel commented on #36808
assign reconstruction

[2022-01-26 14:21] cmsbuild commented on #36808
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-26 14:21] makortel commented on #36808
I'd guess the problem is the same as in #36804.

[2022-01-26 14:22] makortel commented on #36804
Also CAHitQuadrupletEDProducer is showing crashes (#36808).

[2022-01-26 14:44] AdrianoDee commented on #36804
I'm not being to reproduce this (both for `1030.0` and `1040.0`) for neither `CMSSW_12_3_X_2022-01-25-1700`, nor `CMSSW_12_3_X_2022-01-25-2300` and neither `CMSSW_12_3_X_2022-01-26-1100`. All on `slc7_amd64_gcc10` and on different machines:

- `Intel(R) Xeon(R) Silver 4110` at Bari T2;
- `Intel(R) Xeon(R) Gold 6130` on GPU machines@P5;
- `Intel Core Processor (Broadwell, IBRS)` on lxplus

with fou

[2022-01-26 14:54] makortel commented on #36804
Could valgrind reveal anything? (https://github.com/cms-sw/cmssw/pull/36801#issuecomment-1021719686 showed a crash on first event in 1040.0 step 2 on one thread)

[2022-01-26 15:00] Dr15Jones commented on #36804
In the traceback, the problem comes from this call

https://github.com/cms-sw/cmssw/blob/ec53ab6ec5180bac7e23423b5ca360e490a0da54/RecoTracker/TkHitPairs/plugins/HitPairEDProducer.cc#L123

and is somewhere in this function

https://github.com/cms-sw/cmssw/blob/ec53ab6ec5180bac7e23423b5ca360e490a0da54/RecoTracker/TkHitPairs/plugins/HitPairEDProducer.cc#L172-L176

[2022-01-26 15:09] makortel commented on #36804
The call chain from the `filler.emplace_back()` is to
https://github.com/cms-sw/cmssw/blob/ec53ab6ec5180bac7e23423b5ca360e490a0da54/RecoTracker/TkHitPairs/interface/RegionsSeedingHitSets.h#L36-L39
https://github.com/cms-sw/cmssw/blob/a8490c8821dfb7f240c25f89fd931b1a93252abd/RecoTracker/TkSeedingLayers/interface/SeedingHitSet.h#L20
https://github.com/cms-sw/cmssw/blob/a8490c8821dfb7f240c25f89fd931b

[2022-01-26 15:11] AdrianoDee commented on #36804
Should move it to `theRecHits[theSize++]`

[2022-01-26 15:16] makortel commented on #36804
How about filtering out the argument pointers after first `nullptr` in the constructors and relying on `vector::size()` for the size?

[2022-01-26 15:18] AdrianoDee commented on #36804
Indeed, this method was there while the container had fixed size. Now doesn't make too much sense to stick to it.

[2022-01-26 15:48] AdrianoDee opened #36809 "Moving caConstants & pixelTopology to traits"
More than an issue this is to ask for advice. Being in the process of cleaning https://github.com/cms-sw/cmssw/pull/36235, adding the pixel track reco and being inspired by Andrea's comment, [here](https://github.com/cms-sw/cmssw/pull/36235#issuecomment-979778327) I was thinking about restructuring `caConstants` and `pixelTopology` to be traits/structs and then template data structures and classes

[2022-01-26 15:50] AdrianoDee commented on #36809
assign heterogeneous,reconstruction

[2022-01-26 15:51] cmsbuild commented on #36809
A new Issue was created by  @AdrianoDee .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-26 16:06] perrotta opened #36810 "Build CMSSW_9_4_21_patch1"
Meant to integrate the "Fix for FastSim decays of exotic-descendent SM particles decaying outside pipe"

[2022-01-26 16:06] cmsbuild commented on #36810
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-26 16:08] cmsbuild commented on #36810
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_21_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2022-01-26 16:08] cmsbuild commented on #36810
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2022-01-26 16:09] cmsbuild commented on #36810
The build has started for slc6_amd64_gcc630 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3360/console
CMSDIST Branch: [REL/CMSSW_9_4_21/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_21/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-26 16:09] cmsbuild commented on #36810
The build has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3361/console
CMSDIST Branch: [REL/CMSSW_9_4_21/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_21/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-26 16:16] perrotta opened #36811 "Build CMSSW_10_2_28"
Meant to integrate the "Fix for FastSim decays of exotic-descendent SM particles decaying outside pipe", but it includes several analysis related updates integrated since July 2021

[2022-01-26 16:17] cmsbuild commented on #36811
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-01-26 16:17] perrotta commented on #36811
+1

[2022-01-26 16:18] cmsbuild commented on #36811
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_28. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2022-01-26 16:18] cmsbuild commented on #36811
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2022-01-26 16:19] cmsbuild commented on #36811
The build has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3363/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-26 16:19] cmsbuild commented on #36811
The build has started for slc6_amd64_gcc700 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3362/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-01-26 16:37] cmsbuild commented on #36810
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_21_patch1-slc7_amd64_gcc630/3361
Some t

[2022-01-26 16:38] cmsbuild commented on #36810
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_21_patch1-slc6_amd64_gcc630/3360
Some t

[2022-01-26 16:51] perrotta commented on #36810
upload all

[2022-01-26 16:51] cmsbuild commented on #36810
Queing Jenkins upload for slc6_amd64_gcc630

[2022-01-26 16:51] cmsbuild commented on #36810
Queing Jenkins upload for slc7_amd64_gcc630

[2022-01-26 16:51] cmsbuild commented on #36810
The upload has started for slc6_amd64_gcc630 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2217/console

[2022-01-26 16:51] cmsbuild commented on #36810
The upload has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2218/console

[2022-01-26 16:52] cmsbuild commented on #36810
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_21_patch1-slc6_amd64_gcc630/2217

[2022-01-26 16:52] cmsbuild commented on #36810
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_21_patch1-slc7_amd64_gcc630/2218

[2022-01-26 16:54] perrotta commented on #36810
release-notes

[2022-01-26 16:54] cmsbuild commented on #36810
Generating release notes since CMSSW_9_4_21.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-26 16:54] cmsbuild commented on #36810
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_21_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_21 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_21_patch1

Meant to integrate the "Fix for FastSim dec

[2022-01-26 16:56] cmsbuild commented on #36810
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_21_patch1

[2022-01-26 17:21] cmsbuild commented on #36810
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_21_patch1-slc7_amd64_gcc630/3361

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2022-01-26 17:23] cmsbuild commented on #36810
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_21_patch1-slc6_amd64_gcc630/3360

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2022-01-26 17:28] abhih1 commented on #36806
sure.

[2022-01-26 17:41] thomreis commented on #36806
@abhih1 according to the comment of @makortel this seems to be a geometry issue and not directly cause by ECAL DQM.

[2022-01-26 17:42] tvami commented on #36806
yes, indeed, let me remove dqm from the issue, thanks @thomreis

[2022-01-26 17:42] tvami commented on #36806
unassign dqm

[2022-01-26 19:34] cmsbuild commented on #36811
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_28-slc7_amd64_gcc700/3363
Some tests (

[2022-01-26 20:07] cmsbuild commented on #36811
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_28-slc6_amd64_gcc700/3362
Some tests (

[2022-01-26 20:13] cmsbuild commented on #36811
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_28-slc7_amd64_gcc700/3363

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-01-26 20:42] missirol commented on #36808
The HLT-Validation tests in IB `CMSSW_12_3_X_2022-01-25-2300` failed, from what looks like a crash from `CAHitQuadrupletEDProducer` [[1]](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_3_X_2022-01-25-2300/slc7_amd64_gcc10/HLT_Integration_HIon_MC_HLT_HIEle15Gsf_v1.log).

I'm guessing that failure is related to the issue discussed here (cc: @Martin-Grunewald).

[code]

[2022-01-26 20:44] cmsbuild commented on #36811
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_28-slc6_amd64_gcc700/3362

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-01-26 20:45] perrotta commented on #36811
upload all

[2022-01-26 20:46] cmsbuild commented on #36811
Queing Jenkins upload for slc6_amd64_gcc700

[2022-01-26 20:46] cmsbuild commented on #36811
Queing Jenkins upload for slc7_amd64_gcc700

[2022-01-26 20:47] cmsbuild commented on #36811
The upload has started for slc6_amd64_gcc700 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2219/console

[2022-01-26 20:47] cmsbuild commented on #36811
The upload has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2220/console

[2022-01-26 20:48] cmsbuild commented on #36811
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_28-slc6_amd64_gcc700/2219

[2022-01-26 20:48] cmsbuild commented on #36811
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_28-slc7_amd64_gcc700/2220

[2022-01-26 20:53] perrotta commented on #36811
release-notes

[2022-01-26 20:53] cmsbuild commented on #36811
Generating release notes since CMSSW_10_2_27.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-01-26 20:53] cmsbuild commented on #36811
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_28 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_27 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_28

Meant to integrate the "Fix for FastSim decays of exotic-des

[2022-01-26 20:56] cmsbuild commented on #36811
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_28

[2022-01-26 21:26] iarspider commented on #36788
Just for history: the exception is caused by trying to match track with `pT = NaN`. All the tracks in a given (bad) event have `pT=NaN`. This is probably related to the following message:
[code]
[code](https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/CommonTools/Statistics/src/GammaContinuedFraction.cc#L35-L36), which is a bit misleading: the value of `a` is fine (2.0)

[2022-01-26 21:31] makortel commented on #36808
Looks the same, thanks. (and I'm pretty sure the culprit is the one diagnosed in #36804).

[2022-01-26 21:47] makortel commented on #36788
Adding @cms-sw/reconstruction-l2 and @cms-sw/egamma-pog-l2 for their information

[2022-01-26 22:52] cvuosalo commented on #36806
PR #36814 should remove the need for the `CastorGeometryRecord`.

[2022-01-26 22:52] cvuosalo commented on #36806
+1

[2022-01-27 07:55] #36339 closed

[2022-01-27 07:56] #31021 closed

[2022-01-27 12:17] SiewYan commented on #36800
@rovere sorry about that, could you use TestProcessor framework to trigger the specific test for your PR? I will sign it off if the PR specific test is a success.

[2022-01-27 12:23] cmsbuild commented on #36792
The cleanup has started for slc7_aarch64_gcc9

[2022-01-27 12:23] cmsbuild commented on #36792
The cleanup has started for slc7_amd64_gcc900

[2022-01-27 12:23] cmsbuild commented on #36792
The cleanup has started for slc7_ppc64le_gcc9

[2022-01-27 12:23] cmsbuild commented on #36792
The cleanup has started for cc8_amd64_gcc9

[2022-01-27 12:23] cmsbuild commented on #36792
The cleanup has started for slc7_amd64_gcc10

[2022-01-27 12:23] #36792 closed

[2022-01-27 12:23] cmsbuild commented on #36792
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_patch1-cc8_amd64_gcc9/1928

[2022-01-27 12:23] cmsbuild commented on #36792
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_patch1-slc7_aarch64_gcc9/1929

[2022-01-27 12:23] cmsbuild commented on #36792
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_patch1-slc7_ppc64le_gcc9/1932

[2022-01-27 12:23] cmsbuild commented on #36792
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_patch1-slc7_amd64_gcc10/1930

[2022-01-27 12:24] cmsbuild commented on #36792
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_patch1-slc7_amd64_gcc900/1931

[2022-01-27 13:29] dan131riley commented on #36804
The latest ASAN builds have a large number of heap-buffer-overflow errors that I suspect are related (I don't see any other obvious candidates).  It seems to be highly reproducible in the ASAN build (803 failures):

[code]

[2022-01-27 14:13] tvami commented on #36404
+db
 * I think the DB side was resolved in https://github.com/cms-sw/cmssw/pull/36413

[2022-01-27 14:20] smuzaffar commented on #36788
this is the stacktrace when [theChiSquared](https://github.com/cms-sw/cmssw/blob/master/RecoVertex/KinematicFitPrimitives/src/KinematicVertex.cc#L12 ) was set to nan

[code]

[2022-01-27 14:42] AdrianoDee commented on #36804
@dan131riley, thanks. Indeed it was reproducible with the ASAN build (e.g. `CMSSW_12_3_ASAN_X_2022-01-26-2300`). https://github.com/cms-sw/cmssw/pull/36819 should fix this.

[2022-01-27 14:49] makortel opened #36820 "Segfault when shutting down after exception in read"
Experienced in https://github.com/cms-sw/cmssw/pull/36335#issuecomment-1022507325
[code]
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-8761bd/22027/runTheMatrix-results/136.88811_RunJetHT2018D_reminiaodUL+RunJetHT2018D_reminiaodUL+REMINIAOD_data2018UL+HARVEST2018_REMINIAOD_data2018UL/step2_RunJetHT2018D_reminiaodUL+RunJetHT2018D_reminiaodUL+REMINIAOD_data2018UL+HARVEST20

[2022-01-27 14:49] makortel commented on #36820
assign core

[2022-01-27 14:49] cmsbuild commented on #36820
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-27 14:49] cmsbuild commented on #36820
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-27 14:56] makortel commented on #36820
@pcanal Would you have any insights? (on low priority)

[2022-01-27 15:07] gartung opened #36821 "Compiling DataFormats/L1Trigger with Apple clang 13 produces error: reference to 'complex' is ambiguous"
This line is identified in HLS package header ap_fixed_special.h
https://github.com/Xilinx/HLS_arbitrary_Precision_Types/blob/200a9aecaadf471592558540dc5a88256cbf880f/include/ap_fixed_special.h#L30
and this line in HLS package header ap_int_special.h
https://github.com/Xilinx/HLS_arbitrary_Precision_Types/blob/200a9aecaadf471592558540dc5a88256cbf880f/include/ap_int_special.h#L30

Error message
[co

[2022-01-27 15:08] cmsbuild commented on #36821
A new Issue was created by  @gartung Patrick Gartung.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-27 15:23] pcanal commented on #36820
Extracting from the log file:
[code]

[2022-01-27 15:24] pcanal commented on #36820
If it is reproducible, a valgrind output would be helpful in tracking this down.

[2022-01-27 15:37] makortel commented on #36821
assign l1

[2022-01-27 15:37] cmsbuild commented on #36821
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-27 15:52] makortel commented on #36821
https://github.com/Xilinx/HLS_arbitrary_Precision_Types/blob/200a9aecaadf471592558540dc5a88256cbf880f/include/ap_fixed_special.h#L28-L33 has
[code]
The C++ standard says that adding declarations to namespace `std` leads to undefined behavior (whose implications we observe now). If the `AP_AUTOCC` (whatever that is) can't handle `<complex>`, would it be possible to add an `#ifdef` there to use the

[2022-01-27 16:55] cvuosalo commented on #36786
+1

[2022-01-27 17:36] missirol commented on #36786
+hlt

https://github.com/cms-sw/cmssw/pull/36803 fixed the problem at hand, but based on comments in this issue

 - the `RPCConeBuilder` ESProducer belongs to the pre-2016 L1T, so (I dare say) it should not be loaded in the configuration when one tries to run the L1T re-emulation for Run 3;

 - the segmentation violation coming from `L1TExtCondProducer` requires a separate follow-up (I think Elisa

[2022-01-27 17:38] missirol commented on #36786
Just for completeness, regarding the crash from `L1TExtCondProducer` (see https://github.com/cms-sw/cmssw/issues/36786#issuecomment-1021987199):

 - workaround: it was noted elsewhere that, for the particular use case at the top of this issue, adding the following line to the output of `hltGetConfiguration` allows to avoid the seg-fault
[code]
   (so it looks like the execution of the problematic

[2022-01-27 21:03] makortel commented on #36820
It didn't seem to be fully reproducible (some jobs shut down properly after the exception). I could try if I'd get it fail with valgrind.

[2022-01-28 07:50] perrotta commented on #36771
This issue has been fixed by https://github.com/cms-sw/cmsdist/pull/7580, and it can be closed (please @qliphy or @cms-sw/pdmv-l2 reopen if you think there is still anything missing)

[2022-01-28 07:50] #36771 closed

[2022-01-28 09:43] fwyzard commented on #36809
As long as they can be used at compile time, I agree that encapsulating constants and simple methods in one or more "traits" `struct`s can be more flexible than `namespace`s: traits can be passed as template parameters (and can have a default), while `namespace`s cannot.

[2022-01-28 10:26] missirol commented on #36808
Just for the record, the HLT-Validation tests also failed for [IB `CMSSW_12_3_X_2022-01-27-1100`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_3_X_2022-01-27-1100/slc7_amd64_gcc10/HLT_Integration_HIon_MC_HLT_HIEle15Gsf_v1.log), again from a crash in `CAHitQuadrupletEDProducer`.

Interestingly, the same tests did not fail in IB `CMSSW_12_3_X_2022-01-27-2300`. Maybe this is r

[2022-01-28 14:35] makortel commented on #36808
The occasional crash is caused by undefined behavior, so it is expected that only some jobs crash (since literally anything can happen). In IB runTheMatrix tests the rate of crashes is roughly 3/3.5k i.e. about 1 per mille (assuming all the workflows run tracking at some point).

[2022-01-28 14:43] srimanob opened #36826 "Crashing on GE2/1 demonstrator in RelVals Validation"
Looking on Run-3 relvals with CMSSW_12_3_0_pre4 from
- https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaign=CMSSW_12_3_0_pre4__fullsim_noPU_2021_14TeV-1643005908
- https://dmytro.web.cern.ch/dmytro/cmsprodmon/requests.php?campaign=CMSSW_12_3_0_pre4__fullsim_noPU_2021_14TeV_HLT-1643005952

Workflows are facing an issue in the 3rd step, RECO+Validation.

It seems we have low statistic

[2022-01-28 14:43] cmsbuild commented on #36826
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-28 14:45] missirol commented on #36808
I see. Thanks for the clarification.

[2022-01-28 14:47] srimanob commented on #36826
assign pdmv

[2022-01-28 14:47] cmsbuild commented on #36826
New categories assigned: pdmv

@bbilin,@wajidalikhan,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-28 14:52] srimanob commented on #36826
Checking on 12_3_0_pre2, I don't see the issue.
- https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaign=CMSSW_12_3_0_pre2__fullsim_PU_2021_14TeV-1640179268
- https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaign=CMSSW_12_3_0_pre2__fullsim_PU_2021_14TeV_HLT-1640182493

FYI @ptcox (just my quick check on Error that shows up CSCDigiValidation:cscDigiValidation (crashed))

[2022-01-28 14:58] makortel commented on #36826
Here is a stack trace from one of the crashing jobs
[code]

[2022-01-28 15:00] ptcox commented on #36826
Hi Phat,

I was not aware of this crash. CSC don't actually make use of any of
those old DigiValidation workflows, but last year Sven Dildick put a lot
of effort into updating them with the object of making more use of them
for the new GEM/CSC integration of trigger primitives. Unfortunately he
has left CMS. I presume a crash is likely to be due to GEM-related code.

Regards,

Tim

Phat Srimanobha

[2022-01-28 15:01] makortel commented on #36826
assign dqm

[2022-01-28 15:01] cmsbuild commented on #36826
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-28 15:11] srimanob commented on #36826
Looking on the log,
https://cms-unified.web.cern.ch/cms-unified/joblogs/pdmvserv_RVCMSSW_12_3_0_pre4MinBias_14TeV_220124_073611_5750/139/RecoNano_2021/063de606-18e1-4e91-afa5-52902a73bd96-6-3-logArchive/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log

here is the source of crash:
%MSG-e GEMPadDigiValidation:  GEMPadDigiValidation:gemPadValidation  28-Jan-2022 06:08:11 CET Run: 1 Event: 25681
SimHit did

[2022-01-28 15:20] makortel commented on #36826
The crash happens in
https://github.com/cms-sw/cmssw/blob/9c3a5ca55019be56811252c6cb3221a8e4c7b612/Geometry/GEMGeometry/src/GEMEtaPartition.cc#L18
being called from
https://github.com/cms-sw/cmssw/blob/9c3a5ca55019be56811252c6cb3221a8e4c7b612/Validation/MuonHits/src/GEMSimHitMatcher.cc#L63

That function has three calls to `GEMEtaPartition::padTopology()`, all with similar pattern as in
https://gi

[2022-01-28 15:27] makortel commented on #36522
+1

[2022-01-28 15:28] cmsbuild commented on #36522
This issue is fully signed and ready to be closed.

[2022-01-28 16:08] cmsbuild commented on #36810
The cleanup has started for slc6_amd64_gcc630

[2022-01-28 16:08] cmsbuild commented on #36810
The cleanup has started for slc7_amd64_gcc630

[2022-01-28 16:08] #36810 closed

[2022-01-28 16:08] cmsbuild commented on #36810
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_21_patch1-slc6_amd64_gcc630/1933

[2022-01-28 16:08] cmsbuild commented on #36810
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_21_patch1-slc7_amd64_gcc630/1934

[2022-01-28 16:31] perrotta commented on #36522
@makortel I imagine that since you signed this issue, it can also get closed: however, I'd let you do it, just in case you wanted to have it still open for other purposes.

[2022-01-28 16:34] makortel commented on #36522
@perrotta It was already closed by the merge of https://github.com/cms-sw/cmssw/pull/36801

[2022-01-28 17:06] perrotta commented on #36522
You are right Matti, of course!
Sorry for the noise, I didn't realize it.

[2022-01-28 17:24] fabiocos opened #36829 "Crash in geometry for scenario D88 due to ETL"
A crash in the upgrade geometry for scenario D88 was reported by @bsunanda at the SIM meeting https://indico.cern.ch/event/1117488/contributions/4692797/attachments/2380827/4067997/Sim-Talk140.pdf

The crash is easily reproducible in the MTD geometry standalone test https://github.com/cms-sw/cmssw/blob/master/Geometry/MTDCommonData/test/testMTDinDD4hep.py provided the corresponding scenario is use

[2022-01-28 17:24] cmsbuild commented on #36829
A new Issue was created by  @fabiocos Fabio Cossutti.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-28 17:25] fabiocos commented on #36829
assign geometry

[2022-01-28 17:26] cmsbuild commented on #36829
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-28 17:40] fabiocos commented on #36829
The residual issue seems to be due an ordering problem in the declaration of volumes. DD4hep seems not to accept that a volume to be subtracted is declared after its use in subtraction, while DDD seems insensitive to this ordering problem.

[2022-01-28 17:57] cvuosalo commented on #36829
@fabiocos In general, DD4hep requires that any component must be defined before it is referenced. However, Yana created special code to handle undefined constants, vectors, and solids, so they can be defined out of order. It is safer to define components before referencing them.

[2022-01-28 20:08] cmsbuild commented on #36811
The cleanup has started for slc6_amd64_gcc700

[2022-01-28 20:08] cmsbuild commented on #36811
The cleanup has started for slc7_amd64_gcc700

[2022-01-28 20:08] #36811 closed

[2022-01-28 20:08] cmsbuild commented on #36811
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_28-slc6_amd64_gcc700/1935

[2022-01-28 20:08] cmsbuild commented on #36811
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_28-slc7_amd64_gcc700/1936

[2022-01-29 06:24] srimanob commented on #36829
@fabiocos
To clarify, is this the issue of DD4hep only or both DDD and DD4hep. I do not aware of the crash when we run D88 relvals, but it was DDD.
(sorry, I missed the meeting yesterday)

[2022-01-29 07:12] srimanob commented on #36826
FYI @watson-ij
Not sure if it relates to the GE2/1 demonstrator which was introduced in 12_3_0_pre4, as we don't see the problem before.

[2022-01-29 09:17] civanch commented on #36826
@watson-ij , in the code shown above between line 98 and 99 likely a check is needed that it is not a demo chamber hit. If I understand correctly, demo chambers should not be involved in this type of validation.

[2022-01-29 10:27] rovere opened #36831 "[HGCAL] Review the handling of dEdX configuration for HGCAL"
While reviewing #36728, it became evident that the handling of geometry-specific parameters is, at present, weak and should be improved.

[2022-01-29 10:27] rovere commented on #36831
assign hgcal-dpg

[2022-01-29 10:27] cmsbuild commented on #36831
New categories assigned: hgcal-dpg

@felicepantaleo,@rovere,@pfs,@cseez you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-29 10:27] cmsbuild commented on #36831
A new Issue was created by  @rovere Marco Rovere.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-29 10:28] rovere commented on #36831
@cseez @pfs @felicepantaleo @apsallid

[2022-01-29 11:32] AdrianoDee commented on #36809
Thanks @fwyzard, I'll set up a PR to have something concrete to discuss about.

[2022-01-29 15:32] rovere opened #36832 "[HGCAL] Add CloseByPGun sample to the list of RelVals run at IB level"
Given the recent crash (#36800) related to the `CloseByPGun` event generator, and taking into account its paramount importance in performing the release validation for HGCAL, it would be wise to add a couple of CloseByPGun workflows in the set of RelVals that are run at every IB integration.

[2022-01-29 15:32] rovere commented on #36832
assign upgrade

[2022-01-29 15:32] cmsbuild commented on #36832
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-29 15:32] cmsbuild commented on #36832
A new Issue was created by  @rovere Marco Rovere.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-29 15:46] srimanob commented on #36832
I would need comments from @smuzaffar @perrotta @qliphy on the resource used for the short matrix.

Here is the list of the short matrix,
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/scripts/runTheMatrix.py#L60-L103

I think we will need to find a balance between used resources as the test will be done in all PRs including Run-3 and usefulness for groups. I don't h

[2022-01-29 17:04] bsunanda commented on #36829
It is an issue for dd4hep only and most likely in initializing one object to be transferred to EventSetup. This was reported in the SIM meeting of January 28, 2022: https://indico.cern.ch/event/1117488/contributions/4692797/attachments/2380827/4067997/Sim-Talk140.pdf

[2022-01-30 05:07] watson-ij commented on #36826
@civanch I had a look and I don't think it should be crashing there. The issue looks to be that the db its picking up has the GE2/1 chamber, but not the corresponding superchamber for the demonstrator. In the PR #36835 I put in a quick fix so that it will build the superchamber, and the file will run through, though I'm not sure if we could fix the db instead? The PR has another fix for a later er

[2022-01-30 05:56] srimanob commented on #36826
@watson-ij Thanks for the quick fix. I think what is missing in the DB geometry should be fixed. Do you have a clue why it is missing in the last updated GEM DB geometry?

[2022-01-30 07:08] watson-ij commented on #36826
No, Im not sure exactly how the db geometries are made. Maybe @bsunanda or @cvuosalo could provide some insight on where I should be looking to understand this?

[2022-01-30 09:42] rovere commented on #36832
Ciao @srimanob let's hear from @smuzaffar @perrotta  and @qliphy about resource usage and availability.
At the same time, I currently count 5 Upgrade workflows over a total of ~40 (I'm not including your #36833): bringing it so 6 (with a very fast workflow, as `CloseByPGun` is, without PU), would not represent a huge deal, IMHO.
Having said that, I'd be happy as well if the `CloseByPGun` is tested

[2022-01-30 09:59] civanch commented on #36826
@watson-ij , can you , please, specify name of supervolume involved. This may help @cvuosalo  to understand what is wrong in DB. I myself not sure that some volumes are absent in DB, because in that case there will be no hits in demo chambers.

[2022-01-30 13:43] smuzaffar commented on #36832
@rovere , any idea of the resources (cpu, memory) these workflows need? We do have good machines (16 cores with over 128GB memory) so if there is not a huge resource requirement ( and new workflows run in reasonable time e.g. under an hour/workflow) then I have no objections adding these for IB validations.

[2022-01-30 14:50] watson-ij commented on #36826
Well, its the RecoIdealGeometry thats the issue, so I don't think its a matter of volumes being missing or issues in the sim geometry; the conddb builder is just running through the detIds inside of that, and are picking up the GE1/1 correctly, and the GE2/1 chamber and eta partitions are included, but the superchamber isn't, and the superchambers are used as the signal to include the particular s

[2022-01-30 15:23] rovere commented on #36832
Ciao @smuzaffar I do not have numbers, but this specific workflow should be much less demanding than any other _real_ `PhaseII` workflow, since it's a single particle one, usually shot immediately in front of (or in between) `HGCAL`.

[2022-01-30 16:20] srimanob commented on #36832
Hi @smuzaffar @rovere
OK, I will include the new workflow in my PR, and put the number for the reference. It is single particle, it should take less than ttbar NoPU. Do you have preference @rovere

- 39493.0 2026D88+CloseByParticle_Photon_ERZRanges_GenSimHLBeamSpotHGCALCloseBy+DigiTrigger+RecoGlobal+HARVESTGlobal
- 39494.0 2026D88+CE_E_Front_300um_GenSimHLBeamSpotHGCALCloseBy+DigiTrigger+RecoGloba

[2022-01-30 17:05] fabiocos commented on #36829
addressed in PR #36836

[2022-01-30 17:24] fabiocos opened #36837 "Crash in DD4hep geometry, step2"
As reported by @bsunanda at the latest SIM meeting, DD4hep geometries succeed in step1, but fail in phase2 step2, see geometry D77 wf 35034.911

[code]

[2022-01-30 17:25] cmsbuild commented on #36837
A new Issue was created by  @fabiocos Fabio Cossutti.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-30 17:25] fabiocos commented on #36837
assign geometry

[2022-01-30 17:25] cmsbuild commented on #36837
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-31 09:13] apsallid commented on #36832
@rovere @srimanob @cseez @pfs
If we were allowed for one more I would also propose a scintillator workflow (`39500.0` apart from `39496.0`).

[2022-01-31 13:08] kskovpen commented on #36826
Hi All, does anyone know at which point the relevant demonstrator superchamber went missing in the geometry database?

[2022-01-31 15:32] tvami commented on #36826
Hi @srimanob since the issue is not in CSC chambers, would you maybe consider to rename this issue? (I today just thought we also need a new CSC geometry, which is not the case as I understand)

[2022-01-31 15:48] srimanob commented on #36826
Done.

[2022-01-31 17:13] srimanob commented on #36837
assign upgrade

[2022-01-31 17:52] cvuosalo commented on #36826
@kskovpen I don't think the GE 2/1 demonstrator super chamber was ever in the GEM reco geometry in the DB. That is being fixed by #36835.

[2022-01-31 17:56] cvuosalo commented on #36826
We are working on loading the corrected GEM reco geometry into the DB. But after that is done, how can we test to see that the error is fixed? It seems that the crash is quite rare and hard to reproduce.

[2022-01-31 18:35] srimanob commented on #36837
Hi @fabiocos @bsunanda

This issue seems a bit strange and I didn't see it before as I reported since last Oct. So now, I have additional clues on step-2 (DIGI):

- I see the issue that you reported when I run a job with 1 core. If I run 8 cores, I see the same issue as last Oct (*), but not the same as your
- I can pass the Digi step if I just use DDD sequence (i.e. take it from wf 35034.0. 1 or

[2022-01-31 18:42] srimanob commented on #36826
Hi @cvuosalo Thanks for taking care of this. If all the fixes are in place, I can run with private production on 10k events to see before we cut the release. I think the error is not so rare, as we see crashes in all relvals, especially on ZMM samples with 0 success.

[2022-01-31 18:47] civanch commented on #36826
@srimanob , thanks for the proposal. It is the best what can be done.

[2022-01-31 21:58] smuzaffar commented on #36788
assign reconstruction

`nan` is generated due to divide by zero at https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoVertex/KinematicFitPrimitives/src/TrackKinematicStatePropagator.cc#L29 where `state.parameters().magneticFieldInInverseGeV(point).z();` is `0`.  I printed the various values and this is what I see
[code]

This is reproduceable for workflow 4.44 step3.

[2022-01-31 21:58] cmsbuild commented on #36788
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-01-31 22:38] cvuosalo commented on #36826
@srimanob I created and uploaded to the Production DB the GEM reco geometry with PR #36835. It has tag GEMRECO_Geometry_123DD4hepV2. I also put an sqlite DB with the geometry here: `~cvuosalo/public/GemRecoGeoPR36835/GEMRECO_Geometry.db`, if you can use it.
I'll request a candidate GT from AlCaDB.

[2022-01-31 23:07] cvuosalo commented on #36826
The candidate GT with the updated GEM reco geometry is 123X_mcRun3_2021_design_Candidate_2022_01_31_23_02_13.

[2022-02-01 01:19] watson-ij commented on #36826
Thanks @cvuosalo the new tag looks like it has the needed superchamber and builds the reco geometry correctly. Just as a reminder @srimanob, for testing, the PR #36835 still needs to included, not just the tag, as there is also a fix to Validation/MuonGEMHits.

[2022-02-01 03:58] srimanob commented on #36826
Running through high stat samples from scratch, everything runs smoothly. Thanks @cvuosalo @watson-ij

[code]

[2022-02-01 07:36] srimanob commented on #36404
+Upgrade

For the upgrade part, PR is merged https://github.com/cms-sw/cmssw/pull/36822

[2022-02-01 07:43] perrotta commented on #36336
@makortel @cms-sw/simulation-l2 do I understand correctly from https://github.com/cms-sw/cmssw/issues/36336#issuecomment-1019991812 that this issue is now fixed? Please close it, if so.

[2022-02-01 07:51] missirol commented on #36336
@perrotta , just FYI , the issue will be closed automatically by GitHub once #36669 is merged.

[2022-02-01 09:58] perrotta commented on #36336
Good point, indeed :-)
Refreshing the PR tests, merge will follow

[2022-02-01 10:11] #36302 closed

[2022-02-01 11:22] srimanob commented on #36837
Hi,
I think I found the source of the issue. Comparing DDD and DD4hep configurations (*) in
`/afs/cern.ch/user/s/srimanob/public/ForGeometry/L1Track`
- L1Track_DDD_2026D77.py: out from cmsDriver
- L1Track_DD4hep_2026D77.py: out from cmsDriver
- L1Track_DD4hep_2026D77_mod.py: manual update the driver

Both out-of-the-box configs come with a call to XMLIdealGeometryESSource in TrackTriggerSetup. The

[2022-02-01 11:34] srimanob commented on #36837
By the way, this is a stack trace before the crash in `DTDigitizer:simMuonDTDigis`

[code]

[2022-02-01 11:42] srimanob commented on #36837
By the way, this is a stack trace before the crash in `DTDigitizer:simMuonDTDigis`

[code]
FYI @cms-sw/dt-dpg-l2

[2022-02-01 13:22] srimanob opened #36849 "TrackerGeometricDetESModule issue in Phase2 D88 DD4hep (step1, GEN-SIM)"
Hi,

In parallel with https://github.com/cms-sw/cmssw/issues/36837

Running out-of-box driver from
CMSSW_12_3_X_2022-01-31-2300 with https://github.com/cms-sw/cmssw/pull/36836
`runTheMatrix.py --what upgrade -l 39434.911 --wm init`

I found
[code]
The issue was not there with D77, as we tested in https://github.com/cms-sw/cmssw/issues/36837.

FYI @mmusich @emiglior

[2022-02-01 13:22] cmsbuild commented on #36849
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-01 13:28] srimanob commented on #36849
assign geometry tracker-dpg

[2022-02-01 13:29] cmsbuild commented on #36849
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-01 13:31] cmsbuild commented on #36849
New categories assigned: trk-dpg

@connorpa,@mmusich,@tsusa you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-01 14:10] mmusich commented on #36849
-1

The D88 geometry was introduced by the geometry group in https://github.com/cms-sw/cmssw/pull/36264 (@bsunanda FYI)

[2022-02-01 14:15] makortel commented on #36302
+heterogeneous

Thanks @mmusich!

[2022-02-01 14:15] srimanob commented on #36849
OK, understand that @mmusich
Just in case you have a quick idea on how things can be double load. If not, no problem. Thanks.

[2022-02-01 14:23] mmusich commented on #36849
I guess copying what is done for D77 if that still works?

[2022-02-01 15:08] srimanob commented on #36849
Ah, I think I know now.
We miss definition of dd4hep of D86,D88 in
https://github.com/cms-sw/cmssw/blob/master/Configuration/StandardSequences/python/GeometryConf.py
so, that is why cmsDriver pick the default one which is
`process.load('Configuration.StandardSequences.GeometryRecoDB_cff')`

[2022-02-01 15:30] bsunanda commented on #36849
Please note Phase2 cannot operate with DB. It has to work with XML versions till we have the detector geometry in DB.
________________________________
From: Phat Srimanobhas ***@***.***
Sent: 01 February 2022 16:10
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] TrackerGeometricDetESModule issue in Phase2 D88 DD4hep (step1, GEN-SIM) (Issue #36849)

Ah, I think I know now

[2022-02-01 15:34] srimanob commented on #36849
Thanks @bsunanda

Fix in https://github.com/cms-sw/cmssw/pull/36851 to allow to load properly.

[2022-02-01 15:34] #36849 closed

[2022-02-01 16:37] srimanob commented on #36832
Hi @rovere
To clarify, you propose the additional workflow to be added in the short matrix (tested with every PR), or IB. From the title, it seems the latter, but from the discussion, I talked about the former. Thanks.

[2022-02-01 16:40] rovere commented on #36832
Ciao @srimanob
my proposal was to add them to the IB. Since, though, the `CloseByPGun` is very fast, I'd not mind **also** the _short matrix_ option.

[2022-02-01 16:50] srimanob commented on #36832
OK, then I propose to have them in both places for HGCAL development. @smuzaffar Could you please help for IB? Thanks.

[2022-02-01 17:30] srimanob commented on #36806
Any news on `L1CaloGeometry_CRAFT09_hlt`?

[2022-02-01 17:41] tvami commented on #36806
@cecilecaillol ?

[2022-02-02 10:14] #35489 closed

[2022-02-02 10:14] #36336 closed

[2022-02-02 15:05] tvami commented on #36806
tagging also @epalencia for the L1T part

[2022-02-02 15:11] makortel opened #36863 "Data products eligible for early deletion kept alive by modules that are not run"
Investigation on unexpected behavior of early deletion in https://github.com/cms-sw/cmssw/pull/36793 pointed out that if a data product is marked by being potentially consumed by an EDModule that is never run because nothing consumes its products. This behavior appears to be independent of whether such "non-consumed unscheduled modules" are being deleted or not.

Some more details of the exact use

[2022-02-02 15:11] makortel commented on #36863
assign core

[2022-02-02 15:11] cmsbuild commented on #36863
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-02 15:11] cmsbuild commented on #36863
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-02 18:42] makortel commented on #36670
Addressed in https://github.com/cms-sw/cmssw/pull/36864

[2022-02-03 01:38] makortel commented on #36670
+1

[2022-02-03 01:38] #36670 closed

[2022-02-03 01:39] cmsbuild commented on #36670
This issue is fully signed and ready to be closed.

[2022-02-03 02:52] srimanob commented on #36832
+Upgrade

Two CloseByPGun wfs are running in IB now as they are in relvals_2026. I think the issue can be closed.

[2022-02-03 02:52] cmsbuild commented on #36832
This issue is fully signed and ready to be closed.

[2022-02-03 03:53] watson-ij commented on #36826
I also created a backport #36872 to 12_2_X, for just the Validation/MuonGEMHits, since Carl's backport contains all the builder code.

[2022-02-03 07:40] rovere commented on #36832
Thanks to everyone that helped!

[2022-02-03 07:40] #36832 closed

[2022-02-03 17:06] cvuosalo commented on #36806
@cecilecaillol  @epalencia @tvami @civanch
It appears that `L1CaloGeometry_CRAFT09_hlt` may still be in use. It is used by `L1ExtraParticlesProd` to construct "calo particles":

https://cmssdt.cern.ch/lxr/source/L1Trigger/L1ExtraFromDigis/src/L1ExtraParticlesProd.cc?v=CMSSW_12_3_X_2022-02-01-2300#0103

`L1ExtraParticlesProd` is called by `HLT_Fake_cff.py`:

https://cmssdt.cern.ch/lxr/source/HLTrig

[2022-02-03 17:14] tvami commented on #36806
Hi Carl, thanks for looking at this. Does this mean you would produce a DD4HEP version of `L1CaloGeometry`?
Btw, @bundocka told me they started to have a look at this if it's needed or not.

[2022-02-03 18:11] cvuosalo commented on #36806
@tvami The `L1CaloGeometry` is created by this config, as far as I can tell:

https://cmssdt.cern.ch/lxr/source/L1TriggerConfig/L1GeometryProducers/python/l1CaloGeometry_cfi.py?v=CMSSW_12_3_X_2022-02-01-2300

Its creation does not use DDD or DD4hep. I think its creation and uploading is the responsibility of the L1 group. They have to decide if they need it, and if so, if it needs to revised and h

[2022-02-04 07:45] #36826 closed

[2022-02-04 07:59] perrotta commented on #36786
@missirol can you confirm that after the merging of #36803 and #36839 this issue can be considered as fully solved?

[2022-02-04 08:18] missirol commented on #36786
For completeness: a fix for the seg-fault discussed in https://github.com/cms-sw/cmssw/issues/36786#issuecomment-1023476726 and https://github.com/cms-sw/cmssw/issues/36786#issuecomment-1023479068 was provided by @elfontan in #36839.

@perrotta Yes, this issue is resolved (Elisa should correct me if I'm wrong). Both problems came from L1T and Elisa provided fixes for those.

I still find it sub-op

[2022-02-04 13:54] swagata87 opened #36886 "EGM Run3 regression issue"
We had recently updated electron, photon and supercluster regression in global tag. It went into CMSSW_12_3_0_pre3 via this autoCond update https://github.com/cms-sw/cmssw/pull/36710, and one of the relevant GT is 123X_mcRun3_2021_realistic_v3 (https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/123X_mcRun3_2021_realistic_v3/123X_mcRun3_2021_realistic_v2).

It was backported to 12_2, https://git

[2022-02-04 13:57] tvami commented on #36886
assign alca

[2022-02-04 13:58] cmsbuild commented on #36886
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-04 14:06] rovere commented on #36800
I believe the fix has been merged and is effective since `CloseByPGun` is tested at every IB and PR.
Can we close this issue?

[2022-02-07 13:37] panoskatsoulis commented on #36806
Hi, where has this been run?
can somebody post a workflow or a link to this failed 138.4 step2 attempt so we can find the wf command?

[2022-02-07 13:37] srimanob commented on #36837
Hi @perrotta @qliphy @civanch @makortel @cvuosalo @bsunanda

I've listed issues that I found in DD4hep phase-2 workflow in
https://docs.google.com/document/d/1es0C2gH8KVt87iDoPRpdq8VVDjuEKtdd4kPjTsfW_RU/edit?usp=sharing

How do you want me to deal with the report on git issue? Should we move one-by-one in separate issues or else? Since some crashes appear after my manual fixes of other issues, it

[2022-02-07 13:52] tvami commented on #36806
Hi @panoskatsoulis , I've been in touch with @bundocka , he (I think) is looking into this. This is the command I gave him to reproduce the issue
[code]
(in the latest CMSSW IBs)

[2022-02-07 14:35] smuzaffar commented on #36788
@cms-sw/reconstruction-l2 , did any one look in to this `divide by zero` issue ( https://github.com/cms-sw/cmssw/issues/36788#issuecomment-1026252857 )

[2022-02-07 14:56] clacaputo commented on #36788
Hi @smuzaffar , I'm following your instruction for reproducing the error

[2022-02-07 15:11] makortel commented on #36820
I had run valgrind on that job 5 times. All of those reported this one before the exception
[code]

and this after the exception
[code]

[2022-02-07 15:22] perrotta commented on #36837
@srimanob thank you for your investigations
All issues are either correlated, or anyhow they act on the same steps and workflows: I think that a cumulative ticket could be more appropriate to keep track of it, with the different issues representing possible milestones towards the solution of the whole problem.

[2022-02-07 16:09] clacaputo commented on #36788
Hi @smuzaffar , I've tried in `slc7_amd64_gcc10` [1], as suggested in https://github.com/cms-sw/cmssw/issues/36788#issuecomment-1026252857, but I can't reproduce the problem. How can I access `aarch64` machine?

[1]
[code]

[2022-02-07 17:25] clacaputo commented on #36788
@smuzaffar , thanks for the clarification

[2022-02-07 18:09] pcanal commented on #36820
The stack trace indicates this is related to the I/O customization rules.    So it will be interesting to see if the latest changes to that part of the code improves the behavior.   See https://github.com/root-project/root/issues/7718#issuecomment-1029362146  for the current PR testings those change on CMSSW.

[2022-02-08 06:35] perrotta commented on #36800
@mdmorris @cms-sw/generators-l2 I'm closing this issue.
Please reopen it if you think there is anything else remained to do with it,

[2022-02-08 06:35] #36800 closed

[2022-02-08 11:46] iarspider opened #36908 "[ROOT6_X] segmentation violation in void std::_Destroy_aux<false>::__destroy<L1GtLogicParser::OperandToken*>(L1GtLogicParser::OperandToken*, L1GtLogicParser::OperandToken*) ()"
Seen in the following RelVals:

 [134.808](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_ROOT6_X_2022-02-07-2300/pyRelValMatrixLogs/run/134.808_RunSingleMuPrpt2015C+RunSingleMuPrpt2015C+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2/step2_RunSingleMuPrpt2015C+RunSingleMuPrpt2015C+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2.log#/297), [134.907](https://cmssdt.cern.ch/SDT

[2022-02-08 11:46] cmsbuild commented on #36908
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-08 12:09] smuzaffar commented on #36697
@pcanal , although CMSSW  PR tests for root master and 6.26 (https://github.com/root-project/root/commit/6cd7abf318cde02cd38b2d2510928b4ceaa2856f  which has your changes ) worked but full tests in CMSSW IBs are failing ( see https://github.com/cms-sw/cmssw/issues/36908 ).

[2022-02-08 14:08] makortel commented on #36908
assign core

[2022-02-08 14:08] cmsbuild commented on #36908
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-08 14:09] makortel commented on #36908
Stack trace from 134.808
[code]
The other two TBB threads are sleeping in `tbb::detail::r1::futex_wait()`.

[2022-02-08 14:09] makortel commented on #36908
FYI @pcanal

[2022-02-08 14:21] makortel commented on #36908
Adding here a crash in CMSSW_12_3_ROOT6_X_2022-02-07-2300 since the cause can well be the same
[code]
One TBB thread was sleping in `sched_yield()`

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_ROOT6_X_2022-02-07-2300/pyRelValMatrixLogs/run/134.908_RunSingleMuPrpt2015D+RunSingleMuPrpt2015D+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2/step2_RunSingleMuPrpt2015D+RunSingl

[2022-02-08 14:24] makortel commented on #36908
There was also a crash in CMSSW_12_3_ROOT626_X_2022-02-07-2300 workflow 134.907 step2
[code]
Two TBB threads were sleeping in `tbb::detail::r1::futex_wait()`.

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_ROOT626_X_2022-02-07-2300/pyRelValMatrixLogs/run/134.907_RunDoubleEGPrpt2015D+RunDoubleEGPrpt2015D+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2/step2_RunDoubleEGPrpt2

[2022-02-08 15:50] jpata commented on #35986
I believe this was addressed in https://github.com/cms-sw/cmssw/issues/35583.

[2022-02-08 16:27] slava77 commented on #35986
looking at http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/circles/piechart.php?local=false&dataset=CMSSW_12_3_0_pre4%2Fslc7_amd64_gcc10%2F11834.21%2Fstep4_circles&resource=time_thread&colours=default&groups=packages&threshold=0

<img width="592" alt="image" src="https://user-images.githubusercontent.com/4676718/153030515-830a4bfc-84d5-4af7-ab68-98f0b5fcdb7a.png">

I still see 4 cases tak

[2022-02-08 18:05] jpata commented on #35986
cc @ahinzmann

[2022-02-08 18:09] bockjoo opened #36915 "Can you build xrootd 5.4 for the TLS?"
I am testing CMSSW_12_3_0_pre4 to read files with root protocol with the TLS configured on the xrootd server side.
This CMSSW has xrootd 5.3.1 and XrdAdaptor shows this error:
----- Begin Fatal Exception 08-Feb-2022 12:54:24 EST-----------------------
An exception of category 'FileOpenError' occurred while
   [0] Constructing the EventProcessor
   [1] Constructing input source of type PoolSource

[2022-02-08 18:09] cmsbuild commented on #36915
A new Issue was created by  @bockjoo Bockjoo Kim.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-08 18:15] makortel commented on #36915
assign core

[2022-02-08 18:16] cmsbuild commented on #36915
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-08 18:23] ahinzmann commented on #35986
Looking at https://github.com/cms-sw/cmssw/releases, I don't see #36639 listed under the PRs entering CMSSW_12_3_0_pre4. Is it integrated into release yet?

[2022-02-08 18:30] davidlange6 commented on #36915
Hi-

5.4 "seems reliable" means it was tested with your server?

[2022-02-08 18:38] slava77 commented on #35986
ah, two days off.

Looking at the IB
https://cmssdt.cern.ch/circles/web/piechart.php?local=false&dataset=CMSSW_12_3_X_2022-02-08-1100%2Fslc7_amd64_gcc10%2F11834.21%2Fstep4_PAT_PU.resources&resource=time_thread&colours=default&groups=packages&threshold=0

<img width="591" alt="image" src="https://user-images.githubusercontent.com/4676718/153053704-d0df3ee9-b604-4d36-9492-fa46112f1ff9.png">

[2022-02-08 18:38] slava77 commented on #35986
sorry for the noise, I guess the issue can be closed after all

[2022-02-08 18:50] bundocka commented on #36806
Hi. I have made a PR here to master including the fix:

https://github.com/cms-sw/cmssw/pull/36916

[2022-02-08 18:52] bockjoo commented on #36915
My server is running 5.4. With 5.3.1 xrdcp in the CMSSW_12_3_0_pre4, I get this:
[bockjoo@cms runAnalysis]$ which xrdcp
/opt/cms/services/aaa/CMSSWTokenTest/CMSSW_12_3_0_pre3/external/slc7_amd64_gcc10/bin/xrdcp
[bockjoo@cms runAnalysis]$ xrdcp -d 1 -f root://cmsio2.rc.ufl.edu//store/mc/RunIIAutumn18MiniAOD/ZToMuMu_NNPDF31_13TeV-powheg_M_4500_6000/MINIAODSIM/102X_upgrade2018_realistic_v15-v2/120000

[2022-02-08 20:22] Saptaparna commented on #36705
Hi! Is anyone looking into `HepMC::Pythia8ToHepMC` for this PR?

[2022-02-09 07:11] missirol commented on #36786
@elfontan @perrotta Unless you think differently, this issue could be closed.

[2022-02-09 08:28] elfontan commented on #36786
Thank you @missirol, I agree.

[2022-02-09 08:47] jpata commented on #35519
a kind ping on this issue.

[2022-02-09 10:09] #36786 closed

[2022-02-09 10:22] jpata commented on #32338
This happened again in https://github.com/cms-sw/cmssw/pull/36910 for 12_1_X, ZMM13TeV2017wf10042p0.

[2022-02-09 11:42] Sam-Harper opened #36917 "Request to include requests[socks] in the python packages"
Dear CMSSW maintainers,

It would be useful for me if we could include requests[socks] in the default CMSSW python packages.

This would greatly assist in the situation where we have a machine with no external internet access and we need to proxy over a ssh tunnel.

It is a bit of a chicken and egg situation as well, as if if requests[socks] was already installed, it would be trivial install it lo

[2022-02-09 11:45] cmsbuild commented on #36917
A new Issue was created by  @Sam-Harper Sam Harper.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-09 11:52] swagata87 commented on #36886
Some updates from our side.
To remind, we have 5 kinds of regression: electron, photon, mustache supercluster, saturated electron and saturated photon. We have now solved the issue for first 3. I attach here some example plots where once can see the fix.

The checks were made using a candidate GT `123X_mcRun3_2021_realistic_Candidate_2022_02_08_08_42_19`. We produced AODs/miniAODs using this new G

[2022-02-09 11:56] jpata commented on #35986
thanks for the checking (and sorry for not double checking on my end).

[2022-02-09 11:56] #35986 closed

[2022-02-09 12:16] srimanob commented on #36829
Should we close this ticket?
@cms-sw/geometry-l2 @fabiocos

[2022-02-09 13:49] cmsbuild commented on #35008
This issue is fully signed and ready to be closed.

[2022-02-09 14:24] makortel commented on #36917
assign core

[2022-02-09 14:25] cmsbuild commented on #36917
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-09 14:48] dan131riley commented on #36908
Another in ROOT626 wf 134.808.  The common pattern seems to be a crash in `DataManagingProductResolver::resetProductData_()` while `PoolOutputModule` is running.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc10/CMSSW_12_3_ROOT626_X_2022-02-08-2300/pyRelValMatrixLogs/run/134.808_RunSingleMuPrpt2015C+RunSingleMuPrpt2015C+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2/step2_RunSingle

[2022-02-09 15:53] bockjoo commented on #36915
I built the xrootd out of xrootd github to use it as the CMSSW_12_3_0_pre4 external.
With this one, cmssw read an xrootd file worked fine with the x509 and the token.
So 5.3.1 has the problem with TLS.

[2022-02-09 16:23] civanch commented on #35109
Can we close this issue now?

[2022-02-09 16:30] makortel commented on #35109
Comparisons have been stable in this respect for a while, so I think we can close it now.

[2022-02-09 16:30] #35109 closed

[2022-02-09 18:20] cvuosalo commented on #36829
+1

[2022-02-09 18:20] cmsbuild commented on #36829
This issue is fully signed and ready to be closed.

[2022-02-09 18:28] jpata commented on #34290
@gartung this could be a good target for a purely technical optimization to address by the upgrade R&D and CMP

[2022-02-09 18:28] jpata commented on #34289
@gartung this could be a good target for a purely technical optimization to address by the upgrade R&D and CMP

[2022-02-09 18:31] jpata commented on #33406
bringing this up with @michaelwassmer, the current MET reco contact.

[2022-02-10 01:24] pcanal commented on #36908
Humm ... if the `TTree` is in the process of using an object, it would be bad for it to be modifying (including cleared).

So we need to figure out if this the case.   We should run valgrind (and if it is a race condition it is likely to go away).  EIther way I probably would need a reproduce (debug version of ROOT + version of the failing test(s) not needing any grid certificate).

[2022-02-10 01:53] makortel commented on #36908
Here is a crash within PoolOutputModule (CMSSW_12_3_ROOT626_X_2022-02-08-2300 wf 134.908 step 2)
[code]
Other TBB threads are in `tbb::detail::r1::futex_wait()`.

[2022-02-10 01:56] makortel commented on #36908
Another different kind of crash (CMSSW_12_3_ROOT6_X_2022-02-08-2300 wf 134.908 step 2)
[code]
Other TBB threads are in `tbb::detail::r1::futex_wait()`.

[2022-02-10 10:44] #36863 closed

[2022-02-10 12:12] silviodonato opened #36925 "DeepJet and HLT virtual memory"
This issue is to keep track of a large virtual memory increase we reported moving from
`/dev/CMSSW_12_3_0/V20` to `/dev/CMSSW_12_3_0/V22` [1], namely the addition of the DeepJet tagger in the HLT menu [2].

We see that the virtual memory has increased from 4.497 GB to 5.595 GB, while the peak RSS is unchanged.
All the numbers are in [3] and the HLT menu can be downloaded using [4]

[1] https://twi

[2022-02-10 12:12] cmsbuild commented on #36925
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-10 12:16] silviodonato commented on #36925
assign hlt, reconstruction
cc @cms-sw/btv-pog-l2 @cms-sw/reconstruction-l2 @cms-sw/hlt-l2 @SWuchterl @NiclasEich

[2022-02-10 12:30] silviodonato commented on #36925
I know it is not a reco problem, but I though that reco experts might have some useful insights about this.

These are the main new modules added in `/dev/CMSSW_12_3_0/V22`
[code]

[2022-02-10 13:33] mmusich commented on #36347
Based on a recent test in  `CMSSW_12_3_X_2022-02-09-2300`
I see:

   - [x] the Run-3 workflows now are correctly set-up as they were in `CMSSW_12_2_0_pre2` (tested with: `runTheMatrix.py --what upgrade -nel 11624.1,11634.1,12024.1,12034.1,12424.1,12434.1,12824.1,12834.1`)
   - [x] the Phase-2 workflows are still correctly set-up (tested with: `runTheMatrix.py --what upgrade -nel 11624.1,11634.1,12

[2022-02-10 13:44] smuzaffar commented on #36908
This also fails in single threaded mode. Running workflow  134.908  locally with single thread also crashes with error
[code]

[2022-02-10 13:47] smuzaffar commented on #36908
With cmsRunGlibc it failed with stack trace
[code]

[2022-02-10 13:53] dan131riley commented on #36908
So the glibc `malloc()` detected memory corruption.  There should be a printout before the stack trace with more info about the heap and the kind of corruption.

[2022-02-10 13:54] smuzaffar commented on #36908
@dan131riley this is what I see before the crash
[code]

[2022-02-10 14:14] makortel commented on #36863
+1

[2022-02-10 14:15] cmsbuild commented on #36863
This issue is fully signed and ready to be closed.

[2022-02-10 14:17] makortel commented on #36925
assign hlt,reconstruction

[2022-02-10 14:18] cmsbuild commented on #36925
New categories assigned: hlt,reconstruction

@slava77,@jpata,@missirol,@clacaputo,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-10 14:18] makortel commented on #36925
(not sure why bot didn't pick those earlier)

[2022-02-10 14:19] makortel commented on #36925
@silviodonato For my education, does something in online environment actually care about VSIZE?

[2022-02-10 14:19] mmusich commented on #31550
@civanch please unhold

[2022-02-10 14:19] #31550 closed

[2022-02-10 14:35] slava77 commented on #36925
is there some leftover from 32-bit support days?

The last I recall VSIZE being a worry for reco was perhaps 7 years ago when T0 had leftover restrictions on VSIZE.

[2022-02-10 14:49] Dr15Jones commented on #36908
So it looks like we call `SetAddress`
https://github.com/cms-sw/cmssw/blob/c886cf8f73eb0b50c71918979e446f2f8ba59e4c/IOPool/Input/src/RootDelayedReader.cc#L80-L82

which frees the memory that was used on the previous Event's read and then we do a `GetEntry` call
https://github.com/cms-sw/cmssw/blob/c886cf8f73eb0b50c71918979e446f2f8ba59e4c/IOPool/Input/src/RootDelayedReader.cc#L85

which then calls

[2022-02-10 18:46] pcanal commented on #36908
That is most likely the 'trigger'.  I.e. that usage is probably not propagating the address change is 'enough' places.

In that example above is 'br' a top level branch of sub-branch?  Could you send me the result for that branch of `br->Print();` ?

[2022-02-10 21:33] Dr15Jones commented on #36908
Top level.

I don't have the job running. @dan131riley could you try to get that info?

[2022-02-11 08:32] kskovpen commented on #36347
+1

[2022-02-11 08:32] cmsbuild commented on #36347
This issue is fully signed and ready to be closed.

[2022-02-11 09:17] smuzaffar commented on #36908
@pcanal , you can reproduce the error by running the following commands on cmsdev{20-25} machines
[code]

[2022-02-11 13:35] perrotta opened #36933 "Build CMSSW_12_2_1"

[2022-02-11 13:36] cmsbuild commented on #36933
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-02-11 13:37] perrotta commented on #36933
+1

[2022-02-11 13:38] cmsbuild commented on #36933
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-02-11 13:38] cmsbuild commented on #36933
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-02-11 13:38] cmsbuild commented on #36933
The build has started for cc8_amd64_gcc9 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3364/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-11 13:38] cmsbuild commented on #36933
The build has started for slc7_amd64_gcc900 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3366/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-11 13:41] cmsbuild commented on #36933
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3367/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-11 13:47] cmsbuild commented on #36933
The build has started for slc7_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3368/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-11 16:32] cmsbuild commented on #36933
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1-slc7_aarch64_gcc9/3368
Some tests (

[2022-02-11 16:38] dan131riley commented on #36908
Code where the invalid read and writes occur:
[code]
`br->Print()` of the branch we are calling GetEntry for in my test job:
[code]

[2022-02-11 16:51] Dr15Jones commented on #36908
So the likely culprit happens after these two branches are read
[code]
and the _parent_ object `refVector_` gets its read rule called

[2022-02-11 17:00] cmsbuild commented on #36933
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1-slc7_amd64_gcc10/3365
Some tests ( ru

[2022-02-11 17:03] cmsbuild commented on #36933
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1-cc8_amd64_gcc9/3364
Some tests ( runThe

[2022-02-11 17:45] cmsbuild commented on #36933
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1-slc7_ppc64le_gcc9/3367

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-11 17:48] cmsbuild commented on #36933
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1-cc8_amd64_gcc9/3364

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-11 17:49] cmsbuild commented on #36933
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1-slc7_amd64_gcc10/3365

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-11 17:53] missirol opened #36938 "on running unscheduled HLT modules together with other "steps""
This issue is related to https://github.com/cms-sw/cmssw/issues/36138 (as suggested by @silviodonato, I open here a separate issue, in an attempt to make things clearer).

TSG plans to introduce Tasks in the HLT menus for Run 3, as a necessary step to support configurations with both CPU and GPU modules handled via `SwitchProducers`.

https://github.com/cms-sw/cmssw/issues/36138 showed that the un

[2022-02-11 17:53] cmsbuild commented on #36938
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-11 18:08] cmsbuild commented on #36933
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1-slc7_amd64_gcc900/3366
Some tests (

[2022-02-11 18:21] trtomei opened #36939 "edmConfigSplit broken in CMSSW_12_3_0_pre3"
To reproduce:

[code]

There will be:
1. a bunch of warnings of the type:
`Warning: unsupported element 'hcalGainsGPUESProducer' in Task 'hbheRecHitProducerGPUTask'`
related to all kinds of `GPUESProducer`
2. A crash that ends with `module has no label. Perhaps it wasn't inserted into the process?`. Full traceback below.

[code]

[2022-02-11 18:21] cmsbuild commented on #36939
A new Issue was created by  @trtomei Thiago Tomei.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-11 18:33] makortel commented on #36939
assign core

[2022-02-11 18:33] makortel commented on #36939
Adding @fwyzard (as the original author)

[2022-02-11 18:33] cmsbuild commented on #36939
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-11 18:41] makortel commented on #36938
assign core,hlt

[2022-02-11 18:42] cmsbuild commented on #36938
New categories assigned: core,hlt

@missirol,@Dr15Jones,@smuzaffar,@makortel,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-11 18:48] perrotta commented on #36933
upload all

[2022-02-11 18:49] cmsbuild commented on #36933
Queing Jenkins upload for slc7_amd64_gcc900

[2022-02-11 18:49] cmsbuild commented on #36933
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-02-11 18:49] cmsbuild commented on #36933
Queing Jenkins upload for cc8_amd64_gcc9

[2022-02-11 18:49] cmsbuild commented on #36933
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-02-11 18:49] cmsbuild commented on #36933
Queing Jenkins upload for slc7_amd64_gcc10

[2022-02-11 18:51] cmsbuild commented on #36933
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2222/console

[2022-02-11 18:51] cmsbuild commented on #36933
The upload has started for slc7_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2223/console

[2022-02-11 18:52] cmsbuild commented on #36933
The upload has started for slc7_amd64_gcc900 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2224/console

[2022-02-11 18:52] cmsbuild commented on #36933
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1-cc8_amd64_gcc9/2221

[2022-02-11 18:53] cmsbuild commented on #36933
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1-slc7_aarch64_gcc9/2222

[2022-02-11 18:53] cmsbuild commented on #36933
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2225/console

[2022-02-11 18:53] cmsbuild commented on #36933
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1-slc7_amd64_gcc900/2224

[2022-02-11 18:55] cmsbuild commented on #36933
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1-slc7_ppc64le_gcc9/2225

[2022-02-11 18:56] cmsbuild commented on #36933
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1-slc7_amd64_gcc900/3366

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-11 18:57] cmsbuild commented on #36933
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1-slc7_amd64_gcc10/2223

[2022-02-11 19:04] perrotta commented on #36933
release-notes

[2022-02-11 19:04] cmsbuild commented on #36933
Generating release notes since CMSSW_12_2_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-02-11 19:04] cmsbuild commented on #36933
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_2_1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_2_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_1

Cheers

[2022-02-11 19:11] cmsbuild commented on #36933
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_1

[2022-02-11 20:47] makortel commented on #36938
Pretty much everything in `runTheMatrix.py` relies nowadays in unscheduled execution with the DAG of producers initiated by the output module (with the modules whose execution defined by a filter properly in a Path behind such filter).

I'm curious if the issue is limited to output modules. For example, if one adds (for whatever reason) an EDAnalyzer in the same job as the HLT , and the EDAnalyzer

[2022-02-11 23:01] tvami opened #36944 "Code still consumes CASTOR tags in Run-3"
In https://github.com/cms-sw/cmssw/pull/36940
we discovered that the there is still some code that consumes CASTOR tags in Run-3.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-0f9c0d/22366/unitTests/src/DQM/Integration/test/TestDQMOnlineClient-ecal_dqm_sourceclient/testing.log
and
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-0f9c0d/22366/unit

[2022-02-11 23:02] cmsbuild commented on #36944
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-11 23:02] tvami commented on #36944
assign dqm

[2022-02-12 08:15] mmusich commented on #36944
isn't this a duplicate of the first part of https://github.com/cms-sw/cmssw/issues/36806#issue-1114945807 ?

[2022-02-12 14:00] tvami commented on #36944
Thanks Marco, I submitted this in this PR https://github.com/cms-sw/cmssw/pull/36946

[2022-02-12 14:08] mmusich commented on #36944
with error:

I think a possible way of investigation is https://github.com/dmwm/T0/pull/4644#issuecomment-1037234924.

This smells again like a stale era definition in the T0 configuration, given then Tamas' PR actually tests positively, setting a side the online DQM

[2022-02-12 15:07] tvami commented on #36806
Running
[code]

in our full track validation for HLT conditions
[](https://cmssdt.cern.ch/cms-jenkins/blue/organizations/jenkins/AlCaDBValidation/detail/master/36/pipeline#step-106-log-1407)[](https://cmssdt.cern.ch/cms-jenkins/blue/organizations/jenkins/AlCaDBValidation/detail/master/36/pipeline#step-106-log-1408)

We still get
[code]

@silviodonato do you see anything obviously wrong in what we

[2022-02-12 16:01] srimanob commented on #36806
@tvami
Is not that the issue of L1Repack?

[2022-02-12 16:11] tvami commented on #36806
I was thinking about that, but the add-on tets use the L1Repack too, see e.g. here https://github.com/cms-sw/cmssw/blob/eee164032884afc912307611be61213ff74b7ad3/Configuration/HLT/python/addOnTestsHLT.py#L43

[2022-02-12 16:17] srimanob commented on #36806
Your job will run with L1REPACK:Full,HLT:GRun :)

[2022-02-12 17:36] tvami commented on #36806
Thanks @srimanob !

[2022-02-12 21:50] #36944 closed

[2022-02-13 15:42] jfernan2 commented on #36944
+1
For the records

[2022-02-13 15:43] cmsbuild commented on #36944
This issue is fully signed and ready to be closed.

[2022-02-13 18:08] cmsbuild commented on #36933
The cleanup has started for slc7_aarch64_gcc9

[2022-02-13 18:08] cmsbuild commented on #36933
The cleanup has started for slc7_amd64_gcc900

[2022-02-13 18:08] cmsbuild commented on #36933
The cleanup has started for slc7_ppc64le_gcc9

[2022-02-13 18:08] cmsbuild commented on #36933
The cleanup has started for slc7_amd64_gcc10

[2022-02-13 18:08] #36933 closed

[2022-02-13 18:08] cmsbuild commented on #36933
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1-cc8_amd64_gcc9/1937

[2022-02-13 18:08] cmsbuild commented on #36933
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1-slc7_aarch64_gcc9/1938

[2022-02-13 18:08] cmsbuild commented on #36933
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1-slc7_ppc64le_gcc9/1941

[2022-02-13 18:08] cmsbuild commented on #36933
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1-slc7_amd64_gcc10/1939

[2022-02-13 18:08] cmsbuild commented on #36933
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1-slc7_amd64_gcc900/1940

[2022-02-13 18:48] #36886 closed

[2022-02-13 19:17] tvami commented on #36886
+alca
 * although the saturated electron regression tags should be fixed as soon as possible
 * I'd also appreciate that the code that creates these DB files in ported to CMSSW, so we can make sure it's always up to date

[2022-02-13 19:17] cmsbuild commented on #36886
This issue is fully signed and ready to be closed.

[2022-02-14 07:57] srimanob commented on #36806
Do we want to continue this issue to follow up question on L1CaloGeometry with L1T, or do we open a new issue to focus on the topic?

[2022-02-14 09:29] ggovi commented on #36487
Hello, sorry for the latency.
The thread safety of ConnectionPool::createReadOnlySession brings to the implementation of the coral component framework, that is based on statics:
https://github.com/cms-externals/coral/blob/cms/CORAL_2_3_21py3/CoralKernel/CoralKernel/Context.h
So, there we have high level locks that seems to serialise the calls. At lower level we are back to the coral frontier plugi

[2022-02-14 09:34] fabiocos commented on #36837
Following the discussion at last simulation meeting, I checked scenario D88 for MTD only (see https://github.com/fabiocos/cmssw/tree/fc-testmtdD88 ) and I confirm there is a crash in the reconstruction geometry of MTD:

[code]

To be understood and fixed

[2022-02-14 09:36] smorovic commented on #36487
Hello,
I can add that in last 1-2 weeks I tested ESSourceConcurrentDataProxyTemplate with CMSSW_12_3_0_pre4 and a cosmic menu, prepared recently by the TSG group, in HLT setup, small scale cluster of 5 machines.

There have been no crashes or issues seen with either concurrent or non-concurrent version applied.
I also did not notice any difference in performance: all run-based condition data loads

[2022-02-14 09:38] srimanob commented on #36837
I've pinged @cms-sw/dt-dpg-l2 @cms-sw/l1-l2 on the issue also on DIGI-L1_HLT step.
Thanks to @fabiocos @cms-sw/mtd-dpg-l2 for following up the issue of MTD in the RECO step.

[2022-02-14 09:41] civanch commented on #36806
@srimanob , it seems that this issue in a good part focused on L1, so an extra issue is not needed.

[2022-02-14 09:43] civanch commented on #36544
+1

it seems that the problem does not show up for few weeks after the fix.

[2022-02-14 09:43] cmsbuild commented on #36544
This issue is fully signed and ready to be closed.

[2022-02-14 13:19] missirol commented on #36925
Just to answer this: yes, I think this is the (first and) only ONNX model we have in the HLT menu.

[2022-02-14 13:33] 4quarks opened #36957 "Retrieve socket connection from XrdStorageMaker"
Hi!

We are currently working in the enhancement of the XrdAdaptor logs. We need to retrieve an object with the socket information so we can show the endpoint used to access data. For example:
` Data was accessed at 174.65.98.3:67543`

- Where is this data?
In XrdCl. For example, the class `XrdNetAddrInfo` contains all the parameters that we are interested in.
https://github.com/xrootd/xrootd/blob

[2022-02-14 13:33] cmsbuild commented on #36957
A new Issue was created by  @4quarks 4Quarks.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-14 13:57] Martin-Grunewald commented on #36938
I think with HLT using tasks, the EDAnalyser should trigger execution of the producer, but NO OM should trigger execution of any prioducer.  (HLT is so far not yet using tasks, and then the EDanalyzer should be on an HLT path which runs required producers beforehand in that path).

[2022-02-14 14:49] makortel commented on #36957
assign core

[2022-02-14 14:50] cmsbuild commented on #36957
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-14 14:57] fabiocos commented on #36837
I believe I have understood the cause of the crash in the dd4hep version of MTD D88, but I am not sure about the way out. In D88 ETL unfortunately needs to use boolean solids, starting with the main mother volume ```EndcapTimingLayer```, see https://github.com/cms-sw/cmssw/blob/master/Geometry/MTDCommonData/data/etl/v7/etl.xml#L184 . When building the reconstruction geometry, a ```GeometricTimingD

[2022-02-14 15:20] makortel commented on #36957
Hi @bbockelm, would you be able to answer to this question?

[2022-02-14 15:31] fabiocos commented on #36837
This modification to the ```DDFilteredView::parameters()``` method allows the code to run untile the end providing a meaningful geometry dump (for this specific case):

[code]

I cannot say whether it makes any sense for other use cases, in ETL the boolean solids involve just the main envelope and passive materials.

[2022-02-14 15:33] fabiocos commented on #36837
@cvuosalo @civanch any comment?

[2022-02-14 16:53] civanch commented on #36837
@cvuosalo , @ianna , is the problem investigated by Fabio originate from CMSSW or from DD4hep? if it the first, we need a fix, if second - we need to put a ticket for DD4hep asap.

[2022-02-14 17:03] makortel commented on #36939
I believe it would be sufficient to just make the `findDirectDependencies()` function to recognize `ESProducer`, `ESSource`, and `Service`, and handle the anonymous cases in the warning message printout. @fwyzard, do you agree?

[2022-02-14 17:33] ianna commented on #36837
@fabiocos - there used to be only one case of the boolean shapes needed that logic. I think, one can add the ETL-specific case to retrieve the parameters, or generalise it there. The latter will be less performant. This is if we do not want to use the DD4hep native parameters (that came later).

[2022-02-14 19:27] tvami commented on #36806
tagging @bundocka @missirol

I follow-up a bit on https://github.com/cms-sw/cmssw/pull/36940#issuecomment-1038805021

So I hoped one could just move from
[code]

but apparently CaloGeometry doesnt have the needed functions, so that didnt work out.

But this makes me wonder that there is information taken out from this tag and then it's just all wrong about the L1T geometry in terms of the eta bins

[2022-02-14 20:18] missirol commented on #36806
Just to summarise my current understanding

 - `CaloGeometry` and `L1CaloGeometry` are independent classes, so I don't know if one should/could replace the latter with the former (it seems like this is at least non-trivial)

 - as shown in https://github.com/cms-sw/cmssw/pull/36940#issuecomment-1038745243, there is (at least) one HLT producer that still consumes the `L1CaloGeometry` ES product

 -

[2022-02-14 22:11] cvuosalo commented on #36837
@fabiocos Is this problem an opportunity to remove the error-prone sequence of anonymous numbers called `params_` from the MTD `GeometricTimingDet`? This code depends on all components obeying an implicit convention for the order these numbers are returned. It would be more reliable for each parameter to be named and returned by name, rather than relying on an implicit convention.

[2022-02-14 22:32] clacaputo opened #36966 "mkFit To-Do list"
The issue is intended to keep track of the *mkFit* pending to-do items coming from **[mkFit external integration](https://github.com/cms-sw/cmssw/pull/36546#)** that are going to be addressed in future PRs.
The list has been taken from https://github.com/cms-sw/cmssw/pull/36546#issuecomment-1039168783

#### Short/medium term

- [ ] Get Magnetic field from EventSetup (shorter term)
- [ ] Make the m

[2022-02-14 22:32] cmsbuild commented on #36966
A new Issue was created by  @clacaputo Claudio Caputo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-14 22:32] clacaputo commented on #36966
assign reconstruction

[2022-02-14 22:32] cmsbuild commented on #36966
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-14 22:32] wddgit opened #36967 "Concurrent Lumi mode with noRunLumiSort option, bug"
There is a bug in the code implementing the noRunLumiSort configuration option of PoolSource. I can demonstrate the bug in the following test.

First run the following sequence of existing unit tests:

[code]

Then read the output using this configuration:

[code]

This last step will fail on an assert in the Framework code.
I am still investigating this. It appears to be related to the handling o

[2022-02-14 22:33] cmsbuild commented on #36967
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-14 22:33] clacaputo commented on #36966
assign @cms-sw/tracking-pog-l2

[2022-02-14 22:35] cmsbuild commented on #36966
New categories assigned: tracking-pog

@mmusich,@mtosi,@vmariani you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-14 22:38] clacaputo commented on #36966
FYI @mmasciov @osschar

[2022-02-14 23:38] makortel commented on #36967
assign core

[2022-02-14 23:39] cmsbuild commented on #36967
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-15 02:51] makortel commented on #36938
We would like to understand better the use case. Maybe we could discuss about this topic in e.g. a core software meeting next week? (in addition of possibly continuing the discussion here)

Currently an "unscheduled" module can be executed after all its input data products are either available, or known to be never available, with the exception that an unscheduled module whose output data products

[2022-02-15 08:42] silviodonato commented on #36925
It looks like VSIZE is not a problem, so I'm closing this issue

[2022-02-15 08:42] #36925 closed

[2022-02-15 09:28] fabiocos commented on #36837
@ianna are you referring to the internal structure of ```PGeometricTimingDet``` and https://github.com/cms-sw/cmssw/blob/master/Geometry/MTDNumberingBuilder/src/GeometricTimingDet.cc#L148 ? To my knowledge this was brutally copied from the tracker code but it is not used in reality so far, and will have to be reviewed when thinking to a persistent geometry model. The sensitive elements of MTD are

[2022-02-15 09:29] fabiocos commented on #36837
sorry, I see that the question was by @cvuosalo ...

[2022-02-15 09:33] Martin-Grunewald commented on #36938
@fwyzard @Sam-Harper - please see this issue!

[2022-02-15 09:59] missirol commented on #36938
@makortel Thanks for your explanations. I don't grasp all the details here, but I should have made one point clearer in the issue's description.

In the test in question, all Sequences/Paths in the HLT config were converted to use Tasks, not just those related to GPU modules or SwitchProducers. So, in my understanding, in this test we "over-taskified" (wrt what HLT strictly needs to support GPU mo

[2022-02-15 10:55] fwyzard commented on #36938
Apart from the interaction with SwitchProducers, ideally the use of Tasks can help simplify the structure of the HLT configuration.

Here's an example based on the HLT muon paths (I didn't check why we use the `cms.ignore`d filters, I just left them as they are in the recent HLT menu):
[code]

can be simplified to
[code]

That... depends :-(

[yes, I know DQM modules are technically EDProducers, n

[2022-02-15 11:45] fabiocos commented on #36837
@ianna @cvuosalo @civanch #36970 proposes a possible solution to the problem found by @srimanob, which should allow us to move forward in catching other geometry problems in the DD4hep version of D88 step2.

[2022-02-15 11:57] ianna commented on #36837
@fabiocos - the solution looks good to me. Thanks, @srimanob !

[2022-02-15 13:31] tvami commented on #29833
+alca
 * AlCa agrees to the plan, but the implementation is up to the simulation group

[2022-02-15 14:30] srimanob commented on #36837
Test with @fabiocos, the step-3 can pass MTD reco geometry construction now. We move to the next issue. Gdoc is updaetd.

[2022-02-15 15:04] pcanal commented on #36908
Thanks @Dr15Jones @dan131riley @smuzaffar @makortel, I am now able to reproduce the problem even outside of CMSSW and started looking for a solution (In this case the problem is the rules needs to be applied to a data member nested inside an object nested inside an STL collection that is a new data member of the class `reco::HaloClusterCandidateHCAL`, since it is a "new" member compared to the lay

[2022-02-15 16:51] srimanob commented on #36837
The fix on GEM RECO geometry construction comes in https://github.com/cms-sw/cmssw/pull/36941

[2022-02-15 16:53] cvuosalo commented on #36837
The fix for MTD in #36970 looks good. Thanks @fabiocos. I'll create an issue for the possible re-design of `Geometry/MTDNumberingBuilder/src/GeometricTimingDet.cc`, as mentioned by Fabio: https://github.com/cms-sw/cmssw/issues/36837#issuecomment-1040047156

[2022-02-15 17:05] cvuosalo opened #36973 "[Phase 2] [MTD] Simplify design of GeometricTimingDet -- low priority"
The GeometricTimingDet in `Geometry/MTDNumberingBuilder/src/GeometricTimingDet.cc` is not used yet by MTD.

@fabiocos has said about this class:

"To my knowledge this was brutally copied from the tracker code but it is not used in reality so far, and will have to be reviewed when thinking to a persistent geometry model. The sensitive elements of MTD are always simple boxes. In any case I do not s

[2022-02-15 17:06] cmsbuild commented on #36973
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-15 17:10] cvuosalo commented on #36973
assign mtd-dpg

[2022-02-15 17:11] cmsbuild commented on #36973
New categories assigned: mtd-dpg

@fabiocos,@parbol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-15 18:54] makortel commented on #34353
Summarizing recent chat with @Dr15Jones. The `initializeGlobalCache()` is called from
https://github.com/cms-sw/cmssw/blob/237990abccd28fc1368afed503866453478bf104/FWCore/Framework/interface/stream/makeGlobal.h#L30-L32
that is called from (e.g., limiting now to EDProducers)
https://github.com/cms-sw/cmssw/blob/237990abccd28fc1368afed503866453478bf104/FWCore/Framework/interface/stream/ProducingModu

[2022-02-15 19:23] mmusich commented on #36808
this is solved by https://github.com/cms-sw/cmssw/pull/36819 right?
@cms-sw/reconstruction-l2 please sign and close.

[2022-02-15 19:23] mmusich commented on #36804
this is solved by https://github.com/cms-sw/cmssw/pull/36819 right?
https://github.com/orgs/cms-sw/teams/reconstruction-l2 please sign and close.

[2022-02-15 19:24] mmusich commented on #36761
@jpata please clarify if this is still relevant after the follow-up of review of  PR https://github.com/cms-sw/cmssw/pull/36660

[2022-02-15 20:16] dan131riley commented on #36908
@pcanal possibly related, with ROOT6 master I'm getting an error
[code]
reading some older step2 output.  The `Run3ScoutingParticle` class was recently updated, [adding several new member data](https://github.com/cms-sw/cmssw/commit/4dfe1fb3b25a3b4d647ad4560953cc473697321b), and the read size difference is roughly consistent with the change in size of the class.  There is no ioread rule in this ca

[2022-02-15 20:33] pcanal commented on #36908
It looks different.  Can you tell me how to reproduce this one?  Thanks.

[2022-02-15 22:03] cvuosalo opened #36978 "[DD4hep] Migrate runDDDvsDBGeometryValidation.sh test script to DD4hep -- low priority"
`Validation/Geometry/test/dddvsdb/runDDDvsDBGeometryValidation.sh` is a script that can be run by an expert user to compare new geometry DB payloads with existing ones in the DB. It is helpful when checking newly created geometry DB payloads. The current script uses DDD instead of DD4hep, so it should be migrated to DD4hep.

This task is not urgent since we hope there will be no need to create new

[2022-02-15 22:04] cmsbuild commented on #36978
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-15 22:05] cvuosalo commented on #36978
assign geometry

[2022-02-15 22:05] cmsbuild commented on #36978
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-15 22:43] dan131riley commented on #36908
On cmsdev{20-25}, do
[code]
It only seems to reproduce if the input file is written with split level set to 0.

[2022-02-16 01:13] makortel commented on #36938
Thanks @fwyzard for detailed reply. I used an EDAnalyzer just as an example, and indeed any other module outside of the trigger paths would serve as a similar example purpose as well.

It seems to me that the fundamental scheduling issue is not really specific to OutputModules, and that with Tasks there would still be a strong relationship between the modules directly in the Path and the modules i

[2022-02-16 08:47] jpata commented on #36761
Good question, I was wondering the same. In the Phase2 modules, the following functions may be something to look at
- `Phase2EndcapRing::computeCrossings` vs. `TIDRing::computeCrossings`
- `Phase2EndcapRing::searchNeighbors` vs. `TIDRing::searchNeighbors`
On the other hand, to some extent this is already the case for Phase1 modules, so perhaps it's fine.

[2022-02-16 08:47] #36761 closed

[2022-02-16 14:41] perrotta opened #36982 "Build CMSSW_12_3_0_pre5"

[2022-02-16 14:47] cmsbuild commented on #36982
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-02-16 14:47] cmsbuild commented on #36982
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-02-16 14:47] cmsbuild commented on #36982
The build has started for cs8_amd64_gcc10 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3369/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-02-16 14:48] cmsbuild commented on #36982
The build has started for slc7_amd64_gcc11 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3371/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-02-16 14:51] cmsbuild commented on #36982
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3372/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-02-16 14:55] cmsbuild commented on #36982
The build has started for slc7_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3373/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-02-16 17:06] cmsbuild commented on #36982
The build has started for slc7_ppc64le_gcc11 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3375/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-02-16 17:18] fwyzard commented on #36938
Seems like a reasonable approach -- but I'll need some time to think about the possible implications, especially when we need to "mix" the HLT with other steps like the L1 emulation, use of DQM modules, _etc._

@Martin-Grunewald @missirol what do you think ?

[2022-02-16 17:35] fabiocos commented on #36973
@cvuosalo may be there was a misunderstanding: ```GeometricTimingDet``` in itself is indeed used everywhere in the MTD geometry construction, as can be easily seen in LXR. What is unused is the part of the code building it from a persistent object, because we have never worked on that and the geometry is dynamically rebuild from xml at every run, so the corresponding code is just adapted from trac

[2022-02-16 17:53] missirol commented on #36938
I think it sounds like a good approach (thanks, Matti). If there is a prototype, or a way to test it, I'm happy to give it a try.

I'm not the best person to comment on ConfDB, but ConfDB supports Tasks, and if this approach results in just having to use `cms.[TaskNewName]` instead of `cms.Task`, I imagine it would not be a problem.

[2022-02-16 19:07] cmsbuild commented on #36982
The was an error for slc7_ppc64le_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_ppc64le_gcc11/3375

[2022-02-16 21:28] cmsbuild commented on #36982
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_amd64_gcc10/3370
Some tests

[2022-02-16 21:32] cmsbuild commented on #36982
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_amd64_gcc11/3371
Some tests

[2022-02-16 21:50] cmsbuild commented on #36982
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-cs8_amd64_gcc10/3369
Some tests (

[2022-02-16 22:18] cmsbuild commented on #36982
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_amd64_gcc10/3370

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-16 22:21] cmsbuild commented on #36982
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_amd64_gcc11/3371

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-16 22:28] cmsbuild commented on #36982
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-cs8_ppc64le_gcc11/3374
Some tes

[2022-02-16 22:39] cmsbuild commented on #36982
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-cs8_amd64_gcc10/3369

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-16 23:34] cmsbuild commented on #36982
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-cs8_ppc64le_gcc11/3374

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-17 08:37] Martin-Grunewald commented on #36938
Seems ok to work. Indeed I need to correct my statement: adding an EDAnalyzer should not trigger execution of producers, the EDAnalyzer should fail gracefully if the collection is not there.

In fact, for the Scouting triggers, we have a set of 'packer modules' which pack up event info in a condensed dataformat. Also these producers, currently run in an EndPath just in front of an OM, should NOT t

[2022-02-17 09:41] qliphy commented on #36982
@smuzaffar  builds on aarch64 seem to be stuck, would you please have  a check?  And do we need to worry about failures on ppc64le?

[2022-02-17 09:47] cmsbuild commented on #36982
The was an error for cs8_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-cs8_aarch64_gcc11/3372

[2022-02-17 09:48] cmsbuild commented on #36982
The was an error for slc7_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_aarch64_gcc11/3373

[2022-02-17 09:51] smuzaffar commented on #36982
for aarch64, one package was stuck to build . I have killed the process and restarted the aarch64 build.
ppc64le build node (ibmminsk-3) had cvmfs issues. I have asked Openlab team to fix it, I am also restarting ppc64le build on a different node now.

[2022-02-17 09:53] cmsbuild commented on #36982
The build has started for slc7_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3376/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-02-17 09:53] cmsbuild commented on #36982
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3378/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-02-17 09:54] cmsbuild commented on #36982
The build has started for slc7_ppc64le_gcc11 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3377/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-02-17 10:01] smuzaffar commented on #36982
by the way aarch64 and ppc64le release might take 4 more hours to build so if release is urgently needed then feel free to upload/announce it.