[2021-01-12 14:55] jfernan2 commented on #32643
For dqm sequences it seems only the Physics DQM require EI:
https://github.com/cms-sw/cmssw/blob/caa48369fc0e28abc8536b955ddb93348b660cd0/DQM/Physics/python/DQMPhysics_cff.py

[2021-01-12 15:01] seungjin-yang commented on #32634
@jshlee

[2021-01-12 15:10] seungjin-yang commented on #32634
Firstly, look for this file. [L1Trigger/L1TMuonEndCap/python/simEmtfDigis_cfi.py](https://github.com/cms-sw/cmssw/blob/CMSSW_11_2_0/L1Trigger/L1TMuonEndCap/python/simEmtfDigis_cfi.py#L128-L138)
We need to replace `GEMInput` of `simEmtfDigisData` (L1TMuonEndCapTrackProducer) with the real data versioned one.

But I can’t find `GEMPadDigiClusterProducer` for real data. [L1Trigger/L1TGEM/python/simMu

[2021-01-12 15:19] srimanob commented on #32643
Thanks, @jfernan2

If my memory is correct, the EI was introduced since long before PAT was still known as the analysis tool, not part of the central sequence. Cleaning objects were still analysis dependent job using the tool. I think if people want to validate the object nowadays, MiniAOD object is a good candidate as it is used for analysis, not EI object.

Maybe @rappoccio can comment.

[2021-01-12 15:41] rappoccio commented on #32643
There's still an argument for using some kind of lepton cleaning. MiniAOD doesn't do lepton cleaning by default either, so perhaps we could migrate the DQM modules that use it (like TOP) to do lepton cleaning on MiniAOD instead?

[2021-01-12 15:52] dan131riley commented on #32086
We're also seeing testFWCoreConcurrency failing on slc7_aarch64_gcc9

[code]

[2021-01-12 15:53] rappoccio commented on #32643
To be clear, I agree that removing EI from the sequence is appropriate.

[2021-01-12 16:26] jfernan2 commented on #32643
Adding TOP DQM contact: @kuyoun

[2021-01-12 16:48] kpedro88 opened #32646 "Intermittent failures in DD4hep test workflow"
I've seen this issue in unrelated PRs at least twice now:
https://github.com/cms-sw/cmssw/pull/32576#issuecomment-754892923
https://github.com/cms-sw/cmssw/pull/32574#issuecomment-758782363

[2021-01-12 16:48] kpedro88 commented on #32646
assign geometry

[2021-01-12 16:48] cmsbuild commented on #32646
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-12 16:48] cmsbuild commented on #32646
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-12 17:07] qliphy commented on #32465
As discussed at today's ORP, this issue can be closed now.  11_2_0 validation is successful according to PPD report on Jan 7th.

[2021-01-12 17:07] #32465 closed

[2021-01-12 17:30] cvuosalo commented on #32646
@civanch Could you please take a look at these errors? How might they be caused?

[2021-01-12 17:32] cvuosalo commented on #32646
assign simulation

[2021-01-12 17:33] cmsbuild commented on #32646
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-12 17:39] civanch commented on #32646
I would guess, that this happens just now after recent PRs were merged. @cvuosalo , @hugo83, @bsunanda do you agree or it is something else?

[2021-01-12 17:54] cvuosalo commented on #32646
@civanch I noticed some sporadic errors in my own tests of the workflow last month, so the instability has been present for a while. But the errors were not reproducible.

[2021-01-12 17:55] dan131riley commented on #32086
We're also seeing intermittent crashes in InputTag_t on slc7_aarch64_gcc9, which is how #32649 came about (I don't expect the PR to fix the unit test, but it at least simplifies things a bit).
[code]

[2021-01-12 21:42] kpedro88 commented on #32630
See: https://github.com/cms-sw/cmsdist/pull/6547

[2021-01-13 10:22] mmusich commented on #31920
@civanch, could you please let me know if you have further debugged this problem?
Thanks

[2021-01-13 11:04] civanch commented on #31920
@mmusich , before the winter break I have started to fix the problem may be not in an optimal way - too general, which require more coherent changes in base classes. I will restart soon with a simple fix.

[2021-01-13 14:13] makortel opened #32653 "Invalid CTPPSDetId error in 11624.911"
Workflow 11624.911 step 1 failed in CMSSW_11_3_X_2021-01-12-2300 and in CMSSW_11_3_X_2021-01-12-1100 with an exception
[code]

[2021-01-13 14:14] makortel commented on #32653
assign simulation, geometry

[2021-01-13 14:14] cmsbuild commented on #32653
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@makortel,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-13 14:14] cmsbuild commented on #32653
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-13 14:42] silviodonato opened #32654 "GEN-SIM datasets for GPU workflows"
As discussed at the last ORP meeting, we would like to use already-existing GEN-SIM files in order to speed up the GPU tests.
I tried to run `runTheMatrix.py -w gpu --useInput=all --maxStep=2`.
Everything is ok for workflows based on data (`136.885502`, `136.885512`, `136.885522`, `136.888502`, `136.888512`, `136.888522`)

Input files are missing for MC wf: `10824.502`, `10824.512`, `10824.522`, `

[2021-01-13 14:43] cmsbuild commented on #32654
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-13 14:43] silviodonato commented on #32654
assign pdmv

[2021-01-13 14:43] cmsbuild commented on #32654
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-13 14:52] fwyzard commented on #32654
Shouldn't we use the relvals from `CMSSW_11_3_0_pre1` instead of thos from `CMSSW_11_2_0_pre8` ?

[2021-01-13 14:56] chayanit commented on #32654
Hello @silviodonato , this is a bit odd as I have produced all of them. https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=%2FRelVal*%2FCMSSW_11_2_0_pre8-112X_upgrade2018_realistic_v4-v1%2FGEN-SIM They should exist.

@fwyzard , this is because the string on master is still based on CMSSW_11_2_0_pre8 https://github.com/cms-sw/cmssw/blob/master/Configuration/PyRelease

[2021-01-13 15:04] fwyzard commented on #32654
I see.

Should we update it ?

[2021-01-13 15:08] chayanit commented on #32654
We will update it but not on the first pre-release. We normally do when it comes to almost the closed cycle. Is that ok?

[2021-01-13 15:11] davidlange6 commented on #32654
What’s the harm in updating it regularly as new gem-sim becomes available (thus finding generation or simulation bugs faster)

[2021-01-13 15:17] chayanit commented on #32654
Because we don't produce all samples for IB test regularly. We only produce part of them.

[2021-01-13 15:20] silviodonato commented on #32654
@chayanit , you are right the samples are there. Indeed there are no errors using `runTheMatrix.py -w gpu --useInput=all --maxStep=2 --ibeos`

[2021-01-13 15:20] #32654 closed

[2021-01-13 15:27] Dr15Jones opened #32657 "Over-read in JetCorrectorParameters"
The _add-on_ tests in the CMSSW_11_3_ASAN_X_2021-01-11-2300 build show memory over reads happening in JetCorrectorParameters.

[2021-01-13 15:28] cmsbuild commented on #32657
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-13 15:28] Dr15Jones commented on #32657
The link to one of the failing jobs is
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ASAN_X_2021-01-11-2300/addOnTests/logs/cmsDriver-hlt_mc_Fake_cmsRun__cvmfs_cms-ib.cern.ch_nweek-02663_slc7_amd64_gcc900_cms_cmssw_CMSSW_11_3_ASAN_X_2021-01-11-2300_src_HLTrigger_Configuration_test_OnLine_HLT_Fak.log#/

With the problem being
[code]

[2021-01-13 15:29] Dr15Jones commented on #32657
assign reconstruction

[2021-01-13 15:29] cmsbuild commented on #32657
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-13 15:31] Dr15Jones commented on #32657
I traced the problem down to the less than operator of JetCorrectorParameters::Record

https://github.com/cms-sw/cmssw/blob/691f69055ce6a102f656dd08d58828a506d3da81/CondFormats/JetMETObjects/interface/JetCorrectorParameters.h#L81-L91

The memory over-read happens when `xMin(1)` is called as the `std::vector<float>` being read only has 1 entry.

[2021-01-13 15:37] Dr15Jones commented on #32657
I attempted to fix the problem by making `operator<` handle the case where one or both of the Records had less than 3 entries.
[code]

That change led to the job (hlt_mc_Fake) emitting the messages
[code]

It appears that a more detailed investigation by a domain expert is probably needed to fix the problem.

[2021-01-13 15:41] Dr15Jones commented on #32657
To reproduce the problem, I ran the two jobs from the hlt_mc_Fake scenario in CMSSW_11_3_X_2021-01-11-2300 (I was unable to use the ASAN release as the machine I was using would not allow me to increase the virtual memory limit needed to build the code):

[code]

[code]

[2021-01-13 16:57] perrotta commented on #32657
@Dr15Jones the very same log message in https://github.com/cms-sw/cmssw/issues/32657#issuecomment-759529081 is there even with the code in the baseline, without your suggested modifications: they are therefore not responsible of it.

[2021-01-13 17:00] perrotta commented on #32657
By the way, your fix my fail if (e.g.) `sz =2` and `otherSz = 1`

A possible escape could be
[code]

[2021-01-13 17:27] cvuosalo commented on #32653
I have reproduced the error and am investigating it further.

[2021-01-13 18:37] cvuosalo commented on #32653
@ianna This error is due to the PPS source code searching for a physical volume with name "RP_box_primary_vacuum" while the DD4hep name is "RP_Box_023:RP_box_primary_vacuum_10023". What is the best way to perform a search for a physical volume name that will work for both old DD and DD4hep?

[2021-01-13 19:14] Dr15Jones commented on #32657
See #32659 which uses a modified version of @perrotta suggested change.

[2021-01-13 21:39] Dr15Jones commented on #27553
@hatakeyamak any progress on this?

[2021-01-13 21:56] kpedro88 commented on #32630
@makortel I no longer see the errors in the build log for CMSSW_11_3_UBSAN_X_2021-01-12-2300, so I think this fix was successful.

[2021-01-13 22:42] makortel commented on #32630
Which is interesting given that  cms-sw/cmsdist#6547 was merged only in CMSSW_11_3_X_2021-01-13-1100. Not sure why the failure disappeared earlier :)

[2021-01-13 22:42] makortel commented on #32630
+1

[2021-01-13 22:43] cmsbuild commented on #32630
This issue is fully signed and ready to be closed.

[2021-01-13 22:45] #32630 closed

[2021-01-13 22:51] kpedro88 commented on #32630
@makortel if you click on the "CMSDIST" tab in the "Commits" section of https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_3_X for that IB, you can select the UBSAN version of cmsdist, which does include my PR.

[2021-01-13 22:58] makortel commented on #32630
Ah right, and it went into the default IBs one cycle later. Thanks!

[2021-01-13 23:40] cvuosalo commented on #32653
Fixed in PR #32667.

[2021-01-14 12:55] dpiparo commented on #32546
Hi all, perhaps this got a bit stuck during the holiday?

[2021-01-14 14:09] danbarto commented on #32546
Hi, sorry I missed being mentioned in this thread. I think having the same calculation twice was there historically and hasn't been updated. I have no objections to calculating the diagonal elements just once and adding the same value to cov_xx and cov_yy.

[2021-01-14 15:49] silviodonato opened #32670 "Build CMSSW_10_6_20_patch1"

[2021-01-14 15:49] cmsbuild commented on #32670
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-01-14 15:56] silviodonato commented on #32670
+1

[2021-01-14 15:56] cmsbuild commented on #32670
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_20_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-01-14 15:56] cmsbuild commented on #32670
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-01-14 15:58] cmsbuild commented on #32670
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2837/console
CMSDIST Branch: [REL/CMSSW_10_6_20/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_20/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-14 15:58] cmsbuild commented on #32670
The build has started for slc7_amd64_gcc700 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2836/console
CMSDIST Branch: [REL/CMSSW_10_6_20/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_20/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-14 16:29] cmsbuild commented on #32670
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_20_patch1-slc7_amd64_gcc820/2837
Some

[2021-01-14 16:47] cmsbuild commented on #32670
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_20_patch1-slc7_amd64_gcc700/2836
Some

[2021-01-14 17:03] silviodonato commented on #32670
upload all

[2021-01-14 17:03] cmsbuild commented on #32670
Queing Jenkins upload for slc7_amd64_gcc700

[2021-01-14 17:03] cmsbuild commented on #32670
Queing Jenkins upload for slc7_amd64_gcc820

[2021-01-14 17:06] cmsbuild commented on #32670
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1800/console

[2021-01-14 17:07] cmsbuild commented on #32670
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_20_patch1-slc7_amd64_gcc700/1800

[2021-01-14 17:07] cmsbuild commented on #32670
The upload has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1801/console

[2021-01-14 17:07] cmsbuild commented on #32670
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_20_patch1-slc7_amd64_gcc820/1801

[2021-01-14 17:09] cmsbuild commented on #32670
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_20_patch1-slc7_amd64_gcc820/2837

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-14 17:11] hatakeyamak commented on #27553
No unfortunately, but I will bump up the priority for it.

[2021-01-14 17:28] cmsbuild commented on #32670
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_20_patch1-slc7_amd64_gcc700/2836

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-14 19:55] cvuosalo commented on #32653
+1

[2021-01-14 19:57] #32653 closed

[2021-01-15 07:14] civanch commented on #32646
This error has been discussed with expert in Geant4 tracking. It happens due to negative step length -1 mm, which is huge and is not related to precision lost. From my point of view, it is an indication that there is a broken geometry. Position of the initial point (-538.967161 604.098226 -167.072581), particle is e- of 6 keV.

[2021-01-15 08:30] silviodonato commented on #32670
release-notes

[2021-01-15 08:31] cmsbuild commented on #32670
Generating release notes since CMSSW_10_6_20.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-01-15 08:31] cmsbuild commented on #32670
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_20_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_20 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_20_patch1

Cheers,
cms-bot

You can also click <a h

[2021-01-15 08:34] cmsbuild commented on #32670
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_20_patch1

[2021-01-15 08:41] #32670 closed

[2021-01-15 18:44] pcanal commented on #32444
@makortel What is the status here? (me waiting for you or you waiting for me ? :) )

[2021-01-17 05:16] srimanob commented on #32050
Hi @adas1994
Could you please update the status on further bug fix (if plan), or further investigation on this premixing issue on your side? Thanks in advance.

[2021-01-18 09:27] adas1994 commented on #32050
Sorry for the late reply Phat. The status is that I am stuck in the testing
phase of my freshly written code. The issue is that - for high PU, the code
is facing segmentation fault in the DIGI step. But when I try running it
using Valgrind to figure out potential memory leak issue, it does run
smoothly without any segmentation violation. So, I have not been able to
pinpoint the issue so far.

On S

[2021-01-18 09:51] srimanob commented on #32050
Thanks, @adas1994 for updating us the status. Is the issue come with a specific event, or since the first event? If you control the set of random numbers, it may help to pinpoint the issue.

[2021-01-18 14:25] slava77 commented on #32356
It would be nice to get some more explicit feedback.

@silviodonato
before trying to revert #32352, please remind me which workflow #s were failing so that a check can be done with the bot.

[2021-01-18 15:06] silviodonato commented on #32356
@slava77 looking at https://github.com/cms-sw/cmssw/issues/32340 almost all Run-3 workflows were crashing. The problem was that the crash happens after more than 100 events.
In `/afs/cern.ch/work/s/sdonato/public/debug_PPS/badd237c-4857-4f48-b10f-52c832f57f02_ev1126.root` I selected a single GEN-SIM-DIGI-RAW event causing the cras (taken from `root://cms-xrd-global.cern.ch//store/relval/CMSSW_11_2

[2021-01-18 15:19] slava77 commented on #32356
@mundim @fabferro
do we have a more specific PPS simulation workflow where some inputs to the PPS proton reconstruction can appear in the first (few) events?

[2021-01-18 15:36] chayanit commented on #32356
Yes, this dataset is 11634.0

[2021-01-18 15:53] fabferro commented on #32356
It's not fully clear to me why the crash happens after ~100 events. The only reason I can imagine is that no proton needs to be propagated in the first ~100 events, therefore I can't indicate a "better" workflow.
As to the issue of the missing record (LHCInfo), we have prepared the proper sqlite file, going to test it and then send it for imlementation in the GT. Sorry for being late.

[2021-01-18 17:01] adas1994 commented on #32050
When I run without Valgrind - It often crashes via segmentation fault on
the 2nd event; sometimes in the 3rd or 4th or 5th event #PU=200.
With Valgrind - I ran upto 20 events with #PU=400 without a crash.

My best guess thus far is that - I modified the class PHGCSimAccumulator in
https://github.com/adas1994/cmssw/blob/segfault_branch/DataFormats/HGCDigi/interface/PHGCSimAccumulator.h
which is ver

[2021-01-18 17:23] kpedro88 commented on #32050
@adas1994 valgrind is often not the most helpful tool to debug segmentation violations. Instead, it's better to recompile with debug symbols and run using gdb to get more insight into the stack trace.

To recompile with debug symbols:
[code]

To run with GDB:
[code]

[2021-01-18 18:47] mundim commented on #32356
Hi @slava77. There are two possible ways to do it, using a particle gun that shoots protons inside the acceptance of PPS or using ExHume also inside the PPS phase space. What do you prefer, I can send you a piece of configuration for either one.

[2021-01-18 18:47] adas1994 commented on #32050
@kpedro88 Does this "backtrace" command create some outputfile that I would
have to parse in the next step for navigating to frames etc.?

On Mon, Jan 18, 2021 at 12:24 PM Kevin Pedro <notifications@github.com>
wrote:

--
Sincerely,

Abhishek Das.

[2021-01-18 18:48] kpedro88 commented on #32050
backtrace will print text similar to what you see from a regular stack trace from a segfault; the number of each line in the backtrace corresponds to its frame. There are various gdb tutorials online.

[2021-01-18 18:51] mundim commented on #32356
Sorry, I could not find the error messages, can you point me to them, please? Maybe I can have a more precise idea looking at them. Thanks.

[2021-01-18 19:16] slava77 commented on #32356
Either way (a gun or ExHume sound fine). I was looking -- at least eventually -- for a numbered workflow in the runTheMatrix.py

[2021-01-18 20:07] mundim commented on #32356
To where do you want me to send the piece of python config? Here or to your email?

[2021-01-18 20:49] slava77 commented on #32356
@cms-sw/pdmv-l2
should be able to point to the right places
IIUC, it will involve Configuration/PyReleaseValidation/python/relval_upgrade.py, Configuration/PyReleaseValidation/python/relval_steps.py, Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
and if this requires a new GEN fragment, I guess it will also be a file in Configuration/Generator/python/ to be coordinated with

[2021-01-18 20:51] slava77 commented on #30597
@smuzaffar is there a team for generators?

[2021-01-18 20:55] smuzaffar commented on #30597
yes there is @cms-sw/generators-l2

[2021-01-18 21:09] slava77 commented on #30597
I'm getting a 404 at https://github.com/orgs/cms-sw/teams/generators-l2

[2021-01-18 21:14] smuzaffar commented on #30597
can you see teams other teams which you are not member of e.g. https://github.com/orgs/cms-sw/teams/l1-l2 ?

[2021-01-18 21:16] slava77 commented on #30597
I can see https://github.com/orgs/cms-sw/teams/l1-l2

[2021-01-18 21:19] slava77 commented on #30597
my questions started after I couldn't tag generators in https://github.com/cms-sw/cmssw/issues/32356#issuecomment-762464596

[2021-01-18 21:19] smuzaffar commented on #30597
very strange, setting for both teams are identical and all member of cms-sw org should be able to see them

[2021-01-18 21:21] smuzaffar commented on #30597
try now, somehow the team was marked as secret. It should be fixed now.

[2021-01-18 21:30] slava77 commented on #30597
it works now.
Thank you.

[2021-01-19 05:53] chayanit commented on #32356
@mundim here is the list of python configs included already in runTheMatrix. If your config is not yet there, you will need to include one (suggest at the bottom to not ruin the order of workflow ID). https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py#L1165

[2021-01-19 09:18] silviodonato opened #32680 "Bug (?) in the Delta column of profiling comparison"
Looking at https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-01e94b/12334/summary.html,
I noticed that *all* entries show an increase in the Delta column (see [RES_CPU_compare_23434.21.txt](https://github.com/cms-sw/cmssw/files/5834805/RES_CPU_compare_23434.21.txt) ). This is not possible if we consider Delta as the difference of the fraction of CPU usage (ie. moduleTimeAfte

[2021-01-19 09:18] silviodonato commented on #32680
assign core

[2021-01-19 09:18] cmsbuild commented on #32680
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-19 09:18] cmsbuild commented on #32680
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-19 11:04] silviodonato commented on #32680
The example is taken from https://github.com/cms-sw/cmssw/pull/32673#issuecomment-762515936

[2021-01-19 11:31] silviodonato commented on #32592
It looks like #32633 went smoothly, without errors.
A backport to 11_2_X is not strictly necessary, but it might be useful for the MWGR.

[2021-01-19 11:44] silviodonato commented on #32428
Issue solved by #32650.
The GPU tests runs, currently, 10824.502,10824.512 https://github.com/cms-sw/cms-bot/blob/master/cmssw-pr-test-config#L2

[2021-01-19 13:40] makortel commented on #32680
@gartung Could you take a look?

[2021-01-19 13:54] fwyzard commented on #32428
Now that https://github.com/cms-sw/cmssw/pull/31719 has been merged, we should add the `.522` workflow to the GPU tests.

I'm kind of lost about the technical details: do we add it to the matrix, or to the bot configuration ?

[2021-01-19 16:00] mundim commented on #32356
@chayanit Thanks. It seems the fragment is not there, but I'm afraid I have not understood the syntax to include it. I'll have a look at the other fragments to see if some adaptation is needed, but could someone give me the instructions about how to include it, please? Thanks.

[2021-01-19 16:08] gartung commented on #32680
This is where the difference is calculated
https://github.com/cms-cmpwg/profiling/blob/e103d64aa3f7c096934978dfa2a3ef894dd74311/Analyze_tool/compare_cpu_txt.py#L255

[2021-01-19 16:51] gartung commented on #32680
The round function is removing the sign of the change for some reason.

[2021-01-19 16:55] gartung commented on #32680
I assume the total times are correct. I think I figured out the bug that drops the sign. This is what I get with the latest script.
[code]

[2021-01-19 17:06] gartung commented on #32680
That calculation was incorrect so I removed it.

[2021-01-19 17:23] gartung commented on #32680
I had the columns swapped between old and new. These are the new results.
[code]

[2021-01-19 17:28] gartung commented on #32680
Fix was here
https://github.com/cms-cmpwg/profiling/blob/e103d64aa3f7c096934978dfa2a3ef894dd74311/Analyze_tool/compare_cpu_txt.py#L196

[2021-01-19 20:32] dan131riley commented on #32181
I think the ASAN problem comes from the dd4hep plugin manager trying to use the type of the `DDDefinition_XML_reader` plugin before the plugin has been loaded.  It is unrelated to the other exception.  Unfortunately, I don't see an obvious way to fix it.

[2021-01-19 20:40] silviodonato opened #32686 "Build CMSSW_11_3_0_pre2"

[2021-01-19 20:40] cmsbuild commented on #32686
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-01-19 20:41] silviodonato commented on #32686
+1

[2021-01-19 20:41] cmsbuild commented on #32686
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-01-19 20:41] cmsbuild commented on #32686
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2021-01-19 20:42] cmsbuild commented on #32686
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2839/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-19 20:42] cmsbuild commented on #32686
The build has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2838/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-19 20:43] cmsbuild commented on #32686
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2840/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-19 20:43] cmsbuild commented on #32686
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2841/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-19 20:43] cmsbuild commented on #32686
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2842/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-19 21:43] makortel commented on #32444
@pcanal and I had a short chat. We could check in `RootErrorHandlerImpl` the value of `gErrorIgnoreLevel` if the message was intended to be ignored or not by the surrounding code (in this case it is).

The reason for not needing (anymore) dictionaries for non-top-level-product `std::pair<X, Y>` is in the patches that fixed the crashes we saw in https://github.com/cms-sw/cmssw/issues/31023.

[2021-01-20 01:53] cmsbuild commented on #32686
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-cc8_ppc64le_gcc9/2841
Some tests

[2021-01-20 02:05] cmsbuild commented on #32686
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-slc7_aarch64_gcc9/2840
Some tes

[2021-01-20 02:46] cmsbuild commented on #32686
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-slc7_ppc64le_gcc9/2842
Some tes

[2021-01-20 03:06] cmsbuild commented on #32686
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-slc7_aarch64_gcc9/2840

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-20 03:11] cmsbuild commented on #32686
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-cc8_amd64_gcc9/2838
Some tests ( r

[2021-01-20 03:12] cmsbuild commented on #32686
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-cc8_ppc64le_gcc9/2841

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 3 2 17 2 0 0 0 0 0 failed

[2021-01-20 03:54] cmsbuild commented on #32686
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-slc7_ppc64le_gcc9/2842

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-01-20 03:54] cmsbuild commented on #32686
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-cc8_amd64_gcc9/2838

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-20 04:09] cmsbuild commented on #32686
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-slc7_amd64_gcc900/2839
Some tes

[2021-01-20 04:54] cmsbuild commented on #32686
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2-slc7_amd64_gcc900/2839

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-20 05:20] chayanit commented on #32356
@mundim , when you have your GEN fragment, you will need add it to two place
- Configuration/Generator/python/ which will be approved by @cms-sw/generators-l2
- Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py : to call your GEN fragment and enable it in runTheMatrix as a new workflow added. You should add it below this line in a similar style https://github.com/cms-sw/cmssw/b

[2021-01-20 08:12] silviodonato commented on #32686
upload all

[2021-01-20 08:13] cmsbuild commented on #32686
Queing Jenkins upload for cc8_amd64_gcc9

[2021-01-20 08:13] cmsbuild commented on #32686
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-01-20 08:13] cmsbuild commented on #32686
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-01-20 08:13] cmsbuild commented on #32686
Queing Jenkins upload for slc7_amd64_gcc900

[2021-01-20 08:13] cmsbuild commented on #32686
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-01-20 08:13] cmsbuild commented on #32686
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1803/console

[2021-01-20 08:14] cmsbuild commented on #32686
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1804/console

[2021-01-20 08:14] cmsbuild commented on #32686
The upload has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1805/console

[2021-01-20 08:14] cmsbuild commented on #32686
The upload has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1802/console

[2021-01-20 08:15] cmsbuild commented on #32686
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre2-slc7_aarch64_gcc9/1804

[2021-01-20 08:15] cmsbuild commented on #32686
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre2-cc8_ppc64le_gcc9/1803

[2021-01-20 08:15] cmsbuild commented on #32686
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1806/console

[2021-01-20 08:17] cmsbuild commented on #32686
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre2-slc7_ppc64le_gcc9/1806

[2021-01-20 08:20] cmsbuild commented on #32686
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre2-cc8_amd64_gcc9/1802

[2021-01-20 08:21] cmsbuild commented on #32686
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre2-slc7_amd64_gcc900/1805

[2021-01-20 09:50] silviodonato commented on #32686
release-notes

[2021-01-20 09:51] cmsbuild commented on #32686
Generating release notes since CMSSW_11_3_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-01-20 09:51] cmsbuild commented on #32686
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre

[2021-01-20 09:55] cmsbuild commented on #32686
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre2

[2021-01-20 10:12] #32686 closed

[2021-01-20 10:14] silviodonato opened #32689 "Build CMSSW_11_3_0_pre2_SCRAMV3"
CMSSW_COMMIT:CMSSW_11_3_0_pre2

[2021-01-20 10:14] cmsbuild commented on #32689
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-01-20 10:16] silviodonato commented on #32689
+1

[2021-01-20 10:16] cmsbuild commented on #32689
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre2_SCRAMV3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-01-20 10:16] cmsbuild commented on #32689
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-01-20 10:17] cmsbuild commented on #32689
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2843/console
CMSDIST Branch: [IB/CMSSW_11_3_X/scramv3](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/scramv3), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-20 10:17] smuzaffar commented on #32689
@silviodonato , can we also start CMSSW_11_3_0_pre2_PY3 please

[2021-01-20 10:19] silviodonato opened #32691 "Build CMSSW_11_3_0_pre2_PY3"
CMSSW_COMMIT:CMSSW_11_3_0_pre2

[2021-01-20 10:19] cmsbuild commented on #32691
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-01-20 10:19] silviodonato commented on #32691
+1

[2021-01-20 10:20] cmsbuild commented on #32691
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre2_PY3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_DEVEL_X

[2021-01-20 10:20] cmsbuild commented on #32691
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-01-20 10:21] cmsbuild commented on #32691
The build has started for slc7_amd64_gcc900 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2844/console
CMSDIST Branch: [IB/CMSSW_11_3_X/py3](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/py3), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-20 10:23] smuzaffar commented on #32691
@silviodonato , we shiould not use `CMSSW_COMMIT:CMSSW_11_3_0_pre2` for this. PY3 uses DEVEL branch. Please abort this and restart a one withwith the cmssw commit option

[2021-01-20 10:24] silviodonato commented on #32691
abort

[2021-01-20 10:25] cmsbuild commented on #32691
Deleting CMSSW_11_3_0_pre2_PY3:

  -Release successfully deleted

  -cmssw tag CMSSW_11_3_0_pre2_PY3 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_3_0_pre2_PY3/slc7_amd64_gcc900. Probaly it had not been created.

You must create a new issue to start over the build.

[2021-01-20 10:26] #32691 closed

[2021-01-20 10:26] silviodonato opened #32692 "Build CMSSW_11_3_0_pre2_PY3"

[2021-01-20 10:27] cmsbuild commented on #32692
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-01-20 10:28] silviodonato commented on #32692
+1

[2021-01-20 10:29] cmsbuild commented on #32692
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre2_PY3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_DEVEL_X

[2021-01-20 10:29] cmsbuild commented on #32692
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-01-20 10:31] cmsbuild commented on #32692
The build has started for slc7_amd64_gcc900 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2845/console
CMSDIST Branch: [IB/CMSSW_11_3_X/py3](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/py3), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-20 10:58] perrotta commented on #32546
Thank you @danbarto : I implemented what you suggest in #32693
While doing so, I also noticed that there are several computations and assignments in the same code which were uselessly performed when the jet pt is below threshold: in that PR those calculations are only made conditionally.

[2021-01-20 13:25] cmsbuild commented on #32689
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2_SCRAMV3-slc7_amd64_gcc900/2843

[2021-01-20 14:08] cmsbuild commented on #32689
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2_SCRAMV3-slc7_amd64_gcc900/2843

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-20 14:33] cmsbuild commented on #32692
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2_PY3-slc7_amd64_gcc900/2845
Some

[2021-01-20 15:15] cmsbuild commented on #32692
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre2_PY3-slc7_amd64_gcc900/2845

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-20 16:34] silviodonato commented on #32689
upload all

[2021-01-20 16:35] cmsbuild commented on #32689
Queing Jenkins upload for slc7_amd64_gcc900

[2021-01-20 16:38] silviodonato commented on #32689
release-notes since CMSSW_11_3_0_pre2

[2021-01-20 16:38] cmsbuild commented on #32689
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1807/console

[2021-01-20 16:41] cmsbuild commented on #32689
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre2_SCRAMV3-slc7_amd64_gcc900/1807

[2021-01-20 16:41] cmsbuild commented on #32689
Generating release notes since CMSSW_11_3_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-01-20 16:41] cmsbuild commented on #32689
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre2_SCRAMV3 is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_11_3_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre2_SCRAMV3

Cheers,
cms-bot

You can also click <a href="mail

[2021-01-20 16:41] silviodonato commented on #32692
upload all

[2021-01-20 16:42] cmsbuild commented on #32692
Queing Jenkins upload for slc7_amd64_gcc900

[2021-01-20 16:44] cmsbuild commented on #32689
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre2_SCRAMV3

[2021-01-20 16:44] cmsbuild commented on #32692
The upload has started for slc7_amd64_gcc900 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1808/console

[2021-01-20 16:46] cmsbuild commented on #32692
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre2_PY3-slc7_amd64_gcc900/1808

[2021-01-20 17:00] silviodonato commented on #32692
release-notes

[2021-01-20 17:00] cmsbuild commented on #32692
Previous release "" does not appear to be a valid release name

[2021-01-20 17:01] #32689 closed

[2021-01-20 17:01] silviodonato commented on #32692
release-notes since CMSSW_11_3_0_pre2

[2021-01-20 17:02] cmsbuild commented on #32692
Generating release notes since CMSSW_11_3_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-01-20 17:02] cmsbuild commented on #32692
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre2_PY3 is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_11_3_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre2_PY3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2021-01-20 17:02] cmsbuild commented on #32692
Generating release notes since CMSSW_11_3_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-01-20 17:02] cmsbuild commented on #32692
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre2_PY3 is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_11_3_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre2_PY3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2021-01-20 17:05] cmsbuild commented on #32692
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre2_PY3

[2021-01-20 17:06] cmsbuild commented on #32692
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre2_PY3

[2021-01-20 17:30] #32692 closed

[2021-01-21 01:27] makortel opened #32703 "Check EventSetup consumes information for circular dependencies"
@kpedro88 reported a job that freezes in CMSSW_11_2_0_pre10 in [mattermost](https://mattermost.web.cern.ch/cms-o-and-c/pl/gbz7s6kt9jrq9fde99n38w4cyh)
[code]
The stack trace looks like TBB runs out of tasks to run.

The cause turned out to be an error in one of the ESProducers added by `phase2_ecal_devel`: the ESProducer declared to consume the very same product it produces
https://github.com/cms-s

[2021-01-21 01:28] cmsbuild commented on #32703
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-21 01:28] cmsbuild commented on #32703
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-21 14:09] makortel commented on #32646
Here https://github.com/cms-sw/cmssw/pull/32576#issuecomment-764550520 is a different one, segfault in `__kernel_sincosl`
[code]

[2021-01-21 14:10] makortel commented on #32249
+1

I agree

[2021-01-21 14:10] cmsbuild commented on #32249
This issue is fully signed and ready to be closed.

[2021-01-21 14:31] Dr15Jones commented on #32703
Circular dependency checking in the ES system only requires checking for circular dependencies within the same Record, not across Records. The reason being is the Record dependency system is explicitly hierarchical by code construction.

[2021-01-21 15:36] Dr15Jones commented on #32646
@makortel we've been seeing the ppc related failure consistently. We really need access to a machine to attempt to debug what is happening.

[2021-01-21 17:18] makortel commented on #32646
Oh, it was PPC, missed that, thanks. Nevermind then (in this issue).

[2021-01-21 18:03] silviodonato opened #32709 "New producers and filters for the Phase 2 Muon HLT - Pending comments (#32699 and #32700)"
@khaosmos93  After #32699 and #32700, please implement/reply to the comments on #32699 and backport them to 11_1_X.

[2021-01-21 18:03] silviodonato commented on #32709
assign hlt, reconstruction

[2021-01-21 18:03] cmsbuild commented on #32709
New categories assigned: hlt,reconstruction

@slava77,@perrotta,@jpata,@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-21 18:03] cmsbuild commented on #32709
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-21 18:07] silviodonato opened #32710 "Build CMSSW_11_1_7"

[2021-01-21 18:07] cmsbuild commented on #32710
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-01-21 18:07] silviodonato commented on #32710
+1

[2021-01-21 18:07] cmsbuild commented on #32710
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2021-01-21 18:07] cmsbuild commented on #32710
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2021-01-21 18:08] cmsbuild commented on #32710
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2846/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-21 18:10] cmsbuild commented on #32710
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2848/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-21 18:10] cmsbuild commented on #32710
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2847/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-21 18:12] cmsbuild commented on #32710
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2849/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-21 18:47] perrotta commented on #32546
+1
-  Formally the issue could have been considered solved when @danbarto [confirmed](https://github.com/cms-sw/cmssw/issues/32546#issuecomment-760219905) that the calculation of those diagonal elements was indeed correct
- Furthermore, with #32693 the suggested code optimization, and a few more, were also integrated

[2021-01-21 18:47] cmsbuild commented on #32546
This issue is fully signed and ready to be closed.

[2021-01-21 20:46] cmsbuild commented on #32710
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_7-slc7_ppc64le_gcc820/2849
Some test

[2021-01-21 21:31] cmsbuild commented on #32710
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_7-cc8_amd64_gcc8/2847
Some tests ( runThe

[2021-01-21 21:47] cmsbuild commented on #32710
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_7-slc7_ppc64le_gcc820/2849

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2021-01-21 22:04] cmsbuild commented on #32710
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_7-slc7_amd64_gcc820/2848
Some tests (

[2021-01-21 22:14] cmsbuild commented on #32710
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_7-cc8_amd64_gcc8/2847

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2021-01-21 22:44] cmsbuild commented on #32710
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_7-slc7_amd64_gcc820/2848

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-22 00:57] #32546 closed

[2021-01-22 00:58] #32249 closed

[2021-01-22 01:15] cmsbuild commented on #32710
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_7-slc7_aarch64_gcc820/2846
Some test

[2021-01-22 04:21] cmsbuild commented on #32710
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_7-slc7_aarch64_gcc820/2846

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2021-01-22 08:04] silviodonato commented on #32710
upload all

[2021-01-22 08:05] cmsbuild commented on #32710
Queing Jenkins upload for cc8_amd64_gcc8

[2021-01-22 08:05] cmsbuild commented on #32710
Queing Jenkins upload for slc7_aarch64_gcc820

[2021-01-22 08:05] cmsbuild commented on #32710
Queing Jenkins upload for slc7_amd64_gcc820

[2021-01-22 08:05] cmsbuild commented on #32710
Queing Jenkins upload for slc7_ppc64le_gcc820

[2021-01-22 08:07] cmsbuild commented on #32710
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1810/console

[2021-01-22 08:07] cmsbuild commented on #32710
The upload has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1809/console

[2021-01-22 08:08] cmsbuild commented on #32710
The upload has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1811/console

[2021-01-22 08:09] cmsbuild commented on #32710
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_7-slc7_aarch64_gcc820/1810

[2021-01-22 08:10] cmsbuild commented on #32710
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1812/console

[2021-01-22 08:11] cmsbuild commented on #32710
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_7-slc7_ppc64le_gcc820/1812

[2021-01-22 08:12] cmsbuild commented on #32710
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_7-cc8_amd64_gcc8/1809

[2021-01-22 08:14] cmsbuild commented on #32710
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_7-slc7_amd64_gcc820/1811

[2021-01-22 08:33] silviodonato commented on #32710
release-notes

[2021-01-22 08:33] cmsbuild commented on #32710
Generating release notes since CMSSW_11_1_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-01-22 08:33] cmsbuild commented on #32710
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_7 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_7

Cheers,
cms-bot

You can a

[2021-01-22 08:37] cmsbuild commented on #32710
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_7

[2021-01-22 08:41] #32710 closed

[2021-01-22 11:38] khaosmos93 commented on #32709
New PR #32713 has been made.

[2021-01-22 18:23] slava77 commented on #27869
@dilsonjd and RPC experts,
please clarify on the status of the packer/unpacker software.
I did not find details about it in the presentation earlier today.
https://indico.cern.ch/event/983187/contributions/4140925/attachments/2176591/3675518/RPC%20Plans%20for%20Run3%20January.pdf

[2021-01-24 03:06] hatakeyamak commented on #32475
Not really PF issues, but @bendavid @hatakeyamak should probably keep eyes on this.

[2021-01-24 15:45] civanch commented on #31081
@vargasa , likely this PR should be closed?

[2021-01-25 07:59] silviodonato commented on #32680
Thank you @gartung. Closing the issue.
FYI @cms-sw/reconstruction-l2

[2021-01-25 07:59] #32680 closed

[2021-01-25 10:26] andrzejnovak opened #32731 "NANO stored branches not same for all files in a job/run"
NanoAOD can produce files in one Run/job where not all trigger branches are the same. For example,. the files
[code]
differ by 6 branches.

[code]

This is considerably annoying in further processing, where these need to be special cased.

[2021-01-25 10:27] cmsbuild commented on #32731
A new Issue was created by  @andrzejnovak Andrzej Novak.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-25 14:06] makortel commented on #32731
assign xpog

[2021-01-25 14:07] cmsbuild commented on #32731
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-25 14:52] hatakeyamak commented on #27553
Hopefully #32733 brings this issue to the right direction.

[2021-01-25 16:05] makortel opened #32734 "TCling assertion failure in ROOT master"
Workflow 1102 step 3 failed in ROOT master IB CMSSW_11_3_ROOT6_X_2021-01-24-2300 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ROOT6_X_2021-01-24-2300/pyRelValMatrixLogs/run/1102.0_RR+TTbarINPUT+DIGI+RECO+RECOFROMRECO+COPYPASTE/step3_RR+TTbarINPUT+DIGI+RECO+RECOFROMRECO+COPYPASTE.log#/

[2021-01-25 16:06] cmsbuild commented on #32734
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-25 16:06] makortel commented on #32734
assign core

[2021-01-25 16:06] cmsbuild commented on #32734
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-25 16:08] makortel commented on #32734
@pcanal Could you take a look?

Given that we have not seen any workflow failure sin ROOT6 IBs for at least a week, I'm wondering if this could be a threading issue?

[2021-01-25 16:39] pcanal commented on #32734
It does indeed looks like a race condition.  (On the state/value of TCling::IsClassAutoLoadingEnabled).  I will be looking at the stack to see if I can find it with just that information.  Additional tracing the value change for TCling::IsClassAutoLoadingEnabled in the debugger might give more clue (i.e. I would need a reproducer that does not need a proxy certificate).

[2021-01-25 17:08] makortel commented on #32734
@pcanal The workflow is MC (without pileup) so you should be able to run yourself first `runTheMatrix.py -l 1102.0 -t 4` and repeat running the `step3_RAW2DIGI_L1Reco_RECO_RECOSIM_EI_PAT_VALIDATION_DQM.py`

[2021-01-25 19:49] pcanal commented on #32734
@makortel Can you try https://github.com/root-project/root/pull/7094 which is likely to fix the problem?

[2021-01-25 20:34] makortel commented on #32734
I'm a bit skeptical additional testing by me being useful given that the race condition occurred in 1 / (> 7x3397) = 1 / ( > ~23k) jobs.

[2021-01-25 20:38] pcanal commented on #32734
:)

Alright, then can you incorporate the patch into the CMSSW builds once I merge them?

[2021-01-25 21:37] cvuosalo opened #32740 "[DD4hep] [For discussion] Consider removing namespace from volume names"
Currently, with DD4hep the Phase 2 tracker requires namespaces to distinguish between similar volume names. However, namespaces make the volume names much longer and reduce performance.
The plan is to modify the Phase 2 tracker XML files to change volume names so they are unique without needing namespaces appended. Once this change is completed, work can commence on removing namespaces from all vo

[2021-01-25 21:37] cvuosalo commented on #32740
assign geometry

[2021-01-25 21:37] cmsbuild commented on #32740
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-25 21:37] cmsbuild commented on #32740
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-25 23:00] mundim commented on #32356
@chayanit, sorry for the long time to reply. I prepared a fragment as you told above. Is there a special way to test it or just run runTheMatrix as usual? Thanks a lot

[2021-01-26 10:34] mundim commented on #32356
Testing this particular wf with the new fragment, produce no errors (1 1 1 1 1 tests passed, 0 0 0 0 0 failed), but I'm not sure if the generator fragment I introduced is begin executed.

[2021-01-26 12:50] sbein opened #32742 "Create pointer to shared storage for FastSim pixel resolution templates"
Danilo's profile [1] shows that PixelTemplateSmearerBase::beginRun() [2]

copies 40 MB of pixel templates https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/SUS-RunIIAutumn18FSPremix-00001_evt_n61_memlive.mp/384

which may be unnecessary. Matti asks if this could it hold a pointer to a shared storage instead?

There is commented code that should retrieve the templates from the DB:
https:

[2021-01-26 12:50] cmsbuild commented on #32742
A new Issue was created by  @sbein Sam Bein.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-26 13:39] makortel commented on #32742
assign fastsim

[2021-01-26 13:39] cmsbuild commented on #32742
New categories assigned: fastsim

@mdhildreth,@sbein,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-26 13:40] dpiparo commented on #31123
Is this something to be transformed in a bugreport for ROOT? With the effort Dan put in writing the standalone program, it should be easy to hand over...

[2021-01-26 13:52] makortel commented on #32742
It looks to me that the pixel templates are already loaded from the DB
https://github.com/cms-sw/cmssw/blob/77434cabae8014b762f8e4eb4b160af7018cb8e5/FastSimulation/TrackingRecHitProducer/plugins/TrackingRecHitProducer.cc#L105-L127

and the argument `tempStoreRef`
https://github.com/cms-sw/cmssw/blob/77434cabae8014b762f8e4eb4b160af7018cb8e5/FastSimulation/TrackingRecHitProducer/src/PixelTemplateSme

[2021-01-26 15:49] mrodozov opened #32746 "Two build warnings in CLANG DataFormats/Math/test/CholeskyInvert_t.cpp"
In the Clang IB we have two warnings due to

`  /data/cmsbld/jenkins/workspace/build-any-ib/w/tmp/BUILDROOT/cff53344cac83c1abd88bb561d95fc5c/opt/cmssw/slc7_amd64_gcc900/cms/cmssw/CMSSW_11_3_CLANG_X_2021-01-25-2300/src/DataFormats/Math/test/CholeskyInvert_t.cpp:48:6: warning: loop not vectorized: the optimizer was unable to perform the requested transformation; the transformation might be disabled

[2021-01-26 15:50] cmsbuild commented on #32746
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-26 15:52] makortel opened #32747 "Memory usage of reco::parser::cutParser"
(from https://mattermost.web.cern.ch/cms-o-and-c/pl/nkx5fjhy57fbdx4cif5junsquw)
A memory profile by @dpiparo of a FastSim job (IgProf `MEM_LIVE` at event 61 of 64) https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/SUS-RunIIAutumn18FSPremix-00001_evt_n61_memlive.mp/164 shows 92 MB memory being used by `reco::parser::cutParser`. ~~, and by quick look this memory usage seems to replicate t

[2021-01-26 15:53] cmsbuild commented on #32747
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-26 15:53] makortel commented on #32747
assign reconstruction

[2021-01-26 15:54] cmsbuild commented on #32747
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-26 15:55] makortel commented on #32746
assign reconstruction

[2021-01-26 15:55] cmsbuild commented on #32746
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-26 15:56] makortel commented on #32746
I see @smuzaffar silenced the warning in https://github.com/cms-sw/cmssw/pull/29790 for LLVM 9. Was it the (already distant) upgrade to LLVM 10 that made the warning to reappear?

[2021-01-26 16:16] dan131riley commented on #31123
The standalone program never reproduced the problem, and the full WF run manually crashes at a rate that seems inconsistent with the observed rate in the IBs.  I suspect it is very timing/load dependent.

[2021-01-26 16:54] slava77 commented on #32747
please elaborate on this

[2021-01-26 18:59] makortel commented on #32747
Thanks, my initial look was indeed too quick (apologies). Following the `boost::spririt` links lead me to `TClass::GetMethodWithPrototype()`
https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/SUS-RunIIAutumn18FSPremix-00001_evt_n61_memlive.mp/139
which likely is a global, i.e. the memory cost gets amortized with streams/threads. @dpiparo Is it nevertheless useful to leave this issue open

[2021-01-26 23:32] pmaksim1 commented on #32742
Hi everybody,

I wrote this code and I'll be happy to improve on the memory management -- but I'm still confused as to what is supposed to be done.  (In theory, instead of the whole template DB object could be distilled only to the info we need here, but that requires a bit of an R&D and may take some time. So let's not do it now.)

My understanding is that line 146 only copies the reference and n

[2021-01-27 00:15] makortel commented on #32742
C++ does not support binding references again. While it is true that the `PixelTemplateSmearerBase::thePixelTempRef` is a reference to `PixelTemplateSmearerBase::thePixelTemp_`
https://github.com/cms-sw/cmssw/blob/77434cabae8014b762f8e4eb4b160af7018cb8e5/FastSimulation/TrackingRecHitProducer/interface/PixelTemplateSmearerBase.h#L53-L54
the only impact it has for the assignment in `PixelTemplateSme

[2021-01-27 07:39] chayanit commented on #32356
@mundim it seems I missed the PR. Can you share the link to PR? Which command line have you tried?

[2021-01-27 12:03] mundim commented on #32356
Hi @chayanit , I tried first:
runTheMatrix.py --job-reports --ibeos -i all -l 11634.0
with no error.

Then I tried
runTheMatrix.py --job-reports  -j 16 -l limited --ibeos
some to the wf failed possibly due to time out: 4.53,25.0,135.4,312.0,1306.0,1330.0,136.731,136.793,136.874,10224.0,25202.0

I ran a second time with only these ones and finally, none failed.

But I'm not sure the fragment I'm tr

[2021-01-27 12:56] jpata opened #32755 "Many differences from wf 140.53"
I'm seeing a lot of differences from the workflow 140.53 in the tests:
- https://github.com/cms-sw/cmssw/pull/32750
- https://github.com/cms-sw/cmssw/pull/32751

not sure what the issue is just now.

[2021-01-27 12:56] cmsbuild commented on #32755
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-27 13:04] smuzaffar commented on #32755
@jpata , as reported here  https://github.com/cms-sw/cmssw/pull/32750#issuecomment-767986401 , the input data used for workflow 140.53 was different.  That is why you see a lot of comparison differences.

The input data issue is due to the integration of newer dasgoclient (please see the details of the issue here https://github.com/cms-sw/cmsdist/issues/6595 ).

For now I have reverted/disabled ne

[2021-01-27 14:39] slava77 commented on #32356
from the list in https://github.com/cms-sw/cmssw/issues/32356#issuecomment-768239837 I don't see how any of these can possibly include a new fragment (unless perhaps in a local test there was a manual replacement of an existing file)

[2021-01-27 15:03] mundim commented on #32356
I tried already to find documentation about the runTheMatrix options, but I didn't find it, maybe I have not searched enough. I never learned what those numbers mean, if someone points me to a description about it I will really appreciate it, this will certainly not be the last time I will need it. Thank you very much.

[2021-01-27 15:57] mundim commented on #32356
Just to make it clearer:

I added, in a working area (CMSSW_11_3_X_2021-01-25-1100)

Configuration/Generator
Configuration/PyReleaseValidation

I added the file:
Configuration/Generator/python/GluGluTo2Jets_M_300_2000_14TeV_Exhume_cff.py
which contains the fragment
I added the line:
`    ('GluGluTo2Jets_M_300_2000_14TeV_Exhume_cff.py',UpgradeFragment(Kby(9,100),'GluGluTo2Jets_M_300_2000_14TeV')),`

[2021-01-27 16:01] slava77 opened #32756 "large memory increase/use in TF session and inference in TICL ID as of 11_3_0_pre2"
after merging of https://github.com/cms-data/RecoHGCal-TICL/pull/2 we see a large increase in RSS use by TICL:
- about 306 MiB in TF session (240 MiB more vs pre1)
    - https://jiwoong.web.cern.ch/jiwoong/cgi-bin/igprof-navigator/CMSSW_11_3_0_pre1/igprof_new_step3/ig.1/235 vs https://jiwoong.web.cern.ch/jiwoong/cgi-bin/igprof-navigator/CMSSW_11_3_0_pre2/igprof_new_step3/ig.1/78
- about 168 MiB in

[2021-01-27 16:01] cmsbuild commented on #32756
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-27 16:02] slava77 commented on #32756
assign reconstruction,upgrade

[2021-01-27 16:02] cmsbuild commented on #32756
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-27 16:04] mundim commented on #32356
Don't we need to create a new wf number for this fragment? Sorry, just wondering

[2021-01-27 16:33] slava77 commented on #32356
I think that a new wf may just show up in the list already; take a look at `runTheMatrix.py -n -w upgrade | grep GluGluTo2Jets_M`

[2021-01-27 16:37] mundim commented on #32356
@slava77, YES! It is there.
But which option I have to use to execute it, because the previous format hasn't. It something "-w upgrade"?
Thank you very much.

[2021-01-27 16:50] mundim commented on #32356
Sorry, @slava77, I found how to run it. Thanks and sorry to bother you.

[2021-01-27 16:51] slava77 commented on #32356
for 2021 without PU we can use 116XX.0 (where XX should match your new fragment wf index).
This value will need to be entered in https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_2017.py#L60 so that it can also be picked up by the cms-bot for tests (or/same as also being visible with `runTheMatrix.py -l 116XX.0` without `-w upgrade`)

[2021-01-27 17:15] mundim commented on #32356
Sorry, I thought I had found out how to run it but I was mistaken. There are quite a lot of wf numbers in the output of the command you told me, for instance:
`12125.0 2021Design+GluGluTo2Jets_M_300_2000_14TeV_Exhume_GenSim+Digi+Reco+HARVEST `
Should I include all of them in the file as you told me above?
In this particular example, the index is 25 (with a prefix of 121) or it is the full number 1

[2021-01-27 18:07] slava77 commented on #32356
I was proposing a wf starting with 116

[2021-01-27 18:08] slava77 commented on #32356
ah, I guess if the number of fragments is over 100, this is 11600+125; based on what I'm guessing from 12125

[2021-01-27 18:11] mundim commented on #32356
That makes sense.. I'll try. Thank you.

Can you confirm I have to include ALL the wf output by `runTheMatrix.py -n -w upgrade | grep GluGluTo2Jets_M` and in which file (relval_2017?). Thanks again.

[2021-01-27 18:43] slava77 commented on #32356
for now we only need a test with 2021, so, please add just 11725.0.
Thank you.

[2021-01-27 19:01] mundim commented on #32356
Sorry, but it is still not clear to me. You asked to include the wf in the file relval_2017.py but this is not the year I suppose is the correct one, however, there is no relval_2021.py, only relval_2026.py among others like relval_upgrade.py and relval_standard.py. Which one am I supposed to include this wf?

Thank you.

[2021-01-27 20:56] cvuosalo opened #32757 "[DD4hep] [For discussion] Consider removing copy numbers from volume names"
With DD4hep, the copy number is appended to the volume name. This appending is probably done by ROOT inside of DD4hep. Presently, ECal code assumes the copy number is part of the volume name.

Shorter volume names would probably improve performance. It should be considered whether CMSSW code should be changed to no longer require the copy number in the volume name. Then, DD4hep could be changed to

[2021-01-27 20:57] cvuosalo commented on #32757
assign geometry

[2021-01-27 20:57] cmsbuild commented on #32757
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-27 20:57] cmsbuild commented on #32757
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-27 20:58] cvuosalo commented on #32740
PPS code may also be using repeated names that need to be distinguished by namespace.

[2021-01-28 06:51] chayanit commented on #32356
Thanks @slava77 for helping here as well.

@mundim could you share the list when you run `runTheMatrix.py --what upgrade --showMatrix | grep -i GluGluTo2Jets_M | grep 2021`? I can help checking which ID should be used. It should show you the workflow ID of GluGluTo2Jets_M and we need to pickup one ID to test locally.

I have another command to run 5 events local test you can try if your fragment w

[2021-01-28 10:57] mundim commented on #32356
Thank you very much @chayanit. For your first request:

`
11725.0 2021+GluGluTo2Jets_M_300_2000_14TeV_Exhume_GenSim+Digi+Reco+HARVEST+ALCA
11925.0 2021PU+GluGluTo2Jets_M_300_2000_14TeV_Exhume_GenSim+DigiPU+RecoPU+HARVESTPU+Nano
11925.98 2021PU_PMXS2+GluGluTo2Jets_M_300_2000_14TeV_Exhume_GenSim+DigiPU+RecoPU+HARVESTPU+Nano
11925.99 2021PU_PMXS1S2+GluGluTo2Jets_M_300_2000_14TeV_Exhume_GenSim+PREMIX_

[2021-01-28 11:02] mundim commented on #32356
For the second command, it looks like there is a problem. The output is:
`GEN,SIM,ENDJOB
We have determined that this is simulation (if not, rerun cmsDriver.py with --data)
with DB:
Step: GEN Spec:
Loading generator fragment from Configuration.Generator.GluGluTo2Jets_M_300_2000_14TeV_Exhume_cff
Traceback (most recent call last):
  File "/cvmfs/cms-ib.cern.ch/week1/slc7_amd64_gcc900/cms/cmssw/CMSSW

[2021-01-28 11:08] chayanit commented on #32356
I think 11725.0 is the one you should go with as it is regular scenario of Run3

[2021-01-28 11:11] chayanit commented on #32356
Not sure but have you run scram b to compile the new fragment you added?

[2021-01-28 11:46] mundim commented on #32356
Yes, I did, but will make a distclean and compile again.

[2021-01-28 11:53] mundim commented on #32356
No way. Don't I have to add this wf in some place?

[2021-01-28 12:28] mundim commented on #32356
SORRY! There was a typo in the gen fragment. It is running. Thank you very much.

[2021-01-28 12:42] mundim commented on #32356
I ran:

`runTheMatrix.py --what upgrade -l 12125.0 -t 4 --command='-n 5'`

which produced the output:

`1 1 1 1 tests passed, 0 0 0 0 failed`

So, I guess I can submit the PR, right?

[2021-01-28 17:38] mundim commented on #32356
Hi @chayanit, the PR with the gen fragment is #32765.

[2021-01-29 14:21] silviodonato opened #32768 "Build CMSSW_11_2_1"

[2021-01-29 14:21] cmsbuild commented on #32768
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-01-29 14:23] silviodonato commented on #32768
+1

[2021-01-29 14:24] cmsbuild commented on #32768
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-01-29 14:24] cmsbuild commented on #32768
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-01-29 14:25] cmsbuild commented on #32768
The build has started for slc7_amd64_gcc900 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2851/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-29 14:25] cmsbuild commented on #32768
The build has started for cc8_amd64_gcc9 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2850/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-29 14:27] cmsbuild commented on #32768
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2852/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-29 14:27] cmsbuild commented on #32768
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2853/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-29 15:01] slava77 commented on #27889
+1

it sounds like we are in a production stage now

[2021-01-29 15:11] cmsbuild commented on #32768
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2854/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-29 15:19] cmsbuild commented on #32768
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2855/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-01-29 15:32] makortel opened #32770 "Failure in TestDQMOnlineClient-sistrip_dqm_sourceclient unit test"
The `TestDQMOnlineClient-sistrip_dqm_sourceclient` unit test fails in CMSSW_11_3_X_2021-01-28-2300 with
[code]

[2021-01-29 15:32] makortel commented on #32770
assign dqm

[2021-01-29 15:32] cmsbuild commented on #32770
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-29 15:33] makortel commented on #32770
I suspect the cause is in https://github.com/cms-sw/cmssw/pull/32677 that made changes to `DQM/SiStripMonitorClient/plugins/SiStripAnalyser.cc` and was merged for that IB.

[2021-01-29 15:39] makortel commented on #32770
The failure is certainly caused by #32677, I pointed out (hopefully all) inconsistencies in `SiStripAnalyzer` in the PR.

[2021-01-29 17:27] cmsbuild commented on #32768
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-slc7_ppc64le_gcc9/2853
Some tests (

[2021-01-29 17:46] cmsbuild commented on #32768
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-cc8_amd64_gcc9/2850
Some tests ( runThe

[2021-01-29 18:07] cmsbuild commented on #32768
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-cc8_ppc64le_gcc9/2852
Some tests ( ru

[2021-01-29 18:21] cmsbuild commented on #32768
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-slc7_aarch64_gcc9/2855
Some tests (

[2021-01-29 18:33] cmsbuild commented on #32768
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-slc7_ppc64le_gcc9/2853

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-29 18:36] cmsbuild commented on #32768
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-cc8_amd64_gcc9/2850

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-29 18:52] cmsbuild commented on #32768
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-slc7_amd64_gcc900/2851
Some tests (

[2021-01-29 18:58] cmsbuild commented on #32768
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-cc8_ppc64le_gcc9/2852

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-01-29 19:31] cmsbuild commented on #32768
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-slc7_aarch64_gcc9/2855

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-29 19:39] cmsbuild commented on #32768
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-slc7_amd64_gcc900/2851

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-01-29 19:55] silviodonato commented on #32768
upload all

[2021-01-29 19:55] cmsbuild commented on #32768
Queing Jenkins upload for cc8_amd64_gcc9

[2021-01-29 19:55] cmsbuild commented on #32768
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-01-29 19:55] cmsbuild commented on #32768
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-01-29 19:55] cmsbuild commented on #32768
Queing Jenkins upload for slc7_amd64_gcc900

[2021-01-29 19:55] cmsbuild commented on #32768
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-01-29 19:57] cmsbuild commented on #32768
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1813/console

[2021-01-29 19:58] cmsbuild commented on #32768
The upload has started for cc8_amd64_gcc9 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1814/console

[2021-01-29 19:58] cmsbuild commented on #32768
The upload has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1816/console

[2021-01-29 19:58] cmsbuild commented on #32768
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1815/console

[2021-01-29 19:58] cmsbuild commented on #32768
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1-cc8_ppc64le_gcc9/1813

[2021-01-29 19:59] cmsbuild commented on #32768
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1-cc8_amd64_gcc9/1814

[2021-01-29 19:59] cmsbuild commented on #32768
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1817/console

[2021-01-29 20:00] cmsbuild commented on #32768
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1-slc7_aarch64_gcc9/1815

[2021-01-29 20:00] cmsbuild commented on #32768
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1-slc7_ppc64le_gcc9/1817

[2021-01-29 20:01] cmsbuild commented on #32768
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1-slc7_amd64_gcc900/1816

[2021-01-29 20:02] silviodonato commented on #32768
release-notes

[2021-01-29 20:02] cmsbuild commented on #32768
Generating release notes since CMSSW_11_2_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-01-29 20:02] cmsbuild commented on #32768
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_2_1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_1

Cheers,
cms-b

[2021-01-29 20:05] cmsbuild commented on #32768
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_1

[2021-01-30 00:13] cmsbuild commented on #32768
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-cc8_aarch64_gcc9/2854
Some tests ( ru

[2021-01-30 00:14] cmsbuild commented on #32768
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-01-30 00:18] cmsbuild commented on #32768
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1818/console

[2021-01-30 00:19] cmsbuild commented on #32768
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1-cc8_aarch64_gcc9/1818

[2021-01-30 03:05] cmsbuild commented on #32768
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1-cc8_aarch64_gcc9/2854

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-01-30 20:35] #32768 closed

[2021-01-31 12:49] qliphy opened #32778 "Build CMSSW_7_1_47_PYTHIA240"

[2021-01-31 12:49] cmsbuild commented on #32778
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-01-31 12:50] qliphy commented on #32778
build cmssw-tool-conf

[2021-01-31 12:50] cmsbuild commented on #32778
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc481
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2021-01-31 12:51] cmsbuild commented on #32778
The cmssw-tool-conf build has started for slc6_amd64_gcc481 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2856/console
CMSDIST Branch: [IB/CMSSW_7_1_X/pythia240](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/pythia240), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2021-01-31 13:13] cmsbuild commented on #32778
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc481 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_47_PYTHIA240-slc6_amd64_gcc481/2856

[2021-01-31 13:18] qliphy commented on #32778
+1

[2021-01-31 13:18] cmsbuild commented on #32778
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_47_PYTHIA240. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_PYTHIA240_X

[2021-01-31 13:18] cmsbuild commented on #32778
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-01-31 13:21] cmsbuild commented on #32778
The build has started for slc6_amd64_gcc481 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2857/console
CMSDIST Branch: [IB/CMSSW_7_1_X/pythia240](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/pythia240), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2021-01-31 14:50] cmsbuild commented on #32778
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_47_PYTHIA240-slc6_amd64_gcc481/2857
Som

[2021-01-31 15:09] cmsbuild commented on #32778
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_47_PYTHIA240-slc6_amd64_gcc481/2857

Tests results:
7 6 5 5 3 tests passed, 0 1 0 0 0 failed

[2021-02-01 02:10] qliphy commented on #32778
Failure is understood according to :  https://github.com/cms-sw/cmssw/pull/32769#issuecomment-769898395

[2021-02-01 02:10] qliphy commented on #32778
upload all

[2021-02-01 02:11] cmsbuild commented on #32778
Queing Jenkins upload for slc6_amd64_gcc481

[2021-02-01 02:17] cmsbuild commented on #32778
The upload has started for slc6_amd64_gcc481 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1819/console

[2021-02-01 02:18] cmsbuild commented on #32778
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_47_PYTHIA240-slc6_amd64_gcc481/1819

[2021-02-01 02:34] qliphy commented on #32778
release-notes

[2021-02-01 02:34] cmsbuild commented on #32778
Previous release "" does not appear to be a valid release name

[2021-02-01 14:28] mmusich commented on #32770
HI, #32771 solved this (cf. https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-01-31-2300/unitTestLogs/DQM/Integration#/14766) shall this issue be signed and closed?

[2021-02-01 14:31] makortel commented on #32770
Thanks @mmusich!

[2021-02-01 14:31] #32770 closed

[2021-02-01 18:55] sbein opened #32783 "Move FastSim PixelResolutionHistograms to GlobalCache or EventSetup?"
Matti points out that TrackingRecHitProducer (stream module) constructor requires 86 MB

https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/SUS-RunIIAutumn18FSPremix-00001_evt_n61_memlive.mp/180

The majority of this comes from PixelTemplateSmearerPlugin -> PixelResolutionHistograms https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/SUS-RunIIAutumn18FSPremix-00001_evt_n61_memli

[2021-02-02 10:31] sbein commented on #32783
assign fastsim

[2021-02-02 10:32] cmsbuild commented on #32783
New categories assigned: fastsim

@mdhildreth,@sbein,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-02 10:32] cmsbuild commented on #32783
A new Issue was created by  @sbein Sam Bein.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-02 19:09] makortel opened #32796 "Failures in two L1 TestDQMOnlineClient unit tests"
Two unit tests in `DQM/Integration` package are failing since CMSSW_11_3_X_2021-02-02-1100
[code]
http://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-02-02-1100/unitTestLogs/DQM/Integration

[2021-02-02 19:09] makortel commented on #32796
assign dqm,l1

[2021-02-02 19:09] cmsbuild commented on #32796
New categories assigned: dqm,l1

@jfernan2,@andrius-k,@rekovic,@ahmad3213,@jmduarte,@kmaeshima,@rvenditti,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-02 19:09] cmsbuild commented on #32796
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-02 19:10] makortel commented on #32796
Likely to be caused by #32741 (only PR merged into that IB, and seems to be related)

[2021-02-02 20:00] christopheralanwest commented on #32796
I suspect that the issue is that the global tag at https://github.com/cms-sw/cmssw/blob/dd931b1a61f3948a7c528b815bc15959d56151fa/DQM/Integration/python/config/FrontierCondition_GT_cfi.py#L3 should be replaced with 112X_dataRun3_HLT_v1, which differs from the existing tag by the addition of the new record:
https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/111X_dataRun3_HLT_v3/112X_dataRun3_HLT_

[2021-02-02 21:02] makortel commented on #24051
Here is a similar crash from https://github.com/cms-sw/cmssw/pull/32782#issuecomment-771978588 in `fastsim` test
[code]

[2021-02-02 21:12] makortel commented on #32628
Here is another example https://github.com/cms-sw/cmssw/pull/32782#issuecomment-771978588.
![image](https://user-images.githubusercontent.com/33993/106663185-fc5eaf80-6568-11eb-9b49-4fbe2b6a2888.png)

If still relevant, the TF warning line is
[code]

[2021-02-02 21:13] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/32782#issuecomment-771978588 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution, VtxZResolution}
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2021-02-02 22:51] pmaksim1 commented on #32783
@sbein, I can take care of this; we need if we want to model different pixel rec hit response as a function of time (e.g. as a function of radiation damage to the new Layer1 in Run3; at the beginning, it's undamaged... at the end, it will likely be nearly completely dead).

However, the last time I added a new DB object to the pixel local reco (the 2D pixel templates), it took about two months of

[2021-02-03 01:55] makortel commented on #32783
Just to make sure (even if I believe this is clear), moving the data structure to EventSetup does not require moving the storage to CondDB (but of course that can be done as well).

There is also third alternative to GlobalCache and EventSetup: an EDProducer that produces the data structure into recently added [ProcessBlock](https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultithreadedFrameworkGl

[2021-02-03 02:05] pmaksim1 commented on #32783
@makortel , thanks for the suggestions!  I have no experience with GlobalCache and ProcessBlock, so if you have a preference for either of them, I'd appreciate your view.

Regarding the cms-data: indeed, pushing files and making the PR seems overly clunky.  I did it only 2-3 times so maybe I simply haven't practiced enough?  Maybe DB payloads are easier since I only make the payload and somebody e

[2021-02-03 09:15] jfernan2 commented on #32796
I have created https://github.com/cms-sw/cmssw/pull/32800 following @christopheralanwest 's comment

[2021-02-03 10:19] silviodonato commented on #32778
release-notes since CMSSW_7_1_47

[2021-02-03 10:19] cmsbuild commented on #32778
Generating release notes since CMSSW_7_1_47.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-03 10:19] cmsbuild commented on #32778
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_47_PYTHIA240 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_47 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_47_PYTHIA240

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2021-02-03 10:20] cmsbuild commented on #32778
Generating release notes since CMSSW_7_1_47.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-03 10:20] cmsbuild commented on #32778
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_47_PYTHIA240 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_47 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_47_PYTHIA240

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2021-02-03 10:20] silviodonato opened #32801 "Build CMSSW_11_2_1_patch1"

[2021-02-03 10:20] cmsbuild commented on #32801
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-03 10:21] silviodonato commented on #32801
+1

[2021-02-03 10:22] cmsbuild commented on #32801
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-02-03 10:22] cmsbuild commented on #32801
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-02-03 10:23] cmsbuild commented on #32801
The build has started for slc7_amd64_gcc900 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2859/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-03 10:23] cmsbuild commented on #32801
The build has started for cc8_amd64_gcc9 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2858/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-03 10:24] cmsbuild commented on #32801
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2860/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-03 10:24] cmsbuild commented on #32801
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2861/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-03 10:25] cmsbuild commented on #32801
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2862/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-03 10:25] cmsbuild commented on #32801
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2863/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-03 10:29] cmsbuild commented on #32778
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_47_PYTHIA240

[2021-02-03 10:29] cmsbuild commented on #32778
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_47_PYTHIA240

[2021-02-03 10:32] #32778 closed

[2021-02-03 10:32] silviodonato commented on #32801
abort

[2021-02-03 10:33] cmsbuild commented on #32801
Deleting CMSSW_11_2_1_patch1:

  - Release successfully deleted

  - cmssw tag CMSSW_11_2_1_patch1 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_11_2_1_patch1/slc7_amd64_gcc900. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_11_2_1_patch1/slc7_aarch64_gcc9. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_11_2_1

[2021-02-03 10:34] cmsbuild commented on #32801
The was an error for cc8_aarch64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-cc8_aarch64_gcc9/2860

[2021-02-03 10:34] cmsbuild commented on #32801
The was an error for slc7_aarch64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-slc7_aarch64_gcc9/2861

[2021-02-03 10:34] cmsbuild commented on #32801
The was an error for slc7_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-slc7_ppc64le_gcc9/2863

[2021-02-03 10:34] cmsbuild commented on #32801
The was an error for cc8_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-cc8_ppc64le_gcc9/2862

[2021-02-03 10:44] #32801 closed

[2021-02-03 11:27] silviodonato commented on #32796
@jfernan2 @christopheralanwest could you clarify if  #32800 #32803 are needed for the MWGR? My understanding was that the global tag is taken elsewhere during the MWGR, but probably I'm wrong.

[2021-02-03 11:33] jfernan2 commented on #32796
At least #32800 is needed since DQM will be running in 112X
Despite GT can be changed manually at P5 DQM machines by DQM DOC, we usually make PRs for every big release change on this file to track and log which GTs are being used for MWGRs, see:

https://github.com/cms-sw/cmssw/commits/18442d459ff6789a404241f5dcd7633ad51a29e7/DQM/Integration/python/config/FrontierCondition_GT_cfi.py
Modification o

[2021-02-03 14:45] SohamBhattacharya commented on #32475
@silviodonato Probably I missed this, but can you please let me know what are the collections from MINIAOD you're using to compare?

[2021-02-03 16:01] silviodonato commented on #32475
@gouskos looked on this recently. It seems that `patElectrons_slimmedElectronsFromMultiCl__RECO` is filled properly in MiniAOD (eg. see `/eos/cms/store/relval/CMSSW_11_2_0_pre10/RelValZEE_14/MINIAODSIM/PU25ns_112X_mcRun4_realistic_v4_2026D49PU200-v1/00000/1834eb8f-0045-4083-ba9c-01dfb6ee395f.root`).
The point is that only `patElectrons_slimmedElectrons__RECO` are used to fill the plot.
I don't kno

[2021-02-03 16:03] makortel commented on #32783
Both of these apply only if the payloads are kept in files (for them being in the CondDB the EventSetup is the only way).

Use of GlobalCache is documented here with an example https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultithreadedFrameworkStreamModuleInterface#edm_GlobalCacheT
and in short it allows a single stream module to share a single thread-safe object between the stream instances.

[2021-02-03 16:06] kpedro88 commented on #32475
I think this is related to #32766 (and might become superfluous once that is merged)

[2021-02-03 16:25] SohamBhattacharya commented on #32475
@silviodonato @kpedro88 The `slimmedElectrons` collection is not fed by the endcap (HGCal) electrons. There's this collection called `slimmedElectronsFromMultiCl` which is built from the HGCal electrons (`ecalDrivenGsfElectronsFromMultiCl`).
As for #32766, I'm likely missing something, but it's not entirely clear to me from the files changed by this PR how the HGCal electrons (`ecalDrivenGsfElectr

[2021-02-03 16:36] kpedro88 commented on #32475
@SohamBhattacharya right now, all of the `FromMultiCl` collections constitute a "parallel universe" of HGCal reconstruction, starting from `particleFlowClusterHGCalFromMultiCl`. #32766 makes TICL the default reconstruction for HGCal. Once this is complete, the `FromMultiCl` collections will be redundant: the "real" reconstruction will be used everywhere.

[2021-02-03 16:41] SohamBhattacharya commented on #32475
I see, thank you.

[2021-02-03 22:02] dan131riley commented on #31123
With PR #32810 I was able to poke around the stack and the segment map of one of these crashes, where the last two stack frames were
[code]
Looking at the segment map of the process, frame 5 was in 64kb of dirty (written to) memory not associated with any shared object, consistent with JITted code, and the area disassembled into reasonable looking ARM64 code.  Frame 6 was on the stack, and the sta

[2021-02-04 01:34] kpedro88 commented on #32460
+upgrade

[2021-02-04 12:33] jshlee commented on #32634
@dildick can you look into this.

[2021-02-04 14:18] dildick commented on #32634
yes, I'm working on a fix

[2021-02-04 14:33] dildick commented on #32634
@seungjin-yang I'm afraid there is no GEMPadDigiClusterProducer yet for real data; the development the unpacker is still ongoing. What you can do is 1) unpack the GEMDigis (add `muonGEMDigis`) 2) add the trigger-primitives (`simMuonGEMPadDigis`, `simMuonGEMPadDigiClusters`), and add 3) the customization

[code]

[2021-02-04 14:51] dildick commented on #32634
So either implement it here https://github.com/cms-sw/cmssw/blob/master/Configuration/StandardSequences/python/RawToDigi_cff.py, or we can define a sequence in https://github.com/cms-sw/cmssw/tree/master/EventFilter/GEMRawToDigi/python.

[2021-02-04 22:06] cvuosalo opened #32822 "Run 2 geometry DB payload creation scripts terminate with errors"
Two scripts that create geometry DB payloads for Run 2 currently terminate with errors:
[code]
They need to be debugged and fixed. The misspelling of  "Perecent" in `createExtended2017Plan1Payloads.sh` occurs three times. Also, the `TrackerGeometricDetESModule` has to be deleted from both scripts.

Note that it is not clear at this time whether new Run 2 geometry DB payloads will be needed in the

[2021-02-04 22:07] cmsbuild commented on #32822
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-04 22:07] cvuosalo commented on #32822
assign db, geometry

[2021-02-04 22:07] cmsbuild commented on #32822
New categories assigned: geometry,db

@Dr15Jones,@cvuosalo,@mdhildreth,@ggovi,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-04 22:49] silviodonato opened #32825 "Build CMSSW_11_2_1_patch1"

[2021-02-04 22:50] cmsbuild commented on #32825
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-04 22:51] silviodonato commented on #32825
+1

[2021-02-04 22:51] cmsbuild commented on #32825
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-02-04 22:51] cmsbuild commented on #32825
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-02-04 22:52] cmsbuild commented on #32825
The build has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2864/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-04 22:53] cmsbuild commented on #32825
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2865/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-04 22:53] cmsbuild commented on #32825
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2867/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-04 22:53] cmsbuild commented on #32825
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2866/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-04 22:54] cmsbuild commented on #32825
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2868/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-04 22:54] cmsbuild commented on #32825
The build has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2869/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-04 23:35] cmsbuild commented on #32825
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-cc8_ppc64le_gcc9/2867
Some tes

[2021-02-04 23:38] cmsbuild commented on #32825
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-slc7_ppc64le_gcc9/2868
Some t

[2021-02-04 23:43] cmsbuild commented on #32825
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-slc7_aarch64_gcc9/2866
Some t

[2021-02-04 23:50] cmsbuild commented on #32825
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-cc8_amd64_gcc9/2864
Some tests (

[2021-02-05 00:01] cmsbuild commented on #32825
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-slc7_amd64_gcc900/2869
Some t

[2021-02-05 00:30] cmsbuild commented on #32825
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-cc8_amd64_gcc9/2864

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-05 00:32] cmsbuild commented on #32825
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-cc8_ppc64le_gcc9/2867

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-05 00:41] cmsbuild commented on #32825
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-slc7_amd64_gcc900/2869

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-05 00:47] cmsbuild commented on #32825
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-cc8_aarch64_gcc9/2865
Some tes

[2021-02-05 00:58] cmsbuild commented on #32825
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-slc7_aarch64_gcc9/2866

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-05 01:04] cmsbuild commented on #32825
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-slc7_ppc64le_gcc9/2868

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-05 03:20] cmsbuild commented on #32825
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch1-cc8_aarch64_gcc9/2865

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-05 07:41] silviodonato commented on #32825
upload all

[2021-02-05 07:41] cmsbuild commented on #32825
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-02-05 07:41] cmsbuild commented on #32825
Queing Jenkins upload for cc8_amd64_gcc9

[2021-02-05 07:41] cmsbuild commented on #32825
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-02-05 07:41] cmsbuild commented on #32825
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-02-05 07:41] cmsbuild commented on #32825
Queing Jenkins upload for slc7_amd64_gcc900

[2021-02-05 07:41] cmsbuild commented on #32825
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-02-05 07:44] cmsbuild commented on #32825
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1820/console

[2021-02-05 07:44] cmsbuild commented on #32825
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1821/console

[2021-02-05 07:45] cmsbuild commented on #32825
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch1-cc8_ppc64le_gcc9/1821

[2021-02-05 07:45] cmsbuild commented on #32825
The upload has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1822/console

[2021-02-05 07:45] cmsbuild commented on #32825
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1823/console

[2021-02-05 07:46] cmsbuild commented on #32825
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch1-cc8_aarch64_gcc9/1820

[2021-02-05 07:46] cmsbuild commented on #32825
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch1-cc8_amd64_gcc9/1822

[2021-02-05 07:46] cmsbuild commented on #32825
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1825/console

[2021-02-05 07:46] cmsbuild commented on #32825
The upload has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1824/console

[2021-02-05 07:46] cmsbuild commented on #32825
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch1-slc7_aarch64_gcc9/1823

[2021-02-05 07:47] cmsbuild commented on #32825
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch1-slc7_ppc64le_gcc9/1825

[2021-02-05 07:48] cmsbuild commented on #32825
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch1-slc7_amd64_gcc900/1824

[2021-02-05 08:04] silviodonato commented on #32825
release-notes

[2021-02-05 08:04] cmsbuild commented on #32825
Generating release notes since CMSSW_11_2_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-05 08:04] cmsbuild commented on #32825
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_2_1_patch1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_1 can be found at:

https://github.com/cms-sw/cmssw/releas

[2021-02-05 08:08] cmsbuild commented on #32825
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_1_patch1

[2021-02-05 10:01] #32825 closed

[2021-02-05 10:02] silviodonato opened #32827 "Build CMSSW_11_2_1_patch2"

[2021-02-05 10:02] cmsbuild commented on #32827
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-05 10:08] silviodonato commented on #32827
+1

[2021-02-05 10:09] cmsbuild commented on #32827
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_1_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-02-05 10:09] cmsbuild commented on #32827
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-02-05 10:09] cmsbuild commented on #32827
The build has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2870/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-05 10:09] cmsbuild commented on #32827
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2871/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-05 10:10] cmsbuild commented on #32827
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2872/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-05 10:11] cmsbuild commented on #32827
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2873/console
CMSDIST Branch: [REL/CMSSW_11_2_1/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-05 10:11] cmsbuild commented on #32827
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2874/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-05 10:15] cmsbuild commented on #32827
The build has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2875/console
CMSDIST Branch: [REL/CMSSW_11_2_1/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_1/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-05 10:52] cmsbuild commented on #32827
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-slc7_ppc64le_gcc9/2874
Some t

[2021-02-05 10:55] silviodonato commented on #32796
Solved by  #32800 #32803

[2021-02-05 10:56] cmsbuild commented on #32827
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-cc8_ppc64le_gcc9/2873
Some tes

[2021-02-05 10:57] jfernan2 commented on #32796
+1

[2021-02-05 11:03] cmsbuild commented on #32827
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-cc8_amd64_gcc9/2870
Some tests (

[2021-02-05 11:07] cmsbuild commented on #32827
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-slc7_aarch64_gcc9/2872
Some t

[2021-02-05 11:13] cmsbuild commented on #32827
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-cc8_aarch64_gcc9/2871
Some tes

[2021-02-05 11:24] cmsbuild commented on #32827
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-slc7_amd64_gcc900/2875
Some t

[2021-02-05 11:28] silviodonato commented on #32827
upload all

[2021-02-05 11:29] cmsbuild commented on #32827
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-02-05 11:29] cmsbuild commented on #32827
Queing Jenkins upload for cc8_amd64_gcc9

[2021-02-05 11:29] cmsbuild commented on #32827
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-02-05 11:29] cmsbuild commented on #32827
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-02-05 11:29] cmsbuild commented on #32827
Queing Jenkins upload for slc7_amd64_gcc900

[2021-02-05 11:29] cmsbuild commented on #32827
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1826/console

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1828/console

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1829/console

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1827/console

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch2-cc8_amd64_gcc9/1826

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch2-cc8_ppc64le_gcc9/1828

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch2-slc7_aarch64_gcc9/1829

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch2-cc8_aarch64_gcc9/1827

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1830/console

[2021-02-05 11:32] cmsbuild commented on #32827
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1831/console

[2021-02-05 11:33] cmsbuild commented on #32827
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch2-slc7_ppc64le_gcc9/1831

[2021-02-05 11:34] cmsbuild commented on #32827
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_patch2-slc7_amd64_gcc900/1830

[2021-02-05 11:43] cmsbuild commented on #32827
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-cc8_amd64_gcc9/2870

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-05 11:50] cmsbuild commented on #32827
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-cc8_ppc64le_gcc9/2873

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-05 11:51] cmsbuild commented on #32827
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-slc7_ppc64le_gcc9/2874

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-05 12:04] cmsbuild commented on #32827
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-cc8_aarch64_gcc9/2871

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-05 12:04] cmsbuild commented on #32827
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-slc7_aarch64_gcc9/2872

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-05 12:07] cmsbuild commented on #32827
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_patch2-slc7_amd64_gcc900/2875

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-05 12:19] silviodonato commented on #32827
release-notes

[2021-02-05 12:19] cmsbuild commented on #32827
Generating release notes since CMSSW_11_2_1_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-05 12:19] cmsbuild commented on #32827
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_2_1_patch2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_1_patch1 can be found at:

https://github.com/cms-sw/cmssw

[2021-02-05 12:22] cmsbuild commented on #32827
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_1_patch2

[2021-02-05 13:59] #32796 closed

[2021-02-06 14:06] makortel commented on #32492
+1

The fix was merged some time ago so this issue can be closed.

[2021-02-06 14:09] makortel opened #32837 "ASAN problem in DeepTauId"
CMSSW_11_3_ASAN_X_2021-02-05-2300 reports in 3.0 (also in many other workflows) step 3
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ASAN_X_2021-02-05-2300/pyRelValMatrixLogs/run/3.0_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1/step3_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1.log#/

[2021-02-06 14:09] makortel commented on #32837
assign reconstruction

[2021-02-06 14:09] cmsbuild commented on #32837
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-06 14:09] cmsbuild commented on #32837
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-06 14:10] makortel commented on #32837
This problem might be causing the non-reproducibility discussed in https://github.com/cms-sw/cmssw/issues/32628.

[2021-02-06 14:11] makortel commented on #32628
AddressSanitizer reports a `stack-buffer-overflow` in ` DeepTauId::fillGrids()` (see #32837), could that be the cause for this non-reproducibility?

[2021-02-06 15:37] slava77 commented on #32837
the ASAN issue started appearing after #32676 was merged yesterday; so, the older issue may still be unrelated

[2021-02-06 15:42] slava77 commented on #32837
@swozniewski
please take a look

`cmsrel CMSSW_11_3_ASAN_X_2021-02-05-2300; .. cmsenv; git cms-addpkg RecoTauTag/RecoTau; scram b -r -j 16 USER_CXXFLAGS=-g`
should help to see where the problems are

[2021-02-06 16:31] slava77 commented on #32837
@makortel
3.0 is MC and it runs in this case in 4 threads; isn't it a bad reference for crashes due to the generic gen/sim non-reproducibility in random sequences?

[2021-02-06 16:57] makortel commented on #32837
There are 534 failing workflows in that ASAN IB, 3.0 was the first one. I checked a few other failing workflows, the cause in them was the same. From data workflows e.g. 4.25 appears to fail pretty quickly.

[2021-02-06 16:59] slava77 commented on #32837
OK, this was more of a suggestion for the future reports to use more repeatable cases

[2021-02-06 17:20] slava77 commented on #32837
IIUC, the problem is in
`      static auto getCellIndex = [this](double x, double maxX, double size, int& index) {`
RecoTauTag/RecoTau/plugins/DeepTauId.cc:1059-> RecoTauTag/RecoTau/plugins/DeepTauId.cc:1047

https://github.com/cms-sw/cmssw/blob/036963dfc9305c804317dacb0be73ac8af369ad7/RecoTauTag/RecoTau/plugins/DeepTauId.cc#L1041-L1047

I was looking at this earlier due to the static analyzer rep

[2021-02-06 19:31] makortel commented on #32837
I think that is the case, i.e. `this` is captured at the first call to the function that constructs the lambda object, and gets used in every call to the lambda afterwards. Thanks for the quick fix!

[2021-02-07 03:45] #32837 closed

[2021-02-07 11:23] cmsbuild commented on #32827
The cleanup has started for cc8_aarch64_gcc9

[2021-02-07 11:23] cmsbuild commented on #32827
The cleanup has started for slc7_aarch64_gcc9

[2021-02-07 11:23] cmsbuild commented on #32827
The cleanup has started for cc8_amd64_gcc9

[2021-02-07 11:23] cmsbuild commented on #32827
The cleanup has started for cc8_ppc64le_gcc9

[2021-02-07 11:23] cmsbuild commented on #32827
The cleanup has started for slc7_amd64_gcc900

[2021-02-07 11:23] cmsbuild commented on #32827
The cleanup has started for slc7_ppc64le_gcc9

[2021-02-07 11:23] #32827 closed

[2021-02-07 11:23] cmsbuild commented on #32827
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_1_patch2-cc8_aarch64_gcc9/1615

[2021-02-07 11:23] cmsbuild commented on #32827
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_1_patch2-cc8_ppc64le_gcc9/1617

[2021-02-07 11:23] cmsbuild commented on #32827
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_1_patch2-cc8_amd64_gcc9/1616

[2021-02-07 11:23] cmsbuild commented on #32827
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_1_patch2-slc7_ppc64le_gcc9/1620

[2021-02-07 11:23] cmsbuild commented on #32827
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_1_patch2-slc7_amd64_gcc900/1619

[2021-02-07 11:23] cmsbuild commented on #32827
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_1_patch2-slc7_aarch64_gcc9/1618

[2021-02-08 07:24] seungjin-yang commented on #32634
@dildick Thank you for your guidance. I made a simple patch. Can you review it? https://github.com/seungjin-yang/cmssw/commit/ca70c5b0d6e3c539ab7d7832ca40c8911e1b1e55

[2021-02-08 07:29] seungjin-yang commented on #32634
@davidlange6  Can you tell me which matrix or file I should use for testing?

[2021-02-08 13:56] slava77 commented on #32837
I'm curious what was the mix of words that lead to closing this issue immediately after merging of  #32838. There I mentioned "this apparently fixes #32837"; was that enough?

[2021-02-08 14:07] makortel commented on #32837
Yes, `fixes #<issue number>` is one of the keywords that link an issue to a PR (and lead to closing of the issue when the PR is merged to the default branch of the repo)
https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2021-02-08 14:19] slava77 commented on #32837
I thought this was for a more restricted context when this starts the message. Apparently it can be a part of a more complex sentence.

[2021-02-08 14:22] dildick commented on #32634
@seungjin-yang it looks ok

[2021-02-08 14:39] swozniewski commented on #32837
Fortunately, you did not write "Are we sure that this already fixes #32837 ?"

[2021-02-08 16:24] mmusich commented on #31920
@civanch I tested CMSSW_11_3_X_2021-02-08-1100 which contains #32833 and indeed the configuration at https://gist.github.com/mmusich/12227a1a1d90e13ebae9502ac512c7d3 runs fine.
Thanks for providing a fix.
I guess this issue can be signed and close.

[2021-02-08 17:12] civanch commented on #31920
@mmusich , should I backport the fix to 11_2?

[2021-02-08 17:14] mmusich commented on #31920
@civanch indee, that would be great.

[2021-02-08 17:19] Dr15Jones opened #32844 "[RFC] Remove use of MessageLogger.h from *DataFormats headers"
The use of the MessageLogger is an implementation detail and therefore does not need to be exposed in the header of a *DataFormats class. Not allowing MessageLogger.h in *DataFormats headers has several advantages

- MessageLogger.h is fairly large and therefore contributes to compilation time,
- Code generated from MessageLogger calls is quite large and not suitable to inlined functions,
- Good l

[2021-02-08 17:19] cmsbuild commented on #32844
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-08 17:24] makortel commented on #32844
assign core

[2021-02-08 17:25] cmsbuild commented on #32844
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-08 17:25] makortel commented on #32844
@davidlange6 @vgvassilev Would you have any comments from the ROOT module point of view?

[2021-02-08 17:25] Dr15Jones commented on #32844
@davidlange6 FYI

[2021-02-08 19:32] vgvassilev commented on #32844
@makortel, I think that would make our modules infrastructure a bit more stable. Thanks @Dr15Jones for doing that!!

[2021-02-08 22:12] vgvassilev commented on #32844
Thanks, seem reasonable. We have changed the include graph in header files by pushing the inclusion of MessageLogger.h towards the edges on the edges. I see that #32847 chose to throw instead of logging an error -- can we consistently apply this rule to #32824 or there are packages that are not compiled by exceptions on? [Alternatively, we could move that one function in a different place and use

[2021-02-08 22:22] Dr15Jones commented on #32844
@vgvassilev For places which actually use the MessageLogger, the idea would be to move the calls to the .cc file instead of in the header. Changing to throwing an exception would be a much more disruptive change as it could cause major problems in production if something suddenly starts to throw.

[2021-02-08 22:29] vgvassilev commented on #32844
Yeah, that’s a better approach indeed if the functions are not relying on being inlined in the includers. I assume if they log (even conditionally) performance/inlining is not a top priority.

[2021-02-08 22:48] dan131riley commented on #31123
Continuing to poke at WF 136.776, I have a crash
[code]
where the `TFormula` is apparently very simple, the routine at the crash address disassembles to
[code]
The `adrp` instruction calculates a page-aligned PC-relative offset, and the following `ldr` access an offset from that page-aligned address, and that's where it crashes.  The offset looks suspicious, it's larger than the address range bein

[2021-02-09 01:12] christopheralanwest commented on #23030
+alca

This was resolved by PR #32392.

[2021-02-09 06:31] #23030 closed

[2021-02-09 14:07] #32822 closed

[2021-02-09 16:41] smuzaffar opened #32854 "DD4Hep plugins failed to load in ASAN IBs"
Looks like the DD4Hep plugins registration in ASAN IBs is failing. In order to register DD4Hep plugins we run `listcomponents` from DD4Hep which segfault [a].

@ianna , @cvuosalo does it look like an issue with DD4HEP/ROOT itself or cmssw issue?

[a]
[code]

[2021-02-09 16:41] cmsbuild commented on #32854
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-09 17:21] makortel commented on #32854
assign core, geometry

[2021-02-09 17:21] cmsbuild commented on #32854
New categories assigned: geometry,core

@Dr15Jones,@Dr15Jones,@smuzaffar,@cvuosalo,@mdhildreth,@makortel,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-09 21:06] Dr15Jones commented on #32844
See https://github.com/cms-sw/cmssw/pull/32859

[2021-02-09 21:12] smuzaffar commented on #32854
with root and dd4hep build in debug `mode` I get this under `gdb`
[code]

[2021-02-09 21:43] cvuosalo commented on #32822
+1

[2021-02-09 21:52] smuzaffar commented on #32854
@pcanal , @Axel-Naumann any idea about this crash https://github.com/cms-sw/cmssw/issues/32854#issuecomment-776246997  ? it looks like it is crashing while initializing `TROOT`

[2021-02-09 22:08] pcanal commented on #32854
@smuzaffar Odd ... is it possible that dd4hep and ROOT were build with different environment (in particular different version of ROOT)?  What does `valgrind --suppressions=$ROOTSYS/etc/valgrind-root.supp` say?

[2021-02-09 22:12] smuzaffar commented on #32854
No, both root and dd4hep were build in the same env ( build area is still available on `cmsdev21:/build/muzaffar/s/w` ). let me try with valgrind

[2021-02-09 22:51] pcanal commented on #32854
Does root.exe also fail? What if you run root.exe by itself in valgrind?
Does other executable without dd4hep fail?

[2021-02-09 22:53] smuzaffar commented on #32854
Ok if I preload libasan.so then `listcomponents` works [a]. All executables in cmssw are build with libasan that is why they work outof the box, for external binaries we need to preload libasan.
[code]

[2021-02-09 22:55] smuzaffar commented on #32854
No, root does not fail
[code]

[2021-02-10 00:40] pcanal commented on #32854
So, mystery solved, right?

[2021-02-10 03:00] qliphy opened #32862 "Build CMSSW_9_4_20"

[2021-02-10 03:00] cmsbuild commented on #32862
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-10 03:00] qliphy commented on #32862
+1

[2021-02-10 03:01] cmsbuild commented on #32862
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_20. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2021-02-10 03:01] cmsbuild commented on #32862
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-02-10 03:09] cmsbuild commented on #32862
The build has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2876/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-10 03:13] cmsbuild commented on #32862
The build has started for slc7_amd64_gcc630 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2877/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-10 05:34] cmsbuild commented on #32862
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_20-slc7_amd64_gcc630/2877
Some tests (

[2021-02-10 06:11] cmsbuild commented on #32862
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_20-slc6_amd64_gcc630/2876
Some tests (

[2021-02-10 06:20] cmsbuild commented on #32862
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_20-slc7_amd64_gcc630/2877

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2021-02-10 06:55] cmsbuild commented on #32862
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_20-slc6_amd64_gcc630/2876

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2021-02-10 06:57] qliphy commented on #32862
release-notes

[2021-02-10 06:57] qliphy commented on #32862
upload all

[2021-02-10 06:57] cmsbuild commented on #32862
Queing Jenkins upload for slc6_amd64_gcc630

[2021-02-10 06:57] cmsbuild commented on #32862
Queing Jenkins upload for slc7_amd64_gcc630

[2021-02-10 07:00] cmsbuild commented on #32862
The upload has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1832/console

[2021-02-10 07:01] cmsbuild commented on #32862
The upload has started for slc7_amd64_gcc630 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1833/console

[2021-02-10 07:01] cmsbuild commented on #32862
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_20-slc6_amd64_gcc630/1832

[2021-02-10 07:02] cmsbuild commented on #32862
Generating release notes since CMSSW_9_4_19.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-10 07:02] cmsbuild commented on #32862
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_20 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_19 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_20

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2021-02-10 07:04] cmsbuild commented on #32862
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_20-slc7_amd64_gcc630/1833

[2021-02-10 07:06] cmsbuild commented on #32862
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_20

[2021-02-10 07:18] forthommel commented on #23023
Just going through these old issues. Might be a good candidate for closing after a couple years of production :)

[2021-02-10 08:24] qliphy commented on #32862
release-notes since CMSSW_9_4_19

[2021-02-10 08:24] cmsbuild commented on #32862
Generating release notes since CMSSW_9_4_19.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-10 08:24] cmsbuild commented on #32862
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_20 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_19 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_20

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2021-02-10 08:28] cmsbuild commented on #32862
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_20

[2021-02-10 08:30] #32862 closed

[2021-02-10 08:46] smuzaffar commented on #32854
yes mystery solved, we need LD_PRELOAD=$GCC_RUNTIME_ASAN to be set for ASAN IBs. Without it any tools which loads CMSSW libraries fails with error
==3299==ASan runtime does not come first in initial library list; you should either link runtime to your application or manually preload it with LD_PRELOAD.

[2021-02-10 09:59] #32854 closed

[2021-02-10 10:59] nminafra commented on #23023
@forthommel Yes Sir!

[2021-02-10 10:59] #23023 closed

[2021-02-10 14:33] makortel opened #32867 "Segfault in PluginFactoryBase::findPMaker"
The CLANG IB CMSSW_11_3_CLANG_X_2021-02-09-2300 showed a segfault in `PluginFactoryBase::findPMaker()` in workflow 1304.182 step 1
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_CLANG_X_2021-02-09-2300/pyRelValMatrixLogs/run/1304.182_ProdZEE_13UP18+ProdZEE_13UP18+DIGIUP18PROD1+RECOPRODUP18bParking+MINIAODMCUP18bParking/step1_ProdZEE_13UP18+ProdZEE_13UP18+DIGIUP18P

[2021-02-10 14:33] makortel commented on #32867
assign core

[2021-02-10 14:33] cmsbuild commented on #32867
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-10 14:33] cmsbuild commented on #32867
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-10 14:33] makortel commented on #32867
Seems a continuation of https://github.com/cms-sw/cmssw/issues/32344

[2021-02-10 14:34] makortel commented on #32344
There was another segfault in `PluginFactoryBase::findPMaker()` in the latest CLANG IB. I opened a new issue for that https://github.com/cms-sw/cmssw/issues/32867

[2021-02-10 15:25] slava77 commented on #30597
@smuzaffar
I wanted to give a try to github projects; we have https://github.com/orgs/cms-sw/teams/reconstruction-l2/projects but I apparently do not have permissions to create projects here.
If the per-team projects are possible, it would be nice to get permissions.

[2021-02-10 15:25] srimanob opened #32869 "Grouping and/or documenting offset used in relvals upgrade workflows"
It seems to me that the offsets in Upgrade workflow are picking up randomly (or not?),
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py

Should we try to document them, .e.g. add README, so we collect what are in, and guideline on numbering. And maybe we can try to review and to group them a bit, if it is not too many works, and not

[2021-02-10 15:26] cmsbuild commented on #32869
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-10 15:39] makortel commented on #32869
assign pdmv,upgrade

[2021-02-10 15:40] cmsbuild commented on #32869
New categories assigned: pdmv,upgrade

@chayanit,@wajidalikhan,@jordan-martins,@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-10 15:57] smuzaffar commented on #30597
@slava77 , @makortel asked me about this last week but I could not find any time to look in to it.
For now I have created reconstruction project https://github.com/orgs/cms-sw/projects and @cms-sw/reconstruction-l2  team should have admin rights there. Please check if you have correct right and if settings look good. Once we have a basic idea of settings then I will automate it and create one proj

[2021-02-10 16:08] slava77 commented on #30597
this is not quite the same, but I guess it's better than none.

Isn't the solution for the teams projects permissions to make the team member(s) to be maintainers?

[2021-02-10 16:51] smuzaffar commented on #30597
No, `maintainer` is a person who can maintain a team itself (e.g adding/removing members from team itself). The `project` belongs to `organization` or `user`. So only `organization` `owners` can create project and then can assign that project to a team.

[2021-02-10 17:08] cvuosalo commented on #32854
+1

[2021-02-10 17:54] makortel commented on #30597
I have a feeling that different groups could have different needs, like some not needing a project at all and some needing to go to beyond a single project board. For example, my use case of framework would be a subset of `core`, and our current idea would utilize many project boards (1 + 1 per quarter), although this may evolve with more experience.

[2021-02-10 20:09] mrodozov commented on #32746
I was reading this which
https://lists.llvm.org/pipermail/llvm-dev/2016-March/096291.html
is old, but it says
"If a loop contains a function the loop cannot be vectorized unless the function is inlined"
which in our case is indeed inlined.
https://github.com/cms-sw/cmssw/blob/master/DataFormats/Math/interface/choleskyInversion.h#L340
If I remove line
https://github.com/cms-sw/cmssw/blob/master/Dat

[2021-02-10 21:06] slava77 commented on #32746
@VinInn
it looks like you are the author of the test.
please take a look.
Thank you.

[2021-02-11 02:38] makortel commented on #30932
+1

Done in #30950

[2021-02-11 02:39] cmsbuild commented on #30932
This issue is fully signed and ready to be closed.

[2021-02-11 10:56] srimanob commented on #32050
@adas1994
Could you please update the status? Thanks.

[2021-02-11 13:02] #30932 closed

[2021-02-11 13:06] chayanit commented on #32869
Hi @srimanob , sounds good to have some documentation so everyone who add things can follow the rules which I actually don't know what the rules are, tbh

[2021-02-11 14:34] adas1994 commented on #32050
To my best effort, I could not solve the segmentation fault issue. But I
had to stop working on it because my University's PhD candidacy exam is
coming up. I know I'm asking too much, but would it be possible for someone
to take it up, if I upload my code in my github account?

On Thu, Feb 11, 2021 at 5:56 AM Phat Srimanobhas <notifications@github.com>
wrote:

--
Sincerely,

Abhishek Das.

[2021-02-11 14:36] kpedro88 commented on #32050
@adas1994 yes, please share your branch

[2021-02-11 14:38] adas1994 commented on #32050
I will clean up my print statements and upload the code sometime before
today's evening and notify you.

thanks,

On Thu, Feb 11, 2021 at 9:36 AM Kevin Pedro <notifications@github.com>
wrote:

--
Sincerely,

Abhishek Das.

[2021-02-11 15:15] #15653 closed

[2021-02-11 15:45] srimanob commented on #25090
Dear All,
Any update, or current action on this? Thanks.

[2021-02-11 16:25] slava77 commented on #32756
@rovere @felicepantaleo

please clarify on the status of resolving this problem.
Thank you.

[2021-02-11 16:29] slava77 commented on #32747
I'm tempted to do a "-1" as "will not fix"
We have returned back to this a few times in the last 6 years or so.

[2021-02-11 16:30] slava77 commented on #32709
@perrotta @jpata
was there anything left for reco for this issue?

[2021-02-11 16:32] slava77 commented on #32657
@Dr15Jones
can this be closed now?

[2021-02-11 16:34] slava77 commented on #32643
we removed it from the outputs AOD a while ago and the step is kept for DQM purposes.

[2021-02-11 16:36] #32657 closed

[2021-02-11 16:38] slava77 commented on #32525
@igv4321 @abdoulline @mariadalfonso
please comment on the status.

- was someone assigned/volunteered to resync the HybridMinimizer implementation with the upstream Minuit2Minimizer
- if not, can we remove M2 together with related HybridMinimizer code?

[2021-02-11 16:39] srimanob commented on #32643
Thanks @slava77

I think this answers to @chayanit @wajidalikhan @jordan-martins that we don't need EI step for MC production. Then up to Top DQM for considering on migration.

[2021-02-11 16:40] slava77 commented on #32492
+1

this is apparently fixed

[2021-02-11 16:40] jfernan2 commented on #32643
ping @kuyoun

[2021-02-11 16:41] slava77 commented on #32451
+1

fixed in #32462 for 11_3_X and also backported to 11_2_X in #32619

[2021-02-11 16:46] slava77 commented on #32293
+1

closing this for now,
after a fairly significant reduction provided with https://github.com/cms-sw/cmssw/pull/32391#issuecomment-751284274 (the PR was merged Jan 11, 2021)

[2021-02-11 16:47] cmsbuild commented on #32293
This issue is fully signed and ready to be closed.

[2021-02-11 16:51] slava77 commented on #32152
did someone in TRK POG look at it?

@makortel
do we still have this problem occurring? Does it also show up in other arches?

[2021-02-11 16:54] slava77 commented on #31920
+1

based on https://github.com/cms-sw/cmssw/issues/31920#issuecomment-775266204

[2021-02-11 16:57] makortel commented on #32152
The latest slc7_ppc64le_gcc9 IB CMSSW_11_3_X_2021-02-10-2300 has in 11834.24 step 3
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc9/CMSSW_11_3_X_2021-02-10-2300/pyRelValMatrixLogs/run/11834.24_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano/step3_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano.log#/

and th

[2021-02-11 16:58] slava77 commented on #31843
I'm curious if there was any progress here.
Do we have an equivalent of `ak4CaloJetsForTrk` that would include all detectors in phase-2?

@lathomas @kirschen

[2021-02-11 17:04] christopheralanwest commented on #32492
+1

[2021-02-11 17:32] slava77 commented on #32152
what are the steps to reproduce? Is there a way to run interactively?

[2021-02-11 17:40] hatakeyamak commented on #27553
@Dr15Jones now this could be closed, as #32733 is integrated into the cmssw master branch?

[2021-02-11 18:26] silviodonato opened #32881 "Build CMSSW_11_3_0_pre3"

[2021-02-11 18:27] cmsbuild commented on #32881
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-11 18:31] silviodonato commented on #32881
build cmssw-tool-conf

[2021-02-11 18:32] cmsbuild commented on #32881
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc900, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, cc8_amd64_gcc9, cc8_ppc64le_gcc9
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2021-02-11 18:32] cmsbuild commented on #32881
The cmssw-tool-conf build has started for cc8_amd64_gcc9 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2878/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 18:32] cmsbuild commented on #32881
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2880/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 18:32] cmsbuild commented on #32881
The cmssw-tool-conf build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2879/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 18:34] cmsbuild commented on #32881
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2882/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 18:35] cmsbuild commented on #32881
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2881/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 20:56] #30627 closed

[2021-02-11 20:58] cmsbuild commented on #32881
There was an error building cmssw-tool-conf for slc7_amd64_gcc900
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_amd64_gcc900/2880

[2021-02-11 21:07] cmsbuild commented on #32881
There was an error building cmssw-tool-conf for slc7_ppc64le_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_ppc64le_gcc9/2882

[2021-02-11 21:19] cmsbuild commented on #32881
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2883/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 21:20] cmsbuild commented on #32881
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2884/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 21:50] cmsbuild commented on #32881
There was an error building cmssw-tool-conf for slc7_amd64_gcc900
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_amd64_gcc900/2883

[2021-02-11 21:52] cmsbuild commented on #32881
There was an error building cmssw-tool-conf for slc7_ppc64le_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_ppc64le_gcc9/2884

[2021-02-11 22:12] cmsbuild commented on #32881
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2885/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 22:17] adas1994 commented on #32050
This is the branch where I have uploaded my changes :
https://github.com/adas1994/cmssw/tree/segfault_branch
The two main files that I have been modifying are -
1.
https://github.com/adas1994/cmssw/blob/segfault_branch/SimCalorimetry/HGCalSimProducers/src/HGCDigitizer.cc
2.
https://github.com/adas1994/cmssw/blob/segfault_branch/DataFormats/HGCDigi/interface/PHGCSimAccumulator.h

And my best guess

[2021-02-11 22:18] cmsbuild commented on #32881
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2886/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 22:33] kpedro88 commented on #32050
@adas1994 can you provide some more details:
1. which CMSSW version
2. which workflow/step is crashing

[2021-02-11 22:43] makortel opened #32882 "ETL-relared failure in XMLIdealGeometryESSource"
Workflow 33434.0 step 1 is failing since CMSSW_11_3_X_2021-02-11-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-02-11-1100/pyRelValMatrixLogs/run/33434.0_TTbar_14TeV+2026D73+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step1_TTbar_14TeV+2026D73+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal.lo

[2021-02-11 22:43] makortel commented on #32882
assign geometry

[2021-02-11 22:44] cmsbuild commented on #32882
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-11 22:44] cmsbuild commented on #32882
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-11 22:45] makortel commented on #32882
From the PRs merged in  CMSSW_11_3_X_2021-02-11-1100 https://github.com/cms-sw/cmssw/pull/32840 looks like a plausible source

[2021-02-11 22:45] cmsbuild commented on #32881
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-cc8_ppc64le_gcc9/2881

[2021-02-11 22:54] silviodonato commented on #32881
+1

[2021-02-11 22:54] cmsbuild commented on #32881
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-02-11 22:54] cmsbuild commented on #32881
Queuing Jenkins build for the following architectures: cc8_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-02-11 22:58] cmsbuild commented on #32881
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2887/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 23:24] slava77 commented on #31783
@perrotta , if you agree, please "+1" or/and close this issue.

[2021-02-11 23:25] cmsbuild commented on #32881
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-cc8_amd64_gcc9/2878

[2021-02-11 23:26] cmsbuild commented on #32881
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-02-11 23:26] cmsbuild commented on #32881
The build has started for cc8_amd64_gcc9 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2888/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-11 23:38] slava77 commented on #31647
+1

I updated the notes in the issue description

[2021-02-11 23:40] slava77 commented on #31326
+1

after #31433 was merged

[2021-02-11 23:41] cmsbuild commented on #31326
This issue is fully signed and ready to be closed.

[2021-02-11 23:51] slava77 commented on #31019
from https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc900&release=CMSSW_11_3_X_2021-02-11-1100#ignominy

<img width="278" alt="Screen Shot 2021-02-11 at 3 48 50 PM" src="https://user-images.githubusercontent.com/4676718/107713705-b39da980-6c80-11eb-9036-758f85d5e2f9.png">

it looks like the cycle was split into two after #31370
Something still remains

[2021-02-12 00:03] adas1994 commented on #32050
1. CMSSW_11_1_0_pre8
2. The crash is happening in the 2nd step of any generic Premix workflow
such as 23434.99 using PU no. 200, 300 etc. I tried both available minbias
dataset and self-produced minbias dataset using workflow npo. 23240.0

On Thu, Feb 11, 2021 at 5:33 PM Kevin Pedro <notifications@github.com>
wrote:

--
Sincerely,

Abhishek Das.

[2021-02-12 00:28] cmsbuild commented on #32881
There was an error building cmssw-tool-conf for slc7_aarch64_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_aarch64_gcc9/2879

[2021-02-12 00:35] cmsbuild commented on #32881
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_amd64_gcc900/2885

[2021-02-12 00:35] cmsbuild commented on #32881
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-02-12 00:36] cmsbuild commented on #32881
The build has started for slc7_amd64_gcc900 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2889/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 00:37] cmsbuild commented on #32881
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_ppc64le_gcc9/2886

[2021-02-12 00:37] cmsbuild commented on #32881
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-02-12 00:39] cmsbuild commented on #32881
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2890/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 01:02] makortel commented on #31019
It seems to me the cycle 4 in https://github.com/cms-sw/cmssw/issues/31019#issuecomment-777872525 is at least partially caused by
https://github.com/cms-sw/cmssw/blob/3220826ed091fd91f9fcef7c45fe698e2fd4e71a/DataFormats/RecoCandidate/interface/TrackAssociation.h#L14-L19
This file should be moved to `SimDataFormats/TrackingAnalysis` that already depends on `DataFormats/TrackReco`.

[2021-02-12 01:37] slava77 commented on #30957
+1

this kind of fixed itself via #31906 (TICL v3 update in November 2020)
`int& std::vector<int >::emplace_back` cost is  0.05% in CMSSW_11_3_0_pre2  https://jiwoong.web.cern.ch/jiwoong/cgi-bin/igprof-navigator/igprofCPU_CMSSW_11_3_0_pre2/298

the change can be seen by comparing 11_2_0_pre8 https://jiwoong.web.cern.ch/jiwoong/cgi-bin/igprof-navigator/igprofCPU_CMSSW_11_2_0_pre8/73 with 11_2_0_pre

[2021-02-12 01:37] #30957 closed

[2021-02-12 01:41] slava77 commented on #30776
+1

done via #32418 (available from 11_3_0_pre3)

[2021-02-12 01:41] #30776 closed

[2021-02-12 01:41] cmsbuild commented on #30776
This issue is fully signed and ready to be closed.

[2021-02-12 01:43] slava77 commented on #30426
@hatakeyamak @bendavid
please clarify on the status of this

[2021-02-12 01:45] #31326 closed

[2021-02-12 01:52] slava77 commented on #29129
+1

resolved in #30599
(CMSSW_11_2_0_pre3)

[2021-02-12 01:52] #29129 closed

[2021-02-12 01:53] cmsbuild commented on #29129
This issue is fully signed and ready to be closed.

[2021-02-12 01:56] slava77 commented on #27553
+1

fixed with #32733 (available in 11_3_X since Feb 11, 2021; in CMSSW_11_3_0_pre3)

[2021-02-12 01:57] cmsbuild commented on #27553
This issue is fully signed and ready to be closed.

[2021-02-12 01:57] cmsbuild commented on #32881
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-cc8_ppc64le_gcc9/2887
Some tests

[2021-02-12 01:58] slava77 commented on #27095
how about now?

[2021-02-12 02:01] slava77 commented on #25884
+1

provided with #31220 (11_2_0) for a default miniAOD and #32372 for UL re-miniAOD in 10_6_X since CMSSW_10_6_20

[2021-02-12 02:01] #25884 closed

[2021-02-12 02:06] slava77 commented on #25365
closing now that 94X and 102X updates in reco and miniAOD are out of production scope

[2021-02-12 02:06] #25365 closed

[2021-02-12 02:08] slava77 commented on #25328
I can't recall any updates here; perhaps the tracking DPG experts can clarify

[2021-02-12 02:15] #32293 closed

[2021-02-12 02:30] cmsbuild commented on #32881
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-cc8_amd64_gcc9/2888
Some tests ( r

[2021-02-12 02:36] slava77 opened #32883 "reduce ML inference time in b-tag and related jet taggers: focus on ParticleNet"
This is a replacement/refresh for #25230 where the total of ML jet taggers was 20% of miniAOD time.

in a  recent variant of reminiAOD (now the 2018 UL remini wf 136.88811) jet tagging inference takes 15% of the miniAOD processing time, as measured in a few months old CMSSW_11_2_0_pre9
[code]

About 3/4 is in ParticleNet. This can be the primary target for reduction.

[2021-02-12 02:37] cmsbuild commented on #32883
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-12 02:37] slava77 commented on #25230
this could partly be closed now after ONNX inference was implemented ( #28112; via #27458).
However, the total cost is still fairly large after other additions.

Since new inference engines showed up since the late 2018 when this issue was opened, I will reopen a fresh one (#32883) and close this one.

[2021-02-12 02:37] #25230 closed

[2021-02-12 02:40] slava77 commented on #32883
@hqucms  @emilbols @camclean @alefisico  @riga

[2021-02-12 02:40] slava77 commented on #32883
assign reconstruction

[2021-02-12 02:40] cmsbuild commented on #32883
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-12 02:43] slava77 commented on #23216
@hatakeyamak @bendavid @afiqaize @SohamBhattacharya
I'm curious if there were some developments here in the last two years

[2021-02-12 02:49] slava77 commented on #20173
@hatakeyamak @bendavid

is the problem still present in the more recent (than the 2017 variant) calibration?

[2021-02-12 02:52] kpedro88 commented on #32883
@mialiu149 @jmduarte

[2021-02-12 03:02] slava77 commented on #17372
(to refresh the status) this is still active in a way; there was a recent discussion in connection with #30544 (which remained as an RFC and closed; a more generic variant of #31217, which was merged).

@cms-sw/fastsim-l2

the point here is to make the following data members transient (again)
[code]

To quote a few pieces from the email thread in August 2020 (after we narrowed down that the only u

[2021-02-12 03:03] slava77 commented on #17372
assign fastsim

[2021-02-12 03:03] cmsbuild commented on #17372
New categories assigned: fastsim

@mdhildreth,@sbein,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-12 03:12] cmsbuild commented on #32881
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-cc8_amd64_gcc9/2888

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-12 03:17] cmsbuild commented on #32881
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-cc8_ppc64le_gcc9/2887

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 3 2 17 2 0 0 0 0 0 failed

[2021-02-12 03:28] cmsbuild commented on #32881
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_ppc64le_gcc9/2890
Some tes

[2021-02-12 04:24] kpedro88 commented on #27095
#32397 removed `HcalGeometry` from the HGCal digitization.

There was some discussion that parts of the old geometry support had to be kept for test beam studies.

@bsunanda @rovere should comment about further cleanup plans.

[2021-02-12 04:31] cmsbuild commented on #32881
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_ppc64le_gcc9/2890

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-02-12 04:40] cmsbuild commented on #32881
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_amd64_gcc900/2889
Some tes

[2021-02-12 05:09] afiqaize commented on #23216
this is the first time I've become aware of this issue, so no, I'm not aware of any developments.

is this becoming more of a problem now?

[2021-02-12 05:23] cmsbuild commented on #32881
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_amd64_gcc900/2889

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-12 05:52] cmsbuild commented on #32881
The cmssw-tool-conf build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2891/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 07:41] cmsbuild commented on #32881
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_aarch64_gcc9/2891