[2020-03-11 08:19] cmsbuild commented on #29175
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11-slc7_amd64_gcc820/2351

[2020-03-11 08:24] #29175 closed

[2020-03-11 08:28] silviodonato opened #29176 "Build CMSSW_9_3_18"

[2020-03-11 08:29] cmsbuild commented on #29176
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-11 08:31] silviodonato commented on #29176
+1

[2020-03-11 08:31] cmsbuild commented on #29176
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_18. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2020-03-11 08:31] cmsbuild commented on #29176
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-11 08:32] cmsbuild commented on #29176
The build has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2353/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-11 08:32] cmsbuild commented on #29176
The build has started for slc6_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2352/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-11 10:49] cmsbuild commented on #29176
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_18-slc7_amd64_gcc630/2353
Some tests (

[2020-03-11 11:08] cmsbuild commented on #29176
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_18-slc7_amd64_gcc630/2353

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-03-11 11:16] civanch opened #29178 "Build CMSSW_11_1_0_pre4_GEANT4_NativeGeom"
Recently a new build CMSSW_11_1_0_pre4_GEANT4 was produced.

At the recent release meeting we requested to make CMSSW_11_1_0_pre4_GEANT4_NativeGeom which does not use VecGeom but only native geometry. This release will be use to analize Run-3 geometry and to cross check VecGeom and Native geometry of Geant4.

[2020-03-11 11:16] cmsbuild commented on #29178
You are not authorized to request the build of a release.

[2020-03-11 11:23] smuzaffar commented on #29178
@civanch , I am working on updating cmsdist to remove vecgeom dependency . Once ready we will build this special release.

[2020-03-11 11:28] cmsbuild commented on #29176
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_18-slc6_amd64_gcc630/2352
Some tests (

[2020-03-11 11:47] cmsbuild commented on #29176
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_18-slc6_amd64_gcc630/2352

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-03-11 12:52] silviodonato commented on #29176
upload all

[2020-03-11 12:52] cmsbuild commented on #29176
Queing Jenkins upload for slc6_amd64_gcc630

[2020-03-11 12:52] cmsbuild commented on #29176
Queing Jenkins upload for slc7_amd64_gcc630

[2020-03-11 12:54] cmsbuild commented on #29176
The upload has started for slc6_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1510/console

[2020-03-11 12:54] cmsbuild commented on #29176
The upload has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1511/console

[2020-03-11 12:55] cmsbuild commented on #29176
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_18-slc7_amd64_gcc630/1511

[2020-03-11 12:55] cmsbuild commented on #29176
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_18-slc6_amd64_gcc630/1510

[2020-03-11 12:58] silviodonato commented on #29176
release-notes

[2020-03-11 12:58] cmsbuild commented on #29176
Generating release notes since CMSSW_9_3_17.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-11 12:58] cmsbuild commented on #29176
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_18 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_17 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_18

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2020-03-11 12:59] cmsbuild commented on #29176
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_18

[2020-03-11 13:07] #29176 closed

[2020-03-11 13:10] makortel commented on #29174
assign core

[2020-03-11 13:11] cmsbuild commented on #29174
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-11 13:42] peruzzim opened #29180 "NanoAODv7 campaign preparation"
This is to track integration of features for the upcoming NanoAODv7 production campaign.

#### For the master branch:
- [ ] #29179 NanoAODv7 code updates, part 1

[2020-03-11 13:42] cmsbuild commented on #29180
A new Issue was created by  @peruzzim .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-11 13:42] peruzzim commented on #29180
assign xpog

[2020-03-11 13:42] cmsbuild commented on #29180
New categories assigned: xpog

@fgolf,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-11 13:59] #29136 closed

[2020-03-11 14:00] silviodonato opened #29181 "Build CMSSW_10_6_11_CANDIDATE"

[2020-03-11 14:01] cmsbuild commented on #29181
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-11 14:01] silviodonato commented on #29181
+1

[2020-03-11 14:02] cmsbuild commented on #29181
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11_CANDIDATE. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-03-11 14:02] cmsbuild commented on #29181
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-11 14:04] cmsbuild commented on #29181
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2354/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-11 14:04] cmsbuild commented on #29181
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2355/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-11 16:50] cmsbuild commented on #29181
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE-slc7_amd64_gcc820/2355
So

[2020-03-11 17:30] cmsbuild commented on #29181
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE-slc7_amd64_gcc820/2355

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-11 17:41] cmsbuild commented on #29181
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE-slc7_amd64_gcc700/2354
So

[2020-03-11 17:43] silviodonato commented on #29181
upload all

[2020-03-11 17:44] cmsbuild commented on #29181
Queing Jenkins upload for slc7_amd64_gcc700

[2020-03-11 17:44] cmsbuild commented on #29181
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-11 17:44] cmsbuild commented on #29181
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1513/console

[2020-03-11 17:44] cmsbuild commented on #29181
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1512/console

[2020-03-11 17:45] cmsbuild commented on #29181
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11_CANDIDATE-slc7_amd64_gcc820/1513

[2020-03-11 17:47] cmsbuild commented on #29181
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11_CANDIDATE-slc7_amd64_gcc700/1512

[2020-03-11 17:47] silviodonato commented on #29181
release-notes

[2020-03-11 17:51] silviodonato commented on #29181
release-notes

[2020-03-11 17:53] silviodonato commented on #29181
@cmsbuild release-notes

[2020-03-11 18:05] silviodonato commented on #29181
@cmsbuild  release-notes since CMSSW_10_6_10

[2020-03-11 18:12] Dr15Jones opened #29187 "METAnalyzer::makeRatePlot calculation incorrect"
The function METAnalyzer::makeRatePlot appears to have been broken since 2014. Is this really needed anymore since it is causing complications for concurrent luminosity running.

[2020-03-11 18:12] Dr15Jones commented on #29187
assign dqm

[2020-03-11 18:13] cmsbuild commented on #29187
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-11 18:13] cmsbuild commented on #29187
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-11 18:20] jfernan2 commented on #29187
Hi @Dr15Jones  I am notifying JetMET DQM/Validation contacts to have an answer:
@iatakisi @ramankhurana

[2020-03-11 18:21] cmsbuild commented on #29181
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE-slc7_amd64_gcc700/2354

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-11 18:22] cmsbuild commented on #29181
Generating release notes since CMSSW_10_6_10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-11 18:22] cmsbuild commented on #29181
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_11_CANDIDATE is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_11_CANDIDATE

Cheers,
cms-bot

You can also click <a h

[2020-03-11 18:23] cmsbuild commented on #29181
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11_CANDIDATE

[2020-03-11 18:28] Dr15Jones commented on #29187
The function METAnalyzer::makeRatePlot

https://github.com/cms-sw/cmssw/blob/7bf830bbb5f57be6673227056342a5adf8c88567/DQMOffline/JetMET/src/METAnalyzer.cc#L1388-L1411

actually ends up just calculating a histogram which is equivalent to the histogram labeled `DirName +"/MET"` but divided by `tottime`

This was not what the original function did prior to 2014
https://github.com/cms-sw/cmssw/blame/5

[2020-03-11 18:28] jfernan2 commented on #28072
Hi, I believe this issue has been solved

[2020-03-11 18:29] jfernan2 commented on #27802
This issue should be closed unless @jan-kaspar  has further comments

[2020-03-11 18:30] jfernan2 commented on #27801
I believe this issue can be closed unless @jan-kaspar has further comments

[2020-03-11 18:31] jfernan2 commented on #27800
This issue was partially solved in the PR above

[2020-03-11 18:39] jfernan2 commented on #25782
Is this issue still alive?

[2020-03-11 18:40] jfernan2 commented on #22996
This issue should be closed

[2020-03-11 18:59] makortel opened #29188 "Consider edm::async()"
PR https://github.com/cms-sw/cmssw/pull/29141 uses mostly-sleeping threads to achieve "pseudo asynchronous" behavior with RPC API's that do not provide fully asynchronous API (thread does the remote calls, then blocks the thread to wait for response, and after waking up notifies the `edm::WaitingTaskWithArenaHolder` that the work is done). If the use such threads starts to spread (more classes, mo

[2020-03-11 18:59] cmsbuild commented on #29188
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-11 18:59] makortel commented on #29188
assing core

[2020-03-11 19:00] makortel commented on #29188
assign core

[2020-03-11 19:00] cmsbuild commented on #29188
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-11 19:40] fwyzard commented on #29188
Would that need a Service to own the thread pool ?

[2020-03-11 19:49] makortel commented on #29188
I haven't managed to come up with a better solution than a Service or a singleton object for a "nice" API, and that is the part I don't like that much.

[2020-03-11 20:12] makortel commented on #29098
Thanks. So in principle it could be sufficient to modify McM to add an extra parameter to `cmsDriver` for the MC contacts, right? Does/can McM give a (slightly) different `cmsDriver` for production? Can that depend on CMSSW version?

Who should be contacted to get such change in McM?

[2020-03-11 20:23] smuzaffar opened #29192 "Build CMSSW_11_1_0_pre4_GEANT4_NativeGeom"
RELEASE_QUEUE:CMSSW_11_1_GEANT4_X
CMSSW_COMMIT:CMSSW_11_1_0_pre4_GEANT4
CMSDIST_COMMIT:IB/CMSSW_11_1_X/geant4-nativegeom

[2020-03-11 20:23] cmsbuild commented on #29192
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-11 20:23] smuzaffar commented on #29192
+1

[2020-03-11 20:24] cmsbuild commented on #29192
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre4_GEANT4_NativeGeom. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-03-11 20:24] cmsbuild commented on #29192
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-03-11 20:26] cmsbuild commented on #29192
The build has started for slc7_amd64_gcc820 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2356/console
CMSDIST Branch: [IB/CMSSW_11_1_X/geant4-nativegeom](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/geant4-nativegeom), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-11 20:35] smuzaffar commented on #29178
@civanch , I have open https://github.com/cms-sw/cmssw/issues/29192 to build this special release

[2020-03-11 20:35] #29178 closed

[2020-03-11 20:57] Dr15Jones commented on #25782
I checked that workflow (2250208.18) in the most recent ASAN report and I see a different issue. Unfortunately, only the first issue seen by a job gets reported. So we can't know the problem is gone until we get that whole workflow clean (I do have a pull request with the needed fix for the new issue).

[2020-03-11 21:36] kpedro88 commented on #27450
+upgrade
resolved by #28915

[2020-03-11 21:36] cmsbuild commented on #27450
This issue is fully signed and ready to be closed.

[2020-03-11 21:36] #27450 closed

[2020-03-11 21:38] kpedro88 commented on #29001
+upgrade
resolved by #29041

[2020-03-11 23:35] cmsbuild commented on #29192
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4_GEANT4_NativeGeom-slc7_amd64_gc

[2020-03-12 00:09] cmsbuild commented on #29192
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4_GEANT4_NativeGeom-slc7_amd64_gcc820/2356

Tests results:
33 32 31 25 15 4 1 1 1 tests passed, 1 1 0 0 0 0 0 0 0 failed

[2020-03-12 01:57] qliphy commented on #29098
adding @justinasr and @pgunnell

[2020-03-12 07:16] smuzaffar commented on #29192
@silviodonato , this is the release @civanch  asked for. It is identical to CMSSW_11_1_0_pre4_GEANT4 + geant4 is build without VecGeom. Feel free to start the upload

[2020-03-12 07:17] jan-kaspar commented on #27802
I apologise for the extremely late reply.

I guess the problem in definition of "compatibility". For the usecase of SW tests, where often one needs to check that a certain code change doesn't lead to ANY change in the results, I'd welcome a more strict definition of "compatibility".

In the above example, obviously, the blue histogram has significantly less entries thus most likely some dataset wa

[2020-03-12 07:25] jan-kaspar commented on #27801
Again, my apologies for the very late reply.

I am confused. For the relatively short time I am in the "matrix test" bussiness, it seems to me that the definition of the input data (dataset, run, LSs, etc.) is stable. Thus I'd expect identical input for different RelVal campaigns (otherwise it complicates the interpretation, as you also point out). It could be that I am naive...

In PPS, we have p

[2020-03-12 07:27] jan-kaspar commented on #27800
Thanks!

[2020-03-12 07:27] #27800 closed

[2020-03-12 07:44] silviodonato commented on #29192
upload all
thanks @smuzaffar

[2020-03-12 08:01] silviodonato commented on #29192
upload all

[2020-03-12 08:29] silviodonato commented on #29192
@cmsbuild upload all

[2020-03-12 08:40] smuzaffar commented on #29192
please wait cmssdt03 VM is in bad state. It can not access service outside CERN. I have open a SNOW ticket.  upload will start once machine gets back to a stable state.

[2020-03-12 09:14] fabiocos commented on #22996
@jfernan2 @silviodonato do we have evidence that all the issues (i.e. error messages induced by protections) have gone? And was the express workflow tested in some way?

[2020-03-12 09:27] cmsbuild commented on #29192
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-12 09:28] cmsbuild commented on #29192
The upload has started for slc7_amd64_gcc820 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1514/console

[2020-03-12 09:28] cmsbuild commented on #29192
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre4_GEANT4_NativeGeom-slc7_amd64_gcc820/1514

[2020-03-12 10:10] schneiml commented on #27802
@jan-kaspar For exactly the use case that you describe, we introduced the not-relmon-based bin-by-bin comparison to the PR tests. It should be possible for you to just download the respective root files from the GUI and feed them to `compareHistograms.py`.

RelMon can also be set up to apply more strict checks (and the configuration run in the PR tests is set up like this), but to get that for the

[2020-03-12 10:23] silviodonato commented on #29192
release-notes since CMSSW_11_1_0_pre4

[2020-03-12 10:25] cmsbuild commented on #29192
ATTENTION!!! The production architecture (slc6_amd64_gcc700) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2020-03-12 10:29] silviodonato commented on #29192
@civanch CMSSW_11_1_0_pre4_GEANT4_NativeGeom  will be ready on CVMF in few hours.

This is the diff wrt CMSSW_11_1_0_pre4_GEANT4 https://github.com/cms-sw/cmsdist/compare/REL/CMSSW_11_1_0_pre4_GEANT4/slc7_amd64_gcc820...REL/CMSSW_11_1_0_pre4_GEANT4_NativeGeom/slc7_amd64_gcc820

[2020-03-12 11:31] silviodonato commented on #22996
Good point @fabiocos . I tried to look for the error messages related to the protection in the IB tests of old releases without success. @jfernan2, do you know how to reproduce the old error related to `topSingleMuonMediumDQM`, `topSingleElectronMediumDQM`, `singleTopMuonMediumDQM`, `singleTopElectronMediumDQM`?

[2020-03-12 11:40] jfernan2 commented on #22996
@silviodonato I guess that reverting the PR i made up there, right?

[2020-03-12 12:15] slava77 commented on #29132
What is the prevalent use case?
To me [with a bias to central production], the reference should be the objects computed during miniAOD production (code reading AOD).
The discrepancy appearing in running on miniAOD would be considered a bug and should be fixed.
This logic doesn't really work if the primary analysis recipes and scale factors are for the objects computed when running from miniAOD (e.

[2020-03-12 12:52] silviodonato commented on #22996
I looked at the IB test of CMSSW_11_0_X [1] because they should not include  #28156
[1] https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_0/2020-03-11-2300?selectedArchs=slc7_amd64_gcc820&selectedFlavors=X&selectedFlavors=X&selectedStatus=failed&selectedStatus=known_failed&selectedStatus=passed

[2020-03-12 15:01] jfernan2 commented on #22996
Sorry @silviodonato I do not understand: the link you point out is from IB of today while #28156 was merged in 11_0_X around October 2019
I am sorry but I do not follow what you mean

[2020-03-12 16:17] silviodonato commented on #22996
You are right. I wanted to say CMSSW_10_6_X. For instance, I don't see any special error in
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc700/CMSSW_10_6_X_2020-03-12-1100/pyRelValMatrixLogs/run/136.8391_RunExpressPhy2017F+RunExpressPhy2017F+HLTDR2_2017+RECODR2_2017reHLTSiPixelCalZeroBias_Prompt+HARVEST2017/step3_RunExpressPhy2017F+RunExpressPhy2017F+HLTDR2_2017+RECODR2_2017reHLTSi

[2020-03-12 17:41] jfernan2 commented on #22996
I see... @fabiocos  spotted this in real Express sequence at Tier0 if I understand correctly. 136.8391 is using DQM:@standardDQM+@ExtraHLT+@miniAODDQM so the issue should be hidden there since all the JetCorrections are loaded

@schneiml  has been trying to get the actual config file and cmsRun environment at T0:
https://its.cern.ch/jira/browse/CMSTZ-427
But no success yet.

Nevertheless, I have t

[2020-03-13 10:08] ianna commented on #29057
Close via **[DD4hep] Add delayed Vector resolution** #29126

[2020-03-13 10:08] #29057 closed

[2020-03-13 10:09] ianna commented on #29057
+1

[2020-03-13 17:08] cmsbuild commented on #29181
The cleanup has started for slc7_amd64_gcc700

[2020-03-13 17:08] cmsbuild commented on #29181
The cleanup has started for slc7_amd64_gcc820

[2020-03-13 17:08] #29181 closed

[2020-03-13 17:08] cmsbuild commented on #29181
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_11_CANDIDATE-slc7_amd64_gcc700/1542

[2020-03-13 17:08] cmsbuild commented on #29181
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_11_CANDIDATE-slc7_amd64_gcc820/1543

[2020-03-13 21:13] silviodonato opened #29202 "CSC migration to DD4HEP"
After #29111, @slomeo this is a reminder to "useDD4hep" to a tracked paramter (https://github.com/cms-sw/cmssw/pull/29111/files#diff-795f20cbe45a874da3809baf1e566662R32).
As suggested by @fabiocos , you could also use https://cmssdt.cern.ch/lxr/source/Configuration/ProcessModifiers/python/dd4hep_cff.py  to switch on dd4hep.

[2020-03-13 21:13] cmsbuild commented on #29202
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-13 21:13] silviodonato commented on #29202
assign geometry

[2020-03-13 21:14] cmsbuild commented on #29202
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-13 21:21] ahinzmann opened #29203 "Misconfiguration of hltBoostedDBSVAK8TagInfosPF"
A misconfiguration in hltBoostedDBSVAK8TagInfosPF was identified while implementing the BoostedDoubleSVProducer::fillDescriptions method in #28936. This fix needs to applied consistently in HLT configurations.

This is the piece of code:
https://github.com/cms-sw/cmssw/pull/28936/commits/4a003c80cea8b88fd0e594885b6a36d07979df24
I would appreciate if an HLT expert could apply this fix.

[2020-03-13 21:22] cmsbuild commented on #29203
A new Issue was created by  @ahinzmann .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-13 22:07] slava77 commented on #29203
@ahinzmann
I think that it's better to fix the PSet in HLTrigger/Configuration/python/customizeHLTforCMSSW.py with ```delattr("variableJTAParsi")```

[2020-03-13 22:33] slava77 commented on #29203
this showed up almost two years ago in 8bd06c541dd64e252d821a2ee24c8f4167f172cd as a part of #22561  in CMSSW_10_1_0.
Looks like some typos made it to the confdb.
The PSet name in RecoBTag/SecondaryVertex/python/trackSelection_cff.py was  variableJTAPars from the start in 2012.

[2020-03-13 22:53] cmsbuild commented on #29192
ATTENTION!!! The production architecture () is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2020-03-14 09:37] #29192 closed

[2020-03-14 13:57] silviodonato opened #29204 "Dataset deleted from T2_CH_CERN"
The dataset
`/RelValTTbar_14TeV/CMSSW_10_6_1-106X_mcRun3_2021_realistic_v1_rsb-v1/GEN-SIM`
is available only at `T1_US_FNAL_Disk` and it is not available at `T2_CH_CERN`
https://cmsweb.cern.ch/das/request?instance=prod/global&input=site+dataset%3D%2FRelValTTbar_14TeV%2FCMSSW_10_6_1-106X_mcRun3_2021_realistic_v1_rsb-v1%2FGEN-SIM

As a result, step1 of `runTheMatrix.py -l 13034.0 -i all --job-report

[2020-03-14 13:57] silviodonato commented on #29204
assign pdmv

[2020-03-14 13:57] cmsbuild commented on #29204
New categories assigned: pdmv

@chayanit,@pgunnell,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-14 13:57] cmsbuild commented on #29204
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-14 17:17] makortel commented on #29204
I though we cache the files used in IB tests separately from the centrally managed storage (for which `runTheMatrix.py` needs `--ibeos` parameter to access). It follows that when a new file is added to the set, it can take couple of IBs before the corresponding workflow starts to succeed (but of course nothing helps if the dataset doesn't exist).

The failure in 13034.0 looks something else than a

[2020-03-15 15:42] ianna opened #29206 "[DD4hep] DT geometry builder unit test does not fail when it should"
[code]
while running the analyser separately produces an exception:
[code]

[2020-03-15 15:42] cmsbuild commented on #29206
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-15 17:46] makortel commented on #29206
assign geometry

[2020-03-15 17:47] cmsbuild commented on #29206
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-15 23:25] smorovic opened #29209 "Raw data object rarely goes missing in multi-threaded HLT jobs"
During recent output module tests which involve a lot of CPU time spent in output modules (for 2021 Heavy Ion running), I have been encountering spurious errors with 4-thread and 4-stream cmsRun jobs and would like to report it.

The issue appears when a module can not find product inserted by the input source (invalid handle). This causes following error message in the L1 HLT module (found in Vir

[2020-03-15 23:26] cmsbuild commented on #29209
A new Issue was created by  @smorovic Srecko Morovic.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-15 23:44] makortel commented on #29209
assign core, daq

[2020-03-15 23:44] cmsbuild commented on #29209
New categories assigned: core,daq

@Dr15Jones,@smuzaffar,@makortel,@mommsen,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-15 23:45] makortel commented on #29209
@Dr15Jones Could you take a look?

[2020-03-16 08:58] peruzzim commented on #27889
taking note of #25884

[2020-03-16 09:08] peruzzim commented on #27889
also taking note of missing unprefireable bit information in UL miniAOD

The envisaged solution is:
- run something equivalent to the `L1Repack:uGT` step, re-emulating `ExternalAlgBlock` in data with a dedicated customisation
- adapt NanoAOD configuration accordingly

@rekovic @srimanob

[2020-03-16 09:10] peruzzim commented on #27889
assign l1

[2020-03-16 09:10] cmsbuild commented on #27889
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-16 10:36] srimanob commented on #27889
FYI @ameyer-cern

[2020-03-16 13:10] peruzzim commented on #27889
taking note of MUO request for additional tracks to be added in MiniAOD supporting SF derivation without access to AOD

@dntaylor

[2020-03-16 14:02] wouf commented on #28636
@makortel Are You still able to help move on this?

[2020-03-16 14:48] Dr15Jones commented on #29209
@smorovic can you post the other fatal exceptions you see? Also, is 'delete early' feature turned on in the job you are running?

[2020-03-16 15:52] smorovic commented on #29209
I think delete early is not used (no "canDeleteEarly" option set anywhere in configuration). For reference, here is a copy of the configuration file:
/afs/cern.ch/user/s/smorovic/public/HltConfig.py_run1000001680_slc7_amd64_gcc700_CMSSW_10_6_8_TIER0_TRANSFER_OFF

All the errors and exceptions that appear:
'''
%MSG-e L1T:  L1TRawToDigi:hltGtStage2Digis 03-Mar-2020 18:59:42 CET  Run: 1000001680 Even

[2020-03-16 16:17] Dr15Jones commented on #29209
@smorovic
OK that exception is very weird. Do you have other ones as well? This is looking more and more like a memory overwrite.

[2020-03-16 16:26] Dr15Jones commented on #29209
@smorovic can you give me a recipe to reproduce the problem?

[2020-03-16 16:43] dildick opened #29215 "New repository L1Trigger-CSCTriggerPrimitives in cms-data"
Hi,

I am updating the CSC local trigger algorithm for Run-3 (#28600, #28846, #29205 ). I need to upload 10 look-up-tables to cms-data on github, specifically to L1Trigger-CSCTriggerPrimitives, in order to deploy the prototype CCLUT algorithm. Could someone create L1Trigger-CSCTriggerPrimitives on cms-data?

Thanks,
Sven

[2020-03-16 16:43] cmsbuild commented on #29215
A new Issue was created by  @dildick Sven Dildick.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-16 16:49] smuzaffar commented on #29215
created: https://github.com/cms-data/L1Trigger-CSCTriggerPrimitives
Please make a PR to add new data files, also update the README file to state the purpose of this data

[2020-03-16 17:14] Dr15Jones commented on #29209
What is the configuration of `L1TRawToDigi` that is being used in this job?

[2020-03-16 17:24] cvuosalo commented on #29206
@ianna Is there actually an InvalidDetId in the master, or are you just saying that this is a special case that the DT geometry test misses?

[2020-03-16 17:37] ianna commented on #29206
@cvuosalo - no, it was a failure of the test comparison triggered by `scram b runtests`. I have modified the `DDFilteredView` and would not have noticed that the downstream classes are affected if I did not run the test by hand.

[2020-03-16 18:09] silviodonato commented on #29204
Thanks Matti, indeed we did not get error in recent IB. I will open a new issue for the problem with wf 310.0, 311.0, 312.0

[2020-03-16 18:09] #29204 closed

[2020-03-16 18:16] smorovic commented on #29209
Here is the configuration of L1TRawToDigi.
[code]

I can prepare a file sample to run using a single process if you would like to use it to investigate any memory issues. However it will not be easily reproducible in this way.

The frequency of this is around 1 case in 30 minutes using 12 machines (each with 32-cores).
it is a BU-FU setup. I use custom script to generate event data in a filesystem

[2020-03-16 18:26] dildick commented on #29215
@smuzaffar Thanks! Please see https://github.com/cms-data/L1Trigger-CSCTriggerPrimitives/pull/1.

[2020-03-16 18:27] silviodonato opened #29216 "Missing pileup dataset in wf 310, 311, 312"
PR https://github.com/cms-sw/cmssw/pull/29032 creates the three new wfs 310, 311, 312 [1] using a not existing pileup dataset `/RelValHydjetQ_B12_5020GeV_2021/CMSSW_10_6_0-106X_upgrade2018_realistic_v4-v1/GEN-SIM` [2] [3].
In the PR discussusion, @mandrenguyen commented

Wf 158 is properly running in IB tests, but we are still getting error from wf 310, 311, 312 in IB tests.
@mandrenguyen what was

[2020-03-16 18:28] cmsbuild commented on #29216
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-16 18:28] silviodonato commented on #29216
assign pdmv

[2020-03-16 18:28] cmsbuild commented on #29216
New categories assigned: pdmv

@chayanit,@pgunnell,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-16 18:32] mandrenguyen commented on #29216
@silviodonato The GEN-SIM output of wf 159 should be used as the pileup dataset for 310 et al.
I guess we need to wait for a pre-release where 159 is run?

[2020-03-16 18:55] silviodonato commented on #29216
Ok, so you wanted to use a single pre-release to both create the pileup dateset with a new wf (159) and run a new wf (310) using that pileup dataset. It sounds a bit weird, because 310 will be not validated with the usual IB tests until the prerelease, but I understand that in this way we gain a lot of time (3 weeks).

The pileup dataset is `/RelValHydjetQ_B12_5020GeV_2021/CMSSW_10_6_0-106X_upgrad

[2020-03-16 18:58] mandrenguyen commented on #29216
@silviodonato I guess that's what I wanted to do.  As long as its run with the Run 3 geometry, I don't know of any reason that 159 needs to be run in any particular release.

[2020-03-16 19:08] Dr15Jones commented on #29209
@smorovic could you make the full log of a failed job avaiable somewhere? I do not see how the failure to get the FEDRawDataCollection leads to the module then throwing that exception.

[2020-03-16 19:56] smorovic commented on #29209
@Dr15Jones, I copied log files for the two occurrences:
1. run during the MWGR 1
2. reproduced replay run (there  be additional errors due to lumisection mismatch, but normal in this case as the number is faked.
Log files are are found here:

In
/afs/cern.ch/user/s/smorovic/public/HLT-errors/

old_hlt_run335523_pid143608.log

old_hlt_run1000001680_pid89272.log.tar.gz (compressed)

HltConfig.py_run

[2020-03-16 20:34] Dr15Jones commented on #29209
So the uncompressed log has odd messages
[code]

Note that the first error says it comes during processing of lumi 39 by a stream, not during the processing of an event! Do you know what the transition order that was to be expected? {E.g. what run, lumis and events.)

[2020-03-16 20:42] Dr15Jones commented on #29209
The compressed log file shows similar behavior before the exception
[code]

So again, what looks like the module being called during a lumi transition!

[2020-03-16 20:49] Dr15Jones commented on #29209
In both cases, the message logger is saying the stream is processing a transition for the previous Lumi, but the Event `produce` method for the module is being called!

[2020-03-16 20:53] smorovic commented on #29209
Yes, it can only be printed by produce, but I'm not sure how that can happen for Lumi transition?

I did not understand your question about order that was to be expected? We have one run per process, and then lumis and events (only). Currently no multiple lumis are allowed at the same time.

[2020-03-16 21:25] Dr15Jones commented on #29209
By order, what order of transition numbers (run number, then which lumi number and then which event numbers) the source is supposed to generate.

[2020-03-16 21:45] smorovic commented on #29209
I will have to run a couple more tests to see what is executed by the input source prior to the error, then I will get back.

[2020-03-17 06:42] chayanit commented on #29216
@silviodonato , @mandrenguyen Sorry but I do not agree to produce /RelValHydjetQ_B12_5020GeV_2021/CMSSW_10_6_0-106X_upgrade2018_realistic_v4-v1/GEN-SIM in 10_6_0. That's why I was asking Matthew to add new baseDataSetRelease to be used to HI 2021 GENSIM. Should we revert the PR #29032 and add this fix? RelValHydjetQ_B12_5020GeV_2021 should be produced in master IMOP.

[2020-03-17 08:29] mandrenguyen commented on #29216
@chayanit I didn't update the baseDataSetRelease because I didn't know which release to choose.  I still don't know.  wouldn't it make sense to just let 159 run in the next release and then fix this?

[2020-03-17 08:33] chayanit commented on #29216
@mandrenguyen that would work as well, as long as @silviodonato has no objection and no issue is foreseen for the IB test we can go with this solution. Thanks.

[2020-03-17 09:02] jan-kaspar commented on #27802
Thanks @schneiml !

Still, I believe that a similar check would be useful also for RelVals (provided that the input is still the same as I presume).

[2020-03-17 09:03] jan-kaspar commented on #27802
I guess that we all have more important things to do at this moment - I close the issue.

[2020-03-17 09:03] #27802 closed

[2020-03-17 09:04] jan-kaspar commented on #27801
I guess that we all have more important things to do at this moment - I close the issue.

[2020-03-17 09:04] #27801 closed

[2020-03-17 09:23] silviodonato commented on #29216
If I undestood correctly, the pileup dataset will be produced using wf 159 in the next prerelease (`CMSSW_11_1_0_pre5`).
Therefore, the pileup dataset name will be something like `/RelValHydjetQ_B12_5020GeV_2021/CMSSW_11_1_0_pre5-111X_upgrade2018_realistic_vX-vY/GEN-SIM` (we don't know the GT yet).
In addition, you want to use wf 310 to produce RelVals in `CMSSW_11_1_0_pre5` using that pileup data

[2020-03-17 10:02] chayanit commented on #29216
Hi @silviodonato not sure if the question is to me but I have not noticed or been informed that HIN group would like to start the validation of Run3 so we didn't plan to produce HIN workflows yet but @mandrenguyen can clarify.

Concerning the pileup dataset, in order to make the wfs 310, 311 and 312 work. We can produce this sample when pre5 arrives /RelValHydjetQ_B12_5020GeV_2021/CMSSW_11_1_0_pre

[2020-03-17 12:41] silviodonato commented on #29216
Thanks @chayanit. If you don't produce Relvals with wf 310, 311, 312, we can temporary remove those workflows and add them back as soon as the pileup dataset is ready, ie. after CMSSW_11_1_0_pre5.

[2020-03-17 13:06] silviodonato commented on #29216
I made a PR to disable temporarily these workflows https://github.com/cms-sw/cmssw/pull/29218

[2020-03-17 13:43] chayanit commented on #29216
OK thanks @silviodonato

[2020-03-17 14:01] Dr15Jones commented on #29209
So I'm working on the hypothesis that the Event prior to the new Lumi is marked as 'finished' before `hltGtStage2Digis` is run for that Event. The Event data is then cleared and only after that is `hltGtStage2Digis` called. The `hltGtStage2Digis` fails to find the data product which results in the first message which includes the missing data product and it being labeled as happening during a Lumi

[2020-03-17 14:17] Dr15Jones commented on #29209
The hypothesis could explain the second missing product message IF
- `hltGtStage2Digis` is again called after the framework thinks the event is done
- The call to the module happens between when the Event has deleted the FEDRawDataCollection but before the loop has reach the data products created by `hltGtStage2Digis`

This seems highly unlikely especially if the error message seen always mentions

[2020-03-17 14:42] Dr15Jones commented on #29209
There is one puzzle in the output. The messages from `AuxiliaryMakers` sometime say they are during `PostProcessEvent` and sometimes during `AfterSource` and when there was a problem it says `PostStreamBeginLumi`.

[2020-03-17 15:07] makortel commented on #29174
+1

[2020-03-17 15:07] cmsbuild commented on #29174
This issue is fully signed and ready to be closed.

[2020-03-17 15:23] smorovic commented on #29209
I am unable to resume tests at the moment because one of machines needed was shut down (due to coronavirus situation). I asked if possible to bring it back, so we'll see if that materializes.

This was running on dual-socket machines. Maybe it would make sense to run each processes pinned to a particular CPU socket to remove any migration over the separate L3 caches. It would likely reduce the pro

[2020-03-17 15:56] Dr15Jones commented on #29209
So I understand about the `PostProcessEvent` and `AfterSource` behavior. The message logger does not set that field when the 'preSourceEvent` state happens. So if a message is printed during that time, what ever the last message which set that field on that particular thread will be printed. Not so helpful so I'll probably go ahead and change that in the MessageLogger.

[2020-03-17 19:50] Dr15Jones commented on #29209
So the
[code]

assert happened to me while running the test
[code]
on a machine that was fully loaded.

[2020-03-17 20:43] #29174 closed

[2020-03-18 08:12] silviodonato commented on #29216
solved with #29218
@mandrenguyen please open a PR to restore wf 310, 311, 312 and to update the pileup dataset name
 as soon as the pileup dataset is ready, or at least we know the pileup dataset name

[2020-03-18 08:12] #29216 closed

[2020-03-18 12:05] smorovic commented on #29209
I added more log information and ran over night. Got 6 errors.  They all have input source "nextEvent" return new luminosity block, and immediately later there is first of the "cannot unpack" error:
[code]
"New LUMI" log message was inserted here:
https://github.com/cms-sw/cmssw/blob/master/EventFilter/Utilities/src/FedRawDataInputSource.cc#L269

Then the next "Cannot unpack" error appears on the

[2020-03-18 17:22] Dr15Jones commented on #29209
I found a way to semi reliably cause the `Assertion `lbp' failed.` So I will concentrate there for now.

[2020-03-18 20:09] Dr15Jones commented on #29209
I found out that if I replace the `assert` with a loop that re-requests the LuminosityBlock principal that eventually the job succeeds. So this is definitely a race condition based on when TBB tasks are run.

[2020-03-18 20:19] smorovic commented on #29209
I can try a similar trick in L1TRawToDigi to see if product is found if in a loop (maybe with limited cycles to print some error eventually).

[2020-03-19 08:20] silviodonato opened #29237 "Fake comparison failures due to L1T in wf 25202.0 and 1330.0"
We are observing fake comparison failures in wf 25202.0 and 1330.0 since CMSSW_11_1_X_2020-03-17-2300 [1].
The failures are in folders L1TEMU/L1TdeStage2uGMT, L1T/L1TStage2uGMT, L1T/L1TriggerVsGen.

Example:  L1T / L1TStage2uGMT / EMTFInput
![image](https://user-images.githubusercontent.com/6177433/77045648-ee8c5400-69c1-11ea-95e2-e3f51cc72a44.png)

Likely, this fake error is related to https://gi

[2020-03-19 08:20] silviodonato commented on #29237
assign l1

[2020-03-19 08:21] cmsbuild commented on #29237
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-19 08:21] cmsbuild commented on #29237
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-19 08:21] silviodonato commented on #29237
cc: @srimanob

[2020-03-19 08:31] srimanob commented on #29237
Thanks @silviodonato
Does the DQM link work for you?
https://cmsweb.cern.ch/dqm/dev/session/6Stmgn

[2020-03-19 08:44] silviodonato commented on #29237
try with https://tinyurl.com/ubwjuu6

[2020-03-19 08:45] silviodonato commented on #29237
or from the DQM comparison test of #29227
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_11_1_X_2020-03-18-1100+0254a3/35537/dqm-histo-comparison-summary.html

[2020-03-19 16:36] Dr15Jones commented on #29209
So I can cause the `assert` failure 100% of the time by overloading the machine and slowing down this particular lambda
https://github.com/cms-sw/cmssw/blob/master/FWCore/Framework/src/EventProcessor.cc#L1135-L1163

Do not know why yet, but working on it.

[2020-03-19 16:50] Dr15Jones commented on #29209
So I added printouts at the very end of that lambda containing StreamID, Run# and Lumi #. Here is what I get

[code]
So we see that events and then end lumi are actually called before that lambda is finished. That condition doesn't always cause a failure (see Run 8 lumi 2 printouts) but every failure does have that call.

[2020-03-19 18:42] makortel opened #29245 "PhysicsTools.NanoAOD.custom_jme_cff needs to be updated"
The PR #29212 broke the workflow 25202.01
[code]
by removing `jetTable.variables.jercCHPUF`. I presume either it needs to be added back, or `custom_jme_cff` needs to be updated.

[2020-03-19 18:42] makortel commented on #29245
assign xpog

[2020-03-19 18:42] cmsbuild commented on #29245
New categories assigned: xpog

@fgolf,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-19 18:42] cmsbuild commented on #29245
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-19 22:50] smorovic commented on #29209
From my side, I experimented with adding the loop containing getByToken and validity check. I also disabled gcc optimization for that code and ended adding __sync_synchronize barrier within the loop.

Loop would break if it eventually finds the product, and would then throw a special exception if it wasn't found the first time. But it never finds it and just keeps looping infinitely (it prints som

[2020-03-20 00:18] Dr15Jones commented on #29209
The assert was fixed with #29248

[2020-03-20 04:36] slava77 commented on #29015
I don't find it in the https://hypernews.cern.ch/HyperNews/CMS/get/relAnnounce.html
Is this release broken in some way?

[2020-03-20 09:19] fabiocos opened #29250 "Compilation errors when activating EDM_ML_DEBUG"
Trying to use some LogDebug statements I have realized that we have code associated to them, apparently not tested in the regular integration procedure because the needed flag is not active, that looks broken.

Ad far as I can see in cms-bot, ```EDM_ML_DEBUG``` seems to be used only in the static analyzer test (@smuzaffar do you confirm ?).

For future reference I have compiled the whole CMSSW as

[2020-03-20 09:19] cmsbuild commented on #29250
A new Issue was created by  @fabiocos Fabio Cossutti.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-20 09:40] silviodonato opened #29251 "Error in IB test wf 13034.0"
As discussed during the last Core Software meeting, we are getting a seldom error in 13034.0 :

[code]

These are the log files of the latest IB tests with the error

[CMSSW_11_1_X_2020-03-13-2300.log](https://github.com/cms-sw/cmssw/files/4358746/step3_TTbar_14TeV%2BTTbar_14TeV_TuneCP5_2024PU_GenSimFullINPUT%2BDigiFullPU_2024PU%2BRecoFullPU_2024PU%2BHARVESTFullPU_2024PU%2BNanoFull_2024PU_CMSSW_11

[2020-03-20 09:40] cmsbuild commented on #29251
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-20 12:39] makortel commented on #29251
assign alca, reconstruction

[2020-03-20 12:39] makortel commented on #29250
assign core

[2020-03-20 12:39] cmsbuild commented on #29251
New categories assigned: reconstruction,alca

@slava77,@christopheralanwest,@franzoni,@tlampen,@pohsun,@perrotta,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-20 12:39] cmsbuild commented on #29250
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-20 12:40] makortel commented on #29250
So should we consider building occasionally (e.g. once a week?) with `EDM_ML_DEBUG`?

[2020-03-20 12:41] Dr15Jones commented on #29209
@smorovic if you want to try the fix, all you need to do is check out FWCore/Framework and change FWCore/Framework/src/EventProcessor.cc line 1152-3 from
[code]
to
[code]
I believe that is sufficient to fix the assert. You also do not have to rebuild the entire CMSSW code base with just that small change.

[2020-03-20 13:12] fabiocos commented on #29250
@makortel I think it might help. This issue is not breaking any production workflow, but shows that we integrate dysfunctional (although mostly unused) code

[2020-03-20 13:24] smorovic commented on #29209
Thanks @Dr15Jones . I already applied full patch to FWCore/Framework (only one reject which was trivial to fix with CMSSW_11_0_1). It seems to work without having to recompile any other libraries.

It has already been running for 2 hours and no exceptions seen so far (but this is still not very improbable even with the bug). I will leave it running for a day to be certain.

[2020-03-20 13:54] perrotta commented on #29251
In https://cmssdt.cern.ch/lxr/source/RecoLocalTracker/SiPixelRecHits/src/SiPixelTemplateReco.cc#1178 I notice that the value ```kappa=0.01```, which throws in cmssw, wouldn't throw in standalone running of the template (compare with L1174)
This is exactly the value which generates the exception here.

In the literature I find that ```kappa=0.01``` corresponds to the Landau limit (while ```kappa=10

[2020-03-20 14:26] OzAmram commented on #29251
The short answer is that I think this fix makes sense, but I am checking with Morris to be sure. I'll let you know when he confirms.

The longer explanation is:
Kappa being = 0.01 exactly can only happen in the extreme case that both of the templates being interpolated between have kappa = 0.01 (which is the limit on the parameter imposed by the fit done in the template making code). Even though t

[2020-03-20 15:17] Dr15Jones commented on #29209
I'm assuming this test would also uncover the
[code]

problem as well?

[2020-03-20 18:28] smorovic commented on #29209
Unfortunately, I had two occurrences of "no FedRawData" problem (and eventually other exception, same as previously) in last 6 hours.

After applying the patch, this is how the relevant code looks:
[code]

Now I managed to increase frequency of cases to a few per minute by having 4x streams and threads, likely because of increased preemption of threads. With this maybe it is possible to have a mor

[2020-03-20 18:56] Dr15Jones commented on #29209
Glad you could trigger it faster. Did you have any of the assert failures?

[2020-03-20 19:23] smorovic commented on #29209
No, I could never reproduce assert problem (after original runs where they appeared).

I managed to trigger 'no FEDRawData' one even faster by having more frequent LS transitions. Last combination: with one machine only, one process with 128 threads/streams (on 32-core dual Skylake) gives a case every 5-10 minutes.  I think it was even faster when running with 8 processes (x 16 threads/streams)
Al

[2020-03-20 20:34] OzAmram commented on #29251
Ok so after a little closer inspection I think what Andrea wrote above is a little backwards. The CMSSW exception is thrown on line 1174, so it is the condition on 1173 that needs to be changed to fix the problem (note the ifndef on 1172). 1178 is what is run in the standalone code.

So it is a little confusing that the exception is being thrown with kappa = 0.01 then, because that should not sati

[2020-03-21 07:43] perrotta commented on #29251
Lines 1173 to 1176 are accessed only if ```#ifndef SI_PIXEL_TEMPLATE_STANDALONE```
CMSSW accesses line 1178 instead

Of course, one could certainly relax both cases (CMSSW and STANDALONE) to take rounding errors into account. But the error reported in the log that started this issue wouldn't have been triggered in STANDALONE mode, while it did in CMSSW.

[2020-03-21 08:24] perrotta commented on #29251
Sorry @OzAmram : yes, you are right. In my post above I confused ```#ifdef``` and ```#ifndef```

Yes: rounding approximations must be taken into account when there are non integer numbers.

Instead of writing values as such, I'd rather define a const value epsilon (small) to be added to the actual bounds in the evaluation.

[2020-03-21 14:08] OzAmram commented on #29251
Ok that sounds good to me.

[2020-03-21 20:52] slava77 opened #29264 "cleanup miniAOD workflow after moving PUPPI to reco"
PR #28936 moved PUPPI and some related jet modules to RECO, however puppi, ak4PFJetsPuppi and a few more modules are repeatedly running both in RECO and in PAT (when configured to run separately). Some simple tests show that most of it can be avoided https://github.com/cms-sw/cmssw/pull/28936#issuecomment-601484360.

By comparing the RECO and PAT steps in wf 11634.21 (production-like wf),  I see t

[2020-03-21 20:52] slava77 commented on #29264
assign reconstruction

[2020-03-21 20:53] slava77 commented on #29264
@ahinzmann

[2020-03-21 20:53] cmsbuild commented on #29264
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-21 20:53] cmsbuild commented on #29264
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-21 21:07] slava77 opened #29265 "implement complete/functional fillDescriptions for templated b-taggers and those using common trackSelection"
Many b-taggers do not have a functional definition of fillDescriptions methods (some have just "allow anything" implementations). This issue is to propose and track implementation of a more complete PSet validation.

As a starting/seeding point, the work can be done on using a common definitions of the ```trackSelection``` PSet, shared by many modules, via a common tool/method that can generate th

[2020-03-21 21:07] slava77 commented on #29265
assign reconstruction

[2020-03-21 21:07] cmsbuild commented on #29265
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-21 21:07] cmsbuild commented on #29265
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-22 09:33] parbol opened #29267 "Inclusion of MTD in the tracking navigation"
The MTD adds one barrel layer and two layers per endcap to the tracker. In the long-term, the MTD should be included within the tracking logic. The first step consists in the inclusion of the MTD in the tracker navigation. Initial discussion and some possible options have been discussed in:

https://indico.cern.ch/event/898980/contributions/3789239/attachments/2006874/3351890/RECO-Talk.pdf

Option

[2020-03-22 09:34] cmsbuild commented on #29267
A new Issue was created by  @parbol .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-22 12:47] makortel commented on #29267
assign reconstruction

[2020-03-22 12:48] cmsbuild commented on #29267
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-23 00:23] smorovic commented on #29209
I packaged a test which can be run on a standalone machine.

/afs/cern.ch/user/s/smorovic/public/HLT-errors/test-hlt.tar.gz

- server.sh starts data generator. It will write to /dev/shm/hlttest and fill up to 10% of the space there (configurable) and keep filling as needed. It also requires 'cmsenv' due to a binary which was compiled with gcc 8.2 from cmsdist.

- runCMSSW.sh starts the test HLT pr

[2020-03-23 11:32] smuzaffar commented on #29250
@fabiocos , @silviodonato , as discussed, we will add an extra test for IBs (production arch only) to compile with this flag. We will also update the PR testsing job to parse the static analyzer scram log (where we enable this flag) and report any build errors

[2020-03-23 13:08] Dr15Jones commented on #29209
Do the events where the problem occur seem to have any relationship with LuminosityBlock transitions? E.g. happen right before or right after a LuminosityBlock transition happens? Just trying to find some pattern to help guide the debugging.

[2020-03-23 13:16] Dr15Jones commented on #29209
I tried running your script on cmsdev31 and got a failure in the server.sh script:
[code]

[2020-03-23 13:29] Dr15Jones commented on #29209
After reviewing previous comments in this issue, it looks like the exception always happens right after a LuminosityBlock transition. Does that still seem to be the case after adding my one fix?

[2020-03-23 13:35] smorovic commented on #29209
It seems numactl is not installed. But you could also try by editing the script and try to run without numactl (and parameters), unless you need to pin process to a specific node or core.

From my understanding (from a few days ago), the no "FedRawData" error appears for event that was processed before input source returned new Lumi (if module runs after input source does this). And later also app

[2020-03-23 14:45] smorovic commented on #29209
I rechecked once again. Yes, this appears with your fix (the complete patch applied to CMSSW_11_0_1).

[2020-03-23 15:39] Dr15Jones commented on #29209
So I added
[code]
To the job to better understand what was happening. I had done the following
- Ran 6 cmsRun jobs concurrently without the Tracer and let them run for 20+ minutes
- killed all 6 but kept the server up
- started 1 cmsRun job which not used the Tracer

The Tracer job then showed a number of lumis which contained no events. Is that expected?

From the Tracer output when using CMSSW_1

[2020-03-23 15:51] Dr15Jones commented on #29209
I tried running such a job on cmsdev31 but I can't come close to saturating the CPUs with 6 jobs as the source can't delver transitions fast enough to the jobs. (each job is hovering at around 100% CPU althought it is using 8 threads/streams).

[2020-03-23 15:53] fabiocos commented on #29250
@casarsa there are two errors in MTD digitization:

[code]

but ```adcThreshold_fC_``` is no more there.  Can we just replace it with ```0```? Or what is your suggestion?

[2020-03-23 16:01] Dr15Jones commented on #29209
Hiere is another thought. Change
https://github.com/cms-sw/cmssw/blob/master/EventFilter/L1TRawToDigi/plugins/L1TRawToDigi.cc#L140

to be `assert(false)`. That way when the problem occurs, cmsRun will pause all the threads and do a stack trace. That could help determine what is happening in the job as a whole.

[2020-03-23 16:10] casarsa commented on #29250
@fabiocos 0 is fine

[2020-03-23 16:17] smorovic commented on #29209
Last parameter is the number of writer threads, it can be increased if needed. Although even one is sufficient in my case. I am surprised that jobs can't saturate CPU given the high cost of compression, maybe output disk writing is slow?

For other parameters, 3 => files/LS and 30 => events / file. With this it is normal that some LS-es are completely empty because not each process gets a file (I

[2020-03-23 16:19] fabiocos commented on #29250
@casarsa wait, you have now ```adcThreshold_MIP_```, should we just use that? It looks to me that this is the case...

[2020-03-23 16:22] smorovic commented on #29209
I repeated it (this time also I removed the log):
[code]

[2020-03-23 16:30] Dr15Jones commented on #29209
Unfortunately that particular traceback doesn't show anything else going on of interest. It often takes many attempts with tracebacks for one of them to successfully catch another thread at the right time. So if you could continue, that would be great.

One thing that looks weird to me is why does TBB have so many threads?  It is managing thread 1, 5-11, 13-19. That is 7 more than it should since

[2020-03-23 16:30] smorovic commented on #29209
It seems I didn't enable LZMA compression in the HLT menu in the package, which would load CPU more. It can be done by uncommenting this from near the end of HltConfig.py:
[code]
However I was getting the exception very easily even when using default gzip one. I also got one crash with LZMA already.

[2020-03-23 16:40] casarsa commented on #29250
@fabiocos you are right
adcThreshold_MIP_ is used to set a bit in the BTL and ETL samples. For consistency, it's better to use this constant.

[2020-03-23 16:44] suchandradutta opened #29274 "Crash in workflow 20634.99"
There is a crash during the step3 (digitization after using pre-mixed sample) of the workflow
20610.99. The crash occurs after processing a couple of events with the following exception:

---- Begin Fatal Exception 23-Mar-2020 12:16:28 CET-----------------------
An exception of category 'NullPointerError' occurred while
   [0] Processing  Event run: 1 lumi: 1 event: 2 stream: 0
   [1] Running path

[2020-03-23 16:45] cmsbuild commented on #29274
A new Issue was created by  @suchandradutta Suchandra Dutta.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-23 16:52] smorovic commented on #29209
I will keep trying.
It is indeed strange that first trace had 19 threads, but I don't understand why. Latter cases all had 12 and this is normal (there are a few input source threads for prefetching data + one for monitoring snapshots in addition to configured tbb threads).

[2020-03-23 16:53] makortel commented on #29274
assign simulation

[2020-03-23 16:53] cmsbuild commented on #29274
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-23 16:54] Dr15Jones commented on #29209
Do you call any ROOT routines from a thread you started? In particular, any ROOT routines dealing with I/O? Some of those routines call TBB under the hood. If you call it from a non-TBB thread, TBB will startup more threads to do the work requested.

[2020-03-23 16:56] Dr15Jones commented on #29209
If the abort happens quickly, you could try adding
[code]
to the job to see what is happening. The down side is the log grows extremely quickly.

[2020-03-23 16:57] makortel commented on #29274
By quick look on the code
https://github.com/cms-sw/cmssw/blob/5e3f992f4fa48c721233224807b7ef95114ecb30/SimCalorimetry/HGCalSimProducers/src/HGCDigitizer.cc#L259-L264
the problem could be caused by 'simHitAccumulator_` being empty. So probably the code should be
[code]
instead to always `put()` a valid product.

Any volunteers to try it out?

[2020-03-23 17:11] boudoul commented on #29274
the PU dataset in the WF 20610.99 seems pretty old ... /RelValMinBias_14TeV/CMSSW_10_6_0_patch2-106X_upgrade2023_realistic_v3_2023D41noPU-v1/GEN-SIM
...  did the HGCAL geeometry not change since 10_6_0_patch2 (release announced in May 2019 ), maybe pdmv should update the PU dataset in runthematrix ?

[2020-03-23 17:22] Dr15Jones commented on #29209
So looking at the second traceback and the results of my own Tracer job I see that hltOutputPhysicsVirginRaw4 and hltOutputPhysicsVirginRaw7 both depend on data products from hltTriggerSummaryAOD which depends on data products from hltGtStage2Digis. Therefore, if things are working correctly, the OutputModules are processing data from a different event.

[2020-03-23 17:35] smorovic commented on #29209
Yes, I think that should be the case. Each hltPreRandom* has different offset (0 to 15) and prescale factors are 16. Each output module takes 2 of those paths. So events are distributed in round robin fashion between output modules / streams (it makes it difficult to reduce the size of the menu and keep threads saturated doing compression).

I also tried to run without HLTriggerFinalPath and Rates

[2020-03-23 17:54] Dr15Jones commented on #29209
Do you have the stacktrace to the recen failure when you didn't have RatesMonitoring?

[2020-03-23 18:13] Dr15Jones commented on #29209
To get a better understanding of this particular configuration, I added the StallMonitor service and then plotted the results. Here is what I got

![stall_hlt](https://user-images.githubusercontent.com/3757616/77348565-ab0a5080-6d07-11ea-8ec2-e06649f6b57f.png)

The blue part is during global begin run, the light green is during stream begin run then the entire red section is processing after that.

[2020-03-23 18:15] smorovic commented on #29209
The module which triggers the problem is process.hltFEDSelector:
[code]

I disabled RatesMonitoring and HLTriggerFinalPath, and added hltFEDSelector to BeginSequence as below.
[code]

It resulted in this abort and stacktrace (I think nothing unusual apart from 19 threads with this one)
[code]

[2020-03-23 18:24] Dr15Jones commented on #29209
@dan131riley can you think of a good way to figure out why TBB is starting more threads?

[2020-03-23 18:32] smorovic commented on #29209
I think that It depends how many events process saw in a LS. I guess if it's not multiple of 8 or 16 it will cause stalling because of waiting for others to finish LS (still due to limitation of one per LS currently).

There indeed seemed to be some overhead when we were running during MWGR #1 (we sample states per CMSSW stream and inter-module transition appeared to be around 10% in the graph). W

[2020-03-23 18:51] Dr15Jones commented on #29209
The stall grapher, if I remember correctly how we designed it, would not account for stalls from LS in that way. So this is strictly a case of too many events wanting to run that particular module at any given time and the framework not being able to do it since it is a `one` module and there are no other modules around to run.

Please go ahead and post that one as well. The more we have (even if

[2020-03-23 19:11] smorovic commented on #29209
I didn't save it, but I will run again to get it for that case.

On a second thought, EoL waiting case is specially marked also with FastMonitoringService sampling (and would be seen as different contribution), so maybe we were seeing the same thing. I will put it in my plans to investigate under which condition it happens (e.g. if it changes with more tbb threads assigned with same number of stre

[2020-03-23 19:15] smorovic commented on #29209
[code]

[2020-03-23 19:16] smorovic commented on #29209
above was actually with full HLTriggerFinalPath

[2020-03-23 19:28] smorovic commented on #29209
This one is again without that path and without hltFEDSelector
[code]

[2020-03-23 19:39] Dr15Jones commented on #29209
Would it be possible in the test to rebuild FWCore/Framework with '-g' option? I.e.
[code]
? That could give us some of the call parameter values which might help pin things down.

[2020-03-23 19:50] Dr15Jones commented on #29209
One striking thing about the tracebacks is how prevalent the following is found in a stack
[code]
Which is when a Path just finished one module and is starting to span another one.

[2020-03-23 20:01] smorovic commented on #29209
Could path spanning prevalence could be related to the stalling problem?

I recompiled FWCore/Framework with 'scram b clean;scram b USER_CXXFLAGS="-g" '. Here is debug stack trace:
[code]

[2020-03-23 20:01] srimanob commented on #29274
@boudoul
It's D41 geometry, we did not produce many D41 datasets after 10_6_0. From DAS, we have few from 11_0_0_preX,
https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=%2FRelValMinBias_14TeV%2F*D41*%2FGEN-SIM

One may consider to update with
/RelValMinBias_14TeV/CMSSW_11_0_0_pre13-110X_mcRun4_realistic_v2_2026D41noPU-v1/GEN-SIM
which was produced in 2019-12-04

Th

[2020-03-23 20:10] smorovic commented on #29209
I caught also one case with the Tracer module. Compressed version is here:

/afs/cern.ch/user/s/smorovic/public/HLT-errors/tracer.log.tar.gz

[2020-03-23 20:16] Dr15Jones commented on #29209
The only thing that cause stalls are `one` and `legacy` modules. The same module on multiple Paths do not.

[2020-03-23 20:20] Dr15Jones commented on #29209
Even with `-g` to stacktrace doesn't have the value for StreamID which is what I was hoping to see :(.

[2020-03-23 21:10] silviodonato opened #29280 "Build CMSSW_10_6_11_CANDIDATE2"

[2020-03-23 21:10] cmsbuild commented on #29280
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-23 21:12] silviodonato commented on #29280
+1

[2020-03-23 21:12] cmsbuild commented on #29280
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11_CANDIDATE2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-03-23 21:13] cmsbuild commented on #29280
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-23 21:14] cmsbuild commented on #29280
The build has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2357/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-23 21:15] Dr15Jones commented on #29209
The Tracer output is VERY interesting. The assert appears to happen on stream 3. But at the time I see
[code]
Note that right after stream 3 starts doing 'end lumi' We get the line
[code]
It is possible that the MessageLogger is printing out of order, but I don't think so as later
[code]

[2020-03-23 21:16] cmsbuild commented on #29280
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2358/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-23 21:39] Dr15Jones commented on #29209
So the last event processed by stream 3 before doing the end lumi, all the Paths report finishing properly.

[2020-03-23 22:34] Dr15Jones commented on #29209
Here is an interesting discovery about the configuration
[code]

Have a dependency inversion.  Modules `process.hltOutputPhysicsVirginRaw*` depend on `TriggerSummaryProducerAOD/'hltTriggerSummaryAOD'` which depends on `hltGtStage2Digis`. But as you can see in the above configuration, `hltGtStage2Digis` comes after `process.hltOutputPhysicsVirginRaw*`. The only reason this works is several of the o

[2020-03-23 23:49] smorovic commented on #29209
Thanks, I corrected it and now the same test has been running for an hour without a problem! Just to be sure, I will do a bit more testing and leave it running until tomorrow.

I will also open a ticket with the HLT group to fix  this kind of issue in HLT configurations.

[2020-03-23 23:50] cmsbuild commented on #29280
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE2-slc7_amd64_gcc820/2358
S

[2020-03-24 00:29] cmsbuild commented on #29280
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE2-slc7_amd64_gcc820/2358

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-24 00:36] cmsbuild commented on #29280
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE2-slc7_amd64_gcc700/2357
S

[2020-03-24 01:16] cmsbuild commented on #29280
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE2-slc7_amd64_gcc700/2357

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-24 04:23] chayanit commented on #29274
Hi, does the old PU dataset cause this crash? I don't get.

[2020-03-24 04:37] suchandradutta commented on #29274
No, I do not think the old RelVal PU sample is responsible for the crash! Using the same sample
we could run the workflow  20634.99 without any problem.

[2020-03-24 11:00] smorovic commented on #29209
I have been running for several hours in total (it fills disk after 1 hour), but so far no assertion (I would get it within minutes normally). It seems that the problem is solved by proper ordering of the modules.

[2020-03-24 11:20] silviodonato commented on #29280
upload all

[2020-03-24 11:20] cmsbuild commented on #29280
Queing Jenkins upload for slc7_amd64_gcc700

[2020-03-24 11:20] cmsbuild commented on #29280
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-24 11:21] cmsbuild commented on #29280
The upload has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1515/console

[2020-03-24 11:21] cmsbuild commented on #29280
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1516/console

[2020-03-24 11:23] cmsbuild commented on #29280
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11_CANDIDATE2-slc7_amd64_gcc820/1516

[2020-03-24 11:24] cmsbuild commented on #29280
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11_CANDIDATE2-slc7_amd64_gcc700/1515

[2020-03-24 11:36] silviodonato commented on #29280
release-notes

[2020-03-24 11:36] cmsbuild commented on #29280
Previous release "" does not appear to be a valid release name

[2020-03-24 11:37] silviodonato commented on #29280
release-notes since CMSSW_10_6_11_CANDIDATE

[2020-03-24 11:37] cmsbuild commented on #29280
Generating release notes since CMSSW_10_6_11_CANDIDATE.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-24 11:37] cmsbuild commented on #29280
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_11_CANDIDATE2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_11_CANDIDATE can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_11_CANDIDATE2

Cheers,
cms-bot

You can als

[2020-03-24 11:37] cmsbuild commented on #29280
Generating release notes since CMSSW_10_6_11_CANDIDATE.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-24 11:37] cmsbuild commented on #29280
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_11_CANDIDATE2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_11_CANDIDATE can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_11_CANDIDATE2

Cheers,
cms-bot

You can als

[2020-03-24 11:38] cmsbuild commented on #29280
There was an error generating the release notes, please look into the logs

[2020-03-24 11:38] cmsbuild commented on #29280
There was an error generating the release notes, please look into the logs

[2020-03-24 11:41] #29280 closed

[2020-03-24 11:42] silviodonato opened #29282 "Build CMSSW_11_1_0_pre5"

[2020-03-24 11:42] cmsbuild commented on #29282
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-24 11:43] silviodonato commented on #29282
build cmssw-tool-conf

[2020-03-24 11:43] cmsbuild commented on #29282
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900, cc8_amd64_gcc8, cc8_aarch64_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-03-24 11:44] cmsbuild commented on #29282
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2360/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-24 11:44] cmsbuild commented on #29282
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2359/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-24 11:44] cmsbuild commented on #29282
The cmssw-tool-conf build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2361/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-24 11:44] cmsbuild commented on #29282
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2362/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-24 11:46] cmsbuild commented on #29282
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2363/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-24 13:02] mmusich commented on #29274
@makortel
with these changes:
[code]
The aforementioned wf runs to completion.

[code]

shall I make a PR?

[2020-03-24 13:19] Dr15Jones commented on #29209
Even with a 'solution' I'd like to keep this issue open as we explore the underlying cause.

[2020-03-24 13:32] makortel commented on #29274
Yes please.

[2020-03-24 13:34] makortel commented on #29274
@mmusich And thanks for making the test!

[2020-03-24 13:54] mmusich commented on #29274
https://github.com/cms-sw/cmssw/pull/29286 for the record.

[2020-03-24 14:09] kpedro88 commented on #29274
assign upgrade

[2020-03-24 14:10] cmsbuild commented on #29274
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-24 15:06] smorovic commented on #29209
I agree, as it is still not understood. I am available to do more tests as much as needed.
Also I opened the JIRA ticket with TSG group to raise this issue with the HLT configurations:
https://its.cern.ch/jira/browse/CMSHLT-2112

[2020-03-24 15:10] silviodonato commented on #29245
solved by  #29257

[2020-03-24 15:47] Martin-Grunewald commented on #29209
The order should always be: first hltGtStage2Digis, followed by HLTPrescaler module, followed by Output module.
The HLTPrescaler consumes something from hltGtStage2Digis, and should itself be before the OutputModule so that the OutputModule does not see all events!

[2020-03-24 15:52] Martin-Grunewald commented on #29209
TriggerSummaryProducer runs in the "last" path, HLTriggerFinalPath, after all other paths and before any EndPath!

[2020-03-24 15:54] Dr15Jones commented on #29209
@Martin-Grunewald  Actually, EndPaths and Paths have been started concurrently for many years now.

[2020-03-24 15:56] Dr15Jones commented on #29209
From looking at the Tracer output, we tend to see HLTriggerFinalPath finishing before HLTriggerFirstPath finishes!

[2020-03-24 15:59] Martin-Grunewald commented on #29209
Hopefully not at HLT. The TriggerSummary makse sense to construct only if all other paths have given their decision!

[2020-03-24 16:44] cmsbuild commented on #29282
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_aarch64_gcc820/2362

[2020-03-24 16:58] cmsbuild commented on #29282
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_aarch64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-cc8_aarch64_gcc8/2361

[2020-03-24 18:06] cmsbuild commented on #29282
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_amd64_gcc820/2360

[2020-03-24 18:13] cmsbuild commented on #29282
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_amd64_gcc900/2363

[2020-03-24 18:14] Dr15Jones commented on #29209
I have a hypothesis as to what is happening. The way Paths work is when it is time for the Nth module to run
- we create a task which will run the N+1 module
- we pass that task to the Nth module's runModuleAsync call
- the `runModuleAsync` call adds the task to the list of tasks to run once the module finishes
- then `runModuleAsync` try to update an atomic value to see if it should actually run

[2020-03-24 18:17] cmsbuild commented on #29282
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-cc8_amd64_gcc8/2359

[2020-03-24 18:50] makortel opened #29288 "Mechanism to ensure compatibility of modules between processes"
PR https://github.com/cms-sw/cmssw/pull/29151 uses `pset::Registry` to obtain a PSet of an ESProducer of an earlier Process to check (via PSet hash) that an ESProducer in the current process is configured in the same way. We could think of more general solution to ensure compatibility of modules between processes.

[2020-03-24 18:50] makortel commented on #29288
assign core

[2020-03-24 18:50] cmsbuild commented on #29288
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-24 18:55] makortel commented on #29209
@Martin-Grunewald

The `TriggerSummaryProducerRAW` and `TriggerSummaryProducerAOD` indeed use `edm::GetterOfProducts` for their input objects. Therefore framework runs those summary producers after all their input objects are either available, or known to not be produced ever for that event because of filters. It may well be that the summary producers (that do not depend on the `TriggerResults`) a

[2020-03-24 21:30] dan131riley commented on #29209
One oddity with the traceback with 19 threads is that most of the excess threads aren't in sig_pause_for_stacktrace(), which I think means they started before InitRootHandlers' task_scheduler_observer started and never stole any work, according to the docs at

https://www.threadingbuildingblocks.org/docs/help/reference/task_scheduler/task_scheduler_observer/task_scheduler_observer_member.html

Unf

[2020-03-24 21:47] silviodonato opened #29293 "Build CMSSW_11_0_2"

[2020-03-24 21:47] cmsbuild commented on #29293
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-24 21:48] silviodonato commented on #29293
+1

[2020-03-24 21:49] cmsbuild commented on #29293
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_0_X

[2020-03-24 21:49] cmsbuild commented on #29293
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-03-24 21:55] cmsbuild commented on #29293
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2364/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-25 02:48] cmsbuild commented on #29293
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_2-slc7_amd64_gcc820/2364
Some tests (

[2020-03-25 03:26] cmsbuild commented on #29293
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_2-slc7_amd64_gcc820/2364

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-25 07:31] silviodonato commented on #29293
upload all

[2020-03-25 07:31] cmsbuild commented on #29293
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-25 07:32] cmsbuild commented on #29293
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1517/console

[2020-03-25 07:34] cmsbuild commented on #29293
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_2-slc7_amd64_gcc820/1517

[2020-03-25 07:49] silviodonato commented on #29293
release-notes

[2020-03-25 07:50] cmsbuild commented on #29293
Generating release notes since CMSSW_11_0_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-25 07:50] cmsbuild commented on #29293
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_0_2 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_0_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_2

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2020-03-25 07:51] cmsbuild commented on #29293
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_2

[2020-03-25 11:28] smorovic commented on #29209
Good news.
I reverted to the old configuration and with unpatched 11_0_1 got 3 failures in 30 minutes. Then I applied the patch, recompiled all ED modules used and so far have accumulated about 5 hours of running without any error. So, apparently, #29291 fixes it.

[2020-03-25 12:13] Dr15Jones commented on #29209
@smorovic thanks so much for running the tests with the code changes!

[2020-03-25 12:17] fwyzard opened #29297 "Issues related to GPU data structures and code organisation"
# GPU-friendly data structures

## Constraints and requirements

I've considered what kind of restrictions and requirements we should impose on the types used for the heterogeneous algorithms, and for the host-device (and potentially host-host and device-device) communications.
C++11 introduced some concepts that can prove useful; as an example SYCL currently requires that buffers be *TriviallyCop

[2020-03-25 12:17] cmsbuild commented on #29297
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-25 12:20] fwyzard opened #29298 "Issues related to GPU plugins organisation"
# Organisation of plugins and libraries

From Matti:

I'm fine with this, but how do we want to implement it, concretely ?
Assuming we want to have the original CPU-only code in its own plugin, and a separate plugin for each backend:
  - do we keep everything in the `.../plugins/` directory, and use the BuildFile to implement separate plugins ?
  - do we keep the original code in the `plugins` dir

[2020-03-25 12:20] cmsbuild commented on #29298
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-25 12:27] fwyzard commented on #29297
assign heterogeneous

[2020-03-25 12:27] fwyzard commented on #29298
assign heterogeneous

[2020-03-25 12:27] fwyzard commented on #29298
assign core

[2020-03-25 12:27] cmsbuild commented on #29297
New categories assigned: heterogeneous

@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-25 12:27] cmsbuild commented on #29298
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@makortel,@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-25 12:48] smorovic commented on #29209
No problem, I am glad that we could pinpoint the problem!

[2020-03-25 14:16] slava77 commented on #29267
@VinInn @lgray @rovere
tagging a few more people [feel free to mute, in case the tag is by mistake]

[2020-03-25 14:35] smuzaffar commented on #29298
I would suggest to keep the plugins in same `package/plugins` directory. If you have to manage sources for different backend then create `package/plugins/<backend>`.

I do nit understand the issue with header files. The header files which belongs to plugins are not public headers and they should reside along with the plugin in plugins directory. If there are header files which are public then they

[2020-03-25 14:39] fwyzard commented on #29298
Does scram actually support a hierarchy like `System/Package/plugins/cuda/` ?

[2020-03-25 14:40] fwyzard commented on #29298
What about libraries, can we have
`System/Package/src` built into a library, and `System/Package/src/cuda` build into a separate library ?

[2020-03-25 14:43] fwyzard commented on #29298
The comment about header files refer to a situation where we have
`System/Package/plugins/common.h`
used by both
`System/Package/plugins/plugin.cc`
and
`System/Package/plugins/cuda/plugin.cc`

With this approach it is reasonably clear that the files under `.../plugins/cuda/` can use the header files from `.../plugins/`.

If we prefer to use a different package altogether, e.g. `CUDASystem/Package`

[2020-03-25 14:43] smuzaffar commented on #29298
yes by having something like the following in `System/Package/plugins/BuildFile.xml`
[code]

[2020-03-25 14:45] fwyzard commented on #29298
Finally, the long term strategy is probably not to have
` System/Package/plugins/`
` System/Package/plugins/cuda/`
` System/Package/plugins/some`
` System/Package/plugins/other`
...
but more simply
` System/Package/plugins/`
` System/Package/plugins/heterogeneous`
and then build the files under `plugins/heterogeneous` for multiple back ends.

[2020-03-25 14:47] makortel commented on #29298
(my impression is that we pretty much agree)

I was thinking we have all source code under `package/plugins`, and split the binary code to multiple plugins in the `BuildFile.xml`. The subdirectories for backends could help to write the plugin declarations in `BuildFile.xml`. The long-term goal would be to have a single source that gets compiled to multiple backend binaries automagically by scram.

[2020-03-25 14:48] makortel commented on #29298
My original question was more whether we do the split of CPU-only and CUDA-aware code to different plugin libraries now, or later when bundling all together becomes a problem.

[2020-03-25 14:51] smuzaffar commented on #29298
libraries are not that simple, how should SCRAM name those libraries. How other pakcage declare a dependency on one or other?

For public libraires I would suggest separate packages but if a shared library is only used by dedicated plugins then why not just create a private library from the plugin directory itself? e.b.

[code]

[2020-03-25 14:52] fwyzard commented on #29298
Yes, this is why I was considering something like
`System/Package/plugins`
and
`HeterogeneousSystem/Package/plugins`

where the first one is the - mostly untoiched - legacy, cpu-only code, and the second one is a portable code base that we build for multiple architectures.

[2020-03-25 14:54] fwyzard commented on #29298
I don't know, that's why I am asking :-)

Libraries are supposed to be used by other libraries, and by plugins in the same or other packages.
So, the only viable alternative is separate packages.

However, what about the case were we have a single code base, e.g. under `System/Package/src/` and want to build multiple libraries out of it, with different compilers and/or compiler settings ?

[2020-03-25 14:55] fwyzard commented on #29298
Right now I would lean towards splitting it already now, but let's see.

[2020-03-25 15:03] smuzaffar commented on #29298
this is not possible with current build system. We will again have the same issue i.e from all the generated libraries (with eithe rdifferent flags or compilers) only one will be available for linking

[2020-03-25 15:04] makortel commented on #29298
I was thinking more something like the following for the `System/Package/plugins/BuildFile.xml`
[code]

[2020-03-25 15:05] makortel commented on #29298
@smuzaffar Don't we have the same problem if we'd compile the library e.g. for multiple vectorization levels? Or do you mean with "not possible with current build system" exactly that the build system would need to be extended for such behavior?

[2020-03-25 15:15] smuzaffar commented on #29298
For special vectorization flags (controlled via top level config/BuildFile.xml), scram is going to support that for both plugin and libraries. In that case scram is going to generate
[code]
and we load either one of special vector library of fall back to default one. But supporting random flags will not work.

SCRAM treat cuda a special and generate
[code]
and if cuda is available then prefer lib/

[2020-03-25 15:16] smuzaffar commented on #29298
by the way the above will only work as long as the interface for the library do not change. I mean the symbols with in all flovors of a library are same

[2020-03-25 15:23] fwyzard commented on #29298
Mhm, no, that cannot work for this use case - we want to be able to use multiple versions of the same library at the same time, in the same job.

[2020-03-25 15:23] smuzaffar commented on #29298
@makortel , why not
[code]

but how plugin manager is going to decide which plugin to load? I guess all these files are going to provide same plugins. I think plugin manager will not be happy with that.

[2020-03-25 15:23] makortel commented on #29298
I believe with CUDA (and in general for the "heterogeneous backends") we'd want to be able to load both `lib/arch/libNAME.so` and `lib/arch/cuda/libName.so` e.g. to be able to run both CPU and GPU flavors in the same process, or run on multiple GPU platforms in the same process (ok the latter may be a unicorn).

[2020-03-25 15:27] makortel commented on #29298
If we add a new backend (say a new GPU platform, or GPU platforms become dependent on the CPU architecture) we'd have to go through all such BuildFiles and update them with a similar pattern. That is doable of course, but the cost should be weighted against the cost of doing all that automagically by the build system.

My current idea is for each of them to provide different plugins.

[2020-03-25 15:31] fwyzard commented on #29298
Agreed, they would provide something like `PluginCPUSerial`, `PluginCPUParallel`, `PluginCUDA`, `PluginOtherBacked`, ...

[2020-03-25 16:22] Dr15Jones commented on #29187
ping

[2020-03-25 16:28] Dr15Jones commented on #25090
The list of modules keeping workflow 1361.181 from running step 3 efficiently with concurrent lumis was decreased by one; TrackingMonitor is now efficient.

[2020-03-25 16:34] Dr15Jones commented on #29209
I think we could close this issue now.

[2020-03-25 17:00] rovere commented on #29267
@ebrondol since, to my recollection, she's been the last one using and training the Navigation School for Tracking.

[2020-03-25 18:56] silviodonato commented on #29282
+1

[2020-03-25 18:56] cmsbuild commented on #29282
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-03-25 18:56] cmsbuild commented on #29282
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I

[2020-03-25 18:59] cmsbuild commented on #29282
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2366/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-25 18:59] cmsbuild commented on #29282
The build has started for cc8_amd64_gcc8 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2365/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-25 18:59] cmsbuild commented on #29282
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2367/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-25 18:59] cmsbuild commented on #29282
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2369/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-25 18:59] cmsbuild commented on #29282
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2368/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-25 21:13] cmsbuild commented on #29282
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-cc8_aarch64_gcc8/2367
Some tests

[2020-03-25 21:16] cmsbuild commented on #29282
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_aarch64_gcc820/2368
Some

[2020-03-25 21:44] cmsbuild commented on #29282
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_amd64_gcc900/2369
Some tes

[2020-03-25 21:49] cmsbuild commented on #29282
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-cc8_amd64_gcc8/2365
Some tests ( r

[2020-03-25 22:10] cmsbuild commented on #29282
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-cc8_aarch64_gcc8/2367

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-25 22:16] cmsbuild commented on #29282
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_aarch64_gcc820/2368

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-25 22:22] cmsbuild commented on #29282
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_amd64_gcc900/2369

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-25 22:26] cmsbuild commented on #29282
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-cc8_amd64_gcc8/2365

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-25 22:32] cmsbuild commented on #29282
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_amd64_gcc820/2366
Some tes

[2020-03-25 23:08] cmsbuild commented on #29282
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5-slc7_amd64_gcc820/2366

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-25 23:24] makortel commented on #29297
In principle I agree, but IIRC e.g. Eigen matrices do not satisfy that, because the default constructor is non-trivial (and therefore we have
https://github.com/cms-sw/cmssw/blob/0884d51ab694c3d62946aa6c07230e40fb84a38e/HeterogeneousCore/CUDAUtilities/interface/host_unique_ptr.h#L60-L62
etc.).

Allowing non-trivial default constructor (i.e. going to _TriviallyCopyable_) then raises the question wh

[2020-03-26 00:18] kpedro88 opened #29306 "Missing mkTemplates folder"
It looks like a recent change in the build rules ended up dropping the mkTemplates folder used for some utilities:
https://github.com/cms-sw/cmssw-config/blob/8ccbb93b0e24f7f4cd6b147f2b3a2fb739f95fbf/ChangeLog#L11-L12

See https://hypernews.cern.ch/HyperNews/CMS/get/swDevelopment/3554.html for the original report.

[2020-03-26 00:18] cmsbuild commented on #29306
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-26 00:19] kpedro88 commented on #29306
assign core

[2020-03-26 00:20] cmsbuild commented on #29306
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-26 01:40] makortel commented on #29297
I've come to the same conclusion. Memory-space aware data formats would also lead to an explosion of the ROOT dictionary declarations (N(classes) x N(memory spaces)). A downside is that the framework's input product type check does not catch errors like host consumer reading a device product. In principle we can do a run-time check within the consumer module.

Do I understand correctly that "multi

[2020-03-26 02:19] makortel commented on #28636
Apologies for the long delay, here is a commit that adds `skipSignal` parameter to the `MixingModule`
https://github.com/makortel/cmssw/commit/95eabc080923fe6484fcb36210816f03d28e8846. It compiles, but I have not tested running it. Visually it should do the job though.

[2020-03-26 10:11] silviodonato commented on #29282
upload all

[2020-03-26 10:11] cmsbuild commented on #29282
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-03-26 10:11] cmsbuild commented on #29282
Queing Jenkins upload for cc8_amd64_gcc8

[2020-03-26 10:11] cmsbuild commented on #29282
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-03-26 10:11] cmsbuild commented on #29282
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-26 10:11] cmsbuild commented on #29282
Queing Jenkins upload for slc7_amd64_gcc900

[2020-03-26 10:12] cmsbuild commented on #29282
The upload has started for cc8_amd64_gcc8 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1518/console

[2020-03-26 10:12] cmsbuild commented on #29282
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1521/console

[2020-03-26 10:12] cmsbuild commented on #29282
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1519/console

[2020-03-26 10:12] cmsbuild commented on #29282
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1520/console

[2020-03-26 10:13] cmsbuild commented on #29282
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre5-cc8_amd64_gcc8/1518

[2020-03-26 10:13] cmsbuild commented on #29282
The upload has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1522/console

[2020-03-26 10:13] cmsbuild commented on #29282
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre5-cc8_aarch64_gcc8/1519

[2020-03-26 10:13] cmsbuild commented on #29282
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre5-slc7_aarch64_gcc820/1520

[2020-03-26 10:14] cmsbuild commented on #29282
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre5-slc7_amd64_gcc900/1522

[2020-03-26 10:14] cmsbuild commented on #29282
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre5-slc7_amd64_gcc820/1521

[2020-03-26 10:14] silviodonato commented on #29282
release-notes

[2020-03-26 10:15] cmsbuild commented on #29282
Generating release notes since CMSSW_11_1_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-26 10:15] cmsbuild commented on #29282
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre5 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_p

[2020-03-26 10:15] cmsbuild commented on #29282
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre5

[2020-03-26 10:52] smorovic commented on #29209
Thanks. Closing the issue.

[2020-03-26 10:52] #29209 closed

[2020-03-26 12:30] silviodonato opened #29311 "Build CMSSW_10_6_11_CANDIDATE3"

[2020-03-26 12:31] cmsbuild commented on #29311
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-26 12:31] #29282 closed

[2020-03-26 12:31] #29293 closed

[2020-03-26 12:34] silviodonato commented on #29311
+1

[2020-03-26 12:34] cmsbuild commented on #29311
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11_CANDIDATE3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-03-26 12:34] cmsbuild commented on #29311
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-26 12:35] cmsbuild commented on #29311
The build has started for slc7_amd64_gcc700 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2370/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-26 12:49] cmsbuild commented on #29311
The build has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2371/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-26 13:44] peruzzim commented on #29245
+xpog

[2020-03-26 13:44] cmsbuild commented on #29245
This issue is fully signed and ready to be closed.

[2020-03-26 13:44] peruzzim commented on #28585
+xpog
I think we can close this for the moment

[2020-03-26 13:46] makortel opened #29313 "Improve GPU testing"
Tests of PR https://github.com/cms-sw/cmssw/pull/29110 revealed that in the current testing infrastructure
* GPU drivers are too old, so code using CUDA 10.2 can not run
* All our GPU tests report success if they can't run on GPU to not report false positives on CPU-only machines. The tests also report success on GPU-equipped machines if the CUDA runtime can not be initialized, and that hid the fo

[2020-03-26 13:46] makortel commented on #29313
assign core

[2020-03-26 13:46] cmsbuild commented on #29313
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-26 13:46] cmsbuild commented on #29313
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-26 13:49] srimanob commented on #28585
It seems I missed to work on workflow for data, I will take care of that.
@nurfikri89 @peruzzim

[2020-03-26 13:49] makortel commented on #29313
I'm thinking if we should add a mechanism to force the GPU usage instead of the "auto discovery" in specific cases. An environment variable would be a straightforward way to propagate the "forcing" to all unit tests and `SwitchProducerCUDA` (even though in general I'd prefer more explicit method).

[2020-03-26 13:49] makortel commented on #29313
assign heterogeneous

[2020-03-26 13:49] cmsbuild commented on #29313
New categories assigned: heterogeneous

@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-26 13:54] smuzaffar commented on #29313
agree, scram can set an enviroment variable if GPU is available and should be used. We do not need all unit tests and SwitchProducerCUDA to check for this, just having an extra unit test which check for this env variable and make sure that it can find and use the deice is good enough.

[2020-03-26 13:57] makortel commented on #29313
Good point, one test should be sufficient to test that the GPU tests are really run on GPUs or not (and then the environment variable use wouldn't spread)

[2020-03-26 13:58] fwyzard commented on #29313
I'm not sure it's a good idea to allow forcing a `SwitchProducer` (either via an environment variable or other methods), because it opens a lot of doors for abuse downstream.

For example,  oneAPI is currently using this approach to force a backend (for the default device selector) and IMHO is running into tons of issues with it.

I have no objections to an override for the unit tests, though.

[2020-03-26 13:59] fwyzard commented on #29313
How does SCRAM know that ?

[2020-03-26 14:05] smuzaffar commented on #29313
@fwyzard , the same was scram set the cuda env ( https://github.com/cms-sw/cmssw-config/blob/master/SCRAM/hooks/runtime/00-nvidia-drivers#L20 ) . If scram finds that system have nvidia then it sets the env variable .

[2020-03-26 14:10] fwyzard commented on #29313
OK, what you are saying is that if there is an NVIDIA GPU with a loaded driver, you assume that we want to run one specific test using the GPU ?

[2020-03-26 14:22] smuzaffar commented on #29313
yes

[2020-03-26 14:27] fwyzard commented on #29313
OK... then it might be simpler to write a C++ or Python test that checks if there is a GPU and tries to use it, without involving SCRAM.

[2020-03-26 14:29] smuzaffar commented on #29313
sounds good.

[2020-03-26 14:39] Dr15Jones opened #29314 "Handling summary histograms in DQMEDAnalyzers"
Many of the modules that are presently DQMOneLumiEDAnalyzer just need a way to fill 'summary' histograms at global end Lumi transition. A way to support this in a concurrent manner would be to have those module use a Lumi cache which holds a pointer to the MonitorElement from the base stream:: type module. Then during the call to the globalEndLuminosityBlockProducer, the base class would call a me

[2020-03-26 14:40] Dr15Jones commented on #29314
assign core, dqm

[2020-03-26 14:40] cmsbuild commented on #29314
New categories assigned: core,dqm

@Dr15Jones,@smuzaffar,@jfernan2,@andrius-k,@schneiml,@fioriNTU,@makortel,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-26 14:40] cmsbuild commented on #29314
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-26 14:50] schneiml commented on #29314
@Dr15Jones Examples?

For summaries derived from other MEs: this should simply all be done in harvesting.

For summaries derived from local variables: this can be handled correctly if we simply expose the `endLumi` to the stream modules. The modules need to do things correctly (`Fill`, not `setBinContent`), but it should work. Actually, this is exactly what we did in 2014.

There are more cases, s

[2020-03-26 15:04] Dr15Jones commented on #29314
Here
https://github.com/cms-sw/cmssw/blob/7bf830bbb5f57be6673227056342a5adf8c88567/DQMOffline/JetMET/src/METAnalyzer.cc#L1382

and pretty much any use of `setBinContent` from within an DQMEDAnalyzer (which includes DQMOneEDAnalyzer and such).

[2020-03-26 15:11] makortel commented on #29313
@smuzaffar Replying here to https://github.com/cms-sw/cmssw/pull/29110#issuecomment-604479563

Is there any way to e.g. request a specific CUDA runtime version in the job submission?

If not, how about we run the test @fwyzard suggested in https://github.com/cms-sw/cmssw/issues/29313#issuecomment-604461920 always when we run any GPU tests? (until a better solution is found out)

[2020-03-26 15:22] cmsbuild commented on #29311
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE3-slc7_amd64_gcc820/2371
S

[2020-03-26 15:37] smuzaffar commented on #29313
May be I can use "CUDADriverVersion >= 10.2" when I request the GPU resource. I see that only one GPU resources has CUDADriverVersion=10.1 and rest have 10.2

[2020-03-26 15:40] fwyzard commented on #29313
Yes, that looks like a good parameter to request.

[2020-03-26 15:52] cmsbuild commented on #29311
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE3-slc7_amd64_gcc700/2370
S

[2020-03-26 16:02] cmsbuild commented on #29311
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE3-slc7_amd64_gcc820/2371

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-26 16:31] cmsbuild commented on #29311
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_CANDIDATE3-slc7_amd64_gcc700/2370

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-26 16:49] makortel commented on #29313
Could you elaborate your concerns? I would think in the long run we do want to control the devices to use externally to cmsRun (e.g. we run a full-node pilot and on a multi-GPU node want to run a process per GPU, or in a single-GPU node want to run CPU-only variant as well).

[2020-03-26 17:28] fwyzard commented on #29313
My feeling is that if we want to force a module to run on a CPU or a GPU, we should not put a SwitchProducer in the job.

If the idea is to limit the job to a subset of the resources, I think both CUDA and SYCL allow to do it via environment variables.
At least for CUDA this is also be done (and more reliably) via cgroups, limiting which devices the job has access to (similar to how taskset can be

[2020-03-26 17:29] fwyzard commented on #29313
If we want to be able to use a SwitchProducer to have a single configuration, but allow overriding the choice globally or on a module-by-module basis, naively I would find it more natural to set the override in python.

[2020-03-26 17:30] fwyzard commented on #29313
But, I admit I have not given too much thoughts to the details.

[2020-03-26 17:43] makortel commented on #29313
I meant controlling the behavior of the whole cmsRun (sorry if that was not clear). Yes, CUDA etc. provide means to control the resources, and it could be that those are sufficient, I don't know. Personally I would also prefer a python-based general solution for specifying the "allowed resources to use".

I fully agree that forcing individual modules to run here or there is not for SwitchProducer,

[2020-03-26 17:46] schneiml commented on #29314
@Dr15Jones but in `METAnalyzer`, ah, but that is `endRun`. `METAnalyzer` is only `DQMOneLumiEDAnalyzer` recently to get a plot per-lumi saved, it does not care about lumi transitions otherwise.

Actually, it was a normal `edm::stream` `DQMEDAnalyzer` after this PR https://github.com/cms-sw/cmssw/pull/7656 before we started messing around with one modules.

In general I do agree that we should work

[2020-03-26 20:12] wouf commented on #28636
Sorry, I closed it by mistake.
Thank You @makortel , now it's working until second mix step:
`                       MinBias
                              |
                             V
EmptySource -> mix -> generator -> SIM -> **mix** -> mixOverlay -> genParticles etc -> Digi2Raw
`

[2020-03-26 20:20] #29245 closed

[2020-03-26 20:26] #29274 closed

[2020-03-26 20:34] silviodonato commented on #29311
upload all

[2020-03-26 20:34] cmsbuild commented on #29311
Queing Jenkins upload for slc7_amd64_gcc700

[2020-03-26 20:34] cmsbuild commented on #29311
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-26 20:35] cmsbuild commented on #29311
The upload has started for slc7_amd64_gcc700 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1523/console

[2020-03-26 20:35] cmsbuild commented on #29311
The upload has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1524/console

[2020-03-26 20:36] cmsbuild commented on #29311
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11_CANDIDATE3-slc7_amd64_gcc820/1524

[2020-03-26 20:37] cmsbuild commented on #29311
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11_CANDIDATE3-slc7_amd64_gcc700/1523

[2020-03-26 22:32] slava77 commented on #29251
the assert will happen for ```kappa <= 0.01```, which is apparently a bug based on the description above. It sounds to me that the assert condition should be changed to ```kappa >= 0.01``` and perhaps similarly for other variables where an exact value at the limit is still physically acceptable.

(in some other code in CMSSW we had problems in the past where binning was decided by exact inequaliti

[2020-03-27 07:50] silviodonato commented on #29311
release-notes since CMSSW_10_6_10

[2020-03-27 07:51] cmsbuild commented on #29311
Generating release notes since CMSSW_10_6_10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-27 07:51] cmsbuild commented on #29311
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_11_CANDIDATE3 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_11_CANDIDATE3

Cheers,
cms-bot

You can also click <a

[2020-03-27 07:52] cmsbuild commented on #29311
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11_CANDIDATE3

[2020-03-27 08:29] #29311 closed

[2020-03-27 09:08] fwyzard opened #29319 "Build CMSSW_11_1_0_pre5_Patatrack"

[2020-03-27 09:09] cmsbuild commented on #29319
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-t

[2020-03-27 09:09] #29112 closed

[2020-03-27 09:10] fwyzard commented on #29319
+1

[2020-03-27 09:10] cmsbuild commented on #29319
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre5_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-03-27 09:10] cmsbuild commented on #29319
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start th

[2020-03-27 09:12] cmsbuild commented on #29319
The build has started for slc7_amd64_gcc820 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2372/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-27 09:13] smuzaffar commented on #29319
@fwyzard , can you please check https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre5_Patatrack contains every thing you need in this pre-release?

[2020-03-27 09:21] cmsbuild commented on #29319
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2373/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-27 09:21] fwyzard commented on #29319
Yes, the latest commit (https://github.com/cms-sw/cmssw/commit/c26979c92dc4cf86fcbf64f1a16a758f0aed6e62) matches what I tested on the Patatrack fork (https://github.com/cms-patatrack/cmssw/commits/master).

[2020-03-27 09:24] ianna opened #29320 "[DD4hep] Access to a specific node by its name and its copy number"
Add a possibility to select a specific node based on its copy number

@vargasa - FYI

[2020-03-27 09:24] cmsbuild commented on #29320
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-27 10:47] peruzzim commented on #29180
@slava77 @perrotta if you could review and approve #29294 and #29276 we could build a new 10_2_X over the weekend, which would speed up things. Thank you really much

[2020-03-27 12:08] cmsbuild commented on #29319
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5_Patatrack-slc7_amd64_gcc820/237

[2020-03-27 12:12] fwyzard commented on #29319
upload all

[2020-03-27 12:13] cmsbuild commented on #29319
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-27 12:14] cmsbuild commented on #29319
The upload has started for slc7_amd64_gcc820 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1525/console

[2020-03-27 12:15] cmsbuild commented on #29319
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre5_Patatrack-slc7_amd64_gcc820/1525

[2020-03-27 12:47] cmsbuild commented on #29319
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5_Patatrack-slc7_amd64_gcc820/2372

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-27 12:58] makortel commented on #29320
assign geometry

[2020-03-27 12:58] cmsbuild commented on #29320
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-27 15:16] cmsbuild commented on #29319
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5_Patatrack-slc7_aarch64_gcc820

[2020-03-27 15:16] cmsbuild commented on #29319
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-03-27 15:19] cmsbuild commented on #29319
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1526/console

[2020-03-27 15:20] cmsbuild commented on #29319
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre5_Patatrack-slc7_aarch64_gcc820/1526

[2020-03-27 18:11] cmsbuild commented on #29319
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre5_Patatrack-slc7_aarch64_gcc820/2373

Tests results:
34 32 31 26 13 1 1 1 1 tests passed, 0 1 0 0 3 3 0 0 0 failed

[2020-03-27 18:24] fwyzard commented on #29319
All the errors on ARM are like this:
[code]

Do you think it is safe to assume that they are not related to the Patatrack changes ?

[2020-03-27 18:31] silviodonato opened #29325 "Build CMSSW_9_4_16"

[2020-03-27 18:31] cmsbuild commented on #29325
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-27 18:32] silviodonato commented on #29325
abort

[2020-03-27 18:33] #29325 closed

[2020-03-27 18:33] silviodonato opened #29326 "Build CMSSW_9_4_17"

[2020-03-27 18:33] cmsbuild commented on #29326
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-27 18:39] OzAmram commented on #29251
@slava77 The assert on line 1178 is only executed in standalone mode. The CMSSW exception is being thrown based on line 1173 (Andrea confused them above). The CMSSW condition checks if `kappa < 0.01` so kappa of 0.01 should not trigger it (if there were no rounding errors).

In either case I think Andrea's idea of using an epsilon should work. Do you want me to test it and make PR?

[2020-03-27 18:40] silviodonato commented on #29326
+1

[2020-03-27 18:41] cmsbuild commented on #29326
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_17. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2020-03-27 18:41] cmsbuild commented on #29326
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-27 18:43] cmsbuild commented on #29326
The build has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2374/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-27 19:05] cmsbuild commented on #29326
The build has started for slc7_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2375/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-27 19:59] slava77 commented on #29251
I thought I read it right, but then apparently I did it backwards as well

Looking at the code more carefully now, all values are double precision where the check is made.
However, it looks like all the math in vavilov_pars is in float.
0.01 in float is close to 9.99999977648258209228515625E-3 , while in double it's 1.00000000000000002081668171172E-2 according to https://www.binaryconvert.com/resu

[2020-03-27 20:36] OzAmram commented on #29251
Ah ok that makes sense. The SiPixelTemplate object stores the kappa and other vavilov parameters as floats (which are what is used in the interpolation), so we would need to change that rather than just the computation in vavilov_pars in order to get the 'double' value of 0.01.

Indeed using the float value could lead to an error down the line based on the ROOT function kappa is being used for whi

[2020-03-27 20:54] mrodozov commented on #29319
This is an old failure that we have seen, it's common on arm and I believe Shahzad tricked it somehow at the time

[2020-03-27 21:16] slava77 commented on #29251
Actually, my proposal to use 0.01f in the check isn't that much better without changing the precision of kappa itself.

I see that the only places where kappa is used are:
- ```VVIObjF```, where it enters as a float : just applying ```kappa < 0.01f``` in the value check would work
- ```TMath::VavilovI```, where it enters as a double: this would need an acceptable reset of the value to 0.01 double.

[2020-03-27 21:26] cmsbuild commented on #29326
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_17-slc7_amd64_gcc630/2375
Some tests (

[2020-03-27 21:45] cmsbuild commented on #29326
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_17-slc6_amd64_gcc630/2374
Some tests (

[2020-03-27 22:11] cmsbuild commented on #29326
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_17-slc7_amd64_gcc630/2375

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-03-27 22:29] cmsbuild commented on #29326
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_17-slc6_amd64_gcc630/2374

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-03-27 23:19] makortel commented on #29098
Made obsolete by GenXSecAnalyzer getting migrated to be thread efficient in https://github.com/cms-sw/cmssw/pull/29328.

[2020-03-27 23:19] #29098 closed

[2020-03-28 08:20] perrotta commented on #28049
Just to keep track of it, there is now a [commit](https://github.com/cms-sw/cmssw/pull/29081/commits/ba75e6d3309e841846770e75ff9618a93acdd78a) in #29081 which transform the current ```struct Trackster``` into a C++ ```class```, Once that PR will get merged this issue can be considered solved, then

[2020-03-28 18:42] Dr15Jones opened #29332 "ASAN problem in L1TMuonEndCapTrackProducer"
The address sanitizer has found the following problem
[code]

I got the stack trace by rebuilding the code with debug information on and then running workflow 1302.0 with just one thread.

[2020-03-28 18:44] cmsbuild commented on #29332
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-28 18:47] Dr15Jones commented on #29332
Adding an `assert` to the code just before the problem, I was able to look at the variables in the debugger. The problem was at this line
https://github.com/cms-sw/cmssw/blob/fe5b448929b4fec466979097e4e4faad8cf8666d/L1Trigger/L1TMuonEndCap/src/bdt/Node.cc#L327

where the value of `sv` comes from the member variable `splitVariable` and has the value of 9 and the rest of the object
[code]

while e->

[2020-03-28 18:48] Dr15Jones commented on #29332
assign l1

[2020-03-28 18:50] cmsbuild commented on #29332
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-28 18:59] Dr15Jones commented on #29332
The size of `e->data` is hard coded by the calling algorithm to by 8. See
https://github.com/cms-sw/cmssw/blob/fe5b448929b4fec466979097e4e4faad8cf8666d/L1Trigger/L1TMuonEndCap/src/PtAssignmentEngine2016.cc#L635-L664

So this seems to imply that the boosted decision tree being used is incompatible with the actual code calling it.

[2020-03-28 19:00] Dr15Jones commented on #29332
We have 96 failing workflows in the ASAN IB and based on a random sampling of them it appears they all are from this problem.

[2020-03-28 19:07] Dr15Jones commented on #29332
I've been unable to find old ASAN reports, so based solely on recent pull requests, the most likely culprints are #29260 or #29080

[2020-03-29 18:46] makortel commented on #28576
Here is a proposal based on earlier discussion of @Dr15Jones and I. We concluded that all the modules specified in the configuration need to be loaded and constructed:
* loaded in order to run configuration validation with `fillDescriptions()`
   * the validation can insert new parameters into the PSet of the module and thus alter the process configuration hash
* constructed in order to get data d

[2020-03-29 18:47] makortel commented on #28576
In the long run we _could_ think of moving more functionality to
python and impose certain restrictions:
* mark `fillDescriptions()`-generated cfi fragments as "complete", i.e. new parameters can not be added or existing ones removed (see https://github.com/cms-sw/cmssw/issues/26438#issuecomment-520532249)
   * or more precisely: all operations that could cause the configuration validation to chan

[2020-03-29 18:49] makortel commented on #26438
Summarizing from https://github.com/cms-sw/cmssw/issues/28576#issuecomment-605681672: we plan to
* After constructing all modules, i.e. figuring out the data dependence DAG, immediately delete all unscheduled (=not in any Path or EndPath) modules whose output is not consumed
  * Architecture-dependent initialization should be then done in beginJob() or beginStream()
that is not called if the modul

[2020-03-29 19:34] silviodonato commented on #29326
upload all

[2020-03-29 19:35] cmsbuild commented on #29326
Queing Jenkins upload for slc6_amd64_gcc630

[2020-03-29 19:35] cmsbuild commented on #29326
Queing Jenkins upload for slc7_amd64_gcc630

[2020-03-29 19:35] silviodonato commented on #29326
release-notes

[2020-03-29 19:36] silviodonato opened #29334 "Build CMSSW_8_0_35"

[2020-03-29 19:36] cmsbuild commented on #29326
The upload has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1527/console

[2020-03-29 19:36] cmsbuild commented on #29334
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-29 19:37] silviodonato commented on #29334
+1

[2020-03-29 19:37] cmsbuild commented on #29334
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_35. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2020-03-29 19:37] cmsbuild commented on #29334
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-29 19:37] cmsbuild commented on #29326
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_17-slc6_amd64_gcc630/1527

[2020-03-29 19:37] cmsbuild commented on #29326
The upload has started for slc7_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1528/console

[2020-03-29 19:38] cmsbuild commented on #29326
Generating release notes since CMSSW_9_4_16.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-29 19:38] cmsbuild commented on #29326
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_17 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_16 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_17

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2020-03-29 19:38] cmsbuild commented on #29334
The build has started for slc6_amd64_gcc530 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2376/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2020-03-29 19:38] cmsbuild commented on #29326
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_17-slc7_amd64_gcc630/1528

[2020-03-29 19:38] cmsbuild commented on #29326
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_17

[2020-03-29 19:40] cmsbuild commented on #29334
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2377/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2020-03-29 21:57] cmsbuild commented on #29334
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_35-slc7_amd64_gcc530/2377
Some tests (

[2020-03-29 22:17] cmsbuild commented on #29334
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_35-slc7_amd64_gcc530/2377

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-03-29 22:49] cmsbuild commented on #29334
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_35-slc6_amd64_gcc530/2376
Some tests (

[2020-03-29 23:07] cmsbuild commented on #29334
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_35-slc6_amd64_gcc530/2376

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-03-30 08:06] #29326 closed

[2020-03-30 08:06] silviodonato commented on #29334
upload all

[2020-03-30 08:06] silviodonato commented on #29334
release-notes

[2020-03-30 08:06] cmsbuild commented on #29334
Queing Jenkins upload for slc6_amd64_gcc530

[2020-03-30 08:06] cmsbuild commented on #29334
Queing Jenkins upload for slc7_amd64_gcc530

[2020-03-30 08:08] cmsbuild commented on #29334
The upload has started for slc6_amd64_gcc530 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1529/console

[2020-03-30 08:08] cmsbuild commented on #29334
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1530/console

[2020-03-30 08:09] cmsbuild commented on #29334
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_35-slc7_amd64_gcc530/1530

[2020-03-30 08:09] cmsbuild commented on #29334
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_35-slc6_amd64_gcc530/1529

[2020-03-30 08:09] cmsbuild commented on #29334
Generating release notes since CMSSW_8_0_34.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-30 08:09] cmsbuild commented on #29334
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_35 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_34 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_35

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2020-03-30 08:10] cmsbuild commented on #29334
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_35

[2020-03-30 12:52] #29334 closed

[2020-03-30 12:57] silviodonato opened #29336 "Build CMSSW_10_2_22"

[2020-03-30 12:57] cmsbuild commented on #29336
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-30 12:59] silviodonato commented on #29336
+1

[2020-03-30 12:59] cmsbuild commented on #29336
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_22. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-03-30 12:59] cmsbuild commented on #29336
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-30 13:01] cmsbuild commented on #29336
The build has started for slc6_amd64_gcc700 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2378/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-30 13:02] cmsbuild commented on #29336
The build has started for slc7_amd64_gcc700 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2379/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-30 13:25] makortel commented on #28765
@silviodonato The https://github.com/cms-sw/cmssw/pull/28822 fully fixed this issue, right?

[2020-03-30 13:31] makortel opened #29337 "Python 3 failure in TkAlAllInOneTool unit test"
It appears that #29255 introduced a failure in TkAlAllInOneTool unit test python3 IBs
[code]

[2020-03-30 13:31] makortel commented on #29337
assign alca

[2020-03-30 13:31] cmsbuild commented on #29337
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-30 13:31] cmsbuild commented on #29337
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-30 13:32] makortel commented on #29337
FYI @mmusich

[2020-03-30 13:36] mmusich commented on #29337
It's extremly annoying that one gets to know about this several days after the fact. How can we enforce this is discovered at integration time?

[2020-03-30 13:37] silviodonato commented on #28765
Yes, #28822 and https://github.com/cms-sw/cmssw/pull/28838 solved the issue.
Closing the issue

[2020-03-30 13:37] #28765 closed

[2020-03-30 13:46] makortel commented on #29337
I agree (and sorry for not spotting it earlier).

Basically it means that we run tests on PY3 IB at least for PRs that have "non-trivial" python changes. Extending the testing to all PRs or those that have any python changes could be automatized, but would increase the testing load and thus latency to test results.

@smuzaffar @silviodonato what do you think?

[2020-03-30 13:59] smuzaffar commented on #29337
One of the idea of having Integration builds (IBs) is to look for these errors. It was laziness on our side , we should have identified the issue earlier.

I agree that we should test a PR for every possible IB we have but as @makortel wrote it will increse the laod on testing system.

[2020-03-30 14:05] smuzaffar commented on #29336
@silviodonato , as requested here https://github.com/cms-sw/cmsdist/pull/5591#issuecomment-604963736, should we consider integrating https://github.com/cms-sw/cmsdist/pull/5591 in to this release?

[2020-03-30 14:20] makortel commented on #28576
I do see a risk here that we continue to bundle everything together, and if something not-generally-loadable appears, we may have to restructure a lot of code. On the other hand, going for complicated solutions now would have the risk of doing possibly unnecessary work now.

[2020-03-30 15:31] cmsbuild commented on #29336
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc7_amd64_gcc700/2379
Some tests (

[2020-03-30 16:12] cmsbuild commented on #29336
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc7_amd64_gcc700/2379

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-30 16:16] cmsbuild commented on #29336
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc6_amd64_gcc700/2378
Some tests (

[2020-03-30 16:38] kpedro88 opened #29338 "Migrate from optparse to argparse"
optparse is used frequently in CMSSW, but has been deprecated for quite a while in Python. Migrating to argparse would enable, e.g., enforcing types for input arguments.

I initially noticed this could be improved in runTheMatrix: https://github.com/cms-sw/cmssw/blob/e045dab9e37d05e9572a4d1dce7035aa6414a553/Configuration/PyReleaseValidation/scripts/runTheMatrix.py#L334-L339

but it also applies to

[2020-03-30 16:39] kpedro88 commented on #29338
assign core,pdmv,upgrade

attn: @davidlange6

[2020-03-30 16:39] cmsbuild commented on #29338
New categories assigned: core,upgrade,pdmv

@Dr15Jones,@smuzaffar,@chayanit,@wajidalikhan,@makortel,@pgunnell,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-30 16:39] cmsbuild commented on #29338
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-30 16:53] cmsbuild commented on #29336
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc6_amd64_gcc700/2378

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-30 17:16] silviodonato commented on #29336
abort

[2020-03-30 17:16] silviodonato commented on #29336
thanks for the reminder

[2020-03-30 17:16] cmsbuild commented on #29336
Deleting CMSSW_10_2_22:

  -Release successfully deleted

  -cmssw tag CMSSW_10_2_22 successfully deleted.

 -cmsdist tag REL/CMSSW_10_2_22/slc6_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_2_22/slc7_amd64_gcc700 successfully deleted.

You must create a new issue to start over the build.

[2020-03-30 17:19] mmusich commented on #29337
Possible solution at https://github.com/cms-sw/cmssw/pull/29339

[2020-03-30 17:41] #29336 closed

[2020-03-30 17:41] silviodonato opened #29340 "Build Build CMSSW_10_2_22"

[2020-03-30 17:42] #29340 closed

[2020-03-30 17:42] cmsbuild commented on #29340
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-30 17:42] silviodonato opened #29341 "Build CMSSW_10_2_22"

[2020-03-30 17:42] cmsbuild commented on #29341
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-30 18:51] kpedro88 opened #29344 "Central source for standard particle masses"
A search for `m_pion` will find several slightly different values defined in different places: https://github.com/cms-sw/cmssw/search?q=m_pion

(this is probably not exhaustive, and there are others like kaons, etc.)

Ideally, for consistency all code should obtain these from a central source, much like other physical constants.

Not sure to what group this should be assigned...

[2020-03-30 18:51] cmsbuild commented on #29344
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-30 18:55] makortel commented on #29344
assign reconstruction, generators, simulation

[2020-03-30 18:56] cmsbuild commented on #29344
New categories assigned: generators,reconstruction,simulation

@mdhildreth,@slava77,@alberto-sanchez,@SiewYan,@perrotta,@qliphy,@efeyazgan,@mkirsano,@civanch,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-30 19:01] silviodonato commented on #29341
+1

[2020-03-30 19:01] cmsbuild commented on #29341
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_22. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-03-30 19:01] cmsbuild commented on #29341
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-30 19:04] cmsbuild commented on #29341
The build has started for slc6_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2380/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-30 19:15] cmsbuild commented on #29341
The build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2381/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-30 20:34] srimanob opened #29345 "Does NanoAOD step support --dump_python?"
Not sure, it is a known issue. As a question in the title of the issue, does NanoAOD step support `--dump_python`?

I just try with 11_1 (**), and 10_2 (*), and they does not work to me. The config file w/o --dump_python is runable.

(*)
10_2
`cmsDriver.py step1 --filein "file:in.root" --fileout file:out.root --mc --eventcontent NANOEDMAODSIM --datatier NANOAODSIM --conditions 102X_upgrade2018_rea

[2020-03-30 20:34] cmsbuild commented on #29345
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-30 21:51] cmsbuild commented on #29341
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc7_amd64_gcc700/2381
Some tests (

[2020-03-30 22:26] cmsbuild commented on #29341
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc6_amd64_gcc700/2380
Some tests (

[2020-03-30 22:33] makortel commented on #29345
@srimanob Does `edmConfigDump` on a configuration generated without `--dump_python` work any better?

[2020-03-30 22:35] cmsbuild commented on #29341
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc7_amd64_gcc700/2381

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-30 22:46] srimanob commented on #29345
@makortel
Ah, thanks. It works better with `edmConfigDump`

[2020-03-30 22:50] makortel commented on #29345
assign operations

Something on the cmsDriver side then than in the NanoAOD itself (maybe).

[2020-03-30 22:50] cmsbuild commented on #29345
New categories assigned: operations

@fabiocos,@franzoni,@davidlange6,@silviodonato you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-30 22:54] makortel commented on #29345
The difference seems to be that `edmConfigDump` uses `imp.load_source()`
https://github.com/cms-sw/cmssw/blob/aad09fbdaedb52f82e65eaac8820b9818c53baca/FWCore/ParameterSet/scripts/edmConfigDump#L21-L29
while `cmsDriver.py` uses `exec()`
https://github.com/cms-sw/cmssw/blob/aad09fbdaedb52f82e65eaac8820b9818c53baca/Configuration/Applications/scripts/cmsDriver.py#L37-L39

[2020-03-30 23:03] cmsbuild commented on #29341
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc6_amd64_gcc700/2380

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-31 07:27] fabiocos commented on #29344
@kpedro88 @makortel in the past HepPDT was supposed to take exactly this role:

https://cmssdt.cern.ch/lxr/source/SimGeneral/HepPDTESSource/
https://cmssdt.cern.ch/lxr/source/SimGeneral/HepPDTRecord/

Most probably this is ignored by lot of people, who prefers to redefine autonomously the mass they need (not that different that redefining pi or the speed of light instead of using central sources).

[2020-03-31 08:56] silviodonato commented on #29341
abort

[2020-03-31 08:56] cmsbuild commented on #29341
Deleting CMSSW_10_2_22:

  -Release successfully deleted

  -cmssw tag CMSSW_10_2_22 successfully deleted.

 -cmsdist tag REL/CMSSW_10_2_22/slc6_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_2_22/slc7_amd64_gcc700 successfully deleted.

You must create a new issue to start over the build.

[2020-03-31 08:57] #29341 closed

[2020-03-31 08:58] silviodonato opened #29349 "Build CMSSW_10_2_22"

[2020-03-31 08:58] cmsbuild commented on #29349
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-31 09:07] silviodonato commented on #29349
+1

[2020-03-31 09:08] cmsbuild commented on #29349
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_22. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-03-31 09:08] cmsbuild commented on #29349
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-31 09:08] cmsbuild commented on #29349
The build has started for slc6_amd64_gcc700 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2382/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-31 09:08] cmsbuild commented on #29349
The build has started for slc7_amd64_gcc700 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2383/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-31 10:00] davidlange6 commented on #29337
Does our python dependency checking actually catch this sort of error (eg, induced by an interface change in another package)?

On Mar 30, 2020, at 3:47 PM, Matti Kortelainen <notifications@github.com<mailto:notifications@github.com>> wrote:

It's extremly annoying that one gets to know about this several days after the fact.

I agree (and sorry for not spotting it earlier).

How can we enforce th

[2020-03-31 10:27] smuzaffar commented on #29337
yes , python dependency keep track of dependency between package configuration only. It does not keep track of dependency of python files from test directory though.

We do run `python3 -m compileall` for PRs but looks like python3 did not complain about https://github.com/cms-sw/cmssw/pull/29255#discussion_r400193112

[2020-03-31 11:32] cmsbuild commented on #29349
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc7_amd64_gcc700/2383
Some tests (

[2020-03-31 12:10] cmsbuild commented on #29349
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc7_amd64_gcc700/2383

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-31 12:15] cmsbuild commented on #29349
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc6_amd64_gcc700/2382
Some tests (

[2020-03-31 12:52] cmsbuild commented on #29349
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_22-slc6_amd64_gcc700/2382

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-31 13:49] silviodonato commented on #29349
upload all

[2020-03-31 13:49] silviodonato commented on #29349
release-notes

[2020-03-31 13:49] cmsbuild commented on #29349
Queing Jenkins upload for slc6_amd64_gcc700

[2020-03-31 13:49] cmsbuild commented on #29349
Queing Jenkins upload for slc7_amd64_gcc700

[2020-03-31 13:50] cmsbuild commented on #29349
The upload has started for slc6_amd64_gcc700 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1531/console

[2020-03-31 13:50] cmsbuild commented on #29349
The upload has started for slc7_amd64_gcc700 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1532/console

[2020-03-31 13:50] cmsbuild commented on #29349
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_22-slc7_amd64_gcc700/1532

[2020-03-31 13:51] cmsbuild commented on #29349
ATTENTION!!! The production architecture (slc6_amd64_gcc700) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2020-03-31 13:52] cmsbuild commented on #29349
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_22-slc6_amd64_gcc700/1531

[2020-03-31 13:52] cmsbuild commented on #29349
Generating release notes since CMSSW_10_2_21.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-31 13:52] cmsbuild commented on #29349
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_22 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_21 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_22

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-03-31 13:54] cmsbuild commented on #29349
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_22

[2020-03-31 14:37] #29349 closed

[2020-03-31 15:55] silviodonato opened #29358 "Build CMSSW_10_6_11"

[2020-03-31 15:55] cmsbuild commented on #29358
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1

[2020-03-31 15:59] silviodonato commented on #29358
+1

[2020-03-31 16:00] cmsbuild commented on #29358
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-03-31 16:00] cmsbuild commented on #29358
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-31 16:02] cmsbuild commented on #29358
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2384/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-31 16:04] cmsbuild commented on #29358
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2385/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-31 18:55] cmsbuild commented on #29358
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11-slc7_amd64_gcc820/2385
Some tests (

[2020-03-31 19:25] cmsbuild commented on #29358
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11-slc7_amd64_gcc700/2384
Some tests (

[2020-03-31 19:47] cmsbuild commented on #29358
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11-slc7_amd64_gcc820/2385

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-31 20:07] cmsbuild commented on #29358
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11-slc7_amd64_gcc700/2384

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-31 21:00] OzAmram commented on #29251
Does someone have a recipe to reproduce the error so I can check if the above fix does indeed fix it? When I ran `runTheMatrix.py -l 13034.0` in a fresh release of CMSSW_11_1_0_pre5 I had no errors

[2020-04-01 05:04] mariayestan opened #29362 "How can I install scram and cmsenv to create CMS area?"
How can I install scram and cmsenv to my local machine to create CMS area?

[2020-04-01 05:05] cmsbuild commented on #29362
A new Issue was created by  @mariayestan Maria Yestan.

@Dr15Jones, @silviodonato, @smuzaffar, @fabiocos, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-01 07:15] smuzaffar commented on #29362
@mariayestan, easiest way would be to install CVMFS (https://cernvm.cern.ch/portal/filesystem/quickstart)  on your machine and source `/cvmfs/cms.cern.ch/cmsset_default.sh` to get SCRAM and cms environment setup. This will allow you to use all CMSSW release.

The other way is to install full CMSSW releases locally (https://twiki.cern.ch/twiki/bin/view/CMSPublic/SDTCMSSW_aptinstaller#Recipe_for_the

[2020-04-01 07:43] mariayestan commented on #29362
OK， I'll try it

[2020-04-01 08:07] silviodonato commented on #29358
upload all

[2020-04-01 08:08] cmsbuild commented on #29358
Queing Jenkins upload for slc7_amd64_gcc700

[2020-04-01 08:08] cmsbuild commented on #29358
Queing Jenkins upload for slc7_amd64_gcc820

[2020-04-01 08:10] cmsbuild commented on #29358
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1533/console

[2020-04-01 08:10] cmsbuild commented on #29358
The upload has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1534/console

[2020-04-01 08:11] cmsbuild commented on #29358
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11-slc7_amd64_gcc820/1534

[2020-04-01 08:12] cmsbuild commented on #29358
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11-slc7_amd64_gcc700/1533

[2020-04-01 08:13] silviodonato commented on #29358
release-notes

[2020-04-01 08:13] cmsbuild commented on #29358
Generating release notes since CMSSW_10_6_10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-04-01 08:13] cmsbuild commented on #29358
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_11 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_11

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-04-01 08:14] cmsbuild commented on #29358
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11

[2020-04-01 08:18] #29358 closed

[2020-04-01 11:08] mariayestan commented on #29362
Get it! Thank you for you help!

[2020-04-01 11:08] #29362 closed

[2020-04-01 11:11] smuzaffar commented on #29362
Just for information @mariayestan , did you go for CVMFS based installation or local cmssw installation?

[2020-04-01 13:13] fabiocos commented on #29250
according to my test on CMSSW_11_1_X_2020-03-31-1100 the PR #29283 has fixed all the know problems. @smuzaffar @silviodonato I would say that if a warning may be implemented, now it could be done on top of a clean situation.

[2020-04-01 13:13] #29250 closed

[2020-04-01 14:20] silviodonato opened #29365 "Fake DQMHistoTests failures in CMSSW_7_1_X and CMSSW_9_3_X"
This issue is just to keep track of the fake DQMHistoTest failures in CMSSW_7_1_X and CMSSW_9_3_X.

In CMSSW_7_1_X we get about ~3000 fake failures since a long time (eg. https://github.com/cms-sw/cmssw/pull/26064#issuecomment-469650976).

In https://github.com/cms-sw/cmssw/pull/29352#issuecomment-607139163
we get failures from
- Castor/CastorLEDMonitor
- DQM/TimerService
- AlcaBeamMonitor/Service

[2020-04-01 14:20] cmsbuild commented on #29365
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-01 14:34] ghugo83 commented on #29075
Hi @vargasa ,

The 53 overlaps at 1e-6 precision observed in the Phase I Tracker are due to clashes between TEC petals and optical connectors.

They come from poor meshing with Fireworks + possibly, additionally, from the roundings inherent to rotation matrices.
With Fireworks, 53 overlaps appear with gGeoManager->SetNmeshPoints(1000) (default). But changing the meshing to 100 000, the number of o

[2020-04-01 14:55] silviodonato commented on #29250
Thank you @fabiocos!

[2020-04-01 15:15] ghugo83 commented on #29075
Just did a PR at https://github.com/cms-sw/cmssw/pull/29366 , let's close this once and for all ;p

[2020-04-01 15:30] silviodonato opened #29367 "Build CMSSW_10_6_11_patch1"

[2020-04-01 15:30] cmsbuild commented on #29367
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-04-01 15:46] silviodonato commented on #29367
+1

[2020-04-01 15:46] cmsbuild commented on #29367
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-04-01 15:46] cmsbuild commented on #29367
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-04-01 15:47] cmsbuild commented on #29367
The build has started for slc7_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2386/console
CMSDIST Branch: [REL/CMSSW_10_6_11/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_11/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-01 15:48] cmsbuild commented on #29367
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2387/console
CMSDIST Branch: [REL/CMSSW_10_6_11/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_11/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-04-01 16:21] cmsbuild commented on #29367
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_patch1-slc7_amd64_gcc820/2387
Some

[2020-04-01 16:22] cmsbuild commented on #29367
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_patch1-slc7_amd64_gcc700/2386
Some

[2020-04-01 17:02] cmsbuild commented on #29367
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_patch1-slc7_amd64_gcc820/2387

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-01 17:02] cmsbuild commented on #29367
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_11_patch1-slc7_amd64_gcc700/2386

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-04-01 17:08] silviodonato commented on #29367
upload all

[2020-04-01 17:08] cmsbuild commented on #29367
Queing Jenkins upload for slc7_amd64_gcc700

[2020-04-01 17:08] cmsbuild commented on #29367
Queing Jenkins upload for slc7_amd64_gcc820

[2020-04-01 17:10] cmsbuild commented on #29367
The upload has started for slc7_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1535/console

[2020-04-01 17:10] cmsbuild commented on #29367
The upload has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1536/console

[2020-04-01 17:11] cmsbuild commented on #29367
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11_patch1-slc7_amd64_gcc700/1535

[2020-04-01 17:11] cmsbuild commented on #29367
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_11_patch1-slc7_amd64_gcc820/1536

[2020-04-01 18:52] Dr15Jones commented on #29332
ping

[2020-04-01 19:29] slava77 opened #29373 "Candidate ParticleState data member access in fwlite shows incorrect values (Double32_t)"
originally reported by @mmasciov

when plotting/scanning values from GenMET we see different results when displaying values from bare root (without FWLite) compared to root setup coming with CMSSW.

I have an old example for CMSSW_10_6_0 for a file available on cmsdev34:/build/slava77/step3_inAODSIM.root (the symptoms are present in at least as late as 11_1_0_pre2 using more recent files as well)

[2020-04-01 19:29] cmsbuild commented on #29373
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-01 19:29] slava77 commented on #29373
assign reconstruction,core

[2020-04-01 19:43] pcanal commented on #29373
@slava77devel Can you remind me how to setup for the failing example with a debug version of ROOT and CMSSW (since apparently something there is interfering)?  Thanks.

[2020-04-01 19:47] slava77 commented on #29373
I'd have to redirect to @Dr15Jones @makortel @smuzaffar on how to get a CMSSW setup with a debug version of ROOT

[2020-04-02 03:43] mariayestan commented on #29362
CVMFS based installation

[2020-04-02 07:39] silviodonato commented on #29367
release-notes

[2020-04-02 07:39] cmsbuild commented on #29367
Generating release notes since CMSSW_10_6_11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-04-02 07:39] cmsbuild commented on #29367
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_11_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_11_patch1

Cheers,
cms-bot

You can also click <a h

[2020-04-02 07:42] cmsbuild commented on #29367
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11_patch1

[2020-04-02 08:41] srimanob commented on #29251
@OzAmram

It happens seldom. I can reproduce the issue after several jobs. RAW is kept, so you should be able to reproduce the issue. Please try raw from
`file:/eos/cms/store/user/srimanob/relvals/13034/DIGI_17.root`

cmsDriver (same as wf 13034):
`cmsDriver.py step3 --conditions auto:phase1_2024_realistic --pileup_input 'das:/RelValMinBias_14TeV/CMSSW_10_6_1-106X_mcRun3_2021_realistic_v1_rsb-v1/G

[2020-04-02 13:55] civanch commented on #29344
I would agree with Fabio. If in a particular class m_pion (charged or neutral?) is needed ideally this constant may be defined in class constructor via HepPDT.

Geant4 has also self consistent mass definition derived from PDG for all hadrons but it should not be used at RECO step.

[2020-04-02 18:37] vargasa commented on #29075
Hello @ghugo83, Thanks a lot for looking into this. By any chance did you check if this is the same reason for overlaps when running on DD4Hep algorithms? (as the issue was originally opened to keep track of DD4hep overlaps I'd prefer to keep it open until those are fixed too) Thanks a lot again @ghugo83

[2020-04-02 18:51] vargasa commented on #29075
@ghugo83, nevermind. I saw your commits on the PR. Please feel free to close it once it's merged. Thanks a lot!

[2020-04-02 19:13] ghugo83 commented on #29075
@vargasa Yes absolutely, it also solves the overlaps seen when running on DD4Hep algorithms.
Yes I looked at this because @civanch requested me to solve the overlaps in run 3 Tracker and then I saw this issue passing by.
In PR at #29366 there are few more comments.
Ok I ll close the issue when PR is merged.