[2021-11-04 14:38] kpedro88 commented on #33002
@perrotta yes, the latest result addresses this specific issue. (I do think it would still be good to confirm the HLT rate is now as expected.)

[2021-11-04 14:47] perrotta commented on #33002
@cms-sw/hlt-l2

[2021-11-04 14:53] jpata opened #35986 "slowdown in PFCandidatePrimaryVertexSorter in CMSSW_12_1_0_pre2 -> CMSSW_12_1_0_pre3"
Slava noticed that it looks like the PFCandidatePrimaryVertexSorter is called 4x in CMSSW_12_1_0_pre3 [1] instead of 2x in CMSSW_12_1_0_pre2 [2], and it's a fairly significant increase in the step4 runtime.

There are two new callers:
- primaryVertexAssociationJME
- primaryVertexAssociationJMEnoHF

[1] http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/circles/piechart.php?local=false&datase

[2021-11-04 14:53] jpata commented on #35986
assign reconstruction

[2021-11-04 14:53] cmsbuild commented on #35986
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-04 15:28] jpata commented on #35583
Thanks for this, @johnalison!

So we conclude that the PR is fine form the BTV side. It looks like there is no need or justification to revert the PR based on this, at least.

There are two remaining questions:
- the technical / design-choice issues brought up by @arizzi (use of maps, protecting ivtx=0, possible use in downstream analysis, ...)
- we observe a bit of a slowdown in MINI/step4 which

[2021-11-04 15:38] Martin-Grunewald commented on #33002
@fwyzard

[2021-11-04 20:00] drankincms commented on #35979
@Dr15Jones Thanks a bunch for the tip, your TContext trick seems to fix this.

[2021-11-04 20:09] slava77 commented on #35986
Looking at https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_1_0_pre4/34834.21/step4/cpu_endjob/21
or https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_1_0_pre4/11834.21/step4/cpu_endjob/22

it's a bit puzzling to see that a call to   `chargedHadronVertex(vertices, iVertex, ...` does not appear in

[2021-11-04 22:39] cvuosalo commented on #32757
This change would seem to be high-risk and low-reward. Changing the code to not depend on copy numbers in the volume names could introduce bugs, while the performance improvement from the slightly shorter names would probably be marginal.

[2021-11-04 23:09] cvuosalo commented on #32072
@rchatter The material budget variation scenarios for 2017 and 2018 were created some time ago in `Configuration/Geometry`. I think this issue has been resolved. Do you agree?

[2021-11-05 00:34] tvami commented on #31061
+alca
 * I think the last missing `AlCa` piece got merged last week

[2021-11-05 00:35] tvami commented on #29833
Hi @bsunanda do you maybe have any news on this?

[2021-11-05 00:49] makortel commented on #31061
Just to note that static analyzer still reports hits in AlCa code, but they are not in the known set of EDModules run in IB tests.

[2021-11-05 01:09] tvami commented on #31061
Hi @makortel can you please point me to this list? Thanks!

[2021-11-05 01:16] makortel commented on #31061
In the IB dashboard click "Static Analyzer" (leads to e.g. https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-static-analysis/CMSSW_12_2_X_2021-11-03-2300/slc7_amd64_gcc900/llvm-analysis/index.html), and there uncheck "Display?" for "All bugs", and then check "Display?" for "EventSetupRecord::get function called".

Alternatively see the compilation warnings for CMSDEPRECATED_X IB, e.g.
https://cmssdt

[2021-11-05 01:41] tvami commented on #31061
Ok, this is something I've done myself too, and then went to the cms-bot's mapping to see what's under `AlCa`, and didnt see anything else.

Going to your second link on the other hand, I do see missing pieces. I'll remove the signature now.

[2021-11-05 01:48] makortel commented on #31061
One big difference between the two is that the CMSDEPRECATED_X shows warnings also for test code, while Static Analyzer is not run for test code.

(I'm pretty sure I saw half an hour ago also Static Analyzer report something in `Alignment/*` packages, but it doesn't now)

[2021-11-05 03:54] qliphy opened #36002 "Build CMSSW_12_1_0"

[2021-11-05 03:54] cmsbuild commented on #36002
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-11-05 03:55] qliphy commented on #36002
+1

[2021-11-05 03:55] cmsbuild commented on #36002
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_1_X

[2021-11-05 03:55] cmsbuild commented on #36002
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-11-05 03:56] cmsbuild commented on #36002
The build has started for cc8_amd64_gcc9 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3269/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-05 03:57] cmsbuild commented on #36002
The build has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3270/console
CMSDIST Branch: [IB/CMSSW_12_1_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-05 03:59] cmsbuild commented on #36002
The build has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3271/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-05 04:11] cmsbuild commented on #36002
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3272/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-05 04:18] cmsbuild commented on #36002
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3273/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-05 05:17] cmsbuild commented on #36002
The build has started for cc8_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3274/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-05 05:29] cmsbuild commented on #36002
The build has started for slc7_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3275/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-05 07:11] cmsbuild commented on #36002
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-slc7_amd64_gcc10/3270
Some tests ( ru

[2021-11-05 07:25] cmsbuild commented on #36002
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-cc8_amd64_gcc9/3269
Some tests ( runThe

[2021-11-05 07:33] cmsbuild commented on #36002
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-cc8_ppc64le_gcc9/3272
Some tests ( ru

[2021-11-05 07:53] cmsbuild commented on #36002
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-slc7_ppc64le_gcc9/3273
Some tests (

[2021-11-05 07:53] jpata commented on #35583
Just to conclude on the BTV issues from the reco side, I checked 11834.0 (Run3 ttbar+PU) in two cases:

- pre2 ("ref") vs. pre2+33885 ("this PR")
![DQMData__Run1__Btag__Runsummary__JP_GLOBAL__FlavEffVsBEff_PU_discr_JP_GLOBAL](https://user-images.githubusercontent.com/69717/140474670-c306600b-db48-44e5-8cde-0b9a10bcf3b7.png)
![jetsc_recoJetedmRefToBaseProdTofloatsAssociationVector_pfJetProbabilityB

[2021-11-05 07:57] cmsbuild commented on #36002
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-cc8_aarch64_gcc9/3274
Some tests ( ru

[2021-11-05 07:58] cmsbuild commented on #36002
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-slc7_amd64_gcc10/3270

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-05 08:08] cmsbuild commented on #36002
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-slc7_aarch64_gcc9/3275
Some tests (

[2021-11-05 08:11] ahinzmann commented on #35583
Agree, we can make a followup PR, thinking of a better place to compute the unified particle-vertex association criterion used for CHS+PUPPI. At MiniAOD-level Andrea suggested fromPV, but need to find a place at AOD-level as well, ideally using the same piece of code as fromPV. Before we touch fromPV, we need to conclude on the studies which criteria to use for CHS Run3.

[2021-11-05 08:12] ianna commented on #32757
I agree.

[2021-11-05 08:13] cmsbuild commented on #36002
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-cc8_amd64_gcc9/3269

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-05 08:27] cmsbuild commented on #36002
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-slc7_amd64_gcc900/3271
Some tests (

[2021-11-05 08:31] ianna commented on #33373
@cvuosalo - IMHO, it would be nice to have identical spelling in all Python configurations. https://cmssdt.cern.ch/lxr/search?%21v=CMSSW_12_2_X_2021-11-04-2300&_filestring=py&_string=fromDD4Hep

It is odd that two geometry producers use different syntax in the same fragment:
https://cmssdt.cern.ch/lxr/source/Alignment/MuonAlignment/test/convertSQLitetoXML_cfg.py#0028

[2021-11-05 08:37] srimanob commented on #33373
Hi @ianna @cvuosalo @civanch

Thanks for following up. I agree with @ianna, at least the configuration should be the same. I propose to keep this issue open. I can help with fixing PR.

[2021-11-05 08:38] perrotta commented on #36002
upload all

[2021-11-05 08:39] cmsbuild commented on #36002
Queing Jenkins upload for slc7_amd64_gcc900

[2021-11-05 08:39] cmsbuild commented on #36002
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-11-05 08:39] cmsbuild commented on #36002
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-11-05 08:39] cmsbuild commented on #36002
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-11-05 08:39] cmsbuild commented on #36002
Queing Jenkins upload for cc8_amd64_gcc9

[2021-11-05 08:39] cmsbuild commented on #36002
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-11-05 08:39] cmsbuild commented on #36002
Queing Jenkins upload for slc7_amd64_gcc10

[2021-11-05 08:40] cmsbuild commented on #36002
The upload has started for cc8_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2133/console

[2021-11-05 08:40] cmsbuild commented on #36002
The upload has started for cc8_amd64_gcc9 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2134/console

[2021-11-05 08:40] cmsbuild commented on #36002
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2136/console

[2021-11-05 08:41] cmsbuild commented on #36002
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0-cc8_aarch64_gcc9/2133

[2021-11-05 08:41] cmsbuild commented on #36002
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0-slc7_aarch64_gcc9/2136

[2021-11-05 08:41] cmsbuild commented on #36002
The upload has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2137/console

[2021-11-05 08:41] cmsbuild commented on #36002
The upload has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2138/console

[2021-11-05 08:41] cmsbuild commented on #36002
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0-cc8_amd64_gcc9/2134

[2021-11-05 08:41] cmsbuild commented on #36002
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2135/console

[2021-11-05 08:42] cmsbuild commented on #36002
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2139/console

[2021-11-05 08:42] cmsbuild commented on #36002
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0-cc8_ppc64le_gcc9/2135

[2021-11-05 08:42] cmsbuild commented on #36002
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0-slc7_ppc64le_gcc9/2139

[2021-11-05 08:43] missirol commented on #35426
Looks like #35477 addressed this issue for elements holding a `PluginDescription`, so maybe this could be closed?

[2021-11-05 08:43] cmsbuild commented on #36002
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0-slc7_amd64_gcc10/2137

[2021-11-05 08:44] cmsbuild commented on #36002
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0-slc7_amd64_gcc900/2138

[2021-11-05 08:47] perrotta commented on #36002
release-notes

[2021-11-05 08:48] cmsbuild commented on #36002
Generating release notes since CMSSW_12_1_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-11-05 08:48] cmsbuild commented on #36002
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_1_0 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_1_0_pre5 can be found at:

https://github.com/cms-sw/cms

[2021-11-05 08:53] cmsbuild commented on #36002
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0

[2021-11-05 09:08] cmsbuild commented on #36002
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-cc8_aarch64_gcc9/3274

Tests results:
39 36 14 4 3 0 0 0 0 0 tests passed, 3 2 22 2 0 0 0 0 0 0 failed

[2021-11-05 09:13] cmsbuild commented on #36002
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-cc8_ppc64le_gcc9/3272

Tests results:
39 36 14 4 3 0 0 0 0 0 tests passed, 3 2 22 2 0 0 0 0 0 0 failed

[2021-11-05 09:15] cmsbuild commented on #36002
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-slc7_amd64_gcc900/3271

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-05 09:21] civanch commented on #33373
I agree. Also it is possible adiabatically change the situation:

1) better to have correct names in plugins
2) If a class is used only inside its sub-package it is quite easy  make a change, when a this sub-package is changed for another reason.

[2021-11-05 09:23] cmsbuild commented on #36002
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-slc7_aarch64_gcc9/3275

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-05 09:46] ianna commented on #33373
this should be fixed in https://github.com/cms-sw/cmssw/pull/36003

[2021-11-05 09:46] cmsbuild commented on #36002
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0-slc7_ppc64le_gcc9/3273

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-05 10:05] silviodonato commented on #35923
@cms-sw/pf-l2 @cms-sw/reconstruction-l2 do you know if anybody is working on this?
This change will affects the physics results and we definitely need this fix in CMSSW_12_2_0 (last open pre-release [2021/11/09](https://twiki.cern.ch/twiki/bin/view/CMS/CMSSW_12_2_0))

[2021-11-05 10:24] kdlong commented on #35923
Yes @silviodonato we are looking at it with @hatakeyamak and @marksan87

[2021-11-05 13:09] makortel commented on #35426
+1

[2021-11-05 13:09] #35426 closed

[2021-11-05 13:09] cmsbuild commented on #35426
This issue is fully signed and ready to be closed.

[2021-11-05 13:33] dan131riley commented on #33084
Probably related, in https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_12_2_DEVEL_X_2021-11-04-2300/pyRelValMatrixLogs/run/10004.0_SingleGammaPt10+2017+SingleGammaPt10_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano/step6_SingleGammaPt10+2017+SingleGammaPt10_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano.log

[code]

[2021-11-05 13:50] makortel commented on #31061
The issue description has (emphasis mine)

You're right that we did focus first (and still primarily) on the EDModules that are run in IBs. But all other code needs to be migrated too (or removed). After all the EDModules run in IBs are migrated, we'll make the esConsumes a runtime requirement (*). We are on track to do that in early 12_3_X (say within a few weeks). Then, the remaining not-yet-mig

[2021-11-05 13:53] tvami commented on #31061
Thanks for the confirmation! I'll also subscribe to #35588

[2021-11-05 14:00] jfernan2 commented on #33084
Thanks @dan131riley That is stranger since the method (even if it is not a DQM class) exists:
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/SimDataFormats/GeneratorProducts/interface/GenEventInfoProduct.h#L49
So, I do not understand

[2021-11-05 14:07] dan131riley opened #36007 "RepeatingCachedRootSource is broken"
attn: @wddgit

RepeatingCachedRootSource is broken in recent releases, it looks like due to the process block persistency changes, with `RepeatingCachedRootSource::makeRootFile()` passing in `processBlockHelper=nullptr`.  This was missed because the RepeatingCachedRootSource unit test was also broken, which is fixed by #36006.  With that PR, the unit test fails with this stack trace:

[code]

[2021-11-05 14:07] cmsbuild commented on #36007
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-05 14:11] makortel commented on #36007
assign core

[2021-11-05 14:11] cmsbuild commented on #36007
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-05 14:32] srimanob commented on #33373
Thanks very much @ianna

[2021-11-05 16:42] srimanob opened #36012 "CSC and DT Alignment in Phase2 MC"
This is to follow the discussion on `applyAlignment = True ` for Phase-2 DT and CSC.
Thanks to the report from @cvuosalo which shows that we currently apply alignment for Phase-2 DD4hep,
https://indico.cern.ch/event/1093855/contributions/4600336/attachments/2340006/3990240/dd4migratestatus05Nov2021Update.pdf

Checking more the config, it seems we apply alignment in both DDD and DD4hep for both CSC

[2021-11-05 16:42] cmsbuild commented on #36012
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-05 16:44] srimanob commented on #36012
assign geometry, dt-dpg, csc-dpg

[2021-11-05 16:44] srimanob commented on #36012
assign upgrade

[2021-11-05 16:44] cmsbuild commented on #36012
New categories assigned: geometry,dt-dpg,upgrade,csc-dpg

@cvuosalo,@mdhildreth,@AdrianoDee,@namapane,@ianna,@battibass,@Dr15Jones,@fcavallo,@srimanob,@makortel,@ptcox,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-05 17:19] francescobrivio opened #36014 "Crash when running ALCA:DQM step on ALCARECO in PilotBeam collision run"
While setting up new relval worklfows to use the recent pp collisions from the 2021 PilotBeam I found this crash happening when I add `ALCA:DQM` step to the prompt workflow:
[code]
The same wf and step (`ALCA:DQM`) running on cosmic data (`138.1`) does not crash.

Th recipe for reproducing the crash is:
[code]

The crash is observed both in 12_2_X and 12_0_X (I didn't test 12_1_X, but I guess it's

[2021-11-05 17:20] cmsbuild commented on #36014
A new Issue was created by  @francescobrivio .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-05 17:21] francescobrivio commented on #36014
FYI @mmusich

[2021-11-05 17:28] makortel commented on #36014
assign dqm

[2021-11-05 17:28] cmsbuild commented on #36014
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-05 20:55] mmusich commented on #31061
@makortel is there a way to have the PR tests show the remaining cases in `/test` directories as warning in the Summary ?
It seems that the only place in which one can consult those is by looking in the `CMSDEPRECATED_X` which many developers might not even be aware of.

[2021-11-05 22:23] mmusich commented on #31550
I think this has been address within the dd4hep migration at: https://github.com/cms-sw/cmssw/pull/35920
@civanch please unhold so that the issue can be signed and closed.
Thanks.

[2021-11-05 22:34] cvuosalo commented on #31550
Yes, this issue has been resolved.

[2021-11-05 23:02] mmusich commented on #36014
@francescobrivio I am not sure to understand why the whole
[code]
part is duplicated in step2 and step3....
Anyways this:
[code]
makes step 3 work (haven't tested if it damages something else), though I have the impression that `ALCA:SiStripCalZeroBias` shouldn't be run in a step in which also RECO is run.

finally let me note that in the log of step2 there's a bunch of:
[code]

[2021-11-06 02:10] rchatter commented on #32072
Hi @cvuosalo ,
Sorry I hadn't acknowledged this earlier. Yes this issue is resolved since the scenarios were created a while back, and can be closed.
Thanks,
Rajdeep

[2021-11-06 12:32] fwyzard commented on #33002
The results from data taking during the pilot beams were looking good; the remaining issues seem more related to the PF code than to the HCAL digis themselves, and are being followed up in https://github.com/cms-sw/cmssw/issues/35923 .

[2021-11-06 14:43] ianna commented on #33373
and the final cleanup is done in https://github.com/cms-sw/cmssw/pull/36021

[2021-11-06 15:53] #33002 closed

[2021-11-07 07:53] cmsbuild commented on #36002
The cleanup has started for cc8_aarch64_gcc9

[2021-11-07 07:53] cmsbuild commented on #36002
The cleanup has started for slc7_aarch64_gcc9

[2021-11-07 07:53] cmsbuild commented on #36002
The cleanup has started for slc7_amd64_gcc900

[2021-11-07 07:53] cmsbuild commented on #36002
The cleanup has started for cc8_ppc64le_gcc9

[2021-11-07 07:53] cmsbuild commented on #36002
The cleanup has started for slc7_ppc64le_gcc9

[2021-11-07 07:53] cmsbuild commented on #36002
The cleanup has started for cc8_amd64_gcc9

[2021-11-07 07:53] cmsbuild commented on #36002
The cleanup has started for slc7_amd64_gcc10

[2021-11-07 07:53] #36002 closed

[2021-11-07 07:53] cmsbuild commented on #36002
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0-cc8_aarch64_gcc9/1851

[2021-11-07 07:53] cmsbuild commented on #36002
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0-cc8_ppc64le_gcc9/1853

[2021-11-07 07:53] cmsbuild commented on #36002
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0-cc8_amd64_gcc9/1852

[2021-11-07 07:53] cmsbuild commented on #36002
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0-slc7_aarch64_gcc9/1854

[2021-11-07 07:53] cmsbuild commented on #36002
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0-slc7_amd64_gcc10/1855

[2021-11-07 07:53] cmsbuild commented on #36002
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0-slc7_ppc64le_gcc9/1857

[2021-11-07 07:53] cmsbuild commented on #36002
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0-slc7_amd64_gcc900/1856

[2021-11-07 14:59] qliphy opened #36025 "Build CMSSW_12_0_3_patch2"
a few "nice to have" fixes on top of 12_0_3_patch1

[2021-11-07 15:00] cmsbuild commented on #36025
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-11-07 15:00] qliphy commented on #36025
+1

[2021-11-07 15:01] cmsbuild commented on #36025
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_3_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_0_X

[2021-11-07 15:01] cmsbuild commented on #36025
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2021-11-07 15:01] cmsbuild commented on #36025
The build has started for cc8_amd64_gcc9 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3276/console
CMSDIST Branch: [REL/CMSSW_12_0_3/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_3/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-07 15:03] cmsbuild commented on #36025
The build has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3278/console
CMSDIST Branch: [REL/CMSSW_12_0_3/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_3/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-07 15:03] cmsbuild commented on #36025
The build has started for slc7_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3277/console
CMSDIST Branch: [REL/CMSSW_12_0_3/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_3/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-07 15:03] cmsbuild commented on #36025
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3279/console
CMSDIST Branch: [REL/CMSSW_12_0_3/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_3/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-07 15:04] cmsbuild commented on #36025
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3280/console
CMSDIST Branch: [REL/CMSSW_12_0_3/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_3/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-07 15:35] cmsbuild commented on #36025
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-slc7_ppc64le_gcc9/3280
Some t

[2021-11-07 15:39] cmsbuild commented on #36025
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-slc7_amd64_gcc10/3277
Some tes

[2021-11-07 15:39] cmsbuild commented on #36025
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-slc7_aarch64_gcc9/3279
Some t

[2021-11-07 15:42] cmsbuild commented on #36025
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-slc7_amd64_gcc900/3278
Some t

[2021-11-07 15:49] cmsbuild commented on #36025
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-cc8_amd64_gcc9/3276
Some tests (

[2021-11-07 16:24] cmsbuild commented on #36025
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-slc7_amd64_gcc10/3277

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-11-07 16:28] cmsbuild commented on #36025
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-slc7_amd64_gcc900/3278

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-11-07 16:32] cmsbuild commented on #36025
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-slc7_ppc64le_gcc9/3280

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-11-07 16:33] cmsbuild commented on #36025
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-cc8_amd64_gcc9/3276

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-11-07 16:36] cmsbuild commented on #36025
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_3_patch2-slc7_aarch64_gcc9/3279

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-11-08 00:33] qliphy commented on #36025
upload all

[2021-11-08 00:34] cmsbuild commented on #36025
Queing Jenkins upload for slc7_amd64_gcc900

[2021-11-08 00:34] cmsbuild commented on #36025
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-11-08 00:34] cmsbuild commented on #36025
Queing Jenkins upload for cc8_amd64_gcc9

[2021-11-08 00:34] cmsbuild commented on #36025
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-11-08 00:34] cmsbuild commented on #36025
Queing Jenkins upload for slc7_amd64_gcc10

[2021-11-08 00:34] cmsbuild commented on #36025
The upload has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2143/console

[2021-11-08 00:34] cmsbuild commented on #36025
The upload has started for cc8_amd64_gcc9 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2140/console

[2021-11-08 00:34] cmsbuild commented on #36025
The upload has started for slc7_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2142/console

[2021-11-08 00:35] cmsbuild commented on #36025
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2144/console

[2021-11-08 00:36] cmsbuild commented on #36025
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_3_patch2-slc7_amd64_gcc900/2143

[2021-11-08 00:36] cmsbuild commented on #36025
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_3_patch2-slc7_ppc64le_gcc9/2144

[2021-11-08 00:38] cmsbuild commented on #36025
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_3_patch2-slc7_amd64_gcc10/2142

[2021-11-08 00:38] cmsbuild commented on #36025
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_3_patch2-cc8_amd64_gcc9/2140

[2021-11-08 01:43] qliphy opened #36029 "Unable to find plugin 'EcalBarrelGeometryEPdd4hep' in category 'CMS EDM Framework ParameterSet Description'"
There are issues in IB since CMSSW_12_2_X_2021-11-07-0000

**On the workflows 11634.911 and 11650.911**
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_X_2021-11-07-2300/pyRelValMatrixLogs/run/11634.911_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/step1_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA.log#/

----- Begi

[2021-11-08 01:43] cmsbuild commented on #36029
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-08 01:45] qliphy commented on #36029
- Note CMSSW_12_2_X_2021-11-06-1100  has no such issue,
- CMSSW_12_2_X_2021-11-07-0000 reports issues on the workflows 11634.911 and 11650.911,
- CMSSW_12_2_X_2021-11-07-2300 reports further the issue on the unit test Geometry/TrackerGeometryBuilder

Between CMSSW_12_2_X_2021-11-06-1100 and CMSSW_12_2_X_2021-11-07-0000  there is only one new PR #35912 merged which should not be related to the issu

[2021-11-08 01:46] qliphy commented on #36029
assign geometry

[2021-11-08 01:47] cmsbuild commented on #36029
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-08 02:44] makortel commented on #35516
@Dr15Jones brought up an option of using simply `foo = cms.EDProducer("FooProducerDevice", ...)` and use the plugin manager to load the EDModule of the intended namespace (there would need to be configuration options to set that globally and per-module, ref https://github.com/cms-sw/cmssw/issues/31760). In this option framework would implicitly transfer the data products from device to host (effec

[2021-11-08 06:29] qliphy commented on #36025
@smuzaffar    slc7_aarch64_gcc9-uploading  seems to be stuck, can you have a look? Thanks!

[2021-11-08 06:35] cmsbuild commented on #36025
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2145/console

[2021-11-08 06:36] cmsbuild commented on #36025
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_3_patch2-slc7_aarch64_gcc9/2145

[2021-11-08 06:36] qliphy commented on #36025
Thanks! It is done now.

[2021-11-08 06:36] qliphy commented on #36025
release-notes

[2021-11-08 06:36] cmsbuild commented on #36025
Generating release notes since CMSSW_12_0_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-11-08 06:36] cmsbuild commented on #36025
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_0_3_patch2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_0_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_1

[2021-11-08 06:38] cmsbuild commented on #36025
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_3_patch2

[2021-11-08 06:40] smuzaffar commented on #36025
Yes, previously  the upload job failed due to connection issue to openlab machine.

[2021-11-08 08:48] civanch commented on #36029
@ianna , @cvuosalo , this is a side effect of the names clean-up. Can you, please, fix.

[2021-11-08 08:59] civanch opened #36030 "Slowdown GEN-SIM due to Phythia8"
In the recent analysis of CPU/memory for GEN-SIM step https://indico.cern.ch/event/1093855/contributions/4600333/attachments/2340587/3990401/FullSim_performance_monitoring_05Nov2021.pdf

it is seen some degradation in CMSSW_12_1_0 compare to early pre-releases of 12_0. From igprof one can observe some contribution from Phythia8 methods, which were not there before.

[2021-11-08 08:59] civanch commented on #36030
assign core generators

[2021-11-08 08:59] cmsbuild commented on #36030
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-08 09:00] civanch commented on #36030
assign core

[2021-11-08 09:00] civanch commented on #36030
assign generator

[2021-11-08 09:01] civanch commented on #36030
assign generators

[2021-11-08 09:01] cmsbuild commented on #36030
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-08 12:32] ianna commented on #36029
@civanch - can we do the final cleanup after the second PR is merged? Thanks

[2021-11-08 12:58] francescobrivio commented on #36014
That's an error in how I configured the job I think, i'm trying to fix it.

Ok, thanks for the quick solution!
I have a followup question: do we need the DQM step for the prompt/express relval workflows?

[2021-11-08 14:38] tvami commented on #36029
I think https://github.com/cms-sw/cmssw/pull/36021 is the resolution to this issue already, no?

[2021-11-08 14:54] makortel commented on #31061
Yes, this is possible, and is being enabled now in https://github.com/cms-sw/cms-bot/pull/1660. It will be similar to the current EventSetupRecord::get and legacy EDModule warnings from Static Analyzer, i.e. those warnings will not mark the PR tests as failed, but are reported separately in the PR test summary message.

[2021-11-08 14:57] mmusich commented on #36014
you mean the standard DQM, or the ALCA DQM? in either case I'd say yes.

[2021-11-08 15:24] mmusich commented on #31061
Thanks Matti!

[2021-11-08 15:57] agrohsje commented on #36030
Thanks @civanch for the link. @smrenna: you mentioned P8 performance checks during the review. Are you aware of performance changes between P8.303 and P8.306 ?

[2021-11-08 16:23] agrohsje commented on #31061
Hi @SiewYan , are you available to move PythiaFilterIsolatedTrack to esConsumes? Markus handled GenParticles2HepMCConverter.cc.

[2021-11-08 20:59] cvuosalo opened #36043 "esConsume migration for CondTools/Geometry/test/GeometryTester.cc"
The file CondTools/Geometry/test/GeometryTester.cc requires esConsume migration. It has many occurrences of EventSetup::get() warnings:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_2_CMSDEPRECATED_X_2021-11-03-2300/CondTools/Geometry

[2021-11-08 21:00] cmsbuild commented on #36043
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-08 21:00] cvuosalo commented on #36043
assign db,geometry

[2021-11-08 21:01] cmsbuild commented on #36043
New categories assigned: geometry,db

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@ggovi,@makortel,@francescobrivio,@malbouis,@tvami,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-08 21:09] cvuosalo opened #36044 "PoolOutputDB service migration for Geometry/CaloEventSetup, Geometry/EcalAlgo, Geometry/DTGeometry"
Geometry/CaloEventSetup, Geometry/EcalAlgo, and Geometry/DTGeometry, the PoolOutputDB service methods
writeOneIOV(), createOneIOV(), and appendOneIOV() must be changed.

Instructions are here:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuidePoolDBOutputService
https://indico.cern.ch/event/1088598/contributions/4580152/attachments/2333275/3976721/DBOutputService%20changes.pdf

Deadline is 01-

[2021-11-08 21:09] cmsbuild commented on #36044
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-08 21:09] cvuosalo commented on #36044
assign geometry

[2021-11-08 21:09] cmsbuild commented on #36044
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-08 22:27] makortel commented on #36030
Looking quickly the TTbar perf links in https://nhoerman.web.cern.ch/nhoerman/FullSim.html I see a clear difference from 12_0_0_pre6
https://nhoerman.web.cern.ch/nhoerman/cgi-bin/igprof-navigator/CMSSW_12_0_0_pre6/TimeMemory/14TeV_GEN_SIM_2021_1_500/igprofCPU_TTbar/388
to 12_1_0_pre2
https://nhoerman.web.cern.ch/nhoerman/cgi-bin/igprof-navigator/CMSSW_12_1_0_pre2/TimeMemory/14TeV_GEN_SIM_2021_1_50

[2021-11-08 23:12] #36007 closed

[2021-11-09 04:09] SiewYan commented on #31061
@agrohsje , yes, I am available to look after esConsumes? migration in PythiaFilterIsolatedTrack

[2021-11-09 09:39] Martin-Grunewald commented on #35923
Ping: would appreciate a 12_2 PR asap! Thanks!

[2021-11-09 12:05] iarspider opened #36053 "[ASAN] heap-buffer-overflow in MuonAlignmentInputDB::newAlignableMuon"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_2_ASAN_X_2021-11-08-2300/unitTestLogs/Alignment/MuonAlignment#/27

Error message:
[code]

[2021-11-09 12:05] cmsbuild commented on #36053
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-09 12:16] iarspider opened #36054 "[ASAN] heap-use-after-free in SiPixelGenErrorDBObjectUploader::analyze"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_2_ASAN_X_2021-11-08-2300/unitTestLogs/CondTools/SiPixel#/5635

Error message:
[code]

[2021-11-09 12:16] cmsbuild commented on #36054
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-09 12:19] iarspider commented on #36054
assign db

[2021-11-09 12:19] cmsbuild commented on #36054
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-09 12:19] iarspider commented on #36053
assign alca

[2021-11-09 12:20] cmsbuild commented on #36053
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-09 13:26] iarspider opened #36056 "[ASAN] new-delete-type-mismatch in FWModelChangeManager::newItemSlot"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_2_ASAN_X_2021-11-08-2300/unitTestLogs/Fireworks/Core#/4

Error message:
[code]

[2021-11-09 13:26] iarspider commented on #36056
assign visualization

[2021-11-09 13:27] cmsbuild commented on #36056
New categories assigned: visualization

@Dr15Jones,@makortel,@alja you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-09 13:27] cmsbuild commented on #36056
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-09 13:33] iarspider opened #36057 "[ASAN] heap-buffer-overflow in ClusterGenerator::operator()"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_2_ASAN_X_2021-11-08-2300/unitTestLogs/RecoPixelVertexing/PixelVertexFinding#/

Error message:
[code]

[2021-11-09 13:33] cmsbuild commented on #36057
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-09 13:34] iarspider commented on #36057
assign reconstruction

[2021-11-09 13:34] cmsbuild commented on #36057
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-09 14:00] VinInn commented on #36057
oops a "bug"
``` ev.itrack[nclus] = nt;```
should read
``` ev.itrack[iv] = nt;```

[2021-11-09 14:05] VinInn commented on #36057
see above

[2021-11-09 14:44] tvami commented on #36054
I think the fix for this has been merged before this issue was created: https://github.com/cms-sw/cmssw/pull/36027
i.e. it should not come up anymore in `CMSSW_12_2_ASAN_X_2021-11-09-2300`

[2021-11-09 14:51] tvami commented on #36053
@hyunyong can you please have a look at this?

[2021-11-09 14:53] tvami commented on #36054
+db
 * see https://github.com/cms-sw/cmssw/issues/36054#issuecomment-964217234

[2021-11-09 14:53] cmsbuild commented on #36054
This issue is fully signed and ready to be closed.

[2021-11-09 15:07] hyunyong commented on #36053
Yes, I'm looking at it.

[2021-11-09 15:15] marksan87 commented on #35923
There is a PR coming soon. Apologies for the delay!

[2021-11-09 17:05] alja commented on #36056
I'm looking into this.

[2021-11-09 17:40] kpedro88 commented on #35565
@smuzaffar yes, the recommended practice for nesting arguments with argparse is the syntax with the `=` sign.

[2021-11-09 17:51] iarspider opened #36063 "[ASAN] TestDQMServicesDemo tries to allocate 15 TB of RAM"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_2_ASAN_X_2021-11-08-2300/unitTestLogs/DQMServices/Demo#/5920-5920

Error message:
[code]

[2021-11-09 17:51] cmsbuild commented on #36063
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-09 17:51] iarspider commented on #36063
assign dqm

[2021-11-09 17:52] cmsbuild commented on #36063
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-09 17:57] alja commented on #36056
Do I need to have any special fags when running the test?

I have project CMSSW_12_2_ASAN_X_2021-11-08-2300 build with SCRAM_ARCH slc7_amd64_gcc10. The 'scram b test` does not report anything in Fireworks/Core module.

[2021-11-09 18:00] smuzaffar commented on #36056
no special flags needed, just running it on  `CMSSW_12_2_ASAN_X_2021-11-08-2300` should be good

[2021-11-09 18:18] jfernan2 commented on #36063
Thanks @iarspider
I am not able to reproduce it, could you remind me of what should I set apart from using CMSSW_12_2_ASAN_X_2021-11-08-2300 ?

The error looks related to the setting ulimit -v 4000000   in:
https://github.com/cms-sw/cmssw/blob/master/DQMServices/Demo/test/runtests.sh#L85

Could you advise a better value which may work for ASAN?
Thank you

[2021-11-09 18:31] alja commented on #36056
@smuzaffar Thanks, I can see the error now. I had run scram runtests.

[2021-11-09 21:09] cvuosalo commented on #36044
ECal portion is being addressed in PR #36062.

[2021-11-09 22:08] alja commented on #36056
@smuzaffar @Dr15Jones
I debugged https://github.com/cms-sw/cmssw/blob/master/Fireworks/Core/test/unittest_changemanager.cc where the error comes from and later found out even a simple sigc::signal produces the same error. Here is a much simpler case: https://github.com/cms-sw/cmssw/blob/master/Fireworks/Core/test/unittest_changemanager.cc

I googled sigc new-delete-type-mismatch  and got this as t

[2021-11-10 00:53] #36054 closed

[2021-11-10 05:38] cmsbuild commented on #36025
The cleanup has started for slc7_aarch64_gcc9

[2021-11-10 05:38] cmsbuild commented on #36025
The cleanup has started for slc7_amd64_gcc900

[2021-11-10 05:38] cmsbuild commented on #36025
The cleanup has started for slc7_ppc64le_gcc9

[2021-11-10 05:38] cmsbuild commented on #36025
The cleanup has started for cc8_amd64_gcc9

[2021-11-10 05:38] cmsbuild commented on #36025
The cleanup has started for slc7_amd64_gcc10

[2021-11-10 05:38] #36025 closed

[2021-11-10 05:38] cmsbuild commented on #36025
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_3_patch2-cc8_amd64_gcc9/1858

[2021-11-10 05:38] cmsbuild commented on #36025
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_3_patch2-slc7_aarch64_gcc9/1859

[2021-11-10 05:38] cmsbuild commented on #36025
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_3_patch2-slc7_amd64_gcc10/1860

[2021-11-10 05:38] cmsbuild commented on #36025
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_3_patch2-slc7_ppc64le_gcc9/1862

[2021-11-10 05:38] cmsbuild commented on #36025
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_3_patch2-slc7_amd64_gcc900/1861

[2021-11-10 06:37] smuzaffar commented on #35565
closing this issue. bot has been fixed to avoid this issue.

[2021-11-10 06:37] #35565 closed

[2021-11-10 06:44] smuzaffar commented on #36056
Thanks @alja. @ddaina can you please update https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_2_X/master/sigcpp.spec to use latest 3.0.7 version.

[2021-11-10 10:55] iarspider opened #36070 "[ASAN] heap-use-after-free in edmtest::stream::TestEndProcessBlockProducer::~TestEndProcessBlockProducer()"
Error message:
[code]

[2021-11-10 10:55] cmsbuild commented on #36070
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-10 10:56] iarspider commented on #36070
assign core

[2021-11-10 10:56] cmsbuild commented on #36070
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-10 11:34] iarspider opened #36072 "[ASAN] Possible stack-buffer-overflow in cms::Exception constructor"
Command: `$ cmsRun src/FWCore/Integration/test/CatchStdExceptiontest_cfg.py` (part of FWCore/Integration unit tests)

Log :
[code]

[2021-11-10 11:34] iarspider commented on #36072
assign core

[2021-11-10 11:34] cmsbuild commented on #36072
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-10 11:35] cmsbuild commented on #36072
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-10 13:14] iarspider opened #36074 "Do not run test_mallocopts.sh in ASAN IBs"
[TestFWCoreServicesDriver](https://github.com/cms-sw/cmssw/blob/master/FWCore/Services/test/BuildFile.xml#L13) test runs [special configuration](https://github.com/cms-sw/cmssw/blob/master/FWCore/Services/test/mallocopts_cfg.py#L14) that checks if changing memory allocation options works. However, the code that dumps allocation options is [removed](https://github.com/cms-sw/cmssw/blob/master/FWCor

[2021-11-10 13:14] cmsbuild commented on #36074
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-10 13:34] iarspider commented on #36074
Maybe also skip [test-valgrind-memleak](https://github.com/cms-sw/cmssw/blob/master/Utilities/ReleaseScripts/test/BuildFile.xml#L5)?

[2021-11-10 22:35] smuzaffar commented on #36074
your proposal sounds reasonable @iarspider . I will provide a PR to disable these tests for ASAN IBs.

[2021-11-11 05:05] #36070 closed

[2021-11-11 09:44] missirol commented on #25090
+hlt

As far I can see, there is no outstanding item for HLT here (if not, let me know, and I'll undo the signature).

Thanks to @Dr15Jones, @Martin-Grunewald and @makortel for making the updates in #27961 #28175 #28445 #30987 (and maybe other PRs I missed).

[2021-11-11 10:52] smuzaffar commented on #36056
@alja , looks like fireworks needs changes for `sigc++-3.0 ` , see the build errors https://github.com/cms-sw/cmsdist/pull/7441#issuecomment-966174507

[2021-11-11 11:49] #36074 closed

[2021-11-11 13:15] hatakeyamak commented on #35923
@marksan87 Thank you. Is it explicitly tested that this will indeed solve the CPU vs GPU PFJet differences?

[2021-11-11 13:18] hatakeyamak commented on #35923
@mariadalfonso I am aware of this complication, but it's not clear how to handle the transition of depth segmentation vs ieta, so currently the layer-wise clusters are done based on depth, and the assumption is that this is ok as long as we connect clusters from different depth in 3D clusters.

[2021-11-11 13:37] dan131riley commented on #36054
While I don't see the error in the latest IB, I don't think this has actually been fixed.  The problem is this line:

https://github.com/cms-sw/cmssw/blob/d6e8724057671acf1f0eb7eb43799907175acf4b/CondTools/SiPixel/plugins/SiPixelGenErrorDBObjectUploader.cc#L93

`FileInPath::fullPath()` returns an `std::string` by value, so that line takes `c_str()` of a temporary that immediately goes out of scope

[2021-11-11 14:41] tvami commented on #36054
ok, I'll put this to my todo list

[2021-11-11 17:05] jfernan2 commented on #35979
+1
I believe this issue is being fixed by https://github.com/cms-sw/cmssw/pull/36067

[2021-11-11 17:52] mmusich commented on #36054
see https://github.com/cms-sw/cmssw/pull/36092 (fixing also another bug that was hidden by the other failure)

[2021-11-11 17:56] tvami commented on #36054
thanks Marco!

[2021-11-12 03:26] qliphy opened #36099 "Build CMSSW_12_2_0_pre2"

[2021-11-12 03:27] cmsbuild commented on #36099
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-11-12 03:28] qliphy commented on #36099
+1

[2021-11-12 03:28] cmsbuild commented on #36099
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-11-12 03:28] cmsbuild commented on #36099
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-11-12 03:31] cmsbuild commented on #36099
The build has started for cc8_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3281/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-12 03:37] cmsbuild commented on #36099
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3282/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-12 03:46] cmsbuild commented on #36099
The build has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3283/console
CMSDIST Branch: [IB/CMSSW_12_2_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-12 03:51] cmsbuild commented on #36099
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3284/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-12 03:53] cmsbuild commented on #36099
The build has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3285/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-12 04:09] cmsbuild commented on #36099
The build has started for cc8_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3286/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-12 04:46] cmsbuild commented on #36099
The build has started for slc7_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3287/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-12 08:17] cmsbuild commented on #36099
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-cc8_aarch64_gcc9/3286
Some tests

[2021-11-12 08:34] cmsbuild commented on #36099
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-slc7_ppc64le_gcc9/3284
Some tes

[2021-11-12 08:35] cmsbuild commented on #36099
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-slc7_aarch64_gcc9/3287
Some tes

[2021-11-12 08:36] cmsbuild commented on #36099
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-cc8_ppc64le_gcc9/3281
Some tests

[2021-11-12 08:53] cmsbuild commented on #36099
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-slc7_amd64_gcc10/3283
Some tests

[2021-11-12 09:06] cmsbuild commented on #36099
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-cc8_aarch64_gcc9/3286

Tests results:
39 36 14 4 3 0 0 0 0 0 tests passed, 3 2 22 2 0 0 0 0 0 0 failed

[2021-11-12 09:07] cmsbuild commented on #36099
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-cc8_amd64_gcc9/3282
Some tests ( r

[2021-11-12 09:31] cmsbuild commented on #36099
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-cc8_ppc64le_gcc9/3281

Tests results:
39 36 14 4 3 0 0 0 0 0 tests passed, 3 2 22 2 0 0 0 0 0 0 failed

[2021-11-12 09:33] cmsbuild commented on #36099
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-slc7_ppc64le_gcc9/3284

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-12 09:35] cmsbuild commented on #36099
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-slc7_aarch64_gcc9/3287

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-12 09:40] cmsbuild commented on #36099
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-slc7_amd64_gcc10/3283

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-12 09:54] cmsbuild commented on #36099
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-cc8_amd64_gcc9/3282

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-12 09:59] ianna commented on #33373
@srimanob - please, check if the issue can be closed. Thanks!

[2021-11-12 10:01] srimanob commented on #33373
Thanks @ianna I think this issue can be closed.
@cms-sw/geometry-l2 @cms-sw/simulation-l2 @cms-sw/reconstruction-l2 Could you please consider, and sign? Or please comment if something else remains.

[2021-11-12 10:11] cmsbuild commented on #36099
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-slc7_amd64_gcc900/3285
Some tes

[2021-11-12 10:58] cmsbuild commented on #36099
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre2-slc7_amd64_gcc900/3285

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-11-12 11:09] qliphy commented on #36099
upload all

[2021-11-12 11:09] cmsbuild commented on #36099
Queing Jenkins upload for slc7_amd64_gcc900

[2021-11-12 11:09] cmsbuild commented on #36099
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-11-12 11:09] cmsbuild commented on #36099
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-11-12 11:09] cmsbuild commented on #36099
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-11-12 11:09] cmsbuild commented on #36099
Queing Jenkins upload for cc8_amd64_gcc9

[2021-11-12 11:09] cmsbuild commented on #36099
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-11-12 11:09] cmsbuild commented on #36099
Queing Jenkins upload for slc7_amd64_gcc10

[2021-11-12 11:10] cmsbuild commented on #36099
The upload has started for cc8_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2146/console

[2021-11-12 11:10] cmsbuild commented on #36099
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2147/console

[2021-11-12 11:10] cmsbuild commented on #36099
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2149/console

[2021-11-12 11:10] cmsbuild commented on #36099
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2148/console

[2021-11-12 11:11] cmsbuild commented on #36099
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre2-cc8_amd64_gcc9/2147

[2021-11-12 11:11] cmsbuild commented on #36099
The upload has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2150/console

[2021-11-12 11:11] cmsbuild commented on #36099
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre2-cc8_ppc64le_gcc9/2148

[2021-11-12 11:11] cmsbuild commented on #36099
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre2-cc8_aarch64_gcc9/2146

[2021-11-12 11:12] cmsbuild commented on #36099
The upload has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2152/console

[2021-11-12 11:12] cmsbuild commented on #36099
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2151/console

[2021-11-12 11:12] cmsbuild commented on #36099
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre2-slc7_aarch64_gcc9/2149

[2021-11-12 11:12] cmsbuild commented on #36099
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre2-slc7_amd64_gcc10/2150

[2021-11-12 11:13] cmsbuild commented on #36099
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre2-slc7_ppc64le_gcc9/2151

[2021-11-12 11:14] cmsbuild commented on #36099
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre2-slc7_amd64_gcc900/2152

[2021-11-12 11:15] qliphy commented on #36099
release-notes

[2021-11-12 11:15] cmsbuild commented on #36099
Generating release notes since CMSSW_12_2_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-11-12 11:15] cmsbuild commented on #36099
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_2_0_pre2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_2_0_pre1 can be found at:

https://github.com/cms-

[2021-11-12 11:17] cmsbuild commented on #36099
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_0_pre2

[2021-11-12 14:17] makortel commented on #24051
Here is a similar crash from https://github.com/cms-sw/cmssw/pull/36100#issuecomment-966995498 in `fastsim1` test
[code]

[2021-11-12 18:08] cvuosalo commented on #36043
Resolved in PR #36107.

[2021-11-12 20:13] cvuosalo commented on #33373
+1

[2021-11-12 21:43] tvami commented on #36043
+db
 * resolved in https://github.com/cms-sw/cmssw/pull/36107

[2021-11-12 22:43] cvuosalo commented on #36043
+1

[2021-11-12 22:44] cmsbuild commented on #36043
This issue is fully signed and ready to be closed.

[2021-11-12 23:00] cvuosalo commented on #36043
#36107 has been merged.

[2021-11-12 23:00] #36043 closed

[2021-11-13 00:11] alja commented on #36056
@smuzaffar Thank you! I will look into it.

[2021-11-13 12:25] rovere opened #36113 "Review introduction of virtual calls in PR #20631"
PR #20631 (done at the `HGCAL TDR` time, 4 years ago) changed the `getPosition()` method of a `CaloCellGeometry` to be `virtual`.
They why and how is explained clearly in the PR itself.
Review that change and evaluate if we could restore the previous behaviour w/o virtual calls.

[2021-11-13 12:26] cmsbuild commented on #36113
A new Issue was created by  @rovere Marco Rovere.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-13 12:26] rovere commented on #36113
assign hgcal-dpg

[2021-11-13 12:26] cmsbuild commented on #36113
New categories assigned: hgcal-dpg

@felicepantaleo,@rovere,@pfs,@cseez you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-13 12:26] rovere commented on #36113
assign @bsunanda

[2021-11-13 12:29] rovere commented on #36113
assign upgrade

[2021-11-13 12:30] cmsbuild commented on #36113
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-13 15:14] missirol commented on #35008
+hlt

Hi @mrodozov. After your #35066 and #36060, the 3 errors are now gone [in the latest UBSAN IB](https://cmssdt.cern.ch/SDT/jenkins-artifacts/ubsan_logs/CMSSW_12_2_X_2021-11-12-2300/), so I guess this issue could be closed.

[2021-11-14 10:23] cmsbuild commented on #36099
The cleanup has started for cc8_aarch64_gcc9

[2021-11-14 10:23] cmsbuild commented on #36099
The cleanup has started for slc7_aarch64_gcc9

[2021-11-14 10:23] cmsbuild commented on #36099
The cleanup has started for slc7_amd64_gcc900

[2021-11-14 10:23] cmsbuild commented on #36099
The cleanup has started for cc8_ppc64le_gcc9

[2021-11-14 10:23] cmsbuild commented on #36099
The cleanup has started for slc7_ppc64le_gcc9

[2021-11-14 10:23] cmsbuild commented on #36099
The cleanup has started for cc8_amd64_gcc9

[2021-11-14 10:23] cmsbuild commented on #36099
The cleanup has started for slc7_amd64_gcc10

[2021-11-14 10:23] #36099 closed

[2021-11-14 10:23] cmsbuild commented on #36099
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre2-cc8_amd64_gcc9/1864

[2021-11-14 10:23] cmsbuild commented on #36099
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre2-cc8_ppc64le_gcc9/1865

[2021-11-14 10:23] cmsbuild commented on #36099
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre2-cc8_aarch64_gcc9/1863

[2021-11-14 10:23] cmsbuild commented on #36099
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre2-slc7_aarch64_gcc9/1866

[2021-11-14 10:23] cmsbuild commented on #36099
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre2-slc7_amd64_gcc10/1867

[2021-11-14 10:23] cmsbuild commented on #36099
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre2-slc7_amd64_gcc900/1868

[2021-11-14 10:24] cmsbuild commented on #36099
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre2-slc7_ppc64le_gcc9/1869

[2021-11-14 18:45] VinInn opened #36121 "Valgrind messages (about python)"
Valgrind produces tons of complains of the type
[code]

I used
[code]
should it not point to python3?

[2021-11-14 18:45] cmsbuild commented on #36121
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-15 06:59] missirol commented on #23200
I'm new to this issue, but my understanding is that going back to `LogError` is not a viable option.

The module mentioned in #23185 (i.e. `HLTHtMhtFilter`) adds by construction trigger objects of 2 different types [[1]](https://github.com/cms-sw/cmssw/blob/ff75956ff1b3cf2f1ccdda06e31f739fc447f798/HLTrigger/JetMET/src/HLTHtMhtFilter.cc#L104-L105) [[2]](https://github.com/cms-sw/cmssw/blob/ff75956f

[2021-11-15 08:41] silviodonato commented on #35376
We expect that #35915 #35902 #36088 reduce these differences. I will post an update with the results obtained by Ganesh

[2021-11-15 13:13] ahinzmann commented on #35986
yes, this is because the new modules primaryVertexAssociationJME is taking the track-vertex-association-decision for CHS and PUPPI. This could be speed up, by not reusing the same module, but instead making a more light-weight association module for CHS and PUPPI. We plan to implement this, once the CHS/PUPPI vertex-association criteria for Run3 are fixed.

[2021-11-15 13:38] jpata commented on #35986
could you clarify a bit what's the timeline for this?

[2021-11-15 14:23] fabiocos commented on #23200
@perrotta @qliphy please note the follow-up of this discussion. Are you ok to close this issue, and possibly move further actions to a new one?

[2021-11-15 21:48] tvami commented on #36053
Hi @hyunyong do you have any news on this?

[2021-11-15 22:42] missirol commented on #23200
+hlt

[2021-11-15 22:42] cmsbuild commented on #23200
This issue is fully signed and ready to be closed.

[2021-11-16 00:49] #23200 closed

[2021-11-16 09:49] #35008 closed

[2021-11-16 09:53] missirol commented on #35008
Hi @smuzaffar , one quick question on the `cms-bot`. I've seen in this issue that the signatures got removed after I signed for HLT. I have seen this happen in other issues, but not always. What is the expected behaviour for signatures in issues? Are they supposed to work exactly like in PRs? I guess keeping the signature around might be useful for tracking of old/closed issues.

[2021-11-16 10:16] mariadalfonso commented on #35923
ok, as soon as you do the 3D clusters and not mix the eta when doing the "layer wise cluster" energy weighted as discussed here.
so the  layer-wise clusters at transitions can mix the depth ?

[2021-11-16 10:17] missirol opened #36138 "on behaviour of `OutputModules` in unscheduled execution, and its interplay with HLT"
As suggested by @silviodonato, I'm opening an issue related to a recent discussion between Core-Sw and HLT concerning the behaviour of `OutputModules` in unscheduled execution, to keep better track of this problem and its possible solutions (the original exchange was had in the Core-Sw Mattermost channel on Nov, 8-9).

The use case is HLT's goal to fully support workflows with `Tasks` and `SwitchP

[2021-11-16 10:18] cmsbuild commented on #36138
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-16 10:23] Martin-Grunewald commented on #36138
assign hlt

[2021-11-16 10:23] Martin-Grunewald commented on #36138
assign core

[2021-11-16 10:23] cmsbuild commented on #36138
New categories assigned: core,hlt

@missirol,@Dr15Jones,@smuzaffar,@makortel,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-16 12:44] smuzaffar commented on #35008
thanks @missirol for pointing this out. Yes looks like bot is not doing the right thing, I will check

[2021-11-16 14:49] hatakeyamak commented on #35923
The layer-wise clusters don't mix the depth, but multi-depth clustering steps mix the depths.

[2021-11-16 14:50] hatakeyamak commented on #35923
The layer-wise cluster don't mix the depths, but multi-depth clusters mix the depths.

[2021-11-16 15:05] agrohsje commented on #31061
+generators
open issues should be solved for GEN with this PR from Siew Yan:
https://github.com/cms-sw/cmssw/pull/36125#event-5619332633

[2021-11-16 15:41] makortel commented on #36138
We're planning to introduce a new Path type, `cms.FinalPath`. Only OutputModules would be allowed to be inserted in those, and those OutputModules would be run for an Event only after all other EDModules have been run for that Event, and those OutputModules would not trigger prefetching of the consumed data products (i.e. those OutputModules alone would not cause any other EDModule to run).

[2021-11-16 15:55] Martin-Grunewald commented on #36138
Hmm, I do not know whether this restriction (only OMs on FinalPaths) would work: within the HLT menu, we currently have OMs on EndPaths which also have Filters (eg, HLTPrescaler and/or TriggerResultsFilter) and Producers (eg, Scouting) on these EndPaths (in front of their OM).

[2021-11-16 15:56] smuzaffar commented on #35008
@missirol , this is due to the fact that `mrodozov` (who originally assigned the category) has left CMS  and bot does not recognize his comments any more :-) . I will see what can I do to avoid this.

[2021-11-16 16:00] missirol commented on #35008
Okay, thanks, @smuzaffar !

[2021-11-16 16:59] fwyzard commented on #35923
Based on the actual depth, or on the layer index ?

For example, looking at the picture I would naively say that "layer 4" for towers 18-25 (pink) should go together with "layer 5" for towers 26-28 (yellow), not "layer 4".

[2021-11-16 17:16] hyunyong commented on #36053
Hi @tvami,
I fixed that issue but am trying to make a PR with the new DB output service.

[2021-11-16 19:18] makortel commented on #36138
Thanks @Martin-Grunewald. Naively the current EDFilters in an EndPath could be moved to another regular Path, and configure the OutputModule to store only those Events passing that Path (via `SelectEvents`). But could you remind us, again, on the use cases for (specific) EDFilters in EndPaths?

[2021-11-16 19:29] fwyzard commented on #36138
Hi Matti,

the most common use case is to apply prescales and "smart prescales" (i.e.
per-trigger-path prescales and other logical expressions) in addition to
the event selection applied by the OutputModule itself.
For example, the Express and DQM streams apply both an event selection in
the OutputModule and a more dynamic preselaction via an EDFilter in the
EndPath.

An other use case (that may b

[2021-11-16 22:49] cvuosalo commented on #36029
+1

[2021-11-16 22:49] cmsbuild commented on #36029
This issue is fully signed and ready to be closed.

[2021-11-17 00:40] #36029 closed

[2021-11-17 07:44] civanch opened #36150 "Material budget unit test for Tracker"
During testing of #36097 material budget unit test for tracker fails systematically, it also fails locally with and without this PR.

[2021-11-17 07:45] civanch commented on #36150
assign geometry

[2021-11-17 07:45] cmsbuild commented on #36150
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-17 07:45] cmsbuild commented on #36150
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-17 07:45] civanch commented on #36150
assign simulation

[2021-11-17 07:45] cmsbuild commented on #36150
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-17 13:58] makortel commented on #36150
@civanch If you've run the unit test locally without https://github.com/cms-sw/cmssw/pull/36097, could you post the failures (or full log) of the failing test? (since the job output is not visible in PR tests)

[2021-11-17 19:03] makortel opened #36158 "Assertion failure in RootFile with gcc 11"
Workflow 11834.0 step 2 failed in CMSSW_12_2_X_2021-11-15-1100 slc7_amd64_gcc11 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_2_X_2021-11-15-1100/pyRelValMatrixLogs/run/11834.0_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano/step2_TTbar_14TeV+2021PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano.log#/

[2021-11-17 19:03] makortel commented on #36158
assign core

[2021-11-17 19:03] cmsbuild commented on #36158
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-17 19:03] cmsbuild commented on #36158
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-18 02:26] makortel commented on #36138
Thanks Andrea.

In principle a sequence of EDFilters is equivalent to logical AND between the EDFilter return values. We could enhance the `SelectEvents` ability of OutputModule to evaluate an AND of given Paths, such that this AND would be evaluated before the OR of current `SelectEvents` (although strictly speaking the same effect can be achieved already now with specific structure of Paths and

[2021-11-18 06:49] Martin-Grunewald commented on #36138
Well, the HLTPrescaler and TriggerResultsFilter can not be simulated by an AND of the paths, as individual path-dependent or global prescales are applied. Do you suggest that for each stream/OM, we first define a path which does that prescaling, and then the endpath with the OM then refers only to that path? That seems cumbersome and error prone.

[2021-11-18 09:49] francescobrivio commented on #36014
The discussion has been moved to https://github.com/cms-sw/cmssw/pull/36133 where by reconfiguring (properly) the workflow this is not an issue anymore.

[2021-11-18 09:49] #36014 closed

[2021-11-18 10:05] fwyzard commented on #36138
I think the idea of reorganising the streams and datasets we discussed with the Heavy Ions group already goes in that direction.

Here is an example of how we could organise a simple HLT menu following that approach.
The outcome should be a menu with
  - **PhysicsCommissioning** stream
      - _Commissioning_part1_ dataset
      - _Commissioning_part2_ dataset
  - **PhysicsEGamma** stream
      -

[2021-11-18 10:05] fwyzard commented on #36138
@silviodonato FYI

[2021-11-18 10:36] silviodonato commented on #36138
I think that the FinalPath + Andrea's implementation should be ok from the trigger point of view.
About prescales:
- nothing would change in prescale of Path
- we would be able to apply prescales and smart prescales to Dataset instead of Stream. And this is a good news as it will increase our flexibility

[2021-11-18 17:24] fwyzard commented on #36138
In case we need to add prescales to split _streams_ instead of datasets (which would probably break the current Tier-0 processing, but hey, we can try...) we can always add an other level of `Paths` for the streams like we will do for the datasets.

[2021-11-18 19:04] makortel commented on #36138
@fwyzard A question mostly out of curiosity, in
[code]
do you see benefits in having a separate `FinalPath` for each OutputModule instead of putting all of them into a one `FinalPath` along
[code]
?

[2021-11-18 21:24] cvuosalo commented on #32072
+1

[2021-11-18 21:25] cmsbuild commented on #32072
This issue is fully signed and ready to be closed.

[2021-11-18 21:51] fwyzard commented on #36138
One of the reasons for multiple EndPaths was to have a different EDFilter
on each one, to enable or disable the corresponding DAQ stream.

With the new approach, this could be done at the dataset level, or at the
stream level adding an extra layer of paths.

So, if the FinalPaths cannot have EDFilters, there is probably is no need
for having multiple of them - other than the convenience of adding/

[2021-11-19 00:07] #32072 closed

[2021-11-19 02:26] makortel opened #36175 "testCalibrationTkAlCaRecoProducers fails occasionally"
The unit test `testCalibrationTkAlCaRecoProducers` in `Calibration/TkAlCaRecoProducers` appears to fail occasionally along
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_2_X_2021-11-18-2300/unitTestLogs/Calibration/TkAlCaRecoProducers#/

The log above is from CMSSW_12_2_X_2021-11-18-2300 slc7_amd64_gcc10.

I saw the same failure in
* CMSSW_12_2_X_2021-11-15-1100 slc7

[2021-11-19 02:27] cmsbuild commented on #36175
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-19 02:27] makortel commented on #36175
assign alca

[2021-11-19 02:27] cmsbuild commented on #36175
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-19 02:29] tvami commented on #36175
assign db

[2021-11-19 02:30] cmsbuild commented on #36175
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-19 02:33] tvami commented on #36175
Reading here
https://stackoverflow.com/questions/3172929/operationalerror-database-is-locked
it seems to be due to concurency.
I thought the PCL harvester is single threaded tho

[2021-11-19 06:01] Martin-Grunewald commented on #36138
Well, while this is all technically possible, I am still of the opinion that this makes the config way more complicated and error prone as now several paths are involved, as so far this has all to be configured and managed manually.

[2021-11-19 06:53] Sam-Harper commented on #36138
@Martin-Grunewald

I think this involves having some logic and checks in confdb to handle this.  So far I dont see a major show stopper.  And we want to revisit the datasets to something like this anyway

The only alterative solution I can see which preserves the HLT exactly as is  is  to let modules have a way of registering themselves outside unscheduled execution and run that group of modules l

[2021-11-19 09:50] fwyzard commented on #36138
I don't think so: the latest GRun menu has 58 paths that are duplicated of each other in order to be split across datasets; with the new approach they will no longer be needed.

As far as I know @Sam-Harper is working to make this possible in ConfDB.

[2021-11-19 10:10] Martin-Grunewald commented on #36138
Yes indeed, it simplifies that monstrosity, though makes other areas more complicated. Hmm, "working to make this possible in ConfDB" has an undefined timescale, so until it is realised we are stuck with some /different/ complication.

[2021-11-19 10:26] Sam-Harper commented on #36138
it is an undefined timescale of course. But it can be bumped up priority if there is a pressing need. And this feels like a pressing need.

[2021-11-19 15:45] francescobrivio commented on #36175
I cannot reproduce the crash with:
[code]
but looking at old issues I found: https://github.com/cms-sw/cmssw/issues/26741
maybe @smuzaffar or @ggovi can help us out?

[2021-11-20 02:51] qliphy opened #36188 "IB issues: TPTask::Collection HcalTrigPrimDigiCollection isn't available: valHcalTriggerPrimitiveDigis"
Appearing in many workflows 136.XXX

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_X_2021-11-19-2300/pyRelValMatrixLogs/run/136.761_RunJetHT2016E+RunJetHT2016E+HLTDR2_2016+RECODR2_2016reHLT_skimJetHT_HIPM+HARVESTDR2_skimJetHT/step3_RunJetHT2016E+RunJetHT2016E+HLTDR2_2016+RECODR2_2016reHLT_skimJetHT_HIPM+HARVESTDR2_skimJetHT.log#/120-120

An exception of category 'HCALDQ

[2021-11-20 02:51] cmsbuild commented on #36188
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-20 02:51] qliphy commented on #36188
Related to https://github.com/cms-sw/cmssw/pull/35678

@kskovpen

[2021-11-20 02:52] qliphy commented on #36188
assign dqm

[2021-11-20 02:52] cmsbuild commented on #36188
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-20 07:36] perrotta commented on #36188
Quite likely related: a few of those 136.XXX workflows (e.g. 136.829, 136.886, 136.8861, 136.8862) now fail in step4 with a segmentation violation. Before that, the step4 logs are flooded with messages like
[code]
This is also specific of the latest CMSSW_12_2 2021-11-19-2300 IB

[2021-11-20 13:14] dan131riley commented on #36158
FWIW I ran `edmFileUtil -b` on all the PU inputs to the mixing module, and they all have a proper BranchListIndexes branch, so this likely an (obscure) logic error, or memory corruption.

[2021-11-20 13:24] dan131riley opened #36190 "segfaults in RPCDcsInfoClient::dqmEndJob()"
Several IBs have segfaults in `RPCDcsInfoClient::dqmEndJob()`, for example

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/cc8_amd64_gcc9/CMSSW_12_2_X_2021-11-19-2300/pyRelValMatrixLogs/run/136.829_RunDoubleEG2017F+RunDoubleEG2017F+HLTDR2_2017+RECODR2_2017reHLT_skimDoubleEG_Prompt+HARVEST2017/step4_RunDoubleEG2017F+RunDoubleEG2017F+HLTDR2_2017+RECODR2_2017reHLT_skimDoubleEG_Prompt+HARVEST2017.lo

[2021-11-20 13:25] cmsbuild commented on #36190
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-20 13:42] Dr15Jones commented on #36190
assign dqm

[2021-11-20 13:42] cmsbuild commented on #36190
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-20 13:47] perrotta commented on #36190
See also https://github.com/cms-sw/cmssw/issues/36188#issuecomment-974610181

[2021-11-20 18:18] jfernan2 commented on #36190
related to https://github.com/cms-sw/cmssw/pull/35678
@kskovpen

[2021-11-20 20:57] tvami commented on #31061
+alca
 * I think https://github.com/cms-sw/cmssw/pull/36193 was the last thing to go

[2021-11-22 09:04] perrotta commented on #36188
By looking at its log outputs I can notice that #36194 fixes both the exceptions/segm_violations and the flooding of messages from the DTMonitorModule that were reported [above](https://github.com/cms-sw/cmssw/issues/36188#issuecomment-974610181)

[2021-11-22 09:11] jfernan2 commented on #36188
+1

[2021-11-22 09:12] jfernan2 commented on #36190
+1

[2021-11-22 09:12] cmsbuild commented on #36190
This issue is fully signed and ready to be closed.

[2021-11-22 13:06] qliphy opened #36205 "Build CMSSW_11_0_4"
For Snowmass Campaigns:
https://cms-pdmv.cern.ch/mcm/campaigns?cmssw_release=CMSSW_11_0*&page=0&shown=63

[2021-11-22 13:06] cmsbuild commented on #36205
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-11-22 13:06] qliphy commented on #36205
+1

[2021-11-22 13:06] cmsbuild commented on #36205
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_0_X

[2021-11-22 13:07] cmsbuild commented on #36205
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-11-22 14:34] cmsbuild commented on #36205
The build has started for slc7_amd64_gcc820 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3288/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-11-22 15:44] makortel commented on #36138
Thanks @silviodonato. The last open prerelease, 12_2_0_pre3, next week is unfortunately not realistic. A backport before the final 12_2_0 release might be possible (I can comment more on the feasibility next week).

[2021-11-22 16:11] makortel commented on #36175
Another occurrence in CMSSW_12_2_X_2021-11-22-1100 slc7_amd64_gcc900

[2021-11-22 16:25] makortel commented on #36175
In #26741 the problem was that multiple tests were writing to the same SQLite file. Could the same be happening here?

[2021-11-22 16:38] smuzaffar commented on #36175
it might be due to `promptCalibConditions.db` https://github.com/cms-sw/cmssw/search?q=promptCalibConditions

[2021-11-22 17:07] perrotta opened #36207 "Error with SiPixelPhase1MonitorTrackSoA since CMSSW_12_2 2021-11-22-1100"
The log error from RelVal wfs 136.8855 and 136.8885 says:
[code]

In that IB the following PR was merged:
#35965: TkDQM: Introduce monitoring package for pixel SoA products
which implements SiPixelPhase1MonitorTrackSoA from scratch.

Therefore the error is originated by that PR. A fix is now needed.

@sroychow @mmusich @VinInn

[2021-11-22 17:08] perrotta commented on #36207
assign dqm

[2021-11-22 17:08] cmsbuild commented on #36207
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-22 17:08] cmsbuild commented on #36207
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-22 17:27] mmusich commented on #36175
aren't those files written in different folders?

how does one change that?

[2021-11-22 17:28] silviodonato commented on #36138
Yes, it is sufficient. As you said, the plan is to move the `EDFilters` that are currently in the `EndPath` to the new "dataset" `Paths`.
Each `FinalPath` should contain an `PoolOutputModule` and the `SelectEvents` should contain the OR of the new "dataset" `Paths`. (See the example in https://github.com/cms-sw/cmssw/issues/36138#issuecomment-972717360)

[2021-11-22 17:38] smuzaffar commented on #36175
depends on each tests, scram starts all the tests from the top level cmssw dev directory. Some tests create sub-directories but most unit tests just create file in cmssw top level dir.

[2021-11-22 17:41] mmusich commented on #36175
I think the ones you were pointing to actually write within the folders of each relval wf.

[2021-11-22 17:42] smuzaffar commented on #36175
@mmusich , to change the FW job report name use `-j OutFilename.xml`

[2021-11-22 17:46] smuzaffar commented on #36175
@mmusich , I think any unit test loading `AlCaHarvesting_cff` (e.g https://github.com/cms-sw/cmssw/search?q=AlCaHarvesting_cff ) might create `promptCalibConditions.db` in the cmssw top-level directory

[2021-11-22 17:48] mmusich commented on #36175
the point being, I am not sure there is any. But fine let's try to change it together with the output framework job report.

[2021-11-22 18:29] cmsbuild commented on #36205
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_4-slc7_amd64_gcc820/3288
Some tests (

[2021-11-22 18:32] perrotta commented on #36205
upload all

[2021-11-22 18:33] cmsbuild commented on #36205
Queing Jenkins upload for slc7_amd64_gcc820

[2021-11-22 18:35] cmsbuild commented on #36205
The upload has started for slc7_amd64_gcc820 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2153/console

[2021-11-22 18:38] cmsbuild commented on #36205
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_4-slc7_amd64_gcc820/2153

[2021-11-22 18:40] perrotta commented on #36205
release-notes

[2021-11-22 18:41] cmsbuild commented on #36205
Generating release notes since CMSSW_11_0_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-11-22 18:41] cmsbuild commented on #36205
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_0_4 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_0_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_4

For Snowmass Campaigns:
https://cms-pdmv.cern.ch/mcm/campaigns?cmssw_release=CMSS

[2021-11-22 18:47] cmsbuild commented on #36205
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_4

[2021-11-22 19:06] cmsbuild commented on #36205
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_4-slc7_amd64_gcc820/3288

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-11-22 20:45] mmusich commented on #36175
see https://github.com/cms-sw/cmssw/pull/36210

[2021-11-22 21:58] mmusich commented on #36207
https://github.com/cms-sw/cmssw/pull/36212/ cures the symptoms.

[2021-11-23 00:39] #36188 closed

[2021-11-23 00:40] #36175 closed

[2021-11-23 00:41] #36190 closed

[2021-11-23 08:28] jfernan2 commented on #36207
+1

[2021-11-23 08:29] cmsbuild commented on #36207
This issue is fully signed and ready to be closed.

[2021-11-23 08:51] #36207 closed

[2021-11-23 11:31] perrotta commented on #35979
@qliphy I think we can close this (please reopen if I'm wrong)

[2021-11-23 11:31] #35979 closed

[2021-11-23 14:05] iarspider opened #36217 "[CXXMODULE_X] The TClass for vector<...> is being unloaded when in state 3"
Several add-on tests in CXXMODULE_X IB fail with similar error: `The TClass for vector<...> is being unloaded when in state 3 `, [e.g.](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_CXXMODULE_X_2021-11-22-2300/addOnTests/logs/cmsDriver-hlt_mc_GRun_cmsRun__cvmfs_cms-ib.cern.ch_nweek-02708_slc7_amd64_gcc900_cms_cmssw_CMSSW_12_2_CXXMODULE_X_2021-11-22-2300_src_HLTrigger_Co

[2021-11-23 14:05] cmsbuild commented on #36217
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-23 14:09] makortel commented on #36217
assign core

[2021-11-23 14:09] makortel commented on #36217
FYI @vgvassilev @davidlange6

[2021-11-23 14:10] cmsbuild commented on #36217
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-23 14:35] iarspider opened #36219 "[ASAN] bad-free in ThePEG::DecayMode::~DecayMode()?"
[Error log](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_2_ASAN_X_2021-11-19-2300/pyRelValMatrixLogs/run/537.0_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+HARVESTGEN/step1_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+HARVESTGEN.log#/1873), probably al

[2021-11-23 14:35] cmsbuild commented on #36219
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-23 14:41] vgvassilev commented on #36217
That type of error usually happens when ROOT cannot find a dictionary for the given type. We know that in some cases we cannot detect the correct library for the particular dictionary. This is because the CXXMODULE IB uses another approach to discover dictionaries. We need to tune it a little more towards setups which make a dictionary for N different types one or more defined in a different libra

[2021-11-23 14:42] makortel commented on #36219
assign generators

[2021-11-23 14:42] cmsbuild commented on #36219
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-23 14:42] makortel commented on #36219
Something we should report to ThePEG authors (or contribute a fix).

[2021-11-23 15:34] tvami commented on #36175
+1
 * just for the records

[2021-11-23 15:34] cmsbuild commented on #36175
This issue is fully signed and ready to be closed.

[2021-11-23 15:50] jpata commented on #35798
According to Javi at T0 in hypernews: https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2314/3/1/1/1/1/1/1/1/1/1/1/1.html this is an issue for T0 replays.

In the log file `/afs/cern.ch/user/c/cmst0/public/PausedJobs/DQMseq/job_9738/tarball/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log`, there's a lot of this
[code]

Looks like it's coming from https://github.com/cms-sw/cmssw/blob/2a2ca2ee216a44c

[2021-11-24 07:56] agrohsje commented on #36219
Hi @theofil @Dominic-Stafford , is one of you available to check?

[2021-11-24 13:55] Dominic-Stafford commented on #36219
HI, I just tried to check this by doing `runTheMatrix.py -el 537` in CMSSW_12_2_ASAN_X_2021-11-19-2300, but wasn't able to reproduce it. What command did you run to get this error, please?

[2021-11-24 14:05] makortel commented on #35109
Here is another instance https://github.com/cms-sw/cmssw/pull/36222#issuecomment-977776359.

Could we re-open the issue (and keep it open for longer time)?

[2021-11-24 15:25] civanch commented on #36150
+1

the problem was fixed in #36229. It was connected with order of destruction of smart pointers and not with the unit test itself.

[2021-11-24 15:25] cmsbuild commented on #36150
This issue is fully signed and ready to be closed.

[2021-11-24 15:36] civanch commented on #35109
@makortel , I cannot, may be you can reopen?

[2021-11-24 15:41] makortel commented on #35109
I don't have the power. I'm not sure @qliphy / @perrotta have, or if we need @smuzaffar.

[2021-11-24 17:22] #36053 closed

[2021-11-24 17:28] tvami commented on #36053
+alca

[2021-11-24 17:29] cmsbuild commented on #36053
This issue is fully signed and ready to be closed.

[2021-11-24 17:53] cmsbuild commented on #36205
The cleanup has started for slc7_amd64_gcc820

[2021-11-24 17:53] #36205 closed

[2021-11-24 17:53] cmsbuild commented on #36205
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_4-slc7_amd64_gcc820/1870

[2021-11-24 23:41] mmasciov commented on #35798
@jpata , the amount of warnings is expected to drop significantly after PR #36075 (backport PR).
We have checked explicitly using the same configuration, and the number of warnings after such backport got reduced by ~15x. The source was understood and 'cured' by that PR.

[2021-11-25 09:10] ahinzmann commented on #35986
so first studies are done, but need to iterate order of 2 weeks, before taking a decision

[2021-11-25 17:03] swagata87 commented on #35969
just to keep track,
this was another improvement along this direction (thanks to Slava)
https://github.com/cms-sw/cmssw/pull/36108

[2021-11-25 20:07] mmusich commented on #35798
I just wanted to check if there is a plan for further reduction.
By checking [step3 of wf 136.874](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_amd64_gcc9/CMSSW_12_2_X_2021-11-24-2300/pyRelValMatrixLogs/run/136.874_RunEGamma2018C+RunEGamma2018C+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Offline_L1TEgDQM+HARVEST2018_L1TEgDQM/step3_RunEGamma2018C+RunEGamma2018C+HLTDR2_2018+RECODR2_2018reHLT_skimEG

[2021-11-25 20:27] mmasciov commented on #35798
@mmusich, yes. PR #36246 halves the remaining warnings already.
We will try to reduce them further with minor future technical updates.

[2021-11-26 11:02] jfernan2 commented on #36063
@iarspider removing the ulimit makes the test working, would this be acceptable for ASAN and non-ASAN releases? Thanks

[2021-11-26 11:10] iarspider commented on #36063
The entire test suite was originally added in 27dd907088652012ffdcec14599446561c334331 by @schneiml , maybe he can comment?

[2021-11-26 11:17] jfernan2 commented on #36063
I am afraid @schneiml is not working on CMS since more than a year
My question is more related to the way ASAN works, which I completely ignore. Has something changed in the ASAN side to produced this error in a script which was working previously?
Thanks

[2021-11-26 14:29] perrotta opened #36256 "Fatal exception from SimWatcher since CMSSW_12_2_X_2021-11-25-1100"
Since CMSSW_12_2_X_2021-11-25-1100 workflows 101 and 102 started showing the following Fatal Exception errors:
[code]

In that IB was merged
#36229 (SimWatcher thread safe interface)
which is obviously the natural suspect for it

A fix is needed

@civanch

[2021-11-26 14:29] perrotta commented on #36256
assign simulation, core

[2021-11-26 14:29] cmsbuild commented on #36256
New categories assigned: core,simulation

@mdhildreth,@Dr15Jones,@smuzaffar,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-26 14:29] cmsbuild commented on #36256
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-26 15:14] makortel commented on #36256
So that was the reason why 101 and 102 were run with single thread. I suppose the quickest fix would be to change that back. @smuzaffar

[2021-11-26 15:23] smuzaffar commented on #36256
https://github.com/cms-sw/cms-bot/pull/1666 has reverted the bot change. 101 and 102 are now run with 1 thread

[2021-11-26 15:28] perrotta commented on #36256
Great! Thank you @makortel and @smuzaffar
Let wait for the nex IBs and then we can close this issue

[2021-11-26 17:47] slava77 opened #36261 "add tracking in StaticAnalyzer of `if (cfg.exists` or `existsAs<Type` for psets"
one of the pset coding requirements is to not use `if (cfg.exists`  or `existsAs<Type`.

Here I'm proposing to encode this rule in the StaticAnalyzer so that the issues in the existing code can be found easily.

following https://mattermost.web.cern.ch/cms-o-and-c/pl/q9jr346jrj8xida17iaoywbqbc

[2021-11-26 17:47] cmsbuild commented on #36261
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-26 19:33] slava77 commented on #36261
@jpata
we talked about this earlier; this is now formalized as an issue

[2021-11-26 20:39] civanch commented on #36256
@makortel , @perrotta , @smuzaffar , please, give me time until Monday, do not revert - I know that the problem is simple and will try to fix, already started. I think there is no urgency with 101 and 102 but if we revert other work with watchers will be stopped.

[2021-11-26 21:21] perrotta commented on #36256
@civanch the solution implemented by Shahzad was not to revert this PR, but to run single thread the workflows 101 and 102.
Of course, if you have a solution that allows those two workflows running multithread, it is welcome, and feel free to implement it in another PR

[2021-11-27 02:07] makortel commented on #36261
assign core

[2021-11-27 02:08] cmsbuild commented on #36261
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-27 18:26] jfernan2 commented on #36063
@iarspider I have created this PR to fix this crash and other UnitTest crashes in ASAN: https://github.com/cms-sw/cmssw/pull/36269

[2021-11-27 18:27] iarspider commented on #36063
@jfernan2 thanks!

[2021-11-28 18:03] civanch commented on #33373
+1

[2021-11-29 13:59] mariadalfonso commented on #32731
@andrzejnovak

NanoAOD will automatically create and fill only the branches corresponding to triggers that are found in the input file.
When it finds a new trigger looping through the events, either in production or when hadding files with haddnano, it will create the new branch and back-fill it with zeros for the events found until that point, where that trigger was not present.
Merging different

[2021-11-29 13:59] mariadalfonso commented on #32731
+xpog

[2021-11-29 13:59] cmsbuild commented on #32731
This issue is fully signed and ready to be closed.

[2021-11-29 14:46] #32731 closed

[2021-11-29 14:48] #35966 closed

[2021-11-29 16:23] jpata opened #36282 "Profiling a T0 prompt reco workflow"
In the context of the recent issues with OOM in reco workflows at T0, we are looking into setting up a regular profiling for an 8-threaded prompt reco like workflow.

So far we have come up with the following

[code]

which gives something like the following for the RSS of the full job of `136.889_RunMET2018D+RunMET2018D+HLTDR2_2018+RECODR2_2018reHLT_skimMET_Prompt+HARVEST2018_Prompt/step3_RAW2DIG

[2021-11-29 16:23] jpata commented on #36282
assign reconstruction

[2021-11-29 16:24] cmsbuild commented on #36282
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-29 16:24] cmsbuild commented on #36282
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-29 16:37] slava77 commented on #36282
May I suggest that ALCA and DQM check the MET PD configuration in the promptReco and clarify if the 136.889_RunMET2018D workflow actually runs **at least as many** ALCA/Skim/DQM elements as the prompt reco. I think that having more in the matrix workflow is OK, but having less is not good especially if the missing ALCA/Skim/DQM elements are not exercised anywhere else in the matrix workflows.

[2021-11-29 16:56] jfernan2 commented on #36282
wf136.889 in 12_1_0 is running at step3 DQM:@standardDQMFakeHLT+@miniAODDQM
where @standardDQMFakeHLT  is  @ecal+@hcal+@hcal2+@strip+@pixel+@castor+@ctpps+@muon+@tracking+@jetmet+@egamma+@L1TMon+@btag+@beam+@physics'

while  MET Prompt PD runs in the replay triggered at https://github.com/dmwm/T0/pull/4619
@common+@jetmet+@L1TMon+@hcal"
where @common is @stripCommon+@pixel+@tracking+@hlt+@beam+@ca

[2021-11-29 16:57] tvami commented on #35586
Yes, I think so!

[2021-11-29 16:58] jfernan2 commented on #35586
So, I guess I should close too the PR I made for fixing this issue which was put on hold:
https://github.com/cms-sw/cmssw/pull/35850

[2021-11-29 17:12] tvami commented on #36282
136.889 is running `ALCA:SiStripCalZeroBias+SiStripCalMinBias+SiStripCalSmallBiasScan+TkAlMinBias+EcalESAlign` and there is no AlCa harvesting step in it.
Should we have a wf that does more of the PCL work?

[2021-11-29 17:16] mmusich commented on #36282
The PCL runs on the express and not on the MET prompt reco.

[2021-11-29 18:10] mmasciov commented on #35798
@perrotta
From [step 3 of 136.874](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-b97bc9/20794/runTheMatrix-results/136.874_RunEGamma2018C+RunEGamma2018C+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Offline_L1TEgDQM+HARVEST2018_L1TEgDQM/step3_RunEGamma2018C+RunEGamma2018C+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Offline_L1TEgDQM+HARVEST2018_L1TEgDQM.log), which was originally

[2021-11-29 18:34] slava77 commented on #36282
it sounds like a good case to update the workflow 136.889 already.

I also see `physics_skims=["EXOMONOPOLE", "HighMET", "LogError", "LogErrorMonitor"]` in T0 config, compared to `SKIM:HighMET+EXOMONOPOLE`. So, `LogError` and `LogErrorMonitor` could be added as well.

[2021-11-30 15:23] jfernan2 commented on #36063
+1
Fixed in https://github.com/cms-sw/cmssw/pull/36269

[2021-11-30 15:40] tvami commented on #35586
Let me double document that I created new GTs
* for HI: 121X_mcRun3_2021_realistic_HI_forExpressRateStudies
diff: https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/121X_mcRun3_2021_realistic_HI_v15/121X_mcRun3_2021_realistic_HI_forExpressRateStudies
(also has relevance zero material changes, can be ignored)
* for cosmics: 121X_mcRun3_2021cosmics_realistic_deco_forExpressRateStudies
diff: https

[2021-11-30 15:43] makortel opened #36302 "Placement of phase1PixelTopology.h"
From discussion in https://github.com/cms-sw/cmssw/pull/36215#discussion_r758694554. Currently `phase1PixelTopology.h` is located in `Geometry/TrackerGeometryBuilder` and used (e.g.) in `CUDADataFormats`. The header file itself depends only on standard headers (#36215 brings in a weak dependence on CUDA-capable compiler that is handled with `#ifdef`).

Classes intended to be persisted that use `ph

[2021-11-30 15:44] makortel commented on #36302
assign geometry,heterogeneous,reconstruction

[2021-11-30 15:44] cmsbuild commented on #36302
New categories assigned: geometry,heterogeneous,reconstruction

@cvuosalo,@slava77,@jpata,@mdhildreth,@ianna,@fwyzard,@Dr15Jones,@makortel,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-30 15:44] cmsbuild commented on #36302
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-30 15:44] makortel commented on #36302
FYI @cms-sw/trk-dpg-l2 @cms-sw/tracking-pog-l2

[2021-11-30 15:50] mmusich commented on #36302
would `Geometry/CommonTopologies` be acceptable?

[2021-11-30 17:54] mmusich commented on #36302
(incidentally I would let the dust settle over https://github.com/cms-sw/cmssw/pull/36235 before doing anything)

[2021-12-01 01:03] qliphy opened #36310 "Build CMSSW_12_0_4"

[2021-12-01 01:04] cmsbuild commented on #36310
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-12-01 01:04] qliphy commented on #36310
+1

[2021-12-01 01:05] cmsbuild commented on #36310
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_0_X

[2021-12-01 01:05] cmsbuild commented on #36310
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2021-12-01 01:08] cmsbuild commented on #36310
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3289/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-01 01:08] cmsbuild commented on #36310
The build has started for cc8_amd64_gcc9 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3290/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-01 01:13] cmsbuild commented on #36310
The build has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3291/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-01 01:15] cmsbuild commented on #36310
The build has started for slc7_amd64_gcc900 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3292/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-01 02:09] jenimal commented on #35247
Can we get an update on this?  The workflow that has been waiting on the fix has been sitting in assistance manual for 118 days.

Jen

[2021-12-01 02:26] makortel commented on #35247
@haozturk  @jenimal Do you know why this workflow produces files without events?

[2021-12-01 02:55] cmsbuild commented on #36310
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3293/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-01 04:27] cmsbuild commented on #36310
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-slc7_ppc64le_gcc9/3289
Some tests (

[2021-12-01 04:37] cmsbuild commented on #36310
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-slc7_amd64_gcc10/3291
Some tests ( ru

[2021-12-01 04:47] cmsbuild commented on #36310
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-cc8_amd64_gcc9/3290
Some tests ( runThe

[2021-12-01 05:22] cmsbuild commented on #36310
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-slc7_amd64_gcc10/3291

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-12-01 05:31] cmsbuild commented on #36310
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-cc8_amd64_gcc9/3290

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-12-01 05:46] cmsbuild commented on #36310
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-slc7_amd64_gcc900/3292
Some tests (

[2021-12-01 06:00] cmsbuild commented on #36310
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-slc7_aarch64_gcc9/3293
Some tests (

[2021-12-01 06:02] cmsbuild commented on #36310
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-slc7_ppc64le_gcc9/3289

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-12-01 06:31] cmsbuild commented on #36310
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-slc7_amd64_gcc900/3292

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-12-01 06:48] perrotta commented on #36310
upload all

[2021-12-01 06:48] cmsbuild commented on #36310
Queing Jenkins upload for slc7_amd64_gcc900

[2021-12-01 06:48] cmsbuild commented on #36310
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-12-01 06:48] cmsbuild commented on #36310
Queing Jenkins upload for cc8_amd64_gcc9

[2021-12-01 06:48] cmsbuild commented on #36310
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-12-01 06:48] cmsbuild commented on #36310
Queing Jenkins upload for slc7_amd64_gcc10

[2021-12-01 06:49] cmsbuild commented on #36310
The upload has started for cc8_amd64_gcc9 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2154/console

[2021-12-01 06:49] cmsbuild commented on #36310
The upload has started for slc7_amd64_gcc900 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2157/console

[2021-12-01 06:49] cmsbuild commented on #36310
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2156/console

[2021-12-01 06:49] cmsbuild commented on #36310
The upload has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2155/console

[2021-12-01 06:49] cmsbuild commented on #36310
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_4-slc7_aarch64_gcc9/2156

[2021-12-01 06:50] cmsbuild commented on #36310
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_4-cc8_amd64_gcc9/2154

[2021-12-01 06:50] cmsbuild commented on #36310
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2158/console

[2021-12-01 06:51] cmsbuild commented on #36310
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_4-slc7_amd64_gcc900/2157

[2021-12-01 06:52] cmsbuild commented on #36310
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_4-slc7_ppc64le_gcc9/2158

[2021-12-01 06:54] cmsbuild commented on #36310
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_4-slc7_amd64_gcc10/2155

[2021-12-01 07:01] fwyzard opened #36311 "Abstract the use of constexpr aggregate host/device constants"
The use of host-side `consexpr` constants in device code [is limited to](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#constexpr-variables)
  - scalars (other than `long double`)
  - scalar elements of aggregates used inside `constexpr` functions

In particular, it's not possible to use `constexpr` scalars by pointer or reference (_e.g._ `std::min()` takes arguments by reference

[2021-12-01 07:01] cmsbuild commented on #36311
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-01 07:01] fwyzard commented on #36311
assign heterogeneous

[2021-12-01 07:02] cmsbuild commented on #36311
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-01 07:17] cmsbuild commented on #36310
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_4-slc7_aarch64_gcc9/3293

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-12-01 07:45] qliphy commented on #36310
release-notes

[2021-12-01 07:46] cmsbuild commented on #36310
Generating release notes since CMSSW_12_0_3_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-12-01 07:46] cmsbuild commented on #36310
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_0_4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_0_3_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_4

Cheers

[2021-12-01 07:47] cmsbuild commented on #36310
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_4

[2021-12-01 12:46] haozturk commented on #35247
I don't. @todor-ivanov do you understand why we produce unmerged files w/ 0 zero events:
[code]

[2021-12-01 14:03] makortel opened #36319 "testCondToolsSiStripBuildersReaders fails occasionally"
The unit test `testCondToolsSiStripBuildersReaders` in `CondTools/SiStrip` appears to fail occasionally along
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_2_X_2021-11-30-2300/unitTestLogs/CondTools/SiStrip#/

So far seen in e.g.
* CMSSW_12_2_X_2021-11-30-2300 slc7_amd64_gcc10
* CMSSW_12_2_X_2021-11-29-2300 slc7_aarch64_gcc9
* CMSSW_12_2_X_2021-11-28-2300 cs8_amd64_

[2021-12-01 14:04] cmsbuild commented on #36319
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-01 14:06] makortel commented on #36319
assign DB

[2021-12-01 14:06] makortel commented on #36319
assign db

[2021-12-01 14:06] cmsbuild commented on #36319
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-01 14:07] makortel commented on #36319
FYI @cms-sw/trk-dpg-l2

[2021-12-01 14:12] dpiparo commented on #36282
It will be very useful to have this workflow monitored, thanks for preparing it. Would a plot with time on the x axis and memory on the y axis, one 'entry' per event help us keeping an eye on throughput and memory at the same time?

[2021-12-01 14:31] mmusich commented on #36319
As far as I can tell the name of the output sqlite file of the failing test is unique in `cmssw`

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/CondTools/SiStrip/test/SiStripChannelGainFromDBMiscalibrator_cfg.py#L160

(see https://github.com/cms-sw/cmssw/search?q=modifiedGains_)

[2021-12-01 14:34] jpata commented on #36282
What we have as a starting point now is the multithreaded report from TimeMemoryInfo, which contains the memory after each event (with a timestamp), and the time spent processing each event.

[code]

In addition to the memory as a function of time shown above, are we mainly interested in throughput as a function of time, or as an average value for the whole workflow?

Our first proposal, once the

[2021-12-01 14:39] makortel commented on #36319
Thanks for checking, this is something different then.

[2021-12-01 15:39] mmusich commented on #36319
[code]
@smuzaffar is it possible we're getting an issue due to full disk?

[2021-12-01 16:01] johnalison opened #36322 "[12_2_X] Crash in FastjetJetProducer: "Did not specify appropriate inputs for VirtualJetProducer""
Hello I am seeing a crash when producing ak4PFJets in rel CMSSW_12_2_0_pre2.

I see:
"Did not specify appropriate inputs for VirtualJetProducer, Abort!"
Full print out below.

Seems to be coming from
process.ak4PFJets = cms.EDProducer("FastjetJetProducer",
created from
from PhysicsTools.PatAlgos.tools.jetTools import *
updateJetCollection(...)

Think it could be related to
https://github.com/cms-s

[2021-12-01 16:06] johnalison commented on #36322
Tagging @SWuchterl @soureek @rappoccio
@rappoccio , I forget who else commented in PPD about this issue.  Can you add them here too?

[2021-12-01 16:15] makortel commented on #36322
assign reconstruction

[2021-12-01 16:15] cmsbuild commented on #36322
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-01 16:17] makortel commented on #36322
@johnalison Could you provide a full recipe to reproduce the problem?

[2021-12-01 17:05] johnalison commented on #36322
[code]

[2021-12-01 17:55] slava77 commented on #36322
@laurenhay @cms-sw/jetmet-pog-l2
please take a note

[2021-12-01 17:57] smrenna commented on #36030
The pythia8 version in both releases is:
/cvmfs/cms.cern.ch/slc7_amd64_gcc900/external/pythia8/306

[2021-12-01 18:06] rappoccio commented on #36322
Thanks @johnalison. If this is related to the ESConsumes migration, I think the downstream client code will have to be updated. Can you point out the "btagana" module?

[2021-12-01 18:11] agrohsje commented on #36030
Hi @smrenna . In the talk linked above by @civanch the comparison is for CMSSW_12_0_0_pre4 which is P8.303. This is different from the releases that @makortel gives. Here both are P8.306.

[2021-12-01 18:23] johnalison commented on #36322
OK thanks,
btagana is
https://github.com/cms-btv-pog/RecoBTag-PerformanceMeasurements/blob/12_2_X/plugins/BTagAnalyzer.cc

Are there instructions/an example for how to do the migration ?

[2021-12-01 18:39] rappoccio commented on #36322
I don't think there are instructions, unless @Dr15Jones has some in his back pocket somewhere? :)

[2021-12-01 18:42] Dr15Jones commented on #36322
There is

https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideHowToGetDataFromES#Registering_for_data_access

[2021-12-01 18:46] rappoccio commented on #36322
Thanks Chris @Dr15Jones !

[2021-12-01 19:12] makortel commented on #36322
If I read the code correctly, the exception is thrown in
https://github.com/cms-sw/cmssw/blob/8fa87a9d2b46fb72c05317fc814a4eb04676dfaf/RecoJets/JetProducers/plugins/VirtualJetProducer.cc#L387-L388
when all of the attempts to read input objects failed. I can not imagine how that could be caused by missing esConsumes (that should lead to very different kind of exception message). Written that, migra

[2021-12-02 02:46] johnalison commented on #36322
I agree that the issue is not related to the esConsumes

[2021-12-02 14:29] makortel opened #36336 "Segfaults in workflow 11834.21 step 2"
Workflow 11834.21 step 2 crashes in CMSSW_12_2_X_2021-12-01-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_X_2021-12-01-2300/pyRelValMatrixLogs/run/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step2_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU.log#/

[2021-12-02 14:29] makortel commented on #36336
assign simulation

[2021-12-02 14:30] makortel commented on #36336
FYI @cms-sw/ecal-dpg-l2

[2021-12-02 14:30] cmsbuild commented on #36336
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-02 14:33] makortel commented on #36336
The workflow does not crash in other IB architectures or flavors, so it looks like a "random crash".

[2021-12-02 18:04] cvuosalo commented on #35109
I ran DD4hep 11634.911 simulation 30 times in CMSSW_12_2_X_2021-12-01-1100 and got identical results each time.

Note that 11634.911, which is DD4hep XML, showed the instability reported in this issue, but 11634.0, which is DD4hep from DB, did not. That fact would seem to point to the Geometry Algortihm code, since the Algorithms are run for XML but not for DB, because the DB geometry contains the

[2021-12-02 18:51] kskovpen opened #36339 "ROOT 624 validation failure"
The ROOT 624 had a dedicated technical validation in 12_1_0_pre4. There was a BTV report declaring a failure connected to the unexpected changes in the performance of some of the b tagging algorithms. Opening this issue to continue the discussion here, also following the suggestion from @makortel.

Some examples of the observed differences:

https://cms-btv-pog-validation.web.cern.ch/cms-btv-pog-v

[2021-12-02 18:51] cmsbuild commented on #36339
A new Issue was created by  @kskovpen .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-02 19:56] davidlange6 commented on #36339
Hi

From past experience, seeing the two following plots would be useful

1 this same comparison plot for the previous root 6.24 validation round

2 this same comparison plot for the last few times that gensim has been updated in a validation cycle

On Dec 2, 2021 7:52 PM, cmsbuild ***@***.***> wrote:

A new Issue was created by @kskovpen<https://github.com/kskovpen> .

@Dr15Jones<https://github.c

[2021-12-02 20:10] makortel commented on #36339
assign core

[2021-12-02 20:10] cmsbuild commented on #36339
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-02 20:27] makortel commented on #35109
I fully agree with the issue being hard to track down (it certainly appears to be much more rare than 1/30), but I think recording the times it happens would still be useful to have some hope of eventually resolving this. (the cause could be similar to #34448, which is also still a mystery)

[2021-12-03 00:31] #36063 closed

[2021-12-03 06:53] cmsbuild commented on #36310
The cleanup has started for slc7_aarch64_gcc9

[2021-12-03 06:53] cmsbuild commented on #36310
The cleanup has started for slc7_amd64_gcc900

[2021-12-03 06:53] cmsbuild commented on #36310
The cleanup has started for slc7_ppc64le_gcc9

[2021-12-03 06:53] cmsbuild commented on #36310
The cleanup has started for slc7_amd64_gcc10

[2021-12-03 06:53] #36310 closed

[2021-12-03 06:53] cmsbuild commented on #36310
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_4-slc7_aarch64_gcc9/1872

[2021-12-03 06:53] cmsbuild commented on #36310
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_4-slc7_amd64_gcc10/1873

[2021-12-03 06:53] cmsbuild commented on #36310
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_4-cc8_amd64_gcc9/1871

[2021-12-03 06:53] cmsbuild commented on #36310
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_4-slc7_amd64_gcc900/1874

[2021-12-03 06:53] cmsbuild commented on #36310
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_4-slc7_ppc64le_gcc9/1875

[2021-12-03 08:46] iarspider opened #36344 "RelVals 10824.5xx, 10842.5xx failing: FileOpenError on step 5"
The following RelVals are failing since [CMSSW_12_2_X_2021-12-02-1100](https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_2/2021-12-02-1100?selectedArchs=slc7_amd64_gcc900&selectedFlavors=X&selectedStatus=failed):
10824.501, 10824.505, 10824.511, 10824.521, 10842.501, 10842.505

[Log of step 4](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_12_2_X_2021-12-02-1100

[2021-12-03 08:46] cmsbuild commented on #36344
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-03 08:51] qliphy commented on #36344
@iarspider   This should be fixed by https://github.com/cms-sw/cmssw/pull/36341
To be confirmed with next IB.

[2021-12-03 08:59] iarspider commented on #36344
@qliphy thanks!

[2021-12-03 11:40] mmusich opened #36347 "`trackingOnly` relval matrix workflows looks messed up"
Out of the 9 trackingOnly wfs available in the standard matrix:

[code]

[code]
   * 10024.1,  10024.3, 10824.1 run `RECO` and not `RECO:reconstruction_trackingOnly`
   * 11634.1 stops at RAW (??)

for what concerns the upgrade matrix:
[code]
  * 10024.1, 10024.3, 10034.1, 10034.3, 10424.1, 10424.1,10434.1 ,10434.3, 10824.1, 10834.1, 11224.1, 11234.1 run `RECO` and not `RECO:reconstruction_trackin

[2021-12-03 11:41] cmsbuild commented on #36347
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-03 11:41] mmusich commented on #36347
assign @cms-sw/pdmv-l2

[2021-12-03 11:42] cmsbuild commented on #36347
New categories assigned: pdmv

@bbilin,@wajidalikhan,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-03 12:04] kskovpen commented on #36339
There was only one validation done for ROOT 624, but here is a similar collection of results for the previous validation of ROOT 622, to get an idea of the expected changes:

https://cms-btv-pog-validation.web.cern.ch/cms-btv-pog-validation/validation/packages/RecoB/CMSSW_11_2_0_pre6/TTbar_1120pre6_ROOT622_2021_14TeV_vs_1120pre6_2021_14TeV_FullSim/deepCSV_CvsL_performance_vs_C_GLOBAL_all.png

http

[2021-12-03 13:43] slava77 commented on #36347
@mmusich
may I suggest to check if 12_2_0_pre2 worked OK.

@kpedro88 , it may be related to your recent PRs

[2021-12-03 13:51] mmusich commented on #36347
@slava77

thanks. Indeed the 2021-like workflows look OK in `CMSSW_12_2_0_pre2`:

[code]

The Run2 ones still use `RECO` and not `RECO:reconstruction_trackingOnly`

[2021-12-03 14:22] perrotta commented on #36347
Looking in the IBs, the issue appears between CMSSW_12_2_X_2021-11-29-1100 and CMSSW_12_2_X_2021-11-29-2300

The following PRs were merged in between:
#36279 from fwyzard: Fix assert in prefixScan_t.cu
#36102 from jshlee: GEMGeometryAnalyzer - added first and last strip global position
#36120 from tvami: Add epsilon in comparison of probabilities in SiPixelRecHitQuality
#36272 from bsunanda: Run3-

[2021-12-03 14:26] perrotta commented on #36347
... and by the way, it is not yet fixed in latest CMSSW_12_2_X_2021-12-03-1100

[2021-12-03 14:45] kskovpen commented on #36339
I let @cms-sw/btv-pog-l2 comment

[2021-12-03 15:01] perrotta commented on #36347
On the practical side: we were supposed to start building 12_2_0_pre3 by this evening. Should we wait to solve this issue before that? Or none of those workflows is needed to produce the validation samples in pre3 (in which case we can even wait to fix it in time for the final 12_2_o in January)?
@mmusich @cms-sw/pdmv-l2 please let us know.

[2021-12-03 15:07] mmusich commented on #36347
even though the workflows are not used for relval production, it's very inconvenent for development.
If the schedule doesn't allow for @cms-sw/pdmv-l2 to find and deploy a fix I think we can tolerate it to be broken for sometime, though it would be better to fix ASAP.

[2021-12-03 15:18] kpedro88 commented on #36347
This is indeed another casualty of the Nano step changes for Run3; I will submit a fix today.

[2021-12-03 16:07] mmusich commented on #36319
so #36334 (changing the most obvious things could go wrong) didn't help.
There's still an error in `CMSSW_12_2_X_2021-12-03-1100` [unit tests](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_X_2021-12-03-1100/unitTestLogs/CondTools/SiStrip#/6701-6708).
I am open for suggestions on what to check next.

[2021-12-03 16:20] mmusich commented on #36319
From the manual: https://www.sqlite.org/rescode.html#ioerr
[code]

[2021-12-03 16:41] davidlange6 commented on #36339
thanks to @kskovpen for correcting my confusion between gcc and root validations in the past months..

Having now looked through recent validation reports - failures in btag validations are reported routinely (at least back to September when I stopped looking). It brings up a question of how one decides that the plots quoted in this thread are "different" or "not different" given their very large

[2021-12-03 16:47] davidlange6 commented on #36339
likely helps for @makortel  question:
https://cms-btv-pog-validation.web.cern.ch/cms-btv-pog-validation/validation/index_RecoB_CMSSW_12_1_0_pre4_ROOT624_TTbar_1210pre4_ROOT624_2021_14TeV_vs_1210pre4_2021_14TeV_FullSim_lowLevelVariables.html

[2021-12-03 16:54] joseflix opened #36349 "Bad sizes in Popularity"
We have detected that sometimes in the monit_prod_cmssw_pop_* the files have associated a bad File Size. For example [1]:

<img width="1394" alt="Captura de pantalla 2021-12-03 a las 14 36 23" src="https://user-images.githubusercontent.com/8619265/144641316-f0a45a8d-17b6-42bc-8361-148155e5d260.png">

The actual file size according to DAS [2] is 4191351315 (4.2GB). Sometimes there are accesses that

[2021-12-03 16:54] cmsbuild commented on #36349
A new Issue was created by  @joseflix Josep Flix, PhD.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-03 16:55] makortel commented on #36339
Thanks @davidlange6. I see structures in various ratio plots, but it is difficult for me to judge which of those could be significant.

[2021-12-03 17:00] kpedro88 commented on #36347
see #36350

[2021-12-03 17:05] joseflix opened #36351 "Correlate entries in monit_prod_cmssw_pop_* with those in monit_prod_condor_raw_metric*"
Each CMSSW job reports popularity entries in monit_prod_cmssw_pop_*.
Also, each job reports utilization and other things in monit_prod_condor_raw_metric*.

There is no ID to be used as unique identifier between these entities, and this is needed. For example, if a job was accessing a file X from local/remote storage, we want to know the CPU efficiency degradation.

Files are listed in monit_prod_c

[2021-12-03 17:05] cmsbuild commented on #36351
A new Issue was created by  @joseflix Josep Flix, PhD.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-03 17:31] kskovpen commented on #36339
@makortel and @davidlange6, agreed. There are indeed some structures in the ratio plots of the low level variables. Anyhow, I think the experts should sign off, whether this can be considered as significant.

[2021-12-03 17:41] vkuznet commented on #36349
I think the issue is related to info sent by CMSSW jobs via UDP to our collector. I suggest that somebody will check the information provided by jobs.

[2021-12-03 18:06] makortel commented on #36349
assign core

[2021-12-03 18:06] makortel commented on #36351
assign core

[2021-12-03 18:06] cmsbuild commented on #36349
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-03 18:06] cmsbuild commented on #36351
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-03 18:21] makortel commented on #36349
Thanks @vkuznet for the clarification on where the information originates from.

While addressing https://github.com/cms-sw/cmssw/issues/34873 we realized that the file size reported in the UDP packages was set in a non-thread-safe way (https://github.com/cms-sw/cmssw/issues/34873#issuecomment-916314868) that could cause problems like this.

The overhaul of `StatisticsSenderService` in #35505 shou

[2021-12-03 18:25] davidlange6 commented on #36349
Presumably these jobs are using older releases given that they are run 2 data.  I agree it would be worth back porting this. (Not that backporitng it will solve all incorrect results, but would help)

[2021-12-03 19:04] makortel commented on #36351
If I understood correctly, the `monit_prod_cmssw_pop_` is reported by `StatisticsSenderService`, and the `CMSSWChirp` fields of `monit_prod_condor_raw_metric` are reported by `CondorStatusUpdater`.

(ref
* https://cmsmonit-docs.web.cern.ch/MONIT/condor/
* https://cmsmonit-docs.web.cern.ch/MONIT/cms-htcondor-es/
* https://mattermost.web.cern.ch/cms-o-and-c/pl/rkcpozp4obrui8dzk1etq88ojo
)

The next

[2021-12-03 20:47] smuzaffar commented on #36344
this has been fixed

[2021-12-03 20:47] #36344 closed

[2021-12-04 01:13] qliphy opened #36363 "Build CMSSW_12_1_1"

[2021-12-04 01:14] cmsbuild commented on #36363
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-12-04 01:14] qliphy commented on #36363
+1

[2021-12-04 01:14] cmsbuild commented on #36363
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_1_X

[2021-12-04 01:14] cmsbuild commented on #36363
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-12-04 01:17] cmsbuild commented on #36363
The build has started for cc8_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3294/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-04 01:17] cmsbuild commented on #36363
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3295/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-04 01:28] cmsbuild commented on #36363
The build has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3296/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-04 01:42] cmsbuild commented on #36363
The build has started for slc7_amd64_gcc10 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3297/console
CMSDIST Branch: [IB/CMSSW_12_1_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-04 01:49] cmsbuild commented on #36363
The build has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3298/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-04 02:40] cmsbuild commented on #36363
The build has started for cc8_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3299/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-04 02:42] cmsbuild commented on #36363
The build has started for slc7_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3300/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-04 04:25] cmsbuild commented on #36363
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-slc7_ppc64le_gcc9/3295
Some tests (

[2021-12-04 04:41] cmsbuild commented on #36363
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-cc8_ppc64le_gcc9/3294
Some tests ( ru

[2021-12-04 05:07] cmsbuild commented on #36363
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-cc8_amd64_gcc9/3296
Some tests ( runThe

[2021-12-04 05:16] cmsbuild commented on #36363
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-slc7_amd64_gcc10/3297
Some tests ( ru

[2021-12-04 05:44] cmsbuild commented on #36363
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-slc7_ppc64le_gcc9/3295

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-04 05:44] cmsbuild commented on #36363
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-slc7_aarch64_gcc9/3300
Some tests (

[2021-12-04 05:49] cmsbuild commented on #36363
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-cc8_aarch64_gcc9/3299
Some tests ( ru

[2021-12-04 05:50] cmsbuild commented on #36363
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-cc8_ppc64le_gcc9/3294

Tests results:
39 36 14 4 3 0 0 0 0 0 tests passed, 3 2 22 2 0 0 0 0 0 0 failed

[2021-12-04 05:53] cmsbuild commented on #36363
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-cc8_amd64_gcc9/3296

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-04 06:05] cmsbuild commented on #36363
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-slc7_amd64_gcc10/3297

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-04 06:31] cmsbuild commented on #36363
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-slc7_amd64_gcc900/3298
Some tests (

[2021-12-04 06:59] cmsbuild commented on #36363
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-cc8_aarch64_gcc9/3299

Tests results:
39 36 14 4 3 0 0 0 0 0 tests passed, 3 2 22 2 0 0 0 0 0 0 failed

[2021-12-04 07:00] cmsbuild commented on #36363
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-slc7_aarch64_gcc9/3300

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-04 07:19] cmsbuild commented on #36363
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_1-slc7_amd64_gcc900/3298

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-04 09:23] qliphy commented on #36363
upload all

[2021-12-04 09:23] cmsbuild commented on #36363
Queing Jenkins upload for slc7_amd64_gcc900

[2021-12-04 09:23] cmsbuild commented on #36363
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-12-04 09:23] cmsbuild commented on #36363
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-12-04 09:23] cmsbuild commented on #36363
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-12-04 09:23] cmsbuild commented on #36363
Queing Jenkins upload for cc8_amd64_gcc9

[2021-12-04 09:23] cmsbuild commented on #36363
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-12-04 09:23] cmsbuild commented on #36363
Queing Jenkins upload for slc7_amd64_gcc10

[2021-12-04 09:25] cmsbuild commented on #36363
The upload has started for cc8_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2159/console

[2021-12-04 09:25] cmsbuild commented on #36363
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2162/console

[2021-12-04 09:25] cmsbuild commented on #36363
The upload has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2160/console

[2021-12-04 09:26] cmsbuild commented on #36363
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2161/console

[2021-12-04 09:27] cmsbuild commented on #36363
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_1-cc8_ppc64le_gcc9/2161

[2021-12-04 09:27] cmsbuild commented on #36363
The upload has started for slc7_amd64_gcc10 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2163/console

[2021-12-04 09:28] cmsbuild commented on #36363
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_1-cc8_aarch64_gcc9/2159

[2021-12-04 09:28] cmsbuild commented on #36363
The upload has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2164/console

[2021-12-04 09:28] cmsbuild commented on #36363
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_1-slc7_aarch64_gcc9/2162

[2021-12-04 09:29] cmsbuild commented on #36363
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2165/console

[2021-12-04 09:30] cmsbuild commented on #36363
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_1-slc7_ppc64le_gcc9/2165

[2021-12-04 09:31] cmsbuild commented on #36363
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_1-cc8_amd64_gcc9/2160

[2021-12-04 09:33] cmsbuild commented on #36363
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_1-slc7_amd64_gcc10/2163

[2021-12-04 09:33] cmsbuild commented on #36363
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_1-slc7_amd64_gcc900/2164

[2021-12-04 09:37] qliphy commented on #36363
release-notes

[2021-12-04 09:37] cmsbuild commented on #36363
Generating release notes since CMSSW_12_1_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-12-04 09:37] cmsbuild commented on #36363
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_1_1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_1_0 can be found at:

https://github.com/cms-sw/cmssw/re

[2021-12-04 09:42] cmsbuild commented on #36363
There was an error generating the release notes, please look into the logs

[2021-12-04 09:47] qliphy commented on #36363
release-notes
Try again as "There was an error generating the release notes"

[2021-12-04 09:47] cmsbuild commented on #36363
Generating release notes since CMSSW_12_1_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-12-04 09:47] cmsbuild commented on #36363
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_1_1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_1_0 can be found at:

https://github.com/cms-sw/cmssw/re

[2021-12-04 09:57] cmsbuild commented on #36363
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_1

[2021-12-04 13:59] mrceyhun commented on #36351
Hi Matti,

- `monit_prod_cmssw_pop_` data fed by [udp-collector](https://github.com/dmwm/udp-collector) service on CMS Monitoring. We just parse the incoming data and send it as is to ElasticSearch(through AMQ).
- `monit_prod_condor_raw_metric` data originally comes from Condor Schedds. We query them every 12 minutes and send results to ES after parsing and some calculations. The important part of

[2021-12-05 07:04] civanch commented on #36256
+1

#36297 was merged.

[2021-12-05 07:09] civanch commented on #35034
+1

the issue was fixed in #35337

[2021-12-05 07:11] perrotta commented on #36256
#36297 finally fixed the issue, and wfs 101 and 102 were brought back to run multithread

[2021-12-05 07:11] #36256 closed

[2021-12-05 07:14] civanch commented on #34294
@bsunanda , this likely was fixed?

[2021-12-05 07:15] civanch commented on #32905
+1

was fixed with #36346

[2021-12-05 07:24] civanch commented on #32895
@cecilecaillol, @rekovic can we address this?

[2021-12-05 07:29] civanch commented on #31081
+1

[2021-12-05 07:32] civanch commented on #31081
@qliphy, @perrotta , this issue is not relevant anymore, can you, please, close it?

[2021-12-05 07:35] civanch commented on #28634
@cvuosalo , if we do not want to change Run-1 XML how we can solve this issue?

[2021-12-05 10:37] jfernan2 commented on #31081
+1

[2021-12-05 14:38] #31081 closed

[2021-12-06 00:29] qliphy opened #36368 "Build CMSSW_12_2_0_pre3"

[2021-12-06 00:29] cmsbuild commented on #36368
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-12-06 00:31] qliphy commented on #36368
+1

[2021-12-06 00:31] cmsbuild commented on #36368
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-12-06 00:31] cmsbuild commented on #36368
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-12-06 00:33] cmsbuild commented on #36368
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3301/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 00:33] cmsbuild commented on #36368
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3303/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 00:33] cmsbuild commented on #36368
The build has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3302/console
CMSDIST Branch: [IB/CMSSW_12_2_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 00:33] cmsbuild commented on #36368
The build has started for cc8_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3304/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 00:33] cmsbuild commented on #36368
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3305/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 00:34] cmsbuild commented on #36368
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3306/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 01:03] cmsbuild commented on #36368
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3307/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 03:31] cmsbuild commented on #36368
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-cc8_aarch64_gcc9/3304
Some tests

[2021-12-06 03:37] cmsbuild commented on #36368
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-slc7_ppc64le_gcc9/3306
Some tes

[2021-12-06 03:38] cmsbuild commented on #36368
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-cc8_ppc64le_gcc9/3305
Some tests

[2021-12-06 03:53] cmsbuild commented on #36368
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-slc7_aarch64_gcc9/3307
Some tes

[2021-12-06 03:59] cmsbuild commented on #36368
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-slc7_amd64_gcc10/3302
Some tests

[2021-12-06 04:18] cmsbuild commented on #36368
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-cc8_amd64_gcc9/3301
Some tests ( r

[2021-12-06 04:25] cmsbuild commented on #36368
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-cc8_aarch64_gcc9/3304

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-06 04:43] cmsbuild commented on #36368
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-cc8_ppc64le_gcc9/3305

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-06 04:46] cmsbuild commented on #36368
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-slc7_amd64_gcc10/3302

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-06 04:46] cmsbuild commented on #36368
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-slc7_ppc64le_gcc9/3306

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-06 04:51] cmsbuild commented on #36368
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-slc7_aarch64_gcc9/3307

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-06 05:05] cmsbuild commented on #36368
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-cc8_amd64_gcc9/3301

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-06 05:09] cmsbuild commented on #36368
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-slc7_amd64_gcc900/3303
Some tes

[2021-12-06 05:55] cmsbuild commented on #36368
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_0_pre3-slc7_amd64_gcc900/3303

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2021-12-06 08:56] perrotta commented on #36368
upload all

[2021-12-06 08:57] cmsbuild commented on #36368
Queing Jenkins upload for slc7_amd64_gcc900

[2021-12-06 08:57] cmsbuild commented on #36368
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-12-06 08:57] cmsbuild commented on #36368
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-12-06 08:57] cmsbuild commented on #36368
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-12-06 08:57] cmsbuild commented on #36368
Queing Jenkins upload for cc8_amd64_gcc9

[2021-12-06 08:57] cmsbuild commented on #36368
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-12-06 08:57] cmsbuild commented on #36368
Queing Jenkins upload for slc7_amd64_gcc10

[2021-12-06 08:57] cmsbuild commented on #36368
The upload has started for cc8_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2166/console

[2021-12-06 08:58] cmsbuild commented on #36368
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2168/console

[2021-12-06 08:58] cmsbuild commented on #36368
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2167/console

[2021-12-06 08:59] cmsbuild commented on #36368
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre3-cc8_ppc64le_gcc9/2168

[2021-12-06 08:59] cmsbuild commented on #36368
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2169/console

[2021-12-06 08:59] cmsbuild commented on #36368
The upload has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2170/console

[2021-12-06 08:59] cmsbuild commented on #36368
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre3-cc8_aarch64_gcc9/2166

[2021-12-06 09:00] cmsbuild commented on #36368
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2171/console

[2021-12-06 09:00] cmsbuild commented on #36368
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre3-slc7_amd64_gcc10/2170

[2021-12-06 09:01] cmsbuild commented on #36368
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2172/console

[2021-12-06 09:01] cmsbuild commented on #36368
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre3-slc7_aarch64_gcc9/2169

[2021-12-06 09:02] cmsbuild commented on #36368
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre3-slc7_ppc64le_gcc9/2172

[2021-12-06 09:05] perrotta commented on #36347
@mmusich this is hopefully fixed by @kpedro88 with #36350 (entered in CMSSW_12_2_X_2021-12-05-2300, and based on which we have already started building CMSSW_12_2_0_pre3). Could you please check and confirm that all workflows look as expected by now, and close this issue if so?

[2021-12-06 09:07] cmsbuild commented on #36368
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre3-cc8_amd64_gcc9/2167

[2021-12-06 09:07] cmsbuild commented on #36368
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_0_pre3-slc7_amd64_gcc900/2171

[2021-12-06 09:08] cmsbuild commented on #36363
The cleanup has started for cc8_aarch64_gcc9

[2021-12-06 09:08] cmsbuild commented on #36363
The cleanup has started for slc7_aarch64_gcc9

[2021-12-06 09:08] cmsbuild commented on #36363
The cleanup has started for slc7_amd64_gcc900

[2021-12-06 09:08] cmsbuild commented on #36363
The cleanup has started for cc8_ppc64le_gcc9

[2021-12-06 09:08] cmsbuild commented on #36363
The cleanup has started for slc7_ppc64le_gcc9

[2021-12-06 09:08] cmsbuild commented on #36363
The cleanup has started for cc8_amd64_gcc9

[2021-12-06 09:08] cmsbuild commented on #36363
The cleanup has started for slc7_amd64_gcc10

[2021-12-06 09:08] #36363 closed

[2021-12-06 09:08] cmsbuild commented on #36363
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_1-cc8_aarch64_gcc9/1876

[2021-12-06 09:08] cmsbuild commented on #36363
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_1-cc8_ppc64le_gcc9/1878

[2021-12-06 09:08] cmsbuild commented on #36363
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_1-cc8_amd64_gcc9/1877

[2021-12-06 09:09] cmsbuild commented on #36363
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_1-slc7_amd64_gcc10/1880

[2021-12-06 09:09] cmsbuild commented on #36363
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_1-slc7_ppc64le_gcc9/1882

[2021-12-06 09:09] cmsbuild commented on #36363
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_1-slc7_aarch64_gcc9/1879

[2021-12-06 09:09] cmsbuild commented on #36363
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_1-slc7_amd64_gcc900/1881

[2021-12-06 09:15] perrotta commented on #36368
release-notes

[2021-12-06 09:16] cmsbuild commented on #36368
Generating release notes since CMSSW_12_2_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-12-06 09:16] cmsbuild commented on #36368
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_2_0_pre3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_2_0_pre2 can be found at:

https://github.com/cms-

[2021-12-06 09:19] cmsbuild commented on #36368
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_0_pre3

[2021-12-06 09:41] mmusich commented on #36347
@perrotta here are my observations based on `CMSSW_12_2_X_2021-12-05-2300`:
   - [x] the Run-3 workflows now are correctly set-up as they were in `CMSSW_12_2_0_pre2` (tested with: `runTheMatrix.py --what upgrade -nel 11624.1,11634.1,12024.1,12034.1,12424.1,12434.1,12824.1,12834.1`)
   - [x] the Phase-2 workflows are still correctly set-up (tested with: `runTheMatrix.py --what upgrade -nel 11624.1,

[2021-12-06 09:45] mmusich commented on #36319
Dear @cms-sw/db-l2 after #36361 has been merged in `CMSSW_12_2_X_2021-12-05-0000` I have monitored the IB unit tests and I didn't observe any failure related to `testCondToolsSiStripBuildersReaders` in:
   * CMSSW_12_2_X_2021-12-05-0000
   * CMSSW_12_2_X_2021-12-05-2300

shall we wait for the next IB for confirmation and then close this issue?

[2021-12-06 09:46] perrotta opened #36369 "Crash in GsfTrackProducer:electronGsfTracks (observed in wf 11723.17)"
It was noticed during the review of #36350 that workflow 11723.17, `QCD_Pt_1800_2400_14+2021_seedingDeepCore+QCD_Pt_1800_2400_14TeV`, crashes when running in the PR tests (in a way which is independed from that specific PR). The relevant part of the stack trace reads:
[code]

The same workflow does not crash in the IB tests, but the input file used for them are different (the generated events are

[2021-12-06 09:47] perrotta commented on #36369
assign reconstruction

[2021-12-06 09:47] cmsbuild commented on #36369
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-06 09:47] cmsbuild commented on #36369
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-06 09:52] perrotta commented on #36347
Sure, thank you @mmusich !
Good to pinpoint the remaining issue, to be left to the attention of @cms-sw/pdmv-l2

[2021-12-06 10:39] jpata commented on #35519
@franzglessgen can you let us know if there's any update on this? Are the studies concluded?

[2021-12-06 13:07] dan131riley commented on #36351
InputSource has a GUID that could be used for this, but I have not looked to see how accessible it is from the monitoring routines:

https://github.com/cms-sw/cmssw/blob/ad04da7bebbb65208fbd72dc8ce147f2f27fd4c2/FWCore/Framework/interface/InputSource.h#L194-L195

[2021-12-06 14:07] bsunanda commented on #34294
Hi Vladimir

I just submitted a PR #36372 to fix this. I overlooked that report. Regards

Sunanda
________________________________
From: Vladimir Ivantchenko ***@***.***
Sent: 05 December 2021 08:14
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [Low priority] Change cout to LogTrace in HcalLayerDepthMap.cc (#34294)

@bsunanda<https://github.com/bsunanda> , this likely

[2021-12-06 14:48] silviodonato commented on #35923
For the record, Ganesh from TSG confirmed that #36088  solved the problem of the GPU/CPU differences in PF in HCAL
(see https://docs.google.com/spreadsheets/d/1MOAzxYSRKRjqDvkQKUd6a9SAT0mNO--_3Zc3w9JCtQ0/edit#gid=853920917 )
Closing this issue

[2021-12-06 14:48] #35923 closed

[2021-12-06 16:17] makortel commented on #36351
Thanks @dan131riley.

Just thinking out loud, one (probably not very good) option could be to make the `PoolSource` constructor to deliver it to `StatisticsSenderService` and `CondorStatusService`. The `CondorStatusService` would need some thoughts as currently it does not have a header file and therefore can not be used with `edm::Service<T>` handle (i.e. would need to add the header and think a

[2021-12-06 16:31] tvami commented on #36319
Seems to be clear for the latest IB as well
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_X_2021-12-06-1100/unitTestLogs/CondTools/SiStrip#/

[2021-12-06 16:31] makortel commented on #36336
In CMSSW_12_2_ROOT6_X_2021-12-05-0000 workflow 11834.21 step 2 segfaults in `MixingModule`, but this time in `SiStripDigitizerAlgorithm::accumulateSimHits()`
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_ROOT6_X_2021-12-05-0000/pyRelValMatrixLogs/run/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step2_TTba

[2021-12-06 16:31] tvami commented on #36319
+db
 * seems like resolved in https://github.com/cms-sw/cmssw/pull/36334

[2021-12-06 16:32] cmsbuild commented on #36319
This issue is fully signed and ready to be closed.

[2021-12-06 16:33] #36319 closed

[2021-12-06 18:07] makortel opened #36375 "Fallback information not propagated to StatisticsSenderService"
While investigating a question of @perrotta in https://github.com/cms-sw/cmssw/pull/36358#issuecomment-986952063 I realized that after #28911 the `RootInputFileSequence::usedFallback_` was no longer set, and consequently `StatisticsSenderService` was no longer reporting this information in
https://github.com/cms-sw/cmssw/blob/a1d2ae9976481829012aa37fc99a1292a203e4bf/Utilities/StorageFactory/src/St

[2021-12-06 18:07] makortel commented on #36375
assign core

[2021-12-06 18:07] cmsbuild commented on #36375
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-12-06 18:07] cmsbuild commented on #36375
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-06 18:59] kpedro88 commented on #36347
see #36378

[2021-12-06 19:33] makortel commented on #36375
Fixed in https://github.com/cms-sw/cmssw/pull/36379

[2021-12-06 19:40] makortel commented on #36349
@perrotta asked in https://github.com/cms-sw/cmssw/pull/36355#issuecomment-986982286

New releases will be needed for these changes to take effect. The changes themselves wouldn't necessarily warrant new (patch) releases, but perhaps we should in order to get the updated code to be run by WM?

[2021-12-06 19:57] makortel commented on #31061
Thanks to painstaking work of many, we have reached to point where runTheMatrix and unit tests appear to be clean from accessing EventSetup data products with esConsumes. Thank you! In the early 12_3_X we're going to enforce the esConsumes at run time (#35588).

The list of EDModules calling the deprecated `EventSetupRecord::get()` function has been changed (starting CMSSW_12_2_X_2021-11-18-2300)

[2021-12-06 21:41] cvuosalo commented on #28634
@civanch A plan for Runs 1-2 DD4hep migration would be to convert the Runs 1-2 big XML files into a format suitable for DD4hep (in particular, retaining the names of the SpecPars). A simple fix like deleting duplicate Polycone planes could also be done. The Run 1 XML may not have to be touched, depending on how the conversion is performed.

This issue should be kept open to remind us to check for

[2021-12-06 23:01] perrotta opened #36381 "Build CMSSW_12_3_0_pre1"
Reference pre-release in the 12_3_X cycle, identical to CMSSW_12_2_0_pre3

[2021-12-06 23:02] cmsbuild commented on #36381
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-12-06 23:06] perrotta commented on #36381
+1

[2021-12-06 23:06] cmsbuild commented on #36381
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-12-06 23:06] cmsbuild commented on #36381
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-12-06 23:07] cmsbuild commented on #36381
The build has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3308/console
CMSDIST Branch: [IB/CMSSW_12_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-12-06 23:09] cmsbuild commented on #36381
The build has started for slc7_amd64_gcc10 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3309/console
CMSDIST Branch: [IB/CMSSW_12_3_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)