[2022-09-07 18:14] perrotta commented on #39338
urgent
(if @cms-sw/l1-l2 wants to have a decent Phase2 trigger in 12_5_X...)

[2022-09-07 19:12] francescobrivio opened #39339 "Check DA vertexing setup used in `DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc`"
Quoting the discussion from https://github.com/cms-sw/cmssw/pull/39285#issuecomment-1239586872:

The DA vertexing setup in `DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc` should be double-checked

FYI @dinardo

[2022-09-07 19:13] cmsbuild commented on #39339
A new Issue was created by  @francescobrivio .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-07 19:14] francescobrivio commented on #39339
assign dqm

[2022-09-07 19:14] cmsbuild commented on #39339
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-07 19:15] francescobrivio commented on #39339
@cms-sw/dqm-l2 this is mainly a reminder for the BeamSpot team (@dinardo) to follow-up on Marco's suggestion.

[2022-09-07 20:12] makortel commented on #39335
Thanks for the suggestion, the chaining of `toModify()` and `toReplaceWith()` function calls is implemented in https://github.com/cms-sw/cmssw/pull/39342

[2022-09-07 20:32] makortel commented on #39287
My attempts for an iorule workaround didn't succeed, and after consulting @Dr15Jones that would really be against what we try to achieve with iorules. The framework works hard to ensure correctness, and iorules' purpose is to allow more complex schema evolution when the

in case of an inherently backwards-incompatible change in data formats (like in this case) there isn't much else what could be d

[2022-09-07 21:25] swagata87 opened #39344 "Electron pixel matching inefficiency introduced `CMSSW_12_4_7` onwards"
From `CMSSW_12_4_6` to `CMSSW_12_4_7`,  it seems some bug or unintended feature might have been introduced in CMSSW, which is causing a massive drop in electron HLT in the `pixel matching` step. Efficiency of this step can be affected by a bug introduced in tracking or tracker related code, most likely.

The issue is found when HLT was reran on MC. The issue never happened in real data yet (note t

[2022-09-07 21:26] cmsbuild commented on #39344
A new Issue was created by  @swagata87 Swagata Mukherjee.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-07 21:35] fwyzard commented on #39344
assign hlt

[2022-09-07 21:35] cmsbuild commented on #39344
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-07 21:36] fwyzard commented on #39344
@swagata87, could you try running a recent HLT menu with 12.4.6 and 12.4.7 over data, and compare the trigger results ?

[2022-09-07 22:32] missirol commented on #39287
I can look into 1), and fwiw I think 3) should be done. I don't know if 2) can be done on a short timescale.

I was wondering if another possibility would be to (re-)update `TriggerRefsCollections` to keep `VRl1ttkmuon` as it once was (`l1t::TkMuonVectorRef`), and add new members for the new type that needs to be supported (`l1t::TrackerMuonRefVector`); [see diff from #38442](https://github.com/cm

[2022-09-08 04:57] smuzaffar commented on #39286
New version of scram `V3_0_52` should fix this issue. Now at build time (`scram build`), new version properly set the env to point to default libs instead of one of microarch paths.

@gartung , can you please test again one of the SKYLAKE IBs ?

[2022-09-08 05:40] perrotta commented on #39344
urgent

[2022-09-08 05:45] perrotta commented on #39344
By looking at the PRs merged in 12_4_7 on top of 12_4_6, I see three tracking related PR one could try to investigate:
- switch pixelLess iteration to use CKF instead of mkFit #38968: it was fully validated (wasn't it?), then I doubt this can be responsible of the matching efficiency
- Add states to GsfMultiStateUpdator MultiState only if the localError matrix is valid #39074
- Remove duplicate pi

[2022-09-08 06:27] Martin-Grunewald commented on #39287
Sorry, but what is gained by loading obsolete stuff into C++ code (12_6 + bp to 12_5) which is obsolete in a matter of days, just to get a ```nice``` behaviour of pre4 ```nonRAW``` files being able to be read by pre5? While the latter has some minor benefit, for a few weeks until all pre's are obsolete, I think the solution should be simply to update the pre4 file to a pre5 file and be done with i

[2022-09-08 06:42] Martin-Grunewald opened #39345 "HLT Validation tests fail in all (12_3/4/5/6) IBs since 2022-09-07-1100 IBs"
HLT Validation tests fail in all (12_3/12_4/12_5/12_6) IBs since 2022-09-07-1100 IBs.

(For other CMSSW releases, there are so far no IBs made after 2022-09-06-2300)

Has anything changed in the environment in which these jobs are executed?

The error message is:
[code]

ie, the execution of the command:
[code]
in a CMSSW environment!

I can not reproduce this failure offline in a standard CMSSW d

[2022-09-08 06:42] Martin-Grunewald commented on #39345
@smuzaffar

[2022-09-08 06:42] cmsbuild commented on #39345
A new Issue was created by  @Martin-Grunewald Martin Grunewald.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-08 06:45] Martin-Grunewald commented on #39345
assign hlt

[2022-09-08 06:45] cmsbuild commented on #39345
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-08 06:51] missirol commented on #39287
I'm not thinking about this specific pdmv wf, or about `pre4` or `pre5`. I'm wondering if there is a use case where one would need to re-reco an older file (e.g. a file done with 12_4_0, before #38442) with a newer release (e.g. 12_5_0, after #38442), and whether that would be affected too by this issue. If there is no such use case, then no problem (still, it would fall under the "best-effort bas

[2022-09-08 06:56] srimanob commented on #39287
The MC for 2022 pp will be done in with 12_4 production release. I think we never talk on ReReco, only ReMini and ReNano. The decision will give us the way on how to deal with ReReco if it will happen.

[2022-09-08 07:00] srimanob commented on #39287
[Rewrite]

Do I understand correctly that for production, we will not have an issue (because no DQM/Validation is running)?

[2022-09-08 07:07] srimanob opened #39346 "Add MC ReReco workflow to runTheMatrix"
This follows the comments discussed in ORP and in PR 39822 [[here](https://github.com/cms-sw/cmssw/issues/39287#issuecomment-1239841325)]

Point to clarify:
- runTheMatrix uses `kind-of` hard-coding on which version of RelVals to be used, by specifying the processing string in https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_steps.py#L3762-L3775
   - This

[2022-09-08 07:08] cmsbuild commented on #39346
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-08 07:09] srimanob commented on #39287
Put this task in https://github.com/cms-sw/cmssw/issues/39346. There is a point to clarify first on the RAW we will use.

[2022-09-08 07:16] mmusich commented on #39344
I find this issue disturbing on many levels.
Have you considered that in `CMSSW_12_4_7` also the conditions used in the TSG integrations tests have changed via https://github.com/cms-sw/cmssw/pull/39034?
And that namely the key: `auto:run3_mc_GRun` has changed from: `phase1_2022_realistic` (that points to `124X_mcRun3_2022_realistic_v10` in that release)  to `124X_mcRun3_2022_realistic_forTSG_menu

[2022-09-08 07:19] Martin-Grunewald commented on #39287
Hmm, we used to guarantee only pure RAW compatibility - AFAIK, rereco is done from RAW as well...

[2022-09-08 07:27] fwyzard commented on #39344
Let me copy here some of the conclusion of the discussion that happened overnight [on Mattermost](https://mattermost.web.cern.ch/cms-tsg/channels/steam/64dgu7hqipfef8j5fwz4skjy9h).

@missirol:

@swagata87:

[2022-09-08 07:49] Martin-Grunewald commented on #39345
Hmm, I do not see this ```confdb``` directory on vocms006:
[code]
?

[2022-09-08 07:55] vlimant commented on #39335
awesome !

[2022-09-08 07:57] missirol commented on #39345
I also don't see it on a normal local CMSSW installation on `lxplus`. I don't know by heart how and when it is generated, I'll have to dig a bit to find out. Maybe https://github.com/cms-sw/cmssw/issues/39345#issuecomment-1240343074 does not explain the IB issues, but it seems unlikely that the two things are unrelated (getting configs via `--dbproxy` outside CERN worked well in the recent past).

[2022-09-08 09:28] swagata87 commented on #39344
Thanks for clarifying, so the issue is MC GT specific and there is no worry for the upcoming data-taking. That was my main concern. I can then close the issue. I will check with TSG which GT/MC samples/CMSSW version can be used together for trigger studies.

[2022-09-08 13:29] #39255 closed

[2022-09-08 13:33] makortel commented on #39346
assign pdmv

[2022-09-08 13:33] cmsbuild commented on #39346
New categories assigned: pdmv

@bbilin,@sunilUIET,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-08 13:36] swagata87 commented on #39344
We gain back our pixel-matching efficiency with `auto:phase1_2022_realistic` GT

<img src="https://user-images.githubusercontent.com/5052706/189135434-4bc9eb98-baf4-461c-b4a6-366e9a1d2d6e.png" width="500">

[2022-09-08 13:56] makortel commented on #39287
That should be the case.

[2022-09-08 13:57] gartung commented on #39286
I can verify that the multi-arch release will rebuild DataFormats/TauReco without segfaulting.

[2022-09-08 13:57] #39286 closed

[2022-09-08 14:01] makortel commented on #39286
+core

[2022-09-08 14:01] cmsbuild commented on #39286
This issue is fully signed and ready to be closed.

[2022-09-08 14:29] dan131riley opened #39350 "ASAN/segmentation faults in gen::HydjetHadronizer::get_particles()"
We're getting segmentation faults in some IB workflows in gen::HydjetHadronizer::get_particles(), and also ASAN is seeing a heap buffer overflow.  I'll include the ASAN report from WF 159.03 since it's more informative.  Log is:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/el8_amd64_gcc10/CMSSW_12_6_ASAN_X_2022-09-07-1100/pyRelValMatrixLogs/run/159.03_HydjetQ_MinBias_5020GeV_2021_ppReco+Hydje

[2022-09-08 14:29] cmsbuild commented on #39350
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-08 14:32] cmsbuild commented on #39350
New categories assigned: generators

@mkirsano,@menglu21,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-08 14:35] pmandrik commented on #38980
The Index DB was recreated. Bin-by-bin comparison in GUI is started to be available for some of the latest PRs, e.g.:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_6_X_2022-09-07-2300+8aa7bf/52663/dqm-histo-comparison-summary.html
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_6_X_2022-09-07-2300+66b1df/52662/dqm-histo-comparison-summary.html

[2022-09-08 14:36] makortel commented on #39350
Seems that the segfault was first seen in CMSSW_12_6_X_2022-09-06-1100

[2022-09-08 15:39] missirol commented on #39287
Fwiw..

Regarding workarounds for `HLTFiltersDQMonitor`, that DQM module won't access the offending collections if one uses
[code]
(this disables all DQM outputs of that module, so it wouldn't be that different from just doing `del process.hltFiltersDQM`.)
That plugin relies by construction on `TriggerEventWithRefs`. A flag like `useTriggerEvent` could be added, to produce only the outputs that do

[2022-09-08 16:12] missirol commented on #39345
Right now, what was described in https://github.com/cms-sw/cmssw/issues/39345#issuecomment-1240343074 (downloading a HLT config from outside CERN with the `--dbproxy` option) works normally again, and indeed the `tmp/confdb` directory looks healthy.
[code]
The logic that leads to `${CMSSW_BASE}/tmp/confdb/v3/` is in
https://github.com/cms-sw/cmssw/blob/435424d670ea3c864b7757527d96b8156b594b60/HLTr

[2022-09-08 16:24] mmusich commented on #39339
for starters:

https://github.com/cms-sw/cmssw/blob/435424d670ea3c864b7757527d96b8156b594b60/DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py#L100-L101

why these numbers?

[2022-09-08 16:42] makortel commented on #39287
Thanks for the correction. I suppose the data RelVals use the "pure RAW" rather than an output of re-HLT(?) since failures have not been seen there (or have they?).

I see `HLTFiltersDQMonitor` can already handle the case of missing `trigger::TriggerEventWithRefs, so in principle one could drop the product on input. On a quick test this
[code]
seems to be sufficient to get the step2 job to run (so

[2022-09-08 17:05] dinardo commented on #39339
Hi Marco,
I guess they are there for historical reasons.
Anyway, I tried to make the fit robust against deviations of the parameters from "nominal" conditions.
If you want we can put them to 0,0

[2022-09-08 17:07] mmusich commented on #39339
do we have "proof" of this statement?

[2022-09-08 18:12] dinardo commented on #39339
What do you mean?  As I said, the code does "move" the initial values to cover possible deviations of the beam spot position with respect to the nominal values. Actually, there is more than just one "movement", I try to move in X, Y, and Z.

Sure, we can set the most appropriate values

[2022-09-08 18:53] missirol commented on #39287
Thanks for finding the workaround!

I think so, but I don't know for sure (and I'm not aware of other failures). Below some info, but please correct if needed.

 - A look inside [relval_steps](https://github.com/cms-sw/cmssw/blob/435424d670ea3c864b7757527d96b8156b594b60/Configuration/PyReleaseValidation/python/relval_steps.py) suggests `RAW` and `RAW-RECO` data sets are used. Those don't include `

[2022-09-08 18:58] mmusich commented on #39339
Are the pixel tracking regions adjusted as well?

[2022-09-08 19:12] emanueleusai commented on #38980
Confirmed working on recent PRs.

NB: For PRs where the tests were triggered before the index was recreated the GUI will still appear empty, so I recommend re-triggering the tests if you intend to use the DQM bin-by-bin tool.

[2022-09-08 19:12] emanueleusai commented on #38980
+dqm

[2022-09-08 19:14] makortel commented on #38980
unassign core

[2022-09-08 19:14] cmsbuild commented on #38980
This issue is fully signed and ready to be closed.

[2022-09-08 19:15] makortel commented on #38980
@cmsbuild, please close

[2022-09-08 19:15] #38980 closed

[2022-09-08 19:21] dinardo commented on #39339
I don't re-do the tracking. I just fit the vertex "could".
I get what I get as vertices and fit the could with a 3D gaussian.
If the "could" moves with respect to some nominal position, the fit procedure should take that into account by trying different fit starting values to get the fit converging

[2022-09-08 19:25] mmusich commented on #39339
right. So the two parameters I pointed above regulate where the pixel tracks are seeded. If for whatever reason those regions are inefficient in selecting hits, tracking (and therefore vertexing) efficiency might be affected in a way dependent on the track kinematics and that cannot be recovered downstream.

[2022-09-08 19:38] dinardo commented on #39339
Sorry, Marco,
I was thinking of some other parameters.
It's better if I shut up :-)

[2022-09-09 06:34] #39335 closed

[2022-09-09 07:41] kdlong commented on #39110
Thanks, good point. I'm still not 100% sure about the interface, if I do track.recHit(i) I get a SiPixelRecHit which always returns null from its det function. I can give you the collection, keys, and raw ID from these objects, though:

[code]

gives

[code]

[2022-09-09 12:06] slava77 commented on #39110
can you try to print details from the reco job itself?

[2022-09-09 12:53] rovere commented on #38980
You pushed into production the wrong fix that, in fact, is not a fix at all, as I commented directly on the PR.
Regenerating the `index` is fine for the dev instance. It would be bad for `Offline` and `RelVal` servers.
Please check on those servers what the status is of the _occupancy_ of all the Patricia trees used internally and, in case, increase their memory allocation accordingly.

[2022-09-09 13:02] makortel commented on #39335
+core

[2022-09-09 13:02] cmsbuild commented on #39335
This issue is fully signed and ready to be closed.

[2022-09-09 13:19] pmandrik commented on #38980
Hi, could you point me to this discussion? thanks!

[2022-09-09 17:15] rovere commented on #38980
https://github.com/cms-DQM/dqmgui_prod/pull/11#pullrequestreview-1102651996

[2022-09-10 10:12] AdrianoDee opened #39362 "Adding Validation and DQM"

[2022-09-10 10:12] cmsbuild commented on #39362
A new Issue was created by  @AdrianoDee .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-10 10:19] AdrianoDee commented on #39362
assign upgrade

[2022-09-10 10:19] AdrianoDee commented on #39362
assign hlt

[2022-09-10 10:19] cmsbuild commented on #39362
New categories assigned: upgrade,hlt

@AdrianoDee,@missirol,@srimanob,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-10 11:36] srimanob commented on #39362
I think the way is to run HLT at the ususal step (DIGI+L1+HLT). Then the validation will run as usual. No need to push for extra development.

[2022-09-12 04:59] emanueleusai commented on #38980
Ciao Marco @rovere, thank you for your feedback, it is much appreciated.

So concerning the Patricia trees I found only one more instance where the value is set manually and indeed that wasn't changed: https://github.com/cms-DQM/dqmgui_prod/search?q=StringAtomTree%28
https://github.com/cms-DQM/dqmgui_prod/blob/b282784006ee15b68e841ef66b2875a8fccd4536/src/cpp/DQM/serverext.cc
In any case given we f

[2022-09-12 09:21] rovere commented on #38980
Ciao @emanueleusai
this code region could be helpful to look at [link](https://github.com/cms-DQM/dqmgui_prod/blob/af0a388e8f57c60e51111585d298aeeea943367f/src/cpp/DQM/index.cc#L1569-L1649)

I'm not particularly concerned about the **default** value since it is practically never used.

I haven't been playing around with DQMGUI for ages and I have no idea what the current occupancy of the many patr

[2022-09-12 10:12] kdlong commented on #39110
@slava77 not immediately sure where I should add the printouts, probably someone from the tracking POG would be able to do this quicker than me.

Addressed from the PF side in #39368

[2022-09-12 14:02] clacaputo commented on #39110
type pf

[2022-09-12 14:03] mandrenguyen commented on #38890
+reconstruction
This is solved by #39169 (and the 14X backport #39253) and can be closed

[2022-09-12 14:07] cecilecaillol commented on #38890
+l1

[2022-09-13 06:05] missirol commented on #39345
@smuzaffar

Could you please answer this question? (it's just for my understanding)

[2022-09-13 06:19] emanueleusai commented on #38980
Thank you, Marco. We will follow up with your suggestion.

[2022-09-13 06:19] smuzaffar commented on #39345
@missirol , we do not mount AFS on build nodes so no we do not have access to `/afs/cern.ch/user`

[2022-09-13 06:36] missirol commented on #39345
Giving myself one suggestion: in principle, we do not need any of these downloads to test the menus in IBs, as the menus in question are already part of the CMSSW release. In practise, the issue is that some HLT utilities (e.g. `hltIntegrationTests`) only work by downloading the menu from the DB; it might be worth extending these scripts to (also) read python configs directly, and that could be a

[2022-09-13 15:06] perrotta opened #39384 "Build CMSSW_12_6_0_pre2"

[2022-09-13 15:06] cmsbuild commented on #39384
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-09-13 15:06] perrotta commented on #39384
+1

[2022-09-13 15:07] cmsbuild commented on #39384
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-09-13 15:07] cmsbuild commented on #39384
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-09-13 15:07] cmsbuild commented on #39384
The build has started for el8_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3632/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-13 15:08] cmsbuild commented on #39384
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3635/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-13 15:08] cmsbuild commented on #39384
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3636/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-13 20:46] cmsbuild commented on #39384
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-el8_aarch64_gcc10/3635
Some tes

[2022-09-13 20:55] cmsbuild commented on #39384
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-el8_ppc64le_gcc10/3636
Some tes

[2022-09-13 21:26] cmsbuild commented on #39384
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-el8_aarch64_gcc10/3635

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-13 21:48] cmsbuild commented on #39384
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-el8_ppc64le_gcc10/3636

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-13 22:46] cmsbuild commented on #39384
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-slc7_amd64_gcc10/3634
Some tests

[2022-09-13 22:54] cmsbuild commented on #39384
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-el8_amd64_gcc11/3633
Some tests (

[2022-09-13 22:57] cmsbuild commented on #39384
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-el8_amd64_gcc10/3632
Some tests (

[2022-09-13 23:35] cmsbuild commented on #39384
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-slc7_amd64_gcc10/3634

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-13 23:40] cmsbuild commented on #39384
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-el8_amd64_gcc11/3633

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-13 23:44] cmsbuild commented on #39384
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre2-el8_amd64_gcc10/3632

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-14 05:08] perrotta commented on #39384
upload all

[2022-09-14 05:08] cmsbuild commented on #39384
Queing Jenkins upload for slc7_amd64_gcc10

[2022-09-14 05:09] cmsbuild commented on #39384
Queing Jenkins upload for el8_amd64_gcc10

[2022-09-14 05:09] cmsbuild commented on #39384
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-09-14 05:09] cmsbuild commented on #39384
Queing Jenkins upload for el8_aarch64_gcc10

[2022-09-14 05:09] cmsbuild commented on #39384
Queing Jenkins upload for el8_amd64_gcc11

[2022-09-14 05:10] cmsbuild commented on #39384
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2468/console

[2022-09-14 05:10] cmsbuild commented on #39384
The upload has started for el8_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2469/console

[2022-09-14 05:10] cmsbuild commented on #39384
The upload has started for el8_amd64_gcc11 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2470/console

[2022-09-14 05:12] cmsbuild commented on #39384
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre2-el8_aarch64_gcc10/2468

[2022-09-14 05:12] cmsbuild commented on #39384
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2471/console

[2022-09-14 05:12] cmsbuild commented on #39384
The upload has started for slc7_amd64_gcc10 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2472/console

[2022-09-14 05:14] cmsbuild commented on #39384
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre2-slc7_amd64_gcc10/2472

[2022-09-14 05:14] cmsbuild commented on #39384
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre2-el8_ppc64le_gcc10/2471

[2022-09-14 05:15] cmsbuild commented on #39384
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre2-el8_amd64_gcc10/2469

[2022-09-14 05:19] cmsbuild commented on #39384
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre2-el8_amd64_gcc11/2470

[2022-09-14 05:23] perrotta commented on #39384
release-notes

[2022-09-14 05:24] cmsbuild commented on #39384
Generating release notes since CMSSW_12_6_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-09-14 05:24] cmsbuild commented on #39384
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_6_0_pre2 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_6_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_6_0_pre2

[2022-09-14 05:34] cmsbuild commented on #39384
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre2

[2022-09-14 17:17] makortel commented on #36938
Thanks @missirol for the report, we are taking a look. I was able to reproduce the problem, and from first poking around the cause for the exception is not immediately clear.

I see `hltEcalDigis` and `hltEcalDigisLegacy` are in the same `ConditionalTask` (`HLTDoFullUnpackingEgammaEcalWithoutPreshowerTask`), so I'd expect wherever `hltEcalDigis` gets used, `hltEcalDigisLegacy` would be available a

[2022-09-14 19:20] makortel commented on #36938
I think I have identified the problem, and it is related to `hltEcalDigisFromGPU` part of the alias matching to anything produced by the module
[code]
and that a certain `std::unordered_multimap` happened to store the entry for `hltEcalDigisFromGPU` before `hltEcalDigisLegacy`.

Assuming there is nothing else going on, specifying the products aliased from `hltEcalDigisFromGPU` explicitly, rather t

[2022-09-14 21:55] missirol commented on #36938
Thanks, Matti. This works and gives us a good quick solution, I think.

[2022-09-15 12:10] cecilecaillol commented on #39194
Items 1, 2, and 5 fixed in https://github.com/cms-sw/cmssw/pull/38442

[2022-09-15 12:10] cecilecaillol commented on #39194
+l1

[2022-09-15 12:12] cecilecaillol commented on #38409
+l1

[2022-09-15 12:15] cecilecaillol commented on #39338
@jaimeleonh Can you please have a look?

[2022-09-15 15:01] mmusich commented on #39007
ugent
   * apparently PR https://github.com/cms-sw/cmssw/pull/37559 has created a serious deterioration of the phase-2 track reconstruction

[2022-09-15 15:27] perrotta commented on #39194
A fix for item 5 was included in #39244
All them have been addressed then, and this issue can be closed

[2022-09-15 15:28] #39194 closed

[2022-09-15 15:53] missirol commented on #39194
+hlt

[2022-09-15 15:53] cmsbuild commented on #39194
This issue is fully signed and ready to be closed.

[2022-09-15 20:34] makortel commented on #30432
Given that nothing has happened in two years, I think it would be safe to remove the `mxnet-predict` external and `PhysicsTools/MXNet` package. Any objections? @cms-sw/reconstruction-l2 @gkasieczka (I don't know the GitHub handles of other ML folks)

[2022-09-16 00:34] makortel commented on #36938
#39409 has a fix. I'll make backports to 12_5_X and 12_4_X after we settle on the content.

[2022-09-16 03:38] cmsbuild commented on #39384
The cleanup has started for el8_aarch64_gcc10

[2022-09-16 03:38] cmsbuild commented on #39384
The cleanup has started for slc7_amd64_gcc10

[2022-09-16 03:38] cmsbuild commented on #39384
The cleanup has started for el8_amd64_gcc10

[2022-09-16 03:38] cmsbuild commented on #39384
The cleanup has started for el8_ppc64le_gcc10

[2022-09-16 03:38] cmsbuild commented on #39384
The cleanup has started for el8_amd64_gcc11

[2022-09-16 03:38] #39384 closed

[2022-09-16 03:39] cmsbuild commented on #39384
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre2-el8_aarch64_gcc10/2175

[2022-09-16 03:39] cmsbuild commented on #39384
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre2-el8_amd64_gcc10/2176

[2022-09-16 03:39] cmsbuild commented on #39384
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre2-el8_ppc64le_gcc10/2178

[2022-09-16 03:39] cmsbuild commented on #39384
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre2-el8_amd64_gcc11/2177

[2022-09-16 03:39] cmsbuild commented on #39384
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre2-slc7_amd64_gcc10/2179

[2022-09-16 10:45] srimanob commented on #39007
FYI @cms-sw/l1-l2
How do you use RECO track in L1T campaign? Could you please see the report above on degradation of tracks?

[2022-09-16 10:54] srimanob commented on #39007
Hi @mmusich

Thanks for pinging me.
Should I assume the issue of tracks will propagate to objects, like electron, muon, jet right? Maybe we need to see how the issue will effect globally also.

[2022-09-16 18:55] makortel commented on #24185
https://github.com/cms-sw/cmssw/pull/39428 revives the interest in this feature. While my earlier comment in https://github.com/cms-sw/cmssw/issues/24185#issuecomment-582027769 still technically holds, the downside of that approach is that every consuming module has to check for the completion of the data transfer on every event, which is against the design principle of the EventSetup system that

[2022-09-16 19:14] makortel commented on #30266
The ideas here are effectively implemented in https://github.com/cms-sw/cmssw/pull/39428, although for Alpaka. Updating the CUDA model is not planned.

[2022-09-17 00:43] tvami commented on #32357
+alca
 * I'm signing this as an agreement from the AlCa side, the action items depend on the geometry team, not on AlCa

[2022-09-18 21:08] perrotta opened #39438 "Build CMSSW_12_4_9"
Release intended for the data taking reprise

[2022-09-18 21:08] cmsbuild commented on #39438
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-09-18 21:09] perrotta commented on #39438
+1

[2022-09-18 21:09] cmsbuild commented on #39438
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-09-18 21:09] cmsbuild commented on #39438
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-09-18 21:11] cmsbuild commented on #39438
The build has started for el8_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3637/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-18 21:11] cmsbuild commented on #39438
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3638/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-18 21:11] cmsbuild commented on #39438
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3639/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-18 21:11] cmsbuild commented on #39438
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3640/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-19 00:28] cmsbuild commented on #39438
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9-el8_aarch64_gcc10/3639
Some tests (

[2022-09-19 00:53] cmsbuild commented on #39438
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9-el8_ppc64le_gcc10/3640
Some tests (

[2022-09-19 00:57] cmsbuild commented on #39438
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9-slc7_amd64_gcc10/3638
Some tests ( ru

[2022-09-19 01:14] cmsbuild commented on #39438
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9-el8_amd64_gcc10/3637
Some tests ( runT

[2022-09-19 01:18] cmsbuild commented on #39438
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9-el8_aarch64_gcc10/3639

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-19 01:45] cmsbuild commented on #39438
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9-slc7_amd64_gcc10/3638

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-19 01:58] cmsbuild commented on #39438
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9-el8_ppc64le_gcc10/3640

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-19 02:02] cmsbuild commented on #39438
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9-el8_amd64_gcc10/3637

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-19 09:16] cmsbuild commented on #39438
Queing Jenkins upload for slc7_amd64_gcc10

[2022-09-19 09:16] cmsbuild commented on #39438
Queing Jenkins upload for el8_amd64_gcc10

[2022-09-19 09:16] cmsbuild commented on #39438
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-09-19 09:16] cmsbuild commented on #39438
Queing Jenkins upload for el8_aarch64_gcc10

[2022-09-19 09:17] cmsbuild commented on #39438
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2473/console

[2022-09-19 09:17] cmsbuild commented on #39438
The upload has started for el8_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2474/console

[2022-09-19 09:17] cmsbuild commented on #39438
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2476/console

[2022-09-19 09:17] cmsbuild commented on #39438
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2475/console

[2022-09-19 09:18] cmsbuild commented on #39438
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_9-el8_aarch64_gcc10/2473

[2022-09-19 09:18] cmsbuild commented on #39438
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_9-el8_amd64_gcc10/2474

[2022-09-19 09:18] cmsbuild commented on #39438
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_9-slc7_amd64_gcc10/2476

[2022-09-19 09:18] cmsbuild commented on #39438
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_9-el8_ppc64le_gcc10/2475

[2022-09-19 09:22] perrotta commented on #39438
release-notes

[2022-09-19 09:23] cmsbuild commented on #39438
Generating release notes since CMSSW_12_4_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-09-19 13:22] makortel commented on #33663
Occurred again in CMSSW_12_6_SKYLAKEAVX512_X_2022-09-15-2300 el8_amd64_gcc10 workflow 136.844 step 3
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_SKYLAKEAVX512_X_2022-09-15-2300/pyRelValMatrixLogs/run/136.844_RunCharmonium2017B+RunCharmonium2017B+HLTDR2_2017+RECODR2_2017reHLT_skimCharmonium_Prompt+HARVEST2017_skimCharmonium/step3_RunCharmonium2017B+RunCharmonium20

[2022-09-19 13:32] makortel opened #39445 "Crashes in workflow 39434.911"
Workflow 39434.911 step 3 crashed in CMSSW_12_6_X_2022-09-18-2300 el9_amd64_gcc11 in function `HcalDDDRecConstants::getHCID()`
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el9_amd64_gcc11/CMSSW_12_6_X_2022-09-18-2300/pyRelValMatrixLogs/run/39434.911_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D88_DD4hep+TTbar_1

[2022-09-19 13:33] cmsbuild commented on #39445
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-19 13:37] Dr15Jones commented on #39445
This was due to a segmentation violation.

[2022-09-19 13:41] Dr15Jones commented on #39445
That is really weird. We disable ROOT's signal handling as part of RootInitHandler.

[2022-09-19 13:42] Dr15Jones commented on #39445
@pcanal did ROOT change their signal handling in 6.26?

[2022-09-19 13:47] makortel commented on #39445
In CMSSW_12_6_X_2022-09-16-2300 slc7_amd64_gcc10 step 3 crashed with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_6_X_2022-09-16-2300/pyRelValMatrixLogs/run/39434.911_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HA

[2022-09-19 13:51] makortel commented on #39445
In CMSSW_12_6_X_2022-09-16-1100 slc7_amd64_gcc10 step 2 crashed with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_6_X_2022-09-16-1100/pyRelValMatrixLogs/run/39434.911_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step2_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HA

[2022-09-19 13:56] makortel commented on #39445
In CMSSW_12_6_UBSAN_X_2022-09-16-1100 el8_amd64_gcc11 step 2 crashed with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc11/CMSSW_12_6_UBSAN_X_2022-09-16-1100/pyRelValMatrixLogs/run/39434.911_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step2_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+Rec

[2022-09-19 14:04] srimanob commented on #38594
Hi @cbotta @cms-sw/l1-l2
May I come back to the question on dropping geometries. It is unclear to me as we are not done yet the L1T dev, could you please comment.

FYI @bsunanda @cms-sw/simulation-l2 @cms-sw/hcal-dpg-l2

[2022-09-19 14:05] makortel commented on #39445
CMSSW_12_6_X_2022-09-15-2300 seems to be the first IB where these crashes appeared. The `HcalDDDRecConstants::getHCID()` seems to play some role in most of them.

[2022-09-19 14:06] makortel commented on #39445
assign geometry, upgrade

(let's start with these, since the problem seems to be specific to Phase 2 DD4Hep workflow)

[2022-09-19 14:06] cmsbuild commented on #39445
New categories assigned: geometry,upgrade

@mdhildreth,@AdrianoDee,@ianna,@Dr15Jones,@srimanob,@makortel,@bsunanda,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-19 14:12] makortel commented on #39445
The UBSAN log points to this line
https://github.com/cms-sw/cmssw/blob/a35549c2f1deeec2f9bb8be7d39baa4f39f4f76b/Geometry/HcalCommonData/src/HcalDDDRecConstants.cc#L173

[2022-09-19 14:24] cbotta commented on #38594
Hi. My understanding is that L1T is still targeting 12_5_0 for the MC production, therefore my previous comment still holds. @cecilecaillol

[2022-09-19 14:26] srimanob commented on #38594
Hi @cbotta
Thanks. The question is if we can handle the cleaning in master (12_6) now, or we should wait a bit until all L1T devs converge.

[2022-09-19 14:30] cbotta commented on #38594
If possible I would wait for @cecilecaillol to confirm that all what we need can be ported to 12_5, and we can start the production there. Should be happening soon

[2022-09-19 16:11] Dr15Jones opened #39449 "Study additional decrease in SIM AOD size"
Studying a Run 3 pileup based workflow (11834.21) with 1000 events shows that the following branches take the bulk of the space on disk

| Branch | Relative % |
| --- | --- |
| recoTracks_generalTracks__RECO | 32.6% |
| recoPFCandidates_particleFlow__RECO | 16.1% |
| recoGenParticles_genParticles__HLT | 4.6% |

Applications of different branch structure, object thinning, and lossy compression stra

[2022-09-19 16:14] Dr15Jones commented on #39449
The default for the AOD event content is to preserve the branch splitting from the input file into the output file. This was probably initially done to allow fast cloning of those branches from the input to the output. But with our use of multi-threading, we already can not use fast cloning (as using multiple threads can cause the event order in the output file to differ from the event order in th

[2022-09-19 16:20] pcanal commented on #39445
I don't think so.

[2022-09-19 17:52] Dr15Jones commented on #39449
# Lossy Compression Overview

ROOT offers several lossy compression options, all based on the `Double32_t` and `Float16_t` ROOT defined typedefs.

## double to float
Use of the typedef `Double32_t` signifies to ROOT that although the in memory representation of a floating point value is a `double`, when it comes time to write the data out the value should be converted to a `float` and then store t

[2022-09-19 18:49] srimanob commented on #39362
I make this https://github.com/cms-sw/cmssw/pull/39450 for the first attempt to converge on running HLT together with DIGI step.

[2022-09-19 19:03] Dr15Jones commented on #39449
# reco::Track lossy compression

The largest contributions to the stored `std::vector<reco::Track>` are the following sub-TBranches

| Branch | Relative |
| --- | --- |
| covariance_[15] | 60.6% |
| vertex_.fCoordinates.fX | 3.9% |
| vertex_.fCoordinates.fY | 3.6% |
| vertex_.fCoordinates.fZ | 3.9% |
| momentum_.fCoordinates.fX | 3.9% |
| momentum_.fCoordinates.fY | 3.9% |
| momentum_.fCoordinates

[2022-09-19 20:20] Dr15Jones commented on #39449
# reco::LeafCandidate lossy compression

The `reco::PFCandidate`, `reco::GenParticle` and `reco::PFJet` all obtain their base information by inheriting from `reco::LeafCandidate`. Therefore applying lossy compression to that class will decrease storage for all of them.

Here is the relative sizes for the shared components for `PFCandidate` and `GenParticle` as they are the largest on file

| Branc

[2022-09-19 20:30] slava77 commented on #39449
@Dr15Jones please add compression details wrt `reco::Track` `generalTracks` branch; the other kind of tracks (electrons or muons) are less frequent and would not affect the total compression as much.
A related question is: can we have this compression per product instead of per class?

I don't think this compression strategy for `reco::Track` would be appropriate in the default global coordinates

[2022-09-19 20:37] Dr15Jones commented on #39449
This is just using standard AOD settings: fully split with LZMA 4.

I'm afraid not.

A guide could be a quality of e.g. conversion (track pairs) reconstruction as well as frequency of getting non-positive-definite covariance after this compression.

I think we really need further work to be pursued by experts, not a meddling amateur like myself :).

I actually found the opposite when I did the wor

[2022-09-19 20:45] slava77 commented on #39449
Did you really see that with the PFCandidate?
I could understand the problem for GenParticle saving pz=0 tracks using 5-7-digit overflow for eta, but the PFCands should run out by eta of 5.

Please remind me if this functionality is configurable by product (instead of by class)

[2022-09-20 08:33] vlimant opened #39452 "Integrate part of NANO test in cmsbot commands"
copying here from https://github.com/cms-sw/cms-bot/issues/1823 on @smuzaffar 's request.

I am opening this issue to collect advice on how to best integrate some of the tests that are ran by xpog as part of the integration of NANO release. There is a gitlab workflow (that I learning the rope of ATM) https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration/-/blob/master/.gitlab-ci.yml and it seems t

[2022-09-20 08:33] cmsbuild commented on #39452
A new Issue was created by  @vlimant vlimant.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-20 09:01] smuzaffar commented on #39452
I had a face-to-face discussion with @vlimant  and looks like nano-AOD tests are simple workflows for which bot just needs to run relvals + comparison jobs ( plus may be some additional checks). This is identical to what we do for GPU or high-stats PR tests. I think the first step is to add those workflow to cmssw RelVals (runTheMatrix.py) so that we regularly run them for IBs. Once nano-AOD workf

[2022-09-20 12:10] sunilUIET opened #39453 "Fatal exception thrown while running data WFs"
Dear All

  We are observing a fatal exception error (exceeding array size) while running data WFs

https://cms-unified.web.cern.ch/cms-unified/showlog/?search=CMSSW_12_6_0_pre2__AUTOMATED_Data-RunBTagMu2022C-00001

This error is also reproducible locally. Please have a look for the fix.

Sunil for pdmV (@bbilin @kskovpen )

[2022-09-20 12:10] cmsbuild commented on #39453
A new Issue was created by  @sunilUIET sunil bansal.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-20 12:14] mmusich commented on #39449
compression of the covariance matrix elements leading to non-positively defined matrices is already now a limiting factor for analysis using miniAOD. If the plan is to do the same on AOD it needs to be done with care and carefully cross-validated.

[2022-09-20 12:56] davidlange6 commented on #39449
Is there a summary of the effect in miniaod somewhere? (Or eg, what is the rate seen there?)

[2022-09-20 12:59] mmusich commented on #39449
https://indico.cern.ch/event/1155820/#7-track-covariance-matrices-in

60% of the tracks used for BPH analysis have this problem.

[2022-09-20 13:06] makortel commented on #39452
assign core,xpog

[2022-09-20 13:06] cmsbuild commented on #39452
New categories assigned: core,xpog

@Dr15Jones,@smuzaffar,@swertz,@makortel,@vlimant you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-20 13:09] makortel commented on #39453
The exception is
[code]
https://cms-unified.web.cern.ch/cms-unified/joblogs/pdmvserv_RVCMSSW_12_6_0_pre2RunBTagMu2022C__RelVal_2022C_220914_102620_781/8002/HLTRUN3/46ee1bee-994f-42ce-94f7-743f6331103a-1-3-logArchive/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log

[2022-09-20 13:09] makortel commented on #39453
assign l1

[2022-09-20 13:09] cmsbuild commented on #39453
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-20 13:13] slava77 commented on #39449
simple rounding will likely have a smaller impact than what's done in miniAOD with the cov parameterization

[2022-09-20 13:16] mmusich commented on #39449
not objecting to that, but one would have to see the impact and have it agreed by the relevant parties.

[2022-09-20 13:48] Dr15Jones commented on #39449
@mmusich

A major reason I made this issue is to start to get experts to begin looking at these options.

[2022-09-20 13:51] makortel commented on #39445
Occurred in
* CMSSW_12_6_X_2022-09-19-1100 el8_amd64_gcc10 as a timeout in step 2 https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-09-19-1100/pyRelValMatrixLogs/run/39434.911_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step2_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlob

[2022-09-20 13:52] Dr15Jones commented on #39449
@slava77

It is only by class. (Looks like my previous reply was accidentally included in the quote I copied).

But it is possible for us to have different classes that work like the LeafCandidate (I actually did that as part of my testing) so that different inheriting classes could have different storage options.

[2022-09-20 13:53] Dr15Jones commented on #39449
I could understand the problem for GenParticle saving pz=0 tracks using 5-7-digit overflow for eta, but the PFCands should run out by eta of 5.

It is a good point as I only studied GenParticle and have not looked at the details of PFCandidate. Matti pointed me to the PackedCandidate which is used in MiniAOD storage and there the eta is truncated at +-6.

[2022-09-20 14:02] makortel commented on #39445
None of the PRs merged in CMSSW_12_6_X_2022-09-15-2300 (#39391, https://github.com/cms-sw/cmssw/pull/39382, https://github.com/cms-sw/cmssw/pull/39294, https://github.com/cms-sw/cmssw/pull/39388) seem relevant.

The earlier IB, CMSSW_12_6_X_2022-09-15-1100, has #37951 that looks like a possible cause (the crash is in HCAL code geometry code, the crashing workflow uses D88 geometry that contains C1

[2022-09-20 14:19] Dr15Jones commented on #39449
As a test of the lose of precision I ran RECO jobs on the same 1000 events using just 1 thread in order to get event ordering identical. I then wrote out the momentum related values from the GenParticles and wrote them to a test structure which stored the values using different compression values/methods. I then measured the deviation of the values stored with compression to the values stored full

[2022-09-20 14:21] mmusich commented on #39449
what are the target gains in % expected from this effort?

[2022-09-20 14:23] slava77 commented on #39449
About the number of bit for px,py,pz, if I take a naive linear propagation of the relative uncertainty, for the W mass we'll need 1e-6 precision (0.1 MeV); so, it's 19 or 20 bits.

Perhaps making some toy phase-space would show the more appropriate connection.
@bendavid is my consideration appropriate or are there some cancellations (or, worse, enhancements) in the relationship between the track m

[2022-09-20 14:27] Dr15Jones commented on #39449
Such a question is "above my pay grade" :). I'm just showing that we have the possibility for substantial gains by exploring this area. @dpiparo ?

[2022-09-20 14:36] Dr15Jones commented on #39449
@slava77

where `MiniFloatConverter::float32to16` is
https://github.com/cms-sw/cmssw/blob/c9da596d0807a487c46d5940ffbb727da0de8064/DataFormats/Math/interface/libminifloat.h#L17

which is https://github.com/cms-sw/cmssw/blob/c9da596d0807a487c46d5940ffbb727da0de8064/DataFormats/Math/interface/libminifloat.h#L24-L36

which (I think) stores 11 bits of the mantissa and 4 bits of the exponent and 1 bit

[2022-09-20 14:56] dan131riley commented on #39445
It really looks like we're sometimes getting segfaults before InitRootHandlers runs, so we get the segfault handled by the ROOT handlers, then InitRootHandlers apparently runs, and it handles an additional segfault while exiting.  It isn't consistent, so it seems like there must be a race condition there, dunno how that could be possible?

[2022-09-20 15:04] slava77 commented on #39449
On one hand, not everything in miniAOD is saved at this precision; electrons and muons have the same precision as AOD.
On the other hand my example leading to 1E-6 precision need is too simplistic, that's more relevant for a fit over a distribution (so, some sqrt(N) or so contributes); the single candidate resolution requirements are likely much softer. I'll try to come up with a more clear toy/ca

[2022-09-20 15:22] dan131riley commented on #39445
@Dr15Jones  found some discussion from three years ago at https://github.com/cms-sw/cmssw/pull/28112#issuecomment-539173390

This looks like the same thing, we don't catch SIGFPE and something is enabling FPE's behind our backs.  Then the buffer overflow is returning some garbage that triggers an FPE.

[2022-09-20 15:40] Dr15Jones opened #39455 "Insufficient error handling in TkHistoMap::fillFromAscii"
In various pull request tests we are seeing segmentation faults originating from `TkHistoMap::fillFromAscii`. Looking at the implementation, there is an error case which could be causing this if there is a problem reading the file. See below for details.

[2022-09-20 15:46] cmsbuild commented on #39455
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-20 15:51] makortel commented on #39455
FYI @cms-sw/trk-dpg-l2

[2022-09-20 16:04] rvenditti opened #39456 "GEM Det ID error in Online and Offline DQM"
We observed the following error message:
Exception Message:
GEMDetId ctor: Invalid parameters:  region 1 ring 1 station 1 layer 0 chamber 5 ieta -99
in:

- Online DQM, in clients l1tstage2 and l1tstage2emulator [l1stage2emulog.txt](https://github.com/cms-sw/cmssw/files/9609000/l1stage2emulog.txt)
- Express reconstruction: https://cms-talk.web.cern.ch/t/paused-jobs-for-express-run359045-streamexpre

[2022-09-20 16:04] cmsbuild commented on #39456
A new Issue was created by  @rvenditti .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-20 16:10] francescobrivio commented on #39456
Just to add a quick recipe for reproducing the Express crash:
**12_4_9 - crash:**
[code]
**12_4_8 - no crash:**
[code]
Note: in 12_4_8 you need to copy the `my_config.py` where I disabled `ParticleNetJetTagMonitor` and `SiPixelCalSingleMuonAnalyzer` which were introduced in 12_4_9.

Note2: to introduce the crash in 12_4_8 just do:
[code]
and then again run `my_config.py`

[2022-09-20 16:10] dan131riley commented on #39445
Thinking about this some more, if something were turning on FPEs globally then I'd expect to get a ton of crashes, since we generate lots of NaNs and junk in tracking.  So maybe something is doing a scoped manipulation of the FPE handler state, and that introduces a race condition.  I'm going to add FPE handling to InitRootHandlers, as that might help identify what's resetting the FPE state if it

[2022-09-20 16:14] francescobrivio commented on #39456
Let me add from the @cms-sw/alca-l2 point of view:
 - In CMSSW_12_4_9 the GTs used have not changed wrt 12_4_8 (see https://twiki.cern.ch/twiki/bin/view/CMS/LatestOnlineGTs)
 - I have checked the [Express GT](https://cms-conddb.cern.ch/cmsDbBrowser/list/Prod/gts/124X_dataRun3_Express_v5) and the GEM geometry tags haven't been updated since July 2022

@eyigitba you are the author of the original PR

[2022-09-20 16:17] francescobrivio commented on #39456
let me tag also @hyunyong @quark2 @jshlee @watson-ij as GEM experts

[2022-09-20 16:17] rappoccio commented on #39456
urgent

[2022-09-20 16:23] makortel commented on #39456
assign dqm

[2022-09-20 16:23] cmsbuild commented on #39456
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-20 16:24] cmsbuild commented on #39456
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-20 16:29] francescobrivio commented on #39456
To add even more info:
as pointed out by @davidlange6 the run used in the Tier0 replay (https://cmsoms.cern.ch/cms/runs/report?cms_run=356824&cms_run_sequence=GLOBAL-RUN) did not have `GEM`  included in the GlobalRun, that's probably why the crash did not appear in the replay...

[2022-09-20 18:20] eyigitba commented on #39456
I found the bug, it was a stupid mistake by me. It exists in all 3 PRs.  I'll submit fixes now. Sorry about that.

[2022-09-20 20:26] perrotta commented on #39456
@eyigitba prepared the fix, in https://github.com/cms-sw/cmssw/pull/39460, backported as https://github.com/cms-sw/cmssw/pull/39461 in 12_5_X and https://github.com/cms-sw/cmssw/pull/39462 in 12_4_X

The fix is quite logical, therefore it must be applied. **Can anybody please verify whether it fully fixes the issue**, and there are no other similar bugs hidden somewhere else in the code?

[2022-09-20 20:36] francescobrivio commented on #39456
I'm testing it _offline_ (with) the recipe I provided above, but it's better if it gets tested in DQM online (@cms-sw/dqm-l2) as well. I'm not sure if can be tested in Tier0 without a release...

[2022-09-20 20:54] syuvivida commented on #39456
I am building and testing PR 39462 now, will let you know the results

[2022-09-20 20:56] francescobrivio commented on #39456
Ok I've re-run the tarball posted by Tier0 experts for the problematic job:
 - plain CMSSW_12_4_9 --> `An exception of category 'InvalidDetId' occurred`
 - CMSSW_12_4_9 + 7ebacc9318fe72283baba11b8a019ae10cf945fd --> no crash

So the fix seems correct at least from the _offline_ point of view.

[2022-09-20 21:14] syuvivida commented on #39456
We tested PR #39462 at the playback using the crashed run 359045 (reported by the DQM group earlier). The run finished OK now (25 LS tested).

[2022-09-21 07:23] cmsbuild commented on #39438
The cleanup has started for el8_aarch64_gcc10

[2022-09-21 07:23] cmsbuild commented on #39438
The cleanup has started for slc7_amd64_gcc10

[2022-09-21 07:23] cmsbuild commented on #39438
The cleanup has started for el8_amd64_gcc10

[2022-09-21 07:23] cmsbuild commented on #39438
The cleanup has started for el8_ppc64le_gcc10

[2022-09-21 07:24] cmsbuild commented on #39438
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_9-el8_aarch64_gcc10/2180

[2022-09-21 07:24] cmsbuild commented on #39438
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_9-el8_ppc64le_gcc10/2182

[2022-09-21 07:24] cmsbuild commented on #39438
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_9-el8_amd64_gcc10/2181

[2022-09-21 07:24] cmsbuild commented on #39438
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_9-slc7_amd64_gcc10/2183

[2022-09-21 07:51] perrotta commented on #39350
@cms-sw/generators-l2 the segfault is still there in the IBs: could you please let us know what is the status of the investigation of this issue? When do you plan to provide a fix?

[2022-09-21 08:41] perrotta commented on #39456
fixed by https://github.com/cms-sw/cmssw/pull/39460, backported as https://github.com/cms-sw/cmssw/pull/39461 in 12_5_X and https://github.com/cms-sw/cmssw/pull/39462 in 12_4_X

[2022-09-21 08:43] perrotta commented on #39456
@rvenditti I think you can close this issue

[2022-09-21 10:14] perrotta opened #39466 "Build CMSSW_12_4_9_patch1"
It includes the bug fix #39462 which is relevant for the resuming of the data taking

In addition, we are using this patch release to ease the validation of the simulation related bug fix for the double counting in HepMC to G4 handoff, that is we:
- merge #39440 in 12_4_X (SIM, not affecting data taking)
- build CMSSW_12_4_9_patch1 (to be used for data taking)
- revert #39440 in the head of 12_4_X

[2022-09-21 10:14] cmsbuild commented on #39466
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-09-21 10:16] perrotta commented on #39466
+1

[2022-09-21 10:17] cmsbuild commented on #39466
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_9_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-09-21 10:17] cmsbuild commented on #39466
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-09-21 10:18] cmsbuild commented on #39466
The build has started for el8_amd64_gcc10 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3641/console
CMSDIST Branch: [REL/CMSSW_12_4_9/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_9/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-21 10:18] cmsbuild commented on #39466
The build has started for slc7_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3642/console
CMSDIST Branch: [REL/CMSSW_12_4_9/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_9/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-21 10:18] cmsbuild commented on #39466
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3643/console
CMSDIST Branch: [REL/CMSSW_12_4_9/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_9/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-21 10:52] cmsbuild commented on #39466
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9_patch1-el8_ppc64le_gcc10/3643
Some t

[2022-09-21 11:04] cmsbuild commented on #39466
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9_patch1-slc7_amd64_gcc10/3642
Some tes

[2022-09-21 11:14] cmsbuild commented on #39466
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9_patch1-el8_amd64_gcc10/3641
Some tests

[2022-09-21 11:28] cmsbuild commented on #39466
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3644/console
CMSDIST Branch: [REL/CMSSW_12_4_9/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_9/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-21 11:44] cmsbuild commented on #39466
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9_patch1-el8_ppc64le_gcc10/3643

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-21 11:52] cmsbuild commented on #39466
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9_patch1-slc7_amd64_gcc10/3642

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-21 12:01] cmsbuild commented on #39466
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9_patch1-el8_amd64_gcc10/3641

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-21 12:20] cmsbuild commented on #39466
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9_patch1-el8_aarch64_gcc10/3644
Some t

[2022-09-21 12:23] rappoccio commented on #39466
upload all

[2022-09-21 12:23] cmsbuild commented on #39466
Queing Jenkins upload for slc7_amd64_gcc10

[2022-09-21 12:23] cmsbuild commented on #39466
Queing Jenkins upload for el8_amd64_gcc10

[2022-09-21 12:23] cmsbuild commented on #39466
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-09-21 12:23] cmsbuild commented on #39466
Queing Jenkins upload for el8_aarch64_gcc10

[2022-09-21 12:24] cmsbuild commented on #39466
The upload has started for el8_amd64_gcc10 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2478/console

[2022-09-21 12:24] cmsbuild commented on #39466
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2477/console

[2022-09-21 12:24] cmsbuild commented on #39466
The upload has started for slc7_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2480/console

[2022-09-21 12:24] cmsbuild commented on #39466
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2479/console

[2022-09-21 12:24] cmsbuild commented on #39466
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_9_patch1-el8_aarch64_gcc10/2477

[2022-09-21 12:25] cmsbuild commented on #39466
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_9_patch1-el8_amd64_gcc10/2478

[2022-09-21 12:25] cmsbuild commented on #39466
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_9_patch1-slc7_amd64_gcc10/2480

[2022-09-21 12:25] cmsbuild commented on #39466
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_9_patch1-el8_ppc64le_gcc10/2479

[2022-09-21 13:08] cmsbuild commented on #39466
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_9_patch1-el8_aarch64_gcc10/3644

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-21 13:12] rappoccio commented on #39466
release-notes

[2022-09-21 13:13] cmsbuild commented on #39466
Generating release notes since CMSSW_12_4_9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-09-21 13:16] cmsbuild commented on #39466
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_9_patch1

[2022-09-21 14:16] mmusich commented on #39455
https://github.com/cms-sw/cmssw/pull/39469 should solve.

[2022-09-21 14:33] #39456 closed

[2022-09-21 20:24] mitaylor opened #39476 "```suggestion"
[code]

_Originally posted by @missirol in https://github.com/cms-sw/cmssw/pull/39464#discussion_r976253495_

[2022-09-21 20:24] #39476 closed

[2022-09-21 20:24] cmsbuild commented on #39476
A new Issue was created by  @mitaylor Molly Taylor.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-22 05:28] #39455 closed

[2022-09-22 07:18] bsunanda commented on #39445
I am testing with CMSSW_12_6_X-2022-09-21-2300 - I am not sure if the PR is reverted back. But running with 39434.911 I find all 4 steps run satisfactorily. Please advise, how I can reproduce this problem, Sunanda
________________________________
From: Dan Riley ***@***.***
Sent: 20 September 2022 18:11
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Crashes in workflow

[2022-09-22 07:30] perrotta opened #39478 "Build CMSSW_12_5_0"

[2022-09-22 07:31] cmsbuild commented on #39478
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-09-22 07:31] perrotta commented on #39478
+1

[2022-09-22 07:31] cmsbuild commented on #39478
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_5_X

[2022-09-22 07:31] cmsbuild commented on #39478
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-09-22 07:32] cmsbuild commented on #39478
The build has started for el8_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3645/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-22 07:32] cmsbuild commented on #39478
The build has started for el8_amd64_gcc11 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3646/console
CMSDIST Branch: [IB/CMSSW_12_5_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-22 07:32] cmsbuild commented on #39478
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3648/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-22 07:37] cmsbuild commented on #39478
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3649/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-09-22 10:17] cmsbuild commented on #39478
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-el8_ppc64le_gcc10/3648
Some tests (

[2022-09-22 10:27] cmsbuild commented on #39478
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-el8_aarch64_gcc10/3649
Some tests (

[2022-09-22 10:43] vlimant commented on #39452
@smuzaffar : do I have to add the harvesting step in order for the cmsbot test to be able to later compare DQM output ?
is there anything special I need to do to enable the fwk job report in xml ?

[2022-09-22 11:07] cmsbuild commented on #39478
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-el8_aarch64_gcc10/3649

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-22 11:07] cmsbuild commented on #39478
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-el8_ppc64le_gcc10/3648

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-22 11:12] cmsbuild commented on #39478
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-slc7_amd64_gcc10/3647
Some tests ( ru

[2022-09-22 11:33] cmsbuild commented on #39478
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-el8_amd64_gcc10/3645
Some tests ( runT

[2022-09-22 11:36] cmsbuild commented on #39478
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-el8_amd64_gcc11/3646
Some tests ( runT

[2022-09-22 11:53] perrotta commented on #39478
upload all

[2022-09-22 11:54] cmsbuild commented on #39478
Queing Jenkins upload for slc7_amd64_gcc10

[2022-09-22 11:54] cmsbuild commented on #39478
Queing Jenkins upload for el8_amd64_gcc10

[2022-09-22 11:54] cmsbuild commented on #39478
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-09-22 11:54] cmsbuild commented on #39478
Queing Jenkins upload for el8_aarch64_gcc10

[2022-09-22 11:54] cmsbuild commented on #39478
Queing Jenkins upload for el8_amd64_gcc11

[2022-09-22 11:55] cmsbuild commented on #39478
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2481/console

[2022-09-22 11:56] cmsbuild commented on #39478
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0-el8_aarch64_gcc10/2481

[2022-09-22 11:56] cmsbuild commented on #39478
The upload has started for el8_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2482/console

[2022-09-22 11:56] cmsbuild commented on #39478
The upload has started for el8_amd64_gcc11 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2483/console

[2022-09-22 11:57] cmsbuild commented on #39478
The upload has started for slc7_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2485/console

[2022-09-22 11:57] cmsbuild commented on #39478
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2484/console

[2022-09-22 11:57] cmsbuild commented on #39478
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0-slc7_amd64_gcc10/2485

[2022-09-22 11:58] cmsbuild commented on #39478
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0-el8_ppc64le_gcc10/2484

[2022-09-22 11:58] cmsbuild commented on #39478
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0-el8_amd64_gcc10/2482

[2022-09-22 11:58] cmsbuild commented on #39478
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0-el8_amd64_gcc11/2483

[2022-09-22 11:59] tvami commented on #35005
+db
 * JetMET part resolved in https://github.com/cms-sw/cmssw/pull/39471

[2022-09-22 12:00] cmsbuild commented on #35005
This issue is fully signed and ready to be closed.

[2022-09-22 12:00] cmsbuild commented on #39478
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-slc7_amd64_gcc10/3647

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-22 12:23] cmsbuild commented on #39478
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-el8_amd64_gcc10/3645

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-22 12:25] cmsbuild commented on #39478
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0-el8_amd64_gcc11/3646

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-09-22 12:44] perrotta commented on #39478
release-notes

[2022-09-22 12:44] cmsbuild commented on #39478
Generating release notes since CMSSW_12_5_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-09-22 12:44] cmsbuild commented on #39478
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_5_0 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_5_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_0

Cheers,
c

[2022-09-22 12:47] cmsbuild commented on #39478
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0

[2022-09-22 13:42] dan131riley opened #39480 "heap-buffer-overflow HcalDDDSimConstants::getPhiCons()"
Log from 39434.911, also seen in 38634.0:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/el8_amd64_gcc11/CMSSW_12_6_ASAN_X_2022-09-21-1100/pyRelValMatrixLogs/run/39434.911_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step1_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal.log

[code]

[2022-09-22 13:57] makortel commented on #39480
assign geometry

[2022-09-22 13:58] cmsbuild commented on #39480
New categories assigned: geometry

@mdhildreth,@ianna,@Dr15Jones,@makortel,@bsunanda,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-22 13:59] makortel commented on #39480
Looks similar to https://github.com/cms-sw/cmssw/issues/39445 even if the stack trace is different.

[2022-09-22 14:00] makortel commented on #39445
In normal IBs the crashes occur randomly, so you may have to try to run many times or try to load the machine. Maybe try to run on an ASAN IB, e.g. CMSSW_12_6_ASAN_X_2022-09-21-1100?

[2022-09-22 14:07] smuzaffar commented on #39452
@vlimant , I think yes you need the harvesting step for comparison. FW job reports are already enabled , so nothing special to do for that. FW job reports for each workflow will be available via the PR summary page e.g. https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-f97616/27734/runTheMatrix-results/4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC

[2022-09-22 14:23] dan131riley commented on #39480
It's plausible they are related

[2022-09-22 16:14] clacaputo opened #39482 "[12_6_0_pre2] Reco timing increase in Phase2 reconstruction"
We are observing a ~10% increase in reco timing for wf `39634.21` in `12_6_0_pre2`.
More details can be found in the [time diff table](http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/results/TimeDiff/CMSSW_12_6_0_pre2/el8_amd64_gcc10/39634.21/step3.txt)

A new version for TICL (TICLv4) has been introduced in `pre2` with #38880

[code]

A substantial increase in timing is present in the pr

[2022-09-22 16:14] clacaputo commented on #39482
assign reconstruction

[2022-09-22 16:14] cmsbuild commented on #39482
New categories assigned: reconstruction

@mandrenguyen,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-22 16:14] cmsbuild commented on #39482
A new Issue was created by  @clacaputo Claudio Caputo.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-22 16:14] clacaputo commented on #39482
assign upgrade

[2022-09-22 16:15] cmsbuild commented on #39482
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-22 17:36] srimanob commented on #39482
Hi @cms-sw/reconstruction-l2 @cms-sw/hgcal-dpg-l2

If I understand correctly, it is unclear because you try to compare with workflow `.203`, right?

Is this line by intention?
[code]
https://github.com/cms-sw/cmssw/blob/master/RecoHGCal/TICL/python/iterativeTICL_cff.py#L26-L28

Because you already include `ticlCLUE3DHighStepTask` also in ticl_v3. But this is not what it was in CMSSW_12_6_0_pre1.

[2022-09-22 18:35] makortel opened #39483 "Namespace issues in CondFormats/JetMETObjects/interface/Utilities.h"
I noticed two issues with the namespace usage in [CondFormats/JetMETObjects/interface/Utilities.h](https://github.com/cms-sw/cmssw/blob/53e6af93b367576be81f4a8c15ecab0b6d44b7eb/CondFormats/JetMETObjects/interface/Utilities.h)
* custom types are added to `std` namespace, that is strictly speaking undefined behavior (the allowed declarations/definitions and template specializations are listed e.g. i

[2022-09-22 18:36] makortel commented on #39483
assign db

[2022-09-22 18:36] cmsbuild commented on #39483
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-22 18:36] cmsbuild commented on #39483
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@saumyaphor4252,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-22 18:57] tvami commented on #39483
let me tag @laurenhay @rappoccio

[2022-09-22 19:27] Dr15Jones commented on #39449
I could understand the problem for GenParticle saving pz=0 tracks using 5-7-digit overflow for eta, but the PFCands should run out by eta of 5.

@slava77 I have now applied fixed precision lossy compression on the Eta of the PFCandidates and added another table about the precision tradeoffs. I'm in the process of trying to evaluate the space savings related to the change.

[2022-09-23 01:13] makortel commented on #39064
https://github.com/cms-sw/cmssw/pull/39245 converged. I also made backports to 12_4_X and 12_5_X in #39484 and #39485.

[2022-09-23 06:25] rovere commented on #39482
[code]

Those numbers are in line with the measurements we made before submitting the PR and result in **a net reduction of the purely HGCAL-related reconstruction time**, which is good.
There are clearly downstream effects, mainly on **egamma related** objects that are visible. Two comments:

- `pre2`, as said, is not _optimal_ from the `TICL` point of view since it is missing some important impr

[2022-09-23 06:28] rovere commented on #39482
@felicepantaleo @waredjeb
FYI

[2022-09-23 07:01] #39064 closed

[2022-09-23 07:22] missirol commented on #39064
+hlt

Thanks @makortel

[2022-09-23 07:48] clacaputo commented on #39482
Hi @rovere , these were also my conclusions that I haven't stated properly in the description.

Opening an issue is more effective for collecting inputs from different experts and being able to state whether the effect is somehow expected or not. As long as the _distuptive_ changes are understood, the issue can be closed.

[2022-09-23 09:28] cecilecaillol commented on #39453
@sunilUIET What is the command to reproduce the error locally? Thanks!

[2022-09-23 11:23] cmsbuild commented on #39466
The cleanup has started for el8_aarch64_gcc10

[2022-09-23 11:23] cmsbuild commented on #39466
The cleanup has started for slc7_amd64_gcc10

[2022-09-23 11:23] cmsbuild commented on #39466
The cleanup has started for el8_amd64_gcc10

[2022-09-23 11:23] cmsbuild commented on #39466
The cleanup has started for el8_ppc64le_gcc10

[2022-09-23 11:24] #39466 closed

[2022-09-23 11:24] cmsbuild commented on #39466
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_9_patch1-el8_aarch64_gcc10/2184

[2022-09-23 11:24] cmsbuild commented on #39466
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_9_patch1-el8_amd64_gcc10/2185

[2022-09-23 11:24] cmsbuild commented on #39466
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_9_patch1-el8_ppc64le_gcc10/2186

[2022-09-23 11:24] cmsbuild commented on #39466
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_9_patch1-slc7_amd64_gcc10/2187

[2022-09-23 13:10] sunilUIET commented on #39453
@cecilecaillol you can copy config file which can be run with CMSSW_12_6_0_pre2
/afs/cern.ch/user/s/subansal/public/step_2_cfg.py

[2022-09-23 13:30] makortel commented on #39064
+core

[2022-09-23 13:36] Dr15Jones commented on #39449
@slava77 how would you like me to proceed on this question you asked?

What exact measurements would you like?

[2022-09-23 13:57] srimanob commented on #38594
@cbotta @cecilecaillol @cms-sw/l1-l2
After the simulation meeting today, there are requests to merge the clean up PR https://github.com/cms-sw/cmssw/pull/38702 asap. D49 will not be supported anymore in 12_6.

From your plan, it should be OK as all L1T code will be backported to 12_5, so 12_5 will be the release which support both D49 and D88. If there is an objection, please raise it here before

[2022-09-23 14:14] slava77 commented on #39449
I wanted to know the relative reduction of the product size (can be `generalTracks`, which is the largest).

[2022-09-23 15:17] Dr15Jones commented on #39449
@slava77

I've updated the _reco::Track lossy compression_ comment to include a column with just the reduction in product size of the `generalTracks` for the different compression options tried.

[2022-09-23 18:55] cecilecaillol commented on #38594
We should have a 12_5_1 release for our MC production so this is fine from our side

[2022-09-24 10:53] cmsbuild commented on #39478
The cleanup has started for el8_aarch64_gcc10

[2022-09-24 10:53] cmsbuild commented on #39478
The cleanup has started for slc7_amd64_gcc10

[2022-09-24 10:53] cmsbuild commented on #39478
The cleanup has started for el8_amd64_gcc10

[2022-09-24 10:53] cmsbuild commented on #39478
The cleanup has started for el8_ppc64le_gcc10

[2022-09-24 10:53] cmsbuild commented on #39478
The cleanup has started for el8_amd64_gcc11

[2022-09-24 10:53] #39478 closed

[2022-09-24 10:54] cmsbuild commented on #39478
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0-el8_aarch64_gcc10/2188

[2022-09-24 10:54] cmsbuild commented on #39478
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0-el8_amd64_gcc10/2189

[2022-09-24 10:54] cmsbuild commented on #39478
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0-el8_ppc64le_gcc10/2191

[2022-09-24 10:54] cmsbuild commented on #39478
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0-el8_amd64_gcc11/2190

[2022-09-24 10:54] cmsbuild commented on #39478
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0-slc7_amd64_gcc10/2192

[2022-09-26 12:53] Dr15Jones commented on #39449
@slava77 how does reconstruction want to proceed?

[2022-09-26 15:24] slava77 commented on #39449
I can only respond for tracking (`reco::Tracks` part of this issue).
We could start with no-PU validation using samples of the same type as in a recent tracking validation https://its.cern.ch/jira/browse/PDMVRELVALS-158
perhaps `covariance & Pxyz 10 bits` and `covariance & Pxyz 12 bits`.

Please clarify what you did for the `vertex_`: was it a change in nbits or also a bound (150 cm was mentioned)

[2022-09-26 18:55] Dr15Jones commented on #39449
@slava77 I updated the Track lossy section with new values where I used `covariance & Pxyz 10 bits` and position `x & y` using bounds -1100 and 1100 with 24 bits of compression. The findings give size identical to the more restricted `x & y` using bounds of -150 and 150 with 21 bits. I hypothesize that the two are identical except in memory the 24 bits one has more 0 bits than the 21 bit version a

[2022-09-27 15:53] clacaputo commented on #39482
I've checked the time differences reverting #38880 in `12_6_0_pre2` on wf `39634.21`. The time increase [observed](https://github.com/cms-sw/cmssw/issues/39482#issue-1382698946) in various producers isn't any more there

#### 12_6_0_pre2 VS 12_6_0_pre2[#38880 reverted]
[code]

#### 12_6_0_pre1 VS 12_6_0_pre2[#38880 reverted]
[code]

[2022-09-27 21:34] perrotta commented on #39214
It look like that after the merging of https://github.com/cms-sw/cmssw/pull/39490 there are no more failing comparisons in the tests for the MTD vertices.
This issue can be closed then

[2022-09-28 00:13] srimanob commented on #39214
+upgrade

[2022-09-28 00:13] #39214 closed

[2022-09-28 11:07] CeliaFernandez commented on #37549
I have took another look to the problem. Apparently that associate function is also used in PATIsolatedTrackProducer.cc here:

https://github.com/cms-sw/cmssw/blob/172aaad1f323a1268f233629c962eb074f1da1e3/PhysicsTools/PatAlgos/plugins/PATIsolatedTrackProducer.cc#L759

but it has disabled the track extrapolation to the muon chambers:
https://github.com/cms-sw/cmssw/blob/172aaad1f323a1268f233629c962

[2022-09-28 15:42] makortel commented on #36404
I updated the list of legacy EDModules still being run as part of runTheMatrix or unit tests for sure (there can be more that my log parsing approach fails to find) in CMSSW_12_6_X_2022-09-27-2300

Former @cms-sw/analysis-l2
[code]

@cms-sw/core-l2
[code]

@cms-sw/dqm-l2
[code]

[2022-09-28 15:50] tvami commented on #36404
I happen to do a tk offline shift this week and started to deal with

in https://github.com/cms-sw/cmssw/pull/39518

[2022-09-28 15:51] tvami commented on #36404
For

@dzuolo can you fix this please?

[2022-09-28 16:12] wddgit commented on #36404
I'm working on these now:

- DQM/EcalPreshowerMonitorModule:
- DQMServices/FwkIO

[2022-09-28 22:01] makortel commented on #36938
#39409 was merged, backports are in #39529 and #39530

[2022-09-29 07:30] srimanob commented on #38594
Unit test failures after merging cleaning PR:

- Validation/Geometry/test/runP_HGCal_cfg.py
- Geometry/TrackerGeometryBuilder/test/python/testPixelTopologyMapTest_cfg.py
- SimTracker/TrackerMaterialAnalysis/test/trackingMaterialProducer10GeVNeutrino_ForPhaseII.py
- SLHCUpgradeSimulations/Geometry/test/writeFile_phase2_cfg.py
- CondTools/SiPixel/test/SiPixelTemplateDBObjectUploader_Phase2_cfg.py
Th

[2022-09-29 07:39] bsunanda commented on #38594
Please use D92 (or the later version with new Tracker and MTD) and not D88.
________________________________
From: Phat Srimanobhas ***@***.***
Sent: 29 September 2022 09:30
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Drop of D49-D85 Phase-2 geometry (Issue #38594)

Unit test failures after merging cleaning PR:

  *   Validation/Geometry/test/runP_HGCal_cfg.py
  *

[2022-09-29 07:51] mmusich commented on #38594
@srimanob I suppose you can also clean up the T* versioned autoCond Global Tags for the Tracker geometries that have been removed?

https://github.com/cms-sw/cmssw/blob/4e89b5b212dc118b0b17abffd052144eea7ebe04/Configuration/AlCa/python/autoCondPhase2.py#L110-L119

  @cms-sw/alca-l2

[2022-09-29 07:55] srimanob commented on #38594
Hi @mmusich @cms-sw/alca-l2
Sure, I can include in my PR. Thanks for information.

[2022-09-29 08:51] mmusich commented on #38594
I see a couple of problems:

 - in: https://github.com/cms-sw/cmssw/blob/4e89b5b212dc118b0b17abffd052144eea7ebe04/SLHCUpgradeSimulations/Geometry/test/phase2_digi_reco_pixelntuple_cfg.py#L32 as far as I can see there is no suitable GEN-SIM dataset for D92[^1]
 - in: https://github.com/cms-sw/cmssw/blob/4e89b5b212dc118b0b17abffd052144eea7ebe04/CondTools/SiPixel/test/createTestDBObjects.sh#L20 we do

[2022-09-29 11:09] srimanob commented on #38594
Let's go for D88 in unit tests until we validate D92 and move it to baseline.

[2022-09-29 11:47] mmusich commented on #38594
@srimanob

PR https://github.com/cms-sw/cmssw/pull/39535 should take care of these:

SimTracker/TrackerMaterialAnalysis/test/trackingMaterialProducer10GeVNeutrino_ForPhaseII.py
SLHCUpgradeSimulations/Geometry/test/phase2_digi_reco_pixelntuple_cfg.py
SLHCUpgradeSimulations/Geometry/test/writeFile_phase2_cfg.py

as for the others:

I would let it to HGCAL experts (FYI @cms-sw/hgcal-dpg-l2 )

while

[2022-09-29 12:08] tvami commented on #38594
Sure I'll have a look

[2022-09-29 13:29] mmusich commented on #38594
changing topic, shouldn't be https://github.com/cms-sw/cmssw/blob/master/Configuration/Geometry/README.md also updated to remove the unsupported geometries?

[2022-09-29 14:06] srimanob commented on #38594
Thx. I think i forgot it whilt waiting the PR to converge. I will update it together with workflow id resetting.

[2022-09-29 14:06] slava77 opened #39537 "CPU speedup opportunity phase2 in GoodSeedProducer"
perhaps related to #34290

I was looking at the configuration in trackerDrivenElectronSeeds GoodSeedProducer for phase2 (wf 39634.21; but I guess it's generic for phase2)
this module takes 0.34% of CPU in 12_6_0_pre2 https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_6_0_pre2/39634.21/step3/cpu_endjob/440

I see that it's configured to work effecti

[2022-09-29 14:06] cmsbuild commented on #39537
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-29 14:19] slava77 commented on #39449
@cms-sw/orp-l2 please advise
IIUC, we will need a pre-release as a reference and two additional builds (pre-release+one of the two PRs mentioned above) so that the relvals can be requested.
I guess separate patch branches would be needed or  [merge-[revert-merge]-revert] steps if you'd prefer to stay on one branch.

[2022-09-29 15:12] Dr15Jones commented on #39449
@slava77 do you want the validation test to use compression for the position as well?

[2022-09-29 15:55] perrotta commented on #39449
When do you need that validation? With the present schedule, a CMSSW_12_6_0_pre3 is expected for Oct 10. Once there is a pre-release, we can branch off a couple of releases specific for this test.
If you need it earlier on, we could cut pre3 next Tuesday, make another couple of pre-releases two weeks apart, and keel the same target date with on additional pre-release with respect to what planned i

[2022-09-29 16:11] slava77 commented on #39449
I think that pre3 is fine,
IIUC, we'll not put this into any useful production until 13_X
but @Dr15Jones please correct me if I'm wrong.

[2022-09-29 16:13] makortel commented on #39537
assign reconstruction, upgrade

[2022-09-29 16:13] cmsbuild commented on #39537
New categories assigned: upgrade,reconstruction

@AdrianoDee,@mandrenguyen,@clacaputo,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-29 16:19] Dr15Jones commented on #39449
I don't have any insight into the time scale for which this would be deployed, other than my personal bias of 'sooner would be better' in order to help our recent resource constraints.

[2022-09-29 16:21] slava77 commented on #39449
please add some details in the table https://github.com/cms-sw/cmssw/issues/39449#issuecomment-1251426086

to accompany `covariance & Pxyz 10 bits` and `covariance & Pxyz 12 bits` variants.

From https://github.com/cms-sw/cmssw/issues/39449#issuecomment-1258469802 I'm not sure there is much gain, if 24 bits (default float) gives the same size as 21 bits. But perhaps I misunderstood the test report

[2022-09-29 17:02] Dr15Jones commented on #39449
When comparing just using `covariance & Pxyz 9 bits` to doing `covariance & Pxyz 9 bits PLUS x&y of 24 bits` the total AOD file size decreases by an additional 1.5%.  In the just `covariance & Pxyz 9 bits` case, the `x,y&z` are already being converted to float when stored as they are `Double32_t` values. A float is 32 bits in size, 24 bits mantissa with 8 bits of exponent. As the exponent is based

[2022-09-29 17:46] slava77 commented on #39449
Ugh,
<img width="584" alt="image" src="https://user-images.githubusercontent.com/4676718/193104614-8f9c7838-2a43-4a93-83b3-0fe6ca166361.png">
I proposes to make PRs for the two last cases in the table.
You followed up with a possible addition of the position compression, and I just wanted to see the explicit expected compression in this table for the proposed variant of position compression.
I was

[2022-09-30 08:26] swagata87 commented on #39482
yes let's check the reco timing again in 12_6_0_pre3 when it is cut..
maybe part of the timing increase will be mitigated by the improvements and bug-fixes that missed pre2 but will be there in pre3.

if there is still a residual timing increase in pre3, we would need to think about the filters to be put in before accepting a trackster for egamma reco. Of course it would need some detailed studies

[2022-09-30 13:53] Dr15Jones commented on #39449
@slava77 it will probably take a few days (given the speed of the jobs) to make the measurements for
- `covariance & Pxyz` 10 bits with `x&y` using 24 bit fixed (min -1100 max 1100) and
- `covariance & Pxyz` 12 bits with `x&y` using 24 bit fixed (min -1100 max 1100)

Given that to first order the different field compressions are independent of each other, I expect the addition of position compress

[2022-09-30 13:54] Dr15Jones commented on #39449
@slava77 the table has been updated with the additional measurements. The savings are even a bit better than my original estimate.

[2022-09-30 14:19] vlimant commented on #28585
please close

[2022-09-30 14:20] #28585 closed

[2022-09-30 14:24] vlimant commented on #32347
@michaelwassmer ; has the branch [CMSSW_12_0_0_ReworkMETCors](https://github.com/michaelwassmer/cmssw/tree/CMSSW_12_0_0_ReworkMETCors) made it in to a PR that you could reference here ?

[2022-09-30 14:30] vlimant commented on #33084
@makortel have you seen any recent occurence of this ?

[2022-09-30 14:50] vlimant commented on #36461
@perrotta : can I please ask you to list up the remaining of the remaining items, so that we can pick this up efficiently ?

[2022-09-30 21:23] pcanal commented on #33084
That's unlikely nowadays but it is of course possible.

Then it could be a case of missing dictionary. (not generated or somehow not loaded)

[2022-09-30 21:33] makortel commented on #33084
I don't remember seeing this exception any time recently (but it is possible that I've just forgotten). We have changed ROOT version in between though.

[2022-10-01 08:51] swagata87 commented on #39026
[If it is not okay to write in an closed issue, then I apologise, and can create a new issue. I am writing here as this is very much related]

It looks like the same issue came back (only once, and at HLT level) in a collision run, despite the fix. It is clear that the crash is extremely rare, but it is surprising that it came back despite the fix was merged.

Run number: `359686`
StartTime: Oct 1

[2022-10-01 16:33] slava77 commented on #39026
I'd suggest to open a new issue. A note made here is useful still.

[2022-10-01 17:42] trocino opened #39568 "HLT crashes in run 359297 from module `EcalRecHitProducer:hltEcalRecHitWithoutTPs`"
Several HLT jobs crashed during run 359297, all due to module `EcalRecHitProducer:hltEcalRecHitWithoutTPs`. Before crashing, the following error message appears:
`cmsRun: /.../cmssw/el8_amd64_gcc10/cms/cmssw/CMSSW_12_4_9/src/CalibCalorimetry/EcalLaserAnalyzer/src/MEEBGeom.cc:31: static int MEEBGeom::sm(MEEBGeom::EBGlobalCoord, MEEBGeom::EBGlobalCoord): Assertion ``ieta > 0 && ieta <= 85' failed.`

[2022-10-01 17:43] cmsbuild commented on #39568
A new Issue was created by  @trocino Daniele Trocino.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-01 22:26] missirol commented on #39568
assign ecal-dpg

I think the crash occurs only if running the ECAL unpacker on GPU. One can check this by appending
[code]
which, I think, runs the RecHit producers on CPU, but still running the unpacker on GPU (adding also `del process.hltEcalDigis.cuda` makes the crash disappear).

Adding some printouts shows that behind the crash there is a RecHit with invalid detId (the value of the invalid de

[2022-10-01 22:26] cmsbuild commented on #39568
New categories assigned: ecal-dpg

@simonepigazzini,@jainshilpi,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-02 08:12] swagata87 opened #39570 "GsfTracking crash at HLT in run 359686"
This issue is related to https://github.com/cms-sw/cmssw/issues/39026 in the sense that similar crashes happened before and a fix for that was put in https://github.com/cms-sw/cmssw/pull/39074. It is unclear to me why the crash came back despite the fix.

[Some details of the crash is here](https://github.com/cms-sw/cmssw/issues/39026#issuecomment-1264294934)

With the error stream file, I could r

[2022-10-02 08:12] cmsbuild commented on #39570
A new Issue was created by  @swagata87 Swagata Mukherjee.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-02 08:13] swagata87 commented on #39570
assign reconstruction, tracking-pog, egamma-pog

[2022-10-02 08:13] cmsbuild commented on #39570
New categories assigned: tracking-pog,reconstruction,egamma-pog

@slava77,@mmusich,@mandrenguyen,@lfinco,@clacaputo,@swagata87 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-03 10:22] wonpoint4 commented on #39234
Dear expert,
We think these warning [2] doesn't seem really problematic in the muon reconstruction, so we can proceed to remove these warning in CMSSW. I think the LogWarning could be demoted to LogInfo or LogDebug.
Sincerely,
Won

[2022-10-03 11:55] swertz commented on #38686
Hi @srimanob , I've tried to run the above commands and everything works fine now, can you confirm the issue is fixed?

I've noticed that when running without `--dump-python`, the messages about adding the ID to ele/photons only appear for Nano, but appear for both Mini and Nano when running with `--dump-python`... any idea why this could happen? Regardless, running the config works in both cases.

[2022-10-03 12:03] tvami commented on #38586
@cms-sw/geometry-l2 @makortel this issue is resolved, shall it be closed?

[2022-10-03 12:05] tvami commented on #38198
hi @cms-sw/reconstruction-l2 did this happen in the end?

[2022-10-03 12:18] mmusich commented on #39570
the recipe at https://github.com/cms-sw/cmssw/issues/39570#issue-1393682784 when run on `lxplus-gpu` results in:

[code]

please create a recipe that can run without having access to hilton nodes.

[2022-10-03 12:27] bmjoshi commented on #39570
@mmusich Please use
`process.source.fileNames = ['file:/eos/cms/store/group/phys_egamma/swmukher/run359686_ls0263_index000081_fu-c2b03-27-01_pid2808063.raw']`

[2022-10-03 12:41] bmjoshi commented on #39570
This issue is not reproducible on lxplus-node. However, it is reproducible on GPU cluster at Milan. The difference that I found was the CUDA version. Please find the driver info and version below:
`
LXPLUS-GPU: CUDA runtime version 11.5, driver version 11.7, NVIDIA driver version 515.65.01
MILAN-GPU@P5:  CUDA runtime version 11.5, driver version 11.6, NVIDIA driver version 510.47.03
`

[2022-10-03 12:44] mmusich commented on #39570
with this recipe:

(after `ssh -X -Y <user>@lxplus-gpu.cern.ch`)

[code]

I am unable to reproduce the error.
You can find the resulting log file here: http://musich.web.cern.ch/musich/Issue-39570/out.out

[2022-10-03 12:44] mmusich commented on #39570
-1
   * cannot be reproduced offline

[2022-10-03 12:52] thomreis commented on #39568
This example is indeed an invalid detector id. We will take a look at the digis from the GPU unpacker to see why this happens.

The RecHit producer itself always runs on CPU at the moment but with different input collections on machines with a GPU. Therefore, an issue on the GPU unpacker can lead to a crash in the RecHit producer.

[2022-10-03 14:07] swertz commented on #38686
Yes but the exception (2) above does not happen anymore when running the config, despite the duplicate messages.

[2022-10-03 14:15] makortel commented on #39259
Just noticed this a duplicate of #37820. @cms-sw/reconstruction-l2 do you have preference which one to keep?

[2022-10-03 16:32] makortel commented on #38586
Fine with me

[2022-10-03 17:29] Dr15Jones commented on #36404
I did CommonTools/RecoUtils #39584

[2022-10-04 07:03] swertz commented on #38890
+xpog

[2022-10-04 07:03] cmsbuild commented on #38890
This issue is fully signed and ready to be closed.

[2022-10-04 08:41] srimanob commented on #38594
Proposed PR is https://github.com/cms-sw/cmssw/pull/39590
FYI @cms-sw/hgcal-dpg-l2 @cms-sw/geometry-l2

[2022-10-04 10:26] haozturk opened #39591 "Stageout failures at sites using SRM with rhel8"
Dear experts,

We see that many production workflows have failed at sites which use SRM during stageout. With a small local test, we can see that calls using SRM within this container fails while it succeeds on lxplus:
[code]

[This](https://cms-unified.web.cern.ch/cms-unified/report/pdmvserv_Run2022C_DisplacedJet_PromptNanoAODv10_220830_065109_6941) is an example production workflow which failed

[2022-10-04 10:26] cmsbuild commented on #39591
A new Issue was created by  @haozturk Hasan ztrk.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-04 12:51] missirol commented on #39234
The MUO POG has opened the corresponding PR in #39596.

[2022-10-04 13:26] rappoccio opened #39600 "SiPixelGainCalibrationTests failing in unit tests, cannot find GeometryExtended2026D49"
Unit tests for SiPixelGainCalibrationTests are failing, see for example [here](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el9_amd64_gcc11/CMSSW_12_6_X_2022-10-03-2300/unitTestLogs/CondTools/SiPixel#/).

[code]

[2022-10-04 13:27] cmsbuild commented on #39600
A new Issue was created by  @rappoccio .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-04 13:29] makortel commented on #39591
assign core

[2022-10-04 13:30] cmsbuild commented on #39591
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-04 13:34] perrotta commented on #39600
Fix already merged with #39572

[2022-10-04 13:36] #39600 closed

[2022-10-04 13:41] iarspider commented on #39591
@makortel we have to wait for @smuzaffar.

[2022-10-04 17:36] civanch commented on #38473
+1

[2022-10-04 17:36] #38473 closed

[2022-10-04 17:36] cmsbuild commented on #38473
This issue is fully signed and ready to be closed.

[2022-10-04 22:12] wddgit commented on #36404
These are done and the PRs are submitted now:

DQM/EcalPreshowerMonitorModule (PR #39616):
- ESDaqInfoTask ecalPreshowerDaqInfoTask
- ESDataCertificationTask ecalPreshowerDataCertificationTask
- ESDcsInfoTask ecalPreshowerDcsInfoTask

DQMServices/FwkIO (PR #39541):
- DummyReadDQMStore reader

[2022-10-05 09:03] michaelwassmer commented on #32347
@vlimant
Not yet. My latest state on this is here: https://github.com/michaelwassmer/cmssw/tree/CMSSW_12_3_4_patch1_ReworkMETCors
I think I just need to get started on the rebasing of this branch into master. I'll try to get this done in the next 1-2 weeks.

[2022-10-05 09:07] michaelwassmer commented on #33406
@vlimant
I'm not sure I understand what the issue is. Could you explain?

[2022-10-05 09:39] vlimant commented on #36461
please close
looks like everything was addressed here.

[2022-10-05 09:39] #36461 closed

[2022-10-05 09:43] vlimant commented on #33406
I don't know much more than what the PR description says https://github.com/cms-sw/cmssw/issues/33406#issue-855779681
looks like there are some python configuration files configuring modules that do not exist anymore ?

[2022-10-06 06:34] srimanob commented on #38594
Staring from CMSSW_12_6_X_2022-10-05-1100, unit tests seem to be OK now.

[2022-10-06 07:16] missirol commented on #39045
For the record, we continue to see this crash online sporadically. Runs where this happened:
[code]
(I haven't investigated recent crashes, I hope the original reproducer is sufficient)

FYI: @cms-sw/hlt-l2

[2022-10-06 07:16] missirol commented on #39568
FYI: @cms-sw/hlt-l2 @cms-sw/heterogeneous-l2

(HLT crashes, seemingly specific to reconstruction on GPUs)

[2022-10-06 07:17] missirol commented on #39570
FYI: @cms-sw/hlt-l2 @cms-sw/heterogeneous-l2

(HLT crashes, seemingly specific to reconstruction on GPUs)

[2022-10-06 15:00] swagata87 commented on #39570
There was another HLT crash due to GSF with similar error message, in run 359871.
Relevant Elog: http://cmsonline.cern.ch/cms-elog/1158552
The crash was reproducible in hilton machine; this was the error message in hilton; using error stream file `/store/error_stream/run359871/run359871_ls0093_index000227_fu-c2b01-39-01_pid3885773.raw`
[code]
With the fix mentioned above (https://github.com/cms-sw

[2022-10-07 06:30] Martin-Grunewald opened #39667 "cmssw-el8 fails on vocms006 and vocms007"
The error message is:

[code]

While the warning could perhaps be ignored for now, it seems the feature of ```user namespace```s has gotten lost within the last few days. How can it be restored? There should be a way given that it works on lxplus7 (neither WARNING nor ERROR), no?

[2022-10-07 06:30] cmsbuild commented on #39667
A new Issue was created by  @Martin-Grunewald Martin Grunewald.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-07 07:04] fwyzard commented on #39667
I think I "fixed" `vocms007`.
Can you give it a try ?

I need to reboot `vocms006` in order to apply the same changes - let me know when I can do that.

[2022-10-07 07:14] Martin-Grunewald commented on #39667
Great, thanks, on vocms007 the error is gone now, the WARNING is still there, and the shell is in
the singularity prompt:

[code]
Feel free to reboot vocms006 asap...

[2022-10-07 07:22] fwyzard commented on #39667
For the record:
  - add `namespace.unpriv_enable=1 user_namespace.enable=1` to `GRUB_CMDLINE_LINUX=...` in `/etc/default/grub`
  - regenerate `grub.conf` with `sudo grub2-mkconfig -o /boot/efi/EFI/centos/grub.cfg`
  - add `user.max_user_namespaces = 15000` to `/etc/sysctl.conf`
  - reboot

[2022-10-07 07:31] fwyzard commented on #39667
Done.

[2022-10-07 07:43] Martin-Grunewald commented on #39667
Thanks a lot @fwyzard !
What is left now is the above WARNING, and that seems to be specific to the cmssw-el8 script....
@smuzaffar

[2022-10-07 08:05] perrotta opened #39668 "Build CMSSW_12_6_0_pre3"

[2022-10-07 08:06] cmsbuild commented on #39668
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-07 08:07] perrotta commented on #39668
+1

[2022-10-07 08:08] cmsbuild commented on #39668
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-10-07 08:08] cmsbuild commented on #39668
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-10-07 08:08] cmsbuild commented on #39668
The build has started for el8_amd64_gcc10 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3650/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-07 08:09] cmsbuild commented on #39668
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3651/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-07 08:10] cmsbuild commented on #39668
The build has started for el8_amd64_gcc11 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3652/console
CMSDIST Branch: [IB/CMSSW_12_6_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-07 08:10] cmsbuild commented on #39668
The build has started for slc7_amd64_gcc10 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3653/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-07 08:13] cmsbuild commented on #39668
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3654/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-07 08:27] perrotta opened #39669 "DQM/Integration unit tests are failing in all releases but 12_6_X"
DQM/Integration unit tests are failing in large number in all releases but 12_6_X, in all cases apparently independently from the PR merged in the meanwhile.

I observed it starting in:
CMSSW_12_5_X_2022-10-04-1100
CMSSW_12_4_X_2022-10-03-2300
CMSSW_12_3_X_2022-09-30-1100
CMSSW_12_2_X_2022-10-03-2300

No such issue (yet?) in the master release.
In all cases there were no PR merged for th IB when i

[2022-10-07 08:27] cmsbuild commented on #39669
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-07 08:27] perrotta commented on #39669
assign dqm,externals

[2022-10-07 08:28] cmsbuild commented on #39669
New categories assigned: dqm,externals

@jfernan2,@ahmad3213,@micsucmed,@iarspider,@rvenditti,@smuzaffar,@emanueleusai,@syuvivida,@aandvalenzuela,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-07 09:27] mmusich commented on #39110
I add a further look to this:

these are all Pixel DetIds:

<details>
  <summary> Info on the DetIds </summary>

[code]
</details>

namely it's a track with 1 hit in BPix 1 and 6 hits on side 1 of FPix (suggesting it's very forward).

Comparing the rigid body alignment parameters (3 cartesian coordinates of the sensor active area center and corresponding Euler angles) of these `DetId`s between the

[2022-10-07 10:16] aandvalenzuela commented on #39667
Hi @Martin-Grunewald, I think this warning is related to the fact that Singularity has been "recently" rebranded to Apptainer. I will raise this concert to @smuzaffar on Monday since I guess we will need to adapt our container to Apptainer now.

[2022-10-07 10:23] AdrianoDee commented on #39045
Having tested the configuration posted by @missirol above with a dummy fix in which we sort the digit by the raw id:

[code]

everything run smoothly. I don't see any obvious drawback (the sorting itself takes $0.71 \pm 0.12 \text{ms} $ on a gpu machine at P5). If this makes sense I may quickly open a PR.

[2022-10-07 12:24] fwyzard commented on #39045
@AdrianoDee the one thing that is not clear to me is if there is anything that makes use of the digis being sorted *on the gpu* ?

[2022-10-07 12:53] VinInn commented on #39045
GPU code expects data from a single module to be contiguous.
It does not expect rawid to be sorted.
The sequence printed by @ferencek and @nothingface0 should give problems on gpu:
see https://cmssdt.cern.ch/dxr/CMSSW/source/RecoLocalTracker/SiPixelClusterizer/plugins/gpuClustering.h#68
SO in the case in hand one should find module 344795140 three times and module 344794116 at least twice (as the

[2022-10-07 13:00] fwyzard commented on #39045
OK, then the sorting (at least by module id) should be added to the cpu code ?

[2022-10-07 13:10] VinInn commented on #39045
Not sure what to do. The input format is not what expected (duplicated modules?). It's a bit like duplicated pixels.
The numbering of the clusters is not consistent in any case: there will be clusters with the same gpu-index in a those duplicated modules.
In the event above the first two 344795140 seem suspicious but they are splitting 344794116 in two (or three).
Clustering cannot be "perfect" in

[2022-10-07 13:33] VinInn commented on #39045
here
https://cmssdt.cern.ch/dxr/CMSSW/source/RecoLocalTracker/SiPixelClusterizer/plugins/gpuClustering.h#386
something for sure goes "wrong". Last arrived is served...

[2022-10-07 13:47] makortel opened #39672 "Segfault in GeometricDet::deleteComponents()"
Workflow 138.5 step 3 crashed in slc7_amd64_gcc10/CMSSW_12_6_X_2022-10-06-2300 with an interesting segfault during the job shutdown
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_6_X_2022-10-06-2300/pyRelValMatrixLogs/run/138.5_ExpressCollisions+RunMinimumBias2021+TIER0EXPRUN3+ALCARECOEXPR3+HARVESTDEXPR3/step3_ExpressCollisions+RunMinimumBias2021+TIER0EXPRUN3+ALCAREC

[2022-10-07 13:47] makortel commented on #39672
assign core,geometry

[2022-10-07 13:47] cmsbuild commented on #39672
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-07 13:47] cmsbuild commented on #39672
New categories assigned: geometry,core

@mdhildreth,@ianna,@Dr15Jones,@Dr15Jones,@smuzaffar,@makortel,@makortel,@bsunanda,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-07 13:55] VinInn commented on #39045
In my opinion if one switch ```GPU_DEBUG``` some assert will fail.
As is  rechits "maybe" messed up in the affected modules (some missing, some "added"). A crash on gpu is unlikely, not excluded.

[2022-10-07 14:22] cmsbuild commented on #39668
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-el8_ppc64le_gcc10/3651
Some tes

[2022-10-07 14:40] rvenditti commented on #39669
For the time being, I just reproduced the error in CMSSW_12_3_X_2022-09-30-1100 (after changing the input dataset in https://github.com/cms-sw/cmssw/blob/master/DQM/Integration/python/config/unittestinputsource_cfi.py#L41 to avoid the xrootd error), but we don't have any ideas of the reason why. I tried to run a couple of DQM clients without unit test, and they work properly.

[2022-10-07 15:15] cmsbuild commented on #39668
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-el8_ppc64le_gcc10/3651

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-07 16:07] fwyzard commented on #39045
Actually, no, I do not get an assertion failure, only the failure in the CPU conversion:
[code]

[2022-10-07 16:12] VinInn commented on #39045
ok. let's protect the conversion from SoA and go on.

[2022-10-07 16:14] cmsbuild commented on #39668
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-el8_aarch64_gcc10/3654
Some tes

[2022-10-07 16:54] cmsbuild commented on #39668
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-el8_aarch64_gcc10/3654

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-07 17:16] fwyzard commented on #39045
Adding the `sort`, I don't get any other messages.

[2022-10-07 17:30] cmsbuild commented on #39668
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-slc7_amd64_gcc10/3653
Some tests

[2022-10-07 18:03] cmsbuild commented on #39668
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-el8_amd64_gcc11/3652
Some tests (

[2022-10-07 18:18] cmsbuild commented on #39668
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-slc7_amd64_gcc10/3653

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-07 18:49] cmsbuild commented on #39668
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-el8_amd64_gcc11/3652

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-07 18:54] cmsbuild commented on #39668
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3-el8_amd64_gcc10/3650

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-07 19:03] rappoccio commented on #39668
upload all

[2022-10-07 19:04] cmsbuild commented on #39668
Queing Jenkins upload for slc7_amd64_gcc10

[2022-10-07 19:04] cmsbuild commented on #39668
Queing Jenkins upload for el8_amd64_gcc10

[2022-10-07 19:04] cmsbuild commented on #39668
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-10-07 19:04] cmsbuild commented on #39668
Queing Jenkins upload for el8_aarch64_gcc10

[2022-10-07 19:04] cmsbuild commented on #39668
Queing Jenkins upload for el8_amd64_gcc11

[2022-10-07 19:06] cmsbuild commented on #39668
The upload has started for el8_amd64_gcc10 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2487/console

[2022-10-07 19:06] cmsbuild commented on #39668
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2486/console

[2022-10-07 19:06] cmsbuild commented on #39668
The upload has started for el8_amd64_gcc11 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2488/console

[2022-10-07 19:07] cmsbuild commented on #39668
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2489/console

[2022-10-07 19:07] cmsbuild commented on #39668
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3-el8_amd64_gcc11/2488

[2022-10-07 19:08] cmsbuild commented on #39668
The upload has started for slc7_amd64_gcc10 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2490/console

[2022-10-07 19:08] cmsbuild commented on #39668
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3-el8_aarch64_gcc10/2486

[2022-10-07 19:08] cmsbuild commented on #39668
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3-slc7_amd64_gcc10/2490

[2022-10-07 19:09] cmsbuild commented on #39668
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3-el8_ppc64le_gcc10/2489

[2022-10-07 19:29] rappoccio commented on #39668
release-notes

[2022-10-07 19:29] cmsbuild commented on #39668
Generating release notes since CMSSW_12_6_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-07 19:29] cmsbuild commented on #39668
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_6_0_pre3 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_6_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_6_0_pre3

[2022-10-07 19:37] cmsbuild commented on #39668
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre3

[2022-10-08 12:49] slava77 commented on #39449
pre3 is out. I guess we can proceed with the plan .
One variant is available as #39554 (currently made to master) and at a glance it seems ready (the bw compatibility is confirmed and the HLT validation plots roughly confirm the expected precision of the lossy compression change).

Should special branches be made?

@perrotta @rappoccio

[2022-10-08 15:50] missirol opened #39680 "CUDA-related HLT crashes between run-359694 and run-359764"
_Note_ : This issue is hopefully just for documentation purposes, as a possibile solution (#39619) has already been put in place.

Between Oct-1 and Oct-4 (2022), several runs [1] were affected by burst of HLT crashes (a reproducer can be found in [3]).

Stack traces [4] and offline checks [2] pointed to issues with reconstruction running on GPU.

@fwyzard identified an issue in the ECAL-GPU unpac

[2022-10-08 15:50] cmsbuild commented on #39680
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-08 15:51] missirol commented on #39680
assign ecal-dpg,reconstruction,heterogeneous

FYI: @cms-sw/hlt-l2

[2022-10-08 15:51] cmsbuild commented on #39680
New categories assigned: heterogeneous,reconstruction,ecal-dpg

@mandrenguyen,@fwyzard,@clacaputo,@simonepigazzini,@makortel,@jainshilpi,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-08 22:11] swagata87 commented on #39570
Given the fix PR is merged in master, I'll prepare backport to 12_5_X and 12_4_X.

Similar GSF crashes is expected to happen rarely in long collision runs until the fix is online. Another example crash is here, from Friday's overnight run: http://cmsonline.cern.ch/cms-elog/1159020. This one was also reproducible using error_stream file, and the crash goes away with the fix.

I guess we have enough

[2022-10-09 10:38] missirol commented on #37598
Another instance of this issue was in `CMSSW_12_4_X_2022-10-07-1100`.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_4_X_2022-10-07-1100/el8_amd64_gcc10/HLT_Integration_PIon_MC.log

[2022-10-09 11:06] smuzaffar commented on #39667
https://github.com/cms-sw/cmssw-osenv/pull/8 should fix the `WARNING: DEPRECATED USAGE: Environment variable SINGULARITY_BINDPATH will not be supported in the future, use APPTAINER_BINDPATH instead` warning

new `cmssw-*` commands now prefer to use `apptainer` if available ( e.g. on `cs8` systems) otherwise if falls based to use `singularity` (e.g. CentOS7 systems)

[2022-10-09 13:07] fwyzard commented on #39570
I expect the HLT DOCs will anyway document them ?

[2022-10-09 17:38] cmsbuild commented on #39668
The cleanup has started for el8_aarch64_gcc10

[2022-10-09 17:38] cmsbuild commented on #39668
The cleanup has started for slc7_amd64_gcc10

[2022-10-09 17:38] cmsbuild commented on #39668
The cleanup has started for el8_amd64_gcc10

[2022-10-09 17:38] cmsbuild commented on #39668
The cleanup has started for el8_ppc64le_gcc10

[2022-10-09 17:38] cmsbuild commented on #39668
The cleanup has started for el8_amd64_gcc11

[2022-10-09 17:38] #39668 closed

[2022-10-09 17:39] cmsbuild commented on #39668
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3-el8_aarch64_gcc10/2193

[2022-10-09 17:39] cmsbuild commented on #39668
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3-el8_amd64_gcc11/2195

[2022-10-09 17:39] cmsbuild commented on #39668
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3-el8_amd64_gcc10/2194

[2022-10-09 17:39] cmsbuild commented on #39668
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3-el8_ppc64le_gcc10/2196

[2022-10-09 17:39] cmsbuild commented on #39668
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3-slc7_amd64_gcc10/2197

[2022-10-09 18:42] fwyzard commented on #39045
@ferencek @nothingface0 while sorting the data technically fixes the crash, it is not clear to us if the resulting reconstruction is correct, and in fact if the input data are valid or not.
Could you comment if it is expected that some modules are split across the data stream ?

[2022-10-09 18:43] fwyzard commented on #39045
assign trk-dpg

[2022-10-09 18:43] cmsbuild commented on #39045
New categories assigned: trk-dpg

@connorpa,@sroychow you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-09 18:59] trocino commented on #39045
Hi @fwyzard @VinInn and all. Do you still need raw files from recent runs where this error appeared, for testing purposes?
At the moment you can find run 359812 on Hilton:
`/store/error_stream/run359812`
We had another crash from `SiPixelDigisClustersFromSoA` in run 360019 yesterday , which we haven't copied over yet. Would that still be useful (and same for future runs)?

[2022-10-09 19:06] fwyzard commented on #39045
Hi @trocino , I think it would be useful to keep these files, as they can help us determine if the data is unpexpected but good, or the result of some data corruption.

[2022-10-09 22:16] ferencek commented on #39045
I would naively think there is something wrong with the input data and that those non-contiguous module IDs are due to spurious pixel hits (possibly the mechanism by which they appear is similar to the one causing duplicate pixels within the same module). However, as @makortel pointed out, digis and clusters are stored in different types of the `DetSetVector` collection and the one used for digis

[2022-10-10 06:27] Martin-Grunewald commented on #39667
@smuzaffar
Thank you!

[2022-10-10 07:43] VinInn commented on #39045
detecting on GPU is trivial
enough to count the number of appearance of a given module at
https://cmssdt.cern.ch/dxr/CMSSW/source/RecoLocalTracker/SiPixelClusterizer/plugins/gpuClustering.h#87

What to do next is unclear to me.
One could invalidate "single" spurious pixels and re-count (the tricky part is the definition of "spurious"). sorting on gpu is tough.

[2022-10-10 11:22] vlimant commented on #39452
passed #39472 , there are a two scripts that are ran on the workflows outputs:

- branch size summary using `$CMSSW_BASE/src/PhysicsTools/NanoAOD/test/inspectNanoFile.py step2.root -j branchsize.json`
- runtime summary using `get_timing_from_jobreport.py fwk_jobreport.xml timing_report.json` with https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration/-/blob/master/scripts/get_timing_from_jobreport

[2022-10-10 11:59] vlimant commented on #34254
why didn't we move this forward @slava77 ?

[2022-10-10 12:00] vlimant commented on #34443
+1
we took note of the MET configuration that needs cleaning

[2022-10-10 12:00] cmsbuild commented on #34443
This issue is fully signed and ready to be closed.

[2022-10-10 12:50] smuzaffar commented on #39591
@haozturk , I think problem is with OSG software stack e.g. running same command under `opensciencegrid/osg-wn:3.5-el8` container also hangs and then fails
[code]

I have rebuilt `cmssw/cms:rhel8` to get the latest versions of packages and I noticed that `gfal-ls` works if `/cvmfs` is not mounted
[code]
 but if I mount `/cvmfs` then it fails
[code]

[2022-10-10 12:51] smuzaffar commented on #39591
note that `cmssw/cms:rhel8` containers are based on `opensciencegrid/osg-wn:3.5-el8`

[2022-10-10 13:18] swertz commented on #38686
Looking into it, the messages only appear once, for the Nano customization, not the Mini. The reason they appear a second time when dumping the python is that `edmConfigDump` executes the config, thereby calling `nanoAOD_customizeMC(process)` again.

The EGM VID in https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/nano_cff.py#L223-L240 could be cleaned up a bit but things see

[2022-10-10 13:28] stlammel commented on #39591
Is this a side effect of OSG dropping GSI support (which SRM/gsi/gridftp use), i.e. do we need to decouple from the OSG worker node clients and use the EGI, WLCG , or our own tools for this?
(I thought OSG 3.5 had GSI support but maybe this was removed for CentOS 8? Shall we ask OSG support to comment?)
- Stephan

[2022-10-10 13:34] Sam-Harper commented on #39680
so just keep track of things, it is still happening at a much lower rate (14  crashes in 360090 thanks @trocino for eporting).

The relavent DQM is :
https://cmsweb.cern.ch/dqm/online/start?runnr=360090;dataset=/Global/Online/ALL;sampletype=online_data;filter=all;referencepos=overlay;referenceshow=customise;referencenorm=True;referenceobj1=refobj;referenceobj2=none;referenceobj3=none;referenceobj4

[2022-10-10 14:03] trocino commented on #39680
We also had 8 in 360075.
The corresponding files are on Hilton:
[code]

[2022-10-10 14:06] trocino commented on #39045
Thanks Andrea. The file is on Hilton:
[code]

[2022-10-10 14:13] thomreis commented on #39680
For both runs it is EB+08 that shows integrity errors.

[2022-10-10 14:21] thomreis commented on #39680
Are there plans for a patch release to deploy the fix from #39619 ?

[2022-10-10 14:43] srimanob commented on #38686
Hi @swertz
Thanks. I think I misunderstood your message [here](https://github.com/cms-sw/cmssw/issues/38686#issuecomment-1265331664). The answer is "Yes", the issue was fixed by https://github.com/cms-sw/cmssw/pull/39127. There was a discussion on how things are loaded, and behavior of config file in general. At the end, we chose that `dump_python` will use `edmConfigDump` instead of `dumpPython`.

[2022-10-10 14:44] makortel commented on #37169
Yes, the error is still occurring.

[2022-10-10 14:44] VinInn commented on #39045
adding this printout
[code]
I got this sequence
[code]

what about roc 17??

[2022-10-10 14:47] VinInn commented on #39045
btw the cpu code detect this
[code]

and few others....

[2022-10-10 14:48] VinInn commented on #39045
det 344795140 is on link 43 and 44 not 41....

[2022-10-10 14:49] VinInn commented on #39045
Solution: detect map errors on GPU

[2022-10-10 15:09] smuzaffar commented on #39669
Could it be that dataset `/ExpressCosmics/Commissioning2021-Express-v1/FEVT` was recently deleted  that is why xrootd can not find this file any more? Note that we have cached this files in ibeos area but one need to use `protocol=ibeos` to access it e.g. the following works
[code]

Or other solution is to backport the `SITECONFIG_PATH` changes  https://github.com/cms-sw/cmssw/pull/37278#issuecomm

[2022-10-10 15:12] VinInn commented on #39045
proposed solution
[code]

[2022-10-10 15:22] smuzaffar commented on #39667
@fwyzard , for the record, we also saw these `Failed to create user namespace: user namespace disabled` error after the `singularity` to `apptainer` updated. The fix was to installed `apptainer-suid` package too ( which I think does the same what you did in https://github.com/cms-sw/cmssw/issues/39667#issuecomment-1271208292 ) but no reboot was needed.

[2022-10-10 15:29] stlammel commented on #39591
Hallo Shahzad,
Thanks! We had this "mixed" and broken environment before and this was one of the reasons for using the OSG WN client environment. Looking at the setup script, it puts the OSG location ahead in the PATH/LD_LIBRARY_PATH as it should.
The OSG 3.5 WN environment for CentOS 8 switched to python3 but /cvmfs/oasis.opensciencegrid.org/mis/osg-wn-client/3.5/3.5.62-1/el8-x86_64/usr/bin conta

[2022-10-10 15:47] smuzaffar commented on #39452
@vlimant , I would suggest to integrate these `https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration` scripts in to cmssw first ( may be in to [PhysicsTools/NanoAOD/scripts](https://github.com/cms-sw/cmssw/tree/master/PhysicsTools/NanoAOD/scripts) directory ). Once these are available in the cmssw Ibs then we can update bot to run extra `nano` workflows (on demand) and run these scripts on `nano`

[2022-10-10 16:14] fwyzard commented on #39667
No, it is definitely not the same thing - and we should **not** run singularity/apptainer suid!

I would strongly suggest to revert the installation of `apptainer-suid`, and instead enable the user namespaces in the kernel.

See https://apptainer.org/docs/user/main/security.html for more information.

[2022-10-10 20:32] agrohsje opened #39692 "Parton shower weights in P8.306 different with respect to P8.240"
It seems we are still having a bug in the parton shower weights of P8.3.
You can see the comparison for isr down between P8.240 and the P8.306 here:
![image](https://user-images.githubusercontent.com/9880717/194947268-4bebd04a-95e5-45b1-b434-b7cfc6d37cb7.png)
I checked standalone with a few events, and already there the trend seems to be confirmed.
For FSR however, I couldn't spot at difference. F

[2022-10-10 20:32] cmsbuild commented on #39692
A new Issue was created by  @agrohsje .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-10 21:40] smuzaffar commented on #39667
I can not revert `apptainer-suid` as it was installed by CERN IT team on our cvmfs publisher nodes

[2022-10-11 01:28] trtomei opened #39693 "HLT crash in run 359998: Unavailable Conditions of type HcalChannelQuality"
Crash in Run 359998
http://cmsonline.cern.ch/cms-elog/1159020

with following message:
[code]

Unfortunately not reproducible yet. The file reconverted to ROOT is
`/nfshome0/hltpro/hilton_c2e36_35_04/hltpro/thiagoScratch/run359998_ls0335.root`,
and the relevant configurations are:

- CMSSW_12_4_9
- GT: 124X_dataRun3_HLT_v4
- /cdaq/physics/Run2022/2e34/v1.4.0/HLT/V10

A copy of the configuration fi

[2022-10-11 01:29] cmsbuild commented on #39693
A new Issue was created by  @trtomei Thiago Tomei.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-11 07:43] swertz commented on #38686
+xpog

Ok, thanks for confirming!

[2022-10-11 07:44] bsunanda commented on #39445
OK Matti
________________________________
From: Matti Kortelainen ***@***.***
Sent: 20 September 2022 16:02
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Crashes in workflow 39434.911 (Issue #39445)

CMSSW_12_6_X_2022-09-15-2300 seems to be the first IB where these crashes appeared. The HcalDDDRecConstants::getHCID() seems to play some role in most of them.

None of th

[2022-10-11 08:16] fwyzard commented on #39680
Given that we have a likely fix since last week, why don't we have a patch
release with it ?

[2022-10-11 08:35] missirol commented on #39693
FYI: @cms-sw/hlt-l2 @silviodonato

[2022-10-11 08:35] cmsbuild commented on #39693
New categories assigned: hcal-dpg

@wang-hui,@georgia14,@igv4321 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-11 08:37] perrotta commented on #39680
@fwyzard @thomreis we could build that release even now (it will be a fill release, CMSSW_12_4_10).
However, yesterday at the [joint ops meeting](https://docs.google.com/document/d/1khKT4rW5YDPEDorLoMmiYwG9XqVex0Z0qvE3PXzE6eU/edit#heading=h.u0yzrsyzy4gn) it was said that HLT would have liked to wait for the end of the week instead, when also the other fixes expected could have been ready and merge

[2022-10-11 08:45] missirol commented on #39693
For the record, this online crash happened more than once (and it does not seem to be reproducible offline). Affected runs (afaik):
[code]

[2022-10-11 09:02] davidlange6 commented on #38044
I guess using th2f::getbuffer speeds this code up tremendously?

On May 23, 2022 6:18 PM, Matti Kortelainen ***@***.***> wrote:

unassign core

—
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/38044#issuecomment-1134876625>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ABGPFQ2EP6NTB42SULMC7QTVLOVQ5ANCNFSM5WV5XOMQ>.
You are receiving this

[2022-10-11 09:10] davidlange6 commented on #39098
It would be interesting to know the order of magnitude number of warnings in cmssw (as this also flags things like doubles -> float)..

[2022-10-11 09:13] fwyzard commented on #39680
@perrotta can't we build a patch release based on `CMSSW_12_4_9_patch1` adding _only_ the changes necessary to fix the HLT crashes, namely #39580, #39619, and #39681 ?

[2022-10-11 09:27] davidlange6 commented on #39212
Please don't . DataFormats should not depend on L1Trigger.. (not sure why this is repeatedly a problem - I guess the build system needs a script to catch this at PR time)

[2022-10-11 09:27] davidlange6 commented on #37687
Seems the code is part of the 2015 rereco workflows regularly tested. So it should be fixed (or removed from those workflows if it is there by mistake)

[2022-10-11 09:56] thomreis commented on #39680
A `CMSSW_12_4_9_patch2` now would allow ECAL to unmask EB-06 and prevent an eventual masking of EB+08, so I think that is the better option.

[2022-10-11 10:02] perrotta commented on #39680
We will discuss it this afternoon. To get ready for that discussion: why don't you like a full release, which would be far simpler (for us, of course)? Then a patch release on top of it can be quickly prepared with the remaining HLT fixes later this week

[2022-10-11 10:31] fwyzard commented on #39680
Because a patch release is something that we should be able to build and deploy in a matter of hours, not days. _I.e._ once a fix is available, we should be able to request a patch release at the morning meeting and be using it online by the afternoon.

IMHO this year we seem to have lost the mindset of a data taking experiment, where fixes are both frequent and urgent. Instead, it looks to me lik

[2022-10-11 10:46] fwyzard commented on #39680
Case in point, if we build a `CMSSW_12_4_10` release, the sooner that it can be deployed online is likely on Thursday morning (build overnight, Tier-0 replay and HLT tests on Wednesday, if all goes well deploy on Thursday).

If we could have requested a `CMSSW_12_4_9_patch2` release this morning, we should have a mechanism to have it ready by this afternoon :-/

[2022-10-11 10:47] perrotta commented on #39680
Andrea, as of NOW a full release could be much faster: if you ask, we can even start building now, and you'll have it ready by this evening, tomorrow at most. (Would you or HLT have asked yesterday instead of saying that it could have been delaied till the end of the week it would have been even faster)

Making a patch release with the three PRs you are asking for, would require some amount of man

[2022-10-11 10:48] perrotta commented on #39680
While you think what is best for you, I start building 12_4_10: it can always get stopped, if you prefere something else.

[2022-10-11 10:49] perrotta opened #39694 "Build CMSSW_12_4_10"
Start building 12_4_10 as it could be needed by HLT.
We will upload it once ready if and when HLT will confirm that they need it: it could be during the ORP of Oct 11

[2022-10-11 10:49] cmsbuild commented on #39694
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-11 10:50] perrotta commented on #39694
+1

[2022-10-11 10:50] cmsbuild commented on #39694
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-10-11 10:50] cmsbuild commented on #39694
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-10-11 10:51] fwyzard commented on #39680
This is a separate discussion than I am trying to have with TSG: _why_ this was not asked.
Were I not stuck in bed dealing with Covid, I would have.

I do understand that. And I don't think this is a viable procedure: we do need a way to make patch releases easier than that !

[2022-10-11 10:53] perrotta commented on #39680
See https://github.com/cms-sw/cmssw/issues/39694

[2022-10-11 11:02] cmsbuild commented on #39694
The build has started for el8_amd64_gcc10 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3655/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-11 11:02] cmsbuild commented on #39694
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3656/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-11 11:02] cmsbuild commented on #39694
The build has started for el8_ppc64le_gcc10 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3657/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-11 11:29] cmsbuild commented on #39694
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3658/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-11 11:32] davidlange6 commented on #39680
What is actually complex here? You can open a milestone and accept PRs just as with any other release cycle. (At least thats what was done in run2) - the "hope" can then be tested via the release build (if you are doing something that makes this procedure error prone, then likely its best not being a patch...)

[2022-10-11 12:02] eyigitba commented on #37687
I thought this was fixed in https://github.com/cms-sw/cmssw/pull/37707. is that not the case?

[2022-10-11 12:07] davidlange6 commented on #37687
Ignore my message - it was sent months and months ago and for some reason just surfaced today

[2022-10-11 13:46] makortel commented on #39692
assign generators

[2022-10-11 13:47] cmsbuild commented on #39692
New categories assigned: generators

@mkirsano,@menglu21,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-11 13:57] Saptaparna commented on #39692
Also opened a pythia issue: https://gitlab.com/Pythia8/releases/-/issues/214

[2022-10-11 14:23] fwyzard commented on #39680
I agree, and I guess the concern is that the part where the PRs that are already merged in the 12.4.x branch need to be re-opened for the new target.

I think that, at least for simple PRs like the ones discussed here, it should be enough to do
[code]
then push the resulting branches and open the corresponding PRs.

Still, I acknowledge that it's not ideal, and more work than building a release fr

[2022-10-11 14:33] davidlange6 commented on #39680
If the original branches were based on 12_4_9_patch1 or older, all this is a no-op and one can just make a second PR with the same developer branch as originally (90%+ of the time its true I guess).

This of course should be automated if that automation is thought to be less work to do and maintain than doing what's below. It never seemed that way when I dealt with it. (But ymmv)

[2022-10-11 14:38] cmsbuild commented on #39694
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10-slc7_amd64_gcc10/3656
Some tests ( r

[2022-10-11 14:47] wddgit commented on #30044
The last time we discussed this issue, one question that came up was whether our design for storing parentage of products could be useful for storing the information we are discussing in this issue. I agreed to review that and summarize that design.

In memory the Parentage objects are in a ParentageRegistry. That is basically a map using the ParentageID (a big hash) to reference its contents. Pro

[2022-10-11 14:53] fwyzard commented on #39680
Agreed, and in this case all three are based on `CMSSW_12_4_9` or `CMSSW_12_4_9_patch1`... but at least for two of them, the original branch is gone :-p

Still, one could use the `official-cmssw:pull/39580/head` _etc._ branched instead of recreating new ones.

[2022-10-11 14:58] cmsbuild commented on #39694
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10-el8_amd64_gcc10/3655
Some tests ( run

[2022-10-11 15:13] rappoccio commented on #39694
upload el8_amd64_gcc10

[2022-10-11 15:13] rappoccio commented on #39694
upload all

[2022-10-11 15:14] cmsbuild commented on #39694
Queing Jenkins upload for slc7_amd64_gcc10

[2022-10-11 15:14] cmsbuild commented on #39694
Queing Jenkins upload for el8_amd64_gcc10

[2022-10-11 15:14] cmsbuild commented on #39694
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-10-11 15:16] cmsbuild commented on #39694
The upload has started for el8_amd64_gcc10 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2491/console

[2022-10-11 15:17] cmsbuild commented on #39694
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2492/console

[2022-10-11 15:17] cmsbuild commented on #39694
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10-el8_aarch64_gcc10/3658
Some tests (

[2022-10-11 15:17] cmsbuild commented on #39694
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2493/console

[2022-10-11 15:17] cmsbuild commented on #39694
Queing Jenkins upload for el8_aarch64_gcc10

[2022-10-11 15:17] cmsbuild commented on #39694
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10-el8_ppc64le_gcc10/2492

[2022-10-11 15:18] cmsbuild commented on #39694
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10-slc7_amd64_gcc10/2493

[2022-10-11 15:18] cmsbuild commented on #39694
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2494/console

[2022-10-11 15:18] cmsbuild commented on #39694
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10-el8_amd64_gcc10/2491

[2022-10-11 15:18] cmsbuild commented on #39694
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10-el8_aarch64_gcc10/2494

[2022-10-11 15:26] cmsbuild commented on #39694
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10-slc7_amd64_gcc10/3656

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-11 15:34] cmsbuild commented on #39694
Generating release notes since CMSSW_12_4_9_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-11 15:37] cmsbuild commented on #39694
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_10

[2022-10-11 16:23] trtomei commented on #39045
Hi, sorry to bug -- how is this coming along?
Is there consensus to add the solution from @VinInn above to the `SiPixelRawToClusterGPUKernel.cu` (which I take is the same as `SiPixelRawToClusterCUDA` from @ferencek )?

[2022-10-11 16:31] rappoccio opened #39695 "Special branch and tests for compression developments in #39554"
At the ORP meeting 11-October-2022, there was a request to make a branch off of CMSSW_12_6_0_pre3 with only the commits from PR #39554 in place. This was done [here](https://github.com/cms-sw/cmssw/tree/CMSSW_12_6_0_pre3_CompressionBranch).

A summary of actions to be done is [here](https://github.com/cms-sw/cmssw/pull/39554#issuecomment-1274929751).

Proposed actions:

* Create full release title

[2022-10-11 16:32] cmsbuild commented on #39695
A new Issue was created by  @rappoccio .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-11 18:52] rappoccio opened #39697 "Build CMSSW_12_6_0_pre3_LossyCompression"
RELEASE_QUEUE: CMSSW_12_6_X
CMSSW_COMMIT: CMSSW_12_6_0_pre3_CompressionBranch

Making a release on a separate branch that is on top of pre3 in order to test the new Lossy Compression algorithm from [here](https://github.com/cms-sw/cmssw/pull/39554). This can then be used to make special relvals to investigate the impact of the compression algorithm on higher statistics.

[2022-10-11 18:53] cmsbuild commented on #39697
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-11 18:53] rappoccio commented on #39695
Creating a build prototype [here](https://github.com/cms-sw/cmssw/issues/39697). Once we get signoff from RECO and CORE we can start the build process.

[2022-10-11 19:15] cmsbuild commented on #39697
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-11 19:23] slava77 commented on #39695
I'm curious of the process of the signoff. There are no labels for this issue. Should @cms-sw/reconstruction-l2 and @cms-sw/core-l2  post an explicit message "go ahead" or smth in this thread?

[2022-10-11 20:05] makortel commented on #39695
@rappoccio The labels need to be set with the `assign core,reconstruction` syntax, otherwise the bot will remove them (like happened above).

From core point of view the branch above looks good.

The only thing I wonder is from https://github.com/cms-sw/cmssw/issues/39449#issuecomment-1258301160

Is the splitting of PAT/miniAOD into a separate step from RECO something that can/will be done at the

[2022-10-11 20:42] rappoccio commented on #39695
assign core,reconstruction

[2022-10-11 20:42] rappoccio commented on #39695
Thanks @makortel , yes, I think this can be done at relval submission time.

[2022-10-11 20:42] cmsbuild commented on #39695
New categories assigned: core,reconstruction

@mandrenguyen,@Dr15Jones,@smuzaffar,@clacaputo,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-11 20:51] makortel commented on #39695
+core

[2022-10-11 21:51] smuzaffar commented on #39697
+1

[2022-10-11 21:52] cmsbuild commented on #39697
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre3_LossyCompression. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-10-11 21:52] cmsbuild commented on #39697
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-10-11 21:53] cmsbuild commented on #39697
The build has started for el8_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3659/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-11 21:53] cmsbuild commented on #39697
The build has started for el8_amd64_gcc11 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3660/console
CMSDIST Branch: [IB/CMSSW_12_6_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-11 21:53] cmsbuild commented on #39697
The build has started for slc7_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3661/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-11 21:54] cmsbuild commented on #39697
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3662/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-11 23:00] cmsbuild commented on #39697
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3663/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-12 00:53] srimanob opened #39702 "Failure in DD4hep phase-2 in CMSSW_12_6_X_2022-10-11-2300"
Failure of workflow 20834.911 in CMSSW_12_6 2022-10-11-2300
The workflow ran successfully in CMSSW_12_6_X_2022-10-11-1100 (workflow id was 39434.911 before ResetID)

[code]

[2022-10-12 00:53] cmsbuild commented on #39702
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-12 00:58] #38686 closed

[2022-10-12 01:00] #34443 closed

[2022-10-12 01:13] ferencek commented on #39045
It is then not just roc=17 that is spurious but any roc>8 (seems to be confirmed by https://github.com/cms-sw/cmssw/blob/CMSSW_12_4_0/EventFilter/SiPixelRawToDigi/src/PixelDataFormatter.cc#L49). In August of last year I privately emailed Danek about fed=1326, link=41, roc=9 after Marco Musich reported seeing these warnings when privately re-recoing CRUZET data. The answer from Danek was:

There wa

[2022-10-12 03:18] cmsbuild commented on #39697
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-slc7_amd64_gcc1

[2022-10-12 03:26] cmsbuild commented on #39697
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-el8_ppc64le_gc

[2022-10-12 03:35] cmsbuild commented on #39697
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-el8_amd64_gcc10/

[2022-10-12 03:35] cmsbuild commented on #39697
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-el8_amd64_gcc11/

[2022-10-12 03:46] makortel commented on #39702
The segfault occurs in `HcalDDDRecConstants::getHCID()` so this looks like a duplicate of #39445

[2022-10-12 03:55] cmsbuild commented on #39697
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-el8_aarch64_gc

[2022-10-12 04:04] srimanob commented on #39702
Oh, that issue also happen in slc7_amd64_gcc10 ?
I skim it very quick and understood that it happens in specific SCRAM_ARCH. Sorry.

[2022-10-12 04:05] cmsbuild commented on #39697
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-slc7_amd64_gcc10/3661

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-12 04:20] cmsbuild commented on #39697
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-el8_amd64_gcc10/3659

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-12 04:21] cmsbuild commented on #39697
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-el8_amd64_gcc11/3660

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-12 04:28] makortel commented on #39702
Yeah, it seems to be occurring randomly here and there.

[2022-10-12 04:37] cmsbuild commented on #39697
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-el8_ppc64le_gcc10/3662

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-12 04:45] cmsbuild commented on #39697
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre3_LossyCompression-el8_aarch64_gcc10/3663

Tests results:
48 47 46 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-12 05:10] srimanob commented on #39702
OK, thanks.
I close the issue here.

[2022-10-12 05:10] #39702 closed

[2022-10-12 07:14] missirol commented on #37598
Another instance of this issue was in `CMSSW_12_4_X_2022-10-11-1100`, albeit with a somewhat new error message [*].

(I know I sound like a broken record; I just mean to highlight that the issue persists; when there are less urgent matters, I will try to come up with a solution, e.g. https://github.com/cms-sw/cmssw/issues/39345#issuecomment-1244964477; ETA: EOY).

[*] https://cmssdt.cern.ch/SDT/je

[2022-10-12 07:38] VinInn commented on #39045
the cabling map is a simple vector on gpu whose index is
[code]

so if roc is >MAX_ROC it will spill in next link...

[code]

is not only safe: I would say it is mandatory given the algorithm above.

[2022-10-12 07:40] VinInn commented on #39045
We cannot ignore it. CMS cannot continue to loose data. I'm very surprised that such a serious problem is still not solved after two months.

[2022-10-12 09:48] agrohsje commented on #39692
The last one I can find is 211 :
https://gitlab.com/Pythia8/releases/-/issues/?sort=created_date&state=all&first_page_size=20
Is it hidden ?

[2022-10-12 09:56] agrohsje commented on #39692
Hi @makortel. I played around with the "assign generators" command (last version above has no s, but the first one had) but the bot didn't react. As a regular user, one cannot give commands to the bot at all?

[2022-10-12 12:14] rappoccio commented on #39697
upload all

[2022-10-12 12:15] cmsbuild commented on #39697
Queing Jenkins upload for slc7_amd64_gcc10

[2022-10-12 12:15] cmsbuild commented on #39697
Queing Jenkins upload for el8_amd64_gcc10

[2022-10-12 12:15] cmsbuild commented on #39697
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-10-12 12:15] cmsbuild commented on #39697
Queing Jenkins upload for el8_aarch64_gcc10

[2022-10-12 12:15] cmsbuild commented on #39697
Queing Jenkins upload for el8_amd64_gcc11

[2022-10-12 12:16] cmsbuild commented on #39697
The upload has started for el8_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2496/console

[2022-10-12 12:16] cmsbuild commented on #39697
The upload has started for el8_amd64_gcc11 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2497/console

[2022-10-12 12:17] cmsbuild commented on #39697
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3_LossyCompression-el8_ppc64le_gcc10/2498

[2022-10-12 12:17] cmsbuild commented on #39697
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3_LossyCompression-el8_aarch64_gcc10/2495

[2022-10-12 12:17] cmsbuild commented on #39697
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3_LossyCompression-el8_amd64_gcc10/2496

[2022-10-12 12:17] cmsbuild commented on #39697
The upload has started for slc7_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2499/console

[2022-10-12 12:21] cmsbuild commented on #39697
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3_LossyCompression-slc7_amd64_gcc10/2499

[2022-10-12 12:26] cmsbuild commented on #39697
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre3_LossyCompression-el8_amd64_gcc11/2497

[2022-10-12 13:15] haozturk commented on #39591
Thanks for following this issue. @stlammel did you contact OSG support? If not who should do it?

[2022-10-12 13:37] stlammel commented on #39591
Hallo Hasan @haozturk ,
no, i did not open a OSG ticket. I can if we agree this is the direction we want to go.
- Stephan

[2022-10-12 13:46] fwyzard commented on #39045
I am trying to run with these changes:
[code]

This does avoid the crashes, but it prints a _huge_ amount of messages, about 600 per event:
[code]

Does this really make sense ?

[2022-10-12 13:49] fwyzard commented on #39045
Also, should the check be
[code]
or
[code]
?

`link` is used as `link - 1` in
[code]
while `roc` is used as-is.

[2022-10-12 13:55] civanch commented on #38789
Several C++ experts were looking into the issue (including Vincenzo  I.) and cannot identify why the code has problem. The conclusion was that it is a bug in the compiler.

A practical solution was found out : for gcc10 we use -O2 option for VecGeom, for gcc11 it was decided to go to -O3 back.

The issue may be closed.

[2022-10-12 13:58] makortel commented on #38789
+core

[2022-10-12 13:58] #38789 closed

[2022-10-12 14:15] makortel commented on #39692
Correct, the set of users whose commands the bot accepts is restricted to O&C L1s, release managers, L2s, and specific users listed in
https://github.com/cms-sw/cms-bot/blob/master/categories.py

[2022-10-12 14:22] perrotta commented on #39697
release-notes since CMSSW_12_6_0_pre3

[2022-10-12 14:22] cmsbuild commented on #39697
Generating release notes since CMSSW_12_6_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-12 14:22] cmsbuild commented on #39697
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_6_0_pre3_LossyCompression is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_6_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/

[2022-10-12 14:23] cmsbuild commented on #39697
Generating release notes since CMSSW_12_6_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-12 14:23] cmsbuild commented on #39697
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_6_0_pre3_LossyCompression is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_6_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/

[2022-10-12 14:28] Saptaparna commented on #39692
assign generators

[2022-10-12 14:29] Saptaparna commented on #39692
I can't self assign either.

[2022-10-12 14:30] cmsbuild commented on #39697
There was an error generating the release notes, please look into the logs

[2022-10-12 14:30] cmsbuild commented on #39697
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre3_LossyCompression

[2022-10-12 14:31] makortel commented on #39692
The issue was already assigned to generators.

[2022-10-12 14:32] slava77 commented on #39697
it looks like the bot is not able to extract the extra commit that was added without a pull request

[2022-10-12 14:41] VinInn commented on #39045
too early. The check should go AFTER the error decoding

[2022-10-12 14:43] VinInn commented on #39045
MAX_ROC is 8 and rocs are numbered from 1 to 8
link from 1 to MAX_LINK.

[2022-10-12 14:45] VinInn commented on #39045
maybe the check should go in checkROC  (but then one should "invent a new error code.....")

[2022-10-12 15:13] fwyzard commented on #39045
The original error stream file
[code]
is no longer there :-/

[2022-10-12 15:18] missirol commented on #39045
True.. it can still be found at
[code]

[2022-10-12 15:24] fwyzard commented on #39045
Thanks Marino, and thanks Vincenzo for the suggestions. After moving the check lower in the code now I get
[code]

So the check seems consistent with the legacy unpacker.

[2022-10-12 15:32] mmusich commented on #39045
can't be anything done on the pixel f/w side?

[2022-10-12 15:47] missirol commented on #38453
@swagata87 @trtomei

Is this issue still relevant?

[2022-10-12 15:57] fwyzard commented on #39045
I've opened #39711, #39712, #39713 with a possible fix and its backports.

[2022-10-12 16:05] silviodonato opened #39714 "Missing --hltprocess in reHLT workflows"
Dear @cms-sw/pdmv-l2,
I've just realized that the reHLT workflows (eg. `140.003 RunJetHT2022B+HLTRUN3+RECONANORUN3+HARVESTRUN3`), the RECO...DQM step does not include the `--hltprocess reHLT` option, to run the HLT DQM from the reHLT instead of the original HLT.
(@cms-sw/dqm-l2 do you confirm this?).

This seems a problem similar to what we had with the ALCA relvals some weeks ago ([link](https://

[2022-10-12 16:05] cmsbuild commented on #39714
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-12 16:19] swagata87 commented on #38453
actually, yesterday we had a crash which looks like the `type1` crash mentioned in the issue-description.
Here are some relevant information on yesterday's crash:

Run number: 360224
StartTime: Oct 12 2022, 02:52
EndTime: Oct 12 2022, 04:36
HLT Menu: /cdaq/physics/Run2022/2e34/v1.4.1/HLT/V1
Crash happened in: `fu-c2b05-23-01`
The error stream file has been copied to hilton. So I think FOG will che

[2022-10-12 16:22] makortel commented on #39714
assign pdmv

[2022-10-12 16:22] cmsbuild commented on #39714
New categories assigned: pdmv

@bbilin,@sunilUIET,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-12 20:32] smuzaffar commented on #37767
@kpedro88 @ssrothman we still see this failure in 12.6.X IBs. Could it be that if multiple relvals run in parallel and try to start the triton inference server then only one will run and all other instances of triton server will fail?

[2022-10-12 21:10] smuzaffar commented on #38370
this is duplicate of #37767 , lets close this and discuss it via #37767

[2022-10-12 21:10] #38370 closed

[2022-10-12 22:51] kpedro88 commented on #37767
@smuzaffar as I noted [above](https://github.com/cms-sw/cmssw/issues/37767#issuecomment-1136078310):

(The `cmsTriton` script tries to avoid conflicting parallel servers by looking for separate ports: https://github.com/cms-sw/cmssw/blob/38405a5b319be8ec094c981d6b45320aa577676a/HeterogeneousCore/SonicTriton/scripts/cmsTriton#L164-L182. This is not a perfect solution, but the problem here is differ

[2022-10-13 03:10] trtomei commented on #39693
Hi @wang-hui The files are available in `/afs/cern.ch/user/t/tomei/public/issue39693` now!

[2022-10-13 07:49] silviodonato commented on #39693
Hello @cms-sw/hcal-dpg-l2 @cms-sw/alca-l2 , this crash happened again this night in run [360295](https://cmsoms.cern.ch/cms/runs/report?cms_run=360295). HLT was using `CMSSW_12_4_10`.
The crash happened 5 times (2022-10-13):
- 1 time at 09:16:07 (`fu-c2b03-33-01`)
- 1 time at 08:27:12 (`fu-c2b03-12-01`)
- 3 time around 05:40
   - 05:39:07 (`fu-c2b03-33-01`)
   - 05:41:26 (`fu-c2b03-30-01`)
   - 05

[2022-10-13 08:57] smuzaffar commented on #39669
@makortel ,  @nhduongvn , @stlammel during Core SW meeting we decided to backport https://github.com/cms-sw/cmssw/pull/37278 changes to older release cycles too.  Do you see any issues doing this ? I am not sure if all sites are ready and already have new data catalogs from rucio

[2022-10-13 11:06] kskovpen commented on #39714
We have submitted the reHLT wfs to complete the ROOT626 and gcc11 campaigns (https://cms-talk.web.cern.ch/t/new-validation-campaign-12-5-0-pre5-2022-root626-added/15016/32) from the HLT side:

https://cms-pdmv.cern.ch/stats/?prepid=CMSSW_12_5_0_pre5_ROOT626__fullsim_PU_2022_14TeV-TTbar_14TeV-00002
https://cms-pdmv.cern.ch/stats/?prepid=CMSSW_12_5_0_pre5__fullsim_PU_2022_14TeV_gcc11-TTbar_14TeV-000

[2022-10-13 11:08] kskovpen commented on #39714
Adding @kjpena :)

[2022-10-13 11:31] kskovpen commented on #39714
@silviodonato could you please confirm if the configuration is fine here: https://cms-pdmv.cern.ch/relval/api/relvals/get_cmsdriver/CMSSW_12_5_0_pre5_ROOT626__fullsim_PU_2022_14TeV-TTbar_14TeV-00002 ?

[2022-10-13 11:47] missirol commented on #39714
@kskovpen

Just for my understanding, is [1] needed in any of the steps in [2] ? If so, why?

[1] `--pileup Run3_Flat55To75_PoissonOOTPU --pileup_input das:/RelValMinBias_14TeV/CMSSW_12_5_0_pre5_ROOT626-125X_mcRun3_2022_realistic_v3-v1/GEN-SIM`

[2] https://cms-pdmv.cern.ch/relval/api/relvals/get_cmsdriver/CMSSW_12_5_0_pre5_ROOT626__fullsim_PU_2022_14TeV-TTbar_14TeV-00002

[2022-10-13 12:23] kskovpen commented on #39714
@missirol thanks, it should have no effect, because no digitalization is triggered. In any case, thanks for noticing that, it is pointless to have it being specified here in the first place. In order to avoid any further confusion, we've resubmitted these wfs:

https://cms-pdmv.cern.ch/stats/?prepid=CMSSW_12_5_0_pre5_ROOT626__fullsim_PU_2022_14TeV-TTbar_14TeV-00003
https://cms-pdmv.cern.ch/stats/?

[2022-10-13 12:45] rappoccio commented on #39697
@slava77 yes, good catch. The extra one added via cherry-pick can be seen here:

https://github.com/cms-sw/cmssw/compare/CMSSW_12_6_0_pre3...CMSSW_12_6_0_pre3_LossyCompression

[2022-10-13 13:01] missirol commented on #39714
Thanks for clarifying, @kskovpen .

[2022-10-13 13:24] silviodonato commented on #39714
Hi @kskovpen , it seems good to me.
The purpose of this issue was more about fixing the 140.1XX and 140.0XX workflows, which runs "Run.....2022....+HLTRUN3+RECONANORUN3" to include the option "--hltprocess reHLT" in "RECONANORUN3".
But yes, it would be good to have similar reHLT workflows also for MC to be used in RelVals

[2022-10-13 13:34] makortel commented on #39669
Yes, that is the plan (see https://github.com/cms-sw/cmssw/pull/37278#issuecomment-1074259843).

We need to be sure that the backports won't cause troubles in the old release cycles. I had earlier collected the list of fixes that need to be included in the backport in https://github.com/cms-sw/cmssw/pull/37278#issuecomment-1249494617, and this week a new issue on the subsite treatment in the `site

[2022-10-13 13:38] cmsbuild commented on #39694
The cleanup has started for el8_aarch64_gcc10

[2022-10-13 13:38] cmsbuild commented on #39694
The cleanup has started for el8_amd64_gcc10

[2022-10-13 13:39] #39694 closed

[2022-10-13 13:39] cmsbuild commented on #39694
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10-el8_aarch64_gcc10/2198

[2022-10-13 13:39] cmsbuild commented on #39694
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10-el8_amd64_gcc10/2199

[2022-10-13 13:39] cmsbuild commented on #39694
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10-el8_ppc64le_gcc10/2200

[2022-10-13 13:55] stlammel commented on #39669
So, there was a campaign earlier this year to get storage.json files in place for all sites. Two sites had held out and they were put in place when this was discovered several week ago, as Matti wrote.
During the sub-site issue last week i found obsolete entries at two sites and they were corrected.
The SAM test to check SITECONF is ready and will go into production with the next token update. Thi

[2022-10-13 13:56] makortel commented on #39714
In the past the RECO+...+VALIDATION step (step3 in [2] above) re-ran the MixingModule in a playback mode in order to re-create CrossingFrame objects that were used by some of the validation modules. Has this changed or somehow not needed for the reHLT workflows?

[2022-10-13 21:59] wddgit opened #39728 "Unit test failure, el8_ppc64le_gcc10 architecture, FWCore/Framework, test_tbb_default_threads_cfg.py."
I first noticed this failure when checking after the run concurrency PR was merged.
Only appeared on the el8_ppc64le_gcc10 architecture. Maybe that was because
it was running 128 threads there and 16 threads on other architectures.

This is a job testing setting the number of threads to zero which causes TBB
to set the number of threads based on available hardware. It runs EmptySource
for 10 event

[2022-10-13 21:59] cmsbuild commented on #39728
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-13 22:36] wddgit commented on #39728
I think I see the bug. I'll prepare a PR. In releaseBeginRunResources it resumes the stream queue first, then does a few other things using the runStatus object. I think in this case, the run is finishing completely and the runStatus object is getting deleted before releaseBeginRunResources completes and it dereferences a pointer to the runStatus object. So in that function, I need to move the res