[2020-05-12 14:34] fwyzard commented on #29811
thanks - to avoid this next time, is there a way for me to trigger the synchronsation, or should I just wait a bit longer ?

[2020-05-12 14:34] cmsbuild commented on #29811
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7_Patatrack-cc8_amd64_gcc8/2416

[2020-05-12 14:43] smuzaffar commented on #29811
@fwyzard , you can restart now by opening a new issue.
You now have rights to trigger the sync by going to https://cmssdt.cern.ch/jenkins/job/sync-patatrack-branch/ and click on "Rebuild Last", can you check if it works?

[2020-05-12 14:44] #29811 closed

[2020-05-12 14:45] fwyzard commented on #29811
Yes, I was able to trigger https://cmssdt.cern.ch/jenkins/job/sync-patatrack-branch/2613/ .

[2020-05-12 14:52] fwyzard opened #29812 "Build CMSSW_11_1_0_pre7_Patatrack"

[2020-05-12 14:53] cmsbuild commented on #29812
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2020-05-12 15:00] fwyzard commented on #29812
+1

[2020-05-12 15:01] cmsbuild commented on #29812
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre7_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-05-12 15:01] cmsbuild commented on #29812
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to fi

[2020-05-12 15:02] cmsbuild commented on #29812
The build has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2418/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-12 15:12] cmsbuild commented on #29812
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2419/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-12 15:50] cmsbuild commented on #29812
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2420/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-12 17:05] jiafulow commented on #29237
For 2016 cosmics (MC), for L1TMuonEndCapForestRcd and L1TMuonEndCapParamsRcd, please use `L1TMuonEndCapForest_static_2016_mc` and `L1TMuonEndCapParams_static_2016_mc`. Though, I should note that the cosmics reconstruction in EMTF doesn't actually use the BDT (the "forest" record).

Sorry that I didn't answer this in my earlier reply.

[2020-05-12 17:44] #29794 closed

[2020-05-12 17:45] cmsbuild commented on #29812
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7_Patatrack-cc8_amd64_gcc8/2418

[2020-05-12 17:59] fwyzard commented on #29812
The only error I find in the full log is surprising (to me):
[code]

I'll try to debug locally, but I guess we can let this fail if the CC7 build is successful.

[2020-05-12 18:11] cmsbuild commented on #29812
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7_Patatrack-slc7_amd64_gcc820/241

[2020-05-12 18:28] silviodonato opened #29814 "Unit test failure in Validation/Geometry"
There is a unit test failure in Validation/Geometry  since CMSSW_11_1_X_2020-05-12-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_X_2020-05-12-1100/unitTestLogs/Validation/Geometry#/

Trying to debug step-by-step with
[code]

This should be caused by #29632 (@bsunanda)

[2020-05-12 18:29] silviodonato commented on #29814
assign geometry

[2020-05-12 18:29] cmsbuild commented on #29814
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-12 18:29] cmsbuild commented on #29814
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-12 18:30] cmsbuild commented on #29812
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7_Patatrack-slc7_aarch64_gcc820

[2020-05-12 18:43] fwyzard commented on #29812
upload all

[2020-05-12 18:45] cmsbuild commented on #29812
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7_Patatrack-slc7_amd64_gcc820/2419

Tests results:
34 33 28 22 16 4 1 1 1 tests passed, 0 0 4 0 0 0 0 0 0 failed

[2020-05-12 18:46] cmsbuild commented on #29812
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-05-12 18:46] cmsbuild commented on #29812
Queing Jenkins upload for slc7_amd64_gcc820

[2020-05-12 18:48] cmsbuild commented on #29812
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1555/console

[2020-05-12 18:48] cmsbuild commented on #29812
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1556/console

[2020-05-12 18:49] cmsbuild commented on #29812
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7_Patatrack-slc7_aarch64_gcc820/1555

[2020-05-12 18:49] cmsbuild commented on #29812
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre7_Patatrack-slc7_amd64_gcc820/1556

[2020-05-12 19:28] cmsbuild commented on #29812
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre7_Patatrack-slc7_aarch64_gcc820/2420

Tests results:
34 32 27 22 13 1 1 1 1 tests passed, 0 1 4 0 3 3 0 0 0 failed

[2020-05-12 22:17] kpedro88 opened #29818 "Add framework class to enforce schemas for ML feature lists"
Originally raised in https://github.com/cms-sw/cmssw/pull/29799#discussion_r423710666.

It would be useful to have a data structure like "edm::featureMap" that enforces a schema for input features for ML algorithms. The schema would include feature names and feature order. This class could have interfaces to output in the formats needed by different ML frameworks (TensorFlow, MXNet, PyTorch, etc.)

[2020-05-12 22:17] kpedro88 commented on #29818
assign core,reconstruction

[2020-05-12 22:17] cmsbuild commented on #29818
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-12 22:17] cmsbuild commented on #29818
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-12 23:34] slava77 commented on #29818
are there any real life examples from the "industry"?
Except for perhaps some semblance of structure in TMVA, the features are passed as BLOBs; there will anyways be at least one place where a sequence of named variables will become a presumably correctly aligned BLOB.
(However,  my knowledge on options is rather limited.)

@vlimant , some guidance from ML would be nice.
Thank you.

[2020-05-13 10:29] vlimant commented on #29818
thanks for including me @slava77 , adding @gkasieczka too
I support the idea of @kpedro88 of having such a feature map to find a way to force the formatting of the alignment of the blobs passed down to the ML engine

[2020-05-13 12:56] silviodonato opened #29823 "REMINIAOD workflows crash"
The following workflows are crashing since CMSSW_11_1_X_2020-05-13-1100
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_1/2020-05-13-1100?selectedArchs=slc7_amd64_gcc820&selectedFlavors=X&selectedStatus=failed

[code]
with the error
[code]
The workflows were added by #29756

Workflows 1325.517 and 1325.518 are crashing as well with a DAS error, but I think this was expected (see https:

[2020-05-13 12:56] silviodonato commented on #29823
assign reconstruction

[2020-05-13 12:56] cmsbuild commented on #29823
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-13 12:56] cmsbuild commented on #29823
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-13 13:08] slava77 commented on #29823
@silviodonato
This is a case of concurrent/conflicting change entering the IB after the last test of #29756; otherwise we'd catch the issue sooner, before merging.

I'll try to get a fix in the next 24 hours.
Please let me know if it's OK to possibly have the wfs broken until then and no revert is needed.
Thank you.

[2020-05-13 13:14] silviodonato commented on #29823
Yes, of course, getting a fix in the next 24 hours is perfectly fine, thanks.

[2020-05-13 13:30] slava77 commented on #29823
well, apparently I didn't think of the broken wf in the short matrix.
@smuzaffar are we masking wfs broken in the IB reference already or do they block the tests?

[2020-05-13 14:00] slava77 commented on #29823
I'm testing something now, this should be in time for the 2300 IB

[2020-05-13 14:05] smuzaffar commented on #29823
@slava77 , no we are not masking broken wfs of IB during PR tests.
Do do mask wfs for comparisons though but this information is also reported in the comparison result comment.

[2020-05-13 14:07] kpedro88 commented on #29818
To solve this problem in my analysis (which uses a BDT), I implemented a procedure to do this. Code snippets (starting from the CMSSW GBRTree):
[code]

Individual features are objects that derive from `BDTVar`, managed by a factory, and override `Fill()` to specify how to assign the feature value. The feature value is a pointer into the feature vector, therefore automatically retaining the feature

[2020-05-13 14:27] slava77 commented on #29823
fixed in #29826

[2020-05-13 21:44] wouf commented on #28636
Thank You!

[2020-05-13 22:20] slava77 opened #29833 "proposal to move CaloVShape and derived objects to CondFormats"
Calorimeter pulse shapes are defined in a sim-specific subsystem SimCalorimetry/\*SimAlgos (and SimFastTiming for BTL) and are used extensively outside, in the following subsystems
CalibCalorimetry, SimCalorimetry, SimFastTiming, RecoLocalCalo, RecoTBCalo, Validation.

The shapes are typically derived from DB objects or are hardcoded.
This appears to be a good case for a definition to be in a comm

[2020-05-13 22:20] cmsbuild commented on #29833
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-13 22:22] slava77 commented on #29833
assign alca,reconstruction,simulation

[2020-05-13 22:23] cmsbuild commented on #29833
New categories assigned: simulation,reconstruction,alca

@mdhildreth,@slava77,@christopheralanwest,@tlampen,@pohsun,@perrotta,@tocheng,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-14 01:54] makortel opened #29834 "Is HardEventHypothesis class still useful?"
While trying to address #29306 and #26618 I came across [`mkevhyp`](https://github.com/cms-sw/cmssw/blob/master/FWCore/Skeletons/scripts/mkevhyp) and
https://github.com/cms-sw/cmssw/blob/e1b8483500a3c449e1763d8e77ce70343fe14844/DataFormats/PatCandidates/interface/HardEventHypothesis.h#L110
class.

`git grep HardEventHypothesis` does not show any use in CMSSW beyond the class definition and the Ske

[2020-05-14 01:54] cmsbuild commented on #29834
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-14 01:54] makortel commented on #29834
assign reconstruction, analysis

[2020-05-14 01:54] cmsbuild commented on #29834
New categories assigned: analysis,reconstruction

@slava77,@santocch,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-14 06:36] silviodonato commented on #29814
fixed by #29816

[2020-05-14 06:52] #29823 closed

[2020-05-14 07:30] perrotta commented on #29834
At a first glance it could even safely get removed
Let however add @rappoccio in the discussion , who was the original author of it

[2020-05-14 08:30] #29796 closed

[2020-05-14 13:01] makortel commented on #29834
Thanks @perrotta, I will then remove the `mkevhyp` and related skeleton, and leave the removal of `DataFormats/PatCandidates/interface/HardEventHypothesis.h` to a separate PR.

[2020-05-14 13:09] santocch commented on #29834
+1
OK to proceed as @makortel propose

[2020-05-14 13:21] slava77 commented on #27889
updates from today:
- #29601 PUPPI v14 not on status (not merged yet)
- #29537 Muon dxy : merged May 1
- #29771 PPS remini (a feature now with a number) (not merged yet)
- #29739 Tau againstElectronDeadECAL (not merged yet)
- #29756 (+ part of #29826) run2_miniAOD_UL , to be backported

[2020-05-14 14:46] makortel commented on #29306
Fixed in #29840.

[2020-05-14 14:46] makortel commented on #29834
Done as part of #29840.

[2020-05-14 14:47] makortel commented on #26618
assign core

[2020-05-14 14:47] cmsbuild commented on #26618
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-14 14:49] makortel commented on #26618
PR https://github.com/cms-sw/cmssw/pull/29840 addresses
- clang format (as much as possible without touching the generation code itself)
- modernization, especially

Following points are left for later PR(s)
- C++ mode `// -- C++ --`
- `namespace` for doxygen comments
  * on a quick look I did not see the templates to not really use namespaces?

[2020-05-14 15:00] rappoccio commented on #29834
Wow, this is 12+ years old, I entirely forgot about it. It has no purpose anymore and can be removed.

[2020-05-14 18:36] slava77 commented on #29744
+1

resoved in #29769

[2020-05-14 18:37] cmsbuild commented on #29744
This issue is fully signed and ready to be closed.

[2020-05-14 18:38] slava77 commented on #29373
@pcanal
please let me know if there were updates on this issue.
Thank you.

[2020-05-14 19:10] slava77 commented on #27889
update:
- #29601 PUPPI v14 not on status : merged May 14

[2020-05-14 19:59] cvuosalo commented on #29814
+1

[2020-05-14 19:59] cmsbuild commented on #29814
This issue is fully signed and ready to be closed.

[2020-05-15 06:10] #29306 closed

[2020-05-15 06:25] #29814 closed

[2020-05-15 06:26] #29744 closed

[2020-05-15 13:54] kpedro88 commented on #29833
As some additional input for this proposal, there's a separate HcalPulseShape class in CalibCalorimetry:
https://github.com/cms-sw/cmssw/blob/master/CalibCalorimetry/HcalAlgos/interface/HcalPulseShape.h

The code that manages the different HCAL pulse shapes is also quite a mess and would benefit from reorganization and database usage (this is a lingering cleanup item from the Phase 1 development):

[2020-05-15 13:59] #29812 closed

[2020-05-15 14:04] fwyzard opened #29846 "build cms.InputTag from tuple"
As far as I know, an `InputTag` can be built as
[code]
or as
[code]
(plus syntaxes where only some of the fields are available).

Once the parameter type  is known, it can be customised with
[code]
but there is no equivalent syntax with separate fields that does not specify the full `cms.type`.

I would propose to add the possibility of building an `InputTag` from a `tuple`, i.e.
[code]

[2020-05-15 14:04] cmsbuild commented on #29846
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-15 14:04] fwyzard commented on #29846
assign core

[2020-05-15 14:04] cmsbuild commented on #29846
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-15 14:06] Dr15Jones commented on #29846
I like the idea as I've always been a proponent of separating the different fields explicitly.

[2020-05-15 14:14] fwyzard opened #29847 "implement more firendly syntax for using EDAlias"
Currently, using an `EDAlias` is rather cumbersome, mostly because of the need to list all the collections that need to be aliased.

In some circumstances, one simply wants to alias all products coming from a module.
In these circumstances having to list all collection types explicitly has few downsides:
  - it's not trivial to figure out all the collections that are being produced
  - it's even h

[2020-05-15 14:15] fwyzard commented on #29847
assign core

[2020-05-15 14:15] cmsbuild commented on #29847
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-15 14:15] cmsbuild commented on #29847
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-15 14:55] Dr15Jones opened #29848 "Have ActivityRegistry see ES modules running"
Add callbacks to the ActivityRegistry to report when ES modules are being run.

[2020-05-15 14:55] Dr15Jones commented on #29848
assign core

[2020-05-15 14:55] cmsbuild commented on #29848
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-15 14:55] cmsbuild commented on #29848
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-15 14:57] Dr15Jones opened #29849 "Add context to exceptions thrown while prefetching EventSetup data products"
When an exception is thrown from an EventSetup module, the message printed about the exception should contain the prefetch request sequence that lead to the module being called.

[2020-05-15 14:57] Dr15Jones commented on #29849
assign core

[2020-05-15 14:58] cmsbuild commented on #29849
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-15 14:58] cmsbuild commented on #29849
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-15 15:13] makortel opened #29850 "Improve Skeleton templates and scripts"
Some follow-up items from #29840
* Add an example on ESProduct consumes in ESProducers
* Add tests
  * Tests should preferably include `clang-format` and `clang-tidy` to ensure the generated skeletons comply with code checks

And to not forget, https://github.com/cms-sw/cmssw/issues/26618 has also a few items left.

[2020-05-15 15:13] makortel commented on #29850
assign core

[2020-05-15 15:13] cmsbuild commented on #29850
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-15 15:13] cmsbuild commented on #29850
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-15 15:22] cvuosalo opened #29851 "Use 2021/v1/materials.xml for new scenarios for upgrade and Run 3"
The obsolete `Geometry/CMSCommonData/data/materials.xml` is being replaced by `Geometry/CMSCommonData/data/materials/2021/v1/materials.xml`. New upgrade scenarios should use this new version of the file. It is also used for Run 3.

This change is not urgent but would be nice to be used for all new upgrade scenarios going forward. The materials revisions are merely making the densities and atomic w

[2020-05-15 15:23] cmsbuild commented on #29851
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-15 15:24] cvuosalo commented on #29851
assign upgrade

[2020-05-15 15:24] cmsbuild commented on #29851
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-15 17:25] Dr15Jones commented on #25090
Why was this closed?

[2020-05-15 17:26] jfernan2 commented on #25090
It shouldn't be closed.... only 3 out of 7 subsystems working on it so far...

[2020-05-15 17:26] makortel commented on #25090
Because of `(Partially) Resolves #25090` in merged #29784 lead to GitHub closing this issue.

@gartung Could you re-open it, please?

[2020-05-15 17:26] makortel commented on #25090
Or @smuzaffar @mrodozov

[2020-05-15 17:29] gartung commented on #25090
I don't have the option to reopen it.

[2020-05-15 17:30] gartung commented on #25090
Maybe if you get the author of https://github.com/cms-sw/cmssw/pull/29784 to unlink it I can reopen this.

[2020-05-15 17:33] makortel commented on #25090
Thanks @smuzaffar. So we need to be careful with the keywords that lead to issues being closed automatically
https://help.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords#about-issue-references

[2020-05-16 14:14] fwyzard opened #29860 "scram b code-checks-all fails when formatting fortran files"
Running
[code]
fails when scram tries to reformat some fortran files.

Would it be possible to fix it or just exclude frotran files from the formatting ?

[2020-05-16 14:14] fwyzard commented on #29860
assigno core

[2020-05-16 14:14] fwyzard commented on #29860
@smuzaffar FYI

[2020-05-16 14:14] cmsbuild commented on #29860
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-17 01:05] makortel commented on #29860
assign core

[2020-05-17 01:06] cmsbuild commented on #29860
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-17 01:23] makortel commented on #29847
Thinking out loud the syntax My very first thought was something along
[code]
Andrea's suggestion (as I interpret it)
[code]
is closer to the current EDAlias syntax, but there is a difference in the type (`cms.string` vs. `cms.VPSet`). So a minimal extension to the current syntax would be
[code]
although it is more complex to write. And in fact we already allow `*` for the `fromProductInstance` (a

[2020-05-17 10:50] smuzaffar commented on #29860
@fwyzard , https://github.com/cms-sw/cmsdist/pull/5824 should resolve this issue. Checking out GeneratorInterface/AMPTInterface locally and running `scram b -j 10 code-checks-all` shows the scram does not fail and only process files which are in LLVM CCDB file.

[2020-05-17 12:02] civanch commented on #29833
I agree with the proposal. I would do this in 11_2.

[2020-05-17 12:46] fwyzard commented on #29860
Thanks, seems to be working fine with cms-sw/cmsdist#5824 on top of pre7.

[2020-05-17 13:29] fwyzard commented on #29860
Now it managed to go through all the files, but failed at the end with
[code]

[2020-05-17 14:09] fwyzard commented on #29860
This seems to work:
[code]

[2020-05-17 14:13] smuzaffar commented on #29860
this could be due to two different checks suggesting to insert something different on the same localtion e.g. in case of `CommonTools/CandUtils/src/makeNamedCompositeCandidate.cc` file I see in the yaml file [a]. Here  check `modernize-make-unique` is suggesting to add `#include <memory>` at 0:0 while check `performance-unnecessary-value-param` is suggesting to add `#include <utility>` at 0:0

[co

[2020-05-17 14:15] smuzaffar commented on #29860
`run-clang-tidy.py` works as it does the inplace replacement instead of first generting the yaml files and then then applying the changes. For PR checks we need to first get the suggested changes, keep only those which are coming from the files changed by the PR and drop all the rest.

[2020-05-17 21:38] fwyzard commented on #29847
My preferred solution would still be as simple as possible, i.e.
[code]

Is it reasonable to expect that, when `alias` is inserted into a `process`, `module` has been inserted as well, and thus "knows" its own label ?

[2020-05-18 08:46] dinyar commented on #29237
Sorry for the delay. I confirm that L1TMuonGlobalParams_static_UL2016v2_mc should be used.

For the question "Could you confirm that the only difference between L1T tags the pp collision and cosmics GTs are in the following records: [...]" I'm afraid I also don't know the answer.

[2020-05-18 09:11] namapane commented on #28284
This should be probably closed with #29561  .

[2020-05-18 12:11] slava77 commented on #28284
+1

via discussion related to #29561

[2020-05-18 12:11] #28284 closed

[2020-05-18 14:45] makortel opened #29897 "TauAnalysis/MCEmbeddingTools unit test fails"
The unit test in `TauAnalysis/MCEmbeddingTools` fails since CMSSW_11_1_X_2020-05-18-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_1_X_2020-05-18-1100/unitTestLogs/TauAnalysis/MCEmbeddingTools#/

[2020-05-18 14:45] cmsbuild commented on #29897
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-18 14:46] makortel commented on #29897
assign simulation, analysis

[2020-05-18 14:46] cmsbuild commented on #29897
New categories assigned: analysis,simulation

@mdhildreth,@santocch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-18 14:47] makortel commented on #29897
Appears to be caused by https://github.com/cms-sw/cmssw/pull/29767 that made `simEmtfDigis` to consume `rpcRecHits`.

[2020-05-18 14:55] makortel commented on #29897
assign l1

[2020-05-18 14:55] cmsbuild commented on #29897
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-18 14:56] makortel commented on #29897
By quick look that dependence could be removed rather easily https://github.com/cms-sw/cmssw/pull/29767/files#r426686938.

[2020-05-18 17:25] makortel commented on #29897
Fixed in #29899

[2020-05-18 19:45] makortel commented on #29847
At the "insertion-to-Process" time the answer is "no" (unless new tricks are added to `Process.load()`). But the accessing-label could, in principle, be delayed to the point where it is really needed (like we do with e.g. sequences or `dumpPython()`).

I'm more worried of the overall interface consistency.

E.g. something along the following could be a possible "syntactic sugar"
[code]
which is si

[2020-05-19 01:45] makortel commented on #29847
@Dr15Jones @wddgit Do you have any thoughts?

[2020-05-19 01:56] makortel commented on #25090
Updating the list of modules preventing (efficient use of) concurrent lumi blocks from workflow 1361.181 in CMSSW_11_1_X_2020-05-18-1100

step1 is now clean

step3
[code]
All of these are DQM modules (a subset of those reported earlier https://github.com/cms-sw/cmssw/issues/25090#issuecomment-594119628, the list has decreased nicely)

step 5 (produces nanoAOD)
[code]
which is a legacy EDProducer.

[2020-05-19 08:39] perrotta commented on #29834
Created PR #29903 to remove the HardEventHypothesis class from CMSSW

[2020-05-19 13:29] Dr15Jones commented on #29847
Although I do like the idea behind `alias = cms.EDAlias(module)` which guarantees that the module has at least been declared in the configuration, I agree with @makortel about interface consistency and the difficulties with `dumpPython()`. So I think the best compromise would be

[code]

[2020-05-19 13:39] fwyzard commented on #29847
I would still claim that
[code]
is consistent with
[code]
just shorter.

It's a different matter if there are technical hurled or worries, of course.

[2020-05-19 13:44] Dr15Jones commented on #29847
@fwyzard are you proposing
[code]

or

[code]
? I thought you were suggesting the first.

[2020-05-19 13:49] makortel commented on #29847
So far everything we have that takes a module itself as an argument (Sequence, Task, SwitchProducer) are about running that module. EDAlias taking a module argument would not lead to running the module.

[2020-05-19 13:56] fwyzard commented on #29847
Yes.
You would normally put the `EDAlias` in a cfi/cff file, not in the full process, so people would see

[code]

Well, it will if the `EDAlias` itself is used as the input of a module...

You just made me start thinking if it would make sense to have an `EDAlias` in a `Task` ?

[2020-05-19 14:02] makortel commented on #29847
It doesn't unless the module is put into a Task (that is associated to a Path or the Schedule etc).

[2020-05-19 14:06] fwyzard commented on #29847
True.

Same holds for a Task/Squence, though: doing `task = cms.Task(module)` will not run the module unless the `task` is itself put into a Path (or Schedule) via Task/Sequence as usual.

I agree that it is **not** the same thing - but it's also not that different, at least conceptually.

[2020-05-19 16:55] kpedro88 opened #29911 "Improve code format line breaks"
Right now, it is a known issue that our automatic code format using clang-format can cause awkward line breaks when there is a comment at the end of a line. These need to be fixed manually, which is an additional burden during code review.

Can clang-format be improved to prefer putting line-ending comments on separate lines?

[2020-05-19 16:55] kpedro88 commented on #29911
assign core

[2020-05-19 16:56] cmsbuild commented on #29911
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-19 16:56] cmsbuild commented on #29911
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-19 17:03] smuzaffar opened #29912 "Static Analyzer failure in CMSSW_11_1_X"
For few weeks now, we have some Static Alayzer failures [a]. @gartung  can you please look in to it.

[a] https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-static-analysis/CMSSW_11_1_X_2020-05-18-2300/slc7_amd64_gcc820/reports/modules2statics-filter1.txt

[code]

[2020-05-19 17:03] cmsbuild commented on #29912
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-19 17:04] smuzaffar commented on #29912
assign core

[2020-05-19 17:04] cmsbuild commented on #29912
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-19 17:51] kpedro88 commented on #29911
@davidlange6 do you have any idea?

[2020-05-19 18:02] gartung commented on #29912
I would propose adding gen::BaseHadronizer to the  "SafeClass" list here

https://github.com/cms-sw/cmssw/blob/1964132b0cea61302f3ec7de18b6c91c4b22a77e/Utilities/StaticAnalyzers/src/CmsSupport.cpp#L108

[2020-05-19 18:05] Dr15Jones commented on #29912
Can we do `ConcurrentHadronizerFilter` instead? Or even the explicit `edm::ConcurrentHadronizerFilter<Pythia8Hadronizer, gen::ConcurrentExternalDecayDriver>`? The class `BaseHadronizer` used elsewhere can cause threading problems.

[2020-05-19 18:23] gartung commented on #29912
I think I need to add the CMS_SA_ALLOW attribute to the ExternalEngine variable declaration.

[2020-05-19 18:42] gartung commented on #29912
I can add CMS_SA_ALLOW attribute on gen::BaseHadronizer::setRandomEngine and see what happens.

[2020-05-19 18:51] gartung commented on #29912
I need to add the CMS_SA_ALLOW attribute to all of the static variables that are connected through the base class.

[2020-05-19 18:58] makortel commented on #29912
Would that mean that if some other deriving class would do something "nasty" with these static variables we would not be able catch those?

[2020-05-19 18:59] gartung commented on #29912
Unfortunately yes. In most cases it looks like the static variable is just to access the Fortran.

[2020-05-19 19:00] Dr15Jones commented on #29912
In most cases other classes do derive from it and do nasty things.

[2020-05-19 19:00] gartung commented on #29912
All statics are accessed in ::doSetRandomEngine()

[2020-05-19 19:03] gartung commented on #29912
modules2statics.txt is filtered to modules2statics-filter1.txt in one of the cms-bot scripts.
Maybe I should just add
```edm::ConcurrentHadronizerFilter<Pythia8Hadronizer, gen::ConcurrentExternalDecayDriver>```
to the filter

[2020-05-19 19:04] makortel commented on #29912
I was just going to ask if the `ConcurrentHadronizerFilter` could be filtered out, so ok for me.

[2020-05-19 19:10] gartung commented on #29912
https://github.com/cms-sw/cms-bot/pull/1309

[2020-05-19 19:18] perrotta commented on #29834
+1
- Done with #29840. and #29903, both merged

[2020-05-19 19:18] cmsbuild commented on #29834
This issue is fully signed and ready to be closed.

[2020-05-19 19:22] makortel commented on #29834
Thanks!

[2020-05-19 19:22] #29834 closed

[2020-05-19 19:30] silviodonato opened #29915 "Build CMSSW_11_1_0_pre8"

[2020-05-19 19:30] cmsbuild commented on #29915
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-05-19 19:30] silviodonato commented on #29915
build cmssw-tool-conf

[2020-05-19 19:31] cmsbuild commented on #29915
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_ppc64le_gcc820, slc7_amd64_gcc900, cc8_amd64_gcc8, cc8_aarch64_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf f

[2020-05-19 19:32] cmsbuild commented on #29915
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2422/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-19 19:32] cmsbuild commented on #29915
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2421/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-19 19:33] cmsbuild commented on #29915
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2423/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-19 20:11] cmsbuild commented on #29915
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_amd64_gcc900/2423

[2020-05-19 20:12] cmsbuild commented on #29915
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_amd64_gcc820/2422

[2020-05-19 20:20] cmsbuild commented on #29915
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-cc8_amd64_gcc8/2421

[2020-05-19 21:41] cmsbuild commented on #29915
The cmssw-tool-conf build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2424/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-19 21:48] cmsbuild commented on #29915
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2425/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-19 22:43] cmsbuild commented on #29915
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_aarch64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-cc8_aarch64_gcc8/2424

[2020-05-19 22:46] cmsbuild commented on #29915
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_aarch64_gcc820/2425

[2020-05-20 00:07] cmsbuild commented on #29915
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2426/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-20 00:51] cmsbuild commented on #29915
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_ppc64le_gcc820/2426

[2020-05-20 07:20] santocch commented on #29897
+1

[2020-05-20 08:26] fwyzard commented on #29911
@kpedro88 maybe https://clang.llvm.org/docs/ClangFormatStyleOptions.html has some options you could try.

[2020-05-20 08:32] davidlange6 commented on #29911
I’m sure that clang-format can be improved - but perhaps one should open an issue in the  clang-format repo rather than the cmssw one?

But as Andrea suggests, this likely can be improved. Look at PenaltyBreakComment  for example

On May 19, 2020, at 7:51 PM, Kevin Pedro <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6 do you have any idea?

—
You are receiving this

[2020-05-20 13:01] #29897 closed

[2020-05-22 08:50] perrotta opened #29949 "Ambiguities to be solved for HGCal last layers"
As it was pointed out in the github conversation starting with https://github.com/cms-sw/cmssw/pull/29837#pullrequestreview-415981263, it appears that the HGCal BH last layer and FH last layer are used indifferently in the HGCal code.

As it was pointed out in that thread, given the irregular geometry of the HGCal the two last layers end up being the same, as it is also shown in the figure below,

[2020-05-22 08:50] perrotta commented on #29949
assign reconstruction, upgrade

[2020-05-22 08:50] cmsbuild commented on #29949
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-22 08:50] cmsbuild commented on #29949
A new Issue was created by  @perrotta .

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-22 09:46] silviodonato commented on #29915
+1

[2020-05-22 09:46] cmsbuild commented on #29915
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-05-22 09:46] cmsbuild commented on #29915
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmss

[2020-05-22 09:49] cmsbuild commented on #29915
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2428/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-22 09:49] cmsbuild commented on #29915
The build has started for slc7_amd64_gcc900 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2429/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-22 09:49] cmsbuild commented on #29915
The build has started for cc8_amd64_gcc8 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2427/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-22 09:49] cmsbuild commented on #29915
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2430/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-22 09:51] cmsbuild commented on #29915
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2431/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-22 09:53] cmsbuild commented on #29915
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2432/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-22 12:15] cmsbuild commented on #29915
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_ppc64le_gcc820/2430
Some

[2020-05-22 12:40] cmsbuild commented on #29915
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_aarch64_gcc820/2432
Some

[2020-05-22 12:43] cmsbuild commented on #29915
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-cc8_aarch64_gcc8/2431
Some tests

[2020-05-22 12:47] cmsbuild commented on #29915
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_amd64_gcc900/2429
Some tes

[2020-05-22 13:00] cmsbuild commented on #29915
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-cc8_amd64_gcc8/2427
Some tests ( r

[2020-05-22 13:08] cmsbuild commented on #29915
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_ppc64le_gcc820/2430

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-22 13:26] cmsbuild commented on #29915
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_amd64_gcc900/2429

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-22 13:37] cmsbuild commented on #29915
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_amd64_gcc820/2428
Some tes

[2020-05-22 13:41] cmsbuild commented on #29915
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-cc8_amd64_gcc8/2427

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-22 13:45] cmsbuild commented on #29915
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_aarch64_gcc820/2432

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-22 13:45] cmsbuild commented on #29915
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-cc8_aarch64_gcc8/2431

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-22 14:15] cmsbuild commented on #29915
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8-slc7_amd64_gcc820/2428

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-05-22 18:22] silviodonato commented on #29915
upload all

[2020-05-22 18:23] cmsbuild commented on #29915
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-05-22 18:23] cmsbuild commented on #29915
Queing Jenkins upload for cc8_amd64_gcc8

[2020-05-22 18:23] cmsbuild commented on #29915
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-05-22 18:23] cmsbuild commented on #29915
Queing Jenkins upload for slc7_amd64_gcc820

[2020-05-22 18:23] cmsbuild commented on #29915
Queing Jenkins upload for slc7_amd64_gcc900

[2020-05-22 18:23] cmsbuild commented on #29915
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-05-22 18:25] cmsbuild commented on #29915
The upload has started for cc8_amd64_gcc8 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1558/console

[2020-05-22 18:25] cmsbuild commented on #29915
The upload has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1560/console

[2020-05-22 18:25] cmsbuild commented on #29915
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1559/console

[2020-05-22 18:25] cmsbuild commented on #29915
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1557/console

[2020-05-22 18:26] cmsbuild commented on #29915
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8-cc8_amd64_gcc8/1558

[2020-05-22 18:26] cmsbuild commented on #29915
The upload has started for slc7_amd64_gcc900 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1561/console

[2020-05-22 18:26] cmsbuild commented on #29915
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8-slc7_aarch64_gcc820/1559

[2020-05-22 18:26] cmsbuild commented on #29915
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8-cc8_aarch64_gcc8/1557

[2020-05-22 18:27] cmsbuild commented on #29915
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1562/console

[2020-05-22 18:27] cmsbuild commented on #29915
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8-slc7_amd64_gcc900/1561

[2020-05-22 18:27] cmsbuild commented on #29915
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8-slc7_amd64_gcc820/1560

[2020-05-22 18:27] cmsbuild commented on #29915
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8-slc7_ppc64le_gcc820/1562

[2020-05-22 18:28] silviodonato commented on #29915
release-notes

[2020-05-22 18:28] cmsbuild commented on #29915
Generating release notes since CMSSW_11_1_0_pre7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-05-22 18:28] cmsbuild commented on #29915
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre8 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre7 can be found at:

https://github.com/cms-sw/cmssw/rel

[2020-05-22 18:29] cmsbuild commented on #29915
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre8

[2020-05-23 17:58] lecriste opened #29967 "Can not produce std::unordered_map - illegal underscore"
Trying to replace an `std::map` with an `std::unordered_map` [here](https://github.com/lecriste/cmssw/commit/2d7e96c18eada02ffb7c1f3754fb20e00255c749#diff-de159032ed18703ecac25de24a34f686), `cmsRun` throws the exception below.

The branch can be tested in `CMSSW_11_1_0_pre7`.

[code]

[2020-05-23 17:59] cmsbuild commented on #29967
A new Issue was created by  @lecriste Leonardo Cristella.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-23 18:05] kpedro88 commented on #29967
assign core

[2020-05-23 18:05] cmsbuild commented on #29967
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-24 16:38] cmsbuild commented on #29915
The cleanup has started for cc8_aarch64_gcc8

[2020-05-24 16:38] cmsbuild commented on #29915
The cleanup has started for slc7_aarch64_gcc820

[2020-05-24 16:38] cmsbuild commented on #29915
The cleanup has started for cc8_amd64_gcc8

[2020-05-24 16:38] cmsbuild commented on #29915
The cleanup has started for slc7_amd64_gcc820

[2020-05-24 16:38] cmsbuild commented on #29915
The cleanup has started for slc7_amd64_gcc900

[2020-05-24 16:38] cmsbuild commented on #29915
The cleanup has started for slc7_ppc64le_gcc820

[2020-05-24 16:38] #29915 closed

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for cc8_aarch64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-cc8_aarch64_gcc8/1546

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-slc7_aarch64_gcc820/1548

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-slc7_amd64_gcc820/1549

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-cc8_amd64_gcc8/1547

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-slc7_aarch64_gcc820/1553

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for slc7_ppc64le_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-slc7_ppc64le_gcc820/1551

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-cc8_amd64_gcc8/1552

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-slc7_amd64_gcc900/1550

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-slc7_amd64_gcc900/1555

[2020-05-24 16:38] cmsbuild commented on #29915
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre8-slc7_amd64_gcc820/1554

[2020-05-24 18:40] makortel commented on #29967
The friendly class name itself should be straightforward to fix, but @lecriste could you clarify if the `unordered_map` is intended to be persisted or only a transient product?

[2020-05-24 20:37] lecriste commented on #29967
@makortel the `unordered_map` is intended to be transient:
https://github.com/lecriste/cmssw/commit/2d7e96c18eada02ffb7c1f3754fb20e00255c749#diff-9dbb72aa199e1435b02ab2c8ecc9d6fc

[2020-05-25 08:36] fwyzard opened #29974 "Build CMSSW_11_1_0_pre8_Patatrack"

[2020-05-25 08:36] cmsbuild commented on #29974
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2020-05-25 08:37] fwyzard commented on #29974
+1

[2020-05-25 08:37] cmsbuild commented on #29974
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre8_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-05-25 08:37] cmsbuild commented on #29974
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to fi

[2020-05-25 08:39] cmsbuild commented on #29974
The build has started for cc8_amd64_gcc8 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2433/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-05-25 08:41] cmsbuild commented on #29974
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2434/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-25 08:48] cmsbuild commented on #29974
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2435/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-05-25 12:30] cmsbuild commented on #29974
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8_Patatrack-slc7_aarch64_gcc820

[2020-05-25 12:38] cmsbuild commented on #29974
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8_Patatrack-slc7_amd64_gcc820/243

[2020-05-25 12:50] cmsbuild commented on #29974
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8_Patatrack-cc8_amd64_gcc8/2433
Some

[2020-05-25 13:07] fwyzard commented on #29974
upload all

[2020-05-25 13:07] cmsbuild commented on #29974
Queing Jenkins upload for cc8_amd64_gcc8

[2020-05-25 13:07] cmsbuild commented on #29974
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-05-25 13:07] cmsbuild commented on #29974
Queing Jenkins upload for slc7_amd64_gcc820

[2020-05-25 13:09] cmsbuild commented on #29974
The upload has started for cc8_amd64_gcc8 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1563/console

[2020-05-25 13:09] cmsbuild commented on #29974
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1565/console

[2020-05-25 13:09] cmsbuild commented on #29974
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1564/console

[2020-05-25 13:10] cmsbuild commented on #29974
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8_Patatrack-slc7_amd64_gcc820/1565

[2020-05-25 13:10] cmsbuild commented on #29974
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8_Patatrack-cc8_amd64_gcc8/1563

[2020-05-25 13:10] cmsbuild commented on #29974
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre8_Patatrack-slc7_aarch64_gcc820/1564

[2020-05-25 13:13] cmsbuild commented on #29974
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8_Patatrack-slc7_amd64_gcc820/2434

Tests results:
36 35 29 22 16 4 1 1 1 tests passed, 0 0 4 0 0 0 0 0 0 failed

[2020-05-25 13:26] cmsbuild commented on #29974
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8_Patatrack-cc8_amd64_gcc8/2433

Tests results:
36 35 29 22 16 4 1 1 1 tests passed, 0 0 4 0 0 0 0 0 0 failed

[2020-05-25 13:28] cmsbuild commented on #29974
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre8_Patatrack-slc7_aarch64_gcc820/2435

Tests results:
36 34 28 22 13 1 1 1 1 tests passed, 0 1 4 0 3 3 0 0 0 failed

[2020-05-25 13:32] makortel commented on #29237
Could someone comment briefly the status of the fix? Thanks.

[2020-05-26 14:18] smuzaffar opened #29983 "CondCore unit tests failing for PY3 IBs due to use of boost_python"
@ggovi , many CodeCore unit tests are failing in PY3 IBs with error like [a]. Problem is that in PY3 IBs , the default python is python3 which these unit tests are linked to boost_python which was build against python2. In past we have avoided such issues by replacing boost_python with pybind11.  Can you please look in to these tests and use PyBind11 instead of boost_python?

[a]
[code]

[2020-05-26 14:18] smuzaffar commented on #29983
assign db

[2020-05-26 14:19] cmsbuild commented on #29983
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-26 14:19] cmsbuild commented on #29983
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-26 15:22] makortel commented on #29967
Fixed in #29987

[2020-05-26 18:18] makortel commented on #29846
Done in https://github.com/cms-sw/cmssw/pull/29992

[2020-05-26 20:15] mmusich commented on #29983
I think this issue is caused by the integration of PR #29622.
In PR #29993 I address the issue in a similar fashion as done PR #28842 which was fixing issue #28837.
Probably `PyBind11` is the best solution though I suspect that needs a more thorough re-thinking of the payload inspector code. My solution at least will remove the unit test failures.

[2020-05-27 06:29] civanch commented on #29610
+1

Addressed in #29925

[2020-05-27 06:29] cmsbuild commented on #29610
This issue is fully signed and ready to be closed.

[2020-05-27 08:24] #29610 closed

[2020-05-27 08:52] ianna commented on #29320
@vargasa - can I close this issue? thanks

[2020-05-27 08:54] ianna commented on #28862
All `ConstantSections` in the XML files have an `eval` attribute now.

[2020-05-27 08:54] #28862 closed

[2020-05-27 08:54] ianna commented on #28862
+1

[2020-05-27 08:54] cmsbuild commented on #28862
This issue is fully signed and ready to be closed.

[2020-05-27 08:54] ianna commented on #28303
+1

[2020-05-27 08:54] #28303 closed

[2020-05-27 08:55] cmsbuild commented on #28303
This issue is fully signed and ready to be closed.

[2020-05-27 08:56] ianna commented on #28303
Implemented via https://github.com/cms-sw/cmssw/pull/29900

[2020-05-27 09:18] ianna opened #29997 "[DD4hep] Algorithms review and refactoring"
The DD4hep algorithms are almost a direct copy of the corresponding DD algorithms. The latter design required all objects to be named and registered in the global registries. This is not the case for the former.

A thorough code review is needed to clean unnecessary memory allocation, to prevent possible overlaps and ultimately improve code quality and performance.

Examples of proposed improvemen

[2020-05-27 09:18] cmsbuild commented on #29997
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-27 10:38] lecriste commented on #29967
@makortel the exception is still there with https://github.com/lecriste/cmssw/tree/HGCalRecHitMapProducer-use-merge in CMSSW_11_2_X_2020-05-26-2300:

[code]

[2020-05-27 10:51] vargasa commented on #29320
Sure. Thanks Ianna

[2020-05-27 12:32] ianna commented on #29320
+1

[2020-05-27 12:33] cmsbuild commented on #29320
This issue is fully signed and ready to be closed.

[2020-05-27 12:35] ianna commented on #29320
implemented via https://github.com/cms-sw/cmssw/pull/29543 and https://github.com/cms-sw/cmssw/pull/29368

[2020-05-27 12:35] #29320 closed

[2020-05-27 12:56] makortel commented on #29967
Thanks, I missed the one coming from `KeyEqual = std::equal<T>`. Reminds me of the `unique_ptr` with `default_delete` (https://github.com/cms-sw/cmssw/pull/27861).

@smuzaffar Could you re-open the issue?

[2020-05-27 13:08] smuzaffar commented on #29967
reopen
lets see if bot knows this:-)

[2020-05-27 14:40] slava77 commented on #27889
updates:
- added new feature (backport of ) cms-sw/cmsdist#5857 update ONNXRuntime to 1.3.0
- #29771 PPS rereco-in-miniAOD (merged May 25, 2020)
- #29739 Tau againstElectronDeadECAL (signed by reco May 26, 2020 )

[2020-05-27 14:54] slava77 commented on #25884
@jainshilpi @lsoffi @afiqaize @SohamBhattacharya
please update if there was some recent progress on this topic.
Thank you.

[2020-05-27 15:24] makortel commented on #29997
assign geometry

[2020-05-27 15:24] cmsbuild commented on #29997
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-27 17:15] cvuosalo commented on #29997
@ianna Could you please clarify how algorithm optimization would affect or change geometry?
Also, how long do you think algorithm review and refactoring would take? It seems to me that it would take many months, and we have very few developers to do it. I don't see how we could finish it for 11_2.

[2020-05-27 19:32] bainbrid commented on #25884
Hi @slava77, I'm in touch with @jainshilpi and @lsoffi to figure out what's needed. We'll get back to you ASAP.

[2020-05-27 23:34] makortel commented on #29967
I have a new attempt in #30004 .

[2020-05-28 06:28] ianna commented on #29997
The algorithms are an integral part of the CMS geometry description. Changing the C++ code is equivalent to changing the XML.

A couple of days to review and the rest depending on the outcome of the review ~ couple of weeks? The ECal’s are definitely the most time consuming.

[2020-05-28 08:18] smuzaffar commented on #29983
thanks @mmusich , can you please also proivde the fix for CondCore/Utilities : https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_PY3_X_2020-05-27-2300/unitTestLogs/CondCore/Utilities#/

[2020-05-28 09:35] mmusich commented on #29983
@smuzaffar see https://github.com/cms-sw/cmssw/pull/30008

[2020-05-28 10:06] smuzaffar commented on #29983
thanks @mmusich

[2020-05-28 10:06] #29983 closed

[2020-05-28 10:37] #29974 closed

[2020-05-28 10:38] smuzaffar commented on #29912
+core

[2020-05-28 10:38] cmsbuild commented on #29912
This issue is fully signed and ready to be closed.

[2020-05-28 10:38] #29912 closed

[2020-05-28 10:39] smuzaffar commented on #29860
+core

[2020-05-28 10:39] #29860 closed

[2020-05-28 10:40] cmsbuild commented on #29860
This issue is fully signed and ready to be closed.

[2020-05-28 10:40] #29640 closed

[2020-05-28 10:42] smuzaffar commented on #29528
I am closing this issue as it is network connection issue which can happen to any site due to network issues at cern.

[2020-05-28 10:42] #29528 closed

[2020-05-28 13:43] smuzaffar commented on #13761
closing as it is fixed by #13865

[2020-05-28 13:43] #13761 closed

[2020-05-28 13:45] smuzaffar commented on #13807
@slava77 , can we close this issue?

[2020-05-28 13:46] smuzaffar commented on #13991
Do we still need this feature or has it already been addressed?

[2020-05-28 13:48] smuzaffar commented on #13994
@Dr15Jones , @makortel was this implemented ? can we close this issue?

[2020-05-28 13:50] smuzaffar commented on #14211
@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje any update on this?

[2020-05-28 13:52] smuzaffar commented on #14310
@Dr15Jones , @makortel any update ?

[2020-05-28 15:16] slava77 commented on #13807
I didn't find changes in Configuration/Applications/python/ConfigBuilder.py that would indicate that this issue was addressed.

[2020-05-28 17:20] smuzaffar commented on #15376
We do not see such issue any more. So closing it, please open a new open if need.

[2020-05-28 17:20] #15376 closed

[2020-05-28 17:21] smuzaffar commented on #15340
@Dr15Jones , @makortel was this ever addressed?

[2020-05-28 17:22] smuzaffar commented on #15278
@Dr15Jones , @makortel , do we still have this code in cmssw to read old configuration?

[2020-05-28 17:24] smuzaffar commented on #15145
closing this issue. Please open a new one if you still such such threading issues.

[2020-05-28 17:24] #15145 closed

[2020-05-28 17:26] smuzaffar commented on #14914
@Dr15Jones @makortel , is PluginFactory still reruning a bare pointer ?

[2020-05-28 17:27] smuzaffar commented on #14952
closing this, please open a new one if you again see this threading problem.

[2020-05-28 17:27] #14952 closed

[2020-05-28 17:30] smuzaffar commented on #15425
@Dr15Jones , @makortel , do we still need this or was it already implemented?

[2020-05-28 17:31] wddgit commented on #15278
A lot of it is gone already and you no longer really read an old style configuration file, but there are bits and pieces of it around that never  got removed. Some was useful for the migration that happened long ago... For example:

https://cmssdt.cern.ch/lxr/source/FWCore/ParameterSet/python/Config.py#0759

[2020-05-28 17:31] smuzaffar commented on #15482
We have not see such issues in recent releases so closing this, please open a new one if needed.

[2020-05-28 17:31] #15482 closed

[2020-05-28 17:32] smuzaffar commented on #15652
+core
fixed by  #15760

[2020-05-28 17:32] #15652 closed

[2020-05-28 17:32] cmsbuild commented on #15652
This issue is fully signed and ready to be closed.

[2020-05-28 17:39] smuzaffar commented on #15653
@Dr15Jones , @makortel was this every addressed?

[2020-05-28 17:40] makortel commented on #14914
This one has been done, in https://github.com/cms-sw/cmssw/pull/27097

[2020-05-28 17:40] makortel commented on #14914
+1

[2020-05-28 17:40] cmsbuild commented on #14914
This issue is fully signed and ready to be closed.

[2020-05-28 17:40] smuzaffar commented on #15764
+core
fixed by #15767

[2020-05-28 17:40] #15764 closed

[2020-05-28 17:40] cmsbuild commented on #15764
This issue is fully signed and ready to be closed.

[2020-05-28 17:41] smuzaffar commented on #15999
looks like this has been fixed by https://github.com/cms-sw/cmssw/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+perrozzi+lheruninfoproduct+ PRs

[2020-05-28 17:41] #15999 closed

[2020-05-28 17:42] #14914 closed

[2020-05-28 17:47] smuzaffar commented on #16035
@Dr15Jones , @makortel have we every re-optimized the PoolOutputModule ?

[2020-05-28 17:51] smuzaffar commented on #16525
@makortel , have we already addressed this? do we need to keep this open?

[2020-05-28 17:58] smuzaffar commented on #18850
@davidlange6 , do you still see these warnings?

[2020-05-28 18:02] davidlange6 commented on #18850
I have no idea…sorry

On May 28, 2020, at 7:58 PM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> , do you still see these warnings?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/18850#issuecomment-635504307>, or uns

[2020-05-28 18:04] smuzaffar commented on #17200
Looks like we still have this behaviour in patch releases. I will check why it happens in patch releases only.

[2020-05-28 18:06] smuzaffar commented on #17257
we are down to less than 20 now.

[2020-05-28 18:09] smuzaffar commented on #17372
@slava77 , any update on this?

[2020-05-28 18:15] makortel commented on #16525
assign reconstruction

[2020-05-28 18:15] cmsbuild commented on #16525
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-28 18:17] slava77 commented on #17372
adding TRK conveners
@mtosi @JanFSchulte

[2020-05-28 18:17] slava77 commented on #17372
assign reconstruction,simulation

[2020-05-28 18:17] cmsbuild commented on #17372
New categories assigned: reconstruction,simulation

@mdhildreth,@slava77,@perrotta,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-28 18:18] makortel commented on #16525
I was too quick in assigning reconstruction, by quick look it seems that the situation was improved in https://github.com/cms-sw/cmssw/pull/17925.

[2020-05-28 18:18] #16525 closed

[2020-05-28 18:19] makortel commented on #15653
Seems to me that this has not been addressed yet.

[2020-05-28 18:31] makortel commented on #15425
It has not been implemented, in principle it could be useful. On the other hand there is
https://github.com/cms-sw/cmssw/blob/b221493565de77760c96b4d3b64f580e22880bfb/HLTrigger/Configuration/python/common.py#L59-L61

[2020-05-28 18:32] makortel commented on #15340
I suspect it has not been addressed.

[2020-05-28 18:41] smuzaffar commented on #18850
sreaching in all runTheMatrix logs does not show any occurrence of DQMStore: WARNING:` .
I am closing this issue, please open a new open if you again see such warnings.

[a]
[code]

[2020-05-28 18:41] #18850 closed

[2020-05-28 19:12] smuzaffar commented on #25908
any process on this?

[2020-05-28 19:15] smuzaffar commented on #23970
+core
all python modules in cmssw now compile/run with python. For each IB we run python3 compilation ( see `Python3` link on IB page https://cmssdt.cern.ch/SDT/html/cmssdt-ib )

[2020-05-28 19:15] #23970 closed

[2020-05-28 19:16] cmsbuild commented on #23970
This issue is fully signed and ready to be closed.

[2020-05-28 19:17] smuzaffar commented on #23787
looks like this has been fixed. Open a new one if needed.

[2020-05-28 19:17] #23787 closed

[2020-05-28 19:25] smuzaffar commented on #23525
@santocch , can you please look in to this? I think this is still not fixed.

[2020-05-28 19:26] smuzaffar commented on #23803
closing as its a duplicate of #23676

[2020-05-28 19:26] #23803 closed

[2020-05-28 19:28] smuzaffar commented on #23130
Run2018A workflows were added by #23196 , so closing this issue.

[2020-05-28 19:28] #23130 closed

[2020-05-28 20:04] smuzaffar commented on #22214
@intrepid42 , do you still see this hangup?

[2020-05-28 21:07] ericvaandering commented on #13991
I still think this might be useful even though WMAgent is not able to take advantage of it. Check with Alan Malta?

[2020-05-29 00:33] slava77 commented on #27889
updates:
- #29739 Tau againstElectronDeadECAL (merged May 27, 2020)
- features not yet merged are now at the bottom of the list

[2020-05-29 06:44] smuzaffar commented on #18193
any updates on this? Do we still need these workflows?

[2020-05-29 06:52] smuzaffar commented on #20076
was there any process on this?

[2020-05-29 07:46] Sam-Harper commented on #20076
No. Not to my knowledge

[2020-05-29 09:56] smuzaffar commented on #18175
Do we still need to keep this issue open?

[2020-05-29 09:59] davidlange6 commented on #18175
I don’t think so

On May 29, 2020, at 11:56 AM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

Do we still need to keep this issue open?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/18175#issuecomment-635885968>, or unsubscribe<https://github.com/notifications

[2020-05-29 10:10] smuzaffar commented on #17938
+core
thaks to @guitargeek, this has been implement in https://github.com/cms-sw/cmssw/pull/27908

[2020-05-29 10:10] #17938 closed

[2020-05-29 10:10] cmsbuild commented on #17938
This issue is fully signed and ready to be closed.

[2020-05-29 10:22] smuzaffar commented on #17061
@ggovi , @pohsun, @tlampen, @tocheng, @christopheralanwest

The unused L1TMuonEndcapParamsRcd.h file was removed by https://github.com/cms-sw/cmssw/pull/23759 but that caused massive failure https://github.com/cms-sw/cmssw/issues/23873 . In https://github.com/cms-sw/cmssw/pull/23876 we reverted the change. Can you please check if this is still needed? Is it time to remove unused Endcap?

[2020-05-29 10:36] smuzaffar commented on #13236
+externals
this has been fixed in clhep.

[2020-05-29 10:36] #13236 closed

[2020-05-29 10:37] cmsbuild commented on #13236
This issue is fully signed and ready to be closed.

[2020-05-29 10:57] smuzaffar commented on #14728
https://github.com/cms-sw/cmsdist/pull/5886 and https://github.com/cms-sw/cmssw/pull/30042 remove these dependencies.

[2020-05-29 11:28] smuzaffar commented on #18688
looks like this issue was resolved by https://github.com/cms-sw/cmssw/pull/18696 and https://github.com/cms-sw/cmssw/pull/18700 . @davidlange6 , @slava77 any objection on closing this issue?

[2020-05-29 11:41] smuzaffar commented on #18251
Closing it as we do not see this any more in recent ASAN IBs.

[2020-05-29 11:41] #18251 closed

[2020-05-29 12:27] slava77 commented on #18688
+1

these were addressed in #18696

this was removed in #24863

[2020-05-29 12:51] smuzaffar commented on #29332
@jiafulow , We still have this error in ASAN IBs[a], I debugged it a bit an it happens when splitVariable >= 8
( https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TMuonEndCap/src/bdt/Node.cc#L327 )
as @Dr15Jones mentioned the event data  has fixed size of 8 ( https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TMuonEndCap/src/PtAssignmentEngine2016.cc#L632-L647 )

[a]
https://cmssdt.cern

[2020-05-29 12:53] #18688 closed

[2020-05-29 12:53] #18175 closed

[2020-05-29 13:13] smuzaffar commented on #13788
For sure we are not going to fork boost serialization, do we need to keep this issue open?

[2020-05-29 13:18] smuzaffar commented on #13694
@fwyzard , @Dr15Jones was https://github.com/cms-sw/cmssw/pull/27191 good enough to satisfy this feature?

[2020-05-29 13:23] Dr15Jones commented on #13694
@smuzaffar #27191 doesn't actually do this. From my comments in that pull request

[2020-05-29 13:56] jiafulow commented on #29332
@smuzaffar , I explained the issue in #29237. The quick summary is that back in Feb 2020, someone from L1T has made changes to the global tag used in 10_6_X for era=Run2_2016. This revealed some issue in the software (specifically, the BDT loaded from global tag did not match the software after the change). We fixed that and put the fix in both 10_6_X and 11_1_X. But it turned out that the global

[2020-05-29 14:06] smuzaffar commented on #19805
looks like this warnings still present in many `134.*` and `136.*` workflows [a]

[2020-05-29 14:19] makortel opened #30044 "Store "architecture" in event provenance"
Now that scram gained the [ability to build (and load) individual libraries and externals for different "vector architectures"](https://indico.cern.ch/event/923156/contributions/3878598/attachments/2044551/3426318/Core-SW200526.pdf) (the exact meaning of "architecture" will likely evolve), we should find a way to track that "architecture" in the event provenance.

After we have figured out the sto

[2020-05-29 14:20] makortel commented on #30044
assign core

[2020-05-29 14:20] cmsbuild commented on #30044
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-29 14:20] cmsbuild commented on #30044
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-29 14:26] smuzaffar commented on #29332
Thanks @jiafulow for the explaination. Sorry I did not read the #29237

You can reproduce the error in ASAN IBs but doing this
[code]

Yes your proposed fix should avoid the ASAN error but I would suggest the following change
[code]

[2020-05-29 14:38] smuzaffar commented on #20105
@weishi10141993 , looks like this was resolved by https://github.com/cms-sw/cmssw/pull/20197 .  Can we close this?

[2020-05-29 14:40] smuzaffar commented on #19513
@davidlange6 , I guess we can close this now.

[2020-05-29 14:45] smuzaffar commented on #19339
Closing this old issue, we have a new one related to this https://github.com/cms-sw/cmssw/issues/29332

[2020-05-29 14:45] #19339 closed

[2020-05-29 14:49] #21312 closed

[2020-05-29 14:53] #21322 closed

[2020-05-29 15:18] smuzaffar commented on #21179
Looks like @Dr15Jones redesigned this code ( https://github.com/cms-sw/cmssw/pull/26523 ).
@davidlange6 , should we close this issue?

[2020-05-29 15:20] davidlange6 commented on #21179
looks like it

[2020-05-29 15:20] #21179 closed

[2020-05-29 15:22] smuzaffar commented on #21129
Do we need any more fixes for this issue?

[2020-05-29 15:27] smuzaffar commented on #20639
Closing it as it looks like user/github authentication issue. Nothing to do with cmssw software.

[2020-05-29 15:27] #20639 closed

[2020-05-29 15:31] smuzaffar commented on #20352
assign simulation

[2020-05-29 15:32] cmsbuild commented on #20352
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-29 15:33] smuzaffar commented on #22475
+externals

[2020-05-29 15:33] #22475 closed

[2020-05-29 15:33] cmsbuild commented on #22475
This issue is fully signed and ready to be closed.

[2020-05-29 15:38] smuzaffar commented on #22474
+externals
Build Rules has been fixed to avoid duplicate _cfi.py files generatd via different plugins of a same package

[2020-05-29 15:38] #22474 closed

[2020-05-29 15:53] smuzaffar commented on #21740
`gfal-*` tools explicitly run `/usr/bin/python2` which will not work in cmssw.

[2020-05-29 15:55] weishi10141993 commented on #20105
Sure.

[2020-05-29 15:56] smuzaffar commented on #21668
This has been fixed.

[2020-05-29 15:56] #21668 closed

[2020-05-29 15:56] #20105 closed

[2020-05-29 15:57] #21628 closed

[2020-05-29 16:00] smuzaffar commented on #21618
fixed by https://github.com/cms-sw/cmssw/pull/21702

[2020-05-29 16:03] smuzaffar commented on #21394
any update on this?

[2020-05-29 16:04] smuzaffar commented on #21670
fixed

[2020-05-29 16:04] #21670 closed

[2020-05-29 16:06] smuzaffar commented on #21787
fixed

[2020-05-29 16:06] #21787 closed

[2020-05-29 16:11] smuzaffar commented on #24051
Looks like this has been fixed. We have not seen such random erros for PR tests.

[2020-05-29 16:12] smuzaffar commented on #25638
looks like this has been fixed. Please open a new issue if needed

[2020-05-29 16:12] #25638 closed

[2020-05-29 16:13] smuzaffar commented on #25434
any update on this?

[2020-05-29 16:16] smuzaffar commented on #25398
Is this still a valid issue? Can we close this?

[2020-05-29 16:17] smuzaffar commented on #25328
any update on this?

[2020-05-29 16:18] cmsbuild commented on #25271
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-29 16:22] #24968 closed

[2020-05-29 16:22] smuzaffar commented on #24825
fixed

[2020-05-29 16:22] #24825 closed

[2020-05-29 16:24] intrepid42 commented on #22214
Hi Malik, I don't think the situation has changed.
But Dire has been integrated into Pythia 8.3, and I expect there will be a thorough validation when the update is integrated into CMSSW.
So I suggest to close this issue.

[2020-05-29 16:27] kpedro88 commented on #21394
potentially superseded by #28479, but it depends on feedback from the developers

[2020-05-29 17:22] jiafulow commented on #29332
@smuzaffar , thanks for the instructions. I tried your suggestion and it seems to work. Before the fix, I got:

[code]

After the fix, I got:

[code]

Would you implement the fix? Or should I submit a pull request?

[2020-05-29 18:29] smuzaffar commented on #29332
Go ahead @jiafulow and sumbit the PR. Thanks,

[2020-05-29 18:40] smuzaffar opened #30049 "EcalDCS O2O test failing in 11.2.X"
Since yesterday ( CMSSW_11_2_X_2020-05-28-2300 IB) the `EcalDCS_O2O_test` test (from `CondTools/Ecal` package) is failing with error [a]. There is nothing related to the code which changed, @ggovi do you have any idea why this test test failing?

[a] https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-05-28-2300/unitTestLogs/CondTools/Ecal#/67547-67547
[code]

[2020-05-29 18:40] smuzaffar commented on #30049
assign db

[2020-05-29 18:41] cmsbuild commented on #30049
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-29 18:41] cmsbuild commented on #30049
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-29 19:53] cvuosalo commented on #25434
The work is still in progress, according to item 12 in this spreadsheet:
https://docs.google.com/spreadsheets/d/1Yv_2uDdqvFGLTjspm60fnUMQfLr3geuNF_xXfpd_uWI/edit?usp=sharing

[2020-05-29 19:55] jiafulow commented on #29332
Ok, I submitted a PR with your suggestion.

[2020-05-29 23:18] #27999 closed

[2020-05-29 23:30] christopheralanwest commented on #17061
@smuzaffar The problem in #23873 is that records of type `L1TMuonEndcapParamsRcd` are present in nearly all data GTs and all 2017 and later MC GTs:

https://cms-conddb.cern.ch/cmsDbBrowser/search/Prod/L1TMuonEndcapParams

It is necessary to have a definition in CMSSW for every record contained in a global tag. Therefore, to avoid crashing these workflows, we would need to remove `L1TMuonEndcapPara

[2020-05-30 07:28] #29967 closed

[2020-06-01 17:43] slava77 commented on #27889
update
- #30066 "Fix bug affecting boosted tau isolation" added to the list of features/fixes

[2020-06-01 19:45] #20363 closed

[2020-06-01 19:45] #20203 closed

[2020-06-01 20:21] srimanob opened #30070 "GEN crash at lumi-boundary change in 10_3 HIN campaign"
Not sure if it's related to https://github.com/cms-sw/cmssw/issues/25708

In the new HIN campaign (with CMSSW_10_3), there is the failure in production, e.g.
https://cms-unified.web.cern.ch/cms-unified/report/cmsunified_task_HIN-HINPbPbAutumn18pLHE-00005__v1_T_200429_213517_9970

I've checked, and see that the crash on
Module: Pythia8HadronizerFilter:generator (crashed)
happens at the LS boundary.

[2020-06-01 20:21] cmsbuild commented on #30070
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-01 20:23] Dr15Jones commented on #30070
assign generator

[2020-06-01 20:40] srimanob commented on #30070
Thanks @Dr15Jones
Should be generators (with s)?

[2020-06-01 20:43] Dr15Jones commented on #30070
assign generators

[2020-06-01 20:43] cmsbuild commented on #30070
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-01 21:22] srimanob commented on #30070
@alberto-sanchez
Maybe we just need https://github.com/cms-sw/cmssw/pull/25850 to 10_3 as a workaround.

[2020-06-02 06:31] srimanob commented on #30070
Backport makes the GEN-SIM step works as expected. Here is the PR:
https://github.com/cms-sw/cmssw/pull/30073

Thanks.

[2020-06-02 08:12] jan-kaspar commented on #25434
I confirm, Wagner's working on this task. Here's his last status report:
https://indico.cern.ch/event/922849/contributions/3877286/attachments/2046061/3427992/PPS_OffSoftMet__2020-05-27.pdf

[2020-06-02 08:37] silviodonato opened #30074 "Crash of many workflows in CMSSW_11_2_X_2020-06-01-2300"
Many workflows are crashing in CMSSW_11_2_X_2020-06-01-2300. At least those crashing with `ScheduleExecutionFailure` seem to be related to #29630.
Here an example:
[code]

[2020-06-02 08:37] silviodonato commented on #30074
assign core

[2020-06-02 08:37] cmsbuild commented on #30074
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-02 08:38] cmsbuild commented on #30074
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-02 12:49] makortel commented on #30074
I'm not really surprised, I'll get into it.

[2020-06-02 15:03] dan131riley commented on #15653
No, it hasn't...I need to get my OmniFocus discipline back and clean up some of these old bits

[2020-06-02 15:05] dan131riley commented on #16035
This was only partially completed, and probably needs to be revisited anyway to account for the changes since the last round of measurements.  Will promote it my (much neglected) todo list.

[2020-06-02 16:33] #21002 closed

[2020-06-02 17:42] makortel commented on #30074
Unrunnable schedule errors are fixed in https://github.com/cms-sw/cmssw/pull/30081

[2020-06-02 19:37] slava77 opened #30085 "type information is lost for proxy types (like cms.required) on assignment without type"
I was debugging a missing parameter replace in #30071 , which implements a fillDescriptions without specifying default values, an ```InputTag``` in this case.

This case corresponds to the default config file containing ```aPar = cms.required.InputTag```.
I expect that a normal behavior should follow after ```aPar = "y"``` is done in a clone from this default.
However, in this case this x does not

[2020-06-02 19:38] cmsbuild commented on #30085
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-02 19:39] slava77 commented on #30085
assign core

[2020-06-02 19:39] cmsbuild commented on #30085
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-02 21:22] makortel commented on #30085
@Dr15Jones Could you take a look?

[2020-06-02 21:47] makortel commented on #30074
The `SIGABRT` ones are fixed in https://github.com/cms-sw/cmssw/pull/30087 (and the `abort()` itself is changed to an exception in https://github.com/cms-sw/cmssw/pull/30082).

[2020-06-03 02:00] makortel commented on #30074
Second attempt is in https://github.com/cms-sw/cmssw/pull/30089

[2020-06-03 09:05] smuzaffar commented on #14728
+externals

[2020-06-03 09:05] #14728 closed

[2020-06-03 09:06] #28073 closed

[2020-06-03 09:06] smuzaffar commented on #28072
this has been resolved

[2020-06-03 09:06] #28072 closed

[2020-06-03 09:07] smuzaffar commented on #27286
resolved

[2020-06-03 09:07] #27286 closed

[2020-06-03 09:09] smuzaffar commented on #27248
this has been resolved

[2020-06-03 09:09] #27248 closed

[2020-06-03 09:12] smuzaffar commented on #27839
@slava77 , is there any thing still pending to resolve this issue?

[2020-06-03 09:13] smuzaffar commented on #27977
@amaltaro , should we close this issue?

[2020-06-03 09:19] amaltaro commented on #27977
Apologies for not following this issue up. Yes, I think there is nothing to be worked on here. In addition to that, I haven't seen anymore such errors in my test workflows. Closing!

[2020-06-03 09:19] #27977 closed

[2020-06-03 09:38] smuzaffar commented on #26016
we can close this issue, only `RecoParticleFlow/PFSimProducer` now depend on `FastSimulation`.

[2020-06-03 09:38] #26016 closed

[2020-06-03 09:45] smuzaffar commented on #25776
@Dr15Jones , we do not see these crashes any more ... right? I propose to close this issue and reopen a new if we it happens again.

[2020-06-03 10:06] smuzaffar commented on #17200
Reason for this is that cmssw-toolfile (which is only used in patch releases) adds CMSSW/bin/arch in to PYTHONPATH. This allows python to find the executable which started the python interpretor and somehow ends up in printing extra chars [a], [b]. We do not need CMSSW/bin/arch in PYTHONPATH,

https://github.com/cms-sw/cmsdist/pull/5901 should resolve this issue.

[a] CMSSW Patch release:
1. cmsRu

[2020-06-03 12:43] slava77 commented on #27839
it is OK for reco (+1 on May 1).

@kpedro88 please check/confirm for the upgrade side.
Thank you.

[2020-06-03 12:50] #25776 closed

[2020-06-03 13:31] makortel commented on #30074
The `ProductNotFound` errors caused by `egmElectronIsolationCITK` in 1325.X workflows are fixed in https://github.com/cms-sw/cmssw/pull/30094

[2020-06-03 13:38] makortel opened #30095 "randomEngineStateProducer product not found in 140.0 and 150.0"
In the latest IB CMSSW_11_2_X_2020-06-02-2300 the workflows 140.0 and 150.0 started to fail (they did not fail in an earlier IB so the failures are likely independent of https://github.com/cms-sw/cmssw/issues/30074). The failure is
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-06-02-2300/pyRelValMatrixLogs/run/150.0_HydjetQ_B12_5020GeV_2018+HydjetQ_B12_502

[2020-06-03 13:38] cmsbuild commented on #30095
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-03 13:39] makortel commented on #30095
From the PRs merged in CMSSW_11_2_X_2020-06-02-2300 the https://github.com/cms-sw/cmssw/pull/29990 looks like a plausible candidate causing the failures by modifying HI event content.

[2020-06-03 13:43] makortel commented on #30095
assign operations

[2020-06-03 13:43] cmsbuild commented on #30095
New categories assigned: operations

@fabiocos,@franzoni,@davidlange6,@silviodonato you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-03 13:58] makortel commented on #30074
The `ProductNotFound` error in 1004.0 is fixed in https://github.com/cms-sw/cmssw/pull/30076

There should now be PRs to fix all failures caused by #29630 (unless I missed something).

[2020-06-03 14:09] #17200 closed

[2020-06-03 14:29] perrotta commented on #30095
Indeed I think the issue actually comes from #29990 , as you suspected.

```IOMCRAW``` is included in the ```FEVTSIMEventContent```; but then when:
[code]
then the "drop *" statement at the beginning of ```FEVTEventContent``` now resets it

I try to prepare a fix

[2020-06-03 14:37] kpedro88 commented on #27839
+upgrade

[2020-06-03 14:37] cmsbuild commented on #27839
This issue is fully signed and ready to be closed.

[2020-06-03 14:38] #27839 closed

[2020-06-03 15:52] perrotta commented on #30095
assign reconstruction

[2020-06-03 15:52] cmsbuild commented on #30095
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-03 15:54] perrotta commented on #30095
A fix is available in #30097

[2020-06-03 15:55] fwyzard opened #30098 "EventContentAnalyzer fails in verbose mode"
Trying to use an `EventContentAnalyzer` in verbose mode with
[code]
fails with a run time exception:
[code]

Tested in CMSSW_11_1_0_pre8 .

[2020-06-03 15:55] fwyzard commented on #30098
assign core

[2020-06-03 15:56] cmsbuild commented on #30098
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-03 15:56] cmsbuild commented on #30098
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-03 15:59] makortel commented on #30095
Thanks @perrotta!

[2020-06-03 16:02] makortel commented on #30098
The problem is that this `getByLabel()`
https://github.com/cms-sw/cmssw/blob/8007827dba0f4812bdb62db63b59cbb9ea5403a5/FWCore/Modules/src/EventContentAnalyzer.cc#L253
gets called from
https://github.com/cms-sw/cmssw/blob/8007827dba0f4812bdb62db63b59cbb9ea5403a5/FWCore/Modules/src/EventContentAnalyzer.cc#L408-L412
but `consumes()` are called in the constructor only if `getData_ == true`
https://gith

[2020-06-03 18:53] jolange commented on #17200
Nice to see this finally addressed after three years (although I'm no longer using CMSSW).

Thanks for looking into this!

[2020-06-03 19:09] silviodonato opened #30100 "Build CMSSW_11_1_0_pre9_CANDIDATE"

[2020-06-03 19:10] cmsbuild commented on #30100
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-06-03 19:10] silviodonato commented on #30100
+1

[2020-06-03 19:10] cmsbuild commented on #30100
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre9_CANDIDATE. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-06-03 19:10] cmsbuild commented on #30100
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-06-03 19:11] cmsbuild commented on #30100
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2436/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-03 19:12] cmsbuild commented on #30100
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2437/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-06-03 19:12] cmsbuild commented on #30100
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2438/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-03 19:16] cmsbuild commented on #30100
The build has started for slc7_amd64_gcc820 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2439/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-03 20:15] ggovi commented on #30049
It should be solved by https://github.com/cms-sw/cmssw/pull/30090

[2020-06-03 21:35] cvuosalo commented on #28914
@fabiocos Adinda is fixing the `DDSolidShape` issue in these files, but the `DDExpandedView` part still needs to be migrated. What are your plans for migrating these files?

[2020-06-03 21:49] cmsbuild commented on #30100
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_aarch64_gcc820

[2020-06-03 22:25] cmsbuild commented on #30100
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre9_CANDIDATE-cc8_amd64_gcc8/2437
Some

[2020-06-03 22:38] cmsbuild commented on #30100
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_ppc64le_gcc820

[2020-06-03 22:49] cmsbuild commented on #30100
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_aarch64_gcc820/2436

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-03 23:06] cmsbuild commented on #30100
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre9_CANDIDATE-cc8_amd64_gcc8/2437

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-03 23:10] cmsbuild commented on #30100
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_amd64_gcc820/243

[2020-06-03 23:49] cmsbuild commented on #30100
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_amd64_gcc820/2439

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-03 23:59] cmsbuild commented on #30100
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_ppc64le_gcc820/2438

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-04 06:13] silviodonato commented on #30100
upload all

[2020-06-04 06:14] cmsbuild commented on #30100
Queing Jenkins upload for cc8_amd64_gcc8

[2020-06-04 06:14] cmsbuild commented on #30100
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-06-04 06:14] cmsbuild commented on #30100
Queing Jenkins upload for slc7_amd64_gcc820

[2020-06-04 06:14] cmsbuild commented on #30100
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-06-04 06:14] cmsbuild commented on #30100
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1567/console

[2020-06-04 06:15] cmsbuild commented on #30100
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1569/console

[2020-06-04 06:15] cmsbuild commented on #30100
The upload has started for slc7_amd64_gcc820 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1568/console

[2020-06-04 06:15] cmsbuild commented on #30100
The upload has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1566/console

[2020-06-04 06:15] cmsbuild commented on #30100
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_ppc64le_gcc820/1569

[2020-06-04 06:16] cmsbuild commented on #30100
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_aarch64_gcc820/1567

[2020-06-04 06:19] cmsbuild commented on #30100
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre9_CANDIDATE-cc8_amd64_gcc8/1566

[2020-06-04 06:22] cmsbuild commented on #30100
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre9_CANDIDATE-slc7_amd64_gcc820/1568

[2020-06-04 06:42] silviodonato commented on #30100
release-notes

[2020-06-04 07:03] silviodonato commented on #30100
release-notes since CMSSW_11_1_0_pre8

[2020-06-04 07:04] cmsbuild commented on #30100
Generating release notes since CMSSW_11_1_0_pre8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-06-04 07:04] cmsbuild commented on #30100
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre9_CANDIDATE is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_0_pre8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre9_C

[2020-06-04 07:04] cmsbuild commented on #30100
Generating release notes since CMSSW_11_1_0_pre8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-06-04 07:04] cmsbuild commented on #30100
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre9_CANDIDATE is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_0_pre8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre9_C

[2020-06-04 07:05] cmsbuild commented on #30100
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre9_CANDIDATE

[2020-06-04 07:05] cmsbuild commented on #30100
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre9_CANDIDATE

[2020-06-04 10:46] smuzaffar commented on #28800
+core
cmssw warnings/errors are now fix and https://github.com/cms-sw/cmsdist/pull/5524 added the compilation flag `-Wno-tautological-type-limit-compare`

[2020-06-04 10:46] #28800 closed

[2020-06-04 10:46] cmsbuild commented on #28800
This issue is fully signed and ready to be closed.

[2020-06-04 10:48] #28499 closed

[2020-06-04 11:47] smuzaffar commented on #27082
I recheck this for LLVM and noticed that
1. One issue [a] reported there https://github.com/cms-sw/cmssw/pull/21478#issuecomment-487903598 can be avoided by setting `readability-braces-around-statements.ShortStatementLines` to 1.

2. Te other issue [b] still exists and it generate invalid code
[code]

The bug report https://bugs.llvm.org/show_bug.cgi?id=25970 is still open.

[a]
[code]

[b]
[code]

[2020-06-04 11:57] fwyzard commented on #27082
Hi Shahzad,
to clarify - the issue with [b] is that it transforms
[code]
into
[code]
while the right transofmation would be
[code]
?

[2020-06-04 12:00] smuzaffar commented on #27082
yes thatis correct @fwyzard

[2020-06-04 13:35] smuzaffar commented on #27082
there is a fix in pipeline https://reviews.llvm.org/D75813 . We will try again once this is integrated

[2020-06-04 14:49] silviodonato opened #30107 "Build CMSSW_10_3_5"

[2020-06-04 14:49] cmsbuild commented on #30107
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-06-04 14:50] silviodonato commented on #30107
+1

[2020-06-04 14:50] cmsbuild commented on #30107
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2020-06-04 14:51] cmsbuild commented on #30107
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-06-04 14:53] cmsbuild commented on #30107
The build has started for slc6_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2440/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-04 14:55] cmsbuild commented on #30107
The build has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2441/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-04 17:28] cmsbuild commented on #30107
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_5-slc7_amd64_gcc700/2441
Some tests (

[2020-06-04 17:52] rappoccio opened #30112 "Invalid pointers in reco::GenJets in MINIAOD"
There is a problem with invalid pointers somewhere in the MINIAOD code. This was at least present in 10.6.x. It's a very rare corner case (1 event in 10M or so). To reproduce you can execute this `pyfwlite` file. You can see that there is an invalid pointer where it says "not valid" in the following code.

@ahinzmann @laurenhay @alefisico

[code]

[2020-06-04 17:53] cmsbuild commented on #30112
A new Issue was created by  @rappoccio .

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-04 17:56] Dr15Jones commented on #30112
assign generators

[2020-06-04 17:56] cmsbuild commented on #30112
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-04 18:00] cmsbuild commented on #30107
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_5-slc6_amd64_gcc700/2440
Some tests (

[2020-06-04 18:04] slava77 commented on #30112
assign xpog

[2020-06-04 18:04] cmsbuild commented on #30112
New categories assigned: xpog

@fgolf,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-04 18:06] cmsbuild commented on #30107
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_5-slc7_amd64_gcc700/2441

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-04 18:34] rappoccio commented on #30112
Protection is added in 11.2.x [here](https://github.com/cms-sw/cmssw/pull/30114)

I will backport to 10.6.X and 11.1.X also when this is done. I do not know the underlying reason for this yet, but the protections are needed to run over existing MINIAOD anyway.

[2020-06-04 18:37] cmsbuild commented on #30107
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_5-slc6_amd64_gcc700/2440

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-04 19:55] rappoccio commented on #30112
We don't have the solution yet, but this is where there was some introduction of rekeying. @arizzi has a comment there that checks against null pointers but it was never activated.

https://github.com/cms-sw/cmssw/commit/20f24789a89cd69beb96dfab854808b727d92823

So it looks like this is still even further upstream from MINIAOD, will check RECO.

[2020-06-04 20:12] rappoccio commented on #30112
Grrr, the dataset is `/TTJets_SingleLeptFromT_TuneCP5_13TeV-madgraphMLM-pythia8/RunIIFall17DRPremix-94X_mc2017_realistic_v10-v1/AODSIM` and it is no longer stored anywhere.

Any ideas?

[2020-06-04 23:26] makortel commented on #28354
#30117 should provide a solution

[2020-06-05 00:06] makortel commented on #29558
@ggovi Do you have any thoughts? @wddgit is starting to look into implementing the fallback mechanism.

[2020-06-05 07:45] silviodonato commented on #29237
@jiafulow @christopheralanwest @davignon @dinyar What is the status of the fix? Are you going to update these records in the 111X and 112X GT?

[2020-06-05 08:22] fabiocos commented on #27082
@smuzaffar so apparently this is the only problem still keeping on hold the migration? But how often do we have it? A quick browsing does not show such kind of instances, I might be missing them. Of course in case of a migration better to be sure of the correct behaviour, something might be missed while approving, I agree...

[2020-06-05 08:44] fabiocos commented on #28914
@cvuosalo are you speaking of
https://github.com/cms-sw/cmssw/blob/master/Geometry/MTDNumberingBuilder/interface/GeometricTimingDet.h#L41
https://github.com/cms-sw/cmssw/blob/master/Geometry/MTDNumberingBuilder/interface/GeometricTimingDet.h#L41
?

This dependence seems completely fake to me, given that it is just a common type definition:
https://github.com/cms-sw/cmssw/blob/master/DetectorDescri

[2020-06-05 13:51] hjkwon260 commented on #29237
Hi - may I ask few questions on GT update(w/ correct L1T tags)?
1. Do we only need to summit request for correct L1T tags in GT queue or create a candidate GT as well?
2. In condDB, I couldn't find 111X, 112X GT(for MC 16), is the L1T tag update should be done on 110X GT(MC 16) only?
3. if 2, these queues can be used?:
    - pp:
        - 110X_mcRun2_asymptotic_preVFP_Queue
        - 110X_mcRun2_a

[2020-06-05 13:56] silviodonato commented on #30107
upload all

[2020-06-05 13:56] cmsbuild commented on #30107
Queing Jenkins upload for slc6_amd64_gcc700

[2020-06-05 13:56] cmsbuild commented on #30107
Queing Jenkins upload for slc7_amd64_gcc700

[2020-06-05 13:58] cmsbuild commented on #30107
The upload has started for slc6_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1570/console

[2020-06-05 13:58] cmsbuild commented on #30107
The upload has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1571/console

[2020-06-05 14:00] cmsbuild commented on #30107
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_5-slc7_amd64_gcc700/1571

[2020-06-05 14:01] cmsbuild commented on #30107
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_5-slc6_amd64_gcc700/1570

[2020-06-05 14:47] christopheralanwest commented on #29237
Do I understand correctly that these changes are needed for 11_0_X, 11_1_X and 11_2_X? If so, you can queue the tags to:

- 110X_mcRun2_asymptotic_preVFP_Queue
- 110X_mcRun2_asymptotic_Queue
- 110X_mcRun2cosmics_startup_deco_Queue

Since no other changes have been made to these GTs since 110X, we can then use the 110X GTs for all three release series.

Please queue the tags and create the candidat

[2020-06-05 22:53] cvuosalo commented on #28914
@fabiocos Actually, Adinda has just fixed the `nav_type` in #29905. There is still the `using GeoHistory = std::vector<DDExpandedNode>;` to remove or fix in several MTD and Tracker files.
I think `PoolAlloc` is obsolete and can be deleted.
Could you and @adewit please coordinate on how these fixes can be made?

[2020-06-06 07:05] silviodonato commented on #30107
release-notes

[2020-06-06 07:05] cmsbuild commented on #30107
Generating release notes since CMSSW_10_3_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-06-06 07:05] cmsbuild commented on #30107
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_3_5 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_5

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2020-06-06 07:07] cmsbuild commented on #30107
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_5

[2020-06-06 12:37] perrotta commented on #30095
+1
- Fixed with #30097

[2020-06-06 23:47] #30095 closed

[2020-06-06 23:52] makortel commented on #30074
Seems that `140.55` is showing a new symptom after https://github.com/cms-sw/cmssw/pull/30089
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-06-06-1100/pyRelValMatrixLogs/run/140.55_RunHI2015VR+RunHI2015VR+HYBRIDRepackHI2015VR+HYBRIDZSHI2015+RECOHID15+HARVESTDHI15/step4_RunHI2015VR+RunHI2015VR+HYBRIDRepackHI2015VR+HYBRIDZSHI2015+RECOHID15+HARVESTDHI15.log#/

[2020-06-06 23:56] makortel commented on #30074
The failure in 138.1
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-06-04-2300/pyRelValMatrixLogs/run/138.1_RunCosmics2020+RunCosmics2020+RECOCOSDRUN3+ALCACOSDRUN3+HARVESTDCRUN3/step2_RunCosmics2020+RunCosmics2020+RECOCOSDRUN3+ALCACOSDRUN3+HARVESTDCRUN3.log#/

might also be related, although it is not immediately evident why any PR merged in CMSSW_11_2_X_20

[2020-06-07 10:03] smuzaffar commented on #11763
this has been fixed, we do not see such errors in ubsan ibs any more.

[2020-06-07 10:03] #11763 closed

[2020-06-08 00:00] makortel commented on #30074
The 140.55 got somehow fixed in CMSSW_11_2_X_2020-06-07-0000 (maybe because of https://github.com/cms-sw/cmssw/pull/30094?).

I'm investigating 138.1, and it does not seem to be directly caused by https://github.com/cms-sw/cmssw/pull/29630

[2020-06-08 00:02] makortel opened #30140 "Workflow 138.1 fails because of missing ClusterShapeHitFilter"
Workflow 138.1 fails since CMSSW_11_2_X_2020-06-04-2300 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-06-04-2300/pyRelValMatrixLogs/run/138.1_RunCosmics2020+RunCosmics2020+RECOCOSDRUN3+ALCACOSDRUN3+HARVESTDCRUN3/step2_RunCosmics2020+RunCosmics2020+RECOCOSDRUN3+ALCACOSDRUN3+HARVESTDCRUN3.log#/

[2020-06-08 00:02] makortel commented on #30074
I opened a new issue for it https://github.com/cms-sw/cmssw/issues/30140

[2020-06-08 00:02] makortel commented on #30074
+1

[2020-06-08 00:02] cmsbuild commented on #30140
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-08 00:02] cmsbuild commented on #30074
This issue is fully signed and ready to be closed.

[2020-06-08 00:03] makortel commented on #30140
assign alca, dqm

[2020-06-08 00:03] cmsbuild commented on #30140
New categories assigned: dqm,alca

@jfernan2,@christopheralanwest,@andrius-k,@schneiml,@fioriNTU,@tlampen,@pohsun,@tocheng,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-08 01:02] makortel commented on #30140
I investigated the step2 configuration in CMSSW_11_2_X_2020-06-01-2300 (where 138.1 succeded) and in CMSSW_11_2_X_2020-06-04-2300 (where 138.1 started to fail). In 01-2300, the `ClusterShapeHitFilterESProducer` gets imported via `Configuration.StandardSequences.AlCaRecoStreams_cff`, which is not actually loaded in the step2 configuration in 04-2300.

Comparing the `cmsDriver` arguments
* 01-2300 h

[2020-06-08 05:08] cmsbuild commented on #30107
The cleanup has started for slc6_amd64_gcc700

[2020-06-08 05:08] cmsbuild commented on #30107
The cleanup has started for slc7_amd64_gcc700

[2020-06-08 05:08] #30107 closed

[2020-06-08 05:08] cmsbuild commented on #30107
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_5-slc6_amd64_gcc700/1556

[2020-06-08 05:08] cmsbuild commented on #30107
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_5-slc7_amd64_gcc700/1557

[2020-06-08 07:56] #30140 closed

[2020-06-08 08:25] #30074 closed

[2020-06-08 08:41] silviodonato opened #30142 "Build CMSSW_10_6_13"

[2020-06-08 08:42] cmsbuild commented on #30142
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-06-08 08:43] cmsbuild commented on #30142
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-06-08 08:43] cmsbuild commented on #30142
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-06-08 09:11] cmsbuild commented on #30142
The build has started for slc7_amd64_gcc700 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2442/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-08 09:12] cmsbuild commented on #30142
The build has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2443/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-08 09:14] Martin-Grunewald commented on #29203
What is the status of this and the corresponding JIRA https://its.cern.ch/jira/browse/CMSHLT-2113 ?

[2020-06-08 09:16] tomcornelis opened #30143 "HitPattern class functions giving different return values on edmCopyPickMerged events in CMSSW_10_2_X"
I see some inconsistency in the HitPattern functions when running directly on MINIAODSIM files, or when I run on a subset obtained using edmCopyPickMerge, e.g. when you run the framework on

(1) /store/mc/RunIISummer16MiniAODv3/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/MINIAODSIM/PUMoriond17_94X_mcRun2_asymptotic_v3_ext2-v1/100000/005FEC6C-D6C2-E811-A83B-A0369FC5E094.root

(2) file:/

[2020-06-08 09:17] cmsbuild commented on #30143
A new Issue was created by  @tomcornelis Tom Cornelis.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-08 11:58] Dr15Jones commented on #30143
assign core, reconstruction

[2020-06-08 11:58] cmsbuild commented on #30143
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-08 12:23] cmsbuild commented on #30142
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_13-slc7_amd64_gcc820/2443
Some tests (

[2020-06-08 13:01] slava77 commented on #30143
@tomcornelis
please specify run:ls:event for events with differences
together with the values and e.g. pt,eta,phi for the electrons.

I tried the two variables in FWLite and the values appear to be the same in both files.

[2020-06-08 13:02] cmsbuild commented on #30142
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_13-slc7_amd64_gcc820/2443

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-08 13:07] cmsbuild commented on #30142
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_13-slc7_amd64_gcc700/2442
Some tests (

[2020-06-08 13:33] tomcornelis commented on #30143
Here's some sdiff output when I run on both files:
[diff.txt](https://github.com/cms-sw/cmssw/files/4746232/diff.txt)

The missing hits you don't see much changes (in only occurs in very few events), but for the trackerLayerWithMeasurements() function it results in another integer value for almost all events.
(Note: this is in CMSSW_10_2_22, I don't see these differences when running in CMSSW_10_6

[2020-06-08 13:46] cmsbuild commented on #30142
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_13-slc7_amd64_gcc700/2442

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-08 15:48] silviodonato commented on #30142
upload all

[2020-06-08 15:49] cmsbuild commented on #30142
Queing Jenkins upload for slc7_amd64_gcc700

[2020-06-08 15:49] cmsbuild commented on #30142
Queing Jenkins upload for slc7_amd64_gcc820

[2020-06-08 15:50] cmsbuild commented on #30142
The upload has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1573/console

[2020-06-08 15:50] cmsbuild commented on #30142
The upload has started for slc7_amd64_gcc700 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1572/console

[2020-06-08 15:51] cmsbuild commented on #30142
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_13-slc7_amd64_gcc820/1573

[2020-06-08 15:54] cmsbuild commented on #30142
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_13-slc7_amd64_gcc700/1572

[2020-06-08 16:17] slava77 commented on #30143
@tomcornelis
how exactly did you get the RunIISummer16MiniAODv3-DYJetsToLL_M-50.root?
I see that the underlying hitPattern array is different in both cases.

[2020-06-08 16:32] tomcornelis commented on #30143
The exact command to create the file was:

edmCopyPickMerge inputFiles=/store/mc/RunIISummer16MiniAODv3/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/MINIAODSIM/PUMoriond17_94X_mcRun2_asymptotic_v3_ext2-v1/100000/005FEC6C-D6C2-E811-A83B-A0369FC5E094.root outputFile=RunIISummer16MiniAODv3-DYJetsToLL_M-50.root maxEvents=1000

i.e. I simply wanted to have the first 1000 events from the orig

[2020-06-08 16:41] slava77 commented on #30143
was it after setting up CMSSW_10_2_22?

[2020-06-08 16:49] tomcornelis commented on #30143
Yes, I originally did it in an older CMSSW_10_2_X release, but I quickly checked and CMSSW_10_2_22 produces the same result

[2020-06-08 16:55] tomcornelis commented on #30143
Actually I have to correct myself (I was too quick in the check), and the new edmCopyPickMerge I did in CMSSW_10_2_22 is fine.

But even going back to the older release (CMSSW_10_2_10) I know produce a file which seems to be correct. So I am not sure why edmCopyPickMerge did create something different when I used if a few days ago.

[2020-06-08 17:00] slava77 commented on #30143
Looking at the hitPattern array content, it looks like your RunIISummer16MiniAODv3-DYJetsToLL_M-50.root was made in 10_6_X (the hit bits are re-aligned to 12 bit).

If this issue is resolved now, please close.

[2020-06-08 17:02] tomcornelis commented on #30143
Ok, I guess this might explain it. Probably I was not aware I had still a cmsenv in a CMSSW_10_6_X release.

[2020-06-08 17:02] #30143 closed

[2020-06-09 11:20] davidlange6 opened #30158 "Structure for data files used by cmssw"
HI all
I notice an increased rate of custom format data files being accepted for the CMSSW data area . Should we not encourage something more self documenting and able to evolve? Eg, root files, json, csv with column headings, yaml [not that csv is easy to evolve in a backwards compatible way, but the others are]

[2020-06-09 11:20] cmsbuild commented on #30158
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-09 12:27] Dr15Jones commented on #30158
Hi David,
Could you point out a few example files you are worried about?

[2020-06-09 14:57] silviodonato commented on #30142
release-notes

[2020-06-09 14:58] cmsbuild commented on #30142
Generating release notes since CMSSW_10_6_12.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-06-09 14:58] cmsbuild commented on #30142
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_13 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_12 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_13

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-06-09 14:59] cmsbuild commented on #30142
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_13

[2020-06-09 16:50] gpetruc commented on #30112
IIRC it was possible for GenJet to contain some dangling references because not all gen particles are stored in the packedGen (there's a rapidity cut applied)

[2020-06-09 17:29] rappoccio commented on #30112
That's my suspicion also but it's pretty loose, |eta| < 5. I'll have to dig through.

[2020-06-09 17:40] makortel commented on #29558
@ggovi's presentation in the Core Software meeting today (slide 10)
https://indico.cern.ch/event/927304/contributions/3898824/attachments/2052350/3443738/CMS_DBSoftware_Planning_2020.pdf
mentions a possibility to set up Frontier to read the conditions data from a file.

@hernand Would such an arrangement be feasible in your case? (to explore options if nothing more)

[2020-06-09 19:01] ggovi commented on #29558
@makortel
sorry I've missed this item. I'll have a look tomorrow!

[2020-06-09 19:29] #30142 closed

[2020-06-09 19:30] silviodonato opened #30163 "Build CMSSW_11_2_0_pre1"

[2020-06-09 19:30] cmsbuild commented on #30163
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-06-09 19:31] silviodonato commented on #30163
+1

[2020-06-09 19:32] cmsbuild commented on #30163
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-06-09 19:32] cmsbuild commented on #30163
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmss

[2020-06-09 19:34] cmsbuild commented on #30163
The build has started for cc8_amd64_gcc8 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2444/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-06-09 19:34] cmsbuild commented on #30163
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2445/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-09 19:38] cmsbuild commented on #30163
The build has started for slc7_ppc64le_gcc820 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2446/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-09 19:42] cmsbuild commented on #30163
The build has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2447/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-09 20:11] adewit commented on #28914
Hi, I had another look at the `DDExpandedNode` usage in the code today to see if it might be straightforward to do these fixes. I see that `DDFilteredView` has a `geoHistory` method which returns a vector of `DDExpandedNode`s. It looks like in `cms::DDFilteredView` that has been replaced by a method that returns a vector of `TGeoNode`s - I'm afraid I don't have time to try to understand how this i

[2020-06-09 20:15] cmsbuild commented on #30163
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2448/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-06-09 21:06] cvuosalo commented on #28914
@adewit, @fabiocos, @vargasa The DD4hep migration of the `TrackerNumberingBuilder` won't be complete until the dependence on `DDExpandedNode` is handled. Can one of you perform this task?

[2020-06-09 21:08] cmsbuild commented on #30163
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2449/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-10 02:21] cmsbuild commented on #30163
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-slc7_ppc64le_gcc820/2446
Some

[2020-06-10 02:51] cmsbuild commented on #30163
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-cc8_aarch64_gcc8/2448
Some tests

[2020-06-10 03:28] cmsbuild commented on #30163
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-slc7_aarch64_gcc820/2449
Some

[2020-06-10 03:28] cmsbuild commented on #30163
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-slc7_ppc64le_gcc820/2446

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-10 04:06] cmsbuild commented on #30163
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-slc7_amd64_gcc900/2447
Some tes

[2020-06-10 04:23] cmsbuild commented on #30163
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-cc8_amd64_gcc8/2444
Some tests ( r

[2020-06-10 04:45] cmsbuild commented on #30163
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-slc7_amd64_gcc900/2447

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-10 05:04] cmsbuild commented on #30163
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-cc8_amd64_gcc8/2444

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-10 05:06] cmsbuild commented on #30163
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-slc7_amd64_gcc820/2445
Some tes

[2020-06-10 05:46] cmsbuild commented on #30163
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-slc7_amd64_gcc820/2445

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-06-10 06:32] cmsbuild commented on #30163
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2450/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-10 06:38] cmsbuild commented on #30163
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2451/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-06-10 07:28] silviodonato commented on #30163
abort

[2020-06-10 07:29] cmsbuild commented on #30163
Deleting CMSSW_11_2_0_pre1:

  -Release successfully deleted

  -cmssw tag CMSSW_11_2_0_pre1 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_pre1/slc7_amd64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_pre1/slc7_aarch64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_pre1/slc7_ppc64le_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_pre1/slc7_amd64_gc

[2020-06-10 07:29] cmsbuild commented on #30163
The was an error for slc7_aarch64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre1-slc7_aarch64_gcc820/2450

[2020-06-10 07:31] #30163 closed

[2020-06-10 07:48] hernand commented on #29558
Thanks for the pointer. I see not much information in the slides but it looks the idea is to store payloads in files and access them via Frontier. Our problem is that worker nodes don't have access to Internet and need to read conditions data from local files, so we still need a mechanism to copy the conditions data files to the worker nodes and have a mechanism in CMSSW to read them without chang

[2020-06-10 09:21] silviodonato opened #30171 "Build CMSSW_11_2_0_pre1"

[2020-06-10 09:22] cmsbuild commented on #30171
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-06-10 09:29] silviodonato commented on #30171
+1

[2020-06-10 09:29] cmsbuild commented on #30171
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-06-10 09:29] cmsbuild commented on #30171
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmss

[2020-06-10 09:31] cmsbuild commented on #30171
The build has started for cc8_amd64_gcc8 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2452/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-06-10 09:31] cmsbuild commented on #30171
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2453/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-10 09:33] cmsbuild commented on #30171
The build has started for slc7_amd64_gcc900 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2454/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-06-10 11:19] cmsbuild commented on #30171
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2455/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-06-11 06:28] silviodonato commented on #30171
release-notes

[2020-06-11 06:28] cmsbuild commented on #30171
Unable to find previous release for CMSSW_11_2_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2020-06-11 06:30] silviodonato commented on #30171
release-notes since CMSSW_11_1_0_pre8

[2020-06-11 06:30] cmsbuild commented on #30171
Generating release notes since CMSSW_11_1_0_pre8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-06-11 06:30] cmsbuild commented on #30171
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre1 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre8 can be found at:

https://github.com/cms-sw/cmssw/rel

[2020-06-11 06:31] cmsbuild commented on #30171
Generating release notes since CMSSW_11_1_0_pre8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-06-11 06:31] cmsbuild commented on #30171
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre1 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre8 can be found at:

https://github.com/cms-sw/cmssw/rel

[2020-06-11 06:31] cmsbuild commented on #30171
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre1

[2020-06-11 06:32] cmsbuild commented on #30171
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre1

[2020-06-11 06:43] #30171 closed

[2020-06-11 11:56] davidlange6 opened #30189 "CondFormats dependencies in DataFormats"
I'd like to remove the dependency of DataFormats/PatCandidates on CondFormats/L1TObjects (which I believe are not supposed to be allowed...).

This can be accomplished by moving two enums from CondFormats/L1TObjects/interface/L1GtDefinitions.h to some DataFormats package. (presumably DataFormats/L1TGlobal). Are there reasons not to do this or to do it differently?

[2020-06-11 11:56] cmsbuild commented on #30189
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-11 11:56] davidlange6 commented on #30189
assign l1

[2020-06-11 11:56] cmsbuild commented on #30189
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-11 11:56] davidlange6 commented on #30189
assign core

[2020-06-11 11:57] cmsbuild commented on #30189
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-11 13:00] smuzaffar commented on #30189
sounds reasonable to me.

[2020-06-11 13:38] ggovi commented on #29558
@makortel We could investigate with the Frontier expert about the feasibility to set up the fallback within frontier. This - I guess - would solve the issue of the distribution of the sqlite files involved.
However, the fallback mechanism in PoolDBESSource looks to me a good idea anyhow. I can also try to implement it if required.

[2020-06-11 13:54] makortel commented on #30189
Sounds good to me too.

[2020-06-11 13:58] makortel commented on #29558
@hernand Do I interpret correctly that setting up a Frontier instance inside the BSC would not work? (taking a look again your slides, slide 4 saying "No network connectivity in compute nodes!" sort-of confirms that, and thus the fallback-to-file within cmsRun indeed sounds like the best option)

[2020-06-11 14:05] hernand commented on #29558
Not only the best option, I would say the only option currently.
The network setup at BSC is quite restrictive, worker nodes do not have connectivity to Internet, so no way to talk to an external Frontier server, but even worse, nodes are not allowed to talk to internal services either, so currently there is no possibility to install any edge service like a Frontier instance.

[2020-06-11 14:07] makortel commented on #29558
@hernand Thanks for the clarification!

[2020-06-11 21:14] fwyzard commented on #16481
IIUC, the problem with deleting products before the end of the Event processing is that
  - products may be explicitly `consume`d by a module - which the framework can track and take into account;
  - products may be access via an `edm::Ref`, `edm::Ptr`, *etc.* that are part of other products - which the framework currently cannot know about.

So, a possibly silly suggestion...

Would it help to a

[2020-06-12 05:13] slava77 commented on #27889
updates (in the issue description)
- #30199 added (backport of #29526 is now available) for e/gamma scales and smearing
- #30066 Fix bug affecting boosted tau isolation (merged June 4, 2020)
- (backport is now available) cms-sw/cmsdist#5926 update ONNXRuntime to 1.3.0
- #30123 ONNXRuntime-based implementation of DeepJet, DeepAK8 and DeepDoubleX

[2020-06-12 06:17] smuzaffar commented on #29332
ASAN IBs are good now, we do not see this isssue any more

[2020-06-12 06:17] #29332 closed

[2020-06-12 06:22] smuzaffar commented on #21059
+core
looks like this has been been. We do not see such crashes in IBs.

[2020-06-12 06:22] #21059 closed

[2020-06-12 06:25] smuzaffar commented on #25197
this has been fixed

[2020-06-12 06:25] #25197 closed

[2020-06-12 06:26] smuzaffar commented on #25709
this has been fixed

[2020-06-12 06:26] #25709 closed

[2020-06-12 06:28] smuzaffar commented on #28565
this has been fixed.

[2020-06-12 06:28] #28565 closed

[2020-06-12 06:32] smuzaffar commented on #25782
Closing this issue as I do not see these issues in latest ASAN IBs (11.2.X).

[2020-06-12 06:32] #25782 closed

[2020-06-12 07:40] ianna opened #30205 "[Geometry Configuration] Auto generate a 2021 scenario from a dictionary"
- [ ] Make a 2021 dictionary similar to 2026 one

- [ ] Generate automatically both DD4hep and DD 2021 scenarios

- [ ] Forbid modifications by hand to the 2021 scenario

[2020-06-12 07:40] cmsbuild commented on #30205
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-12 08:35] #29846 closed

[2020-06-12 11:25] dpiparo commented on #29997
I am in favour of this work. Here you see an example of place where we can improve:
- http://innocent.web.cern.ch/innocent/perfResults/igprof-navigator/step4_PAT_PU_IB0608_CMSSW_11_2_X_2020-06-08-2300_slc7_amd64_gcc900/64
- https://cmssdt.cern.ch/lxr/source/Geometry/MTDNumberingBuilder/plugins/DDCmsMTDConstruction.cc:0025

[2020-06-12 12:37] civanch commented on #29997
I fully agree with this work. When we fix 11_1 Run-3 geometry we have a good benchmark for validation of updated algorithms.

[2020-06-12 13:18] makortel commented on #30205
assign geometry

[2020-06-12 13:18] cmsbuild commented on #30205
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-12 13:22] ianna commented on #29997
Yes, the links point to the DD implementation. We ought to do much better having completed the DD4hep migration :-)

[2020-06-12 15:03] davidlange6 commented on #30158
well, ok here's a stupid one
https://github.com/cms-data/L1Trigger-TrackFindingTMTT/blob/master/MCsamples/1110/RelVal/SingleElPt2to100/PU0.txt

now to give some more constructive examples

[2020-06-12 15:10] davidlange6 commented on #30158
These are semi random - lots of others
..
https://github.com/cms-data/L1Trigger-L1THGCal/blob/master/links_mapping_V11_decentralized_march20_0.txt

https://github.com/cms-data/SimTracker-SiStripDigitizer

https://raw.githubusercontent.com/cms-data/DQM-SiStripMonitorClient/44fee2625e4876fbe2df83676ca8b3f0ae4e06cb/Geometry/tracker_map_bare

[2020-06-12 15:50] ianna commented on #30205
this is being implemented in https://github.com/cms-sw/cmssw/pull/30214

[2020-06-12 15:54] Dr15Jones opened #30215 "SiPixelClusterProducer causes heap-buffer-overflow"
In the CMSSW_11_2_ASAN_X_2020-06-11-1100 IB when running RelVal workflow 26234.0 step 3 we see a heap-buffer-overflow.

[2020-06-12 15:54] cmsbuild commented on #30215
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-12 15:56] makortel commented on #30215
assign reconstruction

[2020-06-12 15:56] Dr15Jones commented on #30215
Running the job after compiling with debug symbols for the module gives the following information

[code]

[2020-06-12 15:56] cmsbuild commented on #30215
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-12 15:59] makortel commented on #30215
assign upgrade

[2020-06-12 15:59] cmsbuild commented on #30215
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-12 16:03] Dr15Jones commented on #30215
The most likely cause of the problem is SiPixelArrayBuffer is configured with the wrong size or the arguments passed to `SiPixelArrayBuffer::set_adc` are inappropriate for the configured hardware.

[2020-06-12 16:27] mmusich commented on #30215
Since it's recent and it affects only a very specific geometry i.e. 3D pixels (@Dr15Jones please confirm it's the only wf affected), it must be linked somehow to https://github.com/cms-sw/cmssw/pull/30170.
@duartej

[2020-06-12 16:40] duartej commented on #30215
@mmusich, I will try to check.
Could you point me from where did you guess the heap-buffer-overflow is caused by the 3D?

[2020-06-12 16:44] mmusich commented on #30215
The only failing workflow is a 3D pixel one.

[2020-06-12 16:48] Dr15Jones commented on #30215
There is only one workflow which is failing this way.

[2020-06-12 16:57] duartej commented on #30215
It is not failing in the workflow 24834.0 as well?   Or that workflow was not run?

[2020-06-12 16:59] makortel commented on #30215
24834.0 is run and succeeds.

[2020-06-12 17:01] duartej commented on #30215
This is weird, because 24834.0 is using 3D as well, right @mmusich?
Anyway, I'm looking at it, but it's kind of tricky issue...

[2020-06-12 17:05] makortel commented on #16481
This is indeed the main challenge (where _etc._ may also include raw pointers in transient products).

I'm a bit concerned of the overheads. Every `Ref` etc construction/copy/destruction would have to touch the reference count. Each `Ref` etc would also have to have a pointer to the counter (size increases by 8 bytes), or we make the reference counts a singleton (I'd rather avoid). All `RefVector`

[2020-06-12 17:11] kpedro88 commented on #30215
@duartej in this case, you can change the vector accessor here: https://github.com/cms-sw/cmssw/blob/3c07daea7fca7cc40dfe03570a6096800920093e/RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelArrayBuffer.h#L67-L71
If you use `.at()`, it will check the bounds and throw an exception for out-of-bounds indices.

[2020-06-12 17:20] duartej commented on #30215
ok, I'll check, thanks.

I'm able to generate a crash when I compile with debug symbols, but without them there is no crash... (I'm trying to print out the relevant lines of the crash, but EOS seems to be failing...)

[2020-06-12 17:49] slava77 commented on #27889
updates, including after the reco meeting today:
- (backport needed for) #30015 bad PF muon filter
- (possible backport for) #30016 deepDoubleX V2
- (possible backport for) #30072 Hbb Interaction network tagger (could be nanoAOD only)

The taggers can run on top of miniAOD (in case the integration takes some time)

[2020-06-12 20:31] duartej commented on #30215
By just compiling with debug symbols (I have `RecoLocalTracker/SiPixelRecHits` and `SimTracker/SiPhase2Digitizer` packages), the crash appearing is:
<details>
<summary>Crash message</summary>

[code]
</details>

I checked the `.at()` method in `SiPixelArrayBuffer.h`  as @mmusich  suggested and the crash is exactly the same as before.
[code]

[2020-06-12 20:50] duartej commented on #30215
I changed the geometry in my config file to use one without 3D:
[code]
and there is a segmentation violation as well, exactly the same than in the previous comment.

If I compile without ` USER_CXXFLAGS="-g -D=EDM_ML_DEBUG"` flag, there is no crash in any of the tested geometries...

[2020-06-12 20:58] mmusich commented on #30215
@duartej I am confused by your tests.
Let me state some facts:
   * The problem at hand involves only the ASAN build.
   * The only workflow which fails there is 26234.0 (3D pixels)
   * Curiously it fails only starting from the first IB after PR #30170 was merged.
   * The reported issue is in the clusterizer and not in the CPE.

What kind of test config did you use?

[2020-06-12 21:50] duartej commented on #30215
@mmusich, the #30170 as you can check, involves 1 line of code and a very precise change. Despite it could be always collateral effects, even more I'm not an expert on that software; I would be very surprise that this change is direct cause of the reported crash.
However, and as you said, is failing in a workflow of 3D and in the first IB after the #30170 merging:
1. I've try to track back the pot

[2020-06-12 23:36] makortel commented on #30215
Debug symbols and LogDebug should be independent of each other. That is, LogDebug compiles to nothing unless `EDM_ML_DEBUG` macro is enabled. Did you enable it?

26234.0 is ttbar, I would try to reproduce the problem and investigate by running it.

[2020-06-13 13:15] VinInn commented on #30215
what about valgrind?

[2020-06-13 13:40] Dr15Jones commented on #30215
The error is causing the code to write to memory it does not own. Building with debug symbols shifts memory around and therefore can cause this problem to manifest differently. That can lead to a crash going away or a crash appearing. The only tools I’ve found that can reliably help with the problem are ASAN or valgrind.

[2020-06-13 14:30] Dr15Jones commented on #30215
I made the following change
[code]
then running the workflow in question in the ASAN IB I got
[code]

[2020-06-13 16:05] mmusich commented on #30215
@duartej
FYI I could reproduce the error by doing:
[code]
that fails at step3 as reported in the issue.
Also about what reported by @Dr15Jones
[code]
Normally a pixel phase-2 module should have either: 1354\*434 or 672\*434 pixels in it (see https://github.com/cms-sw/cmssw/blob/master/Geometry/TrackerCommonData/data/PhaseII/TiltedTracker613/pixelStructureTopology.xml), so that digi at col 434 shou

[2020-06-13 17:48] srimanob opened #30230 "RandomNumberServiceHelper does not work with customise_commands"
Hi,

I am trying to use RandomNumberServiceHelper as part of the customise_commands but it does not work. However, if I add manually, the job runs properly. Any idea that I may miss? Thanks in advance.

`cmsDriver.py TTbar_13TeV_TuneCUETP8M1_cfi  --conditions auto:phase1_2018_realistic  --era Run2_2018 --eventcontent FEVTDEBUG -s GEN,SIM --datatier GEN-SIM --beamspot Realistic25ns13TeVEarly2018Col

[2020-06-13 17:49] cmsbuild commented on #30230
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-14 16:24] Dr15Jones opened #30234 "pythia8 version 302 is causing seg faults in WF 1361.181"
Right after the switch to pythia8 version 302 we see segmentation faults in WF 1361.181. This workflow is using the Pythia8ConcurrentHadronizerFilter module and is using concurrent LuminosityBlocks. The segmentation fault appears to be happening right when the LuminosityBlock boundary is crossed.

[2020-06-14 16:24] cmsbuild commented on #30234
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-14 16:26] Dr15Jones commented on #30234
assign generator

[2020-06-14 16:31] Dr15Jones commented on #30234
An example traceback from the crash is below
[code]

[2020-06-14 16:32] Dr15Jones commented on #30234
From anecdotal evidence, it appears that the crash happens when one Pythia8 instance is starting to process the first event in the next LuminosityBlock while a different Pythia8 instance is re-initializing itself at the new LuminosityBlock transition.

[2020-06-14 16:33] Dr15Jones commented on #30234
assign generators

[2020-06-14 16:33] cmsbuild commented on #30234
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-14 16:41] Dr15Jones commented on #30234
Searching more crash records, I seem to have found a case where 3 of the streams were still processing events in the 1st LuminosityBlock and the crash happened when Pythia8 tried to process the 1st event in the 2nd LuminosityBlock.

[2020-06-14 17:55] duartej commented on #30215
Thanks for the catch @Dr15Jones and for the instructions to reproduce it @mmusich.

Indeed the problem is an out of bounds digi created at the pixel endcap. I think the problem appears because the digitization for the forward region is not properly implemented yet, as it is explained at the description (and slides linked there) of the PR-https://github.com/cms-sw/cmssw/pull/29018 , and probably th

[2020-06-14 18:08] VinInn commented on #30215
In any case I think one shall implement a boundary check in the digitizer (numerical precision can always cause a "overflow"). Corrective action can be either skip or assign to "closest"

[2020-06-14 23:22] srimanob commented on #30230
cmsDriver works if I just use ";" instead of "\n"
"from IOMC.RandomEngine.RandomServiceHelper import RandomNumberServiceHelper; randSvc = RandomNumberServiceHelper(process.RandomNumberGeneratorService); randSvc.populate(); print(process.RandomNumberGeneratorService.generator.initialSeed)"

[2020-06-14 23:22] #30230 closed

[2020-06-15 07:20] silviodonato commented on #30234
@mkirsano we are getting this error since #29995 was merged

[2020-06-15 07:47] duartej commented on #30215
I can confirm that the issue appears when the simulated particle pass through exactly the edge of the sensitive area (y=21.725 mm):
[code]
See in [tkLayout cfg](http://cms-tklayout.web.cern.ch/cms-tklayout/layouts-work/repository-git-dev/OT616_IT700/126-pixel_1x2_25x100_wide_3D) the sensor width (43.45 mm)/(2 ROCs) = 21.725 mm

The digitizer takes the column number provided by the [RectangularPixe

[2020-06-15 07:59] VinInn commented on #30215
One can easily verify the client of RectPixTop with
https://cmssdt.cern.ch/dxr/CMSSW/search?q=%2Bcallers%3A%22RectangularPixelTopology%3A%3Apixel%28const+LocalPoint+%26%29+const%22

In reality the main client is reconstruction.

Notably from here
https://cmssdt.cern.ch/dxr/CMSSW/source/RecoTracker/MeasurementDet/plugins/TkPixelMeasurementDet.cc#103

SO it is a feature to return an out-of-bound and

[2020-06-15 08:03] VinInn commented on #30215
I shall admin that this one
https://cmssdt.cern.ch/dxr/CMSSW/source/Geometry/TrackerGeometryBuilder/interface/RectangularPixelTopology.h#100
will of course produce bizarre results in case of negative or too large values...

[2020-06-15 08:24] duartej commented on #30215
@VinInn also https://cmssdt.cern.ch/dxr/CMSSW/source/SimFastTiming/FastTimingCommon/src/ETLDeviceSim.cc#58 , where it will introduce a wrong pixel number into the collection of hits...

[2020-06-15 09:18] mkirsano commented on #30234
I checked that it does not crash in runs with several lumi blocks, but in a single thread.
How can I look into this?

[2020-06-15 10:05] fabiocos commented on #29997
@ianna @cvuosalo I believe that this result, which might seem odd, is subject to change when we move to DD4hep, where the logic of the loop in the MTD geometry building is different. Furthermore, geometry in the long run should be recovered from DB. And its use after reconstruction will also likely change. So I would be careful in spending a lot of time on this now.

[2020-06-15 13:13] Dr15Jones commented on #30234
Either
[code]

or (which is what the above does)
[code]

[2020-06-15 13:29] Dr15Jones commented on #30234
I then took the _cfg.py file generated from the above and edited it to comment out the multi-thread use
[code]

[2020-06-15 13:44] makortel opened #30242 "Clean up obsolete ActivityRegistry signals"
`ActivityRegistry` has many signals marked `// OLD DELETE THIS` and https://github.com/cms-sw/cmssw/pull/30144 marks more with `//DEPRECATED`. They should be cleaned up.

[2020-06-15 13:44] cmsbuild commented on #30242
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-15 13:45] makortel commented on #30242
assign core

[2020-06-15 13:45] cmsbuild commented on #30242
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-16 07:23] duartej commented on #30215
Sorry, I disagree, pixel is a ROC unit, and the limit are defined by the number of channels of the ROC.

[2020-06-16 07:25] duartej commented on #30215
So, what's the decision here? Should I include the bound check in the 3d digitizer?

[2020-06-16 07:45] VinInn commented on #30215
You may disagree, still this is how it is used in reconstruction and RecoLocalTracker belongs to reconstruction (and you may have noticed that the return type is float, so it is a measurement unit, not an index in the ROC and in any case "pixel" is at detector level, not at ROC level).
My suggest os to introduce a protection in the digitization algorithm.

[2020-06-16 08:04] duartej commented on #30215
I still  disagree with your arguments, but as you implied, and I agree with that, this is not my job to decide how is pixel function used or interpreted.

OK, I will implement the check and post here the changes and the tests before request to merge.

[2020-06-16 09:50] duartej commented on #30215
I've included the following code in the digitizer to move back to the edge col/row any out-of-bounds signal:
[code]
And tested with the same workflow/CMSSW than https://github.com/cms-sw/cmssw/issues/30215#issue-637848361 with no problems:
[code]
Please let me know if you want me to create a PR with this commit.

[2020-06-16 10:04] mmusich commented on #30215
@duartej what about using `std::clamp` instead of the `if`s

[2020-06-16 10:15] duartej commented on #30215
@mmusich sure, I suppose, but it's available since C++17 standard, is that ok?

[2020-06-16 10:19] mmusich commented on #30215
yes it's already widely in use in cmssw
https://github.com/cms-sw/cmssw/search?q=std%3A%3Aclamp&unscoped_q=std%3A%3Aclamp

[2020-06-16 13:36] mmusich commented on #30215
@duartej yes please go ahead. Thanks

[2020-06-16 15:43] makortel opened #30260 "Move deleted functions in private sections to public"
We have some code that declares `= delete` functions in `private:` section of a class, those should be moved to `public:`.

[2020-06-16 15:43] cmsbuild commented on #30260
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-16 15:44] makortel commented on #30260
assign core

[2020-06-16 15:44] cmsbuild commented on #30260
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-16 21:31] makortel opened #30266 "Improve CUDA EDProducers"
Currently a CUDA EDProducer follows a pattern where a `cms::cuda::ScopedContext*` object is used to set up the CUDA context (current device, CUDA stream, etc). The pattern has some annoyances
* With `ExternalWork` the user has to remember to pass the `edm::WaitingTaskWithArenaHolder` to the `ScopedContextAcquire` constructor in `acquire()`
* In order to have a chance to use the same CUDA stream th

[2020-06-16 21:31] makortel commented on #30266
assign heterogeneous

[2020-06-16 21:31] cmsbuild commented on #30266
New categories assigned: heterogeneous

@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-16 21:31] cmsbuild commented on #30266
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-16 23:09] makortel commented on #30266
I've been thinking to name them as `cms::cuda::global::EDProducer` and `cms::cuda::stream::EDProducer`. The `edm::stream` with `ExternalWork` needs a bit more thought, I think it would be clearer to name the base class according to the intention rather than the mean. The purpose is to synchronize with the GPU, typically after device-to-host transfer. Some options coming to my mind (of which I'm no

[2020-06-17 07:24] guitargeek commented on #30189
A related issue might be the L1Trigger dependency in DataFormats (it's just this single one):
https://github.com/cms-sw/cmssw/blob/master/DataFormats/L1TMuon/src/EMTFHit.cc#L2

Wouldn't the DataFormats have no dependencies in an ideal world, besides FWCore and maybe CommonTools for tests?

[2020-06-17 12:36] makortel commented on #30189
@guitargeek Good catch, that dependence is not allowed (any volunteers to move things around?).

The allowed dependencies on packages defining persisted data formats are listed here
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCreatingNewProducts#Restrictions_on_the_package_defi
(packages defining transient-only products have less constraints)

[2020-06-17 13:32] slava77 commented on #27889
updates (in the issue description
- cms-sw/cmsdist#5902 replaced cms-sw/cmsdist#5926

[2020-06-17 14:10] guitargeek commented on #30189
Thanks for the information. I don't know if it's good to move this code around without coordinating with the original developers, because it seems to be actively developed in the last years.

However, if I were to do it I would just move all of these member functions implemented in `EMTFHit.cc` into some new file `EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFHitFunctions.h` (or some

[2020-06-17 16:20] mkirsano commented on #30234
I see now the general problem: it crashes at the lumi block boundary if a UserHook is used for pythia8. There were changes in this sector, studying further

[2020-06-18 17:51] makortel opened #30298 "Several DD4HEP -related unit tests are failing"
6 unit tests related to DD4HEP started to fail in CMSSW_11_2_X_2020-06-17-2300
E.g. in `DetectorDescription/DDCMS`
[code]
http://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-06-17-2300/unitTestLogs/DetectorDescription/DDCMS

In Geometry/DTGeometryBuilder
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-06-17-2300/unitTestLogs/Geome

[2020-06-18 17:51] makortel commented on #30298
assign geometry

[2020-06-18 17:52] cmsbuild commented on #30298
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-18 17:52] cmsbuild commented on #30298
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-18 17:53] makortel commented on #30298
By quick look errors could be related to CTPPS, so could #30268 be causing them?

[2020-06-18 18:23] makortel commented on #30298
There is earlier discussion in https://github.com/cms-sw/cmsdist/pull/5954, and a proposed fix in #30292

[2020-06-19 07:56] fabiocos commented on #28914
@adewit see my comments in https://github.com/cms-sw/cmssw/pull/30276#issuecomment-646212566 In my understanding ```GeometricDetExtra``` is just a debugging tool used in a very limited number of places. Is it still actively used by the Tracker community?

Assuming the answering is yes, in my view the issue is not how to extract the GeoHistory information used from ```cms::DDFilteredView```, becaus

[2020-06-19 11:22] saghosh opened #30304 "PuppiMET does not include latest JECs for Type-1 corrections in NanoAOD and missing uncertainties"
Reapplication of JECs for Type-1 corrections for PuppiMET is not performed to include the latest JECs during NanoAOD production.
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/nano_cff.py#L198

This is particularly relevant for 2018D in which the MiniAOD is PROMPT RECO.
It is not possible to re-apply JECs on the fly since the AK4PuppiJet collection is not stored in NanoAOD

[2020-06-19 11:22] cmsbuild commented on #30304
A new Issue was created by  @saghosh Saranya Ghosh.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-19 11:29] saghosh commented on #30304
Bringing to the notice of @ahinzmann , @lathomas , @peruzzim

I have made the code changes required for a pull request [1].

Before opening a pull request, I wanted to ask about the line 219
in the nano_cff file [2], where the 'switchOnVIDPhotonIdProducer'
function is called and it is mentioned in the comments that this
should not be used in case 'makePuppiesFromMiniAOD' is called, which
we want t

[2020-06-19 12:55] makortel commented on #30304
assign reconstruction, xpog

[2020-06-19 12:56] cmsbuild commented on #30304
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@perrotta,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-19 13:04] ahinzmann commented on #30304
@saghosh In the latest Run2 release (10_6_X) Puppi is actually not using photon ID anymore and not calling switchOnVIDPhotonIdProducer anymore:
https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_X/PhysicsTools/PatAlgos/python/slimming/puppiForMET_cff.py
So I believe you can leave the NanoAOD code untouched, and get rid of the comments related to VID, which do not hold anymore.

[2020-06-19 19:41] makortel opened #30317 "Merge Principal wrappers' setConsumer() with their constructor"
Currently we have call `setConsumer()` after constructing `Event` etc along
https://github.com/cms-sw/cmssw/blob/c7c0a6f2d8b70ea0274785fb5a94947418e3d148/FWCore/Framework/src/global/EDProducerBase.cc#L57-L58

Quoting @Dr15Jones from https://github.com/cms-sw/cmssw/pull/30117#discussion_r442970402

[2020-06-19 19:41] makortel commented on #30317
assign core

[2020-06-19 19:41] cmsbuild commented on #30317
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-19 19:41] cmsbuild commented on #30317
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-19 21:27] christopheralanwest commented on #29237
+1

This is resolved by #30151 and backports

[2020-06-19 21:30] smuzaffar commented on #29237
thanks

[2020-06-19 21:30] #29237 closed

[2020-06-21 22:41] christopheralanwest commented on #17061
+1

This is resolved by PR #30109.

[2020-06-22 07:36] chayanit opened #30324 "Missing Parameter in L1TTauOffline/'l1tTauOfflineDQM'"
I have been running premixing PU RelVals 2021 scenario to be validated for closed cycle of 11_1_0 and getting this error in production. "workingsPoints" parameter is missing at L1T.

Fatal Exception (Exit code: 8009)
An exception of category 'Configuration' occurred while
[0] Processing Event run: 1 lumi: 148 event: 14705 stream: 0
[1] Calling method for module L1TTauOffline/'l1tTauOfflineDQM'
Exc

[2020-06-22 07:36] cmsbuild commented on #30324
A new Issue was created by  @chayanit Chayanit Asawatangtrakuldee.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-22 08:52] mmusich commented on #30215
Dear all,
as far as I can see  in `CMSSW_11_2_ASAN_X_2020-06-19-2300` wf 26234.0 step 3 runs fine, see
[log](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-06-19-2300/pyRelValMatrixLogs/run/26234.0_TTbar_14TeV+TTbar_14TeV_TuneCP5_2026D55_GenSimHLBeamSpotFull14+DigiFullTrigger_2026D55+RecoFullGlobal_2026D55+HARVESTFullGlobal_2026D55/step3_TTbar_14TeV+TTbar_14T

[2020-06-22 09:13] swozniewski commented on #30324
Hi, this seems to be a stupid typo. sorry for that! This line is calling 'workingsPoints' (note the 's' in the middle, which I only realized after reading it several times now...) from provenance of the antiElectronID, which has 'workingPoints' in its config. See
https://github.com/cms-tau-pog/cmssw/blob/e3ee2f54d22194b79a0f8ad58d32cfb1b8b946e2/DQMOffline/L1Trigger/src/L1TTauOffline.cc#L681
and
ht

[2020-06-22 09:20] chayanit commented on #30324
Thanks! @swozniewski  ok I will resubmit and let you know.

[2020-06-22 12:07] kpedro88 commented on #30215
+upgrade

[2020-06-22 13:13] makortel commented on #30324
assign dqm

[2020-06-22 13:13] cmsbuild commented on #30324
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-22 15:31] adewit commented on #28914
Adding @mmusich since he probably knows this better than me. I agree it looks like `GeometricDetExtra` is just used for debugging in the tracker code, but someone might need the plugins that use it anyway.

[2020-06-22 18:32] gartung opened #30331 "RecoTrack/FinalTrackSelectors: Replace float with double per Intel Advisor"
Intel Advisor flagged this loop
https://github.com/cms-sw/cmssw/blob/8008927682387dc69c5dfde3ced7b0d8fe918373/RecoTracker/FinalTrackSelectors/plugins/TrackListMerger.cc#L501
because of type conversion done at line 579 and 580.
https://github.com/cms-sw/cmssw/blob/8008927682387dc69c5dfde3ced7b0d8fe918373/RecoTracker/FinalTrackSelectors/plugins/TrackListMerger.cc#L579
This can be avoided by changing

[2020-06-22 18:32] cmsbuild commented on #30331
A new Issue was created by  @gartung Patrick Gartung.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-22 18:35] makortel commented on #30331
assign reconstruction

[2020-06-22 18:36] cmsbuild commented on #30331
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-22 19:04] gartung opened #30332 "RecoVertex/PrimaryVertexProducer: DAClusterizeInZ_vector.cc loop at line 654 with type conversion"
Intel Advisor identified the loop at line 654 has a conversion most likely in the expression at line 657 where the loop spends the most time
https://github.com/cms-sw/cmssw/blob/af0491716a5e551e527bc33c4e995e5870823467/RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZ_vect.cc#L657

[2020-06-22 19:04] cmsbuild commented on #30332
A new Issue was created by  @gartung Patrick Gartung.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-22 20:35] makortel commented on #30332
assign reconstruction

[2020-06-22 20:36] cmsbuild commented on #30332
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-22 21:18] slava77 commented on #30331
It looks like the issue is in
[code]
where ```shareFrac_``` is a float, while ```indivShareFrac_``` is a double.

I'd change everything to float (and be careful with some double literals in the code to be converted to floats as well).

@VinInn

[2020-06-22 21:32] cvuosalo commented on #30298
These units tests are no longer failing in CMSSW_11_1_X_2020-06-22-1100 even though #30292 has not been merged.
Does anyone know what fixed these tests?

[2020-06-22 21:33] slava77 commented on #30332
@gartung
everything appears to be in double at that line.
Are there any more diagnostic details from the advisor?
If the loc is not directly identifiable, even an assembley snippet could be informative.

@werdmann
please note

[2020-06-22 21:34] makortel commented on #30298
The failures are only in the 11_2_X branch.

[2020-06-22 21:38] cvuosalo commented on #30298
@makortel Sorry, I pulled the wrong version. Checking again.

[2020-06-22 21:46] srimanob opened #30335 "Problem with ParameterSet when ExternalGeneratorFilter is used"
The relvals on ExternalGeneratorFilter faces an issue on PSet.py, https://cms-unified.web.cern.ch/cms-unified/report/asikdar_RVCMSSW_11_1_0_pre8LambdabToLambdasMuMu_13TeV_Pythia8__JIRA81_gen_200619_123719_2525

Copying PSet.* from https://cms-unified.web.cern.ch/cms-unified//joblogs/asikdar_RVCMSSW_11_1_0_pre8LambdabToLambdasMuMu_13TeV_Pythia8__JIRA81_gen_200619_123719_2525/7002/LambdabToLambdasMu

[2020-06-22 21:47] cmsbuild commented on #30335
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-22 21:49] makortel commented on #30335
assign core, generators

[2020-06-22 21:49] cmsbuild commented on #30335
New categories assigned: core,generators

@Dr15Jones,@smuzaffar,@alberto-sanchez,@SiewYan,@qliphy,@makortel,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-22 22:12] gartung commented on #30332
At line 657 and line 660 the comparison should be made to '0.0' not 1e-100 or 0.

[2020-06-22 22:18] gartung commented on #30332
The second longest time is spent at line 660 so perhaps it is identifying the conversion of 0 to 0.0 for comparison.

[2020-06-22 22:48] slava77 commented on #30332
in ```tks.Z_sum_ptr[i] > 1.e-100``` 1e-100 is still a double, compared to a double; and 1e-100 is not equal 0.0 in double precision.
Changing to 0.0 here is inappropriate, IIUC.

[2020-06-22 23:06] gartung commented on #30332
Agreed. I think the conversion is at line 660 from 0 to 0.0

[2020-06-22 23:17] makortel commented on #30335
@Dr15Jones Could you take a look?

[2020-06-22 23:50] cvuosalo commented on #30298
There are a series of errors in the PPS XML files. The files were not fully checked before being put into the master. I mentioned two of the errors in #30292. Either they should all be fixed quickly or we should just remove PPS from the Extended2021 scenario for the moment.

[2020-06-23 06:35] werdmann commented on #30332
Interesting. I agree that the 1e-100 should not be 0.0, just a small non-zero number to make sure that Z_sum does not become arbitrarily close to 0.
Coincidentally I am currently playing with the 0 in in line 660 and see improvements with larger values. Optimization is still ongoing, but 0.5 seems safe and conservative bet. So if you touch it now, I would propose 0.5. The optimal value may be slig

[2020-06-23 07:12] VinInn commented on #30331
+1

[2020-06-23 07:24] ianna commented on #30298
@civanch - FYI, we can not run simulation on invalid XML. Either we run a commercial tool to validate and fix XML or make sure the DD4hep tests pass, but the PPS XML has hidden formatting problems that may show up in the other parts of the CMS geometry scenario when we use DD.

[2020-06-23 07:30] VinInn commented on #30331
If that line were a real performance issue then the solution would be to transform it in fixed point

say

auto frac = collNum==collNum2 ? indivShareFracX100_[collNum] : shareFracX1000_;
auto dup = 1000*(noverlap - firstoverlap) > (std::min(nhit1, nhit2) - firstoverlap) * frac;

were the aX1000 is  int(a*1000.+0.5); done ONCE in the constructor
.

[2020-06-23 14:31] Dr15Jones commented on #30335
@makortel yes, I will look into this

[2020-06-23 15:39] gartung commented on #30332
The performance measurement was taken with CMSSW_11_1_0_pre8. Has a PR been merged that updates this?
The assembly shows 3 type conversions on line  657.

[2020-06-23 15:51] werdmann commented on #30332
No PR yet, maybe in a couple of weeks. I have no idea what "The assembly shows 3 type conversions on line 657" mean. I'm happy if you make changes to optimize the cpu time. All I wanted to say is, that if you do something to that "0" in line 660 you may as well make it a nonzero value like 0.5 which reduces the fake rate without loss of efficiency (to be clear, when I said improvement I meant the

[2020-06-23 15:52] slava77 commented on #30332
IIRC, this code was not changed after CMSSW_11_1_0_pre8, but it was changed for CMSSW_11_1_0_pre8 (just to make sure if the profiling was not done with a version older than pre8).

[2020-06-23 16:07] gartung commented on #30332
Github doesn't allow posting screenshots but Mattermost does. See
https://mattermost.web.cern.ch/cms-o-and-c/pl/gsj4dshr13rq8kqrwtn6suj54h

[2020-06-23 16:08] gartung commented on #30332
I mean that the assembly code the gcc produces which Intel Advisor display with the corresponding line in the code.

[2020-06-23 16:19] slava77 commented on #30332
Looking in the assembly, I'm guessing  that the conversion could come from outside:
https://github.com/dpiparo/vdt/blob/3cd969d8ee48b99ccfea9e3062274a2832cceeec/include/vdtcore_common.h#L217-L221

Here is a snippet from ```objdump -dal ../lib/slc7_amd64_gcc820/libRecoVertexPrimaryVertexProducer.so  | c++filt ``` after recompiling the library with -g.

[code]

@gartung
do you have a relevant assemb

[2020-06-23 16:21] gartung commented on #30332
Yes. I attached it to the Mattermost thread linked above.

[2020-06-23 16:26] gartung commented on #30331
Mattermost thread with screenshots showing the marked line and corresponding assembley
https://mattermost.web.cern.ch/cms-o-and-c/pl/rbdad811r78zffrjg9rbafnqsh

[2020-06-23 16:29] slava77 commented on #30332
it looks like my part matches your 3 cvt\* calls with some (minor?) offset in the address.
So, this confirms that the operation is a part of the ```fast_exp``` call from vdt, more specifically from ```details::fpfloor```

[2020-06-23 16:43] gartung commented on #30332
It looks like the compiler sees the input to local_exp as a float and there is only a version of local_exp that takes a double
https://github.com/cms-sw/cmssw/blob/af0491716a5e551e527bc33c4e995e5870823467/RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZ_vect.cc#L96
Perhaps adding a version of local_exp that takes float as an argument.

[2020-06-23 16:46] gartung commented on #30332
Nevermind. It looks like there is always a conversion from int32_t to double or float no matter which version of fpfloor is called
https://github.com/dpiparo/vdt/blob/3cd969d8ee48b99ccfea9e3062274a2832cceeec/include/vdtcore_common.h#L221