[2021-06-02 11:16] cmsbuild commented on #32756
This issue is fully signed and ready to be closed.

[2021-06-02 11:16] cmsbuild commented on #33942
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-slc7_ppc64le_gcc9/3039
Some t

[2021-06-02 11:16] cmsbuild commented on #33942
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-slc7_amd64_gcc900/3037

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-02 11:18] #32756 closed

[2021-06-02 11:28] ggovi commented on #33937
Great, let mw know about the rest of failures...

[2021-06-02 12:06] cmsbuild commented on #33942
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3040/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-02 12:17] mrodozov opened #33945 "Test in CondCore/Runinfo failing in ASAN IBs"
this test:
RunInfoStart_O2O_test
is currently failing in ASAN IBs
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_ASAN_X_2021-05-31-2300/unitTestLogs/CondTools/RunInfo#/
and other tests in CondTools are failing with similar behavior
In this one there is a clue at the bottom of the log

[code]

The faillure that goes all the way to frontier_client is the same also for the

[2021-06-02 12:17] cmsbuild commented on #33942
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-cc8_ppc64le_gcc9/3038

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-06-02 12:17] cmsbuild commented on #33945
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-02 12:18] mrodozov commented on #33945
assign db

[2021-06-02 12:18] cmsbuild commented on #33945
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-02 12:19] cmsbuild commented on #33942
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3041/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-02 13:01] cmsbuild commented on #33942
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-slc7_ppc64le_gcc9/3039

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-02 13:03] cmsbuild commented on #33942
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-cc8_aarch64_gcc9/3040
Some tes

[2021-06-02 13:25] borzari commented on #32550
@makortel I did the test with the full dataset of the RelVal that is available (almost 277k events of varied physical processes) and there was no index trying to fetch a non-existent `dxys` element. Can I make a PR with the changes?

[2021-06-02 13:30] cmsbuild commented on #33942
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-slc7_aarch64_gcc9/3041
Some t

[2021-06-02 14:06] cmsbuild commented on #33942
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-cc8_aarch64_gcc9/3040

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-06-02 16:02] cmsbuild commented on #33942
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-slc7_aarch64_gcc9/3041

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-02 17:01] dan131riley commented on #33936
While LD_PRELOAD of libtsan doesn't work, it looks like it mostly works to do an LD_PRELOAD of the current plugin target, something like
[code]
I get a couple of warnings but it returns success:
[code]
I've only tried it so far on libDataFormatsProvenance.so, so won't guarantee it will work on a target with more dependencies, but it seems reasonable that preloading the target would get it fully re

[2021-06-02 19:34] ggovi commented on #33945
I've tried to reproduce it, on the ASAN build. It does not occur while running 'by hand' the individual test. I can reproduce the crash only with 'scram b runtests'.
It seems to be related with the frontier client:
"==6867==The signal is caused by a READ memory access.
    #0 0x7fb1295d8fb3 in frontier_postRawData (/cvmfs/cms-ib.cern.ch/week1/slc7_amd64_gcc900/cms/cmssw/CMSSW_12_0_ASAN_X_2021-05-3

[2021-06-02 20:20] mrodozov commented on #33945
I made it fail right away with this

[code]

[2021-06-02 20:23] mrodozov commented on #33945
the only difference with the other packages is that in this test it says this:
[code]

I think in all this tests some garbage gets to frontier_client and then it fails and this garbage comes from python parsing
In this case it says where it is:

`Processing the python configuration file named ./src/CondTools/RunInfo/python/RunInfoPopConAnalyzer.py`

some wrong value passed to RunInfoPopConAnalyzer

[2021-06-02 20:32] ggovi commented on #33945
The error that you report here is a consequence of a later step of the test:
1. conddb --yes copy runinfo_start_31X_hlt --destdb runinfo_O2O_test.db --o2oTest
2. lastRun=`conddb listRuns | tail -2 | awk '{print $1}'`
3. echo "last run = $lastRun"
4 .cmsRun ./src/CondTools/RunInfo/python/RunInfoPopConAnalyzer.py runNumber=$lastRun
If 1) (the step involving the frontier client) fails, the step 2) ca

[2021-06-02 20:34] mariadalfonso commented on #33917
There is the idea to keep the muonHits in AOD or a reduced collection in miniAOD.
was discussed at PC-coord may26 and PPD-coord june2
Marco Pieri will follow up with proponents

[2021-06-02 20:42] mrodozov commented on #33945
right the frontier_client fails and doesn't return runnumber and then it's the python failure . hm can we try plain runnumber to know for sure ? and then it's definitely the `conddb` call

[2021-06-02 20:43] mrodozov commented on #33945
yes ineed it shows
`last run = ` (now that makes sense when the python doesn't get meaningful value and fails)

[2021-06-02 21:34] mrodozov commented on #33945
ok latest test I did
first run all by hand, i mean in the the lines in RunInfoStart_O2O_test.sh
all ran fine which was weird.
 changed only this:
[code]

then ran the test by hand. with
`RunInfo/test/RunInfoStart_O2O_test.sh` -> works
and then
`scram b runtests_RunInfoStart_O2O_test` -> fails
it's not the test but the input. tomorrow morning more

[2021-06-02 22:13] slava77 commented on #33917
isn't this enabled by default in AOD?
or is it about something other than what was added in #31350 in 10_6_17?

[2021-06-03 00:19] qliphy commented on #33942
upload all

[2021-06-03 00:20] cmsbuild commented on #33942
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-06-03 00:20] cmsbuild commented on #33942
Queing Jenkins upload for cc8_amd64_gcc9

[2021-06-03 00:20] cmsbuild commented on #33942
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-06-03 00:20] cmsbuild commented on #33942
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-06-03 00:20] cmsbuild commented on #33942
Queing Jenkins upload for slc7_amd64_gcc900

[2021-06-03 00:20] cmsbuild commented on #33942
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-06-03 00:20] cmsbuild commented on #33942
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1949/console

[2021-06-03 00:21] cmsbuild commented on #33942
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1951/console

[2021-06-03 00:21] cmsbuild commented on #33942
The upload has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1950/console

[2021-06-03 00:21] cmsbuild commented on #33942
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1952/console

[2021-06-03 00:21] cmsbuild commented on #33942
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch2-cc8_ppc64le_gcc9/1951

[2021-06-03 00:22] cmsbuild commented on #33942
The upload has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1953/console

[2021-06-03 00:22] cmsbuild commented on #33942
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch2-cc8_aarch64_gcc9/1949

[2021-06-03 00:23] cmsbuild commented on #33942
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch2-slc7_aarch64_gcc9/1952

[2021-06-03 00:23] cmsbuild commented on #33942
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch2-slc7_amd64_gcc900/1953

[2021-06-03 00:24] cmsbuild commented on #33942
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1954/console

[2021-06-03 00:24] cmsbuild commented on #33942
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch2-cc8_amd64_gcc9/1950

[2021-06-03 00:25] cmsbuild commented on #33942
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch2-slc7_ppc64le_gcc9/1954

[2021-06-03 00:30] qliphy commented on #33942
release-notes

[2021-06-03 00:31] cmsbuild commented on #33942
Generating release notes since CMSSW_11_2_4_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-03 00:31] cmsbuild commented on #33942
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_2_4_patch2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_4_patch1 can be found at:

https://github.com/cms-sw/cmssw

[2021-06-03 00:37] cmsbuild commented on #33942
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4_patch2

[2021-06-03 05:30] chayanit commented on #33665
Hi @slava77 , sure I'm preparing the requests. Could you remind me where I should change to get AOD for data workflow in cmsDriver command? should I just change RECO to AOD in "datatier", "eventcontent" and "step" attributes?
`cmsDriver.py step3 --conditions auto:run2_data --customise Configuration/DataProcessing/RecoTLR.customisePostEra_Run2_2018 --data --datatier RECO,MINIAOD,DQMIO --era Run2_20

[2021-06-03 08:39] smuzaffar opened #33959 "Build CMSSW_12_0_0_pre2_PYTHON3"
CMSSW_COMMIT: 2cf1f608524876096fd6546ae7a9c9b54df8fb5c
CMSDIST_COMMIT: REL/CMSSW_12_0_0_pre2/slc7_amd64_gcc900
ARCHITECTURE: slc7_amd64_gcc900

[2021-06-03 08:40] cmsbuild commented on #33959
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-03 08:40] smuzaffar commented on #33959
2cf1f608524876096fd6546ae7a9c9b54df8fb5c commit is same as CMSSW_12_0_0_pre2 but on CMSSW_12_0_DEVEL_X branch where cmsRun by default use python3

[2021-06-03 08:41] smuzaffar commented on #33959
+1

[2021-06-03 08:42] cmsbuild commented on #33959
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre2_PYTHON3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-06-03 08:42] cmsbuild commented on #33959
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-06-03 08:44] cmsbuild commented on #33959
The build has started for slc7_amd64_gcc900 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3042/console
CMSDIST Branch: [REL/CMSSW_12_0_0_pre2/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_0_pre2/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-03 08:46] smuzaffar commented on #33959
FYI @davidlange6 . This uses CMSSW_12_0_DEVEL_X commits where cmsRun uses python3. Default python in this release is still python2. externals are identical to REL/CMSSW_12_0_0_pre2/slc7_amd64_gcc900

[2021-06-03 09:17] mmusich commented on #33874
This is solved by now, right?
Unit tests are clean in the [slc7_amd64_gcc90 build](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/slc7_amd64_gcc900/www/wed/12.0-wed-23/CMSSW_12_0_X_2021-06-02-2300).
Can this issue be signed and closed?

[2021-06-03 09:28] mrodozov commented on #33874
yes it is. can be closed

[2021-06-03 09:28] #33874 closed

[2021-06-03 09:50] pieterdavid opened #33960 "SiStripGainsPCL MRH ASAN error, EventSetup product in dqmEndJob"
@mmusich noticed a failure in the address sanitizer IBs for the SiStripGainsPCLHarvester [here](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_ASAN_X_2021-05-31-2300/unitTestLogs/CalibTracker/SiStripChannelGain#/458).
The only pointer around in [`APVGain::subdetectorPlane`](https://github.com/cms-sw/cmssw/blob/master/CalibTracker/SiStripChannelGain/src/APVGainHelpers.cc#

[2021-06-03 09:51] cmsbuild commented on #33960
A new Issue was created by  @pieterdavid Pieter David.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-03 11:18] mrodozov commented on #33945
this is not failing in the latest ASAN IBs, not sure what has improved but none of the CondCore asan failures are present anymore. closing

[2021-06-03 11:25] mmusich commented on #33960
For the record I can reproduce in `CMSSW_12_0_ASAN_X_2021-06-02-2300`
[code]

despite the [ASAN logs](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/slc7_amd64_gcc900/www/wed/12.0.ASAN-wed-23/CMSSW_12_0_ASAN_X_2021-06-02-2300)s say otherwise...

[2021-06-03 11:29] #33937 closed

[2021-06-03 11:58] slava77 commented on #33665
eventcontent (primary) and datatier handle this. I edited in the above `s/RECO/AOD/`

[2021-06-03 12:41] makortel commented on #32734
We have not seen this a while, so I suppose we can close it.

[2021-06-03 12:41] makortel commented on #32734
+1

[2021-06-03 12:41] #32734 closed

[2021-06-03 12:42] cmsbuild commented on #32734
This issue is fully signed and ready to be closed.

[2021-06-03 12:44] makortel commented on #31773
We have not seen this for a while, so I suppose we can close the issue.

[2021-06-03 12:44] #31773 closed

[2021-06-03 12:54] cmsbuild commented on #33959
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2_PYTHON3-slc7_amd64_gcc900/3042

[2021-06-03 13:07] makortel commented on #33960
assign alca

[2021-06-03 13:17] makortel commented on #33960
It is correct that EventSetup products must not be accessed in `endProcessBlockProduce()` or `endJob()`. The IOV of the record/product ends (at latest) in endRun, and framework is free to delete all EventSetup products whose IOV has ended.

The least bad workaround is to either extract the necessary information from `TrackerTopology` or make a copy of the full object. The endRun transition is like

[2021-06-03 13:35] cmsbuild commented on #33959
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2_PYTHON3-slc7_amd64_gcc900/3042

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-03 13:42] smuzaffar commented on #33959
upload

[2021-06-03 13:42] cmsbuild commented on #33959
Queing Jenkins upload for slc7_amd64_gcc900

[2021-06-03 13:45] cmsbuild commented on #33959
The upload has started for slc7_amd64_gcc900 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1955/console

[2021-06-03 13:46] #33452 closed

[2021-06-03 13:47] cmsbuild commented on #33959
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre2_PYTHON3-slc7_amd64_gcc900/1955

[2021-06-03 13:50] smuzaffar commented on #33959
release-notes since CMSSW_12_0_0_pre2

[2021-06-03 13:51] cmsbuild commented on #33959
Generating release notes since CMSSW_12_0_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-03 13:51] cmsbuild commented on #33959
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre2_PYTHON3 is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_12_0_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_0_pre2_PYTHON3

Cheers,
cms-bot

You can also click <a href="mail

[2021-06-03 13:57] cmsbuild commented on #33959
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre2_PYTHON3

[2021-06-03 14:02] pieterdavid commented on #33960
Thanks for clarifying @makortel !

I implemented the workaround (full copy in endRun, `TrackerTopology` is not that big, and we need to call its member methods), which fixes the problem indeed. I found a few more modules that may have the same problem (two SiStripQuality-related, and one possible case in the pixel code), I'll fix them together.
Would there be any way to automatically check or prot

[2021-06-03 14:43] slava77 commented on #33917
based on the discussion in the PPD today, this is different, to include all muon rechits
[code]
IIUC, there is no plan to keep AOD on disk for this processing. Are the analyses targeting this set up to use miniAOD for parts other than muon hits?

[2021-06-03 15:03] mrodozov commented on #33945
this is still an issue regardless the latest ASAN report

[2021-06-03 16:04] smuzaffar commented on #33896
https://github.com/cms-sw/cmssw/pull/33915 fixes this issue.

[2021-06-03 16:04] #33896 closed

[2021-06-03 16:09] davidlange6 opened #33967 "potentially incorrect python syntax in trigTools.py"
I noticed that our python3 builds generate this warning - the result of these checks is potentially not what was intended.

 if not path is '':
/cvmfs/cms-ib.cern.ch/week1/slc7_amd64_gcc900/cms/cmssw/CMSSW_12_0_X_2021-06-02-2300/python/PhysicsTools/PatAlgos/tools/trigTools.py:174: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if outputModule is not '':
/cvmfs/cms-ib.cern.ch/week1/sl

[2021-06-03 16:09] cmsbuild commented on #33967
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-03 16:19] makortel commented on #33967
assign reconstruction

[2021-06-03 16:19] cmsbuild commented on #33967
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-03 17:09] rappoccio commented on #33917
Correct, we don't have any plans to keep this on disk, but if we do a future miniaod (v3) later, it would be available.

[2021-06-03 17:39] makortel commented on #32550
Yes please. Thanks!

[2021-06-03 17:41] makortel commented on #33960
Unfortunately no, there is no mechanism for that. In this respect `ESHandle` behaves like a raw pointer.

From the framework point of view already storing a raw pointer (or an `ESHandle`) to an ESProduct into a module member variable is a sign of possible problems towards accessing the product outside of its life time (e.g. storing a pointer only in beginRun for a product whose IOV changes between

[2021-06-03 18:55] slava77 commented on #33967
assign xpog

the errors point to code introduced in 2010; it's in the part that reco has not really followed
https://github.com/cms-sw/cmssw/commit/da6366989febfca880d9219bad43cbd212d5755a

[2021-06-03 18:56] cmsbuild commented on #33967
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-04 03:19] srimanob commented on #33172
@mmusich
There is a proposal to update RAWSIM temporary to support RECO step without the need of FEVTDEBUG. I've made the first draft PR in https://github.com/cms-sw/cmssw/pull/33972

[2021-06-04 04:08] cmsbuild commented on #33939
The cleanup has started for slc6_amd64_gcc630

[2021-06-04 04:08] cmsbuild commented on #33939
The cleanup has started for slc7_amd64_gcc630

[2021-06-04 04:08] #33939 closed

[2021-06-04 04:08] cmsbuild commented on #33939
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_21-slc6_amd64_gcc630/1684

[2021-06-04 04:08] cmsbuild commented on #33939
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_21-slc7_amd64_gcc630/1685

[2021-06-04 05:35] chayanit commented on #33665
Hello @slava77 , I have submitted both requests through relval mechanism. MC is running https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=CMSSW_10_6_25__BParkingUL_PR33665-ProdZEE_13UP18-00001
But Data relval has some issue with input RAW. It is now stored on tape. We need to transfer it back to disk and lock at T2 CERN before we can get the production to start.

[2021-06-04 06:33] ggovi commented on #33945
@mrodozov is the issue still the same? possibly related to the fact that frontier_client is not thread safe...?

[2021-06-04 08:39] mrodozov commented on #33945
I don't think it's thread safety it fails consistently if I run the
`scram b runtests_RunInfoStart_O2O_test`
and consistently runs if I run the script
`RunInfo/test/RunInfoStart_O2O_test.sh`

It fails in `self.engine.connect`
in the first line if you run the script but not the test

[2021-06-04 09:43] AdrianoDee commented on #33917
From the low pt tracks point of view, we should be fine. Thanks a lot for the (super fast) effort done for reviewing the code!

[2021-06-04 12:02] ggovi commented on #33945
@mrodozov
"I don't think it's thread safety it fails consistently if I run the
scram b runtests_RunInfoStart_O2O_test
and consistently runs if I run the script
RunInfo/test/RunInfoStart_O2O_test.sh"
Scram b runtests launches more thread running tests at the same time, right? While, running the script 'by hand' we surely don't have concurrency in frontier_client access...

[2021-06-04 13:16] mrodozov commented on #33945
`cmsRun` is launching multiple threads , in this case scram is launching whatever it is in the `BuildFile.xml` in the `test`directory, which in this case is
@smuzaffar would you help with better explanation on whats the difference of running the test trough scram and with the script itself ?

lets say we run scram with one thread with
`scram b -j 1 runtests_RunInfoStart_O2O_test`
the test still fa

[2021-06-04 13:26] mrodozov commented on #33945
one more thing I can add is that if you run scram with -j 16 lets say what it does is to allocate a thread per test
and run the tests one test per job, now if the test itself run `cmsRun` it may eventually run more threads (the cmsRun exe I mean) but in this case it doesn't run cmsRun, it runs conddb
next things is I'll see what sqlalchemy is doing inside `self.engine.connect` running with scram v

[2021-06-04 14:29] slava77 commented on #33917
current status of the list of features
<img width="620" alt="Screen Shot 2021-06-04 at 7 22 36 AM" src="https://user-images.githubusercontent.com/4676718/120816569-b9f0b380-c505-11eb-8f11-7eb74d4f166b.png">

I added two PRs which are described as targeting nanoAOD (v9), but they also include modifications in the miniAOD products. Both a backport of #33817 and #33759 will need to appropriately disa

[2021-06-04 15:50] dan131riley commented on #33936
I did a full rebuild [with this diff](https://github.com/dan131riley/cmssw-config/commit/4096bcd6a6ffb7b6ec7c2af6fa78683ae34ccefa).  @smuzaffar do you have any suggestions for cleaning this up or making it effective for just the TSAN builds (although it should be in general harmless to preload the plugin).

[2021-06-04 15:58] smuzaffar commented on #33936
`scram b` should set `LD_PRELOAD=$(GCC_CXXCOMPILER_BASE)/lib64/libtsan.so` before running these edm tools , let me check why itis not working

[2021-06-04 16:06] smuzaffar commented on #33936
ah there was a typo introduced during PERL to PYTHON SCRAM migration . This is fixed now https://github.com/cms-sw/cmssw-config/commit/229fca01867107f8dcdbed23b36bd2bde569c34e#diff-3e9a48949cfadd3ba1749276c06334910c0478305c1d8554a72001f7dbb15c7b . I will start a TSAN build with the change

[2021-06-04 22:32] smuzaffar commented on #33936
LD_PRELOAD=lintsan.so also did not fix the issue . This used to be working in past. I am now trying to build a TSAN release with SCRAM V2 to make sure it has nothing to do with build rules changes. I am afraid it might be linked to root llvm 9 update

[2021-06-04 22:38] cmsbuild commented on #33942
The cleanup has started for cc8_aarch64_gcc9

[2021-06-04 22:38] cmsbuild commented on #33942
The cleanup has started for slc7_aarch64_gcc9

[2021-06-04 22:38] cmsbuild commented on #33942
The cleanup has started for cc8_amd64_gcc9

[2021-06-04 22:38] cmsbuild commented on #33942
The cleanup has started for cc8_ppc64le_gcc9

[2021-06-04 22:38] cmsbuild commented on #33942
The cleanup has started for slc7_amd64_gcc900

[2021-06-04 22:38] cmsbuild commented on #33942
The cleanup has started for slc7_ppc64le_gcc9

[2021-06-04 22:38] #33942 closed

[2021-06-04 22:38] cmsbuild commented on #33942
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch2-cc8_aarch64_gcc9/1686

[2021-06-04 22:38] cmsbuild commented on #33942
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch2-cc8_ppc64le_gcc9/1688

[2021-06-04 22:38] cmsbuild commented on #33942
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch2-slc7_aarch64_gcc9/1689

[2021-06-04 22:38] cmsbuild commented on #33942
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch2-slc7_ppc64le_gcc9/1691

[2021-06-04 22:38] cmsbuild commented on #33942
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch2-slc7_amd64_gcc900/1690

[2021-06-04 22:45] smuzaffar commented on #33936
simple command like
[code]
fails.

[2021-06-05 07:40] cmsbuild commented on #33942
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch2-cc8_amd64_gcc9/1692

[2021-06-05 09:24] smuzaffar commented on #33936
libtsan from gcc 8 works but not from gcc 9.
[code]
so issue is with GCC 9.3. I do remember that we had TSAN IBs with GCC 9.3 working. May be something changed on OS side which now breaks gcc 9 lintsan

[2021-06-05 11:53] cmsbuild commented on #33959
The cleanup has started for slc7_amd64_gcc900

[2021-06-05 11:53] #33959 closed

[2021-06-05 11:53] cmsbuild commented on #33959
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre2_PYTHON3-slc7_amd64_gcc900/1693

[2021-06-05 13:25] dan131riley commented on #33936
It works in gcc10 as well, but not in 9.0.0, 9.2.1 and 9.3.0.  gcc9 also fails in a cc7:amd64-d20200608 singularity container.  With a cc8 container, gcc9 also segfaults, while gcc8 works.

[2021-06-06 06:56] qliphy opened #33986 "Build CMSSW_11_2_4_patch3"

[2021-06-06 06:56] cmsbuild commented on #33986
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-06 06:57] qliphy commented on #33986
+1

[2021-06-06 06:57] cmsbuild commented on #33986
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-06-06 06:57] cmsbuild commented on #33986
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-06-06 07:00] cmsbuild commented on #33986
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3043/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-06 07:00] cmsbuild commented on #33986
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3044/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-06 07:00] cmsbuild commented on #33986
The build has started for cc8_amd64_gcc9 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3046/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-06 07:00] cmsbuild commented on #33986
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3045/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-06 07:01] cmsbuild commented on #33986
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3047/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-06 07:20] cmsbuild commented on #33986
The build has started for slc7_amd64_gcc900 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3048/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-06 07:32] cmsbuild commented on #33986
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-slc7_ppc64le_gcc9/3045
Some t

[2021-06-06 07:40] cmsbuild commented on #33986
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-cc8_ppc64le_gcc9/3044
Some tes

[2021-06-06 07:41] cmsbuild commented on #33986
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-slc7_aarch64_gcc9/3047
Some t

[2021-06-06 07:45] cmsbuild commented on #33986
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-cc8_amd64_gcc9/3046
Some tests (

[2021-06-06 07:48] cmsbuild commented on #33986
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-cc8_aarch64_gcc9/3043
Some tes

[2021-06-06 08:04] cmsbuild commented on #33986
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-slc7_amd64_gcc900/3048
Some t

[2021-06-06 08:25] cmsbuild commented on #33986
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-cc8_amd64_gcc9/3046

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-06 08:37] cmsbuild commented on #33986
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-slc7_aarch64_gcc9/3047

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-06 08:39] cmsbuild commented on #33986
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-cc8_aarch64_gcc9/3043

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-06-06 08:39] cmsbuild commented on #33986
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-slc7_ppc64le_gcc9/3045

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-06 08:45] cmsbuild commented on #33986
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-slc7_amd64_gcc900/3048

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-06 08:58] cmsbuild commented on #33986
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch3-cc8_ppc64le_gcc9/3044

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-06-06 09:27] qliphy commented on #33986
upload all

[2021-06-06 09:27] cmsbuild commented on #33986
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-06-06 09:27] cmsbuild commented on #33986
Queing Jenkins upload for cc8_amd64_gcc9

[2021-06-06 09:27] cmsbuild commented on #33986
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-06-06 09:27] cmsbuild commented on #33986
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-06-06 09:27] cmsbuild commented on #33986
Queing Jenkins upload for slc7_amd64_gcc900

[2021-06-06 09:27] cmsbuild commented on #33986
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-06-06 09:28] cmsbuild commented on #33986
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1958/console

[2021-06-06 09:28] cmsbuild commented on #33986
The upload has started for cc8_amd64_gcc9 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1957/console

[2021-06-06 09:28] cmsbuild commented on #33986
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1956/console

[2021-06-06 09:28] cmsbuild commented on #33986
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1959/console

[2021-06-06 09:29] cmsbuild commented on #33986
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch3-slc7_aarch64_gcc9/1959

[2021-06-06 09:29] cmsbuild commented on #33986
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch3-cc8_aarch64_gcc9/1956

[2021-06-06 09:29] cmsbuild commented on #33986
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1961/console

[2021-06-06 09:29] cmsbuild commented on #33986
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch3-cc8_ppc64le_gcc9/1958

[2021-06-06 09:29] cmsbuild commented on #33986
The upload has started for slc7_amd64_gcc900 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1960/console

[2021-06-06 09:31] cmsbuild commented on #33986
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch3-cc8_amd64_gcc9/1957

[2021-06-06 09:31] cmsbuild commented on #33986
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch3-slc7_ppc64le_gcc9/1961

[2021-06-06 09:32] cmsbuild commented on #33986
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch3-slc7_amd64_gcc900/1960

[2021-06-06 09:34] qliphy opened #33988 "ProductNotFound in Run3 workflows 11824.0 and 11825.0 in 10_6_X IB"
For some while,  there are issues with Run3 workflows 11824.0 and 11825.0 in 10_6_X IB, for example:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_X_2021-06-05-1100/pyRelValMatrixLogs/run/11825.0_ZEE_13+ZEE_13TeV_TuneCUETP8M1_2021PU_GenSimFullINPUT+DigiFullPU_2021PU+RecoFullPU_2021PU+HARVESTFullPU_2021PU+NanoFull_2021PU/step5_ZEE_13+ZEE_13TeV_TuneCUETP8M1_2021PU_GenSim

[2021-06-06 09:35] cmsbuild commented on #33988
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-06 09:35] qliphy commented on #33988
assign @cms-sw/xpog-l2
adding @swozniewski

[2021-06-06 09:39] qliphy commented on #33988
adding @swozniewski

[2021-06-06 09:41] cmsbuild commented on #33988
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-06 09:43] qliphy opened #33989 "Unit failures in CondTools/Ecal in 10_6_X IB"
As the title says, there are some unit failures:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_X_2021-06-05-1100/unitTestLogs/CondTools/Ecal#/106637-106637

----- Begin Fatal Exception 05-Jun-2021 17:29:20 CEST-----------------------
An exception of category 'ConditionDatabase' occurred while
   [0] Calling endJob for module ExTestEcalTPGWeightIdMapAnalyzer/'Test1'
Exc

[2021-06-06 09:44] cmsbuild commented on #33989
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-06 09:44] cmsbuild commented on #33989
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-06 09:48] qliphy commented on #33986
release-notes

[2021-06-06 09:48] cmsbuild commented on #33986
Generating release notes since CMSSW_11_2_4_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-06 09:48] cmsbuild commented on #33986
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_2_4_patch3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_4_patch2 can be found at:

https://github.com/cms-sw/cmssw

[2021-06-06 09:56] cmsbuild commented on #33986
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4_patch3

[2021-06-06 10:06] mariadalfonso commented on #33988
@swozniewski
we have to set the future (nanov9 and Run3) as default and redefine the past with the modifiers! so probably in
https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_X/PhysicsTools/NanoAOD/python/nano_cff.py#L418-L419

[code]
then line 421-424 can be simplified !

[2021-06-07 04:07] srimanob opened #33993 "A lot of warning/error message of LCTQualityControl: CSCTriggerPrimitivesProducer:simCscTriggerPrimitiveDigis"
Trying to run Phase2 wfs with 12_0_0_pre2, I found a lot of message of LCTQualityControl. However, the job can run until the end.

%MSG-e LCTQualityControl:   CSCTriggerPrimitivesProducer:simCscTriggerPrimitiveDigis  07-Jun-2021 06:01:19 CEST Run: 1 Event: 4
CSCALCTDigi with invalid quality: 4; allowed [0, 3]
%MSG
%MSG-e LCTQualityControl:   CSCTriggerPrimitivesProducer:simCscTriggerPrimitiveDigis

[2021-06-07 04:07] cmsbuild commented on #33993
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-07 12:56] makortel commented on #33993
assign l1

[2021-06-07 12:57] cmsbuild commented on #33993
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-07 14:11] Dr15Jones opened #34000 "CXXMODULES RelVal fail wanting dictionary for transient"
We see the following exception happening in the CXXMODULES IB
[code]

I believe this is coming from
https://github.com/cms-sw/cmssw/blob/2203a479d341fb2ac2e235ca9899acbb9bc3cba7/DataFormats/Common/interface/AssociationMap.h#L73

https://github.com/cms-sw/cmssw/blob/2203a479d341fb2ac2e235ca9899acbb9bc3cba7/DataFormats/Common/interface/AssociationMap.h#L251

Which we are supposed to mark as transien

[2021-06-07 14:12] cmsbuild commented on #34000
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-07 14:14] Dr15Jones commented on #34000
FYI @davidlange6

[2021-06-07 14:17] makortel commented on #34000
assign core

[2021-06-07 14:17] cmsbuild commented on #34000
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-07 16:54] smuzaffar opened #34001 "Oracle: update instantclient 19"
We are ready to integrate Oracle instantclient 19 in CMSSW 12.0.X. Note that just like the oracle instantclient 12.1, this version also has special OCCI library build with GCC 5.3 (i.e. C++11 ABI). This has been integrated in DEVEL IBs and all unit tests and IB relvals works fine. @cms-sw/db-l2 also ran some extra tests and all look good.

  @cms-sw/alca-l2 , @cms-sw/daq-l2 if there are any oracle

[2021-06-07 16:55] cmsbuild commented on #34001
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-07 20:16] dildick commented on #33993
https://github.com/cms-sw/cmssw/pull/34002

[2021-06-07 20:57] cvuosalo commented on #33552
+1

[2021-06-07 20:58] cmsbuild commented on #33552
This issue is fully signed and ready to be closed.

[2021-06-07 20:59] cvuosalo commented on #33552
The 11634.911 DD4hep workflow is now stable. See #34003. This issue can be closed.

[2021-06-07 22:32] #33552 closed

[2021-06-08 00:15] #33960 closed

[2021-06-08 00:32] #31371 closed

[2021-06-08 07:53] cmsbuild commented on #33986
The cleanup has started for cc8_aarch64_gcc9

[2021-06-08 07:53] cmsbuild commented on #33986
The cleanup has started for slc7_aarch64_gcc9

[2021-06-08 07:53] cmsbuild commented on #33986
The cleanup has started for cc8_amd64_gcc9

[2021-06-08 07:53] cmsbuild commented on #33986
The cleanup has started for slc7_amd64_gcc900

[2021-06-08 07:53] cmsbuild commented on #33986
The cleanup has started for slc7_ppc64le_gcc9

[2021-06-08 07:53] #33986 closed

[2021-06-08 07:53] cmsbuild commented on #33986
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch3-cc8_ppc64le_gcc9/1696

[2021-06-08 07:53] cmsbuild commented on #33986
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch3-cc8_aarch64_gcc9/1694

[2021-06-08 07:53] cmsbuild commented on #33986
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch3-slc7_aarch64_gcc9/1697

[2021-06-08 07:53] cmsbuild commented on #33986
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch3-slc7_ppc64le_gcc9/1699

[2021-06-08 07:53] cmsbuild commented on #33986
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch3-slc7_amd64_gcc900/1698

[2021-06-08 08:51] mariadalfonso commented on #33661
+xpog

This items is being finalised in  respectively PR

[2021-06-08 11:43] borzari commented on #32550
@makortel PR merged already https://github.com/cms-sw/cmssw/pull/34006. Is there any other test that is needed?

[2021-06-08 12:02] davidlange6 commented on #34000
Thanks @dr15jones - we have a number of missing dictionary errors typically coming from associations. I don't think we had traced one to a transient member before - maybe that is an important point that we have missed

@vgvassilev -

[2021-06-08 13:15] dan131riley commented on #32867
Another, CMSSW_12_0_CLANG_X_2021-06-06-2300 25213.17 step 1.  Some interesting features in this one--maybe we still have a zero_allocator race condition?  Have we seen any of these in gcc builds?
[code]

[2021-06-08 13:58] makortel commented on #32550
Thanks! We'll see the result in the next ASAN build (in a few days).

[2021-06-09 13:42] civanch commented on #33738
@bsunanda , @cvuosalo , I suspect this is already fixed?

[2021-06-09 13:46] civanch commented on #33571
@bsunanda , @cvuosalo , is this issue fixed?

[2021-06-09 13:52] civanch commented on #33466
@srimanob , it seems , that ROOT upgrade is in CMSSW, so the issue is fixed?

[2021-06-09 13:57] civanch commented on #33312
@cvuosalo , may be a correct fix would be do as @smuzaffar propose: move files in the same place. I do not think it is easy to remove old files if they are used for Run-1 and Run-2, at least, will require extra efforts.

[2021-06-09 14:01] civanch commented on #33249
+1

#33249 and #33973 are merged

[2021-06-09 14:01] cmsbuild commented on #33249
This issue is fully signed and ready to be closed.

[2021-06-09 14:05] #33249 closed

[2021-06-09 14:05] bsunanda commented on #33738
I think this is done
________________________________
From: Vladimir Ivantchenko ***@***.***
Sent: 09 June 2021 15:42
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [Geometry] Redundant vacuum materials should be deleted (#33738)

@bsunanda<https://github.com/bsunanda> , @cvuosalo<https://github.com/cvuosalo> , I suspect this is already fixed?

—
You are receiving this

[2021-06-09 14:06] bsunanda commented on #33571
Yes we have fixed that
________________________________
From: Vladimir Ivantchenko ***@***.***
Sent: 09 June 2021 15:46
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [DD4hep] DD4hep Ecal Endcap algo uses old DD utilities (#33571)

@bsunanda<https://github.com/bsunanda> , @cvuosalo<https://github.com/cvuosalo> , is this issue fixed?

—
You are receiving this because you

[2021-06-09 14:10] civanch commented on #33738
+1

[2021-06-09 14:10] cmsbuild commented on #33738
This issue is fully signed and ready to be closed.

[2021-06-09 14:11] civanch commented on #33571
+1

[2021-06-09 14:11] cmsbuild commented on #33571
This issue is fully signed and ready to be closed.

[2021-06-09 14:15] qliphy commented on #33571
fixed by https://github.com/cms-sw/cmssw/pull/33600

[2021-06-09 14:15] civanch commented on #31753
+1

[2021-06-09 14:15] #33571 closed

[2021-06-09 14:16] civanch commented on #31550
+1

I believe it is done.

[2021-06-09 14:17] cmsbuild commented on #31550
This issue is fully signed and ready to be closed.

[2021-06-09 14:18] civanch commented on #31521
@ianna , @cvuosalo , is this fixed?

[2021-06-09 14:19] mmusich commented on #31550
@civanch is it?
Can you point me to the payloads?

[2021-06-09 14:21] civanch commented on #31464
@ianna, is it fixed?

[2021-06-09 14:22] civanch commented on #31182
+1

[2021-06-09 14:22] cmsbuild commented on #31182
This issue is fully signed and ready to be closed.

[2021-06-09 14:23] civanch commented on #31068
+1

[2021-06-09 14:23] qliphy commented on #33738
It seems zdcmaterials:Galactic is still there:
https://github.com/cms-sw/cmssw/blob/master/Geometry/ForwardCommonData/data/zdcmaterials/2021/v1/zdcmaterials.xml#L4

[2021-06-09 14:24] cmsbuild commented on #31068
This issue is fully signed and ready to be closed.

[2021-06-09 14:25] civanch commented on #31051
@cvuosalo , it is likely done?

[2021-06-09 14:29] civanch commented on #29997
@ianna , likely we resolved this issue?

[2021-06-09 14:31] civanch commented on #29750
@cvuosalo , likely this was done long ago?

[2021-06-09 14:33] civanch commented on #28398
+1

[2021-06-09 14:34] cmsbuild commented on #28398
This issue is fully signed and ready to be closed.

[2021-06-09 14:34] civanch commented on #28168
+1

[2021-06-09 14:35] cmsbuild commented on #28168
This issue is fully signed and ready to be closed.

[2021-06-09 14:38] cmsbuild commented on #27443
This issue is fully signed and ready to be closed.

[2021-06-09 14:38] civanch commented on #27343
+1

[2021-06-09 14:39] cmsbuild commented on #27343
This issue is fully signed and ready to be closed.

[2021-06-09 14:39] makortel commented on #33466
The issue is not fixed in ROOT yet. On the other hand, maybe there isn't much point in keeping this issue open since there is an issue in ROOT and there is a workaround.

[2021-06-09 14:41] civanch commented on #33466
+1

[2021-06-09 14:46] civanch commented on #31550
Then I may be wrong - XML exist but I do not know about payloads. @cvuosalo , can you, please, comment?

[2021-06-09 14:46] civanch commented on #31550
hold

[2021-06-09 14:46] cmsbuild commented on #31550
Pull request has been put on hold by  @civanch
They need to issue an `unhold` command to remove the `hold` state or L1 can `unhold` it for all

[2021-06-09 14:54] #27443 closed

[2021-06-09 14:55] #28168 closed

[2021-06-09 14:55] #28398 closed

[2021-06-09 14:56] #27343 closed

[2021-06-09 14:56] #31068 closed

[2021-06-09 14:56] #31182 closed

[2021-06-09 15:27] scarletnorberg opened #34061 "Remote reading of pLHE fallback issue for production"
CMSSW needs to be fixed still to do fallback file open for LHE the same way it does for EDM inputs for core sw.

https://github.com/dmwm/WMCore/pull/9154#issuecomment-487938039 this is where WMCore has added

This is what is what is already done in CMSSW:
https://github.com/cms-sw/cmssw/issues/31161
https://github.com/cms-sw/cmsdist/pull/6283

[2021-06-09 15:28] cmsbuild commented on #34061
A new Issue was created by  @scarletnorberg .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-09 15:29] kpedro88 commented on #34061
assign core, generators
attn: @bbockelm

[2021-06-09 15:29] cmsbuild commented on #34061
New categories assigned: core,generators

@Dr15Jones,@smuzaffar,@mkirsano,@SiewYan,@alberto-sanchez,@makortel,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-09 15:56] ianna commented on #33312
@smuzaffar - we do not use schema for DDD. I think the ones in CMSSW can be safely removed.

[2021-06-09 16:04] smuzaffar commented on #33312
thanks @ianna , can you please open a PR with the change ?

[2021-06-09 16:18] makortel commented on #34061
What is the urgency for this feature?

I'd also like to understand better why whatever we have been doing so far doesn't work (that well) anymore.

[2021-06-09 16:26] makortel commented on #34061
What fallback are we actually talking about? The fallback catalogs defined in `site-local-config.xml` or the fallback in AAA?

[2021-06-09 16:40] bsunanda commented on #33738
I just submitted a PR to remove that material which was never used
________________________________
From: Qiang Li ***@***.***
Sent: 09 June 2021 16:24
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [Geometry] Redundant vacuum materials should be deleted (#33738)

It seems zdcmaterials:Galactic is still there:
https://github.com/cms-sw/cmssw/blob/master/Geometry/Forward

[2021-06-09 17:10] makortel commented on #34061
Or is the request really about wantong to give LFN(s) to the `LHESource` and to rely on xrootd/AAA to find the site providing the file?

[2021-06-09 19:31] smuzaffar commented on #33945
@mrodozov , for `*SAN` IBs, we use `LD_PRELOAD=GGC_ROOT/libs64/lib*san.so  command-to-run`. So when you run the script directly then it does not crash as in this case libasan in not loaded. Looks like issue is somewhere in frontier_client itself
[code]

may be you can build frontier client with debug flag (-g) to see if you get more information.

[2021-06-09 20:42] slava77 commented on #33917
I updated the list with the following:

RECO/AOD part:
- #34066 Add CSC/DT rechits to AOD
- MC-specific:
    -  #33996 Track-gen matching passing through TrackingParticle
    -  NEED A PATCH TO CMSSW_10_2_16_UL with keep statements from #33996  in SimTracker/Configuration/python/SimTracker_EventContent_cff.py

[2021-06-09 21:15] mrodozov commented on #33945
I found this tool I didn't know
https://docs.python.org/3/library/faulthandler.html
(its in the default packages for new python3 versions)
it shows where it crashes in frontier client:

[code]
when it crashes, it shows what it did in python:
[code]
and it says on which line - 118 (I added prints thats why it says 119)
its calling the
`retcode = libfc.frontier_getRawData(channel, uri.encode())`
htt

[2021-06-10 00:08] qliphy commented on #33738
https://github.com/cms-sw/cmssw/pull/34064

[2021-06-10 03:18] slava77 commented on #33917
the above came from the discussion in https://github.com/cms-sw/cmssw/pull/33996#issuecomment-858084961

@silviodonato @qliphy
what is your preference to make this update?
There is no branch for patches for CMSSW_10_2_16 ( = CMSSW_10_2_16_UL). Should the update be made to CMSSW_10_2_X? (The difference is more than a few files https://github.com/cms-sw/cmssw/compare/CMSSW_10_2_16_UL..CMSSW_10_2_X)

[2021-06-10 03:48] srimanob commented on #33466
Yeah, agree. As the issue is in ROOT side, we can monitor from that. And when the ROOT is available and in CMSSW, we can check again. Thanks All.

[2021-06-10 03:50] srimanob commented on #33993
I believe this issue is solved. @cms-sw/l1-l2 Could you please consider and sign this ticket? Thanks All.

[2021-06-10 03:55] qliphy commented on #33917
probably we can make CMSSW_10_2_26_patch2 ?  @silviodonato  may comment more.

[2021-06-10 07:59] silviodonato commented on #33917
@slava77 once we have a backport of  #33996 to CMSSW_10_2_X, we can build a special `CMSSW_10_2_16_UL2` that is `CMSSW_10_2_16_UL` + backport of  #33996.
The file differences should be harmless, but I think it is more safe to avoid the big jump `CMSSW_10_2_16_UL` -> `CMSSW_10_2_27_UL` only for b-parking UL.

@smuzaffar what is the best way to build a `CMSSW_10_2_16_UL2` from the technical point of

[2021-06-10 08:13] smuzaffar commented on #33917
@silviodonato , if `CMSSW_10_2_16_UL2` should be `CMSSW_10_2_16_UL` +  #33996 then we need a cmssw tag or branch with `CMSSW_10_2_16_UL +  #33996`  which you can use as CMSSW_COMMIT in the build issue.

[2021-06-10 08:25] smuzaffar commented on #33917
and you also should use
[code]
in order to not get all the external merged in `IB/CMSSW_10_2_X/gcc700` branch

[2021-06-10 08:45] smuzaffar commented on #34001
looks like no objections, so I am going to integrate it for today's 11h00 IB

[2021-06-10 12:10] slava77 commented on #33917
I'm not familiar with this procedure, in the past we used PRs to make updates.

So, somebody will
- checkout CMSSW_10_2_16_UL in "from-CMSSW_10_2_16_UL" branch
- add a commit on it
- push it to the personal remote
- ... what's next?

[2021-06-10 12:37] silviodonato commented on #33917
I would say - first of all - to merge the 102X backport  to the standard `CMSSW_10_2_X`.

Then, I've just created the branch `CMSSW_10_2_16_UL_patchX`, so you can make a PR towards `CMSSW_10_2_16_UL_patchX` and then we'll build the release

[2021-06-10 12:58] makortel commented on #33466
+1

[2021-06-10 12:59] cmsbuild commented on #33466
This issue is fully signed and ready to be closed.

[2021-06-10 13:51] #33466 closed

[2021-06-10 13:56] makortel commented on #33931
Kind reminder @cms-sw/l1-l2

[2021-06-10 21:41] smuzaffar commented on #33312
see https://github.com/cms-sw/cmssw/pull/34087

[2021-06-10 23:37] cvuosalo commented on #33738
No, sorry, this issue is not completed. The following vacua still exist:
[code]
It is not a big problem, but it would be nice to replace them all with the standard `materials:Vacuum`. Unfortunately, there are several dozen files that use them. Maybe the old versions would be left in place.

[2021-06-10 23:47] cvuosalo commented on #31550
The scripts have been developed to make the payloads, but I don't think the payloads have been uploaded. @bsunanda Could you please comment on the zero material payloads?

[2021-06-10 23:55] cvuosalo commented on #29750
@civanch No, this issue is just a nice idea but not very important. I create issues like this just to document ideas, not necessarily to get them done promptly. Is it inappropriate to create GitHub issues merely for suggestions that may never need to be implemented?

[2021-06-11 00:01] makortel commented on #29750
In general no, e.g. in `core` we have plenty of such GitHub issues.

[2021-06-11 00:29] makortel commented on #32011
Addressed in https://github.com/cms-sw/cmssw/pull/34031

[2021-06-11 00:29] makortel commented on #32011
+core

[2021-06-11 00:29] #32011 closed

[2021-06-11 00:33] qliphy opened #34089 "Build CMSSW_10_2_16_UL2"
CMSSW_COMMIT:d5aa7f685e8f06812876654e8d8a59b449be0c58
CMSDIST_COMMIT=REL/CMSSW_10_2_16_UL/slc7_amd64_gcc700
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc700

[2021-06-11 00:34] cmsbuild commented on #34089
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-11 00:46] qliphy commented on #34089
+1

[2021-06-11 00:46] cmsbuild commented on #34089
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_UL2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2021-06-11 00:46] cmsbuild commented on #34089
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-06-11 00:46] cmsbuild commented on #34089
The build has started for slc7_amd64_gcc700 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3049/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-11 00:56] qliphy commented on #33917
@smuzaffar @silviodonato
Please check whether this is ok:
https://github.com/cms-sw/cmssw/issues/34089

[2021-06-11 01:08] slava77 commented on #33917
the tag looks correct:
https://github.com/cms-sw/cmssw/compare/CMSSW_10_2_16_UL...CMSSW_10_2_16_UL2

[2021-06-11 01:38] cmsbuild commented on #34089
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_UL2-slc7_amd64_gcc700/3049

[2021-06-11 05:47] smuzaffar commented on #34089
abort

[2021-06-11 05:47] cmsbuild commented on #34089
Deleting CMSSW_10_2_16_UL2:

  - Release successfully deleted

  - cmssw tag CMSSW_10_2_16_UL2 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_10_2_16_UL2/slc7_amd64_gcc700. Probaly it had not been created.

You must create a new issue to start over the build.

[2021-06-11 05:47] #34089 closed

[2021-06-11 05:47] smuzaffar opened #34090 "Build CMSSW_10_2_16_UL2"
CMSSW_COMMIT:d5aa7f685e8f06812876654e8d8a59b449be0c58
CMSDIST_COMMIT:REL/CMSSW_10_2_16_UL/slc7_amd64_gcc700
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc700

[2021-06-11 05:48] cmsbuild commented on #34090
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-11 05:48] smuzaffar commented on #34090
+1

[2021-06-11 05:48] cmsbuild commented on #34090
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_UL2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2021-06-11 05:48] cmsbuild commented on #34090
There was an error while attempting to create CMSSW_10_2_16_UL2. Please check if it already exists https://github.com/cms-sw/cmssw/releases

[2021-06-11 05:49] cmsbuild commented on #34090
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-06-11 05:51] cmsbuild commented on #34090
The build has started for slc7_amd64_gcc700 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3050/console
CMSDIST Branch: [REL/CMSSW_10_2_16_UL/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_16_UL/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-11 05:51] cmsbuild commented on #34090
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_UL2-slc7_amd64_gcc700/3050

[2021-06-11 05:58] cmsbuild commented on #34090
The build has started for slc7_amd64_gcc700 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3051/console
CMSDIST Branch: [REL/CMSSW_10_2_16_UL/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_16_UL/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-11 06:02] qliphy commented on #33917
superseded by https://github.com/cms-sw/cmssw/issues/34090  thanks to @smuzaffar

[2021-06-11 06:05] smuzaffar commented on #34089
@qliphy , this was using wrong cmsdist tag/branch. My bad, the `CMSDIST_COMMIT`  should have `:` instead of `=`
I opened #34090 and now it is using the correct cmsdist tag to build the release.

[2021-06-11 06:17] #33661 closed

[2021-06-11 08:17] cmsbuild commented on #34090
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_UL2-slc7_amd64_gcc700/3051
Some tes

[2021-06-11 08:53] cmsbuild commented on #34090
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_UL2-slc7_amd64_gcc700/3051

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-11 09:35] civanch commented on #29750
@cvuosalo , we do not have alternative easy mechanism to collect issues. It may stay for long but from time to time it would be useful to review and close those which will never be implemented.

[2021-06-11 12:35] qliphy commented on #34090
upload all

[2021-06-11 12:35] cmsbuild commented on #34090
Queing Jenkins upload for slc7_amd64_gcc700

[2021-06-11 12:37] cmsbuild commented on #34090
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_16_UL2-slc7_amd64_gcc700/1962

[2021-06-11 12:40] Dr15Jones opened #34097 "assert in debug builds from GsfTrajectorySmoother"
The DBG IB RelVals are failing with
[code]

With the back track
[code]

[2021-06-11 12:40] cmsbuild commented on #34097
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-11 12:43] Dr15Jones commented on #34097
The assert is here
https://github.com/cms-sw/cmssw/blob/766919273f0a3faec8d9d20205fc8475f627b44c/TrackingTools/TrajectoryState/src/BasicTrajectoryState.cc#L246-L248

which is being called from

https://github.com/cms-sw/cmssw/blob/766919273f0a3faec8d9d20205fc8475f627b44c/TrackingTools/TrackFitters/interface/DebugHelpers.h#L81-L84

which comes from
https://github.com/cms-sw/cmssw/blob/2a2ca2ee216a4

[2021-06-11 12:43] Dr15Jones commented on #34097
assign reconstruction

[2021-06-11 12:44] cmsbuild commented on #34097
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-11 12:51] perrotta commented on #34097
@mtosi @vmariani
@afiqaize @SohamBhattacharya

[2021-06-11 13:01] qliphy commented on #34090
release-notes since CMSSW_10_2_16_UL

[2021-06-11 13:01] cmsbuild commented on #34090
Generating release notes since CMSSW_10_2_16_UL.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-11 13:01] cmsbuild commented on #34090
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_16_UL2 is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_2_16_UL can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_16_UL2

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnou

[2021-06-11 13:05] cmsbuild commented on #34090
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_UL2

[2021-06-11 13:07] slava77 commented on #34097
@Dr15Jones
Please provide some details how to reproduce, at least the actual IB and a workflow.

do you know if this is a new problem or was it perhaps shadowed in the same test before by an earlier crash?

[2021-06-11 13:10] qliphy commented on #33917
CMSSW_10_2_16_UL2  is now ready
https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_16_UL2

[2021-06-11 13:33] Dr15Jones commented on #34097
See https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_12_0_X with the DBG_X build of 12_0_X_2021-06-10-2300. 748 of the RelVals failed for this reason.

[2021-06-11 13:34] Dr15Jones commented on #34097
The DBG_X build is the only IB where we set on EDM_ML_DEBUG for all of CMSSW so it uncovers these conditional code build problems.

[2021-06-11 13:34] dan131riley commented on #34097
CMSSW_12_0_DBG_X_2021-06-10-2300, pretty much any wf, only happens if `EDM_ML_DEBUG` is defined, previously hidden because the DBG builds were completely borked.

[2021-06-11 13:45] dan131riley commented on #34061
It looks like the `LHESource` isn't using the file catalog at all, so they must be using PFNs.  The first step would be to use the file catalog for LFN to PFN translation, and then if AAA fallback is wanted see https://github.com/cms-sw/cmssw/pull/28064 for an example implementation.

[2021-06-11 14:02] dan131riley commented on #33682
Still not fixed.  I can't reopen #33452 (which was unexpectedly automatically close), so I'll reopen this one...

[2021-06-11 14:17] slava77 commented on #34097
this clarifies.
I picked some other random cases and the stack trace before DebugHelpers.h is different.
e.g. in 5.1 it's `GsfTrajectorySmoother::trajectory` -> `dump`

[2021-06-11 14:49] slava77 commented on #34097
both cases are still related to Gsf.
I wonder if this was broken for ages.
@VinInn

[2021-06-11 16:40] dan131riley commented on #34061
Scratch the previous comment, I forgot that the fallback catalog had been replaced by multiple catalogs in https://github.com/cms-sw/cmssw/pull/28911 so mostly what's needed is to use the file catalog.

[2021-06-11 17:04] makortel commented on #34061
With @Dr15Jones we came to the same conclusion.

The remaining questions are if we have understood the request correctly, and what is the urgency of the request.

[2021-06-12 00:43] #33312 closed

[2021-06-12 03:44] slava77 commented on #33917
Current status is now down to one PR:
- #33996 "Track-gen matching passing through TrackingParticle" still needs the master version #33774 to get through, which is  missing pdmv and upgrade signatures

The other incomplete item is " to define test workflows" could probably be done now outside of the cmssw source.

[2021-06-12 12:48] mrodozov commented on #33945
I rebuilt and run frontier_client with `-g3 ` and when run under ASAN with gdb, after setting the `LD_PRELOAD=GGC_ROOT/libs64/lib*san.so` before running gdb it fails in here:
https://github.com/cms-externals/frontier_client/blob/cms/2.9.1/frontier.c#L952
trying to use `chn->pid`
If I pass that part using
`if(false)` on line 952
the channel object tries to do this:
`if(!body&&(chn->client_cache_max

[2021-06-12 14:41] Dr15Jones commented on #33945
In C, converting a pointer to an integral value (or vice-versa) is implementation defined (i.e. not considered portable). Doing some searching it looks like converting a pointer to type `uintptr_t` (and vice-versa) is the proper way to do it.

So it looks like the typedef should be changed to
[code]

[2021-06-12 15:33] cvuosalo commented on #32740
Removing the namespace from names would be a major project. Many parts of the code may depend on using the namespace to uniquely identify names, so all those cases would need to be understood and changed.

[2021-06-12 15:38] cvuosalo commented on #31958
+1

[2021-06-12 15:38] cmsbuild commented on #31958
This issue is fully signed and ready to be closed.

[2021-06-12 15:38] cvuosalo commented on #31958
All of the muon DB loaders have been migrated.

[2021-06-12 15:38] #31958 closed

[2021-06-12 15:40] ianna commented on #32740
IMHO we should keep them.

[2021-06-12 15:42] cvuosalo commented on #31051
I think this goal is continuing. As we have time and can figure out how to make our code more generic, we can move more to DD4hep.

[2021-06-12 15:47] civanch commented on #32740
From my point of view, long name (with or without namespace) is convenient for understanding and for memory but definitely will slowdown any DD code. At the same time, it is possible to have a namespace consists of 1 (well enough) or at maximum 2 characters.

[2021-06-12 16:36] ianna commented on #32740
How long a string? I'd like to see a profiling of that - how a maximum 20 char string performing against 10 char string - I don't think we'd notice any difference.

[2021-06-13 03:51] qliphy opened #34104 "Build CMSSW_10_6_26"

[2021-06-13 03:51] cmsbuild commented on #34104
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-13 03:51] qliphy commented on #34104
+1

[2021-06-13 03:52] cmsbuild commented on #34104
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_26. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-06-13 03:52] cmsbuild commented on #34104
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-06-13 03:53] cmsbuild commented on #34104
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3052/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-13 03:53] cmsbuild commented on #34104
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3053/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-13 03:53] slava77 commented on #33917
it looks like all PRs are now merged

[2021-06-13 04:23] cmsbuild commented on #34104
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_26-slc7_amd64_gcc700/3052

[2021-06-13 04:24] cmsbuild commented on #34104
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_26-slc7_amd64_gcc820/3053

[2021-06-13 05:15] qliphy commented on #34104
- process: ppllllj2_onlyh ... download from repository: public... extract ... done
- process: ppwjj_ew ... ERROR: not available (installed: {})
ERROR: process downloader failed.
error: Bad exit status from /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_10_6_26-slc7_amd64_gcc820/build/CMSSW_10_6_26-build/tmp/rpm-tmp.nbhHOV (%build)

[2021-06-13 05:15] qliphy commented on #34104
abort

[2021-06-13 05:15] cmsbuild commented on #34104
Deleting CMSSW_10_6_26:

  - Release successfully deleted

  - cmssw tag CMSSW_10_6_26 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_10_6_26/slc7_amd64_gcc700. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_10_6_26/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.

[2021-06-13 05:16] #34104 closed

[2021-06-13 05:16] qliphy opened #34105 "Build CMSSW_10_6_26"

[2021-06-13 05:16] cmsbuild commented on #34105
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-13 05:17] qliphy commented on #34105
+1

[2021-06-13 05:17] cmsbuild commented on #34105
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_26. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-06-13 05:17] cmsbuild commented on #34105
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-06-13 05:18] cmsbuild commented on #34105
The build has started for slc7_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3054/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-13 05:18] cmsbuild commented on #34105
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3055/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-13 05:50] cmsbuild commented on #34105
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_26-slc7_amd64_gcc700/3054

[2021-06-13 05:50] cmsbuild commented on #34105
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_26-slc7_amd64_gcc820/3055

[2021-06-13 05:56] qliphy commented on #34105
@cms-sw/generators-l2   Can you have a look?

- process: ppwjj_ew ... ERROR: not available (installed: {})
ERROR: process downloader failed.
error: Bad exit status from /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_10_6_26-slc7_amd64_gcc700/build/CMSSW_10_6_26-build/tmp/rpm-tmp.XBUtVV (%build)

[2021-06-13 11:08] cmsbuild commented on #34090
The cleanup has started for slc7_amd64_gcc700

[2021-06-13 11:08] #34090 closed

[2021-06-13 11:08] cmsbuild commented on #34090
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_16_UL2-slc7_amd64_gcc700/1700

[2021-06-13 11:54] qliphy commented on #34105
@SiewYan  reminded me about https://github.com/cms-sw//pull/7018
this needs to be backported to 10_6_X which is being made

[2021-06-13 11:58] SiewYan commented on #34105
Hi, I have opened the PR: https://github.com/cms-sw/cmsdist/pull/7022

[2021-06-13 12:06] qliphy commented on #34105
abort

[2021-06-13 12:06] qliphy opened #34107 "Build CMSSW_10_6_26"

[2021-06-13 12:07] cmsbuild commented on #34107
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-13 12:07] qliphy commented on #34107
+1

[2021-06-13 12:07] cmsbuild commented on #34107
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_26. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-06-13 12:07] cmsbuild commented on #34107
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-06-13 12:10] cmsbuild commented on #34107
The build has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3056/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-13 12:10] cmsbuild commented on #34107
The build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3057/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-13 12:10] qliphy commented on #34105
abort

[2021-06-13 12:10] #34105 closed

[2021-06-13 12:10] cmsbuild commented on #34105
Deleting CMSSW_10_6_26:

  - Release successfully deleted

  - cmssw tag CMSSW_10_6_26 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_10_6_26/slc7_amd64_gcc700. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_10_6_26/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.

[2021-06-13 12:12] qliphy commented on #34107
abort

[2021-06-13 12:13] cmsbuild commented on #34107
Deleting CMSSW_10_6_26:

  - Release CMSSW_10_6_26 not found.

  - I was not able to delete the tag CMSSW_10_6_26. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_10_6_26/slc7_amd64_gcc700. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_10_6_26/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start

[2021-06-13 12:13] #34107 closed

[2021-06-13 12:16] qliphy opened #34108 "Build CMSSW_10_6_26"

[2021-06-13 12:16] cmsbuild commented on #34108
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-13 12:17] qliphy commented on #34108
+1

[2021-06-13 12:17] cmsbuild commented on #34108
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_26. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-06-13 12:17] cmsbuild commented on #34108
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-06-13 12:18] cmsbuild commented on #34108
The build has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3058/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-13 12:18] cmsbuild commented on #34108
The build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3059/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-13 16:58] cmsbuild commented on #34108
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_26-slc7_amd64_gcc820/3059
Some tests (

[2021-06-13 17:39] cmsbuild commented on #34108
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_26-slc7_amd64_gcc820/3059

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-13 17:56] cmsbuild commented on #34108
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_26-slc7_amd64_gcc700/3058
Some tests (

[2021-06-13 18:39] cmsbuild commented on #34108
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_26-slc7_amd64_gcc700/3058

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-14 00:11] qliphy commented on #34108
upload all

[2021-06-14 00:11] cmsbuild commented on #34108
Queing Jenkins upload for slc7_amd64_gcc700

[2021-06-14 00:11] cmsbuild commented on #34108
Queing Jenkins upload for slc7_amd64_gcc820

[2021-06-14 00:13] cmsbuild commented on #34108
The upload has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1963/console

[2021-06-14 00:13] cmsbuild commented on #34108
The upload has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1964/console

[2021-06-14 00:14] cmsbuild commented on #34108
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_26-slc7_amd64_gcc820/1964

[2021-06-14 00:15] cmsbuild commented on #34108
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_26-slc7_amd64_gcc700/1963

[2021-06-14 00:31] qliphy commented on #34108
release-notes

[2021-06-14 00:31] cmsbuild commented on #34108
Generating release notes since CMSSW_10_6_25.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-14 00:31] cmsbuild commented on #34108
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_26 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_25 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_26

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2021-06-14 00:35] cmsbuild commented on #34108
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_26

[2021-06-14 07:40] qliphy opened #34112 "Unit Failure in 12_X IB from TauAnalysis/MCEmbeddingTools"
Since CMSSW_12_0_X_2021-06-13-2300, we have a unit failure from TauAnalysis/MCEmbeddingTools

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-06-13-2300/unitTestLogs/TauAnalysis/MCEmbeddingTools#/654-654

....

----- Begin Fatal Exception 14-Jun-2021 01:13:37 CEST-----------------------
An exception of category 'ProductNotFound' occurred while
   [0] Processing  Ev

[2021-06-14 07:41] cmsbuild commented on #34112
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-14 07:41] qliphy commented on #34112
@elusian    possibly due to https://github.com/cms-sw/cmssw/pull/33774

[2021-06-14 08:35] elusian commented on #34112
@smuzaffar
I tried running the test locally to understand precisely what is happening but I cannot find the required input at /store/user/swayand/Emmbeddingfiles/Emmbedding_testInput3.root. Is there a specific configuration I need to use?

[2021-06-14 08:40] mmusich commented on #34112
@swayand please notice that the input file of the tau embedding unit test might need to be change due to PR https://github.com/cms-sw/cmssw/pull/33774.

@kandrosov @roger-wolf FYI

[2021-06-14 09:37] mrodozov commented on #34112
hm, if this test was running so far - how it worked in first place and if it did - how this file was read from this private eos area
I'll get it if it was available

[2021-06-14 09:40] mmusich commented on #34112
@mrodozov I think that's done with the usual trick of changing the eos address at the level of DAS query.
I see that this file exists:
[code]

[2021-06-14 10:35] mrodozov commented on #34112
thanks @mmusich, took me some time to figure whats going on
@elusian if you want to get/copy the file do (on lxplus !)
`cp /eos/cms/store/user/cmsbuild/store/user/swayand/Emmbeddingfiles/Emmbedding_testInput3.root .`
although I think the file itself has to be recreated

[2021-06-14 10:43] elusian commented on #34112
@mmusich @mrodozov, thank you.

By reading the config files produced during the test, I believe I have found the issue: since the MERGE_PAT.py file is created with `eventContent MINIAODSIM` the new steps from #33774 are enabled, but by using  `--data` in the invocation the `prunedGenParticles` collection is removed from the tasks.

The solution is to add the associations to the collections to be r

[2021-06-14 13:07] mariadalfonso commented on #33988
@swozniewski
any news ?

[2021-06-14 13:58] swozniewski commented on #33988
Sorry, I missed your first note! Thanks for pinging me again. It looks like we were not careful enough with backporting from master. In master, there is no extra flag defined for steering that the boostedTaus are only produced for future versions and therefore it was encoded as the NOT of previous eras (obviously not knowing what the future modifiers will be called).
In 10_6_X there is an addition

[2021-06-14 13:59] swozniewski commented on #33988
With 'this line' I meant https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_X/PhysicsTools/NanoAOD/python/nano_cff.py#L423

[2021-06-14 16:22] colizz opened #34117 "Inaccessiable EventSetup in ExternalGeneratorFilter"
Hi experts,

An error occurs running the GEN step with `ExternalGeneratorFilter`, which acts on `Pythia8GeneratorFilter` with `Tauola` set as the external decayer:

[code]

By a rough check, the reason may be related to the transfer of EventSetup between the worker and controller instance. A quick example is to run on the process [TAU-RunIISummer19UL16GEN-00003](https://cms-pdmv.cern.ch/mcm/reques

[2021-06-14 16:23] cmsbuild commented on #34117
A new Issue was created by  @colizz Congqiao Li.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-14 16:26] makortel commented on #34117
assign core, generators

[2021-06-14 16:26] cmsbuild commented on #34117
New categories assigned: core,generators

@Dr15Jones,@smuzaffar,@mkirsano,@SiewYan,@alberto-sanchez,@makortel,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-15 08:30] belforte opened #34122 "curl in cmssw-cc6 singularity container is too old"
I am moving CRAB to use s3.cern.ch as temporary storage for sandboxes.
For this we upload/download files to/from https://s3.cern.ch using so called PreSigned URLs which require no authentication, so hopefully maximum portability.
But something is wrong with curl on cmssw-cc6 container in SSL/TLS area [1]

Can this be solved ? I presume that it is a matter of curl version.
Note that e.g. wget works

[2021-06-15 08:30] cmsbuild commented on #34122
A new Issue was created by  @belforte Stefano Belforte.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-15 08:35] belforte commented on #34122
should you be interested, the command which I use to upload to S3 is like this (as per S3 instructions) which is at least for me, not trivial to recast into a wget equivalent.

[code]
p.s. the signature/policy above was only valid for 1h.

[2021-06-15 09:49] belforte commented on #34122
Remembering a trick posted some time ago by Bockjo, this works
[code]
as @davidlange6 pointed out that source leaves a broken scram environment, but inside a suprocess only used to run curl, should be OK.
Shall I assume that you can not/will not update curl in slc6_amd64_gcc481 but the one in slc6_amd64_gcc700 will stay available in CVMFS as long as there are SL6 CMSSW releases ?

I verified that

[2021-06-15 10:13] smuzaffar commented on #34122
@belforte , as we can not change curl in the existsing releases so I would suggest to just create a wrapper script which sources /cvmfs/cms.cern.ch/slc6_amd64_gcc700/external/curl/7.59.0/etc/profile.d/init.sh` and runs your curl command. As this will be done ina subshell so itwill not break the parent scram environmnet,

[2021-06-15 10:24] belforte commented on #34122
OK. just keep  /cvmfs/cms.cern.ch/slc6_amd64_gcc700/external/curl/7.59.0 around :-)

[2021-06-15 10:24] #34122 closed

[2021-06-15 10:28] smuzaffar commented on #34122
sure, we will keep it around

[2021-06-15 12:02] agrohsje commented on #34117
Hi @mkirsano @SiewYan , are you available to follow-up? The problem appears when running tauola as external decayer, there is no problem with evtgen.

[2021-06-15 12:11] swozniewski commented on #33988
I just noticed that in 10_6_X, the latest deepTauID version is only available in miniAOD for certain run2-modifiers: https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_X/PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py#L405-L411
Therefore, Run3 would still require an execution of the nanoAOD_addTauIds function. I'd therefore suggest to keep the default  of nanoAOD_addTauIds_switch as true and o

[2021-06-15 14:24] silviodonato opened #34136 "Profiling for NanoAOD"
XPOG would like to extend the profiling tests in the PR tests for the NanoAOD.
The main feature to add would be the comparison of the NanoAOD size.

It looks like we have to add step5 in
in the edmEventSize
https://github.com/cms-sw/cms-bot/blob/master/pr_testing/run-pr-profiling.sh#L44-L48
and here (for IB)
https://github.com/cms-sw/cms-bot/blob/master/run-ib-igprof#L36

@gouskos suggested also t

[2021-06-15 14:24] silviodonato commented on #34136
assign xpog

[2021-06-15 14:24] cmsbuild commented on #34136
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-15 14:24] cmsbuild commented on #34136
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-15 14:44] Dr15Jones commented on #34117
The ExternalGeneratorFilter would need a way to pass the configuration of the needed ES modules to the external processes. That is, ES data is not passed from the main process to the worker processes, each worker process would have their own copies of the ES modules.

The main idea would be to extend the following string to contain the configuration info for the needed ES modules

https://github.c

[2021-06-15 14:57] colizz commented on #34117
Thanks Chris! While studying the implementation of the external cmsRun instance, our concern is that whether the `TestProcessor` that the "external cmsRun" is based on is different from the default cmsRun. As we are not familiar with the TestProcessor, not sure if EventSetup was loaded smoothly in this event routine (the EventSetup part looks pretty at the core and we haven't figured out how it in

[2021-06-15 15:03] Dr15Jones commented on #34117
The documentation on the TestProcessor can be found here
https://github.com/cms-sw/cmssw/tree/master/FWCore/TestProcessor

[2021-06-15 15:14] colizz commented on #34117
Ok thanks Chris! With your previous comments, do you mean we can send in the ES module name manually (i.e. for this above case we specify 'PDTRecord' manually and somehow pass it to the code block you just show)? If I understand your points correctly then it can be a nice fix.

[2021-06-15 16:29] PhyM73 commented on #34117
I have found a [discussion](https://hypernews.cern.ch/HyperNews/CMS/get/physTools/1240/2.html) on hypernews about adding empty ESSource. I have tried to add such a patch in `ExternalGeneratorFilter.cc` in a similar way as this discussion:

[code]

However, this still does not work. But it does take some effects, as the error message changed to the below:

[code]

[2021-06-15 16:35] Dr15Jones commented on #34117
I'm afraid it isn't just the name, you need to specify the configuration for the module just as you would for the Process, e.g.
[code]

[2021-06-15 16:36] Dr15Jones commented on #34117
@PhyM73 please try using the `HepPDTESSource` example instead of `EmptyESSource`. I'm not sure which file is actually needed for this case.

[2021-06-15 16:55] colizz commented on #34117
So we eventually make the case run by adding
[code]
Parsing the cfg it looks like HepPDTESSource is the only ESSource relevant to the GEN step.
@PhyM73 will help to finalise on the fix. Thanks so much to @Dr15Jones for the helpful instruction:)

[2021-06-15 17:32] Dr15Jones commented on #34117
I think it might be possible to modify ExternalGeneratorFilter.py so that one could specify the names of ES modules to use and then during the conversion of python to C++ it would lookup the configuration and pass it to C++.

[2021-06-15 18:51] hatakeyamak commented on #27767
Pinging..

[2021-06-15 18:53] Dr15Jones commented on #34117
See #34146. It would be great if someone could test to be sure this change will work for the presently failing case.

[2021-06-15 22:38] cmsbuild commented on #34108
The cleanup has started for slc7_amd64_gcc700

[2021-06-15 22:38] cmsbuild commented on #34108
The cleanup has started for slc7_amd64_gcc820

[2021-06-15 22:38] #34108 closed

[2021-06-15 22:38] cmsbuild commented on #34108
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_26-slc7_amd64_gcc700/1701

[2021-06-15 22:38] cmsbuild commented on #34108
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_26-slc7_amd64_gcc820/1702

[2021-06-16 00:25] #34112 closed

[2021-06-16 01:18] colizz commented on #34117
Many thanks for the fix! Yes the idea is to let users decide which ES modules to pass in (and more broadly, any type of configs can be sent in). We will test the failing case based on #34146.

[2021-06-16 02:26] PhyM73 commented on #34117
This is a nice fix ! It works for the present issue by adding the module below
[code]

[2021-06-16 10:06] smuzaffar commented on #34001
oracle client has been updated to version 19

[2021-06-16 10:06] #34001 closed

[2021-06-16 10:06] #33993 closed

[2021-06-16 10:32] smuzaffar commented on #33698
https://github.com/cms-sw/cmsdist/pull/7033 shoudl fix this issue

[2021-06-16 10:34] smuzaffar commented on #33698
yes it is related to SCRAMV3. python `os.rename(src, des)` does not work if `src` and `des` are on different devices. I have updated scram to use `shutils.move` which works cross-devices

[2021-06-16 10:39] smuzaffar commented on #33743
+core
- `-mlong-double-64` has been removed
- https://github.com/cms-sw/cmssw/pull/33892 takes care of the PI using literals issue

[2021-06-16 10:39] #33743 closed

[2021-06-16 10:39] cmsbuild commented on #33743
This issue is fully signed and ready to be closed.

[2021-06-16 12:57] dan131riley commented on #33636
Can we try cherry picking https://github.com/oneapi-src/oneTBB/pull/435?  Use after scope on the allocator is a plausible explanation for our crashes.

[2021-06-16 13:45] alexey-katranov commented on #33636
I'd better suggest trying the current `master` ([82ff8707](https://github.com/oneapi-src/oneTBB/commit/478de5b1887c928e52f029d706af6ea640a877be#diff-39e4acc7b239a4903473b1f141a1cf12c7686d200891271fd6c22cce344ae97aR133-R385) in particular).

[2021-06-16 14:06] #33698 closed

[2021-06-16 14:11] Dr15Jones opened #34157 "EDAlias and producing Source do not work together"

[2021-06-16 14:12] cmsbuild commented on #34157
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-16 14:13] Dr15Jones commented on #34157
This problem can be reproduced using the simple test
[code]

This throws
[code]

[2021-06-16 14:13] Dr15Jones commented on #34157
assign core

[2021-06-16 14:13] cmsbuild commented on #34157
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-16 14:19] mrodozov commented on #33945
The problem seems to be that under ASAN the returned address of the object is very big number
[code]

and we are casting it to FrontierChannel which is `uintptr_t`
in the next function this gets to 494784 , which is not 0x611000078cc0 and which seems to be the problem

[code]
but in the same function if I use the entire address:
[code]
the object is still there. I'm trying `unsigned long long` but

[2021-06-16 14:25] mrodozov commented on #33636
sure I'll get it.

[2021-06-16 14:45] makortel commented on #33945
Seems that 494784 corresponds the lower 32 bits of 0x611000078cc0. Could there be something that truncates the 64-bit value?

`uintptr_t` should be (at least) 64 bits on our platforms.

[2021-06-16 14:46] mrodozov commented on #33945
indeed . I suspect it's exactly this. I changed it to unisgned long long but still can't cast it entirely

[2021-06-16 15:23] dildick commented on #32634
@davidlange6 This issue can be closed.

[2021-06-16 15:27] #32634 closed

[2021-06-16 15:43] jfernan2 commented on #32634
+1
For the records

[2021-06-16 15:44] cmsbuild commented on #32634
This issue is fully signed and ready to be closed.

[2021-06-17 00:14] qliphy opened #34163 "Build CMSSW_12_0_0_pre3"

[2021-06-17 00:14] cmsbuild commented on #34163
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-17 00:14] qliphy commented on #34163
+1

[2021-06-17 00:14] cmsbuild commented on #34163
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-06-17 00:14] cmsbuild commented on #34163
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-06-17 00:17] cmsbuild commented on #34163
The build has started for slc7_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3061/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 00:17] cmsbuild commented on #34163
The build has started for cc8_amd64_gcc9 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3060/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 00:17] cmsbuild commented on #34163
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3062/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 00:17] cmsbuild commented on #34163
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3063/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 00:18] cmsbuild commented on #34163
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3064/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 05:11] cmsbuild commented on #34163
The was an error for slc7_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc10/3061

[2021-06-17 05:27] cmsbuild commented on #34163
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3065/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 06:25] cmsbuild commented on #34163
The build has started for slc7_amd64_gcc10 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3066/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 07:20] cmsbuild commented on #34163
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-cc8_ppc64le_gcc9/3063
Some tests

[2021-06-17 07:45] cmsbuild commented on #34163
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-cc8_amd64_gcc9/3060
Some tests ( r

[2021-06-17 08:27] cmsbuild commented on #34163
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc900/3062
Some tes

[2021-06-17 08:30] cmsbuild commented on #34163
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-cc8_amd64_gcc9/3060

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-17 08:39] cmsbuild commented on #34163
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-cc8_ppc64le_gcc9/3063

Tests results:
36 33 14 4 3 0 0 0 0 tests passed, 2 2 19 2 0 0 0 0 0 failed

[2021-06-17 09:10] cmsbuild commented on #34163
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_ppc64le_gcc9/3064
Some tes

[2021-06-17 09:13] cmsbuild commented on #34163
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc900/3062

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-17 11:29] cmsbuild commented on #34163
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_ppc64le_gcc9/3064

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-17 11:48] cmsbuild commented on #34163
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc10/3066
Some tests

[2021-06-17 12:33] cmsbuild commented on #34163
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc10/3066

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-17 12:42] mrodozov commented on #33636
Cherry-picking the commits from the oneTBB PR 435 didn't compile (breaking changes and change of namespace name which I didn't go to try and understand, and eventually stitch).
I got master+PR435 commits+ppc macro fix
here:
https://github.com/mrodozov/oneTBB/commits/master%2Bfix
this builds on PPC (tried it)

[2021-06-17 13:50] qliphy commented on #34163
@silviodonato @smuzaffar @jfernan2
Do you have any opinion about whether we should wait for https://github.com/cms-sw/cmssw/pull/34164  to upload 12_0_0_pre3.   Or just go as what we have now.

[2021-06-17 13:59] smuzaffar commented on #34163
I have no idea how big the impact of https://github.com/cms-sw/cmssw/pull/34153 is. @jfernan2 , do you have any perferrence? Currently 12_0_0_pre3 contains the bug due to which DQM unit tests failed.

[2021-06-17 14:31] smuzaffar commented on #14473
no going to implement this, this will be fixed with CXXMODULES enabled

[2021-06-17 14:31] #14473 closed

[2021-06-17 14:35] jfernan2 commented on #34163
Well, #34164 affects mainly Online...
I am sorry for the inconvenience

[2021-06-17 15:39] qliphy commented on #34163
ok, thanks.  https://github.com/cms-sw/cmssw/pull/34164 is now merged and I will remake 12_0_0_pre3

[2021-06-17 15:40] qliphy commented on #34163
abort

[2021-06-17 15:40] cmsbuild commented on #34163
Deleting CMSSW_12_0_0_pre3:

  - Release successfully deleted

  - cmssw tag CMSSW_12_0_0_pre3 successfully deleted.

 - cmsdist tag REL/CMSSW_12_0_0_pre3/slc7_amd64_gcc900 successfully deleted.

 - cmsdist tag REL/CMSSW_12_0_0_pre3/slc7_amd64_gcc10 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_12_0_0_pre3/slc7_aarch64_gcc9. Probaly it had not been created.

 - cmsdist tag R

[2021-06-17 15:41] jfernan2 commented on #34163
Thank you very much!!

[2021-06-17 15:42] #34163 closed

[2021-06-17 15:45] qliphy opened #34168 "Build CMSSW_12_0_0_pre3"

[2021-06-17 15:46] cmsbuild commented on #34168
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-17 15:47] qliphy commented on #34168
+1

[2021-06-17 15:47] cmsbuild commented on #34168
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-06-17 15:47] cmsbuild commented on #34168
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-06-17 15:48] cmsbuild commented on #34168
The build has started for slc7_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3068/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 15:48] cmsbuild commented on #34168
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3069/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 15:48] cmsbuild commented on #34168
The build has started for cc8_amd64_gcc9 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3067/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 15:49] cmsbuild commented on #34168
The build has started for cc8_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3070/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 15:50] cmsbuild commented on #34168
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3071/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 17:05] cmsbuild commented on #34168
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3072/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-17 18:41] cmsbuild commented on #34168
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_ppc64le_gcc9/3071
Some tes

[2021-06-17 19:06] cmsbuild commented on #34168
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-cc8_ppc64le_gcc9/3070
Some tests

[2021-06-17 19:09] cmsbuild commented on #34168
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc10/3068
Some tests

[2021-06-17 19:29] cmsbuild commented on #34168
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-cc8_amd64_gcc9/3067
Some tests ( r

[2021-06-17 19:53] cmsbuild commented on #34168
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc10/3068

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-17 19:53] cmsbuild commented on #34168
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_aarch64_gcc9/3072
Some tes

[2021-06-17 20:00] cmsbuild commented on #34168
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_ppc64le_gcc9/3071

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-17 20:02] cmsbuild commented on #34168
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-cc8_ppc64le_gcc9/3070

Tests results:
36 33 14 4 3 0 0 0 0 tests passed, 2 2 19 2 0 0 0 0 0 failed

[2021-06-17 20:14] cmsbuild commented on #34168
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-cc8_amd64_gcc9/3067

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-17 20:25] cmsbuild commented on #34168
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc900/3069
Some tes

[2021-06-17 20:50] cmsbuild commented on #34168
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_aarch64_gcc9/3072

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-17 21:09] cmsbuild commented on #34168
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc900/3069

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-18 00:26] qliphy commented on #34168
upload all

[2021-06-18 00:26] cmsbuild commented on #34168
Queing Jenkins upload for cc8_amd64_gcc9

[2021-06-18 00:26] cmsbuild commented on #34168
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-06-18 00:26] cmsbuild commented on #34168
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-06-18 00:26] cmsbuild commented on #34168
Queing Jenkins upload for slc7_amd64_gcc10

[2021-06-18 00:26] cmsbuild commented on #34168
Queing Jenkins upload for slc7_amd64_gcc900

[2021-06-18 00:26] cmsbuild commented on #34168
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-06-18 00:29] cmsbuild commented on #34168
The upload has started for cc8_amd64_gcc9 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1965/console

[2021-06-18 00:29] cmsbuild commented on #34168
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1966/console

[2021-06-18 00:29] cmsbuild commented on #34168
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1967/console

[2021-06-18 00:29] cmsbuild commented on #34168
The upload has started for slc7_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1968/console

[2021-06-18 00:30] cmsbuild commented on #34168
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre3-cc8_ppc64le_gcc9/1966

[2021-06-18 00:30] cmsbuild commented on #34168
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre3-slc7_aarch64_gcc9/1967

[2021-06-18 00:31] cmsbuild commented on #34168
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1969/console

[2021-06-18 00:31] cmsbuild commented on #34168
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre3-cc8_amd64_gcc9/1965

[2021-06-18 00:31] cmsbuild commented on #34168
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1970/console

[2021-06-18 00:32] cmsbuild commented on #34168
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre3-slc7_ppc64le_gcc9/1970

[2021-06-18 00:32] cmsbuild commented on #34168
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc10/1968

[2021-06-18 00:41] cmsbuild commented on #34168
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre3-slc7_amd64_gcc900/1969

[2021-06-18 01:05] qliphy commented on #34168
release-notes

[2021-06-18 01:05] cmsbuild commented on #34168
Generating release notes since CMSSW_12_0_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-18 01:05] cmsbuild commented on #34168
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases

[2021-06-18 01:12] cmsbuild commented on #34168
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre3

[2021-06-18 06:40] mariadalfonso commented on #33988
+xpog

resolved in linked PR

[2021-06-18 06:40] cmsbuild commented on #33988
This issue is fully signed and ready to be closed.

[2021-06-18 06:52] #33988 closed

[2021-06-18 06:55] smuzaffar commented on #33936
I would suggest to move to GCC 10 for these specail `*SAN` IBs,  any objections ?

[2021-06-18 12:27] Dr15Jones opened #34177 "Crash in Phase2OTValidateTrackingRecHit in IB"
In this RelVal test

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_amd64_gcc9/CMSSW_12_0_X_2021-06-17-2300/pyRelValMatrixLogs/run/23234.9_TTbar_14TeV+2026D49_vectorHits+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D49_vectorHits+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal.log#/82-82

We get a crash wi

[2021-06-18 12:28] cmsbuild commented on #34177
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-18 12:31] slava77 commented on #27767
sorry, I wasn't able to put enough attention to this.
It's been two years since the issue was open and the full set of flags in all different options doesn't easily fit in my circular buffer memory (in part due to apparent multi-layer negation logic).

To quote from the issue description:

There are two PRs mentioned in this issue
- #29470 : seems unrelated to the main points
- #33520 apparently a

[2021-06-18 12:54] qliphy commented on #34177
A fix has been provided here:  https://github.com/cms-sw/cmssw/pull/34175

[2021-06-18 13:35] makortel commented on #33936
Sounds good to me.

[2021-06-18 13:45] makortel commented on #34177
assign dqm

(I believe the explanation of the crash in the description is useful also in light of the workaround in #34175).

[2021-06-18 13:45] cmsbuild commented on #34177
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-18 14:02] hatakeyamak commented on #27767
I believe, in #33520, `HBHENegativeNoise` was put back to the default value so that it should be the same for both data and MC in Run 3, at least eliminated one asymmetry.

Most of, if not all, data-MC asymmetry seems to be for before the hcal phase1 upgrade, and i am not sure if we can really afford studying data-MC asymmetry in detail and revisit the setting.

If the suggestion is to put various

[2021-06-18 14:43] slava77 commented on #27767
Thanks for clarifying about `HBHENegativeNoise`.
what about `HFDigiTime` and `HBHEFlatNoise`?

I think that editing Reconstruction_Data_cff may be more clear (assuming the overrides in RecoTLR are removed).
It seems to me like we should be able to have the implementation more compact and clear this way.

What is the number of the removed rechits? If they are not stored already in the reduced rechi

[2021-06-18 15:07] abdoulline commented on #27767
Gentlemen,
I don't think we're going to go back to previous ("legacy") eras to unify what was initially designed/thought as splitted (MC vs data noise filters)...
For Run3 we have now "unified" MC & data HCAL noise flags settings...

[2021-06-18 15:11] abdoulline commented on #27767
I've checked Noise flags (SeverityLevel) settings for step3 (edmConfigDump) of wfs:
(1) 2018 data 136.874
(2) 2021 MC   11634.0
and the only difference is for HBHENegativeNoise: 8(12) for MC(data).
Now, after https://github.com/cms-sw/cmssw/pull/33520  we have SeverityLevel=8 for both MC and data...

[2021-06-18 15:25] abdoulline commented on #27767
"Reduced" rechits collections in AOD contain _all_ the hits with non-0 noise flags.
And as "slimmed" collections they are available in miniAOD  https://github.com/cms-sw/cmssw/pull/31375

[2021-06-18 22:40] cvuosalo commented on #33712
This issue is more complex than expected. These parameters do not appear in any of the xml files used in defining the scenario. They are entered in the file:
DetectorDescription/DDCMS/plugins/dd4hep/DDDefinitions2Objects.cc

They may need to be defined there. There may be conflicts within dd4hep code which may try to define the same name elsewhere.

[2021-06-19 23:08] cmsbuild commented on #34168
The cleanup has started for slc7_aarch64_gcc9

[2021-06-19 23:08] cmsbuild commented on #34168
The cleanup has started for cc8_amd64_gcc9

[2021-06-19 23:08] cmsbuild commented on #34168
The cleanup has started for cc8_ppc64le_gcc9

[2021-06-19 23:08] cmsbuild commented on #34168
The cleanup has started for slc7_amd64_gcc10

[2021-06-19 23:08] cmsbuild commented on #34168
The cleanup has started for slc7_amd64_gcc900

[2021-06-19 23:08] cmsbuild commented on #34168
The cleanup has started for slc7_ppc64le_gcc9

[2021-06-19 23:08] #34168 closed

[2021-06-19 23:09] cmsbuild commented on #34168
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre3-slc7_aarch64_gcc9/1705

[2021-06-19 23:09] cmsbuild commented on #34168
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre3-cc8_amd64_gcc9/1703

[2021-06-19 23:09] cmsbuild commented on #34168
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre3-cc8_ppc64le_gcc9/1704

[2021-06-19 23:09] cmsbuild commented on #34168
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre3-slc7_amd64_gcc10/1706

[2021-06-19 23:10] cmsbuild commented on #34168
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre3-slc7_ppc64le_gcc9/1708

[2021-06-19 23:10] cmsbuild commented on #34168
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre3-slc7_amd64_gcc900/1707

[2021-06-21 09:52] mmusich opened #34193 "getPayloadData.py script broken in CMSSW_12_0_0_pre3"
As can be seen in [CondDB Browser logs](https://cms-conddb.cern.ch/admin/log?service=cmsDbBrowser&timestamp=1622108680) and reproduced locally with:
[code]
resulting in:
[code]

Looks related to recent python3 migration changes.
cc:
@francescobrivio @ggovi

[2021-06-21 09:52] cmsbuild commented on #34193
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-21 09:58] francescobrivio commented on #34193
The error can also be reproduced with
[code]
which gives:
[code]
Same commands in CMSSW_12_0_0_**pre2** work fine.

[2021-06-21 10:01] ggovi commented on #33425
I'm sorry for the latency. In my opinion, the Std::cout  printouts could be accepted only in a test executable. In all the Analyzer code, instead, std::cout should not be used. On the other hand, you have a significant fraction of your messages already implemented with LogInfo or LogDebug. I really think you should be uniform and coherent on this.
Concerning the catch (...), I see that is limited

[2021-06-21 10:15] smuzaffar commented on #34193
Dueto python3 migration, we have dropped many python2 packages ( all of them are available forpython3 though). Can you please use `python3` to run  `getPayloadData.py` ? Do we have any unit tests to run `getPayloadData.py` ? If yes then it shoudl work with python3 as all tests run for PY3 IBs where `python` is alias to `python3`

[2021-06-21 10:21] smuzaffar opened #34194 "Split Configuration/DataProcessing/test/run_CfgTest.sh in multiple tests"
https://github.com/cms-sw/cmssw/blob/master/Configuration/DataProcessing/test/run_CfgTest.sh unit test runs many configurations and take 40 to 45 mins to finish. If these configurations are independent then can we please split this to run multiple tests. This will allow scram to run them in parallel and overall time taken by the test will be small.

[2021-06-21 10:21] cmsbuild commented on #34194
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-21 10:21] agrohsje commented on #34117
@colizz 34146 and this are all ok and tested if I understand you correctly? please confirm. thanks!

[2021-06-21 10:40] mmusich commented on #34193
Thanks @smuzaffar .

Does  this mean basically to change the shebang here:

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/CondCore/Utilities/scripts/getPayloadData.py#L1
?

No, but I'll add one.

[2021-06-21 10:41] smuzaffar commented on #34193
yes please change the shebang in the script

[2021-06-21 11:52] thomreis commented on #33425
We can replace the cout statements with LogDebug or LogInfo/LogVerbatim to be consistent, yes.

For the catch(...) statements I count 46 occurrences. Some are catching std::exceptions and are just printing a message and the exception itself. Others do the same but also setting some variable. Most others catch an SQLException and rethrow it as a std::runtime_error. And then there are the ones in th

[2021-06-21 12:02] colizz commented on #34117
Yes they are all tested. We can move forward to merge them:-)
(#34173 works together with #34146 and they are all well tested)

[2021-06-21 12:17] srimanob opened #34196 "Failing in L1Trigger/TrackFindingTracklet/src/MatchCalculator.cc"
From the production of Phase-2 using 11_3 release, there seems to be a rare failure coming from
`assert(stub->z() * tracklet->t() > 0.0);`
in https://github.com/cms-sw/cmssw/blob/master/L1Trigger/TrackFindingTracklet/src/MatchCalculator.cc#L350

Actually, I am not sure that you use assert just to debug thing, or want to terminate the CMSSW. I assume if it fails from whatever reasons, it should con

[2021-06-21 12:18] cmsbuild commented on #34196
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-21 12:19] srimanob commented on #34196
FYI @skinnari @cecilecaillol @mmusich

[2021-06-21 12:44] Sam-Harper opened #34197 "Ecal and Hcal Local GPU Reco crashes on missing detector"
A bug was exposed last MWGR in that both HCAL and ECAL local reconstruction on a GPU do not have protections when the respective detector is out.

This is explicitly in the HBHERecHitProducerGPU

and a similar crash was observed in ECAL

To reproduce simply run over any run with the appropriate detector missing.

[2021-06-21 12:44] cmsbuild commented on #34197
A new Issue was created by  @Sam-Harper Sam Harper.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-21 12:46] makortel commented on #34193
assign db

[2021-06-21 12:47] cmsbuild commented on #34193
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-21 12:50] makortel commented on #34157
Fixed in #34161

[2021-06-21 12:50] makortel commented on #34157
+1

[2021-06-21 12:50] cmsbuild commented on #34157
This issue is fully signed and ready to be closed.

[2021-06-21 12:53] makortel commented on #34196
assign l1

[2021-06-21 12:53] cmsbuild commented on #34196
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-21 12:59] makortel commented on #34197
assign reconstruction, heterogeneous

[2021-06-21 12:59] cmsbuild commented on #34197
New categories assigned: heterogeneous,reconstruction

@slava77,@fwyzard,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-21 12:59] makortel commented on #34197
FYI @cms-sw/ecal-dpg-l2 @cms-sw/hcal-dpg-l2 @vkhristenko

[2021-06-21 13:05] mmusich commented on #34193
with this change-set:
[code]

I still get this error message:
[code]

which looks related to https://github.com/cms-sw/cmssw/pull/34026

[2021-06-21 13:19] agrohsje commented on #34117
+generators

[2021-06-21 13:24] civanch commented on #33738
Fixed in #34101

[2021-06-21 13:33] fwyzard commented on #34197
An other corner case that needs to be tested and possibly addressed is the unpacking and local reconstruction of *calibration* data.

It may also be useful to check if data taken in non-standard conditions (different zero suppresion, etc.) is properly handled.

[2021-06-21 14:17] srimanob commented on #34196
To reproduce the error:

CMSSW_11_3_1_patch1 with cmsDriver

`cmsDriver.py --python_filename test_cfg.py --eventcontent FEVTDEBUGHLT --pileup NoPileUp --customise SLHCUpgradeSimulations/Configuration/aging.customise_aging_1000 --datatier FEVTDEBUGHLT --fileout file:test.root --conditions 113X_mcRun4_realistic_v7 --step DIGI:pdigi_valid,L1TrackTrigger,L1,DIGI2RAW,HLT:@fake2 --nThreads 8 --geometry

[2021-06-21 15:57] hatakeyamak commented on #27767
So, can we consider this is ok?

[2021-06-21 18:17] davidlange6 commented on #34193
more likely its that boost python is python2  - so likely we can't move this tool to python3 until boost python does - what else is needed aside from pyyaml?

[2021-06-21 18:53] mmusich commented on #34193
If it helps that's the list of import statements:

[code]

[2021-06-21 18:55] davidlange6 commented on #34193
Yep - thanks! I think only yaml has been dropped, but I’ll double check tomorrow.

[2021-06-21 20:28] ggovi commented on #33425
My comment was actually limited to the actual **catch(...)** , that are only two.

[2021-06-21 22:24] cvuosalo commented on #33738
+1

[2021-06-21 22:24] #33738 closed

[2021-06-22 00:34] qliphy opened #34202 "Build CMSSW_11_2_4_patch4"

[2021-06-22 00:34] cmsbuild commented on #34202
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-22 00:35] qliphy commented on #34202
+1

[2021-06-22 00:35] #34202 closed

[2021-06-22 00:35] qliphy opened #34203 "Build CMSSW_11_2_4_patch4"

[2021-06-22 00:36] cmsbuild commented on #34203
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-22 00:36] qliphy commented on #34203
+1

[2021-06-22 00:36] cmsbuild commented on #34203
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4_patch4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-06-22 00:36] cmsbuild commented on #34203
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-06-22 00:40] cmsbuild commented on #34203
The build has started for cc8_amd64_gcc9 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3074/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-22 00:40] cmsbuild commented on #34203
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3073/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-22 00:41] cmsbuild commented on #34203
The build has started for slc7_amd64_gcc900 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3075/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-22 00:48] cmsbuild commented on #34203
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3076/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-22 00:57] cmsbuild commented on #34203
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3077/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-22 01:22] cmsbuild commented on #34203
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-cc8_amd64_gcc9/3074
Some tests (

[2021-06-22 01:23] cmsbuild commented on #34203
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3078/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-22 01:24] cmsbuild commented on #34203
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-slc7_amd64_gcc900/3075
Some t

[2021-06-22 01:29] cmsbuild commented on #34203
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-cc8_ppc64le_gcc9/3073
Some tes

[2021-06-22 01:34] cmsbuild commented on #34203
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-slc7_aarch64_gcc9/3077
Some t

[2021-06-22 02:01] cmsbuild commented on #34203
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-slc7_ppc64le_gcc9/3078
Some t

[2021-06-22 02:01] cmsbuild commented on #34203
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-cc8_amd64_gcc9/3074

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-22 02:04] cmsbuild commented on #34203
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-slc7_amd64_gcc900/3075

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-22 02:14] cmsbuild commented on #34203
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-cc8_aarch64_gcc9/3076
Some tes

[2021-06-22 02:31] cmsbuild commented on #34203
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-slc7_aarch64_gcc9/3077

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-22 03:08] cmsbuild commented on #34203
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-cc8_ppc64le_gcc9/3073

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-06-22 03:31] cmsbuild commented on #34203
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-slc7_ppc64le_gcc9/3078

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-22 04:37] cmsbuild commented on #34203
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch4-cc8_aarch64_gcc9/3076

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-06-22 06:47] davidlange6 commented on #34193
Just to follow up - getPayloadData relies on pluginCondDBV2PyInterface which is from

BOOST_PYTHON_MODULE(pluginCondDBV2PyInterface)

So indeed, this is a boost-python module (so python2 at this moment)

[2021-06-22 08:18] silviodonato commented on #34136
I'm trying to add step5 in the file size comparison (cms-sw/cms-bot#1567)
The test is in https://github.com/cms-sw/cmssw/pull/33097

[2021-06-22 08:44] ianna commented on #33656
@bsunanda - please, confirm that we can close this issue. Thanks!

[2021-06-22 08:51] ianna commented on #27095
@kpedro88 - please, let me know if this issue is resolved. Thanks!

[2021-06-22 09:23] mmusich commented on #34193
So, what is the plan to restore the functionality?
Is pyyaml for python2 going to be restored until boost-python is not available for python3?

[2021-06-22 09:29] smuzaffar commented on #34193
yes, @davidlange6 has already opened https://github.com/cms-sw/cmsdist/pull/7054 to restore it.

[2021-06-22 09:51] thomreis commented on #33425
Ah yes, sorry. I see what you mean now.
Can the others be kept as they are then?

[2021-06-22 10:08] civanch opened #34206 "Build SIM geometry from DB"
It is necessary to establish build of SIM geometry from DB without use of DDD components and DB records, which are obsolete. Start of the discussion was in #34167

[2021-06-22 10:08] civanch commented on #34206
+geometry

[2021-06-22 10:08] cmsbuild commented on #34206
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-22 10:09] civanch commented on #34206
core+

[2021-06-22 10:11] civanch commented on #34206
assign geometry core

[2021-06-22 10:11] civanch commented on #34206
assign geometry

[2021-06-22 10:12] cmsbuild commented on #34206
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-22 10:12] civanch commented on #34206
assign core

[2021-06-22 10:12] cmsbuild commented on #34206
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-22 10:15] ggovi commented on #34193
Boost-python can ( and should ) be replaced by PyBind11. <use name="py3-pybind11> in the BuildFile should provide the support for python3?  Currently I'm getting the error:

[govi@cmsdev23 src]$ python3
Python 3.8.2 (default, Jun  1 2021, 09:03:26)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line

[2021-06-22 10:48] davidlange6 commented on #34193
it depends on which python you used as a dependency in the so. (pybind11 itself does not depend on python*)

[2021-06-22 11:28] ggovi commented on #33425
Well you have a recommendation from the release coordinator... Please check the guidelines and decide based on your needs - in same case I've seen you simply rethrow...

[2021-06-22 11:32] ggovi commented on #34193
The .cc creating the .so only contains #include <pybind11/pybind11.h>. Here is the BuildFile:

<library file="CondDBPyBind11Wrappers.cc" name="CondDBPyBind11Interface">
  <use name="CondCore/CondDB"/>
  <use name="py3-pybind11"/>
  <use name="python"/>
</library>

[2021-06-22 11:35] davidlange6 commented on #34193
use name="python3"

[2021-06-22 11:53] smuzaffar commented on #34193
@davidlange6 , this plugin is generated here https://github.com/cms-sw/cmssw/blob/master/CondCore/CondDB/plugins/BuildFile.xml#L6 . It is an edm plugin. I don't think that we can have python3 and python2 based plugins.

[2021-06-22 12:01] davidlange6 commented on #34193
sorry, I was thinking it was this one https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/CondCore/CondDB/plugins/CondDBPyWrappers.cc

(aack)

I would assume that you are correct that we can not mix python2 and python3 plugins (but I haven't tested that).

Anyway, it looks like we should keep all of this as python2 until a last Big Bang change over - but meanwhile it woul

[2021-06-22 13:02] makortel commented on #34206
@cvuosalo, replying here to https://github.com/cms-sw/cmssw/pull/34167#issuecomment-865347335. Thanks for trying out. After further thought I think the following would be (also conceptually) a better version of https://github.com/cms-sw/cmssw/pull/34167#issuecomment-865051930
[code]

[2021-06-22 13:08] thomreis commented on #33425
Yes we duplicated the code that has been there for ages for the integration of the second set of weights.

[2021-06-22 13:15] ggovi commented on #34193
@davidlange6 thanks, the fix for the pybind11 works. Now, for the issue reported here I planned in principle create a new plugin based on python3, leaving the one used by conddb in python2. Do I understand correctly that this is not possible?

[2021-06-22 13:44] davidlange6 commented on #34193
I’m not sure - definitely if both get loaded into the same process you’ll have problems. There may be other issues given that the fwk uses python2 (but that is outside of the plugins themselves). I’d suggest just trying it to see what happens

[2021-06-22 13:53] kpedro88 commented on #27095
@bsunanda is there more cleanup to be done for this issue?

[2021-06-22 13:54] thomreis commented on #34197
Is there a recipe to reproduce this? Running at P5 with a specific HLT configuration? @amassiro FYI even though I guess you know already.

[2021-06-22 14:06] jbsauvan commented on #27095
Hi
There's actually also some cleanup to do on the HGCal trigger part, which I've planned to to for a long time but never took the time to do it.
I could realistically clean before August the old v8 code there.

[2021-06-22 14:29] smuzaffar commented on #34193
@davidlange6 , @ggovi , `scram` uses `edmPluginRefresh` during the build phase to generate edmplugin cache.  `edmPluginRefresh` loads all plugins in once process and having both python2 and 3 plugins will break the build process. I copied different plugisn build for 12.0.X and 12.0.PY3.X in one directory,  ran `edmPluginRefresh` on it and as expacted it failed.

[code]

[2021-06-22 14:45] smuzaffar commented on #34193
@ggvi, `CondDBPyBind11Interface` is not really a edm plugin. I would suggest to do the following
- add the folloiwng at https://github.com/cms-sw/cmssw/blob/master/CondCore/CondDB/plugins/BuildFile.xml#L7
[code]
and replace `<use name="python"/>` with `<use name="python3"/>` .This will generate a shared library `libCondDBPyBind11Interface.so` linked with python3.  As this shared lib is generated f

[2021-06-22 16:31] qliphy opened #34211 "Build CMSSW_10_2_27"

[2021-06-22 16:31] qliphy commented on #34211
+1

[2021-06-22 16:32] cmsbuild commented on #34211
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_27. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2021-06-22 16:32] cmsbuild commented on #34211
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-06-22 16:33] cmsbuild commented on #34211
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3080/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-22 16:33] cmsbuild commented on #34211
The build has started for slc6_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3079/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-22 17:11] cvuosalo commented on #34206
@makortel Thanks, your new version works, at least so far. There is more to be fixed (see next comment).

[2021-06-22 17:26] cvuosalo commented on #34206
Request for advice: It looks to me like `Configuration/Geometry/python/GeometryDB_cff.py` needs to be changed to include DDD and DD4hep options. Currently, it contains:
[code]
Those `cff` files currently contain DDD-specific code.

I think `GeometryDB_cff.py` should contain a DDD section and a DD4hep section. In pseudo-code, it might look something like this:
[code]
I think that the `dd4hep.toRepl

[2021-06-22 19:48] cmsbuild commented on #34211
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_27-slc7_amd64_gcc700/3080

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-22 19:50] makortel commented on #34206
The `dd4hep.toReplaceWith()` should be used for cases where the meaning of a module label is re-defined with another module of the same type (e.g. replace ESProducer with a different ESProducer). The replacement should be done in the (cfi) file that defines the module.

Different sets of cfi/cff files can be loaded into the Process along what I described in https://github.com/cms-sw/cmssw/pull/341

[2021-06-22 19:52] cmsbuild commented on #34211
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_27-slc6_amd64_gcc700/3079
Some tests (

[2021-06-22 20:29] cmsbuild commented on #34211
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_27-slc6_amd64_gcc700/3079

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-22 20:45] slava77 commented on #27767
I'm not sure what "this" is in this context.
I think that to close this feature more clearly it would be better to have the edits to the different flags in just one place https://github.com/cms-sw/cmssw/issues/27767#issuecomment-864089536

[2021-06-22 21:08] cvuosalo commented on #34206
@makortel Here's what I am trying in `GeometrySimDB_cff.py` (and similarly in `GeometryRecoDB_cff.py`):
[code]
The cff files that are loaded are about 20 lines long. Is that too complex?

[2021-06-22 21:46] hatakeyamak commented on #27767
Okay. I think @abdoulline or somebody from hcal dpg will be a natural person to take care of this part, but I can assist if extra hands are helpful, as I somehow got involved..

[2021-06-23 00:00] qliphy commented on #34211
upload all

[2021-06-23 00:00] cmsbuild commented on #34211
Queing Jenkins upload for slc6_amd64_gcc700

[2021-06-23 00:00] cmsbuild commented on #34211
Queing Jenkins upload for slc7_amd64_gcc700

[2021-06-23 00:02] qliphy commented on #34203
upload all

[2021-06-23 00:02] cmsbuild commented on #34203
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-06-23 00:02] cmsbuild commented on #34203
Queing Jenkins upload for cc8_amd64_gcc9

[2021-06-23 00:02] cmsbuild commented on #34203
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-06-23 00:02] cmsbuild commented on #34211
The upload has started for slc6_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1971/console

[2021-06-23 00:02] cmsbuild commented on #34203
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-06-23 00:02] cmsbuild commented on #34203
Queing Jenkins upload for slc7_amd64_gcc900

[2021-06-23 00:02] cmsbuild commented on #34203
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-06-23 00:04] cmsbuild commented on #34203
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1973/console

[2021-06-23 00:04] cmsbuild commented on #34211
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1972/console

[2021-06-23 00:04] cmsbuild commented on #34203
The upload has started for cc8_amd64_gcc9 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1974/console

[2021-06-23 00:05] cmsbuild commented on #34211
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_27-slc7_amd64_gcc700/1972

[2021-06-23 00:06] cmsbuild commented on #34203
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch4-cc8_aarch64_gcc9/1973

[2021-06-23 00:06] cmsbuild commented on #34203
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1975/console

[2021-06-23 00:06] cmsbuild commented on #34203
The upload has started for slc7_amd64_gcc900 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1976/console

[2021-06-23 00:07] cmsbuild commented on #34203
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch4-cc8_amd64_gcc9/1974

[2021-06-23 00:07] cmsbuild commented on #34203
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1977/console

[2021-06-23 00:07] cmsbuild commented on #34203
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch4-cc8_ppc64le_gcc9/1975

[2021-06-23 00:08] cmsbuild commented on #34203
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1978/console

[2021-06-23 00:09] cmsbuild commented on #34203
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch4-slc7_amd64_gcc900/1976

[2021-06-23 00:09] cmsbuild commented on #34203
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch4-slc7_ppc64le_gcc9/1978

[2021-06-23 00:09] cmsbuild commented on #34203
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch4-slc7_aarch64_gcc9/1977

[2021-06-23 00:10] cmsbuild commented on #34211
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_27-slc6_amd64_gcc700/1971

[2021-06-23 00:12] qliphy commented on #34211
release-notes

[2021-06-23 00:13] cmsbuild commented on #34211
Generating release notes since CMSSW_10_2_26_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-23 00:13] cmsbuild commented on #34211
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_27 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_26_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_27

Cheers,
cms-bot

You can also click <a href="mailto:h

[2021-06-23 00:20] cmsbuild commented on #34211
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_27

[2021-06-23 00:24] qliphy commented on #34203
release-notes

[2021-06-23 00:24] cmsbuild commented on #34203
Generating release notes since CMSSW_11_2_4_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-23 00:24] cmsbuild commented on #34203
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_2_4_patch4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_4_patch3 can be found at:

https://github.com/cms-sw/cmssw

[2021-06-23 00:31] cmsbuild commented on #34203
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4_patch4

[2021-06-23 03:43] cvuosalo commented on #34206
Draft PR #34219 submitted for discussion.

[2021-06-23 08:41] ggovi commented on #34193
@smuzaffar Ok, thanks, i'll follow this recipe!

[2021-06-23 13:40] kpedro88 commented on #33002
Coming back to this - has the HLT rate been checked with the fix for this issue?

[2021-06-23 14:37] makortel opened #34223 "test_PixelBaryCentreTool test fails"
The `test_PixelBaryCentreTool` test started to fail in CMSSW_12_0_X_2021-06-22-2300 following the merge of #33583 (as reported in the PR)
[code]

The #33583 was the first(?) PR to declare EventSetup consumes in EDLoopers after that was allowed by #33337.

[2021-06-23 14:37] cmsbuild commented on #34223
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-23 14:37] makortel commented on #34223
assign core, alca

[2021-06-23 14:38] cmsbuild commented on #34223
New categories assigned: core,alca

@Dr15Jones,@francescobrivio,@smuzaffar,@malbouis,@pohsun,@tlampen,@yuanchao,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-23 14:38] makortel commented on #34223
(copying my comment https://github.com/cms-sw/cmssw/pull/33583#issuecomment-866883266)

The immediate problem is the order of base classes for the multiple inheritance of `AlignmentProducer`
https://github.com/cms-sw/cmssw/blob/5aa4fdee130a66887ba8195fa6904eb977f60d72/Alignment/CommonAlignmentProducer/plugins/AlignmentProducer.h#L15
The `consumesCollector()` is a function via the second, `edm::ESP

[2021-06-23 14:39] makortel commented on #34223
The exception is thrown in
https://github.com/cms-sw/cmssw/blob/5aa4fdee130a66887ba8195fa6904eb977f60d72/FWCore/Framework/src/DataProxy.cc#L93-L95
by `cache_` being `nullptr`.

[2021-06-23 14:43] makortel commented on #34223
Could we be missing the prefetch of ES products , or parts of it, with EDLooper?

[2021-06-23 14:50] mmusich commented on #34223
@makortel might the fact that the test `test_PixelBaryCentreTool` uses an `EmptySource` have anything to do with it?
We tested the branch at PR #33583 running an alignment with real data and we didn't observe such issues.

[2021-06-23 14:55] makortel commented on #34223
Looking closer the stack trace of the exception, it has
[code]
and framework runs the beginRun tasks only after the call to `EDLooperBase::beginOfJob()`
https://github.com/cms-sw/cmssw/blob/2f32ccf0c273b05b5489fd5ece96aca99e5ee408/FWCore/Framework/src/EventProcessor.cc#L1072-L1086

I also noticed a related comment in `EventProcessor::beginJob()`
[code]

This problem has not been caught by framewor

[2021-06-23 14:58] makortel commented on #34223
@mmusich Interesting. I don't expect `EmptySource` to play a role here (we use that heavily in framework tests).

Given that the exception in the issue description gets triggered by uninitialized memory (i.e. undefined behavior), it could be that you have been "lucky" with the "alignment with real data" tests.

[2021-06-23 14:59] makortel commented on #34223
I'd like to understand next if there is any real need for `EDLooperBase::beginOfJob()` to give access to `EventSetup`, or if all EventSetup accesses could be moved to e.g. `beginRun()`.

[2021-06-23 15:23] mmusich commented on #34223
from a quick look at the work done at `beginOfJob` it is not immediately clear that it can be moved to `beginRun()`.
At the very least there will be redundant initializations.
https://github.com/cms-sw/cmssw/blob/cbaf0dc9717ee689271021b056e6c74d411b78cc/Alignment/CommonAlignmentProducer/src/AlignmentProducerBase.cc#L361-L414

I think one would need to perform a multi-IOV alignment to be sure

[2021-06-23 15:58] cvuosalo commented on #34206
I have created a possible config for DD4hep sim from the DB. However, it fails with this exception:
[code]
It is puzzling, because the configs do contain the needed producers (below). What is missing?
[code]

[2021-06-23 16:59] fwyzard commented on #34197
@mzarucki does FOG have some samples to reproduce the issues ?

[2021-06-23 18:26] makortel commented on #34223
I actually tried that (protecting it with a `bool` flag so that it is called only once, and adjusting the call to `startProcessing()` accordingly), but that didn't help.

The `AlignmentProducer` appears to be the only user of `beginOfJob(EventSetup const&`).

[2021-06-23 18:28] makortel commented on #34223
One (future) problem in `AlignmentProducerBase` is that the `ttopoToken_` is declared to be consumed in beginRun
https://github.com/cms-sw/cmssw/blob/cbaf0dc9717ee689271021b056e6c74d411b78cc/Alignment/CommonAlignmentProducer/src/AlignmentProducerBase.cc#L51
but there is a code path using that token at the Event time
https://github.com/cms-sw/cmssw/blob/cbaf0dc9717ee689271021b056e6c74d411b78cc/Alig

[2021-06-23 23:21] makortel commented on #34223
Ok, I can reproduce the problem with a simple (framework unit) test, so it is certainly a framework issue. It wasn't caught with earlier tests, because earlier tests do not include an ESProducer, but use a "shortcut" to insert an ESProduct into the job. In this case the problem is that the EDLooper itself does not trigger the ESProducers to run.

[2021-06-24 00:21] #34177 closed

[2021-06-24 07:39] mzarucki commented on #34197
Hi all,

@smorovic put the file from the run 342053 that was crashing in NFS `/nfshome0/smorovic/gpu-test`

The HLT menu used was `/cdaq/cosmic/commissioning2021/MWGR4/Cosmics_GPUTest1_V2/V2` which requires the upgraded ConfDB (briefly described [here](https://twiki.cern.ch/twiki/bin/viewauth/CMS/HLTOnlineTestStand#Testing_with_GPUs)).

Cheers,
Mateusz

[2021-06-24 08:10] fwyzard commented on #34197
Hi Mateusz,
thanks... however I think if we want the DPGs to investigate the problem,
we need some more conventional instructions.

1. can you provide the instructions (CMSSW release, etc.) and a full fump
of the menu that can be run out of the box ?

2. do we have files from the ECAL-only and HCAL-only runs ? if we do, could
you list them explicitly? if we don't, vcan you list explicitly some oth

[2021-06-24 10:08] haozturk commented on #33361
Hello folks, I've realized another "Fatal Root Error" in production workflows:
[code]
Do you think this is related to this issue or should I open a new GH issue to discuss this?

[2021-06-24 13:33] Dr15Jones commented on #33361
@haozturk this new error is saying it can’t find the file, which is very different from the other error which was a failure to read from an already open file. So it would be better to make this a different issue.

[2021-06-24 14:12] cvuosalo commented on #33712
The source of these warnings is inside of DD4hep. A DD4hep issue has been opened:
https://github.com/AIDASoft/DD4hep/issues/844

[2021-06-24 20:53] abdoulline commented on #27767
@hatakeyamak  @slava77
I have no reasons to object to Slava's suggestion, even though to me it seems to be more about aestetical/conveniece-wise regrouping of "scattered" re-definitions of the flags severity, than a real practical need. Well, "code reformatting" in some sense...
But right now I have the impression (please, correct me if I'm wrong):
(1) it's not about moving customization snippets

[2021-06-24 21:53] slava77 commented on #27767
@abdoulline
in https://github.com/cms-sw/cmssw/issues/27767#issuecomment-864089536 I did say and mean moving the modifications from RecoTLR.py to Reconstruction_Data_cff.py
(with eras/modifiers)

[2021-06-24 22:23] cmsbuild commented on #34211
The cleanup has started for slc6_amd64_gcc700

[2021-06-24 22:23] cmsbuild commented on #34211
The cleanup has started for slc7_amd64_gcc700

[2021-06-24 22:23] #34211 closed

[2021-06-24 22:23] cmsbuild commented on #34211
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_27-slc6_amd64_gcc700/1709

[2021-06-24 22:23] cmsbuild commented on #34211
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_27-slc7_amd64_gcc700/1710

[2021-06-24 22:38] cmsbuild commented on #34203
The cleanup has started for cc8_aarch64_gcc9

[2021-06-24 22:38] cmsbuild commented on #34203
The cleanup has started for slc7_aarch64_gcc9

[2021-06-24 22:38] cmsbuild commented on #34203
The cleanup has started for cc8_amd64_gcc9

[2021-06-24 22:38] cmsbuild commented on #34203
The cleanup has started for cc8_ppc64le_gcc9

[2021-06-24 22:38] cmsbuild commented on #34203
The cleanup has started for slc7_amd64_gcc900

[2021-06-24 22:38] cmsbuild commented on #34203
The cleanup has started for slc7_ppc64le_gcc9

[2021-06-24 22:38] #34203 closed

[2021-06-24 22:38] cmsbuild commented on #34203
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch4-cc8_aarch64_gcc9/1711

[2021-06-24 22:38] cmsbuild commented on #34203
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch4-cc8_ppc64le_gcc9/1713

[2021-06-24 22:38] cmsbuild commented on #34203
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch4-cc8_amd64_gcc9/1712

[2021-06-24 22:38] cmsbuild commented on #34203
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch4-slc7_aarch64_gcc9/1714

[2021-06-24 22:38] cmsbuild commented on #34203
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch4-slc7_ppc64le_gcc9/1716

[2021-06-24 22:38] cmsbuild commented on #34203
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch4-slc7_amd64_gcc900/1715

[2021-06-25 05:03] abdoulline commented on #27767
@slava77 OK, thank you for confirmation about option (2). I'll try to look early next week how it could be arranged (discussing it with Kenichi @hatakeyamak, as he kindly suggested).

[2021-06-25 05:07] mrodozov commented on #34223
@mrodozov (adding myself as mention notifications are more convenient for me to follow)

[2021-06-25 12:49] mzarucki commented on #34197
Hi Andrea, all,

I came up with the simplest set of instructions to reproduce the errors, by copying the HLT menu file and raw input files from @smorovic into my directory on NFS (`/nfshome0/mzarucki/GPUTests`).

As a first step, one would need to be logged into one of the GPU machines with a working area set up - all instructions are included in the GPU development Twiki: https://twiki.cern.ch/tw

[2021-06-25 19:26] slava77 opened #34254 "restrict usePF2PAT to load modules already on existing sequences or tasks"
currently usePF2PAT loads all modules accessible in `patSequences_cff` to `patAlgoToolsTask` (+pre/post-fix)

https://github.com/cms-sw/cmssw/blob/96b6501ba97b688cbf3559f7322c67976da337de/PhysicsTools/PatAlgos/python/tools/pfTools.py#L407-L421

this may become impossible to maintain if some modules can run only with a specific era or process modifier

One solution could be to restrict the module p

[2021-06-25 19:27] slava77 commented on #34254
assign reconstruction,xpog

[2021-06-25 19:27] cmsbuild commented on #34254
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@gouskos,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-25 19:27] cmsbuild commented on #34254
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-26 01:24] qliphy opened #34255 "Build CMSSW_10_6_27"

[2021-06-26 01:24] cmsbuild commented on #34255
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-26 01:25] qliphy commented on #34255
+1

[2021-06-26 01:25] cmsbuild commented on #34255
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_27. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-06-26 01:26] cmsbuild commented on #34255
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-06-26 01:44] cmsbuild commented on #34255
The build has started for slc7_amd64_gcc700 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3081/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-26 01:58] cmsbuild commented on #34255
The build has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3082/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-26 04:45] cmsbuild commented on #34255
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_27-slc7_amd64_gcc820/3082
Some tests (

[2021-06-26 05:13] cmsbuild commented on #34255
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_27-slc7_amd64_gcc700/3081
Some tests (

[2021-06-26 05:25] cmsbuild commented on #34255
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_27-slc7_amd64_gcc820/3082

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-26 05:52] cmsbuild commented on #34255
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_27-slc7_amd64_gcc700/3081

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-26 06:27] qliphy commented on #34255
upload all

[2021-06-26 06:27] cmsbuild commented on #34255
Queing Jenkins upload for slc7_amd64_gcc700

[2021-06-26 06:27] cmsbuild commented on #34255
Queing Jenkins upload for slc7_amd64_gcc820

[2021-06-26 06:29] cmsbuild commented on #34255
The upload has started for slc7_amd64_gcc700 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1979/console

[2021-06-26 06:29] cmsbuild commented on #34255
The upload has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1980/console

[2021-06-26 06:30] cmsbuild commented on #34255
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_27-slc7_amd64_gcc820/1980

[2021-06-26 06:31] cmsbuild commented on #34255
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_27-slc7_amd64_gcc700/1979

[2021-06-26 07:11] qliphy commented on #34255
release-notes

[2021-06-26 07:12] cmsbuild commented on #34255
Generating release notes since CMSSW_10_6_26.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-26 07:12] cmsbuild commented on #34255
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_27 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_26 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_27

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2021-06-26 07:22] cmsbuild commented on #34255
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_27

[2021-06-27 03:56] VinInn opened #34263 "compilation error in IB"
How this could ever be possible?

[code]

[2021-06-27 03:56] cmsbuild commented on #34263
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-27 10:26] VinInn opened #34265 "scipy missing in CMSSW_12_0_X_2021-06-26-1100"
[code]
while
[code]

[2021-06-27 10:26] cmsbuild commented on #34265
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-27 10:26] VinInn commented on #34265
@fwyzard FYI

[2021-06-27 12:13] davidlange6 commented on #34265
Use python3.

[2021-06-27 12:17] VinInn commented on #34265
is python2 not supported anymore?

[2021-06-27 12:22] davidlange6 commented on #34265
Python dropped support for python2 18 months ago. Its in the process of being dropped from cmssw.

[2021-06-27 12:25] VinInn commented on #34265
ok.  why  "python" still pointing to python2 and not to python3 then?

[2021-06-27 12:28] davidlange6 commented on #34265
The change over is not complete yet — eg, a validation for the cmsRun piece is on-going  (there is a PY3 IB if you’d like a purely python3 build)

[2021-06-27 13:01] mmusich commented on #34263
Already fixed at https://github.com/cms-sw/cmssw/pull/34230.

[2021-06-27 13:01] #34265 closed

[2021-06-27 13:03] VinInn commented on #34263
Noticed. My point is: how can be that a compilation error develop in an IB?

[2021-06-27 13:18] mmusich commented on #34263
It wasn't. The error started to appear after catch2 was updated, see https://github.com/cms-sw/cmsdist/pull/7053#issuecomment-867167895

[2021-06-27 13:21] VinInn commented on #34263
ok. very strange, I would not know how to reproduce that...

[2021-06-27 13:21] #34263 closed

[2021-06-28 05:23] cmsbuild commented on #34255
The cleanup has started for slc7_amd64_gcc700

[2021-06-28 05:23] cmsbuild commented on #34255
The cleanup has started for slc7_amd64_gcc820

[2021-06-28 05:23] #34255 closed

[2021-06-28 05:23] cmsbuild commented on #34255
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_27-slc7_amd64_gcc700/1717

[2021-06-28 05:23] cmsbuild commented on #34255
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_27-slc7_amd64_gcc820/1718

[2021-06-28 09:59] abdoulline commented on #27767
@hatakeyamak
I've put together a branch with cleaned up  RecoTLR.py and extended/updated Reconstruction_Data_cff.py
https://github.com/cms-sw/cmssw/compare/master...abdoulline:Data_noise_flags_customization_regrouping

Then compared   hcalRecAlgos  content w/wo this branch in CMSSW_12_0_X_2021-06-24-1100 for
 (1) 136.731_RunSinglePh2016B
 (2) 136.793_RunDoubleEG2017C
 (3) 136.874_RunEGamma2018C

(

[2021-06-28 10:39] abdoulline commented on #27767
Follow-up: both (2) and (3) _recover_  HFSignalAsymmetry flag for Level=11 (group 4),  if I explcitly add the following fragment:

        4 : dict( RecHitFlags = [
                'HFLongShort',
                'HFS8S1Ratio',
                'HFPET',
                'HFSignalAsymmetry']
      )

to 2017 era customization
https://github.com/cms-sw/cmssw/compare/master...abdoulline:Data_noise_flags

[2021-06-28 13:56] Dr15Jones opened #34271 "Crash in Geant4 during early end of job"
In the ARM IBs, we have jobs that end early due to an exception happening at begin run:
e.g. https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc9/CMSSW_12_0_X_2021-06-27-0000/pyRelValMatrixLogs/run/1361.17_GluGluHToZZTo4L_M125_Pow_py8_Evt_13UP17+GluGluHToZZTo4L_M125_Pow_py8_Evt_13UP17+DIGIUP17+RECOUP17+HARVESTUP17+NANOUP17/step1_GluGluHToZZTo4L_M125_Pow_py8_Evt_13UP17+GluGluHToZZTo4L_M12

[2021-06-28 13:57] cmsbuild commented on #34271
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-28 13:59] makortel commented on #34271
assign core, simulation

[2021-06-28 13:59] Dr15Jones commented on #34271
The relevant stack trace is:
[code]

I believe the problem is here:
https://github.com/cms-externals/geant4/blob/0f6c7dd7bcf054e57fdc34da9b4696fce5c6ac90/source/run/src/G4VModularPhysicsList.cc#L65-L73

there is no guarantee that the value associated with `G4MT_physicsVector` is actually not nullptr as that value is not being set in the constructor. So a simple `if(G4MT_physicsVector)` around the

[2021-06-28 13:59] cmsbuild commented on #34271
New categories assigned: core,simulation

@Dr15Jones,@smuzaffar,@civanch,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-28 14:11] civanch commented on #34271
@Dr15Jones , you analysis seems to be correct. I can make a patch for Geant4 10.7p02, which is used currently inside GEANT4 IBs but not yet in the master, because is not yet validated. Also will make bug report to Geant4. Would it be fine to you? In that case, the master will not have the fix for some time.

[2021-06-28 14:14] Dr15Jones commented on #34271
@civanch sounds fine to me.

[2021-06-28 14:17] VinInn commented on #34271
I would remove the clear before the delete as well....

[2021-06-28 14:19] civanch commented on #34271
sure!

[2021-06-28 14:21] VinInn commented on #34271
and whatever syntax is used would be better to align to the code at line 97

[2021-06-28 16:14] dildick opened #34272 "Excessive output from DTTSPhi in WF 11634.0"
This class https://github.com/cms-sw/cmssw/blob/master/L1Trigger/DTTriggerServerPhi/src/DTTSPhi.cc seems to be producing excessive output through std::cout in WF 11634.0 and other WFs
[code]
Probably should be replaced by edm type log messages.

[2021-06-28 16:15] cmsbuild commented on #34272
A new Issue was created by  @dildick Sven Dildick.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-28 16:16] Dr15Jones commented on #34272
assign l1

[2021-06-28 16:16] cmsbuild commented on #34272
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-28 16:19] dildick commented on #34272
That class could probably use a good clean-up. I see pointers that could be replaced by smart pointers

[2021-06-28 16:29] davidlange6 commented on #34272
duplicates #21620 (and possibly others...)

[2021-06-28 20:45] hatakeyamak commented on #27767
Hi @abdoulline
Just for me to understand, why do you use:
https://github.com/cms-sw/cmssw/compare/master...abdoulline:Data_noise_flags_customization_regrouping#diff-e33077cea0c56c4aab27f549f52d82bce9ba084cc477a99800928506e65eb484R74-R86
rather than just having one line:
[code]
?

[2021-06-29 04:36] abdoulline commented on #27767
@hatakeyamak
if you mean two options
https://github.com/cms-sw/cmssw/issues/27767#issuecomment-867944154
 - then Slava has confirmed (in repying to it) that option (2) with era/modifiers is the preferred one.

And once era modifiers are involved (in Reconstruction_Data_cff.py) ,  I don't see the way how to use HcalRemoveAddSevLevel.AddFlag in them ("toModify"),  but just explicitly modify paramete