[2020-08-28 11:26] cmsbuild commented on #31277
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2619/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 11:47] cmsbuild commented on #31277
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_ppc64le_gcc820/

[2020-08-28 11:47] cmsbuild commented on #31277
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-28 11:48] cmsbuild commented on #31277
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2620/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 11:52] cmsbuild commented on #31277
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_amd64_gcc820/2618

[2020-08-28 11:52] cmsbuild commented on #31277
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-28 11:53] cmsbuild commented on #31277
The build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2621/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 11:57] cmsbuild commented on #31277
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-cc8_amd64_gcc8/2617

[2020-08-28 11:57] cmsbuild commented on #31277
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_aarch64_gcc820/

[2020-08-28 11:58] cmsbuild commented on #31277
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the b

[2020-08-28 11:58] cmsbuild commented on #31277
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2622/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-28 11:58] cmsbuild commented on #31277
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2623/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 12:27] fwyzard opened #31279 "Build CMSSW_11_2_0_pre5_Patatrack"

[2020-08-28 12:27] cmsbuild commented on #31279
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-08-28 12:28] fwyzard commented on #31279
build cmssw-tool-conf

[2020-08-28 12:28] cmsbuild commented on #31279
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820, slc7_aarch64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-08-28 12:30] cmsbuild commented on #31279
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2624/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-28 12:31] cmsbuild commented on #31279
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2625/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 12:31] cmsbuild commented on #31279
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2626/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 12:34] cmsbuild commented on #31279
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2627/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 13:07] cmsbuild commented on #31279
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-slc7_amd64_gcc820

[2020-08-28 14:18] jpata opened #31280 "PFMultiLinksType in PFBlockAlgo uses the equality of (eta, phi) doubles to determine link status"
In PFMultilinksTC [1] we store a pair of eta, phi doubles, which is later used as a key to search for the right elements in a different collection [2] in PFBlockAlgo linkers. Switching PFMultilinksTC to store instead an integer index to the right collection would potentially be safer and faster.

[1] https://github.com/cms-sw/cmssw/blob/master/DataFormats/ParticleFlowReco/interface/PFMultilinksTC.

[2020-08-28 14:18] cmsbuild commented on #31280
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-28 14:23] Dr15Jones commented on #31280
assign reconstruction

[2020-08-28 14:23] cmsbuild commented on #31280
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-28 14:29] cmsbuild commented on #31277
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_ppc64le_gcc820/2620

[2020-08-28 14:33] makortel commented on #29847
`cms.EDAlias` is a dictionary of (module label, `cms.VPSet`) pairs, and as such can be modified with direct edits, `clone()`, or
 a modifier in the same as as any `cms.<EDModule>`. Therefore allowing a wildcard for the `type` is a straightforward extension of the current behavior.

The
[code]
, on the other hand, would open a completely new mode of operation for `EDAlias`. The `cms.EDAlias` would,

[2020-08-28 14:46] cmsbuild commented on #31277
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_amd64_gcc820/2621
Som

[2020-08-28 14:51] cmsbuild commented on #31277
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_aarch64_gcc820/2623

[2020-08-28 14:53] fwyzard commented on #31277
upload all

[2020-08-28 14:54] cmsbuild commented on #31277
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-08-28 14:54] cmsbuild commented on #31277
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-28 14:54] cmsbuild commented on #31277
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-08-28 14:54] fwyzard commented on #31279
+1

[2020-08-28 14:55] cmsbuild commented on #31279
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre5_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-08-28 14:55] cmsbuild commented on #31279
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-28 14:55] cmsbuild commented on #31277
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1679/console

[2020-08-28 14:55] cmsbuild commented on #31277
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_3_Patatrack-slc7_aarch64_gcc820/1679

[2020-08-28 14:56] cmsbuild commented on #31277
The upload has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1680/console

[2020-08-28 14:57] cmsbuild commented on #31277
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1681/console

[2020-08-28 14:57] cmsbuild commented on #31279
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2628/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 14:57] cmsbuild commented on #31277
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_3_Patatrack-slc7_amd64_gcc820/1680

[2020-08-28 14:57] cmsbuild commented on #31277
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_3_Patatrack-slc7_ppc64le_gcc820/1681

[2020-08-28 14:57] fwyzard commented on #31279
abort

[2020-08-28 14:58] cmsbuild commented on #31279
Deleting CMSSW_11_2_0_pre5_Patatrack:

  -Release successfully deleted

  -cmssw tag CMSSW_11_2_0_pre5_Patatrack successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre5_Patatrack/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre5_Patatrack/cc8_amd64_gcc8. Probaly it had not been created.

 -I was not able to delete

[2020-08-28 14:58] cmsbuild commented on #31279
There was an error building cmssw-tool-conf for slc7_aarch64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-slc7_aarch64_gcc820/2627

[2020-08-28 14:59] #31279 closed

[2020-08-28 15:00] fwyzard opened #31281 "Build CMSSW_11_2_0_pre5_Patatrack"

[2020-08-28 15:00] cmsbuild commented on #31281
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-08-28 15:01] fwyzard commented on #31281
+1

[2020-08-28 15:01] cmsbuild commented on #31281
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre5_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-08-28 15:01] cmsbuild commented on #31281
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-08-28 15:02] cmsbuild commented on #31281
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2629/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 15:03] cmsbuild commented on #31281
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2630/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-28 15:03] cmsbuild commented on #31281
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2631/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 15:08] cmsbuild commented on #31277
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-cc8_amd64_gcc8/2622
Some test

[2020-08-28 15:08] cmsbuild commented on #31277
Queing Jenkins upload for cc8_amd64_gcc8

[2020-08-28 15:09] cmsbuild commented on #31277
The upload has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1682/console

[2020-08-28 15:09] cmsbuild commented on #31277
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_3_Patatrack-cc8_amd64_gcc8/1682

[2020-08-28 15:10] cmsbuild commented on #31277
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-cc8_amd64_gcc8/2622

Tests results:
13 0 0 0 0 0 0 0 0 tests passed, 23 13 0 0 0 0 0 0 0 failed

[2020-08-28 15:14] cmsbuild commented on #31281
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2632/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 15:22] cmsbuild commented on #31277
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_amd64_gcc820/2621

Tests results:
36 35 29 22 16 4 1 1 1 tests passed, 0 0 4 0 0 0 0 0 0 failed

[2020-08-28 15:27] hatakeyamak commented on #30895
I understand.

Just as a possibility, If you are available and can do some rough implementation, we can probably take it over. It's just that. we are operating with a very limited personpower. If not possible, I understand.

[2020-08-28 15:33] cmsbuild commented on #31277
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_ppc64le_gcc820/2620

Tests results:
36 35 29 22 16 4 1 1 1 tests passed, 0 0 4 0 0 0 0 0 0 failed

[2020-08-28 15:51] cmsbuild commented on #31277
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3_Patatrack-slc7_aarch64_gcc820/2623

Tests results:
36 34 28 22 13 1 1 1 1 tests passed, 0 1 4 0 3 3 0 0 0 failed

[2020-08-28 17:10] vargasa commented on #31182
Here's the full log: https://drive.google.com/file/d/1DY_tK7z_cCNuDVK_ynMiSt67fn5sFMkA/view

[2020-08-28 17:53] cmsbuild commented on #31281
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-slc7_amd64_gcc820/263

[2020-08-28 18:32] cmsbuild commented on #31281
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-slc7_amd64_gcc820/2631

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-28 20:13] cmsbuild commented on #31281
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-slc7_ppc64le_gcc820

[2020-08-28 20:30] cvuosalo commented on #30964
This issue is no longer relevant. When the shape accessors appear in the DD4hep release, we will need a new issue for adopting the new interface.

[2020-08-28 20:30] #30964 closed

[2020-08-28 20:30] cvuosalo commented on #30964
-1

[2020-08-28 21:05] cmsbuild commented on #31281
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-slc7_ppc64le_gcc820/2629

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-28 21:23] cmsbuild commented on #31281
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-cc8_amd64_gcc8/2630
Some

[2020-08-28 21:25] cmsbuild commented on #31281
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-cc8_amd64_gcc8/2630

Tests results:
14 0 0 0 0 0 0 0 0 tests passed, 21 14 0 0 0 0 0 0 0 failed

[2020-08-28 21:57] cvuosalo opened #31288 "Static analzyer warnings in Muon code need to be fixed"
Bugs:
[code]

Note that these calls [below] need to be changed to use the ESGetToken to get the products. Getting products by labels in was disabled already some time ago in ESProducers. -- Matti
[code]

[2020-08-28 21:57] cmsbuild commented on #31288
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-28 21:58] cvuosalo commented on #31288
assign geometry

[2020-08-28 21:58] cmsbuild commented on #31288
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-29 04:41] cmsbuild commented on #31281
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-slc7_aarch64_gcc820

[2020-08-29 07:20] cmsbuild commented on #31281
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_Patatrack-slc7_aarch64_gcc820/2632

Tests results:
35 33 32 25 14 1 1 1 1 tests passed, 0 1 0 0 3 3 0 0 0 failed

[2020-08-29 08:23] cmsbuild commented on #31255
The cleanup has started for slc7_amd64_gcc820

[2020-08-29 08:23] #31255 closed

[2020-08-29 08:23] cmsbuild commented on #31255
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_HGCAL1-slc7_amd64_gcc820/1574

[2020-08-29 08:51] #31000 closed

[2020-08-29 08:53] #31052 closed

[2020-08-31 06:36] veelken commented on #30895
Hi Ken,

that will work. I will create a pull-request and get back to you.

[2020-08-31 07:18] jan-kaspar opened #31297 "PPS: follow-up geometry fixes"
This issue is to list the suggested fixes in PPS geometry code that
  * started to be discussed in https://github.com/cms-sw/cmssw/pull/31240,
  * we decided to defer them to a dedicated follow-up PR.

[2020-08-31 07:18] cmsbuild commented on #31297
A new Issue was created by  @jan-kaspar .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-31 09:15] veelken commented on #30895
Dear Ken,

here is the pull-request: https://github.com/cms-sw/cmssw/pull/31298

I believe the code is fully implemented. I have verified that the code compiles, but I haven't tested it on a RelVal sample yet. Would be great if you could take care of that. Note that the vertex position for PFCandidates of type electron is taken from the gsfTrackRef->vertex(), which I believe is the intended behavi

[2020-08-31 11:40] ghugo83 commented on #31297
There are issues in PPS legacy code which should be addressed (usual memory management issues, like pointed-to objects not deleted, etc). They have been there for several years in legacy code.

They do not lead to any regression nor crash from any test after move of PPS to DD4hep (quite independent from this).
Though, it would be good anyway to have a clean PPS package (also a clean CMSSW actually

[2020-08-31 12:37] davidlange6 opened #31301 "Preferred way to break DataFormats/TrackReco and DataFormats/TrackCandidate circle?"
There is a ~trivially fixed circular dependency between DataFormats/TrackReco and DataFormats/TrackCandidate. Which package is meant to depend on the other. I can move things accordingly (either some dictionaries that use classes from both packages or one header)

[2020-08-31 12:37] cmsbuild commented on #31301
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-31 12:37] davidlange6 commented on #31301
assign reconstruction

[2020-08-31 12:38] cmsbuild commented on #31301
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-31 12:49] slava77 commented on #31301
@davidlange6
I'm missing details or being confused by the phrasing (perhaps as trivial as a question mark in the "Which package is meant to depend on the other.")

[2020-08-31 13:01] slava77 commented on #31301
after looking a bit more, I see that the direct dependence of TrackReco on TrackCandidate is only in the dictionaries definition in classes.h used for an aggregate ```<TrackCandidate, Track>``` definition.

The dependence of TrackCandidate is apparently via
DataFormats/TrackCandidate/interface/TrackCandidate.h:
```#include "DataFormats/TrackReco/interface/TrajectoryStopReasons.h"```

@davidlange6

[2020-08-31 13:02] davidlange6 commented on #31301
Yes, that sentence misses a question mark. Would we like DataFormats/TrackReco to depend on DataFormats/TrackCandidate or would we like DataFormats/TrackCandidate to depend on DataFormats/TrackReco?

On Aug 31, 2020, at 2:50 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6>
I'm missing details or being confused by t

[2020-08-31 13:07] slava77 commented on #31301
@mtosi @vmariani

@rovere
it looks like you are the original developer and perhaps recall the history.

Naively, it looks to me that DataFormats/TrackReco/interface/TrajectoryStopReasons.h can be moved to DataFormats/TrackCandidate/interface/

[2020-08-31 13:08] davidlange6 commented on #31301
Yes, thats all correct.

On Aug 31, 2020, at 3:01 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

after looking a bit more, I see that the direct dependence of TrackReco on TrackCandidate is only in the dictionaries definition in classes.h used for an aggregate <TrackCandidate, Track> definition.

The dependence of TrackCandidate is apparently via
DataFormat

[2020-08-31 13:08] jan-kaspar commented on #31297
Many thanks @ghugo83 !

[2020-08-31 13:17] hatakeyamak commented on #30895
Thank you. I will take a look when I get a chance. It may have to be a couple of days later.

[2020-08-31 13:20] dan131riley commented on #31258
On a quick inspection, there is a logic bug in the code, though it isn't likely the cause of the crash.  In

https://github.com/cms-sw/cmssw/blob/ee9e9ae286520cc8c458ac991da3f4b0c7fbea75/L1Trigger/RPCTechnicalTrigger/src/TTUTrackingAlg.cc#L227-L230

there's an implicit assumption that std::sort() is stable, but std::sort() doesn't guarantee to preserve the order of equal elements.  The second sort

[2020-08-31 13:48] mrodozov commented on #31237
alright, I'll put a comment to search for the ROOT issue on that matter and put myself a reminder that it's related to TFormula

[2020-08-31 14:03] #31237 closed

[2020-08-31 14:04] mrodozov commented on #31234
closing then

[2020-08-31 14:04] #31234 closed

[2020-08-31 14:38] eguiraud commented on #31232
Hi, about https://sft.its.cern.ch/jira/browse/ROOT-11014: ROOT had to alter its usage of TBB to comply with TBB's deprecation of `task_scheduler_init`. As ROOT does not call `task_scheduler_init` anymore, it seems that, in CMSSW, TBB now initializes its thread pool to the default "max concurrency" number of threads.

As per the discussion with @Dr15Jones on Jira, the "too many threads" issue will

[2020-08-31 16:54] jpata commented on #30895
Christian's branch to take over by someone:
https://github.com/veelken/cmssw/tree/CMSSW_11_2_X

[2020-08-31 18:54] mrodozov opened #31306 "Arm uses more Vsize memory and RSS compared to Intel (and IBM)"
That unit test is testing the Service that aborts if the job takes too much memory. In this case, it is supposed to succeed since it was guessed that 1GB of VSize would be sufficient to run that simple job. For ARM, that is not the case (which is kind of sad). We can get the test to work by moving the max size to be 1.5 for the test. [Although it still would be nice to find out why ARM is requirin

[2020-08-31 18:55] cmsbuild commented on #31306
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-31 18:56] mrodozov commented on #31306
Following #31236 how this is happening should be the topic of a separate issue
https://github.com/cms-sw/cmssw/issues/31236

[2020-08-31 20:55] cvuosalo commented on #31252
+1

[2020-08-31 20:56] cmsbuild commented on #31252
This issue is fully signed and ready to be closed.

[2020-09-01 07:27] #31252 closed

[2020-09-01 07:27] #30570 closed

[2020-09-01 09:40] fwyzard commented on #31281
upload all

[2020-09-01 09:40] cmsbuild commented on #31281
Queing Jenkins upload for cc8_amd64_gcc8

[2020-09-01 09:40] cmsbuild commented on #31281
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-09-01 09:40] cmsbuild commented on #31281
Queing Jenkins upload for slc7_amd64_gcc820

[2020-09-01 09:40] cmsbuild commented on #31281
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-09-01 09:41] cmsbuild commented on #31281
The upload has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1683/console

[2020-09-01 09:42] cmsbuild commented on #31281
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5_Patatrack-cc8_amd64_gcc8/1683

[2020-09-01 09:43] cmsbuild commented on #31281
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1685/console

[2020-09-01 09:43] cmsbuild commented on #31281
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1684/console

[2020-09-01 09:43] cmsbuild commented on #31281
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1686/console

[2020-09-01 09:43] cmsbuild commented on #31281
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5_Patatrack-slc7_amd64_gcc820/1685

[2020-09-01 09:44] cmsbuild commented on #31281
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5_Patatrack-slc7_ppc64le_gcc820/1686

[2020-09-01 09:44] cmsbuild commented on #31281
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5_Patatrack-slc7_aarch64_gcc820/1684

[2020-09-01 11:53] slomeo commented on #31182
@bsunanda : I followed what @vargas made in #31181 to search overlaps:

1) In CMSSW_11_2_X_2020-08-31-2300  I run "cmsRun DetectorDescription/DDCMS/test/python/testGeometry2021.py " that created cmsDD4HepGeom.root
2) Then I run "cmsShow.exe -c overlaps.fwc --sim-geom-file cmsDD4HepGeom.root --tgeo-name=CMS"

I found 100 overlaps.
Then I looked into the MUON system and you can see the results in th

[2020-09-01 12:47] bsunanda commented on #31182
Hi Sergio

You are right - I remember MBBC in hcalouteralgo.xml. From the name MBTail also sounds to be in the tailcatcher geometry. But I would prefer the G4 checkoverlap tool - because that is the one relevant for CMSSW. Overlap cause problem only in SIM step for tracking particles. Regards

Sunanda
________________________________
From: Sergio Lo Meo [notifications@github.com]
Sent: 01 Septembe

[2020-09-01 13:05] mrodozov commented on #31306
I ran the test on intel, ibm and arm and printed the vsize and rss with making the vsize reference very small (1 isntead of 1000) and printed the rss after the vsize
,the results is the arm test is using nearly twice the vsize and ~7 time the rss compared with intel. see below the number for ibm
 Arm:

[code]
 intel:
[code]
ibm
[code]
The values doesn't change much, the ratio is
RSS
1.14362 / 0.16

[2020-09-01 13:38] civanch opened #31311 "Investigate possibility for very forward proton transport to use CMSSW random numbers"
Since beginning proton transport by Hector and other transport algorithms using TRandom3 hard-coded in the code. It is needed to investigate if CMSSW random number generator scheme can be used.

[2020-09-01 13:38] cmsbuild commented on #31311
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-01 13:38] civanch commented on #31311
+simulation

[2020-09-01 13:42] Dr15Jones commented on #31306
could you try with cmsRunGlibC?

[2020-09-01 13:48] makortel commented on #31311
assign simulation

[2020-09-01 13:48] cmsbuild commented on #31311
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-01 13:49] civanch commented on #31311
+core

[2020-09-01 13:52] makortel commented on #31311
assign core

[2020-09-01 13:53] cmsbuild commented on #31311
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-01 13:59] rovere commented on #31301
From a quick look, I tend to agree on that. That would also imply to move the corresponding *cc.

[2020-09-01 14:08] slava77 commented on #31301
FWIW, TrajectoryStopReasons is actually a track candidate stop reason.
So, the relocation seems reasonable.

[2020-09-01 14:51] mrodozov commented on #31306
with cmsRunGlibC on Arm the vsize and rss are nearly compatible with intel and ibm, actually less:

[code]

[2020-09-01 15:11] makortel commented on #30913
@skinnari Any progress?

[2020-09-01 16:38] bsunanda commented on #31182
@slomeo @ianna @cvuosalo There is a difference between DDD and DD4Hep is the use of double vs float. This might cause overlap for rotation matrix. Is there a double version of rotation matrix in dd4hep? I am making a PR and see if it helps. But if dd4hep does not have a version with double we may not get a solution

[2020-09-01 16:38] mrodozov commented on #31236
I suggest I close this and keep #31306

[2020-09-01 18:30] makortel commented on #28576
Summary of a discussion in the core software meeting today

In the short term (#312161) continue with `#ifdef` approach, explore ways to make it look nicer
* When CUDA is not available at compile time, define a "dummy" producer that provides a constructor, `fillDescriptions()` that is equivalent to the `fillDescriptions()` of the real producer, and `produces()` function that is either empty or thr

[2020-09-01 19:17] dan131riley commented on #31306
jemalloc likes to work with entire kernel pages, and it takes what I call a "slash and burn" approach to address space, where for allocations larger than some number of pages it makes a separate allocation on a page boundary and later frees the address space using calls to `madvise(2)` with the flag `MADV_DONTNEED`.  jemalloc sets the kernel page size it uses for this and for all allocations at co

[2020-09-01 19:26] Dr15Jones commented on #31306
Thanks Dan!

[2020-09-01 19:27] cvuosalo commented on #31182
@bsunanda Which rotation matrices are you referring to?

[2020-09-01 20:49] bsunanda commented on #31182
We have used DDHcalAngular which in turn uses RotationZ. Let me try with the parameters of DDHcaAngular computed in double and see if it resolves the issue.
________________________________
From: Carl Vuosalo [notifications@github.com]
Sent: 01 September 2020 21:28
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [DD4hep] CMS Overlaps (#31182)

@bsunanda<https://github.co

[2020-09-02 01:50] makortel opened #31321 "Possible improvements in thinning"
This issue lists possible improvements in framework's thinning feature that were mentioned in the review of https://github.com/cms-sw/cmssw/pull/31100 (in no particular order)

1. Make `ThinnedRefSet` to not call `thinnedRefFrom()` on every insertion. On the other hand profiling in https://github.com/cms-sw/cmssw/pull/31100#issuecomment-681012111 indicates that the repeated calls would not be a re

[2020-09-02 01:50] makortel commented on #31321
assign core

[2020-09-02 01:50] cmsbuild commented on #31321
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-02 01:50] cmsbuild commented on #31321
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-02 09:12] jpata opened #31326 "Possible improvements in TrackBase"
As pointed out by @dpiparo, [TrackBase](https://github.com/cms-sw/cmssw/blob/4e01538cc734853c97f2b30fcdf0a3eb9bcf3f21/DataFormats/TrackReco/interface/TrackBase.h#L62) could potentially be improved by caching costly functions:

Given that most of the class methods are inlined, we can't see the potential gains directly in igprof in advance, but TrackBase is used widely throughout reconstruction.

[2020-09-02 09:13] cmsbuild commented on #31326
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-02 11:33] bsunanda commented on #31143
@ghugo83 Please have a look into this issue

[2020-09-02 11:50] ghugo83 commented on #31143
@bsunanda
Thanks for forwarding this, will have a look.

[2020-09-02 12:22] jpata commented on #31326
assign reconstruction

[2020-09-02 12:22] cmsbuild commented on #31326
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-02 12:41] jpata commented on #31326
Via @slava77

dependencies with -O0 to at least check if we have non-linearly scaling
call patterns.

[2020-09-02 12:45] dan131riley commented on #31306
Well, there is a problem with this theory, if I'm right then we should see the same thing on ppc64.  @smuzaffar is there a ppc64 system I can run a few tests on?

[2020-09-02 13:00] smuzaffar commented on #31306
@dan131riley , we do have ppc64le machines but they are under CERN openlab control. Please open a request https://cern.service-now.com/service-portal?id=sc_cat_item&name=request&fe=openlab-IBM and ask for access to ibmminsky-1 node.

[2020-09-02 13:28] jpata commented on #31326
adding TRK POG: @mtosi @JanFSchulte

[2020-09-02 13:33] JanFSchulte commented on #31326
adding new TRK POG convener @vmariani

[2020-09-02 13:50] felicepantaleo commented on #30957
@slava77 , I will look at it starting from next week.

[2020-09-02 15:03] rovere commented on #30957
@slava, do we have a measurement/profile after #30815 has been merged?

[2020-09-02 15:09] slava77 commented on #30957
this should work; but my test in the PR description was done on a different machine. So, the numbers may not be comparable.

[2020-09-02 15:11] perrotta commented on #30957
Exact.
#30815 was included since pre3, already (in the same page)

[2020-09-02 15:11] rovere commented on #30957
Yes, indeed, I was looking at the percentage measurements that show a little improvement since.

[2020-09-02 15:56] slava77 commented on #30957
there are also per-IB reports available now from https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_2_X
fewer events, but much more regular
e.g. from CMSSW_11_2_X_2020-09-01-2300
https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_11_2_X_2020-09-01-2300/slc7_amd64_gcc820/profiling
https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_11_2_X_2020-09-01-2300/slc7_amd64_gcc820/profilin

[2020-09-02 17:50] vargasa opened #31338 "DD4hep: EcalNumberingScheme Wrong name of Presh."
#### Error:
[code]
#### How to reproduce?
[code]
These errors are shown prior to the following exception:
[code]
Related to: https://github.com/cms-sw/cmssw/issues/31143

FYI: @cvuosalo, @civanch

[2020-09-02 17:50] cmsbuild commented on #31338
A new Issue was created by  @vargasa Andres Vargas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-02 17:51] vargasa commented on #31338
FYI: @slomeo @bsunanda

[2020-09-02 18:03] makortel commented on #31338
assign geometry

[2020-09-02 18:04] cmsbuild commented on #31338
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-02 18:52] makortel commented on #30828
+1

[2020-09-02 18:52] cmsbuild commented on #30828
This issue is fully signed and ready to be closed.

[2020-09-02 20:40] cvuosalo commented on #31059
Fixed by #31078

[2020-09-02 20:40] cvuosalo commented on #31059
+1

[2020-09-03 01:14] #30828 closed

[2020-09-03 01:23] makortel commented on #29558
@ggovi What do you think about David's question above?

[2020-09-03 07:32] jan-kaspar commented on #31297
There are also comments by @davidlange6 :
  * https://github.com/cms-sw/cmssw/pull/31240#issuecomment-686269889
  * https://github.com/cms-sw/cmssw/pull/31240#issuecomment-686275881

[2020-09-03 07:43] perrotta commented on #31081
@mbluj @swozniewski please notice that there is a Tau test config which still loads the deprecated Extended 2026 D41 scenario: `RecoTauTag/RecoTau/test/rerunMVAIsolationOnMiniAOD_Phase2.py`
Test configs will not be dealt with centrally by reco, but you are invited to either update or remove it

[2020-09-03 08:43] mbluj commented on #31081
Thank you for notifying us. We will update this test configuration to newer scenario. Tested tauID should be quite robust against changes of scenarios. Is there a recommended scenario to replace D41 one?

[2020-09-03 08:50] perrotta commented on #31081
Thank you @mbluj
D49 is the current "replacement" of D41

[2020-09-03 09:33] ggovi commented on #29558
Apologize for the late feedback. I'm actually a bit confused. Basically, here we are aiming to serve the use case where no connectivity is available. Fine, in this case the ENTIRE condition set identified by a GT must be self-contained in the local file.  What id the advantage of the fallback mechanism? The usage of single, unchanged configuration file? Does this mean that the file is shipped ever

[2020-09-03 09:35] ghugo83 commented on #31143
Starting to have a look now.
Hmm @vargasa the overlaps I mentioned were for another issue, for a random crash which was obtained on a workflow based on old DD.

First just wondering: when you migrate to DD4hep, did you print all Tracker DetIds and coordinates, to make sure they are identical than with old DD?
That is the first thing to do, for all volumes and all scenarios. Otherwise you cannot ex

[2020-09-03 09:39] davidlange6 commented on #30189
I've proposed L1 changes to #31346

[2020-09-03 10:56] mmusich commented on #30597
@smuzaffar is this supposed to work for everybody or only for L2s?
I tried it here: https://github.com/cms-sw/cmssw/pull/31253#issuecomment-686409500
but it doesn't seem to tag anyone.

[2020-09-03 11:32] smuzaffar commented on #30597
@mmusich , bot is not going to tag any one. In this case github should have sent a message to members of these teams.

[2020-09-03 11:42] mmusich commented on #30597
@smuzaffar I mean that it looks like the "@" is not working, if I hover with the mouse over it, it doesn't seem a "tag" in the gitHub sense, but just a plain string. In other places where it was used by others it looks different (e.g. here: https://github.com/cms-sw/cmssw/pull/30847#issuecomment-679928752)

[2020-09-03 11:53] smuzaffar commented on #30597
testing @cms-sw/core-l2 mentioning here

[2020-09-03 11:58] smuzaffar commented on #30597
@mmusich , looks like it works only for members of the organization. I will check if there is way to open it for every one

[2020-09-03 12:00] mmusich commented on #30597
@smuzaffar thanks. No problem, I just wanted to understand if I may use it or not.

[2020-09-03 14:54] vargasa commented on #31143
Hi @ghugo83 please refer to: https://hypernews.cern.ch/HyperNews/CMS/get/geometry/359/3/1/1/1/2.html

[2020-09-03 15:05] ghugo83 commented on #31143
Did some investigations.
First thing is that, presently, the Tracker geometry built with DD4hep is a... 1-sensor Tracker.

Basically, the first sensor (in TrackerNumberingBuilder order) is built (a pixel sensor), then the navigation crashes.
This explains the error messages where detUnitId are not found, subdetId not found, etc: there is nearly no sensor.

Am first fixing navigation, but I presume

[2020-09-03 15:10] ghugo83 commented on #31143
@mmusich +1 Yes exactly.
The geo is built with one sensor, then the navigation crashes, leaving the Tracker geo with one sensor in total.
I presume that point had not been fixed then.
Anyway I am developing in a private branch where am fixing all this now.

[2020-09-03 15:12] ghugo83 commented on #31143
@vargasa Thanks can you send any other PR (pending / done) on this topic ? Cheers

[2020-09-03 15:14] ghugo83 commented on #31143
@vargasa Thanks, but can we keep this discussion here, in this github issue ?
HN is really spamming a lot of people, while a github issue is more appropriate I think :)

Plus email groups are so much easier to send emails to / rather than having to connect to HN.

[2020-09-03 15:22] makortel commented on #29558
@ggovi Thanks for your comments.

Correct. Framework uses the hash of the configuration (essentially from all tracked parameters) to differentiate data. Therefore, in order to combine data processed on a site using the fallback mechanism with data processed on other sites using Frontier into a single dataset, a single configuration file is needed everywhere.

I'd argue for "no", the file should be

[2020-09-03 15:53] dan131riley commented on #31123
I found two logs with non-informative stack traces that claim to have crashed in `TrackSelector:esSelectedTracks`, which uses `StringCutObjectSelector`, not `TFormula`.  In both cases, `AlignmentTrackSelectorModule:ALCARECOMuAlOverlapsGeneralTracks` is also running.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-31-2300/pyRelValMatrixLogs/run/12834.0_TTb

[2020-09-03 16:08] wddgit commented on #29558
In addition to Matti's comments, I add the following.

Thanks for the information about toGet. I will revise the code to
not use the fallback for those cases . That should simplify the
PR.

Not having a default fallback sounds safer to me. If there is no
default, then PoolDBESSource will behave exactly as it currently
behaves. If the PR that I am preparing creates a problem, then
we can go back to

[2020-09-03 16:14] vargasa commented on #31143
No pending PRs from this side.

Regarding the Navigation, I just noticed an additional detail after #31337 :

[code]

Full Logs:
DD: https://drive.google.com/file/d/1LBDv_AnzbYTFkT8ci8Vg92uO3sIQKCsw/view
DD4hep: https://drive.google.com/file/d/1Dpq3VlUGm6gYV7NuymZb4vcRoJpxU0zh/view

[2020-09-03 16:33] makortel commented on #29558
One option to consider would be to use the site local config to allow the fallback to be used (from @Dr15Jones).

[2020-09-03 19:34] vargasa commented on #31239
@smuzaffar Thank you for this info, I appreciate it. Quick follow-up question, if I want to `(gdb) print` an object which type is defined in an external tool (`geant4` in my case) I get `<incomplete type>` is there any way to circumvent this?

[2020-09-03 20:50] kpedro88 commented on #31097
+upgrade

[2020-09-03 20:51] kpedro88 commented on #31059
+upgrade

[2020-09-03 20:52] cmsbuild commented on #31059
This issue is fully signed and ready to be closed.

[2020-09-03 20:52] kpedro88 commented on #31054
+upgrade

[2020-09-03 20:53] kpedro88 commented on #30980
+upgrade

[2020-09-03 20:54] kpedro88 commented on #30676
+upgrade

[2020-09-03 20:55] kpedro88 commented on #30583
This was fixed in #30736

[2020-09-03 20:57] kpedro88 commented on #30853
Has this been improved sufficiently to close the issue?

[2020-09-03 20:59] kpedro88 commented on #29851
+upgrade
new common geometry sections for Phase 2 (O5-onward) are using the new file

[2020-09-03 21:00] cmsbuild commented on #29851
This issue is fully signed and ready to be closed.

[2020-09-03 21:01] kpedro88 commented on #30954
+upgrade

[2020-09-03 21:10] cvuosalo commented on #29851
close

[2020-09-03 21:11] #29851 closed

[2020-09-03 22:30] wddgit commented on #29558
I gave this another try. The new draft code is in this one commit:

https://github.com/cms-sw/cmssw/commit/e7ce1eb56a6fb3a471b767b27fb5d8ea9c803740

I have not tested this yet. It is simpler and reflects most of the comments above.

- It does not use the fallback for toGet items which specify their own connect string.
- Nothing changes in the case where there is no global tag (fallback is not trie

[2020-09-03 22:33] makortel commented on #29558
@wddgit Thanks!

At this time no, that was just something for discussion.

[2020-09-03 22:36] wddgit commented on #29558
OK, good. I will wait until I do anything more on this. By the way, I meant "figure out" not "figure ought".  Not sure how my brain made that typo...

[2020-09-04 01:50] makortel commented on #25090
Updating the list of modules preventing (efficient use of) concurrent lumi blocks in CMSSW_11_2_X_2020-09-03-1100

wf 1361.181 step3
[code]

wf 158.181 step1
[code]

step2
[code]

step3
[code]

[2020-09-04 04:36] chayanit commented on #31054
+1

[2020-09-04 04:36] cmsbuild commented on #31054
This issue is fully signed and ready to be closed.

[2020-09-04 07:02] #31059 closed

[2020-09-04 07:04] #31054 closed

[2020-09-04 07:36] silviodonato commented on #31297
assign geometry

[2020-09-04 07:36] cmsbuild commented on #31297
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-04 08:26] apsallid commented on #30853
I see that the plots are shown now in the DQM GUI in the latest RelVals with the ongoing 11_2_0_pre5_phase2 campaign. I don't know if the reduction in memory is sufficient from DQM side.

@kpedro88 @jfernan2

[2020-09-04 09:01] jan-kaspar opened #31360 "PPS: no geometry specification in reco cff files"
It has been recommended to PPS to remove geometry specifications from reco cff files, see e.g.
  * https://github.com/cms-sw/cmssw/pull/31240#issuecomment-686823112
  * https://github.com/cms-sw/cmssw/pull/31240#issuecomment-687014268

[2020-09-04 09:01] cmsbuild commented on #31360
A new Issue was created by  @jan-kaspar .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-04 09:01] jan-kaspar commented on #31360
FYI @makortel @davidlange6

[2020-09-04 09:02] jan-kaspar commented on #31360
@davidlange6 Who would be the right contacts from the geometry system to coordinate this work with?

[2020-09-04 09:56] silviodonato commented on #25090
Running @schneiml's script in `CMSSW_11_2_X_2020-09-03-1100` https://github.com/cms-sw/cmssw/issues/25090#issuecomment-665535336
[code]

[2020-09-04 12:31] ggovi commented on #29558
It could be maybe a late feedback for how the things have been evolving in this thread... But what if instead of a fallback ( that sounds like an auto-recovering feature in an error occurrence ) we have a site-specific function that returns ( a boolean ) the availability of the frontier service? In this case, with no change at all in the C++ code, the python driver could select the different conne

[2020-09-04 13:11] makortel commented on #31360
assign geometry

[2020-09-04 13:11] makortel commented on #31360
@cvuosalo (and @ianna )

[2020-09-04 13:11] cmsbuild commented on #31360
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-04 13:20] felicepantaleo commented on #30957
@slava77
by applying: https://github.com/cms-sw/cmssw/compare/master...felicepantaleo:reserve_emplace_back

we go from
http://fpantale.web.cern.ch/fpantale/cgi-bin/igprof-navigator/TICL_PU200_CMSSW_11_2_0_pre5/54

to
http://fpantale.web.cern.ch/fpantale/cgi-bin/igprof-navigator/TICL_PU200_CMSSW_11_2_0_pre5_PR/50

I suppose the time is spent in constructing objects rather than allocate memory. What

[2020-09-04 13:31] makortel commented on #29558
That would lead the configuration hash to change.

[2020-09-04 13:32] rovere commented on #30853
Ciao @kpedro88
I consider the issue as solved.

[2020-09-04 13:53] ggovi commented on #29558
@makortel I'm not sure. The content of the parameters would be unchanged. Or better, of course the first time we introduce this function there will be an hash change ( which I guess must be handled when fixes are required ) - then the hash would remain stable

[2020-09-04 13:59] slava77 commented on #30957
@felicepantaleo
thank you for sharing the test results.
I'm curious if the shrink_to_fit is the call that increases the cost so much.

Note thought that https://github.com/cms-sw/cmssw/compare/master...felicepantaleo:reserve_emplace_back changes `allDoublets_` in HGCGraphT (which is a `vector<HGCDoublet`), while this github issue description is about `vector<int` inside HGCDoublet.
This, apparentl

[2020-09-04 14:01] makortel commented on #29558
@ggovi Then I didn't understand what exactly you meant with

I thought it would mean that a function in python would change the content of `process.GlobalTag.connect` depending on the availability of Frontier. Did you mean that? If not, could you give more details?

[2020-09-04 14:29] wddgit commented on #29558
You could have two configuration parameters, say "connect" and "connectLocal". Then choose between them based on the site specific functionality instead of looking for an exception when the session is created. When the new parameter is first introduced it would be a hash change, but only then.

[2020-09-04 14:34] wddgit commented on #29558
One question I have. Does the SiteLocalConfigService require network connectivity? I know nothing about it. I've never been in that code before.

[2020-09-04 14:35] ggovi commented on #29558
I think @wddgit  got the point. The two connection strings would be both in the configuration, only the choice is delegated upon the site specific functionality - that btw i'm not sure it already exists, but it could be probably introduced.

[2020-09-04 14:37] makortel commented on #29558
It does not, it simply reads an XML file (provided by the site).

[2020-09-04 15:25] ghugo83 commented on #31297
Finished cleaning all these points.
Except the following: I do not understand which object would be double-deleted, in
[code]

[2020-09-04 15:27] ghugo83 commented on #31297
@makortel you said:
This will lead to double-delete. If an ESProduct is intended to be forwarded as such, it should be done as
` return std::shared<CTPPSGeometry const>(&gD, edm::do_nothing_deleter());
`

[2020-09-04 15:28] ghugo83 commented on #31297
But which object would be double-deleted?
&gd is a raw, observing pointer to a DetGeomDesc.
and we also have a std::make_unique<CTPPSGeometry> object.
Sorry for asking explanation ;p

[2020-09-04 16:22] makortel commented on #31297
@ghugo83 Sorry, you're right, I got confused. The two objects (`gD` and the return value of `produceRealTG()`) are indeed separate. Sorry for the noise.

[2020-09-04 16:27] makortel commented on #29558
@ggovi Could you confirm my suspicion that essentially a single file can support only one Global Tag, and information of two (or more) GTs need to be split into separate files?

[2020-09-04 16:42] makortel commented on #29558
On further thinking I think I was wrong, so could you @ggovi confirm if a file can support many Global Tags?

[2020-09-04 16:51] wddgit commented on #29558
I looked at the code for SiteLocalConfigService. It looks easy to add a new field in that service and use it in CondDBESSource. I don't know how to change a site-local-config.xml file at a particular site. Probably someone else would need to do that. Let me know if you want me to go ahead with coding that. If anyone has any preferences for names to use for the configuration parameter or site local

[2020-09-04 17:53] makortel commented on #29558
Thanks @wddgit for taking a look.

Let's hold off until we have agreed on the exact details to be done.

Correct, adding the necessary piece to `site-local-config.xml` would be up to he admin of the corresponding site.

[2020-09-04 18:08] makortel commented on #29558
I asked from @stlammel if he would see any problems with adding such a field in to site local config, and he did not see any problem. He also gave further suggestion (which was actually motivated my question https://github.com/cms-sw/cmssw/issues/29558#issuecomment-687252956)

and handle the "connect" entries in <calib-data> as ordered list. This would make it more general and allow
also the other

[2020-09-04 19:42] jan-kaspar commented on #31297
So if I understand correctly, @ghugo83's set of fixes is complete (many thanks!). When would it be a good time to issue this PR (having all the other developments going on in parallel)?

[2020-09-04 21:04] ghugo83 commented on #31297
@jan-kaspar
Am there: https://github.com/cms-sw/cmssw/compare/master...ghugo83:parallel_oldDD_DD4hep?expand=1
Basically I have:
- integrated the fixes mentioned in this page.
- moved out the custom constructor from PDetGeomDesc.
- **restored old DD and made all the changes to have old DD and DD4hep in parallel (that was obviously the very heavy part)**.

Evth compiles and runs.
I still need to re-

[2020-09-05 01:20] makortel commented on #31321
This is done in #31365

[2020-09-05 01:29] slava77 commented on #31071
+1

fixed in #31212
(merged on Aug 25)

[2020-09-05 01:29] #31071 closed

[2020-09-05 01:30] cmsbuild commented on #31071
This issue is fully signed and ready to be closed.

[2020-09-05 01:32] slava77 commented on #31301
+1

fixed in #31327 (merged Sept 3)
the dependency cycle is gone, according to the ignominy report in https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc820&release=CMSSW_11_2_X_2020-09-04-2300

[2020-09-05 01:32] cmsbuild commented on #31301
This issue is fully signed and ready to be closed.

[2020-09-05 01:43] slava77 commented on #31019
@davidlange6
can I conclude based on the ignominy report https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc820&release=CMSSW_11_2_X_2020-09-04-2300
that we are done and this issue can be closed?
Or do you see some more issue detected by some other way?

[2020-09-05 01:46] slava77 commented on #30954
+1

resolved via #30956 (merged Aug 29)

[2020-09-05 01:46] #30954 closed

[2020-09-05 01:46] cmsbuild commented on #30954
This issue is fully signed and ready to be closed.

[2020-09-05 01:49] slava77 commented on #30910
well, it could be that my view of what's expected in PhysicsTools/NanoAOD/plugins is a bit reductionist.
@cms-sw/xpog-l2
please comment.

[2020-09-05 01:52] slava77 commented on #28841
@silviodonato
do these still show up?
I'm curious if this got fixed "by itself"

[2020-09-05 01:55] slava77 commented on #28358
+1

based on earlier comments, this issue was apparently transient and there were no issues found with the code logic

[2020-09-05 01:55] cmsbuild commented on #28358
This issue is fully signed and ready to be closed.

[2020-09-05 01:56] slava77 commented on #27869
@dilsonjd
please clarify on the current status.
Thank you.

[2020-09-05 01:59] slava77 commented on #27458
If I'm not mistaken, this issue is essentially addressed
What is still missing?

@hqucms
please summarize what's left to be done, if any.

[2020-09-05 02:11] #28358 closed

[2020-09-05 02:13] #31301 closed

[2020-09-05 06:28] davidlange6 commented on #31019
Apparently one needs a full build to get a reliable report. I know of at least one more (which is typically reported in the IB q/a information)

On Sep 5, 2020, at 3:43 AM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6>
can I conclude based on the ignominy report https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_

[2020-09-05 11:08] jfernan2 commented on #30853
Hi, from DQM side the solution is sufficient

[2020-09-05 12:30] silviodonato commented on #28841
@slava77 Indeed, I don't see the error in the IB test anymore.
I will try again run it locally many times. Thanks for the reminder

[2020-09-05 15:21] slava77 commented on #31019
https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc10&release=CMSSW_11_2_X_2020-09-04-2300
from a gcc10 full build
indeed, we still have plenty (4?) cycles with DataFormats included.
<img width="235" alt="Screen Shot 2020-09-05 at 8 20 14 AM" src="https://user-images.githubusercontent.com/4676718/92308176-ac93a200-ef50-11ea-9625-2129285e09a3.png">

[2020-09-05 15:58] davidlange6 commented on #31019
Cycle 7 is not one I’ve seen before (Eg I didn’t notice it on Thursday). Any recent PR?

On 5 Sep 2020, at 17:22, Slava Krutelyov <notifications@github.com> wrote:

﻿

Apparently one needs a full build to get a reliable report. I know of at least one more (which is typically reported in the IB q/a information)

https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc10&release=CMSSW_11_2_X_

[2020-09-05 16:08] slava77 commented on #31019
I think it's already in CMSSW_11_2_X_2020-08-30-0000
slc7_amd64_gcc820
https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc820&release=CMSSW_11_2_X_2020-08-30-0000
<img width="294" alt="Screen Shot 2020-09-05 at 9 08 06 AM" src="https://user-images.githubusercontent.com/4676718/92309094-57a75a00-ef57-11ea-91c9-b82c4b268c4a.png">

[2020-09-05 16:15] davidlange6 commented on #31019
Thx. Probably I was looking at patch builds:(

Cheers,
David

On 5 Sep 2020, at 18:09, Slava Krutelyov <notifications@github.com> wrote:

﻿

Cycle 7 is not one I’ve seen before (Eg I didn’t notice it on Thursday). Any recent PR?

I think it's already in CMSSW_11_2_X_2020-08-30-0000
slc7_amd64_gcc820
https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc820&release=CMSSW_11_2_X_2020-08-30-

[2020-09-05 16:25] Dr15Jones commented on #31019
I can't find a connection between `JetMETCorrections/FFTJetObjects` and `Geometry/CommonTopologies`. I did
[code]
I did that in today's `master` branch.

[2020-09-05 20:42] slava77 commented on #31019
If this is a package level cycle (not the same include file), here is one example:
- CondFormats/Alignment/src/headers.h depends on CondFormats/External/interface/CLHEP.h
    - CondFormats/External/interface/FFTJet.h includes JetMETCorrections/FFTJetObjects/interface/FFTJetCorrectorSequence.h
        - JetMETCorrections/FFTJetObjects/interface/FFTJetCorrectionsTypemap.h includes  DataFormats/JetRe

[2020-09-06 00:49] hqucms commented on #27458
@slava77

No, I think nothing is missing. I will close the issue.

[2020-09-06 00:49] #27458 closed

[2020-09-06 11:08] VinInn commented on #31326
ptError shall be banned. It is dominated by the error on 1/pt and is this that shall be used

[2020-09-06 11:53] davidlange6 commented on #31019
so this step is naively the problem:
"CondFormats/External/interface/FFTJet.h includes JetMETCorrections/FFTJetObjects/interface/FFTJetCorrectorSequence.h"

[2020-09-06 12:16] davidlange6 commented on #31019
Seems like FFTJet.h should just move to CondFormats/JetMETObjects. Not sure that will fix everything or not.. (JetMETCorrections/FFTJetObjects seems to be combo of condformats and es producers)

[2020-09-06 12:24] davidlange6 commented on #31019
I proposed it - #31370

[2020-09-06 14:38] Dr15Jones opened #31371 "Break dependency of PhysicsTools/UtilAlgos on PhysicsTools/FWLite"
L1 code depends on PhysicsTools/UtilAlgos and that is ultimately leading to a dependency on the FWLite code. That is not a desirable behavior (no cmsRun based code should depend upon code for FWLite). The reason for the dependency is the header `PhysicsTools/UtilAlgos/interface/FWLiteAnalyzerWrapper.h`. Turns out that header has no actual dependency on code in PhysicsTools/UtilAlgos and could just

[2020-09-06 14:38] Dr15Jones commented on #31371
@davidlange6 FYI

[2020-09-06 14:38] cmsbuild commented on #31371
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-06 14:39] Dr15Jones commented on #31371
assign analysis

[2020-09-06 14:40] cmsbuild commented on #31371
New categories assigned: analysis

@santocch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-06 15:59] Dr15Jones commented on #31371
See #31372

[2020-09-06 16:16] Dr15Jones commented on #31371
This is the last dependency of PhysicsTools/FWLite on any cmsRun module #31373.

[2020-09-07 07:17] jan-kaspar commented on #31297
@ghugo83 Huge thanks! Do I understand correctly that you plan to propose one big PR will all the fixes and improvements?

[2020-09-07 07:27] peruzzim commented on #30910
I agree with @slava77 that we should put the header of the base class in PatAlgos/interface, and keep the BJetEnergyRegressionMVA in NanoAOD unless someone else takes ownership of this class and maintains it under the responsibility of a POG. Otherwise, if this is considered "analysis code" used only for NanoAOD production, it's much more practical to keep it in the NanoAOD directory where it can

[2020-09-07 08:12] silviodonato commented on #28841
I tried again running 1000 times, and I got two times:
[code]

[2020-09-07 09:27] guitargeek commented on #30910
Hi @peruzzim, thanks for your message! What you suggests sounds good, I'll make a quick PR to fix this include problem.

[2020-09-07 09:55] silviodonato commented on #28841
See https://github.com/cms-sw/cmssw/pull/31379

[2020-09-07 11:49] mmusich opened #31381 "ALCAHARVEST:SiPixelAli is broken"
Since `CMSSW_11_2_0_pre4` the following command:

[code]

returns:

[code]
The output DQM file contains no information whatsoever of the alignment parameters fit, while in previous releases the same command does not have any issue:
| `CMSSW_11_2_0_pre4`| `CMSSW_11_2_0_pre3` |
| ------ | ------ |
| ![image](https://user-images.githubusercontent.com/5082376/92380783-04c1d400-f10a-11ea-9daa-4dee463d5

[2020-09-07 11:49] cmsbuild commented on #31381
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-07 12:44] Dr15Jones commented on #31381
assign alca, dqm

[2020-09-07 12:45] cmsbuild commented on #31381
New categories assigned: dqm,alca

@jfernan2,@christopheralanwest,@andrius-k,@fioriNTU,@tlampen,@pohsun,@tocheng,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-07 14:25] silviodonato commented on #25090
same result using https://github.com/cms-sw/cmssw/pull/31369 (as expected) which remove only
[code]

[2020-09-07 16:19] ghugo83 commented on #31297
@jan-kaspar The small fixes, mentioned in the context of port to DD4hep, are included in https://github.com/cms-sw/cmssw/pull/31383
This new PR does not touch old DD scenario, and instead add DD4hep capability in parallel.

[2020-09-07 16:45] hernand commented on #29558
Thanks guys for keeping working on this. I agree that the option of using the site local config file to specify DB access urls (Frontier or local file) looks better than falling back to file access on exception.  Not sure if a single file containing many global tags is feasible. Who can know? For my tests I dumped a single global tag into a file and its size was about 1 GB. Maybe it would be bette

[2020-09-07 16:57] jan-kaspar commented on #31297
Many thanks @ghugo83 - does this mean that this issue can be closed? Or is some more work needed for the old DD scenarios?

[2020-09-07 21:07] makortel commented on #31381
Do I read the code correctly that `AlignmentProducerAsAnalyzer` creates the files in `endJob()` , and the intention is for the `MillePedeDQMModule` to read something from them into DQM?

Then a correct ordering can be guaranteed by changing `AlignmentProducerAsAnalyzer` to write the files in `endProcessBlock()` instead of `endJob()` and to produce something into ProcessBlock (e.g. empty `struct Al

[2020-09-08 03:29] christopheralanwest commented on #31081
@kpedro88 Among the list of affected files, the only one within the AlCa domain is a single commented line in your config `CalibCalorimetry/HcalPlugins/test/hbhedarkeninganalyzer_cfg.py`. Could you recommend whether the line should be updated or deleted?

[2020-09-08 07:08] ggovi commented on #29558
Single or multiple files to support more GTs depends on the file size. We need to make an export to measure it. If this turns to be the limiting factor, we should go for a new export solution where payloads are dumped on individual files. But this requires some additional ( probably affordable ) development.

[2020-09-08 09:00] fwyzard commented on #31230
The hardest part is to figure out all the branch names that need to be aliased and/or ignored.

So, if the error message in case of a mismatch could give the full list of branches from both sides of the switch, that would already help a lot.

Rather than giving a list of branches to ignore, I think it would make more sense to give a list of branches to use.

[2020-09-08 09:44] ghugo83 commented on #31297
Yes I would say can be closed, first 4 points are addressed.
Only cheeky point is the 5th point, which was not compulsory. I must say I have used ESGetToken in the ESProducer, but in the Analyzer, I have kept the legacy way of getting CompactView:
[code]

[2020-09-08 09:47] silviodonato commented on #28841
solved with #31379

[2020-09-08 09:47] #28841 closed

[2020-09-08 10:18] jpata opened #31385 "PFBlockAlgo cleanup"
The following technical refactoring for PFBlockAlgo can be considered:

1. Unused and untested code path in SC linkers with `SuperClusterMatchByRef=False`:
https://github.com/cms-sw/cmssw/blob/ec4c535880057c2e4d4d8b603f872bc9ea9eba43/RecoParticleFlow/PFProducer/plugins/linkers/SCAndECALLinker.cc#L45
https://github.com/cms-sw/cmssw/blob/ec4c535880057c2e4d4d8b603f872bc9ea9eba43/RecoParticleFlow/PFPr

[2020-09-08 10:19] jpata commented on #31385
assing reconstruction

attn @hatakeyamak @bendavid

[2020-09-08 10:19] cmsbuild commented on #31385
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-08 10:20] cmsbuild commented on #31385
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-08 10:41] ghugo83 commented on #31297
Ok I have just fully addressed the 5th point as well. Will push the commit shortly.
As soon as the commit is pushed, I guess you can close this issue, as absolutely all points here have been looked at and addressed (except point 4 which was not relevant).

[2020-09-08 11:06] jan-kaspar commented on #31297
Thanks @ghugo83 !

[2020-09-08 11:06] #31297 closed

[2020-09-08 12:39] dilsonjd commented on #27869
Dear Slava,
I was personally affected by the COVID19 pandemic in my family, this kept
me out of work for long periods. Because of this reason, the development of
this work has also been affected and progress is very slow, since the last
input.  I hope that I will be able to work on it in the near future, once I
am slowly returning to work and this task is priority.
Regards, Dilson.

Em sex., 4 de

[2020-09-08 14:12] makortel commented on #31230
That is certainly doable as well.

I also began to wonder if a generic mechanism to keep/ignore (similar to OutputModule's `outputCommands`, at least functionally) could be beneficial (or confusing).

[2020-09-08 14:41] makortel commented on #30913
@skinnari Any progress? (@cms-sw/l1-l2)

[2020-09-08 14:45] kpedro88 commented on #31081
@christopheralanwest if you're going to make a PR, it would be better to update the commented line. However, as I remark roughly once/week, I strongly encourage everyone to ignore configs in test directories that aren't explicitly unit tested. (This even applies to configs that I created.)

[2020-09-08 15:17] Dr15Jones opened #31391 "Move unnecessary files out of interface directories"
Files in the interface directory which are included by files in one and only one non interface directory should be moved to the directory using the file. This cleans up the package's true external interface and may make it easier to move to C++ modules.

[2020-09-08 15:17] Dr15Jones commented on #31391
assign core

[2020-09-08 15:17] cmsbuild commented on #31391
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-08 15:17] Dr15Jones commented on #31391
FYI @davidlange6

[2020-09-08 15:17] cmsbuild commented on #31391
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-08 15:19] Dr15Jones commented on #31391
I created a simple python program which can fix fixes on a package by package basis:
[code]

Not sure if we syould put this into the release and if so, where.

[2020-09-08 16:05] mmusich commented on #31381
Hi @makortel

the intention is that `MillePedeDQMModule` reads something from those files and then *puts* it into DQM.

Thanks for the suggestion.
Can you point to some documentation and / or example on how that should be done?
Also `AlignmentProducerAsAnalyzer` (as the name is betraying) is an `EDAnalyzer` (actually: `edm::one::EDAnalyzer<edm::one::WatchRuns, edm::one::WatchLuminosityBlocks, edm:

[2020-09-08 16:32] silviodonato opened #31393 "NanoGEN pending action items"
This issue is to keep track of the action items about NanoGEN https://github.com/cms-sw/cmssw/pull/30306

-  creation of a dedicated workflow to test in the runTheMatrix and unit test (https://github.com/cms-sw/cmssw/pull/30306#issuecomment-684820124)
- PDF update (https://github.com/cms-sw/cmssw/pull/30306#issuecomment-687268037)

[2020-09-08 16:32] cmsbuild commented on #31393
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-08 16:33] silviodonato commented on #31393
assign xpog

[2020-09-08 16:33] silviodonato commented on #31393
assign @kdlong

[2020-09-08 16:33] cmsbuild commented on #31393
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-08 17:10] perrotta commented on #31081
+1
- The only reco-related file in the list got just merged in the master with #31349 (where the test config was also included in the unit tests)

[2020-09-08 18:13] Dr15Jones commented on #31391
I applied the script to FWCore/Framework: see #31395

[2020-09-08 19:09] makortel commented on #31381
@mmusich

In a sense DQM itself serves as an example (but see more specific suggestions below).

Yes, it would have to become an `EDProducer`, just like in DQM all `DQMEDAnalyzer`s are actually `EDProducer`s.

Overall the necessary changes would be, in addition,
* Make `AlignmentProducerAsAnalyzer` to use [`edm::Accumulator`](https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultithreadedFrameworkO

[2020-09-08 23:39] cvuosalo commented on #31360
@jan-kaspar I think the correct place for PPS reco geometry might be `Configuration/Geometry/python/GeometryRecoDB_cff.py`. XML and simulation geometry should be checked to be sure they include all needed PPS components. Additional cff files in `Configuration/Geometry` like `GeometryReco_cff.py` may need additions for PPS.

[2020-09-09 00:45] qliphy commented on #31393
also assign generators

[2020-09-09 00:46] cmsbuild commented on #31393
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-09 06:35] davidlange6 opened #31403 "Understanding reported circular dependency in Cond*"
the IBs report a cyclic dep between

![image](https://user-images.githubusercontent.com/5042883/92562907-02c95380-f277-11ea-8d37-07a201e012e2.png)

which I don't see. Eg,

- CondFormats/MFObjects depends on CondFormats/Serialization and some FWCore stuff. Instead it is used only by CondCore/Utilities and MagneticField/GeomBuilder.

- CondCore/ESSources depends on CondCore/CondDB and some FWCore st

[2020-09-09 06:35] cmsbuild commented on #31403
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-09 06:41] davidlange6 commented on #31403
assign core

[2020-09-09 06:41] cmsbuild commented on #31403
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-09 06:43] davidlange6 commented on #31403
I see the same sort of effect for

![image](https://user-images.githubusercontent.com/5042883/92563707-46708d00-f278-11ea-89ee-c2cd8b199103.png)

where
PhysicsTools/FWLite/src depends on PhysicsTools/SelectorUtils/src
PhysicsTools/SelectorUtils/bin depends on PhysicsTools/FWLite/src

which to me is ok.

[2020-09-09 06:49] smuzaffar commented on #31403
yes it (ignominy) looks for all files under a package include plugin and bin directories

[2020-09-09 06:51] davidlange6 commented on #31403
Can we change that behavior? Or is that a feature not a bug?

On Sep 9, 2020, at 8:49 AM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

yes it (ignominy) looks for all files under a package include plugin and bin directories

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cm

[2020-09-09 06:54] smuzaffar commented on #31403
Currently ignominy treats cmssw package as a unit. Changing this behaviour means we treat every sub-directory (package/plugin, package/bin, package/test etc) of cmssw package as unit. This change is not trivial.

[2020-09-09 07:00] davidlange6 commented on #31403
If it can just ignore test/bin/plugin that would be sufficient I think. Separately one can ensure that no plugin/bin/test is depended on by anything else.

On Sep 9, 2020, at 8:55 AM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

Currently ignominy treats cmssw package as a unit. Changing this behaviour means we treat every sub-directory (package/plugin

[2020-09-09 07:05] smuzaffar commented on #31403
yes can be done but as I said, it is not that trivial

[2020-09-09 07:29] davidlange6 commented on #31403
Ok, thanks - I may manage to investigate a simple python script for this (remembering the age of these tools now..)

On Sep 9, 2020, at 9:05 AM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

yes can be done but as I said, it is not that trivial

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://

[2020-09-09 08:43] jan-kaspar commented on #31360
Thanks @cvuosalo ! What is the cff file for the "XML geometry" that you mention? What is the use of the "GeometryReco_cff.py"?

[2020-09-09 08:59] jan-kaspar commented on #31360
If you agreed, I would schedule this fix after the other ongoing geometry-related modifications by @ghugo83 and @forthommel - not to do to many things in parallel.

[2020-09-09 08:59] silviodonato opened #31406 "Build CMSSW_10_6_17"

[2020-09-09 08:59] cmsbuild commented on #31406
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-09 09:02] silviodonato commented on #31406
+1

[2020-09-09 09:03] cmsbuild commented on #31406
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-09-09 09:05] cmsbuild commented on #31406
The build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2634/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-09 09:05] cmsbuild commented on #31406
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2633/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-09 09:40] smuzaffar commented on #31232
This is failing at https://github.com/cms-sw/cmssw/blob/master/DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc#L336
[code]
Looks like the change https://github.com/root-project/root/pull/5899 might be causing this failure. @lmoneta can you please check and suggest if we need to update cmssw code https://github.com/cms-sw/cmssw/blob/master/DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc#L303-L338 ?

[2020-09-09 10:15] lmoneta commented on #31232
Hi,

 The function `ROOT::Math::Minimiser::X()` returns a pointer to the minimum x vector. In that code it is called before calling Minimize() but this values seems not to be used before (although not sure if they are used in the function to be minimised).
Maybe it is not clear stated in the reference doc

I guess before X() was returning the initial parameter values, which in your code is the `va

[2020-09-09 12:03] cmsbuild commented on #31406
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_17-slc7_amd64_gcc820/2634
Some tests (

[2020-09-09 12:19] mmusich commented on #31381
@makortel
Thanks for the detailed recipe. I think I have something working for the `AlignmentProducerAsAnalyzer` but it's not very clear to me what is the right syntax to do this

I've tried:
[code]
but that clearly doesn't even compile.
Having a look in `cmssw` I see similar usages e.g. here:

https://github.com/cms-sw/cmssw/blob/e9fd14517b7cd1514dfd5704a003b82fe6ad4c62/DQM/SiStripMonitorClient/p

[2020-09-09 12:44] cmsbuild commented on #31406
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_17-slc7_amd64_gcc820/2634

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-09 12:50] cmsbuild commented on #31406
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_17-slc7_amd64_gcc700/2633
Some tests (

[2020-09-09 13:00] Dr15Jones commented on #31403
A word of warning, we have seen cases of people including from a plugin directory in a different package. We should fix all such cases, but they have happened.

[2020-09-09 13:05] Dr15Jones commented on #31381
Your syntax was correct, however you stll need to pass an `edm::InputTag` as an argument to the `consumes` function.

[2020-09-09 13:21] mmusich commented on #31381
@Dr15Jones perhaps I am doing something very dumb but using:
[code]
I am still getting this compilation error: https://paste.in/VlCgCb

[2020-09-09 13:24] Dr15Jones commented on #31381
The second template argument isn't a `Transition`, it is a `edm::BranchType`. So you want
[code]

Sorry I missed that initially.

[2020-09-09 13:33] cmsbuild commented on #31406
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_17-slc7_amd64_gcc700/2633

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-09 13:33] makortel commented on #31381
Right, apologies for the confusion in my recipe https://github.com/cms-sw/cmssw/issues/31381#issuecomment-689079333 (which I just updated), without thinking I was assuming that `consumes()` would work also with `Transition` as `produces()` does.

[2020-09-09 13:43] makortel commented on #28354
Could this issue be closed?

[2020-09-09 14:37] silviodonato opened #31410 "Workflow 3.0 failing in 10_6_X"
We get segmentation fault in wf `3.0` in `10_6_X` (https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_X_2020-09-09-1100/pyRelValMatrixLogs/run/3.0_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1/step2_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1.log#/). The error related to the pythia bug fix cms-sw/cmsdist#6186. Indeed, we get no error in `10_

[2020-09-09 14:38] cmsbuild commented on #31410
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-09 14:42] silviodonato commented on #31410
assign generators, core

[2020-09-09 14:42] cmsbuild commented on #31410
New categories assigned: core,generators

@Dr15Jones,@smuzaffar,@alberto-sanchez,@SiewYan,@qliphy,@makortel,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-09 14:44] silviodonato commented on #31410
I tried also:
- running `CMSSW_10_6_14` on `step1.root` made with `CMSSW_10_6_14_Pyt8240BugFix` -> seg fault
- running `CMSSW_10_6_14_Pyt8240BugFix` on `step1.root` made with `CMSSW_10_6_14` -> no error

[2020-09-09 14:53] cmsbuild commented on #31410
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-09 14:55] makortel commented on #31410
Stack trace looks the same as in https://github.com/cms-sw/cmssw/issues/31258 (from 11_2_X, which, I presume, also uses the fixed Pythia). Interesting that it is connected to the Pythia fix.

[2020-09-09 14:59] makortel commented on #31258
Apparently this crash occurred only in that IB (so randomly?), but similar crash seems to be occurring repeatedly in 10_6_X, and seems to be somehow connected to a fix in Pythia, see #31410 .

[2020-09-09 15:37] makortel commented on #31410
I tried to reproduce in CMSSW_10_6_X_2020-09-09-1100, and with
* single thread step1, single thread step2: step2 succeeds
* single thread step1, multithreaded step2: step2 succeeds
* multithreaded step1, single thread step2: step2 succeeds
* multitreaded step1, multithread steps2: step2 crashes

Debug symbols point that the segfault is caused by this line
https://github.com/cms-sw/cmssw/blob/51234

[2020-09-09 15:40] mmusich commented on #31381
@Dr15Jones @makortel thanks for the suggestions.
Indeed with using `consumes<AlignmentToken, edm::InProcess>(edm::InputTag("alignmentToken"));` it compiles, though I am still unable to make it run in the correct order. I prepared a draft PR https://github.com/cms-sw/cmssw/pull/31411, if you can give a quick look and suggest what is still missing.
Thanks!

[2020-09-09 15:59] Dr15Jones commented on #31410
I suggest trying to run valgrind on it.

[2020-09-09 18:46] makortel commented on #31410
Valgrind gives
[code]
(in this trace the `TTUTrackingAlg.cc` line 267 corresponds the line 259 in `master`, I had added some debug prints in that file)

Perhaps an invalid pointer gets added to `currenTrk->m_seeds`?

[2020-09-09 18:54] Dr15Jones commented on #31410
I believe the sort algorithm is wrong
https://github.com/cms-sw/cmssw/blob/9613ecd7684303498b1ea0fe0ef04fc355d02453/L1Trigger/RPCTechnicalTrigger/interface/TTUTrackingAlg.h#L136-L142

The algorithm uses the idea that op(a,b) == false and op(b,a)== false means a==b. That will not happen with that sort. If the sort is unstable you get bad stuff happening.

[2020-09-09 19:31] makortel commented on #31410
Nice catch! Changing the comparisons to `<` indeed fixed the issue. I'll address Dan's comment https://github.com/cms-sw/cmssw/issues/31258#issuecomment-683773504 on the same go.

[2020-09-09 19:50] makortel commented on #31230
The exception message is improved in #31414. I'm fine with keeping this issue open until a more automated solution is found.

[2020-09-09 19:52] makortel commented on #31230
To think out loud, reversing the logic in https://github.com/cms-sw/cmssw/issues/31230#issuecomment-680236582 would lead to something along
[code]

[2020-09-09 20:49] christopheralanwest commented on #31081
+alca

- The only file under the AlCa domain was modified in the recently merged #31412

[2020-09-09 21:01] cvuosalo commented on #31360
@jan-kaspar `Configuration/​Geometry/​python` contains all the scenarios. The scenarios that use the DB have "DB" in the name. If the scenario doesn't have "DB" in the name, it is derived from XML, so `GeometryReco_cff.py` is for (Run 2) Reco geometry from XML.
What time periods does `geometryRPFromDB_cfi.py` apply to? Caution must be exercised with changes to files used in existing workflows like

[2020-09-09 23:52] makortel commented on #31258
Fixed in #31415.

[2020-09-09 23:53] makortel commented on #31410
Fixed in  #31415 for 11_2_X, and https://github.com/cms-sw/cmssw/pull/31416 for 10_6_X. @silviodonato do you want more backports?

[2020-09-10 07:15] silviodonato commented on #31406
upload all

[2020-09-10 07:15] cmsbuild commented on #31406
Queing Jenkins upload for slc7_amd64_gcc700

[2020-09-10 07:15] cmsbuild commented on #31406
Queing Jenkins upload for slc7_amd64_gcc820

[2020-09-10 07:18] cmsbuild commented on #31406
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1687/console

[2020-09-10 07:18] cmsbuild commented on #31406
The upload has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1688/console

[2020-09-10 07:24] cmsbuild commented on #31406
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_17-slc7_amd64_gcc820/1688

[2020-09-10 07:25] cmsbuild commented on #31406
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_17-slc7_amd64_gcc700/1687

[2020-09-10 07:31] silviodonato commented on #31410
Thanks @Dr15Jones @makortel for the quick fix!

I would ask you also a backport to `11_1_X` for the MWGR and for the phase-2 HLT TDR.

[2020-09-10 07:34] silviodonato commented on #31406
release-notes

[2020-09-10 07:35] cmsbuild commented on #31406
Generating release notes since CMSSW_10_6_16.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-09-10 07:35] cmsbuild commented on #31406
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_17 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_16 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_17

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-09-10 07:36] cmsbuild commented on #31406
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_17

[2020-09-10 08:11] #31406 closed

[2020-09-10 08:19] silviodonato opened #31418 "Build CMSSW_11_2_0_pre6"

[2020-09-10 08:19] cmsbuild commented on #31418
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-10 08:25] silviodonato commented on #31418
abort

[2020-09-10 08:25] #31258 closed

[2020-09-10 08:27] #31418 closed

[2020-09-10 08:28] silviodonato opened #31419 "Build CMSSW_11_2_0_pre6"

[2020-09-10 08:28] cmsbuild commented on #31419
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-10 08:36] silviodonato commented on #31419
cmssw-tool-conf

[2020-09-10 08:44] jan-kaspar commented on #31360
Thanks for clarification.

2016, 2017 and 2018 (the full life of PPS)

I guess that the usual matrix tests are a good way to check the update. Would there be anything else to verify?

[2020-09-10 08:48] silviodonato commented on #31419
+1

[2020-09-10 08:48] cmsbuild commented on #31419
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-09-10 08:48] cmsbuild commented on #31419
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmss

[2020-09-10 08:49] cmsbuild commented on #31419
The build has started for cc8_amd64_gcc8 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2635/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-09-10 08:50] cmsbuild commented on #31419
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2636/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-10 08:50] cmsbuild commented on #31419
The build has started for slc7_amd64_gcc900 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2637/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-10 08:50] cmsbuild commented on #31419
The build has started for slc7_ppc64le_gcc820 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2638/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-10 08:52] cmsbuild commented on #31419
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2639/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-09-10 08:58] cmsbuild commented on #31419
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2640/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-10 09:59] silviodonato opened #31421 "Create repository cms-data/Alignment-OfflineValidation"
Please create a new cms-data repository for `Alignment/OfflineValidation` https://github.com/cms-data/Alignment-OfflineValidation .
See https://github.com/cms-sw/cmssw/pull/31376#discussion_r484300888

[2020-09-10 10:00] cmsbuild commented on #31421
New categories assigned: externals

@smuzaffar,@mrodozov,@tulamor you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-10 10:00] cmsbuild commented on #31421
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-10 10:15] perrotta opened #31422 "Check usage of multi5x5 ECAL modules, and remove them from the reco sequences when not needed"
During the review of #31332 a misconfiguration of one of the `multi5x5SuperClusters` modules was found (and fixed).
This was supposed not to be too harmful, not only because the effect on the produced objects of such a misconfiguration are expected to be minor, but also because that multi5x5 wasn't supposed to be run in normal pp workflows, only in some HI one.

In reality, while looking at the re

[2020-09-10 10:16] cmsbuild commented on #31422
A new Issue was created by  @perrotta .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-10 10:16] perrotta commented on #31422
assign reconstruction

[2020-09-10 10:17] cmsbuild commented on #31422
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-10 10:19] silviodonato opened #31423 "Build CMSSW_10_6_17_patch1"

[2020-09-10 10:20] cmsbuild commented on #31423
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-10 10:24] silviodonato commented on #31423
+1

[2020-09-10 10:25] cmsbuild commented on #31423
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_17_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-09-10 10:25] cmsbuild commented on #31423
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-09-10 10:29] perrotta opened #31424 "Investigate usage of ME0 related code in CMSSW, and possible cleanup of obsolete files"
There could be some ME0 labelled code in CMSSW which is not in usage any more, having possibly been incorporated in the "standard" GEM code.

Muon POG (@ArnabPurohit @trocino) and GEM ( @jshlee @watson-ij) reco contacts are [investigating](https://github.com/cms-sw/cmssw/pull/31386#issuecomment-690110039) about it

This issue is just to take note of it, and keep track of the advancements

[2020-09-10 10:30] cmsbuild commented on #31424
A new Issue was created by  @perrotta .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-10 10:30] perrotta commented on #31424
assign reconstruction

[2020-09-10 10:31] cmsbuild commented on #31424
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-10 10:34] cmsbuild commented on #31423
The build has started for slc7_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2641/console
CMSDIST Branch: [REL/CMSSW_10_6_17/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_17/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-10 10:34] cmsbuild commented on #31423
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2642/console
CMSDIST Branch: [REL/CMSSW_10_6_17/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_17/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-10 11:04] cmsbuild commented on #31423
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_17_patch1-slc7_amd64_gcc700/2641
Some

[2020-09-10 11:05] cmsbuild commented on #31423
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_17_patch1-slc7_amd64_gcc820/2642
Some

[2020-09-10 11:45] cmsbuild commented on #31423
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_17_patch1-slc7_amd64_gcc700/2641

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-10 11:46] cmsbuild commented on #31423
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_17_patch1-slc7_amd64_gcc820/2642

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-10 11:54] mrodozov commented on #31421
Hi @silviodonato , see this comment:
https://github.com/cms-sw/cms-bot/blob/master/categories.py#L11
only L1 can create repos. This includes you :)
`CMSSW_L1 = ["dpiparo", "silviodonato","qliphy"]`
Once created I can touch it later but I can't create it

[2020-09-10 12:04] silviodonato commented on #31421
Thanks, I've made https://github.com/cms-data/Alignment-OfflineValidation

[2020-09-10 13:06] cmsbuild commented on #31419
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-slc7_ppc64le_gcc820/2638
Some

[2020-09-10 13:29] cmsbuild commented on #31419
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-cc8_amd64_gcc8/2635
Some tests ( r

[2020-09-10 13:36] silviodonato commented on #31410
Problem solved https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_X_2020-09-10-1100/pyRelValMatrixLogs/run/3.0_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1/step3_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1.log#/

I'm keeping this issue open as a reminder for the `11_1_X` backport

[2020-09-10 13:45] cmsbuild commented on #31419
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-slc7_aarch64_gcc820/2640
Some

[2020-09-10 13:58] cmsbuild commented on #31419
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-slc7_ppc64le_gcc820/2638

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-10 14:08] cmsbuild commented on #31419
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-cc8_amd64_gcc8/2635

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-10 14:11] cmsbuild commented on #31419
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-slc7_amd64_gcc820/2636
Some tes

[2020-09-10 14:12] perrotta commented on #31424
Thank you @dildick . Indeed this will quite likely span several areas, I guess.
I add assignment to L1, simulation as well

[2020-09-10 14:12] perrotta commented on #31424
assign l1, simulation

[2020-09-10 14:13] cmsbuild commented on #31424
New categories assigned: simulation,l1

@mdhildreth,@benkrikler,@rekovic,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-10 14:17] dildick commented on #31424
Yes, many more areas will be affected, including Digitization, Trigger, Reconstruction, Validation and Visualization. Within the GEM group we have a good idea what needs to be done.

[2020-09-10 14:33] srimanob opened #31426 "Timeout in communication between the main and external channels in ExternalGeneratorFilter"
When testing ExternalGeneratorFilter using
https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_test/PPD-MultiValidationUL17GEN-00004

I've found the issue on specific event:
----- Begin Fatal Exception 10-Sep-2020 11:46:29 CEST-----------------------
An exception of category 'ExternalFailed' occurred while
   [0] Processing  Event run: 1 lumi: 1 event: 1 stream: 0
   [1] Running path 'generat

[2020-09-10 14:33] cmsbuild commented on #31426
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-10 14:44] silviodonato commented on #31423
upload all

[2020-09-10 14:45] cmsbuild commented on #31423
Queing Jenkins upload for slc7_amd64_gcc700

[2020-09-10 14:45] cmsbuild commented on #31423
Queing Jenkins upload for slc7_amd64_gcc820

[2020-09-10 14:45] christopheralanwest commented on #29406
What is the status of this issue? Are Run 3 geometry DB payloads available for AlCa to include in the Run 3 global tags?

[2020-09-10 14:46] cmsbuild commented on #31423
The upload has started for slc7_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1689/console

[2020-09-10 14:46] cmsbuild commented on #31423
The upload has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1690/console

[2020-09-10 14:47] cmsbuild commented on #31423
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_17_patch1-slc7_amd64_gcc700/1689

[2020-09-10 14:48] cmsbuild commented on #31423
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_17_patch1-slc7_amd64_gcc820/1690

[2020-09-10 14:49] cmsbuild commented on #31419
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-slc7_amd64_gcc820/2636

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-10 14:55] Dr15Jones commented on #31426
assign generator, core

[2020-09-10 14:55] cmsbuild commented on #31426
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-10 14:57] cvuosalo commented on #29406
@christopheralanwest We have been hoping to include the PPS XML revisions in the Run 3 geometry payloads. Unfortunately, PPS development ran into various problems. Now PR #31383 seems close to getting merged, so I'm waiting for it before creating the Run 3 geometry DB payloads. Your review and approval of #31383 would be appreciated.
Is time running out to include new geometry payloads in the Run

[2020-09-10 14:58] cmsbuild commented on #31419
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-slc7_aarch64_gcc820/2640

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-10 15:01] Dr15Jones commented on #31426
From a quick look at the code, we should be able to make the timeout amount be configurable.

[2020-09-10 15:13] Dr15Jones commented on #31426
assign generators

[2020-09-10 15:13] cmsbuild commented on #31426
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-10 15:21] silviodonato commented on #31423
release-notes

[2020-09-10 15:22] cmsbuild commented on #31423
Generating release notes since CMSSW_10_6_17.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-09-10 15:22] cmsbuild commented on #31423
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_17_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_17 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_17_patch1

Cheers,
cms-bot

You can also click <a h

[2020-09-10 15:23] cmsbuild commented on #31423
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_17_patch1

[2020-09-10 15:24] #31423 closed

[2020-09-10 15:48] cmsbuild commented on #31419
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-cc8_aarch64_gcc8/2639
Some tests

[2020-09-10 15:49] cmsbuild commented on #31419
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-slc7_amd64_gcc900/2637

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-10 16:39] cvuosalo commented on #31360
@jan-kaspar It should be checked that every config that currently uses `recoCTPPS_cff.py` will still get `geometryRPFromDB_cfi.py` after the latter is moved.

[2020-09-10 16:43] cvuosalo commented on #31360
Since `geometryRPFromDB_cfi.py` is only used for Run 2, I wonder if we really want to make any change related to it. What are the PPS plans for changing Run 2?

[2020-09-10 16:47] silviodonato commented on #31419
upload alll

[2020-09-10 16:53] cmsbuild commented on #31419
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6-cc8_aarch64_gcc8/2639

Tests results:
35 33 32 25 17 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-09-10 16:56] silviodonato commented on #31419
upload all

[2020-09-10 16:57] cmsbuild commented on #31419
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-09-10 16:57] cmsbuild commented on #31419
Queing Jenkins upload for cc8_amd64_gcc8

[2020-09-10 16:57] cmsbuild commented on #31419
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-09-10 16:57] cmsbuild commented on #31419
Queing Jenkins upload for slc7_amd64_gcc820

[2020-09-10 16:57] cmsbuild commented on #31419
Queing Jenkins upload for slc7_amd64_gcc900

[2020-09-10 16:57] cmsbuild commented on #31419
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-09-10 16:58] cmsbuild commented on #31419
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1691/console

[2020-09-10 16:59] cmsbuild commented on #31419
The upload has started for cc8_amd64_gcc8 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1692/console

[2020-09-10 16:59] cmsbuild commented on #31419
The upload has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1693/console

[2020-09-10 16:59] cmsbuild commented on #31419
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1694/console

[2020-09-10 16:59] cmsbuild commented on #31419
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre6-cc8_aarch64_gcc8/1691

[2020-09-10 17:00] cmsbuild commented on #31419
The upload has started for slc7_amd64_gcc900 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1695/console

[2020-09-10 17:00] cmsbuild commented on #31419
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1696/console

[2020-09-10 17:00] cmsbuild commented on #31419
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre6-slc7_aarch64_gcc820/1694

[2020-09-10 17:01] cmsbuild commented on #31419
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre6-slc7_amd64_gcc900/1695

[2020-09-10 17:01] silviodonato commented on #31419
release-notes

[2020-09-10 17:01] cmsbuild commented on #31419
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre6-slc7_amd64_gcc820/1693

[2020-09-10 17:01] cmsbuild commented on #31419
Generating release notes since CMSSW_11_2_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-09-10 17:01] cmsbuild commented on #31419
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre6 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_2_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_p

[2020-09-10 17:02] cmsbuild commented on #31419
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre6

[2020-09-10 17:04] silviodonato opened #31427 "Build CMSSW_11_2_0_pre6_ROOT622"
CMSSW_COMMIT:CMSSW_11_2_0_pre6

[2020-09-10 17:04] cmsbuild commented on #31427
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-10 17:04] #31419 closed

[2020-09-10 17:05] silviodonato commented on #31427
+1

[2020-09-10 17:06] cmsbuild commented on #31427
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre6_ROOT622. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-09-10 17:06] cmsbuild commented on #31427
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-09-10 17:06] cmsbuild commented on #31419
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre6-slc7_ppc64le_gcc820/1696

[2020-09-10 17:07] cmsbuild commented on #31427
The build has started for slc7_amd64_gcc820 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2643/console
CMSDIST Branch: [IB/CMSSW_11_2_X/rootnext](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/rootnext), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-10 20:00] makortel commented on #31410
Done in #31430

[2020-09-10 20:50] makortel commented on #29558
Based on the comments, how about
* extend the `<site><calib-data>` element of the `site-local-config.xml` to allow to contain either a `<frontier-connect>` or a `<local-connect>` element
  * since we are not looking for actual fallback (on the contrary), I would not allow for fallback here (for now, at least)
* for `<frontier-connect>` element nothing changes
* the `<local-connect>` element would

[2020-09-10 21:20] cmsbuild commented on #31427
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6_ROOT622-slc7_amd64_gcc820/2643

[2020-09-10 21:59] cmsbuild commented on #31427
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre6_ROOT622-slc7_amd64_gcc820/2643

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-11 00:34] makortel commented on #31410
+core

[2020-09-11 06:46] silviodonato commented on #31427
upload all

[2020-09-11 06:46] cmsbuild commented on #31427
Queing Jenkins upload for slc7_amd64_gcc820

[2020-09-11 06:48] cmsbuild commented on #31427
The upload has started for slc7_amd64_gcc820 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1697/console

[2020-09-11 06:56] cmsbuild commented on #31427
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre6_ROOT622-slc7_amd64_gcc820/1697

[2020-09-11 08:07] smuzaffar commented on #31232
this has been fixed via #31408

[2020-09-11 08:07] #31232 closed

[2020-09-11 12:10] agrohsje commented on #31426
I would be in favour of the proposal by @colizz and increase the allowed time. Let me add @smrenna , maybe he can comment on the P8 side, i.e. about skipping the event.

[2020-09-11 12:34] dpiparo commented on #31326
@mtosi @vmariani here a proposal to continue the discussion: https://github.com/cms-sw/cmssw/pull/31433 removing some sqrts and divisions, one can get 2% speedup in the event loop (phase2 - 200 PU).
The PR is not all that can be done: by some interventions in the code of components such as pf or muon reco, one could save even more.

[2020-09-11 12:40] VinInn commented on #31326
I am stil convinced that action shall be taken in the client code. For instance use error^2, pt^2 etc

[2020-09-11 12:44] dpiparo commented on #31326
absolutely. Whenever possible the client code ought to be changed.
There could be some percent, hard to quantifify, still on the table. It would not be bad to have a bundle of ~4/5% reduction in the event loop...

[2020-09-11 12:59] mrodozov commented on #31421
you can close this issue now :)

[2020-09-11 13:00] silviodonato commented on #31427
release-notes

[2020-09-11 13:00] cmsbuild commented on #31427
Previous release "" does not appear to be a valid release name

[2020-09-11 13:00] #31421 closed

[2020-09-11 13:00] silviodonato commented on #31427
release-notes since CMSSW_11_2_0_pre6

[2020-09-11 13:01] cmsbuild commented on #31427
Generating release notes since CMSSW_11_2_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-09-11 13:01] cmsbuild commented on #31427
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre6_ROOT622 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_2_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_pre6_ROOT622

Cheers,
cms-bot

You can also click <a href="mail

[2020-09-11 13:01] cmsbuild commented on #31427
Generating release notes since CMSSW_11_2_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-09-11 13:01] cmsbuild commented on #31427
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre6_ROOT622 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_2_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_pre6_ROOT622

Cheers,
cms-bot

You can also click <a href="mail

[2020-09-11 13:02] cmsbuild commented on #31427
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre6_ROOT622

[2020-09-11 13:02] cmsbuild commented on #31427
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre6_ROOT622

[2020-09-11 13:34] smrenna commented on #31426
Are you saying that Pythia spends 3.5minutes trying to generate an event?
If so, there is something terribly wrong.

[2020-09-11 14:05] slomeo commented on #31182
@vargasa @cvuosalo @civanch @bsunanda : please take a look to #31434

[2020-09-11 14:21] agrohsje commented on #31426
Could it be related to PS weights, i.e. maybe it is not a problem with the actual parton shower. @srimanob maybe has all info to reproduce using the seed of the event.

[2020-09-11 15:16] smrenna commented on #31426
What type of an event is/was it?

Also, is there any way that seed can be used for an external run of Pythia8?

Steve

From: agrohsje <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Friday, September 11, 2020 at 9:22 AM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cms-sw/cmssw]

[2020-09-11 15:27] jan-kaspar commented on #31360
The file is used for Run2 at the moment, but it would be used for Run3 once would get there.

Currently PPS has no plans for updating Run2 geometry (beyond the DD4Hep efforts).

Personally, I feel no urgent need to change anything. However, it has bee argued by @davidlange6 @makortel that the structure that we have doesn't follow CMS standards.

[2020-09-11 15:31] Dr15Jones commented on #31426
@smrenna

Do you mean external to CMSSW?

[2020-09-11 15:44] Dr15Jones commented on #31391
I commited the script in #31436

[2020-09-11 15:48] smrenna commented on #31426
Yes.   If it is a Pythia issue, it will be easier to debug outside of CMSSW.

[2020-09-11 15:53] davidlange6 commented on #31426
Was this 3.5 minutes reproducible? I tried on a slowish node and failed to see an event taking > 1 minute (let alone 3)

On Sep 11, 2020, at 2:10 PM, agrohsje <notifications@github.com<mailto:notifications@github.com>> wrote:

I would be in favour of the proposal by @colizz<https://github.com/colizz> and increase the allowed time. Let me add @smrenna<https://github.com/smrenna> , maybe he can comm

[2020-09-11 17:17] agrohsje commented on #31426
@colizz could reproduce. He can comment more on the seed.

[2020-09-11 20:08] colizz commented on #31426
Hi,

sorry I was out for a while. With the original request this actually happens in the 7677th event. We found this particular event takes the seed shown in [0]. (Pythia is using an external random engine CLHEP::HepRandomEngine here)

In fact the issue can be reproduced with the test script of [PPD-MultiValidationUL17GEN-00004](https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_test/PPD-Mul

[2020-09-11 20:10] colizz commented on #31426
Here goes the full recipe:
[code]

[2020-09-11 20:34] smrenna commented on #31426
Can we figure out what is the type of physics event that is being processed.
Is it some LHE file?

Steve

From: Congqiao Li <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Friday, September 11, 2020 at 3:08 PM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cms-sw/cmssw] Timeout in

[2020-09-11 20:51] colizz commented on #31426
hi @smrenna: It is the ZZ process produced by Pythia (using process `WeakDoubleBoson:ffbar2gmZgmZ    = on`, cms [fragment](https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_fragment/PPD-MultiValidationUL17GEN-00004/0) here). The output should be the gen-level hepmc file yet in the root format.

[2020-09-11 20:57] colizz commented on #31426
By the way, I upload the full output for this buggy event here [1] as a reference, with the Pythia event list included.
[1] https://coli.web.cern.ch/coli/tmp/.200911-225455_enternalGenFilter/pythia.log

[2020-09-11 21:13] Dr15Jones commented on #31426
See #31441

[2020-09-11 21:23] cvuosalo commented on #31360
@jan-kaspar Let's leave Run 2 alone. When PPS starts using these files for Run 3 (if ever), then they can be revised as we discussed. In the latest PR #31383, Gabrielle has been careful not to alter existing workflows, so I suspect that Run 3 development will create new versions of these files and leave the old ones unchanged.

[2020-09-11 21:24] cvuosalo commented on #31360
-1

[2020-09-11 21:41] cvuosalo commented on #31360
@davidlange6 @makortel In #31240, files used by Run 2 were modified that caused problems with existing workflows. That led to your comments [1] [2] about the incorrect structure of `recoCTPPS_cff.py`. However, it was incorrect to modify the Run 2 files in the first place. PR #31383 replaces #31240, and the new PR carefully avoids changing existing workflows. The issue you raised has been long-stan

[2020-09-11 21:43] cvuosalo commented on #31360
@jan-kaspar I think you can close this issue, or keep it open as a reminder of how to implement Run 3 PPS Reco geometry.

[2020-09-11 21:49] makortel commented on #31360
@cvuosalo Do you specifically mean that the geometry import
https://github.com/cms-sw/cmssw/blob/04068a6ee2b79646b2005758083db57a92840ac1/RecoPPS/Configuration/python/recoCTPPS_cff.py#L12
would be left as it is? Are you sure the two ESProducers
https://github.com/cms-sw/cmssw/blob/04068a6ee2b79646b2005758083db57a92840ac1/Geometry/VeryForwardGeometry/python/geometryRPFromDB_cfi.py#L3-L12
(from Run2

[2020-09-11 22:09] smrenna commented on #31426
Awesome.   It looks like this is coming from b bbar -> Z Z.

There is probably some funny interplay with the b parton distribution in the NNLO pdf function.

Steve

From: Congqiao Li <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Friday, September 11, 2020 at 3:58 PM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention

[2020-09-11 22:41] cvuosalo commented on #31360
@makortel All the code you are pointing to is old DD code. In Run 3, its purpose is for validation comparisons. I would guess that it works OK. `geometryRPFromDB_cfi.py` has been migrated to DD4hep in #31383, and we hope that will be the production version for Run 3, so the old code you point to won't be affecting future development. When the PPS developers revise `recoCTPPS_cff.py` for Run 3, it

[2020-09-13 11:08] cmsbuild commented on #31427
The cleanup has started for slc7_amd64_gcc820

[2020-09-13 11:08] #31427 closed

[2020-09-13 11:08] cmsbuild commented on #31427
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre6_ROOT622-slc7_amd64_gcc820/1575

[2020-09-14 07:30] jan-kaspar commented on #31360
If possible, we'd like to maintain Run2-compatibility. One of the reasons is that running over Run2 data provides a very useful SW-integrity test. But I guess this can be achieved e.g. with era-dependent configuration.

[2020-09-14 08:12] jan-kaspar commented on #31360
@makortel @davidlange6 Do you agree with the suggestion to close this issue?

[2020-09-14 08:15] davidlange6 commented on #31360
I don’t, no.

[2020-09-14 08:59] jan-kaspar commented on #31360
I possibly can't see the full chain of implications, but it seems to me that we're talking about a rather small and technical change: essentially move the include of "geometryRPFromDB_cfi" from a PPS reco cff to a global geometry cff. Is it really that difficult/dangerous?

[2020-09-14 14:32] wddgit opened #31457 "Redesign in Principal, Resolver, TransitionInfo classes"
While discussing pull request #31442 there were some ideas that came up. We did not decide if or when to implement these changes. The only conclusion was that these were outside of the scope of that PR and that we should create an issue so we can continue the discussions.

1. The Principal classes seem to have different abilities for Runs, Lumis, Events, and ProcessBlocks in ways that seem to refl

[2020-09-14 14:32] cmsbuild commented on #31457
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-14 14:34] makortel commented on #31457
assign core

[2020-09-14 14:34] cmsbuild commented on #31457
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-14 15:46] cvuosalo commented on #31360
@jan-kaspar From my point of view, PPS DD4hep migration has been encountering numerous issues, which we are in the process of resolving while under significant time pressure. This issue concerns the structure of Run 2, which is working OK right now, even if it isn't structured exactly as we would like. Yes, the fix may be fairly simple, but since it deals with existing workflows, it will have to b

[2020-09-14 15:51] jan-kaspar commented on #31360
I fully agree! Would deferring this issue be OK for @davidlange6 and @makortel ?

[2020-09-14 16:26] slomeo commented on #31182
@vargasa @cvuosalo @civanch @kpedro88 : the updated list of the Overlaps for DD4HEP Scenario 2021 is present in a comment of the PR #31434

[2020-09-14 16:27] slomeo commented on #31182
@vargasa  @cvuosalo @civanch @kpedro88  : the updated list of the Overlaps for DD4HEP Scenario 2021 is present in a comment of the PR #31434

[2020-09-14 18:19] vargasa commented on #31182
Thank you @slomeo I updated the list in the issue description

[2020-09-14 18:26] kpedro88 commented on #30913
@skinnari ping

[2020-09-14 18:26] kpedro88 commented on #30853
+upgrade

[2020-09-14 18:50] kpedro88 commented on #30512
@mmusich @emiglior to continue the discussion of decommissioning T17:

There are currently 6 detector configurations in that use T17 ([Configuration/Geometry](https://github.com/cms-sw/cmssw/tree/a16dcf0392c29099c99fa7f0551b54eb574dc555/Configuration/Geometry)).

Two of these (D61 and D62) have already been moved (in the last cleanup) from T19 to T17 to make it easier to deprecate T19 (though this

[2020-09-14 20:47] wddgit commented on #29558
Here is my proposal. I could easily implement code for this behavior, but I am not sure if this is exactly the behavior that is needed. Please let me know. I am happy to change it. I think this is following what was discussed above.

Add to the SiteLocalConfigService the ability to read the following from the xml file.

[code]

Also give the service the ability to override the prefix from the serv

[2020-09-15 09:07] emiglior commented on #30512
Adding @skinnari
We want to remove T17, T19 and T20 as they correspond to a layout of the Outer Tracker (featuring thin sensors) which in practice will never be built.
Also we foresee short/medium term developments in the description of the OT (namely, the description of the signal shape and of inefficiencies in the PS-p) which will be made/tuned specifically for the thick sensors option.

[2020-09-15 10:17] ianna commented on #29206
@cvuosalo - not reproducible in CMSSW_11_2_X_2020-09-13-2300

[2020-09-15 10:20] ianna commented on #25434
@jan-kaspar and @ghugo83 - please, update or close this issue. Thanks.

[2020-09-15 10:31] ianna commented on #27343
@cvuosalo - The issue is still relevant. The 2021 scenario does not define a production cut on Protons, but a 2018 does. So, it could be undefined for a sub detector if a sub detector does not define it. In reality the sim code sets an undefined proton cut equal to electron. Perhaps, it is sufficient?

@vargasa , @jan-kaspar - FYI

[2020-09-15 10:32] jan-kaspar commented on #25434
Thanks @ianna for the reminder! Later today I will try to review the situation and take an action.

[2020-09-15 10:35] jan-kaspar commented on #27343
Thanks @ianna ! I forward to @mundim who is responsible for the PPS simulation. Also FYI @fabferro

[2020-09-15 12:20] ianna opened #31464 "[DD4hep] DT Geometry Validation"
```test/python/validateDTGeometry_cfg.py``` that is a part of IB tests does not report an error if the newly build geometry is incomplete or non existent.

1. The test succeeds if a line 169 in `DTGeometryBuilder` is commented out, e.g. there is no DT geometry built. The resulting `validateDTGeometry.root` file is empty.
[code]

2. The test succeeds if a part of the DT geometry is built. Here is a

[2020-09-15 12:20] cmsbuild commented on #31464
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-15 12:24] ianna commented on #25868
@cvuosalo and @slomeo - please, have a look at the comments in #25897. They have to be addressed. One in particular: using smart pointers.

[2020-09-15 12:25] ianna commented on #26637
@fabiocos - please, let us know if this issue is still relevant. Thanks!

[2020-09-15 12:26] ianna commented on #27095
@kpedro88 - please, let us know if this issue has not been addressed yet. Thanks!

[2020-09-15 12:36] ianna opened #31465 "[Simulation] SimG4Core/PrintGeomInfo/test/python/ Configurations Cleanup"
Most configuration fragments in `SimG4Core/PrintGeomInfo/test/python/` cannot be run due to references to an obsolete geometries or conditions.

Proposed solution:
To avoid diverging make all test configurations run in an IB. Please, see `DDCMS` package for detailed implementation of a run script:
[code]

[2020-09-15 12:36] cmsbuild commented on #31465
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-15 12:55] slomeo commented on #31464
@ianna : something like "if geom is not empty then build" and "else throw an exception"? in line 169 of DTGeometryBuilder?

[2020-09-15 12:56] ianna commented on #31051
@cvuosalo - work in progress, see my presentation https://indico.cern.ch/event/954409/

[2020-09-15 13:01] makortel commented on #31465
assign simulation

[2020-09-15 13:01] makortel commented on #31464
assign geometry

[2020-09-15 13:01] cmsbuild commented on #31465
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-15 13:01] cmsbuild commented on #31464
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-15 13:13] ianna commented on #28168
@cvuosalo and @civanch - The major differences have been fixed. I suppose, the issue can be closed.
[code]

[code]

[2020-09-15 13:14] ianna commented on #28168
+1

[2020-09-15 13:29] ianna opened #31466 "[DD4hep][Simulation] 2021 scenario: Attempt to DOUBLE-place physical volume"
When the 2021 geometry scenario is converted to G4 geometry, the physical volume double placement is reported for the following volumes:
[code]

To reproduce:
[code]

[2020-09-15 13:30] cmsbuild commented on #31466
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-15 13:34] makortel commented on #31466
assign simulation, geometry

[2020-09-15 13:35] cmsbuild commented on #31466
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@makortel,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-15 13:55] kpedro88 commented on #27095
It has not been addressed as far as I'm aware.

[2020-09-15 14:44] jan-kaspar commented on #25434
As far as I can recollect now, the suggestions included
 * by @ianna : fore reco, we should not store the full XML blob in DB, but a "pre-processed" geometry instead. For that, we have already introduced the new class "PDetGeomDesc" and next we "just" need to do use it (populate DB, updated reco configs).
 * by @perrotta : https://github.com/cms-sw/cmssw/pull/25359#issuecomment-444804426 . Now, lo

[2020-09-15 15:25] makortel commented on #29558
This is a good point that in principle the local connection string could be made allowed to point to anything the `PoolDBESSource.connect` accepts by providing hooks for prefix and suffix around the GlobalTag name. That would be more general than fixating to files in a dictionary without much additional work.

It is possible to override the whole XML file for testing purposes, would that be suffic

[2020-09-15 16:53] wddgit commented on #29558
Any other comments before I implement this and submit a PR? @ggovi @hernand

Putting the suffix in the site local configuration sounds good to me. So we go with this:
[code]
Then we make the connect string by concatenating "prefix" + "global tag" + "suffix".

It is true you can already override the whole XML for testing purposes.  Many of the other individual values available from the service also

[2020-09-15 19:59] mrodozov opened #31474 "New rivet version fails ASAN relvals with sygsegv"
After rivet was moved to version 3.1.2 in https://github.com/cms-sw/cmsdist/pull/6209
a number of ASAN workflows started failing:
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_2/2020-09-14-2300?selectedArchs=slc7_amd64_gcc820&selectedFlavors=ASAN_X&selectedStatus=failed
and the failing relvals can be seen in kibana right after the pr was merged:
https://tinyurl.com/y4ag6e7f

I ran it

[2020-09-15 20:00] cmsbuild commented on #31474
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-15 20:03] makortel commented on #31474
assign generators

[2020-09-15 20:03] cmsbuild commented on #31474
New categories assigned: generators

@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-15 20:07] makortel commented on #29558
I would combine the `prefix` and `suffix` attributes into a single element along
[code]
I think it would be clearer this way that they both are applied on the same connection, and the syntax could be easily extended to multiple fallback connections if such behavior will ever be really needed.

Right. I would be fine with adding similar parameters in `SiteLocalConfigService` for test overrides. But

[2020-09-15 20:16] wddgit commented on #29558
A single element sounds better. I agree.

I agree about the parameter also.

[2020-09-15 20:43] kpedro88 opened #31475 "MessageLogger constructors should accept string_view"
Currently, passing `std::string_view` when constructing e.g. `edm::LogInfo` produces the following errors:
[code]

This is because `std::string_view` can't be implicitly converted to `std::string`.

It would be useful to provide constructors for MessageLogger instances that accept `std::string_view`. In some cases, this would avoid extra string constructions.

[2020-09-15 20:43] kpedro88 commented on #31475
assign core

[2020-09-15 20:45] cmsbuild commented on #31475
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-15 20:45] cmsbuild commented on #31475
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-15 21:05] makortel commented on #31475
By quick look changing the `std::string const&` to `std::string_view` would allow to avoid one string creation when `edm::LogInfo` is constructed with `char const *`. The string argument is anyway copied in
https://github.com/cms-sw/cmssw/blob/916cb3d20213734a0465240720c8c8c392b92eac/FWCore/MessageLogger/src/ErrorObj.cc#L159-L163

[2020-09-15 21:44] mrodozov commented on #31474
more output, it's in geninterface ,
[code]

[2020-09-15 22:11] Dr15Jones commented on #31474
The problem is the member varaible `_HTXS` is never set to `nullptr` in the constructor.

[2020-09-15 22:42] mrodozov commented on #31474
that was it.

[2020-09-16 06:54] mrodozov commented on #31306
After reading the jemalloc 467 issue (and others and the manual) it seems that our "problem" comes from the kernel page size on our ppc and arm machines being 64k, which jemalloc configures itself to use, so in this case having the flag
`--with-lg-page=16` that sets the page size to be used 64k makes it redundant. So I removed it in https://github.com/cms-sw/cmsdist/pull/6243
It also says "this sh

[2020-09-16 06:56] mrodozov commented on #31306
![Screenshot 2020-09-16 at 09 51 05](https://user-images.githubusercontent.com/3791215/93302431-a5974a00-f802-11ea-98ca-1e8aca43358b.png)
![Screenshot 2020-09-16 at 09 50 47](https://user-images.githubusercontent.com/3791215/93302433-a6c87700-f802-11ea-803e-edec04b55ba9.png)
![Screenshot 2020-09-16 at 09 50 05](https://user-images.githubusercontent.com/3791215/93302435-a7f9a400-f802-11ea-90c7-181f

[2020-09-16 07:09] mrodozov commented on #31306
I'm explaining for Chris and Dan - we are running a monitoring script that records various metrics vms_25 50 75 90 max avg and the same is recorded for rss , you can see all available metrics here on the left panel:
https://es-cmssdt.cern.ch/kibana/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-15h,to:now))&_a=(columns:!(_source),index:AWhWonmqFDQSYvxIl8U0,interval:auto

[2020-09-16 07:13] intrepid42 commented on #31474
Ah, sorry, `nullptr`s were there but the one for `_HTXS` got lost during the attempt to change to `std::unique_ptr` :(

Thanks a lot for fixing!

[2020-09-16 07:20] #31474 closed

[2020-09-16 09:48] fabiocos commented on #26637
@ianna yes, it is unfortunately

https://cmssdt.cern.ch/lxr/source/Geometry/GlobalTrackingGeometryBuilder/plugins/BuildFile.xml

[2020-09-16 10:44] VinInn commented on #31391
I would go further
1) if NOT included anywhere: rm
2) if included in only ONE plugin: move it there together with definitions and dependencies.
3) if package remains empty: rm

[2020-09-16 10:49] davidlange6 commented on #31391
I’m pretty close to wanting to do the first of these. We have a bunch of never used incorrect stuff around.

On 16 Sep 2020, at 12:46, Vincenzo Innocente <notifications@github.com> wrote:

﻿

I would go further

  1.  if NOT included anywhere: rm
  2.  if included in only ONE plugin: move it there together with definitions and dependencies.
  3.  if package remains empty: rm

—
You are receiving t

[2020-09-16 11:26] tommasoboccali opened #31483 "failure in RunManagerMTWorker::produce() when running with 256 Threads"
(please understand this is very LOW priority - I just thought it is worth reporting)

Ciao, in a test on HPC I was trying to run a GEN-SIM job with 256 threads and 256 streams.
It works, even with very decent CPU efficiency, but from time to time it prints

%MSG-i ThreadStreamSetup:  (NoModuleName) 15-Sep-2020 15:04:10 CEST pre-events
setting # threads 256
setting # streams 256
%MSG
...
...
...
%M

[2020-09-16 11:26] cmsbuild commented on #31483
A new Issue was created by  @tommasoboccali Tommaso Boccali.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-16 11:31] silviodonato commented on #31483
assign simulation, core

[2020-09-16 11:31] cmsbuild commented on #31483
New categories assigned: core,simulation

@Dr15Jones,@smuzaffar,@mdhildreth,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-16 12:20] Dr15Jones commented on #31483
In the past we've run simulation jobs on KNLs using 256 threads without seeing that issue. Grant it, that was done near the beginning of Run 2 so has been a while.

[2020-09-16 12:23] Dr15Jones commented on #31483
@tommasoboccali which CMSSW release were you using?

[2020-09-16 12:27] makortel commented on #31483
There can, because that number counts the number of unique threads that run ~any method of `RunManagerMTWorker`, and TBB does add and remove threads from its thread pool.

In the printout

the "there is a problem" is misleading, because it just tells that the per-thread initialization has not been done yet for that particular thread (i.e. there is no real problem, as far as I can tell)
https://git

[2020-09-16 12:46] tommasoboccali commented on #31483
Thanks Chris!
indeed the job ends w/o problems, I was wondering how serious this is.

it is not 👍

tom

[2020-09-16 12:46] #31483 closed

[2020-09-16 12:52] civanch commented on #31483
I will double check, that the printout is corrected (we agreed about with Matti some time ago) - there is no problem but an indication, that there is a stream in which beginRun() initialisation was not done.

[2020-09-16 14:40] smrenna commented on #31426
Hi,

What exactly is the random number generator that is used here?
I should be able to attach it to my standalone version of Pythia to debug exactly this event.
I am having a hard time getting an event that takes so long to process.

Best,
Steve

From: Congqiao Li <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Friday, September 11, 2020 at 3:58 PM
To: cms-sw/cmss

[2020-09-16 15:04] vargasa commented on #31466
`EVFE*` are ECAL volumes
`HoleTPG*`,`RPixnoWafer`,`TPG*`,`ROChip`,`BumpBond*`,`Hybrid*`: are volumes from RP Stations
FYI @wpcarvalho, @bsunanda

[2020-09-16 15:30] mrodozov commented on #31306
Update is one of the techlab machines uses 10x RSS compared with the other one. Virtual memory for the same jobs is compatible on both machines (although its > 1Gb on average)
One can see it here: https://tinyurl.com/yxbuu7n3

[2020-09-16 16:21] smrenna commented on #31426
Hi,
I am confused about the random number state to reproduce this event.
The link you sent (https://gist.github.com/colizz/9278337879721663c2c3438cc6ca29bc)
had a seed and a vector of 38 longs.

For the HepJamesRandom generator, you need to specify a lot more than that (97 longs).
Where is that info?

Steve

From: Congqiao Li <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.co

[2020-09-16 16:22] hernand commented on #29558
What is the purpose of the suffix parameter? I understand that the prefix specifies the local location of the conditions files and the connect string will be built concatenating the prefix with the specific conditions file name, which must be related through a naming convention with the global tag, but I fail to see the role of the suffix

[2020-09-16 16:25] colizz commented on #31426
Hi @smrenna ,

Thanks for testing! I am not so sure, but I found it seems to use the CLHEP::MixMaxRng engine, with the random seed 123456789 (which indeed matches with what I observed). Does this match with the vector length?

Best, Congqiao

[2020-09-16 16:32] wddgit commented on #29558
What is the naming convention? If you are 100% positive that the part of the connection string after the global tag is nothing or always the same, then the suffix is not needed. The proposed solution would give flexibility for it to be different at different sites or time periods. And we would also need to know what the suffix is now.

[2020-09-16 16:48] hernand commented on #29558
There is no naming convention yet, we have to establish one. I guess the simplest would probably be <GlobalTag>.db
There should probably be a parameter in the pset to specify/override the conditions file name anyway.
Concerning the suffix, not sure if it is useful. The flexibility that it could introduce I guess could also be achieved by changing the prefix.

[2020-09-16 16:55] mmusich commented on #25090
Hello,
I have a general question.
I started to have a quick look to the some of the AlCa ones:
[code]

as far as I know a part from being run in the RelVals, these classes are used as part of the Prompt Calibration Loop which is run at Tier-0 in a step (`ALCASkimming`) which goes into a separate flow than the rest of Tier0 reconstruction processing [*].
Do we know if it will *ever* be run in the c

[2020-09-16 17:12] wddgit commented on #29558
We could hardcode ".db". I was just assuming that in the future it will be easier to make a change to the site local config XML file than to make a change in the software repository through the pull request process and wait for a new release. What if 2 years from now we stop using sqlite files where ".db" is reasonable and start using some other database type where the convention is that the file

[2020-09-16 17:46] smrenna commented on #31426
Hi, then we are running MixMax with N=38?

From: Congqiao Li <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Wednesday, September 16, 2020 at 11:26 AM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cms-sw/cmssw] Timeout in communication between the main and external channels in Ex

[2020-09-16 18:00] colizz commented on #31426
Hi @smrenna ,
I just look into the MinMax code and see it is using N=17 as default. Perhaps this is the case?

[2020-09-16 18:12] smrenna commented on #31426
That is what I see too.   But, then, what is the state that you gave me (with 38 long ints)?

From: Congqiao Li <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Wednesday, September 16, 2020 at 1:01 PM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cms-sw/cmssw] Timeout in communic

[2020-09-16 18:14] smrenna commented on #31426
engine.setSeed(123456789L, 0);
engine.get({2888826676L, 4222204286L, 239210476L, 2844405951L, 35428347L, 354167893L, 78655686L, 2729890738L, 145928944L, 2854232373L, 8374007L, 604295913L, 98961718L, 3463364680L, 217399053L, 1172894265L, 476173365L, 581365486L, 87742339L, 3794171095L, 467348746L, 1977749280L, 374460165L, 3619523079L, 300465183L, 67791381L, 415197038L, 4104105407L, 109639045L, 22939

[2020-09-16 18:25] colizz commented on #31426
Hi, I see that there is a `VECTOR_STATE_SIZE`defined as 2*N+4
https://gitlab.cern.ch/CLHEP/CLHEP/-/blob/master/Random/Random/MixMaxRng.h#L120
which is 38 and matches the length of the vector. Bingo!

I think we can still use the get() function to input our state vector, here it checked that the length must be 38:
https://gitlab.cern.ch/CLHEP/CLHEP/-/blob/master/Random/src/MixMaxRng.cc#L450

[2020-09-16 18:37] ghugo83 commented on #31143
Finished with PPS ;ppppp With the XMLs PR this morning.

So finally looking properly at this.

In old DD, the navigation in the Tracker is like this: https://github.com/cms-sw/cmssw/blob/CMSSW_11_1_X/Geometry/TrackerNumberingBuilder/plugins/CmsTrackerLevelBuilder.cc#L148

[code]

If you look at the PPS PR, it is exactly the same as the old DD navigation in PPS: https://github.com/cms-sw/cmssw/pull

[2020-09-16 18:39] makortel commented on #29558
I'd slightly prefer a general suffix in the XML. In the end it is arbitrary for CMSSW. I could also imagine a site using the GlobalTag as a directory name, and having a file there (that would be the same for all GTs).

[2020-09-16 20:57] #30304 closed

[2020-09-16 20:57] saghosh commented on #30304
Resolved with PR https://github.com/cms-sw/cmssw/pull/30922

[2020-09-17 03:42] smrenna commented on #31426
Hi,

I made some good progress today.   I know how to take the 38 long int input to the MixMax engine, and I get the exact same
hard event, but the rest of the development is different.

Can you tell me two things?

  1.  Which version of CMSSW did you run in that had pythia8240?
  2.  Were there any patches applied to this version of pythia8240?

Steve

P.S.  This is good news for the future.  It

[2020-09-17 05:28] srimanob commented on #31426
Hi @smrenna
Thanks very much. We are using CMSSW_10_6_16 out-of-box.

[2020-09-17 10:22] jan-kaspar commented on #25434
There was a reason for the missing copy of ``m_container``: the code in ``CTPPSGeometryESModule::applyAlignments`` needs a "shallow" copy, i.e. without children. As I agree that this was confusing, I introduce a named method for the shallow copy in https://github.com/cms-sw/cmssw/pull/31492 to avoid any possible misunderstanding.

[2020-09-17 10:25] jan-kaspar commented on #25434
I think that all items from this issue are now addressed and I suggest that @ianna closes the issue (I cannot do it).

[2020-09-17 11:13] mrodozov commented on #31123
this one is failing because of limitation on virtual memory:
https://github.com/cms-sw/cmssw/blob/master/DQMServices/Demo/test/runtests.sh#L85
and the ASAN build is reporting it:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-09-16-2300/unitTestLogs/DQMServices/Demo#/5729
with errno: 12 (cannot allocate memory)
and as we now know virt memory use in Arm is mor

[2020-09-17 12:47] makortel commented on #31123
@cms-sw/dqm-l2 @schneiml Can you comment why the test added in https://github.com/cms-sw/cmssw/commit/27dd907088652012ffdcec14599446561c334331 (#28612) explicitly limits virtual memory?

[2020-09-17 12:53] ianna commented on #29202
@silviodonato - please, check the implementation and close or update the issue. Thanks!
https://cmssdt.cern.ch/lxr/source/Geometry/CSCGeometryBuilder/python/cscGeometry_cfi.py#0023

[2020-09-17 13:56] jfernan2 commented on #31123
Hi @makortel
@schneiml is not in CMS any longer since 31st July, I can try to contact him privately if needed but my understanding from his PR description is that he introduced this check in order to not blow up in IB testing

[2020-09-17 14:00] #29202 closed

[2020-09-17 14:02] makortel commented on #31123
Should the limit be changed to be on RSS then?

[2020-09-17 14:04] jfernan2 commented on #31123
Yes, I believe it makes sense

[2020-09-17 14:22] slava77 commented on #27889
updates from Sep 17

- resolved/done
    - #31087  bad PF muon filter (merged Sep 14, 2020)
    - #31065  Update tau anti electron discriminators (merged Sep 1, 2020)
    - #31290 improving (computational) performance of PuppiProducer (merged Sep 4, 2020)
    - #31413 HF Noise Event Filter (merged Sep 16, 2020)
- new
    - (not really new, but added explicitly only now) add "Activate deepDoubleXV2

[2020-09-17 14:38] agrohsje commented on #31426
Hi @smrenna . Patches are here: https://github.com/cms-externals/pythia8/commits/cms/240 .

[2020-09-17 15:32] smrenna commented on #31426
Hi, Phat implied that it was out-of-the-box pythia8.

Sadly, I can’t quite get the initialization of my stand-alone Pythia8 to match what is going on
in CMSSW.

I probably need a CMSSW expert to figure this out.

I can get exactly the same hard-event (before the parton shower and MPI), but then
things diverge.   Already from the start, I see that the MPI cross section is slightly different.

When

[2020-09-17 16:56] cvuosalo commented on #29202
+1

[2020-09-17 16:56] cmsbuild commented on #29202
This issue is fully signed and ready to be closed.

[2020-09-17 18:16] makortel commented on #31475
Done in #31498.

[2020-09-18 08:12] #31410 closed

[2020-09-18 08:20] silviodonato opened #31502 "Segmentation violation in workflows with RecoFakeHLTPU"
Workflows
`11834.99 TTbar_14TeV+2021PU_PMXS1S2+TTbar_14TeV_TuneCP5_GenSimINPUT+PREMIX_PremixPU+DigiPU+RecoFakeHLTPU+HARVESTFakeHLTPU+Nano`
`12634.99 TTbar_14TeV+2023PU_PMXS1S2+TTbar_14TeV_TuneCP5_GenSimINPUT+PREMIX_PremixPU+DigiPU+RecoFakeHLTPU+HARVESTFakeHLTPU+Nano`
`13034.99 TTbar_14TeV+2024PU_PMXS1S2+TTbar_14TeV_TuneCP5_GenSimINPUT+PREMIX_PremixPU+DigiPU+RecoFakeHLTPU+HARVESTFakeHLTPU+Nano`
get

[2020-09-18 08:20] silviodonato commented on #31502
assign dqm

[2020-09-18 08:20] cmsbuild commented on #31502
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-18 08:20] cmsbuild commented on #31502
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-18 08:41] jfernan2 commented on #31502
I have just created a fix for this, sorry about that
https://github.com/cms-sw/cmssw/pull/31503

[2020-09-18 09:17] #31236 closed

[2020-09-18 13:15] davidlange6 opened #31505 "(A subset of) unused (header) files in cmssw"
I made a small search for unused code in cmssw. I found the list below (I'm certain another pass through is needed..). I'd like to make a PR with any files on this list not thought to be needed.. Please comment on anything that is still useful in some form (of course GitHub has the history ...)

Bugs aside.... "unused" means not used by anything that is compiled by the cmssw build. In cases where

[2020-09-18 13:16] cmsbuild commented on #31505
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-18 13:20] makortel commented on #31505
assign alca, analysis, reconstruction, dqm, core, simulation, geometry, l1

(did I miss any?)

[2020-09-18 13:21] cmsbuild commented on #31505
New categories assigned: core,geometry,analysis,simulation,reconstruction,l1,dqm,alca

@Dr15Jones,@Dr15Jones,@smuzaffar,@cvuosalo,@mdhildreth,@mdhildreth,@jfernan2,@slava77,@benkrikler,@christopheralanwest,@andrius-k,@fioriNTU,@tlampen,@pohsun,@santocch,@rekovic,@perrotta,@makortel,@makortel,@jpata,@tocheng,@kmaeshima,@ianna,@ErnestaP,@civanch,@civanch you have been requested to review this Pull r

[2020-09-18 13:21] makortel commented on #31505
assign db

(yes I did)

[2020-09-18 13:22] cmsbuild commented on #31505
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-18 13:22] makortel commented on #31505
assign daq

[2020-09-18 13:23] cmsbuild commented on #31505
New categories assigned: daq

@smorovic,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-18 13:23] makortel commented on #31505
assign generators

[2020-09-18 13:24] cmsbuild commented on #31505
New categories assigned: generators

@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-18 14:18] #31475 closed

[2020-09-18 14:31] davidlange6 commented on #31505
as far as I see, commits in the last 4 years affecting this files that were possibly not technical migrations are

CondTools/Ecal/interface/EcalPFRecHitThresholdsXMLTranslator.h
76d8a578b9b - Stefano Argiro, 2 years, 7 months ago : Initial commit for new PF threshold DB object
DetectorDescription/Core/interface/DDRegistry.h
bdf08d0ca77 - Ianna Osborne, 3 years, 3 months ago : Merge Base to Core
Je

[2020-09-18 14:33] smorovic commented on #31505
+1
(for DAQ) - two headers, both in EventFilter/Utilities, are obsolete

[2020-09-18 14:35] kpedro88 opened #31506 "Missing wafers in HGCal trigger map"
#31428 fixed a bug in the definition of valid cells for HGCal.

Since that PR was merged, step2 logs for WF 23234.0 (D49 detector) have a number of messages like this:
[code]

@jbsauvan can you make the necessary updates?

[2020-09-18 14:35] kpedro88 commented on #31506
assign l1,upgrade

[2020-09-18 14:35] cmsbuild commented on #31506
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-18 14:35] cmsbuild commented on #31506
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-18 15:27] lwang046 commented on #31505
The two headers for hcal dqm are test codes and never used after creation. Can be safely removed.

[2020-09-18 15:34] lathomas commented on #27889
Hello.
Two more things we hope to have for UL reminiaod on the JME side:
- quark gluon likelihood retraining
- update of the prefiring maps. (this one would just be an update of the related file in https://github.com/cms-data/PhysicsTools-PatUtils in principle)

[2020-09-18 15:41] jbsauvan commented on #31506
I will have a look

[2020-09-18 15:53] ianna opened #31509 "[DD4hep][Performance] Use DDFilteredView::level instead of copyNos().size()"
The following code uses `DDFiltereView::copyNos().size()` where a `DDFiltereView::level()` is sufficient:
[code]
@bsunanda - could you, please, look into it after the PR #31508 is merged? Thanks

[2020-09-18 15:53] cmsbuild commented on #31509
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-18 15:58] makortel commented on #31509
assign geometry

[2020-09-18 15:58] cmsbuild commented on #31509
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-18 16:43] cvuosalo commented on #31505
The entirety of `DetectorDescription/Core` and `DetectorDescription/RegressionTest` is intended to be deleted next year. It doesn't really matter if some obsolete files within these packages are deleted now.

[2020-09-18 17:00] slava77 commented on #31505
the list is too long to have an immediate response, I expect that all individual packages will need to be checked separately with corresponding groups; it may not be practical to tag 20+ reco contacts here.

[2020-09-18 18:42] makortel commented on #30937
Fixed in #31512.

[2020-09-19 15:22] slava77 commented on #27889
I added these to the feature list.

A couple of items were updated in the list as well:
- #31420 HF jet shower shape is now merged (Sep 18, 2020)
- "#31510 HCAL slimmed collections" is added to the list of features

[2020-09-21 09:16] jan-kaspar opened #31518 "Integration of PPS alignment code"
Dear AlCa colleauges (@pohsun, @tlampen, @tocheng, @christopheralanwest),

PPS is preparing an integration of its alignment code to CMSSW. It has two parts:
  * relative alignment among sensors in one PPS arm - this is to be run manually on special data samples
  * global alignment of PPS detectors wrt the LHC beam - here we plan two execution regimes
    * "automatic" for quick analysis eventuall

[2020-09-21 09:16] cmsbuild commented on #31518
A new Issue was created by  @jan-kaspar .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-21 10:08] mmusich commented on #22278
@smuzaffar and @wmtford
was there perhaps any conclusion on this issue?

@carolinecollard for your information.

[2020-09-21 11:41] ianna opened #31519 "[Geometry][Tracker] 2021 Scenario Needs to be Checked"
Evgueni Tcherniaev repots subtraction of non-overlapping solids in the Tracker. Note also the Shape differences between `+ `and `-` **Z** in the last four snapshots.

@ghugo83 and @vargasa - FYI

[code]
Please, see the attached snapshots of the SubtractionSolids.
<img width="871" alt="Screenshot 2020-09-21 at 13 19 04" src="https://user-images.githubusercontent.com/1390682/93762051-28f3d980-fc0f-1

[2020-09-21 11:41] ianna commented on #31519
@civanch - FYI

[2020-09-21 11:41] cmsbuild commented on #31519
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-21 11:51] ianna opened #31520 "[Geometry][Muon] 2021 Geometry Scenario Needs to be Checked"
Evgueni Tcherniaev repots subtraction of non-overlapping solids in the **Muon barrel SuperLayer Gas** volumes:
[code]
<img width="870" alt="Screenshot 2020-09-21 at 13 47 31" src="https://user-images.githubusercontent.com/1390682/93763196-47f36b00-fc11-11ea-9bd5-13744af71eef.png">

and ME:
[code]

@slomeo - FYI
@civanch - FYI

[2020-09-21 11:52] cmsbuild commented on #31520
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-21 11:59] slomeo commented on #31520
@ianna : I'm sorry but I didn't understand what is the problem?

[2020-09-21 12:01] ianna opened #31521 "[Geometry][BRM] 2021 Geometry Scenario Needs to be Checked"
Evgueni Tcherniaev repots subtraction of non-overlapping solids in the BSC description:
[code]
<img width="873" alt="Screenshot 2020-09-21 at 13 53 27" src="https://user-images.githubusercontent.com/1390682/93764047-be449d00-fc12-11ea-8a82-3326f05b103b.png">
<img width="873" alt="Screenshot 2020-09-21 at 13 54 57" src="https://user-images.githubusercontent.com/1390682/93764058-c0a6f700-fc12-11ea-9

[2020-09-21 12:01] cmsbuild commented on #31521
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-21 13:11] makortel commented on #31518
assign alca

[2020-09-21 13:11] cmsbuild commented on #31518
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-21 13:12] makortel commented on #31519
assign geometry

[2020-09-21 13:12] cmsbuild commented on #31519
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-21 13:13] makortel commented on #31520
assign geometry

[2020-09-21 13:13] cmsbuild commented on #31520
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-21 13:13] makortel commented on #31521
assign geometry

[2020-09-21 13:13] cmsbuild commented on #31521
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-21 13:55] jbsauvan commented on #31506
Should be fixed in #31524, with  cms-data/L1Trigger-L1THGCal#20

[2020-09-21 13:57] vargasa commented on #31519
Hi @ianna, thanks. I can have a look

[2020-09-21 14:07] makortel commented on #30913
@skinnari Any progress? (@rekovic @benkrikler)

[2020-09-21 14:37] wddgit commented on #29558
I am going to press forward and implement this today. I will include the suffix. It is easy to include it and the flexibility it adds might be useful. I will submit a PR as soon as it is ready. Let me know if there are objections and you want me to stop or do something different than discussed above...

[2020-09-21 15:23] ianna commented on #31520
There are two problems.

The first one is that we have a `SubtractionSolid` volumes in 2021 scenario where the two solids that constitute it do not overlap. That means that a final shape can be replaced with a first child.

The second problem is that this particular issue has been fixed for Run 2 geometry in https://github.com/cms-sw/cmssw/pull/15674/ on 13 Sep 2016.

<img width="1092" alt="Screen

[2020-09-21 15:24] ianna commented on #31520
<img width="711" alt="Screenshot 2020-09-21 at 17 23 53" src="https://user-images.githubusercontent.com/1390682/93786150-420c8280-fc2f-11ea-80d2-55b79c5bbbde.png">

[2020-09-21 15:29] ianna commented on #31520
Here is a snapshot of my presentation explaining the situation :-)
<img width="718" alt="Screenshot 2020-09-21 at 17 26 35" src="https://user-images.githubusercontent.com/1390682/93786639-da0a6c00-fc2f-11ea-8f76-d32cb1824499.png">
<img width="715" alt="Screenshot 2020-09-21 at 17 26 44" src="https://user-images.githubusercontent.com/1390682/93786643-daa30280-fc2f-11ea-867b-2eed6f7723bf.png">
<img

[2020-09-21 15:47] smuzaffar commented on #22278
@prebello , T2_CH_CERN restriction was added to make sure that we transfer dataset/blocks to CERN under ib-relval group. This is not needed any more as now IBs/PR use files from ibeos area. I have no objections on dropping this restriction or adding a command-line option to drop this.

Let me know which option whould you prefer (adding new command-line option is safe though)?

[2020-09-21 16:44] mmusich commented on #22278
I think @prebello left PdmV since some time.
I am adding the current PdmV team instead:  @chayanit, @wajidalikhan, @jordan-martins

[2020-09-21 18:23] vargasa commented on #31519
Hi @ianna

I see no difference between `dd` and `dd4hep` so I assume this is not a migration related issue.

Is the task to substitute the existing `SubtractionSolid` with an `UnionSolid`? (as in https://github.com/cms-sw/cmssw/issues/31520#issuecomment-696190608)

Is this "only" about performance? or Why exactly there is an issue with the `SubstractionSolid` usage?

[2020-09-21 19:38] ianna commented on #31519
@vargasa - the issue is unrelated to the migration. It can be performance related or it is an indication of a bug. I'll give you an example. Say, a `SubtractionSolid` is defined as a `BoxA` minus a `BoxB`. If these boxes do not overlap, the `SubtractionSolid` is equal to a `BoxA`. Either the `BoxA` can replace the `SubtractionSolid` in the definition, or it's a bug where the `BoxB` position is inc

[2020-09-21 19:38] smrenna commented on #31426
Hi,

What are the compiler settings used for building this version of Pythia8.

On my laptop, I can reproduce this event up to a point, but then there is a divergence deep in the event
(i.e. there is something accepted in the CMSSW version that is rejected in the standalone version).

This led me to think that maybe it was something different between clang and gcc.

I built my code on lxplus and i

[2020-09-21 19:41] dan131riley commented on #31123
wrt the crashes in multiple threads, on arm64 it is possible to get asynchronous processor exceptions on stores, so it's not hard to get a race condition where multiple threads execute the same bad store within the async store window.  We might have a race condition in TCling that's generating bad code, that could account for all the threads failing, but so far I haven't identified a candidate rac

[2020-09-21 20:32] vargasa commented on #31519
I only have access the final shape. Can Evgueni provide more details about how to reproduce the issue? i.e How can we see that `TIBModHybLedgeNoCut` and `TIBModHybLedgeCut` (etc) are non-overlapping?. I see them [here](https://cmssdt.cern.ch/lxr/source/Geometry/TrackerCommonData/data/tibmodpar.xml#0112) but from there it's not obvious to me there's an issue with the definition

I may be missing so

[2020-09-22 06:14] chayanit commented on #22278
Thanks for pointing this to us. Adding new command-line would be a good option. Could you provide the PR? @smuzaffar

[2020-09-22 06:53] ianna commented on #31519
There is no magic bullet. To enable easier debugging I can suggest to change a `SubtractionSolid` to a `UnionSolid` and see where the constituting shapes are with respect to each other. Another option is to add both constituting shapes separately.

[2020-09-22 08:46] smuzaffar commented on #22278
https://github.com/cms-sw/cmssw/pull/31535 adds `--sites <site>` option to select a specific site. Setting it to emptry string will search all sites. Default is  T2_CH_CERN

[2020-09-22 12:18] agrohsje commented on #31426
Hi @smrenna. What about the PR: https://github.com/cms-externals/pythia8/commits/cms/240
Did you include them in your standalone version?

[2020-09-22 12:52] smrenna commented on #31426
I concluded that they didn’t make a difference.
However, it is simple enough to add them in, now that I have the random number issue
sorted out.
At the same time, I would like to know the specific compiler options used in building the library.

Best,
Steve

From: agrohsje <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Tuesday, September 22, 2020 at 7:18 AM
To: cms

[2020-09-22 13:00] makortel commented on #31426
i believe the build options for pythia8 are here
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/master/pythia8.spec

@smuzaffar @mrodozov Please confirm.

[2020-09-22 13:13] mrodozov commented on #31426
yes that's it.

[2020-09-22 13:19] smrenna commented on #31426
Oh, but what is the compiler (gcc 8.3.1?) and are there CMS specific CXX options?

From: Mircho Rodozov <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Tuesday, September 22, 2020 at 8:13 AM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cms-sw/cmssw] Timeout in communication betw

[2020-09-22 13:26] smuzaffar commented on #31426
GCC is 8.4.0  ( https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/master/gcc.spec ) and as you can see in https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/master/pythia8.spec we do not pass any cms specific options
[code]

[2020-09-22 13:28] mrodozov commented on #31426
the compiler is this:
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/master/gcc.spec
its 8.4.0 . Where did you get the 8.3.1 from ?

[2020-09-22 13:30] smuzaffar commented on #31426
by the way, we used to build pythia8 from https://github.com/cms-externals/pythia8/commits/cms/243 (where we have some patches on top of version 243). I see that @mkirsano requested to update it to version 302 which we take from http://home.thep.lu.se/~torbjorn/pythia8/%{n}%{realversion}.tgz . Are we missing any pacthes on top of version 302?

[2020-09-22 13:38] smrenna commented on #31426
Hi,
I am on lxplus, and in CMSSW release 10_6_16.
After executing “cmsenv”, I then type “gcc -v”.
I get 8.3.1.
Is that wrong?

Steve

From: Mircho Rodozov <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Tuesday, September 22, 2020 at 8:28 AM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@noreply.github.com>
Subjec

[2020-09-22 13:48] mrodozov commented on #31426
no its not but we gave you the gcc version for 11_2.
For 10_6 is 8.3.1 https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_6_X/gcc820/gcc.spec

[2020-09-22 13:49] smuzaffar commented on #31426
ah this is for 10.6.X release cycle. Yes for that GCC version of 8.3.1 but production architecture for 10.6.X is slc7_amd64_gcc700.
For 10.6.16 , we are using pythia8 240 ( https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_6_X/gcc820/pythia8.spec ) from https://github.com/cms-externals/pythia8/commits/cms/240

[2020-09-22 14:20] colizz commented on #31426
Hi, I happened to find something new and is related to this.

Using the pythia8 in CMSSW_10_6_16 out-of-the-box with the [above recipe](https://github.com/cms-sw/cmssw/issues/31426#issuecomment-691290707), we face this low-response issue, and here's the event output as shown before:
(1) https://coli.web.cern.ch/coli/tmp/.200911-225455_enternalGenFilter/pythia.log

However, using the same module Ex

[2020-09-22 15:24] mmusich commented on #31381
This issue has been solved by #31381, AlCa and DQM conveners might want to sign this.

[2020-09-22 15:24] #31381 closed

[2020-09-22 15:25] mmusich commented on #31171
closing, fixed by #31177

[2020-09-22 15:25] #31171 closed

[2020-09-22 15:40] mrodozov opened #31539 "Unit test failure in DQM/Integration ARM IB"
There is consistent failure in the Arm IB in DQM/Integration failing in :
`DQM/Integration/test/runtest.sh: line 19: 37857 Segmentation fault `
which is actually failing in
DQMServices/FileIO/plugins/DQMFileSaverPB.cc
when calling this function
https://github.com/cms-sw/cmssw/blob/master/DQMServices/FileIO/plugins/DQMFileSaverPB.cc#L342
from within this one:
https://github.com/cms-sw/cmssw/blob/ma

[2020-09-22 15:40] cmsbuild commented on #31539
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-22 15:42] makortel commented on #31539
assign dqm

[2020-09-22 15:42] cmsbuild commented on #31539
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-22 16:17] dan131riley commented on #31306
Does the command `getconf PAGESIZE` give the same result on both systems?

[2020-09-22 16:32] mrodozov commented on #31306
It does. its 65536 on all arm and ppc machines

[2020-09-22 16:57] agrohsje commented on #31426
@colizz  but output is already because of nthread option before we impose the seed:
 |    pT0 =  1.44 gives sigmaInteraction =   461.63 mb: accepted    |
 |    pT0 =  1.44 gives sigmaInteraction =   464.40 mb: accepted    |

[2020-09-22 17:10] colizz commented on #31426
@agrohsje thanks! So that might be the cause. The random state during the pythia initializing period should also affect event output. We need to acquire that state also.

[2020-09-22 18:08] colizz commented on #31426
Hi, after imposing another set of random state before initializing Pythia, we finally reproduce the same event. Here is the patch: https://github.com/colizz/cmssw/commit/fb04accb9d86a6188a6ed8cbfe238d7a0f08f44f. (the second imposed state is for initializing)
The initializing procedure may include Pythia settings defined [here](https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_16/GeneratorInterface/P

[2020-09-22 18:36] smrenna commented on #31426
Hi,

After emailing with experts at FNAL, it might be that initialization needs to be done with seed+1.
I have confirmed this explicitly in my stand-alone version of Pythia8.
So, it seems that 123456790 is used for initializing Pythia8.
The seed 123456789 is used for a second random number generator.

Steve

From: Congqiao Li <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.co

[2020-09-22 19:27] christopheralanwest commented on #31381
+alca

[2020-09-22 19:47] jfernan2 commented on #31381
+1

[2020-09-22 19:47] cmsbuild commented on #31381
This issue is fully signed and ready to be closed.

[2020-09-22 19:51] wddgit commented on #29558
PR #31544 implements the solution we discussed here. We can close this now.

[2020-09-22 21:35] smrenna commented on #31426
Hi,
Success on reproducing the long event outside of CMSSW.
The reasons why it was tricky:

  1.  The seed used is actually 123456789+1 = 123456790
  2.  The last patch in cmssw/pythia8 is NOT in this build.    I know this because I explicitly rebuilt
Pythia8Interface with and without the change to SimpleTimeShower, and only the version
without the ‘reverted’ patch reproduces the event within CMSS

[2020-09-23 06:34] slomeo commented on #31520
@ianna : looking at your first comment (i.e the list made by Evgueni Tcherniaev), it seems that MBSLPhiGas_a and MBSLPhiIBeamWing are not overlapping so the subtraction (for example MBSLPhiGas_b0x7fd6a2943c60 = MBSLPhiGas_a0x7fd6a23ddf00 - MBSLPhiIBeamWing0x7fd6a23ddf8) doesn't make sense (i.e its better to perform a union solid) do I understand well?
P.S which the git name of Evgueni Tcherniaev?

[2020-09-23 06:54] mmusich opened #31550 "A new ZeroMaterial GeometryFileRcd payload is needed for the Run-3 scenario"
Posting here, as per comment https://github.com/cms-sw/cmssw/pull/31529#issuecomment-696881700.
A new `ExtentedZeroMaterial` labeled database tag for `GeometryFileRcd`, based on the `Extended2021ZeroMaterial` scenario introduced in #31082 is needed in order to process some samples for Run-3 calibration studies [*]

[*] https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/7302.html

[2020-09-23 06:54] cmsbuild commented on #31550
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-23 07:05] ianna commented on #31520
yes.

@civanch might know

[2020-09-23 07:09] ianna commented on #31550
assign geometry

[2020-09-23 07:09] cmsbuild commented on #31550
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-23 07:31] schneiml commented on #31123
@makortel The point of the test is to prove that there are no unnecessary duplications of histograms, buy reducing memory so much that it would run out if there is another set of duplicates.

I think I limited virtual memory because it worked more reliably with `ulimit` in my tests (making sure the test does actually fail when more histograms are allocated). It is well possible that that causes pr

[2020-09-23 08:07] #28354 closed

[2020-09-23 10:24] silviodonato opened #31551 "Build CMSSW_10_2_24"

[2020-09-23 10:25] cmsbuild commented on #31551
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-23 10:26] silviodonato commented on #31551
+1

[2020-09-23 10:26] cmsbuild commented on #31551
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_24. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-09-23 10:26] cmsbuild commented on #31551
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-09-23 10:28] cmsbuild commented on #31551
The build has started for slc7_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2645/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-23 10:28] cmsbuild commented on #31551
The build has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2644/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-23 12:19] b-fontana opened #31552 "HGCAL: Distance cut missing from 2DCluster's position calculation"
Upon inspecting [the calculation of 2DClusters positions in release](https://github.com/cms-sw/cmssw/blob/master/RecoLocalCalo/HGCalRecProducers/plugins/HGCalCLUEAlgo.cc#L182-L237), I realized no cut has been so far applied that limits the hits being considered to a radius of 13mm. The cut is however present in the [ImagingAlgo code](https://github.com/cms-sw/cmssw/blob/master/RecoLocalCalo/HGCalR

[2020-09-23 12:20] cmsbuild commented on #31552
A new Issue was created by  @b-fontana .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-23 13:16] makortel commented on #31552
assign reconstruction

[2020-09-23 13:17] cmsbuild commented on #31552
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-23 13:34] perrotta commented on #31552
@felicepantaleo @rovere

[2020-09-23 14:13] cmsbuild commented on #31551
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_24-slc7_amd64_gcc700/2645
Some tests (

[2020-09-23 14:51] jfernan2 commented on #31502
I believe this Issue can be closed since the two PRs were merged

[2020-09-23 14:52] jfernan2 commented on #31502
+1

[2020-09-23 14:52] cmsbuild commented on #31502
This issue is fully signed and ready to be closed.

[2020-09-23 14:52] jfernan2 commented on #30853
+1

[2020-09-23 14:53] jfernan2 commented on #30853
This issue can be closed IMHO

[2020-09-23 14:53] cmsbuild commented on #30853
This issue is fully signed and ready to be closed.

[2020-09-23 14:54] jfernan2 commented on #30588
pinging  @hatakeyamak or @akanugan ?

[2020-09-23 14:55] jfernan2 commented on #30324
+1

[2020-09-23 14:55] cmsbuild commented on #30324
This issue is fully signed and ready to be closed.

[2020-09-23 14:58] #30853 closed

[2020-09-23 14:58] cmsbuild commented on #31551
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_24-slc7_amd64_gcc700/2645

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-23 14:59] #30324 closed

[2020-09-23 14:59] #31502 closed

[2020-09-23 15:01] jfernan2 commented on #31539
@mrodozov  do we have any log or any recipe to reproduce the error? Thanks!

[2020-09-23 15:05] cmsbuild commented on #31551
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_24-slc6_amd64_gcc700/2644
Some tests (

[2020-09-23 15:05] mrodozov commented on #31539
unfortunately the only way to reproduce it is on Arm it doesn't manifest itself even in ASAN IBs :/
The recipe is to just run the unit test on Arm (having an account)
I can add your user because I have sudo rights is one way of doing it

[2020-09-23 15:08] jfernan2 commented on #31539
OK, but then I would need some tutorial or twiki on Arm too, I know nothing about it :-|

[2020-09-23 15:14] smuzaffar commented on #31161
@kpedro88 , I updated this script to use xrdfs https://github.com/cms-sw/cmssw/pull/31553

[2020-09-23 15:16] mrodozov commented on #31539
not much difference actually, at least not from debugging a program viewpoint.
they(cern techlab people) voided my sudo rights, we have to ask for you to be added in the "normal" way as a user