[2020-09-23 15:18] jfernan2 commented on #31539
OK, is there any JIRA project or so where I should request an account for my username?

[2020-09-23 15:43] cmsbuild commented on #31551
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_24-slc6_amd64_gcc700/2644

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-23 15:59] mrodozov commented on #31539
Use this link
https://cern.service-now.com/service-portal?id=functional_element&name=Hardware-Labs
and submit a request explaining you are from CMS and you want access to
techlab-arm64-thunderx2-02
techlab-arm64-thunderx-02
machines for dev purposes.

[2020-09-23 22:28] vargasa commented on #31519
@ianna  I dumped the 2015 geometry using `9_2_0` and they look the same:

![Screenshot from 2020-09-23 18-13-30](https://user-images.githubusercontent.com/16821717/94075238-d2ca9600-fdc8-11ea-917e-16dcf00697b1.png)

![Screenshot from 2020-09-23 18-13-24](https://user-images.githubusercontent.com/16821717/94075240-d2ca9600-fdc8-11ea-8312-10ae09968271.png)

Both complement each other,

![Screenshot

[2020-09-24 00:11] vargasa commented on #31519
Regarding the `SubtractionSolid`:

##### From [`TGeoMgrFromDdd`](https://cmssdt.cern.ch/lxr/source/Fireworks/Geometry/plugins/TGeoMgrFromDdd.cc#0447) logs I see:

`TOBRodH`
[code]

`TOBRodH`
[code]
If I understand correctly the `TGeoBBox` constructor they (`TOBRodout` and `TOBRodin`) are in fact overlapping, as [a common origin is provided](https://cmssdt.cern.ch/lxr/source/Fireworks/Geometry/plug

[2020-09-24 00:35] vargasa commented on #31519
The subtraction is subtle but it is there:

![Screenshot from 2020-09-23 20-33-48](https://user-images.githubusercontent.com/16821717/94087608-314d3f80-fddc-11ea-8f59-2e28e1fcb35a.png)

[2020-09-24 07:07] slomeo commented on #31520
@ianna : ok, just another question always related (for example) to "MBSLPhiGas_b0x7fd6a2943c60 = MBSLPhiGas_a0x7fd6a23ddf00 - MBSLPhiGas_a0x7fd6a23ddf8". Looking at the code when SubtractionSolid will become UnionSolid, as MBSLPhiGas_a and MBSLPhiGas_a don't overlap, this means that <Translation x="17.175*mm" z="5.1*mm" y="0.*fm"/> will be <Translation x="0*fm" z="0*fm" y="0.*fm"/>, Am I correct?

[2020-09-24 07:27] jpata commented on #30895
Fixed by https://github.com/cms-sw/cmssw/pull/31456, can be closed.

[2020-09-24 07:30] ianna commented on #31520
@slomeo - as you can see fro the xml and from the snapshots four `SubtractionSolid`s (lines #72-97) are replaced by one `UnionSolid` (lines #72-80) and their constituting shapes are not the same.

[2020-09-24 07:32] ianna commented on #31519
It's the same for the 2017 geometry scenario:

<img width="948" alt="Screenshot 2020-09-23 at 19 17 45" src="https://user-images.githubusercontent.com/1390682/94046951-a6674780-fdd1-11ea-9b13-14cad3be0eb4.png">
<img width="944" alt="Screenshot 2020-09-23 at 19 18 01" src="https://user-images.githubusercontent.com/1390682/94046954-a7987480-fdd1-11ea-8095-b48264a933a9.png">

[2020-09-24 08:41] slomeo commented on #31520
ianna: ok, I understood, but as regards "MB1SLZGas_b0x7fd6a2943ee0 = MB1SLZGas_a0x7fd6a23e6800 - MB1SLZIBeamWing0x7fd6a23e6880" I see that inside data/Run2/mb1.xml ( your old PR #15674) and data/mb1/2015/v2/mb1.xml (i.e Scenario 2021) the MB1SLZGas definitions are identical (i.e SubstractionSolid). What do I have to do? Do I edit them in the same way of MBSLPhiGas?

[2020-09-24 08:44] jpata commented on #31280
Note: this is addressed in #31191 (not yet reviewed/merged): https://github.com/cms-sw/cmssw/pull/31191/files#diff-d8b43a58384a8e7415021b981d132c56R31
MultiLinks is an implementation detail of PFBlockAlgo that should not be exposed or used outside.

[2020-09-24 08:48] jpata commented on #31385
Another thing to clean up:

HCALAndBREMLinker calls `LinkByRecHit::testTrackAndClusterByRecHit`, which always seems to return `dist=-1` for HCAL and BREM.
https://github.com/cms-sw/cmssw/blob/ec4c535880057c2e4d4d8b603f872bc9ea9eba43/RecoParticleFlow/PFProducer/plugins/linkers/HCALAndBREMLinker.cc#L38
https://github.com/cms-sw/cmssw/blob/ec4c535880057c2e4d4d8b603f872bc9ea9eba43/RecoParticleFlow/PFC

[2020-09-24 09:01] silviodonato commented on #31551
upload all

[2020-09-24 09:02] cmsbuild commented on #31551
Queing Jenkins upload for slc6_amd64_gcc700

[2020-09-24 09:02] cmsbuild commented on #31551
Queing Jenkins upload for slc7_amd64_gcc700

[2020-09-24 09:03] cmsbuild commented on #31551
The upload has started for slc7_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1699/console

[2020-09-24 09:03] cmsbuild commented on #31551
The upload has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1698/console

[2020-09-24 09:05] cmsbuild commented on #31551
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_24-slc7_amd64_gcc700/1699

[2020-09-24 09:10] cmsbuild commented on #31551
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_24-slc6_amd64_gcc700/1698

[2020-09-24 09:19] jpata commented on #31158
Just making a note here that per Jiwoong's latest [profiling](http://jiwoong.web.cern.ch/jiwoong/circles/web/piechart.html?local=false&dataset=resources_RECO_11_2_0_pre6&resource=time_real&colours=default&groups=reco_PhaseII&threshold=0) the PFDisplacedVertexProducer and PFDisplacedVertexCandidateProducer take up ~30% of the CPU budget in PF.

![image](https://user-images.githubusercontent.com/697

[2020-09-24 09:28] ianna commented on #31520
@slomeo - I think, these are also good candidates to be replaced (e.g. one `UnionSolid` instead of 4 `SubtractionSolids`). There are quite a few of these volumes:
<img width="934" alt="Screenshot 2020-09-24 at 11 23 16" src="https://user-images.githubusercontent.com/1390682/94126892-7fa02400-fe58-11ea-93fe-6c8b605f617c.png">

and it looks like the `SubtractionSolid` does not do much, however, repl

[2020-09-24 09:36] slomeo commented on #31520
@ianna : ok I already wrote new lines for MBSLPhiGas and MBChimSLPhiGas as you did in PR #15674. My question is for MB1 (probably MB2, MB3, MB4). It seems that, for MB1, the MB1SLZGas definition is the same for both mb1.xml files (Run2 and Run3).  Do I have to do the same job for MB1SLZGas as I did for MBSLPhiGas?

[2020-09-24 09:39] ianna commented on #31520
yes, I think so. Thanks!

[2020-09-24 10:02] #30895 closed

[2020-09-24 10:02] etcherniaev commented on #31520
@slomeo, @ianna : implementation of Boolean solids in G4 is rather complex. For this  reason, from performance point of view, it is always better to apply other solutions instead of Boolean operations. For example, "holes" can be defined as daughter volumes with different from the mother volume material.

In this particular case, I would suggest to consider also usage of G4ExtrudedSolid. Or, in ca

[2020-09-24 11:54] ianna commented on #31520
@etcherniaev - these volumes are very small, numerous, and sensitive. Three box solution will lead to tons of rounding overlaps for sure ;-)

[2020-09-24 12:12] ianna opened #31567 "[Geometry][Tracker][RECO] Legacy GeometricDetExtra to be removed"
`GeometricDetExtra` was used to store and access extra information for `GeometricDet` s such as its material, its volume, its weight, etc. None of it is used in RECO any more. Is it time to remove legacy `GeometricDetExtra`, its `PGeometricDetExtra` schema and a DB payload?

@vargasa, @ghugo83  - Could you, please, discuss it with Tracker DPG? Thanks
@cvuosalo - FYI

[2020-09-24 12:12] cmsbuild commented on #31567
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-24 12:31] slomeo commented on #31520
@etcherniaev @ianna : I think that it's better (for now) to proceed with UnionSolid instead of SubtractionSolid in order to not create other problems with overlaps.. I don't need them (again) :-)

[2020-09-24 12:47] makortel commented on #31567
assign geometry

[2020-09-24 12:47] cmsbuild commented on #31567
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-24 13:27] slomeo commented on #31520
@ianna : as regards ME, I searched (for example) ME12AlumFrameTemp and I found some results (please see: https://cmssdt.cern.ch/lxr/search?%21v=CMSSW_11_2_X_2020-09-23-2300&_filestring=&_string=ME12AlumFrameTemp). What is the right file to edit? csc.xml, mf.xml...

[2020-09-24 13:40] cvuosalo commented on #31519
@ianna @vargasa I am understanding that issues raised here are long-standing and were in Run 2. The subtraction solid seems to be valid. The size mismatch may be intentional and not a mistake, or, at least, it might be mistake that was also in Run 2.
Please confirm that the DB payloads PR should not wait for this issue and should go forward.

[2020-09-24 13:48] cvuosalo commented on #31520
@ianna @slomeo From this discussion, I understand that the subtraction solids mentioned are non-optimal but mostly harmless and have existed in Run 2.
Please confirm that the geometry DB payloads (#31529) can go ahead without the resolution of this issue. When this issue is fully resolved, we can consider whether to upload new DB payloads. At that time, PPS geometry might also be completed and giv

[2020-09-24 14:48] ianna opened #31569 "[DD4hep] MagnetidField Geometry Builder to Use dd4hep::Solid"
@namapane - this is not urgent, but it would be nice to cleanup an extra layer of classes that redefine the same shapes as the DD4hep does. Please, have a look at the proposal and let us know what you think. Thanks.

Please, see:
https://cmssdt.cern.ch/lxr/source/DetectorDescription/DDCMS/interface/DDShapes.h
vs
https://dd4hep.web.cern.ch/dd4hep/reference/Shapes_8h_source.html

The MF geometry bui

[2020-09-24 14:48] cmsbuild commented on #31569
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-24 14:53] makortel commented on #31569
assign geometry, reconstruction

[2020-09-24 14:53] cmsbuild commented on #31569
New categories assigned: geometry,reconstruction

@Dr15Jones,@cvuosalo,@mdhildreth,@slava77,@perrotta,@makortel,@jpata,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-24 15:23] namapane commented on #31569
@ianna - Looks like a nice idea, but we have to check the fine print.
I am worried about the old issue of our payloads still containing the unsupported PseudoTraps which I managed to circumvent with the gymnik:
`vector<double> d = solid.volume().volume().solid().dimensions();`
this workaround woluld break by changing this to
`vector<double> d = solid.dimensions();`
unless something was fixed in th

[2020-09-24 15:55] ianna commented on #31569
@namapane - Thanks for the reminder! Indeed one can construct it:
https://dd4hep.web.cern.ch/dd4hep/reference/ShapeUtilities_8cpp_source.html#l00165
[code]
but I'll need to check if access to its dimensions still leads to a crash. If yes, I'll open an issue with them.
https://dd4hep.web.cern.ch/dd4hep/reference/classdd4hep_1_1PseudoTrap.html

[2020-09-24 16:12] ianna commented on #31520
@civanch - yes,  the geometry DB payloads (#31529) can go ahead without the resolution of this issue.

[2020-09-24 16:13] ianna commented on #31519
@cvuosalo - yes, the geometry DB payloads (#31529) can go ahead without the resolution of this issue.

[2020-09-24 17:00] kpedro88 commented on #30512
@bsunanda @slomeo please comment ASAP on whether M5 and D61 are still needed

@bsunanda @cseez @rovere please comment ASAP on whether it's acceptable to HGCal for development workflows D57, D58, D59, D62 to be migrated from T17 to T21
(as a side note, this could make D63 redundant, as it has T21+C11+M4, rather than T17/T21+C11+M6)

[2020-09-24 18:10] bsunanda commented on #30512
@kpedro88 @slomeo M5 is M4 but without overlap. I believe you have to retain M4 in view of D49. If you retain D63/D57 or D64 please use M6 rather than M4 there.

[2020-09-24 18:13] bsunanda commented on #30512
@kpedro88 @cseez @rovere C11, C13 and C14 geometries are for V12, V13 and V14. I think V13, V14 are experimental at this moment. So changing tracker geometry to T21 will be OK for D57, D59 and D62

[2020-09-24 18:16] bsunanda commented on #30512
@mariadalfonso @kpedro88 C10 and C12 are 2 versions of HFNose with slightly modified support structure. They are in D60 and D58 respectively. I think both can make use of T21. Maria can comment if one of them can be avoided.

[2020-09-25 05:22] etcherniaev commented on #31520
This issue is false positive, the subtractions are correct. The issue can be closed.

[2020-09-25 05:23] etcherniaev commented on #31519
This issue is false positive, the subtractions are correct. The issue can be closed.

[2020-09-25 06:11] ianna commented on #31519
+1

[2020-09-25 06:11] #31519 closed

[2020-09-25 06:11] cmsbuild commented on #31519
This issue is fully signed and ready to be closed.

[2020-09-25 06:12] ianna commented on #31520
+1

[2020-09-25 06:12] #31520 closed

[2020-09-25 06:12] cmsbuild commented on #31520
This issue is fully signed and ready to be closed.

[2020-09-25 06:31] slomeo commented on #31520
@ianna : Do I stop my job on this issue?

[2020-09-25 06:36] ianna commented on #31520
@slomeo - please, continue. Even if it's not an issue any more it will improve the Muon geometry description. Thanks!

[2020-09-25 06:38] ianna opened #31576 "[Geometry][Muon] SubtractionSolids can be replaced with Union"
@slomeo - FYI

See https://github.com/cms-sw/cmssw/issues/31520

[2020-09-25 06:39] ianna commented on #31576
assign geometry

[2020-09-25 06:39] cmsbuild commented on #31576
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-25 06:39] cmsbuild commented on #31576
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-25 06:40] slomeo commented on #31520
@ianna : ok, but for ME list what is the right file to edit? csc.xml, mf.xml...

[2020-09-25 06:42] slomeo commented on #31576
@ianna : ok, the MB list is fixed (in my private directory), now I'm looking for ME (please see my question in #31520 )

[2020-09-25 07:18] ianna commented on #31520
@slomeo - I'd suggest you make a new version 3 of the following files:
[code]

[2020-09-25 08:44] ianna commented on #31569
addressed in https://github.com/cms-sw/cmssw/pull/31578

[2020-09-25 08:50] #31281 closed

[2020-09-25 08:50] #31277 closed

[2020-09-25 08:54] ianna opened #31579 "[DD4hep] Allow Use of Namespace in SpecPar Comparison"
* requested by @ghugo83 (see https://github.com/cms-sw/cmssw/pull/31573)

[2020-09-25 08:54] cmsbuild commented on #31579
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-25 08:57] ianna commented on #31579
assign geometry
urgent

[2020-09-25 08:57] cmsbuild commented on #31579
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-25 08:59] smuzaffar commented on #31194
Looks like issue with type convertion (int to double) here https://github.com/cms-sw/cmssw/blob/master/CommonTools/Utils/test/testExpressionParser.cc#L43 ? If I initialize `reco::Track` (https://github.com/cms-sw/cmssw/blob/master/CommonTools/Utils/test/testExpressionParser.cc#L123 ) with `charge >= 0` then it runs [a,b] but with `charge<0` it fails [c, d]

[a] `trk = reco::Track(chi2, ndof, v, p,

[2020-09-25 09:22] smuzaffar commented on #31247
closing it, question has been answered

[2020-09-25 09:22] #31247 closed

[2020-09-25 09:33] ianna commented on #31509
HGcal, Calo, GEM, ME0 addressed via https://github.com/cms-sw/cmssw/pull/31525

[2020-09-25 09:33] ianna commented on #31579
urgent

[2020-09-25 10:31] silviodonato commented on #31551
release-notes

[2020-09-25 10:31] cmsbuild commented on #31551
Generating release notes since CMSSW_10_2_23.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-09-25 10:31] cmsbuild commented on #31551
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_24 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_23 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_24

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-09-25 10:32] cmsbuild commented on #31551
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_24

[2020-09-25 10:37] #31551 closed

[2020-09-25 11:55] etcherniaev commented on #31521
All 8 solids are similar, they are constrcuted as: G4Tubs - G4Box. All 8 G4Tubs solids are 45 degree sectors of a tube. All 8 G4Box solids are rotated around Z and then shifted along X.

@ianna : for me it looks like an implementation	of TruncTubs, could you check.

Below is the data for the first solid
`BSC2AlPadCoversFront0x7fd6a29459c0 = BSC2AlPadCoversFront0x7fd6a25d9880 - BSC2AlPadCoversFront

[2020-09-25 15:16] makortel commented on #31194
I took a look as well, but I suspect if it could be somehow connected to the fact that `charge_` is declared as `char`
https://github.com/cms-sw/cmssw/blob/587ea29fd84187b0be436e3072f728c053d982b2/DataFormats/TrackReco/interface/TrackBase.h#L475
Printing out `trk.charge()` indeed gives `-1`. On the other hand, I get the following in ROOT prompt in ARM
[code]
Doing the same in the unit test code gi

[2020-09-25 15:36] smuzaffar commented on #31194
yes for both amd64 and aarch64 root build use `-fsigned-char`
[code]

[2020-09-25 15:52] makortel commented on #31194
Should we open a ticket with ROOT? In the end, despite of the `-fsigned-char`, I do get
[code]
on ARM.

[2020-09-25 15:57] smuzaffar commented on #31194
yes we should open a ticket. I will do it. Thanks for simple reproducer

[2020-09-25 16:07] mbluj opened #31583 "Tracks with ill-defined momenta within pat::PackedCands"
In miniAOD samples (recent 94X/102X productions) there are rare tracks within pat:PackedCandidates (mainly lostTracks collection) with ill-defined momenta, i.e. pt being inf and/or eta nan.

The issue was discovered during big validation of tauReco@Mini and caused its failure. The failures of tauReco@Mini are fixed by protection introduced by #31582, but it was not checked if the ill-defined momen

[2020-09-25 16:07] cmsbuild commented on #31583
A new Issue was created by  @mbluj .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-25 16:11] makortel commented on #31583
assign xpog

[2020-09-25 16:11] cmsbuild commented on #31583
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-25 19:02] #22278 closed

[2020-09-25 22:05] mrodozov commented on #31539
when you get your account use the singularity image
`/cvmfs/cms.cern.ch/common/cmssw-cc7`
to do your setup. you should be able to make a folder under /build

[2020-09-25 22:23] cvuosalo commented on #31579
Who is working on this issue?

[2020-09-26 18:43] silviodonato opened #31592 "Unit test failure in DQM/Integration"
We are getting
[code]
in the test `TestDQMOnlineClient-scal_dqm_sourceclient` of `DQM/Integration`.
I suspect it is related to https://github.com/cms-sw/cmssw/pull/31548/ (@guitargeek)

[2020-09-26 18:43] silviodonato commented on #31592
assign dqm

[2020-09-26 18:43] cmsbuild commented on #31592
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-26 18:43] cmsbuild commented on #31592
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-26 19:06] guitargeek commented on #31592
No idea how this issue relates to my cleaning PR, but I can't deny it looks like there is a connection because the issue was not present before my PR got merged. Hence, I jumped in to investigate and found a fix.

[2020-09-26 19:13] guitargeek commented on #31592
Sorry, actually the connection is obvious. The relevant package that was mistakenly a library instead of a plugin was previously included in a different plugin: https://github.com/cms-sw/cmssw/pull/31548/files#diff-d35b5dbd3e30c40bee4cc0c5bd6ae022L13.

That's how the plugin ended up in the register before I suppose.

[2020-09-27 08:12] ianna opened #31594 "[DD4hep] Navigation Performance"
Study by how much it can be improved before the following issue is resolved:
https://sft.its.cern.ch/jira/browse/ROOT-9742

[2020-09-27 08:12] ianna commented on #31594
assign geometry

[2020-09-27 08:12] cmsbuild commented on #31594
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-27 08:12] cmsbuild commented on #31594
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-27 08:15] ianna commented on #31594
@dpiparo - perhaps, CMS could ping ROOT team and discuss their priorities at an appropriate forum? Thanks.

[2020-09-27 09:51] davidlange6 commented on #31594
What is the outstanding issue? It’s not clear from the Kira

David

On 27 Sep 2020, at 10:16, Ianna Osborne <notifications@github.com> wrote:

﻿

@dpiparo<https://github.com/dpiparo> - perhaps, CMS could ping ROOT team and discuss their priorities at an appropriate forum? Thanks.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<ht

[2020-09-27 10:52] ianna commented on #31594
@davidlange6 - it looks like only no 1 was addressed.

Quote:

Some geometry tasks were identified during initial discussions with LHCb and CMS, related to integration of DD4HEP in their DD software.
1. Support for reading/writing optical surface properties from/to GDML in a similar way as in Geant4. This will complete the conversion circle TGeo <->Geant4 via GDML
2. Support for building geometry

[2020-09-28 08:48] mariadalfonso commented on #31583
@bendavid @hatakeyamak @mtosi
Can you have a look at the source of the infinite ?

[2020-09-28 11:45] jfernan2 commented on #31539
Thanks @mrodozov

but it seems I cannot:
[techlab-arm64-thunderx-02] /build $ mkdir jfernan2
mkdir: cannot create directory ‘jfernan2’: Permission denied

However I see you folder in there...

[2020-09-28 11:57] silviodonato opened #31604 "Error in testDD4hepFilteredViewLevel and testDD4hepFilteredViewGoTo"
We are getting two errors in the unit test of `DetectorDescription/DDCMS` in `testDD4hepFilteredViewLevel` and `testDD4hepFilteredViewGoTo` since `CMSSW_11_2_X_2020-09-27-0000`, after having merged #31508.
It turned out that the error is related to the hard-coded level numbers in the unit test (eg. https://github.com/cms-sw/cmssw/blob/master/DetectorDescription/DDCMS/test/DDFilteredView.goto.cppun

[2020-09-28 11:57] silviodonato commented on #31604
assign geometry

[2020-09-28 11:57] cmsbuild commented on #31604
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-28 11:57] cmsbuild commented on #31604
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-28 12:29] ianna commented on #31604
@silviodonato - I do not see errors in the PR IB linked here. I'll check in the local area.

[2020-09-28 12:47] qliphy commented on #31604
@ianna  You can find more info from #31574
https://github.com/cms-sw/cmssw/pull/31574#issuecomment-699906732

[2020-09-28 12:54] ianna commented on #31604
@qliphy - thanks! I've reproduced the error in a local area. The scenario has changed. I'm afraid, the construction order is not guaranteed, so the reference point has shifted.

[2020-09-28 12:56] cvuosalo commented on #31579
@ghugo83 How would you suggest the namespace be handled in the Filtered View with respect to the SpecPars? Sometimes we want to namespace excluded, and sometimes we want it included. How should that be specified?

[2020-09-28 12:57] ianna commented on #31604
please, take https://github.com/cms-sw/cmssw/pull/31605 that fixes it.

[2020-09-28 13:05] ianna commented on #31579
I'm about to submit a PR to provide an additional getter from the spec pars that does not strip off the namespace. It would mean that all the volumes should be crated with the namespace of interest. That needs to be checked, also if there is an extra cost of it.

[2020-09-28 15:02] hatakeyamak commented on #30588
This is actually a rather old validation code, which we are not closely monitoring now, so it didn't get a high priority. It doesn't necessarily mean that this is not useful though.

I am right now developing a cleanup branch/PR of pf validation package:
https://github.com/hatakeyamak/cmssw/tree/PFVal_update_11_2
so I will try to address it as a part of this.

[2020-09-28 15:55] slomeo commented on #30512
@kpedro88 : I got in touch with Muon DPGO and I sent you the emails. I think that you can proceed.

[2020-09-28 15:59] ghugo83 commented on #31579
Yep I think the behavior of the DD4hep Filtered view interface should be the same as old DD:
- If no namespace is specified  (or use of `.*: `) in XML SpecPars: then all volumes matching the regex are selected.
Example:
`<PartSelector path="//.*:PixelSensor" />` or `<PartSelector path="//PixelSensor" />`
Here, in old DD, both `tdr:PixelSensor ` or `mytest:PixelSensor` would be selected. It should

[2020-09-28 16:11] ghugo83 commented on #31579
It should be the same for copy number: when it is explicitly specified in the SpecPars in XMLs, it should be taken into account, and if not, it should not.

[2020-09-28 16:15] ianna commented on #31579
yes, that's there already :-)

[2020-09-28 16:17] ghugo83 commented on #31579
In reco XMLs for example, they are path like this:
`<PartSelector path="//PixelBarrel/PixelBarrelLayer0/PixelBarrelLadderFull0/pixbarladderfull0:PixelBarrelModuleBoxFull/pixbarladderfull0:PixelBarrelModuleFullPlus[1]/pixbarladderfull0:PixelBarrelSensorFull/PixelBarrelActiveFull0" />`
Which should work for both old DD and DD4hep.

A DD4hep path is:
`world_volume/OCMS_1/CMSE_1/Tracker_1/PixelBarrel_

[2020-09-28 16:55] mariadalfonso commented on #30512
yes, we can move to the T21 in both D60 and D58 (HFnose scenarios)

[2020-09-28 16:59] kpedro88 commented on #30512
@emiglior I'll implement the migrations on top of your branch, once #31541 is merged.

[2020-09-28 20:49] emiglior commented on #30512
@kpedro88 OK. Just to be sure, I will not rebase myself the branch in my PR #31572

[2020-09-28 22:28] cvuosalo commented on #31604
@ianna Can this problem happen again? How can we prevent it?

[2020-09-29 00:46] mrodozov commented on #31539
well I see I can't create a folder under /home , you could ask the admins for a /build/$USER folder or use /afs space
I see /afs its mounted

[2020-09-29 02:31] christopheralanwest commented on #29406
Run 3 geometry payloads have been updated in the recently merged PR #31529. Since there are some remaining issues (PPS and zero-material scenario), I will not close this issue yet.

[2020-09-29 06:53] ianna commented on #31579
@ghugo83 - this conversion may cost as much as its comparison, e.g. what is already done now (but without a namespaces). Namespace in DD4hep is  a `Volume` `name` part that is one `std::string`, it's separated by "`:`".
To first extend, changing it to a "`!`" for example, will allow a full name comparison. Though, it will not work as it will require the `PartSelector` `paths` include **all** names

[2020-09-29 07:04] ianna commented on #31604
+1

[2020-09-29 07:04] cmsbuild commented on #31604
This issue is fully signed and ready to be closed.

[2020-09-29 07:11] ianna commented on #31604
Good question. Yes, it will definitely happen when the geometry changes: a geo history reflects a child number at a level, but if there is another child created before, the geo history of the first one will shift.

Will it happen if geometry does not change? Yes, when we will start using multiple processes. We cannot guarantee the order of parsing and creation.

[2020-09-29 08:21] ghugo83 commented on #31579
@ianna Great! Yes am not working on this front anyway (exploring the others points of the to-do list), I trust you for finding sth which works with an acceptable perf :)

[2020-09-29 08:22] ghugo83 commented on #31579
By the way I think I have found a way to fasten the DD4hep Tracker workflow (off-topic from this issue though).

[2020-09-29 09:03] ianna commented on #31579
@ghugo83 - I'll PR on this issue after the https://github.com/cms-sw/cmssw/pull/31610 is merged. This will help you to integrate https://github.com/cms-sw/cmssw/pull/31573 faster because "**test with**" bundles the PRs together. At least we'll be done with a step 1 :-)

[2020-09-29 10:54] jan-kaspar commented on #31518
After some discussions, I'd like to propose that all calibration code for PPS is put under CalibPPS. In particular,
 * relative alignment in: CalibPPS/AlignmentRelative
 * global alignment in: CalibPPS/AlignmentGlobal

Unless you have comments, I will proceed and close this issue in few days.

[2020-09-29 12:16] jordan-martins opened #31611 "Backport of PR #31553 to production releases"
[Description]: pLHE requests are failing validation and submission from McM, as well as local tests are unable to be performed.
[Action]: Backport PR [1] to all production releases:

- CMSSW_10_2_24
- CMSSW_10_3_2
- CMSSW_10_6_12
- CMSSW_10_6_17_patch1
- CMSSW_7_5_8_patch7
- CMSSW_8_0_31
- CMSSW_9_3_18
- CMSSW_9_3_9_patch1
- CMSSW_9_4_11

Thanks a lot,
PdmV Team.
[1] https://github.com/cms-sw/cmss

[2020-09-29 12:17] cmsbuild commented on #31611
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-29 12:23] silviodonato commented on #31611
Thanks @jordan-martins
Let me add the link to the pLHE campaigns https://cms-pdmv.cern.ch/mcm/campaigns?prepid=*pLHE*&page=0&shown=63&limit=100

[2020-09-29 12:24] ianna commented on #31604
Here is an explanation why the unit test failed: two copies of a `ZDCtoFP4201` and a `ZDCtoFP4202` volumes were added shifting the Tracker from the 4th to the 6th position.
Here is the snapshot of a 2021 geometry tree in the IB:
<img width="570" alt="Screenshot 2020-09-29 at 13 16 24" src="https://user-images.githubusercontent.com/1390682/94557216-8ff03e80-025e-11eb-9fda-b9e3dda4af3c.png">
where i

[2020-09-29 12:25] silviodonato commented on #31611
we will discuss about this at the ORP meeting

[2020-09-29 12:31] silviodonato opened #31612 "Build CMSSW_10_6_18"

[2020-09-29 12:31] cmsbuild commented on #31612
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-29 12:35] silviodonato commented on #31612
+1

[2020-09-29 12:35] cmsbuild commented on #31612
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_18. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-09-29 12:35] cmsbuild commented on #31612
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-09-29 13:20] cmsbuild commented on #31612
The build has started for slc7_amd64_gcc700 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2646/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-29 13:22] cmsbuild commented on #31612
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2647/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-29 14:23] cmsbuild commented on #31612
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_18-slc7_amd64_gcc820/2647

[2020-09-29 14:35] cmsbuild commented on #31612
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_18-slc7_amd64_gcc700/2646

[2020-09-29 14:58] jfernan2 commented on #31539
Sorry @mrodozov but I get the following error:
bash-4.2$  /cvmfs/cms.cern.ch/common/cmssw-env --cmsos cc7
/cvmfs/cms.cern.ch/common/cmssw-env: line 92: singularity: command not found

This is what I did:

sh /cvmfs/cms.cern.ch/common/cmssw-cc7
scramv1 project CMSSW_11_2_X_2020-09-29-1100
cd CMSSW_11_2_X_2020-09-29-1100/src
/cvmfs/cms.cern.ch/common/cmssw-env --cmsos cc7
Thanks

[2020-09-29 15:36] ianna commented on #31579
@ghugo83 and @vargasa - I think, I'm done with it. I have a unit test that accesses one module values. They seem correct.
Is there full Tracker test to check rad length and xi? Thanks

[2020-09-29 15:49] ianna commented on #31579
fixed in https://github.com/cms-sw/cmssw/pull/31614

[2020-09-29 15:49] ianna commented on #31579
+1

[2020-09-29 15:49] #31579 closed

[2020-09-29 15:50] cmsbuild commented on #31579
This issue is fully signed and ready to be closed.

[2020-09-29 16:08] ghugo83 commented on #31579
@ianna
A printout at https://github.com/cms-sw/cmssw/blob/41af5ee687a795892450dfdc1dc5072f99123eae/Geometry/TrackerNumberingBuilder/src/GeometricDet.cc#L109 (on top of my PR) is the most realistic scenario.
Comparison:
(a) just merging my PR
VERSUS
(b) merging my PR + your fix + removing  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml and using old DD XML
Personally I got issues wi

[2020-09-29 16:18] ghugo83 commented on #31579
By the way, 90% of all the time used to create the full Tracker geometry and numbering, is used by the calls of (already there before my PR):
`DDFilteredView::get<type>`
in the GeometricDet constructor.

`DDFilteredView::firstChild() `is not that bad (anyway it is within a (small?) fraction of the remaining 10 %).
I had doubts about `fv->firstChild()` being that bad, because I also used it for COC

[2020-09-29 16:24] makortel commented on #30359
Another this kind of crash from the default IBs (CMSSW_11_2_X_2020-09-29-1100, slc7_amd64_gcc820, ROOT 6.20/09) workflow 1000.0 step 2
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-09-29-1100/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step2_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASP

[2020-09-29 16:28] makortel commented on #31594
@ianna For my education, about point 2, would that be about running internals of a single geometry ESProducer concurrently, or running multiple (different) geometry ESProducers concurrently?

[2020-09-29 16:29] mrodozov commented on #31539
try
[code]
when you are running /cvmfs/cms.cern.ch/common/cmssw-env --cmsos cc7
after you've started singularity with /cvmfs/cms.cern.ch/common/cmssw-cc7
you are trying to run singularity within singularity I don't think thats possible

[2020-09-29 16:45] ghugo83 commented on #31579
Hmm yes the fix in (b) no-namespace does not seem to work yet.
`<PartSelector path="//.*:PixelForwardWafer" />`
is not recognized as a volume, hence the disks (successfully defined as they are defined differently, with `<PartSelector path="//PixelForwardDiskZplus" />` in the XML) have no panel nor sensor.

[2020-09-29 18:07] jfernan2 commented on #31539
I have reproduced the error and it is on: TestDQMOnlineClient-gem_dqm_sourceclient
This seems related to the problem spotted in Online DQM at 11_1_X here:
https://github.com/cms-sw/cmssw/pull/31447#issuecomment-693455946

which has not been forwardported yet. I have just requested a forwardport to GEM developers

[2020-09-29 20:13] silviodonato commented on #31612
abort

[2020-09-29 20:13] cmsbuild commented on #31612
Deleting CMSSW_10_6_18:

  -Release successfully deleted

  -cmssw tag CMSSW_10_6_18 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_6_18/slc7_amd64_gcc700. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_6_18/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.

[2020-09-29 20:19] #31612 closed

[2020-09-29 20:48] makortel commented on #30913
The fix #31555 has been merged a few days ago, this issue can be closed.

[2020-09-29 20:52] kpedro88 commented on #30913
+upgrade

[2020-09-30 07:38] ianna commented on #31594
@makortel - We would use the former to processes multiple XML files or fragments with a tbb task per file, for example. We would use the latter to run the Reco geometry builders concurrently.

[2020-09-30 07:41] ianna commented on #31579
@ghugo83 - thanks, now that the PRs are merged I should try to reproduce it with your branch.

[2020-09-30 08:22] ianna commented on #31579
@ghugo83 - fixed in https://github.com/cms-sw/cmssw/pull/31621

[2020-09-30 08:25] ianna commented on #31604
@silviodonato - IMHO, this can be closed now. Thanks!

[2020-09-30 08:31] ianna commented on #31579
@ghugo83 - this PR https://github.com/cms-sw/cmssw/pull/31614 should address some performance issues. Thought it may still be a premature optimisation  _(_ _"the root of all evil (or at least most of it)"_ _)_ :-)

[2020-09-30 09:24] silviodonato opened #31624 "testFWCoreSharedMemoryMonitorThreadSignals had ERRORS in 10_6_X"
We get error in a `/FWCore/SharedMemory/` unit test in 10_6_X since `CMSSW_10_6_X_2020-09-24-1100`, even since no PRs were merged between `CMSSW_10_6_X_2020-09-23-2300` and `CMSSW_10_6_X_2020-09-24-1100`

[code]

![image](https://user-images.githubusercontent.com/6177433/94667566-44e23400-030f-11eb-91c3-7f82e8e5be47.png)

[2020-09-30 09:25] cmsbuild commented on #31624
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-30 09:26] silviodonato commented on #31624
assign core
I don't know if this was expected or so. Anyhow I just wanted to keep track of it

[2020-09-30 09:26] cmsbuild commented on #31624
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-30 09:28] ianna commented on #31509
+1

[2020-09-30 09:28] #31509 closed

[2020-09-30 09:28] cmsbuild commented on #31509
This issue is fully signed and ready to be closed.

[2020-09-30 09:44] silviodonato opened #31625 "Build CMSSW_9_4_18"

[2020-09-30 09:44] cmsbuild commented on #31625
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-30 09:46] silviodonato commented on #31625
+1

[2020-09-30 09:47] cmsbuild commented on #31625
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_18. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2020-09-30 09:47] cmsbuild commented on #31625
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-09-30 09:48] cmsbuild commented on #31625
The build has started for slc6_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2648/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 09:48] cmsbuild commented on #31625
The build has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2649/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 09:54] jfernan2 commented on #31539
GEM created this PR to fix this issue:
https://github.com/cms-sw/cmssw/pull/31623
I have tested it in ARM and the crash disappears

[2020-09-30 11:16] jan-kaspar commented on #31518
As no comments have been raised, I am closing the issue.

[2020-09-30 11:16] #31518 closed

[2020-09-30 12:02] ghugo83 commented on #31579
Ok will re-test that

[2020-09-30 12:02] cmsbuild commented on #31625
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_18-slc7_amd64_gcc630/2649
Some tests (

[2020-09-30 12:32] ianna commented on #31579
@ghugo83 - FYI testing your PR #31573 + PR #31621 with the following change shows no differences:
[code]
[code]

[2020-09-30 12:34] ghugo83 commented on #31579
Hmm yes `DDFilteredView::get<type> ` still seems to take too much time time (much more than old DD).

With help of valgrind I got sth much faster by removing the call of `dd4hep::dd::split` in DFilteredView::get<type>
https://github.com/ianna/cmssw/blob/ac3b9b82d7854cf7da54fbde1b1f35aac9fcd36d/DetectorDescription/DDCMS/src/DDFilteredView.cc#L481

Implementation of split:
https://dd4hep.web.cern.ch

[2020-09-30 12:40] ghugo83 commented on #31579
Ok cool. Was in FilteredView speed, will switch back to that branch. Need to compare what is stored in GeoemtricDet etc, but sounds good :)

[2020-09-30 12:46] cmsbuild commented on #31625
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_18-slc7_amd64_gcc630/2649

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-09-30 12:47] ianna commented on #31579
@ghugo83 - also the last merged PR #31614 gives a 3x speedup:
[code]

[2020-09-30 12:56] cmsbuild commented on #31625
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_18-slc6_amd64_gcc630/2648
Some tests (

[2020-09-30 13:05] silviodonato commented on #31625
upload all

[2020-09-30 13:05] cmsbuild commented on #31625
Queing Jenkins upload for slc6_amd64_gcc630

[2020-09-30 13:05] cmsbuild commented on #31625
Queing Jenkins upload for slc7_amd64_gcc630

[2020-09-30 13:06] cmsbuild commented on #31625
The upload has started for slc6_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1700/console

[2020-09-30 13:06] cmsbuild commented on #31625
The upload has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1701/console

[2020-09-30 13:07] cmsbuild commented on #31625
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_18-slc6_amd64_gcc630/1700

[2020-09-30 13:07] cmsbuild commented on #31625
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_18-slc7_amd64_gcc630/1701

[2020-09-30 13:17] silviodonato commented on #31625
release-notes

[2020-09-30 13:17] cmsbuild commented on #31625
Generating release notes since CMSSW_9_4_17.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-09-30 13:17] cmsbuild commented on #31625
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_18 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_17 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_18

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2020-09-30 13:19] cmsbuild commented on #31625
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_18

[2020-09-30 13:19] #31625 closed

[2020-09-30 13:20] silviodonato opened #31628 "Build CMSSW_11_1_4"

[2020-09-30 13:20] cmsbuild commented on #31628
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-30 13:20] silviodonato commented on #31628
+1

[2020-09-30 13:21] cmsbuild commented on #31628
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-09-30 13:21] makortel commented on #31624
I see this unit test failing already in CMSSW_10_6_X_2020-09-23-1100, which is the oldest one reported at the moment.

[2020-09-30 13:21] cmsbuild commented on #31628
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-09-30 13:21] cmsbuild commented on #31628
The build has started for cc8_amd64_gcc8 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2650/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-09-30 13:23] cmsbuild commented on #31628
The build has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2651/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 13:23] ianna commented on #31579
@ghugo83 - using `string` iteration instead of `dd4hep::split` is slightly better :-)
[code]

[2020-09-30 13:24] cmsbuild commented on #31628
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2652/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 13:32] cmsbuild commented on #31628
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2653/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 13:39] makortel commented on #31594
Right. I can imagine the point 2 to be required for the former, but is it needed for the latter as well?

[2020-09-30 13:40] cmsbuild commented on #31625
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_18-slc6_amd64_gcc630/2648

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-09-30 13:56] ianna commented on #31594
Not yet, so fare we use the TGeo as read-only.

[2020-09-30 14:44] ghugo83 commented on #31579
@ianna yes with x3 and x3 we might hopepfully eventually join sth similar as old DD FilteredView (there was a x10 discrepancy if I recall properly, really painful for tests cycles and so on) :)
Sth interesting is that there is still a point in DDFilteredView::firstChild(), once the full tree has been processed, where there is a very long stop. It might be interesting to look at that as well.

[2020-09-30 14:44] ghugo83 commented on #31579
Also this is useful cause will be needed for the other subdetectors as well anyway.

[2020-09-30 14:53] ianna commented on #31579
Indeed, I've got 10x improvement on your PR test https://github.com/cms-sw/cmssw/pull/31630
I'm checking with other sub detectors if it made as a dramatic effect as on Tracker numbering. User stories are different...

A break for the `firstChild` is in the works, though most of the sub detectors use `level` to break out of it already :-)

[2020-09-30 15:00] ghugo83 commented on #31579
Haaa I see at #31630 you pushed it already haha
Ok cool

Maybe then also worth it to minimize regex usage + avoid dd4hep::dd::split whenever possible in the rest of the FilteredView

[2020-09-30 15:22] silviodonato commented on #31604
@ianna I would keep this issue open to remind us that the tests are currently incompatible with geometry changes and multiple processes. If you prefer we can close this issue and open another one. Of course this issue is much less urgent than the DD4HEP migration, but I think it is good to keep a reminder.

[2020-09-30 15:41] makortel commented on #31594
Thanks. I was asking because "soon" we will be doing the latter (https://github.com/cms-sw/cmssw/issues/31061). There is a way to declare that an ESProducer uses a "shared, non-thread-safe resource" in which case the framework will run only one ESProducer using such a resource at a time. If it happens in the future that some ESProducer would need a write access to the TGeo (or whatever else non-th

[2020-09-30 15:58] #30937 closed

[2020-09-30 16:00] cmsbuild commented on #31628
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_4-slc7_ppc64le_gcc820/2652
Some test

[2020-09-30 16:02] wddgit commented on #30504
We can close this now. PR #31584 is the last of a series of PRs related to this and was just merged.

[2020-09-30 16:04] makortel commented on #30504
+1

(David, by the way, since you opened it, you can also close the issue)

[2020-09-30 16:05] cmsbuild commented on #30504
This issue is fully signed and ready to be closed.

[2020-09-30 16:08] #30504 closed

[2020-09-30 16:09] ianna commented on #31604
@silviodonato - the unit test does exactly what it is suppose to do - it fails if the geometry changes ;-)

[2020-09-30 16:30] cmsbuild commented on #31628
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_4-cc8_amd64_gcc8/2650
Some tests ( runThe

[2020-09-30 17:03] cmsbuild commented on #31628
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_4-slc7_ppc64le_gcc820/2652

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-30 17:09] cmsbuild commented on #31628
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_4-slc7_amd64_gcc820/2651
Some tests (

[2020-09-30 17:11] cmsbuild commented on #31628
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_4-cc8_amd64_gcc8/2650

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-30 17:27] ianna opened #31632 "[DD4hep][Simulation] Muon Sim Hits are ~ 10x off"
[code]
produces a non-empty file, but the RPC (in yellow) and DT (in red) simhits look a factor off their intended positions. Pixel simhits (in green) look where they suppose to be.

@slomeo - FYI Could you, please, have a look? You'll need a tomorrows IB and #31573

<img width="1453" alt="Screenshot 2020-09-30 at 19 14 55" src="https://user-images.githubusercontent.com/1390682/94718956-c7401780-0

[2020-09-30 17:27] cmsbuild commented on #31632
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-30 17:47] cmsbuild commented on #31628
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_4-slc7_amd64_gcc820/2651

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-09-30 17:58] Dr15Jones commented on #31624
The unix code 127 means the bash command trying to be executed can not be found. From the script we get

https://github.com/cms-sw/cmssw/blob/master/FWCore/SharedMemory/test/test_monitor_thread_signals.sh#L9-L12

where the test `testFWCoreSharedMemoryMonitorThread` is expected to be on PATH (the comment says SCRAM does that for tests). I'm guessing that CMSSW_10_6 is before scram started adding th

[2020-09-30 18:02] Dr15Jones commented on #31624
Another possibility is there is a special command in the BuildFile.xml

https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_X/FWCore/SharedMemory/test/BuildFile.xml#L15-L17

perhaps CMSSW_10_6 scram doesn't understand the `PRE_TEST` flag?

[2020-09-30 18:03] makortel commented on #31632
assign geometry, simulation

[2020-09-30 18:04] jfernan2 commented on #25106
Is this issue still alive? My impression is it is NOT, given the changes made by Marcel on DQMStore in 11_1_X

[2020-09-30 18:04] cmsbuild commented on #31632
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@makortel,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-30 19:03] makortel commented on #30359
There is another failure in the workflow 1000.0 step 2 in default IB CMSSW_11_2_X_2020-09-30-1100 (the IB in between, CMSSW_11_2_X_2020-09-30-1100, the test succeeded). This time there were two threads calling `MultipleScatteringX0Data` constructor (although this may be just a coincidence)
[code]

[2020-09-30 20:00] cmsbuild commented on #31628
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_4-slc7_aarch64_gcc820/2653
Some test

[2020-09-30 20:05] civanch commented on #31594
@ianna , the requirement to read xml files in parallel should not be an urgent requirement, because old DDD is not parallel as well. In a long term, it may be a valid requirement but for today we need the minimum: DD4Hep should provide the same results as old DDD. If we will face the situation, that DD4Hep is several times slower than DDD we may accept this if geometry is built correctly for Run-3

[2020-09-30 20:36] silviodonato commented on #31628
upload all

[2020-09-30 20:37] cmsbuild commented on #31628
Queing Jenkins upload for cc8_amd64_gcc8

[2020-09-30 20:37] cmsbuild commented on #31628
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-09-30 20:37] cmsbuild commented on #31628
Queing Jenkins upload for slc7_amd64_gcc820

[2020-09-30 20:37] cmsbuild commented on #31628
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-09-30 20:37] silviodonato opened #31633 "Build CMSSW_11_2_0_pre7"

[2020-09-30 20:38] cmsbuild commented on #31633
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-09-30 20:38] cmsbuild commented on #31628
The upload has started for cc8_amd64_gcc8 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1702/console

[2020-09-30 20:38] cmsbuild commented on #31628
The upload has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1704/console

[2020-09-30 20:38] cmsbuild commented on #31628
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1703/console

[2020-09-30 20:39] cmsbuild commented on #31628
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_4-cc8_amd64_gcc8/1702

[2020-09-30 20:39] cmsbuild commented on #31628
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_4-slc7_aarch64_gcc820/1703

[2020-09-30 20:39] cmsbuild commented on #31628
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1705/console

[2020-09-30 20:40] cmsbuild commented on #31628
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_4-slc7_amd64_gcc820/1704

[2020-09-30 20:40] cmsbuild commented on #31628
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_4-slc7_ppc64le_gcc820/1705

[2020-09-30 20:43] silviodonato commented on #31628
release-notes

[2020-09-30 20:44] cmsbuild commented on #31628
Generating release notes since CMSSW_11_1_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-09-30 20:44] cmsbuild commented on #31628
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_4 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_4

Cheers,
cms-bot

You can a

[2020-09-30 20:45] cmsbuild commented on #31628
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_4

[2020-09-30 20:46] #31628 closed

[2020-09-30 20:46] silviodonato commented on #31633
+1

[2020-09-30 20:46] cmsbuild commented on #31633
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-09-30 20:47] cmsbuild commented on #31633
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmss

[2020-09-30 20:48] cmsbuild commented on #31633
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2654/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-09-30 20:48] cmsbuild commented on #31633
The build has started for slc7_amd64_gcc900 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2656/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 20:48] cmsbuild commented on #31633
The build has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2655/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 20:48] cmsbuild commented on #31633
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2659/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 20:48] cmsbuild commented on #31633
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2657/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-09-30 20:48] cmsbuild commented on #31633
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2658/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-09-30 22:35] cvuosalo commented on #31604
@smuzaffar Could the unit test described in this issue be added to the PR tests for any change to "Geometry" packages?

[2020-09-30 22:49] cmsbuild commented on #31628
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_4-slc7_aarch64_gcc820/2653

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-01 00:02] cmsbuild commented on #31633
The was an error for slc7_ppc64le_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_ppc64le_gcc820/2657

[2020-10-01 00:03] cmsbuild commented on #31633
The was an error for slc7_aarch64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_aarch64_gcc820/2659

[2020-10-01 00:26] cmsbuild commented on #31633
The was an error for cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-cc8_aarch64_gcc8/2658

[2020-10-01 00:57] cmsbuild commented on #31633
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_amd64_gcc820/2655

[2020-10-01 01:14] cmsbuild commented on #31633
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_amd64_gcc900/2656

[2020-10-01 01:41] cmsbuild commented on #31633
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-cc8_amd64_gcc8/2654

[2020-10-01 02:11] smuzaffar commented on #31633
abort

[2020-10-01 02:13] cmsbuild commented on #31633
Deleting CMSSW_11_2_0_pre7:

  -Release successfully deleted

  -cmssw tag CMSSW_11_2_0_pre7 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre7/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre7/slc7_aarch64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre7/slc7_

[2020-10-01 02:13] #31633 closed

[2020-10-01 02:13] smuzaffar opened #31636 "Build CMSSW_11_2_0_pre7"

[2020-10-01 02:13] cmsbuild commented on #31636
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-10-01 02:14] smuzaffar commented on #31636
+1

[2020-10-01 02:14] cmsbuild commented on #31636
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-10-01 02:14] cmsbuild commented on #31636
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmss

[2020-10-01 02:15] smuzaffar commented on #31636
@silviodonato , sorry there was a bug in cmsBuild (pkgtools) script due to which release failed to build. This is fixed now and I have restarted the build.

[2020-10-01 02:15] cmsbuild commented on #31636
The build has started for slc7_amd64_gcc820 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2661/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-01 02:15] cmsbuild commented on #31636
The build has started for cc8_amd64_gcc8 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2660/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-01 02:15] cmsbuild commented on #31636
The build has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2662/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-01 02:16] cmsbuild commented on #31636
The build has started for slc7_ppc64le_gcc820 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2663/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-01 02:16] cmsbuild commented on #31636
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2664/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-01 02:17] cmsbuild commented on #31636
The build has started for slc7_amd64_gcc900 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2665/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-01 03:04] dildick commented on #31632
Hi @ianna Is there any indication that the CSC or GEM simhits are off their nominal positions by using DD4HEP? Thanks!

[2020-10-01 03:22] cmsbuild commented on #31636
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-cc8_amd64_gcc8/2660

[2020-10-01 05:13] cmsbuild commented on #31636
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_amd64_gcc900/2665
Some tes

[2020-10-01 05:19] cmsbuild commented on #31636
The was an error for cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-cc8_aarch64_gcc8/2662

[2020-10-01 05:24] cmsbuild commented on #31636
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_aarch64_gcc820/2664
Some

[2020-10-01 05:25] cmsbuild commented on #31636
The build has started for cc8_amd64_gcc8 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2666/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-01 05:27] cmsbuild commented on #31636
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2667/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-01 05:32] cmsbuild commented on #31636
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_ppc64le_gcc820/2663
Some

[2020-10-01 05:51] cmsbuild commented on #31636
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_amd64_gcc900/2665

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-01 06:14] ianna commented on #31632
@dildick - I did not see the GEM sim hits, I've run only a few events.

[2020-10-01 06:20] cmsbuild commented on #31636
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_aarch64_gcc820/2664

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-01 06:23] ianna opened #31637 "[DD4hep][Simulation] Ecal EE Sim Hits appear in two out of four quarters"
`cmsRun $CMSSW_RELEASE_BASE/src/SimG4Core/Configuration/test/dd4hep_ZMM_Run3_Step1_cfg.py
`
produces a non-empty file, but the EE (in pink) simhits appear only in two out of four quarters. Are the EB Sim Hits missing?

Tested with todays IB and #31573
<img width="1454" alt="Screenshot 2020-10-01 at 07 49 31" src="https://user-images.githubusercontent.com/1390682/94774882-0441f380-03bf-11eb-8a42-7e

[2020-10-01 06:23] cmsbuild commented on #31637
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-01 06:41] cmsbuild commented on #31636
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_ppc64le_gcc820/2663

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-01 08:19] cmsbuild commented on #31636
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-cc8_aarch64_gcc8/2667
Some tests

[2020-10-01 08:23] cmsbuild commented on #31636
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-cc8_amd64_gcc8/2666
Some tests ( r

[2020-10-01 08:53] davidlange6 commented on #31594
I added a generic comment in the AF meeting today.

[2020-10-01 09:01] cmsbuild commented on #31636
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-cc8_amd64_gcc8/2666

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-01 09:20] cmsbuild commented on #31636
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-cc8_aarch64_gcc8/2667

Tests results:
35 33 32 25 17 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-10-01 09:53] cmsbuild commented on #31636
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_amd64_gcc820/2661
Some tes

[2020-10-01 10:13] silviodonato commented on #31636
upload all

[2020-10-01 10:13] cmsbuild commented on #31636
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-10-01 10:13] cmsbuild commented on #31636
Queing Jenkins upload for cc8_amd64_gcc8

[2020-10-01 10:13] cmsbuild commented on #31636
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-10-01 10:13] cmsbuild commented on #31636
Queing Jenkins upload for slc7_amd64_gcc820

[2020-10-01 10:13] cmsbuild commented on #31636
Queing Jenkins upload for slc7_amd64_gcc900

[2020-10-01 10:13] cmsbuild commented on #31636
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-10-01 10:14] cmsbuild commented on #31636
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1706/console

[2020-10-01 10:14] cmsbuild commented on #31636
The upload has started for cc8_amd64_gcc8 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1707/console

[2020-10-01 10:14] cmsbuild commented on #31636
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1708/console

[2020-10-01 10:15] cmsbuild commented on #31636
The upload has started for slc7_amd64_gcc900 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1709/console

[2020-10-01 10:15] cmsbuild commented on #31636
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7-cc8_aarch64_gcc8/1706

[2020-10-01 10:15] cmsbuild commented on #31636
The upload has started for slc7_amd64_gcc820 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1710/console

[2020-10-01 10:15] cmsbuild commented on #31636
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7-slc7_aarch64_gcc820/1708

[2020-10-01 10:16] cmsbuild commented on #31636
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1711/console

[2020-10-01 10:16] cmsbuild commented on #31636
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7-cc8_amd64_gcc8/1707

[2020-10-01 10:17] cmsbuild commented on #31636
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7-slc7_amd64_gcc820/1710

[2020-10-01 10:17] cmsbuild commented on #31636
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7-slc7_ppc64le_gcc820/1711

[2020-10-01 10:17] ianna commented on #31594
@davidlange6 - Thanks! It would be good if they replied to the Jira issue and commented on what is a timescale for implementing thread-local geometry managers? If they are planning to provide a wildcard query and if singleton is going away any time soon? Thanks again!

[2020-10-01 10:19] cmsbuild commented on #31636
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7-slc7_amd64_gcc900/1709

[2020-10-01 10:21] silviodonato commented on #31611
Issue solved by https://github.com/cms-sw/cmsdist/pull/6283
Please note that it works even for the very old releases.
Eg.
[code]

[2020-10-01 10:22] #31611 closed

[2020-10-01 10:32] cmsbuild commented on #31636
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7-slc7_amd64_gcc820/2661

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-01 10:58] jfernan2 commented on #31539
This issue is solved by: https://github.com/cms-sw/cmssw/pull/31623

[2020-10-01 11:56] silviodonato commented on #31604
@cvuosalo you can include manually this unit test by adding `DetectorDescription/DDCMS` in the PR test (see http://cms-sw.github.io/cms-bot-cmssw-cmds.html)
[code]

[2020-10-01 11:58] silviodonato commented on #31636
release-notes

[2020-10-01 11:58] cmsbuild commented on #31636
Generating release notes since CMSSW_11_2_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-10-01 11:58] cmsbuild commented on #31636
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre7 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_2_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/rel

[2020-10-01 12:00] cmsbuild commented on #31636
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre7

[2020-10-01 12:27] slomeo commented on #31632
ianna: I'll check it but it's very strange... all geometry validation scripts (i.e DD vs DD4hep) for Muon System were fine, maybe a problem related to the Muon Sensitive Detectors?

[2020-10-01 12:36] christopheralanwest commented on #27393
In a private email thread, @bundocka suggested that the L1T condition overrides listed in https://github.com/cms-sw/cmssw/issues/27393#issue-461958525 were no longer needed. @rekovic Could you please confirm and submit a PR to remove the overrides?

[2020-10-01 12:40] slomeo commented on #31632
@ianna : did you run the same test for DDD?

[2020-10-01 12:46] makortel commented on #31637
assign geometry, simulation

[2020-10-01 12:46] cmsbuild commented on #31637
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@makortel,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-01 13:06] #31636 closed

[2020-10-01 13:23] ianna commented on #31632
Yes, it could be - the RPhi view shows the his aligned, but scaled down, while RZ looks very strange.

[2020-10-01 13:23] ianna commented on #31632
No, I did not

[2020-10-01 13:32] slomeo commented on #31632
@ianna  @civanch : is it possible to perform two simulations (DDD vs DD4hep) with the same initial seed (same scenario and fragment) and cross check the results? From Muon System I had this request but the cross check asked was for the step4 and not for sim hits.

[2020-10-01 13:33] slomeo commented on #31632
@ianna : what is the command to obtain your screen shot? cmsShow.....

[2020-10-01 13:37] silviodonato commented on #31604
Ok, so I assume that you want to keep the test as it is. If somebody wants to change the geometry, s/he needs also to update the unit test. As @cvuosalo pointed out, it would be good to run this test anytime we change a `Geometry` package

[2020-10-01 13:37] #31604 closed

[2020-10-01 13:39] civanch commented on #31632
@slomeo , no chance to run in regression. When build DD4Hep geometry we do different operations and numerically final numbers are not guaranteed to agree with DDD. If any value in geometry is different on a very small value simulation cannot be identical.

[2020-10-01 19:15] kpedro88 commented on #31506
+upgrade

[2020-10-01 20:43] makortel opened #31644 "Random DQM differences in PR tests"
I've seen tiny changes in
* workflow 158.01 `ParticleFlow/JetResponse/slimmedJetsPuppi/JEC/preso_eta30`
* workflow 23234.0 `SiOuterTrackerV/Tracks/FinalResolution/d0Resolution`
* workflow 28234.0 `SiOuterTrackerV/Tracks/FinalResolution/VtxZResolution`

in the tests of PRs https://github.com/cms-sw/cmssw/pull/31546 and https://github.com/cms-sw/cmssw/pull/31642 that should not have any impact on ho

[2020-10-01 20:43] makortel commented on #31644
assign dqm

[2020-10-01 20:43] cmsbuild commented on #31644
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-01 20:43] cmsbuild commented on #31644
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-01 21:42] cvuosalo commented on #31466
I am investigating this issue. Is anyone else working on it?

[2020-10-01 22:28] cvuosalo commented on #31466
Double placement appears to be fairly harmless. The volume is already in place when a second attempt is made to place it, which has no effect.

[2020-10-01 23:21] makortel commented on #25106
Good question. I think too that most of the issue has been addressed.

There is still code using `getTH1()`, which are also discussed in #29096.

There are still some `DQMOneLumiEDAnalyzer` modules, which are also discussed in https://github.com/cms-sw/cmssw/issues/25090.

@Dr15Jones What do you think, are there aspects in this issue that are not being followed up (also) elsewhere?

[2020-10-02 01:07] slava77 opened #31647 "cleanup/optimize pp on HI in miniAOD/PAT, EI (and maybe RECO) steps to align better with heavy ions needs"
A few items still not needed in heavy ions were left over during integration of #30898
- [x] a few pp_on_aa modifier calls are now redundant and should be removed in configurations that are no longer a part of HI miniAOD (see miniAOD_tools.py methods applied with `(~_hiGeneral).toModify`
    - (noted on Feb 11, 2021) some cleanup was made in #31893
- [ ] EI step should be either updated to use `ak

[2020-10-02 01:07] cmsbuild commented on #31647
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-02 01:08] slava77 commented on #31647
assign reconstruction,xpog

[2020-10-02 01:08] cmsbuild commented on #31647
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@perrotta,@jpata,@gouskos,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-02 07:53] ianna commented on #31466
@cvuosalo - the `EVFE*` volumes defined here:
https://cmssdt.cern.ch/lxr/source/Geometry/EcalCommonData/plugins/dd4hep/DDEcalBarrelNewAlgo.cc#1840

[2020-10-02 08:35] jfernan2 commented on #31644
Hi @makortel  I don't see the differences in the exact PR numbers you quote but I have seen them randomly around for other PRs I have reviewed, specially the SiOuterTracker differences.

I have ignored them since they seem to me our famous stat box inconsistency: the top most stat box is from ROOT, and shows a rounded value, the other ones are from the GUI and show the true value from the data. So

[2020-10-02 11:33] namapane commented on #31569
Addressed in #31649

[2020-10-02 12:47] slava77 commented on #27889
updates from Oct 2:
-  #31510 HCAL slimmed collections  was merged Sep 23, 2020)
- new feature added: #31615 ParticleNet AK4 jet tagger
- info updated with master PR now available ( #31618) for Activate deepDoubleXV2

[2020-10-02 12:50] slava77 commented on #27889
also, added a note for "produce lowPtGsfEle slimmed collections": Target by October 10 or so.

[2020-10-02 13:00] ianna commented on #31569
@namapane - thanks!

[2020-10-02 13:05] silviodonato opened #31650 "Build CMSSW_10_2_24_patch1"

[2020-10-02 13:06] cmsbuild commented on #31650
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-10-02 13:08] silviodonato commented on #31650
+1

[2020-10-02 13:08] cmsbuild commented on #31650
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_24_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-10-02 13:08] cmsbuild commented on #31650
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-10-02 13:09] cmsbuild commented on #31650
The build has started for slc6_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2668/console
CMSDIST Branch: [REL/CMSSW_10_2_24/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_24/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-02 13:09] cmsbuild commented on #31650
The build has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2669/console
CMSDIST Branch: [REL/CMSSW_10_2_24/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_24/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-02 13:28] makortel commented on #31644
In the PRs I quoted these differences are shown in https://github.com/cms-sw/cmssw/pull/31546#issuecomment-698093893 and https://github.com/cms-sw/cmssw/pull/31642#issuecomment-702373199, and I do see them flagged by RelMon. I agree it looks some kind of precision issue.

The stat box indeed looks the same, but the error bars look different, so maybe something tiny is indeed different between the

[2020-10-02 13:33] cmsbuild commented on #31650
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_24_patch1-slc6_amd64_gcc700/2668
Some

[2020-10-02 13:33] cmsbuild commented on #31650
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_24_patch1-slc7_amd64_gcc700/2669
Some

[2020-10-02 13:35] makortel commented on #31644
Here is one more https://github.com/cms-sw/cmssw/pull/29553#issuecomment-702499182

[2020-10-02 13:44] jfernan2 commented on #31644
OK, I had looked to the last Jenkins tests, where indeed they disappeared

[2020-10-02 14:08] cmsbuild commented on #31650
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_24_patch1-slc6_amd64_gcc700/2668

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-02 14:09] cmsbuild commented on #31650
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_24_patch1-slc7_amd64_gcc700/2669

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-02 18:53] stlammel opened #31657 "EOS data access issue in CMSSW"
T2_AT_Vienna moved to a new EOS-based storage system. About 90% of
HammerCloud jobs running at the site to check things are working properly
fail with interrupted data reads.
An EOS issue report was submitted and EOS developers believe the access
issue/bug is within CMSSW.
https://eos-community.web.cern.ch/t/fst-marked-as-offline-and-spurious-mgm-failovers/511
Strangely, EOS is used at CERN since

[2020-10-02 18:53] cmsbuild commented on #31657
A new Issue was created by  @stlammel Stephan Lammel.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-02 18:59] makortel commented on #31657
assign core

[2020-10-02 18:59] makortel commented on #31657
@bbockelm Would you be able to take a look?

[2020-10-02 19:00] cmsbuild commented on #31657
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-02 19:19] bbockelm commented on #31657
The file-open patterns is not a bug, just the behavior of CMSSW.  I suspect it's a false lead.

Without access to the logfiles (all the links I saw pointed to SAM and the links are now dead), I can't really speculate as to what's going wrong at Vienna.

Does Vienna deploy any Xrootd client plugins that might be hijacking the code paths?

[2020-10-02 20:55] bbockelm commented on #31657
@stlammel pointed me at a few logs.  Here's what I see:

[code]

[code]

[code]

Those look like real corruptions and I don't see much to do with the multi-source work.  The incorrect bytes are getting into the root layers.

[2020-10-02 21:09] stlammel commented on #31657
@bbockelm Hallo Brian,
we ask the Vienna admins to verify the checksum as very first step and
files don't seem to be corrupted on EOS. SAM SE-style xrootd tests read
blocks from each SAM test file from a server at CERN and compare the
checksum. We don't observe any errors/corruption there too.
- Stephan

[2020-10-03 08:12] silviodonato commented on #31650
upload all

[2020-10-03 08:12] cmsbuild commented on #31650
Queing Jenkins upload for slc6_amd64_gcc700

[2020-10-03 08:12] cmsbuild commented on #31650
Queing Jenkins upload for slc7_amd64_gcc700

[2020-10-03 08:15] cmsbuild commented on #31650
The upload has started for slc6_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1712/console

[2020-10-03 08:15] cmsbuild commented on #31650
The upload has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1713/console

[2020-10-03 08:16] cmsbuild commented on #31650
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_24_patch1-slc6_amd64_gcc700/1712

[2020-10-03 08:18] cmsbuild commented on #31650
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_24_patch1-slc7_amd64_gcc700/1713

[2020-10-03 08:27] silviodonato commented on #31650
release-notes

[2020-10-03 08:27] cmsbuild commented on #31650
Generating release notes since CMSSW_10_2_24.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-10-03 08:27] cmsbuild commented on #31650
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_24_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_24 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_24_patch1

Cheers,
cms-bot

You can also click <a h

[2020-10-03 08:28] cmsbuild commented on #31650
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_24_patch1

[2020-10-03 08:30] #31650 closed

[2020-10-03 13:39] fwyzard opened #31659 "Build CMSSW_11_2_0_pre7_Patatrack"

[2020-10-03 13:39] cmsbuild commented on #31659
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-10-03 13:39] fwyzard commented on #31659
+1

[2020-10-03 13:39] cmsbuild commented on #31659
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre7_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-10-03 13:39] cmsbuild commented on #31659
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-10-03 13:41] cmsbuild commented on #31659
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2671/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-03 13:41] cmsbuild commented on #31659
The build has started for cc8_amd64_gcc8 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2670/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-03 13:42] cmsbuild commented on #31659
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2672/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-03 13:43] cmsbuild commented on #31659
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2673/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-03 16:13] bbockelm commented on #31657
Yup, I completely believe that the files on disk aren't corrupted - I think the admins mentioned that on the EOS thread.

The question is, why are corrupt bytes getting to the root layer?  I noticed they are using erasure coding instead of replication - I wonder if that possibly could cause the issue?

[2020-10-03 16:14] cmsbuild commented on #31659
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7_Patatrack-slc7_ppc64le_gcc820

[2020-10-03 16:42] cmsbuild commented on #31659
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7_Patatrack-slc7_amd64_gcc820/267

[2020-10-03 16:45] fwyzard commented on #31659
upload all

[2020-10-03 16:46] cmsbuild commented on #31659
Queing Jenkins upload for slc7_amd64_gcc820

[2020-10-03 16:46] cmsbuild commented on #31659
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-10-03 16:48] cmsbuild commented on #31659
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1714/console

[2020-10-03 16:49] cmsbuild commented on #31659
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7_Patatrack-cc8_amd64_gcc8/2670
Some

[2020-10-03 16:49] cmsbuild commented on #31659
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7_Patatrack-slc7_amd64_gcc820/1714

[2020-10-03 16:50] cmsbuild commented on #31659
Queing Jenkins upload for cc8_amd64_gcc8

[2020-10-03 16:50] cmsbuild commented on #31659
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1715/console

[2020-10-03 16:50] cmsbuild commented on #31659
The upload has started for cc8_amd64_gcc8 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1716/console

[2020-10-03 16:50] cmsbuild commented on #31659
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7_Patatrack-slc7_ppc64le_gcc820/1715

[2020-10-03 16:52] cmsbuild commented on #31659
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7_Patatrack-cc8_amd64_gcc8/1716

[2020-10-03 17:05] cmsbuild commented on #31659
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7_Patatrack-slc7_ppc64le_gcc820/2672

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-03 17:20] cmsbuild commented on #31659
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7_Patatrack-slc7_amd64_gcc820/2671

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-03 17:29] cmsbuild commented on #31659
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7_Patatrack-cc8_amd64_gcc8/2670

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-03 19:59] cmsbuild commented on #31659
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7_Patatrack-slc7_aarch64_gcc820

[2020-10-03 20:02] cmsbuild commented on #31659
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-10-03 20:04] cmsbuild commented on #31659
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1717/console

[2020-10-03 20:05] cmsbuild commented on #31659
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre7_Patatrack-slc7_aarch64_gcc820/1717

[2020-10-03 22:21] cmsbuild commented on #31659
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre7_Patatrack-slc7_aarch64_gcc820/2673

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-04 15:59] #30910 closed

[2020-10-05 10:02] ianna opened #31664 "[clang-diagnostic-error] deduction of template arguments of 'concurrent_vector'"
Using CMSSW_11_2_X_2020-10-03-1100 IB on slc7_amd64_gcc820 the following code compiles and runs fine:
[code]
however, clang fails with an error:
[code]
[TBB Documentation](https://www.threadingbuildingblocks.org/docs/help/reference/containers_overview/concurrent_vector.html) states:
Where possible, constructors of concurrent_vector support class template argument deduction for C++17. For example
[

[2020-10-05 10:03] cmsbuild commented on #31664
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-05 10:03] ianna commented on #31664
@davidlange6 - FYI

[2020-10-05 11:13] vgvassilev commented on #31664
@ianna, can you provide a minimal example compiling with gcc and not with clang?

[2020-10-05 11:14] ianna commented on #31664
[code]

[2020-10-05 12:45] dan131riley commented on #31664
The error for the constructor that should have matched is
[code]
Intel icc 2020.2 also fails to compile, using the Intel-supplied TBB, with the error for the relevant constructor
[code]

[2020-10-05 13:36] mrodozov commented on #31539
I don't see the unit test failing anymore. Closing this

[2020-10-05 13:36] #31539 closed

[2020-10-05 14:36] makortel opened #31669 "Unit test failures in DQMOffline/Configuration"
Some unit tests in `DQMOffline/Configuration` failing since CMSSW_11_2_X_2020-10-02-2300:
[code]

In CMSSW_11_2_X_2020-10-03-1100 a third error appeared
[code]

See e.g. https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-10-04-2300/unitTestLogs/DQMOffline/Configuration#/

[2020-10-05 14:37] makortel commented on #31669
assign dqm

[2020-10-05 14:37] cmsbuild commented on #31669
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-05 14:37] cmsbuild commented on #31669
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-05 14:44] makortel opened #31670 "Segfault in BDHadronTrackMonitoringAnalyzer"
Many HI workflows (158.1, 158.2, 158.3, 159.1, 159.3, 159.4, 300.0, 301.0, 302.0, 130.0, 311.0, 312.0) are crashing in step3 with a segfault in `BDHadronTrackMonitoringAnalyzer` since CMSSW_11_2_X_2020-10-03-1100
[code]

[2020-10-05 14:45] cmsbuild commented on #31670
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-05 14:45] makortel commented on #31670
assign dqm

[2020-10-05 14:45] cmsbuild commented on #31670
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-05 14:46] makortel commented on #31670
CMSSW_11_2_X_2020-10-03-1100 included two HI related PRs: https://github.com/cms-sw/cmssw/pull/31646 and https://github.com/cms-sw/cmssw/pull/30898. Nevertheless, the cause for the crash is not immediately clear from either (and #30898 is causing configuration problems in 3 other HI workflows).

In any case it would be good for `BDHadronTrackMonitoringAnalyzer` to report possible errors e.g. via e

[2020-10-05 15:10] makortel commented on #31670
#31646 at least is not the cause, by reverting it locally on top of CMSSW_11_2_X_2020-10-04-2300 step3 of 158.1 still crashes.

[2020-10-05 15:17] dan131riley commented on #31664
Type inference for that constructor needs a deduction guide,

https://github.com/oneapi-src/oneTBB/blob/eca91f16d7490a8abfdee652dadf457ec820cc37/include/tbb/concurrent_vector.h#L1169-L1175

[code]
and the define for `__TBB_CPP17_DEDUCTION_GUIDES_PRESENT` isn't getting set for clang.  This is supposed to be set here:

https://github.com/oneapi-src/oneTBB/blob/eca91f16d7490a8abfdee652dadf457ec820cc3

[2020-10-05 15:21] makortel commented on #31664
assign core

Thanks @dan131riley!

[2020-10-05 16:00] makortel commented on #31670
Reverting #30898 locally did make 158.1 step3 to complete succesfully.

[2020-10-05 17:53] kpedro88 opened #31672 "HFNose geometry warning"
In WF 27434.0 (soon to migrate to 31834.0) steps 2 and 3, the following messages are printed:
[code]

@bsunanda @mariadalfonso please take a look

[2020-10-05 17:53] kpedro88 commented on #31672
assign geometry,upgrade

[2020-10-05 17:54] cmsbuild commented on #31672
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-05 17:54] cmsbuild commented on #31672
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-05 18:12] kpedro88 commented on #30512
@emiglior @ghugo83 @bsunanda @mariadalfonso @slomeo see #31673

[2020-10-05 19:10] cvuosalo commented on #31672
@bsunanda Could you please look at this issue?

[2020-10-05 20:02] dan131riley commented on #31664
submitted https://github.com/oneapi-src/oneTBB/issues/284

[2020-10-06 08:24] jfernan2 commented on #31669
There seems to be two different errors:

- TestDQMOfflineConfiguration0 : An entry in task recoJetsHIpostAODTask has not been attached to the process

This seems related to the addition of recoJetsHIpostAODTask in this commit
https://github.com/cms-sw/cmssw/commit/80e6f4ccc95ac8cb090e388717416664bf490cdc
which was merged with this PR
https://github.com/cms-sw/cmssw/pull/30898
in
CMSSW_11_2_X_2020-

[2020-10-06 08:43] jfernan2 commented on #31592
+1

[2020-10-06 08:47] jfernan2 commented on #29187
ping @iatakisi @ramankhurana

[2020-10-06 08:48] jfernan2 commented on #29314
+1

[2020-10-06 08:51] jfernan2 commented on #28858
ping @tanmaymudholkar

[2020-10-06 12:59] makortel commented on #31669
Thanks @jfernan2. The first problem (caused by #30898) apparently should get fixed by https://github.com/cms-sw/cmssw/pull/31674, and the second problem (actually caused by merging https://github.com/cms-sw/cmssw/pull/31541 without #31309) should get fixed with the merge of #31309.

[2020-10-06 18:38] cvuosalo commented on #31632
@slomeo Are you working on this issue? It is high priority.

[2020-10-06 18:45] cvuosalo commented on #31637
@bsunanda @rchatter Could you please look at this issue?

[2020-10-06 18:46] slomeo commented on #31632
@cvuosalo : no, I'm not working on it because I had understood that I have to wait the PR #31573 will be merged. If I'm wrong  I'll start tomorrow.

[2020-10-06 18:50] slomeo commented on #31632
@cvuosalo : the PR #31573 was merged 11 hours ago. Only now I saw it

[2020-10-06 19:20] rchatter commented on #31637
Hi Carl,
Thanks for point us to it. Will look into it and get back.

Rajdeep

[2020-10-06 19:56] cvuosalo commented on #31466
@ianna The `EVFE` volumes are also placed by code here:

https://cmssdt.cern.ch/lxr/source/Geometry/EcalCommonData/plugins/dd4hep/DDEcalBarrelNewAlgo.cc?v=CMSSW_11_2_X_2020-10-05-1200#1814

I had to comment out a lot of "VFE" lines of code to eliminate the double placement. Now I have to check them one-by-one to see which adds the first volume and which adds the double volume.

[2020-10-06 20:15] bsunanda commented on #31466
Hi

I am looking into EVFE part. Regards

Sunanda
________________________________
From: Carl Vuosalo [notifications@github.com]
Sent: 06 October 2020 21:57
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [DD4hep][Simulation] 2021 scenario: Attempt to DOUBLE-place physical volume (#31466)

@ianna<https://github.com/ianna> The EVFE volumes are also placed by code here:

h

[2020-10-06 20:24] cvuosalo commented on #31466
@bsunanda
These code lines starting at line 1808 are enough to cause the double placement, even with other `backCoolVFE*` lines commented out.
[code]
I will leave this problem to you.

[2020-10-06 22:48] kpedro88 opened #31687 "Clean up old HGCal reconstruction modules"
After #31527, the old `hgcalMultiClusters` no longer appear to be used in any sequence. The module and collection should be removed from the default Phase 2 reconstruction, to reduce CPU, memory, disk usage, etc. Any other modules that are no longer needed should also be removed. (If the associated algorithms are not foreseen to be used even in private studies, the source code can be remove as wel

[2020-10-06 22:48] kpedro88 commented on #31687
assign reconstruction,upgrade

[2020-10-06 22:48] cmsbuild commented on #31687
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-06 22:48] cmsbuild commented on #31687
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-07 01:24] qliphy opened #31688 "Build CMSSW_10_6_18"

[2020-10-07 01:24] cmsbuild commented on #31688
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-10-07 01:26] qliphy commented on #31688
+1

[2020-10-07 01:27] cmsbuild commented on #31688
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_18. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-10-07 01:27] cmsbuild commented on #31688
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-10-07 01:28] cmsbuild commented on #31688
The build has started for slc7_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2674/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-07 01:34] cmsbuild commented on #31688
The build has started for slc7_amd64_gcc820 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2675/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-07 04:57] cmsbuild commented on #31688
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_18-slc7_amd64_gcc820/2675
Some tests (

[2020-10-07 04:59] smuzaffar commented on #31670
#31674 has fixed this issue

[2020-10-07 04:59] #31670 closed

[2020-10-07 05:00] #31659 closed

[2020-10-07 05:03] smuzaffar commented on #30049
this has been fixed

[2020-10-07 05:03] #30049 closed

[2020-10-07 05:06] smuzaffar commented on #31088
this is fixed now

[2020-10-07 05:06] #31088 closed

[2020-10-07 05:19] smuzaffar commented on #31669
this is fixed now

[2020-10-07 05:19] #31669 closed

[2020-10-07 05:29] cmsbuild commented on #31688
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_18-slc7_amd64_gcc700/2674
Some tests (

[2020-10-07 05:38] cmsbuild commented on #31688
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_18-slc7_amd64_gcc820/2675

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-07 06:09] cmsbuild commented on #31688
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_18-slc7_amd64_gcc700/2674

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-07 07:18] qliphy commented on #31688
upload all

[2020-10-07 07:19] cmsbuild commented on #31688
Queing Jenkins upload for slc7_amd64_gcc700

[2020-10-07 07:19] cmsbuild commented on #31688
Queing Jenkins upload for slc7_amd64_gcc820

[2020-10-07 07:20] cmsbuild commented on #31688
The upload has started for slc7_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1718/console

[2020-10-07 07:20] cmsbuild commented on #31688
The upload has started for slc7_amd64_gcc820 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1719/console

[2020-10-07 07:21] cmsbuild commented on #31688
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_18-slc7_amd64_gcc820/1719

[2020-10-07 07:22] cmsbuild commented on #31688
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_18-slc7_amd64_gcc700/1718

[2020-10-07 07:58] qliphy commented on #31688
release-notes

[2020-10-07 07:58] cmsbuild commented on #31688
Generating release notes since CMSSW_10_6_17_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-10-07 07:58] cmsbuild commented on #31688
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_18 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_17_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_18

Cheers,
cms-bot

You can also click <a href="mailto:h

[2020-10-07 08:00] cmsbuild commented on #31688
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_18

[2020-10-07 14:46] ianna commented on #31594
`TrackerModuleNumbering` test from DD reference number is **5 sec** in total

DD4hep XML parsing and a `DDCompactView` producer is around **10 sec**
This is included in the `TrackerModuleNumbering` test numbers that show improvement from:

- [x] Current **CMSSW_11_2_X_2020-10-06-2300** IB:

[code]

- [x] avoiding double search for the attributes that are defined in the same specpar by prefetching

[2020-10-07 16:47] kpedro88 commented on #30512
+upgrade

[2020-10-07 19:06] cvuosalo commented on #31672
Fixed in #31675.

[2020-10-07 19:06] cvuosalo commented on #31672
+1

[2020-10-07 19:39] kpedro88 commented on #31672
+upgrade

[2020-10-07 19:39] #31672 closed

[2020-10-07 19:40] cmsbuild commented on #31672
This issue is fully signed and ready to be closed.

[2020-10-08 08:04] Martin-Grunewald commented on #31670
Possibly related problem:

It seems there is still a problem in an HIon workflow (HLT validation tests suite):

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_11_2_X_2020-10-07-2300/slc7_amd64_gcc820/RelVal_RECO_HIon_MC.log

[code]

[2020-10-08 15:19] makortel commented on #31123
Here is a crash from hlt_mc_GRun step2 addOn test. Interestingly all streams are running `EventSetupRecordDataGetter:hltGetConditions`.
http://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-10-07-2300/addOnTests/logs/cmsDriver-hlt_mc_GRun_cmsRun__cvmfs_cms-ib.cern.ch_nweek-02649_slc7_aarch64_gcc820_cms_cmssw-patch_CMSSW_11_2_X_2020-10-07-2300_src_HLTrigger_Configuration

[2020-10-08 15:26] Dr15Jones commented on #31123
That isn't a big surprise to me if they are all waiting on a 'long' running ES data product to be produced. What I find surprising is the segmentation fault is reported to come from `sched_yield`! That's a first for me.

[2020-10-08 15:29] Dr15Jones commented on #31123
One item from the crash says we should update `EventSetupRecordDataGetter` so that it uses ES consumes.

[2020-10-08 15:50] Dr15Jones opened #31716 "Update EventSetupRecordDataGetter to use esConsumes"
The module EventSetupRecordDataGetter needs to be changed to use esConsumes. This will require new infrastructure as the module presently decides during the Event loop which EventSetup data products are available and then requests them. We may need to add a facility like `callWhenNewProductsRegistered` to the EventSetup system.

[2020-10-08 15:50] cmsbuild commented on #31716
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-08 15:50] Dr15Jones commented on #31716
assign core

[2020-10-08 15:51] cmsbuild commented on #31716
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-08 16:06] makortel commented on #30529
I think this one can be closed because we're not running mxnet anymore

[2020-10-08 16:06] #30529 closed

[2020-10-08 16:07] makortel commented on #29753
+1

Done in #31313

[2020-10-08 16:07] #29753 closed

[2020-10-08 16:08] cmsbuild commented on #29753
This issue is fully signed and ready to be closed.

[2020-10-08 16:09] makortel commented on #28747
+1

This has been completed.

[2020-10-08 16:09] #28747 closed

[2020-10-08 16:09] cmsbuild commented on #28747
This issue is fully signed and ready to be closed.

[2020-10-08 16:39] b-fontana commented on #31552
Upon further studies with 2018 testbeam data I observed, as expected, that the missing cut does not change the results dramatically. However, using the cut consistently leads to a slightly better spatial resolution.
Just as an example, I am showing the resolution along X for a positron beam of 50GeV in layer 14 (CE-E) for no distance cut (all hits in each cluster are used)

![inf](https://user-ima

[2020-10-08 20:46] cvuosalo commented on #31576
@slomeo Is this issue resolved?

[2020-10-09 05:16] slomeo commented on #31576
@cvuosalo I fixed only Muon Barrel, I have to do the same job for ME.

[2020-10-09 06:08] cmsbuild commented on #31688
The cleanup has started for slc7_amd64_gcc700

[2020-10-09 06:08] cmsbuild commented on #31688
The cleanup has started for slc7_amd64_gcc820

[2020-10-09 06:08] #31688 closed

[2020-10-09 06:08] cmsbuild commented on #31688
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_18-slc7_amd64_gcc820/1577

[2020-10-09 06:08] cmsbuild commented on #31688
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_18-slc7_amd64_gcc700/1576

[2020-10-09 15:28] peruzzim opened #31731 "DeepMET thread safety"
From NanoAOD validation tests with CI tools, followed by more debugging in local, it looks like the evaluation of DeepMET has issues with thread safety in 11_2_X - at least when run in the NANOAOD workflow.

Instructions to reproduce:
 - setup CMSSW_11_2_0_pre7
 - run a few times this command:
[code]
 - check DeepMET quantities in the output each time

For instance, if I print quantities of event

[2020-10-09 15:30] peruzzim commented on #31731
assign reconstruction,xpog

[2020-10-09 15:30] cmsbuild commented on #31731
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@perrotta,@jpata,@gouskos,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-09 15:58] Dr15Jones commented on #31731
The internals of pat::MET use a class PackedMETUncertainty which has mutable members

https://github.com/cms-sw/cmssw/blob/8c5c208a0f915176ebb38e71514f951192571645/DataFormats/PatCandidates/interface/MET.h#L313-L314

That class is used when requesting the values seen as being unstable in this issue.

[2020-10-09 16:28] slava77 commented on #31731
I'm not sure if this can be related. I guess the implication is that the code reading the values and printing them is itself not thread safe. @Dr15Jones is that what you meant?

On the production side, the DeepMETProducer is a stream module, so there should be no contention between threads to write an object or type pat::MET.

The only consumed event data is the `PackedCandidateCollection`, which

[2020-10-09 18:11] Dr15Jones opened #31735 "Reduce dependency on eigen"
FWLite only depends on eigen because of the tenous use of that package by DataFormats/HGCalReco and DataFormats/Math.

DataFormats/HGCalReco/interface/Trackster.h uses eigen only in a member function that takes eigen classes and converts them into std::array's. This dependency could be removed either by converting that function to be templated (since it is all inlined anyway) or by using a stand a

[2020-10-09 18:11] cmsbuild commented on #31735
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-09 18:13] Dr15Jones commented on #31735
assign reconstruction, upgrade

[2020-10-09 18:13] cmsbuild commented on #31735
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-09 18:23] kpedro88 commented on #31735
@rovere can you see if it's feasible to relocate the eigen dependence for Trackster?

@VinInn @fwyzard can you look at choleskyInversion?

[2020-10-09 18:27] makortel commented on #31735
https://github.com/cms-sw/cmssw/pull/31722 adds a dependence `DataFormats/Math/interface/choleskyInversion.h`, but the use in there does not preclude moving it to a non-DataFormat package.

[2020-10-09 18:29] peruzzim commented on #31731
@slava77 it only happens with DeepMET, not with any other NanoAOD variable, including other MET flavors that are filled - it seems to me - in the very same way:

https://github.com/cms-sw/cmssw/blob/054e28bbdd6b1afb61953f58d98dedcc973f0754/PhysicsTools/NanoAOD/python/met_cff.py#L91-L141
https://github.com/cms-sw/cmssw/blob/054e28bbdd6b1afb61953f58d98dedcc973f0754/PhysicsTools/NanoAOD/python/nano_c

[2020-10-09 19:15] slava77 commented on #31731
@yongbinfeng @steggema @intrepid42

please take a note of this issue and see if you can reproduce it (I guess you have a mostly standalone setup for this already)

[2020-10-09 19:25] makortel commented on #31731
Could this line introduce a race condition?
https://github.com/cms-sw/cmssw/blob/054e28bbdd6b1afb61953f58d98dedcc973f0754/RecoMET/METPUSubtraction/plugins/DeepMETProducer.cc#L72-L73
That line defines a global variable (even if only accessible to that function) `input_list` that is constructed from the `input*_` members of the first stream instance of the module arriving that line (even worse if th

[2020-10-09 19:42] makortel commented on #31731
The `tensorflow::Tensor` appears to behave similar to `std::shared_ptr`
https://github.com/tensorflow/tensorflow/blob/05c6d504e472bdc5c927d679ef34a3cca6540b53/tensorflow/core/framework/tensor.h#L929-L932
https://github.com/tensorflow/tensorflow/blob/05c6d504e472bdc5c927d679ef34a3cca6540b53/tensorflow/core/framework/tensor.h#L664
so the `static const tensorflow::NamedTensorList input_list` is indee

[2020-10-09 19:47] fwyzard commented on #31735
No, but feel free to make a PR, and somebody will review it.

[2020-10-09 20:35] cvuosalo commented on #31567
Isn't `GeometricDetExtra` harmless at this point? Yes, we can clean it eventually, but why should its removal be a priority at this time?

[2020-10-09 20:45] mmusich commented on #31567
@cmsbuild, please test

[2020-10-09 23:30] vargasa opened #31739 "SLHCUpgradeSimulations/Geometry tests broken"
#### How to reproduce:
##### 1
[code]
##### 2
[code]
##### 3
[code]

[2020-10-09 23:30] cmsbuild commented on #31739
A new Issue was created by  @vargasa Andres Vargas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-09 23:45] makortel commented on #31739
assign geometry, upgrade

[2020-10-09 23:46] cmsbuild commented on #31739
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-10 05:21] ianna commented on #31567
If it stays, we’d need to port it to DD4HEP. This is quite a bit of work.

[2020-10-10 08:24] peruzzim commented on #31731
After longer tests, I have also reproduced the problem in 10_6_18. I correct the information in the report above.

[2020-10-10 08:24] VinInn commented on #31735
Historically Math is in DataFormat. Was not my decision as was not my decision to swallow SMatrix in Root.
Most probably we will migrate to eigen more and more, so just accept the fact that eigen is first class in cms

[2020-10-10 13:58] Dr15Jones commented on #31735
@davidlange6 FYI

[2020-10-10 14:54] slava77 commented on #31731
fixes are in #31738 (master), #31740 (106X), and #31741 (111X).

[2020-10-10 17:38] JanFSchulte opened #31743 "trackingOnly workflows broken in latests IBs"
Running trackingOnly workflows in the latest IBs (last two days at least) fails with a `ProductNotFound` error when writing the RECOSIM output:

`Begin processing the 1st record. Run 1, Event 1, LumiSection 1 on stream 0 at 10-Oct-2020 19:35:18.571 CEST

----- Begin Fatal Exception 10-Oct-2020 19:35:57 CEST-----------------------

An exception of category 'ProductNotFound' occurred while

   [0] P

[2020-10-10 17:38] cmsbuild commented on #31743
A new Issue was created by  @JanFSchulte Jan-Frederik Schulte.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-10 17:41] slava77 commented on #31743
assign reconstruction,upgrade

[2020-10-10 17:42] cmsbuild commented on #31743
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-10 17:44] JanFSchulte commented on #31743
I should mention that full workflows that run the whole RECO work fine.

[2020-10-10 18:34] makortel opened #31745 "EDLooper can not declare any consumption of ED or ES products"
Because it does not inherit from EDConsumerBase.

I'm not sure if we strictly need it to declare consumes for ED products, but for ES it could be useful (especially if we want to deprecate/remove the non-token API).

[2020-10-10 18:34] makortel commented on #31745
assign core

[2020-10-10 18:34] cmsbuild commented on #31745
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-10 18:34] cmsbuild commented on #31745
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-11 18:16] JanFSchulte commented on #31743
Turns out this problem is already present it pre7 and apparently caused by this PR https://github.com/cms-sw/cmssw/pull/31527

Tested by making sure the trackingOnly workflows still worked in pre6 but fail when applying #31527 on top of it.

[2020-10-11 18:42] slava77 commented on #31743
`particleFlowClusterHGCalFromMultiCl` is a part of `hgcalLocalRecoTask` and that PR added `ticlMultiClustersFromTrackstersMerge` to the inputs , which drags in dependence of generalTracks.
So, violates the factorization of local reco.

For a temporary manual solution, try to `process.hgcalLocalRecoTask.remove(process.particleFlowClusterHGCalFromMultiCl)` and (just in case) `process.reconstruction_

[2020-10-11 18:48] JanFSchulte commented on #31743
@slava77 Thanks for the suggestion, the workaround works and I can continue my work until a more permanent fix is found.

[2020-10-11 19:00] kpedro88 commented on #31739
-1
the only actual unit test in `SLHCUpgradeSimulations/Geometry` is https://github.com/cms-sw/cmssw/blob/0da1310fe6ca207b80cd9107072ddeec5b63b49b/SLHCUpgradeSimulations/Geometry/test/BuildFile.xml#L36-L39
any other files in the `test` directory are considered unmaintained, and the default expectation at any given time is that they're broken

[2020-10-12 04:51] hatakeyamak commented on #30588
I wouldn't say this is heavily used, but it helps, for example, for single particle gun samples. So, it will be reasonable to keep it.

[2020-10-12 06:14] fwyzard commented on #30588
I think #30589 fixed the potential problems, so shall we close this issue ?

[2020-10-12 06:20] hatakeyamak commented on #30588
Certainly ok for me.

[2020-10-12 06:30] #30588 closed

[2020-10-12 08:51] steggema commented on #31731
Thanks Slava and all, in particular @makortel, for the quick understanding and fixes. We added the static following a review comment but apparently didn't think it through sufficiently. This may also be of interest for the ML production group (@riga @mialiu149)

[2020-10-12 11:42] ianna opened #31753 "[DD4hep][Simulation] Define a dd4hep Era workflow for RelVal"
Define a dd4hep Era workflow for RelVal

as discussed during Sim meeting

[2020-10-12 11:44] cmsbuild commented on #31753
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-12 12:52] ianna opened #31754 "[DD4hep][Geometry] Automated regression tests"
Automate Geometry regression tests. In order to do that:

- [ ] Check that all test python configurations are in `Geometry/Package/test/python` directory such as https://cmssdt.cern.ch/lxr/source/DetectorDescription/DDCMS/test/python/

- [ ] Check that every Geometry package has `runTests.sh` such as https://cmssdt.cern.ch/lxr/source/DetectorDescription/DDCMS/test/runTest.sh

In addition check:
1.

[2020-10-12 12:52] cmsbuild commented on #31754
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-12 12:55] makortel commented on #31753
assign geometry, simulation, pdmv

[2020-10-12 12:55] cmsbuild commented on #31753
New categories assigned: geometry,pdmv,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@chayanit,@wajidalikhan,@makortel,@jordan-martins,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-12 14:58] makortel opened #31757 "Reduce non-Debug messages in TrackerG4SimHitNumberingScheme"
It was found out that when enlarging the MessaLogger's waiting message queue size
[code]
running the GEN-SIM step of (at least) a run3 workflow 11640 with about 16 threads (and streams) and beyond the MessageLogger starts to hog memory. An IgProf [MEM_LIVE on 16-thread job after 48 events](http://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/mtsim/test_07.mem.48/25) indicates that a vast majorit

[2020-10-12 14:58] makortel commented on #31757
assign simulation

[2020-10-12 14:58] cmsbuild commented on #31757
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-12 14:58] cmsbuild commented on #31757
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-12 15:17] VinInn commented on #31757
Why debug log should run in production?
I think we should remove the Info class

[2020-10-12 18:05] Dr15Jones commented on #31716
NOTE: instead of doing something like `callWhenNewProductsRegistered`, we could instead just have a callback once all EventSetup data products have been declared but before we finalize the esConsumes info. This works since no ED module is allowed to generate an ES data product therefore we do not need to worry about the issue in the ED system where a produces call can trick another produces call v

[2020-10-12 18:09] Dr15Jones commented on #31716
Looks like we could add a call to a virtual function in `EDConsumerBase::updateLookup` at the very beginning of that routine to allow setting of `esConsumes` based on what is available in the EventSetup.

[2020-10-12 18:34] makortel opened #31759 "Look for a way to reject non-framework INFO messages earlier"
This issue is motivated by https://github.com/cms-sw/cmssw/issues/31757. The default MessageLogger configuration sets the message threshold to INFO
https://github.com/cms-sw/cmssw/blob/260347d4d1ec072b1db4a62f285798ea43bd5a88/FWCore/MessageService/python/MessageLogger_cfi.py#L48
(likely) because the `FwkReport` and `FwkSummary` messages are INFO
https://github.com/cms-sw/cmssw/blob/260347d4d1ec072

[2020-10-12 18:34] makortel commented on #31759
assign core

[2020-10-12 18:34] cmsbuild commented on #31759
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-12 18:34] cmsbuild commented on #31759
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-12 18:43] makortel commented on #31759
(based on a chat with @Dr15Jones)

A general approach would be to use the message categories to reject the other than `FwkReport` and `FwkSummary` messages early (the necessary information is in the configuration). On other other hand, doing a "contains" check on a "set of strings" on every `LogInfo` call sounds potentially expensive.

A faster alternative could be to introduce a "FWK Info" messag

[2020-10-12 18:44] makortel commented on #31757
I opened another issue (#31759) to look into rejecting INFO messages earlier.

[2020-10-12 19:35] makortel opened #31760 "Add a way to specify compute accelerators in the configuration"
Currently the CUDA tooling relies on auto-discovery of resources (honoring `$CUDA_VISIBLE_DEVICES`), but we should find a way to specify in configuration
* forcing the SwitchProducer choice (e.g. with `SwitchProducerCUDA` either `cpu` or `cuda`), and
* specifying the compute device(s) to be used

The information should propagate to both SwitchProducer(s), that dictate which case(s) of module chain

[2020-10-12 19:35] makortel commented on #31760
assign core,heterogeneous

[2020-10-12 19:35] cmsbuild commented on #31760
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@makortel,@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-12 19:35] cmsbuild commented on #31760
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-12 19:36] makortel commented on #31760
https://github.com/cms-patatrack/cmssw/pull/542 demonstrates a hacky way to force the SwitchProducer choice.

[2020-10-12 20:11] makortel commented on #31760
Thinking out loud (names are bad and long etc):

The SwitchProduder choice(s) could be specified along
[code]

The compute devices could be specified along
[code]
This option would supersede the current  `CUDAService.enable`.

It could handy if the `SwitchProducerCUDA` could make use of this parameter as well, along
* if empty, or `process.CUDAService` does not exist, choice will be `cpu`
* if non

[2020-10-12 20:24] fwyzard commented on #31760
hi Matti,
why is it better to do something like
[code]
rather than
[code]
?

[2020-10-12 20:25] fwyzard commented on #31760
About:

I would prefer to keep `CUDAService.enable` as it is, and use an empty `devices` list to specify the default behaviour, that is using all available devices.

[2020-10-12 20:29] fwyzard commented on #31760
By the way, is this strictly about CUDA, or a more general approach ?

Something like SYCL/oneAPI does not really enumerate the devices as ordinal numbers; rather, it uses a combination of backend (e.g. OpenCL vs CUDA), device type (CPU vs GPU), vendor and device name.

Which makes it more powerful, and a lot more complicated to implement in our software.

[2020-10-12 20:30] fwyzard commented on #31760
Would it work to put the whole configuration in the `SwitchProducerCUDA`, and make the `CUDAService` pull it from there ?

[2020-10-12 21:00] cvuosalo commented on #31567
@ianna Can `GeometricDetExtra` be disabled and ignored for DD4hep but retained for now for the old DD? If it is not used, I am not understanding why it has to be completely deleted immediately.

[2020-10-12 21:31] makortel commented on #31760
If by `SwitchProducerCUDA.choose` you mean something like a class variable (since there is no `process.SwitchProducerCUDA`), that would not be visible e.g. in `edmConfigDump`. If you mean an instance variable, then every `SwitchProducerCUDA` instance in the `Process` would have to be configured in the same way.

[2020-10-12 21:36] makortel commented on #31760
I'd like to end up in a solution we think could be later extended to SYCL as well.

At the lowest level I think that's fine (just replace `cms.vint32` with `cms.vstring`), but I can imagine e.g. at higher level figuring out the proper strings to be challenging.

[2020-10-12 21:38] makortel commented on #31760
The natural dependence goes other way around. One can use `CUDAService` without `SwitchProducerCUDA`, e.g. for a configuration that always requires CUDA. But use of `SwitchProcucerCUDA` in practice implies the use of `CUDAService` (even if they don't strictly depend on each other, which also causes some duplication of the discovery mechanism).

[2020-10-12 21:41] makortel commented on #12853
+1

[2020-10-12 21:41] cmsbuild commented on #12853
This issue is fully signed and ready to be closed.

[2020-10-12 21:50] fwyzard commented on #31760
If this is the only concern it should be easy to fix: just like the `process` knows to add
[code]
it could check if `SwitchProducerCUDA.choose` is not `None`, and add instead
[code]

[2020-10-12 21:58] fwyzard commented on #31760
Indeed... at the moment some modules need the `CUDAService` (disabled) even when we don't use CUDA.

The reason I suggested it is because it seems difficult for the `SwitchProducerCUDA` to extract information from the `CUDAService`, while the `CUDAService` might have ways of querying the `SwitchProducerCUDA` configuration.

Otherwise we could add a new `process.options.CUDA = cms.untracked.PSet(..

[2020-10-12 22:03] makortel commented on #31760
For `edmConfigDump` specifically yes. But it would imply that customizations would not be possible with the `Process` object alone, but in addition one would have to import a specific object (strictly speaking not true, any `SwitchProducerCUDA` object in the `Process` could be used to set the class variable, but I'm a bit afraid that would be confusing; also generally one would have to find one su

[2020-10-12 22:08] makortel commented on #31760
Something like that is indeed one option. On the other hand SwitchProducer would have to be extended in some way to be able to read configuration options outside of itself, technically it would not matter much if it reads `process.options` or `process.CUDAService` (but there may be other reasons to favor `process.options`).

[2020-10-13 00:19] makortel commented on #30359
There is another failure in the workflow 1000.0 step 2 in default IB CMSSW_11_2_X_2020-10-12-1500.

[2020-10-13 05:24] fwyzard commented on #31760
That's not very different from customisations that take the `process` as input, and have to import the modules / sequences / tasks they add to it:
[code]
vs
[code]

The latter does not really need the `process` parameter, but it can be added for consistency with all other customisation functions.

[2020-10-13 05:24] fwyzard commented on #31760
Anyway, whatever the options are, let's just not pick something that ends up with a syntax too cumbersome to use.

[2020-10-13 07:19] rovere commented on #31743
Ciao @slava77 , all,
indeed I see the problem and some factorization is needed. In this specific case, I'm not sure why the `particleFlowClusterHGCalFromMultiCl` product is needed in a `TrackingOnly` scenario. I think that, independently of the factorization that is needed, we should not include products in a `TrackingOnly` scenario that are not strictly needed.

[2020-10-13 12:05] slava77 commented on #31743
trackingOnly still includes jetCore, which requires calorimeter local reco; that's nor phase-2 though.
`particleFlowClusterHGCalFromMultiCl` is a part of calo local.

[2020-10-13 12:20] kpedro88 commented on #16914
resolved by #31681

[2020-10-13 12:20] #16914 closed

[2020-10-13 12:51] ianna commented on #31567
I though that we do not want to diverge too much? The work has been done already. Why would we want to delay it?

[2020-10-13 13:17] silviodonato opened #31768 "'PSet' object has no attribute 'btagCMVA'"
After having merged #31618 (`CMSSW_11_2_X_2020-10-13-1100`) we get this error in wf 10224.15, 11024.15, 25202.15
[code]

[2020-10-13 13:18] cmsbuild commented on #31768
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-13 13:18] silviodonato commented on #31768
assign xpog

[2020-10-13 13:18] cmsbuild commented on #31768
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-13 13:30] mariadalfonso commented on #31768
@alefisico @camclean @andrzejnovak

The JMEnano (also used by the BTV) workflows are giving problem.

The BTV group is deprecating some of the discriminator for the central nano after the 10_6 and you are adding them for the JMEnano for any potential jets reconstruction
https://github.com/cms-sw/cmssw/pull/31714#discussion_r501930168

Do you really need them in the JME(BTV)nano ?

[2020-10-13 13:32] andrzejnovak commented on #31768
I'm taking a look, but CMVA is not supported and I don't know of anyone using it for anything.

[2020-10-13 15:50] makortel opened #31773 "Crash in pythia8 in cc8"
Workflow 2018.11 step 1 crashes (or gets stuck/slow and gets killed by timeout) in CMSSW_11_2_X_2020-10-12-2300 for cc8_amd64_gcc8
[code]
http://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_amd64_gcc8/CMSSW_11_2_X_2020-10-12-2300/pyRelValMatrixLogs/run/2018.11_SMS-T1tttt_mGl-1500_mLSP-100_13_UP18+SMS-T1tttt_mGl-1500_mLSP-100FS_13_UP18+HARVESTUP18FS+MINIAODMCUP18FS/step1_SMS-T1tttt_mGl-1500_mLSP-100_13

[2020-10-13 15:50] makortel commented on #31773
assign generators

[2020-10-13 15:50] cmsbuild commented on #31773
New categories assigned: generators

@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-13 15:50] cmsbuild commented on #31773
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-13 17:18] cvuosalo commented on #31567
This issue is taking up time and effort that we need to direct to fixing the DD4hep workflows. It also creates risk of bugs and unforeseen consequences from deleted records.
I don't understand how this issue became a higher priority than urgent bug-fixing.

[2020-10-13 17:22] alefisico commented on #31768
No,we dont need them, we need the default btagging discriminators. Sorry if my comment in #31714 was confusing, what I meant is that we need the default btagging discriminators in all the other jet collections.

[2020-10-13 17:26] gouskos commented on #31768
Hi: The CSV discriminant for AK8/AK15 jet collections should be kept [and I think it does not create any errors] since it is used for the calibration of DeepAK8/DeepAK15/ParticleNet

[2020-10-13 17:31] mariadalfonso commented on #31768
@gouskos

BTV want to keep the
btagCSVV2 = Var("bDiscriminator('pfCombinedInclusiveSecondaryVertexV2BJetTags')

do you really need what is not supported by BTV ?
btagCMVA = Var("bDiscriminator('pfCombinedMVAV2BJetTags') ?

[2020-10-13 17:41] gouskos commented on #31768
Hi @mariadalfonso - Yes this what I wrote keep *CSV*; CMVA can be removed

[2020-10-13 18:18] andrzejnovak commented on #31768
Yes, this checks out. We are removing CMVA, keeping CSVv2.

[2020-10-13 18:50] Dr15Jones commented on #31716
Done in #31775

[2020-10-13 19:12] mariadalfonso commented on #31768
@andrzejnovak

I think the CSVv2 is the main tagger for the EOY still. let's take the experience from the UL analysis first then we review for the Run3 central nano. JMEnano can be adapted after also.

There is no reason to have packed candidates occupy twice disk space (one in miniAOD and one in PFNano(NanoAODJMAR), as you see multiplication of nano lead always to errors.

[2020-10-13 20:55] civanch commented on #31757
@ghugo83 , likely this info printout was forgotten in your recent PR. Would you fix or you are busy with other debugging?

[2020-10-14 07:26] agrohsje commented on #31773
Let me add @smrenna. @mkirsano @SiewYan Is anyone of you available to further check?
This is the corresponding fragment:
https://github.com/cms-sw/cmssw/blob/master/Configuration/Generator/python/SMS-T1tttt_mGl-1500_mLSP-100_13TeV-pythia8_cfi.py

[2020-10-14 07:30] ianna opened #31782 "[DD4hep] Drop Voxelization"
This is not an urgent issue, but at some point we want to be able to drop voxelization. We do not use TGeo for tracking, so it is not useful for us. It will save significant amount of time of not doing the following:
[code]

@MarkusFrankATcernch - FYI

[2020-10-14 07:31] cmsbuild commented on #31782
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-14 07:50] ghugo83 commented on #31757
@civanch My PR was not touching SimG4CMS/Tracker/src/TrackerG4SimHitNumberingScheme.cc

[2020-10-14 08:21] mariadalfonso commented on #31768
@andrzejnovak @alefisico @hqucms
we need a fix for the broken JMEnano _asap_. we agreed to remove the CMVA from the JMEnano

Two possibilities
@hqucms  can update  his PR cms-sw#31714
@andrzejnovak can make a new PR in master

in any cases the PR should pass
runTheMatrix.py -l 10224.15, 11024.15, 25202.15

let me know how you proceed ?

Maria

[2020-10-14 08:46] andrzejnovak commented on #31768
@mariadalfonso looks like an easy fix, I'm running the failed WFs now, will submit a PR asap

[2020-10-14 08:51] perrotta opened #31783 "Possible bug in the usage of rpcMatches in a reco::Muon"
While reviewing the Muon/MuonId code, I stumbled into the usage of RPC matches in the Muon DataFormat.

Consider for example the loop starting here:
https://github.com/cms-sw/cmssw/blob/master/DataFormats/MuonReco/src/Muon.cc#L160
or also this other one:
https://github.com/cms-sw/cmssw/blob/master/DataFormats/MuonReco/src/Muon.cc#L251

In both cases, a loop over rpcMatches is performed. But in the

[2020-10-14 08:51] perrotta commented on #31783
assign reconstruction

[2020-10-14 08:51] cmsbuild commented on #31783
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-14 08:51] cmsbuild commented on #31783
A new Issue was created by  @perrotta .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-14 13:15] makortel commented on #31782
assign geometry

[2020-10-14 13:45] civanch commented on #31739
@kpedro88 , should broken tests we removed or only marked "work to be done in future"?
This issue may be closed.

[2020-10-14 13:47] kpedro88 commented on #31739
If some developers still find them useful and update them periodically, they could stay in the repo.

I just really want to emphasize that central maintenance is not provided for anything not automatically tested (as unit test or matrix test).

[2020-10-14 15:45] makortel commented on #31644
Here is one more (`SiOuterTrackerV` only) https://github.com/cms-sw/cmssw/pull/31715#issuecomment-708112749

[2020-10-14 16:26] jfernan2 commented on #31505
+1

[2020-10-14 17:50] ianna commented on #31505
indeed they are not used. The last three have been migrated to another package. The PR https://github.com/cms-sw/cmssw/pull/31793 deletes them.

[2020-10-14 18:27] #31768 closed

[2020-10-14 19:21] cvuosalo commented on #31739
-1

[2020-10-14 19:33] smrenna commented on #31773
Hi, yes, I can get to this.

I have been in behavorial interview training for the past two days (just finished), and I am trying to catch up on my email.

Steve

From: agrohsje <notifications@github.com>
Date: Wednesday, October 14, 2020 at 2:27 AM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cms-sw/cmssw] Cras

[2020-10-14 20:41] smrenna commented on #31773
I didn't reproduce a crash in Pythia8 stand-alone, but I didn't use all of the CMS settings.
Do you know if this was in a long run, or the first event caused the crash?

[2020-10-14 21:04] makortel commented on #31773
The job was run with 4 threads and concurrent events, and it crashed during processing one of them (so close to "first event").

This is the first crash of this kind I've seen, and I did not spot any relevant PRs or external updates between the IB of the crash and the previous IB we ran cc8 tests. It did not crash in slc7, and in the next IB with cc8 (CMSSW_11_2_X_2020-10-13-2300) it did not crash

[2020-10-14 22:24] smrenna commented on #31773
That makes it hard.  The core dump looks like the problem was in the qqbar -> gluino gluino subprocess.

[2020-10-14 23:27] bsunanda opened #31797 "Creation of SimHits for the Muon system for dd4hep"
Creation of Geant4 geometry tree in the classical DDD package, the copy number is complemented with an offset and a tag which are used later on used in setting the DetId for muons. Most likely it is used only for the muons. The added copy numbers are used in the muon sensitive detector class (an auxiliary class of the SD). This can either be done at the time of creation of Geant4 geometry by DD4He

[2020-10-14 23:27] cmsbuild commented on #31797
A new Issue was created by  @bsunanda Sunanda Banerjee.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-14 23:34] makortel commented on #31797
assign geometry, simulation

[2020-10-14 23:34] bsunanda opened #31798 "DD4Hep complains about duplicate volume"
DD4Hep complains of duplicate volume when it finds the same name and copy number is positioned multiple time. Those volumes are skipped and thus the geometry is incomplete for dd4hep. This happens for EB geometry as well as for PPS. In case of PPS, the same name is used in 2 separate XML files. So a combination of name and namespace resolves the case for DDD in case of PPS. The issue for EB is not

[2020-10-14 23:34] cmsbuild commented on #31797
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@makortel,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-14 23:35] cmsbuild commented on #31798
A new Issue was created by  @bsunanda Sunanda Banerjee.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-14 23:44] makortel commented on #31798
assign geometry

[2020-10-14 23:45] cmsbuild commented on #31798
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-15 07:39] agrohsje commented on #31505
Indeed: GeneratorInterface/TauolaInterface/interface/TauolaWrapper.h is not needed anymore.
@mkirsano @siewyan please comment in case you see a reason to keep.
@davidlange6 Should we make a PR to delete or will we handle centrally?

[2020-10-15 07:40] ianna commented on #31505
Indeed these are not used. Addressed in https://github.com/cms-sw/cmssw/pull/31804

[2020-10-15 07:42] ianna commented on #31505
+1

done for `DetectorDescription` and `Geometry`. Thanks @davidlange6 !

[2020-10-15 08:45] SiewYan commented on #31505
@agrohsje I am fine with the decision not to keep it. In case you need a standalone PR i could prepare it.

[2020-10-15 10:25] iatakisi commented on #31505
We have removed Susy related histograms from our jetmet collections since nobody was using. That is why related headers are not used.

[2020-10-15 15:07] smrenna commented on #31773
Matti, can we infer that it has something to do with threading?

[2020-10-15 15:40] ghugo83 commented on #31757
This was introduced by @vargasa  at https://github.com/cms-sw/cmssw/commit/10db664e05720166306691d1d156fb4d26f60953
I guess that commit should be reverted. Actually, that full PR could be reverted, as it was not fixing the navigation, but since TrackerNumberingBuilder has changed a lot since, I guess the easiest is just to revert that specific commit.

[2020-10-15 15:43] makortel opened #31807 "SonicTriton package does not build in slc7_ppc64le"
This occurs in CMSSW_11_2_X_2020-10-14-2300 after the merges of https://github.com/cms-sw/cmssw/pull/31715 and https://github.com/cms-sw/cmsdist/pull/6297.
[code]

[2020-10-15 15:43] makortel commented on #31807
assign core, heterogeneous

FYI @kpedro88

[2020-10-15 15:44] cmsbuild commented on #31807
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@makortel,@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-15 15:44] cmsbuild commented on #31807
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-15 16:05] trocino commented on #31783
Thanks Andrea for catching this. I agree, both loops ([L 160](https://github.com/cms-sw/cmssw/blob/master/DataFormats/MuonReco/src/Muon.cc#L160) and [L 251](https://github.com/cms-sw/cmssw/blob/master/DataFormats/MuonReco/src/Muon.cc#L251)) seem unnecessary. I will cross check with the RPC team that implemented RPCMuons (@jhgoh ) if some selection was supposed to be applied to the RPC matches at e

[2020-10-15 16:06] vargasa commented on #31757
thanks @ghugo83. I can take a look at this later today

[2020-10-15 16:14] smuzaffar commented on #31807
we can not. slc7_ppc64le_gcc820 uses the same branch as production arch (slc7_amd64_gcc820) https://github.com/cms-sw/cms-bot/blob/master/config.map#L11

[2020-10-15 16:17] smuzaffar commented on #31807
this is fixed in CMSSW_11_2_X_2020-10-14-2300 IBs ... right?

[2020-10-15 16:18] makortel commented on #31807
Ah sorry, i mixed up things. I observed the failures of CMSSW_11_2_X_2020-10-13-2300 and went to investigate what happened in CMSSW_11_2_X_2020-10-14-2300. All is good, sorry for the noise.

[2020-10-15 16:18] #31807 closed

[2020-10-15 18:20] vargasa commented on #31739
I'm pointing this out mainly for the record, some (broken?, unused?) code in this package is using `GeometricDetExtra` that's in the process of being removed

[2020-10-15 18:20] #31739 closed

[2020-10-15 18:22] vargasa commented on #31798
@bsunanda Is this different from https://github.com/cms-sw/cmssw/issues/31466 ?

[2020-10-15 18:24] makortel commented on #31739
How about making an attempt to remove that code?

[2020-10-15 18:36] smrenna commented on #31773
Workflow 2018.11 step 1 crashes (or gets stuck/slow and gets killed by timeout) in CMSSW_11_2_X_2020-10-12-2300 for cc8_amd64_gcc8

OR TIMES OUT!    So, this could just be the loop problem we saw before.

[2020-10-15 19:21] cvuosalo commented on #31798
FYI @slomeo

[2020-10-15 19:21] cvuosalo commented on #31797
FYI @slomeo

[2020-10-15 19:35] mmusich commented on #31739
Actually problem n. 3) is trivial to fix and the underlying source code is still functional and potentially still useful. I'll make a PR that restores it shortly.
Problem 1) is coupled to not trivial code changes necessary to cope with the actual Tracker phase2 geometry, some more work is needed.
Problem 2) is related to code not existing anymore in current CMSSW so can indeed be removed.

[2020-10-15 20:15] cvuosalo commented on #31338
I verified this issue has been fixed with PR #31791.

[2020-10-15 20:15] cvuosalo commented on #31338
+1

[2020-10-15 20:15] cmsbuild commented on #31338
This issue is fully signed and ready to be closed.

[2020-10-15 20:16] cvuosalo commented on #31338
@vargasa Please close this issue if you agree that it has been fixed.

[2020-10-15 23:01] #31338 closed

[2020-10-15 23:32] makortel commented on #30359
There is another failure in the workflow 1000.0 step 2 in default IB CMSSW_11_2_X_2020-10-15-1100. Also here there are two threads calling the `MultipleScatteringX0Data` constructor
[code]

[2020-10-15 23:55] makortel commented on #31773
Yeah, it's hard to say from that stack trace alone. Perhaps it's best to wait for a next one to appear.

[2020-10-16 01:34] slava77 commented on #27889
updates
- #31615 ParticleNet AK4 jet tagger (merged Oct 7, 2020)

added
-  (backport needed for) #31220 update LowPtElectrons in bParking config
    - this is a part of resolution to #25884

[2020-10-16 05:57] jpata opened #31817 "phase 2 MINIAOD size blows up in 11_2_X_pre7 due to switching on TICL egamma reco"
It was noticed that after merging https://github.com/cms-sw/cmssw/pull/31527, the phase 2 MINIAOD size increases by a factor 2. The underlying reason is described in https://github.com/cms-sw/cmssw/pull/31766#issuecomment-709274945, coming from egamma TICL.

In order to avoid issues in production, we would like to have this fixed in pre8, let's discuss here how this can be achieved.

[2020-10-16 05:57] cmsbuild commented on #31817
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-16 07:30] perrotta commented on #31783
Thank you @trocino : please have a look to #31789, where I implemented the second bullet listed in the issue description (" just check if the size of `chamberMatch->rpcMatches` is above 0, compute once `curmask,` and add it to the `totMask`), and with the last commit I also took into account your comments (the third bullet, as the first two are not expected to have a relevant impact, just a couple

[2020-10-16 08:51] mmusich commented on #31567
Out of curiosity, why this issue does not target also the MTD counterpart DB schema: `PGeometricTimingDetExtra` ?
Comparing the classes they look carbon-copies!

https://github.com/cms-sw/cmssw/blob/05c82a35723127a5f959b3fab75a261613c31fe7/CondFormats/GeometryObjects/interface/PGeometricTimingDetExtra.h#L1-L32

vs

https://github.com/cms-sw/cmssw/blob/05c82a35723127a5f959b3fab75a261613c31fe7/CondF

[2020-10-16 08:52] agrohsje commented on #31505
@davidlange6 should we make a PR to remove the single file from GEN or will you take care?

[2020-10-16 08:55] ianna commented on #31567
different DPGs? ;-)

Jokes aside, you are right - it absolutely should.

[2020-10-16 09:00] ianna opened #31822 "[Geometry][MTD][RECO] GeometricTimingDetExtra should be removed"
@fabiocos - Please, consider removing `GeometricTimingDetExtra` if it is not used. Given that `GeometricTimingDetExtra` is a copy of a legacy `GeometricDetExtra` an assumption is that it may follow the same path. The latter is addressed here https://github.com/cms-sw/cmssw/pull/31729

[2020-10-16 09:00] cmsbuild commented on #31822
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-16 09:02] ianna commented on #31567
@mmusich - thanks for bringing it up. I've opened a separate issue to track it https://github.com/cms-sw/cmssw/issues/31822

[2020-10-16 11:55] ianna opened #31824 "[Geometry] Non-planar Trapezoids in a 2021 v4 Yoke Description"
@slomeo, @civanch, @cvuosalo - FYI

Reported by Evgueni from his recent analysis of 2021 GDML:
[code]

[2020-10-16 11:55] cmsbuild commented on #31824
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-16 11:59] ianna commented on #31824
assign geometry

[2020-10-16 11:59] cmsbuild commented on #31824
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-16 12:06] slomeo commented on #31824
@ianna please tell me how can I reproduce the warning? which tool do I have to use?

[2020-10-16 12:21] jpata commented on #31817
assign reconstruction

[2020-10-16 12:21] cmsbuild commented on #31817
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-16 12:21] jpata commented on #31817
cc HGCAL: @rovere @SohamBhattacharya
upgrade: @cms-sw/upgrade-l2

[2020-10-16 13:00] etcherniaev commented on #31824
@slomeo this warning message appears if to use pure Geant4 without VecGeom. To fix the problem in this particular case, it should be sufficient to set both X half length at -Dy1 & -Dy2 to 513.1 (or 513.2).

[2020-10-16 13:06] makortel commented on #31822
assign geometry

[2020-10-16 13:06] cmsbuild commented on #31822
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-16 14:05] slomeo commented on #31824
@etcherniaev are you talking about three traps (i.e YB2_w1_m1 _m5 _m6) defined in Geometry/MuonCommonData/data/muonYoke/2021/v4/muonYoke.xml ?

[2020-10-16 14:11] slomeo commented on #31824
@etcherniaev : For YB2_w1_m1 we have: bl1=bl2="0.5132*m -0.1*mm"
                         For YB2_w1_m5 we have: bl1="0.5132*m -0.1*mm"  and  bl2="0.5132*m"
                         For YB2_w1_m5 bl1 and bl2 are not 0.5132*m
So the only discrepancy, between bl1 and bl2, is for YB2_w1_m5
Is this the problem?

[2020-10-16 14:16] etcherniaev commented on #31824
@slomeo yes, the problem is that _YB2_w1_m5_ is twisted, its lateral surfaces are not planar

[2020-10-16 14:25] slomeo commented on #31824
@etcherniaev : 👍 , I'll change it putting bl1=bl2 for YB2_w1_m5 (then I'll check overlaps) but how can I know if the issue will be fixed in order to submit a PR?

[2020-10-16 14:39] etcherniaev commented on #31824
@slomeo try to upload you geometry in pure Geant4, it does not accept twisted G4Trap solids. You can use the attached routine to adjust the parameters of a G4Trap solid to make lateral faces planar
[TrapParamsAdjustment.cc.txt](https://github.com/cms-sw/cmssw/files/5392355/TrapParamsAdjustment.cc.txt)

[2020-10-16 15:11] slomeo commented on #31824
@etcherniaev : in lxplus (after a cmsenv) I have to compile your routine, is it so?

[2020-10-16 15:18] civanch commented on #31465
@ianna , these tests are long unfortunately, I do not see a reason run them permanently but I fully agree, that they should be checked and fixed if needed.

[2020-10-16 16:00] etcherniaev commented on #31824
@slomeo have you renamed it from `TrapParamsAdjustment.cc.txt` to `TrapParamsAdjustment.cc`? it is an ordinary c++ code and should compile on any system, i've just checked it with g++

[2020-10-16 16:06] slomeo commented on #31824
@etcherniaev : Yes, I renamed it but in my laptop I see:

g++ TrapParamsAdjustment.cc -o TrapParamsAdjustment.exe

/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../include/c++/v1/cmath:317:9: error: no member named 'signbit' in the global namespace
using ::signbit;
      ~~^
and so on...
I think that I'll work on lxplus

[2020-10-16 18:05] kpedro88 commented on #31817
assign upgrade

[2020-10-16 18:06] cmsbuild commented on #31817
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-16 20:11] makortel commented on #31716
+1

[2020-10-16 20:12] cmsbuild commented on #31716
This issue is fully signed and ready to be closed.

[2020-10-16 22:16] cvuosalo commented on #31637
Watch out! Re-compiled version of code with debugging for `SimG4Core/Configuration/test/dd4hep_ZMM_Run3_Step1_cfg.py` crashes. There is probably a buggy debug statement somewhere in `SimG4CMS/Calo/src/CaloHitID.cc`. I haven't found the bad statement yet. I am trying to trace the EE hits to see why half are missing.

[2020-10-17 17:59] rchatter commented on #31637
I run without debugging for now. It seems the ES in DD4HEP is almost entirely missing hits but for a couple of strips for Z+
I could modify this ZMM Sim to do what I wanted. Running on vanilla e/G particle guns. Will report what I find.

[2020-10-18 09:17] rovere opened #31840 "[Upgrade] PhaseII L1 reconstruction crash"
While testing `TICLv2` branch in CMSSW_11_1_X, I noticed several failures that apparently are not directly connected with any of the changes we've been developing.
The error looks like the following:

[code]

I checked in the IB page and noticed that this error is present (not every IB, but frequently enough) also in `vanilla` CMSSW_11_1_X_IBs.
See, e.g. [here](https://cmssdt.cern.ch/SDT/cgi-bin/l

[2020-10-18 09:20] cmsbuild commented on #31840
A new Issue was created by  @rovere Marco Rovere.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-18 09:20] rovere commented on #31840
assign upgrade

[2020-10-18 09:20] rovere commented on #31840
assign reconstruction

[2020-10-18 09:24] rovere commented on #31735
Could someone explain why we need to reduce the dependency from Eigen?

[2020-10-18 09:52] rovere commented on #31743
Ciao @slava77 ,
`jetCore` is not part of `Phase2` reconstruction. Dropping the "missing" product is a viable temporary fix. Having a functional factorization is a long term goal that will be delivered together with a solid Phase2 reconstruction.

[2020-10-18 14:25] slava77 commented on #31840
assign upgrade,l1

@rovere I do not see a reason to assign reco here, because the problem is in L1 code (L1TkMuonProducer is in L1 and it is not consumed by anything in reco).
Please also update the title of the issue.

[2020-10-18 14:25] cmsbuild commented on #31840
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-18 14:27] slava77 commented on #31735
IIUC, it's for DataFormats.
To invert your question, what are the reasons a subsystem dealing with persisted data should have dependency on Eigen?

[2020-10-18 15:09] rovere commented on #31735
No data-type eigen-specific is used to persist anything, IIRC.
Eigen is introduced via member functions, as @Dr15Jones already mentioned in his first post.
So, again, can someone explain why the dependency on Eigen is something we should reduce?

[2020-10-18 15:09] VinInn commented on #31735
Same applies to Math Geometry* etc.
Or even more in general to anything that can be casted to an array of float or double or  to void* ...
I think we will move to eigen as matrix class.

[2020-10-18 16:00] slava77 commented on #31743
after looking closely, apparently the problem is worse than just jetCore.
CaloJets are used in PV sorting and none of the HGCAL inputs are used.
It's still probably making it for just a suboptimal performance rather than a bug for vertexing in phase2.
@mtosi @vmariani @hatakeyamak @bendavid

[2020-10-18 16:04] slava77 opened #31843 "phase2 PV sorting is not using HGCAL inputs (only the barrel and HF contribute to ak4CaloJetsForTrk)"
this is a follow up to #31743
https://github.com/cms-sw/cmssw/issues/31743#issuecomment-711253630

CaloJets (`ak4CaloJetsForTrk` made out of `caloTowerForTrk`) are used in PV sorting and none of the HGCAL inputs are used in the phase-2 setup.
The jets are used to assign (otherwise unattached to a vertex due to displacement) tracks to a vertex if there is some alignment of the track with a calojet

[2020-10-18 16:04] cmsbuild commented on #31843
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-18 16:05] slava77 commented on #31843
assign reconstruction,upgrade

[2020-10-18 16:05] cmsbuild commented on #31843
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-18 17:58] kpedro88 commented on #31840
#31099 should address this - previously it wasn't being observed in 11_1_X. Can you try it? If it helps, we should merge it. attn @silviodonato

[2020-10-19 08:06] fabiocos commented on #31822
@ianna @makortel ```GeometricTimingDetExtra``` has gone since a while with #30276 , as you may see in the repository.
The only remnant is ```PGeometricTimingDetExtra``` in the records area which I think might go without any problem, could @christopheralanwest please confirm? If yes, I may just prepare a PR removing all the code related to this, not much as can be seen in https://cmssdt.cern.ch/lxr

[2020-10-19 08:33] silviodonato commented on #31840
Thanks Kevin. I've opened back https://github.com/cms-sw/cmssw/pull/31099

[2020-10-19 13:08] Dr15Jones commented on #31735
The request is not specific to Eigen but is true in general (you can see other recent pull requests I've done to reduce DataFormats dependencies on externals). Beyond the good practice in large scale software design to minimize dependencies in order to improve build times and eas maintenance, classes in DataFormats have some additional reasons to minimize external dependencies

1. We are trying to

[2020-10-19 13:39] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/31815#issuecomment-710722004 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,PhiResolution}

[2020-10-19 14:25] smuzaffar opened #31851 "Build issues with avx"
Building CMSSW with `-mavx` or `-mavx2 -mfma` or `-march=sandybridge` generates build error [a]. I think the issue is that `__SSE__` is always set https://github.com/cms-sw/cmssw/blob/c345719fd55032e6894f67a51d8b91374555ad86/DataFormats/Math/interface/SIMDVec.h#L6

@VinInn , can you please propose a check to avoid it? I tried [b] which allowed me to build for both sse3, avx2 and also for `non-x86_

[2020-10-19 14:25] cmsbuild commented on #31851
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-19 14:28] makortel commented on #31851
assign core, reconstruction

[2020-10-19 14:29] cmsbuild commented on #31851
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-19 14:39] VinInn commented on #31851
I lost track of all those options and why one cannot just "USE_EXTVECT".
The best is most probably to remove the AVX part from AnalyticalCurvilinearJacobian.cc

[2020-10-19 14:41] tanmaymudholkar commented on #28858
Hi @jfernan2 , sorry for the delay, we were focusing on the concurrent lumis for the last few days, we will look into this asap.

[2020-10-19 16:42] silviodonato commented on #25090
I tried one more time with Marcel's script using #31699 + #31689 + #31678 [#25090 (comment)](https://github.com/cms-sw/cmssw/issues/25090#issuecomment-665535336)

I got

[code]

[2020-10-19 17:41] jfernan2 commented on #25090
SiPixelStatusProducer is being fixed by @tocheng
ESIntegrityTask should be fixed by #31829

[2020-10-19 18:59] rchatter commented on #31637
Hi,

I confirmed with a high stats e- particle gun simulation. The observation remains the same of the EE, the same 2 quadrants as report earlier are missing. The new observation is the ES- is missing all hits. In ES+ only 2 strips have hits, everything else is missing. The ES+ hits that are present [in cartesian x,y co-ordinates] is attached. The cause is being checked if its related to the numbe

[2020-10-19 19:04] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/31858#issuecomment-712371212 shows tiny differences in

23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,PhiResolution}

[2020-10-19 20:09] kpedro88 commented on #31644
The same occurs in https://github.com/cms-sw/cmssw/pull/31861#issuecomment-712408063

[2020-10-20 00:17] #31716 closed

[2020-10-20 00:25] #12853 closed

[2020-10-20 00:52] slava77 commented on #31743
I have a fix in #31844

[2020-10-20 06:14] mmusich commented on #31644
@emacdonald16, FYI

[2020-10-20 07:15] silviodonato commented on #25090
Running #31699 with #31689 #31678 #31829 I got
[code]

[2020-10-20 08:25] silviodonato opened #31869 "Exception while attempting to load plugin PGeometricDetExtraRcd@NewProxy"
We get 20 unit test failures in `DQM/Integration` and exception in wf 1001.2 1030.0 1040.0 1040.1 since `CMSSW_11_2_X_2020-10-19-2300`

[code]

The orgin of the error is https://github.com/cms-sw/cmssw/pull/31729 .
I hope it can be fixed by updating the global tag as we did with https://github.com/cms-sw/cmssw/pull/31780.

[2020-10-20 08:26] silviodonato commented on #31869
assign alca

[2020-10-20 08:26] cmsbuild commented on #31869
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-20 08:26] cmsbuild commented on #31869
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-20 08:26] silviodonato commented on #31869
cc @vargasa @cms-sw/db-l2

[2020-10-20 08:42] davidlange6 commented on #31505
I made a PR #31870

[2020-10-20 09:19] perrotta commented on #31731
Since the fix in the master and its backports have been all already merged I thin this issue can get closed, isn't it?

[2020-10-20 10:16] mmusich commented on #31869
@silviodonato I have taken care of that here: https://github.com/cms-sw/cmssw/pull/31871

[2020-10-20 12:34] slava77 commented on #25090
`LumiProducer` is an `edm::one`
https://github.com/cms-sw/cmssw/blob/9c897afc65b0cc3da8527aae40b4d0442183f79e/RecoLuminosity/LumiProducer/plugins/LumiProducer.cc
Is the list no longer looking at the legacy module specifically?

[2020-10-20 13:09] hatakeyamak commented on #31843
Just for record:
https://github.com/cms-sw/cmssw/blob/master/CommonTools/RecoAlgos/python/sortedPrimaryVertices_cfi.py#L28

[2020-10-20 13:11] hatakeyamak commented on #31583
Is it clear if this is packedCandidate issue? or reco pfcandidate issue?
If the former, it's more in the xpog area.

[2020-10-20 13:12] Dr15Jones commented on #25090
I believe the list is now any module which prohibits concurrent LuminosityBlock running.

[2020-10-20 13:12] makortel commented on #25090
This issue has really been about modules preventing efficient use of concurrent lumis since https://github.com/cms-sw/cmssw/issues/25090#issuecomment-438031404 .

[2020-10-20 13:27] slava77 commented on #31583
from https://github.com/cms-sw/cmssw/pull/31582#discussion_r497498101

[2020-10-20 13:28] slava77 commented on #31583
I think that this issue is a duplicate of #27374

[2020-10-20 13:31] slava77 commented on #25090
perhaps it's time to change the title or make another issue?

[2020-10-20 13:32] mbluj commented on #31583
It is unlikely a PFCandidate issue as it looks be related to packedCandidates built on top of tracks unused by PFlow (lostTracks). It can be either issue of tracks (with a low quality) or a way in which the tracks are packed into packedCandidate dataformat.

To understand origin of the problem one should check original AOD events used to produce MiniAOD ones with problematic cands/tracks (I had no

[2020-10-20 13:36] makortel commented on #25090
@gartung Could you change the title to something along "Modules prohibiting concurrent lumis in RelVal workflows"?

[2020-10-20 13:40] hatakeyamak commented on #31583
I see.
Perhaps, tau pog doesn't find this ill-behavior in 106x (or later) equivalent sample, we can consider this is solved?

[2020-10-20 14:23] slava77 commented on #31817
from https://hypernews.cern.ch/HyperNews/CMS/get/relval/15189/9.html

This problem is known and will be fixed in a future version. All the changes are described in [6].

It's not just the technical performance issue; the physics is also worse, apparently.

[2020-10-20 14:24] slava77 commented on #31817
@jpata
since we know the reason for the size blowup, please update the issue title to be more descriptive of the origins

[2020-10-20 14:45] mtosi commented on #31843
@mariadalfonso @gouskos @werdmann
sorry, but the PV sorting is xPOG or TRK POG ?

[2020-10-20 15:03] slava77 commented on #31843
the sorting is currently used in `firstStepPrimaryVertices` as well, which I'd say a part of tracking rather than xPOG

[2020-10-20 18:01] christopheralanwest commented on #31822
There are no payloads with record type `PGeometricTimingDetExtra` in the DB: https://cms-conddb.cern.ch/cmsDbBrowser/search/Prod/PGeometricTimingDetExtra

so I think this removal should not cause any issues.

[2020-10-20 18:38] slava77 commented on #31743
+1

this was now merged and should appear in 11_2_0_pre8 and in IBs starting from 10-20-2300.

[2020-10-20 18:39] JanFSchulte commented on #31743
Thanks for taking care of it!

[2020-10-20 18:56] emacdonald16 commented on #31644
Weird. I'll look into it. It does look like a precision issue...

[2020-10-20 19:30] kpedro88 commented on #31743
+upgrade

[2020-10-20 19:30] cmsbuild commented on #31743
This issue is fully signed and ready to be closed.

[2020-10-20 19:47] mtosi commented on #31843
https://github.com/cms-sw/cmssw/blob/master/CommonTools/RecoAlgos/python/sortedPrimaryVertices_cfi.py#L28 is not

[2020-10-21 00:14] #31743 closed

[2020-10-21 05:46] jpata opened #31878 "GPU test does not seem to run in the bot"
In the PR https://github.com/cms-sw/cmssw/pull/31704 I tried to run a basic unit test on the GPU using "please test". However,  despite saying "enable gpu" and the test running with "ENABLE_BOT_TESTS = GPU", the test [log](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-bad05c/10144/unitTests.log) shows that CUDA was not properly initialized.

I had the same error locally

[2020-10-21 05:47] cmsbuild commented on #31878
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-21 05:47] jpata commented on #31878
assign core

[2020-10-21 05:47] cmsbuild commented on #31878
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-21 07:04] smuzaffar commented on #31878
for GPU enabled tested, bot runs two tests
- Normal PR validation tests
- GPU based tests
For #31704 bot ran the normal tests but due to a typo in bot did not start the GPU based test. Anyway, this is fixed and there is pending job in jenkins for GPU tests https://cmssdt.cern.ch/jenkins/job/ib-run-pr-tests/ . Whenever we get hold to a HTCondor GPU resources then the test will start

[2020-10-21 07:20] mmusich commented on #31869
with #31871 integrated in `CMSSW_11_2_X_2020-10-20-2300`, [unit tests](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/slc7_amd64_gcc820/www/tue/11.2-tue-23/CMSSW_11_2_X_2020-10-20-2300) and [relvals](https://cms-sw.github.io/relvalLogDetail.html#slc7_amd64_gcc820;CMSSW_11_2_X_2020-10-20-2300) look clean.
I guess this issue can be signed and closed.

[2020-10-21 07:31] jpata opened #31880 "unit tests for patatrack integration: MultifitComputations"
The patatrack integration PR https://github.com/cms-sw/cmssw/pull/31704 introduces a number of new functions in [DataFormats/CaloRecHit/interface/MultifitComputations.h](https://github.com/cms-patatrack/cmssw/blob/8938c570e40f46eb8a0a7ed74e7fbac07f0f183a/DataFormats/CaloRecHit/interface/MultifitComputations.h):

for example:
[code]

It would be good to have some sort of unit test for these functio

[2020-10-21 07:31] jpata commented on #31880
assign heterogeneous

[2020-10-21 07:32] cmsbuild commented on #31880
New categories assigned: heterogeneous

@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-21 07:32] cmsbuild commented on #31880
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-21 07:34] jpata commented on #31878
Thanks @smuzaffar for the clarification. So in principle the procedure we followed in #31704 should work to also successfully run the CUDA-based tests that run when doing `scram b runtests`?

[2020-10-21 12:27] mbluj commented on #31583
Hmm, I am afraid that there is not any equivalent 106X or later sample. I also do not know if big UL MiniAOD samples were produced with or without the fix (in small samples as relvals the issue can be not present because of its rarity). Really, the best thing will be to get the original AOD event (*) check the problematic track and eventually build miniAOD on top of it using 106X with the fix.

(*

[2020-10-21 12:31] vargasa commented on #31869
@mmusich Thanks for taking care of the remaining changes

[2020-10-21 12:33] silviodonato commented on #31869
right, we can close the issue. thanks @mmusich for providing quickly a fix

[2020-10-21 12:33] #31869 closed

[2020-10-21 12:34] vargasa commented on #31567
Addressed in https://github.com/cms-sw/cmssw/pull/31729. See also https://github.com/cms-sw/cmssw/issues/31869#issuecomment-713365246

[2020-10-21 12:55] hatakeyamak commented on #31583
What is the AOD sample? If it's on tape, we may have to do something extra.

[2020-10-21 13:04] mbluj commented on #31583
It is /TauGun_Pt-15to3000_13TeV_pythia8/RunIIAutumn18DRPremix-102X_upgrade2018_realistic_v15-v1/AODSIM on tapes accordingly to DAS.
I would not stage out the whole sample as it contains ~10M events. Instead, I would localize the block or even the file containing the event of interest, but as mentioned I was not able with edmPickEvents.py as it failed and have not had time to investigate further.

[2020-10-21 13:15] makortel commented on #31880
assign reconstruction

(as well)

[2020-10-21 13:15] christopheralanwest commented on #31869
+1

[2020-10-21 13:15] cmsbuild commented on #31880
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-21 13:15] cmsbuild commented on #31869
This issue is fully signed and ready to be closed.

[2020-10-21 14:07] ianna commented on #29206
@cvuosalo - it looks like it's there `Geometry/DTGeometryBuilder/test/python/validateDTGeometry_cfg.py` succeeds while `Geometry/DTGeometryBuilder/test/python/testDTGeometry.py` fails due to different number of Layers, Dets and DetUnits:
[code]

[2020-10-21 14:36] hatakeyamak commented on #31583
Do you know the specific file or block containing this event? If so, I can ask FNAL (T1_US_FNAL) computing folks.

[2020-10-21 14:36] makortel commented on #30359
There is another failure in the workflow 1000.0 step 2 in the slc7_amd64_gcc900 IB CMSSW_11_2_X_2020-10-20-2300.

[2020-10-21 14:57] mbluj commented on #31583
Unfortunately no. As written above, in principle it can be checked with edmPickEvents.py, but it fails. Namely, I tried:
[code]
as advised in https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookPickEvent, but it apparently has problems.

[2020-10-21 16:22] ianna commented on #31567
+1

@vargasa - excellent! You deleted roughly one thousand lines - well done! Thanks

[2020-10-21 16:22] #31567 closed

[2020-10-21 16:23] cmsbuild commented on #31567
This issue is fully signed and ready to be closed.

[2020-10-21 16:23] ianna commented on #31567
+1

[2020-10-21 16:59] hatakeyamak commented on #31583
The relevant file should be on its way to disk.

[2020-10-21 17:39] silviodonato opened #31889 "testAlignmentOfflineValidation had ERRORS and failure in 1000.0"
In CMSSW_11_2_X_2020-10-21-1100 we get a unit test failure in `Alignment/OfflineValidation`
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-10-21-1100/unitTestLogs/Alignment/OfflineValidation#/478-478
and workflow `1000.0 RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT`
gives segmentation fault.

Both of them seems related to https://github.com/c

[2020-10-21 17:39] cmsbuild commented on #31889
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-21 17:40] silviodonato commented on #31889
assign alca

[2020-10-21 17:40] cmsbuild commented on #31889
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks