[2022-11-10 13:46] cmsbuild commented on #40036
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2_patch1-slc7_amd64_gcc10/2533

[2022-11-10 13:46] cmsbuild commented on #40036
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_2_patch1

[2022-11-10 15:48] francescobrivio commented on #40032
assign jetmet-pog

 - based on https://github.com/cms-sw/cmssw/issues/40032#issuecomment-1310452940

[2022-11-10 15:49] cmsbuild commented on #40032
New categories assigned: jetmet-pog

@alkaloge,@kirschen,@miquork you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-10 16:14] srimanob opened #40044 "Naming of generator config"
Just accidentally see that we have improper naming of several gun samples when `AddAntiParticle = cms.bool(True)` is used. The name should be `DoubleParticle` not `SingleParticle` as the gen products include 2 particles. This follows the discussion in https://github.com/cms-sw/cmssw/pull/33499#issuecomment-829950866.

For example,
https://github.com/cms-sw/cmssw/blob/master/Configuration/Generator

[2022-11-10 16:14] cmsbuild commented on #40044
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-10 16:28] cmsbuild commented on #40044
New categories assigned: generators

@mkirsano,@menglu21,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-10 16:35] Saptaparna commented on #40044
please test

[2022-11-10 16:37] makortel commented on #40044
Umm, there is nothing to test in an issue.

[2022-11-10 16:40] Saptaparna commented on #40044
oops, sorry, I am approving too many PRs and accidentally requested a test.

[2022-11-10 23:42] emanueleusai commented on #39936
+dqm

[2022-11-10 23:43] cmsbuild commented on #39936
This issue is fully signed and ready to be closed.

[2022-11-11 10:17] mmusich commented on #39936
please close

[2022-11-11 10:17] #39936 closed

[2022-11-12 12:53] cmsbuild commented on #40036
The cleanup has started for el8_aarch64_gcc10

[2022-11-12 12:53] cmsbuild commented on #40036
The cleanup has started for slc7_amd64_gcc10

[2022-11-12 12:53] cmsbuild commented on #40036
The cleanup has started for el8_amd64_gcc10

[2022-11-12 12:53] cmsbuild commented on #40036
The cleanup has started for el8_ppc64le_gcc10

[2022-11-12 12:53] cmsbuild commented on #40036
The cleanup has started for el8_amd64_gcc11

[2022-11-12 12:53] #40036 closed

[2022-11-12 12:54] cmsbuild commented on #40036
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2_patch1-el8_aarch64_gcc10/2238

[2022-11-12 12:54] cmsbuild commented on #40036
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2_patch1-el8_amd64_gcc10/2239

[2022-11-12 12:54] cmsbuild commented on #40036
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2_patch1-el8_amd64_gcc11/2240

[2022-11-12 12:54] cmsbuild commented on #40036
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2_patch1-el8_ppc64le_gcc10/2241

[2022-11-12 12:54] cmsbuild commented on #40036
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2_patch1-slc7_amd64_gcc10/2242

[2022-11-14 10:34] mpresill opened #40059 "Error in PromptReco of SpecialHLTPhysics14 for run 361886"
Hello,

we have a paused PromptReco job for run 361886, reported also in [cms-talk](https://cms-talk.web.cern.ch/t/error-in-promptreco-of-specialhltphysics14-for-run-361886/17480).

[code]

The tarball of this job can be found here:

`/afs/cern.ch/user/c/cmst0/public/PausedJobs/Run2022F/FileReadError
`

Could this be a corruption of the input files or is it sign of a problem with the software?
Cou

[2022-11-14 10:34] cmsbuild commented on #40059
A new Issue was created by  @mpresill .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-14 12:42] perrotta commented on #39987
#40017 is now merged in master: should we prepare a backport to the data taking releases 12_4_X and 12_5_X, and test it if it finally fixes this issue or not?

[2022-11-14 14:11] swagata87 commented on #39987
okay, I will do the backports soon

[2022-11-14 14:41] makortel commented on #40059
assign core

[2022-11-14 14:42] cmsbuild commented on #40059
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-14 14:45] Dr15Jones commented on #40059
I'm pretty certain that would be a corrupted file. @pcanal would be the best one to judge.

[2022-11-14 15:01] makortel commented on #40059
The log has `R__unzipLZMA: error 9 in lzma_code` right before the exceptions, which supports the corrupted file hypothesis. E.g. in `https://github.com/cms-sw/cmssw/issues/33361#issuecomment-822545438` that message was deemed to be indicative of data corruption.

[2022-11-14 15:31] makortel commented on #40059
I'm able to reproduce the problem in various ways
* multithreaded, remote file (skipping events close to the problem)
* multithreaded, local file (skipping events close to the problem)
* single thread, local file (skipping events close to the problem)
* single thread, local file (processing only the problematic event)

I think we can safely conclude the input file is corrupt. @pcanal, in case you'

[2022-11-14 16:23] perrotta commented on #40013
@missirol if the intent is just to fix the IB tests, and there will be no need to transform them into new releases, I think [the new PRs](https://github.com/cms-sw/cmssw/issues/40013#issuecomment-1308546411) can be all merged, taking also into account that they were also all tested succesfully.
@missirol @cms-sw/core-l2 please sign them if you also agree with it

[2022-11-14 17:03] perrotta commented on #39865
close

[2022-11-14 17:04] #39865 closed

[2022-11-15 07:28] Martin-Grunewald commented on #40013
Well, recall that this problem appeared because the statement 'RAW data is never deleted', holding true for many years, was changed/invalidated. Thus, I fear a repeat as alluded to in point 1) above will appear again, so I rather prefer the files are all in an TSG eos are (they are for the MC tests already anyway). Overall these are a few files, so will not create a disk space problem, and no comp

[2022-11-15 10:37] AdrianoDee opened #40068 "EGM Related Modules Increase in Timing since `CMSSW_12_6_0_pre2`"
This issue is to document the fact that for Phase2 RECO wfs we see an increase in timing after `12_6_0_pre1` ([here](https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/circles/piechart.php?local=false&dataset=CMSSW_12_6_0_pre1%2Fel8_amd64_gcc10%2F39634.21%2Fstep3_circles&resource=time_real&colours=default&groups=reco_PhaseII&threshold=0)).

This is seen since  `12_6_0_pre2`([here](https://c

[2022-11-15 10:37] AdrianoDee commented on #40068
assign upgrade, reco

[2022-11-15 10:37] cmsbuild commented on #40068
A new Issue was created by  @AdrianoDee .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-15 10:38] cmsbuild commented on #40068
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-15 10:52] swagata87 commented on #40068
type egamma

[2022-11-15 11:24] missirol commented on #40068
assign reconstruction

(assignment based on https://github.com/cms-sw/cmssw/issues/40068#issuecomment-1315119524)

A naive look at [releases/CMSSW_12_6_0_pre2](https://github.com/cms-sw/cmssw/releases/CMSSW_12_6_0_pre2) points to one PR explicitly related to GSF tracking: #39256. Could that PR be related to this timing increase? That PR was mainly done for the Run-3 HLT; I don't remember if its im

[2022-11-15 11:24] cmsbuild commented on #40068
New categories assigned: reconstruction

@mandrenguyen,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-15 12:12] swagata87 commented on #40068
https://github.com/cms-sw/cmssw/pull/39810 did not enter pre4 (thanks to @SohamBhattacharya  for spotting it).
It will go in pre5 and EGM timing reduction is expected to happen.

[2022-11-15 13:01] AdrianoDee commented on #40068
Indeed, it was merged immediately after `pre4` came out. Just a a double check find here 100 events for the 39634.21 workflow run:

- [CMSSW_12_6_0_pre4](https://adiflori.web.cern.ch/adiflori/circles/web/piechart.php?local=false&dataset=39634.21_CMSSW_12_6_0_pre4&resource=time_real&colours=default&groups=reco_PhaseII&threshold=0)
- [Latest IB](https://adiflori.web.cern.ch/adiflori/circles/web/piec

[2022-11-15 13:01] #40068 closed

[2022-11-15 16:40] francescobrivio opened #40077 "Remove deprecated `exists` API in favor of `fillDescriptions` in `CalibTracker/SiPixelESProducers/plugins/SiPixelQualityESProducer.cc`"
Title says it all: as detailed in https://github.com/cms-sw/cmssw/pull/40061#discussion_r1021789687 the deprecated `exists` API in `CalibTracker/SiPixelESProducers/plugins/SiPixelQualityESProducer.cc` should be replaced by `fillDescriptions`.

[2022-11-15 16:40] cmsbuild commented on #40077
A new Issue was created by  @francescobrivio .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-15 16:41] francescobrivio commented on #40077
assign trk-dpg

[2022-11-15 16:41] cmsbuild commented on #40077
New categories assigned: trk-dpg

@connorpa,@sroychow you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-15 16:58] tvami commented on #40077
assign alca

[2022-11-15 16:59] cmsbuild commented on #40077
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-15 17:36] dan131riley commented on #31306
Found the difference--on ibmminsky-2,
[code]
and olarm-202:
[code]
jemalloc uses multiples of the Hugepagesize for blocks it allocates for bookkeeping arrays/bitmaps:

https://github.com/jemalloc/jemalloc/blob/481bbfc9906e7744716677edd49d0d6c22556a1a/src/base.c#L252-L266

Allocate an arena per each of 4 threads and there's 2GB of address space which barely gets used.  So we need to give aarch64 a

[2022-11-16 06:52] mandrenguyen commented on #40032
Thank you @laurenhay !
@kdlong @juska Do you know how a PF candidate with beam kinematics arises?

[2022-11-16 11:06] francescobrivio commented on #39570
There was another instance of the same issue (`MultiTrajectoryState mixes states with and without errors`) in Run 361971.
I tried running the job in:
 - CMSSW_12_4_10_patch3 : same crash observed in tier0
 - CMSSW_12_4_11 : segFault (this was also already observed in the 12_4_11 replay)
 - CMSSW_12_4_11 + #40063 : again a segFault :(

But I'd like the experts to test it as well.
A minimal recipe t

[2022-11-16 11:12] mmusich commented on #39570
@francescobrivio your post seems misplaced here.
https://github.com/cms-sw/cmssw/issues/39987 is perhaps a better place to continue (even though the two issues are linked)

[2022-11-16 11:17] francescobrivio commented on #39570
Hi Marco, the original crash reported by Tier0 is the same that is being tracked in this issue (the `mixes states`, not the segFault), but I agree this also post should be propagated in the other issue, I will copy paste my message there as well!

[2022-11-16 11:17] francescobrivio commented on #39987
There was another instance of the same issue (`MultiTrajectoryState mixes states with and without errors`) in Run 361971.
I tried running the job in:
 - CMSSW_12_4_10_patch3 : same crash observed in tier0
 - CMSSW_12_4_11 : segFault (this was also already observed in the 12_4_11 replay)
 - CMSSW_12_4_11 + #40063 : again a segFault :(

But I'd like the experts to test it as well.
A minimal recipe t

[2022-11-16 11:35] mmusich commented on #39987
@francescobrivio

Is the stack trace the same as in plain 12_4_11?
Please clarify / elaborate

[2022-11-16 11:43] mmusich commented on #39570
actually @swagata87 do you know if there were further HLT crashes beyond https://github.com/cms-sw/cmssw/issues/39570#issuecomment-1296218732?
In case not,  I think this issue could be closed to avoid scattering the discussion in too many places.

[2022-11-16 11:49] swagata87 commented on #39570
Hello Marco,
I have not seen any other GSF crash in HLT after that (the last one was in 361297 on 28th Oct). But given the crash is very rare and tend to come back after weeks, so I kept this issue open. But we can close it and if HLT Gsf problem happen again, we can open a new issue.

[2022-11-16 11:51] swagata87 commented on #39987
good to have a reproducible crash.. at least one can debug this

the following extra protection solves this crash for me. Can anyone else confirm please?

[code]

[2022-11-16 11:53] swagata87 commented on #39987
note that the above extra protection in `GsfTrajectorySmoother` is very similar to the extra protection we added in `GsfTrajectoryFitter` some days ago , which went into this PR  https://github.com/cms-sw/cmssw/pull/40017 .

[2022-11-16 12:02] francescobrivio commented on #39987
stack traces are slightly different (even tho i'm not an expert at all):
**Plain 12_4_11:**
[code]
**12_4_11 + #40063**
[code]

[2022-11-16 12:11] mmusich commented on #39987
They look substantially different to me,  the last one points to `GsfTrajectorySmoother`, which is what Swagata's proposal (https://github.com/cms-sw/cmssw/issues/39987#issuecomment-1316878214) is addressing. Wondering if there's any other place to treat with the same changes.

[2022-11-16 12:34] swagata87 commented on #39987
looking at `GsfTrajectorySmoother`, the following part of the code seems unprotected,
because, `currTsos` is updated, and without checking if updated `currTsos` is still valid or not, it is used.

https://github.com/cms-sw/cmssw/blob/df3006f3315151b177d6a97375ef590ad10436bf/TrackingTools/GsfTracking/src/GsfTrajectorySmoother.cc#L204-L207

we can add this before `dump` in L207
[code]

[2022-11-16 14:18] mmusich commented on #39987
I have the same curiosity. In my understanding low pT electron reco is new (only in UL 2018? So perhaps only well calibrated darw). Also from anecdotal evidence it seems that the amount of gsf warnings is proportional to the "age" of conditions used (newer conditions seem to trigger less errors). I didn't study it in details yet though.

[2022-11-16 16:29] silviodonato commented on #39982
Thank you Matti, I'm closing this ticket as it is a kind of duplicate of https://github.com/cms-sw/cmssw/issues/30044

[2022-11-16 16:29] #39982 closed

[2022-11-16 16:34] francescobrivio commented on #40032
I tested the solution proposed in #40088 using the recipe from https://github.com/cms-sw/cmssw/issues/40032#issuecomment-1308819142 and the job isn't crashing anymore.

[2022-11-16 16:43] silviodonato opened #40089 "-Ofast and CPU reco timing"
In the study of the CPU-GPU differences, we found out (again) that `-Ofast` creates differences between AMD and Intel in the electron reconstruction [1] (~1-2% of events passing the single electron trigger).
We asked PdmV to perform studies on the offline side [2].

Whatever will be the outcome of [2], I think we need to quantify the gain of -Ofast in the offline reconstruction, so we should measu

[2022-11-16 16:43] cmsbuild commented on #40089
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-16 16:47] makortel commented on #40089
assign reconstruction

[2022-11-16 16:47] Dr15Jones opened #40090 "SegFault in OscarMTProducer when running unoptimized code"
So I have been doing some tests using OscarMTProducer and hit a weird case where I build the code using `export  USER_CXXFLAGS='-O0 -g'` and then run MinBias jobs. I see a crash at line 220

https://github.com/cms-sw/cmssw/blob/c26f91904ea1758995053b69f199732c519c12c9/SimG4Core/Application/src/StackingAction.cc#L218-L220

because the return value of `ptr->GetSelectedProcess()` is a nullptr.

More

[2022-11-16 16:47] cmsbuild commented on #40089
New categories assigned: reconstruction

@mandrenguyen,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-16 16:48] Dr15Jones commented on #40090
assign simulation

[2022-11-16 16:48] cmsbuild commented on #40090
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-16 16:48] cmsbuild commented on #40090
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-16 16:52] Dr15Jones commented on #40090
The relevant part of the stack trace is
[code]

[2022-11-16 16:58] Dr15Jones commented on #40090
The track being processed by the `StackingAction::ClassifyNewTrack` has the following info
[code]

[2022-11-16 17:07] civanch commented on #40090
@Dr15Jones , thanks, I will to reproduce the issue.

[2022-11-16 17:17] Dr15Jones commented on #40090
As a further check, if I checkout the code and compile without `export USER_CXXFLAGS='-O0 -g'` the job runs well beyond the point it had previously failed. So it doesn't appear to be related to having libraries locally.

[2022-11-16 17:17] swagata87 commented on #39570
Closing this issue, after discussing with FOG convenor. If the crash comes back at HLT, a new issue will be opened.

[2022-11-16 17:17] #39570 closed

[2022-11-16 17:22] aandvalenzuela opened #40091 "[ROOT6] Segfault in test `DMRall` on `Alignment/OfflineValidation`"
Hello,

Test `DMRall` is failing in `ROOT6` IBs with segmentation fault in step `DMR merge` (running https://github.com/cms-sw/cmssw/blob/master/Alignment/OfflineValidation/bin/DMRmerge.cc). See stack trace:

[code]

When running in verbose mode I get the following output:
[code]

It seems the issue comes from the PlotAlignmentValidation call (https://github.com/cms-sw/cmssw/blob/master/Alignment/

[2022-11-16 17:23] cmsbuild commented on #40091
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-16 17:28] Dr15Jones commented on #40090
Some further info. I first saw this problem doing something quite different and there I was saw it also using 1 thread so it seems unlikely to be a thread related problem.

What I gave as a reproducer in this issue was after several attempts at simplifying the issue to be sure code changes I had made were not causing the issue.

[2022-11-16 18:09] makortel commented on #40091
assign alca

FYI @cms-sw/trk-dpg-l2

[2022-11-16 18:09] cmsbuild commented on #40091
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-16 18:12] makortel commented on #40091
Let me also add @pcanal since the problem is specific to ROOT master

[2022-11-16 19:38] mmusich commented on #40091
@TomasKello FYI

[2022-11-17 02:19] makortel commented on #33361
@cmsbuild, please close

[2022-11-17 02:19] #33361 closed

[2022-11-17 11:02] aandvalenzuela opened #40097 "[ROOT626] Test `testSSTGainPCL_fromCalibTree` from module `CalibTracker/SiStripChannelGain` not able to reach root file"
Hello,

When testing latest changes for `ROOT626`, we realized that unit test `testSSTGainPCL_fromCalibTree` from module `CalibTracker/SiStripChannelGain` was failing due to not being able to open root file `root://cms-xrd-global.cern.ch//store/group/dpg_tracker_strip/comm_tracker/Strip/Calibration/calibrationtree/GR18/calibTree_325310.root` due to socket time out, although it is reporting an erro

[2022-11-17 11:41] mmusich commented on #40097
@mdelcourt, did you recently delete the input file of the test?

[2022-11-17 14:18] makortel commented on #40097
In CMSSW_12_6_X_2022-11-16-1100 default IBs the test fails explicitly https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-11-16-1100/unitTestLogs/CalibTracker/SiStripChannelGain#/ . This seems to also be the first IB where the test started to fail.

[2022-11-17 14:19] makortel commented on #40097
assign alca

FYI @cms-sw/trk-dpg-l2

[2022-11-17 14:19] cmsbuild commented on #40097
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-17 14:30] haozturk commented on #34393
Hi all, this issue still persists in production. Can we make something about it?

[2022-11-17 14:54] makortel commented on #34393
Do the logs contain `R__unzipLZMA: error 9 in lzma_code`? As far as I can tell, the input file is corrupted in such cases.

Can you exclude the "offending" LuminosityBlock? (that helped [earlier in a local test](https://github.com/cms-sw/cmssw/issues/34393#issuecomment-1086438156)) The alternative would be to exclude full files. (assuming job resubmissions, or use of different copies of the input

[2022-11-17 15:23] haozturk commented on #34393
No. I haven't checked all the affected workflows, but the ones I checked doesn't have it.

This sounds like something concerning central services. Perhaps @amaltaro @todor-ivanov can comment.

Absolutely! We know that we can recover some 8021 FileRead errors, but not these.

Btw, this is not the only "FatalRootError" that we see under exit code 8021, see [1,2]. Should we include all FatalRootError

[2022-11-17 16:50] rappoccio opened #40103 "Build CMSSW_12_4_11_patch1"
Building patch1 with bug fixes for prompt reco and MC production.

[2022-11-17 16:50] cmsbuild commented on #40103
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-11-17 16:51] rappoccio commented on #40103
+1

[2022-11-17 16:51] cmsbuild commented on #40103
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_11_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-11-17 16:51] cmsbuild commented on #40103
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-11-17 16:53] cmsbuild commented on #40103
The build has started for el8_amd64_gcc10 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3701/console
CMSDIST Branch: [REL/CMSSW_12_4_11/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-17 17:00] cmsbuild commented on #40103
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3700/console
CMSDIST Branch: [REL/CMSSW_12_4_11/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-17 17:39] cmsbuild commented on #40103
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch1-el8_ppc64le_gcc10/3700
Some

[2022-11-17 17:57] rappoccio commented on #40103
upload el8_amd64_gcc10

[2022-11-17 18:22] rappoccio commented on #40103
upload all

[2022-11-17 18:23] cmsbuild commented on #40103
Queing Jenkins upload for el8_amd64_gcc10

[2022-11-17 18:23] cmsbuild commented on #40103
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-11-17 18:30] cmsbuild commented on #40103
The upload has started for el8_amd64_gcc10 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2536/console

[2022-11-17 18:31] cmsbuild commented on #40103
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2537/console

[2022-11-17 18:31] cmsbuild commented on #40103
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch1-el8_amd64_gcc10/2536

[2022-11-17 18:31] cmsbuild commented on #40103
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch1-el8_ppc64le_gcc10/2537

[2022-11-17 18:41] cmsbuild commented on #40103
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch1-el8_amd64_gcc10/3701

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-17 18:51] rappoccio commented on #40103
@smuzaffar there are some build errors I don't think I understand:

[code]

Is this transient? Can it be restarted?

[2022-11-17 20:16] cmsbuild commented on #40103
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch1-el8_aarch64_gcc10/3702
Some

[2022-11-17 20:16] cmsbuild commented on #40103
Queing Jenkins upload for el8_aarch64_gcc10

[2022-11-17 20:17] cmsbuild commented on #40103
The upload has started for el8_aarch64_gcc10 in vocms-arm-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2538/console

[2022-11-17 20:17] cmsbuild commented on #40103
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch1-el8_aarch64_gcc10/2538

[2022-11-17 20:18] smuzaffar commented on #40103
we are getting a lot these errors for last two days, no idea what has changed. Anyway I have restarted the build

[2022-11-17 20:37] cmsbuild commented on #40103
The was an error for slc7_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch1-slc7_amd64_gcc10/3704

[2022-11-17 20:45] cmsbuild commented on #40103
The was an error for slc7_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch1-slc7_amd64_gcc10/3705

[2022-11-17 20:54] cmsbuild commented on #40103
The build has started for slc7_amd64_gcc10 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3706/console
CMSDIST Branch: [REL/CMSSW_12_4_11/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-17 20:59] clacaputo commented on #40089
Hi @silviodonato , I've performed this check beginning of July 2022.
Removing the `-Ofast` compiler option increase the reconstruction time by ~1% percent.

I’ve tested the effect in `CMSSW_12_4_1_patch1`, on vocms011 (Intel(R) Xeon(R) Silver 4216 CPU @ 2.10GHz), both on production-like workflow 11834.21 and T0-like workflow 136.889:

- wf `11834.21`: **increase** in reconstruction time of `~1.2%`

[2022-11-17 21:40] cmsbuild commented on #40103
The was an error for slc7_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch1-slc7_amd64_gcc10/3706

[2022-11-17 22:08] rappoccio commented on #40103
Thanks @smuzaffar !

[2022-11-17 22:29] makortel commented on #34393
Thinking a bit more I think a new exit code probably would not help much (what I had in mind was something along "decompression failure", but in a sense that would only be a subcategory of generic read error). When reading data, we don't know if the data stream becomes corrupt because of the file itself is corrupt, or the corruption is caused by any transport layer in between.

Only if the same re

[2022-11-18 09:23] sroychow commented on #40097
@aandvalenzuela
I have restored the file
```/store/group/dpg_tracker_strip/comm_tracker/Strip/Calibration/calibrationtree/GR18/calibTree_325310.root```. So the tests should pass in the next IB.

[2022-11-18 10:44] mmusich commented on #40097
@aandvalenzuela is there a way to put the file on the ib eos space to avoid it gets deleted inadvertently again?

[2022-11-18 10:58] cmsbuild commented on #40103
The build has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3707/console
CMSDIST Branch: [REL/CMSSW_12_4_11/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-18 11:06] smuzaffar commented on #40097
the file should already be in ib eos cache. You need to update to test to not access it using `root://cms-xrd-global.cern.ch/` . Just use the LFN and test should work

[2022-11-18 11:32] cmsbuild commented on #40103
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch1-slc7_amd64_gcc10/3707
Some te

[2022-11-18 11:32] cmsbuild commented on #40103
Queing Jenkins upload for slc7_amd64_gcc10

[2022-11-18 11:33] cmsbuild commented on #40103
The upload has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2539/console

[2022-11-18 11:34] cmsbuild commented on #40103
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch1-slc7_amd64_gcc10/2539

[2022-11-18 11:40] perrotta commented on #40103
Great, all green now! Thank you @smuzaffar

[2022-11-18 11:40] perrotta commented on #40103
release-notes

[2022-11-18 11:40] cmsbuild commented on #40103
Generating release notes since CMSSW_12_4_11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-18 11:40] cmsbuild commented on #40103
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_4_11_patch1 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_11_patch1

Buildin

[2022-11-18 11:42] cmsbuild commented on #40103
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_11_patch1

[2022-11-18 13:12] davidlange6 commented on #40091
Are those pointers that actually should be deleted according to hoe the ownership of objects works? I would have assumed that they should not be.On Nov 18, 2022 14:06, TomasKello ***@***.***> wrote:
I narrowed down the problem to the following minimum example code:
`
#include <TFile.h>
#include <TH2.h>
#include <TStyle.h>
#include <TCanvas.h>
#include
void plot(const char* inputFile)  {
std::cout

[2022-11-18 13:17] TomasKello commented on #40091
This is to demonstrate that problem appears once somebody (me explicitly by delete statement) or class destructor or root session terminated by `.q` will cause segfault. Why would this behavior change between two ROOT versions?

[2022-11-18 13:31] dan131riley commented on #40091
The deletes probably are the problem, ROOT generally retains ownership of objects unless specified otherwise--hopefully @pcanal will comment.  wrt the change in behavior, segfaults are a matter of chance and the memory layout--it was probably doing something wrong with the previous versions, but it didn't cause a segfault due to changes in the order of cleanup operations or the details of the memo

[2022-11-18 13:52] dan131riley commented on #31306
FWCore/Services resource limit tests succeed on aarch64 with https://github.com/cms-sw/cmsdist/pull/8181, and no new problems appeared, so I think this issue can be closed.

[2022-11-18 14:24] TomasKello commented on #40091
Just to make it more clear, segfault is generated also without explicit delete statements. It is just postponed to `.q` in live ROOT session or till destructor is called. Maybe worth investigating for ROOT experts.
In meanwhile I have recast this old code into following and should work now:
[code]
I will prepare patch for the original problem.

[2022-11-18 16:44] civanch commented on #40090
I would expect #40098 should clean-up the situation but I do not fully understand the issue. If it is simply corrupted pointers why the result depends on geometry? The problem is seen in one geometry and not seen in another while Geant4 is the same.

[2022-11-18 16:44] rvenditti opened #40110 "Segmentation violation in all DQM online clients during HI run"
We are observing DQM Online clients crashing with following segmentation violation (this is for the csc client: https://cmsweb.cern.ch/dqm/dqm-square/tmp/tmp/content_parser_productionPARSER_run362293PARSER_job28.log but all other clients show the same behavior):

Fri Nov 18 16:45:38 CET 2022
Thread 3 (Thread 0x7fbb53f1f700 (LWP 43397) "cmsRun"):
#0  0x00007fbb76b96b43 in select () from /lib64/libc

[2022-11-18 16:44] cmsbuild commented on #40110
A new Issue was created by  @rvenditti .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-18 16:48] pmandrik opened #40111 "CMSSW_12_5_2_patch1 crash for HI runs"
Many DQM clients crashed for recent HI runs [362296](https://cmsweb.cern.ch/dqm/dqm-square-k8/?run=362296&db=production),[362293](https://cmsweb.cern.ch/dqm/dqm-square-k8/?run=362293&db=production), [362290](https://cmsweb.cern.ch/dqm/dqm-square-k8/?run=362290&db=production).

Reproduced at lxplus locally. E.g. for CSC the crash is after `finished: processing event` call:
[code]

gdb backtrace:
[c

[2022-11-18 16:48] cmsbuild commented on #40111
A new Issue was created by  @pmandrik Petr Mandrik.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-18 17:52] francescobrivio commented on #40110
assign core

 - I see in the stack trace after `sig_dostack_then_abort`:
[code]
  - I'm nt sure if the assignment is correct, if not sorry!

[2022-11-18 17:52] cmsbuild commented on #40110
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-18 17:57] francescobrivio commented on #40111
@pmandrik maybe close this issue and move the discussion in #40110 to avoid confusion?

[2022-11-18 17:59] Dr15Jones commented on #40110
You could try to run the job under `valgrind` as it is good at finding memory related problems, .e.g.
[code]
Be forewarned, it will be very slow (like 60x slower than running cmsRun normally).

[2022-11-18 18:43] #40111 closed

[2022-11-18 19:06] pmandrik commented on #40110
valgrind latest output:

[code]

[2022-11-18 19:17] Dr15Jones commented on #40110
The valgrind output is saying that memory is being shared between to Event data products, which is not something that we allow. The question now is how that happened. To figure that out, it would help to figure out what is the lookup info for the products (i.e. module label, product instance label and process name as well as the C++ type).

What is the commands needed to reproduce?

[2022-11-18 19:19] Dr15Jones commented on #40110
Were there any other warnings issued by valgrind?

[2022-11-18 19:23] pmandrik commented on #40110
Hi, @Dr15Jones , valgrind produced lot of output from. Please check following logs (limited by my console buffer size):
[val.log](https://github.com/cms-sw/cmssw/files/10044231/val.log)

To reproduce:
[code]
Put process.source.minEventsPerLumi = 99999999 to the csc_dqm_sourceclient-live_cfg.py and run:
[code]

[2022-11-18 19:37] TomasKello commented on #40091
Patch is now ready here: https://github.com/cms-sw/cmssw/pull/40114

[2022-11-18 20:25] sroychow commented on #40097
@smuzaffar the unit test seems to fail even in the PR. Do I access it using ```root://eoscms.cern.ch//``` instead?

[2022-11-18 20:38] petermic commented on #40110
Running the following on architecture el8_amd64_gcc10:

[code]

but with MessageLogger cout threshold = 'DEBUG', produced the following log file:

[DQMStreamLog_run362294.txt](https://github.com/cms-sw/cmssw/files/10044666/DQMStreamLog_run362294.txt)

There are a few warnings emitted early in the process:
[code]
I've been told these warnings are unusual. The following info messages are also appare

[2022-11-18 20:42] pcanal commented on #40091
The problem seems to be the pattern:
[code]
where since the `TCanvas` has only be read (and not constructed or drawn yet), the result is that `gPad` there point to the `TCanvas` before it is really setup and then the `Draw` gets a bit confused (i.e. it seems to then registered itself as one of its components and delete itself during its own deletion)

Instead just:

[code]

Cheers,
Philippe

PS.

[2022-11-18 21:30] Dr15Jones commented on #40110
The data product having problems is
[code]

given this comes from the DQMStreamerReader and that is not code maintained by the Core, it would be best to inform DQM.

[2022-11-18 21:30] cmsbuild commented on #40110
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-18 21:34] Dr15Jones commented on #40110
Given this is a non ROOT file, is it possible that there was a schema change on the data stored in the file relative to what code is checked out? If so, then it is highly probably that is the cause as only the ROOT I/O based systems can handle any sort of schema change.

[2022-11-18 21:43] missirol opened #40115 "Crash of `hcalgpu` DQM client in run-362239"
The `hcalgpu` client of the online DQM crashed in run-362239 (and a few runs before then, during tests with the HLT HIon menu without collisions).
https://cmsweb.cern.ch/dqm/dqm-square/tmp/tmp/content_parser_productionPARSER_run362239PARSER_job16.log

The exception message is in [1], but the event content of the relevant stream in the HLT menu (`DQMGPUvsCPU`) does include the collection `hltHbhere

[2022-11-18 21:43] cmsbuild commented on #40115
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-18 21:56] syuvivida commented on #40110
We are asking the HLT expert to remove this product hltHbherecoFromGPU from the standard DQM stream.

[2022-11-18 22:14] syuvivida commented on #40110
@Dr15Jones Now with the new run, the DQM clients are running without crashes. Thank you for your help!!

[2022-11-18 22:27] mmusich commented on #40110
@pmandrik

For the record, these are not unusual. It's just the Strip unpacker reporting a FED is out of DAQ, and that happens all the time.

[2022-11-18 23:10] pcanal commented on #40091
[code]
Is probably not doing what we need.  If my test are correct, this just produce an empty canvas by using the following constructor:
[code]

[2022-11-18 23:21] Dr15Jones commented on #40110
So I put some print statements in the source. The event with the crash is the first event which contains a `edm::SortedCollection<HBHERecHit,edm::StrictWeakOrdering<HBHERecHit> >`. That is true for both the data product from `hltHbherecoFromGPU` and for the data product from `hltHbhereco`.

[2022-11-18 23:21] makortel commented on #40115
assign dqm

FYI @cms-sw/hcal-dpg-l2

[2022-11-18 23:21] cmsbuild commented on #40115
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-18 23:41] Dr15Jones commented on #40110
In the HLT process, is either the hltHbhereco or hltHbherecoFromGPU and EDAlias of the other? If so, this could explain the problem. In PoolOutputModule one can't write the data product and its alias into the same output as the pointers are the same. It is possible the Streamer output module doesn't prohibit the same behavior which would cause ROOT to share the pointed to objects between the two d

[2022-11-18 23:41] pcanal commented on #40091
A workaround the issue:
[code]

[2022-11-18 23:44] pcanal commented on #40091
I.e. it seems that the mechanism that was preventing the double delete (detecting an already delete object) is no longer working in this code path :(.

This is a bug in `TPad` which should be fixed shortly (and will essentially execute the `ResetBit` internally.

[2022-11-18 23:46] missirol commented on #40110
..and in fact, the collection `hltHbherecoFromGPU` should not have been in the DQM stream (in the standard HIon menu, it is not); this addition, which was then reverted, was maybe a failed attempt to address #40111.

Back to the issue, I don't know what's causing it. It doesn't look to me like DataFormats change. We do write the product `hltHbherecoFromGPU` to another stream (`DQMGPUvsCPU`) and th

[2022-11-18 23:50] missirol commented on #40110
Just read https://github.com/cms-sw/cmssw/issues#issuecomment-1320659252, and would say that the answer is yes.

[This config](https://github.com/cms-sw/cmssw/blob/32740b5efcfd396a13ba9a5a57806b27aa9ddebf/HLTrigger/Configuration/test/OnLine_HLT_HIon.py) is representative of the menu that was running online (modulo the fact that online we also had the extra `keep hltHbherecoFromGPU` statement that

[2022-11-18 23:57] pcanal commented on #40091
See https://github.com/root-project/root/issues/11747 to follow on the upcoming fix.

[2022-11-19 07:47] syuvivida commented on #40115
@missirol Thanks for this check. We have contacted the HCAL DQM experts and pointed them to this github issue.

[2022-11-19 08:00] fwyzard commented on #40115
The error message comes from https://github.com/cms-sw/cmssw/blob/30c906888163b0cf2616db5ff14e262b68d53e1c/DQM/HcalTasks/plugins/HcalGPUComparisonTask.cc#L101_L102

Throwing an exception seems intentional, there ?

By the way, the configuration seems inverted between GPU and CPU (target vs reference): https://github.com/cms-sw/cmssw/blob/98f2cad9f7996c581a38682059d4d72aebb0f6b6/DQM/Integration/pyt

[2022-11-19 08:40] syuvivida commented on #40115
@missirol just to note, hcalgpu actually crashed already also in run 362221, I couldn't find if the pixel trigger prescale for this GPUvsCPU trigger path was also wrong for this run.
https://cmsweb.cern.ch/dqm/dqm-square/tmp/content_parser_productionPARSER_run362221

[2022-11-19 08:45] missirol commented on #40115
Yes. As noted in the 1st line of the description, this happened for a few runs up until run-362239 (the latter being the last one with this crash).

They were (which confirms the initial diagnosis).

[2022-11-19 09:17] syuvivida commented on #40115
@lwang046 Maybe Long Wang (HCAL DQM developers) could comments on the code in hcalgpu client?

[2022-11-19 10:01] lwang046 commented on #40115
Hi, thank you all for the investigation. A quick follow-up from our side, we are now preparing a protection to bypass the "collection not found exception", and indeed the warning logs are a bit confusing because of the mistakenly mixing of ref/target names [here](https://github.com/cms-sw/cmssw/blob/master/DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py#L105-L106).

[2022-11-19 12:18] swagata87 commented on #39987
For the record, there was another instance of this crash. This is the 4th instance in prompt reco, afaik.

It was in run `362091`, as announced in https://cms-talk.web.cern.ch/t/paused-job-in-run-361971-due-to-gsftraking-logic-error/17617/2

From private communication with German Giraldo, I got the tarball, which is here:
`/afs/cern.ch/user/c/cmst0/public/PausedJobs/Run2022F/LogicError/job_3892143

[2022-11-20 10:53] cmsbuild commented on #40103
The cleanup has started for el8_aarch64_gcc10

[2022-11-20 10:53] cmsbuild commented on #40103
The cleanup has started for slc7_amd64_gcc10

[2022-11-20 10:53] cmsbuild commented on #40103
The cleanup has started for el8_amd64_gcc10

[2022-11-20 10:53] cmsbuild commented on #40103
The cleanup has started for el8_ppc64le_gcc10

[2022-11-20 10:53] #40103 closed

[2022-11-20 10:54] cmsbuild commented on #40103
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch1-el8_amd64_gcc10/2244

[2022-11-20 10:54] cmsbuild commented on #40103
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch1-el8_aarch64_gcc10/2243

[2022-11-20 10:55] cmsbuild commented on #40103
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch1-el8_ppc64le_gcc10/2245

[2022-11-20 10:55] cmsbuild commented on #40103
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch1-slc7_amd64_gcc10/2246

[2022-11-20 11:55] missirol opened #40120 "Crash of `visualization-live-secondInstance` DQM client in run-362243"
This issue is meant to clarify (maybe just to me) which `FEDRawDataCollection` collection(s) should be provided to certain online-DQM clients when they use the scenario `ppEra_Run3_pp_on_PbPb_approxSiStripClusters` (https://github.com/cms-sw/cmssw/pull/39998).

The online-DQM client `visualization-live-secondInstance` (event display) [crashed in run-362243](https://cmsweb.cern.ch/dqm/dqm-square/tm

[2022-11-20 11:56] cmsbuild commented on #40120
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-20 11:56] missirol commented on #40120
assign dqm

[2022-11-20 11:56] cmsbuild commented on #40120
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-20 21:40] francescobrivio commented on #40120
Hi Marino!

I can clarify for the BeamSpot clients.
There are two DQM clients that provide the BeamSpot measurement:
1. Client `beam`
   - Consumes the "standard" `streamDQM`
   - Consumes `rawDataRepacker` in case of HI data-taking and `rawDataCollector` in all other cases
     as detailed in: https://github.com/cms-sw/cmssw/blob/6062b77ae47f02246a23be3481c7f0f0e91ec44b/DQM/Integration/python/cli

[2022-11-21 16:08] pmandrik commented on #40120
Hi, Marino,

`hltSiStripClusters2ApproxClusters` mentioned as input tag in the process dump of following clients:
[code]
I do not see `rawPrimeDataRepacker` to be mentioned as input tag by any client.

[2022-11-21 16:15] missirol commented on #40120
@francescobrivio @pmandrik , thanks for your replies.

Indeed. I'm trying to clarify if this is intended/correct, or not. The client `beam` described by Francesco is an example of this. Afaiu, it uses `hltSiStripClusters2ApproxClusters` (RawPrime) to reconstruct `siStripClusters`, but then uses `rawDataRepacker` (Raw) for other parts of the reconstruction chain.

[2022-11-21 17:47] mmusich commented on #40120
Incidentally (even if right now there's no code that consumes them both) the SiStrip (which is also the Tracking) client will have to consume both `hltSiStripClusters2ApproxClusters` and `rawDataRepacker` (including Strip FEDs) in order to run both reconstruction chains and be able to compare the outputs.

[2022-11-22 07:37] civanch opened #40126 "Invalid arithmetic operation in OscarProducer"
McM Run3 (12_4_11_patch1) validation jobs failing with the following log:

Begin processing the 52nd record. Run 1, Event 52, LumiSection 1 on stream 0 at 21-Nov-2022 12:06:39.435 CET %MSG-w SimG4CoreApplication: (NoModuleName) 21-Nov-2022 12:06:44 CET pre-events -------- WWWW ------- G4Exception-START -------- WWWW ------- *** G4Exception : DECAY102 issued by : G4Decay::DecayIt Total Energy is le

[2022-11-22 07:37] cmsbuild commented on #40126
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-22 07:37] civanch commented on #40126
assign simulation

[2022-11-22 07:38] cmsbuild commented on #40126
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-22 07:49] missirol commented on #40013
The IB tests keep failing, so it would be good to converge.

As I wrote in https://github.com/cms-sw/cmssw/pull/40020#discussion_r1018130177, I think the better solution is to use the bot cache, like the vast majority of CMSSW wfs do (that mechanism is meant precisely to prevent issues like this one).

@Martin-Grunewald , if you are convinced the current approach is better, please sign the PRs (an

[2022-11-22 08:15] Martin-Grunewald commented on #40013
So in that case of bot usage, what is the procedure if we change any of the input files? We first need to copy them to the bot cache? Who has permissions? (Then we could copy them to TSG eos directly).
Sorry, but I feel like this becomes a complicated system to use a cache not under our control. Maybe I miss the point but what is the advantage?

[2022-11-22 09:23] missirol commented on #40013
I think it would have to be a file that is accessible via `xrootd` at that moment (e.g. it is at a T2); then once the PR gets merged, it runs in an IB, and the bot caches the file. It's also true that https://github.com/cms-sw/cmssw/pull/40020#discussion_r1018496703 says the bot still needs to be instructed to look into the HLT-Val tests, so we should clarify that with Core-Sw if we decide to use

[2022-11-22 09:49] smuzaffar commented on #40013
First I would suggest to start using LFN ( i.e. `/store/something` ) instead of PFN ( e.g. `root://eoscms.cern.ch//store/something`). New file(s) should be accessible via `xrootd`. Any file which is not in bot cache will be first read via global xrootd redirector and then bot will automatically cache it and use it.

yes looks complicated but works fine for many years for relvals/addon and unit tes

[2022-11-22 09:55] Martin-Grunewald commented on #40013
OK, so it looks like this works fine.

(The only caveat left is this 6-mo deletion once unused: this would bite us in case a discontinued CMSSW release series gets resurrected after say 8 months or so because some wants to add a PR, but some of the corresponding
bot files have disappeared in the meantime and some TSG/IB tests will thus fail unless the files are found in their original location...)

[2022-11-22 11:10] missirol commented on #40013
Okay, I will double-check things and update the PRs to use the cache in the next couple of days (if there are no issues).

@smuzaffar , regarding https://github.com/cms-sw/cmssw/pull/40020#discussion_r1018496703, could you please teach the bot to parse the HLT-Validation logs to look for files to cache ?

[2022-11-22 12:12] fwyzard commented on #40110
@Dr15Jones @makortel how does the `PoolOutputModule` behave if one tries to `keep` both a collection and an `EDAlias` that points to it ?

@smorovic it's possible we may need to improve the DAQ output modules to behave in the same way.

[2022-11-22 12:12] cmsbuild commented on #40110
New categories assigned: daq

@smorovic,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-22 13:27] smuzaffar commented on #40013
@missirol , bot is now ready to keep track of input files used by HLT tests. List of input files used by HLT tests are in [elastic search]( https://es-cmssdt.cern.ch/kibana/app/kibana#/discover?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15w,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'3fc29390-88a1-11ea-8096-bf2a4db06

[2022-11-22 13:30] missirol commented on #40013
thanks @smuzaffar

[2022-11-22 13:50] aandvalenzuela commented on #33663
Hi,

This issue is happening again in [CMSSW_12_6_SKYLAKEAVX512_X_2022-11-20-2300 ](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc11/CMSSW_12_6_SKYLAKEAVX512_X_2022-11-20-2300/pyRelValMatrixLogs/run/136.844_RunCharmonium2017B+RunCharmonium2017B+HLTDR2_2017+RECODR2_2017reHLT_skimCharmonium_Prompt+HARVEST2017_skimCharmonium/step3_RunCharmonium2017B+RunCharmonium2017B+HLTDR2_2017+RECODR2_

[2022-11-22 14:15] Dr15Jones commented on #40110
It throws an exception at the beginning of the job.

[2022-11-22 14:20] Dr15Jones commented on #40126
@civanch could you re-edit the description and use the triple single quotes to keep the original format?

[2022-11-22 14:57] smorovic commented on #40110
Hi @Dr15Jones , where is the exception condition, is it related to `isAlias()` condition in this function?
[code]

[2022-11-22 15:07] makortel opened #40132 "ROOT write errors in prompt reconstruction"
The thread https://cms-talk.web.cern.ch/t/segmentation-fault-in-promptreco-for-jetmet-in-run-362063/17785 reports several errors in writing output files in prompt reconstruction in T0.

[2022-11-22 15:07] makortel commented on #40132
assign core

[2022-11-22 15:07] cmsbuild commented on #40132
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-22 15:07] cmsbuild commented on #40132
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-22 15:08] makortel commented on #40132
In CMSSW_12_4_10 first an exception
[code]
followed with a segfault in the job shutdown
[code]

[2022-11-22 15:10] makortel commented on #40132
In CMSSW_12_4_10 first an exception
[code]
followed by a segfault in the job shutdown
[code]

[2022-11-22 15:12] makortel commented on #40132
In CMSSW_12_4_11_patch1 first an exception
[code]
followed by a segfault in the job shutdown
[code]

[2022-11-22 15:13] makortel commented on #40132
@pcanal Do you have any thoughts what kind of conditions trigger these kind of errors?

[2022-11-22 15:15] makortel commented on #40132
Not sure if this has any significance, but the "magic number" in
[code]
is $2^{30} - 2$.

[2022-11-22 15:34] swertz commented on #32347
@michaelwassmer do you confirm #40002 solves all the issues reported in this ticket, and we can close it now?

[2022-11-22 15:45] Dr15Jones commented on #40110
The exception seems to be generated here:

https://github.com/cms-sw/cmssw/blob/e0e820abb7223427317ad1d6d4cc8244f8f21c29/FWCore/Framework/src/ProductSelector.cc#L77-L84

It is possible to ask for the `true` BranchID from the `BranchDescription` and for an EDAlias it will return the id of the branch to which it points.

[2022-11-22 16:24] makortel commented on #40110
As far as I can tell, the `ProductSelector::checkForDuplicateKeptBranch()` gets called from `Schedule::finishSetup()` via `OutputModuleCore::selectProducts()`. As such, I'd expect the functionality applies to all OutputModules. Would it be feasible to see the exact configuration that was used online? (the one in https://github.com/cms-sw/cmssw/issues/40110#issuecomment-1320666704 uses `PoolOutputM

[2022-11-22 16:25] smuzaffar commented on #40132
@makortel , I have started 12.4.UBSAN.X IB. Once working IB is available then we can think of building 12.4.10.UBSAN release

[2022-11-22 16:31] pcanal commented on #40132
Can one of the failing case be run under valgrind?

[2022-11-22 17:04] missirol commented on #40110
I copied in [1] the output of [2]. This should be very close to what was used online [*].

[1] `/afs/cern.ch/work/m/missirol/public/cmssw40110/hlt.py`
[2] `hltConfigFromDB --run 362293 > hlt.py`
[*] Even though, afaik, [1] is not literally what ran online (I think there are some customisations DAQ can add, and the db->python converter could in principle be different from what is used offline); but

[2022-11-22 17:10] smorovic commented on #40110
I also tried to create a version that at doesn't throw an exception very earlty due to missing parameters:
`/afs/cern.ch/user/s/smorovic/public/hlt_362293.py`

[2022-11-22 17:41] missirol commented on #40013
@smuzaffar , one more request for help..

I see the following on `lxplus`, and I don't understand it
[code]
Looks like something overwrites `CMS_PATH` when a `tcsh` shell is created on `lxplus`? The same test works as expected for `SITECONFIG_PATH`, so the issue seems specific to `CMS_PATH` (on `lxplus` with `tcsh`).

(this issue does not occur elsewhere, e.g. `vocms*` nodes, or nodes of a differe

[2022-11-22 17:43] pcanal commented on #40132
bytecount too large (more than 1073741822)

This indicates that one attempted to write more than 1GB in a single `TBuffer/TBasket`, this is not yet supported.  This usually indicates that a single non split object is too large (this could be a `TTree` with too many branches x baskets)

[2022-11-22 18:00] smuzaffar commented on #40013
I think this might be due to system login scripts e.g /etc/hepix/csh/GROUP/zh/group_rc.csh whch overrides CMS_PATH ( but no idea why /etc/hepix/sh/GROUP/zh/group_rc.sh is not overriding it for bash

[2022-11-22 18:07] makortel commented on #40132
I guess we should instrument the writing side as well on what exactly is being written to when these exceptions get thrown. (the exact call stack is unclear to me as the exception looks like it originates from `InitRootHandles` with nothing else than `EventProcessor::runToCompletion()` catching it in between)

[2022-11-22 18:25] missirol commented on #40013
I see. I would like to understand if it's possible to fix this, if possible. How would you suggest to proceed? A ticket somewhere?

[2022-11-22 19:09] Dr15Jones commented on #40132
@pcanal it looks like it happens during the call to `TDirectoryFile::WriteKeys`

[2022-11-22 19:17] pcanal commented on #40132
This would indicates that it is an histogram or  tree that is 'too large'.

[2022-11-22 19:36] makortel commented on #40110
Thanks @missirol, I was able to reproduce the issue with your configuration (even without input it ran enough). I see now the check in `ProductSelector` is generally insufficient for the case where an `EDAlias` is used as a case in `SwitchProducer` (although the check catches the situation in some cases).

I should be able to come up with a fix shortly. Given the situation with the data taking, is

[2022-11-22 20:21] fwyzard commented on #40110
IMHO we can live with 12.4.x as it is, and have the fix only in master.

[2022-11-22 20:31] dan131riley commented on #40132
The segfault is in `TDirectoryFile::WriteKeys()`, but that's during shutdown after throwing a fatal error.  The fatal errors come from `TBuffer::AutoExpand()` and `TBufferFile::SetByteCount()`

[2022-11-22 20:36] missirol commented on #40110
Thanks for checking, Matti. Fwiw, I agree with Andrea.

[2022-11-22 22:56] pcanal commented on #40132
I thought it was the first error ... what is the first error?

[2022-11-22 23:14] makortel commented on #40132
The first error in each job is the one reported by the (CMSSW) exception message, i.e.
* `Request to expand to a negative size, likely due to an integer overflow: 0x8001588e for a max of 0x7ffffffe.`
* `bytecount too large (more than 1073741822)`

[2022-11-22 23:35] makortel commented on #36404
@emanueleusai Would you have any update when these modules could be removed (or otherwise be taken care of)? Or should we make an attempt?

[2022-11-22 23:36] makortel commented on #31306
assign core

[2022-11-22 23:37] cmsbuild commented on #31306
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-22 23:37] makortel commented on #31306
+core

Fixed with https://github.com/cms-sw/cmsdist/pull/8181

[2022-11-22 23:37] cmsbuild commented on #31306
This issue is fully signed and ready to be closed.

[2022-11-22 23:37] makortel commented on #31306
@cmsbuild, please close

[2022-11-22 23:37] #31306 closed

[2022-11-22 23:40] makortel commented on #31624
I see the test still fails in 10_6_X, but not in 11_0_X. Probably not worth of trying to understand better (like what exactly fixed it).

[2022-11-22 23:40] makortel commented on #31624
+core

[2022-11-22 23:40] makortel commented on #31624
@cmsbuild, please close

[2022-11-22 23:40] cmsbuild commented on #31624
This issue is fully signed and ready to be closed.

[2022-11-22 23:40] #31624 closed

[2022-11-22 23:52] makortel commented on #40097
I think the problem is that the `SiStripGainsCalibTreeWorker` passes the file names as they are to `TChain::Add()`
https://github.com/cms-sw/cmssw/blob/97b79e261edf4240415b7e73371ca81fc18c697b/CalibTracker/SiStripChannelGain/plugins/SiStripGainsCalibTreeWorker.cc#L289-L292
without the use of Catalog that (e.g.) `PoolSource` uses for the LFN->PFN mapping. I suppose the options would be either to us

[2022-11-23 11:07] traylenator commented on #40013
https://gitlab.cern.ch/linuxsupport/rpms/hepix/-/merge_requests/11 is internal request to hepix scripts.

[2022-11-23 14:41] missirol commented on #40013
Thanks for the update, @traylenator . For reference, Steve also explained that a user can disable `hepix` as follows:
[code]

[2022-11-23 14:59] makortel commented on #37488
@spigad The improvement to CPU feature parsing with `cpu_features` library was done in #40050 that was merged in 12_6_X. Would this be sufficient for the needs, or are backports needed? (if yes, to which release cycles?)

[2022-11-23 15:12] smuzaffar commented on #40132
UBSAN IB for 12.4.X is now available

[2022-11-23 15:15] dan131riley commented on #40132
Appears to be the "Events" tree.

[2022-11-23 15:39] perrotta opened #40137 "Build CMSSW_12_4_11_patch2"
Needed for L1 and HLT tests during last days of data taking

[2022-11-23 15:40] cmsbuild commented on #40137
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-11-23 15:40] perrotta commented on #40137
+1

[2022-11-23 15:41] cmsbuild commented on #40137
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_11_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-11-23 15:41] cmsbuild commented on #40137
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-11-23 15:43] cmsbuild commented on #40137
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3709/console
CMSDIST Branch: [REL/CMSSW_12_4_11/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-23 16:07] cmsbuild commented on #40137
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch2-el8_ppc64le_gcc10/3709
Some

[2022-11-23 16:21] cmsbuild commented on #40137
The build has started for el8_amd64_gcc10 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3710/console
CMSDIST Branch: [REL/CMSSW_12_4_11/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-23 16:30] cmsbuild commented on #40137
The build has started for slc7_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3711/console
CMSDIST Branch: [REL/CMSSW_12_4_11/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-23 16:57] cmsbuild commented on #40137
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch2-el8_ppc64le_gcc10/3709

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-23 17:03] cmsbuild commented on #40137
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch2-el8_amd64_gcc10/3710
Some test

[2022-11-23 17:06] cmsbuild commented on #40137
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch2-slc7_amd64_gcc10/3711
Some te

[2022-11-23 17:50] cmsbuild commented on #40137
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch2-el8_amd64_gcc10/3710

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-23 17:53] cmsbuild commented on #40137
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch2-slc7_amd64_gcc10/3711

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-23 18:07] pcanal commented on #40132
Do we know the number of branches and entries (or better yet, can we call `Events->Print("")` before the crash)?  The maximum number of baskets per `TTree` (to stay under the 1GB) is 50 millions.

[2022-11-23 19:40] missirol commented on #40013
I updated the PRs so that they can access EDM files from the cms-bot cache.

There is a separate issue (not discussed so far) for the CMSSW releases where the HLT-Val tests run in SLC6. There, the tests will continue to fail. I reproduced the problem locally, and it looks like an incompatibility with the external files (e.g. JAVA `.jar` files) used to download the HLT configurations from the datab

[2022-11-23 21:44] makortel commented on #34393
By the way, there are several reports of (possibly) corrupted MiniAOD files in the Computing Tools CMS Talk
* https://cms-talk.web.cern.ch/t/miniaod-corrupted/17837
* https://cms-talk.web.cern.ch/t/miniaod-file-corrupted/17637
* https://cms-talk.web.cern.ch/t/corrupt-st-t-channel-miniaod-files/16209
* https://cms-talk.web.cern.ch/t/corrupted-files-for-singlemuon2018-ul2018d/13326
* https://cms-tal

[2022-11-23 21:45] makortel commented on #40059
+1

Nothing more to be done here.

[2022-11-23 21:46] makortel commented on #40059
@cmsbuild, please close

[2022-11-23 21:46] #40059 closed

[2022-11-23 21:46] cmsbuild commented on #40059
This issue is fully signed and ready to be closed.

[2022-11-24 01:31] makortel opened #40140 "Follow-ups to "new Alpaka GPU framework""
This issue is to track the TODO items from #39428 (in the order of appearance)

- [ ] Document the interfaces in `README.md`
- [ ] Some files that depend on Alpaka and `FWCore/Utilities`, but are specific to CMS. Ideally the package of these files should not depend on `FWCore/Framework` (which is the case for `HeterogeneousCore/AlpakaCore`), but given the CMS-specificity `HeterogeneousCore/AlpakaI

[2022-11-24 01:31] makortel commented on #40140
assign heterogeneous

[2022-11-24 01:31] cmsbuild commented on #40140
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-24 01:31] cmsbuild commented on #40140
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-24 05:48] perrotta commented on #40137
upload all

[2022-11-24 05:48] cmsbuild commented on #40137
Queing Jenkins upload for slc7_amd64_gcc10

[2022-11-24 05:48] cmsbuild commented on #40137
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-11-24 05:51] cmsbuild commented on #40137
The upload has started for el8_amd64_gcc10 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2540/console

[2022-11-24 05:58] cmsbuild commented on #40137
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2541/console

[2022-11-24 05:59] cmsbuild commented on #40137
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch2-el8_amd64_gcc10/2540

[2022-11-24 05:59] cmsbuild commented on #40137
The upload has started for slc7_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2542/console

[2022-11-24 06:00] cmsbuild commented on #40137
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch2-slc7_amd64_gcc10/2542

[2022-11-24 06:00] cmsbuild commented on #40137
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch2-el8_ppc64le_gcc10/2541

[2022-11-24 06:19] perrotta commented on #40137
release-notes

[2022-11-24 06:19] cmsbuild commented on #40137
Generating release notes since CMSSW_12_4_11_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-24 06:19] cmsbuild commented on #40137
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_4_11_patch2 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_4_11_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_11_patch2

Needed for L1 and

[2022-11-24 06:23] cmsbuild commented on #40137
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_11_patch2

[2022-11-24 06:33] cmsbuild commented on #40137
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch2-el8_aarch64_gcc10/3708
Some

[2022-11-24 06:34] cmsbuild commented on #40137
Queing Jenkins upload for el8_aarch64_gcc10

[2022-11-24 07:11] cmsbuild commented on #40137
The upload has started for el8_aarch64_gcc10 in vocms-arm-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2543/console

[2022-11-24 07:11] cmsbuild commented on #40137
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch2-el8_aarch64_gcc10/2543

[2022-11-24 07:43] perrotta opened #40142 "Build CMSSW_12_6_0_pre5"
Last open pre-release in the 12_6_X serie
master will move to 13_0_X ingithub

[2022-11-24 07:44] cmsbuild commented on #40142
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-11-24 07:45] perrotta commented on #40142
+1

[2022-11-24 07:45] cmsbuild commented on #40142
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-11-24 07:45] cmsbuild commented on #40142
Queuing Jenkins build for the following architectures: el8_amd64_gcc10, el8_ppc64le_gcc11, el8_aarch64_gcc11, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-11-24 07:46] cmsbuild commented on #40142
The build has started for el8_amd64_gcc11 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3713/console
CMSDIST Branch: [IB/CMSSW_12_6_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 07:46] cmsbuild commented on #40142
The build has started for slc7_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3714/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 07:46] cmsbuild commented on #40142
The build has started for el8_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3712/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 07:46] cmsbuild commented on #40142
The build has started for el8_aarch64_gcc11 in arm-vocms-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3715/console
CMSDIST Branch: [IB/CMSSW_12_6_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 07:46] cmsbuild commented on #40142
The build has started for el8_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3716/console
CMSDIST Branch: [IB/CMSSW_12_6_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 09:33] cmsbuild commented on #40142
The build has finished sucessfully for the architecture el8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-el8_aarch64_gcc11/3715
Some tes

[2022-11-24 09:56] cmsbuild commented on #40142
The tests have finished for el8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-el8_aarch64_gcc11/3715

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-24 10:15] todor-ivanov commented on #34393
Hi @haozturk @makortel

Sorry, for the late reply here, I just noticed you have tagged us few days ago.

One can create a `LumiList` at request creation time. But this needs to be a full list using one of the formats mentioned [here](https://github.com/dmwm/WMCore/blob/98a74da5f361fc9d858fdf2badfef2758258ad1a/src/python/WMCore/DataStructs/LumiList.py#L32-L54). I am not aware of a way to exclude a

[2022-11-24 10:23] todor-ivanov commented on #34393
And just to continue on that chain of thoughts.

There is no way for us to skip a file from a data block. We can create  lists of `Allowed` and `NotAllowed` blocks during submission and assignment time, but not lists of files. So if a file is proven bad and we are sure this is not an infrastructure issue (as Matti correctly points out that this could easily turn out to be the case), then the files

[2022-11-24 10:23] missirol commented on #40013
We agreed to switch off the HLT-integration tests for IBs using SLC6, to avoid false positives due to the issue described in https://github.com/cms-sw/cmssw/issues/40013#issuecomment-1325571973. The PRs to 8_0_X, 9_4_X, 10_2_X and 10_3_X have been updated accordingly (the update of the 5_3_X PR is not necessary, as those tests do not run in that earlier cycle).

I think all the PRs are now ready t

[2022-11-24 10:41] cmsbuild commented on #40142
The build has finished sucessfully for the architecture el8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-el8_ppc64le_gcc11/3716
Some tes

[2022-11-24 11:32] cmsbuild commented on #40142
The tests have finished for el8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-el8_ppc64le_gcc11/3716

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-24 12:41] cmsbuild commented on #40142
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-slc7_amd64_gcc10/3714
Some tests

[2022-11-24 12:43] cmsbuild commented on #40142
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-el8_amd64_gcc11/3713
Some tests (

[2022-11-24 12:59] cmsbuild commented on #40142
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-el8_amd64_gcc10/3712
Some tests (

[2022-11-24 13:20] perrotta commented on #40142
upload all

[2022-11-24 13:20] cmsbuild commented on #40142
Queing Jenkins upload for slc7_amd64_gcc10

[2022-11-24 13:20] cmsbuild commented on #40142
Queing Jenkins upload for el8_amd64_gcc10

[2022-11-24 13:20] cmsbuild commented on #40142
Queing Jenkins upload for el8_amd64_gcc11

[2022-11-24 13:20] cmsbuild commented on #40142
Queing Jenkins upload for el8_ppc64le_gcc11

[2022-11-24 13:21] cmsbuild commented on #40142
Queing Jenkins upload for el8_aarch64_gcc11

[2022-11-24 13:21] cmsbuild commented on #40142
The upload has started for el8_aarch64_gcc11 in vocms-arm-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2544/console

[2022-11-24 13:21] cmsbuild commented on #40142
The upload has started for el8_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2546/console

[2022-11-24 13:21] cmsbuild commented on #40142
The upload has started for el8_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2547/console

[2022-11-24 13:21] cmsbuild commented on #40142
The upload has successfully finished for el8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre5-el8_aarch64_gcc11/2544

[2022-11-24 13:21] cmsbuild commented on #40142
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre5-el8_amd64_gcc11/2545

[2022-11-24 13:22] cmsbuild commented on #40142
The upload has started for slc7_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2548/console

[2022-11-24 13:22] cmsbuild commented on #40142
The upload has successfully finished for el8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre5-el8_ppc64le_gcc11/2547

[2022-11-24 13:22] cmsbuild commented on #40142
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre5-slc7_amd64_gcc10/2548

[2022-11-24 13:23] cmsbuild commented on #40142
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre5-el8_amd64_gcc10/2546

[2022-11-24 13:30] perrotta commented on #40142
release-notes

[2022-11-24 13:30] cmsbuild commented on #40142
Generating release notes since CMSSW_12_6_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-24 13:30] cmsbuild commented on #40142
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-el8_amd64_gcc11/3713

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-24 13:30] cmsbuild commented on #40142
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_6_0_pre5 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc11
el8_ppc64le_gcc11
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_6_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_6_0_pre5

[2022-11-24 13:31] cmsbuild commented on #40142
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-slc7_amd64_gcc10/3714

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-24 13:32] cmsbuild commented on #40142
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre5

[2022-11-24 13:48] cmsbuild commented on #40142
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre5-el8_amd64_gcc10/3712

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-24 16:00] missirol commented on #37598
+hlt

#40004 and its backports have removed queries to `ConfDB` in IB tests. This should, by construction, remove occurrences of this issue for `12_4_X` and higher, so I'm signing this.

Having said that, the root cause of these failures (see also #39345) still escapes me. The symptom is a failure in downloading configurations from ConfDB (only some of them usually, during the same IB), which lead

[2022-11-24 16:01] missirol commented on #39345
+hlt

See https://github.com/cms-sw/cmssw/issues/37598#issuecomment-1326628334 (I'm assuming that the root cause behind this issue and #37598 is the same).

[2022-11-24 16:01] cmsbuild commented on #39345
This issue is fully signed and ready to be closed.

[2022-11-24 21:52] perrotta opened #40152 "Build CMSSW_13_0_0_pre1"
Identical to CMSSW_12_6_0_pre5

[2022-11-24 21:52] cmsbuild commented on #40152
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-11-24 21:57] perrotta commented on #40152
+1

[2022-11-24 21:58] cmsbuild commented on #40152
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_13_0_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-11-24 21:58] cmsbuild commented on #40152
Queuing Jenkins build for the following architectures: el8_amd64_gcc10, el8_ppc64le_gcc11, el8_aarch64_gcc11, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-11-24 21:58] cmsbuild commented on #40152
The build has started for el8_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3717/console
CMSDIST Branch: [IB/CMSSW_13_0_X/g10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_13_0_X/g10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 21:59] cmsbuild commented on #40152
The was an error for el8_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_amd64_gcc10/3717

[2022-11-24 21:59] cmsbuild commented on #40152
The build has started for el8_amd64_gcc11 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3718/console
CMSDIST Branch: [IB/CMSSW_13_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_13_0_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 22:00] cmsbuild commented on #40152
The build has started for el8_aarch64_gcc11 in arm-vocms-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3719/console
CMSDIST Branch: [IB/CMSSW_13_0_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_13_0_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 22:00] cmsbuild commented on #40152
The build has started for slc7_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3720/console
CMSDIST Branch: [IB/CMSSW_13_0_X/g10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_13_0_X/g10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 22:00] cmsbuild commented on #40152
The build has started for el8_ppc64le_gcc11 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3721/console
CMSDIST Branch: [IB/CMSSW_13_0_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_13_0_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-24 22:01] cmsbuild commented on #40152
The was an error for slc7_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-slc7_amd64_gcc10/3720

[2022-11-24 23:33] cmsbuild commented on #40152
The build has finished sucessfully for the architecture el8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_aarch64_gcc11/3719
Some tes

[2022-11-24 23:57] cmsbuild commented on #40152
The tests have finished for el8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_aarch64_gcc11/3719

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-25 00:54] cmsbuild commented on #40152
The build has finished sucessfully for the architecture el8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_ppc64le_gcc11/3721
Some tes

[2022-11-25 01:53] cmsbuild commented on #40152
The tests have finished for el8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_ppc64le_gcc11/3721

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-25 01:53] cmsbuild commented on #40152
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_amd64_gcc11/3718
Some tests (

[2022-11-25 02:40] cmsbuild commented on #40152
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_amd64_gcc11/3718

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-25 07:20] clacaputo commented on #39482
wf `21034.21`, CPU time:

- CMSSW_12_6_0_pre4 Vs CMSSW_12_6_0_pre5 (integrates https://github.com/cms-sw/cmssw/pull/39810)

`Job total:  58.6912 s/ev ==> 51.8199 s/ev`

TimeDiff

[code]

[2022-11-25 07:21] clacaputo commented on #39482
+reconstruction

- see https://github.com/cms-sw/cmssw/issues/39482#issuecomment-1327102885

[2022-11-25 07:21] #39482 closed

[2022-11-25 07:21] cmsbuild commented on #39482
This issue is fully signed and ready to be closed.

[2022-11-25 07:22] cmsbuild commented on #40152
The build has started for el8_amd64_gcc10 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3722/console
CMSDIST Branch: [IB/CMSSW_13_0_X/g10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_13_0_X/g10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-25 07:30] cmsbuild commented on #40152
The build has started for slc7_amd64_gcc10 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3723/console
CMSDIST Branch: [IB/CMSSW_13_0_X/g10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_13_0_X/g10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-25 11:00] cmsbuild commented on #40152
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-slc7_amd64_gcc10/3723
Some tests

[2022-11-25 11:06] cmsbuild commented on #40152
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_amd64_gcc10/3722
Some tests (

[2022-11-25 11:12] perrotta commented on #40152
upload all

[2022-11-25 11:13] cmsbuild commented on #40152
Queing Jenkins upload for slc7_amd64_gcc10

[2022-11-25 11:13] cmsbuild commented on #40152
Queing Jenkins upload for el8_amd64_gcc10

[2022-11-25 11:13] cmsbuild commented on #40152
Queing Jenkins upload for el8_amd64_gcc11

[2022-11-25 11:13] cmsbuild commented on #40152
Queing Jenkins upload for el8_ppc64le_gcc11

[2022-11-25 11:13] cmsbuild commented on #40152
Queing Jenkins upload for el8_aarch64_gcc11

[2022-11-25 11:13] cmsbuild commented on #40152
The upload has started for el8_aarch64_gcc11 in vocms-arm-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2549/console

[2022-11-25 11:13] cmsbuild commented on #40152
The upload has started for el8_amd64_gcc10 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2550/console

[2022-11-25 11:14] cmsbuild commented on #40152
The upload has started for el8_amd64_gcc11 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2551/console

[2022-11-25 11:14] cmsbuild commented on #40152
The upload has successfully finished for el8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_13_0_0_pre1-el8_aarch64_gcc11/2549

[2022-11-25 11:14] cmsbuild commented on #40152
The upload has started for el8_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2552/console

[2022-11-25 11:15] cmsbuild commented on #40152
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_13_0_0_pre1-el8_amd64_gcc10/2550

[2022-11-25 11:15] cmsbuild commented on #40152
The upload has started for slc7_amd64_gcc10 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2553/console

[2022-11-25 11:16] cmsbuild commented on #40152
The upload has successfully finished for el8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_13_0_0_pre1-el8_ppc64le_gcc11/2552

[2022-11-25 11:17] cmsbuild commented on #40152
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_13_0_0_pre1-slc7_amd64_gcc10/2553

[2022-11-25 11:18] cmsbuild commented on #40152
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_13_0_0_pre1-el8_amd64_gcc11/2551

[2022-11-25 11:26] perrotta commented on #40152
release-notes

[2022-11-25 11:27] cmsbuild commented on #40152
Unable to find previous release for CMSSW_13_0_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2022-11-25 11:28] perrotta opened #40157 "Build CMSSW_12_4_11_patch3"
It contains the G4 fix needed for the MC production

[2022-11-25 11:28] cmsbuild commented on #40157
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-11-25 11:28] perrotta commented on #40152
release-notes since CMSSW_12_6_0_pre5

[2022-11-25 11:29] perrotta commented on #40157
+1

[2022-11-25 11:29] cmsbuild commented on #40157
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_11_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-11-25 11:29] cmsbuild commented on #40157
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-11-25 11:29] cmsbuild commented on #40152
Generating release notes since CMSSW_12_6_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-25 11:29] cmsbuild commented on #40152
You can use this template for announcing the release:

Hi all,

The development release CMSSW_13_0_0_pre1 is now available for the following architectures:

el8_amd64_gcc11 (production)
el8_aarch64_gcc11
el8_ppc64le_gcc11
el8_amd64_gcc10
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_6_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_13_0_0_pre1

[2022-11-25 11:29] cmsbuild commented on #40152
Generating release notes since CMSSW_12_6_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-25 11:29] cmsbuild commented on #40152
You can use this template for announcing the release:

Hi all,

The development release CMSSW_13_0_0_pre1 is now available for the following architectures:

el8_amd64_gcc11 (production)
el8_aarch64_gcc11
el8_ppc64le_gcc11
el8_amd64_gcc10
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_6_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_13_0_0_pre1

[2022-11-25 11:34] cmsbuild commented on #40152
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_13_0_0_pre1

[2022-11-25 11:34] cmsbuild commented on #40152
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_13_0_0_pre1

[2022-11-25 11:34] cmsbuild commented on #40157
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3724/console
CMSDIST Branch: [REL/CMSSW_12_4_11/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-25 11:38] cmsbuild commented on #40157
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3725/console
CMSDIST Branch: [REL/CMSSW_12_4_11/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-25 11:47] cmsbuild commented on #40152
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-slc7_amd64_gcc10/3723

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-25 11:54] cmsbuild commented on #40152
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_13_0_0_pre1-el8_amd64_gcc10/3722

Tests results:
47 46 45 33 22 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-25 12:00] cmsbuild commented on #40157
The build has started for el8_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3726/console
CMSDIST Branch: [REL/CMSSW_12_4_11/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-25 12:00] cmsbuild commented on #40157
The build has started for slc7_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3727/console
CMSDIST Branch: [REL/CMSSW_12_4_11/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_11/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-25 12:24] mandrenguyen commented on #38201
+1

[2022-11-25 12:25] cmsbuild commented on #38201
This issue is fully signed and ready to be closed.

[2022-11-25 12:25] mandrenguyen commented on #38201
Closed #38201 as completed.

[2022-11-25 12:37] cmsbuild commented on #40157
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch3-slc7_amd64_gcc10/3727
Some te

[2022-11-25 12:42] cmsbuild commented on #40157
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch3-el8_amd64_gcc10/3726
Some test

[2022-11-25 12:47] perrotta commented on #40157
upload all

[2022-11-25 12:47] cmsbuild commented on #40157
Queing Jenkins upload for slc7_amd64_gcc10

[2022-11-25 12:47] cmsbuild commented on #40157
Queing Jenkins upload for el8_amd64_gcc10

[2022-11-25 12:47] cmsbuild commented on #40157
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-11-25 12:48] cmsbuild commented on #40157
Queing Jenkins upload for el8_aarch64_gcc10

[2022-11-25 12:48] cmsbuild commented on #40157
The upload has started for slc7_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2556/console

[2022-11-25 12:48] cmsbuild commented on #40157
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2554/console

[2022-11-25 12:48] cmsbuild commented on #40157
The upload has started for el8_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2557/console

[2022-11-25 12:48] cmsbuild commented on #40157
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2555/console

[2022-11-25 12:48] cmsbuild commented on #40157
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch3-el8_aarch64_gcc10/2554

[2022-11-25 12:49] cmsbuild commented on #40157
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch3-el8_ppc64le_gcc10/2555

[2022-11-25 12:49] cmsbuild commented on #40157
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch3-slc7_amd64_gcc10/2556

[2022-11-25 12:49] cmsbuild commented on #40157
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11_patch3-el8_amd64_gcc10/2557

[2022-11-25 12:50] perrotta commented on #40157
release-notes

[2022-11-25 12:50] cmsbuild commented on #40157
Generating release notes since CMSSW_12_4_11_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-25 12:50] cmsbuild commented on #40157
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_4_11_patch3 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_11_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_11_patch3

[2022-11-25 12:51] cmsbuild commented on #40157
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_11_patch3

[2022-11-25 13:26] cmsbuild commented on #40157
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch3-slc7_amd64_gcc10/3727

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-25 13:31] cmsbuild commented on #40157
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11_patch3-el8_amd64_gcc10/3726

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-25 13:49] perrotta opened #40159 "Build CMSSW_10_6_31"
It contains a few fixes, mostly for generators and analysis.
In particolar, the last merged #39403 has a fix for the Hervig7 generator, needed for a JMENano campaing

[2022-11-25 13:49] cmsbuild commented on #40159
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-11-25 13:49] perrotta commented on #40159
+1

[2022-11-25 13:49] cmsbuild commented on #40159
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_31. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2022-11-25 13:49] cmsbuild commented on #40159
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2022-11-25 13:55] cmsbuild commented on #40159
The build has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3728/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-11-25 17:55] cmsbuild commented on #40159
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_31-slc7_amd64_gcc700/3728
Some tests (

[2022-11-25 18:36] cmsbuild commented on #40159
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_31-slc7_amd64_gcc700/3728

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-11-25 20:51] perrotta commented on #40159
upload all

[2022-11-25 20:51] cmsbuild commented on #40159
Queing Jenkins upload for slc7_amd64_gcc700

[2022-11-25 20:52] cmsbuild commented on #40159
The upload has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2558/console

[2022-11-25 20:54] cmsbuild commented on #40159
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_31-slc7_amd64_gcc700/2558

[2022-11-25 20:56] perrotta commented on #40159
release-notes

[2022-11-25 20:56] cmsbuild commented on #40159
Generating release notes since CMSSW_10_6_30_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-25 20:56] cmsbuild commented on #40159
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_31 is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_6_30_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_31

It contains a few fixes, mostly for generators and analysis.
In partico

[2022-11-25 21:01] cmsbuild commented on #40159
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_31

[2022-11-26 05:24] cmsbuild commented on #40137
The cleanup has started for el8_aarch64_gcc10

[2022-11-26 05:24] cmsbuild commented on #40137
The cleanup has started for slc7_amd64_gcc10

[2022-11-26 05:24] cmsbuild commented on #40137
The cleanup has started for el8_amd64_gcc10

[2022-11-26 05:24] cmsbuild commented on #40137
The cleanup has started for el8_ppc64le_gcc10

[2022-11-26 05:24] #40137 closed

[2022-11-26 05:24] cmsbuild commented on #40137
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch2-el8_aarch64_gcc10/2247

[2022-11-26 05:24] cmsbuild commented on #40137
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch2-el8_amd64_gcc10/2248

[2022-11-26 05:24] cmsbuild commented on #40137
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch2-el8_ppc64le_gcc10/2249

[2022-11-26 05:24] cmsbuild commented on #40137
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch2-slc7_amd64_gcc10/2250

[2022-11-26 12:39] cmsbuild commented on #40142
The cleanup has started for el8_aarch64_gcc11

[2022-11-26 12:39] cmsbuild commented on #40142
The cleanup has started for slc7_amd64_gcc10

[2022-11-26 12:39] cmsbuild commented on #40142
The cleanup has started for el8_amd64_gcc10

[2022-11-26 12:39] cmsbuild commented on #40142
The cleanup has started for el8_amd64_gcc11

[2022-11-26 12:39] cmsbuild commented on #40142
The cleanup has started for el8_ppc64le_gcc11

[2022-11-26 12:39] #40142 closed

[2022-11-26 12:39] cmsbuild commented on #40142
The workspace for el8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre5-el8_aarch64_gcc11/2251

[2022-11-26 12:39] cmsbuild commented on #40142
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre5-el8_amd64_gcc10/2252

[2022-11-26 12:39] cmsbuild commented on #40142
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre5-el8_amd64_gcc11/2253

[2022-11-26 12:39] cmsbuild commented on #40142
The workspace for el8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre5-el8_ppc64le_gcc11/2254

[2022-11-26 12:39] cmsbuild commented on #40142
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre5-slc7_amd64_gcc10/2255

[2022-11-26 19:14] tvami commented on #40097
+alca
 * being resolved in https://github.com/cms-sw/cmssw/pull/40113

[2022-11-26 19:15] cmsbuild commented on #40097
This issue is fully signed and ready to be closed.

[2022-11-27 10:39] cmsbuild commented on #40152
The cleanup has started for el8_aarch64_gcc11

[2022-11-27 10:39] cmsbuild commented on #40152
The cleanup has started for slc7_amd64_gcc10

[2022-11-27 10:39] cmsbuild commented on #40152
The cleanup has started for el8_amd64_gcc10

[2022-11-27 10:39] cmsbuild commented on #40152
The cleanup has started for el8_amd64_gcc11

[2022-11-27 10:39] cmsbuild commented on #40152
The cleanup has started for el8_ppc64le_gcc11

[2022-11-27 10:39] #40152 closed

[2022-11-27 10:39] cmsbuild commented on #40152
The workspace for el8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_13_0_0_pre1-el8_aarch64_gcc11/2256

[2022-11-27 10:39] cmsbuild commented on #40152
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_13_0_0_pre1-el8_amd64_gcc10/2257

[2022-11-27 10:39] cmsbuild commented on #40152
The workspace for el8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_13_0_0_pre1-el8_ppc64le_gcc11/2259

[2022-11-27 10:39] cmsbuild commented on #40152
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_13_0_0_pre1-el8_amd64_gcc11/2258

[2022-11-27 10:39] cmsbuild commented on #40152
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_13_0_0_pre1-slc7_amd64_gcc10/2260

[2022-11-27 12:08] cmsbuild commented on #40157
The cleanup has started for el8_aarch64_gcc10

[2022-11-27 12:08] cmsbuild commented on #40157
The cleanup has started for slc7_amd64_gcc10

[2022-11-27 12:08] cmsbuild commented on #40157
The cleanup has started for el8_amd64_gcc10

[2022-11-27 12:08] cmsbuild commented on #40157
The cleanup has started for el8_ppc64le_gcc10

[2022-11-27 12:08] #40157 closed

[2022-11-27 12:09] cmsbuild commented on #40157
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch3-el8_aarch64_gcc10/2261

[2022-11-27 12:09] cmsbuild commented on #40157
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch3-el8_amd64_gcc10/2262

[2022-11-27 12:09] cmsbuild commented on #40157
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch3-el8_ppc64le_gcc10/2263

[2022-11-27 12:09] cmsbuild commented on #40157
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11_patch3-slc7_amd64_gcc10/2264

[2022-11-27 16:09] sanuvarghese commented on #40089
This maybe a naive question : If the increase in reconstruction time is only ~1%  and the removal of Ofast removes all the CPU-CPU differences, why is it still there?

[2022-11-27 20:08] cmsbuild commented on #40159
The cleanup has started for slc7_amd64_gcc700

[2022-11-27 20:08] #40159 closed

[2022-11-27 20:08] cmsbuild commented on #40159
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_31-slc7_amd64_gcc700/2265

[2022-11-27 21:44] mandrenguyen commented on #40089
@sanuvarghese  A 1% increase in reconstruction time is not insignificant.
We're talking about the cost of an extra 1% of CPU not only for prompt and data reprocessing, but also all of the MC production.  That has a real cost in terms of resources, which are under increased pressure these days.
We can certainly have a discussion about whether a 1% CPU-GPU difference is more or less important than a

[2022-11-28 10:00] mandrenguyen commented on #39537
assign egamma-pog
@sameasy @Prasant1993 could you have a look, please?

[2022-11-28 10:01] cmsbuild commented on #39537
New categories assigned: egamma-pog

@lfinco,@swagata87 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-28 10:03] mandrenguyen commented on #37975
@michaelwassmer
Any thoughts on this issue?

[2022-11-28 10:04] mandrenguyen commented on #37974
+1
Looks like this issue was resolved

[2022-11-28 10:04] cmsbuild commented on #37974
This issue is fully signed and ready to be closed.

[2022-11-28 10:05] mandrenguyen commented on #37974
@cmsbuild, please close

[2022-11-28 10:05] #37974 closed

[2022-11-28 10:38] mmusich commented on #40097
please close
   * resolved in https://github.com/cms-sw/cmssw/pull/40113

[2022-11-28 10:38] #40097 closed

[2022-11-28 10:39] mmusich commented on #40077
please close
   * resolved in https://github.com/cms-sw/cmssw/pull/40135

[2022-11-28 10:39] #40077 closed

[2022-11-28 10:47] mmusich commented on #40091
please close
  * last ROOT6 IB unit tests are clean ( see [CMSSW_13_0_ROOT6_X_2022-11-27-2300 unit tests](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc11/CMSSW_13_0_ROOT6_X_2022-11-27-2300/unitTestLogs/Alignment/OfflineValidation#/)
  * resolved in https://github.com/cms-sw/cmssw/pull/40114

[2022-11-28 10:47] #40091 closed

[2022-11-28 10:55] missirol commented on #40013
+hlt

With the expected exception of `10_6_X` (https://github.com/cms-sw/cmssw/pull/40026#issuecomment-1326255302), after the PRs above, the HLT-Val tests passed in the latest IBs of all active release cycles. The same tests were also updated in recent cycles (see #40147 and its backports), in order to use LFNs and the ibeos cache.

Thanks @smuzaffar for helping us make use of the ibeos cache.

[2022-11-28 10:55] cmsbuild commented on #40013
This issue is fully signed and ready to be closed.

[2022-11-28 10:55] missirol commented on #40013
please close

[2022-11-28 10:56] #40013 closed

[2022-11-28 14:15] makortel commented on #37598
+core

Although in the end there wasn't much (anything?) for core.

[2022-11-28 14:15] makortel commented on #37598
@cmsbuild, please close

[2022-11-28 14:16] #37598 closed

[2022-11-28 14:16] cmsbuild commented on #37598
This issue is fully signed and ready to be closed.

[2022-11-28 14:16] makortel commented on #39345
@cmsbuild, please close

[2022-11-28 14:16] #39345 closed

[2022-11-28 15:22] makortel commented on #40089
I'm curious if the "1-2 % differences in electron reconstruction" between AMD and Intel look like random differences or if they show any systematic effect?

[2022-11-28 16:05] dan131riley commented on #40132
I don't yet have a clean `Events->Print("")`, but I can say that the number of baskets is a few hundred, definitely not 50 million.  Two pieces of evidence also suggest that it isn't so simple: (1) crash goes away if some number of events are skipped, and (2) I get different behavior reading a local file.

Specifically, reading a local file instead of via xrootd, the process does not segfault, but

[2022-11-28 16:07] Dr15Jones commented on #40132
@dan131riley on the local file usage, could you try running in GDB and see if an exception happens? Maybe there is a lock taken explicitly and not being released?

[2022-11-28 16:42] Dr15Jones commented on #40132
@dan131riley purely as a guess, I think `pthread_cond_destroy` is probably coming from the destruction of the `std::condition_variable_any` member variable in `TRWSpinLock` which is being deleted because of the `std::unique_ptr<TRWSpinLock>` within RConcurrentHashColl.

If we aren't dealing with an exception safety problem (where some code explicitly called Lock without using the helper classes) t

[2022-11-28 18:10] tvami commented on #40091
+alca

[2022-11-28 18:10] tvami commented on #40077
+alca

[2022-11-28 18:24] tvami commented on #39483
@laurenhay any news?

[2022-11-28 21:09] makortel opened #40167 "Migrate away from consumesMany()"
In https://github.com/cms-sw/cmssw/pull/40136#issuecomment-1329359653 I noticed the consumes information from `consumesMany()` calls was not propagated to the dump by `Tracer` service. The `consumesMany()` implementation includes some trickery, and could be replaced with the [`edm::GetterOfProducts()`](https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideEDMGetDataFromEvent#GetterOfProducts) (or

[2022-11-28 21:09] cmsbuild commented on #40167
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-28 21:09] makortel commented on #40167
assign core,reconstruction,xpog,dqm,l1

(although other than `core` are more FYI)

[2022-11-28 21:10] cmsbuild commented on #40167
New categories assigned: core,l1,xpog,reconstruction,dqm

@jfernan2,@epalencia,@ahmad3213,@micsucmed,@rvenditti,@mandrenguyen,@Dr15Jones,@smuzaffar,@emanueleusai,@syuvivida,@swertz,@clacaputo,@rekovic,@makortel,@cecilecaillol,@vlimant,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-28 21:11] makortel commented on #40167
@cms-sw/l1-l2 @dildick

I see the file

was moved from `plugins` as part of deprecation work in https://github.com/cms-sw/cmssw/pull/33582. Is this file something that could perhaps be removed now?

[2022-11-28 21:36] vlimant commented on #40167
for what concerns `NanoAODDQM`, all the `FlatTable` products are retrieved and later post-selected based on `FlatTable::name()` which is different that the what the `InputTag` would be.

As an example the producer of the "Muon" table is https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/muons_cff.py muonTable but the `NanoAODDQM` module configuration only refers to "Muon" (whi

[2022-11-28 21:36] dan131riley commented on #40132
Looking at a full log with the local input file, there is an exception
[code]
That's after the input file is closed, and probably at the point where `tree->Print("")` is called, since that seems to trigger some kind of cleanup.  However, with the local input file the exception isn't followed by a segfault, instead it just deadlocks in the global destructors.

[2022-11-28 22:13] pcanal commented on #40132
So it seems there is 2 slightly distinct problem.  The second one is a problem in the error recovery that lead to either the dead lock or the crash.   The first is one is why it tries to write such a large object.

Since it uses a local input, I should be able to reproduce.  Can you give me the instruction on how to reproduce it (preferably with a ROOT build in debug mode)?  Thanks.

[2022-11-28 22:59] wddgit commented on #40167
I have not looked at this case in detail but my recollection from 2012 is that GetterOfProducts can do anything that getManyByType can do, but is more general. It always selects products by type. Optionally, it can also select on any information in the BranchDescription using a predicate (or only select by type). TWIKI documentation is here:

https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideE

[2022-11-29 03:11] srlantz commented on #40089
@sanuvarghese  I certainly can't speak for reconstruction as a whole, but considering just the mkFit algorithm for Si strip tracking (which is what I've been involved with), certain parts of `-Ofast` are necessary to enable autovectorization of math functions (sin/cos) with gcc, and this can make a big difference to mkFit, since it is designed to maximize SIMD parallelism. For example, in recent t

[2022-11-29 06:11] #40110 closed

[2022-11-29 08:35] swertz commented on #40167
Thanks for the pointers. I tried implementing `GetterOfProducts` in the `NanoAODDQM` as I was working on something else there and it seems to work. I can make a PR soon.

[2022-11-29 09:55] spigad commented on #37488
@makortel I think that there is no neeed for backporting. THanks for taking care for the improvement.

[2022-11-29 10:23] michaelwassmer commented on #37975
Sorry, I don't really know what this module is doing. This is way from before my time. However, if the functionality doesn't exist anymore, there's probably no reason to keep it. Furthermore, in the header file of the module, the one-line summary says something about MVA MET, which as far as I know is not used anywhere.

[2022-11-29 10:34] alkaloge commented on #37975
+1

[2022-11-29 13:57] trtomei opened #40174 "HLT Crash -- Run 362720 -- Possibly related to tracking?"
Dearest,

HLT crashes were observed in Run 362720. The messages seemed related to Tracking:

[code]

but I couldn't reproduce them.

Instructions to run on Hilton (`hilton_c2b02_44_01`) as `hltpro`
[code]

Instructions to run on a regular `lxplus` machine.

[code]

@cms-sw/hlt-l2 FYI
@cms-sw/tracking-dpg-l2 FYI

[2022-11-29 13:57] cmsbuild commented on #40174
A new Issue was created by  @trtomei Thiago Tomei.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-29 14:06] makortel commented on #40110
+core

[2022-11-29 14:18] dan131riley commented on #40174
@trtomei is there a full log available?

[2022-11-29 14:26] perrotta commented on #39737
I don't remember how we finally managed to fix it, but the workflow is not failing any more in the IBs
This can probably get closed, isn't it?

[2022-11-29 14:28] perrotta commented on #39754
This got somehow fixed, since the same histos now reproduce nicely.
Can this get closed?

[2022-11-29 14:41] smuzaffar commented on #39737
@perrotta , this was fix via https://github.com/cms-sw/cmssw/pull/39853 and can be closed now

[2022-11-29 14:44] perrotta commented on #39737
Thank you @smuzaffar for adding the reference to the fix!
Let close, then.

[2022-11-29 14:44] #39737 closed

[2022-11-29 14:49] makortel commented on #39754
Sure

[2022-11-29 14:53] makortel commented on #37488
Thanks @spigad, we can close the issue then.

[2022-11-29 14:53] makortel commented on #37488
+core

[2022-11-29 14:53] makortel commented on #37488
@cmsbuild, please close

[2022-11-29 14:53] #37488 closed

[2022-11-29 14:53] cmsbuild commented on #37488
This issue is fully signed and ready to be closed.

[2022-11-29 14:54] makortel commented on #40174
assign reconstruction

FYI @cms-sw/hlt-l2 @cms-sw/tracking-pog-l2

[2022-11-29 14:54] cmsbuild commented on #40174
New categories assigned: reconstruction

@mandrenguyen,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-29 15:01] Dr15Jones commented on #40090
So I see another problem stemming from the same case where `aTrack->GetCreatorProcess()` returns a nullptr. This time the segmentation fault happened in `StackingAction::isItPrimaryDecayProductOrConversion`

https://github.com/cms-sw/cmssw/blob/34601f933a467546074cbbbb92d14c46f36eadc2/SimG4Core/Application/src/StackingAction.cc#L441-L446

with the call stack
[code]

The weird thing is I added a ch

[2022-11-29 15:02] rappoccio commented on #39987
It looks like we can close this now, thanks everyone!

[2022-11-29 15:02] #39987 closed

[2022-11-29 15:05] rappoccio commented on #39338
Fixed last month, can close.

[2022-11-29 15:05] #39338 closed

[2022-11-29 15:15] makortel opened #40176 "[ASAN] heap-buffer-overflow in L2_clustering()"
In CMSSW_13_0_ASAN_X_2022-11-28-1100 workflow 21034.114 step 2 ASAN reports
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc11/CMSSW_13_0_ASAN_X_2022-11-28-1100/pyRelValMatrixLogs/run/21034.114_TTbar_14TeV+2026D88PU_OTInefficiency10PC+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTriggerPU+RecoGlobalPU+HARVESTGlobalPU/step2_TTbar_14TeV+2026D88PU_OTInefficiency10PC+TTbar_14TeV_Tu

[2022-11-29 15:15] cmsbuild commented on #40176
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-29 15:15] makortel commented on #40176
assign l1

[2022-11-29 15:15] cmsbuild commented on #40176
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-29 15:16] Dr15Jones commented on #40090
So something very strange is happening here. Earlier in `StackingAction::ClassifyNewTrack` we have

https://github.com/cms-sw/cmssw/blob/34601f933a467546074cbbbb92d14c46f36eadc2/SimG4Core/Application/src/StackingAction.cc#L180

so if `aTrack->GetCreatorProcess()` is nullptr, we should have processed that `if` block and never reached

https://github.com/cms-sw/cmssw/blob/34601f933a467546074cbbbb92d

[2022-11-29 15:19] Dr15Jones commented on #40090
It seems to me like something is overwriting the values associated with `aTrack`. Is it possible that `aTrack` was actually deleted before this call happened?

[2022-11-29 15:22] mandrenguyen commented on #36590
+reconstruction
#38026 addressed this issue

[2022-11-29 15:22] mandrenguyen commented on #36590
Closed #36590 as completed.

[2022-11-29 15:31] civanch commented on #40090
@Dr15Jones , I agree that the extra check which I recently introduced should not be added in this form, because process limiting the step is check earlier.

G4Track containers are stored inside memory via G4Allocator, new and delete are done by the G4Allocator. Track, which is deleted should not come to StackingAction.

So, the memory is corrupted in another way. Theoretical question: is it correc

[2022-11-29 15:36] dan131riley commented on #40090
Yesterday's UBSAN IB:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/el8_amd64_gcc11/CMSSW_13_0_UBSAN_X_2022-11-28-1100/pyRelValMatrixLogs/run/140.0_HydjetQ_B12_5020GeV_2011+HydjetQ_B12_5020GeV_2011+DIGIHI2011+RECOHI2011+HARVESTHI2011/step1_HydjetQ_B12_5020GeV_2011+HydjetQ_B12_5020GeV_2011+DIGIHI2011+RECOHI2011+HARVESTHI2011.log
[code]
which says line 221,
https://github.com/cms-sw/cmssw/blob/8

[2022-11-29 15:38] dan131riley commented on #40090
Yes, it's perfectly fine.  Optimization doesn't change the ABI, and that's all that matters.  Would be a disaster if different optimization levels were incompatible.

[2022-11-29 15:40] makortel opened #40177 "LTO build failure in Eigen on ppc64le with gcc11"
The LTO build fails on ppc64le with gcc11 in Eigen code called from `RecoPixelVertexing/PixelTrackFitting` package with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/el8_ppc64le_gcc11/CMSSW_13_0_LTO_X_2022-11-28-2300/RecoPixelVertexing/PixelTrackFitting

[2022-11-29 15:40] makortel commented on #40177
assign core

[2022-11-29 15:41] cmsbuild commented on #40177
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-29 15:44] mandrenguyen commented on #35758
+reconstruction
Loopers were disabled in pp_on_* as the PR title says.
I don't think it makes sense to revisit earlier ion running periods than 2018

[2022-11-29 15:45] Dr15Jones commented on #40090
So the UBSAN report could explain the later crash I see as the call on line 222 `track->SetCreatorProcess(proc)` would set the creator process to `nullptr` and then later in the function when it calls `StackingAction::isItPrimaryDecayProductOrConversion` that would lead to a crash.

[2022-11-29 15:45] cmsbuild commented on #35758
This issue is fully signed and ready to be closed.

[2022-11-29 15:45] smuzaffar commented on #40177
@makortel , I think this might be related to a GCC bug which is fixed for `GCC11/12` branches but not for `GCC 11.2.1/11.3.0`

- https://bugzilla.redhat.com/show_bug.cgi?id=1996330
- https://gcc.gnu.org/bugzilla/show_bug.cgi?id=102059

[2022-11-29 15:45] makortel commented on #40177
Seems that pybind11 encountered a similar issue https://github.com/pybind/pybind11/issues/3528, their solution was to disable LTO for ppc64le (and mips64).

[2022-11-29 15:46] mandrenguyen commented on #35758
Closed #35758 as completed.

[2022-11-29 15:46] mmusich commented on #35758
please close
   * see https://github.com/cms-sw/cmssw/issues/35758#issuecomment-1330850189

[2022-11-29 15:47] #35758 closed

[2022-11-29 15:48] smuzaffar commented on #40090
While testing GCC11/LTO for simulation jobs I also noticed that MinBias (with 16 threads) and TTBar (for 8 threads) always crash with error
[code]

[2022-11-29 15:49] civanch commented on #40090
I will try to revisit the code.

[2022-11-29 16:02] makortel commented on #40177
Thanks @smuzaffar, that looks indeed related. https://gcc.gnu.org/bugzilla/show_bug.cgi?id=102059#c35 lists some workarounds for earlier GCC releases, but I have not digested them if they'd be useful for us.

[2022-11-29 16:06] smuzaffar commented on #40177
I think the patch https://gcc.gnu.org/git/gitweb.cgi?p=gcc.git;h=2fb654f77d5292864ef57040f7bc01d7a975f6d9 is what we need, I am going to discuss this during core meeting today.

[2022-11-29 16:11] smuzaffar commented on #40177
I will check if adding `-mno-htm -mno-power8-fusion` for ppc64le/lto works ( https://gcc.gnu.org/bugzilla/show_bug.cgi?id=102059#c9 ) . This will avoid rebuilding full software stack

[2022-11-29 17:28] civanch commented on #40090
@Dr15Jones , @dan131rilly, is it possible to check if #40180 improve the situation. I cannot do this promptly.

[2022-11-29 18:10] missirol commented on #40174
Let me add some info, since I don't think this is the first occurrence of this HLT crash this year (should have opened an issue a while back).

  - Similar crashes occurred in the following runs (and maybe more runs I missed): 356945 (Aug-6, 20 crashes), 357611 (Aug-17, 33 crashes), 357754 (Aug-21, 19 crashes), 360874 (Oct-21, 3 crashes), and now 362720 (Nov-26, 7 crashes). One of these crashes wa

[2022-11-29 19:12] makortel commented on #40174
Thanks @missirol. So in all cases in the log file the crashing module is `HitPairEDProducer:hltDisplacedhltIter4PFlowPixelLessHitDoubletsForTau`.

I guess the crash occurs inside this `std::sort()`
https://github.com/cms-sw/cmssw/blob/830c070592d91b7799eb39e1a3a15b232052ab61/RecoTracker/TkHitPairs/src/RecHitsSortedInPhi.cc#L27
with the `HitLessPhi` being
https://github.com/cms-sw/cmssw/blob/830c07

[2022-11-29 21:23] mandrenguyen commented on #36590
please close

[2022-11-29 21:24] #36590 closed

[2022-11-29 21:25] mandrenguyen commented on #38890
please close

[2022-11-29 21:25] mandrenguyen commented on #38201
please close

[2022-11-29 21:26] #38201 closed

[2022-11-29 21:26] mandrenguyen commented on #37973
please close

[2022-11-29 21:26] #37973 closed

[2022-11-29 21:36] smuzaffar commented on #40177
I tried  `-mno-htm -mno-power8-fusion` flags [here](https://github.com/cms-sw/cmsdist/pull/8207) but now we hit an other issue which is also report here https://gcc.gnu.org/bugzilla/show_bug.cgi?id=102059#c21 . I would suggest to lets disable LTO for Power builds and re-enable when we move to newer compiler ( latest gcc 11/12)

[2022-11-30 01:19] makortel commented on #40177
Darn. I agree with disabling LTO for now.

[2022-11-30 10:11] mandrenguyen commented on #31113
+reconstruction
There are no more mentions of Geometry_cff in reco packages

[2022-11-30 11:43] smuzaffar commented on #40090
@civanch , I have tested this for LTO builds and the tests (TTbar with 8 threads and MinBias 16 threads) which were failing before work now.

[2022-11-30 17:31] Dr15Jones opened #40205 "DDG4Builder reports different geometry builder order between single threaded jobs"
I ran a simple single threaded job which is generating MinBias. I turned on full INFO dump in MessageLogger and I did a diff on the output. I was surprised to see that the dump coming from `DDG4Builder` was reporting items in different orders.

one job had
[code]

a following job had
[code]

It looks like both jobs eventually process the same items, just not in the same order.

[2022-11-30 17:32] Dr15Jones commented on #40205
assign simulation, geometry

[2022-11-30 17:32] cmsbuild commented on #40205
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-30 23:14] makortel commented on #40014
I don't see it failing anymore (in 13_0_X or 12_6_X), so maybe it was a transient error or got fixed somehow?

[2022-11-30 23:34] smuzaffar commented on #40014
This test was introduced to make sure we have the correct Oracle OCCI lib ( build with gcc 5+ i.e with new GCC C++11 ABI). We have not changed Oracle or test code itself. So no idea why it failed. May be bad tnsname.ora on system. Any way, look like this has been fixed ( no idea how ) :-)

There is no need to keep this issue any more, I am closing it now

[2022-11-30 23:34] #40014 closed