[2016-07-21 11:20] cmsbuild commented on #15247
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc493/745
Some tests

[2016-07-21 12:04] cmsbuild commented on #15247
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc493/745

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-21 13:45] davidlt commented on #15248
@vgvassilev if we use `-Xclang -fmodules-local-submodule-visibility` we get:
[code]

[2016-07-21 13:48] cmsbuild commented on #15247
The build has finished sucessfully for the architecture slc6_amd64_gcc600 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc600/748
Some tests

[2016-07-21 14:00] davidlt commented on #15248
Correction, same happens even if I don't use `-Xclang -fmodules-local-submodule-visibility`. I have seen similar happening with `std::shared_ptr` and others. We also have seen issues with redefinitions of every type in `pthread.h` which I couldn't reproduce again for now.

[2016-07-21 14:39] cmsbuild commented on #15247
The tests have finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc600/748

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-21 15:54] cmsbuild commented on #15247
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc530/746
Some tests

[2016-07-21 15:59] cmsbuild commented on #15247
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc7_amd64_gcc530/743
Some tests

[2016-07-21 16:48] cmsbuild commented on #15247
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc530/746

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-21 17:06] cmsbuild commented on #15247
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc7_amd64_gcc530/743

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-21 18:30] davidlange6 commented on #15247
upload all

On 21 Jul 2016, at 19:06, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc7_amd64_gcc530/743

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you

[2016-07-21 18:31] cmsbuild commented on #15247
Queing Jenkins upload for slc6_amd64_gcc493

[2016-07-21 18:31] cmsbuild commented on #15247
Queing Jenkins upload for slc6_amd64_gcc530

[2016-07-21 18:31] cmsbuild commented on #15247
Queing Jenkins upload for slc6_amd64_gcc600

[2016-07-21 18:31] cmsbuild commented on #15247
Queing Jenkins upload for slc7_amd64_gcc530

[2016-07-21 18:31] cmsbuild commented on #15247
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/477/console

[2016-07-21 18:31] cmsbuild commented on #15247
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/478/console

[2016-07-21 18:31] cmsbuild commented on #15247
The upload has started for slc6_amd64_gcc600 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/479/console

[2016-07-21 18:31] cmsbuild commented on #15247
The upload has started for slc7_amd64_gcc530 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/480/console

[2016-07-21 19:05] cmsbuild commented on #15247
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc493/477
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-21 19:29] cmsbuild commented on #15247
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc7_aarch64_gcc530/744
Some t

[2016-07-21 19:29] cmsbuild commented on #15247
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-07-21 19:30] cmsbuild commented on #15247
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/481/console

[2016-07-21 19:31] cmsbuild commented on #15247
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre9/slc6_amd64_gcc493/721/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-07-21 19:36] cmsbuild commented on #15247
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre9-slc7_amd64_gcc530/480
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-21 20:02] cmsbuild commented on #15247
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre9/slc7_amd64_gcc530/722/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-07-21 20:10] cmsbuild commented on #15247
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc600/479
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-21 20:27] cmsbuild commented on #15247
The installation has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre9/slc6_amd64_gcc600/723/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-07-21 20:48] cmsbuild commented on #15247
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc530/478
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-21 21:07] cmsbuild commented on #15247
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre9/slc6_amd64_gcc530/724/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-07-21 21:19] cmsbuild commented on #15247
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre9-slc7_aarch64_gcc530/481
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-21 21:20] cmsbuild commented on #15247
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc7_aarch64_gcc530/744

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-22 05:37] davidlange6 commented on #15247
release-notes

On 21 Jul 2016, at 23:21, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_aarch64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc7_aarch64_gcc530/744

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this beca

[2016-07-22 05:39] cmsbuild commented on #15247
Generating release notes since CMSSW_8_1_0_pre8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-07-22 05:39] cmsbuild commented on #15247
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre9 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc6_amd64_gcc600
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_1_0_pre8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre9

Cheers,
cms-bo

[2016-07-22 05:45] cmsbuild commented on #15247
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre9

[2016-07-22 17:16] smuzaffar opened #15265 "Build CMSSW_8_1_0_pre9_Geant4102"
Geant4 10.02.p02 changes are merged for CMSSW_8_1_X
- https://github.com/cms-sw/cmsdist/pull/2408
- https://github.com/cms-sw/cmssw/pull/15257

There is CMSSW_8_1_X_2016-07-22-2000 IB based on above.

[2016-07-22 17:16] cmsbuild commented on #15265
No architecures to build found for CMSSW_8_1_0_pre9_Geant4102. Please check that you entered a valid release name or that the IBs are currently enabled for CMSSW_8_1_Geant4102_X

[2016-07-22 17:28] cmsbuild commented on #15265
No architecures to build found for CMSSW_8_1_0_pre9_Geant4102. Please check that you entered a valid release name or that the IBs are currently enabled for CMSSW_8_1_X

[2016-07-22 17:29] cmsbuild commented on #15265
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-07-22 17:36] cmsbuild commented on #15265
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-07-22 20:35] smuzaffar commented on #15265
+1

[2016-07-22 20:35] cmsbuild commented on #15265
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre9_Geant4102. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-07-22 20:35] cmsbuild commented on #15265
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc493, slc6_amd64_gcc530, slc6_amd64_gcc600, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2016-07-22 20:36] cmsbuild commented on #15265
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/751/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-22 20:36] cmsbuild commented on #15265
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/749/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-22 20:37] cmsbuild commented on #15265
The build has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/750/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-22 20:37] cmsbuild commented on #15265
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/752/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-22 23:20] cmsbuild commented on #15265
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9_Geant4102-slc6_amd64_gcc493/749

[2016-07-23 00:03] cmsbuild commented on #15265
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9_Geant4102-slc6_amd64_gcc493/749

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-23 01:54] cmsbuild commented on #15265
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9_Geant4102-slc6_amd64_gcc530/752

[2016-07-23 02:45] cmsbuild commented on #15265
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9_Geant4102-slc6_amd64_gcc530/752

Tests results:
14 14 13 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-23 06:03] smuzaffar commented on #15265
upload all

[2016-07-23 06:03] cmsbuild commented on #15265
Queing Jenkins upload for slc6_amd64_gcc493

[2016-07-23 06:03] cmsbuild commented on #15265
Queing Jenkins upload for slc6_amd64_gcc530

[2016-07-23 06:03] cmsbuild commented on #15265
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/482/console

[2016-07-23 06:03] cmsbuild commented on #15265
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/483/console

[2016-07-23 06:33] cmsbuild commented on #15265
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre9_Geant4102-slc6_amd64_gcc493/482
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-23 06:58] cmsbuild commented on #15265
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre9_Geant4102/slc6_amd64_gcc493/725/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that y

[2016-07-23 07:02] cmsbuild commented on #15265
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre9_Geant4102-slc6_amd64_gcc530/483
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-23 07:10] smuzaffar commented on #15265
release-notes since CMSSW_8_1_0_pre9

[2016-07-23 07:11] cmsbuild commented on #15265
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-07-23 07:24] cmsbuild commented on #15265
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre9_Geant4102/slc6_amd64_gcc530/726/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that y

[2016-07-23 07:24] cmsbuild commented on #15265
Generating release notes since CMSSW_8_1_0_pre9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-07-23 07:24] cmsbuild commented on #15265
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre9_Geant4102 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_1_0_pre9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre9_Geant4102

Geant4 10.02.p02 changes are m

[2016-07-23 07:25] cmsbuild commented on #15265
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre9_Geant4102

[2016-07-23 07:29] smuzaffar commented on #15265
@davidlange6 , 810pre9_geant4102 release is available now. Feel free to announce it.

[2016-07-23 08:04] davidlange6 commented on #15265
Thanks!

[2016-07-23 19:21] dan131riley commented on #15145
I'm not seeing any pattern developing...

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-22-2300/pyRelValMatrixLogs/run/4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC/step2_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC.log

Something I find surprising...the

A fatal system signal has occurred: segmentati

[2016-07-23 19:28] dan131riley commented on #15145
Same thing, 6 events processed after segfault:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-21-1100/pyRelValMatrixLogs/run/1307.0_CosmicsSPLoose_UP15+CosmicsSPLoose_UP15INPUT+DIGICOS_UP15+RECOCOS_UP15+ALCACOS_UP15+HARVESTCOS_UP15/step3_CosmicsSPLoose_UP15+CosmicsSPLoose_UP15INPUT+DIGICOS_UP15+RECOCOS_UP15+ALCACOS_UP15+HARVESTCOS_UP15.log

most thread

[2016-07-24 03:38] cmsbuild commented on #15247
The cleanup has started for slc7_aarch64_gcc530

[2016-07-24 03:38] cmsbuild commented on #15247
The cleanup has started for slc6_amd64_gcc600

[2016-07-24 03:38] cmsbuild commented on #15247
The cleanup has started for slc6_amd64_gcc493

[2016-07-24 03:38] cmsbuild commented on #15247
The cleanup has started for slc6_amd64_gcc530

[2016-07-24 03:38] cmsbuild commented on #15247
The cleanup has started for slc6_amd64_gcc600

[2016-07-24 03:38] cmsbuild commented on #15247
The cleanup has started for slc7_amd64_gcc530

[2016-07-24 03:39] #15247 closed

[2016-07-24 03:48] cmsbuild commented on #15247
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre9-slc7_amd64_gcc530/443

[2016-07-24 11:02] davidlange6 opened #15269 "Build CMSSW_5_3_33"
for evtgen dec files

[2016-07-24 11:02] cmsbuild commented on #15269
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-07-24 11:03] davidlange6 commented on #15269
+1

[2016-07-24 11:03] cmsbuild commented on #15269
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_33. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2016-07-24 11:03] cmsbuild commented on #15269
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-07-24 11:40] cmsbuild commented on #15269
The build has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/753/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-24 13:45] davidlange6 opened #15270 "Build CMSSW_8_0_15"

[2016-07-24 13:45] cmsbuild commented on #15270
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-07-24 13:48] davidlange6 commented on #15270
+1

[2016-07-24 13:48] cmsbuild commented on #15270
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_15. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-07-24 13:48] cmsbuild commented on #15270
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-07-24 13:49] cmsbuild commented on #15270
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/754/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-24 13:49] cmsbuild commented on #15270
The build has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/755/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-24 13:50] cmsbuild commented on #15270
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/756/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-24 13:57] cmsbuild commented on #15269
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_33-slc6_amd64_gcc472/753
Some tests ( r

[2016-07-24 14:38] cmsbuild commented on #15269
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_33-slc6_amd64_gcc472/753

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2016-07-24 16:05] cmsbuild commented on #15270
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_15-slc6_amd64_gcc493/754
Some tests ( r

[2016-07-24 16:35] cmsbuild commented on #15270
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_15-slc6_amd64_gcc493/754

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-24 17:13] cmsbuild commented on #15270
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_15-slc6_amd64_gcc530/756
Some tests ( r

[2016-07-24 17:35] cmsbuild commented on #15270
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_15-slc6_amd64_gcc530/756

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-24 18:14] davidlange6 commented on #15269
abort - seems the cmsdist forward ports don't work the way I think they do in 53x..

[2016-07-24 18:15] davidlange6 commented on #15270
upload all

[2016-07-24 18:16] cmsbuild commented on #15270
Queing Jenkins upload for slc6_amd64_gcc493

[2016-07-24 18:16] cmsbuild commented on #15270
Queing Jenkins upload for slc6_amd64_gcc530

[2016-07-24 18:16] cmsbuild commented on #15270
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/484/console

[2016-07-24 18:16] cmsbuild commented on #15270
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/485/console

[2016-07-24 18:23] davidlange6 commented on #15269
abort

[2016-07-24 18:23] cmsbuild commented on #15269
Deleting CMSSW_5_3_33:

  -Release successfully deleted

  -cmssw tag CMSSW_5_3_33 successfully deleted.

  -cmsdist tag REL/CMSSW_5_3_33/slc6_amd64_gcc472 successfully deleted.

You must create a new issue to start over the build.

[2016-07-24 18:24] #15269 closed

[2016-07-24 18:24] davidlange6 opened #15271 "Build CMSSW_5_3_33"

[2016-07-24 18:25] cmsbuild commented on #15271
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-07-24 18:27] davidlange6 commented on #15271
+1

[2016-07-24 18:27] cmsbuild commented on #15271
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_33. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2016-07-24 18:27] cmsbuild commented on #15271
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-07-24 18:29] cmsbuild commented on #15271
The build has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/757/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-24 18:38] cmsbuild commented on #15270
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_15-slc6_amd64_gcc493/484
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-24 18:58] cmsbuild commented on #15270
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_15-slc6_amd64_gcc530/485
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-24 18:58] cmsbuild commented on #15270
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_15/slc6_amd64_gcc493/727/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-24 19:16] cmsbuild commented on #15270
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_15/slc6_amd64_gcc530/728/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-24 19:39] cmsbuild commented on #15270
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_15-slc7_amd64_gcc530/755
Some tests ( r

[2016-07-24 19:41] cmsbuild commented on #15270
Queing Jenkins upload for slc7_amd64_gcc530

[2016-07-24 19:42] cmsbuild commented on #15270
The upload has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/486/console

[2016-07-24 19:48] davidlange6 commented on #15270
release-notes

On 24 Jul 2016, at 21:17, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_15/slc6_amd64_gcc530/728/
To generate the release notes for the release write "release-notes since <previous-release>

[2016-07-24 19:48] cmsbuild commented on #15270
Generating release notes since CMSSW_8_0_14.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-07-24 19:48] cmsbuild commented on #15270
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_15 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_14 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_15

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2016-07-24 19:50] cmsbuild commented on #15270
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_15

[2016-07-24 19:59] cmsbuild commented on #15270
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_15-slc7_amd64_gcc530/486
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-24 20:15] cmsbuild commented on #15270
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_15/slc7_amd64_gcc530/729/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-24 20:18] cmsbuild commented on #15270
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_15-slc7_amd64_gcc530/755

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-24 20:48] cmsbuild commented on #15271
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_33-slc6_amd64_gcc472/757
Some tests ( r

[2016-07-24 21:30] cmsbuild commented on #15271
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_33-slc6_amd64_gcc472/757

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2016-07-25 05:24] cmsbuild commented on #15265
The cleanup has started for slc6_amd64_gcc493

[2016-07-25 05:24] cmsbuild commented on #15265
The cleanup has started for slc6_amd64_gcc530

[2016-07-25 05:24] #15265 closed

[2016-07-25 05:25] cmsbuild commented on #15265
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre9_Geant4102-slc6_amd64_gcc493/444

[2016-07-25 05:26] cmsbuild commented on #15265
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre9_Geant4102-slc6_amd64_gcc530/445

[2016-07-25 05:29] davidlange6 commented on #15271
upload all

[2016-07-25 05:32] cmsbuild commented on #15271
Queing Jenkins upload for slc6_amd64_gcc472

[2016-07-25 05:33] cmsbuild commented on #15271
The upload has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/487/console

[2016-07-25 06:00] cmsbuild commented on #15271
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_33-slc6_amd64_gcc472/487
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-25 06:19] cmsbuild commented on #15271
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_33/slc6_amd64_gcc472/730/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-25 06:36] davidlange6 commented on #15271
release-notes

On Jul 25, 2016, at 8:19 AM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc472
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_33/slc6_amd64_gcc472/730/
To generate the release notes for the release write "release-notes since <previous-relea

[2016-07-25 06:38] cmsbuild commented on #15271
Generating release notes since CMSSW_5_3_32_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-07-25 06:38] cmsbuild commented on #15271
You can use this template for announcing the release:

Hi all,

The production release CMSSW_5_3_33 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_32_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_33

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2016-07-25 06:39] cmsbuild commented on #15271
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_33

[2016-07-25 14:18] davidlt commented on #15248
You can find `care` binary here http://davidlt.web.cern.ch/davidlt/vault/proot/care

I have used it with the failing command:
[code]

Output
[code]

Got 37M partial rootfs tarball with 1278 files touched in this execution. 483 headers are found in this tarball.

You can grab it from: http://davidlt.web.cern.ch/davidlt/vault/cppmodules_partial_rootfs.tar.gz

[2016-07-25 15:18] vgvassilev commented on #15248
@davidlt yes I can reproduce the issue outside now. Thanks a lot!

[2016-07-25 16:42] wddgit opened #15278 "Old style configuration support needs to be removed"
The python code in FWCore/ParameterSet still contains code
to support the old style configuration language (the configuration
language CMS used before moving to python almost 10 years ago).
We should clean this up and remove all this code.

[2016-07-25 16:44] cmsbuild commented on #15278
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-25 18:20] Dr15Jones commented on #15278
assign core

[2016-07-25 18:21] cmsbuild commented on #15278
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-26 13:25] makortel commented on #15151
@slava77

I've investigated a bit (too much?), and it is not (just) double->float. I suspect moving away from trigonometry in 94053a02788099732f9160de3195ee2779f3f82b (of #14247) would be the cause. Testing on the parent commit shows no difference wrt. baseline, on the commit does show, but reverting the commit at the end also still shows the difference. If we can indeed live with the differences,

[2016-07-26 13:33] slava77 commented on #15151
On 7/26/16 6:25 AM, Matti Kortelainen wrote:

Let's see if the timing gains are significant.
Below 0.5%, I think, is going to  invalidate the backport.

[2016-07-26 13:49] makortel commented on #15151
@slava77 Ok, I filed a PR #15288 to enable testing.

[2016-07-26 15:59] ianna opened #15291 "LHEReader valgrind Report"
valgrind reports the following issues while running 512.0 workflow:

– Invalid read of size 1 - reported 8 times at begin job
– Invalid read of size 8 - reported 5 times at end job
– Memory loss in using transcode and serialisation

https://indico.cern.ch/event/559661/contributions/2258177/attachments/1315640/1970784/Xerces_31_Migration_Status_26.07.2016.pdf

[2016-07-26 15:59] cmsbuild commented on #15291
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-26 16:51] Dr15Jones commented on #15291
assign generators

[2016-07-26 16:52] cmsbuild commented on #15291
New categories assigned: generators

@thuer,@covarell,@perrozzi,@govoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-26 17:53] cmsbuild commented on #15270
The cleanup has started for slc6_amd64_gcc493

[2016-07-26 17:53] cmsbuild commented on #15270
The cleanup has started for slc6_amd64_gcc530

[2016-07-26 17:53] cmsbuild commented on #15270
The cleanup has started for slc7_amd64_gcc530

[2016-07-26 17:53] #15270 closed

[2016-07-26 17:54] cmsbuild commented on #15270
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_15-slc6_amd64_gcc493/446

[2016-07-26 17:55] cmsbuild commented on #15270
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_15-slc6_amd64_gcc530/447

[2016-07-26 18:00] cmsbuild commented on #15270
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_15-slc7_amd64_gcc530/448

[2016-07-27 04:41] cmsbuild commented on #15271
The cleanup has started for slc6_amd64_gcc472

[2016-07-27 04:41] #15271 closed

[2016-07-27 04:42] cmsbuild commented on #15271
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_33-slc6_amd64_gcc472/449

[2016-07-27 11:05] smuzaffar opened #15304 "[81X] Fix workflow 4.76"
I confirm that by using
[code]
workflow 4.76 runs fine. I see that current
[code]
comes from
[code]

but updating HLTDSKIM to have reRECO means all 4.xx workflows will be dropping reRECO instead of RECO and ends up failing e.g 4.37 then fails with similar message

[code]

@davidlange6 , any idea how to avoid this?

[2016-07-27 11:06] cmsbuild commented on #15304
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-27 11:53] #15239 closed

[2016-07-27 12:04] smuzaffar commented on #15188
Both
/RelValTTbar_13/CMSSW_8_0_0-80X_mcRun2_asymptotic_v4-v1/GEN-SIM-RECO#f8ba9fec-da12-11e5-a23c-02163e016cc2
/MinimumBias/Run2011A-v1/RAW#f6f3c7cc-7fbf-11e0-b519-003048caaace

and under IB RelVal and available at CERN. Can we close this issue?

[2016-07-27 12:04] #14806 closed

[2016-07-27 12:05] mmusich commented on #15188
Hi @smuzaffar I guess so, thanks!

[2016-07-27 12:05] #14940 closed

[2016-07-27 12:05] #14921 closed

[2016-07-27 12:05] #14808 closed

[2016-07-27 12:06] #14807 closed

[2016-07-27 12:06] #14805 closed

[2016-07-27 12:06] #14804 closed

[2016-07-27 12:07] #14803 closed

[2016-07-27 12:07] #14644 closed

[2016-07-27 12:07] #14334 closed

[2016-07-27 12:07] #14329 closed

[2016-07-27 12:08] #14259 closed

[2016-07-27 12:08] #14252 closed

[2016-07-27 12:08] #14216 closed

[2016-07-27 12:08] #14113 closed

[2016-07-27 12:09] #13669 closed

[2016-07-27 12:09] #13286 closed

[2016-07-27 12:09] #12949 closed

[2016-07-27 12:10] #15188 closed

[2016-07-27 12:11] smuzaffar commented on #15161
assign core
@iahmad-khan , can you please take care of it?

[2016-07-27 12:11] cmsbuild commented on #15161
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-27 12:14] #14870 closed

[2016-07-27 12:15] smuzaffar commented on #14821
+1

[2016-07-27 12:15] #14821 closed

[2016-07-27 12:15] cmsbuild commented on #14821
This issue is fully signed and ready to be closed.

[2016-07-27 12:20] slava77 commented on #15304
On 7/27/16 4:05 AM, Malik Shahzad Muzaffar wrote:

Just add both RECO and reRECO. The logic in the setup of these workflows
is to drop earlier "reco" of all kinds.

[2016-07-27 12:27] govoni commented on #15291
@mkirsano please add also Alexander, I cannot find his github ID

[2016-07-27 12:51] smuzaffar commented on #15161
+1
done here https://github.com/cms-sw/cms-bot/pull/726

[2016-07-27 12:51] #15161 closed

[2016-07-27 12:51] cmsbuild commented on #15161
This issue is fully signed and ready to be closed.

[2016-07-27 12:58] govoni commented on #15291
@ agrohsje

[2016-07-27 12:58] govoni commented on #15291
@agrohsje

[2016-07-27 14:10] wddgit commented on #14242
PR #14896 was closed and never approved. This was really fixed by PR #15198, which was merged into 8_1_X on 27 July 2016.

[2016-07-27 14:11] Dr15Jones commented on #14242
+1

[2016-07-27 14:11] cmsbuild commented on #14242
This issue is fully signed and ready to be closed.

[2016-07-27 15:56] Dr15Jones opened #15306 "Experimental Docker container for CMSSW over CVMFS"
The following repository contains the information needed to start a Docker container which can access CMSSW over CVMFS

https://github.com/Dr15Jones/cms-cvmfs-docker

[2016-07-27 15:57] Dr15Jones commented on #15306
@smuzaffar

[2016-07-27 15:57] cmsbuild commented on #15306
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-27 15:57] Dr15Jones commented on #15306
assign core

[2016-07-27 15:57] cmsbuild commented on #15306
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-27 15:57] Dr15Jones commented on #15306
This was discussed at the 2016/07/26 Core meeting

[2016-07-27 20:24] kpedro88 commented on #14575
@davidlt is this ever going to be fixed? It has not gotten less irritating over time.

[2016-07-27 20:26] kpedro88 commented on #14954
@mmusich @ggovi @abdoulline:

#15061 has been merged for a couple of weeks. Whose responsibility is removing the DB records from the GTs, so that we can then remove the CondFormat?

[2016-07-28 06:04] abdoulline commented on #14954
@mmusich @ggovi

(1)
whether HCAL (Walter) should send an appropriate request to remove the
rcd records from _all_ the 81X GTs (so far we did send requests only
to add something)

(2)
or Marco and/or Giacomo you would do it on you own at your earliest
convenience?

On Wed, 27 Jul 2016, Kevin Pedro wrote:

[2016-07-28 06:49] davidlt commented on #14575
@kpedro88 it should be fixed in slc6_amd64_gcc600, can you verify that?

[2016-07-28 07:19] davidlange6 opened #15314 "Build CMSSW_8_0_16"

[2016-07-28 07:20] cmsbuild commented on #15314
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-07-28 07:23] mmusich commented on #14954
@abdoulline, @kpedro88,
Walter can place a formal request (maybe for book-keeping), but we are aware of this.
We'll work on that and provide updated Global Tags with the desired removal (among other features). Not sure, though, I can make it in time for pre10 (due Aug 1st).

[2016-07-28 07:24] mmusich commented on #14954
@smuzaffar can you please assign this issue to category `alca`?

[2016-07-28 07:27] davidlange6 commented on #15314
+1

[2016-07-28 07:28] cmsbuild commented on #15314
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_16. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-07-28 07:28] cmsbuild commented on #15314
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-07-28 07:29] cmsbuild commented on #15314
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/758/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-28 07:29] cmsbuild commented on #15314
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/759/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-28 07:30] cmsbuild commented on #15314
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/760/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-28 07:41] smuzaffar commented on #14954
assign alca

[2016-07-28 07:41] cmsbuild commented on #14954
New categories assigned: alca

@mmusich,@cerminar,@franzoni,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-28 09:56] cmsbuild commented on #15314
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_16-slc6_amd64_gcc493/758
Some tests ( r

[2016-07-28 10:25] cmsbuild commented on #15314
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_16-slc6_amd64_gcc493/758

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-28 11:25] cmsbuild commented on #15314
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_16-slc6_amd64_gcc530/759
Some tests ( r

[2016-07-28 11:48] cmsbuild commented on #15314
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_16-slc6_amd64_gcc530/759

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-28 12:38] mmusich commented on #14954
@kpedro88 turns out that we already cleaned up the Global Tags (back in Nov 2014) in this PR:

https://github.com/cms-sw/cmssw/pull/6224

in `CMSSW_7_3_0_pre2` (!!).

[code]
followed by:

[code]

will convince you, there is nothing there anymore since years.
Please go ahead with your Summer Cleanup.
M.

[2016-07-28 12:39] mmusich commented on #14954
+1

[2016-07-28 12:39] cmsbuild commented on #14954
This issue is fully signed and ready to be closed.

[2016-07-28 13:08] fwyzard commented on #15151
![backport](https://cloud.githubusercontent.com/assets/4069793/17213505/d90d238a-54d4-11e6-9aad-fbca4752e556.png)

Performance and validation results of the various backports and tests, run over 10k events.
A green background indicates no observed differences, while a yellow background indicates differences smaller than 1‰

[2016-07-28 13:59] cmsbuild commented on #15314
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_16-slc7_amd64_gcc530/760
Some tests ( r

[2016-07-28 14:39] cmsbuild commented on #15314
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_16-slc7_amd64_gcc530/760

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-07-28 14:39] abdoulline commented on #14954
Thanks for checking, Marco!
I had the impression I saw it somewhere, but now looking at several GTs I
don't see it indeed.
And now recall it was once discussed with Salvatore Di Guida (in his
quest of unused conditions)..

On Thu, 28 Jul 2016, Marco Musich wrote:

[2016-07-28 14:49] kpedro88 commented on #14954
I will submit a PR soon removing the CondFormat.

[2016-07-28 14:53] kpedro88 commented on #14575
@davidlt yes, I see that it works now in the latest IB with slc6_amd64_gcc600. Is it possible to fix the production architecture version as well?

[2016-07-28 16:16] kpedro88 commented on #14954
#15320 is submitted.

[2016-07-29 08:11] davidlange6 commented on #15314
upload all

[2016-07-29 08:11] cmsbuild commented on #15314
Queing Jenkins upload for slc6_amd64_gcc493

[2016-07-29 08:11] cmsbuild commented on #15314
Queing Jenkins upload for slc6_amd64_gcc530

[2016-07-29 08:11] cmsbuild commented on #15314
Queing Jenkins upload for slc7_amd64_gcc530

[2016-07-29 08:12] cmsbuild commented on #15314
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/488/console

[2016-07-29 08:12] cmsbuild commented on #15314
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/489/console

[2016-07-29 08:12] cmsbuild commented on #15314
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/490/console

[2016-07-29 08:32] cmsbuild commented on #15314
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_16-slc6_amd64_gcc493/488
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-29 08:49] cmsbuild commented on #15314
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_16-slc7_amd64_gcc530/490
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-29 08:51] cmsbuild commented on #15314
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_16/slc6_amd64_gcc493/731/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-29 09:07] cmsbuild commented on #15314
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_16/slc7_amd64_gcc530/732/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-29 09:08] cmsbuild commented on #15314
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_16-slc6_amd64_gcc530/489
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-29 09:22] cmsbuild commented on #15314
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_16/slc6_amd64_gcc530/733/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-29 10:53] davidlange6 commented on #15314
release-notes

On 29 Jul 2016, at 11:22, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_16/slc6_amd64_gcc530/733/
To generate the release notes for the release write "release-notes since <previous-release>

[2016-07-29 10:54] cmsbuild commented on #15314
Generating release notes since CMSSW_8_0_15.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-07-29 10:54] cmsbuild commented on #15314
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_16 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_15 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_16

Cheers,
cms-bot

You can also click <a href="

[2016-07-29 10:55] cmsbuild commented on #15314
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_16

[2016-07-29 12:42] davidlt commented on #14575
@kpedro88 don't have the answer right now. @smuzaffar could you put `5.7-4.20090207` version into DEVEL branch to check if that would resolve the issue?

[2016-07-29 13:25] iahmad-khan commented on #14575
@davidlt shahzad is away untill Friday.
Which spec file you are referring to be changed?  [5.7-4.20090207]

[2016-07-29 13:27] davidlt commented on #14575
@iahmad-khan `ncurses`, but not `ncurses-bootstrap` (leave it as-is).

[2016-07-29 13:39] iahmad-khan commented on #14575
@davidlt there is a version number 5.7 there , 5.7-4.20090207 is not there, should i use 5.7?

[2016-07-29 13:52] davidlt commented on #14575
There is, look at "patch date releases".
They used to be here: ftp://invisible-island.net/ncurses/current
But 5 version is probably under a different directory now.

[2016-07-29 22:09] wddgit commented on #14402
This is fixed by PR #15309

[2016-07-29 22:17] Dr15Jones commented on #14402
+1

[2016-07-29 22:17] cmsbuild commented on #14402
This issue is fully signed and ready to be closed.

[2016-07-30 10:11] vgvassilev commented on #15248
Some debugging aids (suggested by Richard Smith):
  * `-fdiagnostics-show-note-include-stack` will tell you which module a note comes from
  * `#pragma clang __debug dump X` allows you to produce an AST dump from within a source file, so you can see which modules declare a given name
  * `#pragma clang __debug macro M` allows you to dump a macro, which can be useful to see which module(s) export v

[2016-07-31 08:53] cmsbuild commented on #15314
The cleanup has started for slc6_amd64_gcc493

[2016-07-31 08:53] cmsbuild commented on #15314
The cleanup has started for slc6_amd64_gcc530

[2016-07-31 08:53] cmsbuild commented on #15314
The cleanup has started for slc7_amd64_gcc530

[2016-07-31 08:53] #15314 closed

[2016-07-31 08:55] cmsbuild commented on #15314
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_16-slc6_amd64_gcc493/450

[2016-07-31 08:57] cmsbuild commented on #15314
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_16-slc6_amd64_gcc530/451

[2016-07-31 09:02] cmsbuild commented on #15314
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_16-slc7_amd64_gcc530/452

[2016-08-01 12:51] vgvassilev commented on #15248
A flavor of the `unique_ptr` issue is in this bug report: https://llvm.org/bugs/show_bug.cgi?id=28794

[2016-08-01 14:00] Dr15Jones opened #15340 "Allow transient data products to be transfered to SubProcesses"
At the moment, transient data products are inaccessible from a SubProcess if they were created in a parent Process. This was probably intentional since it mimics the behavior of running two different Processes in sequence in two different jobs using an output file as the connection.

However, there is a case where a developer needed to isolate two different Processes to allow different EventSetup

[2016-08-01 14:00] cmsbuild commented on #15340
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-01 14:00] Dr15Jones commented on #15340
assign core

[2016-08-01 14:00] cmsbuild commented on #15340
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-02 14:41] dan131riley commented on #15145
Yet another workflow

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-26-2300/pyRelValMatrixLogs/run/1325.0_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15+ALCATTUP15/step5_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15+ALCATTUP15.log

Thread 5 (Thread 0x7f43d40bf700 (LWP 3803)):
#0  0x0000003fcce0f37d in waitpid () from /lib64/libpthread.so.0

[2016-08-02 16:25] slava77 opened #15353 "make dummy dictionary for GEMCSCLCTDigi"
#14858 removed dictionary for unused class GEMCSCLCTDigi which was produced in a range of releases (in DIGI/L1 emulation). This introduced a nuisance backward incompatibility issue: old files can not be read. The readability can be restored by introducing a dummy implementation of the digi in classes.h and dictionary kept in classes_def.xml

[2016-08-02 16:26] cmsbuild commented on #15353
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-02 21:54] fwyzard commented on #15151
Here are the results of the various backports, compared with CMSSW_8_0_16.

Comparison of the average event processing time over 10k events with pileup ~40, averaged over 56 jobs:
![timing](https://cloud.githubusercontent.com/assets/4069793/17346547/80bc1afc-590b-11e6-99bc-cc086ff38d74.png)

Relative comparison with respect to 8.0.16:
![timing_relative](https://cloud.githubusercontent.com/assets/4

[2016-08-02 22:12] slava77 commented on #15151
On 8/2/16 2:54 PM, Andrea Bocci wrote:

Should we drop 15279 and 15288?
- 15279 leads to changes in reco products. It has 0.5% improvement based
on the plots.
- 15288 shows no differences in jenkins tests. It has 0.4% improvement
based on the plots.

Since 15288 doesn't introduce differences, it would be somewhat harmless
to still backport.
For 15279, I think more strongly that it should be droppe

[2016-08-03 07:24] fwyzard commented on #15151
Hi Slava,
I have compared "all backports" and "all backports except #15279", and the difference in performance is small, less than 1%:

![timing](https://cloud.githubusercontent.com/assets/4069793/17357147/9f426a26-595b-11e6-83a7-3f1e75672eb5.png)
![timing_relative](https://cloud.githubusercontent.com/assets/4069793/17357148/9f43fc92-595b-11e6-80e5-287f1ff877a1.png)

On one hand, the performance i

[2016-08-03 09:11] mmusich commented on #14954
https://github.com/cms-sw/cmssw/pull/15320 is merged. @smuzaffar can we close this item? Thanks

[2016-08-04 15:31] davidlange6 opened #15366 "Build CMSSW_7_1_25"
mostly to pick up new das version

[2016-08-04 15:32] davidlange6 commented on #15366
+1

[2016-08-04 15:35] cmsbuild commented on #15366
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-04 15:35] cmsbuild commented on #15366
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_25. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2016-08-04 15:35] cmsbuild commented on #15366
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-08-04 15:36] cmsbuild commented on #15366
The build has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/761/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-04 18:19] cmsbuild commented on #15366
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_25-slc6_amd64_gcc481/761
Some tests ( r

[2016-08-04 18:36] cmsbuild commented on #15366
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_25-slc6_amd64_gcc481/761

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2016-08-04 18:50] davidlange6 commented on #15366
upload all

On Aug 4, 2016, at 8:36 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc481
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_25-slc6_amd64_gcc481/761

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

—
You are receiving this because you were mentioned.
R

[2016-08-04 18:50] cmsbuild commented on #15366
Queing Jenkins upload for slc6_amd64_gcc481

[2016-08-04 18:52] cmsbuild commented on #15366
The upload has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/491/console

[2016-08-04 19:11] cmsbuild commented on #15366
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_25-slc6_amd64_gcc481/491
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-04 19:41] cmsbuild commented on #15366
The installation has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_25/slc6_amd64_gcc481/734/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-04 21:34] Dr15Jones opened #15369 "Invalid use of AssociationMap lookup"
Trying to debug a reconstruction job which is throwing an exception is severly hampered by the following exception begin caught internally by the module TkConvValidator:

[code]

[2016-08-04 21:35] cmsbuild commented on #15369
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-04 21:38] Dr15Jones commented on #15369
assign dqm

[2016-08-04 21:40] cmsbuild commented on #15369
New categories assigned: dqm

@dmitrijus,@vanbesien you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-04 22:03] Dr15Jones commented on #15369
I was running step 3 of workflow 250202.0

[2016-08-05 14:21] dan131riley opened #15376 "Infinite loop or deadlock, possibly in SiStripDigitizerAlgorithm::accumulateSimHits"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-08-03-1100/pyRelValMatrixLogs/run/202.0_TTbar+TTbarINPUT+DIGIPU1+RECOPU1+HARVEST/step2_TTbar+TTbarINPUT+DIGIPU1+RECOPU1+HARVEST.log

Killed by an external termination signal, with three threads idle.  Possibly an infinite loop in SiStripDigitizerAlgorithm::accumulateSimHits?

[code]

[2016-08-05 14:21] cmsbuild commented on #15376
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-05 14:30] Dr15Jones commented on #15376
I thought the problem was in the timeout from the xrootd request. I got this conclusion since the first timestamp in the log is
[code]
then the last timestamp before the xrootd message is
[code]
and finally the xrootd message timestamp is
[code]
which is approaching 2 hours after the begin of the job.

[2016-08-05 14:30] Dr15Jones commented on #15376
@bbockelm what do you think?

[2016-08-05 14:30] Dr15Jones commented on #15376
assign core

[2016-08-05 14:30] cmsbuild commented on #15376
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-05 14:35] dan131riley commented on #15376
My first thought was also a timeout or deadlock in xrootd; I eventually rejected that theory because none of threads are waiting on xrootd--three of them are idle in the tbb scheduler, and thread 2 isn't waiting at all, which is what lead me to an infinite loop:

Thread 2 (Thread 0x7f665047f700 (LWP 32408)):
#0  0x00007f669d437d29 in SiStripDigitizerAlgorithm::accumulateSimHits(__gnu_cxx::__normal

[2016-08-05 15:29] bbockelm commented on #15376
@dan131riley - could you reformat the original post to used a fixed-sized font (wrap it in three backticks)?  My brain hurts trying to parse the stack traces.

[2016-08-05 15:31] bbockelm commented on #15376
From what I can parse, I don't see anything actively waiting on Xrootd.  It's possible the responses from EOS were quite slow - instead of a deadlock, just hit a timeout.

How reliable is the issue?

[2016-08-05 15:44] dan131riley commented on #15376
Not reliable at all--I don't see any previous issues that look like it.

[2016-08-05 15:45] Dr15Jones commented on #15376
I've seen jobs which timed out before and a number of them I attributed (rightly or wrongly) to EOS being very slow in responding based on the timestamps in the log before and after xrootd messages.

[2016-08-05 15:54] bbockelm commented on #15376
Yeah - it's worth noting that the storage timeouts are pretty dumb: a timeout of, say, 30s gets reset for each individual xrootd operation.  That means anytime the TTreeCache is ineffective, we may trigger lots of individual xrootd operations and really extend the timeout.

Unfortunately, the storage layer has no concept of the relationship between successive reads - that's probably what we'd need

[2016-08-05 18:19] dan131riley commented on #15376
This is the MixingModule, where every thread has its own input file, so there could have been a problem with one EOS connection.  However, these are very fast events, so it is fairly unlikely that we'd just happen to get the stack trace while thread 2 wasn't waiting.  Is it plausible that the xrootd thread got an EINTR when the timeout signal was delivered and somehow managed to recover in time to

[2016-08-05 18:34] bbockelm commented on #15376
Well, certainly the _hope_ is that EINTR doesn't affect any of the observable behavior of the system.  I have no way to prove that though!  I'm more confident that a EINTR resulting in a short read will throw a C++ exception as opposed to returning insufficient data.

@dan131riley - thinking out loud: Java's signal handlers do a _lot_ more than just stack traces.  We could take some inspiration fr

[2016-08-05 20:56] kpedro88 commented on #14895
Currently, a single edit to Eras.py causes checkdeps to suggest 108 dependent packages.

Could this issue at least be assigned to someone?

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones

[2016-08-08 09:51] davidlange6 commented on #14895
@smuzaffar

was thinking about solutions.

One can move the ModifiedChain declarations each into a separate file.

self.Run2_25ns = cms.ModifierChain( self.run2_common, self.run2_25ns_specific, self.stage1L1Trigger )

becomes

from Configuration.Eras.EraRun2_25ns import Run2_25ns
self.Run2_25ns = Run2_25ns

where EraRun2_25ns.py is just

import FWCore.ParameterSet.Config as cms
from EraRun2_common

[2016-08-08 10:59] davidlt commented on #14919
Here is the most recent reply from ROOT team regarding this:

In

  <ioread sourceClass = "HcalDetId" version="[-11]" targetClass="HcalDetId" source="uint32_t DetId::id_;" target="DetId::id_">

The user attempt to specifiy a source **and** a target that are in another (base) class.

Can the rule be applied to DetId or does the 'fix' to the base class member needs to only be done if the actual clas

[2016-08-08 11:17] smuzaffar commented on #14895
@davidlange6, yes checkdeps is still going to checkout all these 108 package (changing EraRun2_25ns.py means Eras.py needs to be re-checked which means every thing depending on Eras.py need to be re-checked)

[2016-08-08 11:23] davidlange6 commented on #14895
ok, thanks - so we need kind of the reverse - a global eras object that then gets used in many places to define the eras - let me try

[2016-08-08 11:46] bsunanda commented on #14919
Hi

How can one schedule it last? Clearly we cannot take the first solution - DetId is base class for too many detectors. Cheers

Sunanda
________________________________
From: davidlt [notifications@github.com]
Sent: 08 August 2016 12:59
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [Error] Warning: IO rule for class HcalDetId data member: DetId::id_ was specified as

[2016-08-08 11:50] davidlt commented on #14919
@bsunanda the last example does this by not specifying target rule. Could you try the last example and see if it resolves the issue (warning is gone) and functions as expected?

[2016-08-08 12:51] davidlange6 commented on #14895
thinking more I see two ways - any preferences?

1) Turn Eras.py into a purely string driven constructor - eg, we make a list of Modifiers and ModifierChains via arrays/dictionaries and then a trivial loop creates the Modifiers and ModifierChains

2) make a nested hierarchy which has a similar array/dicitionary driven structure at the top but then something more pythonic below

validEras={}
d='Con

[2016-08-08 13:49] smuzaffar opened #15390 "Unit tests failing in CondCore/ORA"
Many unit tests in CondCore/ORA are failing with error message

[code]

see the full log here
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-08-1100/unitTestLogs/CondCore/ORA

@ggovi , any idea?

[2016-08-08 13:49] smuzaffar commented on #15390
assign db

[2016-08-08 13:49] cmsbuild commented on #15390
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-08 13:49] cmsbuild commented on #15390
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-08 13:59] Dr15Jones commented on #14895
Wouldn't an easier fix be to not have the different `_cff.py` files import the top level `Eras` module and instead only import a module containing the `ProcessModifier` they actually use? Then the top level `Eras` is only used when constructing the `Process` and by `cmsDriver.py` to get the available list.

[2016-08-08 14:07] davidlange6 commented on #14895
On Aug 8, 2016, at 3:59 PM, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

Wouldn't an easier fix be to not have the different _cff.py files import the top level Eras module and instead only import a module containing the ProcessModifier they actually use? Then the top level Eras is only used when constructing the Process and by cmsDriver.py to get the available li

[2016-08-08 17:05] kpedro88 commented on #14575
@davidlt @iahmad-khan it would be good to fix this before 8_1_0 comes out...

[2016-08-08 20:27] davidlange6 commented on #15366
release-notes

[2016-08-08 20:28] cmsbuild commented on #15366
Generating release notes since CMSSW_7_1_24.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-08 20:28] cmsbuild commented on #15366
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_25 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_24 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_25

mostly to pick up new das version

Cheers,
cms-bot

You can also click <a href="m

[2016-08-08 20:30] cmsbuild commented on #15366
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_25

[2016-08-09 07:25] iahmad-khan commented on #14575
@davidlt i couldn't find the version  5.7-4.20090207  from the given source.

[2016-08-09 07:42] davidlt commented on #14575
@iahmad-khan use SRPM. E.g., `yumdownloader --source <package>` to fetch SRPM, then standard `rpmbuild` to extract sources.

[2016-08-09 07:49] davidlt commented on #14575
or `rpm2archive` to convert SRPM to a tarball and unpack it to get sources.

[2016-08-09 09:59] iahmad-khan commented on #14575
Yes , after doing that , i see that it is actually version 5.7 with some patches , but it has some build-requires as well , gpm-devel,  pkgconfig which are not in cmsdist.

[2016-08-10 08:27] davidlange6 opened #15408 "Build CMSSW_8_0_17"

[2016-08-10 08:29] cmsbuild commented on #15408
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-10 08:33] davidlange6 commented on #15408
+1

[2016-08-10 08:35] cmsbuild commented on #15408
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_17. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-08-10 08:35] cmsbuild commented on #15408
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-08-10 08:36] cmsbuild commented on #15408
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/762/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-10 08:37] cmsbuild commented on #15408
The build has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/764/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-10 09:44] smuzaffar opened #15409 "Deprecated datasets/blocks used in IBs"
@davidlange6 , we have following 9 datasets which have been marked as deprecated in DBS but we are using them in various IBs.

[code]

do we have any updated datasets to replace these?

[2016-08-10 09:44] cmsbuild commented on #15409
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-10 09:51] davidlt commented on #15409
@smuzaffar could you also fetch information which workflow/unit test/step it is?

[2016-08-10 09:55] davidlange6 commented on #15409
these all look like data processing tests in runTheMatrix.
eg
https://github.com/cms-sw/cmssw/search?utf8=✓&q=%2FSingleElectron%2FRun2012B-WElectron-13Jul2012-v1%2FUSER<https://github.com/cms-sw/cmssw/search?utf8=%E2%9C%93&q=/SingleElectron/Run2012B-WElectron-13Jul2012-v1/USER>

On Aug 10, 2016, at 11:51 AM, davidlt <notifications@github.com<mailto:notifications@github.com>> wrote:

@smuzaffar<htt

[2016-08-10 10:02] davidlange6 commented on #15409
On Aug 10, 2016, at 11:44 AM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> , we have following 9 datasets which have been marked as deprecated in DBS but we are using them in various IBs.

  Block: /DoubleElectron/Run2012C-ZElectron-PromptSkim-v3/RAW-RECO#1c209a6c-dadb-11e1-bc27-003048c9c3fe
    Releases: CM

[2016-08-10 10:25] smuzaffar commented on #15409
these are only used in step2 on workflow 4.58, 4.67, 4.68, 4.76, 4.77, 4.78

[2016-08-10 12:14] cmsbuild commented on #15408
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17-slc6_amd64_gcc493/762
Some tests ( r

[2016-08-10 12:46] cmsbuild commented on #15408
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17-slc6_amd64_gcc493/762

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-10 13:57] cmsbuild commented on #15408
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17-slc6_amd64_gcc530/763
Some tests ( r

[2016-08-10 14:26] cmsbuild commented on #15408
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17-slc6_amd64_gcc530/763

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-10 16:42] cmsbuild commented on #15408
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17-slc7_amd64_gcc530/764
Some tests ( r

[2016-08-10 17:24] cmsbuild commented on #15408
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17-slc7_amd64_gcc530/764

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-10 18:38] cmsbuild commented on #15366
The cleanup has started for slc6_amd64_gcc481

[2016-08-10 18:38] #15366 closed

[2016-08-10 18:39] cmsbuild commented on #15366
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_25-slc6_amd64_gcc481/453

[2016-08-10 18:42] davidlange6 commented on #15408
upload all

On 10 Aug 2016, at 19:25, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17-slc7_amd64_gcc530/764

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you were

[2016-08-10 18:42] cmsbuild commented on #15408
Queing Jenkins upload for slc6_amd64_gcc493

[2016-08-10 18:42] cmsbuild commented on #15408
Queing Jenkins upload for slc6_amd64_gcc530

[2016-08-10 18:42] cmsbuild commented on #15408
Queing Jenkins upload for slc7_amd64_gcc530

[2016-08-10 18:43] cmsbuild commented on #15408
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/492/console

[2016-08-10 18:43] cmsbuild commented on #15408
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/493/console

[2016-08-10 18:45] cmsbuild commented on #15408
The upload has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/494/console

[2016-08-10 19:08] cmsbuild commented on #15408
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_17-slc6_amd64_gcc493/492
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-10 19:29] cmsbuild commented on #15408
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_17/slc6_amd64_gcc493/735/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-10 19:45] cmsbuild commented on #15408
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_17-slc7_amd64_gcc530/494
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-10 20:00] cmsbuild commented on #15408
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_17/slc7_amd64_gcc530/736/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-10 20:21] cmsbuild commented on #15408
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_17-slc6_amd64_gcc530/493
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-10 20:37] cmsbuild commented on #15408
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_17/slc6_amd64_gcc530/737/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-10 20:41] davidlange6 commented on #15408
release-notes

On 10 Aug 2016, at 22:37, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_17/slc6_amd64_gcc530/737/
To generate the release notes for the release write "release-notes since <previous-release>

[2016-08-10 20:42] cmsbuild commented on #15408
Generating release notes since CMSSW_8_0_16.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-10 20:42] cmsbuild commented on #15408
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_17 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_16 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_17

Cheers,
cms-bot

You can also click <a href="

[2016-08-10 20:43] cmsbuild commented on #15408
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_17

[2016-08-11 11:24] makortel opened #15425 "Introduce toReplaceWith()-equivalent to EDModules/Sequences/Paths themselves?"
Now that we have some experience of eras (`cms.Modifier`) with `toReplaceWith()` and `toModify()`, I'd like to suggest to add `toReplaceWith()` mechanism to the EDModules/Sequences/(End)Paths directly (probably named as e.g. `replaceWith()` as the action can and should be taken immediately).

This would be useful for the remaining use-cases of customize functions (e.g. test recipes or [HLTrigger/C

[2016-08-11 11:24] cmsbuild commented on #15425
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-11 13:32] Dr15Jones commented on #15425
assign core

[2016-08-11 13:32] cmsbuild commented on #15425
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-11 18:36] Dr15Jones commented on #14952
@bbockelm ping?
The problem struck again in yesterday's IB RelVal workflows becuase of a large number of file open errors.

[2016-08-11 21:09] #14954 closed

[2016-08-12 14:55] smuzaffar commented on #15304
I dropped reRECO and although it fixed the step2 but then step2 failed with error message
[code]
The cmsDriver commands for step2 and step3 are
[code]

[2016-08-12 15:06] Dr15Jones commented on #15304
@wddgit David, in this case do we fail to drop the history?

[2016-08-12 18:53] cmsbuild commented on #15408
The cleanup has started for slc6_amd64_gcc493

[2016-08-12 18:53] cmsbuild commented on #15408
The cleanup has started for slc6_amd64_gcc530

[2016-08-12 18:53] cmsbuild commented on #15408
The cleanup has started for slc7_amd64_gcc530

[2016-08-12 18:53] #15408 closed

[2016-08-12 18:54] cmsbuild commented on #15408
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_17-slc6_amd64_gcc530/455

[2016-08-12 18:54] cmsbuild commented on #15408
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_17-slc6_amd64_gcc493/454

[2016-08-12 18:56] cmsbuild commented on #15408
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_17-slc7_amd64_gcc530/456

[2016-08-13 06:50] davidlange6 opened #15459 "Build CMSSW_8_1_0_pre10"

[2016-08-13 06:50] cmsbuild commented on #15459
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-13 06:54] davidlange6 commented on #15459
+1

[2016-08-13 06:55] cmsbuild commented on #15459
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-08-13 06:55] cmsbuild commented on #15459
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc493, slc6_amd64_gcc530, slc6_amd64_gcc600, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2016-08-13 06:57] cmsbuild commented on #15459
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/765/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-13 06:57] cmsbuild commented on #15459
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/766/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-13 06:57] cmsbuild commented on #15459
The build has started for slc6_amd64_gcc600 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/768/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-13 06:57] cmsbuild commented on #15459
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/767/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-13 06:57] cmsbuild commented on #15459
The build has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/769/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-13 09:43] cmsbuild commented on #15459
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc493/766
Some test

[2016-08-13 10:32] cmsbuild commented on #15459
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc493/766

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-13 10:36] cmsbuild commented on #15459
The build has finished sucessfully for the architecture slc6_amd64_gcc600 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc600/768
Some test

[2016-08-13 11:20] cmsbuild commented on #15459
The tests have finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc600/768

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-13 11:58] cmsbuild commented on #15459
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc530/767
Some test

[2016-08-13 12:42] cmsbuild commented on #15459
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc530/767

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-13 13:43] cmsbuild commented on #15459
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc7_amd64_gcc530/769
Some test

[2016-08-13 14:38] cmsbuild commented on #15459
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc7_amd64_gcc530/769

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-13 16:20] davidlange6 commented on #15459
upload all

On 13 Aug 2016, at 16:38, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc7_amd64_gcc530/769

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because yo

[2016-08-13 16:20] cmsbuild commented on #15459
Queing Jenkins upload for slc6_amd64_gcc493

[2016-08-13 16:20] cmsbuild commented on #15459
Queing Jenkins upload for slc6_amd64_gcc530

[2016-08-13 16:20] cmsbuild commented on #15459
Queing Jenkins upload for slc6_amd64_gcc600

[2016-08-13 16:20] cmsbuild commented on #15459
Queing Jenkins upload for slc7_amd64_gcc530

[2016-08-13 16:21] cmsbuild commented on #15459
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/495/console

[2016-08-13 16:21] cmsbuild commented on #15459
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/496/console

[2016-08-13 16:21] cmsbuild commented on #15459
The upload has started for slc6_amd64_gcc600 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/497/console

[2016-08-13 16:22] cmsbuild commented on #15459
The upload has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/498/console

[2016-08-13 16:47] cmsbuild commented on #15459
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc493/495
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-13 17:12] cmsbuild commented on #15459
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc530/496
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-13 17:13] cmsbuild commented on #15459
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre10/slc6_amd64_gcc493/738/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-08-13 17:34] cmsbuild commented on #15459
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre10-slc7_amd64_gcc530/498
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-13 17:35] cmsbuild commented on #15459
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre10/slc6_amd64_gcc530/739/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-08-13 17:56] cmsbuild commented on #15459
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre10-slc6_amd64_gcc600/497
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-13 18:03] cmsbuild commented on #15459
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre10/slc7_amd64_gcc530/740/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-08-13 18:25] cmsbuild commented on #15459
The installation has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre10/slc6_amd64_gcc600/741/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-08-13 18:34] cmsbuild commented on #15459
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc7_aarch64_gcc530/765
Some

[2016-08-13 18:35] cmsbuild commented on #15459
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-08-13 18:35] cmsbuild commented on #15459
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/499/console

[2016-08-13 18:59] cmsbuild commented on #15459
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre10-slc7_aarch64_gcc530/499
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-13 20:12] cmsbuild commented on #15459
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre10-slc7_aarch64_gcc530/765

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-13 21:14] davidlange6 commented on #15459
release-notes

On 13 Aug 2016, at 20:59, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc7_aarch64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre10-slc7_aarch64_gcc530/499
The release is now being installed, you can see the progress here:
https://cmssdt.cern.c

[2016-08-13 21:15] cmsbuild commented on #15459
Generating release notes since CMSSW_8_1_0_pre9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-13 21:15] cmsbuild commented on #15459
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre10 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc6_amd64_gcc600
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_1_0_pre9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre10

Cheers,
cms-

[2016-08-13 21:18] cmsbuild commented on #15459
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre10

[2016-08-15 11:59] davidlange6 commented on #14895
some work in this direction

https://github.com/cms-sw/cmssw/pull/15469

(and my suggested next steps)

On Aug 8, 2016, at 4:06 PM, David Lange <David.Lange@cern.ch<mailto:David.Lange@cern.ch>> wrote:

On Aug 8, 2016, at 3:59 PM, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

Wouldn't an easier fix be to not have the different _cff.py files import the top level Era

[2016-08-15 19:28] cmsbuild commented on #15459
The cleanup has started for slc7_aarch64_gcc530

[2016-08-15 19:28] cmsbuild commented on #15459
The cleanup has started for slc6_amd64_gcc493

[2016-08-15 19:28] cmsbuild commented on #15459
The cleanup has started for slc6_amd64_gcc530

[2016-08-15 19:28] cmsbuild commented on #15459
The cleanup has started for slc6_amd64_gcc600

[2016-08-15 19:28] cmsbuild commented on #15459
The cleanup has started for slc7_amd64_gcc530

[2016-08-15 19:28] #15459 closed

[2016-08-15 19:30] cmsbuild commented on #15459
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre10-slc6_amd64_gcc530/458

[2016-08-15 19:30] cmsbuild commented on #15459
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre10-slc6_amd64_gcc493/457

[2016-08-15 19:31] cmsbuild commented on #15459
The workspace for slc6_amd64_gcc600 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre10-slc6_amd64_gcc600/459

[2016-08-15 19:31] cmsbuild commented on #15459
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre10-slc7_aarch64_gcc530/460

[2016-08-15 19:39] cmsbuild commented on #15459
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre10-slc7_amd64_gcc530/461

[2016-08-16 13:35] Dr15Jones opened #15482 "Fix confusing exception message"
Workflow 4.76 in CMSSW_8_1_X fails because of a schema evolution problem. The exception message printed by the framework is

[code]

The context information in the message is confusing since it keeps building up from each of the threads. In addition, all the messages say the exception comes from another thread which can't be true.

[2016-08-16 13:35] cmsbuild commented on #15482
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-16 13:35] Dr15Jones commented on #15482
assign core

[2016-08-16 13:35] cmsbuild commented on #15482
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-16 20:24] wddgit commented on #15304
The current behavior is this. Nothing is ever dropped from the ProcessHistory, not even if all the products are dropped. In addition, it is an error to have a process read a file which has in its ProcessHistory an earlier process with the same name. The only exceptional case to mention is that if no product is produced at all, then the restriction does not apply and the process name does not get a

[2016-08-16 22:11] slava77 commented on #15304
Why not just edit the step3 of this workflow and tell it to use ``` --process reRECO2 ``` this has fewer conceptual implications.
This is applicable to workflows with a pattern of inputs from skims.

[2016-08-17 08:56] smuzaffar commented on #15390
@ggovi , can you please fix unit tests for 81X?

[2016-08-17 09:05] ggovi commented on #15390
@smuzaffar
This looks like the consequence of a general problem ( CondCore/ORA is not relevant anyhow, since it is no longer used ):

cd CMSSW_8_1_X_2016-08-16-2300/src
cmsenv
echo $TNS_ADMIN

gives

/etc/

which is obviously not the right place for the tnsnames.ora required by CMS

[2016-08-17 09:38] smuzaffar commented on #15390
ah right, yes we have dropped the oracle-env from cmssw (which was providing the tnsname.ora).
So what do you suggest .... should we drop CondCore/ORA or disable tests of this package?

[2016-08-17 09:54] ggovi commented on #15390
we can drop the CondCore/ORA package, but we still need the oracle-env for other packages - I guess...

[2016-08-17 12:13] makortel opened #15496 "Introduce ModifierChain.copyAndExclude()?"
Especially now that the era definitions are scattered in separate files (#15480), I think a `ModifierChain.copyAndExclude()` or similar would make it easier keep certain sets of eras synchronized. As an example `Run2_2017_trackingPhase1PU70` and `Run2_2017_trackingRun2` are already out of synch with respect to `Run2_2017` (see my comment https://github.com/cms-sw/cmssw/pull/15469#issuecomment-2397

[2016-08-17 12:13] cmsbuild commented on #15496
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-17 12:57] Dr15Jones commented on #15496
assign core

[2016-08-17 12:57] cmsbuild commented on #15496
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-17 13:28] dan131riley commented on #14897
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-16-1100/pyRelValMatrixLogs/run/1340.0_PhiToMuMu_13+PhiToMuMu_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15/step3_PhiToMuMu_13+PhiToMuMu_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15.log

with the new stack-trace-pause handlers.  Two threads are in tokenize, three are in InputTag, all four are in egHLT::trigTools::getFiltersPassed.

[2016-08-17 13:32] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-15-1100/pyRelValMatrixLogs/run/4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC/step2_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC.log

First stack trace with the pause feature inspired by this issue!

[code]

[2016-08-17 13:33] Dr15Jones commented on #14897
This code has a weird behavior. The line
 http://cmslxr.fnal.gov/source/DQMOffline/Trigger/src/EgHLTTrigTools.cc?v=CMSSW_8_1_X_2016-08-03-2300#0018
[code]
creates a temporary `InputTag`, calls encode on that which creates a `string` but then `filterIndex` has as an argument an `InputTag` which means the compiler adds a call to `InputTag(const std::string&)` where we crash.

I'm going to create a p

[2016-08-17 13:36] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-16-2300/pyRelValMatrixLogs/run/1004.0_RunHI2011+RunHI2011+TIER0EXPHI+ALCAEXPHI+ALCAHARVD1HI+ALCAHARVD2HI+ALCAHARVD3HI+ALCAHARVD5HI/step2_RunHI2011+RunHI2011+TIER0EXPHI+ALCAEXPHI+ALCAHARVD1HI+ALCAHARVD2HI+ALCAHARVD3HI+ALCAHARVD5HI.log

and another, pointing strongly to an issue with calling in to TCling

[code]

[2016-08-17 13:39] Dr15Jones commented on #14897
@dan131riley Do you want to see if there is a problem in tokenizer?

[2016-08-17 13:41] Dr15Jones commented on #14897
Now reading the whole thread, I see that I had fixed other `.encode()` calls but missed this one.

[2016-08-17 13:43] dan131riley commented on #14897
I'll take another look at it--I already ran through the bizarre chain of construct/tokenize/construct once and didn't spot anything, but could have missed something.

I had also started on tracking down all the implicit uses of the InputTag(string) constructor (by making it explicit), should finish that, there's a few other places where we're calling it without any reason.

[2016-08-17 14:42] cmsbuild commented on #15304
https://github.com/cms-sw/cmssw/pull/15498 should fix 4.76

[2016-08-17 16:01] Dr15Jones commented on #14897
`edm::InputTag::encode` contains a `const static`
http://cmslxr.fnal.gov/source/FWCore/Utilities/src/InputTag.cc#0168

although that should be safe, maybe there is a problem with the code the compiler generates? Also, there is no reason to have that as a function local `static`. It could be a file scope `static` instead.

[2016-08-17 16:31] Dr15Jones commented on #15496
I don't see how that could be made to work. If you had

---foo_era.py----------
[code]

---bar_era.py---------
[code]

So now you've inverted the dependency. Instead of having `bar_era.py` imported in many files, you have `bar_era.py` importing many files and I think we are back to the problem we had with `customise` functions.

[2016-08-17 16:36] Dr15Jones commented on #15496
Could the problem with `Run2_2017` and the `Run2_2017_*` be solved by making a `Run2_2017_core` that they all share?

[2016-08-17 16:36] dan131riley commented on #14897
Make it file scope and we can use it here too:

http://cmslxr.fnal.gov/source/FWCore/Utilities/src/InputTag.cc#0054

  std::vector<std::string> tokens = tokenize(s, ":");

args to tokenize are (const string& input, const string& separator)

and then it immediately does separator.c_str(), so we're doing

string(":").c_str()...

[2016-08-17 17:32] Dr15Jones commented on #15496
So I see that you were referring to `ModifierChain` not `Modifier` (I blame insufficient caffeine this morning :) ). However, how do you know that if an additional `Modifier` is added to `Run2_2017` that you'd want it in `Run2_2017_*`? You'd still have to review each use of it and decide if they need to be modified.

[2016-08-17 17:45] slava77 opened #15501 "assertion in edm::PtrVectorBase::typeInfo when running multithreaded"
I get an assertion failure when I run a PAT workflow in 810pre10.
This happens only in multi-threaded jobs, while the workflow completes OK on single thread.

[code]

To reproduce, in pre10 run the following (I tried 2, 4, 8, and 16 threads, all failed; 1-thread worked OK)

[code]

I was able to catch this with gdb. A relevant fraction of the stack trace is

[code]

Depending on the number of thre

[2016-08-17 17:45] cmsbuild commented on #15501
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-17 17:59] Dr15Jones commented on #15501
With `CMSSW_8_1_0_pre10` we now can have multiple threads processing the same event. This only happens at the end of a luminosity block ones at least one Stream has finished processing the available events.

[2016-08-17 18:02] slava77 commented on #15501
On 8/17/16 10:59 AM, Chris Jones wrote:

If I'm not mistaken, I ran the same workflow in pre9 multi-threaded
successfully.
So, the change you mentioned may be related.

[2016-08-17 19:57] makortel commented on #15496
I agree that in general one would need to review all cases. In this particular case the two other `Run2_2017_*` `ModifierChain`s are (logically) defined as `Run2_2017` but with `trackingPhase1`
`Modifier` replaced with `trackingPhase1PU70` or nothing, so whatever is added to `Run2_2017` should be propagated to the other two. Ok, it would be good if one would nevertheless review the other two aswel

[2016-08-17 19:59] Dr15Jones commented on #15501
assign core

[2016-08-17 19:59] cmsbuild commented on #15501
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-17 20:02] Dr15Jones commented on #15501
I believe I have found the problem. Dereferencing a `edm::Ref` or `edm::Ptr` is the last place where the old code for retrieving data from the source is used (the rest all do prefetching now). Although that code properly protects simultaneous access to the Source, the different requests each will update the cache and cause the old cache to be deleted. Therefore an `edm::Ref` could be handed a poin

[2016-08-17 20:52] Dr15Jones commented on #15501
#15505 fixes the problem.

[2016-08-17 23:06] dan131riley commented on #14897
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-17-1100/pyRelValMatrixLogs/run/1306.0_SingleMuPt1_UP15+SingleMuPt1_UP15INPUT+DIGIUP15+RECOUP15+HARVESTUP15/step3_SingleMuPt1_UP15+SingleMuPt1_UP15INPUT+DIGIUP15+RECOUP15+HARVESTUP15.log

This one is **very** interesting--two threads in EgHLTOfflineSource, one in TrackingMonitor (our other favorite module, #15145) an

[2016-08-17 23:13] dan131riley commented on #14897
Note that this crash happened on record 8, while #15145 seems to be an initialization bug, so maybe different bugs but possibly both in TrackingMonitor?  Re-running memcheck on this wf...

[2016-08-18 15:43] smuzaffar opened #15519 "[81X] Fix workflow 4.78"
Step3 of workflow 4.78 is failing with error

[code]

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-17-2300/pyRelValMatrixLogs/run/4.78_WElSkim2012D+WElSkim2012D+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT/step3_WElSkim2012D+WElSkim2012D+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT.log

@davidlange6 , @slava77  any idea what is needed to fix this?

[2016-08-18 15:44] smuzaffar commented on #15304
assign core

[2016-08-18 15:45] smuzaffar commented on #15304
+1
fixed via #15498 for CMSSW_8_1_X_2016-08-18-1100

[2016-08-18 15:45] #15304 closed

[2016-08-18 15:45] cmsbuild commented on #15519
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-18 15:45] cmsbuild commented on #15304
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-18 15:45] cmsbuild commented on #15304
This issue is fully signed and ready to be closed.

[2016-08-18 15:50] slava77 commented on #15519
this issue is technically a duplicate of #13806

[2016-08-19 11:17] dan131riley opened #15524 "MixingModule crash in TDirectory::UnregisterContext(TDirectory::TContext*)"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-18-1100/pyRelValMatrixLogs/run/25213.0_VBFHToBB_M125_Pow_py8_Evt_13+VBFHToBB_M125_Pow_py8_Evt_13+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25/step3_VBFHToBB_M125_Pow_py8_Evt_13+VBFHToBB_M125_Pow_py8_Evt_13+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25.log

This is in replay, which will thrash about a lot opening and

[2016-08-19 11:21] cmsbuild commented on #15524
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-19 11:44] Dr15Jones commented on #15524
assign core

[2016-08-19 11:46] cmsbuild commented on #15524
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-19 15:33] davidlange6 opened #15525 "Build CMSSW_8_0_18"

[2016-08-19 15:34] davidlange6 commented on #15525
+1

[2016-08-19 15:35] cmsbuild commented on #15525
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-19 15:35] cmsbuild commented on #15525
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_18. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-08-19 15:35] cmsbuild commented on #15525
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-08-19 15:51] cmsbuild commented on #15525
The build has started for slc7_amd64_gcc530 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/770/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-19 15:53] cmsbuild commented on #15525
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/771/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-19 15:53] cmsbuild commented on #15525
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/772/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-19 18:15] cmsbuild commented on #15525
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18-slc6_amd64_gcc493/771
Some tests ( r

[2016-08-19 18:40] cmsbuild commented on #15525
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18-slc6_amd64_gcc493/771

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-19 19:55] cmsbuild commented on #15525
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18-slc6_amd64_gcc530/772

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-19 20:05] davidlange6 commented on #15525
upload all

On 19 Aug 2016, at 21:55, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18-slc6_amd64_gcc530/772

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you were

[2016-08-19 20:06] cmsbuild commented on #15525
Queing Jenkins upload for slc6_amd64_gcc493

[2016-08-19 20:06] cmsbuild commented on #15525
Queing Jenkins upload for slc6_amd64_gcc530

[2016-08-19 20:07] cmsbuild commented on #15525
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/500/console

[2016-08-19 20:10] cmsbuild commented on #15525
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/501/console

[2016-08-19 20:53] cmsbuild commented on #15525
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_18-slc6_amd64_gcc530/501
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-19 21:02] cmsbuild commented on #15525
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_18-slc6_amd64_gcc493/502
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-19 21:08] cmsbuild commented on #15525
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_18/slc6_amd64_gcc530/742/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-19 21:29] cmsbuild commented on #15525
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_18/slc6_amd64_gcc493/743/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-19 22:20] cmsbuild commented on #15525
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18-slc7_amd64_gcc530/770
Some tests ( r

[2016-08-19 22:20] cmsbuild commented on #15525
Queing Jenkins upload for slc7_amd64_gcc530

[2016-08-19 22:21] cmsbuild commented on #15525
The upload has started for slc7_amd64_gcc530 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/503/console

[2016-08-19 22:43] cmsbuild commented on #15525
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_18-slc7_amd64_gcc530/503
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-19 23:00] cmsbuild commented on #15525
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18-slc7_amd64_gcc530/770

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-19 23:00] cmsbuild commented on #15525
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_18/slc7_amd64_gcc530/744/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-20 06:12] davidlange6 commented on #15525
release-notes

On 20 Aug 2016, at 01:00, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_18/slc7_amd64_gcc530/744/
To generate the release notes for the release write "release-notes since <previous-release>

[2016-08-20 06:14] cmsbuild commented on #15525
Generating release notes since CMSSW_8_0_17.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-20 06:14] cmsbuild commented on #15525
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_18 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_17 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_18

Cheers,
cms-bot

You can also click <a href="

[2016-08-20 06:15] cmsbuild commented on #15525
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_18

[2016-08-22 04:25] cmsbuild commented on #15525
The cleanup has started for slc6_amd64_gcc493

[2016-08-22 04:25] cmsbuild commented on #15525
The cleanup has started for slc6_amd64_gcc530

[2016-08-22 04:25] cmsbuild commented on #15525
The cleanup has started for slc7_amd64_gcc530

[2016-08-22 04:25] #15525 closed

[2016-08-22 04:27] cmsbuild commented on #15525
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_18-slc6_amd64_gcc493/462

[2016-08-22 04:27] cmsbuild commented on #15525
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_18-slc6_amd64_gcc530/463

[2016-08-22 04:33] cmsbuild commented on #15525
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_18-slc7_amd64_gcc530/464

[2016-08-22 13:20] smuzaffar commented on #15390
@ggovi , I checked in CMSSW_8_1_0_pre5 where TNS_ADMIN points to /cvmfs/cms.cern.ch/slc6_amd64_gcc530/cms/oracle-env/29/etc and still these ORA tests fail there.

[2016-08-22 14:34] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-22-1100/pyRelValMatrixLogs/run/4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC/step2_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC.log

Similar to previous-1

[code]

[2016-08-22 14:43] Dr15Jones commented on #15145
Looks like TrackingMonitor again. So probably something to do with the lazy evaluation mode of the expression parser.
@dan131riley Could you try to create a simple job which just has TrackingMonitor and just enough stuff to allow TrackingMonitor to run the expression parser? They try to hammer that job over and over again to see if it can fail semi reliably?
If you can do that, we can try switchin

[2016-08-24 10:50] smuzaffar opened #15581 "Build CMSSW_8_0_18_Geant4102"
RELEASE_QUEUE: CMSSW_8_0_GEANT4_X

[2016-08-24 10:50] cmsbuild commented on #15581
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-24 12:55] smuzaffar commented on #15581
+1

[2016-08-24 12:56] cmsbuild commented on #15581
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_18_Geant4102. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-08-24 12:56] cmsbuild commented on #15581
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-08-24 13:20] cmsbuild commented on #15581
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/773/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530G4](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530G4), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-24 13:27] davidlange6 opened #15586 "Build CMSSW_8_0_17_patch1"

[2016-08-24 13:27] cmsbuild commented on #15586
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-24 13:28] davidlange6 commented on #15586
+1

[2016-08-24 13:28] cmsbuild commented on #15586
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_17_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-08-24 13:28] cmsbuild commented on #15586
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-08-24 13:28] cmsbuild commented on #15586
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/774/console
CMSDIST Branch: [REL/CMSSW_8_0_17/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_17/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-24 13:54] cmsbuild commented on #15586
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/775/console
CMSDIST Branch: [REL/CMSSW_8_0_17/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_17/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-24 13:58] cmsbuild commented on #15586
The build has started for slc7_amd64_gcc530 in cmsbuild37.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/776/console
CMSDIST Branch: [REL/CMSSW_8_0_17/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_17/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-24 14:30] cmsbuild commented on #15586
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17_patch1-slc6_amd64_gcc493/774
Some te

[2016-08-24 15:00] cmsbuild commented on #15586
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17_patch1-slc6_amd64_gcc493/774

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-24 15:19] cmsbuild commented on #15586
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17_patch1-slc7_amd64_gcc530/776
Some te

[2016-08-24 15:34] cmsbuild commented on #15586
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17_patch1-slc6_amd64_gcc530/775
Some te

[2016-08-24 15:51] Dr15Jones opened #15594 "Consider dedicated Service to find threading stalls"
The edmStreamStallGrapher.py script uses the output from Tracer to try to find stalled modules. However, the message logger under heavy load can fool the script into thinking a module is stalled when in fact the code is just processing all the messages.
A dedicated Service could just record
- time between end of prefetching and start running of a module
- time a module ran
- time start reading fro

[2016-08-24 15:52] cmsbuild commented on #15594
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-24 15:52] Dr15Jones commented on #15594
assign core

[2016-08-24 15:52] cmsbuild commented on #15586
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17_patch1-slc7_amd64_gcc530/776

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-24 15:52] cmsbuild commented on #15594
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-24 16:02] cmsbuild commented on #15586
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17_patch1-slc6_amd64_gcc530/775

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-24 16:48] cmsbuild commented on #15581
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18_Geant4102-slc6_amd64_gcc530/773
Some

[2016-08-24 17:10] cmsbuild commented on #15581
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18_Geant4102-slc6_amd64_gcc530/773

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-24 20:07] smuzaffar commented on #15581
upload all

[2016-08-24 20:08] cmsbuild commented on #15581
Queing Jenkins upload for slc6_amd64_gcc530

[2016-08-24 20:09] cmsbuild commented on #15581
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/504/console

[2016-08-24 20:33] cmsbuild commented on #15581
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_18_Geant4102-slc6_amd64_gcc530/504
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-24 20:50] cmsbuild commented on #15581
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_18_Geant4102/slc6_amd64_gcc530/745/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you p

[2016-08-24 20:52] smuzaffar commented on #15581
release-notes since CMSSW_8_0_18

[2016-08-24 20:52] cmsbuild commented on #15581
Generating release notes since CMSSW_8_0_18.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-24 20:52] cmsbuild commented on #15581
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_18_Geant4102 is now available for the following architectures:

slc6_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_18 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_18_Geant4102

RELEASE_QUEUE: CMSSW_8_0_GEANT4_X

Cheers,
cms-bot

You can a

[2016-08-24 20:53] cmsbuild commented on #15581
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_18_Geant4102

[2016-08-25 05:48] davidlange6 commented on #15586
upload all

On 24 Aug 2016, at 18:03, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_17_patch1-slc6_amd64_gcc530/775

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because yo

[2016-08-25 05:49] cmsbuild commented on #15586
Queing Jenkins upload for slc6_amd64_gcc493

[2016-08-25 05:49] cmsbuild commented on #15586
Queing Jenkins upload for slc6_amd64_gcc530

[2016-08-25 05:49] cmsbuild commented on #15586
Queing Jenkins upload for slc7_amd64_gcc530

[2016-08-25 05:49] cmsbuild commented on #15586
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/505/console

[2016-08-25 05:49] cmsbuild commented on #15586
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/506/console

[2016-08-25 05:49] cmsbuild commented on #15586
The upload has started for slc7_amd64_gcc530 in cmsbuild37.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/507/console

[2016-08-25 06:14] cmsbuild commented on #15586
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_17_patch1-slc6_amd64_gcc493/505
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-25 06:20] cmsbuild commented on #15586
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_17_patch1/slc6_amd64_gcc493/746/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-08-25 06:33] cmsbuild commented on #15586
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_17_patch1-slc7_amd64_gcc530/507
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-25 06:39] cmsbuild commented on #15586
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_17_patch1/slc7_amd64_gcc530/747/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-08-25 06:51] cmsbuild commented on #15586
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_17_patch1-slc6_amd64_gcc530/506
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-25 06:56] cmsbuild commented on #15586
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_17_patch1/slc6_amd64_gcc530/748/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-08-25 07:22] davidlange6 commented on #15586
release-notes

On 25 Aug 2016, at 08:56, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_17_patch1/slc6_amd64_gcc530/748/
To generate the release notes for the release write "release-notes since <previous-r

[2016-08-25 07:23] cmsbuild commented on #15586
Generating release notes since CMSSW_8_0_17.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-25 07:23] cmsbuild commented on #15586
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_17_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_17 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_17_patch1

Cheers,
cms-bot

You can

[2016-08-25 07:25] cmsbuild commented on #15586
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_17_patch1

[2016-08-25 08:05] davidlange6 opened #15599 "Build CMSSW_8_0_18_patch1"
Yesterday i misnamed this build as CMSSW_8_0_17_patch1...

[2016-08-25 08:05] davidlange6 commented on #15599
+1

[2016-08-25 08:07] cmsbuild commented on #15599
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-25 08:07] cmsbuild commented on #15599
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_18_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-08-25 08:07] cmsbuild commented on #15599
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-08-25 08:08] cmsbuild commented on #15599
The build has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/777/console
CMSDIST Branch: [REL/CMSSW_8_0_18/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_18/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-25 08:09] cmsbuild commented on #15599
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/778/console
CMSDIST Branch: [REL/CMSSW_8_0_18/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_18/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-25 08:10] cmsbuild commented on #15599
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/779/console
CMSDIST Branch: [REL/CMSSW_8_0_18/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_18/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-25 08:54] cmsbuild commented on #15599
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18_patch1-slc6_amd64_gcc530/778
Some te

[2016-08-25 09:14] cmsbuild commented on #15599
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18_patch1-slc6_amd64_gcc493/777
Some te

[2016-08-25 09:19] cmsbuild commented on #15599
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18_patch1-slc6_amd64_gcc530/778

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-25 09:23] davidlange6 commented on #15599
upload all

[2016-08-25 09:23] cmsbuild commented on #15599
Queing Jenkins upload for slc6_amd64_gcc493

[2016-08-25 09:23] cmsbuild commented on #15599
Queing Jenkins upload for slc6_amd64_gcc530

[2016-08-25 09:24] cmsbuild commented on #15599
The upload has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/508/console

[2016-08-25 09:25] cmsbuild commented on #15599
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/509/console

[2016-08-25 09:47] cmsbuild commented on #15599
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18_patch1-slc6_amd64_gcc493/777

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-25 09:58] cmsbuild commented on #15599
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18_patch1-slc7_amd64_gcc530/779
Some te

[2016-08-25 09:59] cmsbuild commented on #15599
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_18_patch1-slc6_amd64_gcc493/508
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-25 10:00] cmsbuild commented on #15599
Queing Jenkins upload for slc7_amd64_gcc530

[2016-08-25 10:03] cmsbuild commented on #15599
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_18_patch1/slc6_amd64_gcc493/749/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-08-25 10:05] cmsbuild commented on #15599
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/511/console

[2016-08-25 10:09] davidlange6 opened #15602 "update externals from devel to mainstream"
Hi all

please update
jemalloc, scikit-learn, numpy, matplotlib, cmake from devel to the mainstream 81x.

[2016-08-25 10:09] davidlange6 commented on #15602
assign core
@smuzaffar @iahmad-khan

[2016-08-25 10:09] cmsbuild commented on #15602
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-25 10:09] cmsbuild commented on #15602
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-25 10:11] cmsbuild commented on #15599
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/512/console

[2016-08-25 10:11] cmsbuild commented on #15599
The was error uploading slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_18_patch1-slc7_amd64_gcc530/512

[2016-08-25 10:16] davidlange6 commented on #15599
release-notes

[2016-08-25 10:17] cmsbuild commented on #15599
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-08-25 10:21] cmsbuild commented on #15599
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_18_patch1-slc6_amd64_gcc530/509
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-25 10:25] cmsbuild commented on #15599
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_18_patch1/slc6_amd64_gcc530/750/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-08-25 10:26] cmsbuild commented on #15599
Generating release notes since CMSSW_8_0_18.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-25 10:26] cmsbuild commented on #15599
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_18_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_18 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_18_patch1

Yesterday i misnamed this build as CMSSW_8_

[2016-08-25 10:27] cmsbuild commented on #15599
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_18_patch1

[2016-08-25 10:31] davidlange6 opened #15603 "Build CMSSW_7_5_8_patch6"
Primary purpose to integrate HI beamspot

[2016-08-25 10:32] davidlange6 commented on #15603
+1

[2016-08-25 10:32] cmsbuild commented on #15603
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-25 10:32] cmsbuild commented on #15603
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2016-08-25 10:32] cmsbuild commented on #15603
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-08-25 10:36] davidlange6 opened #15604 "Please make a CMSSW_8_0_18_patchX branch"
based on the current 80x queue.
Thanks

[2016-08-25 10:36] davidlange6 commented on #15604
assign core

[2016-08-25 10:36] cmsbuild commented on #15604
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-25 10:36] cmsbuild commented on #15604
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-25 10:42] cmsbuild commented on #15599
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_18_patch1-slc7_amd64_gcc530/511
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-25 10:44] cmsbuild commented on #15603
The build has started for slc6_amd64_gcc491 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/780/console
CMSDIST Branch: [REL/CMSSW_7_5_8/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_8/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-25 10:48] cmsbuild commented on #15599
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_18_patch1/slc7_amd64_gcc530/751/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-08-25 10:54] cmsbuild commented on #15599
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_18_patch1-slc7_amd64_gcc530/779

Tests results:
10 10 9 6 4 1 1 0 tests passed, 0 0 0 1 1 0 0 1 failed

[2016-08-25 11:15] cmsbuild commented on #15603
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch6-slc6_amd64_gcc491/780
Some tes

[2016-08-25 11:27] cmsbuild commented on #15603
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch6-slc6_amd64_gcc491/780

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Thu Aug 25 13:15:20 2016-date Thu Aug 25 13:15:19

[2016-08-25 11:31] davidlange6 commented on #15603
upload all

[2016-08-25 11:32] cmsbuild commented on #15603
Queing Jenkins upload for slc6_amd64_gcc491

[2016-08-25 11:32] cmsbuild commented on #15603
The upload has started for slc6_amd64_gcc491 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/513/console

[2016-08-25 11:44] iahmad-khan commented on #15602
@davidlange6 yes , i am looking into it.

[2016-08-25 12:03] cmsbuild commented on #15603
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_8_patch6-slc6_amd64_gcc491/513
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-25 12:09] cmsbuild commented on #15603
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8_patch6/slc6_amd64_gcc491/752/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-08-25 12:10] davidlange6 commented on #14919
-   <ioread sourceClass = "HcalDetId" version="[-11]" targetClass="HcalDetId" source="uint32_t DetId::id_;" target="DetId::id_">
+   <ioread sourceClass = "HcalDetId" version="[-11]" targetClass="HcalDetId" source="uint32_t id_;" target="">

DataFormatsHcalDetId/a/DataFormatsHcalDetId_xr.cc: In function 'void ROOT::read_HcalDetId_0(char*, TVirtualObject*)':
DataFormatsHcalDetId/a/DataFormatsHcalDe

[2016-08-25 12:19] davidlange6 commented on #15603
release-notes

[2016-08-25 12:20] cmsbuild commented on #15603
Generating release notes since CMSSW_7_5_8_patch5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-25 12:20] cmsbuild commented on #15603
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_8_patch6 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8_patch5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8_patch6

Primary purpose to integrate HI beamspot

Cheers,
cms-bot

[2016-08-25 12:21] cmsbuild commented on #15603
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch6

[2016-08-25 12:36] Dr15Jones commented on #14919
@pcanal it appears your suggestion in the io rule would not compile. Any further suggestions?

[2016-08-25 14:59] pcanal commented on #14919
Indeed, onfile would only have the data members and no functions.  What is the (intended) implementation of rawId() ?

[2016-08-25 15:06] davidlange6 commented on #14919
underneath rawId() calls a ~10 line function.

https://github.com/cms-sw/cmssw/pull/12883/files#diff-b00a80a07cdb7f12fbc8dfc44090f94eR150

that all needs to be copied in?

[2016-08-25 16:14] davidlange6 opened #15607 "Build CMSSW_7_6_6"

[2016-08-25 16:14] cmsbuild commented on #15607
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-25 16:15] Dr15Jones commented on #14919
```rawId()``` is accessing a value stored in the base class
https://github.com/cms-sw/cmssw/blob/0397259dd747cee94b68928f17976224c037057a/DataFormats/DetId/interface/DetId.h#L43

So I guess the question is could we do
[code]
?
Note that _id is a member of the base class DetId but the IO rule is only for the derived class HcalDetId.

[2016-08-25 16:15] davidlange6 commented on #15607
+1

[2016-08-25 16:16] cmsbuild commented on #15607
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2016-08-25 16:16] cmsbuild commented on #15607
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2016-08-25 16:16] dan131riley commented on #15145
Another one, all four threads in TrackingMonitor:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-24-2300/pyRelValMatrixLogs/run/136.733_RunCosmics2016B+RunCosmics2016B+RECOCOSDRUN2+ALCACOSDRUN2+HARVESTDCRUN2/step2_RunCosmics2016B+RunCosmics2016B+RECOCOSDRUN2+ALCACOSDRUN2+HARVESTDCRUN2.log

I believe we can declare this our current most frequent threading-relate

[2016-08-25 16:18] davidlange6 commented on #14919
right - I was confused earlier…let me try

[2016-08-25 16:20] davidlange6 commented on #14919
ok, but then newFromOld() gets called… we need to avoid that too?

[2016-08-25 16:44] pcanal commented on #14919
That depends.  Does the 'value' needs to be transformed/changed in addition to be moved?

Also since the new data member is in the base class (and because we intentionally did not list it in the target), it needs to be set via the object pointer.  So something *like*

   newobj->SetId( TransformOldIdIntoNewId( onfile._id) );

[2016-08-25 16:48] cmsbuild commented on #15607
The build has started for slc7_amd64_gcc493 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/781/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-25 17:01] cmsbuild commented on #15607
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/782/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-25 20:00] cmsbuild commented on #15607
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_6-slc6_amd64_gcc493/782
Some tests ( ru

[2016-08-25 20:20] cmsbuild commented on #15607
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_6-slc6_amd64_gcc493/782

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-08-25 21:19] cmsbuild commented on #15607
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_6-slc7_amd64_gcc493/781
Some tests ( ru

[2016-08-25 21:46] cmsbuild commented on #15607
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_6-slc7_amd64_gcc493/781

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-08-26 08:53] fwyzard commented on #15151
#15279 was deemed to give too small an gain to be included.
All other PRs have been merged.

[2016-08-26 08:53] #15151 closed

[2016-08-26 08:55] davidlange6 commented on #15607
upload all

[2016-08-26 08:56] cmsbuild commented on #15607
Queing Jenkins upload for slc6_amd64_gcc493

[2016-08-26 08:56] cmsbuild commented on #15607
Queing Jenkins upload for slc7_amd64_gcc493

[2016-08-26 08:56] davidlange6 opened #15614 "Build CMSSW_8_0_19"
Primary purpose: HLT performance back ports (numerical differences in reconstruction/HLT results are expected)

[2016-08-26 08:56] cmsbuild commented on #15607
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/514/console

[2016-08-26 08:57] davidlange6 commented on #15614
+1

[2016-08-26 08:57] cmsbuild commented on #15607
The upload has started for slc7_amd64_gcc493 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/515/console

[2016-08-26 08:59] cmsbuild commented on #15614
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-26 08:59] cmsbuild commented on #15614
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-08-26 08:59] cmsbuild commented on #15614
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-08-26 09:00] cmsbuild commented on #15614
The build has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/783/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-26 09:00] cmsbuild commented on #15614
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/784/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-26 09:01] cmsbuild commented on #15614
The build has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/785/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-26 09:35] cmsbuild commented on #15607
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_6-slc6_amd64_gcc493/514
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-26 09:56] cmsbuild commented on #15607
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_6-slc7_amd64_gcc493/515
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-26 09:57] cmsbuild commented on #15607
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_6/slc6_amd64_gcc493/753/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-08-26 10:18] cmsbuild commented on #15607
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_6/slc7_amd64_gcc493/754/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-08-26 11:18] cmsbuild commented on #15614
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19-slc6_amd64_gcc493/783
Some tests ( r

[2016-08-26 11:50] cmsbuild commented on #15614
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19-slc6_amd64_gcc493/783

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-26 12:01] cmsbuild commented on #15614
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19-slc6_amd64_gcc530/784
Some tests ( r

[2016-08-26 12:25] cmsbuild commented on #15614
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19-slc6_amd64_gcc530/784

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-26 12:59] Dr15Jones commented on #15145
What about running the job under gdb and putting a break point on TrackingMonitor::analyze then stepping through the module until you can actually cause the '????' back trace? That way at least we will know what call chain the crash happens in (assuming the '????' also appear in normal running).

[2016-08-26 15:49] cmsbuild commented on #15614
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19-slc7_amd64_gcc530/785
Some tests ( r

[2016-08-26 15:54] davidlange6 commented on #15614
upload all

[2016-08-26 15:54] davidlange6 commented on #15607
release-notes

[2016-08-26 15:54] cmsbuild commented on #15614
Queing Jenkins upload for slc6_amd64_gcc493

[2016-08-26 15:54] cmsbuild commented on #15614
Queing Jenkins upload for slc6_amd64_gcc530

[2016-08-26 15:54] cmsbuild commented on #15614
Queing Jenkins upload for slc7_amd64_gcc530

[2016-08-26 15:55] cmsbuild commented on #15607
Generating release notes since CMSSW_7_6_5_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-26 15:55] cmsbuild commented on #15607
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_6_6 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_5_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_6

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-

[2016-08-26 15:55] cmsbuild commented on #15614
The upload has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/516/console

[2016-08-26 15:55] cmsbuild commented on #15614
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/517/console

[2016-08-26 15:55] cmsbuild commented on #15614
The upload has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/518/console

[2016-08-26 15:56] cmsbuild commented on #15607
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_6

[2016-08-26 16:34] cmsbuild commented on #15614
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19-slc6_amd64_gcc493/516
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-26 16:43] cmsbuild commented on #15614
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19-slc7_amd64_gcc530/785

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-26 16:52] cmsbuild commented on #15614
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19/slc6_amd64_gcc493/755/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-26 17:02] cmsbuild commented on #15614
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19-slc6_amd64_gcc530/517
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-26 17:18] cmsbuild commented on #15614
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19/slc6_amd64_gcc530/756/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-26 17:35] cmsbuild commented on #15614
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19-slc7_amd64_gcc530/518
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-26 17:54] cmsbuild commented on #15614
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19/slc7_amd64_gcc530/757/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-08-26 18:56] cmsbuild commented on #15581
The cleanup has started for slc6_amd64_gcc530

[2016-08-26 18:56] #15581 closed

[2016-08-26 18:58] cmsbuild commented on #15581
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_18_Geant4102-slc6_amd64_gcc530/465

[2016-08-27 05:24] cmsbuild commented on #15586
The cleanup has started for slc6_amd64_gcc493

[2016-08-27 05:24] cmsbuild commented on #15586
The cleanup has started for slc6_amd64_gcc530

[2016-08-27 05:24] cmsbuild commented on #15586
The cleanup has started for slc7_amd64_gcc530

[2016-08-27 05:24] #15586 closed

[2016-08-27 05:25] cmsbuild commented on #15586
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_17_patch1-slc6_amd64_gcc530/467

[2016-08-27 05:25] cmsbuild commented on #15586
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_17_patch1-slc7_amd64_gcc530/468

[2016-08-27 05:25] cmsbuild commented on #15586
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_17_patch1-slc6_amd64_gcc493/466

[2016-08-27 07:43] davidlange6 commented on #15614
release-notes

[2016-08-27 07:43] cmsbuild commented on #15614
Generating release notes since CMSSW_8_0_18_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-27 07:43] cmsbuild commented on #15614
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_19 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_18_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_19

Primary purpose: HLT performance back

[2016-08-27 07:44] cmsbuild commented on #15614
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19

[2016-08-27 08:26] cmsbuild commented on #15599
The cleanup has started for slc6_amd64_gcc493

[2016-08-27 08:26] cmsbuild commented on #15599
The cleanup has started for slc6_amd64_gcc530

[2016-08-27 08:26] cmsbuild commented on #15599
The cleanup has started for slc7_amd64_gcc530

[2016-08-27 08:26] #15599 closed

[2016-08-27 08:27] cmsbuild commented on #15599
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_18_patch1-slc6_amd64_gcc493/469

[2016-08-27 08:33] cmsbuild commented on #15599
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_18_patch1-slc7_amd64_gcc530/471

[2016-08-27 08:34] cmsbuild commented on #15599
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_18_patch1-slc6_amd64_gcc530/470

[2016-08-27 10:23] cmsbuild commented on #15603
The cleanup has started for slc6_amd64_gcc491

[2016-08-27 10:23] #15603 closed

[2016-08-27 10:25] cmsbuild commented on #15603
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8_patch6-slc6_amd64_gcc491/472

[2016-08-28 14:08] cmsbuild commented on #15607
The cleanup has started for slc6_amd64_gcc493

[2016-08-28 14:08] cmsbuild commented on #15607
The cleanup has started for slc7_amd64_gcc493

[2016-08-28 14:08] #15607 closed

[2016-08-28 14:10] cmsbuild commented on #15607
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_6-slc6_amd64_gcc493/473

[2016-08-28 14:20] dan131riley commented on #15524
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-26-2300/pyRelValMatrixLogs/run/50205.0_ZTT_13+ZTT_13INPUT+DIGIUP15_PU50+RECOUP15_PU50+HARVESTUP15_PU50/step3_ZTT_13+ZTT_13INPUT+DIGIUP15_PU50+RECOUP15_PU50+HARVESTUP15_PU50.log

[code]

[2016-08-28 14:29] cmsbuild commented on #15607
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_6-slc7_amd64_gcc493/474

[2016-08-29 05:53] cmsbuild commented on #15614
The cleanup has started for slc6_amd64_gcc493

[2016-08-29 05:53] cmsbuild commented on #15614
The cleanup has started for slc6_amd64_gcc530

[2016-08-29 05:53] cmsbuild commented on #15614
The cleanup has started for slc7_amd64_gcc530

[2016-08-29 05:53] #15614 closed

[2016-08-29 05:54] cmsbuild commented on #15614
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_19-slc6_amd64_gcc493/475

[2016-08-29 05:55] cmsbuild commented on #15614
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_19-slc6_amd64_gcc530/476

[2016-08-29 05:57] cmsbuild commented on #15614
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_19-slc7_amd64_gcc530/477

[2016-08-29 19:57] davidlange6 opened #15651 "Build CMSSW_8_1_0_pre11"

[2016-08-29 19:59] cmsbuild commented on #15651
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-08-29 20:04] davidlange6 commented on #15651
+1

On 29 Aug 2016, at 21:59, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

Request received. I will start to build the release after one of the following approve the issue: @smuzaffar<https://github.com/smuzaffar>, @slava77<https://github.com/slava77>, @davidlange6<https://github.com/davidlange6>. You can do this by writing "+1" in a comment.
You can also ask me to

[2016-08-29 20:05] cmsbuild commented on #15651
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-08-29 20:05] cmsbuild commented on #15651
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc530, fc24_ppc64le_gcc620, slc6_amd64_gcc600, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2016-08-29 20:07] cmsbuild commented on #15651
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/787/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-29 20:07] cmsbuild commented on #15651
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/786/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-29 20:07] cmsbuild commented on #15651
The build has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/788/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-29 20:32] Dr15Jones commented on #15145
I took a look at TrackingMonitor and it appears that the strings being parsed are [https://github.com/cms-sw/cmssw/blob/b2d14d7371fb80ecd6fce9613d2e847b94b95ee7/DQM/TrackingMonitor/python/TrackingMonitor_cfi.py#L8]
[code]
an interesting thing to note is `'highPurity'` is a string translated into an enum where that is also done via calls to ROOT. So maybe the function generated by ROOT is fine but

[2016-08-29 20:34] bbockelm opened #15652 "Record the number of cores in the CPU set"
We recently hit a case (NERSC) where the pilot job was misconfigured and all CMSSW instances were set to run on a single core.

In the FJR, in the `SystemCPU` section, we should report the number of CPUs in the current CPU set.  That would have allowed us to notice the situation.

If we really want to go wild, we could record a warning any time the number of CPUs is less than the number of configu

[2016-08-29 20:34] cmsbuild commented on #15652
A new Issue was created by  @bbockelm Brian Bockelman.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-29 20:35] bbockelm commented on #15652
For example, we currently have:
[code]

I would like to see:
[code]

[2016-08-29 20:35] Dr15Jones commented on #15652
assign core

[2016-08-29 20:35] cmsbuild commented on #15652
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-29 20:43] dan131riley opened #15653 "RootEmbeddedFileSequence retry issues"
Per this HN thread:

https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3674/1/1/1/1/1/1/2.html

RootEmbeddedFileSequence only partially respects skipBadFiles--it skips bad files on the initial file input, but when RootEmbeddedFileSequence::readOneRandom() moves to a new file it throws an exception on the first failure instead of retrying:

https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/IO

[2016-08-29 20:45] cmsbuild commented on #15653
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-29 20:46] cmsbuild commented on #15651
The build has started for slc6_amd64_gcc600 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/789/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-08-29 20:56] Dr15Jones commented on #15653
assign core

[2016-08-29 20:58] cmsbuild commented on #15653
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-29 20:59] Dr15Jones commented on #15145
The enum `highPurity` comes from `reco::TrackBase::TrackQuality`. This is not a global enum and therefore ROOT builds the set of enum values as an immutable list. Looking with Philippe we didn't find any obvious problem that could account for the crash.

[2016-08-30 00:15] cmsbuild commented on #15651
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre11-slc6_amd64_gcc530/787
Some test

[2016-08-30 00:49] cmsbuild commented on #15651
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre11-slc6_amd64_gcc530/787

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-30 01:02] cmsbuild commented on #15651
The was an error for slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre11-slc7_aarch64_gcc530/786

[2016-08-30 01:15] cmsbuild commented on #15651
The build has finished sucessfully for the architecture slc6_amd64_gcc600 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre11-slc6_amd64_gcc600/789
Some test

[2016-08-30 01:56] cmsbuild commented on #15651
The tests have finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre11-slc6_amd64_gcc600/789

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-30 03:52] cmsbuild commented on #15651
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre11-slc7_amd64_gcc530/788
Some test

[2016-08-30 04:46] cmsbuild commented on #15651
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre11-slc7_amd64_gcc530/788

Tests results:
13 13 12 10 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-08-30 07:19] davidlange6 commented on #15651
upload all

[2016-08-30 07:24] cmsbuild commented on #15651
Queing Jenkins upload for slc6_amd64_gcc530

[2016-08-30 07:24] cmsbuild commented on #15651
Queing Jenkins upload for slc6_amd64_gcc600

[2016-08-30 07:24] cmsbuild commented on #15651
Queing Jenkins upload for slc7_amd64_gcc530

[2016-08-30 07:25] cmsbuild commented on #15651
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/519/console

[2016-08-30 07:26] cmsbuild commented on #15651
The upload has started for slc6_amd64_gcc600 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/520/console

[2016-08-30 07:27] cmsbuild commented on #15651
The upload has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/521/console