[2018-04-19 22:53] kpedro88 opened #23017 "Build CMSSW_9_3_9"

[2018-04-19 22:55] cmsbuild commented on #23017
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-04-19 23:05] kpedro88 commented on #23017
+1

[2018-04-19 23:06] cmsbuild commented on #23017
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-04-19 23:06] cmsbuild commented on #23017
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-19 23:07] cmsbuild commented on #23017
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1584/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-19 23:07] cmsbuild commented on #23017
The build has started for slc7_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1585/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-20 02:44] cmsbuild commented on #23017
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_9-slc6_amd64_gcc630/1584
Some tests ( r

[2018-04-20 03:54] cmsbuild commented on #23017
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_9-slc6_amd64_gcc630/1584

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-20 04:32] pmaksim1 commented on #20950
@fabiocos @perrotta @slava77
So I thought about this some more, and I think we still don't quite understand each other.  For example, what does the sentence "it is a matter of having a clean software distribution minimizing interdependencies, that are always a potential source of very practical trouble." exactly means?  Does it mean that

a) this will lead to a technical problem, like two librarie

[2018-04-20 05:53] cmsbuild commented on #23017
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_9-slc7_amd64_gcc630/1585
Some tests ( r

[2018-04-20 08:44] davidlange6 commented on #20950
My answer: both

Looking through this code - indeed SiPixelTemplate is a classic CMS CondFormat class with a bit more code than normal inside. But then there is a sort of transient to persistent conversion that is more a la Atlas than a la CMS implemented as  SiPixelTemplateDBObject. [but it facilitates schema evolution in this case, which is perhaps required] - this allowed SiPixelTemplate to get

[2018-04-20 08:54] skurz commented on #22721
Both issues are expected to be fixed in this PR https://github.com/cms-sw/cmssw/pull/23019

[2018-04-20 08:55] cmsbuild commented on #23017
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_9-slc7_amd64_gcc630/1585

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-20 10:11] ianna commented on #22919
Here is a proposed solution to replace CLHEP units in DD. Please, comment.

https://github.com/ianna/cmssw/blob/64be013f8c8c6d11109dc391e67ab66534d27c74/DetectorDescription/DDCMS/interface/DDUnits.h
https://github.com/ianna/cmssw/blob/64be013f8c8c6d11109dc391e67ab66534d27c74/DetectorDescription/DDCMS/test/DDUnits.cppunit.cc

[2018-04-20 11:29] fabiocos opened #23021 "Features needed for CMSSW_10_1_2_patch2"
In view of the beginning of physics collision data taking, there has been a request of updating the production version of CMSSW_10_1_X with a fix in an Egamma producer needed by HLT. On top of that I see some  DQM request fully signed that corresponds to stuff already integrated since a while in master. The current list is:

- [ ] #22988 Fix for HLT Egamma producer
- [ ] #22952 Update of PixelActi

[2018-04-20 11:29] cmsbuild commented on #23021
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-20 11:44] fabiocos commented on #22721
@skurz very welcome, thanks, I have a question in that PR about the proposed fix

[2018-04-20 12:38] kpedro88 commented on #23017
upload all

[2018-04-20 12:39] cmsbuild commented on #23017
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-20 12:39] cmsbuild commented on #23017
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-20 12:39] cmsbuild commented on #23017
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1051/console

[2018-04-20 12:41] cmsbuild commented on #23017
The upload has started for slc7_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1052/console

[2018-04-20 12:41] cmsbuild commented on #23017
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_9-slc6_amd64_gcc630/1051
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-20 12:41] cmsbuild commented on #23017
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-20 12:43] cmsbuild commented on #23017
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_9-slc7_amd64_gcc630/1052
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-20 12:43] cmsbuild commented on #23017
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-20 12:44] kpedro88 commented on #23017
release-notes since CMSSW_9_3_8_patch1

[2018-04-20 12:44] cmsbuild commented on #23017
Generating release notes since CMSSW_9_3_8_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-20 12:44] cmsbuild commented on #23017
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_9 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_8_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_9

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-

[2018-04-20 12:45] cmsbuild commented on #23017
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_9

[2018-04-20 13:29] nminafra opened #23023 "RecHits for Totem Timing"
Hello,
I'm writing the rec hit producer for the Totem Timing.
The existing class is CTPPSDiamondRecHit
https://github.com/cms-sw/cmssw/blob/master/DataFormats/CTPPSReco/interface/CTPPSDiamondRecHit.h

I can use a very similar class for the totem timing; however I can:
- keep the name CTPPSDiamondRecHit for both CTPPS and Totem Timing (it may introduce confusion)
- inherit CTPPSDiamondRecHit from a

[2018-04-20 13:30] cmsbuild commented on #23023
A new Issue was created by  @nminafra Nicola Minafra.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-20 14:42] slava77 commented on #23023
@nminafra
what kind of changes do you expect compared to CTPPSDiamondRecHit?
If the interface can be identical, perhaps it's easier to just add a typedef CTPPSDiamondRecHit TotemTimingRecHit.

[2018-04-20 15:12] nminafra commented on #23023
Thanks @slava77, we considered it; however it requires anyway to change the class footprint without the added flexibility of having two classes, for instance if we want to extend the class in the future.
In our plan, CTPPSTimingRecHit would contain only position, time and errors, while inherited classes can have other info:
- HPTDC errors, OOTIndex for CTPPSDiamondRecHit
- Ampltude for TotemTiming

[2018-04-20 18:49] kpedro88 opened #23028 "Avoid try/catch in TrackingTools"
There is a large try/catch block here: https://github.com/cms-sw/cmssw/blob/c841e686d75e8f247dfabf606fb8e67af34488ad/TrackingTools/TrajectoryState/src/TrajectoryStateClosestToPoint.cc#L9-L23

It is driven by an exception here:
https://github.com/cms-sw/cmssw/blob/c841e686d75e8f247dfabf606fb8e67af34488ad/TrackingTools/TrajectoryState/src/PerigeeConversions.cc#L14

This seems like an unnecessary exc

[2018-04-20 18:50] cmsbuild commented on #23028
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-20 18:50] kpedro88 commented on #23028
assign reconstruction
attn: @VinInn

[2018-04-20 18:50] cmsbuild commented on #23028
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-21 07:01] VinInn commented on #23028
very low priority (is there since 1998)

[2018-04-21 07:02] VinInn commented on #23028
Any evidence that it ever trigger the catch?

[2018-04-21 11:41] fabiocos commented on #20950
@davidlange6 thanks for the comment. I think that a code cleaning could be done possibly in steps, but avoiding the dependency introduced by #22911 is likely the first of them.

[2018-04-21 12:28] perrotta opened #23030 "Move GBRForest to a more central place"
Just to take note of the discussion started by @VinInn in https://github.com/cms-sw/cmssw/pull/22963#issuecomment-381311496, and the subsequent comments in the same thread, and follow up on it.

Now GBRForest stays in  "CondFormats/EgammaObjects/interface/GBRForest.h". However, that tool is not reserved for EGammObjects: therefore a more conveninent address should be found for it.

alca/db softwar

[2018-04-21 12:28] cmsbuild commented on #23030
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-21 12:28] perrotta commented on #23030
assign alca, db

[2018-04-21 12:28] cmsbuild commented on #23030
New categories assigned: db,alca

@ggovi,@lpernie,@franzoni,@arunhep,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-21 15:25] pmaksim1 commented on #20950
@davidlange @fabiocos

- we have no circular dependency

- the dependency is not only between stuff (information) but also
algorithms (how to interpolate that information, and what the information
means)

- at this point, I should probably explain that FastSim for pixels is a
bigger problem.  The code uses templates to figure out where the end pixels
of the cluster are (since the resolution crucia

[2018-04-21 16:57] kpedro88 commented on #23028
I was debugging the fastsim2 addon test error, and this triggered every few hundred events.

[2018-04-21 16:58] VinInn commented on #23028
maybe one should investigate why fastsim2 produces pt==0

[2018-04-21 17:00] kpedro88 opened #23031 "Build CMSSW_9_3_9_patch1"

[2018-04-21 17:00] cmsbuild commented on #23031
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-04-21 17:01] kpedro88 commented on #23031
+1

[2018-04-21 17:01] cmsbuild commented on #23031
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_9_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-04-21 17:01] cmsbuild commented on #23031
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-21 17:10] cmsbuild commented on #23031
The build has started for slc6_amd64_gcc630 in cmsbuild67.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1586/console
CMSDIST Branch: [REL/CMSSW_9_3_9/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_9/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-21 17:11] cmsbuild commented on #23031
The build has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1587/console
CMSDIST Branch: [REL/CMSSW_9_3_9/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_9/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-21 17:44] cmsbuild commented on #23031
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_9_patch1-slc6_amd64_gcc630/1586
Some te

[2018-04-21 17:45] cmsbuild commented on #23031
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_9_patch1-slc7_amd64_gcc630/1587
Some te

[2018-04-21 17:47] kpedro88 commented on #23031
upload all

[2018-04-21 17:47] cmsbuild commented on #23031
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-21 17:47] cmsbuild commented on #23031
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-21 17:49] cmsbuild commented on #23031
The upload has started for slc6_amd64_gcc630 in cmsbuild67.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1053/console

[2018-04-21 17:49] cmsbuild commented on #23031
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_9_patch1-slc6_amd64_gcc630/1053
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-21 17:49] cmsbuild commented on #23031
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-21 17:50] cmsbuild commented on #23031
The upload has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1054/console

[2018-04-21 17:50] cmsbuild commented on #23031
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_9_patch1-slc7_amd64_gcc630/1054
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-21 17:50] cmsbuild commented on #23031
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-21 17:55] kpedro88 commented on #23031
release-notes since CMSSW_9_3_9

[2018-04-21 17:55] cmsbuild commented on #23031
Generating release notes since CMSSW_9_3_9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-21 17:55] cmsbuild commented on #23031
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_9_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_9_patch1

Cheers,
cms-bot

You can also click <a href="m

[2018-04-21 17:56] cmsbuild commented on #23031
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_9_patch1

[2018-04-21 18:42] cmsbuild commented on #23031
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_9_patch1-slc6_amd64_gcc630/1586

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-21 18:46] cmsbuild commented on #23031
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_9_patch1-slc7_amd64_gcc630/1587

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-22 10:53] cmsbuild commented on #23017
The cleanup has started for slc6_amd64_gcc630

[2018-04-22 10:53] cmsbuild commented on #23017
The cleanup has started for slc7_amd64_gcc630

[2018-04-22 10:53] #23017 closed

[2018-04-22 10:54] cmsbuild commented on #23017
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_9-slc6_amd64_gcc630/967

[2018-04-22 11:00] cmsbuild commented on #23017
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_9-slc7_amd64_gcc630/968

[2018-04-22 14:06] fabiocos opened #23032 "Build CMSSW_10_1_2_patch2"

[2018-04-22 14:07] cmsbuild commented on #23032
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-22 14:08] fabiocos commented on #23032
+1

[2018-04-22 14:09] cmsbuild commented on #23032
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_2_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-04-22 14:09] cmsbuild commented on #23032
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-22 14:13] cmsbuild commented on #23032
The build has started for slc6_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1588/console
CMSDIST Branch: [REL/CMSSW_10_1_2/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_2/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-22 14:39] cmsbuild commented on #23032
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_2_patch2-slc6_amd64_gcc630/1588
Some t

[2018-04-22 14:45] cmsbuild commented on #23032
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_2_patch2-slc7_amd64_gcc630/1589
Some t

[2018-04-22 15:49] cmsbuild commented on #23032
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_2_patch2-slc6_amd64_gcc630/1588

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-22 16:01] cmsbuild commented on #23032
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_2_patch2-slc7_amd64_gcc630/1589

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-22 16:37] fabiocos commented on #23032
release-notes

[2018-04-22 16:37] cmsbuild commented on #23032
Generating release notes since CMSSW_10_1_2_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-22 16:37] cmsbuild commented on #23032
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_1_2_patch2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_1_2_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_2_patch2

Cheers,
cms-bot

You can also click

[2018-04-22 16:38] cmsbuild commented on #23032
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_2_patch2

[2018-04-23 09:02] fabiocos opened #23038 "Build CMSSW_7_1_32_patch1"

[2018-04-23 09:04] cmsbuild commented on #23038
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-23 09:04] fabiocos commented on #23038
+1

[2018-04-23 09:04] cmsbuild commented on #23038
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_32_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2018-04-23 09:04] cmsbuild commented on #23038
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-04-23 09:05] cmsbuild commented on #23038
The build has started for slc6_amd64_gcc481 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1590/console
CMSDIST Branch: [REL/CMSSW_7_1_32/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_32/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-23 09:44] cmsbuild commented on #23038
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_32_patch1-slc6_amd64_gcc481/1590

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2018-04-23 11:40] fabiocos commented on #23038
release-notes

[2018-04-23 11:40] cmsbuild commented on #23038
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_32_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_32 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_32_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2018-04-23 11:41] cmsbuild commented on #23038
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_32_patch1

[2018-04-23 16:08] cmsbuild commented on #23031
The cleanup has started for slc6_amd64_gcc630

[2018-04-23 16:08] cmsbuild commented on #23031
The cleanup has started for slc7_amd64_gcc630

[2018-04-23 16:08] #23031 closed

[2018-04-23 16:12] cmsbuild commented on #23031
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_9_patch1-slc6_amd64_gcc630/969

[2018-04-23 16:14] cmsbuild commented on #23031
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_9_patch1-slc7_amd64_gcc630/970

[2018-04-24 14:38] cmsbuild commented on #23032
The cleanup has started for slc6_amd64_gcc630

[2018-04-24 14:38] cmsbuild commented on #23032
The cleanup has started for slc7_amd64_gcc630

[2018-04-24 14:38] #23032 closed

[2018-04-24 14:43] cmsbuild commented on #23032
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_2_patch2-slc7_amd64_gcc630/972

[2018-04-24 14:44] cmsbuild commented on #23032
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_2_patch2-slc6_amd64_gcc630/971

[2018-04-24 19:37] pmaksim1 commented on #20950
@fabiocos @davidlange @perrotta @slava77

If you want CMS to have a better full simulation, and especially the simulation of radiation damage in pixel sensors, then @schuetzepaul 's PR (#22911) should go in asap.

I also would like to get in some feedback to the above plan.   The memory improvement can go in at any time, so we can either pull the lever on that pull request immediately, or it could

[2018-04-25 09:53] cmsbuild commented on #23038
The cleanup has started for slc6_amd64_gcc481

[2018-04-25 09:53] #23038 closed

[2018-04-25 09:56] cmsbuild commented on #23038
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_32_patch1-slc6_amd64_gcc481/973

[2018-04-25 13:43] Dr15Jones opened #23057 "reco::Muon::numberOfMatches has unusable comparison"
The clang compiler gives a warning that the comparison here:

http://cmslxr.fnal.gov/source/DataFormats/MuonReco/src/Muon.cc#0112

is always false and therefore the compiler can optimize it away. This is because `type` is an enum of type `reco::Muon::ArbitrationType` which has an implicit maximum value of 6, which is always less than `1<<7`.

If the functionality of passing an arbitrary integral v

[2018-04-25 13:43] Dr15Jones commented on #23057
assign reconstruction, analysis

[2018-04-25 13:43] cmsbuild commented on #23057
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-25 13:43] cmsbuild commented on #23057
New categories assigned: analysis,reconstruction

@slava77,@arizzi,@perrotta,@monttj,@gpetruc you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-25 13:44] Dr15Jones commented on #23057
The warning can be seen here:

 https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_2_CLANG_X_2018-04-24-2300/DataFormats/MuonReco

which is just
[code]

[2018-04-25 14:34] slava77 commented on #23057
@drkovalskyi @folguera
please take a look and have someone in the muon POG address this issue.
Thank you.

[2018-04-26 07:55] sethzenz opened #23060 "Request to add @shervin86 as member of cms-analysis organisation"
Can someone please add @shervin86 as a member of the cms-analysis organisation?  This is needed so he can be given administrative functions for the flashgg repository (Higgs to diphoton group analysis framework).

Tagging the owners: @smuzaffar @fcouderc @slava77 @vadler

I am raising this as an issue here because that was the conclusion for the best way to make these requests when we last discuss

[2018-04-26 07:56] cmsbuild commented on #23060
A new Issue was created by  @sethzenz Seth Zenz.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-26 08:16] fabiocos commented on #20950
@pmaksim1  @schuetzepaul  this PR cannot be used in a full production environment until a production release containing it is produced, and the normal timescale for the build of 10_2_0 is end of June. Of course dedicated tests could be done in pre-releases, but in general this is for limited size samples.
Could you please clarify the timescale of the software reorganization plan sketched above?

[2018-04-26 15:28] pmaksim1 commented on #20950
@fabiocos

Just talked to Morris, so here are realistic time estimates:

2) Morris is cleaning up his code so this can go next

This breaks down into two parts:

2a) Reducing memory footprint of 2D templates -- READY  (I can make a PR
within 24 hrs)

2b) cosmetic cleanup.

As you probably know, the annealing of Layer 1 was larger than we thought,
so Morris is recalibrating the current detector, so

[2018-04-26 15:37] pmaksim1 commented on #20950
I also would like to make an appeal for integrating things in smaller chunks, since

1. You can see what goes in more easily.  (Less code to wade through.)
2. All the integration tests are incredibly useful.  (I'm a big fan of adiabatic changes.)
3. Other people can develop code in the meantime; since few normal people know how to rebase properly (at least I don't), I think this will help others c

[2018-04-26 16:04] smuzaffar commented on #23060
@sethzenz , I have sent the invitation to @shervin86 to join the  https://github.com/orgs/cms-analysis/teams/higgsanalysis-flashgg-admin/members  team

[2018-04-26 16:04] #23060 closed

[2018-04-27 08:21] fabiocos opened #23078 "Build CMSSW_10_2_0_pre2"

[2018-04-27 08:24] cmsbuild commented on #23078
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1592/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 08:25] cmsbuild commented on #23078
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1593/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 08:26] cmsbuild commented on #23078
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1594/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 09:38] cmsbuild commented on #23078
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1595/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 11:00] cmsbuild commented on #23078
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc7_amd64_gcc700/1594

[2018-04-27 12:34] cmsbuild commented on #23078
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc6_amd64_gcc700/1592

[2018-04-27 12:46] cmsbuild commented on #23078
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc7_amd64_gcc630/1593

[2018-04-27 12:55] cmsbuild commented on #23078
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc6_amd64_gcc630/1591

[2018-04-27 14:05] fabiocos commented on #23078
+1

[2018-04-27 14:05] cmsbuild commented on #23078
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-04-27 14:05] cmsbuild commented on #23078
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2018-04-27 14:15] cmsbuild commented on #23078
The build has started for slc6_amd64_gcc630 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1596/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 14:25] cmsbuild commented on #23078
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1597/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 14:31] cmsbuild commented on #23078
The build has started for slc7_amd64_gcc630 in cmsbuild63.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1598/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 14:52] cmsbuild commented on #23078
The build has started for slc7_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1599/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 15:09] slava77 commented on #22706
I see that today in cms-hlt there was a report of this warning again

[code]

@deguio
what is the status of following up on this issue?

[2018-04-27 15:10] cmsbuild commented on #23078
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1600/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-27 16:46] cmsbuild commented on #23078
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc6_amd64_gcc700/1597
Some tes

[2018-04-27 17:55] cmsbuild commented on #23078
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc6_amd64_gcc700/1597

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-27 18:03] cmsbuild commented on #23078
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc7_aarch64_gcc700/1600
Some

[2018-04-27 18:28] cmsbuild commented on #23078
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc7_amd64_gcc630/1598
Some tes

[2018-04-27 19:31] cmsbuild commented on #23078
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc7_amd64_gcc700/1599
Some tes

[2018-04-27 19:44] cmsbuild commented on #23078
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc7_amd64_gcc630/1598

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-27 20:31] cmsbuild commented on #23078
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc6_amd64_gcc630/1596
Some tes

[2018-04-27 20:47] cmsbuild commented on #23078
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc7_amd64_gcc700/1599

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-27 21:45] cmsbuild commented on #23078
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre2-slc6_amd64_gcc630/1596

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-28 05:24] cmsbuild commented on #23078
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1060/console

[2018-04-28 05:24] cmsbuild commented on #23078
The upload has started for slc7_amd64_gcc630 in cmsbuild63.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1061/console

[2018-04-28 05:25] cmsbuild commented on #23078
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre2-slc7_aarch64_gcc700/1060
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-28 05:25] cmsbuild commented on #23078
The upload has started for slc7_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1062/console

[2018-04-28 05:26] cmsbuild commented on #23078
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre2-slc7_amd64_gcc630/1061
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-28 05:26] cmsbuild commented on #23078
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-28 05:27] cmsbuild commented on #23078
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre2-slc7_amd64_gcc700/1062
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-28 05:27] cmsbuild commented on #23078
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-28 05:30] cmsbuild commented on #23078
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre2-slc6_amd64_gcc630/1058
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-28 05:30] cmsbuild commented on #23078
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-28 05:35] cmsbuild commented on #23078
The upload has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1059/console

[2018-04-28 05:48] cmsbuild commented on #23078
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre2-slc6_amd64_gcc700/1059
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-28 05:48] cmsbuild commented on #23078
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-28 05:49] fabiocos commented on #23078
release-notes

[2018-04-28 05:50] cmsbuild commented on #23078
Generating release notes since CMSSW_10_2_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-28 05:50] cmsbuild commented on #23078
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_2_0_pre2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_0_pre2

Cheers,
cms

[2018-04-28 05:50] cmsbuild commented on #23078
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre2

[2018-04-28 09:05] deguio commented on #22706
hi @slava77
I let @jkunkle comment on this.
my understanding is that a new uHTR was installed in the HCAL crate 38 recently. I think that the agreement is not to have it included in the readout when running in global, but I let @jkunkle confirm.

[2018-04-30 03:53] cmsbuild commented on #23078
The cleanup has started for slc7_aarch64_gcc700

[2018-04-30 03:53] cmsbuild commented on #23078
The cleanup has started for slc6_amd64_gcc630

[2018-04-30 03:53] cmsbuild commented on #23078
The cleanup has started for slc6_amd64_gcc700

[2018-04-30 03:53] cmsbuild commented on #23078
The cleanup has started for slc7_amd64_gcc630

[2018-04-30 03:53] cmsbuild commented on #23078
The cleanup has started for slc7_amd64_gcc700

[2018-04-30 03:53] #23078 closed

[2018-04-30 03:54] cmsbuild commented on #23078
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc7_aarch64_gcc700/976

[2018-04-30 03:55] cmsbuild commented on #23078
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc6_amd64_gcc700/975

[2018-04-30 04:01] cmsbuild commented on #23078
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc6_amd64_gcc630/974

[2018-04-30 04:01] cmsbuild commented on #23078
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc7_amd64_gcc630/977

[2018-04-30 04:07] cmsbuild commented on #23078
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc7_amd64_gcc700/978

[2018-04-30 04:11] cmsbuild commented on #23078
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc7_amd64_gcc700/982

[2018-04-30 04:13] cmsbuild commented on #23078
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc6_amd64_gcc700/980

[2018-04-30 04:14] cmsbuild commented on #23078
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc6_amd64_gcc630/979

[2018-04-30 04:14] cmsbuild commented on #23078
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre2-slc7_amd64_gcc630/981

[2018-04-30 10:26] #22586 closed

[2018-04-30 14:28] slava77 commented on #22185
+1

this is now resolved with #21659 (merged in the 10_2_X on Apr 14, present in 10_2_0_pre2).
The 93X version #21193  is probably going to be merged if really needed

[2018-04-30 14:28] #22185 closed

[2018-04-30 14:29] slava77 commented on #21637
+1

done in #23022 . This is merged in the master and is available from 10_2_0_pre2

[2018-04-30 14:29] cmsbuild commented on #21637
This issue is fully signed and ready to be closed.

[2018-04-30 14:32] slava77 commented on #20700
+1

this was resolved in #22963 and is available in 10_2_X (from Apr 18) in 10_2_0_pre2

[2018-04-30 14:32] #20700 closed

[2018-04-30 14:32] cmsbuild commented on #20700
This issue is fully signed and ready to be closed.

[2018-04-30 14:34] slava77 commented on #23057
@drkovalskyi @folguera
please clarify on the status of addressing this issue.

[2018-04-30 14:43] drkovalskyi commented on #23057
Need to find time to understand who and why coded it this way and provide a proper fix.

[2018-04-30 14:47] slava77 commented on #22706
I made #23089
to reduce the number of redundant messages.

[2018-04-30 17:28] fwyzard commented on #22475
Coming back to this - I've tested on the few machines I regularly use, except for my laptop (I no longer have a working CentOS container on it, I will give it a try after reinstalling it), and everything works as intended.

Actually, I think you can simplify the check to
[code]

[2018-04-30 21:14] khurtado opened #23100 "numpy not found in slc6_amd64_gcc630 / CMSSW_9_3_0"
If I setup `CMSSW_9_3_0` on `slc6_amd64_gcc630`, numpy can't be found:

[code]
Looking into `PYTHONPATH`, the numpy version appended to it by default is:
[code]

This directory doesn't have the `numpy` module directory in it as-is though, as opposed to other versions like 1.14, which is why `import numpy` doesn't work. It has `numpy-1.12.1-py2.7-linux-x86_64.egg` instead
[code]
Can this be fixed?

[2018-04-30 21:14] cmsbuild commented on #23100
A new Issue was created by  @khurtado Kenyi Hurtado.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-30 21:30] davidlange6 commented on #23100
Do cmsenv to get the cms python not the slc6 one.

Cheers,
David

On 30 Apr 2018, at 23:15, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

A new Issue was created by @khurtado<https://github.com/khurtado> Kenyi Hurtado.

@davidlange6<https://github.com/davidlange6>, @Dr15Jones<https://github.com/Dr15Jones>, @smuzaffar<https://github.com/smuzaffar>, @fabiocos<https://g

[2018-04-30 21:34] khurtado commented on #23100
@davidlange6 I'm doing cmsenv in my local release of course. You can check below my `CMSSW_BASE` and python is properly set to the proper cvmfs path, but numpy is not in the CMS/cvmfs environment (well, it is in PYTHONPATH, just not working for the reason in above)

[code]

[2018-04-30 21:40] davidlange6 commented on #23100
Could you send an actual recipe starting from a new long shell then? (930 is pretty much obsolete regardless)

Cheers,
David

On 30 Apr 2018, at 23:35, Kenyi Hurtado <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> I'm doing cmsenv in my local release of course. You can check below my CMSSW_BASE and python is properly set to the prope

[2018-04-30 22:01] khurtado commented on #23100
@davidlange6
So, executing the script below in CMS Connect gave me the following output:

[code]

testnumpy.sh script:
[code]

[2018-04-30 22:03] khurtado commented on #23100
Ah, actually, executing it on `lxplus` works somehow. If I uninstall `numpy` from CMS Connect then it also works, which I find weird, because the he numpy version provided by the system is at the very end of the PYTHONPATH environment. I don't think I need to provide `numpy` outside cms though, so I will leave it like that and close this issue.

[2018-04-30 22:03] #23100 closed

[2018-05-01 20:44] slava77 opened #23105 "reproducibility problems in hiSelectedPixelVertex in 102X"
There are somewhat random changes in hiSelectedPixelVertex in reco the HI workflows.
This started showing up in 20-40% of jenkins tests starting from CMSSW_10_2_X_2018-04-26-2300 (8 out of about 35 tests have this issue, while at least 60 tests before this IB do not have it).
This coincides with merging of https://github.com/cms-sw/cmsdist/pull/3957, which advanced from ROOT 6.10.09 to 6.12.07.

H

[2018-05-01 20:44] cmsbuild commented on #23105
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-01 20:44] slava77 commented on #23105
assign reconstruction,core

[2018-05-01 20:44] cmsbuild commented on #23105
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-01 21:14] Dr15Jones commented on #23105
@smuzaffar @slava77 by Jenkins tests, do you mean the RelVals or tests done for pull request? I had thought the pull request tests were always run single threaded.

[2018-05-01 21:57] slava77 commented on #23105
On 5/1/18 2:14 PM, Chris Jones wrote:

This is for tests of pull requests, in tests of unrelated PRs.
I think that these are all single threaded.

[2018-05-02 07:59] fabiocos opened #23108 "Build CMSSW_9_4_7"

[2018-05-02 08:00] cmsbuild commented on #23108
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-02 08:02] fabiocos commented on #23108
+1

[2018-05-02 08:04] cmsbuild commented on #23108
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-05-02 08:04] cmsbuild commented on #23108
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-05-02 08:06] cmsbuild commented on #23108
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1601/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-05-02 08:08] cmsbuild commented on #23108
The build has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1602/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-05-02 10:41] cmsbuild commented on #23108
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_7-slc7_amd64_gcc630/1602
Some tests ( r

[2018-05-02 10:46] cmsbuild commented on #23108
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_7-slc6_amd64_gcc630/1601
Some tests ( r

[2018-05-02 11:55] cmsbuild commented on #23108
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_7-slc6_amd64_gcc630/1601

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-05-02 12:00] cmsbuild commented on #23108
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_7-slc7_amd64_gcc630/1602

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-05-02 13:02] kpedro88 opened #23112 "Build CMSSW_9_3_10"

[2018-05-02 13:04] cmsbuild commented on #23112
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-05-02 13:12] kpedro88 commented on #23112
+1

[2018-05-02 13:13] cmsbuild commented on #23112
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-05-02 13:13] cmsbuild commented on #23112
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-05-02 13:15] cmsbuild commented on #23112
The build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1603/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-05-02 13:15] cmsbuild commented on #23112
The build has started for slc7_amd64_gcc630 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1604/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-05-02 13:35] Dr15Jones commented on #23105
So it appears the other fit @slava77 was thinking about is

https://github.com/cms-sw/cmssw/blob/4f8dcb180b08a30fae793c4c8b99bcb399e045c6/RecoHI/HiTracking/plugins/HIPixelMedianVtxProducer.cc#L164

[2018-05-02 13:36] Dr15Jones commented on #23105
@slava77 @makortel do either of you have an exact workflow showing the problem? I'm thinking a run of valgrind is in order.

[2018-05-02 13:43] slava77 commented on #23105
140.53 step2 is the place where it happens for the reco values.

DQM diffs in jenkins show up in many places (in 25 out of 29 running workflows in one of the cases that I checked)

[2018-05-02 13:45] makortel commented on #23105
@Dr15Jones for the DQM e.g. workflow 10024.0 HARVESTING step.

[2018-05-02 13:46] dan131riley commented on #23105
@slava77 in what sense are the changes "somewhat random"?  Are there different changes from run to run, or are they consistent but with no obvious pattern?  Comparing, for example

https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_2_X_2018-04-30-1100+23065/26340/10024.0_TTbar_13+TTbar_13TeV_TuneCUETP8M1_2017_GenSimFull+DigiFull_2017+RecoFull_2017+HARVESTFull_2017+ALCAFull_2

[2018-05-02 13:49] makortel commented on #23105
@dan131riley Earlier these histograms had exactly the same values, unless any of the input histograms to these fits changed. In that case there has been numerical changes also in the fit results of unrelated histgorams (because of some internal state of Minuit as far as I've understood).

[2018-05-02 14:11] Dr15Jones commented on #23105
@pcanal FYI

[2018-05-02 14:14] fabiocos commented on #23108
upload all

[2018-05-02 14:15] cmsbuild commented on #23108
Queing Jenkins upload for slc6_amd64_gcc630

[2018-05-02 14:17] cmsbuild commented on #23108
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1063/console

[2018-05-02 14:17] cmsbuild commented on #23108
The upload has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1064/console

[2018-05-02 14:18] cmsbuild commented on #23108
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_7-slc7_amd64_gcc630/1064
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-02 14:18] cmsbuild commented on #23108
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-02 14:18] cmsbuild commented on #23108
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_7-slc6_amd64_gcc630/1063
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-02 14:18] cmsbuild commented on #23108
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-02 14:35] fabiocos commented on #23108
release-notes

[2018-05-02 14:35] cmsbuild commented on #23108
Generating release notes since CMSSW_9_4_6_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-02 14:35] cmsbuild commented on #23108
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_7 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_6_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_7

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-

[2018-05-02 14:36] cmsbuild commented on #23108
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_7

[2018-05-02 15:11] fabiocos opened #23116 "Problem with edmConfigDump on reco step"
While checking for a Tier0 crash, I realized that the edmConfigDump expansion of the provided PSet.py for prompt reco (CMSSW_10_1_2_patch2) is unrunnable:

edmConfigDump PSet.py > ! full.py ; cmsRun full.py

----- Begin Fatal Exception 02-May-2018 16:53:19 CEST-----------------------
An exception of category 'ConfigFileReadError' occurred while
   [0] Processing the python configuration file named

[2018-05-02 15:11] cmsbuild commented on #23116
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-02 15:11] fabiocos commented on #23116
@slava77 @perrotta FYI

[2018-05-02 15:57] slava77 commented on #23116
assign core

as we discussed in the skype call, the problem is lack of support for syntax like ```float('Inf')``` in the config dump. Ideally, the configDump should produce it back instead of a plain text ```inf```, which is not recognized by the parser

[2018-05-02 15:57] cmsbuild commented on #23116
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-02 16:11] dan131riley commented on #23105
Between the versions there are substantial changes to the mathcore Fitter and hist TF1 classes, mostly for IMT and vectorization.  I can certainly imagine those could change what gets left in the results of failed fits.

[2018-05-02 16:26] cmsbuild commented on #23112
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_10-slc7_amd64_gcc630/1604
Some tests (

[2018-05-02 17:33] dan131riley commented on #23105
That theory isn't looking good...I modified HIPixelMedianVtxProducer with

    auto status = histo.Fit(&f1,"QN");
    if (status) {
      edm::LogSystem("HIPixelMedianVtxProducer") << "Fit failed " << med + f1.GetParameter(1) << " +- " << f1.GetParError(1) << " cm";
    }

and ran 140.53 step2 in CMSSW_10_2_0_pre1 and CMSSW_10_2_0_pre1_ROOT612.  I got two fit failures (on the same event) in each,

[2018-05-02 18:12] dan131riley commented on #23105
Looking at all fits and boosting the precision I get one difference:

    -Fit result 6.041964245417202228 +- 0.001913964442836382784 cm
    +Fit result 6.041964245416591162 +- 0.001913964442221971485 cm

I have no idea if that's large enough to produce the differences @slava77 saw.

[2018-05-02 18:57] cmsbuild commented on #23112
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_10-slc6_amd64_gcc630/1603
Some tests (

[2018-05-02 19:57] cmsbuild commented on #23112
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_10-slc6_amd64_gcc630/1603

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-05-02 20:00] kpedro88 commented on #23112
upload all

[2018-05-02 20:02] cmsbuild commented on #23112
Queing Jenkins upload for slc6_amd64_gcc630

[2018-05-02 20:02] cmsbuild commented on #23112
Queing Jenkins upload for slc7_amd64_gcc630

[2018-05-02 20:03] cmsbuild commented on #23112
The upload has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1065/console

[2018-05-02 20:03] cmsbuild commented on #23112
The upload has started for slc7_amd64_gcc630 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1066/console

[2018-05-02 20:04] cmsbuild commented on #23112
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_10-slc7_amd64_gcc630/1066
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-02 20:04] cmsbuild commented on #23112
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-02 20:08] cmsbuild commented on #23112
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_10-slc6_amd64_gcc630/1065
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-02 20:09] cmsbuild commented on #23112
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-02 20:10] kpedro88 commented on #23112
release-notes since CMSSW_9_3_9_patch1

[2018-05-02 20:10] cmsbuild commented on #23112
Generating release notes since CMSSW_9_3_9_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-02 20:10] cmsbuild commented on #23112
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_10 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_9_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_10

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2018-05-02 20:11] cmsbuild commented on #23112
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_10

[2018-05-02 21:55] smrenna commented on #22214
I did talk to Stefan about this, and he says life is tough, Dire is slow.

On Mar 26, 2018, at 9:15 AM, Markus Seidel <notifications@github.com<mailto:notifications@github.com>> wrote:

@smrenna<https://github.com/smrenna> Do you have an idea about this? Or should we update and retest (and cross fingers) with Dire 2.002 once it becomes available?

—
You are receiving this because you were mentione

[2018-05-03 06:46] fabiocos opened #23122 "Build CMSSW_10_1_3"

[2018-05-03 06:47] cmsbuild commented on #23122
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-03 06:47] fabiocos commented on #23122
+1

[2018-05-03 06:48] cmsbuild commented on #23122
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-05-03 06:48] cmsbuild commented on #23122
The build has started for slc6_amd64_gcc630 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1605/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-03 06:49] cmsbuild commented on #23122
The build has started for slc7_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1606/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-03 08:54] cmsbuild commented on #23122
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_3-slc7_amd64_gcc630/1606
Some tests (

[2018-05-03 11:45] cmsbuild commented on #23122
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_3-slc6_amd64_gcc630/1605
Some tests (

[2018-05-03 12:49] cmsbuild commented on #23122
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_3-slc6_amd64_gcc630/1605

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-03 13:10] fabiocos commented on #23122
upload all

[2018-05-03 13:10] cmsbuild commented on #23122
Queing Jenkins upload for slc6_amd64_gcc630

[2018-05-03 13:10] cmsbuild commented on #23122
Queing Jenkins upload for slc7_amd64_gcc630

[2018-05-03 13:11] cmsbuild commented on #23122
The upload has started for slc7_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1068/console

[2018-05-03 13:11] cmsbuild commented on #23122
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_3-slc7_amd64_gcc630/1068
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-03 13:11] cmsbuild commented on #23122
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-03 13:16] cmsbuild commented on #23122
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_3-slc6_amd64_gcc630/1067
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-03 13:17] cmsbuild commented on #23122
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-03 13:31] fabiocos commented on #23122
release-notes

[2018-05-03 13:31] cmsbuild commented on #23122
Generating release notes since CMSSW_10_1_2_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-03 13:31] cmsbuild commented on #23122
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_1_2_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_3

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2018-05-03 13:32] cmsbuild commented on #23122
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_3

[2018-05-03 13:34] dan131riley commented on #23105
The DQMGenericClient fit is actually from here:

https://github.com/cms-sw/cmssw/blob/fcaf82171989353b11cafb15c3f20e6a6bf4dd70/DQMServices/ClientConfig/src/FitSlicesYTool.cc#L14

from here:

https://github.com/cms-sw/cmssw/blob/fcaf82171989353b11cafb15c3f20e6a6bf4dd70/DQMServices/ClientConfig/plugins/DQMGenericClient.cc#L718

[2018-05-03 16:16] slava77 commented on #23105
curiously:
in https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_2_X_2018-05-02-1100+23119/26369/ there are no changes neither in DQM nor in the HI.
OTOH, the same IB but a different PR https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_2_X_2018-05-02-1100+23065/26360/ has differences both in the HI and in the DQM plots in many workflows (not related t

[2018-05-03 16:22] slava77 opened #23130 "add a Run2018A workflow to the matrix"
We have collected some data already and 2018 is different from 2017 to require occasional testing.
Please add a workflow (set) for 2018A.

[2018-05-03 16:26] boudoul commented on #23130
May I suggest a cosmic 2018 data WF too ?
Perhaps older cosmic data wf could be dropped.
Thank you.

[2018-05-03 16:37] fabozzi commented on #23130
A deployment of a new workflow should involve also Alca team for the availability of GT in autoCond.
Also, we would like to be adviced on a sensible run to be used in input

[2018-05-03 16:47] slava77 opened #23131 "reduce duplicated code in PFJetIDSelectionFunctor"
it looks like ```PFJetIDSelectionFunctor( edm::ParameterSet const & params )``` and ```PFJetIDSelectionFunctor( Version_t version, Quality_t quality )``` have about 200 lines of the same implementation which has to be maintained in a duplicate. This should be refactored.

@ahinzmann @rappoccio @zdemirag

[2018-05-03 16:47] cmsbuild commented on #23131
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-03 16:49] slava77 commented on #23131
assign reconstruction,analysis

[2018-05-03 16:49] cmsbuild commented on #23131
New categories assigned: analysis,reconstruction

@slava77,@arizzi,@perrotta,@monttj,@gpetruc you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-03 17:02] slava77 commented on #23130
assign alca
to get a relevant GT

@sasharma6 (I'm not sure about the github token) please suggest what's good for a run number with collisions in 2018A.

[2018-05-03 17:02] cmsbuild commented on #23130
New categories assigned: alca

@lpernie,@franzoni,@arunhep,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-03 17:02] dan131riley commented on #23105
It's not entirely consistent, even...compare

https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_2_X_2018-05-02-1100+23065/26360/25202.0_TTbar_13+TTbar_13+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25/

https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_2_X_2018-05-02-1100+23120/26370/25202.0_TTbar_13+TTbar_13+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU2

[2018-05-03 17:55] Dr15Jones commented on #23116
fixed by #23133

[2018-05-03 19:35] smuzaffar commented on #23105
We can run the comparison for same IB twice to see if it generate random results.

[2018-05-04 07:26] fabiocos commented on #23130
@fabozzi @prebello I think it would be useful to have some Tier0 like workflows (as 1000, 1001) to have a fresh test of production workflows (for what is possible) before moving to Tier0 replays

[2018-05-04 10:44] fabozzi commented on #23130
@fabiocos: we do not really know anything about these T0 workflows and sequences. I add @mmusich in CC  just because in the history he is the last one to have made some commits on those

[2018-05-04 12:38] cmsbuild commented on #23108
The cleanup has started for slc6_amd64_gcc630

[2018-05-04 12:38] cmsbuild commented on #23108
The cleanup has started for slc7_amd64_gcc630

[2018-05-04 12:38] #23108 closed

[2018-05-04 12:39] cmsbuild commented on #23108
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_7-slc7_amd64_gcc630/984

[2018-05-04 12:46] cmsbuild commented on #23108
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_7-slc6_amd64_gcc630/983

[2018-05-04 14:45] fabiocos commented on #23116
@Dr15Jones thank you Chris, I confirm that with this PR now the classical step3 configuration is executable again:

`process.mvaEleID_Fall17_iso_V1_producer_config = cms.PSet(
    beamSpot = cms.InputTag("offlineBeamSpot"),
    clipLower = cms.vdouble(
        -float('inf'), -float('inf'), -1.0, -float('inf'), -float('inf'),
        -float('inf'), -float('inf'), -float('inf'), -float('inf'), -floa

[2018-05-04 14:45] #23116 closed

[2018-05-04 18:30] cmsbuild commented on #23112
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_10-slc6_amd64_gcc630/985

[2018-05-04 18:30] cmsbuild commented on #23112
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_10-slc7_amd64_gcc630/986

[2018-05-05 11:38] cmsbuild commented on #23122
The cleanup has started for slc6_amd64_gcc630

[2018-05-05 11:38] cmsbuild commented on #23122
The cleanup has started for slc7_amd64_gcc630

[2018-05-05 11:38] #23122 closed

[2018-05-05 11:39] cmsbuild commented on #23122
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_3-slc7_amd64_gcc630/988

[2018-05-05 11:45] cmsbuild commented on #23122
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_3-slc6_amd64_gcc630/987

[2018-05-06 14:49] fabiocos commented on #20950
After a direct discussion, we agreed that the plan might converge for 10_2_X. For this reason I integrate #22911 , leaving for some period with this dependency, in view of a global cleaning of the code.

[2018-05-06 14:56] pmaksim1 commented on #20950
@slava77 @perrotta @boudoul @veszpv @tvami @tsusa @schuetzepaul @ssekmen

Hi everybody, @fabiocos and I talked just now and agreed on the following plan:
1) integrating #22911 (as Fabio mentioned above)
2) 2D template memory improvements + bug fixes + cosmetic cleanup = new PR this week (Wed or more likely Thu)
3) FastSim for pixels = another new and independend PR (Fri or next weekend)
4) further

[2018-05-07 20:28] fabiocos opened #23161 "Build CMSSW_10_1_4"

[2018-05-07 20:28] cmsbuild commented on #23161
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-07 20:29] fabiocos commented on #23161
+1

[2018-05-07 20:30] cmsbuild commented on #23161
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-05-07 20:30] cmsbuild commented on #23161
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-05-07 20:31] cmsbuild commented on #23161
The build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1608/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-07 20:31] cmsbuild commented on #23161
The build has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1607/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-07 20:34] fabiocos opened #23163 "Build CMSSW_10_2_0_pre3"

[2018-05-07 20:35] cmsbuild commented on #23163
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-07 20:36] fabiocos commented on #23163
+1

[2018-05-07 20:36] cmsbuild commented on #23163
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-05-07 20:36] cmsbuild commented on #23163
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2018-05-07 20:37] cmsbuild commented on #23163
The build has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1610/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-07 20:37] cmsbuild commented on #23163
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1609/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-07 20:37] cmsbuild commented on #23163
The build has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1611/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-07 20:37] cmsbuild commented on #23163
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1612/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-07 20:55] dan131riley commented on #23105
Running valgrind on step4 gives thousands of uninitialized values used with tracebacks like

[code]

because a `Comp2RefChi2` is getting used without being initialized.  Modifying https://github.com/cms-sw/cmssw/blob/e6ba533090d6818a2cb8be31be56d5fb21802d26/DQMServices/Core/interface/QTest.h#L209 to initialize to 0 makes all of them go away but doesn't change the results, and there are no further

[2018-05-07 23:36] cmsbuild commented on #23163
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc7_amd64_gcc700/1612
Some tes

[2018-05-07 23:43] cmsbuild commented on #23163
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc6_amd64_gcc700/1610
Some tes

[2018-05-08 00:41] cmsbuild commented on #23161
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_4-slc7_amd64_gcc630/1608
Some tests (

[2018-05-08 01:08] cmsbuild commented on #23163
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc7_amd64_gcc700/1612

Tests results:
30 29 28 23 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-08 01:15] cmsbuild commented on #23163
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc6_amd64_gcc700/1610

Tests results:
30 29 28 23 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-08 01:19] cmsbuild commented on #23163
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc6_amd64_gcc630/1609
Some tes

[2018-05-08 01:36] cmsbuild commented on #23163
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc7_amd64_gcc630/1611
Some tes

[2018-05-08 02:00] cmsbuild commented on #23161
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_4-slc7_amd64_gcc630/1608

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-08 03:14] cmsbuild commented on #23163
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc6_amd64_gcc630/1609

Tests results:
30 29 28 23 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-08 06:12] cmsbuild commented on #23161
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_4-slc6_amd64_gcc630/1607
Some tests (

[2018-05-08 07:26] fabiocos commented on #23163
@smuzaffar what is going on with aarch64? It appears in the initial message, but then it si not visible any more, and I do not see it in the Jenkins job. For the rest the release could be uploaded

[2018-05-08 07:31] cmsbuild commented on #23163
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1613/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-08 08:07] smuzaffar commented on #23163
@fabiocos , jenkins is in some weird state and for some days it is not automatically connecting to aarch64 machines. We are by hand forcing jenkins to start aarch64 machines. Anyway, pre3 is not building for aarch64.

Sometimes just restarting jenkins fixes such issues, we will do it when jenkins' queue is bit empty.

[2018-05-08 09:53] cmsbuild commented on #23161
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_4-slc6_amd64_gcc630/1607

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-08 09:59] fabiocos commented on #23163
@smuzaffar ok, so I move forward with the upload of the rest

[2018-05-08 09:59] fabiocos commented on #23161
upload all

[2018-05-08 10:00] fabiocos commented on #23163
upload all

[2018-05-08 10:00] cmsbuild commented on #23161
Queing Jenkins upload for slc6_amd64_gcc630

[2018-05-08 10:00] cmsbuild commented on #23161
Queing Jenkins upload for slc7_amd64_gcc630

[2018-05-08 10:00] cmsbuild commented on #23163
Queing Jenkins upload for slc6_amd64_gcc630

[2018-05-08 10:00] cmsbuild commented on #23163
Queing Jenkins upload for slc6_amd64_gcc700

[2018-05-08 10:00] cmsbuild commented on #23163
Queing Jenkins upload for slc7_amd64_gcc630

[2018-05-08 10:00] cmsbuild commented on #23163
Queing Jenkins upload for slc7_amd64_gcc700

[2018-05-08 10:02] cmsbuild commented on #23161
The upload has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1070/console

[2018-05-08 10:02] cmsbuild commented on #23161
The upload has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1069/console

[2018-05-08 10:03] cmsbuild commented on #23163
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1071/console

[2018-05-08 10:03] cmsbuild commented on #23161
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_4-slc7_amd64_gcc630/1070
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-08 10:03] cmsbuild commented on #23161
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-08 10:04] cmsbuild commented on #23163
The upload has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1072/console

[2018-05-08 10:04] cmsbuild commented on #23163
The upload has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1073/console

[2018-05-08 10:04] cmsbuild commented on #23163
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre3-slc6_amd64_gcc700/1072
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-08 10:04] cmsbuild commented on #23163
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-08 10:05] cmsbuild commented on #23163
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1074/console

[2018-05-08 10:05] cmsbuild commented on #23163
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre3-slc6_amd64_gcc630/1071
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-08 10:05] cmsbuild commented on #23163
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-08 10:06] cmsbuild commented on #23163
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre3-slc7_amd64_gcc630/1073
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-08 10:06] cmsbuild commented on #23163
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-08 10:06] cmsbuild commented on #23163
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre3-slc7_amd64_gcc700/1074
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-08 10:06] cmsbuild commented on #23163
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-08 10:12] cmsbuild commented on #23161
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_4-slc6_amd64_gcc630/1069
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-08 10:12] cmsbuild commented on #23161
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-08 10:59] fabiocos commented on #23161
release-notes

[2018-05-08 10:59] cmsbuild commented on #23161
Generating release notes since CMSSW_10_1_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-08 10:59] cmsbuild commented on #23161
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_4 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_1_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_4

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-05-08 10:59] fabiocos commented on #23163
release-notes

[2018-05-08 11:00] cmsbuild commented on #23163
Generating release notes since CMSSW_10_2_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-08 11:00] cmsbuild commented on #23163
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_2_0_pre3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_0_pre3

Cheers,
cms

[2018-05-08 11:00] cmsbuild commented on #23161
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_4

[2018-05-08 11:01] cmsbuild commented on #23163
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre3

[2018-05-08 11:52] cmsbuild commented on #23163
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc7_aarch64_gcc700/1613
Some

[2018-05-08 11:52] cmsbuild commented on #23163
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-05-08 11:55] cmsbuild commented on #23163
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1075/console

[2018-05-08 11:56] cmsbuild commented on #23163
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre3-slc7_aarch64_gcc700/1075
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-08 15:00] cmsbuild commented on #23163
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre3-slc7_aarch64_gcc700/1613

Tests results:
30 29 27 8 1 1 1 1 1 tests passed, 0 0 1 15 4 0 0 0 0 failed

[2018-05-09 07:46] fabiocos opened #23172 "Build CMSSW_7_1_33"

[2018-05-09 07:46] cmsbuild commented on #23172
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-09 07:48] fabiocos commented on #23172
+1

[2018-05-09 07:48] cmsbuild commented on #23172
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_33. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2018-05-09 07:48] cmsbuild commented on #23172
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-05-09 07:49] cmsbuild commented on #23172
The build has started for slc6_amd64_gcc481 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1614/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-05-09 10:37] cmsbuild commented on #23172
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_33-slc6_amd64_gcc481/1614
Some tests (

[2018-05-09 10:52] cmsbuild commented on #23172
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_33-slc6_amd64_gcc481/1614

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2018-05-09 15:28] fabiocos commented on #23172
upload all

[2018-05-09 15:28] cmsbuild commented on #23172
Queing Jenkins upload for slc6_amd64_gcc481

[2018-05-09 15:29] cmsbuild commented on #23172
The upload has started for slc6_amd64_gcc481 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1076/console

[2018-05-09 15:30] cmsbuild commented on #23172
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_33-slc6_amd64_gcc481/1076
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-09 15:38] fabiocos commented on #23172
release-notes

[2018-05-09 15:38] cmsbuild commented on #23172
Generating release notes since CMSSW_7_1_32_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-09 15:38] cmsbuild commented on #23172
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_33 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_32_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_33

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2018-05-09 15:39] cmsbuild commented on #23172
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_33

[2018-05-10 09:08] cmsbuild commented on #23163
The cleanup has started for slc7_aarch64_gcc700

[2018-05-10 09:08] cmsbuild commented on #23163
The cleanup has started for slc6_amd64_gcc630

[2018-05-10 09:08] cmsbuild commented on #23163
The cleanup has started for slc6_amd64_gcc700

[2018-05-10 09:08] cmsbuild commented on #23163
The cleanup has started for slc7_amd64_gcc630

[2018-05-10 09:08] cmsbuild commented on #23163
The cleanup has started for slc7_amd64_gcc700

[2018-05-10 09:08] #23163 closed

[2018-05-10 09:08] cmsbuild commented on #23161
The cleanup has started for slc6_amd64_gcc630

[2018-05-10 09:08] cmsbuild commented on #23161
The cleanup has started for slc7_amd64_gcc630

[2018-05-10 09:08] #23161 closed

[2018-05-10 09:09] cmsbuild commented on #23163
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre3-slc6_amd64_gcc700/992

[2018-05-10 09:10] cmsbuild commented on #23163
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre3-slc6_amd64_gcc630/991

[2018-05-10 09:11] cmsbuild commented on #23163
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre3-slc7_aarch64_gcc700/993

[2018-05-10 09:12] cmsbuild commented on #23163
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre3-slc7_amd64_gcc700/995

[2018-05-10 09:15] cmsbuild commented on #23161
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_4-slc6_amd64_gcc630/989

[2018-05-10 09:15] cmsbuild commented on #23161
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_4-slc7_amd64_gcc630/990

[2018-05-10 09:19] cmsbuild commented on #23163
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre3-slc7_amd64_gcc630/994

[2018-05-10 13:24] fabiocos opened #23184 "Build CMSSW_10_1_4_patch1"

[2018-05-10 13:25] cmsbuild commented on #23184
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-10 17:42] cmsbuild commented on #23184
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_4_patch1-slc6_amd64_gcc630/1615
Some t

[2018-05-10 17:44] cmsbuild commented on #23184
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_4_patch1-slc7_amd64_gcc630/1616
Some t

[2018-05-10 18:54] cmsbuild commented on #23184
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_4_patch1-slc6_amd64_gcc630/1615

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-10 19:09] cmsbuild commented on #23184
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_4_patch1-slc7_amd64_gcc630/1616

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-10 20:15] fabiocos commented on #23184
@smuzaffar I guess the error on slc7_amd64_gcc700 is due to the fact that this is a patch release, and there is no base release for that architecture

[2018-05-10 20:15] fabiocos commented on #23184
upload all

[2018-05-10 20:15] cmsbuild commented on #23184
Queing Jenkins upload for slc6_amd64_gcc630

[2018-05-10 20:15] cmsbuild commented on #23184
Queing Jenkins upload for slc7_amd64_gcc630

[2018-05-10 20:18] cmsbuild commented on #23184
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1077/console

[2018-05-10 20:18] cmsbuild commented on #23184
The upload has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1078/console

[2018-05-10 20:18] cmsbuild commented on #23184
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_4_patch1-slc6_amd64_gcc630/1077
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-10 20:18] cmsbuild commented on #23184
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_4_patch1-slc7_amd64_gcc630/1078
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-10 20:18] cmsbuild commented on #23184
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-10 20:18] cmsbuild commented on #23184
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-10 20:27] fabiocos commented on #23184
release-notes

[2018-05-10 20:28] cmsbuild commented on #23184
Generating release notes since CMSSW_10_1_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-10 20:28] cmsbuild commented on #23184
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_1_4_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_1_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_4_patch1

Cheers,
cms-bot

You can also click <a href

[2018-05-10 20:29] cmsbuild commented on #23184
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_4_patch1

[2018-05-10 21:25] smuzaffar commented on #23184
@fabiocos , yes slc7/gcc70 is due to the fact the there is no base release. please ignore this error.

[2018-05-10 21:47] dan131riley commented on #23105
Adding

     if (startDir == "Tracking/TrackFromPV/generalFromPVPt09_trackingParticleRecoAsssociation" && namePrefix == "h_dxypulleta") {
        srcME->getTH2F()->Print("all");
        meanME->getTH1()->Print("all");
        sigmaME->getTH1()->Print("all");
      }

to `DQMGenericClient::computeResolution` and running on two different systems, srcME is identical to the precision of the printouts,

[2018-05-11 07:00] fabiocos opened #23187 "Unit test failure for FWCore/MessageService"
Two unit tests from the FWCore/messageService package are failing since CMSSW_10_2_X_2018-05-10-1100, despite no explicit change in that code.  The failure happens after the update of jmalloc in cms-sw/cmsdist#3986 and the error messages reported (see https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_10_2_X_2018-05-10-2300/unitTestLogs/FWCore/MessageService ) look related to thi

[2018-05-11 07:00] cmsbuild commented on #23187
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-11 13:06] Teemperor commented on #15248
Here is the blacklisted header I never fixed, but that either need to be removed:

https://github.com/Teemperor/scram2cmake/blob/master/scram2cmake.py#L23

[2018-05-11 13:08] Teemperor commented on #15248
@mrodozov here is the tracking issue.

[2018-05-11 13:08] fabiocos opened #23192 "Features needed for CMSSW_10_1_5"
Following the discussion at the operations meeting of 11/5 https://indico.cern.ch/event/728960/  , a new CMSSW_10_1_5 is requested for the beginning of next week, with the following content:

- [x] #23170 updates to the EMTF unpacker to fix a crash at T0 (verified to be removed) and follow the firmware update (DQM offline plots would be zero, the code is reported to be already in production in onl

[2018-05-11 13:09] cmsbuild commented on #23192
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-11 13:25] Dr15Jones commented on #23187
The unit test in question does a diff on the cout from a cmsRun job. The difference is the inclusion of
[code]
A quick google search on that term shows `Invalid conf pair` happens when jemalloc is passed, via the environment variable `MALLOC_CONF` configuration options it does not understand. That environment variable is set by CMS via

https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_2_X/gcc630

[2018-05-11 13:30] Dr15Jones commented on #23187
A litte more searching confirms that the option was removed in jemalloc 5

https://github.com/jemalloc/jemalloc/issues/1115

[2018-05-11 13:53] cmsbuild commented on #23172
The cleanup has started for slc6_amd64_gcc481

[2018-05-11 13:53] #23172 closed

[2018-05-11 13:59] cmsbuild commented on #23172
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_33-slc6_amd64_gcc481/996

[2018-05-11 14:36] mrodozov commented on #15248
[code]
Generated wrong module.modulemap paths

[2018-05-11 16:30] fabiocos commented on #23187
@Dr15Jones thanks, from the discussion in the jemalloc issue I see that other ways of treating VM are suggested, but our spec file as it is should in any case be changed...

[2018-05-11 20:13] vazzolini commented on #23130
hello, at the moment we've only 2 runs good in 2018 data. 315489 ( in LS [1, 653], [672, 709]) and 315490 with very little LS [1, 24]. More are expected to arrive on wednesday. ciao Virginia(DC)

[2018-05-11 22:12] slava77 commented on #23130
315489  early in the run has PU~35. This is pretty good.

[2018-05-12 18:38] cmsbuild commented on #23184
The cleanup has started for slc6_amd64_gcc630

[2018-05-12 18:38] cmsbuild commented on #23184
The cleanup has started for slc7_amd64_gcc630

[2018-05-12 18:38] #23184 closed

[2018-05-12 18:39] cmsbuild commented on #23184
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_4_patch1-slc6_amd64_gcc630/997

[2018-05-12 18:39] cmsbuild commented on #23184
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_4_patch1-slc7_amd64_gcc630/998

[2018-05-13 16:16] fabozzi commented on #23130
Thank you for your feedbacks. Run 315489 was taken on May 1, so GT in autocond (102X_dataRun2_PromptLike_v1) should be OK, according to discussion with Alca team. I have started PR #23196 to deploy these relvals.

[2018-05-13 19:58] fabiocos opened #23197 "Build CMSSW_10_1_5"

[2018-05-13 19:58] cmsbuild commented on #23197
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-13 20:01] fabiocos commented on #23197
+1

[2018-05-13 20:03] cmsbuild commented on #23197
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-05-13 20:03] cmsbuild commented on #23197
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-05-13 20:04] cmsbuild commented on #23197
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1618/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-13 20:04] cmsbuild commented on #23197
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1619/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-13 20:04] cmsbuild commented on #23197
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1620/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-13 22:15] cmsbuild commented on #23197
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_5-slc7_amd64_gcc630/1619
Some tests (

[2018-05-13 22:59] cmsbuild commented on #23197
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_5-slc6_amd64_gcc630/1618
Some tests (

[2018-05-14 00:12] cmsbuild commented on #23197
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_5-slc6_amd64_gcc630/1618

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-14 03:09] cmsbuild commented on #23197
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_5-slc7_amd64_gcc700/1620
Some tests (

[2018-05-14 06:54] cmsbuild commented on #23197
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_5-slc7_amd64_gcc700/1620

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-14 07:29] fabiocos commented on #23197
upload all

[2018-05-14 07:29] cmsbuild commented on #23197
Queing Jenkins upload for slc6_amd64_gcc630

[2018-05-14 07:29] cmsbuild commented on #23197
Queing Jenkins upload for slc7_amd64_gcc630

[2018-05-14 07:29] cmsbuild commented on #23197
Queing Jenkins upload for slc7_amd64_gcc700

[2018-05-14 07:31] cmsbuild commented on #23197
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1079/console

[2018-05-14 07:31] cmsbuild commented on #23197
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1080/console

[2018-05-14 07:31] cmsbuild commented on #23197
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1081/console

[2018-05-14 07:32] cmsbuild commented on #23197
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_5-slc6_amd64_gcc630/1079
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-14 07:32] cmsbuild commented on #23197
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-14 07:34] cmsbuild commented on #23197
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-14 07:36] cmsbuild commented on #23197
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_5-slc7_amd64_gcc700/1081
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-14 07:36] cmsbuild commented on #23197
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-14 07:44] fabiocos commented on #23197
release-notes

[2018-05-14 07:45] cmsbuild commented on #23197
Generating release notes since CMSSW_10_1_4_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-14 07:45] cmsbuild commented on #23197
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_5 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_4_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_5

Cheers,
cms-bot

You can also click <a

[2018-05-14 07:45] #23192 closed

[2018-05-14 07:45] cmsbuild commented on #23197
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_5

[2018-05-14 09:40] mrodozov opened #23199 "Build error in PhysicsTools/TensorFlow for aarch64"
After this PR was merged:
https://github.com/cms-sw/cmssw/pull/23146/
there is a build fail in PhysicsTools/TensorFlow stating
[code]

[2018-05-14 09:41] cmsbuild commented on #23199
A new Issue was created by  @mrodozov Mircho Rodozov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-14 09:47] fabiocos opened #23200 "HLTObjectsMonitor for "objects have different ID""
The LogWarning message from HLTObjectsMonitor for "objects have different ID" are a source of inflation of the LogError skim (after MemoryChecker), and for this reason #23185 proposes to downgrade it to LogInfo.

Following the comment https://github.com/cms-sw/cmssw/pull/23185#issuecomment-388324906 it would be useful to fix the causes for these messages, and restore back the original severity lev

[2018-05-14 09:47] cmsbuild commented on #23200
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-14 09:47] fabiocos commented on #23200
assign hlt

[2018-05-14 09:48] cmsbuild commented on #23200
New categories assigned: hlt

@Martin-Grunewald,@silviodonato,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-14 09:54] fabozzi commented on #23130
@arunhep @lpernie
It seems there is a crash at the ALCARECO of step3 of the 2018 workflow here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-23196/27924/runTheMatrix-results/136.85_RunEGamma2018A+RunEGamma2018A+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Prompt_L1TEgDQM+HARVEST2018_L1TEgDQM/

Can you give us some feedback on this?

[2018-05-14 12:16] Teemperor commented on #15248
This is the boost modulemap that should hopefully work: https://github.com/Teemperor/ClangAutoModules/blob/CMS/inc-cms/boost/module.modulemap

[2018-05-14 13:09] arizzi commented on #22978
before we cancel tomorrow's XPOG meeting for lack of requests, is there anything pending for legacy reminiaod (from this issue and related PRs) that you want to discuss in the meeting?

[2018-05-14 13:18] perrozzi commented on #22214
@alberto-sanchez will add a line to tomorrow's ORP gdoc to draw the attention of CMSSW experts as this seems to be related (in first place) to the CMSSW implementation.
@intrepid42 could you run the tool (I don't have details though) to profile the memory/cpu consumption internally and externally to CMSSW? can you coordinte with Alberto?

[2018-05-14 13:32] davidlange6 commented on #22214
igprof.org

indeed without a profile its hard to know if the issue is in the build of Dire or the generator interface to it

[2018-05-14 14:04] intrepid42 commented on #22214
It crashes with igprof, see attached log.
[igtest.pp.log](https://github.com/cms-sw/cmssw/files/2001053/igtest.pp.log)

[2018-05-14 14:05] Dr15Jones commented on #22135
The problem re-occurred in CMSSW_10_2_X_2018-05-09-1100 workflow 7.0

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_10_2_X_2018-05-09-1100/pyRelValMatrixLogs/run/7.0_Cosmics+Cosmics+DIGICOS+RECOCOS+ALCACOS+HARVESTCOS/step1_Cosmics+Cosmics+DIGICOS+RECOCOS+ALCACOS+HARVESTCOS.log

[code]

[2018-05-14 14:34] intrepid42 commented on #22214
You can easily reproduce the igprof error like this:

[code]

Note 1: Also fails with other Pythia test config files.
Note 2: This Dire example is e+e- and sufficiently fast. Maybe there is a drop in performance but it is not notable compared to pp collisions

[2018-05-14 15:19] davidlange6 commented on #22214
Thanks - whats a good example of a problematically slow configuration?

[2018-05-14 15:20] davidlange6 commented on #22214
Regarding the use of igprof - you probably want to read the webpage I pointed you to for how to use it..

[2018-05-14 15:35] davidlange6 commented on #22214
it looks like the performance bottleneck in the example given is

Pythia8::DireTimes::pT2nextQCD_FF

which appears to be limited by lots of string operations

david

[2018-05-14 15:40] intrepid42 commented on #22214
David, I went to the website, clicked on "Running igprof" and followed the longish command there that produced the log attached some posts ago. It fails with exactly the same error as the short version `igprof cmsRun ...` in my minimal example above. Could you share with us the command that works, please

I can create a config with ttbar production + rivet, that usually fails...

[2018-05-14 15:45] davidlange6 commented on #22214
interesting - i only saw your minimal but incorrect command -

this  works ok for me...

igprof -d -pp -o igprof.pp cmsRun pythia8ex14_cfg.py

[2018-05-14 15:57] intrepid42 commented on #22214
Thank you but same problem with that command :( "A fatal system signal has occurred: bus error" Do I need to run this on a special machine? (Using lxplus right now)

As it works for you, could you test the following CMSSW configuration, please? This is Dire dijet events + Rivet analysis. It freezes for me after generating the first event: [dire_rivet_cfg.py.txt](https://github.com/cms-sw/cmssw/fil

[2018-05-14 17:03] intrepid42 commented on #22214
I'm on lxplus078...

Did the dire_rivet_cfg.py config pass by the second event for you? For me it freezes completely, no event generated in an hour.

In contrast, when I run without the CMSSW RivetInterface, it continues to (slowly) generate events, please try out this config for that case (pp dijet): [dire_norivet_cfg.py.txt](https://github.com/cms-sw/cmssw/files/2001782/dire_norivet_cfg.py.txt)

[2018-05-14 17:25] Dr15Jones commented on #22214
How much memory is the standalone and cmsRun versions using? You can just use `top` to get an estimate.

[2018-05-14 20:50] fabiocos opened #23205 "Incompatibility between python 2.7 and C++17"
During the test of #23194 a clang compilation failure has appeard, as seen in

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-23194/27923/buildClang.log

In file included from /build/cmsbld/jenkins/workspace/ib-any-integration/CMSSW_10_2_X_2018-05-12-1100/src/FWCore/Framework/src/EventProcessor.cc:46:
In file included from /cvmfs/cms-ib.cern.ch/nweek-02523/slc6_amd64_gcc6

[2018-05-14 20:50] cmsbuild commented on #23205
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-15 07:27] davidlange6 commented on #22214
How can I do that? (the dire_rivet_cfg.py you sent yesterday runs ok, but I think that is expected)

meanwhile if you run in the debugger, what is the traceback you get after the job hangs?

[2018-05-15 07:40] intrepid42 commented on #22214
No, for me and other people it freezes just after one or a few events!
Just to be sure, you are using the file with `process.generation_step+=process.rivetAnalyzer` as last line, and it runs without problems?

The igprof (crash) log is here: [igtest.pp.log](https://github.com/cms-sw/cmssw/files/2003859/igtest.pp.log)

[2018-05-15 08:45] intrepid42 commented on #22214
Ok, I can confirm that it works fine with `CMSSW_10_2_X_2018-05-13-2300`, indeed!
What is different with regard to 10_1? This would be needed for 2018 MC production I think...

[2018-05-15 08:50] davidlange6 commented on #22214
the build of dire is the same. Pythia8 is updated in 102x. Maybe other changes in generator interfaces?

[2018-05-15 08:53] intrepid42 commented on #22214
I tried the stand-alone with different Pythia version, there was no change. Could it be something in the scheduling or so? I mean it seems very obvious to me now that Dire within CMSSW 10_1 works fine, unless we put additional modules in the schedule, that should normally not interfere with Dire. Changing to CMSSW 10_2 this interference seems to be gone...

[2018-05-15 08:55] davidlange6 commented on #22214
can you make that traceback?

[2018-05-15 08:58] intrepid42 commented on #22214
[code]

Now I am left with gdb prompt again. Anything more I can do here?

[2018-05-15 09:00] davidlange6 commented on #22214
type "where"

[2018-05-15 09:04] intrepid42 commented on #22214
Ok :)

[code]

[2018-05-15 09:17] davidlange6 commented on #22214
so something deep inside pythia8/dire - the fact that its influenced by other stuff running or not running suggests memory corruption.

so which 101x release does it not work in? I tried CMSSW_10_1_X_2018-05-13-0000 which works ok. I've seen several memory related patches to pythia8 fly by in recent weeks..

[2018-05-15 09:35] davidlange6 commented on #22214
running valgrind in 10_1_3 I get this likely cause that needs a fix from Pythia or in our interface to it (maybe we have gotten it recently I haven't followed closely).
I don't see it fixed in 10_1_X, so its presumably just "luck" when it works or not. [of course if I run the cfg inside of valgrind it works ok:)]

Begin processing the 2nd record. Run 1, Event 2, LumiSection 1 on stream 0 at 15-May

[2018-05-15 15:58] Martin-Grunewald commented on #23200
assign dqm

[2018-05-15 15:58] cmsbuild commented on #23200
New categories assigned: dqm

@jfernan2,@vazzolini,@vanbesien,@kmaeshima,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-16 05:53] cmsbuild commented on #23197
The cleanup has started for slc6_amd64_gcc630

[2018-05-16 05:53] cmsbuild commented on #23197
The cleanup has started for slc7_amd64_gcc630

[2018-05-16 05:53] cmsbuild commented on #23197
The cleanup has started for slc7_amd64_gcc700

[2018-05-16 05:53] #23197 closed

[2018-05-16 05:54] cmsbuild commented on #23197
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_5-slc6_amd64_gcc630/999

[2018-05-16 05:55] cmsbuild commented on #23197
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_5-slc7_amd64_gcc630/1000

[2018-05-16 06:00] cmsbuild commented on #23197
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_5-slc7_amd64_gcc700/1001

[2018-05-16 13:33] slava77 opened #23216 "PFEGammaAlgo: Need to implement proper merging of two gsf candidates!"
There is a LogWarning, which is serving as a reminder of a to-do item in https://github.com/cms-sw/cmssw/blob/CMSSW_10_2_0_pre3/RecoParticleFlow/PFProducer/src/PFEGammaAlgo.cc

This is happening in a corner case and was on the to-do list since 2013
[code]

@Sam-Harper @jainshilpi @varuns23

[2018-05-16 13:33] cmsbuild commented on #23216
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-16 13:33] slava77 commented on #23216
assign reconstruction

[2018-05-16 13:33] cmsbuild commented on #23216
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-16 17:09] dan131riley commented on #23105
The inconsistencies between different platforms goes away if I either change FitSlicesYTool to do

    h->FitSlicesY(nullptr, 0, -1, 0, "QNR SERIAL");

instead of

    h->FitSlicesY();

or if I add to the config

    process.add_(cms.Service("InitRootHandlers", EnableIMT = cms.untracked.bool(False)))

to turn off IMT.  This is curious, since these jobs are single-threaded.  InitRootHandlers does c

[2018-05-16 19:20] dan131riley commented on #23105
For non-threaded jobs, cmsRun does set the number of TBB threads to 1, so there aren't additional threads created.  IMT does get used in ROOT::Fit::FitUtil::EvaluateChi2 to create a bunch of tasks evaluating the chi2, and this is new in 6.12.  It's at least plausible that, even with only one thread, the order of task execution could still vary from machine to machine based on some internal TBB dat

[2018-05-16 19:26] makortel commented on #23105
I think the "SERIAL" fit option would be good enough for both cases (I doubt the threading would bring any benefit in practice, and for `DQMGenericClient` HARVESTING is supposed to be run single-threaded anyway).

[2018-05-16 19:29] Dr15Jones commented on #23105
I also believe that "SERIAL" is the best way to go.

[2018-05-16 20:07] dan131riley commented on #23105
Adding "SERIAL" to the fit in HIPixelMedianVtxProducer also resolves the one difference I saw there, so I'll make a PR with both of those.

[2018-05-16 20:37] Dr15Jones commented on #23105
If a `parallel_for` is being used by ROOT for this code then I would definitely bet that TBB would 'chunk' up the processing range of the for to be different based on the number of cores on the machine.

[2018-05-17 12:08] makortel commented on #23105
There may be further cases of fits (or similar irreproducibilities), see #23160.

[2018-05-17 14:07] Dr15Jones commented on #23105
@dan131riley ROOT does chunk based on number of CPUs. The chunk size for the integration is done here
https://github.com/root-project/root/blob/5b25608c138fa826cb8bca0bebe26d3774b02179/math/mathcore/src/FitUtil.cxx#L393

where the implementation of `setAutomaticChunking` is here

https://github.com/root-project/root/blob/5b25608c138fa826cb8bca0bebe26d3774b02179/math/mathcore/src/FitUtil.cxx#L1756

[2018-05-18 08:32] slava77 commented on #22978
@lpernie @arunhep
do we expect another PR with GT updates?
Some JEC updates were mentioned during the ORP on Tuesday.

[2018-05-18 09:10] Sam-Harper commented on #23216
@lgray, @beaudett  What is actually meant by this comment. I assume its from you guys? Is it something that should be fixed?

[2018-05-18 09:14] beaudett commented on #23216
Hi Sam,
I don't think that this comment was from me and I actually don't know what it means.
Sorry.
Florian

[2018-05-18 09:18] Sam-Harper commented on #23216
No problem, thanks for the quick response. I suspect Lindsey then :D

[2018-05-18 09:37] perrotta commented on #23216
The "blame" option in github points to Lindsey indeed (in a commit from some 5 years ago...):
https://github.com/cms-sw/cmssw/commit/d4958ba2923cb58dffc7a40f8b059a638c810462

[2018-05-18 13:19] lgray commented on #23216
Hi Guys,

So - right now if two candidates with GSF tracks are found to overlap (point to the same set of block elements) the one being merged into is simply erased. This frees up the block elements to be absorbed into other remaining e/gamma objects (iirc). This is pretty rare and usually only involves duplicate tracks, but there are occasional physical reasons for this happening.

Some arbitrati

[2018-05-19 14:17] fabiocos opened #23259 "Crashes observed in CMSSW_10_2_0_pre3 RelVals in HCAL DQM"
The title says it all, the module affected by the crash is Module: DigiPhase1Task:digiPhase1Task (crashed) for details see https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1587/1/1.html

[2018-05-19 14:17] cmsbuild commented on #23259
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-19 14:18] fabiocos commented on #23259
assign dqm

[2018-05-19 14:18] cmsbuild commented on #23259
New categories assigned: dqm

@jfernan2,@vazzolini,@vanbesien,@kmaeshima,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-19 14:18] fabiocos commented on #23259
@DryRun could you please have a look into this?

[2018-05-19 17:49] DryRun commented on #23259
@fabiocos Certainly, I'm looking into this now. It's an old module from before my time that I didn't know was still in use, but it shouldn't take long to track down.

[2018-05-19 20:39] fabiocos commented on #23259
@DryRun as far as I can see the problem happens in

(gdb) up
#1  0x00007fffc0db7d5b in hcaldqm::Container1D::fill (this=this@entry=0x7fffc0c339d0, did=..., x=x@entry=157.59999999999999)
    at /build/fabiocos/102X/crash/CMSSW_10_2_0_pre3/src/DQM/HcalCommon/src/Container1D.cc:160
160                             _mes[_hashmap.getHash(did)]->Fill(_qx->getValue(x));
(gdb) up
#2  0x00007fffc0f8377d in

[2018-05-19 23:02] DryRun commented on #23259
Hi @fabiocos , thanks for the investigation. The problematic DetIds are calibration channels, not real detector channels, which are included in QIE10/11DigiCollection by HcalUnpacker. The crash can be fixed by enforcing that the digis be HB/HE/HF: https://github.com/cms-sw/cmssw/pull/23262. It would be nice if HcalUnpacker did a better job of sorting things like this - something I'll consider for

[2018-05-20 15:56] fabiocos commented on #23130
#23196 has been merged, the test matrix in the bot should be updated. But at least for this part the issue has been addressed.

[2018-05-21 08:47] fabiocos commented on #23259
I cross-checked that #23262 solves the problem, and it has been merged, so this issue can be closed

[2018-05-21 08:47] #23259 closed

[2018-05-22 07:30] fabiocos opened #23275 "Features needed in CMSSW_10_1_X for 90 m beta* Totem run"
I collect here the list of the needed backports to CMSSW_10_1_X from the master release to support the version to be used for Totem run with beta* = 90 m planned for the second part of June.

I indicate the master version first, and then the backport to 10_1_X (where already existing)

For HLT:

Add layer counting capability to PixelActivityFilter
- [ ]   #22951 (merged) -> #22952

For geometry an

[2018-05-22 07:31] cmsbuild commented on #23275
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-22 07:37] fabiocos commented on #23275
@nminafra @slava77 @perrotta FYI

[2018-05-23 15:18] fabiocos commented on #22978
As the master version #22941 of #22713 has been merged, is there anything keeping the signature on the 9_4_MAOD_X version on hold?

[2018-05-23 15:20] mrodozov opened #23299 "Build error in L1Trigger/CSCTriggerPrimitives"
We are cleaning the build errors for gcc8 IB and there is an error in L1Trigger/CSCTriggerPrimitives namely: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc810/CMSSW_10_2_X_2018-05-22-2300/L1Trigger/CSCTriggerPrimitives
which is not easy to circumvent as we don't understand completely what it aims to do, so we would like to ask the devs to check it out. To setup and reproduce it go on

[2018-05-24 02:06] smuzaffar commented on #23299
assign l1

[2018-05-24 02:06] cmsbuild commented on #23299
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-24 08:38] fabiocos opened #23304 "Failure in wf 250399 induced by the phase2 premixing code update #23065"
After the merge of #23065 , the test workflow 250399.0 fails because of a configuration problem, see

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_2_X_2018-05-23-2300/pyRelValMatrixLogs/run/250399.0_FS_PREMIXUP15_PU25+FS_PREMIXUP15_PU25/step1_FS_PREMIXUP15_PU25+FS_PREMIXUP15_PU25.log

The problems happens in

  File "/cvmfs/cms-ib.cern.ch/nweek-02525/slc6_amd64_gcc630/cm

[2018-05-24 08:39] cmsbuild commented on #23304
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-24 08:39] fabiocos commented on #23304
@makortel we should fix this before building pre4

[2018-05-24 08:42] makortel commented on #23304
I'll take a look.

[2018-05-24 09:06] fabiocos commented on #23304
@makortel the problem looks to originate here

https://cmssdt.cern.ch/lxr/source/SimGeneral/MixingModule/python/caloTruthProducer_cfi.py#0035

For fastsim the caloParticles PSet is empty, so the premixStage1 key is unknown in that case. A corresponding protection should be added for the fastsim case

[2018-05-24 09:08] makortel commented on #23304
Yes, I'm already testing a fix (which seems to work as it doesn't crash but I'd like the job to finish before a PR)

[2018-05-24 09:12] fabiocos commented on #23304
I think that just inverting the two toModify should do the job. I wait for your PR, I would like to merge it and then build pre4

[2018-05-24 09:16] makortel commented on #23304
Fixed in #23305.

[2018-05-24 09:52] mrodozov commented on #23199
it's fixed now, closing.

[2018-05-24 09:52] #23199 closed

[2018-05-24 11:15] fabiocos commented on #23304
@makortel thanks, the issues may be closed

[2018-05-24 11:15] #23304 closed

[2018-05-24 13:27] fabiocos opened #23311 "Isolated ProductNotFound error in CMSSW_10_2_X_2018-05-22-2300"
I note here an isolated and not reproducible ProductNotFound error that has happened in CMSSW_10_2_X_2018-05-22-2300 for wf 136.7802 step2

----- Begin Fatal Exception 23-May-2018 05:10:00 CEST-----------------------
An exception of category 'ProductNotFound' occurred while
   [0] Processing  Event run: 297227 lumi: 4 event: 299600 stream: 2
   [1] Running path 'dqmofflineOnPAT_step'
   [2] Callin

[2018-05-24 13:28] cmsbuild commented on #23311
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-24 13:39] Dr15Jones commented on #23311
@fabiocos I had noticed it as well and have no idea. We've never seen any multi-threading-related problem like it before, though. We haven't changed any part of that system is several years so it seems unlikely. Perhaps valgrind might shed some light?

[2018-05-24 13:55] fabiocos opened #23313 "Build CMSSW_10_2_0_pre4"

[2018-05-24 13:59] Dr15Jones commented on #23311
I took a quick look at the code, it appears the data product in question is set via a `mayConsumes`

https://github.com/cms-sw/cmssw/blob/4e9bfb8321fcc0527e0444192e29b0c7f02a7f32/DQMOffline/Trigger/plugins/TopMonitor.cc#L30

In principal, the framework is supposed to treat a `mayConsumes` the same as a `consumes` so that difference shouldn't matter.

The vertex is also only requested if a cut befo

[2018-05-24 14:06] cmsbuild commented on #23313
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-24 14:06] fabiocos commented on #23313
build cmssw-tool-conf

[2018-05-24 14:07] cmsbuild commented on #23313
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630, slc7_amd64_gcc700, slc7_amd64_gcc810, slc6_amd64_gcc700, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf

[2018-05-24 14:07] cmsbuild commented on #23313
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild62.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1623/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-24 14:08] cmsbuild commented on #23313
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1624/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-24 14:11] cmsbuild commented on #23313
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1625/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-24 14:12] cmsbuild commented on #23313
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1626/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-24 14:16] cmsbuild commented on #23313
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1627/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-24 14:18] cmsbuild commented on #23313
The cmssw-tool-conf build has started for slc7_amd64_gcc810 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1628/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-24 14:28] Dr15Jones commented on #23311
I looked further into the job. The data product was supposed to come from the input file (not from a module begin run in the job). Inspecting the ROOT file, I do see that for the 76th event in the file there is a corresponding entry in the branch that is supposed to be read. So it should have worked.

One interesting thing I noticed, events 73, 74, 75 and 76 are all started at the same time becaus

[2018-05-24 15:10] Dr15Jones commented on #23311
assign core

[2018-05-24 15:14] cmsbuild commented on #23311
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-24 16:31] cmsbuild commented on #23313
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc700/1626

[2018-05-24 16:34] cmsbuild commented on #23313
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc6_amd64_gcc630/1623

[2018-05-24 16:38] cmsbuild commented on #23313
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_aarch64_gcc700/1627

[2018-05-24 16:51] cmsbuild commented on #23313
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc630/1625

[2018-05-24 17:06] cmsbuild commented on #23313
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc6_amd64_gcc700/1624

[2018-05-24 17:52] cmsbuild commented on #23313
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc810 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc810/1628

[2018-05-25 11:06] fabiocos commented on #23313
+1

[2018-05-25 11:07] cmsbuild commented on #23313
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-05-25 11:07] cmsbuild commented on #23313
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc7_amd64_gcc810, slc7_amd64_gcc630, slc6_amd64_gcc700, slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cm

[2018-05-25 11:08] cmsbuild commented on #23313
The build has started for slc6_amd64_gcc630 in cmsbuild39.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1629/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-25 11:29] cmsbuild commented on #23313
The build has started for slc6_amd64_gcc700 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1630/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-25 11:32] cmsbuild commented on #23313
The build has started for slc7_amd64_gcc630 in cmsbuild53.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1631/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-25 11:37] cmsbuild commented on #23313
The build has started for slc7_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1632/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-25 11:39] cmsbuild commented on #23313
The build has started for slc7_amd64_gcc810 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1633/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-25 11:54] cmsbuild commented on #23313
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-015.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1634/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-25 12:43] cmsbuild commented on #23313
The was an error for slc7_amd64_gcc810.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc810/1633

[2018-05-25 13:15] fabiocos commented on #22978
@slava77 with the merge of #22713 for test the program discussed here seems to be completed, am I correct? The further needed ingredient is the JEC, that are anyway a GT issue. @arunhep @lpernie do you have any news about this?

[2018-05-25 13:16] smuzaffar opened #23334 "Cleanup of GeneratorInterface/EvtGenInterface"
Headers files in https://github.com/cms-sw/cmssw/tree/master/GeneratorInterface/EvtGenInterface/interface/EvtGenUserModels/*.hh and https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/EvtGenInterface/interface/EvtGenInterface.h are only used by GeneratorInterface/EvtGenInterface/plugins. So we should move all these headers in GeneratorInterface/EvtGenInterface/plugins/EvtGenUserModels d

[2018-05-25 13:16] cmsbuild commented on #23334
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-25 13:16] smuzaffar commented on #23334
assign generator

[2018-05-25 14:03] lpernie commented on #22978
Conditions are completed. Sangeun confirmed that with our last PR no other conditions need to be added for jets.

[2018-05-25 14:55] slava77 commented on #22978
I have updated the PR description with the check-marked PRs.
It looks like we are ready to go.

[2018-05-25 15:08] cmsbuild commented on #23313
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc6_amd64_gcc700/1630
Some tes

[2018-05-25 15:55] cmsbuild commented on #23313
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc630/1631
Some tes

[2018-05-25 16:06] cmsbuild commented on #23313
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc700/1632
Some tes

[2018-05-25 16:15] cmsbuild commented on #23313
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc6_amd64_gcc630/1629
Some tes

[2018-05-25 16:55] cmsbuild commented on #23313
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc6_amd64_gcc700/1630

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-25 17:53] cmsbuild commented on #23313
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc630/1631

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-25 17:55] cmsbuild commented on #23313
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc700/1632

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-25 18:03] cmsbuild commented on #23313
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc6_amd64_gcc630/1629

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-25 20:03] cmsbuild commented on #23313
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_aarch64_gcc700/1634
Some

[2018-05-26 00:38] cmsbuild commented on #23313
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre4-slc7_aarch64_gcc700/1634

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-26 02:08] cmsbuild commented on #23334
New categories assigned: generators

@perrozzi,@alberto-sanchez,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-26 04:47] fabiocos commented on #23313
upload all

[2018-05-26 04:47] cmsbuild commented on #23313
Queing Jenkins upload for slc6_amd64_gcc630

[2018-05-26 04:48] cmsbuild commented on #23313
Queing Jenkins upload for slc6_amd64_gcc700

[2018-05-26 04:48] cmsbuild commented on #23313
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-05-26 04:48] cmsbuild commented on #23313
Queing Jenkins upload for slc7_amd64_gcc630

[2018-05-26 04:48] cmsbuild commented on #23313
Queing Jenkins upload for slc7_amd64_gcc700

[2018-05-26 04:48] cmsbuild commented on #23313
The upload has started for slc6_amd64_gcc700 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1085/console

[2018-05-26 04:48] cmsbuild commented on #23313
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-015.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1086/console

[2018-05-26 04:48] cmsbuild commented on #23313
The upload has started for slc6_amd64_gcc630 in cmsbuild39.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1084/console

[2018-05-26 04:49] cmsbuild commented on #23313
The upload has started for slc7_amd64_gcc630 in cmsbuild53.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1087/console

[2018-05-26 04:49] cmsbuild commented on #23313
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre4-slc7_aarch64_gcc700/1086
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-26 04:49] cmsbuild commented on #23313
The upload has started for slc7_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1088/console

[2018-05-26 04:50] cmsbuild commented on #23313
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre4-slc6_amd64_gcc700/1085
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-26 04:50] cmsbuild commented on #23313
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-26 04:50] cmsbuild commented on #23313
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc630/1087
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-26 04:50] cmsbuild commented on #23313
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre4-slc7_amd64_gcc700/1088
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-26 04:50] cmsbuild commented on #23313
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-26 04:51] cmsbuild commented on #23313
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-26 04:54] cmsbuild commented on #23313
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre4-slc6_amd64_gcc630/1084
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-26 04:54] cmsbuild commented on #23313
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-26 04:56] fabiocos commented on #23313
release-notes

[2018-05-26 04:56] cmsbuild commented on #23313
Generating release notes since CMSSW_10_2_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-26 04:56] cmsbuild commented on #23313
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_2_0_pre4 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_0_pre4

Cheers,
cms

[2018-05-26 04:57] cmsbuild commented on #23313
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre4

[2018-05-26 23:02] alberto-sanchez commented on #23334
+1

[2018-05-26 23:03] cmsbuild commented on #23334
This issue is fully signed and ready to be closed.

[2018-05-27 16:02] fabozzi commented on #23275
@slava77 @perrotta
We had actually some questions for you in the thread: "Re: preparation of TOTEM run: data relval"
i.e. which era and customise to be used in the cmsDriver of data relval.

I see in #23238 that era Run2_2018_highBetaStar has been defined.
Not sure about customise (RecoTLR.customisePostEra_Run2_2018 is OK?).

Another question was for Alca team @arunhep @lpernie about the GT to use

[2018-05-27 16:09] slava77 commented on #23275
On 5/27/18 9:02 AM, fabozzi wrote:

please use Run2_2018_highBetaStar
I suggest to use the same customise for 2018

[2018-05-27 18:43] slava77 commented on #23275
@fabiocos

a backport of #23349 will be needed for 10_1_X as well.
This will come after a backport of #23238 is in 10_1_X.

[2018-05-28 00:58] alberto-sanchez commented on #22214
@intrepid42 I have compile pythia8 with the patches made by @kpedro88 at
https://github.com/cms-externals/pythia8/compare/cms/230...kpedro88:FixAllUninitialized230
and run your cfg without problem, see
/afs/cern.ch/work/a/asanchez/public/CMSSW_10_2_X_2018-05-27-1100/src,
The
xml for including compiled pythia8 is at
/afs/cern.ch/work/a/asanchez/public/CMSSW_10_2_X_2018-05-27-1100/pythia8.xml

give

[2018-05-28 03:08] cmsbuild commented on #23313
The cleanup has started for slc7_aarch64_gcc700

[2018-05-28 03:08] cmsbuild commented on #23313
The cleanup has started for slc7_amd64_gcc810

[2018-05-28 03:08] cmsbuild commented on #23313
The cleanup has started for slc6_amd64_gcc630

[2018-05-28 03:08] cmsbuild commented on #23313
The cleanup has started for slc6_amd64_gcc700

[2018-05-28 03:08] cmsbuild commented on #23313
The cleanup has started for slc7_amd64_gcc630

[2018-05-28 03:08] cmsbuild commented on #23313
The cleanup has started for slc7_amd64_gcc700

[2018-05-28 03:08] #23313 closed

[2018-05-28 03:09] cmsbuild commented on #23313
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre4-slc7_aarch64_gcc700/1006

[2018-05-28 03:16] cmsbuild commented on #23313
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre4-slc7_amd64_gcc630/1007

[2018-05-28 03:16] cmsbuild commented on #23313
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre4-slc6_amd64_gcc630/1004

[2018-05-28 03:17] cmsbuild commented on #23313
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre4-slc7_amd64_gcc700/1008

[2018-05-28 03:29] cmsbuild commented on #23313
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre4-slc7_amd64_gcc810/1015

[2018-05-28 03:29] cmsbuild commented on #23313
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre4-slc7_amd64_gcc700/1014

[2018-05-28 03:37] cmsbuild commented on #23313
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre4-slc7_amd64_gcc810/1009

[2018-05-28 03:37] cmsbuild commented on #23313
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre4-slc7_amd64_gcc630/1013

[2018-05-28 08:40] intrepid42 commented on #22214
Hi Alberto, it seemed to work in CMSSW_10_2_X_2018-05-13-2300 already while it was broken in CMSSW_10_1_3.

Do you think these patches can fix the problem in the 10_1 series? (needed for MC generation)

[2018-05-28 10:01] forthommel commented on #23275
@fabiocos
A backport of #22796, #23101 and #23198 has been opened as #23352
We will follow up with another backport for #22915.

[2018-05-28 11:08] alberto-sanchez commented on #22214
@intrepid42 , Hi Markus, Yes that should work. Try to use the same pythia library which I have compiled (define in pythia8.xml) and see if that work.

[2018-05-28 11:20] fabiocos commented on #22978
@slava77 @lpernie thank you, as far as I can see al the components needed for a test are ready

[2018-05-28 11:26] fabiocos commented on #22978
@slava77 @perrotta @previsualconsent just one question: is the external update https://github.com/cms-sw/cmsdist/pull/4036 corresponding to https://github.com/cms-data/EgammaAnalysis-ElectronTools/pull/4 also needed for this reprocessing?

[2018-05-28 11:49] slava77 commented on #22978
On 5/28/18 4:26 AM, Fabio Cossutti wrote:

we agreed not to backport

[2018-05-28 12:02] fabiocos commented on #23334
@smuzaffar @alberto-sanchez I assume that this issue can be closed, after the merge of #23348

[2018-05-28 12:05] alberto-sanchez commented on #23334
I think so, thanks!

[2018-05-28 12:17] ahinzmann commented on #23131
this can be closed since #23120 is merged

[2018-05-28 12:36] fabiocos commented on #22978
@slava77 thank you, so we are ready for a test build. For my understanding: for which reason this change is not included? Are the changes irrelevant for the reprocessing?

[2018-05-28 13:19] fabiocos commented on #23275
@forthommel do I understand correctly that #23352 includes also #23119?

[2018-05-28 13:28] slava77 commented on #22978
On 5/28/18 5:36 AM, Fabio Cossutti wrote:

the changes in the external are relevant both for 2017 and 2016.
The impact of the fix is rather small.
If we are going to rerun the 2017 miniAOD, then sure we can add the
external update as well.

[2018-05-28 13:59] perrotta commented on #23275
It doesn't seem so, but it probably should. @forthommel?

Fabio Cossutti <notifications@github.com> ha scritto:

[2018-05-28 14:09] forthommel commented on #23275
@fabiocos, @perrotta : thanks a lot for checking! Indeed, #23119 is not included in these two PRs (tackles the strips detectors, not the TOTEM vertical timing detectors).
I am now launching an independent PR for the backport of this latter.

[2018-05-28 14:16] forthommel commented on #23275
#23356 was just launched to backport #23119 onto `CMSSW_10_1_X`.

[2018-05-28 15:37] intrepid42 commented on #22214
Hi Alberto, thanks a lot for checking this! So this seems to have been solved by some other PR in the dev releases? We may wait for the next release then and cross fingers that everything is solved!

(I suppose `git blame` would require to check out and recompile the whole CMSSW a few times...)

[2018-05-28 15:42] intrepid42 commented on #22214
(addendum: not sure if `git blame` does what I intended to suggest here = find the revision which introduces the crucial change. Maybe I confuse it with another VCS)

[2018-05-28 16:16] smuzaffar commented on #16556
closing this as missing file is now available.

[2018-05-28 16:16] #16556 closed

[2018-05-28 16:17] #23334 closed

[2018-05-28 16:19] smuzaffar commented on #23299
Fix is available here https://github.com/cms-sw/cmssw/pull/23340

[2018-05-28 16:19] #23299 closed

[2018-05-29 09:41] ahinzmann opened #23366 "Precision of PUPPI weights in MiniAOD"
The compression scheme used for PUPPI weights in MiniAOD turns out to be not quite optimal:
https://github.com/cms-sw/cmssw/blob/CMSSW_9_0_X/DataFormats/PatCandidates/src/PackedCandidate.cc#L342
In the following plot one can see, that around 0.5, the compression leads to no values between 0.45-0.55 since the precision around 0.5 is only ~10%.
[weight_not_charged_data_MC.pdf](https://github.com/cms

[2018-05-29 09:42] cmsbuild commented on #23366
A new Issue was created by  @ahinzmann .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-29 10:09] arizzi commented on #23366
the options I see are:
- increase the base from 6 bits to something more (going 9 bits would do a factor 8 in precision)
- use reducemantissa instead of log-packing (much larger footprint)
both would result in a size increase.

In any case tests of the final size increase should be performed and IORules for backward compatibility should be prepared

[2018-05-29 10:42] slava77 commented on #23366
If the weight is in the 0-1 range, we are already wasting one bit in pack8logClosed.

The particles with weight < 1% were dropped recently, which suggests that this is the lower end of necessary precision. Do we need to distinguish values below 0.1 with the log packing? If not, is there a problem with using the linear scale?

[2018-05-29 10:54] slava77 commented on #22978
after more careful reading of discussion with @Sam-Harper , the update in the egamma smearings appears to be only for the 2016 case.
So, we can benefit from an update to the external (see more in the discussion in https://github.com/cms-data/EgammaAnalysis-ElectronTools/pull/4)

[2018-05-29 10:57] ahinzmann commented on #23366
@slava77 just to clarify. even if we drop all puppi particles with weight <1%, the MiniAOD still contains all packedCandidates, and those packed candidates without related puppi particle should return a weight of 0.

[2018-05-29 10:59] ahinzmann commented on #23366
I don't see a particular problem with linear scale actually. This would mean 0, 0.004, 0.007, ... 0.996, 1, right? I would say this is acceptable. Does anyone remember why this was not chosen in the past?

[2018-05-29 13:38] Dr15Jones commented on #22135
The problem happened again in CMSSW_10_2_X_2018-05-26-1100 for architecture slc7_amd64_gcc630.
[code]

What is interesting about this is the main thread appears to still be looping through the different streams to start them up for the endRun. It also looks like only one stream has started to be processed by a TBB thread.

[2018-05-29 13:41] Dr15Jones commented on #22135
I've had a new thought about this. What if this is being caused by an exception going off during the end Stream LuminosityBlock processing? Could that lead to a WaitingTaskList not being called back becuase we decrement a count too soon?

[2018-05-29 14:50] ianna opened #23372 "CMS Shapes Validation: Trapezoid (aka TGeoArb8 in cmsShow)"
A Trapezoid is defined as follows:
[code]
It is expected to look like:

![screenshot 2018-05-29 16 35 14](https://user-images.githubusercontent.com/1390682/40666239-86717d42-635f-11e8-9d6f-295adc07b951.png)
[code]
but in DD4Hep it looks like this:
![screenshot 2018-05-29 16 35 29](https://user-images.githubusercontent.com/1390682/40666267-96785468-635f-11e8-8316-bf2a66a88ae3.png)

[code]
It's ethe

[2018-05-29 15:19] Dr15Jones commented on #23311
Another interesting item I notice is there was another module which had an error but its exception is not show since the framework only shows one exception per stream. The module is `topElecMuonHLTMonitor`.

The only other modules run during the event that failed are: `egHLTOffDQMSource` (on EndPath), `egHLTOffDQMSource_HEP17` (on EndPath), `DQMOutput` (on EndPath), `DQMoutput_step` (FWK module),

[2018-05-29 20:32] Dr15Jones opened #23377 "Mark all EDFilters on reconstruction_step Path with cms.ignore"
There are 4 EDFilters on the reconstruction_step Path: electronsWithPresel, mvaElectrons, pfNoPileUpCandidates and pfPileUpAllChargedParticles. When we run  `convertToUnscheduled` that function can not remove those EDFilters from the Path and put them on the appropriate Task because those modules are not marked with `cms.ignore()`.

By using `cms.ignore()` we can increase the amount of allowed int

[2018-05-29 20:32] cmsbuild commented on #23377
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-29 20:32] Dr15Jones commented on #23377
assign reconstruction

[2018-05-29 20:32] cmsbuild commented on #23377
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-29 21:42] arunhep commented on #23275
@fabozzi

how about using prompt conditions?
in that case you can use this key : https://github.com/cms-sw/cmssw/blob/master/Configuration/AlCa/python/autoCond.py#L33

[2018-05-30 07:56] ianna commented on #23372
@civanch - would it be possible to cross-check the shape with GDML? It could be a bug in our DD xml to root interpretation. Thanks.

[2018-05-30 09:40] MarkusFrankATcernch commented on #23372
Is the code to produce these Trap placements sort of portable?
Then I could try with a DD4hep test alone to reproduce it.

[2018-05-30 09:44] ianna commented on #23372
@MarkusFrankATcernch - I think, it's the Trap shape in DD4Hep. Please, see https://github.com/AIDASoft/DD4hep/issues/395

[2018-05-30 11:02] fabozzi commented on #23275
I have created PR #23388 to deploy the 2 data workflows.
At the moment the workflow on run 314276 uses MinimumBias since no ZeroBias PD is available for that run. I am waiting confirmation from Totem experts on which dataset should be actually used.

[2018-05-30 11:30] arunhep commented on #23275
may be totem experts can clarify one more thing. do they need this updated geometry : https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/3667.html in GT for this relval?

[2018-05-30 12:17] forthommel commented on #23275
@arunhep Yes, this geometry tag is required to pick up the timing detectors part.

[2018-05-30 13:04] makortel commented on #15248
Let me ask if there is a plan to add this test as part of PR tests? I'm afraid otherwise new problems continue to creep in.

[2018-05-30 14:50] nminafra commented on #23275
@fabozzi Any of the ZeroBiasn with n = 1 to 10 is fine.
Also MinimumBias should be fine, but we usually use ZeroBias1.
Thanks

[2018-05-30 16:42] slava77 commented on #23366
https://github.com/cms-sw/cmssw/blob/CMSSW_9_0_X/DataFormats/PatCandidates/src/classes_def_objects.xml#L325

we can do it after it's clear what is actually being changed.
If packedPuppiweight_ remains unchanged as a data member, this will not trigger a class version change which is required to invoke the ioread rule.
So, I guess if we need a change in the packing approach with an appropriate match

[2018-05-30 16:44] ahinzmann commented on #23366
what if we change the type from int8 to uint8?

[2018-05-30 16:48] slava77 commented on #23366
On 5/30/18 9:44 AM, ahinzmann wrote:

it should be enough, I think to change the version .
It's easy to check: scram will complain during build.

[2018-05-30 19:03] Dr15Jones commented on #23187
assign core

[2018-05-30 19:03] cmsbuild commented on #23187
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-30 19:03] Dr15Jones commented on #23187
+1

[2018-05-30 19:04] cmsbuild commented on #23187
This issue is fully signed and ready to be closed.

[2018-05-30 20:08] vgvassilev commented on #15248
@makortel, once all headers are fixed we will add a pull request level check.

[2018-05-30 20:28] fabiocos opened #23399 "Build CMSSW_10_1_6"

[2018-05-30 20:29] cmsbuild commented on #23399
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-05-30 20:29] fabiocos commented on #23399
+1

[2018-05-30 20:29] cmsbuild commented on #23399
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-05-30 20:29] cmsbuild commented on #23399
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-05-30 20:30] cmsbuild commented on #23399
The build has started for slc6_amd64_gcc630 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1635/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-30 20:31] cmsbuild commented on #23399
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1637/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-30 20:31] cmsbuild commented on #23399
The build has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1636/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-05-30 22:35] cmsbuild commented on #23399
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_6-slc7_amd64_gcc700/1637
Some tests (

[2018-05-30 23:07] cmsbuild commented on #23399
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_6-slc7_amd64_gcc630/1636
Some tests (

[2018-05-30 23:43] cmsbuild commented on #23399
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_6-slc7_amd64_gcc700/1637

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-31 00:31] cmsbuild commented on #23399
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_6-slc7_amd64_gcc630/1636

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-31 02:26] cmsbuild commented on #23399
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_6-slc6_amd64_gcc630/1635
Some tests (

[2018-05-31 03:41] cmsbuild commented on #23399
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_6-slc6_amd64_gcc630/1635

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-05-31 05:31] ianna commented on #23372
@smuzaffar - please, update DD4Hep external. There are a couple important bug fixes as of yesterday. Thanks.

[2018-05-31 05:32] #23372 closed

[2018-05-31 07:55] HeinerTholen opened #23401 "Jupyter notebook broken"
``jupyter notebook`` fails with the traceback below, starting from CMSSW_10_1_0_pre3. It is still working in CMSSW_10_1_0_pre2.

    Traceback (most recent call last):
      File "/cvmfs/cms.cern.ch/slc6_amd64_gcc700/external/py2-pippkgs/6.0-omkpbe3/bin/jupyter-notebook", line 6, in <module>
        from pkg_resources import load_entry_point
      File "/cvmfs/cms.cern.ch/slc6_amd64_gcc700/externa

[2018-05-31 07:55] cmsbuild commented on #23401
A new Issue was created by  @HeinerTholen .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-31 08:27] fabiocos commented on #23187
@Dr15Jones thanks, the problem was closed with the external update

[2018-05-31 08:27] #23187 closed

[2018-05-31 11:10] fabiocos commented on #23399
upload all

[2018-05-31 11:11] cmsbuild commented on #23399
Queing Jenkins upload for slc6_amd64_gcc630