[2018-07-15 10:47] fabiocos commented on #23796
upload all

[2018-07-15 10:48] cmsbuild commented on #23796
Queing Jenkins upload for slc6_amd64_gcc630

[2018-07-15 10:48] cmsbuild commented on #23796
Queing Jenkins upload for slc6_amd64_gcc700

[2018-07-15 10:48] cmsbuild commented on #23796
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-07-15 10:48] cmsbuild commented on #23796
Queing Jenkins upload for slc7_amd64_gcc630

[2018-07-15 10:48] cmsbuild commented on #23796
Queing Jenkins upload for slc7_amd64_gcc700

[2018-07-15 10:49] cmsbuild commented on #23796
The upload has started for slc6_amd64_gcc630 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1114/console

[2018-07-15 10:49] cmsbuild commented on #23796
The upload has started for slc6_amd64_gcc700 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1115/console

[2018-07-15 10:49] cmsbuild commented on #23796
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1116/console

[2018-07-15 10:49] cmsbuild commented on #23796
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0-slc7_aarch64_gcc700/1116
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-15 10:50] cmsbuild commented on #23796
The upload has started for slc7_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1117/console

[2018-07-15 10:51] cmsbuild commented on #23796
The upload has started for slc7_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1118/console

[2018-07-15 10:51] cmsbuild commented on #23796
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0-slc6_amd64_gcc630/1114
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-15 10:51] cmsbuild commented on #23796
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-15 10:51] cmsbuild commented on #23796
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0-slc7_amd64_gcc630/1117
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-15 10:51] cmsbuild commented on #23796
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-15 10:51] cmsbuild commented on #23796
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0-slc7_amd64_gcc700/1118
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-15 10:51] cmsbuild commented on #23796
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-15 10:54] cmsbuild commented on #23796
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0-slc6_amd64_gcc700/1115
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-15 10:54] cmsbuild commented on #23796
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-15 11:09] #21788 closed

[2018-07-15 11:21] #13194 closed

[2018-07-15 11:22] Dr15Jones commented on #13017
+1

[2018-07-15 11:22] #13017 closed

[2018-07-15 11:23] cmsbuild commented on #13017
This issue is fully signed and ready to be closed.

[2018-07-15 12:17] fabiocos commented on #23796
release-notes

[2018-07-15 12:17] cmsbuild commented on #23796
Generating release notes since CMSSW_10_2_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-07-15 12:17] cmsbuild commented on #23796
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_0 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc6_amd64_gcc630
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_0

Cheers,
cms-bot

You c

[2018-07-15 12:18] cmsbuild commented on #23796
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0

[2018-07-16 14:23] cmsbuild commented on #23797
The cleanup has started for slc6_amd64_gcc630

[2018-07-16 14:23] cmsbuild commented on #23797
The cleanup has started for slc7_amd64_gcc630

[2018-07-16 14:23] #23797 closed

[2018-07-16 14:31] cmsbuild commented on #23797
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_9-slc6_amd64_gcc630/1070

[2018-07-16 14:33] cmsbuild commented on #23797
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_9-slc7_amd64_gcc630/1071

[2018-07-16 16:05] karavdin opened #23803 "VIDElectronSelector does not work for FWLite with CMSSW 8_2_X and above"
VIDElectronSelector stopped working with FWLite since CMSSW version 8_2_X and above.
The error message:
TypeError: none of the 2 overloaded methods succeeded. Full details:
  VersionedSelector<edm::Ptr<reco::GsfElectron> > MakeVersionedSelector<reco::GsfElectron>::operator()(const string& pset, const string& which_config) =>
    An exception of category 'BadPluginName' occurred.
Exception Message:

[2018-07-16 16:05] cmsbuild commented on #23803
A new Issue was created by  @karavdin .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-16 16:07] kpedro88 commented on #23803
assign reconstruction

[2018-07-16 16:07] cmsbuild commented on #23803
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-16 18:00] guitargeek commented on #23803
Hi, I opened an issue about that a month ago, with a few ideas what the problem could be:
https://github.com/cms-sw/cmssw/issues/23676

[2018-07-17 05:19] abdoulline commented on #23744
@DryRun   David?

[2018-07-17 09:49] DryRun commented on #23744
Hi @abdoulline, thanks for the reminder. I made a backport of the two commits at https://github.com/cms-sw/cmssw/pull/23808, which should fix this crash.

[2018-07-17 10:23] cmsbuild commented on #23796
The cleanup has started for slc7_aarch64_gcc700

[2018-07-17 10:23] cmsbuild commented on #23796
The cleanup has started for slc7_amd64_gcc810

[2018-07-17 10:23] cmsbuild commented on #23796
The cleanup has started for slc6_amd64_gcc630

[2018-07-17 10:23] cmsbuild commented on #23796
The cleanup has started for slc6_amd64_gcc700

[2018-07-17 10:23] cmsbuild commented on #23796
The cleanup has started for slc7_amd64_gcc630

[2018-07-17 10:23] cmsbuild commented on #23796
The cleanup has started for slc7_amd64_gcc700

[2018-07-17 10:23] #23796 closed

[2018-07-17 10:24] cmsbuild commented on #23796
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0-slc7_aarch64_gcc700/1074

[2018-07-17 10:29] cmsbuild commented on #23796
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0-slc7_aarch64_gcc700/1079

[2018-07-17 10:30] cmsbuild commented on #23796
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0-slc7_amd64_gcc700/1080

[2018-07-17 10:31] cmsbuild commented on #23796
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0-slc6_amd64_gcc630/1072

[2018-07-17 10:31] cmsbuild commented on #23796
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0-slc6_amd64_gcc700/1073

[2018-07-17 10:37] cmsbuild commented on #23796
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0-slc6_amd64_gcc630/1078

[2018-07-17 10:43] cmsbuild commented on #23796
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0-slc7_amd64_gcc810/1081

[2018-07-17 10:52] abdoulline commented on #23744
Thank you, David.

Then, after it, Sunanda's PR #23688 (reverted) can be re-included again...

On Tue, 17 Jul 2018, David Yu wrote:

[2018-07-17 16:25] fabiocos opened #23813 "Build CMSSW_10_1_9"

[2018-07-17 16:25] cmsbuild commented on #23813
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-07-17 16:29] cmsbuild commented on #23813
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1703/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-17 16:29] cmsbuild commented on #23813
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1701/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-17 16:29] cmsbuild commented on #23813
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1702/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-17 16:46] cmsbuild commented on #23813
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc7_amd64_gcc630/1702

[2018-07-17 16:47] cmsbuild commented on #23813
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc7_amd64_gcc700/1703

[2018-07-17 16:47] cmsbuild commented on #23813
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc6_amd64_gcc630/1701

[2018-07-17 16:49] fabiocos commented on #23813
+1

[2018-07-17 16:49] cmsbuild commented on #23813
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-07-17 16:49] cmsbuild commented on #23813
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-07-17 16:50] cmsbuild commented on #23813
The build has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1706/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-17 16:50] cmsbuild commented on #23813
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1705/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-17 16:51] cmsbuild commented on #23813
The build has started for slc6_amd64_gcc630 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1704/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-17 18:55] cmsbuild commented on #23813
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc7_amd64_gcc630/1705
Some tests (

[2018-07-17 20:02] cmsbuild commented on #23813
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc7_amd64_gcc630/1705

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-17 20:08] cmsbuild commented on #23813
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc7_amd64_gcc700/1706
Some tests (

[2018-07-17 21:12] cmsbuild commented on #23813
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc7_amd64_gcc700/1706

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-17 22:10] cmsbuild commented on #23813
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc6_amd64_gcc630/1704
Some tests (

[2018-07-17 22:40] wouf commented on #23573
Please check #23815

[2018-07-17 23:25] cmsbuild commented on #23813
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9-slc6_amd64_gcc630/1704

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-18 06:37] fabiocos commented on #23813
upload all

[2018-07-18 06:37] cmsbuild commented on #23813
Queing Jenkins upload for slc6_amd64_gcc630

[2018-07-18 06:37] cmsbuild commented on #23813
Queing Jenkins upload for slc7_amd64_gcc700

[2018-07-18 06:39] cmsbuild commented on #23813
The upload has started for slc6_amd64_gcc630 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1119/console

[2018-07-18 06:39] cmsbuild commented on #23813
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1120/console

[2018-07-18 06:39] cmsbuild commented on #23813
The upload has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1121/console

[2018-07-18 06:40] cmsbuild commented on #23813
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_9-slc7_amd64_gcc630/1120
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-18 06:41] cmsbuild commented on #23813
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_9-slc7_amd64_gcc700/1121
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-18 06:41] cmsbuild commented on #23813
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-18 06:46] cmsbuild commented on #23813
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_9-slc6_amd64_gcc630/1119
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-18 06:46] cmsbuild commented on #23813
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-18 07:47] fabiocos commented on #23813
release-notes

[2018-07-18 07:47] cmsbuild commented on #23813
Generating release notes since CMSSW_10_1_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-07-18 07:47] cmsbuild commented on #23813
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_9 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_9

Cheers,
cms-bot

You can also click <a href="

[2018-07-18 07:48] cmsbuild commented on #23813
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_9

[2018-07-19 12:12] davidlange6 opened #23861 "Migrate legacy modules in DIGI jobs"
These modules limit our threading performance in DIGI jobs. Could they be migrated to non-legacy types?

MEtoEDMConverter
ecalPacker
siPixelRawData
simEmtfDigis
cscpacker
simDtTriggerPrimitiveDigis
simOmtfDigis
simCaloStage2Digis

[2018-07-19 12:12] cmsbuild commented on #23861
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-19 16:09] fabiocos opened #23873 "Massive failure for "Unable to find plugin 'L1TMuonEndcapParamsRcd@NewProxy' in category 'CondProxyFactory'""
In CMSSW_10_3_X_2018-07-19-1100 there is a generalized failure of the IB with the error

----- Begin Fatal Exception 19-Jul-2018 16:40:12 CEST-----------------------
An exception of category 'PluginNotFound' occurred while
   [0] Constructing the EventProcessor
   [1] Constructing ESSource: class=PoolDBESSource label='GlobalTag'
Exception Message:
Unable to find plugin 'L1TMuonEndcapParamsRcd@NewP

[2018-07-19 16:09] cmsbuild commented on #23873
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-19 16:10] fabiocos commented on #23873
assign l1

[2018-07-19 16:10] cmsbuild commented on #23873
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-19 16:13] fabiocos commented on #23873
@rekovic the old format is no more needed, but is this still required for old GTs?

@lpernie @arunhep FYI

[2018-07-19 16:18] fabiocos commented on #23873
@ggovi FYI

[2018-07-20 07:42] rekovic commented on #23873
@fabiocos Thanks.
Can you please point me to the log files, so I can identify which workflow(s) crashed, to be able to identify which GT needs to be updated.

Attn @lpernie @arunhep As Fabio mentioned, we will probably need to update a GT responsible for the crash. Please stay put.

[2018-07-20 08:23] cmsbuild commented on #23813
The cleanup has started for slc6_amd64_gcc630

[2018-07-20 08:23] cmsbuild commented on #23813
The cleanup has started for slc7_amd64_gcc630

[2018-07-20 08:23] cmsbuild commented on #23813
The cleanup has started for slc7_amd64_gcc700

[2018-07-20 08:23] #23813 closed

[2018-07-20 08:24] cmsbuild commented on #23813
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_9-slc7_amd64_gcc630/1083

[2018-07-20 08:27] cmsbuild commented on #23813
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_9-slc7_amd64_gcc700/1086

[2018-07-20 08:28] cmsbuild commented on #23813
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_9-slc6_amd64_gcc630/1085

[2018-07-20 08:29] fabiocos commented on #23873
@rekovic there are more than 400 wfs crashing

https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_10_3/2018-07-19-2300?selectedArchs=slc6_amd64_gcc700&selectedFlavors=X&selectedStatus=failed

just pick your favourite one :-)

We verified with @smuzaffar that this went unnoticed because of a weakness in scram (essentially the old plugin from the release was anyway used).

So this PR is referr

[2018-07-20 08:30] cmsbuild commented on #23813
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_9-slc6_amd64_gcc630/1082

[2018-07-20 10:47] arunhep commented on #23873
looking for the associated global tags containing the removed L1TMuonEndcapParamsRcd, I found thousands of them in the past and also in 10.2.X. I don't think we can just remove the condFormat without knowing where it is consumed.
Only easy solution is what @fabiocos already implemented is to put it back.

[2018-07-20 12:08] fabiocos commented on #23873
@arunhep thank you for the confirmation, I think this was overlooked in the review and masked by a hole in the testing procedure. I suggest that @rekovic repropose the code update but keeps the old format active.

[2018-07-20 12:10] fabiocos commented on #23780
@alberto-sanchez @efeyazgan is someone taking care of this? Not a top priority, but it is annoying to run tests that are known a priori to be broken...

[2018-07-23 22:53] davidlange6 opened #23970 "Compiling *.py with python3"
The FWCore subsystem is close to compiling all of its *py files with python3. It would be useful to start having the compilation for all packages run as part of IBs and summarized somewhere for experts to see (expecting to have lots of errors for some time...)

I haven't thought about how technically to do this as we keep the *pyc files together with the source.. [do python3 first, delete all pyc

[2018-07-23 22:53] davidlange6 commented on #23970
assign core

[2018-07-23 22:54] cmsbuild commented on #23970
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-23 22:54] cmsbuild commented on #23970
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-24 21:12] aminnj opened #24023 "Disagreement between FormulaEvaluator and TFormula/python?"
Hi,

I'm trying to sort out a difference I see in JECs between two jets. I got to the point of comparing function evaluations with two different frameworks (CMSSW with FormulaEvaluator, and a standalone TFormula implementation).

I have an example script below that compares an L1 correction for a jet with (pt=157.2,area=0.5,rho=23.2) using the formula/parameters from `Fall17_17Nov2017_V6_MC_L1Fast

[2018-07-24 21:14] cmsbuild commented on #24023
A new Issue was created by  @aminnj Nick Amin.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-24 21:18] kpedro88 commented on #24023
assign core
attn @aperloff (in case you remember something about this)

[2018-07-24 21:19] cmsbuild commented on #24023
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-24 21:51] davidlange6 commented on #24023
which release are you using?

[2018-07-24 21:52] aminnj commented on #24023
Edited them into the original post too late. I am using 9_2_8, but I tried going to 10_2_0_pre6 and see the same thing.

[2018-07-24 21:57] Dr15Jones commented on #24023
If I remember correctly, in the past the differences were very large, not a few fractions of a percent.

[2018-07-24 22:30] Dr15Jones commented on #24023
Looking at the test code, I see that all the tests are required to match to better than 1 part in a million:

https://github.com/cms-sw/cmssw/blob/f4ffc8bffbbfe88fffe91cf5dd8849ea5c6af621/CommonTools/Utils/test/testFormulaEvaluator.cc#L33

[2018-07-24 22:58] Dr15Jones commented on #24023
So I found that if I changed the expression to
[code]
i.e. I move the division by x earlier, then I get the expected answer. So definitely looks like a bug, not a rounding issue.

[2018-07-25 15:31] kpedro88 opened #24045 "Build CMSSW_10_1_9_patch1"

[2018-07-25 15:31] cmsbuild commented on #24045
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-07-25 15:33] kpedro88 commented on #24045
+1

[2018-07-25 15:33] cmsbuild commented on #24045
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_9_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-07-25 15:33] cmsbuild commented on #24045
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-07-25 15:35] cmsbuild commented on #24045
The build has started for slc7_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1709/console
CMSDIST Branch: [REL/CMSSW_10_1_9/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_9/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-25 15:35] cmsbuild commented on #24045
The build has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1708/console
CMSDIST Branch: [REL/CMSSW_10_1_9/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_9/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-25 15:37] cmsbuild commented on #24045
The build has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1707/console
CMSDIST Branch: [REL/CMSSW_10_1_9/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_9/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-25 16:00] aminnj commented on #24023
Wanted to also see for myself if it was a rounding issue before you found the x division modification, so I plotted differences in pT-eta (also to see if it even matters at all) and for low pT, high eta jets, the correction rises to a few %. Even 100% in some rare circumstances where the max(0.0001, ...) gets triggered for FormulaEvaluator but not TFormula.

[clipped to 10%](http://uaf-10.t2.ucsd.

[2018-07-25 16:00] cmsbuild commented on #24045
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc7_amd64_gcc630/1708
Some t

[2018-07-25 16:04] cmsbuild commented on #24045
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc7_amd64_gcc700/1709
Some t

[2018-07-25 16:05] cmsbuild commented on #24045
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc6_amd64_gcc630/1707
Some t

[2018-07-25 16:11] kpedro88 commented on #24045
abort
(some HLT PRs are also needed)

[2018-07-25 16:12] cmsbuild commented on #24045
Deleting CMSSW_10_1_9_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_10_1_9_patch1 successfully deleted.

 -cmsdist tag REL/CMSSW_10_1_9_patch1/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_10_1_9_patch1/slc7_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_10_1_9_patch1/slc7_amd64_gcc700 successfully deleted.

You must create a new issue to start over t

[2018-07-25 18:43] Dr15Jones commented on #24023
So I have a fix. Based on what I found, the following will also fail `"2*(3*4*5)/6"`. The problem was how precendence order mixed with parenthesis. This is the first case where the operations inside the parenthesis have the same precidence order as those directly outside.

[2018-07-25 19:33] Dr15Jones commented on #24023
See #24049

[2018-07-25 19:38] Dr15Jones commented on #24023
So now the question is, to which release should the fix be backported?

[2018-07-25 19:58] davidlange6 opened #24051 "random errors in fastsim addons"
I've seen this failure a few times in pr tests

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-24037/29441/addOnTests/fastsim1/cmsDriver.py_TTbar_13TeV_TuneCUETP8M1_cfi_--conditions_auto:run2_mc_l1stage1_--fast__-n_100_--eventcontent_AODSIM,DQM_--relval_100000,1000_-s_GEN,SIM,.log

Thread 4 (Thread 0x7fc81b7fe700 (LWP 15838)):
#0  0x0000003752adf403 in poll () from /lib64

[2018-07-25 19:58] cmsbuild commented on #24051
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-25 20:56] Dr15Jones commented on #23861
See #24052

[2018-07-25 21:03] davidlange6 commented on #23861
Thanks @dr15jones!

[2018-07-25 21:06] kpedro88 commented on #24023
@aminnj which JECs use this kind of expression? We want to stop making 10_1 releases as soon as possible, so the major question is whether it should be included in 9_4.

[2018-07-25 21:08] kpedro88 commented on #24051
assign fastsim

[2018-07-25 21:08] cmsbuild commented on #24051
New categories assigned: fastsim

@mdhildreth,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-25 21:11] kpedro88 commented on #24051
Indeed, I saw it once in one of my PRs (https://github.com/cms-sw/cmssw/pull/23703#issuecomment-404900843) and then it went away. I ran valgrind, but didn't find any memory corruption, just a leak (see #23795).

[2018-07-25 22:23] aminnj commented on #24023
Grepping through a bunch of text files for the L1 formulas, I see [1]. The formula changes between Summer2016 and Fall17. The Summer2016 syntax shows agreement between FormulaEvaluator and TFormula. I don't have my hands on anything newer than Fall17 V6 though.

[1]
[code]

[2018-07-25 22:37] Dr15Jones commented on #24023
Alternatively, the formulas could be changed from
```y*([1]*(z-[0])*(1+[2]*log(x/30.)))/x```

to

```y*[1]*(z-[0])*(1+[2]*log(x/30.))/x```

or

```y/x*([1]*(z-[0])*(1+[2]*log(x/30.)))```

which are identical mathematically and avoid the bug in FormulaEvaluator.

[2018-07-26 00:49] Dr15Jones commented on #23861
See #24057

[2018-07-26 15:12] aperloff commented on #24023
Changing this in the JEC side would require both a change in the text files from the git repo as well as the uploading of new payloads to the database and new global tags. I'm not sure which is easier, that or backporting the fix to CMSSW. Either way, the issue should be reported in a JetMET/JERC meeting if it hasn't already.

[2018-07-26 21:33] Dr15Jones commented on #23861
See #24105

[2018-07-27 14:23] cmsbuild commented on #24045
The cleanup has started for slc6_amd64_gcc630

[2018-07-27 14:23] cmsbuild commented on #24045
The cleanup has started for slc7_amd64_gcc630

[2018-07-27 14:23] cmsbuild commented on #24045
The cleanup has started for slc7_amd64_gcc700

[2018-07-27 14:23] #24045 closed

[2018-07-27 14:23] cmsbuild commented on #24045
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_9_patch1-slc7_amd64_gcc700/1089

[2018-07-27 14:38] karavdin commented on #24023
Hi all,
We'll "fix" txt files for the next Fall17 JEC release. Please make sure issue is fixed in cmssw in 10_2 and if possible in 10_1.
Anastasia (JERC convener)

[2018-07-27 14:45] kpedro88 commented on #24023
@karavdin we are generally moving on from 10_1_X at this point, so I don't plan to merge further backports.

[2018-07-27 15:04] prebello commented on #23439
Dear all

the same issue appears in 10_1_9 with the sequence

RECO -s RAW2DIGI,L1Reco,RECO,ALCA:TkAlMuonIsolated --runUnscheduled --nThreads 8 --data --era Run2_2018 --scenario pp --conditions 101X_dataRun2_Prompt_PixelCond_forTracker_v1 --eventcontent ALCARECO --datatier ALCARECO --customise Configuration/DataProcessing/RecoTLR.customisePostEra_Run2_2018 --filein /store/data/Run2018C/SingleMuon/R

[2018-07-27 15:09] karavdin commented on #24023
@kpedro88, ok thank for the info.

[2018-07-27 15:15] karavdin commented on #24023
For completeness here is the list of JEC, which might be affected (only publicly released and or injected in GTs):
Summer16_07Aug2017_V11 for 2016 legacy (80_X, 94_X)
Fall17_17Nov2017_V6 for 2017 ReReco (94_X, 10_1_X)
Fall17_17Nov2017_V8 for 2017 ReReco (94_X, 10_X_X)
We'll create version with "fixed" txt files as soon as possible and request new GTs.

Many thanks to @aminnj for spotting it and @a

[2018-07-27 21:41] Dr15Jones commented on #23861
See #24121

[2018-07-28 04:28] kpedro88 opened #24122 "Build CMSSW_10_1_9_patch1"

[2018-07-28 04:29] kpedro88 commented on #24122
+1

[2018-07-28 04:29] cmsbuild commented on #24122
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_9_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-07-28 04:29] cmsbuild commented on #24122
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-07-28 04:33] kpedro88 opened #24123 "Build CMSSW_10_2_1"

[2018-07-28 04:33] cmsbuild commented on #24123
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-07-28 04:34] kpedro88 commented on #24123
build cmssw-tool-conf

[2018-07-28 04:34] cmsbuild commented on #24123
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-07-28 04:36] cmsbuild commented on #24122
The build has started for slc6_amd64_gcc630 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1710/console
CMSDIST Branch: [REL/CMSSW_10_1_9/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_9/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-28 04:38] cmsbuild commented on #24122
The build has started for slc7_amd64_gcc630 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1711/console
CMSDIST Branch: [REL/CMSSW_10_1_9/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_9/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-28 04:40] cmsbuild commented on #24122
The build has started for slc7_amd64_gcc700 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1712/console
CMSDIST Branch: [REL/CMSSW_10_1_9/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_9/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-28 04:46] cmsbuild commented on #24123
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1713/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-28 04:52] cmsbuild commented on #24123
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1714/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-28 05:10] cmsbuild commented on #24122
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc7_amd64_gcc700/1712
Some t

[2018-07-28 05:12] cmsbuild commented on #24122
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc6_amd64_gcc630/1710
Some t

[2018-07-28 05:19] cmsbuild commented on #24122
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc7_amd64_gcc630/1711
Some t

[2018-07-28 06:19] kpedro88 commented on #24122
upload all

[2018-07-28 06:22] cmsbuild commented on #24122
Queing Jenkins upload for slc6_amd64_gcc630

[2018-07-28 06:22] cmsbuild commented on #24122
Queing Jenkins upload for slc7_amd64_gcc630

[2018-07-28 06:22] cmsbuild commented on #24122
Queing Jenkins upload for slc7_amd64_gcc700

[2018-07-28 06:32] cmsbuild commented on #24123
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_1-slc7_amd64_gcc700/1714

[2018-07-28 06:51] cmsbuild commented on #24122
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc6_amd64_gcc630/1710

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-28 06:51] cmsbuild commented on #24123
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_1-slc6_amd64_gcc700/1713

[2018-07-28 07:08] cmsbuild commented on #24122
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc7_amd64_gcc700/1712

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-28 09:36] cmsbuild commented on #24122
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_9_patch1-slc7_amd64_gcc630/1711

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-28 11:04] davidlange6 commented on #24122
Hi

For further builds, any data format change implies a full build ( also best practices for reco changes...)

Cheers,
David

On 28 Jul 2018, at 00:29, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

Request received. I will start to build the release after one of the following approve the issue: @slava77<https://github.com/slava77>, @davidlange6<https://github.com/da

[2018-07-28 14:53] kpedro88 commented on #24123
+1

[2018-07-28 14:54] cmsbuild commented on #24123
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2018-07-28 14:54] cmsbuild commented on #24123
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-07-28 14:54] cmsbuild commented on #24123
The build has started for slc6_amd64_gcc700 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1715/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-28 14:55] cmsbuild commented on #24123
The build has started for slc7_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1716/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-28 17:41] cmsbuild commented on #24123
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_1-slc7_amd64_gcc700/1716
Some tests (

[2018-07-28 20:10] cmsbuild commented on #24123
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_1-slc7_amd64_gcc700/1716

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-28 22:23] cmsbuild commented on #24123
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_1-slc6_amd64_gcc700/1715

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-28 22:30] cmsbuild commented on #24123
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_1-slc6_amd64_gcc700/1125
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-28 22:30] cmsbuild commented on #24123
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-28 22:33] kpedro88 commented on #24123
release-notes since CMSSW_10_2_0

[2018-07-28 22:35] cmsbuild commented on #24123
Generating release notes since CMSSW_10_2_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-07-28 22:35] cmsbuild commented on #24123
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-07-28 22:35] cmsbuild commented on #24123
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_1

[2018-07-30 04:38] cmsbuild commented on #24122
The cleanup has started for slc6_amd64_gcc630

[2018-07-30 04:38] cmsbuild commented on #24122
The cleanup has started for slc7_amd64_gcc630

[2018-07-30 04:38] cmsbuild commented on #24122
The cleanup has started for slc7_amd64_gcc700

[2018-07-30 04:38] #24122 closed

[2018-07-30 04:39] cmsbuild commented on #24122
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_9_patch1-slc7_amd64_gcc700/1092

[2018-07-30 04:43] cmsbuild commented on #24122
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_9_patch1-slc6_amd64_gcc630/1090

[2018-07-30 04:43] cmsbuild commented on #24122
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_9_patch1-slc7_amd64_gcc630/1091

[2018-07-30 14:19] sensrcn commented on #22214
Is there any more progress on this issue? We would like to run DIRE in CMSSW and it would be very useful to learn the current situation. Thanks!

[2018-07-30 14:22] kpedro88 commented on #22214
The fix I made is included in the 10_2_X release cycle.

[2018-07-30 18:55] aminnj commented on #24023
Hi all,

Thank you very much for the fix+follow up!

From the user's perspective, all that is needed to get fixed quantities that depend on L1 (e.g., corrected pfMET) is to re-run on miniAOD with the latest global tags when they are ready. Is this correct, or does something need to happen upstream first?

Thanks,
Nick

[2018-07-30 20:38] cmsbuild commented on #24123
The cleanup has started for slc6_amd64_gcc700

[2018-07-30 20:38] cmsbuild commented on #24123
The cleanup has started for slc7_amd64_gcc700

[2018-07-30 20:38] #24123 closed

[2018-07-30 20:39] cmsbuild commented on #24123
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_1-slc7_amd64_gcc700/1094

[2018-07-30 20:43] cmsbuild commented on #24123
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_1-slc6_amd64_gcc700/1095

[2018-07-30 20:45] cmsbuild commented on #24123
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_1-slc6_amd64_gcc700/1093

[2018-07-31 05:35] karavdin commented on #24023
Hi Nick,
Yes, user will have to re-apply JEC on miniAOD and make sure all relevant things, like MET correction, are re-done.

Cheers,
Anastasia

From: "Nick Amin" <notifications@github.com>
To: "cms-sw/cmssw" <cmssw@noreply.github.com>
Cc: "Anastasia Karavdina" <anastasia.karavdina@desy.de>, "Mention" <mention@noreply.github.com>
Sent: Monday, 30 July, 2018 20:56:10
Subject: Re: [cms-sw/cmssw] Dis

[2018-07-31 06:10] aminnj commented on #24023
Thanks for the clarification, Anastasia

[2018-07-31 14:15] Dr15Jones commented on #23861
See #24145

[2018-07-31 16:38] Dr15Jones commented on #23861
See #24148

This is the last one that is showing up as stalling in my testing. `simBmtfDigis` is still stalling, but it is a `one` module with a shared resource so nothing that can be done.

When running the job using `convertToUnscheduled`, I find the following modules are never run:
DMHcalTTPDigis, MEtoEDMConverter, hltFEDSelector, hltOnlineBeamSpot, hltScalersRawToDigi, hltTriggerSummaryRAW, om

[2018-08-01 07:29] fabiocos opened #24150 "Build CMSSW_7_1_35"

[2018-08-01 07:30] cmsbuild commented on #24150
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-01 07:30] fabiocos commented on #24150
+1

[2018-08-01 07:30] cmsbuild commented on #24150
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_35. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2018-08-01 07:30] cmsbuild commented on #24150
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-08-01 07:37] cmsbuild commented on #24150
The build has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1717/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-08-01 09:44] cmsbuild commented on #24150
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_35-slc6_amd64_gcc481/1717
Some tests (

[2018-08-01 09:51] fabiocos opened #24152 "StdException in HGCalSimHitValidation"
In CMSSW_10_3_X_2018-07-31-2300 a reporducible StdException in HGCalSimHitValidation appears in workflow 24034.0

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc6_amd64_gcc700/CMSSW_10_3_X_2018-07-31-2300/pyRelValMatrixLogs/run/24034.0_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2023D28_GenSimHLBeamSpotFull14+DigiFullTrigger_2023D28+RecoFullGlobal_2023D28+HARVESTFullGlobal_2023D28/step3_TTbar_14TeV+TTba

[2018-08-01 09:52] cmsbuild commented on #24152
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-01 09:52] fabiocos commented on #24152
assign dqm,upgrade

[2018-08-01 09:52] cmsbuild commented on #24152
New categories assigned: dqm,upgrade

@jfernan2,@andrius-k,@schneiml,@kmaeshima,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-01 09:53] fabiocos commented on #24152
@bsunanda your update seems to have a problem with geometry scenario D28, which is not tested by default during the PR scrutiny. Could you please have a look and provide a fix? I would like to avoid delaying 10_3_0_pre1 because of this issue

[2018-08-01 10:03] cmsbuild commented on #24150
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_35-slc6_amd64_gcc481/1717

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2018-08-01 11:10] fabiocos commented on #24150
upload all

[2018-08-01 11:10] cmsbuild commented on #24150
Queing Jenkins upload for slc6_amd64_gcc481

[2018-08-01 11:11] cmsbuild commented on #24150
The upload has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1127/console

[2018-08-01 11:11] cmsbuild commented on #24150
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_35-slc6_amd64_gcc481/1127
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-01 11:12] cmsbuild commented on #24150
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-01 11:17] fabiocos commented on #24150
release-notes

[2018-08-01 12:49] slava77 commented on #24023
in https://github.com/cms-sw/cmssw/issues/24023#issuecomment-407806447

@aminnj  please post also a version clipped at 5 or 3% (it looks like the discrepancy persists even for pt> 20 GeV.

Regarding https://github.com/cms-sw/cmssw/issues/24023#issuecomment-409100520

what is included in the recipe in this case? I'm trying to understand if the cost of rerunning is similar to rerunning miniAOD and i

[2018-08-01 13:00] kpedro88 commented on #24023
@slava77
The JetMET POG provides a Python function `updateJetCollection()`. The operations to update the JECs are not too intensive in CPU. Similarly, there is a function `runMetCorAndUncFromMiniAOD()` to propagate the JECs to the MET, which is also not too CPU intensive.

I typically haven't worried about the other quantities you mentioned. The b-tagging uses uncorrected jet info, as far as I kno

[2018-08-01 13:13] mmusich commented on #23774
@fabferro made me notice that in `CMSSW_10_2_0` one can see agin the problem, running the same recipe I reported above, and now (as I speak 1 Aug 2018, 3:12 GVA time) the file I am trying to access is not empty:
[code]

[2018-08-01 13:27] slava77 commented on #24023
IIUC, only corrected jets with pt> 10 GeV are saved in miniAOD.
Considering the size of the discrepancies in http://uaf-10.t2.ucsd.edu/%7Enamin/dump/issue_24023/plot_unclipped.png
is it obvious that we can even use jets in a consistent way with pt~< 20 GeV?

[2018-08-01 13:29] kpedro88 commented on #24023
That's true. Generally, I think JetMET does not recommend use of very low pT jets in analysis. (It's also possible to recluster the packed PF candidates to get a full jet collection, modulo floating point differences, but this is certainly more CPU intensive than the other operations I mentioned in the previous comment. Though, much less CPU intensive than all the massive deep NNs that CMS is star

[2018-08-01 13:30] bsunanda commented on #24152
Hi Fabio

I am taking a look. We should try to resolve this as soon as possible. Regards

Sunanda
________________________________
From: Fabio Cossutti [notifications@github.com]
Sent: 01 August 2018 11:53
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] StdException in HGCalSimHitValidation (#24152)

@bsunanda<https://github.com/bsunanda> your update seems to have a prob

[2018-08-01 13:33] makortel commented on #24023
Just to check that I understood correctly, the inference of these NNs is slower than jet clustering?

[2018-08-01 13:43] slava77 commented on #24023
On 8/1/18 6:33 AM, Matti Kortelainen wrote:

as an example from 136.8311:
- pfDeepFlavourJetTagsSlimmedDeepFlavour is 154 ms/ev
- ca8PFJetsCHSprunedForBoostedTaus is 48 ms/ev
- ak8PFJetsPuppi is 29 ms/ev
..
well
-  puppi and puppiNoLep add up to 340 ms/ev

[2018-08-01 13:45] kpedro88 commented on #24023
Yep, that has been my observation. The [DeepAK8 presentation](https://indico.cern.ch/event/746010/contributions/3083337/attachments/1694525/2727184/deepAK8_cmssw_integration_RECOAT_20180727_hqu.pdf) from the last reco meeting compares DeepAK8, DeepDoubleB, and DeepFlavour, and they are all pretty slow.

@slava77 is that even after I reduced the puppi CPU usage?

[2018-08-01 13:55] slava77 commented on #24023
this was in CMSSW_10_2_0

[2018-08-01 13:57] kpedro88 commented on #24023
Ah, I bet it includes puppi for AK4 jets (I usually just check for AK8 jets, there are fewer of those).

[2018-08-01 13:58] kpedro88 commented on #24152
@bsunanda I think this is the same problem I hacked around in some other validation modules:
https://github.com/cms-sw/cmssw/commit/e5bb5f9b177f232f66579109c4a5f294c7f8bbd5

I can propagate this hack to `HGCalSimHitValidation`, but we really need someone to take a deep look at the HGCal validation code for the new geometry.

[2018-08-01 14:17] kpedro88 commented on #24152
See #24158

[2018-08-01 14:20] kpedro88 commented on #24023
Never mind, puppi is run before the clustering, so it is indeed slower.

[2018-08-01 14:34] fabferro commented on #23774
Yes, I'm also having the same problem with a config file of my own, but always coming from a json file.
I'm using 10_2_1 with slc6_amd64_gcc700 architecture.

[2018-08-01 14:58] fabferro commented on #23774
Yes, I'm also having the same problem with a config file of my own, but always coming from a json file.
I'm using 10_2_1 with slc6_amd64_gcc700 architecture.

[2018-08-01 15:38] bsunanda commented on #24152
@fabiocos Hope PR #24160 will fix this issue. It is under test now

[2018-08-01 15:57] ericvaandering commented on #23774
I'll try to take a look at this as I wrote it originally.

[2018-08-01 15:59] Dr15Jones commented on #23774
I can reproduce a similar problem directly in python
[code]

[2018-08-01 16:06] aminnj commented on #24023
Slava, I updated my comment above with some more zoomed in plots.

[2018-08-01 16:13] slava77 commented on #24023
On 8/1/18 9:06 AM, Nick Amin wrote:

Thanks, Nick.
from
http://uaf-10.t2.ucsd.edu/%7Enamin/dump/issue_24023/plot_pt25_eta2p5.png
IIUC, for pt>25 the discrepancy is within just 0.1%.

[2018-08-01 16:54] slava77 opened #24164 "find origins of packed candidate with PVOrig null (related to https://its.cern.ch/jira/browse/CMSCOMPPR-3271 )"
This is a follow up issue to understand the origins of rare cases with a missing PV association

Patches to simply skip the problem were added in
- https://github.com/cms-sw/cmssw/pull/24138
- https://github.com/cms-sw/cmssw/pull/24137
- https://github.com/cms-sw/cmssw/pull/24143

Similar symptoms, but perhaps a different problem happened before in connection with https://github.com/cms-sw/cmssw/i

[2018-08-01 16:54] cmsbuild commented on #24164
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-01 16:54] slava77 commented on #24164
assign reconstruction

@gpetruc @arizzi

[2018-08-01 16:55] cmsbuild commented on #24164
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-01 16:58] slava77 commented on #24164
ah, related to the original crash reports in 94X, I guess the explanation is that the fix upstream (in tracking) simply does not exist in 94X inputs (even more so in the 80X outputs).

[2018-08-01 19:35] ericvaandering commented on #23774
The source of this problem is the code following https://github.com/cms-sw/cmssw/commit/1c7e3fe48cd3c71887aea76f04337fdbc4152328#diff-970bf0eb3f50feb58cf09f89833b6398L908

This entire commit is doomed to fail on python2. Python2 has two kinds of strings, *unicode* and *str*. They share a base class called *basestr*. Python3 only has one kind of string called *str*

So in python2, this check is now

[2018-08-02 08:17] fabiocos opened #24172 "Build CMSSW_9_3_12"

[2018-08-02 08:17] cmsbuild commented on #24172
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-02 08:19] fabiocos commented on #24172
+1

[2018-08-02 08:20] cmsbuild commented on #24172
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_12. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-08-02 08:20] cmsbuild commented on #24172
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-08-02 08:35] fabiocos commented on #24152
#24160 has been merged. As far as I can see this is a temporary solution, but for the short term it helps not to discard the whole development

[2018-08-02 08:35] #24152 closed

[2018-08-02 08:36] fabiocos commented on #23873
@rekovic are you planning to repropose a PR with the discarded code by keeping the old data format?

[2018-08-02 08:37] fabiocos commented on #23780
@efeyazgan @alberto-sanchez any news here?

[2018-08-02 08:38] fabiocos commented on #23744
The problem looks fixed now

[2018-08-02 08:38] #23744 closed

[2018-08-02 08:40] fabiocos commented on #23634
After the merge of #23644 this issue can be closed

[2018-08-02 08:40] #23634 closed

[2018-08-02 09:20] qliphy commented on #23780
@fabiocos  I think  @Saptaparna will give an update soon

[2018-08-02 12:06] cmsbuild commented on #24172
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_12-slc6_amd64_gcc630/1718
Some tests (

[2018-08-02 13:15] cmsbuild commented on #24172
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_12-slc6_amd64_gcc630/1718

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-08-02 15:37] cmsbuild commented on #24172
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_12-slc7_amd64_gcc630/1719
Some tests (

[2018-08-02 16:14] fabiocos opened #24178 "Build CMSSW_10_3_0_pre1"

[2018-08-02 16:14] cmsbuild commented on #24178
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-02 16:15] fabiocos commented on #24178
build cmssw-tool-conf

[2018-08-02 16:15] cmsbuild commented on #24178
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_amd64_gcc810, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-08-02 16:16] cmsbuild commented on #24178
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1720/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-02 16:17] cmsbuild commented on #24178
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1721/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-02 16:17] cmsbuild commented on #24178
The cmssw-tool-conf build has started for slc7_amd64_gcc810 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1722/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-02 17:04] Saptaparna commented on #23780
@fabiocos Updating the gridpacks to the following:
/cvmfs/cms.cern.ch/phys_generator/gridpacks/2017/13TeV/madgraph/V5_2.4.2/exo_diboson/Spin_2/BulkGraviton_ZZ_inclu_narrow_M1200_slc6_amd64_gcc481_CMSSW_7_1_30_tarball.tar.xz

for workflow: 562

and to

/cvmfs/cms.cern.ch/phys_generator/gridpacks/slc6_amd64_gcc481/13TeV/madgraph/V5_2.4.2/tt012j_5f_ckm_NLO_FXFX/v5/tt012j_5f_ckm_NLO_FXFX_tarball.tar.x

[2018-08-02 17:53] cmsbuild commented on #24178
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc7_amd64_gcc700/1721

[2018-08-02 18:08] kpedro88 commented on #23795
@ssekmen @skurz this should be addressed before the 2017 fastsim workflow is put into production

[2018-08-02 18:33] cmsbuild commented on #24178
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc6_amd64_gcc700/1720

[2018-08-02 18:47] cmsbuild commented on #24172
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_12-slc7_amd64_gcc630/1719

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-08-02 19:07] Dr15Jones opened #24180 "DIGI workflow should be converted to unscheduled"
Tests I have done using the configuration for the 2017 DIGI workflow showed that converting to unschedule improved the event throughput of the job by 10%. Part of this may have been because there are EDProducers in the job which are producing data products no other modules want.

[2018-08-02 19:07] cmsbuild commented on #24180
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-02 19:13] davidlange6 commented on #24180
Cool - this is just a cmsdriver option to add to relvals

On 2 Aug 2018, at 21:08, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

Tests I have done using the configuration for the 2017 DIGI workflow showed that converting to unschedule improved the event throughput of the job by 10%. Part of this may have been because there are EDProducers in the job which are prod

[2018-08-02 19:27] Dr15Jones commented on #24180
@kpedro88

The way the framework works, the output collections are guaranteed to be the same between scheduled and unscheduled.

[2018-08-02 19:28] cmsbuild commented on #24178
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc810 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc7_amd64_gcc810/1722

[2018-08-02 19:48] fabiocos commented on #24172
upload all

[2018-08-02 19:48] cmsbuild commented on #24172
Queing Jenkins upload for slc6_amd64_gcc630

[2018-08-02 19:48] cmsbuild commented on #24172
Queing Jenkins upload for slc7_amd64_gcc630

[2018-08-02 19:50] fabiocos commented on #24178
+1

[2018-08-02 19:50] cmsbuild commented on #24178
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-08-02 19:50] cmsbuild commented on #24178
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc810, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-08-02 19:51] cmsbuild commented on #24172
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1128/console

[2018-08-02 19:52] cmsbuild commented on #24172
The upload has started for slc7_amd64_gcc630 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1129/console

[2018-08-02 19:53] cmsbuild commented on #24172
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_12-slc6_amd64_gcc630/1128
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-02 19:53] cmsbuild commented on #24172
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-02 19:53] cmsbuild commented on #24178
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1723/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-02 19:53] cmsbuild commented on #24178
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1724/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-02 19:54] cmsbuild commented on #24172
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_12-slc7_amd64_gcc630/1129
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-02 19:54] cmsbuild commented on #24178
The build has started for slc7_amd64_gcc810 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1725/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-02 19:54] cmsbuild commented on #24172
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-02 20:34] bbockelm opened #24181 "Switch UUID generation to random"
The current UUID generation technique:

https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/FWCore/Utilities/src/Guid.cc#L29

causes the UUID to be based on the MAC address and a relatively fine-grained timestamp, assuming a lot of the randomness comes from the MAC.

Unfortunately, Docker reuses the same MAC for containers -- meaning that all worker nodes at FNAL and all

[2018-08-02 20:35] cmsbuild commented on #24181
A new Issue was created by  @bbockelm Brian Bockelman.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-02 20:39] kpedro88 commented on #24181
assign core

[2018-08-02 20:39] cmsbuild commented on #24181
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-02 20:41] fabiocos commented on #24172
release-notes

[2018-08-02 20:41] cmsbuild commented on #24172
Generating release notes since CMSSW_9_3_11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-08-02 20:41] cmsbuild commented on #24172
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_12 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_12

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-08-02 20:42] cmsbuild commented on #24172
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_12

[2018-08-02 20:53] cmsbuild commented on #24178
The was an error for slc7_amd64_gcc810.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc7_amd64_gcc810/1725

[2018-08-02 21:11] cmsbuild commented on #24178
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1726/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-02 21:47] Saptaparna commented on #23780
Created PR that reflects updated path for the gridpacks: https://github.com/cms-sw/cmssw/pull/24183

[2018-08-02 22:03] cmsbuild commented on #24178
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc7_amd64_gcc700/1724
Some tes

[2018-08-02 23:36] cmsbuild commented on #24178
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc7_aarch64_gcc700/1726

[2018-08-02 23:37] cmsbuild commented on #24178
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-08-02 23:38] cmsbuild commented on #24178
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1727/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-02 23:47] cmsbuild commented on #24178
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc6_amd64_gcc700/1723
Some tes

[2018-08-02 23:49] cmsbuild commented on #24178
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc7_amd64_gcc700/1724

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-03 01:55] cmsbuild commented on #24178
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc6_amd64_gcc700/1723

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-03 02:41] cmsbuild commented on #24178
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc7_aarch64_gcc700/1727
Some

[2018-08-03 02:44] cmsbuild commented on #24178
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre1-slc7_aarch64_gcc700/1727

Tests results:
11 0 0 0 0 0 0 0 0 tests passed, 20 11 0 0 0 0 0 0 0 failed

[2018-08-03 06:41] cmsbuild commented on #24178
Queing Jenkins upload for slc6_amd64_gcc700

[2018-08-03 06:41] cmsbuild commented on #24178
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-08-03 06:41] cmsbuild commented on #24178
Queing Jenkins upload for slc7_amd64_gcc700

[2018-08-03 06:43] cmsbuild commented on #24178
The upload has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1130/console

[2018-08-03 06:43] cmsbuild commented on #24178
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1132/console

[2018-08-03 06:43] cmsbuild commented on #24178
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1131/console

[2018-08-03 06:44] cmsbuild commented on #24178
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_0_pre1-slc7_aarch64_gcc700/1132
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-03 06:45] cmsbuild commented on #24178
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_0_pre1-slc7_amd64_gcc700/1131
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-03 06:45] cmsbuild commented on #24178
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-03 06:45] cmsbuild commented on #24178
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_0_pre1-slc6_amd64_gcc700/1130
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-03 06:45] cmsbuild commented on #24178
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-03 07:31] fabiocos commented on #24178
release-notes since CMSSW_10_2_0

[2018-08-03 07:31] cmsbuild commented on #24178
Generating release notes since CMSSW_10_2_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-08-03 07:31] cmsbuild commented on #24178
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_3_0_pre1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_0_pre1

Cheers,
cms-bot

You can also click <a href="mailto:

[2018-08-03 07:34] cmsbuild commented on #24178
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_0_pre1

[2018-08-03 09:13] makortel opened #24185 "Add ExternalWork-like mechanism for ESProducers"
In general transferring EventSetup data to an accelerator device may be done asynchronously (this is the case with CUDA), so we could gain something if ESProducer itself could have two steps like in ExternalWork for EDProducers. Essentially the first step (acquire) would initiate the transfers to the device (or possibly kernels as well), and the second step (produce) would get run after the asynch

[2018-08-03 09:13] cmsbuild commented on #24185
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-03 09:26] cmsbuild commented on #24150
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_35-slc6_amd64_gcc481/1096

[2018-08-03 09:56] makortel opened #24188 "Create a product alias functionality with ordered fallback mechanism"
One way to incorporate chains of algorithms using accelerators would be to
* one EDProducer for each algorithm for each device type, and
   * e.g. a CPU producer, CUDA producer, FPGA producer
* organize these producers into Paths per device type with the first module being an EDFilter deciding whether the algorithms for that device type should run or not
    * e.g. one Path for CPU, one Path for C

[2018-08-03 09:58] cmsbuild commented on #24188
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-03 10:00] makortel commented on #24188
I don't know if it is possible, or if there would be any dangerous implications, but from user side the configuration would greatly simplify if the product instance label and the product type could be omitted. The configuration could then be simply something along
[code]

I can imagine that a case where `fooCUDA` and `fooCPU` would produce different sets of products, this simplification could lead

[2018-08-03 11:09] makortel opened #24190 "Add a mechanism to execute a Task conditionally"
One way to organize modules using accelerators to mutually exclusive chains (e.g. CPU, CUDA, FPGA) with dynamic decision on which chain to execute is to create a Path for each chain with a filter at the beginning doing the decision (see also #24188). A downside of inserting EDProducers in Paths is that they will be always run (unless the filter decides otherwise) even if there are no modules askin

[2018-08-03 11:10] cmsbuild commented on #24190
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-03 12:06] Dr15Jones commented on #24185
assign core

[2018-08-03 12:06] cmsbuild commented on #24185
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-03 12:09] Dr15Jones commented on #24188
assign core

[2018-08-03 12:09] cmsbuild commented on #24188
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-03 12:11] Dr15Jones commented on #24190
assign core

[2018-08-03 12:11] cmsbuild commented on #24190
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-03 12:28] makortel opened #24193 "How to deal with arbitrary Paths in cff files in cmsDriver/ConfigBuilder?"
One prototype for including accelerator algorithms that we are exploring in patatrack (https://github.com/cms-patatrack/cmssw/pull/100) would require defining Paths in `cff` configuration files (see also #24188 and #24190). This approach clashes with the cmsDriver/ConfigBuilder configuration generation. Those insert an explicit `cms.Schedule` in the final configuration file that then dictates whic

[2018-08-03 12:28] cmsbuild commented on #24193
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-03 12:34] Dr15Jones commented on #24193
assign core

[2018-08-03 12:34] cmsbuild commented on #24193
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-03 21:23] Dr15Jones opened #24203 "GlobalVector::cross is wrong in gcc8 using -Ofast"
When calling GlobalVector::cross in gcc8 when using -O fast, the y value of the resultant value has the wrong sign.
Using -O0 or -O2, everything works fine.

[2018-08-03 21:23] cmsbuild commented on #24203
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-03 21:26] Dr15Jones commented on #24203
A simple example program is
[code]

Where it can be compiled doing
[code]

or
[code]

[2018-08-03 21:27] Dr15Jones commented on #24203
NOTE: loading the above two versions of the program into the debug and doing `disassemble main` does not help, since the compiler actually does the cross product calculation at compile time!

[2018-08-03 21:27] Dr15Jones commented on #24203
assign core

[2018-08-03 21:27] cmsbuild commented on #24203
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-03 21:27] Dr15Jones commented on #24203
@wddgit @makortel @VinInn Thought you might want to know.

[2018-08-03 22:13] Dr15Jones commented on #24203
I was further able to boil down the program to
[code]

[2018-08-04 07:01] VinInn commented on #24203
will check the assembler...

[2018-08-04 07:26] VinInn commented on #24203
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86855

I suspect it is intended (Ofast ignores signed zeros)

will look for a workaround
https://cdn.arstechnica.net/wp-content/uploads/2018/08/pdev.jpg

[2018-08-04 12:46] VinInn commented on #24203
https://cdn.arstechnica.net/wp-content/uploads/2018/08/pdev.jpg gave its fruits: will try this
     const __m128i neg = _mm_set_epi32(0,0,0x80000000,0);
     __m128i ret = __m128i(_mm_sub_ps(v5, v3));
     return __m128(_mm_xor_si128(ret,neg));

[2018-08-04 18:55] cmsbuild commented on #24172
The cleanup has started for slc6_amd64_gcc630

[2018-08-04 18:55] cmsbuild commented on #24172
The cleanup has started for slc7_amd64_gcc630

[2018-08-04 18:55] #24172 closed

[2018-08-04 18:56] cmsbuild commented on #24172
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_12-slc6_amd64_gcc630/1097

[2018-08-04 19:02] cmsbuild commented on #24172
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_12-slc7_amd64_gcc630/1098

[2018-08-05 05:39] cmsbuild commented on #24178
The cleanup has started for slc7_aarch64_gcc700

[2018-08-05 05:39] cmsbuild commented on #24178
The cleanup has started for slc7_amd64_gcc810

[2018-08-05 05:39] cmsbuild commented on #24178
The cleanup has started for slc6_amd64_gcc700

[2018-08-05 05:39] cmsbuild commented on #24178
The cleanup has started for slc7_amd64_gcc700

[2018-08-05 05:39] #24178 closed

[2018-08-05 05:40] cmsbuild commented on #24178
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_pre1-slc6_amd64_gcc700/1099

[2018-08-05 05:40] cmsbuild commented on #24178
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_pre1-slc7_aarch64_gcc700/1100

[2018-08-05 05:41] cmsbuild commented on #24178
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_pre1-slc6_amd64_gcc700/1103

[2018-08-05 05:42] cmsbuild commented on #24178
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_pre1-slc7_amd64_gcc700/1101

[2018-08-05 05:43] cmsbuild commented on #24178
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_pre1-slc7_amd64_gcc810/1102

[2018-08-05 05:48] cmsbuild commented on #24178
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_pre1-slc7_amd64_gcc810/1104

[2018-08-07 14:47] Dr15Jones commented on #24023
+1

[2018-08-07 14:47] cmsbuild commented on #24023
This issue is fully signed and ready to be closed.

[2018-08-07 21:55] wddgit opened #24231 "GCC 8 Compiler Warning in DTSpyHelper.cc"
While working to fix the many compiler warnings we get with the new GCC 8 compiler, I've run into one where I need some help to resolve it. It looks to me like this is in alca code (so I am including the people I think are the alca L2's here, sorry if I am wrong)

@arunhep
@tocheng
@pohsun

The problem is in file DTCommissioning/plugins/DTSpyHelper.cc in function DTCtcp::WaitData. My first observa

[2018-08-07 21:55] cmsbuild commented on #24231
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-08 07:57] fabiocos commented on #24023
the code integrated in 10_3_X/10_2_X is fixing the problem, and a corresponding fix is available for 9_4_X (although its integration breaking backward compatibility should be better made at the next JES update, if any)

[2018-08-08 11:35] mmusich commented on #23774
I checked that #24168 solves the problem @fabferro FYI.
I am closing the issue.

[2018-08-08 11:35] #23774 closed

[2018-08-08 13:27] Dr15Jones commented on #24203
+1
a workaround has been proposed

[2018-08-08 13:27] #24203 closed

[2018-08-08 13:27] cmsbuild commented on #24203
This issue is fully signed and ready to be closed.

[2018-08-08 15:29] Dr15Jones commented on #24181
See ##24246

[2018-08-08 15:54] wddgit commented on #24231
After staring at this some  I can see that DTCtcp::WaitData is not only not called by anything in the repository, but it appears to me to be full of nonsense. It couldn't ever have worked. It calls FD_SET(sock,&rfds) before select but then it calls FD_ISSET(0,&rfds) after select. The file descriptors don't even match, sock is probably not 0. If I am understanding the documentation I am reading rel

[2018-08-08 16:58] bbockelm commented on #24181
@Dr15Jones - assuming that passes unit tests, what branches should we backport to?

[2018-08-08 19:20] fabiocos opened #24251 "Build CMSSW_10_2_2"

[2018-08-08 19:20] cmsbuild commented on #24251
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-08 19:21] fabiocos commented on #24251
+1

[2018-08-08 19:25] cmsbuild commented on #24251
The build has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1729/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-08 20:07] lpernie commented on #24231
Hello @wddgit ,
. Thanks for trying to address the issue with #24249
. Let me add @ptraczyk , that I think is the real expert about DTs. I think he can add more insight about the real scope of that method
We can further discuss on #24249

[2018-08-08 20:13] ptraczyk commented on #24231
Hi
I'll check with DT experts if anyone can comment. I work mostly with reco
code, not sure what this piece of CMSSW is supposed to be doing

On Wed, Aug 8, 2018 at 10:07 PM Luca Pernie <notifications@github.com>
wrote:

[2018-08-08 23:11] cmsbuild commented on #24251
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_2-slc7_amd64_gcc700/1729
Some tests (

[2018-08-09 01:09] cmsbuild commented on #24251
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_2-slc7_amd64_gcc700/1729

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-09 02:14] cmsbuild commented on #24251
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_2-slc6_amd64_gcc700/1728
Some tests (

[2018-08-09 03:55] cmsbuild commented on #24251
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_2-slc6_amd64_gcc700/1728

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-09 06:57] fabiocos commented on #24251
upload all

[2018-08-09 06:57] cmsbuild commented on #24251
Queing Jenkins upload for slc6_amd64_gcc700

[2018-08-09 06:57] cmsbuild commented on #24251
Queing Jenkins upload for slc7_amd64_gcc700

[2018-08-09 07:00] cmsbuild commented on #24251
The upload has started for slc6_amd64_gcc700 in cmsbuild86.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1133/console

[2018-08-09 07:00] cmsbuild commented on #24251
The upload has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1134/console

[2018-08-09 07:01] cmsbuild commented on #24251
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_2-slc7_amd64_gcc700/1134
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-09 07:01] cmsbuild commented on #24251
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-09 07:06] cmsbuild commented on #24251
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_2-slc6_amd64_gcc700/1133
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-09 07:06] cmsbuild commented on #24251
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-09 07:32] fabiocos commented on #24251
release-notes

[2018-08-09 07:32] cmsbuild commented on #24251
Generating release notes since CMSSW_10_2_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-08-09 07:32] cmsbuild commented on #24251
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_2 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_2

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-08-09 07:37] cmsbuild commented on #24251
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_2

[2018-08-09 11:35] fabiocos commented on #24181
@Dr15Jones @bbockelm we are about to start a massive production campaign with 10_2_X, so a backport there would be for sure beneficial

[2018-08-11 05:38] cmsbuild commented on #24251
The cleanup has started for slc6_amd64_gcc700

[2018-08-11 05:38] cmsbuild commented on #24251
The cleanup has started for slc7_amd64_gcc700

[2018-08-11 05:38] #24251 closed

[2018-08-11 05:40] cmsbuild commented on #24251
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_2-slc7_amd64_gcc700/1106

[2018-08-11 05:46] cmsbuild commented on #24251
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_2-slc6_amd64_gcc700/1105

[2018-08-11 16:08] fabiocos opened #24269 "Build CMSSW_10_2_2_patch1"

[2018-08-11 16:09] cmsbuild commented on #24269
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-11 16:09] fabiocos commented on #24269
+1

[2018-08-11 16:09] cmsbuild commented on #24269
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2018-08-11 16:10] cmsbuild commented on #24269
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-08-11 16:12] cmsbuild commented on #24269
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1730/console
CMSDIST Branch: [REL/CMSSW_10_2_2/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_2/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-11 16:12] cmsbuild commented on #24269
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1731/console
CMSDIST Branch: [REL/CMSSW_10_2_2/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_2/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-11 16:40] cmsbuild commented on #24269
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_2_patch1-slc6_amd64_gcc700/1730
Some t

[2018-08-11 16:42] cmsbuild commented on #24269
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_2_patch1-slc7_amd64_gcc700/1731
Some t

[2018-08-11 18:26] cmsbuild commented on #24269
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_2_patch1-slc7_amd64_gcc700/1731

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-11 18:47] cmsbuild commented on #24269
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_2_patch1-slc6_amd64_gcc700/1730

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-11 20:25] fabiocos commented on #24269
upload all

[2018-08-11 20:25] cmsbuild commented on #24269
Queing Jenkins upload for slc6_amd64_gcc700

[2018-08-11 20:26] cmsbuild commented on #24269
Queing Jenkins upload for slc7_amd64_gcc700

[2018-08-11 20:27] cmsbuild commented on #24269
The upload has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1135/console

[2018-08-11 20:27] cmsbuild commented on #24269
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_2_patch1-slc6_amd64_gcc700/1135
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-11 20:27] cmsbuild commented on #24269
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-11 20:28] cmsbuild commented on #24269
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1136/console

[2018-08-11 20:28] cmsbuild commented on #24269
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_2_patch1-slc7_amd64_gcc700/1136
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-11 20:28] cmsbuild commented on #24269
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-11 20:34] fabiocos commented on #24269
release-notes

[2018-08-11 20:34] cmsbuild commented on #24269
Generating release notes since CMSSW_10_2_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-08-11 20:34] cmsbuild commented on #24269
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_2_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_2_patch1

Cheers,
cms-bot

You can also click <a href

[2018-08-11 20:35] cmsbuild commented on #24269
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_2_patch1

[2018-08-13 12:19] fabiocos opened #24273 "Fix cross product for gcc #24205 breaks slc7_aarch64_gcc700"
The integration of #24205 causes a failure in the compilation in the slc7_aarch64_gcc700 architecture IBs, as reported by @Dr15Jones https://github.com/cms-sw/cmssw/pull/24205#pullrequestreview-144648418 , see for instance

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_aarch64_gcc700/CMSSW_10_3_X_2018-08-12-2300/DataFormats/Math

[2018-08-13 16:33] konec commented on #23565
It is now fixed in PR: https://github.com/cms-l1t-offline/cmssw/pull/710

[2018-08-13 18:25] Dr15Jones opened #24279 "Irreproducible histogram entries in L1TStage2CaloLayer2"
So I was looking in detail at the results from `L1TStage2CaloLayer2`. The histograms that are showing differences are booked in this directory:
https://github.com/cms-sw/cmssw/blob/8af7aff587d8f0cec517e6606d0ae4153fd20668/DQM/L1TMonitor/src/L1TStage2CaloLayer2.cc#L78

and are filled within this `if` block:
https://github.com/cms-sw/cmssw/blob/8af7aff587d8f0cec517e6606d0ae4153fd20668/DQM/L1TMonitor

[2018-08-13 18:25] cmsbuild commented on #24279
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-13 18:33] alberto-sanchez commented on #23573
+1

[2018-08-13 18:33] cmsbuild commented on #23573
This issue is fully signed and ready to be closed.

[2018-08-13 18:35] alberto-sanchez commented on #22214
@sensrcn Do you have been able to test on 10_2_x upwards?. If everything is OK. we can close this issue.

[2018-08-13 18:35] Dr15Jones commented on #24279
Looking deeper at workflow 10224, I see the histograms arew generated in step3 by the module labelled `l1tStage2CaloLayer2`. Dumping that module gives

[code]

Then looking at `caloStage2Digis` we see
[code]

This appears to use plugins to do the actual creating of the data to be put into the event. It appears the Taus have their hardware Phi set here:

https://github.com/cms-sw/cmssw/blob/78c11d4

[2018-08-13 18:38] cmsbuild commented on #24269
The cleanup has started for slc6_amd64_gcc700

[2018-08-13 18:38] cmsbuild commented on #24269
The cleanup has started for slc7_amd64_gcc700

[2018-08-13 18:38] #24269 closed

[2018-08-13 18:39] cmsbuild commented on #24269
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_2_patch1-slc6_amd64_gcc700/1107

[2018-08-13 18:39] cmsbuild commented on #24269
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_2_patch1-slc7_amd64_gcc700/1108

[2018-08-13 18:51] Dr15Jones commented on #24279
The allowed values for the Phi histogram is 0 10 143:
https://github.com/cms-sw/cmssw/blob/8af7aff587d8f0cec517e6606d0ae4153fd20668/DQM/L1TMonitor/src/L1TStage2CaloLayer2.cc#L82

From the data encoding, phi can be from 0 to 255. Therefore if the high bit was someone set on, then we could get an overflow. However, looking at the value of the 'missing' Phi, it appears to be ~134 which is a value tha

[2018-08-13 18:52] Dr15Jones commented on #24279
![image](https://user-images.githubusercontent.com/3757616/44051664-10566b2c-9f00-11e8-84d7-2aded63a2a2e.png)

[2018-08-13 19:10] sensrcn commented on #22214
I tried to run it with CMSSW_10_2_0 for QCD process, however, it was extremely slow and got stuck at a random event. It was ok with a newer release CMSSW_10_3_X_2018-07-30-2300. However, let me try to generate a larger event sample and see if everything goes smoothly.

[2018-08-13 19:16] Dr15Jones commented on #24279
assign l1

[2018-08-13 19:16] cmsbuild commented on #24279
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-13 19:18] Dr15Jones commented on #24279
From the best I can tell, here is where the packing is done
https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/EventFilter/L1TRawToDigi/plugins/implementations_stage2/TauPacker.cc#L24

[2018-08-13 19:53] fabiocos commented on #24279
@Dr15Jones I think that the variations observed in https://github.com/cms-sw/cmssw/pull/24274#issuecomment-412595608 falls in the same category

[2018-08-14 12:48] sensrcn commented on #22214
Hi Alberto, I test it with CMSSW_10_3_0_pre1 and it works. Thanks.

[2018-08-14 13:35] intrepid42 commented on #22214
Update: I got the problems again because I have to regenerate my Dire sample with
[code]
to match the settings of the Pythia samples used for unfolding.

It seems that the hangup is provoked by `ParticleDecays:allowPhotonRadiation = on` which probably expects some QED handling that is not fully implemented in Dire yet.

[2018-08-15 12:55] alberto-sanchez commented on #23780
PR #24268 resolve this issue

[2018-08-15 12:55] alberto-sanchez commented on #23780
+1

[2018-08-15 12:55] cmsbuild commented on #23780
This issue is fully signed and ready to be closed.

[2018-08-15 15:04] fabiocos opened #24299 "Build CMSSW_9_4_10"

[2018-08-15 15:05] cmsbuild commented on #24299
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-15 15:05] fabiocos commented on #24299
+1

[2018-08-15 15:06] cmsbuild commented on #24299
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-08-15 15:06] cmsbuild commented on #24299
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-08-15 15:07] cmsbuild commented on #24299
The build has started for slc6_amd64_gcc630 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1732/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-08-15 17:54] Dr15Jones opened #24309 "Too large value used in testHitPattern"
In the test DataFormats/TrackReco/test/testHitPattern.cpp, the test uses an array of uint32_t and is passing those values to a function that takes a uint16_t:
https://github.com/cms-sw/cmssw/blob/master/DataFormats/TrackReco/test/testHitPattern.cpp#L16

The values in the array are larger than the largest allowed 16bit number.

This is generating a clang warning.

[2018-08-15 17:54] Dr15Jones commented on #24309
assign reconstruction

[2018-08-15 17:54] cmsbuild commented on #24309
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-15 17:54] cmsbuild commented on #24309
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-15 17:54] Dr15Jones commented on #24309
@VinInn FYI

[2018-08-15 18:44] cmsbuild commented on #24299
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_10-slc7_amd64_gcc630/1733
Some tests (

[2018-08-15 19:53] cmsbuild commented on #24299
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_10-slc7_amd64_gcc630/1733

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-08-15 20:13] cmsbuild commented on #24299
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_10-slc6_amd64_gcc630/1732
Some tests (

[2018-08-15 21:27] cmsbuild commented on #24299
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_10-slc6_amd64_gcc630/1732

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-08-16 07:40] fabiocos commented on #24299
upload all

[2018-08-16 07:51] fabiocos commented on #24299
@mrodozov it looks like cms-bot is not reacting...

[2018-08-16 08:56] cmsbuild commented on #24299
Queing Jenkins upload for slc6_amd64_gcc630

[2018-08-16 08:56] cmsbuild commented on #24299
Queing Jenkins upload for slc7_amd64_gcc630

[2018-08-16 08:58] cmsbuild commented on #24299
The upload has started for slc6_amd64_gcc630 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1137/console

[2018-08-16 08:58] cmsbuild commented on #24299
The upload has started for slc7_amd64_gcc630 in cmsbuild68.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1138/console

[2018-08-16 08:59] cmsbuild commented on #24299
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_10-slc7_amd64_gcc630/1138
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-16 08:59] cmsbuild commented on #24299
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-16 09:02] cmsbuild commented on #24299
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_10-slc6_amd64_gcc630/1137
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-16 09:02] cmsbuild commented on #24299
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-16 12:40] fabiocos commented on #24299
release-notes

[2018-08-16 12:40] cmsbuild commented on #24299
Generating release notes since CMSSW_9_4_9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-08-16 12:40] cmsbuild commented on #24299
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_10 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_10

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAn

[2018-08-16 12:41] cmsbuild commented on #24299
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_10

[2018-08-16 13:27] fwyzard commented on #24185
I think I understand the proposal, but I do not understand one part: what would the framework do between the "ES-aquire" and "ES-produce" method calls ?
AFAIK, an ESProducer is requested to update its product only when the new one is needed, and as soon as it is needed (whenever an e.g. EDProducer gets it).
Unless the same EDProducer is trying to get multiple ESProducts, what available tasks would

[2018-08-16 14:36] fwyzard commented on #24188
How would the new system deal with the cases where on different paths (e.g. CUDA vs CPU) different modules produce different combinations of products ?
E.g., on the CPU we might have
  - `unpacker` module producing uncalibrated rechits (type `RecHits`, name `unpacker`, empty label)
  - `calbrator` module producing calibrated rechits (type `RecHits`, name `calibrator`, empty label)
  - `tracker` mo

[2018-08-16 14:54] perrotta opened #24318 "Clean-up CSC Examiner related code and configs"
While reviewing #24295 it was noticed that (see https://github.com/cms-sw/cmssw/pull/24295#issuecomment-413503665 and https://github.com/cms-sw/cmssw/pull/24295#issuecomment-413550040):

- There are several (test and DQM) configs which define different ExaminerMask's:
http://cmslxr.fnal.gov/search?_filestring=&_string=ExaminerMask&_casesensitive=1
Those masks are ideally supposed to be the same. T

[2018-08-16 14:54] perrotta commented on #24318
assign reconstruction

[2018-08-16 14:54] cmsbuild commented on #24318
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-16 14:54] cmsbuild commented on #24318
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-16 15:12] fwyzard commented on #24188
If we want to minimise the impact on the existing configurations, it is likely we do not want to rename the CPU modules. In this case the construct that creates the alias cannot have the same name as the original label. That is, the example above is more  likely to be
[code]

It could help keep the configurations readable if the alternatives could be put in a `Path` or `Task` as well:
[code]

[2018-08-16 15:15] fwyzard commented on #24188
An other possibility could be to allow an `EDProducer` to set up the aliases itself.
That is, in the examples above, we could have `fooCUDA` ask the framework to make (some of) its products available under a different name (`foo`).

[2018-08-16 15:17] fwyzard commented on #24188
The main problem I see with all these approaches is that the decision whether to set the alias / alternative or not, would depend on a decision done at the event level (based on an EDFilter result, or checking if a collection has been produced).

Can the event model support this ?

[2018-08-16 17:27] fwyzard commented on #24193
I have been writing for a while  how to try and support this with the use of a `ProcessFragment`, when my laptop badly crashed :-(

So, quick summary:
  - if the cff files put their configuration in a `ProcessFragment` instead of their top level namespace, they can define also a Schedule
  - process.extend should be taught to merge a Schedule instead of replacing it

[2018-08-16 19:58] dan131riley commented on #23715
I think the crashes and the ROOT error are unrelated, as we see them independently.  Valgrind memcheck also shows uses of uninitialized values around the same place as the crash, and memcheck finds uninitialized values in the same places in the ROOT 6.12 releases.  It's probably just memory layout changes that are causing the crashes to show up in ROOT 6.15.  I'm trying to track down the uninitial

[2018-08-16 20:30] makortel commented on #24185
To me the current "GPU wrapper" layer in GPU ESProducts feels a bit nuisance, so I'd like to remove it (or at least to explore what that would require). But then there would be no way to pass a CUDA stream to the piece of code transferring the data from CPU to GPU (unless we make the `EventSetup` itself aware of CUDA). So the next simplest would be for ESProducer to transfer the data (to all devic

[2018-08-16 20:34] makortel commented on #24190
My understanding is that EDProducers on a path are not run on demand, but always (unless there is a failing filter preceding it/them). So unless that is changed, we need something else.

[2018-08-17 11:05] fabiocos opened #24328 "Build CMSSW_10_3_0_pre2"

[2018-08-17 11:06] cmsbuild commented on #24328
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-17 11:06] fabiocos commented on #24328
build cmssw-tool-conf

[2018-08-17 11:06] cmsbuild commented on #24328
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_amd64_gcc810, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-08-17 11:07] cmsbuild commented on #24328
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1734/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-17 11:07] cmsbuild commented on #24328
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild87.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1735/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-17 11:08] cmsbuild commented on #24328
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1736/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-17 11:14] cmsbuild commented on #24328
The cmssw-tool-conf build has started for slc7_amd64_gcc810 in cmsbuild89.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1737/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-17 15:00] cmsbuild commented on #24328
There was an error building cmssw-tool-conf for slc7_aarch64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre2-slc7_aarch64_gcc700/1736

[2018-08-17 15:34] cmsbuild commented on #24328
There was an error building cmssw-tool-conf for slc7_amd64_gcc810
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre2-slc7_amd64_gcc810/1737

[2018-08-17 15:42] cmsbuild commented on #24328
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre2-slc6_amd64_gcc700/1734

[2018-08-17 15:55] cmsbuild commented on #24328
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre2-slc7_amd64_gcc700/1735

[2018-08-17 18:27] wddgit commented on #24231
PR #24249 takes care of this. Closing this issue.

[2018-08-17 18:27] #24231 closed

[2018-08-17 19:27] Dr15Jones opened #24337 "DQMStore should not reset per Lumi histograms at post global begin lumi"
The DQMStore will reset the per Lumi histograms here:
https://github.com/cms-sw/cmssw/blob/b2fa44d18d76335bf1d0470e5827e5657549a581/DQMServices/Core/src/DQMStore.cc#L1944

This is a problem, because some 'want to be' per Lumi histograms are filled in the modules 'beginLuminosityBlock' call. If these actually had `setLumiFlag()` called on them, the values that were just set would be reset.

The bet

[2018-08-17 19:27] cmsbuild commented on #24337
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-17 19:27] Dr15Jones commented on #24337
assign dqm

[2018-08-17 19:27] cmsbuild commented on #24337
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-17 19:27] Dr15Jones commented on #24337
@knoepfel FYI

[2018-08-17 19:48] fabiocos opened #24338 "Build CMSSW_10_2_3"

[2018-08-17 19:48] cmsbuild commented on #24338
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-17 19:49] fabiocos commented on #24338
+1

[2018-08-17 19:49] cmsbuild commented on #24338
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2018-08-17 19:49] cmsbuild commented on #24338
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-08-17 19:50] cmsbuild commented on #24338
The build has started for slc6_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1738/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-17 19:51] cmsbuild commented on #24338
The build has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1739/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-17 23:32] cmsbuild commented on #24338
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_3-slc7_amd64_gcc700/1739
Some tests (

[2018-08-18 01:38] cmsbuild commented on #24338
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_3-slc7_amd64_gcc700/1739

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-18 10:53] cmsbuild commented on #24299
The cleanup has started for slc6_amd64_gcc630

[2018-08-18 10:53] cmsbuild commented on #24299
The cleanup has started for slc7_amd64_gcc630

[2018-08-18 10:53] #24299 closed

[2018-08-18 11:00] cmsbuild commented on #24299
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_10-slc7_amd64_gcc630/1110

[2018-08-18 11:00] cmsbuild commented on #24299
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_10-slc6_amd64_gcc630/1109

[2018-08-18 13:13] cmsbuild commented on #24338
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_3-slc6_amd64_gcc700/1738

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-18 13:49] fabiocos commented on #24328
+1

[2018-08-18 13:49] cmsbuild commented on #24328
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-08-18 13:49] cmsbuild commented on #24328
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-08-18 13:50] fabiocos commented on #24338
upload all

[2018-08-18 13:50] cmsbuild commented on #24338
Queing Jenkins upload for slc6_amd64_gcc700

[2018-08-18 13:50] cmsbuild commented on #24338
Queing Jenkins upload for slc7_amd64_gcc700

[2018-08-18 13:52] cmsbuild commented on #24328
The build has started for slc6_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1740/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-18 13:52] cmsbuild commented on #24338
The upload has started for slc6_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1139/console

[2018-08-18 13:52] cmsbuild commented on #24338
The upload has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1140/console

[2018-08-18 13:52] cmsbuild commented on #24328
The build has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1741/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-18 13:52] cmsbuild commented on #24338
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_3-slc7_amd64_gcc700/1140
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-18 13:53] cmsbuild commented on #24338
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-18 13:58] cmsbuild commented on #24338
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_3-slc6_amd64_gcc700/1139
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-18 13:58] cmsbuild commented on #24338
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-18 13:59] #23780 closed

[2018-08-18 14:02] fabiocos commented on #24338
release-notes

[2018-08-18 14:04] cmsbuild commented on #24338
Generating release notes since CMSSW_10_2_2_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-08-18 14:04] cmsbuild commented on #24338
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_3 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_2_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_3

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2018-08-18 14:04] cmsbuild commented on #24338
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_3

[2018-08-18 17:13] cmsbuild commented on #24328
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre2-slc7_amd64_gcc700/1741
Some tes

[2018-08-18 19:25] cmsbuild commented on #24328
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre2-slc7_amd64_gcc700/1741

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-19 01:14] cmsbuild commented on #24328
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre2-slc6_amd64_gcc700/1740
Some tes

[2018-08-19 06:28] cmsbuild commented on #24328
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre2-slc6_amd64_gcc700/1740

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-19 07:38] fabiocos commented on #24328
upload all

[2018-08-19 07:38] cmsbuild commented on #24328
Queing Jenkins upload for slc6_amd64_gcc700

[2018-08-19 07:38] cmsbuild commented on #24328
Queing Jenkins upload for slc7_amd64_gcc700

[2018-08-19 07:40] cmsbuild commented on #24328
The upload has started for slc6_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1141/console

[2018-08-19 07:40] cmsbuild commented on #24328
The upload has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1142/console

[2018-08-19 07:41] cmsbuild commented on #24328
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_0_pre2-slc7_amd64_gcc700/1142
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-19 07:41] cmsbuild commented on #24328
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-19 07:48] cmsbuild commented on #24328
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_0_pre2-slc6_amd64_gcc700/1141
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-08-19 07:49] cmsbuild commented on #24328
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-08-19 07:55] fabiocos commented on #24328
release-notes

[2018-08-19 07:55] cmsbuild commented on #24328
Generating release notes since CMSSW_10_3_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-08-19 07:55] cmsbuild commented on #24328
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_3_0_pre2 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_0_pre2

Cheers,
cms-bot

You can also click <a href="ma

[2018-08-19 07:56] cmsbuild commented on #24328
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_0_pre2

[2018-08-20 12:08] cmsbuild commented on #24338
The cleanup has started for slc6_amd64_gcc700

[2018-08-20 12:08] cmsbuild commented on #24338
The cleanup has started for slc7_amd64_gcc700

[2018-08-20 12:08] #24338 closed

[2018-08-20 12:09] cmsbuild commented on #24338
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_3-slc7_amd64_gcc700/1112

[2018-08-20 12:17] cmsbuild commented on #24338
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_3-slc6_amd64_gcc700/1111

[2018-08-20 13:43] kpedro88 commented on #23565
Will this PR be submitted to the official repo?

[2018-08-20 13:57] thomreis commented on #23565
Yes. @rekovic plans to make a new master PR with this. And also a backport for 10_2_x.

[2018-08-21 06:08] cmsbuild commented on #24328
The cleanup has started for slc6_amd64_gcc700

[2018-08-21 06:08] cmsbuild commented on #24328
The cleanup has started for slc7_amd64_gcc700

[2018-08-21 06:08] #24328 closed

[2018-08-21 06:11] cmsbuild commented on #24328
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_pre2-slc7_amd64_gcc700/1114

[2018-08-21 06:16] cmsbuild commented on #24328
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_pre2-slc6_amd64_gcc700/1113

[2018-08-21 09:02] schneiml commented on #24337
`postGlobalBeginLumi` indeed sounds like the wrong place to do this, but as usually, there is probably a reason for that (it might not be a good one).

The misunderstanding here might be that many per-lumi things are done in online, completely independent from the per-lumi flag (not sure about the history, maybe these things predate it?). On the other hand, the per-lumi flag is used only by a smal

[2018-08-21 13:02] sensrcn opened #24351 "installation of Herwig 7.1.4"
We need Herwig 7.1.4 to test baryonic reconnection model.

[2018-08-21 13:03] cmsbuild commented on #24351
A new Issue was created by  @sensrcn Sercan Sen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-21 19:16] kpedro88 commented on #24273
+1

[2018-08-21 19:50] kpedro88 commented on #24351
assign generators

[2018-08-21 19:50] cmsbuild commented on #24351
New categories assigned: generators

@perrozzi,@alberto-sanchez,@qliphy,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-22 15:52] alberto-sanchez commented on #24351
It is going https://github.com/cms-sw/cmsdist/pull/4280

[2018-08-23 12:45] slava77 opened #24376 "flood of "Electron ID handle not valid " in Top DQM"
e.g. in wf 136.85
https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline-tests/CMSSW_10_3_X_2018-08-22-2300/slc6_amd64_gcc700/-GenuineIntel/matrix-results/136.85_RunEGamma2018A+RunEGamma2018A+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Prompt_L1TEgDQM+HARVEST2018_L1TEgDQM/step3_RunEGamma2018A+RunEGamma2018A+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Prompt_L1TEgDQM+HARVEST2018_L1TEgDQM.log

[code]
th

[2018-08-23 12:45] slava77 commented on #24376
assign dqm

[2018-08-23 12:45] cmsbuild commented on #24376
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-23 12:45] cmsbuild commented on #24376
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-23 12:50] slava77 opened #24377 "flood of Warning: algoBit >= prescaleFactorsAlgoTrig.size() from L1TGlobal in 2016 workflows"
e.g. in 2016B SinglePh job wf 136.731 in the reco step
https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline-tests/CMSSW_10_3_X_2018-08-22-2300/slc6_amd64_gcc700/-GenuineIntel/matrix-results/136.731_RunSinglePh2016B+RunSinglePh2016B+HLTDR2_2016+RECODR2_2016reHLT_skimSinglePh_HIPM+HARVESTDR2/step3_RunSinglePh2016B+RunSinglePh2016B+HLTDR2_2016+RECODR2_2016reHLT_skimSinglePh_HIPM+HARVESTDR2.log

[

[2018-08-23 12:50] slava77 commented on #24377
assign l1

[2018-08-23 12:50] cmsbuild commented on #24377
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-23 12:50] cmsbuild commented on #24377
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-23 12:55] davidlange6 commented on #24376
already discussed in #24155 which was merged regardless.

[2018-08-23 13:15] thomreis commented on #24377
@apana do you know why this would show up in 2016 workflows?

[2018-08-23 13:35] slava77 commented on #24376
ok, that points to the history of the problem, not to a solution, IIUC

[2018-08-23 14:06] davidlange6 commented on #24376
I guess it points to one solution:) - but right, not a good solution

[2018-08-23 14:47] Sam-Harper commented on #24376
all fixed now: https://github.com/cms-sw/cmssw/pull/24379

[2018-08-23 15:30] apana commented on #24377
Hi @thomreis.  No I don't, but I'll look into it.  Thanks for letting me know.

-Len

[2018-08-24 13:27] makortel commented on #24193
@fwyzard Thanks for the suggestion, I'd like to learn a bit more how it would work with `ProcessFragment`.

How is `ProcessFragment` dealt with by `process.load('Foo.Foo.foo_cff')` if the fragment is defined in the `foo_cff` (or in a file imported by it)? Does the `process` get automatically extended by the fragment?

[2018-08-24 14:03] makortel commented on #24188
@fwyzard

I agree that would be nice. By "minimising impact" do you refer to the case of cloning modules, or do you have something else in mind?

So we'd need the framework to allow a module (or other "entity") to insert a product with label differing from the module/entity label in the configuration. I don't know how deep changes would be needed, maybe @Dr15Jones could comment?

Purely from the c

[2018-08-24 14:07] makortel commented on #24188
@fwyzard

The dynamic nature of the decision (of the device type, e.g. GPU vs CPU) does indeed cause some headache. My feeling is that whether or not we really need it is a somewhat strategic decision. And even if ditching it would make this specific issue irrelevant, I'm not sure if it would save us from all configuration headache.

I mean, if we choose the device type at configuration level, an

[2018-08-27 02:34] bbockelm commented on #24181
@Dr15Jones - work seems done, no?  Can we close out this ticket?

[2018-08-27 12:42] guitargeek opened #24395 "Problem with large TMVA XML weight files in CRAB and GBRForest without ROOT"
Hello,

doing some BDT experiments, I ended up with a `BDT.weights.xml` file for my electron MVA that was 21M large. I wanted to use it in the Egamma Tag and Probe tree producer, which worked fine offline, but failed consistently in CRAB:
[code]
This error message can be traced back to here:

https://github.com/root-project/root/blob/master/io/xml/src/TXMLEngine.cxx#L2229
https://github.com/root-p

[2018-08-27 12:42] cmsbuild commented on #24395
A new Issue was created by  @guitargeek Jonas Rembser.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-27 13:10] Dr15Jones commented on #24395
assign reconstruction

[2018-08-27 13:10] cmsbuild commented on #24395
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-27 13:12] Dr15Jones commented on #24181
+1

[2018-08-27 13:12] Dr15Jones commented on #24181
@bbockelm only you can close this

[2018-08-27 13:12] cmsbuild commented on #24181
This issue is fully signed and ready to be closed.

[2018-08-27 13:53] bbockelm commented on #24181
Ah, didn't realize that.  Closing now.

[2018-08-27 13:53] #24181 closed

[2018-08-29 16:11] Dr15Jones opened #24410 "Allow one modules to use Run and LuminosityBlock caches"
If we extend one modules to be able to use per Run and LuminosityBlock caches, then those modules would be able to process events in an arbitrary order without requiring that all events in a given LuminosityBlock or Run must finish processing before seeing events from the next transition.

We would still guarantee that one and only one transition call is talking with the one module at a time, we w

[2018-08-29 16:12] cmsbuild commented on #24410
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-08-29 16:12] Dr15Jones commented on #24410
assign core

[2018-08-29 16:12] cmsbuild commented on #24410
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-08-31 15:30] kpedro88 opened #24426 "Build CMSSW_10_1_10"

[2018-08-31 15:30] cmsbuild commented on #24426
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-31 16:08] kpedro88 commented on #24426
+1

[2018-08-31 16:08] cmsbuild commented on #24426
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-08-31 16:08] cmsbuild commented on #24426
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-08-31 16:09] cmsbuild commented on #24426
The build has started for slc6_amd64_gcc630 in cmsbuild86.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1742/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-31 16:09] cmsbuild commented on #24426
The build has started for slc7_amd64_gcc630 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1743/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-31 16:09] cmsbuild commented on #24426
The build has started for slc7_amd64_gcc700 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1744/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-31 18:12] kpedro88 opened #24430 "Build CMSSW_10_2_4"

[2018-08-31 18:13] cmsbuild commented on #24430
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-08-31 18:13] kpedro88 commented on #24430
+1

[2018-08-31 18:14] cmsbuild commented on #24430
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2018-08-31 18:14] cmsbuild commented on #24430
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-08-31 18:14] cmsbuild commented on #24430
The build has started for slc6_amd64_gcc700 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1745/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-31 18:16] cmsbuild commented on #24430
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1746/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-08-31 20:08] cmsbuild commented on #24426
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_10-slc7_amd64_gcc700/1744
Some tests (

[2018-08-31 20:26] cmsbuild commented on #24426
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_10-slc7_amd64_gcc630/1743
Some tests (

[2018-08-31 21:46] cmsbuild commented on #24426
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_10-slc6_amd64_gcc630/1742
Some tests (

[2018-08-31 21:47] cmsbuild commented on #24426
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_10-slc7_amd64_gcc630/1743

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-08-31 22:39] cmsbuild commented on #24430
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_4-slc7_amd64_gcc700/1746
Some tests (

[2018-08-31 22:56] cmsbuild commented on #24426
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_10-slc6_amd64_gcc630/1742

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-09-01 00:29] cmsbuild commented on #24430
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_4-slc7_amd64_gcc700/1746

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-09-01 00:53] cmsbuild commented on #24430
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_4-slc6_amd64_gcc700/1745
Some tests (

[2018-09-01 02:48] cmsbuild commented on #24430
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_4-slc6_amd64_gcc700/1745

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-09-01 04:53] kpedro88 commented on #24426
upload all

[2018-09-01 04:53] kpedro88 commented on #24430
upload all

[2018-09-01 04:53] cmsbuild commented on #24426
Queing Jenkins upload for slc6_amd64_gcc630

[2018-09-01 04:53] cmsbuild commented on #24426
Queing Jenkins upload for slc7_amd64_gcc630

[2018-09-01 04:53] cmsbuild commented on #24426
Queing Jenkins upload for slc7_amd64_gcc700

[2018-09-01 04:54] cmsbuild commented on #24430
Queing Jenkins upload for slc6_amd64_gcc700

[2018-09-01 04:54] cmsbuild commented on #24430
Queing Jenkins upload for slc7_amd64_gcc700

[2018-09-01 04:54] cmsbuild commented on #24426
The upload has started for slc7_amd64_gcc700 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1144/console

[2018-09-01 04:54] cmsbuild commented on #24426
The upload has started for slc6_amd64_gcc630 in cmsbuild86.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1143/console

[2018-09-01 04:54] cmsbuild commented on #24430
The upload has started for slc6_amd64_gcc700 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1146/console

[2018-09-01 04:54] cmsbuild commented on #24426
The upload has started for slc7_amd64_gcc630 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1145/console

[2018-09-01 04:55] cmsbuild commented on #24426
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_10-slc7_amd64_gcc700/1144
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-09-01 04:56] cmsbuild commented on #24430
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1147/console

[2018-09-01 04:57] cmsbuild commented on #24426
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-09-01 04:57] cmsbuild commented on #24430
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_4-slc7_amd64_gcc700/1147
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-09-01 04:57] cmsbuild commented on #24430
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-09-01 04:59] cmsbuild commented on #24426
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_10-slc6_amd64_gcc630/1143
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-09-01 04:59] cmsbuild commented on #24426
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-09-01 05:00] kpedro88 commented on #24426
release-notes since CMSSW_10_1_9_patch1

[2018-09-01 05:00] cmsbuild commented on #24426
Generating release notes since CMSSW_10_1_9_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-09-01 05:00] cmsbuild commented on #24426
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_10 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_9_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_10

Cheers,
cms-bot

You can also click

[2018-09-01 05:01] cmsbuild commented on #24430
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_4-slc6_amd64_gcc700/1146
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-09-01 05:01] cmsbuild commented on #24426
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_10

[2018-09-01 05:01] cmsbuild commented on #24430
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-09-01 05:05] kpedro88 commented on #24430
release-notes since CMSSW_10_2_3

[2018-09-01 05:06] cmsbuild commented on #24430
Generating release notes since CMSSW_10_2_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-09-01 05:06] cmsbuild commented on #24430
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_4 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_4

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-09-01 05:06] cmsbuild commented on #24430
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_4

[2018-09-01 22:29] kpedro88 opened #24436 "Failure of LHE workflows on SL7"
In the slc7 builds of CMSSW_10_3_X, many LHE-related workflows are failing:
https://cms-sw.github.io/relvalLogDetail.html#slc7_amd64_gcc700;CMSSW_10_3_X_2018-08-31-2300
![LHE failing workflows](http://kjplanet.com/pr/lhe-fail.png)

[code]

I suppose this is not surprising, since `CMSSW_7_1_X` is only available on SL6. However, it should be addressed eventually.

[2018-09-01 22:29] kpedro88 commented on #24436
assign generators

[2018-09-01 22:29] cmsbuild commented on #24436
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-09-01 22:29] cmsbuild commented on #24436
New categories assigned: generators

@perrozzi,@alberto-sanchez,@qliphy,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-09-02 04:36] qliphy commented on #24436
Adding More experts from GEN: @Saptaparna @lorusso7 @lviliani @agrohsje @covarell @kdlong

We had discussions in GEN in July [https://docs.google.com/document/d/1PZ3TKp5joWVsm0GldwDI-Elr1ftN4G1Y1NfaZ3A1W5w]

What we have done in the summer to make the working flow smoothly,  are mainly for SL6+gcc700, by adding a 7_1_X environment  [e.g. https://github.com/cms-sw/cmssw/issues/23780]

Now for SL7,

[2018-09-02 04:46] Saptaparna commented on #24436
@qliphy Please let us know whether you would like us to pursue option 1 or 2. Option 1, I think would be faster to implement.

[2018-09-02 04:58] qliphy commented on #24436
@Saptaparna  Option 1 is easier and can start getting tested.  But let's hear others' comments or have discussion at GEN coordination meeting on 10 Sep.

[2018-09-03 03:08] cmsbuild commented on #24430
The cleanup has started for slc6_amd64_gcc700

[2018-09-03 03:08] cmsbuild commented on #24430
The cleanup has started for slc7_amd64_gcc700

[2018-09-03 03:08] #24430 closed

[2018-09-03 03:08] cmsbuild commented on #24426
The cleanup has started for slc6_amd64_gcc630

[2018-09-03 03:08] cmsbuild commented on #24426
The cleanup has started for slc7_amd64_gcc630

[2018-09-03 03:08] cmsbuild commented on #24426
The cleanup has started for slc7_amd64_gcc700

[2018-09-03 03:08] #24426 closed

[2018-09-03 03:11] cmsbuild commented on #24426
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_10-slc7_amd64_gcc630/1118

[2018-09-03 03:15] cmsbuild commented on #24426
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_10-slc6_amd64_gcc630/1117

[2018-09-03 03:16] cmsbuild commented on #24426
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_10-slc7_amd64_gcc700/1119

[2018-09-03 12:02] agrohsje commented on #24436
@kdlong but ultimately we want/need to do both : update to a new cmssw version and modify the scripts according to (2) so that we can swithc between slc6 and slc7, no ?

[2018-09-03 12:26] fabiocos opened #24444 "Crash in express due to DQM sequences updated in 24155 (10_3_X) and 24156 (backport into 10_2_X)"
A crash in the CMSSW_10_2_4 T0 replay is reported for express https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/1978/1/1.html .
This is the consequence of backporting #24155 before fixing the problem that was already seen at review level https://github.com/cms-sw/cmssw/pull/24155#issuecomment-413131664 .

[2018-09-03 12:27] cmsbuild commented on #24444
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-09-03 12:29] fabiocos commented on #24444
assign dqm

[2018-09-03 12:29] cmsbuild commented on #24444
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-09-03 12:32] fabiocos commented on #24444
@mtosi @schneiml I think that a follow-up of the problems originally reported and apparently not addressed so far is unavoidable at this point. Either the sequences are adjusted so as to add the needed collection, or the crashing module is removed

[2018-09-03 12:57] fabiocos commented on #24376
@Sam-Harper thank you for fixing the issue, that unfortunately is not the only one with the PR that introduced originally the problem. I assume that this issue can be closed, while the fix should be back-ported into 10_2_X

[2018-09-04 07:42] perrotta opened #24452 "Pending items to be addressed after the integration of the first part of the MTD tracking/geometry PR in CMSSW"
The following issues raised during the review of #24285 were not addressed in that PR. The idea is to integrate now the large changes included in that pull request, so that development can continue more easily in the IBs. All the issue found  need to be fixed after that PR get merged in the CMSSW release, however.

- From https://github.com/cms-sw/cmssw/pull/24285#issuecomment-417234824:
   - Corr

[2018-09-04 07:42] perrotta commented on #24452
assign reconstruction, geometry

[2018-09-04 07:42] cmsbuild commented on #24452
New categories assigned: geometry,reconstruction

@Dr15Jones,@cvuosalo,@mdhildreth,@slava77,@perrotta,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-09-04 07:42] cmsbuild commented on #24452
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-09-04 08:17] fabiocos commented on #24444
Initially addressed by #24449 (10_3_X) and #24445 (10_2_X)

[2018-09-04 09:54] fabiocos commented on #24444
Diagnosis of the problem, cross-checked with @perrotta : ak8PFJetsPuppiSoftDrop is run in

https://cmssdt.cern.ch/lxr/source/PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py

called by

https://cmssdt.cern.ch/lxr/source/PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py

which is applied in ConfigBuilder if miniAOD is part of the steps:

https://cmssdt.cern.ch/lxr/source/Configur

[2018-09-04 10:56] mtosi commented on #24444
!!!
I'm going to move this module out
sorry, but I did not realize the collection comes from tehe miniAOD !!!!!
(the developers have been instructed to rely *only* on collection available
in AOD .....)
  mia

On Tue, Sep 4, 2018 at 11:55 AM Fabio Cossutti <notifications@github.com>
wrote:

[2018-09-04 14:14] kpedro88 commented on #24452
assign upgrade

[2018-09-04 14:14] cmsbuild commented on #24452
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-09-04 14:49] tocheng opened #24461 "EDFilters do not run in unScheduled mode although put in a path"
The issue raised when reproducing SiPixelCalZeroBias ALCARECO using Express data.
CMSSW release CMSSW_10_2_0 was use.

 To reproduce the ALCAREO, the following cmsDriver command is used
step3 --runUnscheduled -s ALCA:SiPixelCalZeroBias+PromptCalibProdSiPixel --nThreads 8 --data --era Run2_2018 --scenario pp --conditions 102X_dataRun2_Express_v1 --eventcontent ALCARECO --datatier ALCARECO --filein

[2018-09-04 14:49] cmsbuild commented on #24461
A new Issue was created by  @tocheng Tongguang.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-09-04 15:50] Dr15Jones commented on #24461
@tocheng this is expected behavior. When you use the `--runUnscheduled` in cmsDriver.py, the configuration has the call `convertToUnscheduled(process)` which removes all `EDProducer` from all Paths and will run those `EDProducers` whenever a module asks for the data. In your case, the `PoolOutputModule` asks for data from `siPixelStatusProducer` and therefore it will be run _unscheduled_.

One can

[2018-09-04 15:50] Dr15Jones commented on #24461
assign core

[2018-09-04 15:50] cmsbuild commented on #24461
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-09-05 09:40] sethzenz opened #24469 "Request to add users to cms-analysis organisation"
Can someone please add these users as members of the cms-analysis organisation? @malcles @simonepigazzini @abenagli

This is needed so they can be given administrative functions for the flashgg repository (Higgs to diphoton group analysis framework).

I am raising this as an issue here because that was the conclusion for the best way to make these requests when we last discussed it by email. Taggi

[2018-09-05 09:40] cmsbuild commented on #24469
A new Issue was created by  @sethzenz Seth Zenz.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-09-05 09:55] fabiocos opened #24471 "Build CMSSW_10_3_0_pre3"

[2018-09-05 09:56] cmsbuild commented on #24471
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-09-05 09:56] fabiocos commented on #24471
build cmssw-tool-conf

[2018-09-05 09:56] cmsbuild commented on #24471
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_amd64_gcc810, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-09-05 09:57] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1747/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 09:57] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild87.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1748/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 09:57] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_amd64_gcc810 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1749/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 09:58] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1750/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 10:44] cmsbuild commented on #24471
There was an error building cmssw-tool-conf for slc7_amd64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc7_amd64_gcc700/1748

[2018-09-05 10:50] cmsbuild commented on #24471
There was an error building cmssw-tool-conf for slc6_amd64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc6_amd64_gcc700/1747

[2018-09-05 11:34] tocheng commented on #24461
@Dr15Jones Thanks a lot for the explanation! Should I close the issue or you will sign it?

[2018-09-05 11:39] Dr15Jones commented on #24461
+1

[2018-09-05 11:39] cmsbuild commented on #24461
This issue is fully signed and ready to be closed.

[2018-09-05 11:39] Dr15Jones commented on #24461
@tocheng please close this issue as well.

[2018-09-05 11:48] #24461 closed

[2018-09-05 12:05] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1751/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 12:07] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1752/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 12:08] fabiocos opened #24472 "HI test during TS2 (September 18): needed back-ports to 10_2_X"
This issue is meant to collect information about the PRs to be back-ported from 10_3_X to 10_2_X for the special test for HI to be performed during TS2 (planned for September 18).

The plan is to merge the code in a dedicated build to be used only for this test (and its preparation/validation), not interfering with the regular pp data taking.

[2018-09-05 12:08] cmsbuild commented on #24472
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-09-05 12:44] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_amd64_gcc810 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1753/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 12:45] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1754/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 12:57] cmsbuild commented on #24471
There was an error building cmssw-tool-conf for slc6_amd64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc6_amd64_gcc700/1751

[2018-09-05 12:57] cmsbuild commented on #24471
There was an error building cmssw-tool-conf for slc7_amd64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc7_amd64_gcc700/1752

[2018-09-05 13:59] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1755/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 14:00] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1756/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 14:00] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1757/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 14:01] cmsbuild commented on #24471
The cmssw-tool-conf build has started for slc7_amd64_gcc810 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1758/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 14:55] cmsbuild commented on #24471
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc7_amd64_gcc700/1755

[2018-09-05 15:03] cmsbuild commented on #24471
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc6_amd64_gcc700/1756

[2018-09-05 15:55] fabiocos commented on #24471
+1

[2018-09-05 15:56] cmsbuild commented on #24471
Queuing Jenkins build for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-09-05 15:57] cmsbuild commented on #24471
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1759/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 15:57] cmsbuild commented on #24471
The build has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1760/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 16:48] kpedro88 commented on #23624
@makortel have you had any time to work on this?

[2018-09-05 18:38] cmsbuild commented on #24471
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc7_aarch64_gcc700/1757

[2018-09-05 18:39] cmsbuild commented on #24471
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-09-05 18:40] cmsbuild commented on #24471
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1761/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-09-05 19:19] cmsbuild commented on #24471
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc810 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc7_amd64_gcc810/1758

[2018-09-05 19:34] cmsbuild commented on #24471
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc7_amd64_gcc700/1760
Some tes

[2018-09-05 19:52] cmsbuild commented on #24471
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc6_amd64_gcc700/1759
Some tes

[2018-09-05 21:40] cmsbuild commented on #24471
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc7_amd64_gcc700/1760

Tests results:
32 31 30 25 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-09-05 21:55] cmsbuild commented on #24471
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc6_amd64_gcc700/1759

Tests results:
32 31 30 25 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-09-06 02:48] cmsbuild commented on #24471
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_pre3-slc7_aarch64_gcc700/1761
Some