[2020-12-02 07:54] cmsbuild commented on #32358
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1767/console

[2020-12-02 07:54] cmsbuild commented on #32358
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1768/console

[2020-12-02 07:55] cmsbuild commented on #32358
The upload has started for slc7_amd64_gcc900 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1769/console

[2020-12-02 07:55] cmsbuild commented on #32358
The upload has started for cc8_amd64_gcc9 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1766/console

[2020-12-02 07:55] cmsbuild commented on #32358
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre11-cc8_ppc64le_gcc9/1767

[2020-12-02 07:56] cmsbuild commented on #32358
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1770/console

[2020-12-02 07:56] jbsauvan commented on #22575
Yes. A ntuplizer abstract base class is defined In `L1Trigger/L1THGCalUtilities`. This base class is used to define concrete ntuplizers in `L1Trigger/L1THGCalUtilities/plugins`, as well as in `L1Trigger/L1CaloTrigger/test`

[2020-12-02 07:56] cmsbuild commented on #32358
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre11-slc7_aarch64_gcc9/1768

[2020-12-02 07:57] cmsbuild commented on #32358
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre11-slc7_ppc64le_gcc9/1770

[2020-12-02 08:00] cmsbuild commented on #32358
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre11-slc7_amd64_gcc900/1769

[2020-12-02 08:01] cmsbuild commented on #32358
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre11-cc8_amd64_gcc9/1766

[2020-12-02 08:57] jfernan2 commented on #32161
+1

[2020-12-02 09:57] silviodonato commented on #32358
release-notes

[2020-12-02 09:57] cmsbuild commented on #32358
Generating release notes since CMSSW_11_2_0_pre10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-02 09:57] cmsbuild commented on #32358
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre11 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_0_pre10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_p

[2020-12-02 10:02] cmsbuild commented on #32358
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre11

[2020-12-02 10:29] nvoytish commented on #32274
@ptcox I managed to find what causes the problem. In a particular event the strip from one chamber (ME11A) is combined with a wire that it physically can not intersect (last wg from ME11B). This causes a mess in Gatti correction calculation. I'll try to understand which change in code lead to this. Sorry for the slow progress!

[2020-12-02 10:37] ptcox commented on #32274
That’s good progress! And something like I was expecting. Maybe something I missed in the intrinsic traps in the new code, and we still need some sort of ‘inside’ check.

[2020-12-02 10:37] ianna commented on #32357
@kpedro88 and @bsunanda - we need to check that [an obsolete HGCal schema](https://cmssdt.cern.ch/lxr/source/CondFormats/GeometryObjects/interface/PHGCalParameters.h) was never uploaded to ProdDB **accidentally**. If that's the case, it can be safely deleted. Or, the class name can be reused to make it more generic as a set of std::vectors and std::maps without specific parameter names.

However,

[2020-12-02 10:38] nvoytish commented on #32274
I'll keep digging. You were right, when you said that Gatti corrections are "a pain")

[2020-12-02 11:54] #26438 closed

[2020-12-02 14:03] makortel commented on #32344
+1

[2020-12-02 14:04] cmsbuild commented on #32344
This issue is fully signed and ready to be closed.

[2020-12-02 16:14] #28780 closed

[2020-12-02 16:31] silviodonato commented on #32358
@smuzaffar the log ended with
[code]

Does it mean the build failed? Thanks

[2020-12-02 16:33] silviodonato opened #32369 "Build CMSSW_10_2_25"

[2020-12-02 16:33] cmsbuild commented on #32369
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-02 16:34] silviodonato commented on #32369
+1

[2020-12-02 16:34] cmsbuild commented on #32369
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_25. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-12-02 16:34] cmsbuild commented on #32369
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-12-02 16:34] silviodonato opened #32370 "Build CMSSW_9_4_19"

[2020-12-02 16:35] cmsbuild commented on #32370
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-02 16:36] cmsbuild commented on #32369
The build has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2797/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-02 16:36] cmsbuild commented on #32369
The build has started for slc7_amd64_gcc700 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2798/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-02 16:53] cmsbuild commented on #32358
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-cc8_aarch64_gcc9/2796
Some test

[2020-12-02 16:54] cmsbuild commented on #32358
Queing Jenkins upload for cc8_aarch64_gcc9

[2020-12-02 16:55] civanch commented on #31920
@mmusich , when I tried G4Reffiter.py with one of the recent IB and got following problem:

%MSG-i HCAL:  (NoModuleName) 02-Dec-2020 13:47:41 CET pre-events
HcalHardcodeCalibrations::HcalHardcodeCalibrations->...
%MSG
----- Begin Fatal Exception 02-Dec-2020 13:47:42 CET-----------------------
An exception of category 'PluginNotFound' occurred while
   [0] Constructing the EventProcessor
   [1] Con

[2020-12-02 16:57] cmsbuild commented on #32358
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1771/console

[2020-12-02 16:58] cmsbuild commented on #32358
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre11-cc8_aarch64_gcc9/1771

[2020-12-02 17:01] mmusich commented on #31920
@civanch
you need to change the Global Tag. Please use:
[code]
by the way I have provided the full configuration updated already once [here](https://gist.github.com/mmusich/12227a1a1d90e13ebae9502ac512c7d3).
In addition, as I mentioned to you earlier (comment was apparently ignored) [here](https://github.com/cms-sw/cmssw/pull/32268#discussion_r530214299) I had to add the following extra parameters

[2020-12-02 17:15] smuzaffar commented on #32358
@silviodonato , yes looks like it finished properly ( https://github.com/cms-sw/cmssw/issues/32358#issuecomment-737358899 )

[2020-12-02 17:28] #32358 closed

[2020-12-02 19:20] cmsbuild commented on #32358
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-cc8_aarch64_gcc9/2796

Tests results:
33 30 13 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2020-12-02 19:30] cmsbuild commented on #32369
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_25-slc7_amd64_gcc700/2798
Some tests (

[2020-12-02 20:06] cmsbuild commented on #32369
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_25-slc7_amd64_gcc700/2798

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-02 20:27] cmsbuild commented on #32369
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_25-slc6_amd64_gcc700/2797
Some tests (

[2020-12-02 21:06] cmsbuild commented on #32369
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_25-slc6_amd64_gcc700/2797

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-02 21:18] silviodonato commented on #32369
upload all

[2020-12-02 21:18] cmsbuild commented on #32369
Queing Jenkins upload for slc6_amd64_gcc700

[2020-12-02 21:18] cmsbuild commented on #32369
Queing Jenkins upload for slc7_amd64_gcc700

[2020-12-02 21:19] silviodonato commented on #32370
+1

[2020-12-02 21:19] cmsbuild commented on #32370
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_19. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2020-12-02 21:19] cmsbuild commented on #32370
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-12-02 21:21] cmsbuild commented on #32370
The build has started for slc7_amd64_gcc630 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2800/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-02 21:21] cmsbuild commented on #32370
The build has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2799/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-02 21:21] cmsbuild commented on #32369
The upload has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1772/console

[2020-12-02 21:22] cmsbuild commented on #32369
The upload has started for slc7_amd64_gcc700 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1773/console

[2020-12-02 21:22] cmsbuild commented on #32369
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_25-slc7_amd64_gcc700/1773

[2020-12-02 21:23] cmsbuild commented on #32369
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_25-slc6_amd64_gcc700/1772

[2020-12-02 23:39] cmsbuild commented on #32370
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_19-slc7_amd64_gcc630/2800
Some tests (

[2020-12-03 00:18] cmsbuild commented on #32370
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_19-slc6_amd64_gcc630/2799
Some tests (

[2020-12-03 00:30] cmsbuild commented on #32370
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_19-slc7_amd64_gcc630/2800

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-12-03 01:03] cmsbuild commented on #32370
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_19-slc6_amd64_gcc630/2799

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2020-12-03 08:09] silviodonato commented on #32369
upload all

[2020-12-03 08:10] silviodonato commented on #32370
release-notes

[2020-12-03 08:10] silviodonato commented on #32370
upload all

[2020-12-03 08:10] cmsbuild commented on #32370
Queing Jenkins upload for slc6_amd64_gcc630

[2020-12-03 08:10] silviodonato commented on #32369
release-notes

[2020-12-03 08:10] cmsbuild commented on #32370
Queing Jenkins upload for slc7_amd64_gcc630

[2020-12-03 08:11] cmsbuild commented on #32369
Generating release notes since CMSSW_10_2_24_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-03 08:11] cmsbuild commented on #32369
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_25 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_24_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_25

Cheers,
cms-bot

You can also click <a href="mailto:h

[2020-12-03 08:12] cmsbuild commented on #32369
There was an error generating the release notes, please look into the logs

[2020-12-03 08:12] cmsbuild commented on #32370
The upload has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1774/console

[2020-12-03 08:12] cmsbuild commented on #32370
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1775/console

[2020-12-03 08:14] cmsbuild commented on #32370
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_19-slc6_amd64_gcc630/1774

[2020-12-03 08:14] cmsbuild commented on #32370
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_19-slc7_amd64_gcc630/1775

[2020-12-03 08:14] cmsbuild commented on #32370
Generating release notes since CMSSW_9_4_18.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-03 08:14] cmsbuild commented on #32370
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_19 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_18 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_19

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2020-12-03 08:15] cmsbuild commented on #32370
There was an error generating the release notes, please look into the logs

[2020-12-03 08:39] silviodonato commented on #32370
release-notes

[2020-12-03 08:39] cmsbuild commented on #32370
Generating release notes since CMSSW_9_4_18.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-03 08:39] cmsbuild commented on #32370
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_19 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_18 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_19

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2020-12-03 08:39] silviodonato commented on #32369
release-notes

[2020-12-03 08:40] cmsbuild commented on #32369
Generating release notes since CMSSW_10_2_24_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-03 08:40] cmsbuild commented on #32369
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_25 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_24_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_25

Cheers,
cms-bot

You can also click <a href="mailto:h

[2020-12-03 08:41] cmsbuild commented on #32370
There was an error generating the release notes, please look into the logs

[2020-12-03 08:44] cmsbuild commented on #32369
There was an error generating the release notes, please look into the logs

[2020-12-03 08:51] silviodonato opened #32376 "testTauEmbeddingProducers had ERRORS"
We are getting an error in the unit test `TauAnalysis/MCEmbeddingTools`  in `CMSSW_11_3_X_2020-12-02-2300`
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2020-12-02-2300/unitTestLogs/TauAnalysis/MCEmbeddingTools#/2001-2001

[code]

It seems related to #31220

[2020-12-03 08:51] silviodonato commented on #32376
assign reconstruction, xpog

[2020-12-03 08:51] cmsbuild commented on #32376
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@perrotta,@jpata,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-03 08:51] cmsbuild commented on #32376
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-03 08:56] perrotta commented on #32376
@bainbrid

[2020-12-03 09:00] silviodonato commented on #32376
The error is originated from the last step of https://github.com/cms-sw/cmssw/blob/master/TauAnalysis/MCEmbeddingTools/test/runtests.sh#L39
[code]

[2020-12-03 09:16] #32344 closed

[2020-12-03 10:58] silviodonato commented on #32370
release-notes since CMSSW_9_4_18

[2020-12-03 10:58] cmsbuild commented on #32370
Generating release notes since CMSSW_9_4_18.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-03 10:59] cmsbuild commented on #32370
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_19 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_18 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_19

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2020-12-03 11:02] cmsbuild commented on #32370
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_19

[2020-12-03 11:05] silviodonato commented on #32369
release-notes since CMSSW_10_2_24_patch1

[2020-12-03 11:06] cmsbuild commented on #32369
Generating release notes since CMSSW_10_2_24_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-03 11:06] cmsbuild commented on #32369
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_25 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_24_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_25

Cheers,
cms-bot

You can also click <a href="mailto:h

[2020-12-03 11:07] cmsbuild commented on #32369
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_25

[2020-12-03 14:21] clemencia commented on #32340
I would call this "metaconditions" and I think it could give the result that PPS needs within the constraints that the simulation conditions have .

[2020-12-03 14:52] #32161 closed

[2020-12-03 17:07] #32370 closed

[2020-12-03 17:07] #32369 closed

[2020-12-03 17:11] silviodonato commented on #32283
Workflow removed (#32288). We will try again once #32249 is solved

[2020-12-03 17:11] #32283 closed

[2020-12-03 20:08] makortel commented on #32045
To add here as well, with `gdb` I managed to get a stack trace of the fatal system signal in https://github.com/cms-sw/cmssw/issues/31896#issuecomment-735025379 and https://github.com/cms-sw/cmssw/pull/32102#issuecomment-738277482
[code]

[2020-12-04 08:53] silviodonato commented on #32181
solved by #32371
please note #32249 is still open

[2020-12-04 08:53] #32181 closed

[2020-12-04 10:06] jan-kaspar commented on #32340
@christopheralanwest Many thanks for the detailed information and apologies for the silence - yesterday we had a discussion within PPS on how to continue. We decided to have two lines of action:
  * for the full simulation, follow the fastest/simpliest solution which is using the usual single IOV DB tag. At the moment, the full simulation of PPS only aims at Run3 where anyway we currently have onl

[2020-12-04 10:51] ianna commented on #32249
Hi @Dr15Jones - I've mentioned your work on a thread-safe evaluator at a DD4hep developers meeting yesterday. They'd be happy to discuss it with you when you make a PR to their repository: https://github.com/AIDASoft/DD4hep
BTW, there is no rush - it was the last meeting of 2020. There will not be any until mid January 2021.

[2020-12-04 12:27] mundim commented on #32340
Just another comment on top of @jan-kaspar. We have agreed upon a strategy to provide a db tag to be included in the GT for the simulation with the desired condition AND following the current convention. No new code will be needed from the full simulation side apart from un update in a config file. We hope to have this in place soon, but it will take a couple of weeks (likely).
Further discussion

[2020-12-04 17:52] perrotta commented on #29449
+1
- Fixed by #32342

[2020-12-04 17:52] #29449 closed

[2020-12-04 17:52] cmsbuild commented on #29449
This issue is fully signed and ready to be closed.

[2020-12-04 19:37] bainbrid commented on #32376
Hi all,

I took a look at this.

I am able to reproduce the Exception with local tests.

When inspecting the command [here](https://github.com/cms-sw/cmssw/blob/master/TauAnalysis/MCEmbeddingTools/test/runtests.sh#L39), I realised through edmConfigDump that this PAT step actually also includes large parts of the RECO (somehow), including the full lowPtElectron RECO sequence and the lowPtElectronSe

[2020-12-04 20:24] cvuosalo commented on #31798
+1

[2020-12-04 20:25] cmsbuild commented on #31798
This issue is fully signed and ready to be closed.

[2020-12-04 20:25] cvuosalo commented on #31798
@bsunanda I think this issue is fixed. Could you please close it?

[2020-12-04 20:26] cvuosalo commented on #31466
+1

[2020-12-04 20:27] cvuosalo commented on #31466
@ianna I believe this issue is fixed. Could you please close it?

[2020-12-04 20:28] cvuosalo commented on #31143
+1

[2020-12-04 20:28] cmsbuild commented on #31143
This issue is fully signed and ready to be closed.

[2020-12-04 20:28] cvuosalo commented on #31143
@bsunanda I am running DD4hep workflows successfully to completion, so I think this issue is fixed. Could you please close it?

[2020-12-04 20:30] bsunanda commented on #31798
This issue is fixed

[2020-12-04 20:30] #31798 closed

[2020-12-04 20:31] cvuosalo commented on #31797
+1

[2020-12-04 20:31] cvuosalo commented on #31797
@bsunanda I believe you fixed this problem. Could you please close it?

[2020-12-04 20:34] bsunanda commented on #31143
Simulation-Reconstruction chain works for Run3 scenario. Have to investigate Phase2 from now.

[2020-12-04 20:34] #31143 closed

[2020-12-04 20:36] bsunanda commented on #31797
This issue is fixed.

[2020-12-04 20:36] #31797 closed

[2020-12-04 21:01] #31466 closed

[2020-12-07 08:56] mrodozov opened #32395 "Unit test is failing in TauAnalysis/MCEmbeddingTools"
Dears,
starting from CMSSW_11_3_X_2020-12-02-2300 a unit test started failing in all IBs

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2020-12-05-1100/unitTestLogs/TauAnalysis/MCEmbeddingTools#/2001-2001

here's the relevant output:

[code]

[2020-12-07 08:57] cmsbuild commented on #32395
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-07 08:59] mrodozov commented on #32395
assign analysis

[2020-12-07 09:00] cmsbuild commented on #32395
New categories assigned: analysis

@santocch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-07 10:50] silviodonato commented on #32395
@mrodozov see https://github.com/cms-sw/cmssw/issues/32376

[2020-12-07 10:54] mrodozov commented on #32395
closing

[2020-12-07 10:54] #32395 closed

[2020-12-07 13:14] nvoytish commented on #32274
Hi all!

We are trying to come up with a right fix for the bug. I was working on it today, but couple hours ago after a successful compile I tried to run "cmsenv" command and got:
[nvoytish@lxplus723 src]$ cmsenv
Unable to find SCRAM version V2_2_9_pre11. Something wrong with the sw installation.

and
[nvoytish@lxplus723 ~]$ scram list CMSSW_11_2_ASAN*
SCRAM warning: >>>> No SCRAM project CMSSW ve

[2020-12-07 13:39] slava77 commented on #32274
IBs stay for about 2 weeks; it looks like 11-23 has expired.
CMSSW_11_3_ASAN_X_2020-12-04-2300 is a more recent build
The same problem in CSC is still there.

[2020-12-07 14:03] silviodonato commented on #32376
see https://github.com/cms-sw/cmssw/pull/32400

[2020-12-07 14:25] silviodonato commented on #31991
solved by #32003 and #32140 (see #32125)

[2020-12-07 14:25] #31991 closed

[2020-12-07 14:48] bainbrid commented on #32376
Ah yes, I missed [this](https://github.com/cms-sw/cmssw/pull/32400/files#diff-3f79f9773241e7b131b2b16b438950e5997d068279751887859ee7d2e19bac74R418) line. Thanks.

[2020-12-07 15:31] Dr15Jones commented on #32249
@ianna Sorry I didn't make what I did clearer, I didn't write a full evaluator, only one that handled the simple cases we tend to have in our XML. As such, it wasn't a useful general replacement. I did later go and modify the DD4hep evaluator and did the pull request.

[2020-12-07 15:57] ianna opened #32403 "[DD4Hep] Migrate to G4 units as default"
As CMS has requested, DD4hep is ready to do the switch. A copy form a geometry forum discussion is beneath.

+++ Reason 1 **Performance**
Conversion between ROOT -> G4 units costs us roughly 16 divisions per volume - excluding the number of parameters per shape.

2021 scenario has 2111632 volumes.
2026 scenario has 13262283 volumes.

Moving to the same units would be a multiplication by 1 in the w

[2020-12-07 15:57] cmsbuild commented on #32403
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-07 19:34] makortel commented on #32403
assign geometry

[2020-12-07 19:34] cmsbuild commented on #32403
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-07 19:51] #32282 closed

[2020-12-07 22:55] cvuosalo commented on #32403
Issue #31979 already addresses this topic, does it not? Do we need both?

[2020-12-08 06:44] ianna commented on #32403
Sorry I didn’t see it in your plan. So, why it’s not a high priority issue? It’s 10 days before CERN closes, if we do not update to the new version of DD4Hep this week, we’ll loose one month of development.

We are already concerned about performance, we have heard reports about Ecal geometry discrepancy at a the level of precision, we have thread safety and performance issues due to bringing in t

[2020-12-08 07:35] ianna commented on #31979
Sorry I didn’t see it in your plan. So, why it’s not a high priority issue? It’s 10 days before CERN closes, if we do not update to the new version of DD4Hep this week, we’ll loose one month of development.

We are already concerned about performance, we have heard reports about Ecal geometry discrepancy at a the level of precision, we have thread safety and performance issues due to bringing in t

[2020-12-08 07:36] ianna commented on #31979
Duplicate

[2020-12-08 07:37] ianna commented on #32403
Duplicate

[2020-12-08 07:37] #32403 closed

[2020-12-08 07:38] ianna commented on #31979
As CMS has requested, DD4hep is ready to do the switch. A copy form a geometry forum discussion is beneath.

[2020-12-08 08:36] ianna commented on #28398
reevaluate after #32403

[2020-12-08 08:42] ianna commented on #31594
+1

bottlenecks are understood, the units migration should happen first

[2020-12-08 08:42] #31594 closed

[2020-12-08 08:42] cmsbuild commented on #31594
This issue is fully signed and ready to be closed.

[2020-12-08 09:03] ianna opened #32411 "[DD4Hep] Legacy Run 1 payloads"
The [DD4Hep G4 units as default migration](https://github.com/cms-sw/cmssw/issues/31979) is mandatory in order to use the Run 1 payloads transparently: the G4 units are assumed as a default. There are quite a few places where Run 1 XML description misses units either in the shape definition or in their transformation.

[2020-12-08 09:04] cmsbuild commented on #32411
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-08 10:13] fwyzard opened #32413 "Open issues regarding the HCAL local reconstruction on GPU"
From https://github.com/cms-sw/cmssw/pull/31720#issuecomment-738294472 by @mariadalfonso

See also https://github.com/cms-patatrack/cmssw/issues/539 .

[2020-12-08 10:13] fwyzard commented on #32413
assign reco

[2020-12-08 10:14] cmsbuild commented on #32413
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-08 10:14] fwyzard commented on #32413
assign heterogenous

[2020-12-08 10:19] silviodonato commented on #31896
For the record, https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2020-12-07-2300/unitTestLogs/DQM/Integration#/58-58

[2020-12-08 10:23] ianna opened #32414 "[DD4Hep] Tracker Phase II numeric special parameters need to be passed to an evaluator"
Addressing thread-safety and performance. Showstopper for running 2026 DD4Hep workflows. Urgent.

In order to reduce the DD4Hep exposure to RECO all "special" numeric parameters must be marked with `eval=true`. This allows passing it to an evaluator at the time of the XML parsing. Further access to the parameters from `DDFilteredView` is `get<double>`

**WARNING**: If the parameter is not marked t

[2020-12-08 10:24] cmsbuild commented on #32414
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-08 10:24] jfernan2 commented on #31896
The following PR should be fixing this somehow:
https://github.com/cms-sw/cmssw/pull/32408
FYI @francescobrivio

[2020-12-08 10:31] francescobrivio commented on #31896
I don't think #32408 will fix this issue. It just contains some minor updates of the clients after last MWGR tests.

[2020-12-08 10:36] cmsbuild commented on #32413
New categories assigned: heterogeneous,reconstruction

@slava77,@perrotta,@makortel,@jpata,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-08 11:18] mrodozov opened #32416 "Minuit logging changed in ROOT master"
Dears,

ROOT has changed in master the way Minuit is logging errors, warnings and info:
https://github.com/root-project/root/pull/6705

which we use at least in RecoLocalCalo/HcalRecAlgos

Adjusting to the new Minuit logging API seems to be (relatively) straightforward - one has to adjust
MnPrint:: SetLevel -> Verbose and use Info, Error and Warn instead of MN_INFO_MSG2 MN_ERROR_MSG etc
but this c

[2020-12-08 11:18] cmsbuild commented on #32416
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-08 11:20] mrodozov commented on #32416
assign reconstruction

[2020-12-08 11:20] cmsbuild commented on #32416
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-08 12:22] davidlange6 commented on #32416
From a quick look, I worry that this PR is something we want to back port without some testing..  maybe we can #define something to provide a migration path?

[2020-12-08 13:29] silviodonato opened #32417 "Build CMSSW_10_6_19_patch3"

[2020-12-08 13:30] cmsbuild commented on #32417
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-08 13:31] silviodonato commented on #32417
+1

[2020-12-08 13:32] cmsbuild commented on #32417
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-12-08 13:32] cmsbuild commented on #32417
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-12-08 13:34] cmsbuild commented on #32417
The build has started for slc7_amd64_gcc700 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2801/console
CMSDIST Branch: [REL/CMSSW_10_6_19/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_19/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-08 13:36] cmsbuild commented on #32417
The build has started for slc7_amd64_gcc820 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2802/console
CMSDIST Branch: [REL/CMSSW_10_6_19/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_19/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-08 13:44] makortel commented on #32411
assign geometry

[2020-12-08 13:44] cmsbuild commented on #32411
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-08 13:45] makortel commented on #32414
assign geometry

[2020-12-08 13:45] cmsbuild commented on #32414
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-08 14:06] cmsbuild commented on #32417
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch3-slc7_amd64_gcc820/2802
Some

[2020-12-08 14:12] cmsbuild commented on #32417
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch3-slc7_amd64_gcc700/2801
Some

[2020-12-08 14:16] silviodonato commented on #32417
upload all

[2020-12-08 14:16] cmsbuild commented on #32417
Queing Jenkins upload for slc7_amd64_gcc700

[2020-12-08 14:16] cmsbuild commented on #32417
Queing Jenkins upload for slc7_amd64_gcc820

[2020-12-08 14:20] cmsbuild commented on #32417
The upload has started for slc7_amd64_gcc820 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1777/console

[2020-12-08 14:20] cmsbuild commented on #32417
The upload has started for slc7_amd64_gcc700 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1776/console

[2020-12-08 14:20] cmsbuild commented on #32417
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_19_patch3-slc7_amd64_gcc820/1777

[2020-12-08 14:21] cmsbuild commented on #32417
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_19_patch3-slc7_amd64_gcc700/1776

[2020-12-08 14:30] Dr15Jones commented on #32416
@mrodozov why do we need this change so urgently?

[2020-12-08 14:30] silviodonato commented on #32417
release-notes

[2020-12-08 14:31] cmsbuild commented on #32417
Generating release notes since CMSSW_10_6_19_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-08 14:31] cmsbuild commented on #32417
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_19_patch3 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_19_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_19_patch3

Cheers,
cms-bot

You can also cli

[2020-12-08 14:36] cmsbuild commented on #32417
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19_patch3

[2020-12-08 14:45] cmsbuild commented on #32417
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch3-slc7_amd64_gcc820/2802

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-08 14:53] cmsbuild commented on #32417
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch3-slc7_amd64_gcc700/2801

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-08 16:00] mrodozov commented on #32416
It's blocking the update of our cmdsit ROOT/master IB, only.

[2020-12-08 17:08] mariadalfonso commented on #32413
need also to address this
https://github.com/cms-sw/cmssw/pull/32144#issuecomment-727835386
i.e. move our the algorithm part from DataFormats/CaloRecHit

[2020-12-08 17:37] cvuosalo commented on #31979
From my point of view, the top priority is to fix the Run 3 DD4hep workflows so they run successfully to completion. Currently, the 11624_TTbar workflow is terminating early in the reco step, and I am investigating the problem. The next priority is to address the discrepancy between DDD and DD4hep in the number of physical volumes and material cut couples, because these mismatches could be indicat

[2020-12-08 17:55] civanch commented on #31979
I agree with the plan as described by Carl, in fact. When we see, that Run3 is fully functional, we make a request for special IB and start migration of units. However, we may not be able to converge without units change. Also, we can request for PPD validation if we have a new GT, making GT may require some time. So, the 1st priority is to make Run3 WFs fully working, so we have "working point".

[2020-12-08 19:04] ianna commented on #31979
@civanch - we will not be able to coverage without the units change. It’s a showstopper.

[2020-12-09 01:18] slava77 commented on #27889
updates from near the finish line :
- merged:
    - #32303 Expand track information in lostTracks collection, for tau reco-from-mini (merged Nov 30, 2020)
    - #31984 "unprefireable bit info" (merged Dec 2, 2020)
- pending, but almost ready
    - #32372 update LowPtElectrons in bParking config and add low-pt electrons in default miniAOD (signed by reco Dec 8, 2020)
- remaining features were desco

[2020-12-09 10:54] #32417 closed

[2020-12-09 11:00] silviodonato opened #32428 "Unable to choose current device because CUDAService is disabled."
In `CMSSW_11_3_X_2020-12-08-2300`, we are getting in wf `136.885522`, `136.888522`, `10824.522`, `11634.522`

[code]

It seems related to #31720 . It sounds like a kind of expected error due to missing GPU in the IB test machines.

[2020-12-09 11:00] cmsbuild commented on #32428
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-09 11:00] silviodonato commented on #32428
assign heterogeneous, core

[2020-12-09 11:00] cmsbuild commented on #32428
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@makortel,@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-09 11:20] silviodonato opened #32429 "Build CMSSW_10_6_19_patch4"

[2020-12-09 11:20] cmsbuild commented on #32429
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-09 11:21] silviodonato commented on #32429
+1

[2020-12-09 11:21] fwyzard commented on #32428
The workflows `136.885522`, `136.888522`, `10824.522`, `11634.522` are explicitly running the HCAL reconstruction on GPU - so it looks like they are behaving as expected.

How would you like them to behave when there are no GPUs ?

[2020-12-09 11:21] cmsbuild commented on #32429
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19_patch4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-12-09 11:21] cmsbuild commented on #32429
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-12-09 11:23] fwyzard commented on #32428
Here are some options:
1. keep the GU-only failing as they do now
2. implement a way to mark the GPU-only workflows as "expected failures"
3. implement a way to avoid running the GPU-only workflows
4. change the workflows to run on GPU if available, and fall back to CPU otherwise

[2020-12-09 11:24] cmsbuild commented on #32429
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2804/console
CMSDIST Branch: [REL/CMSSW_10_6_19/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_19/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-09 11:24] cmsbuild commented on #32429
The build has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2803/console
CMSDIST Branch: [REL/CMSSW_10_6_19/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_19/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-09 11:25] fwyzard commented on #32428
I would guess that
  - `2.` requires changes to the testing and reporting infrastructures
  - `3.` could be done either in the test infrastructure, or in cmsDriver / runTheMatrix ?
  - `4.` is doable in CMSSW; the plan was to *add* an automatic GPU/CPU workflow, instead of replacing these ones, but we could also replace them instead

[2020-12-09 12:08] cmsbuild commented on #32429
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch4-slc7_amd64_gcc820/2804
Some

[2020-12-09 12:25] cmsbuild commented on #32429
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch4-slc7_amd64_gcc700/2803
Some

[2020-12-09 12:47] cmsbuild commented on #32429
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch4-slc7_amd64_gcc820/2804

Tests results:
34 32 31 25 12 2 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-12-09 12:51] silviodonato commented on #32429
abort

[2020-12-09 12:51] cmsbuild commented on #32429
Deleting CMSSW_10_6_19_patch4:

  -Release successfully deleted

  -cmssw tag CMSSW_10_6_19_patch4 successfully deleted.

 -cmsdist tag REL/CMSSW_10_6_19_patch4/slc7_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_6_19_patch4/slc7_amd64_gcc820 successfully deleted.

You must create a new issue to start over the build.

[2020-12-09 12:52] cmsbuild commented on #32429
There was an error when running the tests for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch4-slc7_amd64_gcc700/2803

Tests results:
grep: /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_10_6_19_patch4-slc7_amd64_gcc700/build/CMSSW_10_6_19_patch4-tests/matrixTests/runall-report-step123-.log: No such file or directo

[2020-12-09 12:52] silviodonato commented on #32429
(I forgot of https://github.com/cms-sw/cmsdist/pull/6491 )

[2020-12-09 12:52] #32429 closed

[2020-12-09 12:52] silviodonato opened #32430 "Build CMSSW_10_6_20"

[2020-12-09 12:53] cmsbuild commented on #32430
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-09 12:54] silviodonato commented on #32430
+1

[2020-12-09 12:54] cmsbuild commented on #32430
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_20. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-12-09 12:54] cmsbuild commented on #32430
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-12-09 12:56] cmsbuild commented on #32430
The build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2806/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-09 12:56] cmsbuild commented on #32430
The build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2805/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-09 14:43] makortel commented on #32428
I think `4.` would in principle be a viable alternative, but I also think we should find a way to run matrix workflows on GPU resources, and when that is done, `4.` has a risk of not catching certain kind of problems because the "problematic workflow" could fall back to CPU and succeed.

Therefore I think we should look into `3.`, extending it to running GPU-only workflows on GPU resources (simila

[2020-12-09 14:48] makortel commented on #32428
A possible straightforward way to implement `3.` would be to define a separate `-w` set for GPU-only workflows. Then the GPU-only workflows would not be run by default, and it would be easy to run only them with `runTheMatrix.py -w gpu`.

[2020-12-09 15:06] smuzaffar commented on #32428
+1 for `-w gpu`

[2020-12-09 15:36] cmsbuild commented on #32430
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_20-slc7_amd64_gcc820/2806
Some tests (

[2020-12-09 16:17] cmsbuild commented on #32430
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_20-slc7_amd64_gcc820/2806

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-09 16:29] cmsbuild commented on #32430
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_20-slc7_amd64_gcc700/2805
Some tests (

[2020-12-09 16:44] silviodonato commented on #32430
upload all

[2020-12-09 16:44] cmsbuild commented on #32430
Queing Jenkins upload for slc7_amd64_gcc700

[2020-12-09 16:44] cmsbuild commented on #32430
Queing Jenkins upload for slc7_amd64_gcc820

[2020-12-09 16:45] cmsbuild commented on #32430
The upload has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1778/console

[2020-12-09 16:47] cmsbuild commented on #32430
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_20-slc7_amd64_gcc700/1778

[2020-12-09 16:47] cmsbuild commented on #32430
The upload has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1779/console

[2020-12-09 16:50] cmsbuild commented on #32430
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_20-slc7_amd64_gcc820/1779

[2020-12-09 16:52] silviodonato commented on #32430
release-notes

[2020-12-09 16:53] cmsbuild commented on #32430
Generating release notes since CMSSW_10_6_19_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-09 16:53] cmsbuild commented on #32430
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_20 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_19_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_20

Cheers,
cms-bot

You can also click <a href="mailto:h

[2020-12-09 16:56] cmsbuild commented on #32430
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_20

[2020-12-09 17:09] cmsbuild commented on #32430
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_20-slc7_amd64_gcc700/2805

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-09 18:00] cvuosalo commented on #32181
In CMSSW_11_3_X_2020-12-08-1100, I have confirmed that workflows 11624.911 and 11642.911 run successfully to completion with 1000 events in both single- and multi-threaded mode.

[2020-12-09 20:11] cvuosalo commented on #32249
+1

[2020-12-09 20:13] cvuosalo commented on #32249
In CMSSW_11_3_X_2020-12-08-1100, DD4hep workflows 11624 and 11642 run successfully to completion with 1000 events in multi-threaded mode. I think this issue can be closed.

[2020-12-09 20:28] cvuosalo commented on #31753
DD4hep workflows 11624.911 and 11642.911 are running successfully in PR and IB tests. In CMSSW_11_3_X_2020-12-08-1100, they were confirmed to run successfully to completion with 1000 events in both single- and multi-threaded modes.

I think this issue can be closed.

[2020-12-09 20:28] cvuosalo commented on #31753
+1

[2020-12-10 08:16] #32430 closed

[2020-12-10 08:19] silviodonato commented on #32428
assign pdmv
because this change will affect `runTheMatrix.py`

[2020-12-10 08:19] cmsbuild commented on #32428
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-10 13:17] silviodonato opened #32437 "Build CMSSW_11_1_5"

[2020-12-10 13:19] cmsbuild commented on #32437
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-10 17:56] silviodonato commented on #32437
+1

[2020-12-10 17:56] cmsbuild commented on #32437
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-12-10 17:56] cmsbuild commented on #32437
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-12-10 17:57] cmsbuild commented on #32437
The build has started for cc8_amd64_gcc8 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2807/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-10 17:58] cmsbuild commented on #32437
The build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2808/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-10 17:58] cmsbuild commented on #32437
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2809/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-10 17:58] cmsbuild commented on #32437
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2810/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-10 18:13] cmsbuild commented on #32437
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/2810
Some test

[2020-12-10 18:18] nvoytish commented on #32274
Hi all!

It turned out that we need to keep the omitted "if"
https://github.com/cms-sw/cmssw/commit/7501f0ca9d85f3f5f2e6f20ba2743b1794a48e24#diff-89c0bedb1d5ff71760f4a99102f4c06386cdac66bb8527527d41a7fe28e5dab8L160
We forgot that there is a difference in detid for wires in simulation and real
data. For real data all wires are labelled as ME11B. This "if" does not allow for a strip from ME11A to be

[2020-12-10 18:22] cmsbuild commented on #32437
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_aarch64_gcc820/2809
Some test

[2020-12-10 18:22] cmsbuild commented on #32437
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-cc8_amd64_gcc8/2807
Some tests ( runThe

[2020-12-10 18:27] cmsbuild commented on #32437
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_amd64_gcc820/2808
Some tests (

[2020-12-10 19:00] cmsbuild commented on #32437
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-cc8_amd64_gcc8/2807

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-12-10 19:04] makortel commented on #32274
Yes, thanks!

[2020-12-10 19:07] cmsbuild commented on #32437
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_amd64_gcc820/2808

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-10 19:14] cmsbuild commented on #32437
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/2810

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-12-10 19:20] cmsbuild commented on #32437
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_aarch64_gcc820/2809

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-12-10 22:54] makortel opened #32444 "INFO-level printouts on missing dictionaries"
Doing
[code]
shows INFO-level printouts on missing dictionaires
[code]

I'm wondering if these are important (and should be elevated to exceptions), or could (continue to) be ignored?

[2020-12-10 22:55] makortel commented on #32444
assign core

[2020-12-10 22:55] cmsbuild commented on #32444
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-10 22:55] cmsbuild commented on #32444
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-10 22:55] makortel commented on #32444
@pcanal Could you take a look? Thanks.

[2020-12-10 23:00] makortel commented on #32444
By quick look I did not see dictionary declaration for any of the complained classes. Notably they're all `std::pair`.

[2020-12-10 23:27] makortel commented on #32444
Interestingly by default we ignore messages in `Root_NoDictionary` category
https://github.com/cms-sw/cmssw/blob/8e64f554f9a3f04138687dd7dd437b00faa1b875/FWCore/MessageService/python/MessageLogger_cfi.py#L76-L78
On the other hand I don't know what kind of messages we get there.

[2020-12-10 23:36] pcanal commented on #32444
The dictionary for std::pair in unnecessary unless it is stored as a top level object (this should not happen in CMSSW).  So I have to investigate why we still issue a warning.

[2020-12-11 00:34] makortel commented on #32444
Does this mean we could remove many if not all `std::pair<X, Y>` dictionary declarations, like here?
https://github.com/cms-sw/cmssw/blob/8e64f554f9a3f04138687dd7dd437b00faa1b875/DataFormats/StdDictionaries/src/classes_def_pair.xml#L1-L6

[2020-12-11 00:34] pcanal commented on #32444
I can reproduce the problem and continue investigating.

[2020-12-11 00:57] pcanal commented on #32444
Yes, this is the intent.

[2020-12-11 00:58] pcanal commented on #32444
Is there a similar CMSSW release with a ROOT built with debug symbol? (I don't seem to have any with the instruction above)

[2020-12-11 01:41] pcanal commented on #32444
Technically the message are printed because, the CMS version of the ROOT error handler at https://github.com/cms-sw/cmssw/blob/cb42c7aa31fcc750c0d942a71781e28666fc38b1/FWCore/Services/plugins/InitRootHandlers.cc#L178
does not implement support for `gErrorIgnoreLevel` which is the mechanism currently used by `TStreamerInfo::GenerateInfoForPair` to tell `TClass::Init` (via 3 layers of indirection) t

[2020-12-11 01:43] pcanal commented on #32444
I can see 2 ways forward:
a) Enhance `RootErrorHandlerImpl` to add support for `gErrorIgnoreLevel`
or
b) Extend the code to switch from indirect to direct communication between the 2 routine I mentioned.

[2020-12-11 03:34] slava77 commented on #32437
didn't we do this already on Nov 12?

[2020-12-11 08:19] silviodonato commented on #32437
abort

[2020-12-11 08:20] cmsbuild commented on #32437
Deleting CMSSW_11_1_5:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_5 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_5/slc7_amd64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_5/slc7_aarch64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_5/slc7_ppc64le_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_5/cc8_amd64_gcc8 successfully deleted.

You m

[2020-12-11 08:32] silviodonato opened #32447 "Build CMSSW_11_1_6"

[2020-12-11 08:32] #32437 closed

[2020-12-11 08:32] cmsbuild commented on #32447
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-11 09:11] silviodonato commented on #32447
+1

[2020-12-11 09:12] cmsbuild commented on #32447
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-12-11 09:12] cmsbuild commented on #32447
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-12-11 09:13] cmsbuild commented on #32447
The build has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2811/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-11 09:13] cmsbuild commented on #32447
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2812/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-11 09:13] cmsbuild commented on #32447
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2813/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-11 09:14] cmsbuild commented on #32447
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2814/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-11 09:25] silviodonato opened #32448 "Validation/CTPPS/python/simu_config/year_*_cff.py"
In
`Validation/CTPPS/python/simu_config/year_2016_cff.py`
`Validation/CTPPS/python/simu_config/year_2017_cff.py`
`Validation/CTPPS/python/simu_config/year_2018_cff.py`
some configuration files are loaded and used without cloning them.
Please clone them to avoid bad surprise (see https://github.com/cms-sw/cmssw/pull/31484#discussion_r539393930)

[2020-12-11 09:25] cmsbuild commented on #32448
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-11 09:28] silviodonato commented on #32448
assign dqm

[2020-12-11 09:28] silviodonato commented on #32448
@forthommel

[2020-12-11 09:28] cmsbuild commented on #32448
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-11 09:57] forthommel commented on #32448
@jan-kaspar

[2020-12-11 11:22] cmsbuild commented on #32447
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_6-slc7_aarch64_gcc820/2813
Some test

[2020-12-11 11:31] cmsbuild commented on #32447
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_6-slc7_ppc64le_gcc820/2814
Some test

[2020-12-11 12:09] cmsbuild commented on #32447
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_6-cc8_amd64_gcc8/2811
Some tests ( runThe

[2020-12-11 12:26] cmsbuild commented on #32447
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_6-slc7_aarch64_gcc820/2813

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-12-11 12:32] cmsbuild commented on #32447
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_6-slc7_ppc64le_gcc820/2814

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-12-11 12:50] cmsbuild commented on #32447
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_6-cc8_amd64_gcc8/2811

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-12-11 12:56] cmsbuild commented on #32447
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_6-slc7_amd64_gcc820/2812
Some tests (

[2020-12-11 13:36] cmsbuild commented on #32447
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_6-slc7_amd64_gcc820/2812

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-11 14:35] silviodonato commented on #32447
upload all

[2020-12-11 14:36] cmsbuild commented on #32447
Queing Jenkins upload for cc8_amd64_gcc8

[2020-12-11 14:36] cmsbuild commented on #32447
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-12-11 14:36] cmsbuild commented on #32447
Queing Jenkins upload for slc7_amd64_gcc820

[2020-12-11 14:36] cmsbuild commented on #32447
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-12-11 14:39] cmsbuild commented on #32447
The upload has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1780/console

[2020-12-11 14:40] cmsbuild commented on #32447
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1782/console

[2020-12-11 14:42] cmsbuild commented on #32447
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_6-slc7_ppc64le_gcc820/1783

[2020-12-11 14:45] cmsbuild commented on #32447
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_6-cc8_amd64_gcc8/1780

[2020-12-11 14:47] cmsbuild commented on #32447
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1784/console

[2020-12-11 14:47] cmsbuild commented on #32447
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_6-slc7_amd64_gcc820/1782

[2020-12-11 14:48] cmsbuild commented on #32447
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_6-slc7_aarch64_gcc820/1784

[2020-12-11 14:57] silviodonato commented on #32447
release-notes

[2020-12-11 14:58] cmsbuild commented on #32447
Generating release notes since CMSSW_11_1_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-11 14:58] cmsbuild commented on #32447
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_6 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_6

Cheers,
cms-bot

You can a

[2020-12-11 15:01] cmsbuild commented on #32447
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_6

[2020-12-11 15:09] silviodonato commented on #32447
release notes since CMSSW_11_1_4

[2020-12-11 15:09] silviodonato commented on #32447
release-notes since CMSSW_11_1_4

[2020-12-11 15:10] cmsbuild commented on #32447
Generating release notes since CMSSW_11_1_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-11 15:10] cmsbuild commented on #32447
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_6 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_6

Cheers,
cms-bot

You can a

[2020-12-11 15:12] cmsbuild commented on #32447
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_6

[2020-12-11 16:43] ttrk opened #32451 "HIPhotonIsolation not correctly added to pat::photon"
https://github.com/cms-sw/cmssw/pull/30255 adds HIPhotonIsolation object (keyed by reco::photon) to pat::photon. However, the detailed checks show that although object is added, its association to the pat::photon is wrong.

Details here : https://indico.cern.ch/event/983567/contributions/4149449/attachments/2161558/3647183/201211_miniAOD_HIPhotonIsolation_reco_meeting.pdf

Please let us know how t

[2020-12-11 16:43] cmsbuild commented on #32451
A new Issue was created by  @ttrk Kaya Tatar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-11 16:49] makortel commented on #32451
assign reconstruction, xpog

(a bit unsure of the assignment though)

[2020-12-11 16:50] cmsbuild commented on #32451
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@perrotta,@jpata,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-11 22:53] slava77 commented on #32451
@guitargeek
we mentioned you in the meeting as a possible expert to take a look at the issue

[2020-12-11 22:56] guitargeek commented on #32451
Okay, good. Matt told me privately but I didn't have time to look into it yet. I'll can take a look on Sunday if that's fine? How's the urgency here?

[2020-12-11 23:10] slava77 commented on #32451
@guitargeek
Thank you.
Based on the discussion in the meeting, in the next few days would be fine (a PR by Tue/Wed? but it depends on its complexity; one can hope for a one-liner fix)

[2020-12-11 23:15] guitargeek commented on #32451
That's a good timescale! Maybe I can find an easy way to make the EGExtraInfoModifierFromValueMaps to work with non-aligned collections.

[2020-12-12 00:06] slava77 commented on #32451
somehow I thought that `EGExtraInfoModifierFromValueMaps` was working already *only* for aligned collections and it's a bit surprising to see that the protections available in ValueMap to get the values for the collection it was made were not used .

[2020-12-13 14:23] cmsbuild commented on #32447
The cleanup has started for slc7_aarch64_gcc820

[2020-12-13 14:23] cmsbuild commented on #32447
The cleanup has started for cc8_amd64_gcc8

[2020-12-13 14:23] cmsbuild commented on #32447
The cleanup has started for slc7_amd64_gcc820

[2020-12-13 14:23] cmsbuild commented on #32447
The cleanup has started for slc7_ppc64le_gcc820

[2020-12-13 14:23] #32447 closed

[2020-12-13 14:23] cmsbuild commented on #32447
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_6-cc8_amd64_gcc8/1602

[2020-12-13 14:23] cmsbuild commented on #32447
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_6-slc7_aarch64_gcc820/1603

[2020-12-13 14:23] cmsbuild commented on #32447
The workspace for slc7_ppc64le_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_6-slc7_ppc64le_gcc820/1605

[2020-12-13 14:23] cmsbuild commented on #32447
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_6-slc7_amd64_gcc820/1604

[2020-12-13 16:09] Dr15Jones opened #32460 "Out of bounds write in TauNNId::compute"
When doing a pull request fixing another ASAN problem (#32442), we found that TauNNId::compute is writing to memory beyond its end.

[2020-12-13 16:10] cmsbuild commented on #32460
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-13 16:10] Dr15Jones commented on #32460
The full report from ASAN is

[code]

[2020-12-13 16:12] Dr15Jones commented on #32460
I believe the problem is here:
https://github.com/cms-sw/cmssw/blob/0a262b4d71e2c37b43395c6af5149cf7905b46c0/L1Trigger/Phase2L1ParticleFlow/src/TauNNId.cc#L60

the line should actually be
[code]

[2020-12-13 16:12] Dr15Jones commented on #32460
assign l1

[2020-12-13 16:12] cmsbuild commented on #32460
New categories assigned: l1

@rekovic,@jmduarte you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-13 16:12] Dr15Jones commented on #32460
assign upgrade

[2020-12-13 16:12] cmsbuild commented on #32460
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-14 11:36] silviodonato opened #32465 "Towards CMSSW_11_2_0 - open issue"
PPD General meeting ( Dec 10): https://indico.cern.ch/event/979274/

From https://cms-pdmv.cern.ch/valdb/?srch=11_2&selected=11_2_0_pre9_phase2,11_2_0_pre9_2021,11_2_0_pre10_phase2,11_2_0_pre11_2021&PAGs=true&PData=true&PFull=true&PFast=true&HLT=true&HData=true&HFull=true&GEN=true&GGen=true&IN=true&IData=true&IFull=true

![image](https://user-images.githubusercontent.com/6177433/102076458-ff121380

[2020-12-14 11:36] silviodonato commented on #32465
assign pdmv

[2020-12-14 11:36] cmsbuild commented on #32465
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-14 11:36] cmsbuild commented on #32465
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-14 11:39] silviodonato opened #32466 "Towards CMSSW_11_2_0 - Differences in MET phase2"
Part of https://github.com/cms-sw/cmssw/issues/32465

From  https://hypernews.cern.ch/HyperNews/CMS/get/relval/15255/18.html

In category: RECONSTRUCTION
In subcategory: FULLSIM
validation for: MET
Has Changed: From status: NOT YET DONE
             To status: IN PROGRESS
By: ROBERTO SEIDITA
Comment: 11_2_0_pre9_phase2 Campaign
Target: 11_2_0_pre9_phase2 (blue)
Reference: 11_2_0_pre8_phase2 (black

[2020-12-14 11:39] silviodonato commented on #32466
assign reconstruction

[2020-12-14 11:39] cmsbuild commented on #32466
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-14 11:39] cmsbuild commented on #32466
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-14 11:42] silviodonato commented on #32466
cc @cms-sw/pdmv-l2

[2020-12-14 11:44] silviodonato opened #32467 "Towards CMSSW_11_2_0 - Problems with L1 trigger"
Part of #32465

From https://hypernews.cern.ch/HyperNews/CMS/get/relval/15254/34.html

In category: RECONSTRUCTION
In subcategory: FULLSIM
validation for: L1
Has Changed: From status: NOT YET DONE
             To status: FAILURE
By: MIKKO LOTTI
Comment: The targed release follows the reference release. Reference 11_2_0_pre8 was marked FAILURE by L1T since it is still under investigation but the ch

[2020-12-14 11:45] silviodonato commented on #32467
assign l1

[2020-12-14 11:45] silviodonato commented on #32467
cc @cms-sw/pdmv-l2

[2020-12-14 11:45] cmsbuild commented on #32467
New categories assigned: l1

@rekovic,@jmduarte you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-14 11:45] cmsbuild commented on #32467
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-14 11:53] silviodonato commented on #32467
cc: @cbotta

[2020-12-14 13:03] silviodonato commented on #32466
Other plots with a very large difference

**PhotonEt fraction in RelValZEE_14_112X_mcRun4_realistic_v3_2026D49noPU**

https://cms-pdmv.cern.ch/relmon/1605870008___CMSSW_11_2_0_pre9_Phase2_vsCMSSW_11_2_0_pre8_Phase2/FullSimReport/RelValZEE_14_112X_mcRun4_realistic_v3_2026D49noPU/24761a4ad6.html

![image](https://user-images.githubusercontent.com/6177433/102084021-c88ec580-3e14-11eb-92b7-2f027f84e24

[2020-12-14 13:21] silviodonato commented on #32466
It might be related to https://github.com/cms-sw/cmssw/pull/31887

[2020-12-14 13:50] mmusich commented on #31920
@civanch I was wondering if in the past two weeks there has been any progress on this.
Thanks,
M.

[2020-12-14 14:10] silviodonato commented on #32467
You can find more plots at slide5 https://indico.cern.ch/event/971757/contributions/4091291/attachments/2141972/3609473/Release_Validation_Report_2020_11_12.pdf.

pre7: black, pre8: blue
![image](https://user-images.githubusercontent.com/6177433/102090791-325f9d00-3e1e-11eb-87e5-886f220ddf78.png)
![image](https://user-images.githubusercontent.com/6177433/102090804-37245100-3e1e-11eb-9f60-d1b593162

[2020-12-14 14:20] silviodonato commented on #32467
From an e-mail from @BenjaminRS @bundocka , I've understood these errors are going to be fixed by https://github.com/cms-sw/cmssw/pull/32455 and https://github.com/cms-sw/cmssw/pull/32365.

[2020-12-14 14:37] ghugo83 commented on #32414
Ha I see was done here for Phase 1, following recent change in FilteredView: https://github.com/cms-sw/cmssw/pull/32388/commits/32a0c74e01bb2178334538d817e4090810f84d6f#diff-7302cd669ba77ff993549a7ab094d7feac189f27ed543dd1970d854dd78b3c05
Gonna push a PR for Phase 2 today

[2020-12-14 14:39] silviodonato opened #32475 "Towards CMSSW_11_2_0 - No Phase-2 electrons in endcap in miniAOD"
Part of #32465

From https://hypernews.cern.ch/HyperNews/CMS/get/relval/15280/13.html

In category: RECONSTRUCTION
In subcategory: FULLSIM
validation for: ELECTRON
Has Changed: From status: NOT YET DONE
             To status: OK
By: AXEL NEWTON BUCHOT PERRAGUIN
Comment: The 11_2_0_pre10_PHASE2 (red) plots are compared to 11_2_0_pre9_PHASE2 (blue) [0].

Links: [0] https://cms-egamma.web.cern.ch/cm

[2020-12-14 14:40] cmsbuild commented on #32475
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-14 14:44] silviodonato commented on #32475
assign xpog

[2020-12-14 14:44] cmsbuild commented on #32475
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-14 16:49] makortel commented on #32444
I'm a bit confused. The printout is already suppressed by CMSSW MessageLogger by default. The printouts seem to be once-per-job, so I don't think it would be necessary to be more efficient.

If the printout is not useful, why print it in the first place? Or is it useful in general, but not in CMSSW?

I'm just a bit concerned if this printout could have any relation to the crashes we saw earlier in

[2020-12-14 16:57] #32318 closed

[2020-12-14 17:05] fwyzard opened #32480 "Open issues regarding the ECAL local reconstruction on GPU"
# Open issues regarding the ECAL local reconstruction on GPU
  - [ ] Update the ECAL ESProducts and move them to a more correct place
  - [ ] Migrate GPU code to use common constants and functions

[2020-12-14 17:06] fwyzard commented on #32480
# Open issues regarding the ECAL local reconstruction on GPU
  - [ ] Update the ECAL ESProducts and move them to a more correct place
  - [ ] Migrate GPU code to use common constants and functions

## Update the ECAL ESProducts and move them to a more correct place

Make the equivalent changes regarding to the conditions that were done for HCAL in #32039.

Move the conditions types used on the GPU

[2020-12-14 17:06] fwyzard commented on #32480
## Migrate GPU code to use common constants and functions

The functions in [RecoLocalCalo/EcalRecProducers/plugins/Common.h](https://github.com/cms-sw/cmssw/tree/master/RecoLocalCalo/EcalRecProducers/plugins/Common.h) are only used by the GPU implementation.

They could be reused from [DataFormats/EcalDigi/interface/EcalMGPASample.h](https://github.com/cms-sw/cmssw/tree/master/DataFormats/EcalDig

[2020-12-14 17:06] cmsbuild commented on #32480
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-14 17:06] fwyzard commented on #32480
assign reconstruction

[2020-12-14 17:06] fwyzard commented on #32480
assign heterogeneous

[2020-12-14 17:07] cmsbuild commented on #32480
New categories assigned: heterogeneous,reconstruction

@slava77,@perrotta,@makortel,@jpata,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-14 17:07] fwyzard commented on #32480
@thomreis FYI

[2020-12-14 18:21] fwyzard opened #32483 "Open issues regarding the Pixel local reconstruction on GPU"
##  Open issues regarding the Pixel local reconstruction on GPU
  - [ ] make the CPU and GPU buffers used for the pixel local reconstruction configurable at runtime

[2020-12-14 18:21] cmsbuild commented on #32483
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-14 18:28] fwyzard commented on #32483
## make the CPU and GPU buffers used for the pixel local reconstruction configurable at runtime

See https://github.com/cms-sw/cmssw/pull/31721/files#r521009826 for an initial discussion.

The dimensions defined in [CUDADataFormats/SiPixelCluster/interface/gpuClusteringConstants.h](https://github.com/cms-patatrack/cmssw/tree/master/CUDADataFormats/SiPixelCluster/interface/gpuClusteringConstants.h)

[2020-12-14 18:28] fwyzard commented on #32483
assign reconstruction

[2020-12-14 18:28] fwyzard commented on #32483
assign heterogeneous

[2020-12-14 18:29] cmsbuild commented on #32483
New categories assigned: heterogeneous,reconstruction

@slava77,@perrotta,@makortel,@jpata,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-14 18:29] fwyzard commented on #32483
@tsusa @mmusich @VinInn FYI

[2020-12-14 19:50] fwyzard commented on #32483
## Reduce the number of dedicated namespacess for Pixel reconstruction on GPU
  - `namespace gpuClustering` is used in
      - [CUDADataFormats/SiPixelCluster/interface/gpuClusteringConstants.h](https://github.com/cms-patatrack/cmssw/tree/master/CUDADataFormats/SiPixelCluster/interface/gpuClusteringConstants.h)
      - [RecoLocalTracker/SiPixelClusterizer/plugins/gpuClusterChargeCut.h](https://git

[2020-12-14 21:49] fwyzard commented on #32483
## Add more comments to the code

  - in [TrackingRecHit2DHeterogeneous.h](https://github.com/cms-patatrack/cmssw/blob/6a192beda960630de730923b10a44a5a1da5e77d/CUDADataFormats/TrackingRecHit/interface/TrackingRecHit2DHeterogeneous.h#L45-L46):
[code]

[2020-12-14 22:21] fwyzard commented on #32483
## Use `gpuClustering::maxNumModules` where appropriate

Various pieces of code use `2000` or `2001` by value; figure out which uses can and should be replace by `gpuClustering::maxNumModules` or `gpuClustering::maxNumModules + 1`:

  - CUDADataFormats/SiPixelCluster/interface/gpuClusteringConstants.h:
[code]

  - CUDADataFormats/TrackingRecHit/src/TrackingRecHit2DHeterogeneous.cc:
[code]

  - Con

[2020-12-15 00:31] fwyzard commented on #32483
## Use `phase1PixelTopology::numberOfLayers` where appropriate

In
  - Geometry/TrackerGeometryBuilder/test/phase1PixelTopology_t.cpp
  - RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromLegacy.cc

use `phase1PixelTopology::numberOfLayers` (`+ 1`) in place of `10` (`11`).

[2020-12-15 08:24] silviodonato commented on #32466
As a reference, these are the plots of slimmedMETs (https://github.com/cms-sw/cmssw/issues/32466#issuecomment-744425292 refers to slimmedMETPuppis)

**PhotonEt fraction in RelValZEE_14_112X_mcRun4_realistic_v3_2026D49noPU**

![image](https://user-images.githubusercontent.com/6177433/102188826-14de1200-3eb6-11eb-99c1-3bc63368b8b3.png)

https://cms-pdmv.cern.ch/relmon/1605870008___CMSSW_11_2_0_pre9_

[2020-12-15 08:29] silviodonato commented on #32466
and these are the plots of slimmedMETs to be compared with slimmedMETsPuppi (https://github.com/cms-sw/cmssw/issues/32466#issue-766333179)
TTbar noPU

https://cms-pdmv.cern.ch/relmon/1605870008___CMSSW_11_2_0_pre9_Phase2_vsCMSSW_11_2_0_pre8_Phase2/FullSimReport/RelValTTbar_14TeV_112X_mcRun4_realistic_v3_2026D49noPU/1f878051f4.html

![image](https://user-images.githubusercontent.com/6177433/1021900

[2020-12-15 08:57] mariadalfonso commented on #32475
@rovere

[2020-12-15 09:49] lathomas commented on #32466
Hello,
Indeed we do expect changes in PF fractions entering PUPPIMET given the update of the PUPPI tune in https://github.com/cms-sw/cmssw/pull/31887
The fact that the MET resolution doesn't change in TTbar  is reassuring
![image](https://user-images.githubusercontent.com/4995867/102197993-23cac180-3ec2-11eb-867b-8e035bb82574.png)
@ahinzmann Do you agree?

[2020-12-15 09:57] lathomas commented on #32466
Also the fact that the PUPPIMET distribution in itself doesn't change too much is another indication that things are not getting crazy.
ttbar
![image](https://user-images.githubusercontent.com/4995867/102199744-4231bc80-3ec4-11eb-84ab-8d5be66449c2.png)

ZMuMu
![image](https://user-images.githubusercontent.com/4995867/102199794-51b10580-3ec4-11eb-8c82-c33c1974cceb.png)

[2020-12-15 10:31] VinInn commented on #32483
not these one
[code]

[2020-12-15 14:08] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/32487#issuecomment-745106989 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2020-12-15 14:49] Dr15Jones opened #32492 "End of job crashes in ASAN from end IOV task"
In CMSSW_11_3_ASAN_X_2020-12-14-2300 we see a lot of segmentation faults happening at the end of job time. They appear to all have the same traceback

[code]

The framework should have waited for that task to complete before doing the end of job processing.

I believe this is happening now because we switched to always using concurrent LuminosityBlocks and IOVs are tied to LuminosityBlock transiti

[2020-12-15 14:49] Dr15Jones commented on #32492
assign core

[2020-12-15 14:49] cmsbuild commented on #32492
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 14:49] cmsbuild commented on #32492
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-15 14:52] Dr15Jones commented on #32492
I was wrong about the timing. The failing call is happening when it is supposed to as the main thread has the stack trace:

[code]

[2020-12-15 15:05] makortel commented on #32492
@wddgit Would you have any ideas?

[2020-12-15 15:08] wddgit commented on #32492
I will take a look and think about it.

[2020-12-15 15:12] Dr15Jones commented on #32492
The problem may just lie ij the destructor itself
https://github.com/cms-sw/cmssw/blob/69a515e7435a114bb6f2c220722a4187023b2216/RecoLocalTracker/SiPixelRecHits/src/PixelCPETemplateReco.cc#L97-L99

notice the copy being done. That code is
https://github.com/cms-sw/cmssw/blob/69a515e7435a114bb6f2c220722a4187023b2216/RecoLocalTracker/SiPixelRecHits/src/PixelCPETemplateReco.cc#L97-L99

or depending on

[2020-12-15 15:19] dan131riley commented on #32492
The destructor is definitely broken, besides unnecessary copies it shouldn't be doing manual memory management at all.  But I don't see why that would suddenly be giving SEGVs.

[2020-12-15 15:19] Dr15Jones commented on #32492
I suggest changing
https://github.com/cms-sw/cmssw/blob/77b393df1ad0117498b797f49394588c02f83312/CondFormats/SiPixelTransient/interface/SiPixelTemplate.h#L219-L221
to
[code]
Then the whole `destroy()` function can go away as the destructor will work properly.

[2020-12-15 15:20] makortel commented on #32492
I recall the pixel template classes causing stack overflow issues before. Could the copy in the `~PixelCPETemplateReco` of a heavy object cause a stack overflow here as well?

[2020-12-15 15:26] makortel commented on #32492
This array
https://github.com/cms-sw/cmssw/blob/77b393df1ad0117498b797f49394588c02f83312/CondFormats/SiPixelTransient/interface/SiPixelTemplate.h#L216
alone is ~7.3 MB. I'm suspecting a stack overflow.

[2020-12-15 15:27] dan131riley commented on #32492
Or just use std::vector<float>.  wrt stack use, it looks to me like SI_PIXEL_TEMPLATE_USE_BOOST isn't defined

https://github.com/cms-sw/cmssw/blob/77b393df1ad0117498b797f49394588c02f83312/CondFormats/SiPixelTransient/interface/SiPixelTemplateDefs.h#L19

so the SiPixelTemplateEntry arrays are huge and the deletes are completely wrong.

[2020-12-15 15:37] makortel commented on #32492
assign alca

[2020-12-15 15:38] cmsbuild commented on #32492
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 15:40] makortel commented on #32492
assign reconstruction

(the suspected problematic copy of the `SiPixelTemplateStore` is in reco package)

[2020-12-15 15:40] cmsbuild commented on #32492
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 15:52] makortel commented on #32492
Some places more with the same pattern
https://github.com/cms-sw/cmssw/blob/69a515e7435a114bb6f2c220722a4187023b2216/RecoLocalTracker/SiPixelRecHits/src/PixelCPEClusterRepair.cc#L158-L163
(the `thePixelTemp2D_` of `SiPixelTemplateStore2D` apparently does not have the same stack issue since the 2D array is always heap-allocated)

https://github.com/cms-sw/cmssw/blob/69a515e7435a114bb6f2c220722a4187

[2020-12-15 15:53] chayanit commented on #32475
@silviodonato can you also assign PdmV in this opened issue? thanks :)

[2020-12-15 15:53] makortel commented on #32492
assign simulation

[2020-12-15 15:54] silviodonato commented on #32475
assign pdmv

[2020-12-15 15:54] cmsbuild commented on #32475
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 15:54] silviodonato commented on #32467
assign pdmv

[2020-12-15 15:54] cmsbuild commented on #32492
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 15:54] silviodonato commented on #32466
assign pdmv

[2020-12-15 15:55] cmsbuild commented on #32467
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 15:55] makortel commented on #32492
assign fastsim

[2020-12-15 15:55] cmsbuild commented on #32466
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 15:56] cmsbuild commented on #32492
New categories assigned: fastsim

@mdhildreth,@sbein,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 16:03] fwyzard commented on #32483
## Make the pixel cluster thresholds configurable

`RecoLocalTracker/SiPixelClusterizer/plugins/gpuClusterChargeCut.h` and `RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelDigisClustersFromSoA.cc` use hard-coded cuts of `2000` and `4000`, while the CPU code at `RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc` takes the same values from the runtime configuration.

The GP

[2020-12-15 16:10] wddgit commented on #32492
Just to confirm what Chris already said, I looked at the part of the stack traces related to the concurrent IOV code and it looks like that code is functioning as intended.

[2020-12-15 16:26] rekovic commented on #32460
https://github.com/cms-sw/cmssw/issues/32460#issuecomment-744030474

or probably

[code]

Attn @violatingcp

[2020-12-15 16:44] srimanob commented on #32428
Hi,

Just for my education on how IB works, why we don't see i.e. 10824.512 failed (ECAL-gpu only) in the same IB?
https://cms-sw.github.io/relvalLogDetail.html#slc7_amd64_gcc900;CMSSW_11_3_X_2020-12-08-2300
random resource?

[2020-12-15 16:53] silviodonato opened #32495 "Build CMSSW_11_3_0_pre1"

[2020-12-15 16:53] cmsbuild commented on #32495
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-15 16:57] silviodonato commented on #32495
build cmssw-tool-conf

[2020-12-15 16:57] cmsbuild commented on #32495
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc900, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, cc8_amd64_gcc9, cc8_ppc64le_gcc9
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-12-15 16:58] cmsbuild commented on #32495
The cmssw-tool-conf build has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2815/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 16:58] cmsbuild commented on #32495
The cmssw-tool-conf build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2816/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 16:58] cmsbuild commented on #32495
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2817/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 16:59] cmsbuild commented on #32495
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2818/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 17:23] cmsbuild commented on #32495
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2819/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 17:38] fwyzard commented on #32428
Because until #31719 gets merged, there is no ECAL-only gpu workflow - `10824.512` is identical to `10824.511` and runs on cpu.

[2020-12-15 18:05] cmsbuild commented on #32495
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_amd64_gcc900/2817

[2020-12-15 18:15] cmsbuild commented on #32495
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-cc8_amd64_gcc9/2815

[2020-12-15 18:21] cmsbuild commented on #32495
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-cc8_ppc64le_gcc9/2818

[2020-12-15 18:22] cmsbuild commented on #32495
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_aarch64_gcc9/2816

[2020-12-15 18:42] cmsbuild commented on #32495
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_ppc64le_gcc9/2819

[2020-12-15 19:13] dan131riley opened #32497 "gcc10 cxx11 abi issue with CLING"
DataFormats/FWLite/test/triggernames_cint.C is failing in gcc10 IBs with the error
[code]
The problem appears to be a change in cxx11 ABI propagation in gcc10.  `edm::TriggerNames::size()` is defined as:
[code]
If I run 'nm -C' on the resulting library and look for the routine, I get
[code]
and CLING doesn't find it.  If I change the definition to:
[code]
I get
[code]
and the test runs fine.  If I

[2020-12-15 19:13] cmsbuild commented on #32497
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-15 19:19] makortel commented on #32497
assign core

[2020-12-15 19:20] cmsbuild commented on #32497
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-15 19:31] Dr15Jones commented on #32497
Weird, I thought return values are not part of the ABI since they can be ignored.

[2020-12-15 20:08] makortel commented on #32497
Adding @vgvassilev in case the "old" version of LLVM (5) used for `rootcling` could play any role (we encountered a case where a piece of code failed to compile with `rootcling`  in https://github.com/cms-sw/cmssw/pull/30906).

[2020-12-15 20:43] vgvassilev commented on #32497
After a chat with @zygoloid we believe it is a bug in gcc. If `T` and `U` are the same type, then `T size() const` and `U size() const` are the same function, and must have the same mangling.

We should report this bug to gcc, if it was not reported.

[2020-12-15 20:59] vgvassilev commented on #32497
That's the [godbolt link](https://godbolt.org/z/P7j4We). The bug is present from gcc10 onward. Clang seems to agree with gcc9.

[2020-12-15 21:05] silviodonato commented on #32495
+1

[2020-12-15 21:05] cmsbuild commented on #32495
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-12-15 21:05] cmsbuild commented on #32495
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2020-12-15 21:08] cmsbuild commented on #32495
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2820/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 21:08] cmsbuild commented on #32495
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2821/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 21:08] cmsbuild commented on #32495
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2822/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 21:09] cmsbuild commented on #32495
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2823/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 21:09] cmsbuild commented on #32495
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2824/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-15 23:27] cmsbuild commented on #32495
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_aarch64_gcc9/2822
Some tes

[2020-12-15 23:55] cmsbuild commented on #32495
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_ppc64le_gcc9/2824
Some tes

[2020-12-15 23:58] cmsbuild commented on #32495
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-cc8_ppc64le_gcc9/2823
Some tests

[2020-12-16 00:04] fwyzard opened #32502 "How to control warnings and errors in device code"
The ongoing review of the Patatrack PRs has highlighted the wish for a central way to manage, enable and disable warning and error messages generated in device coda.

CUDA provides a device-side `printf` function that can be used to print messages from the device to the host's console.
These messages are thread-safe on the device (different device threads will output whole messages), but not neces

[2020-12-16 00:04] cmsbuild commented on #32502
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-16 00:07] fwyzard commented on #32502
assign heterogeneous

[2020-12-16 00:07] cmsbuild commented on #32502
New categories assigned: heterogeneous

@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-16 00:13] makortel commented on #32502
For this option these stackoverflow threads could be "useful"
* https://stackoverflow.com/questions/21238303/redirecting-cuda-printf-to-a-c-stream
* https://stackoverflow.com/questions/23031408/how-do-i-get-cudas-printf-to-print-to-an-arbitrary-stream

[2020-12-16 00:14] cmsbuild commented on #32495
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-cc8_amd64_gcc9/2820
Some tests ( r

[2020-12-16 00:31] cmsbuild commented on #32495
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_aarch64_gcc9/2822

Tests results:
36 35 34 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-16 00:52] cmsbuild commented on #32495
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-cc8_ppc64le_gcc9/2823

Tests results:
33 30 13 4 3 0 0 0 0 tests passed, 3 2 17 2 0 0 0 0 0 failed

[2020-12-16 00:52] cmsbuild commented on #32495
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_ppc64le_gcc9/2824

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2020-12-16 01:01] cmsbuild commented on #32495
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-cc8_amd64_gcc9/2820

Tests results:
36 35 34 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-16 01:16] cmsbuild commented on #32495
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_amd64_gcc900/2821
Some tes

[2020-12-16 02:03] cmsbuild commented on #32495
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre1-slc7_amd64_gcc900/2821

Tests results:
36 35 34 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-16 02:14] makortel commented on #25090
Now that concurrent lumis have been enabled (by https://github.com/cms-sw/cmssw/pull/32406), I took the logs of full runTheMatrix from CMSSW_11_3_X_2020-12-13-0000 and looked which modules prevent efficient use of concurrent lumis. The list below shows
* number of workflows
* EDModule class name
* module label
[code]

[2020-12-16 02:16] makortel commented on #25090
@cms-sw/dqm-l2

Could you take a look of these?

[2020-12-16 02:20] makortel commented on #25090
@alberto-sanchez @SiewYan @GurpreetSinghChahal @mkirsano @agrohsje (hmm, apparently we don't hae @cms-sw/generators-l2 team for some reason)

(adding the list of workflows for others than `Pythia8GeneratorFilter`)
[code]

I assume many of these have nontrivial constraints that prevent the support for concurrent lumis, and therefore the only option would be to explicitly set the corresponding workf

[2020-12-16 02:24] makortel commented on #25090
@cms-sw/reconstruction-l2

Could you take a look of this or comment? (there is also other standing issue on `LumiProducer` https://github.com/cms-sw/cmssw/issues/28608)

[2020-12-16 02:25] makortel commented on #25090
@cms-sw/pdmv-l2

These are legacy modules and by quick look they look straightforward to migrate to stream or global module type.

[2020-12-16 02:29] makortel commented on #25090
@cms-sw/alca-l2

These are used (in these workflows) only in a separate ALCA step. In a production setup, will their jobs ever need to process more than one lumi? If not, those steps could be configured to use 1 concurrent lumi if the migration is not feasible.

These are used in the same step as RECO and would be good to migrate. By quick look the use of [`LuminostyBlockCache`](https://twiki.cern

[2020-12-16 08:09] jpata commented on #25090
@makortel could you clarify a bit, what exactly needs to be done? Should `LumiProducer` be converted from `edm::one::EDProducer` to `edm::stream::EDProducer`, with corresponding changes to the internals of the class? By quick look, not being an expert in this code, it is stateful (has a cache) and accesses a server, so it would likely not be entirely trivial. If this is what needs to be done, I'll

[2020-12-16 09:13] ggovi commented on #31896
Addressed by https://github.com/cms-sw/cmssw/pull/32503

[2020-12-16 10:40] silviodonato commented on #32495
upload all

[2020-12-16 10:40] cmsbuild commented on #32495
Queing Jenkins upload for cc8_amd64_gcc9

[2020-12-16 10:40] cmsbuild commented on #32495
Queing Jenkins upload for cc8_ppc64le_gcc9

[2020-12-16 10:40] cmsbuild commented on #32495
Queing Jenkins upload for slc7_aarch64_gcc9

[2020-12-16 10:40] cmsbuild commented on #32495
Queing Jenkins upload for slc7_amd64_gcc900

[2020-12-16 10:40] cmsbuild commented on #32495
Queing Jenkins upload for slc7_ppc64le_gcc9

[2020-12-16 10:43] cmsbuild commented on #32495
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1785/console

[2020-12-16 10:43] cmsbuild commented on #32495
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1786/console

[2020-12-16 10:44] cmsbuild commented on #32495
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1787/console

[2020-12-16 10:44] cmsbuild commented on #32495
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre1-cc8_amd64_gcc9/1785

[2020-12-16 10:44] cmsbuild commented on #32495
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1788/console

[2020-12-16 10:44] cmsbuild commented on #32495
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre1-cc8_ppc64le_gcc9/1786

[2020-12-16 10:45] cmsbuild commented on #32495
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1789/console

[2020-12-16 10:45] cmsbuild commented on #32495
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre1-slc7_aarch64_gcc9/1787

[2020-12-16 10:46] cmsbuild commented on #32495
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre1-slc7_ppc64le_gcc9/1789

[2020-12-16 10:46] cmsbuild commented on #32495
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre1-slc7_amd64_gcc900/1788

[2020-12-16 11:00] silviodonato commented on #32495
release-notes

[2020-12-16 11:00] cmsbuild commented on #32495
Unable to find previous release for CMSSW_11_3_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2020-12-16 11:09] perrotta commented on #32376
+1
- Fixed by #32400

[2020-12-16 11:13] silviodonato commented on #32495
release-notes since CMSSW_11_2_0_pre10

[2020-12-16 11:14] cmsbuild commented on #32495
Generating release notes since CMSSW_11_2_0_pre10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-16 11:14] cmsbuild commented on #32495
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_0_pre10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pr

[2020-12-16 11:14] cmsbuild commented on #32495
Generating release notes since CMSSW_11_2_0_pre10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-16 11:14] cmsbuild commented on #32495
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_0_pre10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pr

[2020-12-16 11:17] cmsbuild commented on #32495
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre1

[2020-12-16 11:18] cmsbuild commented on #32495
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre1

[2020-12-16 13:29] mariadalfonso commented on #32376
+xpog

[2020-12-16 13:30] cmsbuild commented on #32376
This issue is fully signed and ready to be closed.

[2020-12-16 14:02] #32376 closed

[2020-12-16 14:26] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/32499#issuecomment-745954508 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2020-12-16 14:53] makortel commented on #25090
@jpata For the concurrent lumis it would be sufficient to use [`LuminosityBlockCache`](https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultithreadedFrameworkOneModuleInterface#edm_LuminosityBlockCacheT) in a one module (stream or global type would still be preferred).

On the other hand I dag a bit of the history of this module, and encountered the following quote

any real use. However, other CM

[2020-12-16 15:01] makortel commented on #32045
Just to note here as well, the crash in `coral::MessageStream` is addressed in https://github.com/cms-sw/cmssw/pull/32503.

[2020-12-16 15:55] jfernan2 commented on #25090
Hi @makortel  I have contacted Tracker and L1T offline DQM developers by email about this. Thanks

[2020-12-16 20:24] agrohsje commented on #25090
Thanks @makortel . We should be able to adjust many of them:
https://indico.cern.ch/event/894534/contributions/3827060/attachments/2030893/3398914/ExternalGeneratorFilter_for_Generators_Meeting.pdf
@SiewYan @mkirsano
Is one of you able to work on modifying the workflows?
Maybe from some it is not worth the effort, like P6.

[2020-12-16 20:36] silviodonato opened #32512 "Build CMSSW_11_2_0"

[2020-12-16 20:36] cmsbuild commented on #32512
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-16 21:34] silviodonato commented on #32512
+1

[2020-12-16 21:35] cmsbuild commented on #32512
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2020-12-16 21:35] cmsbuild commented on #32512
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2020-12-16 21:37] cmsbuild commented on #32512
The build has started for cc8_amd64_gcc9 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2825/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-16 21:37] cmsbuild commented on #32512
The build has started for slc7_amd64_gcc900 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2826/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-16 21:37] cmsbuild commented on #32512
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2827/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-16 21:37] cmsbuild commented on #32512
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2828/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-16 21:37] cmsbuild commented on #32512
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2829/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-16 21:38] cmsbuild commented on #32512
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2830/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-17 00:11] cmsbuild commented on #32512
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-cc8_aarch64_gcc9/2827
Some tests ( ru

[2020-12-17 00:33] cmsbuild commented on #32512
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-cc8_ppc64le_gcc9/2829
Some tests ( ru

[2020-12-17 00:43] cmsbuild commented on #32512
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-cc8_amd64_gcc9/2825
Some tests ( runThe

[2020-12-17 00:45] cmsbuild commented on #32512
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-slc7_aarch64_gcc9/2828
Some tests (

[2020-12-17 01:03] cmsbuild commented on #32512
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-cc8_aarch64_gcc9/2827

Tests results:
33 30 13 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2020-12-17 01:24] cmsbuild commented on #32512
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-cc8_amd64_gcc9/2825

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-17 01:28] cmsbuild commented on #32512
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-slc7_ppc64le_gcc9/2830
Some tests (

[2020-12-17 01:35] cmsbuild commented on #32512
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-cc8_ppc64le_gcc9/2829

Tests results:
33 30 13 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2020-12-17 01:46] cmsbuild commented on #32512
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-slc7_aarch64_gcc9/2828

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-17 02:20] cmsbuild commented on #32512
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-slc7_amd64_gcc900/2826
Some tests (

[2020-12-17 02:39] cmsbuild commented on #32512
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-slc7_ppc64le_gcc9/2830

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-17 02:59] cmsbuild commented on #32512
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0-slc7_amd64_gcc900/2826

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-17 10:57] jpata opened #32518 "LumiProducer blocks concurrent lumi processing"
LumiProducer seems to have several issues:
1) it blocks concurrent lumi processing introduced in 11_3_X: https://github.com/cms-sw/cmssw/issues/25090#issuecomment-745721320
2) it requires updates https://github.com/cms-sw/cmssw/issues/28608
3) it seems it is not really used in production at least from 2018: https://github.com/cms-sw/cmssw/issues/25090#issuecomment-746418195

cc LUMI POG conveners

[2020-12-17 10:57] jpata commented on #32518
assign reconstruction

[2020-12-17 10:57] cmsbuild commented on #32518
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-17 10:57] cmsbuild commented on #32518
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-17 13:34] silviodonato commented on #32512
upload all

[2020-12-17 13:35] cmsbuild commented on #32512
Queing Jenkins upload for cc8_aarch64_gcc9

[2020-12-17 13:35] cmsbuild commented on #32512
Queing Jenkins upload for cc8_amd64_gcc9

[2020-12-17 13:35] cmsbuild commented on #32512
Queing Jenkins upload for cc8_ppc64le_gcc9

[2020-12-17 13:35] cmsbuild commented on #32512
Queing Jenkins upload for slc7_aarch64_gcc9

[2020-12-17 13:35] cmsbuild commented on #32512
Queing Jenkins upload for slc7_amd64_gcc900

[2020-12-17 13:35] cmsbuild commented on #32512
The upload has started for cc8_amd64_gcc9 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1791/console

[2020-12-17 13:35] cmsbuild commented on #32512
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1790/console

[2020-12-17 13:35] cmsbuild commented on #32512
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1793/console

[2020-12-17 13:36] cmsbuild commented on #32512
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1792/console

[2020-12-17 13:36] cmsbuild commented on #32512
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0-cc8_amd64_gcc9/1791

[2020-12-17 13:36] cmsbuild commented on #32512
The upload has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1794/console

[2020-12-17 13:37] cmsbuild commented on #32512
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0-cc8_aarch64_gcc9/1790

[2020-12-17 13:37] cmsbuild commented on #32512
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0-slc7_aarch64_gcc9/1793

[2020-12-17 13:37] cmsbuild commented on #32512
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0-cc8_ppc64le_gcc9/1792

[2020-12-17 13:37] cmsbuild commented on #32512
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1795/console

[2020-12-17 13:37] silviodonato commented on #32466
As confirmed at the PPD General meeting https://indico.cern.ch/event/984876/ and by @lathomas we can consider this difference as "change expected". Closing the issue

[2020-12-17 13:37] #32466 closed

[2020-12-17 13:38] cmsbuild commented on #32512
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0-slc7_ppc64le_gcc9/1795

[2020-12-17 13:40] cmsbuild commented on #32512
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0-slc7_amd64_gcc900/1794

[2020-12-17 13:43] silviodonato commented on #32512
release-notes since CMSSW_11_2_0_pre11

[2020-12-17 13:43] cmsbuild commented on #32512
Generating release notes since CMSSW_11_2_0_pre11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-17 13:43] cmsbuild commented on #32512
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_2_0 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_0_pre11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSS

[2020-12-17 13:46] cmsbuild commented on #32512
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0

[2020-12-17 15:05] gkrintir commented on #32518
thanks @jpata for reporting

indeed it can be removed from the sequences @capalmer85 please verify

many thx all

[2020-12-17 17:00] slava77 opened #32525 "resync HybridMinimizer with Minuit2Minimizer or replace it or remove Method2 HCAL"
This is in connection with
https://github.com/cms-sw/cmssw/pull/32440#pullrequestreview-554202928

according to https://github.com/cms-sw/cmssw/pull/5954#discussion_r19672993
the HybridMinimizer is a slightly modified copy of Minuit2Minimizer.
Since the original import in 2014 there were some updates in the upstream/ROOT Minuit2Minimizer
- https://github.com/root-project/root/commits/v6-22-00-patc

[2020-12-17 17:00] cmsbuild commented on #32525
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-17 17:00] slava77 commented on #32525
assign reconstruction

[2020-12-17 17:00] cmsbuild commented on #32525
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-17 17:22] slava77 commented on #32274
+1

I do not find the CSC-related error in https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_3/2020-12-16-2300?selectedArchs=slc7_amd64_gcc900&selectedFlavors=ASAN_X&selectedStatus=failed anymore (after #32442 was merged on Dec 15)

[2020-12-17 17:22] cmsbuild commented on #32274
This issue is fully signed and ready to be closed.

[2020-12-17 17:23] #32274 closed

[2020-12-17 18:20] jpata opened #32529 "thread-safe wrapper for tensorflow session"
In the discussion in https://github.com/cms-sw/cmssw/pull/32128#issuecomment-746475476, it came up that we can reuse `tensorflow::Session` for the same model across threads and reduce memory usage, but `tensorflow::run(session)` is not marked const, although it is thread-safe according to the TF documentation

Therefore, we would need a wrapper for `Session` that calls `run` with the right inputs,

[2020-12-17 18:20] cmsbuild commented on #32529
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-17 18:21] jpata commented on #32529
assign reconstruction

[2020-12-17 18:21] cmsbuild commented on #32529
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-17 19:04] makortel commented on #32497
@dan131riley Could you follow up with gcc (if you didn't yet)?

In the meantime, the issue is worked round in #32528.

[2020-12-17 19:47] dan131riley commented on #32497
@makortel yes I'll followup with a gcc bug report, probably tomorrow

[2020-12-17 22:31] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/32510#issuecomment-747704223 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2020-12-18 06:29] abdoulline commented on #32525
I'd like to add Mariarosaria @mariadalfonso  to the discussion

[2020-12-18 10:23] cmsbuild commented on #32495
The cleanup has started for slc7_aarch64_gcc9

[2020-12-18 10:23] cmsbuild commented on #32495
The cleanup has started for cc8_amd64_gcc9

[2020-12-18 10:23] cmsbuild commented on #32495
The cleanup has started for cc8_ppc64le_gcc9

[2020-12-18 10:23] cmsbuild commented on #32495
The cleanup has started for slc7_amd64_gcc900

[2020-12-18 10:23] cmsbuild commented on #32495
The cleanup has started for slc7_ppc64le_gcc9

[2020-12-18 10:23] #32495 closed

[2020-12-18 10:23] cmsbuild commented on #32495
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-cc8_ppc64le_gcc9/1607

[2020-12-18 10:23] cmsbuild commented on #32495
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-slc7_aarch64_gcc9/1608

[2020-12-18 10:23] cmsbuild commented on #32495
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-cc8_amd64_gcc9/1606

[2020-12-18 10:23] cmsbuild commented on #32495
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-slc7_ppc64le_gcc9/1610

[2020-12-18 10:23] cmsbuild commented on #32495
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-slc7_amd64_gcc900/1609

[2020-12-18 10:23] cmsbuild commented on #32495
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-cc8_ppc64le_gcc9/1612

[2020-12-18 10:23] cmsbuild commented on #32495
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-cc8_amd64_gcc9/1611

[2020-12-18 10:24] cmsbuild commented on #32495
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-slc7_ppc64le_gcc9/1614

[2020-12-18 10:24] cmsbuild commented on #32495
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre1-slc7_amd64_gcc900/1613

[2020-12-18 14:28] #32512 closed

[2020-12-18 14:34] silviodonato opened #32543 "Missing GEN-SIM in wf 11723.17"
#32222 had recently added worklow 11723.17. The workflow is crashing in the IB test because the GEN-SIM is missing (see https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_3/2020-12-17-2300?selectedArchs=slc7_amd64_gcc900&selectedFlavors=X&selectedStatus=failed)
In other words, because `dasgoclient --limit 0 --query 'file dataset=/RelValQCD_Pt_1800_2400_14/CMSSW_11_2_0_pre8-112X_mcRun3_202

[2020-12-18 14:34] silviodonato commented on #32543
assign pdmv

[2020-12-18 14:34] cmsbuild commented on #32543
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-18 14:34] cmsbuild commented on #32543
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-18 15:11] dpiparo opened #32546 "Possible copy/paste error in calculation of diagonal elements in metsig::METSignificance::getCovariance?"
I was looking for cpu performance optimisation opportunities and I stumbled in
https://github.com/cms-sw/cmssw/blob/ba6e8604a35283e39e89bc031766843d0afc3240/RecoMET/METAlgorithms/src/METSignificance.cc#L169
the 2 diagonal elements of the matrix are identical and calculated twice. Can this be a copy/paste mistake?

This is not related to the above question but it could be that quite a few multiplic

[2020-12-18 15:12] cmsbuild commented on #32546
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-18 15:15] makortel commented on #32546
assign reconstruction

[2020-12-18 15:15] cmsbuild commented on #32546
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-18 16:07] silviodonato commented on #32428
@fwyzard @makortel @smuzaffar I've made https://github.com/cms-sw/cmssw/pull/32547 , I hope this is what you asked for

[2020-12-18 18:43] Dr15Jones opened #32550 "ASAN issue in HLTExoticaSubAnalysis"
The most recent ASAN report sees a problem in HLTExoticaSubAnalysis. This is an out of bound read of size 4 which is off the end of a `std::vector<float>`.

[2020-12-18 18:43] cmsbuild commented on #32550
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-18 18:45] Dr15Jones commented on #32550
The log is
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ASAN_X_2020-12-17-2300/pyRelValMatrixLogs/run/12634.0_TTbar_14TeV+2023PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano/step3_TTbar_14TeV+2023PU+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano.log#/

with the exact problem being
[code]

[2020-12-18 18:55] Dr15Jones commented on #32550
The problem originates with the value from `dxys`
https://github.com/cms-sw/cmssw/blob/393431e92ddacdecbf24d4ff8cca29951177ee7a/HLTriggerOffline/Exotica/src/HLTExoticaPlotter.cc#L151-L153

with the function signature being
https://github.com/cms-sw/cmssw/blob/393431e92ddacdecbf24d4ff8cca29951177ee7a/HLTriggerOffline/Exotica/src/HLTExoticaPlotter.cc#L103-L107

The index `j` is over all entries of `

[2020-12-18 18:55] makortel commented on #32550
assign dqm

[2020-12-18 18:56] cmsbuild commented on #32550
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-18 19:06] jfernan2 commented on #32550
@sudhaahuja @phylsix @swagata87 @angirar @DryRun  can you please have a look a provide a fix as EXO HLT DQM And Validation Code Developers? Thanks

[2020-12-18 19:17] riga commented on #32529
This would indeed be helpful. We'll investigate.

[2020-12-19 02:37] slava77 commented on #32050
@kpedro88 @adas1994
what is the status of this issue?

from the comments in #32397 it may seem that the problem is resolved, in IBs starting from 12-16-2300

[2020-12-19 09:21] silviodonato opened #32563 "Assertion violation in DQMServices/Core/interface/DQMStore.h"
About one hundred of workflows are crashing in `CMSSW_11_3_X_2020-12-18-2300` with
[code]
see https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_3/2020-12-18-2300?selectedArchs=slc7_amd64_gcc900&selectedFlavors=X&selectedStatus=failed

In CMSSW_11_3_X_2020-12-18-2300 we merged few PRs ( #32510, #32535, #32537 ) so I suspect the origin of the problem is #32510 (I'm running a test to get co

[2020-12-19 09:22] silviodonato commented on #32563
assign dqm, core

[2020-12-19 09:22] cmsbuild commented on #32563
New categories assigned: dqm,core

@Dr15Jones,@smuzaffar,@jfernan2,@andrius-k,@fioriNTU,@makortel,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-19 09:22] cmsbuild commented on #32563
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-19 09:27] SiewYan commented on #25090
Hi @agrohsje , I can take a look on this

[2020-12-19 15:35] adas1994 commented on #32050
I would say it is partly resolved. The current IB at least solves the
urgent issue of stark rechits mismatch between StdMix-PreMix. I had been
working on resolving some of the lurking bugs. But I will be on vacation
till 4th Jan, 2021. So, I will be able to update you after that.

thanks,

thanks,

On Fri, Dec 18, 2020 at 9:37 PM Slava Krutelyov <notifications@github.com>
wrote:

--
Sincerely,

Ab

[2020-12-19 15:37] Dr15Jones commented on #32563
@silviodonato I took a look at the stack trace and I agree it almost certainly comes from #32510. I saw that a request to get data from the EventSetup ultimately caused a EDProducer to be run on that waiting thread. The use of a `tbb::task_arena` for all EventSetup calls was supposed to prevent such behavior. It looks like that recent pull request accidently caused the `tbb::task_arena` to be bypa

[2020-12-19 15:59] silviodonato commented on #32563
Thanks @Dr15Jones. I tried to reproduce the error using `CMSSW_11_3_X_2020-12-18-1100` + #32510, but the compilation takes ages. I've tried the other way around using `CMSSW_11_3_X_2020-12-18-1100` + #32535, #32537 and it works. In `CMSSW_11_3_X_2020-12-18-2300`, I see that the error appears only using `-t 4` in `runTheMatrix`.

[2020-12-19 17:10] Dr15Jones commented on #32563
@silviodonato I see exactly where I made the mistake. I'll have a fix very soon. The hardest part is trying to reproduce the failure :).

[2020-12-19 17:17] plujan commented on #32518
Yes, I can confirm that this was not used for Run 2 and we have no plans to use it for Run 3, so feel free to take whatever actions are necessary.

[2020-12-19 17:48] Dr15Jones commented on #32563
Should be fixed in #32566. My attempts to reproduce the problem didn't succeed but I'll try running one of the rel vals over and over to see if the problem returns after this change.

[2020-12-19 18:25] silviodonato commented on #32563
I reproduced the error with `runTheMatrix.py -l 4.51 -i all --job-reports -t 4 --ibeos`

[2020-12-20 05:54] chayanit commented on #32543
Hello @silviodonato, why do you need RelVals from 11_2_0_pre8 the only pre-release that we recycled GEN-SIM (from 11_2_0_pre7)? That's why you can't find any results from this release. You can pick any other pre-releases for GEN-SIM but not pre8. Hope this helps.

[2020-12-20 10:57] silviodonato commented on #32563
fixed by #32566
The fix works, see
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2020-12-20-0000/pyRelValMatrixLogs/run/110.0_SingleTauPt50Pythia+SingleTauPt50Pythia+DIGI+RECO/step3_SingleTauPt50Pythia+SingleTauPt50Pythia+DIGI+RECO.log#/
vs
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2020-12-19-1100/pyRelValMatrixLogs/run/110.0_SingleTa

[2020-12-20 10:57] #32563 closed

[2020-12-21 08:00] jpata opened #32567 "SiPixelTemplateStore2D modernization"
In https://github.com/cms-sw/cmssw/pull/32494, SiPixelTemplate was modernized to use C++ std::array/std::vector for improved memory management. The same should be done for SiPixelTemplate2D, per https://github.com/cms-sw/cmssw/pull/32494/files/3d61197863ff75dd0b1e0db4ac4ce4e361087553#r545172147.

[2020-12-21 08:00] jpata commented on #32567
assign reconstruction

[2020-12-21 08:00] cmsbuild commented on #32567
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-21 08:00] cmsbuild commented on #32567
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-21 09:00] mariadalfonso commented on #29180
+xpog
v7 is the nano for the EOY, already produced

[2020-12-21 11:28] silviodonato commented on #32543
Hi @chayanit ,  the release (11_2_0_pre8) is taken from this line https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_steps.py#L3222 that was updated by #32140.
I don't know there is a way to select pre7 only for `11723.17`.
Btw. I temporarily solved the problem with #32548, ie. using TTbar instead of QCD 18000-2400

[2020-12-21 12:05] chayanit commented on #32543
Ah right. I forgot about the GEN-SIM we produced particularly. Do you want to have the missing GENSIM QCD 18000-2400? I can submit it.

[2020-12-22 10:06] jfernan2 commented on #31896
+1

[2020-12-22 10:17] jfernan2 commented on #31081
For DQM (Validation package) it has been removed for all Validation/HGCalValidation/test/python/* in merged PR
https://github.com/cms-sw/cmssw/pull/31767
except
Validation/HGCalValidation/test/python/testHGCalSimWatcherV10_cfg.py
L11:process.load('Configuration.Geometry.GeometryExtended2026D41Reco_cff')
L12:process.load('Configuration.Geometry.GeometryExtended2026D41_cff')
FYI: @bsunanda

[2020-12-23 14:04] perrotta commented on #32546
Adding the JetMET conveners, because a reco contact for MET has not yet appointed:
@kirschen @lathomas

[2020-12-23 14:08] lathomas commented on #32546
@danbarto  can you take look?

[2020-12-24 14:36] fwyzard opened #32582 "Build CMSSW_11_2_0_Patatrack"

[2020-12-24 14:37] cmsbuild commented on #32582
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-12-24 14:37] fwyzard commented on #32582
+1

[2020-12-24 14:37] cmsbuild commented on #32582
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-12-24 14:37] cmsbuild commented on #32582
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I w

[2020-12-24 14:38] cmsbuild commented on #32582
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2831/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-24 14:39] cmsbuild commented on #32582
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2833/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-24 14:39] cmsbuild commented on #32582
The build has started for slc7_amd64_gcc900 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2834/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-24 14:39] cmsbuild commented on #32582
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2832/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-24 17:16] cmsbuild commented on #32582
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-slc7_aarch64_gcc9/2831
Som

[2020-12-24 17:48] cmsbuild commented on #32582
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-slc7_amd64_gcc900/2834
Som

[2020-12-24 18:12] cmsbuild commented on #32582
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-slc7_aarch64_gcc9/2831

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-24 18:20] cmsbuild commented on #32582
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-cc8_amd64_gcc9/2832
Some test

[2020-12-24 18:26] cmsbuild commented on #32582
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-slc7_amd64_gcc900/2834

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-24 19:00] cmsbuild commented on #32582
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-cc8_amd64_gcc9/2832

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-24 19:23] fwyzard commented on #32582
upload all

[2020-12-24 19:24] cmsbuild commented on #32582
Queing Jenkins upload for cc8_amd64_gcc9

[2020-12-24 19:24] cmsbuild commented on #32582
Queing Jenkins upload for slc7_aarch64_gcc9

[2020-12-24 19:24] cmsbuild commented on #32582
Queing Jenkins upload for slc7_amd64_gcc900

[2020-12-24 19:25] cmsbuild commented on #32582
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1796/console

[2020-12-24 19:26] cmsbuild commented on #32582
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_Patatrack-cc8_amd64_gcc9/1796

[2020-12-24 19:26] cmsbuild commented on #32582
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1797/console

[2020-12-24 19:27] cmsbuild commented on #32582
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_Patatrack-slc7_aarch64_gcc9/1797

[2020-12-24 19:28] cmsbuild commented on #32582
The upload has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1798/console

[2020-12-24 19:30] cmsbuild commented on #32582
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_Patatrack-slc7_amd64_gcc900/1798

[2020-12-24 21:52] cmsbuild commented on #32582
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-slc7_amd64_gcc820/2833

[2020-12-24 22:21] cmsbuild commented on #32582
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2835/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-25 00:25] fwyzard commented on #32582
Not sure whey the `slc7_amd64_gcc820` build failed - on the other hand, from the logs it looks like it was using gcc 9.3.0 ...

[2020-12-25 00:27] fwyzard opened #32585 "Build CMSSW_11_3_0_pre1_Patatrack"

[2020-12-25 00:27] cmsbuild commented on #32585
You are not authorized to request the build of a release.

[2020-12-25 01:19] cmsbuild commented on #32582
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-slc7_ppc64le_gcc9/2835
Som

[2020-12-25 01:19] cmsbuild commented on #32582
Queing Jenkins upload for slc7_ppc64le_gcc9

[2020-12-25 01:21] cmsbuild commented on #32582
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1799/console

[2020-12-25 01:21] cmsbuild commented on #32582
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_Patatrack-slc7_ppc64le_gcc9/1799

[2020-12-25 02:11] cmsbuild commented on #32582
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_Patatrack-slc7_ppc64le_gcc9/2835

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-25 21:39] #32585 closed

[2020-12-25 21:39] #32582 closed

[2020-12-25 21:43] fwyzard commented on #32480
### Add references for magic numbers

`RecoLocalCalo/EcalRecProducers/plugins/EcalMultifitParametersGPUESProducer.cc` uses variois hard-coded numbers without a clear explanation of their origin.
They appear to be reused in the same way in
[code]

The original CPU code should be updated (for example, moving those numbers to a central place and adding comments to explain their source) and the GPU co

[2020-12-30 17:26] dan131riley commented on #32497
submitted https://gcc.gnu.org/bugzilla/show_bug.cgi?id=98481

[2020-12-30 18:05] slava77 opened #32592 "update 2021 relval matrix with existing input samples"
For appropriate coverage of Run-3 developments it is important to have a reference set of workflows with existing GEN-SIM inputs.

This is somewhat related to  #32543, but expands beyond it to make a more complete set.

As a reference I propose to use the 2018 set (with an update to 14TeV).
The following are already available in the default setup:
| workflow | index for 2021 |
| --- | --- |
| RelV

[2020-12-30 18:05] slava77 commented on #32592
assign pdmv

[2020-12-30 18:05] cmsbuild commented on #32592
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-30 18:05] cmsbuild commented on #32592
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-03 13:29] qliphy commented on #32475
assign upgrade

[2021-01-03 13:30] cmsbuild commented on #32475
New categories assigned: upgrade

@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-04 14:25] slava77 commented on #32356
@jan-kaspar
are we in a position to re-enable the PPS proton reco, or is there still some work in progress?

[2021-01-04 14:29] fwyzard opened #32596 "incorrect process history id in RunAuxiliary and LuminosityBlockAuxiliary ?"

[2021-01-04 14:29] cmsbuild commented on #32596
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-04 14:38] fwyzard commented on #32596
assign core

[2021-01-04 14:38] cmsbuild commented on #32596
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-04 14:42] fwyzard commented on #32596
Please find attached a C++ module and a python configuration to reproduce the issue:
  - [HistoryAnalyzer.cc](https://github.com/cms-sw/cmssw/files/5765215/HistoryAnalyzer.cc.txt)
  - [testHistoryAnalyzer.py](https://github.com/cms-sw/cmssw/files/5765216/testHistoryAnalyzer.py.txt)

[2021-01-04 15:49] makortel opened #32597 "TBB warning on 0 workers when running ExternalWork on a single thread"
In comments of https://github.com/cms-sw/cmssw/pull/31721 (https://github.com/cms-sw/cmssw/pull/31721#issuecomment-752806555, https://github.com/cms-sw/cmssw/pull/31721#issuecomment-752905568) it is reported that in a single-threaded job that uses an ExternalWork TBB gives a warning
[code]
We should understand the exact meaning of this warning.

[2021-01-04 15:49] makortel commented on #32597
assign core

[2021-01-04 15:49] cmsbuild commented on #32597
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-04 15:49] cmsbuild commented on #32597
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-04 15:54] makortel commented on #32597
Could the change from `tbb::task_scheduler_init` to `tbb::global_control` + explicit `tbb::task_arena` (https://github.com/cms-sw/cmssw/pull/31313)  have caused this?

[2021-01-04 15:58] makortel commented on #32597
If the message really means that `tbb::task_arena::enqueue()` no longer creates an additional thread, this is actually the behavior we'd want. In that case it would be nice to be able to suppress the warning.

[2021-01-04 16:11] jan-kaspar commented on #32356
Thanks for brining this up!

I might not be the best person to ask. I am also adding @fabferro .

From the perspective of the PPS reco SW, I don't see a problem to go ahead.

As far as I remember, the PPS reco was disabled due to the problem https://github.com/cms-sw/cmssw/issues/32340 - this appears in a (full) simu WF. @mundim is reponsible for PPS simu SW and he may know better. Also @clemencia

[2021-01-04 16:34] makortel commented on #32597
The warning is emitted here
https://github.com/oneapi-src/oneTBB/blob/d86ed7fbaaa33f1ab6f9ac2037776a1e6c16851a/src/tbb/market.cpp#L103-L106
and https://github.com/oneapi-src/oneTBB/issues/115 makes me believe that the explicit use of `tbb::task_arena` plays a role in the warning.

[2021-01-04 20:01] makortel commented on #32596
I **believe** the `ProcessHistoryID` of the Auxiliary object gets updated for the "input + current" (when the job produces any products) for Events in
https://github.com/cms-sw/cmssw/blob/b1eb848eea0229b53887019d5c2953a289d68890/FWCore/Framework/src/EventPrincipal.cc#L127
whereas for Lumis and Runs it is done in
https://github.com/cms-sw/cmssw/blob/b1eb848eea0229b53887019d5c2953a289d68890/IOPool/O

[2021-01-04 20:50] makortel commented on #32596
@fwyzard Could you give some background for the question? Is this only a source of confusion, or do you have a use case that would require a change in behavior?

[2021-01-04 20:57] dan131riley commented on #32596
The EventAuxiliary branch can be fast-cloned, so it would seem that updating it would create an inconsistency between the fast-cloning vs updating cases.  Therefore, I would have guessed at the opposite of the behavior @fwyzard observes.

I'd also like to understand the use case, since I'm contemplating some changes to the handling of the EventAuxiliary branch (should reactivate #30949).

[2021-01-04 23:02] fwyzard commented on #32596
@makortel from a quick glance at the code, I think that what is missing for Run and Lumis is actually the equivalent of https://github.com/cms-sw/cmssw/blob/b1eb848eea0229b53887019d5c2953a289d68890/FWCore/Framework/src/EventPrincipal.cc#L127 as you pointed out, but that the missing code should actually go somewhere in https://github.com/cms-sw/cmssw/blob/b1eb848eea0229b53887019d5c2953a289d68890/FW

[2021-01-05 00:24] makortel commented on #32596
@fwyzard Indeed, but there is some code assuming that the Auxiliary objects of `LuminosityBlockPrincipal` and `RunPrincipal` have the `ProcessHistoryID` of the input, e.g.
https://github.com/cms-sw/cmssw/blob/64f0ebcc9683d5c5bfbae09e9832aa07c5c44d21/FWCore/Framework/src/EventProcessor.cc#L1610-L1613
and
https://github.com/cms-sw/cmssw/blob/64f0ebcc9683d5c5bfbae09e9832aa07c5c44d21/FWCore/Framework/

[2021-01-05 13:48] dan131riley commented on #32492
PixelCPEClusterRepair is also causing ASAN crashes.  As @makortel noted, it follows the same pattern.  I'll make a PR for it later today unless someone else is already working on it.

[2021-01-05 14:04] makortel commented on #32492
@dan131riley The piece of `PixelCPEClusterRepair` using `SiPixelTemplateStore` is already addressed in #32494.

[2021-01-05 14:09] Dr15Jones commented on #32492
My fix has not been merged so the problem it is meant to address is still happening.

[2021-01-05 22:06] #32416 closed

[2021-01-06 01:33] mrodozov commented on #32141
 I built with -O0 (runs) and -O1 (fails) to see the flags difference and it's only -flto for 0 and -fno-lto for 1.
 Using the LTO somehow helps and the tests run. I tried adding only -flto to USER_CXXFLAGS but somehow the -fno-lto always gets last.
 

[2021-01-06 04:33] chayanit commented on #32592
Hello @slava77 , I'm trying to understand your request. Do you need to have GEN-SIM produced for the samples you listed? Do I need to update any part of the code?

[2021-01-06 14:44] makortel commented on #30359
We have not seen any of these problems for a while now, so maybe we could close the issue? @smuzaffar @Dr15Jones would you agree?

[2021-01-06 14:46] makortel commented on #32497
@dan131riley Given the (already merged) workaround #32528, is it still beneficial to keep this issue open or could we close it?

[2021-01-06 14:49] smuzaffar commented on #30359
yes agree

[2021-01-06 14:50] makortel commented on #30359
+1

[2021-01-06 14:50] Dr15Jones commented on #30359
I’m fine with closing it.

[2021-01-06 14:50] cmsbuild commented on #30359
This issue is fully signed and ready to be closed.

[2021-01-06 14:53] #30359 closed

[2021-01-06 14:55] makortel commented on #32153
We haven't seen this error for a while, so I'll close the issue.

[2021-01-06 14:55] makortel commented on #32153
+1

[2021-01-06 14:55] #32153 closed

[2021-01-06 14:55] cmsbuild commented on #32153
This issue is fully signed and ready to be closed.

[2021-01-06 14:59] dan131riley commented on #32497
We have a workaround and an open bug report with the gcc developers, so there's no need to keep this ticket open.

[2021-01-06 14:59] #32497 closed

[2021-01-06 14:59] makortel commented on #32065
Seems that #32117 fixed (or worked around) the problem, so I think we can close the issue.

[2021-01-06 14:59] makortel commented on #32065
+1

[2021-01-06 14:59] cmsbuild commented on #32065
This issue is fully signed and ready to be closed.

[2021-01-06 15:00] makortel commented on #32497
+1

[2021-01-06 15:01] cmsbuild commented on #32497
This issue is fully signed and ready to be closed.

[2021-01-06 15:34] makortel commented on #31426
+1

I think the `core` part was addressed by making the timeout configurable in https://github.com/cms-sw/cmssw/pull/31441

[2021-01-06 15:48] makortel commented on #32596
@dan131riley

What are the conditions when `EventAuxiliary` can be fast-cloned?

[2021-01-06 15:53] fwyzard commented on #32596
Also, why would we keep unchanged the `EventAuxiliary` for runs and lumis, but change it for events ?

[2021-01-06 16:45] makortel commented on #32596
I wondered that myself as well, and digging from the history it was added in https://github.com/cms-sw/cmssw/commit/ca5d4be379ad6a03cc728246e254ecff466e829d, which unfortunately does not really help.

I went through all calls to `EventAuxiliary::processHistoryID()` that were found by DXR, and I did not see any calls that would use the `EventAuxiliary` from `EventPrincipal` or from `Event` (but I m

[2021-01-06 17:03] dan131riley commented on #32596
@makortel I was misremembering, currently fast cloning of auxiliary branches is always disabled.

[2021-01-06 17:05] makortel commented on #32596
SubProcess appears to follow the same pattern, i.e. updating the `EventAuxiliary`'s `ProcessHistoryID` before processing the event
https://github.com/cms-sw/cmssw/blob/40a52b912a834426e72ec8a38eed66938450e55a/FWCore/Framework/src/SubProcess.cc#L406-L410
https://github.com/cms-sw/cmssw/blob/40a52b912a834426e72ec8a38eed66938450e55a/FWCore/Framework/src/SubProcess.cc#L423-L425

[2021-01-06 17:16] Dr15Jones commented on #31457
I reviewed all uses of `Event::getProvenance` in CMSSW. My notes can be found here:
https://docs.google.com/document/d/1dkKGYSkJLdM_t-lg_jneeW3x5IuZW4rYb702IBINXQk/edit?usp=sharing

Upshot is I only found one instance where calling `Event::getProvenance` could cause an unscheduled module to run. That was in `EventContentAnalyzer` which only cases about the provenance to check to see if a branch is

[2021-01-06 17:31] Dr15Jones commented on #31457
I have a correction about `EventContentAnalyzer`, it can also print out the `edm::ParentageID`.

[2021-01-06 17:39] wddgit commented on #31457
I have not thought about this carefully, but is there some other way EventContentAnalyzer can get the same information? For example, an output module with a "keep*" manages to get all the products. Could this work the same way?

[2021-01-06 18:12] Dr15Jones commented on #31457
I was thinking just having the ParentageID printed isn't very useful anyway so I would be all for dropping that particular ability of EventContentAnalyzer to avoid the possible race condition.

[2021-01-06 19:26] wddgit commented on #31457
Seems reasonable to me.

[2021-01-06 23:57] #32065 closed

[2021-01-07 09:44] silviodonato commented on #32428
@makortel @smuzaffar with #32547 I created `-w gpu` option in `runTheMatrix.py`. At the moment, `gpu` matrix is included in the standard matrix. We need two things

- IB tests: run the `gpu` workflows using GPU enabled
- PR tests: preserve the possibility to run the `gpu` workflows

I think we need to update jenkins to run specific matrix (eg. `gpu` and `update`) and then to remove `gpu` matrix fr

[2021-01-07 11:09] silviodonato commented on #32592
@chayanit I think @slava77 meant to both produce the missing GEN-SIM and then add the corresponding relvals in https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_2017.py#L16-L42

For example, we have workflows for SingleMu1000 in 2017 (10009.0) and in 2018 (10809.0), but we don't have the corresponding workflows for 2021. We should add the missing workflow.

[2021-01-07 11:11] smuzaffar commented on #32428
@silviodonato , I am working on improving GPU PR tests. Currently when we enable GPU tests then bot runs two jobs
1. Run standard PR tests (compilation of externals cmssw and run unit tests, addon tests and relvals )
2. Run special PR tests ( compilation of externals, cmssw and run gpu relvals)

https://github.com/cms-sw/cms-bot/pull/1459 should allow to run GPU tests as a additional test within t

[2021-01-07 11:12] silviodonato commented on #32543
This issue is now "merged" with #32592. However, I keep this issue open as a reminder to move from `TTbar_14TeV` to `QCD_Pt_3000_3500_14` as soon as #32592 is done (see #32548 for more details).

[2021-01-07 13:16] slava77 commented on #32592
@silviodonato responded for me above.
Thank you.

[2021-01-08 08:40] jpata commented on #32567
@toruonu expressed interest in this, cc-ig

[2021-01-08 10:34] silviodonato commented on #31896
The crash has been solved by  #32503 (I tested https://github.com/cms-sw/cmssw/issues/31896#issuecomment-734440860 in CMSSW_11_3_ASAN_X_2021-01-06-2300)

[2021-01-08 10:34] #31896 closed

[2021-01-08 10:41] smuzaffar commented on #32428
@silviodonato , for IBs tests, the easiest solution is to create a new IB queue e.g. GPU_X and run its tests of a GPU now. This will use the existing build and reporting system and results will be available via usual IB pages. Last night I ran a test GPU_X IB and you can already see the results here

https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_3_X
unit test: https://cmssdt.cern.ch/SDT/

[2021-01-08 11:09] silviodonato commented on #32428
Thanks @smuzaffar, it looks perfect to me.
About PR tests, I see from https://github.com/cms-sw/cmssw/pull/31719#issuecomment-756691935 that the workflows used as GPU tests are defined here https://github.com/cms-sw/cms-bot/blob/master/cmssw-pr-test-config#L2 .

Can I remove `-w gpu` from the standard matrix in order to remove the failing workflows from the IB tests? Does this break anything?

[2021-01-08 13:33] smuzaffar commented on #32428
Looks like all the tests under  https://github.com/cms-sw/cms-bot/blob/master/cmssw-pr-test-config#L2 do not belong to `-w gpu`. e.g if I set `gpu` to `False` here https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/MatrixReader.py#L82 then runTheMatrix failed to find the workflow we run for GPU PR tests
[code]

Before dropping gpu from standard, we need to underst

[2021-01-08 16:30] dan131riley commented on #31123
I'm not having any success replicating the TFormula crashes.  Last year I ran a wf in a loop in gdb overnight with no failures, figured it was probably one of those heisenbugs that go away in gdb.  Wrote a simple test program to stress multithreaded TFormula, copying `PFRecoTauDiscriminationByIsolationContainer` which has a formula that is simply a constant; no crashes.  So now I'm running wf 4.43

[2021-01-11 08:49] smuzaffar commented on #32428
@fwyzard , currently the PR tests for GPU runs  https://github.com/cms-sw/cms-bot/blob/master/cmssw-pr-test-config#L2 workflows. Which are combination of `-w gpu` and `-w standard` ( see https://github.com/cms-sw/cmssw/issues/32428#issuecomment-756757550 ) . Can we update this list to only run few of `-w gpu` tests only? Once we have this then we can disable `gpu` for default runTheMatrix

[2021-01-11 09:02] jpata commented on #32480
Taking note of a few more specific todos:
- `EventFilter/EcalRawToDigi/plugins/EcalRawToDigiGPU.cc`: esConsumes and constants
- `RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitBuilderKernels.cu`: very long function, many short variable names with a long lifetime (t_i, t_f, t1, t2 etc), several unaddressed TODO comments in the code like "how the heck is this possible", "Please clean up the code,

[2021-01-11 09:06] smuzaffar commented on #31878
bot currently only running GPU based relvals for PRs, In future I will also enable running of unit tests too

[2021-01-11 09:33] fwyzard commented on #32428
@smuzaffar , the GPU workflows are only those from the `-w gpu` option.
The .501 and .511 are meant to give the same results as the GPU workflows .502 and .512, while running on the CPU.

So I think we can keep the .5?1 workflows in the standard tests, and run only the .5?2 in the GPU tests.

[2021-01-11 09:53] chayanit commented on #32592
Hello @slava77, @silviodonato I have submitted all missing GEN-SIM you listed above and the one mentioned in #32543. To add the corresponding relvals in https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_2017.py#L16-L42, you mean in 11_2_X? I have never done the backport yet. Could someone show me how? Thanks!

[2021-01-11 10:46] smuzaffar commented on #32428
@fwyzard , https://github.com/cms-sw/cms-bot/pull/1463 should run `.5?2` for GPU tests now. About the `.5?1` cpu tests, what should we do? Should we always run them as part of normal PR relval tests ( this might increase the PR tests time a bit)? OR do we want to run an additional `relval/cpu` if `gpu` tests are enable?

[2021-01-11 11:25] fwyzard commented on #32428
Eventually we should have a single GPU workflow, and a single CPU-equivalent workflow, and I think we should run both of them for all PRs that potentially affect those workflows (i.e. probably all PRs that affect ECAL, HCAL, Pixel, Tracking, PF - so a good fraction of those that require a RECO signature).

O&C has decided that changes to the GPU reconstruction are signed only by @cms-sw/reconstruc

[2021-01-11 13:20] slava77 commented on #32592
Thank you.
Which release was used to make these?

I meant the master branch; I did not really imply a backport.

[2021-01-11 13:47] slava77 commented on #32428
IIRC the workflow definitions are not signed by reco either, it's in PDMV hands.

For the short matrix it's probably more practical to add a data workflow which does not also rerun the HLT, since none of the GPU-related reco relies on it; this is mainly for time/cost optimization of the workflow.

[2021-01-11 14:17] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/32622#issuecomment-757080126 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2021-01-11 14:26] chayanit commented on #32592
I produced them with 11_2_0_pre8 to be compatible with the string I put here https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_steps.py#L3227

Ok then I will add to master and trigger the test as soon as GENSIM becomes available.

[2021-01-11 14:53] slava77 commented on #32592
ah, good.
So, this indeed opens a more direct possibility of making a backport to 11_2_X.
I guess we can give it a try after the 11_3_X variant is in and working happily.

[2021-01-11 14:58] makortel opened #32628 "Non-reproducibility in DeepTau in 1325.81"
Shows up in reco comparison of 1325.81 for `nanoaodFlatTable_tauTable__DQM_obj_floats__rawDeepTau2017v2p1VSmu`
![image](https://user-images.githubusercontent.com/33993/104194071-770f3180-53e6-11eb-86de-8cd144ba011b.png)

Noticed first in https://github.com/cms-sw/cms-bot/pull/1456#issuecomment-750900565

[2021-01-11 14:58] cmsbuild commented on #32628
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-11 14:59] makortel commented on #32628
assign reconstruction, xpog

[2021-01-11 15:00] cmsbuild commented on #32628
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@perrotta,@jpata,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-11 15:02] slava77 commented on #32628
more recently in https://github.com/cms-sw/cmssw/pull/32622#issuecomment-757984277

[2021-01-11 15:23] slava77 commented on #32628
@swozniewski @mbluj

[2021-01-11 15:53] swozniewski commented on #32628
Clicking through your messages, the difference looks always the same (unless the image was copied). Do I understand correctly and does it fit your observations so far that if there is an irreproducibility, it has only two outcomes, i.e. the observed diff and the reference?

[2021-01-11 15:54] swozniewski commented on #32628
@kandrosov @lwezenbe fyi and in case you have any ideas spontaneously

[2021-01-11 16:00] makortel opened #32630 "SonicTriton fails to link in UBSAN builds"
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_11_3_UBSAN_X_2021-01-08-2300/HeterogeneousCore/SonicTriton

UBSAN build needs to link directly to the libraries that define the above mentioned types (because of it using `dynamic_cast`).

[2021-01-11 16:00] cmsbuild commented on #32630
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-11 16:00] makortel commented on #32630
assign core, heterogeneous

[2021-01-11 16:00] makortel commented on #32630
@kpedro88 Could you take a look?

[2021-01-11 16:00] cmsbuild commented on #32630
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@makortel,@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-11 16:07] smuzaffar commented on #31991
@silviodonato , @makortel as bot now runs tests in parallel (on different machines), do we want to run an additional relval test with   `-i all --command "-n 1" --maxStep=2` . It should not increase the PR test time as the normal Relval/comparison job takes 2 hours and running relvals with these selected options takes around 1 hour. So hopefully with enough resources, the new test can finish befor

[2021-01-11 16:57] silviodonato commented on #31991
@smuzaffar If you think this does not take too much resources, I'm ok with it. You might discuss about it tomorrow.
I'm a bit confused of the timing you quoted, 2 hours vs 1 hour.
I expected a larger difference between `-i all --command "-n 1" --maxStep=2` and `--command "-n 10"`

[2021-01-11 17:03] smuzaffar commented on #31991
For normal relval tests i.e. short matrix + some selected wf (around 40 wfs) , it takes 1 hour for runTheMatrix and 1 hour for comparison i.e. over all 2 hours. `-i all --command "-n 1" --maxStep=2`  for all the wfs with input dataset (total of 576 wfs) it just need 1 hour. As both tests will run in parallel so the overall PR tests should still finish within 2 to 2.5 hours

[2021-01-11 19:04] makortel commented on #32628
I believe we have so far saw the difference twice (cms-sw/cms-bot#1456 (comment) and https://github.com/cms-sw/cmssw/pull/32622#issuecomment-757984277), and indeed the difference looks the same in both (the images were not copied between the two PRs). It could be that there are only two possible outcomes, but with so few occurrences it is hard to say.

[2021-01-11 21:53] kpedro88 commented on #32630
If I run this command: `nm -C -D /cvmfs/cms.cern.ch/slc7_amd64_gcc900/external/triton-inference-server/2.3.0-ghbfee3/lib/libgrpcclient.so`

the only typeinfo lines are:
[code]

I'm not sure if or why RTTI would have been disabled when compiling Triton... I can't immediately find a setting that would be responsible for this.

[2021-01-11 22:51] slava77 commented on #32628
Looking at the logs for https://github.com/cms-sw/cmssw/pull/32622#issuecomment-757984277
`tensorflow/core/platform/cpu_feature_guard.cc...` message, which IIRC corresponds to an info about not full utilization of the CPU capabilities, has a difference:
- baseline `SSE4.1 SSE4.2 AVX AVX2 FMA`
- PR from https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-aa6c04/12037/summary.ht

[2021-01-11 23:18] dan131riley commented on #32497
gcc devs agreed it’s a bug, fix and regression test are now on the gcc trunk.

[2021-01-12 03:47] chayanit commented on #32543
@silviodonato missing GENSIM is produced FYI.
https://dmytro.web.cern.ch/dmytro/cmsprodmon/requests.php?campaign=CMSSW_11_2_0_pre8__GENSIM_2021_14TeV_forIBtest-1610357248

[2021-01-12 07:33] smuzaffar commented on #32628
@slava77 , both baseline and PR tests ran on cmsbuild machines
- PR from https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-aa6c04/12037/summary.html  was run on `cmsbuild77` and its baseline `CMSSW_11_3_X_2021-01-08-1100`  was run on `cmsbuild75` ( https://cmssdt.cern.ch/jenkins/job/ib-run-baseline/20134/ )
- Tests from https://github.com/cms-sw/cmssw/pull/32622#issuecomment

[2021-01-12 08:27] davidlange6 opened #32634 "CMSSW_11_2_0 dqm:@rerecoCommon requires sim information to run"
Running a reco job
cmsDriver.py step3  --conditions auto:phase1_2021_realistic -n -1 --era Run3 --eventcontent AODSIM,MINIAODSIM,DQM --runUnscheduled  -s RAW2DIGI,L1Reco,RECO,RECOSIM,EI,PAT,DQM:@rerecoCommon+@miniAODDQM --datatier AODSIM,MINIAODSIM,DQMIO  --geometry DB:Extended --
nThreads 8 --filein file:tt_digi_DIGI_DATAMIX_L1_DIGI2RAW_HLT.root  --fileout recostep.root --suffix "-j JobReport5.xm

[2021-01-12 08:28] cmsbuild commented on #32634
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-12 09:52] silviodonato commented on #32543
Thanks @chayanit I've made #32635

[2021-01-12 10:58] silviodonato commented on #31991
Ok, now I understand why it takes 1 hours (576 wfs vs 40 wfs).
This test would be very useful also to check the technical functioning of step-2 of many more workflows.

[2021-01-12 12:57] slava77 commented on #32628
It's odd, I thought that the warning message from TF was showing the flags present on the node where it's executed. The warning for 08-1100 set of tests showed that the PR test node did not have `AVX2 FMA`.  I'm not sure I understand how the TF build can affect anything, since it's supposedly the same in the PR and baseline cases with differences made using 08-1100.

[2021-01-12 13:59] makortel commented on #32634
assign dqm

[2021-01-12 14:00] cmsbuild commented on #32634
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-12 14:07] srimanob opened #32643 "Should we remove EventInterpretation step out from relval?"
Since 10_6 (Legacy), we stop using EI step in the production. Do we still need it in Run-2/Run-3 relvals workflows? I've checked with
- runTheMatrix.py -i all --ibeos -l 10801.0
- runTheMatrix.py -i all --ibeos -l 11650.0
and EI step is still there. This is to reflect the "close-to-"real sequence using in production.

[2021-01-12 14:07] cmsbuild commented on #32643
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-12 14:14] jfernan2 commented on #32634
@seungjin-yang @quark2 @hyunyong  as GEM DQM contacts, can you please have a look and provide a fix?

[2021-01-12 14:16] makortel commented on #32643
assign reconstruction, pdmv, upgrade

[2021-01-12 14:16] cmsbuild commented on #32643
New categories assigned: pdmv,upgrade,reconstruction

@slava77,@chayanit,@wajidalikhan,@perrotta,@jpata,@jordan-martins,@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-01-12 14:38] davidlange6 commented on #32643
At least some of the dqm sequences still require it.. (eg, @standardDQM)

[2021-01-12 14:40] makortel commented on #32643
assign dqm

[2021-01-12 14:41] cmsbuild commented on #32643
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks