[2017-10-09 13:59] cmsbuild commented on #20837
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_13-slc7_amd64_gcc530/911
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-09 13:59] cmsbuild commented on #20837
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-09 14:00] cmsbuild commented on #20837
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_13-slc7_amd64_gcc630/912
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-09 14:00] cmsbuild commented on #20837
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-09 14:01] cmsbuild commented on #20837
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_13-slc6_amd64_gcc630/910
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-09 14:01] cmsbuild commented on #20837
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-09 14:07] davidlange6 commented on #20837
release-notes

[2017-10-09 14:07] cmsbuild commented on #20837
Generating release notes since CMSSW_9_2_12_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-10-09 14:07] cmsbuild commented on #20837
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_13 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_12_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_13

Candidate for XeXe r

[2017-10-09 14:10] cmsbuild commented on #20837
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_13

[2017-10-09 14:12] cmsbuild commented on #20837
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_13-slc7_amd64_gcc530/1368

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-10-09 19:00] davidlange6 opened #20867 ""Showstoppers" for CMSSW_9_4_0_pre3 (and thus CMSSW_9_4_0) closing"
Please add your comments below.

- Need final understanding of DQM footprint for Tier0 (and rereco)
- [MERGED] ~~OMTF (#20859)~~
- [MERGED] ~~ BMTF (#20834)~~
- [MERGED] ~~TwinMux (#20832)~~
- Pixel premixing problems still to be debugged (likely related to introduction of dynamic inefficiency in 2017 detector configuration)
- ECAL ZS/SR plan (may not affect software, but may have big impact on sc

[2017-10-09 19:00] cmsbuild commented on #20867
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-10 06:42] Martin-Grunewald commented on #20867
We (TSG) would like L1T v4 and HLT v4 to be used for the v2 MC production. The v4 menus require a set of new GTs (as the L1T menu is part of the GT) and a HLT PR with the HLT v4 menu dump.

[2017-10-10 06:43] Martin-Grunewald commented on #20867
assign hlt

[2017-10-10 06:43] cmsbuild commented on #20867
New categories assigned: hlt

@Martin-Grunewald,@silviodonato,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-10 11:47] Martin-Grunewald commented on #20867
To use V4 (L1T/HLT):
The HLT V4.0 PRs are available as #20872 (94X) and #20873 (92X).
Still to do (needs to be done together in a PR):
* update the L1T menu to V4 in 94X and 92X GTs (request sent to AlCa)
* switch relvals to use V4 L1T + V4 HLT ( one-line change in Configuration/HLT/python/autoHLT.py)

[2017-10-11 10:20] makortel commented on #20703
Addressed in #20891.

[2017-10-11 12:08] cmsbuild commented on #20837
The cleanup has started for slc6_amd64_gcc530

[2017-10-11 12:08] cmsbuild commented on #20837
The cleanup has started for slc6_amd64_gcc630

[2017-10-11 12:08] cmsbuild commented on #20837
The cleanup has started for slc7_amd64_gcc530

[2017-10-11 12:08] cmsbuild commented on #20837
The cleanup has started for slc7_amd64_gcc630

[2017-10-11 12:08] #20837 closed

[2017-10-11 12:09] cmsbuild commented on #20837
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_13-slc6_amd64_gcc530/812

[2017-10-11 12:17] cmsbuild commented on #20837
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_13-slc7_amd64_gcc630/815

[2017-10-11 12:18] cmsbuild commented on #20837
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_13-slc6_amd64_gcc630/813

[2017-10-11 12:18] cmsbuild commented on #20837
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_13-slc7_amd64_gcc530/814

[2017-10-12 06:39] Martin-Grunewald commented on #20867
A problem has been found online with the L1T menu v4, both in its
original incarnation and in its slimmed version (the latter asked
for inclusion into the GTs) - it leads to crashes of the HLT.

Given that the problem is not understood and it is unclear whether
it is the firmware or also affecting the xml file (the latter is
used for the GTs), TSG coordination decided to stay with the current
V3 s

[2017-10-12 16:07] slava77 commented on #20867
From reco:

More critical (affects products in RECO)
- Disabling high pt trained regression except for saturated E/gammas #20771
    - it should converge today/tomorrow

Possibly critical (affects products in RECO)
- Fix negative error cases [in pixel local reco] #20904
    - "not a showstopper" according to https://github.com/cms-sw/cmssw/pull/20904#issuecomment-336181616. Comparisons show some c

[2017-10-12 22:03] crovelli commented on #20867
Dear all, in ECAL we are checking the value of one parameter entering the sim to digi step,
https://github.com/cms-sw/cmssw/blob/master/SimCalorimetry/EcalSimProducers/python/ecalNotContainmentSim_cff.py
It may have slightly changed due to the recent changes in the simulated geometry.
Things should converge by Friday, but this is to alert you.  Thanks and sorry for the very short notice - ECAL DPG

[2017-10-13 11:27] Martin-Grunewald commented on #20867
TSG request for pre3:  #20872 (94X).

[2017-10-13 11:28] davidlange6 commented on #20867
#20872 is not a showstopper as it won't be used. (but of course if it gets integrated that will be great)

[2017-10-13 11:46] davidlange6 opened #20915 "POG approved photon id log warnings"
can these selectors be either disabled or POG approved?

%MSG
%MSG-w IdInformation:  VersionedPhotonIdProducer:egmPhotonIDs@ctor  13-Oct-2017 13:39:53 CEST pre-events
Instantiated ID: cutBasedPhotonID-Spring16-V2p2-loose
with MD5 hash: d6ce6a4f3476294bf0a3261e00170daf
This ID is not POG approved and likely under development!!!
Please make sure to report your progress with this ID at the next relev

[2017-10-13 11:47] davidlange6 commented on #20915
assign reconstruction

[2017-10-13 11:47] davidlange6 commented on #20915
assign analysis

[2017-10-13 11:47] cmsbuild commented on #20915
New categories assigned: analysis,reconstruction

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-13 11:47] cmsbuild commented on #20915
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-13 13:23] slava77 commented on #20915
@davidlange6 please clarify which release and workflow (and also the machine) where this was observed (in the past there was an instance where these warnings were dependent on local node setup)

@Sam-Harper @lgray
please take a look

this may be a duplicate of
https://github.com/cms-sw/cmssw/issues/19799

[2017-10-13 13:24] slava77 commented on #20915
@davidlange6
please edit the issue title "pop" -> "POG" and perhaps add that there is a logWarning

[2017-10-13 13:30] davidlange6 commented on #20915
this was 9_2_13 workflow 148.0 that I happened to be looking at.

[2017-10-13 13:34] Sam-Harper commented on #20915
Yes I dont think we backported https://github.com/cms-sw/cmssw/issues/19799, would you like us to?

[2017-10-13 13:35] slava77 commented on #20915
+1

since it's fixed in 93X (since July), I think it's fine as is, no backports necessary.

[2017-10-13 13:39] davidlange6 commented on #20915
i agree - thanks for the instant followup.

[2017-10-16 06:49] #20915 closed

[2017-10-16 07:14] arunhep commented on #20867
Two PRs from AlCa/DB side needed for pre3 :

1. https://github.com/cms-sw/cmssw/pull/20922 : Important for V2 MC production. This contains Pixel local reco conditions for V2 MC. Tracker alignment group will use pre3 relvals to produce misalignment scenario.

2. https://github.com/cms-sw/cmssw/pull/20651
in pre-release so that further developments can be done as this will eventually become a PCL wo

[2017-10-16 12:31] arunhep commented on #20867
assign alca

[2017-10-16 12:31] cmsbuild commented on #20867
New categories assigned: alca

@cerminar,@arunhep,@franzoni,@lpernie,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-17 08:34] davidlange6 opened #20933 "Build CMSSW_9_3_3"

[2017-10-17 08:35] cmsbuild commented on #20933
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-17 08:35] davidlange6 commented on #20933
+1

[2017-10-17 08:38] cmsbuild commented on #20933
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2017-10-17 08:38] cmsbuild commented on #20933
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2017-10-17 08:39] cmsbuild commented on #20933
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1370/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-17 08:39] cmsbuild commented on #20933
The build has started for slc6_amd64_gcc700 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1371/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-17 08:40] cmsbuild commented on #20933
The build has started for slc7_amd64_gcc630 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1372/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-17 09:21] cmsbuild commented on #20933
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1373/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-17 11:22] cmsbuild commented on #20933
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_3-slc6_amd64_gcc630/1370
Some tests ( r

[2017-10-17 11:57] cmsbuild commented on #20933
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_3-slc6_amd64_gcc700/1371
Some tests ( r

[2017-10-17 12:06] cmsbuild commented on #20933
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_3-slc7_amd64_gcc630/1372
Some tests ( r

[2017-10-17 12:16] cmsbuild commented on #20933
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_3-slc7_aarch64_gcc700/1373
Some tests

[2017-10-17 12:17] cmsbuild commented on #20933
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_3-slc6_amd64_gcc630/1370

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-17 12:50] cmsbuild commented on #20933
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_3-slc6_amd64_gcc700/1371

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-17 13:07] cmsbuild commented on #20933
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_3-slc7_amd64_gcc630/1372

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-17 13:10] davidlange6 commented on #20933
upload all

[2017-10-17 13:10] cmsbuild commented on #20933
Queing Jenkins upload for slc6_amd64_gcc630

[2017-10-17 13:10] cmsbuild commented on #20933
Queing Jenkins upload for slc6_amd64_gcc700

[2017-10-17 13:10] cmsbuild commented on #20933
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-10-17 13:10] cmsbuild commented on #20933
Queing Jenkins upload for slc7_amd64_gcc630

[2017-10-17 13:12] cmsbuild commented on #20933
The upload has started for slc6_amd64_gcc700 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/914/console

[2017-10-17 13:12] cmsbuild commented on #20933
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/913/console

[2017-10-17 13:12] cmsbuild commented on #20933
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/915/console

[2017-10-17 13:12] cmsbuild commented on #20933
The upload has started for slc7_amd64_gcc630 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/916/console

[2017-10-17 13:12] cmsbuild commented on #20933
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_3-slc7_aarch64_gcc700/915
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-17 13:13] cmsbuild commented on #20933
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_3-slc6_amd64_gcc630/913
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-17 13:13] cmsbuild commented on #20933
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_3-slc6_amd64_gcc700/914
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-17 13:13] cmsbuild commented on #20933
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-17 13:13] cmsbuild commented on #20933
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-17 13:17] cmsbuild commented on #20933
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_3-slc7_amd64_gcc630/916
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-17 13:17] cmsbuild commented on #20933
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-17 13:47] VinInn commented on #19805
we need to verify if #20904 fixes this as well

[2017-10-17 13:49] VinInn commented on #19940
addressed in #20938

[2017-10-17 14:19] cmsbuild commented on #20933
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_3-slc7_aarch64_gcc700/1373

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-17 14:58] davidlange6 commented on #20933
release-notes

[2017-10-17 14:58] cmsbuild commented on #20933
Generating release notes since CMSSW_9_3_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-10-17 14:58] cmsbuild commented on #20933
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_3

Cheers,
cms-bot

You can also click <a href="mai

[2017-10-17 15:00] cmsbuild commented on #20933
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_3

[2017-10-17 16:49] perrotta commented on #19805
@VinInn : I quickly run the same

[2017-10-17 16:52] perrotta commented on #19805
@VinInn : I quickly run the same 136.783 workflow which shows that warning at step3 for event 90 (Run 297557, Event 109105292, LumiSection 74), see
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_aarch64_gcc700/CMSSW_9_4_X_2017-10-15-0000/pyRelValMatrixLogs/run/136.783_RunJetHT2017B+RunJetHT2017B+HLTDR2_2017+RECODR2_2017reHLT_skimJetHT_Prompt+HARVEST2017/step3_RunJetHT2017B+RunJetHT2017B+HLTDR2_

[2017-10-17 17:30] VinInn commented on #19805
a cure for all pains...

[2017-10-17 18:15] slava77 commented on #20867
New "showstopper" for reco category:
- Introducing "Inactive" inner/outer hits... (#20938)
    - Due to the "unexpected" increase in inactive ROCs we need a clear estimate of REAL tracking efficiency to answer questions such as "how many tracks do not have a BPIX1 hit?" w/o this PR such a question will be much harder to answer.

[2017-10-18 05:26] slava77 commented on #20558
assign upgrade

In PU200 phase-2 workflows the nb[12] modules take time similar to the total reco time.
In my test of 100 events the average from the 4 modules is 100 s/event excluding one outlier event and including that event the average goes up to 340 s/event (that single event took 6 hours). Even without the outlier this is more than the totality of tracking.

"luckily" enough the #19601 didn'

[2017-10-18 05:26] cmsbuild commented on #20558
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-18 05:29] slava77 commented on #20558
BTW, I already disabled these in pp_on_XeXe

[2017-10-18 09:00] perrotta opened #20950 "Check and fix the code in RecoLocalTracker/SiPixelRecHits/src/SiPixelTemplate.cc"
While reviewing PR #20904 the output of the static analyzer pointed out some bad coding in the file in object; such a bad coding may likely reflect some possible bug hidden in the code itself, and it is therefore necessary to inspect and address them.

Items spotted by the static analyzer, or revealed by a visual inspection of the code, are the following:
- Dead assignment of "cotb" in lines https

[2017-10-18 09:00] perrotta commented on #20950
assign reconstruction

[2017-10-18 09:00] cmsbuild commented on #20950
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-18 09:00] cmsbuild commented on #20950
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-18 12:47] perrotta commented on #20950
@pmaksim1

[2017-10-18 14:39] kpedro88 commented on #20558
@slava77 thanks for checking this. This seems to fall into the general category of my complaints that fastjet is too slow. I'll try to find some time to look at the code in case there are any obvious optimizations.

Can you run igprof pp?

[2017-10-18 14:48] rappoccio commented on #20558
For now we will have to disable it. I will come up with some better solution ASAP.

[2017-10-18 14:55] slava77 commented on #20558
On 10/18/17 7:39 AM, Kevin Pedro wrote:

Sal ran the profiler and posted results earlier.
Perhaps a copy of that could be added here.
IIRC, almost all of the cost was in the external function calls.
I have not investigated is this can be reduced by passing data to the
external code or making calls in a slightly different way.

[2017-10-18 15:04] rappoccio commented on #20558
I think we are just running into the O(N^3)  nature of N3. I have contacted the authors to see if we can perhaps try some other methods (perhaps preclustering with some small R to reduce the number of inputs?)

[2017-10-18 15:48] kpedro88 commented on #20558
@rappoccio I see they're using caching of the input factors. However, it might be possible to do further caching to reduce repeated multiplications. I wrote a quick test program to print out all the computations done in the N3 loop:
[code]

You can see that the multiplication `energyStore[0] * ... * angleStore[1][0]` comes up more than once. This corresponds in general to `energyStore[k] * ... * a

[2017-10-18 15:52] kpedro88 commented on #20558
Also, I think `std::vector< std::vector<double> > angleStore;` is not the best for memory locality. One could try to make it a one-dimensional vector accessed by a function of the two-dimensional indices.

[2017-10-18 15:53] kpedro88 commented on #20558
(For reference, the earlier igprof report is here: https://github.com/cms-sw/cmssw/pull/19601#issuecomment-329796215, and the source code is here: https://fastjet.hepforge.org/trac/browser/contrib/contribs/EnergyCorrelator/trunk/EnergyCorrelator.cc#L106.)

[2017-10-18 16:01] rappoccio commented on #20558
Do you think this will improve more than O(1)? It's probably okay, but I think somehow reducing N may be a good check. I will try to either calculate with only the first, say, 20 particles sorted by pt, or else we can precluster with some very small jet radius (although the former is probably better).

[2017-10-18 16:04] kpedro88 commented on #20558
In a triple-nested loop, reducing computation and improving memory locality can make a significant difference.

Reducing N will of course help, but I always try to improve code before making physics approximations...

[2017-10-18 16:16] rappoccio commented on #20558
Ok will have to look at it ASAP.

[2017-10-18 16:22] kpedro88 commented on #20558
A very quick and dirty test of precomputing `energyStore[k] * angleStore[j][k]` into a 2D vector `energyAngleProd` shows a 16% reduction in CPU usage with particle size 1000 (just generating random values for the energies and angles).

[2017-10-18 16:25] rappoccio commented on #20558
Ok we need factors of 100 or more though.

[2017-10-18 16:49] kpedro88 commented on #20558
The memory locality improvement reduces CPU usage by ~20%. Combined, both improvements reduce CPU usage by ~40%.

This is just in the single scenario I'm testing very quickly, so the absolute improvement may change depending on the number of particles. But I think a 40% increase is nothing to sneer at and would be appreciated by all users of this code, even if it isn't enough to solve the performa

[2017-10-18 16:57] slava77 commented on #20558
On 10/18/17 9:49 AM, Kevin Pedro wrote:

try also double -> float.
unless the code needs to add/subtract huge numbers with small ones.

[2017-10-18 17:01] kpedro88 commented on #20558
I was just thinking about that. The CPU reduction from double->float in this case only seems to be ~1-2%, though.

[2017-10-18 17:12] slava77 commented on #20558
On 10/18/17 10:01 AM, Kevin Pedro wrote:

strange
did your test change everything to floats?
if the rest of the math stays in double, there is an extra cost to do
double-float conversion

[2017-10-18 17:17] rappoccio commented on #20558
Oh, not saying we shouldn't do it, just that we need to keep digging ;)

[2017-10-18 20:13] kpedro88 commented on #20558
@slava77 I converted all the variables/values in the code from doubles to floats. It just doesn't seem to make much of a difference. Here's a Dropbox folder with my various test files and a script to run them: https://www.dropbox.com/sh/1t8kbflin9hmknl/AADW4HTdbNF8bd2zimCkap7Na?dl=0

[2017-10-18 20:17] rappoccio commented on #20558
The authors are also looking into this.

[2017-10-18 23:10] slava77 commented on #20703
There are still a few items left from review of #20151 :
- performance improvement in https://github.com/cms-sw/cmssw/pull/20151#discussion_r133424137 in RecoTracker/MeasurementDet/plugins/TkPixelMeasurementDet.cc
- a map instead of vector of vectors https://github.com/cms-sw/cmssw/pull/20151#discussion_r142120834 in RecoTracker/MeasurementDet/src/TkMeasurementDetSet.h

Are these in the POG or DPG

[2017-10-19 04:09] pmaksim1 commented on #20950
Morris Swartz (the author of the code), @ahinzmann and I discussed this in person and via email.  While I agree that the present code is atrocious (both messy and possibly confusing), it is correct in a sense that for collisions the cot\beta in the FPIX must always be positive.

So I presume the real issue is then to clean it up?   I have another small update (needed to run templates for Phase 2)

[2017-10-19 04:18] pmaksim1 commented on #20950
I'd also like to add that, even after the clean-up, indentation, and other beautification, the pixel template code is decidedly expert-only.   Its bus factor is just a teeny bit above one.   The biggest problem is the code that runs PIXELAV, none of which is in CMSSW.

[2017-10-19 06:52] perrotta commented on #20950
@pmaksim1 thank you for looking at it!
The biggest open issue was indeed to let a few expert eyes to verify that such a cose was actually doing what it was expected to, and your inspection and evaluation is therefore reassuring.
Then, also to avoid confusions and possible mistakes in the future, it also definitely needs to be cleaned up. It is perfectly fine to me if you do so in the PR you are pr

[2017-10-19 07:30] makortel commented on #20703
The time spent in TkPixelMeasurementDet::hasBadComponents() is insignificant (~0.02 % of `CkfTrackCandidateMakerBase::produceBase()` in run 300811), so we prefer to leave that as part of larger reorganization of the ROC position information.

For some reason the link doesn't go to the specific comment, but I presume you refer to `PxMeasurementDetSet::badFEDChannelPositionsSet_` (that was vector of

[2017-10-19 07:55] perrotta commented on #20950
By the way, in the meanwhile I already had ready a couple of trivial cleanings to RecoLocalTracker/SiPixelRecHits/src/PixelCPETemplateReco.cc which allow shoutting up a few warnings of the static analyzer and can save some CPU cycle at the same time.

They are in PR #20968 : if you have nothing in contrary I will sign that PR (as soon as jenkins tests finish) and ask for merging it in 94X. Of cour

[2017-10-19 13:10] slava77 commented on #20703
+1

Addressed in #20891.

@makortel thank you for the clarifications on other items

[2017-10-19 13:10] #20703 closed

[2017-10-19 13:11] cmsbuild commented on #20703
This issue is fully signed and ready to be closed.

[2017-10-19 13:32] arunhep commented on #20867
+1

[2017-10-19 16:08] cmsbuild commented on #20933
The cleanup has started for slc7_aarch64_gcc700

[2017-10-19 16:08] cmsbuild commented on #20933
The cleanup has started for slc6_amd64_gcc630

[2017-10-19 16:08] cmsbuild commented on #20933
The cleanup has started for slc7_amd64_gcc630

[2017-10-19 16:08] #20933 closed

[2017-10-19 16:09] cmsbuild commented on #20933
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_3-slc7_aarch64_gcc700/818

[2017-10-19 16:16] cmsbuild commented on #20933
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_3-slc7_amd64_gcc630/819

[2017-10-19 16:16] cmsbuild commented on #20933
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_3-slc6_amd64_gcc700/817

[2017-10-19 22:13] aperloff opened #20977 "FastjetJetProducer missing input candidate collection bad behavior in 94X"
Hello,

There seems to be a problem with FastjetJetProducer/VirtualJetProducer that cropped up between CMSSW 93X and 94X. In 93X when you used a MiniAOD file as input to produce the ak4PFJets as defined in [1] you get an error that says something about looking for PackedPFCandidates under the label "particleFlow." This is the expected behavior as the candidate collection for MiniAOD is called "pac

[2017-10-19 22:16] cmsbuild commented on #20977
A new Issue was created by  @aperloff Alexx Perloff.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-19 22:19] slava77 commented on #20977
assign reconstruction

@rappoccio @ahinzmann
please take a look

[2017-10-19 22:20] cmsbuild commented on #20977
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-20 07:43] ahinzmann commented on #20977
Maybe this if clause needs an "else through exception":
https://github.com/cms-sw/cmssw/blob/master/RecoJets/JetProducers/plugins/VirtualJetProducer.cc#L381

[2017-10-20 16:13] rappoccio commented on #20977
@ahinzmann that should work.

[2017-10-23 08:34] davidlange6 opened #20990 "Build CMSSW_9_0_4"

[2017-10-23 08:35] cmsbuild commented on #20990
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-23 08:35] davidlange6 commented on #20990
+1

[2017-10-23 08:35] cmsbuild commented on #20990
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-10-23 08:35] cmsbuild commented on #20990
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-10-23 08:36] cmsbuild commented on #20990
The build has started for slc6_amd64_gcc530 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1374/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-23 08:38] cmsbuild commented on #20990
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1376/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-23 08:38] cmsbuild commented on #20990
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1375/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-23 08:38] cmsbuild commented on #20990
The build has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1377/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-23 11:05] #20361 closed

[2017-10-23 11:05] Jangbae commented on #20361
Thanks you very much!

[2017-10-23 11:16] cmsbuild commented on #20990
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_4-slc6_amd64_gcc630/1375
Some tests ( r

[2017-10-23 12:30] cmsbuild commented on #20990
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_4-slc6_amd64_gcc630/1375

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-23 12:40] cmsbuild commented on #20990
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_4-slc7_amd64_gcc530/1376
Some tests ( r

[2017-10-23 13:08] cmsbuild commented on #20990
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_4-slc7_amd64_gcc630/1377
Some tests ( r

[2017-10-23 13:10] davidlange6 commented on #20990
upload all

[2017-10-23 13:10] cmsbuild commented on #20990
Queing Jenkins upload for slc6_amd64_gcc630

[2017-10-23 13:10] cmsbuild commented on #20990
Queing Jenkins upload for slc7_amd64_gcc530

[2017-10-23 13:10] cmsbuild commented on #20990
Queing Jenkins upload for slc7_amd64_gcc630

[2017-10-23 13:12] cmsbuild commented on #20990
The upload has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/917/console

[2017-10-23 13:13] cmsbuild commented on #20990
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/918/console

[2017-10-23 13:13] cmsbuild commented on #20990
The upload has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/919/console

[2017-10-23 13:14] cmsbuild commented on #20990
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_4-slc7_amd64_gcc530/918
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-23 13:14] cmsbuild commented on #20990
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-23 13:16] cmsbuild commented on #20990
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_4-slc6_amd64_gcc630/917
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-23 13:16] cmsbuild commented on #20990
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-23 13:17] cmsbuild commented on #20990
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_4-slc7_amd64_gcc630/919
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-23 13:17] cmsbuild commented on #20990
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-23 13:37] cmsbuild commented on #20990
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_4-slc7_amd64_gcc530/1376

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-23 13:43] davidlange6 commented on #20990
release-notes

[2017-10-23 13:44] cmsbuild commented on #20990
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-10-23 14:31] cmsbuild commented on #20990
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_4-slc7_amd64_gcc630/1377

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-23 15:12] cmsbuild commented on #20990
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_4-slc6_amd64_gcc530/1374
Some tests ( r

[2017-10-23 15:12] cmsbuild commented on #20990
Queing Jenkins upload for slc6_amd64_gcc530

[2017-10-23 15:15] cmsbuild commented on #20990
The upload has started for slc6_amd64_gcc530 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/920/console

[2017-10-23 15:17] cmsbuild commented on #20990
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_4-slc6_amd64_gcc530/920
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-23 15:17] cmsbuild commented on #20990
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-23 15:18] cmsbuild commented on #20990
Generating release notes since CMSSW_9_0_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-10-23 15:18] cmsbuild commented on #20990
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_0_4 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_0_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_4

Cheers,
cms-bot

You can also

[2017-10-23 15:19] cmsbuild commented on #20990
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_4

[2017-10-23 16:12] cmsbuild commented on #20990
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_4-slc6_amd64_gcc530/1374

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-24 05:53] davidlange6 opened #20994 "Build CMSSW_9_4_0_pre3"

[2017-10-24 05:54] cmsbuild commented on #20994
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-24 05:54] davidlange6 commented on #20994
+1

[2017-10-24 05:54] cmsbuild commented on #20994
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-10-24 05:54] cmsbuild commented on #20994
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-10-24 05:55] cmsbuild commented on #20994
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1379/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 05:55] cmsbuild commented on #20994
The build has started for slc6_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1380/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 05:56] cmsbuild commented on #20994
The build has started for slc7_amd64_gcc630 in cmsbuild52.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1381/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 06:28] davidlange6 commented on #20994
abort

On 24 Oct 2017, at 07:57, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The build has started for slc7_amd64_gcc630 in cmsbuild52.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1381/console
CMSDIST Branch: IB/CMSSW_9_4_X/gcc630<https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630>, PKGTOOLS Branch: V00-31-XX<https:/

[2017-10-24 06:29] cmsbuild commented on #20994
Deleting CMSSW_9_4_0_pre3:

  -Release successfully deleted

  -cmssw tag CMSSW_9_4_0_pre3 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_4_0_pre3/slc6_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_4_0_pre3/slc7_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_4_0_pre3/slc6_amd64_g

[2017-10-24 06:29] #20994 closed

[2017-10-24 06:29] davidlange6 opened #20995 "Build CMSSW_9_4_0_pre2"

[2017-10-24 06:30] davidlange6 commented on #20995
+1

[2017-10-24 06:30] cmsbuild commented on #20995
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-24 06:30] cmsbuild commented on #20995
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-10-24 06:30] cmsbuild commented on #20995
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-10-24 06:31] cmsbuild commented on #20995
The build has started for slc6_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1383/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 06:31] cmsbuild commented on #20995
The build has started for slc6_amd64_gcc630 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1382/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 06:31] cmsbuild commented on #20995
The build has started for slc7_amd64_gcc630 in cmsbuild52.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1384/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 06:49] slava77 commented on #20995
On 10/24/17 8:30 AM, David Lange wrote:

is there a typo in the issue name? (pre2 again instead of pre3)

[2017-10-24 07:09] davidlange6 commented on #20995
argh^2
crap - this will have deleted the old pre2 tag

[2017-10-24 07:09] davidlange6 commented on #20995
abort

[2017-10-24 07:09] davidlange6 commented on #20995
@smuzaffar - can you try to recover the GitHub history?

[2017-10-24 07:10] davidlange6 opened #20996 "Build CMSSW_9_4_0_pre3"
maybe I got it right this time

[2017-10-24 07:10] cmsbuild commented on #20995
Deleting CMSSW_9_4_0_pre2:

  -Release successfully deleted

  -cmssw tag CMSSW_9_4_0_pre2 successfully deleted.

 -cmsdist tag REL/CMSSW_9_4_0_pre2/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_9_4_0_pre2/slc7_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_9_4_0_pre2/slc6_amd64_gcc700 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_4_0_pre2/sl

[2017-10-24 07:10] #20995 closed

[2017-10-24 07:10] cmsbuild commented on #20996
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-24 07:10] davidlange6 commented on #20996
+1

[2017-10-24 07:11] cmsbuild commented on #20996
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-10-24 07:11] cmsbuild commented on #20996
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-10-24 07:12] cmsbuild commented on #20996
The build has started for slc6_amd64_gcc630 in cmsbuild49.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1386/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 07:12] cmsbuild commented on #20996
The build has started for slc6_amd64_gcc700 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1387/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 07:12] cmsbuild commented on #20996
The build has started for slc7_amd64_gcc630 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1388/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 08:05] cmsbuild commented on #20996
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-013.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1390/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 08:39] slava77 commented on #20621
@kpedro88
was there any follow up to this issue?

@lgray @bendavid

[2017-10-24 10:02] mrodozov opened #21001 "TestPhiMemoryImage fails in CLANG IBs (wrong bit shifting)"
We were after a unit test fail namely:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_9_4_CLANG_X_2017-10-23-2300/unitTestLogs/L1Trigger/L1TMuonEndCap

which persists for some time now and which fails with assertion:

https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TMuonEndCap/test/unittests/TestPhiMemoryImage.cpp#L77 (fails on line 100)
When we printed out the compar

[2017-10-24 10:03] cmsbuild commented on #21001
A new Issue was created by  @mrodozov .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-24 10:03] cmsbuild commented on #20722
There was an error generating the release notes, please look into the logs

[2017-10-24 10:07] mrodozov opened #21002 "Test testSerializationCommon fails in clang IBs"
We were looking into this unit tests crash
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_9_4_CLANG_X_2017-10-19-2300/unitTestLogs/CondFormats/Common
which is present only in clang IBs (not exactly sure why yet)

where the code for the test is:
https://github.com/cms-sw/cmssw/blob/master/CondFormats/Common/test/testSerializationCommon.cpp
(serializing-deserializing objects)

[2017-10-24 10:08] cmsbuild commented on #21002
A new Issue was created by  @mrodozov .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-24 10:18] cmsbuild commented on #20722
There was an error generating the release notes, please look into the logs

[2017-10-24 10:27] rekovic commented on #21001
Adding developers in the thread @jiafulow @abrinke1

[2017-10-24 10:34] mrodozov opened #21003 "Test ExpressionEvaluator fails in CommonTools/Utils pkg (Clang IBs)"
Hi there,
we were tracking this failing test:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_9_4_CLANG_X_2017-10-23-2300/unitTestLogs/CommonTools/Utils
which as far as i can tell generates some code and tries to compile it, when it fails with `clang doesn't recognize this flags etc`. Because the problem is not present for GCC IBs, we changed this line:
https://github.com/cms-

[2017-10-24 10:34] cmsbuild commented on #21003
A new Issue was created by  @mrodozov .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-24 11:17] cmsbuild commented on #20996
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre3-slc6_amd64_gcc700/1387

[2017-10-24 11:35] slava77 commented on #20772
@jshlee
please clarify on the status of following up on the memory leaks reported here
Thank you.

[2017-10-24 11:37] jshlee commented on #20772
@slava77 - yes will do. wasn't sure who it was assigned to.

[2017-10-24 11:38] slava77 commented on #20247
+1

this was apparently fixed
looking at jenkins outputs in 136.788 in CMSSW_9_4_X_2017-10-23-1200
I can confirm that the warning is gone

[2017-10-24 11:38] #20247 closed

[2017-10-24 11:39] slava77 commented on #20165
@ttrk @Sam-Harper @mandrenguyen
please clarify if there were any action items following the meeting in August.
Thank you.

[2017-10-24 11:43] slava77 commented on #19828
[not yet a final +1]
a large improvement was added with #20189
This perhaps covers the core part of the implementation.
What remains is to add miniAOD, EI, and RECOSIM step products to the list needed by logErrorHarvester

[2017-10-24 11:59] cmsbuild commented on #20996
The build has started for slc6_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1391/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-24 12:24] cmsbuild commented on #20996
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre3-slc7_amd64_gcc630/1388
Some test

[2017-10-24 13:00] ttrk commented on #20165
@slava77 There is no particular use case for OOT photons in HI reco.

[2017-10-24 13:12] slava77 commented on #20165
On 10/24/17 3:00 PM, Kaya Tatar wrote:

Is it just a result of the current physics program scope?
I can imagine some models of enhanced or even just different production
in HI collisions can lead to some interest.

Anyhow, the differences in thresholds are not conceptually different.
So, the current default should probably work.

[2017-10-24 13:29] cmsbuild commented on #20996
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre3-slc6_amd64_gcc630/1386
Some test

[2017-10-24 13:31] cmsbuild commented on #20996
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre3-slc7_amd64_gcc630/1388

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-24 13:44] davidlange6 commented on #20996
upload all

[2017-10-24 13:45] cmsbuild commented on #20996
Queing Jenkins upload for slc6_amd64_gcc630

[2017-10-24 13:45] cmsbuild commented on #20996
Queing Jenkins upload for slc7_amd64_gcc630

[2017-10-24 13:45] cmsbuild commented on #20996
The upload has started for slc6_amd64_gcc630 in cmsbuild49.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/921/console

[2017-10-24 13:45] cmsbuild commented on #20996
The upload has started for slc7_amd64_gcc630 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/922/console

[2017-10-24 13:47] cmsbuild commented on #20996
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_pre3-slc7_amd64_gcc630/922
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-24 13:48] cmsbuild commented on #20996
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-24 13:49] cmsbuild commented on #20996
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-24 13:55] davidlange6 commented on #20996
release-notes

[2017-10-24 13:55] cmsbuild commented on #20996
Generating release notes since CMSSW_9_4_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-10-24 13:55] cmsbuild commented on #20996
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_4_0_pre3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_0_pre3

maybe I got it right this time

Cheers,
cms-bot

Y

[2017-10-24 13:56] ttrk commented on #20165
As of now these objects do not have a use case for HI analysis and probably will not have for the near future.

[2017-10-24 14:03] slava77 commented on #20165
closing as "not an issue"

[2017-10-24 14:03] #20165 closed

[2017-10-24 14:06] slava77 commented on #20977
+1

fixed in #20981 which is merged since CMSSW_9_4_X_2017-10-23-1800 and is available in 9_4_0_pre3

[2017-10-24 14:06] cmsbuild commented on #20977
This issue is fully signed and ready to be closed.

[2017-10-24 14:20] cmsbuild commented on #20996
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre3

[2017-10-24 14:34] cmsbuild commented on #20996
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre3-slc6_amd64_gcc630/1386

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-24 14:45] kpedro88 commented on #20621
I don't think there has been yet. I encourage @lgray or @bendavid to follow the approach I used in #20240.

[2017-10-24 14:52] rappoccio opened #21009 "Separate isPFJet and hasPFSpecific"
In MINIAOD this will now be different things since we will sometimes drop the PFSpecifics to save space. We will need to keep track of this separately.

[2017-10-24 14:52] cmsbuild commented on #21009
A new Issue was created by  @rappoccio .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-24 17:02] gartung opened #21011 "CMSSW tool conf has unneeded external dependencies"
I am trying to build CMSSW and its dependencies with spack on linux. I am starting with the set of dependencies needed to link CMSSW libraries and then moving onto the set of dependencies needed for the runtime environment. I have found a few dependencies that seem outdate or no longer needed. Google perftools which provides tcmalloc is the first. The spec for Google perftools just produces an emp

[2017-10-24 17:03] cmsbuild commented on #21011
A new Issue was created by  @gartung Patrick Gartung.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-24 17:03] gartung commented on #21011
@Dr15Jones @davidlange6 @smuzaffar

[2017-10-24 17:09] gartung commented on #21011
https://github.com/cms-sw/cmsdist/pull/3514
https://github.com/cms-sw/cmssw/pull/20972

[2017-10-24 17:15] jiafulow commented on #21001
I'm sorry for the bug. I'll look into this as soon as possible. Thanks.

[2017-10-24 19:03] jiafulow commented on #21001
Hi,

Thanks for the really useful info about the bug in right shift undefined behavior. Otherwise it would have taken me longer to figure this out. The bug only happens in the unit test itself, in particular lines 100, 104 and 108, because of the `x >> 64` operation. The actual tests on the functions `PhiMemoryImage::rotl()` and `PhiMemoryImage::rotr()`, on lines 116-127, work correctly.

So I thi

[2017-10-24 20:15] cmsbuild commented on #20996
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre3-slc6_amd64_gcc700/1391
Some test

[2017-10-24 20:15] cmsbuild commented on #20996
Queing Jenkins upload for slc6_amd64_gcc700

[2017-10-24 20:18] cmsbuild commented on #20996
The upload has started for slc6_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/923/console

[2017-10-24 20:21] cmsbuild commented on #20996
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_pre3-slc6_amd64_gcc700/923
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-24 20:21] cmsbuild commented on #20996
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-24 21:20] cmsbuild commented on #20996
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre3-slc6_amd64_gcc700/1391

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-25 11:53] cmsbuild commented on #20990
The cleanup has started for slc6_amd64_gcc530

[2017-10-25 11:53] cmsbuild commented on #20990
The cleanup has started for slc6_amd64_gcc630

[2017-10-25 11:53] cmsbuild commented on #20990
The cleanup has started for slc7_amd64_gcc530

[2017-10-25 11:53] cmsbuild commented on #20990
The cleanup has started for slc7_amd64_gcc630

[2017-10-25 11:53] #20990 closed

[2017-10-25 11:54] cmsbuild commented on #20990
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_4-slc6_amd64_gcc630/821

[2017-10-25 12:00] cmsbuild commented on #20990
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_4-slc6_amd64_gcc530/820

[2017-10-25 12:00] cmsbuild commented on #20990
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_4-slc7_amd64_gcc630/823

[2017-10-25 12:06] cmsbuild commented on #20990
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_4-slc7_amd64_gcc530/822

[2017-10-25 22:11] smuzaffar commented on #21011
@gartung , as @davidlt mentioned here https://github.com/cms-sw/cmssw/pull/20972#issuecomment-339306632 , we have a updated version of this as https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700/gperftools.spec . We will back port it to gcc630 too.

[2017-10-26 12:08] cmsbuild commented on #20996
The cleanup has started for slc6_amd64_gcc700

[2017-10-26 12:08] cmsbuild commented on #20996
The cleanup has started for slc6_amd64_gcc630

[2017-10-26 12:08] cmsbuild commented on #20996
The cleanup has started for slc6_amd64_gcc700

[2017-10-26 12:08] cmsbuild commented on #20996
The cleanup has started for slc7_amd64_gcc630

[2017-10-26 12:08] #20996 closed

[2017-10-26 12:19] cmsbuild commented on #20996
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0_pre3-slc7_amd64_gcc630/824

[2017-10-26 13:22] mrodozov commented on #21001
Just to clarify - did you compiled and tested it with clang as it was present only there, if yes then - yes just put the changes in a PR and then we could close the issue. Thanks for the prompt response

[2017-10-26 21:43] kpedro88 opened #21036 "Uninitialized memory in RPC simulation"
Recently some irreproducibility in PR tests was observed and suspected to be related to the RPC simulation (see #20934). I ran valgrind on workflow 20434.0 in IB CMSSW_9_4_X_2017-10-25-1100, corresponding to the observation of the problem.

Valgrind found one issue:
https://github.com/cms-sw/cmssw/blob/dafc5c35984c65580d90edf772e7c2d0f9cb153d/SimMuon/RPCDigitizer/src/RPCSimModelTiming.cc#L99
`eled

[2017-10-26 21:43] cmsbuild commented on #21036
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-27 03:15] slava77 commented on #21036
assign simulation

it looks like the implementation of RPCSimModelTiming configuration is incomplete: eledig is present in other models and is initialized, but not in this one.

[2017-10-27 03:15] cmsbuild commented on #21036
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-27 10:51] bapavlov commented on #21036
It was a part of "last minute" changes implemented in the muon system. The default values of  eledig should be false. I'll implement the fix asap.

[2017-10-27 11:23] davidlange6 opened #21043 "Build CMSSW_9_2_14"

[2017-10-27 11:23] cmsbuild commented on #21043
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-27 11:25] davidlange6 commented on #21043
+1

[2017-10-27 11:25] cmsbuild commented on #21043
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_14. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-10-27 11:25] cmsbuild commented on #21043
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-10-27 11:31] cmsbuild commented on #21043
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1392/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-27 11:31] cmsbuild commented on #21043
The build has started for slc6_amd64_gcc630 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1393/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-27 11:37] cmsbuild commented on #21043
The build has started for slc7_amd64_gcc530 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1394/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-27 11:46] cmsbuild commented on #21043
The build has started for slc7_amd64_gcc630 in cmsdev11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1395/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-27 13:56] cmsbuild commented on #21043
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc7_amd64_gcc630/1395
Some tests (

[2017-10-27 14:40] cmsbuild commented on #21043
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc7_amd64_gcc630/1395

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-27 14:41] cmsbuild commented on #21043
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc630/1393
Some tests (

[2017-10-27 15:27] cmsbuild commented on #21043
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc630/1393

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-27 15:55] cmsbuild commented on #21043
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc530/1392
Some tests (

[2017-10-27 16:40] cmsbuild commented on #21043
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc7_amd64_gcc530/1394
Some tests (

[2017-10-27 16:53] cmsbuild commented on #21043
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc530/1392

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-27 17:31] cmsbuild commented on #21043
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc7_amd64_gcc530/1394

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-27 18:10] davidlange6 commented on #21043
Looks like something broke a bunch of data workflows. Likely the gt. Wil need to investigate

Cheers,
David

On 27 Oct 2017, at 19:50, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc530/1392

Tests results:

[2017-10-27 19:11] jiafulow commented on #21001
I used the release CMSSW_9_4_CLANG_X_2017-10-23-2300 . In that release, the compiler has been set to Clang. I was able to reproduce the error and fix it with the above changes. I will make a PR to the CMSSW_9_4_X referencing this issue.

[2017-10-28 06:32] davidlange6 commented on #21043
abort

On 27 Oct 2017, at 20:11, David Lange <notifications@github.com<mailto:notifications@github.com>> wrote:

Looks like something broke a bunch of data workflows. Likely the gt. Wil need to investigate

Cheers,
David

On 27 Oct 2017, at 19:50, cmsbuild <notifications@github.com<mailto:notifications@github.com><mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc

[2017-10-28 06:33] cmsbuild commented on #21043
Deleting CMSSW_9_2_14:

  -Release successfully deleted

  -cmssw tag CMSSW_9_2_14 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_14/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_14/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_14/slc7_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_14/slc7_amd64_gcc630 successfully deleted.

You mu

[2017-10-28 07:16] #21043 closed

[2017-10-28 07:20] davidlange6 opened #21057 "Build CMSSW_9_2_14"

[2017-10-28 07:20] cmsbuild commented on #21057
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-28 07:27] davidlange6 commented on #21057
+1

[2017-10-28 07:27] cmsbuild commented on #21057
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_14. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-10-28 07:28] cmsbuild commented on #21057
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-10-28 07:29] cmsbuild commented on #21057
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1396/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-28 07:29] cmsbuild commented on #21057
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1398/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-28 07:29] cmsbuild commented on #21057
The build has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1399/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-28 07:31] cmsbuild commented on #21057
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1397/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-28 09:58] cmsbuild commented on #21057
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc630/1397
Some tests (

[2017-10-28 10:37] cmsbuild commented on #21057
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc530/1396
Some tests (

[2017-10-28 10:54] cmsbuild commented on #21057
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc630/1397

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-28 11:25] cmsbuild commented on #21057
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc6_amd64_gcc530/1396

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-28 11:53] cmsbuild commented on #21057
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc7_amd64_gcc630/1399
Some tests (

[2017-10-28 12:09] cmsbuild commented on #21057
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc7_amd64_gcc530/1398

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-28 12:59] cmsbuild commented on #21057
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14-slc7_amd64_gcc630/1399

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-10-28 15:15] davidlt opened #21059 "Workflow crashes (L1TTwinMuxProducer:simTwinMuxDigis)"
There are a number of workflows crashing for `slc7_aarch64_gcc700`. A quick look at one of them 136.7321 (`step2_L1REPACK_HLT.py`) pointed to the issue in `L1Trigger/L1TTwinMux/src/RPCHitCleaner.cc:92`. `vcluster_size.size()` was returning abnormally high value (jumped from 8 to 209594323). I suspected a stack smashing thus recompiled with:
[code]
Smashed stack was confimed on `aarch64` and `x86_6

[2017-10-28 15:15] cmsbuild commented on #21059
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-28 15:31] Dr15Jones commented on #21059
@bbockelm looks like some of the valgrind errors are from `DelayedClose::HandleResponseWithHosts`

[2017-10-28 15:31] Dr15Jones commented on #21059
assign l1, core

[2017-10-28 15:32] cmsbuild commented on #21059
New categories assigned: core,l1

@Dr15Jones,@smuzaffar,@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-29 07:28] davidlange6 commented on #21057
upload all

[2017-10-29 07:29] cmsbuild commented on #21057
Queing Jenkins upload for slc6_amd64_gcc530

[2017-10-29 07:29] cmsbuild commented on #21057
Queing Jenkins upload for slc6_amd64_gcc630

[2017-10-29 07:29] cmsbuild commented on #21057
Queing Jenkins upload for slc7_amd64_gcc530

[2017-10-29 07:29] cmsbuild commented on #21057
Queing Jenkins upload for slc7_amd64_gcc630

[2017-10-29 07:31] cmsbuild commented on #21057
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/925/console

[2017-10-29 07:31] cmsbuild commented on #21057
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/924/console

[2017-10-29 07:31] cmsbuild commented on #21057
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/926/console

[2017-10-29 07:31] cmsbuild commented on #21057
The upload has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/927/console

[2017-10-29 07:32] cmsbuild commented on #21057
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14-slc6_amd64_gcc530/924
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-29 07:33] cmsbuild commented on #21057
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-29 07:33] cmsbuild commented on #21057
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14-slc7_amd64_gcc530/925
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-29 07:33] cmsbuild commented on #21057
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-29 07:35] cmsbuild commented on #21057
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14-slc7_amd64_gcc630/927
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-29 07:35] cmsbuild commented on #21057
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-29 07:39] cmsbuild commented on #21057
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14-slc6_amd64_gcc630/926
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-29 07:39] cmsbuild commented on #21057
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-29 07:57] davidlange6 commented on #21057
release-notes

On 29 Oct 2017, at 08:40, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc6_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14-slc6_amd64_gcc630/926
The release is now being installed, you can see the progress here:
https://cmssdt.cern.ch/jenkins

[2017-10-29 07:58] cmsbuild commented on #21057
Generating release notes since CMSSW_9_2_13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-10-29 07:58] cmsbuild commented on #21057
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_14 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_14

Cheers,
cms-bot

You can al

[2017-10-29 08:06] cmsbuild commented on #21057
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_14

[2017-10-29 10:35] davidlt commented on #21059
I bumped last night xrootd to tip of stable-4.7.x (4.7.1 is soon to be released) and that seems to solve xrootd issues reported by valgrind. Other L1 issues (reported by valgrind and stack smashing) are still present.

[2017-10-29 11:12] davidlt commented on #21059
According to ASan we start making damage stack already on 2nd event. Below are the report. This one was executed with `-O0`. Seems that here `digi->bx()` returns `2`, then `2 + 3` ends up outside of `int strips[5]`. There are no checks or protections.

[code]

[2017-10-29 11:24] davidlt commented on #21059
Below you can see details on another bug (might be related to the first one reported by valgrind). Looks like we rely on memory allocated and freed by XML parser. Basically we rely on internal data from XML parser.
[code]

[2017-10-29 12:17] davidlt commented on #21059
Looks like in the reported line `(m_prescales[algBit]).second = prescaleSet[algBit];` `algBit` is `450` while the `prescaleSet` vector has only `256` elements. This probably lands in unused heap memory which was used previously by XML parser.

[2017-10-29 12:58] davidlt commented on #21059
Here are the details for next one. Seems to the same issue as in previous. `algBit` is multiple times  out-of-bounds compared to the size of `prescaleSet`.
[code]

[2017-10-29 16:23] davidlt commented on #21059
There are also instances of undefined behavior:
[code]

I looked at the first `-1` index error by adding an assert statement and got:
[code]
I can confirm that `vrpc_hit_st4[l1].bx` returned `-1`.

[2017-10-29 20:54] davidlt opened #21067 "addon test "hlt_data_GRun", RelVal_HLT_RAW2DIGI_L1Reco_RECO.py, Invalid reads in l1t::stage2::CaloLayer1Unpacker::make*TPGs and l1t::stage2::CaloLayer1Unpacker::makeRegions"
`slc6_amd64_gcc700` and `CMSSW_10_0_X_2017-10-29-0000`.  Happens 32 times in mentioned configuration.

Examples:
[code]

[2017-10-29 20:55] cmsbuild commented on #21067
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-30 07:20] davidlt opened #21071 "xrootd valgrind issues (stable-4.7.X) in GCC 7.2.1"
Workflow `25202.0`, SCRAM_ARCH `slc6_amd64_gcc700`, CMSSW `CMSSW_10_0_X_2017-10-29-0000` and configuration `step2_DIGI_L1_DIGI2RAW_HLT_PU.py`. This contains the latest commit from xrootd `stable-4.7.x` branch (up to https://github.com/cms-externals/xrootd/commit/d8f11607a87f1ea0652b8f3e563d3a89876c805e).

The job finished successfully, but we do have invalid reads and writes from xrootd.

Log:
[co

[2017-10-30 07:21] cmsbuild commented on #21071
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-30 07:23] davidlt commented on #21071
CC @bbockelm

[2017-10-30 10:49] smuzaffar commented on #21067
assign l1

[2017-10-30 10:49] cmsbuild commented on #21067
New categories assigned: l1

@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-30 12:30] davidlt commented on #21071
Same happens with 4.6.1:
[code]

Thus not introduced in 4.7.x release, but in older ones.

[2017-10-30 15:03] bbockelm commented on #21059
@Dr15Jones - looking at the stack traces and the contents of the ticket @davidlt filed, I agree with his diagnosis with respect to the Xrootd issues.  It appears that CMSSW is using the xrootd API correctly and we triggered a bug in the client.

[2017-10-30 15:23] Dr15Jones opened #21079 "SiPixelPhase1TrackingParticleV does not clear trackIdToHitPtr_"
SiPixelPhase1TrackingParticleV has the member data
[code]

which it fills with PSimHits from the event and then does a lookup later for the hits. The problem is the code never clears the container. This means the container holds stale pointers which were from old events.

The relevant function is:
https://github.com/cms-sw/cmssw/blob/026420d74fd2b5a4cc841703498ea13a73a5f3b5/Validation/SiPixelPhase

[2017-10-30 15:23] cmsbuild commented on #21079
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-30 15:23] Dr15Jones commented on #21079
@slava77 here is the memory problem.

[2017-10-30 15:24] Dr15Jones commented on #21079
@davidcarbonis

[2017-10-30 15:25] Dr15Jones commented on #21079
assign dqm

[2017-10-30 15:25] cmsbuild commented on #21079
New categories assigned: dqm

@kmaeshima,@vanbesien,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-30 15:55] davidcarbonis commented on #21079
@Dr15Jones Thanks for spotting the cause of this. Will resolve shortly.

[2017-10-30 18:21] slava77 opened #21083 "drop deprecated PulseShapeFitOOTPileupCorrection::apply"
It looks like PulseShapeFitOOTPileupCorrection::apply method is not used anymore
and may still create confusion or extra burden to maintain.

The method can be removed.
Also, the currently used  ::phase1Apply method can then be renamed to ::apply to simplify semantics (phase1Apply is actually used for run1/phase-0 reco).

@mariadalfonso @igv4321 @kpedro88 @abdoulline

[2017-10-30 18:21] slava77 commented on #21083
assign reconstruction

[2017-10-30 18:22] cmsbuild commented on #21083
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-30 18:22] cmsbuild commented on #21083
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-30 18:53] davidcarbonis commented on #21079
PR #21084 opened with fix.

[2017-10-31 07:08] cmsbuild commented on #21057
The cleanup has started for slc6_amd64_gcc530

[2017-10-31 07:08] cmsbuild commented on #21057
The cleanup has started for slc6_amd64_gcc630

[2017-10-31 07:08] cmsbuild commented on #21057
The cleanup has started for slc7_amd64_gcc530

[2017-10-31 07:08] cmsbuild commented on #21057
The cleanup has started for slc7_amd64_gcc630

[2017-10-31 07:08] #21057 closed

[2017-10-31 07:09] cmsbuild commented on #21057
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14-slc6_amd64_gcc630/826

[2017-10-31 07:09] cmsbuild commented on #21057
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14-slc6_amd64_gcc530/825

[2017-10-31 07:15] cmsbuild commented on #21057
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14-slc7_amd64_gcc530/827

[2017-10-31 07:15] cmsbuild commented on #21057
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14-slc7_amd64_gcc630/828

[2017-10-31 14:23] davidlt opened #21096 "Invalid read of 8 bytes in JetCorrectorParametersHelper"
CMSSW: `CMSSW_10_0_ASAN_X_2017-10-30-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`
RelVal: `4000.0`
Step: `step3`

This seems to be quite a common issue within the workflows.

[code]

[2017-10-31 14:24] cmsbuild commented on #21096
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-31 14:30] Dr15Jones commented on #21096
assign db, analysis

[2017-10-31 14:30] cmsbuild commented on #21096
New categories assigned: db,analysis

@ggovi,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-31 14:45] Dr15Jones commented on #21096
I believe the line of code corresponding to the report is
https://github.com/cms-sw/cmssw/blob/fee77f4c558f3b592a0bab04f1a8c1475db9e2c1/CondFormats/JetMETObjects/src/JetCorrectorParametersHelper.cc#L62

since it is a map emplace command taking a tuple with three entries and an unsigned int.

[2017-10-31 14:50] Dr15Jones commented on #21096
So `mIndexMap` is a `std::unordered_map<tuple_type, size_t>` where `size_t` is a `unsigned long`. However, it is being passed an `unsigned int`. Maybe something isn't doing the `unsigned int` to `unsigned long` conversion properly which is resulting in more bytes being read?

[2017-10-31 15:07] davidlt opened #21098 "read of 8 bytes, stack-use-after-scope in CSCOfflineClient::bookMonitorObject"
CMSSW: `CMSSW_10_0_ASAN_X_2017-10-30-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `7.0`
Step: step5

ASAN report with debug stuff:
[code]

[2017-10-31 15:08] cmsbuild commented on #21098
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-31 15:24] davidlt commented on #21071
Solved and confirmed.

[2017-10-31 15:24] #21071 closed

[2017-10-31 15:36] davidlt commented on #21096
Below you can see detailed report (with debug stuff and -O0).
[code]

[2017-10-31 15:40] davidlt commented on #21098
I could guess here, but this is probably a C++ temporary issue. `parameters` contain `HistoId`:
https://github.com/cms-sw/cmssw/blob/master/DQM/CSCMonitorModule/plugins/CSCDQM_Dispatcher.cc#L129
but at this line:
https://github.com/cms-sw/cmssw/blob/master/DQM/CSCMonitorModule/plugins/CSCDQM_Dispatcher.cc#L163
The first argument is `HistoDef`, which is probably automatically created by compiler as

[2017-10-31 16:17] davidlt commented on #21098
Yup, solves the problem:
[code]

[2017-10-31 18:19] davidlt opened #21105 "read of 1 byte, stack-use-after-scope in GlobalTrajectoryParameters::charge()"
CMSSW: `CMSSW_10_0_ASAN_X_2017-10-30-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `3.0`
Step: 3

Detailed report:
[code]

[2017-10-31 18:20] cmsbuild commented on #21105
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-31 22:40] davidlt opened #21110 "invalid write of 1 byte, heap-use-after-free in xrootd/libUtilitiesXrdAdaptor.so (?)"
This is `read312RV` addon test: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_ASAN_X_2017-10-30-2300/addOnTests/logs/cmsDriver-read312RV_cmsRun__cvmfs_cms-ib.cern.ch_week0_slc6_amd64_gcc700_cms_cmssw_CMSSW_10_0_ASAN_X_2017-10-30-2300_src_Utilities_ReleaseScripts_scripts_read312RV_cfg.py.log

Report:
[code]

[2017-10-31 22:40] cmsbuild commented on #21110
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-31 23:55] Dr15Jones commented on #21110
@bbockelm

[2017-11-01 06:57] davidlt commented on #21110
I had to run the whole thing in a loop overnight to hit it again (this time with debug and `-O0`):
[code]

Updated report:
[code]

[2017-11-01 08:29] davidlt commented on #21110
Looking at stack strace, I guess, `OpenHandler` is allocated in CMSSW and then passed/registered (?) to xrootd. Once it is destroyed on CMSSW side xrootd still could call it.

[2017-11-01 18:06] fwyzard commented on #12123
I think this has been implemented in CMSSW 9.3.x and later, right ?

[2017-11-01 18:14] Dr15Jones commented on #12123
This was implemented in #19052 which says it was in the 9_3_X branch

[2017-11-01 18:14] Dr15Jones commented on #12123
+1

[2017-11-01 18:14] cmsbuild commented on #12123
This issue is fully signed and ready to be closed.

[2017-11-01 18:15] #16003 closed

[2017-11-01 18:16] Dr15Jones commented on #12123
Related to issue #16003

[2017-11-01 18:16] #12123 closed

[2017-11-01 18:17] Dr15Jones commented on #12123
@fwyzard thanks for pointing out this was accomplished.

[2017-11-02 08:26] slava77 opened #21129 "silence or fix HGC validation warnings/errors"
Based on logs from 20034 in the short matrix e.g. in CMSSW_10_0_X_2017-11-01-2300/
https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline-tests/CMSSW_10_0_X_2017-11-01-2300/slc6_amd64_gcc630/-GenuineIntel/matrix-results/20034.0_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2023D17_GenSimHLBeamSpotFull14+DigiFullTrigger_2023D17+RecoFullGlobal_2023D17+HARVESTFullGlobal_2023D17/step3_TTbar_14TeV+TTbar_14TeV

[2017-11-02 08:27] slava77 commented on #21129
assign upgrade,dqm

[2017-11-02 08:27] cmsbuild commented on #21129
New categories assigned: dqm,upgrade

@kmaeshima,@vanbesien,@kpedro88,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-02 08:27] cmsbuild commented on #21129
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-02 08:47] dmitrijus commented on #21079
+1

[2017-11-02 08:47] cmsbuild commented on #21079
This issue is fully signed and ready to be closed.

[2017-11-02 10:42] smuzaffar commented on #21098
assin @dqm

[2017-11-02 10:43] smuzaffar commented on #21105
assign reco

[2017-11-02 10:45] smuzaffar commented on #21110
assign core

[2017-11-02 10:45] cmsbuild commented on #21110
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-02 10:46] cmsbuild commented on #21098
New categories assigned: dqm

@kmaeshima,@vanbesien,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-02 10:47] cmsbuild commented on #21105
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-02 11:38] dmitrijus commented on #21098
+1

[2017-11-02 11:38] cmsbuild commented on #21098
This issue is fully signed and ready to be closed.

[2017-11-02 11:48] Dr15Jones commented on #21079
Fixed

[2017-11-02 11:48] #21079 closed

[2017-11-02 12:50] thomreis commented on #19593
Hi @tapperad @kreczko has this been resolved with the merged PRs? Can it be closed?

[2017-11-02 12:50] thomreis commented on #19592
Hi @tapperad @kreczko has this been resolved with the merged PRs?

[2017-11-02 12:50] thomreis commented on #19590
Hi @tapperad @kreczko has this been resolved with the merged PRs?

[2017-11-02 12:57] davidcarbonis commented on #21079
@Dr15Jones I note that the current target for the closed PR is CMSSW_10_0_X and that there isn't a 9_4_0 release (only pre-release) yet. Would it be prudent/worth it to open a PR for adding this fix to 9_4_0 (assuming that the plans for using 9_4_0 haven't changed)?

[2017-11-02 13:19] Dr15Jones commented on #21079
@davidlange6 would you want a 9_4 backport of  #21084 ? It would get rid of some memory hoarding and fix a reproducibility issue.

[2017-11-02 14:15] slava77 opened #21135 "HCAL local reco improvement for drifting QPLL channels"
see discussion in #20986
In Run-1 we had some channels that did not lock to the central BX timing properly
- M0 reco for these had a broader integration window
- M2, which defines the default definition of energy, by construction fits only to one pulse in a selected BX of interest, which can be wrong for these channels.

The idea is to capture the energy correctly for the drifting channels. Some o

[2017-11-02 14:16] cmsbuild commented on #21135
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-02 14:22] Dr15Jones commented on #21135
@slava77 to whom should this be assigned?

[2017-11-02 14:24] slava77 commented on #21135
assign reconstruction

[2017-11-02 14:25] cmsbuild commented on #21135
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-02 14:28] kpedro88 commented on #21129
attn: @bsunanda

[2017-11-02 18:10] Dr15Jones opened #21141 "Services which are not multiple concurrent Run/Lumi Safe"
The following Services are not capable of dealing with multiple concurrent Runs or LuminosityBlocks being processed by the framework

   * PoolDBOutputService
   * FastMonitoringService [assumes only 1 Run ever but can not handle concurrent Lumis]
   * IgProfService [not even multiple concurrent event safe]

[2017-11-02 18:10] cmsbuild commented on #21141
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-02 18:14] Dr15Jones commented on #21141
assign db, reconstruction, daq

[2017-11-02 18:14] cmsbuild commented on #21141
New categories assigned: db,daq,reconstruction

@mommsen,@slava77,@ggovi,@perrotta,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-02 19:13] #21098 closed

[2017-11-03 13:54] #18620 closed

[2017-11-03 14:26] Dr15Jones commented on #21059
@davidlt I think the problem is with the definition of the index for `hit`. `hit` is defined here
https://github.com/cms-sw/cmssw/blob/08b510f5e3e752614a8010461ab21199bdbeffa3/L1Trigger/L1TTwinMux/src/RPCtoDTTranslator.cc#L171
It looks like the intent was `hit[0]` was supposed to correspond to the bx of `min_rpc_bx`.

If that is the case, then the bug is in line 255 which should be changed to have

[2017-11-03 15:05] Dr15Jones commented on #21059
I'll try to make the changes I proposed and create a pull request if it works.

[2017-11-03 16:30] Dr15Jones commented on #21059
#21151 corrects the problems with RPCHitCleaner and RPCtoDTTranslator

[2017-11-04 09:04] perrotta opened #21167 "Improve reco-sim vertex association for high PU events with timing"
Following the discussion in #20709, it turned out that reco-sim 4D vertex association must be improved to cope with the high PU.

A dedicated PR is expected, which will resolve this issue

@lgray @makortel

[2017-11-04 09:04] cmsbuild commented on #21167
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-04 09:04] perrotta commented on #21167
assign dqm

[2017-11-04 09:04] cmsbuild commented on #21167
New categories assigned: dqm,reconstruction

@kmaeshima,@vanbesien,@jfernan2,@slava77,@perrotta,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-04 09:29] perrotta commented on #21167
assign upgrade

[2017-11-04 09:30] cmsbuild commented on #21167
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-04 22:58] davidlt commented on #21096
Is anyone debugging this further?
The checker complain about:
https://github.com/cms-sw/cmssw/blob/master/CondFormats/JetMETObjects/interface/Utilities.h#L105

It's 8 bytes because `result` is `std::size_t`. Compiler decided to store some object on the stack and reading those caused issue.

Is line 104 safe? We are dealing with `float` (4 bytes), we get a reference to that as `uint32_t` (4 bytes)

[2017-11-04 23:47] davidlt commented on #21096
Yup, quick test and this report is gone:
[code]
Technically it should be enough to do just `return b` and compiler will take of everything, or `static_cast<>()`.

[2017-11-05 11:24] davidlt commented on #21096
Proposed a fix: https://github.com/cms-sw/cmssw/pull/21170

[2017-11-05 17:54] davidlt opened #21173 "stack-buffer-overflow, read of 4 bytes, EndcapPiZeroDiscriminatorAlgo::findPreshVector"
CMSSW: `CMSSW_10_0_ASAN_X_2017-10-30-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `3.0`
Step: `step3`

Detailed report:
[code]
The problem is here:
https://github.com/cms-sw/cmssw/blob/master/RecoEcal/EgammaClusterAlgos/src/EndcapPiZeroDiscriminatorAlgo.cc#L113

One line above (112) you don't check what `find()` returns. If it finds nothing it returns `end()` and that's what is happening.

A qu

[2017-11-05 17:55] cmsbuild commented on #21173
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-05 17:59] davidlt opened #21174 "heap-buffer-overflow, read of 8 bytes, LightweightNeuralNetwork/Eigen in DeepFlavourJetTagsProducer"
CMSSW: `CMSSW_10_0_ASAN_X_2017-10-30-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `3.0`
Step: `step3`

Detailed report:
[code]

[2017-11-05 18:00] cmsbuild commented on #21174
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-05 18:20] davidlt commented on #21174
Could we move to the latest lwtnn (2.4), which don't seem to have problematic piece of code anymore. Plus it has CMake instead of a single Makefile.

[2017-11-05 18:24] davidlt commented on #21174
More detailed report:
[code]

[2017-11-05 19:47] #15409 closed

[2017-11-05 19:49] #20604 closed

[2017-11-05 20:13] davidlt commented on #21174
I locally updated Egein to latest commit and same with lwtnn and the problem went away. I think, updating lwtnn would be just enough to solve this.

[2017-11-06 08:36] #21096 closed

[2017-11-06 10:56] smuzaffar commented on #21173
assign reconstruction

[2017-11-06 10:56] cmsbuild commented on #21173
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-06 10:57] smuzaffar commented on #21174
assign reconstruction, externals

[2017-11-06 10:57] cmsbuild commented on #21174
New categories assigned: externals,reconstruction

@smuzaffar,@slava77,@perrotta,@gudrutis,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-06 12:39] davidlange6 opened #21179 "clang-tidy confusion for HeavyFlavorAnalysis/RecoDecay/interface/BPHMultiSelect.h"
in the most recent cleanup pass for clang-tidy, I ended up in an infinite loop of adding then removing  override keywords in BPHMultiSelect.h. Eg, here:

+  bool accept( const reco::Candidate & cand ) const override  { return false; }
+  bool accept( const BPHDecayMomentum& cand ) const override { return false; }
+  bool accept( const BPHDecayVertex  & cand ) const override { return false; }
+  bo

[2017-11-06 12:39] cmsbuild commented on #21179
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-06 12:47] davidlange6 opened #21180 "clang-tidy issues for TemplatedSecondaryVertex"
The second infinite loop issue I had in the recent clang-tidy cleanup pass was  in TemplatedSecondaryVertex, which starts with:

template <class SV>
class TemplatedSecondaryVertex : public SV {
    public:
	TemplatedSecondaryVertex() {}
	TemplatedSecondaryVertex(const reco::Vertex &pv,
	                const SV &sv,
	                const GlobalVector &direction,
	                bool withPVError

[2017-11-06 12:47] cmsbuild commented on #21180
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-06 13:07] davidlange6 commented on #21180
assign reconstruction, core

[2017-11-06 13:07] cmsbuild commented on #21180
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-06 14:02] davidlt commented on #21174
This is what I used locally for testing:
[code]

[2017-11-06 14:15] Dr15Jones commented on #21180
The `reco::Vertex` class
https://github.com/cms-sw/cmssw/blob/master/DataFormats/VertexReco/interface/Vertex.h

Doesn't have any virtual functions so it was not intended to have its functionality modified via inheritance. Therefore adding a virtual destructor seems a bit odd since that would be the only virtual function.

What happens if we do not use a virtual function. If the inheriting class is

[2017-11-06 14:38] Dr15Jones commented on #21179
So `BPHMultiSelect<...>` inherits from its template parameter. Searching for that name gives me the following hits
[code]

`BPHRecoSelect` has two accept methods
https://github.com/cms-sw/cmssw/blob/a1a699103d53ed00ae87f2a2578dd7e4b6bd0b5b/HeavyFlavorAnalysis/RecoDecay/interface/BPHRecoSelect.h#L53
which means 3 of the accept methods of `BPHMultiSelect` are not overrides for this class.

`BPHMomen

[2017-11-07 08:45] ggovi commented on #17664
+1

[2017-11-07 08:45] cmsbuild commented on #17664
This issue is fully signed and ready to be closed.

[2017-11-07 09:14] slava77 commented on #21174
@smuzaffar @davidlt
for the externals, is there an issue in cmsdist already?

[2017-11-07 09:16] slava77 commented on #20654
the run is over. Necessary PRs were included in CMSSW_9_2_13.

[2017-11-07 09:16] #20654 closed

[2017-11-07 09:17] smuzaffar commented on #21174
@slava77 , not yet.
@mrodozov , can you please take care of it.

[2017-11-07 09:19] slava77 commented on #20641
+1

resolved in #20642 , available from CMSSW_9_4_0_pre3

[2017-11-07 09:19] #20641 closed

[2017-11-07 09:20] cmsbuild commented on #20641
This issue is fully signed and ready to be closed.

[2017-11-07 11:03] ggovi commented on #21141
@Dr15Jones can you please provide some clarification for PoolDBOutputService, considering:
The use cases of this class are nominally two:
1.Writing conditions ( Payloads and IOVs ) on file with the sqlite format, to be uploaded by the detector experts in the official database
2. Writing conditions directly on Oracle, with O2O applications
Case 2 is not requiring concurrency on Runs or lumiblocks,

[2017-11-07 11:07] mrodozov commented on #21174
I've updated lwtnn alone here https://github.com/cms-sw/cmsdist/pull/3562

[2017-11-07 11:23] perrotta commented on #21173
Looking at the code, I think the same could be achieved if "else if" is used instead of "if" at L149 of the EndcapPiZeroDiscriminatorAlgo::goodPi0Strip method (indeed quite convoluted...).

Even better if the two are further moved inside the scope starting with the if clause at L153

(On the other hand, with your fix the whole goodPi0Strip method could be simplified as a simple comparison with the

[2017-11-07 12:46] davidlt commented on #21173
You can use ASAN IBs (see https://cmssdt.cern.ch/SDT/html/showIB.html#CMSSW_10_0_ASAN_X ) You will need to apply https://github.com/cms-sw/cmssw/pull/21195 and then you should hit this issue.

ASan (Address Sanitizer) must stop on the first issue it encounters. Thus you have to fix everything along (or blacklist them using `__attribute__((no_sanitize_address))` in GCC).

Then you have also a probl

[2017-11-07 13:54] perrotta commented on #21173
That line shouldn't ne a problem, because it would only fail if the
condition in or is true, and in that case it wouldn't get accessed.

I agree that this code seems quite overcomplicated for its purpose.

I''ll try to test the fix following your instructions.

davidlt <notifications@github.com> ha scritto:

[2017-11-07 15:38] dmitrijus commented on #21167
+1

Why was DQM assigned? I see no reason....

[2017-11-07 15:45] kpedro88 commented on #21167
@dmitrijus this issue relates to tracking validation. Please read the discussion in #20709 before blindly signing off on an incomplete issue.

[2017-11-07 15:49] dmitrijus commented on #21167
-1

[2017-11-07 15:56] Dr15Jones opened #21200 "DQMFileSaverPB is not concurrent Runs safe"
The module DQMFileSaverPB is an  edm::global:: but uses non-thread safe mutables:
https://github.com/cms-sw/cmssw/blob/8be445ac6fd9983d69156199d4d1fd3350f05d92/DQMServices/FileIO/plugins/DQMFileSaverPB.h#L33

This code will not be thread safe once we switch to allowing concurrent runs. An easy way to fix this would be to use a RunCache to hold the two values.

[2017-11-07 15:57] cmsbuild commented on #21200
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-07 16:11] kpedro88 opened #21201 "silence or fix Muon L1T warnings/errors"
In logs for step2 of phase2 workflows, I noticed this same error repeated a large number of times:
[code]

It looks like it comes from https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TMuonEndCap/src/PrimitiveSelection.cc.

Either the underlying problem should be fixed or the warning should be demoted (e.g. to LogDebug). @dildick can you take a look?

[2017-11-07 16:12] kpedro88 commented on #21201
assign upgrade,l1

[2017-11-07 16:12] cmsbuild commented on #21201
New categories assigned: upgrade,l1

@kpedro88,@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-07 16:15] dildick commented on #21201
@abrinke1 FYI

[2017-11-07 16:54] kpedro88 commented on #21201
@abrinke1 thanks for the explanation. I would prefer if the iRPCs could be functional in the Phase 2 trigger emulation (option 2).

[2017-11-07 17:01] abrinke1 commented on #21201
Certainly, everyone would like that :)  It just has to be coded.  I'll let @jiafulow comment on the feasibility / timescale.  Perhaps this would be a good topic for tomorrow's L1T Phase II software planning meeting:
 https://indico.cern.ch/event/677987/
Unfortunately I won't be able to attend.

[2017-11-07 17:12] jiafulow commented on #21201
Hi @kpedro88 , @abrinke1 ,

The current EMTF emulator is designed based on the firmware; so it doesn't know how to deal with GEM/iRPC hits. There's a Phase 2 EMTF version that is under development, but it's not ready yet. We want to have a first version early next year.

So, depending on the time scale, if you just want this warning to disappear now, we can simply hide iRPC hits from EMTF, as Andr

[2017-11-07 17:16] kpedro88 commented on #21201
@jiafulow okay, let's hide the iRPC hits in the emulator for now, since it is a known problem. We can leave this issue open until the new emulator is ready.

[2017-11-07 17:25] jiafulow commented on #21201
@kpedro88

Ok. The fix should be as simple as the following:

[code]

Should this go into the 'master' branch, or some special branch for Phase 2?

[2017-11-07 17:26] kpedro88 commented on #21201
phase 2 development always goes in the master branch now

[2017-11-07 17:29] jiafulow commented on #21201
Ok, I'll open a PR

[2017-11-07 17:43] abrinke1 commented on #21201
Really?  @rekovic is this correct?  What is the point of the cms-l1t-offline:phase2-l1t-integration branch?  (https://github.com/cms-l1t-offline/cmssw/tree/phase2-l1t-integration-CMSSW_9_4_0_pre2)

[2017-11-07 18:00] Dr15Jones commented on #21200
assign dqm

[2017-11-07 18:00] cmsbuild commented on #21200
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-07 18:57] kpedro88 commented on #21201
@abrinke1 to me, that looks like some private intermediate organizational branch. It is not part of official-cmssw. (Phase2 developments can be backported to older branches if needed for some specific reason, but by default, development happens in the master branch.)

[2017-11-07 22:37] abrinke1 commented on #21201
Hi @kpedro88
Sorry, I missed the context of this issue originally - I thought you were working on Phase 2 development code.  I didn't realize there were Phase 2 workflows already in the standard CMSSW tests.  Jia Fu's solution is the correct one for central CMSSW for now.
Cheers,
Andrew

[2017-11-08 09:58] davidlange6 opened #21213 "Build CMSSW_9_2_14_patch1"
Release candidate for Saturday's pp reference run.

[2017-11-08 09:58] cmsbuild commented on #21213
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-08 10:04] davidlange6 commented on #21213
+1

[2017-11-08 10:05] cmsbuild commented on #21213
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_14_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-11-08 10:05] cmsbuild commented on #21213
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-11-08 10:12] cmsbuild commented on #21213
The build has started for slc6_amd64_gcc530 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1400/console
CMSDIST Branch: [REL/CMSSW_9_2_14/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_14/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-08 10:16] cmsbuild commented on #21213
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1401/console
CMSDIST Branch: [REL/CMSSW_9_2_14/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_14/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-11-08 10:25] cmsbuild commented on #21213
The build has started for slc7_amd64_gcc530 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1402/console
CMSDIST Branch: [REL/CMSSW_9_2_14/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_14/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-11-08 10:28] cmsbuild commented on #21213
The build has started for slc7_amd64_gcc630 in cmsdev11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1403/console
CMSDIST Branch: [REL/CMSSW_9_2_14/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_14/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-11-08 10:40] perrotta commented on #21173
@davidlt : I submitted a fix in #21214 which does not modify the logic of the method, which LogTrace's in all cases in which a strip is not found, or the energy is below threshold

[2017-11-08 10:51] cmsbuild commented on #21213
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch1-slc6_amd64_gcc630/1401
Some t

[2017-11-08 10:56] cmsbuild commented on #21213
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch1-slc7_amd64_gcc630/1403
Some t

[2017-11-08 10:59] cmsbuild commented on #21213
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch1-slc6_amd64_gcc530/1400
Some t

[2017-11-08 11:11] cmsbuild commented on #21213
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch1-slc7_amd64_gcc530/1402
Some t

[2017-11-08 11:23] mrodozov commented on #21001
I confirm the test is passing with the changes in #21054 , closing the issue.

[2017-11-08 11:23] #21001 closed

[2017-11-08 11:40] cmsbuild commented on #21213
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch1-slc7_amd64_gcc630/1403

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-08 11:47] cmsbuild commented on #21213
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch1-slc6_amd64_gcc630/1401

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-08 11:50] cmsbuild commented on #21213
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch1-slc6_amd64_gcc530/1400

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-08 12:19] cmsbuild commented on #21213
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch1-slc7_amd64_gcc530/1402

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-08 14:35] slava77 opened #21217 "add time and timeError to reco::Candidate"
reco::Candidate already has dzError and dxyError in the interface.
With advent of MTD for phase-2 and other timing developments, it's useful to add time (or vt) and tError to the reco::Candidate interface.

[2017-11-08 14:35] slava77 commented on #21217
assign reconstruction

[2017-11-08 14:36] cmsbuild commented on #21217
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-08 14:36] cmsbuild commented on #21217
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-08 14:37] cmsbuild commented on #20722
There was an error generating the release notes, please look into the logs

[2017-11-08 14:56] cmsbuild commented on #20722
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre2

[2017-11-08 16:13] davidlange6 commented on #21213
upload all

[2017-11-08 16:13] cmsbuild commented on #21213
Queing Jenkins upload for slc6_amd64_gcc530

[2017-11-08 16:13] cmsbuild commented on #21213
Queing Jenkins upload for slc6_amd64_gcc630

[2017-11-08 16:13] cmsbuild commented on #21213
Queing Jenkins upload for slc7_amd64_gcc530

[2017-11-08 16:13] cmsbuild commented on #21213
Queing Jenkins upload for slc7_amd64_gcc630

[2017-11-08 16:15] cmsbuild commented on #21213
The upload has started for slc7_amd64_gcc530 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/929/console

[2017-11-08 16:15] cmsbuild commented on #21213
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/930/console

[2017-11-08 16:15] cmsbuild commented on #21213
The upload has started for slc6_amd64_gcc530 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/928/console

[2017-11-08 16:16] cmsbuild commented on #21213
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14_patch1-slc6_amd64_gcc530/928
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-08 16:16] cmsbuild commented on #21213
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-08 16:17] cmsbuild commented on #21213
The upload has started for slc7_amd64_gcc630 in cmsdev11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/931/console

[2017-11-08 16:17] cmsbuild commented on #21213
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14_patch1-slc7_amd64_gcc530/929
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-08 16:18] cmsbuild commented on #21213
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14_patch1-slc6_amd64_gcc630/930
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-08 16:18] cmsbuild commented on #21213
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-08 16:21] cmsbuild commented on #21213
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14_patch1-slc7_amd64_gcc630/931
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-08 16:21] cmsbuild commented on #21213
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-08 17:54] davidlange6 commented on #21213
release-notes

[2017-11-08 17:54] cmsbuild commented on #21213
Generating release notes since CMSSW_9_2_14.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-08 17:54] cmsbuild commented on #21213
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_2_14_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_14 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_14_patch1

Release

[2017-11-08 17:57] cmsbuild commented on #21213
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_14_patch1

[2017-11-09 20:42] davidlange6 opened #21248 "Build CMSSW_9_4_0"

[2017-11-09 20:43] cmsbuild commented on #21248
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-09 20:44] davidlange6 commented on #21248
+1

[2017-11-09 20:44] cmsbuild commented on #21248
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2017-11-09 20:44] cmsbuild commented on #21248
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-11-09 20:45] cmsbuild commented on #21248
The build has started for slc6_amd64_gcc630 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1404/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-09 20:45] cmsbuild commented on #21248
The build has started for slc7_amd64_gcc630 in cmsbuild36.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1405/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-10 00:17] cmsbuild commented on #21248
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0-slc7_amd64_gcc630/1405
Some tests ( r

[2017-11-10 01:20] cmsbuild commented on #21248
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0-slc7_amd64_gcc630/1405

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-10 03:45] Dr15Jones opened #21249 "FastSim premix configuration error"
With the change of fastsim to use era, the premix workflows are failing due to a configuration error
e.g. wf 250400
[code]

The problem appears to be from changes made in RecoTracker/FinalTrackSelectors/python/MergeTrackCollections_cff.py. The function `loadDigiAliases` from `FastSimulation/Configuration/DigiAliases_cff.py` is being called indirectly from there (for a second time in the job) and i

[2017-11-10 03:45] cmsbuild commented on #21249
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-10 04:05] Dr15Jones commented on #21249
The traceback of the problem is
[code]

[2017-11-10 04:16] Dr15Jones commented on #21249
It looks like the function
[code]
should have returned early from the clause `if hasattr(...) and isinstance(...):`

[2017-11-10 06:34] davidlange6 commented on #21248
upload all

On 10 Nov 2017, at 02:22, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0-slc7_amd64_gcc630/1405

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you we

[2017-11-10 06:41] cmsbuild commented on #21248
Queing Jenkins upload for slc7_amd64_gcc630

[2017-11-10 06:42] cmsbuild commented on #21248
The upload has started for slc7_amd64_gcc630 in cmsbuild36.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/932/console

[2017-11-10 06:57] cmsbuild commented on #21248
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0-slc7_amd64_gcc630/932
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-10 06:57] cmsbuild commented on #21248
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-10 08:15] davidlt commented on #21067
ping. Is L1 looking into this?

[2017-11-10 08:17] davidlt commented on #21059
Could L1 look into bugs related to `l1t::L1TGlobalUtil::retrieveL1Event` and `l1t::L1TGlobalUtil::retrieveL1Setup`?

[2017-11-10 08:37] davidlange6 commented on #21248
release-notes

[2017-11-10 08:38] cmsbuild commented on #21248
ATTENTION!!! The production architecture (slc6_amd64_gcc630) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-11-10 08:44] davidlt opened #21250 "heap-buffer-overflow, read of 8 bytes, ZdcSimpleRecAlgoImpl::reco2"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-09-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `1002.0`
Step: `step2`

Detailed report:
[code]

[2017-11-10 08:44] cmsbuild commented on #21250
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-10 08:48] cmsbuild commented on #21248
The build has started for slc6_amd64_gcc630 in cmsdev11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1406/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-10 08:53] slava77 commented on #21250
assign reconstruction

[2017-11-10 08:54] cmsbuild commented on #21250
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-10 08:56] davidlt commented on #21250
In line 177 you have `TempLGAmp = tool[CurrentTS]-noise;`, `tool` seems to have 6 elements and `CurrentTS` here is **6** thus being out-of-bounds for `std::vector` within `CaloSamples`.

[2017-11-10 09:06] slava77 commented on #21250
@abdoulline @igv4321  @cferraio
please take a look and make a pull request with a fix.
Thank you.

[2017-11-10 09:32] #19340 closed

[2017-11-10 10:41] davidlt commented on #18251
I think this is still not fixed.

CMSSW: `CMSSW_10_0_ASAN_X_2017-11-09-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`
AddOnTest: `hlt_mc_Fake1`
job: `TTbar_Tauola_13TeV_TuneCUETP8M1_cfi_GEN_SIM_DIGI_L1_DIGI2RAW.py`

Detailed report:

[code]

[2017-11-10 11:35] cmsbuild commented on #21248
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0-slc6_amd64_gcc630/1406
Some tests ( r

[2017-11-10 11:35] cmsbuild commented on #21248
Queing Jenkins upload for slc6_amd64_gcc630

[2017-11-10 11:38] cmsbuild commented on #21248
The upload has started for slc6_amd64_gcc630 in cmsdev11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/933/console

[2017-11-10 11:39] cmsbuild commented on #21248
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0-slc6_amd64_gcc630/933
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-10 11:39] cmsbuild commented on #21248
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-10 11:40] cmsbuild commented on #21248
Generating release notes since CMSSW_9_4_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-10 11:40] cmsbuild commented on #21248
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_0 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2017-11-10 11:44] cmsbuild commented on #21248
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0

[2017-11-10 12:34] cmsbuild commented on #21248
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0-slc6_amd64_gcc630/1406

Tests results:
21 21 20 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-10 13:42] davidlange6 opened #21258 "Build CMSSW_9_2_14_patch2"
Fix bug in Configuration/DataProcessing for new pp-ref-run scenario

[2017-11-10 13:42] cmsbuild commented on #21258
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-10 13:43] davidlange6 commented on #21258
+1

[2017-11-10 13:43] cmsbuild commented on #21258
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_14_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-11-10 13:43] cmsbuild commented on #21258
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-11-10 13:47] cmsbuild commented on #21258
The build has started for slc6_amd64_gcc530 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1407/console
CMSDIST Branch: [REL/CMSSW_9_2_14/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_14/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-10 13:50] cmsbuild commented on #21258
The build has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1408/console
CMSDIST Branch: [REL/CMSSW_9_2_14/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_14/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-11-10 14:01] cmsbuild commented on #21258
The build has started for slc7_amd64_gcc530 in cmsbuild53.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1409/console
CMSDIST Branch: [REL/CMSSW_9_2_14/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_14/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-11-10 14:08] cmsbuild commented on #21258
The build has started for slc7_amd64_gcc630 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1410/console
CMSDIST Branch: [REL/CMSSW_9_2_14/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_14/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-11-10 14:22] cmsbuild commented on #21258
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch2-slc6_amd64_gcc630/1408
Some t

[2017-11-10 14:27] Dr15Jones commented on #21249
The `if hasattr(process,"generalTracks") and isinstance(process.generalTracks,cms.EDAlias):` clause always fails because `_fastSimGeneralTracks` is not run until after the `Process` has finished loading the file and this file was already resetting `generalTracks` to a non `cms.EDAlias`.

[2017-11-10 14:31] cmsbuild commented on #21258
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch2-slc6_amd64_gcc530/1407
Some t

[2017-11-10 14:36] Dr15Jones commented on #21249
I have a fix that appears to work. I'm running more tests to be sure.

[2017-11-10 14:37] Dr15Jones commented on #21249
assign fastsim

[2017-11-10 14:37] cmsbuild commented on #21258
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch2-slc7_amd64_gcc630/1410
Some t

[2017-11-10 14:38] cmsbuild commented on #21258
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch2-slc7_amd64_gcc530/1409
Some t

[2017-11-10 14:38] cmsbuild commented on #21249
New categories assigned: fastsim

@lveldere,@mdhildreth,@civanch,@ssekmen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-10 14:40] davidlange6 commented on #21258
upload all

[2017-11-10 14:41] cmsbuild commented on #21258
Queing Jenkins upload for slc6_amd64_gcc530

[2017-11-10 14:41] cmsbuild commented on #21258
Queing Jenkins upload for slc6_amd64_gcc630

[2017-11-10 14:41] cmsbuild commented on #21258
Queing Jenkins upload for slc7_amd64_gcc530

[2017-11-10 14:41] cmsbuild commented on #21258
Queing Jenkins upload for slc7_amd64_gcc630

[2017-11-10 14:43] cmsbuild commented on #21258
The upload has started for slc6_amd64_gcc530 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/934/console

[2017-11-10 14:43] cmsbuild commented on #21258
The upload has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/935/console

[2017-11-10 14:43] cmsbuild commented on #21258
The upload has started for slc7_amd64_gcc530 in cmsbuild53.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/936/console

[2017-11-10 14:43] cmsbuild commented on #21258
The upload has started for slc7_amd64_gcc630 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/937/console

[2017-11-10 14:43] cmsbuild commented on #21258
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14_patch2-slc6_amd64_gcc530/934
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-10 14:43] cmsbuild commented on #21258
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-10 14:44] cmsbuild commented on #21258
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14_patch2-slc7_amd64_gcc530/936
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-10 14:44] cmsbuild commented on #21258
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-10 14:44] cmsbuild commented on #21258
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14_patch2-slc7_amd64_gcc630/937
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-10 14:44] cmsbuild commented on #21258
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-10 14:45] cmsbuild commented on #21258
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_14_patch2-slc6_amd64_gcc630/935
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-10 14:45] cmsbuild commented on #21258
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-10 14:57] davidlange6 commented on #21258
release-notes

[2017-11-10 14:58] cmsbuild commented on #21258
Generating release notes since CMSSW_9_2_14_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-10 14:58] cmsbuild commented on #21258
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_2_14_patch2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_14_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_14_patch2

[2017-11-10 15:00] cmsbuild commented on #21258
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_14_patch2

[2017-11-10 15:20] cmsbuild commented on #21258
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch2-slc6_amd64_gcc530/1407

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-10 15:22] cmsbuild commented on #21258
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch2-slc7_amd64_gcc630/1410

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-10 15:28] Dr15Jones commented on #21249
pull request #21263 fixes this problem.

[2017-11-10 15:30] cmsbuild commented on #21258
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_14_patch2-slc7_amd64_gcc530/1409

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-10 15:59] kpedro88 commented on #17826
+1
(fully) resolved by #20709

[2017-11-10 16:00] kpedro88 commented on #17604
+1
(fully) resolved by #20709

[2017-11-10 16:00] cmsbuild commented on #17604
This issue is fully signed and ready to be closed.

[2017-11-10 16:13] Dr15Jones commented on #17604
resolved

[2017-11-10 16:13] #17604 closed

[2017-11-10 16:26] Dr15Jones opened #21267 "Fastsim era change causes CkfBaseTrajectoryFilter_block to be a problem"
The workflows 135.8 and 250399.0 are failing in cmsDriver.py with error
[code]

[2017-11-10 16:26] Dr15Jones commented on #21267
assign fastsim

[2017-11-10 16:27] cmsbuild commented on #21267
New categories assigned: fastsim

@lveldere,@mdhildreth,@civanch,@ssekmen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-10 16:27] cmsbuild commented on #21267
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-10 16:29] Dr15Jones commented on #21267
One of the changes when doing the fastsim era migration was to not remove modules from the reconstruction python modules when loading fastsim. So these modules are added to the `cms.Process` but are associated to any running `cms.Path` or `cms.EndPath` and therefore will not be used in cmsRun. However, there configuration fragments will still be parsed which means any outstanding `refToPSets` will

[2017-11-10 16:29] Dr15Jones commented on #21267
I'm looking further into this to see how it can be fixed.

[2017-11-10 17:09] cmsbuild commented on #21213
The cleanup has started for slc6_amd64_gcc530

[2017-11-10 17:09] cmsbuild commented on #21213
The cleanup has started for slc6_amd64_gcc630

[2017-11-10 17:09] cmsbuild commented on #21213
The cleanup has started for slc7_amd64_gcc530

[2017-11-10 17:09] cmsbuild commented on #21213
The cleanup has started for slc7_amd64_gcc630

[2017-11-10 17:09] #21213 closed

[2017-11-10 17:10] cmsbuild commented on #21213
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14_patch1-slc6_amd64_gcc630/830

[2017-11-10 17:11] cmsbuild commented on #21213
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14_patch1-slc7_amd64_gcc630/832

[2017-11-10 17:13] cmsbuild commented on #21213
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14_patch1-slc6_amd64_gcc530/829

[2017-11-10 17:13] cmsbuild commented on #21213
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14_patch1-slc7_amd64_gcc530/831

[2017-11-10 17:15] Dr15Jones commented on #21267
It appears that workflows 135.8 and 250399.0 differ from the other fastsim workflows in that they do step `RECOBEFMIX` but do not additional do the step `RECO`. This is relevant to this problem since the module which is failing is `jetCoreRegionalStepTrajectoryBuilder` which gets loaded from
`FastSimulation.Configuration.Reconstruction_BefMix_cff`
and the module has a `refToPSet_` to `CkfBaseTraje

[2017-11-10 18:07] Dr15Jones commented on #21267
I appear to have a fix for this. I am testing it further.

[2017-11-10 18:27] Dr15Jones commented on #21267
This is fixed with #21268

[2017-11-10 18:45] Dr15Jones commented on #21267
assign reconstruction

[2017-11-10 18:45] cmsbuild commented on #21267
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-10 18:45] Dr15Jones commented on #21267
I added reconstruction to this issue since the fix was to change configurations that are in their domain.

[2017-11-11 15:13] perrotta commented on #21105
+1
- Addressed by #21195

[2017-11-11 15:14] cmsbuild commented on #21105
This issue is fully signed and ready to be closed.

[2017-11-11 15:15] perrotta commented on #21173
+1
- Addressed by #21214

[2017-11-11 15:15] cmsbuild commented on #21173
This issue is fully signed and ready to be closed.

[2017-11-11 16:18] perrotta commented on #17580
@VinInn @boudoul

Still there even in 940:
https://github.com/cms-sw/cmssw/blob/CMSSW_9_4_0/RecoTracker/FinalTrackSelectors/plugins/TrackMerger.cc#L165-L167

I wonder if that code/method is ever used...

[2017-11-11 16:32] VinInn commented on #17580
it just saved an invalid hit instead of a pretended better one, not a big harm...

[2017-11-11 16:33] VinInn commented on #17580
addressed in #21279

[2017-11-11 18:33] davidlt opened #21280 "heap-use-after-free, read of 8 bytes, L1TMuonDQMOffline::analyze"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-09-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`

Workflow from https://twiki.cern.ch/twiki/bin/view/CMS/WorkflowsForBenchmarkingWG2017

This was reconstruction part. I recommend running in a single thread more for this.

Detailed report:

[code]

[2017-11-11 18:33] cmsbuild commented on #21280
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-11 18:38] davidlt commented on #21280
Quick look.  The problem is most likely in `L1TMuonDQMOffline::getMuonGmtPairs`, we push something to the vector `m_MuonGmtPairs` which deallocated after `L1TMuonDQMOffline::getMuonGmtPairs` scope.

[2017-11-11 18:40] davidlt commented on #21280
Ah no, it's this one:
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/L1Trigger/src/L1TMuonDQMOffline.cc#L617

Then our problem should be here:
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/L1Trigger/src/L1TMuonDQMOffline.cc#L640

Basically storing a reference to a local.

[2017-11-11 18:51] davidlange6 commented on #21280
right - that bug has been there a year... we should remember to understand any &(*blah) usage at pr time..

[2017-11-11 18:52] davidlange6 commented on #21280
assign l1

(thanks to David for finding and understanding the problem)

[2017-11-11 18:52] cmsbuild commented on #21280
New categories assigned: l1

@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-11 19:14] davidlt commented on #21280
`MuonGmtPair` only keeps pointers and don't make private copies.

I am testing a possible fix.

[2017-11-11 19:18] davidlange6 commented on #21280
Given all the copies made of stuff in this code, that might be a good thing if the one local copy that gets cached is avoided:)

On 11 Nov 2017, at 20:15, davidlt <notifications@github.com<mailto:notifications@github.com>> wrote:

MuonGmtPair only keeps pointers and don't make private copies.

I am testing a possible fix.

—
You are receiving this because you were mentioned.
Reply to this email di

[2017-11-11 19:34] davidlt opened #21281 "C++ String Formatting (and future)"
String formatting in C++ is a complicated task. For simple things one can use `iostream` facilities, which have been slightly improved over C++11/14/17. Sadly in most cases people will shift towards C facilities for formatting string (e.g. `printf` and friends). This usually will required managing buffers, ensuring that buffers are not overflowed, checking if we manage to print full content to buf

[2017-11-11 19:35] cmsbuild commented on #21281
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-11 20:34] davidlt commented on #21280
My current fix is below. It allowed to be pass 7th event (right now at 12th). Basically it keeps the data alive in right scope and seems that now else tries to save references to it. I will make PR if doesn't show up until job finishes.

[code]

[2017-11-12 06:44] davidlt commented on #21280
Passed 100 events thus submitted for review: https://github.com/cms-sw/cmssw/pull/21282

[2017-11-12 06:57] davidlt opened #21283 "heap-buffer-overflow, read by 4 bytes, PrimaryVertexValidation::beginJob()"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-09-2300`
SCRAM_ARCH: `slc6_amd64_gcc700`

It's unit test from `Alignment/OfflineValidation`, command `cmsRun test_all_cfg.py`.

[code]

[2017-11-12 06:58] cmsbuild commented on #21283
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-12 07:20] davidlt commented on #21283
The following loop is written wrongly:
https://github.com/cms-sw/cmssw/blob/master/Alignment/OfflineValidation/plugins/PrimaryVertexValidation.cc#L1232

We basically are iterating over `runControlNumbers_ ` (`std::vector<unsigned int>`) and using those values again to access `runControlNumbers_`.  In this particular case we have 1 run, thus `runControlNumbers_.size()` is 1 then we access `runContr

[2017-11-12 07:25] davidlt commented on #21283
PR: https://github.com/cms-sw/cmssw/pull/21284

[2017-11-12 07:38] cmsbuild commented on #21248
The cleanup has started for slc6_amd64_gcc630

[2017-11-12 07:38] cmsbuild commented on #21248
The cleanup has started for slc7_amd64_gcc630

[2017-11-12 07:38] #21248 closed

[2017-11-12 07:39] cmsbuild commented on #21248
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0-slc6_amd64_gcc630/833

[2017-11-12 07:46] cmsbuild commented on #21248
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0-slc7_amd64_gcc630/834

[2017-11-12 14:08] cmsbuild commented on #21258
The cleanup has started for slc6_amd64_gcc530

[2017-11-12 14:08] cmsbuild commented on #21258
The cleanup has started for slc6_amd64_gcc630

[2017-11-12 14:08] cmsbuild commented on #21258
The cleanup has started for slc7_amd64_gcc530

[2017-11-12 14:08] cmsbuild commented on #21258
The cleanup has started for slc7_amd64_gcc630

[2017-11-12 14:08] #21258 closed

[2017-11-12 14:12] cmsbuild commented on #21258
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14_patch2-slc6_amd64_gcc530/835

[2017-11-12 14:13] cmsbuild commented on #21258
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14_patch2-slc7_amd64_gcc630/838

[2017-11-12 14:13] cmsbuild commented on #21258
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14_patch2-slc6_amd64_gcc630/836

[2017-11-12 14:13] cmsbuild commented on #21258
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_14_patch2-slc7_amd64_gcc530/837

[2017-11-13 07:20] abdoulline commented on #21250
Including also Kevin @kpedro88,  and hopefully Quan Wang will also join the discussion here.

I've just run 1002.0 locally on lxplus in the most recent CMSSW_10_0_X_2017-11-12-0000
and I don't see any problem...

[2017-11-13 07:28] davidlt commented on #21250
@abdoulline read the original message. One needs to use special build with run-time sanitization enabled.

[2017-11-13 07:37] abdoulline commented on #21250
@davidlt  thanks. Admittedly I didn't realize this is important. Just ran 1002.0 wf.

[2017-11-13 07:59] abdoulline commented on #21250
Now with
setenv SCRAM_ARCH slc6_amd64_gcc700
cmsrel CMSSW_10_0_ASAN_X_2017-11-09-2300

cd cmsrel CMSSW_10_0_ASAN_X_2017-11-09-2300/src
cmsenv
voms-proxy-init -voms cms -rfc
runTheMatrix.py -l 1002.0 &

I can reproduce it...

[2017-11-13 08:29] perrotta commented on #17580
+1
Fixed with #21279, now merged in 10_0_X
Thank you @VinInn

[2017-11-13 08:29] cmsbuild commented on #17580
This issue is fully signed and ready to be closed.

[2017-11-13 09:42] davidlt opened #21287 "SEGV on unknown address, MuonGEMDigisHarvestor::dqmEndJob"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-12-1100`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `20834.0`
Step: `step4`

Detailed report:
[code]

This is because `s_suffix[i]` when `i == 2`. There are only two items in that array. Here:
`TString eta_label = TString(dbe_path_)+"track_eta"+s_suffix[i];`

I also see we have:
[code]

See:

https://github.com/cms-sw/cmssw/blob/master/Validation/MuonGEMRecHits/src

[2017-11-13 09:44] cmsbuild commented on #21287
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-13 10:00] abdoulline commented on #21250
I think I have a quick one-configurable-change workaround to make 1002.0 work (just tested). But I take it offline to discuss with ZDC/HCAL colleagues.

[2017-11-13 13:05] abdoulline commented on #21250
From my side, I'm suggesting just a one-line workaround.
Full fix might need CASTOR/ZDC unpacker update (by ZDC people). To be
discussed (with them).

On Mon, 13 Nov 2017, davidlt wrote:

[2017-11-13 15:17] kpedro88 commented on #20772
+1

[2017-11-13 18:00] davidlt opened #21294 "heap-buffer-overflow, read of 4 bytes, JetCorrectorParameters::Record::xMin"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-12-1100`
SCRAM_ARCH: `slc6_amd64_gcc700`
AddOn test: `hlt_mc_PRef`
It's 2nd command in the chain: `cmsRun /cvmfs/cms-ib.cern.ch/week0/slc6_amd64_gcc700/cms/cmssw/CMSSW_10_0_ASAN_X_2017-11-12-1100/src/HLTrigger/Configuration/test/OnLine_HLT_PRef.py realData=False globalTag=@ inputFiles=@`

Detailed report:
[code]

[2017-11-13 18:00] cmsbuild commented on #21294
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-13 18:20] davidlt commented on #21294
Looks to be out-of-bounds access here:
https://github.com/cms-sw/cmssw/blob/master/CondFormats/JetMETObjects/interface/JetCorrectorParameters.h#L70

`mMin` (type of `std::vector<float>`) has only 1 item and we ask for item at index 1.

[2017-11-13 18:24] davidlt commented on #21294
I added a few debug printout:
[code]
So about ~60K times the vector has only 1 element while `bool operator< (const Record& other) const` on line 76 always assume up to 3 elements present.

[2017-11-14 09:18] ggovi commented on #18246
+1

[2017-11-14 09:18] cmsbuild commented on #18246
This issue is fully signed and ready to be closed.

[2017-11-14 09:55] davidlt opened #21296 "heap-buffer-overflow, read of 8 bytes, MuonAlignment::copyAlignmentToSurvey"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-12-1100`
SCRAM_ARCH: `slc6_amd64_gcc700`
Unit test in `Alignment/MuonAlignment`
Test: `test_MuonGeometryDBConverter`

Detailed report:
[code]

[2017-11-14 09:55] cmsbuild commented on #21296
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-14 15:35] smuzaffar commented on #21296
assin alca

[2017-11-14 15:36] smuzaffar commented on #21294
assign db

[2017-11-14 15:37] cmsbuild commented on #21294
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-14 15:37] smuzaffar commented on #21287
assign dqm

[2017-11-14 15:38] cmsbuild commented on #21287
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-14 19:50] #21280 closed

[2017-11-14 19:54] davidlange6 opened #21308 "Build CMSSW_10_0_0_pre1"

[2017-11-14 19:55] cmsbuild commented on #21308
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-11-14 19:58] davidlange6 commented on #21308
+1

[2017-11-14 19:58] cmsbuild commented on #21308
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-11-14 19:58] cmsbuild commented on #21308
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-11-14 19:59] cmsbuild commented on #21308
The build has started for slc6_amd64_gcc630 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1411/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-14 19:59] cmsbuild commented on #21308
The build has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1412/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-14 19:59] cmsbuild commented on #21308
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1413/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-14 19:59] cmsbuild commented on #21308
The build has started for slc7_amd64_gcc630 in cmsbuild36.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1414/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-11-14 23:53] cmsbuild commented on #21308
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre1-slc7_amd64_gcc630/1414
Some tes

[2017-11-15 00:38] cmsbuild commented on #21308
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre1-slc6_amd64_gcc700/1412
Some tes

[2017-11-15 01:04] cmsbuild commented on #21308
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre1-slc7_amd64_gcc630/1414

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-15 01:45] cmsbuild commented on #21308
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre1-slc6_amd64_gcc700/1412

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-15 01:53] cmsbuild commented on #21308
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre1-slc6_amd64_gcc630/1411
Some tes

[2017-11-15 02:12] cmsbuild commented on #21308
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre1-slc7_aarch64_gcc700/1413
Some

[2017-11-15 03:09] cmsbuild commented on #21308
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre1-slc6_amd64_gcc630/1411

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-15 04:50] cmsbuild commented on #21308
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre1-slc7_aarch64_gcc700/1413

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-11-15 06:18] #21174 closed

[2017-11-15 06:19] #21173 closed

[2017-11-15 06:19] #21105 closed

[2017-11-15 06:20] #21283 closed

[2017-11-15 06:26] davidlt opened #21312 "Duplicate header for fed_trailer.h"
While looking at output for validateJR comparison tests I noticed that we have two headers for the same (?) thing:
- https://github.com/cms-sw/cmssw/blob/master/EventFilter/FEDInterface/interface/fed_trailer.h#L22
- https://github.com/cms-sw/cmssw/blob/master/DataFormats/FEDRawData/src/fed_trailer.h#L31

ROOT Cling run-time complaint about struct redefinition: `error: redefinition of 'fedh_struct'

[2017-11-15 06:35] davidlt opened #21313 "stack-buffer-overflow, read of 4 bytes, TrackCleaner::isCompatible"
CMSSW: `CMSSW_10_0_ASAN_X_2017-11-12-1100`
SCRAM_ARCH: `slc6_amd64_gcc700`
Workflow: `150.0`
Step: `step3`

Detailed report:
[code]

The problem is here:
https://github.com/cms-sw/cmssw/blob/master/RecoPixelVertexing/PixelLowPtUtilities/src/TrackCleaner.cc#L112

`max` only contains 3 elements, but `tTopo_->pxbLayer(i1)-1` produces 3, which is out-of-bounds.

[2017-11-15 06:35] cmsbuild commented on #21313
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-15 06:39] #14409 closed

[2017-11-15 06:40] davidlt commented on #21312
Ah, I already have filled a bug report for this back in 2016: https://github.com/cms-sw/cmssw/issues/14353

[2017-11-15 06:40] cmsbuild commented on #21312
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-15 06:40] abdoulline commented on #21250
Adding explicitly (just in case of questions etc.) ZDC expert Quan Wang
  @BetterWang

[2017-11-15 06:40] #14110 closed

[2017-11-15 06:59] smuzaffar commented on #21313
assign reconstruction

[2017-11-15 06:59] cmsbuild commented on #21313
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-15 07:00] cmsbuild commented on #21312
New categories assigned: daq

@mommsen,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-15 07:00] cmsbuild commented on #21296
New categories assigned: alca

@cerminar,@arunhep,@franzoni,@lpernie,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-15 07:15] davidlange6 commented on #21308
upload all

[2017-11-15 07:15] cmsbuild commented on #21308
Queing Jenkins upload for slc6_amd64_gcc630

[2017-11-15 07:15] cmsbuild commented on #21308
Queing Jenkins upload for slc6_amd64_gcc700

[2017-11-15 07:15] cmsbuild commented on #21308
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-11-15 07:15] cmsbuild commented on #21308
Queing Jenkins upload for slc7_amd64_gcc630

[2017-11-15 07:16] cmsbuild commented on #21308
The upload has started for slc6_amd64_gcc630 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/938/console

[2017-11-15 07:16] cmsbuild commented on #21308
The upload has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/939/console

[2017-11-15 07:16] cmsbuild commented on #21308
The upload has started for slc7_amd64_gcc630 in cmsbuild36.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/940/console

[2017-11-15 07:16] cmsbuild commented on #21308
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/941/console

[2017-11-15 07:17] cmsbuild commented on #21308
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre1-slc7_aarch64_gcc700/941
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-15 07:17] cmsbuild commented on #21308
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre1-slc6_amd64_gcc700/939
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-15 07:17] cmsbuild commented on #21308
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-15 07:17] cmsbuild commented on #21308
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre1-slc7_amd64_gcc630/940
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-15 07:18] cmsbuild commented on #21308
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-15 07:21] cmsbuild commented on #21308
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre1-slc6_amd64_gcc630/938
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-11-15 07:21] cmsbuild commented on #21308
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-11-15 08:03] davidlange6 commented on #21308
release-notes

[2017-11-15 08:03] cmsbuild commented on #21308
Unable to find previous release for CMSSW_10_0_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2017-11-15 08:03] davidlange6 commented on #21308
release-notes since CMSSW_9_4_0

[2017-11-15 08:04] cmsbuild commented on #21308
Generating release notes since CMSSW_9_4_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-15 08:04] cmsbuild commented on #21308
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_0_0_pre1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_0_pre1

Cheers,
cms-bot

You can also click

[2017-11-15 08:04] cmsbuild commented on #21308
Generating release notes since CMSSW_9_4_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-11-15 08:04] cmsbuild commented on #21308
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_0_0_pre1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_0_pre1

Cheers,
cms-bot

You can also click

[2017-11-15 08:12] cmsbuild commented on #21308
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre1

[2017-11-15 08:12] cmsbuild commented on #21308
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre1

[2017-11-15 10:33] makortel commented on #21313
Guessing from the workflow name (HydjetQ_B12_5020GeV_2018+DIGIHI2018+RECOHI2018+HARVESTHI2018) it uses phase1 pixel, so the reason is clear in
https://github.com/cms-sw/cmssw/blob/c620eaf813baaee938f9424fe71b651dec454bee/RecoPixelVertexing/PixelLowPtUtilities/src/TrackCleaner.cc#L111-L112
For phase1 pixel `max` should have 4 elements. Guessing from the code the values are supposed to be the number

[2017-11-15 10:38] davidlt commented on #21313
Just for the record there are more workflows (150.1, 150.3, 300.0, 301.0, etc) failing with the same stacktrace, 150 is just one example.

[2017-11-15 10:40] makortel commented on #21313
All those seem to be 2018 HI workflows as well.

[2017-11-15 10:40] makortel opened #21314 "Include MXNet as an external"
Following up my presentation in the O&C week reco meeting ([link](https://indico.cern.ch/event/625239/#11-tensorflow-in-production-ap)) this issue is to track the inclusion of Apache MXNet ([link](https://mxnet.incubator.apache.org/)) as CMSSW external.

I have not taken a very in-depth view on MXNet myself, but learned recently that @gouskos et al are using it for a boosted jet tagger with plans

[2017-11-15 10:41] cmsbuild commented on #21314
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-15 10:46] VinInn commented on #21313
and this other magic number is most probably a remnant of phase0 as well
https://github.com/cms-sw/cmssw/blob/c620eaf813baaee938f9424fe71b651dec454bee/RecoPixelVertexing/PixelLowPtUtilities/src/TrackCleaner.cc#L125

[2017-11-15 10:50] makortel commented on #21313
and does not account for the two-ring structure of phase1 FPix where the blade numbering goes through them both (and currently there are no tools to ask from DetId whether a blade/module is in outer or inner ring).

[2017-11-15 10:52] davidlange6 commented on #21314
assign core

[2017-11-15 10:52] cmsbuild commented on #21314
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-11-15 10:55] davidlange6 commented on #21314
the python interface looks simple to add as we already have openblas and graphviz (I think). The C++ interface is less well documented at this point. (but it looks to exist)

[2017-11-15 11:17] hqucms commented on #21314
There is a pretty light-weighted [C API](https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/c_predict_api.h) for prediction (i.e., neural net evaluation). One just needs to include this header and link to `libmxnet.so`, e.g., in this [example](https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/predict-cpp).

I briefly tried building MXNet with the f

[2017-11-15 11:20] davidlange6 commented on #21314
Good to know - i find pypi only has wheels - so probably the the thing to do is follow the approach we have for tensorflow to pick up all the interfaces we need eventually (:()

[2017-11-15 14:07] hqucms commented on #21314
Hi @davidlange6

AFAIK MXNet should be a lot easier to deal with than tensorflow (at least we don't need extra dependencies such as bazel). And basically the C prediction API (one header + one library) is the only thing we need for CMSSW to evaluate the neural networks. The python API is more for training, but there GPU is really needed and things become hardware/CUDA version dependent, so I am no

[2017-11-15 14:49] mrodozov opened #21322 "Test TtSemiLepJetCombMVATrainer:trainTtSemiLepJetCombMVA crashes CLANG IBs"
We are having this test crashing in CLANG IBs only
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_CLANG_X_2017-11-13-2300/unitTestLogs/TopQuarkAnalysis/TopJetCombination
for some time now with the following symptoms - present only in CLANG IBs, disappears if we lower the optimization level to -O1 and with the following back trace:
[code]
Detailed digging here:
[code]
sho

[2017-11-15 14:50] cmsbuild commented on #21322
A new Issue was created by  @mrodozov .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-11-15 15:25] Dr15Jones commented on #21322
The bug is here:
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/MVAComputer/src/MVAComputerCache.cc#L49
explicitly
[code]
which causes a problem since `find` returns a reference `&`:
https://github.com/cms-sw/cmssw/blob/fee77f4c558f3b592a0bab04f1a8c1475db9e2c1/CondFormats/PhysicsToolsObjects/interface/MVAComputer.h#L255

The C++ standard specifically states that a reference can never be

[2017-11-15 15:33] Dr15Jones commented on #21322
My hypotheses seems less likely since the version of `MVAComputerContainer::find` would throw an exception rather than returning nullptr. I also did not find any classes which inherit from `MVAComputerContainer` so `find` never seems to be overridden.

[2017-11-15 17:54] #21201 closed

[2017-11-15 20:32] DrDaveD commented on #19183
I guess nobody here can answer my question.  Closing the issue.

[2017-11-15 20:32] #19183 closed

[2017-11-16 14:32] slava77 commented on #21180
should it be closed as "not an issue"?

[2017-11-16 14:34] slava77 commented on #21167
@dmitrijus @kpedro88
was there some progress following this issue?

@dmitrijus  perhaps to keep this on dqm list (rather than "dqm-rejected") you could edit your "-1" and drop it so that it appears on your active list.

[2017-11-16 14:36] slava77 commented on #21141
@Dr15Jones
please clarify why is this supposed to be on the reconstruction list.
Thank you.

[2017-11-16 14:37] slava77 commented on #20772
+1
fixed in #21146

[2017-11-16 14:38] cmsbuild commented on #20772
This issue is fully signed and ready to be closed.

[2017-11-16 14:40] slava77 commented on #20700
@drkovalskyi
I just wanted to check on this if it's time to advance with the GBRForest implementation.
What is the status of the training.

[2017-11-16 14:41] slava77 commented on #20621
Has there been progress on this one?

[2017-11-16 14:41] slava77 commented on #20417
@lgray

please clarify on the status of this issue now that we have the 4D development in shape

[2017-11-16 14:42] kpedro88 commented on #21167
I haven't seen any progress on this.

[2017-11-16 14:42] kpedro88 commented on #20621
I haven't seen any progress on this.

[2017-11-16 14:55] lgray commented on #20417
With the newer implementation, templating in dimensionality is likely even
easier. I'll give it a try soon.

On Nov 16, 2017 09:41, "Slava Krutelyov" <notifications@github.com> wrote: