[2020-07-15 19:55] cmsbuild commented on #30734
The build has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2523/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-15 19:57] cmsbuild commented on #30734
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2524/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-15 19:59] silviodonato opened #30735 "Build CMSSW_11_1_1_ROOT618"
CMSSW_COMMIT:CMSSW_11_1_1
RELEASE_QUEUE:CMSSW_11_1_ROOT618_X

[2020-07-15 20:00] cmsbuild commented on #30735
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-15 20:04] silviodonato commented on #30735
@smuzaffar if I remember correctly, the problem of running two builds at the same time is for the arm build. CMSSW_11_1_1_ROOT618 we have only slc7_amd64_gcc820, so it should not be a problem.
Do you think we can build both CMSSW_11_1_1 and CMSSW_11_1_1_ROOT618 during the night?
I would like to have both releases tomorrow morning to allow PPD/PdmV to check the memory of ROOT620 vs ROOT618. Hopeful

[2020-07-15 20:11] smuzaffar commented on #30735
yes, these two releases are fine to build in parallel.

[2020-07-15 20:15] kpedro88 commented on #30676
@rekovic @gpetruc what is the correct fix for the actual bug in this issue, and will there be a PR for it?

[2020-07-15 20:45] silviodonato commented on #30735
+1

[2020-07-15 20:46] cmsbuild commented on #30735
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_1_ROOT618. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-15 20:46] cmsbuild commented on #30735
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-07-15 20:47] cmsbuild commented on #30735
The build has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2525/console
CMSDIST Branch: [IB/CMSSW_11_1_X/root618](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/root618), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-15 20:56] makortel commented on #30493
I tried to just call the `checkDictionary()` overload 1 from overload 2, but didn't work because the OutputModule takes the `TypeWithDict` from the `BranchDescription`, which in turn initializes the `TypeWithDict` from the type name here
https://github.com/cms-sw/cmssw/blob/b05f18a5d7d6c83b04c4101b9e7ff83e47a59594/DataFormats/Provenance/src/BranchDescription.cc#L164

I'm not really sure why the (u

[2020-07-15 21:15] gpetruc commented on #30676
I still don't know if ieta=41 is valid or not, but the version restricting the loop to `for (int ie = -nEta_+1; ie < nEta_; ++ie)` fails on another assert elsewhere checking on the number of cells in the grid (and so it would require more changes), now i'm testing the other option.

[2020-07-15 21:28] makortel commented on #30493
On the other hand the `consumes()` call `OutputModuleBase` does work for basic types (like `int`). If I _guess_ correctly, the `TypeWithDict` have a valid `std::type_info` for basic types because of
https://github.com/cms-sw/cmssw/blob/b05f18a5d7d6c83b04c4101b9e7ff83e47a59594/FWCore/Reflection/src/TypeWithDict.cc#L173-L212

[2020-07-15 21:30] pcanal commented on #30493
That seems wrong.  Overload 2 knows it does not need overload 1.   What is the goal trying this?

[2020-07-15 21:37] makortel commented on #30493
I wanted to see what happens if I skip the "answer already compiled in `TypeWithDict`" given that for `std::array<T, N>` the information in `TypeWithDict` is wrong in some way (and the exact way it is wrong is what I'm trying to understand).

[2020-07-15 21:59] makortel commented on #30493
On the other hand it would certainly be inconsistent if `TypeWithDict::byName()` and `TypeWithDict::byTypeInfo()` to give different answers regarding whether the `TypeWithDict` has a valid `std::type_info` or not.

[2020-07-15 23:31] cmsbuild commented on #30735
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1_ROOT618-slc7_amd64_gcc820/2525
Some

[2020-07-16 00:07] cmsbuild commented on #30734
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1-slc7_ppc64le_gcc820/2524
Some test

[2020-07-16 00:10] cmsbuild commented on #30735
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1_ROOT618-slc7_amd64_gcc820/2525

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-16 00:27] cmsbuild commented on #30734
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1-cc8_amd64_gcc8/2521
Some tests ( runThe

[2020-07-16 00:46] cmsbuild commented on #30734
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1-slc7_aarch64_gcc820/2522
Some test

[2020-07-16 00:59] cmsbuild commented on #30734
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1-slc7_amd64_gcc820/2523
Some tests (

[2020-07-16 01:07] cmsbuild commented on #30734
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1-cc8_amd64_gcc8/2521

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-16 01:28] cmsbuild commented on #30734
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1-slc7_ppc64le_gcc820/2524

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-16 01:38] cmsbuild commented on #30734
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1-slc7_amd64_gcc820/2523

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-16 01:46] cmsbuild commented on #30734
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1-slc7_aarch64_gcc820/2522

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-16 05:11] silviodonato commented on #30735
upload all

[2020-07-16 05:12] cmsbuild commented on #30735
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-16 05:12] silviodonato commented on #30734
upload all

[2020-07-16 05:12] cmsbuild commented on #30734
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-16 05:12] cmsbuild commented on #30734
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-16 05:12] cmsbuild commented on #30734
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-16 05:12] cmsbuild commented on #30734
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-16 05:14] cmsbuild commented on #30734
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1617/console

[2020-07-16 05:14] cmsbuild commented on #30735
The upload has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1615/console

[2020-07-16 05:14] cmsbuild commented on #30734
The upload has started for cc8_amd64_gcc8 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1616/console

[2020-07-16 05:14] cmsbuild commented on #30734
The upload has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1618/console

[2020-07-16 05:16] cmsbuild commented on #30734
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_1-slc7_aarch64_gcc820/1617

[2020-07-16 05:16] cmsbuild commented on #30734
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1619/console

[2020-07-16 05:18] cmsbuild commented on #30734
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_1-slc7_ppc64le_gcc820/1619

[2020-07-16 05:19] cmsbuild commented on #30735
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_1_ROOT618-slc7_amd64_gcc820/1615

[2020-07-16 05:21] cmsbuild commented on #30734
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_1-cc8_amd64_gcc8/1616

[2020-07-16 05:25] cmsbuild commented on #30734
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_1-slc7_amd64_gcc820/1618

[2020-07-16 05:59] silviodonato commented on #30734
release-notes

[2020-07-16 05:59] silviodonato commented on #30735
release-notes

[2020-07-16 05:59] cmsbuild commented on #30734
Generating release notes since CMSSW_11_1_0_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-16 05:59] cmsbuild commented on #30734
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_1 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_0_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_1

Cheers,
cms-bot

Yo

[2020-07-16 05:59] cmsbuild commented on #30735
Previous release "" does not appear to be a valid release name

[2020-07-16 06:00] silviodonato commented on #30735
release-notes since CMSSW_11_1_1

[2020-07-16 06:00] cmsbuild commented on #30734
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_1

[2020-07-16 06:00] cmsbuild commented on #30735
Generating release notes since CMSSW_11_1_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-16 06:00] cmsbuild commented on #30735
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_1_ROOT618 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_1_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_1_ROOT618

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnn

[2020-07-16 06:01] cmsbuild commented on #30735
Generating release notes since CMSSW_11_1_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-16 06:01] cmsbuild commented on #30735
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_1_ROOT618 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_1_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_1_ROOT618

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnn

[2020-07-16 06:01] cmsbuild commented on #30735
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_1_ROOT618

[2020-07-16 06:02] cmsbuild commented on #30735
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_1_ROOT618

[2020-07-16 08:05] tommasoboccali opened #30742 "Igprof analysis of 11_1_0_p3_ROOT618 : trklet::TrackletEngineDisplaced::readTables()"
Dear all,
an igprof analysis of L1+RECO [here](https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/L1_Reco_tt_evt1.mp) shows a large allocation (~ 1 GB) in

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/src/TrackletEngineDisplaced.cc#L393

(direct link [HERE](https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/L1_Reco

[2020-07-16 08:05] cmsbuild commented on #30742
A new Issue was created by  @tommasoboccali Tommaso Boccali.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-16 08:09] tommasoboccali opened #30744 "Igprof analysis of 11_1_0_p3_ROOT618 : trklet::TrackletEngineDisplaced::execute()"
Dear all,
an igprof analysis of L1+RECO [here](https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/L1_Reco_tt_evt1.mp)

shows a large allocation (250MB) in

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/src/TrackletEngineDisplaced.cc#L99

direct link [HERE](https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/L1_Reco_t

[2020-07-16 08:09] cmsbuild commented on #30744
A new Issue was created by  @tommasoboccali Tommaso Boccali.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-16 08:13] tommasoboccali opened #30745 "Igprof analysis of 11_1_0_p3_ROOT618 : CSCMotherboard::CSCMotherboard"
Dear all,
an igprof analysis of L1+RECO [here](https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/L1_Reco_tt.mp) shows a large allocation (~ 220 MB) in

CSCMotherboard::CSCMotherboard(unsigned int, unsigned int, unsigned int, unsigned int, unsigned int, edm::ParameterSet const&)

direct link to the report [HERE](https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/L1_Reco_tt_evt2

[2020-07-16 08:13] cmsbuild commented on #30745
A new Issue was created by  @tommasoboccali Tommaso Boccali.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-16 08:28] tommasoboccali commented on #30742
assign l1,upgrade

[2020-07-16 08:55] silviodonato commented on #30742
assign l1,upgrade

[2020-07-16 08:55] cmsbuild commented on #30742
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-16 09:59] #30734 closed

[2020-07-16 10:00] #30735 closed

[2020-07-16 10:01] silviodonato opened #30746 "Build CMSSW_10_2_23"

[2020-07-16 10:01] cmsbuild commented on #30746
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-16 10:27] silviodonato commented on #30746
+1

[2020-07-16 10:28] cmsbuild commented on #30746
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_23. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-07-16 10:28] cmsbuild commented on #30746
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-07-16 10:56] dpiparo opened #30747 "Is Eigen from within TensorFlow spawning extra threads?"
While debugging an unrelated issue I stumbled on what may look like a potential overcommit of grid nodes. It seems that TensorFlow relies on Eigen that spawns a thread pool of its own. E.g. see these stacktraces [1]. Can this be verified and, if necessary, fixed?
@smuzaffar @makortel for your info.

[1]
[code]

[2020-07-16 10:57] cmsbuild commented on #30747
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-16 11:01] davidlange6 commented on #30742
Can you suggest a workflow to use for testing?

On Jul 16, 2020, at 10:05 AM, Tommaso Boccali <notifications@github.com<mailto:notifications@github.com>> wrote:

Dear all,
an igprof analysis of L1+RECO here<https://dpiparo.web.cern.ch/dpiparo/cgi-bin/igprof-navigator/L1_Reco_tt_evt1.mp> shows a large allocation (~ 1 GB) in

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1af

[2020-07-16 11:08] tommasoboccali commented on #30742
this works for me:

CMSSW_11_1_0_p3_ROOT618 + PR 30684

generate pset with

cmsDriver.py step1 --conditions auto:phase2_realistic_T15 -n 100 --era Phase2C9 --eventcontent FEVTDEBUGHLT --runUnscheduled --filein file:/eos/cms/store/relval/CMSSW_11_0_0/RelValTTbar_14TeV/GEN-SIM-DIGI-RAW/PU25ns_110X_mcRun4_realistic_v3_2026D49PU200-v2/10000/01054EE2-1B51-C449-91A2-5202A60D16A3.root -s RAW2DIGI,L1Track

[2020-07-16 11:11] cmsbuild commented on #30746
The build has started for slc6_amd64_gcc700 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2526/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-16 11:17] tommasoboccali commented on #30742
without the continue

++++++ finished: global begin run for module: label = 'TTTracksFromExtendedTrackletEmulation' id = 23
     memory usage: 1739.8 MB allocated, 871.6 MB retained, 1739.8 MB peak

with
if (line =="") continue;

before the table resize:

++++++ finished: global begin run for module: label = 'TTTracksFromExtendedTrackletEmulation' id = 23
     memory usage: 673.3 MB allocated, 185

[2020-07-16 11:20] cmsbuild commented on #30746
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2527/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-16 11:20] tommasoboccali commented on #30742
PS: even if it generates a smaller Memory consumption, so not on the radar here, I suspect thesa can be done for

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/src/TripletEngine.cc#L433

[2020-07-16 11:21] davidlange6 commented on #30742
I would guess the empty lines are important as the index is used in the algorithm - but thats easily avoided

On Jul 16, 2020, at 1:17 PM, Tommaso Boccali <notifications@github.com<mailto:notifications@github.com>> wrote:

without the continue

++++++ finished: global begin run for module: label = 'TTTracksFromExtendedTrackletEmulation' id = 23
memory usage: 1739.8 MB allocated, 871.6 MB retained,

[2020-07-16 12:30] Dr15Jones commented on #30744
The memory is being used for the member data `table_`
https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/interface/TrackletEngineDisplaced.h#L44

with the allocations being various `resize` calls
https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/src/TrackletEngineDisplaced.cc#L326-L

[2020-07-16 13:03] makortel commented on #30745
assign l1

[2020-07-16 13:03] cmsbuild commented on #30745
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-16 13:08] makortel commented on #30747
assign core

[2020-07-16 13:09] cmsbuild commented on #30747
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-16 13:11] makortel commented on #30744
assign l1,upgrade

[2020-07-16 13:12] cmsbuild commented on #30744
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-16 13:21] davidlange6 commented on #30742
One idea is to clean something like this up
https://github.com/cms-sw/cmssw/compare/CMSSW_11_1_X...davidlange6:dl_tracklet_200716?expand=1

the printouts show
New: VSIZE 8157.83 0 RSS 5402.94 15.2266
vs
Old: VSIZE 10437.2 0 RSS 6860.28 2.57812

[2020-07-16 13:22] davidlange6 commented on #30742
of course the strings are really just decoded event ids of sorts

[2020-07-16 13:23] Dr15Jones commented on #30747
@dpiparo this is a known behavior we've been unable to stop. On the plus side, as far as we can tell the threads are never actually used for processing.

[2020-07-16 13:27] Dr15Jones commented on #30742
@davidlange6 there is no need to call clear in the destructor. The member data is going to be deleted anyway.

[2020-07-16 13:32] Dr15Jones commented on #30742
@davidlange6 the result returned by  `lower_bound` is not guaranteed to be an iterator to the value. If the value is not present the returned iterator is not the same as `end`, it is the iterator just before where the value should be. Therefore you still need to test that the value pointed to by the iterator matches `index`.

[2020-07-16 13:32] davidlange6 commented on #30742
Yes - I was just blindly copying what was done before:)

On Jul 16, 2020, at 3:27 PM, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> there is no need to call clear in the destructor. The member data is going to be deleted anyway.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2020-07-16 13:33] davidlange6 commented on #30742
```@davidlange6 the result returned by lower_bound is not guaranteed to be an iterator to the value. If the value is not present the returned iterator is not the same as end, it is the iterator just before where the value should be. Therefore you still need to test that the value pointed to by the iterator matches index.```

ah - then thats a bug! let me fix

[2020-07-16 13:47] davidlange6 commented on #30742
I updated the branch with Chris's comments.. (it seems there should be a better way)

[2020-07-16 13:48] cmsbuild commented on #30746
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_23-slc7_amd64_gcc700/2527
Some tests (

[2020-07-16 13:52] dpiparo commented on #30747
thanks @Dr15Jones , I thought it was worth checking. If the threads are not spinning, fine. I understand from Marcel that in TF2.1 this could be avoided: let's see... For me it's fine to close the issue.

[2020-07-16 14:06] davidlange6 commented on #30742
new VSIZE 7800.44 56 RSS 4879.73 27.8438
vs
old VSIZE 10437.2 0 RSS 6860.28 2.57812

(modulo new bugs introduced)

[2020-07-16 14:15] cmsbuild commented on #30746
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_23-slc6_amd64_gcc700/2526
Some tests (

[2020-07-16 14:24] cmsbuild commented on #30746
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_23-slc7_amd64_gcc700/2527

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-16 14:33] makortel commented on #30745
It looks tome that the main culprit is
https://github.com/cms-sw/cmssw/blob/0393b55ee8db053139999fc635a7bbc44c39ee3a/L1Trigger/CSCTriggerPrimitives/interface/CSCCathodeLCTProcessor.h#L201
coming via
https://github.com/cms-sw/cmssw/blob/0393b55ee8db053139999fc635a7bbc44c39ee3a/L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc#L50

The `PulseArray` is defined as
https://github.com/cms-sw/cmssw/bl

[2020-07-16 14:35] kpedro88 commented on #30744
@skinnari please take a look

[2020-07-16 14:40] rekovic opened #30754 "Adding TTStubs, missing dictionary for collection "bitset<64>""
I was trying to keep TTStubs which are created in the `L1TrackTrigger` when re-processing Phase-2 sample,
[code]

but encountered issues with dictionary

`
The class "pair<edm::Ref<edmNew::DetSetVector<TTStub<edm::Ref<edm::DetSetVector<Phase2TrackerDigi>,Phase2TrackerDigi,edm::refhelper::FindForDetSetVector<Phase2TrackerDigi> > > >,TTStub<edm::Ref<edm::DetSetVector<Phase2TrackerDigi>,Phase2Tracker

[2020-07-16 14:40] cmsbuild commented on #30754
A new Issue was created by  @rekovic .

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-16 14:44] makortel commented on #30754
The error complains about `we do not have a dictionary for the collection "bitset<64>"`, which needs to be added here
https://github.com/cms-sw/cmssw/blob/517d3727e9894c7df0497f694fac0abd46a43fb6/DataFormats/StdDictionaries/src/classes_def_others.xml#L11-L12

[2020-07-16 14:46] kpedro88 commented on #30742
@skinnari FYI

[2020-07-16 14:46] dildick commented on #30745
I think that the member `PulseArray hitsCLCT[99]; ` was removed in a recent CMSSW_11_2_X version. See https://github.com/cms-sw/cmssw/pull/30103

[2020-07-16 14:51] cmsbuild commented on #30746
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_23-slc6_amd64_gcc700/2526

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-16 15:11] gpetruc commented on #30676
I've committed the fix in https://github.com/gpetruc/cmssw/commit/85df523c54c72cdd0630056d18168d4678ecece4
I don't see any difference at all in the outputs (particle gun at high |&eta;|), so perhaps ieta = 41 doesn't ever happen, but since we already have enough headaches with finishing the HLT TDR release I think it's safer to fix it this way rather than shrinking the grid by one unit and risking

[2020-07-16 15:15] kpedro88 commented on #30676
@gpetruc I would go ahead and add it there, thanks

[2020-07-16 15:51] davidlange6 commented on #30742
I added some printouts that suggest the changes do not change the output.

Single threaded RSS savings seems to be 1GB - if anything the prototyped version is faster (5.0 seconds instead of 5.1 seconds for 20 events)

[2020-07-16 15:56] tommasoboccali commented on #30742
in any case that module is a "one" and not a "stream" - so the gain single
/ multi threads is the same.

It used to be a stream but we changed it last week (it was asking for 1x8
GB !!!!)

On Thu, Jul 16, 2020 at 5:52 PM David Lange <notifications@github.com>
wrote:

--
Tommaso Boccali
INFN Pisa

[2020-07-16 16:01] rekovic commented on #30754
Thanks @makortel

[2020-07-16 16:06] davidlange6 commented on #30742
As Tommaso and I just discussed -  that should destroy the CPU efficiency in a L1 only job.

On Jul 16, 2020, at 5:56 PM, Tommaso Boccali <notifications@github.com<mailto:notifications@github.com>> wrote:

in any case that module is a "one" and not a "stream" - so the gain single
/ multi threads is the same.

It used to be a stream but we changed it last week (it was asking for 1x8
GB !!!!)

On Th

[2020-07-16 16:08] Dr15Jones commented on #30742
If the table_ is now only setup in the constructor, then it could be effectively 'const'. If that is the case, then the code could be switched back to a ::stream module using a `GlobalCache` to hold the table which is then shared across all the stream copies.

[2020-07-16 16:27] #30670 closed

[2020-07-16 20:16] wddgit commented on #30504
I was waiting for some response to my previous comment to know how to proceed with this. I'll try summarizing it so it is not so long and hard to read. In many functions the change would look similar this:

[code]
to
[code]
The previous comment lists all the places where I would need to make an interface change like this. Plus in Worker there would be additional changes necessary to deal with the

[2020-07-16 21:09] silviodonato commented on #30746
upload all

[2020-07-16 21:09] cmsbuild commented on #30746
Queing Jenkins upload for slc6_amd64_gcc700

[2020-07-16 21:09] cmsbuild commented on #30746
Queing Jenkins upload for slc7_amd64_gcc700

[2020-07-16 21:09] silviodonato opened #30765 "Build CMSSW_11_1_1_patch1"

[2020-07-16 21:10] cmsbuild commented on #30765
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-16 21:10] cmsbuild commented on #30746
The upload has started for slc6_amd64_gcc700 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1620/console

[2020-07-16 21:10] silviodonato commented on #30765
+1

[2020-07-16 21:10] cmsbuild commented on #30765
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-16 21:10] cmsbuild commented on #30765
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-16 21:11] silviodonato commented on #30765
abort

[2020-07-16 21:11] #30765 closed

[2020-07-16 21:12] cmsbuild commented on #30746
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_23-slc6_amd64_gcc700/1620

[2020-07-16 21:12] cmsbuild commented on #30746
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1621/console

[2020-07-16 21:12] cmsbuild commented on #30765
The build has started for cc8_amd64_gcc8 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2528/console
CMSDIST Branch: [REL/CMSSW_11_1_1/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_1/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-16 21:12] cmsbuild commented on #30765
The build has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2529/console
CMSDIST Branch: [REL/CMSSW_11_1_1/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_1/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-16 21:12] cmsbuild commented on #30765
Deleting CMSSW_11_1_1_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_1_patch1 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_1_1_patch1/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_1_patch1/slc7_aarch64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_1_pa

[2020-07-16 21:12] cmsbuild commented on #30765
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1_patch1-cc8_amd64_gcc8/2528

[2020-07-16 21:12] cmsbuild commented on #30765
The was an error for slc7_ppc64le_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_1_patch1-slc7_ppc64le_gcc820/2530

[2020-07-16 21:13] cmsbuild commented on #30746
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_23-slc7_amd64_gcc700/1621

[2020-07-16 21:13] silviodonato commented on #30746
release-notes

[2020-07-16 21:13] cmsbuild commented on #30746
Generating release notes since CMSSW_10_2_22.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-16 21:13] cmsbuild commented on #30746
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_23 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_22 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_23

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-07-16 21:15] cmsbuild commented on #30746
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_23

[2020-07-16 21:21] cvuosalo commented on #28914
PR #29905 has migrated the Tracker Numbering Builder GeometricDet objects to DD4hep. Now the same changes need to be made to the MTD Numbering Builder.

[2020-07-16 21:32] silviodonato opened #30766 "Unknown parameter name ClusterShapeCacheSrc specified while calling Modifier"
We have three failing workflows (see https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_2/2020-07-16-1100?selectedArchs=slc7_amd64_gcc820&selectedFlavors=X&selectedStatus=failed). The message is
[code]

I suspect it is related to https://github.com/cms-sw/cmssw/pull/30671 which applies changes to `RecoTracker/IterativeTracking/python/PixelLessStep_cff.py`.
@jeongeun could you check and ev

[2020-07-16 21:32] silviodonato commented on #30766
assign reconstruction

[2020-07-16 21:32] cmsbuild commented on #30766
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-16 21:32] cmsbuild commented on #30766
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-17 02:03] makortel commented on #30669
+1

Fix has been merged

[2020-07-17 02:04] cmsbuild commented on #30669
This issue is fully signed and ready to be closed.

[2020-07-17 06:34] tommasoboccali commented on #30742
I did a fast test about the

"
As Tommaso and I just discussed -  that should destroy the CPU efficiency in a L1 only job.
"

running only L1 with 8 threads (100 events) -- with the module in "one" configuration.

It is certainly true we do not get 100% cu eff, but it not really "destroyed":
I get during event loop

 - WALL: Total loop:  1541.18
- CPU: Total loop:  10055.5

so eff = 10055/(8*1541)

[2020-07-17 07:29] tommasoboccali commented on #30742
I did a test @ 4 threads:

WALL: Total loop: 2625
CPU: Total loop: 9694

eff = 92%.

RES max is 7400 ... so it would be still a possibility if we want to increase cpu eff

[2020-07-17 07:38] davidlange6 commented on #30742
A matter of definition:) 82% in a controlled environment is not good for production. (Anyway its not a current production setup, so no issue..)

On Jul 17, 2020, at 8:35 AM, Tommaso Boccali <notifications@github.com<mailto:notifications@github.com>> wrote:

I did a fast test about the

"
As Tommaso and I just discussed - that should destroy the CPU efficiency in a L1 only job.
"

running only L1 w

[2020-07-17 07:51] davidlange6 commented on #30742
It seems the table in question is several layers of classes down from the producer itself. Looks like significant code surgery to me (and probably doesn’t work for the module in general?) Refactoring needed..

On Jul 17, 2020, at 9:30 AM, Tommaso Boccali <notifications@github.com<mailto:notifications@github.com>> wrote:

I did a test @ 4 threads:

WALL: Total loop: 2625
CPU: Total loop: 9694

eff

[2020-07-17 09:09] silviodonato opened #30774 "Build CMSSW_11_1_2"

[2020-07-17 09:09] cmsbuild commented on #30774
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-17 09:12] silviodonato commented on #30774
+1

[2020-07-17 09:13] cmsbuild commented on #30774
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-17 09:13] cmsbuild commented on #30774
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-17 09:15] cmsbuild commented on #30774
The build has started for cc8_amd64_gcc8 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2531/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-17 09:15] cmsbuild commented on #30774
The build has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2532/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-17 09:16] cmsbuild commented on #30774
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2533/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-17 10:45] cmsbuild commented on #30774
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2534/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-17 11:57] cmsbuild commented on #30774
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2-slc7_ppc64le_gcc820/2533
Some test

[2020-07-17 12:27] cmsbuild commented on #30774
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2-cc8_amd64_gcc8/2531
Some tests ( runThe

[2020-07-17 12:59] cmsbuild commented on #30774
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2-slc7_ppc64le_gcc820/2533

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-17 13:06] cmsbuild commented on #30774
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2-cc8_amd64_gcc8/2531

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-17 13:08] slava77 opened #30775 "code-checks/format for python"
now that we are regularly formatting c++, it would be nice to add something similar for python

[2020-07-17 13:08] cmsbuild commented on #30774
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2-slc7_amd64_gcc820/2532
Some tests (

[2020-07-17 13:08] slava77 commented on #30775
assign core

[2020-07-17 13:09] cmsbuild commented on #30775
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-17 13:09] cmsbuild commented on #30775
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-17 13:24] #30746 closed

[2020-07-17 13:45] slava77 commented on #30775
some online pointers (although I have a rather limited experience with python)

https://google.github.io/styleguide/pyguide.html
https://github.com/google/yapf

[2020-07-17 13:47] cmsbuild commented on #30774
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2-slc7_amd64_gcc820/2532

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-17 13:57] cmsbuild commented on #30774
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2-slc7_aarch64_gcc820/2534
Some test

[2020-07-17 14:29] makortel commented on #30504
Sounds good to me, but could @Dr15Jones also comment (especially about "if it's worth it").

[2020-07-17 14:32] silviodonato commented on #30774
upload all

[2020-07-17 14:32] cmsbuild commented on #30774
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-17 14:32] cmsbuild commented on #30774
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-17 14:32] cmsbuild commented on #30774
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-17 14:32] cmsbuild commented on #30774
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-17 14:33] cmsbuild commented on #30774
The upload has started for cc8_amd64_gcc8 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1622/console

[2020-07-17 14:33] cmsbuild commented on #30774
The upload has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1624/console

[2020-07-17 14:33] cmsbuild commented on #30774
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1623/console

[2020-07-17 14:33] cmsbuild commented on #30774
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1625/console

[2020-07-17 14:34] cmsbuild commented on #30774
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2-slc7_aarch64_gcc820/1623

[2020-07-17 14:34] cmsbuild commented on #30774
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2-cc8_amd64_gcc8/1622

[2020-07-17 14:34] cmsbuild commented on #30774
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2-slc7_ppc64le_gcc820/1625

[2020-07-17 14:35] cmsbuild commented on #30774
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2-slc7_amd64_gcc820/1624

[2020-07-17 14:37] Dr15Jones commented on #30504
I'm always a big fan of fixing interfaces to be appropriate.

[2020-07-17 14:41] wddgit commented on #30504
I will work on this today and implement it.

[2020-07-17 14:45] silviodonato commented on #30774
release-notes

[2020-07-17 14:45] cmsbuild commented on #30774
Generating release notes since CMSSW_11_1_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-17 14:46] cmsbuild commented on #30774
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2

[2020-07-17 15:05] cmsbuild commented on #30774
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2-slc7_aarch64_gcc820/2534

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-17 15:35] slava77 opened #30776 "cleanup RecoJets/JetProducers/python/PileupJetIDCutParams_cfi.py from old/unsupported PSets"
in a follow up to https://github.com/cms-sw/cmssw/pull/30773#discussion_r456513115

 @camclean @alefisico

[2020-07-17 15:36] slava77 commented on #30776
assign reconstruction

[2020-07-17 15:36] cmsbuild commented on #30776
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-17 15:36] cmsbuild commented on #30776
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-17 19:04] slava77 commented on #30586
IIUC, the data products defined in EventFilter/GEMRawToDigi/ are not meant for persistency.
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCreatingNewProducts#Restrictions_on_a_package_defini
[code]
So, it would be OK to define the dictionaries here, more appropriately with a transient flag set.

However, EventFilter/GEMRawToDigi/src/classes_def.xml is the only case in the EventFilter subsy

[2020-07-17 19:32] #30774 closed

[2020-07-17 19:32] srimanob opened #30813 "Phase2 autocond GT seems wrong when workflow is created from runTheMatrix"
I would like to clarify what GT we expect to see in the Phase2 workflow.

Looking around in 11_1_0 or above relvals that PdmV injected, i.e. (*), and pick one of them:
https://cmsweb.cern.ch/reqmgr2/fetch?rid=shundal_RVCMSSW_11_1_0H125GGgluonfusion_14__2026D49noPU_200706_121457_7516)
I see
"GlobalTag": "110X_mcRun4_realistic_v3",

However, for injection, the autocond is used, auto:phase2_realistic

[2020-07-17 19:32] cmsbuild commented on #30813
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-17 19:33] silviodonato commented on #30766
Fixed https://github.com/cms-sw/cmssw/pull/30767

[2020-07-17 19:33] #30766 closed

[2020-07-17 19:33] silviodonato commented on #30754
Fixed https://github.com/cms-sw/cmssw/pull/30768

[2020-07-17 19:33] #30754 closed

[2020-07-17 19:34] silviodonato commented on #30675
Fixed https://github.com/cms-sw/cmssw/pull/30683

[2020-07-17 19:34] #30675 closed

[2020-07-17 19:35] #30669 closed

[2020-07-17 19:38] silviodonato commented on #30664
Fixed https://github.com/cms-sw/cmsdist/pull/6074

[2020-07-17 19:38] #30664 closed

[2020-07-17 19:39] #30813 closed

[2020-07-17 19:44] silviodonato opened #30814 "Build CMSSW_7_1_46_patch1"

[2020-07-17 19:45] cmsbuild commented on #30814
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-17 19:45] silviodonato commented on #30814
+1

[2020-07-17 19:46] cmsbuild commented on #30814
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_46_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2020-07-17 19:46] cmsbuild commented on #30814
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-07-17 19:54] cmsbuild commented on #30814
The build has started for slc6_amd64_gcc481 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2535/console
CMSDIST Branch: [REL/CMSSW_7_1_46/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_46/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2020-07-17 20:16] cmsbuild commented on #30814
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_46_patch1-slc6_amd64_gcc481/2535
Some t

[2020-07-17 20:29] cmsbuild commented on #30814
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_46_patch1-slc6_amd64_gcc481/2535

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2020-07-18 15:21] aehart commented on #30742
@skinnari, @tomalin, and I discussed this issue and #30744, and decided that the best solution for now was to disable the tables in the TrackletEngineDisplaced and TripletEngine. I have now implemented this in PR #30818, and it seems to have the desired effect on memory usage.

Please let me know if there's anything else I can do to help resolve these issues.

[2020-07-18 15:22] Dr15Jones commented on #30676
This is the same issue as reported in #30583

[2020-07-18 15:35] Dr15Jones opened #30819 "Undefined behavior in TriggerMenuParser"
The UBSAN IB is reporting the following problems in workflow 11834.24 (possibly also in others).

[code]

[code]

[code]

[code]

All these problems stem from here:
https://github.com/cms-sw/cmssw/blob/4c0913fabe8081975cee9b0683d6906338a7da3f/L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc#L157

https://github.com/cms-sw/cmssw/blob/4c0913fabe8081975cee9b0683d6906338a7da3f/L1Trigger/L1TGlobal/plug

[2020-07-18 15:35] cmsbuild commented on #30819
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-18 15:36] Dr15Jones commented on #30819
assign l1

[2020-07-18 15:36] cmsbuild commented on #30819
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-18 15:51] Dr15Jones opened #30820 "Improper static_cast n HcalAmplifier"
The UBSAN build RelVal for workflow 11834.24  found the following

[code]

The problem orginates from the following static_cast

https://github.com/cms-sw/cmssw/blob/master/SimCalorimetry/HcalSimAlgos/src/HcalAmplifier.cc#L47

[2020-07-18 15:51] Dr15Jones commented on #30820
assign simulation

[2020-07-18 15:51] cmsbuild commented on #30820
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-18 15:51] cmsbuild commented on #30820
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-18 15:55] Dr15Jones opened #30821 "Improper static_cast in CSCTriggerPrimitivesBuilder"
The UBSAN build RelVal for workflow 11834.24 found the following

[code]

The problem stems from this static_cast

https://github.com/cms-sw/cmssw/blob/master/L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc#L340

[2020-07-18 15:55] Dr15Jones commented on #30821
assign l1

[2020-07-18 15:55] cmsbuild commented on #30821
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-18 15:55] cmsbuild commented on #30821
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-18 16:49] silviodonato commented on #30814
upload all

[2020-07-18 16:50] cmsbuild commented on #30814
Queing Jenkins upload for slc6_amd64_gcc481

[2020-07-18 16:52] cmsbuild commented on #30814
The upload has started for slc6_amd64_gcc481 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1626/console

[2020-07-18 16:52] cmsbuild commented on #30814
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_46_patch1-slc6_amd64_gcc481/1626

[2020-07-18 16:54] silviodonato commented on #30814
release-notes

[2020-07-18 16:54] cmsbuild commented on #30814
Generating release notes since CMSSW_7_1_46.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-18 16:54] cmsbuild commented on #30814
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_46_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_46 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_46_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2020-07-18 16:55] cmsbuild commented on #30814
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_46_patch1

[2020-07-18 17:01] #30814 closed

[2020-07-19 01:40] makortel opened #30826 "Clean up Workers of deleted Modules"
PR https://github.com/cms-sw/cmssw/pull/29553 changed the framework to delete modules whose output products are not consumed by any otherwise-running module. The Workers corresponding a deleted modules were still left there (see https://github.com/cms-sw/cmssw/pull/29553#discussion_r420201489). This issue is to remind that those Workers should also be cleaned up.

[2020-07-19 01:41] makortel commented on #30826
assign core

[2020-07-19 01:41] cmsbuild commented on #30826
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-19 01:41] cmsbuild commented on #30826
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-19 07:06] abdoulline commented on #30820
@lwang046    Long,  I suppose that putting the cast **under**  HB/HE selection would help avoiding the (HFSimparameters cast) issue:

if ((frame.id().subdetId() == HcalGenericDetId::HcalGenBarrel) ||
    (frame.id().subdetId() == HcalGenericDetId::HcalGenEndcap)) {
  const HcalSimParameters& params = static_cast<const HcalSimParameters&>(theParameterMap->simParameters(frame.id()));
  if (params.de

[2020-07-19 09:00] fwyzard opened #30828 "make using ESGetToken less verbose"
It looks to me like an `ESGetToken` object already knows the types that need to be passed to `esConsumes<...>()`.

Why not add a simpler `ESGetToken` constructor that takes as argument only a pointer or reference to the module being constructed ?
So that a line like
[code]
could become
[code]
and the constructor could take care of calling the module's `sConsumes<T, R>()` with the right types ?

[2020-07-19 09:01] cmsbuild commented on #30828
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-19 09:07] fwyzard commented on #30828
assign core

[2020-07-19 09:08] cmsbuild commented on #30828
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-19 09:23] fwyzard commented on #30828
In fact, if such constructor were available, one could then just define the `ESGetToken` data members as
[code]
and it wouldn't be necessary to initialise it explicitly in the constructor.

[2020-07-19 12:14] lwang046 commented on #30820
Thank you @abdoulline  that indeed seems to be the cause.

[2020-07-20 06:48] #30747 closed

[2020-07-20 06:50] dpiparo commented on #30583
@rekovic can this fix be merged? We cannot live with unsafe code in production.

[2020-07-20 12:46] makortel opened #30836 "Job failures in NANO step"
IB CMSSW_11_2_X_2020-07-19-2300 shows many failures in NANO step along
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-07-19-2300/pyRelValMatrixLogs/run/1302.18_ProdTTbar_13UP18+ProdTTbar_13UP18+DIGIUP18PROD1+RECOPRODUP18+MINIAODMCUP18+NANOPRODUP18/step5_ProdTTbar_13UP18+ProdTTbar_13UP18+DIGIUP18PROD1+RECOPRODUP18+MINIAODMCUP18+NANOPRODUP18.log#/
(the actual

[2020-07-20 12:46] cmsbuild commented on #30836
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-20 12:46] makortel commented on #30836
The Rivet update (that shows errors in the logs) https://github.com/cms-sw/cmsdist/pull/6028 was included in that IB, could that be the cause?

[2020-07-20 13:33] mrodozov commented on #30836
@intrepid42 does this has something to do with the update itself ot its the FileReadError exception indeed ?

[2020-07-20 14:08] mrodozov commented on #30836
@makortel I don't know whats happening but I just ran

1302.18_ProdTTbar_13UP18+ProdTTbar_13UP18+DIGIUP18PROD1+RECOPRODUP18+MINIAODMCUP18+NANOPRODUP18 Step0-PASSED Step1-PASSED Step2-PASSED Step3-PASSED Step4-PASSED  - time date Mon Jul 20 16:00:20 2020-date Mon Jul 20 15:48:04 2020; exit: 0 0 0 0 0
1 1 1 1 1 tests passed, 0 0 0 0 0 failed

wihtout an error :/

[2020-07-20 14:21] Dr15Jones commented on #30836
@mrodozov how many threads did you use when you ran your test?

[2020-07-20 14:25] makortel commented on #30836
It fails for me in CMSSW_11_2_X_2020-07-20-1100 already on a single thread.

[2020-07-20 14:28] makortel commented on #30836
In my single-thread test above, I get the failure on the second event, and nothing on file read
[code]

[2020-07-20 14:32] makortel commented on #30836
assign generators

[2020-07-20 14:32] cmsbuild commented on #30836
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-20 14:34] Dr15Jones commented on #30836
It's callng exit?!

[2020-07-20 14:36] makortel commented on #30836
I was wrong, the NANO step appears to run on two threads even if the rest of the workflow runs with single thread.

[2020-07-20 14:39] makortel commented on #30836
Nice catch, that is also visible in the log I linked to in the issue description
[code]

[2020-07-20 14:43] makortel commented on #30836
I seems to me that the culprit call to `exit()` is here
https://gitlab.com/hepcedar/rivet/-/blob/rivet-3.1.2/src/Core/AnalysisHandler.cc#L131-139

[2020-07-20 14:44] makortel commented on #30836
There is also another call to `exit()`
https://gitlab.com/hepcedar/rivet/-/blob/rivet-3.1.2/src/Core/AnalysisHandler.cc#L110-114

[2020-07-20 14:55] makortel commented on #30836
The calls to `exit()` are bad, but, on the other hand, they do report an actual error that presumably should have failed the job anyway. I suppose to options are to either revert https://github.com/cms-sw/cmsdist/pull/6028, try to understand the actual error better, or disable Rivet in the NANO step. (further ideas?)

But we should act rather quickly because the errors affect PR testing. So maybe

[2020-07-20 15:16] silviodonato commented on #30836
@intrepid42 I'm temporary reverting  https://github.com/cms-sw/cmsdist/pull/6028 and https://github.com/cms-sw/cmssw/pull/30590 looking forward a fix of this error (see https://github.com/cms-sw/cmsdist/pull/6103 and https://github.com/cms-sw/cmssw/pull/30838)

[2020-07-20 16:28] intrepid42 commented on #30836
Ok, I can investigate later this week.

[2020-07-20 19:26] silviodonato opened #30842 "Build CMSSW_11_1_2_patch1"

[2020-07-20 19:27] cmsbuild commented on #30842
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2020-07-20 19:28] silviodonato commented on #30842
+1

[2020-07-20 19:28] cmsbuild commented on #30842
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-20 19:28] cmsbuild commented on #30842
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-20 19:29] cmsbuild commented on #30842
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2536/console
CMSDIST Branch: [REL/CMSSW_11_1_2/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-20 19:29] cmsbuild commented on #30842
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2537/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_aarch64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_aarch64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-20 19:30] cmsbuild commented on #30842
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2538/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_ppc64le_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_ppc64le_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-20 19:57] cmsbuild commented on #30842
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2539/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-20 20:00] cmsbuild commented on #30842
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch1-slc7_ppc64le_gcc820/2538
So

[2020-07-20 20:12] cmsbuild commented on #30842
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch1-slc7_aarch64_gcc820/2537
So

[2020-07-20 20:13] cmsbuild commented on #30842
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch1-cc8_amd64_gcc8/2536
Some tests (

[2020-07-20 20:31] cmsbuild commented on #30842
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch1-slc7_amd64_gcc820/2539
Some t

[2020-07-20 20:54] cmsbuild commented on #30842
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch1-cc8_amd64_gcc8/2536

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-20 21:01] cmsbuild commented on #30842
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch1-slc7_ppc64le_gcc820/2538

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-20 21:09] cmsbuild commented on #30842
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch1-slc7_amd64_gcc820/2539

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-20 21:11] cmsbuild commented on #30842
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch1-slc7_aarch64_gcc820/2537

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-21 04:05] silviodonato commented on #30842
upload all

[2020-07-21 04:06] cmsbuild commented on #30842
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-21 04:06] cmsbuild commented on #30842
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-21 04:06] cmsbuild commented on #30842
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-21 04:06] cmsbuild commented on #30842
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-21 04:08] cmsbuild commented on #30842
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1629/console

[2020-07-21 04:08] cmsbuild commented on #30842
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1628/console

[2020-07-21 04:08] cmsbuild commented on #30842
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1630/console

[2020-07-21 04:08] cmsbuild commented on #30842
The upload has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1627/console

[2020-07-21 04:09] cmsbuild commented on #30842
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch1-slc7_amd64_gcc820/1629

[2020-07-21 04:09] cmsbuild commented on #30842
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch1-slc7_aarch64_gcc820/1628

[2020-07-21 04:10] cmsbuild commented on #30842
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch1-slc7_ppc64le_gcc820/1630

[2020-07-21 04:11] cmsbuild commented on #30842
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch1-cc8_amd64_gcc8/1627

[2020-07-21 06:33] veelken opened #30844 "Fix compilation warning/error in FWCore/ParameterSetReader/interface/ParameterSetReader.h"
Hi,

please remove the superfluous semicolon in line
  https://github.com/cms-sw/cmssw/blob/master/FWCore/ParameterSetReader/interface/ParameterSetReader.h#L18
The presence of this semicolon violates the C++ syntax for namespaces ( https://en.cppreference.com/w/cpp/language/namespace ) and produces a compilation warning, which turns into an error in case code that includes this header files is com

[2020-07-21 06:33] cmsbuild commented on #30844
A new Issue was created by  @veelken Christian Veelken.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-21 06:44] silviodonato commented on #30842
release-notes

[2020-07-21 06:44] cmsbuild commented on #30842
Generating release notes since CMSSW_11_1_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-21 06:44] cmsbuild commented on #30842
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_1_2_patch1 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_2_patch1

Cheers

[2020-07-21 06:45] cmsbuild commented on #30842
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2_patch1

[2020-07-21 07:16] #30842 closed

[2020-07-21 12:32] makortel commented on #30844
assign core

[2020-07-21 12:33] cmsbuild commented on #30844
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-21 12:35] makortel commented on #30844
Thanks for reporting, fixed in #30846

I'm left to wonder why none of our tools reported that.

[2020-07-21 14:57] guitargeek opened #30849 "PFMuonAlgo configuration"
The PFProducer tries to configure the PFMuonAlgo with the parameters of PFEgammaFilters:

https://github.com/cms-sw/cmssw/blob/master/RecoParticleFlow/PFProducer/plugins/PFProducer.cc#L352

In practice, this causes no problem *for the moment* because the PFMuonAlgo has its own default configuration hardcoded in the constructor in case no parameters are provided:

https://github.com/cms-sw/cmssw/bl

[2020-07-21 14:58] cmsbuild commented on #30849
A new Issue was created by  @guitargeek Jonas Rembser.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-21 15:00] makortel commented on #30849
assign reconstruction

[2020-07-21 15:00] cmsbuild commented on #30849
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-21 15:22] davidlange6 commented on #30570
#30848 at least partly addresses this issue I believe.

[2020-07-21 16:24] slava77 commented on #30849
@hatakeyamak @bendavid
please take a note

[2020-07-21 17:01] schneiml opened #30853 "Huge histograms in HGCAL Validation"
Recently, we experienced some problems with DQMIO merge jobs running out of memory on Phase2 workflows (various threads on this issue exist). These problems are caused by two histograms:
[code]

Booked here: https://github.com/cms-sw/cmssw/blob/master/Validation/HGCalValidation/plugins/HGCalHitValidation.cc#L156-L163

Each consuming a significant fraction of the total memory used by the affected j

[2020-07-21 17:01] cmsbuild commented on #30853
A new Issue was created by  @schneiml Marcel Schneider.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-21 17:30] Dr15Jones commented on #30853
assign dqm, upgrade

[2020-07-21 17:30] cmsbuild commented on #30853
New categories assigned: dqm,upgrade

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-21 17:47] srimanob commented on #30853
FYI @bsunanda @rovere @hatakeyamak

[2020-07-21 19:45] mrodozov opened #30863 "Segfault on file close in materialBudgetTrackerPlots test"
The test failing in
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_aarch64_gcc8/CMSSW_11_2_X_2020-07-20-2300/unitTestLogs/Validation/Geometry#/
and
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-07-20-2300/unitTestLogs/Validation/Geometry#/

has the following log:
[code]

It's very consistent in the tests but not when ran by hand.

[2020-07-21 19:46] cmsbuild commented on #30863
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-21 21:56] makortel commented on #30863
assign dqm, geometry

[2020-07-21 21:57] cmsbuild commented on #30863
New categories assigned: geometry,dqm

@Dr15Jones,@cvuosalo,@mdhildreth,@jfernan2,@andrius-k,@schneiml,@fioriNTU,@makortel,@kmaeshima,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-21 21:58] makortel commented on #30863
@mrodozov Is that the full log? I'd guess from the thread numbers that something could be missing from there.

[2020-07-21 22:36] mrodozov commented on #30863
[runP_Tracker_cfg1.log](https://github.com/cms-sw/cmssw/files/4956736/runP_Tracker_cfg1.log)
here is the full log

[2020-07-21 23:07] makortel commented on #30863
Thanks. So of the 257 threads, 255 are in `tbb::internal::futex_wait` (!?).

[2020-07-22 00:58] slava77 commented on #24377
ping
a recent example is in
https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline-tests/CMSSW_11_2_X_2020-07-21-1100/slc7_amd64_gcc820/-GenuineIntel/matrix-results/136.731_RunSinglePh2016B+RunSinglePh2016B+HLTDR2_2016+RECODR2_2016reHLT_skimSinglePh_HIPM+HARVESTDR2/step3_RunSinglePh2016B+RunSinglePh2016B+HLTDR2_2016+RECODR2_2016reHLT_skimSinglePh_HIPM+HARVESTDR2.log

[2020-07-22 01:00] slava77 commented on #24377
@cms-sw/l1-l2
re-tagging l1, in case the initial list in L1 changed since 2018

[2020-07-22 07:30] #30844 closed

[2020-07-22 07:49] civanch commented on #30820
+1

[2020-07-22 07:49] cmsbuild commented on #30820
This issue is fully signed and ready to be closed.

[2020-07-22 07:52] smuzaffar commented on #30863
strange, why cmsRun is using 256 threads? What is default thread value for cmsRun?

[2020-07-22 08:07] rovere commented on #30853
@apsallid @lecriste
would you mind taking a look and reducing the number of bins to a reasonable number?

[2020-07-22 09:41] davidlange6 opened #30870 "trigger full builds for 11_2_X"
Hi @smuzaffar @mrodozov
because of the moved classes in a recent GEM PR, we are getting duplicated class warnings in the 2300 IB last night. I believe the fix is to trigger full builds (if not done already)

btw - cmssdt.cern.ch seems down?

[2020-07-22 09:52] mrodozov commented on #30870
I'll check whats happening, and start the IB

[2020-07-22 09:53] smuzaffar commented on #30870
yes the front-end server for cmssdt is down.

[2020-07-22 13:23] makortel commented on #30863
The default should be 1...

[2020-07-22 13:24] makortel commented on #30863
Here is a relevant stack trace I got when running myself
[code]
Total number of threads was 17. Threads 3-17 were in `tbb::internal::futex_wait`, and 2 in `edm::service::InitRootHandlers::stacktraceHelperThread()`.

[2020-07-22 13:26] apsallid commented on #30853
@bsunanda @rovere @schneiml Is reducing in half (e.g. 8200 to 4100) a good choice for all sides or more is needed? I don't know if this is a trial and error procedure.

[2020-07-22 13:28] makortel commented on #30863
I think `MaterialBudgetTree::endOfRun()` expects to be run once
https://github.com/cms-sw/cmssw/blob/3031b83072310f0ce4053f45a3a01e91768ac13d/Validation/Geometry/src/MaterialBudgetTree.cc#L212-L228

[2020-07-22 13:31] bsunanda commented on #30853
The level of reduction should come from DQM and PPD convenors.
________________________________
From: apsallid [notifications@github.com]
Sent: 22 July 2020 15:26
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Huge histograms in HGCAL Validation (#30853)

@bsunanda<https://github.com/bsunanda> @rovere<https://github.com/rovere> @schneiml<https://github.com/schneiml> Is

[2020-07-22 13:36] makortel commented on #30863
I'm wondering if at least the amount of TBB threads could be related to the thread-local storage cleanup trick in
https://github.com/cms-sw/cmssw/blob/3031b83072310f0ce4053f45a3a01e91768ac13d/SimG4Core/Application/src/RunManagerMTWorker.cc#L188-L212
It does call `tbb::task::enqueue()` which, at least with only 1 thread for TBB, does add additional thread(s?) to guarantee progress.

[2020-07-22 13:42] rovere commented on #30853
@bsunanda the level or reduction should be derived from the usefulness and information that is supposed to be stored in the plots. If I were DQM convener, I'd refuse anything less than a factor 10 reduction in number of bins (for each axis). This is validation, not visualization.

[2020-07-22 13:42] Dr15Jones commented on #30863
I just took a look and for the python module CmsRun I failed to update it to match a change I made a while ago where I moved the setting of the number of TBB threads. So right now CmsRun will use TBB's default (not cmsRun's default) which is to use all threads. I will work on a fix.

[2020-07-22 13:46] hatakeyamak commented on #30849
I see the issue. I will fix this asap.

[2020-07-22 14:09] dan131riley commented on #30359
This may be related to the issue in #23715, which also involved crashes in MultipleScatteringParametrisation.  That issue was closed without an entirely satisfactory resolution.

[2020-07-22 14:14] makortel commented on #30863
Building with debug symbols and disabling the simulation big library the segfault occurs (when it occurs) on this line
https://github.com/cms-sw/cmssw/blob/3031b83072310f0ce4053f45a3a01e91768ac13d/Validation/Geometry/src/MaterialBudgetTree.cc#L220

[2020-07-22 14:15] dan131riley commented on #30359
Should have added that we saw this crash in the default slc7_amd64_gcc820 IBs, which is ROOT 6.20.  Stack trace:

[code]

[2020-07-22 14:35] jfernan2 commented on #30853
@apsallid  at least factor 10 (or even 20 in line with the MEs for X and Y coordinates, unless Z is indeed as much as twice sensible) is requested yes, as @rovere pointed out, a factor 2 is totally insufficient. Please bear in mind the usual stats involved in a RelVal sample for validation and the stats you plan to get to populate those MEs.
As an example, for a TT 5k event RelVal:
https://tinyurl

[2020-07-22 14:35] makortel commented on #30863
I added a printout
[code]

and indeed when it is crashing it is called a second time
[code]

[2020-07-22 14:42] makortel commented on #30863
assign simulation

[2020-07-22 14:42] cmsbuild commented on #30863
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-22 14:49] makortel commented on #30863
The second call to `EndOfRun()` can come from
https://github.com/cms-sw/cmssw/blob/3031b83072310f0ce4053f45a3a01e91768ac13d/SimG4Core/Application/src/RunManagerMTWorker.cc#L169-L172
when the destructor runs in a different thread than the `RunManagerMTWorker::endRun()`.

@civanch Can you comment how necessary it is to call the code in
https://github.com/cms-sw/cmssw/blob/3031b83072310f0ce4053f45a3a

[2020-07-22 16:49] wddgit commented on #30504
How far down the function call stack should I continue this migration?

At the moment, I am changing every function where the EventSetupImpl argument is optional to remove the need to make the dummy EventSetupImpl object. But I could go further. For example, I could make this change also and propagate it as far as I could without changing the public interface of modules:
[code]
to
[code]
https://c

[2020-07-22 17:59] dildick commented on #30821
@Dr15Jones I'll have a look.

[2020-07-22 17:59] dildick commented on #30644
@bsunanda Were you able to reproduce the error?

[2020-07-22 18:53] civanch commented on #30863
@makortel , may be it is not what destructor should do. Better to left something not finished if terminateRun() is not called. I will try to the fix into pending PR #30652 or better make a new one.

[2020-07-22 20:06] bsunanda commented on #30644
@dildick Yes I understand the issue. This is mainly due to transition from 10_6 to 11_0. GEMDetId internal structure is modified to accommodate GE0. So there is an internal conversion code which changes rawId to match the  current format. The cell specified by (Re -1 Ri 1 St 1 La 2 Ch 10 Ro 1) is 688425248. In older format it was 671189248

[2020-07-22 20:07] bsunanda commented on #30644
I am submitting a new PR which tests the issue and adds some test code

[2020-07-23 01:16] makortel commented on #30504
Good question. On one hand it would be clearer to propagate the `RunTransitionInfo` etc everywhere, on the other hand it is not strictly needed and takes time. @wddgit If you think it could be done in a day or two, maybe then continue? @Dr15Jones would you have any better suggestions?

[2020-07-23 12:05] schneiml commented on #30853
The current version of these plots is so big that DQMGUI refuses to render them, as I suspected (the limit is 8MB IIRC, so somewhere around 1M-2M bins).

In general, we don't really care about a few thousand bins here and there (and that gives plenty of room to add all sorts of plots), but once it gets to millions of bins, memory consumption really starts to matter (no matter if it is in one huge

[2020-07-23 13:12] intrepid42 commented on #30836
Hi all,

I think the problem is the rudimentary thread support new in Rivet 3.1.2: https://gitlab.com/hepcedar/rivet/-/commit/8fd4a0a12e0e630d1e127d806883502e6a95b72c#fd462cb6867ecfc08d0e1566dcf449b15c31ae5e_97_108

What seems to happen is that the AnalysisHandler+ProjectionHandler initiliazation is done only for thread 1 (and the AnalysisHandler gets marked as initalized globally), and afterwards

[2020-07-23 13:35] jfernan2 commented on #30853
Plots are now rendered in Jenkins tests of #30879

[2020-07-23 13:35] makortel commented on #30836
Thanks @intrepid42 for the details.

That happens automatically with `edm::stream` modules. Each `edm::stream` module instance gets called only by a single stream, so the class member data acts already like `map<edm::StreamID, T>::at(edm::StreamID)`.

By construction in C++ global objects are global, i.e. shared by all the threads, within a process.

Does `ProjectionHandler` need some special init

[2020-07-23 17:00] intrepid42 commented on #30836
I asked the Rivet authors for ideas: https://gitlab.com/hepcedar/rivet/-/issues/84

But, it seems that with a bit different arrangment of initialization things are working fine, even as stream modules now: https://github.com/cms-sw/cmssw/pull/30888

[2020-07-23 17:44] civanch commented on #30863
#30887  should fix the issue.

[2020-07-23 18:00] makortel commented on #30863
Thanks @civanch !

[2020-07-23 18:53] makortel commented on #30836
Thanks!

I can see that it might seem to work, but I suspect that approach is not compatible in general with the way we use TBB. I gave more detailed comments in the PR.

[2020-07-23 21:30] slava77 commented on #27889
updates:
- #30542 deepDoubleX V2; capability only, plan to enable later (merged July 13, 2020)
- #30584 Hbb Interaction network tagger (merged July 20, 2020)

[2020-07-24 09:37] veelken opened #30894 "reco::PFTau::signalTauChargedHadronCandidates() returns empty vector"
Hi,

I came across a weird feature today: I produce a collection of reco::PFTau objects in a 1st cmsRun job and then read the same reco::PFTau collection in a 2nd cmsRun job.
While the function
   reco::PFTau::signalTauChargedHadronCandidates().size()
returns values of 1 for one-prong taus and 3 for three-prong taus in the 1st cmsRun job as expected,
when I call the same function in the 2nd cmsRun

[2020-07-24 09:37] cmsbuild commented on #30894
A new Issue was created by  @veelken Christian Veelken.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-24 10:45] veelken opened #30895 "Review of reco::PFCandidate::vertex() function"
Hi,

I came across a 'ProductNotFound' exception when rerunning some tau reconstruction code on a ROOT file that contains a collection of PFCandidates ('particleFlowTmp' for Phase-2 HLT trigger studies).

The issue is that the reco::PFCandidate::vertex() function returns not simply a vertex position, but dereferences different types of edm::Refs, depending on the type of PFCandidate (vertexType_):

[2020-07-24 10:45] cmsbuild commented on #30895
A new Issue was created by  @veelken Christian Veelken.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-24 12:20] slava77 commented on #27889
update
- (backport needed for) #30738 Use dxy sign of GSF track instead of IPTools for pat::Electron

[2020-07-24 12:26] slava77 commented on #30894
assign reconstruction

@swozniewski @mbluj
(in case you did not know of this already by other means)

[2020-07-24 12:27] cmsbuild commented on #30894
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-24 12:53] slava77 commented on #27889
no updated with a 10_6_X PR info #30892

[2020-07-24 12:57] makortel commented on #30895
assign reconstruction

[2020-07-24 12:57] cmsbuild commented on #30895
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-24 13:20] slava77 commented on #30894
assign core

this may be connected to root

[2020-07-24 13:20] slava77 commented on #30895
@hatakeyamak @bendavid

[2020-07-24 13:20] cmsbuild commented on #30894
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-24 13:21] slava77 commented on #30895
@veelken

please provide a fully reproducible example for your case
Thank you

[2020-07-24 13:21] #30820 closed

[2020-07-24 13:22] Dr15Jones opened #30897 "CmsRun python module starts too many threads"
The CmsRun python module fails to tell TBB how many threads to use which means it uses as many threads as there are cores in the node.

[2020-07-24 13:22] Dr15Jones commented on #30897
assign core

[2020-07-24 13:23] cmsbuild commented on #30897
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-24 13:23] cmsbuild commented on #30897
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-24 13:27] makortel commented on #30894
@veelken Please provide a reproducible example

[2020-07-24 15:01] makortel commented on #30432
#30599 was merged couple of days ago, @smuzaffar would it make sense to try out again enabling multithreaded testing on arm, ppc, and cc8?

Can we then drop mxnet external altogether? @slava77 @perrotta @riga @mialiu149 @hqucms?

[2020-07-24 15:22] veelken commented on #30895
Hi,

I send you instructions for reproducing the exception attached below [*],
together with the output that I get when executing these commands on my machine [**].

With kind regards,

Christian

[*]

mkdir debugCMSSW
cd debugCMSSW
cmsrel CMSSW_11_1_0
cd CMSSW_11_1_0/src/
cmsenv
mkdir -p HLTrigger/TallinnHLTPFTauAnalyzer
cd HLTrigger/TallinnHLTPFTauAnalyzer
cp -r /home/veelken/debugCMSSW/CMSSW_11

[2020-07-24 15:32] veelken commented on #30894
Hi,

I send you instructions for reproducing the problem attached below [*],
together with the output that I get when executing these commands on my machine [**].

The output that you get by following the instructions [*] corresponds to the case of the 2nd cmsRun job that I mentioned when I opened the issue.

There are two notable things in the output:
1) the function tauRef->signalTauChargedHadro

[2020-07-24 15:45] smuzaffar commented on #30432
@makortel , should we first merge https://github.com/cms-sw/cmssw/pull/30667  to enable jemalloc usage for ARM and PPC64 IBs?

[2020-07-24 15:56] makortel commented on #30432
I fully support #30667, but I think the crashes were in the L1 code and have been fixed (so were actually found thanks to glibc-malloc).

I'm fine to wait for #30667 for arm and ppc though, so how about enabling multithreaded tests on cc8-amd64?

[2020-07-24 16:31] smuzaffar commented on #30432
https://github.com/cms-sw/cms-bot/pull/1348 should enable threaded relvals for cc8 and gcc10 IBs

[2020-07-24 16:42] makortel commented on #30432
Thanks, let's see how it goes.

[2020-07-24 16:46] cvuosalo opened #30901 "Fireworks TGeoFromDdd files can be deleted with old DD"
The Fireworks files
[code]
are legacy and can be deleted, along with all files that use them, when the old DD is deleted after the DD4hep migration is completed. They are just for outputting the old DD and have been replaced for DD4hep.

This issue is just a reminder not to leave these legacy files behind when the clean-up is done.

[2020-07-24 16:46] cmsbuild commented on #30901
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-24 16:53] cvuosalo commented on #30901
assign geometry, visualization

[2020-07-24 16:53] cmsbuild commented on #30901
New categories assigned: geometry,visualization

@Dr15Jones,@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@makortel,@alja,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-24 17:58] dildick commented on #30644
This issue can be closed I think.

[2020-07-24 17:58] dildick commented on #30821
@Dr15Jones Do you have a recommendation or an example I can follow?

[2020-07-24 18:02] makortel commented on #30644
@dildick You should be able to close the issue (that you opened) yourself as well.

[2020-07-24 18:02] bsunanda commented on #30644
Please do
________________________________
From: Sven Dildick [notifications@github.com]
Sent: 24 July 2020 19:58
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Possible issue with rawId() in GEMDetId (#30644)

This issue can be closed I think.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw

[2020-07-24 18:03] #30644 closed

[2020-07-24 20:35] mbluj commented on #30894
Thanks for this notification. Unfortunately, I am at holidays until 3 August and because of this I will not be able to take a look sooner.

[2020-07-24 21:11] makortel commented on #30894
@veelken Thanks for the recipe, but this step does not work
[code]
because I don't have access to your `/home/veelken`. Could you put that e.g. on AFS or as a tarball somewhere to download? Thanks.

[2020-07-24 22:18] Dr15Jones commented on #30897
Fixed with #30908

[2020-07-25 06:16] veelken commented on #30894
@makortel I have copied the files to /afs/cern.ch/user/v/veelken/public/debugCMSSW/CMSSW_11_1_0/src/HLTrigger/TallinnHLTPFTauAnalyzer and updated the instructions above accordingly. Sorry for not realizing the issue with the file access earlier.

[2020-07-25 06:21] veelken commented on #30895
My initial instructions contained an inaccessible file path (/home/veelken). I have copied the files to /afs/cern.ch/user/v/veelken/public/debugCMSSW/CMSSW_11_1_0/src/HLTrigger/TallinnHLTPFTauAnalyzer and updated the instructions above accordingly. The new instructions should work by simply copy & pasting them into a terminal.

[2020-07-25 09:34] guitargeek opened #30910 "Illegal include of PhysicsTools/PatAlgos/plugins in PhysicsTools/NanoAOD"
Here is something that I noticed with the automatic BuildFile cleaning in https://github.com/cms-sw/cmssw/pull/30873.

There is a place in NanoAOD where the header file from another plugins directory is included:

https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/plugins/BJetEnergyRegressionMVA.cc#L27

This should not be done, because it makes is difficult to handle the dependencies

[2020-07-25 09:35] cmsbuild commented on #30910
A new Issue was created by  @guitargeek Jonas Rembser.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-25 11:18] davidlange6 opened #30911 "Errors from SiPixelPhase1TrackClusters?"
While looking at something else, I notice that this error is in the iBs. Should we not worry?

%MSG-w SiPixelPhase1TrackClusters:   SiPixelPhase1TrackClusters:hltSiPixelPhase1TrackClustersAnalyzer  25-Jul-2020 03:35:07 CEST Run: 1 Event: 1208
37:	PixelClusterShapeCache collection is not valid
38:	%MSG

(eg https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-07-24-2300/

[2020-07-25 11:18] cmsbuild commented on #30911
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-25 13:08] Dr15Jones commented on #30911
assign reconstruction

[2020-07-25 13:08] cmsbuild commented on #30911
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-25 13:11] mmusich commented on #30911
We are aware of this issue. This happens only for the HLT offline monitoring case.
This was discussed long ago, e.g. in: https://github.com/cms-sw/cmssw/pull/23575#issuecomment-397884025 and happens because the `hltSiPixelClusterShapeCache` collection (created in the step2) is not persisted in the event and cannot be consumed in the offline DQM (in step3).
The trivial fix which would be:

[code]

[2020-07-25 13:12] mmusich commented on #30911
@Dr15Jones this issue should rather be assigned DQM....

[2020-07-25 13:14] Dr15Jones commented on #30911
unassign reconstruction

[2020-07-25 13:15] Dr15Jones commented on #30911
assign dqm

[2020-07-25 13:15] cmsbuild commented on #30911
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-25 13:23] Dr15Jones opened #30913 "ASAN problem with L1FPGATrackProducer"
The L1FPGATrackProducer is seeing a heap-buffer-overflow

[code]

[2020-07-25 13:23] cmsbuild commented on #30913
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-25 13:24] Dr15Jones commented on #30913
assign l1, upgrade

[2020-07-25 13:24] cmsbuild commented on #30913
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-25 13:32] Dr15Jones commented on #30913
The problem is with the order of the logic in the following `while` loops

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/src/FitTrack.cc#L937

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045bc1c829cf1afd54/L1Trigger/TrackFindingTracklet/src/FitTrack.cc#L949

https://github.com/cms-sw/cmssw/blob/9010c72dccae06e78cb0ec045b

[2020-07-25 14:57] Dr15Jones opened #30915 "Uninitialized edm::Handle does not throw when dereferenced"
The following code does not throw
[code]

This is because the exception factory is not set when constructing a defaultly constructed handle and only the presence of a factory is used to cause the exception. We have two possible fixes

1. Have a shared factory which is used by all defaultly constructed Handles of a given type
2. When dereferencing a Handle, we also check if the product is null and

[2020-07-25 14:58] Dr15Jones commented on #30915
assign core

[2020-07-25 14:58] cmsbuild commented on #30915
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-25 14:58] cmsbuild commented on #30915
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-25 15:09] makortel commented on #30910
assign xpog, analysis, reconstruction

[2020-07-25 15:10] cmsbuild commented on #30910
New categories assigned: analysis,xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@santocch,@perrotta,@jpata,@gouskos,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-25 15:11] makortel commented on #30910
Correct, including headers from `plugins` directory of another package is not allowed.

[2020-07-25 15:12] Dr15Jones opened #30916 "CSCDigiToRawModule deferences invalid edm::Handle"
The UBSAN build uncovered the following

[code]

The problem is here with the variable `padDigiClusters` which is an `edm::Handle`
https://github.com/cms-sw/cmssw/blob/master/EventFilter/CSCRawToDigi/plugins/CSCDigiToRawModule.cc#L168-L179

The Handle is only set if `useGEMs_` is true. If it is false, than an invalid `edm::Handle` is deferences and a nullptr is returned via the reference. [See bug

[2020-07-25 15:12] cmsbuild commented on #30916
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-25 15:13] Dr15Jones commented on #30916
assign reconstruction

[2020-07-25 15:13] cmsbuild commented on #30916
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-25 16:10] slava77 commented on #30910
from #20626 description (and possibly induced memory of previous discussion)
I'd say that the PhysicsTools/NanoAOD/plugins/BaseMVAValueMapProducer.h should be moved to PhysicsTools/PatAlgos/plugins/

[2020-07-25 16:14] slava77 commented on #30910
sorry, wrong file mentioned in the first post, edited now.
The rationale is that PhysicsTools/NanoAOD/plugins is to contain producers of just what's directly used in nano flat trees or nanoEDM files, while the ValueMaps are more generic and fit more appropriately the PatAlgos.

[2020-07-25 18:08] makortel commented on #30894
Thanks @veelken. In this case the
https://github.com/cms-sw/cmssw/blob/387daacdf0bcdb5399c55ee9ebe7e1f9799161b5/DataFormats/TauReco/interface/PFTau.h#L300
that is used in
https://github.com/cms-sw/cmssw/blob/387daacdf0bcdb5399c55ee9ebe7e1f9799161b5/DataFormats/TauReco/src/PFTau.cc#L288-L292
gives `0:0` as its ProductID, so it looks to me that the `RefVector` is never set to a valid value, i.e
http

[2020-07-25 18:57] Dr15Jones opened #30917 "Use <charconv> for ParameterSet conversion when it becomes available"
C++17 added a new <charconv> header which includes the ability to safely convert floating points to/from chars in a completely reproducible way. The mechanism also guarantees the shortest possible representation of the chars which will completely reproduce the floating point number. Such behavior is exactly what we'd like to encode/decode doubles in ParameterSets.

The problem is none of the compi

[2020-07-25 18:58] Dr15Jones commented on #30917
assign core

[2020-07-25 19:00] cmsbuild commented on #30917
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-25 19:00] cmsbuild commented on #30917
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-25 20:37] guitargeek commented on #30910
Thanks for your answer! If this is the rationale, I don't understand why the configurations of these plugins are exclusively done in NanoAOD ([here](https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/jets_cff.py#L247), [here](https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/jets_cff.py#L300), [here](https://github.com/cms-sw/cmssw/blob/master/PhysicsTool

[2020-07-25 20:54] slava77 commented on #29818
@riga @mialiu149

please take a note

[2020-07-26 14:02] Dr15Jones opened #30920 "Invalid memory write in DeepMETProducer"
We are seeing crashes in the ARM and PowerPC RelVals for workflow 140.5611 step2 that are happening in tenserflow calls originating from DeepMETProducer. The ASAN report for that same workflow reports

[code]

[2020-07-26 14:02] Dr15Jones commented on #30920
assign reconstruction

[2020-07-26 14:03] cmsbuild commented on #30920
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-26 14:03] cmsbuild commented on #30920
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-26 14:09] Dr15Jones commented on #30920
I think the problem is here
https://github.com/cms-sw/cmssw/blob/8c5c208a0f915176ebb38e71514f951192571645/RecoMET/METPUSubtraction/plugins/DeepMETProducer.cc#L111-L113

I believe the proper condition should be
[code]
as the value for `i_pf` being `max_n_pf_` is used in the next iteration and would address the memory location just beyond the end of the container.

[2020-07-26 16:15] slava77 commented on #30920
@steggema
please note and check/confirm if the proposed solution in https://github.com/cms-sw/cmssw/issues/30920#issuecomment-663992634 appears correct for you.

@Dr15Jones
I agree about your change.
Please clarify/confirm if it actually fixes the issue in ASAN.
Thank you.

[2020-07-26 17:44] Dr15Jones commented on #30920
@slava77 I wasn’t planning on making the change myself, I just happened to quickly see what was the most likely cause and reported it.

[2020-07-26 23:55] dildick opened #30921 "Number of wiregroups is incorrectly overwritten in CMSSW_11_1_X_2020-07-25-1100"
I tested the CSC trigger emulator for https://github.com/cms-sw/cmssw/pull/30914 (CMSSW_11_1_X_2020-07-25-1100) on a 11_1_0_pre8 relval sample ( root://cmsxrootd-site.fnal.gov//store/relval/CMSSW_11_1_0_pre8/RelValZMM_14/GEN-SIM-DIGI-RAW/111X_mcRun3_2021_realistic_v4-v1/20000/E1B44039-321A-284E-91FB-97CD10F43A48.root). I noticed that the preTrigger() function was crashing in the CSCAnodeLCTProcess

[2020-07-26 23:55] cmsbuild commented on #30921
A new Issue was created by  @dildick Sven Dildick.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-27 07:41] steggema commented on #30920
The diagnosis and the fix look correct to me, clearly a mistake on our part. Please let me know if you want me (or someone from the team) to make a PR.

Besides, we didn't think of heavy ion and it makes sense that it may go beyond the boundaries.

[2020-07-27 07:49] veelken commented on #30894
I had a closer look at the code and I think the issue is that:
1) The code that builds the reco::PFTau objects ( https://cmssdt.cern.ch/lxr/source/RecoTauTag/RecoTau/src/RecoTauConstructor.cc ) adds reco::PFTauChargedHadrons as well as reco::PFTauPizeros to transient data-members (of type std::vector<reco::PFTauChargedHadron> and std::vector<reco::PFTauPizero>) of the reco::PFTau object
2) The rec

[2020-07-27 08:38] #30911 closed

[2020-07-27 12:25] Dr15Jones commented on #30921
assign geometry

[2020-07-27 12:26] cmsbuild commented on #30921
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-27 13:04] makortel commented on #30915
I'm leaning towards option 2 as well.

[2020-07-27 13:38] slava77 commented on #30920
It would be nice if you can check/fix it.
IIUC, the issue should be straightforward to check in CMSSW_11_2_ASAN_X_2020-07-24-2300.
Please clarify if you are available to provide a fix within the next day or two.
Thank you.

[2020-07-27 14:44] Dr15Jones commented on #30916
Fixed by #30925

[2020-07-27 14:45] cvuosalo commented on #30921
@slomeo Could you please look at this bug? Or maybe mention it to your Muon colleagues?

[2020-07-27 14:55] steggema commented on #30920
I've created a PR after having tested that the fix indeed addresses the issue with workflow 140.5611 (which I could reproduce) https://github.com/cms-sw/cmssw/pull/30926

[2020-07-27 15:10] dildick commented on #30921
Deeper investigation reveals it's not the `numberOfWireGroups()` function.

Rather the `numWireGroups` parameter, which is set in the first event for each ALCT processor, gets corrupted in a seemingly random event and is reset to 196609, is ignored by this block https://github.com/cms-sw/cmssw/blob/master/L1Trigger/CSCTriggerPrimitives/src/CSCAnodeLCTProcessor.cc#L223-L244 and this sanity check ht

[2020-07-27 16:00] civanch commented on #30863
@mrodozov , can you, please, confirm that it is fixed now?

[2020-07-27 16:04] makortel commented on #30863
Yes, the `Validation/Geometry` unit test has been succeeding since CMSSW_11_2_X_2020-07-25-1100, which was the first one to include #30887.

[2020-07-27 16:13] civanch commented on #30863
+1

[2020-07-27 16:46] dildick commented on #30921
Weird. The number of wiregroups also gets corrupted in CMSSW_11_1_X_2020-07-27-1100 on `/store/relval/CMSSW_11_0_0/RelValZMM_14/GEN-SIM-DIGI-RAW/110X_mcRun4_realistic_v2_2026D49noPU-v1/20000/FD2697C5-D45B-4B47-8066-0D79A874E7F5.root`, although now it's ME-4/1/16 which is assigned 196609 wiregroups.

[2020-07-27 16:55] cvuosalo commented on #30921
@dildick If there is incorrect overwriting of memory, it can have seemingly random and unpredictable effects. Trying to find the instance of overwriting can be very difficult because the bad effect may be far separated from the cause.

[2020-07-27 17:02] Dr15Jones commented on #30921
The best tool to look for memory overwrite is ASAN. My suggestion is to find a recent ASAN IB and run the job using that release.

[2020-07-27 21:01] cvuosalo commented on #30921
@dildick Can you continue to debug this problem? You know most about it. It is looking less like a geometry issue.

[2020-07-27 22:16] mrodozov commented on #30863
I'm closing this it's resolved

[2020-07-27 22:16] #30863 closed

[2020-07-27 23:17] hatakeyamak commented on #30849
I think this will address the "bug" in PFProducer.
https://github.com/cms-sw/cmssw/compare
/master...hatakeyamak:PFProducerFixForPFMuonAlgoFillPSetDescription?expand=1

This is a little involved, as PFMuonAlgo is also used in PFBlockProducer which doesn't use fillDescriptions and introducing fillDescriptions to PFBlockProducer is somewhat daunting.

After running some validation, I plan to make a

[2020-07-27 23:36] kpedro88 opened #30932 "Simpler syntax for fillDescriptions items with limited choices"
I recently learned (in review of #30850) that fillDescriptions can restrict the allowed choices for a configuration parameter using `ifValue()`. However, the syntax for this is currently a bit clunky:
[code]

This syntax is intended to allow for switching between more complex parameter groups. However, in the case of a simple choice (such as above), it would be nice to have a simpler syntax. For e

[2020-07-27 23:36] kpedro88 commented on #30932
assign core

[2020-07-27 23:36] cmsbuild commented on #30932
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-27 23:36] cmsbuild commented on #30932
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-28 12:53] makortel opened #30937 "PathsAndConsumesOfModules can return wrong modules in conjunction with EDAlias"
The following configuration
[code]
leads to following printout from Tracer service
[code]
while the `intProducer` is really consuming the product from `intProducerFoo`.

[2020-07-28 12:53] makortel commented on #30937
assign core

[2020-07-28 12:53] cmsbuild commented on #30937
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-28 12:53] cmsbuild commented on #30937
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-28 12:58] makortel commented on #30937
I think the problem is in `EDConsumerBase::modulesWhoseProductsAreConsumed()`, more specifically how EDAliases are handled in
https://github.com/cms-sw/cmssw/blob/8d03f366426f05d38169387b6404ab070a7a3ad4/FWCore/Framework/src/EDConsumerBase.cc#L445-L458
where the alias-to module label is translated to alias-from module label **only by module labels**.

The problematic EDAlias, on the other hand, ha

[2020-07-28 13:27] makortel commented on #30932
Here is an earlier discussion on the topic https://hypernews.cern.ch/HyperNews/CMS/get/progQuestions/331.html

[2020-07-28 14:33] hatakeyamak commented on #30895
@veelken Thank you. I have to think what is the good thing to do. Is it sufficient to add some validity check of muonRef() and gsfTrackRef(), or do you have a better suggestion?

[2020-07-28 14:50] veelken commented on #30895
@hatakeyamak Adding a validity check for muonRef().isAvailable() and gsfTrackRef().isAvailable() is what I have implemented as a temporary workaround in my CMSSW area for now. The corresponding code is attached below [*].

While adding a validity check solves my use-case, I see one potential issue: in case a user drops a muon or electron collection and the isAvailable() check fails, he or she may

[2020-07-28 14:56] smuzaffar opened #30939 "Unit test failure in Validation/Geometry for DEVEL IBs"
The unit test `materialBudgetTrackerPlots` in Validation/Geometry fails due to py2 vs py3 issue. In DEVEL IBs , it fails [a] as https://github.com/cms-sw/cmssw/blob/master/Validation/Geometry/test/genTrackerPlots.sh#L12 starts python (i.e. python2) while cmsRun uses python3.

[a] 11.2.X DEVEL IBs
Traceback (most recent call last):
  File "/build/muz/CMSSW_11_2_DEVEL_X_2020-07-27-2300/src/Validatio

[2020-07-28 14:56] cmsbuild commented on #30939
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-28 15:20] hatakeyamak commented on #30895
I see. Your suggestion will add some to event size, right? If it is a minimal addition, this sounds good to me. If we don't hear objections, is it something you can help by making a PR?

[2020-07-28 15:21] dildick commented on #30921
@cvuosalo  I found a simple way around the problem, namely remove this line: https://github.com/cms-sw/cmssw/blob/master/L1Trigger/CSCTriggerPrimitives/src/CSCAnodeLCTProcessor.cc#L223. Basically, call the geometry functions for every ALCT processor, for every event.

Now, the CLCT processor code has a similar block, https://github.com/cms-sw/cmssw/blob/master/L1Trigger/CSCTriggerPrimitives/src/CS

[2020-07-28 16:13] cvuosalo commented on #30921
assign l1

[2020-07-28 16:13] cmsbuild commented on #30921
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-28 16:13] cvuosalo commented on #30921
I think this issue also involves the L1 code.

[2020-07-28 16:18] cvuosalo commented on #30921
@dildick You could change that `if` in both places in this way:
[code]
to
[code]
This way you avoid unnecessary calls for every event but prevent the bad values from being used.
However, until you find the memory overwriting, the program will continue to behave in a random way. You can protect the `numStrips` variable, but then some other variable will eventually get overwritten and cause random b

[2020-07-28 16:30] cvuosalo commented on #28914
MTD Numbering Builder migration has been completed with the merging of #30834. This issue can be closed.

[2020-07-28 16:30] cvuosalo commented on #28914
+1

[2020-07-28 16:30] cmsbuild commented on #28914
This issue is fully signed and ready to be closed.

[2020-07-28 16:50] dildick commented on #30745
This condition https://github.com/cms-sw/cmssw/blob/master/L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc#L340 should be
[code]

[2020-07-28 17:45] makortel commented on #30335
#30346 is being backported to 10_6 in #30649

[2020-07-28 17:45] makortel commented on #30335
+1

[2020-07-28 17:48] makortel commented on #30897
+1

Fix has been merged

[2020-07-28 17:49] cmsbuild commented on #30897
This issue is fully signed and ready to be closed.

[2020-07-28 18:32] Dr15Jones commented on #30932
How about
[code]
?

In a quick test I was able to make that work. All it needed was the new templated function `edm::allowedValues` which does exactly what your earlier code did but behind the scenes.

[2020-07-28 18:46] kpedro88 commented on #30932
That looks good to me.

[2020-07-28 18:49] makortel commented on #30932
@Dr15Jones How necessary the `desc.ifValue()` is? (for a quick solution it probably is)

I'm just wondering if we should think about a more general mechanism to specify constraints on allowed values.

[2020-07-28 20:18] Dr15Jones commented on #30932
See #30950

[2020-07-28 20:21] dildick commented on #30821
This condition https://github.com/cms-sw/cmssw/blob/master/L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc#L340 should be
[code]

[2020-07-28 21:20] #30897 closed

[2020-07-28 22:15] silviodonato opened #30952 "Build CMSSW_11_2_0_pre3"

[2020-07-28 22:16] cmsbuild commented on #30952
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-07-28 22:16] silviodonato commented on #30952
+1

[2020-07-28 22:17] cmsbuild commented on #30952
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-07-28 22:17] cmsbuild commented on #30952
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_ppc64le_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2020-07-28 22:19] cmsbuild commented on #30952
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2541/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-28 22:19] cmsbuild commented on #30952
The build has started for cc8_ppc64le_gcc8 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2540/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-28 22:32] slava77 opened #30953 "phase-2 reco CPU hotspot: PFElecTkProducer"
(pointed out by @dpiparo )

PFElecTkProducer is found to consume 2.5% of CPU time in workflow 23434.21 (step3), or about 3.5% of all reco module times (ignoring the I/O cost).
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_11_2_X_2020-07-21-2300-sign1106.376a0992c5d.23434.21.step3.50.pp/76

The cost is apparently dominated by the ```PFElecTkProducer::FindPfRef``` metho

[2020-07-28 22:32] cmsbuild commented on #30953
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-28 22:33] slava77 commented on #30953
assign reconstruction,upgrade

[2020-07-28 22:33] cmsbuild commented on #30953
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-28 22:38] cmsbuild commented on #30952
The build has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2542/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-28 22:39] slava77 opened #30954 "phase-2 reco CPU hotspot: egammaTools::getConversionInfos"
(pointed out by @dpiparo )

egammaTools::getConversionInfos is found to consume 1.1% of CPU time in workflow 23434.21 (step3), or about 1.6% of all reco module times (ignoring the I/O cost).
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_11_2_X_2020-07-21-2300-sign1106.376a0992c5d.23434.21.step3.50.pp/186

Things to improve: tighten code, delay in the if conditions del

[2020-07-28 22:39] cmsbuild commented on #30954
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-28 22:39] slava77 commented on #30954
assign reconstruction,upgrade

[2020-07-28 22:40] cmsbuild commented on #30954
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-28 22:50] slava77 opened #30955 "phase-2 reco CPU hotspot: PFDisplacedVertexCandidateFinder::link"
(pointed out by @dpiparo )

PFDisplacedVertexCandidateFinder::link is found to consume 1.1% of CPU time in workflow 23434.21 (step3), or about 1.5% of all reco module times (ignoring the I/O cost).
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_11_2_X_2020-07-21-2300-sign1106.376a0992c5d.23434.21.step3.50.pp/191

Code: https://github.com/cms-sw/cmssw/blob/19cfe7e21b651

[2020-07-28 22:51] cmsbuild commented on #30955
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-28 22:51] slava77 commented on #30955
assign reconstruction,upgrade

[2020-07-28 22:51] cmsbuild commented on #30955
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-28 22:56] guitargeek commented on #30954
Hi @slava77, I actually wrote code to address this issue but then abandoned it due to lack of time. I made a PR with the code. Maybe you can test it with the bot to see if you can somehow use what I did?

[2020-07-28 23:00] slava77 opened #30957 "phase-2 reco CPU hotspot: HGCDoublet::checkCompatibilityAndTag"
(pointed out by @dpiparo )

HGCDoublet::checkCompatibilityAndTag is found to consume 2.8% of CPU time in workflow 23434.21 (step3); of which almost 1/4 is in ```int& std::vector<int >::emplace_back```
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_11_2_X_2020-07-21-2300-sign1106.376a0992c5d.23434.21.step3.50.pp/70
(this is as of CMSSW_11_2_X_2020-07-21-2300, before #30

[2020-07-28 23:01] slava77 commented on #30957
assign reconstruction,upgrade

[2020-07-28 23:01] cmsbuild commented on #30957
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-28 23:01] cmsbuild commented on #30957
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-28 23:05] slava77 commented on #30954
@guitargeek
thank you for the very quick follow up with #30956

[2020-07-28 23:07] cmsbuild commented on #30952
The build has started for cc8_amd64_gcc8 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2543/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-28 23:08] cmsbuild commented on #30952
The build has started for slc7_amd64_gcc820 in cmsbuild82.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2544/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-28 23:19] cmsbuild commented on #30952
The build has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2545/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-28 23:38] cmsbuild commented on #30952
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2546/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-29 03:34] cmsbuild commented on #30952
The was an error for cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-cc8_aarch64_gcc8/2542

[2020-07-29 03:46] cmsbuild commented on #30952
The build has finished sucessfully for the architecture cc8_ppc64le_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-cc8_ppc64le_gcc8/2540
Some tests

[2020-07-29 03:52] cmsbuild commented on #30952
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-slc7_ppc64le_gcc820/2541
Some

[2020-07-29 05:03] cmsbuild commented on #30952
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-cc8_amd64_gcc8/2543

[2020-07-29 05:05] cmsbuild commented on #30952
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-slc7_aarch64_gcc820/2546
Some

[2020-07-29 05:07] cmsbuild commented on #30952
The tests have finished for cc8_ppc64le_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-cc8_ppc64le_gcc8/2540

Tests results:
34 33 32 24 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-29 05:14] cmsbuild commented on #30952
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-slc7_ppc64le_gcc820/2541

Tests results:
34 33 32 24 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-29 05:32] cmsbuild commented on #30952
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-slc7_amd64_gcc900/2545
Some tes

[2020-07-29 05:34] cmsbuild commented on #30952
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-slc7_amd64_gcc900/2545

Tests results:
14 0 0 0 0 0 0 0 0 tests passed, 20 14 0 0 0 0 0 0 0 failed

[2020-07-29 05:45] tommasoboccali commented on #30745
Dear Sven, I am not sure I get this comment.
Is this for the memory reduction, or a real bug?
If the latter, does it *need* to be ported also in 11_1_X?

On Tue, Jul 28, 2020 at 6:51 PM Sven Dildick <notifications@github.com>
wrote:

--
Tommaso Boccali
INFN Pisa

[2020-07-29 05:56] cmsbuild commented on #30952
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-slc7_amd64_gcc820/2544
Some tes

[2020-07-29 06:17] cmsbuild commented on #30952
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-slc7_aarch64_gcc820/2546

Tests results:
34 33 32 24 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-29 06:31] cmsbuild commented on #30952
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-slc7_amd64_gcc820/2544

Tests results:
34 33 32 24 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-29 07:41] #28914 closed

[2020-07-29 08:25] cmsbuild commented on #30952
The build has started for cc8_amd64_gcc8 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2547/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-29 08:59] schneiml commented on #25090
I did some new experiments at #30111. After removing the remaining concurrent-lumi blocking modules in DQM (`AlCaBeamMonitor`, which we got the green light to remove -- a replacement will be made until Run3 Collisions, `RPCDcsInfo`, which also seems fine to remove since the functionality is covered by a central module, ECAL things, where we are in contact with ECAL ( #30187 ) and `L1TStage2CaloLay

[2020-07-29 09:43] silviodonato commented on #30952
upload all

[2020-07-29 09:43] cmsbuild commented on #30952
Queing Jenkins upload for cc8_ppc64le_gcc8

[2020-07-29 09:43] cmsbuild commented on #30952
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-29 09:43] cmsbuild commented on #30952
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-29 09:43] cmsbuild commented on #30952
Queing Jenkins upload for slc7_amd64_gcc900

[2020-07-29 09:43] cmsbuild commented on #30952
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-29 09:45] cmsbuild commented on #30952
The upload has started for cc8_ppc64le_gcc8 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1632/console

[2020-07-29 09:45] cmsbuild commented on #30952
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1631/console

[2020-07-29 09:45] cmsbuild commented on #30952
The upload has started for slc7_amd64_gcc820 in cmsbuild82.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1633/console

[2020-07-29 09:45] cmsbuild commented on #30952
The upload has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1634/console

[2020-07-29 09:46] cmsbuild commented on #30952
The upload has successfully finished for cc8_ppc64le_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3-cc8_ppc64le_gcc8/1632

[2020-07-29 09:46] cmsbuild commented on #30952
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1635/console

[2020-07-29 09:47] cmsbuild commented on #30952
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3-slc7_amd64_gcc900/1634

[2020-07-29 09:47] cmsbuild commented on #30952
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3-slc7_aarch64_gcc820/1631

[2020-07-29 09:48] cmsbuild commented on #30952
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3-slc7_ppc64le_gcc820/1635

[2020-07-29 09:49] cmsbuild commented on #30952
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3-slc7_amd64_gcc820/1633

[2020-07-29 09:56] silviodonato commented on #30952
release-notes

[2020-07-29 09:56] cmsbuild commented on #30952
Generating release notes since CMSSW_11_2_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-29 09:56] cmsbuild commented on #30952
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre3 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_ppc64le_gcc8
slc7_amd64_gcc900
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_2_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_

[2020-07-29 09:57] cmsbuild commented on #30952
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre3

[2020-07-29 10:00] #30952 closed

[2020-07-29 10:03] silviodonato opened #30958 "Build CMSSW_11_2_0_pre3_GEANT106"

[2020-07-29 10:03] cmsbuild commented on #30958
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-07-29 10:04] silviodonato commented on #30958
abort

[2020-07-29 10:04] #30958 closed

[2020-07-29 10:05] silviodonato opened #30959 "Build CMSSW_11_2_0_pre3_GEANT106"
CMSSW_COMMIT:CMSSW_11_2_0_pre3

[2020-07-29 10:06] cmsbuild commented on #30959
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-07-29 10:06] silviodonato commented on #30959
build cmssw-tool-conf

[2020-07-29 10:06] cmsbuild commented on #30959
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-07-29 10:31] cmsbuild commented on #30959
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2548/console
CMSDIST Branch: [IB/CMSSW_11_2_X/g4_106](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/g4_106), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-29 10:33] cmsbuild commented on #30952
The build has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2549/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-29 10:33] cmsbuild commented on #30952
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2550/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-29 10:40] silviodonato commented on #30959
+1

[2020-07-29 10:41] cmsbuild commented on #30959
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre3_GEANT106. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-07-29 11:25] cmsbuild commented on #30959
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_GEANT106-slc7_amd64_gcc820/

[2020-07-29 11:26] cmsbuild commented on #30959
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-07-29 11:26] cmsbuild commented on #30959
The build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2551/console
CMSDIST Branch: [IB/CMSSW_11_2_X/g4_106](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/g4_106), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-29 11:29] perrotta commented on #30920
+1
- Fixed with #30926

[2020-07-29 11:29] cmsbuild commented on #30920
This issue is fully signed and ready to be closed.

[2020-07-29 11:35] perrotta commented on #30916
+1
(see https://github.com/cms-sw/cmssw/issues/30916#issuecomment-664440187, thank you @Dr15Jones )

[2020-07-29 11:35] cmsbuild commented on #30916
This issue is fully signed and ready to be closed.

[2020-07-29 13:38] dildick commented on #30745
The comment posted earlier is only relevant for a different issue.

After removing ` PulseArray hitsCLCT[99];`, is the large allocation still there?

[2020-07-29 13:50] cmsbuild commented on #30952
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-cc8_amd64_gcc8/2549
Some tests ( r

[2020-07-29 13:50] cmsbuild commented on #30952
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-29 13:52] Dr15Jones commented on #25090
@schneiml thanks for doing the experiment. In previous versions we had skipped the ALCA and skimming workflow parts and were just concentrating on the standard offline processes (e.g. data re-RECO and regular SIM). It does look like those aspects need some attention.

[2020-07-29 13:52] cmsbuild commented on #30952
The upload has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1636/console

[2020-07-29 13:54] cmsbuild commented on #30952
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3-cc8_amd64_gcc8/1636

[2020-07-29 13:58] makortel commented on #25090
assign alca, reconstruction, analysis, generators, hlt, l1

[2020-07-29 13:58] cmsbuild commented on #25090
New categories assigned: hlt,analysis,alca,generators,l1

@benkrikler,@christopheralanwest,@alberto-sanchez,@SiewYan,@tlampen,@pohsun,@santocch,@rekovic,@qliphy,@GurpreetSinghChahal,@tocheng,@mkirsano,@Martin-Grunewald,@agrohsje,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-29 13:59] makortel commented on #25090
Thanks a lot @schneiml for an extensive test. I went through the modules not listed in this issue already, and got the following breakdown

### Legacy modules
* `AlCaEcalHcalReadoutsProducer`
* `AlCaECALRecHitReducer``
* `AlCaElectronTracksReducer`
* `AlCaGammaJetProducer`
* `AlCaHOCalibProducer`
* `AlignmentMuonSelectorModule` via `ObjectSelector<T>`
* `CandidateTriggerObjectProducer`
* `GenHIEve

[2020-07-29 14:11] cmsbuild commented on #30952
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-cc8_aarch64_gcc8/2550
Some tests

[2020-07-29 14:11] cmsbuild commented on #30952
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-07-29 14:12] cmsbuild commented on #30952
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1637/console

[2020-07-29 14:13] cmsbuild commented on #30952
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3-cc8_aarch64_gcc8/1637

[2020-07-29 14:18] cmsbuild commented on #30959
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_GEANT106-slc7_amd64_gcc820/2551

[2020-07-29 14:21] fwyzard commented on #25090
@makortel the only module I can find under HLT is `HLTMuonPointingFilter`, which is actually only used for skimming.

Did I miss any other one ?

[2020-07-29 14:26] cmsbuild commented on #30952
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-cc8_amd64_gcc8/2549

Tests results:
34 33 32 24 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-29 14:55] cmsbuild commented on #30959
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_GEANT106-slc7_amd64_gcc820/2551

Tests results:
34 33 32 24 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-29 15:08] cmsbuild commented on #30952
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3-cc8_aarch64_gcc8/2550

Tests results:
34 32 31 24 16 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-07-29 15:16] makortel commented on #25090
IIRC that was the only module defined in an HLT package.

In @schneiml's list I'd guess (from the `hlt` prefix, I don't know if these are really part of the menu) these
[code]
might be of interest as well (legacy module).

[2020-07-29 15:46] dildick commented on #30921
@Dr15Jones @smuzaffar Is there a recent 11_1_X ASAN build I can test?

[2020-07-29 15:49] makortel commented on #30921
I don't think we have ASAN builds in 11_1_X, only in 11_2_X.

[2020-07-29 16:26] cvuosalo opened #30964 "Revise implementation of DDShapes"
The implementation of some of the shapes  declared in `DetectorDescription/DDCMS/interface/DDShapes.h` can be improved. `DDBox, DDCons, DDTrap, DDTubs`, and `DDTruncTubs` could be implemented in the manner of `DDPolycone` or even more simply as type aliases in some cases. See the comments in #30931 for suggestions.

This change in implementation would have only negligible effects on cpu and memory

[2020-07-29 16:27] cmsbuild commented on #30964
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-29 16:27] cvuosalo commented on #30964
assign geometry

[2020-07-29 16:27] cmsbuild commented on #30964
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-29 18:04] dildick commented on #30921
Ok. I squashed the 11_2_X version in a single commit (https://github.com/dildick/cmssw/commit/1eefd3e54973efdfdd8a02a12501b02a95321ade); cherry-picked it into the `CMSSW_11_2_ASAN_X_2020-07-24-2300` build and tried to compile, which fails [1]. Where do I go from here to further understand this?

[1]
[code]

[2020-07-29 18:15] Dr15Jones commented on #30921
@dildick I've found I can't use the FNAL machines for this because of their restriction on virtual memory. Try using a CERN development machine.

[2020-07-29 19:31] slava77 opened #30968 "CPU and disk optimization: TrackExtrapolator"
TrackExtrapolator implementation has excessive demand for both CPU and the output disk size.
As a result, it takes up about 1% of CPU time and almost 2% of disk size in Run2/3 AOD files

- CPU is dominated by complicated propagations triggered by use of SteppingHelixPropagator
    - this can be mitigated by switching to AnalyticalPropagator at https://github.com/cms-sw/cmssw/blob/5d182778be59af8a2

[2020-07-29 19:31] slava77 commented on #30968
assign reconstruction

[2020-07-29 19:32] cmsbuild commented on #30968
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-29 19:32] cmsbuild commented on #30968
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-29 19:37] slava77 commented on #30968
another consumer of trackExtrapolator is HCAL local reco (HBHEIsolatedNoiseReflagger)
@abdoulline @igv4321
Please comment if you have concerns about possible reduction in precision of the track extrapolations (I hope that double precision is not required).

Are the trackExtrapolations ever used outside of RECO jobs in the context of HCAL local reco or DPG workflow? (are there any workflows reading

[2020-07-29 20:12] kpedro88 commented on #25090
#30970 fixes the new L1T producers

[2020-07-29 20:36] wddgit commented on #30504
PR #30969 implements the first part of this. I just submitted it.

I am proceeding on adding this to implDoBegin and in related functions and the ones down the stack from there. Two days seems like a reasonable estimate so I will just do it.

Note that we had discussed changes in prefetchAsync_ in ProductResolverBase and its overrides. I spent a couple days struggling with that. In the end, I just

[2020-07-29 22:02] cvuosalo commented on #29206
@ianna Is this issue still relevant? The DTGeometryBuilder tests have been revised several times since this issue was created. I have run the tests and tried to create failures that would be missed by the test but have not been successful. Do you know how to trick the unit test giving a success when it should fail?

[2020-07-30 05:16] abdoulline commented on #30968
@slava77
HBHEIsolatedNoiseReflagger  is not supposed to be used for >= Run3    https://github.com/cms-sw/cmssw/pull/30138

As to the TrackExtrapolation (collection) - it's used for finding ECAL entry point for CaloTowerDetId
https://cmssdt.cern.ch/lxr/source/RecoLocalCalo/HcalRecAlgos/src/HBHEIsolatedNoiseAlgos.cc#0200
and it doesn't need double precision.

[2020-07-30 07:12] silviodonato commented on #30959
upload all

[2020-07-30 07:12] cmsbuild commented on #30959
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-30 07:14] cmsbuild commented on #30959
The upload has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1638/console

[2020-07-30 07:15] cmsbuild commented on #30959
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3_GEANT106-slc7_amd64_gcc820/1638

[2020-07-30 07:49] silviodonato commented on #30959
release-notes

[2020-07-30 07:49] cmsbuild commented on #30959
Previous release "" does not appear to be a valid release name

[2020-07-30 07:56] silviodonato commented on #30959
release-notes since CMSSW_11_2_0_pre3

[2020-07-30 07:57] cmsbuild commented on #30959
Generating release notes since CMSSW_11_2_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-30 07:57] cmsbuild commented on #30959
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre3_GEANT106 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_2_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_pre3_GEANT106

Cheers,
cms-bot

You can also click <a href="ma

[2020-07-30 07:57] #30959 closed

[2020-07-30 07:57] cmsbuild commented on #30959
Generating release notes since CMSSW_11_2_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-30 07:57] cmsbuild commented on #30959
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre3_GEANT106 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_2_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_pre3_GEANT106

Cheers,
cms-bot

You can also click <a href="ma

[2020-07-30 07:58] cmsbuild commented on #30959
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre3_GEANT106

[2020-07-30 07:58] cmsbuild commented on #30959
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre3_GEANT106

[2020-07-30 08:38] ianna commented on #30964
@cvuosalo - IMHO, a type alias and a function alias using perfect forwarding would remove any need to have these classes in CMSSW

[2020-07-30 08:48] ianna commented on #29206
@cvuosalo - I haven't run on tests that fail recently. I'll see if it is reproducible.

[2020-07-30 12:29] hatakeyamak commented on #30953
Thanks @slava77 @dpiparo
This looks like a good case of EtaPhiTableView as done in #30209.
@guitargeek, since you worked on #30209, is this something you can also try here? If you are not available, please let us know.

[2020-07-30 13:32] silviodonato opened #30980 "Segmentation violation in 2026D62 workflow (29034.0)"
The new workflow associated to D62  (`_TTbar_14TeV+TTbar_14TeV_TuneCP5_2026D62_GenSimHLBeamSpotFull14+DigiFullTrigger_2026D62+RecoFullGlobal_2026D62+HARVESTFullGlobal_2026D62`) is crashing with:

[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_2_X_2020-07-29-2300/pyRelValMatrixLogs/run/29034.0_TTbar_14TeV+TTbar_14TeV_TuneCP5_2026D62_GenSimHLBeamSpotFull14+DigiFul

[2020-07-30 13:32] cmsbuild commented on #30980
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-30 13:32] silviodonato commented on #30980
assign geometry

[2020-07-30 13:33] cmsbuild commented on #30980
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-30 13:33] silviodonato commented on #30980
assign upgrade

[2020-07-30 13:40] ianna commented on #30980
@silviodonato, @kpedro88  - can we, please, fix this issue after https://github.com/cms-sw/cmssw/pull/30963 is merged?

[2020-07-30 13:42] silviodonato opened #30981 "Build CMSSW_11_1_2_patch2"

[2020-07-30 13:43] cmsbuild commented on #30981
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-07-30 13:43] silviodonato commented on #30981
+1

[2020-07-30 13:43] cmsbuild commented on #30981
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-30 13:43] cmsbuild commented on #30981
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-30 13:44] cmsbuild commented on #30981
The build has started for slc7_amd64_gcc820 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2553/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-30 13:44] cmsbuild commented on #30981
The build has started for cc8_amd64_gcc8 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2552/console
CMSDIST Branch: [REL/CMSSW_11_1_2/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-30 13:45] cmsbuild commented on #30981
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2554/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_ppc64le_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_ppc64le_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-30 14:31] cmsbuild commented on #30981
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch2-slc7_ppc64le_gcc820/2554
So

[2020-07-30 14:46] kpedro88 commented on #30980
@bsunanda please take a look

[2020-07-30 14:50] cmsbuild commented on #30981
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch2-cc8_amd64_gcc8/2552
Some tests (

[2020-07-30 14:54] cmsbuild commented on #30981
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch2-slc7_amd64_gcc820/2553
Some t

[2020-07-30 14:58] cmsbuild commented on #30981
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2555/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_aarch64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_aarch64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-30 15:31] cmsbuild commented on #30981
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch2-cc8_amd64_gcc8/2552

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-30 15:32] #30920 closed

[2020-07-30 15:32] cmsbuild commented on #30981
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch2-slc7_amd64_gcc820/2553

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-30 15:32] cmsbuild commented on #30981
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch2-slc7_ppc64le_gcc820/2554

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-30 15:32] #30916 closed

[2020-07-30 16:05] cmsbuild commented on #30981
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch2-slc7_aarch64_gcc820/2555
So

[2020-07-30 16:44] kpedro88 opened #30986 "Using modifier to enable/disable ESPrefer"
Currently, the only way to enable/disable an `ESPrefer` with a modifier requires using `makeProcessModifier`, e.g.: https://github.com/cms-sw/cmssw/blob/31f0a02297414ae801c4b0d78ad3b01b24dd6c86/Configuration/StandardSequences/python/Digi_cff.py#L73-L81

It would be preferable to support a more natural approach. One possibility would be allowing ESPrefers to be placed in Tasks (ESProducers and ESSo

[2020-07-30 16:45] kpedro88 commented on #30986
assign core

[2020-07-30 16:45] cmsbuild commented on #30986
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-30 16:45] cmsbuild commented on #30986
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-30 17:05] silviodonato commented on #30981
upload all

[2020-07-30 17:05] cmsbuild commented on #30981
Queing Jenkins upload for cc8_amd64_gcc8

[2020-07-30 17:05] cmsbuild commented on #30981
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-07-30 17:05] cmsbuild commented on #30981
Queing Jenkins upload for slc7_amd64_gcc820

[2020-07-30 17:05] cmsbuild commented on #30981
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-07-30 17:06] cmsbuild commented on #30981
The upload has started for cc8_amd64_gcc8 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1639/console

[2020-07-30 17:06] cmsbuild commented on #30981
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1640/console

[2020-07-30 17:06] cmsbuild commented on #30981
The upload has started for slc7_amd64_gcc820 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1641/console

[2020-07-30 17:06] cmsbuild commented on #30981
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1642/console

[2020-07-30 17:06] cmsbuild commented on #30981
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch2-slc7_aarch64_gcc820/1640

[2020-07-30 17:07] cmsbuild commented on #30981
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch2-cc8_amd64_gcc8/1639

[2020-07-30 17:07] cmsbuild commented on #30981
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch2-slc7_ppc64le_gcc820/1642

[2020-07-30 17:07] cmsbuild commented on #30981
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch2-slc7_amd64_gcc820/1641

[2020-07-30 17:09] silviodonato commented on #30981
release-notes

[2020-07-30 17:09] cmsbuild commented on #30981
Generating release notes since CMSSW_11_1_2_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-07-30 17:09] cmsbuild commented on #30981
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_1_2_patch2 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_2_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_2_patch2

[2020-07-30 17:10] cmsbuild commented on #30981
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2_patch2

[2020-07-30 18:00] makortel commented on #22454
assign core

[2020-07-30 18:00] cmsbuild commented on #22454
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-30 18:45] makortel commented on #30986
An alternative would be to allow construction of empty `ESPrefer`. The `Modifier.toReplaceWith()` already works with `ESPrefer` out of the box.

The `ESPrefer` has some similarities to `EDAlias` (redirection of which producers are run), and both are more for Process-level "customization" than something that should come in via individual Tasks. (e.g. what if two Tasks include the same ESProducer, s

[2020-07-30 20:05] guitargeek commented on #30953
Hi @hatakeyamak! This issue is easier than the other issue https://github.com/cms-sw/cmssw/issues/30954 I just worked on. I'll just take it, since I already have the profiling workflow set up. A PR is opened: https://github.com/cms-sw/cmssw/pull/30992.

[2020-07-30 22:18] hatakeyamak commented on #30955
@guitargeek Thank you for following up on #30953 so promptly and making a RP #30992
There is a similar update suggestion here, which is somewhat outside your usual PFEGamma related area, but if you are willing to attack this one, I will certainly appreciate it. If you are not available, please let me know.

[2020-07-30 22:25] guitargeek commented on #30955
Hi @hatakeyamak, sorry, I'm not available for this one.Thanks for your understanding

[2020-07-30 22:27] hatakeyamak commented on #30955
Okay. I understand. I will address it somehow.

[2020-07-31 07:54] vgvassilev opened #31000 "scaleFunctionBase<T> duplicated in two header files"
Our CXXMODULE builds has detected a class which was copied from one header, pasted in another and then it changed. The error is:
[code]

It seems that https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/Heppy/interface/MuScleFitCorrector_Functions.h#L39 and https://github.com/cms-sw/cmssw/blob/master/MuonAnalysis/MomentumScaleCalibration/interface/Functions.h#L40 are duplicates?

cc: @davidla

[2020-07-31 07:54] cmsbuild commented on #31000
A new Issue was created by  @vgvassilev Vassil Vassilev.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-31 12:35] bsunanda commented on #30980
I hope #30996 will fix this error

[2020-07-31 12:44] makortel commented on #31000
assign analysis

[2020-07-31 12:44] cmsbuild commented on #31000
New categories assigned: analysis

@santocch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-31 12:46] makortel commented on #31000
Let's add @arizzi and @cbernet who added the one in `PhysicsTools/Heppy` in #6115 (the one in 'MuonAnalysis/MomentumScaleCalibration` appears to predate git transition) if they could clarify the history.

[2020-07-31 12:47] makortel commented on #31000
Adding also @emiglior who was the last to modify the one in `MuonAnalysis/MomentumScaleCalibration`.

[2020-07-31 13:46] #30981 closed

[2020-07-31 20:19] kpedro88 opened #31010 "Geometry overlap unit test"
The idea was raised in #30976 that new Phase 2 geometries should only be enabled if they are demonstrated to be free of overlaps.

If possible, it would be ideal to automate the overlap checking using a unit test. This unit test could be based on the Geant4 built-in tool, and it would have to use a moderate tolerance in order to avoid false positives / computational precision issues.

[2020-07-31 20:19] kpedro88 commented on #31010
assign geometry

[2020-07-31 20:21] cmsbuild commented on #31010
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-31 20:21] cmsbuild commented on #31010
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-31 20:55] cvuosalo commented on #31010
Before an overlap detection unit test is implemented, wouldn't it be necessary to perform a campaign to eliminate the existing Phase 2 overlaps? Is the scope of the presence of overlaps in Phase 2 known?

[2020-07-31 21:02] kpedro88 commented on #31010
Introducing an automated tool might make such a campaign easier. This could be done at first without enforcing the results as a unit test.

[2020-07-31 21:08] silviodonato opened #31012 "Build CMSSW_11_1_2_patch3"

[2020-07-31 21:08] cmsbuild commented on #31012
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-07-31 21:09] silviodonato commented on #31012
+1

[2020-07-31 21:10] cmsbuild commented on #31012
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-07-31 21:10] cmsbuild commented on #31012
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-07-31 21:12] cmsbuild commented on #31012
The build has started for cc8_amd64_gcc8 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2556/console
CMSDIST Branch: [REL/CMSSW_11_1_2/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-07-31 21:13] cmsbuild commented on #31012
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2558/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_ppc64le_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_ppc64le_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-31 21:14] cmsbuild commented on #31012
The build has started for slc7_amd64_gcc820 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2559/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-07-31 22:09] cmsbuild commented on #31012
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_ppc64le_gcc820/2558
So

[2020-07-31 22:23] cmsbuild commented on #31012
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_aarch64_gcc820/2557
So

[2020-07-31 22:28] cmsbuild commented on #31012
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-cc8_amd64_gcc8/2556
Some tests (

[2020-07-31 22:43] slava77 opened #31015 "enable hpsPFTauDiscriminationByDeadECALElectronRejection in run2 reminiAODs"
(almost) copy from https://github.com/cms-sw/cmssw/pull/29739/files#r463875207

After debugging the discrepancy for UL re-miniAOD in 106X and master, it seems to me that this new module name added in 106X in #29739 is not an optimal solution.
-  in 10_6_X it's a bit semantic (the final result is as expected)
- in the master branch we apparently have a wrong behavior: the 94X and UL reminiAODs are

[2020-07-31 22:43] slava77 commented on #31015
assign reconstruction

[2020-07-31 22:43] cmsbuild commented on #31015
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-31 22:43] cmsbuild commented on #31015
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-31 22:47] slava77 commented on #27889
a couple of tau-related notes:
- need a resolution for #31015
- double-check if a backport of #27465 is not needed

[2020-07-31 22:53] cmsbuild commented on #31012
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_amd64_gcc820/2559
Some t

[2020-07-31 23:08] cmsbuild commented on #31012
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-cc8_amd64_gcc8/2556

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-31 23:24] cmsbuild commented on #31012
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_aarch64_gcc820/2557

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-31 23:25] cmsbuild commented on #31012
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_ppc64le_gcc820/2558

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-07-31 23:33] cmsbuild commented on #31012
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_amd64_gcc820/2559

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-01 01:43] dildick commented on #30921
A solution was provided in #30914 and #30909

[2020-08-01 01:43] #30921 closed

[2020-08-01 08:04] perrotta commented on #30586
+1
Fixed by #30547, #30609 and #30740

[2020-08-01 08:04] cmsbuild commented on #30586
This issue is fully signed and ready to be closed.

[2020-08-01 15:13] Dr15Jones commented on #30913
Is anyone looking into this?

[2020-08-01 23:52] makortel commented on #30913
FYI @skinnari

[2020-08-02 07:34] davidlange6 opened #31019 "Circular dependencies in DataFormats"
From pr #31005 by adding the dependencies needed according to #includes, scram finds a number of circular dependencies. @dr15jones has fixed one. Here are some others... I inlined what I learned before stopping..

gmake: Circular lib/slc7_amd64_gcc820/DataFormatsSiPixelDetId_xr_rdict.pcm <- tmp/slc7_amd64_gcc820/src/DataFormats/SiPixelDetId/src/DataFormatsSiPixelDetId/a/DataFormatsSiPixelDetId_xr.

[2020-08-02 07:34] cmsbuild commented on #31019
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-02 13:16] Dr15Jones commented on #31019
assign reconstruction

[2020-08-02 13:17] cmsbuild commented on #31019
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-02 15:24] Dr15Jones opened #31021 "Use [[deprecated]] to mark deprecated classes and functions"
Both gcc 8.3+ and clang 9+ support the attrbute [[deprecated]]. We could use this to
- mark the legacy EDFilter, EDProducer, and EDAnalyzer legacy classes
- mark the EventSetupRecord::get calls which do not use an ESGetToken

These would likely generate a large number of warnings at first but would at least force pull requests to not use the deprecated items.

[2020-08-02 15:24] cmsbuild commented on #31021
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-02 15:47] slava77 commented on #31019
the description is pretty unreadable.
Can this be reparsed to something that could be passed to developers? At this point only the first few with explicit comments are only somewhat clear.

[2020-08-02 15:53] davidlange6 commented on #31019
I fixed up some incorrect line breaks - but right, presumably some digging is needed to know the potential solution to each one. I provided the digging that I have done so far

[2020-08-02 16:30] slava77 commented on #31019
thanks, this is a bit better already.

Does this provide the same information as in the ignominy (IB QA)?

e.g. https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc820&release=CMSSW_11_2_X_2020-07-30-2300
[code]
Can ignominy be used to get a more readable/detailed information?

[2020-08-02 16:31] Dr15Jones commented on #31021
assign core

[2020-08-02 16:31] cmsbuild commented on #31021
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-02 16:36] davidlange6 commented on #31019
On Aug 2, 2020, at 6:30 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

Can ignominy be used to get a more readable/detailed information?

Indeed it looks like some of these are reported by ignominy as well. Scram seems to have picked up more after BuildFIles that match what’s #included are used.

—
You are receiving this because you were mentioned.
Reply to

[2020-08-02 16:40] slava77 commented on #31019
since the issue is not reported in an obvious way,
how to reproduce the report to see that a specific item is gone?

[2020-08-02 16:43] davidlange6 commented on #31019
currently one can do

git cms-merge-topic 31005
scram b

On Aug 2, 2020, at 6:40 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

since the issue is not reported in an obvious way,
how to reproduce the report to see that a specific item is gone?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://githu

[2020-08-02 16:46] Dr15Jones commented on #31019
The dependencies appear to be a bit more complex
[code]

[2020-08-02 16:46] davidlange6 commented on #31019
Or probably

Doing grep PackageA PackageB/BuildFile.xml PackageB/interface/* PackageB/src/*

And vice versa is sufficient for most I suspect..

On Aug 2, 2020, at 6:43 PM, David Lange <notifications@github.com<mailto:notifications@github.com>> wrote:

currently one can do

git cms-merge-topic 31005
scram b

On Aug 2, 2020, at 6:40 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@

[2020-08-03 07:16] silviodonato commented on #31012
abort

[2020-08-03 07:17] cmsbuild commented on #31012
Deleting CMSSW_11_1_2_patch3:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_2_patch3 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_2_patch3/slc7_amd64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_2_patch3/slc7_aarch64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_2_patch3/slc7_ppc64le_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_2_patch3/c

[2020-08-03 07:19] #31012 closed

[2020-08-03 12:29] slomeo commented on #30921
@cvuosalo : I'm sorry for my late answer but I was on vacation. Is still necessary to contact my Muon colleagues?

[2020-08-03 13:32] makortel opened #31023 "DQM/Integration unit test failure"
A unit test in DQM/Integration has been failing since CMSSW_11_2_X_2020-07-28-2300 with
[code]
(see e.g. https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-08-02-2300/unitTestLogs/DQM/Integration#/15373-15373 for full, long, log)

[2020-08-03 13:32] makortel commented on #31023
assign core, dqm

[2020-08-03 13:33] cmsbuild commented on #31023
New categories assigned: core,dqm

@Dr15Jones,@smuzaffar,@jfernan2,@andrius-k,@fioriNTU,@makortel,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-03 13:33] cmsbuild commented on #31023
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-03 13:37] makortel commented on #31023
I did not spot anything obvious from the merged PRs between CMSSW_11_2_X_2020-07-28-1100 and CMSSW_11_2_X_2020-07-28-2300.

I did notice that CMSSW_11_2_X_2020-07-28-2300 had an update on ROOT 6.20 https://github.com/cms-sw/cmsdist/pull/6112. I wonder if that could be related.

@pcanal Could this error be related to an update in ROOT?

[2020-08-03 13:55] Dr15Jones commented on #31021
In order to avoid flooding the IBs with warnings, we could wrap the use of [[deprecated]] in a macro and make sure the macro is off during the IB builds but on during the pull request tests and when people build locally.

[2020-08-03 14:26] makortel commented on #31021
Being able to ignore these warnings in IBs is (also?) my main concern. In PR tests, what about code in files not touched by the PR? If we manage to ignore those, this would effectively mean that any change in an "offending" file would require a migration away (which could be ok, but would require a policy discussion first I suppose).

[2020-08-03 14:30] jfernan2 commented on #31023
@hyunyong @seungjin-yang  GEM DQM contacts, can you please have a look too? Thanks

[2020-08-03 14:58] makortel commented on #31019
Took a look because of personal history. Seems to me that the only reason `DataFormats/TrackCandidate` is used in `DataFormats/TrackReco` is for dictionary declarations
https://github.com/cms-sw/cmssw/blob/e1d765803495f38b2ea45e9f563508012ea8185c/DataFormats/TrackReco/src/classes_def.xml#L476-L479
https://github.com/cms-sw/cmssw/blob/e1d765803495f38b2ea45e9f563508012ea8185c/DataFormats/TrackReco/s

[2020-08-03 15:13] cvuosalo commented on #30921
+1

[2020-08-03 15:14] cvuosalo commented on #30921
@slomeo It looks like this issue is resolved, so nothing more needs to be done.

[2020-08-03 15:55] smuzaffar commented on #30870
this was done. this can be closed

[2020-08-03 15:55] #30870 closed

[2020-08-03 15:55] cmsbuild commented on #30870
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-03 15:56] #30653 closed

[2020-08-03 15:57] #30586 closed

[2020-08-03 18:04] gartung opened #31030 "Running igprof cmsRun in Jenkins job results in segfault in libigprof.so"
The output from runTheMatrix.log created by script run by the Jenkins job.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/igprof/CMSSW_11_1_X_2020-08-03-1100/slc7_amd64_gcc820/pp/runTheMatrix.log

[code]

Jenkins log shows a segmentation violation.

[code]

step2_RunSinglePh2017F+RunSinglePh2017F+HLTDR2_2017+RECODR2_2017reHLT_skimSinglePh_Prompt+HARVEST2017.log shows that the file appears to open b

[2020-08-03 18:04] cmsbuild commented on #31030
A new Issue was created by  @gartung Patrick Gartung.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-03 18:08] makortel commented on #31030
Is the first test ran by Jenkins (i.e. from IBs or PR tests)?

In the second test, did you pass `--ibeos` to `runTheMatrix`?

Can you check from the log what exactly happens?

[2020-08-03 18:11] gartung commented on #31030
Note the segmentation violation also happens on files that are stored on EOS.

[code]

[2020-08-03 18:11] gartung commented on #31030
No I did not pass the --ibeos option.

[2020-08-03 18:18] makortel commented on #31030
When running at CERN it is best to use `--ibeos` to force reading the input from CERN EOS.

Could you check the log for the actual error?

[2020-08-03 18:28] makortel commented on #30980
#30996 was included in CMSSW_11_2_X_2020-08-03-1100, but 29034.0 still fails with
[code]
which is a bit strange given that the test of 29034.0 in the PR passed. Maybe hints to a threading problem (IBs are run multithreaded, PRs with a single thread).

[2020-08-03 18:38] gartung commented on #31030
I rearranged the initial comment. I don't see an error in the log (see above).

[2020-08-03 18:44] makortel commented on #31030
Not even in the `step2_RunSinglePh2017F+RunSinglePh2017F+HLTDR2_2017+RECODR2_2017reHLT_skimSinglePh_Prompt+HARVEST2017.log`?

[2020-08-03 18:45] gartung commented on #31030
Correct. I copied the full log.

[2020-08-03 18:48] makortel commented on #31030
assign core

Seems that we have some infrastructure issues to be solved first.

[2020-08-03 18:48] cmsbuild commented on #31030
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-03 18:50] makortel commented on #31030
I guess the failure is specific for running cmsRun through IgProf. Has this worked before, or is this the first time it is being set up?

Do other workflows fail as well?

[2020-08-03 18:57] gartung commented on #31030
Something is happening with simulation workflows as well. The workflow appears to start but never completes step1:

https://cmssdt.cern.ch/SDT/jenkins-artifacts/igprof/CMSSW_11_1_X_2020-08-03-1100/slc7_amd64_gcc820/pp/runTheMatrix.log

Checking the output of step1 shows no error:

https://cmssdt.cern.ch/SDT/jenkins-artifacts/igprof/CMSSW_11_1_X_2020-08-03-1100/slc7_amd64_gcc820/pp/21234.0_TTbar_14

[2020-08-03 19:00] gartung commented on #31030
The jenkins log shows a segmentation fault as well for the simulation workflow
https://cmssdt.cern.ch/jenkins/job/ib-run-igprof/10404/console

[2020-08-03 19:22] gartung commented on #31030
Running with `--ibeos`  interactively did cause runTheMatrix to load the files from CERN EOS.
The `cms-bot/das_client` runs the query through `ibeos-lfn-sort`
https://github.com/cms-sw/cms-bot/blob/cde7f9952ea2861522477197b3e740cbc5d4a24c/das-utils/das_client#L78

[2020-08-03 21:01] silviodonato opened #31033 "Build CMSSW_11_2_patch3"

[2020-08-03 21:02] cmsbuild commented on #31033
The release name is malformed. Please check for typos.

[2020-08-03 21:02] #31033 closed

[2020-08-03 21:03] silviodonato opened #31034 "Build CMSSW_11_1_2_patch3"

[2020-08-03 21:03] cmsbuild commented on #31034
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-08-03 21:03] silviodonato commented on #31034
+1

[2020-08-03 21:03] cmsbuild commented on #31034
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-08-03 21:03] cmsbuild commented on #31034
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-08-03 21:06] cmsbuild commented on #31034
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2560/console
CMSDIST Branch: [REL/CMSSW_11_1_2/cc8_amd64_gcc8](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/cc8_amd64_gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-03 21:07] cmsbuild commented on #31034
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2561/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_ppc64le_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_ppc64le_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-03 21:15] cmsbuild commented on #31034
The build has started for slc7_amd64_gcc820 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2562/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-03 21:59] cmsbuild commented on #31034
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_ppc64le_gcc820/2561
So

[2020-08-03 22:20] cmsbuild commented on #31034
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-cc8_amd64_gcc8/2560
Some tests (

[2020-08-03 22:47] cmsbuild commented on #31034
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_amd64_gcc820/2562
Some t

[2020-08-03 23:04] cmsbuild commented on #31034
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_ppc64le_gcc820/2561

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed