[2019-03-06 11:49] davidlange6 opened #26082 "Tracking clang-format work"
I thought that I would start an issue to keep track of things we discussed in the core meeting yesterday. @Dr15Jones @smuzaffar @fwyzard @fabiocos

[2019-03-06 11:49] cmsbuild commented on #26082
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-06 11:53] davidlange6 commented on #26082
To do item: see what problems come after applying clang-format to the entire repository

I tried this - there is one error (repeating a few times)

In file included from /cvmfs/cms-ib.cern.ch/nweek-02566/slc7_amd64_gcc700/lcg/root/6.12.07-pafccj/include/TObject.h:17:0,
                 from /build/dlange/CMSSW_10_6_X_2019-03-05-2300/src/Alignment/CocoaFit/interface/NtupleObjects.h:11,

[2019-03-06 12:15] fabiocos commented on #26071
@kpedro88 @lgray @pmeridian for MTD, we have used in production D35, but the chosen  baseline scenario for TDR corresponds to D38. Furthermore, the LYSO definition should be reviewed. Do we want to take the opportunity of a new campaign to test all this?

[2019-03-06 12:32] Dr15Jones commented on #26082
@davidlange6 what is the git diff of the file that will not compile?

[2019-03-06 12:53] pmeridian commented on #26071
Yes I think it will be very useful

[2019-03-06 14:16] kpedro88 commented on #26071
@fabiocos yes, if there are post-TDR updates, let's incorporate them.

[2019-03-06 14:29] davidlange6 commented on #26082
ah - I guess this is the problem - I guess its confused by the ClassImp lines not having a ';'?

-ClassImp(FitParam)
-ClassImp(OptObject)
-ClassImp(Sensor2DMeas)
-ClassImp(DistancemeterMeas)
-ClassImp(Distancemeter1DimMeas)
-ClassImp(TiltmeterMeas)
-ClassImp(CopsMeas)
+ClassImp(FitParam) ClassImp(OptObject) ClassImp(Sensor2DMeas) ClassImp(DistancemeterMeas)
+    ClassImp(Distancemeter1DimMeas) Cla

[2019-03-06 14:46] davidlange6 commented on #26082
Clang-format PRs
1) #26085 the formatting we looked at yesterday (but updated)
2) #26086  #1 but with reverting the template line break topic as brought up by Matti
3) #26087 #1 but breaking function arguments line by line.

So next steps:

Agree on which of these PRs we want - can we try to discuss in the next few days?

Commit the corresponding .clang-format to cmssw

Post hypernews with a plann

[2019-03-06 14:57] Dr15Jones commented on #26082
I just took a quick look at ROOT, ClassImp does allow a trailing ';' which is how ROOT actually uses it.

[2019-03-06 15:40] davidlange6 commented on #26082
ha - and in CMSSW we almost never have the ';'.

adding one is sufficient to make clang-format do the right thing in the example I followed.

[2019-03-06 15:57] Dr15Jones commented on #26082
@davidlange6 Matti and I are finding it extremely difficult to see the effect of the various formating options. Instead of doing one giant change, could you instead

1) do a commit which is just the same as the commit '#26085'
2) change the format options and run again and make a second commit with the new format

In that way we can look at just one commit difference to see how the one formating o

[2019-03-06 16:14] Dr15Jones commented on #26022
@pcanal ping

[2019-03-06 16:17] davidlange6 commented on #26082
how about this

https://github.com/cms-sw/cmssw/commit/85a3a029e6f7aa132116516e052034450b1676d8

https://github.com/cms-sw/cmssw/commit/5c445893d31957c393047ced9ce263f852725286

[2019-03-06 16:24] pcanal commented on #26022
No, the cmake change is 'spurrious'.

[2019-03-06 16:24] Dr15Jones commented on #26082
Perfect!

[2019-03-06 16:25] makortel commented on #26082
@davidlange6 Thanks! I think https://github.com/cms-sw/cmssw/commit/85a3a029e6f7aa132116516e052034450b1676d8 is mostly better.

[2019-03-06 16:36] nancymarinelli commented on #25991
@perrotta @mverzett @bainbrid I just submitted PR #26090 for the master, to include conversions from lowPtGsfTracks in miniAOD

[2019-03-06 16:40] smuzaffar commented on #26022
@Dr15Jones , https://github.com/cms-sw/root/commit/78c5af9a8bf237b4e4a07145b1b92579903b6e57 includes @pcanal  changes. https://github.com/cms-sw/cmsdist/pull/4757 is running the tests, once successful then we shall merge it.

[2019-03-06 17:35] kpedro88 commented on #26082
I do not like 5c44589 at all - huge waste of space. If we want to have each function argument on a separate line (do we want this?), I would prefer the following approach:
[code]

[2019-03-07 04:20] bbockelm commented on #26002
@Dr15Jones - it's not clear from the logs reported below.  What do you think is a bug in Xrootd?

The file close is done as an asynchronous callback; nothing in CMSSW waits for this to complete.  So, log message after everything else is done is unsurprising.  Actually delaying the process exit until the close is completed _is_ surprising to me (if that's what's happening here).

[2019-03-07 08:28] fabiocos opened #26096 "Build CMSSW_9_4_13_patch1"

[2019-03-07 08:29] cmsbuild commented on #26096
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-07 08:31] fabiocos commented on #26096
+1

[2019-03-07 08:31] cmsbuild commented on #26096
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-03-07 08:31] cmsbuild commented on #26096
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-07 08:32] cmsbuild commented on #26096
The build has started for slc6_amd64_gcc630 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1969/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-07 08:32] cmsbuild commented on #26096
The build has started for slc7_amd64_gcc630 in cmsbuild90.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1970/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-07 08:57] cmsbuild commented on #26096
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch1-slc7_amd64_gcc630/1970
Some t

[2019-03-07 08:57] cmsbuild commented on #26096
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch1-slc6_amd64_gcc630/1969
Some t

[2019-03-07 10:03] cmsbuild commented on #26096
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch1-slc6_amd64_gcc630/1969

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-07 10:06] cmsbuild commented on #26096
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch1-slc7_amd64_gcc630/1970

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-07 10:36] fabiocos commented on #26096
upload all

[2019-03-07 10:36] cmsbuild commented on #26096
Queing Jenkins upload for slc6_amd64_gcc630

[2019-03-07 10:36] cmsbuild commented on #26096
Queing Jenkins upload for slc7_amd64_gcc630

[2019-03-07 10:39] cmsbuild commented on #26096
The upload has started for slc6_amd64_gcc630 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1279/console

[2019-03-07 10:40] cmsbuild commented on #26096
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_patch1-slc6_amd64_gcc630/1279

[2019-03-07 10:40] cmsbuild commented on #26096
The upload has started for slc7_amd64_gcc630 in cmsbuild90.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1280/console

[2019-03-07 10:41] cmsbuild commented on #26096
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_patch1-slc7_amd64_gcc630/1280

[2019-03-07 10:43] fabiocos commented on #26096
release-notes

[2019-03-07 10:43] cmsbuild commented on #26096
Generating release notes since CMSSW_9_4_13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-07 10:43] cmsbuild commented on #26096
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_13_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_13_patch1

Cheers,
cms-bot

You can also click <a href

[2019-03-07 10:44] cmsbuild commented on #26096
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_patch1

[2019-03-07 13:38] fabiocos opened #26098 "Build CMSSW_10_2_12"

[2019-03-07 13:39] cmsbuild commented on #26098
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-07 13:39] fabiocos commented on #26098
+1

[2019-03-07 13:40] cmsbuild commented on #26098
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_12. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-03-07 13:40] cmsbuild commented on #26098
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-07 13:40] fabiocos commented on #25991
All the code backported so far in 10_2_X will be included in the next release build, see #26098

[2019-03-07 13:41] cmsbuild commented on #26098
The build has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1971/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-07 13:41] cmsbuild commented on #26098
The build has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1972/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-07 15:52] Dr15Jones commented on #26022
@smuzaffar

What is the status of this? Thanks.

[2019-03-07 15:56] smuzaffar commented on #26022
this should be in today's 12h00 IB (still in build phase)

[2019-03-07 16:18] fabiocos commented on #26082
@davidlange6 your plan https://github.com/cms-sw/cmssw/issues/26082#issuecomment-470133536 looks reasonable, according to what we have discussed. My main concern is to try to avoid undoing fixes in subsequent PRs during the stages 1 - 3, that globally might last for several weeks.

[2019-03-07 16:50] davidlange6 commented on #26082
imo we need to commit to pushing in these changes if we want this to work. There will be some conflicts without a doubt. We can also propose to delay any packages from the migration for a few weeks in cases where some significant development is coming

[2019-03-07 18:00] cmsbuild commented on #26098
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_12-slc7_amd64_gcc700/1972
Some tests (

[2019-03-07 19:51] cmsbuild commented on #26098
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_12-slc6_amd64_gcc700/1971
Some tests (

[2019-03-07 20:02] cmsbuild commented on #26098
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_12-slc7_amd64_gcc700/1972

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-07 22:02] cmsbuild commented on #26098
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_12-slc6_amd64_gcc700/1971

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-07 22:51] rappoccio opened #26103 "Create pat::GenJet capability"
Several requests have come for people to use pat::Jets made from GenJets to utilize substructure and flavor tagging tools.

[2019-03-07 22:51] cmsbuild commented on #26103
A new Issue was created by  @rappoccio .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-07 22:52] rappoccio opened #26104 "Add CHS jet area to pat::Jet user floats in MINIAOD"
Issue reported [here](https://hypernews.cern.ch/HyperNews/CMS/get/JetMET/1919.html). Need to add jet areas (and raw factors) to pat::Jet user floats.

[2019-03-07 22:52] cmsbuild commented on #26104
A new Issue was created by  @rappoccio .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-08 03:31] rappoccio opened #26105 "Add beta-star variables for JEC workflows to MINIAOD"
The beta-star variables are currently only in NANOAOD but it would be ideal to put them into MINIAOD.

[2019-03-08 03:31] cmsbuild commented on #26105
A new Issue was created by  @rappoccio .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-08 08:06] fabiocos commented on #26098
upload all

[2019-03-08 08:07] cmsbuild commented on #26098
Queing Jenkins upload for slc6_amd64_gcc700

[2019-03-08 08:07] cmsbuild commented on #26098
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-08 08:08] cmsbuild commented on #26098
The upload has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1282/console

[2019-03-08 08:09] cmsbuild commented on #26098
The upload has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1281/console

[2019-03-08 08:09] cmsbuild commented on #26098
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_12-slc7_amd64_gcc700/1282

[2019-03-08 08:15] cmsbuild commented on #26098
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_12-slc6_amd64_gcc700/1281

[2019-03-08 08:29] fabiocos commented on #26098
release-notes

[2019-03-08 08:30] cmsbuild commented on #26098
Generating release notes since CMSSW_10_2_11_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-08 08:30] cmsbuild commented on #26098
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_12 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_11_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_12

Cheers,
cms-bot

You can also click <a href="mailto:h

[2019-03-08 08:31] cmsbuild commented on #26098
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_12

[2019-03-08 14:24] Dr15Jones commented on #26022
@alberto-sanchez @efeyazgan @perrozzi @qliphy please review. This technical change is needed for both the switch to ROOT 6.14 but also to ongoing production (where it would have to be backported to 9_4).

[2019-03-08 15:57] rappoccio opened #26115 "Add PF-like GenJet Specifics"
Currently the reco::GenJets are storing Calo-like specific information. This needs to be updated to be most useful.

[2019-03-08 15:58] cmsbuild commented on #26115
A new Issue was created by  @rappoccio .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-08 21:19] fabiocos opened #26128 "Build CMSSW_10_6_0_pre1"

[2019-03-08 21:19] cmsbuild commented on #26128
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-08 21:20] fabiocos commented on #26128
build cmssw-tool-conf

[2019-03-08 21:20] cmsbuild commented on #26128
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700, slc7_ppc64le_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-03-08 21:20] cmsbuild commented on #26128
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1973/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-08 21:21] cmsbuild commented on #26128
The cmssw-tool-conf build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1974/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-08 21:21] cmsbuild commented on #26128
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1975/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-08 21:21] cmsbuild commented on #26128
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1976/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-08 23:46] cmsbuild commented on #26128
There was an error building cmssw-tool-conf for slc7_aarch64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_aarch64_gcc700/1976

[2019-03-09 00:54] cmsbuild commented on #26128
There was an error building cmssw-tool-conf for slc7_ppc64le_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_ppc64le_gcc700/1974

[2019-03-09 01:30] cmsbuild commented on #26128
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_amd64_gcc820/1975

[2019-03-09 03:16] cmsbuild commented on #26128
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_amd64_gcc700/1973

[2019-03-09 09:15] cmsbuild commented on #26128
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1977/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 09:20] cmsbuild commented on #26128
There was an error building cmssw-tool-conf for slc7_aarch64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_aarch64_gcc700/1977

[2019-03-09 09:21] cmsbuild commented on #26128
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1978/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 09:28] fabiocos commented on #26128
@smuzaffar I see there are troubles with the experimental architectures, but amd64 looks ok as expected, I would start the regular release build

[2019-03-09 09:32] smuzaffar commented on #26128
@fabiocos , yes please ignore aarch64 and ppc64el errors.

[2019-03-09 09:33] fabiocos commented on #26128
+1

[2019-03-09 09:33] cmsbuild commented on #26128
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-03-09 09:33] cmsbuild commented on #26128
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-09 09:35] cmsbuild commented on #26128
The build has started for slc7_amd64_gcc700 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1979/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 09:35] cmsbuild commented on #26128
The build has started for slc7_amd64_gcc820 in cmsbuild96.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1980/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 09:53] cmsbuild commented on #26096
The cleanup has started for slc6_amd64_gcc630

[2019-03-09 09:53] cmsbuild commented on #26096
The cleanup has started for slc7_amd64_gcc630

[2019-03-09 09:53] #26096 closed

[2019-03-09 09:58] cmsbuild commented on #26096
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13_patch1-slc7_amd64_gcc630/1288

[2019-03-09 09:59] cmsbuild commented on #26096
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13_patch1-slc6_amd64_gcc630/1287

[2019-03-09 09:59] fabiocos opened #26131 "Build CMSSW_10_5_0"

[2019-03-09 09:59] cmsbuild commented on #26131
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-09 10:00] fabiocos commented on #26131
+1

[2019-03-09 10:01] cmsbuild commented on #26131
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_5_X

[2019-03-09 10:01] cmsbuild commented on #26131
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to f

[2019-03-09 10:08] cmsbuild commented on #26131
The build has started for slc6_amd64_gcc700 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1981/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 10:09] cmsbuild commented on #26131
The build has started for slc7_amd64_gcc700 in cmsbuild95.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1982/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 10:14] cmsbuild commented on #26131
The build has started for slc7_amd64_gcc820 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1983/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 12:54] cmsbuild commented on #26128
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_aarch64_gcc700/1978

[2019-03-09 12:55] cmsbuild commented on #26128
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-03-09 12:55] cmsbuild commented on #26128
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1984/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 13:59] cmsbuild commented on #26128
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_amd64_gcc820/1980
Some tes

[2019-03-09 14:24] cmsbuild commented on #26131
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0-slc7_amd64_gcc820/1983
Some tests (

[2019-03-09 14:38] cmsbuild commented on #26128
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_aarch64_gcc700/1984
Some

[2019-03-09 15:50] cmsbuild commented on #26131
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0-slc6_amd64_gcc700/1981
Some tests (

[2019-03-09 16:15] cmsbuild commented on #26128
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_aarch64_gcc700/1984

Tests results:
18 14 11 6 4 0 0 0 0 tests passed, 14 4 2 2 0 0 0 0 0 failed

[2019-03-09 16:21] pcanal commented on #26022
This has been merged in master, v6-16, v6-14 and v6-12.

[2019-03-09 16:34] cmsbuild commented on #26131
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0-slc7_amd64_gcc820/1983

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-09 16:48] cmsbuild commented on #26128
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_amd64_gcc820/1980

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-09 16:52] cmsbuild commented on #26131
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0-slc7_amd64_gcc700/1982
Some tests (

[2019-03-09 17:36] cmsbuild commented on #26128
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_amd64_gcc700/1979
Some tes

[2019-03-09 18:27] cmsbuild commented on #26131
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0-slc6_amd64_gcc700/1981

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-09 18:52] fabiocos opened #26136 "Build CMSSW_9_4_13_patch2"

[2019-03-09 18:53] cmsbuild commented on #26136
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-09 18:54] fabiocos commented on #26136
+1

[2019-03-09 18:55] cmsbuild commented on #26136
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-03-09 18:55] cmsbuild commented on #26136
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-09 18:55] cmsbuild commented on #26136
The build has started for slc6_amd64_gcc630 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1985/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 18:55] cmsbuild commented on #26136
The build has started for slc7_amd64_gcc630 in cmsbuild97.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1986/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-09 19:05] cmsbuild commented on #26131
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0-slc7_amd64_gcc700/1982

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-09 19:17] cmsbuild commented on #26136
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch2-slc7_amd64_gcc630/1986
Some t

[2019-03-09 19:50] cmsbuild commented on #26136
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch2-slc6_amd64_gcc630/1985
Some t

[2019-03-09 20:20] cmsbuild commented on #26128
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre1-slc7_amd64_gcc700/1979

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-09 20:24] cmsbuild commented on #26136
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch2-slc7_amd64_gcc630/1986

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-09 20:59] cmsbuild commented on #26136
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch2-slc6_amd64_gcc630/1985

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-09 21:23] fabiocos commented on #26128
upload all

[2019-03-09 21:23] cmsbuild commented on #26128
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-03-09 21:23] cmsbuild commented on #26128
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-09 21:24] cmsbuild commented on #26128
Queing Jenkins upload for slc7_amd64_gcc820

[2019-03-09 21:24] fabiocos commented on #26136
upload all

[2019-03-09 21:24] cmsbuild commented on #26136
Queing Jenkins upload for slc6_amd64_gcc630

[2019-03-09 21:24] cmsbuild commented on #26136
Queing Jenkins upload for slc7_amd64_gcc630

[2019-03-09 21:24] fabiocos commented on #26131
upload all

[2019-03-09 21:25] cmsbuild commented on #26131
Queing Jenkins upload for slc6_amd64_gcc700

[2019-03-09 21:25] cmsbuild commented on #26131
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-09 21:25] cmsbuild commented on #26131
Queing Jenkins upload for slc7_amd64_gcc820

[2019-03-09 21:26] cmsbuild commented on #26128
The upload has started for slc7_amd64_gcc820 in cmsbuild96.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1284/console

[2019-03-09 21:26] cmsbuild commented on #26136
The upload has started for slc6_amd64_gcc630 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1286/console

[2019-03-09 21:26] cmsbuild commented on #26136
The upload has started for slc7_amd64_gcc630 in cmsbuild97.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1287/console

[2019-03-09 21:26] cmsbuild commented on #26128
The upload has started for slc7_amd64_gcc700 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1285/console

[2019-03-09 21:26] cmsbuild commented on #26136
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_patch2-slc6_amd64_gcc630/1286

[2019-03-09 21:26] cmsbuild commented on #26136
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_patch2-slc7_amd64_gcc630/1287

[2019-03-09 21:27] cmsbuild commented on #26131
The upload has started for slc6_amd64_gcc700 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1288/console

[2019-03-09 21:27] cmsbuild commented on #26131
The upload has started for slc7_amd64_gcc700 in cmsbuild95.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1289/console

[2019-03-09 21:27] cmsbuild commented on #26128
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre1-slc7_amd64_gcc820/1284

[2019-03-09 21:27] cmsbuild commented on #26131
The upload has started for slc7_amd64_gcc820 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1290/console

[2019-03-09 21:28] cmsbuild commented on #26131
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0-slc6_amd64_gcc700/1288

[2019-03-09 21:29] cmsbuild commented on #26131
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0-slc7_amd64_gcc820/1290

[2019-03-09 21:30] cmsbuild commented on #26128
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre1-slc7_amd64_gcc700/1285

[2019-03-09 21:31] cmsbuild commented on #26131
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0-slc7_amd64_gcc700/1289

[2019-03-09 21:36] fabiocos commented on #26136
release-notes

[2019-03-09 21:37] cmsbuild commented on #26136
Generating release notes since CMSSW_9_4_13_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-09 21:37] cmsbuild commented on #26136
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_13_patch2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_13_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_13_patch2

Cheers,
cms-bot

You can also click

[2019-03-09 21:37] fabiocos commented on #26131
release-notes

[2019-03-09 21:37] cmsbuild commented on #26131
Generating release notes since CMSSW_10_5_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-09 21:37] fabiocos commented on #26128
release-notes

[2019-03-09 21:37] cmsbuild commented on #26131
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_5_0 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc6_amd64_gcc700
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_5_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_5_0

Cheers,
cms-bot

You can also click <a h

[2019-03-09 21:38] cmsbuild commented on #26136
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_patch2

[2019-03-09 21:38] cmsbuild commented on #26128
Unable to find previous release for CMSSW_10_6_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2019-03-09 21:38] cmsbuild commented on #26131
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0

[2019-03-09 21:39] fabiocos commented on #26128
release-notes since CMSSW_10_5_0_pre2

[2019-03-09 21:39] cmsbuild commented on #26128
Generating release notes since CMSSW_10_5_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-09 21:39] cmsbuild commented on #26128
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_6_0_pre1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_5_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_0_pre1

Cheers,
cms-bot

You can also click <a href="ma

[2019-03-09 21:40] cmsbuild commented on #26128
Generating release notes since CMSSW_10_5_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-09 21:40] cmsbuild commented on #26128
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_6_0_pre1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_5_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_0_pre1

Cheers,
cms-bot

You can also click <a href="ma

[2019-03-09 21:40] cmsbuild commented on #26128
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre1

[2019-03-09 21:40] cmsbuild commented on #26128
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre1

[2019-03-10 07:38] cmsbuild commented on #26098
The cleanup has started for slc6_amd64_gcc700

[2019-03-10 07:38] cmsbuild commented on #26098
The cleanup has started for slc7_amd64_gcc700

[2019-03-10 07:38] #26098 closed

[2019-03-10 07:40] cmsbuild commented on #26098
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_12-slc6_amd64_gcc700/1289

[2019-03-10 07:44] cmsbuild commented on #26098
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_12-slc7_amd64_gcc700/1290

[2019-03-10 13:43] Dr15Jones commented on #26050
#26052 should fix this problem.

[2019-03-10 13:44] Dr15Jones commented on #26050
+1

[2019-03-10 13:44] #26050 closed

[2019-03-10 13:44] cmsbuild commented on #26050
This issue is fully signed and ready to be closed.

[2019-03-10 16:11] fabiocos commented on #26128
@smuzaffar what is the status of slc7_aarch64_gcc700? Apparently it should have been built, and although a few tests are failing it could be made available in cvmfs, but still I do not see it...
Is https://cmssdt.cern.ch/jenkins/job/upload-release/lastUnsuccessfulBuild/console the corresponding log? It looks like there was a communication problem?

[2019-03-10 17:54] fabiocos commented on #26022
I have merged #26053, but after that I see a number of failures in the ROOT614_X build...

[2019-03-10 18:58] cmsbuild commented on #26128
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1292/console

[2019-03-10 18:59] cmsbuild commented on #26128
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre1-slc7_aarch64_gcc700/1292

[2019-03-11 09:00] fabiocos commented on #26022
@smuzaffar @Dr15Jones also the reproducible failure of the unit test in Validation/Geometry looks related to the integration of #26053. Concerning the comment https://github.com/cms-sw/cmssw/pull/26053#issuecomment-471335142 : looking into https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_6_X/rootnext/root.spec I see that the root version points to https://github.com/cms-sw/root/commits/cms/v6-14

[2019-03-11 12:56] cmsbuild commented on #26128
The was error uploading slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre1-slc7_aarch64_gcc700/1293

[2019-03-11 13:04] smuzaffar commented on #26128
@fabiocos , aarch64 update is successful.

[2019-03-11 13:36] Dr15Jones commented on #26022
@fabiocos I'm looking into the unit test failure.

[2019-03-11 13:38] Dr15Jones commented on #26022
@pcanal

The reason the test fails is the following exception
[code]

How could this possibly have occurred?

[2019-03-11 13:41] Dr15Jones commented on #26022
@pcanal
I ran the job in the debugger with `catch throw` and I get

[code]

[2019-03-11 13:49] Dr15Jones commented on #26022
@smuzaffar @fabiocos It looks like the problem seen in the unit test was fixed by this commit to ROOT

https://github.com/root-project/root/commit/3317c2027c976c4f5d2b4eece00bc6c4aae9773b

@pcanal looks like we need this fix in 6.12, 6.14 and 6.16.

[2019-03-11 13:51] Dr15Jones commented on #26022
@pcanal I see the change to TObject::Clone is already in 6.14 and 6.16. That meas we only need it in 6.12.

[2019-03-11 16:49] pcanal commented on #26022
https://github.com/root-project/root/pull/3523

[2019-03-11 17:18] smuzaffar commented on #26022
@fabiocos , we have not updated root 6.14 since a while now (basically after building the ROOT614 release for root 6.14 validation). If no objections that we can bump it to tip on root 6.14 branch?

[2019-03-11 20:38] cmsbuild commented on #26131
The cleanup has started for slc6_amd64_gcc700

[2019-03-11 20:38] cmsbuild commented on #26131
The cleanup has started for slc7_amd64_gcc700

[2019-03-11 20:38] cmsbuild commented on #26131
The cleanup has started for slc7_amd64_gcc820

[2019-03-11 20:38] #26131 closed

[2019-03-11 20:38] cmsbuild commented on #26136
The cleanup has started for slc6_amd64_gcc630

[2019-03-11 20:38] cmsbuild commented on #26136
The cleanup has started for slc7_amd64_gcc630

[2019-03-11 20:38] #26136 closed

[2019-03-11 20:42] cmsbuild commented on #26136
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13_patch2-slc6_amd64_gcc630/1294

[2019-03-11 20:44] cmsbuild commented on #26136
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13_patch2-slc7_amd64_gcc630/1295

[2019-03-11 20:47] cmsbuild commented on #26131
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0-slc7_amd64_gcc820/1293

[2019-03-11 20:47] cmsbuild commented on #26131
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0-slc7_amd64_gcc700/1292

[2019-03-11 20:54] cmsbuild commented on #26128
The cleanup has started for slc7_aarch64_gcc700

[2019-03-11 20:54] cmsbuild commented on #26128
The cleanup has started for slc7_amd64_gcc700

[2019-03-11 20:54] cmsbuild commented on #26128
The cleanup has started for slc7_amd64_gcc820

[2019-03-11 20:54] #26128 closed

[2019-03-11 20:54] cmsbuild commented on #26128
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre1-slc7_aarch64_gcc700/1296

[2019-03-11 21:02] cmsbuild commented on #26128
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre1-slc7_amd64_gcc820/1298

[2019-03-11 21:05] cmsbuild commented on #26128
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre1-slc7_amd64_gcc820/1300

[2019-03-11 21:06] cmsbuild commented on #26128
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre1-slc7_amd64_gcc700/1299

[2019-03-11 21:14] cmsbuild commented on #26128
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre1-slc7_amd64_gcc700/1297

[2019-03-12 13:57] fabiocos commented on #25991
@mverzett @bainbrid @nancymarinelli apart for possible fixes, is there anything else to be expected? Or we may finally consider this issue as finalized?

[2019-03-12 14:01] fabiocos opened #26154 "Crash in bParking processing"
A problem with bParking code has been reported by PdmV. This issue has been initially observed during CRAB-based private tests, and were reproducible when running in CRAB but not when running locally.  The problem is:

[code]

initially reported in https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/4440.html and https://indico.cern.ch/event/790963/contributions/3306140 .
It looks present

[2019-03-12 14:04] cmsbuild commented on #26154
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-12 14:07] fabiocos commented on #26154
@prebello could you please point us to a failing workflow/initial settings?

[2019-03-12 14:08] fabiocos commented on #26154
@mverzett @bainbrid FYI

[2019-03-12 14:36] prebello commented on #26154
sure for instance
full set of injected relvals are at
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaign=CMSSW_10_2_12__fullsim_noPU_2018_bParking-1552246543

details for each step can be found at
https://cmsweb.cern.ch/reqmgr2/fetch?rid=prebello_RVCMSSW_10_2_12SingleElectronPt1000_190310_203726_6599
clicking on the respective step and then "Raw Data" tab

does it help? any furthe

[2019-03-12 15:00] bainbrid commented on #25991
If @nancymarinelli is happy from the conversions side, then we are finished and can close.

(The issue #26154 may potentially lead to some bug fixes ...)

[2019-03-12 16:03] davidlange6 commented on #26154
previously reported errors were due to special characters in the file (it seems)

The file read here is
RunII_Autumn18_LowPtElectrons_mva_id.xml.gz

is that correct?

[2019-03-12 16:04] Dr15Jones commented on #26022
@smuzaffar the ROOT pull request @pcanal references (root-project/root#3523) is the newest one we need to make things work. The same fix is was already merged into 6.14, 6.16 and master last night.

[2019-03-12 16:20] mverzett commented on #26154
@davidlange6 yes, the file is the right one.

  * Out of curiosity, how can you tell?
  * Why it works locally but not remotely?
  * How do we clean the xml from these characters?

[2019-03-12 16:30] slava77 commented on #24795
@prebello
please clarify on the status of this request.
This is somewhat blocking proper integration of the PPS detector developments.

[2019-03-12 17:05] davidlange6 commented on #26154
sorry I mean previous times when this same error was reported..

I don't actually see special characters in this file (yet), so past experience may have nothing to do with the current problem.

[2019-03-12 17:28] bainbrid commented on #26154
Note that we had to execute the following command:

xmllint --format BDT.xml > BDT_formatted.xml

before we were able to successfully read the files with the TXMLEngine.

Also we used gzip, as you can see from the file name suffixes.

So perhaps there are some issues / inconsistencies related to these two executables?

Rob

[2019-03-12 17:42] fabiocos commented on #26022
@smuzaffar @Dr15Jones @mrodozov as discussed at the ORP we should:

- get the latest fix for the issue seen in the unit test in 10_6_X, so as we can build a pre2 with that fixed as well; for this we need  CMSDIST PR picking the commit above;

- pick both this fix and the previous one in the ROOT614 branch. So it looks the right moment to update it to match the 614 official branch.

[2019-03-12 17:50] davidlange6 commented on #26154
probably good to see if there is better success using an unzipped file. No reason why there should be but..

otherwise, I'm lost about which releases have or have not worked in the various crab tests. Can someone be specific (with three digit release names).

[2019-03-12 18:17] tocheng commented on #24795
@slava77 @prebello Hello, I think prompt like GT in the autoCond should be fine.

[2019-03-12 18:23] prebello commented on #24795
Hi @slava77  doing it now. Sorry busy times in PdmV last months.
so the
workflows[136.8562] = ['',['RunZeroBias1_hBStarRP','HLTDR2_2018_hBStar','RECODR\
2_2018reHLT_Prompt_hBStar','HARVEST2018_hBStar']]
will be injected with autoCond GT in 10-5-0 (ok @tocheng ?)
RunhBStarRP={319270: [[1, 206]]} #for Roman Pot system
steps['RunZeroBias1_hBStarRP']={'INPUT':InputInfo(dataSet='/ZeroBias1/Commissionin

[2019-03-12 18:31] slava77 commented on #24795
On 3/12/19 11:23 AM, Patricia Rebello Teles wrote:

Thank you.

[2019-03-12 19:01] prebello commented on #24795
@slava77 there is no dataset=/ZeroBias*/Commissioning2018-v1/RAW for run 319270
could you please confirm the dataset to be used? TOTEM ones maybe?
dataset dataset=/TOTEM*/*/RAW run=319270

[2019-03-12 19:58] slava77 commented on #24795
the acquisition era for these runs was Run2018B
There is a /ZeroBiasTOTEM1/Run2018B-v1/RAW
We could also take a /TOTEM10/Run2018B-v1/RAW

[2019-03-13 01:55] prebello commented on #24795
hi @slava77  relval injected.
https://dmytro.web.cern.ch/dmytro/cmsprodmon/requests.php?campaign=CMSSW_10_5_0__TOTEM_highBstar-1552438873

[2019-03-13 07:27] smuzaffar commented on #26022
@Dr15Jones and @fabiocos , cmsdist PRs to update root are
ROOT Master (ROOT6 IBs): https://github.com/cms-sw/cmsdist/pull/4773
ROOT 6.14 (ROOT614 IBs): https://github.com/cms-sw/cmsdist/pull/4774
ROOT 6.12 (Default Ibs): https://github.com/cms-sw/cmsdist/pull/4775

[2019-03-13 08:46] guitargeek commented on #26154
This seems to be the reoccurrence of https://github.com/cms-sw/cmssw/issues/24395, which got fixed by https://github.com/cms-sw/cmssw/pull/24432 in 10_3_X. Since you are using 10_2_X here, the weight file is just too large I think.

Indeed, when I faced this problem half a year ago it also magically worked locally but not on CRAB...

[2019-03-13 08:54] mverzett commented on #26154
@guitargeek thanks for the explanation! Indeed it makes sense as the weight files are quite large.
@perrotta @slava77 @fabiocos any chance we can backport #24432 or violates some rules? Any other ideas for a workaround?

[2019-03-13 09:10] guitargeek commented on #26154
That would of course be quite a big backport, other ideas would be really convenient! In case we want to keep the backport option open however, there is also a cmsdist backport which would have to be made for tinyxml2, analogue to here https://github.com/cms-sw/cmsdist/pull/4433 (except that tinyxml1 should be just kept in the backported case). To make this list of references related to #24432 com

[2019-03-13 09:24] perrotta commented on #26154
Given the review comments posted for #24432 (see https://github.com/cms-sw/cmssw/pull/24432#issuecomment-425705984) I see no counterindication in principle in backporting that PR. It must be noted however, as also pointed out by @guitargeek right above. that it would be quite a big backport, it would act on parts of the code which have been touched and modified independently in the meanwhile, and

[2019-03-13 09:35] guitargeek commented on #26154
I personally never explored that option. But I think it must be somehow more complicated than just changing the limit, because there is also this other strange effect of it working locally but not on CRAB.

What I can do is to explore how easy a backport of #24432 + #25085 would be (i.e. how many conflicts would arise).

[2019-03-13 09:46] bainbrid commented on #26154
My feeling is that the back port, while a non-negligible effort, is presumably the most sensible way to proceed. So if @guitargeek <https://github.com/guitargeek> can create the PR, then once all the code-checks, etc are done, myself and @mverzett can use the PR branch to test locally and on CRAB to ensure it does the job. Presumably if the problem with CRAB goes away, then one can only hope the n

[2019-03-13 10:48] guitargeek commented on #26154
This is the backport for cmsdist, cmssw will follow.

[2019-03-13 10:58] mverzett commented on #26154
@bainbrid at the same time we could test the increase of ```xmlenginebuffersize``` with the same assumption that if it works on crab works for pdmV as well.
@guitargeek is it an environmental variable? a global variable?

[2019-03-13 11:00] bainbrid commented on #26154
Yes, sounds good - thanks!

[2019-03-13 11:00] guitargeek commented on #26154
Yes, that's good we try things in parallel. I have no idea how to change the `xmlenginebuffersize` though.

[2019-03-13 11:07] mverzett commented on #26154
Apparently the buffer size was **hardcoded** in the TMVA code until [this august](https://github.com/root-project/root/commit/9cee1571f1ee952a6c00e4f519e6adc72a17b927). I guess that the backport is the **only** solution

[2019-03-13 11:08] mverzett commented on #26154
Still, is a mystery how locally it works though

[2019-03-13 11:40] IzaakWN opened #26163 "Bug in Tau_genPartFlav"
Dear nanoAOD experts,

We have found some issues related to the gen matching of reconstructed tau objects to gen level muons, where "muon to tau fakes" (`Tau_genPartFlav` should be 2 or 4) are misassigned as "unmatched" or "jet to tau fakes" (`Tau_genPartFlav` = 0).

After discussing with the tau conveners, its seems that this is caused in two different places of the code:

1) https://github.com/c

[2019-03-13 11:40] cmsbuild commented on #26163
A new Issue was created by  @IzaakWN IWN.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-13 12:02] slava77 commented on #24795
Nice.
Is this a precursor to an update of the matrix workflows (136.8561 and 136.8562) in the CMSSW?

[2019-03-13 12:09] guitargeek commented on #26154
I'm theoretically done with the backport, but I have real trouble compiling and testing today! Both on lxplus and the machines of by lab I always get `/bin/sh: line 1: 294961 Segmentation fault      (core dumped) edmWriteConfigs -p blabla.so` Is that a known error?

[2019-03-13 12:36] Dr15Jones commented on #26163
assign xpog, analysis

[2019-03-13 12:36] cmsbuild commented on #26163
New categories assigned: analysis,xpog

@peruzzim,@santocch,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-13 12:43] prebello commented on #24795
not exactly. I have created a new relval 136.8563. I will do PR in master to make it available. Do you need backport to 10-5-X?

[2019-03-13 12:45] mverzett commented on #26154
Probably naive question: Could the problem lie [here](https://github.com/cms-sw/cmssw/blob/CMSSW_10_2_X/CommonTools/Utils/src/TMVAZipReader.cc#L80-L84)? Given we have two BDT models being instantiated sequentially in the same module and the comment on security of the line above the quoted ones?

[2019-03-13 12:48] slava77 commented on #24795
On 3/13/19 5:43 AM, Patricia Rebello Teles wrote:

A new relval wf is just fine.
No need for a backport.
Thank you.

[2019-03-13 13:03] guitargeek commented on #26154
What do you mean by "have two BDT models being instantiated sequentially in the same module"? There are modules in production for quite some time now which instantiate dozens of GBRForests, read from gzipped files right now. What does the low pt reconstruction do different with respect to what already exists? But honestly I don't quite understand the comment you linked anyway :)

[2019-03-13 13:21] guitargeek commented on #24395
Fixed from 10_3_X on with https://github.com/cms-sw/cmssw/pull/24432 by just not using TMVA anymore.

Fix backported to 10_2_X in https://github.com/cms-sw/cmssw/pull/26170.

[2019-03-13 13:21] #24395 closed

[2019-03-13 15:56] kpedro88 opened #26173 "Build CMSSW_9_3_14_patch1"

[2019-03-13 15:57] cmsbuild commented on #26173
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-13 15:58] Dr15Jones commented on #26154
There is a potential problem here
https://github.com/cms-sw/cmssw/blob/CMSSW_10_2_X/CommonTools/Utils/src/TMVAZipReader.cc#L81

`mkstemp` can fail, in which case it returns -1. That is never checked. If we had a failure on mulitple jobs running on a site, they would all try to open `/tmp/tmva.XXXXXX` and write into it simultaneously. Then when TMVA tries to read it, it could be changing while doin

[2019-03-13 16:02] bbockelm commented on #26154
Nope, that’s not the cause.

1.  All production jobs run in separate containers with unique /tmp.
2.  mkstemp only returns successfully if it has created a new unique file.
3.  The XXXXXX is replaced with randomly generated characters.  That’s why the file name is declared char* and not const char*.

[2019-03-13 16:04] Dr15Jones commented on #26154
@bbockelm if mkstemp fails, the man page says the value for 'template' is undefined or unchanged, depending on the failure.

[2019-03-13 16:10] Dr15Jones commented on #26154
Another potential problem in the code is
https://github.com/cms-sw/cmssw/blob/CMSSW_10_2_X/CommonTools/Utils/src/TMVAZipReader.cc#L87-L88

the` fputs` do not check for success.

[2019-03-13 16:28] davidlange6 commented on #26154
do we avoid these possible problems with an unzipped file?

[2019-03-13 16:33] Dr15Jones commented on #26154
Yes, since then a temporary file is never written and instead the unzipped files is passed directly to TMVA.

[2019-03-13 16:39] slava77 commented on #26154
@bainbrid @mverzett
please test with a non-gzipped file.
I guess it should be easy in the crab submission environment

[2019-03-13 16:42] mverzett commented on #26154
the non gzipped is 120MB, would that be feasible? TMVA is extremely verbose with the XML.

[2019-03-13 16:59] slava77 commented on #26154
will that prevent local tests? (the sandbox size problem)

[2019-03-13 17:07] davidlange6 commented on #26154
Certainly it’s not a problem once the file is in the release distribution. There are much bigger

David

On 13 Mar 2019, at 17:43, Mauro Verzetti <notifications@github.com<mailto:notifications@github.com>> wrote:

the non gzipped is 120MB, would that be feasible? TMVA is extremely verbose with the XML.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2019-03-13 17:11] fabiocos opened #26174 "Build CMSSW_10_2_12_patch1"

[2019-03-13 17:12] cmsbuild commented on #26174
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-13 17:12] fabiocos commented on #26174
+1

[2019-03-13 17:13] cmsbuild commented on #26174
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_12_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-03-13 17:13] cmsbuild commented on #26174
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-13 17:14] cmsbuild commented on #26174
The build has started for slc6_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1987/console
CMSDIST Branch: [REL/CMSSW_10_2_12/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_12/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 17:18] cmsbuild commented on #26174
The build has started for slc7_amd64_gcc700 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1988/console
CMSDIST Branch: [REL/CMSSW_10_2_12/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_12/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 17:28] guitargeek commented on #26154
I don't know if doubling would be enough. If the buffersize it in bytes, then going from 10 MB to 20 MB does not help much I think, when the actual file is of the order of 100 MB.

Meanwhile I'm preparing a "minimal" backport of the tinyxml2 parser to 10_2_X. It will delete almost no code and then both parsers are available, so that we only need to migrate the low-pt electrons.

[2019-03-13 18:05] kpedro88 commented on #26173
+1

[2019-03-13 18:05] fabiocos opened #26175 "Build CMSSW_10_6_0_pre2"

[2019-03-13 18:06] cmsbuild commented on #26173
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_14_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-03-13 18:06] cmsbuild commented on #26173
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-13 18:06] cmsbuild commented on #26175
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-13 18:07] cmsbuild commented on #26173
The build has started for slc6_amd64_gcc630 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1989/console
CMSDIST Branch: [REL/CMSSW_9_3_14/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_14/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 18:10] cmsbuild commented on #26173
The build has started for slc7_amd64_gcc630 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1990/console
CMSDIST Branch: [REL/CMSSW_9_3_14/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_14/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 18:14] fabiocos commented on #26175
+1

[2019-03-13 18:15] cmsbuild commented on #26175
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-03-13 18:15] cmsbuild commented on #26175
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for

[2019-03-13 18:17] cmsbuild commented on #26175
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1991/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 18:17] cmsbuild commented on #26175
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1992/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 18:18] Dr15Jones commented on #26154
I may have encountered another problem. I am trying to run the same configuration in CMSSW_10_6_ASAN to see if it could find a problem. As part of that, I hit the exception

[code]
And, indeed, the formula evaluator does not now about TMath::Erfc. This may not have been seen in CMSSW_10_2 since the formula evaluator code has had better error handling in later releases.

[2019-03-13 18:22] cmsbuild commented on #26174
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_12_patch1-slc6_amd64_gcc700/1987
Some

[2019-03-13 18:23] cmsbuild commented on #26175
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1993/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 18:27] cmsbuild commented on #26175
The build has started for slc7_amd64_gcc820 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1994/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 18:31] slava77 commented on #26154
@jan-kaspar the last comment https://github.com/cms-sw/cmssw/issues/26154#issuecomment-472545292 may be of interest to you; perhaps it's worth to open a separate issue on this.

[2019-03-13 18:36] cmsbuild commented on #26173
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14_patch1-slc6_amd64_gcc630/1989
Some t

[2019-03-13 18:39] jan-kaspar commented on #26154
Thanks @slava77 ! Forwarding to @forthommel who is more expert on this (diamond) code. Informing also @fabferro .

[2019-03-13 18:41] cmsbuild commented on #26174
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_12_patch1-slc7_amd64_gcc700/1988
Some

[2019-03-13 19:07] guitargeek commented on #26154
Ok, I think i did everything requested.
1. PR with the full backport of the new parser used everywhere: https://github.com/cms-sw/cmssw/pull/26170
2. Smaller PR with the new parser without removing the old one and changing half of cmssw: https://github.com/cms-sw/cmssw/pull/26176

Local matrix tests pass for both, and I think both are good solutions.

[2019-03-13 19:10] cmsbuild commented on #26173
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14_patch1-slc7_amd64_gcc630/1990
Some t

[2019-03-13 19:35] cmsbuild commented on #26173
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14_patch1-slc6_amd64_gcc630/1989

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-13 19:38] slava77 commented on #26154
I ran valgrind on the reco step of wf 136.8501 (```--era Run2_2018,bParking -s RAW2DIGI,L1Reco,RECO,SKIM:SkimBPark,EI,PAT...```).
There are no bad reads after 7 events processed.

As usual for root, there are hundreds of UninitCondition cases, most likely coming out from the TObject implementation like here https://github.com/root-project/root/blob/v6-12-00-patches/core/base/inc/TObject.h#L230. In

[2019-03-13 20:12] cmsbuild commented on #26173
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14_patch1-slc7_amd64_gcc630/1990

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-13 20:16] cmsbuild commented on #26175
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre2-slc7_aarch64_gcc700/1992
Some

[2019-03-13 20:22] cmsbuild commented on #26174
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_12_patch1-slc6_amd64_gcc700/1987

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-13 20:36] cmsbuild commented on #26174
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_12_patch1-slc7_amd64_gcc700/1988

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-13 21:51] cmsbuild commented on #26175
The was an error for slc7_ppc64le_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre2-slc7_ppc64le_gcc700/1991

[2019-03-13 21:53] cmsbuild commented on #26175
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre2-slc7_aarch64_gcc700/1992

Tests results:
18 14 11 6 4 0 0 0 0 tests passed, 14 4 2 2 0 0 0 0 0 failed

[2019-03-13 21:54] kpedro88 commented on #26173
upload all

[2019-03-13 21:54] cmsbuild commented on #26173
Queing Jenkins upload for slc6_amd64_gcc630

[2019-03-13 21:54] cmsbuild commented on #26173
Queing Jenkins upload for slc7_amd64_gcc630

[2019-03-13 21:56] cmsbuild commented on #26173
The upload has started for slc6_amd64_gcc630 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1294/console

[2019-03-13 21:57] cmsbuild commented on #26173
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_14_patch1-slc6_amd64_gcc630/1294

[2019-03-13 21:57] bainbrid commented on #26154
I provide below my recipe based on the "minimal" instructions kindly provided by @guitargeek in #26176

[code]

It builds and runs locally.

@mverzett, please can you point me to a RAW (data?) file I can access locally and via CRAB that we know produces the TXMLEngine error?

@prebello are you able to also test with WMagent?

[2019-03-13 21:57] cmsbuild commented on #26173
The upload has started for slc7_amd64_gcc630 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1295/console

[2019-03-13 21:58] cmsbuild commented on #26173
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_14_patch1-slc7_amd64_gcc630/1295

[2019-03-13 22:35] cmsbuild commented on #26175
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre2-slc7_amd64_gcc820/1994
Some tes

[2019-03-13 22:44] fabiocos opened #26178 "Build CMSSW_9_4_13_patch3"

[2019-03-13 22:44] cmsbuild commented on #26178
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-13 22:44] fabiocos commented on #26178
+1

[2019-03-13 22:45] cmsbuild commented on #26178
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-03-13 22:45] cmsbuild commented on #26178
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-13 22:46] cmsbuild commented on #26178
The build has started for slc6_amd64_gcc630 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1995/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 22:46] cmsbuild commented on #26178
The build has started for slc7_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1996/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-13 23:22] prebello commented on #26154
@bainbrid  there is an error while compiling
gmake: *** [config/SCRAM/GMake/Makefile.rules:1673: tmp/slc6_amd64_gcc700/src/RecoHI/HiTracking/src/RecoHIHiTracking/HIProtoTrackFilter.cc.o] Segmentation fault

[2019-03-13 23:38] cmsbuild commented on #26178
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch3-slc7_amd64_gcc630/1996
Some t

[2019-03-13 23:39] cmsbuild commented on #26178
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch3-slc6_amd64_gcc630/1995
Some t

[2019-03-14 00:16] prebello commented on #26154
@bainbrid  I could not compile your receipt.
Many errors while trying the compilation, as

gmake: *** [config/SCRAM/GMake/Makefile.rules:1673: tmp/slc6_amd64_gcc700/src/RecoHI/HiTracking/src/RecoHIHiTracking/HIProtoTrackFilter.cc.o] Segmentation fault

****WARNING: Invalid tool tinyxml2. Please fix src/CommonTools/MVAUtils/BuildFile.xml file
/bin/sh: line 1:  9473 Segmentation fault      /bin/echo

[2019-03-14 00:26] guitargeek commented on #26154
With the segmentation faults it looks a bit like the situation I had this morning: I tried to build it on a SLC7 machine while CMSSW_10_2_X needs SLC6. I finally understood that because at the beginning of the scram output I saw:

`SCRAM warning: You are trying to compile/build for architecture slc6_amd64_gcc700 on SLC7 OS which might not work.`

Maybe you are in the same situation? Concerning the

[2019-03-14 00:27] kpedro88 commented on #26173
release-notes since CMSSW_9_3_14

[2019-03-14 00:27] cmsbuild commented on #26173
Generating release notes since CMSSW_9_3_14.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-14 00:27] cmsbuild commented on #26173
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_14_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_14 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_14_patch1

Cheers,
cms-bot

You can also click <a href

[2019-03-14 00:28] cmsbuild commented on #26173
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_14_patch1

[2019-03-14 00:45] cmsbuild commented on #26178
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch3-slc6_amd64_gcc630/1995

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-14 00:48] cmsbuild commented on #26175
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre2-slc7_amd64_gcc700/1993
Some tes

[2019-03-14 00:48] cmsbuild commented on #26178
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch3-slc7_amd64_gcc630/1996

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-14 00:55] cmsbuild commented on #26175
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre2-slc7_amd64_gcc820/1994

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-14 00:57] prebello commented on #26154
@guitargeek  no, I am connected in slc6
Developer's area is created for available architecture slc6_amd64_gcc700

[2019-03-14 03:58] cmsbuild commented on #26175
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre2-slc7_amd64_gcc700/1993

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-14 04:58] fabiocos commented on #26175
upload all

[2019-03-14 04:59] fabiocos commented on #26178
upload all

[2019-03-14 05:00] cmsbuild commented on #26175
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-03-14 05:00] cmsbuild commented on #26175
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-14 05:00] cmsbuild commented on #26175
Queing Jenkins upload for slc7_amd64_gcc820

[2019-03-14 05:00] cmsbuild commented on #26178
Queing Jenkins upload for slc6_amd64_gcc630

[2019-03-14 05:00] cmsbuild commented on #26178
Queing Jenkins upload for slc7_amd64_gcc630

[2019-03-14 05:00] cmsbuild commented on #26175
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1297/console

[2019-03-14 05:00] cmsbuild commented on #26175
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1296/console

[2019-03-14 05:00] cmsbuild commented on #26175
The upload has started for slc7_amd64_gcc820 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1298/console

[2019-03-14 05:01] cmsbuild commented on #26178
The upload has started for slc7_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1299/console

[2019-03-14 05:01] cmsbuild commented on #26175
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre2-slc7_aarch64_gcc700/1296

[2019-03-14 05:01] cmsbuild commented on #26178
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_patch3-slc7_amd64_gcc630/1299

[2019-03-14 05:01] cmsbuild commented on #26178
The upload has started for slc6_amd64_gcc630 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1300/console

[2019-03-14 05:02] cmsbuild commented on #26178
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_patch3-slc6_amd64_gcc630/1300

[2019-03-14 05:03] cmsbuild commented on #26175
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre2-slc7_amd64_gcc820/1298

[2019-03-14 05:05] cmsbuild commented on #26175
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre2-slc7_amd64_gcc700/1297

[2019-03-14 05:52] fabiocos commented on #26178
release-notes

[2019-03-14 05:53] cmsbuild commented on #26178
Generating release notes since CMSSW_9_4_13_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-14 05:53] cmsbuild commented on #26178
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_13_patch3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_13_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_13_patch3

Cheers,
cms-bot

You can also click

[2019-03-14 05:53] fabiocos commented on #26175
release-notes

[2019-03-14 05:54] cmsbuild commented on #26175
Generating release notes since CMSSW_10_6_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-14 05:54] cmsbuild commented on #26175
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_6_0_pre2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_0_pre2

Cheers,
cms-bot

You can also click <a href="ma

[2019-03-14 05:54] cmsbuild commented on #26178
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_patch3

[2019-03-14 05:55] fabiocos commented on #26174
upload all

[2019-03-14 05:55] cmsbuild commented on #26175
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre2

[2019-03-14 05:55] cmsbuild commented on #26174
Queing Jenkins upload for slc6_amd64_gcc700

[2019-03-14 05:55] cmsbuild commented on #26174
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-14 05:57] cmsbuild commented on #26174
The upload has started for slc6_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1301/console

[2019-03-14 05:57] cmsbuild commented on #26174
The upload has started for slc7_amd64_gcc700 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1302/console

[2019-03-14 05:58] cmsbuild commented on #26174
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_12_patch1-slc7_amd64_gcc700/1302

[2019-03-14 05:58] cmsbuild commented on #26174
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_12_patch1-slc6_amd64_gcc700/1301

[2019-03-14 07:38] fabiocos commented on #26174
release-notes

[2019-03-14 07:39] cmsbuild commented on #26174
Generating release notes since CMSSW_10_2_12.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-14 07:39] cmsbuild commented on #26174
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_12_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_12 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_12_patch1

Cheers,
cms-bot

You can also click <a h

[2019-03-14 07:39] cmsbuild commented on #26174
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_12_patch1

[2019-03-14 07:55] bainbrid commented on #26154
I'm testing again the list of commands, line by line.

I'm using SLC6.

Could you try multiple times the command:
scram b -j8
(Sometimes once is not enough.)

@guitargeek your PR already includes "tinyxml2.h" - I didn't have to change this ...

[2019-03-14 08:50] mverzett commented on #26154
AFAIK Crab does not know about integration builds, does the recipe work on 10_2_12 or 10_2_12_patch1?

[2019-03-14 08:59] guitargeek commented on #26154
The recipe should also work on older releases, but I think crab also supports IBs if you set `allowUndistributedCMSSW = True`

https://twiki.cern.ch/twiki/bin/view/CMSPublic/CRAB3ConfigurationFile

[2019-03-14 09:15] bainbrid commented on #26154
ok, @prebello , all, just to confirm, I tested line by line and it works fine for me.
Try on more than one occasion: ```scram b -j8```
It takes a while but it should build.

@guitargeek , to note, FYI:
- I had to move an existing ```RecoParticleFlow/PFProducer/data``` directory (just containing a ```download.url``` file) to make way for the git clone renamed as ```data```
- The  ```GBRForestTools.

[2019-03-14 09:23] guitargeek commented on #26154
Thank you Rob, I edited my PR description accordingly. Seems I accidentally pushed the changed with the `<>` vs. `""`, but nevermind. Yes, I had the warning too and it can be ignored.

[2019-03-14 13:05] mverzett commented on #26154
I tested the recipe on crab, one file, 400 events. It works! @prebello can you confirm the same?

[2019-03-14 13:59] bainbrid commented on #26154
Great!!

Yes @prebello could you please rest too with WMagent?

If this also works, I’d suggest we are good to proceed with the integration of this PR ...

[2019-03-14 14:10] Dr15Jones opened #26182 "Unable to read 2018D data using CMSSW_10_2_10"
From hypernews: https://hypernews.cern.ch/HyperNews/CMS/get/physTools/3647.html

[code]

The pull request #25370 which was a backport to CMSSW_10_2 removed the class DeepDoubleBFeatures thereby making it not possible to read the Run2018D processed data.

[2019-03-14 14:10] Dr15Jones commented on #26182
assign reconstruction

[2019-03-14 14:11] cmsbuild commented on #26182
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-14 14:11] cmsbuild commented on #26182
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-14 20:46] Dr15Jones commented on #26022
attention @pcanal

Using CMSSW_10_6_X_2019-03-13-0900 I ran valgrind on the unit test which was crashing

[code]

Which gave
[code]

[2019-03-14 21:18] Dr15Jones commented on #25908
This has been open for more than a month. Any progress on this?

[2019-03-14 21:22] fabiocos opened #26188 "Build CMSSW_9_4_13_UL1"
RELEASE_QUEUE: CMSSW_9_4_MAOD_X
ARCHITECTURE: slc6_amd64_gcc630,slc7_amd64_gcc630

[2019-03-14 21:22] cmsbuild commented on #26188
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-14 21:25] fabiocos commented on #26188
@franzoni @srimanob this is the test build you were interested in for the UL processing test. The default architectures ate different between 10_6_X and 9_4_X, but it should not be a problem for different workflows. Do you confirm?

[2019-03-14 21:45] srimanob commented on #26188
Hi Fabio,
This is one question we have in the tomorrow XC, slide 8 of introduction, https://indico.cern.ch/event/806058/

The first pilot was submitted with mix of production arch of 10_5_0_pre2 (slc7_amd64_gcc700) and 9_4 (slc6_amd64_gcc630) defined clearly in each task, and it seems to be fine.

By the way, do I need to worry on this warning?

As when we try to inject relvals in a single short,

[2019-03-14 22:06] fabiocos commented on #26188
RELEASE_QUEUE: CMSSW_9_4_MAOD_X
ARCHITECTURE: slc6_amd64_gcc630,slc7_amd64_gcc630

[2019-03-14 22:10] fabiocos commented on #26188
+1

[2019-03-14 22:11] cmsbuild commented on #26188
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_UL1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_MAOD_X

[2019-03-14 22:11] cmsbuild commented on #26188
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-03-14 22:11] cmsbuild commented on #26188
The build has started for slc6_amd64_gcc630 in cmsbuild96.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1997/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-15 03:51] cmsbuild commented on #26188
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_UL1-slc6_amd64_gcc630/1997
Some test

[2019-03-15 05:09] cmsbuild commented on #26188
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_UL1-slc6_amd64_gcc630/1997

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-15 06:20] srimanob commented on #26188
@fabiocos I see you add slc7_amd64_gcc630 to architecture, but it seems the build is not happen.

[2019-03-15 07:58] fabiocos commented on #26188
@srimanob I was guessing this would happen. @smuzaffar do you have a way to manually update the initial configuration as well? I would imagine in the rebuild section in Jenkins https://cmssdt.cern.ch/jenkins/job/build-release/lastBuild/ ?

[2019-03-15 08:04] smuzaffar commented on #26188
production architecture for 94X is slc6. Currently 94X MAOD is only configured for slc6. Why you want to build it for slc7?

[2019-03-15 08:12] srimanob commented on #26188
@smuzaffar
Hi, as mentioned above, we are trying to inject relvals in a single short with mixing of 10_5/6 + 9_4, we work in CC7 machine. So we call CMSSW_9_4 from SLC7 machine used for 10_5/6, and dump the configuration from there. If that warning is OK, then we should be fine. What we need to do is to dump the proper config from 9_4, pass it to runTheMatrix called from 10_5/6.

I requested if we

[2019-03-15 08:12] fabiocos commented on #26188
@smuzaffar we were using for MAOD only slc6 because for tests one year ago that was enough as they were independent on the HLT use of that branch, but for 9_4_X we had slc7 as well. I am using MAOD here just not to perturb 9_4_X, but it would be useful to make this compilation also for slc7 if it is not too much trouble. Otherwise I may just use 9_4_X adding and then possibly reverting the PR. Ple

[2019-03-15 08:15] smuzaffar commented on #26188
@srimanob , may be you can use singularity on your CC7 machine to use 94X.
Anyway, I will trigger the build of slc7.

[2019-03-15 08:20] cmsbuild commented on #26188
The build has started for slc7_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1998/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-15 08:21] cmsbuild commented on #26188
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_UL1-slc7_amd64_gcc630/1998

[2019-03-15 08:23] cmsbuild commented on #26188
The build has started for slc7_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1999/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-15 09:03] fabiocos opened #26191 "Build CMSSW_7_1_38"

[2019-03-15 09:04] cmsbuild commented on #26191
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-15 09:05] fabiocos commented on #26191
+1

[2019-03-15 09:05] cmsbuild commented on #26191
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_38. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-03-15 09:05] cmsbuild commented on #26191
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-03-15 09:06] cmsbuild commented on #26191
The build has started for slc6_amd64_gcc481 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2000/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-03-15 10:56] prebello commented on #26154
@bainbrid  sorry. busy with lectures marathon since yesterday. I will take care of it today only after 5pm CERN.

[2019-03-15 12:17] cmsbuild commented on #26191
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_38-slc6_amd64_gcc481/2000
Some tests (

[2019-03-15 12:30] cmsbuild commented on #26191
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_38-slc6_amd64_gcc481/2000

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-03-15 13:28] Dr15Jones commented on #26022
attention @pcanal

With the debug version of ROOT, I see
[code]

I.e. the `StreamerHelper`is nullptr. Also, the value of `nElements` doesn't seem to make any sense.

[2019-03-15 13:39] pcanal commented on #26022
at level #17 what does 'this->fInfo->ls("") prints?

[2019-03-15 13:40] Dr15Jones commented on #26022
Some more debugging info
[code]

[2019-03-15 13:42] Dr15Jones commented on #26022
[code]

[2019-03-15 13:42] pcanal commented on #26022
#17 0x00007f8b80d1cc49 in TBranchElement::FillLeavesCollectionMember (this=0x175df890, b=...) at /build/root/w/BUILD/slc7_amd64_gcc700/lcg/root/6.12.07-cms/root-6.12.07/tree/tree/src/TBranchElement.cxx:1525

was the #17 I was asking about :)

[2019-03-15 13:43] Dr15Jones commented on #26022
Then at level 17
[code]

[2019-03-15 13:45] Dr15Jones commented on #26022
So you want level 12 when running in the debugger

[2019-03-15 13:47] Dr15Jones commented on #26022
[code]

[2019-03-15 13:48] pcanal commented on #26022
In that set:
[code]
what is the fInfo->ls("") for level 20 and 21?

[2019-03-15 13:52] Dr15Jones commented on #26022
[code]

[2019-03-15 13:56] Dr15Jones commented on #26022
To replicate what I did
- log in to lxplus7.cern.ch
- log in to cmsdev32
- mkdir /build/pcanal
- go to directory
- source /cvmfs/cms.cern.ch/cmsset_default.csh  (or .sh depending on shell)
- scram p /build/root/w/slc7_amd64_gcc700/cms/cmssw/CMSSW_10_6_X_2019-03-14-1200
- cd CMSSW_10_6_X_2019-03-14-1200
- cmsenv
- gdb --args cmsRunGlibC $CMSSW_RELEASE_BASE/src/PhysicsTools/PatAlgos/test/patTuple_up

[2019-03-15 13:56] fabiocos commented on #26191
the failures are all in data workflows due to missing input, unrelated to the additions to this new version (GEN level)

[2019-03-15 13:57] fabiocos commented on #26191
upload all

[2019-03-15 13:57] cmsbuild commented on #26191
Queing Jenkins upload for slc6_amd64_gcc481

[2019-03-15 13:57] cmsbuild commented on #26191
The upload has started for slc6_amd64_gcc481 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1303/console

[2019-03-15 13:58] cmsbuild commented on #26191
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_38-slc6_amd64_gcc481/1303

[2019-03-15 13:59] Dr15Jones commented on #26022
I have copied the needed file to

/build/chrjones/CMSSW_10_6_X_2019-03-14-1200/src/8E7EE25F-294E-E711-A5CC-0025905B8610.root

so if you copy the configuration file and add the following at the end

process.source.fileNames = ["/build/chrjones/CMSSW_10_6_X_2019-03-14-1200/src/8E7EE25F-294E-E711-A5CC-0025905B8610.root"]

then you should be able to run the job reading the local file.

[2019-03-15 14:01] Dr15Jones commented on #26022
In the debugging session I ran, the traceback is
[code]

[2019-03-15 14:01] cmsbuild commented on #26188
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_UL1-slc7_amd64_gcc630/1999
Some test

[2019-03-15 14:12] fabiocos commented on #26191
release-notes

[2019-03-15 14:13] cmsbuild commented on #26191
Generating release notes since CMSSW_7_1_37_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-15 14:13] cmsbuild commented on #26191
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_38 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_37_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_38

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2019-03-15 14:14] cmsbuild commented on #26191
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_38

[2019-03-15 14:29] Dr15Jones commented on #26022
@smuzaffar could you add to this thread how, from GitHub, to get to the exact version of ROOT that was used for this special version of CMSSW_10_6_X_2019-03-14-1200? That way Philippe can review the extra commits we  added.

[2019-03-15 14:51] pcanal commented on #26022
In https://github.com/root-project/root/pull/3547 I added a bunch of seeming related commits that are in v6.14 but not in v6.12 ... let me know if they are enough to fix the problem.

[2019-03-15 15:13] cmsbuild commented on #26188
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_UL1-slc7_amd64_gcc630/1999

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-03-15 15:45] Dr15Jones commented on #26022
@smuzaffar @fabiocos  how would you like to test the latest set of commits from Philippe?

[2019-03-15 15:56] fabiocos commented on #26188
upload all

[2019-03-15 15:57] cmsbuild commented on #26188
Queing Jenkins upload for slc6_amd64_gcc630

[2019-03-15 15:57] cmsbuild commented on #26188
Queing Jenkins upload for slc7_amd64_gcc630

[2019-03-15 15:58] cmsbuild commented on #26188
The upload has started for slc6_amd64_gcc630 in cmsbuild96.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1304/console

[2019-03-15 16:03] cmsbuild commented on #26188
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_UL1-slc6_amd64_gcc630/1304

[2019-03-15 16:03] cmsbuild commented on #26188
The upload has started for slc7_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1305/console

[2019-03-15 16:07] cmsbuild commented on #26188
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_UL1-slc7_amd64_gcc630/1305

[2019-03-15 16:07] smuzaffar commented on #26022
@Dr15Jones and @pcanal : we started with root commit https://github.com/root-project/root/commit/3f31cef and created cms/v6-12-00-patches/3f31cef branch. The changes we have on top of it are

https://github.com/cms-sw/root/compare/3f31cef...cms-sw:cms/v6-12-00-patches/3f31cef

[2019-03-15 16:09] smuzaffar commented on #26022
@pcanal , can you make a PR identical to root-project/root#3547 for cms-sw/root cms/v6-12-00-patches/3f31cef brach so that we can test them directly in cmssw?

[2019-03-15 16:17] pcanal commented on #26022
This https://github.com/cms-sw/root/pull/123 might be what you are looking for.

[2019-03-15 16:43] smuzaffar commented on #26022
thanks @pcanal . cms-bot is running the tests now https://cmssdt.cern.ch/jenkins/job/run-pr-tests/10/console

[2019-03-15 17:44] slava77 commented on #26182
Here is an update from today.

One file name was shared as an example of the problem
/store/data/Run2018D/DoubleMuon/MINIAOD/PromptReco-v2/000/320/673/00000/FEC164FC-E897-E811-A713-FA163EE4DD06.root
The file was created in prompt reco using version CMSSW_10_2_1.

There is no data saved in the file output branches with DeepDouble\* type, as seen from loading the file and then doing ```Events->Print

[2019-03-15 20:47] Dr15Jones commented on #26182
I ran the following code in CMSSW_10_2_10
[code]

which copied (slowly) every object from the input to the output. This ran fine for all 69169 events.

[2019-03-15 22:13] fabiocos opened #26197 "Build CMSSW_10_3_3"

[2019-03-15 22:13] cmsbuild commented on #26197
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-15 22:14] fabiocos commented on #26197
+1

[2019-03-15 22:15] cmsbuild commented on #26197
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2019-03-15 22:15] cmsbuild commented on #26197
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-15 22:15] cmsbuild commented on #26197
The build has started for slc6_amd64_gcc700 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2001/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-15 22:15] cmsbuild commented on #26197
The build has started for slc7_amd64_gcc700 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2002/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-15 23:39] cmsbuild commented on #26173
The cleanup has started for slc6_amd64_gcc630

[2019-03-15 23:39] cmsbuild commented on #26173
The cleanup has started for slc7_amd64_gcc630

[2019-03-15 23:39] #26173 closed

[2019-03-15 23:43] cmsbuild commented on #26173
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_14_patch1-slc7_amd64_gcc630/1302

[2019-03-15 23:43] cmsbuild commented on #26173
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_14_patch1-slc6_amd64_gcc630/1301

[2019-03-16 02:15] prebello commented on #26154
@bainbrid
again the error in 10 events local test (lxplus scl6)
%MSG-e TkDetLayers:   TSGFromL2Muon:hltL3NoFiltersNoVtxTrajSeedOIHit@streamBeginRun  16-Mar-2019 03:01:26 CET Run: 1 Stream: 7
 ForwardDiskSectorBuilderFromDet: Trying to build Petal Wedge from Dets at different z positions !! Delta_z = -0.950417
%MSG

 I have injected two relvals in the system to test.

[2019-03-16 02:27] cmsbuild commented on #26197
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_3-slc7_amd64_gcc700/2002
Some tests (

[2019-03-16 02:34] slava77 commented on #26154
On 3/15/19 7:15 PM, Patricia Rebello Teles wrote:

If I'm not mistaken, the above error "Trying to build ..." is showing up
in all data processing since 2017 (or was it 2016).
This is not related to bParking

[2019-03-16 03:19] cmsbuild commented on #26197
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_3-slc6_amd64_gcc700/2001
Some tests (

[2019-03-16 04:18] cmsbuild commented on #26197
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_3-slc7_amd64_gcc700/2002

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-16 04:53] cmsbuild commented on #26175
The cleanup has started for slc7_aarch64_gcc700

[2019-03-16 04:53] cmsbuild commented on #26175
The cleanup has started for slc7_ppc64le_gcc700

[2019-03-16 04:54] cmsbuild commented on #26175
The cleanup has started for slc7_amd64_gcc700

[2019-03-16 04:54] cmsbuild commented on #26175
The cleanup has started for slc7_amd64_gcc820

[2019-03-16 04:54] #26175 closed

[2019-03-16 04:54] cmsbuild commented on #26178
The cleanup has started for slc6_amd64_gcc630

[2019-03-16 04:54] cmsbuild commented on #26178
The cleanup has started for slc7_amd64_gcc630

[2019-03-16 04:54] #26178 closed

[2019-03-16 04:54] cmsbuild commented on #26175
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre2-slc7_aarch64_gcc700/1303

[2019-03-16 04:55] cmsbuild commented on #26175
The workspace for slc7_ppc64le_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre2-slc7_ppc64le_gcc700/1306

[2019-03-16 04:57] cmsbuild commented on #26178
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13_patch3-slc6_amd64_gcc630/1307

[2019-03-16 04:59] cmsbuild commented on #26178
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13_patch3-slc7_amd64_gcc630/1308

[2019-03-16 05:00] cmsbuild commented on #26175
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre2-slc7_amd64_gcc700/1304

[2019-03-16 05:03] cmsbuild commented on #26175
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre2-slc7_amd64_gcc820/1305

[2019-03-16 05:12] cmsbuild commented on #26197
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_3-slc6_amd64_gcc700/2001

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-16 06:38] cmsbuild commented on #26174
The cleanup has started for slc6_amd64_gcc700

[2019-03-16 06:38] cmsbuild commented on #26174
The cleanup has started for slc7_amd64_gcc700

[2019-03-16 06:38] #26174 closed

[2019-03-16 06:43] cmsbuild commented on #26174
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_12_patch1-slc7_amd64_gcc700/1310

[2019-03-16 06:43] cmsbuild commented on #26174
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_12_patch1-slc6_amd64_gcc700/1309

[2019-03-16 08:09] smuzaffar commented on #26022
@Dr15Jones , @pcanal , tests for cms-sw/root#123 are finished now. All tests passed and I see usual 15 comparison changes. Can you please confirm that this fixes the issue? you can find the PR tests results here
https://github.com/cms-sw/root/pulls#issuecomment-473502845

FYI, @slava77 , @fabiocos

[2019-03-16 09:06] boudoul commented on #26154
I confirm that you can safely ignore this message

[2019-03-16 10:59] bainbrid commented on #26154
Yes, we’ve seen this since the beginning and we ignore.

[2019-03-16 13:06] Dr15Jones commented on #26022
@smuzaffar to my untrained eye, non of the problems looks worrisome. I would like to get @slava77 's option.

[2019-03-16 13:23] Dr15Jones commented on #25785
@fabiocos not having this fixed is preventing us from finding potentially other problems using ASAN (since jobs stop at the first problem found).

[2019-03-16 13:27] Dr15Jones commented on #25782
@schneiml  this problem continues:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_ASAN_X_2019-03-15-2300/pyRelValMatrixLogs/run/250208.18_SMS-T1tttt_mGl-1500_mLSP-100_13UP18+SMS-T1tttt_mGl-1500_mLSP-100_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25/step3_SMS-T1tttt_mGl-1500_mLSP-100_13UP18+SMS-T1tttt_mGl-1500_mLSP-100_13UP18INPUT+DIGIPRMXUP18_PU25+RECO

[2019-03-16 13:42] davidlange6 commented on #25782
or just replace if ( !dxys.empty().. ) by if ( dxys.size()>j...
(as to preserve the likely buggy current correlation between things)

[2019-03-16 14:27] slava77 commented on #26022
The tests are not suggesting a disaster (no crash indication in the unit tests).

However, the differences in comparisons like at the link below are showing changes that are currently blocking our switch from 6.12 to 6.14
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_6_X_2019-03-14-2300+c1f413/30807/136.8311_RunJetHT2017F_reminiaod+RunJetHT2017F_reminiaod+REMINIAOD_data

[2019-03-16 14:34] Dr15Jones commented on #26022
@slava77 just to make sure I understand, this pull request has introduced a bug we see in ROOT 6.14 which is related to iorules, particular on reco::HitPattern?

[2019-03-16 16:37] fabiocos commented on #26197
upload all

[2019-03-16 16:37] cmsbuild commented on #26197
Queing Jenkins upload for slc6_amd64_gcc700

[2019-03-16 16:37] cmsbuild commented on #26197
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-16 16:39] cmsbuild commented on #26197
The upload has started for slc7_amd64_gcc700 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1307/console

[2019-03-16 16:39] cmsbuild commented on #26197
The upload has started for slc6_amd64_gcc700 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1306/console

[2019-03-16 16:40] cmsbuild commented on #26197
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_3-slc7_amd64_gcc700/1307

[2019-03-16 16:41] Dr15Jones commented on #26022
@pcanal I did a simple test where I loaded the same file into a version of ROOT 6.12 and ROOT 6.14 with the same CMSSW version. Then I did

[code]

ROOT 6.14
[code]

[2019-03-16 16:43] cmsbuild commented on #26197
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_3-slc6_amd64_gcc700/1306

[2019-03-16 16:48] pcanal commented on #26022
which one is correct?

[2019-03-16 17:01] fabiocos commented on #26197
release-notes

[2019-03-16 17:02] cmsbuild commented on #26197
Generating release notes since CMSSW_10_3_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-16 17:02] cmsbuild commented on #26197
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_3_3 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2019-03-16 17:03] cmsbuild commented on #26197
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_3

[2019-03-16 17:07] slava77 commented on #26022
On 3/16/19 9:41 AM, Chris Jones wrote:

I'm unsure what happens in this case.
I was told once that a call like this without a function does not
trigger a constructor call
and direct data member reading may be just as it looks, a direct read
from file.

[50] is out of the array bounds in v12 of the class.

[2019-03-16 17:33] Dr15Jones commented on #26022
I can state for a fact that in the ROOT 6.14 test using 'Scan', that the version 12 read rule is begin run (since I added a print statement to it and see that message).

[2019-03-16 17:38] Dr15Jones commented on #26022
@slava77

Here is the change from v12 to v13
https://github.com/cms-sw/cmssw/commit/95dbe756a9bbee8cbb6bdcd4e27bee1ba30c92a1#diff-72b994d8c70121f8e5d64f0b2b9728a8

The array in question has size 50 in v12 and size 57 in v13.

[2019-03-16 17:43] Dr15Jones commented on #26022
So I checked and the file in question was created using CMSSW_9_4_0. So I ran the same test in that release and get
[code]

[2019-03-16 17:59] Dr15Jones commented on #26022
So instead of looking at the bit patterns, I decided to call functions on the class to see what results we get

CMSSW_9_4_0
[code]

CMSSW_10_6_X_2019-03-15-2300 (which uses the non patched ROOT 6.12)
[code]
CMSSW_10_6_ROOT614_X_2019-03-15-2300
[code]

So the beginning of the list look identical.

[2019-03-16 19:01] Dr15Jones commented on #26022
So I used a very simple FWLite program
[code]

and ran the result on both 6.12 and 6.14 and then compared the output, it was identical.

@slava77 do you know what differences were seen in the hit patterns?

[2019-03-16 21:45] Dr15Jones commented on #26022
I extended my FWLite program to dump the values returned for all const member functions of `HitPattern` which take no arguments. I then compared the values for all three cases. I found differences right in the first event. CMSSW_9_4_0 and CMSSW_10_6_X_2019-03-15-2300 agreed on all the values.  CMSSW_10_6_ROOT614_X_2019-03-15-2300 disagreed for values of

[code]

Surprisingly, the discrepencies wer

[2019-03-16 21:47] Dr15Jones commented on #26022
At a quick first glance, 6_14 has fewer 'nulls' but more 'inactive' hits.

[2019-03-17 00:39] prebello commented on #26154
Colleagues, unfortunately
---- Begin Fatal Exception 16-Mar-2019 17:15:57 UTC-----------------------
An exception of category 'FatalRootError' occurred while
[0] Constructing the EventProcessor
[1] Constructing module: class=LowPtGsfElectronIDProducer label='lowPtGsfElectronID'
Additional Info:
[a] Fatal Root Error: @SUB=TXMLEngine::ParseFile
Unexpected end of xml file

[2019-03-17 01:18] Dr15Jones commented on #26022
So I added print statements inside the IO rule right after newObj is filled:
[code]

In both the ROOT 6.12 and 6.14 versions of CMSSW_10_6, the code prints the same thing
[code]

However, for the 6.12 case, once the `HitPattern` object is retrieved from the `fwlite::Event` the '4'th entries number changes to 20!

So I think what is happening is the order in with OTHER variables in the `HitPattern`

[2019-03-17 06:47] davidlange6 commented on #26154
how was this test performed?

[2019-03-17 11:15] bainbrid commented on #26154
@prebello did you manage to successfully build the patch detailed here https://github.com/cms-sw/cmssw/issues/26154#issuecomment-472622069 ? And you still see the Exception with this recipe above?

 Is anyone able to submit jobs using WMagent? Are there instructions we can follow?

We’ve had the recipe available for 5-6 days, so I’m keen to draw a firm conclusion quickly.

[2019-03-17 13:18] slava77 commented on #26022
@Dr15Jones
I'm catching up now.
Do I read your last message correctly that there is a bug in the iorule?

[2019-03-17 13:23] cmsbuild commented on #26191
The cleanup has started for slc6_amd64_gcc481

[2019-03-17 13:23] #26191 closed

[2019-03-17 13:27] cmsbuild commented on #26191
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_38-slc6_amd64_gcc481/1311

[2019-03-17 13:29] Dr15Jones commented on #26022
Yes. The algorithm is flawed and just happens to work on 6.12.

[2019-03-17 13:56] srimanob opened #26204 "Issue with warning from GenEvent::delete_all_vertices when reading 10_6 in 9_4_13_UL1 in all events, but not if read from 10_5"
Hi,

While I'm testing the UL-HLT step with 10_6_0_pre2 and 9_4_13_UL1, I found this warning problem in all events. With the same configurations in 10_5_0, I don't see any warnings.

Issue can be reproduced by running from configurations dumped from following cmsDriver(s):
**CMSSW_10_6_0_pre2 or CMSSW_10_5_0**
`cmsDriver.py ZEE_13TeV_TuneCUETP8M1_cfi --conditions auto:phase1_2017_realistic -n 10 -

[2019-03-17 13:57] cmsbuild commented on #26204
A new Issue was created by  @srimanob Phat Srimanobhas.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-17 16:24] Dr15Jones commented on #26022
@slava77 #26205 should fix the problem with HitPattern.

[2019-03-17 18:22] fabiocos commented on #26022
@Dr15Jones @smuzaffar with the latest ROOT614 builds the IB looks clean. I have tried a long run (500 events, runTheMatrix.py -l 10824.0 -t 8 --command "-n 500 --customise Validation/Performance/TimeMemorySummary.py" ), and I got it to succeeed without issues on cmsdev25

[2019-03-17 20:34] srimanob opened #26206 "Different contents of FEVTDEBUGHLT between 10_5 and 8_0, for UL back ports"
For UL-HLT back ports to 8_0:

`diff FEVTDEBUGHLT_105.log FEVTDEBUGHLT_80.log`

18d25
< vector<PCaloHit>                      "g4SimHits"                 "HFNoseHits"      "SIM"
30,31c37
< vector<PSimHit>                       "g4SimHits"                 "FastTimerHitsBarrel"   "SIM"
< vector<PSimHit>                       "g4SimHits"                 "FastTimerHitsEndcap"   "SIM"
---

55c61,76
< B

[2019-03-17 20:35] cmsbuild commented on #26206
A new Issue was created by  @srimanob Phat Srimanobhas.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-18 05:26] rekovic commented on #25785
@Dr15Jones @fabiocos
I am so sorry.   I was not getting the automated e-mail into my inbox (now fixed), and I completely forgot about this issue.  Looking into this this afternoon.

[2019-03-18 08:28] fabiocos commented on #25785
this is the output of a valgrind cross check, that goes in the direction of the diagnosis of @Dr15Jones:

[code]

From the software sanity point of view the minimal solution seems to put a protection against negative refLayers to be used as vector index. But L1T experts should evaluate why this situation is present, and what is the best action the code should take to manage it.

[2019-03-18 08:32] mverzett commented on #26154
@prebello I am surprised that the error still appears, as the with the PR the XML parsing for the low pt electrons in overhauled and ```TXMLEngine``` is replaced. I am wondering as @bainbrid if you included the recipe he suggested.

[2019-03-18 09:33] guitargeek commented on #26154
Hi @bainbrid, Slava gave me some feedback on the PR during the weekend, and I took the opportunity to also fix the line with `<tinyxml2.h>`. So now you really have to add to the recipe that it should be replaced in `GBRForestToolsTinyXML.cc` with `"tinyxml2.h"`. That does not explain the error @prebello got however. If the PR was merged, there is no chance the TXMLEngine can throw because it's not

[2019-03-18 11:27] davidlange6 commented on #26154
its unlikely that any wmagent test is possible with a custom recipe (eg, outside of a release) - thats why I asked how this test was done..

[2019-03-18 11:34] bainbrid commented on #26154
Ah ok, I'm not aware of the technical details / limitations involved in such a test. Perhaps this explains why @prebello still sees the error.

@fabiocos, all: given Mauro's test with CRAB appears to mitigate the issue, which is very encouraging, is it at all possible to proceed with reviewing/merging #26176, create a new CMSSW_10_2 release as soon as possible, and try again?

We are on an very ti

[2019-03-18 12:35] prebello commented on #26154
exaclty.. I did the test in patch1 release only changing the era accordingly. Indeed if the PR with dedicated changes was not merged, it will not work. I have understood that patch1 was the fixed release.

[2019-03-18 12:35] prebello commented on #26154
@bainbrid one needs the fixes in a dedicated release to make the test properly.

[2019-03-18 12:39] prebello commented on #26154
@guitargeek  I have done it (changed from <tinyxml2.h> to "tinyxml2.h") to fix the compilation error. Indeed it is not the reason of the issue.

[2019-03-18 12:46] bainbrid commented on #26154
@prebello @slava77

Sorry - I'm still confused:
- Are you saying that there exists a CMSSW_10_2_12_patch1 release that contains Jonas's fix?
- And you used this patch release to test with WMagent?

If yes to both, then the question still remains why you see the exception from the TXMLEngine constuctor when the patch no longer uses this code ...

[2019-03-18 12:47] bainbrid commented on #26154
Then given the successful CRAB test, perhaps we can proceed straight to a new release (i.e. merge and include this PR) and test again?

[2019-03-18 12:49] prebello commented on #26154
I am not saying that CMSSW_10_2_12_patch1 contains the fix. I have said that "I have guessed that CMSSW_10_2_12_patch1 had the fix" . Yes I have used it.

[2019-03-18 13:14] prebello commented on #26154
@bainbrid do you think we will have problems in rereco 10-2-12? maybe, as relvals are failing too?
(both are injected using wmagent framework)

the samples are still in assignment-approved, although we have requested the block transfer, and I would like to confirm with you to avoid contacting computing for potential problematic runs.
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campa

[2019-03-18 13:41] fabiocos commented on #26154
CMSSW_10_2_12_patch1 has nothing to do with this issue, see the release notes https://cmssdt.cern.ch/SDT/ReleaseNotes/CMSSW_10/CMSSW_10_2_12_patch1.html
I built it to allow GEN-SIM to move forward without interfering with the fix of the B parking issue.

Yesterday I have privately tested the recipe locally, and it works (i.e. the workflow 136.898 arrives at the end without apparent problems). Havi

[2019-03-18 14:31] bainbrid commented on #26154
We need a new CMSSW release if we are to use WMagent successfully.

[2019-03-18 15:49] rekovic commented on #25785
@Dr15Jones
I tried to look into the log file you point out above, but I cannot access it anymore, as it is long past.  Which exact valgrind command did you use to reproduce this.
I provided a temporary fix, which should solve the problem but would be good to use your command and check for any other issues.  Thanks.

[2019-03-18 15:57] Dr15Jones commented on #25785
@rekovic I never ran valgrind, I just looked in the nightly builds output for ASAN. See

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_ASAN_X_2019-03-15-2300/pyRelValMatrixLogs/run/140.56_RunHI2018+RunHI2018+RECOHID18+HARVESTDHI18/step2_RunHI2018+RunHI2018+RECOHID18+HARVESTDHI18.log#/

which was created this weekend.

So to replay, create a CMSSW_10_6_ASAN_X_2019-03-15-

[2019-03-18 16:08] cmsbuild commented on #26197
The cleanup has started for slc6_amd64_gcc700

[2019-03-18 16:08] cmsbuild commented on #26197
The cleanup has started for slc7_amd64_gcc700

[2019-03-18 16:08] #26197 closed

[2019-03-18 16:12] fabiocos commented on #25785
@Dr15Jones @rekovic I have run valgrind on the step2 of 140.56, after creating it with the regular runTheMatrix.py -l 140.56

valgrind --tool=memcheck --suppressions=$CMSSW_RELEASE_BASE/src/Utilities/ReleaseScripts/data/cms-valgrind-memcheck.supp --num-callers=20 --xml=yes --xml-file=valgrind-%p.xml --smc-check=all-non-file --track-origins=yes --leak-check=yes --freelist-vol=10000000000 --undef-va

[2019-03-18 16:16] cmsbuild commented on #26197
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_3-slc7_amd64_gcc700/1313

[2019-03-18 16:17] cmsbuild commented on #26197
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_3-slc6_amd64_gcc700/1312

[2019-03-18 18:18] fabiocos commented on #26204
assign generator,core

[2019-03-18 18:19] cmsbuild commented on #26204
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-18 18:19] fabiocos commented on #26204
assign generators

[2019-03-18 18:19] cmsbuild commented on #26204
New categories assigned: generators

@alberto-sanchez,@perrozzi,@efeyazgan,@qliphy you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-18 18:20] fabiocos commented on #26204
@Dr15Jones this is coming from #26053, if the input files are produced with CMSSW_10_6_0_pre1 they do not show these messages, just merging #26053 on top produces them.

[2019-03-18 18:42] Dr15Jones commented on #26204
@fabiocos
I'm not suprised that this fails since the recent pull request drops storing of one of the data members

https://github.com/cms-sw/cmssw/pull/26053/files#diff-46a0c57e1c4b6ed23e683c384c08df4dR11

I would have expected reading the data back in CMSSW_10_5 would also cause the same problem.

[2019-03-18 18:45] Dr15Jones commented on #26204
@pcanal do you have any ideas if it would be at all possible to write a IO rule for a version greater than the one in a given release?

[2019-03-18 18:56] Dr15Jones commented on #26204
@fabiocos even if we could write a root IO in CMSSW_9_4 to read CMSSW_10_6 data, there is no promise that we will not be bitten by the bug we found in ROOT 6.12, 6.14.

[2019-03-18 18:58] pcanal commented on #26204
@Dr15Jones use ```version="[X-]``` where X is the 'first' version number to which the rule need to apply.

[2019-03-18 19:51] Dr15Jones commented on #26204
@pcanal I tried to create a rule in CMSSW_9_4 with `version="[11]"` but it is not being called.

[2019-03-18 20:04] pcanal commented on #26204
What is the version number on the file?  What is the version number in memory?

[2019-03-18 20:07] Dr15Jones commented on #26204
On file is 11, in the code for CMSSW_9_4 it is 10.

[2019-03-18 20:08] Dr15Jones commented on #26204
CMSSW_9_4 uses ROOT 6.10.08-elfike2

[2019-03-18 20:11] pcanal commented on #26204
this is fairly old for I/O rule support ...

[2019-03-18 21:32] Dr15Jones commented on #26204
Philippe and I appear to have come to a fix. This requires doing a very small change to CMSSW_10_6 which is incrementing a version number for `HepMC::GenParticle`. Then add a new iorule to CMSSW_9_4 which applies the needed change if that new version of `HepMC::GenParticle` is read. I've tested that combination of changes and it gets rid of the error message.

[2019-03-18 21:47] Dr15Jones commented on #26204
See #26210 and #26211 .

[2019-03-19 08:14] fabiocos commented on #26204
@Dr15Jones thanks, I'll check this

[2019-03-19 13:29] Dr15Jones commented on #22135
Seen again https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_10_6_DEVEL_X_2019-03-18-2300/pyRelValMatrixLogs/run/106.0_bJpsiX+bJpsiX+DIGI+RECO/step1_bJpsiX+bJpsiX+DIGI+RECO.log#/

[code]

[2019-03-19 13:45] Dr15Jones commented on #24410
#25114 and #26196

[2019-03-19 13:45] #24410 closed

[2019-03-19 13:45] #25211 closed

[2019-03-19 21:07] fabiocos opened #26219 "Build CMSSW_10_2_13"

[2019-03-19 21:08] cmsbuild commented on #26219
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-19 21:08] fabiocos commented on #26219
+1

[2019-03-19 21:08] cmsbuild commented on #26219
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-03-19 21:08] cmsbuild commented on #26219
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-19 21:09] cmsbuild commented on #26219
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2003/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-19 21:10] cmsbuild commented on #26219
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2004/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-19 21:34] wddgit opened #26221 "ValidityInterval with invalid start instead of beginOfTime"
@ggovi @Dr15Jones (Feel free to add anyone else you think needs to be involved in this issue or would be interested)

While testing my changes to add Framework support for multiple concurrent IOVs, I ran across a problem related to CondDBESSource. The design intent from long ago was that an IntervalOfValidity with an invalid start time was defined to be an invalid interval. My new code enforces th

[2019-03-19 21:34] cmsbuild commented on #26221
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-20 01:11] cmsbuild commented on #26219
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_13-slc6_amd64_gcc700/2003
Some tests (

[2019-03-20 02:28] cmsbuild commented on #26219
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_13-slc7_amd64_gcc700/2004
Some tests (

[2019-03-20 03:09] cmsbuild commented on #26219
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_13-slc6_amd64_gcc700/2003

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-20 04:31] cmsbuild commented on #26219
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_13-slc7_amd64_gcc700/2004

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-20 08:19] fabiocos opened #26222 "Dictionary duplication"
#26116 was supposed to fix a problem of dictionary duplication, but caused failures in a list of unit tests. The fix #26213 proposed by @smuzaffar was rejected as it was implying to have the definition of a type in one package and the corresponding dictionary in another one, following the comment by @slava77 :

_"It also looks pretty bad to have a Wrapper dictionary defined in SimDataFormats/Track

[2019-03-20 08:19] cmsbuild commented on #26222
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-20 10:45] fabiocos commented on #26222
assign core,reconstruction

[2019-03-20 10:45] cmsbuild commented on #26222
New categories assigned: core,reconstruction

@Dr15Jones,@slava77,@smuzaffar,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-20 13:10] fabiocos commented on #26016
@davidlange6 @26187 indeed provides another (small) package, but it looks to me a clean solution. What alternative do you propose?

[2019-03-20 13:16] Dr15Jones commented on #26016
It does not add another small package. It just moves the same small package from FastSimulation directory to the CommonTools directory.

[2019-03-20 13:26] smuzaffar commented on #26222
https://github.com/cms-sw/cmssw/pull/26224 should fix this. If needed we are integrate itin DEVEL IBs first

[2019-03-20 13:32] fabiocos commented on #26219
upload all

[2019-03-20 13:32] cmsbuild commented on #26219
Queing Jenkins upload for slc6_amd64_gcc700

[2019-03-20 13:32] cmsbuild commented on #26219
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-20 13:34] cmsbuild commented on #26219
The upload has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1308/console

[2019-03-20 13:37] cmsbuild commented on #26219
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_13-slc6_amd64_gcc700/1308

[2019-03-20 13:38] cmsbuild commented on #26219
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1309/console

[2019-03-20 13:40] cmsbuild commented on #26219
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_13-slc7_amd64_gcc700/1309

[2019-03-20 13:48] fabiocos commented on #26219
release-notes

[2019-03-20 13:48] cmsbuild commented on #26219
Generating release notes since CMSSW_10_2_12_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-20 13:48] cmsbuild commented on #26219
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_13 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_12_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_13

Cheers,
cms-bot

You can also click <a href="mailto:h

[2019-03-20 13:49] cmsbuild commented on #26219
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_13

[2019-03-20 15:27] kpedro88 opened #26225 "Clean up HGCal subdetector terminology and usage"
From @cseez https://github.com/cms-sw/cmssw/pull/26099#issuecomment-474816786:

Right now, `RecHitTools` has `lastLayerEE()` and `lastLayerFH()` functions. It should be checked that the usage of these functions is correct. In addition, functions like `lastLayerFine()` and `lastLayerCoarse()` can be added to present the indicated information in a clear way.

attn: @bsunanda @rovere

[2019-03-20 15:27] kpedro88 commented on #26225
assign upgrade

[2019-03-20 15:27] cmsbuild commented on #26225
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-20 15:27] cmsbuild commented on #26225
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-20 17:27] fabiocos commented on #26016
@Dr15Jones you are right, the net balance is zero, it removes and adds back the same package, just elsewhere. As I said, it looks ok to me

[2019-03-20 21:21] apana commented on #26011
Dear @fabiocos,

My apologies for taking so long to get back to this issue.  Unfortunately, it's been so long that the log file you pointed me to does not seem to exist anymore, so I don't know what tests failed.  Can you send me instructions on how to run the unit tests in the IB so I can find out which of the tests failed.

Sorry for the trouble

[2019-03-21 06:25] ianna commented on #25875
+1

[2019-03-21 06:25] #25875 closed

[2019-03-21 06:26] cmsbuild commented on #25875
This issue is fully signed and ready to be closed.

[2019-03-21 06:57] rekovic commented on #26071
@kpedro88

Is the plan still to do the L1T TDR MC production with the 10_5_X ?
If so then ,

* The latest PRs of HGC geometry by @bsunanda
https://github.com/cms-sw/cmssw/pull/26078
https://github.com/cms-sw/cmssw/pull/26153
https://github.com/cms-sw/cmssw/pull/26089
https://github.com/cms-sw/cmssw/pull/26212

 * and the PR for RPC geometry
https://github.com/cms-sw/cmssw/pull/25701

need the back

[2019-03-21 13:34] davidlange6 commented on #26082
coming back to this topic - i've closed #26085 as it seems #26086 is favored over it.

[2019-03-21 13:39] davidlange6 commented on #26082
hi @kpedro88 - i decided I don't understand your comment - as it seems to be exactly what is done in https://github.com/cms-sw/cmssw/commit/5c445893d31957c393047ced9ce263f852725286 aside from the location of the trailing ')'

[2019-03-21 13:41] fabiocos commented on #26011
@apana the failing tests were testTauEmbeddingProducers  and testPhase2PixelNtuple , in TauAnalysis/MCEmbeddingTools and SLHCUpgradeSimulations/Geometry respectively. Just restore your update (```git revert 4024430f99b712ff83df34abc344c3e483d6a8f6``` on top of CMSSW_10_6_X and then recompile Configuration/StandardSequences and L1Trigger/L1TGlobal), and execute the two tests

[2019-03-21 13:45] kpedro88 commented on #26082
5c445893d31957c393047ced9ce263f852725286:
[code]

Mine:
[code]

These do not look the same to me. The former has a ton of extra white space. Subordinate lines really only need to be indented once, not lined up with the leading '('.

[2019-03-21 13:45] rappoccio commented on #26104
Done with #26117.

[2019-03-21 13:45] #26104 closed

[2019-03-21 13:54] davidlange6 commented on #26082
ah - got it. I personally much prefer the indentation done by clang-tidy.

[2019-03-21 13:54] Dr15Jones commented on #26082
I also prefer the indentation done by clang-tidy.

[2019-03-21 13:55] kpedro88 commented on #26082
To me it is almost the height of ugliness (could only be worse if each line were indented differently...). This is the difficulty with aesthetics, I suppose.

[2019-03-21 19:10] davidlange6 commented on #26082
someone at JLab warmed me that clang-format will of course change with llvm version. I checked the clang-format output of cmssw using llvm6 vs llvm7

diff -r cmssw6 cmssw.7 | wc
    423    1795   21225

so small compared to the total...

[2019-03-21 19:43] prebello commented on #26154
PdmV gladly informs that relvals were announced with 100% success. @fabiocos

https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=CMSSW_10_2_13__fullsim_noPU_2018_bParking-1553134492-SingleElectronPt1000

https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=CMSSW_10_2_13__fullsim_noPU_2018_bParking-1553134492-SingleElectronPt10

https://dmytro.web.cern.ch/dmytro/cmspro

[2019-03-21 21:55] fabiocos commented on #26154
@prebello thank you a lot
@bainbrid @slava77 @perrotta I consider this issue as solved

[2019-03-21 21:55] #26154 closed

[2019-03-21 22:34] bainbrid commented on #26154
Yes thank you @prebello !

[2019-03-22 07:50] fabiocos commented on #26016
@Dr15Jones #26187 has been now merged

[2019-03-22 12:53] cmsbuild commented on #26219
The cleanup has started for slc6_amd64_gcc700

[2019-03-22 12:53] cmsbuild commented on #26219
The cleanup has started for slc7_amd64_gcc700

[2019-03-22 12:53] #26219 closed

[2019-03-22 12:54] cmsbuild commented on #26219
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_13-slc6_amd64_gcc700/1314

[2019-03-22 12:58] cmsbuild commented on #26219
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_13-slc7_amd64_gcc700/1315

[2019-03-22 14:53] fabiocos commented on #25785
@Dr15Jones @rekovic rerunning valgrind after #26208 has been merged, the problem looks disappeared

[2019-03-23 18:43] fabiocos opened #26236 "PatAlgos unit test failure after #24501 merge"
The refactoring of RecoTau configurations in #24501 induces a problem in one of the unit tests in PhysicsTools/PatAlgos , that is failing DT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_X_2019-03-22-2300/unitTestLogs/PhysicsTools/PatAlgos#/553-553)
with the error

[code]

The problem happens in patTuple_PF2PAT_cfg.py and there is a related discussion in the review of #24501 concerning the parame

[2019-03-23 18:43] cmsbuild commented on #26236
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-23 18:44] fabiocos commented on #26236
assign analysis,reconstruction

[2019-03-23 18:44] cmsbuild commented on #26236
New categories assigned: reconstruction,analysis

@slava77,@perrotta,@santocch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-24 10:32] fabiocos commented on #25785
@Dr15Jones in the latest ASAN build workflow 140.56 looks successful, I would consider this issue as solved. @rekovic still experts should ensure that the added protection is the correct/best solution from the physics point of view (unless already done)

[2019-03-24 12:48] Dr15Jones commented on #25785
@fabiocos the issue is assigned to l1, not core. I thought the normal procedure is the the assigned party to sign and then someone with repository access closes the issue.

[2019-03-24 13:50] Dr15Jones opened #26238 "stack buffer overflow in GsfElectronEcalDrivenProducer"
The ASAN build has found a stack buffer overflow error in EnergyUncertaintyElectronSpecific::computeElectronEnergyUncertainty_cracks which is indirectly called by GsfElectronEcalDrivenProducer.

[2019-03-24 13:50] Dr15Jones commented on #26238
assign reconstruction

[2019-03-24 13:50] cmsbuild commented on #26238
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-24 13:50] cmsbuild commented on #26238
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-24 13:54] Dr15Jones commented on #26238
The relevant report is
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc700/CMSSW_10_6_ASAN_X_2019-03-22-2300/pyRelValMatrixLogs/run/11024.2_TTbar_13UP18HEfailINPUT+TTbar_13UP18HEfailINPUT+DigiFullHEfail+RecoFullHEfail+HARVESTFullHEfail+NanoFullHEfail/step3_TTbar_13UP18HEfailINPUT+TTbar_13UP18HEfailINPUT+DigiFullHEfail+RecoFullHEfail+HARVESTFullHEfail+NanoFullHEfail.log

with the inf

[2019-03-24 15:30] srimanob commented on #26206
From local test, the RECO+Validation step can run successfully with output from 8_0 with PR
https://github.com/cms-sw/cmssw/pull/26239

cmsDriver in 8_0:

cmsDriver in 10_5:

[2019-03-24 17:40] Dr15Jones commented on #26238
This problem could be explained if `iEtaSl` were -1 during these lookups (since that would be -24 bytes from the beginning of `par0` which corresponds to memory location 200 in the stack).

https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/RecoEgamma/EgammaElectronAlgos/src/EnergyUncertaintyElectronSpecific.cc#L180-L183

I believe such a value could happen if `eta` were

[2019-03-24 18:17] perrotta commented on #26236
@swozniewski @mbluj please have a look

The issue is visible by running the unit test PhysicsTools/PatAlgos/test/patTuple_PATandPF2PAT_cfg.py

Looking at the code, at the log of the unit test, and at the explicit configs created by fillDescriptions() in cfipython/slc7_amd64_gcc700/RecoTauTag/RecoTau I see the following problems in the pull request #24501 recently merged:
- The VPSet are incorrectl

[2019-03-24 20:09] srimanob commented on #26206
In 10_6, there is additional branch,
`edmNew::DetSetVector<PixelFEDChannel>    "simSiPixelDigis"           ""                "DIGI2RAW"

working on it.

[2019-03-24 20:19] perrotta commented on #26236
About the parameters with the same name but different types reported in https://github.com/cms-sw/cmssw/pull/24501#discussion_r266226288, I would suggest to rename the PSet's with something like ```stripEtaAssociationDistanceFunc``` and ```tripPhiAssociationDistanceFunc``` (for example) and let them as optional parameters together with the double's ```stripEtaAssociationDistance``` and ```stripPhi

[2019-03-24 20:47] srimanob opened #26240 "Why do we need to call PU datasets in RECO steps in RelVals?"
I just see that we have several classic mixing workflows for all 3 years of Run2 which call PU library in RECO step, i.e.

- https://cmsweb.cern.ch/reqmgr2/fetch?rid=zhenhu_RVCMSSW_10_5_0QCD_FlatPt_15_3000HS_13_PU25ns__HS_190320_152520_1386
- https://cmsweb.cern.ch/reqmgr2/fetch?rid=zhenhu_RVCMSSW_10_6_0_pre2QCD_FlatPt_15_3000HS_13_PU25ns__HS_304169_ref_190320_114622_6264
- https://cmsweb.cern.ch/

[2019-03-24 20:47] cmsbuild commented on #26240
A new Issue was created by  @srimanob Phat Srimanobhas.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-24 21:45] srimanob commented on #26204
Thx @Dr15Jones
Should this be done also for 8_0?

[2019-03-24 22:29] Dr15Jones commented on #26238
addressed in #26241

[2019-03-24 22:34] Dr15Jones commented on #26204
@srimanob any old release that wants to read files made in CMSSW_10_6 containing those classes will need the change.

[2019-03-25 08:18] ianna opened #26242 "DD4hep: DDG4 package is missing"
Hi @smuzaffar, @mrodozov

We need a DDG4 library:
[code]
Should it be defined as a separate tool? dd4hep-g4?

Thanks,

Yana

[2019-03-25 08:19] cmsbuild commented on #26242
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-25 09:16] mrodozov commented on #26242
I'm building it to see if we can keep it within the same package.

[2019-03-25 11:29] srimanob commented on #26206
Confirm with Tracker DPG, PixelFEDChannel can be dropped from FEVT for 2016 scenario, we don't have stuckTBM simulation for that year.

[2019-03-25 11:50] swozniewski commented on #26236
@perotta Isn't the problem that the label 'ak4PFJetsLegacyHPSPiZerosPFlow' is not contained in the fillDescriptions of the RecoTauPiZeroProducer? Could it be that it therefore compares with the first fillDescription added, which has the label 'ak4PFJetsLegacyTaNCPiZeros' and does not contain the requested parameters [https://github.com/cms-sw/cmssw/blob/master/RecoTauTag/RecoTau/plugins/RecoTauPiZ

[2019-03-25 13:02] fabiocos commented on #26240
assign pdmv

[2019-03-25 13:03] cmsbuild commented on #26240
New categories assigned: pdmv

@prebello,@zhenhu,@pgunnell you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-25 13:14] slava77 commented on #26240
VALIDATION step requires a replay of pileup.

[2019-03-25 13:23] srimanob commented on #26240
@slava77 Thx.

I don't see it in pre-mixing with validation workflow. Is validation step difference for Classic and PreMixing in this case?

https://cmsweb.cern.ch/reqmgr2/fetch?rid=chayanit_RVCMSSW_10_6_0_pre2TTbar_13UP18_PUpmx25ns__190320_082417_8759

Not sure also I understand "a replay of PU". Could you please guide more? Thx.

[2019-03-25 13:31] perrotta commented on #26236
@swozniewski

I think I have a (not so) quick and (quite likely) dirty fix for the issue with the RecoTauPiZeroProducer in
https://github.com/perrotta/cmssw/tree/removeDuplicatePfRecoTauProducer_cfi
Feel free of importing that commit if you agree with it

However, after having applied it , the same patTuple_PATandPF2PAT_cfg.py unit test indicates another issue [1] with the configuration of RecoTau

[2019-03-25 13:34] perrotta commented on #26236
@fabiocos : I think that the fixes needed to solve this issue are rather large.
Given the time constraint you have in building the next pre-release, I'd let you set a deadline for the tau group to provide a bugfix pull request. Otherwise, I would suggest to revert #24501 and wait for another pull request which includes it and all other fixes that will be needed.
Please let us know what do you thin

[2019-03-25 13:37] slava77 commented on #26240
On 3/25/19 6:23 AM, Phat Srimanobhas wrote:

some of the validation modules (e.g. tracking) need to know provenance
of all hits.
This is possible if the mixing module is rerun by "replaying" the pileup
mixing that was done in the original DIGI step.

[2019-03-25 13:59] fabiocos commented on #26236
@swozniewski @perrotta as we are approaching the 10_6_0_pre3 deadline, and I would like to avoid delays if not strictly needed, I suggest the following: either by this evening a fix allowing the code to pass the PhysicsTools/PatAlgos unit tests is available, or l will revert #24501. In this way the authors will have the possibility to work on a proper fix without too much pressure, and in parallel

[2019-03-25 14:31] swozniewski commented on #26236
I'll try to provide the fix today. Being at a conference, I don't know how far I'll get so please don't wait and go ahead with reverting whenever you like.

[2019-03-25 14:46] fabiocos commented on #26240
@srimanob using workflow 11025.0 as an example, if you run step3 (RECO - DQM) with the Tracer activated you will see:

[code]
You have for instance the validation module

[code]

corresponding to https://github.com/cms-sw/cmssw/blob/master/Validation/Mixing/src/MixCollectionValidation.cc that is accessing the CrossingFrame

[2019-03-25 14:46] Dr15Jones opened #26246 "Incorrect handling of exception during end transition"
An IB tests showed that global end run work was still being done at the point where all modules are being deleted. In the job, an exception occurred during an end transition.

[2019-03-25 14:47] cmsbuild commented on #26246
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-25 14:51] Dr15Jones commented on #26246
The log is
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_ROOT614_X_2019-03-24-2300/pyRelValMatrixLogs/run/23.0_JpsiMM+JpsiMMINPUT+DIGI+RECO+HARVEST/step3_JpsiMM+JpsiMMINPUT+DIGI+RECO+HARVEST.log#/5469-5469

with the relevant information being
[code]
and
[code]

[2019-03-25 14:51] Dr15Jones commented on #26246
assign core

[2019-03-25 14:51] cmsbuild commented on #26246
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-25 15:32] makortel commented on #26240
Tracking validation (MTV etc) does not need the replay of pileup.

[2019-03-25 17:23] #26222 closed

[2019-03-25 21:09] srimanob commented on #26206
Here is the full cmsDriver I've used for testing.

**Step-1 (CMSSW_10_6_0_pre2):**
`cmsDriver.py ZEE_13TeV_TuneCUETP8M1_cfi --conditions auto:run2_mc -n 10 --era Run2_2016 --eventcontent FEVTDEBUG --relval 9000,50 -s GEN,SIM --datatier GEN-SIM --beamspot Realistic50ns13TeVCollision --io ZEE_13.io --python ZEE_13.py --no_exec --fileout file:step1.root --nThreads 4`

**Step-2 (CMSSW_10_6_0_pre2):**

[2019-03-26 15:00] wddgit commented on #26221
@ggovi ping. I'll try explaining the issue again in case the first explanation was unclear. Hoping to hear your thoughts on this.

CondDBESSource is returning a validity interval for the record "EcalPedestalsRcd" that has an invalid start time and valid end time. By the original definition from long ago, an invalid start time should indicate an invalid interval. So this kind of interval should nev

[2019-03-26 20:19] perrotta commented on #26236
A fix is proposed in #26254
With it the unit test patTuple_PATandPF2PAT_cfg.py successfully run till completion

[2019-03-27 13:08] fabiocos commented on #26236
@perrotta @swozniewski #26254 has been successfully merged, so I consider this specific issue as closed. Any further possible revision of this code will be managed though a new PR I assume, and the next validation round may provide feedback about the already provided updates

[2019-03-27 13:09] #26236 closed

[2019-03-27 13:14] fabiocos opened #26269 "Possible reorganization of CondCore plugins packages"
During the scrutiny of recent PRs new Plugin packages were proposed for CondCore, made only by one BuildFile.xml and a plugin.cc file, as several already existent. During the review @smuzaffar suggested the possibility to combine all of them into a single package with several plugin sub-areas, improving the code organization, and this was discussed with @ggovi . This issue is meant to keep track o

[2019-03-27 13:14] cmsbuild commented on #26269
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-28 12:49] smuzaffar commented on #26242
@ianna , https://github.com/cms-sw/cmsdist/pull/4820 should address this.

[2019-03-28 13:46] fabiocos opened #26282 "Build CMSSW_10_3_3_patch1"

[2019-03-28 13:47] cmsbuild commented on #26282
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-28 13:47] fabiocos commented on #26282
+1

[2019-03-28 13:47] cmsbuild commented on #26282
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_3_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2019-03-28 13:47] cmsbuild commented on #26282
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-03-28 13:48] cmsbuild commented on #26282
The build has started for slc6_amd64_gcc700 in cmsbuild94.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2005/console
CMSDIST Branch: [REL/CMSSW_10_3_3/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_3/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-28 13:48] cmsbuild commented on #26282
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2006/console
CMSDIST Branch: [REL/CMSSW_10_3_3/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_3/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-28 13:57] fabiocos opened #26284 "Crash in wf 20234.99, HGCal validation for Premixing test"
After the integration of #26099 implementing the HGCalValidator, the test workflow 20234.99 (Phase 2 scenario D17, premixing) fails due to a missing collection:

[code]

[2019-03-28 13:57] cmsbuild commented on #26284
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-28 14:00] fabiocos commented on #26284
assign dqm

@apsallid @rovere @kpedro88 FYI

[2019-03-28 14:00] cmsbuild commented on #26284
New categories assigned: dqm

@andrius-k,@schneiml,@jfernan2,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-28 14:23] cmsbuild commented on #26282
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_3_patch1-slc6_amd64_gcc700/2005
Some t

[2019-03-28 14:36] fabiocos commented on #26284
The problem looks like in the produced used in the configuration: the default is "mix"
https://github.com/cms-sw/cmssw/blob/master/Validation/HGCalValidation/python/HGCalValidator_cfi.py#L30
but the premixing puts the collection in mixData:
[code]
Just changing the producer let the code run smoothly

@makortel FYI

[2019-03-28 14:52] makortel commented on #26284
Right, https://github.com/cms-sw/cmssw/blob/master/Validation/HGCalValidation/python/HGCalValidator_cfi.py should have
[code]
(and eventually we should resolve #26001)

[2019-03-28 14:56] fabiocos commented on #26284
@makortel yes, I came to the same conclusion, running a test right now

[2019-03-28 15:06] cmsbuild commented on #26282
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_3_patch1-slc7_amd64_gcc700/2006
Some t

[2019-03-28 16:23] cmsbuild commented on #26282
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_3_patch1-slc6_amd64_gcc700/2005

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-28 16:58] cmsbuild commented on #26282
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_3_patch1-slc7_amd64_gcc700/2006

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-28 17:03] fabiocos commented on #26282
upload all

[2019-03-28 17:03] cmsbuild commented on #26282
Queing Jenkins upload for slc6_amd64_gcc700

[2019-03-28 17:03] cmsbuild commented on #26282
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-28 17:04] cmsbuild commented on #26282
The upload has started for slc6_amd64_gcc700 in cmsbuild94.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1310/console

[2019-03-28 17:04] cmsbuild commented on #26282
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1311/console

[2019-03-28 17:04] cmsbuild commented on #26282
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_3_patch1-slc7_amd64_gcc700/1311

[2019-03-28 17:05] cmsbuild commented on #26282
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_3_patch1-slc6_amd64_gcc700/1310

[2019-03-28 17:07] fabiocos commented on #26282
release-notes

[2019-03-28 17:07] cmsbuild commented on #26282
Generating release notes since CMSSW_10_3_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-28 17:07] cmsbuild commented on #26282
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_3_3_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_3_patch1

Cheers,
cms-bot

You can also click <a href

[2019-03-28 17:09] cmsbuild commented on #26282
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_3_patch1

[2019-03-28 18:46] davidlange6 opened #26288 "Pybind11 ParameterSet needs error handling improvement"
See issues in unit tests of #26278

[2019-03-28 18:46] cmsbuild commented on #26288
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-28 19:11] davidlange6 commented on #26288
assign core

(but its really assign myself)

[2019-03-28 19:11] cmsbuild commented on #26288
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-28 20:16] wddgit commented on #26246
Recommend closing this. It should be fixed by PR #26289

[2019-03-29 08:47] rovere commented on #26284
Thanks for promptly fixing it!

[2019-03-29 08:56] rovere commented on #26225
@kpedro88
RecHitTools is a nice utility package, but it needs to be properly configured from the EventSetup. This, IMHO, in a few situations, makes its usage far less trivial, especially in plugins and helper plugins where the price you have to pay is to percolate the EventSetup deep down your code (either that or the rechHitTools instance).
But I agree that we should carefully review the usage of

[2019-03-29 09:01] perrotta commented on #25751
@eioannou : do you have an ETA for submitting the fix?

[2019-03-29 09:35] kpedro88 commented on #26225
The V10 geometry has a different number of layers than V9. This clearly can't be handled well with a hardcoded constant. The approach really needs to be reassessed. I highly doubt V10 will be the last major change before we actually build the HGVal.

[2019-03-29 09:41] fabiocos commented on #26284
The problem looks solved by #26287 in CMSSW_10_6_X_2019-03-28-2300

[2019-03-29 09:41] #26284 closed

[2019-03-29 09:48] fabiocos opened #26296 "Build CMSSW_10_6_0_pre3"

[2019-03-29 09:48] cmsbuild commented on #26296
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-29 09:49] fabiocos commented on #26296
build cmssw-tool-conf

[2019-03-29 09:49] cmsbuild commented on #26296
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700, slc7_ppc64le_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-03-29 09:52] cmsbuild commented on #26296
The cmssw-tool-conf build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2007/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-29 09:52] cmsbuild commented on #26296
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2008/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-29 09:52] cmsbuild commented on #26296
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2009/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-29 09:53] eioannou commented on #25751
I have fixed it and I have already had a branch in which met uncertainties are calculated by using PF objects but I didn't make a PR yet, because I am not sure if the PF objects are enough to fix the discrepancy on uncertainties. I mean, I could not manage to confirm that  if the met uncertainties were being calculated by using PF objects, they would not be affected when the new electrons were add

[2019-03-29 10:01] perrotta commented on #25751
Thank you for your answer.
I must admit it is not fully clear to me what you intend... Perhaps, with a PR at hand it can be easier to understand.
I think the rationale is: use to calculate the MET uncertainties the very same objects already used to calculate MET.

[2019-03-29 10:05] cmsbuild commented on #26296
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2010/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-29 10:38] eioannou commented on #25751
Actually, I would like to see if the uncertainties were being calculated by PF objects only, they would not be affected by new electrons.
I will make a PR and we can fix any issue later.

[2019-03-29 10:43] rovere commented on #26225
HGCal...
I agree, we should review the code and find an optimal way to handle flexibility and usability.

[2019-03-29 11:51] cmsbuild commented on #26296
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_aarch64_gcc700/2008

[2019-03-29 12:19] cmsbuild commented on #26296
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc700/2009

[2019-03-29 13:21] cmsbuild commented on #26296
There was an error building cmssw-tool-conf for slc7_ppc64le_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_ppc64le_gcc700/2007

[2019-03-29 13:39] cmsbuild commented on #26296
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc820/2010

[2019-03-29 14:28] fabiocos commented on #26296
+1

[2019-03-29 14:29] cmsbuild commented on #26296
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-03-29 14:29] cmsbuild commented on #26296
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-03-29 14:30] cmsbuild commented on #26296
The build has started for slc7_amd64_gcc700 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2011/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-29 14:34] cmsbuild commented on #26296
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2012/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-29 14:43] cmsbuild commented on #26296
The build has started for slc7_amd64_gcc820 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2013/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-29 15:00] fabiocos opened #26299 "Build CMSSW_10_6_0_pre3_ROOT614"
ARCHITECTURE:slc7_amd64_gcc700
CMSSW_COMMIT:88fc5373215fdad5d4ba0540fe6f92b718e94afe
CMSDIST_COMMIT:c300afe062475beb702c835d5f52c0d6a36cb970

[2019-03-29 15:00] cmsbuild commented on #26299
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-03-29 15:00] fabiocos commented on #26299
+1

[2019-03-29 15:01] cmsbuild commented on #26299
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre3_ROOT614. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-03-29 15:01] cmsbuild commented on #26299
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-03-29 15:02] cmsbuild commented on #26299
The build has started for slc7_amd64_gcc700 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2014/console
CMSDIST Branch: [c300afe062475beb702c835d5f52c0d6a36cb970](https://github.com/cms-sw/cmsdist/commits/c300afe062475beb702c835d5f52c0d6a36cb970), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-03-29 15:20] smuzaffar commented on #26296
@fabiocos , there was a bug in cms-bot and it should not have started the build for slc7_ppc64le_gcc700 as this is marked as IB_ONLY in the https://github.com/cms-sw/cms-bot/blob/master/config.map#L15
I have fixed this now and in future it should not trigger the release build for IB_ONLY entries.

[2019-03-29 15:23] fabiocos commented on #26296
@smuzaffar ok thanks for the clarification, it does not make sense to run the build if we cannot have the externals...

[2019-03-29 16:57] cmsbuild commented on #26296
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_aarch64_gcc700/2012
Some

[2019-03-29 19:00] cmsbuild commented on #26296
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc820/2013
Some tes

[2019-03-29 20:18] cmsbuild commented on #26296
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc700/2011
Some tes

[2019-03-29 20:22] cmsbuild commented on #26296
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_aarch64_gcc700/2012

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-29 21:15] cmsbuild commented on #26296
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc820/2013

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-29 22:23] cmsbuild commented on #26296
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc700/2011

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-29 22:51] cmsbuild commented on #26299
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3_ROOT614-slc7_amd64_gcc700/2014

[2019-03-30 01:30] cmsbuild commented on #26299
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre3_ROOT614-slc7_amd64_gcc700/2014

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-03-30 06:27] fabiocos commented on #26299
upload all

[2019-03-30 06:28] cmsbuild commented on #26299
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-30 06:28] fabiocos commented on #26296
upload all

[2019-03-30 06:29] cmsbuild commented on #26296
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-03-30 06:29] cmsbuild commented on #26296
Queing Jenkins upload for slc7_amd64_gcc700

[2019-03-30 06:29] cmsbuild commented on #26296
Queing Jenkins upload for slc7_amd64_gcc820

[2019-03-30 06:29] cmsbuild commented on #26299
The upload has started for slc7_amd64_gcc700 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1312/console

[2019-03-30 06:29] cmsbuild commented on #26296
The upload has started for slc7_amd64_gcc820 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1314/console

[2019-03-30 06:29] cmsbuild commented on #26296
The upload has started for slc7_amd64_gcc700 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1315/console

[2019-03-30 06:29] cmsbuild commented on #26296
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1313/console

[2019-03-30 06:29] cmsbuild commented on #26296
The was error uploading slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc820/1314

[2019-03-30 06:30] cmsbuild commented on #26296
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre3-slc7_aarch64_gcc700/1313

[2019-03-30 06:30] cmsbuild commented on #26299
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre3_ROOT614-slc7_amd64_gcc700/1312

[2019-03-30 06:34] cmsbuild commented on #26296
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc700/1315

[2019-03-30 07:14] fabiocos commented on #26296
@smuzaffar there is a problem in gcc820 upload, but the link to the output is broken, any idea about what happened? I may move forward anyway with release notes...

[2019-03-30 07:27] fabiocos commented on #26296
if I am not mistaken, the Jenkins job for this upload shows success, even if nothing has still appeared in cvmfs

[2019-03-30 07:29] fabiocos commented on #26296
release-notes

[2019-03-30 07:29] cmsbuild commented on #26296
Generating release notes since CMSSW_10_6_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-03-30 07:29] cmsbuild commented on #26296
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_6_0_pre3 is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_6_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_0_pre3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnn

[2019-03-30 07:30] cmsbuild commented on #26296
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre3

[2019-03-30 07:44] cmsbuild commented on #26296
The upload has started for slc7_amd64_gcc820 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1316/console

[2019-03-30 07:44] cmsbuild commented on #26296
The was error uploading slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc820/1316

[2019-03-30 07:51] cmsbuild commented on #26296
The upload has started for slc7_amd64_gcc820 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1317/console

[2019-03-30 07:52] cmsbuild commented on #26296
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre3-slc7_amd64_gcc820/1317

[2019-03-30 07:53] smuzaffar commented on #26296
@fabio, gcc820 is now uploaded.

[2019-03-30 07:59] eioannou commented on #25751
The PR  which fixes the bug in the calculation of MET uncertainties is  #26302.

[2019-03-30 08:01] fabiocos commented on #26296
@smuzaffar thanks

[2019-03-30 16:08] cmsbuild commented on #26282
The cleanup has started for slc6_amd64_gcc700

[2019-03-30 16:08] cmsbuild commented on #26282
The cleanup has started for slc7_amd64_gcc700

[2019-03-30 16:08] #26282 closed

[2019-03-30 16:12] cmsbuild commented on #26282
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_3_patch1-slc7_amd64_gcc700/1317

[2019-03-30 16:14] cmsbuild commented on #26282
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_3_patch1-slc6_amd64_gcc700/1316

[2019-03-31 13:24] kpedro88 commented on #26071
@rekovic the timeline now lines up better with 10_6, so we will use the prereleases for validation and then have a production release.

[2019-04-01 05:36] Dr15Jones commented on #22135
This time, two asserts failed

[code]

[2019-04-01 05:38] cmsbuild commented on #26296
The cleanup has started for slc7_aarch64_gcc700

[2019-04-01 05:38] cmsbuild commented on #26296
The cleanup has started for slc7_amd64_gcc700

[2019-04-01 05:38] cmsbuild commented on #26296
The cleanup has started for slc7_amd64_gcc820

[2019-04-01 05:38] #26296 closed

[2019-04-01 05:39] cmsbuild commented on #26296
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre3-slc7_aarch64_gcc700/1318

[2019-04-01 05:39] cmsbuild commented on #26296
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre3-slc7_aarch64_gcc700/1321