[2021-04-02 08:13] silviodonato commented on #33325
Yes, thanks.

For the longer term we should also update
[code]

I hope it is sufficient to replace the string `2026D71` with another geometry, but let's wait for the feedback from HGCal

[2021-04-02 08:50] srimanob commented on #33325
OK, Thanks.
I put the one needed of unit test first, https://github.com/cms-sw/cmssw/pull/33326

[2021-04-02 13:23] makortel commented on #31664
From oneapi-src/oneTBB#284

[2021-04-02 13:25] qliphy opened #33327 "Build CMSSW_10_6_23"

[2021-04-02 13:26] cmsbuild commented on #33327
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-04-02 13:26] qliphy commented on #33327
+1

[2021-04-02 13:27] cmsbuild commented on #33327
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-04-02 13:27] cmsbuild commented on #33327
The build has started for slc7_amd64_gcc700 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2973/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-02 13:27] cmsbuild commented on #33327
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2974/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-02 14:06] kpedro88 commented on #33325
@silviodonato we typically do not maintain code in the test area that is not used for unit tests

[2021-04-02 15:22] Dr15Jones commented on #33289
See https://github.com/oneapi-src/oneTBB/issues/371

[2021-04-02 15:52] fabferro commented on #33292
The errors were generated by hits in the dead region at the edge of the sensors.
The code did not treat them as needed. I have provided a bug fix in PR #33329 .

[2021-04-02 16:15] cmsbuild commented on #33327
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_23-slc7_amd64_gcc820/2974
Some tests (

[2021-04-02 16:55] cmsbuild commented on #33327
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_23-slc7_amd64_gcc820/2974

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-02 17:03] cmsbuild commented on #33327
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_23-slc7_amd64_gcc700/2973
Some tests (

[2021-04-02 17:43] cmsbuild commented on #33327
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_23-slc7_amd64_gcc700/2973

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-03 01:33] qliphy commented on #33327
upload all

[2021-04-03 01:34] cmsbuild commented on #33327
Queing Jenkins upload for slc7_amd64_gcc700

[2021-04-03 01:34] cmsbuild commented on #33327
Queing Jenkins upload for slc7_amd64_gcc820

[2021-04-03 01:36] cmsbuild commented on #33327
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1893/console

[2021-04-03 01:38] cmsbuild commented on #33327
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1894/console

[2021-04-03 01:41] cmsbuild commented on #33327
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_23-slc7_amd64_gcc700/1893

[2021-04-03 01:41] cmsbuild commented on #33327
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_23-slc7_amd64_gcc820/1894

[2021-04-03 02:08] qliphy commented on #33327
release-notes

[2021-04-03 02:08] cmsbuild commented on #33327
Generating release notes since CMSSW_10_6_22.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-04-03 02:08] cmsbuild commented on #33327
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_23 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_22 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_23

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2021-04-03 02:12] cmsbuild commented on #33327
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_23

[2021-04-03 12:51] dan131riley commented on #33289
@Dr15Jones With https://github.com/Dr15Jones/cmssw/tree/tryRefCaptureServiceTokenTFixForTBB (which is not the version in the PR), I have not seen any failures of the unit test, but I did get a crash that looks to be related to the ServiceToken handling in one of the 8-thread RECO jobs I was running to load the system:
[code]

[2021-04-03 13:46] Dr15Jones commented on #33289
@dan131riley  The actual PR has safer memory management then the branch I originally gave you. Would you try out the actual PR?

[2021-04-03 20:52] dan131riley commented on #33289
Trying the PR

[2021-04-04 04:26] srimanob commented on #33325
+Upgrade

As the unit test is now OK.

[2021-04-04 04:26] cmsbuild commented on #33325
This issue is fully signed and ready to be closed.

[2021-04-04 05:52] #33325 closed

[2021-04-04 14:05] dan131riley commented on #33289
@Dr15Jones With #33330 I still got a crash-on-exit in one of ~70k trials, still with no stack trace.  I've now turned on core dumps for my test jobs, and am thinking about ways to extend the stack trace catching later into the end job.

There is a clue--one of my jobs running without your PR did leave an attached gdb, with the interesting bits of the backtrace:
[code]
That's clearly a race conditi

[2021-04-04 14:36] dan131riley commented on #33289
Got a core dump with a segfault in `do_notify_exit_observers` which seems to be followed by a segfault in the signal handler.  There's some other odd things here, with `main()` on thread 3 and more activity that I'd expect to see during shutdown:
[code]

[2021-04-04 14:48] dan131riley commented on #33289
@Dr15Jones I made a [pull request ](https://github.com/Dr15Jones/cmssw/pull/6) to your repo.

[2021-04-05 00:23] cmsbuild commented on #33327
The cleanup has started for slc7_amd64_gcc700

[2021-04-05 00:23] cmsbuild commented on #33327
The cleanup has started for slc7_amd64_gcc820

[2021-04-05 00:23] #33327 closed

[2021-04-05 00:23] cmsbuild commented on #33327
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_23-slc7_amd64_gcc700/1645

[2021-04-05 00:23] cmsbuild commented on #33327
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_23-slc7_amd64_gcc820/1646

[2021-04-05 12:33] civanch commented on #33292
+1

is fixed - may be closed

[2021-04-05 12:33] cmsbuild commented on #33292
This issue is fully signed and ready to be closed.

[2021-04-05 12:36] civanch commented on #33249
@y19y19 , please, try out #33334 . What is unclear your request - why you want to modify g4SimHits parameters unrelated to you analysis?

[2021-04-05 13:14] makortel commented on #33289
Do I interpret correctly that we still see stacks being moved between threads? (I'm mainly suspecting that would be causing #33297 )

[2021-04-05 13:39] Dr15Jones commented on #33289
I thought I had put all the necessary calls in to tbb to tell it not to do that. So either I missed something or those calls are not working like they are supposed to.

[2021-04-05 14:10] jpata commented on #32483
- [ ] std::clamp in gpuClusterTracksIterative.h, gpuClusterTracksDBSCAN.h https://github.com/cms-sw/cmssw/pull/31723#discussion_r605817407
- [ ] repeated constants in gpuVertexFinderImpl.h, https://github.com/cms-sw/cmssw/pull/31723#discussion_r605820701

[2021-04-05 14:21] mmusich commented on #32483
@jpata, can you please move the open issues connected to pixel tracking and vertexing to a separate issue?
As far as I can tell (based on the title) this issue is reserved to pixel local reconstruction.
Thanks.

[2021-04-05 15:29] dan131riley commented on #33289
I ran around 100k trials of `cmsRun --numThreads 8 test_tbb_threads_from_commandline_cfg.py` with the #33330 patch on a loaded slc7_amd64_gcc900 system (also running 2 8-thread RECO jobs) with no crashes.  Continuing some tests on cc8_aarch64_gcc9, so far no crashes there either.

[2021-04-05 16:33] makortel commented on #33297
Apparently we still observe stacks being moved between threads https://github.com/cms-sw/cmssw/issues/33289#issuecomment-813397608, I would **guess** that to confuse IgProf.

[2021-04-05 16:33] makortel commented on #33305
assign core, heterogeneous

[2021-04-05 16:34] cmsbuild commented on #33305
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@makortel,@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-05 16:45] dan131riley commented on #33297
I'm running some tests now that get the thread-id at the top of `main()` and assert at then end that it hasn't changed.  No hits so far, so if this is happening I don't think it is common enough to account for the igrpof changes.

[2021-04-05 17:01] makortel commented on #33305
I think we're in a process of figuring out the dependence rules (by trial and error).

The `CUDADataFormats` is a bit special because all the classes are intended to be transient only. The [current documentation](https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCreatingNewProducts#Restrictions_on_a_package_defini) has

which is (partially) why the dependence on Geometry hasn't raised red flag

[2021-04-05 17:23] davidlange6 commented on #33305
It does not today, no. There is the issue of transient vs persistent, but there is also the issue of managing and understanding the plan for a hierarchical dependency chain, which is what prompted the question. Anyway, sounds like there is an easy fix to this one. I’ll read up on #32483

[2021-04-05 18:30] dan131riley commented on #33289
On closer examination of the core dump backtrace, I believe thread 3 is actually the primary/initial thread.  This is based on both the LWP numbers and the thread addresses.  So that backtrace does not provide any  evidence that we are still having issues with stacks moving to different threads in bizarre ways, and I'm not aware of any other evidence.

[2021-04-06 00:32] #33292 closed

[2021-04-06 15:57] mrodozov commented on #32746
@VinInn would you suggest how to proceed with this, please :) A kind reminder

[2021-04-06 17:02] VinInn commented on #32746
the doc is this one https://llvm.org/docs/Vectorizers.html
Most probably we can just remove the pragma.
More in general: this type of info in tests is something useful to verify "regression".
They will appear as warning (in gcc as well). If we cannot manage we have just to silence them.

[2021-04-06 17:10] dan131riley commented on #31123
@mrodozov @smuzaffar Can we get https://github.com/root-project/root/pull/7758 merged into cms/v6-22-00-patches?

[2021-04-06 18:32] smuzaffar commented on #31123
@dan131riley , I am testing it here https://github.com/cms-sw/root/pull/156 . If no issues foudn during tests then I will include it for next IB

[2021-04-06 18:55] makortel commented on #25090
Here is an update from CMSSW_11_3_X_2021-04-05-1100

Generators:
[code]

AlCa, used only in a separate ALCA step:
[code]
Just to note that the question in https://github.com/cms-sw/cmssw/issues/25090#issuecomment-745722887 was answered in the PPD workshop: ALCA steps will process only one lumi at a time and therefore will not benefit from concurrent lumis.

AlCa, used in RECO step:
[code]

[2021-04-06 18:56] makortel commented on #25090
The `AlcaPCCProducer` is addressed in https://github.com/cms-sw/cmssw/pull/33348

[2021-04-07 12:03] silviodonato opened #33356 "TestDQMOnlineClient-beampixel_dqm_sourceclient had ERRORS"
Since `CMSSW_11_3_X_2021-04-06-2300` we get a unit test failure in DQM/Integration
[code]
The origin of the error is here https://github.com/cms-sw/cmssw/blob/master/DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py#L93

The issue seems related to the change in `RecoPixelVertexing/Configuration/python/RecoPixelVertexing_cff.py` made by #31723 and already discussed https://githu

[2021-04-07 12:03] silviodonato commented on #33356
assign dqm

[2021-04-07 12:04] cmsbuild commented on #33356
New categories assigned: dqm

@jfernan2,@andrius-k,@ahmad3213,@kmaeshima,@rvenditti,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-07 12:04] cmsbuild commented on #33356
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-07 12:32] silviodonato commented on #33356
The most trivial fix would be replacing
`process.pixelVertices.TkFilterParameters.minPt = process.pixelTracksTrackingRegions.RegionPSet.ptMin`
with
`process.PtMin = process.pixelTracksTrackingRegions.RegionPSet.ptMin`
(see https://github.com/cms-sw/cmssw/blob/master/RecoPixelVertexing/PixelVertexFinding/python/PixelVertexes_cfi.py#L16)

but I'm not sure is what we want

cc @cms-sw/dqm-l2

[2021-04-07 12:56] silviodonato opened #33358 "Build CMSSW_11_2_4"

[2021-04-07 12:56] cmsbuild commented on #33358
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-04-07 13:02] silviodonato commented on #33358
build cmssw-tool-conf

[2021-04-07 13:02] cmsbuild commented on #33358
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc900, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, cc8_amd64_gcc9, cc8_aarch64_gcc9, cc8_ppc64le_gcc9
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finish

[2021-04-07 13:03] cmsbuild commented on #33358
The cmssw-tool-conf build has started for cc8_amd64_gcc9 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2975/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 13:03] cmsbuild commented on #33358
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2976/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 13:04] cmsbuild commented on #33358
The cmssw-tool-conf build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2977/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 13:05] cmsbuild commented on #33358
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2978/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 13:05] cmsbuild commented on #33358
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2979/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 13:30] cmsbuild commented on #33358
The cmssw-tool-conf build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2980/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 13:41] cmsbuild commented on #33358
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_amd64_gcc900/2976

[2021-04-07 13:43] cmsbuild commented on #33358
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_ppc64le_gcc9/2979

[2021-04-07 13:46] haozturk opened #33361 "Fatal Root Error: @SUB=TTreeCache::FillBuffer"
Hello,

I'm coming from https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3916.html

This issue is about an error that some CMS production jobs are having.
Error message in short:

[code]

Full job log:
https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC1_Run2018D_MuOnia_UL2018_MiniAODv2_210323_100600_9063/8021/DataProcessing/36a66405-14e4-4f1b-aaa6-0601ddc9478f-0-1-logArchi

[2021-04-07 13:46] cmsbuild commented on #33361
A new Issue was created by  @haozturk Hasan ztrk.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-07 13:47] makortel commented on #33356
Just to add that #31723 changed the import in `RecoPixelVertexing/Configuration/python/RecoPixelVertexing_cff.py` as
[code]
and therefore going from [`PrimaryVertexProducer`](https://github.com/cms-sw/cmssw/blob/master/RecoVertex/PrimaryVertexProducer/python/OfflinePixel3DPrimaryVertices_cfi.py) to [`PixelVertexProducer`](https://github.com/cms-sw/cmssw/blob/master/RecoPixelVertexing/PixelVertexFi

[2021-04-07 13:48] makortel commented on #33361
assign core

[2021-04-07 13:48] makortel commented on #33361
@pcanal Could you comment?

[2021-04-07 13:48] Dr15Jones commented on #33361
@pcanal please take a look.

[2021-04-07 13:48] cmsbuild commented on #33361
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-07 13:53] cmsbuild commented on #33358
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_amd64_gcc9/2975

[2021-04-07 13:54] makortel commented on #33361
Here is an extract of the exceptions from the [job log](https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC1_Run2018D_MuOnia_UL2018_MiniAODv2_210323_100600_9063/8021/DataProcessing/36a66405-14e4-4f1b-aaa6-0601ddc9478f-0-1-logArchive/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log)
[code]
The job was processing file `root://cmsxrootd-site.fnal.gov//store/data/Run2018D/MuOnia/AOD/12Nov201

[2021-04-07 14:00] cmsbuild commented on #33358
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_ppc64le_gcc9/2978

[2021-04-07 14:05] makortel commented on #33289
We have not observed crashes in IBs since the merge of https://github.com/cms-sw/cmssw/pull/33330, so we can close the issue.

[2021-04-07 14:05] #33289 closed

[2021-04-07 14:05] makortel commented on #33289
+1

[2021-04-07 14:05] cmsbuild commented on #33289
This issue is fully signed and ready to be closed.

[2021-04-07 14:06] cmsbuild commented on #33358
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_aarch64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_aarch64_gcc9/2977

[2021-04-07 14:19] makortel commented on #33361
I'll give it a try.

[2021-04-07 14:23] cmsbuild commented on #33358
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_aarch64_gcc9/2980

[2021-04-07 14:40] makortel commented on #33361
I can reproduce on cmsdev machines with a remote input file, but not with a local file.

[2021-04-07 15:11] gartung commented on #33297
I noticed that the runTheMatrix.py --profile generates the command
`igprof -t cmsRun`
which is to contrain which process is profiled.
The scripts in the cms-cmpwg do not use this option.
If I compare the [profile produced with the -t option](
https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_11_3_X_2021-04-06-2300/slc7_amd64_gcc900/pp/23434.21_TTbar_14TeV+2026D49PU_ProdLike+TTbar_14TeV_Tun

[2021-04-07 16:11] makortel commented on #33361
Running on a single thread gives
[code]

[2021-04-07 17:28] silviodonato commented on #33358
+1

[2021-04-07 17:28] cmsbuild commented on #33358
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-04-07 17:28] cmsbuild commented on #33358
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-04-07 17:29] cmsbuild commented on #33358
The build has started for cc8_amd64_gcc9 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2981/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 17:29] cmsbuild commented on #33358
The build has started for slc7_amd64_gcc900 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2982/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 17:31] cmsbuild commented on #33358
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2983/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 17:32] cmsbuild commented on #33358
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2984/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 18:07] cmsbuild commented on #33358
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2985/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 18:50] jfernan2 commented on #33356
@mmusich @missirol  would you know by chance?

[2021-04-07 18:55] mmusich commented on #33356
Depends if you want to reproduce the past (then change back to the offline DA clustering-based vertexing) or buy the new configuration based on the divisive vertex finding (used online)...
Perhaps @dinardo and @gennai are better suited to answer this.

[2021-04-07 19:03] smuzaffar commented on #31123
@dan131riley , root-project/root#7758   is now integrated. It should be available in tonight's 23h00 IB

[2021-04-07 19:10] cmsbuild commented on #33358
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2986/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-07 19:37] missirol commented on #33356
(@jfernan2 , I don't know these modules well, but Silvio's suggestion looks like the minimal consistent fix: `.TkFilterParameters.minPt` and `.PtMin` are the lower pT thresholds for the tracks used in the vertexing by these two different algorithms)

[2021-04-07 20:23] cmsbuild commented on #33358
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_ppc64le_gcc9/2984
Some tests (

[2021-04-07 20:26] cmsbuild commented on #33358
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_ppc64le_gcc9/2983
Some tests ( ru

[2021-04-07 20:37] cmsbuild commented on #33358
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_amd64_gcc9/2981
Some tests ( runThe

[2021-04-07 20:42] cmsbuild commented on #33358
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_aarch64_gcc9/2985
Some tests ( ru

[2021-04-07 21:18] cmsbuild commented on #33358
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_amd64_gcc9/2981

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-07 21:21] cmsbuild commented on #33358
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_ppc64le_gcc9/2983

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-04-07 21:22] cmsbuild commented on #33358
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_ppc64le_gcc9/2984

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-07 21:34] cmsbuild commented on #33358
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-cc8_aarch64_gcc9/2985

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-04-07 21:34] cmsbuild commented on #33358
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_amd64_gcc900/2982
Some tests (

[2021-04-07 22:15] cmsbuild commented on #33358
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_amd64_gcc900/2982

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-07 22:17] pcanal commented on #33361
The reproducer is using v6.14/09.    In v6.20/00, a related sounding commit (59fdba2402) was introduced and in v6.22/00 another one was introduced (df965ef53428cdd3777ba6a8e7260b65901172d9).   So trying with a v6.22 build of ROOT would be the next step.

[2021-04-07 22:22] makortel commented on #33361
The `PSet.py` itself doesn't run on 11_0_0 (not surprising).

I also tried to craft simple reproducers by copying just `recoPFCandidates_particleFlow__RECO` product, or having a single module that consumes that product, but neither reproduced the problem.

[2021-04-07 22:24] makortel commented on #33361
@haozturk

Given that local file works, would you be able to make the job use lazy download? (I'd expect one file of 3.4 GB to not be a big problem for that)

[2021-04-07 23:06] y19y19 commented on #33249
Sorry for the late reply. In my analysis, the signal dark photon is simulated in a way that it can interact with detector material through pair production (similar to SM photon bremstrahlung, but the cross section is scaled to be smaller, based on a variable called dark factor). It will be like a delayed pair production shower of photon.

For g4SimHits part, to be honest, it is the code from previ

[2021-04-08 02:32] cmsbuild commented on #33358
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_aarch64_gcc9/2986
Some tests (

[2021-04-08 05:08] cmsbuild commented on #33358
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4-slc7_aarch64_gcc9/2986

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-08 06:41] silviodonato commented on #33358
upload all

[2021-04-08 06:41] cmsbuild commented on #33358
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-04-08 06:41] cmsbuild commented on #33358
Queing Jenkins upload for cc8_amd64_gcc9

[2021-04-08 06:41] cmsbuild commented on #33358
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-04-08 06:41] cmsbuild commented on #33358
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-04-08 06:41] cmsbuild commented on #33358
Queing Jenkins upload for slc7_amd64_gcc900

[2021-04-08 06:41] cmsbuild commented on #33358
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-04-08 06:43] cmsbuild commented on #33358
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1895/console

[2021-04-08 06:43] cmsbuild commented on #33358
The upload has started for cc8_amd64_gcc9 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1896/console

[2021-04-08 06:43] cmsbuild commented on #33358
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1898/console

[2021-04-08 06:43] cmsbuild commented on #33358
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1897/console

[2021-04-08 06:44] cmsbuild commented on #33358
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4-cc8_ppc64le_gcc9/1897

[2021-04-08 06:45] cmsbuild commented on #33358
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4-slc7_aarch64_gcc9/1898

[2021-04-08 06:45] cmsbuild commented on #33358
The upload has started for slc7_amd64_gcc900 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1899/console

[2021-04-08 06:45] cmsbuild commented on #33358
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4-cc8_aarch64_gcc9/1895

[2021-04-08 06:46] cmsbuild commented on #33358
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1900/console

[2021-04-08 06:47] cmsbuild commented on #33358
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4-slc7_ppc64le_gcc9/1900

[2021-04-08 06:48] cmsbuild commented on #33358
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4-cc8_amd64_gcc9/1896

[2021-04-08 06:55] cmsbuild commented on #33358
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4-slc7_amd64_gcc900/1899

[2021-04-08 07:22] silviodonato commented on #33358
release-notes

[2021-04-08 07:23] cmsbuild commented on #33358
Generating release notes since CMSSW_11_2_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-04-08 07:23] cmsbuild commented on #33358
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_2_4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2

[2021-04-08 07:28] cmsbuild commented on #33358
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4

[2021-04-08 08:40] fwyzard opened #33369 "Disable NVCC warnings due to Eigen library code"
Building CUDA device code that includes Eigen objects results in a flood of warning like
[code]

These are likely due to templated code, where not all possible specialisation are `__host__ __device__`, so the compiler complains also about cases that are never actually used on the device.

Possible ways to clean this us:
  - add `--diag-suppress 20014` to the overall CUDA flags
  - add `--diag-supp

[2021-04-08 08:40] fwyzard commented on #33369
assign heterogeneous

[2021-04-08 08:41] cmsbuild commented on #33369
New categories assigned: heterogeneous

@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-08 08:41] cmsbuild commented on #33369
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-08 08:54] fwyzard commented on #33369
Should be fixed by https://github.com/cms-sw/cmsdist/pull/6795 .

[2021-04-08 08:56] dinardo commented on #33356
Dear @mmusich , @makortel , all, I originally wrote the module analyzer and the cfg file. The idea was to have an online "fast" beam monitor based only on the pixel information. As you pointed out different things have changed on the vertexing and I didn't keep track of all the changes. From what you wrote in your comments, I would go with the new feature, the "divisive vertex finding" (I guess th

[2021-04-08 10:27] srimanob opened #33373 "Mix use of DD4hep and DD4Hep across CMSSW."
Seem there are a mixing of "DD4hep" and "DD4Hep" across CMSSW code. It looks like "DD4hep" is the right one to use.

Examples of "DD4Hep":
Geometry/DTGeometryBuilder/src/DTGeometryBuilderFromDD4Hep.cc
Geometry/DTGeometryBuilder/src/DTGeometryBuilderFromDD4Hep.h
MagneticField/Engine/test/regression.py
MagneticField/Engine/test/runTest.sh
SimG4Core/PrintGeomInfo/test/SimFileCompare.cpp
Geometry/RPCG

[2021-04-08 10:27] cmsbuild commented on #33373
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-08 10:56] haozturk commented on #33361
Hi @makortel unfortunately, I do not have that option. WMAgents handle this procedure automatically. Let me include WMAgent developers, perhaps they might have an input on this @amaltaro @todor-ivanov.

Also note that this is not the only workflow having this problem. There are others, so it would be great if it's possible to have a generic fix. e.g. https://cms-unified.web.cern.ch/cms-unified/job

[2021-04-08 12:47] Dr15Jones commented on #33361
To help better understand, from the log files the software version being used is CMSSW_10_6_20

[2021-04-08 12:55] haozturk commented on #33361
Is this issue fixed in later releases?

[2021-04-08 13:00] dan131riley commented on #33361
Unclear.  Can you give us a recipe for reproducing the workflow so we can try it in a later release?  Modifying the Pset from the job to run with a later release is non-trivial.

[2021-04-08 13:08] makortel commented on #33373
assign geometry, simulation, reconstruction

[2021-04-08 13:08] cmsbuild commented on #33373
New categories assigned: geometry,reconstruction,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@slava77,@perrotta,@makortel,@jpata,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-08 13:53] fwyzard opened #33377 "update GCC to 10.3.0"
The GNU Compiler Collection version 10.3 has been released.

Can we update our gcc10 builds ?

[2021-04-08 13:53] fwyzard commented on #33377
assign core

[2021-04-08 13:53] cmsbuild commented on #33377
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-08 13:53] cmsbuild commented on #33377
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-08 13:58] smuzaffar commented on #33377
sure, I will open a cmsdist PR to test it

[2021-04-08 14:24] dan131riley commented on #33361
I did a little fiddling with wf 136.88811 and came up with the following recipe.  Create a file step1_lumiRanges.log with the contents:
[code]
and create a cmsRun config with
[code]
This reproduces the problem in CMSSW_10_6_20 **and** in CMSSW_11_3_0_pre1:
[code]

[2021-04-08 14:29] Dr15Jones commented on #33361
So I tried to reproduce the problem simply by reading the file via
[code]

Although EventContentAnalyzer did read all the data products in the file, the job never failed. So to me it looks like either
1. there is a particular order in which data products must be read for the problem to occur or
2. we have to run specific modules in PAT or DQM to cause the problem

If it is the latter, then it woul

[2021-04-08 14:35] dan131riley commented on #33361
In my CMSSW_10_6_20 job the error seems to consistently(?) be reading branch `recoPFCandidates_particleFlow__RECO`, in my CMSSW_11_3_0_pre1 it's branch `recoMuons_muons__RECO`, so it doesn't seem to be terribly sensitive to ordering.

[2021-04-08 14:40] Dr15Jones commented on #33361
When I run the job in CMSSW_11_6_20 I get
[code]

[2021-04-08 14:43] Dr15Jones commented on #33361
For this file, does the problem always occur on `Event run: 321432 lumi: 46 event: 72945660`?

[2021-04-08 14:46] Dr15Jones commented on #33361
So if I run the job with only one thread, I get
[code]

Which is also the 67th record and that was the last record read before the crash when using 8 threads.

[2021-04-08 14:48] dan131riley commented on #33361
No, I have
[code]
I would guess that any event in the cluster causes the problem.  I've seen it happen at record 67 and 69.  If I skip the first 60 events I don't get a crash, so it is path dependent.

[2021-04-08 14:51] pcanal commented on #33361
Which version of ROOT is used in CMSSW_11_6_20  ?

[2021-04-08 14:52] dan131riley commented on #33361
6.22.06.  I suppose I should try the ROOT master IBs.

[2021-04-08 14:58] smuzaffar commented on #33361
@pcanal , this is an old release CMSSW_10.6.20 which uses https://github.com/root-project/root/commits/v6-14-00-patches ( commit 8ba6b0f on that branch to be exact)

[2021-04-08 14:59] dan131riley commented on #33361
Ah, sorry, my answer was for CMSSW_11_3_0_pre1, which is ROOT 6.22.06.

[2021-04-08 15:12] pcanal commented on #33361
If I understand correctly, it still fails with CMSSW_11_3_0_pre1 which uses v6.22/06.  If this is the case, it would mean that the latest fixes to TTreeCache are not solving this.  The last couple of failures where triggered by the order in which the TTreeCache was "touched" (read/write, load).

If the problem can be reproduced with a v6.22/06 and a local file, I can take it from there.  (Unlikely

[2021-04-08 15:19] dan131riley commented on #33361
It also fails in CMSSW_11_3_ROOT6_X_2021-04-07-2300 which is ROOT 6.25.01.  It doesn't fail if I skip even 1 event.

[2021-04-08 15:20] Dr15Jones commented on #33361
So for the single threaded job, I added the `Tracer` service and run under gdb and stopped when the exception happened. For the event that has the problem, it first ran modules that have not `consumes` and then did requests from the PoolSource

[code]

[2021-04-08 15:27] dan131riley commented on #33361
It doesn't reproduce on local files in the later releases.  The ROOT6 IB does have debug symbols, here's the traceback I get for the first throw:
[code]

[2021-04-08 15:35] Dr15Jones commented on #33361
Removing the DQM step from the job still causes the exception
[code]

[2021-04-08 15:36] pcanal commented on #33361
@dan131riley Can you send me how to reproduce that .. including how to get a certificate?  Thanks.

[2021-04-08 15:42] fwyzard commented on #33369
The last option did not work...

[2021-04-08 15:42] fwyzard commented on #33369
Should be fixed by https://github.com/cms-sw/cmsdist/pull/6795 , now implementing the second option.

[2021-04-08 15:44] makortel commented on #33361
@haozturk How long can the pending jobs wait for a resolution? If lazy download can not be used, the proper fix (once identified) will require a new release, and backporting will take some time. (and I'm not sure if the fix would have to go through physics validation before being put into production release cycle)

[2021-04-08 15:55] dan131riley commented on #33361
@pcanal Assuming you already have a CERN grid certificate:
[code]

[2021-04-08 15:58] dan131riley commented on #33361
@pcanal correction, last line should be
[code]

[2021-04-08 15:58] makortel commented on #33377
If the update goes well, should we consider physics validation of 10.3 already in 12_0_0_pre1? (the plan was make move production architecture to 10 in 12_0_X after the next point release)

[2021-04-08 16:06] davidlange6 commented on #33361
You should not need a grid cert for this recipe

[2021-04-08 16:09] makortel commented on #33361
Why not?

[2021-04-08 16:20] davidlange6 commented on #33361
Its not running das.

[2021-04-08 16:21] davidlange6 commented on #33361
Ok, unless pulling data remotely..

[2021-04-08 17:27] mmusich commented on #33356
Hi @dinardo,
the divisive vertex finder (as used for online applications, such as pixel vertexing @HLT) is not new per se, it's just that the change included in PR https://github.com/cms-sw/cmssw/pull/31723 (which is new) as explained in https://github.com/cms-sw/cmssw/issues/33356#issuecomment-814928464 accidentally changed the meaning of `process.pixelVertices` in your configuration.
Perhaps you

[2021-04-08 17:29] dan131riley commented on #31123
The 23h00 IB seems to be taking a while for aarch64, but so far there are no TFormula crashes, all the crashes are in onnxruntime.

[2021-04-08 17:32] gennai commented on #33356
Well, if we want to monitor the beam spot (as it seems to be the case) we need the 3D vertexing.
Just a comment, if the code just monitor the beam spot position than it is very similar to what @ferencek client does for the HLT beamspot measurement. Maybe we can avoid doubling the resources and in case unify them?

Best,
S.

[2021-04-08 17:32] smuzaffar commented on #31123
yes we have issues with one of arm nodes (disk full) that is why relval jobs were crashed. We have restarted the jobs but as we only have arm node now so it will take some time

[2021-04-08 17:35] dinardo commented on #33356
Hi @mmusich , ok it's clear. Then yes, we definitely need the offline (3D) vertex. How shall we proceed then?

[2021-04-08 17:37] mmusich commented on #33356
I can have a look if I can provide a quick fix. Stay tuned.

[2021-04-08 17:50] Dr15Jones commented on #33361
I ran valgrind on the step2_PAT.py under CMSSW_10_6_20 but it did not uncover anything.

[2021-04-08 17:58] mmusich commented on #33356
see https://github.com/cms-sw/cmssw/pull/33378.

[2021-04-08 18:02] pcanal commented on #33361
I don't expect a memory error but rather a logic error in the TTreeCache due to the order of operations.

[2021-04-08 18:05] pcanal commented on #33361
Apparently i don't have one yet (did not do anything with those in many many years :( ).

[code]

[2021-04-08 18:15] dan131riley commented on #33361
@pcanal Request a [new grid user certificate from CERN](https://ca.cern.ch/ca/user/Request.aspx?template=EE2User) and then [convert the pkcs12 certificate into a PEM keypair](https://ca.cern.ch/ca/Help/?kbid=024010)

[2021-04-08 18:17] pcanal commented on #33361
Yep, not quite enough though :(
[code]

[2021-04-08 18:44] dan131riley commented on #33361
@pcanal Try doing just `voms-proxy-init` and see if that works--I've observed before that a lot of the AAA infrastructure doesn't insist on a CMS VO proxy.

If that doesn't work, you'll have to [register with the CMS VO](https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideLcgAccess#How_to_register_in_the_CMS_VO) and maybe ping Stefano to get it approved expeditiously.  You'll want to use your 'c

[2021-04-08 19:05] haozturk commented on #33361
These are ReReco requests with high priority. Let me add @wajidalikhan in the loop who is our contact from PdmV and he can tell how urgent these requests are. Wajid, in short several ReReco requests are having some issues due to a problem in the relevant cmssw version. Unless we find a quick hack (such as lazy download), looks like it's going to take some time until the fix takes place. The reques

[2021-04-08 19:07] pcanal commented on #33361
@dan131riley I am confused by voms-proxy .. using the same shell as a few minutes ago, I now get (both with and without the -voms)
[code]
:(

[2021-04-08 19:29] makortel commented on #33361
I'd also add a question on the impact to this requests if the currently failing jobs would be left as failed?

Have these input files been used in MiniAOD jobs before, or is this their first use?

[2021-04-08 20:24] cvuosalo commented on #33312
@smuzaffar These files are for the old DD. I will check into them when I have the chance.

[2021-04-08 23:58] #32746 closed

[2021-04-09 08:49] haozturk commented on #33361
@makortel since these are ReReco requests, we aim for 100% completion, i.e. all jobs should succeed. Anyhow @wajidalikhan has better knowledge on this, I leave this question to him.

I have another question to you. I am seeing a different issue with some other prod workflows and in short it looks like:
[code]
Do you think this is related to this issue, or should I open a new issue to discuss it in

[2021-04-09 08:51] #33369 closed

[2021-04-09 09:38] hahnjo commented on #31123
The fix is now merged upstream in LLVM and in ROOT `master` as well as in the branches for 6.24, 6.22, and 6.20.

@dan131riley does this also involve Cling or is this a separate issue?

[2021-04-09 11:56] hatakeyamak commented on #27767
https://github.com/hatakeyamak/cmssw/pull/new/HFSignalAsymmetryInPF
is the branch for including HFSignalAsymmetry In PF.
@abdoulline Does this look right? I wonder if HCAL can help testing this in some collision data from Run 2. I will also ping JME.

[2021-04-09 12:08] abdoulline commented on #27767
@hatakeyamak
I take the liberty to include Alexander @toropin as HCAL expert in noise flagging domain.

[2021-04-09 12:17] hatakeyamak commented on #27767
Thank you. @abdoulline by the way my note says:
[code]
https://docs.google.com/document/d/1tBa5q399MkSnY99cL3vILkQLj4d1h4wAgjyzfP-JSR0/edit?usp=sharing
Is this still a plan?

[2021-04-09 12:45] agrohsje commented on #25090
Hi @SiewYan . I think in a first step we should just change all possible relval workflows to concurrent. I would assume that this covers already 80% of the above list. In a second step, we can then work on fixing the others which certainly is more work. We can also further discuss in a coordination chat.
@makortel @srimanob  Would that be ok for you?

[2021-04-09 12:46] dan131riley commented on #31123
@hahnjo The aarch64 IBs are still running slow, but it looks like the CMSSW_11_3 2021-04-07-2300 slc7_aarch64_gcc9 IB has finished, and I don't see any Cling-related crashes.  There are lots of onnxruntime crashes, those are unrelated to Cling and ROOT, and there's a separate issue for that at #32899.

The Cling crashes were common enough that one IB is enough to convince that the problems have al

[2021-04-09 12:57] #33356 closed

[2021-04-09 12:59] jfernan2 commented on #33356
+1

[2021-04-09 12:59] cmsbuild commented on #33356
This issue is fully signed and ready to be closed.

[2021-04-09 13:02] makortel commented on #33361
The problematic branch appears to be `recoPFCandidates_particleFlow__RECO` (although there has been some difference between different reproduction attempts), so my feeling is that the problem could be related. Let's stay in this issue for now.

[2021-04-09 13:54] makortel commented on #25090
@agrohsje

Do you mean changing `Pythia8HadronizerFilter` modules to `Pythia8ConcurrentHadronizerFilter`? Or also using the `ExternalGeneratorFilter`?

What about the `Pythia8GeneratorFilter`? Should we craft `ConcurrentGeneratorFilter` template for those that use only Pythia8 (i.e no Photos or EvtGen etc)?

[2021-04-09 14:52] abdoulline commented on #27767
@hatakeyamak  Thank you for the reminder, Kenichi!

Yes, we'd need to add two lines
     import RecoLocalCalo.HcalRecAlgos.RemoveAddSevLevel as HcalRemoveAddSevLevel
     HcalRemoveAddSevLevel.RemoveFlag(process.hcalRecAlgos,"HBHENegativeNoise")
to Run3 RECO customization right after this one:
https://cmssdt.cern.ch/lxr/source/Configuration/DataProcessing/python/RecoTLR.py#0094
Any of us can do it

[2021-04-09 15:08] hatakeyamak commented on #27767
I can try. Do we need it here too:
https://cmssdt.cern.ch/lxr/source/Configuration/DataProcessing/python/RecoTLR.py#0099
I wonder if there is a more efficient way to do it for both at once.

I see. I will think about it.

[2021-04-09 20:39] gartung commented on #33297
I think I might know what is causing the time difference.
Could this call to rdtsc
https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/src/tbb/scheduler_common.h#L188
be interfering with this call to rdtsc
https://github.com/igprof/igprof/blob/03d16c15bd970256affcfde9e510a8404856b233/src/macros.h#L70
The assembly instruction rdtsc loads the current value of the proce

[2021-04-09 20:49] gartung commented on #33297
rdtsc is used by TBB in prolonged_pause_impl which calls machine_time_stamp which calls rdtsc.
https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/src/tbb/scheduler_common.h#L197
and in prolonged_pause
https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/src/tbb/scheduler_common.h#L224

[2021-04-09 20:54] gartung commented on #33297
Definition os machine_time_stamp here
https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/src/tbb/scheduler_common.h#L188

[2021-04-09 21:01] gartung commented on #33297
In igprof the ticks are returned by the add function which is used to add the time in various memory allocation calls
https://github.com/igprof/igprof/blob/03d16c15bd970256affcfde9e510a8404856b233/src/profile-calls.cc#L58

[2021-04-09 22:04] gartung commented on #33297
I think changing the rdtsc calls to libc's clock calls could avoid the problem
https://www.gnu.org/software/libc/manual/html_node/CPU-Time.html

[2021-04-09 22:42] gartung commented on #33297
I tried this patch with igprof and generated the text output
https://gartung.web.cern.ch/gartung/igprof.cmsRun.24441.1618006530.571135.txt
The main function still only shows 60% cumulative. Looking down the file to “Call tree profile (cumulative)” I see
[code]
and lower down at [20] I see the __start_context  where the “missing” cumulative total from spontaneous goes and the main::lambda  eventual

[2021-04-09 22:48] gartung commented on #33297
A similar breakdown of cumulative percentages can be seen in this text output
https://cmssdt.cern.ch/SDT/jenkins-artifacts/igprof/CMSSW_11_3_X_2021-04-09-1100/slc7_amd64_gcc900/profiling/23434.21/RES_CPU_step3.txt

The difference seems to be that igprof-analyze or igprof-navigator to not show spontaneous as  a valid base node.

[2021-04-10 01:24] #31745 closed

[2021-04-10 01:30] gartung commented on #33297
The function tbb::internal::co_local_wait_for_all is not run from main and needs to be added to main to get the total.

[2021-04-10 04:54] abdoulline commented on #27767
I don't think HCAL customization (formal, as no real effect is brought
in) is explicitly needed for For Run3 "trackingOnly"...
Slava and Joosep will correct us eventually, if needed.

Salavat

On Fri, 9 Apr 2021, Kenichi Hatakeyama wrote:

[2021-04-10 05:07] hatakeyamak commented on #27767
That makes sense. Will try to work on this this weekend.

[2021-04-10 05:23] cmsbuild commented on #33358
The cleanup has started for cc8_aarch64_gcc9

[2021-04-10 05:23] cmsbuild commented on #33358
The cleanup has started for slc7_aarch64_gcc9

[2021-04-10 05:23] cmsbuild commented on #33358
The cleanup has started for cc8_amd64_gcc9

[2021-04-10 05:23] cmsbuild commented on #33358
The cleanup has started for cc8_ppc64le_gcc9

[2021-04-10 05:23] cmsbuild commented on #33358
The cleanup has started for slc7_amd64_gcc900

[2021-04-10 05:23] cmsbuild commented on #33358
The cleanup has started for slc7_ppc64le_gcc9

[2021-04-10 05:23] #33358 closed

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-cc8_aarch64_gcc9/1647

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-cc8_ppc64le_gcc9/1649

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-cc8_amd64_gcc9/1648

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-slc7_aarch64_gcc9/1650

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-slc7_ppc64le_gcc9/1652

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-slc7_amd64_gcc900/1651

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-cc8_amd64_gcc9/1653

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-cc8_ppc64le_gcc9/1654

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-slc7_aarch64_gcc9/1655

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-slc7_ppc64le_gcc9/1657

[2021-04-10 05:23] cmsbuild commented on #33358
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4-slc7_amd64_gcc900/1656

[2021-04-10 18:06] gartung commented on #33297
Searching co_local_wait_for_all in the cmssw repo shows 4 issues where co_local_wait_for_all appears 2 or third from the bottom of stack traces. It appears after __start_context which is why it is not linked to main,
https://github.com/cms-sw/cmssw/search?q=co_local_wait_for_all&type=issues

[2021-04-10 19:13] toropin commented on #27767
I checked modifications in code to prepare PFlow objects from HF RecHits, namely,
~RecoParticleFlow/PFClusterProducer/interface/PFRecHitQTests.h and
~RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitHF_cfi.py and
these modifications look fine to me.

Alexander

[2021-04-10 19:50] dan131riley commented on #32899
I have a theory about the onnxruntime crashes, which I'm going to throw out here for comments while I try to reproduce the problem (as the first step to implementing a fix).  Many of the crashes and assertion failures point back to [IExecutionFrame::ReleaseMLValueImpl](https://github.com/cms-externals/onnxruntime/blob/89a104708d109afc7f41661be33062605b7776a3/onnxruntime/core/framework/execution_fr

[2021-04-11 11:11] srimanob commented on #32756
Do I understand that this issue can be close now, right? Thanks @jpata @slava77

[2021-04-11 11:11] sbein opened #33395 "FastSim track momentum resolution of high-pT muons"
Charged gen particles with pT>1150 GeV have a suddenly poor track pT resolution in FastSim. This was identified in muons with W' MC events and confirmed with a muon gun (attached slides). This was originally discussed in the simulation meeting
https://indico.cern.ch/event/1007716/contributions/4231234/attachments/2189371/3700030/FastSimBugsFeb2021b.pdf

The problem began with the jump from CMSSW_9

[2021-04-11 11:12] cmsbuild commented on #33395
A new Issue was created by  @sbein Sam Bein.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-11 11:29] srimanob commented on #31687
Hi
@rovere @felicepantaleo @cseez
Should this ticket be moved forward? Could it be a target during 12_0 pre-release?

[2021-04-11 11:40] srimanob commented on #30742
@skinnari @tomalin @aehart @davidlange6
Can this ticket be closed? I understand that currently the tables are currently disabled by default. Or you would like to keep this open together with https://github.com/cms-sw/cmssw/issues/30744

[2021-04-11 11:45] srimanob commented on #32475
@SohamBhattacharya @cms-sw/xpog-l2

Do you have DQM to monitor endcap electron?
Is everything OK from your side, and this ticket can be closed? Or we should keep it open for some reasons?

Thanks.

[2021-04-11 11:47] srimanob commented on #32050
Hi @adas1994
It has been a while since the last update on the issue, could you please update if the issue is handled somehow? Thanks.

[2021-04-11 11:50] srimanob commented on #27095
Hi @bsunanda @rovere
Could you please comment about the next cleanup plan? Thanks.

[2021-04-11 11:53] srimanob commented on #24452
Hi @fabiocos
Would you mind summarising what still need to follow up with this ticket? Thanks very much.

[2021-04-11 13:12] slava77 opened #33396 "stuck track G4 exception in EEiEnvScr"
I'm getting an exception in 11_3_0_pre5 with the following message

[code]

I'm not sure how to point to a specific event quickly, I run (on AMD) wf 11640 in 16 threads for 100K events and the crash appears after 80K events processed.
If it's an actual overlap, I guess there is a way to figure out the issue from the volume names and the state vector details in the error message.

[2021-04-11 13:12] cmsbuild commented on #33396
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-11 13:13] slava77 commented on #33396
assign geometry,simulation

[2021-04-11 13:13] cmsbuild commented on #33396
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@makortel,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-11 15:19] fabiocos commented on #24452
@srimanob this issue is always in my inbox since 2018, I need to review with calm what possibly still applies as there were so many updates over time.

[2021-04-11 16:53] tomalin commented on #30742
@srimanob Yes, it can be closed. The tables are indeed disabled by default.

[2021-04-11 20:12] civanch commented on #33396
@slava77 , thanks for the report. It is really difficult rare geometry problem. It may be not only overlap but also difficult geometry shape.

[2021-04-11 21:21] makortel commented on #33395
Assign fastsim

[2021-04-11 21:21] cmsbuild commented on #33395
New categories assigned: fastsim

@mdhildreth,@sbein,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-12 08:08] srimanob commented on #30742
+Upgrade

[2021-04-12 08:09] srimanob commented on #30744
+Upgrade

[2021-04-12 08:57] haozturk commented on #33361
Hello folks,
I've spotted another (3rd so far) `Fatal Root Error` in production workflows, which might be related to this issue. In short, it looks like:
[code]
Full log: https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC3_r-0-Run2018D_SingleMuon_UL2018_MiniAODv2_210322_155126_7373/8028/DataProcessing/a4373fe4-3c27-4cb6-8bfe-3f719ef12e7d-0-3-logArchive/

If this is not related, pl

[2021-04-12 09:43] perrotta opened #33406 "Do we still need to support the muon reco duplicate mitigation in PhysicsTools/PatUtils?"
While [reviewing](https://github.com/cms-sw/cmssw/pull/33307#pullrequestreview-626854855) PR #33307 it was evident that we keep spending time and effort in maintaining some code which is quite likely not needed any more in CMSSW:
- PhysicsTools/PatUtils/python/tools/muonRecoMitigation.py assumes the existence of a `PFCandPtrProjector` plugin, which is not found anywhere in CMSSW, not even in 9_1_X

[2021-04-12 09:44] cmsbuild commented on #33406
A new Issue was created by  @perrotta .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-12 09:45] perrotta commented on #33406
assign xpog, reconstruction

[2021-04-12 09:45] cmsbuild commented on #33406
New categories assigned: reconstruction,xpog

@slava77,@fgolf,@mariadalfonso,@perrotta,@jpata,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-12 10:26] adas1994 commented on #32050
I had an exam from the grad school, so did not spend time on this problem.
I am starting to work on it from today.

On Sun, Apr 11, 2021 at 7:48 AM Phat Srimanobhas ***@***.***>
wrote:

--
Sincerely,

Abhishek Das.

[2021-04-12 15:16] SohamBhattacharya commented on #32475
Hi @srimanob ,
Following the comment [1] with @hatakeyamak, some cleanup of the `FromMultiCl` collections can be done in RECO -- the photon collection can be cleaned now, but the electron collection requires a few checks that we're looking into.
However, as far as MINIAOD is concerned, we came to the conclusion that it's okay for now to have separate collections for barrel and endcap, for the ease

[2021-04-12 15:29] makortel commented on #18174
Can this issue be closed?

[2021-04-12 16:26] ianna commented on #33396
This `312.5813231326204` makes me believe that the PR https://github.com/cms-sw/cmssw/pull/33390 submitted by @bsunanda will cure the problem. It addresses the area marked in blue with current `Z = 312.5` changing it to `Z = 312.6`:
https://user-images.githubusercontent.com/1390682/113713457-a8e31c00-96e7-11eb-8936-cad7a9da0927.png

[2021-04-12 16:37] gartung commented on #33297
Besides `__start_context` there is a second glibc function that connects to `co_local_wait_for_all`
` __correctly_grouped_prefixwc`

[2021-04-12 16:38] gartung commented on #33297
For instance https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_11_3_X_2021-04-11-2300/slc7_amd64_gcc900/profiling/23434.21/igprofCPU_step3/21

[2021-04-12 17:15] makortel commented on #31061
Starting from CMSSW_11_3_X_2021-04-10-1100 EDLoopers can declare Event and EventSetup data products they consume. Therefore the code using EDLooper and helper code being used by EDLooper and e.g. EDProducer <(e.g. alignment) can now be migrated. FYI @cms-sw/alca-l2

[2021-04-12 19:17] gartung commented on #33297
I found a second instance of local_wait_for_all in the text report as indicated by '2 added to the end
[code]
which does not appear in the sql3 database used by igprof0-navigator.

[2021-04-13 10:47] dpiparo opened #33419 "Vector passed by value"
Here we pass a std::vector by value when the const reference would be the best way to go: https://github.com/cms-sw/cmssw/blob/master/CalibCalorimetry/HcalAlgos/interface/HcalPulseShapes.h#L72

[2021-04-13 10:47] cmsbuild commented on #33419
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-13 12:22] dan131riley commented on #33419
Looks ok to me.  It gets used here: https://github.com/cms-sw/cmssw/blob/02d443bd49e0f29381709421b4a812496f9b8d1a/CalibCalorimetry/HcalAlgos/src/HcalPulseShapes.cc#L485-L490

`convolve()` creates a local `vector<double>` and returns it:

https://github.com/cms-sw/cmssw/blob/02d443bd49e0f29381709421b4a812496f9b8d1a/CalibCalorimetry/HcalAlgos/interface/HcalPulseShapes.h#L60-L71

Return value optimiz

[2021-04-13 15:34] jpata commented on #32756
The memory was reduced in cms-data/RecoHGCal-TICL#3, but perhaps we need a confirmation from @chayanit if it's solved for PPD production (once the release is available).

[2021-04-13 19:12] agrohsje commented on #25090
Hi @makortel, @SiewYan . My proposal was indeed to update first all relval workflows that follow one of the cases (1) - (4) with the suggested code lines: https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookGenMultithread#Case_study
from @colizz. case (3) also includes MG5 LO/NLO, Powheg as suggested above. (5) with internal multithreading should not be applied for MC@NLO by (3).
So different f

[2021-04-13 19:23] silviodonato opened #33425 "Follow up on ECAL Emulator Update (PR #33349)"
@atishelmanch  @thomreis
I have two comments about #33349

1) I see there are many `std::cout`. `cout` is not thread-safe, so it needs to be replaced with LogVerbatim or LogInfo or something similar (see https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideMessageLogger )

2) There are a strong usage of `catch ( ... )`.  You should not catch the exception https://cms-sw.github.io/cms_coding_rules

[2021-04-13 19:23] silviodonato commented on #33425
assign l1,db

[2021-04-13 19:24] cmsbuild commented on #33425
New categories assigned: db,l1

@ggovi,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-13 19:24] cmsbuild commented on #33425
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-13 19:28] silviodonato opened #33426 "Build CMSSW_11_3_0_pre6"

[2021-04-13 19:31] cmsbuild commented on #33426
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-04-13 19:32] silviodonato commented on #33426
+1

[2021-04-13 19:32] cmsbuild commented on #33426
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-04-13 19:32] cmsbuild commented on #33426
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2021-04-13 19:34] cmsbuild commented on #33426
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2988/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-13 19:35] cmsbuild commented on #33426
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2987/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-13 19:35] cmsbuild commented on #33426
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2989/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-13 19:37] cmsbuild commented on #33426
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2990/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-13 20:26] cmsbuild commented on #33426
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2991/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-14 01:04] cmsbuild commented on #33426
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-slc7_aarch64_gcc9/2991
Some tes

[2021-04-14 01:24] cmsbuild commented on #33426
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-slc7_ppc64le_gcc9/2990
Some tes

[2021-04-14 01:28] cmsbuild commented on #33426
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-cc8_ppc64le_gcc9/2987
Some tests

[2021-04-14 01:57] cmsbuild commented on #33426
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-cc8_amd64_gcc9/2988
Some tests ( r

[2021-04-14 02:02] cmsbuild commented on #33426
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-slc7_aarch64_gcc9/2991

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-14 02:23] cmsbuild commented on #33426
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-cc8_ppc64le_gcc9/2987

Tests results:
35 32 14 4 3 0 0 0 0 tests passed, 3 2 18 2 0 0 0 0 0 failed

[2021-04-14 02:27] cmsbuild commented on #33426
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-slc7_ppc64le_gcc9/2990

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-04-14 02:41] cmsbuild commented on #33426
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-cc8_amd64_gcc9/2988

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-14 02:43] cmsbuild commented on #33426
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-slc7_amd64_gcc900/2989
Some tes

[2021-04-14 03:28] cmsbuild commented on #33426
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6-slc7_amd64_gcc900/2989

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-14 07:40] thomreis commented on #33425
As far as I can see all the unprotected `cout` and `catch` are in the `CondTools/Ecal` and the `OnlineDB` packages. I believe that the code in there handles writing conditions to the Online DB and does only run single threaded.
One can find `cout` statements in many other files in that package as well.

Also the `catch` statements are seen at many places in OnlineDB, dating back to at least CMSSW_

[2021-04-14 13:33] mmusich commented on #32953
This is tackled at  #33430.
Experts can please have a look.

[2021-04-14 16:05] makortel commented on #32953
Thanks!

[2021-04-14 16:31] silviodonato commented on #33426
upload all

[2021-04-14 16:31] cmsbuild commented on #33426
Queing Jenkins upload for cc8_amd64_gcc9

[2021-04-14 16:31] cmsbuild commented on #33426
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-04-14 16:31] cmsbuild commented on #33426
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-04-14 16:31] cmsbuild commented on #33426
Queing Jenkins upload for slc7_amd64_gcc900

[2021-04-14 16:31] cmsbuild commented on #33426
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-04-14 16:33] cmsbuild commented on #33426
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1901/console

[2021-04-14 16:34] cmsbuild commented on #33426
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1902/console

[2021-04-14 16:34] cmsbuild commented on #33426
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1903/console

[2021-04-14 16:34] cmsbuild commented on #33426
The upload has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1904/console

[2021-04-14 16:35] cmsbuild commented on #33426
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre6-cc8_amd64_gcc9/1901

[2021-04-14 16:35] cmsbuild commented on #33426
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre6-cc8_ppc64le_gcc9/1902

[2021-04-14 16:36] cmsbuild commented on #33426
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1905/console

[2021-04-14 16:36] cmsbuild commented on #33426
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre6-slc7_aarch64_gcc9/1903

[2021-04-14 16:37] cmsbuild commented on #33426
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre6-slc7_ppc64le_gcc9/1905

[2021-04-14 16:37] cmsbuild commented on #33426
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre6-slc7_amd64_gcc900/1904

[2021-04-14 16:42] silviodonato commented on #33426
release notes

[2021-04-14 21:03] dan131riley commented on #32899
It looks like I was correct that the problem is at least partially simultaneous access to the `OrtValue` from different threads, which means simultaneous access to the same shared pointer from different threads.  I've opened https://github.com/cms-externals/onnxruntime/pull/5 to address the issue.

[2021-04-14 21:21] makortel commented on #25090
Hi @agrohsje. about the "Use ExternalGeneratorFilter with pure Pythia8", would a `ConcurrentGeneratorFilter` be useful (similar to `ConcurrentHadronizerFilter` but for Generator)? I'm just thinking that while the `ExternalGeneratorFilter` scales well, it adds overhead that for pure Pythia8 could be avoided.

[2021-04-14 21:25] silviodonato commented on #33426
@cmsbuild  release notes

[2021-04-14 21:25] silviodonato commented on #33426
@cmsbuild release-notes

[2021-04-14 21:39] silviodonato commented on #33426
release-notes

[2021-04-14 21:39] cmsbuild commented on #33426
Generating release notes since CMSSW_11_3_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-04-14 21:39] cmsbuild commented on #33426
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre6 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre

[2021-04-14 21:42] cmsbuild commented on #33426
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre6

[2021-04-14 23:24] makortel commented on #25090
In general my plan forward is
1. change the relevant GEN and ALCA steps to explicitly use 1 concurrent lumi (until the corresponding modules have been addressed)
2. change the current LogSystem message to an exception with explanation of how to work around it (to prevent accidental addition of incompatible modules in production)
3. change cmsRun default to 2 concurrent lumis with >= 2 streams (sam

[2021-04-15 01:29] chayanit commented on #32756
As far as I concerned, the memory doesn't increase or reduce in the latest release pre5.

[2021-04-15 01:43] makortel opened #33436 "EventSetup Records with large payloads"
Enabling concurrent IOVs has a risk to increase memory usage, because the payloads for all active IOVs need to be kept in memory as long as events from those IOVs are being processed. One way to limit this memory increase is to disable concurrency for EventSetup Records that have large payloads (and hopefully have long IOVs). The purpose of this issue is to identify such Records.

[2021-04-15 01:43] cmsbuild commented on #33436
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-15 01:44] makortel commented on #33436
assign core, alca

[2021-04-15 01:44] cmsbuild commented on #33436
New categories assigned: core,alca

@Dr15Jones,@smuzaffar,@christopheralanwest,@tlampen,@pohsun,@yuanchao,@makortel,@francescobrivio,@malbouis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-15 01:48] makortel commented on #33436
@cms-sw/alca-l2 I can quickly think of
* `IdealGeometryRecord`
* `SiPixelTemplateDBObjectRcd`

as Records that can have large payloads, could you comment if this is correct and what other such Records we have? (let's say "large" is more than 10 MB)

[2021-04-15 03:08] christopheralanwest commented on #33436
assign db

I think that @ggovi is probably the best person to answer this question.

[2021-04-15 03:08] cmsbuild commented on #33436
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-15 08:44] mmusich commented on #33436
@makortel

these are not even close to the absolute largest which is the per-pixel Gain Calibration used for offline reconstruction.
Here is a list of the worst offenders (5MB and above) extracted from the last open IOV of all tags in Prompt Reco:

[code]

you can find the complete list here:
https://gist.github.com/mmusich/be5cfc4208f7146a333830f11d0a423e

[2021-04-15 08:59] ggovi commented on #33436
Thanks Marco for this prompt answer.  We need then to identify the threshold. How will the exclusion list be implemented? Hard-coded or configurable?

[2021-04-15 09:03] ggovi commented on #33436
An other possibility is to avoid at all to keep the payloads in memory, given that they are all cached permanently in frontier...

[2021-04-15 13:00] gartung commented on #33297
Perf report also shows less than 100%

![image](https://user-images.githubusercontent.com/4292184/114873031-82e10a00-9dc0-11eb-82b5-e42f52495569.png)

[2021-04-15 13:16] dan131riley commented on #32899
It looks like https://github.com/cms-externals/onnxruntime/pull/6 helps, but I'm still seeing assertion failures, stack trace below.  This stack trace should be impossible.  There are three threads in `BFCArena::Free()` according to the stack trace; the assertion failure is in `BFCArena::RemoveFreeChunkFromBin()`, so either functions have been inlined or the compiler has done tail-call optimizatio

[2021-04-15 15:47] slava77 opened #33442 "significant slow-down of tensorflow on AMD (pre-SSE4.1)"
Originally from https://mattermost.web.cern.ch/cms-o-and-c/pl/zrtbufg8zbb9jgspeuxef183rc

I learned that TF inference is much slower on an older AMD compared to Intel.

Intel Broadwell: https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_11_2_0_pre7-orig-gcc820.TTbar_14UP21+DIGIPRMX.AVE_50_BX_25ns.1000.pp.int34/133

AMD Opteron 6128 https://slava77sk.web.cern.ch/slava77sk/r

[2021-04-15 15:47] cmsbuild commented on #33442
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-15 15:48] makortel commented on #33442
assign core, reconstruction

[2021-04-15 15:49] cmsbuild commented on #33442
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-15 15:49] makortel commented on #33442
@smuzaffar @mrodozov can you comment?

[2021-04-15 15:51] makortel commented on #33442
FYI @riga @mialiu149

[2021-04-15 16:40] gartung commented on #33297
Same as above but as text.

[code]

[2021-04-15 16:42] gartung commented on #33297
The fun fact is that using the TBB test executable test_resumable_tasks.exe I get [similar Igprof data](https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprof.test_resumable_tasks.exe.14068.1618500634.783341/cumulative)

and the perf data seems to be missing 30%

[code]

[2021-04-15 16:44] gartung commented on #33297
The [k] in the perf output indicates a kernel call. As far as I know igprof does not show kernel calls.

[2021-04-15 17:16] dan131riley commented on #32899
New theory: onnxruntime uses the google nsync library for locks, not the C++ standard library implementations.  For arm64 they have an [assembler implementation of their synchronization primitives](https://github.com/google/nsync/blob/master/platform/arm/src/nsync_atm_arm.s).  The ARM [synchronization primitives](https://developer.arm.com/documentation/dht0008/a/arm-synchronization-primitives/excl

[2021-04-15 17:32] slava77 commented on #33442
in the head of 11_3_X we are using TF 2.4.1 and based on https://github.com/cms-externals/tensorflow/blob/cms/v2.4.1/tensorflow/workspace.bzl it has
- mkl_dnn mapping to https://github.com/oneapi-src/oneDNN/tree/v0.21.3
    - ... in my 11_2_0_pre7 test the TF version is still 2.1.0 and oneDNN is v0.21.2
    - this has a full implementation (the same in v0.21.2 and v0.21.3) https://github.com/oneap

[2021-04-15 18:21] mrodozov commented on #33442
right, so TF is not using oneDNN from direct deps since we don't have it anywhere else.

let me find the latest logs of TF to check it.

[2021-04-15 19:20] mrodozov commented on #33442
let the bot builds it and we can check what bazel is doing

[2021-04-15 19:50] makortel commented on #32141
Given the plans on Marconi 100 (ppc) and moving to DD4hep in production, we should try again to debug this crash.

[2021-04-15 20:43] slava77 commented on #33442
BTW, do we have a debug build for our externals and CMSSW?

[2021-04-15 20:51] mrodozov commented on #33442
we have 'a' debug build
`scram list DBG` -> CMSSW_11_3_DBG_X_2021-04-08-2300
I'm not sure what is in the DBG build but I'll assume only cmssw was build with debug flags
A debug build for all externals will require additional cmsdist branch with debug flags for all externals in every spec
From time to time we change the flags to debug for ROOT when there is something to be fixed

[2021-04-15 21:08] makortel commented on #33442
The DBG build is `-g -O0 -DEDM_ML_DEBUG` (mostly to help to ensure everything would build with those options).

[2021-04-16 01:51] makortel commented on #33436
Thanks @mmusich!

[2021-04-16 02:10] makortel commented on #33436
Simplest way is to disable the concurrent IOV support for the relevant Records in the C++ code along
https://github.com/cms-sw/cmssw/blob/53993f8545827f90d014dad42247563a2cde2b8d/FWCore/Framework/test/Dummy2Record.h#L13-L16

The level of concurrency can also be set in the configuration per Record (for those for which the concurrency is not disabled) along
[code]
I would believe the hardcoding to b

[2021-04-16 02:14] makortel commented on #33436
I probably misunderstood, but I believe asking the payloads from the Frontier on each event would (significantly) decrease the event processing throughput.

[2021-04-16 07:02] y19y19 commented on #33249
Hi @civanch  I haven't heard back for a while. The part that adds SimHits, I did a test that simulates the dark photons without SimHits part, and end up with not finding dark photon showers in the detector. I believe this part is necessary to customize the dark photon shower. Please correct me if you don't think it is the case. I am not an expert in Sim4Core, so I could misunderstand something. I

[2021-04-16 07:04] mmusich commented on #33436
correct

I am wondering if it would be possible to get the (non persisted) records data modifying [this](https://github.com/cms-sw/cmssw/blob/master/FWCore/Modules/src/PrintEventSetupContent.cc)?
Otherwise yes, I think it needs to be profiled.

[2021-04-16 09:03] silviodonato opened #33448 "Build CMSSW_11_3_0_pre6_PY3"
CMSSW_COMMIT:CMSSW_11_3_0_pre6

[2021-04-16 09:04] #33426 closed

[2021-04-16 09:04] cmsbuild commented on #33448
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-04-16 09:19] silviodonato commented on #33448
+1

[2021-04-16 09:20] cmsbuild commented on #33448
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre6_PY3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-04-16 09:20] cmsbuild commented on #33448
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to f

[2021-04-16 09:20] cmsbuild commented on #33448
The build has started for slc7_amd64_gcc900 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2992/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-16 09:22] cmsbuild commented on #33448
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2993/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-16 09:23] cmsbuild commented on #33448
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2994/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-16 12:08] cmsbuild commented on #33448
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6_PY3-slc7_aarch64_gcc9/2993
Some

[2021-04-16 12:34] cmsbuild commented on #33448
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6_PY3-slc7_ppc64le_gcc9/2994
Some

[2021-04-16 13:05] cmsbuild commented on #33448
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6_PY3-slc7_aarch64_gcc9/2993

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-16 13:31] cmsbuild commented on #33448
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6_PY3-slc7_ppc64le_gcc9/2994

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-04-16 13:45] cmsbuild commented on #33448
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6_PY3-slc7_amd64_gcc900/2992
Some

[2021-04-16 14:28] cmsbuild commented on #33448
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre6_PY3-slc7_amd64_gcc900/2992

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-16 14:54] Dr15Jones opened #33452 "Failure of step 1 in 280.0"
In the IB, workflow 280.0 step 2 is failing because the ROOT file generated by step 1 is missing TTrees. Looking at step 1 it appears to job just stopped. Why does runTheMatrix.py think that step 1 succeeded?

[2021-04-16 14:54] Dr15Jones commented on #33452
assign core

[2021-04-16 14:54] cmsbuild commented on #33452
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-16 14:54] cmsbuild commented on #33452
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-16 14:55] Dr15Jones commented on #33452
The log from step 1 shows
[code]

[2021-04-16 15:22] makortel commented on #33452
Which IB did this happen?

[2021-04-16 15:24] Dr15Jones commented on #33452
CMSSW_12_0 2021-04-16-1100

[2021-04-16 15:36] makortel commented on #33452
Ah, on ARM (slc7_aarch64_gcc9)

[2021-04-16 15:42] makortel commented on #33436
If I got it right (from condDbBrowser), the largest payload with non-Run IOV is `EcalPedestalsRcd` (with time IOV) with size of 2.3 MB. So the maximum possible memory increase is not necessarily that large in practice (currently framework synchronizes anyway at Run boundaries, and AFAIK we don't really have jobs processing multiple Runs).

Actually, how easy would it be to get a list of tags that

[2021-04-16 15:54] mmusich commented on #33436
straightforward.
These are the only tags in Prompt Reco with non-Run IOVs:
[code]
for the record one can get it with:
[code]

[2021-04-16 16:30] silviodonato commented on #33448
upload all

[2021-04-16 16:31] cmsbuild commented on #33448
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-04-16 16:31] cmsbuild commented on #33448
Queing Jenkins upload for slc7_amd64_gcc900

[2021-04-16 16:31] cmsbuild commented on #33448
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-04-16 16:32] cmsbuild commented on #33448
The upload has started for slc7_amd64_gcc900 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1907/console

[2021-04-16 16:32] cmsbuild commented on #33448
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1906/console

[2021-04-16 16:32] cmsbuild commented on #33448
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1908/console

[2021-04-16 16:33] cmsbuild commented on #33448
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre6_PY3-slc7_aarch64_gcc9/1906

[2021-04-16 16:33] cmsbuild commented on #33448
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre6_PY3-slc7_ppc64le_gcc9/1908

[2021-04-16 16:34] cmsbuild commented on #33448
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre6_PY3-slc7_amd64_gcc900/1907

[2021-04-16 16:36] silviodonato commented on #33448
release-notes

[2021-04-16 16:36] cmsbuild commented on #33448
Previous release "" does not appear to be a valid release name

[2021-04-16 16:37] silviodonato commented on #33448
release-notes since CMSSW_11_3_0_pre6

[2021-04-16 16:37] cmsbuild commented on #33448
Generating release notes since CMSSW_11_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-04-16 16:37] cmsbuild commented on #33448
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre6_PY3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre6_PY3

Cheers,
cms-bot

You

[2021-04-16 16:37] cmsbuild commented on #33448
Generating release notes since CMSSW_11_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-04-16 16:37] cmsbuild commented on #33448
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre6_PY3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre6_PY3

Cheers,
cms-bot

You

[2021-04-16 16:38] silviodonato commented on #33448
cc @srimanob

[2021-04-16 16:43] cmsbuild commented on #33448
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre6_PY3

[2021-04-16 16:43] cmsbuild commented on #33448
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre6_PY3

[2021-04-16 18:03] makortel commented on #33436
Thanks @mmusich! Correlating those to  your earlier list gives

* BeamSpotObjectsRcd 64 kB
* DTHVStatusRcd 176 kB
* DTKeyedConfigContainerRcd 64 kB
* EcalLaserAPDPNRatiosRcd 1.2 MB
* LHCInfoRcd 100 kB
* LumiCorrectionsRcd: 64 kB
* SiPixelQualityFromDbRcd: 64 kB
* SiStripDetVOffRcd: 136 kB

so ~1.9 MB in total. That alone sounds something I'd expect us to live with (i.e. at most 2 MB memory increas

[2021-04-17 04:18] hatakeyamak commented on #27767
I am sorry that I couldn't respond sooner, but thank you @toropin  for checking.
I also made suggested changes by @abdoulline . I am running some local test for sanity check.
Then the next step will be to ask POGs to check this change.

[2021-04-17 08:01] fwyzard opened #33456 "feature request: add methods for adding elements to a task in conjunction with a process modifier"
Add a way to simplify a common idiom in the offline reconstruction configuration:
[code]

A simple approach could to extend the Task interface with a new `copyAndAdd(self, *items)` method.
This is similar to the existing `copyAndExclude()` method, and it would allow the simpler syntax:
[code]

An other idea could be to add a `toAddTo(self, task, *items)` method to the Modifier object, supporting a

[2021-04-17 08:01] fwyzard commented on #33456
assign core

[2021-04-17 08:02] cmsbuild commented on #33456
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-17 08:02] cmsbuild commented on #33456
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-17 16:52] hatakeyamak commented on #32475
@SohamBhattacharya @srimanob
Perhaps I can make a few suggestions.

For the main topic of electron RECO vs MINIAOD slimmed set validation, you probably want to make two separate sets of comparisons

[A] (standard set for barrel that goes through PFEGamma path)
[code]

[B] (the set used for hgcal, though the RECO one may contain electrons in barrel as well, but not the same from PFEGamma path)
[cod

[2021-04-18 13:00] dan131riley commented on #32899
https://github.com/cms-externals/onnxruntime/pull/7 should fix the underlying problem that the google nsync library is not reliable on the Cavium ThunderX techlab systems.  https://github.com/cms-externals/onnxruntime/pull/6 only addressed the symptoms, which fortunately narrowed the problem enough to make it obvious that it was the underlying synchronization library that was broken.

[2021-04-18 14:38] cmsbuild commented on #33448
The cleanup has started for slc7_aarch64_gcc9

[2021-04-18 14:38] cmsbuild commented on #33448
The cleanup has started for slc7_amd64_gcc900

[2021-04-18 14:38] cmsbuild commented on #33448
The cleanup has started for slc7_ppc64le_gcc9

[2021-04-18 14:38] #33448 closed

[2021-04-18 14:38] cmsbuild commented on #33448
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre6_PY3-slc7_ppc64le_gcc9/1660

[2021-04-18 14:38] cmsbuild commented on #33448
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre6_PY3-slc7_aarch64_gcc9/1658

[2021-04-18 14:38] cmsbuild commented on #33448
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre6_PY3-slc7_amd64_gcc900/1659

[2021-04-18 17:49] VinInn opened #33459 "RefToBaseVector does not implement reserve"
it also implement a ```vectorHolder()``` method of dubious semantics.

 trackRefs.vectorHolder()->reserve(mysize); //  NOT a good idea

[2021-04-18 17:49] cmsbuild commented on #33459
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-18 17:50] VinInn opened #33460 "EncodedEventId::operator()() is NOT const"
[code]

one is forced to use ```rawId```.

[2021-04-18 17:50] cmsbuild commented on #33460
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-19 12:56] makortel commented on #33459
assign core

[2021-04-19 12:57] cmsbuild commented on #33459
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-19 13:18] makortel commented on #33460
assign simulation

[2021-04-19 13:18] cmsbuild commented on #33460
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-19 13:19] srimanob opened #33466 "Crash on multicore jobs when running on condor with CMSSW_11_3_0_pre6"
Here is the report from https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3920.html

With the following cmsDrivers (*), I found the issue when trying to run on the condor. Note that, everything runs fine on lxplus.

1. If I run ZEE, I got (**). Issue also happens when I register with nTherads=8.
2. If I run ZEE locally, then read the root file from the SIM step. SIM and DIGI steps run fine.

[2021-04-19 13:19] cmsbuild commented on #33466
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-19 13:21] makortel commented on #33466
assign core

[2021-04-19 13:21] cmsbuild commented on #33466
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-19 13:27] makortel commented on #33466
@srimanob Do I understand correctly that  yout get the stack trace (**) with a single-thread run? Does the job have any relevant printouts before the crash?

On (***) I have no idea. The message comes from ROOT (that we convert to an exception by default). @pcanal, do you have idea on that? @srimanob Do you have `HOME/.root.mimes` file?

[2021-04-19 13:30] makortel commented on #33466
On (***) it might be interesting to see the stack trace of the exception. You can obtain with with
[code]

[2021-04-19 13:53] srimanob commented on #33466
Hi @makortel

No, I don't have it. This is the error I got back from condor. I can try run again with printout. The issue I face comes from both ntherads = 1 or 8. The strange is that I can't reproduce it when I try to run on lxplus using the same script.

I don't have `HOME/.root.mimes` file. Again, everything works on lxplus.

Regarding `gdb`, does it possible to put in shell script if I would l

[2021-04-19 14:20] adas1994 commented on #32050
@kpedro88 I have reviewed my code for this PR purpose and found no algorithmic glitch thus far, but the results keep being somewhat discrepant for StdMix and PreMix. I was wondering if it is possible to order a slew of tests with various samples here on github to run on a commit I had made. I am hoping that it will help me pinpoint any lurking bug.

[2021-04-19 15:00] makortel opened #33468 ""value of fObjlen is incorrect" error in MWGR3"
One of the I/O errors reported in MWGR3 Tier0 processing jobs in https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2208.html and https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1710.html is
[code]
right at the job start. I'm able to reproduce it with
[code]

If I copy the file locally, the configuration works.

[2021-04-19 15:00] cmsbuild commented on #33468
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-19 15:00] cmsbuild commented on #33468
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-19 15:01] makortel commented on #33468
@pcanal Could you take a look? (I can provide a simpler recipe for the reproducer too)

[2021-04-19 15:07] kpedro88 commented on #32050
@adas1994 you can test additional workflows in a PR, but this currently does not generate comparisons to the baseline, because the additional workflows were not tested in the IB. It's probably better to continue testing privately.

[2021-04-19 15:09] makortel commented on #33361
For future reference about https://github.com/cms-sw/cmssw/issues/33361#issuecomment-816528882, here is the relevant pieces of the log
[code]

[2021-04-19 15:11] makortel commented on #33361
Similar error was observed in MWGR3 processing in Tier0 (CMSSW_11_2_4, ROOT 6.22/06) https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2208/2.html .

[2021-04-19 15:39] dan131riley commented on #33466
wrt (***) see https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCrabFaq#Exit_code_6_with_Fatal_Root_Erro

Apparently condor doesn't set the `HOME` environment variable.  You could either follow the advice on the wiki, or do something like `export HOME=/tmp` in your script.

[2021-04-19 16:37] dan131riley commented on #33466
also wrt (**) there should have been some kind of error message just before the stack trace.  You'll probably find it is something similar, as from the stack trace it looks to be in the initialization of libgui.  In general, you shouldn't be linking to libgui in a batch job.

[2021-04-19 16:41] makortel opened #33470 "Random read errors in MWGR3"
The other I/O errors (compared to #33468) reported in MWGR3 Tier0 processing jobs https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2208.html and https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1710.html
are more random in nature. Below are the logs from the Tier0

job_64332
[code]

job_64336
[code]

Recipes to reproduce
[code]

[2021-04-19 16:42] makortel commented on #33470
assign core

[2021-04-19 16:42] cmsbuild commented on #33470
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-19 16:42] cmsbuild commented on #33470
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-19 16:44] makortel commented on #33470
FYI @pcanal

[2021-04-19 17:10] srimanob commented on #33466
Thanks very much, @dan131riley

I am trying to solve ROOT, will let you know. I still have no idea on libgui as I don't call it (at least from myself). the script is basically run cmsDriver config.

I used the same submission script with 11_2 and everything work out-of-box, any idea what actually changes in 11_3 which may cause this?

[2021-04-19 17:18] srimanob commented on #33466
By the way for the ROOT issue, does it mean RecoTauCleaner/pfTausProducerSansRefs module tries to use ROOT which makes reference to $HOME somehow? If that is the case, it should be fixed I think.

[2021-04-19 17:24] srimanob commented on #32050
@adas1994 What kind of private samples you would like to try?

[2021-04-19 17:45] srimanob commented on #33466
Confirm that with setting $HOME to the job, the RECO step works well.

[2021-04-19 18:08] makortel commented on #31123
+1

The TCling issue seems to be resolved with the last fix, so let's close this issue (and open new ones for possible other crashes).

[2021-04-19 18:33] adas1994 commented on #32050
@srimanob I was hoping to get my commit tested through the regular test suite one gets after a PR submission. As Kevin says, if that is not possible, privately on my computing node, I would reuse Single Photon, Single K0_L and ttbar samples.

[2021-04-19 18:51] makortel commented on #33470
Logs from local reproduction attempts

job_64332
[code]

job_64332
[code]

job_64336
[code]

[2021-04-19 19:04] pcanal commented on #33466
libgui is being loaded via the plugin mechanism:

[code]

so some CMSSW module is needing it. (or so it seems).

[2021-04-19 19:44] makortel commented on #33470
job_64332
[code]

[2021-04-19 19:58] makortel commented on #33466
How could we figure out which plugin would be pulling in the dependence on `libGui`? (I did not spot anything suspicious in BuildFiles with `git grep rootgui` etc)

[2021-04-19 20:18] pcanal commented on #33466
From the stack trace, I would say that examine the function parameter in those frames:
[code]
should give the answer.

[2021-04-19 20:26] Dr15Jones commented on #33466
If you add
[code]
it will print each time a plugin is loaded and will say what was requested.

[2021-04-19 21:29] makortel commented on #33466
@srimanob Could you repeat (**) with the `PrintLoadingPlugins` Service and post (a link to the) the full log of the job?

[2021-04-19 21:49] makortel commented on #33470
job_64332
[code]

[2021-04-19 23:01] makortel commented on #33459
Added in https://github.com/cms-sw/cmssw/pull/33475

[2021-04-19 23:02] makortel commented on #33459
@Dr15Jones Should we consider removing the `RefToBaseVector::vectorHolder()` function? I don't see anything calling it.

[2021-04-19 23:35] pcanal commented on #33470
The pattern of error seems to indicates a problem with the (xrootd) server.  In addition, the file may or may not be corrupted.

[2021-04-20 06:37] srimanob commented on #33466
Hi All,

Thanks for all information. I found that for the GEN step in my local test, it crashed due to ROOT without HOME env also. With this set, everything runs fine.

Is this an expected change? My condor script worked well before with 10_6 and 11_2 without the need to set HOME. I just try to run 10_6 with unset HOME interactively, everything seems to work properly in all steps.

[2021-04-20 09:48] agrohsje commented on #25090
Hi @makortel. That is an interesting question. I think for the time being the one for P8 is sufficient and should cover the majority of what we are doing at present. But we should clearly make this one of our development tasks.

@SiewYan  are you available to modify according what I proposed above. I see thumbs up does that mean yes? Do you have an idea of the time scale?

[2021-04-20 12:59] makortel commented on #33466
Combined (or caused by?) the evidence for the job loading ROOT's `libGUI` I'd say "no, not expected". Let's first figure out what causes the loading of `libGUI` and then see if addressing that also removes the issue with setting or not `$HOME`.

[2021-04-20 13:13] srimanob commented on #33466
Here is the log file from `PrintLoadingPlugins` without HOME env,
/afs/cern.ch/user/s/srimanob/public/GitIssue33466/run-withoutHOME.log

To reproduce the issue, one can use cmsDriver above (ZEE one), with CMSSW_11_3_0_pre6. unsetenv HOME first.

[2021-04-20 13:15] jordan-martins opened #33478 "Inclusion of NumberEvents metric from JobReport in older releases"
Hi all,

PdmV would like to request, if possible, the inclusion of the metric NumberEvents in the JobReport in older releases used still in production. This would mean the go up to 7_X more or less. Could you kindly provide assistance, please?

This variable was requested in PR [1].

Thanks, Jordan.
FYI @silviodonato @qliphy @justinasr

[1] https://github.com/cms-sw/cmssw/commit/0243d5d2b07e4a105f

[2021-04-20 13:15] cmsbuild commented on #33478
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-20 13:25] makortel commented on #33466
Thanks @srimanob, quoting here the printouts before exception
[code]
(plus a similar stack trace as in the issue description).

[2021-04-20 13:33] mrodozov commented on #33442
after reading this:
https://docs.bazel.build/versions/master/external.html#external-packages
it says all the external packages downloaded by bazel are in bazel-tensorflow-2.4.1/external/mkl_dnn
and inside there is the BUILD.bazel which is this:
[code]

also before that I checked the cache in the build directory and only one of the two tar files hash was there:
again the 0.21.3 version
I'm also bui

[2021-04-20 13:39] makortel commented on #33466
The `SimPPS/PPSSimTrackProducer/plugins` depends on `hector`
https://github.com/cms-sw/cmssw/blob/dafb55d2ee66014caabcfc36104dba18240388e9/SimPPS/PPSSimTrackProducer/plugins/BuildFile.xml#L6
and
[code]
so `hector` seems to depend on `libGui`.

Can the `libGui` dependence be removed from `hector`?

FYI @cms-sw/simulation-l2 @cms-sw/ctpps-dpg-l2

[2021-04-20 13:40] makortel commented on #33466
assign simulation

[2021-04-20 13:40] cmsbuild commented on #33466
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-20 13:44] jan-kaspar commented on #33466
FYI @clemencia @mundim

[2021-04-20 14:12] dan131riley commented on #33466
Odd, nothing seems to have changed.  The [hector Makefile ](https://github.com/cms-externals/hector/blob/7498d56fe88d7c26f7c871c55bb9f5d2f0255004/Makefile#L54) does
[code]
and `root-config --libs --glibs` always includes `-lGui`.  I guess the thing to do is remove the `--glibs` and see if it's really needed.

[2021-04-20 14:16] SiewYan commented on #25090
@agrohsje , thanks for pointing the useful twiki! I have started looking at it some time ago. I agree with @agrohsje on the proposed development task. Once the workflow is modified accordingly I will look at @makortel's idea on creating concurrent version for GeneratorFilter `ConcurrentGeneratorFilter`.

[2021-04-20 14:18] mundim commented on #33466
Indeed, this is somehow strange. No change in HECTOR has been implemented since several years ago, this is an external package under the responsibility of @forthommel at that time, but I don't know who is in charge of this package now. Just to mention, this is a special version for CMS with no graphics.

[2021-04-20 14:24] dan131riley commented on #33466
The condor `HOME` issue may be intermittent?  Anyway, linking to the Gui lib is undesirable, and in a test compile it looks like the graphics decency was indeed removed, so I think the right thing to do is just remove the `--glibs` in the Makefile.  I can do a PR since I've already done the test.

[2021-04-20 14:28] forthommel commented on #33466
I kind of "inherited" the project indeed. A bit of refactoring can be done to remove any libGui dependence. Let me check and return to this thread.

[2021-04-20 14:31] dan131riley commented on #33466
I tried the compile without and it seemed fine, so I went ahead with a PR, which you can approve if it checks out.

[2021-04-20 14:32] forthommel commented on #33466
Indeed! Thanks for being faster! Also implemented in the mainline repo: https://github.com/hectorhep/hector/commit/94f44778dd66aa0699ca689e8048e5b2627e18ea

[2021-04-20 14:50] mundim commented on #33466
Hi @forthommel, in case it is not a big burden, HECTOR is currently not suited for Run3 simulation (14 TeV), because it has 13TeV hardcoded. I do have a private version where the energy is a parameter to be passed in the constructor. Maybe now the action is too urgent for that, but it might be a good idea to change that in the future. Sorry to raise this point in this tread...

[2021-04-20 15:01] makortel commented on #33478
assign core

[2021-04-20 15:01] cmsbuild commented on #33478
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-20 15:02] makortel commented on #33478
@jordan-martins Could you provide an explicit list of release cycles?

[2021-04-20 15:33] forthommel commented on #33466
Hi Luiz

A while ago I started a v2 of Hector. More thread-safe (i.e. with next
to no global variables hanging around) and more parameterisable (CM.
energy, relative/absolute coordinates system, ...).

You may check at : <https://github.com/hectorhep/hector2>

I did not release it so far as it would require a full validation by
experts. If you feel like starting something with that in mind, do not

[2021-04-20 15:38] srimanob commented on #33466
Hi @dan131riley @makortel

Great that the SIM step can be fixed, thanks. However, I think for the standard MC/data processing sequence we should not need Gui or interactive.

Looking back on the original thread, we also have an issue with the RECO step. The log,
`/afs/cern.ch/user/s/srimanob/public/GitIssue33466/reco-withoutHOME.log`,
shows
[code]
I am trying to go back in time at which release we

[2021-04-20 15:38] jordan-martins commented on #33478
Hi @makortel , thanks! Here is the list of our root campaigns releases:
'CMSSW_7_1_22'
'CMSSW_7_1_32'
'CMSSW_7_1_37'
'CMSSW_7_1_47'
'CMSSW_7_4_4'
'CMSSW_7_5_8_patch7'
'CMSSW_7_5_9'
'CMSSW_8_0_19_Geant4102'
'CMSSW_8_0_21'
'CMSSW_8_0_31'
'CMSSW_8_0_36'
'CMSSW_8_2_0'
'CMSSW_8_3_0'
'CMSSW_9_0_0'
'CMSSW_9_0_2'
'CMSSW_9_1_2_patch1'
'CMSSW_9_2_8'
'CMSSW_9_3_6'
'CMSSW_9_3_6_patch2'
'CMSSW_9_3_9_patch1'
'C

[2021-04-20 15:57] makortel commented on #33478
Thanks, so that would mean
- [ ] 7_1_X
- [ ] 7_4_X
- [ ] 7_5_X
- [ ] 8_0_X
- [ ] 8_2_X
- [ ] 8_3_X
- [ ] 9_0_X
- [ ] 9_1_X
- [ ] 9_2_X
- [ ] 9_3_X
- [ ] 9_4_X
- [ ] 10_0_X

That is a rather long list, are all of those really needed? I vaguely recall an earlier "backport to all earlier releases used in production" concerned fewer releases.

[2021-04-20 16:08] makortel commented on #33478
Last ORP agenda lists only 7_1_X, 8_0_X, 9_3_X, and 9_4_X of those.

[2021-04-20 17:21] mundim commented on #33466
hi @forthommel, that is indeed a good news. I'll see if I can do it in parallel with the other issues in the simulation. thank you.

[2021-04-20 17:36] srimanob commented on #25090
Hi, @gartung @Dr15Jones @makortel @cms-sw/dqm-l2
From the remaining list, I don't see the report on Harvesting modules. Does it work with this concurrent lumi?

I am trying to run Harvesting in CMSSW_11_3_0_pre6 using the cmsDriver in relvals,
[https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/10cf4e6373ccf67f0566eaf3e1a9f170/configFile](https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/10cf4e63

[2021-04-20 18:06] makortel commented on #25090
I thought harvesting does not really support multi-threading in the first place.

[2021-04-20 18:17] makortel commented on #33466
I went over all shared objects in `/cvmfs/cms.cern.ch/slc7_amd64_gcc900/cms/cmssw/CMSSW_11_3_0_pre6/lib/slc7_amd64_gcc900` and the following depend on `libGui`
* `libCalibCalorimetryEcalCorrelatedNoiseAnalysisAlgos.so`
* `{lib,plugin}Fireworks*.so` (ok)
* `libRecoRomanPotRecoFP420.so`
* `libSimTransportPPSProtonTransport.so`
* `libUtilitiesPPS.so`
* `pluginCSCGeometryValidationPlugins.so`
* `plugi

[2021-04-20 18:41] dan131riley commented on #33466
I ran the step4 RECO from above with HOME unset, and reproduced the exception.  I reran with `LD_DEBUG=files`.  None of the libraries listed above were loaded.  Loading `libGui` actually seems to start with the plug-in handler loading `libROOTEve.so`:
[code]
So far I haven't found any dependency to account for this.

[2021-04-20 19:22] haozturk commented on #33361
Another `Fatal Root Error`, could be related:
[code]
Full log: https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC0_task_EXO-RunIIFall17NanoAODv7-06044__v1_T_210405_065143_2118/8021/EXO-RunIIFall17NanoAODv7-06044_0/2e036434-67ba-42dd-aac5-6cc05c64c94f-0-3-logArchive/

[2021-04-21 01:03] srimanob commented on #25090
OK, it seems the broken cmsDriver came from PdmV relvals machine. I check on runTheMatrix, it is clear that Harvesting uses 1 core,
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/WorkFlowRunner.py#L165-L168
FYI @justinasr

[2021-04-21 01:05] srimanob commented on #25090
Thanks, it seems the broken cmsDriver came from PdmV relvals machine. I check on runTheMatrix, it is clear that Harvesting uses 1 core,
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/WorkFlowRunner.py#L165-L168
FYI @justinasr

[2021-04-21 02:30] qliphy opened #33485 "Build CMSSW_10_6_24"

[2021-04-21 02:31] cmsbuild commented on #33485
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-04-21 02:31] qliphy commented on #33485
+1

[2021-04-21 02:31] cmsbuild commented on #33485
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_24. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-04-21 02:31] cmsbuild commented on #33485
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-04-21 02:32] cmsbuild commented on #33485
The build has started for slc7_amd64_gcc700 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2995/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-21 02:36] cmsbuild commented on #33485
The build has started for slc7_amd64_gcc820 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2996/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-04-21 05:23] cmsbuild commented on #33485
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_24-slc7_amd64_gcc820/2996
Some tests (

[2021-04-21 06:02] cmsbuild commented on #33485
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_24-slc7_amd64_gcc820/2996

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-21 06:03] cmsbuild commented on #33485
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_24-slc7_amd64_gcc700/2995
Some tests (

[2021-04-21 06:43] cmsbuild commented on #33485
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_24-slc7_amd64_gcc700/2995

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-04-21 07:55] silviodonato opened #33486 "Unit test failure in PhysicsTools/UtilAlgos"
Since CMSSW_11_3_X_2021-04-15-2300 a unit test is failing in `PhysicsTools/UtilAlgos`.
This was trivially fixed in `12_0_X` with https://github.com/cms-sw/cmssw/pull/33464

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_11_3_X_2021-04-20-2300/unitTestLogs/PhysicsTools/UtilAlgos
[code]

[2021-04-21 07:56] cmsbuild commented on #33486
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-21 08:07] jordan-martins commented on #33478
Hi @makortel, please, lets aim for the release set from ORP, then.
Thanks, Jordan

[2021-04-21 08:17] silviodonato commented on #33486
This failure will be fixed soon with https://github.com/cms-sw/cmssw/pull/33487.
Since this failure will appear also in all other branches, I've opened this issue to keep track of it

[2021-04-21 08:17] #33486 closed

[2021-04-21 08:22] qliphy commented on #33485
upload all

[2021-04-21 08:23] cmsbuild commented on #33485
Queing Jenkins upload for slc7_amd64_gcc700

[2021-04-21 08:23] cmsbuild commented on #33485
Queing Jenkins upload for slc7_amd64_gcc820

[2021-04-21 08:25] cmsbuild commented on #33485
The upload has started for slc7_amd64_gcc700 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1909/console

[2021-04-21 08:25] cmsbuild commented on #33485
The upload has started for slc7_amd64_gcc820 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1910/console

[2021-04-21 08:26] cmsbuild commented on #33485
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_24-slc7_amd64_gcc820/1910

[2021-04-21 08:26] cmsbuild commented on #33485
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_24-slc7_amd64_gcc700/1909

[2021-04-21 09:06] qliphy commented on #33485
release-notes

[2021-04-21 09:07] cmsbuild commented on #33485
Generating release notes since CMSSW_10_6_23.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-04-21 09:07] cmsbuild commented on #33485
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_24 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_23 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_24

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2021-04-21 09:12] cmsbuild commented on #33485
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_24

[2021-04-21 12:41] dan131riley commented on #33466
It's coming from a call to `TEnum::GetEnum()` from `edm::TypeWithDict::byName()` here:

https://github.com/cms-sw/cmssw/blob/b6b0ed669dafdc6b8646e5c90ebf4efff00b243d/FWCore/Reflection/src/TypeWithDict.cc#L168

which somehow ends up loading `libROOTEve.so` which pulls in `libGui.so`.  Some typical selectors for `pfTausProducerSansRefs`:
[code]
Here's the stack trace:
[code]

[2021-04-21 13:00] makortel commented on #33466
Thanks @dan131riley. Would you be able to check the value of `name`?

[2021-04-21 13:50] dan131riley commented on #33466
@makortel `vector<ROOT::Experimental::REveTableEntry>::size_type`.

Also I tried reproducing in the ROOT6 master IB, which I believe has debug symbols, but it doesn't replicate there.  That's consistent with it only occurring in some releases, or it could indicate a problem that has been fixed in later ROOT releases.

[code]

[2021-04-21 13:56] makortel commented on #33466
I wonder how such type gets queried.

@pcanal Would you have any idea what could be causing this issue, and if that is already been fixed in ROOT master or 6.22 branch?

[2021-04-21 14:23] dan131riley commented on #33466
Also doesn't replicate in CMSSW_12_0_ROOT624_X_2021-04-19-2300.  I put in some print statements to see what gets looked up, in CMSSW_11_3_0_pre1 I get the sequence
[code]
while in the 6.24 IB it goes
[code]
There are some possibly relevant @pcanal commits that went into 6.23

[2021-04-21 14:33] Dr15Jones commented on #33466
Perhaps ROOT is trying to find `std::vector<>::size_type` and is ignoring the template parameter? If so, it might just pull in the first entry it finds in its read of .rootmap files and that might vary build to build.

[2021-04-21 16:10] pcanal commented on #33466
If I understood correctly, the failing case has:
[code]
Where the autoload is being ask to provide information about this class, and thus it (ought to) load information about the template parameter.

This `edm::TypeWithDict::byName ` call comes from:
[code]

So I assume that the vector is the type of the argument of a function being looked at by the `cut_parser`.

It is plausible that this functio

[2021-04-21 16:12] Dr15Jones commented on #33466
No cmsRun jobs should be asking for anything from Eve.

[2021-04-21 16:14] pcanal commented on #33466
So we need more information from the input to the cutparser on why it made that request.

[2021-04-21 16:17] Dr15Jones commented on #33466
What we need to know is the arguments passed to `reco::findMethod` since that should say which function was called.

[2021-04-21 16:37] Dr15Jones commented on #33466
So looking at the two selectors
[code]

I see that `signalChargedHadrCands()` is defined here
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/DataFormats/TauReco/interface/PFTau.h#L90

and `signalPiZeroCandidates()` is here
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/DataFormats/TauReco/interface/PFTau.h#L145

Then the call to `size()

[2021-04-21 16:41] dan131riley commented on #33466
The selector to `reco::parser::cutParser()` is
[code]
and the args to `reco::findMethod()`
[code]
Stack trace (-70 lines of `boost::spirit`):
[code]

[2021-04-21 16:48] Dr15Jones commented on #33466
And the argment type passed to `std::vector<T>::operator[]` is `std::vector<T>::size_type`.
https://en.cppreference.com/w/cpp/container/vector/operator_at

[2021-04-21 16:56] Dr15Jones commented on #33466
So looking at the TypeWithDict code we can see that the string `"vector<ROOT::Experimental::REveTableEntry>::size_type"` comes from `TMethodArg::GetTypeName()`
https://github.com/cms-sw/cmssw/blob/b2180834deb82044f9e8817f22d149b9f77ba7a9/FWCore/Reflection/src/TypeWithDict.cc#L342-L343

[2021-04-21 17:24] pcanal commented on #33466
That would be bad :(

But the again I am still a bit confused.   The type give to `findMethod` is `std::vector<reco::RecoTauPiZero, std::allocator<reco::RecoTauPiZero> >>` and `reco::RecoTauPiZero` seems to be a class and the search is attempted on the type:
[code]
@dan131riley what is the content of `theArgs`?

[2021-04-21 17:36] dan131riley commented on #33466
[code]

[2021-04-21 17:46] pcanal commented on #33466
And what about
[code]

[2021-04-21 17:49] Dr15Jones commented on #33466
So `findMethod` calls
https://github.com/cms-sw/cmssw/blob/b2180834deb82044f9e8817f22d149b9f77ba7a9/CommonTools/Utils/src/findMethod.cc#L168

which calls
https://github.com/cms-sw/cmssw/blob/b2180834deb82044f9e8817f22d149b9f77ba7a9/FWCore/Reflection/src/TypeWithDict.cc#L602-L604

`TClass::GetMethodWithPrototype`

https://github.com/cms-sw/cmssw/blob/b2180834deb82044f9e8817f22d149b9f77ba7a9/FWCore/

[2021-04-21 18:13] Dr15Jones commented on #33466
So the final call to the constructor is here:
https://github.com/cms-sw/cmssw/blob/b2180834deb82044f9e8817f22d149b9f77ba7a9/CommonTools/Utils/src/findMethod.cc#L84-L85

with the input `mem` is the `FunctionWithDict` using the iterator

https://github.com/cms-sw/cmssw/blob/b2180834deb82044f9e8817f22d149b9f77ba7a9/FWCore/Reflection/src/FunctionWithDict.cc#L98-L103

so it is just using `TMethodArg`

[2021-04-21 18:26] Dr15Jones commented on #33466
`type.class_` would be the `TClass` for `std::vector<reco::RecoTauPiZero>`

[2021-04-21 18:28] pcanal commented on #33466
And it seems that this is "suprisingly" failing.  The question is (of course) why.   So one additional piece of information is to have the name of the TClass object this called for and verify the arguments.

[2021-04-21 18:30] pcanal commented on #33466
It should be :) but is it.  If it isn't then we need to figure out why, if it is then it is even more puzzling (why would a search that is (intended to be) restricted to that class find something completely different.

[2021-04-21 18:48] dan131riley commented on #33466
For some reason gdb keeps insisting
[code]
despite including TClass.h, so I called `Print()` and `Dump()` on the object:
[code]

[2021-04-21 18:56] Dr15Jones commented on #33466
Here is what I did in ROOT

[code]

[2021-04-21 19:00] pcanal commented on #33466
@Dr15Jones Cool :) or :( I should say.   We need to open a github issue on the ROOT side for this :(

[2021-04-21 19:03] Dr15Jones commented on #33466
Similarly
[code]

[2021-04-21 19:34] makortel commented on #33456
The named `Task` (and two lines) can be avoided already now with
[code]
One has to be careful with the `.copy()` though, omitting that `toReplaceWith()` appears like it would work, but later use of the `task` leads to infinite loop.

[2021-04-21 20:42] pcanal commented on #33466
Thanks for all the inline debugging :)

You can follow the eventual resolution at https://github.com/root-project/root/issues/7955

[2021-04-21 21:36] fwyzard commented on #33456
Thanks, this is already a useful intermediate solution.

[2021-04-21 23:09] wddgit commented on #33478
The PRs are all submitted now.

[2021-04-22 06:23] qliphy commented on #32356
Should be fixed now by #33415

[2021-04-22 12:46] jpata commented on #32756
@chayanit it's only available in pre6:

https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre6
cms-sw/cmsdist#6769 from @cms-sw: Update tag for RecoHGCal-TICL to V00-02-01

[2021-04-22 13:15] chayanit commented on #32756
OK we noticed the reduction of memory in pre6 indeed. Thanks everyone!
https://cmsweb.cern.ch/couchdb/workloadsummary/_design/WorkloadSummary/_show/histogramByWorkflow/pdmvserv_RVCMSSW_11_3_0_pre6TTbar_14TeV__2026D76PU200_210419_200038_9806

[2021-04-22 13:33] makortel commented on #32953
https://github.com/cms-sw/cmssw/pull/33430 is merged, we can close the issue

[2021-04-22 13:33] #32953 closed

[2021-04-22 14:49] mrodozov commented on #32899
the new theory seems to be correct (🤞)
the latest Arm build which is finishing the 5of5 job (12 hours until now)
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_0/2021-04-20-2300?selectedArchs=slc7_aarch64_gcc9&selectedFlavors=X&selectedStatus=failed
is having only 1 relval failing - 280, as reported in https://github.com/cms-sw/cmssw/issues/33452
Should we notify MS people with an iss

[2021-04-22 16:41] makortel commented on #32899
I understood it was @dan131riley's plan to make a PR (or issue) to upstream ONNXruntime. In the mean time we can probably close this issue?

[2021-04-22 22:04] civanch commented on #33460
+1

fixed in #33506

[2021-04-22 22:04] cmsbuild commented on #33460
This issue is fully signed and ready to be closed.

[2021-04-23 00:37] #33460 closed

[2021-04-23 07:08] cmsbuild commented on #33485
The cleanup has started for slc7_amd64_gcc700

[2021-04-23 07:08] cmsbuild commented on #33485
The cleanup has started for slc7_amd64_gcc820

[2021-04-23 07:08] #33485 closed

[2021-04-23 07:09] cmsbuild commented on #33485
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_24-slc7_amd64_gcc820/1662

[2021-04-23 07:09] cmsbuild commented on #33485
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_24-slc7_amd64_gcc700/1661

[2021-04-23 08:17] jfernan2 commented on #32953
+1
Thanks for the prompt action!!

[2021-04-23 08:18] cmsbuild commented on #32953
This issue is fully signed and ready to be closed.

[2021-04-23 08:45] thomreis commented on #33425
Hi @ggovi can you comment on the usage of `cout` and `catch` in these packages please. Is this OK?

[2021-04-23 09:48] AdvaitDhingra opened #33512 "Example(s)/Tutorial(s)"
Hello,

I would like to contribute to CMSSW, however I can't find any guide as to how I can use the different packages. Does something like this exist, or can it be made?

Kind Regards,

Advait

[2021-04-23 09:48] cmsbuild commented on #33512
A new Issue was created by  @AdvaitDhingra Advait Dhingra.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-23 13:09] makortel commented on #33512
Are you perhaps looking something like http://cms-sw.github.io/tutorial.html?

[2021-04-23 13:14] AdvaitDhingra commented on #33512
Ah yes, thank you!

[2021-04-23 13:14] #33512 closed

[2021-04-23 14:38] hatakeyamak commented on #30426
@slava77 perhaps this is ready to be closed?

[2021-04-23 14:49] slava77 commented on #30426
+reconstruction

[2021-04-23 14:50] slava77 commented on #30426
I agree

[2021-04-23 14:50] #30426 closed

[2021-04-23 14:50] cmsbuild commented on #30426
This issue is fully signed and ready to be closed.

[2021-04-23 17:49] gartung commented on #33297
We'll see what the TBB developers say
https://github.com/oneapi-src/oneTBB/issues/384

[2021-04-25 09:45] civanch commented on #32492
+1

[2021-04-25 09:46] cmsbuild commented on #32492
This issue is fully signed and ready to be closed.

[2021-04-25 09:46] civanch commented on #32646
+1

This is fixed now

[2021-04-25 09:47] cmsbuild commented on #32646
This issue is fully signed and ready to be closed.

[2021-04-25 09:55] fwyzard opened #33521 "improve `scram b runtests`"
When running `scram b runtests` on many packages, and/or with multiple jobs in parallel, it is sometimes hard to figure out exactly what output belongs to each test, and how to reproduce the failures.

This is a suggestion to improve `scram b runtests` in two ways:
  - before running each test, `scram` could create a shell script that runs the test, *e.g.* at `$CMSSW_BASE/unittest/$SCRAM_ARCH/Subs

[2021-04-25 09:55] fwyzard commented on #33521
assign core

[2021-04-25 09:55] cmsbuild commented on #33521
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-25 09:55] cmsbuild commented on #33521
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-25 10:00] SohamBhattacharya commented on #32475
@hatakeyamak Apologies for the late response.
Your suggestion seems reasonable to me, but I'll let @silviodonato and other validators comment.

As for the cleaning, we have been running some checks -- should have some update on this next week.

[2021-04-25 10:09] #32492 closed

[2021-04-26 08:18] silviodonato commented on #32475
@SohamBhattacharya https://github.com/cms-sw/cmssw/issues/32475#issuecomment-821852809 looks ok to me.

Let me just update the plot to `CMSSW_11_3_0_pre5`, just to show that the issue is still there (as expected, obviously)
https://github.com/cms-sw/cmssw/issues/32475#issuecomment-821852809
![image](https://user-images.githubusercontent.com/6177433/116050974-62466900-a678-11eb-9992-94e6e6555e2a.pn

[2021-04-26 10:23] smuzaffar commented on #33521
@fwyzard , scram already create individual log file for each unit test as `tmp/$SCRAM_ARCH/src/<Package>/test/<TestName>/testing.log` and collection of all the unit tests results are also available in `logs/$SCRAM_ARCH/testing.log`. In order to re-run a single test, you can just run `scram b runtests_<TestName>`

[2021-04-26 14:01] fwyzard commented on #33521
Interesting !
Can you add it to `man scram` ?

[2021-04-26 18:43] makortel commented on #33436
Given that the largest possible increase from DB payloads would be around 2 MB, and that the transient ESProducts in non-Run IOV records are unlikely (many) magnitudes larger, we could enable concurrent IOVs by default (when concurrent lumis are enabled), and deal with possible problems if they arise.

[2021-04-26 18:43] makortel commented on #33436
+1

[2021-04-26 18:43] #33436 closed

[2021-04-26 19:19] cvuosalo commented on #31979
+1

[2021-04-26 19:19] #31979 closed

[2021-04-26 19:31] makortel commented on #33459
Given that crafting a sensible `reserve()` for `RefToBaseVector` turned out to be far from straightforward, I'd suggest to look into `PtrVector` instead (that has `reserve()`), or for the specific case of `MultiTrackValidator` to look into larger rework of the Track-to-TrackingParticle associator interfaces (along my old comment in the code)
https://github.com/cms-sw/cmssw/blob/43add031117cf2b6550

[2021-04-26 21:48] makortel opened #33533 "[PPC] Segfault in TrackDistanceValueMapProducer"
Workflow 11634.24 step 5 failed in slc7_ppc64le_gcc9 CMSSW_12_0_X_2021-04-25-0000
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc9/CMSSW_12_0_X_2021-04-25-0000/pyRelValMatrixLogs/run/11634.24_TTbar_14TeV+2021_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+Reco+HARVEST+ALCA/step5_TTbar_14TeV+2021_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+Reco+HARVEST+ALCA.log#/

[2021-04-26 21:48] makortel commented on #33533
assign core

[2021-04-26 21:48] cmsbuild commented on #33533
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-26 21:48] cmsbuild commented on #33533
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-26 22:13] makortel opened #33535 "[ARM] Segfault in TestFWCoreFrameworkeventprocessor"
The `TestFWCoreFrameworkeventprocessor` unit test failed in slc7_aarch64_gcc9 CMSSW_12_0_X_2021-04-25-0000
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc9/CMSSW_12_0_X_2021-04-25-0000/unitTestLogs/FWCore/Framework#/28403-28403

[2021-04-26 22:13] makortel commented on #33535
assign core

[2021-04-26 22:13] cmsbuild commented on #33535
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-26 22:13] cmsbuild commented on #33535
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-26 22:14] makortel commented on #33535
My first question is how did it end up spawning 187 threads...

[2021-04-26 22:46] cvuosalo opened #33536 "[DD4hep] Some tracker volumes created without namespace in name"
Our standard with DD4hep is that component names should contain the namespace. The following solids and volumes are lacking the namespace in the name:

TECModule0RphiWafer
TECModule0StereoWafer
TECModule1RphiWafer
TECModule1StereoWafer
TECModule2RphiWafer
TECModule3RphiWafer
TECModule4RphiWafer
TECModule4StereoWafer
TECModule5RphiWafer
TECModule6RphiWafer
TOBCoolingManifold1a
TOBCoolingManifold1r

[2021-04-26 22:46] cmsbuild commented on #33536
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-26 22:47] cvuosalo commented on #33536
assign geometry

[2021-04-26 22:47] cmsbuild commented on #33536
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-26 22:48] cvuosalo commented on #33536
FYI @ghugo83 @bsunanda @ianna @adewit

[2021-04-27 06:28] VinInn commented on #33459
Indeed I was tempted to open an issue about that as well. @mtosi @mmusich

Btw a vector that does not support "reserve" is NOT a vector.
please consider to obsolete it....

[2021-04-27 07:42] ghugo83 commented on #33536
Thanks @cvuosalo
@cvuosalo Does that cause any specific issue?
I thought the plan is to remove the namespaces anyway, now that they are not needed anymore in topology building?

[2021-04-27 13:35] #33456 closed

[2021-04-27 14:22] dan131riley commented on #33535
The test doesn't set a thread limit, so TBB spawns as many threads as there are cores

[2021-04-27 14:35] makortel commented on #31878
Can this issue be closed?

[2021-04-27 14:41] makortel opened #33542 "How to provide supported CUDA compute capabilities and runtime version where needed?"
Currently the [`cudaIsEnabled`](https://github.com/cms-sw/cmssw/blob/master/HeterogeneousCore/CUDAServices/bin/cudaIsEnabled.cpp) uses a hardcoded condition for the CUDA compute capability check.

#33057 adds a need to have the list of supported compute capabilities to `runTheMatrix` as well as the CUDA runtime version (two leading parts if I understood correctly, e.g. `11.2`).

At this point we s

[2021-04-27 14:41] makortel commented on #33542
assign core,heterogeneous,pdmv

[2021-04-27 14:41] cmsbuild commented on #33542
New categories assigned: heterogeneous,core,pdmv

@Dr15Jones,@smuzaffar,@jordan-martins,@fwyzard,@chayanit,@wajidalikhan,@makortel,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-27 14:41] cmsbuild commented on #33542
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-27 14:43] makortel commented on #33542
I can think of adding environment variables for these in the CUDA toolfile, but is that the best solution?

[2021-04-27 14:47] smuzaffar commented on #33542
one other way could be that cuda.spec generates a python script which one can import to get information

[2021-04-27 14:50] makortel commented on #33542
(to repeat also here) one question for the `runTheMatrix` use case is that different CPU platforms may support different sets of CUDA compute capabilities (e.g. currently ARM does not support Pascal 6.x, whereas x86 and PPC do). When we start to use multiple CPU architectures I'd imagine the job submission to be done on some/any CPU node (e.g. x86 on lxplus).

How to have the correct CUDA compute

[2021-04-27 14:51] makortel commented on #33542
`cudaIsEnabled` is a C++ program, so how about e.g. a JSON file?

[2021-04-27 15:06] smuzaffar commented on #33542
json is also possible but then we still need an environment variable to point to it. Can we convert `cudaIsEnabled` in to python?

[2021-04-27 15:12] makortel opened #33544 "Segfault in Herwig"
Workflow 535.0 step 1 crashes in CMSSW_12_0_X_2021-04-27-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-04-27-1100/pyRelValMatrixLogs/run/535.0_TTbar_13TeV_Pow_herwig7+TTbar_13TeV_Pow_herwig7+HARVESTGEN/step1_TTbar_13TeV_Pow_herwig7+TTbar_13TeV_Pow_herwig7+HARVESTGEN.log#/

[2021-04-27 15:12] makortel commented on #33544
assign generators

[2021-04-27 15:12] cmsbuild commented on #33544
New categories assigned: generators

@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-27 15:12] cmsbuild commented on #33544
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-27 15:16] makortel commented on #33544
Following `Error` printouts are visible in CMSSW_12_0_X_2021-04-27-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-04-26-2300/pyRelValMatrixLogs/run/535.0_TTbar_13TeV_Pow_herwig7+TTbar_13TeV_Pow_herwig7+HARVESTGEN/step1_TTbar_13TeV_Pow_herwig7+TTbar_13TeV_Pow_herwig7+HARVESTGEN.log#/

where the job succeeded. It has one printout of `Error: No such file

[2021-04-27 15:20] makortel commented on #33542
I suppose it could be reimplemented in python by interpreting the output of `cudaComputeCapabilities` that would still communicate to CUDA via C(++) API.

[2021-04-27 15:23] makortel commented on #33542
Or we remove it altogether and change https://github.com/cms-sw/cmssw/blob/master/HeterogeneousCore/CUDACore/python/SwitchProducerCUDA.py#L9 to call `cudaComputeCapabilities` directly **if** it would be ok to import that python fragment in CMSSW configuration.

[2021-04-27 15:36] jpata commented on #31878
yes, seems so, thanks.

[2021-04-27 15:36] #31878 closed

[2021-04-27 16:00] fwyzard commented on #33542
Note that the compute capabilities that we have in CMSDIST's `cuda-flags.file` are those we compile for, but they are not an exhaustive list of those we can run on.

Currently (on x86 and power) we build for `6.0`, `7.0`, `7.5`.
Most likely the code can then run on any `6.x` and `7.x` GPU (and fail on any `5.x` and `8.x` GPUs).

[2021-04-27 16:14] fwyzard commented on #33542
I'm confused what you mean with using `cudaComputeCapabilities` ?

`cudaComputeCapabilities` prints the GPUs available on the current system, along with their compute capabilities - but it doesn't know anything about the capabilities that CMSSW supports or not.

[2021-04-27 16:15] Dr15Jones commented on #33535
If no one is doing it yet, I will change that test to limit the cores (probably to 1).

[2021-04-27 16:27] dan131riley commented on #32899
Yes, I think we've seen enough IBs to declare this fixed.

[2021-04-27 16:27] #32899 closed

[2021-04-27 18:57] makortel commented on #33542
Right, so we'd need to provide an explicit list of the compute capabilities where the software can run on (or that's what I understood #33057 would need).

In python program (be it a separate script or part of the configuration system) execute the program, parse the compute capabilities of the devices from its output, and compare that to the contents of the python fragment generated in `cuda.spec`

[2021-04-27 18:58] makortel commented on #32899
+1

[2021-04-27 19:13] cvuosalo commented on #33536
Sorry, I am forgetting that we want to transition to remove the namespaces once all components have been changed to have unique names without the namespaces. The current situation is confusing where we have most volume names with namespaces and some without.

[2021-04-27 19:13] #33536 closed

[2021-04-27 19:55] fwyzard commented on #33542
Ah, I see, you mean to decide whether "CUDA is available" locally, independently from the job description/matching.

[2021-04-27 20:08] makortel commented on #33542
Right, this was for `cudaIsEnabled`/ `SwitchProducerCUDA` purpose.

[2021-04-27 22:01] makortel opened #33552 "Random PR test comparison failures in DD4Hep workflows"
We are seeing infrequent comparison failures in DD4Hep workflows in tests of unrelated PRs. The purpose of this issue is to track their frequency and progress to find out the cause.

[2021-04-27 22:01] makortel commented on #33552
assign geometry

[2021-04-27 22:01] cmsbuild commented on #33552
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-27 22:01] cmsbuild commented on #33552
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-27 22:01] makortel commented on #33552
One occurrence is here https://github.com/cms-sw/cmssw/pull/33526#issuecomment-827662830

[2021-04-27 22:02] makortel commented on #33552
Another one https://github.com/cms-sw/cmssw/pull/33534#issuecomment-827951573

[2021-04-27 22:13] makortel opened #33553 "Placement of SwitchProducers in cfi/cff files"
Spinning off @fwyzard's comment in https://github.com/cms-sw/cmssw/pull/33428#issuecomment-826992828

[2021-04-27 22:13] makortel commented on #33553
assign core,heterogeneous

[2021-04-27 22:13] cmsbuild commented on #33553
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@fwyzard,@makortel,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-27 22:13] cmsbuild commented on #33553
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-27 23:44] makortel commented on #33553
(thinking out loud)

The main policy on placement of objects in the cff/cfi files is that an object defined in file A should not be modified (either directly or with a `Modifier`) in other (cfi/cff) files, because otherwise the exact behavior of a small piece of the job configuration becomes dependent on whatever else is loaded in the `Process`. (and yet we have files breaking it)

The `SwitchProd

[2021-04-28 00:31] makortel commented on #33552
Here is another https://github.com/cms-sw/cmssw/pull/33549#issuecomment-828050036

[2021-04-28 00:37] makortel opened #33554 "Non-repeatibility in EgammaV DQM folder"
I've now seen a few PRs to show differences in `EgammaV/ElectronMcSignalValidatorMiniAOD/h_ele_neutralHadronRelativeIso_mAOD_recomp` DQM histogram in workflows 10024.0 and 10224.0. Some examples of such PR tests https://github.com/cms-sw/cmssw/pull/33549#issuecomment-828050036, https://github.com/cms-sw/cmssw/pull/33534#issuecomment-827951573.

[2021-04-28 00:37] slava77 commented on #33552
is there a way to track which machine was used in each case?
This is in case there is some architecture dependence (me being reminded of existing differences in reco/miniAOD for e.g. tensorflow's mkl dependency)

[2021-04-28 00:37] cmsbuild commented on #33554
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-28 00:38] makortel commented on #33554
assign dqm

[2021-04-28 00:38] cmsbuild commented on #33554
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-28 08:21] agrohsje commented on #33544
Hi @Dominic-Stafford @theofil , is one of you available to follow-up on the seg-fault?

[2021-04-28 08:32] VinInn commented on #33552
Did anybody run valgrind on those DD4HEP wf?

[2021-04-28 08:54] fwyzard commented on #33542
OK. Then I'd suggest we should autodetect which GPUs are usable based on if we are actually able to use them: https://github.com/cms-sw/cmssw/pull/33561 .

[2021-04-28 08:57] silviodonato commented on #33544
I think the origin of the error is in #33516. Specifically, the change in `Configuration/Generator/python/TTbar_Pow_LHE_13TeV_cff.py` affects https://github.com/cms-sw/cmssw/blob/master/Configuration/Generator/python/TT_13TeV_Pow_Herwig7_cff.py#L3.

It looks like we can fix this by forcing `externalLHEProducer.generateConcurrently = cms.untracked.bool(False),` in `TT_13TeV_Pow_Herwig7_cff.py`

I d

[2021-04-28 09:30] colizz commented on #33544
Thanks. As far as I see the seg-fault is caused by the missing "cmsgrid_final.lhe". As I know, concurrent externalLHEProducer will produce LHE separately in each subfolder `thread*/cmsgrid_final.lhe`, and combine them directly in CMSSW to produce a EDM LHE file. Therefore there is no final `./cmsgrid_final.lhe` produced.
It happened that H7 will intrinsically read the `cmsgrid_final.lhe` directly

[2021-04-28 10:28] Dominic-Stafford commented on #33544
As @colizz said, Herwig directly reads in cmsgrid_final.lhe rather than the EDM LHE file. If the concurrent externalLHEProducer could be changed to also write out this file this should work, otherwise it would probably be simplest to not use this with Herwig 7. As @makortel mentioned, Herwig also produces some spurious error messages when running normally, which make diagnosing issue like these a

[2021-04-28 10:43] colizz commented on #33544
ok thanks! I'll handle the "concurrent externalLHEProducer" side.

[2021-04-28 10:47] jfernan2 commented on #33554
Not only on 10024 https://tinyurl.com/yhy9j8sq
but also in 10824 https://tinyurl.com/ye8kb4vk
as seen on https://github.com/cms-sw/cmssw/pull/33540 and https://github.com/cms-sw/cmssw/pull/33560
It looks like a precision problem ~0
EGamma Validation developers @archiron @nancymarinelli @guitargeek  could you please have a look?
Thanks

[2021-04-28 11:44] mandrenguyen opened #33564 "Crash in HI miniAOD from PFJetMETcorrInputProducerT.h"
As discussed in
https://its.cern.ch/jira/browse/PDMVRERECO-43
there is a rare crash in HI miniAOD production.

It occurs in the loop inside the if statement "if(skipMuons_)" on line 181 of
https://cmssdt.cern.ch/lxr/source/JetMETCorrections/Type1MET/interface/PFJetMETcorrInputProducerT.h?%21v=CMSSW_11_2_1

Looking at one problematic event, modifying the parameter skipMuons to be False (the default

[2021-04-28 11:44] cmsbuild commented on #33564
A new Issue was created by  @mandrenguyen Matthew Nguyen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-28 11:56] slava77 commented on #32883
What is the range of the "Dynamic"? Is it smart enough to stay with AVX2 or will it push for AVX512 wherever available regardless of possible frequency scaling implications?

Considering that I found out recently that we are effectively using dynamic in TF (#33442) and operationally things were OK, I think that it's reasonable to try it wider.
@hqucms would you be available to make a PR to test th

[2021-04-28 12:12] mrodozov commented on #33552
I asked last week on two PRs for externals the same thing
https://github.com/cms-sw/cmsdist/pull/6822#issuecomment-824326859
https://github.com/cms-sw/cmsdist/pull/6787#issuecomment-824327267

[2021-04-28 12:14] hatakeyamak commented on #32475
@SohamBhattacharya @jainshilpi who are the egamma validators who should try to address this specific validation plotting issues for phase2?

[2021-04-28 12:33] hqucms commented on #32883
@slava77

Yes the level of "dynamic" can be controlled:
 - `MLAS_DYNAMIC_CPU_ARCH=0`: no AVX
 - `MLAS_DYNAMIC_CPU_ARCH=1`: up to AVX
 - `MLAS_DYNAMIC_CPU_ARCH=2`: up to AVX2
 - `MLAS_DYNAMIC_CPU_ARCH>2`: up to AVX512

Sure I can open a PR. Any suggestion on how dynamic we want to use?

[2021-04-28 13:11] slava77 commented on #33564
assign reconstruction

[2021-04-28 13:12] cmsbuild commented on #33564
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-28 13:12] slava77 commented on #33564
@mandrenguyen
please prepare a prescription to reproduce the problem.
Thank you.

[2021-04-28 13:18] slava77 commented on #32883
`=2` looks reasonable; I'm not sure if we'd need to "regress" to `=1`.

[2021-04-28 13:22] slava77 commented on #33442
if I understand correctly, the same problem will be present on ARM and Power.
I updated the issue title, but did not try it explicitly.

[2021-04-28 13:34] gartung commented on #33297
Using Google perftools profiler library I am able to get a profile which seems to account for all activity. The pprof tools interprets the data collected and can produce [text output](https://gartung.web.cern.ch/gartung/cmsRun.prof.txt.gz) or data suitable for producing a [flamegraph](https://gartung.web.cern.ch/gartung/cmsRun.prof.svg).

[2021-04-28 13:38] gartung commented on #33297
TBB resumable tasks uses makecontext and swapcontext with coroutines. Igprof does not seem to be able to handle correctly. Rather than try to make Igprof work with these coroutines it might be easier to make pprof output Igprof compatible data.

[2021-04-28 13:41] makortel commented on #33554
Here is another with 10024.0, 10224.0, and 10824.0 https://github.com/cms-sw/cmssw/pull/33561#issuecomment-828431073

[2021-04-28 13:44] makortel commented on #33542
I agree, #33561 provides much better way for `cudaIsEnabled` (thanks!). That leaves the need to communicate the compute capabilities where can run and the runtime version only to `runTheMatrix`.

[2021-04-28 13:51] hqucms commented on #32883
@slava77 OK I made the PR: https://github.com/cms-sw/cmsdist/pull/6855.
What kind of tests do we want to do with it?

[2021-04-28 14:02] makortel commented on #33552
Here is another https://github.com/cms-sw/cmssw/pull/33550#issuecomment-828086998

[2021-04-28 14:03] makortel commented on #33554
Here is another with 10024.0, 10224.0, and 10824.0 #33550 (comment)

[2021-04-28 14:17] archiron commented on #33554
Excuse me, but what are those differences ? It does not look clear for me.
@beaudett

[2021-04-28 14:22] gartung commented on #33297
Text output with template arguments not stripped:
https://gartung.web.cern.ch/gartung/cmsRun.prof.cumul.templargs.txt.gz

[2021-04-28 14:24] makortel commented on #33554
E.g. from https://github.com/cms-sw/cmssw/pull/33550

10024.0
![image](https://user-images.githubusercontent.com/33993/116420227-68b51c00-a803-11eb-999b-dbc91b71a578.png)

108240.0
![image](https://user-images.githubusercontent.com/33993/116420256-6fdc2a00-a803-11eb-84b1-c63394496b9a.png)

11634.0
![image](https://user-images.githubusercontent.com/33993/116420283-77033800-a803-11eb-92a0-59f1fe0594

[2021-04-28 14:31] slava77 commented on #32883
jenkins tests with timing monitored in miniAOD should be enough to confirm the benefits.

I guess that there will be small differences between the `=0` and `=2` versions.
So, merging may required a bit of a leap of faith that the differences will go away because the available infrastructure has AVX2 already.

[2021-04-28 14:41] mandrenguyen commented on #33564
I ran workflow 140.5611, using as input a problematic file with the following driver:
`
cmsDriver.py step2 --procModifiers run2_miniAOD_pp_on_AA_103X --conditions auto:run2_data_promptlike_hi -s PAT,DQM:@miniAODDQM --scenario pp --datatier MINIAOD,DQMIO -n 100 --data --era Run2_2018_pp_on_AA --processName PAT --eventcontent MINIAOD,DQM --filein /store/hidata/HIRun2018A/HIMinimumBias13/AOD/04Apr201

[2021-04-28 15:08] hqucms commented on #32883
@slava77 You are referring to the small numerical difference of the outputs right?

[2021-04-28 15:42] fwyzard commented on #33542
If we merge https://github.com/cms-sw/cmsdist/pull/6851 , then we will only need to give a "minimum compute capability".

[2021-04-28 15:44] slava77 commented on #32883
yes

[2021-04-28 15:59] cvuosalo commented on #33552
This workflow was stable for the last few weeks, but now it is unstable again. I think some recent change either re-activated an old bug or introduced a new stability problem. I will submit a PR to remove it from the PR tests for now.

[2021-04-28 16:56] cvuosalo commented on #33552
Looking through the recent history of merged PRs, I think the recent ROOT update might be a suspect for triggering the instability:

https://github.com/cms-sw/cmsdist/pull/6835 ROOT change (April 23)
https://github.com/cms-sw/cmsdist/pull/6826 DD4hep change (April 21)

That said, the instability seems to be around the 10% level. Many PR tests pass successfully with this workflow.

[2021-04-28 17:04] cvuosalo commented on #33552
@VinInn > Did anybody run valgrind on those DD4HEP wf?

Yes, I ran it back on March 5: https://github.com/cms-sw/cmssw/issues/32963#issuecomment-791726546
There have been changes to DD4hep and ROOT since then.

[2021-04-28 17:39] Dr15Jones opened #33567 "Exception during begin Luminosity block not being properly handled"
An exception which went off during delayed read from the source during the begin LuminosityBlock caused the assert
[code]
when the end LuminosityBlock was called to gracefully shut down the program.

This implies that the exception caused the begin LuminosityBlock processing to abort before it ran all the required tasks.

[2021-04-28 17:39] Dr15Jones commented on #33567
assign core

[2021-04-28 17:39] cmsbuild commented on #33567
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-28 17:39] cmsbuild commented on #33567
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-28 17:40] beaudett commented on #33554
Hi
like @archiron I am confused. I see a problem with the fact than in  [DQM ](https://tinyurl.com/yfyc7jbb) there is only one plot available in that directory. Is that what you are concerned about ? Or is it because the two plots are not identical ?

[2021-04-28 17:42] Dr15Jones commented on #33567
The tracebacks were

Assert
[code]

Exception
[code]

[2021-04-28 18:15] makortel commented on #33554
There is something that occasionally causes this histogram to be different between an IB and the IB+PR (where the PR does not have any changes that could impact physics).

[2021-04-28 18:37] beaudett commented on #33554
I have no clue of what can cause such a difference. This histogram is comparing the PF-isolation computed at the RECO-level and that re-computed on-the-fly from the PF candidates. As a matter of fact, it turns out that these histograms are not much useful and we could simply drop them.

[2021-04-28 18:58] cvuosalo commented on #33552
PR #33568 submitted to remove the DD4hep workflow from the PR tests.

[2021-04-28 19:59] jfernan2 commented on #33554
@beaudett then could you please create a PR removing those plots to not confuse the Jenkin tests around? Thank you very much!

[2021-04-28 20:08] beaudett commented on #33554
Hi
@archiron can you please remove the "recomp" plots and prepare a PR ?
@jfernan2 there is not much special with these plots, I am afraid there might be a deeper problem but we'll see and we might learn something in the process.

[2021-04-28 20:08] nancymarinelli commented on #33554
Are the plots listed so far the only ones or there are more ?

________________________________
From: jfernan2 ***@***.***
Sent: 28 April 2021 21:59
To: cms-sw/cmssw
Cc: Nancy Marinelli; Mention
Subject: Re: [cms-sw/cmssw] Non-repeatibility in EgammaV DQM folder (#33554)

@beaudett<https://github.com/beaudett> then could you please create a PR removing those plots to not confuse the Jenkin tests a

[2021-04-28 20:12] jfernan2 commented on #33554
Thank you very much @beaudett

[2021-04-28 20:51] cvuosalo opened #33571 "[DD4hep] DD4hep Ecal Endcap algo uses old DD utilities"
The DD4hep `Geometry/EcalCommonData/plugins/dd4hep/DDEcalEndcapAlgo.cc` uses `Geometry/EcalCommonData/interface/DDEcalEndcapTrap.h`, which utilizes old DD utilities like `DDRotationMatrix` and `DDTranslation`. Old DD dependencies should be removed from DD4hep code.

[2021-04-28 20:52] cmsbuild commented on #33571
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-28 20:53] cvuosalo commented on #33571
assign geometry

[2021-04-28 20:53] cmsbuild commented on #33571
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-28 20:53] cvuosalo commented on #33571
@bsunanda Could you please take a look at this?

[2021-04-28 21:39] cvuosalo commented on #33571
The old DD utilities are just aliases of ROOT classes, so they are harmless, but we would prefer not to use old DD names in DDh4ep code.

[2021-04-29 07:16] perrotta opened #33572 "Configuration parameter validation missing for a few Muon classes and plugins"
There are a few classes in the Muon reconstruction code where the `desc.setAllowAnything()` is set in the `fillDescriptions` method.
As such, their configuration parameters cannot be defined and validated, and there will be no check in case of mistypes in the actual configurations.

The affected files are the following:
- PhysicsTools/PatAlgos/plugins/PATMuonProducer.cc
- RecoHI/HiMuonAlgos/plugin

[2021-04-29 07:16] perrotta commented on #33572
assign reconstruction

[2021-04-29 07:16] cmsbuild commented on #33572
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-29 07:16] cmsbuild commented on #33572
A new Issue was created by  @perrotta .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-29 07:17] silviodonato commented on #32646
https://github.com/cms-sw/cmssw/pull/33568

[2021-04-29 07:17] #32646 closed

[2021-04-29 12:39] archiron commented on #33554
@beaudett @jfernan2 Pr made : https://github.com/cms-sw/cmssw/pull/33575

[2021-04-29 15:58] makortel commented on #33553
A clear difference wrt `Task` is that `Task` holds "non-owning reference" to a module, i.e. the module must be "owned" by the `Process`. The `SwitchProducer`, on the other hand, "owns" the contained modules (and using same module objects elsewhere would lead to "funky behavior" if it would work at all).

It seems to me the arguments in favor of cfi outweight the arguments in favor of cff, even for

[2021-04-29 16:08] smuzaffar opened #33577 "CMS Jenkins not responding"
@cms-sw/all-l2  Looks like cms jenkins server is in a weird state and it is not responding. Due to this cms-bot is not reacting to any comments.
I am looking ion to the issue but I am afraid I might have to re-start the system in order to get it back to work. In that case all the running jobs will be killed.

[2021-04-29 16:18] smuzaffar commented on #33577
this might be related to https://cern.service-now.com/service-portal?id=outage&n=OTG0063676

[2021-04-29 16:26] smuzaffar commented on #33577
various services at CERN are unavailable/degraded https://cern.service-now.com/service-portal?id=outage&n=OTG0063677

[2021-04-29 16:41] smuzaffar commented on #33577
ping bot

[2021-04-29 16:41] cmsbuild commented on #33577
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-29 16:51] smuzaffar commented on #33577
Looks like Ceph issue is fixed now and access to jenkins Ceph volume is working now. Jenkins is up and run now usingf latest LTS version 2.277.3

[2021-04-29 16:51] #33577 closed

[2021-04-29 19:02] makortel opened #33578 "ProductNotFound in 546, 547, 548 workflows"
Workflows 546, 547, 548 step 2, 3, 3 (respectively) has been failing since CMSSW_12_0_X_2021-04-28-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-04-28-1100/pyRelValMatrixLogs/run/546.0_DYToLL_M-50_13TeV_pythia8+DYToLL_M-50_13TeV_pythia8+NANOGENFromGen/step2_DYToLL_M-50_13TeV_pythia8+DYToLL_M-50_13TeV_pythia8+NANOGENFromGen.log#/

[2021-04-29 19:03] makortel commented on #33578
assign generators, xpog

[2021-04-29 19:03] cmsbuild commented on #33578
New categories assigned: generators,xpog

@mkirsano,@SiewYan,@fgolf,@mariadalfonso,@alberto-sanchez,@gouskos,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-29 19:03] cmsbuild commented on #33578
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-29 19:03] makortel commented on #33578
https://github.com/cms-sw/cmssw/pull/33522 (merged in that IB) seems like a plausible cause

[2021-04-29 19:05] mariadalfonso commented on #33578
@mbluj
can you help here ?

[2021-04-29 19:18] pcanal commented on #33361
The last few error should be unrelated to the `TTreeCache::FillBuffer` report.  They seems to be indicative of a corrupted file and/or corrupted network packet.

[2021-04-29 19:23] kdlong commented on #33578
This looks like the likely culprit. Best would be to divide the tauMC statement into the genOnly pieces so the actual sequence can be added to NanoGen. Something like:

tauMCgen = cms.Sequence(tauGenJetsForNano + tauGenJetsSelectorAllHadronsForNano + genVisTaus + genVisTauTable)
tauMC = cms.Sequence(tauMCGen + tausMCMatchLepTauForTable + tausMCMatchHadTauForTable + tauMCTable)

then schedule tauMC

[2021-04-29 19:31] pcanal commented on #33361
Regarding the original issue, which turned out to be a spurrious error message :(, you can follow the resolution at https://github.com/root-project/root/issues/8048.

Issue: The error message was inaccurate, it did not take into account jagged filling of the TTreeCache.  In this case, the cache was filled with a little more than one cluster and when it needs to do the next refill it restarted from

[2021-04-29 19:50] wddgit commented on #33478
The PRs are all merged now. That completes my part of this. I don't when they will show up in releases...

[2021-04-29 19:51] makortel commented on #33478
+1

[2021-04-29 19:52] cmsbuild commented on #33478
This issue is fully signed and ready to be closed.

[2021-04-30 01:14] #33478 closed

[2021-04-30 03:46] gartung commented on #33297
When the coroutine is create the parent link is set to 0
https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/src/tbb/co_context.h#L176
When the coroutine is swapped back the thread exits after running the task. (edited)
The IgProf threadWrapper sees the task return and disables the profiling timer.
https://github.com/igprof/igprof/blob/03d16c15bd970256affcfde9e510a84

[2021-04-30 06:37] perrotta commented on #33554
In case it can be useful for further investigations meant to pinpoint other possibe related (and now hidded) issues, the original non-repeatibility appeared right after #33421 was merged.

[2021-04-30 08:46] mbluj commented on #33578
I think I can take it.
@kdlong, thanks for suggestion, I'll follow it.

[2021-04-30 11:06] mbluj commented on #33578
Fixes implemented in PR #33586 (master) and #33590 (106X).

[2021-04-30 12:17] dan131riley commented on #33567
There's a lot of these in the ROOT6_X IB, also a couple of unit test failures that look like they could be related, one in runtestTqafTopKinFitter:
[code]
and another in runtestTqafTopTools:
[code]

[2021-04-30 15:23] fwyzard commented on #31760
Coming back to this, maybe we should keep these two things separate:
  - a way to restrict a `SwitchProducer` to only one (or more) branch(es)
  - a way to limit the devices available to CMSSW

---

For example, a `SwitchProducerCUDA` could be configured to follow only the `cpu` branch (and thus ignore any GPU), or only the `cuda` branch (and thus require a GPU to be present) or be left free to ch

[2021-04-30 15:47] SohamBhattacharya commented on #32475
Hi @beaudett , @archiron , and Axel Perraguin (I did not find his git handle, so if anyone knows that, please feel free to tag him).
After some discussion in this thread we have decided to keep the barrel and endcap (HGCal) electron collections separate for now in MINIAOD. @hatakeyamak has provided some suggestions [1] regarding how the HGCal collection can be added to the MINIAOD validation setup

[2021-04-30 16:16] SohamBhattacharya commented on #32475
Hi @beaudett , thank you for pointing us to https://github.com/cms-sw/cmssw/pull/33421.
@silviodonato , can this issue be closed in light of this PR?

[2021-04-30 16:18] archiron commented on #32475
+1

[2021-04-30 21:26] gartung commented on #33297
Igprof sql files produced with debug symbols and new TBB
https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprof.cmsRun.21082.1619816598.200024
and without debug symbols and current tbb debug libraries
https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprof.cmsRun.19453.1619816253.837659/cumulative

[2021-05-01 10:11] mariadalfonso commented on #33578
+xpog

[2021-05-02 10:08] silviodonato commented on #33544
Is there any chance to have the fix ready by CMSSW_12_0_0_pre1 (next Tuesday)?

[2021-05-03 12:29] colizz opened #33607 "Peculiar $CMSSW_BASE path in latest CMSSW_12_0_X release"
The following environment setup commands run on lxplus report an error:
[code]
Error message:
[code]

Checking `$CMSSW_BASE`, it's still pointing to the cvmfs path
`/cvmfs/cms-ib.cern.ch/nweek-02679/slc7_amd64_gcc900/cms/cmssw-patch/CMSSW_12_0_X_2021-05-02-2300` instead of the working dir.

The older version e.g. `CMSSW_12_0_X_2021-04-29-1100` does not encounter the problem.

Besides, working on l

[2021-05-03 12:30] cmsbuild commented on #33607
A new Issue was created by  @colizz Congqiao Li.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-03 12:33] dan131riley opened #33608 "new-delete-type-mismatch in 11634.911 and 11650.911"
In the latest ASAN, wf 11634.911 and 11650.911 have a new/delete mismatch that I don't recall seeing before:
[code]

[2021-05-03 12:33] cmsbuild commented on #33608
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-03 12:37] silviodonato commented on #33607
Thanks a lot for reporting this.
I noticed that this error appeared since `CMSSW_12_0_X_2021-04-29-2300`. So I suspected it was from
https://github.com/cms-sw/cmsdist/pull/6849

and indeed I see the error in `CMSSW_12_0_SCRAMV3_X_2021-04-29-1100` and no error in `CMSSW_12_0_X_2021-04-29-1100`

[2021-05-03 12:37] silviodonato commented on #33607
assign core, externals

[2021-05-03 12:37] cmsbuild commented on #33607
New categories assigned: core,externals

@Dr15Jones,@smuzaffar,@smuzaffar,@mrodozov,@iarspider,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-03 12:43] silviodonato commented on #33607
@colizz meanwhile you can fix this using
[code]

[2021-05-03 12:47] Dr15Jones commented on #33608
Assign simulation

[2021-05-03 12:47] cmsbuild commented on #33608
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-03 12:48] dan131riley commented on #33608
Also in CMSSW_12_0 2021-04-26-2300, so can't tell how recent.  Possibly overlooked due to the continuing noise from #32550.  Possibly related to #33552.

[2021-05-03 12:56] smuzaffar commented on #33607
@colizz  @silviodonato I am not able to reproduce it. Can you please try in a fresh shell and see it you get this error? Can you please share your env before running these commands (send me an mail with the env output instead of posting it here)

[2021-05-03 12:56] colizz commented on #33607
Thanks, indeed. But there is another error later doing `scram b`:
[code]
Seems there is a conflict between the two directories anyhow.

[2021-05-03 12:59] colizz commented on #33607
Thanks. I'll send you the email (it happened that I was meeting this issue on afs dir, but it's fine in e.g. `/tmp`, maybe it's related to this.)

[2021-05-03 13:17] Dr15Jones commented on #33608
The properly is with an inappripriate inheritance. In DD4Hep we have

https://github.com/AIDASoft/DD4hep/blob/b95823997380f0d6f023e05e5705acd27993e945/DDG4/include/DDG4/Geant4AssemblyVolume.h#L40

but the base class from Geant4 does not have a virtual destructor
https://github.com/Geant4/geant4/blob/3dfcdb544e19888c7a5979720ae09596207436f2/source/geometry/volumes/include/G4AssemblyVolume.hh#L61

I

[2021-05-03 13:24] smuzaffar commented on #33607
I confirm thatI can re-produce it on AFS. I am checking

[2021-05-03 13:26] smuzaffar commented on #33607
we have moved to SCRAM V3 for CMSSW_12_0_X and it might be related to that, I am checking

[2021-05-03 13:29] makortel commented on #33608
assign geometry

[2021-05-03 13:29] cmsbuild commented on #33608
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-03 13:33] makortel commented on #32550
This problem is still being reported by ASAN, could someone please take a look? Thanks.

[2021-05-03 13:40] jfernan2 commented on #32550
Ping @sudhaahuja @phylsix @swagata87 @angirar @DryRun
Can you please have a look?

[2021-05-03 13:47] #33578 closed

[2021-05-03 13:47] swagata87 commented on #32550
Just to clarify that my mandate as EXO trigger contact ended rather long ago (in 2018).
Somehow the database/mailing list was not updated, I guess. Anyways, I see that the current EXO trigger contact, Angira, is also pinged. I hope she / EXO validation expert will have a look.

[2021-05-03 14:21] smuzaffar commented on #33607
https://github.com/cms-sw/cmsdist/pull/6868 (once merged and integrated in IB) should fix the issue

[2021-05-03 15:58] thomreis commented on #33425
Hi @ggovi do you have any comments on this issue?

[2021-05-03 15:59] colizz commented on #33607
@smuzaffar Thanks a lot!

[2021-05-03 20:27] cvuosalo commented on #33608
Thanks @Dr15Jones. I've informed Markus Frank.

[2021-05-03 22:12] colizz commented on #33544
Hi, I just submitted the PR to fix this: #33615.
The Herwig7 errors still occurs (as in the single-core case) but should be independent of the seg-fault raised here.

[2021-05-04 01:19] makortel opened #33616 "Treatment of bunch spacing in MixingModule and PreMixingModule for EventSetup consumes"
This issue is a follow-up to https://github.com/cms-sw/cmssw/pull/31697. As was noticed there, the `SiPixelDigitizerAlgorithm` uses the bunch spacing to decide which of the two `SiPixelDynamicIneffiency` ESProducts it gets. In `MixingModule` the bunch spacing is set in the configuration, with a possibility to update it via `MixingModuleConfig` ESProduct. For this alone the EventSetup consumes is s

[2021-05-04 01:20] makortel commented on #33616
assign simulation

[2021-05-04 01:20] cmsbuild commented on #33616
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-04 01:20] cmsbuild commented on #33616
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-04 01:20] makortel commented on #33616
FYI @cms-sw/trk-dpg-l2

[2021-05-04 07:55] smuzaffar commented on #33607
this is fixed now

[2021-05-04 07:55] #33607 closed

[2021-05-04 11:18] mrodozov commented on #33442
The library itself will be the same version. the problem might not be the same as gemm implementations on arm and ppc employ different simd gimmick than on x86. could be worse :D

[2021-05-04 13:13] slava77 commented on #33442
@gartung @smuzaffar @mrodozov
is there a way to trigger a profiling job for ARM or/and PPC? (I'd be interested at least in the 11634.21 wf)

[2021-05-04 13:14] slava77 commented on #33442
making a piechart/timing measurement should be enough

[2021-05-04 13:17] mrodozov commented on #33442
enable profiling

[2021-05-04 13:20] smuzaffar commented on #33442
@slava77 , currently no. Profiling job is only run if we have profiling enable for IB. as currently we have run profiling for production arch, so bit is not going to run profiling for PR

[2021-05-04 13:20] gartung commented on #33442
You would need to run the run-pr-profiling job specificly on the ARM and/or PPC node.

[2021-05-04 13:21] smuzaffar commented on #33442
of course one can manually run run-pr-profiling . @gartung,  does PR profiling need any thing from IB profiling?

[2021-05-04 13:28] gartung commented on #33442
The Jenkins profiling jobs are set to run on nodes marching profiling label, ie vocms011.

[2021-05-04 13:43] slava77 commented on #33442
I was mostly interested in a manual request to run.

[2021-05-04 13:56] smuzaffar commented on #33442
Let me start a job for last 12.0.X IB

[2021-05-04 14:21] srimanob commented on #30512
I believe this can be closed, @qliphy @silviodonato

[2021-05-04 14:28] mmusich commented on #30512
@cms-sw/geometry-l2 please sign.

[2021-05-04 14:36] mrodozov commented on #32141
I think this is new:
[code]

this part
`
PlacedVolume     INFO  REFLECTION: (x.Cross(y)).Dot(z):       -1 Parent: eregalgo:EFAW [TGeoVolume] Daughter: eregalgo:EHAWR [TGeoVolumeAssembly]`

and then it goes:

[code]

[2021-05-04 16:57] cvuosalo commented on #30512
+1

[2021-05-04 16:57] cmsbuild commented on #30512
This issue is fully signed and ready to be closed.

[2021-05-04 18:10] makortel opened #33623 "TestDQMOnlineClient-fed_dqm_sourceclient test fails"
TestDQMOnlineClient-fed_dqm_sourceclient test fails in CMSSW_12_0_X_2021-05-04-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-05-04-1100/unitTestLogs/DQM/Integration#/

[2021-05-04 18:11] makortel commented on #33623
assign dqm

[2021-05-04 18:11] cmsbuild commented on #33623
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-04 18:11] cmsbuild commented on #33623
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-04 18:11] makortel commented on #33623
Likely caused by https://github.com/cms-sw/cmssw/pull/33526

[2021-05-04 18:44] mmusich commented on #33623
Fixed at https://github.com/cms-sw/cmssw/pull/33625

[2021-05-04 18:49] makortel commented on #33470
We saw similar errors before in https://github.com/cms-sw/cmssw/issues/31657 (where the problem was on the server side).

[2021-05-04 19:06] jfernan2 commented on #33623
+1

[2021-05-04 19:07] cmsbuild commented on #33623
This issue is fully signed and ready to be closed.

[2021-05-04 19:21] #33623 closed

[2021-05-04 19:38] makortel commented on #31760
Good point that there can be cases where the `SwitchProducer` case choice can not be derived from the set of available devices (like Alpaka `serial` vs `tbb`).

And perhaps indeed it is best (certainly easiest from the application perspective) to not create a configuration mechanism for whatever devices. (at least until a real motivation for such comes up)

[2021-05-04 20:23] civanch commented on #33608
@cvuosalo , @ianna , I would guess, that destruction of G4 geometry is G4 responsibility. I see one place in CMSSW master thread where deletion is triggered. Are you sure that we do not have some CMSSW code where there is an attempt to delete Assembles?

[2021-05-05 00:34] #30512 closed

[2021-05-05 08:21] mariadalfonso opened #33630 "/usr/bin/env: python3: No such file or directory"
we stil get error like
`/usr/bin/env: python3: No such file or directory`
on top of CMSSW_12_0_X_2021-05-04-2300

To reproduce:

1.  script that try to run
https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration/-/blob/master/scripts/setup_reference.sh
https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration/-/blob/master/scripts/find_latest_IB.sh

2. Full Log with error
https://gitlab.cern.ch/cms-na