[2016-08-30 08:01] cmsbuild commented on #15651
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre11-slc6_amd64_gcc530/519
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-30 08:25] cmsbuild commented on #15651
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre11-slc6_amd64_gcc600/520
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-30 08:30] cmsbuild commented on #15651
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre11/slc6_amd64_gcc530/758/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-08-30 08:37] cmsbuild commented on #15651
The was error installing slc6_amd64_gcc600.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre11/slc6_amd64_gcc600/759/

[2016-08-30 08:49] cmsbuild commented on #15651
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre11-slc7_amd64_gcc530/521
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-08-30 09:15] cmsbuild commented on #15651
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre11/slc7_amd64_gcc530/760/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-08-30 10:09] smuzaffar commented on #15604
sorry @davidlange6 , I overlooked this issue. https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_18_patchX is available now. Let me know if this contains extra changes which should not be included.

[2016-08-30 10:54] davidlange6 commented on #15651
release-notes

[2016-08-30 10:55] cmsbuild commented on #15651
Generating release notes since CMSSW_8_1_0_pre10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-08-30 10:55] cmsbuild commented on #15651
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre11 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_1_0_pre10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre11

Cheers,
cms-bot

You can also click <a href="ma

[2016-08-30 10:56] cmsbuild commented on #15651
The installation has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre11/slc6_amd64_gcc600/761/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-08-30 10:58] cmsbuild commented on #15651
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre11

[2016-08-30 13:37] Dr15Jones opened #15660 "matplotlib does not work in CMSSW_8_1_DEVEL_X"
The python module matplotlib does not work in CMSSW_8_1_DEVEL_X_2016-08-27-1100 or later. The problem is

[code]

So it appears that the python module cycler is missing.

[2016-08-30 13:37] cmsbuild commented on #15660
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-30 13:37] Dr15Jones commented on #15660
assign core

[2016-08-30 13:37] cmsbuild commented on #15660
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-30 13:41] Dr15Jones commented on #15660
It is also failing in CMSSW_8_1_X_2016-08-29-2300. All these tries have been on cmsdev02.cern.ch.

[2016-08-30 13:45] Dr15Jones commented on #15660
CMSSW_8_1_0_pre10 does work.

[2016-08-30 13:53] smuzaffar commented on #15660
@Dr15Jones , a few days ago, we updated matpltlib to 1.5.2 in 81X. 810pre10 is using an older version 1.2.1.
@iahmad-khan , can you please check?

[2016-08-30 14:02] davidlange6 commented on #15660
looks like matplotlib now depends on cycler,

For standard Python installations you will also need to install compatible versions of setuptools, numpy, python-dateutil, pytz,pyparsing, and cycler in addition to matplotlib.

(

[2016-08-30 14:21] dan131riley commented on #14952
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc530/CMSSW_8_1_X_2016-08-29-1100/pyRelValMatrixLogs/run/25203.0_H125GGgluonfusion_13+H125GGgluonfusion_13INPUT+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25/step3_H125GGgluonfusion_13+H125GGgluonfusion_13INPUT+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25.log

[code]

[2016-08-30 14:26] dan131riley commented on #14952
Also probably

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc530/CMSSW_8_1_X_2016-08-29-1100/pyRelValMatrixLogs/run/25207.0_NuGun_UP15+NuGun_UP15INPUT+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25/step3_NuGun_UP15+NuGun_UP15INPUT+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25.log

but no stack trace

[code]

[2016-08-30 15:01] iahmad-khan commented on #15660
yes matplotlib is looking for cycler , in build log grep:

[code]

[2016-08-30 15:10] iahmad-khan commented on #15660
after adding the external , it got fixed , in build log , grep showed:

[code]

thanks to shahzad for trobleshooting tip.

[2016-08-30 19:46] dan131riley commented on #15524
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-08-30-1100/pyRelValMatrixLogs/run/13992501.0_ZMM_13_HS+ZMM_13_HSINPUT+DIGIUP15_PU25HS+RECOUP15_PU25HS+HARVESTUP15_PU25/step3_ZMM_13_HS+ZMM_13_HSINPUT+DIGIUP15_PU25HS+RECOUP15_PU25HS+HARVESTUP15_PU25.log

This one came after the the first eight events were processed, which adds support to the idea that this crash is muc

[2016-08-30 23:46] dan131riley commented on #14952
While running a test of workflow 13992501.0 step2 (MixingModule replay, which thrashes file opens, running at Cornell), I got the messages and stack trace:

[code]

Re-running with memcheck, I hit a similar message and crash, with relevant memcheck output

[code]

which looks like an ownership dispute between

https://github.com/cms-externals/xrootd/blob/cms/v4.3.0/src/XrdCl/XrdClXRootDTransport.c

[2016-08-31 10:16] perrozzi commented on #15291
the memory leak should be fixed by https://github.com/cms-sw/cmssw/pull/15673

[2016-09-01 08:43] smuzaffar commented on #15660
@Dr15Jones , this was fix here https://github.com/cms-sw/cmsdist/pull/2474
Can you please check if it works as expected?

[2016-09-01 08:55] cmsbuild commented on #15651
The cleanup has started for slc7_aarch64_gcc530

[2016-09-01 08:55] cmsbuild commented on #15651
The cleanup has started for slc6_amd64_gcc530

[2016-09-01 08:55] cmsbuild commented on #15651
The cleanup has started for slc6_amd64_gcc600

[2016-09-01 08:55] cmsbuild commented on #15651
The cleanup has started for slc7_amd64_gcc530

[2016-09-01 08:55] #15651 closed

[2016-09-01 08:57] cmsbuild commented on #15651
The workspace for slc6_amd64_gcc600 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre11-slc6_amd64_gcc600/479

[2016-09-01 08:58] cmsbuild commented on #15651
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre11-slc6_amd64_gcc530/478

[2016-09-01 09:06] cmsbuild commented on #15651
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre11-slc7_amd64_gcc530/481

[2016-09-01 13:32] Dr15Jones commented on #15660
It now fails in a new way
[code]
where I'm on cmsdev02
[code]
A simple test would just be to do  ```import matplotlib.pyplot```

[2016-09-01 15:56] smuzaffar commented on #15660
looks like an other new dependency for matplotlib 1.5.x.
Look like we have explicitly removed this from our python  https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_8_1_X/gcc530/python.spec#L175

@davidlt, I see that originally it was removed from online releases but now it is dropped from every build. Do you recall any reason why it was removed.

[2016-09-01 16:14] davidlt commented on #15660
Well, that was in 2009. A couple of years before I started working on this :) See ce43e6ace2425c96767a6276abdeea404a0764a9

Looking at the history, it was removed as Lassi complained about it. Nothing is using Tcl/Tk in CMSSW. Technically you cannot build a Python without Tcl/Tk GUI package. But CMSSW actually has Tcl and Tk part of it bootstrap.

Right after `import matplotlib` one can select a d

[2016-09-02 14:22] smuzaffar commented on #15602
this is done

[2016-09-02 14:22] #15602 closed

[2016-09-03 14:28] dan131riley commented on #15145
Another one from one of the HI workflows that only does 2 events, so if there's interference we know it's from the other thread

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-09-02-1100/pyRelValMatrixLogs/run/140.1_QCD_Pt_80_120_13_HI+QCD_Pt_80_120_13_HIINPUT+DIGIHI+RECOHI+HARVESTHI/step3_QCD_Pt_80_120_13_HI+QCD_Pt_80_120_13_HIINPUT+DIGIHI+RECOHI+HARVESTHI.log

[c

[2016-09-05 07:17] smuzaffar opened #15725 "Build CMSSW_8_0_19_Geant4102"
RELEASE_QUEUE: CMSSW_8_0_GEANT4_X

[2016-09-05 07:18] smuzaffar commented on #15725
+1

[2016-09-05 07:20] cmsbuild commented on #15725
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-05 07:20] cmsbuild commented on #15725
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19_Geant4102. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-09-05 07:20] cmsbuild commented on #15725
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-09-05 07:21] cmsbuild commented on #15725
The build has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/790/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-05 07:21] cmsbuild commented on #15725
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/792/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-05 07:21] cmsbuild commented on #15725
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/791/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-05 07:33] cmsbuild commented on #15725
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/793/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530G4](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530G4), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-05 08:02] cmsbuild commented on #15725
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_Geant4102-slc6_amd64_gcc530/793

[2016-09-05 09:03] cmsbuild commented on #15725
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/794/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530G4](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530G4), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-05 09:29] cmsbuild commented on #15725
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_Geant4102-slc6_amd64_gcc530/794

[2016-09-05 10:08] cmsbuild commented on #15725
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/795/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530G4](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530G4), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-05 11:33] covarell opened #15729 "Remove from cms-sw/generators watch and approval"
Since my GEN convenership term ended, can I ask you to remove my username (@covarell) from cms-sw/generators watch and approval rights? thanks

[2016-09-05 11:34] cmsbuild commented on #15729
A new Issue was created by  @covarell Roberto Covarelli.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-05 11:49] cmsbuild commented on #15725
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/796/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530G4](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530G4), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-05 11:55] smuzaffar commented on #15729
done https://github.com/cms-sw/cms-bot/commit/750132a444669036d9a67675db5cd599f11421a8#diff-417e11b1e1850b8ae8144113fab3075e

[2016-09-05 11:55] #15729 closed

[2016-09-05 14:28] cmsbuild commented on #15725
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_Geant4102-slc6_amd64_gcc530/796
Some

[2016-09-05 14:56] cmsbuild commented on #15725
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_Geant4102-slc6_amd64_gcc530/796

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-05 15:03] smuzaffar commented on #15725
upload all

[2016-09-05 15:04] cmsbuild commented on #15725
Queing Jenkins upload for slc6_amd64_gcc530

[2016-09-05 15:05] cmsbuild commented on #15725
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/522/console

[2016-09-05 15:36] cmsbuild commented on #15725
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19_Geant4102-slc6_amd64_gcc530/522
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-05 15:53] cmsbuild commented on #15725
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19_Geant4102/slc6_amd64_gcc530/762/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you p

[2016-09-05 15:57] smuzaffar commented on #15725
release-notes since CMSSW_8_0_19

[2016-09-05 15:58] cmsbuild commented on #15725
Generating release notes since CMSSW_8_0_19.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-09-05 15:58] cmsbuild commented on #15725
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_19_Geant4102 is now available for the following architectures:

slc6_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_19 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_19_Geant4102

RELEASE_QUEUE: CMSSW_8_0_GEANT4_X

Cheers,
cms-bot

You can a

[2016-09-05 15:59] cmsbuild commented on #15725
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19_Geant4102

[2016-09-05 16:03] smuzaffar commented on #15725
@davidlange6 , release is ready to be announced

[2016-09-05 17:36] dan131riley commented on #15145
New variation

[code]

[2016-09-06 01:48] aperloff opened #15739 "Update GSL Version"
It appears that the GSL version used for slc6_amd64_gcc530 (i.e. CMSSW_8_1_0_pre9) is 1.16, which came out on 7/19/2013. This is quite old and there was a new version, 2.2.1, released on 8/31/2016. Could this be added as a planned update of the external packages?

[2016-09-06 01:50] cmsbuild commented on #15739
A new Issue was created by  @aperloff Alexx Perloff.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-06 15:11] smuzaffar commented on #15739
assign externals

[2016-09-06 15:12] cmsbuild commented on #15739
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-06 16:56] davidlange6 opened #15752 "Build CMSSW_8_0_19_patch1"
Primary purpose is for HLT requests

[2016-09-06 16:57] cmsbuild commented on #15752
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-06 16:57] davidlange6 commented on #15752
+1

[2016-09-06 16:58] cmsbuild commented on #15752
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-09-06 16:58] cmsbuild commented on #15752
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-09-06 18:49] cmsbuild commented on #15752
The build has started for slc7_amd64_gcc530 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/797/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-06 18:51] cmsbuild commented on #15752
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/798/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-06 18:55] cmsbuild commented on #15752
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/799/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-06 19:49] cmsbuild commented on #15752
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch1-slc6_amd64_gcc493/798
Some te

[2016-09-06 20:13] cmsbuild commented on #15752
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch1-slc6_amd64_gcc493/798

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-06 20:23] cmsbuild commented on #15752
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch1-slc6_amd64_gcc530/799
Some te

[2016-09-06 20:49] cmsbuild commented on #15752
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch1-slc6_amd64_gcc530/799

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-06 21:02] cmsbuild commented on #15752
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch1-slc7_amd64_gcc530/797
Some te

[2016-09-06 21:40] cmsbuild commented on #15752
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch1-slc7_amd64_gcc530/797

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-07 06:26] davidlange6 commented on #15752
upload all

[2016-09-07 06:26] cmsbuild commented on #15752
Queing Jenkins upload for slc6_amd64_gcc493

[2016-09-07 06:26] cmsbuild commented on #15752
Queing Jenkins upload for slc6_amd64_gcc530

[2016-09-07 06:26] cmsbuild commented on #15752
Queing Jenkins upload for slc7_amd64_gcc530

[2016-09-07 06:27] cmsbuild commented on #15752
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/524/console

[2016-09-07 06:27] cmsbuild commented on #15752
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/523/console

[2016-09-07 06:27] cmsbuild commented on #15752
The upload has started for slc7_amd64_gcc530 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/525/console

[2016-09-07 06:58] cmsbuild commented on #15752
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19_patch1-slc6_amd64_gcc493/523
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-07 07:06] cmsbuild commented on #15752
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19_patch1/slc6_amd64_gcc493/763/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-09-07 07:20] cmsbuild commented on #15752
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19_patch1-slc6_amd64_gcc530/524
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-07 07:27] cmsbuild commented on #15752
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19_patch1/slc6_amd64_gcc530/764/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-09-07 07:35] davidlange6 commented on #15752
release-notes

[2016-09-07 07:36] cmsbuild commented on #15752
Generating release notes since CMSSW_8_0_19.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-09-07 07:36] cmsbuild commented on #15752
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_19_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_19 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_19_patch1

Primary purpose is for HLT requests

Cheers

[2016-09-07 07:37] cmsbuild commented on #15752
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19_patch1

[2016-09-07 07:39] cmsbuild commented on #15752
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19_patch1-slc7_amd64_gcc530/525
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-07 07:45] cmsbuild commented on #15752
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19_patch1/slc7_amd64_gcc530/765/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-09-07 13:40] vkuznet commented on #14459
A new DAS client is available on cvmfs: /cvmfs/cms.cern.ch/common/das_client
it points to new version /cvmfs/cms.cern.ch/slc7_amd64_gcc530/cms/das_client/v03.01.00/bin/das_client.py
which implements proper SSLContext as well as points to /etc/grid-security/certificates CA's by default. Therefore I'd suggest we close the ticket.

[2016-09-07 14:05] #14459 closed

[2016-09-07 14:09] cmsbuild commented on #15725
The cleanup has started for slc6_amd64_gcc530

[2016-09-07 14:09] #15725 closed

[2016-09-07 14:10] cmsbuild commented on #15725
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_19_Geant4102-slc6_amd64_gcc530/482

[2016-09-07 15:25] bbockelm commented on #15652
Fixed by PR #15760.

[2016-09-07 15:41] bbockelm opened #15763 "Report CPU usage to HTCondor reporting service"
The HTCondor reporting service's initial implementation didn't include CPU usage information - it was considered redundant as HTCondor also measured CPU usage of the entire job.

*However*, WMAgent can package multiple invocations of `cmsRun` into a single HTCondor job: this means we can't differentiate the CPU usage from each step without digging up the individual step FJR or stdout.

Hence, we s

[2016-09-07 15:56] cmsbuild commented on #15763
A new Issue was created by  @bbockelm Brian Bockelman.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-07 15:57] Dr15Jones commented on #15763
assign core

[2016-09-07 15:57] cmsbuild commented on #15763
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-07 15:59] bbockelm opened #15764 "Automatically account for CPU usage of child processes"
While the TimingServiceBase allows generators that are fork/exec'd to explicitly report out-of-process CPU usage, it seems that no one is currently doing this.

Accordingly, we should automatically add the CPU usage of children via the `getrusage(RUSAGE_CHILDREN, ...)` call.

[2016-09-07 15:59] cmsbuild commented on #15764
A new Issue was created by  @bbockelm Brian Bockelman.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-07 16:19] davidlange6 opened #15765 "Build CMSSW_7_1_25_patch1"
Primary purpose is to update gen filters.

[2016-09-07 16:19] davidlange6 commented on #15765
+1

[2016-09-07 16:22] cmsbuild commented on #15765
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-07 16:22] cmsbuild commented on #15765
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_25_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2016-09-07 16:22] cmsbuild commented on #15765
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-09-07 17:17] davidlange6 commented on #15725
@civanch - could you confirm that this release is ok for you - then I can announce it.

[2016-09-07 17:46] civanch commented on #15725
@davidlange6 , yes local test with few events and new PhysList is OK.

[2016-09-07 18:11] cmsbuild commented on #15765
The build has started for slc6_amd64_gcc481 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/800/console
CMSDIST Branch: [REL/CMSSW_7_1_25/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_25/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-07 19:04] cmsbuild commented on #15765
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_25_patch1-slc6_amd64_gcc481/800
Some te

[2016-09-07 19:24] cmsbuild commented on #15765
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_25_patch1-slc6_amd64_gcc481/800

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2016-09-07 20:04] Dr15Jones opened #15769 "METAnalyzer tries to get TriggerResults while on a Path"
The METAnalyzer tries to get a series of TriggerResults
http://cmslxr.fnal.gov/lxr/source/DQMOffline/JetMET/src/METAnalyzer.cc?v=CMSSW_8_1_X_2016-08-25-2300#0061
http://cmslxr.fnal.gov/lxr/source/DQMOffline/JetMET/src/METAnalyzer.cc?v=CMSSW_8_1_X_2016-08-25-2300#0160
http://cmslxr.fnal.gov/lxr/source/DQMOffline/JetMET/src/METAnalyzer.cc?v=CMSSW_8_1_X_2016-08-25-2300#0163

The problem is it lives o

[2016-09-07 20:04] Dr15Jones commented on #15769
urgent

[2016-09-07 20:04] cmsbuild commented on #15769
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-07 20:04] Dr15Jones commented on #15769
assign dqm

[2016-09-07 20:04] cmsbuild commented on #15769
New categories assigned: dqm

@vanbesien,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-08 07:25] davidlange6 commented on #15765
upload all

[2016-09-08 07:27] cmsbuild commented on #15765
Queing Jenkins upload for slc6_amd64_gcc481

[2016-09-08 07:27] cmsbuild commented on #15765
The upload has started for slc6_amd64_gcc481 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/526/console

[2016-09-08 07:58] cmsbuild commented on #15765
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_25_patch1-slc6_amd64_gcc481/526
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-08 08:05] cmsbuild commented on #15765
The installation has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_25_patch1/slc6_amd64_gcc481/766/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-09-08 13:07] davidlange6 commented on #15765
release-notes

[2016-09-08 13:08] cmsbuild commented on #15765
Generating release notes since CMSSW_7_1_25.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-09-08 13:08] cmsbuild commented on #15765
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_25_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_25 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_25_patch1

Primary purpose is to update gen filters.

Cheers,
cms-bot

Y

[2016-09-08 13:09] cmsbuild commented on #15765
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_25_patch1

[2016-09-08 14:30] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-09-07-1100/pyRelValMatrixLogs/run/136.733_RunCosmics2016B+RunCosmics2016B+RECOCOSDRUN2+ALCACOSDRUN2+HARVESTDCRUN2/step2_RunCosmics2016B+RunCosmics2016B+RECOCOSDRUN2+ALCACOSDRUN2+HARVESTDCRUN2.log

[code]

[2016-09-08 15:01] kpedro88 commented on #14575
@davidlt @iahmad-khan any further progress on fixing this?

[2016-09-08 15:49] Dr15Jones opened #15781 "EcalHaloDataProducer causing circular dependencies in RECO path"
The improved module/Path circular dependency checker found the following problem in workflow 8.0

[code]

The relevant part of the  `reconstruction_step` path looks like

[code]

Where `EcalHaloData` is the `EcalHaloDataProducer` and it does ask for the data from `photons`

[code]

`EcalHaloDataProducer` uses `EcalHaloAlgo` to do the work and that class ignores the Photon collection if the handle

[2016-09-08 15:50] Dr15Jones commented on #15781
This problem must be resolved before I can commit the next threaded framework change since that change requires that no circular dependencies exist in the schedule.

[2016-09-08 15:51] cmsbuild commented on #15781
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-08 15:51] Dr15Jones commented on #15781
assign reconstruction

[2016-09-08 15:51] cmsbuild commented on #15781
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-08 16:12] slava77 commented on #15781
@lathomas @mariadalfonso  @zdemirag
please investigate

@Dr15Jones I suppose, this is essential at this point for 81X and later, right?

[2016-09-08 16:21] slava77 commented on #15781
@Dr15Jones if we just change 8.0 to run this step unscheduled, will you be able to continue with your threaded framework changes?

[2016-09-08 16:29] Dr15Jones commented on #15781
Unscheduled would fix this (assuming there isn't a true underlying cycle from data dependencies lurking in that configuration).

[2016-09-08 18:33] slava77 opened #15786 "unrunnable configuration after dumpPython with sequence containing empty sequence"
[code]

Seems to me we should fix it. Could you make an issue?

A simple test is

[code]

original ref
https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3675/1.html

[2016-09-08 18:33] cmsbuild commented on #15786
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-08 18:36] slava77 commented on #15786
80X is already affected by this and will prevent switching T0 to run on the most recent 80X.
If the time scale for the fix in framework is significant, I can apply a fix to one specific case that has a problem.

[2016-09-08 18:36] Dr15Jones commented on #15786
assign core

[2016-09-08 18:36] cmsbuild commented on #15786
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-08 18:36] Dr15Jones commented on #15786
@wddgit

[2016-09-08 18:51] slava77 commented on #15786
... actually, I'm not 100% sure about the effect on T0.

The locally generated T0 data processing test configs have a problem ("recoinator" script calls .dumpPython).

I'm not sure what happens in the guts of WMAgent which generates the actual T0 configs (CMSSW passes python cms.Process object to the external code) to make the .pkl files.
Quite likely it's the same mechanism though.

[2016-09-08 19:35] wddgit commented on #15786
@Dr15Jones Which releases should I submit a pull request to?  Do we have pull request from 8_0_X automatically also submitted to 8_1_X?

[2016-09-08 19:53] Dr15Jones commented on #15786
Do both 8_1_X and 8_0_X and in the 8_0_X say it is a back port.

[2016-09-08 20:25] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-09-08-1100/pyRelValMatrixLogs/run/140.2_PhotonJets_Pt_10_13_HI+PhotonJets_Pt_10_13_HIINPUT+DIGIHI+RECOHI+HARVESTHI/step3_PhotonJets_Pt_10_13_HI+PhotonJets_Pt_10_13_HIINPUT+DIGIHI+RECOHI+HARVESTHI.log

Another one with only two threads, will have to try using these to narrow down what the other thread was just doing...

[2016-09-08 22:49] wddgit commented on #15786
#15791 and #15790 should fix this. I only tested this within the Core code though. @slava77 let us know if this does not fix the actual problem case.

[2016-09-08 23:33] rijuvenator commented on #13201
Hi,

Was this problem ever solved? It still seems to be happening on lxplus, using CMSSW_8_1_0_pre8

[2016-09-08 23:46] slava77 commented on #15786
@wddgit
it looks like your fix addressed the empty sequence issue.

... I will need to open another issue though, it looks like we have another case of "nothing" creating problems.

[2016-09-09 00:01] slava77 opened #15792 "unrunnable configuration after dumpPython with sequence containing deleted module"
There is a problem with configuration produced by dumpPython for sequences containing deleted module

[code]

this will run with a original python config.

If instead, config from process.dumpPython  is used we get
`process.seqB = cms.Sequence(process.modA + process.None)`
which does not run

[2016-09-09 00:03] slava77 commented on #15786
the issue for the problem in 81X, next in row after the "++" problem is fixed is
https://github.com/cms-sw/cmssw/issues/15792

[2016-09-09 00:06] cmsbuild commented on #15792
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-09 06:15] cmsbuild commented on #15752
The cleanup has started for slc6_amd64_gcc493

[2016-09-09 06:15] cmsbuild commented on #15752
The cleanup has started for slc6_amd64_gcc530

[2016-09-09 06:16] cmsbuild commented on #15752
The cleanup has started for slc7_amd64_gcc530

[2016-09-09 06:16] #15752 closed

[2016-09-09 06:16] cmsbuild commented on #15752
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_19_patch1-slc6_amd64_gcc493/483

[2016-09-09 06:17] cmsbuild commented on #15752
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_19_patch1-slc6_amd64_gcc530/484

[2016-09-09 06:20] cmsbuild commented on #15752
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_19_patch1-slc7_amd64_gcc530/485

[2016-09-09 08:16] davidlange6 opened #15794 "Build CMSSW_8_0_20"
Primary purpose: rereco candidate and pileup scenario for Moriond MC.

[2016-09-09 08:17] cmsbuild commented on #15794
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-09 08:19] davidlange6 commented on #15794
+1

[2016-09-09 08:21] cmsbuild commented on #15794
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_20. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-09-09 08:21] cmsbuild commented on #15794
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-09-09 09:38] cmsbuild commented on #15794
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/802/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-09 09:43] cmsbuild commented on #15794
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/803/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-09 11:30] cmsbuild commented on #15794
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/804/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-09 11:33] Dr15Jones commented on #15792
I'm not saying that shouldn't try to fix these, but it is problems like these which is why the workflow system abandoned using dumpPython many years ago.

[2016-09-09 11:37] davidlange6 commented on #15792
only it didn’t abandon it.…

[2016-09-09 12:02] Dr15Jones commented on #15792
@ericvaandering My understanding was pickling allowed WMAgent to avoid use of dumpPython

[2016-09-09 12:09] cmsbuild commented on #15794
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20-slc6_amd64_gcc493/802
Some tests ( r

[2016-09-09 12:13] ericvaandering commented on #15792
We did:

[code]

Yours truly in 2012: https://github.com/dmwm/WMCore/pull/4023

[2016-09-09 12:21] lathomas commented on #15781
@slava77 @Dr15Jones  It's fine to set the photon collection to an empty string. The collection is not used in the current halo filter.

[2016-09-09 12:38] cmsbuild commented on #15794
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20-slc6_amd64_gcc493/802

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-09 13:01] ericvaandering commented on #15792
What do you mean by "3 ways"? CRAB and WMAgent at least do things almost the same. The difference is that WMAgent jobs start with the base PSet without all the imports resolved while CRAB cannot do this since there are user-level changes. So CRAB works with a pickled version on the submit node and WMAgent doesn't use pickle until the WN. But the input in CMSSW should be the same.

[2016-09-09 13:05] davidlange6 commented on #15792
cmsDriver has long had two ways (one used by ~everything outside of Config/DataProcessing and another used by Confg/DataProcessing, which is aka, the pre 2012 WMAgent way) - neither being the way CRAB/WMAgent does it now (or since 2012).

[2016-09-09 13:14] cmsbuild commented on #15794
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20-slc6_amd64_gcc530/803
Some tests ( r

[2016-09-09 13:15] slava77 commented on #15781
On 9/9/16 5:21 AM, lathomas wrote:

Would you like to make a pull request for this?
Please let us know.

Thank you.

[2016-09-09 13:28] slava77 commented on #15792
On 9/9/16 6:05 AM, David Lange wrote:

We can update the test DataProcessing workflow to use pickle.
Could someone please give some pointers (copy-pasteable example is the best)

Thanks.

[2016-09-09 13:32] ericvaandering commented on #15792
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Scripts/SetupCMSSWPset.py#L738 May be what you want. I believe we write two files, one text, one binary, to avoid issues with python strings not being able to capture every possible output of pickle.

Note this code is a bit old and should really be done with context managers and in python 2.7 you can even open two files in a s

[2016-09-09 13:35] cmsbuild commented on #15794
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20-slc6_amd64_gcc530/803

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-09 14:27] wddgit commented on #15786
OK. Good. Recommend we close this issue. I will read 15792 now. (PRs #15791 and #15790)

[2016-09-09 14:36] slava77 commented on #15786
closing as resolved

[2016-09-09 14:36] #15786 closed

[2016-09-09 15:38] wddgit commented on #15792
Using pickle instead of dumpPython sounds like a reasonable idea and I am not against that.

On the other hand, one thing I notice looking at the python code. If one replaces a module already attached to the Process object, there are 2 cases:

Case 1: If it is during a process load, it checks to see if the module is already on a path, endpath, or sequence that is attached to the process and raises

[2016-09-09 15:48] slava77 commented on #15792
I would expect that "None" is ignored in parsing and actual schedule construction as a part of this issue resolution.

[2016-09-09 16:00] Dr15Jones commented on #15792
If one deletes it from the process and then later attaches a Sequence containing the deleted item you'd still get `None`. Effectively we have no way of understanding ones intent under that case since you could mean

- I didn't realize the Sequence had that module but I really don't want it anyway or
- I didn't realize the Sequence had that module and what I really want to do only works of that mod

[2016-09-09 16:14] slava77 commented on #15792
On 9/9/16 9:00 AM, Chris Jones wrote:

sounds analogous to an auto-correct that can not be disabled.

On a more practical note.
A delete was called for a module object, but didn't delete the element
from the sequences.
I'd be fine to cleanup the sequences as well.
Please suggest a way to do it (preferably without making subsequences
expand).
I suppose this will need to be removed from the sequence

[2016-09-09 16:58] davidlange6 commented on #15794
upload all

[2016-09-09 16:59] cmsbuild commented on #15794
Queing Jenkins upload for slc6_amd64_gcc493

[2016-09-09 16:59] cmsbuild commented on #15794
Queing Jenkins upload for slc6_amd64_gcc530

[2016-09-09 16:59] cmsbuild commented on #15794
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/527/console

[2016-09-09 16:59] cmsbuild commented on #15794
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/528/console

[2016-09-09 17:37] cmsbuild commented on #15794
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_20-slc6_amd64_gcc493/527
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-09 17:55] wddgit commented on #15792
The replace function currently used when replacing a module does the opposite. It expands the sequence at and above the level where the change was made and avoids modifying the subsequences that are inside of sequences (unless they are also attached to the process and get changed for that reason).

We could instead find all the sequences and contained sequences whether they are attached to the pro

[2016-09-09 17:57] cmsbuild commented on #15794
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_20/slc6_amd64_gcc493/767/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-09-09 18:09] cmsbuild commented on #15794
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_20-slc6_amd64_gcc530/528
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-09 18:30] cmsbuild commented on #15794
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_20/slc6_amd64_gcc530/768/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-09-09 19:21] davidlange6 commented on #15794
release-notes

On 09 Sep 2016, at 20:30, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_20/slc6_amd64_gcc530/768/
To generate the release notes for the release write "release-notes since <previous-release>

[2016-09-09 19:22] cmsbuild commented on #15794
Generating release notes since CMSSW_8_0_19_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-09-09 19:22] cmsbuild commented on #15794
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_20 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_19_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_20

Primary purpose: rereco candidate and pileup scenario fo

[2016-09-09 19:23] cmsbuild commented on #15794
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_20

[2016-09-09 19:24] wddgit commented on #15792
I discussed this with Chris some more. We think it makes sense to change the behavior so that deleting a module from the process causes the module to be removed from all paths, endpaths, and Sequences that are attached to the process. It is something we could reasonably do. It makes deleting more like replacing. This might be enough to remove all the None's we currently see in the output of dumpPy

[2016-09-09 19:33] cmsbuild commented on #15794
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20-slc7_amd64_gcc530/804
Some tests ( r

[2016-09-09 19:34] cmsbuild commented on #15794
Queing Jenkins upload for slc7_amd64_gcc530

[2016-09-09 19:34] cmsbuild commented on #15794
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/529/console

[2016-09-09 19:42] slava77 commented on #15792
On 9/9/16 12:24 PM, W. David Dagenhart wrote:

I guess if we get identical results, it is still OK.
I do not know offhand what else is going on in (mostly pat)
configuration building
that may still depend on subsequences.

Expanding subsequences makes debugging of configuration building much
more complicated
when relying on pythonDump output.

[2016-09-09 20:05] cmsbuild commented on #15794
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_20-slc7_amd64_gcc530/529
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-09 20:23] cmsbuild commented on #15794
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_20/slc7_amd64_gcc530/769/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-09-09 20:27] cmsbuild commented on #15794
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20-slc7_amd64_gcc530/804

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-10 11:08] cmsbuild commented on #15765
The cleanup has started for slc6_amd64_gcc481

[2016-09-10 11:08] #15765 closed

[2016-09-10 11:09] cmsbuild commented on #15765
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_25_patch1-slc6_amd64_gcc481/486

[2016-09-10 15:12] Dr15Jones opened #15806 "Inconsistency between RECO and ALCA paths for workflow 25.0"
The improved algorithm for finding inconsistent module/Path dependency found the following problem in step3 of workflow 25.0
[code]

Ultimately the problem is the ALCA path `pathALCARECOEcalUncalWElectron` includes `ecalDigis` and the path `reconstruction_step` (the loop then comes back around `alcaElectronTracksReducer` on path `pathALCARECOEcalUncalWElectron` needs `generalTracks` which come fro

[2016-09-10 15:13] cmsbuild commented on #15806
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-10 15:13] Dr15Jones commented on #15806
assign alca

[2016-09-10 15:13] Dr15Jones commented on #15806
assign reconstruction

[2016-09-10 15:13] Dr15Jones commented on #15806
assign core

[2016-09-10 15:14] cmsbuild commented on #15806
New categories assigned: core,reconstruction,alca

@Dr15Jones,@smuzaffar,@cvuosalo,@mmusich,@slava77,@cerminar,@franzoni,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-10 16:24] mmusich commented on #15806
@shervin86

[2016-09-10 17:00] slava77 commented on #15806
On 9/10/16 8:12 AM, Chris Jones wrote:

I think some ALCA paths are prepared to be able to run independently
with RAW inputs.
So, naturally, each of this kind will have a raw2digi on the path.
This behavior should be preserved if you reorder modules in pathALCA.

reco workflows are built from "steps" of the cmsDriver/ConfigBuilder
and they are each implemented as a cms.Path.
However, they are not

[2016-09-10 18:35] Dr15Jones commented on #15806
But the way pathALCA is made one could not efficiently run it on a file already containing the digis since the path design forces rerunning of that digi.
Seems to me like one should have two different ALCA paths, standalone ones and ones meant to be used with other steps.

[2016-09-10 18:47] Dr15Jones commented on #15769
The updated schedule inconsistency checker [ #15740 ] has found additional DQM related problems. They are all related to asking for TriggerResults from the Path and not EndPath. The two new error messages are

from workflows
 140.1,140.2,140.4,145.0
[code]

From workflows
5.1, 5.2,5.3,5.4,5.5, 5.6, 5.7
135.1,135.2,135.3,135.4,135.5,135.6,135.7,135.9,135.11,135.12
[code]

[2016-09-10 18:48] Dr15Jones commented on #15806
Yes, I agree that the real underlying problem is raw2digi and reco are not self-contained paths.

[2016-09-10 18:57] Dr15Jones commented on #15769
From the 5.1 workflow configuration
[code]
So you see that `RunHPSValidationRealMuonsData.GenericTriggerSelection. hltInputTag` is set to `cms.InputTag("TriggerResults","","HLT")`. However this is running in step1 which is the `HLT` process and since the module is in a Path it is impossible for it to get the TriggerResults it wants.

[2016-09-10 19:03] Dr15Jones commented on #15769
From the 140.1 workflow
[code]
Here the problem is `higPhotonJetHLTOfflineSource.triggerResultsToken` which is set to read the 'default' TriggerResults. However, with the upcoming framework change the default is the TriggerResults made in this process which is only accessible after all Paths have finished.

[2016-09-10 19:30] Dr15Jones opened #15807 "HeavyIon addOn tests have incorrect module ordering"
The new module/Path consistency check ( #15740 ) found the following problem in the two HI related addOn tests:
[code]
Looking at the relavant part of the reconstruction_step Path does show the problem is real
[code]

Where `hiEvtPlane` is
[code]
It is impossible for `hiEvtPlane` to get the `CastorTowerReco` it does need.

The upcoming threaded framework update no longer tolerates this behavior an

[2016-09-10 19:31] cmsbuild commented on #15807
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-10 19:35] Dr15Jones commented on #15807
assign reconstruction

[2016-09-10 19:35] Dr15Jones commented on #15807
assign hlt

[2016-09-10 19:35] cmsbuild commented on #15807
New categories assigned: hlt,reconstruction

@cvuosalo,@Martin-Grunewald,@slava77,@perrotta,@silviodonato,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-10 19:38] Dr15Jones commented on #15807
assign core

[2016-09-10 19:38] cmsbuild commented on #15807
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-10 20:07] Dr15Jones commented on #15806
fixed by #15806

[2016-09-11 00:49] slava77 commented on #15807
are these workflows unscheduled already? Does the issue remain in unscheduled mode?

We have quite a bit of "legacy" that was never converted to unscheduled, while the central workflows for the equivalents are unscheduled.

[2016-09-11 00:51] slava77 commented on #15806
@Dr15Jones your "fixed by" message is circular

[2016-09-11 04:11] Dr15Jones commented on #15769
All of these problems stem from `dqmoffline_step` being a Path instead of an EndPath.

[2016-09-11 04:14] Dr15Jones commented on #15806
+1

[2016-09-11 16:39] Dr15Jones commented on #15769
It looks like `dqmoffline_step` is sometimes a Path and sometimes an EndPath: see
https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/Configuration/Applications/python/ConfigBuilder.py#L1944

It looks like this is the crude attempt to get the pick up the TriggerResults for the HLT process even when one uses an empty processName. However, the only module which uses an empty processName is `higPhotonJe

[2016-09-11 17:25] cmsbuild commented on #15794
The cleanup has started for slc6_amd64_gcc493

[2016-09-11 17:25] cmsbuild commented on #15794
The cleanup has started for slc6_amd64_gcc530

[2016-09-11 17:25] cmsbuild commented on #15794
The cleanup has started for slc7_amd64_gcc530

[2016-09-11 17:25] #15794 closed

[2016-09-11 17:26] cmsbuild commented on #15794
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_20-slc6_amd64_gcc493/487

[2016-09-11 17:27] cmsbuild commented on #15794
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_20-slc6_amd64_gcc530/488

[2016-09-11 17:33] cmsbuild commented on #15794
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_20-slc7_amd64_gcc530/489

[2016-09-11 19:51] Dr15Jones commented on #15769
Two of the three fixes are in #15809

[2016-09-12 13:31] Dr15Jones commented on #15807
These workflows are not unscheduled. See
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-15740/15080/addOnTests/hlt_data_HIon/RelVal_HLT_RAW2DIGI_L1Reco_RECO.py

However, since this is a combined "HLTRECO" job, are those rated to work as unscheduled?

[2016-09-12 13:34] Martin-Grunewald commented on #15807
Since HLT is not unscheduled, I do not think HLT+RECO could be unscheduled...

[2016-09-12 13:35] Martin-Grunewald commented on #15807
In any case I would assume a "@skipCurrentProcess" is simply missing...?

[2016-09-12 13:36] Dr15Jones commented on #15807
The data the module wants is there, it is just generated by a module that is run just a couple of slots later in the same Path.

[2016-09-12 13:37] Dr15Jones commented on #15807
'@skipCurrentProcess' would make it behave the same as it does now, but I think I found a true bug which was being hidden by modules not reporting when they can't get the data they need.

[2016-09-12 13:47] Dr15Jones commented on #15807
I think the problem could be fixed by changing line 56
http://cmslxr.fnal.gov/source/Configuration/StandardSequences/python/ReconstructionHeavyIons_cff.py?v=CMSSW_8_1_X_2016-09-11-2300#0056

to be
[code]
although it is unclear since `muonRecoHighLevelPbPb` is what is at the end of `globalRecoPbPb` but from the printout from the failed job it is `muons`.

[2016-09-12 14:33] Dr15Jones commented on #15807
Fixed by #15815

[2016-09-12 14:45] kpedro88 opened #15816 "Invalid tool in latest IB?"
When I call `scram b` in `CMSSW_8_1_X_2016-09-12-1100`, I get a warning:
[code]

Just wanted to make sure it wasn't overlooked.

@davidlange6 @smuzaffar

[2016-09-12 14:47] cmsbuild commented on #15816
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-12 15:12] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_DEVEL_X_2016-09-05-1700/pyRelValMatrixLogs/run/134.813_RunCosmics2015C+RunCosmics2015C+RECOCOSDRUN2+ALCACOSDRUN2+HARVESTDCRUN2/step2_RunCosmics2015C+RunCosmics2015C+RECOCOSDRUN2+ALCACOSDRUN2+HARVESTDCRUN2.log

Threads 4 and 2 are both in TListOfFunctionsIter::Next, thread 4 has the mutex, thread 2 is waiting on it.  I've been

[2016-09-12 15:29] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_DEVEL_X_2016-09-08-1100/pyRelValMatrixLogs/run/140.53_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI/step2_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI.log

Another interesting one

[code]

[2016-09-12 17:42] smuzaffar commented on #15816
assign externals

[2016-09-12 17:43] smuzaffar commented on #15816
https://github.com/cms-sw/cmsdist/commit/f238d1ea7384465851fecd0409c5352cedfa197d should fix it for next IB

[2016-09-12 17:43] cmsbuild commented on #15816
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-12 20:28] gouskos opened #15822 "packages / subsystems to watch"
DataFormats/RecoCandidate
DataFormats/PatCandidates
DataFormats/METReco
RecoMET
JetMETCorrections
/PhysicsTools/PatAlgos/
/PhysicsTools/PatUtils/

[2016-09-12 20:29] cmsbuild commented on #15822
A new Issue was created by  @gouskos .

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-12 21:10] smuzaffar commented on #15822
done here https://github.com/cms-sw/cms-bot/pull/745

[2016-09-12 21:10] smuzaffar commented on #15822
assign externals

[2016-09-12 21:10] cmsbuild commented on #15822
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-12 21:10] smuzaffar commented on #15822
+1

[2016-09-12 21:10] #15822 closed

[2016-09-12 21:10] cmsbuild commented on #15822
This issue is fully signed and ready to be closed.

[2016-09-12 21:19] smuzaffar commented on #15739
done here https://github.com/cms-sw/cmsdist/pull/2506

[2016-09-12 21:19] smuzaffar commented on #15739
+1

[2016-09-12 21:19] #15739 closed

[2016-09-12 21:19] cmsbuild commented on #15739
This issue is fully signed and ready to be closed.

[2016-09-13 08:16] mmusich commented on #15806
+1
fixed via: https://github.com/cms-sw/cmssw/pull/15808

[2016-09-13 09:11] kpedro88 commented on #14895
@davidlange6 I think #15480 is sufficient for this issue. Making all the imports more specific is a good followup, but we probably don't need to leave this open until that is done.

[2016-09-13 09:13] kpedro88 commented on #14840
@davidlange6 it seems like #15480 makes some progress toward this, but something is still missing. When I enable `eras.inspect()` in `Configuration/StandardSequences/python/Eras.py`, it prints things like this:
[code]

[2016-09-13 09:17] davidlange6 commented on #14840
no, its not done - but in any case, it will require a full config to get sensible answers.

[2016-09-13 09:27] kpedro88 commented on #15816
@smuzaffar I no longer see the warning in `CMSSW_8_1_X_2016-09-12-2300`, thanks.

[2016-09-13 09:27] kpedro88 commented on #14575
@davidlt @iahmad-khan ping

[2016-09-13 10:33] davidlange6 commented on #15660
Hi

Running into this issue as well..

It looks like the only backend cmssw supports now is Qt4Agg. So, could this be made the default?

Otherwise, do we really need Tcl/Tk or rather just TkInter which then could let Tcl/Tk come from the system as needed (obviously not a grid use case)?

[2016-09-13 12:03] #15806 closed

[2016-09-14 16:46] mverzett commented on #14575
For the record, it seems that the backspace error propagates to other command line utilities like sqlite3. It might be worth checking those too.

[2016-09-15 22:52] Dr15Jones commented on #15792
assign core

[2016-09-15 22:52] cmsbuild commented on #15792
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-15 23:15] Dr15Jones opened #15866 "DQMIO and DQM paths need to be serialized"
With the coming of running Paths and EndPaths concurrently during Lumi and Run transitions, the dqmoffine_step path and the path holding the DQMOutputModule need to be serialized. The problem is the DQM EDAnalyzers have a hidden (from the framework) data dependency with DQMOutputModule. The several ways to fix this:
1) put all the DQM EDAnalyzers into one EndPath and have the DQMOutputModule at it

[2016-09-15 23:15] cmsbuild commented on #15866
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-15 23:17] Dr15Jones commented on #15866
assign core

[2016-09-15 23:18] Dr15Jones commented on #15866
assign dqm

[2016-09-15 23:18] cmsbuild commented on #15866
New categories assigned: core,dqm

@Dr15Jones,@smuzaffar,@vanbesien,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-16 14:45] davidlange6 opened #15878 "Build CMSSW_5_3_34"
Primary purpose: EvtGen config changes

[2016-09-16 14:45] davidlange6 commented on #15878
+1

[2016-09-16 14:45] cmsbuild commented on #15878
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-16 14:45] cmsbuild commented on #15878
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_34. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2016-09-16 14:45] cmsbuild commented on #15878
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-09-16 15:48] cmsbuild commented on #15878
The build has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/805/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-16 18:18] cmsbuild commented on #15878
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_34-slc6_amd64_gcc472/805
Some tests ( r

[2016-09-16 18:56] cmsbuild commented on #15878
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_34-slc6_amd64_gcc472/805

Tests results:
8 8 3 3 1 tests passed, 0 0 4 0 0 failed

[2016-09-17 06:12] davidlange6 commented on #15878
upload all

[2016-09-17 06:13] cmsbuild commented on #15878
Queing Jenkins upload for slc6_amd64_gcc472

[2016-09-17 06:13] cmsbuild commented on #15878
The upload has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/530/console

[2016-09-17 06:41] cmsbuild commented on #15878
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_34-slc6_amd64_gcc472/530
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-17 17:27] davidlange6 opened #15894 "Build CMSSW_8_0_19_patch2"
primary purpose is for HLT patches (also to go into 8_0_20_patch1 later)

[2016-09-17 17:28] cmsbuild commented on #15894
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-17 17:28] davidlange6 commented on #15894
+1

[2016-09-17 17:28] cmsbuild commented on #15894
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_19_patchX

[2016-09-17 17:28] cmsbuild commented on #15894
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-09-17 17:29] cmsbuild commented on #15878
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_34/slc6_amd64_gcc472/773/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-09-17 17:29] cmsbuild commented on #15894
The build has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/806/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-17 17:30] cmsbuild commented on #15894
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/807/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-17 17:31] cmsbuild commented on #15894
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/808/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-17 17:34] smuzaffar commented on #15894
@davidlange6 , looks like it is using CMSSW_8_0_X branch. This is not what you want ...right (you want to build it based on CMSSW_8_0_19_patchX branch)?

[2016-09-17 17:35] davidlange6 commented on #15894
yes, that is right - did I misname the branch?

[2016-09-17 17:36] davidlange6 commented on #15894
of course I also did not merge what I wanted to into my new branch:(..

[2016-09-17 17:39] davidlange6 commented on #15894
abort

[2016-09-17 17:40] cmsbuild commented on #15894
Deleting CMSSW_8_0_19_patch2:

  -Release successfully deleted

  -cmssw tag CMSSW_8_0_19_patch2 successfully deleted.

  -Aborting Jenkins build for slc6_amd64_gcc493

  -Aborting Jenkins build for slc6_amd64_gcc530

  -Aborting Jenkins build for slc7_amd64_gcc530

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_19_patch2/slc6_amd64_gcc530. Probably it had not been created.

  -I was no

[2016-09-17 17:40] smuzaffar commented on #15894
tag was created properly on CMSSW_8_0_19_patchX branch ... I was fooled by the github message where cms-bot wrote
[code]
but then it used the correct branch for tagging. So if you merge you changes on 8019patchX branch and re-build then every thing should be fine.

[2016-09-17 17:42] davidlange6 commented on #15894
ok - thanks!
(we should fix that message indeed - but not urgently)

[2016-09-17 17:42] #15894 closed

[2016-09-17 17:42] davidlange6 opened #15895 "Build CMSSW_8_0_19_patch2"

[2016-09-17 17:42] cmsbuild commented on #15895
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-17 17:42] davidlange6 commented on #15878
release-notes

[2016-09-17 17:43] cmsbuild commented on #15878
Generating release notes since CMSSW_5_3_33.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-09-17 17:43] cmsbuild commented on #15878
You can use this template for announcing the release:

Hi all,

The production release CMSSW_5_3_34 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_33 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_34

Primary purpose: EvtGen config changes

Cheers,
cms-bot

You can also click <a hr

[2016-09-17 17:44] cmsbuild commented on #15878
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_34

[2016-09-17 17:44] cmsbuild commented on #15894
The was an error for slc6_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc6_amd64_gcc493/807

[2016-09-17 17:45] davidlange6 commented on #15895
+1

[2016-09-17 17:45] cmsbuild commented on #15895
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_19_patchX

[2016-09-17 17:45] cmsbuild commented on #15895
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-09-17 17:46] cmsbuild commented on #15895
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/810/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-17 17:46] cmsbuild commented on #15895
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/809/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-17 17:47] cmsbuild commented on #15895
The build has started for slc7_amd64_gcc530 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/811/console
CMSDIST Branch: [REL/CMSSW_8_0_19/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_19/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-17 18:09] cmsbuild commented on #15895
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc6_amd64_gcc493/809
Some te

[2016-09-17 18:26] cmsbuild commented on #15895
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc6_amd64_gcc530/810
Some te

[2016-09-17 18:33] cmsbuild commented on #15895
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc6_amd64_gcc493/809

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-17 18:35] cmsbuild commented on #15895
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc7_amd64_gcc530/811

[2016-09-17 18:53] cmsbuild commented on #15895
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc6_amd64_gcc530/810

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-17 20:56] davidlange6 commented on #15895
upload all

On 17 Sep 2016, at 20:53, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc6_amd64_gcc530/810

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because yo

[2016-09-17 20:57] cmsbuild commented on #15895
Queing Jenkins upload for slc6_amd64_gcc493

[2016-09-17 20:57] cmsbuild commented on #15895
Queing Jenkins upload for slc6_amd64_gcc530

[2016-09-17 20:57] cmsbuild commented on #15895
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/531/console

[2016-09-17 20:58] cmsbuild commented on #15895
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/532/console

[2016-09-17 21:23] cmsbuild commented on #15895
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19_patch2-slc6_amd64_gcc493/531
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-17 21:30] cmsbuild commented on #15895
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19_patch2/slc6_amd64_gcc493/774/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-09-17 21:41] cmsbuild commented on #15895
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19_patch2-slc6_amd64_gcc530/532
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-17 21:45] cmsbuild commented on #15895
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19_patch2/slc6_amd64_gcc530/775/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-09-17 22:26] cmsbuild commented on #15895
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc7_amd64_gcc530/812
Some te

[2016-09-17 22:26] cmsbuild commented on #15895
Queing Jenkins upload for slc7_amd64_gcc530

[2016-09-17 22:27] cmsbuild commented on #15895
The upload has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/533/console

[2016-09-17 23:11] Dr15Jones opened #15896 "Excessive python time in workflow 135.9 step1"
It was taking more than 5 minutes to load the python configuration even just doing `python -i`. To find out where all the time was being spent I did

[code]

From the output I get the following culprits

[code]

It looks like the problem is `customizeHLTForFastSim` calls `massSearchReplaceAnyInputTag` which takes 382 seconds to run!

[2016-09-17 23:12] cmsbuild commented on #15896
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-17 23:12] Dr15Jones commented on #15896
assign simulation

[2016-09-17 23:12] cmsbuild commented on #15896
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-17 23:12] cmsbuild commented on #15895
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_19_patch2-slc7_amd64_gcc530/812

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-17 23:13] cmsbuild commented on #15895
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_19_patch2-slc7_amd64_gcc530/533
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-17 23:23] cmsbuild commented on #15895
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19_patch2/slc7_amd64_gcc530/776/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-09-18 06:27] davidlange6 commented on #15895
release-notes

On 18 Sep 2016, at 01:24, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_19_patch2/slc7_amd64_gcc530/776/
To generate the release notes for the release write "release-notes since <previous-r

[2016-09-18 06:28] cmsbuild commented on #15895
Generating release notes since CMSSW_8_0_19_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-09-18 06:28] cmsbuild commented on #15895
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_19_patch2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_19_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_19_patch2

Cheers,
cms-bot

Y

[2016-09-18 06:29] cmsbuild commented on #15895
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_19_patch2

[2016-09-19 13:04] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_DEVEL_X_2016-09-16-1100/pyRelValMatrixLogs/run/1325.0_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15+ALCATTUP15/step5_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15+ALCATTUP15.log

[code]

[2016-09-19 13:05] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_DEVEL_X_2016-09-16-1100/pyRelValMatrixLogs/run/25.0_TTbar+TTbarINPUT+DIGI+RECOAlCaCalo+HARVEST+ALCATT/step5_TTbar+TTbarINPUT+DIGI+RECOAlCaCalo+HARVEST+ALCATT.log

[code]

[2016-09-19 16:00] #15807 closed

[2016-09-19 16:04] Dr15Jones commented on #15764
assign core

[2016-09-19 16:05] cmsbuild commented on #15764
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-19 16:12] cmsbuild commented on #15878
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_34-slc6_amd64_gcc472/490

[2016-09-19 16:19] Dr15Jones opened #15908 "Have EDAlias work with eras"
From email with Kevin Pedro

[2016-09-19 16:19] Dr15Jones commented on #15908
@kpedro88

[2016-09-19 16:19] cmsbuild commented on #15908
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-19 16:19] Dr15Jones commented on #15908
assign core

[2016-09-19 16:20] cmsbuild commented on #15908
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-19 19:10] Dr15Jones commented on #15908
Should be fixed by #15909
@kpedro88 do you want to see if you can now make
[code]
work?

[2016-09-19 21:47] kpedro88 commented on #15908
@Dr15Jones I tested this in [kpedro88:BetterRemovalEDAlias](https://github.com/kpedro88/cmssw/tree/BetterRemovalEDAlias) after merging your branch. The Phase2 workflows ran fine with this change (tested with 20000.0). I also explicitly dumped the config to look at the result: the `EDAlias` object is still present, but with no `mix` parameter, it doesn't do anything.

[2016-09-19 21:48] Dr15Jones commented on #15908
Thanks!

[2016-09-19 21:48] #15908 closed

[2016-09-20 04:42] cmsbuild commented on #15895
The cleanup has started for slc7_amd64_gcc530

[2016-09-20 04:42] cmsbuild commented on #15895
The cleanup has started for slc6_amd64_gcc493

[2016-09-20 04:42] cmsbuild commented on #15895
The cleanup has started for slc6_amd64_gcc530

[2016-09-20 04:42] cmsbuild commented on #15895
The cleanup has started for slc7_amd64_gcc530

[2016-09-20 04:42] #15895 closed

[2016-09-21 11:48] sviret opened #15929 "WatchList for L1 Track Trigger related packages"
Hi,

I would like to be in the watchlist for the following packages:

DataFormats/L1TrackTrigger
L1Trigger/TrackTrigger
L1Trigger/TrackFindingAM
SLHCUpgradeSimulations/Configuration

Thanks
Seb

[2016-09-21 11:48] cmsbuild commented on #15929
A new Issue was created by  @sviret Seb Viret.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-21 13:39] davidlange6 opened #15931 "Needs for CMSSW_8_0_21 (MC DIGI-RECO release)"
My plans for 8_0_21 are below - please comment here for other pieces are needed for MC prod

CMSSW_8_0_X (as of 2016-09-21-1100) plus

#15360 (merged 2016-09-22-2300)
#15381 (merged 2016-09-22-2300)
#15556  (implies new processing era due to alca data format change)
#15637 (merged 2016-09-21-2300)
#15685 (merged 2016-09-22-2300)
#15689  (needs updating)
#15701 (merged 2016-09-21-2300)
#15776 (need

[2016-09-21 13:47] Martin-Grunewald commented on #15931
Needed by TSG as soon as possible:
#15836
#15904
#15923
(also all backports from 81X)

[2016-09-21 14:28] #15816 closed

[2016-09-22 08:31] davidlange6 opened #15943 "Build CMSSW_8_0_20_patch1"
includes changes already in 8_0_19_patch1 (but not in 8_0_20) for HLT. No reco changes.

[2016-09-22 08:31] davidlange6 commented on #15943
+1

[2016-09-22 08:35] cmsbuild commented on #15943
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_20_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-09-22 08:37] cmsbuild commented on #15943
The build has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/813/console
CMSDIST Branch: [REL/CMSSW_8_0_20/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_20/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-22 09:01] cmsbuild commented on #15943
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/814/console
CMSDIST Branch: [REL/CMSSW_8_0_20/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_20/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-22 09:38] cmsbuild commented on #15943
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/815/console
CMSDIST Branch: [REL/CMSSW_8_0_20/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_20/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-22 10:01] cmsbuild commented on #15943
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc7_amd64_gcc530/813

[2016-09-22 10:27] cmsbuild commented on #15943
The was an error for slc6_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc493/814

[2016-09-22 11:00] davidlange6 commented on #15943
@smuzaffar - do these make much sense to you? I don't see the obvious error (that is not in the IB). I realize I merged a PR that didn't mean to - I will rebuild without that PR for now and hope things do not reproduce.

[2016-09-22 11:00] davidlange6 commented on #15943
abort

[2016-09-22 11:00] cmsbuild commented on #15943
Deleting CMSSW_8_0_20_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_8_0_20_patch1 successfully deleted.

  -Aborting Jenkins build for slc6_amd64_gcc530

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_20_patch1/slc6_amd64_gcc530. Probably it had not been created.

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_20_patch1/slc6_amd64_gcc493. Probably it had not be

[2016-09-22 11:01] cmsbuild commented on #15943
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc530/815

[2016-09-22 11:02] #15943 closed

[2016-09-22 11:03] davidlange6 opened #15948 "Build CMSSW_8_0_20_patch1"
try again without the large L1 PR

[2016-09-22 11:04] davidlange6 commented on #15948
+1

[2016-09-22 11:04] cmsbuild commented on #15948
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-22 11:04] cmsbuild commented on #15948
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_20_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-09-22 11:04] cmsbuild commented on #15948
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-09-22 11:12] cmsbuild commented on #15948
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/817/console
CMSDIST Branch: [REL/CMSSW_8_0_20/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_20/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-22 11:23] cmsbuild commented on #15948
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/818/console
CMSDIST Branch: [REL/CMSSW_8_0_20/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_20/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-22 11:25] cmsbuild commented on #15948
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc7_amd64_gcc530/816

[2016-09-22 11:28] cmsbuild commented on #15948
The was an error for slc6_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc493/817

[2016-09-22 11:39] cmsbuild commented on #15948
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc530/818

[2016-09-22 13:02] davidlange6 commented on #15948
abort
- we need to go to 8_0_21 directly

[2016-09-22 13:03] cmsbuild commented on #15948
Deleting CMSSW_8_0_20_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_8_0_20_patch1 successfully deleted.

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_20_patch1/slc6_amd64_gcc530. Probably it had not been created.

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_20_patch1/slc6_amd64_gcc493. Probably it had not been created.

  -I was not able to delete the cmsd

[2016-09-22 13:04] davidlange6 commented on #15931
#15512
#15530
were requested in the ORP last week.

[2016-09-22 13:05] #15948 closed

[2016-09-22 20:38] Dr15Jones opened #15961 "TrackClusterRemover is not multi-thread per Event safe"
CMSSW_8_1_DEVEL_X_2016-09-20-2300 contains the implementation which allows the framework to run Paths in parallel within an Event. In addition, these changes allowed all EDProducers on Paths to be moved off when switching to unscheduled (since the framework properly handles dependencies between scheduled and unscheduled modules).

In the IB RelVals we are getting many failures from the assert:

[c

[2016-09-22 20:39] cmsbuild commented on #15961
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-22 20:40] Dr15Jones commented on #15961
assign reconstruction

[2016-09-22 20:40] Dr15Jones commented on #15961
assign core

[2016-09-22 20:40] cmsbuild commented on #15961
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-22 20:43] slava77 commented on #15961
@rovere @VinInn
please comment if the solution is OK from your point of view

[2016-09-22 21:21] Dr15Jones commented on #15961
I tested the change in my own area and it does solve the problem.

[2016-09-22 21:47] Dr15Jones commented on #15961
See #15964

[2016-09-23 15:32] davidlange6 opened #15971 "Build CMSSW_8_1_0_pre12"
Lots of 2017 development at the geometry level. These are the proposed scenarios for testing

example workflow #      Geometry                  GT
10824:          Extended2017new    		hcaldev                (new bpix, fpix, hcal)
10624:         Extended2017dev     		hcaldev                (the new hcal segmentation and conditions)
10424:        Extended2017NewFPix  	phase1_2017_realistic  (the new

[2016-09-23 15:32] cmsbuild commented on #15971
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-09-23 15:33] davidlange6 commented on #15971
+1

[2016-09-23 15:34] cmsbuild commented on #15971
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre12. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-09-23 15:34] cmsbuild commented on #15971
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc7_ppc64le_gcc530, fc24_ppc64le_gcc620, slc6_amd64_gcc600
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are buildin

[2016-09-23 15:35] cmsbuild commented on #15971
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/819/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-23 15:36] cmsbuild commented on #15971
The build has started for slc6_amd64_gcc600 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/822/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-23 15:36] cmsbuild commented on #15971
The build has started for slc7_aarch64_gcc530 in techlab-arm64-moonshot-xgene-013.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/821/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-23 15:39] kpedro88 commented on #14575
@davidlt @iahmad-khan only one prerelease left to fix this for 81X...

[2016-09-23 15:40] cmsbuild commented on #15971
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/824/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-23 15:42] smuzaffar commented on #14575
@kpedro88 , Ijaz is on vacation and will come back mid of next week.
@degano , can you please check what @davidlt did for gcc600 branch and get it in for gcc530?

[2016-09-23 16:47] civanch commented on #15931
#15960 would be useful

[2016-09-23 18:31] cmsbuild commented on #15971
The build has finished sucessfully for the architecture slc6_amd64_gcc600 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre12-slc6_amd64_gcc600/822
Some test

[2016-09-23 19:30] cmsbuild commented on #15971
The tests have finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre12-slc6_amd64_gcc600/822

Tests results:
17 17 16 14 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-23 21:11] cmsbuild commented on #15971
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre12-slc6_amd64_gcc530/819
Some test

[2016-09-23 22:14] cmsbuild commented on #15971
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre12-slc6_amd64_gcc530/819

Tests results:
17 17 16 14 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-09-23 23:58] cmsbuild commented on #15971
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre12-slc7_amd64_gcc530/824
Some test

[2016-09-24 00:04] cmsbuild commented on #15971
The build has started for slc7_aarch64_gcc530 in techlab-arm64-moonshot-xgene-012.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/825/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-24 00:05] cmsbuild commented on #15971
The build has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/826/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-09-24 09:09] cmsbuild commented on #15971
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre12-slc7_aarch64_gcc530/825
Some

[2016-09-24 09:28] cmsbuild commented on #15971
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre12-slc7_aarch64_gcc530/825

Tests results:
5 0 0 0 0 0 0 0 tests passed, 12 5 0 0 0 0 0 0 failed

[2016-09-24 10:16] davidlange6 commented on #15971
upload all

On 24 Sep 2016, at 11:28, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_aarch64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre12-slc7_aarch64_gcc530/825

Tests results:
5 0 0 0 0 0 0 0 tests passed, 12 5 0 0 0 0 0 0 failed

—
You are receiving this because y

[2016-09-24 10:17] cmsbuild commented on #15971
Queing Jenkins upload for slc6_amd64_gcc530

[2016-09-24 10:17] cmsbuild commented on #15971
Queing Jenkins upload for slc6_amd64_gcc600

[2016-09-24 10:17] cmsbuild commented on #15971
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-09-24 10:17] cmsbuild commented on #15971
Queing Jenkins upload for slc7_amd64_gcc530

[2016-09-24 10:17] cmsbuild commented on #15971
The upload has started for slc6_amd64_gcc600 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/535/console

[2016-09-24 10:17] cmsbuild commented on #15971
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/534/console

[2016-09-24 10:21] cmsbuild commented on #15971
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/537/console

[2016-09-24 10:46] cmsbuild commented on #15971
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre12-slc6_amd64_gcc600/535
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-24 11:12] cmsbuild commented on #15971
The installation has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre12/slc6_amd64_gcc600/777/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-09-24 11:15] cmsbuild commented on #15971
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre12-slc7_amd64_gcc530/537
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-24 11:44] cmsbuild commented on #15971
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre12/slc7_amd64_gcc530/778/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-09-24 11:51] cmsbuild commented on #15971
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre12-slc6_amd64_gcc530/534
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-24 12:19] cmsbuild commented on #15971
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre12/slc6_amd64_gcc530/779/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provid

[2016-09-24 12:24] davidlange6 commented on #15971
release-notes

[2016-09-24 12:25] cmsbuild commented on #15971
Generating release notes since CMSSW_8_1_0_pre11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-09-24 12:25] cmsbuild commented on #15971
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre12 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc600
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_1_0_pre11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre12

Lots of 2017 development at t

[2016-09-24 12:30] cmsbuild commented on #15971
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre12

[2016-09-24 12:31] cmsbuild commented on #15971
The upload has started for slc7_aarch64_gcc530 in techlab-arm64-moonshot-xgene-012.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/538/console

[2016-09-24 12:57] cmsbuild commented on #15971
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre12-slc7_aarch64_gcc530/538
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-09-24 20:59] Dr15Jones opened #15977 "l1L1GtObjectMap misconfigured in workflow 5.2 step 1"
The module labelled `l1L1GtObjectMap` is configured as

[code]

and for workflow 5.2 (and probably others) only appears on path `L1Reco_step`. However, `hltL1GtObjectMap` only appears on paths `HLTriggerFirstPath`, `HLT_Physics_v1`, `HLT_ZeroBias_v1` and `HLTriggerFinalPath`. The schedule for the job is

[code]

where we can see that all the HLT paths run after `L1Reco_step` which means the data r

[2016-09-24 20:59] cmsbuild commented on #15977
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-24 21:05] Dr15Jones commented on #15977
Looking further, is this meant to get the value from the source? If so, then I'm guessing what is really wanted is to specify `cms.InputTag.skipCurrentProcess()`.

[2016-09-24 21:27] Dr15Jones commented on #15977
assign l1

[2016-09-24 21:27] Dr15Jones commented on #15977
assign hlt

[2016-09-24 21:27] Dr15Jones commented on #15977
assign reconstruction

[2016-09-24 21:27] cmsbuild commented on #15977
New categories assigned: hlt,reconstruction,l1

@cvuosalo,@Martin-Grunewald,@slava77,@mulhearn,@perrotta,@silviodonato,@rekovic,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-25 08:16] Martin-Grunewald commented on #15977
Hi
```hltL1GtObjectMap``` is for the Run-1/Legacy L1 trigger, and is run within the Run-1/Legacy HLT
("Fake" and "Fake1" [stage-1] menus).
```hltL1GtObjectMap``` gets ins own input from the unpacked L1 raw data.
It does not (can not) depend on L1Reco.
I would assume L1Reco could be intentionally looking at the stuff unpacked within HLT,
ie, by ```hltL1GtObjectMap``` or alternatively L1Reco should

[2016-09-25 22:17] Dr15Jones opened #15982 "Summary statistics for individual modules is incorrect"
In CMSSW_8_1_X the summary statistics gathered by the framework, specifically number of times run, passed or failed, is not always correct. There are occasions when running multiple threads where

[code]

[2016-09-25 22:17] cmsbuild commented on #15982
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-25 22:17] Dr15Jones commented on #15982
assign core

[2016-09-25 22:17] cmsbuild commented on #15982
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-26 00:40] Dr15Jones commented on #15977
@Martin-Grunewald I think I must not have been clear. `hltL1GtObjectMap` does not depend on L1Reco. However, because of the changes to allow multiple modules to run simultaneously for the same event, we have to make all module dependencies work as if they were run unscheduled. For that case, `l1L1GtObjectMap`, which is on a Path that was previously run before all HLT Paths, now will try to pick up

[2016-09-26 08:59] ianna opened #15985 "HCal 2017dev Geometry Built from XML Differs from its DB Dump"
HCal 2017dev geometry in pre12 does not provide correct summary for DB storage.

 * The shapes are correct, but their placement (e.g. rotation in Phi) looks off in phi(Y?) by a factor of 10 and placement in Z seems to be abs(Z)

HCal reco geometry built from XML vs DB tag:
![screenshot 2016-09-22 12 07 19](https://cloud.githubusercontent.com/assets/1390682/18828044/56c0dce2-83d6-11e6-909c-eef31167

[2016-09-26 08:59] cmsbuild commented on #15985
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-26 09:47] ianna commented on #15985
Similar problem with using old geometry loader:
![screenshot 2016-09-26 11 45 34](https://cloud.githubusercontent.com/assets/1390682/18829958/f0185d40-83de-11e6-98c4-09b2c7c15a6c.png)

[2016-09-26 10:38] cmsbuild commented on #15971
The cleanup has started for slc7_aarch64_gcc530

[2016-09-26 10:38] cmsbuild commented on #15971
The cleanup has started for slc6_amd64_gcc530

[2016-09-26 10:38] cmsbuild commented on #15971
The cleanup has started for slc6_amd64_gcc600

[2016-09-26 10:38] cmsbuild commented on #15971
The cleanup has started for slc7_amd64_gcc530

[2016-09-26 10:38] #15971 closed

[2016-09-26 10:38] cmsbuild commented on #15971
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre12-slc7_aarch64_gcc530/493

[2016-09-26 10:39] cmsbuild commented on #15971
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre12-slc6_amd64_gcc530/491

[2016-09-26 10:40] cmsbuild commented on #15971
The workspace for slc6_amd64_gcc600 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre12-slc6_amd64_gcc600/492

[2016-09-26 10:41] ianna commented on #15985
@bsunanda - is it due to degree vs radian interpretation?

[2016-09-26 10:48] cmsbuild commented on #15971
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre12-slc7_amd64_gcc530/494

[2016-09-26 14:41] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-09-25-1100/pyRelValMatrixLogs/run/1325.0_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15+ALCATTUP15/step5_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15+ALCATTUP15.log

Similar to one last week.  I've been trying putting loops in reco::findMethod() and a few other places to stress the locking scheme, but sti

[2016-09-27 08:12] Martin-Grunewald commented on #15977
Well, if ```l1GtObjectMap``` looks for an HLT product, namely ```L1GtObjectMapTag = cms.InputTag("hltL1GtObjectMap")```, then it can meaningfully run only AFTER the HLT has run.

So I assume the config is still fine but the dependency check was wrong?

[2016-09-27 14:38] Dr15Jones commented on #15977
I'm afraid the dependency check is right. About a year ago, in order to support the full design of the threaded framework, we required that all data requests (whether to scheduled or unscheduled) had to have the exact same behavior as if all EDProducers in a job were being run unscheduled.

Therefore the meaning of asking for a data product without giving a process name was slightly changed. Previ

[2016-09-27 16:35] slava77 opened #15999 "LHE run info merging problems"
See details in
https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/3234/1/1/1/1/1/1/1/2/1/1/1.html

it looks like

``` LHERunInfoProduct_externalLHEProducer__LHE```
wouldn't merge after the output size runs over 2GB.
The job memory doesn't blow up too much, but the output process hangs in 100% CPU
[code]

[2016-09-27 16:35] cmsbuild commented on #15999
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-27 22:07] Dr15Jones opened #16003 "Feature: Have Paths put PathResults object into the Event"
When a Path finishes, we should put a PathResults object into the Event where the label matches the Path's name. This could be used to
- have a Path start after another Path has ended
- make the generation of TriggerResults more natural (the module that makes TriggerResults just waits for all PathResults to be created)
- allow OutputModules to only waitfor the Paths they are interested in to finis

[2016-09-27 22:08] cmsbuild commented on #16003
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-27 22:08] Dr15Jones commented on #16003
assign core

[2016-09-27 22:08] cmsbuild commented on #16003
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-27 22:13] cvuosalo opened #16004 "Spurious differences appearing for 20024.0 in Jenkins DQM results, starting around CMSSW_8_1_X_2016-09-26-1500"
Some recent 81X Jenkins results show spurious DQM differences for Phase 2 workflow 20024.0. They show up as 1014 DQM plots with very tiny differences.

Here's a list of PRs that have been checked, with baseline and whether the spurious differences appear:
#15907, CMSSW_8_1_X_2016-09-27-1100, Yes
#15992, CMSSW_8_1_X_2016-09-27-1100, No
#15989, CMSSW_8_1_X_2016-09-26-1500, Yes

[2016-09-27 22:13] cmsbuild commented on #16004
A new Issue was created by  @cvuosalo Carl Vuosalo.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-27 22:14] cvuosalo commented on #16004
assign Reconstruction

[2016-09-28 16:26] cvuosalo commented on #16004
Spurious differences for 20024.0 have been replicated with #15989 with 20 events against baseline CMSSW_8_1_0_pre12.

[2016-09-28 17:48] Dr15Jones opened #16015 "TriggerSummaryProducerAOD reads too much when run in fastsim?"
When running step1 of workflow 135.1 I found that the module type `TriggerSummaryProducerAOD` with label `hltTriggerSummaryAOD` requests data from 2626 different modules, some of which are on EndPaths. The dependence on modules in EndPaths leads to an unrunnable schedule for the new changes to the threaded framework.

The `TriggerSummaryProducerAOD` is doing the equivalent of a `getMany` which app

[2016-09-28 17:48] cmsbuild commented on #16015
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-28 17:48] Dr15Jones commented on #16015
assign hlt

[2016-09-28 17:48] cmsbuild commented on #16015
New categories assigned: hlt

@Martin-Grunewald,@perrotta,@silviodonato,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-28 17:51] Dr15Jones commented on #16015
The full list of dependencies is can be found at https://www.dropbox.com/s/kzibz32hk81g49n/AODTrigSumReads.log?dl=0

[2016-09-28 17:58] Dr15Jones commented on #16015
Some of the items (not sure if it is all) being requested from EndPaths are
[code]
which comes from the EndPath `validation_step`.

[2016-09-28 19:10] Dr15Jones commented on #16015
I believe the problem is `TriggerSummaryProducerAOD` assumes it is being in a process that only contains the HLT step, and not one that has other steps included. The configuration is
[code]
Which is saying use the process name of this process. Therefore it tries to get all the data products for the types it knows which are made in this process. But what it really wants to do is to only get the dat

[2016-09-28 21:41] cvuosalo commented on #16004
More spurious differences for 20024.0 in #16010 with baseiine CMSSW_8_1_X_2016-09-28-1100.

[2016-09-29 04:41] Martin-Grunewald commented on #16015
@Dr15Jones

Indeed, ```TriggerSummaryProducerAOD``` and its friend ```TriggerSummaryProducerRAW``` are only interested in ```HLT``` products and those module producer labels start with ```hlt``.
Unfortunately, the HLT step does not always run with process name ```HLT```, and some
configs (HLT DQM or HLT validation?) outside HLT also configure module labels starting with ```hlt```.

[2016-09-29 09:47] makortel commented on #15496
The suggestion finally materialized in #15994.

[2016-09-29 14:01] Dr15Jones opened #16035 "Reoptimize PoolOutputModule settings for multi-threading"
The settings we used for PoolOutputModule for RECO and AOD were done for Run 1 software. Now with these modules being the major factor for lower throughput for multi-threading we should redo the study to factor
- time spent in the module (which affects multi-threaded scaling)
- memory used (which we have more of relative to Run 1)
- size on disk
- speed at which we can read the created file

[2016-09-29 14:01] cmsbuild commented on #16035
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-29 14:06] Dr15Jones commented on #16035
assign core

[2016-09-29 14:07] cmsbuild commented on #16035
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-29 16:30] Dr15Jones opened #16039 "Concurrent Paths not handling exceptions properly"
If one Path has an exception in a module on that Path, then any other module waiting for the data from the module will never get its prefetching resolved. This will ultimately cause TBB to run out of tasks and then go into an infinite loop.

In order to properly handle the exception, all Paths which were asynchronously started have to be have their 'wait_for_all' resolve and then abort.

[2016-09-29 16:30] cmsbuild commented on #16039
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-29 16:31] cvuosalo commented on #16004
More spurious differences for 20024.0 in #15996 with baseiine CMSSW_8_1_X_2016-09-28-1100.

[2016-09-29 18:12] Dr15Jones commented on #16039
assign core

[2016-09-29 18:12] cmsbuild commented on #16039
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-29 19:53] Dr15Jones commented on #16015
This is addressed by #16043

[2016-09-30 06:48] fwyzard commented on #16015
Hi Chris,
as a more permanent fix, I would suggest something like
  - we add a parameter called `input` or `modulesToRead` or whatever, of type `vstring` or `VInputTag` ;
  - we set the default to `"hlt*"` ;
  - we modify your new code to look for modules that match by glob pattern any of the expressions in the new parameter, and read only those.

In this way we should achieve the same result, but

[2016-09-30 11:13] slava77 commented on #16004
@cvuosalo
let's try to narrow this down.
In pre12: please check if the differences are still present by
- rerunning using step1.root from the baseline
- rerunning using step2.root from the baseline

Thanks

[2016-09-30 14:49] Dr15Jones commented on #16015
The pull request has been brought back in #16046

[2016-09-30 14:54] Dr15Jones commented on #16015
I changed the implementation to allow two different patterns to be used

1. a list of patterns for which a module label must match at least one of
1. a list of patterns which will reject a module label

rejection trumps matching.

This way we get Andrea's request for patterns to match and still deal with Martin's concern that some non HLT modules begin with 'hlt' for their labels. That allows the

[2016-09-30 14:58] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_DEVEL_X_2016-09-29-0000/pyRelValMatrixLogs/run/1311.0_MinBias_13+MinBias_13INPUT+DIGIUP15+RECOMINUP15+HARVESTMINUP15+ALCAMINUP15/step5_MinBias_13+MinBias_13INPUT+DIGIUP15+RECOMINUP15+HARVESTMINUP15+ALCAMINUP15.log

[code]

[2016-09-30 22:47] cvuosalo commented on #16004
@slava77: The differences disappear when I used  step1.root from the baseline for #15989 and baseline CMSSW_8_1_0_pre12, so it might be a GEN-SIM problem.

[2016-09-30 23:11] slava77 commented on #16004
@civanch @ianna @boudoul
are you aware of any issues in the phase2 "D1" geometry setup that could introduce reproducibility problems at SIM level?

[2016-10-01 16:01] Dr15Jones opened #16062 "Check that DQMStore and DQMEDAnalyzer can be run concurrently in Runs and Lumis"
The next phase of the threaded framework will have modules within Run and Lumi transitions (both stream and global transitions) be run concurrently. We will need to review the DQMStore Service for any thread issues.

[2016-10-01 16:02] cmsbuild commented on #16062
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-01 16:02] Dr15Jones commented on #16062
Issue  #15866 will also need to be addressed

[2016-10-01 16:02] Dr15Jones commented on #16062
assign core

[2016-10-01 16:02] cmsbuild commented on #16062
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-01 16:02] Dr15Jones commented on #16062
assign dqm

[2016-10-01 16:02] cmsbuild commented on #16062
New categories assigned: dqm

@vanbesien,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-01 16:17] Dr15Jones opened #16063 "HLT paths need to be updated to handle concurrently running paths"
The CMSSW workflows involving the HLT require that some paths preceed other paths in the processing order. The two explicit cases are 'HLTriggerFirstPath' and 'HLTriggerFinalPath'.  However, now that we are moving to having paths run concurrently in the threaded framework, the implicit ordering no longer holds.

However, when running paths concurrently, the framework will honor data dependencies b

[2016-10-01 16:17] cmsbuild commented on #16063
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-01 16:17] Dr15Jones commented on #16063
assign hlt

[2016-10-01 16:18] Dr15Jones commented on #16063
assign core

[2016-10-01 16:18] cmsbuild commented on #16063
New categories assigned: core,hlt

@Dr15Jones,@smuzaffar,@Martin-Grunewald,@perrotta,@silviodonato,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-01 16:33] Dr15Jones commented on #16063
The `HLTriggerFirstPath` is defined as the following:
[code]
The first 5 modules are actually common to all HLT paths so can be ignored. The `hltDummyConditions` is
[code]
which appears to be there only to replace `hltGetConditions` from the actual HLT menu. I believe that module only does work on Run and Lumi boundaries anyway so when it is run during event processing shouldn't matter.

`hltGetRa

[2016-10-01 16:42] Dr15Jones commented on #16063
For the `hltGetRaw` I had completely forgotten that the `RawDataCollection` is already being prefetched from the source so the time for the read is now never 'charged' to any specific module. Therefore I believe there is no longer a need for `hltGetRaw` .

[2016-10-01 19:13] fwyzard commented on #16063
hi Chris,
is the latter true also when using the DAQ source to read .frd files ?

.Andrea

On 1 Oct 2016 6:42 p.m., "Chris Jones" <notifications@github.com> wrote:

[2016-10-01 19:18] Dr15Jones commented on #16063
Prefetching happens regardless of the type of source. Does the DAQ source even implement the DelayedReader? If it doesn't, then even without prefetching the DAQ source would always have gotten the data before a module was run.

[2016-10-01 19:21] Dr15Jones opened #16064 "Change the implementation of early delete of products to use a waiting task"
The mechanism used to delete an event data product earlier should be changed to attach a waiting task to all modules which consume the data product. Once all those modules are run (or are determined to never be run) the task would be started and the task could cause the data product to be deleted.

[2016-10-01 19:21] cmsbuild commented on #16064
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-01 19:21] cmsbuild commented on #16064
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-01 19:21] fwyzard commented on #16063
OK, thanks. We'll check the impact on the HLT timing both online and
offline, and remove it if there is no difference.

Ciao,
.Andrea

On 1 Oct 2016 9:19 p.m., "Chris Jones" <notifications@github.com> wrote:

[2016-10-01 19:22] Dr15Jones commented on #16063
Let me know if there was a difference since it is supposed to work as I described it :).

[2016-10-02 15:39] Dr15Jones opened #16068 "Implement better unrunnable schedule detection"
The present unrunnable schedule detection uses an algorithm to find circular dependencies in the graph of module dependencies (where dependencies come both as data dependencies and order dependencies from Paths/EndPaths). The problem is the algorithm only finds a 'base set' of cycles and not all possible cycles. Therefore it is possible (and has actually happened in actual configurations) for the

[2016-10-02 15:39] cmsbuild commented on #16068
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-02 15:39] Dr15Jones commented on #16068
assign core

[2016-10-02 15:39] cmsbuild commented on #16068
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-03 07:35] Martin-Grunewald commented on #16063
@Dr15Jones
In any case I wonder because some product may not be produced because it is in a path which bails out on a filter before the producer module in question. Then the summary should NOT pack this up, ie, should NOT somehow (re)request running the corresponding producer.
The summary modules should really run last!

[2016-10-03 08:58] smuzaffar commented on #14575
this is fixed for latest IBs. @kpedro88 can you please confirm if it works on cmslpc-slc6 machines?

[2016-10-03 12:44] Dr15Jones commented on #16063
@Martin-Grunewald the framework properly handles this case. Modules waiting for data are signaled when
 1 the module which produces the data has finished running or
 1 all paths have skipped the module producing the data

for the latter case, when the data is requested from the Event one will get an invalid Handle just like before.

[2016-10-03 14:51] wddgit opened #16075 "Strict mode in configuration language"
The python code that supports the python configuration language
used by CMS contains many things related to Strict mode. This
should probably be removed to simplify this python code and make it
easier for people maintain and understand this code. An alternative
would be to fix it so that it works and does something useful. What is there
now is not used and my impression was that it would not work

[2016-10-03 14:51] cmsbuild commented on #16075
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-03 14:53] kpedro88 commented on #14575
@smuzaffar backspacing in python terminal (and gdb terminal) now works in `CMSSW_8_1_X_2016-10-03-1100` on cmslpc-sl6.

Is there any hope of getting this fix backported to 80X?

[2016-10-03 15:02] smuzaffar commented on #14575
We can but it rebuilds nearly 100 externals. @davidlange6 what do you think?

[2016-10-03 15:11] davidlange6 opened #16076 "Build CMSSW_7_5_8_patch7"

[2016-10-03 15:11] davidlange6 commented on #16076
+1

[2016-10-03 15:47] Dr15Jones commented on #16075
assign core

[2016-10-03 15:47] cmsbuild commented on #16075
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-03 17:30] davidlange6 commented on #16076
@smuzaffar @iahmad-khan - seem the box ignored my +1??

[2016-10-03 18:32] cmsbuild commented on #16076
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-10-03 18:32] cmsbuild commented on #16076
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2016-10-03 18:32] cmsbuild commented on #16076
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-10-03 18:34] smuzaffar commented on #16076
@davidlange6 , it should be fixed now. Jenkins job was misconfigured but it should be fine now.

[2016-10-03 18:35] cmsbuild commented on #16076
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/827/console
CMSDIST Branch: [REL/CMSSW_7_5_8/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_8/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-10-03 18:40] davidlange6 opened #16079 "Build CMSSW_8_0_20_patch1"
while we are waiting for 8_0_21 to converge

[2016-10-03 18:40] davidlange6 commented on #16079
+1

[2016-10-03 18:40] cmsbuild commented on #16079
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-10-03 18:41] cmsbuild commented on #16079
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_20_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_20_patchX

[2016-10-03 18:41] cmsbuild commented on #16079
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-10-03 18:41] cmsbuild commented on #16079
The build has started for slc7_amd64_gcc530 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/828/console
CMSDIST Branch: [REL/CMSSW_8_0_20/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_20/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-10-03 18:43] cmsbuild commented on #16079
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/829/console
CMSDIST Branch: [REL/CMSSW_8_0_20/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_20/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-10-03 18:44] cmsbuild commented on #16079
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/830/console
CMSDIST Branch: [REL/CMSSW_8_0_20/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_20/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-10-03 19:05] cmsbuild commented on #16079
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc493/829
Some te

[2016-10-03 19:07] cmsbuild commented on #16076
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch7-slc6_amd64_gcc491/827
Some tes

[2016-10-03 19:19] cmsbuild commented on #16079
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc530/830
Some te

[2016-10-03 19:21] cmsbuild commented on #16076
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch7-slc6_amd64_gcc491/827

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Mon Oct  3 21:07:19 2016-date Mon Oct  3 21:07:18

[2016-10-03 19:21] cmsbuild commented on #16079
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc7_amd64_gcc530/828
Some te

[2016-10-03 19:36] cmsbuild commented on #16079
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc493/829

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-10-03 19:47] cmsbuild commented on #16079
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc530/830

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-10-03 19:53] cmsbuild commented on #16079
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc7_amd64_gcc530/828

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-10-04 01:27] davidlange6 commented on #16076
upload all

On 3 Oct 2016, at 21:21, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc491
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch7-slc6_amd64_gcc491/827

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Ste

[2016-10-04 01:28] cmsbuild commented on #16076
Queing Jenkins upload for slc6_amd64_gcc491

[2016-10-04 01:28] cmsbuild commented on #16076
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/539/console

[2016-10-04 01:29] davidlange6 commented on #16079
upload all

On 3 Oct 2016, at 21:54, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_20_patch1-slc7_amd64_gcc530/828

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you

[2016-10-04 01:29] cmsbuild commented on #16079
Queing Jenkins upload for slc6_amd64_gcc493

[2016-10-04 01:29] cmsbuild commented on #16079
Queing Jenkins upload for slc6_amd64_gcc530

[2016-10-04 01:29] cmsbuild commented on #16079
Queing Jenkins upload for slc7_amd64_gcc530

[2016-10-04 01:29] cmsbuild commented on #16079
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/540/console

[2016-10-04 01:29] cmsbuild commented on #16079
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/541/console

[2016-10-04 01:30] cmsbuild commented on #16079
The upload has started for slc7_amd64_gcc530 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/542/console

[2016-10-04 02:03] cmsbuild commented on #16076
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_8_patch7-slc6_amd64_gcc491/539
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-10-04 02:11] cmsbuild commented on #16076
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8_patch7/slc6_amd64_gcc491/780/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-10-04 02:25] cmsbuild commented on #16079
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc493/540
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-10-04 02:29] cmsbuild commented on #16079
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_20_patch1/slc6_amd64_gcc493/781/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-10-04 02:44] cmsbuild commented on #16079
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_20_patch1-slc7_amd64_gcc530/542
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-10-04 02:49] cmsbuild commented on #16079
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_20_patch1/slc7_amd64_gcc530/782/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-10-04 03:04] cmsbuild commented on #16079
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_20_patch1-slc6_amd64_gcc530/541
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-10-04 03:08] cmsbuild commented on #16079
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_20_patch1/slc6_amd64_gcc530/783/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-10-04 04:42] davidlange6 commented on #16076
release-notes

[2016-10-04 04:42] cmsbuild commented on #16076
ATTENTION!!! The production architecture () is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-10-04 04:42] davidlange6 commented on #16079
release-notes

[2016-10-04 04:43] cmsbuild commented on #16079
ATTENTION!!! The production architecture () is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-10-04 04:44] davidlange6 commented on #16076
Hi @smuzaffar @iahmad-khan - seems there is another problem. the production architecture is done both uploading and installing...

[2016-10-04 04:51] davidlange6 commented on #16076
ah - it seems jenkins doesn’t know the production architecture…

[2016-10-04 05:32] cmsbuild commented on #16076
Generating release notes since CMSSW_7_5_8_patch6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-10-04 05:32] cmsbuild commented on #16076
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_8_patch7 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8_patch6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8_patch7

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2016-10-04 05:33] smuzaffar commented on #16076
this is fixed now.

[2016-10-04 05:33] cmsbuild commented on #16076
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch7

[2016-10-04 05:38] cmsbuild commented on #16079
Generating release notes since CMSSW_8_0_20.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-10-04 05:38] cmsbuild commented on #16079
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_20_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_20 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_20_patch1

while we are waiting for

[2016-10-04 05:39] cmsbuild commented on #16079
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_20_patch1

[2016-10-04 05:47] davidlange6 commented on #16076
release-notes

On 4 Oct 2016, at 07:33, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch7

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/16076#issuecomment-251299984>, or mute the thread

[2016-10-04 05:47] cmsbuild commented on #16076
Generating release notes since CMSSW_7_5_8_patch6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-10-04 05:47] cmsbuild commented on #16076
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_8_patch7 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8_patch6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8_patch7

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2016-10-04 05:48] cmsbuild commented on #16076
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch7

[2016-10-04 11:32] bartosik-hep commented on #13201
@davidlt, @davidlange6  I have the same issue. There is no 8X release at the moment running on GCC greater than 5.3.0. Is there any way to suppress the message or to solve the issue in a 8X release?

[2016-10-04 12:34] rijuvenator commented on #13201
If you don't care about errors, simply do

[code]

If you care about errors, I have a workaround.

Put this in your bash profile:

`exec 3>&1`

Then, anytime you run a Python script with, for example,

`import ROOT as R`

replace it with this:

[code]

Then you can run all your Python scripts with

[code]

This will redirect the ROOT error messages to `/dev/null`, then set `stderr` to point to fil

[2016-10-04 13:32] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-10-04-1100/pyRelValMatrixLogs/run/1307.0_CosmicsSPLoose_UP15+CosmicsSPLoose_UP15INPUT+DIGICOS_UP15+RECOCOS_UP15+ALCACOS_UP15+HARVESTCOS_UP15/step4_CosmicsSPLoose_UP15+CosmicsSPLoose_UP15INPUT+DIGICOS_UP15+RECOCOS_UP15+ALCACOS_UP15+HARVESTCOS_UP15.log

This one is kind of interesting because two of the threads are waiti

[2016-10-04 14:38] Dr15Jones commented on #16015
#16046 was merged and solved the problem.

[2016-10-04 14:38] #16015 closed

[2016-10-04 15:36] Dr15Jones opened #16090 "Check RandomNumberGeneratorService for Lumi thread-safety"
Need to check that RandomNumberGeneratorService is thread-safe for the case where we are allowing multiple modules to be run on a lumi transition.

[2016-10-04 15:36] cmsbuild commented on #16090
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-04 15:36] Dr15Jones commented on #16090
assign core

[2016-10-04 15:37] cmsbuild commented on #16090
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-04 15:41] Dr15Jones commented on #16035
@dan131riley could you look into this? This is our limiting factor for how many threads we can efficiently use.

[2016-10-04 15:42] Dr15Jones commented on #16035
@davidlange6 do you have a suggestion for what workflow we should use to stress test reconstruction for output performance?

[2016-10-04 15:43] Dr15Jones commented on #16035
@bbockelm I think it might be useful to redo Brian's measurement of the per branch performance to see if there is any problematic data format.

[2016-10-04 15:51] MengqingWu commented on #13201
@davidlange6  I have the same issue with 8_0_11, but can not remember this existed from the beginning or not. It shows today..

[2016-10-04 16:04] civanch commented on #14273
The issue is resolved by #14405

[2016-10-04 16:27] civanch commented on #16004
The problem should be fixed in #16069

[2016-10-04 17:35] Dr15Jones commented on #14273
You can give this issue a '+1' to mark it as completed

[2016-10-05 10:20] mmusich commented on #15985
@ianna, to understand this issue, is the problem involving only the dump or accessing the geometry from DB in CMSSW jobs yields different results than from XML?
@franzoni

[2016-10-05 11:31] ianna commented on #15985
@mmusich - no, nothing to do with DB access.

[2016-10-05 11:37] mmusich commented on #15985
@ianna, let me rephrase then. Accessing the geometry via:

 `--geometry Extended2017dev`

is completely equivalent than accessing via:

`--geometry DB:Extended` (if using the Global Tag `81X_upgrade2017_HCALdev_v2`, that has in it the following tag: `XMLFILE_Geometry_81YV8_Extended2017dev_mc`
?
Thanks for clarifications

[2016-10-05 14:12] Dr15Jones opened #16104 "Study the threading efficiency of Fall 2016 re-RECO jobs"
The Fall 2016 re-RECO jobs are showing signs of in-efficiencies:  https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3683.html

We should look at a representative job and study its ratio of serial to parallel processing.

[2016-10-05 14:12] Dr15Jones commented on #16104
@bbockelm

[2016-10-05 14:12] cmsbuild commented on #16104
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-05 14:13] Dr15Jones commented on #16104
assign core

[2016-10-05 14:13] cmsbuild commented on #16104
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-05 14:58] slava77 commented on #16104
was the ROOT patch for LZMA from Dan integrated in the 80X rereco release?
This should be 5-10% of inefficiency

[2016-10-05 17:05] bbockelm commented on #16104
Do not know.  The release is 8_0_20; sample pset is at `~bbockelm/public/logs/sample_rereco_job.tar.gz` (CERN AFS) if you'd like to try running the job for yourself.

[2016-10-05 18:03] Dr15Jones commented on #16104
From the tracer log we can also determine where non-event processing time is spent not processing events. Below are tracer output for major framework transitions
[code]

[2016-10-05 18:06] Dr15Jones commented on #16104
The plot of what each stream is doing for this job is quite large and github won't accept it. If you wish to view it you can get it from https://dl.dropboxusercontent.com/u/11356841/rereco_1000_stall.pdf

[2016-10-05 18:29] bbockelm commented on #16104
Chris - I'm having a hard time digesting the raw data above about framework transitions.  Can you summarize it for me?

[2016-10-05 18:30] Dr15Jones commented on #16104
From the raw tracer output, the time in transitions are

1. construction: 89.34s
1. begin job: 0.31s
1. begin stream: 0.98s
1. begin run: 105.07s
1. begin lumi: 1.58s
1. event processing: 2846.74s
1. end lumi: 4.12s
1. end run: 3.23s
1. between source closing and begin of end stream (output module closing?): 164.63s
1. end stream: 0.96s
1. end job: 0.22

[2016-10-05 18:35] Dr15Jones commented on #16104
The timing report for the job has
[code]

[2016-10-05 18:37] Dr15Jones commented on #16104
From the timing report, we can estimate our speedup as
`9739.11/2966.71 = 3.3`
or efficiency of `3.3/4 = 0.825`

[2016-10-05 18:38] bbockelm commented on #16104
That approximately matches what we see in production.

[2016-10-05 18:50] Dr15Jones commented on #16104
From the transition timing, if the event processing was 100% thread efficient,  then the contribution to the CPU inefficiency by the non-event parts would be
[code]

but instead of assuming perfect event processing, we can use the values from the time report
[code]
which compares to the just event loop efficiency of `0.825`

[2016-10-05 20:14] Dr15Jones commented on #16104
I ran the exact same job, but this time I first copied the input file to the local disk. The stall information for this job is
[code]

and the timing summary is
[code]
Which gives an efficiency of
```9871.98/2957.21/4 = 0.834568732014```

[2016-10-05 21:09] Dr15Jones commented on #16104
Looking at the log files, the edmStreamStallGrapher appears to be incorrectly assigning time to the Source. The actual stalls appear to be coming from the AODoutput PoolOutputModule.

[2016-10-05 21:18] Dr15Jones commented on #16104
@dan131riley it would help having another set of eyes on this problem.

[2016-10-05 21:22] Dr15Jones commented on #16104
From the local file read, I find the following tracer information
[code]
So what is happening is stream 3 starts running the AODoutput module and takes more than 90 seconds. The other streams eventually get to the point that they need to run the AODoutput module and they all are stuck waiting. The stall graph (which I will post) shows similarly long waits occur 4 times in this job.

[2016-10-05 21:23] Dr15Jones commented on #16104
https://dl.dropboxusercontent.com/u/11356841/rereco_stall_local_1000.pdf

[2016-10-05 21:39] Dr15Jones commented on #16104
The part of the job which has the initial long time in the output module has the following events to stream processing
[code]

[2016-10-05 21:39] dan131riley commented on #16104
8_0_20 does not have the LZMA patch:

[code]

[2016-10-05 21:50] Dr15Jones commented on #16104
Do we know what pre-release the LZMA patch was first introduced? [Assuming it is in 8_1_X.]

[2016-10-05 21:57] bbockelm commented on #16104
Some output notes:

- All the objects are already serialized.  When we hit event "cluster" (ROOT terminology) boundaries, every active basket (so, 5,000 baskets) is compressed and written to disk.
- Here's the for-loop where we iterate over all top-level branches and flush each: https://github.com/root-mirror/root/blob/master/tree/tree/src/TBranch.cxx#L2602
- Digging through the call graph, it see

[2016-10-05 22:00] Dr15Jones commented on #16104
@davidlange6

[2016-10-05 22:01] Dr15Jones commented on #16104
So the LZMA change is in ROOT 6.06_patches branch: https://github.com/root-mirror/root/blob/v6-06-00-patches/core/lzma/src/ZipLZMA.c

[2016-10-05 22:09] Dr15Jones commented on #16104
The window where the first problem arrose is around 350 events into the file
[code]

[2016-10-06 00:43] Dr15Jones commented on #16104
@smuzaffar would it be possible to get a one off build of CMSSW_8_0_20_patch1 but with the version of ROOT from CMSSW_8_1_X? That would let us test the effect of the LZMA patch. We also wouldn't have ot have the most latest ROOT if we could get a version that we were sure had the LZMA patch.

This could be used to assess the affect on the threading efficiency for this job.

[2016-10-06 00:45] Dr15Jones commented on #16104
@bbockelm what about a double buffering system? When we hit the 'cluster' limit we switch to different baskets and asynchronously handle the compression and writing to disk?

[2016-10-06 00:46] Dr15Jones commented on #16104
@pcanal So you can follow the discussion.

[2016-10-06 00:52] Dr15Jones commented on #16104
Here is the pull request to ROOT which patches lzma
https://github.com/root-mirror/root/commit/93e1f65e23c4f88316f6a5b63417e02e183f1ba2

[2016-10-06 00:55] Dr15Jones commented on #16104
#16111 fixes the incorrect reporting in edmStreamStallGrapher.py which is in CMSSW_8_0_X now.

[2016-10-06 01:34] pcanal commented on #16104
Note that one of the feature of 6.08 is to also for a multi-thread version of TTree::GetEntry so some of the missing part have been taking care of, but likely not all of them.

Indeed one cost of doing the compression in parallel would that each branch would now need its own 'compression' buffer .. hence increase the memory.

I still find odd that only '4' of out of the 12 or cluster are taking a

[2016-10-06 01:55] Dr15Jones commented on #16104
I tested a job where I changed AODoutput to use a split level of 0. Using the improved edmStreamStallGrapher gives
[code]
where the time report is
[code]
Which gives an efficiency of
[code]

[2016-10-06 02:02] bbockelm commented on #16104
@Dr15Jones - LZMA is (purposely) slow.  Could you try zlib level 1 on a normally-split file?

@pcanal - I have been digging in "IMT" mode tonight.  It seems that we already have a compression buffer per branch when this mode is enabled!  This is indeed overkill: only a thread-local compression buffer should be needed.  I'll try to see if I can get parallel processing working based on what's alread

[2016-10-06 02:17] Dr15Jones commented on #16104
With split level 0 the stall graph is
https://dl.dropboxusercontent.com/u/11356841/rereco_stall_split0_1000.pdf

[2016-10-06 02:53] cmsbuild commented on #16079
The cleanup has started for slc6_amd64_gcc493

[2016-10-06 02:53] cmsbuild commented on #16079
The cleanup has started for slc6_amd64_gcc530

[2016-10-06 02:53] cmsbuild commented on #16079
The cleanup has started for slc7_amd64_gcc530

[2016-10-06 02:53] #16079 closed

[2016-10-06 02:54] cmsbuild commented on #16079
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_20_patch1-slc6_amd64_gcc493/495

[2016-10-06 02:54] cmsbuild commented on #16079
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_20_patch1-slc6_amd64_gcc530/496

[2016-10-06 02:57] cmsbuild commented on #16079
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_20_patch1-slc7_amd64_gcc530/497

[2016-10-06 03:26] Dr15Jones commented on #16104
So I ran with zlib. The stall information is
[code]
The timing report is
[code]
Where the efficiency is
[code]

[2016-10-06 03:29] dan131riley commented on #16104
Unfortunately, subbing in a different version of root isn't as simple as a "scram setup" because of downstream dependencies, so it looks like it would take a special build to get a comparison with the lzma patches.

wrt gzip vs. lzma, on my test system at Cornell, with a local copy of the input file, processing 1000 events, vanilla setup gives

[code]

and with gzip instead of lzma for all outputs

[2016-10-06 03:53] cmsbuild commented on #16076
The cleanup has started for slc6_amd64_gcc491

[2016-10-06 03:53] #16076 closed

[2016-10-06 03:54] cmsbuild commented on #16076
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8_patch7-slc6_amd64_gcc491/498

[2016-10-06 04:03] bbockelm commented on #16104
We won't likely be able to backport it here, but this is an implementation of the parallel version of `FlushBaskets` as described above: https://github.com/root-mirror/root/pull/277

[2016-10-06 06:00] ianna commented on #15985
@mmusich - accessing the geometry - yes, e.g. DDCompactView is identical. However, there is a difference in which code is invoked in building a sub-detector Reco geometry. The DDCompactView is not used in this case, especially if the reco geometry tags are present in GT.

FYI, another issue with 2017 xml geometry is that there are important overlaps which cannot be ignored. Tracker pushed its enve

[2016-10-06 12:35] smuzaffar commented on #16104
@Dr15Jones , should we try to build a special release with CMSSW_8_0_20_patch1 code and root from 81X? Do you want it available for deployment or just local tests on cmsdevNN machines?

[2016-10-06 12:38] Dr15Jones commented on #16104
@smuzaffar local testing is all we need since we would not deploy it without validation.

[2016-10-06 14:02] Dr15Jones commented on #16035
@dan131riley In light of the recent re-RECO measurements, this looks to be more important than I at first thought. I think what we need to do is measure: write timing, read time, and file size for

- different compression algorithms
- different compression setting
- different buffer sizes

we will need to pay close attention for how this would affect stall timing as the number of threads is increa

[2016-10-06 15:44] boudoul commented on #15929
Hello - Can this issue be considered ? Thanks

[2016-10-06 17:32] Dr15Jones commented on #16039
Fixed by #16065

[2016-10-06 17:32] cmsbuild commented on #16039
This issue is fully signed and ready to be closed.

[2016-10-06 17:43] #16039 closed

[2016-10-06 17:56] Dr15Jones opened #16121 "Convert stalling legacy module to be threads-friendly"
Performance measurements on Fall 2016 Re-RECO jobs show the following modules as stalling

[code]

[From #16104]

The corresponding module types should be looked at for conversion to thread-friendly types.

[2016-10-06 17:56] cmsbuild commented on #16121
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-06 18:00] Dr15Jones commented on #16121
From the configuration we get
[code]

It is quite possible that some of these are already thread-friendly but the tool gave a false positive.

[2016-10-06 18:04] Dr15Jones commented on #16121
`CkfTrackCandidateMaker` and `TrackProducer` are already stream module and `L1MuGlobalMuonTrigger` is already a one module.

[2016-10-06 18:04] Dr15Jones commented on #16121
assign core

[2016-10-06 18:04] cmsbuild commented on #16121
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-06 18:18] Dr15Jones commented on #16104
@dan131riley Nice measurement :). Did you also convert `ALCARECOStreamHcalCalIterativePhiSym` and `ALCARECOStreamEcalESAlign` which are also OutputModules? [Assuming they were not already using gzip]

[2016-10-06 18:25] Dr15Jones commented on #16121
Other modules that shows up in some of the stalls are `QGTagger`
[code]

as well as `hcalphisymHLT`
[code]

and `SiPixelHitEfficiencySource`
[code]

all of these are legacy types.

[2016-10-06 18:27] Dr15Jones opened #16123 "Improve unit test coverage for multiple threads per event"
Need to extend the testing to have a much more complete coverage of the ability to have concurrent modules processing the same event.

[2016-10-06 18:27] cmsbuild commented on #16123
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-06 18:27] Dr15Jones commented on #16123
assign core

[2016-10-06 18:27] cmsbuild commented on #16123
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-06 18:45] Dr15Jones commented on #15961
+1

[2016-10-06 18:46] Dr15Jones commented on #15866
ping do people have any preference for the solution?

[2016-10-06 18:57] Dr15Jones commented on #15604
@davidlange6 @smuzaffar can this be closed now?

[2016-10-06 18:57] Dr15Jones commented on #15524
+1

[2016-10-06 18:58] cmsbuild commented on #15524
This issue is fully signed and ready to be closed.

[2016-10-06 19:04] Dr15Jones commented on #16123
FWCore/Framework/test/Event_t.cpp should test concurrent calls to Event methods.

[2016-10-06 19:07] Dr15Jones commented on #16123
The test in FWCore/Framework/test which checks early delete from event should be extended to test using multiple threads per event.

[2016-10-06 19:07] Dr15Jones commented on #16123
SubProcesses should be tested with multiple threads

[2016-10-06 19:09] Dr15Jones commented on #16123
Need to test unscheduled processing

[2016-10-06 19:09] Dr15Jones commented on #16123
Need to test path dependency (including early path termination).

[2016-10-06 19:13] Dr15Jones commented on #15977
#16118 fixes the issue

[2016-10-06 19:18] Dr15Jones opened #16125 "FastTimerService is not multiple thread per event safe"
The framework (in CMSSW_8_1_DEVEL_X) now allows multiple paths to be run simultaneously. However, FastTimerService is not thread safe for that kind of concurrency since it assumes one path per stream. Even running with just one thread causes a crash since with one thread all the Paths are still started at the same time (and they most likely march sequentially from one to the next although it is po

[2016-10-06 19:18] cmsbuild commented on #16125
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-06 19:19] Dr15Jones commented on #16125
assign core

[2016-10-06 19:19] cmsbuild commented on #16125
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-06 19:19] Dr15Jones commented on #16125
assign hlt

[2016-10-06 19:19] cmsbuild commented on #16125
New categories assigned: hlt

@Martin-Grunewald,@perrotta,@silviodonato,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-06 19:19] Dr15Jones commented on #16125
Andrea Bocci and I had an email discussion about this a few weeks back. Out short term solution was to disable the service in CMSSW_8_1_DEVEL_X. I created this issue as a reminder.

[2016-10-06 20:36] bbockelm commented on #16035
If possible, I'd be interested in actually increasing the buffer sizes: that should make the compression ratio better (and increase the amount of stalling going on, unfortunately).

What "balance of resources" would we like to achieve here?

[2016-10-06 20:45] smuzaffar commented on #16104
@Dr15Jones , release is now available on vocms0301. In order to create a dev area based on it please run
[code]

[2016-10-06 20:46] smuzaffar commented on #15604
+1
yes this can be cloed now

[2016-10-06 20:46] #15604 closed

[2016-10-06 20:46] cmsbuild commented on #15604
This issue is fully signed and ready to be closed.

[2016-10-06 22:02] Dr15Jones commented on #16104
So I tried running the job in that release but I get the exception
[code]

Looking I just realized that the release I was using was CMSSW_8_0_20 but the release I requested built was for CMSSW_8_0_20_patch1. Maybe there is a subtle difference between the two?

[2016-10-06 23:32] davidlange6 commented on #16104
Right- When you have full psets most releases are incompatible in some way

On Oct 7, 2016, at 2:03 AM, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

So I tried running the job in that release but I get the exception

----- Begin Fatal Exception 06-Oct-2016 23:56:52 CEST-----------------------
An exception of category 'Configuration' occurred while
   [0] Processi

[2016-10-06 23:34] davidlange6 commented on #16035
FYI- When last checked this didn't help the compressed size... But it's been a few years. Of course if bigger means more stalls maybe reducing can also be considered?

On Oct 7, 2016, at 12:36 AM, Brian Bockelman <notifications@github.com<mailto:notifications@github.com>> wrote:

If possible, I'd be interested in actually increasing the buffer sizes: that should make the compression ratio better (

[2016-10-06 23:34] Dr15Jones commented on #16104
I was able to re-inject the values that were missing to get the job to run. I'm now running CMSS_8_0_20_patch1 on the same machine.

[2016-10-07 00:29] Dr15Jones commented on #16104
The results for using the ROOT from CMSSW_8_1_X with 8_0_20_patch1
[code]
Which gets an efficiency of  `7253.42/1916.82/4 = 0.946'

The stall information is
[code]

[2016-10-07 00:36] Dr15Jones commented on #16104
The same machine running vanilla CMSSW_8_0_20_patch1
[code]
which gives the efficiency of `7549.7/2147.72/4 = 0.88`

With stall information
[code]

[2016-10-07 00:42] Dr15Jones commented on #16104
Looks like using the newest ROOT gave a factor of almost 10 for timing on the output modules.

[2016-10-07 00:44] bbockelm commented on #16104
Were both of the above tests using LZMA?

[2016-10-07 00:47] Dr15Jones commented on #16104
Both used LZMA.

[2016-10-07 02:04] dan131riley commented on #16104
That's consistent with what I saw with Slava's test job when I was working on the LZMA patch--we went from

AODoutput                         : 687.31         48.16, 44.15, 43.82, 43.53, 40.34, 38.43, 36.51, 34.71, 33.63, 24.07, 22.80, 21.76, 20.13, 19.82, 16.83, 13.97, 13.52, 12.59, 11.35, 11.21, 10.91, 10.13, 9.39, 8.67, 8.56, 8.42, 8.42, 7.80, 7.05, 6.99, 6.69, 6.50, 5.91, 5.66, 5.17, 4.64, 3.4

[2016-10-07 09:11] smuzaffar commented on #14919
any update for this? We need to fix this for ROOT6 IBs which are broken now

[2016-10-07 14:37] Dr15Jones commented on #15594
We should also record the time it takes to process Run and Lumi transitions since they are synchronization points.

[2016-10-07 14:38] Dr15Jones commented on #15594
We should have the option to not write out a file and instead give a summary to the log (maybe the framework job report?) on the source of the largest stall times.

[2016-10-07 14:58] Dr15Jones commented on #16068
An example of a unrunnable schedule that we miss is
[code]
Where we have the data dependencies
[code]

Doing a depth first search of the graph starting from `TriggerResults` (TR) gives
[code]
The back edge `EPBE1, TR` is found to be a false postive since `A` is always run earlier on the path contains `C`.
The cycle of `TR->PEP2->E->D->A->BEPE1->TR` is not seen because the search does not go over v

[2016-10-07 16:28] davidlange6 commented on #15929
assign core

[2016-10-07 16:28] davidlange6 commented on #15929
@iahmad-khan

[2016-10-07 16:28] cmsbuild commented on #15929
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-08 14:30] civanch commented on #14273
+1

[2016-10-08 14:30] cmsbuild commented on #14273
This issue is fully signed and ready to be closed.

[2016-10-08 14:31] civanch commented on #13102
+1
done long ago

[2016-10-08 14:31] cmsbuild commented on #13102
This issue is fully signed and ready to be closed.

[2016-10-09 22:29] #15763 closed

[2016-10-09 22:32] Dr15Jones commented on #15982
Should be fixed by #16157 #16158

[2016-10-10 18:12] civanch commented on #14399
+1
has been fixed long ago

[2016-10-10 18:12] cmsbuild commented on #14399
This issue is fully signed and ready to be closed.

[2016-10-10 22:46] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-10-10-1100/pyRelValMatrixLogs/run/1325.0_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15+ALCATTUP15/step5_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15+ALCATTUP15.log

Two threads waiting on mutex, and one unlocking:

[code]

leads eventually to

https://github.com/root-mirror/root/blob/4fa59f4fb80fd914cb84

[2016-10-11 00:18] cvuosalo commented on #16004
@civanch: #16069 was merged starting with CMSSW_8_1_X_2016-10-03-2300. However, the bug is still active in CMSSW_8_1_X_2016-10-06-1100 (see Jenkins for #16054 as an example).

[2016-10-11 01:42] Dr15Jones opened #16166 "Check TrajectoryMeasurement for thread-safety problems"
The class TrajectoryMeasurement
http://cmslxr.fnal.gov/source/TrackingTools/PatternTools/interface/TrajectoryMeasurement.h

uses a mutable `theLayer` and contains member data of type `TrajectoryStateOnSurface`
http://cmslxr.fnal.gov/source/TrackingTools/TrajectoryState/interface/TrajectoryStateOnSurface.h#0017

which inherits from `ProxyBase11`
http://cmslxr.fnal.gov/source/TrackingTools/Trajector

[2016-10-11 01:42] cmsbuild commented on #16166
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-11 01:42] Dr15Jones commented on #16166
assign reconstruction

[2016-10-11 01:42] Dr15Jones commented on #16166
assign core

[2016-10-11 01:43] cmsbuild commented on #16166
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-11 04:18] Dr15Jones commented on #16166
@gartung this did not show up in the static analyzer

[2016-10-11 09:28] civanch commented on #16004
@cvuosalo , concerning  #16054 : for me there are comparison problems only in the work flow 20024.0, while all others are on a standard level; even for this WF number of differences is much less compared to the case, when bug was introduced.

[2016-10-11 13:49] makortel commented on #15985
May I ask what is the plan for the phase1 geometry for pre13? Is the problem expected to be solved by then, or do we just keep using the XML geometry until it is fixed?

[2016-10-11 14:24] dmitrijus commented on #15866
Hello, neither of us are the experts on the framework, but I think solution #3 would be the best.
The less we touch/involve EndPaths, the better.

[2016-10-11 14:29] slava77 commented on #16166
@VinInn @rovere
please take a look and comment
Thank you.

[2016-10-11 14:34] gartung commented on #16166
@Dr15Jones I have to check but I think the data class names bloom filter has not been updated in a long time and this class may not be in it.

[2016-10-11 14:44] VinInn commented on #16166
TrajectoryMeasurement is a time critical class used in pattern recognition and fitting.
It cannot be made persistent.
DeDxEstimatorProducer is a low priority producer.
Besides that using a edmRef to access a "TrajectoryMeasurement" is a huge overkill (as a simple pointer is enough), I think that the implementation of the DeDxEstimator need to be reviewed
as I suspect more a violation of edm rules

[2016-10-11 14:56] ianna commented on #15985
@makortel - I've found a couple of bugs but the major problem is in broken contracts. I'm assessing if some class modifications can be rolled back.

[2016-10-11 15:03] VinInn commented on #16166
I am afraid this is a more generalized problem affecting clients of TrajectoryStateOnSurface stored in the event. For various (good) reasons a "TrajectoryStateOnSurface" may endup in the event not fully filled. If concurrent clients request any of the "not-filled" components a race may occur.
Protecting from races TrajectoryStateOnSurface may imply serious overhead in time-critical part of trackin

[2016-10-11 15:38] slava77 opened #16177 "collection of PRs for a possible re-miniAOD of 2016 data in 80X after 23Sept2016 (used in 03Feb2017 re-miniAOD)"
issue to keep track of PRs that change miniAOD event content and aiming for a potential re-miniAOD in 80X of 2016 data and MC. There remains a possibility for the legacy rereco. The time scale is around March 2017.

### Included in data re-miniAOD (03Feb2017) CMSSW_8_0_26_patch1
- #17296 [signed]  ECAL / EGM: Remake ECAL cluster using modified rechits. Remake superclusters. Update electron/photon

[2016-10-11 15:39] cmsbuild commented on #16177
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2016-10-11 16:28] cvuosalo commented on #16004
@civanch: The DQM differences for #16054 number about 1000 plots, which is about the same as for the PRs initially mentioned in the description of this issue, so I don't see any improvement.

[2016-10-11 16:29] Dr15Jones commented on #16166
Unfortunately, this is a very big problem since we already have the capability in CMSSW_8_1 of using multiple threads for one Event. That means we already have the potential for the race condition.

[2016-10-11 16:38] VinInn commented on #16166
for a test you can add a "mutex" and protect check...() and create() methods in
TrackingTools/TrajectoryState/src/BasicTrajectoryState.cc
pre-empting is not an option (creating errors has a huge impact, and often there is no need)

[2016-10-11 16:43] Dr15Jones commented on #16166
It would be really useful if someone could create a configuration which would easily show a performance problem if the classes in question are changed. That would allow me to try different solutions and give measurements on the effect.

[2016-10-11 17:02] VinInn commented on #16166
The config is TrackerOnly  @makortel can instruct you how to generate it for our usual ttbar workflow
or just copy
/afs/cern.ch/work/i/innocent/public/data/tkDQM.py
and input data
JetHT_Run279685_raw.root

we can try to "preempt' only the trajectory stored in the event (Tracking does not use those!)
let's find all producers of "vector<Trajectory>" (most probably just TrackProducer) and make sure a

[2016-10-11 17:10] Dr15Jones commented on #16166
If we force the updates before sending the data out, does it then make sense to make the methods non-const and the data non-mutable?

[2016-10-11 17:17] VinInn commented on #16166
The main use of TSOS is internal to tracking and propagation where it make much sense to avoid unnecessary computations...
It is stored in the event for DQM and few other consumers (some could just migrate to reco::Track)
In my mind most of those usage is mainly historical and often wha needed is just a couple of parameters (such as trajState.localDirection(); or  trajState.localMomentum().mag() (

[2016-10-11 18:56] makortel commented on #16166
For 2016: step3 of `runTheMatrix.py -l 1325.1` (or `10024.1` for 2017). It is just standard reconstruction up to tracking (and limited/special DQM+VALIDATION).

[2016-10-12 07:40] VinInn commented on #16166
I instrumented the TSOS and, as expected, it is not modified in the DeDxEstimatorProducer
so the problem is elsewhere  (accessing the event?, copying a shared_ptr?, hardware issue?)

[2016-10-12 16:40] Dr15Jones commented on #16166
@VinInn thanks for doing a more detailed check.

[2016-10-12 17:27] dan131riley commented on #16121
HcalTrigPrimDigiProducer is legacy in 8_0_x, edm::stream::EDProducer in 8_1_x.

RPCTrigger is legacy and not thread safe if RPCTriggerDebug is set due to singleton MuonsGrabber (should never be set in production).

L1RCTProducer is legacy and looks to be ok as a one module, couldn't tell from a quick inspection if ok as stream.

L1TCSCTF is thread_unsafe::DQMEDAnalyzer...

CSCTFTrackProducer and L

[2016-10-13 09:02] civanch commented on #15896
@ssekmen , have you seen this issue?

[2016-10-13 09:44] ssekmen commented on #15896
No, I missed it.  I will investigate.

[2016-10-14 11:13] ianna commented on #15985
* 2017dev from a local DB tag:
![screenshot 2016-10-14 12 21 55](https://cloud.githubusercontent.com/assets/1390682/19385609/b49dd47c-920f-11e6-9292-86774e3869a0.png)
* 2017 from a local DB tag:
![screenshot 2016-10-14 12 52 38](https://cloud.githubusercontent.com/assets/1390682/19385611/b4a0b5d4-920f-11e6-80cd-ef1db22fede5.png)
* Run1 from a DB GT tag:
![screenshot 2016-10-14 12 56 42](https://cl

[2016-10-14 17:09] Dr15Jones opened #16218 "CSCTriggerPrimitivesProducer causing many exceptions"
The CSCTriggerPrimitivesProducer module is triggering many exceptions which it then catches. See
https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/L1Trigger/CSCTriggerPrimitives/plugins/CSCTriggerPrimitivesProducer.cc#L101

Instead of doing `try {...}catch` the code should check the validity of the `ESHandle` after the `get`.

[2016-10-14 17:10] cmsbuild commented on #16218
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2016-10-14 17:11] Dr15Jones commented on #16218
When running jobs under the debugger I see
[code]

[2016-10-14 17:11] Dr15Jones commented on #16218
assign L1

[2016-10-14 17:49] Dr15Jones commented on #16218
assign l1

[2016-10-14 17:49] cmsbuild commented on #16218
New categories assigned: l1

@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-16 04:04] davidlange6 opened #16223 "Build CMSSW_8_1_0_pre13"

[2016-10-16 04:04] davidlange6 commented on #16223
+1

[2016-10-16 04:04] cmsbuild commented on #16223
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-10-16 04:04] cmsbuild commented on #16223
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-10-16 04:05] cmsbuild commented on #16223
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc7_ppc64le_gcc530, fc24_ppc64le_gcc620, slc6_amd64_gcc600
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are buildin

[2016-10-16 04:07] cmsbuild commented on #16223
The build has started for slc7_aarch64_gcc530 in techlab-arm64-moonshot-xgene-013.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/831/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-10-16 05:08] cmsbuild commented on #16223
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/833/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-10-16 05:08] cmsbuild commented on #16223
The build has started for slc7_amd64_gcc530 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/834/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-10-16 05:43] cmsbuild commented on #16223
The build has started for slc6_amd64_gcc600 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/835/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-10-16 09:16] cmsbuild commented on #16223
The build has finished sucessfully for the architecture slc6_amd64_gcc600 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre13-slc6_amd64_gcc600/835
Some test

[2016-10-16 10:23] cmsbuild commented on #16223
The tests have finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre13-slc6_amd64_gcc600/835

Tests results:
17 17 16 14 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-10-16 11:39] cmsbuild commented on #16223
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre13-slc6_amd64_gcc530/833
Some test

[2016-10-16 12:45] cmsbuild commented on #16223
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre13-slc6_amd64_gcc530/833

Tests results:
17 17 16 14 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-10-16 14:40] cmsbuild commented on #16223
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre13-slc7_amd64_gcc530/834
Some test

[2016-10-16 15:43] #15985 closed

[2016-10-16 16:04] cmsbuild commented on #16223
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre13-slc7_amd64_gcc530/834

Tests results:
17 17 16 14 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-10-16 16:12] davidlange6 commented on #16223
abort

[2016-10-16 16:12] cmsbuild commented on #16223
Deleting CMSSW_8_1_0_pre13:

  -Release successfully deleted

  -I was not able to delete the tag CMSSW_8_1_0_pre13. Probaly it had not been created.

  -Aborting Jenkins build for slc7_aarch64_gcc530

  -I was not able to delete the cmsdist tag REL/CMSSW_8_1_0_pre13/slc6_amd64_gcc530. Probably it had not been created.

  -I was not able to delete the cmsdist tag REL/CMSSW_8_1_0_pre13/slc7_aarch64

[2016-10-16 16:27] #16223 closed

[2016-10-16 17:17] davidlange6 opened #16226 "Build CMSSW_8_1_0_pre13"

[2016-10-16 17:17] davidlange6 commented on #16226
+1

[2016-10-16 17:18] cmsbuild commented on #16226
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-10-16 17:18] cmsbuild commented on #16226
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-10-16 17:18] cmsbuild commented on #16226
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc7_ppc64le_gcc530, fc24_ppc64le_gcc620, slc6_amd64_gcc600
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are buildin