[2020-08-03 23:07] cmsbuild commented on #31034
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-cc8_amd64_gcc8/2560

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-03 23:08] cmsbuild commented on #31034
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2563/console
CMSDIST Branch: [REL/CMSSW_11_1_2/slc7_aarch64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_1_2/slc7_aarch64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-03 23:17] makortel commented on #30980
I'm not sure what log I looked earlier (https://github.com/cms-sw/cmssw/issues/30980#issuecomment-668174830), but now 29034.0 looks clean in CMSSW_11_2_X_2020-08-03-1100. So it looks like #30996 indeed fixed the error, and this issue can be closed.

[2020-08-03 23:34] cmsbuild commented on #31034
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_amd64_gcc820/2562

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-03 23:37] makortel commented on #31023
Here is a stack trace of the exception
[code]

[2020-08-03 23:49] gartung commented on #31030
It looks like this if clause is always executed because NO_IBEOS_UPDATES is never set

https://github.com/cms-sw/cms-bot/blob/187cf04ca3a9df9ce43c2367e96c4d687dd5962e/run-ib-testbase.sh#L28

This if clause copies cms-bot/das-utils/das_client to cms-bot/das-utils/das_client.py and adds it to the path. I think this is overriding the default das_client.py.

The --ibeos flag to runTheMatrix.py adds sr

[2020-08-04 00:04] gartung commented on #31030
I added this to the shell for the ib-run-igprof Jenkins job

[code]

https://cmssdt.cern.ch/jenkins/job/ib-run-igprof/

[2020-08-04 01:13] cmsbuild commented on #31034
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_aarch64_gcc820/2563
So

[2020-08-04 04:03] cmsbuild commented on #31034
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_patch3-slc7_aarch64_gcc820/2563

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-04 08:09] silviodonato commented on #31034
upload all

[2020-08-04 08:09] cmsbuild commented on #31034
Queing Jenkins upload for cc8_amd64_gcc8

[2020-08-04 08:09] cmsbuild commented on #31034
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-08-04 08:09] cmsbuild commented on #31034
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-04 08:09] cmsbuild commented on #31034
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-08-04 08:11] cmsbuild commented on #31034
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1645/console

[2020-08-04 08:12] cmsbuild commented on #31034
The upload has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1643/console

[2020-08-04 08:12] cmsbuild commented on #31034
The upload has started for slc7_amd64_gcc820 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1644/console

[2020-08-04 08:12] cmsbuild commented on #31034
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch3-slc7_ppc64le_gcc820/1645

[2020-08-04 08:13] cmsbuild commented on #31034
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1646/console

[2020-08-04 08:15] cmsbuild commented on #31034
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch3-slc7_aarch64_gcc820/1646

[2020-08-04 08:19] cmsbuild commented on #31034
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch3-cc8_amd64_gcc8/1643

[2020-08-04 08:22] cmsbuild commented on #31034
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_patch3-slc7_amd64_gcc820/1644

[2020-08-04 08:27] silviodonato commented on #31034
release-notes

[2020-08-04 08:28] cmsbuild commented on #31034
Generating release notes since CMSSW_11_1_2_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-08-04 08:28] cmsbuild commented on #31034
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_1_2_patch3 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_2_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_2_patch3

[2020-08-04 08:30] cmsbuild commented on #31034
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2_patch3

[2020-08-04 13:30] Dr15Jones commented on #31023
Using the following trivial configuration
[code]

The problem does not happen and the module loads fine. So the problem must be an iteraction with more than just the dictionary load.

[2020-08-04 13:40] Dr15Jones commented on #31023
Using the follow not so trivial configuration
[code]

Also succeeded which means it is not a simple bad interaction with the file and the dictionaries.

[2020-08-04 14:26] guitargeek commented on #30849
Fixed by https://github.com/cms-sw/cmssw/pull/30936, thank you very much @hatakeyamak!

[2020-08-04 14:26] #30849 closed

[2020-08-04 15:14] makortel commented on #31023
That was only because the offending `produces()` call is not called by default. Enabling that reproduces the problem
[code]

[2020-08-04 15:21] gartung commented on #31030
I can reproduce the segfault running in lxplus if I duplicate the commands from the jenkins job.
[code]

If I call run.sh directly there is no segfault. There is something about running under

[2020-08-04 15:27] gartung commented on #31030
It appears that running igprof under singularity does not work. I can try to confirm by running in a singularity shell.

[2020-08-04 15:29] Dr15Jones commented on #31023
So if I add
[code]

to the minimum failure configuration I get a different exception
[code]

[2020-08-04 15:38] gartung commented on #31030
Running in singularity on afs I get this error

[code]

[2020-08-04 15:46] watson-ij commented on #31023
I was modifying the GEM classes recently so I took a look. <class name="std::vector<gem::AMCdata>"/> is in the classes_def.xml in DataFormats/GEMDigi, but this pair<> isnt. Looking around, this is what the other classes_def.xml also do, so I'm not sure why it would be an issue only for us in GEM? Could it be an the issue with the gem:: namespace?

[2020-08-04 15:52] Dr15Jones commented on #31023
Fixed in #31048

[2020-08-04 16:12] gartung commented on #31030
The segfault happens when the cmsDriver.py command is run in it's own thread from
Configuration/PyReleaseValidation/MatrixRunner.py(64)runTests()

[2020-08-04 16:30] makortel commented on #31023
Thanks @Dr15Jones. I'm left to wonder to things (mostly for @pcanal I presume)
* Why we did not get a complaint from missing dictionaries before? (perhaps they surfaced now thanks to an update in ROOT?)
* Why did it cause an error inside ROOT instead of the usual report of a missing dictionary?

[2020-08-04 16:39] Dr15Jones commented on #31023
I see that the other uses of `MuonDigiCollection<>` do explicitly generate dictionaries for the relevant `std::pair`

https://github.com/cms-sw/cmssw/blob/d032aea0d487a1c8a70e5d99e0d0ef0881762368/DataFormats/CSCDigi/src/classes_def.xml#L99-L116

[2020-08-04 16:39] gartung commented on #31030
Running igprof with bash -x
[code]

The libc.so.6 version looks the same

[2020-08-04 16:42] gartung commented on #31030
Trying to do  what igprof script does directly causes segfault in bash.

[code]

[2020-08-04 16:52] gartung commented on #31030
Segfault is in igprof lib

[code]

[2020-08-04 17:16] gartung commented on #31030
Same error with cmsRunGlibC
[code]

[2020-08-04 17:26] gartung commented on #31030
Segfault is caused by memset
https://github.com/igprof/igprof/blob/c6882f4d8e39893d71466ea23da643dafb60a496/src/sym-cache.cc#L9
on this variable
https://github.com/igprof/igprof/blob/c6882f4d8e39893d71466ea23da643dafb60a496/src/sym-cache.h#L14
but only when running under Singularity.

[2020-08-04 17:30] gartung commented on #31030
The only solution may be to run the igprof jobs without Singularity on the cmsdev nodes as @smuzaffar suggested,

[2020-08-04 17:37] bsunanda commented on #30980
I checked that in a recent IB and there is no segmentation violation there. I shall continue investigating

[2020-08-04 21:26] makortel commented on #29558
@ggovi What do you think about David's question above?

[2020-08-04 22:26] cvuosalo opened #31051 "Move most of DetectorDescription/DDCMS to DD4hep repo"
Our plan is to eventually move most of the code in DetectorDescription/DDCMS to the DD4hep repository. Of course, some revision will be required to remove CMS-specific features and to make the code suitable for general use. Some small part of the code in this package probably cannot be moved because it represents the interface between DD4hep and CMSSW.

We would like to reduce the amount of code w

[2020-08-04 22:26] cmsbuild commented on #31051
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-04 22:27] cvuosalo commented on #31051
assign geometry

[2020-08-04 22:27] cmsbuild commented on #31051
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-04 22:33] cvuosalo commented on #31051
Filter and SpecParRegistry were added to DD4hep on 2-Jul-2020:
https://github.com/AIDASoft/DD4hep/pull/675
https://github.com/AIDASoft/DD4hep/pull/682

[2020-08-04 22:33] cvuosalo commented on #31051
@ianna FYI

[2020-08-04 23:01] cvuosalo commented on #31010
There has been some evidence that a union of CutTubs can create overlaps. These unions are produced by algorithms in the following files:
[code]
These files are part of Runs 2 and 3 scenarios.

[2020-08-05 00:37] slava77 opened #31052 "repeated AK8PuppiSoftDrop ecfN data in slimmedJetsAK8"
in regular miniAOD (both in 106X and 112X) we have duplicate values of userFloats in slimmedJetsAK8 appearing with different names, eg. :
- ak8PFJetsPuppiSoftDropValueMap:nb1AK8PuppiSoftDropN2
    - this comes via ak8PFJetsPuppiSoftDropValueMap , inserted in patJetsAK8Puppi
- nb1AK8PuppiSoftDrop:ecfN2
    - this comes via patJetsAK8PFPuppiSoftDrop, inserted in packedPatJetsAK8

Notably, the former

[2020-08-05 00:38] cmsbuild commented on #31052
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-05 00:38] slava77 commented on #31052
assign reconstruction,xpog

[2020-08-05 00:39] cmsbuild commented on #31052
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@perrotta,@jpata,@gouskos,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-05 07:21] ianna commented on #31051
thanks, @cvuosalo !

[2020-08-05 08:29] srimanob opened #31054 "Very confusion when new Phase-2 L1T paths show up in Run-2 config"
Dumping python config of Run-2, i.e. from runTheMatrix
`runTheMatrix.py --what upgrade -l 10825.0 -t 8 -b 'PHATTEST_R2112' --label 'PHATTEST_R2112' --wm init`
shows that in the L1 step, some paths which should not belong to Run-2 appears in the config.

[code]
gives
[code]

I understand for the schedule that those pL1Tk will not run,
`process.schedule = cms.Schedule(process.digitisation_step,proce

[2020-08-05 08:29] cmsbuild commented on #31054
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-05 08:56] silviodonato commented on #31054
assign upgrade

[2020-08-05 08:56] silviodonato commented on #31054
assign pdmv

[2020-08-05 08:56] cmsbuild commented on #31054
New categories assigned: pdmv,upgrade

@chayanit,@wajidalikhan,@pgunnell,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-05 09:02] srimanob commented on #31054
Hi @silviodonato @rekovic

I used to comment before when we check HLT TDR cmsDriver that those paths defined in
https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TTrackMatch/python/L1TkObjectProducers_cff.py

However, they are never called, e.g. from
https://github.com/cms-sw/cmssw/blob/master/L1Trigger/Configuration/python/SimL1Emulator_cff.py

Possible to clean up from L1T side?

[2020-08-05 09:09] chayanit commented on #31054
Hi @silviodonato , could you replace @pgunnell with @jordan-martins in PdmV?

[2020-08-05 09:53] silviodonato commented on #31054
Hi @srimanob,
I don't know the reason of the definition of those paths. Perhaps, they were made for debugging. I will prepare a PR to remove them. @rekovic do you know the reason of those paths?

[2020-08-05 12:28] #31034 closed

[2020-08-05 12:48] silviodonato commented on #31054
See https://github.com/cms-sw/cmssw/pull/31057

[2020-08-05 13:05] makortel commented on #30913
@skinnari @rekovic @benkrikler Please take a look of this issue reported by ASAN.

[2020-08-05 13:13] Dr15Jones opened #31059 "Memory over read in HGCalGeomParameters"
The recent ASAN builds are showing

[code]

[2020-08-05 13:13] Dr15Jones commented on #31059
Assign geometry

[2020-08-05 13:13] cmsbuild commented on #31059
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-05 13:13] cmsbuild commented on #31059
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-05 13:13] Dr15Jones commented on #31059
See https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-08-04-2300/pyRelValMatrixLogs/run/29034.0_TTbar_14TeV+2026D62+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step1_TTbar_14TeV+2026D62+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal.log

[2020-08-05 13:15] makortel commented on #31059
assign upgrade

[2020-08-05 13:15] cmsbuild commented on #31059
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-05 14:33] kpedro88 commented on #31059
@bsunanda please take a look

[2020-08-05 14:50] Dr15Jones opened #31061 "Migrate ED modules to use esConsumes"
All ED modules need to be migrated to use `esConsumes` and `edm::ESGetToken` to provide better threading efficiency.

[2020-08-05 14:50] cmsbuild commented on #31061
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-05 14:51] Dr15Jones commented on #31061
assign l1, reconstruction, simulation, dqm, hlt

[2020-08-05 14:51] cmsbuild commented on #31061
New categories assigned: dqm,simulation,hlt,reconstruction,l1

@mdhildreth,@jfernan2,@slava77,@benkrikler,@andrius-k,@fioriNTU,@rekovic,@perrotta,@jpata,@kmaeshima,@Martin-Grunewald,@civanch,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-05 14:56] Dr15Jones commented on #31061
The following modules were looked at but deemed to difficult to change for a non domain expert

- CAHitQuadrupletEDProducer
- CAHitTripletEDProducer
- CkfTrackCandidateMaker
- ConditionDumperInEdm
- ConversionTrackCandidateProducer
- CorrectedECALPFClusterProducer
- CosmicMuonProducer
- CtfSpecialSeedGenerator
- DTRecHitProducer
- DTRecSegment2DProducer
- DTRecSegment4DProducer
- DTSegment4DT0Corr

[2020-08-05 14:57] Dr15Jones commented on #31061
Relevant information about using `esConsumes` and `edm::ESGetToken` can be found at:

https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideHowToGetDataFromES#In_ED_module
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideHowToGetDataFromES#Getting_data_from_EventSetup_wit

[2020-08-05 14:59] Dr15Jones commented on #31061
The following modules are known to be used and have not been inspected for `esConsumes` needs

[code]

[2020-08-05 15:02] Dr15Jones commented on #31061
The following shows the state of known used modules

https://docs.google.com/spreadsheets/d/1NuE0cgisQGEXxG0gBMg4aNWsbY9ekUmULC5jRw383Ak/edit?ts=5f283f40#gid=0

[2020-08-05 15:45] fwyzard commented on #31061
If possible, please do not migrate these modules
[code]
until the Patatrack branch has been integrated upstream (see e.g. #27983).

[2020-08-05 15:52] slava77 commented on #25090
@mandrenguyen
please note and perhaps pass this to someone for an update.
Thank you.

[2020-08-05 15:53] gartung commented on #31030
Looking at the Singularity cgroups.toml on both lxplus and cmsdev34
/etc/singularity/cgroups/cgroups.toml
the only limit I see that might have an effect on memory allocation is hugepageLimits
[code]
Perhaps the pageSize requested memset is larger than 2MB.

[2020-08-05 15:58] smuzaffar commented on #31030
as I wrote privately, issue might not be with sigularity. I am able to run with
[code]

but running it using docker_launcher.sh (which internally starts singularity) fails

[2020-08-05 16:35] slava77 commented on #27889
provided in #31044 now

a backport will be made according to https://github.com/cms-sw/cmssw/pull/27465#issuecomment-669294131

[2020-08-05 16:41] hatakeyamak commented on #30953
Thanks @guitargeek
#30992 is concluded, so probably we can close this issue?

[2020-08-05 16:43] mbluj commented on #27889
provided in #31065 now (also includes changes from #31044)

[2020-08-05 16:48] gartung commented on #31030
Could you output that command to another file and then source that file?

[2020-08-05 16:52] smuzaffar commented on #31030
no idea what you mean by that :-)

[2020-08-05 16:55] gartung commented on #31030
Change this line
https://github.com/cms-sw/cms-bot/blob/c762159f68b2e3f779b8098e3aa53391ce1eaf2e/docker_launcher.sh#L125
to

echo singularity -s exec $SINGULARITY_OPTIONS $DOCKER_IMGX sh -c "${precmd} $CMD2RUN" || ERR=$?  >cmd

then in the Jenkins script

source cmd

[2020-08-05 17:00] gartung commented on #31030
It would need another line the set SINGULARITY_BINDPATH
https://github.com/cms-sw/cms-bot/blob/c762159f68b2e3f779b8098e3aa53391ce1eaf2e/docker_launcher.sh#L116

echo export SINGULARITY_BINDPATH="${SINGULARITY_BINDPATH},$ws" >>cmd

[2020-08-05 18:40] gartung commented on #31030
See https://github.com/cms-sw/cms-bot/pull/1359

[2020-08-05 19:16] gartung commented on #31030
Running Singularity in its own script still produced a segfault.

[2020-08-05 20:30] vargasa opened #31068 "Pending Tasks on SimTracker/TrackerMaterialAnalysis"
Present Issue serves as a way to keep track of work needed on the `SimTracker/TrackerMaterialAnalysis`

In its current form `CMSSW_11_2_X_2020-07-21-1100` the `SimTracker/TrackerMaterialAnalysis` is throwing the following:

- [ ] Multiple errors coming from https://github.com/cms-sw/cmssw/blob/503f8053329b5587411ab9607f14955428587ccf/SimTracker/TrackerMaterialAnalysis/plugins/TrackingMaterialAnaly

[2020-08-05 20:31] cmsbuild commented on #31068
A new Issue was created by  @vargasa Andrs Vargas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-05 20:52] vargasa opened #31069 "AllStepsToTree Option Failing on Validation/Geometry"
By setting `AllStepsToTree` to true on https://github.com/cms-sw/cmssw/blob/master/Validation/Geometry/test/runP_Tracker.py#L129 the module crashes.

The TTree's branches are reserved here https://github.com/cms-sw/cmssw/blob/master/Validation/Geometry/src/MaterialBudgetTree.cc#L15 and filled in the same class with data coming from `MaterialBudgetData.cc`.

When `AllStepsToTree` is set to false (d

[2020-08-05 20:52] cmsbuild commented on #31069
A new Issue was created by  @vargasa Andrs Vargas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-05 22:23] makortel commented on #31068
assign simulation, geometry

[2020-08-05 22:23] cmsbuild commented on #31068
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@makortel,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-05 22:24] makortel commented on #31069
assign dqm,geometry

[2020-08-05 22:24] cmsbuild commented on #31069
New categories assigned: geometry,dqm

@Dr15Jones,@cvuosalo,@mdhildreth,@jfernan2,@andrius-k,@fioriNTU,@makortel,@kmaeshima,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-06 00:10] slava77 opened #31071 "CandPtrProjector unclustered candidate matching for MET NoHF (bug in miniAOD MET NoHF)"
I was debugging  differences in UL re-miniAOD between 106X and 112X, and was puzzled by the somewhat small but numerous changes in slimmedMETsNoHF UnclusteredEnUp/Down.
If I understood correctly (although I did not add any debug printouts to confirm), the problem is that the "NoHF" is based on ```noHFCands```, which are copies (not Ptrs) of the original PF cands https://github.com/cms-sw/cmssw/blo

[2020-08-06 00:10] slava77 commented on #31071
assign reconstruction

[2020-08-06 00:10] cmsbuild commented on #31071
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-06 00:10] cmsbuild commented on #31071
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-06 06:57] dildick opened #31073 "ASAN reports undefined reference to function in ME0DetId"
I recently tried to compile a private branch https://github.com/dildick/cmssw/tree/CMSSW_11_2_X_2020-07-24-1400-add-number-partitions-GEM-TP-test2 in CMSSW_11_2_ASAN_X_2020-08-05-2300 as part of a pull request I'm working on. I get this:

[code]

@bsunanda do you know if is there something missing in the ME0DetId?

[2020-08-06 06:58] cmsbuild commented on #31073
A new Issue was created by  @dildick Sven Dildick.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-06 07:00] mmusich commented on #31068
@vargasa

I am adding @emiglior since he was the last person to change that in PR https://github.com/cms-sw/cmssw/pull/27661.
As for checking if that file is functional (as well as all the others in that package) I would simply add a unit test, we are doing it in many other packages and the mechanism has served well so far.

[2020-08-06 08:34] skinnari commented on #30913
@makortel thanks for pointing me to this! will try to fix today.

[2020-08-06 09:06] silviodonato commented on #31023
solved in  CMSSW_11_2_X_2020-08-05-2300 (#31048)

[2020-08-06 12:06] Dr15Jones commented on #31073
This is likely caused by the BuildFile.xml not linking to all the needed packages.

[2020-08-06 12:19] makortel commented on #31023
+1

(although I'm still curious of https://github.com/cms-sw/cmssw/issues/31023#issuecomment-668698133)

[2020-08-06 12:19] #31023 closed

[2020-08-06 13:50] jpata commented on #30955
volunteering myself to attempt to speed up this function in the next days.

[2020-08-06 13:54] #31073 closed

[2020-08-06 14:03] hatakeyamak commented on #30955
Thx @jpata

[2020-08-06 15:04] makortel commented on #31061
I took the static analyzer report (on the non-token calls to EventSetup), and crafted another spreadsheet with a list of packages containing (non-test) EDModules that need to be migrated. I hope we could use it as a synchronization tool to avoid duplicate effort
https://docs.google.com/spreadsheets/d/1cUypk2EK4xVcEpFGtaNqXrWZEoFz_E9l4gNN3YoBQH4/edit?usp=sharing

(it already includes @fwyzard's com

[2020-08-06 17:40] bsunanda commented on #31059
@Dr15Jones @makortel Can one try #31078 to see if this issue is addressed correctly

[2020-08-06 17:59] makortel commented on #31059
@bsunanda You can test ASAN along
[code]

[2020-08-06 19:29] vargasa opened #31081 "Extended 2026 D41 Reco scenario now deprecated"
`D41` is now deprecated, see https://github.com/cms-sw/cmssw/commit/44ce8eb935fb9d47f388994d9692dce8d7d7da07#diff-67340df274822cfd075708d5be080594

The following list of `files:nLine:line` still make reference to it

[code]

[2020-08-06 19:30] cmsbuild commented on #31081
A new Issue was created by  @vargasa Andrs Vargas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-06 21:41] cvuosalo commented on #28398
@ianna Is this issue still relevant? If so, could you please add a comment explaining how to reproduce these errors?

[2020-08-06 21:49] cvuosalo commented on #28168
@ianna Would you say this issue is resolved? If not, what would you say still needs to be fixed?

[2020-08-06 22:55] makortel commented on #31081
assign geometry, upgrade, alca, l1, reconstruction, simulation, dqm

[2020-08-06 22:55] cmsbuild commented on #31081
New categories assigned: upgrade,geometry,simulation,reconstruction,l1,dqm,alca

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@jfernan2,@slava77,@benkrikler,@christopheralanwest,@andrius-k,@fioriNTU,@tlampen,@pohsun,@rekovic,@perrotta,@makortel,@jpata,@tocheng,@kmaeshima,@ianna,@kpedro88,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-06 23:01] kpedro88 commented on #31081
-1
test configs are not supported in general
if users/developers want them to be supported, they should make actual unit tests

[2020-08-06 23:37] makortel commented on #30432
@slava77 @perrotta @riga @mialiu149 @hqucms
Can mxnet be removed altogether?

[2020-08-06 23:44] makortel opened #31084 "Investigate possibility for batched DB queries in PoolDBESSource"
After all EDModules have been migrated to EventSetup consumes (https://github.com/cms-sw/cmssw/issues/31061), framework knows exactly which ESProducts are consumed at which stages of the application. This information opens up opportunity to try to query many or all payloads from the conditions DB on one go. Such batching should reduce overheads of the DB queries. We should investigate this after #

[2020-08-06 23:44] makortel commented on #31084
assign core, db

[2020-08-06 23:44] cmsbuild commented on #31084
New categories assigned: core,db

@Dr15Jones,@smuzaffar,@ggovi,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-06 23:44] cmsbuild commented on #31084
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-06 23:46] makortel opened #31085 "Look into enabling edm::ESTransientHandle memory optimization again"
After all EDModules have been migrated to EventSetup consumes (#31061), framework knows exactly which ESProducts are consumed at which stages of the application. With this information we could look into enabling the memory optimization with edm::ESTransientHandle again.
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideHowToGetDataFromES#Optimizing_memory_usage

[2020-08-06 23:47] cmsbuild commented on #31085
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-06 23:47] makortel commented on #31085
assign core

[2020-08-06 23:47] cmsbuild commented on #31085
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-07 01:11] slava77 commented on #30432
I'm fine to drop it based on the current needs in the release itself.
I wouldn't be surprised if it's needed again at a later time.

[2020-08-07 01:19] makortel commented on #30432
We should think carefully what exactly "needed" means here. As things are now, we can't generally use mxnet for inference.

[2020-08-07 03:26] slava77 commented on #30432
this was mostly a speculative statement from me. I think that the ML group should clarify if there are objections to remove mxnet before we actually do it.

[2020-08-07 05:59] slava77 commented on #27889
Updated notes:
- #30892 Use dxy sign of GSF track instead of IPTools for pat::Electron is now merged, as of  Aug 4, 2020
- #30935 Pile-Up ID training and WPs for 2017 UL samples was merged Aug 4, 2020
- the following now have a PR number
    - #31044  fix to enable hpsPFTauDiscriminationByDeadECALElectronRejection in run2 reminiAOD
    - #31065  Update tau anti electron discriminators
    - #31072

[2020-08-07 06:39] smuzaffar opened #31088 "runTheMatrix massive failure for 11.2.X IBs"
Last night 11.2.X IBs failed to run runTheMatrix due to error [a]  .
@kpedro88  , may be this change https://github.com/cms-sw/cmssw/pull/31060/files has caused this issue?

[a]
[code]

[2020-08-07 06:40] cmsbuild commented on #31088
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-07 06:42] ianna commented on #28168
@cvuosalo - as I mentioned here https://github.com/cms-sw/cmssw/issues/28168#issuecomment-553852059 DD4hep is moving to G4 units as the default ones. We haven't updated to this version yet. I'd rerun the tests after that to make sure all numbers match, then close this issue.

[2020-08-07 07:05] silviodonato commented on #31088
I tried to reproduce the error by adding the recent PRs. The origin of the error is #30976 (cc: @bsunanda ).
I was able to run `runTheMatrix.py -n` with `CMSSW_11_2_X_2020-08-06-1100` + #31060

[2020-08-07 07:23] silviodonato commented on #31088
I'm preparing a temporary fix for the morning IB

[2020-08-07 08:23] mmusich commented on #31088
I think  #31091 could be a better fix.

[2020-08-07 08:35] silviodonato commented on #31088
#31090 closed in favour of #31091

[2020-08-07 08:39] ianna commented on #28398
yes, it should be reevaluated after we move to the new version of DD4hep where the default units are G4 ones.

[2020-08-07 08:58] silviodonato commented on #31088
#31091 has been merged, so the morning IB should be ok.
We didn't catch the error because the PR tests of https://github.com/cms-sw/cmssw/pull/30976 were rather old (based `CMSSW_11_2_X_2020-07-31-2300`) and we recently merged https://github.com/cms-sw/cmssw/pull/30988

[2020-08-07 10:05] mbluj commented on #30894
Hi,

I do not remember if there was a strong reason to store reco::PFTauPizeros and reco::PFTauChargedHadrons in the reco::PFTau (using std::vectors) when constructed by RecoTauConstructor.cc rather than using edm::Refs. Maybe it was found faster to access items of own vector than using an edm::Ref? Anyway, what I am almost sure about is that the collection of reco::PFTauPizeros built in the unemb

[2020-08-07 10:12] veelken commented on #30894
Hi,

I think it would be useful if someone could make a plot of the size of the reco::PFTauPizero and reco::PFTauChargedHadron collections that are used as input to the tau reconstruction and compare these size of the reco::PFTauPizero with the size of the reco::PFTauPizero collection produced by the unembedding step. If the ratio is large, it would motivate to expand the unembedder module to unem

[2020-08-07 12:16] slava77 commented on #27889
one more PR backport is now known: #31087 bad PF muon filter

[2020-08-07 12:22] mbluj commented on #30894
Collections of piZeros and ChargedHadrons used to construct taus are respectively reco::JetPiZeroAssociation and reco::PFJetChargedHadronAssociation rather than regular collections (vectors). I think it is not possible to define edm::Refs to them, i.e. I suppose that some "embedder" will be needed in this case.
Regardless, I have checked that a size of "unembedded" PiZeroCollection is in average 1

[2020-08-07 18:42] makortel opened #31097 "TFormula::ReInitializeEvalMethod error in IBs"
Two workflows (28234.0 step2 and 23434.999 step3, DIGI in both cases) failed in CMSSW_11_2_X_2020-08-07-1100 with
[code]
Full logs
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-08-07-1100/pyRelValMatrixLogs/run/28234.0_TTbar_14TeV+2026D60+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step2_TTbar_14TeV+2026D60+TTbar_14TeV_TuneCP5_GenS

[2020-08-07 18:42] cmsbuild commented on #31097
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-07 18:53] makortel commented on #31097
I'm not able to reproduce locally (28234.0) on either single or with 4 threads. Maybe a threading problem related to use of TFormula somewhere?

[2020-08-07 18:53] makortel commented on #31097
assign core

[2020-08-07 18:54] cmsbuild commented on #31097
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-07 19:17] makortel commented on #31097
The `L1TkMuonProducer` opens bunch of `TFile`'s, e.g.
https://github.com/cms-sw/cmssw/blob/c21aee5ddc74bc22d8fc50b09db71a9e8cb690bc/L1Trigger/L1TTrackMatch/plugins/L1TkMuonProducer.cc#L256-L259
that read `TF1` objects from the file
https://github.com/cms-sw/cmssw/blob/c21aee5ddc74bc22d8fc50b09db71a9e8cb690bc/L1Trigger/L1TTrackMatch/src/L1TkMuMantra.cc#L40-L42
and passed on
https://github.com/cms-s

[2020-08-07 19:17] makortel commented on #31097
assign l1, upgrade

[2020-08-07 19:17] cmsbuild commented on #31097
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-07 19:22] makortel commented on #31097
At the very least the functions in `L1TkMuMantra` and `L1TkMuCorrDynamicWindows` that are called from `L1TkMuonProducer` should be made `const`. Currently they are not, and `L1TkMuonProducer` holds the objects by (unique) pointer, so we are not able to catch any potential calls to non-`const` non-thread safe functions.

Alternatively `L1TkMuonProducer` could be changed to `edm::stream`.

[2020-08-07 19:28] makortel commented on #31097
This problem had occurred also in
* CMSSW_11_2_X_2020-08-04-1100 in 28234.0 step2
* CMSSW_11_2_X_2020-08-05-1100 in 23434.999 step3

[2020-08-07 19:29] makortel commented on #31097
I suspect it started with #30970 in CMSSW_11_2_X_2020-08-03-1100 that changed `L1TkMuonProducer` from legacy to `edm::global`. (@kpedro88)

[2020-08-07 19:41] kpedro88 commented on #31097
@makortel indeed, probably changing to `edm::stream` is the simplest solution, as long as the memory usage stays under control. I'll test this now.

[2020-08-07 19:47] gartung commented on #31030
Running in Singularity directly instead of through docker_launcher.sh does not produce the segfault.

[2020-08-07 19:48] gartung commented on #31030
Running docker_launcher.sh and using Docker instead also does not produce the segfault. The Jenkins job run-ib-igprof has been configured to run on cmsdev machines where Docker is available.

[2020-08-07 20:04] gartung commented on #31030
Maybe the setting of SINGULARITY_CACHEDIR is what was different between running in Jenkins and running singularity directly:

https://github.com/cms-sw/cms-bot/blob/c762159f68b2e3f779b8098e3aa53391ce1eaf2e/docker_launcher.sh#L91

[2020-08-07 21:55] cvuosalo commented on #28398
@ianna What test script does one use to produce the output shown in this issue description?

[2020-08-07 23:17] kpedro88 commented on #31097
From 10 events of step2 in 28234.0 on 4 threads, I get:
global: MemoryCheck: event : VSIZE 7348.32 0 RSS 4458.36 0
stream: MemoryCheck: event : VSIZE 7860.31 0 RSS 4387.64 0

This looks acceptable, so I'll submit the PR.

[2020-08-07 23:28] kpedro88 commented on #31097
see #31098 and backport #31099

[2020-08-08 01:24] makortel opened #31101 "Segfault in 4.54 on aarch64"
Workflow 4.54 step 3 segfaults in CMSSW_11_2 2020-08-07-1100 with
[code]
Full log http://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-07-1100/pyRelValMatrixLogs/run/4.54_RunEl2012B+RunEl2012B+HLTD+RECODR1reHLT+HARVESTDR1reHLT/step3_RunEl2012B+RunEl2012B+HLTD+RECODR1reHLT+HARVESTDR1reHLT.log

[2020-08-08 01:24] makortel commented on #31101
assign core

[2020-08-08 01:24] cmsbuild commented on #31101
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-08 01:24] cmsbuild commented on #31101
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-08 01:27] makortel commented on #31101
I'm puzzled with a few things in this crash

The job is configured to use 4 threads and 4 streams
[code]
but the stack trace shows 5 `Module:` rows, and total 6 threads with TBB (in addition to the ones mentioned in the description, threads 9-11 are in `tbb::internal::futex_wait`).

The end of the strace says `PFProducer:particleFlowTmp (crashed)`, but there is no `PFProducer` elsewhere in the tra

[2020-08-08 01:31] makortel commented on #31101
The line
[code]
hints towards a memory problem _somewhere_ (not necessarily in `ConvBremPFTrackFinder`).

[2020-08-08 13:42] Dr15Jones commented on #31101
@makortel

...

This is a consequence of having the additional `tbb::task::wait` needed to handle the prefetching of the EventSetup modules. tbb will sometimes decide to startup more threads. However, as far as I've been able to tell, it never concurrently uses more threads than the number we've specified in the configuration. Once we move to using all `esConsumes` that extra wait can be removed.

[2020-08-08 15:50] fwyzard opened #31105 "Build CMSSW_11_1_2_Patatrack"

[2020-08-08 15:50] cmsbuild commented on #31105
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-08-08 15:52] fwyzard commented on #31105
build cmssw-tool-conf

[2020-08-08 15:52] cmsbuild commented on #31105
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_ppc64le_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-08-08 15:54] cmsbuild commented on #31105
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2564/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-08 15:55] fwyzard commented on #31105
Ehm... @smuzaffar @mrodozov could you reset this to build the usual architectures:
  - slc7_amd64_gcc820 (production)
  - slc7_aarch64_gcc820
  - slc7_ppc64le_gcc820
  - cc8_amd64_gcc8
?

Or, is it something I can request directly from the bot ?

[2020-08-08 15:56] fwyzard commented on #31105
By the way, this should hopefully be the last Patatrack release for 11.1.x, I'm going to build CMSSW_11_2_0_pre3_Patatrack next, and switch to 11.2.x for further developments and to restart the integration in CMSSW.

[2020-08-08 16:32] cmsbuild commented on #31105
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_ppc64le_gcc820/

[2020-08-08 16:45] fwyzard commented on #31105
+1

[2020-08-08 16:45] cmsbuild commented on #31105
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_2_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-08-08 16:45] cmsbuild commented on #31105
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-08 16:47] cmsbuild commented on #31105
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2565/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-08 19:09] cmsbuild commented on #31105
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_ppc64le_gcc820/2565

[2020-08-08 20:07] cmsbuild commented on #31105
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_ppc64le_gcc820/2565

Tests results:
36 35 29 22 16 4 1 1 1 tests passed, 0 0 4 0 0 0 0 0 0 failed

[2020-08-08 20:59] fwyzard commented on #31105
upload all

[2020-08-08 21:00] cmsbuild commented on #31105
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-08-08 21:00] cmsbuild commented on #31105
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1647/console

[2020-08-08 21:01] fwyzard opened #31106 "Build CMSSW_11_2_0_pre3_Patatrack"

[2020-08-08 21:01] cmsbuild commented on #31106
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-08-08 21:01] cmsbuild commented on #31105
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_Patatrack-slc7_ppc64le_gcc820/1647

[2020-08-08 21:02] fwyzard commented on #31106
Actually, I'd rather wait for https://github.com/cms-sw/cmsdist/pull/6161 before building this.

[2020-08-10 12:03] fwyzard commented on #31105
ARCHITECTURE: slc7_amd64_gcc820 slc7_aarch64_gcc820 cc8_amd64_gcc8

[2020-08-10 12:32] fwyzard commented on #31105
Do we need https://github.com/cms-sw/cms-bot/pull/1362 to enable the build for the other architectures ?
And, would that be enough ?

[2020-08-10 12:49] mrodozov commented on #31105
@fwyzard I have to read the bot to check (don't know it by heart) - the release build.
I think this records are only for IBs , and disabling it is only use for temp disable an IB

[2020-08-10 15:31] fwyzard commented on #31106
build cmssw-tool-conf

[2020-08-10 15:31] cmsbuild commented on #31106
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820, slc7_aarch64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-08-10 15:32] cmsbuild commented on #31106
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2566/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-10 15:32] cmsbuild commented on #31106
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2567/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-10 15:32] cmsbuild commented on #31106
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2568/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-10 15:33] cmsbuild commented on #31106
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2569/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-10 20:41] cmsbuild commented on #31106
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_aarch64_gc

[2020-08-10 20:58] cmsbuild commented on #31106
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_ppc64le_gc

[2020-08-10 21:41] cmsbuild commented on #31106
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_amd64_gcc820

[2020-08-10 21:59] cmsbuild commented on #31106
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-cc8_amd64_gcc8/2566

[2020-08-10 22:50] fwyzard commented on #31106
+1

[2020-08-10 22:51] cmsbuild commented on #31106
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre3_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-08-10 22:51] cmsbuild commented on #31106
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-08-10 22:51] cmsbuild commented on #31106
The build has started for cc8_amd64_gcc8 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2570/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-10 22:52] cmsbuild commented on #31106
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2571/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-10 22:53] cmsbuild commented on #31106
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2572/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-10 22:53] vargasa opened #31113 "Configuration.StandardSequences.Geometry_cff Not found"
`Configuration.StandardSequences.Geometry_cff` was removed a while ago: https://github.com/cms-sw/cmssw/pull/8810

See: https://github.com/cms-sw/cmssw/blob/b5f6b9b7758ac90fa6540debc635ff1e6f10a580/Configuration/StandardSequences/python/Geometry_cff.py#L4

The following files are still making reference to it: (maybe some cleanup is needed?)

##### Edit
See below:
From @ianna:

[code]

[2020-08-10 22:53] cmsbuild commented on #31106
The build has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2573/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-10 22:53] cmsbuild commented on #31113
A new Issue was created by  @vargasa Andres Vargas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-11 01:18] qliphy opened #31114 "Build CMSSW_10_6_15"

[2020-08-11 01:18] cmsbuild commented on #31114
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-08-11 01:19] qliphy commented on #31114
+1

[2020-08-11 01:19] cmsbuild commented on #31114
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_15. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-08-11 01:19] cmsbuild commented on #31114
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-08-11 01:19] cmsbuild commented on #31114
The build has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2574/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-11 01:19] cmsbuild commented on #31114
The build has started for slc7_amd64_gcc820 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2575/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-11 01:25] cmsbuild commented on #31106
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_aarch64_gcc820

[2020-08-11 01:46] cmsbuild commented on #31106
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_amd64_gcc820/257

[2020-08-11 01:49] cmsbuild commented on #31106
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_ppc64le_gcc820

[2020-08-11 01:57] cmsbuild commented on #31106
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-cc8_amd64_gcc8/2570
Some

[2020-08-11 01:59] cmsbuild commented on #31106
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-cc8_amd64_gcc8/2570

Tests results:
14 0 0 0 0 0 0 0 0 tests passed, 20 14 0 0 0 0 0 0 0 failed

[2020-08-11 02:24] cmsbuild commented on #31106
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_amd64_gcc820/2573

Tests results:
34 33 32 24 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-11 02:29] cmsbuild commented on #31106
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_aarch64_gcc820/2571

Tests results:
34 32 31 24 13 1 1 1 1 tests passed, 0 1 0 0 3 3 0 0 0 failed

[2020-08-11 02:43] cmsbuild commented on #31106
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre3_Patatrack-slc7_ppc64le_gcc820/2572

Tests results:
34 33 32 24 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-11 04:21] cmsbuild commented on #31114
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_15-slc7_amd64_gcc820/2575
Some tests (

[2020-08-11 04:58] cmsbuild commented on #31114
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_15-slc7_amd64_gcc700/2574
Some tests (

[2020-08-11 05:00] cmsbuild commented on #31114
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_15-slc7_amd64_gcc820/2575

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-11 05:38] cmsbuild commented on #31114
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_15-slc7_amd64_gcc700/2574

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-11 05:39] qliphy commented on #31114
upload all

[2020-08-11 05:40] cmsbuild commented on #31114
Queing Jenkins upload for slc7_amd64_gcc700

[2020-08-11 05:40] cmsbuild commented on #31114
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-11 05:40] cmsbuild commented on #31114
The upload has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1648/console

[2020-08-11 05:41] cmsbuild commented on #31114
The upload has started for slc7_amd64_gcc820 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1649/console

[2020-08-11 05:41] cmsbuild commented on #31114
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_15-slc7_amd64_gcc700/1648

[2020-08-11 05:42] cmsbuild commented on #31114
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_15-slc7_amd64_gcc820/1649

[2020-08-11 05:58] qliphy commented on #31114
release-notes

[2020-08-11 05:58] cmsbuild commented on #31114
Generating release notes since CMSSW_10_6_14.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-08-11 05:58] cmsbuild commented on #31114
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_15 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_14 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_15

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-08-11 05:59] cmsbuild commented on #31114
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_15

[2020-08-11 06:34] smuzaffar commented on #31105
@fwyzard , yes  cms-sw/cms-bot#1362  should enable the build for other archs.
But what exactly it will built? If I remember we are now syncing in to CMSSW_11_2_Patatrack_X branch? is CMSSW_11_1_Patatrack_X is up to date ?

[2020-08-11 07:44] fwyzard commented on #31105
Yes, I synced it manually before giving the '+1', so the tag `CMSSW_11_1_2_Patatrack` is correct.

[2020-08-11 07:58] cmsbuild commented on #31105
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc8, slc7_aarch64_gcc820, slc7_ppc64le_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-08-11 07:58] cmsbuild commented on #31105
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2576/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-11 07:59] cmsbuild commented on #31105
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2577/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-11 08:00] cmsbuild commented on #31105
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2578/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-11 08:18] cmsbuild commented on #31105
There was an error building cmssw-tool-conf for slc7_ppc64le_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_ppc64le_gcc820/2578

[2020-08-11 08:20] guitargeek commented on #31113
Why even keep the `ElectroWeakAnalysis` subsystem? It looks abandoned. Maybe it's better to get rid of it instead of spending time to migrate the configuration files?

[2020-08-11 08:24] fwyzard commented on #31105
The `slc7_ppc64le_gcc820` was already built...

[2020-08-11 08:32] smuzaffar commented on #31105
Ignore this error

[2020-08-11 08:35] cmsbuild commented on #31105
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_amd64_gcc820/2577

[2020-08-11 08:39] cmsbuild commented on #31105
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2579/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-11 08:42] fwyzard commented on #31106
upload all

[2020-08-11 08:43] cmsbuild commented on #31106
Queing Jenkins upload for cc8_amd64_gcc8

[2020-08-11 08:43] cmsbuild commented on #31106
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-08-11 08:43] cmsbuild commented on #31106
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-11 08:43] cmsbuild commented on #31106
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-08-11 08:44] cmsbuild commented on #31106
The upload has started for cc8_amd64_gcc8 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1650/console

[2020-08-11 08:44] cmsbuild commented on #31106
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1651/console

[2020-08-11 08:44] cmsbuild commented on #31106
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1653/console

[2020-08-11 08:45] cmsbuild commented on #31106
The upload has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1652/console

[2020-08-11 08:45] cmsbuild commented on #31106
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3_Patatrack-slc7_ppc64le_gcc820/1653

[2020-08-11 08:46] cmsbuild commented on #31106
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3_Patatrack-slc7_aarch64_gcc820/1651

[2020-08-11 08:47] cmsbuild commented on #31105
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-cc8_amd64_gcc8/2576

[2020-08-11 08:47] cmsbuild commented on #31105
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-11 08:48] cmsbuild commented on #31105
The build has started for cc8_amd64_gcc8 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2580/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-11 08:48] cmsbuild commented on #31105
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2581/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-11 08:52] cmsbuild commented on #31106
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3_Patatrack-slc7_amd64_gcc820/1652

[2020-08-11 08:52] cmsbuild commented on #31106
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre3_Patatrack-cc8_amd64_gcc8/1650

[2020-08-11 08:56] cmsbuild commented on #31105
The build has started for slc7_amd64_gcc820 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2582/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-11 10:09] cmsbuild commented on #31105
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_aarch64_gcc820/

[2020-08-11 10:10] cmsbuild commented on #31105
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-11 10:11] cmsbuild commented on #31105
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2583/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-11 11:47] cmsbuild commented on #31105
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-cc8_amd64_gcc8/2580
Some test

[2020-08-11 11:47] cmsbuild commented on #31105
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_amd64_gcc820/2582
Som

[2020-08-11 11:49] cmsbuild commented on #31105
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-cc8_amd64_gcc8/2580

Tests results:
13 0 0 0 0 0 0 0 0 tests passed, 23 13 0 0 0 0 0 0 0 failed

[2020-08-11 11:49] cmsbuild commented on #31105
Queing Jenkins upload for cc8_amd64_gcc8

[2020-08-11 11:49] cmsbuild commented on #31105
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-11 11:52] cmsbuild commented on #31105
The upload has started for cc8_amd64_gcc8 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1654/console

[2020-08-11 11:52] cmsbuild commented on #31105
The upload has started for slc7_amd64_gcc820 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1655/console

[2020-08-11 11:53] cmsbuild commented on #31105
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_Patatrack-cc8_amd64_gcc8/1654

[2020-08-11 11:53] cmsbuild commented on #31105
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_Patatrack-slc7_amd64_gcc820/1655

[2020-08-11 12:21] cmsbuild commented on #31105
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_amd64_gcc820/2582

Tests results:
36 35 29 22 16 4 1 1 1 tests passed, 0 0 4 0 0 0 0 0 0 failed

[2020-08-11 14:18] perrotta commented on #25090
See #31118 for it

[2020-08-11 16:51] cmsbuild commented on #31105
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_aarch64_gcc820/2583

[2020-08-11 16:52] cmsbuild commented on #31105
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-08-11 16:53] cmsbuild commented on #31105
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1656/console

[2020-08-11 16:54] cmsbuild commented on #31105
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_2_Patatrack-slc7_aarch64_gcc820/1656

[2020-08-11 20:00] cmsbuild commented on #31105
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_2_Patatrack-slc7_aarch64_gcc820/2583

Tests results:
36 34 27 21 13 1 1 1 1 tests passed, 0 1 5 0 2 3 0 0 0 failed

[2020-08-12 13:31] Dr15Jones opened #31123 "Probably thread related crashes in aarch64 IBs"
After switching to run the IB RelVals using multiple threads, we are seeing 'random' crashes in the aarch64 builds.

[2020-08-12 13:31] cmsbuild commented on #31123
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-12 13:40] Dr15Jones commented on #31123
One such crash is
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/250207.18_NuGun_UP18+NuGun_UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25/step2_NuGun_UP18+NuGun_UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25.log#/

[code]

This one is failing while trying to write a numeric value to an ostream. T

[2020-08-12 13:41] Dr15Jones commented on #31123
assign core

[2020-08-12 13:41] cmsbuild commented on #31123
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-12 13:47] Dr15Jones commented on #31123
The routine RPCSimSetUp::setRPCSetUp does a tremendous amount of output formatting which is then never seen because the resulting string is passed to LogDebug. See

https://github.com/cms-sw/cmssw/blob/5b54e3a1fc64b1d9764a31ae73226f8f67428f52/SimMuon/RPCDigitizer/src/RPCSimSetUp.cc#L106

[2020-08-12 14:02] Dr15Jones commented on #31123
Here is another
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/250202.3_TTbar_13+TTbar_13INPUT+PREMIXUP15_PU25+DIGIPRMXLOCALUP15APVSimu_PU25+RECOPRMXUP15_PU25+HARVESTUP15_PU25/step4_TTbar_13+TTbar_13INPUT+PREMIXUP15_PU25+DIGIPRMXLOCALUP15APVSimu_PU25+RECOPRMXUP15_PU25+HARVESTUP15_PU25.log

[code]

The crash happened on threa

[2020-08-12 14:06] Dr15Jones commented on #31123
Another RelVal with a corrupted stack is
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/250408.17_QCD_FlatPt_15_3000HS_13+FS_QCD_FlatPt_15_3000HS_13_PRMXUP17_PU50+HARVESTUP17FS+MINIAODMCUP17FS/step1_QCD_FlatPt_15_3000HS_13+FS_QCD_FlatPt_15_3000HS_13_PRMXUP17_PU50+HARVESTUP17FS+MINIAODMCUP17FS.log

which reports the following

[2020-08-12 14:11] Dr15Jones commented on #31123
Another corrupted stack is from
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/27434.0_TTbar_14TeV+2026D58+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D58+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal.log#/158-158

with running modules
[code]

No

[2020-08-12 14:15] Dr15Jones commented on #31123
Another corrupted stack is
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/25400.0_ZEE_13+FS_ZEE_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS/step1_ZEE_13+FS_ZEE_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS.log#/

with running modules
[code]

[2020-08-12 14:25] Dr15Jones commented on #31123
Here is a crash within ROOT
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/23434.99_TTbar_14TeV+2026D49PU_PMXS1S2+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+PREMIX_PremixHLBeamSpot14PU+DigiTriggerPU+RecoGlobalPU+HARVESTGlobalPU/step2_TTbar_14TeV+2026D49PU_PMXS1S2+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+PREMIX_PremixHLBe

[2020-08-12 14:28] Dr15Jones commented on #31123
This crash
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/10059.0_QCD_Pt_3000_3500_13+2017+QCD_Pt_3000_3500_13TeV_TuneCUETP8M1_GenSimINPUT+Digi+Reco+HARVEST+ALCA+Nano/step3_QCD_Pt_3000_3500_13+2017+QCD_Pt_3000_3500_13TeV_TuneCUETP8M1_GenSimINPUT+Digi+Reco+HARVEST+ALCA+Nano.log#/

did not generate a trace back but the running mod

[2020-08-12 14:30] Dr15Jones commented on #31123
Here in https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/2018.7_H125GGgluonfusion_13_UP18+H125GGgluonfusionFS_13_UP18+HARVESTUP18FS+MINIAODMCUP18FS/step1_H125GGgluonfusion_13_UP18+H125GGgluonfusionFS_13_UP18+HARVESTUP18FS+MINIAODMCUP18FS.log#/

we have another corrupted stack. This time the only module reported running is
[code]
a

[2020-08-12 14:33] Dr15Jones commented on #31123
Here in https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.898_RunParkingBPH2018B+RunParkingBPH2018B+HLTDR2_2018+RECODR2_2018reHLT_skimParkingBPH_Offline+HARVEST2018/step3_RunParkingBPH2018B+RunParkingBPH2018B+HLTDR2_2018+RECODR2_2018reHLT_skimParkingBPH_Offline+HARVEST2018.log#/

we have another corrupted stack with modules run

[2020-08-12 14:36] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.878_RunMuonEG2018C+RunMuonEG2018C+HLTDR2_2018+RECODR2_2018reHLT_skimMuonEG_Offline+HARVEST2018/step3_RunMuonEG2018C+RunMuonEG2018C+HLTDR2_2018+RECODR2_2018reHLT_skimMuonEG_Offline+HARVEST2018.log#/ also shows a corrupted stack with crash in
[code]

[2020-08-12 14:37] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.873_RunHLTPhy2018C+RunHLTPhy2018C+HLTDR2_2018+RECODR2_2018reHLT_Offline+HARVEST2018/step3_RunHLTPhy2018C+RunHLTPhy2018C+HLTDR2_2018+RECODR2_2018reHLT_Offline+HARVEST2018.log#/ doesn't have a stacktrace (it timed out) but shows the crash happened in
[code]

[2020-08-12 14:39] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.852_RunJetHT2018A+RunJetHT2018A+HLTDR2_2018+RECODR2_2018reHLT_skimJetHT_Offline+HARVEST2018/step3_RunJetHT2018A+RunJetHT2018A+HLTDR2_2018+RECODR2_2018reHLT_skimJetHT_Offline+HARVEST2018.log#/

didn't have a traceback (it says it timed out) and shows running modules as
[code]

[2020-08-12 14:40] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.842_RunDisplacedJet2017E+RunDisplacedJet2017E+HLTDR2_2017+RECODR2_2017reHLT_skimDisplacedJet_Prompt+HARVEST2017/step3_RunDisplacedJet2017E+RunDisplacedJet2017E+HLTDR2_2017+RECODR2_2017reHLT_skimDisplacedJet_Prompt+HARVEST2017.log#/ shows a corrupted stack with the crash in

[cod

[2020-08-12 14:44] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.826_RunMuOnia2017E+RunMuOnia2017E+HLTDR2_2017+RECODR2_2017reHLT_skimMuOnia_Prompt+HARVEST2017/step3_RunMuOnia2017E+RunMuOnia2017E+HLTDR2_2017+RECODR2_2017reHLT_skimMuOnia_Prompt+HARVEST2017.log#/ has a corrupted stack trace with crash in

[code]

[2020-08-12 14:44] Dr15Jones commented on #31123
The crashes almost invariable happen during the first 4 events so are most likely a 1st time called related problem.

[2020-08-12 14:46] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.746_RunMuOnia2016C+RunMuOnia2016C+HLTDR2_2016+RECODR2_2016reHLT_skimMuOnia_HIPM+HARVESTDR2/step3_RunMuOnia2016C+RunMuOnia2016C+HLTDR2_2016+RECODR2_2016reHLT_skimMuOnia_HIPM+HARVESTDR2.log#/

shows a corrupted stack trace with crash in
[code]

[2020-08-12 14:53] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.738_RunDoubleMuon2016C+RunDoubleMuon2016C+HLTDR2_2016+RECODR2_2016reHLT_HIPM+HARVESTDR2/step2_RunDoubleMuon2016C+RunDoubleMuon2016C+HLTDR2_2016+RECODR2_2016reHLT_HIPM+HARVESTDR2.log#/144-144

has a crash in TBB's internals

[code]

[2020-08-12 14:57] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/136.722_RunDoubleEG2016B+RunDoubleEG2016B+HLTDR2_2016+RECODR2_2016reHLT_skimDoubleEG_HIPM+HARVESTDR2/step3_RunDoubleEG2016B+RunDoubleEG2016B+HLTDR2_2016+RECODR2_2016reHLT_skimDoubleEG_HIPM+HARVESTDR2.log

has no stack trace and shows the running modules as

[code]

[2020-08-12 14:58] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/134.99603_RunSingleMu2015HLHS+RunSingleMu2015HLHS+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2/step3_RunSingleMu2015HLHS+RunSingleMu2015HLHS+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2.log#/

has no stack trace and only reports one module running
[code]

[2020-08-12 15:00] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/134.706_RunMuonEG2015B+RunMuonEG2015B+HLTDR2_50ns+RECODR2_50nsreHLT_HIPM+HARVESTDR2/step3_RunMuonEG2015B+RunMuonEG2015B+HLTDR2_50ns+RECODR2_50nsreHLT_HIPM+HARVESTDR2.log#/

Has no stack trace and shows the running modules as
[code]

[2020-08-12 15:03] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/129.0_SinglePiPt1+SinglePiPt1+DIGI+RECO/step3_SinglePiPt1+SinglePiPt1+DIGI+RECO.log#/

Seems to be reporting multiple simultaneous crash reports. No stack traces are given

[code]

[2020-08-12 15:06] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/43.0_ZpMM_2250_8TeV+ZpMM_2250_8TeVINPUT+DIGI+RECO+HARVEST/step3_ZpMM_2250_8TeV+ZpMM_2250_8TeVINPUT+DIGI+RECO+HARVEST.log#/

Doesn't have a traceback and shows the running modules as
[code]

[2020-08-12 15:07] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/23.0_JpsiMM+JpsiMMINPUT+DIGI+RECO+HARVEST/step3_JpsiMM+JpsiMMINPUT+DIGI+RECO+HARVEST.log#/

Did not have  a stack trace and seems to have concurrent crashes
[code]

[2020-08-12 15:09] Dr15Jones commented on #31123
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-09-0000/pyRelValMatrixLogs/run/16.0_SingleElectronPt1000+SingleElectronPt1000INPUT+DIGI+RECO+HARVEST/step3_SingleElectronPt1000+SingleElectronPt1000INPUT+DIGI+RECO+HARVEST.log#/

has no stack trace and has running modules
[code]

[2020-08-12 18:40] hatakeyamak commented on #30426
Thx. Plan to introduce pf_badHcalMitigationOff as soon as we get a chance.

[2020-08-13 04:08] cmsbuild commented on #31114
The cleanup has started for slc7_amd64_gcc700

[2020-08-13 04:08] cmsbuild commented on #31114
The cleanup has started for slc7_amd64_gcc820

[2020-08-13 04:08] #31114 closed

[2020-08-13 04:08] cmsbuild commented on #31114
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_15-slc7_amd64_gcc820/1559

[2020-08-13 04:08] cmsbuild commented on #31114
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_15-slc7_amd64_gcc700/1558

[2020-08-13 08:28] perrotta commented on #25090
#31118 merged in master -> CentralityProducer is now a global producer

[2020-08-13 13:25] Dr15Jones commented on #30913
Any progress?

[2020-08-13 13:45] Dr15Jones commented on #31123
https://github.com/cms-sw/cmssw/issues/31123#issuecomment-672892406

looking at step1 for workflow 250408.17 in the most recent ASAN build
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_2_UBSAN_X_2020-08-07-2300/pyRelValMatrixLogs/run/250408.17_QCD_FlatPt_15_3000HS_13+FS_QCD_FlatPt_15_3000HS_13_PRMXUP17_PU50+HARVESTUP17FS+MINIAODMCUP17FS/step1_QCD_FlatPt_15_3000HS_13+F

[2020-08-13 13:48] Dr15Jones commented on #31123
@guitargeek you may want to look at the previous comment in this issue related to PFEGammaAlgo

[2020-08-13 15:25] dildick commented on #30745
@tommasoboccali Should have a look at newer versions of the CSC trigger if the situation has changed?

[2020-08-13 15:38] mrodozov commented on #31123
@mileva

[2020-08-13 15:48] guitargeek commented on #31123
Hi, there is already an open issue for the bad cast in PFEGammaAlgo: the https://github.com/cms-sw/cmssw/issues/27553

[2020-08-13 16:03] guitargeek commented on #27553
Hello, since I got reminded of this issue by https://github.com/cms-sw/cmssw/issues/31123, let me write here what I found out back when I tried to fix this issue.

The bad guy is this line here:

https://github.com/cms-sw/cmssw/blob/master/RecoParticleFlow/PFProducer/src/PFEGammaAlgo.cc#L1291

The KF Track element is forced to be interpreted as a GSF Track element, which will gives a garbage resul

[2020-08-13 16:06] hatakeyamak commented on #27553
@guitargeek thx. do you have a branch under development already which we can fetch to take over?

[2020-08-13 16:14] guitargeek commented on #27553
Hi Kenichi, thank you very much! No, I didn't write any code towards the solution of this problem.

[2020-08-13 17:24] tommasoboccali commented on #30745
Ciao!
the HLT production has started, so we are not in the critical path for that.
Still, in the long run we will need to reduce the memory footprint of Phase-2 sw, so yes, a look would be appreciated 👍

thanks

tom

[2020-08-13 18:00] Dr15Jones commented on #27553
One other item of note for the PFEGammaAlgo code, it is making improper use of `reinterpret_cast`. All uses should be changed to `static_cast`.

[2020-08-14 05:54] perrotta commented on #31123
assign reconstruction, simulation

[2020-08-14 05:54] cmsbuild commented on #31123
New categories assigned: reconstruction,simulation

@mdhildreth,@slava77,@perrotta,@jpata,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-14 13:47] slava77 commented on #30775
ping

[2020-08-14 15:07] hatakeyamak commented on #27767
There was a related discussion in recent email thread and somewhat related discussion in today's PF meeting.
https://indico.cern.ch/event/944298/

Regarding the data-specific modifications for HCAL noise flagging, most of them are now put back to the default value for eras after the phase 1 upgrade, as far as I can tell (and also as Salavat indicated above).

Only remaining data-specific modificat

[2020-08-14 18:04] dan131riley commented on #31123
I see several with corrupted stack traces that nevertheless include TFormula in the crashed stack, e.g.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-13-1100/pyRelValMatrixLogs/run/136.865_RunMET2018B+RunMET2018B+HLTDR2_2018+RECODR2_2018reHLT_skimMET_Offline+HARVEST2018/step3_RunMET2018B+RunMET2018B+HLTDR2_2018+RECODR2_2018reHLT_skimMET_Offline+HARVEST2

[2020-08-14 18:20] davidlange6 commented on #30775
There are a number of options - autopep8 is available in CMSSW. I’ve Also used black for example.

On 14 Aug 2020, at 15:48, Slava Krutelyov <notifications@github.com> wrote:

﻿

ping

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/30775#issuecomment-674083394>, or unsubscribe<https://github

[2020-08-14 18:53] bsunanda opened #31143 "Simulation-Reconstruction chains not working for Run3 scenario using dd4hep"
None of the steps SIM-DIGI-RECO is functional currently with dd4hep geometry definition. The area SimG4Core/Configuration/test is equipped with 7 cfg files which can help to resolve the issue:
dd4hep_ZMM_Run3_StepN_cfg.py provides the configurations for Run3 with dd4hep for SIM (N=1), DIGI (N=2), RECO (N=3)
Since none of these steps are completing satisfactorily, the corresponding cfg's with DDD a

[2020-08-14 18:53] cmsbuild commented on #31143
A new Issue was created by  @bsunanda .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-14 18:58] bsunanda commented on #31143
@vargasa @slomeo @cvuosalo @ianna @kpedro88 @fabiocos @civanch @perrotta @watson-ij Please watch and take action

[2020-08-14 22:37] dan131riley commented on #31097
A TFormula read from a file is lazily recompiled on the first evaluation, and the lazy recompilation isn't sufficiently thread safe for a function that is evaluated in parallel on multiple threads.  The advice to "try calling again TFormula::PrepareEvalMethod" isn't terribly useful since that method is private.  I suppose we could trigger compilation via a gratuitous evaluation in the constructor,

[2020-08-14 23:07] dan131riley commented on #31097
Nope, looks like I’m wrong, the caller always has the gROOT mutex.   Fooled by recursive mutexes again...

[2020-08-14 23:11] kpedro88 commented on #31097
Thanks for the info. It looks like changing to a stream producer has resolved the problem.

If the functions used are simple enough, it might be worth changing to the CMSSW stateless FormulaEvaluator (as a future development item). @rekovic

[2020-08-14 23:30] dan131riley commented on #31097
Ok this time for sure, there is a race condition here:

https://github.com/root-project/root/blob/084292ab638923f9260d3a9f813227ada0728565/hist/hist/src/TFormula.cxx#L3347

fLazyInitialization can be cleared by one thread while another is waiting on the mutex, and there’s no recheck on acquiring the mutex.  Also need to make the flags atomic for a safe recheck.  Probably worth making a bug report,

[2020-08-15 00:43] dan131riley commented on #31123
There may be a potential race condition here,

https://github.com/root-project/root/blob/084292ab638923f9260d3a9f813227ada0728565/hist/hist/src/TFormula.cxx#L470

where it looks like the TFormula is inserted into the global list before it is completely constructed, opening the possibility for another thread to use an incompletely constructed object (an anti-pattern we’ve seen before).  If that hap

[2020-08-15 01:28] hatakeyamak commented on #27553
Since #31123 is reported as an issue that manifests itself with aarch64, I tried to reproduce it, but I am not managing it.

[code]
So I am failing to set up the working area. What do I need to do?

[2020-08-15 18:21] dan131riley commented on #31123
I've opened https://sft.its.cern.ch/jira/browse/ROOT-10995 for inserting an incomplete TFormula in the global list, and https://sft.its.cern.ch/jira/browse/ROOT-10994 for the issue in #31097 with thread safety of a TFormula read from a file.

[2020-08-16 08:52] perrotta commented on #30215
+1
- Fixed by #30259

[2020-08-16 08:52] cmsbuild commented on #30215
This issue is fully signed and ready to be closed.

[2020-08-16 14:21] Dr15Jones opened #31156 "PowerPC unit test failures"
It looks like a number of the PowerPC unit test failures are from tests which compare the output of an executable to a file with the expected output. In the PPC builds we have the following extra line showing up
[code]

which messes up the comparison. I believe this is coming from ROOT where cling is trying to inject `__float128` directive into its code but then when clang tries to compile it, it

[2020-08-16 14:21] Dr15Jones commented on #31156
assign core

[2020-08-16 14:21] cmsbuild commented on #31156
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-16 14:21] cmsbuild commented on #31156
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-16 14:24] Dr15Jones commented on #31156
This problem seems to have been reported to clang already. See

https://bugs.launchpad.net/ubuntu/+source/gcc-8/+bug/1783705

[2020-08-17 14:26] jpata opened #31158 "Thousands of tracks in a displaced vertex candidate"
It was noticed and documented in https://github.com/cms-sw/cmssw/issues/30955 that `PFDisplacedVertexCandidate::link` can take around 1% of reco time in `23434.21`. An attempt was made to speed it up in https://github.com/cms-sw/cmssw/pull/31121 by caching repeated eta, phi calls using SOA, reducing the overall time spent there by about 25%.

However, in that PR, we also noticed that an event alwa

[2020-08-17 14:26] cmsbuild commented on #31158
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-17 14:49] makortel commented on #31143
assign geometry

[2020-08-17 14:49] cmsbuild commented on #31143
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-17 14:49] makortel commented on #31158
assign reconstruction

[2020-08-17 14:49] cmsbuild commented on #31158
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-17 15:15] slomeo commented on #31143
@bsunanda : If I understand well, this PR is what I have to do, by using  @fabiocos ' s PR #30003 , when all DD4hep migrations will be merged (till now my PR #31043 ,  that's the last PR for DD4HEP migration for MUON, is under review waiting that the new Geometry repo will be created), Am I correct? Please @fabiocos can you comment?

[2020-08-17 15:42] bsunanda commented on #31143
@slomeo I believe the tracker has to address that first. They have issues for GEN-SIM as well as RECO step. Muon gives rise to first failure in the DIGI step. You can take a look at SimG4Core/Configuration/test area. Please generate step1.root using the GEN-SIM (step1) cfg file for DDD and then try DIGI (step2) cfg with dd4hep. You need not try the full workflow as made by Fabio right now.

[2020-08-17 18:01] kpedro88 opened #31161 "make cmsLHEtoEOSManager.py work everywhere"
I was trying to test a pLHE workflow such as https://cms-pdmv.cern.ch/mcm/requests?prepid=B2G-RunIIFall18pLHE-00001. The `cmsDriver.py` setup command (from [here](https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_setup/B2G-RunIIFall18pLHE-00001)) does not produce a config unless it is run on lxplus.

It runs this command:
[code]

It would be preferable if the underlying tool, [cmsLHEtoEOSMa

[2020-08-17 18:01] kpedro88 commented on #31161
assign generators

[2020-08-17 18:01] cmsbuild commented on #31161
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-17 18:02] cmsbuild commented on #31161
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-17 18:54] makortel commented on #31101
Are both the additional `Module:` row and the additional thread wrt. `Module:` rows caused by the ES prefetching?

[2020-08-17 18:55] makortel commented on #31123
Only for the record, https://github.com/cms-sw/cmssw/issues/31101 has one additional case with a crash in
[code]

[2020-08-17 18:55] makortel commented on #31101
Closing in favor of #31123

[2020-08-17 18:55] #31101 closed

[2020-08-17 18:57] makortel commented on #27553
You'd need an ARM machine to run anything from aarch64 builds.

[2020-08-17 19:03] makortel commented on #31113
assign operations

[2020-08-17 19:04] cmsbuild commented on #31113
New categories assigned: operations

@fabiocos,@franzoni,@qliphy,@davidlange6,@silviodonato you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-18 01:12] makortel commented on #31113
assign geometry

[2020-08-18 01:13] cmsbuild commented on #31113
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-18 07:13] ianna commented on #31113
@vargasa - indeed, these configurations did not pick up a correct geometry anyway and should either be updated or removed.

[2020-08-18 07:17] ianna commented on #31113
@makortel - I'd suggest to divide this issue per subsystem since these configurations maintenance falls under their responsibility.

[2020-08-18 07:19] ianna commented on #31113
@cvuosalo - the message is out of date as well - it should be pointing to https://github.com/cms-sw/cmssw/blob/b5f6b9b7758ac90fa6540debc635ff1e6f10a580/Configuration/StandardSequences/python/GeometryDB_cff.py

[2020-08-18 09:36] slomeo commented on #31143
@bsunanda : tks, I'll wait for the Tracker update.

[2020-08-18 11:16] agrohsje opened #31163 "MC weight vector of size 1"
Dear all,
there is a bug in this line:
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc#L438
double w0 = weights.at(1);
The number of elements in GEN weight vector needs to be checked first. There can be events with single-entry weight vector, see e.g. these requests [1].
Cheers, Alexander.
[1] https://its.cern.ch/jira/browse/CMSCOMPPR-16642#add-c

[2020-08-18 12:51] makortel commented on #31113
assign alca, db, reconstruction, analysis, simulation, visualization, hlt, l1

[2020-08-18 12:52] makortel commented on #31113
@ianna Done (although in many cases, if the list of files to be edited is not "large", it can be more efficient to just do it by oneself).

[2020-08-18 13:32] vargasa commented on #31143
Hi all, from a previous [private discussion](https://drive.google.com/file/d/1lY_N9Y22zxZUqj1d-8TtWE7N3xEyqLG1/view?usp=sharing):

@ghugo83 pointed out that these errors may be seen because of overlaps still present in CMS geometry (not necessarily in the tracker, the remaining overlap issues with the tracker was solved back in April).

From the same discussion @bsunanda commented:

From @rchatter

[2020-08-18 14:30] Dr15Jones commented on #31123
Here is an interesting one
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-17-2300/pyRelValMatrixLogs/run/18.0_SingleGammaPt10+SingleGammaPt10INPUT+DIGI+RECO+HARVEST/step3_SingleGammaPt10+SingleGammaPt10INPUT+DIGI+RECO+HARVEST.log#/

with the traceback being
[code]

We have 4 simultaneous crashes in `Type0PFMETcorrInputProducer` all with unreadable stack value

[2020-08-18 14:35] civanch commented on #31143
@vargasa , when we discussed these pre-shower problems it was said, that the code for ECAL it too big and difficult to debug.

Ianna mentioned that after migration to DD4Hep it would be possible make a fix.

[2020-08-18 20:09] mmusich commented on #31143
@vargasa
out of curiosity I had a look to the "Tracker" issue with step3.
With these changes:

[code]

running `/SimG4Core/Configuration/test/dd4hep_ZMM_Run3_Step3_cfg.py` I get:

[code]
while in the ddd case: `/SimG4Core/Configuration/test/ddd_ZMM_Run3_Step3_cfg.py`
I get:
[code]

looks like something funny is going on with `FilteredView::nextSibling()` in the dd4hep case.

[2020-08-18 20:16] vargasa commented on #31143
Hi @mmusich thanks, do you still have your workspace? can you try to run it adding:
[code]

[2020-08-18 20:39] bsunanda commented on #31143
@vargasa @mmusich The looping over fv's are totally different between DDD and DD4Hep. The best way to loop over fv's in dd4hep is to use the loop
while (fv.firstChild()) {
}
and not to use any other operation on fv by going up/down/next. I had to take care of this for some muon detectors. If you want I can take a look into this.

[2020-08-18 20:42] mmusich commented on #31143
@vargasa yes I did, but nothing significant pops out, full log at https://paste.in/u8qTI9

[2020-08-18 20:46] mmusich commented on #31143
@bsunanda

yes, thanks!

[2020-08-19 06:59] #30215 closed

[2020-08-19 08:18] mmusich opened #31171 "Widespread warning messages about BadJetIDVersion in IB RelVals"
Basically in all step3's of the IB matrix there are warnings of the type:
[code]

see e.g: [Run1 data](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc820/CMSSW_11_2_X_2020-08-18-2300/pyRelValMatrixLogs/run/4.17_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step3_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT.log),  [Run2 data

[2020-08-19 08:18] cmsbuild commented on #31171
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-19 09:19] ianna opened #31172 "[DD4hep] Undefined symbols in a new version"
@mrodozov and @cvuosalo - it looks like the newly updated DD4hep version does not have `Filter` and `SpecParRegistry` in a `DDCore` library. Is it our build or a DD4hep library feature?

@andresailer, @petricm, @MarkusFrankATcernch - FYI
[code]

[2020-08-19 09:19] cmsbuild commented on #31172
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-19 09:24] andresailer commented on #31172
I think you need to add
`-D DD4HEP_USE_TBB=ON`
to
https://github.com/cms-sw/cmsdist/blob/bd1e02878c36157294f00a10f7c7171a51e164a6/dd4hep.spec#L19

See: https://github.com/AIDASoft/DD4hep/pull/682

[2020-08-19 09:54] mrodozov commented on #31172
@andresailer I'm adding this to try.
@ianna how can I reproduce this, I see it's failing to build some cmssw DD4 part but this isn't failing in the IB, I'll need that piece to test it once I rebuild the dd4hep external with the extra flag

[2020-08-19 10:05] ianna commented on #31172
@mrodozov - please use https://github.com/cms-sw/cmssw/pull/31173 to do the test. Thanks!

[2020-08-19 12:26] hatakeyamak commented on #27553
I see. I think I don't have access to it. Anyway, will see what we can do about this issue.

[2020-08-19 12:46] slava77 commented on #31171
assign dqm

@ahinzmann  @camclean @alefisico
since the warnings are coming from the constructor, I'm guessing this can be blamed on the configuration (not on the reco inputs to the module).
Is some era/process modifier missing to select the right configuration?

[2020-08-19 12:46] cmsbuild commented on #31171
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-19 12:51] ahinzmann commented on #31171
Is this a new feature?
Does this appear already before #31125 is merged?

[2020-08-19 12:52] mrodozov commented on #31172
right, now when I added this flag and also TBB_ROOT to the DCMAKE_PREFIX_PATH it finds TBBConfig.cmake in the tbb installation since we added it some time ago, but then it failed saying:
[code]

since I can change by hand the value to be TRUE I did and then it failed with another cmake complain

[code]

should we definitely build TBB with cmake to bring all the cmake stuff DD4 requires to configur

[2020-08-19 12:57] ahinzmann commented on #31171
it is probably due to
https://github.com/cms-sw/cmssw/pull/30638/files#r473007749

[2020-08-19 13:01] andresailer commented on #31172
LCGCmake is not using cmake to build TBB, just calling the script to generate the TBBConfig.cmake after
https://gitlab.cern.ch/sft/lcgcmake/-/blob/master/externals/CMakeLists.txt#L733-765

[2020-08-19 13:09] mrodozov commented on #31172
Exactly as we do after you suggested it I think, we are using this:
https://github.com/oneapi-src/oneTBB/blob/tbb_2020/cmake/tbb_config_generator.cmake#L16
in here:
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/master/tbb.spec#L24
and I was thinking it should be sufficient. Now I think it might not be sufficient or there is something else wrong :/

[2020-08-19 13:10] agrohsje commented on #31163
added the issue to https://github.com/cms-nanoAOD/cmssw/issues/538 and will close this one here.

[2020-08-19 13:10] #31163 closed

[2020-08-19 13:10] cmsbuild commented on #31163
A new Issue was created by  @agrohsje .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-19 13:18] makortel commented on #31172
assign core, geometry

[2020-08-19 13:19] cmsbuild commented on #31172
New categories assigned: geometry,core

@Dr15Jones,@Dr15Jones,@smuzaffar,@cvuosalo,@mdhildreth,@makortel,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-19 13:25] makortel commented on #27553
Given that the error occurs also in UBSAN IB, how about using it as a testbed?

A minimal reproducer would be something along
[code]

[2020-08-19 13:28] andresailer commented on #31172
LCGCmake is actually using `tbb_config_installer` and not `tbb_config_generator`...
Hard to say from here if the generation of the TBBConfig doesn't work, or it fails finding the header or library files after installation, or something else goes wrong.

[2020-08-19 13:33] ahinzmann commented on #31171
Fix is #31177

[2020-08-19 13:46] mrodozov commented on #31172
I'll try with the installer. We used this at the time
https://github.com/AIDASoft/DD4hep/pull/675#issuecomment-645351181
I should've asked as I was thinking what is the purpose of this .cmake being installed and how to test it 😅
Another thing is that - you manage to build DD4 with the TBB installation from LCG which is using the config above, you are not building your own TBB, right ?

[2020-08-19 13:57] andresailer commented on #31172
Yes, we use TBB from the LCG installation since
https://github.com/AIDASoft/DD4hep/commit/aadabe14d4a0ab788ee75e3ca99e72cec1bb9583
and it works for example https://travis-ci.com/github/AIDASoft/DD4hep/jobs/366959862#L1282
(see the raw logs where you can find the echo from the SpecParRegistry)

[2020-08-19 14:30] hatakeyamak commented on #27553
Thank you. I will try that.

[2020-08-19 17:09] makortel opened #31180 "HeterogeneousCore/MPIServices unit test fails"
The unit test of the newly added `HeterogeneousCore/MPIServices` fails in CMSSW_11_2_X_2020-08-19-1100 with
[code]

This is a bit strange because the generated configuration file is in `/cvmfs/cms-ib.cern.ch/week0/slc7_amd64_gcc820/cms/cmssw-patch/CMSSW_11_2_X_2020-08-19-1100/cfipython/slc7_amd64_gcc820/HeterogeneousCore/MPIServices/MPIService_cfi.py`. What are we missing to allow it to be importe

[2020-08-19 17:10] cmsbuild commented on #31180
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-19 17:10] makortel commented on #31180
assign core

[2020-08-19 17:10] cmsbuild commented on #31180
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-19 19:40] vargasa commented on #31143
Hi all, some previously hidden overlaps were found in the outer barrel (Tracker), just made a PR https://github.com/cms-sw/cmssw/pull/31181 for that . I'll also open an issue with a list of the overlaps that are currently found so we can disentangle the source of the current issue

[2020-08-19 19:42] vargasa commented on #31143
`Search for first child failed` tell us that probably an important piece of code is being ignored :sweat_smile:

[2020-08-19 19:50] vargasa opened #31182 "[DD4hep] CMS Overlaps"
Overlaps currently present within `OCMS_1`

##### How to reproduce?

Check: https://github.com/cms-sw/cmssw/pull/31181

Here's the full log: `$grep detected /afs/cern.ch/user/s/slomeo/public/Overlaps/overlaps.out| sort --unique`

##### Edit:
* List has been updated after https://github.com/cms-sw/cmssw/pull/31434

[code]

@civanch given https://github.com/cms-sw/cmssw/issues/31143#issuecomment-675

[2020-08-19 19:50] cmsbuild commented on #31182
A new Issue was created by  @vargasa Andres Vargas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-19 20:07] vargasa commented on #31172
Hello @ianna, is there any chance that this issue is related with https://github.com/cms-sw/cmssw/issues/31143#issuecomment-675687549?

[2020-08-19 20:19] civanch commented on #31182
@vargasa , this likely problem of DD4Hep. In DDD we have overlaps but they do not make real problem for simulation.

[2020-08-19 20:38] makortel commented on #31182
assign geometry

[2020-08-19 20:39] cmsbuild commented on #31182
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-20 01:35] qliphy opened #31184 "Build CMSSW_11_1_3"

[2020-08-20 01:36] cmsbuild commented on #31184
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-08-20 04:34] qliphy commented on #31184
+1

[2020-08-20 04:34] cmsbuild commented on #31184
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-08-20 04:34] cmsbuild commented on #31184
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-08-20 04:35] cmsbuild commented on #31184
The build has started for slc7_ppc64le_gcc820 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2584/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-20 04:46] cmsbuild commented on #31184
The build has started for cc8_amd64_gcc8 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2585/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-20 04:49] cmsbuild commented on #31184
The build has started for slc7_amd64_gcc820 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2586/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-20 05:10] cmsbuild commented on #31184
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2587/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-20 05:31] fwyzard opened #31185 "HLT updates for Run 3: hltFEDSelector"
The `hltFEDSelector` module is used to select only the DAQ and TCDS FEDs:
[code]
to save them to the "NanoDST" stream along with the uGT and HLT trigger results:
[code]

1. is the list of FEDs still correct ?
2. should it be renamed to something like `hltTCDSFEDSelector` ?

[2020-08-20 05:31] fwyzard commented on #31185
assign hlt

[2020-08-20 05:32] cmsbuild commented on #31185
New categories assigned: hlt

@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-20 05:32] cmsbuild commented on #31185
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-20 05:32] fwyzard commented on #31185
@Sam-Harper @gennai FYI

[2020-08-20 05:40] fwyzard opened #31186 "HLT updates for Run 3: make Scouting producers on-demand"
The Calo and PF scouting producers are run for every event (barring prescales), independently of the final event selection:
[code]

This may result in extra CPU usage - and is especially problematic when some of the product (e.g. pixel tracks) are moved to Tasks.

There are (at least) two solutions to make these producers run only when needed:
  1. make these producers on-demand by putting them in

[2020-08-20 05:40] cmsbuild commented on #31186
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-20 05:41] fwyzard commented on #31186
assign hlt

[2020-08-20 05:41] fwyzard commented on #31186
@Sam-Harper @gennai @jsalfeld FYI

[2020-08-20 05:41] cmsbuild commented on #31186
New categories assigned: hlt

@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-20 05:58] gennai commented on #31185
Shall we also open a Jira ticket for the HLT configuration?

[2020-08-20 06:01] fwyzard commented on #31185
As you prefer !

GitHub issues are easier to work with... and we don't know what the configuration changes should be, yet.

[2020-08-20 06:02] fwyzard commented on #31186
A temporary workaround can be something like
[code]

[2020-08-20 06:06] gennai commented on #31185
Ok, so let's discuss it here and provide a Jira when the configuration proposal is made.

Best,
S.

[2020-08-20 06:13] gennai commented on #31186
Hi @fwyzard , I need to check the configuration so what I am going to write may be simply wrong, but shouldn't the scouting object packer be run within the scouting paths more than the end path? In this way we would have them run only when needed without the need of further smart-prescales or tasks.
Do I miss anything?

Best,
S.

[2020-08-20 06:19] gennai commented on #31186
One possible caveat is that in Run2 we had different objects used in different scouting datasets calo vs PF, but regardless the rate at which we will be able to run in Run3 I understood the idea was to unify the reconstruction in only one main path. So running the packer at the end of that path should just work fine.

[2020-08-20 06:26] fwyzard commented on #31186
Yes, with a single Path (or if all products are produced by all Paths) moving the packers to the end of the Paths would also be fine.

[2020-08-20 06:28] santocch commented on #25090
+1

[2020-08-20 06:50] Sam-Harper commented on #31186
So to summarise our solutions are:

1. packers on tasks and therefore run on demand by construction
2. packers on EndPath but protected by smart prescaler
3. packers on each scouting path in question

2) has the downside where we have to keep that insync with the selection. Andrea's solution fixes this nicely however can this be done in confdb?
3) has the downside where we need to ensure each path

[2020-08-20 06:58] fwyzard commented on #31186
Not like this; the smart prescale editor window should help keeping the list of Paths synchronised, but it's easy to forget to do it.

True... a way to help ensure it is to put all producers in a Sequence, and use that everywhere. Of course it won't prevent all mistakes.

[2020-08-20 06:58] cmsbuild commented on #31184
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3-slc7_ppc64le_gcc820/2584
Some test

[2020-08-20 07:29] cmsbuild commented on #31184
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3-slc7_aarch64_gcc820/2587
Some test

[2020-08-20 07:33] jpata commented on #30955
I've addressed the immediate optimization in #31121, the follow-up issue of algorithmic improvements is #31158.

[2020-08-20 07:50] cmsbuild commented on #31184
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3-cc8_amd64_gcc8/2585
Some tests ( runThe

[2020-08-20 08:00] cmsbuild commented on #31184
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3-slc7_ppc64le_gcc820/2584

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-20 08:31] cmsbuild commented on #31184
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3-cc8_amd64_gcc8/2585

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-20 08:39] cmsbuild commented on #31184
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3-slc7_aarch64_gcc820/2587

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-20 08:39] cmsbuild commented on #31184
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3-slc7_amd64_gcc820/2586
Some tests (

[2020-08-20 08:50] qliphy commented on #31184
upload all

[2020-08-20 08:50] cmsbuild commented on #31184
Queing Jenkins upload for cc8_amd64_gcc8

[2020-08-20 08:50] cmsbuild commented on #31184
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-08-20 08:50] cmsbuild commented on #31184
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-20 08:50] cmsbuild commented on #31184
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-08-20 08:51] cmsbuild commented on #31184
The upload has started for cc8_amd64_gcc8 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1657/console

[2020-08-20 08:51] cmsbuild commented on #31184
The upload has started for slc7_amd64_gcc820 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1659/console

[2020-08-20 08:51] cmsbuild commented on #31184
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1658/console

[2020-08-20 08:51] cmsbuild commented on #31184
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1660/console

[2020-08-20 08:52] cmsbuild commented on #31184
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_3-cc8_amd64_gcc8/1657

[2020-08-20 08:52] cmsbuild commented on #31184
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_3-slc7_ppc64le_gcc820/1660

[2020-08-20 08:53] cmsbuild commented on #31184
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_3-slc7_aarch64_gcc820/1658

[2020-08-20 08:55] cmsbuild commented on #31184
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_3-slc7_amd64_gcc820/1659

[2020-08-20 09:17] cmsbuild commented on #31184
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_3-slc7_amd64_gcc820/2586

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-20 09:23] qliphy commented on #31184
release-notes

[2020-08-20 09:23] cmsbuild commented on #31184
Generating release notes since CMSSW_11_1_2_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-08-20 09:23] cmsbuild commented on #31184
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_3 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_2_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_3

Cheers,
cms-bot

Yo

[2020-08-20 09:24] cmsbuild commented on #31184
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_3

[2020-08-20 10:09] ianna commented on #31172
Hi @vargasa ! Sorry, no it is not.

[2020-08-20 13:19] dan131riley commented on #31123
If this were due to an object being used before it was fully constructed, I'd expect at least one thread (the one constructing the object) to succeed.  To get all four threads to crash I think we need overlapping initializations, which I think leads back to a missing atomic or mutex that happens to be OK on AMD64 but breaks with the more aggressive ARM64 memory (in)consistency model.  For how they

[2020-08-20 13:30] Dr15Jones commented on #31123
I found another interesting one this morning
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-19-2300/pyRelValMatrixLogs/run/136.767_RunZeroBias2016E+RunZeroBias2016E+HLTDR2_2016+RECODR2_2016reHLT_ZB_HIPM+HARVESTDR2ZB/step3_RunZeroBias2016E+RunZeroBias2016E+HLTDR2_2016+RECODR2_2016reHLT_ZB_HIPM+HARVESTDR2ZB.log

[code]

This one definitely shows that we are

[2020-08-20 13:45] Dr15Jones commented on #31123
One part about our hypothesis that it is a race condition associated to some sort of initialization is in the past when we've seen that, the majority of the tracebacks showed more than 1 thread around the region for the crash. In this case that does not seem to be the tendency. I'm wondering if the problem could be related to thread local storage.

[2020-08-20 14:43] Dr15Jones commented on #31123
Here's a crash from one of the unit tests

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-20-1100/unitTestLogs/DQMServices/Demo

With the error being
[code]
It looks like the previous successful unit tests in that package were only using 1 thread. Another thing to note is we didn't even make it to the first events to be processed before the crashed happen

[2020-08-20 15:15] Dr15Jones opened #31194 "CutParser problem on ARM64"
We see unit test failures in CommonTools/Utils coming from both cutParser and expressionParser both with respect to calls to `reco::Track::charge`.

From https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-20-1100/unitTestLogs/CommonTools/Utils#/78-78

[code]

See
https://github.com/cms-sw/cmssw/blob/master/CommonTools/Utils/test/testCutParser.cc#L51-L54

and

htt

[2020-08-20 15:15] cmsbuild commented on #31194
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-20 15:15] cmsbuild commented on #31194
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-20 19:23] cvuosalo opened #31197 "[DD4hep] HcalParametersAnalyzer crashes with unused undefined solid in XML"
The HcalParametersAnalyzer crashes when using XML that contains an unused reference to an undefined solid. This crash exposes a vulnerability in the core DDCMS code for processing XML files.

Recipe to cause the crash:
1. in `Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D49.xml`, move `cavern.xml` very early in the list of XML files, to a position prior to the other XML files that def

[2020-08-20 19:24] cmsbuild commented on #31197
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-20 19:24] cvuosalo commented on #31197
assign geometry

[2020-08-20 19:24] cmsbuild commented on #31197
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-20 19:29] cvuosalo commented on #31197
The `while` loop shown in the description can also become infinite under certain error conditions. The loop needs to be fixed in some simple way in the near term. In the long term, enforcing correct XML ordering with some XML validation tool would eliminate this danger, as mentioned here:
https://github.com/cms-sw/cmssw/pull/31003#discussion_r474032507

[2020-08-20 20:13] fwyzard commented on #31185
@acostad FYI

[2020-08-20 20:14] fwyzard commented on #31186
@acostad FYI

[2020-08-20 20:14] #31106 closed

[2020-08-20 20:14] #31105 closed

[2020-08-20 20:20] cvuosalo opened #31198 "[DD4hep] Need more helpful error message for out-of-order XML files"
XML files must be processed in order such that objects are defined before they are referenced. It is an easy error for a developer to make to list files in the wrong order. The current error message for this problem does not fully describe the problem:

[code]
The problem in this example is that the LogicalPart refers to a solid that hasn't been defined, but that fact is not clear from the error m

[2020-08-20 20:21] cmsbuild commented on #31198
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-20 20:21] cvuosalo commented on #31198
assign geometry

[2020-08-20 20:21] cmsbuild commented on #31198
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-20 20:24] cvuosalo commented on #31198
One way to generate this error is to modify `Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D49.xml` by moving `cavern.xml` very early in the list of XML files, to a position prior to the other XML files that define the solids it uses, in particular prior to `muonBase.xml`. Then `cmsRun Geometry/CMSCommonData/test/dd4hep/2026D49.py` will generate the error.

[2020-08-21 01:21] slava77 commented on #27889
Updates:
- merged:
    - #31072 migrate run2_miniAOD_devel parts suitable for UL re-mini to use run2_miniAOD_UL (merged Aug 7, 2020)
    - #31044  fix to enable hpsPFTauDiscriminationByDeadECALElectronRejection in run2 reminiAOD (merged Aug 16, 2020)
    - #31037 updated training for ParticleNet tagger (merged Aug 17, 2020)
- added
    - #31120 deepMet for nanoAOD, includes an operational bugfix i

[2020-08-21 06:22] ianna commented on #31198
@cvuosalo - Could you please make a unit test in `DetectorDescription/DDCMS` to reproduce the problem? It should be a simple XML file in https://cmssdt.cern.ch/lxr/source/DetectorDescription/DDCMS/test/data/, not a full scenario. The scenarios in Geometry/CMSCommonData are auto generated. Thanks!

[2020-08-21 06:23] ianna commented on #31197
@cvuosalo - Could you please make a unit test in `DetectorDescription/DDCMS` to reproduce the problem? It should be a simple XML file in https://cmssdt.cern.ch/lxr/source/DetectorDescription/DDCMS/test/data/, not a full scenario. The scenarios in Geometry/CMSCommonData are auto generated. Thanks!

[2020-08-21 06:47] mrodozov commented on #31172
@ianna you can close this. the test is passing, I'm merging the external for 1100

[2020-08-21 12:47] makortel opened #31199 "Circular dependence missed by throwIfImproperDependencies()"
The following circular dependence is being missed by the check in [FWCore/Framework/src/throwIfImproperDependencies.cc](https://github.com/cms-sw/cmssw/blob/master/FWCore/Framework/src/throwIfImproperDependencies.cc) (using the language of the [unit test](https://github.com/cms-sw/cmssw/blob/master/FWCore/Framework/test/throwIfImproperDependencies_t.cppunit.cc))
[code]

A configuration with these

[2020-08-21 20:54] silviodonato opened #31208 "Build CMSSW_11_2_0_pre4"

[2020-08-24 12:16] ahinzmann commented on #31052
I think one of them can be dropped.
@camclean @alefisico @rappoccio Can you comment which of the two is commonly used by analyses?

[2020-08-24 12:26] alefisico commented on #31052
I assume that the first one:
`ak8PFJetsPuppiSoftDropValueMap:nb1AK8PuppiSoftDropN2`
is the most commonly used, just because it is the only one described in the [miniAOD twiki](https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookMiniAOD2017#Jets).

[2020-08-24 13:34] ahinzmann commented on #31052
Ok, so this duplicate is mainly there to keep backward compatibility. I suggest to break it for Run3 and keep only the variable nb1AK8PuppiSoftDrop:ecfN2 (and update the TWiki accordingly)

[2020-08-24 13:37] rappoccio commented on #31052
Yes, this was done for backwards compatibility. We need to only keep `nb1AK8PuppiSoftDrop:ecfN2`.

[2020-08-24 13:47] davidlange6 commented on #31113
We could add almost all of PhysicsTools/Utilities to this if ElectroWeakAnalysis was removed.. [a few other packages use LumiReWeighting.h]

On Aug 21, 2020, at 5:28 PM, Matti Kortelainen <notifications@github.com<mailto:notifications@github.com>> wrote:

the bot somehow missed "assign"

Thanks.

As pointed out by @guitargeek<https://github.com/guitargeek> is there any responsible for ElectroWeakA

[2020-08-24 15:08] dan131riley commented on #31123
Here's an assertion failure in PFProducer:particleFlowTmp:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-24-1100/pyRelValMatrixLogs/run/136.727_RunDoubleEGPrpt2016B+RunDoubleEGPrpt2016B+HLTDR2_2016+RECODR2_2016reHLT_HIPM+HARVESTDR2/step3_RunDoubleEGPrpt2016B+RunDoubleEGPrpt2016B+HLTDR2_2016+RECODR2_2016reHLT_HIPM+HARVESTDR2.log

[code]

PFProducer appears t

[2020-08-24 15:09] makortel commented on #30828
With `setConsumes()` your example would become
[code]

@Dr15Jones came up with an idea that could allow something along
[code]
to work, or possibly even overloading the `esConsumes()`
[code]
that would be much closer to the current consumes API.

We'll try if this idea can be made to work in practice. In the meanwhile I'll close #31209.

[2020-08-24 16:45] fwyzard commented on #31199
Well, of course it isn't, if one makes the graph ignore it.

Would it work to split the check in two parts ?
  - first, consider all and only the data dependencies; any loops here clearly lead to an unrunnable schedule;
  - then, *separately on each path*, add to each module a dependency on all the filters that precede it in that path, and check if this leads to any violations of the data dependen

[2020-08-24 22:07] Dr15Jones commented on #30828
See #31223 as a working implementation.

[2020-08-24 22:24] silviodonato opened #31224 "Build CMSSW_11_2_0_pre5"

[2020-08-24 22:24] cmsbuild commented on #31224
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-08-24 22:26] silviodonato commented on #31224
+1

[2020-08-24 22:26] cmsbuild commented on #31224
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-08-24 22:26] cmsbuild commented on #31224
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_ppc64le_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2020-08-24 22:28] cmsbuild commented on #31224
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2598/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-24 22:28] cmsbuild commented on #31224
The build has started for cc8_ppc64le_gcc8 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2600/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-24 22:28] cmsbuild commented on #31224
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2599/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-24 22:28] cmsbuild commented on #31224
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2601/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-24 22:47] cmsbuild commented on #31224
The build has started for cc8_amd64_gcc8 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2602/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-24 22:55] cmsbuild commented on #31224
The build has started for slc7_amd64_gcc820 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2603/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-24 22:55] cmsbuild commented on #31224
The build has started for slc7_amd64_gcc900 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2604/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-24 23:38] cmsbuild commented on #31208
The cleanup has started for cc8_aarch64_gcc8

[2020-08-24 23:38] cmsbuild commented on #31208
The cleanup has started for slc7_aarch64_gcc820

[2020-08-24 23:38] cmsbuild commented on #31208
The cleanup has started for cc8_amd64_gcc8

[2020-08-24 23:38] cmsbuild commented on #31208
The cleanup has started for cc8_ppc64le_gcc8

[2020-08-24 23:38] cmsbuild commented on #31208
The cleanup has started for slc7_amd64_gcc820

[2020-08-24 23:38] cmsbuild commented on #31208
The cleanup has started for slc7_amd64_gcc900

[2020-08-24 23:38] cmsbuild commented on #31208
The cleanup has started for slc7_ppc64le_gcc820

[2020-08-24 23:38] #31208 closed

[2020-08-24 23:38] cmsbuild commented on #31208
The workspace for cc8_ppc64le_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre4-cc8_ppc64le_gcc8/1568

[2020-08-24 23:38] cmsbuild commented on #31208
The workspace for cc8_aarch64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre4-cc8_aarch64_gcc8/1566

[2020-08-24 23:38] cmsbuild commented on #31208
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre4-cc8_amd64_gcc8/1567

[2020-08-24 23:38] cmsbuild commented on #31208
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre4-slc7_aarch64_gcc820/1569

[2020-08-24 23:38] cmsbuild commented on #31208
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre4-slc7_amd64_gcc820/1570

[2020-08-24 23:38] cmsbuild commented on #31208
The workspace for slc7_ppc64le_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre4-slc7_ppc64le_gcc820/1572

[2020-08-24 23:38] cmsbuild commented on #31208
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre4-slc7_amd64_gcc900/1571

[2020-08-25 02:41] cmsbuild commented on #31224
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-slc7_ppc64le_gcc820/2601
Some

[2020-08-25 02:47] cmsbuild commented on #31224
The build has finished sucessfully for the architecture cc8_ppc64le_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-cc8_ppc64le_gcc8/2600
Some tests

[2020-08-25 02:50] cmsbuild commented on #31224
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-cc8_aarch64_gcc8/2598
Some tests

[2020-08-25 03:05] cmsbuild commented on #31224
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-slc7_amd64_gcc900/2604
Some tes

[2020-08-25 03:24] cmsbuild commented on #31224
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-cc8_amd64_gcc8/2602
Some tests ( r

[2020-08-25 03:34] cmsbuild commented on #31224
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-slc7_ppc64le_gcc820/2601

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-25 03:39] cmsbuild commented on #31224
The tests have finished for cc8_ppc64le_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-cc8_ppc64le_gcc8/2600

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-25 03:45] cmsbuild commented on #31224
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-slc7_amd64_gcc900/2604

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-25 03:50] cmsbuild commented on #31224
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-cc8_aarch64_gcc8/2598

Tests results:
35 33 32 25 17 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-08-25 04:02] cmsbuild commented on #31224
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-cc8_amd64_gcc8/2602

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-25 04:13] cmsbuild commented on #31224
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-slc7_amd64_gcc820/2603
Some tes

[2020-08-25 04:51] cmsbuild commented on #31224
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-slc7_amd64_gcc820/2603

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-25 08:01] cmsbuild commented on #31224
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-slc7_aarch64_gcc820/2599
Some

[2020-08-25 08:09] Martin-Grunewald commented on #31113
Can you suggest a replacement for ```Configuration.StandardSequences.Geometry_cff```?

[2020-08-25 08:23] ianna commented on #31113
https://cmssdt.cern.ch/lxr/source/Configuration/Geometry/python/GeometryDB_cff.py

[2020-08-25 08:25] ianna commented on #31113
e.g. `Configuration.StandardSequences.GeometryDB_cff`

[2020-08-25 09:02] silviodonato commented on #31224
upload all

[2020-08-25 09:02] cmsbuild commented on #31224
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-08-25 09:02] cmsbuild commented on #31224
Queing Jenkins upload for cc8_amd64_gcc8

[2020-08-25 09:02] cmsbuild commented on #31224
Queing Jenkins upload for cc8_ppc64le_gcc8

[2020-08-25 09:02] cmsbuild commented on #31224
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-08-25 09:02] cmsbuild commented on #31224
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-25 09:02] cmsbuild commented on #31224
Queing Jenkins upload for slc7_amd64_gcc900

[2020-08-25 09:02] cmsbuild commented on #31224
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-08-25 09:05] cmsbuild commented on #31224
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1671/console

[2020-08-25 09:05] cmsbuild commented on #31224
The upload has started for cc8_ppc64le_gcc8 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1672/console

[2020-08-25 09:05] cmsbuild commented on #31224
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1673/console

[2020-08-25 09:05] cmsbuild commented on #31224
The upload has started for cc8_amd64_gcc8 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1670/console

[2020-08-25 09:05] cmsbuild commented on #31224
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5-slc7_aarch64_gcc820/1673

[2020-08-25 09:06] cmsbuild commented on #31224
The upload has started for slc7_amd64_gcc820 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1674/console

[2020-08-25 09:06] cmsbuild commented on #31224
The upload has successfully finished for cc8_ppc64le_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5-cc8_ppc64le_gcc8/1672

[2020-08-25 09:06] cmsbuild commented on #31224
The upload has started for slc7_amd64_gcc900 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1675/console

[2020-08-25 09:07] cmsbuild commented on #31224
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5-cc8_aarch64_gcc8/1671

[2020-08-25 09:07] cmsbuild commented on #31224
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5-slc7_amd64_gcc900/1675

[2020-08-25 09:07] cmsbuild commented on #31224
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1676/console

[2020-08-25 09:08] cmsbuild commented on #31224
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5-slc7_amd64_gcc820/1674

[2020-08-25 09:08] cmsbuild commented on #31224
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5-slc7_ppc64le_gcc820/1676

[2020-08-25 09:10] cmsbuild commented on #31224
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5-cc8_amd64_gcc8/1670

[2020-08-25 09:11] silviodonato commented on #31224
release-notes

[2020-08-25 09:12] cmsbuild commented on #31224
Generating release notes since CMSSW_11_2_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-08-25 09:12] cmsbuild commented on #31224
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre5 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
cc8_ppc64le_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_2_0_pre4 can be found at:

https://github.com

[2020-08-25 09:13] cmsbuild commented on #31224
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre5

[2020-08-25 09:14] silviodonato commented on #31224
release-notes since CMSSW_11_2_0_pre3

[2020-08-25 09:14] cmsbuild commented on #31224
Generating release notes since CMSSW_11_2_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-08-25 09:14] cmsbuild commented on #31224
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre5 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
cc8_ppc64le_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_2_0_pre3 can be found at:

https://github.com

[2020-08-25 09:15] cmsbuild commented on #31224
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre5

[2020-08-25 10:22] silviodonato opened #31227 "Build CMSSW_11_2_0_pre5_GEANT106"

[2020-08-25 10:22] #31224 closed

[2020-08-25 10:22] cmsbuild commented on #31227
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-25 10:25] #31227 closed

[2020-08-25 10:25] silviodonato opened #31228 "Build CMSSW_11_2_0_pre5_GEANT106"
CMSSW_COMMIT:CMSSW_11_2_0_pre5

[2020-08-25 10:25] cmsbuild commented on #31228
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-08-25 10:26] silviodonato commented on #31228
build cmssw-tool-conf

[2020-08-25 10:26] cmsbuild commented on #31228
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-08-25 10:28] silviodonato commented on #31228
+1

[2020-08-25 10:29] cmsbuild commented on #31228
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre5_GEANT106. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-08-25 10:32] cmsbuild commented on #31224
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5-slc7_aarch64_gcc820/2599

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-25 10:43] cmsbuild commented on #31228
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2605/console
CMSDIST Branch: [IB/CMSSW_11_2_X/g4_106](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/g4_106), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-25 11:36] cmsbuild commented on #31228
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_GEANT106-slc7_amd64_gcc820/

[2020-08-25 11:36] cmsbuild commented on #31228
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-25 11:36] cmsbuild commented on #31228
The build has started for slc7_amd64_gcc820 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2606/console
CMSDIST Branch: [IB/CMSSW_11_2_X/g4_106](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/g4_106), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-25 11:49] fwyzard commented on #29847
Any progress on this request ?

[2020-08-25 11:53] fwyzard opened #31230 "improve the SwitchProducer error message to suggest a solution"
Currently, if two branches in a `SwitchProducer` produce a different set of products, the error message is of limited usefulness.

For example:
[code]
or the other way around
[code]

Assuming that the extra product is not needed, in order to fix the problem one needs to find the list of all *other* products - including their type - and populate an `EDAlias` declaration.

The error message could be

[2020-08-25 11:53] fwyzard commented on #31230
assign core

[2020-08-25 11:53] cmsbuild commented on #31230
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-25 11:53] cmsbuild commented on #31230
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-25 13:11] smuzaffar commented on #31156
We had reported this to root team https://sft.its.cern.ch/jira/browse/ROOT-10879 . I had even tried building root with -mlong-double-64 but it did not work ( maybe the flag was not passed to llvm build).

[2020-08-25 13:14] Dr15Jones commented on #30913
Any progress?

[2020-08-25 13:18] mrodozov opened #31232 "Unit test failure in ROOT6 and ROOT 622 IBs DQM/Integration"
There is a consistent unit test failure in ROOT master and ROOT 6-22 IB in
DQM/Integration

Module: Vx3DHLTAnalyzer:pixelVertexDQM (crashed)

Details in
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ROOT6_X_2020-08-21-2300/unitTestLogs/DQM/Integration#/1170-1170
or
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ROOT622_X_2020-08-24-2300/unitTe

[2020-08-25 13:18] cmsbuild commented on #31232
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-25 13:23] makortel commented on #31232
assign dqm

[2020-08-25 13:23] mrodozov opened #31233 "Unit test failure in FWCore/TFWLiteSelector ROOT6 (master) IB"
There is a repetative unit test failure in
ROOT6 IB in
FWCore/TFWLiteSelector

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ROOT6_X_2020-08-24-2300/unitTestLogs/FWCore/TFWLiteSelector#/255-255

started failing with:

[code]

[2020-08-25 13:23] cmsbuild commented on #31232
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-25 13:23] cmsbuild commented on #31233
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-25 13:25] Dr15Jones commented on #31232
The relevant bit of the stacktrace appears to be
[code]

[2020-08-25 13:25] makortel commented on #31232
The ROOT master test is running 15 TBB threads in addition of the main one. I recall we've seen this behavior in the ROOT master before, but did we report it back to ROOT? @Dr15Jones @smuzaffar

[2020-08-25 13:26] Dr15Jones commented on #31233
@mrodozov we've actually gotten this problem randomly over the years. It would be interesting to see if it finally is reproducible.

[2020-08-25 13:26] Dr15Jones commented on #31233
assign core

[2020-08-25 13:26] cmsbuild commented on #31233
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-25 13:34] slava77 commented on #30432
@riga @mialiu149
based on lack of feedback, it sounds like we can remove mxnet.

@makortel
would removal of PhysicsTools/MXNet be enough, or will this need a removal of the external as well?

[2020-08-25 13:38] mrodozov opened #31234 "Unit test failure in CommonTools/Utils - testCommonToolsUtil - ARM IB"
There is a consistent unit test failure in the aarch64 IBs for testCommonToolsUtil test:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-24-2300/unitTestLogs/CommonTools/Utils#/34-34

the test is reporting failing assertion:
[code]

[2020-08-25 13:38] cmsbuild commented on #31234
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-25 13:43] Dr15Jones commented on #31234
There is already an issue on this #31194

[2020-08-25 13:44] mrodozov commented on #31233
@Dr15Jones by consistent I mean that it keep appearing in the IBs.
Also I'm opening this issues to keep track of the "known" failures.

[2020-08-25 13:49] smuzaffar commented on #31232
No, I do not think that it was report to root team. By the way, for this unit test, there are 24 threads for root master and 8 for root 6.22.
@mrodozov  can you please follow this with root team

[2020-08-25 13:54] makortel commented on #31232
Right, but not all of them are for TBB.

[2020-08-25 14:05] makortel commented on #30432
I think the main question is about the maintenance effort. Let me think out loud.

Removing `PhysicsTools/MXNet` would very likely prevent anyone from using mxnet for inference inside CMSSW, and thus prevent from us getting back to the failures mentioned in the issue description.

Besides that, I'd assume the mxnet external itself to require some maintenance effort (like updates). Removing the ext

[2020-08-25 14:06] mrodozov commented on #31232
sure, I'll post the jira link here.

[2020-08-25 14:06] mrodozov opened #31236 "Unit test failure FWCore/Services TestFWCoreServicesDriver - ARM IB"
There is a repetative unite test failure in:
TestFWCoreServicesDriver
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-24-2300/unitTestLogs/FWCore/Services#/87-87
with exception:

[code]

the first hit when I started checking out what is it was this one:
https://unix.stackexchange.com/questions/253903/creating-threads-fails-with-resource-temporarily-unavailable

[2020-08-25 14:07] cmsbuild commented on #31236
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-25 14:12] mrodozov opened #31237 "Unit test failure in DQMServices/Demo - TestDQMServicesDemo - ARM IB"
There is a unit test failure in:
DQMServices/Demo
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-08-24-2300/unitTestLogs/DQMServices/Demo#/5759-5759

more info from the error log:
[code]
there is a ulimit set to something in this test which might be the root of the failure on this machine.
In case the devs need access to an arm (this arm) marchine we can help wi

[2020-08-25 14:13] cmsbuild commented on #31237
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-25 14:13] Dr15Jones commented on #31236
That unit test is testing the Service that aborts if the job takes too much memory. In this case, it is supposed to succeed since it was guessed that 1GB of VSize would be sufficient to run that simple job. For ARM, that is not the case (which is kind of sad). We can get the test to work by moving the max size to be 1.5 for the test. [Although it still would be nice to find out why ARM is requirin

[2020-08-25 14:24] makortel commented on #31237
assign dqm

[2020-08-25 14:24] makortel commented on #31236
assign core

[2020-08-25 14:24] cmsbuild commented on #31237
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-25 14:25] cmsbuild commented on #31236
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-25 14:54] vargasa opened #31239 "[FAQ] Running GDB with cmsRun"
More a question than an issue:

I have a very simple module: `vargasa:TNTest` https://github.com/cms-sw/cmssw/commit/ca19028482fa2eb8280c679ec30bfe335d39ce78

And used scram with debugging symbols enabled:

[code]

I also added `<flags CXXFLAGS="-g3"/>` to the closest `BuildFile.xml` file (is this redundant?). Then everything compiles succesfully

Then I try:

[code]

However I keep getting the fo

[2020-08-25 14:54] cmsbuild commented on #31239
A new Issue was created by  @vargasa Andres Vargas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-25 14:58] makortel commented on #29847
Not yet.

I did have another thought on
[code]
syntax. That would require special treatment also when modifying the `EDAlias` (directly, in `clone()`, or with `Modifier`), and it is not clear to me what kind of interface to provide for that.

[2020-08-25 15:00] makortel commented on #31239
assign core

[2020-08-25 15:00] cmsbuild commented on #31239
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-25 15:09] makortel commented on #31239
The `cmsRun` executable itself indeed does not have debug symbols. The libraries loaded by it can have, and you should be able to set breakpoints there. When you try to set a breakpoint, GDB should tell you that it does not know the symbol or source file, and ask you if you want to set the breakpoint pending a future library load. Answering `y` should then set the breakpoint (default is `n`).

You

[2020-08-25 15:10] cmsbuild commented on #31228
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre5_GEANT106-slc7_amd64_gcc820/2606

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-25 15:20] kpedro88 commented on #31239
@makortel's comment is correct.

One way to reduce the number of auxiliary threads: read a local file rather than reading over xrootd.

[2020-08-25 15:26] makortel commented on #31237
This problem is actually also reported in https://github.com/cms-sw/cmssw/issues/31123#issuecomment-677708957 .

[2020-08-25 15:37] makortel commented on #31230
Given that the same outcome can be achieved by EDAliases (whose construction can be tedious as written in the description), such a flag could indeed make sense. I can't quickly think of any concerns on it. Perhaps something like
[code]
? I'd use an underscore in the parameter name to signify that it is not a case of the switch, and I think it should be tracked because it affects which products exi

[2020-08-25 17:45] vargasa commented on #31239
@makortel, @kpedro88 Thank you, it works for that example :)

Follow up question:

When I try running a more complete one:

[code]
Withing `gdb`:
[code]
Or running `list` after hiting the breakpoint2:
[code]
by running `step` I see:
[code]
so it looks like the `-O0` flag is not being taken. Should I add the flags in some additional place?

[2020-08-25 18:09] kpedro88 commented on #31239
I can get a better trace by using the following breakpoint:
[code]

I'm not sure why just pointing to the constructor by name doesn't work.

[2020-08-25 18:31] makortel commented on #31239
You should get the exact compilation commands with
[code]
(although I'm not fully sure if this order of arguments works)

[2020-08-25 19:21] silviodonato commented on #31228
upload all

[2020-08-25 19:22] cmsbuild commented on #31228
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-25 19:25] cmsbuild commented on #31228
The upload has started for slc7_amd64_gcc820 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1677/console

[2020-08-25 19:25] cmsbuild commented on #31228
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre5_GEANT106-slc7_amd64_gcc820/1677

[2020-08-25 19:52] makortel commented on #31230
On a deeper look that would require constructing the case-producers before their `SwitchProducer` module (module construction order is currently unspecified), because the set of common products can be known only after the case producers are constructed, and the `SwitchProducer`module itself needs that information to set up its own `consumes()` and `produces()`. I might find/craft a way to mess wit

[2020-08-25 20:04] slava77 commented on #27889
Update
- (potential backport for) #31212 bug-fix in metNoHF unclustered energy uncertainty

[2020-08-25 20:05] vargasa commented on #31239
Thanks again, I modified `$CMSSW_BASE/config/toolbox/$SCRAM_ARCH/tools/selected/gcc-cxxcompiler.xml` to include the `-O0 -g3` flags
[code]
And it shows:
[code]
And the breakpoint works now:

[code]

[2020-08-25 20:05] #31239 closed

[2020-08-26 01:04] makortel commented on #24051
Here is another similar crash from https://github.com/cms-sw/cmssw/pull/31245#issuecomment-680394003
[code]

@smuzaffar Should we consider reopening the issue?

[2020-08-26 06:20] davidlange6 opened #31247 "libCheck column in IB pages?"
What is the source of the libCheck column in the IBs? I did a spot check of one reported error, and don't agree with it. Does the tool consider link and header dependencies?

[2020-08-26 06:21] cmsbuild commented on #31247
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-26 07:39] smuzaffar commented on #31239
scram wrapper does not properly deal with multi FLAGS on command line. You can do something like
[code]
and this should work.

[2020-08-26 07:43] silviodonato commented on #31228
release-notes since CMSSW_11_2_0_pre5

[2020-08-26 07:43] cmsbuild commented on #31228
ATTENTION!!! The production architecture (slc6_amd64_gcc700) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2020-08-26 08:12] mrodozov commented on #31232
the issue is https://sft.its.cern.ch/jira/browse/ROOT-11014
I've asked ROOT people to start comment here

[2020-08-26 08:38] cmsbuild commented on #31228
Generating release notes since CMSSW_11_2_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-08-26 08:38] cmsbuild commented on #31228
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre5_GEANT106 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_2_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_pre5_GEANT106

Cheers,
cms-bot

You can also click <a href="ma

[2020-08-26 08:39] cmsbuild commented on #31228
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre5_GEANT106

[2020-08-26 09:33] silviodonato opened #31249 "Build CMSSW_11_2_0_HGCAL1"
CMSSW_COMMIT:CMSSW_11_2_0_pre5

[2020-08-26 09:34] cmsbuild commented on #31249
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-08-26 09:45] silviodonato commented on #31249
+1

[2020-08-26 09:45] cmsbuild commented on #31249
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_HGCAL1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-08-26 09:46] cmsbuild commented on #31249
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_ppc64le_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2020-08-26 09:46] cmsbuild commented on #31249
The build has started for cc8_amd64_gcc8 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2607/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-26 09:47] cmsbuild commented on #31249
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2608/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-26 09:47] cmsbuild commented on #31249
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2609/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-26 09:47] cmsbuild commented on #31249
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2610/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-26 09:47] cmsbuild commented on #31249
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2611/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-26 09:48] cmsbuild commented on #31249
The build has started for cc8_ppc64le_gcc8 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2612/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-26 09:48] cmsbuild commented on #31249
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2613/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-26 10:33] smuzaffar commented on #31249
@silviodonato , should not we only build it for production arch? Do we need to build it for all archs?

[2020-08-26 10:34] smuzaffar commented on #31249
@silviodonato , this is also using the normal GEANT4 from 11.2.X  IBs. Is this what you want?

[2020-08-26 11:51] Dr15Jones commented on #31247
assign core

[2020-08-26 11:52] cmsbuild commented on #31247
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-26 12:14] silviodonato commented on #31249
abort

[2020-08-26 12:15] cmsbuild commented on #31249
Deleting CMSSW_11_2_0_HGCAL1:

  -Release successfully deleted

  -cmssw tag CMSSW_11_2_0_HGCAL1 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_2_0_HGCAL1/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_2_0_HGCAL1/slc7_aarch64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_2_0_HG

[2020-08-26 12:16] cmsbuild commented on #31249
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_HGCAL1-cc8_amd64_gcc8/2607

[2020-08-26 12:16] cmsbuild commented on #31249
The was an error for cc8_ppc64le_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_HGCAL1-cc8_ppc64le_gcc8/2612

[2020-08-26 12:16] cmsbuild commented on #31249
The was an error for cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_HGCAL1-cc8_aarch64_gcc8/2610

[2020-08-26 12:16] cmsbuild commented on #31249
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_HGCAL1-slc7_amd64_gcc820/2608

[2020-08-26 12:30] #31249 closed

[2020-08-26 12:31] silviodonato opened #31251 "Build CMSSW_11_2_0_HGCAL1"
CMSSW_COMMIT:CMSSW_11_2_0_pre5
ARCHITECTURE:slc7_amd64_gcc820

[2020-08-26 12:32] cmsbuild commented on #31251
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-08-26 12:34] silviodonato commented on #31251
@smuzaffar we want the standard GEANT4 version. I started again selecting only slc7_amd64_gcc820 @srimanob

[2020-08-26 12:34] silviodonato commented on #31251
+1

[2020-08-26 12:34] cmsbuild commented on #31251
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_HGCAL1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-08-26 12:34] cmsbuild commented on #31251
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-26 12:37] cmsbuild commented on #31251
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2614/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-26 12:59] smuzaffar commented on #31247
@davidlange6 , the information is obtained by running `ldd -u -r libName.so` [a]

[a]
https://github.com/cms-sw/cmssw/blob/master/Utilities/ReleaseScripts/scripts/libchecker.pl#L42

[2020-08-26 14:35] davidlange6 commented on #31247
Thanks  — So no, it doesn’t capture header-only dependencies that scram requires also to be expressed via BuildFiles. Perhaps this is not a good metric then?

[2020-08-26 14:42] smuzaffar commented on #31247
this basically tells that there is no need to link against a library as it is not directly needed. But if we know that dependency is needed so that scram can correctly generate modules then one should change

[code]
to
[code]

[2020-08-26 14:56] smuzaffar commented on #31251
@silviodonato , I see that jenkins is rebuilding a lot externals because it is using the head of cmsdist branch where we have merged few externals after pre5. I would suggest to restart the build and also set
[code]
so that it uses the exactly the same externals as pre5

[2020-08-26 15:15] davidlange6 commented on #31247
Ah - too bad - when last I asked about a way to do header only dependencies, the solution was just to add them to the build file. So the opportunity to do it correctly is lost for a lot of places.

On Aug 26, 2020, at 4:42 PM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

this basically tells that there is no need to link against a library as it is not

[2020-08-26 17:00] davidlange6 opened #31252 "Should GeomDet be in DataFormats rather than Geometry?"
Among the violations of dependencies in DataFormats is the use of GeomDet. This has created a cyclic dependency in module 'GeometryCommonTopologies': GeometryCommonTopologies -> DataFormatsTrackingRecHit -> GeometryCommonTopologies

which I'd like to break..

[2020-08-26 17:00] cmsbuild commented on #31252
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-26 17:00] davidlange6 commented on #31252
assign geometry

[2020-08-26 17:01] cmsbuild commented on #31252
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-26 17:28] Dr15Jones commented on #31252
My personal take is why does Geometry depend on TrackingRecHit?

[2020-08-26 17:35] Dr15Jones commented on #31252
The answer is
[code]

So my take is `DataFormats/TrackingRecHit/interface/AlignmentPositionError.h` should move to `Geometry/CommonTopologies`.

[2020-08-26 17:44] davidlange6 commented on #31252
I don’t see anything the breaks by doing that.

On Aug 26, 2020, at 7:35 PM, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

The answer is

cdj@mac-131265> git grep '#include "DataFormats/TrackingRecHit' | grep "Geometry/CommonTopologies"
Geometry/CommonTopologies/interface/GeometryAligner.h:#include "DataFormats/TrackingRecHit/interface/AlignmentPositionError.h"
Ge

[2020-08-26 18:37] slava77 commented on #31252
perhaps DataFormats/GeometryCommonDetAlgo
because in DataFormats/TrackingRecHit/interface/AlignmentPositionError.h
[code]

[2020-08-26 19:21] cmsbuild commented on #31251
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_HGCAL1-slc7_amd64_gcc820/2614
Some t

[2020-08-26 19:50] silviodonato commented on #31251
abort

[2020-08-26 19:51] cmsbuild commented on #31251
Deleting CMSSW_11_2_0_HGCAL1:

  -Release successfully deleted

  -cmssw tag CMSSW_11_2_0_HGCAL1 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_HGCAL1/slc7_amd64_gcc820 successfully deleted.

You must create a new issue to start over the build.

[2020-08-26 19:51] silviodonato opened #31255 "Build CMSSW_11_2_0_HGCAL1"
CMSSW_COMMIT:CMSSW_11_2_0_pre5
ARCHITECTURE:slc7_amd64_gcc820
CMSDIST_COMMIT:REL/CMSSW_11_2_0_pre5/slc7_amd64_gcc820

[2020-08-26 19:51] cmsbuild commented on #31251
There was an error when running the tests for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_HGCAL1-slc7_amd64_gcc820/2614

Tests results:
grep: /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_11_2_0_HGCAL1-slc7_amd64_gcc820/build/CMSSW_11_2_0_HGCAL1-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2020-08-26 19:52] cmsbuild commented on #31255
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-08-26 19:52] silviodonato commented on #31255
+1

[2020-08-26 19:53] silviodonato commented on #31251
even if the build is completed, it is good to use exactly the same externals as pre5. Moved to https://github.com/cms-sw/cmssw/issues/31255

[2020-08-26 19:53] #31251 closed

[2020-08-26 19:53] cmsbuild commented on #31255
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_HGCAL1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-08-26 19:53] cmsbuild commented on #31255
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-08-26 19:54] cmsbuild commented on #31255
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2615/console
CMSDIST Branch: [REL/CMSSW_11_2_0_pre5/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_0_pre5/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-26 22:58] vargasa commented on #31239
@smuzaffar I tried that, but it didn't work :/

[code]
I also tried:
[code]
But it shows the same `-O2 ...` flags on compilation

[2020-08-26 23:46] cmsbuild commented on #31255
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_HGCAL1-slc7_amd64_gcc820/2615
Some t

[2020-08-27 00:25] cmsbuild commented on #31255
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_HGCAL1-slc7_amd64_gcc820/2615

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-08-27 06:42] smuzaffar commented on #31239
@vargasa , command line args for "scram b" are not persistent. If you want to make them persistent then yes editing the gcc-cxxcompiler.xml is the right way to do it. `USER_CXXFLAGS="-O0 -g3" scram b -v -j 10`  should add `-O0 -g3` near the end of each compilation command. Although you might see `-O2` but the last `-O0` will override it.

[2020-08-27 07:49] silviodonato commented on #31255
upload all

[2020-08-27 07:49] cmsbuild commented on #31255
Queing Jenkins upload for slc7_amd64_gcc820

[2020-08-27 07:51] cmsbuild commented on #31255
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1678/console

[2020-08-27 07:57] cmsbuild commented on #31255
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_HGCAL1-slc7_amd64_gcc820/1678

[2020-08-27 10:22] silviodonato commented on #31255
release-notes since CMSSW_11_2_0_pre5

[2020-08-27 10:22] cmsbuild commented on #31255
Generating release notes since CMSSW_11_2_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-08-27 10:22] cmsbuild commented on #31255
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_2_0_HGCAL1 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_2_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_HGCAL1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-rel

[2020-08-27 10:24] cmsbuild commented on #31255
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_HGCAL1

[2020-08-27 13:43] makortel opened #31258 "Segfault in TTUTrackingAlg::ghostBuster()"
Workflow 36.0 crashed in CMSSW_11_2_X_2020-08-26-2300 (for slc7_amd64_gcc820) with
[code]
Full log https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-08-26-2300/pyRelValMatrixLogs/run/36.0_Wjet_Pt_3000_3500+Wjet_Pt_3000_3500INPUT+DIGI+RECO+HARVEST/step2_Wjet_Pt_3000_3500+Wjet_Pt_3000_3500INPUT+DIGI+RECO+HARVEST.log

[2020-08-27 13:43] makortel commented on #31258
assign l1

[2020-08-27 13:43] cmsbuild commented on #31258
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-08-27 13:43] cmsbuild commented on #31258
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-27 13:44] makortel commented on #31258
By quickly looking through the code I didn't spot anything suspicious, there are not recent changes in the package, and so far it looks like it could be isolated (random) crash.

[2020-08-27 14:49] slava77 commented on #27889
updates:
- removed "(potential backport for) #31212 bug-fix in metNoHF unclustered energy uncertainty " based on https://github.com/cms-sw/cmssw/pull/31212#issuecomment-681972929
- merged PRs area now checked as done:
    - #31214 Adapt track-vertex association in PUPPI (v15) (merged Aug 25, 2020)
    - #31120 deepMet for nanoAOD, includes an operational bugfix in DeepMETProducer (merged Aug 25, 2

[2020-08-27 19:19] makortel commented on #29847
#31269 adds support for
[code]

[2020-08-28 05:53] cmsbuild commented on #31228
The cleanup has started for slc7_amd64_gcc820

[2020-08-28 05:53] #31228 closed

[2020-08-28 05:53] cmsbuild commented on #31228
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre5_GEANT106-slc7_amd64_gcc820/1573

[2020-08-28 06:34] smoortga commented on #28469
@slava77 ,

I just coordinated a bit with @hqucms , and these plans are still in the pipeline (though with a slightly lower priority for the moment due to other commitments). We still plan to look into this possibility starting a few weeks from now. We will first need to do some tests to asses the impact of this change on the different tagger performances (in MiniAOD and compared to NanoAOD).

Bes

[2020-08-28 07:52] vargasa commented on #31182
@cvuosalo, @slomeo, @bsunanda. FYI: `YB*` volumes are part of the muon system and `EHAWR*` are part of ecal

[2020-08-28 08:33] fwyzard commented on #29847
Thanks @makortel. Could you elaborate what you meant with

and why using

does not have the same problems ?

[2020-08-28 08:46] veelken commented on #30895
Hi Ken, I would prefer if someone else can do this change. I expect that changing the code will take only 1-2 hours of time, but unfortunately I don't have enough time for validation at the moment.

[2020-08-28 09:43] slomeo commented on #31182
@vargasa I'll check them, following the commands present in #31181, after that PR #31043 will be merged. @cvuosalo @bsunanda @ianna @civanch  : Last year I fixed all YB* (i.e not active volumes) overlaps seen by "cmsShow -c overlaps.fwc --sim-geom-file cmsSimGeom.root" (i.e not dd4hep version) so I think that these overlaps are related to dd4hep position alghorithms (i.e not xml code) as @vargasa

[2020-08-28 11:17] fwyzard opened #31277 "Build CMSSW_11_1_3_Patatrack"

[2020-08-28 11:18] cmsbuild commented on #31277
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-08-28 11:23] fwyzard commented on #31277
build cmssw-tool-conf

[2020-08-28 11:23] cmsbuild commented on #31277
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc8, slc7_aarch64_gcc820, slc7_ppc64le_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-08-28 11:24] fwyzard commented on #31277
+1

[2020-08-28 11:25] cmsbuild commented on #31277
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_3_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-08-28 11:25] cmsbuild commented on #31277
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2616/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-08-28 11:26] cmsbuild commented on #31277
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2617/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-08-28 11:26] cmsbuild commented on #31277
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2618/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)