[2018-10-20 20:10] #16166 closed

[2018-10-21 05:53] cmsbuild commented on #24933
The cleanup has started for slc6_amd64_gcc700

[2018-10-21 05:53] cmsbuild commented on #24933
The cleanup has started for slc7_amd64_gcc700

[2018-10-21 05:53] #24933 closed

[2018-10-21 06:01] cmsbuild commented on #24933
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_6-slc6_amd64_gcc700/1167

[2018-10-21 06:01] cmsbuild commented on #24933
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_6-slc7_amd64_gcc700/1168

[2018-10-21 10:53] cmsbuild commented on #24932
The cleanup has started for slc6_amd64_gcc700

[2018-10-21 10:53] cmsbuild commented on #24932
The cleanup has started for slc7_amd64_gcc700

[2018-10-21 10:53] #24932 closed

[2018-10-21 11:02] cmsbuild commented on #24932
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0-slc7_amd64_gcc700/1170

[2018-10-21 11:02] cmsbuild commented on #24932
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0-slc6_amd64_gcc700/1169

[2018-10-21 22:06] guitargeek commented on #23676
Hi @slava77, I have not tried it recently but I suppose the VID in FWLite is still broken. It does not seem that people care too much however.

The discussion in #24131 was not related to the VID selectors, but to using the Egamma MVAEstimator classes in FWLite.

Sorry I cant' say much on these FWLite issues, since I don't use it. But recently I got in contact with someone who wants to use the new

[2018-10-22 07:32] deguio commented on #17593
@jaehyeok

[2018-10-22 11:17] tsusa commented on #19805
@pmaksim1 could you please have a look at this LogWarning issue?

[2018-10-22 14:06] makortel commented on #21314
Agree.

[2018-10-22 14:06] #21314 closed

[2018-10-22 17:17] pmaksim1 commented on #19805
I'll look into it later today, but this code hasn't changed in O(10) years...

[2018-10-22 19:10] deguio commented on #17593
I've talked quickly with @jaehyeok and we couldn't think of anything pending in terms of HcalNoiseInfoProducer for the uncollapsed or collapsed scenario. so this one can be closed.
thanks.

[2018-10-22 22:35] zhenhu opened #24968 "GenHFHadronMatcher crashes at NanoAOD step in the TenTau workflow"
We recently noticed the TenTau relval workflows failed in the NanoAOD step due to a crash in GenHFHadronMatcher. This error happened in all 103X and 102X releases since the first day we introduced the NanoAOD step in relval.
For example:
https://cms-unified.web.cern.ch/cms-unified/report/muahmad_RVCMSSW_10_2_5TenTau_15_500__ECAL_181016_215458_9720#ERROR
[code]
[code]
It seems that the authors of t

[2018-10-22 22:35] cmsbuild commented on #24968
A new Issue was created by  @zhenhu Zhen Hu.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-10-23 02:49] zhenhu commented on #24968
Link to the full job logs:
https://cms-unified.web.cern.ch/cms-unified//joblogs/muahmad_RVCMSSW_10_2_5TenTau_15_500__ECAL_181016_215458_9720/139/NanoFull_2018/e536b3f5-83ea-4b40-9ce2-4bd091248590-0-2-logArchive/job/WMTaskSpace/cmsRun1/

[2018-10-23 08:13] fabiocos commented on #24436
@qliphy @efeyazgan what is the current status of this move? I think we should hurry to get slc7 fully functional asap.

[2018-10-23 09:29] fabiocos commented on #24436
@qliphy but what is the plan for already existing gridpacks? To update the fragments? Or are you implying a large new production of gridpacks only for this move?

@smuzaffar was suggesting also to consider the possible use of Singularity within the production script in case, to have an slc6 environment on slc7 machines. I think it depends on the required amount from your side to go to a stable sit

[2018-10-23 09:32] #13625 closed

[2018-10-23 09:32] #17603 closed

[2018-10-23 09:32] #18449 closed

[2018-10-23 09:32] #20867 closed

[2018-10-23 09:32] #21180 closed

[2018-10-23 09:33] smuzaffar commented on #21313
@slava77 , yes we still have this issue in ASAN IBs. Unfortunately some workflows for ASAN IBs are getting timeout as they take a lot more time. I can set timeout/step for ASAN IBs to be 3h (instead of 2).

[2018-10-23 09:33] #13201 closed

[2018-10-23 10:33] smuzaffar commented on #24436
@fabiocos , container might not work if we are already running with in a container :-)

[2018-10-23 10:33] slava77 commented on #24587
In order to avoid  future possible problems as we had in T0 replay recently, it would be still nice to resolve this issue and make a matrix workflow.

It looks like a bit more complete set in the DQM step would be to have ```DQM:@common+@standardDQM+@ExtraHLT```
this is what was used in #24958

[2018-10-23 10:59] smuzaffar commented on #24935
I made a PR https://github.com/cms-sw/cmssw/pull/24969 to make use of ofast-flag tool.

[2018-10-23 11:12] qliphy commented on #24436
@fabiocos  We plan to do in parallel but need more discussions and task arrangement inside GEN.

(1) It would be easy to just update the fragments and reuse old gridpacks, but for that we need an appropriate architecture under sl7 ( it is basically libgfortran.3 matters which is not in gcc700). However,  71X is not available at sl7 and in a previous test we found instead 8X can again make old grid

[2018-10-23 12:14] smuzaffar commented on #21769
@slava77 , this has been fixed.

[2018-10-23 12:21] slava77 commented on #21769
+1

based on https://github.com/cms-sw/cmssw/issues/21769#issuecomment-432221677

[2018-10-23 12:54] #21769 closed

[2018-10-23 13:20] dan131riley commented on #20116
I don't think it is still an issue.  The crashes were resolved by reverting #18322, and the underlying issue of making EcalDigiToRaw thread safe was resolved by Chris in #24105

[2018-10-23 13:20] #20116 closed

[2018-10-24 07:43] fabiocos commented on #24436
@qliphy I am not sure about what you mean by " If you can make sure there is a 7X or 8X environment at sl7". The releases that have been produced and are in cvmfs for sl7 are there, nobody is going to trash them, and you can use them. If this is enough to solve your problems (libgfortran.so.3 is there as far as I can see) I invite you to do it asap.

Concerning the production of new gridpacks for

[2018-10-24 07:52] qliphy commented on #24436
@fabiocos

You can check what Kevin mentioned on top "I suppose this is not surprising, since CMSSW_7_1_X is only available on SL6. However, it should be addressed eventually."

We did test months ago that at SL7 there is no CMSSW_7_1_X.  Of course we can check it again now.

[2018-10-24 08:22] fabiocos commented on #24436
10:22 lxplus061 508> scram list CMSSW_8_0_31_patch1

Listing installed projects available for platform >> slc7_amd64_gcc530 <<

--------------------------------------------------------------------------------
| Project Name  | Project Version          | Project Location                  |
--------------------------------------------------------------------------------

  CMSSW           CMSSW_8_0_

[2018-10-24 08:39] qliphy commented on #24436
@fabiocos  Thanks a lot.  So we have a CMSSW_8_X as sl7.  We will have some quick test and let you know.

[2018-10-24 08:44] #24869 closed

[2018-10-24 08:46] fabiocos opened #24981 "Merge of 24892 crashes workflow 148.0"
Starting from CMSSW_10_4_X_2018-10-23-1100 the workflow 148 is crashing with the message

----- Begin Fatal Exception 23-Oct-2018 22:01:30 CEST-----------------------
An exception of category 'ProductNotFound' occurred while
   [0] Processing  Event run: 1 lumi: 1 event: 1 stream: 2
   [1] Running path 'Flag_trkPOG_logErrorTooManyClusters'
   [2] Prefetching for module LogErrorEventFilter/'logErro

[2018-10-24 08:46] cmsbuild commented on #24981
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-10-24 08:49] fabiocos commented on #24981
assign reconstruction

[2018-10-24 08:49] cmsbuild commented on #24981
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-10-24 08:55] perrotta commented on #24981
@YeonjuGo @mandrenguyen

[2018-10-24 09:05] #23704 closed

[2018-10-24 09:08] fabiocos commented on #23873
This issue was finally fixed, and it can be closed

[2018-10-24 09:08] #23873 closed

[2018-10-24 09:09] #24273 closed

[2018-10-24 09:09] #24551 closed

[2018-10-24 16:31] fabiocos commented on #24587
@prebello @zhenhu could you please provide such update to PyReleaseValidation asap?

[2018-10-24 16:40] prebello commented on #24587
Hi @fabiocos  do you mean add DQM:@common+@standardDQM+@ExtraHLT sequence in HI relvals?

[2018-10-24 16:55] zhenhu commented on #24587
Hi @fabiocos , we can add a workflow with RAW data file as input, and run through
-s RAW2DIGI,L1Reco,RECO,EI,DQM:@common+@standardDQM+@ExtraHLT,
using 2018_pp_on_AA as era. Does it look good to you?
Do you have any suggested run number we could use?

[2018-10-24 17:12] fabiocos commented on #24587
@zhenhu @prebello I have discussed with @icali, it would be good to have a realistic chain that combines all the ingredients:

- the use of the remapper introduced in #24819 on input data in HI-like format, as proposed in #24619 (Ivan will provide the run numbers of tests collected in these last days)

- the use of the Run2_2018_pp_on_AA era

- the use of a realistic sequence like the one suggeste

[2018-10-24 17:16] icali commented on #24587
We collected the run 325174 this morning that has the (quasi) final L1+HLT menu. It includes both the datasets with full and reduced format.
Running the standard HI  sequence (so --repack) should also run the mapper automatically.

[2018-10-24 22:01] zhenhu commented on #24587
I tried to add two new workflows with HIMinimumBias0 or HIMinimumBiasReducedFormat0 as input,
and run the standard HI sequence using the Run2_2018_pp_on_AA era.
My code is committed here:  https://github.com/cms-sw/cmssw/commit/e0e3a600afdca5213fe77705c7eba2f12baf4312

The workflows run without crashes, but give me some warning messages, such as:
[code]

Above errors can by reproduced by running t

[2018-10-24 22:12] icali commented on #24587
I saw the same error using the standard GT provided by the cmsDriver command. However, changing the GT to 103X_dataRun2_Prompt_v2, it solved the issue. However, I'm not sure what would it be the best GT to be used.

[2018-10-24 22:39] zhenhu commented on #24587
Hi @icali , the new GT does not work for me. To reproduce my error, you can first add the two new wfs as in https://github.com/cms-sw/cmssw/commit/e0e3a600afdca5213fe77705c7eba2f12baf4312
Then run the following command to produce the RECOHID18.py:
[code]

[2018-10-25 00:35] zhenhu commented on #24587
Hi all,

By comparing @icali 's config with mine, we finally found the source of the errors.

In Ivan's config, he used:
[code]
, while I was using:
[code]
The reason of the above difference is because I have `'--scenario':'HeavyIons'` in my cmsDriver, but Ivan used the default scenario which is `pp`.

So, in order to make my reco step work, I committed a new version which is exactly same as Ivan'

[2018-10-25 04:37] slava77 commented on #24587
On 10/25/18 2:35 AM, Zhen Hu wrote:

this is expected now
and should be fixed by #24958

[2018-10-25 08:41] fabiocos opened #24990 "Build CMSSW_10_3_0_patch1"

[2018-10-25 08:41] cmsbuild commented on #24990
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-10-25 08:42] fabiocos commented on #24990
+1

[2018-10-25 08:42] cmsbuild commented on #24990
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2018-10-25 08:42] cmsbuild commented on #24990
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-10-25 08:43] cmsbuild commented on #24990
The build has started for slc6_amd64_gcc700 in cmsbuild85.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1820/console
CMSDIST Branch: [REL/CMSSW_10_3_0/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_0/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-10-25 08:43] cmsbuild commented on #24990
The build has started for slc7_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1821/console
CMSDIST Branch: [REL/CMSSW_10_3_0/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_0/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-10-25 08:48] fabiocos commented on #24587
#24958 has been merged (as well as its 10_3_X backport), so in next IB you should not see any more the issue

[2018-10-25 09:18] cmsbuild commented on #24990
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_patch1-slc7_amd64_gcc700/1821
Some t

[2018-10-25 09:20] cmsbuild commented on #24990
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_patch1-slc6_amd64_gcc700/1820
Some t

[2018-10-25 09:50] fabiocos opened #24992 "Build CMSSW_10_1_11_patch1"

[2018-10-25 09:50] cmsbuild commented on #24992
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-10-25 09:50] fabiocos commented on #24992
+1

[2018-10-25 09:50] cmsbuild commented on #24992
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_11_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-10-25 09:51] cmsbuild commented on #24992
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-10-25 09:51] cmsbuild commented on #24992
The build has started for slc7_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1823/console
CMSDIST Branch: [REL/CMSSW_10_1_11/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_11/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-10-25 09:51] cmsbuild commented on #24992
The build has started for slc6_amd64_gcc630 in cmsbuild59.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1822/console
CMSDIST Branch: [REL/CMSSW_10_1_11/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_11/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-10-25 09:52] cmsbuild commented on #24992
The build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1824/console
CMSDIST Branch: [REL/CMSSW_10_1_11/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_11/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-10-25 10:15] cmsbuild commented on #24992
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_11_patch1-slc7_amd64_gcc630/1823
Some

[2018-10-25 10:15] cmsbuild commented on #24992
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_11_patch1-slc7_amd64_gcc700/1824
Some

[2018-10-25 10:20] cmsbuild commented on #24992
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_11_patch1-slc6_amd64_gcc630/1822
Some

[2018-10-25 11:16] cmsbuild commented on #24990
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_patch1-slc7_amd64_gcc700/1821

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-10-25 11:19] cmsbuild commented on #24992
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_11_patch1-slc7_amd64_gcc630/1823

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-10-25 11:45] cmsbuild commented on #24992
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_11_patch1-slc6_amd64_gcc630/1822

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-10-25 12:11] fabiocos commented on #24992
upload all

[2018-10-25 12:12] cmsbuild commented on #24992
Queing Jenkins upload for slc6_amd64_gcc630

[2018-10-25 12:12] cmsbuild commented on #24992
Queing Jenkins upload for slc7_amd64_gcc630

[2018-10-25 12:12] cmsbuild commented on #24992
Queing Jenkins upload for slc7_amd64_gcc700

[2018-10-25 12:13] cmsbuild commented on #24992
The upload has started for slc7_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1189/console

[2018-10-25 12:14] cmsbuild commented on #24992
The upload has started for slc6_amd64_gcc630 in cmsbuild59.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1188/console

[2018-10-25 12:14] cmsbuild commented on #24992
The upload has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1190/console

[2018-10-25 12:14] cmsbuild commented on #24992
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_11_patch1-slc7_amd64_gcc630/1189
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-10-25 12:14] cmsbuild commented on #24992
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-10-25 12:15] cmsbuild commented on #24992
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_11_patch1-slc6_amd64_gcc630/1188
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-10-25 12:15] cmsbuild commented on #24992
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-10-25 12:15] cmsbuild commented on #24992
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_11_patch1-slc7_amd64_gcc700/1190
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-10-25 12:15] cmsbuild commented on #24992
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-10-25 16:08] fabiocos commented on #24990
abort

[2018-10-25 16:08] cmsbuild commented on #24990
Deleting CMSSW_10_3_0_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_10_3_0_patch1 successfully deleted.

 -cmsdist tag REL/CMSSW_10_3_0_patch1/slc6_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_3_0_patch1/slc7_amd64_gcc700 successfully deleted.

You must create a new issue to start over the build.

[2018-10-25 16:08] fabiocos commented on #24990
Abort

it turns out that more stuff is needed for the purpose of this patch

[2018-10-25 21:19] zhenhu commented on #24587
Two pull requests #25005 and #25006 (backport) created with new workflows 140.56 and 140.57.
Local tests successful.

[2018-10-25 23:02] zhenhu commented on #24968
TenTau noPU and PU workflows failed again in 10_3_0 :

- noPU: https://cms-unified.web.cern.ch/cms-unified/report/asikdar_RVCMSSW_10_3_0TenTau_15_500_181021_001128_4828#CODES
- PU: https://cms-unified.web.cern.ch/cms-unified/report/asikdar_RVCMSSW_10_3_0TenTau_15_500_PU25ns__181022_175113_4680#NanoFull_2018PU:139

Links to the full job logs:

- noPU: https://cms-unified.web.cern.ch/cms-unified//jo

[2018-10-26 00:37] pmaksim1 commented on #19805
@slava77 @VinInn @tsusa @perotta
Coming back to this... The error message comes from somebody trying to set probabilityQ() which is garbage.  So, I need to look at the stack trace -- I'd like to run the whole job in gdb and see who calls this with the offending value and why.  (Namely, the problem is upstream of this function -- don't shoot the messenger...)

So can I simply run workflow 136.731 i

[2018-10-26 05:29] slava77 commented on #24981
it looks like the other problem is a broken express config
see https://github.com/cms-sw/cmssw/pull/25004#issuecomment-433205200

[2018-10-26 09:36] Dr15Jones commented on #24968
This crash is happening in `GenHFHadronMatcher`. The traceback is

[code]

[2018-10-26 09:39] Dr15Jones commented on #24968
assign analysis
The crash is in PhysicsTools/JetMCAlgos which is under analysis

[2018-10-26 09:39] cmsbuild commented on #24968
New categories assigned: analysis

@arizzi,@monttj,@gpetruc you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-10-26 09:53] fabiocos opened #25014 "Build CMSSW_10_3_0_patch1"

[2018-10-26 09:54] cmsbuild commented on #25014
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-10-26 09:54] fabiocos commented on #25014
+1

[2018-10-26 09:54] cmsbuild commented on #25014
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2018-10-26 09:54] cmsbuild commented on #25014
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-10-26 09:56] cmsbuild commented on #25014
The build has started for slc6_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1825/console
CMSDIST Branch: [REL/CMSSW_10_3_0/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_0/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-10-26 09:56] cmsbuild commented on #25014
The build has started for slc7_amd64_gcc700 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1826/console
CMSDIST Branch: [REL/CMSSW_10_3_0/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_0/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-10-26 10:04] Dr15Jones commented on #24968
@zhenhu sorry for replicating the information you had in the original comment. I should have looked farther up the web page :).

[2018-10-26 10:04] schneiml commented on #24924
Fixed in #24955.

[2018-10-26 10:04] #24924 closed

[2018-10-26 10:33] cmsbuild commented on #25014
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_patch1-slc7_amd64_gcc700/1826
Some t

[2018-10-26 10:33] cmsbuild commented on #25014
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_patch1-slc6_amd64_gcc700/1825
Some t

[2018-10-26 12:29] cmsbuild commented on #25014
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_0_patch1-slc7_amd64_gcc700/1826

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-10-26 12:31] fabiocos commented on #25014
upload all

[2018-10-26 12:32] cmsbuild commented on #25014
Queing Jenkins upload for slc6_amd64_gcc700

[2018-10-26 12:32] cmsbuild commented on #25014
Queing Jenkins upload for slc7_amd64_gcc700

[2018-10-26 12:34] cmsbuild commented on #25014
The upload has started for slc6_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1191/console

[2018-10-26 12:34] cmsbuild commented on #25014
The upload has started for slc7_amd64_gcc700 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1192/console

[2018-10-26 12:35] cmsbuild commented on #25014
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_0_patch1-slc6_amd64_gcc700/1191
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-10-26 12:35] cmsbuild commented on #25014
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-10-26 12:36] cmsbuild commented on #25014
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_0_patch1-slc7_amd64_gcc700/1192
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-10-26 12:36] cmsbuild commented on #25014
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-10-26 12:47] fabiocos commented on #25014
release-notes

[2018-10-26 12:48] cmsbuild commented on #25014
Generating release notes since CMSSW_10_3_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-10-26 12:48] cmsbuild commented on #25014
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_3_0_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_0_patch1

Cheers,
cms-bot

You can also click <a href

[2018-10-26 12:49] cmsbuild commented on #25014
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_0_patch1

[2018-10-26 13:45] Dr15Jones commented on #24968
I ran the job in the debugger and found the error.

https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/PhysicsTools/JetMCAlgos/plugins/GenHFHadronMatcher.cc#L318

The new value for `leptonMother` is `nullptr` which is then passed to

https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/PhysicsTools/JetMCAlgos/plugins/GenHFHadronMatcher.cc#L321

w

[2018-10-26 13:54] Dr15Jones commented on #24968
I found that changing
[code]

to
[code]
allows the job to run to completion. However, it may not be giving the proper physics results since the GenParticle list being used is incomplete.

[2018-10-26 14:49] prebello commented on #24968
Hi @fabiocos  @arizzi @montt @gpetruc
there is MC production campaign for NanoAOD and PdmV needs a feedback about this issue to enable it. We would appreciate a lot your help on it.

Thank you
FYI @zhenhu  @Paolo Gunnelini

[2018-10-26 15:05] Dr15Jones commented on #24968
I have a workaround in #25025 although this does not address the physics' implications.

[2018-10-27 10:30] qliphy commented on #24436
@fabferro   We have done several tests.
In short,  reset environment to 8X make it work;  changing to 26X gridpack  also works well.

ssh qili@lxplus7.cern.ch
export SCRAM_ARCH=slc7_amd64_gcc700
cmsrel CMSSW_10_3_X_2018-10-26-1200
cd CMSSW_10_3_X_2018-10-26-1200/src
cmsenv
git cms-addpkg  Configuration/Generator
git cms-addpkg  Configuration/PyReleaseValidation
scram b -j4

(1) runTheMatrix.py -l

[2018-10-27 10:38] cmsbuild commented on #24992
The cleanup has started for slc6_amd64_gcc630

[2018-10-27 10:38] cmsbuild commented on #24992
The cleanup has started for slc7_amd64_gcc630

[2018-10-27 10:38] cmsbuild commented on #24992
The cleanup has started for slc7_amd64_gcc700

[2018-10-27 10:38] #24992 closed

[2018-10-27 10:43] cmsbuild commented on #24992
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_11_patch1-slc6_amd64_gcc630/1171

[2018-10-27 10:43] cmsbuild commented on #24992
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_11_patch1-slc7_amd64_gcc630/1172

[2018-10-27 10:43] cmsbuild commented on #24992
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_11_patch1-slc7_amd64_gcc700/1173

[2018-10-27 12:40] fabferro commented on #24436
@qliphy I assume the previous comment wa addressed to @fabiocos . Cheers.

[2018-10-27 13:30] binka04 commented on #13201
Hii, davidlange6,
Has the problem been fixed ? , I am using CMSSW_8_1_0_pre9, slc6_amd64_gcc530. I am seeing such kind of error message while running a python script in cmslpc account.
The python script import the following.
from os import environ
from ROOT import *
from math import sqrt
gROOT.ProcessLine(".L ~/tdrstyle.C")
gROOT.ProcessLine("setTDRStyle()")
from optparse import OptionParser

The

[2018-10-27 23:42] qliphy commented on #24436
@fabferro  Thanks for pointing out this.  Sorry for the disturbing.

[2018-10-28 11:53] cmsbuild commented on #25014
The cleanup has started for slc6_amd64_gcc700

[2018-10-28 11:53] cmsbuild commented on #25014
The cleanup has started for slc7_amd64_gcc700

[2018-10-28 11:53] #25014 closed

[2018-10-28 11:55] fabiocos opened #25031 "Build CMSSW_10_4_0_pre1"

[2018-10-28 11:55] cmsbuild commented on #25031
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-10-28 11:56] fabiocos commented on #25031
+1

[2018-10-28 11:56] cmsbuild commented on #25031
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-10-28 11:56] cmsbuild commented on #25031
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2018-10-28 11:57] cmsbuild commented on #25031
The build has started for slc6_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1827/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-DEVEL](https://github.com/cms-sw/pkgtools/commits/V00-32-DEVEL)

[2018-10-28 11:57] cmsbuild commented on #25031
The build has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1828/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-DEVEL](https://github.com/cms-sw/pkgtools/commits/V00-32-DEVEL)

[2018-10-28 11:57] cmsbuild commented on #25031
The build has started for slc7_amd64_gcc820 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1829/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-DEVEL](https://github.com/cms-sw/pkgtools/commits/V00-32-DEVEL)

[2018-10-28 12:00] cmsbuild commented on #25014
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_patch1-slc6_amd64_gcc700/1176

[2018-10-28 12:02] cmsbuild commented on #25031
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-014.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1830/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-DEVEL](https://github.com/cms-sw/pkgtools/commits/V00-32-DEVEL)

[2018-10-28 12:06] cmsbuild commented on #25014
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_0_patch1-slc7_amd64_gcc700/1177

[2018-10-28 15:54] cmsbuild commented on #25031
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre1-slc7_amd64_gcc820/1829

[2018-10-28 18:17] cmsbuild commented on #25031
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre1-slc7_amd64_gcc700/1828
Some tes

[2018-10-28 20:03] cmsbuild commented on #25031
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre1-slc7_amd64_gcc700/1828

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-10-29 06:04] cmsbuild commented on #25031
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre1-slc7_aarch64_gcc700/1830

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-10-29 09:14] cmsbuild commented on #25031
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre1-slc6_amd64_gcc700/1827

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-10-29 09:22] fabiocos commented on #25031
upload all

[2018-10-29 09:28] cmsbuild commented on #25031
The was error uploading slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre1-slc7_aarch64_gcc700/1194

[2018-10-29 09:33] cmsbuild commented on #25031
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre1-slc6_amd64_gcc700/1193
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-10-29 09:33] cmsbuild commented on #25031
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-10-29 12:02] fabiocos commented on #25031
release-notes

[2018-10-29 12:03] cmsbuild commented on #25031
Unable to find previous release for CMSSW_10_4_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2018-10-29 12:06] fabiocos commented on #25031
release-notes since CMSSW_10_3_0_pre6

[2018-10-29 12:06] cmsbuild commented on #25031
Generating release notes since CMSSW_10_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-10-29 12:06] cmsbuild commented on #25031
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_4_0_pre1 is now available for the following architectures:

slc6_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_3_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_pre1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnn

[2018-10-29 12:07] cmsbuild commented on #25031
Generating release notes since CMSSW_10_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-10-29 12:07] cmsbuild commented on #25031
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_4_0_pre1 is now available for the following architectures:

slc6_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_3_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_pre1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnn

[2018-10-29 12:10] cmsbuild commented on #25031
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre1

[2018-10-29 12:41] fabiocos commented on #24587
@slava77 I think that #25005 is addressing this issue and to some extent #24619

[2018-10-29 12:44] fabiocos commented on #24981
@slava77 the merge of #25011 should have fixed it

[2018-10-29 13:17] fabiocos commented on #25031
@smuzaffar it looks like there is an issue with the slc7 updload, as far as I can see in the Jenkins dashboard, and indeed it is not yet seen in cvmfs. Any idea of what is going on? cms-bot still shows "uploading" as status

[2018-10-29 14:09] smuzaffar commented on #25031
@gudrutis , can you please check

[2018-10-29 14:13] cmsbuild commented on #25031
The upload has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1196/console

[2018-10-29 14:21] fabiocos commented on #24436
@qliphy as far as I understand the move to madgraph 26X + sl7 is the plan for next future. For the time being, until the library of new gridpacks is ready, I think we should update the configuration to use the existing ones with the environment from 8YX. Unless you have already new gridpacks available for test workflows...

[2018-10-29 14:53] gudrutis commented on #25031
 @fabiocos , the upload part of [this](https://cmssdt.cern.ch/jenkins/job/upload-release/1195/) was actually successful, it's just that cms-bot has failed to comment back due to Github token expiring
 on AFS which failed the job.

We manually run remaining downstream jobs. After some time cvmfs cron jobs ( which are not on our control) will pick up the changes and install it.

[2018-10-29 14:55] fabiocos commented on #25031
@gudrutis thank you for the clarification. I'll keep an eye on this and send out an updated in hn when ready

[2018-10-29 15:20] cmsbuild commented on #25031
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre1-slc7_amd64_gcc700/1195
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-10-29 16:33] fabiocos opened #25040 "Features needed for CMSSW_10_3_1 for initial HI data taking"
I would like to collect in this issue the list of URGENT features that are needed in order to deploy the forthcoming CMSSW_10_3_1 in production for data taking. The target for such a release is after the ORP of 2018/10/30

Status on 2018/11/1 10:00

as discussed at ORP of 10/30 https://docs.google.com/spreadsheets/d/1TJWAJEXhXcnhw2WTyECGukf6bD7kixV1yB7Cets5mHc/edit#gid=733750101 the following PRs

[2018-10-29 16:33] cmsbuild commented on #25040
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-10-30 10:56] #24935 closed

[2018-10-30 16:14] slava77 commented on #25040
@icali @mandrenguyen
in case you haven't seen this already

[2018-10-30 16:19] smuzaffar opened #25057 "FWCore/Integration: Duplicate geneabted CFI files"
@Dr15Jones , we have duplicate generated cfi files[a]. With new build rules this will generate a build error.

[a]
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/FWCore/Integration/test/OtherThingAnalyzer.cc#L310

https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/FWCore/Integration/test/ThingWithMergeProducer.cc#L191

[2018-10-30 16:20] smuzaffar commented on #25057
assign core

[2018-10-30 16:20] cmsbuild commented on #25057
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-10-30 16:20] cmsbuild commented on #25057
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-10-30 16:40] Dr15Jones commented on #25057
@wddgit could you fix this?

[2018-10-30 16:46] wddgit commented on #25057
Yes. I will take a look now.

[2018-10-30 18:10] wddgit commented on #25057
PR #25060 should fix this and this issue can be closed.

[2018-10-30 21:45] cvuosalo opened #25062 "Geometry: Revise DetId classes to inherit common members"
DetId classes like ​HFNoseDetId from DataFormats/​ForwardDetId/​interface/​HFNoseDetId.h and HGCSiliconDetId from ​DataFormats/​ForwardDetId/​interface/​HGCSiliconDetId.h have several methods with identical declarations. These methods should be put into a base class (possibly virtual) that these classes would then be derived from. This change would implement basic object-oriented design: a base cl

[2018-10-30 21:45] cmsbuild commented on #25062
A new Issue was created by  @cvuosalo Carl Vuosalo.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-10-31 09:01] fabiocos commented on #25040
@slava77 thank you, I have updated the list accordingly (se above)

[2018-10-31 11:08] cmsbuild commented on #25031
The cleanup has started for slc7_amd64_gcc700

[2018-10-31 11:08] cmsbuild commented on #25031
The cleanup has started for slc7_amd64_gcc820

[2018-10-31 11:08] cmsbuild commented on #25031
The cleanup has started for slc6_amd64_gcc700

[2018-10-31 11:08] #25031 closed

[2018-10-31 11:18] covarell commented on #24436
Hello, sorry for coming in the discussion so late, but just asking.
Apart from release validation issues, where certainly some non-updated gridpacks are there; are we really interested in maintaining support for CMSSW7 and 8 gridpacks in SL7? Already in Fall17 MC production all gridpacks were re-made to comply with new PDF prescriptions, and so they are (at least) made in CMSSW 9, which is availab

[2018-10-31 11:20] cmsbuild commented on #25031
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre1-slc6_amd64_gcc700/1178

[2018-10-31 11:23] cmsbuild commented on #25031
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre1-slc7_amd64_gcc820/1180

[2018-10-31 12:01] qliphy commented on #24436
@covarell   Fall17 MG gridpacks were not made in CMSSW9.  You can check from the master branch of genproductions, e.g. : https://github.com/cms-sw/genproductions/blob/master/bin/MadGraph5_aMCatNLO/gridpack_generation.sh#L49

I did a test with work flow 562 which exploits the 242 Fall17 gridpack, and it fails with the same reason under sl7.

[2018-10-31 12:02] qliphy commented on #24436
@fabiocos  "I think we should update the configuration to use the existing ones with the environment from 8YX"
Yes, we discussed within GEN and will make a PR shortly following your this suggestion.

[2018-10-31 16:49] fabiocos commented on #25040
@slava77 @tommasoboccali @davidlange6 based on the discussion https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2055/1/3/1/1/1/1/1/1/1/1/1/2/1/1/1/1.html
I will keep for the time being #25066 / #25067 in stand-by, and will not merge them for 10_3_1

[2018-10-31 17:10] VinInn commented on #25062
DetId is an int. Do not make it abstract by any mean

[2018-10-31 17:19] VinInn commented on #24309
cool!
the test is supposed to test
[code]
that changed signature in the mean time (topology added)
NOT
[code]

[2018-10-31 17:42] VinInn commented on #23522
what "boost" had to do with all that?

[2018-10-31 17:43] VinInn commented on #23633
My only solution would be to combine the two headers in one.

[2018-10-31 17:44] VinInn commented on #23715
closed, isn't it?

[2018-10-31 17:49] VinInn commented on #23401
in 10_4 is 'ipaddress'  that is missing instead
[code]

[2018-10-31 18:28] Dr15Jones commented on #23522
@VinInn looking back through my notes from that time, I found a boost spirit change that affected the geometry. I'm guessing my comment from June 15th was from the boost spirit discovery.

[2018-10-31 18:34] Dr15Jones commented on #23522
This seems connected to #23612

[2018-10-31 18:36] Dr15Jones commented on #23522
Or possibly it was #23602

[2018-10-31 18:36] Dr15Jones commented on #23522
+1

[2018-10-31 18:36] davidlange6 commented on #23401
argh - fixed this once - apparently I didn't commit it. Will look into this again - thanks for reporting

[2018-10-31 18:36] cmsbuild commented on #23522
This issue is fully signed and ready to be closed.

[2018-10-31 18:36] Dr15Jones commented on #23522
This was a knock-on failure from changing boost that affected code upstream.

[2018-10-31 18:36] #23522 closed

[2018-10-31 20:12] cvuosalo opened #25078 "Clean up magic numbers in Geometry/HGCalGeometry and Geometry/HGCalCommonData"
HGCal geometry code contains magic numbers that should be replaced with constants. Some examples are:

Geometry/HGCalGeometry/src/HGCalGeometry.cc line 387
 float dy = 0.5*(rr.second+rr.first)*m_cellVec2[cellIndex].param()[11];

and Geometry/HGCalCommonData/src/HGCalGeomParameters.cc line 1029
 int  corners[6];

[2018-10-31 20:13] cmsbuild commented on #25078
A new Issue was created by  @cvuosalo Carl Vuosalo.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-10-31 21:10] cvuosalo commented on #25062
@VinInn: I am not suggesting any change in functionality or the external interface. I am just suggesting that duplicated code be eliminated by employing object-oriented inheritance, that is, classes with identical methods should inherit those methods from a base class.

[2018-11-01 09:03] fabiocos commented on #25040
@boudoul Based on the current situation of the integration, I will move forward with the build in parallel of the latest IB. Possible DQM additions will come in a second moment.

[2018-11-01 09:05] fabiocos opened #25081 "Build CMSSW_10_3_1"

[2018-11-01 09:05] cmsbuild commented on #25081
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-01 09:06] cmsbuild commented on #25081
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-11-01 09:08] cmsbuild commented on #25081
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1831/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-01 09:08] cmsbuild commented on #25081
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1832/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-01 09:13] VinInn commented on #25062
I understood you were praising for introducing a virtual base class...

[2018-11-01 09:30] cmsbuild commented on #25081
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1-slc6_amd64_gcc700/1831

[2018-11-01 09:32] cmsbuild commented on #25081
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1-slc7_amd64_gcc700/1832

[2018-11-01 09:39] fabiocos commented on #25081
+1

[2018-11-01 09:39] cmsbuild commented on #25081
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2018-11-01 09:39] cmsbuild commented on #25081
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-01 09:40] cmsbuild commented on #25081
The build has started for slc6_amd64_gcc700 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1833/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-01 09:40] cmsbuild commented on #25081
The build has started for slc7_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1834/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-01 09:53] boudoul commented on #25040
Absolutely, thanks @fabiocos !

[2018-11-01 14:02] cmsbuild commented on #25081
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1-slc7_amd64_gcc700/1834
Some tests (

[2018-11-01 14:17] kpedro88 commented on #25062
I think the suggestion is to insert a class like `HGCalBaseDetId` in between `DetID` and `HFNoseDetId`, `HGCSiliconDetId`. However, since the masks and offsets used in the member functions are specific to each class, it is not clear to me that we would actually reduce code duplication with such a change.

[2018-11-01 14:46] VinInn commented on #25062
and of course you all know what is the first effect of adding ```virtual``` to a DetId

[2018-11-01 15:50] fabiocos commented on #25078
assign geometry,upgrade

[2018-11-01 15:50] cmsbuild commented on #25078
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-01 16:00] cmsbuild commented on #25081
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1-slc7_amd64_gcc700/1834

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-01 18:07] gartung opened #25090 "Modules prohibiting concurrent lumis in RelVal workflows"
I took the expanded python output from all of the gen-sim step of runTheMatrix jobs. From that I got a list of module names. Attached in the list of modules and their base class. There are two legacy modules, one EDAnalyzer and one EDFilter.
EDAnalyzer MEtoMEComparitor
EDFilter CosmicGenFilterHelix

[gen-sim-modules.txt](https://github.com/cms-sw/cmssw/files/2539527/gen-sim-modules.txt)

[2018-11-01 18:07] cmsbuild commented on #25090
A new Issue was created by  @gartung Patrick Gartung.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-01 19:00] kpedro88 commented on #24452
loginfo and RTTI items addressed by #25063

others remain to be addressed later

[2018-11-01 20:02] Dr15Jones commented on #25090
See #25093

[2018-11-01 21:10] fabiocos commented on #25081
upload all

[2018-11-01 21:10] cmsbuild commented on #25081
Queing Jenkins upload for slc6_amd64_gcc700

[2018-11-01 21:10] cmsbuild commented on #25081
Queing Jenkins upload for slc7_amd64_gcc700

[2018-11-01 21:12] #25040 closed

[2018-11-01 21:13] cmsbuild commented on #25081
The upload has started for slc6_amd64_gcc700 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1197/console

[2018-11-01 21:13] cmsbuild commented on #25081
The upload has started for slc7_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1198/console

[2018-11-01 21:14] cmsbuild commented on #25081
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_1-slc7_amd64_gcc700/1198
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-01 21:14] cmsbuild commented on #25081
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-01 21:18] cmsbuild commented on #25081
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_1-slc6_amd64_gcc700/1197
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-01 21:18] cmsbuild commented on #25081
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-01 21:19] fabiocos commented on #25081
release-notes

[2018-11-01 21:19] cmsbuild commented on #25081
Generating release notes since CMSSW_10_3_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-01 21:19] cmsbuild commented on #25081
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_3_1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_1

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2018-11-01 21:20] cmsbuild commented on #25081
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_1

[2018-11-01 21:59] cvuosalo commented on #25062
@VinInn: In case this issue gets assigned to a novice developer, it would be helpful to explicitly explain any pitfalls that might be involved when changing the current design of the DetId classes. I'm not sure what potential problems you are alluding to, but I was not contemplating employing multiple inheritance or virtual base classes.

[2018-11-01 22:32] kpedro88 commented on #25062
What specific advantage do you think we gain from polymorphism in this case? It is a tool for designing/writing code, to reduce code duplication and enforce interface consistency; it doesn't improve performance. There is relatively little code duplication here, and interface consistency does not seem of paramount importance for a set of classes that consist of only encoder/decoder functions for bi

[2018-11-02 01:48] Dr15Jones commented on #25062
I agree with Kevin.

[2018-11-02 07:54] VinInn commented on #25062
An exercise for the novice developers:
print sizeof  of
```struct DetID{int i;};``` and ```struct DetID{virtual ~DetID(){} int i;};```
explain the result.

[2018-11-02 08:37] fabiocos opened #25097 "Build CMSSW_9_4_11"

[2018-11-02 08:38] cmsbuild commented on #25097
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-02 08:38] fabiocos commented on #25097
+1

[2018-11-02 08:39] cmsbuild commented on #25097
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-11-02 08:39] cmsbuild commented on #25097
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-02 09:00] cmsbuild commented on #25097
The build has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1835/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-02 09:03] cmsbuild commented on #25097
The build has started for slc7_amd64_gcc630 in cmsbuild96.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1836/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-02 09:08] fabiocos commented on #24436
@qliphy thanks, I think that as soon as you have the new gridpacks the validation should be moved to those. But I would prefer to avoid having a systematically non-functional set of tests, if they can be easily fixed already now.

[2018-11-02 11:33] cmsbuild commented on #25097
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_11-slc6_amd64_gcc630/1835
Some tests (

[2018-11-02 12:37] cmsbuild commented on #25097
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_11-slc7_amd64_gcc630/1836
Some tests (

[2018-11-02 12:40] cmsbuild commented on #25097
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_11-slc6_amd64_gcc630/1835

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-11-02 13:50] cmsbuild commented on #25097
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_11-slc7_amd64_gcc630/1836

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-11-02 13:51] fabiocos commented on #25097
upload all

[2018-11-02 13:52] cmsbuild commented on #25097
Queing Jenkins upload for slc6_amd64_gcc630

[2018-11-02 13:52] cmsbuild commented on #25097
Queing Jenkins upload for slc7_amd64_gcc630

[2018-11-02 13:52] cmsbuild commented on #25097
The upload has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1199/console

[2018-11-02 13:52] cmsbuild commented on #25097
The upload has started for slc7_amd64_gcc630 in cmsbuild96.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1200/console

[2018-11-02 13:54] cmsbuild commented on #25097
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_11-slc6_amd64_gcc630/1199
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-02 13:54] cmsbuild commented on #25097
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-02 13:57] cmsbuild commented on #25097
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_11-slc7_amd64_gcc630/1200
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-02 13:57] cmsbuild commented on #25097
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-02 13:57] fabiocos commented on #25097
release-notes since CMSSW_9_4_10

[2018-11-02 13:58] cmsbuild commented on #25097
Generating release notes since CMSSW_9_4_10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-02 13:58] cmsbuild commented on #25097
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_11 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_11

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-11-02 14:00] fabiocos opened #25104 "Fix the fastsim relvals in 9_4_X"
There are several fastsim relval workflows failing in 9_4_X because  the format has changed, and the input files need to be redefined in PyreleaseValidation. Now that the validation is ongoing @prebello @zhenhu could you please fix the input files used?

[2018-11-02 14:01] cmsbuild commented on #25104
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-02 14:02] fabiocos commented on #25104
assign pdmv

[2018-11-02 14:02] cmsbuild commented on #25104
New categories assigned: pdmv

@prebello,@pgunnell,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-02 14:17] fabiocos commented on #25097
release-notes since CMSSW_9_4_11_cand2

[2018-11-02 14:17] cmsbuild commented on #25097
Generating release notes since CMSSW_9_4_11_cand2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-02 14:17] cmsbuild commented on #25097
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_11 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_11_cand2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_11

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2018-11-02 14:18] cmsbuild commented on #25097
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_11

[2018-11-02 14:20] fabiocos commented on #25097
release-notes since CMSSW_9_4_10

[2018-11-02 14:21] cmsbuild commented on #25097
Generating release notes since CMSSW_9_4_10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-02 14:21] cmsbuild commented on #25097
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_11 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_11

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-11-02 15:03] Dr15Jones opened #25106 "DQM Modules and LuminosityBlock MonitorElements"
The DQMEDAnalyzers were converted to `edm::one` modules which use the options `edm::one::WatchRuns` and `edm::one::WatchLuminosityBlocks` . These options cause the framework to then synchronize on those transition boundaries which severely affects the threading efficiency of the jobs in which they are run.

To make DQMEDAnalyzers thread efficient, I propose first dealing with the LuminosityBlock t

[2018-11-02 15:03] cmsbuild commented on #25106
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-02 15:03] Dr15Jones commented on #25106
assign dqm, core

[2018-11-02 15:03] cmsbuild commented on #25106
New categories assigned: dqm,core

@Dr15Jones,@smuzaffar,@jfernan2,@andrius-k,@schneiml,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-02 15:35] Dr15Jones commented on #25090
assign core

[2018-11-02 15:36] cmsbuild commented on #25090
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-02 19:35] cvuosalo commented on #25062
An implicit requirement is that any change must not cause any significant negative performance impact, either in time or memory usage. It sounds like this section of the code, being exercised millions of times per event, is too sensitive to allow for any virtual functions or polymorphism.

[2018-11-02 19:50] cvuosalo commented on #25062
This issue raises a bigger question about coding guidelines regarding use of polymorphism in CMSSW. Since we are using C++, should the default recommendation be that polymorphism should be employed where appropriate? Or should the policy be that we discourage use of polymorphism and virtual functions to avoid the performance cost except in those cases where use of polymorphism is strongly justifie

[2018-11-02 20:17] Dr15Jones commented on #25106
`ESIntegrityTask` in DQM/EcalPreshowerMonitorModule calls `DQMStore::softReset` and `DMQStore::disableSoftReset` based on if it wants some of the `MonitorElements` to be Lumi based or not (which is chosen by the configuration).

In the regime of concurrently LuminosityBlocks, what behavior should this module have?

[2018-11-02 20:51] Dr15Jones commented on #25106
`DQTask` in DQM/HcalCommon is a base class for many modules in DQM/HcalTasks. Some of these may be creating histograms, while others do not. This may require `DQTask` to become a template to handle any caching or lumi based histograms.

[2018-11-02 21:15] Dr15Jones commented on #25106
As an experiment, I changed `DQMEDAnalyzer` to just be `one::DQMEDAnalyzer<>` and this broke 71 modules.

[2018-11-02 21:32] Dr15Jones commented on #25106
See #25114 and #25115

[2018-11-03 20:29] cmsbuild commented on #25081
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1-slc6_amd64_gcc700/1183

[2018-11-03 20:33] cmsbuild commented on #25081
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1-slc7_amd64_gcc700/1182

[2018-11-03 20:33] cmsbuild commented on #25081
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1-slc6_amd64_gcc700/1181

[2018-11-04 13:29] cmsbuild commented on #25097
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_11-slc7_amd64_gcc630/1185

[2018-11-05 16:59] gartung commented on #25090
Legacy modules in the ALCA workflows

AlCaDiJetsProducer
AlCaECALRecHitReducer
AlCaEcalHcalReadoutsProducer
AlCaElectronTracksReducer
AlCaGammaJetProducer
AlCaHOCalibProducer
AlignmentMuonSelectorModule
BSCTrigger
CAHitTripletEDProducer
CSCTFCandidateProducer
CSCTFTrackProducer
CentralityProducer
CorrectedPFMETProducer
DQMHistNormalizer
DQMPFCandidateAnalyzer
DTCalibMuonSelection
DetStatus
EcalBar

[2018-11-05 17:00] gartung commented on #25090
Legacy modules in DIGI2RAW workflows

BSCTrigger
CAHitTripletEDProducer
CSCTFCandidateProducer
CSCTFTrackProducer
CastorDigiToRaw
CentralityProducer
CorrectedPFMETProducer
DQMHistNormalizer
EcalBarrelSimHitsValidation
EcalEndcapSimHitsValidation
EcalPreshowerSimHitsValidation
EcalSimHitsValidation
EleIdCutBasedExtProducer
EventContentAnalyzer
GctDigiToRaw
GenHIEventProducer
HLT1PFMET
HLTDisplacedm

[2018-11-05 17:01] gartung commented on #25090
Legacy modules in RECO+DQM workflows

BSCTrigger
CAHitTripletEDProducer
CSCTFCandidateProducer
CSCTFTrackProducer
CentralityProducer
CorrectedPFMETProducer
DQMHistNormalizer
DQMPFCandidateAnalyzer
EcalBarrelSimHitsValidation
EcalEndcapSimHitsValidation
EcalPreshowerSimHitsValidation
EcalSimHitsValidation
EleIdCutBasedExtProducer
EventContentAnalyzer
EventWithHistoryProducerFromL1ABC
FilterOutScrap

[2018-11-05 17:02] gartung commented on #25090
Legacy modules in HARVESTING workflows

AlcaBeamMonitorClient
BSCTrigger
CSCTFCandidateProducer
CSCTFTrackProducer
ConversionPostprocessing
DQMDaqInfo
DQMDcsInfoClient
DQMFEDIntegrityClient
DQMHistNormalizer
DQMMessageLoggerClient
DQMOfflineHLTEventInfoClient
DQMReferenceHistogramRootFileEventSetupAnalyzer
ESDaqInfoTask
ESDataCertificationTask
ESDcsInfoTask
EgHLTOfflineSummaryClient
HLTBTagHarvest

[2018-11-05 17:12] Dr15Jones opened #25121 "Bad memory read in MPUnpacker_0x10010010 for WF 136.733"
The AddressSanitizer found a read outside the bounds of an array in MPUnpacker_0x10010010 for WF 136.733.

[2018-11-05 17:12] cmsbuild commented on #25121
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-05 17:12] Dr15Jones commented on #25121
assign l1

[2018-11-05 17:12] cmsbuild commented on #25121
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-05 17:14] Dr15Jones commented on #25121
I recompiled the code with the debug symbols and reran the AddressSantizer on the workflow. The infomration was
[code]

[2018-11-05 17:19] Dr15Jones commented on #25121
The line of code with the invalid read is
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/EventFilter/L1TRawToDigi/plugins/implementations_stage2/MPUnpacker_0x10010010.cc#L319

with the memory coming from
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/EventFilter/L1TRawToDigi/interface/Block.h#L51

where the constructor is called from
ht

[2018-11-05 17:51] gartung commented on #25090
@Dr15Jones these are correct now. 'grep -f legacy.modules.list' treated the module names as regex not exact match.

[2018-11-06 08:29] thomreis commented on #25121
Hi @bundocka
could you take a look at this please?

[2018-11-06 08:31] prebello commented on #25090
@gartung  may I kindly ask if you intend to change/update (or have changed) something in relvals outputs based on this issue? What is the purpose of it?
Thank you.

[2018-11-06 13:02] Dr15Jones commented on #25090
assign simulation, reconstruction, dqm

[2018-11-06 13:03] cmsbuild commented on #25090
New categories assigned: dqm,reconstruction,simulation

@mdhildreth,@jfernan2,@slava77,@andrius-k,@schneiml,@perrotta,@kmaeshima,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-06 13:08] Dr15Jones commented on #25090
@prebello I asked Patrick to gather the list of legacy modules. These modules are causing CPU efficiency problems, in particular they prohibit the framework from being able to processing multiple LuminosityBlocks concurrently.

It would be best if the different L2 areas could 'poke' the responsible persons to get the various modules changed to be `one`, `stream` or `global` modules.

With that in

[2018-11-06 21:36] fabiocos opened #25147 "Crash in premixing workflows in 10_4_X"
Crashes are reported form the validation of premixing for fastsim
https://hypernews.cern.ch/HyperNews/CMS/get/famos/701.html
within the simMuonCSCDigis module. They are reproducible in the most recent IBs (it crashes after some 180 events):

Begin processing the 182nd record. Run 1, Event 182, LumiSection 1 on stream 0 at 06-Nov-2018 22:05:26.737 CET
Begin processing the 183rd record. Run 1, Event

[2018-11-06 21:36] cmsbuild commented on #25147
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-06 21:49] fabiocos commented on #25147
assign fastsim

@makortel the muon input was touched in #24827

[2018-11-06 21:51] cmsbuild commented on #25147
New categories assigned: fastsim

@mdhildreth,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-06 21:52] makortel commented on #25147
I'll take a look.

[2018-11-06 21:55] ssekmen commented on #25147
Thank you @makortel .

[2018-11-06 22:37] makortel commented on #25147
And the bug is here on line 178
https://github.com/cms-sw/cmssw/blob/0c1b7739706ac9f8a66aa4e92af5e4fd0109441d/SimGeneral/PreMixingModule/python/mixOne_premix_on_sim_cfi.py#L177-L181

Here is a fix
https://github.com/cms-sw/cmssw/pull/25149

Note that to test the fix the configuration pointed in the HN message, it has to be applied on the `PSet.py` file by
[code]
(because the configuration change i

[2018-11-07 08:14] fabiocos opened #25150 "Build CMSSW_9_4_11_patch1"

[2018-11-07 08:16] cmsbuild commented on #25150
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-07 08:20] fabiocos commented on #25150
+1

[2018-11-07 08:52] cmsbuild commented on #25150
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_11_patch1-slc7_amd64_gcc630/1838
Some t

[2018-11-07 09:02] cmsbuild commented on #25150
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_11_patch1-slc6_amd64_gcc630/1837

[2018-11-07 09:13] fabiocos commented on #25150
@smuzaffar apparently a copy problem?

resulted in:
Cloning into '/build/cmsbld/auto-builds/CMSSW_9_4_11_patch1-slc6_amd64_gcc630/build/CMSSW_9_4_11_patch1-build/tmp/tmpxBfFyz/CMSSW_9_4_11/src'...
error: RPC failed; curl 18 transfer closed with outstanding read data remaining
fatal: The remote end hung up unexpectedly
Running scram project...
['scram', 'p', 'CMSSW', 'CMSSW_9_4_11']
WARNING: In non

[2018-11-07 09:57] cmsbuild commented on #25150
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_11_patch1-slc7_amd64_gcc630/1838

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-11-07 10:50] cmsbuild commented on #25150
The build has started for slc6_amd64_gcc630 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1839/console
CMSDIST Branch: [REL/CMSSW_9_4_11/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_11/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-07 10:50] smuzaffar commented on #25150
@fabiocos , yes github clone issue. I have restarted the build

[2018-11-07 14:32] Dr15Jones commented on #25106
See #25144 #25145 and #25146

[2018-11-07 14:32] fabiocos commented on #25150
release-notes

[2018-11-07 14:32] cmsbuild commented on #25150
Generating release notes since CMSSW_9_4_11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-07 14:32] cmsbuild commented on #25150
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_11_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_11_patch1

Cheers,
cms-bot

You can also click <a href

[2018-11-07 14:33] cmsbuild commented on #25150
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_11_patch1

[2018-11-07 14:53] dan131riley commented on #23715
Not really satisfactorily.  #24421 didn't fix the problem, it just went away.  We may still be referencing uninitialized MSLayersAtAngle values but some unrelated memory layout change made the crash go away.  However, since I don't have cycles to keep chasing this, I'll close this at least for now.

[2018-11-07 14:53] #23715 closed

[2018-11-07 21:13] #25147 closed

[2018-11-08 07:50] fabiocos commented on #25104
Fixed by #25123

[2018-11-08 07:50] #25104 closed

[2018-11-08 07:51] #24981 closed

[2018-11-08 07:53] fabiocos opened #25157 "Problem with conditions, crash in test wf 1010.0"
After the merge of #25131 a reproducible crash appears in the IB for wf 1010.0:

----- Begin Fatal Exception 08-Nov-2018 03:05:45 CET-----------------------
An exception of category 'NoRecord' occurred while
   [0] Processing global begin Run run: 299149
   [1] Calling method for module ECALpedestalPCLworker/'ALCARECOEcalPedestals'
Exception Message:
No "EcalPedestalsRcd" record found in the Event

[2018-11-08 07:53] cmsbuild commented on #25157
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-08 08:54] fabiocos commented on #25157
assign alca

@lpernie something appears to be incorrect in your latest PR we were discussing yesterday evening,
a problem with ECAL pedestals

[2018-11-08 08:56] cmsbuild commented on #25157
New categories assigned: alca

@lpernie,@franzoni,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-08 12:42] bundocka commented on #25121
I am a bit busy with HI stuff at the moment, but soon I will provide a PR that updates the unpackers such that the index is checked to be within the size of the block.
It is very bizarre that this problem has occurred however, since the firmware version is unpacked from the header and used to call the correct unpacker. In this case, for some reason, the extra frame that should be present in the re

[2018-11-08 16:14] Dr15Jones commented on #25106
See  #25161

[2018-11-08 17:07] lpernie commented on #25157
@fabiocos I will check today

[2018-11-08 18:55] fabiocos commented on #25157
@lpernie we need to have this fixed before closing 10_4_0_pre2, so I hope it can be managed quickly

[2018-11-08 18:59] lpernie commented on #25157
The problem is that the ECAL pedestal to be consumed by the Queue need to be RUN-based, while the new TAG is LS-based.

The most trivial fix would be to do not change the ECAL pedestal at all and use the one from Express since this Queue is not used in any MC production (need to check with ECAL if this would be acceptable).
Alternatively we can see if any modification to the consumption of the Tag

[2018-11-08 19:12] Dr15Jones commented on #25157
The `ECALpedestalPCLworker` is a DQMEDAnalyzer module which reads the conditions in the `bookHistograms` method. The DQM code calls `bookHistograms` at begin Run time, which is not something that can change.

https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/Calibration/EcalCalibAlgos/src/ECALpedestalPCLworker.cc#L152

[2018-11-09 13:38] cmsbuild commented on #25150
The cleanup has started for slc6_amd64_gcc630

[2018-11-09 13:38] cmsbuild commented on #25150
The cleanup has started for slc6_amd64_gcc630

[2018-11-09 13:38] cmsbuild commented on #25150
The cleanup has started for slc7_amd64_gcc630

[2018-11-09 13:38] #25150 closed

[2018-11-09 13:43] cmsbuild commented on #25150
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_11_patch1-slc7_amd64_gcc630/1186

[2018-11-09 15:42] fabiocos opened #25177 "L1T unpacker for HI pointing to incorrect input FEDRawDataCollection"
While performing checks on express for integration of latest additions I noticed lots of messages like:

%MSG-e L1T:  L1TRawToDigi:caloStage2Digis 09-Nov-2018 16:40:47 CET  Run: 326398 Event: 28488968
Cannot unpack: no FEDRawDataCollection found
%MSG-e L1T:  L1TRawToDigi:gtStage2Digis 09-Nov-2018 16:40:47 CET  Run: 326398 Event: 28488968
Cannot unpack: no FEDRawDataCollection found

[2018-11-09 15:43] fabiocos commented on #25177
assign l1

[2018-11-09 15:43] cmsbuild commented on #25177
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-09 15:43] fabiocos commented on #25177
@icali @mandrenguyen to keep track of the issue that I have told you directly
@rekovic this is the problem I have noticed

[2018-11-09 16:31] mguilbau commented on #25177
I have been facing a similar issue running the L1Ntuple framework on the new data. The reason was that the custumization:

--customise=FWCore/ParameterSet/MassReplace.massReplaceInputTag

Does not replace 'rawDataCollector' by 'rawDataRepacker' for all the L1T module. I am wondering if it is a similar issue here. Bellow the list of collection I had to fix by hand:

process.simTwinMuxDigis.RPC_Sour

[2018-11-09 17:12] schneiml commented on #25106
Hi Chris,

I am not that happy with your proposal since I had a bit different solution in mind. Though I only have an idea in mind and no working code for now, so I can't promise to much.

First, I'd like to switch `DQMEDAnalyzer` back to `edm::stream`. Since this migration was done in the past, it should be reasonably easy. But we have to do it soon, before to many modules rely on being `edm::one

[2018-11-09 17:42] fabiocos opened #25185 "Build CMSSW_10_3_1_patch1"

[2018-11-09 17:42] cmsbuild commented on #25185
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-09 17:42] fabiocos commented on #25185
+1

[2018-11-09 17:42] cmsbuild commented on #25185
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2018-11-09 17:42] cmsbuild commented on #25185
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-09 17:43] cmsbuild commented on #25185
The build has started for slc6_amd64_gcc700 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1840/console
CMSDIST Branch: [REL/CMSSW_10_3_1/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_1/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-09 17:44] cmsbuild commented on #25185
The build has started for slc7_amd64_gcc700 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1841/console
CMSDIST Branch: [REL/CMSSW_10_3_1/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_1/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-09 17:47] Dr15Jones commented on #25106
@schneiml Thanks for your for your detailed response. A few things are unclear to me, however.

I assume you still want to avoid the copy of each histogram per stream which was done previously when using `edm::stream` modules. So if you are planning on sharing the same underlying histograms between different instances of the same `edm::stream` module?

When processing concurrent LuminosityBlocks,

[2018-11-09 17:59] schneiml commented on #25106
@Dr15Jones yes, I do plan to have only a single backing copy and locks (or a thread-safe TH1, if that ever happens). For the cross-lumi case, I'd like the ME (which will be duplicated for each of the streams) to point to different backing objects, in the spirit of `LuminosityBlockCache`. Of course, that can be avoided for per-run histograms, but then the same thing applies for run boundaries.

So,

[2018-11-09 18:20] cmsbuild commented on #25185
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch1-slc7_amd64_gcc700/1841
Some t

[2018-11-09 18:53] slava77 commented on #24587
Looking at 104X IB 2018-11-07:
- 140.56
    - input from: /HIMinimumBias0/Tier0_REPLAY_vocms015-v214/RAW with run [325174]
    - step2 highlights: ```-s RAW2DIGI,L1Reco,RECO,ALCA:SiStripCalZeroBias+SiPixelCalZeroBias,SKIM:PbPbEMu+PbPbZEE+PbPbZMM,EI,DQM:@common+@standardDQM+@ExtraHLT  --era Run2_2018_pp_on_AA --eventcontent AOD,DQM```
- 140.57
    - input from: /HIMinimumBiasReducedFormat0/Tier0_RE

[2018-11-09 18:53] #24587 closed

[2018-11-09 19:20] Dr15Jones commented on #25106
See #25188

This was already to go this morning, so I decided to still push it to allow the system to do a more thorough testing.

[2018-11-09 19:44] Dr15Jones commented on #25106
So you are thinking about the MEs (which are member data of a given DQM module) holding a 'pointer to a pointer to a pointer to a THthing'? The ME's  'pointer to ...' would then point to a memory location held by the `edm::stream` instance (which is inheriting from stream::DQMEDAnalyzer). That memory location would then point to a piece of memory which holds the pointer of the THthing and the `std

[2018-11-09 19:51] fabiocos commented on #25185
upload all

[2018-11-09 19:51] cmsbuild commented on #25185
Queing Jenkins upload for slc6_amd64_gcc700

[2018-11-09 19:51] cmsbuild commented on #25185
Queing Jenkins upload for slc7_amd64_gcc700

[2018-11-09 19:52] cmsbuild commented on #25185
The upload has started for slc6_amd64_gcc700 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1203/console

[2018-11-09 19:52] cmsbuild commented on #25185
The upload has started for slc7_amd64_gcc700 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1204/console

[2018-11-09 19:53] cmsbuild commented on #25185
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_1_patch1-slc7_amd64_gcc700/1204
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-09 19:53] cmsbuild commented on #25185
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-09 19:53] cmsbuild commented on #25185
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_1_patch1-slc6_amd64_gcc700/1203
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-09 19:53] cmsbuild commented on #25185
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-09 19:53] fabiocos commented on #25185
release-notes

[2018-11-09 19:54] cmsbuild commented on #25185
Generating release notes since CMSSW_10_3_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-09 19:54] cmsbuild commented on #25185
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_3_1_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_1_patch1

Cheers,
cms-bot

You can also click <a href

[2018-11-09 19:56] cmsbuild commented on #25185
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_1_patch1

[2018-11-09 20:08] cmsbuild commented on #25185
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch1-slc7_amd64_gcc700/1841

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-10 15:16] fabiocos commented on #25157
#25164 addresses this issue

[2018-11-10 15:17] #25157 closed

[2018-11-11 09:43] fabiocos commented on #24619
@slava77 @icali @mandrenguyen I wonder whether it would make sense to replace the initial test input data for workflows 140.56 and 140.57 with the first collision data now that they arrive

[2018-11-11 10:00] mandrenguyen commented on #24619
@fabiocos Good call. I believe the following datasets would be a good choice:
 /HIHardProbes/HIRun2018A-v1/RAW
/HIMinimumBiasReducedFormat0/HIRun2018A-v1/RAW
It looks like for run 326383 all detectors were on for all LS.
I believe the policy is to remove the RAW from disk shortly after prompt reco is done.  Should we copy the relevant files to the CERN T2?

[2018-11-11 10:07] mandrenguyen commented on #24619
On closer inspection the tracker was off in 326383 after lumi 243, so the last 20 LS of the run.
So we should either add a lumi mask or consider another run.
Another possibility is 326479 which looks like a short run of 23 LS, where all detectors were on the whole time.

[2018-11-11 19:08] cmsbuild commented on #25185
The cleanup has started for slc6_amd64_gcc700

[2018-11-11 19:08] cmsbuild commented on #25185
The cleanup has started for slc7_amd64_gcc700

[2018-11-11 19:08] #25185 closed

[2018-11-11 19:13] Dr15Jones opened #25197 "Memory problem in fast sim TrajectorySeedProducer"
The address sanitizer buid CMSSW_10_4_ASAN_X_2018-11-09-2300 shows a problem in the 2017.8 workflow related to a 'use memory after free' from within TrajectorySeedProducer.

[2018-11-11 19:13] cmsbuild commented on #25197
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-11 19:13] Dr15Jones commented on #25197
assign simulation

[2018-11-11 19:13] cmsbuild commented on #25197
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-11 19:14] cmsbuild commented on #25185
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1_patch1-slc6_amd64_gcc700/1187

[2018-11-11 19:15] cmsbuild commented on #25185
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1_patch1-slc7_amd64_gcc700/1188

[2018-11-11 19:17] Dr15Jones commented on #25197
I checked out the relevant libraries and built them with debugging on. Rerunning the job in ASAN gave the following information
[code]

[2018-11-11 19:49] Dr15Jones commented on #25197
The problem is with ownership
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/FastSimulation/Tracking/src/SeedFinderSelector.cc#L260

`HitDoublets` looks like it makes a copy of `firsthm, secondhm` but it just holds onto the address
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/RecoTracker/TkHitPairs/interface/RecHitsSortedInPhi.h#L139

[2018-11-11 20:37] kpedro88 commented on #25197
assign fastsim

[2018-11-11 20:37] cmsbuild commented on #25197
New categories assigned: fastsim

@mdhildreth,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-12 02:23] Dr15Jones opened #25200 "Memory problem in CSCTriggerPrimitivesProducer"
The CMSSW_10_4_ASAN_X_2018-11-09-2300 release shows a 'read after delete' problem in CSCTriggerPrimitivesProducer. However, I think that it is a misclassification and instead it is proably a memory out of bounds problem.

[2018-11-12 02:31] Dr15Jones commented on #25200
The problem happens here
https://github.com/cms-sw/cmssw/blob/52e9fa5ee041ab5792d6a3861312bbb4981c2a1d/L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.h#L297
where `mymap` is a `std::vector`
https://github.com/cms-sw/cmssw/blob/52e9fa5ee041ab5792d6a3861312bbb4981c2a1d/L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeMotherboardLUT.h#L45
So I'm guessing the value of `clct.getKeyStrip()` is way out

[2018-11-12 02:31] Dr15Jones commented on #25200
assign l1

[2018-11-12 02:31] cmsbuild commented on #25200
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-12 04:04] kpedro88 commented on #25200
@dildick can you take a look

[2018-11-12 09:34] prebello commented on #24619
hi @mandrenguyen, for confirmation,  may we enable 140.56 and 140.57 wfs to use
/HIHardProbes/HIRun2018A-v1/RAW
/HIMinimumBiasReducedFormat0/HIRun2018A-v1/RAW, respectively,
in the run 326479 with LS [1,23] ?

[2018-11-12 09:48] mandrenguyen commented on #24619
Hi @prebello
Yes !

[2018-11-12 10:37] fabiocos opened #25203 "Build CMSSW_10_4_0_pre2"

[2018-11-12 10:37] cmsbuild commented on #25203
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-12 10:38] fabiocos commented on #25203
build cmssw-tool-conf

[2018-11-12 10:38] cmsbuild commented on #25203
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-11-12 10:39] cmsbuild commented on #25203
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1842/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-12 10:39] cmsbuild commented on #25203
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1843/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-12 10:40] cmsbuild commented on #25203
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1844/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-12 10:40] cmsbuild commented on #25203
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1845/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-12 10:50] schneiml commented on #25106
As far as I see, the modules usually hold pointers (bare pointers, sadly...) to the MEs, so we already have the required double indirection.

Otherwise, your proposal sounds roughly like what I was thinking about. Where to actually store the THthings does not matter much, can be in the `edm::stream` module or the `DQMStore`, as long as we track ownership correctly. What does matter is that some ce

[2018-11-12 14:36] cmsbuild commented on #25203
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc6_amd64_gcc700/1842

[2018-11-12 14:54] cmsbuild commented on #25203
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc700/1844

[2018-11-12 15:59] cmsbuild commented on #25203
There was an error building cmssw-tool-conf for slc7_amd64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc820/1845

[2018-11-12 16:10] dildick commented on #25200
@kpedro88 @Dr15Jones I'll look into it this week.

[2018-11-12 18:58] cmsbuild commented on #25203
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_aarch64_gcc700/1843

[2018-11-12 19:03] Dr15Jones opened #25211 "Clean up classes.h files"
As of ROOT 6, the classes.h files only need to include the needed headers. It is no longer necessary to reference a templated type in this file, it is only needed in the classes_def.xml.

Therefore, we should go through the classes.h files and remove the declarations of template types.

[2018-11-12 19:03] cmsbuild commented on #25211
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-12 19:03] Dr15Jones commented on #25211
assign core

[2018-11-12 19:03] cmsbuild commented on #25211
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-12 21:16] Dr15Jones commented on #25090
I made a small modification to the framework so that if concurrent LuminosityBlocks are configured for a job, the framework will print out a list of modules which require synchronization on LuminosityBlock boundaries. With that in place I used workflow 1.0 to find modules:

GEN+SIM:
[code]

DIGI:
[code]

RECO:
[code]

[2018-11-12 22:42] fabiocos commented on #25203
+1

[2018-11-12 22:42] cmsbuild commented on #25203
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-11-12 22:42] cmsbuild commented on #25203
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to

[2018-11-12 22:43] cmsbuild commented on #25203
The build has started for slc6_amd64_gcc700 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1846/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-12 22:43] cmsbuild commented on #25203
The build has started for slc7_amd64_gcc700 in cmsbuild91.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1847/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-12 22:44] cmsbuild commented on #25203
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1848/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-13 03:23] cmsbuild commented on #25203
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc700/1847
Some tes

[2018-11-13 05:17] cmsbuild commented on #25203
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc700/1847

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-13 05:46] cmsbuild commented on #25203
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_aarch64_gcc700/1848

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-13 07:08] cmsbuild commented on #25203
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc6_amd64_gcc700/1846
Some tes

[2018-11-13 09:06] cmsbuild commented on #25203
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc6_amd64_gcc700/1846

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-13 12:55] fabiocos commented on #25203
+1

DD4HEP has been reverted to prevent issues reported by @ianna

[2018-11-13 15:31] Dr15Jones commented on #25106
You do not want to use a lock with a long scope. Way to easy to get into deadlock situations. Instead you could use the same mechanism as `DQMStore::bookTransaction` uses to get access to the `IBooker`. So you would get rid of all the `getTH*` functions and replace them something like
[code]
Where iFunc is required to take as argument a `TH1F*` . Then inside `accessTH1F` you take the lock and when

[2018-11-13 15:43] Dr15Jones commented on #25090
If I use workflow 137.8 and run step3 which does
[code]
Then the following module types cause LuminosityBlock synchronization
[code]
(Note, I dropped showing the module labels because of the huge number of different instances of the same type. If I kept the module label list the list would have been 789 entries long.)

[2018-11-13 16:03] schneiml commented on #25106
Yep, that should work, though it is a bit more intrusive. Let's hope there is not many cases that need to use this...

[2018-11-13 16:05] Dr15Jones commented on #25090
I used the Tracer service to determine what parts of workflow 1.0 need MEtoEDMConverter and ConditionDumperInEdm. Turns out no module consumes the output of MEtoEDMConverter while the PoolOutputModule does get the data from ConditionDumperInEdm.

Even though no module wants data from MEtoEDMConverter, the framework is required to still call that module on Run and LuminosityBlock boundaries (since

[2018-11-13 16:15] fabiocos commented on #25203
abort

[2018-11-13 16:16] cmsbuild commented on #25203
Deleting CMSSW_10_4_0_pre2:

  -Release successfully deleted

  -cmssw tag CMSSW_10_4_0_pre2 successfully deleted.

 -cmsdist tag REL/CMSSW_10_4_0_pre2/slc6_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_4_0_pre2/slc7_amd64_gcc700 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_4_0_pre2/slc7_amd64_gcc820. Probaly it had not been created.

 -cmsdist tag REL/CM

[2018-11-13 16:42] #25203 closed

[2018-11-13 16:42] fabiocos opened #25219 "Build CMSSW_10_4_0_pre2"

[2018-11-13 16:44] cmsbuild commented on #25219
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-13 16:58] fabiocos commented on #25219
+1

[2018-11-13 16:58] cmsbuild commented on #25219
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2018-11-13 17:00] cmsbuild commented on #25219
The build has started for slc6_amd64_gcc700 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1850/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-13 17:00] cmsbuild commented on #25219
The build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1852/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-13 17:00] cmsbuild commented on #25219
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-013.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1849/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-13 21:09] cmsbuild commented on #25219
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc700/1851
Some tes

[2018-11-13 23:02] cmsbuild commented on #25219
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc700/1851

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-14 01:11] cmsbuild commented on #25219
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc6_amd64_gcc700/1850

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-14 01:50] cmsbuild commented on #25219
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_aarch64_gcc700/1849
Some

[2018-11-14 03:57] cmsbuild commented on #25219
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc820/1852
Some tes

[2018-11-14 05:33] fabiocos commented on #25219
upload all

[2018-11-14 05:34] cmsbuild commented on #25219
Queing Jenkins upload for slc6_amd64_gcc700

[2018-11-14 05:34] cmsbuild commented on #25219
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-11-14 05:34] cmsbuild commented on #25219
Queing Jenkins upload for slc7_amd64_gcc700

[2018-11-14 05:34] cmsbuild commented on #25219
Queing Jenkins upload for slc7_amd64_gcc820

[2018-11-14 05:34] cmsbuild commented on #25219
The upload has started for slc6_amd64_gcc700 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1205/console

[2018-11-14 05:35] cmsbuild commented on #25219
The upload has started for slc7_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1207/console

[2018-11-14 05:35] cmsbuild commented on #25219
The upload has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1208/console

[2018-11-14 05:36] cmsbuild commented on #25219
The was error uploading slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre2-slc7_aarch64_gcc700/1206

[2018-11-14 05:36] cmsbuild commented on #25219
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc700/1207
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-14 05:36] cmsbuild commented on #25219
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-14 05:38] cmsbuild commented on #25219
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc820/1208
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-14 05:38] cmsbuild commented on #25219
CERN AFS installation skipped for slc7_amd64_gcc820 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-14 05:43] cmsbuild commented on #25219
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre2-slc6_amd64_gcc700/1205
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-14 05:43] cmsbuild commented on #25219
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-14 05:45] fabiocos commented on #25219
release-notes

[2018-11-14 05:45] cmsbuild commented on #25219
Generating release notes since CMSSW_10_4_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-14 05:45] cmsbuild commented on #25219
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_4_0_pre2 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_4_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_pre2

Cheers,
cms-bot

You can also

[2018-11-14 05:47] cmsbuild commented on #25219
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre2

[2018-11-14 06:08] cmsbuild commented on #25219
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_amd64_gcc820/1852

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-14 06:34] cmsbuild commented on #25219
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre2-slc7_aarch64_gcc700/1849

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-14 08:14] fabiocos commented on #25219
@smuzaffar is it an impression of mine, or the upload is slow? Not yet there apparently

09:14 cmsdev15 3909> ls -lrt /cvmfs/cms.cern.ch/slc6_amd64_gcc700/cms/cmssw | tail -n 4
drwxr-xr-x. 19 cvmfs cvmfs 4096 Oct 19 09:54 CMSSW_10_2_6/
drwxr-xr-x. 19 cvmfs cvmfs 4096 Oct 19 14:53 CMSSW_10_3_0/
drwxr-xr-x. 19 cvmfs cvmfs 4096 Oct 29 11:08 CMSSW_10_4_0_pre1/
drwxr-xr-x. 19 cvmfs cvmfs 4096 Nov  1 23

[2018-11-14 08:18] smuzaffar commented on #25219
releases should still be install by @bockjoo cron tab.

[2018-11-14 09:54] schneiml commented on #25090
Slightly off topic, but sort of related: we should figure out which workflows use MEtoEDM/EDMtoME and for which reasons. The main consumer (to my knowledge) is Alca, but I am always surprised to hear how many WF load the module.

Your observation that it gets loaded but not really used seems very plausible to me.

[2018-11-14 11:01] fabiocos commented on #25177
#25193 looks to fix the issue

[2018-11-14 11:01] #25177 closed

[2018-11-14 11:02] fabiocos commented on #24850
@zhenhu @prebello this seems to have been forgotten. It does not make sense to have a test that is constantly crashing since one month, so either we fix it or we remove it, do you agree?

[2018-11-14 14:08] slava77 opened #25230 "reduce ML inference time in b-tag related jet taggers"
with #24918 included, b-tag-related ML inference is at around 20% of the miniAOD processing time

Here are the averages (excluding peak [initialization?] time) from 1K events in workflow 136.8311 running with this PR on top of 10_4_0_pre1
[code]

This issue is to keep track of the progress, aiming for a reduction.
The next BTV-related jet-tag update should not increase the total time.

@ferencek @

[2018-11-14 14:09] slava77 commented on #25230
assign reconstruction

[2018-11-14 14:09] cmsbuild commented on #25230
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-14 14:09] cmsbuild commented on #25230
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-14 15:11] Dr15Jones commented on #25090
The `PoolOutputModule` in the list of problematic modules was a false positive. I have now corrected the algorithm used to identify such modules.

[2018-11-14 15:22] kpedro88 commented on #25230
For miniAOD, one way to reduce the total time used by ML tagging algorithms is to run them only on the jets for which the results will actually be used/stored. This is relevant for AK8 jets, since the low-pt ones are not stored. My understanding is that DeepAK8 has an enforced pT cut in the tagger, while DeepDoubleB does not, but maybe this is out of date.

Tagging a few more people: @gouskos @rap

[2018-11-14 15:34] Dr15Jones commented on #25090
@schneiml using
[code]

I traced the inclusion of `MEtoEDMConverter` in the RECO sequence to
[code]
where the cmsDriver created configuration file contains the line
[code]

[2018-11-14 15:38] Dr15Jones commented on #25090
@schneiml there is already an open issue on this problem #23403

[2018-11-14 15:41] zhenhu commented on #24850
Hi @fabiocos ,
This issue will be automatically fixed after we reproduced the GEMSIM files next time. For now, we can simply hack this line as
[code]
Is this ok for you?

[2018-11-14 16:02] slava77 opened #25234 "non-reproducible/non-repeatable results in HGC sensitive material validation plots"
Here is an example from 27434.0 from
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_4_X_2018-11-13-1100+25132/29377/
(left is the baseline CMSSW_10_4_X_2018-11-13-1100 and right is with a PR 25132 containing unrelated changes)

<img width="760" alt="wf27434_hgcsensitive" src="https://user-images.githubusercontent.com/4676718/48494883-9a78ca80-e7e3-11e8-891b-d6bc4ec43442.

[2018-11-14 16:03] slava77 commented on #25234
assign upgrade

[2018-11-14 16:04] cmsbuild commented on #25234
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-14 16:04] cmsbuild commented on #25234
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-14 16:21] dildick commented on #25200
My colleague Tao ((@tahuang1991) may have a solution. https://github.com/tahuang1991/cmssw/commit/20194b66f73c0ab6661b88c89652f529a4c7308c. It seems the problem may be due to the fact that in recent pull requests we undid the decoupling of ME1a and ME1b in the CSC local trigger. In the Trigger & DAQ systems ME1a is seen as an extension of ME1b (and this will not change in the future). The ME1a hal

[2018-11-14 16:23] pgunnell opened #25235 "Error in production at the RECO step in 10_2_5"
We got an error in MC production which happens at the RECO step in a QCD sample.

Please help us on tagging the relevant people to solve this issue.

(https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_JME-RunIIAutumn18DRPremix-00006)

The error looks like the following:

Fatal Exception (Exit code: 8003)
An exception of category 'Unknown' occurred while
[0] Processing stream

[2018-11-14 16:24] cmsbuild commented on #25235
A new Issue was created by  @pgunnell .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-14 17:20] schneiml commented on #25090
Oh, that sounds like a fairly simple (and bad) situation. Thanks for digging out that old issue!

And `edmConfigTree` sounds like another very useful tool I have never heard about. Could be handy now and then.

[2018-11-14 18:31] rappoccio commented on #25230
That's a good point. The same preselection could be used, and only run this on the constituents of a preclustered sample with a pt cut on the jet.

[2018-11-14 19:30] slava77 commented on #25235
https://cms-unified.web.cern.ch/cms-unified/report/pdmvserv_task_JME-RunIIAutumn18DRPremix-00006__v1_T_181026_081834_1331#JME-RunIIAutumn18DRPremix-00006_1:8003

it seems like the 8003 error has no matching log, but a neighbor 8002 has a similar error messages indicating some filesystem problems at the compute node not able to read the software distribution files.
So, this seems unrelated to cmssw

[2018-11-14 19:38] zhenhu commented on #25235
It seems most of the jobs crashed with the 50660 error.
https://cms-unified.web.cern.ch/cms-unified/report/pdmvserv_task_JME-RunIIAutumn18DRPremix-00006__v1_T_181026_081834_1331#ERROR

[2018-11-14 20:01] Dr15Jones commented on #25235
It looks like 50660 is the code used when the job exceeds the memory bound? If I'm reading the error summaries on that page correctly, a 3 core job is required to stay within 2GB of RSS. That seems very restrictive.

[2018-11-14 23:07] kpedro88 commented on #25234
I am running valgrind to figure out the source of this.

[2018-11-15 09:09] davidlange6 commented on #25235
the log archives I see are jobs resized down to 1 core and 2GB, which is nominally "ok". But do we now really expect that the RSS of RECO jobs to be 2.3GB almost immediately?

i see a bunch of unneeded stuff in the event content (eg, simhits, digi sim links), so that is presumably part of the memory footprint. (maybe all of it..)  - I guess I don't understand what PREMIXRaw is supposed to be - a v

[2018-11-15 09:13] davidlange6 opened #25243 "Errors in RPCtoDTTranslator::run"
Hi

looking briefly at

https://cms-unified.web.cern.ch/cms-unified//joblogs/pdmvserv_task_JME-RunIIAutumn18DRPremix-00006__v1_T_181026_081834_1331/139/JME-RunIIAutumn18DRPremix-00006_0/49bc6499-61f9-4ecb-a98b-ffaa5510f2bb-89-0-logArchive/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log

its not obvious to me how all of the l1-1, l2-1 are protected against being <0 in:

https://cmssdt.cern.ch/lxr/source

[2018-11-15 09:13] cmsbuild commented on #25243
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-15 09:14] davidlange6 commented on #25243
assign l1

[2018-11-15 09:14] cmsbuild commented on #25243
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-15 09:22] fabiocos opened #25244 "Build CMSSW_8_0_32"

[2018-11-15 09:22] cmsbuild commented on #25244
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-15 09:22] fabiocos commented on #25244
+1

[2018-11-15 09:23] cmsbuild commented on #25244
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_32. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2018-11-15 09:23] cmsbuild commented on #25244
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-15 09:23] cmsbuild commented on #25244
The build has started for slc6_amd64_gcc530 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1853/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-15 11:30] fabiocos commented on #24850
@zhenhu I have tried a more general solution in #25245, please check that

[2018-11-15 12:03] cmsbuild commented on #25244
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_32-slc7_amd64_gcc530/1854
Some tests (

[2018-11-15 12:21] cmsbuild commented on #25244
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_32-slc7_amd64_gcc530/1854

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Thu Nov 15 13:04:08 2018-date Thu Nov 15 13:04:08 2018;

[2018-11-15 15:37] cmsbuild commented on #25244
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_32-slc6_amd64_gcc530/1853
Some tests (

[2018-11-15 16:06] cmsbuild commented on #25244
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_32-slc6_amd64_gcc530/1853

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-11-15 16:23] kpedro88 commented on #25230
Also, @violatingcp found that for CNN inference, TensorFlow v1.10 is 2.4x faster than TensorFlow v1.6 (which we're currently using).

[2018-11-15 16:28] slava77 commented on #25230
On 11/15/18 8:23 AM, Kevin Pedro wrote:

Is this based on similarly built version?
Recall that the CMSSW production version is compiled with SSE3 and does
not use AVX/AVX512 instructions.

[2018-11-15 16:42] violatingcp commented on #25230
Ah, so TF v1.6 used the CMSSW standard version. Indeed it looks like the tf version I am using is using AVX, but not AVX2. I can disable and try to run.

[2018-11-15 17:15] fabiocos commented on #25244
@smuzaffar the failure of tests in slc7 has nothing to do with the latest updates, it looks like related to the dasgoclient availability in slc7,

Preparing to run 4.22 RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC
dasgoclient: Command not found.

not sure why this does not fail in the IB though

[2018-11-15 20:17] pgunnell commented on #25235
Thanks! PREMIXRAW is the datatier for RAWSIM, for wfs using premix. Can one guess, why were the jobs resized to 1 core? In production, we have set it to 8 for such requests

[2018-11-15 21:33] bsunanda commented on #25234
Check PR #25257

[2018-11-16 04:53] cmsbuild commented on #25219
The cleanup has started for slc6_amd64_gcc700

[2018-11-16 04:53] cmsbuild commented on #25219
The cleanup has started for slc7_amd64_gcc700

[2018-11-16 04:53] cmsbuild commented on #25219
The cleanup has started for slc7_amd64_gcc820

[2018-11-16 04:53] #25219 closed

[2018-11-16 04:56] cmsbuild commented on #25219
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre2-slc7_amd64_gcc820/1191

[2018-11-16 05:02] cmsbuild commented on #25219
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre2-slc7_amd64_gcc700/1190

[2018-11-16 05:02] cmsbuild commented on #25219
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre2-slc6_amd64_gcc700/1189

[2018-11-16 07:37] fabiocos commented on #25244
upload all

[2018-11-16 07:38] cmsbuild commented on #25244
Queing Jenkins upload for slc6_amd64_gcc530

[2018-11-16 07:38] cmsbuild commented on #25244
Queing Jenkins upload for slc7_amd64_gcc530

[2018-11-16 07:38] cmsbuild commented on #25244
The upload has started for slc6_amd64_gcc530 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1209/console

[2018-11-16 07:38] cmsbuild commented on #25244
The upload has started for slc7_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1210/console

[2018-11-16 07:39] cmsbuild commented on #25244
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_32-slc7_amd64_gcc530/1210
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-16 07:39] cmsbuild commented on #25244
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-16 07:42] cmsbuild commented on #25244
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_32-slc6_amd64_gcc530/1209
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-16 07:42] cmsbuild commented on #25244
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-16 07:43] fabiocos commented on #25244
release-notes

[2018-11-16 07:44] cmsbuild commented on #25244
Generating release notes since CMSSW_8_0_31_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-16 07:44] cmsbuild commented on #25244
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_32 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_31_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_32

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2018-11-16 07:44] cmsbuild commented on #25244
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_32

[2018-11-16 08:38] fabiocos opened #25260 "Failure of test wf 1020.0 after the integration of #25237"
A new failure is observed in CMSSW_10_4 2018-11-15-1100 for the test wf 1020.0 after the merge of #25237:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_4_X_2018-11-15-1100/pyRelValMatrixLogs/run/1020.0_AlCaLumiPixels2016H+AlCaLumiPixels2016H+TIER0EXPLP+ALCAEXPLP+ALCAHARVLP+TIER0PROMPTLP/step3_AlCaLumiPixels2016H+AlCaLumiPixels2016H+TIER0EXPLP+ALCAEXPLP+ALCAHARVLP+TIER0PR

[2018-11-16 08:39] cmsbuild commented on #25260
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-16 08:39] fabiocos commented on #25260
assign core

[2018-11-16 08:39] cmsbuild commented on #25260
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-16 13:48] Dr15Jones commented on #25260
I should have a fix to the module shortly.

[2018-11-16 13:56] Martin-Grunewald commented on #19802
@slava77
This is a valid error message which goes off after 5 instances or so.
PATTriger would have to be fixed...

[2018-11-16 14:52] Dr15Jones commented on #25260
Fixed in #25263

[2018-11-17 13:46] Dr15Jones commented on #25057
+1

[2018-11-17 13:46] cmsbuild commented on #25057
This issue is fully signed and ready to be closed.

[2018-11-17 13:46] Dr15Jones commented on #25057
@smuzaffar please close this one if the problem is now gone.

[2018-11-17 15:13] slava77 opened #25270 "how to create alternative configs with a PSet switch"
This is in connection with #24918 and is related to use cases of config switches https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideConfigurationValidationAndHelp#A%20%22Switch%22

The desired functionalities are:
- ability to create cfi files from fillDescriptions corresponding to different values of the switch
    - I have a bit awkward implementation in https://github.com/slava77/cmssw/compa

[2018-11-17 15:13] slava77 commented on #25270
assign core

[2018-11-17 15:13] cmsbuild commented on #25270
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-17 15:13] cmsbuild commented on #25270
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-18 03:56] zhenhu opened #25271 "L1TTwinMuxProducer:simTwinMuxDigis crashes in SingleMuon Data workflow"
We noticed the SingleMuon Data workflows (136.855,136.867,136.879,136.891) crashed in several recent releases.
This error firstly appeared in 10_3_0_pre5, and it might be due to #24578 .

An example failure can be found here:
https://cms-unified.web.cern.ch/cms-unified/report/muahmad_RVCMSSW_10_4_0_pre2RunSingleMu2018D__RelVal_sigMu2018D_181114_233314_874#CODES
[code]

The full job logs:
https://c

[2018-11-18 03:57] zhenhu commented on #25271
assign l1

[2018-11-18 03:57] cmsbuild commented on #25271
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-18 03:57] cmsbuild commented on #25271
A new Issue was created by  @zhenhu Zhen Hu.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-18 03:57] zhenhu commented on #25271
assign pdmv

[2018-11-18 03:58] cmsbuild commented on #25271
New categories assigned: pdmv

@prebello,@pgunnell,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-18 06:54] cmsbuild commented on #25244
The cleanup has started for slc6_amd64_gcc530

[2018-11-18 06:54] cmsbuild commented on #25244
The cleanup has started for slc7_amd64_gcc530

[2018-11-18 06:54] #25244 closed

[2018-11-18 06:55] cmsbuild commented on #25244
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_32-slc7_amd64_gcc530/1193

[2018-11-18 07:00] cmsbuild commented on #25244
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_32-slc6_amd64_gcc530/1192

[2018-11-18 13:07] Dr15Jones commented on #25271
The relevant part of the trace back in the log is
[code]

[2018-11-18 13:08] Dr15Jones commented on #25270
@makortel  suggestions?

[2018-11-18 13:14] Dr15Jones commented on #25260
Don’t we normally wait to close an issue after the fix has been merged into the release?

[2018-11-18 13:33] davidlange6 commented on #25271
#25243
its crashing lots of production I believe...

[2018-11-18 13:33] davidlange6 commented on #25271
assign l1

[2018-11-18 13:33] davidlange6 commented on #25271
(as its already been back ported:( )

[2018-11-18 15:45] Dr15Jones commented on #25271
I took the provided configuration and then made a small change to skip the first 1500 events. The problem reproduced so it appears to be a property of the event not a threading issue.

[2018-11-18 16:05] Dr15Jones commented on #25271
I was able to catch the crash in the debugger. The relevant information is
[code]
So the code is trying to read `vrpc_hit_layer2[-1]`

[2018-11-18 16:11] davidlange6 commented on #25271
that is what I had guessed.. i believe the bug is that itr2=0 should be added before the loop over i2 - but that is a guess rather than knowing what this algorithm is doing..

[2018-11-18 16:17] Dr15Jones commented on #25271
It looks like `l1` is used in a similar manner
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/L1Trigger/L1TTwinMux/src/RPCtoDTTranslator.cc#L135

However in that case, the `itr1` is reset at the beginning of each loop.

[2018-11-18 16:18] fabiocos opened #25274 "Build CMSSW_10_3_1_patch2"

[2018-11-18 16:19] cmsbuild commented on #25274
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-18 16:19] fabiocos commented on #25274
+1

[2018-11-18 16:20] cmsbuild commented on #25274
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_1_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2018-11-18 16:20] cmsbuild commented on #25274
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-18 16:31] Dr15Jones commented on #25271
@davidlange6 reseting `l2=0` before the start of a new loop does avoid the problem.

[2018-11-18 16:37] davidlange6 commented on #25271
yes, by definition I believe. Now lets see if a L1 expert can confirm this.. maybe you should just PR it to expedite the process (this is slowing down the 2018 production by now)

[2018-11-18 16:44] Dr15Jones commented on #25271
Interestingly enough, after that fix, if I run the job longer it eventually crashes elsewhere in fastjet
[code]
It is possible that this is a side effect of my recompiling the code while the job was running but that is unlikely since the operating system keeps alive file handles to files which are deleted while a process is running.

[2018-11-18 16:45] Dr15Jones commented on #25271
@davidlange6 I was planning on making a pull request. However, I am adding additional changes because there are some aspects of the code that I feel compelled to change :(.

[2018-11-18 17:03] cmsbuild commented on #25274
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch2-slc6_amd64_gcc700/1855
Some t

[2018-11-18 17:05] cmsbuild commented on #25274
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch2-slc7_amd64_gcc700/1856
Some t

[2018-11-18 17:45] fabiocos commented on #25260
the issue in itself looks understood, with a solution provided and the code is technically waiting for a final approval. Anyway...

[2018-11-18 17:54] Dr15Jones commented on #25271
The fix is #25275

[2018-11-18 18:02] fabiocos commented on #25271
@zhenhu 10_3_0_pre5 was made almost two months ago, did I miss a previous report of crashes?

[2018-11-18 18:10] fabiocos commented on #24469
@smuzaffar was this issue ever addressed?

[2018-11-18 18:29] fabiocos commented on #24469
@simonepigazzini so I assume this issue might be closed

[2018-11-18 18:33] simonepigazzini commented on #24469
yes it can of course, but I have no rights to do that.

[2018-11-18 18:43] cmsbuild commented on #25274
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch2-slc6_amd64_gcc700/1855

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-18 19:29] zhenhu commented on #25271
Hi @fabiocos , sorry for the delay.
There were some staging issues in pre5, which caused some failures and delays in our data relval production. Partially due to this reason, we overlooked the above failure at that time.
But we did noticed the discrepancy in the SingleMu data relvals and opened an [JIRA ticket](https://its.cern.ch/jira/browse/CMSLITDPG-763) for it.

The good news is, we have all t

[2018-11-18 21:55] fabiocos commented on #25274
upload all

[2018-11-18 21:55] cmsbuild commented on #25274
Queing Jenkins upload for slc6_amd64_gcc700

[2018-11-18 21:55] cmsbuild commented on #25274
Queing Jenkins upload for slc7_amd64_gcc700

[2018-11-18 21:57] cmsbuild commented on #25274
The upload has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1211/console

[2018-11-18 21:57] cmsbuild commented on #25274
The upload has started for slc7_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1212/console

[2018-11-18 21:57] cmsbuild commented on #25274
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_1_patch2-slc6_amd64_gcc700/1211
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-18 21:57] cmsbuild commented on #25274
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-18 21:57] cmsbuild commented on #25274
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_1_patch2-slc7_amd64_gcc700/1212
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-18 21:58] cmsbuild commented on #25274
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-18 22:02] fabiocos commented on #25274
release-notes

[2018-11-18 22:04] cmsbuild commented on #25274
Generating release notes since CMSSW_10_3_1_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-18 22:04] cmsbuild commented on #25274
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_3_1_patch2 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_1_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_1_patch2

Cheers,
cms-bot

You can also click

[2018-11-18 22:05] cmsbuild commented on #25274
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_1_patch2

[2018-11-19 07:40] thomreis commented on #25271
@gkaratha please take a look at this issue and check if the code still works as intended after the fix.

[2018-11-19 08:20] #24469 closed

[2018-11-19 08:29] #25057 closed

[2018-11-19 14:55] Dr15Jones opened #25283 "RawPPCProducer and concurrent LuminosityBlocks"
I was hoping to convert RawPCCProducer into a edm::global module in order to support concurrent LuminosityBlock processing. I got very close but I was stopped because the module optionally writes out a text file. At begin LuminosityBlock it opens the file and starts a new line, then at end LuminosityBlock it finishes writing that line. Clearly, such semantics does not support concurrent Luminosity

[2018-11-19 14:55] cmsbuild commented on #25283
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-19 14:55] Dr15Jones commented on #25283
This is related to #25263

[2018-11-19 14:56] Dr15Jones commented on #25283
assign alca

[2018-11-19 14:57] cmsbuild commented on #25283
New categories assigned: alca

@lpernie,@franzoni,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-19 20:43] Dr15Jones opened #25291 "Memory leak from HepPDT::ParticleDataTable::particle"
valgrind has found the following call to be leaking memory:

https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/SimTracker/SiStripDigitizer/plugins/SiLinearChargeDivider.cc#L41

I traced the leak to line 28 of HeavyIonUnknownID::processUnknownID
http://lcgapp.cern.ch/project/simu/HepPDT/HepPDT.3.03.00/html/HeavyIonUnknownID_8cc-source.html

CMS specifies to use that clas

[2018-11-19 20:44] cmsbuild commented on #25291
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-19 20:44] Dr15Jones commented on #25291
assign simulation, generator

[2018-11-19 20:44] cmsbuild commented on #25291
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-19 21:16] kpedro88 commented on #25291
assign generators

[2018-11-19 21:16] cmsbuild commented on #25291
New categories assigned: generators

@perrozzi,@alberto-sanchez,@qliphy,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-19 21:30] amaltaro opened #25292 "Broke edmCopyUtil/libdavix in 10_2_3"
We've a logic implemented in WMCore that uses CMSSW_10_2_3 edmCopyUtil feature in order to stage in files to the worker node and build a logCollect tarball. While running such jobs in some CERN resources dedicated to volunteer computing, we noticed it hits a seg fault with the error as reported in this GH issue:
https://github.com/dmwm/WMCore/issues/8854#issuecomment-439869201

[2018-11-19 21:30] cmsbuild commented on #25292
A new Issue was created by  @amaltaro Alan Malta Rodrigues.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-19 21:44] Dr15Jones commented on #25292
assign core

[2018-11-19 21:44] cmsbuild commented on #25292
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-19 22:00] Dr15Jones commented on #25292
@bbockelm did you remember that you were the person who wrote this utility? :)

[2018-11-19 22:06] bbockelm commented on #25292
:) Indeed.  I figured we should at least file this bug until I'm no longer treading water in my inbox (hey - beats "taking on water", where I was before!).

Would be useful to verify that `edmCopyUtil` doesn't double-close the file (maybe triggers a `davix` bug?  I didn't see any new commits to that file in `git blame`) and do a simple `valgrind`.

Hopefully `valgrind` illuminates something and we

[2018-11-19 22:07] bbockelm commented on #25292
@gbitzes - you may want to follow this.  Potentially a crasher bug in `libdavix` when closing a file.

[2018-11-19 22:32] makortel commented on #25270
@slava77 We talked briefly with @Dr15Jones and think that your solution on the first bullet is the minimal that can be achieved (with the current API).

For the second bullet, we could think of adding a general mechanism for passing around metadata that would allow your example being written along
[code]
with `caseA._aux()` being (e.g.)
[code]
such that the `cfi` generation will create the necessa

[2018-11-19 22:40] slava77 commented on #25270
On 11/19/18 2:32 PM, Matti Kortelainen wrote:

does it make sense to change the API?

this looks good.

Thank you.

[2018-11-19 23:21] gbitzes commented on #25292
Thanks for adding me - indeed there's a bug in DavPosix::close, it should set fd to nullptr after deleting to avoid crashing on double close.

double close should not happen, though.. a trace with valgrind or ASan would be very useful to have.

[2018-11-20 00:31] Dr15Jones commented on #25291
A work around is in #25298

I did contact the original author of HepPDT with the problem.

[2018-11-20 09:37] fabiocos commented on #24850
fixed by the addition of an override mechanism for standard samples

[2018-11-20 09:37] #24850 closed

[2018-11-20 15:00] bundocka commented on #25121
This should now be handled by #25303

[2018-11-20 15:20] cbernet commented on #23676
Hello, I would just like to point out that the fact that electron ID V2 does not work in FWLite is a verious serious blocker for our analyses. Indeed, we are reading mini AODs and re-running POG recipes in FWLite when necessary before making our ntuples. Having to run the full framework at this stage just for electron ID would force us to add a step to our computing workflow and to store the resul

[2018-11-20 15:30] Dr15Jones commented on #23676
@cbernet both `fwlite::Event` and `edm::Event` inherit from `edm::EventBase`. So any function that takes a `edm::EventBase` will work in FWLite.

[2018-11-20 16:41] cbernet commented on #23676
Thanks for your comments Chris, this is helping a lot. We’ll give it a try and will comment back here in a few days.

[2018-11-20 17:07] fabiocos opened #25307 "Build CMSSW_9_3_13_patch1"

[2018-11-20 17:08] cmsbuild commented on #25307
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-20 17:08] fabiocos commented on #25307
+1

[2018-11-20 17:08] cmsbuild commented on #25307
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_13_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-11-20 17:08] cmsbuild commented on #25307
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-20 17:29] cmsbuild commented on #25307
The build has started for slc7_amd64_gcc630 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1858/console
CMSDIST Branch: [REL/CMSSW_9_3_13/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_13/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-20 18:04] cmsbuild commented on #25307
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch1-slc6_amd64_gcc630/1857
Some t

[2018-11-20 18:22] cmsbuild commented on #25307
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch1-slc7_amd64_gcc630/1858
Some t

[2018-11-20 19:32] cmsbuild commented on #25307
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch1-slc6_amd64_gcc630/1857

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-11-20 19:34] cmsbuild commented on #25307
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch1-slc7_amd64_gcc630/1858

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-11-20 21:08] cmsbuild commented on #25274
The cleanup has started for slc6_amd64_gcc700

[2018-11-20 21:08] cmsbuild commented on #25274
The cleanup has started for slc7_amd64_gcc700

[2018-11-20 21:08] #25274 closed

[2018-11-20 21:09] cmsbuild commented on #25274
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1_patch2-slc7_amd64_gcc700/1195

[2018-11-20 21:09] cmsbuild commented on #25274
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1_patch2-slc6_amd64_gcc700/1194

[2018-11-20 22:22] slava77 commented on #25234
it looks like the random differences in HGCalSimHitsV are gone now.
I'm closing this.

[2018-11-20 22:22] #25234 closed

[2018-11-20 22:22] tocheng commented on #25283
Hello,
I think it is ok to "do not write during begin LuminosityBlock and instead write the entire line at end LuminosityBlock".
Let me include the PCC expert to comment @capalmer85

[2018-11-20 23:50] guitargeek commented on #23676
Hi @cbernet, that's very interesting that the new implementation might not work in a real use case!

I would have taken much care about fwlite compatibility if I I would have had any code to test it with, maybe you can point me to some code where you were running the old 2016 Egamma MVA recipe with fwlite and it worked?

[2018-11-21 08:30] fabiocos commented on #25307
upload all

[2018-11-21 08:31] cmsbuild commented on #25307
Queing Jenkins upload for slc6_amd64_gcc630

[2018-11-21 08:31] cmsbuild commented on #25307
Queing Jenkins upload for slc7_amd64_gcc630

[2018-11-21 08:33] cmsbuild commented on #25307
The upload has started for slc7_amd64_gcc630 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1214/console

[2018-11-21 08:34] cmsbuild commented on #25307
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_13_patch1-slc7_amd64_gcc630/1214
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-21 08:34] cmsbuild commented on #25307
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-21 09:29] fabiocos opened #25311 "Build CMSSW_9_4_12"

[2018-11-21 09:29] cmsbuild commented on #25311
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-21 09:29] fabiocos commented on #25311
+1

[2018-11-21 09:30] cmsbuild commented on #25311
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_12. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-11-21 09:30] cmsbuild commented on #25311
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-21 09:32] cmsbuild commented on #25311
The build has started for slc7_amd64_gcc630 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1860/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-21 10:14] cmsbuild commented on #25307
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_13_patch1-slc6_amd64_gcc630/1213
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-21 10:17] cmsbuild commented on #25311
The build has started for slc6_amd64_gcc630 in cmsbuild87.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1859/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-21 10:20] fabiocos commented on #25307
release-notes

[2018-11-21 10:20] cmsbuild commented on #25307
Generating release notes since CMSSW_9_3_13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-21 10:20] cmsbuild commented on #25307
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_13_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_13_patch1

Cheers,
cms-bot

You can also click <a href

[2018-11-21 10:21] cmsbuild commented on #25307
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_13_patch1

[2018-11-21 10:51] cbernet commented on #23676
Hi @Dr15Jones, could you please tell me how to read an edm::Ptr from the input file in FWLite with python?

I'm doing the following which gives me a `ROOT.pat::Electron object`. This object can be fed to C++ functions taking a PAT::Electron (or GsfElectron) native pointer.

[code]

[2018-11-21 13:03] cmsbuild commented on #25311
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_12-slc7_amd64_gcc630/1860
Some tests (

[2018-11-21 14:15] cmsbuild commented on #25311
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_12-slc7_amd64_gcc630/1860

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-11-21 15:45] cbernet commented on #23676
Ok, I see. But my issue here is that when I read electrons using FWLite in python, I get a `ROOT.pat::Electron` object. But I need to give this electron to [this method](https://github.com/guitargeek/cmssw/blob/master/RecoEgamma/ElectronIdentification/src/ElectronMVAEstimatorRun2.cc#L80) which takes an `edm::Ptr` to the electron, and I don't find a way to do it.

@guitargeek could you please tell

[2018-11-21 15:49] makortel commented on #23676
Does

https://github.com/cms-sw/cmssw/blob/e33a0d8f58bdaaff6389a2a010df3a728819dbb2/RecoEgamma/ElectronIdentification/src/ElectronMVAEstimatorRun2.cc#L80

really need an `edm::Ptr<T>`? (by very quick look it seems to be that the answer could be "no")

[2018-11-21 16:02] cmsbuild commented on #25311
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_12-slc6_amd64_gcc630/1859
Some tests (

[2018-11-21 16:08] fabiocos commented on #25271
#25275 has been merged, and backports have been prepared for 10_2_X (#25315) and 10_3_X (#25314)

[2018-11-21 16:10] fabiocos commented on #25243
#25275 (where the fix by @Dr15Jones is implemented) has been merged, and backports have been prepared for 10_2_X (#25315) and 10_3_X (#25314)

[2018-11-21 16:38] Dr15Jones commented on #25283
The underlying problem is the framework can process several LuminosityBlocks concurrently, which means you could have two calls to `beginLuminosityBlock` before the first call to `endLuminosityBlock`.

[2018-11-21 16:47] capalmer85 commented on #25283
Ok.  Great.  Yes, please move the code into endLuminosityBlock.  It doesn't need to be in beginLuminosityBlock.

[2018-11-21 17:11] cmsbuild commented on #25311
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_12-slc6_amd64_gcc630/1859

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-11-21 17:21] guitargeek commented on #23676
@makortel, since I have to get some information from precomputed value maps [1] I thought the edm::Ptr is necessary. Or is there another way? For sure I remember that it did not work with the bare reco::Candidate...

[1] https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaTools/interface/MVAVariableManager.h#L88

[2018-11-21 17:23] guitargeek commented on #23676
@cbernet The mvaValue method is used here:

https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaTools/interface/MVAValueMapProducer.h#L116

[2018-11-21 17:30] makortel commented on #23676
@guitargeek Thanks for pointing it out. The `ValueMap::operator[]` indeed needs something Ref-like (that contains `ProductID` and and an index)
https://github.com/cms-sw/cmssw/blob/e33a0d8f58bdaaff6389a2a010df3a728819dbb2/DataFormats/Common/interface/ValueMap.h#L127-L130
In principle @cbernet's example https://github.com/cms-sw/cmssw/issues/23676#issuecomment-440621028 has all the needed ingredien

[2018-11-21 17:31] makortel commented on #23676
Or would
[code]
work?

[2018-11-21 18:38] cbernet commented on #23676
guys, really thanks for the suggestions.
@makortel I tried to read as a view as you wrote but it does not work.
@guitargeek I see that the code that accesses the electrons before running the mvaValue method actually does [this](https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaTools/interface/MVAValueMapProducer.h#L114) to get a ptr.

But in python FWLite, the Handle object does not see

[2018-11-21 19:43] Dr15Jones commented on #23676
I do not believe so.

[2018-11-21 19:46] guitargeek commented on #23676
I think that's not the simplest solution @cbernet. I think the easiest way would be to reorganize the MVA code a little bit such that the missing ID variables are not calculated by a separate producer and therefore have to be stored in value maps, but it's done within the MVAValueMapProducer starting from the GsfElectron and the other products without the need of edm::Ptr.

Actually I already star

[2018-11-21 20:46] fabiocos commented on #25311
release-notes

[2018-11-21 20:58] fabiocos commented on #25311
upload all

[2018-11-21 20:58] cmsbuild commented on #25311
Queing Jenkins upload for slc6_amd64_gcc630

[2018-11-21 20:58] cmsbuild commented on #25311
Queing Jenkins upload for slc7_amd64_gcc630

[2018-11-21 20:59] cmsbuild commented on #25311
The upload has started for slc6_amd64_gcc630 in cmsbuild87.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1215/console

[2018-11-21 21:00] cmsbuild commented on #25311
The upload has started for slc7_amd64_gcc630 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1216/console

[2018-11-21 21:01] cmsbuild commented on #25311
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_12-slc7_amd64_gcc630/1216
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-21 21:01] cmsbuild commented on #25311
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-21 21:02] cmsbuild commented on #25311
ATTENTION!!! The production architecture (slc6_amd64_gcc630) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2018-11-21 21:07] cmsbuild commented on #25311
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_12-slc6_amd64_gcc630/1215
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-21 21:07] cmsbuild commented on #25311
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-21 21:07] cmsbuild commented on #25311
Generating release notes since CMSSW_9_4_11_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-21 21:07] cmsbuild commented on #25311
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_12 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_11_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_12

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2018-11-21 21:08] cmsbuild commented on #25311
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_12

[2018-11-21 21:33] ssekmen commented on #25197
adding @angirar .

[2018-11-21 22:07] Dr15Jones commented on #23676
The `fwlite::Handle` does not provide access to the `edm::Provenance` object (which holds the `edm::ProductID`) since providing such access severely reduced the readback rate.

We could presumably add a new method to fwlite::Event which gives a type safe access to the ProductID for a data product in the event.

[2018-11-22 12:58] cbernet commented on #23676
Thanks @Dr15Jones, Jonas and I are now in touch, we will try and get the V2 e ID to run in python fwlite without modification of fwlite::Event for now (though what you propose sounds very useful to me)

[2018-11-23 12:31] slava77 opened #25324 "Flag_hcalLaserEventFilter is broken when running on of pre-10X data in 102X+ releases"
Due to a missing  initialization for lasmonCharge_ in HcalNoiseSummary the hcalLaserEventFilter is expected to be broken when running on of pre-10X data in 102X+ releases.
- the missing initialization appeared with #21152 in 10_0_0_pre2
- the hcalLaserEventFilter enabled checks of lasmonCharge_ by default in #22974 in CMSSW_10_2_0_pre5

AFAIK, none of the miniAOD production is affected so far (sin

[2018-11-23 12:31] slava77 commented on #25324
assign reconstruction

[2018-11-23 12:32] cmsbuild commented on #25324
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-23 12:32] cmsbuild commented on #25324
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-23 12:43] slava77 commented on #25324
This should be now resolved in PRs #25325 (104X),  #25326 (102X), and #25327 (103X).
The issue will remain open until the PRs are in the production releases.

[2018-11-23 13:59] slava77 opened #25328 "gracefully disable the APV shot cleaner in siStrip clustering for HI"
This is a follow up to #25246

In HI data taking the data consumed in RECO is already zero-suppressed and logically the APV cleaner should not be applied. Removal of the cleaner leads to appearance of large (more than 64 strips) clusters. These large clusters are expected considering the occupancies in the central HI events. In HI events the APV cleaner -- even though it's not fully appropriate --

[2018-11-23 14:00] cmsbuild commented on #25328
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-23 14:00] slava77 commented on #25328
assign reconstruction

I consider this to be a replacement to #25246 and #25247

[2018-11-23 14:00] cmsbuild commented on #25328
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-23 15:43] pieterdavid commented on #25328
CC @alesaggio (Strip reco contact)

[2018-11-23 15:50] venturia commented on #25328
For the record: a small beneficial effect of the APV shot cleaner in pp MC is that is a easy way to implement the common mode subtraction effect in MC since, as noted, this is not simulated. Not a big effect but it goes in the right direction.

[2018-11-23 19:35] Dr15Jones commented on #25283
See #25330

[2018-11-23 19:53] cmsbuild commented on #25311
The cleanup has started for slc6_amd64_gcc630

[2018-11-23 19:53] cmsbuild commented on #25311
The cleanup has started for slc7_amd64_gcc630

[2018-11-23 19:53] #25311 closed

[2018-11-23 20:00] cmsbuild commented on #25311
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_12-slc7_amd64_gcc630/1199

[2018-11-23 20:01] cmsbuild commented on #25311
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_12-slc6_amd64_gcc630/1198

[2018-11-25 15:26] fabiocos opened #25334 "Build CMSSW_10_3_1_patch3"

[2018-11-25 15:34] fabiocos commented on #25334
Abort

[2018-11-25 15:34] cmsbuild commented on #25334
Deleting CMSSW_10_3_1_patch3:

  -Release successfully deleted

  -cmssw tag CMSSW_10_3_1_patch3 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_3_1_patch3/slc6_amd64_gcc700. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_3_1_patch3/slc7_amd64_gcc700. Probaly it had not been created.

You must create a new issue to start over the build.

[2018-11-25 15:49] fabiocos opened #25335 "Build CMSSW_10_3_1_patch3"

[2018-11-25 15:49] cmsbuild commented on #25335
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-25 15:49] fabiocos commented on #25335
+1

[2018-11-25 15:50] cmsbuild commented on #25335
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_1_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2018-11-25 15:50] cmsbuild commented on #25335
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-25 15:51] cmsbuild commented on #25335
The build has started for slc6_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1863/console
CMSDIST Branch: [REL/CMSSW_10_3_1/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_1/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-25 15:52] cmsbuild commented on #25335
The build has started for slc7_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1864/console
CMSDIST Branch: [REL/CMSSW_10_3_1/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_3_1/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-25 16:38] cmsbuild commented on #25335
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch3-slc7_amd64_gcc700/1864
Some t

[2018-11-25 16:59] cmsbuild commented on #25335
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch3-slc6_amd64_gcc700/1863
Some t

[2018-11-25 18:23] fabiocos opened #25336 "testSSTGainPCL_fromRECO unit test failing in recent IBs"
Since CMSSW_10_4_X_2018-11-23-1100 the unit test testSSTGainPCL_fromRECO in CalibTracker/SiStripChannelGain has started to fail, and this is true for 10_3_X, 10_2_X and 10_1_X 👍

Using Dataset: /ZeroBias/Run2018A-SiStripCalMinBias-17Sep2018_pilot-v1/ALCARECO
----- Begin Fatal Exception 24-Nov-2018 17:03:23 CET-----------------------
An exception of category 'ConfigFileReadError' occurred while

[2018-11-25 18:32] cmsbuild commented on #25335
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch3-slc7_amd64_gcc700/1864

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-25 18:45] cmsbuild commented on #25335
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_1_patch3-slc6_amd64_gcc700/1863

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-26 02:14] guitargeek commented on #23676
Hi, I made a PR to address the issue raised by @cbernet as GitHub was automatically referencing here. We should continue the discussion there, in particular because actually this issue has actually nothing to do with it. I opened the issue because the VID selectors don't work, which is separate from the calculation of the MVA ID variables (that can be later used by VID).

Just wanted to point that

[2018-11-26 07:53] cbernet commented on #23676
Hi @guitargeek, again thank you! Could you please explain what the VID selectors are and point me to some place where they are used in the full framework?
We can get in touch on skype to see how to have them or something similar working in python+fwlite.

[2018-11-26 08:13] fabiocos commented on #25336
@vkuznetv FYI

[2018-11-26 08:14] fabiocos commented on #25336
@vkuznet FYI

[2018-11-26 08:25] fabiocos opened #25341 "Build CMSSW_10_2_7"

[2018-11-26 08:38] cmsbuild commented on #25341
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1865/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-26 08:40] cmsbuild commented on #25341
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1866/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-26 09:11] pieterdavid commented on #25336
CC @mdelcourt @dimattia (gain calibration experts), in case the problem is with the test rather than with the das query

[2018-11-26 09:46] cmsbuild commented on #25341
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_7-slc7_amd64_gcc700/1866

[2018-11-26 09:52] cmsbuild commented on #25341
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_7-slc6_amd64_gcc700/1865

[2018-11-26 10:03] mmusich commented on #25336
I think that's not the case. Supplying directly a file with this diff:
[code]

results in a successfully completed test.

@fabiocos what is the policy about supplying source files to unit tests? Can we hardcode a LFN address in the configuration?

[2018-11-26 10:10] fabiocos commented on #25341
+1

[2018-11-26 10:10] cmsbuild commented on #25341
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2018-11-26 10:11] cmsbuild commented on #25341
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-11-26 10:12] cmsbuild commented on #25341
The build has started for slc6_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1867/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-26 10:46] guitargeek commented on #23676
Hi @cbernet, the VID selectors allow you to specify cutflows and hash them, such that nobody can accidentally mess with the official cuts without triggering a warning in the log. They are also used in production to calculate the cut decisions stored in MiniAOD and NanoAOD. I don't know much about them in FWlite, only that there is this test script here which does not work for a long time:

https:/

[2018-11-26 12:16] fabiocos commented on #25335
upload all

[2018-11-26 12:17] cmsbuild commented on #25335
Queing Jenkins upload for slc6_amd64_gcc700

[2018-11-26 12:17] cmsbuild commented on #25335
Queing Jenkins upload for slc7_amd64_gcc700

[2018-11-26 12:19] cmsbuild commented on #25335
The upload has started for slc6_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1217/console

[2018-11-26 12:19] cmsbuild commented on #25335
The upload has started for slc7_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1218/console

[2018-11-26 12:20] cmsbuild commented on #25335
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_1_patch3-slc6_amd64_gcc700/1217
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-26 12:20] cmsbuild commented on #25335
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-26 12:31] fabiocos commented on #25335
release-notes

[2018-11-26 12:32] cmsbuild commented on #25335
Generating release notes since CMSSW_10_3_1_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-26 12:32] cmsbuild commented on #25335
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_3_1_patch3 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_1_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_1_patch3

Cheers,
cms-bot

You can also click