[2016-04-06 09:50] cmsbuild commented on #13938
The upload has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/353/console

[2016-04-06 09:50] cmsbuild commented on #13938
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/354/console

[2016-04-06 09:50] cmsbuild commented on #13938
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/356/console

[2016-04-06 09:50] cmsbuild commented on #13938
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/355/console

[2016-04-06 10:26] davidlange6 opened #13952 "Build CMSSW_5_3_32_patch3"

[2016-04-06 10:26] davidlange6 commented on #13952
+1

[2016-04-06 10:28] cmsbuild commented on #13952
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-06 10:30] cmsbuild commented on #13952
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_32_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2016-04-06 10:30] cmsbuild commented on #13952
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-04-06 10:31] cmsbuild commented on #13952
The build has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/604/console
CMSDIST Branch: [REL/CMSSW_5_3_32/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_5_3_32/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-06 10:38] cmsbuild commented on #13938
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc493/354
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-06 10:39] cmsbuild commented on #13938
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/357/console

[2016-04-06 10:43] cmsbuild commented on #13952
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_32_patch3-slc6_amd64_gcc472/604
Some te

[2016-04-06 11:03] cmsbuild commented on #13938
The upload has successfully finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre2-fc22_ppc64le_gcc530/353
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-06 11:04] cmsbuild commented on #13938
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre2/slc6_amd64_gcc493/608/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-04-06 11:21] cmsbuild commented on #13952
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_32_patch3-slc6_amd64_gcc472/604

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2016-04-06 11:22] davidlange6 commented on #13938
release-notes

[2016-04-06 11:23] davidlange6 commented on #13952
upload all

[2016-04-06 11:23] cmsbuild commented on #13952
Queing Jenkins upload for slc6_amd64_gcc472

[2016-04-06 11:23] cmsbuild commented on #13938
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-04-06 11:24] cmsbuild commented on #13938
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre2-slc7_aarch64_gcc530/356
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-06 11:24] cmsbuild commented on #13952
The upload has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/358/console

[2016-04-06 11:35] boudoul commented on #13858
hi @davidlt , sorry we (tracker) have just been informed now about this error - Indeed there is the harcoded number (24) which was valid with the run2 detector but not anymore with the 2017 scenario (the workflow crashing) - Thanks for spotting (and even giving hints what is the cause of the error!) We shall adress this asap.

[2016-04-06 11:43] cmsbuild commented on #13952
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_32_patch3-slc6_amd64_gcc472/358
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-06 11:46] cmsbuild commented on #13952
The was error installing slc6_amd64_gcc472.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_32_patch3/slc6_amd64_gcc472/609/

[2016-04-06 11:51] davidlt commented on #13952
Out of space on AFS:
[code]

[2016-04-06 12:05] cmsbuild commented on #13938
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre2-slc7_amd64_gcc530/357
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-06 12:34] smuzaffar commented on #13952
I have already asked Andreas P. to increase the volume size.

On 04/06/2016 01:51 PM, davidlt wrote:

[2016-04-06 12:37] cmsbuild commented on #13938
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc530/355
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-06 12:47] cmsbuild commented on #13938
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre2/slc7_amd64_gcc530/610/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-04-06 12:51] cmsbuild commented on #13952
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_32_patch3/slc6_amd64_gcc472/611/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-04-06 12:55] davidlange6 commented on #13952
release-notes

[2016-04-06 12:55] cmsbuild commented on #13952
Generating release notes since CMSSW_5_3_32_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-06 12:55] cmsbuild commented on #13952
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_5_3_32_patch3 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_32_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_32_patch3

Cheers,
cms-bot

You can also click <a href="mailto:hn

[2016-04-06 12:57] cmsbuild commented on #13952
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_32_patch3

[2016-04-06 13:28] cmsbuild commented on #13938
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre2/slc6_amd64_gcc530/612/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-04-06 13:29] cmsbuild commented on #13938
Generating release notes since CMSSW_8_1_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-06 13:29] cmsbuild commented on #13938
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_1_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre2

Cheers,
cms-bot

You can also cl

[2016-04-06 13:33] cmsbuild commented on #13938
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre2

[2016-04-07 12:21] dmitrijus commented on #13858
There is a simple (and slow) thing we can do - just extend the arrays if we see a higher blade:
https://github.com/dmitrijus/cmssw/commit/35d572717cee4252688ef569c2e9f68c6c5af2ae

If tracker people are happy, I will make a pull request.
Ideally, the number should be read from tracker topology, but I have not found a way to do so.

[2016-04-07 12:35] boudoul commented on #13858
Hi @dmitrijus - I believe @fioriNTU is about to provide a fix - I would prefer something more clean assuming he can do - Thanks for helping

[2016-04-07 13:58] smuzaffar commented on #13936
@Dr15Jones , do not remember exactly why but there were few tests which were hanging in IBs (waiting for input) and I had disabled them.

I tested locally now and it works, so  we can enable it to see how it goes in IB

[2016-04-07 14:59] schneiml commented on #13858
I (on behalf of @fioriNTU ) looked into a "proper" fix which retrieves the correct number of blades (currently testing).
There are a number of problems with this:
- It introduces additional dependencies to RecoTracker
- It only addresses the problem with the number of blades, not the general geometry depedence of the code.
- There are more fixed-size arrays for ladders. These do not cause a crash

[2016-04-07 17:52] Dr15Jones commented on #13936
After turning it back on, if the problem happens again then we should split the problematic test out to its own executable.

[2016-04-08 09:24] cmsbuild commented on #13938
The cleanup has started for fc22_ppc64le_gcc530

[2016-04-08 09:24] cmsbuild commented on #13938
The cleanup has started for slc7_aarch64_gcc530

[2016-04-08 09:24] cmsbuild commented on #13938
The cleanup has started for slc6_amd64_gcc493

[2016-04-08 09:24] cmsbuild commented on #13938
The cleanup has started for slc6_amd64_gcc530

[2016-04-08 09:24] cmsbuild commented on #13938
The cleanup has started for slc7_amd64_gcc530

[2016-04-08 09:24] #13938 closed

[2016-04-08 09:25] cmsbuild commented on #13938
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre2-slc6_amd64_gcc493/320

[2016-04-08 09:26] cmsbuild commented on #13938
The workspace for fc22_ppc64le_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre2-fc22_ppc64le_gcc530/319

[2016-04-08 09:26] cmsbuild commented on #13938
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre2-slc6_amd64_gcc530/321

[2016-04-08 09:26] cmsbuild commented on #13938
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre2-slc7_aarch64_gcc530/322

[2016-04-08 09:26] cmsbuild commented on #13938
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre2-slc7_aarch64_gcc530/324

[2016-04-08 09:29] cmsbuild commented on #13938
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre2-slc7_amd64_gcc530/325

[2016-04-08 09:32] cmsbuild commented on #13938
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre2-slc7_amd64_gcc530/323

[2016-04-08 11:09] cmsbuild commented on #13952
The cleanup has started for slc6_amd64_gcc472

[2016-04-08 11:09] #13952 closed

[2016-04-08 11:10] cmsbuild commented on #13952
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_32_patch3-slc6_amd64_gcc472/326

[2016-04-08 13:47] ericvaandering opened #13991 "Add USERx signal to finish up current lumi"
For opportunistic resources, it might be helpful to have a way to signal CMSSW to shut down after the current lumi is done processing. If there is not a new signal than can be appropriated, maybe CMSSW could be configurable to shutdown on the lumi on the first receipt of the signal and after the event (current behavior) after the second receipt.

[2016-04-08 14:04] Dr15Jones commented on #13991
assign core

[2016-04-08 14:04] cmsbuild commented on #13991
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-08 18:35] Dr15Jones opened #13994 "Better error message for reading files with different branches"
When the framework opens a second file and that file has a different branch than the first file, it is treated as an error. The present message does not give instructions on how to work around the problem. The message should be changed to say
1. read the files in a different order if possible else
2. drop the branch on input (setting the do not drop descendants) if the branch is not needed.

[2016-04-08 18:36] cmsbuild commented on #13994
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-08 18:36] Dr15Jones commented on #13994
assign core

[2016-04-08 18:36] cmsbuild commented on #13994
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-08 18:37] Dr15Jones commented on #13994
@wddgit @wmtan

[2016-04-08 18:53] davidlange6 opened #13995 "Build CMSSW_8_0_4"

[2016-04-08 18:53] davidlange6 commented on #13995
+1

[2016-04-08 18:54] cmsbuild commented on #13995
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-08 18:54] cmsbuild commented on #13995
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-04-08 18:54] cmsbuild commented on #13995
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-08 18:55] cmsbuild commented on #13995
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/605/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-08 18:56] cmsbuild commented on #13995
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/606/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-08 18:56] cmsbuild commented on #13995
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/607/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-08 21:12] cmsbuild commented on #13995
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_4-slc6_amd64_gcc493/605
Some tests ( ru

[2016-04-08 21:33] cmsbuild commented on #13995
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_4-slc6_amd64_gcc493/605

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-09 00:24] cmsbuild commented on #13995
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_4-slc6_amd64_gcc530/606
Some tests ( ru

[2016-04-09 00:46] cmsbuild commented on #13995
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_4-slc6_amd64_gcc530/606

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-09 01:11] davidlange6 commented on #13995
upload all

On 09 Apr 2016, at 02:47, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_4-slc6_amd64_gcc530/606

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
You are receiving this because you were menti

[2016-04-09 01:12] cmsbuild commented on #13995
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-09 01:12] cmsbuild commented on #13995
Queing Jenkins upload for slc6_amd64_gcc530

[2016-04-09 01:12] cmsbuild commented on #13995
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/359/console

[2016-04-09 01:12] cmsbuild commented on #13995
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/360/console

[2016-04-09 01:26] cmsbuild commented on #13995
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_4-slc7_amd64_gcc530/607
Some tests ( ru

[2016-04-09 01:26] cmsbuild commented on #13995
Queing Jenkins upload for slc7_amd64_gcc530

[2016-04-09 01:26] cmsbuild commented on #13995
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/361/console

[2016-04-09 01:46] cmsbuild commented on #13995
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_4-slc6_amd64_gcc493/359
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-09 02:00] cmsbuild commented on #13995
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_4-slc7_amd64_gcc530/607

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-09 02:07] cmsbuild commented on #13995
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_4/slc6_amd64_gcc493/613/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-09 02:16] cmsbuild commented on #13995
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_4-slc7_amd64_gcc530/361
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-09 02:34] cmsbuild commented on #13995
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_4/slc7_amd64_gcc530/614/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-09 02:55] cmsbuild commented on #13995
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_4-slc6_amd64_gcc530/360
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-09 03:09] cmsbuild commented on #13995
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_4/slc6_amd64_gcc530/615/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-09 03:15] davidlange6 commented on #13995
release-notes

On 09 Apr 2016, at 05:09, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_4/slc6_amd64_gcc530/615/
To generate the release notes for the release write "release-notes since <previous-release>"

[2016-04-09 03:18] cmsbuild commented on #13995
Generating release notes since CMSSW_8_0_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-09 03:18] cmsbuild commented on #13995
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_4 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_4

Cheers,
cms-bot

You can also click <a hr

[2016-04-09 03:20] cmsbuild commented on #13995
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_4

[2016-04-10 02:05] bendavid commented on #13201
I have also seen this running madgraph btw (which runs python underneath anyway), though it seems to have no ill effect beyond the extra output.

[2016-04-10 07:42] davidlt commented on #13201
Went to cmsdev01 and executed python, didn't get this output. Looks like some internal failures/assert/unknown state maybe related to term cap database.

[2016-04-10 18:05] davidlt commented on #13818
Tested on CMSSW_8_1_X_2016-04-10-0000 and problem seems to solved. Closing.

[2016-04-10 18:05] #13818 closed

[2016-04-10 21:22] davidlt commented on #13924
I made C++1z (C++17) default on GCC 6. So far did not observe any particularly big issues. Closing.

[2016-04-10 21:22] #13924 closed

[2016-04-11 01:23] cmsbuild commented on #13995
The cleanup has started for slc6_amd64_gcc493

[2016-04-11 01:23] cmsbuild commented on #13995
The cleanup has started for slc6_amd64_gcc530

[2016-04-11 01:23] cmsbuild commented on #13995
The cleanup has started for slc7_amd64_gcc530

[2016-04-11 01:23] #13995 closed

[2016-04-11 01:24] cmsbuild commented on #13995
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_4-slc6_amd64_gcc530/328

[2016-04-11 01:24] cmsbuild commented on #13995
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_4-slc6_amd64_gcc493/327

[2016-04-11 12:44] #13858 closed

[2016-04-12 07:55] cmsbuild commented on #13995
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_4-slc7_amd64_gcc530/332

[2016-04-12 15:39] Dr15Jones commented on #11763
assign reco

[2016-04-12 15:43] smuzaffar commented on #13936
It is re-enabled https://github.com/cms-sw/cmssw/pull/14000 and looks good in the IB https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-04-11-1100/unitTestLogs/CommonTools/Utils

[2016-04-12 15:45] smuzaffar commented on #13936
+1

[2016-04-12 15:45] cmsbuild commented on #13936
This issue is fully signed and ready to be closed.

[2016-04-12 15:46] #13578 closed

[2016-04-12 15:47] #13403 closed

[2016-04-12 15:48] smuzaffar commented on #13629
@Dr15Jones , can we close this?

[2016-04-12 15:52] #13657 closed

[2016-04-12 15:53] #11717 closed

[2016-04-12 15:56] smuzaffar commented on #11057
assign core
@covarell , sorry for coming back to this very late. Is this still needed?

[2016-04-12 15:56] cmsbuild commented on #11057
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-12 15:58] smuzaffar commented on #11845
It is done here  #12960

[2016-04-12 15:58] #11845 closed

[2016-04-12 15:59] #12125 closed

[2016-04-12 16:01] #12233 closed

[2016-04-12 16:03] #12608 closed

[2016-04-12 16:04] #12694 closed

[2016-04-12 16:04] #12809 closed

[2016-04-12 16:05] #12842 closed

[2016-04-12 16:05] #12850 closed

[2016-04-12 16:05] #12896 closed

[2016-04-12 16:06] #13024 closed

[2016-04-12 16:11] boudoul opened #14038 "Request for an external Package SLHCUpgradeSimulations/Geometry"
As requested in the PR #13923 , could the two files from this PR namely :
1) SLHCUpgradeSimulations/Geometry/data/PhaseII/Flat/PixelSkimmedGeometry.txt
https://github.com/boudoul/cmssw/blob/workflowsp2_81X_localreco/SLHCUpgradeSimulations/Geometry/data/PhaseII/Flat/PixelSkimmedGeometry.txt
2)   SLHCUpgradeSimulations/Geometry/data/PhaseII/Tilted/PixelSkimmedGeometry.txt
https://github.com/boudoul/

[2016-04-12 16:11] cmsbuild commented on #14038
A new Issue was created by  @boudoul (boudoul).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-12 16:13] #13082 closed

[2016-04-13 07:10] covarell commented on #11057
Yes please! govoni is GEN convener since September 2015!!!

[2016-04-13 09:21] cbernet commented on #13201
Hi David, all, I got here by googling this printout :-)  I also have the problem.

[2016-04-13 09:25] davidlt commented on #13201
It's due to terminfo/termcap not matching up on your system and what's in CMSSW.

[2016-04-13 09:33] sdevissc opened #14045 "watchlist for sdevissc"
Hello,

Could it be possible to be on the watchlist for all packages in SimTracker/* ?

Thanks

Simon (strip simu contact)

[2016-04-13 09:36] cmsbuild commented on #14045
A new Issue was created by  @sdevissc .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-13 09:36] smuzaffar commented on #14045
assign core
@iahmad-khan , can you please take care of it

[2016-04-13 09:37] cmsbuild commented on #14045
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-13 09:44] iahmad-khan commented on #14045
done here
https://github.com/cms-sw/cms-bot/pull/661

[2016-04-13 09:46] smuzaffar commented on #14045
+1
thanks @iahmad-khan

[2016-04-13 09:47] cmsbuild commented on #14045
This issue is fully signed and ready to be closed.

[2016-04-13 09:47] #14045 closed

[2016-04-13 14:21] Dr15Jones commented on #13629
It can be closed

[2016-04-14 09:15] #13936 closed

[2016-04-14 09:16] #13209 closed

[2016-04-14 09:17] #13268 closed

[2016-04-14 09:17] #13210 closed

[2016-04-14 09:18] #13254 closed

[2016-04-14 09:18] #13629 closed

[2016-04-14 09:26] smuzaffar commented on #14038
@degano , can you please take care of it?

[2016-04-14 09:27] smuzaffar commented on #14038
assign externals

[2016-04-14 09:27] cmsbuild commented on #14038
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-14 10:11] degano commented on #14038
@boudoul @smuzaffar Done here: https://github.com/cms-sw/cmsdist/pull/2249.

[2016-04-14 10:11] #14038 closed

[2016-04-15 06:18] davidlt commented on #13201
I might fix it with arrival of GCC 6.1.0, but I am still debating with myself.

[2016-04-15 06:29] bendavid commented on #13201
Well this occurs on lxplus, which I think can safely be considered a "reference" system for running CMSSW.

[2016-04-15 07:15] davidlt commented on #13201
The build is never API/ABI stable and is never fully relocatable. We never test if packages we build pass tests (e.g. we don't even know if compiler, i.e. GCC, generates code in expected way). Doing `dnf/yum` `upgrade/update` can break it. Which recently happened on Fedora 22 builds where NSS was updated and finally it wasn't compatible with what we shipped as part of `bootstrap-bundle` package. Y

[2016-04-15 09:49] iahmad-khan opened #14084 "Xerces: New version 3.1.0 in CMSSW_8_1_X"
Requested: by @ianna
Requires:  mcdb 1.0.3
Requires:  tkonlinesw 4.1.0-1

The utm also need an update , the errors from utm log:

[code]

[2016-04-15 09:50] cmsbuild commented on #14084
A new Issue was created by  @iahmad-khan (Ijaz ahmad khan).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-15 10:27] smuzaffar commented on #14084
assign externals
@mulhearn and @tmatsush

[2016-04-15 10:29] cmsbuild commented on #14084
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-15 13:59] tmatsush commented on #14084
A new tag, r44601-xsd330, has been created to be compatible with 81X with Xerces-3.1
Makefile has been updated to exit with error code as well.

Also, another tag has been created for 80X with Xerces-2.8 and will create another issue for this update.

[2016-04-15 14:24] cferraio opened #14093 "Can't pull packages with cms add-pkg"
Hi git experts,

I have managed to make a mess of my personal git world. I'm not sure what exactly I did, but I can explain the symptoms. Previously, when I would create a cmssw release area, I could simply checkout packages using "git cms-addpkg <package>", but now this isn't working. For example, the following commands produce nothing, whereas I usually would have been able to checkout the files

[2016-04-15 14:24] cmsbuild commented on #14093
A new Issue was created by  @cferraio (Chris Ferraioli).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-15 14:30] slava77 commented on #14093
maybe write to hn-cms-git@cern.ch instead?

[2016-04-15 14:31] cferraio commented on #14093
thanks slava, once again! will do.

[2016-04-15 15:38] smuzaffar commented on #14093
this was followed up https://hypernews.cern.ch/HyperNews/CMS/get/git/224.html

[2016-04-15 15:38] #14093 closed

[2016-04-15 22:19] kpedro88 opened #14105 "[FWCore] Feature request: Python script to generate C++ fillDescriptions code from config"
In general, it's easier to write a Python config for a producer than to write the corresponding fillDescriptions C++ code. There are some not-quite-obvious rules for fillDescriptions (https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideConfigurationValidationAndHelp) that could be automatically followed by a Python script taking a Python config as input.

I recently encountered a use case for su

[2016-04-15 22:21] cmsbuild commented on #14105
A new Issue was created by  @kpedro88 (Kevin Pedro).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-16 16:35] davidlt opened #14110 "SiStripDigitizer (invalid reads), exception: [SiStripThreshold::getData] asking for data for a strip 0 lower then the first stored strip 0"
There are two unit tests failing in DEVEL IBs:
- `runtestRecoLocalCaloHGCalRecProducers` (`RecoLocalCalo/HGCalRecProducers`)
- `runtestSimCalorimetryHGCalSimProducers` (`SimCalorimetry/HGCalSimProducers`)

[code]

[code]

jemalloc is newer in DEVEL IB, thus first thought that something most likely depends on random garbage in memory. Quick valgrind run shows that we have invalid reads from the fol

[2016-04-16 16:35] cmsbuild commented on #14110
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-16 16:38] davidlt commented on #14110
@civanch @mdhildreth @ianna @ggovi

[2016-04-17 07:26] davidlt opened #14113 "Geometry and mixed case files (causes issues with git clone on OSX)"
If you check out CMSSW on OSX/Darwin you automatically get the following files modified:
[code]
Then looking:
[code]

Seems that we have 3 files with identical naming, but only difference being **Dev** and **dev** in file name. Please rename the files to avoid issues with `git clone` on Journaled HFS+ file systems.

[2016-04-17 07:27] cmsbuild commented on #14113
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-17 07:27] davidlt commented on #14113
assign geometry

[2016-04-17 07:27] cmsbuild commented on #14113
New categories assigned: geometry

@Dr15Jones,@ianna,@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-18 19:20] davidlt opened #14127 "edmWriteConfigs segfaults libTestProducerWithPSetDesc.so (Invalid read of size 8)"
GCC 6.0.1 (`slc6_amd64_gcc600`) started failing.

The following command segfaults with `-02` or higher optimisation:
[code]

[code]

Quick valgrind run:
[code]

[2016-04-18 19:22] cmsbuild commented on #14127
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-18 19:24] davidlt commented on #14127
assign core

[2016-04-18 19:24] cmsbuild commented on #14127
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-18 20:13] Dr15Jones commented on #14127
@wddgit could you take a look?

[2016-04-19 07:48] davidlange6 opened #14133 "Build CMSSW_8_0_3_patch2"
Primary reason for release: Fast sim memory leak fix

[2016-04-19 07:52] cmsbuild commented on #14133
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-19 07:58] davidlange6 commented on #14133
+1

[2016-04-19 07:59] cmsbuild commented on #14133
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_3_patchX

[2016-04-19 07:59] cmsbuild commented on #14133
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-19 08:00] cmsbuild commented on #14133
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/608/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-19 08:00] davidlt commented on #14110
Is anyone looking into these?

[2016-04-19 08:04] cmsbuild commented on #14133
The build has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/609/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-19 08:07] cmsbuild commented on #14133
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/610/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-19 08:34] cmsbuild commented on #14133
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch2-slc6_amd64_gcc493/608
Some tes

[2016-04-19 08:39] cmsbuild commented on #14133
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch2-slc6_amd64_gcc530/610
Some tes

[2016-04-19 08:53] cmsbuild commented on #14133
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch2-slc7_amd64_gcc530/609
Some tes

[2016-04-19 08:58] davidlt commented on #14127
Looks like this is causing more failures. I built it locally and found the following failing with the same stack trace:
[code]

[2016-04-19 08:59] cmsbuild commented on #14133
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch2-slc6_amd64_gcc530/610

Tests results:
140.53_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN  - time date Tue Apr 19 10:43:17 2016-date Tue Apr 19 10:43:09 2016; exit: 1 0 0
9 9 8 7 5 1 1 tests passed, 1 0 0

[2016-04-19 09:00] cmsbuild commented on #14133
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch2-slc6_amd64_gcc493/608

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-19 09:08] davidlange6 commented on #14133
upload all

[2016-04-19 09:08] cmsbuild commented on #14133
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-19 09:08] cmsbuild commented on #14133
Queing Jenkins upload for slc6_amd64_gcc530

[2016-04-19 09:08] cmsbuild commented on #14133
Queing Jenkins upload for slc7_amd64_gcc530

[2016-04-19 09:09] cmsbuild commented on #14133
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/362/console

[2016-04-19 09:09] cmsbuild commented on #14133
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/363/console

[2016-04-19 09:09] cmsbuild commented on #14133
The upload has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/364/console

[2016-04-19 09:27] cmsbuild commented on #14133
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch2-slc7_amd64_gcc530/609

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-19 09:31] civanch commented on #14110
@bsunanda, @kpedro88, @lgray - one of the issues is in libGeometryHcalCommonData.so
Can you , please, have a look

[2016-04-19 09:36] iahmad-khan commented on #14084
I have tried it with 81X using Xerces-3.1 , but it still results in errors:
[code]

[2016-04-19 09:39] civanch commented on #14110
@boudoul , who now may be responsible for pluginSimTrackerSiStripDigitizerPlugins.so and libSimTrackerSiStripDigitizer.so ? (@mdhildreth or me can have a look but better if an expert do).

[2016-04-19 09:42] cmsbuild commented on #14133
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch2-slc6_amd64_gcc493/362
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-19 09:53] cmsbuild commented on #14133
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch2/slc6_amd64_gcc493/616/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-19 10:05] cmsbuild commented on #14133
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch2-slc6_amd64_gcc530/363
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-19 10:10] cmsbuild commented on #14133
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch2/slc6_amd64_gcc530/617/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-19 10:32] cmsbuild commented on #14133
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch2-slc7_amd64_gcc530/364
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-19 10:38] cmsbuild commented on #14133
The was error installing slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch2/slc7_amd64_gcc530/618/

[2016-04-19 10:46] cmsbuild commented on #14133
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch2/slc7_amd64_gcc530/619/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-19 12:35] boudoul commented on #14110
hi , could someone give me a recipe how to run the unit tests which are crashing in this DEVEL  IB ? I would need to reproduce ... thanks

[2016-04-19 12:38] davidlange6 commented on #14133
release-notes

[2016-04-19 12:38] davidlt commented on #14110
[code]

[2016-04-19 12:39] cmsbuild commented on #14133
Generating release notes since CMSSW_8_0_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-19 12:39] cmsbuild commented on #14133
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_3_patch2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_3_patch2

Primary reason for re

[2016-04-19 12:40] cmsbuild commented on #14133
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3_patch2

[2016-04-19 13:14] boudoul commented on #14110
OK , I took a look, an even if usually I'm happy to help, here I'm a bit reluctant ; This unit test is based on scenario which is mixing phase2 hgcal, phase1 pixel, run2 outer tracker, other run2 whatever stuff using on top if this the run2 era and phase2 customize......
So in short a mix of everything and clearly not something (at least the Tracker) is supporting .. Maybe one should ask the origi

[2016-04-19 16:32] civanch commented on #14110
@kpedro88 , who did this cfg.py?

[2016-04-19 16:36] kpedro88 commented on #14110
@civanch - definitely not me... @lgray?

[2016-04-19 16:44] civanch commented on #14110
@lgray, likely it is your development, can you clarify?

[2016-04-19 17:45] lgray commented on #14110
Hi, iirc this is fixed in one of the PRs that just got merged.
If not, it's pretty straightforward to switch to the phase 2 tracker +
HGCal geometries that will be in place in the next IBs.

-L

On Tue, Apr 19, 2016 at 6:44 PM, Vladimir Ivantchenko <
notifications@github.com> wrote:

[2016-04-19 17:49] davidlt commented on #14110
Well, then I suggest to wait for next 1 or 2 IBs and see if it's resolved.

[2016-04-19 20:52] davidlange6 opened #14154 "Build CMSSW_8_0_5"

[2016-04-19 20:52] cmsbuild commented on #14154
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-19 21:13] davidlange6 commented on #14154
+1

On 19 Apr 2016, at 22:52, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

Request received. I will start to build the release after one of the following approve the issue: @smuzaffar<https://github.com/smuzaffar>, @degano<https://github.com/degano>, @slava77<https://github.com/slava77>, @davidlange6<https://github.com/davidlange6>. You can do this by writing "+1" i

[2016-04-19 21:13] cmsbuild commented on #14154
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-04-19 21:13] cmsbuild commented on #14154
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-19 21:14] cmsbuild commented on #14154
The build has started for slc7_amd64_gcc530 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/611/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-19 22:05] wddgit commented on #14127
I tried this and reproduced the problem. I also reproduced the behavior that
the problem did not occur compiling with -g -O0 options.

I put in a print statement right after the call to make_unique as follows:

  ParameterSetDescription::add(U const& iLabel, T const& value, bool isTracked, bool isOptional, bool writeToCfi) {

    std::unique_ptr<ParameterDescriptionNode> node = std::make_unique<Pa

[2016-04-20 00:08] cmsbuild commented on #14154
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/612/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-20 00:46] cmsbuild commented on #14154
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/613/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-20 03:03] cmsbuild commented on #14154
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc6_amd64_gcc493/612
Some tests ( ru

[2016-04-20 03:20] cmsbuild commented on #14154
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc6_amd64_gcc493/612

Tests results:
10 7 5 4 3 0 0 tests passed, 0 3 1 0 0 0 0 failed

[2016-04-20 05:15] cmsbuild commented on #14154
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc6_amd64_gcc530/613
Some tests ( ru

[2016-04-20 05:31] cmsbuild commented on #14154
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc6_amd64_gcc530/613

Tests results:
10 7 5 4 3 0 0 tests passed, 0 3 1 0 0 0 0 failed

[2016-04-20 06:14] cmsbuild commented on #14154
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc7_amd64_gcc530/611
Some tests ( ru

[2016-04-20 06:47] davidlange6 commented on #14154
abort

[2016-04-20 06:48] cmsbuild commented on #14154
Deleting CMSSW_8_0_5:

  -Release successfully deleted

  -cmssw tag CMSSW_8_0_5 successfully deleted.

  -cmsdist tag REL/CMSSW_8_0_5/slc6_amd64_gcc530 successfully deleted.

  -cmsdist tag REL/CMSSW_8_0_5/slc6_amd64_gcc493 successfully deleted.

  -cmsdist tag REL/CMSSW_8_0_5/slc7_amd64_gcc530 successfully deleted.

You must create a new issue to start over the build.

[2016-04-20 06:49] cmsbuild commented on #14154
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc7_amd64_gcc530/611

Tests results:
10 7 5 4 3 0 0 tests passed, 0 3 1 0 0 0 0 failed

[2016-04-20 06:51] #14154 closed

[2016-04-20 07:50] davidlange6 opened #14157 "Build CMSSW_8_0_5"
Try again...

[2016-04-20 07:51] cmsbuild commented on #14157
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-20 07:51] davidlange6 commented on #14157
+1

[2016-04-20 07:52] cmsbuild commented on #14157
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-04-20 07:52] cmsbuild commented on #14157
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-20 07:53] cmsbuild commented on #14157
The build has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/614/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-20 07:53] cmsbuild commented on #14157
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/615/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-20 07:54] cmsbuild commented on #14157
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/616/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-20 10:10] cmsbuild commented on #14157
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc6_amd64_gcc493/615
Some tests ( ru

[2016-04-20 10:37] cmsbuild commented on #14157
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc6_amd64_gcc493/615

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-20 11:56] cmsbuild commented on #14157
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc6_amd64_gcc530/616
Some tests ( ru

[2016-04-20 12:02] davidlange6 commented on #14157
upload all

[2016-04-20 12:02] cmsbuild commented on #14157
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-20 12:02] cmsbuild commented on #14157
Queing Jenkins upload for slc6_amd64_gcc530

[2016-04-20 12:03] cmsbuild commented on #14157
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/365/console

[2016-04-20 12:03] cmsbuild commented on #14157
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/366/console

[2016-04-20 12:19] cmsbuild commented on #14157
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc6_amd64_gcc530/616

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-20 12:33] davidlange6 opened #14167 "Build CMSSW_7_6_5"
Consolidate new analysis and alignment requests accumulated over the last 6 weeks

[2016-04-20 12:33] davidlange6 commented on #14167
+1

[2016-04-20 12:34] cmsbuild commented on #14167
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-20 12:34] cmsbuild commented on #14167
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2016-04-20 12:34] cmsbuild commented on #14167
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2016-04-20 12:35] cmsbuild commented on #14167
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/617/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-20 12:37] cmsbuild commented on #14167
The build has started for slc7_amd64_gcc493 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/618/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-20 12:55] cmsbuild commented on #14157
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_5-slc6_amd64_gcc493/365
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-20 13:14] cmsbuild commented on #14157
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_5/slc6_amd64_gcc493/620/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-20 13:49] cmsbuild commented on #14157
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_5-slc6_amd64_gcc530/366
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-20 14:00] davidlange6 commented on #14157
release-notes

[2016-04-20 14:01] cmsbuild commented on #14157
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-04-20 14:04] cmsbuild commented on #14157
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_5/slc6_amd64_gcc530/621/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-20 14:04] cmsbuild commented on #14157
Generating release notes since CMSSW_8_0_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-20 14:04] cmsbuild commented on #14157
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_5 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_5

Try again...

Cheers,
cms-bot

You can also click <a href="mailto:

[2016-04-20 14:07] cmsbuild commented on #14157
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_5

[2016-04-20 14:44] cmsbuild commented on #14157
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc7_amd64_gcc530/614
Some tests ( ru

[2016-04-20 14:44] cmsbuild commented on #14157
Queing Jenkins upload for slc7_amd64_gcc530

[2016-04-20 14:45] cmsbuild commented on #14157
The upload has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/367/console

[2016-04-20 15:13] cmsbuild commented on #14167
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_5-slc6_amd64_gcc493/617
Some tests ( ru

[2016-04-20 15:30] cmsbuild commented on #14157
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_5-slc7_amd64_gcc530/367
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-20 15:32] cmsbuild commented on #14167
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_5-slc6_amd64_gcc493/617

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-20 15:38] davidlange6 commented on #14167
upload all

[2016-04-20 15:39] cmsbuild commented on #14167
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-20 15:39] cmsbuild commented on #14167
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/368/console

[2016-04-20 15:48] cmsbuild commented on #14157
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5-slc7_amd64_gcc530/614

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-20 15:50] cmsbuild commented on #14157
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_5/slc7_amd64_gcc530/622/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-20 15:52] wddgit commented on #14127
One thing I noticed. If change

    std::unique_ptr<ParameterDescriptionNode> node = std::make_unique<ParameterDescription<T>>(iLabel, value, isTracked);
    ParameterDescriptionNode* pnode = addNode(std::move(node), isOptional, writeToCfi);

to

    ParameterDescriptionNode* pnode = addNode(std::make_unique<ParameterDescription<T>>(iLabel, value, isTracked), isOptional, writeToCfi);

Then it work

[2016-04-20 16:16] davidlt commented on #14127
I started looking at myself this morning, but had to stop. GCC 5.3.0 valgrind and ASan is showing nothing. GCC 6.0.1 ASan explodes:
[code]
Looking at the assembly expected. For sure the problem is one frame up from `edm::ParameterSetDescription::addNode`.

The above frame is huge in terms of assembly and the diff is above 10K lines. I didn't finish to analyse it.
The first strange thing which popp

[2016-04-20 16:29] cmsbuild commented on #14167
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_5-slc6_amd64_gcc493/368
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-20 16:30] davidlt commented on #14127
The issue seems to be on the first two page of my screen (in assembly). Diff between 530 and 601. 530 wasn't generating a call to `addNode` for 1000+ instructions, but it's done on 33rd instruction. Compiler reordered it? Not idea yet. Needs instruction by instruction debugging. Note with GCC 6.0.1 it also make allocation which wasn't before and makes a call to `ParameterTypeToEnum::toEnum<bool>`.

[2016-04-20 16:45] cmsbuild commented on #14167
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_5/slc6_amd64_gcc493/623/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-20 17:23] cmsbuild commented on #14167
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_5-slc7_amd64_gcc493/618
Some tests ( ru

[2016-04-20 17:26] cmsbuild commented on #14167
Queing Jenkins upload for slc7_amd64_gcc493

[2016-04-20 17:27] cmsbuild commented on #14167
The upload has started for slc7_amd64_gcc493 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/369/console

[2016-04-20 18:01] cmsbuild commented on #14167
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_5-slc7_amd64_gcc493/618

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-20 18:16] cmsbuild commented on #14167
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_5-slc7_amd64_gcc493/369
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-20 18:34] cmsbuild commented on #14167
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_5/slc7_amd64_gcc493/624/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-20 19:30] wddgit commented on #14127
It looks to me like the big difference in the diff above is what is inlined and what is not inlined.
In your diff in 530 add<bool ...> is called, but in 601 it is inlined. I do not understand
assembly, so as to a line by line debugging I cannot help unless I spend a huge amount of
time learning about assembly language.

[2016-04-21 08:33] davidlt commented on #14127
I quickly looked at this this morning (rushed, so it contains probably a number of mistakes), but here is a quick look to the failure.
[code]

[2016-04-21 09:26] davidlt commented on #14110
I still see the same failure in `RecoLocalCalo/HGCalRecProducers` in the latest DEVEL IB, `CMSSW_8_1_DEVEL_X_2016-04-20-2300`.

[2016-04-21 09:29] davidlt commented on #14113
ping^1

[2016-04-21 09:46] lgray commented on #14110
Working on it.

[2016-04-21 09:47] bsunanda commented on #14110
I believe this is the python file which is to be updated for customizing to PhaseI detector for tracker and Phase2 for everything else
________________________________
From: davidlt [notifications@github.com]
Sent: 21 April 2016 11:26
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] SiStripDigitizer (invalid reads), exception: [SiStripThreshold::getData] asking for data f

[2016-04-21 10:07] lgray commented on #14110
Hi, if I try to use the Phase2 era and LReco geometry I get the following exception:
[code]

Any hints? Thanks!

[2016-04-21 10:41] lgray commented on #14110
OK - found the customize thanks to @kpedro88 Submitting a PR.

[2016-04-21 10:44] lgray commented on #14110
Fixed in https://github.com/cms-sw/cmssw/pull/14180

[2016-04-21 10:53] cmsbuild commented on #14133
The cleanup has started for slc6_amd64_gcc493

[2016-04-21 10:53] cmsbuild commented on #14133
The cleanup has started for slc6_amd64_gcc530

[2016-04-21 10:53] cmsbuild commented on #14133
The cleanup has started for slc7_amd64_gcc530

[2016-04-21 10:53] #14133 closed

[2016-04-21 10:54] cmsbuild commented on #14133
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch2-slc6_amd64_gcc493/333

[2016-04-21 10:55] cmsbuild commented on #14133
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch2-slc6_amd64_gcc530/334

[2016-04-21 10:58] cmsbuild commented on #14133
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch2-slc7_amd64_gcc530/335

[2016-04-21 11:08] davidlt commented on #14127
We have opened a BZ ticket for GCC not combining `mov` + `callq` (regression) for indirect calls. This doesn't affect this problem we have, but I discovered this while looking into this problem. Thus making a note about it here.

Ticket: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=70750

This probably will stay as P3. I don't expect this to be any kind of blocker for final 6.1.0.

[2016-04-21 12:52] davidlange6 opened #14185 "Build CMSSW_8_0_3_patch3"
Primary reason: Fastsim uninitialized memory bug fix

[2016-04-21 12:53] cmsbuild commented on #14185
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-21 12:53] davidlange6 commented on #14185
+1

[2016-04-21 12:53] cmsbuild commented on #14185
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_3_patchX

[2016-04-21 12:53] cmsbuild commented on #14185
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-21 12:53] davidlange6 commented on #14167
release-notes

[2016-04-21 12:54] cmsbuild commented on #14167
Generating release notes since CMSSW_7_6_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-21 12:54] cmsbuild commented on #14167
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_6_5 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_5

Consolidate new analysis and alignment requests accumulated over t

[2016-04-21 12:55] cmsbuild commented on #14167
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_5

[2016-04-21 12:57] cmsbuild commented on #14185
The build has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/619/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 13:08] cmsbuild commented on #14185
The build has started for slc7_amd64_gcc530 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/620/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 13:31] cmsbuild commented on #14185
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc493/619
Some tes

[2016-04-21 13:47] davidlange6 commented on #14185
abort

[2016-04-21 13:48] cmsbuild commented on #14185
Deleting CMSSW_8_0_3_patch3:

  -Release successfully deleted

  -cmssw tag CMSSW_8_0_3_patch3 successfully deleted.

  -Aborting Jenkins build for slc7_amd64_gcc530

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_3_patch3/slc6_amd64_gcc530. Probably it had not been created.

  -cmsdist tag REL/CMSSW_8_0_3_patch3/slc6_amd64_gcc493 successfully deleted.

  -I was not able to delete the c

[2016-04-21 13:57] cmsbuild commented on #14185
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc493/619

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-21 13:58] cmsbuild commented on #14185
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/621/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 13:59] #14185 closed

[2016-04-21 14:06] cmsbuild commented on #14185
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc7_amd64_gcc530/620
Some tes

[2016-04-21 14:08] davidlange6 opened #14188 "Build CMSSW_8_0_3_patch3"

[2016-04-21 14:09] cmsbuild commented on #14188
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-21 14:09] davidlange6 commented on #14188
+1

[2016-04-21 14:09] cmsbuild commented on #14188
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_3_patchX

[2016-04-21 14:09] cmsbuild commented on #14188
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-21 14:10] cmsbuild commented on #14188
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/622/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 14:11] cmsbuild commented on #14188
The build has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/623/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 14:14] cmsbuild commented on #14188
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/624/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 14:31] cmsbuild commented on #14185
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc530/621
Some tes

[2016-04-21 14:45] cmsbuild commented on #14188
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc493/622
Some tes

[2016-04-21 14:48] cmsbuild commented on #14188
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc530/624

[2016-04-21 14:51] cmsbuild commented on #14185
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc7_amd64_gcc530/620

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-21 14:51] davidlange6 commented on #14188
abort
(weird, but maybe caused by the previous abort??)

[2016-04-21 14:51] cmsbuild commented on #14185
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc530/621

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-21 14:52] cmsbuild commented on #14188
Deleting CMSSW_8_0_3_patch3:

  -Release successfully deleted

  -cmssw tag CMSSW_8_0_3_patch3 successfully deleted.

  -Aborting Jenkins build for slc7_amd64_gcc530

  -cmsdist tag REL/CMSSW_8_0_3_patch3/slc6_amd64_gcc530 successfully deleted.

  -cmsdist tag REL/CMSSW_8_0_3_patch3/slc6_amd64_gcc493 successfully deleted.

  -cmsdist tag REL/CMSSW_8_0_3_patch3/slc7_amd64_gcc530 successfully delete

[2016-04-21 14:56] davidlt commented on #14188
This had happen with pre2 on ARMv8 before. IIRC, then you did abort while build was in progress. So, continued (speculation) and the tag was committed to the repository after "abort" deleted (or not) them. Next build then failed because the tag was already in repository and git doesn't do push force by default.

[2016-04-21 15:00] cmsbuild commented on #14188
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc7_amd64_gcc530/623

[2016-04-21 15:01] #14188 closed

[2016-04-21 15:01] davidlange6 commented on #14188
ok, so i should try again or do I need expert help?

[2016-04-21 15:10] cmsbuild commented on #14188
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc493/622

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-21 15:12] davidlt commented on #14188
Just double check and delete stale tags on CMSDIST repository: https://github.com/cms-sw/cmsdist/releases Plus, double check that all the jobs are really stopped. As you can see the jobs are still running and "abort" didn't stop them. It looks like abort does not stop things which are in-flight, so it works properly only once everything is done (releases are build) and you either upload or abort.

[2016-04-21 15:16] davidlt commented on #14188
At first glance all build-release jobs are finished. All tags are gone `git tag -l | grep CMSSW_8_0_3_patch3` (empty). Some validations might still be running (as you can see). So it looks to be good for building.

[2016-04-21 17:55] davidlange6 opened #14194 "Build CMSSW_8_0_3_patch3"

[2016-04-21 17:56] cmsbuild commented on #14194
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-21 17:56] davidlange6 commented on #14194
+1

[2016-04-21 17:56] cmsbuild commented on #14194
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_3_patchX

[2016-04-21 17:56] cmsbuild commented on #14194
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-21 17:57] cmsbuild commented on #14194
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/626/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 17:58] cmsbuild commented on #14194
The build has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/625/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 17:59] cmsbuild commented on #14194
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/627/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 18:30] cmsbuild commented on #14194
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc493/626
Some tes

[2016-04-21 18:31] cmsbuild commented on #14194
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc530/627
Some tes

[2016-04-21 18:35] davidlt commented on #14127
The fix for PR target/70750 will most likely land this night into GCC trunk and gcc6 branch. The patch already received ACK, but still required RM approval for GCC 6 branch.

I am almost done with bisecting GCC for the main issue.

[2016-04-21 18:51] cmsbuild commented on #14194
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc7_amd64_gcc530/625
Some tes

[2016-04-21 18:52] cmsbuild commented on #14194
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc530/627

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-21 18:54] cmsbuild commented on #14194
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc493/626

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-21 19:22] cmsbuild commented on #14194
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc7_amd64_gcc530/625

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-21 19:54] davidlange6 commented on #14194
upload all

On 21 Apr 2016, at 21:22, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch3-slc7_amd64_gcc530/625

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
You are receiving this because you wer

[2016-04-21 19:54] cmsbuild commented on #14194
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-21 19:54] cmsbuild commented on #14194
Queing Jenkins upload for slc6_amd64_gcc530

[2016-04-21 19:54] cmsbuild commented on #14194
Queing Jenkins upload for slc7_amd64_gcc530

[2016-04-21 19:55] cmsbuild commented on #14194
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/370/console

[2016-04-21 19:55] cmsbuild commented on #14194
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/371/console

[2016-04-21 19:56] cmsbuild commented on #14194
The upload has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/372/console

[2016-04-21 20:16] davidlange6 opened #14199 "Build CMSSW_8_1_0_pre3"

[2016-04-21 20:16] cmsbuild commented on #14199
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-21 20:17] davidlange6 commented on #14199
+1

[2016-04-21 20:17] cmsbuild commented on #14199
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-04-21 20:17] cmsbuild commented on #14199
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc530, fc22_ppc64le_gcc530, slc6_amd64_gcc493, slc7_amd64_gcc530, slc6_amd64_gcc600
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building

[2016-04-21 20:19] cmsbuild commented on #14199
The build has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/628/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 20:19] cmsbuild commented on #14199
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/629/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 20:20] cmsbuild commented on #14199
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/630/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 20:33] cmsbuild commented on #14199
The build has started for slc6_amd64_gcc600 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/631/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 20:40] cmsbuild commented on #14194
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc493/370
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-21 20:40] davidlt commented on #14127
Seems to caused  by 7ae97ba6651703d99d9f0e20a4e48eb7743c103c (r231498), last good 6c2acfc4892316b46df0fe4a6769fb6766ab1e0b (r231497).

I have found no significant changes in `edmtest::ProducerWithPSetDesc::fillDescriptions(edm::ConfigurationDescriptions&)` symbol that could cause this. It's only offsets which are different.

Thus, I know that something goes bad after closed function `<std::_MakeUn

[2016-04-21 20:49] cmsbuild commented on #14194
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch3/slc6_amd64_gcc493/625/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-21 20:59] cmsbuild commented on #14194
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch3-slc6_amd64_gcc530/371
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-21 21:04] cmsbuild commented on #14194
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch3/slc6_amd64_gcc530/626/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-21 21:35] tmatsush commented on #14084
Sorry, I was testing against xerces-c-3.0
Is there any testing environment for xerces-c-3.1 ?

[2016-04-21 21:40] davidlt commented on #14084
Download and build locally for testing 3.1.3. I see Fedora 23 is also shipping 3.1.3, thus it's as easy as installing xerces-c-devel package on Fedora 23 or 24.

[2016-04-21 22:23] cmsbuild commented on #14194
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch3-slc7_amd64_gcc530/372
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-21 22:28] cmsbuild commented on #14194
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch3/slc7_amd64_gcc530/627/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-21 22:37] cmsbuild commented on #14199
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/632/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-21 23:42] cmsbuild commented on #14199
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc6_amd64_gcc493/629
Some tests

[2016-04-22 00:00] cmsbuild commented on #14199
The was an error for slc6_amd64_gcc600.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc6_amd64_gcc600/631

[2016-04-22 00:09] cmsbuild commented on #14199
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc6_amd64_gcc493/629

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-22 01:38] cmsbuild commented on #14199
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc6_amd64_gcc530/630
Some tests

[2016-04-22 02:01] cmsbuild commented on #14199
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc6_amd64_gcc530/630

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-22 02:45] cmsbuild commented on #14199
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc7_amd64_gcc530/628
Some tests

[2016-04-22 03:23] cmsbuild commented on #14199
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc7_amd64_gcc530/628

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-22 06:41] davidlt commented on #14127
The fix for missed optimisation was committed to trunk (GCC 7) last night, but still waits for RM approval for GCC 6 branch.

https://github.com/gcc-mirror/gcc/commit/fd3211e13bbbb6882f477aa75a36eb0ccdec485f

Now our miscomputation seems to be caused by `-fipa-pta`, which is known for generating wrong code thus it's never enabled by default on any optimisation level.
[code]
It's responsible for "l

[2016-04-22 07:06] davidlange6 commented on #14199
upload all

[2016-04-22 07:06] davidlange6 commented on #14194
release-notes

[2016-04-22 07:08] cmsbuild commented on #14199
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-22 07:08] cmsbuild commented on #14199
Queing Jenkins upload for slc6_amd64_gcc530

[2016-04-22 07:08] cmsbuild commented on #14199
Queing Jenkins upload for slc7_amd64_gcc530

[2016-04-22 07:09] cmsbuild commented on #14194
Generating release notes since CMSSW_8_0_3_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-22 07:09] cmsbuild commented on #14194
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_3_patch3 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_3_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_3_patch3

Cheers,
cms-bot

You

[2016-04-22 07:10] cmsbuild commented on #14199
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/373/console

[2016-04-22 07:10] cmsbuild commented on #14199
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/374/console

[2016-04-22 07:11] cmsbuild commented on #14199
The upload has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/375/console

[2016-04-22 07:12] cmsbuild commented on #14194
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3_patch3

[2016-04-22 07:41] cmsbuild commented on #14199
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre3-slc6_amd64_gcc493/373
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-22 07:59] cmsbuild commented on #14199
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc7_aarch64_gcc530/632
Some t

[2016-04-22 08:00] cmsbuild commented on #14199
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-04-22 08:00] cmsbuild commented on #14199
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/376/console

[2016-04-22 08:02] cmsbuild commented on #14199
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre3/slc6_amd64_gcc493/628/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-04-22 08:12] cmsbuild commented on #14199
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre3-slc7_amd64_gcc530/375
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-22 08:29] cmsbuild commented on #14199
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre3/slc7_amd64_gcc530/629/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-04-22 08:32] davidlange6 commented on #14199
release-notes

[2016-04-22 08:32] cmsbuild commented on #14199
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-04-22 08:46] cmsbuild commented on #14199
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-slc7_aarch64_gcc530/632

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-22 08:52] cmsbuild commented on #14199
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre3-slc6_amd64_gcc530/374
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-22 08:58] davidlange6 opened #14203 "Build CMSSW_8_0_5_patch1"
fix for HCAL unpacker to avoid laser data

[2016-04-22 08:58] cmsbuild commented on #14203
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-22 08:58] davidlange6 commented on #14203
+1

[2016-04-22 08:59] cmsbuild commented on #14203
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_5_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-04-22 08:59] cmsbuild commented on #14203
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-22 09:00] davidlange6 commented on #14203
+1

[2016-04-22 09:01] cmsbuild commented on #14203
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/633/console
CMSDIST Branch: [REL/CMSSW_8_0_5/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_5/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-22 09:01] cmsbuild commented on #14203
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/634/console
CMSDIST Branch: [REL/CMSSW_8_0_5/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_5/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-22 09:01] cmsbuild commented on #14203
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/635/console
CMSDIST Branch: [REL/CMSSW_8_0_5/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_5/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-22 09:07] cmsbuild commented on #14199
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre3/slc6_amd64_gcc530/630/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-04-22 09:08] cmsbuild commented on #14199
Generating release notes since CMSSW_8_1_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-22 09:08] cmsbuild commented on #14199
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre3 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_1_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre3

Cheers,
cms-bot

You can also cl

[2016-04-22 09:14] cmsbuild commented on #14199
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre3

[2016-04-22 09:30] cmsbuild commented on #14199
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre3-slc7_aarch64_gcc530/376
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-22 10:16] cmsbuild commented on #14203
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5_patch1-slc6_amd64_gcc493/634
Some tes

[2016-04-22 10:40] cmsbuild commented on #14203
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5_patch1-slc6_amd64_gcc493/634

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-22 10:58] davidlange6 commented on #14203
upload all

On 22 Apr 2016, at 12:40, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5_patch1-slc6_amd64_gcc493/634

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
You are receiving this because you wer

[2016-04-22 10:59] cmsbuild commented on #14203
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-22 10:59] cmsbuild commented on #14203
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/377/console

[2016-04-22 11:05] cmsbuild commented on #14203
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5_patch1-slc7_amd64_gcc530/633
Some tes

[2016-04-22 11:05] cmsbuild commented on #14203
Queing Jenkins upload for slc7_amd64_gcc530

[2016-04-22 11:06] cmsbuild commented on #14203
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/378/console

[2016-04-22 11:41] cmsbuild commented on #14203
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5_patch1-slc7_amd64_gcc530/633

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-22 11:45] cmsbuild commented on #14203
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5_patch1-slc6_amd64_gcc530/635
Some tes

[2016-04-22 11:46] cmsbuild commented on #14203
Queing Jenkins upload for slc6_amd64_gcc530

[2016-04-22 11:46] cmsbuild commented on #14203
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/379/console

[2016-04-22 11:47] cmsbuild commented on #14199
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/636/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-22 12:08] cmsbuild commented on #14203
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_5_patch1-slc6_amd64_gcc530/635

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-22 12:09] cmsbuild commented on #14157
The cleanup has started for slc6_amd64_gcc493

[2016-04-22 12:09] cmsbuild commented on #14157
The cleanup has started for slc6_amd64_gcc530

[2016-04-22 12:09] cmsbuild commented on #14157
The cleanup has started for slc7_amd64_gcc530

[2016-04-22 12:09] #14157 closed

[2016-04-22 12:10] cmsbuild commented on #14157
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_5-slc6_amd64_gcc493/336

[2016-04-22 12:10] cmsbuild commented on #14157
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_5-slc6_amd64_gcc530/337

[2016-04-22 12:17] cmsbuild commented on #14157
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_5-slc7_amd64_gcc530/338

[2016-04-22 12:21] cmsbuild commented on #14203
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_5_patch1-slc6_amd64_gcc493/377
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-22 12:25] cmsbuild commented on #14203
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_5_patch1/slc6_amd64_gcc493/631/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-22 12:29] davidlange6 commented on #14203
release-notes

[2016-04-22 12:29] cmsbuild commented on #14203
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-04-22 12:57] deguio opened #14206 "Please add dmitrijus among those who can sign for DQM"
thanks,
F.

@vanbesien @dmitrijus

[2016-04-22 12:57] cmsbuild commented on #14206
A new Issue was created by  @deguio (Federico De Guio).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-22 13:44] cmsbuild commented on #14203
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_5_patch1/slc6_amd64_gcc530/632/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-22 13:45] cmsbuild commented on #14203
Generating release notes since CMSSW_8_0_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-22 13:45] cmsbuild commented on #14203
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_5_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_5_patch1

fix for HCAL unpacker to avoid laser data

Che

[2016-04-22 13:46] cmsbuild commented on #14203
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_5_patch1

[2016-04-22 14:18] cmsbuild commented on #14203
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_5_patch1-slc7_amd64_gcc530/378
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-22 14:23] cmsbuild commented on #14203
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_5_patch1/slc7_amd64_gcc530/633/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-04-22 14:59] Dr15Jones opened #14211 "MCMultiParticleFilter needs to be updated to multi-threaded framework"
A collaborator couldn't get MCMulitiParticleFilter to work becuase it doesn't have consumes:
https://hypernews.cern.ch/HyperNews/CMS/get/swDevelopment/3329.html

The trivial fix is to just add the following line to the constructor

[code]

The better solution would be to
1. Change this to be a `edm::stream::EDFilter<>`
2. Switch from `getByLabel` to `getByToken`
3. Remove the endJob printout and i

[2016-04-22 14:59] cmsbuild commented on #14211
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-22 14:59] Dr15Jones commented on #14211
assign generator

[2016-04-22 16:30] cmsbuild commented on #14199
The build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-fc22_ppc64le_gcc530/636
Some t

[2016-04-22 16:30] cmsbuild commented on #14199
Queing Jenkins upload for fc22_ppc64le_gcc530

[2016-04-22 16:31] cmsbuild commented on #14199
The upload has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/380/console

[2016-04-22 17:00] cmsbuild commented on #14199
The tests have finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre3-fc22_ppc64le_gcc530/636

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-22 17:15] Dr15Jones commented on #14211
assign generators

[2016-04-22 17:15] cmsbuild commented on #14211
New categories assigned: generators

@thuer,@covarell,@govoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-22 17:18] Dr15Jones opened #14216 "Make Event::triggerResultsByName work with consumes"
The function `Event::triggerResultsByName` was never made compatible with `consumes`.

[2016-04-22 17:18] cmsbuild commented on #14216
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-22 17:18] Dr15Jones commented on #14216
assign core

[2016-04-22 17:18] cmsbuild commented on #14216
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-22 17:19] Dr15Jones commented on #14216
@wddgit here is the issue related to https://hypernews.cern.ch/HyperNews/CMS/get/swDevelopment/3330.html

[2016-04-22 17:21] cmsbuild commented on #14199
The upload has successfully finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre3-fc22_ppc64le_gcc530/380
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-23 10:54] cmsbuild commented on #14167
The cleanup has started for slc6_amd64_gcc493

[2016-04-23 10:54] cmsbuild commented on #14167
The cleanup has started for slc7_amd64_gcc493

[2016-04-23 10:54] #14167 closed

[2016-04-23 10:55] cmsbuild commented on #14167
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_5-slc6_amd64_gcc493/339

[2016-04-23 10:57] davidlt commented on #14127
GCC ticket is here: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=70760

`CMSSW_8_1_X_2016-04-22-2300` was a successful IB in terms of compiling CMSSW. Closing this for now.

[2016-04-23 10:57] #14127 closed

[2016-04-23 11:00] cmsbuild commented on #14167
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_5-slc7_amd64_gcc493/340

[2016-04-23 11:01] davidlt opened #14219 "[GCC 6] ROOT6 dictionaries are missing "new_" and "newArray_" wrappers for std::pair in dictionary"
This is a tracking ticket for https://sft.its.cern.ch/jira/browse/ROOT-8138

We have a number of failures in unit test and RelVals due to not properly generated dictionary  for anything `std::pair` related. This seems to happen due to recent GNU C++ Standard Library improvement based for C++11 and above standards.

Simply put, seems that ROOT cannot find a proper default constructor to use, thus n

[2016-04-23 11:02] cmsbuild commented on #14219
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-23 15:29] Dr15Jones commented on #14127
@davidlt Nice work!

[2016-04-23 15:29] Dr15Jones commented on #14127
+1

[2016-04-23 15:29] cmsbuild commented on #14127
This issue is fully signed and ready to be closed.

[2016-04-23 16:02] Dr15Jones commented on #14219
assign core

[2016-04-23 16:02] cmsbuild commented on #14219
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-24 05:09] cmsbuild commented on #14194
The cleanup has started for slc6_amd64_gcc493

[2016-04-24 05:09] cmsbuild commented on #14194
The cleanup has started for slc6_amd64_gcc530

[2016-04-24 05:09] cmsbuild commented on #14194
The cleanup has started for slc7_amd64_gcc530

[2016-04-24 05:09] #14194 closed

[2016-04-24 05:10] cmsbuild commented on #14194
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch3-slc6_amd64_gcc493/341

[2016-04-24 05:11] cmsbuild commented on #14194
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch3-slc6_amd64_gcc530/342

[2016-04-24 05:15] cmsbuild commented on #14194
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch3-slc7_amd64_gcc530/343

[2016-04-24 06:39] cmsbuild commented on #14199
The cleanup has started for fc22_ppc64le_gcc530

[2016-04-24 06:39] cmsbuild commented on #14199
The cleanup has started for slc7_aarch64_gcc530

[2016-04-24 06:39] cmsbuild commented on #14199
The cleanup has started for slc6_amd64_gcc600

[2016-04-24 06:39] cmsbuild commented on #14199
The cleanup has started for slc6_amd64_gcc493

[2016-04-24 06:39] cmsbuild commented on #14199
The cleanup has started for slc6_amd64_gcc530

[2016-04-24 06:39] cmsbuild commented on #14199
The cleanup has started for slc7_amd64_gcc530

[2016-04-24 06:39] #14199 closed

[2016-04-24 06:42] cmsbuild commented on #14199
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre3-slc6_amd64_gcc493/345

[2016-04-24 06:42] cmsbuild commented on #14199
The workspace for fc22_ppc64le_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre3-fc22_ppc64le_gcc530/344

[2016-04-24 06:42] cmsbuild commented on #14199
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre3-slc6_amd64_gcc530/346

[2016-04-24 06:43] cmsbuild commented on #14199
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre3-slc7_aarch64_gcc530/348

[2016-04-24 06:49] cmsbuild commented on #14199
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre3-slc7_amd64_gcc530/349

[2016-04-24 06:50] cmsbuild commented on #14199
The workspace for slc6_amd64_gcc600 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre3-slc6_amd64_gcc600/347

[2016-04-24 10:39] cmsbuild commented on #14203
The cleanup has started for slc6_amd64_gcc493

[2016-04-24 10:40] cmsbuild commented on #14203
The cleanup has started for slc6_amd64_gcc530

[2016-04-24 10:40] cmsbuild commented on #14203
The cleanup has started for slc7_amd64_gcc530

[2016-04-24 10:40] #14203 closed

[2016-04-24 10:41] cmsbuild commented on #14203
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_5_patch1-slc6_amd64_gcc493/350

[2016-04-24 10:42] cmsbuild commented on #14203
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_5_patch1-slc6_amd64_gcc530/351

[2016-04-24 10:45] cmsbuild commented on #14203
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_5_patch1-slc7_amd64_gcc530/352

[2016-04-25 06:13] davidlt opened #14221 "Wrong memset usage in HistoData [Validation/RecoParticleFlow/bin/include/HistoData.h]"
Clang rightfully complains about:

[code]

This is wrong:

[code]

[2016-04-25 06:13] cmsbuild commented on #14221
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-25 06:13] davidlt commented on #14221
assign DQM

[2016-04-25 07:08] davidlt opened #14222 "StripClusterizerAlgorithm::allBadBetween is not needed (?)"
While looking into Clang warnings:

[code]

I looked at the code:

[code]

I looked all the way to:

[code]

I don't see `bad()` creating any side effects. If that is true, then `allBadBetween()` only does `return L == R`. Could this fragment of code be verified?

[2016-04-25 07:08] cmsbuild commented on #14222
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-25 07:08] davidlt commented on #14222
assign reconstruction

@VinInn

[2016-04-25 07:08] cmsbuild commented on #14222
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-25 08:12] davidlt commented on #14206
This, issue or pull request should be created against cms-bot repository.

@davidlange6 does this kind of request requires ACK from someone? Otherwise I can go ahead and make the change.

[2016-04-25 08:12] davidlt commented on #14206
assign core

[2016-04-25 08:12] cmsbuild commented on #14206
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-25 08:23] davidlange6 commented on #14206
yes it does - its good for me (which is to say, already discussed), so it can go ahead.

[2016-04-25 08:51] davidlt commented on #14206
Done: https://github.com/cms-sw/cms-bot/commit/4d9ade43301d9d0fd2c772132c0d042c374ecdb0

[2016-04-25 08:51] #14206 closed

[2016-04-25 10:39] radziej opened #14231 "[externals] davix 0.4 outdated"
In CMSSW_8_X the davix library has been added. However, it is not the latest version of davix 0.6, which you can see here: https://dmc.web.cern.ch/projects/davix/home
The installed, old 0.4 version results in a crash when calling the following command:

gfal-ls srm://grid-srm.physik.rwth-aachen.de:8443/srm/managerv2?SFN=/pnfs/physik.rwth-aachen.de/cms/store/user/radziej/PxlSkim/CMSSW_7_6_v1.0/ZToM

[2016-04-25 10:39] cmsbuild commented on #14231
A new Issue was created by  @radziej (Markus Radziej).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-25 10:55] davidlt commented on #14231
I would like to re-iterate that we don't provide ABI/API 100% packages with what is provided within distribution. `gfal` is for data transfers between sites IIRC. Why is that executed within CMSSW environment?

[2016-04-25 11:03] radziej commented on #14231
Because it is part of submitting an analysis to the T2 computing grid. For example checking and creating the necessary directory structure.

[2016-04-25 11:09] davidlt commented on #14231
Is this CRAB3? IIRC, the official guide says that one should use a separate terminal without CMSSW environment (or at least that was the idea).

[2016-04-25 11:15] radziej commented on #14231
It is part of our local script. You do your IO instructions with `gfal` and then use `glite` to submit the jobs.
I suppose one could disentangle all these scripts and call them manually in the right order, but is there any argument for keeping the old `davix` version? It is more than 2 years old.

[2016-04-25 11:23] davidlt commented on #14231
@radziej depends how it's being used and who is the maintainer for the package. Still, we cannot replace it any release CMSSW version. We can only make such change in newer releases.

@iahmad-khan who requested for `davix` external in CMSSW?

I am still a bit puzzled here. According to the error message you provided it tried to load `/usr/lib64/gfal2-plugins//libgfal_plugin_http.so` (which we don'

[2016-04-25 11:31] smuzaffar commented on #14231
@davidlt , it was requested by @bbockelm (https://github.com/cms-sw/cmssw/issues/12363#issuecomment-155547371 , https://github.com/cms-sw/cmssw/issues/12377)

[2016-04-25 11:32] radziej commented on #14231
Yes. It is trying to call a local library, which in turn should load the davix library. Most of this is local, but since sourcing CMSSW puts its libraries in the front of LD_LIBRARY_PATH (which it has to, obviously), /usr/lib64/libdavix.so.0.6.0 is replaced by the CMSSW version.

To test this theory, one can call the following, which works fine:

LD_PRELOAD=/usr/lib64/libdavix.so.0.6.0 gfal-ls srm

[2016-04-25 11:32] davidlt commented on #14231
@bbockelm what are your thoughts on bumping this external, e.g. in `CMSSW_8_1_X` and `CMSSW_8_0_X`?

[2016-04-25 11:34] Dr15Jones commented on #14222
I don't think the analysis is correct. `L` is modified in the loop so the value used in the comparison depends on how many iterations were done by the while loop.

[2016-04-25 11:38] davidlt commented on #14222
Ah, yes. I missed it. We can silence it by adding `{}`. According to Google C++ Coding Style, there are two options suggested:
[code]

[2016-04-25 12:44] cbernet opened #14235 "Notification request"
Hello,

Could you please add me to the list of the persons to be notified of pull requests to

    DataFormats/ParticleFlowReco/
    DataFormats/ParticleFlowCandidate/
    RecoParticleFlow/*

Thanks,

Colin

[2016-04-25 12:44] cmsbuild commented on #14235
A new Issue was created by  @cbernet (Colin Bernet).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-25 12:46] slava77 commented on #14235
@cbernet
you can also make a PR to cms-bot repo with changes in
https://github.com/cms-sw/cms-bot/blob/master/watchers.yaml

[2016-04-25 12:48] cbernet commented on #14235
Thanks Slava, will do now, so closing this one.
I would suggest to add this piece of information to the FAQ:
http://cms-sw.github.io/faq.html#how-do-i-receive-notifications-about-pull-requests-for-a-given-package--subsystem

[2016-04-25 12:48] #14235 closed

[2016-04-25 13:15] smuzaffar commented on #14235
@cbernet , I shall update the FAQ soon.

[2016-04-25 13:24] bbockelm commented on #14231
Hi,

No problem from my side in a version bump (assuming the relevant ROOT IO plugin still builds fine).

FWIW - there's no expectation that grid commands work from within the CMSSW environment.  If they have worked historically, that's just a bit of luck.

Brian

[2016-04-25 13:27] davidlt commented on #14231
@bbockelm thanks

@iahmad-khan can you give it a try?

[2016-04-25 13:28] davidlt commented on #14231
assign core

[2016-04-25 13:29] cmsbuild commented on #14231
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-25 14:03] smuzaffar commented on #14231
@bbockelm , I see that we have davix=OFF for root  ( https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_8_1_X/gcc530/root.spec#L111 )

[2016-04-25 14:26] iahmad-khan commented on #14231
https://github.com/cms-sw/cmsdist/pull/2268

[2016-04-25 14:31] bbockelm commented on #14231
@smuzaffar - ah, probably about time to enable that.  I thought we already had :/

[2016-04-25 14:41] smuzaffar commented on #14231
@iahmad-khan , can you please update root spec to enable it

[2016-04-25 15:11] iahmad-khan commented on #14231
https://github.com/cms-sw/cmsdist/pull/2268/commits/3870a0e9a67645e510c1ed89b1b6c732b38e644a

[2016-04-25 15:56] Dr15Jones opened #14242 "Make edm::loadCap properly report missing dictionaries"
If ROOT knows the name of a class but does not have a dictionary for it, `edm::loadCap` will throw the exception

[code]

The name of the missing class is not reported correctly.

The traceback for when this happened was `edm::loadCap` -> `edm::loadType` -> `edm::loadType` -> edm::checkClassDictionaries`.

The class in question was `BXVector<l1t::GlobalAlgBlk>` which had an internal missing dictio

[2016-04-25 15:56] cmsbuild commented on #14242
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-25 15:56] Dr15Jones commented on #14242
assign core

[2016-04-25 15:57] cmsbuild commented on #14242
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-26 09:12] radziej commented on #14231
Thanks for updating the library! Will there also be a pull request for 8_0_X?

[2016-04-26 14:00] Dr15Jones opened #14252 "GeomDetLess should move out of Geometry/TrackerGeometryBuilder"
The file DataFormats/TrackerRecHit2D/interface/TrackingRecHitLessFromGlobalPosition.h is dependent on GeomDetLess which causes an unwanted dependency on Geometry/TrackerGeometryBuilder with a DataFormats package. However, GeomDetLess does not depend on anything in Geometry/TrackerGeometryBuilder and instead only depends on items in DataFormats and Geometry/CommonDetUnit [which is an allowed DataFo

[2016-04-26 14:00] cmsbuild commented on #14252
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-26 14:01] Dr15Jones commented on #14252
assign reconstruction

[2016-04-26 14:01] cmsbuild commented on #14252
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-26 14:27] Dr15Jones opened #14253 "Explicitly add allowed Geometry packages to FWLite"
FWLite already implicitly depends on Geometry/CommonDetUnit. With recent changes to ParticleFlow it would also depend on Geometry/CaloGeometry. Boths these Geometry packages do not pull in any new dependencies (i.e. they primarily depend only on DataFormats packages).

We need a way to guarantee these Geomety packages do not grow any unwanted dependencies.

[2016-04-26 14:27] cmsbuild commented on #14253
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-26 14:29] Dr15Jones commented on #14253
assign core

[2016-04-26 14:30] cmsbuild commented on #14253
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-26 15:38] deguio commented on #14206
thanks!
F.

[2016-04-26 16:57] Dr15Jones opened #14259 "Loop time not recorded if exception happens and end Run transition"
The 'Total loop' times (wallclock and CPU) are recorded from the 'postGlobalEndRunSignal' in the Timing module. If an exception occurs, that signal does not go off and an uninitialized value is used when calculating the time.

https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/FWCore/Services/plugins/Timing.cc#L142

[2016-04-26 16:57] cmsbuild commented on #14259
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-26 16:58] Dr15Jones commented on #14259
assign core

[2016-04-26 16:58] cmsbuild commented on #14259
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-27 09:35] davidlange6 opened #14268 "Build CMSSW_8_0_6"

[2016-04-27 09:36] cmsbuild commented on #14268
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-27 10:13] davidlange6 commented on #14268
+1

[2016-04-27 10:13] cmsbuild commented on #14268
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-04-27 10:13] cmsbuild commented on #14268
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-04-27 10:52] cmsbuild commented on #14268
The build has started for slc7_amd64_gcc530 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/637/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-27 10:55] cmsbuild commented on #14268
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/638/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-27 10:55] cmsbuild commented on #14268
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/639/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-27 13:37] Dr15Jones opened #14270 "TestSiStripDCS.cpp needs to properly report failure"
http://cmslxr.fnal.gov/source/CalibTracker/SiStripDCS/test/UnitTests/MasterTestSiStripDCS.cpp?v=CMSSW_8_1_X_2016-04-25-2300 always returns 0 even when there is a unit test failure. This means scram never can know if this test failed. The happened recently and the output to scram was:

[code]

[2016-04-27 13:38] cmsbuild commented on #14270
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-27 13:39] Dr15Jones commented on #14270
assign alca

[2016-04-27 13:40] cmsbuild commented on #14270
New categories assigned: alca

@mmusich,@cerminar,@franzoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-27 14:15] cmsbuild commented on #14268
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_6-slc6_amd64_gcc493/638
Some tests ( ru

[2016-04-27 14:43] cmsbuild commented on #14268
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_6-slc6_amd64_gcc493/638

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-27 16:05] Dr15Jones opened #14273 "OscarMTMasterThread does not handle failures properly"
If an exception is thrown in the framework during the module construction phase and after OscarMTProducer has been constructed, then when the framework deletes OscarMTProducer before any beginRun is called, it will cause the error such as

[code]

This us caused because `OscarMTMasterThread` has a member variable that is an `std::thread` and it is destructed before it was `join`ed. Therefore `Osca

[2016-04-27 16:06] cmsbuild commented on #14273
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-27 16:06] Dr15Jones commented on #14273
assign simulation

[2016-04-27 16:06] cmsbuild commented on #14273
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-27 16:37] cmsbuild commented on #14268
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_6-slc6_amd64_gcc530/639
Some tests ( ru

[2016-04-27 16:50] Dr15Jones opened #14276 "Consider extending Modifier.toReplaceWith to all transforming functions"
What if we had another form of `toReplaceWith` which takes a callable object. If the era is chosen, the sequence would be cloned then the clone passed to the callable object and finally the replace would occur based on the output of the callable object. That way eras could properly chain `toReplaceWith`. E.g.
[code]

[2016-04-27 16:50] cmsbuild commented on #14276
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-27 16:50] Dr15Jones commented on #14276
assign core

[2016-04-27 16:50] cmsbuild commented on #14276
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-27 16:54] Dr15Jones commented on #14276
Given that `Modifier.toModify` already has a syntax for passing functions, this proposal should also use a similar syntax. E.g.
[code]

[2016-04-27 16:55] kpedro88 commented on #14276
Personally, I would support this option to avoid colliding uses of `toReplaceWith` by multiple Eras.

[2016-04-27 16:56] Dr15Jones commented on #14276
@kpedro88 pointed out the better example is
[code]
Which shows how the two eras properly co-exist.

[2016-04-27 16:57] slava77 commented on #14276
[code]

this example is rather impractical.
The use case for this example was to not repeat the same modules/sequences in Run3 and Phase2 definitions for cases where Run3 edits should be applied to Phase2. ... imagine we need to write all phase2 modifiers starting with explicit removal of all run2 modifiers.

[2016-04-27 16:59] cmsbuild commented on #14268
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_6-slc6_amd64_gcc530/639

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-27 17:07] Dr15Jones commented on #14276
In order to avoid use of `global` it would be better to use lambda
[code]

[2016-04-27 17:32] davidlange6 commented on #14268
upload all

On 27 Apr 2016, at 19:00, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_6-slc6_amd64_gcc530/639

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
You are receiving this because you were menti

[2016-04-27 17:33] cmsbuild commented on #14268
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-27 17:33] cmsbuild commented on #14268
Queing Jenkins upload for slc6_amd64_gcc530

[2016-04-27 17:33] cmsbuild commented on #14268
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/381/console

[2016-04-27 17:33] cmsbuild commented on #14268
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/382/console

[2016-04-27 18:20] cmsbuild commented on #14268
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_6-slc6_amd64_gcc493/381
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-27 18:50] cmsbuild commented on #14268
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_6/slc6_amd64_gcc493/634/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-27 19:09] cmsbuild commented on #14268
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_6-slc6_amd64_gcc530/382
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-27 19:24] cmsbuild commented on #14268
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_6/slc6_amd64_gcc530/635/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-27 19:29] davidlange6 commented on #14268
release-notes

Cheers,
David

On 27 Apr 2016, at 21:24, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_6/slc6_amd64_gcc530/635/
To generate the release notes for the release write "release-notes since <pre

[2016-04-27 19:30] cmsbuild commented on #14268
Generating release notes since CMSSW_8_0_5_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-27 19:30] cmsbuild commented on #14268
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_6 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_5_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_6

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-

[2016-04-27 19:31] cmsbuild commented on #14268
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_6

[2016-04-27 20:33] cmsbuild commented on #14268
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_6-slc7_amd64_gcc530/637
Some tests ( ru

[2016-04-27 20:33] cmsbuild commented on #14268
Queing Jenkins upload for slc7_amd64_gcc530

[2016-04-27 20:34] cmsbuild commented on #14268
The upload has started for slc7_amd64_gcc530 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/383/console

[2016-04-27 21:30] cmsbuild commented on #14268
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_6-slc7_amd64_gcc530/383
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-04-27 21:37] cmsbuild commented on #14268
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_6-slc7_amd64_gcc530/637

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-27 21:46] cmsbuild commented on #14268
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_6/slc7_amd64_gcc530/636/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-04-28 09:24] civanch commented on #14273
#14289 is created to address the issue, @Dr15Jones , please, have a look.

[2016-04-28 13:53] Dr15Jones commented on #14273
@makortel please give us your opinion on the changes.

[2016-04-28 13:55] Dr15Jones commented on #14105
assign core

[2016-04-28 13:55] cmsbuild commented on #14105
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-28 14:09] makortel commented on #14273
After trying to remind myself of the details and taking a cursory look on #14289 and the code, I think too that #14289 does not solve the problem. I think (without testing) that the problem could be solved with
[code]
in https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/SimG4Core/Application/src/OscarMTMasterThread.cc#L119

The poor-man's state machine in https://github.com/cms-sw/cmssw/blob/CMSSW_

[2016-04-29 07:57] slava77 commented on #14253
Starting from CMSSW_8_1_X_2016-04-27-2300 the FWLite builds are broken
I guess this is known already.

[2016-04-29 09:51] ianna commented on #14253
@Dr15Jones - I'd suggest we move related classes to a new package in DataFormats. Migrating CaloCellGeometry class requires modification of 65 header files and 113 .cc files, not counting BuildFiles.

Note, DataFormats/ParticleFlowReco package uses it, but does not declare this dependency to scram.

There are also a couple of other Geometry packages used in DataFormats: Geometry/CommonDetUnit and

[2016-04-29 15:20] Dr15Jones commented on #14253
@ianna @smuzaffar @davidlange6 Yana, could you make a short presentation at next week's Core meeting on this proposal? I'd like to give it a wider audience.

[2016-04-29 16:06] ianna commented on #14253
@Dr15Jones - ok, I'll prepare a summary slide.

[2016-04-29 17:40] cmsbuild commented on #14268
The cleanup has started for slc6_amd64_gcc493

[2016-04-29 17:40] cmsbuild commented on #14268
The cleanup has started for slc6_amd64_gcc530

[2016-04-29 17:40] cmsbuild commented on #14268
The cleanup has started for slc7_amd64_gcc530

[2016-04-29 17:40] #14268 closed

[2016-04-29 17:41] cmsbuild commented on #14268
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_6-slc6_amd64_gcc493/353

[2016-04-29 17:42] cmsbuild commented on #14268
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_6-slc6_amd64_gcc530/354

[2016-04-29 17:48] cmsbuild commented on #14268
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_6-slc7_amd64_gcc530/355

[2016-04-29 19:39] wddgit commented on #14259
After investigating and testing I came to the conclusion the problem only happens after an exception during beginRun. I submitted a PR to initialize the variables and deal with that situation in a reasonable manner. The loop time and things derived from it will be printed with a value of zero instead of something based on an uninitialized double. See #14309

[2016-04-29 20:02] Dr15Jones commented on #14259
+1

[2016-04-29 20:03] cmsbuild commented on #14259
This issue is fully signed and ready to be closed.

[2016-04-29 21:24] Dr15Jones opened #14310 "Have MessageLogger guarantee order of messages from same thread"
There is a (safe) race condition in the message logger that can cause messages from the same thread to come out of order. An example from the Tracer service output is below:
[code]
The module `conversionTrackCandidates` always finishes before `ckfOutInTracksFromConversions` starts.

The race condition happens becuase a thread writing a message always writes its own message before writing any messa

[2016-04-29 21:25] cmsbuild commented on #14310
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-29 21:25] Dr15Jones commented on #14310
assign core

[2016-04-29 21:25] cmsbuild commented on #14310
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-29 21:34] Dr15Jones commented on #14216
@wddgit please add a comment to this issue which references your pull request

[2016-04-29 21:43] wddgit commented on #14216
Pull request #14262 implements the consumes migration for triggerResultsByName.

[2016-04-30 12:31] Dr15Jones commented on #14216
+1

[2016-04-30 12:31] cmsbuild commented on #14216
This issue is fully signed and ready to be closed.

[2016-05-02 13:50] davidlange6 opened #14321 "Build CMSSW_8_0_7"

[2016-05-02 13:52] davidlange6 commented on #14321
+1

[2016-05-02 13:53] cmsbuild commented on #14321
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-05-02 13:53] cmsbuild commented on #14321
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-05-02 13:53] cmsbuild commented on #14321
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-05-02 13:55] cmsbuild commented on #14321
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/640/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-02 13:55] cmsbuild commented on #14321
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/642/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-02 13:55] cmsbuild commented on #14321
The build has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/641/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-02 14:31] ianna commented on #14253
@Dr15Jones and @smuzaffar - I assume, it's going to be next week meeting due to Paris workshop :-) In the meantime, please, have a look at my migration branch ianna:data-formats-calo-geometry
It includes only Geometry packages - as a first step.

[2016-05-02 15:32] Dr15Jones opened #14329 "Have edmStreamStallGrapher.py account for between event timing"
The edmStreamStallGrapher.py only accounts for time from the source during a delayed read of a data product and not for the time taken to determine what is the next event to read. The latter can be deduced by looking at the difference between the time of the ending of processing an event on a stream till the start of processing the next event on the same stream.

[2016-05-02 15:33] cmsbuild commented on #14329
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-05-02 15:33] Dr15Jones commented on #14329
assign core

[2016-05-02 15:34] cmsbuild commented on #14329
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-05-02 16:07] cmsbuild commented on #14321
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_7-slc6_amd64_gcc493/640
Some tests ( ru

[2016-05-02 16:35] cmsbuild commented on #14321
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_7-slc6_amd64_gcc493/640

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-05-02 17:32] Dr15Jones commented on #14329
#14330

[2016-05-02 17:32] Dr15Jones commented on #14329
+1

[2016-05-02 17:32] cmsbuild commented on #14329
This issue is fully signed and ready to be closed.

[2016-05-02 18:06] cmsbuild commented on #14321
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_7-slc6_amd64_gcc530/642
Some tests ( ru

[2016-05-02 18:40] cmsbuild commented on #14321
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_7-slc6_amd64_gcc530/642

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-05-02 19:13] cmsbuild commented on #14321
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_7-slc7_amd64_gcc530/641
Some tests ( ru

[2016-05-02 19:46] cmsbuild commented on #14321
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_7-slc7_amd64_gcc530/641

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-05-02 19:57] davidlange6 commented on #14321
upload all

On 02 May 2016, at 21:46, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_7-slc7_amd64_gcc530/641

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
You are receiving this because you were menti

[2016-05-02 19:59] cmsbuild commented on #14321
Queing Jenkins upload for slc6_amd64_gcc493

[2016-05-02 19:59] cmsbuild commented on #14321
Queing Jenkins upload for slc6_amd64_gcc530

[2016-05-02 19:59] cmsbuild commented on #14321
Queing Jenkins upload for slc7_amd64_gcc530

[2016-05-02 20:00] cmsbuild commented on #14321
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/384/console

[2016-05-02 20:02] cmsbuild commented on #14321
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/385/console

[2016-05-02 20:02] cmsbuild commented on #14321
The upload has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/386/console

[2016-05-02 20:56] Dr15Jones opened #14334 "Phase2TrackerClusterizer can not be a global::EDProducer"
The class Phase2TrackerClusterizer can not be a global EDProducer since it is not thread safe. The Threaded IB is crashing with

[code]

The problem is the class uses a pointer to a non-const object as a member data:
https://github.com/cms-sw/cmssw/blob/0397259dd747cee94b68928f17976224c037057a/RecoLocalTracker/SiPhase2Clusterizer/plugins/Phase2TrackerClusterizer.cc#L35

which allows the code to br

[2016-05-02 20:56] cmsbuild commented on #14334
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-05-02 20:57] Dr15Jones commented on #14334
Assign reconstruction

[2016-05-02 20:57] cmsbuild commented on #14334
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-05-02 20:57] Dr15Jones commented on #14334
@thomaslenzi

[2016-05-02 20:59] cmsbuild commented on #14321
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_7-slc6_amd64_gcc493/384
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-02 21:18] cmsbuild commented on #14321
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_7/slc6_amd64_gcc493/637/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-05-02 21:29] cmsbuild commented on #14321
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_7-slc7_amd64_gcc530/386
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-02 21:44] cmsbuild commented on #14321
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_7/slc7_amd64_gcc530/638/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-05-02 21:59] cmsbuild commented on #14321
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_7-slc6_amd64_gcc530/385
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-02 22:13] cmsbuild commented on #14321
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_7/slc6_amd64_gcc530/639/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-05-03 04:56] davidlange6 commented on #14321
release-notes

On 03 May 2016, at 00:13, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_7/slc6_amd64_gcc530/639/
To generate the release notes for the release write "release-notes since <previous-release>"

[2016-05-03 04:58] cmsbuild commented on #14321
Generating release notes since CMSSW_8_0_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-05-03 04:58] cmsbuild commented on #14321
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_7 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_7

Cheers,
cms-bot

You can also click <a href="mai

[2016-05-03 05:00] cmsbuild commented on #14321
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_7

[2016-05-03 07:27] thomaslenzi commented on #14334
Hi @Dr15Jones,
Could you tell me the commands you ran to that I can reproduce the error and debug. I tested with CMSSW_8_1_THREADED_X_2016-05-02-2300 and ran runTheMatrix.py --what upgrade -l 10600 just fine. Maybe there is a special command that need to be added in order to use the multithreading.

[2016-05-03 10:34] ianna commented on #14253
@Dr15Jones and @smuzaffar - Please, review https://github.com/cms-sw/cmssw/pull/14346
It could be reopened after Core meeting discussion.

[2016-05-03 13:14] davidlt opened #14353 "FEDTrailer/FEDHeader needs a namespace"
While debugging code I noticed that we have two implementations of FEDTrailer and FEDHeader (at least), e.g.

[code]

Files are still marked as temporarily copied from XDAQ (that was 11 years ago?). Seems that newer version is in `EventFilter/FEDInterface` package.

[2016-05-03 13:14] cmsbuild commented on #14353
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-05-03 13:15] davidlt commented on #14353
assign day

[2016-05-03 13:15] davidlt commented on #14353
assign daq

[2016-05-03 13:15] cmsbuild commented on #14353
New categories assigned: daq

@mommsen,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-05-03 13:17] davidlt commented on #14353
Back in 2008:
[code]

Someone needs to untangle the things.

[2016-05-03 13:19] Dr15Jones commented on #14334
One of the failures was workflow 106250.0 on step2:
https://cms-sw.github.io/relvalLogDetail.html#slc6_amd64_gcc530;CMSSW_8_1_THREADED_X_2016-05-02-1100

you can click on the `cmd` link next to the workflow name and it will show you exactly what commands were issued.

Beware, threading problems are not guaranteed to reproduce themselves since they depend on exactly what each thread is doing at a g

[2016-05-03 13:32] Dr15Jones commented on #14334
Just to be clear, the problem is multiple threads can be modifying the member data `clusterizer_` which is of type `Phase2TrackerClusterizerAlgorithm`. You can easily see there is a problem just by changing all (and I mean all) member functions of `Phase2TrackerClusterizerAlgorithm` to be `const`. By doing that you'll see the code will not compile and therefore the class `Phase2TrackerClusterizerA

[2016-05-03 15:10] Dr15Jones opened #14357 "global modules must use propagate_const"
If a global module has a member data which is a pointer or a smart pointer, that pointer type must be wrapped with a propagate_const in order to preserve deep const correctness.

[2016-05-03 15:10] Dr15Jones commented on #14357
@wmtan This might interest you.

[2016-05-03 15:11] cmsbuild commented on #14357
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-05-03 15:11] Dr15Jones commented on #14357
assign core

[2016-05-03 15:11] cmsbuild commented on #14357
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-05-03 15:21] Dr15Jones commented on #14357
@gartung We should extend the static analyzer to enforce that classes that inherit from `edm::global::EDProducer/EDAnalyzer/EDFilter/OutputModule` have to use `edm::propagate_const`.

[2016-05-04 05:40] davidlt commented on #14113
ping^2

[2016-05-04 07:23] davidlange6 opened #14365 "Build CMSSW_8_1_0_pre4"

[2016-05-04 07:23] cmsbuild commented on #14365
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-05-04 07:28] davidlange6 commented on #14365
+1

[2016-05-04 07:30] cmsbuild commented on #14365
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-05-04 07:30] cmsbuild commented on #14365
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc530, fc22_ppc64le_gcc530, slc6_amd64_gcc493, slc7_amd64_gcc530, slc6_amd64_gcc600
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building

[2016-05-04 07:31] cmsbuild commented on #14365
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/644/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-04 07:31] cmsbuild commented on #14365
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/643/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-04 07:32] cmsbuild commented on #14365
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/645/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-04 07:32] cmsbuild commented on #14365
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/646/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-04 07:50] cmsbuild commented on #14365
The build has started for slc6_amd64_gcc600 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/647/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-04 08:33] thomaslenzi commented on #14334
I created a PR to fix the issue : #14366.

[2016-05-04 09:58] cmsbuild commented on #14365
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc493/644
Some tests

[2016-05-04 10:19] cmsbuild commented on #14365
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc493/644

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-05-04 10:39] cmsbuild commented on #14365
The build has finished sucessfully for the architecture slc6_amd64_gcc600 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc600/647
Some tests

[2016-05-04 11:01] cmsbuild commented on #14365
The tests have finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc600/647

Tests results:
10 10 8 6 4 1 1 tests passed, 0 0 1 0 0 0 0 failed

[2016-05-04 11:07] slava77 commented on #14365
the error is in 1000 step3
[code]
is it a problem with root dictionaries or something like that? @Dr15Jones

[2016-05-04 11:08] slava77 commented on #14365
.. this was a gcc600 build, and the error is in the IB.

[2016-05-04 11:38] Dr15Jones commented on #14334
Thanks for your prompt action, it is much appreciated.

[2016-05-04 11:44] Dr15Jones commented on #14365
@pcanal any ideas on what would trigger such a message?

[2016-05-04 11:54] davidlt commented on #14365
Yup, this is solved in ROOT since a couple of days ago.

[2016-05-04 13:14] cmsbuild commented on #14365
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc530/645
Some tests

[2016-05-04 13:35] cmsbuild commented on #14365
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc530/645

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-05-04 14:21] pcanal commented on #14365
@Dr15Jones yes, std::pair in gcc6 have new fancy constructor that were not yet properly detected, as @davidlt mentioned, this has been fixed in the master and in v6.06/04.

[2016-05-04 14:48] cmsbuild commented on #14365
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc7_amd64_gcc530/646
Some tests

[2016-05-04 15:20] cmsbuild commented on #14365
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc7_amd64_gcc530/646

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-05-04 15:29] davidlange6 commented on #14365
upload all

On 04 May 2016, at 17:21, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc7_amd64_gcc530/646

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
You are receiving this because you were

[2016-05-04 15:29] cmsbuild commented on #14365
Queing Jenkins upload for slc6_amd64_gcc493

[2016-05-04 15:29] cmsbuild commented on #14365
Queing Jenkins upload for slc6_amd64_gcc530

[2016-05-04 15:29] cmsbuild commented on #14365
Queing Jenkins upload for slc6_amd64_gcc600

[2016-05-04 15:29] cmsbuild commented on #14365
Queing Jenkins upload for slc7_amd64_gcc530

[2016-05-04 15:30] cmsbuild commented on #14365
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/387/console

[2016-05-04 15:30] cmsbuild commented on #14365
The upload has started for slc6_amd64_gcc600 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/389/console

[2016-05-04 15:30] cmsbuild commented on #14365
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/388/console

[2016-05-04 15:30] cmsbuild commented on #14365
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/390/console

[2016-05-04 16:18] cmsbuild commented on #14365
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc493/387
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-04 16:47] cmsbuild commented on #14365
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre4/slc6_amd64_gcc493/640/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-05-04 17:10] cmsbuild commented on #14365
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc600/389
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-04 17:55] cmsbuild commented on #14365
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc530/388
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-04 18:07] davidlange6 commented on #14365
release-notes

On 04 May 2016, at 19:55, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc530/388
The release is now being installed, you can see the progress here:
https://cmssdt.cern.ch/jen

[2016-05-04 18:07] cmsbuild commented on #14365
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-05-04 18:10] cmsbuild commented on #14365
The upload has started for slc6_amd64_gcc600 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/391/console

[2016-05-04 18:12] cmsbuild commented on #14365
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre4/slc6_amd64_gcc530/641/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-05-04 18:12] cmsbuild commented on #14365
Generating release notes since CMSSW_8_1_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-05-04 18:12] cmsbuild commented on #14365
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre4 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_1_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre4

Cheers,
cms-bot

You can also click <a href="mailt

[2016-05-04 18:14] cmsbuild commented on #14365
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre4-slc6_amd64_gcc600/391
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-04 18:16] cmsbuild commented on #14365
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre4

[2016-05-04 18:25] cmsbuild commented on #14365
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc7_aarch64_gcc530/643
Some t

[2016-05-04 18:26] cmsbuild commented on #14365
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-05-04 18:26] cmsbuild commented on #14365
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/392/console

[2016-05-04 18:50] cmsbuild commented on #14365
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre4-slc7_amd64_gcc530/390
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-04 19:13] cmsbuild commented on #14365
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-slc7_aarch64_gcc530/643

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-05-04 19:13] cmsbuild commented on #14365
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre4/slc7_amd64_gcc530/642/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-05-04 19:36] cmsbuild commented on #14365
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre4-slc7_aarch64_gcc530/392
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-05 02:29] cmsbuild commented on #14365
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/648/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-05-05 03:08] cmsbuild commented on #14321
The cleanup has started for slc6_amd64_gcc493

[2016-05-05 03:08] cmsbuild commented on #14321
The cleanup has started for slc6_amd64_gcc530

[2016-05-05 03:08] cmsbuild commented on #14321
The cleanup has started for slc7_amd64_gcc530

[2016-05-05 03:08] #14321 closed

[2016-05-05 03:09] cmsbuild commented on #14321
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_7-slc6_amd64_gcc530/357

[2016-05-05 03:09] cmsbuild commented on #14321
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_7-slc6_amd64_gcc493/356

[2016-05-05 03:16] cmsbuild commented on #14321
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_7-slc7_amd64_gcc530/358

[2016-05-05 07:45] cmsbuild commented on #14365
The build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-fc22_ppc64le_gcc530/648
Some t

[2016-05-05 07:47] cmsbuild commented on #14365
Queing Jenkins upload for fc22_ppc64le_gcc530

[2016-05-05 07:48] cmsbuild commented on #14365
The upload has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/393/console

[2016-05-05 08:13] cmsbuild commented on #14365
The upload has successfully finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre4-fc22_ppc64le_gcc530/393
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-05-05 08:15] cmsbuild commented on #14365
The tests have finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre4-fc22_ppc64le_gcc530/648

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-05-05 21:07] kpedro88 commented on #14273
I confirm that #14289 does not solve the problem. Here is a recipe to reproduce it in the latest IB and some thoughts about the possible cause:
[code]

Here, I'm setting `process.mix.input.fileNames` (in a GEN-SIM-DIGIPREMIX workflow, so `process.source = cms.Source("EmptySource"`) to a local file *without* the "file:" prefix. Usually, CMSSW points out this mistake gracefully, e.g. if I try it wit

[2016-05-06 15:10] Dr15Jones commented on #14110
@davidlt @smuzaffar can this be closed now?

[2016-05-06 15:12] Dr15Jones opened #14397 "Compilation warnings in RecoLocalCalo/EcalRecProducers"
Using gcc 5.3.0 we have the compilation warning:

[code]

[2016-05-06 15:12] cmsbuild commented on #14397
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-05-06 15:13] Dr15Jones commented on #14397
assign reconstruction

[2016-05-06 15:13] cmsbuild commented on #14397
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-05-06 15:13] Dr15Jones commented on #14397
This was seen here:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-05-05-2300/RecoLocalCalo/EcalRecProducers

[2016-05-06 15:15] Dr15Jones opened #14398 "Compilation warning in SUSYBSMAnalysis/HSCP"
The gcc 5.3.0 builds are showing the compilation warning:

[code]

From
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-05-05-2300/SUSYBSMAnalysis/HSCP

[2016-05-06 15:15] cmsbuild commented on #14398
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-05-06 15:16] Dr15Jones commented on #14398
assign analysis

[2016-05-06 15:16] cmsbuild commented on #14398
New categories assigned: analysis

@davidlange6 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-05-06 15:17] Dr15Jones opened #14399 "Compilation warnings in SimCalorimetry/HcalZeroSuppressionProducers"
When compiling SimCalorimetry/HcalZeroSuppressionProducers using gcc 5.3.0 we get the following warnings:

[code]

Found in
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-05-05-2300/SimCalorimetry/HcalZeroSuppressionProducers

[2016-05-06 15:18] cmsbuild commented on #14399
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-05-06 15:18] Dr15Jones commented on #14399
assign simulation

[2016-05-06 15:18] cmsbuild commented on #14399
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-05-06 15:24] Dr15Jones commented on #14399
Looking at the code, I think the message comes from line 50 (and other lines like it)
[code]
Where the compiler assumes that adding 2 to `i` will not cause an overflow and cause an infinite loop.

[2016-05-06 16:08] cmsbuild commented on #14365
The cleanup has started for fc22_ppc64le_gcc530

[2016-05-06 16:08] cmsbuild commented on #14365
The cleanup has started for slc6_amd64_gcc600

[2016-05-06 16:08] cmsbuild commented on #14365
The cleanup has started for slc7_aarch64_gcc530

[2016-05-06 16:08] cmsbuild commented on #14365
The cleanup has started for slc6_amd64_gcc493

[2016-05-06 16:08] cmsbuild commented on #14365
The cleanup has started for slc6_amd64_gcc530

[2016-05-06 16:08] cmsbuild commented on #14365
The cleanup has started for slc7_amd64_gcc530

[2016-05-06 16:08] #14365 closed

[2016-05-06 16:10] cmsbuild commented on #14365
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre4-slc6_amd64_gcc530/361

[2016-05-06 16:10] cmsbuild commented on #14365
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre4-slc6_amd64_gcc493/360

[2016-05-06 16:10] cmsbuild commented on #14365
The workspace for fc22_ppc64le_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre4-fc22_ppc64le_gcc530/359