[2017-03-22 00:37] cmsbuild commented on #18020
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc530/1028
Some tests ( r

[2017-03-22 00:51] cmsbuild commented on #18020
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc630/1030

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-22 01:26] cmsbuild commented on #18020
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc530/1027

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-22 01:39] cmsbuild commented on #18020
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc530/1028

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-22 06:43] davidlange6 commented on #18020
abort

[2017-03-22 06:44] cmsbuild commented on #18020
Deleting CMSSW_9_0_0:

  -Release successfully deleted

  -cmssw tag CMSSW_9_0_0 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0/slc7_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0/slc7_amd64_gcc630 successfully deleted.

You must cre

[2017-03-22 06:45] #18020 closed

[2017-03-22 06:45] davidlange6 opened #18026 "Build CMSSW_9_0_0"
and again

[2017-03-22 06:46] davidlange6 commented on #18026
+1

[2017-03-22 06:46] cmsbuild commented on #18026
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-22 06:46] cmsbuild commented on #18026
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-03-22 06:46] cmsbuild commented on #18026
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-03-22 06:47] cmsbuild commented on #18026
The build has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1031/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 06:47] cmsbuild commented on #18026
The build has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1032/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 06:49] cmsbuild commented on #18026
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1034/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 06:49] cmsbuild commented on #18026
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1033/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 09:18] cmsbuild commented on #18026
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc630/1034
Some tests ( r

[2017-03-22 10:15] cmsbuild commented on #18026
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc630/1032
Some tests ( r

[2017-03-22 10:27] cmsbuild commented on #18026
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc630/1034

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-22 10:31] davidlange6 commented on #18026
upload all

[2017-03-22 10:32] cmsbuild commented on #18026
Queing Jenkins upload for slc6_amd64_gcc630

[2017-03-22 10:32] cmsbuild commented on #18026
Queing Jenkins upload for slc7_amd64_gcc630

[2017-03-22 10:38] cmsbuild commented on #18026
The upload has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/654/console

[2017-03-22 10:39] cmsbuild commented on #18026
The upload has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/653/console

[2017-03-22 10:39] cmsbuild commented on #18026
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc530/1033
Some tests ( r

[2017-03-22 10:39] cmsbuild commented on #18026
Queing Jenkins upload for slc6_amd64_gcc530

[2017-03-22 10:40] cmsbuild commented on #18026
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/655/console

[2017-03-22 10:40] cmsbuild commented on #18026
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0-slc7_amd64_gcc630/654
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-22 10:40] cmsbuild commented on #18026
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-22 10:41] cmsbuild commented on #18026
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0-slc6_amd64_gcc630/653
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-22 10:41] cmsbuild commented on #18026
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-22 10:43] cmsbuild commented on #18026
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0-slc6_amd64_gcc530/655
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-22 10:43] cmsbuild commented on #18026
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-22 10:45] davidlange6 commented on #18026
release-notes

[2017-03-22 10:45] cmsbuild commented on #18026
Generating release notes since CMSSW_9_0_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-03-22 10:45] cmsbuild commented on #18026
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_0_0 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_0_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_0

and again

Cheers,
cms-bot

You can also cl

[2017-03-22 10:49] cmsbuild commented on #18026
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0

[2017-03-22 10:58] davidlange6 opened #18030 "Build CMSSW_9_1_0_pre1"

[2017-03-22 10:58] cmsbuild commented on #18030
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-22 11:02] davidlange6 commented on #18030
+1

[2017-03-22 11:03] cmsbuild commented on #18030
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-03-22 11:03] cmsbuild commented on #18030
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc6_amd64_gcc700, slc7_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
I

[2017-03-22 11:04] cmsbuild commented on #18030
The build has started for slc7_amd64_gcc530 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1035/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 11:04] cmsbuild commented on #18030
The build has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1036/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 11:04] cmsbuild commented on #18030
The build has started for slc7_aarch64_gcc530 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1037/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 11:15] cmsbuild commented on #18026
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc530/1031
Some tests ( r

[2017-03-22 11:15] cmsbuild commented on #18026
Queing Jenkins upload for slc7_amd64_gcc530

[2017-03-22 11:15] cmsbuild commented on #18026
The upload has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/656/console

[2017-03-22 11:17] cmsbuild commented on #18026
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_0-slc7_amd64_gcc530/656
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-22 11:17] cmsbuild commented on #18026
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-22 11:20] cmsbuild commented on #18026
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc630/1032

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-22 11:24] cmsbuild commented on #18030
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1038/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 11:34] cmsbuild commented on #18026
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc6_amd64_gcc530/1033

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-22 11:36] cmsbuild commented on #18030
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1039/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 12:09] cmsbuild commented on #18026
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0-slc7_amd64_gcc530/1031

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-22 12:43] cmsbuild commented on #18030
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1040/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 14:04] cmsbuild commented on #18030
The build has started for slc6_amd64_gcc700 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1041/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 15:10] cmsbuild commented on #18030
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc7_amd64_gcc630/1036
Some test

[2017-03-22 16:00] davidlange6 commented on #18030
abort
logs full of crap

[2017-03-22 16:01] cmsbuild commented on #18030
Deleting CMSSW_9_1_0_pre1:

  -Release successfully deleted

  -cmssw tag CMSSW_9_1_0_pre1 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_1_0_pre1/slc6_amd64_gcc530. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_1_0_pre1/slc6_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_9_1_0_pre1/slc6_amd64_g

[2017-03-22 16:04] #18030 closed

[2017-03-22 16:04] davidlange6 opened #18037 "Build CMSSW_9_1_0_pre1"

[2017-03-22 16:05] cmsbuild commented on #18037
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-03-22 16:05] davidlange6 commented on #18037
+1

[2017-03-22 16:06] cmsbuild commented on #18037
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-03-22 16:06] cmsbuild commented on #18037
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc6_amd64_gcc700, slc7_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
I

[2017-03-22 16:06] cmsbuild commented on #18037
The build has started for slc7_amd64_gcc530 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1044/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 16:06] cmsbuild commented on #18037
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1042/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 16:06] cmsbuild commented on #18037
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1043/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 16:06] cmsbuild commented on #18037
The build has started for slc7_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1045/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 16:08] cmsbuild commented on #18037
The build has started for slc7_aarch64_gcc530 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1046/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 16:08] cmsbuild commented on #18037
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1047/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 18:00] cmsbuild commented on #18037
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc6_amd64_gcc630/1043
Some test

[2017-03-22 18:54] cmsbuild commented on #18037
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc6_amd64_gcc630/1043

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-22 18:55] cmsbuild commented on #18037
The build has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1048/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-03-22 19:01] cmsbuild commented on #18037
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc7_amd64_gcc630/1045
Some test

[2017-03-22 19:13] cmsbuild commented on #18037
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc6_amd64_gcc700/1048

[2017-03-22 19:46] cmsbuild commented on #18037
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc6_amd64_gcc530/1042
Some test

[2017-03-22 19:55] cmsbuild commented on #18037
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc7_amd64_gcc630/1045

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-03-22 20:38] cmsbuild commented on #18037
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc7_amd64_gcc530/1044
Some test

[2017-03-22 20:41] cmsbuild commented on #18037
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc6_amd64_gcc530/1042

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-03-22 21:00] cmsbuild commented on #18037
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc7_aarch64_gcc530/1046
Some

[2017-03-22 21:05] wddgit commented on #18018
Here are the comments that were not resolved when
the Tasks PR was merged and my replies to them.

1. A comment to PR #17430 : Move MassReplaceInputTag
and MassReplaceParameter to FWCore/ParameterSet.
I will do this. Working on it starting today.

The rest were all comments to PR #17801

2. JetMETCorrections/Configuration/python/JetCorrectorsAllAlgos_cff.py
These were more comments for schoef and

[2017-03-22 21:08] cmsbuild commented on #18037
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc7_aarch64_gcc700/1047

[2017-03-22 21:34] cmsbuild commented on #18037
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre1-slc7_amd64_gcc530/1044

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-03-22 22:32] slava77 commented on #18018
On 3/22/17 2:05 PM, W. David Dagenhart wrote:

can the "prune" be called safely now by default?

One concern is the extra CPU to be spent in "customise" and similar methods
that loop over process modules and other attributes to apply
modifications like in early delete.

[2017-03-23 07:26] davidlange6 commented on #18037
upload all

[2017-03-23 07:27] cmsbuild commented on #18037
Queing Jenkins upload for slc6_amd64_gcc530

[2017-03-23 07:27] cmsbuild commented on #18037
Queing Jenkins upload for slc6_amd64_gcc630

[2017-03-23 07:27] cmsbuild commented on #18037
Queing Jenkins upload for slc7_aarch64_gcc530

[2017-03-23 07:27] cmsbuild commented on #18037
Queing Jenkins upload for slc7_amd64_gcc530

[2017-03-23 07:27] cmsbuild commented on #18037
Queing Jenkins upload for slc7_amd64_gcc630

[2017-03-23 07:29] cmsbuild commented on #18037
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/657/console

[2017-03-23 07:31] cmsbuild commented on #18037
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/658/console

[2017-03-23 07:31] cmsbuild commented on #18037
The was error uploading slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre1-slc7_aarch64_gcc530/659

[2017-03-23 07:32] cmsbuild commented on #18037
The upload has started for slc7_amd64_gcc530 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/660/console

[2017-03-23 07:32] cmsbuild commented on #18037
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre1-slc6_amd64_gcc630/658
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-23 07:32] cmsbuild commented on #18037
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-23 07:33] cmsbuild commented on #18037
The upload has started for slc7_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/661/console

[2017-03-23 07:33] cmsbuild commented on #18037
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre1-slc6_amd64_gcc530/657
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-23 07:33] cmsbuild commented on #18037
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-23 07:35] cmsbuild commented on #18037
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre1-slc7_amd64_gcc630/661
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-23 07:35] cmsbuild commented on #18037
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-23 07:36] cmsbuild commented on #18037
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre1-slc7_amd64_gcc530/660
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-03-23 07:36] cmsbuild commented on #18037
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-03-23 08:33] davidlange6 commented on #18037
release notes since CMSSW_9_0_0

[2017-03-23 08:44] davidlange6 commented on #18037
release-notes since CMSSW_9_0_0

[2017-03-23 08:45] cmsbuild commented on #18037
Generating release notes since CMSSW_9_0_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-03-23 08:45] cmsbuild commented on #18037
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_1_0_pre1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_0_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_1_0_pre1

Cheers,
cms-bot

Yo

[2017-03-23 09:07] cmsbuild commented on #18037
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_0_pre1

[2017-03-23 09:35] smuzaffar commented on #18037
@davidlange6 , looks like cms-bot does make a comment ( https://github.com/cms-sw/cmssw/issues/18037#issuecomment-288657627 )once the release-notes are ready

[2017-03-23 09:37] davidlange6 commented on #18037
ha ah. your right!

[2017-03-23 14:28] wddgit commented on #18018
Before the implementation of Tasks it was important to prune when unscheduled was enabled, because if you did not prune then all those extra modules would get constructed in the C++ part of cmsRun and be there waiting to run unscheduled. That reason is now gone, because anything not on a scheduled Task/Path/EndPath does not get passed into the C++. One motivation for not pruning is that it takes C

[2017-03-23 20:30] wddgit commented on #18018
PR #18057 takes care of items 5 and 10 from my list.

[2017-03-24 09:56] cmsbuild commented on #18026
The cleanup has started for slc6_amd64_gcc530

[2017-03-24 09:56] cmsbuild commented on #18026
The cleanup has started for slc6_amd64_gcc630

[2017-03-24 09:56] cmsbuild commented on #18026
The cleanup has started for slc7_amd64_gcc530

[2017-03-24 09:56] cmsbuild commented on #18026
The cleanup has started for slc7_amd64_gcc630

[2017-03-24 09:56] #18026 closed

[2017-03-24 09:57] cmsbuild commented on #18026
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0-slc6_amd64_gcc630/587

[2017-03-24 09:58] cmsbuild commented on #18026
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0-slc6_amd64_gcc530/586

[2017-03-24 10:03] cmsbuild commented on #18026
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0-slc7_amd64_gcc630/589

[2017-03-24 10:20] cmsbuild commented on #18026
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_0-slc7_amd64_gcc530/588

[2017-03-24 12:40] davidlt opened #18070 "25202.0, step2_DIGI_L1_DIGI2RAW_HLT_PU.py, large stack allocation (or worse)?"
I looked at valgrind report for 25202.0 step2_DIGI_L1_DIGI2RAW_HLT_PU.py using CMSSW_9_1_X_2017-03-22-2300 + slc6_amd64_gcc630

I have noticed the following warnings:
[code]
Once valgrind noticed a large change in stack pointer it will not produce correct results:
[code]
Looks like there could be a frame that with ~2.4MiB of data allocation on stack.

The default stack size on my particular system

[2017-03-24 12:40] cmsbuild commented on #18070
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-24 12:46] davidlange6 commented on #18070
maybe related

https://github.com/cms-sw/cmssw/issues/16850#issuecomment-266019072

[2017-03-24 12:46] davidlange6 commented on #18070
assign l1

[2017-03-24 12:48] cmsbuild commented on #18070
New categories assigned: l1

@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-24 12:52] davidlt commented on #18070
Yeah, looks like #16850 talks about the same issue. Valgrind has a threshold for stack growth. If something allocated more than that, then algorithm will not work correctly. Then one needs manually to set higher threshold.

I guess, we have one function which allocates MiBs on the stack and that's beyond default valgrind threshold.

[2017-03-24 21:46] wddgit commented on #18018
PR #18081 Takes care of item 1 from my list. Items 4 and 11 I am waiting for a response from someone else before I do anything and I consider the rest to be the responsibility of someone else. So I am done with my part of this for the moment.

[2017-03-25 07:54] cmsbuild commented on #18037
The cleanup has started for slc6_amd64_gcc700

[2017-03-25 07:54] cmsbuild commented on #18037
The cleanup has started for slc7_aarch64_gcc700

[2017-03-25 07:54] cmsbuild commented on #18037
The cleanup has started for slc6_amd64_gcc530

[2017-03-25 07:54] cmsbuild commented on #18037
The cleanup has started for slc6_amd64_gcc630

[2017-03-25 07:54] cmsbuild commented on #18037
The cleanup has started for slc7_amd64_gcc530

[2017-03-25 07:54] cmsbuild commented on #18037
The cleanup has started for slc7_amd64_gcc630

[2017-03-25 07:54] #18037 closed

[2017-03-25 07:54] cmsbuild commented on #18037
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre1-slc6_amd64_gcc700/592

[2017-03-25 07:55] cmsbuild commented on #18037
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre1-slc6_amd64_gcc630/591

[2017-03-25 07:57] cmsbuild commented on #18037
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre1-slc6_amd64_gcc530/590

[2017-03-25 08:02] cmsbuild commented on #18037
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre1-slc7_amd64_gcc530/594

[2017-03-25 08:03] cmsbuild commented on #18037
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre1-slc7_amd64_gcc630/595

[2017-03-26 23:14] slava77 commented on #17923
assign l1

I noticed these as well. Can be pretty noisy at higher PU

@rekovic @mulhearn please clarify on ETA for resolution

[2017-03-26 23:14] cmsbuild commented on #17923
New categories assigned: l1

@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-26 23:15] slava77 commented on #17923
minimally,
these couts in L1Trigger/L1TGlobal/src/GlobalScales.cc should be replaced with LogWarnings or LogInfos.

[2017-03-27 21:08] davidlt opened #18102 "Invalid read of size 4, ~XrdSysMutexHelper"
step2_DIGI_L1_DIGI2RAW_HLT_PU.py, 25202.0, CMSSW_9_1_X_2017-03-22-2300, slc6_amd64_gcc630

Valgrind was run with --max-stackframe=2500000 to avoid previously reported issues on this workflow.

This happens a few times at the end of the job.

[code]

[2017-03-27 21:08] cmsbuild commented on #18102
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-28 08:22] Dr15Jones commented on #18102
Assign core

[2017-03-28 08:22] cmsbuild commented on #18102
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-03-28 08:52] Dr15Jones commented on #18102
@bbockelm

[2017-03-28 12:20] dan131riley opened #18107 "segfault in TSystem::FindHelper(char const*, void*), possibly related to file open failures"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc530/CMSSW_9_1_X_2017-03-27-1100/pyRelValMatrixLogs/run/250405.0_ZTT_13+FS_ZTT_13_PRMXUP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS/step1_ZTT_13+FS_ZTT_13_PRMXUP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS.log

Thread 1 crashed in TSystem::FindHelper().  Of the other CMSSW threads, two are waiting on a mutex in TDirectory::UnregisterContext() and one in

[2017-03-28 12:20] cmsbuild commented on #18107
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-28 13:33] davidlt commented on #17375
ping

Do we have any updates on this topic?

[2017-03-28 14:08] davidlange6 commented on #17375
did someone get this question to the site people?

[2017-03-28 14:16] davidlange6 commented on #17375
so yes is my answer - do we need support from the product developers (or do I read correctly that the product in question is deprecated
(http://castor.web.cern.ch) - in which case a discussion with cms and ral is needed

[2017-03-28 14:26] davidlange6 commented on #17375
and @davidlt - did you try 2.1.16?

[2017-03-28 14:28] davidlt commented on #17375
CASTOR is alive, but RFIO is dead for a long time. It's deprecated and CERN (at least) started limiting it's capabilities (no more writes). If someone uses rfio they should change that root protocol.

ATLAS has with with some red words:

[2017-03-28 14:31] davidlt commented on #17375
No, I have not. I did look into ChangeLogs and don't expect much.

[2017-03-28 14:33] davidlange6 commented on #17375
thats "at cern"...
let me bounce this thread to site folks

[2017-03-28 14:36] davidlt commented on #17375
CHEP 2013, "Streamlining CASTOR to manage the LHC data torrent"
http://inspirehep.net/record/1302106/files/jpconf14_513_042031.pdf?version=1
[code]

[2017-03-28 19:29] gastonlp commented on #17375
Dear All,

I've checked the storage.xml files for all the sites in SITECONF and none of them appear to have rules for accessing castor over rfio. There is however, a small set of sites (7 T2 / ~15 T3) that expose the rfio protocol. These sites use DPM.

Regards,
Gaston Lyons
Site Support Team.

[2017-03-28 19:52] davidlange6 commented on #17375
so lets drop support unless any of those sites speak up?

[2017-03-29 12:05] hufnagel commented on #17375
RAL has rules for accessing castor over rfio in storage.xml.

        <lfn-to-pfn protocol="rfio" path-match="/+store/unmerged/(.*)" result="rfio:///?svcClass=cmsDisk&amp;path=/castor/ads.rl.ac.uk/prod/cms/store/unmerged/$1"/>
        <lfn-to-pfn protocol="rfio" path-match="/+store/backfill/test02/(.*)" result="rfio:///?svcClass=cmsDisk&amp;path=/castor/ads.rl.ac.uk/prod/cms/disk/store/backfill/te

[2017-03-29 19:51] bbockelm commented on #18102
Ah-ha!  I was trying to solve this myself for a separate case -- but the reporter didn't have valgrind info.

I think the destructor sequencing changed in the upstream client as we haven't changed this particular code lately.

More later after some debugging.

[2017-03-29 20:05] bbockelm commented on #18102
Oh!  Xrootd is delivering the "file closed" message TWICE for the same file.

Since we delete the underlying Xrootd object the first time the file is closed, the second time the "file closed" is delivered, we get undefined behavior.  I have seen this `SIGSEGV` in production too.

I think this is new and this is an upstream bug.

[2017-03-29 20:13] bbockelm commented on #18102
@davidlt - how reliably can you reproduce this?

If I can provide a patch that turns off the suspected piece of Xrootd client code (basically, both `XrdCl` and `XrdAdaptor` implement retry code -- we could just disable retries in `XrdCl` since the outer layer will do the same thing), would it be easily apparent the problem went away?

[2017-03-29 21:46] davidlt commented on #18102
We have never seen this causing segfaults in IB RelVals. Once I use 25202.0 + step2_DIGI_L1_DIGI2RAW_HLT_PU.py + QAT + jemalloc I get really strange behaviour. It loves segfaulting at the end of cmsRun execution or even deadlocking on free in jemalloc.

Looking at this workflow I found a out-of-bounds read in L1 (which segfaults nicely on glibc), huge stack usage (~2.4MB) in one frame (above valgr

[2017-03-30 02:45] bbockelm commented on #18102
Can you try applying https://github.com/cms-sw/cmssw/pull/18128 and seeing if it solves this problem?

[2017-03-30 11:01] forthommel commented on #17603
Depending on the merging status of #17817 onto `9_1_X` and #17815 onto `8_0_X` a backport of the earlier would be good.

[2017-03-30 13:53] mmusich commented on #17603
Strips offline would appreciate merging of https://github.com/cms-sw/cmssw/pull/18062

[2017-03-30 14:49] bbockelm commented on #18102
Alternately, the Xrootd team suggested this patch might fix things:

https://github.com/xrootd/xrootd/commit/ae42952eb87b175159fe442369b34fa96d432be5

@davidlt - can we try this?

[2017-03-30 17:28] davidlt commented on #18102
I am running valgrind to check it.

[2017-03-30 17:32] bbockelm commented on #18102
(Which "it" here?  I gave a patch for CMSSW and xrootd - which are you checking?)

[2017-03-30 17:34] davidlt commented on #18102
Both.

[2017-03-30 17:34] bbockelm commented on #18102
Thanks for the clarification!  I look forward to hopefully-happy-results.

[2017-03-31 11:49] davidlt commented on #18102
Both seem to resolve the issue. I don't see anymore `XrdSysMutexHelper` in my valgrind logs.

[2017-03-31 11:58] bbockelm commented on #18102
Great!  Shall we start backporting this?

What releases have xrootd 4.5.0?  I suspect all will need this.

[2017-03-31 11:58] bbockelm commented on #18102
@davidlange6 ^^^ you may want to be aware of this issue.

[2017-03-31 12:01] davidlange6 commented on #18102
i am already... lets test in pre2 and then push back.

[2017-03-31 12:03] davidlt commented on #18102
@davidlange6 then I will add it to normal builds, I guess.

[2017-03-31 12:06] davidlange6 commented on #18102
please - we can always revert

[2017-03-31 12:15] davidlt commented on #18102
Pushed for 2300.

[2017-03-31 12:15] #18102 closed

[2017-04-01 08:42] davidlt opened #18160 "Invalid reads / uninitialised value in JetCorrectorParametersHelper::binIndexN"
`ttFullLepKinSolutionProducer_cfg.py` unit test in `TopQuarkAnalysis/TopKinFitter/test`, `CMSSW_9_1_X_2017-03-31-2300`, `slc6_amd64_gcc700`.

[code]

[2017-04-01 08:42] cmsbuild commented on #18160
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-01 08:55] Dr15Jones commented on #18160
assign reconstruction

[2017-04-01 08:55] Dr15Jones commented on #18160
assign analysis

[2017-04-01 08:55] cmsbuild commented on #18160
New categories assigned: analysis,reconstruction

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-01 09:10] davidlange6 commented on #18102
Hi @davidlt - we had some xrootd errors last night - i presume these are not actually related - but can you confirm?
@bbockelm

[2017-04-01 12:45] bbockelm commented on #18102
Link?  Would be happy to help...

Sent from my iPhone

[2017-04-01 12:47] Dr15Jones commented on #18102
The RelVal page is
https://cms-sw.github.io/relvalLogDetail.html#slc6_amd64_gcc530;CMSSW_9_1_X_2017-03-31-2300

Just click on the red boxes with the number 23552.

[2017-04-01 12:57] smuzaffar commented on #18102
EOSCMS is down https://cern.service-now.com/service-portal/view-outage.do?from=CSP-Service-Status-Board&n=OTG0036800

[2017-04-01 13:03] bbockelm commented on #18102
It looks like the the failures are due to the outage and not the code change.

Sent from my iPhone

[2017-04-01 13:04] davidlt commented on #18102
Yeah, I had issues this early morning accessing data is EOSCMS, but later on is started working. Killed a few of my valgrind tests.

[2017-04-01 15:31] davidlange6 commented on #18102
A weekly occurrence it seems:(

On 1 Apr 2017, at 14:58, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

EOSCMS is down https://cern.service-now.com/service-portal/view-outage.do?from=CSP-Service-Status-Board&n=OTG0036800

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/i

[2017-04-01 19:34] davidlange6 opened #18162 "Build CMSSW_9_1_0_pre2"
in case the 2300 IB goes well, we'll make it pre2...

[2017-04-01 19:35] davidlange6 commented on #18162
+1

[2017-04-01 19:35] cmsbuild commented on #18162
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-04-01 19:35] cmsbuild commented on #18162
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-04-01 19:35] cmsbuild commented on #18162
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc6_amd64_gcc700, slc7_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
I

[2017-04-01 19:37] cmsbuild commented on #18162
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1050/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-01 19:37] cmsbuild commented on #18162
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1051/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-01 19:37] cmsbuild commented on #18162
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1053/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-01 19:37] cmsbuild commented on #18162
The build has started for slc7_aarch64_gcc530 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1049/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-01 19:37] cmsbuild commented on #18162
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1052/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-01 19:37] cmsbuild commented on #18162
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1054/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-01 23:34] cmsbuild commented on #18162
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc6_amd64_gcc700/1054

[2017-04-01 23:53] cmsbuild commented on #18162
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc6_amd64_gcc630/1053
Some test

[2017-04-02 00:16] cmsbuild commented on #18162
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc6_amd64_gcc530/1050
Some test

[2017-04-02 00:18] cmsbuild commented on #18162
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc7_aarch64_gcc700/1051

[2017-04-02 00:41] cmsbuild commented on #18162
The build has started for slc7_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1055/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-02 00:52] cmsbuild commented on #18162
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc6_amd64_gcc630/1053

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-02 01:02] cmsbuild commented on #18162
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc7_aarch64_gcc530/1049
Some

[2017-04-02 01:06] cmsbuild commented on #18162
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc6_amd64_gcc530/1050

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-02 02:48] cmsbuild commented on #18162
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc7_amd64_gcc530/1052
Some test

[2017-04-02 02:48] cmsbuild commented on #18162
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc7_aarch64_gcc530/1049

Tests results:
17 15 14 13 5 1 1 1 tests passed, 0 2 0 0 2 0 0 0 failed

[2017-04-02 03:44] cmsbuild commented on #18162
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc7_amd64_gcc530/1052

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-02 05:59] cmsbuild commented on #18162
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc7_amd64_gcc630/1055
Some test

[2017-04-02 06:52] cmsbuild commented on #18162
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre2-slc7_amd64_gcc630/1055

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-02 18:24] davidlange6 commented on #18162
upload all

[2017-04-02 18:24] cmsbuild commented on #18162
Queing Jenkins upload for slc6_amd64_gcc530

[2017-04-02 18:25] cmsbuild commented on #18162
Queing Jenkins upload for slc6_amd64_gcc630

[2017-04-02 18:25] cmsbuild commented on #18162
Queing Jenkins upload for slc7_aarch64_gcc530

[2017-04-02 18:25] cmsbuild commented on #18162
Queing Jenkins upload for slc7_amd64_gcc530

[2017-04-02 18:25] cmsbuild commented on #18162
Queing Jenkins upload for slc7_amd64_gcc630

[2017-04-02 18:28] cmsbuild commented on #18162
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/662/console

[2017-04-02 18:29] cmsbuild commented on #18162
The upload has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/663/console

[2017-04-02 18:30] cmsbuild commented on #18162
The was error uploading slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre2-slc7_aarch64_gcc530/664

[2017-04-02 18:30] cmsbuild commented on #18162
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre2-slc6_amd64_gcc530/662
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-02 18:30] cmsbuild commented on #18162
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-02 18:30] cmsbuild commented on #18162
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/665/console

[2017-04-02 18:30] cmsbuild commented on #18162
The upload has started for slc7_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/666/console

[2017-04-02 18:31] cmsbuild commented on #18162
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre2-slc6_amd64_gcc630/663
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-02 18:31] cmsbuild commented on #18162
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-02 18:33] cmsbuild commented on #18162
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre2-slc7_amd64_gcc630/666
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-02 18:33] cmsbuild commented on #18162
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-02 18:37] cmsbuild commented on #18162
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre2-slc7_amd64_gcc530/665
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-02 18:38] cmsbuild commented on #18162
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-02 18:44] davidlange6 commented on #18162
release-notes

[2017-04-02 18:44] cmsbuild commented on #18162
Generating release notes since CMSSW_9_1_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-04-02 18:44] cmsbuild commented on #18162
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_1_0_pre2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_1_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_1_0_pre2

in case the 23

[2017-04-02 18:49] cmsbuild commented on #18162
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_0_pre2

[2017-04-03 11:51] perrozzi opened #18174 "CMSSW supporting MPI"
As detailed in the talk during the O&C week https://indico.cern.ch/event/624140/contributions/2533506/attachments/1438011/2212147/Long_GENComputingReport_2017_04_03.pdf
we would like to have MPI support inside CMSSW, to boost the usage of Sherpa MC generator.
From what I understood during the discussion, this should be relatively straightforward.
@kdlong @vciulli @bendavid can comment further

[2017-04-03 11:51] cmsbuild commented on #18174
A new Issue was created by  @perrozzi .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-03 12:09] perrozzi opened #18175 "support for gcc5 for 2016 MC production"
As detailed in the talk during the O&C week https://indico.cern.ch/event/624140/contributions/2533506/attachments/1438011/2212147/Long_GENComputingReport_2017_04_03.pdf
we would like to have a CMSSW version supporting gcc5 for 2016 MC production.
From what I understood during the discussion, this should be relatively straightforward
or even already available in CMSSW 80x. Main differences with res

[2017-04-03 12:09] cmsbuild commented on #18175
A new Issue was created by  @perrozzi .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-03 12:35] davidlange6 commented on #18174
please propose the appropriate set of configure arguments for OpenMPI

[2017-04-03 12:48] davidlange6 commented on #18175
indeed the real request is a gcc530 release.

So, 80x works out of the box except that generator requests haven't gone into 80x for some time now. So, GEN would need to look at what updates are needed. And otherwise some validation/comparison is needed to ensure sanity.

We can have a quick look at 71x in gcc530, but that may fail quickly.

[2017-04-03 13:08] kdlong commented on #18174
I've been working on a local installation of Sherpa compiled against OpenMPI. I don't quite have it working at the moment but I hope to have more info soon. One thing I'm sure is that the c++ bindings, which are deprecated in the MPI standard and are disabled in OpenMPI by default, are necessary. This requires the configuration option --enable-mpi-cxx

In general, is there any reason to prefer Ope

[2017-04-03 13:20] davidlange6 commented on #18174
its probably best that the GEN group evaluate and make a request for what specifically is wanted. there aren't other known use cases (and thus few other experts on this sort of topic) in cmssw

[2017-04-03 13:41] bbockelm commented on #18174
@kdlong - one question is of expectations management.  How many cores would you like to target for the Sherpa use case?

I ask because the approach here is completely different if Sherpa can run on a single host (8-64 cores) versus multiple hosts.

For a single host, one can just utilize OpenMPI with the shmem (shared memory) backend and disable all others; in such a case, it's irrelevant what the

[2017-04-03 14:50] smuzaffar commented on #17058
@fcouderc, please make a PR with your changes for https://github.com/cms-sw/cms-bot/blob/master/watchers.yaml

[2017-04-03 14:52] smuzaffar commented on #17085
closing it as external lwtnn is now in release

[2017-04-03 14:52] #17085 closed

[2017-04-03 15:47] kpedro88 commented on #16121
Here's a list of relevant PRs tackling many of these:
#17436
#17514
#17428
#17377
#17472
#17503
#17602
#17699
#17515
#17449
#18153

[2017-04-04 12:01] Dr15Jones commented on #18102
Where are we on this?

[2017-04-04 12:04] davidlt commented on #18102
Done from my side, but re-running valgrind on a new IB would be a nice. Just to double check.

[2017-04-04 12:08] davidlange6 commented on #18102
its in pre2. will be validated there then can be pushed back

[2017-04-04 13:29] kdlong commented on #18174
@bbockelm - my impression is that we should first target this single host workflow. Without MPI the jobs can run on exactly 1 core, so 8 - 64 would already be a huge improvement, even if it isn't sufficient for the most intensive processes. A version of Sherpa + OpenMPI compiled in CMSSW would be a huge help for this type of workflow. I'm working on testing this with a local installation and will

[2017-04-04 13:45] slava77 opened #18193 "add 2016H or/and 2016PA workflows to"
Some hardware (fw versions) or data kinds was present only in later runs in 2016 data and currently can not be tested regularly

Looking at certification jsons (somewhat randomly)
- 2016H e.g. ```"283270": [76, 573] ```
    - this run was also mentioned as a good run for TwinMux to be used for  RPC readout with #17967
- 2016PA e.g. ``` "286519": [[1, 935]] ```

@fabozzi @arunhep @franzoni @fthysse

[2017-04-04 13:46] cmsbuild commented on #18193
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-04 13:46] slava77 commented on #18193
assign pdmv

[2017-04-04 13:46] cmsbuild commented on #18193
New categories assigned: pdmv

@fabozzi,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-04 14:21] kpedro88 commented on #16121
#18195 finishes off the list in https://github.com/cms-sw/cmssw/issues/16121#issuecomment-277284739, except for `L1TCSCTF`. That one has a thorny problem that `CSCTriggerGeometry` is not thread-safe, so more extensive code rewrites are required to fix it. I think the solution is straightforward, just tedious, so will get to it in a separate PR.

[2017-04-04 15:01] bbockelm commented on #18174
Gotcha - in that case, you simply want the `sm` backend (there is a new one, `vader`, but it requires a newer kernel than available at most sites).  See this for a few instructions on how to configure and flags needed:

https://www.open-mpi.org/faq/?category=sm

One only needs to consider site-specific concerns if you need to go between nodes - otherwise, you want to really avoid the site's MPI st

[2017-04-04 15:43] slava77 commented on #18160
@davidlt  please run the same test with debug symbols so that we can see the line numbers.
Thank you.

[2017-04-04 15:44] slava77 commented on #18160
@aperloff please take a look at this

[2017-04-04 16:17] aperloff commented on #18160
@slava77 I've taken a look, but this is really hard to debug without line numbers. I'll keep trying to figure out what happened, but I have another deadline to meet by tomorrow morning.

@kpedro88

[2017-04-04 16:53] cmsbuild commented on #18162
The cleanup has started for slc6_amd64_gcc700

[2017-04-04 16:53] cmsbuild commented on #18162
The cleanup has started for slc7_aarch64_gcc700

[2017-04-04 16:53] cmsbuild commented on #18162
The cleanup has started for slc6_amd64_gcc530

[2017-04-04 16:53] cmsbuild commented on #18162
The cleanup has started for slc6_amd64_gcc630

[2017-04-04 16:53] cmsbuild commented on #18162
The cleanup has started for slc7_amd64_gcc530

[2017-04-04 16:53] cmsbuild commented on #18162
The cleanup has started for slc7_amd64_gcc630

[2017-04-04 16:53] #18162 closed

[2017-04-04 16:55] cmsbuild commented on #18162
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre2-slc7_aarch64_gcc700/599

[2017-04-04 16:55] cmsbuild commented on #18162
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre2-slc6_amd64_gcc630/597

[2017-04-04 16:55] cmsbuild commented on #18162
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre2-slc6_amd64_gcc530/596

[2017-04-04 16:56] cmsbuild commented on #18162
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre2-slc6_amd64_gcc700/598

[2017-04-04 17:07] cmsbuild commented on #18162
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre2-slc7_amd64_gcc630/601

[2017-04-04 17:07] cmsbuild commented on #18162
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre2-slc7_amd64_gcc530/600

[2017-04-04 17:17] davidlt commented on #18160
I would advice you to run the valgrind, as you will be fixing the issue thus you will need a way to confirm that issues are actually fixed.

[code]

If you are using `slc6_amd64_gcc700` then I would advice:
[code]
If that doesn't satisfy you, I can run it.

[2017-04-04 18:21] aperloff commented on #18160
@davidlt I ran exactly that command and the code finished successfully as far as I can tell. I did see the same message you did about something being uninitialized. Are you worried about a segfault or a memory leak?

[2017-04-04 18:28] davidlt commented on #18160
It will finish successfully, but it was accessing memory outside the bounds. This time it's lucky not to cause segfault.

[2017-04-04 18:56] davidlt commented on #18160
[code]

[2017-04-04 19:07] Dr15Jones commented on #18160
I bet `lower_bound` returned `end()`. Then the dereference would be reading a value just off the end of the container.
http://cmslxr.fnal.gov/source/CondFormats/JetMETObjects/src/JetCorrectorParametersHelper.cc#0123

[2017-04-04 19:13] davidlt commented on #18160
@Dr15Jones that would make sense as `end()` is pointing to the element after the last valid. `lower_bound` couldn't find such element thus returned `end()` accessing such iterator would be illegal then.

[2017-04-04 19:16] aperloff commented on #18160
@Dr15Jones That's possible, though it would be very rare as it would only occur (right now) for jets with |eta|>4.889. I can study this more tomorrow when I'm not under deadline.

[2017-04-05 09:28] slava77 commented on #17603
PRs for the legacy and miniAOD v1:

RECO part
- CTPPS strip updates, diamond reco up to rechits and  strip miniAOD #17815
    - all relevant algorithms are enabled by default
- ECAL multifit updates #17259
    - current implementation implies that production is run with ```--customise_command "process.ecalMultiFitUncalibRecHit.algoPSet.gainSwitchEBMaxSample = cms.bool(True)"```
- ES dead plane cal

[2017-04-05 10:08] perrozzi opened #18213 "towards a solution of the LHERunInfoProduct duplication"
As discussed again during the O&C week, there is a long standing issue with the duplication of LHERunInfoProduct https://indico.cern.ch/event/624140/contributions/2533506/attachments/1438011/2212245/lheruninfoproduct_memory_usage.pdf
The issue has been identified and a solution example has been implemented [1] but some discussion is needed, hence this github issue.

The LHERunInfoProduct is basica

[2017-04-05 10:08] cmsbuild commented on #18213
A new Issue was created by  @perrozzi .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-05 10:11] perrozzi commented on #18213
(adding @covarell too)

[2017-04-05 14:09] perrozzi commented on #18174
it is done inside CMSSW cfr https://github.com/cms-sw/genproductions/blob/master/python/ThirteenTeV/GGJets_M-1000To2000_Pt-50_13TeV-sherpa_cff.py

[2017-04-05 14:18] kdlong commented on #18174
But my understanding is that the event generation won't use MPI, just the gridpack generation, which is done externally. We need to confirm/test this, but I think it can work. @vciulli, does this seem right?

[2017-04-05 14:23] aperloff commented on #18160
I'm currently testing a fix. It runs through valgrind without any uninitialized values (at least for JetCorrectorParametersHelper, JetCorrectorParameters, or FactorizedJetCorrector). I'm currently running my test suite to make sure the behavior of the code is still the same. It should be, but I want to check all the edge cases.

[2017-04-05 16:10] perrozzi commented on #18174
yes indeed MPI is needed only to create the sherpack. in fact, what is currently done is to use a standalone version to create the sherpack somewhere like DESY, do some manipulation to make it comply with the "native CMSSW" sherpack, then use it as if it was made using sherpa inside CMSSW, cfr
https://indico.cern.ch/event/615514/contributions/2530154/attachments/1434198/2204645/2017-03-27__GEN_tec

[2017-04-05 16:27] bendavid commented on #18174
It might be reasonable to continue to run sherpa standalone to produce the sherpacks, but just to do so directly with the compiled version shipped with CMSSW.

[2017-04-05 20:49] slava77 opened #18227 "follow up on code review issues in pixel template code"
related to #18038

[2017-04-05 20:50] slava77 commented on #18227
assign reconstruction

[2017-04-05 20:50] cmsbuild commented on #18227
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-05 20:50] cmsbuild commented on #18227
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-05 21:10] slava77 commented on #18227
@pmaksim1
to keep you in the thread

[2017-04-06 07:09] davidlange6 commented on #17603
Status update

Merged in 04-05-2300
#17219, #17259, #17584, #17592, #17609, #17642, #17815, #17875, #17940, #18062

Merged in 04-06-1100
#17292 [except this should have been for miniaodv2 per @slava77

Other requests pending and/or mentioned in this issue
#17968 - not in 91x (or signed), so not in the re-reco
#16174 - not in 91x (or signed), so not in the re-reco

[2017-04-06 07:29] slava77 commented on #17603
@davidlange6 for rereco and mini v1 please use https://github.com/cms-sw/cmssw/issues/17603#issuecomment-291805776
I was trying to make the text rather clear, but apparently not clear enough.

[2017-04-06 07:41] slava77 commented on #17603
@davidlange6
I have now updated https://github.com/cms-sw/cmssw/issues/17603#issuecomment-291805776 to reflect the merged PRs status and added muon tracking HIP un-mitigation #18218 (to be signed some time today).

[2017-04-06 07:51] davidlange6 commented on #17603
ok, #17292 is reverted. we can merge #18235 when we need it again.

[2017-04-06 08:11] perrozzi commented on #18174
yes, I agree, to avoid any inconsistency

[2017-04-06 09:14] perrozzi commented on #18175
I see some ongoing tests here https://github.com/cms-sw/cmsdist/pull/2936 (thanks!)

[2017-04-06 09:46] vciulli commented on #18174
@pmillet can comment but I think the command cmsRun is not invoked to create the sherpack, even if one uses the scripts prepared for using Sherpa inside CMSSW

MPI is certainly not needed to generate the events

I agree using multiple core in a single machine is already a good starting point.
Maybe @pmillet already has a recipe for building Sherpa with MPI inside CMSSW.

[2017-04-06 09:52] drkovalskyi commented on #16767
Hi @davidlange6, @Dr15Jones, @smuzaffar. Could you please increase priority of that issue to get it eventually resolved?
Thanks.

[2017-04-06 09:54] pmillet commented on #18174
cmsRun is not invoked when creating the sherpack
I do not have a recipe ready, but i think specifying '--enable-mpi' when building sherpa should be sufficient (+ eventually specify the path to openmpi)

[2017-04-06 10:17] davidlange6 commented on #16767
its not an issue for the three of us to resolve.

[2017-04-06 11:18] drkovalskyi commented on #16767
Who should we contact?

[2017-04-06 11:37] pmillet commented on #18174
apparently this was also tested in the past, see
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_5_3_X/slc5_amd64_gcc462-sherpa2/sherpampi.spec

[2017-04-06 11:41] perrozzi commented on #18174
(@fabiocos please comment in case)

[2017-04-06 11:46] davidlange6 commented on #16767
the people to whom the issue is assigned? (though ok, its old enough there are different people)
@fabozzi and  @GurpreetSinghChahal

[2017-04-06 11:56] fabozzi commented on #16767
Hi,
the skim matrix in CMSSW is in Configuration/Skimming:
https://github.com/cms-sw/cmssw/blob/master/Configuration/Skimming/python/autoSkim.py

But no mapping to output data tier is there.

@kfjack is responsible for maintaining the skim matrix up to date.

[2017-04-06 12:05] fabiocos commented on #18174
This was indeed tested and used for private production (supporting SMP-12-017) in the branch IB/CMSSW_5_3_X/slc5_amd64_gcc462-sherpa2 with sherpa version 2.0.beta2, that stayed around for about one year. You may find in the same branch the openmpi.spec I used at that time. I never tested the setup on multiple nodes simultaneously, but used a 16 cores node for production of the sherpacks, and it wo

[2017-04-06 12:26] slava77 commented on #17603
I added #18240  to https://github.com/cms-sw/cmssw/issues/17603#issuecomment-291805776

[2017-04-06 16:27] DrDaveD opened #18246 "CondCore/CondDB/test/testConnectionPool.cpp accessing obsolete squid service"
CondCore/CondDB/test/testConnectionPool.cpp has a hardcoded frontier configuration, proxyconfigurl=http://cmst0frontier.cern.ch/t0.pac, and that is now obsolete and will soon be decomissioned.  The new proxyconfigurl is http://grid-wpad/wpad.dat, but more importantly, why is that connect string hardcoded there at all?  It should be using the local configuration from site-local-config.xml like ever

[2017-04-06 16:28] cmsbuild commented on #18246
A new Issue was created by  @DrDaveD .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-06 16:55] davidlange6 commented on #18246
assign db

[2017-04-06 16:55] cmsbuild commented on #18246
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-06 18:58] bbockelm commented on #18174
@perrozzi - if you guys take this approach with CMS Connect, I've been working to get more hosts available with >8 cores.

The maximum currently is 56 (and you may end up in a quite long line for these).  At 8 cores, you should get as many cores as you need.

HTH!

[2017-04-06 20:00] dildick commented on #16121
@kpedro88 [Here](https://github.com/cms-sw/cmssw/compare/master...dildick:from-CMSSW_9_1_X_2017-04-05-2300-stop-using-csc-trigger-geometry?expand=1) is an attempt to get rid of the CSCTriggerGeometry

[2017-04-06 20:16] dildick commented on #16218
@Dr15Jones Regarding the try-catch, I refer to a discussion we had 3 years ago: https://github.com/cms-sw/cmssw/pull/1732#discussion-diff-9173458

Back then that was the only solution.

[2017-04-07 07:47] davidlt opened #18251 "Invalid reads in l1t::SortJets, l1t::SortEGammas, l1t::SortTaus"
Happens in 1st even of  `step3_RAW2DIGI_L1Reco_RECO_EI_PAT_ALCA_DQM.py` of 134.802 on `slc6_amd64_gcc700`, `CMSSW_9_1_X_2017-04-06-2300`.

I am running again to get the line numbers.

[code]

[2017-04-07 07:47] cmsbuild commented on #18251
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-07 09:23] kpedro88 commented on #16121
Thanks @dildick, that looks like a good start. Can you make the same changes in `DQM/L1TMonitor/interface/L1TCSCTF.h` (and then remove `thread_unsafe::` from its header)? Also, if there is then no code that makes use of `CSCTriggerGeometry` or `CSCTriggerGeomManager`, those classes can be deleted.

[2017-04-07 11:19] davidlt commented on #18251
[code]

[2017-04-07 13:12] perrozzi commented on #18174
@bbockelm thanks for the info, this possibility will be definitely taken into account when mpi will be integrated in cmssw

[2017-04-07 13:13] perrozzi commented on #18174
@fabiocos thanks a lot, we should simply replicate what was done in 53x then

[2017-04-07 14:10] dildick commented on #16121
This PR may fix the remaining issues https://github.com/cms-sw/cmssw/pull/18259

[2017-04-07 19:54] kfjack commented on #16767
Hi all,

The data tier is defined for each skim. For example,
https://github.com/cms-sw/cmssw/blob/master/Configuration/Skimming/python/Skims_PDWG_cff.py
For each FilteredStream there is a string dataTier defined.

Please let me know what would be the best materials I should provide here.

ps. Somehow I did not get any notice mail of this thread until Dima pinged me...(?)

[2017-04-08 14:10] Dr15Jones commented on #18251
I think I see the problem. What had me wondering was the read error was during the `push_back` for a `std::vector<l1t::Jet>` but the memory says it came from a `std::vector<l1t::L1Candidate>`. Going up the stack I bit I see that the problem originates at
[code]
https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TCalorimeter/src/HardwareSortingMethods.cc#L381

If you look at the line above tha

[2017-04-08 17:16] davidlt commented on #18251
@Dr15Jones do you plan to publish a fix? If not, could you assign this to L1 category. There should be enough information for them to resolve the issue.

[2017-04-08 18:03] Dr15Jones commented on #18251
assign l1

[2017-04-08 18:04] cmsbuild commented on #18251
New categories assigned: l1

@mulhearn,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-08 21:26] davidlange6 opened #18274 "Build CMSSW_9_0_1"

[2017-04-08 21:26] cmsbuild commented on #18274
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-04-08 21:26] davidlange6 commented on #18274
+1

[2017-04-08 21:27] cmsbuild commented on #18274
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-04-08 21:27] cmsbuild commented on #18274
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-04-08 21:28] cmsbuild commented on #18274
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1057/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-08 21:28] cmsbuild commented on #18274
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1058/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-08 21:28] cmsbuild commented on #18274
The build has started for slc7_amd64_gcc530 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1056/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-08 21:29] cmsbuild commented on #18274
The build has started for slc7_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1059/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-08 23:52] cmsbuild commented on #18274
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_1-slc6_amd64_gcc630/1058
Some tests ( r

[2017-04-09 00:18] cmsbuild commented on #18274
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_1-slc7_amd64_gcc630/1059
Some tests ( r

[2017-04-09 00:37] cmsbuild commented on #18274
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_1-slc6_amd64_gcc530/1057
Some tests ( r

[2017-04-09 01:02] cmsbuild commented on #18274
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_1-slc6_amd64_gcc630/1058

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-09 01:15] cmsbuild commented on #18274
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_1-slc7_amd64_gcc630/1059

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-09 01:33] cmsbuild commented on #18274
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_1-slc6_amd64_gcc530/1057

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-09 04:01] cmsbuild commented on #18274
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_1-slc7_amd64_gcc530/1056
Some tests ( r

[2017-04-09 05:37] cmsbuild commented on #18274
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_1-slc7_amd64_gcc530/1056

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-09 06:07] davidlange6 commented on #18274
upload all

[2017-04-09 06:08] cmsbuild commented on #18274
Queing Jenkins upload for slc6_amd64_gcc530

[2017-04-09 06:08] cmsbuild commented on #18274
Queing Jenkins upload for slc6_amd64_gcc630

[2017-04-09 06:08] cmsbuild commented on #18274
Queing Jenkins upload for slc7_amd64_gcc530

[2017-04-09 06:08] cmsbuild commented on #18274
Queing Jenkins upload for slc7_amd64_gcc630

[2017-04-09 06:08] cmsbuild commented on #18274
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/667/console

[2017-04-09 06:08] cmsbuild commented on #18274
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/668/console

[2017-04-09 06:09] cmsbuild commented on #18274
The upload has started for slc7_amd64_gcc530 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/669/console

[2017-04-09 06:10] cmsbuild commented on #18274
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_1-slc6_amd64_gcc630/668
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-09 06:10] cmsbuild commented on #18274
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-09 06:11] cmsbuild commented on #18274
The upload has started for slc7_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/670/console

[2017-04-09 06:12] cmsbuild commented on #18274
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_1-slc6_amd64_gcc530/667
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-09 06:12] cmsbuild commented on #18274
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-09 06:12] cmsbuild commented on #18274
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_1-slc7_amd64_gcc630/670
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-09 06:13] cmsbuild commented on #18274
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-09 06:20] cmsbuild commented on #18274
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_1-slc7_amd64_gcc530/669
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-09 06:20] cmsbuild commented on #18274
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-09 06:35] davidlange6 commented on #18274
release-notes

On 9 Apr 2017, at 08:20, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since <previous-release>", in the first line of your comment.
I will generate the release notes based on the release t

[2017-04-09 06:36] cmsbuild commented on #18274
Generating release notes since CMSSW_9_0_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-04-09 06:36] cmsbuild commented on #18274
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_0_1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_0_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_1

Cheers,
cms-bot

You can also

[2017-04-09 06:37] cmsbuild commented on #18274
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_1

[2017-04-09 21:16] slava77 commented on #17603
I have updated https://github.com/cms-sw/cmssw/issues/17603#issuecomment-291805776
- already merged #18240 is added to the list
- recently signed #18218 has an updated description and is ready to be merged (with a caveat that the 91X code is not merged yet)
- recently signed #17968 is ready to be merged (with a caveat that the 91X code update, which has a 10% relative impact on what's already in 9

[2017-04-10 00:58] Dr15Jones opened #18279 "Fix modules which are directly calling DQMStore"
The modules
https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/DQM/SiStripCommissioningSources/interface/SiStripCommissioningSource.h
https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/Validation/RecoTau/plugins/DQMFileLoader.h

are both directly calling thread-unsafe interfaces of DQMStore. These need to be converted to use the new IBooker int

[2017-04-10 00:58] Dr15Jones commented on #18279
assign dqm

[2017-04-10 00:58] cmsbuild commented on #18279
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-10 00:59] cmsbuild commented on #18279
New categories assigned: dqm

@vanbesien,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-10 13:23] davidlange6 commented on #17603
#17968 looks too late to consider here. the much bigger 91x code change in #18165  is somehow finally catching up to the last-moment-reminiaod changes from months ago?

[2017-04-10 13:23] davidlange6 commented on #17603
#18218 is now merged.

[2017-04-10 15:49] Dr15Jones commented on #18279
I found an additional module which is calling unsafe DQM interfaces:
https://github.com/cms-sw/cmssw/blob/master/CalibTracker/SiStripChannelGain/plugins/SiStripGainFromCalibTree.cc

This books and gets histograms without the lock being taken.

[2017-04-10 16:25] Dr15Jones commented on #18279
assign alca

[2017-04-10 16:26] cmsbuild commented on #18279
New categories assigned: alca

@mmusich,@cerminar,@arunhep,@franzoni,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-10 17:01] mmusich commented on #18279
@Dr15Jones can you clarify in which time-scale you foresee for the migration to happen?

`SiStripGainFromCalibTree.cc` is an essential ingredient for the SiStrip Gains Prompt Calibration Loop and looks like that to comply with thread-safety requirement some major refactoring of the code is needed. Is there in the plans to run the PCL multi-threaded?
@dimattia @boudoul you might want to follow this

[2017-04-10 17:12] slava77 commented on #17603
I have updated https://github.com/cms-sw/cmssw/issues/17603#issuecomment-291805776
- added CTPPS diamonds tracking #18238
- marked  #18218 as merged

[2017-04-10 18:00] Dr15Jones commented on #18279
Using multiple threads for Run, LuminosityBlock processing (as well as allowing multiple Run and LuminosityBlocks to be running concurrently) is the next item to address on increasing our threading efficiency. The framework should be capable of doing that early to mid Summer, but could not be put into the release until we have modules like these fixed.

I'm strongly of the opinion that we should m

[2017-04-10 19:55] davidlt opened #18298 "showIB build logs do not show Python failures"
The following is not reported as compilation error. This makes harder to find the packages which is causing high number of linking errors.
[code]

I guess , we could scan for `Traceback (most recent call last):`

[2017-04-10 19:55] cmsbuild commented on #18298
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-10 20:00] smuzaffar commented on #18298
assign externals

[2017-04-10 20:01] cmsbuild commented on #18298
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-10 20:10] smuzaffar commented on #18298
@davidlt, it does show it a python error
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_ppc64le_gcc700/CMSSW_9_1_X_2017-04-10-1100/DataFormats/TrackCandidate

[2017-04-10 20:51] davidlt commented on #18298
Yes, I am used to look for `compError`.

[2017-04-10 20:51] #18298 closed

[2017-04-11 04:38] cmsbuild commented on #18274
The cleanup has started for slc6_amd64_gcc530

[2017-04-11 04:38] cmsbuild commented on #18274
The cleanup has started for slc6_amd64_gcc630

[2017-04-11 04:38] cmsbuild commented on #18274
The cleanup has started for slc7_amd64_gcc530

[2017-04-11 04:38] cmsbuild commented on #18274
The cleanup has started for slc7_amd64_gcc630

[2017-04-11 04:38] #18274 closed

[2017-04-11 04:39] cmsbuild commented on #18274
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_1-slc6_amd64_gcc630/603

[2017-04-11 04:39] cmsbuild commented on #18274
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_1-slc6_amd64_gcc530/602

[2017-04-11 04:45] cmsbuild commented on #18274
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_1-slc7_amd64_gcc630/605

[2017-04-11 04:45] cmsbuild commented on #18274
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_1-slc7_amd64_gcc530/604

[2017-04-11 05:33] smuzaffar commented on #18298
We can change the type for this error to be ```compError```

[2017-04-11 08:01] fabozzi commented on #18193
HI, currently what is deployed in the matrix
is:
#### run2 2016H ####
Run2016H={283877: [[1, 45]]}

and uses prompt-like conditions.
Is this run already OK or 283270 is preferable?

[2017-04-11 13:40] dmitrijus commented on #18279
Contacted @fioriNTU, the SiStripCommissioningSource should be fixed soon.

The RecoTau part I believe is not even used any more, will double check with RecoTau and hopefully remove this module.

[2017-04-11 13:45] Dr15Jones commented on #18279
@dmitrijus thanks for following up so quickly.

[2017-04-11 15:03] perrozzi commented on #18174
@pmillet could you try to make a PR to copy what was in 53x?

[2017-04-11 15:07] pmillet commented on #18174
ok

[2017-04-11 15:15] perrozzi commented on #18175
Follow up from today's ORP: tests in 71X so far positive but next step is to make ROOT 5 and gcc compatible, which is not straightforward. Workaround should be available but not guaranteed to work, timescale for an update ~2 weeks.
If that fails the alternative is to move to 80X which requires some work, so some discussion will be needed before to do that.

[2017-04-11 16:01] dimattia commented on #18279
@Dr15Jones

We cannot implement the thread safeness on SiStripGainFromCalibTree immediately because we are working on updating the monitoring histograms for the multi run harvesting. Such development is urgent and is expected to come within a couple of weeks.

Is there any documentation that explains how the thread model works in CMSSW? For  an analyser, at which point of its life state (e.g. Begi

[2017-04-11 17:58] Dr15Jones commented on #18279
It is best to assume that anytime your module is called, another thread may be running another module. We are not there yet, but ultimately we have to move that way to get the most out of our computational resources. It is important to remember that for 'stream', 'one' and legacy modules, the framework will only allow one thread to work with that module at a time. Therefore it is only resources sh

[2017-04-11 18:23] Dr15Jones commented on #16218
@dildick Fortunately, the framework was changed (May 27, 2014) so that it no longer throws immediately during the `get` call.

[2017-04-11 18:30] dildick commented on #16218
@Dr15Jones Ok. I'll implement the snippet below in a pull request
<PRE>
  edm::ESHandle h_gem;
  setup.get().get(h_gem);
  if (h_gem.isValid()) {
    lctBuilder_->setGEMGeometry(&*h_gem);
  } else {
    edm::LogInfo("L1CSCTPEmulatorNoGEMGeometry")
      << "+++ Info: GEM geometry is unavailable. Running CSC-only trigger algorithm. +++\n";
  }
</PRE>

[2017-04-11 18:42] Dr15Jones commented on #16218
@dildick thanks!

[2017-04-11 19:17] boudoul commented on #18279
thanks @Dr15Jones  - We should indeed plan to migrate this SiStripGainFromCalibTree as soon as we can
Gaelle -Tracker DPG

[2017-04-12 08:54] davidlange6 opened #18325 "Build CMSSW_9_0_2"

[2017-04-12 08:54] cmsbuild commented on #18325
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-04-12 08:54] davidlange6 commented on #18325
+1

[2017-04-12 08:55] cmsbuild commented on #18325
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-04-12 08:55] cmsbuild commented on #18325
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-04-12 08:55] cmsbuild commented on #18325
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1060/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-12 08:57] cmsbuild commented on #18325
The build has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1061/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-12 08:57] cmsbuild commented on #18325
The build has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1062/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-12 08:58] cmsbuild commented on #18325
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1063/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-12 08:59] ianna opened #18326 "HCal Payload Producer for 2023 Scenario Review"
HCal payload size produced for 2023 D11 scenario is much bigger then it used to be.

HCal RECO geometry size comparison with other payloads:
[code]

[2017-04-12 08:59] cmsbuild commented on #18326
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-12 09:01] ianna commented on #18326
@kpedro88 and @bsunanda - FYI

[2017-04-12 09:12] ianna commented on #18326
When an HcalGeometry record is requested from CaloSubdetectorGeometry ESHandle:
http://cmslxr.fnal.gov/source/CondTools/Geometry/plugins/PCaloGeometryBuilder.cc#0070
it contains both HCal and HGCal (as HcalEndcap - the DetId interpretation in the event display)

![screenshot 2017-04-12 10 53 33](https://cloud.githubusercontent.com/assets/1390682/24949881/65088f86-1f6f-11e7-8301-c36dabcfa1b8.png)

[2017-04-12 09:21] ianna commented on #18326
ECal endcap is also present (though should not):
http://cmslxr.fnal.gov/source/Geometry/CaloEventSetup/python/CaloGeometry2023DBWriter_cfi.py
and ECal barrel is not disabled (though should be):
https://github.com/cms-sw/cmssw/pull/18323/files#diff-8b85498f7be697f5d29f2e40caa1d25cR38
![screenshot 2017-04-12 11 15 40](https://cloud.githubusercontent.com/assets/1390682/24950684/1fa3a93c-1f72-11e7-93d

[2017-04-12 10:52] cmsbuild commented on #18325
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2-slc6_amd64_gcc630/1063
Some tests ( r

[2017-04-12 11:48] cmsbuild commented on #18325
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2-slc6_amd64_gcc630/1063

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-12 12:37] cmsbuild commented on #18325
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2-slc7_amd64_gcc630/1062
Some tests ( r

[2017-04-12 13:12] cmsbuild commented on #18325
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2-slc6_amd64_gcc530/1060
Some tests ( r

[2017-04-12 13:24] cmsbuild commented on #18325
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2-slc7_amd64_gcc530/1061
Some tests ( r

[2017-04-12 13:55] cmsbuild commented on #18325
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2-slc7_amd64_gcc630/1062

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-12 14:23] cmsbuild commented on #18325
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2-slc6_amd64_gcc530/1060

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-12 14:27] cmsbuild commented on #18325
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2-slc7_amd64_gcc530/1061

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-12 16:10] davidlange6 commented on #18325
upload all

[2017-04-12 16:11] cmsbuild commented on #18325
Queing Jenkins upload for slc6_amd64_gcc530

[2017-04-12 16:11] cmsbuild commented on #18325
Queing Jenkins upload for slc6_amd64_gcc630

[2017-04-12 16:11] cmsbuild commented on #18325
Queing Jenkins upload for slc7_amd64_gcc530

[2017-04-12 16:11] cmsbuild commented on #18325
Queing Jenkins upload for slc7_amd64_gcc630

[2017-04-12 16:11] davidlange6 opened #18339 "Build CMSSW_8_0_27"
"Legacy" re-reco release candidate

[2017-04-12 16:11] cmsbuild commented on #18325
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/671/console

[2017-04-12 16:11] cmsbuild commented on #18325
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/672/console

[2017-04-12 16:12] cmsbuild commented on #18325
The upload has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/673/console

[2017-04-12 16:12] cmsbuild commented on #18325
The upload has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/674/console

[2017-04-12 16:13] cmsbuild commented on #18325
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_2-slc6_amd64_gcc630/672
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-12 16:13] cmsbuild commented on #18325
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-12 16:16] cmsbuild commented on #18325
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_2-slc6_amd64_gcc530/671
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-12 16:16] cmsbuild commented on #18325
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-12 16:16] davidlange6 commented on #18339
+1

[2017-04-12 16:16] davidlange6 commented on #18339
assuming the bot notices this soon..

[2017-04-12 16:17] davidlange6 commented on #18325
release-notes

[2017-04-12 16:17] cmsbuild commented on #18325
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_2-slc7_amd64_gcc530/673
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-12 16:17] cmsbuild commented on #18325
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-12 16:18] cmsbuild commented on #18325
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_2-slc7_amd64_gcc630/674
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-12 16:18] cmsbuild commented on #18325
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-12 16:21] cmsbuild commented on #18325
Generating release notes since CMSSW_9_0_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-04-12 16:21] cmsbuild commented on #18325
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_0_2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_0_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_2

Cheers,
cms-bot

You can also

[2017-04-12 16:22] Dr15Jones opened #18340 "Use edm::one modules to access PoolDBOutputService"
The `PoolDBOutputService` appears to be properly thread safe by using a `std::mutex`. However, since the framework will still schedule multiple modules to run concurrently where those modules would then be fighting over the mutex lock and therefore some of them would stall. If, instead, the modules would be declared `edm::one` modules and would declare a `SharedResource` on the `PoolDBOutputServic

[2017-04-12 16:22] cmsbuild commented on #18339
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-04-12 16:22] cmsbuild commented on #18339
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_27. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2017-04-12 16:22] cmsbuild commented on #18339
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-04-12 16:22] cmsbuild commented on #18340
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-12 16:23] cmsbuild commented on #18325
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_2

[2017-04-12 16:24] Dr15Jones commented on #18340
assign alca

[2017-04-12 16:24] cmsbuild commented on #18340
New categories assigned: alca

@mmusich,@cerminar,@arunhep,@franzoni,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-12 16:35] cmsbuild commented on #18339
The build has started for slc7_amd64_gcc530 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1064/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-12 16:58] cmsbuild commented on #18339
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1065/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-12 21:08] cmsbuild commented on #18339
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_27-slc6_amd64_gcc530/1065
Some tests (

[2017-04-12 21:36] cmsbuild commented on #18339
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_27-slc6_amd64_gcc530/1065

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-12 22:41] cmsbuild commented on #18339
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_27-slc7_amd64_gcc530/1064
Some tests (

[2017-04-12 23:21] cmsbuild commented on #18339
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_27-slc7_amd64_gcc530/1064

Tests results:
10 9 8 6 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-13 05:39] davidlange6 commented on #18339
upload all

[2017-04-13 05:39] cmsbuild commented on #18339
Queing Jenkins upload for slc6_amd64_gcc530

[2017-04-13 05:39] cmsbuild commented on #18339
Queing Jenkins upload for slc7_amd64_gcc530

[2017-04-13 05:51] cmsbuild commented on #18339
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/675/console

[2017-04-13 05:52] cmsbuild commented on #18339
The upload has started for slc7_amd64_gcc530 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/676/console

[2017-04-13 05:53] cmsbuild commented on #18339
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_27-slc6_amd64_gcc530/675
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-13 05:54] cmsbuild commented on #18339
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-13 05:55] cmsbuild commented on #18339
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_27-slc7_amd64_gcc530/676
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-13 05:55] cmsbuild commented on #18339
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-13 06:53] davidlange6 commented on #18339
release-notes

[2017-04-13 06:53] cmsbuild commented on #18339
Generating release notes since CMSSW_8_0_26_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-04-13 06:53] cmsbuild commented on #18339
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_27 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_26_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_27

"Legacy" re-reco release candidate

Cheers,
cms-bot

You

[2017-04-13 06:56] cmsbuild commented on #18339
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_27

[2017-04-13 09:17] davidlange6 commented on #18339
I guess I should not put a " in the comment...

[2017-04-13 09:21] smuzaffar commented on #18339
humm may, I shall check

[2017-04-13 09:36] smuzaffar commented on #18339
feel free to use double quotes for next releases

[2017-04-13 19:55] Dr15Jones opened #18356 "EvFDaqDirector has a race condition"
While reviewing all Services for thread-safety issues for recent (and upcoming) framework changes I discovered an existing race condition in `EvFDaqDirector`.

`EvFDaqDirector::updateFileIndex` is called from `FedRawDataInputSource::getNextEvent` which changes the variable `EvFDaqDirector::currentFileIndex_` in a non-thread safe manner (no lock or atomic).

`EvFDaqDirector::currentFileIndex_` is r

[2017-04-13 19:55] cmsbuild commented on #18356
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-13 19:56] Dr15Jones commented on #18356
assign daq, reconstruction

[2017-04-13 19:56] cmsbuild commented on #18356
New categories assigned: daq,reconstruction

@mommsen,@slava77,@perrotta,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-13 20:00] slava77 commented on #18356
On 4/13/17 12:56 PM, cmsbuild wrote:

This is not a reco issue.

\

[2017-04-13 20:03] Dr15Jones commented on #18356
@slava77 The package EventFilter/Utilities shows up under reconstruction responsibility in the categories.py file.

[2017-04-13 20:16] slava77 commented on #18356
On 4/13/17 1:03 PM, Chris Jones wrote:

I know.
It's a shared package.
my earlier comment stands.

[2017-04-13 20:31] Dr15Jones opened #18358 "DQMMonitoringService is not thread-safe"
The DQMMonitoringService has several thread-safety issues:

- It increments an event count per lumi in a non-thread safe manner-
- Its implementation does not support having multiple luminosity blocks being processed simultaneously.

[2017-04-13 20:32] cmsbuild commented on #18358
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-13 20:32] Dr15Jones commented on #18358
assign dqm

[2017-04-13 20:32] cmsbuild commented on #18358
New categories assigned: dqm

@vanbesien,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-14 14:23] cmsbuild commented on #18325
The cleanup has started for slc6_amd64_gcc530

[2017-04-14 14:23] cmsbuild commented on #18325
The cleanup has started for slc6_amd64_gcc630

[2017-04-14 14:23] cmsbuild commented on #18325
The cleanup has started for slc7_amd64_gcc530

[2017-04-14 14:23] cmsbuild commented on #18325
The cleanup has started for slc7_amd64_gcc630

[2017-04-14 14:23] #18325 closed

[2017-04-14 14:24] cmsbuild commented on #18325
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_2-slc6_amd64_gcc530/606

[2017-04-14 14:25] cmsbuild commented on #18325
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_2-slc6_amd64_gcc630/607

[2017-04-14 14:31] cmsbuild commented on #18325
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_2-slc7_amd64_gcc630/609

[2017-04-14 14:45] cmsbuild commented on #18325
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_2-slc7_amd64_gcc530/608

[2017-04-14 20:35] emeschi commented on #18356
@smorovic could you please take a look at this ?

[2017-04-15 05:08] cmsbuild commented on #18339
The cleanup has started for slc7_amd64_gcc530

[2017-04-15 05:08] #18339 closed

[2017-04-15 05:09] cmsbuild commented on #18339
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_27-slc6_amd64_gcc530/610

[2017-04-15 05:15] cmsbuild commented on #18339
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_27-slc7_amd64_gcc530/611

[2017-04-17 16:45] DrDaveD commented on #18246
@ggovi  Please look at this with high priority.  The t0.pac interface will soon be decomissioned and I assume all tests running this code will start breaking.

[2017-04-18 09:20] ggovi commented on #18246
@DrDaveD
Thanks for the warning.  Addressed by
https://github.com/cms-sw/cmssw/pull/18376
https://github.com/cms-sw/cmssw/pull/18377
https://github.com/cms-sw/cmssw/pull/18378
Concerning the need to have the full string in the test: here we validate the code parsing and decoding various connection string supported. The explicit frontier connection string, although discouraged, is supported.

[2017-04-18 14:25] DrDaveD commented on #18246
Thanks, @ggovi.  Do you know if this test is run only on the latest code?  Or is it also run on old code?  Clearly it has to be run only at CERN since a CERN configuration is hard-coded.

[2017-04-18 17:49] slava77 opened #18390 "refactor PATSecondaryVertexSlimmer.cc to reduce run-time type detection and mayConsume use"
to follow up on https://github.com/cms-sw/cmssw/pull/18300#pullrequestreview-33069973

[2017-04-18 17:49] cmsbuild commented on #18390
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-18 17:50] slava77 commented on #18390
assign reconstruction

[2017-04-18 17:50] cmsbuild commented on #18390
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-18 18:13] slava77 commented on #18390
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideEDMGetDataFromEvent#GetterOfProducts
may be useful here

[2017-04-18 20:03] ggovi commented on #18246
I found this test  in 80X, 90X and 91X ( not in 71X ). Any other release cycle to check?

[2017-04-19 20:37] DrDaveD commented on #18246
It's good to hear that it doesn't go back to very old code.  I just hope that people aren't using it for older released versions in those release cycles, but instead are only using it with the latest integration builds.

[2017-04-20 06:06] aperloff commented on #18160
Hi @davidlt @Dr15Jones, I have created a fix for the memory leak and I've added unit tests for the JetCorrectorParametersHelper class. With the fix, the code runs through valgrind without any uninitialized values (at least for JetCorrectorParametersHelper, JetCorrectorParameters, or FactorizedJetCorrector). I've also run through the unit tests and have found no errors; the code acts as expected.

[2017-04-20 08:35] dmitrijus commented on #18358
This is used exclusively in online DQM and online DQM never processes multiple luminosity blocks at the same time. And never multithread, I don't think the input source is thread-safe either.

It runs "on line" - the current lumisection is always the latest one available.

I will see what I can do, a few locks would not hurt.

[2017-04-20 13:23] davidlange6 opened #18422 "Build CMSSW_9_0_2_patch1"
primary purpose: to fix crashes seen in Tier0 for material budget analysis dqm tool

[2017-04-20 13:24] cmsbuild commented on #18422
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-04-20 13:26] davidlange6 commented on #18422
+1

[2017-04-20 13:26] cmsbuild commented on #18422
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-04-20 13:27] cmsbuild commented on #18422
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-04-20 13:28] cmsbuild commented on #18422
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1066/console
CMSDIST Branch: [REL/CMSSW_9_0_2/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_0_2/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-20 13:29] cmsbuild commented on #18422
The build has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1067/console
CMSDIST Branch: [REL/CMSSW_9_0_2/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_0_2/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-20 13:31] cmsbuild commented on #18422
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1068/console
CMSDIST Branch: [REL/CMSSW_9_0_2/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_0_2/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-20 13:40] cmsbuild commented on #18422
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1069/console
CMSDIST Branch: [REL/CMSSW_9_0_2/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_0_2/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-20 13:55] cmsbuild commented on #18422
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2_patch1-slc7_amd64_gcc630/1067
Some te

[2017-04-20 14:06] cmsbuild commented on #18422
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2_patch1-slc7_amd64_gcc530/1066
Some te

[2017-04-20 14:07] cmsbuild commented on #18422
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2_patch1-slc6_amd64_gcc530/1068
Some te

[2017-04-20 14:32] fwyzard opened #18425 "edmPythonConfigToCppValidation does not support Services"
running `edmPythonConfigToCppValidation` over this file FastTimerService_cfi.py

[code]

results in

[code]

A workaround is simply to change `cms.Service` to `cms.EDProducer`.

[2017-04-20 14:32] cmsbuild commented on #18425
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-20 14:52] cmsbuild commented on #18422
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2_patch1-slc7_amd64_gcc630/1067

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-20 14:55] cmsbuild commented on #18422
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2_patch1-slc6_amd64_gcc630/1069
Some te

[2017-04-20 15:01] cmsbuild commented on #18422
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2_patch1-slc6_amd64_gcc530/1068

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-20 15:09] cmsbuild commented on #18422
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2_patch1-slc7_amd64_gcc530/1066

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-20 15:20] davidlange6 commented on #18422
upload all

[2017-04-20 15:23] cmsbuild commented on #18422
Queing Jenkins upload for slc6_amd64_gcc530

[2017-04-20 15:23] cmsbuild commented on #18422
Queing Jenkins upload for slc6_amd64_gcc630

[2017-04-20 15:23] cmsbuild commented on #18422
Queing Jenkins upload for slc7_amd64_gcc530

[2017-04-20 15:23] cmsbuild commented on #18422
Queing Jenkins upload for slc7_amd64_gcc630

[2017-04-20 15:24] cmsbuild commented on #18422
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/677/console

[2017-04-20 15:24] cmsbuild commented on #18422
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/678/console

[2017-04-20 15:24] cmsbuild commented on #18422
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/679/console

[2017-04-20 15:24] cmsbuild commented on #18422
The upload has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/680/console

[2017-04-20 15:26] cmsbuild commented on #18422
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_2_patch1-slc6_amd64_gcc530/677
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-20 15:26] cmsbuild commented on #18422
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-20 15:26] cmsbuild commented on #18422
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_2_patch1-slc7_amd64_gcc530/679
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-20 15:26] cmsbuild commented on #18422
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-20 15:30] cmsbuild commented on #18422
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_2_patch1-slc6_amd64_gcc630/678
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-20 15:30] cmsbuild commented on #18422
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-20 15:36] cmsbuild commented on #18422
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_0_2_patch1-slc7_amd64_gcc630/680
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-20 15:36] cmsbuild commented on #18422
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-20 15:59] davidlange6 commented on #18422
release-notes

[2017-04-20 16:09] cmsbuild commented on #18422
Generating release notes since CMSSW_9_0_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-04-20 16:09] cmsbuild commented on #18422
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_0_2_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_0_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_2_patch1

primary pu

[2017-04-20 16:09] cmsbuild commented on #18422
There was an error generating the release notes, please look into the logs

[2017-04-20 16:18] davidlange6 commented on #18422
release-notes

[2017-04-20 16:19] cmsbuild commented on #18422
Generating release notes since CMSSW_9_0_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-04-20 16:19] cmsbuild commented on #18422
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_0_2_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_0_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_0_2_patch1

primary pu

[2017-04-20 16:20] cmsbuild commented on #18422
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_2_patch1

[2017-04-20 16:44] cmsbuild commented on #18422
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_2_patch1-slc6_amd64_gcc630/1069

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-20 18:31] slava77 opened #18426 "switching to puppi candidate based tagging for puppi jets"
related to the discussion in #18317

a check should be done with latest higher PU samples to check the btag performance on puppi jets using current default pfCands vs puppiCands.
If the gain is positive as it's already clearly seen in phase-2, the change should be applied to all eras instead of just phase-2

[2017-04-20 18:31] slava77 commented on #18426
assign reconstruction

[2017-04-20 18:31] cmsbuild commented on #18426
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-20 18:31] cmsbuild commented on #18426
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-20 18:32] slava77 commented on #18426
@ferencek @imarches

[2017-04-21 06:05] davidlt commented on #18251
ping^1

[2017-04-21 06:08] #14890 closed

[2017-04-21 08:21] fwyzard opened #18433 "unsupported command line arguments to clang"
Running clang-tidy complains with
[code]

It is easy to suppress them with `-checks=-clang-diagnostic-unused-command-line-argument` , but it might be better to remove them from the arguments passed to clang altogether.

[2017-04-21 08:22] cmsbuild commented on #18433
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-22 03:38] bbockelm commented on #16356
@Dr15Jones - could you assign this one to me?  I don't have necessary permissions in GH...

[2017-04-22 03:38] bbockelm commented on #13084
@Dr15Jones - did that commit fix the problem?  Can we close this ticket out?

[2017-04-22 03:39] bbockelm commented on #13081
Fix was merged, we think.  Can this ticket be closed?

[2017-04-22 03:44] bbockelm opened #18440 "Timeout Xrootd requests at the CMSSW-level"
We currently rely on Xrootd's timeout mechanism -- issues with the current release (xrootd 4.5.0) have shown that this isn't 100% reliable.

We don't have our own mechanism because the Xrootd callbacks aren't cancellable -- they might fire at any time after we've given up, even after we've destroyed the corresponding object.

There were two ideas bounced around:

- When we timeout, purposely leak

[2017-04-22 03:44] cmsbuild commented on #18440
A new Issue was created by  @bbockelm Brian Bockelman.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-22 10:07] #13081 closed

[2017-04-22 14:23] cmsbuild commented on #18422
The cleanup has started for slc6_amd64_gcc530

[2017-04-22 14:23] cmsbuild commented on #18422
The cleanup has started for slc6_amd64_gcc630

[2017-04-22 14:23] cmsbuild commented on #18422
The cleanup has started for slc7_amd64_gcc530

[2017-04-22 14:23] cmsbuild commented on #18422
The cleanup has started for slc7_amd64_gcc630

[2017-04-22 14:23] #18422 closed

[2017-04-22 14:24] cmsbuild commented on #18422
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_2_patch1-slc6_amd64_gcc630/613

[2017-04-22 14:24] cmsbuild commented on #18422
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_2_patch1-slc6_amd64_gcc530/612

[2017-04-22 14:28] cmsbuild commented on #18422
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_2_patch1-slc7_amd64_gcc530/614

[2017-04-22 14:28] cmsbuild commented on #18422
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_0_2_patch1-slc7_amd64_gcc630/615

[2017-04-22 17:45] slava77 opened #18443 "switching phase-0 deepNN b-taggers to phase-1 training"
#18315 has left out the phase-0 deepNN b-taggers using old (apparently 80X-based) training.
Based on discussion in that PR, more effort is needed to check the behavior for this data taking period.

An unwanted side-effect includes complications in configuration.

[2017-04-22 17:46] cmsbuild commented on #18443
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-22 17:46] slava77 commented on #18443
assign reconstruction

@mverzett @imarches

[2017-04-22 17:46] cmsbuild commented on #18443
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-24 09:08] fwyzard commented on #18433
On the `slc6_amd64_gcc700` branch, I get also
[code]
which (being an error rather than a warning) is more of a problem.

[2017-04-24 11:16] davidlange6 opened #18449 "Items needed but not yet signed for pre3"
For upgrade (muon tdr validation release)
#17843 (needs L1 signature)
#18387 (code/config organization issues to be solved)
#18373 (needs small update from author)
#18236 (but not essential)

Please add others remaining and issues to be resolved before they can be signed here.

[2017-04-24 11:16] cmsbuild commented on #18449
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-24 11:20] boudoul commented on #18449
hi @davidlange6 , it would be great to have :
#18421  (ugrade signed, needs sim signature)
for the tracker TDR - Thanks

[2017-04-24 11:27] #17386 closed

[2017-04-24 11:31] davidlange6 commented on #18440
assign core

[2017-04-24 11:31] cmsbuild commented on #18440
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-24 11:33] #17058 closed

[2017-04-24 13:10] Dr15Jones commented on #18440
@bbockelm I'm confused, if the `RequestManager` can be leaked then it is on the heap. If it is on the heap then it could be held by a `std::shared_ptr<RequestManager>`. If it is held by a `std::shared_ptr<>` then one can create as many `std::weak_ptr<>` as we want and hand those to the callback specific object.

What am I missing?

[2017-04-24 13:11] Dr15Jones commented on #16356
@bbockelm I don't have the rights to assign.
@davidlange6 @smuzaffar can either of you assign this issue?

[2017-04-24 14:22] bbockelm commented on #18440
@Dr15Jones - yup, that's almost exactly the second option outlined.  Currently, there is no callback-specific object passed around (instead, the callback is given a pointer to the long-lived `RequestManager`), meaning we'd have to create a callback-specific object on the heap for each IO request to hold the `std::weak_ptr<>`.

I _think_ this is acceptable since there are other places that allocate

[2017-04-24 14:25] Dr15Jones commented on #18440
@bbockelm I'm still confused. If the callback is given a pointer to the 'long-lived' `RequestManager`, I don't see why it couldn't instead just be given a `std::weak_ptr<>` to the same `RequestManager`.

[2017-04-24 14:32] kpedro88 commented on #18449
@davidlange6 thanks - one more item is modifications to aging.py for HCAL aging scenarios, which I can hopefully submit today (just Python, so it should be easy to test and review). Not sure if ECAL aging conditions will arrive for pre3, but we can put these in global tags to use for production even if they come late.

[2017-04-24 15:23] Martin-Grunewald commented on #18449
#18428 - this feature is long awaited!

[2017-04-24 20:10] slava77 commented on #18449
Here are other pending non-technical PRs that require reco signature

- #18283 CTPPS updates for 2017
    - essentially ready; important for 910
- #18233 PCC automation
    - needs review after recent updates; the goal is to use this in PCL or something similar in AlCa workflows.
- #18321 muon arbitration
    - essentially ready; affects muons and downstream objects
- #18330 DA clusterizer updates

[2017-04-24 20:25] kpedro88 commented on #18449
#18452 is the aforementioned HCAL aging followup PR

[2017-04-25 09:11] perrotta opened #18455 "Complete removal of ECAL PF cleaning from reco and HLT, and verify its effect on data"
With PR #18438 (now merged in 91X) PF cluster cleaning in ECAL clusters got removed from the Reco sequences.

This followed the discussion started in #17859 (and continued in the reco meeting of Apr 21) where it was realized that modifications to the PF spike cleaning originally meant for HF could have affected ECAL PF cleaning as well. In the discussion, it was stated that PF cleaning is not actu

[2017-04-25 09:12] cmsbuild commented on #18455
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-25 09:20] Sam-Harper commented on #18455
I'll file a JIRA today for the HLT part.  As for testing for data, I have no time to do this. Again, I consider the existence of this bug and I'm frankly annoyed that PF guys felt that they had to reinvent the wheel.  I agree there is a possibility that it is hiding and cancelling out another bug.

I hate to buck pass, but this is a really a  PF problem (its in the generic PFClusters) and PF shoul

[2017-04-25 09:25] Sam-Harper commented on #18455
Btw when I remove this, I'm removing this for all paths. It'll also effect JetMET as well. Just so people are aware this is a global problem with PFClustering that effects everything.

[2017-04-25 11:33] Dr15Jones commented on #18455
assign reconstruction

[2017-04-25 11:33] cmsbuild commented on #18455
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-25 11:36] rafaellopesdesa commented on #18455
@perrotta Thanks. I will try to check the effect of this change in EGM in the coming days (probably not in the next 2 or 3, but after that I should have time... I apologize for not being able to do immediately).

[2017-04-25 12:19] perrotta commented on #18455
Thank you @rafaellopesdesa : the time schedule you propose is fine. I just would like to have it documented, and we can wait a few days for it.

[2017-04-25 12:54] Sam-Harper commented on #18455
JIRA filed: https://its.cern.ch/jira/browse/CMSHLT-1242

[2017-04-25 12:56] davidlange6 commented on #18014
just to kick this issue along, here is the first problem

egin processing the 1st record. Run 1, Event 1, LumiSection 1 at 25-Apr-2017 14:55:27.113 CEST
----- Begin Fatal Exception 25-Apr-2017 14:55:35 CEST-----------------------
An exception of category 'ProductNotFound' occurred while
   [0] Processing  Event run: 1 lumi: 1 event: 1 stream: 0
   [1] Running path 'prevalidation_step'
   [2] Calli

[2017-04-25 12:57] davidlange6 commented on #18014
and all the printouts that indicate problems that came before the crash

%MSG-w GenericTriggerEventFlag:   BPHMonitor:DoubleMu4_JpsiTrk_Displaced_BPHMonitoring@streamBeginRun  25-Apr-2017 14:55:23 CEST Run: 1 Stream: 0
Label BPHDQMTrigger not found in DB for 'AlCaRecoTriggerBitsRcd'
%MSG
%MSG-w GenericTriggerEventFlag:   BPHMonitor:DoubleMu4_3_Jpsi_Displaced_BPHMonitoring@streamBeginRun  25-Apr-20

[2017-04-25 12:57] davidlange6 commented on #18014
mostly for @dmitrijus

[2017-04-25 13:46] Dr15Jones commented on #18425
assign core

[2017-04-25 13:46] cmsbuild commented on #18425
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-25 13:54] Dr15Jones opened #18463 "Crash in ZdcHitReconstructor"
The CMSSW_9_1_X_2017-04-23-0000 IB crashed in workflow 134.0_MinimumBiasBS with the backtrace
[code]

The relevant items running on the other threads of the job were
[code]

The link to the full file is
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_9_1_X_2017-04-24-1100/pyRelValMatrixLogs/run/134.0_MinimumBiasBS+RunMinBias2011B+RECODR1+ALCAPROMPT+ALCAHARVD/step2_MinimumBiasB

[2017-04-25 13:54] cmsbuild commented on #18463
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-25 14:10] smorovic commented on #18356
Hi,

sorry for delay, I was away for more than a week.

The race condition can indeed cause currentFileIndex_ to be wrong. As far as I see, the only bad consequence is that the file might in a such case be deleted before it's fully processed, i.e. no stream is processing an event from that file (it isn't as bad as it sounds because the file will remain open by the process and data will be read ful

[2017-04-25 15:05] kpedro88 commented on #18449
#18456 also needed

[2017-04-25 15:22] Dr15Jones commented on #18463
assign reconstruction

[2017-04-25 15:23] cmsbuild commented on #18463
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-25 15:45] davidlange6 commented on #18449
ECAL aging conditions

[2017-04-25 15:48] kpedro88 commented on #18449
If they don't come in time, we can consider making a patch to the upgrade production release to set them in aging.py.

[2017-04-25 15:53] davidlange6 commented on #18449
#18283, #18321, #18330 are the essential ones

[2017-04-26 15:06] perrotta commented on #18463
+1
Fix provided by @forthommel in #18461 (for 80X) and #18464 (for 91X)
Both fix PRs were tested, and by now signed by reco

[2017-04-26 15:06] cmsbuild commented on #18463
This issue is fully signed and ready to be closed.

[2017-04-26 15:26] slava77 commented on #18463
@perrotta
I'm missing how a fix in CTPPS can affect ZDC.
Was this issue signed by mistake?

[2017-04-26 15:39] perrotta commented on #18463
Yes, you are right @slava77 : I found the notification of this issue together with the other message forwarded by you about the crash in CTPPS, and I did not read it carefully enough: sorry for that.

Removed the "+1" in my comment above: please @Dr15Jones reopen this issue

[2017-04-27 06:06] rekovic commented on #18449
For L1T:
#18489 (essential)
#18428 (highly desired-long waited)
#18085

[2017-04-27 11:40] davidlange6 commented on #18449
Update on remaining items.  can we finish these today?
#18321
#18330
#18456

[2017-04-27 12:44] slava77 commented on #18449
reco perspective:

On 4/27/17 4:40 AM, David Lange wrote:

- looks like today will be conclusive to signoff

- signed already

- will be signed for reco purpose, (ignoring somewhat odd choices made
at digi level)

[2017-04-27 20:19] Dr15Jones opened #18501 "LumiProducer call to frontier is not thread safe"
The framework now uses multiple threads to process the global begin Run transition. During that transition `LumiProducer::beginRun` is called and it directly calls `coral::FrontierAccess::Query::execute()`. Unfortunately, modules which request data from the conditions database will also trigger calls to frontier which leads to race conditions: See
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_

[2017-04-27 20:19] cmsbuild commented on #18501
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-27 20:20] Dr15Jones commented on #18501
If the call to `coral::FrontierAccess::Query::execute()` were moved from `LumiProducer::beginRun` and moved into an `ESProducer` then the `EventSetup` lock would protect against concurrent access.

[2017-04-27 20:20] Dr15Jones commented on #18501
assign core

[2017-04-27 20:20] cmsbuild commented on #18501
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-27 20:20] Dr15Jones commented on #18501
assign db

[2017-04-27 20:20] cmsbuild commented on #18501
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-27 20:54] Dr15Jones commented on #18501
As an intermediate step, we could lock access to the lumi::service::DBService by getting access to the mutex used to protect the conditions system.

[2017-04-27 21:46] slava77 commented on #18449
The three PRs are now signed by reco
#18321
#18330
#18456

[2017-04-27 22:10] kpedro88 commented on #18449
#18503 should be considered if possible - if too late, we can apply it as a patch for the phase2 production release

[2017-04-28 07:22] davidlange6 opened #18506 "Build CMSSW_9_0_0_pre3"

[2017-04-28 07:22] cmsbuild commented on #18506
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-04-28 07:23] davidlange6 commented on #18506
+1

[2017-04-28 07:23] cmsbuild commented on #18506
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_0_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_0_X

[2017-04-28 07:23] cmsbuild commented on #18506
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-04-28 07:27] cmsbuild commented on #18506
The build has started for slc7_amd64_gcc530 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1070/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 07:30] cmsbuild commented on #18506
The build has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1071/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 07:59] cmsbuild commented on #18506
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1072/console
CMSDIST Branch: [IB/CMSSW_9_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 08:18] cmsbuild commented on #18506
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre3-slc7_amd64_gcc630/1071

[2017-04-28 08:19] cmsbuild commented on #18506
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_0_0_pre3-slc7_amd64_gcc530/1070

[2017-04-28 08:37] davidlange6 commented on #18506
abort

[2017-04-28 08:37] davidlange6 opened #18508 "Build CMSSW_9_1_0_pre3"

[2017-04-28 08:37] cmsbuild commented on #18506
Deleting CMSSW_9_0_0_pre3:

  -Release successfully deleted

  -cmssw tag CMSSW_9_0_0_pre3 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0_pre3/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0_pre3/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_9_0_0_pre3/slc7_amd64_gcc530 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_0_0_pre3/sl

[2017-04-28 08:37] davidlange6 commented on #18508
+1

[2017-04-28 08:37] cmsbuild commented on #18508
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-04-28 08:38] cmsbuild commented on #18508
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-04-28 08:38] cmsbuild commented on #18508
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc6_amd64_gcc700, slc7_amd64_gcc630, slc7_ppc64le_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture

[2017-04-28 08:39] cmsbuild commented on #18508
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1073/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 08:39] cmsbuild commented on #18508
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1074/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 08:41] cmsbuild commented on #18508
The build has started for slc7_aarch64_gcc530 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1075/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 08:41] cmsbuild commented on #18508
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1076/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 08:41] cmsbuild commented on #18508
The build has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1077/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 08:41] cmsbuild commented on #18508
The build has started for slc7_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1078/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 11:29] cmsbuild commented on #18508
The was an error for slc7_ppc64le_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_ppc64le_gcc700/1074

[2017-04-28 11:32] cmsbuild commented on #18508
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc530/1077

[2017-04-28 11:43] cmsbuild commented on #18508
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1079/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 11:50] #18506 closed

[2017-04-28 11:52] cmsbuild commented on #18508
The was an error for slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_aarch64_gcc530/1075

[2017-04-28 11:56] cmsbuild commented on #18508
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1080/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 12:49] cmsbuild commented on #18508
The build has started for slc7_amd64_gcc530 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1081/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-28 13:14] cmsbuild commented on #18508
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_aarch64_gcc700/1076

[2017-04-28 13:23] cmsbuild commented on #18508
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc530/1073
Some test

[2017-04-28 13:39] kpedro88 commented on #18449
I guess #18199 somehow missed this list.

Also #18513 is a bug fix for #18503 (pretty simple, can be applied as a patch if necessary).

#18488 came very late...

[2017-04-28 14:13] smorovic commented on #18356
Hi,
#18516 (pull request) which I now created implements the approach suggested here.

[2017-04-28 14:16] cmsbuild commented on #18508
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc530/1073

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-28 14:19] davidlange6 commented on #18449
Ah yes 18199 got dropped. I haven't looked at it since the last rearrangement.

Cheers,
David

On 28 Apr 2017, at 15:40, Kevin Pedro <notifications@github.com<mailto:notifications@github.com>> wrote:

I guess #18199<https://github.com/cms-sw/cmssw/pull/18199> somehow missed this list.

Also #18513<https://github.com/cms-sw/cmssw/pull/18513> is a bug fix for #18503<https://github.com/cms-sw/cmssw/p

[2017-04-28 14:25] Dr15Jones commented on #18501
@DrDaveD this has to do with concurrent access to the frontier client.

[2017-04-28 14:29] Dr15Jones commented on #18501
I took a look at the coral interface to Frontier. The code uses a per Connection lock. However, the underlying assumption is the actual third-party code being called is at least thread-friendly. This is not the case with the frontier client interface where multiple connections touch the same memory structures.

I think the best way to fix this problem is to patch `coral::FrontierAccess::Connection

[2017-04-28 14:33] #18356 closed

[2017-04-28 14:41] ggovi commented on #18501
@Dr15Jones
quoting @xiezhen
"the LumiProducer is no more supported.
You can just remove all the code from inside, leaving empty structures, so that they can still call."

[2017-04-28 14:44] ggovi commented on #18501
@Dr15Jones
on the coral Frontier fix, it guess it would be anyhow good to have it...

[2017-04-28 14:47] cmsbuild commented on #18508
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc630/1078
Some test

[2017-04-28 14:58] DrDaveD commented on #18501
Having a global lock in CORAL would prevent ever having concurrent threads using the frontier client.  We have a long term plan to put a lock inside of frontier client and release the lock while the client is waiting on I/O.  I think that's a better solution because it would allow interleaving I/O.

[2017-04-28 15:02] cmsbuild commented on #18508
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc700/1080

[2017-04-28 15:05] Dr15Jones commented on #18501
@DrDaveD what is the time scale for making the frontier client thread safe? I was hoping to get this patch (which can later be removed) in today since the problem already caused jobs in the IB to crash.

[2017-04-28 15:11] Dr15Jones commented on #18501
@ggovi Only the `LumiProducer` and `ExpressLumiProducer` put `LumiSummary` and `LumiDetails` objects into the `edm::LuminosityBlock` and we definitely have code in CMSSW which reads those objects
[code]

So even though LumiProducer isn't being maintained, it appears that it is needed.

[2017-04-28 15:16] Dr15Jones commented on #18501
My proposed changes are
[code]

[2017-04-28 15:23] Dr15Jones commented on #18501
@davidlange6 @smuzaffar @davidlt
Could we use CMSSW_9_1_DEVEL_X to do the following testing?

1. revert #18504 so the framework uses multiple threads at global begin transitions
1. apply this patch to the version of coral used in that release
1. apply #18499 to fix another problem related to the framework change

That should be sufficient to help shake out any other problems related to the framewo

[2017-04-28 15:43] cmsbuild commented on #18508
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc630/1078

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-28 15:59] cmsbuild commented on #18508
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc630/1079
Some test

[2017-04-28 17:06] cmsbuild commented on #18508
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc630/1079

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-28 20:28] cmsbuild commented on #18508
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc530/1081
Some test

[2017-04-28 21:41] cmsbuild commented on #18508
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc530/1081

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-29 01:39] DrDaveD commented on #18501
@Dr15Jones the frontier client fix will not be quick.  I was assuming you were going to disable LumiProducer like Zhen said, and in that case would rather not do the coral change.  If that's not going to happen, then go ahead and do the coral patch, understanding that it is temporary.  I would not try to get it merged upstream.

[2017-04-29 16:40] davidlange6 commented on #18508
abort

[2017-04-29 16:40] cmsbuild commented on #18508
Deleting CMSSW_9_1_0_pre3:

  -Release successfully deleted

  -cmssw tag CMSSW_9_1_0_pre3 successfully deleted.

 -cmsdist tag REL/CMSSW_9_1_0_pre3/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_1_0_pre3/slc6_amd64_gcc630 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_9_1_0_pre3/slc6_amd64_gcc700. Probaly it had not been created.

 -I was not able to delet

[2017-04-29 16:46] #18508 closed

[2017-04-29 16:46] davidlange6 opened #18523 "Build CMSSW_9_1_0_pre3"

[2017-04-29 16:47] davidlange6 commented on #18523
+1

[2017-04-29 16:47] cmsbuild commented on #18523
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-04-29 16:47] cmsbuild commented on #18523
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-04-29 16:47] cmsbuild commented on #18523
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc6_amd64_gcc530, slc7_amd64_gcc530, slc7_aarch64_gcc530, slc6_amd64_gcc700, slc7_amd64_gcc630, slc7_ppc64le_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture

[2017-04-29 16:48] cmsbuild commented on #18523
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1082/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-29 16:49] cmsbuild commented on #18523
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1085/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-29 16:49] cmsbuild commented on #18523
The build has started for slc7_aarch64_gcc530 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1083/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-29 16:49] cmsbuild commented on #18523
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1084/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-29 16:49] cmsbuild commented on #18523
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1086/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-29 16:49] cmsbuild commented on #18523
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1087/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-29 17:32] cmsbuild commented on #18523
The was an error for slc7_ppc64le_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_ppc64le_gcc700/1082

[2017-04-29 17:35] cmsbuild commented on #18523
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1088/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-29 18:06] cmsbuild commented on #18523
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_aarch64_gcc700/1084

[2017-04-29 18:24] cmsbuild commented on #18523
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc700/1088

[2017-04-29 18:25] cmsbuild commented on #18523
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1089/console
CMSDIST Branch: [IB/CMSSW_9_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_1_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-04-29 19:10] cmsbuild commented on #18523
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc630/1087
Some test

[2017-04-29 19:51] cmsbuild commented on #18523
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc530/1085
Some test

[2017-04-29 20:17] cmsbuild commented on #18523
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc630/1089
Some test

[2017-04-29 20:17] cmsbuild commented on #18523
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc630/1087

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-29 20:18] cmsbuild commented on #18523
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_aarch64_gcc530/1083
Some

[2017-04-29 20:47] cmsbuild commented on #18523
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc530/1085

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-04-29 20:59] cmsbuild commented on #18523
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc530/1086
Some test

[2017-04-29 21:20] cmsbuild commented on #18523
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc630/1089

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-29 21:59] cmsbuild commented on #18523
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc530/1086

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-29 22:38] cmsbuild commented on #18523
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_aarch64_gcc530/1083

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-04-29 22:56] kpedro88 opened #18525 "Cannot load cms-bot commands in #13028"
GitHub refuses to load #13028, which lists the cms-bot commands. I guess this is due to too many "This was referenced" links, since it is mentioned in every PR. Can we make a new issue or find a better way to post the commands?

[2017-04-29 22:56] cmsbuild commented on #18525
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-30 05:20] davidlange6 commented on #18523
upload all

On 30 Apr 2017, at 00:39, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_aarch64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_1_0_pre3-slc7_aarch64_gcc530/1083

Tests results:
17 16 15 13 7 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

—
You are receiving this becaus

[2017-04-30 05:20] cmsbuild commented on #18523
Queing Jenkins upload for slc6_amd64_gcc530

[2017-04-30 05:20] cmsbuild commented on #18523
Queing Jenkins upload for slc6_amd64_gcc630

[2017-04-30 05:20] cmsbuild commented on #18523
Queing Jenkins upload for slc7_aarch64_gcc530

[2017-04-30 05:20] cmsbuild commented on #18523
Queing Jenkins upload for slc7_amd64_gcc530

[2017-04-30 05:20] cmsbuild commented on #18523
Queing Jenkins upload for slc7_amd64_gcc630

[2017-04-30 05:20] cmsbuild commented on #18523
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/682/console

[2017-04-30 05:20] cmsbuild commented on #18523
The was error uploading slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre3-slc7_aarch64_gcc530/683

[2017-04-30 05:20] cmsbuild commented on #18523
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/681/console

[2017-04-30 05:21] cmsbuild commented on #18523
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/684/console

[2017-04-30 05:21] cmsbuild commented on #18523
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/685/console

[2017-04-30 05:22] cmsbuild commented on #18523
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc630/682
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-30 05:22] cmsbuild commented on #18523
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-30 05:23] cmsbuild commented on #18523
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc530/684
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-30 05:23] cmsbuild commented on #18523
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-30 05:24] cmsbuild commented on #18523
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre3-slc7_amd64_gcc630/685
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-30 05:24] cmsbuild commented on #18523
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-30 05:24] cmsbuild commented on #18523
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc530/681
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-04-30 05:24] cmsbuild commented on #18523
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-04-30 06:25] davidlange6 commented on #18523
release-notes

On 30 Apr 2017, at 07:24, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_1_0_pre3-slc6_amd64_gcc530/681
The release is now being installed, you can see the progress here:
https://cmssdt.cern.ch/jen

[2017-04-30 06:25] cmsbuild commented on #18523
Generating release notes since CMSSW_9_1_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-04-30 06:25] cmsbuild commented on #18523
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_1_0_pre3 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_1_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_1_0_pre3

Cheers,
cms-bo

[2017-04-30 06:39] cmsbuild commented on #18523
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_1_0_pre3

[2017-05-02 04:38] cmsbuild commented on #18523
The cleanup has started for slc6_amd64_gcc700

[2017-05-02 04:38] cmsbuild commented on #18523
The cleanup has started for slc7_aarch64_gcc700

[2017-05-02 04:38] cmsbuild commented on #18523
The cleanup has started for slc7_ppc64le_gcc700

[2017-05-02 04:38] cmsbuild commented on #18523
The cleanup has started for slc6_amd64_gcc530

[2017-05-02 04:38] cmsbuild commented on #18523
The cleanup has started for slc6_amd64_gcc630

[2017-05-02 04:38] cmsbuild commented on #18523
The cleanup has started for slc7_amd64_gcc530

[2017-05-02 04:38] cmsbuild commented on #18523
The cleanup has started for slc7_amd64_gcc630

[2017-05-02 04:38] #18523 closed

[2017-05-02 04:39] cmsbuild commented on #18523
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre3-slc6_amd64_gcc630/617

[2017-05-02 04:39] cmsbuild commented on #18523
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre3-slc7_aarch64_gcc700/619

[2017-05-02 04:39] cmsbuild commented on #18523
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre3-slc6_amd64_gcc530/616

[2017-05-02 04:40] cmsbuild commented on #18523
The workspace for slc7_ppc64le_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre3-slc7_ppc64le_gcc700/622

[2017-05-02 04:41] cmsbuild commented on #18523
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre3-slc6_amd64_gcc700/618

[2017-05-02 04:41] cmsbuild commented on #18523
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre3-slc7_amd64_gcc630/621

[2017-05-02 04:46] cmsbuild commented on #18523
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_1_0_pre3-slc7_amd64_gcc530/620

[2017-05-02 08:12] davidlange6 opened #18537 "Build CMSSW_8_0_28"
Primary purpose: apply fix for HI MC production

[2017-05-02 08:13] cmsbuild commented on #18537
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-05-02 08:17] davidlange6 commented on #18537
+1

[2017-05-02 08:17] cmsbuild commented on #18537
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_28. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2017-05-02 08:17] cmsbuild commented on #18537
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-05-02 08:20] cmsbuild commented on #18537
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1090/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-05-02 08:20] cmsbuild commented on #18537
The build has started for slc7_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1091/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-05-02 08:26] smuzaffar commented on #18525
Thanks @kpedro88 for reporting this. I have now put the commands in cms-sw.github.io
http://cms-sw.github.io/cms-bot-cmssw-cmds.html
http://cms-sw.github.io/cms-bot-cmssw-issues.html
and updated all existing open PRs and issues to use the new url.

[2017-05-02 08:26] #18525 closed

[2017-05-02 10:39] Dr15Jones commented on #18501
@davidlange6 @smuzaffar ping

[2017-05-02 10:53] cmsbuild commented on #18537
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_28-slc6_amd64_gcc530/1090
Some tests (

[2017-05-02 10:56] davidlange6 commented on #18501
sorry, I think we were both away the weekend.

So - if all of this is just to fix the lumi producer, we should just remove that code instead. Its not supported and not working.
@slava77

[2017-05-02 10:58] cmsbuild commented on #18537
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_28-slc7_amd64_gcc530/1091
Some tests (