[2020-11-13 14:47] Dr15Jones commented on #32086
I hold the same supposition.

[2020-11-13 15:08] mrodozov commented on #31156
the warning is still there but the unit test are not failing because of it anymore.

[2020-11-13 15:27] lathomas commented on #27889
Both are ongoing. 2017 prefiring maps could be ready soon. 2016 will take longer (need UL16 JECs as inputs).
For qgl, it might take some time. This would be nice to have in reMINIAOD but not critical (i.e. I wouldn't delay everything for this).

[2020-11-13 15:41] slava77 commented on #27889
Thank you for clarifying.
Do I read your comment correctly that the prefiring maps are still a required feature for remini,
while the qgl is more of a nice to have?

[2020-11-13 15:57] lathomas commented on #27889
I don't think that the prefiring maps are such a big deal than they justify delaying reMINIAOD, given that the prefiring weights can be recomputed on top of MINIAOD.

That being said, the timeline is the following:
2017 maps should hopefully come soon (in a week or two).
2016 maps won't be ready before JECs so it will probably take a month (but maybe reMINI of UL16 MC won't have started yet?).

By

[2020-11-13 16:24] silviodonato commented on #32133
ah! we need to backport #31848. Let's see if it actually solves the problem.

[2020-11-13 16:30] boudoul commented on #32133
Thanks! Adding @dinyar as watcher

[2020-11-13 16:38] dinyar commented on #32133
Hi all,

Thanks for looking into this! Regarding the above, I think it's a red herring unless I'm overlooking something. #31608 didn't contain @silviodonato's fix, but #31679 does. We in fact want `[10]` and not `[-10]`. Also the DF affected by this is RegionalMuonCand and not Muon. I'll try to reproduce locally.

Cheers,
Dinyar

[2020-11-13 16:38] silviodonato commented on #32133
ah, no, it was already backport with https://github.com/cms-l1t-offline/cmssw/commit/c3734a8d729369719a64077b5e6f4571ec6d77b3

so  #31679 is the backport of #31608 +  #31848

indeed we have
[code]

both in
https://github.com/cms-sw/cmssw/blob/CMSSW_11_1_5/DataFormats/L1TMuon/src/classes_def.xml#L8
and in
https://github.com/cms-sw/cmssw/blob/master/DataFormats/L1TMuon/src/classes_def.xml#L8

[2020-11-13 16:41] slava77 commented on #27889
@bainbrid
please list the remaining features for low-pt electrons that will not enter #31220 and are planned for separate PRs

[2020-11-13 16:52] makortel commented on #32133
Ah, right, sorry for the noise.

[2020-11-13 17:19] silviodonato commented on #32133
I've investigated a bit the problem. From the HLT menu used (`hltGetConfiguration run:337973 > hlt.py`) I found that `ALCAPHYSIM` and `NanoDST` are the only streams storing `hltGtStage2Digis`. `ALCAPHYSIM` triggered no data, so we get no error in that case (see `AlCa_EcalPhiSym_v4 ` in https://cmsoms.cern.ch/cms/triggers/hlt_report?cms_run=337973).
This is the reason why we get error only in `Nano

[2020-11-13 18:24] silviodonato commented on #32133
Thanks @smorovic . So we can close this issue.
FYI @gennai

[2020-11-13 18:24] #32133 closed

[2020-11-13 23:13] makortel commented on #30359
There is a new kind of failure in workflow 4.17 step 5 (which produces some skims) in slc7_amd64_gcc820 IB CMSSW_11_2_X_2020-11-13-1100
[code]
http://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-11-13-1100/pyRelValMatrixLogs/run/4.17_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step5_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVE

[2020-11-13 23:21] Axel-Naumann commented on #30359
@pcanal `#5 0x00002aba10a16b24 in TClass::GetClass(std::type_info const&, bool, bool) () from /cvmfs/cms-ib.cern.ch/nweek-02654/slc7_amd64_gcc820/cms/cmssw/CMSSW_11_2_X_2020-11-13-1100/external/slc7_amd64_gcc820/lib/libCore.so` is the culprit; could you have a look, please?

[2020-11-14 04:10] pcanal commented on #30359
Yes, it does looks like a TClass issue.  @makortel @smuzaffar How can I can reproduce that problem (doing runTheMatrix.py 4.17 gave odd looks results including many "You need to be no CAF to run 4.39").

[2020-11-14 10:51] mrodozov commented on #32094
this is fixed I'm guessing by this https://github.com/cms-sw/cmssw/pull/32117. It's only DB and Geometry failures now, none of which with floating point exception

[2020-11-14 10:51] #32094 closed

[2020-11-14 10:53] mrodozov commented on #32091
this is fixed in Arm, PPC & Clang. closing. thanks @smorovic that was fast :)

[2020-11-14 10:53] #32091 closed

[2020-11-14 11:05] mrodozov commented on #32086
this failure is not present anymore, I'll guess fixed by https://github.com/cms-sw/cmssw/pull/32117

[2020-11-14 12:06] mrodozov opened #32141 "[PPC] Unit test failures in DetectorDescription/DDCMS"
There are 8 unit tests failing in DetectorDescription/DDCMS
due to what it looks like violation of sincosl usage:

[code]

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc820/CMSSW_11_2_X_2020-11-13-2300/unitTestLogs/DetectorDescription/DDCMS#/1088-1088

[2020-11-14 12:07] cmsbuild commented on #32141
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-14 12:10] mrodozov commented on #32141
assign geometry

[2020-11-14 12:10] cmsbuild commented on #32141
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-14 12:26] mrodozov opened #32142 "Two relvals failing in ROOT6 IBs (root master branch)"
After merging changes following a delay in ROOT6 IBs (root master branch IBs)
two relvals started failing with what looks like a root exception about "duplicate labels"
`[a] Fatal Root Error: @SUB=TH1Merger::CheckForDuplicateLabels`
I think this is the setup for the histo in question:
https://github.com/cms-sw/cmssw/blob/master/DQM/EcalMonitorTasks/python/TimingTask_cfi.py#L152
so it's DQM

[2020-11-14 12:26] cmsbuild commented on #32142
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-14 12:26] mrodozov commented on #32142
assign dqm

[2020-11-14 12:26] cmsbuild commented on #32142
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-14 12:38] smorovic commented on #32091
you are welcome, thanks for reporting.

[2020-11-14 17:57] mrodozov commented on #32084
@mmusich it's seems it's not as easy as it was (getting access). But still, this is the way

[2020-11-15 11:42] jfernan2 commented on #32142
@tanmaymudholkar @alejands   can you please provide a fix?

[2020-11-15 16:24] dan131riley commented on #32086
Still there.  It's intermittent, has been all along.  I'd have been very surprised if #32117 fixed it, the FWCore/Concurrency tests are at a much lower level than the IOV issue fixed in that PR, though it may be that they share some underlying issue that #32117 works around.

[2020-11-15 16:37] mrodozov commented on #32086
the problem

[2020-11-15 17:40] silviodonato opened #32145 "Build CMSSW_10_6_19"

[2020-11-15 17:41] cmsbuild commented on #32145
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-11-15 17:41] silviodonato commented on #32145
build cmssw-tool-conf

[2020-11-15 17:42] cmsbuild commented on #32145
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-11-15 17:43] cmsbuild commented on #32145
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2731/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-15 17:43] cmsbuild commented on #32145
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2732/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-15 18:09] cmsbuild commented on #32145
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19-slc7_amd64_gcc820/2732

[2020-11-15 18:18] cmsbuild commented on #32145
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19-slc7_amd64_gcc700/2731

[2020-11-15 20:13] fwyzard opened #32147 "Build CMSSW_11_2_0_pre9_Patatrack"

[2020-11-15 20:14] cmsbuild commented on #32147
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-11-15 20:15] fwyzard commented on #32147
+1

[2020-11-15 20:16] cmsbuild commented on #32147
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre9_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-11-15 20:16] cmsbuild commented on #32147
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-11-15 20:16] fwyzard commented on #32147
abort

[2020-11-15 20:17] cmsbuild commented on #32147
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2733/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-15 20:17] cmsbuild commented on #32147
The build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2734/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-15 20:17] cmsbuild commented on #32147
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2735/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-15 20:17] cmsbuild commented on #32147
Deleting CMSSW_11_2_0_pre9_Patatrack:

  -Release successfully deleted

  -cmssw tag CMSSW_11_2_0_pre9_Patatrack successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre9_Patatrack/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre9_Patatrack/cc8_amd64_gcc8. Probaly it had not been created.

 -I was not able to delete

[2020-11-15 20:36] #32147 closed

[2020-11-15 20:36] fwyzard opened #32148 "Build CMSSW_11_2_0_pre9_Patatrack"

[2020-11-15 20:37] cmsbuild commented on #32148
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-11-15 21:59] silviodonato commented on #32145
+1

[2020-11-15 21:59] cmsbuild commented on #32145
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-11-15 21:59] cmsbuild commented on #32145
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-11-15 22:01] cmsbuild commented on #32145
The build has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2736/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-15 22:01] cmsbuild commented on #32145
The build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2737/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-16 00:36] cmsbuild commented on #32145
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19-slc7_amd64_gcc820/2737
Some tests (

[2020-11-16 01:17] cmsbuild commented on #32145
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19-slc7_amd64_gcc820/2737

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-16 01:36] cmsbuild commented on #32145
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19-slc7_amd64_gcc700/2736
Some tests (

[2020-11-16 02:18] cmsbuild commented on #32145
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19-slc7_amd64_gcc700/2736

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-16 08:47] silviodonato commented on #32145
upload all

[2020-11-16 08:47] cmsbuild commented on #32145
Queing Jenkins upload for slc7_amd64_gcc700

[2020-11-16 08:47] cmsbuild commented on #32145
Queing Jenkins upload for slc7_amd64_gcc820

[2020-11-16 08:49] #32047 closed

[2020-11-16 08:49] cmsbuild commented on #32145
The upload has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1740/console

[2020-11-16 08:49] cmsbuild commented on #32145
The upload has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1741/console

[2020-11-16 08:49] cmsbuild commented on #32145
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_19-slc7_amd64_gcc820/1741

[2020-11-16 08:50] cmsbuild commented on #32145
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_19-slc7_amd64_gcc700/1740

[2020-11-16 08:51] silviodonato commented on #32145
release-notes

[2020-11-16 08:52] cmsbuild commented on #32145
Generating release notes since CMSSW_10_6_18.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-11-16 08:52] cmsbuild commented on #32145
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_19 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_18 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_19

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-11-16 08:55] cmsbuild commented on #32145
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19

[2020-11-16 10:31] #31552 closed

[2020-11-16 11:06] fwyzard commented on #32148
+1

[2020-11-16 11:06] cmsbuild commented on #32148
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre9_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-11-16 11:07] cmsbuild commented on #32148
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-11-16 11:09] cmsbuild commented on #32148
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2738/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-16 11:09] cmsbuild commented on #32148
The build has started for cc8_amd64_gcc8 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2739/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-16 11:09] cmsbuild commented on #32148
The build has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2740/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-16 11:09] cmsbuild commented on #32148
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2741/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-16 13:40] rovere commented on #31940
Dear all,
should we close this issue?

[2020-11-16 14:10] kpedro88 commented on #31940
+upgrade

[2020-11-16 14:10] cmsbuild commented on #31940
This issue is fully signed and ready to be closed.

[2020-11-16 14:34] makortel commented on #30359
I gave Philippe privately a recipe to run the failing step.

[2020-11-16 14:41] makortel commented on #31156
Should we keep this issue open until https://sft.its.cern.ch/jira/browse/ROOT-10879 is fixed, or are is the workaround for the tests good enough?

[2020-11-16 14:47] makortel opened #32152 "[PPC] Crash in TECLayer::computeCrossings()"
Workflow 11834.24 step3 segfaults in cc8_ppc64le_gcc8 IB CMSSW_11_2_X_2020-11-13-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_ppc64le_gcc8/CMSSW_11_2_X_2020-11-13-2300/pyRelValMatrixLogs/run/11834.24_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano/step3_TTbar_14TeV+2021PU_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+DigiPU+RecoPU+HARVESTPU+Nano.log#/519-519

[2020-11-16 14:47] makortel commented on #32152
assign reconstruction

[2020-11-16 14:47] cmsbuild commented on #32152
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-16 14:47] cmsbuild commented on #32152
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-16 14:48] makortel commented on #32152
The stack trace inside `GeometricSearchDet::compatibleDets()` looks similar to one in https://github.com/cms-sw/cmssw/issues/24051

[2020-11-16 14:49] makortel commented on #24051
https://github.com/cms-sw/cmssw/issues/32152 shows similar stack trace inside `GeometricSearchDet::compatibleDets()`, but it is called from elsewhere.

[2020-11-16 14:54] cmsbuild commented on #32148
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2742/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-16 14:54] cmsbuild commented on #32148
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2743/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-16 14:56] makortel opened #32153 "Crash in PoolOutputModule"
Workflow 4.29 step5 segfaults in cc8_ppc64le_gcc8 IB CMSSW_11_2_X_2020-11-13-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_ppc64le_gcc8/CMSSW_11_2_X_2020-11-13-2300/pyRelValMatrixLogs/run/4.29_RunMinBias2011B+RunMinBias2011B+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step5_RunMinBias2011B+RunMinBias2011B+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT.log#/374-374

[2020-11-16 14:56] makortel commented on #32153
assign core

[2020-11-16 14:56] cmsbuild commented on #32153
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-16 14:56] cmsbuild commented on #32153
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-16 15:01] makortel commented on #32153
Workflow 4.29 step5 segfaults also in slc7_amd64_gcc900 IB CMSSW_11_2_X_2020-11-13-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_2_X_2020-11-13-2300/pyRelValMatrixLogs/run/4.29_RunMinBias2011B+RunMinBias2011B+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step5_RunMinBias2011B+RunMinBias2011B+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT.log#/451-451

[2020-11-16 15:02] boudoul commented on #32133
Thanks @silviodonato and @smorovic for the investigations!

@silviodonato , may you please propagate the conclusion to the Tier0 HN answering the reported issue of the replay- This is important to inform Tier0 about this. Thank you.

[2020-11-16 15:03] cmsbuild commented on #32148
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9_Patatrack-slc7_ppc64le_gcc820

[2020-11-16 15:06] fwyzard commented on #32148
upload all

[2020-11-16 15:07] cmsbuild commented on #32148
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-11-16 15:08] makortel commented on #30359
There is another `TClass::GetClass()` crash in 1000.0 step step3 in cc8_amd64_gcc8 IB CMSSW_11_2_X_2020-11-13-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_amd64_gcc8/CMSSW_11_2_X_2020-11-13-2300/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step3_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT.log#/571-571

[2020-11-16 15:09] cmsbuild commented on #32148
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1742/console

[2020-11-16 15:09] cmsbuild commented on #32148
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9_Patatrack-slc7_ppc64le_gcc820/1742

[2020-11-16 15:14] makortel opened #32154 "Crash in L1Comparator"
Workflow 134.808 step3 in slc7_amd64_gcc820 IB CMSSW_11_2_X_2020-11-15-0000 segfaults
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-11-15-0000/pyRelValMatrixLogs/run/134.808_RunSingleMuPrpt2015C+RunSingleMuPrpt2015C+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2/step3_RunSingleMuPrpt2015C+RunSingleMuPrpt2015C+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2.lo

[2020-11-16 15:14] makortel commented on #32154
assign l1

[2020-11-16 15:14] cmsbuild commented on #32154
New categories assigned: l1

@rekovic,@jmduarte you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-16 15:14] cmsbuild commented on #32154
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-16 15:30] makortel commented on #30359
There is another `TClass::GetClass()` crash in 1000.0 step step3 in cc8_amd64_gcc8 IB CMSSW_11_2_X_2020-11-15-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_amd64_gcc8/CMSSW_11_2_X_2020-11-15-2300/pyRelValMatrixLogs/run/4.29_RunMinBias2011B+RunMinBias2011B+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step5_RunMinBias2011B+RunMinBias2011B+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT.l

[2020-11-16 15:42] makortel commented on #30359
There is another `TClass::GetClass()` crash in 1000.0 step step3 in slc7_amd64_gcc820 IB CMSSW_11_2_ROOT6_X_2020-11-15-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ROOT6_X_2020-11-15-2300/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step3_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT.l

[2020-11-16 15:44] makortel commented on #32045
Occurred in
* 250206.182 step3 in cc8_ppc64le_gcc8 IB CMSSW_11_2_X_2020-11-13-2300
* 10024.1 step3 in slc7_ppc64le_gcc820 IB CMSSW_11_2_X_2020-11-15-0000

[2020-11-16 15:45] cmsbuild commented on #32148
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9_Patatrack-slc7_aarch64_gcc820

[2020-11-16 15:46] cmsbuild commented on #32148
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-11-16 15:47] cmsbuild commented on #32148
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1743/console

[2020-11-16 15:48] cmsbuild commented on #32148
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9_Patatrack-slc7_aarch64_gcc820/1743

[2020-11-16 15:54] cmsbuild commented on #32148
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9_Patatrack-slc7_ppc64le_gcc820/2738

Tests results:
14 0 0 0 0 0 0 0 0 tests passed, 21 14 0 0 0 0 0 0 0 failed

[2020-11-16 16:23] cvuosalo commented on #32141
Can anyone provide context as to why these unit tests are suddenly failing? They have worked for a long time. What changed now?

[2020-11-16 16:30] pcanal commented on #30359
I can run the 4.17 example based on @makortel recipe but it does not (yet?) crash for me.  I will try with valgrind and try 1000.0 too.

[2020-11-16 16:43] cmsbuild commented on #32148
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9_Patatrack-slc7_aarch64_gcc820/2741

Tests results:
35 33 32 25 16 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-11-16 17:13] slava77 commented on #32152
IIUC, this is a 0T workflow.

@mtosi @vmariani
please tag or suggest someone who could follow up on this

[2020-11-16 17:46] cmsbuild commented on #32148
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9_Patatrack-slc7_amd64_gcc820/274

[2020-11-16 17:47] cmsbuild commented on #32148
Queing Jenkins upload for slc7_amd64_gcc820

[2020-11-16 17:48] cmsbuild commented on #32148
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1744/console

[2020-11-16 17:49] cmsbuild commented on #32148
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9_Patatrack-slc7_amd64_gcc820/1744

[2020-11-16 18:00] cmsbuild commented on #32148
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9_Patatrack-cc8_amd64_gcc8/2743
Some

[2020-11-16 18:00] cmsbuild commented on #32148
Queing Jenkins upload for cc8_amd64_gcc8

[2020-11-16 18:01] cmsbuild commented on #32148
The upload has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1745/console

[2020-11-16 18:02] cmsbuild commented on #32148
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9_Patatrack-cc8_amd64_gcc8/1745

[2020-11-16 18:24] mrodozov commented on #32141
again, this is powerpc. it looks like many of them are failing when using
libDD4hep_GeometryEcalCommonDataPlugins
There are others "strange" failures due to floating point exception on powerpc.

[2020-11-16 18:26] cmsbuild commented on #32148
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9_Patatrack-slc7_amd64_gcc820/2742

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-16 18:40] cmsbuild commented on #32148
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9_Patatrack-cc8_amd64_gcc8/2743

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-16 20:20] Dr15Jones opened #32156 "Validate python files in non python directories"
I was applying an automatic conversion script I wrote to 1168 .py files in CMSSW. Of those files, 429 failed to load via `execfile` for one problem or another. The same problems arose when I simply used `python` executable on the files directly.

We should consider running all `.py` scripts packages associated with a pull request as part of its testing and apply `python` to all such scripts in the

[2020-11-16 20:20] Dr15Jones commented on #32156
assign core

[2020-11-16 20:20] cmsbuild commented on #32156
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-16 20:20] cmsbuild commented on #32156
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-16 21:42] pcanal commented on #30359
I can reproduce the problem (i.e. valgrind told me it was misbehaving even-though it was not crashing).  I am investigating.

[2020-11-16 22:00] slava77 commented on #31735
@Dr15Jones
do I understand your comment https://github.com/cms-sw/cmssw/issues/31735#issuecomment-712144543 correctly that once a dependency on X is added in one place of DataFormats, it roughly does not matter how many more places will depend on this X in DataFormats?
Or is there a package by package burden of maintenance?

[2020-11-17 08:03] #32145 closed

[2020-11-17 08:30] silviodonato commented on #32153
Seen also in step5 of 4.17,  slc7_amd64_gcc820 CMSSW_11_2_X_2020-11-16-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-11-16-2300/pyRelValMatrixLogs/run/4.17_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step5_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT.log#/283-283

[2020-11-17 08:40] silviodonato commented on #32153
It might be useful for debugging the error reported in step5 4.17 of CMSSW_11_2_ASAN_X_2020-11-13-2300
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-13-2300/pyRelValMatrixLogs/run/4.17_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step5_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT.log#/

[code

[2020-11-17 09:20] jpata commented on #31880
Also for the functions added in https://github.com/cms-sw/cmssw/pull/32144.

[2020-11-17 11:47] jpata opened #32159 "Relocate algos from DataFormats/CaloRecHit"
The Patatrack PRs #31704 and #32144 introduced calo-specific maths functionality depending on Eigen into DataFormats/CaloRecHit.

It was pointed out in https://github.com/cms-sw/cmssw/pull/32144#issuecomment-727835386 and elsewhere that if it's just algorithms and not actual data formats, it might suit better in e.g. RecoLocalCalo/CommonAlgos or CommonTools/RecoAlgos. In addition, there is ongoing

[2020-11-17 11:48] cmsbuild commented on #32159
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-17 11:48] jpata commented on #32159
assign reconstruction, heterogeneous

[2020-11-17 11:48] cmsbuild commented on #32159
New categories assigned: heterogeneous,reconstruction

@slava77,@perrotta,@makortel,@jpata,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-17 13:12] jpata commented on #31817
Yes, making a note here to recheck & close once pre9 is available at https://jiwoong.web.cern.ch/jiwoong/

[2020-11-17 14:15] makortel commented on #32153
@pcanal Please take note of the ASAN report above (even if I'm wondering if these problems could be more connected to #30359 or to https://github.com/cms-sw/cmssw/issues/32086#issuecomment-726802497)

[2020-11-17 14:20] makortel commented on #32153
ASAN 1000.0 step3 CMSSW_11_2_ASAN_X_2020-11-16-2300
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-16-2300/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step3_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT.log#/
[code]

[2020-11-17 14:22] makortel commented on #32153
ASAN 1002.0 step3 CMSSW_11_2_ASAN_X_2020-11-16-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-16-2300/pyRelValMatrixLogs/run/1002.0_RRD+RunMinBias2011A+RECODR1+COPYPASTE/step3_RRD+RunMinBias2011A+RECODR1+COPYPASTE.log#/

[2020-11-17 14:25] makortel commented on #32153
(going backwards) ASAN 1000.0 step3 CMSSW_11_2_ASAN_X_2020-11-13-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-13-2300/pyRelValMatrixLogs/run/1002.0_RRD+RunMinBias2011A+RECODR1+COPYPASTE/step3_RRD+RunMinBias2011A+RECODR1+COPYPASTE.log#/

[2020-11-17 14:42] Dr15Jones commented on #31735
I think to first order that is correct. On a package basis, I think it just increases the time and memory needed to compile the code.

[2020-11-17 14:51] silviodonato commented on #32153
4.17, 4.22, 4.29, 1000.0 are the only worklows using a step with "-s SKIM:all"

[2020-11-17 14:57] makortel commented on #32153
The SKIMs could be related to the crash in `TClass::GetClass()` foilowed up in https://github.com/cms-sw/cmssw/issues/30359

[2020-11-17 14:58] makortel commented on #30359
#32153 has some ASAN traces that might be related to the crash in `TClass::GetClass()`.

[2020-11-17 15:04] pcanal commented on #32153
From the stack trace it is not clear whether it is or it isn't, so I would like to reproduce them, however 1000.0 and 1002.0 seems to requires a certificate.   Could you point me to local version thereof?  Thanks.

[2020-11-17 15:18] makortel commented on #32153
I'll do that and let you know of the details privately.

[2020-11-17 15:28] mrodozov opened #32160 "Unit test failing in DQM/Integration"
A unit test started failing in DQM/Integration since 12.11,
failure is not present in all IBs but it's failing consistently since that date, on and off

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-11-15-0000/unitTestLogs/DQM/Integration#/52

[2020-11-17 15:28] cmsbuild commented on #32160
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-17 15:30] mrodozov commented on #32160
assign dqm

[2020-11-17 15:30] cmsbuild commented on #32160
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-17 15:35] jfernan2 commented on #32160
I believe this is being fixed by this PR https://github.com/cms-sw/cmssw/pull/32136

[2020-11-17 15:39] mrodozov commented on #32160
lets hope so then :) when it's fixed I'll close the issue

[2020-11-17 15:47] Dr15Jones opened #32161 "particleFlowDisplacedVertexCandidate_cff.py imports MessageLogger_cfi"
The configuration RecoParticleFlow/PFTracking/python/particleFlowDisplacedVertexCandidate_cff.py imports the FWCore.MessageLogger.MessageLogger_cfi and then modifies one of its parameters. The unexpected loading of the MessageLogger service by a low level _cff file is overriding the explicit setting of the Service done earlier in the files

DQM/TrackingMonitor/test/TrackingMonitor_AllTrackingSeque

[2020-11-17 15:47] Dr15Jones commented on #32161
assign reconstruction, dqm, l1, simulation

[2020-11-17 15:47] cmsbuild commented on #32161
New categories assigned: dqm,simulation,reconstruction,l1

@mdhildreth,@jfernan2,@slava77,@andrius-k,@fioriNTU,@rekovic,@perrotta,@jmduarte,@jpata,@kmaeshima,@ErnestaP,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-17 15:47] cmsbuild commented on #32161
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-17 15:55] jfernan2 commented on #32161
@Dr15Jones  what would be the recommendation in this case: to modify particleFlowDisplacedVertexCandidate_cff.py  or   all the other files?

[2020-11-17 15:59] Dr15Jones commented on #32161
I would think editting particleFlowDisplacedVertexCandidate_cff.py would cause the least amount of surprise for the future. That change would require finding out why the MessageLogger is being configured there and if the reason could be solved by doing something else.

[2020-11-17 16:01] jfernan2 commented on #32161
OK, adding @hatakeyamak  and  @bendavid  into the loop then

[2020-11-17 16:23] mrodozov opened #32162 "Unit test failing in FWCore/TFWLiteSelector in ROOT6 IB (ROOT master)"
There is a consistent failure in ROOT master IB

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ROOT6_X_2020-11-16-2300/unitTestLogs/FWCore/TFWLiteSelector#/255-255

where a ROOT macro is creating a tmp file and it's not always properly created.
It's either
https://github.com/cms-sw/cmssw/blob/master/FWCore/TFWLiteSelector/test/proof_thing2_sel.C
or
https://github.com/cm

[2020-11-17 16:23] cmsbuild commented on #32162
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-17 16:44] makortel commented on #32153
Interestingly the 1000.0 and 1002.0 ASAN jobs succeeded with a single thread, but did fail with 4 threads (as in IBs).

[2020-11-17 17:24] makortel commented on #32162
assign core

[2020-11-17 17:24] cmsbuild commented on #32162
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-17 18:12] dan131riley commented on #32162
I'm guessing that the files are getting overwritten by different processes.  Different builds are supposed to use different temporary directories, but there's a trivial bug that prevents this from actually happening.  Fix is in #32166

[2020-11-17 20:49] pcanal commented on #32153
I can reproduce the error with asan build.  With the regular build, valgrind only report the TClass error (see other report).  When using gdb and the asan build, I saw a different stack but retrying show one closer to above.

[2020-11-18 00:08] #31940 closed

[2020-11-18 00:30] #32162 closed

[2020-11-18 08:05] smuzaffar commented on #30359
note that we have reverted root to previously working commit  (https://github.com/cms-sw/cmsdist/pull/6430 + plus 3 commits needed for DD4Hep). This means only ROOT622 IBs is now using the latest root 6.22 patches branch changes.

[2020-11-18 08:07] smuzaffar commented on #30359
In ASAN IB, we see the following crash (workflow 4.17 step 5)

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-16-2300/pyRelValMatrixLogs/run/4.17_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT/step5_RunMinBias2011A+RunMinBias2011A+HLTD+RECODR1reHLT+HARVESTDR1reHLT+SKIMDreHLT.log
[code]

[2020-11-18 09:32] SiewYan commented on #32058
Thanks @agrohsje for approving the PR . @mrodozov you may close this issue.

[2020-11-18 09:32] SiewYan commented on #32058
+1

[2020-11-18 09:32] cmsbuild commented on #32058
This issue is fully signed and ready to be closed.

[2020-11-18 09:37] #32058 closed

[2020-11-18 10:49] SiewYan commented on #31161
+1

[2020-11-18 10:49] cmsbuild commented on #31161
This issue is fully signed and ready to be closed.

[2020-11-18 11:49] silviodonato opened #32172 "segmentation violation in L1TStage2CaloLayer1"
202 workflows crashed in `CMSSW_11_2_X_2020-11-17-2300`.
For instance step3 of wf 136.721 get segmentation violation
[code]

The offending PR is #32004

[2020-11-18 11:49] cmsbuild commented on #32172
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-18 11:55] silviodonato commented on #32172
I confirm that `runTheMatrix.py -l 136.721 --command "-n 1" -t8` works in `CMSSW_11_2_X_2020-11-17-1100` and gives seg violation in `CMSSW_11_2_X_2020-11-17-1100`+#32004

[2020-11-18 12:45] mmusich opened #32174 "Track Refitter fails for phase-2 geometries"
Dear all,
testing track refitting for alignment purposes using the phase-2 geometry with the minimal reproducer [here](https://gist.github.com/mmusich/1aa32f5f0878ee514bb135ccc02407fb) I incur this error:
[code]

I can cure this by adding the following line:
[code]

but before doing so in a PR, I'd like to make sure that's OK with TRK POG:
@mtosi @vmariani (@JanFSchulte for having recently touched

[2020-11-18 12:46] cmsbuild commented on #32174
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-18 14:31] jpata opened #32177 "Automatically check for unsafe PSet attribute overrides"
There's now been a lot of work to clean up python configs in reco from unsafe overrides in PSet attributes (e.g. https://github.com/cms-sw/cmssw/pull/32171).

I was wondering if there was a way to check for these unsafe overrides automatically (either as an offline reco check, or as part of `code-checks`) based on checks introduced to `__setattr__` in `PSet` and `_Module`.

With the following modi

[2020-11-18 14:31] cmsbuild commented on #32177
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-18 14:33] jpata commented on #32177
assing core, reconstruction

[2020-11-18 14:35] cmsbuild commented on #32177
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-18 14:40] makortel commented on #32177
@jpata Could you clarify what do you mean with "unsafe PSet attribute overrides"?

[2020-11-18 14:43] jpata commented on #32177
For the reco migration campaing, the criterion was so far whenever the type was redefined (but could instead be assumed implicitly), for example:
https://github.com/cms-sw/cmssw/pull/32171/files#diff-ed50331777a0be0f1b34490d337792a73bc96b3e8204a95cf8f287b527843e2dL9

[2020-11-18 14:46] jpata commented on #32177
My current prototype does not detect overrides in `PSet.clone()` e.g. https://github.com/cms-sw/cmssw/pull/32171/files#diff-e53ff3f23fe86465268f25002e18b0422bf46d3fb1c96318a5578b067c39e806R21, but perhaps there's a way to add that too (will need to investigate).

[2020-11-18 15:00] makortel commented on #32174
assign nreconstruction, upgrade

[2020-11-18 15:01] cmsbuild commented on #32174
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-18 15:10] mmusich commented on #32174
@makortel I guess "nreconstruction" should read "reconstruction" to be effective.

[2020-11-18 15:11] makortel commented on #32174
assign reconstruction

[2020-11-18 15:11] cmsbuild commented on #32174
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-18 15:17] jpata commented on #31817
+reconstruction

The latest [profiling](https://jiwoong.web.cern.ch/jiwoong/) by Jiwoong reports that things are back to normal in pre9:

[code]

[2020-11-18 15:19] kpedro88 commented on #31817
+upgrade

[2020-11-18 15:31] mrodozov commented on #32172
ahh ... alright :) but I was running a failing workflow earlier which passed and this puzzles me.

[2020-11-18 15:38] makortel commented on #32177
Would the aim be to detect the places where an explicit type is used in an assignment, and remove the explicit types?

[2020-11-18 15:40] silviodonato commented on #32172
Shahzad started a new IB h1600 with #32173

[2020-11-18 15:41] slava77 commented on #32174
the change seems rather simple; it may be more effective to make a PR and discuss it there.

[2020-11-18 15:41] silviodonato commented on #32172
For reference, this is the full list of the crashing workflows
[code]

[2020-11-18 16:06] jpata commented on #32177
What you describe was recently done manually over many maintenance PRs touching all reco packages.

I was wondering if we can have an automatic check to warn if a future PR reintroduces any such case.

Fixing would be manual.

[2020-11-18 16:48] makortel commented on #32177
Here are some concerns for general inclusion of a check if the assigned value has an explicit type or not
* There may be code that relies on being able to change parameter type with an assignment
* There are types in the configuration that (currently) can not be assigned-to without an explicit type

A more general place for the check could be
https://github.com/cms-sw/cmssw/blob/fa3869f3f43eb91d64

[2020-11-18 17:04] mmusich commented on #32174
see https://github.com/cms-sw/cmssw/pull/32178

[2020-11-18 23:34] mrodozov commented on #32160
it's gone. closing

[2020-11-18 23:34] #32160 closed

[2020-11-19 12:05] mrodozov opened #32181 "Two relvals failing in Geometry"
Dears,

in the last night IB there are two dd4hep failures
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_2/2020-11-18-2300?selectedArchs=slc7_amd64_gcc820&selectedFlavors=X&selectedStatus=failed

the relvals failing were added in:
https://github.com/cms-sw/cmssw/pull/32096

[2020-11-19 12:05] mrodozov commented on #32181
assign geometry

[2020-11-19 12:05] cmsbuild commented on #32181
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-19 12:05] cmsbuild commented on #32181
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-19 12:27] #31817 closed

[2020-11-19 14:25] makortel commented on #32181
The error (from 11624.911) is
[code]

[2020-11-19 15:26] mrodozov commented on #32141
Update:
I was trying to find where in this plugin the code throws the exception, and I was putting the flags to be:
`USER_CXXFLAGS="-O0 -g3" scram b -v -j 100 ;`
The code ran, and then I started searching for what's different, but then I changed the optimizations to be
`USER_CXXFLAGS="-O3 -g3" scram b -v -j 100 ;`
and the test failed ()

While compiling I also noted this (by chance actually):
[cod

[2020-11-19 15:40] makortel commented on #32141
@mrodozov Could you post the stack trace of the segfault with debug symbols?

[2020-11-19 15:59] mrodozov commented on #32141
[code]

[2020-11-19 16:00] mrodozov commented on #32141
I'm running it trough gdb for more

[2020-11-19 16:07] makortel commented on #32141
Hmh, wasn't as helpful as I hoped (pointing line in `DDEcalBarrelNewAlgo.cc`).

The `algorithm()` function is 2128 lines long and there are lot's of objects in the stack (all the `using namespace`s make it hard to track what exactly the types are holding). I'm really shooting in the dark, but could this be a symptom of stack overflow?

[2020-11-19 16:09] mrodozov commented on #32141
Did you see this part ?
`Geometry/EcalCommonData/plugins/dd4hep/DDEcalBarrelNewAlgo.cc:477:13: note: variable tracking size limit exceeded with -fvar-tracking-assignments, retrying without`

[2020-11-19 16:12] makortel commented on #32141
I did, but that points to the line of the function signature, and the quick web search indicates that the warning would be specific for debug builds.

[2020-11-19 16:12] Dr15Jones commented on #32141
Looking at CLHEP/Geometry/Transform3D.h the line was
[code]
Which is not illuminating. What we really need is the actual line in `algorithm` that has the failure.

[2020-11-19 16:52] civanch commented on #32181
@cvuosalo , @slomeo , what is different for GEM from your local runs?

[2020-11-19 17:00] silviodonato commented on #32181
Perhaps the error in ASAN might be helpful https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-18-2300/pyRelValMatrixLogs/run/11624.911_TTbar_13+2021_DD4hep+TTbar_13TeV_TuneCUETP8M1_GenSim+Digi+Reco+HARVEST+ALCA/step1_TTbar_13+2021_DD4hep+TTbar_13TeV_TuneCUETP8M1_GenSim+Digi+Reco+HARVEST+ALCA.log#/
[code]

[2020-11-19 18:22] aloeliger commented on #32172
@silviodonato I'm sorry, I'm just seeing this now. I will admit myself confused. This passed both the build tests, and I tested it myself personally in the online configurations and using `runTheMatrix.py` on workflow 136.731 (which is one of the many it is now segfaulting on).

I had tested it with:

`runTheMatrix.py -l 136.731`

But it seems like your command has:

`runTheMatrix.py -l 136.731 --

[2020-11-19 18:27] silviodonato commented on #32172
Hi @aloeliger , yes, you can recreate the issue by running with multithreading (eg. using `-t4`). Once you get it fixed, you have to open a new PR. You can cherry-pick this commit https://github.com/cms-sw/cmssw/pull/32182/commits as a baseline of your new PR.

[2020-11-19 18:50] silviodonato commented on #32181
Meanwhile I've found something weird
[code]

`fromDDD = cms.bool(True)` looks suspicious

[2020-11-19 19:25] cvuosalo commented on #32181
In CMSSW_11_2_X_2020-11-18-2300, I ran:
[code]
They run all steps successfully and do not show the errors mentioned in this issue.
What is the difference between my test and an IB test?

[2020-11-19 19:31] cvuosalo commented on #32181
Note that in the IB, 11624.911 shows this error:
[code]
while 11642.911 shows this one:
[code]
Could they be spurious? Could we really have two different real errors that somehow do not show up in the PR tests or direct runTheMatrix tests?

[2020-11-19 19:34] makortel commented on #32181
One clear difference between PR and IB tests is that PR tests are single-thread and IB tests are multi-threaded.

[2020-11-19 19:38] silviodonato commented on #32181
Right, the PR tests are ok indeed https://github.com/cms-sw/cmssw/pull/31220#issuecomment-730538704

[2020-11-19 19:40] silviodonato commented on #32181
The command used in the IB test is `runTheMatrix.py  -l limited  -i all --job-reports -t 4 --ibeos`

[2020-11-19 20:28] silviodonato commented on #32181
@cvuosalo @bsunanda is it ok this line ? It consumes `DDDetector` if fromDD4hep_ and we have `DDDetector = cms.ESInputTag("","")`
https://github.com/cms-sw/cmssw/blob/master/Geometry/DTGeometryBuilder/plugins/DTGeometryESModule.cc#L111
[code]

[2020-11-19 20:38] mrodozov commented on #32141
I ran it with bp on __kernel_sincosl and it fails on the first hit.
I'll assume it's the first of this sin/cos functions and put bp before them

[2020-11-19 21:53] cvuosalo commented on #32181
I ran the workflows with "-t 4" to allow multi-threading. One ran to completion successfully, and one crashed in step3, with a different message than before.
Multi-threading seems to induce semi-random behavior, at least in step3. Somehow the threads are occasionally stomping on each other. How can this problem be debugged?

[2020-11-19 21:57] fabiocos commented on #32181
@cvuosalo I confirm, in single threaded mode the workflow runs smoothly, in multi-thread I got a failure in step2 due to the evaluation of a constant in dd4hep. It looks like the issue depends on the memory access of a single job, this would explain why it does not seem to be systematically reproducible.

[2020-11-19 22:38] cvuosalo commented on #32181
Can we run these two workflows in the IB tests in single-threaded mode for now?

[2020-11-20 07:55] silviodonato commented on #32181
The PR tests run single thread, so we are checking DD4HEP in each PR and this does not create any problem.
About the IB tests I think it is good to keep it multi-threaded even if it is crashing right now

[2020-11-20 11:18] aloeliger commented on #32172
Okay I've isolated the problem. It seems like it was a stack overflow caused by my poorly written binary search for mismatch location in the final list at the end of a stream. I'm working on a fix for it now, but this may not be the only issue present.

[2020-11-20 11:31] bainbrid commented on #27889
In response to https://github.com/cms-sw/cmssw/issues/27889#issuecomment-726867673:

For low-pT electrons:
- we confirm that we will add code/configuration to perform an energy regression using RECO/AOD inputs
- we are considering to embed flags that identify if the pat::Electron originates from a converted photon
- we are considering to allow updates to the regression and ID using MINIAOD inputs

[2020-11-20 11:38] jfernan2 commented on #28858
ping @tanmaymudholkar

[2020-11-20 13:22] aloeliger commented on #32172
Hello all, I have opened a PR I believe addresses and fixes these issues, which runs `runTheMatrix.py -l 136.721 --command "-n 1" -t8` (and `136.731`) successfully on multiple threads, #32205. Apologies for the bug.

Out of curiosity, and for the future, are there multi-threaded validation options for cmsbuild that I could have used to avoid committing this error?

[2020-11-20 13:54] makortel commented on #32172
Unfortunately no, the PR tests are single-threaded on purpose (to guarantee easily fully reproducible simulation results).

[2020-11-20 19:29] makortel opened #32219 "Revisit use of HitPattern in DataFormats/Scouting"
https://github.com/cms-sw/cmssw/pull/31962 added use of complex data structure `reco::HitPattern` in `Run3ScoutingMuon`. It was [agreed](https://github.com/cms-sw/cmssw/pull/31962#issuecomment-729255742) to revisit that usage before the data taking of Run3 to either remove the usage (as too heavy for production use), or replace with e.g. a frozen version of `HitPattern` that could be easy to guara

[2020-11-20 19:29] cmsbuild commented on #32219
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-20 19:29] makortel commented on #32219
assign core,hlt

[2020-11-20 19:29] cmsbuild commented on #32219
New categories assigned: core,hlt

@Dr15Jones,@smuzaffar,@makortel,@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-21 01:46] makortel commented on #31910
+1

Variant 3 was implemented in #32138

[2020-11-21 01:47] cmsbuild commented on #31910
This issue is fully signed and ready to be closed.

[2020-11-21 15:30] #31910 closed

[2020-11-21 18:16] silviodonato opened #32237 "RootEmbeddedFileSequence no input files specified for secondary input source"
Several workflows (12634.0, 12634.99, 13034.0, 13034.99) are crashing in `CMSSW_11_2_X_2020-11-21-1100`. Most likely the crash is related to #32140

[code]

[2020-11-21 18:17] cmsbuild commented on #32237
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-21 18:18] silviodonato commented on #32237
assign pdmv

[2020-11-21 18:19] cmsbuild commented on #32237
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-21 18:20] silviodonato commented on #32237
12634.0 and 12634.99 has ` --pileup_input das:/RelValMinBias_14TeV/CMSSW_11_2_0_pre8-112X_mcRun3_2023_realistic_v10-v1/GEN-SIM`
13034.0 and 13034.99 has `--pileup_input das:/RelValMinBias_14TeV/CMSSW_11_2_0_pre8-112X_mcRun3_2024_realistic_v10-v1/GEN-SIM`

[2020-11-21 23:18] alejands commented on #32142
Hi Javi,

Thank you. We will look into this. A couple of of questions.

(1): How do we replicate this error? This is not clear to us. Would is be possible to see the full error stack?

(2): What is the urgency -- should we just remove the plot in question for the time being (it's just one plot) or can we get a bit more time?

Alejandro for ECAL DQM

[2020-11-22 08:46] chayanit commented on #32237
@silviodonato OK, I have submitted them, should be ready by the end of today or tomorrow

[2020-11-22 11:44] mrodozov commented on #32142
Hi there,
to replicated this you need to:
[code]
you can see the failures here (older IB, the new is still running)
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_2/2020-11-20-2300?selectedArchs=slc7_amd64_gcc820&selectedFlavors=ROOT6_X&selectedStatus=failed

[2020-11-23 09:46] civanch commented on #31920
@mmusich , in #32239 and #32240 fixes are proposed. Sorry, that It takes too long  but I was extremely busy and debugging takes significant time. How I see the situation now:

1) there is harmless warning about initialisation of Geant4e. It may be removed when Geant4e will be updated but for now it may be ignored.
2) Geant4e code is not fully thread safe, again it require update, so better to run

[2020-11-23 10:11] Martin-Grunewald commented on #31991
Looks like CMSSW_10_2_0_pre6 files do NOT help failing TSG tests... https://github.com/cms-sw/cmssw/issues/31991#issuecomment-723221281

will try CMSSW_10_2_0_pre8 files.

[2020-11-23 19:34] kpedro88 commented on #31840
+upgrade

[2020-11-23 19:38] silviodonato commented on #32237
Everything is ok in `CMSSW_11_2_X_2020-11-23-1100`

[2020-11-23 19:38] #32237 closed

[2020-11-23 19:38] silviodonato commented on #32125
Everything is ok in `CMSSW_11_2_X_2020-11-23-1100`

[2020-11-23 19:38] #32125 closed

[2020-11-23 21:13] Dr15Jones opened #32249 "DD4Hep uses a non-const global evaluator"
With the crash seen in https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_X_2020-11-22-2300/pyRelValMatrixLogs/run/11624.911_TTbar_13+2021_DD4hep+TTbar_13TeV_TuneCUETP8M1_GenSim+Digi+Reco+HARVEST+ALCA/step2_TTbar_13+2021_DD4hep+TTbar_13TeV_TuneCUETP8M1_GenSim+Digi+Reco+HARVEST+ALCA.log#/150-150

I went looking throught the DD4Hep code and found that the evaluator that crashe

[2020-11-23 21:14] cmsbuild commented on #32249
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-23 21:14] Dr15Jones commented on #32249
assign geometry, core

[2020-11-23 21:14] cmsbuild commented on #32249
New categories assigned: geometry,core

@Dr15Jones,@Dr15Jones,@smuzaffar,@cvuosalo,@mdhildreth,@makortel,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-23 22:34] makortel commented on #32249
This is effectively a duplicate of #32181

[2020-11-23 22:35] cvuosalo commented on #32249
@ianna FYI

[2020-11-23 22:36] makortel commented on #32181
#32249 suggests a culprit for the failures with multiple threads

[2020-11-23 22:53] cvuosalo commented on #32249
@Dr15Jones Thank you for finding this.

[2020-11-24 00:40] makortel commented on #31644
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-4a06ef/10961/summary.html shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,PhiResolution}
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2020-11-24 00:45] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/32244#issuecomment-732417506 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,PhiResolution}
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2020-11-24 00:48] alejands commented on #32142
Hello,

We have a fix ready. Which branch do we make a PR to?

Alejandro for ECAL DQM

[2020-11-24 00:51] makortel commented on #32142
In CMSSW `master` as usual, thanks. (the ROOT master IBs uses the same CMSSW branch)

[2020-11-24 00:59] qliphy commented on #32172
Done by #32205

[2020-11-24 00:59] #32172 closed

[2020-11-24 01:33] alejands commented on #32142
Hello,

We've submitted a PR here: https://github.com/cms-sw/cmssw/pull/32250

We noticed that the same issue had previously occurred with JetMET https://github.com/cms-sw/cmssw/issues/27472 and fixed here https://github.com/cms-sw/cmssw/pull/27647. It may be worth documenting this issue.

Alejandro for ECAL DQM

[2020-11-24 04:44] pcanal commented on #30359
@smuzaffar Can you try out https://github.com/root-project/root/pull/6873 ?  It seems to fixed the problem in CMSSW and is almost ready to merge (the failures on Monday's last run are either unrelated or need to have a related commit in the test suite reverted).

[2020-11-24 06:59] smuzaffar commented on #30359
@pcanal , testing it via https://github.com/cms-sw/root/pull/147 PR now

[2020-11-24 11:42] jfernan2 commented on #32142
+1
The PR seems to solve the issue

[2020-11-24 11:43] cmsbuild commented on #32142
This issue is fully signed and ready to be closed.

[2020-11-24 11:47] perrotta commented on #27889
Additional tracks information for the lostTracks, which was submitted by the tau group in the master with #32242, could be considered for the backport, if it can be done in the shadow of the other pending pull requests (see https://github.com/cms-sw/cmssw/pull/32242#issuecomment-732260157)

[2020-11-24 12:00] #32142 closed

[2020-11-24 12:38] mmusich commented on #31920
@civanch thanks.
I confirm that with the modifications in PR #32239 the track refitting configuration at [my gist](https://gist.github.com/mmusich/b499b807ed8128c91c72427fd066523b) does not fail anymore in `CMSSW_11_6_X`
Anyway for the final word we should wait for detailed validation from @rmankel.
Since we have samples produced also in 11.1.X I propose a backport in that release cycle too: #3225

[2020-11-24 13:05] hatakeyamak commented on #32161
We are talking about:
https://cmssdt.cern.ch/lxr/source/RecoParticleFlow/PFTracking/python/particleFlowDisplacedVertexCandidate_cff.py
Just to make sure I understand:
process.MessageLogger.suppressWarning being extended has undesired consequence?

[2020-11-24 13:22] perrotta commented on #27889
@bainbrid I imagine you were supposed to tag Francesca Cavallari (of whom I don't know the github name, sorry...) instead of Francesca Cavallo (Muon DPG)

[2020-11-24 13:28] bainbrid commented on #27889
Fixed, thanks! @cavalari

[2020-11-24 13:46] slava77 commented on #32161
after somewhat cursory check I think that the line with `MessageLogger.suppressWarning` can be removed from https://cmssdt.cern.ch/lxr/source/RecoParticleFlow/PFTracking/python/particleFlowDisplacedVertexCandidate_cff.py

I did not find Log[EW] in PFDisplacedVertexCandidateFinder or PFDisplacedVertexCandidateProducer.
I may have missed some intermediate or lower level tools that could issue the wa

[2020-11-24 13:56] hatakeyamak commented on #32161
I think RecoParticleFlow/PFTracking/src/PFTrackTransformer.cc may come in, but it looks to me LogWarning is already suppressed by msgwarning. Can we just go ahead and remove them, and confirm that we don't create unnecessary LogWarning via jenkins tests?

[2020-11-24 14:18] slava77 commented on #32161
Thank you for checking deeper.

@hatakeyamak
may I ask you to check/consider a possible more likely sample where the warnings can appear and run on some O(100) or more events to check that this module warnings are not appearing.
Please let me know if you can make this check.
Thank you.

[2020-11-24 15:13] hatakeyamak commented on #32161
Will do today.

[2020-11-24 15:15] makortel commented on #32162
Following comment https://github.com/cms-sw/cmssw/pull/32166#issuecomment-731852649 this issue could be re-opened

On the other hand it appears to be a duplicate of https://github.com/cms-sw/cmssw/issues/31233 so maybe it is best to move further discussion there.

[2020-11-24 15:18] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/32184#issuecomment-732981866 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,PhiResolution}
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2020-11-25 01:49] makortel opened #32274 "ASAN problem in CSCXonStrip_MatchGatti"
Workflow 4.37 step 3 fails in CMSSW_11_2_ASAN_X_2020-11-23-2300 with
[code]

[2020-11-25 01:49] makortel commented on #32274
assign reconstruction

[2020-11-25 01:49] cmsbuild commented on #32274
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-25 01:49] cmsbuild commented on #32274
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-25 01:57] makortel commented on #32274
From the set of PRs merged since the previous ASAN builds (that did not have this error) https://github.com/cms-sw/cmssw/pull/32052 could be the cause (the only one with "CSC" in its name, and it touches code in the same package.

[2020-11-25 02:02] slava77 commented on #32274
@nvoytish
please take a look
to reproduce you will need to setup CMSSW_11_2_ASAN_X_2020-11-23-2300 IB
and then there `runTheMatrix.py -l 4.37 --ibeos`

[2020-11-25 02:04] slava77 commented on #32274
@ptcox

[2020-11-25 10:26] civanch commented on #31920
@mmusich , in #32260 you mentioned new uncovered problem. What it is?

[2020-11-25 10:29] mmusich commented on #31920
@civanch I describe it in https://github.com/cms-sw/cmssw/pull/32260#issuecomment-732992405
After applying the changes to be able to overcome the ESconsumes issues, there is a segfault. I don't observe that in 10.6.x (where the esconsume migration is not compulsory)

[2020-11-25 10:52] civanch commented on #31920
@mmusich , can you, please, point to how G4Refitter.py is created. Geometry instantiation was changed some time ago after 10_6 and we likely need to have a slightly different configuration.

[2020-11-25 10:57] mmusich commented on #31920
@civanch Rainer Manker (@rmankel) created it some time ago (I think by hand). If you tell me how to modify it accordingly I will update it. Thanks.

[2020-11-25 11:10] civanch commented on #31920
OK, will try to make G4REfitter for 11_2.

[2020-11-25 12:05] rmankel commented on #31920
If this file comes from me and if I recall correctly, I derived it from
src/TrackPropagation/Geant4e/python/geantRefit_cff.py, probably in a
10_0_x release.

On 25.11.2020 11:57, Marco Musich wrote:

--
---------------------------------------------------------------------
  Rainer Mankel       | Mail: DESY, CMS, Notkestr 85, D-22603 Hamburg
  DESY                | Phone: +49 40/8998-2339  Fax: -30

[2020-11-25 13:23] jpata opened #32282 "update mkedprod and co with newer fillDescriptions"
Currently, mkedprod & co generate a skeleton which uses `descriptions.addDefault(desc);` and thus does not generate the cfi files.

We had some confusion on the PR https://github.com/cms-sw/cmssw/pull/32222/files/b91d4a5dba8db0c252d8093a7c7c9cc84716138f#r530326611 that the template does not allow auto-generation of the cfi, which I understand is the current suggestion.

Perhaps it's a good occasio

[2020-11-25 13:23] cmsbuild commented on #32282
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-25 13:28] #32148 closed

[2020-11-25 13:39] jpata commented on #32282
@fwyzard asked me to mention `edmPythonConfigToCppValidation` (I'm not familiar with that tool)

[2020-11-25 13:51] makortel commented on #32181
The DD4Hep workflows seem also to generate large number of differences (possibly randomly) in PR tests, see e.g. https://github.com/cms-sw/cmssw/pull/32270#issuecomment-733525691. Should we consider removing them from the PR tests until they become more stable?

[2020-11-25 13:56] silviodonato opened #32283 "Fake differences in wf 11642.911"
Many PR tests are reporting fake differences in the new DD4HEP wf 11642.911.

See
https://github.com/cms-sw/cmssw/pull/32278#issuecomment-733696764
https://github.com/cms-sw/cmssw/pull/32263#issuecomment-733688052
https://github.com/cms-sw/cmssw/pull/32279#issuecomment-733689619
https://github.com/cms-sw/cmssw/pull/32276#issuecomment-733653227
https://github.com/cms-sw/cmssw/pull/32093#issuecommen

[2020-11-25 13:57] cmsbuild commented on #32283
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-25 13:59] silviodonato commented on #32283
assign geometry

[2020-11-25 13:59] cmsbuild commented on #32283
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-25 13:59] ptcox commented on #32274
Can you clarify what we are looking for? Does this mean some dynamically assigned memory has been overwritten, or can it mean some simpler thing like a misaligned variable? I do not know what ASAN tests exactly. But the issue might be easier to track down if it could just be some value passed in to findXOnStrip is invalid. (That would seem more likely since the recent updates to the code can affec

[2020-11-25 14:06] bsunanda commented on #32181
Please do that. DD4Hep workflows are still being debugged. They should not be in the comparison lists.
________________________________
From: Matti Kortelainen [notifications@github.com]
Sent: 25 November 2020 14:51
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Two relvals failing in Geometry (#32181)

The DD4Hep workflows seem also to generate large number of differen

[2020-11-25 14:22] makortel commented on #32274
The complaint is about a read (or write) beyond an allocated memory block. After a quick peek into the code I'd guess one of these array accesses goes out of bounds
https://github.com/cms-sw/cmssw/blob/dd492f74e6c2e9a9dadaa5990245803ec0e76d45/RecoLocalMuon/CSCRecHitD/src/CSCXonStrip_MatchGatti.cc#L549-L570

So the problem could well be

[2020-11-25 14:22] Dr15Jones commented on #32282
assign core

[2020-11-25 14:23] cmsbuild commented on #32282
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-25 14:27] silviodonato commented on #32283
The PR #32096 added both `11642.911` and `11624.911` in the short matrix. If we continue to see these fake difference, I would remove `11642.911` from the short matrix (ie. DD4HEP remains in the short matrix with `11624.911`;  `11642.911` will be only in the extended matrix)

[2020-11-25 14:38] dan131riley commented on #30359
@smuzaffar can we also add https://github.com/root-project/root/pull/6850 as a fix for the `TCling::GetSharedLibs()` crashes?  It has been merged, so it should be in ROOT master, but it would good to test it more widely.

[2020-11-25 14:40] cavana commented on #24377
@slava77, just to update, I am now looking at this (long reported) issue.  Thank you for the recent example to help reproduce the problem.

[2020-11-25 14:42] smuzaffar commented on #30359
@dan131riley , root-project/root#6850 is for root master branch. Is there any for root v6.22 branch?

[2020-11-25 14:49] Axel-Naumann commented on #30359
That's https://github.com/root-project/root/pull/6877

[2020-11-25 15:01] makortel opened #32285 "LogDebug and LogTrace with the category only fail to compile"
Code like
[code]
fails to build (in CMSSW_11_2_X_2020-11-24-1100) when `EDM_ML_DEBUG` is defined. The compiler error messages are
[code]

This problem was noticed in static analyzer errors in https://github.com/cms-sw/cmssw/pull/32093#issuecomment-733719188, and is actually also visible in static analyzer failures (not reports) in the IBs.

[2020-11-25 15:01] makortel commented on #32285
assign core

[2020-11-25 15:01] cmsbuild commented on #32285
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-25 15:01] cmsbuild commented on #32285
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-25 15:17] Dr15Jones commented on #32161
https://cmssdt.cern.ch/lxr/source/RecoParticleFlow/PFTracking/python/particleFlowDisplacedVertexCandidate_cff.py
Just to make sure I understand:
process.MessageLogger.suppressWarning being extended has undesired consequence?

It is the call `process.load('FWCore.MessageService.MessageLogger_cfi')` that has unexpected consequences. There are top level configuration files, i.e. _cfg.py files, that e

[2020-11-25 15:23] smuzaffar commented on #30359
thanks @Axel-Naumann , I am testing it https://github.com/cms-sw/root/pull/148 now

[2020-11-25 15:28] makortel commented on #32282
The case of `edmPythonConfigToCppValidation` looks a bit different than the skeletons because it generates code with `add()`, which results a generated `cfi` fragment. The script takes the label for `descriptions.add()` from the module label in the input `cfi` configuration file. If that label does not correspond the automatic one, the generated code would lead to generation of different `cfi` fra

[2020-11-25 15:32] slava77 commented on #32161
@Dr15Jones
what could be the mechanism to add/extend `suppressWarning` (or errors)?
It looks like the solutions are
- to figure out in the module implementation (and all of its called methods) how not to issue a warning/error
- to go in and edit the central MessageLogger_cfi

The former is not always practical, the latter sounds like a maintenance problem

[2020-11-25 15:32] bsunanda commented on #32283
@silviodonato Any difference in dd4hep workflow should be ignored as of now. Once dd4hep workflows are studied in detail differences in those workflows should be taken seriously.

[2020-11-25 15:33] makortel opened #32286 "Consider throwing an exception if produces() is called outside the EDModule constructor"
We have thrown an exception is `consumes()` is called outside the constructor, and https://github.com/cms-sw/cmssw/pull/32270 extended the behavior to `esConsumes()`. The `produces()` call could benefit from similar check as well.

[2020-11-25 15:33] makortel commented on #32286
assign core

[2020-11-25 15:33] cmsbuild commented on #32286
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-25 15:33] cmsbuild commented on #32286
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-25 15:43] civanch commented on #32283
@silviodonato , @bsunanda , we can expect, that after some time differences in these WFs will be meaningful but it is not the case now. Even more differences indicate, that PR is working.
Because the difference is should happens only in PRs, which relevant to geometry, I would think we may work in these circumstances for some time.

[2020-11-25 16:01] makortel commented on #32161
`RandomNumberGeneratorService` has a similar issue, that is a central Service for which module-specific settings are needed. There the adopted solution is

If we follow with similar route, I'd prefer the configuration-to-be-edited to outside of `FWCore` (framework should not know about any specific categories or modules in user code). Maybe in `Configuration.StandardSequences`? Should we have sepa

[2020-11-25 16:07] mmusich commented on #32283
same thing observed in https://github.com/cms-sw/cmssw/pull/32280#issuecomment-733799058 and that has nothing to do with Geometry.

[2020-11-25 16:07] makortel commented on #32282
Addressed in https://github.com/cms-sw/cmssw/pull/32287 with the "generate it anyway in comments" approach for `edmPythonConfigToCppValidation`.

[2020-11-25 16:25] hatakeyamak commented on #32161
Thanks for clarification and discussions.
For now, we just cleaned the cff file under discussion, so we are ok for this particular case.

[2020-11-25 17:28] makortel commented on #32285
The fix would be straightforward, but I started to wonder how useful category-only `LogDebug` and `LogTrace` would really be. Such `LogDebug` would result in a message with the category name, but `LogTrace`would only produce an empty line. I would also imagine the intention of such code to really display such a *message*  instead of a *category* (i.e. such uses would be mostly incorrect uses of Me

[2020-11-25 17:28] silviodonato opened #32289 "Build CMSSW_11_2_0_pre10"

[2020-11-25 17:28] cmsbuild commented on #32289
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-11-25 17:30] silviodonato commented on #32289
build cmssw-tool-conf

[2020-11-25 17:30] cmsbuild commented on #32289
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, cc8_amd64_gcc9, cc8_aarch64_gcc8, cc8_aarch64_gcc9, cc8_ppc64le_gcc9
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will on

[2020-11-25 17:32] cmsbuild commented on #32289
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2745/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 17:32] cmsbuild commented on #32289
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2746/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 17:32] cmsbuild commented on #32289
The cmssw-tool-conf build has started for cc8_amd64_gcc9 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2744/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8g9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8g9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 17:32] cmsbuild commented on #32289
The cmssw-tool-conf build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2747/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 17:33] cmsbuild commented on #32289
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2748/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8g9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8g9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 17:33] cmsbuild commented on #32289
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2749/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 17:33] cmsbuild commented on #32289
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2750/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 17:37] cmsbuild commented on #32289
There was an error building cmssw-tool-conf for slc7_ppc64le_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_ppc64le_gcc9/2750

[2020-11-25 17:37] cmsbuild commented on #32289
There was an error building cmssw-tool-conf for cc8_ppc64le_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/2748

[2020-11-25 17:38] cmsbuild commented on #32289
There was an error building cmssw-tool-conf for slc7_amd64_gcc900
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc900/2746

[2020-11-25 17:38] cmsbuild commented on #32289
There was an error building cmssw-tool-conf for slc7_amd64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc820/2745

[2020-11-25 17:39] cmsbuild commented on #32289
There was an error building cmssw-tool-conf for cc8_amd64_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_amd64_gcc9/2744

[2020-11-25 17:40] cmsbuild commented on #32289
There was an error building cmssw-tool-conf for cc8_aarch64_gcc8
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/2747

[2020-11-25 17:41] cmsbuild commented on #32289
There was an error building cmssw-tool-conf for slc7_aarch64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_aarch64_gcc820/2749

[2020-11-25 17:43] smuzaffar commented on #32289
@silviodonato , I am looking in to this error and will restart the builds

[2020-11-25 17:49] cmsbuild commented on #32289
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2751/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 17:57] cmsbuild commented on #32289
The cmssw-tool-conf build has started for cc8_amd64_gcc9 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2752/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8g9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8g9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 18:05] cmsbuild commented on #32289
The cmssw-tool-conf build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2753/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 18:05] cmsbuild commented on #32289
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2754/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8g9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8g9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 18:06] cmsbuild commented on #32289
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2755/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 18:06] cmsbuild commented on #32289
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2756/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 18:07] cmsbuild commented on #32289
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2757/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 18:50] cmsbuild commented on #32289
There was an error building cmssw-tool-conf for cc8_ppc64le_gcc9
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/2754

[2020-11-25 19:05] cmsbuild commented on #32289
The cmssw-tool-conf build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2758/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8g9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8g9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 20:28] silviodonato commented on #32289
+1

[2020-11-25 20:28] cmsbuild commented on #32289
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_aarch64_gcc820/2756

[2020-11-25 20:28] cmsbuild commented on #32289
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-11-25 20:28] cmsbuild commented on #32289
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-25 20:29] cmsbuild commented on #32289
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2759/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 20:35] cmsbuild commented on #32289
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc820/2751

[2020-11-25 20:36] cmsbuild commented on #32289
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-25 20:36] cmsbuild commented on #32289
The build has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2760/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 20:45] cmsbuild commented on #32289
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_ppc64le_gcc9/2757

[2020-11-25 20:45] cmsbuild commented on #32289
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-25 20:47] cmsbuild commented on #32289
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2761/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 20:52] cmsbuild commented on #32289
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_amd64_gcc9/2752

[2020-11-25 20:53] cmsbuild commented on #32289
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-25 20:53] cmsbuild commented on #32289
The build has started for cc8_amd64_gcc9 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2762/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8g9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8g9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 20:55] cmsbuild commented on #32289
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_aarch64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/2753

[2020-11-25 20:56] cmsbuild commented on #32289
Queuing Jenkins build for the following architectures: cc8_aarch64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-25 20:56] cmsbuild commented on #32289
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc900/2755

[2020-11-25 20:56] cmsbuild commented on #32289
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2763/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 20:57] cmsbuild commented on #32289
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-25 21:05] cmsbuild commented on #32289
The build has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2767/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-25 21:17] cvuosalo commented on #32283
Why is workflow 11642.911 creating differences but 11624.911 does not? They seem to be basically the same, 11624 is ttbar and 11642 is zmm, but otherwise they both perform gen-sim. They should always use the same random seed to give the same events, unless the geometry is changed in the PR. I don't understand why 11642 is generating new events every time it is run in a PR test even when the geomet

[2020-11-25 22:13] makortel commented on #32283
I suspect we're witnessing a memory problem of some kind (in addition to the threading problem, or perhaps the problem is the same and threading just makes it worse).

[2020-11-25 22:18] cvuosalo commented on #32283
@makortel I thought the PR tests run single-threaded.

[2020-11-25 22:23] makortel commented on #32283
They are, but memory problems can nevertheless show up as random failures or differences.

[2020-11-25 22:51] cmsbuild commented on #32289
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_aarch64_gcc820/2759
Som

[2020-11-25 22:55] makortel commented on #32181
The ASAN failure in https://github.com/cms-sw/cmssw/issues/32181#issuecomment-730507987 reproduces when run with single thread. Maybe that would be a good starting point for further debugging? (also https://github.com/cms-sw/cmssw/issues/32181#issuecomment-730568265 and https://github.com/cms-sw/cmssw/issues/32181#issuecomment-730618847)

[2020-11-25 23:22] cmsbuild commented on #32289
The was an error for slc7_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_ppc64le_gcc9/2761

[2020-11-25 23:29] cmsbuild commented on #32289
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/2763
Some test

[2020-11-25 23:54] cmsbuild commented on #32289
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/2758

[2020-11-25 23:55] cmsbuild commented on #32289
Queuing Jenkins build for the following architectures: cc8_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-25 23:55] cmsbuild commented on #32289
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc900/2767
Some te

[2020-11-25 23:56] cmsbuild commented on #32289
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2768/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8g9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8g9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-26 00:03] cmsbuild commented on #32289
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_amd64_gcc9/2762
Some tests (

[2020-11-26 00:05] cmsbuild commented on #32289
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_aarch64_gcc820/2759

Tests results:
36 35 34 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-26 00:21] cmsbuild commented on #32289
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc820/2760
Some te

[2020-11-26 00:35] cmsbuild commented on #32289
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc900/2767

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2020-11-26 00:43] cmsbuild commented on #32289
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_amd64_gcc9/2762

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2020-11-26 00:52] cmsbuild commented on #32289
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/2763

Tests results:
36 35 34 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-26 01:13] cmsbuild commented on #32289
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc820/2760

Tests results:
36 35 34 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-26 02:47] cmsbuild commented on #32289
The was an error for cc8_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/2768

[2020-11-26 03:11] slava77 opened #32293 "reduce size of low-pt electron training forest"
as found during integration of #31220 the ID GBRForest is taking up about 60MB in memory. This is large (although not yet prohibitively so, considering per-job allocation).

Some effort should be made to reduce the size of the model/trees at some minimal cost to performance.

@bainbrid @jainshilpi @lfinco @afiqaize @SohamBhattacharya

[2020-11-26 03:11] cmsbuild commented on #32293
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-26 03:16] slava77 commented on #32293
assign reconstruction

[2020-11-26 03:16] cmsbuild commented on #32293
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-26 07:48] cmsbuild commented on #32289
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2769/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8g9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8g9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-26 08:14] cmsbuild commented on #32289
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2770/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-26 09:18] bainbrid commented on #32293
@crovelli @cavalari

[2020-11-26 09:44] silviodonato commented on #22575
Let me continue here the discussion about FastSim in L1THGCal. As @jbsauvan pointed out in https://github.com/cms-sw/cmssw/pull/32257#issuecomment-733811198, currently the FastSim dependency appears only in `L1Trigger/L1THGCalUtilities` (the ntuplizer has been moved from `L1Trigger/L1THGCal` to `L1Trigger/L1THGCalUtilities` with https://github.com/cms-sw/cmssw/pull/26266).
The library of `L1Trigge

[2020-11-26 09:51] davidlange6 commented on #22575
Perlhaps better to move the plugin to test instead of relying on no one changing the usage pattern of this package?

[2020-11-26 10:03] silviodonato commented on #32289
upload all

[2020-11-26 10:04] cmsbuild commented on #32289
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-11-26 10:04] cmsbuild commented on #32289
Queing Jenkins upload for cc8_amd64_gcc9

[2020-11-26 10:04] cmsbuild commented on #32289
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-11-26 10:04] cmsbuild commented on #32289
Queing Jenkins upload for slc7_amd64_gcc820

[2020-11-26 10:04] cmsbuild commented on #32289
Queing Jenkins upload for slc7_amd64_gcc900

[2020-11-26 10:05] cmsbuild commented on #32289
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1746/console

[2020-11-26 10:52] Axel-Naumann commented on #30359
Thanks. What do your IBs say?

[2020-11-26 10:52] cmsbuild commented on #32289
The upload has started for cc8_amd64_gcc9 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1747/console

[2020-11-26 10:52] cmsbuild commented on #32289
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1748/console

[2020-11-26 10:52] cmsbuild commented on #32289
The upload has started for slc7_amd64_gcc820 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1749/console

[2020-11-26 10:53] cmsbuild commented on #32289
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-cc8_amd64_gcc9/1747

[2020-11-26 10:53] cmsbuild commented on #32289
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-slc7_aarch64_gcc820/1748

[2020-11-26 10:54] cmsbuild commented on #32289
The upload has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1750/console

[2020-11-26 10:54] cmsbuild commented on #32289
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc820/1749

[2020-11-26 10:55] silviodonato commented on #32289
release-notes

[2020-11-26 10:55] cmsbuild commented on #32289
Generating release notes since CMSSW_11_2_0_pre9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-11-26 10:55] cmsbuild commented on #32289
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre10 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc820

The release notes of what changed with respect to CMSSW_11_2_0_pre9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_pre10

Cheers,
cms-bot

You can als

[2020-11-26 10:59] cmsbuild commented on #32289
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre10

[2020-11-26 11:03] cmsbuild commented on #32289
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/2769
Some test

[2020-11-26 11:03] cmsbuild commented on #32289
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-slc7_amd64_gcc900/1750

[2020-11-26 11:04] cmsbuild commented on #32289
Queing Jenkins upload for cc8_ppc64le_gcc9

[2020-11-26 11:04] cmsbuild commented on #32289
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1751/console

[2020-11-26 11:04] cmsbuild commented on #32289
The was error uploading cc8_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/1751

[2020-11-26 11:19] cmsbuild commented on #32289
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1752/console

[2020-11-26 11:20] cmsbuild commented on #32289
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/1752

[2020-11-26 11:20] cmsbuild commented on #32289
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1753/console

[2020-11-26 11:20] cmsbuild commented on #32289
The was error uploading cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/1753

[2020-11-26 11:20] cmsbuild commented on #32289
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_ppc64le_gcc9/2770
Some te

[2020-11-26 11:21] cmsbuild commented on #32289
Queing Jenkins upload for slc7_ppc64le_gcc9

[2020-11-26 11:21] cmsbuild commented on #32289
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1754/console

[2020-11-26 11:22] cmsbuild commented on #32289
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-slc7_ppc64le_gcc9/1754

[2020-11-26 11:23] silviodonato commented on #32289
release-notes

[2020-11-26 11:24] cmsbuild commented on #32289
Generating release notes since CMSSW_11_2_0_pre9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-11-26 11:24] cmsbuild commented on #32289
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre10 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc820
cc8_ppc64le_gcc9
slc7_amd64_gcc900
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_0_pre9 can be found at:

https://github.com/cms-sw/cmssw/rele

[2020-11-26 11:25] cmsbuild commented on #32289
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1755/console

[2020-11-26 11:25] cmsbuild commented on #32289
The was error uploading cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/1755

[2020-11-26 11:27] cmsbuild commented on #32289
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre10

[2020-11-26 11:30] cmsbuild commented on #32289
The was an error for cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/2771

[2020-11-26 11:31] smuzaffar commented on #32289
@silviodonato , do not worry about cc8_aarch64_gcc8 release. It will be uploaded once it is ready

[2020-11-26 11:31] fwyzard commented on #32289
I don't see a `cc8_amd64_gcc8` build - does that mean we should move to gcc9 on CentOS ?

[2020-11-26 11:33] smuzaffar commented on #32289
yes we are moving to gcc9 for both slc7/cc8. For 11.3.X, we only have gcc9 and above.

[2020-11-26 11:34] fwyzard commented on #32289
OK - is it done automatically also for CMSSW_11_2_0_pre10_Patatrack ?

[2020-11-26 11:36] smuzaffar commented on #32289
Yes, for Patatrack I alrady have updated but we do need to cleanup patatrack ibs/releases a bit. There are too many of releases and not enough resources to build all of them.

[2020-11-26 11:38] cmsbuild commented on #32289
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2772/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-26 11:41] fwyzard commented on #32289
Currently we build Patatrack release for
  - `cc8_amd64_gcc8`
  - `slc7_amd64_gcc820`
  - `slc7_aarch64_gcc820`
  - `slc7_ppc64le_gcc820`

Can we move to them
  - `slc7_amd64_gcc900`
  - `cc8_amd64_gcc9`
  - `cc8_aarch64_gcc900`
  - `slc7_ppc64le_gcc900`

The remote ARM machines with GPUs I have access to are on CentOS 8, but the only Power machines I can use are the Minsky servers at CERN, which

[2020-11-26 11:43] jfernan2 commented on #31896
Hi @silviodonato

this is the second time I see this error being revived in a PR Jenkins test:
https://github.com/cms-sw/cmssw/pull/32036#issuecomment-734247790

26-Nov-2020 11:04:32 CET  Successfully opened file root://eoscms.cern.ch//eos/cms/store/user/cmsbuild/store/express/Commissioning2019/ExpressCosmics/FEVT/Express-v1/000/334/393/00000/FE21789A-F777-0B43-A1F5-E43F1FD52D19.root
26-Nov-2020 1

[2020-11-26 11:43] smuzaffar commented on #32289
We now have 11.2,X and 11.3.X , so this means double number of patatrack releases/IBs :-(

[2020-11-26 11:48] silviodonato commented on #22575
Dummy question: what is the difference of having the plugin in `L1Trigger/L1THGCalUtilities/test/` instead of `L1Trigger/L1THGCalUtilities/plugins/`?

[2020-11-26 11:54] cmsbuild commented on #32289
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/2769

Tests results:
33 30 13 4 3 0 0 0 0 tests passed, 3 2 17 2 0 0 0 0 0 failed

[2020-11-26 11:55] jfernan2 commented on #31896
What I am not sure if this is related to the SiStripRawToDigiModule:siStripDigis Warning before (it seems not since that warning is present in several other unit Tests) or to the beam_dqm_sourceclient itself

I have just tried to reproduce it using exactly same settings as in #32036 but failed, however perhaps it makes sense to repen this issue since it seems to be there

FYI: @gennai @francescobr

[2020-11-26 11:57] fwyzard commented on #32289
Ah - no need !

Can we keep only 11.2.x Patatrack IBs for the moment ?
We'll probably keep using CMSSW_11_2_0_pre10 as the base for development and integration for a while.

[2020-11-26 12:13] smuzaffar commented on #32289
patatrack for 11.2.X only sounds good.

[2020-11-26 12:42] cmsbuild commented on #32289
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-slc7_ppc64le_gcc9/2770

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2020-11-26 12:45] cmsbuild commented on #32289
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2773/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-26 14:37] mmusich commented on #31896
@jfernan2
just a clarification on this

the warning comes from the Strip unpacker and just signals there is one or more FED(-s) out of DAQ [1] (1800 is the number of times the same warning is emitted) .
Given there are many SiStrip FEDs out of DAQ in the run chosen for the unit test 334393 [2] it is not surprising to see them.
Moreover we are running the Strip unpacker in several other online clie

[2020-11-26 14:40] jfernan2 commented on #31896
Thanks @mmusich
Yeah, indeed it is not related to SiStripRawToDigiModule:siStripDigis and not even reproducible (I tried oflfine 10 times so far... :-P )

[2020-11-26 14:52] jfernan2 commented on #31896
Another one example: https://github.com/cms-sw/cmssw/pull/27983#issuecomment-734334965
May it be correlated to the switch to CMSSW_11_3_X in the milestone?

[2020-11-26 15:01] cmsbuild commented on #32289
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/2773
Some test

[2020-11-26 15:19] cmsbuild commented on #32289
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1756/console

[2020-11-26 15:19] cmsbuild commented on #32289
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/1756

[2020-11-26 16:11] cmsbuild commented on #32289
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/2773

Tests results:
36 35 34 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-26 16:15] Dr15Jones commented on #32249
So with what I feel is a disappointing 'fix' done in the DD4Hep code of adding a lock to work around the problem (the lock will prohibit cmsRun from efficiently scheduling work on different threads) could we instead remove/reduce the use of the problematic dd4hep calls? The one in question are standalone functions beginning with `dd4hep::_`

[code]
I'm guessing that the one we really need to chang

[2020-11-26 16:19] Dr15Jones commented on #32249
As for any code we can't convert, it would be important to make sure that the thread-inefficient dd4hep calls are only being made from ESProducers and not from any EDProducers and then we can mark all the ESProducer's as have a _shared resource_ which will tell cmsRun not to schedule running any of those modules concurrently.

[2020-11-26 16:26] silviodonato commented on #31896
I would exclude that 11_3_X can cause this problem.

Googling "Fatal system signal has occurred during exit" I've found a @makortel issue https://github.com/cms-sw/cmssw/issues/32045

[2020-11-26 16:27] silviodonato commented on #31896
The same error was seen here https://github.com/cms-sw/cmssw/pull/31190#issuecomment-679210925

[2020-11-26 16:54] Axel-Naumann commented on #30359
Ping ^ - unless your off, Shahzad - then I'll just tag tomorrow without hearing back from you.

[2020-11-26 18:35] slava77 opened #32304 "expand coverage for creation of simGtExtUnprefireable in miniAOD"
the initial version integrated in #31985 is making the simGtExtUnprefireable product available only in run2_miniAOD_UL setup.

todo: to figure out the full set of input workflows where `tcdsDigis:tcdsRecord` is available as input for the miniAOD step and apply that combined era modifier instead of the current `run2_miniAOD_UL`

@rekovic

[2020-11-26 18:36] slava77 commented on #32304
assign reconstruction,l1

[2020-11-26 18:36] cmsbuild commented on #32304
New categories assigned: reconstruction,l1

@slava77,@rekovic,@perrotta,@jmduarte,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-26 18:36] cmsbuild commented on #32304
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-26 18:46] silviodonato commented on #31896
The error `Fatal system signal has occurred during exit` is always reproducible on the ASAN release.
This is the minimal code reproducing the error
[code]

It runs without errors in `CMSSW_11_2_X_2020-11-25-2300`.

It crashes in `CMSSW_11_2_ASAN_X_2020-11-25-2300` with
[code]

[2020-11-26 18:46] silviodonato commented on #31896
assign db

[2020-11-26 18:46] cmsbuild commented on #31896
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-26 18:54] makortel commented on #31896
@silviodonato Does the crash in ASAN have any information in addition to the "Fatal system signal during exit"? (if it does, could you paste it here?)

[2020-11-26 19:57] silviodonato commented on #31896
No, there is no additional information (see https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-25-2300/unitTestLogs/DQM/Integration#/51)

[2020-11-26 22:09] smuzaffar commented on #30359
@Axel-Naumann , things looks much better now. Few have couple of IBs with latest root v.6.22 changes (including cms-sw/root#147  and cms-sw/root#148) . PR tests and comparison also look good https://github.com/cms-sw/cmsdist/pull/6416 .

Our Special ROOT622 IBs have not shown any random errors yet. So from my side all is good.
@makortel , @Dr15Jones  do you see any thing strange for 11.2.X and 11.

[2020-11-26 23:08] lgemedia opened #32306 "How do I call github files from a CMSSW python configuration file?"
How do I call github files from a python configuration file?
For instance, my original python ConfFile_XXX_RECO_withDedx.py says:
process.load("UserCode.EnergyLossPID.EnergyLossProducer_cff")
My new github usercode is:  lgemedia/EnergyLossPID .
How do I get access to the EnergyLossPID project from python config?

Thanks
Luiz

[2020-11-26 23:08] cmsbuild commented on #32306
A new Issue was created by  @lgemedia .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-27 01:19] slava77 commented on #27889
updates from today (now in the issue description/list):
- added
    -  #32303 Expand track information in lostTracks collection, for tau reco-from-mini
    -  (no PR/PRs) energy regression for low-pt electrons, including updated training of IDs (all can be redone from miniAOD, can be descoped)
- status/description updated
    -  #31984 "unprefireable bit info" (fully signed Nov 26, 2020)
    -  (b

[2020-11-27 08:16] silviodonato commented on #32306
Please try with
[code]
clearly `CMSSW_X_Y_Z` correspond to the actual version of CMSSW you used to develop your tool.

[2020-11-27 09:34] ianna commented on #32249
@Dr15Jones and @cvuosalo - I think, I've mentioned it before - we should not be running form the XML files with DD4hep in RECO in production. It's not just the thread safety, but also an excessive performance penalty. We have demonstrated that the RECO geometries are identical. The SIM geometry is different in a way that we have to use DD4hep for both the XML parsing and the G4 geometry creation.

[2020-11-27 10:02] silviodonato opened #32309 "Build CMSSW_10_6_19_patch1"

[2020-11-27 10:03] cmsbuild commented on #32309
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-11-27 10:04] silviodonato commented on #32309
+1

[2020-11-27 10:05] cmsbuild commented on #32309
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-11-27 10:05] cmsbuild commented on #32309
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-11-27 10:12] cmsbuild commented on #32309
The build has started for slc7_amd64_gcc700 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2774/console
CMSDIST Branch: [REL/CMSSW_10_6_19/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_19/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 10:17] cmsbuild commented on #32309
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2775/console
CMSDIST Branch: [REL/CMSSW_10_6_19/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_19/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 10:47] cmsbuild commented on #32309
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch1-slc7_amd64_gcc700/2774
Some

[2020-11-27 10:48] cmsbuild commented on #32309
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch1-slc7_amd64_gcc820/2775
Some

[2020-11-27 11:17] silviodonato commented on #32309
upload all

[2020-11-27 11:17] cmsbuild commented on #32309
Queing Jenkins upload for slc7_amd64_gcc700

[2020-11-27 11:17] cmsbuild commented on #32309
Queing Jenkins upload for slc7_amd64_gcc820

[2020-11-27 11:18] cmsbuild commented on #32309
The upload has started for slc7_amd64_gcc700 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1757/console

[2020-11-27 11:18] cmsbuild commented on #32309
The upload has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1758/console

[2020-11-27 11:18] cmsbuild commented on #32309
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_19_patch1-slc7_amd64_gcc820/1758

[2020-11-27 11:18] cmsbuild commented on #32309
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_19_patch1-slc7_amd64_gcc700/1757

[2020-11-27 11:26] cmsbuild commented on #32309
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch1-slc7_amd64_gcc700/2774

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-27 11:29] cmsbuild commented on #32309
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch1-slc7_amd64_gcc820/2775

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-27 11:32] silviodonato commented on #32309
release-notes

[2020-11-27 11:32] cmsbuild commented on #32309
Generating release notes since CMSSW_10_6_19.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-11-27 11:32] cmsbuild commented on #32309
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_19_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_19 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_19_patch1

Cheers,
cms-bot

You can also click <a h

[2020-11-27 11:35] cmsbuild commented on #32309
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19_patch1

[2020-11-27 13:52] lgemedia commented on #32306
Hi Silvio,

Thanks a lot for the information.

Best,
Luiz

On Fri, Nov 27, 2020 at 5:17 AM Silvio Donato <notifications@github.com>
wrote:

[2020-11-27 14:06] makortel commented on #32249
SIM is run multithreaded in production, so it looks to me the a thread-safe and -efficient solution would be needed anyway.

[2020-11-27 14:09] ianna commented on #32249
Agree.

[2020-11-27 14:11] dpiparo commented on #32249
@ianna is it easy, in a nutshell, to understand why in sim we need to start from the xml? (I agree with @makortel of course, sim jobs are MT on the grid)

[2020-11-27 14:15] #32306 closed

[2020-11-27 15:02] ianna commented on #32249
Detector description payload is an XML BLOB and we have no schema for storing a complete G4 geometry. I'm not even sure if a persistent G4 geometry is desirable. We do have RECO geometry schemas though.

[2020-11-27 15:03] Dr15Jones commented on #32249
I do not believe it matters if we are using xml or not given that the change being made to DD4Hep will require a lock around all calls to dd4hep::_toDouble which will cause thread inefficiencies and we call that function even when the geometry comes from the DB.

[2020-11-27 15:06] ianna commented on #32249
the latter should not be the case, we should not use DD4hep for processing RECO payloads

[2020-11-27 15:51] civanch commented on #32249
Hi all,

we should have a possibility to run both from XML and from DB. XML is needed for Phase-2, XML is needed for debugging and update the geometry. Is it production or not we have to have this capability.

Concerning SIM: for today we cannot expect building geometry in parallel in several streams. The geometry is built from master thread, both DDD and DD4Hep are not capable split the work. So,

[2020-11-27 15:53] ianna commented on #32249
sure, I'm submitting a PR for that

[2020-11-27 16:25] ianna commented on #32249
Ok, we are back to square one :-)

The main culprit: we do not use the same units as DD4hep. And instead of a proper units migration this work around was introduced where the SpecPars explicitly define units:
[code]
This was a very bad idea since it means that a use of the DD4hep evaluator to resolve its own units is unavoidable. Instead of providing another work-around around this work-around why

[2020-11-27 16:29] Dr15Jones commented on #32249
As a counter, given the triviality of the usage of the dd4hep::_toDouble parser, why not just create our own trivial parser which would be thread safe? Basically one that only allows the pattern [0-9][0-9]*\*\(mm|cm|m)?

[2020-11-27 16:31] ianna commented on #32249
we do not know what `mm` or `cm` corresponds to :-)

[2020-11-27 16:34] civanch commented on #32249
@ianna , we do not have too many variants - only SIM and RECO.

[2020-11-27 16:39] ianna commented on #32249
@civanch - why don't we switch to the same units?

[2020-11-27 16:50] civanch commented on #32249
I do not think it is possible. Geant4 has huge number of users allover the world, CMSSW has huge number of analysis code. Moreover, I do not think that this is very big problem - only limited number places of unit conversion inside CMSSW.

[2020-11-27 16:59] cvuosalo commented on #32249
Be careful in discussing units conventions. DD4hep currently follows the CMS/ROOT units convention, which is cm = 1. In CMSSW, we use the CMS/ROOT units convention for reco. CMS simulation and Geant4 use the Geant4 units convention where mm = 1. CMSSW also uses the Geant4 units convention when storing values in the Conditions DB. In CMSSW, we will always be switching back and forth between units c

[2020-11-27 17:02] cvuosalo commented on #32249
I am not understanding how the units convention used by DD4hep is related to thread safety. How would switching the units convention for DD4hep create thread safety?

[2020-11-27 17:08] civanch commented on #32249
Unit conversion has nothing to do with thread safety. As I understand, some DD4Hep utility methods may be thread unsafe, so these methods should not be used if this is possible.

[2020-11-27 17:14] ianna commented on #32249
ok, I'll leave it to you then :-)

[2020-11-27 17:49] #32174 closed

[2020-11-27 18:37] fwyzard opened #32317 "Build CMSSW_11_2_0_pre10_Patatrack"

[2020-11-27 18:38] cmsbuild commented on #32317
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-11-27 18:43] fwyzard commented on #32317
We've never built Patatrack with GCC 9... let's see what happens...

[2020-11-27 18:43] fwyzard commented on #32317
+1

[2020-11-27 18:44] cmsbuild commented on #32317
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre10_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-11-27 18:44] cmsbuild commented on #32317
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2020-11-27 18:45] fwyzard commented on #32317
@smuzaffar how easy would it be to add `slc7_amd64_gcc820` one last time just for this release ?

[2020-11-27 18:46] cmsbuild commented on #32317
The build has started for cc8_amd64_gcc9 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2776/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 18:46] cmsbuild commented on #32317
The build has started for slc7_amd64_gcc900 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2777/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 18:46] fwyzard commented on #32317
abort

[2020-11-27 18:47] cmsbuild commented on #32317
Deleting CMSSW_11_2_0_pre10_Patatrack:

  -Release successfully deleted

  -cmssw tag CMSSW_11_2_0_pre10_Patatrack successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre10_Patatrack/slc7_amd64_gcc900. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_2_0_pre10_Patatrack/cc8_amd64_gcc9. Probaly it had not been created.

 -I was not able to del

[2020-11-27 18:48] #32317 closed

[2020-11-27 18:48] fwyzard opened #32318 "Build CMSSW_11_2_0_pre10_Patatrack"

[2020-11-27 18:49] cmsbuild commented on #32318
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-11-27 18:52] smuzaffar commented on #32317
@fwyzard , slc7_amd64_gcc820 has been added back ( https://github.com/cms-sw/cms-bot/commit/7c86de643dbcbf269548f160db17864a542107ed ).

[2020-11-27 22:36] fwyzard commented on #32318
build cmssw-tool-conf

[2020-11-27 22:36] cmsbuild commented on #32318
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_amd64_gcc900, cc8_amd64_gcc9, slc7_ppc64le_gcc9, slc7_aarch64_gcc9
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-11-27 22:37] cmsbuild commented on #32318
The cmssw-tool-conf build has started for cc8_amd64_gcc9 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2778/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 22:37] cmsbuild commented on #32318
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2779/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 22:38] cmsbuild commented on #32318
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2780/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 22:38] cmsbuild commented on #32318
The cmssw-tool-conf build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2781/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 22:39] cmsbuild commented on #32318
The cmssw-tool-conf build has started for slc7_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2782/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-27 23:38] fwyzard commented on #32318
+1

[2020-11-27 23:39] cmsbuild commented on #32318
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre10_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-11-28 00:37] cmsbuild commented on #32318
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_ppc64le_gcc

[2020-11-28 00:37] cmsbuild commented on #32318
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-28 00:38] cmsbuild commented on #32318
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2783/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-28 01:10] cmsbuild commented on #32318
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_amd64_gcc90

[2020-11-28 01:10] cmsbuild commented on #32318
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-28 01:14] cmsbuild commented on #32318
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-cc8_amd64_gcc9/2778

[2020-11-28 01:14] cmsbuild commented on #32318
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_amd64_gcc82

[2020-11-28 01:14] cmsbuild commented on #32318
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the bui

[2020-11-28 01:14] cmsbuild commented on #32318
The build has started for slc7_amd64_gcc900 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2784/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-28 01:15] cmsbuild commented on #32318
The build has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2785/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-28 01:26] cmsbuild commented on #32318
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2786/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-28 01:39] makortel commented on #31896
Running Silvio's example configuration https://github.com/cms-sw/cmssw/issues/31896#issuecomment-734440860 (thanks!)  in gdb in CMSSW_11_2_ASAN_X_2020-11-25-2300 shows a segfault with the following stack trace
[code]

[2020-11-28 01:54] cmsbuild commented on #32318
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc9 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_aarch64_gcc

[2020-11-28 01:55] cmsbuild commented on #32318
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-28 01:55] cmsbuild commented on #32318
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2787/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-28 03:23] cmsbuild commented on #32318
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_ppc64le_gcc9/27

[2020-11-28 04:06] cmsbuild commented on #32318
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_amd64_gcc900/27

[2020-11-28 04:20] cmsbuild commented on #32318
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-cc8_amd64_gcc9/2785
Som

[2020-11-28 04:26] cmsbuild commented on #32318
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_amd64_gcc820/27

[2020-11-28 04:29] cmsbuild commented on #32318
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_ppc64le_gcc9/2783

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2020-11-28 04:37] cmsbuild commented on #32318
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_aarch64_gcc9/27

[2020-11-28 04:47] cmsbuild commented on #32318
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_amd64_gcc900/2784

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2020-11-28 04:59] cmsbuild commented on #32318
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-cc8_amd64_gcc9/2785

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2020-11-28 05:20] cmsbuild commented on #32318
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre10_Patatrack-slc7_amd64_gcc820/2786

Tests results:
36 35 34 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-28 08:51] fwyzard commented on #32318
upload all

[2020-11-28 08:52] cmsbuild commented on #32318
Queing Jenkins upload for cc8_amd64_gcc9

[2020-11-28 08:52] cmsbuild commented on #32318
Queing Jenkins upload for slc7_aarch64_gcc9

[2020-11-28 08:52] cmsbuild commented on #32318
Queing Jenkins upload for slc7_amd64_gcc820

[2020-11-28 08:52] cmsbuild commented on #32318
Queing Jenkins upload for slc7_amd64_gcc900

[2020-11-28 08:52] cmsbuild commented on #32318
Queing Jenkins upload for slc7_ppc64le_gcc9

[2020-11-28 09:49] cmsbuild commented on #32318
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1760/console

[2020-11-28 09:49] cmsbuild commented on #32318
The upload has started for slc7_amd64_gcc900 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1762/console

[2020-11-28 09:49] cmsbuild commented on #32318
The upload has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1759/console

[2020-11-28 09:49] cmsbuild commented on #32318
The upload has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1761/console

[2020-11-28 09:50] cmsbuild commented on #32318
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10_Patatrack-slc7_aarch64_gcc9/1760

[2020-11-28 09:50] cmsbuild commented on #32318
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1763/console

[2020-11-28 09:51] cmsbuild commented on #32318
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10_Patatrack-slc7_amd64_gcc900/1762

[2020-11-28 09:51] cmsbuild commented on #32318
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10_Patatrack-cc8_amd64_gcc9/1759

[2020-11-28 09:52] cmsbuild commented on #32318
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10_Patatrack-slc7_ppc64le_gcc9/1763

[2020-11-28 09:53] cmsbuild commented on #32318
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre10_Patatrack-slc7_amd64_gcc820/1761

[2020-11-28 10:38] cmsbuild commented on #32289
The cleanup has started for cc8_aarch64_gcc8

[2020-11-28 10:38] cmsbuild commented on #32289
The cleanup has started for cc8_amd64_gcc9

[2020-11-28 10:38] cmsbuild commented on #32289
The cleanup has started for cc8_ppc64le_gcc9

[2020-11-28 10:38] cmsbuild commented on #32289
The cleanup has started for slc7_aarch64_gcc820

[2020-11-28 10:38] cmsbuild commented on #32289
The cleanup has started for slc7_amd64_gcc820

[2020-11-28 10:38] cmsbuild commented on #32289
The cleanup has started for slc7_amd64_gcc900

[2020-11-28 10:38] cmsbuild commented on #32289
The cleanup has started for slc7_ppc64le_gcc9

[2020-11-28 10:38] #32289 closed

[2020-11-28 10:38] cmsbuild commented on #32289
The workspace for cc8_aarch64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/1590

[2020-11-28 10:39] cmsbuild commented on #32289
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-cc8_amd64_gcc9/1591

[2020-11-28 10:40] cmsbuild commented on #32289
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/1592

[2020-11-28 10:40] cmsbuild commented on #32289
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-slc7_aarch64_gcc820/1593

[2020-11-28 10:40] cmsbuild commented on #32289
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-slc7_amd64_gcc820/1594

[2020-11-28 10:40] cmsbuild commented on #32289
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-slc7_amd64_gcc900/1595

[2020-11-28 10:40] cmsbuild commented on #32289
The workspace for cc8_aarch64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-cc8_aarch64_gcc8/1597

[2020-11-28 10:40] cmsbuild commented on #32289
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-slc7_ppc64le_gcc9/1596

[2020-11-28 10:40] cmsbuild commented on #32289
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-slc7_ppc64le_gcc9/1599

[2020-11-28 10:40] cmsbuild commented on #32289
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre10-cc8_ppc64le_gcc9/1598

[2020-11-29 10:38] cmsbuild commented on #32309
The cleanup has started for slc7_amd64_gcc700

[2020-11-29 10:38] cmsbuild commented on #32309
The cleanup has started for slc7_amd64_gcc820

[2020-11-29 10:38] #32309 closed

[2020-11-29 10:39] cmsbuild commented on #32309
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_19_patch1-slc7_amd64_gcc700/1600

[2020-11-29 10:39] cmsbuild commented on #32309
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_19_patch1-slc7_amd64_gcc820/1601

[2020-11-30 14:44] makortel commented on #32153
1002.0 step3 in slc7_amd64_gcc900 IB CMSSW_11_3_ROOT6_X_2020-11-27-2300
[code]

[2020-11-30 14:47] makortel commented on #30359
I have not seen strange things in ROOT622 IBs.

[2020-11-30 14:52] smuzaffar commented on #30359
yes since the integration of root v6.22.06 in 11.2.X and 11.3.X things are in much better state.

[2020-11-30 16:30] kpedro88 opened #32338 "recoConversion comparison instability in WF 23234.0"
Spurious differences in recoConversion quantities have started appearing in WF 23234.0 (2026 D49):
![all_OldVSNew_TTbar14TeV2026D49wf23234p0c_recoConversions_allConversions__RECO_obj_nTracks](https://user-images.githubusercontent.com/4672808/100632014-f393f800-32f1-11eb-94c0-36611d6d1ea1.png)

Observed in the following PR tests so far:
#32324
#32326
#32327

[2020-11-30 16:30] kpedro88 commented on #32338
assign reconstruction,upgrade

[2020-11-30 16:30] cmsbuild commented on #32338
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-30 16:30] cmsbuild commented on #32338
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-30 17:15] guitargeek commented on #32338
The PR tests you quote use CMSSW_11_3_X_2020-11-29-0000, right?

Would that mean that the effects of all PRs merged since then would show up in the comparisons

I'm just worried that this issue might be related to my PR https://github.com/cms-sw/cmssw/pull/32266 that indeed touched the conversion producer code, and this PR was one of two that was merged since the release that was used for the comp

[2020-11-30 17:23] ianna commented on #32249
Hopefully, fixed in https://github.com/cms-sw/cmssw/pull/32339 ;-)

[2020-11-30 17:36] kpedro88 commented on #32338
Usually, the bot posts a notification if it merges additional PRs on top of the IB. I don't see that in this case.

[2020-11-30 17:48] silviodonato opened #32340 "No "LHCInfoRcd" record found in the EventSetup.n (CTPPSProtonProducer/'ctppsProtons')"
As reported from @cms-sw/pdmv-l2, many HIN and Run-3 workflows are crashing after ~130 events.

https://cms-unified.web.cern.ch/cms-unified/report/mmeena_RVCMSSW_11_2_0_pre10TTbar_14TeV__rsb_201129_121403_983
https://cms-unified.web.cern.ch/cms-unified/report/mmeena_RVCMSSW_11_2_0_pre10QCD_Pt_80_120_14_HI_2021_PU__rsb_201129_122841_2740

You can easily reproduce the error by copying `/afs/cern.ch/

[2020-11-30 17:49] silviodonato commented on #32340
assign dqm, alca

[2020-11-30 17:49] cmsbuild commented on #32340
New categories assigned: dqm,alca

@jfernan2,@christopheralanwest,@andrius-k,@fioriNTU,@tlampen,@pohsun,@yuanchao,@tocheng,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-30 17:49] cmsbuild commented on #32340
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-30 17:50] silviodonato commented on #32340
@mundim
(please add other PPS people who might be interested)

[2020-11-30 17:55] jfernan2 commented on #32340
@jan-kaspar  @ forthommel @nminafra   @AndreaBellora @popovvp  as CT-PPS DQM developers, can you please have a look?

[2020-11-30 18:07] christopheralanwest commented on #32340
There is no MC tag of record type `LHCInfo`: https://cms-conddb.cern.ch/cmsDbBrowser/search/Prod/LHCInfo Do MC tags for these records need to be created?

[2020-11-30 18:20] perrotta commented on #32338
No, only the PRs merged before CMSSW_11_3_X_2020-11-29-0000 can be responsible. Your own was only merged later on in CMSSW_11_3_X_2020-11-29-2300

[2020-11-30 18:21] Dr15Jones commented on #32249
@ianna Thanks for the change. Could we still have a problem if the MagField and the geometry are being constructed simultaneously?

[2020-11-30 18:51] slava77 commented on #32274
@ptcox @nvoytish
please clarify on the status of resolving this.
we should avoid an option of having to revert the last CSC changes.

[2020-11-30 18:54] nvoytish commented on #32274
Hi @slava77 !
Unfortunately I was too busy last week. I am on it.

[2020-11-30 18:54] slava77 commented on #32338
is there any indication of the problem before CMSSW_11_3_X_2020-11-29-0000?
I'm thinking that the point was the switch to 11_3_X (new gcc version and what not) and that everything after we switched until 11-29-0000 was just not visible as a problem due to the issues with IBs and the tests.

[2020-11-30 18:58] makortel commented on #32249
(sorry to sidetrack but I want to understand something related) How much is the current DDD used in the G4 geometry creation?

[2020-11-30 19:05] kpedro88 commented on #32338
I hadn't noticed the problem before today (but was offline for the holiday the past few days). The gcc version change is worth checking.

[2020-11-30 19:13] Dr15Jones commented on #32249
@ianna Related to this, I wrote a simple thread-safe parser that could handle all to `dd4hep::_toDouble` work except for the case where it is dealing with a _variable_ (i.e. the string contains `[...]`). I had originally thought we could use it in conjunction with `_toDouble` in `DDFilteredView` where that parser would be called first and then only if it couldn't do the conversion would we fall ba

[2020-11-30 20:17] silviodonato commented on #32340
Yes, it look like the record are supposed to be taken from GT https://github.com/cms-sw/cmssw/blob/master/CalibPPS/ESProducers/python/ctppsLHCInfo_cff.py#L3 (@jan-kaspar)

[2020-11-30 20:17] silviodonato commented on #32340
unassign dqm

[2020-11-30 20:20] silviodonato commented on #32340
assign reconstruction

After having removed the DQM modules, we still get
[code]
(actually the problem looks like to be a missing tag in the GT)

[2020-11-30 20:20] cmsbuild commented on #32340
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-30 20:51] slava77 commented on #32340
the previous discussion points to the content of the GT and CalibPPS software. Why is this a reco issue?

[2020-11-30 20:59] dan131riley opened #32344 "segfaults in PluginFactoryBase::findPMaker()"
We've been getting occasional segfaults in `PluginFactoryBase::findPMaker()`, including a recent one in the CLANG IB which seems especially informative:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_CLANG_X_2020-11-29-2300/pyRelValMatrixLogs/run/23434.99_TTbar_14TeV+2026D49PU_PMXS1S2+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+PREMIX_PremixHLBeamSpot14PU+DigiTriggerPU+

[2020-11-30 20:59] cmsbuild commented on #32344
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-30 21:00] makortel commented on #32344
assign core

[2020-11-30 21:00] cmsbuild commented on #32344
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-30 21:09] makortel commented on #32344
Thanks Dan, sounds plausible to me. @Dr15Jones, what do you think?

[2020-12-01 00:52] mundim commented on #32340
@wpcarvalho @malbouis might be related to this topic.
The simulation should use the information in a next development because it is used for the proton propagation. This specific issue, as already mentioned, might be related to the reconstruction.
However, in my tests, I have not seen this problem yet.

[2020-12-01 07:48] silviodonato commented on #32340
unassign reconstruction

[2020-12-01 08:07] silviodonato commented on #32340
@christopheralanwest  I see from https://github.com/cms-sw/cmssw/pull/26394, that https://github.com/cms-sw/cmssw/pull/26415 (@tocheng) added LHCInfo only in Run1 and Run2
(https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/106X_dataRun2_PromptLike_v4/106X_dataRun2_PromptLike_v1). I think we need something similar for Run3.

[2020-12-01 08:09] silviodonato commented on #32340
urgent

this issue is blocking the validation of `CMSSW_11_2_0_pre10`

[2020-12-01 08:44] silviodonato commented on #32340
You can reproduce the error also in this way (in `CMSSW_11_2_0_pre10`)
[code]

[2020-12-01 08:48] jan-kaspar commented on #32340
Let me add some potentially relevant info.

The LHCInfo is a part of conditions essential for PPS. Among others, the LHCInfo contains the LHC xangle (or crossing angle) which influences many aspects of proton propagation from the IP to the PPS detectors (RPs). This info is both important for data and simulation.

For LHC data, the LHCInfo should be stored in DB, as it was provided by LHC. Let me e

[2020-12-01 09:04] silviodonato commented on #32340
@cms-sw/alca-l2 do you have a rough estimate of the timescale for the new global tag? I would like to start the RelVals before the weekend. I prepared https://github.com/cms-sw/cmssw/pull/32346 in case it is not possible to have the global tag in time.

[2020-12-01 09:13] ianna commented on #32249
Hypothetically yes, in reality no. Magnetic field is decoupled from the geometry construction via a DB payload.

[2020-12-01 09:17] ianna commented on #32249
Before DD4hep migration all of it :-) It's needed to parse the XML BLOB and build the G4 geometry.
After DD4hep migration none of it. DD4hep DDCMS interface package is used to parse the XML and DD4hep G4 builder is used to create the G4 geometry.

[2020-12-01 09:21] ianna commented on #32249
@Dr15Jones - it would be great if you could push it to a DD4hep repo to replace their parser. They do welcome contributions.

[2020-12-01 09:22] mariadalfonso opened #32347 "instability in the"
The functions for the METcorrectiona and uncertainties as defined here
 PhysicsTools/PatUtils/python/tools/runMETCorrectionsAndUncertainties.py
are used both in the nano and mini.

It was observed in
https://github.com/cms-sw/cmssw/pull/32328#issue-529226128
that we have some problem with the scheduling of the modules.

For the moment we have just switched off the genmatching as the puppi-jets are

[2020-12-01 09:23] cmsbuild commented on #32347
A new Issue was created by  @mariadalfonso .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-01 09:23] mariadalfonso commented on #32347
assign reconstruction

[2020-12-01 09:23] mariadalfonso commented on #32347
assign xpog

[2020-12-01 09:23] cmsbuild commented on #32347
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@perrotta,@jpata,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-01 09:24] mariadalfonso commented on #32347
@lathomas

[2020-12-01 10:30] silviodonato opened #32349 "Build CMSSW_10_6_19_patch2"

[2020-12-01 10:30] cmsbuild commented on #32349
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-01 11:44] silviodonato commented on #32349
+1

[2020-12-01 11:44] cmsbuild commented on #32349
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-12-01 11:44] cmsbuild commented on #32349
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-12-01 11:45] cmsbuild commented on #32349
The build has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2788/console
CMSDIST Branch: [REL/CMSSW_10_6_19/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_19/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 11:46] cmsbuild commented on #32349
The build has started for slc7_amd64_gcc820 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2789/console
CMSDIST Branch: [REL/CMSSW_10_6_19/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_19/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 12:18] cmsbuild commented on #32349
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch2-slc7_amd64_gcc820/2789
Some

[2020-12-01 12:21] cmsbuild commented on #32349
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch2-slc7_amd64_gcc700/2788
Some

[2020-12-01 12:57] cmsbuild commented on #32349
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch2-slc7_amd64_gcc820/2789

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-01 13:00] cmsbuild commented on #32349
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_19_patch2-slc7_amd64_gcc700/2788

Tests results:
34 33 32 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-01 13:11] lathomas commented on #32347
For the record, the issue seems related with the definition of patJetPartons here
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/jets_cff.py#L609-L614
and its call:
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/jets_cff.py#L752

This conflicts with another definition through the addJetCollection function (when MC information is switched on):
https

[2020-12-01 13:13] lathomas commented on #32347
@alefisico @camclean @laurenhay  FYI.

[2020-12-01 13:19] silviodonato commented on #32340
@jan-kaspar and @fabferro agreed to remove PPS from Run-3 reco (https://github.com/cms-sw/cmssw/pull/32207#issuecomment-736509517). So this issue  is temporarily solved by https://github.com/cms-sw/cmssw/pull/32346 and https://github.com/cms-sw/cmssw/pull/32352

[2020-12-01 14:17] christopheralanwest commented on #32340
Why is this a problem only for Run 3 workflows? There is no `LHCInfoRcd` in any MC global tag.

[2020-12-01 14:31] mundim commented on #32340
Hi @christopheralanwest, we are implementing a different way to get the optics information in order to have the most accurate representation of the real optics as possible. @jan-kaspar can give more detailed information... thanks

[2020-12-01 14:50] slava77 commented on #32340
I'm not sure to understand the arguments.
MC (so far, at least) has only one IOV, there is no time dependence. A single payload in GT for MC would then suffice (at least for some single "representative" point, consider an analogy of a broken/not running clock being right twice a day).
It sounds like a solution is to make MC even more variable than data.
Perhaps I mis-read, and the plan is to make

[2020-12-01 15:03] makortel commented on #22575
Isn't it being used in `L1Trigger/L1THGCalUtilities/plugins/BuildFile.xml` as well?

Technically there is very little difference indeed, but the intention ("never run in production") would be more clear.

[2020-12-01 15:05] Dr15Jones commented on #32344
I think Dan is right that there is a race condition there. However, I think I found two others.
https://github.com/cms-sw/cmssw/blob/297e2a7acda90838c62d5fa50ec2a46cf3b3ab4d/FWCore/PluginManager/src/PluginFactoryBase.cc#L71

Here the iterator could be to an object that hasn't yet been fully initialized so needs the same `while` loop.

The default value created here before being reset to the found

[2020-12-01 15:07] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/29553#issuecomment-736028333 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2020-12-01 15:12] jan-kaspar commented on #32340
This is exactly what is difficult for PPS - because in reality (LHC) the conditions do vary. If we wish the simulation to be realistic, we need to split the MC data into chunks and for each chunk use different set of conditions (both for simu and reco). As in LHC data, a chunk was acquired with some value of xangle, another chunk with another xangle.

The proposed solution (in a simplified manner)

[2020-12-01 15:19] boudoul commented on #32340
Is this another use case to  converge on an IOV-based MC ?

[2020-12-01 15:30] slava77 commented on #32340
no, not really.
Different MC samples have different number of lumisections; clearly all samples would have to have the random values synchronised.

I'm not sure if the situation is that much different from anything else in CMS, conditions vary for all detectors; ECAL has perhaps the most significant variation of response vs time (every fill) and we are still OK (not perfect and can do better) with

[2020-12-01 15:49] jan-kaspar commented on #32340
Conceptually, I can imagine the situation is similar for every sub-detector. What may be different is the size of the variations. For PPS, different xangles can mean sizeable difference in acceptance, for instance. AFAIK, we PPS don't think that a single set of conditions is sufficient - I've asked the Proton POG conveners to support this (personal) statement.

[2020-12-01 15:49] makortel commented on #32344
(mostly for my education)

Is this because the call
https://github.com/cms-sw/cmssw/blob/297e2a7acda90838c62d5fa50ec2a46cf3b3ab4d/FWCore/PluginManager/src/PluginFactoryBase.cc#L70
ends up in
https://github.com/cms-sw/cmssw/blob/297e2a7acda90838c62d5fa50ec2a46cf3b3ab4d/FWCore/PluginManager/src/PluginFactoryBase.cc#L146-L150
and even if that finishes for the calling thread, the first element in `itF

[2020-12-01 15:55] Dr15Jones commented on #32344
Yes to the first question about the element not yet being fully constructed.

I'm in the process of making that change right now (and making the other changes pointed to by this issue).

[2020-12-01 16:06] silviodonato commented on #32349
upload all

[2020-12-01 16:06] cmsbuild commented on #32349
Queing Jenkins upload for slc7_amd64_gcc700

[2020-12-01 16:06] cmsbuild commented on #32349
Queing Jenkins upload for slc7_amd64_gcc820

[2020-12-01 16:11] slava77 opened #32356 "re-enable ctppsProtons for Run3 after #32352"
this depends on the resolution of #32340 and/or  #32207

[2020-12-01 16:11] slava77 commented on #32356
assign reconstruction

[2020-12-01 16:11] cmsbuild commented on #32356
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-01 16:13] antoniovilela commented on #32340
As Jan Kaspar already mentioned, we need some sort of dynamically generated conditions. As an example, the crossing angle changes continually during a fill (by steps of 1urad or so). The crossing angle affects in the simulation where a forward proton will end up in the detector downstream.
In an extreme example, imagine that the CMS magnet field was changing significantly during a run. You would n

[2020-12-01 16:13] kpedro88 opened #32357 "Handle DB payloads for Phase 2 geometries via (meta-)GTs"
During the [CMS week Simulation meeting](https://indico.cern.ch/event/978153/#40-dd4hep-interface-survey), there was a discussion of using DB payloads for Phase 2 geometries to improve performance with DD4hep.

Previously, this idea had been disfavored because of the infeasibility of maintaining O(20) separate GT queues to handle all of the various Phase 2 geometry configurations.

However, to han

[2020-12-01 16:13] kpedro88 commented on #32357
assign upgrade,geometry,alca

[2020-12-01 16:13] cmsbuild commented on #32357
New categories assigned: geometry,upgrade,alca

@Dr15Jones,@cvuosalo,@mdhildreth,@christopheralanwest,@tlampen,@pohsun,@yuanchao,@makortel,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-12-01 16:13] cmsbuild commented on #32357
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-01 16:16] slava77 commented on #32340
considering that the cost of running ctppsProtons is fairly small, would it be still useful to have low, middle, and high points (to be present in GT with different labels or via a derived ES producer) and produce consistently 3 variants of protons?
or do we really need random scatter?

[2020-12-01 16:23] antoniovilela commented on #32340
We are open to suggestions, but I still do not see how we can have a representative MC simulation with a small number of working points. This is why we went in the direction of the random conditions.
This is in a way similar to the continuous distribution of the number of pileup events that we have in the simulation.

[2020-12-01 16:32] slava77 commented on #32340
I disagree with the analogy: pileup is intrinsically different event by event.
The optics, even though it varies during the fill, is still well-defined and should be correlated (or even identical) between signal and background. AFAIK, there is no well defined mechanism to correlate these parameters across generated samples.

[2020-12-01 16:46] antoniovilela commented on #32340
Yes, correct, but the crossing angle is still rapidly varying.
Typically, how many lumi section transitions happen in simulation? Can we tune it, together with the (binned) input distributions such that they are properly populated for all samples?

[2020-12-01 16:55] cmsbuild commented on #32349
The upload has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1764/console

[2020-12-01 16:56] cmsbuild commented on #32349
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_19_patch2-slc7_amd64_gcc700/1764

[2020-12-01 16:57] cmsbuild commented on #32349
The upload has started for slc7_amd64_gcc820 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1765/console

[2020-12-01 16:58] cmsbuild commented on #32349
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_19_patch2-slc7_amd64_gcc820/1765

[2020-12-01 17:01] silviodonato commented on #32349
release-notes

[2020-12-01 17:03] cmsbuild commented on #32349
Generating release notes since CMSSW_10_6_19_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-12-01 17:03] cmsbuild commented on #32349
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_19_patch2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_19_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_19_patch2

Cheers,
cms-bot

You can also cli

[2020-12-01 17:12] cmsbuild commented on #32349
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_19_patch2

[2020-12-01 17:42] christopheralanwest commented on #32340
As far as I know, there is one lumi section per (GEN-SIM?) job in production and the frequency of lumi section transitions is not independently configurable. There is ongoing work to develop run-dependent MC according to the [recommendations of the Time Dependent MC Working Group](https://docs.google.com/document/d/1GLADYZP_ad1bPyrEBPpkRPT22Oru6fC_KKZmfgDgwZo/edit), which uses a similar method of

[2020-12-01 17:43] #32349 closed

[2020-12-01 17:45] silviodonato opened #32358 "Build CMSSW_11_2_0_pre11"

[2020-12-01 17:46] cmsbuild commented on #32358
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-12-01 17:47] silviodonato commented on #32358
+1

[2020-12-01 17:47] cmsbuild commented on #32358
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2020-12-01 17:47] cmsbuild commented on #32358
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2020-12-01 17:49] cmsbuild commented on #32358
The build has started for slc7_amd64_gcc900 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2792/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 17:49] cmsbuild commented on #32358
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2791/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 17:49] cmsbuild commented on #32358
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2793/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 17:49] cmsbuild commented on #32358
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2794/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 17:50] cmsbuild commented on #32358
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2795/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 17:50] cmsbuild commented on #32358
The build has started for cc8_amd64_gcc9 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2790/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 18:11] davidlange6 commented on #32340
Maybe its possible to illustrate the physics impact of using an average condition vs something more complex? This is the same situation as all detectors fwiw.

[2020-12-01 18:43] cmsbuild commented on #32358
The was an error for cc8_aarch64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-cc8_aarch64_gcc9/2791

[2020-12-01 18:57] Dr15Jones commented on #32344
See #32359

[2020-12-01 19:02] mundim commented on #32340
Hi everyone. Can we postpone this discussion to after a meeting already booked between the PPS people involved, please? There are some aspects involved that still need some internal discussion.
thanks.

[2020-12-01 19:36] makortel commented on #25090
In CMSSW_11_3_X_2020-11-29-2300 158.181 still has generator in step1 and `GenHIEventProducer` in step2, but everything else is clean. 1361.181 is now fully clean.

Next step is then to enable concurrent lumis (and IOVs) in all workflows and steps where it makes sense.

[2020-12-01 21:23] cmsbuild commented on #32358
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-slc7_aarch64_gcc9/2793
Some te

[2020-12-01 21:52] cmsbuild commented on #32358
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-slc7_ppc64le_gcc9/2795
Some te

[2020-12-01 21:57] cmsbuild commented on #32358
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-cc8_ppc64le_gcc9/2794
Some test

[2020-12-01 22:06] cmsbuild commented on #32358
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-cc8_amd64_gcc9/2790
Some tests (

[2020-12-01 22:18] cmsbuild commented on #32358
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-slc7_aarch64_gcc9/2793

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-01 22:23] cmsbuild commented on #32358
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2796/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-12-01 22:45] cmsbuild commented on #32358
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-cc8_amd64_gcc9/2790

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-01 22:47] cmsbuild commented on #32358
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-slc7_ppc64le_gcc9/2795

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-01 22:48] slava77 commented on #32161
+1

resolved in  #32265

[2020-12-01 22:53] cmsbuild commented on #32358
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-cc8_ppc64le_gcc9/2794

Tests results:
33 30 13 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2020-12-01 22:54] cmsbuild commented on #32358
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-slc7_amd64_gcc900/2792
Some te

[2020-12-02 00:56] cmsbuild commented on #32358
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre11-slc7_amd64_gcc900/2792

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-12-02 07:51] silviodonato commented on #32358
upload all

[2020-12-02 07:51] cmsbuild commented on #32358
Queing Jenkins upload for cc8_amd64_gcc9

[2020-12-02 07:51] cmsbuild commented on #32358
Queing Jenkins upload for cc8_ppc64le_gcc9

[2020-12-02 07:51] cmsbuild commented on #32358
Queing Jenkins upload for slc7_aarch64_gcc9

[2020-12-02 07:51] cmsbuild commented on #32358
Queing Jenkins upload for slc7_amd64_gcc900

[2020-12-02 07:51] cmsbuild commented on #32358
Queing Jenkins upload for slc7_ppc64le_gcc9