[2019-12-09 08:40] cmsbuild commented on #28582
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2247/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-09 08:41] cmsbuild commented on #28582
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2248/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-09 10:32] cmsbuild commented on #28582
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_7-slc7_amd64_gcc700/2247

[2019-12-09 10:53] cmsbuild commented on #28582
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_7-slc7_amd64_gcc820/2248

[2019-12-09 13:20] #28455 closed

[2019-12-09 13:37] fabiocos commented on #28571
@dan131riley indeed a large part of the MTD reco geometry is cloned (and slightly adapted) from the Tracker one, as MTD could be logically considered as an additional tracker layer

[2019-12-09 13:53] fabiocos opened #28585 "Test JME-custom NANOAOD production"
This issue is meant to keep track of the comment https://github.com/cms-sw/cmssw/pull/28430#issuecomment-562111659 about the usefulness to add a test workflow (or at least a test configuration that could be used in private tests) to probe the JME=custom NANOAOD variant.

@peruzzim @nurfikri89 FYI

[2019-12-09 13:54] cmsbuild commented on #28585
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-09 13:54] fabiocos commented on #28585
assign xpog

[2019-12-09 13:54] cmsbuild commented on #28585
New categories assigned: xpog

@fgolf,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-09 14:04] peruzzim commented on #28585
assign pdmv

following https://github.com/cms-sw/cmssw/pull/28430#issuecomment-563251529
@nurfikri89

[2019-12-09 14:05] cmsbuild commented on #28585
New categories assigned: pdmv

@chayanit,@pgunnell,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-09 14:15] peruzzim commented on #28358
@pgunnell do we have news about the resubmitted jobs? Would be good to be sure that it was indeed not a code problem, in view of future productions.

[2019-12-09 15:14] schneiml commented on #28521
My latest development branch https://github.com/cms-sw/cmssw/compare/master...schneiml:dqm-prepare-for-stream-v3 now uses the new callbacks, and that seems to work well. Closing this issue.

[2019-12-09 15:14] #28521 closed

[2019-12-09 15:16] #28555 closed

[2019-12-09 15:54] fabiocos commented on #28575
assign operations,core

[2019-12-09 15:55] cmsbuild commented on #28575
New categories assigned: operations,core

@Dr15Jones,@smuzaffar,@fabiocos,@franzoni,@davidlange6,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-09 16:00] fabiocos commented on #28575
@makortel so practically what you did was to update https://github.com/cms-sw/cmssw/blob/master/Configuration/StandardSequences/python/Services_cff.py ? This sounds as a natural entry point, unless you want to have it conditional to some specific flag

[2019-12-09 16:29] pgunnell commented on #28358
I confirm @peruzzim . For the resubmitted jobs, there was no problem.

[2019-12-09 16:54] makortel commented on #28575
@fabiocos I put a `process.load()` in `ConfigBuilder`
https://github.com/cms-sw/cmssw/blob/692e725b916209cb65ca5a3135ecfe9a6719253f/Configuration/Applications/python/ConfigBuilder.py#L912-L925

Thanks for pointing out the `Configuration.StandardSequences.Services_cff`, it indeed looks a better placement. The intention indeed is that `CUDAService` could be loaded by any job, and the service interna

[2019-12-09 20:11] makortel commented on #28576
CUDA is available for ppc64le. I was actually wondering that myself as well, maybe @smuzaffar @mrodozov could clarify if there is anything fundamental preventing adding CUDA external for ppc64le or it just has not been done yet?

[2019-12-09 20:53] makortel commented on #28576
I'm not sure we can count on the availability of all foreseen GPUs (NVIDIA, AMD, Intel) on all our current CPU architectures (x86, Arm, Power).

A possible way out could be to put the GPU to be part of the architecture (`SCRAM_ARCH`), in which case  the differentiation in the configuration and in the code would be just "CPU vs. GPU" instead of "CPU vs. NVIDIA vs. AMD vs. Intel".

[2019-12-10 09:06] VinInn commented on #28576
```SCRAM_ARCH``` is the ubiquitous mechanism we use.
It has its downsides (notably the inability to cross-compile that essentially makes impossible to have platform dependent plugins in the same release)
FatLibraires are not easy to deploy at the scale of cmssw applications. I even doubt that we can compile and link kernels for different types of GPUs.

[2019-12-10 12:54] fabiocos commented on #28582
+1

[2019-12-10 12:55] cmsbuild commented on #28582
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-12-10 12:55] cmsbuild commented on #28582
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-12-10 12:57] cmsbuild commented on #28582
The build has started for slc7_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2249/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-10 12:57] cmsbuild commented on #28582
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2250/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-10 15:08] Dr15Jones opened #28598 "Problem with HGCalTowerMaps adds"
In the slc7_amd64_gcc900 IB, the RelVal 21234.0 step 2 failed with the exception

[code]
See

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_11_1_X_2019-12-09-2300/pyRelValMatrixLogs/run/21234.0_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2026D44_GenSimHLBeamSpotFull14+DigiFullTrigger_2026D44+RecoFullGlobal_2026D44+HARVESTFullGlobal_2026D44/step2_TTbar_14TeV+TTbar_14TeV_TuneCUET

[2019-12-10 15:09] cmsbuild commented on #28598
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-10 15:14] cmsbuild commented on #28598
New categories assigned: upgrade,l1

@benkrikler,@rekovic,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-10 15:26] cmsbuild commented on #28582
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_7-slc7_amd64_gcc820/2250
Some tests (

[2019-12-10 15:33] Dr15Jones commented on #28598
I was able to reproduce the problem in my local area.

[2019-12-10 15:37] Dr15Jones commented on #28598
I ran the code in gdb and did a stack trace for the exception throw
[code]

[2019-12-10 15:42] kpedro88 commented on #28598
@jbsauvan please take a look

[2019-12-10 15:54] jbsauvan commented on #28598
Adding @cerminar
Gianluca, do you have an idea where there could be tower maps with 0 towers produced?
[code]

[2019-12-10 15:59] VinInn commented on #28576
and do we have a mechanism for that?

[2019-12-10 16:01] makortel commented on #28576
Not today. But that's the question, would we need/benefit from such a mechanism.

[2019-12-10 16:10] Dr15Jones commented on #28598
I added a print statement to
https://github.com/cms-sw/cmssw/blob/fdcf37038d7b13db217c10703ab1dc394697f32f/L1Trigger/L1THGCal/plugins/backend/HGCalTowerProcessor.cc#L26

where I print the loop index first, then `layer()` and then `nLayers()`. The result is as follows:

[code]

So what is causing the problem isn't entries with `nLayers() == 0` but is the fact that index 4 happens after index 3.

[2019-12-10 16:13] cmsbuild commented on #28582
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_7-slc7_amd64_gcc700/2249
Some tests (

[2019-12-10 16:22] fwyzard commented on #28576
Going back to the original issue, I understand there are two problems
  - generate the cfi files through `fillDescriptions()`
  - support a configuration that *may* want to run a CUDA module

The first issue (availability of `fillDescriptions()`) could be addressed (today) by splitting the (e.g.) `EDProducer` in multiple files, or `#ifdef`fing the CUDA part. This could be made to result in a dummy

[2019-12-10 16:24] Dr15Jones commented on #28598
Adding the same build to the gcc8 build I see
[code]
This is using the exact same input file (from step1) as used by gcc 9 job.

[2019-12-10 16:26] fwyzard commented on #26438
In the present system, what happens if the two alternatives in a `SwitchProducer` implement e.g. `edm::BeginLuminosityBlockProducer ` or `edm::EndLuminosityBlockProducer` ?

Do the e.g. `globalBeginLuminosityBlockProduce` and `globalEndLuminosityBlockProduce` methods get called ?

[2019-12-10 16:27] Dr15Jones commented on #26438
They both get called.

[2019-12-10 16:35] Dr15Jones commented on #28598
I think the 'problem' is here
https://github.com/cms-sw/cmssw/blob/fdcf37038d7b13db217c10703ab1dc394697f32f/L1Trigger/L1THGCal/src/backend/HGCalTowerMap2DImpl.cc#L32

The line
https://github.com/cms-sw/cmssw/blob/fdcf37038d7b13db217c10703ab1dc394697f32f/L1Trigger/L1THGCal/src/backend/HGCalTowerMap2DImpl.cc#L50-L54

appears to set the order of the HGCalTowerMap in the container. That order is being

[2019-12-10 16:49] VinInn commented on #28576
I am only afraid that we start with "few localized actions" and will end-up in few months/years to apply the pattern to most of the plugins. This is why, at the end, I always failed back to support solutions based on SCRAM_ARCH.

[2019-12-10 17:13] cmsbuild commented on #28582
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_7-slc7_amd64_gcc820/2250

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-10 17:37] fabiocos opened #28601 "Build CMSSW_7_1_45_patch2"

[2019-12-10 17:38] cmsbuild commented on #28601
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-12-10 17:38] fabiocos commented on #28601
+1

[2019-12-10 17:38] cmsbuild commented on #28601
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_45_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-12-10 17:38] cmsbuild commented on #28601
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-10 17:40] cmsbuild commented on #28601
The build has started for slc6_amd64_gcc481 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2251/console
CMSDIST Branch: [REL/CMSSW_7_1_45/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_45/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-12-10 18:04] cmsbuild commented on #28601
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_45_patch2-slc6_amd64_gcc481/2251
Some t

[2019-12-10 18:04] cmsbuild commented on #28582
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_7-slc7_amd64_gcc700/2249

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-10 18:18] cmsbuild commented on #28601
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_45_patch2-slc6_amd64_gcc481/2251

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2019-12-10 21:43] fabiocos commented on #28601
upload all

[2019-12-10 21:43] cmsbuild commented on #28601
Queing Jenkins upload for slc6_amd64_gcc481

[2019-12-10 21:44] cmsbuild commented on #28601
The upload has started for slc6_amd64_gcc481 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1458/console

[2019-12-10 21:45] cmsbuild commented on #28601
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_45_patch2-slc6_amd64_gcc481/1458

[2019-12-10 21:45] fabiocos commented on #28601
release-notes

[2019-12-10 21:46] cmsbuild commented on #28601
Generating release notes since CMSSW_7_1_45_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-10 21:46] cmsbuild commented on #28601
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_45_patch2 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_45_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_45_patch2

Cheers,
cms-bot

You can also click <a href="mailto:hn

[2019-12-10 21:47] fabiocos commented on #28582
upload all

[2019-12-10 21:47] cmsbuild commented on #28601
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_45_patch2

[2019-12-10 21:47] cmsbuild commented on #28582
Queing Jenkins upload for slc7_amd64_gcc700

[2019-12-10 21:47] cmsbuild commented on #28582
Queing Jenkins upload for slc7_amd64_gcc820

[2019-12-10 21:48] cmsbuild commented on #28582
The upload has started for slc7_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1459/console

[2019-12-10 21:48] cmsbuild commented on #28582
The upload has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1460/console

[2019-12-10 21:49] cmsbuild commented on #28582
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_7-slc7_amd64_gcc820/1460

[2019-12-10 21:50] cmsbuild commented on #28582
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_7-slc7_amd64_gcc700/1459

[2019-12-11 07:50] jbsauvan commented on #28598
In principle the order doesn't matter here.
What puzzles me if that there seems to be several empty tower maps at layer=0. These are most likely built with the default constructor somewhere, but I have to see why they end up in the output collection, while they shouldn't be there

[2019-12-11 07:53] fabiocos commented on #28582
release-notes

[2019-12-11 07:53] cmsbuild commented on #28582
Generating release notes since CMSSW_10_6_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-11 07:53] cmsbuild commented on #28582
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_7 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_7

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2019-12-11 07:54] cmsbuild commented on #28582
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_7

[2019-12-11 08:24] jbsauvan commented on #28598
I now see this happens with the HFNose scenario, is there also a crash with C4 or C8?

[2019-12-11 10:20] davidlange6 commented on #15248
#28606

[2019-12-11 14:01] Dr15Jones commented on #28598
Only workflow 21234.0 is failing. All others are fine.

[2019-12-11 14:21] jbsauvan commented on #28598
Ok, thanks. I just checked that this is due to trigger cells constructed in the HFNose that cause this. Since tower maps are not used in the HFNose I will simply disconnect it for the tower maps construction; and also add some additional exception to catch this earlier, in case something similar happens again in the future.

[2019-12-11 14:47] makortel commented on #28575
Based on the discussion yesterday in the core meeting (given #28576), probably it would make sense (as an interim solution) to load `CUDAService_cfi` only if the `gpu` modifier (#28522) is given to the `cmsDriver.py`. Therefore the `loadAndRemember()` call would stay in the `ConfigBuilder`, protected with an "if gpu". @fabiocos, @fwyzard, what do you think?

[2019-12-11 14:54] fwyzard commented on #28575
I understood that `if gpu` is deprecated... apart from that, I'm fine with this approach :-)

[2019-12-11 14:57] makortel commented on #28575
The actual line would not be `if gpu.isChosen()`, but along "if `gpu` in `--processModifiers`".

[2019-12-11 14:58] makortel commented on #28575
I agree it is not pretty, but would limit the set of broken workflows in `ppc64le` only to the ones really using CUDA.

[2019-12-11 15:07] makortel commented on #28575
Thinking further
[code]
in `Configuration/StandardSequences/Services_cff` should work as well and wouldn't require touching `ConfigBuilder`.

[2019-12-11 15:07] fwyzard commented on #28575
Look clean enough to me ...

[2019-12-11 16:01] Dr15Jones opened #28608 "LumiProducer and LumiCorrectionSource should use SiteLocalConfig service"
Instead of reading and parsing the site-local-config.xml file themselves, the modules should use the SiteLocalConfig service to do the work.

[2019-12-11 16:01] cmsbuild commented on #28608
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-11 16:02] Dr15Jones commented on #28608
assign reconstruction, core

[2019-12-11 16:03] cmsbuild commented on #28608
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-11 16:03] Dr15Jones commented on #28608
This is part of the issue with workflow management wanting a way to read alternative site-loca-config.xml files in a job.

[2019-12-11 16:44] peruzzim commented on #28358
thanks, then I think this can be closed

[2019-12-11 18:00] jbsauvan commented on #28598
Should be fixed by #28609

[2019-12-11 18:10] Dr15Jones commented on #28598
@jbsauvan Thanks!

[2019-12-12 19:59] cvuosalo commented on #28168
G4 materials for reference

http://geant4-userdoc.web.cern.ch/geant4-userdoc/UsersGuides/ForApplicationDeveloper/html/Appendix/materialNames.html

[2019-12-12 20:53] cmsbuild commented on #28601
The cleanup has started for slc6_amd64_gcc481

[2019-12-12 20:53] #28601 closed

[2019-12-12 20:53] cmsbuild commented on #28601
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_45_patch2-slc6_amd64_gcc481/1497

[2019-12-12 21:36] fabiocos opened #28620 "Build CMSSW_10_2_19"

[2019-12-12 21:37] cmsbuild commented on #28620
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-12-12 21:37] fabiocos commented on #28620
+1

[2019-12-12 21:37] cmsbuild commented on #28620
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_19. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-12-12 21:37] cmsbuild commented on #28620
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-12-12 21:39] cmsbuild commented on #28620
The build has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2253/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-12 21:39] cmsbuild commented on #28620
The build has started for slc6_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2252/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-13 02:00] cmsbuild commented on #28620
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_19-slc7_amd64_gcc700/2253
Some tests (

[2019-12-13 02:43] cmsbuild commented on #28620
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_19-slc6_amd64_gcc700/2252
Some tests (

[2019-12-13 03:30] cmsbuild commented on #28620
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_19-slc7_amd64_gcc700/2253

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-13 04:14] cmsbuild commented on #28620
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_19-slc6_amd64_gcc700/2252

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-13 06:53] cmsbuild commented on #28582
The cleanup has started for slc7_amd64_gcc700

[2019-12-13 06:53] cmsbuild commented on #28582
The cleanup has started for slc7_amd64_gcc820

[2019-12-13 06:53] #28582 closed

[2019-12-13 06:53] cmsbuild commented on #28582
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_7-slc7_amd64_gcc700/1498

[2019-12-13 06:53] cmsbuild commented on #28582
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_7-slc7_amd64_gcc700/1500

[2019-12-13 06:53] cmsbuild commented on #28582
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_7-slc7_amd64_gcc820/1501

[2019-12-13 06:54] cmsbuild commented on #28582
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_7-slc7_amd64_gcc820/1499

[2019-12-13 13:39] fabiocos commented on #28620
upload all

[2019-12-13 13:40] cmsbuild commented on #28620
Queing Jenkins upload for slc6_amd64_gcc700

[2019-12-13 13:40] cmsbuild commented on #28620
Queing Jenkins upload for slc7_amd64_gcc700

[2019-12-13 13:41] cmsbuild commented on #28620
The upload has started for slc6_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1461/console

[2019-12-13 13:41] cmsbuild commented on #28620
The upload has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1462/console

[2019-12-13 13:42] cmsbuild commented on #28620
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_19-slc7_amd64_gcc700/1462

[2019-12-13 13:43] cmsbuild commented on #28620
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_19-slc6_amd64_gcc700/1461

[2019-12-13 13:58] fabiocos commented on #28620
release-notes

[2019-12-13 13:58] cmsbuild commented on #28620
Generating release notes since CMSSW_10_2_18.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-13 13:58] cmsbuild commented on #28620
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_19 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_18 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_19

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2019-12-13 13:59] cmsbuild commented on #28620
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_19

[2019-12-13 21:57] cvuosalo commented on #27514
@Dr15Jones: I believe this issue is resolved, since PR #27557 has been merged. Can this issue be closed?

[2019-12-13 22:00] Dr15Jones commented on #27514
@cvuosalo do you have permision to do the 'plus 1'? That is what is we normally wait for.

[2019-12-13 22:28] cvuosalo commented on #27514
+1

[2019-12-13 22:29] cmsbuild commented on #27514
This issue is fully signed and ready to be closed.

[2019-12-13 22:29] #27514 closed

[2019-12-15 13:08] cmsbuild commented on #28620
The cleanup has started for slc6_amd64_gcc700

[2019-12-15 13:08] cmsbuild commented on #28620
The cleanup has started for slc7_amd64_gcc700

[2019-12-15 13:08] #28620 closed

[2019-12-15 13:08] cmsbuild commented on #28620
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_19-slc6_amd64_gcc700/1502

[2019-12-15 13:08] cmsbuild commented on #28620
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_19-slc7_amd64_gcc700/1503

[2019-12-16 15:32] fabiocos commented on #28575
@makortel from a quick test I did

[code]

is correctly uploaded in case the process modifier ```gpu``` is part of the Era

[2019-12-16 17:09] fabiocos commented on #28436
removed in #28584

[2019-12-16 17:09] #28436 closed

[2019-12-16 17:10] fabiocos opened #28632 "Removal of HiCoreTools and HiHelperTools"
This issue is a reminder of https://github.com/cms-sw/cmssw/pull/28584#issuecomment-566128320 , as a follow-up action in the context of the removal of FWCore/GuiBrowsers

[2019-12-16 17:11] cmsbuild commented on #28632
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-16 21:44] cvuosalo opened #28634 "Fix Polycone definitions that have duplicate planes"
Certain Run 1 scenarios have Polycone definitions in their XML files with duplicate planes. These definitions in the XML files need to be changed so the z/rMin/rMax sections are unique. This problem appeared because ROOT now considers these duplicate planes a bug.

[2019-12-16 21:44] cmsbuild commented on #28634
A new Issue was created by  @cvuosalo Carl Vuosalo.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-16 21:44] cvuosalo commented on #28634
@ianna Could you please add more information to this issue? Do you know which files have to be changed?

[2019-12-16 21:45] cvuosalo commented on #28634
assign geometry

[2019-12-16 21:45] cmsbuild commented on #28634
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-17 06:45] wouf opened #28636 "Access edm::event from GeneratorInterface"
Three HI generators has an issue with edm::event access in embedding mode. It trying to read empty edm::event using BaseHadroniser::getEDMEvent function:
Pyquen:
https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/PyquenInterface/src/PyquenHadronizer.cc#L125
Hydjet2:
https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/Hydjet2Interface/src/Hydjet2Hadronizer.cc#L491
Hydjet:
htt

[2019-12-17 06:46] cmsbuild commented on #28636
A new Issue was created by  @wouf .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-17 14:39] Dr15Jones commented on #28636
assign generator

[2019-12-17 19:27] Dr15Jones commented on #28636
assign generators

[2019-12-17 19:28] cmsbuild commented on #28636
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-18 09:18] fabiocos opened #28643 "Build CMSSW_10_6_7_patch1"

[2019-12-18 09:19] cmsbuild commented on #28643
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-18 09:19] fabiocos commented on #28643
+1

[2019-12-18 09:19] cmsbuild commented on #28643
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_7_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-12-18 09:19] cmsbuild commented on #28643
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-12-18 09:25] cmsbuild commented on #28643
The build has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2254/console
CMSDIST Branch: [REL/CMSSW_10_6_7/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_7/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-18 09:27] cmsbuild commented on #28643
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2255/console
CMSDIST Branch: [REL/CMSSW_10_6_7/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_7/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-18 09:35] fabiocos opened #28644 "Build CMSSW_7_1_45_patch3"

[2019-12-18 09:35] cmsbuild commented on #28644
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-18 09:36] fabiocos commented on #28644
+1

[2019-12-18 09:36] cmsbuild commented on #28644
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_45_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-12-18 09:36] cmsbuild commented on #28644
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-18 09:37] cmsbuild commented on #28644
The build has started for slc6_amd64_gcc481 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2256/console
CMSDIST Branch: [REL/CMSSW_7_1_45/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_45/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-12-18 09:40] fabiocos opened #28645 "Build CMSSW_9_3_17"

[2019-12-18 09:41] cmsbuild commented on #28645
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-18 09:41] fabiocos commented on #28645
+1

[2019-12-18 09:41] cmsbuild commented on #28645
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_17. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-12-18 09:41] cmsbuild commented on #28645
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-12-18 09:58] cmsbuild commented on #28645
The build has started for slc6_amd64_gcc630 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2257/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-18 10:07] cmsbuild commented on #28645
The build has started for slc7_amd64_gcc630 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2258/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-18 10:23] fabiocos commented on #28643
abort

in favour of 10_6_8 including external and CondFormats update as well

[2019-12-18 10:23] cmsbuild commented on #28643
Deleting CMSSW_10_6_7_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_10_6_7_patch1 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_6_7_patch1/slc7_amd64_gcc700. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_6_7_patch1/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.

[2019-12-18 10:23] #28643 closed

[2019-12-18 10:24] fabiocos opened #28647 "Build CMSSW_10_6_8"

[2019-12-18 10:24] cmsbuild commented on #28647
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-18 10:25] fabiocos commented on #28647
+1

[2019-12-18 10:25] cmsbuild commented on #28647
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-12-18 10:25] cmsbuild commented on #28647
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-12-18 10:37] cmsbuild commented on #28647
The build has started for slc7_amd64_gcc700 in cmsbuild53.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2259/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-18 10:38] cmsbuild commented on #28647
The build has started for slc7_amd64_gcc820 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2260/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-18 11:30] cmsbuild commented on #28644
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_45_patch3-slc6_amd64_gcc481/2256
Some t

[2019-12-18 11:45] cmsbuild commented on #28644
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_45_patch3-slc6_amd64_gcc481/2256

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2019-12-18 13:09] fabiocos commented on #28644
upload all

[2019-12-18 13:09] cmsbuild commented on #28644
Queing Jenkins upload for slc6_amd64_gcc481

[2019-12-18 13:12] cmsbuild commented on #28644
The upload has started for slc6_amd64_gcc481 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1463/console

[2019-12-18 13:12] cmsbuild commented on #28644
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_45_patch3-slc6_amd64_gcc481/1463

[2019-12-18 13:13] fabiocos commented on #28644
release-notes

[2019-12-18 13:13] cmsbuild commented on #28644
Generating release notes since CMSSW_7_1_45_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-18 13:13] cmsbuild commented on #28644
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_45_patch3 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_45_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_45_patch3

Cheers,
cms-bot

You can also click <a href="mailto:hn

[2019-12-18 13:14] cmsbuild commented on #28644
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_45_patch3

[2019-12-18 14:04] cmsbuild commented on #28645
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_17-slc7_amd64_gcc630/2258
Some tests (

[2019-12-18 14:25] cmsbuild commented on #28645
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_17-slc6_amd64_gcc630/2257
Some tests (

[2019-12-18 14:52] cmsbuild commented on #28645
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_17-slc7_amd64_gcc630/2258

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-12-18 15:14] cmsbuild commented on #28645
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_17-slc6_amd64_gcc630/2257

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-12-18 15:20] fabiocos commented on #28645
upload all

[2019-12-18 15:21] cmsbuild commented on #28645
Queing Jenkins upload for slc6_amd64_gcc630

[2019-12-18 15:21] cmsbuild commented on #28645
Queing Jenkins upload for slc7_amd64_gcc630

[2019-12-18 15:21] cmsbuild commented on #28645
The upload has started for slc6_amd64_gcc630 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1464/console

[2019-12-18 15:21] cmsbuild commented on #28645
The upload has started for slc7_amd64_gcc630 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1465/console

[2019-12-18 15:22] cmsbuild commented on #28645
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_17-slc7_amd64_gcc630/1465

[2019-12-18 15:23] cmsbuild commented on #28645
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_17-slc6_amd64_gcc630/1464

[2019-12-18 15:30] fabiocos commented on #28645
release-notes

[2019-12-18 15:30] cmsbuild commented on #28645
Generating release notes since CMSSW_9_3_16_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-18 15:30] cmsbuild commented on #28645
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_17 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_16_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_17

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-12-18 15:31] cmsbuild commented on #28645
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_17

[2019-12-18 15:37] cmsbuild commented on #28647
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_8-slc7_amd64_gcc820/2260
Some tests (

[2019-12-18 17:35] cmsbuild commented on #28647
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_8-slc7_amd64_gcc820/2260

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-18 17:52] cmsbuild commented on #28647
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_8-slc7_amd64_gcc700/2259
Some tests (

[2019-12-18 20:03] cmsbuild commented on #28647
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_8-slc7_amd64_gcc700/2259

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-18 23:02] cvuosalo commented on #28476
@mrodozov Please re-open this issue because the unit test is still failing.

[2019-12-18 23:14] cvuosalo commented on #28476
@ianna @civanch I have found two problems. When the materials file `[1]` is processed, the check for comparing the atomic weight with the ROOT version of the material is buggy and always fails, which causes an attempt to create materials that already exist. I can fix this test in the code so it only fails if the atomic weights are truly different.
The second problem is that iodine in `[1]` is give

[2019-12-18 23:16] cvuosalo commented on #28476
@ianna @civanch My proposed fixes don't actually address the problem that ROOT raises an error when a program tries to redefine an elementary material. Do we ever need to redefine an elementary material? If so, how can we make ROOT allow it?

[2019-12-19 06:21] fabiocos commented on #28647
upload all

[2019-12-19 06:21] cmsbuild commented on #28647
Queing Jenkins upload for slc7_amd64_gcc700

[2019-12-19 06:21] cmsbuild commented on #28647
Queing Jenkins upload for slc7_amd64_gcc820

[2019-12-19 06:22] cmsbuild commented on #28647
The upload has started for slc7_amd64_gcc700 in cmsbuild53.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1466/console

[2019-12-19 06:22] cmsbuild commented on #28647
The upload has started for slc7_amd64_gcc820 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1467/console

[2019-12-19 06:24] cmsbuild commented on #28647
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_8-slc7_amd64_gcc820/1467

[2019-12-19 06:26] cmsbuild commented on #28647
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_8-slc7_amd64_gcc700/1466

[2019-12-19 06:29] fabiocos commented on #28647
release-notes

[2019-12-19 06:29] cmsbuild commented on #28647
Generating release notes since CMSSW_10_6_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-19 06:29] cmsbuild commented on #28647
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_8 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_8

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2019-12-19 06:31] cmsbuild commented on #28647
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_8

[2019-12-19 10:56] fabiocos opened #28653 "Build CMSSW_8_0_34"
ARCHITECTURE:slc6_amd64_gcc700

[2019-12-19 10:56] cmsbuild commented on #28653
No architecures to build found for CMSSW_8_0_34. Please check that you entered a valid release name or that the IBs are currently enabled for CMSSW_8_0_X

[2019-12-19 10:56] #28653 closed

[2019-12-19 10:57] fabiocos opened #28654 "Build CMSSW_8_0_34"
ARCHITECTURE:slc6_amd64_gcc530

[2019-12-19 10:58] cmsbuild commented on #28654
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-19 10:59] fabiocos commented on #28654
+1

[2019-12-19 11:00] cmsbuild commented on #28654
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_34. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2019-12-19 11:00] cmsbuild commented on #28654
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-19 11:00] fabiocos opened #28655 "Build CMSSW_8_0_34_UL"
ARCHITECTURE:slc7_amd64_gcc530
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc530

[2019-12-19 11:00] cmsbuild commented on #28654
The build has started for slc6_amd64_gcc530 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2261/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-12-19 11:01] cmsbuild commented on #28655
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-19 11:03] fabiocos commented on #28655
+1

[2019-12-19 11:03] cmsbuild commented on #28655
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_34_UL. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2019-12-19 11:03] cmsbuild commented on #28655
Queuing Jenkins build for the following architectures: slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-19 11:05] cmsbuild commented on #28655
The build has started for slc7_amd64_gcc530 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2262/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-12-19 13:48] cmsbuild commented on #28655
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_34_UL-slc7_amd64_gcc530/2262
Some tests

[2019-12-19 14:11] cmsbuild commented on #28655
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_34_UL-slc7_amd64_gcc530/2262

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-12-19 14:39] cmsbuild commented on #28654
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_34-slc6_amd64_gcc530/2261
Some tests (

[2019-12-19 15:01] cmsbuild commented on #28654
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_34-slc6_amd64_gcc530/2261

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-12-19 15:40] fabiocos commented on #28654
upload all

[2019-12-19 15:40] fabiocos commented on #28655
upload all

[2019-12-19 15:40] cmsbuild commented on #28654
Queing Jenkins upload for slc6_amd64_gcc530

[2019-12-19 15:41] cmsbuild commented on #28655
Queing Jenkins upload for slc7_amd64_gcc530

[2019-12-19 15:41] cmsbuild commented on #28654
The upload has started for slc6_amd64_gcc530 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1468/console

[2019-12-19 15:41] cmsbuild commented on #28655
The upload has started for slc7_amd64_gcc530 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1469/console

[2019-12-19 15:42] cmsbuild commented on #28655
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_34_UL-slc7_amd64_gcc530/1469

[2019-12-19 15:42] cmsbuild commented on #28654
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_34-slc6_amd64_gcc530/1468

[2019-12-19 15:51] fabiocos commented on #28654
release-notes

[2019-12-19 15:51] fabiocos commented on #28655
release-notes

[2019-12-19 15:51] cmsbuild commented on #28654
Generating release notes since CMSSW_8_0_33.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-19 15:51] cmsbuild commented on #28654
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_34 is now available for the following architectures:

slc6_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_33 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_34

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2019-12-19 15:52] cmsbuild commented on #28654
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_34

[2019-12-19 16:07] fabiocos commented on #28655
release-notes since CMSSW_8_0_33_UL

[2019-12-19 16:08] cmsbuild commented on #28655
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2019-12-19 20:55] fabiocos commented on #28655
@smuzaffar my mistake, I should have indicated this as production architecture in the initial field...
Is it possible to fix this a posteriori, e.g. adjusting manually https://cmssdt.cern.ch/SDT/cgi-bin/ReleasesXML or is there more involved?

[2019-12-19 21:48] fabiocos opened #28660 "Build CMSSW_11_1_0_pre1"

[2019-12-19 21:49] cmsbuild commented on #28660
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-19 21:50] fabiocos commented on #28660
build cmssw-tool-conf

[2019-12-19 21:50] cmsbuild commented on #28660
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-12-19 21:50] cmsbuild commented on #28660
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2263/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-19 21:51] cmsbuild commented on #28660
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2264/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-19 21:52] cmsbuild commented on #28660
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2265/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-19 21:54] smuzaffar commented on #28655
@fabiocos , yes we can fix this in here https://github.com/cms-sw/cms-bot/blob/master/releases.map . Should I do it?

[2019-12-19 21:59] smuzaffar commented on #28655
https://github.com/cms-sw/cms-bot/pull/1243 should mark this release as production

[2019-12-19 22:01] fabiocos commented on #28655
@smuzaffar thank you, so release notes may be now produced as well? Not crucial but if possible I would do it

[2019-12-19 22:02] fabiocos commented on #28655
release-notes

[2019-12-19 22:15] smuzaffar commented on #28655
I just added the `PRODUCTION_ARCHITECTURE:slc7_amd64_gcc530` to the issue ( https://github.com/cms-sw/cmssw/issues/28655#issue-540240592 ) but not release notes job is failing as it was not able to find the ref releease. Can you provide the ref release for generating release notes?

[2019-12-19 22:24] smuzaffar commented on #28655
release-notes since CMSSW_8_0_33_UL

[2019-12-19 22:25] cmsbuild commented on #28655
Generating release notes since CMSSW_8_0_33_UL.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-19 22:25] cmsbuild commented on #28655
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_34_UL is now available for the following architectures:

slc7_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_33_UL can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_34_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@c

[2019-12-19 22:25] cmsbuild commented on #28655
Generating release notes since CMSSW_8_0_33_UL.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-19 22:25] cmsbuild commented on #28655
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_34_UL is now available for the following architectures:

slc7_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_33_UL can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_34_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@c

[2019-12-19 22:26] cmsbuild commented on #28655
Generating release notes since CMSSW_8_0_33_UL.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-19 22:26] cmsbuild commented on #28655
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_34_UL

[2019-12-19 22:26] cmsbuild commented on #28655
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_34_UL is now available for the following architectures:

slc7_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_33_UL can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_34_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@c

[2019-12-19 22:26] cmsbuild commented on #28655
Generating release notes since CMSSW_8_0_33_UL.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-19 22:26] cmsbuild commented on #28655
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_34_UL is now available for the following architectures:

slc7_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_33_UL can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_34_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@c

[2019-12-19 22:26] cmsbuild commented on #28655
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_34_UL

[2019-12-19 22:26] cmsbuild commented on #28655
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_34_UL

[2019-12-19 22:27] cmsbuild commented on #28655
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_34_UL

[2019-12-20 00:18] cmsbuild commented on #28660
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_amd64_gcc900/2264

[2019-12-20 00:22] cmsbuild commented on #28660
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_amd64_gcc820/2263

[2019-12-20 01:06] cmsbuild commented on #28660
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_aarch64_gcc820/2265

[2019-12-20 08:13] fabiocos commented on #28660
+1

[2019-12-20 08:14] cmsbuild commented on #28660
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-12-20 08:14] cmsbuild commented on #28660
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-12-20 08:14] cmsbuild commented on #28660
The build has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2267/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-20 08:14] cmsbuild commented on #28660
The build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2266/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-20 08:27] cmsbuild commented on #28660
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2268/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-20 08:37] fabiocos opened #28663 "Build CMSSW_11_0_0"

[2019-12-20 08:37] cmsbuild commented on #28663
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-20 08:37] fabiocos commented on #28663
build cmssw-tool-conf

[2019-12-20 08:37] cmsbuild commented on #28663
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-12-20 08:38] cmsbuild commented on #28663
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2269/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-20 09:14] cmsbuild commented on #28663
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2270/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-20 10:58] cmsbuild commented on #28660
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_amd64_gcc900/2267
Some tes

[2019-12-20 11:04] cmsbuild commented on #28660
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_aarch64_gcc820/2268
Some

[2019-12-20 11:07] cmsbuild commented on #28663
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0-slc7_amd64_gcc820/2269

[2019-12-20 12:23] cmsbuild commented on #28644
The cleanup has started for slc6_amd64_gcc481

[2019-12-20 12:23] #28644 closed

[2019-12-20 12:24] cmsbuild commented on #28644
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_45_patch3-slc6_amd64_gcc481/1504

[2019-12-20 12:29] cmsbuild commented on #28660
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_amd64_gcc820/2266
Some tes

[2019-12-20 12:46] cmsbuild commented on #28660
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_amd64_gcc900/2267

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-20 14:25] cmsbuild commented on #28660
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_amd64_gcc820/2266

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-20 14:34] cmsbuild commented on #28660
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_aarch64_gcc820/2268

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-20 14:34] fabiocos commented on #28660
upload all

[2019-12-20 14:35] cmsbuild commented on #28660
Queing Jenkins upload for slc7_aarch64_gcc820

[2019-12-20 14:35] cmsbuild commented on #28660
Queing Jenkins upload for slc7_amd64_gcc820

[2019-12-20 14:35] cmsbuild commented on #28660
Queing Jenkins upload for slc7_amd64_gcc900

[2019-12-20 14:35] cmsbuild commented on #28660
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1470/console

[2019-12-20 14:37] cmsbuild commented on #28660
The upload has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1471/console

[2019-12-20 14:37] cmsbuild commented on #28660
The upload has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1472/console

[2019-12-20 14:38] cmsbuild commented on #28660
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre1-slc7_aarch64_gcc820/1470

[2019-12-20 14:38] cmsbuild commented on #28645
The cleanup has started for slc6_amd64_gcc630

[2019-12-20 14:38] cmsbuild commented on #28660
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre1-slc7_amd64_gcc900/1472

[2019-12-20 14:38] cmsbuild commented on #28645
The cleanup has started for slc7_amd64_gcc630

[2019-12-20 14:38] #28645 closed

[2019-12-20 14:39] cmsbuild commented on #28645
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_17-slc7_amd64_gcc630/1506

[2019-12-20 14:39] cmsbuild commented on #28645
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_17-slc6_amd64_gcc630/1505

[2019-12-20 14:40] cmsbuild commented on #28660
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre1-slc7_amd64_gcc820/1471

[2019-12-20 14:43] fabiocos commented on #28663
+1

[2019-12-20 14:43] cmsbuild commented on #28663
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_0_X

[2019-12-20 14:43] cmsbuild commented on #28663
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-20 14:44] fabiocos commented on #28660
release-notes since CMSSW_11_0_0_pre13

[2019-12-20 14:44] cmsbuild commented on #28663
The build has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2271/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-20 14:44] cmsbuild commented on #28660
Generating release notes since CMSSW_11_0_0_pre13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-20 14:44] cmsbuild commented on #28660
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre1 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre1

Cheers,
cms-bot

You can a

[2019-12-20 14:45] cmsbuild commented on #28660
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre1

[2019-12-20 15:41] cmsbuild commented on #28663
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0-slc7_aarch64_gcc820/2270

[2019-12-20 15:42] cmsbuild commented on #28663
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-20 15:43] cmsbuild commented on #28663
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2272/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-20 18:13] cmsbuild commented on #28663
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0-slc7_amd64_gcc820/2271
Some tests (

[2019-12-20 20:02] cmsbuild commented on #28663
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0-slc7_amd64_gcc820/2271

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-20 22:26] fabiocos opened #28669 "Build CMSSW_9_4_16"
ARCHITECTURE:slc6_amd64_gcc630

[2019-12-20 22:27] cmsbuild commented on #28669
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-20 22:27] fabiocos commented on #28669
+1

[2019-12-20 22:28] cmsbuild commented on #28669
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_16. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-12-20 22:28] cmsbuild commented on #28669
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-20 22:28] fabiocos opened #28670 "Build CMSSW_9_4_16_UL"
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc630

[2019-12-20 22:28] cmsbuild commented on #28669
The build has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2273/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-20 22:29] cmsbuild commented on #28670
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-20 22:29] fabiocos commented on #28670
+1

[2019-12-20 22:29] cmsbuild commented on #28670
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_16_UL. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-12-20 22:29] cmsbuild commented on #28670
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-20 22:30] cmsbuild commented on #28670
The build has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2274/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-21 00:40] cmsbuild commented on #28670
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_16_UL-slc7_amd64_gcc630/2274
Some tests

[2019-12-21 01:09] cmsbuild commented on #28669
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_16-slc6_amd64_gcc630/2273
Some tests (

[2019-12-21 01:39] cmsbuild commented on #28670
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_16_UL-slc7_amd64_gcc630/2274

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-12-21 02:06] cmsbuild commented on #28669
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_16-slc6_amd64_gcc630/2273

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-12-21 05:38] cmsbuild commented on #28647
The cleanup has started for slc7_amd64_gcc700

[2019-12-21 05:38] cmsbuild commented on #28647
The cleanup has started for slc7_amd64_gcc820

[2019-12-21 05:38] #28647 closed

[2019-12-21 05:39] cmsbuild commented on #28647
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_8-slc7_amd64_gcc700/1507

[2019-12-21 05:39] cmsbuild commented on #28647
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_8-slc7_amd64_gcc820/1508

[2019-12-21 06:09] fabiocos commented on #28663
@smuzaffar as far as I can see in the log the aarch64 build looks also successful, but the bot hasn't refreshed the status. I move forward with the upload at this point

[2019-12-21 06:09] fabiocos commented on #28663
upload all

[2019-12-21 06:09] cmsbuild commented on #28663
Queing Jenkins upload for slc7_amd64_gcc820

[2019-12-21 06:10] fabiocos commented on #28669
upload all

[2019-12-21 06:10] fabiocos commented on #28670
upload all

[2019-12-21 06:10] cmsbuild commented on #28669
Queing Jenkins upload for slc6_amd64_gcc630

[2019-12-21 06:10] cmsbuild commented on #28670
Queing Jenkins upload for slc7_amd64_gcc630

[2019-12-21 06:11] cmsbuild commented on #28669
The upload has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1474/console

[2019-12-21 06:11] cmsbuild commented on #28663
The upload has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1473/console

[2019-12-21 06:11] cmsbuild commented on #28670
The upload has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1475/console

[2019-12-21 06:12] cmsbuild commented on #28670
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_16_UL-slc7_amd64_gcc630/1475

[2019-12-21 06:13] cmsbuild commented on #28669
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_16-slc6_amd64_gcc630/1474

[2019-12-21 06:14] cmsbuild commented on #28663
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0-slc7_amd64_gcc820/1473

[2019-12-21 08:29] fabiocos commented on #28669
release-notes

[2019-12-21 08:30] cmsbuild commented on #28669
Generating release notes since CMSSW_9_4_15.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-21 08:30] cmsbuild commented on #28669
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_16 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_15 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_16

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2019-12-21 08:30] fabiocos commented on #28663
release-notes

[2019-12-21 08:30] cmsbuild commented on #28663
Generating release notes since CMSSW_11_0_0_pre13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-21 08:30] cmsbuild commented on #28663
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_0_0 is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_0_0_pre13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern

[2019-12-21 08:31] cmsbuild commented on #28669
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_16

[2019-12-21 08:31] cmsbuild commented on #28663
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0

[2019-12-21 08:35] fabiocos commented on #28670
release-notes since CMSSW_9_4_15

[2019-12-21 08:35] cmsbuild commented on #28670
Generating release notes since CMSSW_9_4_15.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-21 08:36] cmsbuild commented on #28670
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_16_UL is now available for the following architectures:

slc7_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_15 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_16_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern

[2019-12-21 08:36] cmsbuild commented on #28670
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_16_UL

[2019-12-21 14:41] fabiocos opened #28674 "Build CMSSW_10_2_20"
ARCHITECTURE:slc6_amd64_gcc700

[2019-12-21 14:41] cmsbuild commented on #28674
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-21 14:43] fabiocos opened #28675 "Build CMSSW_10_2_20_UL"
PRODUCTION_ARCHITECTURE:slc7_amd64_gcc700

[2019-12-21 14:43] cmsbuild commented on #28675
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @slava77, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2019-12-21 14:53] fabiocos commented on #28674
+1

[2019-12-21 14:53] fabiocos commented on #28675
+1

[2019-12-21 14:53] cmsbuild commented on #28654
The cleanup has started for slc6_amd64_gcc530

[2019-12-21 14:53] #28654 closed

[2019-12-21 14:54] cmsbuild commented on #28674
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_20. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-12-21 14:54] cmsbuild commented on #28674
Queuing Jenkins build for the following architectures: slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-21 14:54] cmsbuild commented on #28654
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_34-slc6_amd64_gcc530/1509

[2019-12-21 14:54] cmsbuild commented on #28675
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_20_UL. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-12-21 14:54] cmsbuild commented on #28675
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-21 14:55] cmsbuild commented on #28674
The build has started for slc6_amd64_gcc700 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2275/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-21 14:56] cmsbuild commented on #28675
The build has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2276/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-21 18:58] cmsbuild commented on #28675
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_20_UL-slc7_amd64_gcc700/2276
Some test

[2019-12-21 20:09] cmsbuild commented on #28674
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_20-slc6_amd64_gcc700/2275
Some tests (

[2019-12-21 20:27] cmsbuild commented on #28675
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_20_UL-slc7_amd64_gcc700/2276

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-21 21:38] cmsbuild commented on #28655
The cleanup has started for slc7_amd64_gcc530

[2019-12-21 21:38] #28655 closed

[2019-12-21 21:39] cmsbuild commented on #28655
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_34_UL-slc7_amd64_gcc530/1510

[2019-12-21 21:46] cmsbuild commented on #28674
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_20-slc6_amd64_gcc700/2275

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-22 09:08] fabiocos commented on #28674
upload all

[2019-12-22 09:08] cmsbuild commented on #28674
Queing Jenkins upload for slc6_amd64_gcc700

[2019-12-22 09:08] fabiocos commented on #28675
upload all

[2019-12-22 09:08] cmsbuild commented on #28675
Queing Jenkins upload for slc7_amd64_gcc700

[2019-12-22 09:09] cmsbuild commented on #28674
The upload has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1476/console

[2019-12-22 09:09] cmsbuild commented on #28675
The upload has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1477/console

[2019-12-22 09:10] cmsbuild commented on #28675
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_20_UL-slc7_amd64_gcc700/1477

[2019-12-22 09:13] cmsbuild commented on #28674
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_20-slc6_amd64_gcc700/1476

[2019-12-22 09:14] fabiocos commented on #28674
release-notes

[2019-12-22 09:15] cmsbuild commented on #28674
Generating release notes since CMSSW_10_2_19.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-22 09:15] cmsbuild commented on #28674
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_20 is now available for the following architectures:

slc6_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_2_19 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_20

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch

[2019-12-22 09:15] fabiocos commented on #28675
release-notes since CMSSW_10_2_19

[2019-12-22 09:15] cmsbuild commented on #28675
Generating release notes since CMSSW_10_2_19.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-22 09:15] cmsbuild commented on #28675
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_20_UL is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_2_19 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_20_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@c

[2019-12-22 09:16] cmsbuild commented on #28674
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_20

[2019-12-22 09:16] cmsbuild commented on #28675
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_20_UL

[2019-12-22 13:53] cmsbuild commented on #28660
The cleanup has started for slc7_aarch64_gcc820

[2019-12-22 13:53] cmsbuild commented on #28660
The cleanup has started for slc7_amd64_gcc820

[2019-12-22 13:53] cmsbuild commented on #28660
The cleanup has started for slc7_amd64_gcc900

[2019-12-22 13:53] #28660 closed

[2019-12-22 13:54] cmsbuild commented on #28660
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre1-slc7_aarch64_gcc820/1511

[2019-12-22 13:54] cmsbuild commented on #28660
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre1-slc7_amd64_gcc820/1512

[2019-12-22 13:54] cmsbuild commented on #28660
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre1-slc7_amd64_gcc900/1513

[2019-12-22 13:54] cmsbuild commented on #28660
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre1-slc7_aarch64_gcc820/1514

[2019-12-22 13:54] cmsbuild commented on #28660
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre1-slc7_amd64_gcc820/1515

[2019-12-22 13:54] cmsbuild commented on #28660
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre1-slc7_amd64_gcc900/1516

[2019-12-23 07:38] cmsbuild commented on #28670
The cleanup has started for slc7_amd64_gcc630

[2019-12-23 07:38] #28670 closed

[2019-12-23 07:38] cmsbuild commented on #28663
The cleanup has started for slc7_amd64_gcc820

[2019-12-23 07:38] #28663 closed

[2019-12-23 07:38] cmsbuild commented on #28669
The cleanup has started for slc6_amd64_gcc630

[2019-12-23 07:38] #28669 closed

[2019-12-23 07:39] cmsbuild commented on #28663
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0-slc7_amd64_gcc820/1517

[2019-12-23 07:39] cmsbuild commented on #28669
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_16-slc6_amd64_gcc630/1518

[2019-12-23 07:39] cmsbuild commented on #28663
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0-slc7_amd64_gcc820/1520

[2019-12-23 07:39] cmsbuild commented on #28670
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_16_UL-slc7_amd64_gcc630/1519

[2019-12-23 15:18] Dr15Jones opened #28680 "Thread safety issue in SwitchBaseProductResolver::resolveProductImpl"
The method SwitchBaseProductResolver::resolveProductImpl is called each time another module calls `edm::Event::get*` for the data product. Such can happen concurrently. However, the function is not thread safe as it calls `edm:::ProductData::unsafe_setWrapper`

https://github.com/cms-sw/cmssw/blob/master/FWCore/Framework/src/ProductResolvers.cc#L621

The proper thing to do is to set the Wrapper du

[2019-12-23 15:18] cmsbuild commented on #28680
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-23 15:18] Dr15Jones commented on #28680
assign core

[2019-12-23 15:18] cmsbuild commented on #28680
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-23 15:18] Dr15Jones commented on #28680
@makortel please look into this

[2019-12-24 08:23] cmsbuild commented on #28675
The cleanup has started for slc7_amd64_gcc700

[2019-12-24 08:23] #28675 closed

[2019-12-24 08:23] cmsbuild commented on #28674
The cleanup has started for slc6_amd64_gcc700

[2019-12-24 08:23] #28674 closed

[2019-12-24 08:23] cmsbuild commented on #28674
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_20-slc6_amd64_gcc700/1521

[2019-12-24 08:23] cmsbuild commented on #28675
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_20_UL-slc7_amd64_gcc700/1522

[2019-12-24 16:20] cmsbuild commented on #28663
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2277/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-24 17:04] cmsbuild commented on #28660
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2278/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-12-24 17:05] cmsbuild commented on #28660
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2279/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2019-12-24 17:05] cmsbuild commented on #28660
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-cc8_amd64_gcc8/2279

[2019-12-24 17:08] cmsbuild commented on #28660
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2280/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2019-12-24 17:52] cmsbuild commented on #28660
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_aarch64_gcc820/2278
Some

[2019-12-24 18:40] cmsbuild commented on #28663
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0-slc7_aarch64_gcc820/2277
Some test

[2019-12-24 21:15] cmsbuild commented on #28660
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-slc7_aarch64_gcc820/2278

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-24 22:05] cmsbuild commented on #28663
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0-slc7_aarch64_gcc820/2277

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-24 22:18] cmsbuild commented on #28663
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1479/console

[2019-12-24 22:19] cmsbuild commented on #28663
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0-slc7_aarch64_gcc820/1479

[2019-12-25 00:37] cmsbuild commented on #28660
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-cc8_amd64_gcc8/2280
Some tests ( r

[2019-12-25 02:28] cmsbuild commented on #28660
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre1-cc8_amd64_gcc8/2280

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-12-25 09:31] cmsbuild commented on #28660
The upload has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1480/console

[2019-12-25 09:32] cmsbuild commented on #28660
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre1-cc8_amd64_gcc8/1480

[2019-12-27 09:02] perrotta commented on #19003
+1
- Fixed by #28509

[2019-12-27 09:04] cmsbuild commented on #19003
This issue is fully signed and ready to be closed.

[2019-12-27 20:02] makortel commented on #28680
Addressed in #28686 along some other problems I realized while trying to understand what is going on.

[2019-12-30 22:03] Dr15Jones opened #28699 "PopConSourceHandler leaks memory"
Classes inheriting from PopConSourceHandler are required to call `new` in the `getNewObjects()` method and add those to a protected member container. I could not find anywhere that later deletes the objects placed into that container.

[2019-12-30 22:04] cmsbuild commented on #28699
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-30 22:06] Dr15Jones commented on #28699
assign alca, db

[2019-12-30 22:06] cmsbuild commented on #28699
New categories assigned: db,alca

@ggovi,@christopheralanwest,@franzoni,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-31 11:28] #28680 closed

[2020-01-02 17:35] makortel opened #28703 "Ordering issue in Task.replace() affecting dumpPython()"
The python 3 unit test failure
[code]
seems to be caused by a different order of Tasks whose `replace()` functions are called by this line
https://github.com/cms-sw/cmssw/blob/a04e878f77214f485f86bf0b61116129d65c6e69/FWCore/ParameterSet/python/Config.py#L2387
Essentially the nested task structure before the call is
[code]
In the py2 build, this loop
https://github.com/cms-sw/cmssw/blob/a04e878f772

[2020-01-02 17:36] cmsbuild commented on #28703
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-02 17:45] Dr15Jones commented on #28703
assign core

[2020-01-02 17:46] cmsbuild commented on #28703
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-02 20:42] makortel commented on #16481
Here is an additional complication that came to my mind in the context of GPUs/accelerators/offloading.

In the current CUDA tooling (#28537, used in patatrack) it is technically possible that a non-ExternalWork EDProducer produces a `CUDAProduct<T>` such that the asynchronous work has not finished by the time the EDProducer's `produce()` call finishes (the product thus resembles `std::future`). F

[2020-01-03 15:41] makortel opened #28709 "ESGetToken does not work in TestProcessor"
A `TestProcessor` configuration where the module-to-be-tested reads an ESProduct from an ESProducer appears to fail if the module retrieves the product with `ESGetToken`. This behavior is demonstrated in #28708.

[2020-01-03 15:42] cmsbuild commented on #28709
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-03 15:42] makortel commented on #28709
@Dr15Jones could you take a look?

[2020-01-06 17:29] makortel commented on #28553
https://github.com/cms-sw/cmssw/pull/28554 has been merged

[2020-01-06 17:29] #28553 closed

[2020-01-06 17:57] wouf commented on #28636
Any ideas on this?

[2020-01-06 21:48] Dr15Jones commented on #28709
Fixed as part of #28708

[2020-01-06 21:49] Dr15Jones commented on #28709
assign core

[2020-01-06 21:49] cmsbuild commented on #28709
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-06 23:28] cvuosalo commented on #28476
This problem was fixed by #28671.

[2020-01-07 21:42] osschar opened #28716 "[Utilities/XrdAdaptor] Multi-source open requests should specify triedrc=resel"
Since xrootd-4.10 xrootd server supports differentiated processing of file-open requests for server reselection. There are two main uses:
1. Local storage accessed through xrootd where server reselection should not "escape" outside of the local cluster.
2. XCache clusters, where opening of a file multiple times effectively creates several copies of that file in the cache, thus wasting the cache sp

[2020-01-07 21:44] cmsbuild commented on #28716
A new Issue was created by  @osschar Matev Tadel.

@Dr15Jones, @smuzaffar, @silviodonato, @kpedro88, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-07 21:58] osschar commented on #28716
Justas (juztas) and @osschar will do the changes,  @bbockelm agreed to help and review the changes.

[2020-01-08 16:00] makortel commented on #28716
assign core

[2020-01-08 16:01] cmsbuild commented on #28716
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-08 16:02] makortel commented on #28576
assign core

[2020-01-08 16:03] makortel commented on #28179
assign core

[2020-01-08 16:03] cmsbuild commented on #28576
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-08 16:03] cmsbuild commented on #28179
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-08 20:27] #28709 closed

[2020-01-10 21:01] makortel opened #28728 "See if exceptions could be propagated to python in PythonEventProcessor::run()"
The `PythonEventProcessor::run()` has a try-catch around `edm::EventProcessor::runToCompletion()` that silently swallows all exceptions
https://github.com/cms-sw/cmssw/blob/266a6c7a8fca06652ca0e6139cb63fed1b8a9d2f/FWCore/PythonFramework/src/PythonEventProcessor.cc#L76-L83
On the other hand, an exception handler is registered here
https://github.com/cms-sw/cmssw/blob/266a6c7a8fca06652ca0e6139cb63fe

[2020-01-10 21:02] makortel commented on #28728
assign core

[2020-01-10 21:03] cmsbuild commented on #28728
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-10 21:03] cmsbuild commented on #28728
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-13 08:42] silviodonato opened #28732 "Build CMSSW_10_6_8_patch1"

[2020-01-13 08:43] cmsbuild commented on #28732
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2020-01-13 08:44] silviodonato commented on #28732
+1

[2020-01-13 08:44] cmsbuild commented on #28732
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_8_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-01-13 08:44] cmsbuild commented on #28732
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-01-13 08:45] cmsbuild commented on #28732
The build has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2281/console
CMSDIST Branch: [REL/CMSSW_10_6_8/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_8/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-13 08:45] cmsbuild commented on #28732
The build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2282/console
CMSDIST Branch: [REL/CMSSW_10_6_8/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_8/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-13 09:15] cmsbuild commented on #28732
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_8_patch1-slc7_amd64_gcc700/2281
Some t

[2020-01-13 09:34] cmsbuild commented on #28732
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_8_patch1-slc7_amd64_gcc820/2282
Some t

[2020-01-13 11:03] cmsbuild commented on #28732
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_8_patch1-slc7_amd64_gcc700/2281

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-01-13 11:32] cmsbuild commented on #28732
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_8_patch1-slc7_amd64_gcc820/2282

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-01-13 13:31] silviodonato commented on #28732
upload all

[2020-01-13 13:32] cmsbuild commented on #28732
Queing Jenkins upload for slc7_amd64_gcc700

[2020-01-13 13:32] cmsbuild commented on #28732
Queing Jenkins upload for slc7_amd64_gcc820

[2020-01-13 13:33] cmsbuild commented on #28732
The upload has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1481/console

[2020-01-13 13:33] cmsbuild commented on #28732
The upload has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1482/console

[2020-01-13 13:34] cmsbuild commented on #28732
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_8_patch1-slc7_amd64_gcc700/1481

[2020-01-13 13:34] cmsbuild commented on #28732
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_8_patch1-slc7_amd64_gcc820/1482

[2020-01-13 13:38] silviodonato commented on #28732
release-notes

[2020-01-13 13:39] cmsbuild commented on #28732
Generating release notes since CMSSW_10_6_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-01-13 13:39] cmsbuild commented on #28732
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_8_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_8_patch1

Cheers,
cms-bot

You can also click <a href

[2020-01-13 13:40] cmsbuild commented on #28732
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_8_patch1

[2020-01-13 15:04] perrotta commented on #28571
+1
- #28590 is merged, and it fixes the issue pointed out here

[2020-01-13 15:10] perrotta commented on #27374
+1
- Fixed by #28043

[2020-01-13 15:10] #27374 closed

[2020-01-13 15:10] cmsbuild commented on #27374
This issue is fully signed and ready to be closed.

[2020-01-14 02:11] qliphy commented on #28636
@wouf   Would you please give more details about this issue?   What is embedding mode and why this was not used before? and do you have a recipe to reproduce the error?

[2020-01-14 08:45] wouf commented on #28636
@qliphy The embedding mode on generator level, is needed to mix heavy ion events: to do it we have to care about impact parameter and event plane angle - it have to be the same for both events. To mix two MinBias samples we have to generate the second one using the first as underlying. For HYDJET, on each event (before generating) we have to read underlying sample event like
https://github.com/cms

[2020-01-14 16:50] silviodonato opened #28737 "Build CMSSW_11_0_0_patch1"

[2020-01-14 16:50] cmsbuild commented on #28737
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2020-01-14 16:51] silviodonato commented on #28737
+1

[2020-01-14 16:51] cmsbuild commented on #28737
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start th

[2020-01-14 16:52] cmsbuild commented on #28737
The build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2283/console
CMSDIST Branch: [REL/CMSSW_11_0_0/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_0_0/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-14 17:14] cmsbuild commented on #28737
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2284/console
CMSDIST Branch: [REL/CMSSW_11_0_0/slc7_aarch64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_0_0/slc7_aarch64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-14 17:43] cmsbuild commented on #28737
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_patch1-slc7_amd64_gcc820/2283
Some t

[2020-01-14 18:22] cmsbuild commented on #28737
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_patch1-slc7_aarch64_gcc820/2284
So

[2020-01-14 19:43] cmsbuild commented on #28737
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_patch1-slc7_amd64_gcc820/2283

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-01-15 00:28] #28571 closed

[2020-01-15 05:36] cmsbuild commented on #28737
There was an error when running the tests for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_patch1-slc7_aarch64_gcc820/2285

Tests results:
grep: /build/cmsbld/jenkins_c/workspace/auto-builds/CMSSW_11_0_0_patch1-slc7_aarch64_gcc820/build/CMSSW_11_0_0_patch1-tests/matrixTests/runall-report-step123-.log: No such file or d

[2020-01-15 09:23] #28732 closed

[2020-01-15 09:58] qliphy commented on #28636
Thanks!  Can you point us to the input file?

[2020-01-15 12:04] wouf commented on #28636
@qliphy It may be any generated in HepMC format with hi section. I created it with:
cmsDriver.py Hydjet_Quenched_B12_5020GeV_cfi --conditions auto:phase1_2018_realistic --scenario HeavyIons -n 1 --era Run2_2018 --eventcontent RAWSIM --relval 2000,1 -s GEN,SIM --datatier GEN-SIM --beamspot Realistic25ns13TeVEarly2018Collision --geometry DB:Extended

[2020-01-15 15:22] cmsbuild commented on #28737
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_patch1-slc7_aarch64_gcc820/2286

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-01-15 15:31] silviodonato commented on #28737
upload all

[2020-01-15 15:31] cmsbuild commented on #28737
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-01-15 15:31] cmsbuild commented on #28737
Queing Jenkins upload for slc7_amd64_gcc820

[2020-01-15 15:33] cmsbuild commented on #28737
The upload has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1484/console

[2020-01-15 15:33] cmsbuild commented on #28737
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1483/console

[2020-01-15 15:34] cmsbuild commented on #28737
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_patch1-slc7_amd64_gcc820/1484

[2020-01-15 15:34] cmsbuild commented on #28737
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_patch1-slc7_aarch64_gcc820/1483

[2020-01-15 15:48] silviodonato commented on #28737
release-note

[2020-01-15 15:51] silviodonato commented on #28737
release-notes

[2020-01-15 15:51] cmsbuild commented on #28737
Generating release notes since CMSSW_11_0_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-01-15 15:51] cmsbuild commented on #28737
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_0_0_patch1 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820

The release notes of what changed with respect to CMSSW_11_0_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_patch1

Cheers,
cms-bot

You can also click <a hr

[2020-01-15 15:52] cmsbuild commented on #28737
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_patch1

[2020-01-15 22:20] makortel opened #28747 "Clean up FWCore/Utilities/interface/GCC11Compatibility.h"
Given that `master` uses C++17 with gcc and clang (and C++14 with nvcc), I'd expect us to not need `FWCore/Utilities/interface/GCC11Compatibility.h` anymore. We should double-check if that is the case, and remove the file if it indeed has become unnecessary.

[2020-01-15 22:21] makortel commented on #28747
assign core

[2020-01-15 22:21] cmsbuild commented on #28747
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-15 22:21] cmsbuild commented on #28747
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-15 22:23] makortel opened #28748 "Clean up __CINT__, __MAKECINT__, __REFLEX__, __GCCXML__ ifdefs"
We could double-check if all the `#ifndef`s of `__CINT__`, `__MAKECINT__`, `__REFLEX__`, `__GCCXML__` are still needed in data format headers (I'd assume no), and if not, clean them up.

[2020-01-15 22:23] cmsbuild commented on #28748
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-15 22:23] makortel commented on #28748
assign core

[2020-01-15 22:24] cmsbuild commented on #28748
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-16 17:54] #19003 closed

[2020-01-16 17:55] #28737 closed

[2020-01-20 09:53] qliphy commented on #28636
Thanks @wouf   I tried to reproduce your error:

After producing an input file, and then proceed to mix the events, I got
(1)  cmsRun Hydjet_Quenched_MinBias_5020GeV_cfi_GEN_SIM_PU.py
----- Begin Fatal Exception 20-Jan-2020 09:08:41 CET-----------------------
An exception of category 'Configuration' occurred while
   [0] Constructing the EventProcessor
   [1] Constructing module: class=HydjetGener

[2020-01-20 16:32] silviodonato opened #28765 "Python3 incompatibility: ConfigParser"
The PR #28739 revealed the existence of incompatibilities with Python3 in CMSSW due to "import ConfigParser".
In Python3 "ConfigParser" has been renamed to "configparser". The minimal fix is to replace "import ConfigParser" with "import configparser as ConfigParser" (that is compatible also to Python2.7).

From LXR, we see that "import ConfigParser" appears in:

Alignment/APEEstimation/test/autoSu

[2020-01-20 16:33] cmsbuild commented on #28765
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-20 16:33] wouf commented on #28636
I added one to  #28764

[2020-01-21 07:09] qliphy commented on #28636
Thanks @wouf
However, when I tried as below, it doesn't compile:

cmsrel CMSSW_11_1_0_pre1
git cms-addpkg GeneratorInterface/HydjetInterface
git cms-merge-topic wouf:from-CMSSW_11_0_0_pre7

/tmp/qili/XXX/CMSSW_11_1_0_pre1/src/GeneratorInterface/HydjetInterface/src/HydjetHadronizer.cc: In constructor 'gen::HydjetHadronizer::HydjetHadronizer(const edm::ParameterSet&)':
/tmp/qili/XXX/CMSSW_11_1_0_pre

[2020-01-21 08:06] wouf commented on #28636
@qliphy I'm sorry, I committed wrong project. Now fixed.

[2020-01-21 08:20] qliphy commented on #28636
Thanks, now I get other error messages as below:

/cvmfs/cms.cern.ch/slc7_amd64_gcc820/external/gcc/8.2.0-pafccj/bin/../lib/gcc/x86_64-unknown-linux-gnu/8.3.1/../../../../x86_64-unknown-linux-gnu/bin/ld: tmp/slc7_amd64_gcc820/src/GeneratorInterface/HydjetInterface/src/GeneratorInterfaceHydjetInterface/HydjetHadronizer.cc.o: in function `gen::HydjetHadronizer::add_heavy_ion_rec(HepMC::GenEvent*)':

[2020-01-21 08:22] wouf commented on #28636
Are You tested it with external [hydjet](https://github.com/cms-sw/cmsdist/pull/5412)?

[2020-01-21 09:11] wouf commented on #28636
The version below 1.9.1 does not support "embedding mode"

[2020-01-21 10:59] ianna opened #28768 "[DD4hep] DDSolid needs a solidB()"
* GEM geometry builder requires both left and right solid to calculate chamber thickness.

@slomeo - FYI

[2020-01-21 10:59] cmsbuild commented on #28768
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-21 13:43] ianna commented on #28768
assign ianna

[2020-01-21 13:43] ianna commented on #28768
assign @ianna

[2020-01-21 13:45] ianna commented on #28768
assign geometry

[2020-01-21 13:45] cmsbuild commented on #28768
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-21 14:17] ianna commented on #28768
a solution provided in https://github.com/cms-sw/cmssw/pull/28771

[2020-01-21 15:45] kpedro88 commented on #28598
+upgrade

[2020-01-21 15:46] kpedro88 commented on #28566
+upgrade

[2020-01-21 15:46] cmsbuild commented on #28566
This issue is fully signed and ready to be closed.

[2020-01-21 15:50] kpedro88 commented on #28565
@dildick was this addressed?

[2020-01-21 15:51] kpedro88 commented on #25709
@rekovic please sign

[2020-01-21 15:54] kpedro88 opened #28772 "Memory problem in HGCalCLUEAlgoT"
The address sanitizer build (CMSSW_11_1_ASAN_X_2020-01-17-2300) reports an issue for workflows 21234.0 and 22434.0:

[code]

attn: @rovere @mariadalfonso

[2020-01-21 15:54] kpedro88 commented on #28772
assign upgrade,reconstruction

[2020-01-21 15:54] cmsbuild commented on #28772
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-21 15:54] cmsbuild commented on #28772
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-21 17:25] dildick commented on #28565
I believe it was. But I would like to be sure. @Dr15Jones Can you provide a recipe to rerun that particular test on the current master branch? Thanks.

[2020-01-21 17:43] #28566 closed

[2020-01-21 19:02] Dr15Jones commented on #28565
One just has to look at the most recent AddressSanitizer report for `workflow 20634.21 for step 2`

[2020-01-22 08:46] silviodonato opened #28776 "Build CMSSW_11_1_0_pre2"

[2020-01-22 08:46] cmsbuild commented on #28776
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2020-01-22 08:50] silviodonato commented on #28776
+1

[2020-01-22 08:50] cmsbuild commented on #28776
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-01-22 08:50] cmsbuild commented on #28776
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each

[2020-01-22 08:51] cmsbuild commented on #28776
The build has started for cc8_amd64_gcc8 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2287/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-01-22 08:51] cmsbuild commented on #28776
The build has started for slc7_amd64_gcc820 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2288/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-22 08:51] cmsbuild commented on #28776
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2289/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-22 08:53] cmsbuild commented on #28776
The build has started for slc7_amd64_gcc900 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2290/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-22 12:24] cmsbuild commented on #28776
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-slc7_amd64_gcc900/2290

[2020-01-22 12:44] slava77 commented on #28772
@kpedro88 @smuzaffar
is there a reasonable way to make code line numbers available in these reports automatically?
IIUC, currently someone needs to rebuild the affected packages locally in the ASAN IB with -g and redo the tests.

[2020-01-22 13:01] smuzaffar commented on #28776
@silviodonato , gcc9 and aarch64 release jobs will fail due to cuda issues. https://github.com/cms-sw/cmsdist/pull/5482 should fix this issue. Do you want to integrate https://github.com/cms-sw/cmsdist/pull/5482 and re-start the pre2 release build?

[2020-01-22 13:12] cmsbuild commented on #28776
The was an error for slc7_aarch64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-slc7_aarch64_gcc820/2289

[2020-01-22 13:28] smuzaffar commented on #28776
@silviodonato , cms-sw/cmsdist#5482 is now merged. I also have merged https://github.com/cms-sw/cmsdist/pull/5479 which is orthogonal to cmssw (it just contains typos fix for crab client).

I am starting a special 14h IB for CMSSW_11_1_X to make sure every thing looks good after the integration of cmsdist PRs

[2020-01-22 13:31] silviodonato commented on #28776
perfect, thanks!

[2020-01-22 14:10] #28776 closed

[2020-01-22 14:11] silviodonato commented on #28776
Abort

[2020-01-22 14:12] cmsbuild commented on #28776
Deleting CMSSW_11_1_0_pre2:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_pre2 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre2/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre2/slc7_aarch64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre2/slc7_

[2020-01-22 19:58] silviodonato opened #28778 "Build CMSSW_11_1_0_pre2"

[2020-01-22 20:00] cmsbuild commented on #28778
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2020-01-22 20:01] silviodonato commented on #28778
+1

[2020-01-22 20:01] cmsbuild commented on #28778
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-01-22 20:01] cmsbuild commented on #28778
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each

[2020-01-22 20:04] cmsbuild commented on #28778
The build has started for cc8_amd64_gcc8 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2291/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-01-22 20:04] cmsbuild commented on #28778
The build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2292/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-22 20:29] cmsbuild commented on #28778
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2293/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-22 20:39] cmsbuild commented on #28778
The build has started for slc7_amd64_gcc900 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2294/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-01-22 22:59] cmsbuild commented on #28778
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-cc8_amd64_gcc8/2291
Some tests ( r

[2020-01-22 23:31] cmsbuild commented on #28778
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-slc7_amd64_gcc900/2294
Some tes

[2020-01-22 23:57] cmsbuild commented on #28778
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-slc7_amd64_gcc820/2292
Some tes

[2020-01-23 00:50] cmsbuild commented on #28778
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-cc8_amd64_gcc8/2291

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-01-23 01:19] cmsbuild commented on #28778
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-slc7_amd64_gcc900/2294

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-01-23 01:46] cmsbuild commented on #28778
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-slc7_amd64_gcc820/2292

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-01-23 03:14] cmsbuild commented on #28778
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-slc7_aarch64_gcc820/2293
Some

[2020-01-23 07:53] wouf commented on #28636
@qliphy were you able to reproduce the issue?

[2020-01-23 11:58] qliphy commented on #28636
Not yet, Still trying.

[2020-01-23 12:30] wouf commented on #28636
@qliphy I can provide my sequence for local testing if You need

[2020-01-23 12:49] qliphy commented on #28636
@wouf that would be useful indeed.

[2020-01-23 14:36] davidlange6 opened #28780 "large start-of-job memory spikes"
Hi
running a random reco workflow - I notice there is a (new to me) spike

<img width="661" alt="image" src="https://user-images.githubusercontent.com/5042883/72993375-91c35180-3df5-11ea-851f-c051ffae19fe.png">

ignore the two lines - the test I was doing was unrelated..

anyway, I also randomly caught this in igprof - is there some way to limit the memory this xml unpacking can take? I presume th

[2020-01-23 14:36] cmsbuild commented on #28780
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-23 14:40] smuzaffar opened #28781 "Geant4 with 10.6 random crashes"
@ civanch,  In Geant4 IBs (where we have new geant v10.6.0) we are getting random crashes. The error we get is
[code]
and objdump of pluginSimulation.so shows that at `+0xd2d7f7` we are in `G4iosFinalization()` function.

[code]

running it under gdb shows that  `G4iosFinalization()`  is called multiple times at the end of the job

[code]

running the same job (step1 of workflow 7.22) in normal IB

[2020-01-23 14:40] smuzaffar commented on #28781
assign simulation

[2020-01-23 14:40] cmsbuild commented on #28781
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-23 14:40] cmsbuild commented on #28781
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-23 15:23] slava77 commented on #28780
@davidlange6
was the memory profile for a single thread job, some production-like reco?
I'm trying to understand if this jump at the start above the baseline is a concern for production.

See
https://github.com/cms-sw/cmssw/pull/24432#issuecomment-425705984
for CPU and memory related notes on the tinyxml2 parts. The additional allocations needed inside tinyxml2 compared to the TMVAReader were obse

[2020-01-23 15:37] davidlange6 commented on #28780
Single thread job, yes.
Step3 of 136.888. I let you decide how reco like it was..

I recall some production jobs reported as being killed for similar behavior. Perhaps this is a reason behind. But I don’t have any specific threads to point to just now. [but ok, the issue is perhaps more storing data intensive info in xml:)]

On Jan 23, 2020, at 4:23 PM, Slava Krutelyov <notifications@github.com<ma

[2020-01-23 15:39] cmsbuild commented on #28778
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2-slc7_aarch64_gcc820/2293

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-01-23 15:41] makortel commented on #28780
assign reconstruction, analysis

[2020-01-23 15:42] cmsbuild commented on #28780
New categories assigned: analysis,reconstruction

@slava77,@santocch,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-23 15:42] makortel commented on #28780
@davidlange6 Is the y-axis of your plot RSS in the units of bytes?

[2020-01-23 15:50] davidlange6 commented on #28780
Yes. (As reported by /proc/<pid>/status on one second intervals)

On Jan 23, 2020, at 4:42 PM, Matti Kortelainen <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> Is the y-axis of your plot RSS in the units of bytes?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com

[2020-01-23 15:54] Dr15Jones commented on #28781
@makortel This looks like an issue with cleaning up the workers. It looks like the main thread cleans up a worker and then is called again and library unload time.

[2020-01-23 16:00] makortel commented on #28780
@Dr15Jones and I took a look based on the IgProf stack trace. The `lowptgsfeleseed::HeavyObjectCache` is used as a `GlobalCache` here
https://github.com/cms-sw/cmssw/blob/1ddd87ea1129455d5a8773cc4ecd7bb2af35cc81/RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSeedProducer.h#L28-L29
Its constructor uses `createGBRForest()` to read the models
https://github.com/cms-sw/cmssw/blob/1ddd87ea1

[2020-01-23 16:40] slava77 commented on #28780
@guitargeek
in case you are interested/available, please take a look.
Thank you.

[2020-01-23 16:40] srimanob commented on #28585
Example of cmsDriver,
cmsDriver.py myNanoProdMc2016 -s NANO --mc --eventcontent NANOAODSIM --datatier NANOAODSIM --no_exec --conditions 102X_mcRun2_asymptotic_v7 --era  Run2_2016,run2_nanoAOD_94X2016 --customise_commands="process.add_(cms.Service('InitRootHandlers', EnableIMT = cms.untracked.bool(False)))\nfrom PhysicsTools.NanoAOD.custom_jme_cff import PrepJMECustomNanoAOD; PrepJMECustomNanoAOD(p

[2020-01-23 16:45] slava77 commented on #28780
So, this then is independent of the number of threads.
On the normal 8-thread job and some 10GB per-job allocation, I would expect that this bump of 2.XGB is not a likely reason for trouble.
Still, almost 3GB bump in memory use seems excessive.

[2020-01-23 16:47] slava77 commented on #28780
@mverzett
please take a note, especially if some future updates may need a more complicated training.

[2020-01-23 16:51] bendavid commented on #28780
Can't this be solved just be pre-running the conversion to GBRForest and reading the root file/conditions object instead of the xml file?

[2020-01-23 16:52] guitargeek commented on #28780
I don't think improving the XML parsing is worth it, because this XML is already a workaround itself.

All these new egamma MVAs are trained with xgboost, can save the model as a text file. Then, we manually converted these text files into the TMVA XML format because that's what cmssw could deal with.

I think the simpler solution here would be to either just serialize the GBRForests to ROOT files

[2020-01-23 17:50] silviodonato commented on #28778
upload all

[2020-01-23 17:50] cmsbuild commented on #28778
Queing Jenkins upload for cc8_amd64_gcc8

[2020-01-23 17:50] cmsbuild commented on #28778
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-01-23 17:50] cmsbuild commented on #28778
Queing Jenkins upload for slc7_amd64_gcc820

[2020-01-23 17:50] cmsbuild commented on #28778
Queing Jenkins upload for slc7_amd64_gcc900

[2020-01-23 17:51] cmsbuild commented on #28778
The upload has started for cc8_amd64_gcc8 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1485/console

[2020-01-23 17:52] cmsbuild commented on #28778
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre2-cc8_amd64_gcc8/1485

[2020-01-23 17:52] cmsbuild commented on #28778
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1486/console

[2020-01-23 17:53] cmsbuild commented on #28778
The upload has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1487/console

[2020-01-23 17:53] cmsbuild commented on #28778
The upload has started for slc7_amd64_gcc900 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1488/console

[2020-01-23 17:54] cmsbuild commented on #28778
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre2-slc7_aarch64_gcc820/1486

[2020-01-23 17:54] cmsbuild commented on #28778
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre2-slc7_amd64_gcc900/1488

[2020-01-23 17:55] cmsbuild commented on #28778
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre2-slc7_amd64_gcc820/1487

[2020-01-23 18:19] slava77 commented on #28780
I like this proposal/option.
Perhaps the DB/conditions is a better option.

[2020-01-23 19:57] wouf commented on #28636
@qliphy sorry for the late replay

**On lxplus7 (in the test folder) please do:**
export SCRAM_ARCH=slc7_amd64_gcc700
source /cvmfs/sft.cern.ch/lcg/contrib/gcc/7.2.0/x86_64-centos7-gcc7-opt/setup.sh

**Then run the script:**
git clone https://github.com/wouf/scripts.git
sh scripts/TestHydjet.sh

**Then get hydjet 1.9.1 interface:**
scram project CMSSW CMSSW_11_0_0_pre7
cd CMSSW_11_0_0_pre7/src
cms

[2020-01-23 22:10] silviodonato commented on #28778
release-notes

[2020-01-23 22:10] cmsbuild commented on #28778
Generating release notes since CMSSW_11_1_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-01-23 22:10] cmsbuild commented on #28778
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre2 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre2

Cheers,
cms-

[2020-01-23 22:11] cmsbuild commented on #28778
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre2

[2020-01-24 09:23] civanch commented on #28781
@smuzaffar , thank you this analysis. It seems to be G4 problem, at least, it looks like destruction of G4 TLS objects. This problem is not in our regular IB but not also in current Geant4 master testing.

[2020-01-24 12:06] srimanob commented on #28585
I am trying to implement JME Nano to relvals, but I found this issue (*). Any idea what is missing?

The MiniAOD root file and python file can be found in
/afs/cern.ch/user/s/srimanob/public/ForJetMET/NanoJME
(Please ignore part of EDM, it will be flat ntuple when merging happens in central production)
You can check out 11_1_0_pre2, and then run w/o checking anything.
2 pythons are in that directo

[2020-01-24 13:18] smorovic opened #28786 "Provenance issue with DAQ input source (11_1_0_pre2)"
In CMSSW_11_1_0_pre2 DAQ source (FedRawDataInputSource) throws exception due to issue with provenance BranchID

----- Begin Fatal Exception 24-Jan-2020 14:15:33 CET-----------------------
An exception of category 'LogicError' occurred while
   [0] Calling InputSource::readEvent_
Exception Message:
ProductProvenanceRetriever::insertIntoSet passed a BranchID 1017257328 that has not been pre-register

[2020-01-24 13:18] cmsbuild commented on #28786
A new Issue was created by  @smorovic Srecko Morovic.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-24 14:20] Dr15Jones commented on #28786
assign core

[2020-01-24 14:21] cmsbuild commented on #28786
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-24 15:32] makortel commented on #28781
By quick look (`git diff origin/cms/v10.4.3 origin/cms/v10.6.0 source/global/management/include/G4ios.hh source/global/management/src/G4ios.cc` in https://github.com/cms-externals/geant4) it seems that before the `G4iosFinalization()` could be called multiple times
[code]
https://github.com/cms-externals/geant4/blob/922600305b80a2b23e97abd352b68508cf419540/source/global/management/src/G4ios.cc#L58

[2020-01-24 18:41] dildick commented on #28565
I ran WF `20634.21` in CMSSW_11_1_ASAN_X_2020-01-17-2300. There are indeed memory problems in this build. The modification I had to make to get rid of the memory problem has been implemented in https://github.com/cms-sw/cmssw/pull/28605 (which has been merged). I can run the AddressSanitizer again next week on a new ASAN build if need be. But in the mean time you can close this issue, and issue #2

[2020-01-24 18:42] dildick commented on #16121
@kpedro88 Can you please close this issue? Thanks.

[2020-01-24 19:42] kpedro88 commented on #16121
needs to be signed by core L2s: @makortel @smuzaffar

[2020-01-24 19:48] makortel commented on #16121
+1

[2020-01-24 19:48] makortel commented on #16121
(but is @Dr15Jones still needed to close it?)

[2020-01-24 19:50] cmsbuild commented on #16121
This issue is fully signed and ready to be closed.

[2020-01-24 21:56] #16121 closed

[2020-01-24 22:12] wddgit commented on #28786
PR #28791 should fix this. If you notice addition problems, please let me know.

[2020-01-24 22:20] makortel commented on #28786
@smorovic Would it be feasible to have tests for `FedRawDataInputSource` in CMSSW? Those would help us catching such problems earlier.

[2020-01-25 13:17] civanch commented on #28781
It seems, that the issue is understood: in Geant4 10.4 and before there was no proper deletion of UI objects at Geant4 exit. In 10.6 Geant4 was improved and we should not delete UIsesion object in CMSSW.

[2020-01-25 21:24] cmsbuild commented on #28778
The cleanup has started for slc7_aarch64_gcc820

[2020-01-25 21:24] cmsbuild commented on #28778
The cleanup has started for cc8_amd64_gcc8

[2020-01-25 21:24] cmsbuild commented on #28778
The cleanup has started for slc7_amd64_gcc820

[2020-01-25 21:24] cmsbuild commented on #28778
The cleanup has started for slc7_amd64_gcc900

[2020-01-25 21:24] #28778 closed

[2020-01-25 21:24] cmsbuild commented on #28778
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre2-cc8_amd64_gcc8/1523

[2020-01-25 21:24] cmsbuild commented on #28778
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre2-slc7_aarch64_gcc820/1524

[2020-01-25 21:24] cmsbuild commented on #28778
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre2-slc7_amd64_gcc820/1525

[2020-01-25 21:25] cmsbuild commented on #28778
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre2-slc7_amd64_gcc900/1526

[2020-01-26 15:19] smorovic commented on #28786
I confirm that #28791 fixes the problem.

@makortel I already tried to add RunBUFU.sh as unit test. However this only worked fine in my environment, and it failed with cmsbuild. Since it relies on uses file locking (which I suspect can work or not depending on the filesystem), I will try to implement a similar test that uses a non-file-locking mode of this input source.

[2020-01-27 08:18] qliphy commented on #28636
@wouf   I confirmed I can reproduce the error.

In Hydjet_Quenched_MinBias_5020GeV_cfi_GEN_SIM_PU.py, there is
          # filter all path with the production filter sequence
          for path in process.paths:
                 **getattr(process,path).insert(0, process.generator)**
where process.generator runs first:
          process.generator = cms.EDFilter("HydjetGeneratorFilter",  ....

The r

[2020-01-27 14:00] Dr15Jones commented on #28636
@makortel FYI

[2020-01-27 14:37] makortel commented on #28786
Thanks @smorovic for confirming https://github.com/cms-sw/cmssw/pull/28791 fixing the problem, and adding a test!

[2020-01-27 16:10] smuzaffar opened #28800 "CLANG 9 build errors"
With LLVM 9.0.1 we get a lot of build errors. [a] can be fixe easily in cmssw but for [b] I would suggest to add `-Wno-tautological-type-limit-compare` flag in llvm-cxxcompiler tool file.

[a]
[code]
[b]
[code]

[2020-01-27 16:11] cmsbuild commented on #28800
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-27 16:13] makortel commented on #28636
I'm pretty sure I'm missing something so please correct me

* The relevant module is `HydjetGeneratorFilter` defined here https://github.com/cms-sw/cmssw/blob/65737ecec01004de63902079df9890bb02f10083/GeneratorInterface/HydjetInterface/interface/HydjetGeneratorFilter.h#L9
* The `edm::GeneratorFilter<...>` calls the `setEDMEvent()` here https://github.com/cms-sw/cmssw/blob/65737ecec01004de63902079df

[2020-01-27 16:18] makortel commented on #28800
assign core

[2020-01-27 16:19] cmsbuild commented on #28800
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-27 16:20] makortel commented on #28800
@smuzaffar Can those be turned to warnings instead of errors? (just thinking out loud options) Some of these look like possible logic errors or flaws.

On the other hand, we probably can't do much for `boost/iostreams/seek.hpp`... (and lot's of noise doesn't help either)

[2020-01-27 16:43] nurfikri89 commented on #28585
Hi @srimanob! Apologies for the silence. I will take a look at this.

[2020-01-27 18:58] makortel commented on #28800
Ok. I tend to agree that at least as a first step towards clang 9 the `-Wno-tautological-type-limit-compare` makes sense. We can then in parallel or later figure out if we want to enable this warning.

[2020-01-27 22:34] srimanob opened #28803 "Crash in RivetInterface (NanoAOD) when only 1 incident parton is found"
Following the recent report on infinite loop in RECOSIM which bug-fix PR is placed in https://github.com/cms-sw/cmssw/pull/28802

Another issue is found in NanoAOD step when local test is done. It seems that in the event mentioned, example at the end (*), somehow parton1 is matched, while parton2 is NULL. This leads to a crash in
https://github.com/cms-sw/cmssw/blob/568c52a6ce12d5bbe3608f58be8f9d6

[2020-01-27 22:34] cmsbuild commented on #28803
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-27 22:41] Dr15Jones commented on #28803
assign generator

[2020-01-28 07:52] wouf commented on #28636
@makortel I think getEDMEvent() and setEDMEvent() works as expected (for filter after each event). So by constructed getEDMEvent() should return current generated event.
**But**: we think if it is possible to use it before generating (for each event) to read underlying one.
The propose is to read each event from input sample from mixing module, before generating each event. I think using setEDMEve

[2020-01-28 13:54] smorovic commented on #28786
Fix and unt test are merged, so closing this, thanks!

[2020-01-28 13:54] #28786 closed

[2020-01-28 15:03] slava77 commented on #28772
@rovere @mariadalfonso
please clarify on the current status of resolving this issue.
Thank you.

[2020-01-28 15:34] makortel commented on #28636
I'm still confused. Do I understand correctly that
* `MixingModule` (`process.mix`) is used to mix `edm::HepMCProduct` from two (streams of) events
* `HydjetGeneratorFilter` (`process.generator`) needs the `edm::HepMCProduct` from both "original events" to do its work?

?

If this is the case, then the sequence should have `process.mix` before `process.generator` (*). The `HydjetGeneratorFilter` s

[2020-01-28 16:16] wouf commented on #28636
@makortel the two streams (event by event) needed by mixing module:

- underlying input event from sample delivered via **process.mix.input.fileNames**

- just generated event (with the same event geometry like in corresponding underlying one)

We can't set **process.mix** before **process.generator**: we have to generate something before mix it. We just want to get access to the sample from **pro

[2020-01-28 16:23] smuzaffar opened #28812 "Boost Serialization unit test failing in 10.2.X"
@ggovi , We have one unit test failing in 10.2.X IBs [a] . Unit test is trying to read data of 10.6.X which has boost version 1.67. If this is not supported then can we fix the test to ignore such failures?

[a]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc6_amd64_gcc700/CMSSW_10_2_X_2020-01-28-1100/unitTestLogs/CondTools/Ecal#/63509
[code]

[2020-01-28 16:23] cmsbuild commented on #28812
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-28 16:54] makortel commented on #28812
assign db

[2020-01-28 16:54] makortel commented on #28803
assign generators

[2020-01-28 16:54] cmsbuild commented on #28812
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-28 16:54] cmsbuild commented on #28803
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-28 17:30] makortel commented on #28636
@wouf Thanks for the clarifications. If `process.generator` needs the "underlying input event", is the `process.mix` itself needed? I.e. is something else then using the `CrossingFrame<edm::HepMCProduct>`?

[2020-01-28 17:59] qliphy commented on #28803
adding @intrepid42 @xjanssen

[2020-01-28 19:18] wouf commented on #28636
@makortel mixing module needed to mix events. Generator does not mix its itself. By using underlying sample (from **process.mix.input.fileNames**) it just synchronize two HI specific input parameters (impact parameter and event plain angle) for each mixed pair.

[2020-01-28 19:36] makortel commented on #28636
The thing is that the `MixingModule` can not give access to the events from `process.mix.input.fileNames` outside `MixingModule`. So one option that came to my mind would be to run the generator within the `MixingModule`.

Another option would be to `MixingModule` to mix empty signal with the underlying sample, then `HydjetGeneratorFilter` to read that and produce another `CrossingFrame<edm::HepMC

[2020-01-28 20:22] wouf commented on #28636
@makortel Also I'm able to deliver sample name using **InputMixSource = process.mix.input.fileNames** to the GeneratorFilter, but not sure how to create PoolSource.

Yes one underlying event for each generated (with the same event number). The impact parameter and event plane angle, changed respectively corresponding (with the same ordinal number) underlying event.
Do we able to use **PoolSource**

[2020-01-28 20:51] makortel commented on #28636
To me the `PoolSource` approach sounds the simplest solution (unless I miss some conflicting detail in the procedure). The job reads the underlying event data as a regular input, the generator reads what it needs from the input, and produces what it produces after that. `MixingModule` would not be needed. Assuming it is still simplest to keep the downstream to consume `CrossingFrame<edm::HepMCProd

[2020-01-28 21:16] wouf commented on #28636
@makortel we need `MixingModule` to mixing. We want to avoid saving generated sample and then mixing it with underlying one. We want to generate and mix it "on fly". In case we will use `PoolSource`, the access to the underlying .root file would be blocked for `MixingModule`. Мoreover all workflows with `--pileup HiMixGEN --pileup_input` assuming that `--pileup_input ` will be transmitted to `proc

[2020-01-28 22:50] makortel commented on #28636
If the `MixingModule` is really needed (I must admit I haven't fully understood the logic of the mixing of `edm::HepMCProduct`) the only options I can think of are
* run the generator within the `MixingModule`
   * even this approach would require some special treatment inside `MixingModule` because the order would be different ("look pileup, generate signal, add pileup" vs. "add signal, add pileu

[2020-01-29 08:03] rovere commented on #28772
Last time I talked to @mariadalfonso  she said she would have looked into this.

[2020-01-29 08:23] wouf commented on #28636
@makortel It looks like Your way would break workflow order and may be to slow for generating.

1. The first my idea was to use [setEDMEvent](https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/Core/interface/BaseHadronizer.h#L68) from the place where the stream opened. When we run the workflow above, it's clearly seen that stream opened just after generator constructor (before generati

[2020-01-29 08:42] intrepid42 commented on #28803
Hi Phat, these LHE files are very special, see the first event below.

Do you have a log file where we can see which event number fails?

Maybe it's enough to make change this `and` -> `or`?
https://github.com/cms-sw/cmssw/blob/568c52a6ce12d5bbe3608f58be8f9d66fb02c489/GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConverter.cc#L141

[code]

[2020-01-29 12:58] ggovi commented on #28812
@smuzaffar
Not sure how to proceed here. The test is fetching the last payload available, that in the present case has been recently stored during the MWGR with 10_6_0. That means, in 10_2 we will be never able to execute it properly. Shall we maybe disable the test?

[2020-01-29 13:15] davidlange6 commented on #28812
Sounds like the test should be changed as to be fully reproducible (Use a fixed payload)

On 29 Jan 2020, at 13:59, ggovi <notifications@github.com> wrote:

﻿

@smuzaffar<https://github.com/smuzaffar>
Not sure how to proceed here. The test is fetching the last payload available, that in the present case has been recently stored during the MWGR with 10_6_0. That means, in 10_2 we will be never able

[2020-01-29 13:19] ggovi commented on #28812
@davidlange6
ok i'll work along this line...

[2020-01-29 16:41] silviodonato commented on #28765
#28822

[2020-01-29 20:34] makortel commented on #28636
The problem with this approach is that it is not possible to call `setEDMEvent` "from the place the file is opened". The file is opened by `MixingModule`, and the `setEDMEvent` is called within `HydjetGeneratorFilter`. These two modules should not communicate except via `edm::Event` (or `edm::LuminosityBlock` or `edm::Run`), and should have a strict consumer-producer relationship (within one trans

[2020-01-30 11:20] fabiocos commented on #28812
@smuzaffar @ggovi this failure is there since a while, and we had already discussed it, as this is "known and understood" I did not worry much about it, also accounting for the fact that 10_2_X is basically frozen as far as DB developments are concerned. Anyway if we want to have a clean situation I believe that @davidlange6 suggestion is the way to go.

[2020-01-30 11:31] davidlange6 commented on #28812
On Jan 30, 2020, at 12:20 PM, Fabio Cossutti <notifications@github.com<mailto:notifications@github.com>> wrote:

@smuzaffar<https://github.com/smuzaffar> @ggovi<https://github.com/ggovi> this failure is there since a while, and we had already discussed it, as this is "known and understood" I did not worry much about it, also accounting for the fact that 10_2_X is basically frozen as far as DB deve

[2020-01-30 11:32] wouf commented on #28636
@makortel In my 2.1 I speak about to move calling of `EmbeddedRootSource` outside of `MixingModule` and to teaching cmsDriver/ConfigBuilder to call it before generator. Then just to share each event via edm::Event for generator and mixing module both. But I'm not sure if it is possible for `SecSource`. In that case we would need to make changes in `MixingModule` as well.

 As far as I understand Y

[2020-01-30 13:38] ggovi commented on #28812
@davidlange6
I need to check with the Ecal experts, since in these tests we are currently reading from the OMDS production, involving a content that - even in the case of a frozen input payload - will be evolving with time ( storing online data ).

[2020-01-30 14:49] srimanob commented on #28803
@intrepid42
Sorry for late reply, I am travelling. I will send the log to you soon.
My test crash in the first event (but it's event 5 of LHE).

My original questions is when the module try to guess what is the parton, does it work correctly to find the first one.

Thx.

[2020-01-30 16:44] silviodonato opened #28830 "ConfigParser and Python3 in Alignment/OfflineValidation"
@mmusich  @christopheralanwest  @franzoni  @tlampen  @pohsun  @tocheng

The PR #28739 added a unit test crashing in Python3 because of `import ConfigParser` in Alignment/OfflineValidation/python/TkAlAllInOneTool/betterConfigParser.py.
In Python3 "ConfigParser" has been renamed to "configparser". The minimal fix is to replace `import ConfigParser` with `import configparser as ConfigParser` (that is

[2020-01-30 16:45] cmsbuild commented on #28830
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-30 16:51] makortel commented on #28830
assign alca

[2020-01-30 16:51] cmsbuild commented on #28830
New categories assigned: alca

@christopheralanwest,@franzoni,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-30 16:52] mmusich commented on #28830
adding @connorpa @vbotta FYI.
There are active moves towards ditching this tool all together (see: https://indico.cern.ch/event/879465/?showDate=all&showSession=0#51-validation-framework )
I am not sure if we want to waste time on this....

[2020-01-30 17:30] makortel commented on #28636
`EmbeddedRootSource` will not be moved outside of `MixingModule` because every other use of `MixingModule` needs it.

Indeed that is not possible. The `SecSource` is an implementation detail of `MixingModule` that does not get exposed outside of it. Also the "full event" from `SecSource` can not be stored in the "main" `edm::Event`, but (pointers to) individual products of the `SecSource` events c

[2020-01-30 20:13] wouf commented on #28636
@makortel Thanks for explanation!

So, if I understand Your correctly, we have 2 ways:

1. To create new module "mixing" in absence of `EmbeddedRootSource`. The sequence would be `EmbeddedRootSource -> generator -> NewMixingModule` (cmsDriver/ConfigBuilder must be trained). The question is how  the "underlying events" can go through this chain. The cmsDriver command would be something like ` --pil

[2020-01-30 22:26] makortel commented on #28636
That would really be `MixingModule -> generator -> NewMixingModule` where `MixingModule` contains the `EmbeddedRootSource`.

They would go in the pileup part of `CrossingFrame<edm::HepMCProduct>`.

The `HiMixEmbGEN_cff.py` would have to contain the definition for `MixingModule` in this "empty signal event mixing" case.

If `NewMixingModule` is a framework module, it would be called by the framewor

[2020-01-31 11:11] srimanob commented on #28585
Can the error be duplicated?
Do you need any more information?

@ahinzmann @lathomas

[2020-01-31 11:13] mariadalfonso commented on #28772
@slava77
we suspect some parameter here get out of range
https://github.com/mariadalfonso/cmssw/blob/5d29327b7921b3166143df7d9034897612fa55f3/RecoLocalCalo/HGCalRecProducers/interface/HFNoseTilesConstants.h

@kpedro88
Can you send the full log, so that we check what is the call that cause this ?
it's hard for me to reproduce the problem (putting cout here and there on a 1k events didn't help), can

[2020-01-31 11:18] nurfikri89 commented on #28585
@nurfikri89 I was able to duplicate the error and I am in the process of looking into it. My suspicion is that I have not been very careful with the era modifiers (particularly related to 2016 MC and data production) in the custom_nano_jme.py. Apologies for being slow on this!

[2020-01-31 11:22] peruzzim commented on #28585
@nurfikri89 please check the latest version of jets_cff, we have added era modifiers `run2_jme_2016` and `run2_jme_2017` to be able to separate things linked to 2016/2017 as data taking years (e.g. ID versions) from things that need rerunning only on 2016 80X old MiniAOD samples (`run2_miniAOD_80XLegacy`)

[2020-01-31 11:27] nurfikri89 commented on #28585
@peruzzim thanks for the pointers. I will check it out. Out of curiosity, is there a 2018 modifier? There would be some IDs (like pileup jet ID) with different training/configurations for 2018 also.

[2020-01-31 12:06] peruzzim commented on #28585
please set the 2018 ones as default and customise for the other years

[2020-01-31 13:20] silviodonato opened #28837 "[PY3] Unit test CondCore/SiStripPlugins"
@mmusich @ggovi
A unit test of CondCore/SiStripPlugins is crashing in Python3 since CMSSW_11_1_PY3_X_2020-01-28-2300 because of #28761 .

[code]

The problems is related to `boost::python` used in the
`CondCore/SiStripPlugins/test/testSiStripPayloadInspector.cpp`

I tried to remove boost::python (see #28836) and the test is ok also in python3.
The problem arises from the method `PlotBase::setInput

[2020-01-31 13:20] cmsbuild commented on #28837
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-31 13:21] silviodonato commented on #28837
assign db

[2020-01-31 13:21] cmsbuild commented on #28837
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-31 13:21] silviodonato commented on #28837
assign core

[2020-01-31 13:21] cmsbuild commented on #28837
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-31 14:06] mmusich commented on #28830
@silviodonato
I started from your branch (which didn't work) and come up with https://github.com/cms-sw/cmssw/pull/28838.
Please have a look.

[2020-01-31 15:08] DrDaveD commented on #28499
This issue can be closed.

[2020-01-31 15:33] kpedro88 commented on #28772
@mariadalfonso to get the ASAN logs, go to:
https://cmssdt.cern.ch/SDT/html/showIB.html#CMSSW_11_1_ASAN_X
and click on the red box under "RelVals" in the table.

The workflow numbers are noted in the issue description, so you can generate the commands using runTheMatrix.py as usual.

[2020-01-31 16:28] silviodonato opened #28841 "Random error in CommonTools/RecoAlgos unit test"
We have a random error in the unit test of CommonTools/RecoAlgos due to https://github.com/cms-sw/cmssw/blob/master/CommonTools/RecoAlgos/test/FKDTree_t.cpp#L50.
Running 100 times FKDTree_t I got
- 99 times:
[code]
- 1 time:
[code]

@smuzaffar suggested the test will fail is "rand()"  return 0 at
https://github.com/cms-sw/cmssw/blob/master/CommonTools/RecoAlgos/test/FKDTree_t.cpp#L50
https://githu

[2020-01-31 16:28] silviodonato commented on #28841
assign reco

[2020-01-31 16:28] cmsbuild commented on #28841
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-31 16:29] silviodonato commented on #28841
assign reconstruction

[2020-01-31 16:30] cmsbuild commented on #28841
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-31 18:07] mmusich commented on #28837
@silviodonato

as far as I can see the problem is not due to `boost::python` in itself but rather to the `Py_Initialize()`, which is necessary to  in order to avoid a segfault with the `boos::python::dict`.
Some search around in cmssw brought me to the solution at https://github.com/cms-sw/cmssw/pull/28842 , but I am definitely not an expert so if someone with better python-fu can cross-check I wo

[2020-01-31 20:11] nurfikri89 commented on #28585
@peruzzim @srimanob I got it to work now. I did not setup the right modifiers in [jetCollectionTools.py](https://github.com/cms-sw/cmssw/blob/CMSSW_11_1_0_pre2/PhysicsTools/PatAlgos/python/tools/jetCollectionTools.py#L428-L472). I also realised that I was not scheduling the proper PatJetIDValueMapProducer according to the type of input use for the jet clustering (i.e CHS vs PUPPI). I will push the

[2020-01-31 21:01] srimanob commented on #28585
@nurfikri89 Thanks!

@peruzzim @chayanit @pgunnell
Maybe it's better if PR of relvals goes in the same time. I can publish the PR of workflows if PdmV agrees so we can have the one to test with, or JME would like to have it in your PR is also fine too.

[2020-01-31 21:27] slava77 opened #28843 "revisit MuonServiceProxy: are separate consumes needed in beginRun and Event"
Following
https://github.com/cms-sw/cmssw/pull/28840#discussion_r373675428

Review implementation of the following to see if the MuonServiceProxy::update call can be safely moved to the event processing (::produce calls).
- FastSimulation/MuonSimHitProducer/src/MuonSimHitProducer.cc
- RecoMuon/TrackerSeedGenerator/plugins/TSGFromL2Muon.cc

If the ```update``` calls can be moved to just the event,

[2020-01-31 21:27] slava77 commented on #28843
assign reconstruction

@wddgit

[2020-01-31 21:27] cmsbuild commented on #28843
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-01-31 21:28] cmsbuild commented on #28843
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-01 10:53] fabiocos commented on #22981
@slava77 @jfernan2 I imagine that this issue is obsolete and may be removed. Do you confirm?

[2020-02-01 10:55] fabiocos commented on #23311
@silviodonato I do not recall to have seen this since a while, did you notice it recently?

[2020-02-01 10:56] #25513 closed

[2020-02-01 10:58] #26758 closed

[2020-02-01 11:07] silviodonato commented on #23311
No, I didn't see that error recently.

[2020-02-01 11:12] slava77 commented on #22981
I think that this was fixed in #23015

[2020-02-01 11:37] chayanit commented on #28585
I have no further comment. If you could help with the RelVals PR that would be great, thank you very much @srimanob

[2020-02-01 14:55] Dr15Jones opened #28849 "GEDGsfElectronFinalizer is not thread safe"
In ##28746 GEDGsfElectronFinalizer was changed from a stream module to a global module. Unfornately this broke thread safety since the member data
[code]
is not non-const thread safe. One indicator of a problem was that the member data was not declared
[code]
In addition, these lines
https://github.com/cms-sw/cmssw/blob/23e8336f9ee6b06b081d3a391489b4a92d7d9d23/RecoEgamma/EgammaElectronProducers/pl

[2020-02-01 14:55] Dr15Jones commented on #28849
assign reconstruction

[2020-02-01 14:55] cmsbuild commented on #28849
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-01 14:55] cmsbuild commented on #28849
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-01 14:55] Dr15Jones commented on #28849
This problem was seen by ASAN and is also probably the reason we are getting a seg fault in gcc9 IBs.

[2020-02-01 15:04] perrotta commented on #28849
Thank you @Dr15Jones , good catch!
Putting that module back as being a stream module should fix it, isn't it?

[2020-02-01 16:23] #23311 closed

[2020-02-01 16:35] fabiocos commented on #22981
@slava77 you are correct, thank you

[2020-02-01 16:35] #22981 closed

[2020-02-01 17:26] Dr15Jones commented on #28849
Going back to a stream would fix it.

[2020-02-01 19:30] nurfikri89 commented on #28585
@srimanob Can you provide a data relval file which I can test for running on data? At the moment, it is not setup to run on data but I can make the modifications.

[2020-02-02 09:51] fwyzard opened #28850 "Build CMSSW_11_1_0_pre2_Patatrack"

[2020-02-02 09:51] cmsbuild commented on #28850
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to bu

[2020-02-02 09:52] fwyzard commented on #28850
+1

[2020-02-02 09:52] cmsbuild commented on #28850
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre2_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-02-02 09:52] cmsbuild commented on #28850
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-02-02 09:54] cmsbuild commented on #28850
The build has started for slc7_amd64_gcc820 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2295/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-02 14:32] cmsbuild commented on #28850
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2_Patatrack-slc7_amd64_gcc820/229

[2020-02-02 15:01] cmsbuild commented on #28850
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2_Patatrack-slc7_amd64_gcc820/2295

Tests results:
34 28 16 11 4 0 0 0 0 tests passed, 0 5 11 1 5 0 0 0 0 failed

[2020-02-02 16:00] fwyzard commented on #28850
@smuzaffar is it possible to trigger a build also for aarch64 ?

[2020-02-02 16:02] fwyzard commented on #28850
@felicepantaleo @VinInn @rovere @makortel could you have a look ?

As summarised in the [matrix report](https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2_Patatrack-slc7_amd64_gcc820/2295/matrixTests/runall-report-step123-.log),  we have plenty of failures in the non-Run 2 workflows due to the changes to the code and configuration of various modules, even when we are

[2020-02-02 16:03] fwyzard commented on #28850
upload all

[2020-02-02 16:03] cmsbuild commented on #28850
Queing Jenkins upload for slc7_amd64_gcc820

[2020-02-02 16:04] cmsbuild commented on #28850
The upload has started for slc7_amd64_gcc820 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1489/console

[2020-02-02 16:05] cmsbuild commented on #28850
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre2_Patatrack-slc7_amd64_gcc820/1489

[2020-02-02 17:30] makortel opened #28852 "SwitchProducer does not meet the expectations of the mass replacement tools"
`SwitchProducer` does not meet the expectations of the mass replacement tools in `FWCore.ParameterSet.MassReplace`. Noticed in https://github.com/cms-sw/cmssw/issues/28850#issuecomment-581149286
[code]

[2020-02-02 17:30] cmsbuild commented on #28852
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-02 17:30] makortel commented on #28850
By quick look there are (at least) two problems
* `siPixelDigi` being cloned, but now it is `SwitchProducer` instead of `EDProducer`
https://github.com/cms-sw/cmssw/blob/06cd2abb40d64a1d1f47c29d1e055411702539b8/Calibration/LumiAlCaRecoProducers/python/ALCARECOLumiPixels_cff.py#L11-L13
* `SwitchProducer` does not meet the expectations of the mass replacement tools in `FWCore.ParameterSet.MassReplac

[2020-02-02 17:30] makortel commented on #28852
assign core

[2020-02-02 17:31] cmsbuild commented on #28852
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-02 17:41] perrotta commented on #28849
#28853 brings back the GEDGsfElectronFinalizer to be a stream module, instead of a global one

[2020-02-02 18:06] nurfikri89 commented on #28585
I've made the PR (#28854) which should fix the problem @srimanob encountered. It also includes the changes which will enable it to run on Data.

[2020-02-03 11:09] guitargeek commented on #28849
Thanks! Sorry for missing this

[2020-02-03 11:53] makortel commented on #28636
Out of curiosity, why are the underlying MinBias events read from existing files instead of generating them on the fly?

[2020-02-03 12:27] wouf commented on #28636
Usually we have central production MinBias sample for multipurpose. Of course the aim is to use DAS input instead of single file.

[2020-02-03 12:29] makortel commented on #28850
Does this mean the CMSSW_1_1_0_pre2_Patatrack should end up in cvmfs at some point?

[2020-02-03 12:33] makortel commented on #28636
Ok, but how long does it take to generate a MinBias event (e.g. compared to the signal event generation)? The I/O has a non-negligible cost as well (and for pp if we would mix signal with a single MinBias event at the generator level, we would almost certainly generate the MinBias on the fly)

[2020-02-03 12:34] srimanob commented on #28803
To me, event 9 runs first, and it crashed there also:

[code]

[2020-02-03 13:18] wouf commented on #28636
@gsfs George could You please to comment? Thanks!

[2020-02-03 13:34] davidlange6 commented on #28837
naively we should not set PYTHONHOME by hand. Seems a missing dependency in the Buildfile?

[2020-02-03 13:39] mmusich commented on #28837
as far as I can see @smuzaffar did the same here: https://github.com/cms-sw/cmssw/commit/aff1edc45d41edf60db24e1b945a017d6c385c29 ...

[2020-02-03 13:41] srimanob commented on #28803
@intrepid42
I assume if we treat this kind of events with fake vertex, it should be OK. This will allow us to be more flexible in case of issue w/ LHE.

[2020-02-03 13:42] intrepid42 commented on #28803
Ok, that looks reasonable to me: we ask for motherless particles with `abs(pz)>1000` to assign them as beam. In these events, the code finds one proton going in one direction fulfilling those criteria, and crashes because there is no other beam-like particle.
This is different from the `Neutrino_E-10_gun` where we have 0 beam-like particles, and thus the `if` handles the situation by adding fake b

[2020-02-03 13:51] wouf commented on #28636
I don't know any other use. Why You are asking?

[2020-02-03 13:53] makortel commented on #28636
To understand the level of constraints / freedom on changing things. If this is indeed the only use case, it is easier to change things because there is no need to preserve the old behavior.

[2020-02-03 13:59] gkrintir commented on #28636
hi @wouf let me chime in for the generation time;

1. HIN MC contacts are C. Lindsey &  L.Palomo, but @gsfs is welcome to reply of course ;D
2. It should depend on the campaign too; it's ok estimating it for the PbPb 2018 campaign?
3. Comparing to 'signal' it is also kind of nontrivial; we might have some simply pythia events vs complex events, e.g., ttbar with MG5. Do you have a preference for co

[2020-02-03 14:21] wouf commented on #28636
@gkrintir Dear Georgios
1. I know, I asked George because of his big experience. Hi may know if this was discussed before.
2, 3. The question was about the reasonable of current approach. So we need just we need an average score.

[2020-02-03 14:29] wouf commented on #28636
@mandrenguyen Could You please to comment or address to one may know? Thank You!

[2020-02-03 14:49] pieterdavid commented on #24825
With https://github.com/cms-sw/cmssw/pull/28756 merged I think this can be closed.

[2020-02-03 14:49] wouf commented on #28636
With the edm::Enent? But the main question is how access edm::Event from GeneratorInterface? The same way as consumesCollector?

[2020-02-03 14:50] wouf commented on #28636
@gkrintir Dear Georgios

    I know, I asked George because of his big experience. Hе may know if this was discussed before.
    2, 3. The question was about the reasonable of current approach. So we need just an average score.

[2020-02-03 16:42] makortel commented on #28636
I think it would be interesting to know the ratio for simple events, (maybe also for complex events), and for a "weighted average that would correspond to a full MC campaign" (I understand if the last one is difficult to give exactly).

[2020-02-03 17:02] makortel commented on #28636
Yes, through `edm::Event`. The access to it would be through the `setEDMEvent()`/`getEDMEvent()` that we already discussed (e.g. https://github.com/cms-sw/cmssw/issues/28636#issuecomment-578823317). The `HydjetHadronizer` would consume `CrossingFrame<edm::HepMCProduct>`.

[2020-02-03 17:11] wddgit opened #28858 "EcalDQMCommonUtils relies on global variables, data race"
I see the hard work that went into writing this code. And
someone without experience trying to make CMS code run
concurrently and efficiently might not be aware of the
problems reported here. So I feel a little bad being so negative,
but if we want CMS software to run concurrently and efficiently
we need to improve things like this...

EcalDQMCommonUtils relies on global variables. See
DQM/EcalCom