[2021-02-12 07:41] cmsbuild commented on #32881
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-02-12 07:42] cmsbuild commented on #32881
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2892/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 07:42] ianna commented on #32882
@fabiocos - please, either update the `ETLthickness` Variable defined in v5 etl.xml
https://cmssdt.cern.ch/lxr/search?%21v=CMSSW_11_3_X_2021-02-11-2300&_filestring=Xml&_string=ETLthickness
Or 2026D73 scenario to include updated v5 of a caloBase.xml that defines `ZposAL`
https://cmssdt.cern.ch/lxr/source/Geometry/CMSCommonData/python/cmsExtendedGeometry2026D73XML_cfi.py

[2021-02-12 07:43] perrotta commented on #31783
Thank you for reminding me, @slava77

Following https://github.com/cms-sw/cmssw/issues/31783#issuecomment-714383643, I made #32884 which removes the comment lines in DataFormats/MuonReco/src/Muon.cc that point out the possible bug this issue is dealing with: as soon as that PR will get merged we can close this issue (it will likely happen automatically, if the magic word "fixes" that I wrote in th

[2021-02-12 08:42] fabiocos commented on #32882
@ianna @cvuosalo @srimanob sorry for this inconvenience, the obvious solution to me seems to remove scenario D73, that has no further reason to exist at this point.

[2021-02-12 08:55] silviodonato commented on #32881
upload all

[2021-02-12 08:56] cmsbuild commented on #32881
Queing Jenkins upload for cc8_amd64_gcc9

[2021-02-12 08:56] cmsbuild commented on #32881
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-02-12 08:56] cmsbuild commented on #32881
Queing Jenkins upload for slc7_amd64_gcc900

[2021-02-12 08:56] cmsbuild commented on #32881
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-02-12 08:59] cmsbuild commented on #32881
The upload has started for cc8_amd64_gcc9 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1834/console

[2021-02-12 09:00] cmsbuild commented on #32881
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre3-cc8_amd64_gcc9/1834

[2021-02-12 09:00] cmsbuild commented on #32881
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1835/console

[2021-02-12 09:00] cmsbuild commented on #32881
The upload has started for slc7_amd64_gcc900 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1836/console

[2021-02-12 09:01] cmsbuild commented on #32881
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1837/console

[2021-02-12 09:01] cmsbuild commented on #32881
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre3-cc8_ppc64le_gcc9/1835

[2021-02-12 09:02] cmsbuild commented on #32881
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre3-slc7_ppc64le_gcc9/1837

[2021-02-12 09:02] cmsbuild commented on #32881
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre3-slc7_amd64_gcc900/1836

[2021-02-12 09:05] silviodonato commented on #32881
release-notes

[2021-02-12 09:05] cmsbuild commented on #32881
Generating release notes since CMSSW_11_3_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-12 09:05] cmsbuild commented on #32881
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre3

Cheers,
cms-bot

[2021-02-12 09:09] cmsbuild commented on #32881
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre3

[2021-02-12 09:16] andrzejnovak commented on #32883
Analyzing inputs with LRP/Integrated Gradient and removing some 40% lowest-scoring variables reduced the inference time for DDX V2 by half (not counting model load/initiation).

[2021-02-12 09:40] kirschen commented on #31843
@hqucms @missirol @pallabi: Any insight on this?

[2021-02-12 09:54] cmsbuild commented on #32881
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_aarch64_gcc9/2892
Some tes

[2021-02-12 09:55] cmsbuild commented on #32881
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-02-12 09:57] cmsbuild commented on #32881
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1838/console

[2021-02-12 09:57] cmsbuild commented on #32881
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre3-slc7_aarch64_gcc9/1838

[2021-02-12 10:15] missirol commented on #31843
To my knowledge, we don't. Indeed, I think this suboptimal approach (i.e. CaloJets-without-HGCal-inputs used for PV sorting) was used in the HLT TDR, for lack of an alternative or a dedicated study.

The only PV-sorting studies I remember for Phase-2 were done by @AdrianoDee, so he might have some more (quantitative) insight.

FYI: @fwyzard @trtomei

[2021-02-12 10:38] fwyzard commented on #31843
Mhm, OK, I thought for the PV sorting we were using only the track information ?

[2021-02-12 10:52] AdrianoDee commented on #31843
This is the case for Pixel Vertices (and then for the trimming related selection). For offline-like PVs this is still the case given, as @missirol highlighted, give no viable and tested solution was ready to be used. This is a work in progress.

[2021-02-12 10:52] missirol commented on #31843
Hi @fwyzard , for sorting of PVs from 'full' tracks, I think for HLT Phase-2 we are currently doing the same as Offline, and that uses a more sophisticated method.
One reference is this (but others might have better ones..):
https://indico.cern.ch/event/369417/contributions/1788757/attachments/734933/1008272/pv-sorting-xpog.pdf

[2021-02-12 10:53] #27553 closed

[2021-02-12 10:54] cmsbuild commented on #32881
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3-slc7_aarch64_gcc9/2892

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-12 11:00] fwyzard commented on #31843
OK, this is the part I had in mind (the part that we run *before* the full tracking).

[2021-02-12 11:02] fwyzard commented on #31843
Indeed... since it's not clear if there will be "calo" jets from HGCAL, what prevents using the full particle flow jets (barrel PF + TICL) instead ?

Apart form "somebody has to do it", of course.

[2021-02-12 11:19] silviodonato opened #32888 "Build CMSSW_11_3_0_pre3_GEANT4"
CMSSW_COMMIT:CMSSW_11_3_0_pre3

[2021-02-12 11:19] silviodonato commented on #32888
@smuzaffar is it correct?

[2021-02-12 11:19] cmsbuild commented on #32888
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-12 11:30] AdrianoDee commented on #31843
For HLT it would mean we have to run TICL (basically) anytime we run tracking just for the PV sorting. This is the only issue (?) I see. Apart from the "somebody has to do it".

[2021-02-12 11:39] simonepigazzini opened #32889 "Default doHGCAL=true in CaloTruthAccumulator causes a crash when running on PhaseI samples"
Dear all,

this was discussed few months back in a PPD coordination meeting [1]. Currently here:
https://github.com/cms-sw/cmssw/blob/master/SimGeneral/MixingModule/python/caloTruthProducer_cfi.py#L12

the flag doHGCAL is by default set to true and causes a crash when running on Run2/3 samples in this module:
https://github.com/cms-sw/cmssw/blob/master/SimGeneral/CaloAnalysis/plugins/CaloTruthAccu

[2021-02-12 11:39] cmsbuild commented on #32889
A new Issue was created by  @simonepigazzini .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-12 11:43] fwyzard commented on #31843
OK, then let me ask... what is the PV sorting used for ?

[2021-02-12 11:46] missirol commented on #31843
Maybe, a simpler approach for TDR studies would be to try and disable the jet-dependent part of PV sorting, to understand what its quantitative impact is.

One thing is PU mitigation. For example, PUPPI needs to know what the "leading PV" (the first, after sorting) is.

[2021-02-12 11:48] smuzaffar commented on #32888
@silviodonato , if I understand the https://github.com/cms-externals/geant4/issues/52#issuecomment-776134936 correctly then I think we need to build CMSSW_11_3_0_pre3_G4VECGEOM  .... right @civanch ?

[2021-02-12 11:54] fwyzard commented on #31843
Right - and in this case, we *have* already run TICL and PF.

[2021-02-12 12:25] silviodonato commented on #32888
Thanks, right, I think so. Now I recall that @civanch said about vecgeom during the last Core meeting. Anyway, let's wait for the feedback from @civanch

[2021-02-12 12:32] missirol commented on #31843
Yes; at least for jets and MET in the Phase-2 HLT config, TICL already runs on all events for which we run full tracking, so I guess one could (in principle) use PFJets instead of the CaloJets for the sorting. Of course, this assumes that we can run PF before PV sorting (in other words, that PF does not rely on PV sorting), which I guess it's the case, but I don't know for sure.

[2021-02-12 12:36] bendavid commented on #31843
@fwyzard some background here:  Currently "the" PV is already used in the construction of the PF candidates (mainly for assigning the direction of neutrals), so that part has to run before PF.

It's been discussed to have an "additional" pv sorting step making use of higher level information, to be used for Puppi, etc, also for Run 3, but not implemented yet.

The CaloJets are used currently to he

[2021-02-12 12:37] abdoulline commented on #32525
@slava77  thank you for the reminder. We're looking for someone to resync HybridMinimizer with its "parent"...

[2021-02-12 12:53] #31783 closed

[2021-02-12 13:18] slava77 commented on #32883
please clarify if V2 already has this reduction or if it is a possible improvement.
Thank you.

[2021-02-12 13:23] slava77 commented on #32883
to avoid potential improvements from the last few months, I updated the timing values using 11_3_0_pre2 (instead of 11_2_0_pre9). The results did not really change.

[2021-02-12 13:26] makortel commented on #32889
assign simulation

[2021-02-12 13:26] cmsbuild commented on #32889
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-12 13:33] fwyzard opened #32891 "build CMSSW_11_2_1_Patatrack"

[2021-02-12 13:33] cmsbuild commented on #32891
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2021-02-12 13:34] fwyzard commented on #32891
+1

[2021-02-12 13:34] makortel commented on #32889
Please set up a group for ECAL in
https://github.com/cms-sw/cms-bot/blob/master/groups.yaml
and then add the group with (patterns for) packages to be watched in
https://github.com/cms-sw/cms-bot/blob/master/watchers.yaml

(you could also add individuals to `watchers.yaml`, but that would be harder to maintain for people changes)

[2021-02-12 13:34] cmsbuild commented on #32891
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_1_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2021-02-12 13:34] cmsbuild commented on #32891
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I w

[2021-02-12 13:34] cmsbuild commented on #32891
The build has started for cc8_amd64_gcc9 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2893/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 13:36] andrzejnovak commented on #32883
V2 already has this. The V2 is similar in time to the V1 (after the ONNX update) even though it considered more inputs

[2021-02-12 13:36] cmsbuild commented on #32891
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2894/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 13:37] cmsbuild commented on #32891
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2895/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 13:38] cmsbuild commented on #32891
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2896/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 13:40] cmsbuild commented on #32891
The build has started for slc7_amd64_gcc900 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2897/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 13:41] slava77 commented on #31843
in addition to what @bendavid described above in https://github.com/cms-sw/cmssw/issues/31843#issuecomment-778170808

in the earlier steps `firstStepPrimaryVertices` (which is also relying on `ak4CaloJetsForTrk`) is used to define the leading 5 vertices for the pixel pair step iteration of the iterative tracking.

[2021-02-12 13:55] makortel opened #32894 "Crashes in TensorFlow in ROOT master IB"
There are several workflows segfaulting in CMSSW_11_3_ROOT6_X_2021-02-11-2300, e.g. 25400.{0,17,18} step 1
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_ROOT6_X_2021-02-11-2300/pyRelValMatrixLogs/run/25400.0_ZEE_13+FS_ZEE_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS/step1_ZEE_13+FS_ZEE_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS.log#/

[2021-02-12 13:55] makortel commented on #32894
assign core, l1

[2021-02-12 13:55] cmsbuild commented on #32894
New categories assigned: core,l1

@Dr15Jones,@smuzaffar,@rekovic,@makortel,@jmduarte you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-12 13:56] cmsbuild commented on #32894
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-12 13:57] makortel commented on #32894
These are likely caused by https://github.com/cms-sw/cmssw/pull/32813 that was merged after the previous ROOT master IB (where all workflows succeeded), but why do these crash only in ROOT master IBs, and not in default rot ROOT622 IBs?

[2021-02-12 14:04] cmsbuild commented on #32891
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-slc7_amd64_gcc820/2894

[2021-02-12 14:12] fwyzard commented on #32891
According to the log, the error is
[code]

@silviodonato @qliphy @smuzaffar @mrodozov shouldn't the externals be pretty stable in the 11.2.x branch ?

[2021-02-12 14:13] makortel commented on #32011
Just to record here what I understood from @civanch in the simulation meeting today. Apparently Geant4 10.7 does not bring substantial reduction in the use of thread-local storage, and therefore to leading order the EventSetup consumes needs to be implemented in the current initialization structure.

[2021-02-12 14:20] smuzaffar commented on #32891
we should disable GCC820 builds for Patatrack. Normal Ibs/releases for 11.2.X do not build for slc7_amd64_gcc820 that is why Patatrack release is building externals. I will disable this arch for 11.2.Patatrack

[2021-02-12 14:24] Dr15Jones opened #32895 "Two versions of class TrackQuality"
We have two separate classes both named TrackQuality:
https://github.com/cms-sw/cmssw/blob/master/SimTracker/TrackHistory/interface/TrackQuality.h
https://github.com/cms-sw/cmssw/blob/master/L1Trigger/TrackTrigger/interface/TrackQuality.h

both live in the global namespace. The L1Trigger one was added in December of 2020 and should be moved to a namespace (e.g. l1trigger).

[2021-02-12 14:24] cmsbuild commented on #32895
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-12 14:24] Dr15Jones commented on #32895
assign simulation, l1

[2021-02-12 14:24] cmsbuild commented on #32895
New categories assigned: l1,simulation

@mdhildreth,@rekovic,@jmduarte,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-12 14:27] makortel commented on #32894
Adding @riga @mialiu149 in case they would have any insight

[2021-02-12 14:28] fwyzard commented on #32891
understood - ok, thanks

[2021-02-12 14:28] davidlange6 commented on #32895
Perhaps related to #32894

[2021-02-12 14:35] Dr15Jones opened #32896 "L1 TrackQuality::featureTransform reads off the end of vector"
The ASAN report shows that the function TrackQuality::featureTransform  is reading off the end of a vector.

[2021-02-12 14:35] Dr15Jones commented on #32896
The ASAN report is
[code]

[2021-02-12 14:35] cmsbuild commented on #32896
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-12 14:38] Dr15Jones commented on #32896
I believe the problem is here
https://github.com/cms-sw/cmssw/blob/5dbdf0f49e1d5cf50ac76ea7ce72a2aba76a7983/L1Trigger/TrackTrigger/src/TrackQuality.cc#L90-L94

the problem is when `j == eta_size-1` then `eta_bins[j + 1]` will read off the end of the container.

[2021-02-12 14:38] Dr15Jones commented on #32896
assign l1

[2021-02-12 14:38] cmsbuild commented on #32896
New categories assigned: l1

@rekovic,@jmduarte you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-12 15:34] makortel commented on #25090
I reproduced my list in CMSSW_11_3_X_2021-02-10-2300 (in short no much progress since https://github.com/cms-sw/cmssw/issues/25090#issuecomment-745718188)

DQM:
[code]

Generators:
[code]
@cms-sw/generators-l2 How about we identify which one of these can not be made to support concurrent lumis with reasonable effort, and disable the concurrent lumis for the GEN step for those workflows?

Reconstru

[2021-02-12 15:57] dan131riley commented on #31123
I still see the crashes after updating to cms-root origin/cms/master/a001679, which has https://github.com/root-project/root/pull/6218 (I had assume that PR wouldn't fix these particular crashes, but it seemed like time to verify it--this did involve rebuilding ROOT, DD4Hep, and all of CMSSW).  I'm now testing cmsRunGlibC, and in several hundred tries have not seen any `TFormula` crashes, so it se

[2021-02-12 15:58] jfernan2 commented on #25090
These have been informed to L1T conveners and DQM developers before Christmas: they answered last week they are going to have a look

[2021-02-12 16:00] makortel commented on #31123
Thanks Dan, I agree.

[2021-02-12 16:00] cmsbuild commented on #32891
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-slc7_aarch64_gcc9/2895
Som

[2021-02-12 16:03] Dr15Jones commented on #31123
@dan131riley could you make a new issue about race condition in

?

[2021-02-12 16:09] cmsbuild commented on #32891
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-slc7_ppc64le_gcc9/2896
Som

[2021-02-12 16:18] civanch commented on #32888
@smuzaffar , @silviodonato , yes, we need  CMSSW_11_3_0_pre3_G4VECGEOM for the PPD validation.

[2021-02-12 16:21] #32888 closed

[2021-02-12 16:22] silviodonato opened #32898 "Build CMSSW_11_3_0_pre3_G4VECGEOM"
CMSSW_COMMIT:CMSSW_11_3_0_pre3

[2021-02-12 16:22] cmsbuild commented on #32898
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-12 16:24] silviodonato commented on #32898
+1
cc @civanch

[2021-02-12 16:25] cmsbuild commented on #32898
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre3_G4VECGEOM. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_GEANT4_X

[2021-02-12 16:25] cmsbuild commented on #32898
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-02-12 16:25] cmsbuild commented on #32898
The build has started for slc7_amd64_gcc900 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2898/console
CMSDIST Branch: [IB/CMSSW_11_3_X/geant4_vecgeom](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/geant4_vecgeom), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-12 16:43] cmsbuild commented on #32891
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-cc8_amd64_gcc9/2893
Some test

[2021-02-12 16:45] cmsbuild commented on #32891
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-slc7_amd64_gcc900/2897
Som

[2021-02-12 16:48] dan131riley opened #32899 "Apparent data race in onnxruntime on aarch64"
As mentioned in #31123 we see occasional thread-related crashes in onnxruntime on aarch64.  Unlike many threading crashes, this one is reproducible in gdb at the few percent level.  The stack trace shows that the other threads in the same routine are blocked on a mutex, so there may be a bug in the mutex logic.  Unfortunately, valgrind on aarch64 doesn't understand the instruction used by nsync_mu

[2021-02-12 16:48] cmsbuild commented on #32899
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-12 16:53] fwyzard commented on #32891
upload all

[2021-02-12 16:53] cmsbuild commented on #32891
Queing Jenkins upload for cc8_amd64_gcc9

[2021-02-12 16:53] cmsbuild commented on #32891
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-02-12 16:53] cmsbuild commented on #32891
Queing Jenkins upload for slc7_amd64_gcc900

[2021-02-12 16:53] cmsbuild commented on #32891
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-02-12 16:55] cmsbuild commented on #32891
The upload has started for slc7_amd64_gcc900 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1841/console

[2021-02-12 16:55] cmsbuild commented on #32891
The upload has started for cc8_amd64_gcc9 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1839/console

[2021-02-12 16:55] cmsbuild commented on #32891
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1842/console

[2021-02-12 16:55] cmsbuild commented on #32891
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1840/console

[2021-02-12 16:55] makortel commented on #32899
assign core, reconstruction

FYI @riga @mialiu149

[2021-02-12 16:56] cmsbuild commented on #32899
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-12 16:56] cmsbuild commented on #32891
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-slc7_aarch64_gcc9/2895

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-12 16:56] makortel commented on #32899
Should we inform ONNXRuntime developers?

[2021-02-12 16:57] cmsbuild commented on #32891
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_Patatrack-cc8_amd64_gcc9/1839

[2021-02-12 16:57] cmsbuild commented on #32891
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_Patatrack-slc7_ppc64le_gcc9/1842

[2021-02-12 16:57] cmsbuild commented on #32891
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_Patatrack-slc7_aarch64_gcc9/1840

[2021-02-12 16:57] cmsbuild commented on #32891
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_1_Patatrack-slc7_amd64_gcc900/1841

[2021-02-12 16:59] davidlange6 commented on #32899
Its perhaps trying with a newer onnxruntime?

[2021-02-12 17:01] cmsbuild commented on #32891
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-slc7_ppc64le_gcc9/2896

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-12 17:04] dan131riley commented on #31123
Oh hey, bingo!  Debug build gets an assertion failure in `RuntimeDyldELF::resolveAArch64Relocation()`!

https://github.com/root-project/root/blob/f8efb11a51cbe5b5152ebef19a4f7b78744ca2fa/interpreter/llvm/src/lib/ExecutionEngine/RuntimeDyld/RuntimeDyldELF.cpp#L361-L367

@vgvassilev can you take a look at this stack trace and suggest how to proceed?  It's definitely wrapping around the `uint64_t`:

[2021-02-12 17:24] cmsbuild commented on #32891
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-cc8_amd64_gcc9/2893

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-12 17:27] cmsbuild commented on #32891
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_1_Patatrack-slc7_amd64_gcc900/2897

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-12 17:32] riga commented on #32899
We can start upgrading ONNXRuntime next week from 1.3.0 to 1.6.0 and see if the error persists. Also, depending on whether the current onnx models in cmssw are compatible, this could also have a positive effect on the inference performance (see e.g. https://github.com/cms-sw/cmssw/issues/32883).

[2021-02-12 17:48] agrohsje commented on #25090
hi @makortel. i think most of them can be adjusted following the slides i posted above.  Iialready discussed with  @SiewYan when Phat posted his message.

[2021-02-12 18:36] cmsbuild commented on #32898
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3_G4VECGEOM-slc7_amd64_gcc900/2898

[2021-02-12 19:03] kpedro88 commented on #32050
@adas1994 I was able to reproduce the segmentation violation. The traceback in gdb shows that a pointer accessed in `SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizer.cc` ends up with an inaccessible memory address. However, I think this is a side effect of the actual problem; since your branch didn't modify the tracker code\*, it's more likely that your code is writing to the wrong memo

[2021-02-12 19:13] adas1994 commented on #32050
Can you share the valgrind output file that tells you that it is probably
coming from
https://github.com/adas1994/cmssw/blob/7c3420d6fc5162ffc22c724ff497257da0fc1a8c/SimCalorimetry/HGCalSimProducers/src/HGCDigitizer.cc#L636-L637
?
That was the main bottleneck for me that I could not meaningfully
understand it tries to point me to.

thanks Kevin,

On Fri, Feb 12, 2021 at 2:03 PM Kevin Pedro <notifi

[2021-02-12 19:25] kpedro88 commented on #32050
The relevant section of the log is attached. (The valgrind job is still running; I want to see if finds anything else.)
[log_valgrind_excerpt1.log](https://github.com/cms-sw/cmssw/files/5973925/log_valgrind_excerpt1.log)

[2021-02-12 19:31] adas1994 commented on #32050
Got it. Thank you. Will go through the code again and make necessary
modifications.

On Fri, Feb 12, 2021 at 2:25 PM Kevin Pedro <notifications@github.com>
wrote:

--
Sincerely,

Abhishek Das.

[2021-02-12 19:35] adas1994 commented on #32050
@kpedro88 I also remember that you may not get any crash when running
Valgrind. I ran valgrind with Avg. PU 500 and it did not crash. That's why
I thought may be Valgrind output is not that helpful.

On Fri, Feb 12, 2021 at 2:31 PM Abhishek Das <adas@nd.edu> wrote:

--
Sincerely,

Abhishek Das.

[2021-02-12 20:10] vgvassilev commented on #31123
@dan131riley, thanks for the ping.

Unfortunately we are not in a very favorable position. We know ROOT has some JIT issues on arm (cc: @axel-naumann). I found this issue submitted here dotnet/runtime#46881 which hints two things. First it seems that it is not due to our particular JIT setup and second, this will still persist in ROOT after the llvm-9 upgrade.

We should try fixing it ourselves or

[2021-02-12 20:46] kpedro88 commented on #32050
yes, valgrind may rearrange memory such that an overwrite will happen in a different place, and may not cause the program to crash. however, valgrind will still report the invalid write.

[2021-02-12 23:45] kpedro88 opened #32905 "Uninitialized, unused member variable in SimCluster"
While running valgrind for something else, I noticed the attached report of uninitialized values.

Looking at https://github.com/cms-sw/cmssw/blob/master/SimDataFormats/CaloAnalysis/interface/SimCluster.h and https://github.com/cms-sw/cmssw/blob/master/SimDataFormats/CaloAnalysis/src/SimCluster.cc, it seems that some of the member variables are definitely left uninitialized by some of the construc

[2021-02-12 23:45] kpedro88 commented on #32905
assign simulation

[2021-02-12 23:45] cmsbuild commented on #32905
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-12 23:45] cmsbuild commented on #32905
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-12 23:45] kpedro88 commented on #32050
@adas1994 when I change the preceding line like this:
[code]
I no longer see invalid writes in valgrind.

[2021-02-12 23:53] adas1994 commented on #32050
The correct lines should actually be like :

std::get<0>(*(findPos)) += charge;
std::get<1>(*(findPos)) += charge;

I am running tests with this modification, but I am yet to check it with
Valgrind. If you can check it with Valgrind, that would be great. Otherwise
I would do it by tomorrow anyway.
Thanks a lot @kpedro88 for identifying the bug ; as I said earlier, due to
my misunderstanding of Val

[2021-02-13 02:38] makortel commented on #12692
+1

Done in https://github.com/cms-sw/cmssw/pull/32620

[2021-02-13 02:38] cmsbuild commented on #12692
This issue is fully signed and ready to be closed.

[2021-02-13 07:17] kpedro88 commented on #32050
The change you suggested also succeeds in valgrind without invalid writes.

[2021-02-13 10:50] #12692 closed

[2021-02-13 10:58] Axel-Naumann commented on #31123
@vgvassilev :
- I don't yet see what the known aarch64 JIT issues have to do with this issue.
- Given that this is a 32bit reloc overflow, I bet the first thing Lang would ask is whether we use `CodeModel::Large` - and [it seems we don't, for aarch64](https://github.com/root-project/root/blob/master/interpreter/cling/lib/Interpreter/IncrementalExecutor.cpp#L60-L64). Could you propose a patch for C

[2021-02-13 11:10] vgvassilev commented on #31123
@Axel-Naumann, indeed worth trying.

@dan131riley, can you test:
[code]

[2021-02-13 11:20] smuzaffar commented on #31123
thanks @vgvassilev , I am testing the suggested change here https://github.com/cms-sw/root/pull/150

[2021-02-13 14:26] dan131riley commented on #31123
Unfortunately, that doesn't fix it.  I still get assertion failures in a debug build (where I verified that the model was set to `CodeModel::Large`), and crashes in a release build:
[code]

[2021-02-13 18:30] civanch commented on #32898
There is a problem to build VecGeom (which is not clear to me yet) :

Creating directory /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_11_3_0_pre3_G4VECGEOM-slc7_amd64_gcc900/build/CMSSW_11_3_0_pre3_G4VECGEOM-build/BUILD/slc7_amd64_gcc900/cms/cmssw/CMSSW_11_3_0_pre3_G4VECGEOM if not existing.
Build ng cmssw. Log can be found in /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_11_3_0_pre3_G4VECG

[2021-02-13 18:59] smuzaffar commented on #32898
@civanch , right, this is because release is using wrong cmssw code. It should not be build using CMSSW_11_3_0_pre3 code as we need changes from CMSSW_11_3_GEANT4_X branch.

I am going to open a new issue to build this release using the correct branch

[2021-02-13 18:59] smuzaffar commented on #32898
abort

[2021-02-13 18:59] cmsbuild commented on #32898
Deleting CMSSW_11_3_0_pre3_G4VECGEOM:

  - Release successfully deleted

  - cmssw tag CMSSW_11_3_0_pre3_G4VECGEOM successfully deleted.

 - I was not able to delete the tag REL/CMSSW_11_3_0_pre3_G4VECGEOM/slc7_amd64_gcc900. Probaly it had not been created.

You must create a new issue to start over the build.

[2021-02-13 19:02] smuzaffar opened #32909 "Build CMSSW_11_3_0_pre3_G4VECGEOM"
CMSSW_COMMIT: 4b4547a1dce149396029b4aaddfa03cb5061a9ad

[2021-02-13 19:03] cmsbuild commented on #32909
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-13 19:03] smuzaffar commented on #32909
+1

[2021-02-13 19:03] cmsbuild commented on #32909
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre3_G4VECGEOM. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_GEANT4_X

[2021-02-13 19:03] cmsbuild commented on #32909
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-02-13 19:04] #32898 closed

[2021-02-13 19:05] smuzaffar commented on #32898
opened https://github.com/cms-sw/cmssw/issues/32909 to build this release using correct cmssw commit

[2021-02-13 19:05] cmsbuild commented on #32909
The build has started for slc7_amd64_gcc900 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2899/console
CMSDIST Branch: [IB/CMSSW_11_3_X/geant4_vecgeom](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/geant4_vecgeom), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-13 21:57] cmsbuild commented on #32909
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3_G4VECGEOM-slc7_amd64_gcc900/289

[2021-02-13 22:38] cmsbuild commented on #32909
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_pre3_G4VECGEOM-slc7_amd64_gcc900/2899

Tests results:
37 36 35 26 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-14 08:08] cmsbuild commented on #32881
The cleanup has started for slc7_aarch64_gcc9

[2021-02-14 08:08] cmsbuild commented on #32881
The cleanup has started for cc8_amd64_gcc9

[2021-02-14 08:08] cmsbuild commented on #32881
The cleanup has started for cc8_ppc64le_gcc9

[2021-02-14 08:08] cmsbuild commented on #32881
The cleanup has started for slc7_amd64_gcc900

[2021-02-14 08:08] cmsbuild commented on #32881
The cleanup has started for slc7_ppc64le_gcc9

[2021-02-14 08:08] #32881 closed

[2021-02-14 08:08] cmsbuild commented on #32881
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre3-cc8_amd64_gcc9/1621

[2021-02-14 08:08] cmsbuild commented on #32881
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre3-cc8_ppc64le_gcc9/1622

[2021-02-14 08:08] cmsbuild commented on #32881
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre3-slc7_aarch64_gcc9/1623

[2021-02-14 08:08] cmsbuild commented on #32881
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre3-slc7_amd64_gcc900/1624

[2021-02-14 08:08] cmsbuild commented on #32881
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre3-slc7_ppc64le_gcc9/1625

[2021-02-14 08:08] cmsbuild commented on #32881
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre3-cc8_amd64_gcc9/1626

[2021-02-14 08:08] cmsbuild commented on #32881
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre3-cc8_ppc64le_gcc9/1627

[2021-02-14 10:14] smuzaffar commented on #32909
upload all

[2021-02-14 10:15] cmsbuild commented on #32909
Queing Jenkins upload for slc7_amd64_gcc900

[2021-02-14 10:15] cmsbuild commented on #32909
The upload has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1843/console

[2021-02-14 10:20] cmsbuild commented on #32909
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_pre3_G4VECGEOM-slc7_amd64_gcc900/1843

[2021-02-14 13:34] silviodonato commented on #32909
release-notes since CMSSW_11_3_0_pre3
thanks @smuzaffar

[2021-02-14 13:34] cmsbuild commented on #32909
Generating release notes since CMSSW_11_3_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-14 13:34] cmsbuild commented on #32909
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_3_0_pre3_G4VECGEOM is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_11_3_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0_pre3_G4VECGEOM

Cheers,
cms-bot

You can also click <a href="

[2021-02-14 13:39] cmsbuild commented on #32909
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_pre3_G4VECGEOM

[2021-02-14 15:39] dan131riley commented on #32894
We are seeing the same crash in the slc7_ppc64le_gcc9 IBs, which are ROOT622, so not quite unique to ROOT master.

[2021-02-14 19:28] civanch commented on #32888
@smuzaffar , @silviodonato , my private tests are OK.

[2021-02-15 13:12] dan131riley commented on #31123
I think that patch doesn't actually change anything...for aarch64, the target description sets `CodeModel::Large` if it was set to `CodeModel::JITDefault` here:

https://github.com/root-project/root/blob/6923ab3b730c4bb9c840de87b564654a72603763/interpreter/llvm/src/lib/Target/AArch64/MCTargetDesc/AArch64MCTargetDesc.cpp#L78-L98

[2021-02-15 13:21] Axel-Naumann commented on #31123
That's totally possible. Thank you for trying this out, Dan - this serves as input to Vassil's discussion with the JIT expert (Lang). (FYI Vassil, my current hypothesis is that this is a relocation that is meant to happen within the same code segment, explaining the smaller reloc size, but where our JIT has split relocation and target into different segments.)

[2021-02-15 13:30] francescobrivio commented on #25090
@makortel I'm having a look for alca here. Just for my understanding, was there ever an aswer to the questions asked by @mmusich here https://github.com/cms-sw/cmssw/issues/25090#issuecomment-693533940 ?

[2021-02-15 13:47] makortel opened #32918 "SonicTriton unit test failure"
A unit test in `HeterogeneousCore/SonicTriton` fails in CMSSW_11_3_X_2021-02-15-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-02-15-1100/unitTestLogs/HeterogeneousCore/SonicTriton#/

[2021-02-15 13:47] makortel commented on #32918
assign core, heterogeneous

@kpedro88

[2021-02-15 13:47] cmsbuild commented on #32918
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-15 13:48] cmsbuild commented on #32918
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@makortel,@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-15 13:49] makortel commented on #32918
Does this look like a random failure, or does it show any systematic problem?

[2021-02-15 14:05] kpedro88 commented on #32918
It's definitely not an error I've seen before.

There are references to `tnsnames.ora` in https://github.com/cms-sw/cms-docker, https://github.com/cms-sw/cmssw-osenv/blob/master/cmssw-env, https://github.com/cms-sw/cms-bot/blob/master/docker_launcher.sh.

Is it possible to tell which machine was used to run these tests? @smuzaffar

[2021-02-15 14:11] makortel commented on #25090
Thanks!

As far as I know, "no", which is also why I essentially repeated the question in https://github.com/cms-sw/cmssw/issues/25090#issuecomment-745722887. If the `ALCA` step is intended to process only one lumi per job, a reasonable first step would be to disable concurrent lumis for the `ALCA` step (even if for the long term migrating the modules to support concurrent lumis would be more futu

[2021-02-15 14:14] smuzaffar commented on #32918
@kpedro88 , it was on cmsbuild78 (https://cmssdt.cern.ch/jenkins/job/ib-run-qa/38280/console ). Jenkins starts the singularity container and mount /etc/tnsnames.ora from host in to container.

[2021-02-15 14:21] dan131riley commented on #32894
Since this was backported, we are also seeing it in the CMSSW_11_2_X IBs, specifically for cc8_aarch64_gcc9 and cc8_amd64_gcc9.

[2021-02-15 14:24] makortel commented on #32894
Thanks Dan for pointing out the problem is more widespread, I updated the title

[2021-02-15 14:25] makortel commented on #32894
unassign core

The problem appears to be specific to this L1 code, with some random component on where it appears.

[2021-02-15 14:47] kpedro88 commented on #32918
@smuzaffar can you give me permission to log into that machine and try to reproduce the failure?

[2021-02-15 14:47] smuzaffar commented on #32918
@kpedro88 , nothing change in cmssw. cms-bot/docker_launcher between 02-14-2300 and 02-15-1100 IBs. Do you know if the triton server container was updated?

[2021-02-15 14:48] smuzaffar commented on #32918
Can you try cmsdevXX ? It should be same as cmsbuild

[2021-02-15 15:01] eyigitba commented on #32894
I did some testing using CMSSW_11_3_ROOT6_X_2021-02-11-2300 and the failed workflows. It appears to be some threading issue once again. Once I run with single thread there are no more crashes. However, I don't really understand why it's happening.

[2021-02-15 15:03] smuzaffar commented on #32918
I can not reproduce this issue on cmsdev and cmsbuild machine. I noticed that `SINGULARITY_BIND` env variable is set inside the container. Could it be that this env variable is causing the triton container to also try to mount all these dirs in to triton contaioner?

[a]
[code]

[2021-02-15 15:31] kpedro88 commented on #32918
@smuzaffar the container has not changed. I also can't reproduce the issue on cmsdev20.

I had the same thought: maybe we should unset `SINGULARITY_BIND` just to reduce the chance of issues. I'll include that in the next relevant PR (unless the failure happens again in the next IB, in which case I'll push it immediately).

[2021-02-15 15:33] makortel commented on #32894
In all cases the failing workflows seem to be limited to "FastSim+pileup".

[2021-02-15 15:56] smuzaffar commented on #32918
https://github.com/cms-sw/cms-bot/pull/1489 should unset the SINGULARITY_BIND env instead singularity container.

[2021-02-15 17:56] dan131riley commented on #31123
All the crashes I've seen follow the same patter of an `adrp/ldr` as the first or nearly the first thing in the function, including the simplest example
[code]
where the source for that routine is just a floating point constant.

I'm not very familiar with the LLVM structure, but from what I've looked at I'm guessing these come from `AArch64FastISel::materializeFP()` when it [materializes a floati

[2021-02-15 21:07] vgvassilev commented on #31123
@dan131riley, since you seem to be having fun with llvm -- can you also dump the relevant `llvm::Module`. I wonder if we can convert it into something standalone and run it through `lli` and reproduce the issue in isolation. That'd make it easier to understand and fix.

[2021-02-15 21:39] cvuosalo commented on #32882
+1

[2021-02-15 21:40] cmsbuild commented on #32882
This issue is fully signed and ready to be closed.

[2021-02-15 21:40] cvuosalo commented on #32882
I think #32886 resolves the issue.

[2021-02-15 22:11] #32882 closed

[2021-02-16 06:05] adas1994 commented on #32050
I have been able to complete my first batch of tests after my initial
modification. The results are partially correct and partially wrong, so I
would need some more time to do further modifications. But I am glad that
the ball is finally rolling after months of stagnation. I could not be more
grateful to @kpedro88 for his help.

On Sat, Feb 13, 2021 at 2:18 AM Kevin Pedro <notifications@github.com

[2021-02-16 09:06] mariadalfonso commented on #32451
+1

[2021-02-16 09:06] cmsbuild commented on #32451
This issue is fully signed and ready to be closed.

[2021-02-16 09:11] mariadalfonso commented on #31647
+xpog

[2021-02-16 09:12] cmsbuild commented on #31647
This issue is fully signed and ready to be closed.

[2021-02-16 09:14] mariadalfonso commented on #30112
@rappoccio @laurenhay

was this issue completely fixed now ?

[2021-02-16 12:38] cmsbuild commented on #32909
The cleanup has started for slc7_amd64_gcc900

[2021-02-16 12:38] #32909 closed

[2021-02-16 12:38] cmsbuild commented on #32909
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_pre3_G4VECGEOM-slc7_amd64_gcc900/1628

[2021-02-16 15:07] jpata commented on #32709
@cmsbuild please close

thanks for the reminder, the fixes were implemented in https://github.com/cms-sw/cmssw/pull/32713 and backported in https://github.com/cms-sw/cmssw/pull/32751.

[2021-02-16 15:08] #32709 closed

[2021-02-16 17:01] SiewYan commented on #25090
@makortel , I scanning through the list of GEN module, I assume not all GEN modules are thread unfriendly, and i would like to single them out one by one (as you suggested) Could you advise/provide a script (checking thread safety compliance) to check non-compliant module? Also, could you re-affirm what need to be done? I reckon one shall switch to edm::global::EDFIlter/etc base class according to

[2021-02-16 18:00] silviodonato opened #32926 "Build CMSSW_11_2_2"

[2021-02-16 18:00] cmsbuild commented on #32926
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-16 18:02] Dr15Jones commented on #32896
ping @cms-sw/l1-l2

[2021-02-16 18:05] silviodonato commented on #32926
+1

[2021-02-16 18:06] cmsbuild commented on #32926
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-02-16 18:06] cmsbuild commented on #32926
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-02-16 18:06] cmsbuild commented on #32926
The build has started for cc8_amd64_gcc9 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2900/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-16 18:06] cmsbuild commented on #32926
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2901/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-16 18:07] cmsbuild commented on #32926
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2902/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-16 18:10] cmsbuild commented on #32926
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2903/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-16 18:11] cmsbuild commented on #32926
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2904/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-16 19:32] cmsbuild commented on #32926
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2905/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-16 20:33] smuzaffar commented on #32896
@Dr15Jones , https://github.com/cms-sw/cmssw/pull/32931 should fix this. Lets see if  @cms-sw/l1-l2 agrees with the change

[2021-02-16 21:09] cmsbuild commented on #32926
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-slc7_ppc64le_gcc9/2904
Some tests (

[2021-02-16 21:14] cmsbuild commented on #32926
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-cc8_ppc64le_gcc9/2903
Some tests ( ru

[2021-02-16 21:22] cmsbuild commented on #32926
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-cc8_amd64_gcc9/2900
Some tests ( runThe

[2021-02-16 21:31] cmsbuild commented on #32926
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-cc8_aarch64_gcc9/2901
Some tests ( ru

[2021-02-16 21:31] makortel commented on #32894
In the core software meeting a hypothesis of the crash being caused by running out of memory (and `absl` not handling that well) was made. I profiled 25400.0 step3 in CMSSW_11_3_ROOT6_X_2021-02-15-2300 with IgProf, here is the live memory after event 5
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/113x/fastsim_07.5_live
indicating a total of 4.2 GB (on a single-threaded job, FYI @cms-sw/

[2021-02-16 22:01] eyigitba commented on #32894
Hi @makortel , thanks a lot! I tested some things locally as well to see if I can prevent the crash, but it didn't help much. The only thing I could do was to prevent the crash from `tensorflow:createSession` step (by moving it to the constructor instead), but it eventually crashed in `tensorflow::run` step (which is inevitably called for every event).

So in order to make it so that we only have

[2021-02-16 22:06] cmsbuild commented on #32926
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-cc8_ppc64le_gcc9/2903

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-16 22:10] cmsbuild commented on #32926
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-cc8_amd64_gcc9/2900

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-16 22:11] cmsbuild commented on #32926
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-slc7_ppc64le_gcc9/2904

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-16 22:17] cmsbuild commented on #32926
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-slc7_amd64_gcc900/2902
Some tests (

[2021-02-16 22:58] cmsbuild commented on #32926
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-slc7_amd64_gcc900/2902

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-17 00:12] lhames commented on #31123
@dan131riley

The ADRP/LDR sequence should be able to reach +/-4Gb from the fixup page. If the memory manager were allocating sections independently I would expect occasional crashes when sections connected by fixups happen to be allocated out-of-range. As a stop-gap solution to this the RuntimeDyld::MemoryManager interface provides the `needsToeserveAllocationSpace` and `reserveAllocationSpace` m

[2021-02-17 03:16] cmsbuild commented on #32926
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-slc7_aarch64_gcc9/2905
Some tests (

[2021-02-17 06:10] cmsbuild commented on #32926
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2-slc7_aarch64_gcc9/2905

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-17 08:16] silviodonato commented on #32926
upload all

[2021-02-17 08:16] cmsbuild commented on #32926
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-02-17 08:16] cmsbuild commented on #32926
Queing Jenkins upload for cc8_amd64_gcc9

[2021-02-17 08:16] cmsbuild commented on #32926
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-02-17 08:16] cmsbuild commented on #32926
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-02-17 08:16] cmsbuild commented on #32926
Queing Jenkins upload for slc7_amd64_gcc900

[2021-02-17 08:16] cmsbuild commented on #32926
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-02-17 08:18] cmsbuild commented on #32926
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1844/console

[2021-02-17 08:18] cmsbuild commented on #32926
The upload has started for cc8_amd64_gcc9 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1845/console

[2021-02-17 08:18] cmsbuild commented on #32926
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1846/console

[2021-02-17 08:18] cmsbuild commented on #32926
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1847/console

[2021-02-17 08:18] cmsbuild commented on #32926
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2-cc8_aarch64_gcc9/1844

[2021-02-17 08:19] cmsbuild commented on #32926
The upload has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1848/console

[2021-02-17 08:19] cmsbuild commented on #32926
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2-cc8_amd64_gcc9/1845

[2021-02-17 08:19] cmsbuild commented on #32926
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1849/console

[2021-02-17 08:19] cmsbuild commented on #32926
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2-cc8_ppc64le_gcc9/1846

[2021-02-17 08:20] cmsbuild commented on #32926
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2-slc7_aarch64_gcc9/1847

[2021-02-17 08:20] cmsbuild commented on #32926
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2-slc7_ppc64le_gcc9/1849

[2021-02-17 08:21] cmsbuild commented on #32926
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2-slc7_amd64_gcc900/1848

[2021-02-17 08:31] silviodonato commented on #32926
release-notes

[2021-02-17 08:32] cmsbuild commented on #32926
Generating release notes since CMSSW_11_2_1_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-17 08:32] cmsbuild commented on #32926
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_2_2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_1_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMS

[2021-02-17 08:36] cmsbuild commented on #32926
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_2

[2021-02-17 09:37] riga commented on #32894
@eyigitba We have an example on how to use the `edm::GlobalCache` for multi-threaded inference in the (still developing) documentation [here](https://cms-ml.github.io/documentation/inference/tensorflow2.html#multi-threaded-inference).

[2021-02-17 09:52] #32451 closed

[2021-02-17 09:52] #31647 closed

[2021-02-17 12:10] eyigitba commented on #32894
@riga thanks a lot! This is super useful. I'll try to implement it this way.

[2021-02-17 12:17] smuzaffar commented on #32894
@makortel , I also ran valgrind for workflow `25400.0/step1` and its output is available https://muzaffar.web.cern.ch/25400-CMSSW_11_3_ROOT6-valgrind.log

[2021-02-17 12:54] rappoccio commented on #30112
Hi, @mariadalfonso Yes, we can close this.

[2021-02-17 12:54] #30112 closed

[2021-02-17 13:03] #32926 closed

[2021-02-17 14:43] makortel commented on #32894
Thanks! I see several
[code]
(which sounds a bit scary given that jemalloc is very picky about correct frees)

Then there is
[code]
which itself doesn't really help much, but confirms that there is a problem in the `aw_hash_set<...>::resize()`.

[2021-02-17 14:48] makortel commented on #32894
@riga Nice! I'd like to give specific comments, what would be your preferred way for them? Issue to https://github.com/cms-ml/documentation/?

[2021-02-17 14:57] riga commented on #32894
@makortel Yes, feel free to open an issue there.

[2021-02-17 15:20] dan131riley commented on #32894
The invalid frees must be coming from [initialization of statics in tensorflow](https://github.com/cms-externals/tensorflow/blob/77e1c215529a442d2c9268c62f010dcf30d90cc4/tensorflow/compiler/mlir/tensorflow/transforms/layout_optimization.cc#L436-L445), so I guess we're getting those every time tensorflow is loaded?

[2021-02-17 15:32] rekovic commented on #32894
Attn @jmduarte

[2021-02-17 16:00] makortel commented on #32894
With https://github.com/cms-sw/cmssw/pull/32128 there is also an option to to put the graph and session into an EventSetup product, that may be easier to deal with in some cases than the `GlobalCache`.

[2021-02-17 17:07] vgvassilev commented on #31123
Thanks @lhames for the detailed explanation!

I am adding @pcanal who implemented this as part of a fix for [ROOT-8523](https://sft.its.cern.ch/jira/browse/ROOT-8523).

[2021-02-17 19:22] kpedro88 opened #32937 "CondorStatusService double-counts events when using SubProcess"
While running a combined DIGI+RECO Condor job, with DIGI as the Process and RECO as a SubProcess, I noticed that `ChirpCMSSWEvents` exceeded `ChirpCMSSWMaxEvents`.

It seems that the relevant hook in `CondorStatusService` is triggering for both the Process and SubProcess, thereby counting events twice. I don't think this is intentional, so it should be fixed to handle the SubProcess case correctly

[2021-02-17 19:22] kpedro88 commented on #32937
assign core

[2021-02-17 19:22] cmsbuild commented on #32937
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-17 19:22] cmsbuild commented on #32937
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-17 19:26] makortel commented on #32937
FYI @bbockelm

[2021-02-17 19:27] makortel commented on #32937
(just to record) My comment on mattermost was based on
https://github.com/cms-sw/cmssw/blob/f91490fd5861333c9be8b8a0ce74eb7816cb2d11/FWCore/Services/plugins/CondorStatusUpdater.cc#L106
https://github.com/cms-sw/cmssw/blob/f91490fd5861333c9be8b8a0ce74eb7816cb2d11/FWCore/Services/plugins/CondorStatusUpdater.cc#L124-L127
https://github.com/cms-sw/cmssw/blob/f91490fd5861333c9be8b8a0ce74eb7816cb2d11/FW

[2021-02-17 20:55] pcanal commented on #31123
@lhames description makes sense to me too and the code seems indeed an improvement.   I am not sure though whether this would be enough to address the current issue (which *admittedly* I am not well understanding).  In the issue I addressed (if I recall correctly) the issue was mostly about the contiguous-ness of the code section. ... reading further...  I see " the problem is the placement of the

[2021-02-17 21:25] makortel opened #32938 "Large allocation in lowptgsfeleseed::HeavyObjectCache"
While investigating IgProf profile of 25400.0 step1 in https://github.com/cms-sw/cmssw/issues/32894#issuecomment-780130458 I noticed a large amount of memory, ~1.2 GB, being allocated in the constructor of `lowptgsfeleseed::HeavyObjectCache()`
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/113x/fastsim_07.5_live/38

It is also visible in IB IgProf profile of data workflow 146.731 step3
[c

[2021-02-17 21:25] makortel commented on #32938
assign fastsim, reconstruction

[2021-02-17 21:26] cmsbuild commented on #32938
New categories assigned: fastsim,reconstruction

@mdhildreth,@sbein,@slava77,@ssekmen,@perrotta,@jpata,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-17 21:26] cmsbuild commented on #32938
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-17 21:28] Dr15Jones commented on #32937
In general, Services will see transitions from both the parent and sub processes. It is possible to determine which it is by looking at the `ProcessContext` accessible from either the `StreamContext` or the `GlobalContext`.

https://github.com/cms-sw/cmssw/blob/f91490fd5861333c9be8b8a0ce74eb7816cb2d11/FWCore/ServiceRegistry/interface/ProcessContext.h#L34

[2021-02-17 21:35] makortel commented on #32937
Thanks. It probably would make sense for the `CondorStatusService` to increase the event counter only for the top-most Process.

[2021-02-17 21:55] Dr15Jones opened #32939 "Use Context information for EventSetup related exceptions"
The newly added EventSetup related Context information (used by the ActivityRegistry) can also be used to setup the calling 'stack' information we add to cms::Exception objects. The ED related Context information is already used for that purpose.

[2021-02-17 21:55] Dr15Jones commented on #32939
assign core

[2021-02-17 21:55] cmsbuild commented on #32939
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-17 21:56] cmsbuild commented on #32939
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-17 21:58] missirol commented on #31843
One note unrelated to PV sorting: it seems that the `ak4CaloJets` are also used by the module `muons1stStep` (although I don't know if this has any actual impact on the reconstruction).

[2021-02-17 21:59] Dr15Jones opened #32940 "[RFC] Assign IDs to EventSetup modules"
The ED modules are all assigned unique integral IDs in order to make Service related operations easier. The ES modules do not have such IDs.

[2021-02-17 21:59] Dr15Jones commented on #32940
assign core

[2021-02-17 21:59] cmsbuild commented on #32940
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-17 21:59] cmsbuild commented on #32940
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-17 23:04] slava77 commented on #32938
@bainbrid
please take a look or pass it over to who may know better.
Thank you.

[2021-02-17 23:14] slava77 commented on #32938
IIUC, the same model is also used in phase-2 reco
and it looks OK in 11_3_0_pre2
https://jiwoong.web.cern.ch/jiwoong/cgi-bin/igprof-navigator/CMSSW_11_3_0_pre2/igprof_new_step3/ig.1/430

[2021-02-18 00:28] makortel commented on #32938
I'm also a bit puzzled why the large allocations are not visible there. The difference is largely on `tinyxml2::XMLDocument`
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/113x/fastsim_07.5_live/23
vs
https://jiwoong.web.cern.ch/jiwoong/cgi-bin/igprof-navigator/CMSSW_11_3_0_pre2/igprof_new_step3/ig.1/288

The configuration (if I found the right one)
https://github.com/cms-sw/cmssw/blob/f9

[2021-02-18 00:33] slava77 commented on #32938
the memory bump in parsing the xml is expected, but then it's supposed to go away (deallocated).
Did you profile with GlibC?

[2021-02-18 01:00] slava77 commented on #32938
pre3 is also 40 MB
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_11_3_0_pre3-orig.136.888.step3.IgProf.1.MEM_LIVE/236

the above is made with ` --customise Validation/Performance/IgProfInfo.customise` and running `igprof -d -t cmsRunGlibC -mp cmsRunGlibC config.py`

Looking at the IB log:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/igprof/CMSSW_11_3_X_2021-02-17-1100

[2021-02-18 02:06] makortel commented on #32938
I profiled with jemalloc.

I've missed this detail. Perhaps this PR is a red herring then. My command was `igprof -d -t cmsRun -z -j -mp` (where `-j` stands for  `use libjemalloc.so library instead of libc.so.6`). I just repeated my profile with `cmsRunGlibC`, and the large allocation is now gone (so I'll close the issue).

Maybe it should `cmsRunGlibC` for the memory profile?

[2021-02-18 02:06] #32938 closed

[2021-02-18 02:46] slava77 commented on #32938
digging a bit more, still with 1130pre3 wf 136.888 step3 (sorry for no cross-matching of the earlier used/mentioned workflows)

with `-d -t cmsRun` the log is flooded by messages like
[code]

without `-d` (debug) it runs to completion and the total for the first event comes out at about the same 1.3GiB
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_11_3_0_pre3-orig.136

[2021-02-18 08:16] riga commented on #32883
ONNXRuntime was updated from 1.3.0 to 1.6.0 yesterday (https://github.com/cms-sw/cmsdist/pull/6649), and should be available with IB `CMSSW_11_3_X_2021-02-17-2300`. After going through a few commits, the update should also bring some performance improvements, so maybe it's worth checking the impact on the miniAOD time again.

[2021-02-18 09:29] perrotta commented on #20417
@werdmann @lgray: with the code cleaning implemented in #32764 and the followup bug fix applied with #32924 some work was restarted on DAClusterizerInZT_vect and DAClusterizerInZ_vect, in view of a planned further development for the primary vertex producer targeted at CMSSW_11_3
Before starting with the actual development, could you please comment about the possible fulfilling of this long lastin

[2021-02-18 10:57] werdmann commented on #20417
@perotta  Although I try to keep the codes similar where possible to improve the maintainability, I am not considering unifying the two, at least in the sense that we have one code that does either Z or ZT.  It is not fully clear to me at this point into which direction the ZT clustering will develop in the long run. They may in some sense diverge, e.g. when particle mass hypotheses are introduced

[2021-02-18 12:01] silviodonato opened #32944 "Build CMSSW_11_2_2_patch1"

[2021-02-18 12:01] cmsbuild commented on #32944
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-18 12:02] silviodonato commented on #32944
+1
@jordan-martins this include #32913

[2021-02-18 12:03] cmsbuild commented on #32944
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-02-18 12:03] cmsbuild commented on #32944
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-02-18 12:05] cmsbuild commented on #32944
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2906/console
CMSDIST Branch: [REL/CMSSW_11_2_2/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-18 12:06] cmsbuild commented on #32944
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2907/console
CMSDIST Branch: [REL/CMSSW_11_2_2/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-18 12:07] cmsbuild commented on #32944
The build has started for cc8_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2908/console
CMSDIST Branch: [REL/CMSSW_11_2_2/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-18 12:07] cmsbuild commented on #32944
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2909/console
CMSDIST Branch: [REL/CMSSW_11_2_2/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-18 12:20] cmsbuild commented on #32944
The build has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2910/console
CMSDIST Branch: [REL/CMSSW_11_2_2/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-18 12:22] cmsbuild commented on #32944
The build has started for slc7_amd64_gcc900 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2911/console
CMSDIST Branch: [REL/CMSSW_11_2_2/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-18 12:39] cmsbuild commented on #32944
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-cc8_ppc64le_gcc9/2908
Some tes

[2021-02-18 12:41] cmsbuild commented on #32944
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-slc7_ppc64le_gcc9/2909
Some t

[2021-02-18 12:46] cmsbuild commented on #32944
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-slc7_aarch64_gcc9/2907
Some t

[2021-02-18 12:50] cmsbuild commented on #32944
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-cc8_aarch64_gcc9/2906
Some tes

[2021-02-18 12:58] cmsbuild commented on #32944
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-slc7_amd64_gcc900/2911
Some t

[2021-02-18 13:06] cmsbuild commented on #32944
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-cc8_amd64_gcc9/2910
Some tests (

[2021-02-18 13:33] cmsbuild commented on #32944
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-cc8_ppc64le_gcc9/2908

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-18 13:38] cmsbuild commented on #32944
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-slc7_amd64_gcc900/2911

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-18 13:43] cmsbuild commented on #32944
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-cc8_aarch64_gcc9/2906

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-18 13:44] cmsbuild commented on #32944
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-slc7_aarch64_gcc9/2907

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-18 13:46] cmsbuild commented on #32944
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-cc8_amd64_gcc9/2910

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-18 14:27] cmsbuild commented on #32944
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch1-slc7_ppc64le_gcc9/2909

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-18 14:39] makortel commented on #32938
Thanks Slava for the additional tests.

So perhaps the `cmsRunGlibC` is indeed better for the IgProf memory profile. @dpiparo Would you have anything to add here?

@gartung FYI as well. I think we should look into using `cmsRunGlibC` in the IgProf memory profiles in (PR?)/IB tests.

[2021-02-18 14:47] perrotta commented on #20417
Thank you @werdmann

Then I think that this issue could be closed as "won't fix": do you agree @slava77?

[2021-02-18 15:02] slava77 commented on #20417
minimizing code replication is still important and we have sort of a triplicate in DA now (non-vect, Z, and ZT). I'd rather keep pushing (if it can be called pushing at once in a couple of years rate).

[2021-02-18 15:06] Dr15Jones opened #32946 "Add ES module construction to ActivityRegistry callbacks"
When ED modules are being construction we send callbacks to Services via the ActivityRegistry. We do not do the same thing for ES modules.

[2021-02-18 15:06] Dr15Jones commented on #32946
assign core

[2021-02-18 15:06] cmsbuild commented on #32946
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-18 15:06] cmsbuild commented on #32946
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-18 15:24] slava77 commented on #32883
11_3_0_pre2 -> CMSSW_11_3_X_2021-02-17-2300 in ms/ev
[code]
There is about 5% reduction, which kind of looks correlated with use of ONNX rather than the job running generally faster or some other changes between the releases.

I would not consider the 5% reduction a significant enough effect to resolve this issue.

[2021-02-18 15:34] eyigitba commented on #32894
Thanks for all the comments once again. I tried to implement the `GlobalCache` method with just putting the `GraphDef` in the global cache and creating the session once per stream. In this case, I confirmed that the session is created 4 times if I use `nThreads = 4`, but the workflow still crashes in `tensorflow::run`. I'm putting the crash report below in case it gives you more information about

[2021-02-18 15:50] Dr15Jones commented on #32894
The crash is here
https://github.com/tensorflow/tensorflow/blob/8e819019081f39d83df42baba4acfced3abf3f90/tensorflow/core/util/work_sharder.cc#L30

where  thread local int is being accessed. That to me implies some sort of dll related problem.

[2021-02-18 16:47] hqucms commented on #32883
Do we plan to enable AVX/AVX2 support in ONNXRuntime at some point, either explicitly or implicitly via the `MLAS_DYNAMIC_CPU_ARCH` flag? It will speed things up quite a lot (e.g., ~2x for ParticleNet).

[2021-02-19 01:51] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/32947#issuecomment-781730246 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution, VtxZResolution}
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,VtxZResolution}

[2021-02-19 01:52] makortel commented on #32628
Here is another example https://github.com/cms-sw/cmssw/pull/32947#issuecomment-781730246
![image](https://user-images.githubusercontent.com/33993/108445922-de5ca480-7222-11eb-9d0a-9b7538a43b6f.png)

[2021-02-19 11:34] silviodonato commented on #32944
upload all

[2021-02-19 11:34] cmsbuild commented on #32944
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-02-19 11:34] cmsbuild commented on #32944
Queing Jenkins upload for cc8_amd64_gcc9

[2021-02-19 11:34] cmsbuild commented on #32944
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-02-19 11:34] cmsbuild commented on #32944
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-02-19 11:34] cmsbuild commented on #32944
Queing Jenkins upload for slc7_amd64_gcc900

[2021-02-19 11:34] cmsbuild commented on #32944
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-02-19 11:35] cmsbuild commented on #32944
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1850/console

[2021-02-19 11:36] cmsbuild commented on #32944
The upload has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1851/console

[2021-02-19 11:36] cmsbuild commented on #32944
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1852/console

[2021-02-19 11:36] cmsbuild commented on #32944
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1853/console

[2021-02-19 11:36] cmsbuild commented on #32944
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2_patch1-cc8_aarch64_gcc9/1850

[2021-02-19 11:36] cmsbuild commented on #32944
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2_patch1-cc8_amd64_gcc9/1851

[2021-02-19 11:36] cmsbuild commented on #32944
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1854/console

[2021-02-19 11:37] cmsbuild commented on #32944
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2_patch1-cc8_ppc64le_gcc9/1852

[2021-02-19 11:37] cmsbuild commented on #32944
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2_patch1-slc7_aarch64_gcc9/1853

[2021-02-19 11:37] cmsbuild commented on #32944
The upload has started for slc7_amd64_gcc900 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1855/console

[2021-02-19 11:37] cmsbuild commented on #32944
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2_patch1-slc7_ppc64le_gcc9/1854

[2021-02-19 11:41] cmsbuild commented on #32944
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_2_patch1-slc7_amd64_gcc900/1855

[2021-02-19 12:34] silviodonato commented on #32944
release-notes

[2021-02-19 12:35] cmsbuild commented on #32944
Generating release notes since CMSSW_11_2_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-19 12:35] cmsbuild commented on #32944
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_2_2_patch1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_2 can be found at:

https://github.com/cms-sw/cmssw/releas

[2021-02-19 12:37] cmsbuild commented on #32944
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_2_patch1

[2021-02-19 12:40] #32944 closed

[2021-02-19 16:56] makortel opened #32953 "TrackingMonitor scales badly with the number of streams/threads"
I accidentally noticed that `TrackingMonitor` scales badly with the number of streams/threads in a Run 3 trackingOnly workflow (11634.1 step 3 in 11_2_0) that was using ttbar+PU50 events as an input. Below are per-event times for processing 64 events with 1, 2, 4, 8, and 16 threads
[code]
(the first column is the number of threads, and the third column the time per event in seconds). In this measu

[2021-02-19 16:56] makortel commented on #32953
assign dqm

[2021-02-19 16:56] cmsbuild commented on #32953
New categories assigned: dqm

@jfernan2,@andrius-k,@ahmad3213,@kmaeshima,@rvenditti,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-19 16:56] cmsbuild commented on #32953
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-19 17:03] Dr15Jones commented on #32953
The loop pointed out by Matti happens each time just 1 'eta/phi' value is added which is not needed. Instead, there are only 3 bins which have to be checked. One for each of the histograms: tkmes.TrackEtaPhi, tkmes.TrackEtaPhiInverted and tkmes.TrackEtaPhiInvertedoutofphase. It is even possible that the same bin would be filled. Therefore one could

- setup a std::set to hold the 'universal bin' I

[2021-02-19 17:15] davidlange6 commented on #32953
Or just do that double loop at end of job rather than once per track?

[2021-02-19 18:54] jfernan2 commented on #32953
@mtosi  could you please provide some feedback?

[2021-02-20 14:51] chayanit opened #32958 "StdException occurred in Phase2 D76 Geometry during RelVals production"
We recently started producing Phase2 2026D76 RelVals for release validation in 11_3_X campaign as discussed during ORP meeting about the plan to move to this new Phase2 geometry by default.

However, we have experienced small failure (<10%) related to Muon and GEM in highPU200 workflows which I think we need to check before we move forward.
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.ph

[2021-02-20 14:51] cmsbuild commented on #32958
A new Issue was created by  @chayanit Chayanit Asawatangtrakuldee.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-20 15:08] kpedro88 commented on #32958
assign upgrade

[2021-02-20 15:08] cmsbuild commented on #32958
New categories assigned: upgrade

@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-20 15:09] kpedro88 commented on #32958
@jshlee can you take a look?

[2021-02-22 12:02] eyigitba commented on #32894
Just wanted to let you know that I implemented `session` in `edm::GlobalCache` like I commented before. This didn't fix any of the issues, the workflow still crashed with the same crash report as before.

Looking at the new ROOT master IBs, I don't see the RelVals crashing anymore. Do you know what changed to fix this issue? Is this still an issue on our side that we should fix?

[2021-02-22 13:59] qliphy opened #32963 "Workflow 11634.911 appearing broken in several PR tests"
see e.g. #32900 #32932 and #32956  where many differences appear.

Although #32956 is expected to change DD4hep indeed and thus can lead to difference, but it should not affect tracks... (perhaps it is due to the change of the Geant4 history?)

[2021-02-22 14:00] cmsbuild commented on #32963
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-22 14:18] makortel commented on #32963
assing pdmv, geometry, simulation

[2021-02-22 14:19] cmsbuild commented on #32963
New categories assigned: geometry,pdmv,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@chayanit,@wajidalikhan,@makortel,@jordan-martins,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-22 15:26] makortel commented on #32894
Indeed the crashes were visible in CMSSW_11_3_ROOT6_X_2021-02-15-2300 but not anymore in CMSSW_11_3_ROOT6_X_2021-02-16-2300 or after that. The latter IB was a full build. The same holds for the default IBs for `slc7_ppc64le_gcc9`. I did not see any relevant changes in CMSSW or in externals between those two IBs (but I could have missed something). All that is compatible with @Dr15Jones' hypothesis

[2021-02-22 15:27] makortel commented on #32894
Thanks! I did not really expect that to fix the problem, but it would reduce the overall memory usage of the jobs that use `L1TMuonEndCapTrackProducer`.

[2021-02-22 15:44] cvuosalo commented on #32963
@qliphy I don't think there is any big problem. In #32900, the matrix map was missing, but it has since been added. In #32932, there XML files were changed, which may have triggered a new random seed and caused statistical fluctuations in the 11634.911 workflow. In #32956, the intent of the PR was to change the results of the workflow since there was a bug. Again, the XML files changed, which trig

[2021-02-22 15:47] dan131riley commented on #32894
Still popping up in the 11_2_X IBs, most recently CMSSW_11_2_X_2021-02-21-0000/lib/cc8_amd64_gcc9.

[2021-02-22 17:29] makortel opened #32967 "Consider an abstraction for general purpose guards"
From https://github.com/cms-sw/cmssw/pull/32934#discussion_r578040965. We have some pieces of code that use `std::unique_ptr` with custom deleter to run specific code when the scope ends. https://github.com/cms-sw/cmssw/pull/32934 uses a pattern of declaring a specific struct inside a function to do the same. It could be useful to abstract the pattern into a general purpose guard that takes only a

[2021-02-22 17:29] makortel commented on #32967
assign core

[2021-02-22 17:29] cmsbuild commented on #32967
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-22 17:29] cmsbuild commented on #32967
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-22 17:36] cvuosalo commented on #32963
I am seeing other PRs where 11634.911 is showing differences even though the PR has no affect on any workflows.
@smuzaffar Could there be a configuration problem with 11634.911 so that it incorrectly gets a new random seed for every PR test?

[2021-02-22 17:45] Dr15Jones commented on #32967
A very, very quick search turned up: https://github.com/offa/cpp-guards

[2021-02-22 17:46] smuzaffar commented on #32963
@cvuosalo , I have no idea . Can you check the RelVal configuration/output for the following to see if you can find any differences?
- cms-sw/cmsdist#6667 : https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-18345b/13008/runTheMatrix-results/11634.911_TTbar_14TeV+2021_DD4hep+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/
- IB : https://cmssdt.cern.ch/SDT/jenkins-artifacts

[2021-02-22 18:50] cvuosalo commented on #32963
@smuzaffar The `initialSeed` values in the `TTbar_14TeV_TuneCP5_cfi_GEN_SIM.py` config are the same between IB and PR tests. However, the IB test is using the ROOT unit convention, and the PR test is using the Geant4 units convention. We have just gone through the update of the DD4hep version. Could that trigger a new random seed?

[2021-02-22 19:27] Dr15Jones commented on #32967
See also https://en.cppreference.com/w/cpp/experimental/scope_exit

[2021-02-22 20:14] smuzaffar commented on #32963
I can not tell if that will trigger a new random seed or not  but for sure mixing unit is not good.
By the way, we now have newer dd4hep in IBs ( https://github.com/cms-sw/cmsdist/pull/6612/files ).  So IB should also use G4 units, I would suggest to trigger a PR tests to see if 11634.911 still shows comparison differences?

[2021-02-23 01:47] qliphy commented on #32963
I am re-triggering #32966 to see whether there is still difference from 11634.911.

[2021-02-23 04:28] qliphy commented on #32963
Re-triggering #32966 PR tests shows no difference from 11634.911.
So it seems this issue can be closed, to be confirmed at today's ORP.

[2021-02-23 05:17] jshlee commented on #32958
@kpedro88 yep will do so!

[2021-02-23 10:28] silviodonato commented on #32356
The gen fragment has been merged with #32969 and #32868

[2021-02-23 12:32] seungjin-yang commented on #32634
@ davidlange6, @jfernan2 Can you give me workflow number or a test input file for testing patch https://github.com/seungjin-yang/cmssw/commit/ca70c5b0d6e3c539ab7d7832ca40c8911e1b1e55 ?

[2021-02-23 12:52] davidlange6 commented on #32634
I believe the easiest thing is take a random run3 mc workflow and adjust the step 2 output and step3 config as suggested in the first message of this issue.

[2021-02-23 13:14] seungjin-yang commented on #32634
Thanks!

[2021-02-23 13:33] makortel commented on #32895
@cms-sw/l1-l2 (also @cms-sw/simulation-l2) Could you please take a look?

[2021-02-23 13:50] makortel commented on #32867
There is another crash in CMSSW_11_3_CLANG_X_2021-02-22-2300 workflow 31434.0 step 1
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_CLANG_X_2021-02-22-2300/pyRelValMatrixLogs/run/31434.0_TTbar_14TeV+2026D68+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step1_TTbar_14TeV+2026D68+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGl

[2021-02-23 14:14] civanch commented on #32895
@cms-sw/l1-l2 , because L1 class was introduced just recently, it would be natural, that it is renamed and not very old class from Sim. Of course, if this is not possible we will rename.

[2021-02-23 16:29] slava77 commented on #32756
there is a problem running relvals with pileup, as mentioned today in the release planning meeting. Resolution of this issue should help significantly to reduce the memory pressure.

@chayanit please post (a link to) some details on the more recent problem in phase-2.
Thank you.

[2021-02-23 16:32] qliphy commented on #32963
Closed as discussed at today's ORP.

[2021-02-23 16:33] cvuosalo commented on #32963
+1

[2021-02-23 16:40] cvuosalo opened #32977 "Excess number of "tbb" info message being generated"
Running `cmsRun Geometry/DTGeometryBuilder/test/python/validateDTGeometry_cfg.py` generates about 270,000 INFO messages:
[code]
The message is desired and appropriate, but not so many of them. It is probably generated by ROOT.

[2021-02-23 16:40] cmsbuild commented on #32977
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-23 16:43] makortel commented on #32977
assign core

[2021-02-23 16:44] cmsbuild commented on #32977
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-23 16:45] makortel commented on #32977
(some history for reference https://github.com/cms-sw/cmssw/pull/32947, https://github.com/cms-sw/cmssw/pull/32782, https://github.com/cms-sw/cmsdist/pull/6612, https://github.com/cms-sw/cmsdist/pull/6570)

[2021-02-23 19:36] hatakeyamak commented on #31280
This one came up in the PF reco chat today.
Probably a good way forward is to use to use id() and key().
(example: https://github.com/hatakeyamak/cmssw/blob/fec870f600ff2db789ddd44f9818677be3ebb6d2/RecoParticleFlow/PFProducer/plugins/importers/GeneralTracksImporter.cc#L75)

[2021-02-23 19:58] rappoccio commented on #31280
Yes, can also even investigate using =edm::Ref= or =edm::RefVector=.

[2021-02-24 02:06] #32896 closed

[2021-02-24 15:26] dan131riley commented on #32967
There a [newer version](https://github.com/offa/scope-guard) based on the [latest proposal](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p0052r10.pdf)

[2021-02-24 16:15] makortel opened #32986 "Workflow failures caused by Phase2C11T2{2,3}M9"
In CMSSW_11_3 2021-02-23-2300 the workflow 35434.0 is fails with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-02-23-2300/pyRelValMatrixLogs/run/35434.0_TTbar_14TeV+2026D78+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step1_TTbar_14TeV+2026D78+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal.log#/

[2021-02-24 16:15] makortel commented on #32986
assign upgrade

[2021-02-24 16:15] cmsbuild commented on #32986
New categories assigned: upgrade

@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-24 16:15] cmsbuild commented on #32986
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-24 16:15] makortel commented on #32986
Likely caused by https://github.com/cms-sw/cmssw/pull/32952 that added these `ModifierChain`s.

[2021-02-24 16:18] makortel commented on #32986
The `DQMOffline/Configuration` unit test failures seem to have the same cause
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-02-23-2300/unitTestLogs/DQMOffline/Configuration#/

FYI @cms-sw/dqm-l2

[2021-02-24 16:40] srimanob commented on #32986
@makortel
Thanks, will make PR to fix the issue. I've missed a file.

[2021-02-24 16:44] srimanob commented on #32986
Solve in https://github.com/cms-sw/cmssw/pull/32987
thanks @mmusich

[2021-02-24 17:15] cvuosalo commented on #32977
@ianna @civanch FYI

[2021-02-25 01:18] #32986 closed

[2021-02-25 02:21] pcanal commented on #32734
The patch has been merge into the master (for v6.24) and v6.22 patch branch.  See https://github.com/root-project/root/pull/7095

[2021-02-25 02:28] makortel commented on #32734
@smuzaffar @mrodozov Please take note for the next ROOT update(s).

[2021-02-25 09:05] eyigitba commented on #32894
Thanks for the replies (and sorry for the delay on my side).

Ok, thanks. I can see that it's still popping up in some of the 11_2_X IBs, but I don't know what we can do about that.

Thanks! It's a good idea overall. I think we'll implement it in some way soon, but we need to do some validation before submitting a PR.

[2021-02-25 14:46] makortel opened #32996 "Unit test failure in Validation/CTPPS"
Unit test in Validation/CTPPS fails in CMSSW_11_3_X_2021-02-25-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-02-25-1100/unitTestLogs/Validation/CTPPS#/

[2021-02-25 14:46] makortel commented on #32996
assign dqm

[2021-02-25 14:47] cmsbuild commented on #32996
New categories assigned: dqm

@jfernan2,@andrius-k,@ahmad3213,@kmaeshima,@rvenditti,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-25 14:47] cmsbuild commented on #32996
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-25 14:55] jfernan2 commented on #32996
@jan-kaspar @nminafra can you please have a look and provide a fix?

[2021-02-25 15:05] jan-kaspar commented on #32996
@forthommel Could this be due to #32974 ?

@makortel @jfernan2 Do you understand why this failure was not discovered during the PR tests?

[2021-02-25 15:15] forthommel commented on #32996
Possibly, but this was neither observed in my development environment nor in the unit tests of #32974 (priorly rebased on top of `CMSSW_11_3_X_2021-02-22-2300` before issuing the PR).

[2021-02-25 15:18] makortel commented on #32996
Without seeing what exactly is failing and how it is hard for me to say anything. In principle the tests of #32974 should have caught any issue that PR would cause to `Validation/CTPPS` unit tests.

There was another PPS PR merged in the same IB, https://github.com/cms-sw/cmssw/pull/32971. Could that have anything to do with this failure?

[2021-02-25 15:27] forthommel commented on #32996
Indeed it seems related to the renaming of `label` to `tag` that was not fully propagated in the validation script.
I'm currently preparing a follow-up PR.

[2021-02-25 15:35] forthommel commented on #32996
... here it is.

[2021-02-25 15:37] forthommel commented on #32996
As mentioned in the PR description, not sure why it has not been picked up by https://github.com/cms-sw/cmssw/pull/32971#issuecomment-784952590.

[2021-02-25 16:12] makortel commented on #32996
Good question. @smuzaffar, `Validation/CTPPS/python/simu_config/base_cff.py` has imports like
[code]
so `git cms-checkdeps -a` should know about `Validation/CTPPS` depending on `RecoPPS.Local`, right?

Why didn't the changes in #32971 cause `Validation/CTPPS` to be checked out in the PR tests? Could it be indirection in the imports of `cff` files, or the change ending up in `fillDescriptions()`-ge

[2021-02-25 16:22] smuzaffar commented on #32996
@makortel ,  only if `Validation/CTPPS/python/simu_config/base_cff.py` itself had changed. checkdeps knows deps but it will checkout the dependent packages if there are changes in files they depend on. e.g. changing a `.cc` file is not going to checkout any package before nothing should be depending on a source file.

[2021-02-25 16:27] makortel commented on #32996
Right. But should a change in a python file that `Validation/CTPPS/python/simu_config/base_cff.py` depends on also cause it to be checked out?

[2021-02-25 16:48] smuzaffar commented on #32996
yes, change in a python file used by `Validation/CTPPS/python/simu_config/base_cff.py`  should checkout `Validation/CTPPS`

[2021-02-25 16:52] makortel commented on #32996
What about a change in a python file used by a python file used by `Validation/CTPPS/python/simu_config/base_cff.py` (i.e. adding one level of indirection)?

[2021-02-25 16:52] forthommel commented on #32996
Can it be that `RecoPPS/Local` (only subpackage modified in #32971) is outside the ballpark of the `Validation/CTPPS` suite? As a naive follow-up question, where is this mapping defined?

[2021-02-25 17:01] smuzaffar commented on #32996
@makortel , yes it should. If `pack1/py` uses `pack2/py` and `pack2/py` uses `pack3/py` then change in `pack3/py` should checkout both pack1 and pack2.

@forthommel , mappiong is not hard coded any where. After the build of release we run `https://github.com/cms-sw/cmssw-config/blob/scramv3/SCRAM/findDependencies.pl#L119` to find out the dependencies (e.g. greping for `import and from ` statements

[2021-02-25 17:07] makortel commented on #32996
Thanks, that's what I thought. What happened with #32971 is that the `pack3/py` is generated with `fillDescriptions()` (`edmWriteConfigs`), and the C++ code change lead to a change in the generated python file. Could the dependence tracking miss this kind of update in python files?

[2021-02-25 17:16] smuzaffar commented on #32996
we are not keeping track of generated python files ( as they are not in git, so hard to find if they are changed or not) and any python file in non package/python directory.

[2021-02-25 17:16] mrodozov commented on #32977
I remember we discussed we can suggest to ROOT to add an option to silence this, but did we discussed silencing it on our own and if not why not :) ?

[2021-02-25 17:25] davidlange6 commented on #32977
Its better that we upstream patches to root…

[2021-02-25 17:25] makortel commented on #32996
Thanks, so it was the generated python file that caused the update being "missed". It's a bit unfortunate given the recommendation to use `fllDescription()`, but I suppose there is nothing simple that could be done.

[2021-02-25 17:39] makortel commented on #32977
I started to also think if we actually should give an argument to
https://github.com/cms-sw/cmssw/blob/5d91b012f45b91b94c51f743072fae2fe80c284b/FWCore/Services/plugins/InitRootHandlers.cc#L833
given comments in
https://github.com/root-project/root/blob/4f5dbbeaa69738ae03094b1cce60e8722e1f8a3d/core/base/src/TROOT.cxx#L501-L524

Then the if condition in ROOT would automatically prevent these message

[2021-02-25 17:44] smuzaffar commented on #32996
this statement was wrong, I just tested and looks like (for python files) we are only keeping track of direct dependencies.

[2021-02-25 23:25] makortel commented on #32967
Thanks for the pointers. I wonder if the newer version would be worth of integrating, given that the interface can be expected to become part of the standard (although the interface may also get revised?).

[2021-02-26 00:35] kpedro88 opened #33002 "Treatment of HCAL MC digi flavor in GPU producer"
A brief history lesson: originally (and throughout Run 2), all QIE11 MC digis were assigned flavor 0:
https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_X/EventFilter/HcalRawToDigi/plugins/PackerHelp.h#L429
https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_X/EventFilter/HcalRawToDigi/src/HcalUnpacker.cc#L631

However, the previously-unused flavor 3 was recently assigned to HB QIE11 digis to handle some

[2021-02-26 00:35] kpedro88 commented on #33002
assign reconstruction, heterogeneous

[2021-02-26 00:35] cmsbuild commented on #33002
New categories assigned: heterogeneous,reconstruction

@slava77,@perrotta,@makortel,@jpata,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-26 00:35] cmsbuild commented on #33002
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-26 01:48] qliphy opened #33003 "Build CMSSW_11_2_2_patch2"

[2021-02-26 01:48] cmsbuild commented on #33003
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-26 01:49] qliphy commented on #33003
+1

[2021-02-26 01:49] cmsbuild commented on #33003
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_2_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-02-26 01:49] cmsbuild commented on #33003
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-02-26 01:50] cmsbuild commented on #33003
The build has started for cc8_amd64_gcc9 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2912/console
CMSDIST Branch: [REL/CMSSW_11_2_2/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 01:50] cmsbuild commented on #33003
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2913/console
CMSDIST Branch: [REL/CMSSW_11_2_2/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 01:53] cmsbuild commented on #33003
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2914/console
CMSDIST Branch: [REL/CMSSW_11_2_2/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 01:54] cmsbuild commented on #33003
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2915/console
CMSDIST Branch: [REL/CMSSW_11_2_2/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 02:03] cmsbuild commented on #33003
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2916/console
CMSDIST Branch: [REL/CMSSW_11_2_2/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 02:22] cmsbuild commented on #33003
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-slc7_ppc64le_gcc9/2915
Some t

[2021-02-26 02:26] cmsbuild commented on #33003
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-cc8_ppc64le_gcc9/2914
Some tes

[2021-02-26 02:27] cmsbuild commented on #33003
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-slc7_amd64_gcc900/2913
Some t

[2021-02-26 02:29] cmsbuild commented on #33003
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-cc8_amd64_gcc9/2912
Some tests (

[2021-02-26 02:54] cmsbuild commented on #33003
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-slc7_amd64_gcc900/2913

Tests results:
36 26 6 3 3 0 0 0 0 tests passed, 0 9 19 2 0 0 0 0 0 failed

[2021-02-26 02:54] cmsbuild commented on #33003
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-cc8_aarch64_gcc9/2916
Some tes

[2021-02-26 02:56] cmsbuild commented on #33003
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-cc8_amd64_gcc9/2912

Tests results:
36 26 6 3 3 0 0 0 0 tests passed, 0 9 19 2 0 0 0 0 0 failed

[2021-02-26 03:03] cmsbuild commented on #33003
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-slc7_ppc64le_gcc9/2915

Tests results:
36 26 6 3 3 0 0 0 0 tests passed, 0 9 19 2 0 0 0 0 0 failed

[2021-02-26 03:04] cmsbuild commented on #33003
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-cc8_ppc64le_gcc9/2914

Tests results:
34 24 6 3 3 0 0 0 0 tests passed, 2 9 18 2 0 0 0 0 0 failed

[2021-02-26 03:39] cmsbuild commented on #33003
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-cc8_aarch64_gcc9/2916

Tests results:
34 24 6 3 3 0 0 0 0 tests passed, 2 9 18 2 0 0 0 0 0 failed

[2021-02-26 03:44] cmsbuild commented on #33003
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2917/console
CMSDIST Branch: [REL/CMSSW_11_2_2/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_2/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 04:20] cmsbuild commented on #33003
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-slc7_aarch64_gcc9/2917
Some t

[2021-02-26 04:59] cmsbuild commented on #33003
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_2_patch2-slc7_aarch64_gcc9/2917

Tests results:
36 26 6 3 3 0 0 0 0 tests passed, 0 9 19 2 0 0 0 0 0 failed

[2021-02-26 06:45] chayanit opened #33004 "Memory increased in Phase2 PU200 RelVal production since 11_3_0_pre1"
Long story short, during 11_2_X series, we have performed CPU and memory optimisation [*] as requested by Comp-Ops and we finally came up with the conclusion that the newly optimal parameters to submit Phase2 PU200 RelVals is *8 cores 2 streams with 12GB memory* (just a reminder that it used to be 2 cores 15GB in the past which consumed too large memory per CPU core and the memory restriction at F

[2021-02-26 06:45] cmsbuild commented on #33004
A new Issue was created by  @chayanit Chayanit Asawatangtrakuldee.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-26 06:46] chayanit commented on #32756
S

Sorry @slava77 for some delayed response. I have created issue here #33004

[2021-02-26 07:07] silviodonato commented on #33003
abort

[2021-02-26 07:07] #33003 closed

[2021-02-26 07:07] silviodonato opened #33005 "Build CMSSW_11_2_3"

[2021-02-26 07:08] cmsbuild commented on #33003
Deleting CMSSW_11_2_2_patch2:

  - Release successfully deleted

  - cmssw tag CMSSW_11_2_2_patch2 successfully deleted.

 - cmsdist tag REL/CMSSW_11_2_2_patch2/slc7_amd64_gcc900 successfully deleted.

 - cmsdist tag REL/CMSSW_11_2_2_patch2/slc7_aarch64_gcc9 successfully deleted.

 - cmsdist tag REL/CMSSW_11_2_2_patch2/slc7_ppc64le_gcc9 successfully deleted.

 - cmsdist tag REL/CMSSW_11_2_2_patch2

[2021-02-26 07:08] cmsbuild commented on #33005
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-26 07:08] silviodonato commented on #33005
+1

[2021-02-26 07:08] cmsbuild commented on #33005
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-02-26 07:08] cmsbuild commented on #33005
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-02-26 07:09] cmsbuild commented on #33005
The build has started for cc8_amd64_gcc9 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2918/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 07:09] cmsbuild commented on #33005
The build has started for slc7_amd64_gcc900 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2919/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 07:09] cmsbuild commented on #33005
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2920/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 07:09] cmsbuild commented on #33005
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2921/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 07:11] cmsbuild commented on #33005
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2922/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 07:11] cmsbuild commented on #33005
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2923/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 07:16] abdoulline commented on #33002
@kpedro88   thank you for raising this issue.

So (I'm rephrasing your information for my better understanding) :

(1) Flavor 3 is hardcoded in PackerHelp.h  in  convertHB()
https://cmssdt.cern.ch/lxr/source/EventFilter/HcalRawToDigi/plugins/PackerHelp.h#0626

(2) While this method is invoked _conditionally_  (for configurable  packHBTDC=True)
https://cmssdt.cern.ch/lxr/source/EventFilter/HcalRawT

[2021-02-26 07:51] abdoulline commented on #33002
Probably the least intrusive solution would be to set packHBTDC=True by default again and
require to customize it to False for each MC production, as we did before June 2020  (https://github.com/cms-sw/cmssw/pull/30213).
I'm not sure it would be OK for all the cases though...
We'll discuss the issue at HCAL Trigger meeting today.

[2021-02-26 08:08] cmsbuild commented on #33005
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2925/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 08:08] cmsbuild commented on #33005
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2924/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-02-26 08:50] oshadura commented on #32977
@mrodozov, I saw @davidlange6 is suggesting upstream patches to root, can I take a look please on patches?

[2021-02-26 10:11] eguiraud commented on #32977
Hi, Enrico from the ROOT team. I might be missing some larger context but in principle I agree with @makortel 's suggestion: if you use `tbb::global_control` to limit TBB's concurrency level to 1, you should also call `ROOT::EnableImplicitMT(1)`, and that should get rid of the warnings.

[2021-02-26 10:16] cmsbuild commented on #33005
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-slc7_ppc64le_gcc9/2923
Some tests (

[2021-02-26 10:27] cmsbuild commented on #33005
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-cc8_amd64_gcc9/2918
Some tests ( runThe

[2021-02-26 10:30] cmsbuild commented on #33005
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-slc7_aarch64_gcc9/2925
Some tests (

[2021-02-26 10:33] cmsbuild commented on #33005
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-cc8_ppc64le_gcc9/2922
Some tests ( ru

[2021-02-26 10:37] fwyzard commented on #33002
Thanks Kevin, I've also added it to the list of open issues in #32413 .

[2021-02-26 10:39] silviodonato commented on #33005
upload all

[2021-02-26 10:39] cmsbuild commented on #33005
Queing Jenkins upload for cc8_amd64_gcc9

[2021-02-26 10:39] cmsbuild commented on #33005
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-02-26 10:39] cmsbuild commented on #33005
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-02-26 10:40] cmsbuild commented on #33005
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-02-26 10:40] cmsbuild commented on #33005
The upload has started for cc8_amd64_gcc9 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1856/console

[2021-02-26 10:40] cmsbuild commented on #33005
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1857/console

[2021-02-26 10:41] cmsbuild commented on #33005
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3-cc8_ppc64le_gcc9/1857

[2021-02-26 10:41] cmsbuild commented on #33005
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3-cc8_amd64_gcc9/1856

[2021-02-26 10:41] cmsbuild commented on #33005
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1858/console

[2021-02-26 10:41] cmsbuild commented on #33005
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1859/console

[2021-02-26 10:41] cmsbuild commented on #33005
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3-slc7_aarch64_gcc9/1858

[2021-02-26 10:42] cmsbuild commented on #33005
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3-slc7_ppc64le_gcc9/1859

[2021-02-26 10:54] silviodonato commented on #33005
release-notes

[2021-02-26 10:54] cmsbuild commented on #33005
ATTENTION!!! The production architecture (slc7_amd64_gcc900) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2021-02-26 11:07] cmsbuild commented on #33005
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-cc8_amd64_gcc9/2918

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-26 11:16] cmsbuild commented on #33005
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-slc7_amd64_gcc900/2919
Some tests (

[2021-02-26 11:16] cmsbuild commented on #33005
Queing Jenkins upload for slc7_amd64_gcc900

[2021-02-26 11:25] cmsbuild commented on #33005
The upload has started for slc7_amd64_gcc900 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1861/console

[2021-02-26 11:26] cmsbuild commented on #33005
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-slc7_ppc64le_gcc9/2923

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-26 11:28] cmsbuild commented on #33005
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3-slc7_amd64_gcc900/1861

[2021-02-26 11:28] cmsbuild commented on #33005
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-slc7_aarch64_gcc9/2925

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-26 11:34] cmsbuild commented on #33005
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-cc8_ppc64le_gcc9/2922

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-26 11:34] cmsbuild commented on #33005
Generating release notes since CMSSW_11_2_2_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-02-26 11:34] cmsbuild commented on #33005
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_2_3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_2_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_3

Cheers

[2021-02-26 11:39] cmsbuild commented on #33005
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_3

[2021-02-26 11:59] cmsbuild commented on #33005
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-slc7_amd64_gcc900/2919

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-02-26 13:28] makortel commented on #33004
assign upgrade, reconstruction, pdmv

[2021-02-26 13:28] cmsbuild commented on #33004
New categories assigned: pdmv,upgrade,reconstruction

@slava77,@chayanit,@wajidalikhan,@perrotta,@jpata,@jordan-martins,@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-26 13:30] makortel commented on #33004
@chayanit Out of curiosity, what level of CPU efficiency those jobs achieve?

[2021-02-26 13:30] slava77 commented on #33004
@chayanit
please post a configuration/reqmgr2 detail for the failing workflow(s) in pre2 and pre3.
This may help.
We (reco) regularly monitor only production-like setup (no DQM/Validation), and it could be that #32756 is not well related

[2021-02-26 13:45] chayanit commented on #33004
Hi @slava77 , here the link leading to configuration/reqmgr2
pre2 : https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaign=CMSSW_11_3_0_pre2__UPSG_Std_2026D49PU200_highPU-1611425057
pre3 : https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaign=CMSSW_11_3_0_pre3__UPSG_Std_2026D49PU200_highPU-1613369037

@makortel not sure how we can extract such information from production

[2021-02-26 14:12] makortel commented on #33004
@chayanit

I think I was able to find `pdmvserv_RVCMSSW_11_3_0_pre3TTbar_14TeV__2026D49PU200_210215_071127_7892` in https://cmsdatapop.web.cern.ch/cmsdatapop/cpu_eff/production/CPU_Efficiency_Table.html and the overall CPU efficiency is in the ballpark of 36-38 % (depending on definition; at T1_US_FNAL).

The poor efficiency is partly visible the spreadsheet https://docs.google.com/spreadsheets/d/

[2021-02-26 14:16] slava77 commented on #33004
were the plots provided made for the full multistep workflow or just step3?
Please clarify.
The gdoc seems to imply that step2 is rather heavy as well; and the gdoc is in 102pre9 only (not detailed for 103pre2/pre3)

[2021-02-26 14:24] chayanit commented on #33004
Sorry but why we are talking about CPU efficiency here? I thought one should check which PR or what cause the significant increase in memory across release no? Do I miss anything?

[2021-02-26 14:43] makortel commented on #33004
Let's say to provide additional motivation to address the memory issue (because the 8 threads 2 streams setup wastes lot's of CPU).

But in more general, would tuning the steps differently be worthwhile (if they turn out to have very different memory scaling behavior), or would that increase the manual load too much?

[2021-02-26 14:49] kpedro88 commented on #32918
@makortel I no longer see this unit test failure in any recent IBs.

[2021-02-26 14:49] makortel commented on #32963
Test in https://github.com/cms-sw/cmssw/pull/30949#issuecomment-786203779 shows many differences in 11634.911, and the PR should have no impact on simulation.

[2021-02-26 14:54] makortel commented on #32918
+1

Right, the failure appears to be gone now.

[2021-02-26 14:54] cmsbuild commented on #32918
This issue is fully signed and ready to be closed.

[2021-02-26 15:10] abdoulline commented on #33002
At HCAL meeting it have been just decided to opt for nominal HB flavor=3  (with packed HB TDC) in  >= 11_3_X  MC.
We'll agree on and set some reasonable configurable parameters of TDC HB packing early next week and submit a PR.

[2021-02-26 16:26] cmsbuild commented on #33005
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-cc8_aarch64_gcc9/2924
Some tests ( ru

[2021-02-26 16:27] cmsbuild commented on #33005
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-02-26 16:28] cmsbuild commented on #33005
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1862/console

[2021-02-26 16:29] cmsbuild commented on #33005
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_3-cc8_aarch64_gcc9/1862

[2021-02-26 17:27] cvuosalo commented on #32963
@makortel @smuzaffar Workflow 11634.911 performs GEN-SIM every time. If there is a change in the random seed, the simulation will be slightly different due to statistical fluctuations. I am not sure what triggers a new random seed.
For the PR tests, what is the source of the baseline for comparison? Is it re-generated for each PR test? If it is old an baseline, that could be also a cause of the di

[2021-02-26 17:39] srimanob commented on #32958
Since the current short matrix test does not cover the most recent geometry, I add D76 (NoPU and Premixing) to the list of the short matrix.
https://github.com/cms-sw/cmssw/pull/33007

[2021-02-26 17:40] makortel commented on #32963
The baseline comes from the IB the PR is tested against (so changes every 12 hours). The PR test setup is such that the random number seeds are (or should be) the same every time. All the other MC workflows redo the GEN-SIM every time as well, so an infrastructure problem should be visible in other workflows as well.

[2021-02-26 17:58] cvuosalo commented on #32963
@makortel With the baseline coming from the IB, is the PR tested with IB + current PR, or is it tested with IB + latest merged PRs + current PR?

[2021-02-26 18:57] cmsbuild commented on #33005
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_3-cc8_aarch64_gcc9/2924

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-02-26 20:09] makortel commented on #32963
My recollection is that there may be other, recently merged, PRs included in the tests, but those are shown in the test result message and/or page

[2021-02-26 20:25] cvuosalo commented on #32963
Workflow 11634.911 is different from other MC workflows in that it uses XML files for the geometry, rather than getting geometry from the DB like other workflows. This fact makes it sensitive to any changes in the geometry XML files or in DD4hep. If there are such changes between the PR and the IB, then the simulation geometry will be different (slightly), and the comparison results will show stat

[2021-02-26 21:23] #33005 closed

[2021-02-27 08:44] silviodonato opened #33010 "Missing GEN-SIM input file for 11725.0 and 11925.0"
After having merged #32983 which add `11725.0` and `11925.0`, we need the corresponding GEN-SIM input files
@cms-sw/pdmv-l2 Could you add the missing files?

[2021-02-27 08:44] silviodonato commented on #33010
assign pdmv

[2021-02-27 08:45] cmsbuild commented on #33010
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-27 08:45] cmsbuild commented on #33010
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-27 12:46] srimanob opened #33012 "L1Reco step in Phase2"
Following the discussion with L1T, L1Reco step is obsolete for Phase2. Without this step, the l1 extra particles will not be added to the output (*). cmsDriver seems to be OK (**).

However, it is unclear from user/analysis side. Will we get L1 physics objects (physical representations of L1 hardware)? I think this is the reason that L1Extra was introduced in the past. Currently, this step does 4

[2021-02-27 12:46] cmsbuild commented on #33012
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-27 12:47] srimanob commented on #33012
assign upgrade, l1

[2021-02-27 12:47] cmsbuild commented on #33012
New categories assigned: upgrade,l1

@rekovic,@kpedro88,@cecilecaillol,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-27 15:23] srimanob opened #33013 "GEM Phase2 premixing does not work with g4SimHitsMuonME0Hits"
As seen in
https://github.com/cms-sw/cmssw/pull/33007#issuecomment-787071765
premixing with D76 does not work because g4SimHitsMuonME0Hits is missing.

Lookin in the premixing file, we currently have
`PCrossingFrame<PSimHit>               "mix"                       "g4SimHitsMuonGEMHits"   "DIGI" `
produced with (*) only.

Should the following parameters disable for now?
[code]
in
https://github.

[2021-02-27 15:23] cmsbuild commented on #33013
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-28 12:36] qliphy opened #33016 "Build CMSSW_8_0_36"

[2021-02-28 12:37] cmsbuild commented on #33016
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-02-28 12:37] qliphy commented on #33016
+1

[2021-02-28 12:37] cmsbuild commented on #33016
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2021-02-28 12:37] cmsbuild commented on #33016
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-02-28 12:54] srimanob commented on #33013
Assign upgrade

[2021-02-28 12:54] cmsbuild commented on #33013
New categories assigned: upgrade

@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-28 12:55] srimanob commented on #33013
Could you please have a look @dildick @watson-ij ?
Thanks very much.

[2021-02-28 13:09] cmsbuild commented on #33016
The build has started for slc6_amd64_gcc530 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2926/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2021-02-28 13:33] cmsbuild commented on #33016
The build has started for slc7_amd64_gcc530 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2927/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2021-02-28 14:35] qliphy commented on #33010
ping @cms-sw/pdmv-l2

As shown in https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-0cd059/13091/dasqueries/run.txt
we are missing this file:
/RelValGluGluTo2Jets_14TeV/CMSSW_11_2_0_pre8-112X_mcRun3_2021_realistic_v10-v1/GEN-SIM
Would you please add this?

[2021-02-28 15:15] chayanit commented on #33004
Multistep

gDoc was the work we have done since 11_2_0_pre9 for the optimisation in production based on HTCondor jobs as mentioned in the beginning

[2021-02-28 15:21] srimanob commented on #33013
I currently disable ME0 using phase2_GE0 following https://github.com/cms-sw/cmssw/pull/31309,
https://github.com/cms-sw/cmssw/pull/33007/commits/6d300817df79bbaa1a1ba08c6908015043b0e4a1

[2021-02-28 15:46] cmsbuild commented on #33016
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36-slc7_amd64_gcc530/2927
Some tests (

[2021-02-28 16:04] chayanit commented on #33010
This is

This seems impossible since the given workflows are not yet available in 11_2_0_pre8. Shall we remove from the current IB tests and add back when we update GS string in 11_3_X?

[2021-02-28 16:04] cmsbuild commented on #33016
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36-slc7_amd64_gcc530/2927

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2021-02-28 16:28] cmsbuild commented on #33016
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36-slc6_amd64_gcc530/2926
Some tests (

[2021-02-28 16:46] cmsbuild commented on #33016
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_36-slc6_amd64_gcc530/2926

Tests results:
10 10 9 8 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2021-02-28 23:56] qliphy commented on #33016
upload all

[2021-02-28 23:56] cmsbuild commented on #33016
Queing Jenkins upload for slc6_amd64_gcc530

[2021-02-28 23:56] cmsbuild commented on #33016
Queing Jenkins upload for slc7_amd64_gcc530

[2021-02-28 23:56] cmsbuild commented on #33016
The upload has started for slc6_amd64_gcc530 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1863/console

[2021-02-28 23:56] cmsbuild commented on #33016
The upload has started for slc7_amd64_gcc530 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1864/console

[2021-02-28 23:57] cmsbuild commented on #33016
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_36-slc7_amd64_gcc530/1864

[2021-02-28 23:57] cmsbuild commented on #33016
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_36-slc6_amd64_gcc530/1863

[2021-03-01 00:08] #32996 closed

[2021-03-01 00:17] qliphy commented on #33016
release-notes

[2021-03-01 00:17] cmsbuild commented on #33016
Generating release notes since CMSSW_8_0_35.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-01 00:17] cmsbuild commented on #33016
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_36 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_35 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_36

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2021-03-01 00:19] qliphy commented on #33010
@chayanit  Thanks!  Let's discuss this at the next ORP meeting.

[2021-03-01 00:21] cmsbuild commented on #33016
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_36

[2021-03-01 13:54] dildick commented on #33013
Hi @srimanob ! I've been out of the loop on the GE0 integration lately. Just to clarify, you wanted to confirm that the changes you propose would work for GE0? To me it seems fine. The latest test of WF 34634.0 in #33007 ran fine. Perhaps @watson-ij can comment?

Just searching for `g4SimHitsMuonME0Hits` on git, there is also a mention here: https://github.com/cms-sw/cmssw/blob/CMSSW_11_3_X/SimGen

[2021-03-01 14:10] dan131riley commented on #32899
With the updated ONNXRuntime aarch64 is getting assertion failures and exceptions:
[code]
with stack traces:
[code]
or just a segmentation fault:
[code]
In these there are frequently multiple threads raising the same exception.

[2021-03-01 14:23] srimanob commented on #33013
Thanks @dildick
Actually, the workflow, we currently have an issue, is 34834.999 (premixing). What I did is to disable of ME0/GE0 in stage2 as I understand that it is not ready yet.

Regarding the TrackingAnalysis, it seems you are right. Could you please confirm @watson-ij ? Thanks,

[2021-03-02 00:48] makortel commented on #32011
I had a thought that maybe we could just read all the ESProducts at the beginRun time and store pointers to them in member data (not my favorite pattern, but in principle should work and the code pretty much already assumes EventSetup changes at most Run boundaries).

That would require moving the `SimActivityRegistry` and the `SimWatcher`s and `SimProducer`s out from the thread-local storage
http

[2021-03-02 04:32] watson-ij commented on #33013
@srimanob for the GE0 geometries, the ME0 is built in the GEM system, meaning that the hits should be in GEM containers (with the other GEM detectors), and the ME0 containers won't exist. So, it is correct to disable them, not because it doesn't work, but because its integrated into GEM. The phase2_GE0 flag is used for switching between ME0 (with ME0 containers) and GE0 (without ME0 containers), s

[2021-03-02 10:00] srimanob commented on #33013
Thanks, @watson-ij for confirmation.

[2021-03-02 10:31] rekovic commented on #33012
@srimanob
As we discussed in the email thread, the above objects are are all Legacy trigger objects, and they have no meaning for Phase2. So they should be dropped, as well as the L1Reco step from the workflow.  The meaningful L1T objects for Phase2 are produced by the L1 step, i.e. in the `SimL1EmulatorTask` modified by the `phase2_trigger` modifier in the [configuration](https://github.com/cms-s

[2021-03-02 11:21] davidlange6 commented on #33012
how will this work for real data? Everything will be stored in the raw data itself?

[2021-03-02 15:40] srimanob commented on #33013
Note that, I've implement the fix to the tracking analysis to the PR. I think we can close this ticket.

[2021-03-02 15:41] srimanob commented on #32986
+1

[2021-03-02 15:41] srimanob commented on #33013
+1

[2021-03-02 15:42] cmsbuild commented on #32986
This issue is fully signed and ready to be closed.

[2021-03-02 15:42] makortel commented on #31061
The IB's provide now a list of EDModules that call the deprecated `EventSetupRecord::get()`, see e.g.
https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-static-analysis/CMSSW_11_3_X_2021-03-01-2300/slc7_amd64_gcc900/reports/eventsetuprecord-get.txt
Note that this list is filtered to show only those EDModules that are declared in any configuration file in the full `runTheMatrix.py`. There are about 23

[2021-03-02 15:42] #33013 closed

[2021-03-02 16:03] srimanob commented on #25090
Hi @jfernan2
Thanks for following up. Do I understand correctly that L1TGT is online only, and L1TRate_Offline is offline. Do you think it is possible to disable the offline one until it is fixed? So that, we can move on the full testing/validation of RECO+Validation+DQM part first. Do L1 really this module for validation (I assume not, but maybe wrong).

[2021-03-02 16:13] thomreis commented on #32480
Hi @fwyzard is the change of the types and to the cms::cuda functions supposed to work for all occurrences? For some (like the ones in EcalGainRatiosGPU.h) this compiles fine but for others (e.g. in EcalMultifitParametersGPU.h) I get compilation errors like this one:
[code]
and also this:
[code]

[2021-03-02 16:17] makortel commented on #32480
Is `product.amplitudeFitParametersEB` perhaps `double*`? In that case it should be changed to `cms::cuda::device::unique_ptr<double[]>`.

[2021-03-02 16:20] thomreis commented on #32480
No it is `edm::propagate_const_array<cms::cuda::device::unique_ptr<double[]>> amplitudeFitParametersEB;`. I have changed it from `double*`.

[2021-03-02 17:28] silviodonato commented on #32891
release-notes since CMSSW_11_2_1

[2021-03-02 17:29] cmsbuild commented on #32891
ATTENTION!!! The production architecture (slc7_amd64_gcc820) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2021-03-02 17:29] silviodonato commented on #32891
perhaps this add CMSSW_11_2_1_Patatrack
  to https://cmssdt.cern.ch/SDT/cgi-bin/ReleasesXML?anytype=1

[2021-03-02 17:30] #32891 closed

[2021-03-02 17:38] makortel commented on #32977
This is now done in https://github.com/cms-sw/cmssw/pull/33038

[2021-03-02 19:37] laurenhay commented on #30426
@slava77
This issue was discussed today and we wanted to see if it would be preferred for this change to be implemented everywhere by default, or from 2018 onward as is done [here](https://github.com/cms-sw/cmssw/blob/e81e9caaa68e4a9c17e05c8af81d8238832d9657/RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHBHE_cfi.py) for the HBHE modifier.

[2021-03-02 19:49] #33016 closed

[2021-03-02 19:50] silviodonato opened #33039 "Build CMSSW_10_6_21"

[2021-03-02 19:50] cmsbuild commented on #33039
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-02 19:53] silviodonato commented on #33039
+1

[2021-03-02 19:53] cmsbuild commented on #33039
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_21. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-03-02 19:53] cmsbuild commented on #33039
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-03-02 19:54] cmsbuild commented on #33039
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2929/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-02 19:54] cmsbuild commented on #33039
The build has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2928/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-02 20:29] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/33038#issuecomment-789183008 shows tiny differences in
* 312.0: L1TEMU/L1TdeStage2uGMT/data_vs_emulator_comparison/{mismatchRatio,errorSummaryNum}
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution

[2021-03-02 20:34] jfernan2 commented on #25090
Hi @srimanob
Your are correct about l1tGt (Online) and l1tRate_Offline (Offline)
I have disabled the latter in:
https://github.com/cms-sw/cmssw/pull/33040

[2021-03-02 20:42] makortel commented on #25090
What about `l1Gt` then? It is also being run in `runTheMatrix` workflows.

[2021-03-02 23:12] cmsbuild commented on #33039
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_21-slc7_amd64_gcc820/2929
Some tests (

[2021-03-02 23:52] cmsbuild commented on #33039
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_21-slc7_amd64_gcc820/2929

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-03 00:08] cmsbuild commented on #33039
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_21-slc7_amd64_gcc700/2928
Some tests (

[2021-03-03 00:50] cmsbuild commented on #33039
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_21-slc7_amd64_gcc700/2928

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-03 01:15] makortel commented on #32480
The second error also suggests `product.amplitudeFitParametersEE` to be a `double *`. Could you perhaps point to the code?

[2021-03-03 01:34] srimanob opened #33042 "Possibility of runTheMatrix to start from scratch when there is no dataset input (from DAS)"
From the core sw meeting (2 March), there was a discussion to try to run from scratch if there is no dataset input. Not sure if I understand the full idea on how to deal with the situation.

In the runTheMatrix, we may start from
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/WorkFlowRunner.py#L86-L99

Line 86 gives the cmsDriver for all steps and if the comma

[2021-03-03 01:35] cmsbuild commented on #33042
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-03 01:44] qliphy opened #33043 "Build CMSSW_7_1_47"

[2021-03-03 01:45] cmsbuild commented on #33043
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-03 01:45] qliphy commented on #33043
+1

[2021-03-03 01:46] cmsbuild commented on #33043
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_47. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2021-03-03 01:46] cmsbuild commented on #33043
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-03-03 01:46] cmsbuild commented on #33043
The build has started for slc6_amd64_gcc481 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2930/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2021-03-03 01:47] qliphy opened #33044 "Build CMSSW_9_3_19"

[2021-03-03 01:47] cmsbuild commented on #33044
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-03 01:47] qliphy commented on #33044
+1

[2021-03-03 01:47] cmsbuild commented on #33044
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_19. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2021-03-03 01:47] cmsbuild commented on #33044
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-03-03 01:48] qliphy opened #33045 "Build CMSSW_10_2_26"

[2021-03-03 01:48] cmsbuild commented on #33045
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-03-03 01:48] cmsbuild commented on #33044
The build has started for slc6_amd64_gcc630 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2931/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-03 01:48] cmsbuild commented on #33044
The build has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2932/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-03 01:48] qliphy commented on #33045
+1

[2021-03-03 01:49] cmsbuild commented on #33045
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_26. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2021-03-03 01:49] cmsbuild commented on #33045
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-03-03 01:50] cmsbuild commented on #33045
The build has started for slc7_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2934/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-03 01:50] cmsbuild commented on #33045
The build has started for slc6_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2933/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-03-03 02:00] makortel commented on #33042
assign pdmv, upgrade

[2021-03-03 02:00] cmsbuild commented on #33042
New categories assigned: pdmv,upgrade

@chayanit,@wajidalikhan,@jordan-martins,@kpedro88,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-03 03:42] cmsbuild commented on #33043
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_47-slc6_amd64_gcc481/2930
Some tests (

[2021-03-03 04:00] cmsbuild commented on #33043
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_47-slc6_amd64_gcc481/2930

Tests results:
7 6 5 5 3 tests passed, 0 1 0 0 0 failed

[2021-03-03 04:16] qliphy commented on #33043
https://github.com/cms-sw/cmssw/pull/32769#issuecomment-769898395
The workflow 4.22 is failing for IBs already due to missing input data

[2021-03-03 04:31] cmsbuild commented on #33044
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_19-slc7_amd64_gcc630/2932
Some tests (

[2021-03-03 04:50] cmsbuild commented on #33044
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_19-slc7_amd64_gcc630/2932

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2021-03-03 04:53] cmsbuild commented on #33045
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_26-slc7_amd64_gcc700/2934
Some tests (

[2021-03-03 05:14] cmsbuild commented on #33044
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_19-slc6_amd64_gcc630/2931
Some tests (

[2021-03-03 05:29] cmsbuild commented on #33045
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_26-slc7_amd64_gcc700/2934

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-03 05:34] cmsbuild commented on #33044
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_19-slc6_amd64_gcc630/2931

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2021-03-03 05:39] cmsbuild commented on #33045
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_26-slc6_amd64_gcc700/2933
Some tests (

[2021-03-03 06:16] cmsbuild commented on #33045
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_26-slc6_amd64_gcc700/2933

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-03-03 06:52] qliphy commented on #33043
upload all

[2021-03-03 06:52] qliphy commented on #33044
upload all

[2021-03-03 06:52] qliphy commented on #33045
upload all

[2021-03-03 06:52] cmsbuild commented on #33043
Queing Jenkins upload for slc6_amd64_gcc481

[2021-03-03 06:52] cmsbuild commented on #33044
Queing Jenkins upload for slc6_amd64_gcc630

[2021-03-03 06:52] cmsbuild commented on #33044
Queing Jenkins upload for slc7_amd64_gcc630

[2021-03-03 06:52] cmsbuild commented on #33045
Queing Jenkins upload for slc6_amd64_gcc700

[2021-03-03 06:52] cmsbuild commented on #33045
Queing Jenkins upload for slc7_amd64_gcc700

[2021-03-03 06:54] cmsbuild commented on #33045
The upload has started for slc6_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1868/console

[2021-03-03 06:54] cmsbuild commented on #33043
The upload has started for slc6_amd64_gcc481 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1865/console

[2021-03-03 06:54] cmsbuild commented on #33044
The upload has started for slc6_amd64_gcc630 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1866/console

[2021-03-03 06:54] cmsbuild commented on #33044
The upload has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1867/console

[2021-03-03 06:55] cmsbuild commented on #33045
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_26-slc6_amd64_gcc700/1868

[2021-03-03 06:55] cmsbuild commented on #33045
The upload has started for slc7_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1869/console

[2021-03-03 06:56] cmsbuild commented on #33043
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_47-slc6_amd64_gcc481/1865

[2021-03-03 06:57] cmsbuild commented on #33044
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_19-slc6_amd64_gcc630/1866

[2021-03-03 06:57] cmsbuild commented on #33044
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_19-slc7_amd64_gcc630/1867

[2021-03-03 06:58] cmsbuild commented on #33045
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_26-slc7_amd64_gcc700/1869

[2021-03-03 08:04] qliphy commented on #33043
release-notes

[2021-03-03 08:05] cmsbuild commented on #33043
Generating release notes since CMSSW_7_1_46_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-03 08:05] cmsbuild commented on #33043
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_47 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_46_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_47

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2021-03-03 08:06] qliphy commented on #33044
release-notes

[2021-03-03 08:06] cmsbuild commented on #33044
Generating release notes since CMSSW_9_3_18.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-03 08:06] cmsbuild commented on #33044
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_19 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_18 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_19

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2021-03-03 08:06] qliphy commented on #33045
release-notes

[2021-03-03 08:08] cmsbuild commented on #33045
Generating release notes since CMSSW_10_2_25.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-03 08:08] cmsbuild commented on #33045
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_26 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_25 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_26

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2021-03-03 08:09] cmsbuild commented on #33045
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_26

[2021-03-03 08:09] cmsbuild commented on #33044
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_19

[2021-03-03 08:11] cmsbuild commented on #33043
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_47

[2021-03-03 08:17] #33043 closed

[2021-03-03 08:17] #33044 closed

[2021-03-03 08:17] #33045 closed

[2021-03-03 08:19] qliphy commented on #33039
upload all

[2021-03-03 08:20] cmsbuild commented on #33039
Queing Jenkins upload for slc7_amd64_gcc700

[2021-03-03 08:20] cmsbuild commented on #33039
Queing Jenkins upload for slc7_amd64_gcc820

[2021-03-03 08:21] cmsbuild commented on #33039
The upload has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1870/console

[2021-03-03 08:21] cmsbuild commented on #33039
The upload has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1871/console

[2021-03-03 08:23] cmsbuild commented on #33039
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_21-slc7_amd64_gcc820/1871

[2021-03-03 08:24] cmsbuild commented on #33039
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_21-slc7_amd64_gcc700/1870

[2021-03-03 08:56] jfernan2 commented on #25090
You are right @makortel   it is run in the Stage10Online...
I have disabled it too in:
https://github.com/cms-sw/cmssw/pull/33040/commits/58c3757c3595f634d12c35868359a8e75d6346cb
Thanks

[2021-03-03 09:10] qliphy commented on #33039
release-notes

[2021-03-03 09:10] cmsbuild commented on #33039
Generating release notes since CMSSW_10_6_20_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-03-03 09:10] cmsbuild commented on #33039
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_21 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_20_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_21

Cheers,
cms-bot

You can also click <a href="mailto:h

[2021-03-03 09:17] cmsbuild commented on #33039
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_21

[2021-03-03 09:21] srimanob commented on #25090
Thanks very much @jfernan2
But if it runs online, does it means we will need it for MWGR when 11_3 is available? So, we will need to enable it at that time, right? (fixed or not do not matter, I assume).

[2021-03-03 09:23] fwyzard commented on #32480
I think the current code is this:
[code]
and (just a fragment):
[code]

---

I think it should become something like
[code]
and:
[code]

---

but I've been typing this in here without actually testing, so double check everything !

[2021-03-03 09:24] jfernan2 commented on #25090
@srimanob  I have disabled it ONLY for Offline in #33040
For Online it is running and we don't have problems with concurrent Lumis

[2021-03-03 09:42] thomreis commented on #32480
My branch is here: https://github.com/thomreis/cmssw/tree/ecal-local-reco-gpu-fix-issues/CondFormats/EcalObjects
I did not commit the changes yet since they do not compile.
But the changes I made look like what you have posted above (apart from the `stream` variable being named `cudaStream`)

In EcalMultifitParametersGPU.h:
[code]
In EcalMultifitParametersGPU.cc:
[code]

[2021-03-03 10:38] fwyzard commented on #32480
I've tried making these changes on top of CMSSW_11_3_0_pre3:
[code]
and they seem to build fine.

[2021-03-03 10:47] mrodozov opened #33053 "Adjust DQM code for new ClassDef version in TF1 and TFormula"
In the latest ROOT commits the ClassDef for TF1 class moved from 10 to 12

https://github.com/root-project/root/blob/master/hist/hist/inc/TF1.h#L714 ROOT master
https://github.com/root-project/root/blob/v6-22-00-patches/hist/hist/inc/TF1.h#L708 ROOT 6-22
-> TFormula from 12 to 13:
https://github.com/root-project/root/blob/master/hist/hist/inc/TFormula.h#L262
https://github.com/root-project/root/bl

[2021-03-03 10:48] cmsbuild commented on #33053
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-03 10:48] mrodozov commented on #33053
assign dqm

[2021-03-03 10:48] cmsbuild commented on #33053
New categories assigned: dqm

@jfernan2,@andrius-k,@ahmad3213,@kmaeshima,@rvenditti,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-03 10:55] thomreis commented on #32480
Thanks for confirming this. The only difference to my version that I can see is that I have moved the headers to `CondFormats/EcalConds` already. Maybe some BuildFile issue.

[2021-03-03 10:58] fwyzard commented on #32480
A silly thing: is it possible you are still including the old header from `RecoLocalCalo/EcalRecAlgos/interface/EcalMultifitParametersGPU.h`, which is then found in the release, and uses the old types ?

[2021-03-03 11:20] thomreis commented on #32480
Bingo! At least for two of the files with issues.

I still get some errors on other files. Does the recipe also work for classes that use `std::vector<float> const&` like, e.g. here: https://github.com/thomreis/cmssw/blob/ecal-local-reco-gpu-fix-issues/CondFormats/EcalObjects/interface/EcalTimeBiasCorrectionsGPU.h#L39-L42
The ones using `std::vector<float, cms::cuda::HostAllocator<float>>` all wor

[2021-03-03 12:52] fwyzard commented on #32480
No, it only works for `vector`s that use the `HostAllocator`; a standard `vector` does not "pin" its memory, so the copies need an extra step to be asynchronous (which is done internally by CUDA, but requires a worker thread and an extra memory buffer).

Can you change the type to `std::vector<float, cms::cuda::HostAllocator<float>>` ? or is there any reason why not ?

[2021-03-03 14:14] makortel commented on #32963
Here is another one https://github.com/cms-sw/cmssw/pull/32804#issuecomment-789673336. No changes that should impact random number generation sequence, no other PRs being tested, and 11634.911 showing differences.

[2021-03-03 14:22] thomreis commented on #32480
I do not know why it was implemented like that for those classes. Maybe @amassiro does?

If it can be changed to `std::vector<float, cms::cuda::HostAllocator<float>>` does the currently implemented strategy to have only one `Product.values` variable that can be allocated for `valuesEB_` and with an offset also for `valuesEE_` work? Like, e.g. in https://github.com/thomreis/cmssw/blob/ecal-local-re

[2021-03-03 14:24] makortel commented on #32977
+1

[2021-03-03 14:24] cmsbuild commented on #32977
This issue is fully signed and ready to be closed.

[2021-03-03 14:44] amassiro commented on #32480
I don't remember, it could be that at the beginning it was the only option.
Maybe @vkhristenko remembers the motivation

[2021-03-03 14:57] vkhristenko commented on #32480
I do not remember if there was any reason for this (if not documented, prolly no), but just change to use that allocator accordingly (have to make copies, etc...)

[2021-03-03 15:06] jfernan2 commented on #33053
Thanks a lot @mrodozov
Please forgive my ignorance but, for TF1 you have already done the change in #32890 (thanks!) while for TFormula, I don't see any real use of TFormula in DQM Modules/Classes, except for this ECAL file:

https://github.com/cms-sw/cmssw/blob/ba6e8604a35283e39e89bc031766843d0afc3240/DQM/EcalMonitorDbModule/src/DBReaderWorkers.cc#L81-L82

But somehow in an external way since TFo

[2021-03-03 15:27] mrodozov commented on #33053
Apart from the change in the test I was told this will affect the DQM GUI (IIRC) so I have to ping DQM people from before
That is the reason behind this issue

[2021-03-03 15:30] makortel opened #33055 "Unit test failure in CalibTracker/SiStripChannelGain"
Unit test in CalibTracker/SiStripChannelGain fails in CMSSW_11_3_X_2021-03-03-1100
[code]
http://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-03-03-1100/unitTestLogs/CalibTracker/SiStripChannelGain

[2021-03-03 15:30] cmsbuild commented on #33055
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-03 15:30] makortel commented on #33055
assign alca

[2021-03-03 15:31] cmsbuild commented on #33055
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao,@francescobrivio,@malbouis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-03 15:32] makortel commented on #33055
It is not evident from the error message or from the PRs merged in CMSSW_11_3_X_2021-03-03-1100 what could be causing the error.

[2021-03-03 16:47] christopheralanwest commented on #33055
I can't reproduce this failure. When I run `scram b runtests` in the `CalibTracker/SiStripChannelGain` package under `CMSSW_11_3_X_2021-03-03-1100` I get the following output:

[code]

The error at https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-03-03-1100/unitTestLogs/CalibTracker/SiStripChannelGain#/ does not include the last line that would be printed if the DAS

[2021-03-03 17:16] silviodonato opened #33058 "'Process' object has no attribute 'lumiProducer'"
A unit test is failing in `Configuration/DataProcessing` after having merged #33024 .
@jpata could you have a look?

[code]

[2021-03-03 17:17] silviodonato commented on #33058
assign reconstruction

[2021-03-03 17:17] cmsbuild commented on #33058
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-03 17:17] cmsbuild commented on #33058
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-03 17:22] silviodonato opened #33059 "Failed to open the file 'PromptCalibProdSiStripGains_A.root'"
Two unit tests are failing in `CalibTracker/SiStripChannelGain`
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-03-03-1100/unitTestLogs/CalibTracker/SiStripChannelGain#/
[code]

[2021-03-03 17:22] silviodonato commented on #33059
assign alca

[2021-03-03 17:22] cmsbuild commented on #33059
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao,@francescobrivio,@malbouis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-03 17:22] cmsbuild commented on #33059
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-03 17:23] silviodonato commented on #33059
I see the error appeared also in `CMSSW_11_2_X_2021-03-03-1100` even without merging any PRs https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_2_X
so it sounds like a transient problem

[2021-03-03 17:30] makortel commented on #33059
Duplicate of #33055

[2021-03-03 17:31] makortel commented on #33055
@silviodonato's comment in https://github.com/cms-sw/cmssw/issues/33059#issuecomment-789905943 also suggests a transient failure.

Could the script perhaps be modified to print out that the DAS query failed? (then it would be clear for everyone that such failure would be transient)

[2021-03-03 17:38] mmusich commented on #33055
I'll provide something, though from `Failed to open the file` seems pretty clear to me something with retrieving data is wrong...

[2021-03-03 17:45] makortel commented on #33055
In principle yes, but the file in this case is local, and without knowing the script it could be an output of an earlier job that failed in some way.

[2021-03-03 18:00] #33059 closed

[2021-03-03 18:02] silviodonato commented on #33055
Yes, because I see the error appeared also in CMSSW_11_2_X_2021-03-03-1100 even without merging any PRs https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_2_X

[2021-03-03 19:10] mmusich commented on #33055
actually I am already printing if the DAS query is unsuccessful here:

https://github.com/cms-sw/cmssw/blob/11c42d55511fb94f1ce81dbc8b3184988c10f3ef/CalibTracker/SiStripChannelGain/test/testSSTGain_PCL_FromRECO_cfg.py#L91-L93

I suppose now that I have other tests that depend on it I can make it exit with a status code 1 when there are no available files, but I am puzzled as to why the `print` mes

[2021-03-03 19:30] makortel commented on #33055
@mmusich Good point. I don't have a good idea why the printout would not propagate to the unit test log. @smuzaffar would you?

[2021-03-03 20:28] cvuosalo commented on #32963
@makortel #32804 changed tbb usage, which may have affected DD4hep. If the geometry is re-calculated and is no longer bit-wise identical to the previous geometry, that could change the simulation history and introduce statistical fluctuations. None of these changes would be significant.
I am thinking this geometry re-calculation may be the reason workflow 11634.911 is so sensitive.

[2021-03-03 20:32] Dr15Jones commented on #32963
If DD4hep uses TBB then that implies it does stuff concurrently. Maybe there is an 'order of operation' problem which changes the geometry depending on which parts of the calculation finish first? If so, that would be very bad.

[2021-03-03 20:41] makortel commented on #32963
By quick `git grep` I found these uses of TBB concurrency in DD4hep
https://github.com/AIDASoft/DD4hep/blob/57bdfda84c7d6447ba070bcaebf0bb6f278ec3c4/DDDigi/src/DigiKernel.cpp#L274-L277
https://github.com/AIDASoft/DD4hep/blob/57bdfda84c7d6447ba070bcaebf0bb6f278ec3c4/DDDigi/src/DigiKernel.cpp#L349-L352
Do we use `DigiKernel` in some way? (I'm confused by all the "event processing" printouts in that

[2021-03-03 20:48] cvuosalo commented on #32963
There's very little concurrent operation, if any, in DD4hep. In the past we had issues integrating DD4hep that were related to tbb libraries, so that is why I suggest there may be some dependency on tbb. I should ask the DD4hep team exactly what level of concurrency DD4hep supports.
My thought is that somewhere in the process of re-compiling, re-optimizing, re-linking with possibly different libra

[2021-03-03 21:08] smuzaffar commented on #33055
@mmusich @makortel this test is started under `FWCore/Utilities/interface/TestHelper.h` which might be eating up the output. I would suggest to change https://github.com/cms-sw/cmssw/blob/master/CalibTracker/SiStripChannelGain/test/BuildFile.xml#L2-L5 and directly run the testSSTGain_PCL_FromRECO.sh e.g
[code]

in this case you might want to update `testSSTGain_PCL_FromRECO.sh` and replace `${LOCA