[2019-01-19 19:46] Dr15Jones commented on #25708
Assign generators

[2019-01-19 19:46] cmsbuild commented on #25708
New categories assigned: generators

@perrozzi,@alberto-sanchez,@qliphy,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-19 20:23] Dr15Jones opened #25709 "Still memory problems in CSCTriggerPrimitivesProducer"
The Address Santizer has found the following problem:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc700/CMSSW_10_5_ASAN_X_2019-01-18-2300/pyRelValMatrixLogs/run/22034.0_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2023D23_GenSimHLBeamSpotFull14+DigiFullTrigger_2023D23+RecoFullGlobal_2023D23+HARVESTFullGlobal_2023D23/step2_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2023D23_GenSimHLBeamSpotFull14

[2019-01-19 20:48] Dr15Jones commented on #25664
`::get` and `::getHandle` are available here: #25707

The use of a `edm::ValidHandle` was changed to have the syntax
[code]
as this avoid coupling `edm::ValidHandle` to `edm::Handle` as well as allows conversion for any Handle _like_ class (e.g. `edm::OrphanHandle`).

[2019-01-19 20:48] Dr15Jones commented on #25664
assign core

[2019-01-19 22:45] kpedro88 commented on #25709
attn: @dildick @tahuang1991

[2019-01-20 02:44] tahuang1991 commented on #25709
I am looking into it

[2019-01-20 15:31] cmsbuild commented on #25689
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_10-slc7_amd64_gcc700/1256

[2019-01-20 15:31] cmsbuild commented on #25689
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_10-slc6_amd64_gcc700/1255

[2019-01-21 09:34] fabiocos opened #25712 "MTD code needed for the production version of 10_4_0 (mtd5)"
This issue is meant to keep track of the needed backports to 10_4_X from master needed for the production version of the MTD TDR release.

At present the following PRs should be considered in order of integration (22 January 22:45):

- [x] MTD geometry scenario D38 #25572 (10_5_X, merged) -> #25717 (10_4_X)

- [x] MTD time threshold #25644 (10_5_X, merged) -> #25716 (10_4_X)

- [x] MTD Fix to bar

[2019-01-21 09:36] fabiocos commented on #25712
assign upgrade

@pmeridian @lgray @casarsa @bendavid FYI

[2019-01-21 12:45] srimanob commented on #25708
The problem seems to originate from
https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc#L789-L794

fMasterGen->next() can't return properly. I can provide the protection there, but better if GEN expert can have a look and provide the fix which is meaning full in PYTHIA8 sense.

By the way, do GEN expert understands why initializeForExternalP

[2019-01-21 12:55] srimanob commented on #25708
@fabiocos
It seems this issue stays here very long, maybe because of change in Pythia. How does this issue has never been spot in the integration test? Do we have workflow that start from scratch to read LHE file with events_per_lumi defined or LHE datasets with few LS in the dataset?

[2019-01-22 09:40] VinInn commented on #18606
@schneiml , oh well, completely forgot this one.
I suspect nothing has changed although I do not think I have retested it in the last year or so.
So please act along the lines DQM leadership thinks are the best

[2019-01-22 22:02] fabiocos opened #25740 "Build CMSSW_10_4_0_mtd5"
RELEASE_QUEUE: CMSSW_10_4_X
ARCHITECTURE:slc6_amd64_gcc700,slc7_amd64_gcc700

[2019-01-22 22:03] cmsbuild commented on #25740
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-01-22 22:03] fabiocos commented on #25740
+1

[2019-01-22 22:04] cmsbuild commented on #25740
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_4_X

[2019-01-22 22:04] cmsbuild commented on #25740
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-01-22 22:05] cmsbuild commented on #25740
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1928/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-22 22:05] cmsbuild commented on #25740
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1929/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-23 02:06] cmsbuild commented on #25740
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd5-slc6_amd64_gcc700/1928
Some tes

[2019-01-23 02:14] cmsbuild commented on #25740
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd5-slc7_amd64_gcc700/1929

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-23 04:16] cmsbuild commented on #25740
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd5-slc6_amd64_gcc700/1928

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-23 12:35] fabiocos commented on #25740
Abort

an unexpected problem seen in the IB needs to be fixed before this release can be built

[2019-01-23 12:36] cmsbuild commented on #25740
Deleting CMSSW_10_4_0_mtd5:

  -Release successfully deleted

  -cmssw tag CMSSW_10_4_0_mtd5 successfully deleted.

 -cmsdist tag REL/CMSSW_10_4_0_mtd5/slc6_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_4_0_mtd5/slc7_amd64_gcc700 successfully deleted.

You must create a new issue to start over the build.

[2019-01-23 18:40] perrotta opened #25751 "Do MET uncertainties have a bug when they scale and shift down electrons?"
During the review of PR #25699 it was noticed that when adding extra electrons which are supposedly not considered by the PF, the MET uncertainties were instead somehow affected, see e.g.
![image](https://user-images.githubusercontent.com/4069749/51628836-5d992480-1f46-11e9-9aec-4f2db56f2b2a.png)

The relevant part of the discussion starts here: https://github.com/cms-sw/cmssw/pull/25699#issuecomm

[2019-01-23 18:40] perrotta commented on #25751
assign reconstruction

[2019-01-23 18:40] cmsbuild commented on #25751
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-23 18:40] cmsbuild commented on #25751
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-23 18:46] eioannou commented on #25751
@perrotta : I wiil have a look at it.

[2019-01-23 19:11] Sam-Harper commented on #25751
The bug is simple and trivial for jetMET to fix. The MET uses as input particle flow electrons. However the met uncertainties are computed by scaling up and down all electrons, including electrons which are not used in the MET calculation.

GsfElectron::passingPflowPreselection()==true should be enforced in the selector. Unless I miss understand what this is doing.

[2019-01-23 19:12] Sam-Harper commented on #25751
Also not a super huge deal of course but still technically a bug I believe

[2019-01-23 20:30] alberto-sanchez commented on #25708
Dear @srimanob thanks for the looking on this. To be honest I am trying to figure out why this happen now and not before. My test have not succed, which means I have not understand quite yet the problem. If you already have a fix, please go ahead. Otherwise it will take more time, at least from my side.

[2019-01-23 21:55] slava77 commented on #24619
it looks like this issue can be closed

[2019-01-23 21:55] #24619 closed

[2019-01-23 21:57] slava77 commented on #24795
@prebello
please let me know if there was progress with this issue.
thank you.

I guess for AlCa/GT resolution I can just assign this to alca

[2019-01-23 21:57] slava77 commented on #24795
assign alca

[2019-01-23 21:57] cmsbuild commented on #24795
New categories assigned: alca

@tocheng,@pohsun,@franzoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-23 22:11] prebello commented on #24795
Hi @slava77  no progress so far but I guess we can quickly update the inputs in 136.8562 then. Nevertheless I see that a proper GT (new conditions?) is needed from AlCa side, right?
do you want that PdmV makes a PR in master for this update or someone else will do it? It would be available only for merging in 10-5-0-pre2, although we can quickly test it in any release acc proper conditions.

[2019-01-24 17:24] angirar commented on #25197
@Dr15Jones Thank you for pointing out the error in SeedFinderSelector related to https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/RecoTracker/TkHitPairs/interface/LayerHitMapCache.h#L33 where it overrides the hit associated to same layer index. I have rewritten that section https://github.com/angirar/cmssw/commit/08094f8ce97049bd39ef0db3c9e557ec1201a0c4 by carefully ca

[2019-01-24 17:57] fabiocos commented on #25708
@alberto-sanchez the crash happens here

https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/Pythia8Interface/plugins/LHAupLesHouches.cc#L101

when in the LHAupLesHouches setEvent method the map is cleared, it looks there is something wrong with the map infoPtr->eventAttributes , if I check its size before clearing it at the beginning of the new LS it looks strangely large (printing ->s

[2019-01-25 10:40] fabiocos opened #25765 "Build CMSSW_10_4_0_mtd5"

[2019-01-25 10:40] cmsbuild commented on #25765
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-01-25 10:50] franzoni commented on #25712
greetings @kpedro88
all PR's and milestones reported in this issue are available and merged.
Is there any more step before we can have _mtd5 built ?

[2019-01-25 11:38] cmsbuild commented on #25740
The cleanup has started for slc6_amd64_gcc700

[2019-01-25 11:38] cmsbuild commented on #25740
The cleanup has started for slc7_amd64_gcc700

[2019-01-25 11:38] #25740 closed

[2019-01-25 11:38] cmsbuild commented on #25740
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd5-slc6_amd64_gcc700/1257

[2019-01-25 11:38] cmsbuild commented on #25740
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd5-slc7_amd64_gcc700/1258

[2019-01-25 12:05] fabiocos commented on #25765
+1

[2019-01-25 12:06] cmsbuild commented on #25765
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_4_X

[2019-01-25 12:06] cmsbuild commented on #25765
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-01-25 12:07] cmsbuild commented on #25765
The build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1931/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-25 14:02] kpedro88 commented on #25712
see #25765

[2019-01-25 14:54] fabiocos commented on #25708
@srimanob the changes directly touching generator's code in between 10_1_0_pre1 and _pre2 are for the addition of Dire and Vincia, which are separate components not used in the failing run for what I can see, and the more suspicious #22069 where LHEEventProduct management (constructor and "=" operator) are modified

[2019-01-25 14:59] srimanob commented on #25708
@fabiocos I agree with you. Nothing spots me what can be potential issue. But I can reproduce my test when 10_1_0_pre1 can work with pLHE. Anything on patch with pythia8?

[2019-01-25 15:02] fabiocos commented on #25708
@srimanob I think you refer to http://github.com/cms-sw/cmsdist/pull/3711 , this is the external Dire library, I doubt it enters in any way here. Or what else do you mean?

[2019-01-25 16:42] cmsbuild commented on #25765
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd5-slc7_amd64_gcc700/1931
Some tes

[2019-01-25 18:18] cmsbuild commented on #25765
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd5-slc6_amd64_gcc700/1930
Some tes

[2019-01-25 18:49] cmsbuild commented on #25765
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd5-slc7_amd64_gcc700/1931

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-25 20:08] cmsbuild commented on #25765
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd5-slc6_amd64_gcc700/1930

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-25 21:06] fabiocos commented on #25765
upload all

[2019-01-25 21:07] cmsbuild commented on #25765
Queing Jenkins upload for slc6_amd64_gcc700

[2019-01-25 21:07] cmsbuild commented on #25765
Queing Jenkins upload for slc7_amd64_gcc700

[2019-01-25 21:09] cmsbuild commented on #25765
The upload has started for slc6_amd64_gcc700 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1257/console

[2019-01-25 21:09] cmsbuild commented on #25765
The upload has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1258/console

[2019-01-25 21:10] cmsbuild commented on #25765
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd5-slc7_amd64_gcc700/1258
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-25 21:10] cmsbuild commented on #25765
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-25 21:14] cmsbuild commented on #25765
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd5-slc6_amd64_gcc700/1257
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-25 21:14] cmsbuild commented on #25765
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-25 21:17] fabiocos commented on #25765
release-notes since CMSSW_10_5_X_mtd4

[2019-01-25 21:18] cmsbuild commented on #25765
Previous release "CMSSW_10_5_X_mtd4" does not appear to be a valid release name

[2019-01-25 21:19] fabiocos commented on #25765
release-notes since CMSSW_10_4_0_mtd4

[2019-01-25 21:19] cmsbuild commented on #25765
Generating release notes since CMSSW_10_4_0_mtd4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-01-25 21:19] cmsbuild commented on #25765
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_4_0_mtd5 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_4_0_mtd4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_mtd5

Cheers,
cms-bot

You can also click <a href="mai

[2019-01-25 21:20] cmsbuild commented on #25765
Generating release notes since CMSSW_10_4_0_mtd4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-01-25 21:20] cmsbuild commented on #25765
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_4_0_mtd5 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_4_0_mtd4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_mtd5

Cheers,
cms-bot

You can also click <a href="mai

[2019-01-25 21:20] cmsbuild commented on #25765
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd5

[2019-01-25 21:21] cmsbuild commented on #25765
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd5

[2019-01-26 12:00] fabiocos opened #25771 "Build CMSSW_10_5_0_pre1"

[2019-01-26 12:03] cmsbuild commented on #25771
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-01-26 15:11] fabiocos commented on #25771
build cmssw-tool-conf

[2019-01-26 15:11] cmsbuild commented on #25771
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-01-26 15:13] cmsbuild commented on #25771
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1934/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-26 15:13] cmsbuild commented on #25771
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1933/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-26 15:13] cmsbuild commented on #25771
There was an error building cmssw-tool-conf for slc6_amd64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc6_amd64_gcc700/1932

[2019-01-26 16:07] cmsbuild commented on #25771
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-013.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1935/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-26 16:53] smuzaffar commented on #25771
I am looking in to it.

[2019-01-26 16:55] cmsbuild commented on #25771
There was an error building cmssw-tool-conf for slc6_amd64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc6_amd64_gcc700/1936

[2019-01-26 16:58] cmsbuild commented on #25771
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild87.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1937/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-26 17:39] cmsbuild commented on #25771
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc7_amd64_gcc700/1933

[2019-01-26 19:33] Dr15Jones opened #25772 "Uninitialized data used in HGCDigitizer"
While running valgrind on MTD TDR jobs involving the MixingModule, uses of unintialized data were reported in HGCDigitizer.

[2019-01-26 19:34] cmsbuild commented on #25772
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-26 19:36] Dr15Jones commented on #25772
The exact valgrind output was
[code]
and
[code]
Which were reported in that order.

[2019-01-26 19:51] kpedro88 commented on #25772
assign simulation, upgrade

[2019-01-26 19:52] cmsbuild commented on #25772
New categories assigned: upgrade,simulation

@kpedro88,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-26 19:55] Dr15Jones commented on #25772
The lines of code pointed to are
https://github.com/cms-sw/cmssw/blob/37e96dca36fc4c03aa224c8be1f8a7b15b82fdc7/SimCalorimetry/HGCalSimProducers/src/HGCDigitizer.cc#L477

and

https://github.com/cms-sw/cmssw/blob/37e96dca36fc4c03aa224c8be1f8a7b15b82fdc7/SimCalorimetry/HGCalSimProducers/src/HGCDigitizer.cc#L467

In both cases `tdcForToAOnset[waferThickness-1]` is used in a comparison. The array `tdc

[2019-01-26 20:03] civanch commented on #25598
Backports to 10_3 and 10_4 are merged.

[2019-01-26 20:05] #25598 closed

[2019-01-26 20:12] cmsbuild commented on #25771
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc6_amd64_gcc700/1937

[2019-01-26 20:43] cmsbuild commented on #25771
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc7_aarch64_gcc700/1935

[2019-01-26 23:31] Dr15Jones commented on #25772
I added an assert in the code to check the value returned from `getCellThickness`. The value was always between 1-4, so is fine.

[2019-01-26 23:33] Dr15Jones commented on #25772
I printed out the values for the array tdcForToAOnset after the call which filled it and reran with valgrind (which puts dummy values in uninitialized memory). I got the following:
[code]
Without running with valgrind I got `tdcForToAOnset 0 0 0` so it looks like there is something wrong with how that array gets filled. in the call
https://github.com/cms-sw/cmssw/blob/CMSSW_10_4_X/SimCalorimetry/H

[2019-01-27 04:06] Dr15Jones commented on #25772
This is fixed in #25775

[2019-01-27 09:08] fabiocos commented on #25771
+1

[2019-01-27 09:08] cmsbuild commented on #25771
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-01-27 09:08] cmsbuild commented on #25771
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-01-27 09:08] cmsbuild commented on #25771
Queuing Jenkins build for the following architectures: slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-01-27 09:09] cmsbuild commented on #25771
The build has started for slc7_amd64_gcc700 in cmsbuild86.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1939/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-27 09:09] cmsbuild commented on #25771
The build has started for slc7_amd64_gcc820 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1940/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-27 09:09] cmsbuild commented on #25771
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-012.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1938/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-27 09:11] cmsbuild commented on #25771
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc6_amd64_gcc700/1941

[2019-01-27 09:15] fabiocos commented on #25771
@smuzaffar it looks like again the same problem as yesterday: is there an issue with the build environment on slc6?

[2019-01-27 09:47] fabiocos commented on #25771
apparently the system restarted the build of cmsdist, while this should have been already done according to https://github.com/cms-sw/cmssw/issues/25771#issuecomment-457862324

[2019-01-27 13:09] cmsbuild commented on #25771
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc7_amd64_gcc820/1940
Some tes

[2019-01-27 14:44] cmsbuild commented on #25771
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc7_amd64_gcc700/1939
Some tes

[2019-01-27 15:16] cmsbuild commented on #25771
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc7_amd64_gcc820/1940

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-27 15:57] Dr15Jones opened #25776 "Crash in Pythia8Hadronizer in IB RelVal"
There was a segmentation fault in Pythia8 when called from Pythia8Hadronizer

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc6_amd64_gcc700/CMSSW_10_5_X_2019-01-25-2300/pyRelValMatrixLogs/run/25210.0_TTbar012Jets_NLO_Mad_py8_Evt_13+TTbar012Jets_NLO_Mad_py8_Evt_13+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25/step1_TTbar012Jets_NLO_Mad_py8_Evt_13+TTbar012Jets_NLO_Mad_py8_Evt_13+DIGIUP15_PU25+RECOUP

[2019-01-27 15:58] cmsbuild commented on #25776
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-27 16:01] Dr15Jones commented on #25776
The relevant stack trace is
[code]

Earlier in the log, we also see
[code]

[2019-01-27 16:02] Dr15Jones commented on #25776
assign generators

[2019-01-27 16:02] cmsbuild commented on #25776
New categories assigned: generators

@alberto-sanchez,@perrozzi,@efeyazgan,@qliphy you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-27 16:06] Dr15Jones commented on #25776
The problem might be related to the ongoing problem in  #25638

[2019-01-27 16:45] cmsbuild commented on #25771
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc7_amd64_gcc700/1939

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-27 16:55] cmsbuild commented on #25771
The build has started for slc6_amd64_gcc700 in cmsbuild86.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1942/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-27 17:47] cmsbuild commented on #25771
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc7_aarch64_gcc700/1938
Some

[2019-01-27 20:31] cmsbuild commented on #25765
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd5-slc6_amd64_gcc700/1259

[2019-01-27 20:34] cmsbuild commented on #25765
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd5-slc7_amd64_gcc700/1260

[2019-01-27 22:16] cmsbuild commented on #25771
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc6_amd64_gcc700/1942

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-27 22:53] cmsbuild commented on #25771
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1-slc7_aarch64_gcc700/1938

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-28 08:55] fabiocos commented on #25771
upload all

[2019-01-28 08:56] cmsbuild commented on #25771
Queing Jenkins upload for slc6_amd64_gcc700

[2019-01-28 08:56] cmsbuild commented on #25771
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-01-28 08:56] cmsbuild commented on #25771
Queing Jenkins upload for slc7_amd64_gcc820

[2019-01-28 08:58] cmsbuild commented on #25771
The upload has started for slc7_amd64_gcc700 in cmsbuild86.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1261/console

[2019-01-28 08:58] cmsbuild commented on #25771
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-012.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1260/console

[2019-01-28 08:58] cmsbuild commented on #25771
The upload has started for slc7_amd64_gcc820 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1262/console

[2019-01-28 08:58] cmsbuild commented on #25771
The upload has started for slc6_amd64_gcc700 in cmsbuild86.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1259/console

[2019-01-28 08:59] cmsbuild commented on #25771
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre1-slc7_aarch64_gcc700/1260
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-28 09:00] cmsbuild commented on #25771
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre1-slc7_amd64_gcc820/1262
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-28 09:00] cmsbuild commented on #25771
CERN AFS installation skipped for slc7_amd64_gcc820 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-28 09:00] cmsbuild commented on #25771
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre1-slc6_amd64_gcc700/1259
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-28 09:00] cmsbuild commented on #25771
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-28 09:03] cmsbuild commented on #25771
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre1-slc7_amd64_gcc700/1261
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-28 09:03] cmsbuild commented on #25771
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-28 09:06] fabiocos commented on #25771
release-notes since CMSSW_10_4_0_patch1

[2019-01-28 09:06] cmsbuild commented on #25771
Generating release notes since CMSSW_10_4_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-01-28 09:06] cmsbuild commented on #25771
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_5_0_pre1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc6_amd64_gcc700
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_4_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_5_0_pre1

Cheers,
cms-bot

You can al

[2019-01-28 09:07] cmsbuild commented on #25771
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre1

[2019-01-28 14:14] srimanob commented on #25708
I think you mean https://github.com/cms-sw/cmssw/pull/22069, not https://github.com/cms-sw/cmssw/pull/22609

[2019-01-28 14:14] fabiocos commented on #25712
Release built

[2019-01-28 14:14] #25712 closed

[2019-01-28 14:35] davidlange6 commented on #25708
and it shouldn't be - as infoPtr is not part of the derived class. anyone have a pointer to Pythia8::LHAup?

[2019-01-28 14:55] kpedro88 commented on #25708
https://github.com/cms-externals/pythia8/blob/cms/230/include/Pythia8/LesHouches.h

[2019-01-28 18:04] makortel commented on #25708
I suspect the following could be happending (just based on browsing code, not tested)
1. `HadronizerFilter<HAD,DEC>::beginLuminosityBlockProduce()` calls `Pythia8Hadronizer::initializeForExternalPartons()` https://github.com/cms-sw/cmssw/blob/38440fe6d435b980776e75ebc045e2b7f2866a38/GeneratorInterface/Core/interface/HadronizerFilter.h#L389
2. `Pythia8Hadronizer::initializeForExternalPartons()` con

[2019-01-28 22:51] makortel commented on #16481
An alternative to the `TransientHandle`/`TransientRef` etc would be a traits template along
[code]

For types for which the template has been specialized, `Event::put()` or `Event::emplace()` would then use the `ProductID`s to record the data dependencies. Types without specialization would be assumed to refer to all input products and to all other output products of a producer.

In addition, to s

[2019-01-28 22:52] makortel commented on #25664
With mechanism like https://github.com/cms-sw/cmssw/issues/16481#issuecomment-458334469 the restriction above would not be needed.

[2019-01-29 13:49] fabiocos commented on #25292
@amaltaro @Dr15Jones @bbockelm what is the conclusion of this thread? Do we need a backport (and where) of this fix, or having it in the most recent versions is enough?

[2019-01-29 17:21] Dr15Jones opened #25782 "Memory over-read in HLTExoticaValidator"
The address sanitizer found a memory over-read in HLTExoticaPlotter::fillHist.

[2019-01-29 17:22] cmsbuild commented on #25782
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-29 17:22] Dr15Jones commented on #25782
The sanitizer log:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_5_ASAN_X_2019-01-25-2300/pyRelValMatrixLogs/run/250208.18_SMS-T1tttt_mGl-1500_mLSP-100_13UP18+SMS-T1tttt_mGl-1500_mLSP-100_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25/step3_SMS-T1tttt_mGl-1500_mLSP-100_13UP18+SMS-T1tttt_mGl-1500_mLSP-100_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HA

[2019-01-29 17:25] Dr15Jones commented on #25782
I took a look at the code and found the origin. At this line
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/HLTriggerOffline/Exotica/src/HLTExoticaPlotter.cc#L167

I added `assert(dxys.size() > j);` which failed when running step 3 of workflow 250208.18.

[2019-01-29 17:26] Dr15Jones commented on #25782
assign dqm

[2019-01-29 21:40] Dr15Jones opened #25785 "Memory over-read in L1TMuonOverlapTrackProducer"
The address sanitizer caught a memory out of bounds read in `GhostBusterPreferRefDt::select` which is being called by `L1TMuonOverlapTrackProducer`.

[2019-01-29 21:41] cmsbuild commented on #25785
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-29 21:42] Dr15Jones commented on #25785
The link to the log is:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_5_ASAN_X_2019-01-25-2300/pyRelValMatrixLogs/run/140.56_RunHI2018+RunHI2018+RECOHID18+HARVESTDHI18/step2_RunHI2018+RunHI2018+RECOHID18+HARVESTDHI18.log#/

with the relevant information being:
[code]

[2019-01-29 21:45] Dr15Jones commented on #25785
Looking at the code, the problem is likely
https://github.com/cms-sw/cmssw/blob/4626d53e6562a9fe9f18f25a9f48d7cc858cb0fd/L1Trigger/L1TMuonOverlap/src/GhostBusterPreferRefDt.cc#L23
or
https://github.com/cms-sw/cmssw/blob/4626d53e6562a9fe9f18f25a9f48d7cc858cb0fd/L1Trigger/L1TMuonOverlap/src/GhostBusterPreferRefDt.cc#L24

with either `a.getRefLayer()` or `b.getRefLayer()` returning a value outside of

[2019-01-29 21:52] Dr15Jones commented on #25785
And `getRefLayer()` can indeed return -1 since that is the value for the defaultly constructed `AlgoMuon` and is the value `OMTFSorter::sortSingleResult` returns if there were no hits:

https://github.com/cms-sw/cmssw/blob/4626d53e6562a9fe9f18f25a9f48d7cc858cb0fd/L1Trigger/L1TMuonOverlap/src/OMTFSorter.cc#L32-L42

[2019-01-29 21:52] Dr15Jones commented on #25785
assign l1

[2019-01-29 21:53] cmsbuild commented on #25785
New categories assigned: l1

@rekovic,@nsmith- you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-30 00:48] slava77 commented on #25570
For some reason valgrind was not helpful here.
After some effort I managed to make repeatable non-reproducibilities and debugged this down to the same file as the known problem already reported in #21313

So, I'm closing this as a duplicate of #21313

[2019-01-30 00:48] #25570 closed

[2019-01-30 08:08] cmsbuild commented on #25771
The cleanup has started for slc7_aarch64_gcc700

[2019-01-30 08:08] cmsbuild commented on #25771
The cleanup has started for slc6_amd64_gcc700

[2019-01-30 08:08] cmsbuild commented on #25771
The cleanup has started for slc6_amd64_gcc700

[2019-01-30 08:08] cmsbuild commented on #25771
The cleanup has started for slc7_amd64_gcc700

[2019-01-30 08:08] cmsbuild commented on #25771
The cleanup has started for slc7_amd64_gcc820

[2019-01-30 08:08] #25771 closed

[2019-01-30 08:09] cmsbuild commented on #25771
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre1-slc7_amd64_gcc700/1263

[2019-01-30 08:10] cmsbuild commented on #25771
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre1-slc7_amd64_gcc820/1264

[2019-01-30 08:17] cmsbuild commented on #25771
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre1-slc7_amd64_gcc700/1261

[2019-01-30 08:17] cmsbuild commented on #25771
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre1-slc7_amd64_gcc820/1262

[2019-01-30 09:26] fabiocos opened #25787 "Build CMSSW_7_1_37"

[2019-01-30 10:11] fabiocos opened #25789 "Build CMSSW_10_5_0_pre1_ROOT614"
ARCHITECTURE:slc7_amd64_gcc700
CMSSW_COMMIT:CMSSW_10_5_0_pre1
CMSDIST_COMMIT:5cef2b456d1414b1a86790d1cb08482e76f56925

[2019-01-30 10:11] cmsbuild commented on #25789
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-01-30 10:19] fabiocos commented on #25789
@smuzaffar as discussed, I pick the pre1 CMSSW commit, and for CMSDIST I point to the present HEAD of IB/CMSSW_10_5_X/rootnext where root 6.14 is stored. In this way a few more external updates will be added on top of the original pre1 CMSDIST version:

5cef2b456d1414b1a86790d1cb08482e76f56925 Merge pull request #4662 from mrodozov/root-update-v6-14-00-patches-20190128
1a67fee315ed6548155b51eefaf9

[2019-01-30 10:51] smuzaffar commented on #25789
@fabiocos , yes eigen might give some noticeable difference. How about we create a new branch for this release which should be identical to CMSSW_10_5_0_pre1 state + root 614 fix?

[2019-01-30 11:00] fabiocos commented on #25789
@smuzaffar let me prepare a dedicated tag

[2019-01-30 11:00] #25789 closed

[2019-01-30 11:46] ssekmen commented on #25197
@Dr15Jones , any feedback on @angirar's question above is very welcome.  Thanks.

[2019-01-30 12:36] cmsbuild commented on #25787
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_37-slc6_amd64_gcc481/1943
Some tests (

[2019-01-30 12:56] cmsbuild commented on #25787
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_37-slc6_amd64_gcc481/1943

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2019-01-30 13:07] fabiocos commented on #25787
upload all

[2019-01-30 13:08] cmsbuild commented on #25787
Queing Jenkins upload for slc6_amd64_gcc481

[2019-01-30 13:10] cmsbuild commented on #25787
The upload has started for slc6_amd64_gcc481 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1263/console

[2019-01-30 13:10] cmsbuild commented on #25787
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_37-slc6_amd64_gcc481/1263
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-30 13:10] cmsbuild commented on #25787
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-30 14:01] Dr15Jones commented on #25197
The best way to determine if the memory problem has been fixed is to rerun the job which found it. To do that
[code]
If the address sanitizer finds a problem, it will abort the job and print in the log what it found.

[2019-01-30 14:12] fabiocos opened #25792 "Build CMSSW_10_5_0_pre1_ROOT614"
ARCHITECTURE:slc7_amd64_gcc700
CMSSW_COMMIT:CMSSW_10_5_0_pre1
CMSDIST_COMMIT:fc105pre1root614

[2019-01-30 14:12] cmsbuild commented on #25792
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-01-30 14:13] fabiocos commented on #25787
release-notes

[2019-01-30 14:13] cmsbuild commented on #25787
Generating release notes since CMSSW_7_1_36.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-01-30 14:13] cmsbuild commented on #25787
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_37 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_36 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_37

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2019-01-30 14:14] cmsbuild commented on #25787
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_37

[2019-01-30 14:54] slava77 commented on #21313
+1

based on the comments provided in this thread I made a "fix" in  #25786

[2019-01-30 14:55] cmsbuild commented on #21313
This issue is fully signed and ready to be closed.

[2019-01-30 15:01] Dr15Jones commented on #21313
@smuzaffar please close

[2019-01-30 15:04] #21313 closed

[2019-01-30 15:22] fabiocos commented on #25792
build cmssw-tool-conf

[2019-01-30 15:24] cmsbuild commented on #25792
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-01-30 15:24] cmsbuild commented on #25792
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1944/console
CMSDIST Branch: [fc105pre1root614](https://github.com/cms-sw/cmsdist/commits/fc105pre1root614), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-30 15:25] slava77 opened #25795 "resolve inconsistent tracking use in reco workflows with HeavyIons scenario using phase-1 tracker"
It was discussed as early as in Nov 2017  (in connection with #21313) that the tracking setup in Run2_2018 workflows with HeavyIons scenario are using software not adopted to use the phase-1 pixel tracker.

Presently in the runTheMatrix only the workflow 150.0 is affected.

This is a low priority issue, considering no production use for a HeavyIons scenario setup with phase-1 tracker.
It may end u

[2019-01-30 15:25] slava77 commented on #25795
assign reconstruction

[2019-01-30 15:25] cmsbuild commented on #25795
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-30 15:25] cmsbuild commented on #25795
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-30 15:39] slava77 opened #25796 "create or update flat-pt QCD MC workflow with a flat spectrum as used in standard JME studies"
As discussed in
https://github.com/cms-sw/cmssw/pull/21717#issuecomment-457242402
xxx071 workflows presently used in the matrix are not delivering a flat or well covering spectrum.
    - e.g. 10071 is using the QCDForPF_13TeV_TuneCUETP8M1_cfi gen fragment, which generates a spectrum of pthat terminating at 3 TeV with a shape expected to be somewhat far from flat and smaller than possible LHC reach

[2019-01-30 15:39] slava77 commented on #25796
assign generators,pdmv

[2019-01-30 15:39] cmsbuild commented on #25796
New categories assigned: pdmv,generators

@alberto-sanchez,@prebello,@zhenhu,@perrozzi,@efeyazgan,@qliphy,@pgunnell you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-30 15:39] cmsbuild commented on #25796
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-30 15:43] slava77 commented on #25796
@VinInn @hatakeyamak
you may be interested in this

[2019-01-30 15:53] aperloff commented on #25796
Tagging JME experts @ahinzmann @zdemirag
The JERC conveners Yi Chen and Giuseppe Latino might also be interested, but I don't know their GitHub usernames.

[2019-01-30 15:54] kpedro88 commented on #25772
+upgrade

[2019-01-30 15:54] kpedro88 commented on #25078
@bsunanda checking on this again

[2019-01-30 15:55] kpedro88 commented on #21129
@bsunanda ping

[2019-01-30 15:57] kpedro88 opened #25799 "Clean up HGCFEElectronics"
Overuse of `ps.exists()` in `HGCFEElectronics` led to uninitialized variables, which were corrected in #25775.

The class should be cleaned up or redesigned to have a more consistent set of parameters, to reduce the probability of such problems recurring in the future.

attn: @rovere, @amartelli

[2019-01-30 15:57] kpedro88 commented on #25799
assign simulation,upgrade

[2019-01-30 15:57] cmsbuild commented on #25799
New categories assigned: upgrade,simulation

@kpedro88,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-30 15:57] cmsbuild commented on #25799
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-30 17:35] cmsbuild commented on #25792
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1_ROOT614-slc7_amd64_gcc700/1

[2019-01-30 19:02] fabiocos commented on #25792
+1

[2019-01-30 19:03] bsunanda commented on #25078
@kpedro88 Trying to submit a PR with some fixes. I am not sure if it cures all

[2019-01-30 19:03] cmsbuild commented on #25792
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre1_ROOT614. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-01-30 19:04] cmsbuild commented on #25792
The build has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1945/console
CMSDIST Branch: [fc105pre1root614](https://github.com/cms-sw/cmsdist/commits/fc105pre1root614), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-30 22:57] cmsbuild commented on #25792
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1_ROOT614-slc7_amd64_gcc700/1945

[2019-01-31 01:05] cmsbuild commented on #25792
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre1_ROOT614-slc7_amd64_gcc700/1945

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-31 09:21] angirar commented on #25197
@Dr15Jones Hi, I tried to set up the release 'CMSSW_10_5_ASAN_X_2019-01-25-2300' with scram arch 'slc7_amd64_gcc700' in my lxplus area. But while bringing the FastSimulation/Tracking/ package via git, I'm getting following error -
git: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by git)
git: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /cvmfs/cms-ib.cern.ch/week0/sl

[2019-01-31 10:45] fabiocos commented on #25792
upload all

[2019-01-31 10:46] cmsbuild commented on #25792
Queing Jenkins upload for slc7_amd64_gcc700

[2019-01-31 10:48] cmsbuild commented on #25792
The upload has started for slc7_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1264/console

[2019-01-31 10:50] cmsbuild commented on #25792
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre1_ROOT614-slc7_amd64_gcc700/1264
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-31 10:50] cmsbuild commented on #25792
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-31 12:34] fabiocos commented on #25792
release-notes since CMSSW_10_5_0_pre1

[2019-01-31 12:35] cmsbuild commented on #25792
ATTENTION!!! The production architecture () is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2019-01-31 12:43] fabiocos commented on #25792
@smuzaffar ?

[2019-01-31 13:00] Dr15Jones commented on #25197
@smuzaffar any ideas?

[2019-01-31 13:03] davidlange6 commented on #25197
is this on an slc6 machine? (eg, lxplus)

[2019-01-31 14:01] angirar commented on #25197
Thanks @ssekmen , all, it works fine on lxplus7 machine.

[2019-01-31 14:35] fabiocos commented on #25792
release-notes since CMSSW_10_5_0_pre1

[2019-01-31 16:05] fabiocos commented on #25792
It will not work as the branch is not marked as PROD_ARCH=1 in https://github.com/cms-sw/cms-bot/blob/master/config.map#L7 (thanks to @smuzaffar for the clarification).

The reference to the cmsdist tag is here:
https://github.com/cms-sw/cmsdist/compare/IB/CMSSW_10_5_X/gcc700...fc105pre1root614

[2019-01-31 16:22] smuzaffar commented on #25792
yes, every thing looks OK for this release. We can update bot to use CMSSW_N_M_X production arch if it can not find PROD_ARCH for such special releases.

[2019-01-31 16:42] angirar commented on #25197
Hi everyone, it seems that the memory issue can be fixed by my new changes https://github.com/angirar/cmssw/commit/08094f8ce97049bd39ef0db3c9e557ec1201a0c4
@Dr15Jones I ran the 2017.1 and 2017.8 workflows in ASAN release like you instructed, and the job finished successfully without aborting in between.
I will go ahead and create the PR now.

[2019-01-31 16:44] ssekmen commented on #25197
Thank you very much @angirar !

[2019-01-31 17:00] slava77 commented on #25792
do we have a set of jenkins comparisons with this compared to what's in the current production 10_5_0_pre1?

[2019-02-01 13:23] cmsbuild commented on #25787
The cleanup has started for slc6_amd64_gcc481

[2019-02-01 13:23] #25787 closed

[2019-02-01 15:59] yamaguchi1024 opened #25833 "kBT_Hex is not a member of TEveBoxSet"
Hi,

I am getting the error below while building CMSSW, it is something new which I think was introduced few days ago.
[code]

Checking ROOT TEveBoxSet.h, kBT_Hex is indeed not a member of TEveBoxSet and AddHex neither. I thought the definition in cms fork of ROOT, but they also does not exist there. Could someone give me a bit of context of this code?

Thanks!
Yuka - ROOT developer

[2019-02-01 15:59] cmsbuild commented on #25833
A new Issue was created by  @yamaguchi1024 Yuka Takahashi.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-01 16:00] yamaguchi1024 commented on #25833
@Mourtz could help me maybe?

[2019-02-01 16:46] Mourtz commented on #25833
Hex support was introduced in this commit/branch https://github.com/osschar/root/commit/5a6dd4f2d64bd0e7f565811464e070d751b0f771 a few months ago.

@alja @osschar  any ideas?

[2019-02-01 16:47] kpedro88 commented on #25833
assign visualization

[2019-02-01 16:47] kpedro88 commented on #25833
Looks like the PR to upstream ROOT is still open: https://github.com/root-project/root/pull/2985

[2019-02-01 16:47] cmsbuild commented on #25833
New categories assigned: visualization

@Dr15Jones,@alja you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-01 18:47] osschar commented on #25833
I need to make PRs similar to this https://github.com/cms-sw/root/pull/117 for cms version of root-6.14 and 6.16

[2019-02-01 19:11] osschar commented on #25833
@smuzaffar, which 6.14 and 6.16 branches of cms-sw/root should I make the PR against?

[2019-02-01 22:08] yamaguchi1024 commented on #25833
Thanks all for help!

I see https://github.com/root-project/root/pull/2985 was merged into master.

[2019-02-02 16:01] Dr15Jones commented on #25776
Another crash has occurred
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc700/CMSSW_10_5_X_2019-01-31-2300/pyRelValMatrixLogs/run/111.0_JpsiMM_Pt_20_inf+JpsiMM_Pt_20_inf+DIGI+RECO/step1_JpsiMM_Pt_20_inf+JpsiMM_Pt_20_inf+DIGI+RECO.log

The relevant info
[code]

[2019-02-04 09:48] fabiocos commented on #25197
@angirar @ssekmen I assume that this fix #25824 is needed in 10_2_X, right? Could you please provide its backport?

[2019-02-04 09:50] smuzaffar commented on #25833
@osschar , all of cms-sw/root branches has the patch now. As root-project/root#2985 is merged, it would be nice to get this back ported to root 6.16 and 6.14

[2019-02-04 09:55] smuzaffar commented on #25833
@yamaguchi1024 , as root-project/root#2985 is merged so just rebase your cxxmodule root branch on top of root/master and this should fix CXXMODULE IBs.

[2019-02-04 09:55] ssekmen commented on #25197
@fabiocos , indeed.  I already attempted the backport, but it resulted in some 10_5_X vs 10_2_X conflicts in 2 RecoLocalTracker/SiPixelRecHits headers.  I consulted @angirar on this, and she is already looking into it.

[2019-02-04 10:17] eioannou opened #25849 "MET Significance and Covariance Matrix discrepancy between AOD and MiniAOD"
There is a discrepancy in AOD and MiniAOD step for MET significance and covariance matrix values. The MET significance and covariance matrix should be equal for AOD and MiniAOD but they are not. The problem was spotted in hypernews:
https://hypernews.cern.ch/HyperNews/CMS/get/met/580/1.html

The AOD and MiniAOD use the same algorithm to calculate the met significance and covariance matrix values w

[2019-02-04 10:18] cmsbuild commented on #25849
A new Issue was created by  @eioannou Emilios Ioannou.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-04 12:56] Dr15Jones commented on #25849
assign reconstruction

[2019-02-04 12:56] cmsbuild commented on #25849
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-04 13:19] slava77 commented on #25849
@eioannou
please point to the code/configuration that computes the significance in AOD.
Your description mentions \*Pat\* objects, which apparently points to the classic PAT configuration (non-miniAOD).

[2019-02-04 13:20] slava77 commented on #25849
assign analysis,xpog

this seems like not an issue for reco. The problematic place is apparently in the default PAT configuration which is not equal to miniAOD.

[2019-02-04 13:21] cmsbuild commented on #25849
New categories assigned: xpog,analysis

@peruzzim,@santocch,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-04 13:33] alberto-sanchez commented on #25708
I have tried to follow @makortel receipt. So in LHAupLesHouches::setEvent() I forced
infoPtr->eventAttributes = fEvAttributes;

doing this we are making sure it points to the current one, even across different LS

[2019-02-04 13:42] srimanob commented on #25708
Hi @alberto-sanchez @makortel
Thanks a lot for working on this. I admit that now I am a bit lost. It's not clear to me, what exactly change between 10_1_0_pre1 and 10_1_0_pre2, and let this problem happens. What @makortel mentioned, is it not the same in 10_1_0_pre1? Thx.

[2019-02-04 15:09] slava77 commented on #25573
+1

pull requests with the fix were merged to 102X,103X,104X already.
The issue can be closed.

[2019-02-04 16:19] osschar commented on #25833
Yess, Axel didn't want it in 6.16 even though it was still sort of on time (before release but after feature freeze).

Thanks Shahzad! :)

[2019-02-04 16:59] pgunnell commented on #25708
Dear @alberto-sanchez, just to add to the discussion that the fix for this issue is needed for producing any pLHE+GS sample in the current MC campaign. The test we performed when submitting pLHE+GS in a task chain failed with the same error. For now, this is a show stopper for production.

[2019-02-05 02:15] kpedro88 commented on #24452
Here is the list of outstanding comments on #25063:
https://github.com/cms-sw/cmssw/pull/25063/files#r243429181
https://github.com/cms-sw/cmssw/pull/25063/files#r243420792
https://github.com/cms-sw/cmssw/pull/25063/files#r230146631
https://github.com/cms-sw/cmssw/pull/25063/files#r242384007
https://github.com/cms-sw/cmssw/pull/25063/files#r243436615
https://github.com/cms-sw/cmssw/pull/25063/files

[2019-02-05 08:52] eioannou commented on #25849
Hi @slava77,  the code/configuration that computes the significance in AOD, is called by metProducer_cfi.py  with the "computeSignificance" parameter:
https://github.com/cms-sw/cmssw/blob/34bf02b7fe2571e3be29cc161cf08a0b8edaed7d/PhysicsTools/PatAlgos/python/producersLayer1/metProducer_cfi.py#L50

This configuration calls the PATMETProducer which produces the patMET and computes the singificance an

[2019-02-05 09:37] eioannou commented on #25849
Additionally, if one tries to print the number of Source Candidate Ptrs for each lepton at this part of the code:
https://github.com/cms-sw/cmssw/blob/34bf02b7fe2571e3be29cc161cf08a0b8edaed7d/RecoMET/METAlgorithms/src/METSignificance.cc#L70-L81
 the number of source candidates will be different between AOD and MiniAOD. This affects the computation of sumPt
https://github.com/cms-sw/cmssw/blob/34bf

[2019-02-05 10:03] fabiocos opened #25859 "Build CMSSW_10_2_11"

[2019-02-05 10:04] cmsbuild commented on #25859
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-02-05 10:05] fabiocos commented on #25859
+1

[2019-02-05 10:06] cmsbuild commented on #25859
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-02-05 10:06] cmsbuild commented on #25859
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-02-05 10:07] cmsbuild commented on #25859
The build has started for slc7_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1947/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-05 10:07] cmsbuild commented on #25859
The build has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1946/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-05 14:12] cmsbuild commented on #25859
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_11-slc7_amd64_gcc700/1947
Some tests (

[2019-02-05 16:00] cmsbuild commented on #25859
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_11-slc7_amd64_gcc700/1947

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-02-05 17:15] cmsbuild commented on #25859
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_11-slc6_amd64_gcc700/1946
Some tests (

[2019-02-05 17:42] smuzaffar commented on #25792
@slava77 The root6.14 PR compamrison results are now available https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-4678/32997/summary.html

[2019-02-05 18:10] slava77 commented on #25792
Thanks.
I see the already known issue, which I attribute to a difference in reading the reco::HitPattern class from the old file (created before the most recent iorules were introduced).

[2019-02-05 20:58] fabiocos commented on #25859
upload all

[2019-02-05 20:58] cmsbuild commented on #25859
Queing Jenkins upload for slc6_amd64_gcc700

[2019-02-05 20:58] cmsbuild commented on #25859
Queing Jenkins upload for slc7_amd64_gcc700

[2019-02-05 21:00] cmsbuild commented on #25859
The upload has started for slc7_amd64_gcc700 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1266/console

[2019-02-05 21:00] cmsbuild commented on #25859
The upload has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1265/console

[2019-02-05 21:01] cmsbuild commented on #25859
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_11-slc7_amd64_gcc700/1266
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-05 21:01] cmsbuild commented on #25859
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-05 21:09] cmsbuild commented on #25859
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_11-slc6_amd64_gcc700/1265
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-05 21:09] cmsbuild commented on #25859
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-05 21:11] fabiocos commented on #25859
release-notes

[2019-02-05 21:11] cmsbuild commented on #25859
Generating release notes since CMSSW_10_2_10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-02-05 21:11] cmsbuild commented on #25859
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_11 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_11

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2019-02-05 21:12] cmsbuild commented on #25859
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_11

[2019-02-06 08:18] amaltaro commented on #25292
From my side it can be closed. We're changing the default release to be used for those LogCollect jobs to >= 10_4_X .

[2019-02-06 09:43] fabiocos opened #25868 "DD4Hep DT Geometry Builder: implement comments"
In the review of #25842 a list fo comments was proposed to @ianna by @Dr15Jones and @cvuosalo . We agreed to merge the PR to simplify further work, and address all the comments in a second step. This issue should serve as a reminder for the follow-up.

[2019-02-06 09:43] ianna opened #25869 "MUON Geometry Overlaps"
There are a few extrusions ~3 cm in MUON geometry:
![screenshot 2019-02-06 10 36 30](https://user-images.githubusercontent.com/1390682/52332756-e1014e00-29fb-11e9-8d0f-7bab0804f8e1.png)

[2019-02-06 09:44] cmsbuild commented on #25868
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-06 09:44] ianna commented on #25869
assign @slomeo

[2019-02-06 09:44] cmsbuild commented on #25869
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-06 09:44] fabiocos commented on #25868
assign geometry

[2019-02-06 09:44] cmsbuild commented on #25868
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@ianna,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-06 09:45] ianna commented on #25869
assign geometry
assign simulation

[2019-02-06 09:45] cmsbuild commented on #25869
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@ianna,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-06 16:07] ianna opened #25875 "DD Units Macro"
are we using Apache/Drill?
https://drill.apache.org/docs/data-type-conversion/#convert_to-and-convert_from

there is also a convert_to (function) in boost...

I would strongly recommend to add say a "DD_" leader at least

anyhow excellent move just after releasing the new cams coding conventions....

_Originally posted by @VinInn in https://github.com/cms-sw/cmssw/pull/25857_

[2019-02-06 16:07] ianna commented on #25875
assign geometry

[2019-02-06 16:08] cmsbuild commented on #25875
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@ianna,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-06 16:08] cmsbuild commented on #25875
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-06 16:09] ianna opened #25876 "Migration from CLHEP Units to DD Units"
@cvuosalo this is for sure useful, I checked which is the present use of CLHEP/Units/GlobalSystemOfUnits.h within CMSSW and I see that this is used in 234 places, about 100 files in Geometry and the rest in other areas (mostly simulation but not only)

     1  IOMC/EventVertexGenerators/src/BeamProfileVtxGenerator.cc:12:#include "CLHEP/Units/GlobalSystemOfUnits.h"
     2  IOMC/EventVertexGenerator

[2019-02-06 16:09] ianna commented on #25876
assign geometry

[2019-02-06 16:09] cmsbuild commented on #25876
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-06 16:10] cmsbuild commented on #25876
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@ianna,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-06 16:20] cvuosalo commented on #25875
Should `DetectorDescription/Core/interface/DDUnits.h` be moved to a more generic location, like `FWCore/Common/interface`? It may be needed by several packages.

[2019-02-06 19:39] Dr15Jones commented on #25665
#25877 implements this idea. In order to be forward looking, only `edm:::ESGetToken` based calls are supported.

The interface is
[code]

[2019-02-06 19:48] Dr15Jones commented on #25664
+1

[2019-02-06 19:49] cmsbuild commented on #25664
This issue is fully signed and ready to be closed.

[2019-02-06 19:51] Dr15Jones commented on #25641
+1

[2019-02-06 19:51] #25641 closed

[2019-02-06 19:51] cmsbuild commented on #25641
This issue is fully signed and ready to be closed.

[2019-02-06 19:52] #25664 closed

[2019-02-07 06:37] eioannou commented on #25751
I confirm that there is a bug which is related to the computation of the met uncertainties. They are computed by scalling up and down all electrons. A possible solution is to edit the two files below in order to scale up and down only PF electrons.
https://github.com/cms-sw/cmssw/blob/17b8235c793832707138ee5eeb04a427de5fda02/PhysicsTools/PatUtils/plugins/ShiftedParticleProducer.cc#L41-L57
https://

[2019-02-07 08:43] fabiocos commented on #25292
@amaltaro @bbockelm thanks, so I would say that Alan may close the issue.

[2019-02-07 09:15] fabiocos commented on #25708
In my understanding #25850 is effectively a workaround, as the infoPtr is not deleted and re-initialized at the LS boundary. But in principle it should work

[2019-02-07 14:05] slava77 opened #25884 "produce lowPtGsfEle slimmed collections for the default miniAOD"
This is a follow up to #25753 .
During the review of this PR the new slimmed low-pt electron collections were added to the miniAOD only for bParking era/modifier due to a significant size increase for the default setup.
This issue should aim for a working low-pt electron setup in the default miniAOD to make use of the products created in RECO and saved in AOD.

[2019-02-07 14:05] cmsbuild commented on #25884
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-07 14:08] slava77 commented on #25884
assign reconstruction,xpog

@Sam-Harper @lsoffi @bainbrid @mverzett
I consider this as a somewhat low priority/best-effort case and perhaps to be implemented with some real feedback from the bParking data experience.

[2019-02-07 14:09] cmsbuild commented on #25884
New categories assigned: xpog,reconstruction

@slava77,@peruzzim,@perrotta,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-07 15:42] perrotta commented on #25751
Thank you @eioannou !
Please notify here when a PR with your fix will become available

[2019-02-07 20:25] cmsbuild commented on #25859
The cleanup has started for slc6_amd64_gcc700

[2019-02-07 20:25] cmsbuild commented on #25859
The cleanup has started for slc7_amd64_gcc700

[2019-02-07 20:25] #25859 closed

[2019-02-07 20:33] cmsbuild commented on #25859
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_11-slc7_amd64_gcc700/1267

[2019-02-07 20:33] cmsbuild commented on #25859
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_11-slc6_amd64_gcc700/1266

[2019-02-07 20:52] slava77 commented on #25796
ping
perhaps a representative for the generators could comment on introducing a gen fragment to the CMSSW first.
Once available we could move on to making a "matrix" workflow.
Thank you.

[2019-02-07 21:06] qliphy commented on #25796
JME-RunIIFall18GS-00004 indeed is the new and right fragment for flat QCD with CP5 Tune.

You may refer to JME MC Contact's report
https://indico.cern.ch/event/746826/contributions/3090559/attachments/1700082/2737672/JME_MCstatusGenMeeting.pdf#page=5&zoom=auto,-153,48

the parameters mentioned in the slides can also be matched with
https://github.com/cms-sw/cmssw/blob/d76c3a1bb0d2a7f22883f419d45b5

[2019-02-08 10:34] peruzzim commented on #25573
+xpog

the fix was merged in 102X and all subsequent releases

[2019-02-08 10:34] cmsbuild commented on #25573
This issue is fully signed and ready to be closed.

[2019-02-08 22:19] Dr15Jones opened #25898 "Inconsistent header DTGeometryBuilder.h"
The header file consistency checker found the following problems:
[code]

[2019-02-08 22:19] cmsbuild commented on #25898
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-08 22:20] Dr15Jones commented on #25898
assign geometry

[2019-02-08 22:20] cmsbuild commented on #25898
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@ianna,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-08 22:23] ianna commented on #25898
how do you run it?

[2019-02-08 23:08] ianna commented on #25898
addressed here https://github.com/cms-sw/cmssw/pull/25897/commits/2ddd53d526417f2f5f9277ff7be261cb0ec6c289

[2019-02-09 03:41] alberto-sanchez commented on #25708
#25850 has been merged

[2019-02-09 03:41] alberto-sanchez commented on #25708
+1

[2019-02-09 03:42] cmsbuild commented on #25708
This issue is fully signed and ready to be closed.

[2019-02-09 12:46] ianna commented on #25898
Fixed in https://github.com/cms-sw/cmssw/pull/25897

[2019-02-09 12:46] ianna commented on #25898
+1

[2019-02-09 12:47] cmsbuild commented on #25898
This issue is fully signed and ready to be closed.

[2019-02-09 13:20] Dr15Jones commented on #25898
Thanks Yana.

[2019-02-09 13:20] #25898 closed

[2019-02-09 20:30] Dr15Jones commented on #25785
What is the timeline for getting this fixed?

[2019-02-09 20:32] Dr15Jones commented on #25782
What is the timeline for getting this fixed?

[2019-02-10 21:13] kpedro88 opened #25901 "Build CMSSW_10_2_11_patch1"

[2019-02-10 21:15] cmsbuild commented on #25901
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-02-10 21:15] kpedro88 commented on #25901
+1

[2019-02-10 21:15] cmsbuild commented on #25901
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_11_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-02-10 21:15] cmsbuild commented on #25901
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-02-10 21:17] cmsbuild commented on #25901
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1948/console
CMSDIST Branch: [REL/CMSSW_10_2_11/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_11/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-10 21:17] cmsbuild commented on #25901
The build has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1949/console
CMSDIST Branch: [REL/CMSSW_10_2_11/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_11/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-10 21:50] cmsbuild commented on #25901
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_11_patch1-slc6_amd64_gcc700/1948
Some

[2019-02-10 21:52] cmsbuild commented on #25901
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_11_patch1-slc7_amd64_gcc700/1949
Some

[2019-02-10 23:29] cmsbuild commented on #25901
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_11_patch1-slc6_amd64_gcc700/1948

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-02-11 00:01] cmsbuild commented on #25901
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_11_patch1-slc7_amd64_gcc700/1949

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-02-11 00:04] kpedro88 commented on #25901
upload all

[2019-02-11 00:04] cmsbuild commented on #25901
Queing Jenkins upload for slc6_amd64_gcc700

[2019-02-11 00:05] cmsbuild commented on #25901
Queing Jenkins upload for slc7_amd64_gcc700

[2019-02-11 00:05] cmsbuild commented on #25901
The upload has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1267/console

[2019-02-11 00:05] cmsbuild commented on #25901
The upload has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1268/console

[2019-02-11 00:06] cmsbuild commented on #25901
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_11_patch1-slc7_amd64_gcc700/1268
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-11 00:06] cmsbuild commented on #25901
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_11_patch1-slc6_amd64_gcc700/1267
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-11 00:06] cmsbuild commented on #25901
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-11 00:06] cmsbuild commented on #25901
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-11 00:08] kpedro88 commented on #25901
release-notes since CMSSW_10_2_11

[2019-02-11 00:08] cmsbuild commented on #25901
Generating release notes since CMSSW_10_2_11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-02-11 00:08] cmsbuild commented on #25901
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_11_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_11_patch1

Cheers,
cms-bot

You can also click <a h

[2019-02-11 00:09] cmsbuild commented on #25901
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_11_patch1

[2019-02-11 09:36] yamaguchi1024 opened #25903 "Creation of automatically generated classes.h"
HI all,

https://github.com/cms-sw/cmssw/pull/25826/files

I was discussing with Shahzad, we were inspired by this PR, and thought that it might be possible to automatically create classes.h globbing in interface/ directory. So it will add all interface/ header files to genreflex invocation.

I think it'll be not a heavy implementation, but if anyone have an objection, please let us know.

[2019-02-11 09:36] cmsbuild commented on #25903
A new Issue was created by  @yamaguchi1024 Yuka Takahashi.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-11 18:03] smuzaffar commented on #25903
assign core
@Dr15Jones , do you see any side effects of this approach ? If all we need are the headers of the packages then scram should be able to generate classes.h at build time.

[2019-02-11 18:03] cmsbuild commented on #25903
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-11 18:46] Dr15Jones commented on #25903
@smuzaffar how are you going to know which headers to use for templated classes?

[2019-02-11 21:49] Dr15Jones opened #25908 "CTPPSFastTrackingProducer has thread safety issues"
The static analyzer found two cases of CTPPSFastTrackingProducer using non-const statics. This needs to be fixed.

[2019-02-11 21:49] cmsbuild commented on #25908
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-11 21:49] Dr15Jones commented on #25908
The following is what was found.
[code]
[code]

[2019-02-11 21:50] Dr15Jones commented on #25908
assign simulation

[2019-02-11 21:50] cmsbuild commented on #25908
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-11 21:52] Dr15Jones commented on #25908
All of the following global variables need to be removed
https://github.com/cms-sw/cmssw/blob/bf2725036a928f2863bf5545a676b6f5ee38e263/Utilities/PPS/interface/PPSUtilities.h#L19-L22

[2019-02-11 23:38] kpedro88 commented on #25908
assign fastsim

[2019-02-11 23:38] cmsbuild commented on #25908
New categories assigned: fastsim

@civanch,@ssekmen,@mdhildreth,@lveldere you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-11 23:39] kpedro88 commented on #25908
@mundim @sandrofonseca please take a look

[2019-02-12 02:29] kpedro88 opened #25909 "Build CMSSW_9_3_14"

[2019-02-12 02:30] cmsbuild commented on #25909
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-02-12 02:32] kpedro88 commented on #25909
build cmssw-tool-conf

[2019-02-12 02:32] cmsbuild commented on #25909
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-02-12 02:34] cmsbuild commented on #25909
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1951/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-12 02:34] cmsbuild commented on #25909
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1950/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-12 02:42] kpedro88 opened #25910 "Use PluginFactory in HepMCFilterDriver"
The pattern to identify requested filters in `HepMCFilterDriver` (https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/Core/src/HepMCFilterDriver.cc) could be automated by using an `edmplugin::PluginFactory`. There are a number of examples throughout CMSSW.

[2019-02-12 02:42] kpedro88 commented on #25910
assign generators

[2019-02-12 02:44] cmsbuild commented on #25910
New categories assigned: generators

@alberto-sanchez,@perrozzi,@efeyazgan,@qliphy you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-12 02:44] cmsbuild commented on #25910
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-12 04:02] cmsbuild commented on #25909
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14-slc6_amd64_gcc630/1950

[2019-02-12 04:13] cmsbuild commented on #25909
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14-slc7_amd64_gcc630/1951

[2019-02-12 04:52] kpedro88 commented on #25909
+1

[2019-02-12 04:55] cmsbuild commented on #25909
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_14. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-02-12 04:55] cmsbuild commented on #25909
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-02-12 04:56] cmsbuild commented on #25909
The build has started for slc6_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1952/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-12 04:57] cmsbuild commented on #25909
The build has started for slc7_amd64_gcc630 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1953/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-12 08:25] cmsbuild commented on #25909
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14-slc7_amd64_gcc630/1953
Some tests (

[2019-02-12 09:26] cmsbuild commented on #25909
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14-slc7_amd64_gcc630/1953

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-02-12 10:34] cmsbuild commented on #25909
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14-slc6_amd64_gcc630/1952
Some tests (

[2019-02-12 11:36] cmsbuild commented on #25909
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_14-slc6_amd64_gcc630/1952

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-02-12 12:55] cmsbuild commented on #25909
Queing Jenkins upload for slc6_amd64_gcc630

[2019-02-12 12:55] cmsbuild commented on #25909
Queing Jenkins upload for slc7_amd64_gcc630

[2019-02-12 12:58] cmsbuild commented on #25909
The upload has started for slc7_amd64_gcc630 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1270/console

[2019-02-12 12:58] cmsbuild commented on #25909
The upload has started for slc6_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1269/console

[2019-02-12 12:59] cmsbuild commented on #25909
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_14-slc7_amd64_gcc630/1270
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-12 12:59] cmsbuild commented on #25909
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-12 13:03] cmsbuild commented on #25909
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_14-slc6_amd64_gcc630/1269
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-12 13:03] cmsbuild commented on #25909
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-12 13:05] kpedro88 commented on #25909
release-notes since CMSSW_9_3_13_patch3

[2019-02-12 13:05] cmsbuild commented on #25909
Generating release notes since CMSSW_9_3_13_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-02-12 13:05] cmsbuild commented on #25909
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_14 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_13_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_14

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-02-12 13:06] cmsbuild commented on #25909
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_14

[2019-02-12 16:53] Dr15Jones opened #25919 "Outstanding issues to migrating to ROOT 6.14"
This is a collection of items that need to be resolved before CMSSW can be migrated to ROOT 6.14

[2019-02-12 16:53] Dr15Jones commented on #25919
FYI @slava77 @pcanal

[2019-02-12 16:53] cmsbuild commented on #25919
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-12 16:58] Dr15Jones commented on #25919
When running merge jobs on release validation jobs for CMSSW_10_5_0_pre1 using ROOT 6.14 we experienced segmentation faults because the default main thread stack size was too small for the ROOT IO code to read a particular branch. When the crash occurred, the stack size was of order 16k deep.

Increasing the stack to 10M (up from the default of 8M) allowed the jobs to complete.

[2019-02-12 20:52] makortel opened #25922 "Clean up MixingModule configurations"
At the moment we have 67 configuration files in `SimGeneral/MixingModule/python` that contain a definition of the `MixingModule`. This organization may cause maintenance problems in the future (e.g. for adding a new parameter or customizing existing one with a Modifier).

A better way would be to have a single definition from which the pileup distribution files would clone the `MixingModule` confi

[2019-02-12 20:52] cmsbuild commented on #25922
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-12 20:54] kpedro88 commented on #25922
assign simulation

[2019-02-12 20:54] cmsbuild commented on #25922
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-12 21:01] davidlange6 commented on #25922
the functionality is already available for the vast majority. eg

https://github.com/cms-sw/cmssw/blob/master/SimGeneral/MixingModule/python/mix_2018_25ns_JuneProjectionFull18_PoissonOOTPU_cfi.py

it just has to be put to use on the old files

[2019-02-12 21:02] makortel opened #25923 "Allow EDAliases when a job is configured to run MixingModule in playback mode"
Currently the `MixingModule` playback mode is set up in `cmsDriver.py` as
https://github.com/cms-sw/cmssw/blob/c52e2819d7a2bca52273e9c36fc99622313eff71/Configuration/Applications/python/ConfigBuilder.py#L1819-L1823

The line deleting all EDAliases is potentially harmful as it essentially prevents using EDAliases e.g. in RAW2DIGI or RECO. The line is there likely because when the `MixingModule` is

[2019-02-12 21:02] cmsbuild commented on #25923
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-12 21:03] makortel commented on #25923
I gave a quick look what it would mean to use a `Modifier` to enable the playback mode, but that is impractical because of #25922.

[2019-02-12 21:05] makortel commented on #25923
A relatively simple option would be to delete only those aliases that point to `mix`, but that would still keep these customizations bolt in the `ConfigBuilder`.

[2019-02-12 21:15] cvuosalo commented on #25875
Units that could be added to the header file: _ns, _GeV, _TeV

[2019-02-12 21:32] kpedro88 opened #25925 "Build CMSSW_7_1_37_patch1"

[2019-02-12 21:32] cmsbuild commented on #25925
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-02-12 21:44] kpedro88 commented on #25925
+1

[2019-02-12 21:46] cmsbuild commented on #25925
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_37_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-02-12 21:46] cmsbuild commented on #25925
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-02-12 21:46] cmsbuild commented on #25925
The build has started for slc6_amd64_gcc481 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1954/console
CMSDIST Branch: [REL/CMSSW_7_1_37/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_37/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-02-12 22:18] cmsbuild commented on #25925
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_37_patch1-slc6_amd64_gcc481/1954
Some t

[2019-02-12 22:35] cmsbuild commented on #25925
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_37_patch1-slc6_amd64_gcc481/1954

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2019-02-12 23:08] cmsbuild commented on #25901
The cleanup has started for slc6_amd64_gcc700

[2019-02-12 23:08] cmsbuild commented on #25901
The cleanup has started for slc7_amd64_gcc700

[2019-02-12 23:08] #25901 closed

[2019-02-12 23:10] cmsbuild commented on #25901
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_11_patch1-slc6_amd64_gcc700/1268

[2019-02-12 23:11] cmsbuild commented on #25901
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_11_patch1-slc7_amd64_gcc700/1269

[2019-02-13 03:24] kpedro88 commented on #25925
upload all

[2019-02-13 03:25] cmsbuild commented on #25925
Queing Jenkins upload for slc6_amd64_gcc481

[2019-02-13 03:26] cmsbuild commented on #25925
The upload has started for slc6_amd64_gcc481 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1271/console

[2019-02-13 03:27] cmsbuild commented on #25925
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_37_patch1-slc6_amd64_gcc481/1271
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-13 03:27] cmsbuild commented on #25925
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-13 03:51] kpedro88 commented on #25925
release-notes since CMSSW_7_1_37

[2019-02-13 03:52] cmsbuild commented on #25925
Generating release notes since CMSSW_7_1_37.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-02-13 03:52] cmsbuild commented on #25925
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_37_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_37 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_37_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2019-02-13 03:53] cmsbuild commented on #25925
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_37_patch1

[2019-02-13 14:48] kpedro88 opened #25927 "Build CMSSW_9_4_13"

[2019-02-13 14:48] cmsbuild commented on #25927
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-02-13 14:48] kpedro88 commented on #25927
build cmssw-tool-conf

[2019-02-13 14:49] cmsbuild commented on #25927
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-02-13 14:50] cmsbuild commented on #25927
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1956/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-13 14:50] cmsbuild commented on #25927
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1955/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-13 15:16] cmsbuild commented on #25927
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13-slc7_amd64_gcc630/1956

[2019-02-13 15:18] cmsbuild commented on #25927
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13-slc6_amd64_gcc630/1955

[2019-02-13 15:19] kpedro88 commented on #25927
+1

[2019-02-13 15:19] cmsbuild commented on #25927
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-02-13 15:19] cmsbuild commented on #25927
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-02-13 15:20] cmsbuild commented on #25927
The build has started for slc6_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1957/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-13 15:22] cmsbuild commented on #25927
The build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1958/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-13 17:45] yamaguchi1024 commented on #25833
I think we can close this issue. Thanks all for help!

[2019-02-13 17:45] #25833 closed

[2019-02-13 17:52] yamaguchi1024 commented on #25903
FYI, I found one example of cyclic dependency:
- DataFormats/TrackReco has DataFormats/TrackCandidate as an dependency in BuildFile.xml
- TrackCandidate.h including `DataFormats/TrackReco/interface/TrajectoryStopReasons.h`
- There is no dependency to TrackReco from TrackCandidate

In this case, TrackCandidate.h should be marked as being excluded from modulemap. Even if we are going to have somethi

[2019-02-13 18:26] cmsbuild commented on #25927
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13-slc7_amd64_gcc630/1958
Some tests (

[2019-02-13 19:31] cmsbuild commented on #25927
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13-slc7_amd64_gcc630/1958

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-02-13 20:19] cmsbuild commented on #25927
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13-slc6_amd64_gcc630/1957
Some tests (

[2019-02-13 20:38] Dr15Jones commented on #25919
@slava77 could you add the ROOT 6.14 related issue you were referring to during the meeting?

[2019-02-13 21:19] cmsbuild commented on #25927
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13-slc6_amd64_gcc630/1957

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-02-13 21:39] kpedro88 commented on #25927
upload all

[2019-02-13 21:39] cmsbuild commented on #25927
Queing Jenkins upload for slc6_amd64_gcc630

[2019-02-13 21:39] cmsbuild commented on #25927
Queing Jenkins upload for slc7_amd64_gcc630

[2019-02-13 21:42] cmsbuild commented on #25927
The upload has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1273/console

[2019-02-13 21:42] cmsbuild commented on #25927
The upload has started for slc6_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1272/console

[2019-02-13 21:43] cmsbuild commented on #25927
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13-slc7_amd64_gcc630/1273
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-13 21:43] cmsbuild commented on #25927
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-13 21:47] cmsbuild commented on #25927
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13-slc6_amd64_gcc630/1272
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-13 21:47] cmsbuild commented on #25927
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-13 21:49] kpedro88 commented on #25927
release-notes since CMSSW_9_4_12

[2019-02-13 21:49] cmsbuild commented on #25927
Generating release notes since CMSSW_9_4_12.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-02-13 21:49] cmsbuild commented on #25927
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_13 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_12 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_13

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2019-02-13 21:50] cmsbuild commented on #25927
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13

[2019-02-14 10:51] rekovic commented on #25785
@Dr15Jones
Next week.

[2019-02-14 11:15] smuzaffar commented on #25919
@amaltaro as mentioned privately, this is the issue we see while running ROOT6.14 based production jobs [a].
@Dr15Jones suggested that we can change this by running `ulimit -s 10240` in the wrapper script. Can you please try adding `ulimit -a` to see what are the limits set on worker nodes and how can we change it for ROOT614 based RelVals?

[a]
https://cms-unified.web.cern.ch/cms-unified/report/c

[2019-02-14 12:08] cmsbuild commented on #25909
The cleanup has started for slc6_amd64_gcc630

[2019-02-14 12:08] cmsbuild commented on #25909
The cleanup has started for slc7_amd64_gcc630

[2019-02-14 12:08] #25909 closed

[2019-02-14 12:10] cmsbuild commented on #25909
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_14-slc6_amd64_gcc630/1272

[2019-02-14 12:12] cmsbuild commented on #25909
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_14-slc7_amd64_gcc630/1273

[2019-02-14 12:15] cmsbuild commented on #25909
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_14-slc6_amd64_gcc630/1270

[2019-02-14 12:16] cmsbuild commented on #25909
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_14-slc7_amd64_gcc630/1271

[2019-02-14 14:47] amaltaro commented on #25919
Let me test these things in one of the test agents.

[2019-02-14 15:55] fabiocos commented on #25919
@slava77 related to the observed problems in the past, I believe they are the same as those seen in the test of https://github.com/cms-sw/cmsdist/pull/4678

[2019-02-14 16:23] makortel commented on #25919
The unit test failures in cms-sw/cmsdist#4678 look as weird as the unit test failures e.g. in #25907.

[2019-02-14 20:40] slava77 commented on #25919
yes, it refers to  the differences in the DQM comparisons in  136.7611 and 136.8311.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_5_X_2019-02-06-2300+4678/30351/136.7611_RunJetHT2016E_reminiaod+RunJetHT2016E_reminiaod+REMINIAOD_data2016_HIPM+HARVESTDR2_REMINIAOD_data2016_HIPM/Tracking_PackedCandidate.html

[2019-02-15 02:54] cmsbuild commented on #25925
The cleanup has started for slc6_amd64_gcc481

[2019-02-15 02:54] #25925 closed

[2019-02-15 02:57] cmsbuild commented on #25925
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_37_patch1-slc6_amd64_gcc481/1274

[2019-02-15 09:23] Axel-Naumann commented on #25903
Yuka asked me to write down here what we discussed; this is not meant to be an endorsement of this PR as I cannot judge the consequences. It's merely input.

I.e. the problem is that for the dictionary for `A<B>` you'll need the header for `A` and for `B`, and in many cases, only one of them is part of the package / module / library / whatever you call that level of granularity.

What theoreticall

[2019-02-15 20:54] cmsbuild commented on #25927
The cleanup has started for slc6_amd64_gcc630

[2019-02-15 20:54] cmsbuild commented on #25927
The cleanup has started for slc7_amd64_gcc630

[2019-02-15 20:54] #25927 closed

[2019-02-15 20:57] cmsbuild commented on #25927
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13-slc6_amd64_gcc630/1277

[2019-02-15 21:00] cmsbuild commented on #25927
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13-slc7_amd64_gcc630/1278

[2019-02-15 21:01] cmsbuild commented on #25927
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13-slc7_amd64_gcc630/1276

[2019-02-15 21:03] cmsbuild commented on #25927
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13-slc6_amd64_gcc630/1275

[2019-02-15 22:54] makortel opened #25957 "Improve EDAlias implementation"
Development of #25907 revealed a couple of additional points in EDAliases that could be improved

* One cannot chain EDAliases
  - On the other hand such a functionality is not necessarily needed, as one could just change the "last" EDAlias of the "chain"
  - Limitations are in `Schedule::processEDAliases()` and in `Principal` constructor that do not track dependencies of EDAliases
* One cannot ma

[2019-02-15 22:55] cmsbuild commented on #25957
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-15 22:55] makortel commented on #25957
One way to implement the dependence tracking would be to make EDAlias (output) BranchDescription registration to use the new-product-registration callback mechanism.

[2019-02-16 11:34] fabiocos opened #25959 "Problem with GT 105X"
After the merge of the new GT for 105X in #25929 some test workflows are failing in the IB for problems related to definition or lack of records:
1010.0
----- Begin Fatal Exception 16-Feb-2019 02:51:37 CET-----------------------
An exception of category 'NoRecord' occurred while
   [0] Processing global begin Run run: 299149
   [1] Calling method for module ECALpedestalPCLworker/'ALCARECOEcalPedes

[2019-02-16 11:35] cmsbuild commented on #25959
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-16 11:36] fabiocos commented on #25959
assign alca

@tocheng could you please have a look? This is a show-stopper for 10_5_0_pre2

[2019-02-16 11:37] cmsbuild commented on #25959
New categories assigned: alca

@tocheng,@pohsun,@franzoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-16 11:43] fabiocos commented on #25959
For the second problem I understand there is a conflict between the GT providing now the record and the XML source invoked in the reco sequence at

https://cmssdt.cern.ch/lxr/source/RecoCTPPS/Configuration/python/recoCTPPS_sequences_cff.py#0009

@slava77 @perrotta FYI

[2019-02-16 13:09] tocheng commented on #25959
@fabiocos , I think I know what happened to ECAL pedestal. It should be an IOV synchronization problem. For PPS alignment, I will do a further investiagation.

[2019-02-16 17:06] tocheng commented on #25959
@fabiocos, PR #25961 is submitted to fix the issue

[2019-02-18 08:26] fabiocos commented on #25959
#25961 indeed solves both the observed crashes, @tocheng thanks

[2019-02-18 08:26] #25959 closed

[2019-02-18 12:04] amaltaro commented on #25919
@smuzaffar Shahzad, I cloned that workflow into my testbed setup (so using CMSSW_10_5_0_pre1_ROOT614) and it had 100% success rate.
Looking at the wrapper log for a CERN worker node, I see the stack size is actually not set for those processes, see
[code]

[2019-02-18 12:39] mrodozov opened #25965 "Update of JetCrystalsAssociation class"
Moving GCC version to minor versions in gcc7 and gcc8 leads to an issue described here:
https://github.com/cms-sw/cmsdist/pull/4616 for which changes in the class JetCrystalsAssociation are required (afaiu make the class not inherit from std::pair). Updating gcc7 from 7.3.1 to 7.4.0 is needed to update Tensorflow  to more recent version :
https://github.com/cms-sw/cmsdist/pull/4703
which doesn't w

[2019-02-18 12:39] cmsbuild commented on #25965
A new Issue was created by  @mrodozov Mircho Rodozov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-18 13:39] davidlange6 commented on #25965
hi-
@mrodozov  and I just looked a bit at this class..

it would appear to be produced by one producer
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/RecoBTau/JetCrystalsAssociator/src/JetCrystalsAssociator.cc

which is changed only due to migrations since 2007 It seems to lack the consumes migration - unless we are mistaken this dataformat could not have been stored

[2019-02-18 15:13] Dr15Jones commented on #25919
I ask Burt Holzman about FNAL worker nodes and he determined they have a soft stacksize of 8MB, which is too small for those jobs.

[2019-02-19 08:41] amaltaro commented on #25919
This is what I got from FNAL and Nebraska worker nodes (just one sample of each, so I'm not sure it's valid for all site resources.

[code]

[code]

[2019-02-19 11:48] schneiml commented on #25782
Hi Chris,

I just tried to reproduce that in WF 250208.18 using `CMSSW_10_5_ASAN_X_2019-02-15-2300` and ASAN complains on (what seems to me) an independent issue [0].

I can still have a look at the code, and see if it is easy to fix; else we'll remove it and wait for HLT group to fix it

[0]
[code]

[2019-02-19 12:00] davidlange6 commented on #25919
Hi Alan,
which options for ulimit are you using?

[2019-02-19 12:02] amaltaro commented on #25919
`ulimit -a`

[2019-02-19 12:07] davidlange6 commented on #25919
so then the fnal number should correspond to the soft limit suggested by @dr15jones (but it does not)

[2019-02-19 12:19] amaltaro commented on #25919
Yes, that's why I provided the hostname as well. Perhaps Chris can ping Dave Mason to check that node?

[2019-02-19 12:56] Dr15Jones commented on #25782
@schneiml I have a pull request fixing the new problem see #25960. Unfortunately ASAN stops at the first problem which is now a new one. If you add this pull request to your work area, hopefully the organization problem will be caught.

[2019-02-19 13:24] dan131riley commented on #25919
This commit from four years ago, https://github.com/cms-sw/cmssw/commit/e3a98af4ffbd93cf9edfd84c0bb862918aece1c2 sets the TBB thread stack size to 10MB, so the stack requirement doesn't seem to be new.  Could the new factor just be a WN setting an 8MB stack limit?  And, if we're asking for 10MB of stack for the TBB threads, maybe we should also try to bump the main thread's ulimit if it is lower t

[2019-02-19 14:42] Dr15Jones commented on #25919
@holzman FYI

[2019-02-19 14:45] Dr15Jones commented on #25919
@dan131riley the 10MB limit for non-main threads is there because the default of 2MB from linux was too small for Geant4 jobs once we started running multi-threaded. I picked 10MB because it was a nice 'round' number, not from any attempt to find a particular minimum.

[2019-02-19 15:00] fermilabqc-build commented on #25919
Sorry for the confusion. The default soft limit set by the kernel is indeed 8 MB, but unless the job itself declares a StackSize attribute, HTCondor changes it to unlimited. This does mean that running interactively vs. batch will give different values of RLIMIT_STACK.

Details for the curious:

https://github.com/htcondor/htcondor/blob/master/src/condor_sysapi/resource_limits.cpp#L31-L53
https://

[2019-02-19 15:02] holzman commented on #25919
Sorry for the confusion. The default soft limit set by the kernel is indeed 8 MB, but unless the job itself declares a StackSize attribute, HTCondor changes it to unlimited. This does mean that running interactively vs. batch will give different values of RLIMIT_STACK.

Details for the curious:

https://github.com/htcondor/htcondor/blob/master/src/condor_sysapi/resource_limits.cpp#L31-L53
https://

[2019-02-19 15:38] davidlange6 commented on #25919
so to circle back to the original problem - is there a message that should show up in the condor/cmssw logs for jobs killed in this way? I had poked around the logs without really understanding what actually caused the crash

[2019-02-19 15:40] Dr15Jones commented on #25919
@davidlange6

When we hit the stack limit, it causes a segmentation fault (since the operating system has protected memory beyond the stack).

[2019-02-19 17:41] Dr15Jones commented on #25919
@amaltaro do we know what sites were seeing failures?

[2019-02-19 18:16] davidlange6 commented on #25919
you can from the unified links above - the examples were FNAL. (normal site for relvals)

[2019-02-20 09:05] fabiocos opened #25981 "Cleaning of test workflows in PyReleaseValidation"
During the last update of relval input files a set of some 55 inputs were missing, and during the discussion with PdmV they were mentioned as potentially obsolete and not needed. In order to keep the IB functional they have been reproduced, but this triggers the question whether a review of the present set is needed, and some of these samples can be just dropped.

As of 2019-02-20 there are still

[2019-02-20 09:06] cmsbuild commented on #25981
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-20 09:06] fabiocos commented on #25981
assign pdmv

[2019-02-20 09:06] cmsbuild commented on #25981
New categories assigned: pdmv

@prebello,@zhenhu,@pgunnell you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-20 09:07] fabiocos commented on #25981
@prebello @zhenhu on the short term we should try to fix the residual failures (most of those in master are gone, are the two remaining samples being produced? And what about the 10_2_X?).
Then it would be useful to start list what you considered obsolete

[2019-02-20 10:57] fabiocos opened #25983 "Build CMSSW_10_5_0_pre2"

[2019-02-20 10:58] cmsbuild commented on #25983
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-02-20 10:59] fabiocos commented on #25983
build cmssw-tool-conf

[2019-02-20 11:00] cmsbuild commented on #25983
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-02-20 11:01] cmsbuild commented on #25983
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild50.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1959/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-20 11:01] cmsbuild commented on #25983
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild97.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1960/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-20 11:01] cmsbuild commented on #25983
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild59.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1962/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-20 11:01] cmsbuild commented on #25983
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-012.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1961/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-20 13:40] cmsbuild commented on #25983
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc6_amd64_gcc700/1959

[2019-02-20 13:40] cmsbuild commented on #25983
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_amd64_gcc700/1960

[2019-02-20 14:00] cmsbuild commented on #25983
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_amd64_gcc820/1962

[2019-02-20 14:24] Dr15Jones commented on #25957
assign core

[2019-02-20 14:24] cmsbuild commented on #25957
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-20 14:25] Dr15Jones commented on #25923
assign simulation, core

[2019-02-20 14:26] cmsbuild commented on #25923
New categories assigned: core,simulation

@Dr15Jones,@smuzaffar,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-20 17:01] cmsbuild commented on #25983
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_aarch64_gcc700/1961

[2019-02-20 19:26] fabiocos commented on #25983
+1

[2019-02-20 19:27] cmsbuild commented on #25983
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-02-20 19:27] cmsbuild commented on #25983
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2019-02-20 19:27] cmsbuild commented on #25983
The build has started for slc6_amd64_gcc700 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1963/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-20 19:27] cmsbuild commented on #25983
The build has started for slc7_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1964/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-20 19:28] cmsbuild commented on #25983
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1965/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-20 19:29] cmsbuild commented on #25983
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-012.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1966/console
CMSDIST Branch: [IB/CMSSW_10_5_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_5_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-20 21:54] cvuosalo commented on #25875
This issue is being addressed by #25967.

[2019-02-20 23:19] cmsbuild commented on #25983
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc6_amd64_gcc700/1963
Some tes

[2019-02-20 23:47] cmsbuild commented on #25983
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_amd64_gcc820/1965
Some tes

[2019-02-21 01:19] cmsbuild commented on #25983
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc6_amd64_gcc700/1963

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-02-21 02:04] cmsbuild commented on #25983
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_amd64_gcc820/1965

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-02-21 03:18] cmsbuild commented on #25983
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_amd64_gcc700/1964
Some tes

[2019-02-21 04:17] cmsbuild commented on #25983
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_aarch64_gcc700/1966
Some

[2019-02-21 05:38] cmsbuild commented on #25983
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_amd64_gcc700/1964

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-02-21 08:34] fabiocos opened #25989 "Build CMSSW_10_5_0_pre2_G4v1043"
ARCHITECTURE:slc7_amd64_gcc700
CMSSW_COMMIT:CMSSW_10_5_0_pre2
CMSDIST_COMMIT:3ef17d24a09851d212c8e41ddbb3ab312123ed95

[2019-02-21 08:35] cmsbuild commented on #25989
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-02-21 08:35] fabiocos commented on #25989
build cmssw-tool-conf

[2019-02-21 08:36] cmsbuild commented on #25989
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-02-21 08:36] cmsbuild commented on #25989
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1967/console
CMSDIST Branch: [3ef17d24a09851d212c8e41ddbb3ab312123ed95](https://github.com/cms-sw/cmsdist/commits/3ef17d24a09851d212c8e41ddbb3ab312123ed95), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-21 09:10] fabiocos commented on #25983
upload all

[2019-02-21 09:10] cmsbuild commented on #25983
Queing Jenkins upload for slc6_amd64_gcc700

[2019-02-21 09:10] cmsbuild commented on #25983
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-02-21 09:10] cmsbuild commented on #25983
Queing Jenkins upload for slc7_amd64_gcc700

[2019-02-21 09:10] cmsbuild commented on #25983
Queing Jenkins upload for slc7_amd64_gcc820

[2019-02-21 09:13] cmsbuild commented on #25983
The was error uploading slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre2-slc7_aarch64_gcc700/1275

[2019-02-21 09:13] cmsbuild commented on #25983
The upload has started for slc6_amd64_gcc700 in cmsbuild46.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1274/console

[2019-02-21 09:13] cmsbuild commented on #25983
The upload has started for slc7_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1276/console

[2019-02-21 09:13] cmsbuild commented on #25983
The upload has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1277/console

[2019-02-21 09:14] cmsbuild commented on #25983
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre2-slc6_amd64_gcc700/1274
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-21 09:15] cmsbuild commented on #25983
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre2-slc7_amd64_gcc820/1277
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-21 09:15] cmsbuild commented on #25983
CERN AFS installation skipped for slc7_amd64_gcc820 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-21 09:18] cmsbuild commented on #25983
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre2-slc7_amd64_gcc700/1276
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-21 09:18] cmsbuild commented on #25983
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-21 09:19] fabiocos commented on #25983
release-notes

[2019-02-21 09:19] cmsbuild commented on #25983
Generating release notes since CMSSW_10_5_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-02-21 09:19] cmsbuild commented on #25983
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_5_0_pre2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc6_amd64_gcc700
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_5_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_5_0_pre2

Cheers,
cms-bot

You can also

[2019-02-21 09:20] cmsbuild commented on #25983
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre2

[2019-02-21 09:28] fabiocos opened #25990 "Validation of new LWTNN track classification in 10_5_0_pre2"
In CMSSW_10_5_0_pre2 the PR #21717 introduces a new track classification based on DNN that replaces the previous one based on BDT. The suggestion/request of RECO conveners, supported in discussions with PPD and POGs, is to have a detailed comparison of the new setup (on by default) and the old one, to carefully validate it and disentangle possible effects from other unrelated changes.

In order to

[2019-02-21 09:28] cmsbuild commented on #25990
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-21 09:31] fabiocos commented on #25990
assign pdmv

@slava77 @perrotta @franzoni @srimanob FYI

[2019-02-21 09:31] cmsbuild commented on #25990
New categories assigned: pdmv

@prebello,@zhenhu,@pgunnell you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-21 09:32] cmsbuild commented on #25983
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2-slc7_aarch64_gcc700/1966

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-02-21 09:46] cmsbuild commented on #25989
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2_G4v1043-slc7_amd64_gcc700/1

[2019-02-21 09:57] fabiocos opened #25991 "Features for low pt electrons in B parking processing"
This issue is meant to keep track of the features needed to finalzie the low pt electron reconstruction at the heart of the B parking data reprocessing. As of now the list is (2019/03/05 17:00):

- [x] Basic low pt electrons up to GsfTracks: #25455 (master) -> #25680 (10_2_X)

- [x] Conversion from low pt GsfTracks: #25595 (master) -> #25761 (10_2_X)

- [x] Complete low pt electrons chain: #25753

[2019-02-21 09:57] cmsbuild commented on #25991
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-21 09:59] fabiocos commented on #25991
@slava77 @perrotta @franzoni @srimanob FYI

[2019-02-21 10:09] fabiocos commented on #25989
+1

[2019-02-21 10:09] cmsbuild commented on #25989
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre2_G4v1043. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-02-21 10:09] cmsbuild commented on #25989
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-02-21 10:10] cmsbuild commented on #25989
The build has started for slc7_amd64_gcc700 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1968/console
CMSDIST Branch: [3ef17d24a09851d212c8e41ddbb3ab312123ed95](https://github.com/cms-sw/cmsdist/commits/3ef17d24a09851d212c8e41ddbb3ab312123ed95), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-02-21 10:27] bainbrid commented on #25991
@fabiocos many thanks for this. Some corrections/additions below:

__Reconstruction:__

- [ ] Basic low pt electrons up to GsfTracks: #25679 (10_5_X merged) -> #25680 (10_2_X merged)

- [ ] Complete low pt electrons chain: #25753 (10_5_X merged) -> #25887 (10_2_X merged)

- [ ] Modify ValueMaps storing BDT output: #25915 (10_5_X merged)  -> #25887 (10_2_X merged)

- [ ] Fixes for low pt electrons:

[2019-02-21 10:34] perrotta commented on #25991
@bainbrid , please correct either me or the table above, but the backport for #25915 is included in #25936 (yet to be merged), not  in #25887

[2019-02-21 10:37] bainbrid commented on #25991
@perrotta yes, good spot - thanks! Corrected.

[2019-02-21 11:00] bainbrid commented on #25991
FYI, we are considering to open two new PRs for the 10_2_X cycle:

1) an update of the ID BDT model in cms-data/RecoEgamma-ElectronIdentification, which involves a retraining follow the bug fixes in #25936. We could push this updated model to the current open PR (cms-data/RecoEgamma-ElectronIdentification#13) if people agree?

2) A switch to a new "Very Loose" working for the Seeding module. This

[2019-02-21 12:15] zhenhu commented on #25981
Hi @fabiocos , the residual failures will be fixed by #25955

[2019-02-21 17:42] cmsbuild commented on #25989
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2_G4v1043-slc7_amd64_gcc700/1968

[2019-02-21 20:01] cmsbuild commented on #25989
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_5_0_pre2_G4v1043-slc7_amd64_gcc700/1968

Tests results:
32 31 30 24 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-02-21 21:50] fabiocos commented on #25989
upload all

[2019-02-21 21:51] cmsbuild commented on #25989
Queing Jenkins upload for slc7_amd64_gcc700

[2019-02-21 21:52] cmsbuild commented on #25989
The upload has started for slc7_amd64_gcc700 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1278/console

[2019-02-21 21:56] cmsbuild commented on #25989
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_5_0_pre2_G4v1043-slc7_amd64_gcc700/1278
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-02-21 21:56] cmsbuild commented on #25989
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-02-21 21:57] fabiocos commented on #25989
release-notes since CMSSW_10_5_0_pre2

[2019-02-21 21:57] cmsbuild commented on #25989
Generating release notes since CMSSW_10_5_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-02-21 21:57] cmsbuild commented on #25989
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_5_0_pre2_G4v1043 is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_5_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_5_0_pre2_G4v1043

Cheers,
cms-bot

You can also click <a href="mail

[2019-02-21 21:59] cmsbuild commented on #25989
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre2_G4v1043

[2019-02-22 03:18] prebello commented on #25990
+1

Hi @fabiocos PdmV is aware and  @zhenhu  is providing the relvals. Could you please let us know the exact way to call this configuration fragment? @zhenhu did you try it already? Thank you

[2019-02-22 03:20] cmsbuild commented on #25990
This issue is fully signed and ready to be closed.

[2019-02-22 09:28] zhenhu commented on #25981
Hi @fabiocos , the failures in 10_2_X fastsim will be fixed by #25998

[2019-02-22 14:04] fabiocos commented on #25990
@prebello I would say, as @slava77 suggests, adding to the cmsDriver command '''--customise RecoTracker/IterativeTracking/customise_MVAPhase1_cfi.customise_MVAPhase1''' in the RECO step

[2019-02-22 14:05] fabiocos commented on #25990
[code]

[2019-02-22 15:44] prebello commented on #25990
perfect. thank you
(we were using wrong syntax --customise RecoTracker/IterativeTracking/customise_MVAPhase1_cfi)

[2019-02-22 23:02] makortel opened #26001 "Hide all differences between mix and mixData with EDAliases"
Currently the differences in sim digi (etc) module labels between classical mixing (`mix`) and premixing (`mixData`) are partially hidden from downstream modules by the aliases defined in
https://github.com/cms-sw/cmssw/blob/master/SimGeneral/MixingModule/python/aliases_cfi.py
https://github.com/cms-sw/cmssw/blob/master/SimGeneral/MixingModule/python/aliases_PreMix_cfi.py

These aliases should be

[2019-02-22 23:03] cmsbuild commented on #26001
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-22 23:09] Dr15Jones commented on #26001
assign simulation

[2019-02-22 23:09] cmsbuild commented on #26001
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-22 23:09] kpedro88 commented on #26001
+infinity

[2019-02-23 08:23] cmsbuild commented on #25983
The cleanup has started for slc6_amd64_gcc700

[2019-02-23 08:23] cmsbuild commented on #25983
The cleanup has started for slc7_amd64_gcc700

[2019-02-23 08:23] cmsbuild commented on #25983
The cleanup has started for slc7_amd64_gcc820

[2019-02-23 08:23] #25983 closed

[2019-02-23 08:32] cmsbuild commented on #25983
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre2-slc7_amd64_gcc820/1281

[2019-02-23 08:32] cmsbuild commented on #25983
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre2-slc6_amd64_gcc700/1279

[2019-02-23 08:33] cmsbuild commented on #25983
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre2-slc7_amd64_gcc700/1280

[2019-02-23 08:33] cmsbuild commented on #25983
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre2-slc6_amd64_gcc700/1282

[2019-02-23 08:41] cmsbuild commented on #25983
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre2-slc7_amd64_gcc700/1283

[2019-02-23 08:42] cmsbuild commented on #25983
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre2-slc7_amd64_gcc820/1284

[2019-02-23 15:34] Dr15Jones opened #26002 "XRootD redirection causing job failure after exit"
In CMSSW_10_6_DEVEL_X_2019-02-22-2300 we see 2 jobs that are getting system signals after exit is called. In both jobs, XrootD is reporting extremely large number of error messages after all the regular cmsRun end of job output.

See:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc700/CMSSW_10_6_DEVEL_X_2019-02-22-2300/pyRelValMatrixLogs/run/11024.2_TTbar_13UP18HEfailINPUT+TTbar_13

[2019-02-23 15:34] cmsbuild commented on #26002
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-23 15:35] Dr15Jones commented on #26002
@bbockelm @dan131riley please take a look

[2019-02-23 15:37] Dr15Jones commented on #26002
In both jobs, we are using pileup. The file mentioned at the very end of the job in all the xrootd error messages initially failed to open but was eventually successfully redirected. Another item of not is the job last less than 10 minutes so if there were some cool off period of 10 minutes, the job would already be over.

[2019-02-23 15:44] Dr15Jones commented on #26002
Here are the parts of the log file I think are probably most relevant.

At the end we get the message below is is repeated ~200 times
[code]

Previously in the output, the file is mentioned:
[code]

[code]

[code]

[code]

[code]

[2019-02-23 15:44] Dr15Jones commented on #26002
@shahzad what version of XRootD is used in DEVEL?

[2019-02-23 15:44] Dr15Jones commented on #26002
assign core

[2019-02-23 15:44] cmsbuild commented on #26002
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-23 15:51] Dr15Jones commented on #25785
How goes the progress on this issue?

[2019-02-23 21:08] cmsbuild commented on #25989
The cleanup has started for slc7_amd64_gcc700

[2019-02-23 21:08] #25989 closed

[2019-02-23 21:12] cmsbuild commented on #25989
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre2_G4v1043-slc7_amd64_gcc700/1286

[2019-02-23 21:16] cmsbuild commented on #25989
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_5_0_pre2_G4v1043-slc7_amd64_gcc700/1285

[2019-02-24 14:41] Dr15Jones opened #26004 "Validate modules parameters in python"
We could make it possible to have the python ED module constructor actually load the C++ shared library containing the module and run the C++ parameter validation on the values. This would be something that could be turned on optionally at the beginning of the configuration. This would allow full validation of the python configurations in CMSSW without having to run cmsRun.

[2019-02-24 14:42] cmsbuild commented on #26004
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-24 14:42] Dr15Jones commented on #26004
assign core

[2019-02-24 14:42] cmsbuild commented on #26004
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-25 09:40] fabiocos opened #26011 "Circular dependency in L1 code (PR 25973) to be solved"
The PR #25973 looks to introduce a circular dependency between tcdsDigis and rawDataCollector that causes two unit tests to fail in the IB (see e.g. https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/slc7_amd64_gcc700/www/sun/10.6-sun-00/CMSSW_10_6_X_2019-02-24-0000?utests ). #26003 temporarily reverts it, the addition of the new feature needs a revision to avoid this problem.

[2019-02-25 09:40] cmsbuild commented on #26011
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-25 09:41] fabiocos commented on #26011
assign l1

@apana FYI

[2019-02-25 09:41] cmsbuild commented on #26011
New categories assigned: l1

@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-25 12:16] smuzaffar commented on #26002
@Dr15Jones , we are using xrootd 4.8.5 in all 10.5 and 10.6 IBs since Dec 2018.
Something went wrong recently and xrootd transfers are very slow. Our jobs to cache these remote files are basically failing (timed out) because of this

[code]

[2019-02-25 12:44] smuzaffar commented on #26002
looks like things are getting back to normal now.

[code]

[2019-02-25 13:41] bainbrid commented on #25991
With regards to point 1) above, we now plan to proceed with the __existing__ ID model in Autumn18, as a recent retraining shows little improvement (and we will anyway further develop the ID on a longer timescale).

I've just made a new PR just made (#26012) which updates master to use the Autumn18 models, found in cms-data/RecoEgamma-ElectronIdentification#13. I've updated the status. This PR also

[2019-02-25 14:49] bainbrid commented on #25991
The switch to a Very Loose working point for the bParking era is provided in #26012 (master) and the back port in #26013 (10_2_X). I've updated the status.

[2019-02-25 16:21] bainbrid commented on #25991
102X: #26013 (open) supersedes #25936 (closed)

[2019-02-25 16:57] schneiml commented on #25782
Not sure about the status here, I can't see it crash in 250208.18 with `CMSSW_10_6_ASAN_X_2019-02-22-2300`.

[2019-02-25 23:03] bainbrid commented on #25991
Added "Change WP" (skimming code): #26015 (10_5_X open) -> #25995 (10_2_X open)

[2019-02-26 02:16] Dr15Jones opened #26016 "Break Reconstructions dependency on FastSimulation"
Many reconstruction packages depend on the following two FastSimulation packages:
- FastSimulation/BaseParticlePropagator
- FastSimulation/CaloGeometryTools

I propose moving those packages (and any FastSimulation packages they depend upon) to a common Subsystem in order to properly reflect the dual usage of the packages.

This will also fix the dependency violations shown in the IB build summary

[2019-02-26 02:17] cmsbuild commented on #26016
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-26 02:17] Dr15Jones commented on #26016
assign reconstruction, fastsim

[2019-02-26 02:17] cmsbuild commented on #26016
New categories assigned: fastsim,reconstruction

@slava77,@civanch,@ssekmen,@perrotta,@mdhildreth,@lveldere you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-26 02:26] kpedro88 commented on #26016
Conceptually related to #22575

[2019-02-26 10:38] srimanob opened #26017 "bypassVersionCheck in merging"
Follow up on the report in
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/4413.html

The issue seems to happen in merging step which need to set the bypassVersionCheck=true, same as in running config. Thanks @vlimant @amaltaro for suggestion.

We need a solution asap, to allow validation on HLT objects happen for ultra-legacy processing.

@Dr15Jones Could you please comment from framework si

[2019-02-26 10:38] cmsbuild commented on #26017
A new Issue was created by  @srimanob Phat Srimanobhas.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-26 14:34] Dr15Jones commented on #26017
I commented on the original hypernews thread.

[2019-02-26 21:08] Dr15Jones opened #26022 "Fix ROOT I/O issues with HepMCProduct"
Recently CMS production has hit a number of cases where reading back HepMCProduct from a file causes a stack overflow. Philippe Canal and I investigated the issue and we believe we understand what is occuring.

HepMCProduct stores a HepMC::GenEvent. HepMC::GenEvent holds two maps, one of all HepMC::GenParticles the other of all HepMC::GenVertex-s. In addition, HepMC::GenParticle holds a pointer to

[2019-02-26 21:09] cmsbuild commented on #26022
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-26 21:09] Dr15Jones commented on #26022
assign generator, core

[2019-02-26 21:09] Dr15Jones commented on #26022
@pcanal FYI

[2019-02-26 21:09] cmsbuild commented on #26022
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-26 21:09] kpedro88 commented on #26022
assign generators

[2019-02-26 21:10] cmsbuild commented on #26022
New categories assigned: generators

@alberto-sanchez,@perrozzi,@efeyazgan,@qliphy you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-02-26 21:42] Dr15Jones commented on #26022
I just did a simple test to check the recursion depth for the original ROOT algorithm and for one based on the proposed changes to HepMC. Unfortunately, this proposal actually made the stack larger, not smaller. It went from 1278 to 1350.

[2019-02-26 22:08] Dr15Jones commented on #26022
Philippe and I think we might be able to play with the ROOT I/O rules and work around the problem.

The idea would be not to store HepMC::GenVertex::m_particles_in and HepMC::GenParticle::m_production_vertex and reset them on read back.

[2019-02-26 22:29] Dr15Jones commented on #26022
By emulating how ROOT tranverses the data structure, I've determined that all we need to do is drop HepMC::GenParticle::m_production_vertex and then the maximum depth is only 25.

[2019-02-26 23:45] Dr15Jones commented on #26022
@pcanal I am unable to create io rules for HepMC classes because of this file in ROOT

https://github.com/root-project/root/blob/master/etc/class.rules

[2019-02-26 23:47] pcanal commented on #26022
what is the error message? (the rule should be cumulative)

[2019-02-27 00:22] Dr15Jones commented on #26022
The error while our code checked the class version number
[code]

[2019-02-27 04:15] pcanal commented on #26022
To work-around this, you can assign the rule to m_barcode:
[code]
which will work as well as the first version since m_barcode is stored/retrieved right after m_end_vertex.

[2019-02-27 10:37] bainbrid commented on #25991
#26012 master merged. All PRs to master are now merged.
There are two remaining open PRs to 10_2_X: #26013 and #25995.

[2019-02-27 10:44] bainbrid commented on #25991
FYI, we are planning one final PR (to master first, then back port), which will "link" each low pT GsfElectron (via its GsfTrack) to the corresponding "packedCandidate" or "lostTrack" using edm::Association containers.

This is needed because the link between each GsfTrack and the corresponding "generalTrack" that seeds the low pT electron reconstruction is lost in the PAT framework. The above PR

[2019-02-27 14:10] fabiocos commented on #25991
@slava77 @perrotta following the discussion at the ORP, is the test of the B parking era performed by passing to cmsDriver the "--era Run2_2018,bParking" option? Could you please confirm or rectify in case?

[2019-02-27 14:31] perrotta commented on #25991
Exactly that one:
[code]
One has to decide about the samples to use. I was thinking about modifying as such e.g. the workflows 136.85 (RunEGamma2018A) and a TTbar PU. @bainbrid suggested one signal sample instead for the MC workflow.

[2019-02-27 15:04] Dr15Jones commented on #26022
I assume you meant `source="int m_barcode"` not `source="int m_end_vertex"`

[2019-02-27 15:18] Dr15Jones commented on #26022
So the iorule caused a segmentation fault when trying to read the old file which was written without the rule.

[code]

[2019-02-27 15:22] bainbrid commented on #25991
I think the suggested samples (RunEGamma2018A and TTbar) are also fine.

[2019-02-27 15:51] Dr15Jones commented on #26022
I have worked around the segmentation fault. The crash was caused because GenVertex assumes that it is already holding the GenParticle which causes the erase to do bad things.

[2019-02-27 15:53] prebello commented on #25991
FYI @kfjack @zhenhu @pgunnell

[2019-02-27 16:30] fioriNTU commented on #23475
@fabiocos this issue should be solved by PR #23576 , can we close it?

[2019-02-27 16:44] pcanal commented on #26022
Yes, sorry.

[2019-02-27 17:38] nwickram commented on #25919
Hi all!
During our first submission of relvals we had failures for fullsim, fastsim and Gen under the CMSSW_10_5_0_pre1_ROOT614 validation Campiagn. Only data was OK. You can find the rate of Completion for each samples from the links below.

Fullsim noPU:
https://dmytro.web.cern.ch/dmytro/cmsprodmon/requests.php?campaign=CMSSW_10_5_0_pre1_ROOT614__fullsim_noPU_2018_set1-1549525175
https://dmytro.

[2019-02-27 19:02] Dr15Jones commented on #26022
So I wrote a new file using the new iorules and making one of the members transient.

The branch for the new file is
[code]

compared to the original file
[code]

[2019-02-27 19:04] Dr15Jones commented on #26022
There appears to be a problem with the iorule. The value for m_barcode is incorrect when reading back a file which was written using the new rules. Dumping the streamer info for HepMC::GenParticle we see

[code]

One item of note, should the m_barcode and m_generated_mass have the same offset?

[2019-02-27 19:07] Dr15Jones commented on #26022
If I got CMSSW_10_6 without the ioread rule and dump the streamer info, I get
[code]

[2019-02-27 19:22] Dr15Jones commented on #26022
I have the same ioread problem in CMSSW_10_6 (which uses root 6.12.07) as I do in CMSSW_9_4_7 (which uses root 6.10.08).

[2019-02-27 20:15] srimanob commented on #26017
Thx. Then I open the GH issue on wmcore, to add bypassversioncheck on merge step.

[2019-02-27 20:15] #26017 closed

[2019-02-27 21:01] Dr15Jones commented on #26022
I have provided Philippe with a simple unit test independent of CMSSW which exhibits the failure.

[2019-02-27 21:12] Dr15Jones commented on #26022
My attempt at the iorule can be found here:
https://github.com/Dr15Jones/cmssw/tree/GenEventIORules

This will not work without a fix in ROOT.

[2019-02-28 09:16] fabiocos commented on #23475
@fioriNTU that specific problem looks gone, yes, I close the issue

[2019-02-28 09:16] #23475 closed

[2019-02-28 13:40] bainbrid commented on #25991
#26013 merged to 10_2_X.

[2019-02-28 15:03] Dr15Jones commented on #26016
I propose that FastSimulation/BaseParticlePropagator and FastSimulation/CaloGeometryTools (as well as what they depend upon) be moved to CommonTools subsystem.

@slava77,@civanch,@ssekmen,@perrotta,@mdhildreth,@lveldere comments?

[2019-02-28 15:15] davidlange6 commented on #26016
which refers to yet another package? Perhaps one needs to look at this at the class level..

[2019-02-28 16:30] fioriNTU commented on #21880
+1

This is probably gone, in any case it is not reproducible.

[2019-02-28 16:30] cmsbuild commented on #21880
This issue is fully signed and ready to be closed.

[2019-02-28 16:39] fioriNTU commented on #21358
+1

This issue look very similar (the same?) to this one https://github.com/cms-sw/cmssw/issues/25782
Probably we can close this one and keep open the newer one

[2019-02-28 16:39] cmsbuild commented on #21358
This issue is fully signed and ready to be closed.

[2019-02-28 16:42] fioriNTU commented on #21129
@kpedro88 @bsunanda any news on this?

[2019-02-28 16:45] fioriNTU commented on #19605
@ramankhurana @slava77 this is clearly a reconstruction issue and hopefully @ramankhurana fixed it, can we please assign it entirely to reconstruction and close it by the dqm side?

[2019-02-28 16:51] fioriNTU commented on #19604
@slava77 @makortel has this issue been fixed in the meantime?

[2019-02-28 16:55] slava77 commented on #19605
There were two action items in the issue:
1. The DQM analyzers for the caloJet variables should migrate to use slimmedCaloJets.
    - this is for DQM
1. After the migration is complete, the userFloats can be removed.
    - this is for reco, but only after the previous one is done.

@fioriNTU
once you know that the DQM side is done, please "+1" and it will then remain just in the reco area.

[2019-02-28 16:57] slava77 commented on #19604
@mtosi @JanFSchulte
tagging more people

[2019-02-28 16:59] makortel commented on #19604
Almost certainly not.

[2019-02-28 17:01] fioriNTU commented on #18606
+1

this issue has been solved by @VinInn long time ago, @jandrea and @arossi83 should decide if improving further

[2019-02-28 17:01] cmsbuild commented on #18606
This issue is fully signed and ready to be closed.

[2019-02-28 17:06] fioriNTU commented on #18358
+1

not a real issue for Online as in the comment above

[2019-02-28 17:06] cmsbuild commented on #18358
This issue is fully signed and ready to be closed.

[2019-02-28 17:20] fioriNTU commented on #19605
@slava77 this look to me as a task for JetMet DQM, so what I can do is to ping @ahinzmann and @ramankhurana again. If they fix the code I will for sure "+1"

[2019-02-28 17:52] bsunanda commented on #21129
Just working on this. Shall submit the PR for master soon

[2019-02-28 17:53] bsunanda commented on #21129
Wondering if this needs to be back propagated?

[2019-02-28 19:27] bainbrid commented on #25991
@fabiocos @slava77 @perrotta

Here is an update.

Master:
* #26031 is a __new__ PR (GsfTracks<->PFCand linking)

10_2_X:
* #26013 (reco) is merged into 10_2_X and will make an IB very soon
* #25995 (skimming) is open in 10_2_X and is pending signatures
* #26036  is a __new__ PR (the back port of #26031)

Unless we have to iterate further with management on the skim working point, we believe the ab

[2019-02-28 22:27] pcanal commented on #26022
See https://github.com/root-project/root/pull/3485

[2019-03-01 09:34] fioriNTU commented on #21129
@bsunanda thanks for the prompt action, however I see in the PR conparison that no signficant change in the logs is seen, I was expecting a large change in the logs ... I may be wrong. Anyway, checking the PR it looks clearly to kill printouts.

[2019-03-01 09:37] fioriNTU commented on #25463
+1

Fixed by the PR above

[2019-03-01 09:38] cmsbuild commented on #25463
This issue is fully signed and ready to be closed.

[2019-03-01 09:42] fioriNTU commented on #23439
+1

[2019-03-01 09:49] fioriNTU commented on #21200
+1

@Dr15Jones if I understand properly, this issue is related to a module running in Online which is not thread safe. However the Online code runs in single thread, so there should be no practical issue

[2019-03-01 09:49] cmsbuild commented on #21200
This issue is fully signed and ready to be closed.

[2019-03-01 11:22] davidlange6 commented on #21200
probably its then best to change the module type to something more appropriate... (in case you eventually realize that nThreads>1 is useful for increasing throughput online - that seems likely to happen in the next years after all)

[2019-03-03 14:40] Dr15Jones opened #26050 "ASAN found problem with WaitingTaskList"
ASAN found a read after free in calls to WaitingTaskList. Looks like WaitingTaskList::announce may not have finished before WaitingTaskList::reset was called.

[2019-03-03 14:40] cmsbuild commented on #26050
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-03 14:41] Dr15Jones commented on #26050
The relevant part of the report
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc700/CMSSW_10_6_ASAN_X_2019-03-01-2300/pyRelValMatrixLogs/run/122.0_UpsMM+UpsMM+DIGI+RECO/step1_UpsMM+UpsMM+DIGI+RECO.log

[code]

[2019-03-03 15:00] Dr15Jones commented on #26050
This may be related to #22135

[2019-03-03 15:09] Dr15Jones commented on #26050
assign core

[2019-03-03 15:09] cmsbuild commented on #26050
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-03 15:11] Dr15Jones commented on #25785
Is there progress being made in fixing this issue?

[2019-03-03 15:17] Dr15Jones commented on #25782
ASAN reported again a problem with this module:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_ASAN_X_2019-03-01-2300/pyRelValMatrixLogs/run/250208.18_SMS-T1tttt_mGl-1500_mLSP-100_13UP18+SMS-T1tttt_mGl-1500_mLSP-100_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25/step3_SMS-T1tttt_mGl-1500_mLSP-100_13UP18+SMS-T1tttt_mGl-1500_mLSP-100_13UP18INPUT+DIGIPRMX

[2019-03-03 15:36] Dr15Jones commented on #25782
The problem is likely the call to this line
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/HLTriggerOffline/Exotica/src/HLTExoticaPlotter.cc#L167

where `j` is the loop variable defined:
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/HLTriggerOffline/Exotica/src/HLTExoticaPlotter.cc#L143

THe call to `HLTExoticaPlotter::analyze` from `H

[2019-03-03 20:59] bainbrid commented on #25991
#26031 merged to master

[2019-03-04 16:06] fabiocos commented on #25708
@srimanob @efeyazgan @qliphy @alberto-sanchez I want to go back to this fix, that was not fully satisfactory, and I would like also to have a GEN workflow regularly testing this LS boundary. Could you please point me to an example building such an LHE input, from some production campaign for instance?

[2019-03-04 17:07] prebello commented on #25991
@fabiocos  please let us know which 10-2-X release will be prepared for early rereco bparking based in these PRs.
PdmV is waiting for it to reprocess the request from https://its.cern.ch/jira/browse/PDMVRERECO-12
Thank you

[2019-03-04 17:33] fabiocos commented on #25991
@prebello and I am waiting for PdmV to approve #26035, that will trigger the merge of #26038 that will contribute to next 10_2_X build :-)

[2019-03-04 17:37] prebello commented on #25991
@fabiocos  done
sorry I didn't reach it in time, before I asked you here, among my 1100 emails :-)

[2019-03-04 18:01] prebello commented on #23439
+1

[2019-03-04 18:19] bainbrid commented on #25991
#26035 (master merged)

[2019-03-05 01:17] Dr15Jones commented on #26016
After an upcoming pull request where I refactor some of fastsim, the remaining uses of fastsim outside of FastSimulation subsystem are

[code]

If we ignore the uses in `RecoParticleFlow/PFSimProducer`, we are left with the following packages being used
- `FastSimulation/BaseParticlePropagator` by 4 packages
- `FastSimulation/Event` used only by `L1Trigger/L1THGCal/plugins/ntuples/HGCalTriggerNtup

[2019-03-05 01:21] Dr15Jones commented on #26016
The equivalent ROOT file appears to be
https://root.cern/root/html602/src/ROOT__Math__Transform3D.h.html

[2019-03-05 01:30] Dr15Jones commented on #26016
Actually, it looks like Transform3DPJ.h was copied from
https://github.com/root-project/root/blob/master/math/genvector/inc/Math/GenVector/Transform3D.h

and removed the template.

[2019-03-05 02:15] Dr15Jones commented on #26022
@pcanal we applied your ROOT fix. I now see that the unit test I made works, however when I copy the HepMCProduct from an old file into a new file and read the new file, the barcodes are still all messed up.

[2019-03-05 09:11] perrotta commented on #25991
This is just to remind here that there is still to solve (or at least to understand) the issue of tracks with all zero parameters, which was reported in https://github.com/cms-sw/cmssw/pull/26031#issuecomment-468902196
@bainbrid @mverzett : is there any progress on that front?

[2019-03-05 10:31] fabiocos commented on #25983
@smuzaffar slc7_aarch64_gcc700 was not properly uploaded, despite the build itself was made when I issued the "upload all" command, just the tests were still running. If now I want to reproduce the build only for that architecture, I should recover the CMSSW and CMSDIST tags corresponding to CMSSW_10_5_0_pre2, and specify only the missing architecture. Anyway is the bot going to accept another dec

[2019-03-05 10:34] smuzaffar commented on #25983
@fabiocos , release is now uploaded (I did it by hand by logging on to the machine). It will be installed on cvmfs in next 1 to 2 hours

[2019-03-05 10:35] fabiocos commented on #25983
@smuzaffar thank you. For my understanding: when the bot declares the workspace deleted, what does in practically happen? I understand from your message that the build was still available.

[2019-03-05 10:40] smuzaffar commented on #25983
@fabiocos , workspace deleted means that the directory where we have built the release is deleted. As there were issues with the machine so even deletion did not work and release was still available on the machine.

[2019-03-05 10:42] fabiocos commented on #25983
@smuzaffar ok I see, so we were "lucky" in a sense  in the failure sequence

[2019-03-05 10:44] bainbrid commented on #25991
#26035 merged to master.
#26036 merged to CMSSW_10_2_X.

Only #26038 remains unmerged (to 10_2_X).

[2019-03-05 10:57] #14430 closed

[2019-03-05 11:15] smuzaffar commented on #26002
@Dr15Jones , should we close this now? I think it was network issue.

[2019-03-05 11:18] smuzaffar commented on #25965
In https://github.com/cms-sw/cmssw/pull/25971  this class was removed.

[2019-03-05 11:18] #25965 closed

[2019-03-05 11:19] smuzaffar commented on #25903
In CXXMODULE IBs, we are now generating classes.h and module.modulemap automatically for all those packages where package/BuildFile.xml adds --cxxmodule flags for genreflex.

[2019-03-05 12:36] Dr15Jones commented on #26002
I think the network issue triggered a bug in xrootd.  Therefore I feel this should remain open.

[2019-03-05 14:42] Dr15Jones commented on #26016
#26061 is the big refactoring I've done in preparation for moving the shared FastSimulation code to CommonTools.

[2019-03-05 14:43] Dr15Jones commented on #26016
#26070 removes one unnecessary dependency on `FastSimulation//CaloGeometryTools/interface/Transform3DPJ.h` from RECO code.

[2019-03-05 14:52] kpedro88 opened #26071 "Phase 2 geometry updates for L1 TDR"
See https://github.com/cms-sw/cmssw/tree/master/Configuration/Geometry for geometry descriptions.

Reminder of MTD baseline: D35

- [ ] tracker: T14 (introduced in #25988)
- [ ] muon: M3 (incorporating change from #25701)
- [ ] HGCal: v10 (in preparation) -> C8 ?
- [ ] MTD: ETL modification to accommodate HGCal v10 -> I9 ?

[2019-03-05 14:52] kpedro88 commented on #26071
assign upgrade,geometry,l1

[2019-03-05 14:53] cmsbuild commented on #26071
New categories assigned: geometry,upgrade,l1

@Dr15Jones,@cvuosalo,@ianna,@kpedro88,@rekovic,@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-05 14:53] cmsbuild commented on #26071
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-05 14:54] kpedro88 commented on #26071
attn: @fabiocos @boudoul @bsunanda @venturia @ghugo83 @bapavlov @lgray @rovere

[2019-03-05 15:19] Dr15Jones commented on #26016
I just did a side-by-side comparison of `Transform3DPJ.*` and ROOT's `Transform3D.*` from 2008. All the optimizations in `Transform3DPJ.*` are already in `Transform3D.*`.

https://github.com/root-project/root/blob/a446719c104c411839f92ce960cf458842ae212f/math/genvector/inc/Math/GenVector/Transform3D.h
https://github.com/root-project/root/blob/a446719c104c411839f92ce960cf458842ae212f/math/genvector

[2019-03-05 16:02] fabiocos commented on #25991
All the PRs discussed so far have been merged both in master and in 10_2_X (tonight IB will have them).
We still have the issue https://github.com/cms-sw/cmssw/issues/25991#issuecomment-469600672 to be clarified

[2019-03-05 16:19] Dr15Jones commented on #26016
The other use of Transform3DPJ outside of FastSim goes away with #26073.

[2019-03-05 16:29] Dr15Jones opened #26075 "Remove Transform3DPJ from FastSimulation/CaloGeometryTools"
As far as I can tell, Transform3DPJ was created in 2007 because it contained performance optimizations not in the version of ROOT::Math::Transform3D at that time. I checked ROOT's development history and found that all the Transform3DPJ optimizations are present in ROOT::Math::Transform3D since 2008.

In order to reduce maintenance burdens in CMSSW, Transform3DPJ should be removed and replaced wit

[2019-03-05 16:29] cmsbuild commented on #26075
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-05 16:30] Dr15Jones commented on #26075
assign fastsim

[2019-03-05 16:30] cmsbuild commented on #26075
New categories assigned: fastsim

@civanch,@ssekmen,@mdhildreth,@lveldere you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-03-05 16:31] Dr15Jones commented on #26075
The only use of Transform3DPJ used in RECO has already been replaced in #26073.

[2019-03-05 16:34] Dr15Jones commented on #26016
#26073 removes the last dependency on Transform3DPJ outside of FastSimulation.

[2019-03-05 22:53] perrotta commented on #25991
It was explained in https://github.com/cms-sw/cmssw/pull/26031#issuecomment-468902196

Explicitely:
[code]
and the warnings show up in step3 at events 16, 24, 42, 59

[2019-03-06 01:43] Dr15Jones commented on #26022
@smuzaffar Philippe redid the pull request to ROOT to fix an additional problem. Looks like we need to revert the previous change and use this one instead
https://github.com/root-project/root/pull/3485

[2019-03-06 05:39] srimanob commented on #25708
@fabiocos
Great to come back to this. Here are what we have in production where 2 steps has been handle separately:
https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_test/BPH-RunIIFall18pLHE-00004
https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_test/BPH-RunIIFall18GS-00065

[2019-03-06 07:43] smuzaffar commented on #26022
@pcanal , is this change https://github.com/cms-sw/cmssw/issues/26022#issuecomment-469932138 needed for this fix?

[2019-03-06 10:25] bainbrid commented on #25991
#26038 merged into 10_2_X

[2019-03-06 10:27] bainbrid commented on #25991
All PRs are now merged and the full set are available in these two IBs:
- CMSSW_10_6_X_2019-03-05-1100
- CMSSW_10_2_X_2019-03-05-2300

Many thanks to everyone for helping us to get to this point!

[2019-03-06 10:35] bainbrid commented on #25991
@perrotta @fabio

With regards to the warnings mentioned here https://github.com/cms-sw/cmssw/pull/26031#issuecomment-468902196, we have seen these errors since early in the low pT electrons development cycle. The warnings arise in the ```PFTrackTransformer``` class, used by the ```PFElecTkProducer```. We make use of "utility methods" from this PF code that extrapolate (in this case) brem trajecto

[2019-03-06 10:55] perrotta commented on #25991
@bainbrid : yes, the warnings themselves are there since longtime, and not only for the low pt electrons. The point that I asked to investigate is that in some of those warnings, the ones in correspondence of the events I listed, all the track parameters are identically 0! And this (apparently) happens only for the low pt electrons.
Could you please investigate where those tracks with 0 momentum a