[2018-05-31 11:11] cmsbuild commented on #23399
Queing Jenkins upload for slc7_amd64_gcc630

[2018-05-31 11:11] cmsbuild commented on #23399
Queing Jenkins upload for slc7_amd64_gcc700

[2018-05-31 11:12] cmsbuild commented on #23399
The upload has started for slc6_amd64_gcc630 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1089/console

[2018-05-31 11:12] cmsbuild commented on #23399
The upload has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1090/console

[2018-05-31 11:13] cmsbuild commented on #23399
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_6-slc7_amd64_gcc630/1090
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-31 11:13] cmsbuild commented on #23399
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-31 11:13] cmsbuild commented on #23399
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1091/console

[2018-05-31 11:14] cmsbuild commented on #23399
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_6-slc7_amd64_gcc700/1091
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-31 11:14] cmsbuild commented on #23399
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-31 11:17] cmsbuild commented on #23399
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_6-slc6_amd64_gcc630/1089
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-05-31 11:17] cmsbuild commented on #23399
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-05-31 11:39] fabiocos commented on #23399
release-notes

[2018-05-31 11:40] cmsbuild commented on #23399
Generating release notes since CMSSW_10_1_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-05-31 11:40] cmsbuild commented on #23399
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_6 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_6

Cheers,
cms-bot

You can also click <a href="

[2018-05-31 11:41] cmsbuild commented on #23399
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_6

[2018-05-31 13:29] slava77 commented on #23057
@drkovalskyi @folguera
please clarify on the status of this

[2018-05-31 14:18] drkovalskyi commented on #23057
Will resolve in last open 10_2 pre-release.

[2018-05-31 14:18] Dr15Jones commented on #22135
The problem happened again in CMSSW_10_2_ROOT6_X_2018-05-30-2300 for slc6_amd64_gcc630 in workflow 7.4 step1

[code]

[2018-05-31 14:56] fabiocos opened #23403 "Management of MEtoEDMConverter in EndJob"
This issue is meant to keep track of the options suggested by #17827 and #22377 .

The EndJob option creates an endjob_step in the configuration that
primarily loads the endOfProcess sequence which normally only holds
the MEtoEDMConverter. The MEtoEDMConverter is only needed for job
that want to write DQM histograms to the ROOT output file.

[2018-05-31 14:56] cmsbuild commented on #23403
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-31 19:14] Dr15Jones opened #23409 "endRun still going after cmsRun has ended"
In CMSSW_10_2_X_2018-05-30-2300 on slc6_amd64_gcc700 for workflow 4.34 step2 had an exception occur then the job started to end but had a crash with a TBB task still trying to run the endRun code.

[2018-05-31 19:16] Dr15Jones commented on #23409
The information from the log was

The exception:
[code]

The appears to have happened between closing the first input file and reading the second file.

The job then appeared to end normally, but crashed at the very end with
[code]

[2018-05-31 19:16] cmsbuild commented on #23409
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-31 19:17] Dr15Jones commented on #23409
assign core

[2018-05-31 19:17] cmsbuild commented on #23409
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-05-31 19:56] Dr15Jones commented on #23409
The problem in #22135 may have the same underlying cause as this one.

[2018-06-02 09:53] cmsbuild commented on #23399
The cleanup has started for slc6_amd64_gcc630

[2018-06-02 09:53] cmsbuild commented on #23399
The cleanup has started for slc7_amd64_gcc630

[2018-06-02 09:53] cmsbuild commented on #23399
The cleanup has started for slc7_amd64_gcc700

[2018-06-02 09:53] #23399 closed

[2018-06-02 09:54] cmsbuild commented on #23399
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_6-slc7_amd64_gcc630/1017

[2018-06-02 09:54] cmsbuild commented on #23399
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_6-slc7_amd64_gcc700/1018

[2018-06-02 10:00] cmsbuild commented on #23399
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_6-slc6_amd64_gcc630/1016

[2018-06-03 16:30] fabiocos opened #23433 "Build CMSSW_9_4_9_cand1"
RELEASE_QUEUE:CMSSW_9_4_MAOD_X
ARCHITECTURE:slc6_amd64_gcc630

[2018-06-03 16:30] cmsbuild commented on #23433
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-06-03 16:37] fabiocos commented on #23433
+1

[2018-06-03 16:38] cmsbuild commented on #23433
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_9_cand1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_MAOD_X

[2018-06-03 16:38] cmsbuild commented on #23433
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-06-03 16:39] cmsbuild commented on #23433
The build has started for slc6_amd64_gcc630 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1638/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-06-03 22:44] cmsbuild commented on #23433
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_9_cand1-slc6_amd64_gcc630/1638
Some tes

[2018-06-03 23:56] cmsbuild commented on #23433
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_9_cand1-slc6_amd64_gcc630/1638

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-06-04 09:30] fabiocos commented on #23433
upload all

[2018-06-04 09:30] cmsbuild commented on #23433
Queing Jenkins upload for slc6_amd64_gcc630

[2018-06-04 09:33] cmsbuild commented on #23433
The upload has started for slc6_amd64_gcc630 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1092/console

[2018-06-04 09:40] cmsbuild commented on #23433
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_9_cand1-slc6_amd64_gcc630/1092
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-04 09:40] cmsbuild commented on #23433
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-04 09:49] fabiocos commented on #23433
release-notes

[2018-06-04 09:49] cmsbuild commented on #23433
Previous release "" does not appear to be a valid release name

[2018-06-04 09:57] fabiocos opened #23439 "Problem in TkAlCaRecoMonitor:ALCARECOTkAlMuonIsolatedTkAlDQM"
An error message has been reported by @prebello while testing the cmsDriver sequence for the reprocessing of the 2018A data affected by the T0 deletion problem, see https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/5378/1/1.html

The error message is

%MSG-e Alignment:  TkAlCaRecoMonitor:ALCARECOTkAlMuonIsolatedTkAlDQM  02-Jun-2018 18:39:25 CEST Run: 315252 Event: 377936
invalid trackcollection

[2018-06-04 09:58] fabiocos commented on #23439
assign dqm,alca,pdmv

[2018-06-04 09:58] cmsbuild commented on #23439
New categories assigned: dqm,pdmv,alca

@jfernan2,@lpernie,@prebello,@vazzolini,@franzoni,@fabozzi,@vanbesien,@GurpreetSinghChahal,@arunhep,@kmaeshima,@dmitrijus,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-04 09:58] fabiocos commented on #23433
release-notes since CMSSW_9_4_8

[2018-06-04 09:58] cmsbuild commented on #23433
Generating release notes since CMSSW_9_4_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-06-04 09:59] cmsbuild commented on #23433
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_9_cand1 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_9_cand1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@c

[2018-06-04 09:59] cmsbuild commented on #23433
Generating release notes since CMSSW_9_4_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-06-04 09:59] cmsbuild commented on #23433
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_9_cand1 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_9_cand1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@c

[2018-06-04 10:00] cmsbuild commented on #23433
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_9_cand1

[2018-06-04 10:00] cmsbuild commented on #23433
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_9_cand1

[2018-06-04 14:14] Dr15Jones opened #23459 "Consider separating modules for production from other modules into different plugins"
cmsRun runtime memory usage and startup time are dependent upon the amount of code that the framework must load. If we slim down the shared library based plugins we load for production such that they only contain the modules we actually use, e.g. moving modules only used for testing to a different plugin, then we might be able to slimdown and speed up the application.

[2018-06-04 14:14] Dr15Jones commented on #23459
assign core

[2018-06-04 14:14] cmsbuild commented on #23459
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-04 14:15] cmsbuild commented on #23459
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-04 16:35] #21796 closed

[2018-06-04 18:55] Dr15Jones commented on #23311
This happened again on the same workflow
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_2_X_2018-06-03-2300/pyRelValMatrixLogs/run/136.7802_RunHLTPhy2017B_AODextra+RunHLTPhy2017B_AODextra+DQMHLTonAODextra_2017+HARVESTDQMHLTonAOD_2017/step2_RunHLTPhy2017B_AODextra+RunHLTPhy2017B_AODextra+DQMHLTonAODextra_2017+HARVESTDQMHLTonAOD_2017.log#/

[code]

[2018-06-05 09:53] fabiocos opened #23475 "Error message for SiPixelPhase1TrackClusters DQM"
I notice that the test log files in 10_2_X are filled in the (RECO,DQM) step with error messages

%MSG-e SiPixelPhase1TrackClusters:   SiPixelPhase1TrackClusters:hltSiPixelPhase1TrackClustersAnalyzer  31-May-2018 11:01:00 CEST Run: 315489 Event: 47976080
incompatible configuration 27!=28
%MSG

check for instance wf 136.85 . This message comes from

https://cmssdt.cern.ch/lxr/source/DQM/SiPixelPhas

[2018-06-05 09:53] cmsbuild commented on #23475
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-05 09:53] fabiocos commented on #23475
assign dqm

[2018-06-05 09:54] cmsbuild commented on #23475
New categories assigned: dqm

@jfernan2,@vazzolini,@vanbesien,@kmaeshima,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-05 11:13] fabiocos commented on #23475
In the move from pre3 to pre4 the message has changed from

%MSG-w SiPixelPhase1TrackClusters:   SiPixelPhase1TrackClusters:hltSiPixelPhase1TrackClustersAnalyzer  05-Jun-2018 12:05:58 CEST Run: 1 Event: 4
PixelClusterShapeCache collection is not valid
%MSG

to

%MSG-e SiPixelPhase1TrackClusters:   SiPixelPhase1TrackClusters:hltSiPixelPhase1TrackClustersAnalyzer  05-Jun-2018 12:05:25 CEST Run: 1 Ev

[2018-06-05 12:26] boudoul commented on #23475
sounds like a deja-vu (even multiple dejavu) sigh ... maybe this thread could help https://groups.cern.ch/group/cms-hlt/Lists/Archive/DispForm.aspx?ID=2999

[2018-06-05 12:27] fioriNTU commented on #23475
@fabiocos (@jandrea and @arossi83) this is the usual issue with the HLT monitoring of PixelPhase1. My guess is that e new plot has been added to the Phase1TrackCluster plugin but has not been added in the corresponding HLT DQM configuration (and disabled there). As far as I know TkDQM is already working to provide a completely independent HLT plugin in a way to avoid this kind of things forever

[2018-06-05 14:39] kpedro88 commented on #21129
@bsunanda can you confirm if all of these messages have been removed?

[2018-06-06 08:08] cmsbuild commented on #23433
The cleanup has started for slc6_amd64_gcc630

[2018-06-06 08:08] #23433 closed

[2018-06-06 08:15] cmsbuild commented on #23433
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_9_cand1-slc6_amd64_gcc630/1019

[2018-06-06 11:02] fabiocos opened #23504 "Build CMSSW_10_2_0_pre5"

[2018-06-06 11:02] cmsbuild commented on #23504
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-06-06 11:05] fabiocos commented on #23504
build cmssw-tool-conf

[2018-06-06 11:05] cmsbuild commented on #23504
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630, slc7_amd64_gcc700, slc7_amd64_gcc810, slc6_amd64_gcc700, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf

[2018-06-06 11:06] cmsbuild commented on #23504
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1639/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 11:06] cmsbuild commented on #23504
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild48.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1640/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 11:06] cmsbuild commented on #23504
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1642/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 11:06] cmsbuild commented on #23504
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1641/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 11:06] cmsbuild commented on #23504
The cmssw-tool-conf build has started for slc7_amd64_gcc810 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1643/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 11:12] cmsbuild commented on #23504
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1644/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 11:33] fabiocos commented on #23439
the issue looks present in T0 files, for instance looking randomly at run 317382, and it appears related to the LogInfo message

ERROR: No beam sport found!

from

https://cmssdt.cern.ch/lxr/source/DQMOffline/Muon/src/MuonRecoAnalyzer.cc#0461

[2018-06-06 11:56] fabozzi commented on #23439
Apart from the typo in the message, but is this message really relevant? If not, the authors of this module  should find a way to assure people looking the logs that reconstruction is not broken...

[2018-06-06 12:07] fabiocos commented on #23439
The problem "ERROR: No beam sport found!" appears as a buggy check in 10_1_X that has been fixed in 10_2_X, a backport is for sure useful

[2018-06-06 13:36] cmsbuild commented on #23504
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_aarch64_gcc700/1644

[2018-06-06 14:20] cmsbuild commented on #23504
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc6_amd64_gcc630/1639

[2018-06-06 14:49] Dr15Jones opened #23509 "Use different return value for write failures"
When a 'FileWriteError' exception is thrown, it is just a regular `cms::Exception`, therefore when the job ends it just returns the value for `OtherCMS` exception, not its own code.

Returning a unique code for 'FileWriteError' could be useful for the workflow management system.

[2018-06-06 14:49] cmsbuild commented on #23509
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-06 14:50] Dr15Jones commented on #23509
This was first requested from the hypernews thread:
https://urldefense.proofpoint.com/v2/url?u=https-3A__hypernews.cern.ch_HyperNews_CMS_get_edmFramework_3833.html&d=DwIBAw&c=gRgGjJ3BkIsb5y6s49QqsA&r=HIUuPArZ6-xhVnE7rXib2Q&m=cHS4J6U4WD7c72x1FtYPsqqK_WGhk42q2uut05qNc48&s=WkqbJO_Z66a-59VA-uO-CcOmlTFfnY2JdsnHz22AMhM&e=

[2018-06-06 14:51] Dr15Jones commented on #23509
@belforte FYI

[2018-06-06 14:55] cmsbuild commented on #23504
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc700/1642

[2018-06-06 14:56] Dr15Jones commented on #23509
Switching to a unique `edm::Exception` for 'FileWriteError' is not as trivial as one could hope since there is helper function `throwStorageError` which is used by several pieces of code to throw an exception with 'FileWriteError' but is also used to throw exceptions with different strings.

In addition, the original request was for a specific 'out of storage space' error. Such may be able to be a

[2018-06-06 14:59] cmsbuild commented on #23504
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc810 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc810/1643

[2018-06-06 15:04] belforte commented on #23509
OK. I read as "too much pain for gain". Let's forget. Thanks anyhow. Maybe let's simply make sure that we have some clear way to report details about "generic exceptions". In the HN thread above I was reading stderr, maybe the exception messae is already in FJR (or could be?).

[2018-06-06 15:17] cmsbuild commented on #23504
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc6_amd64_gcc700/1640

[2018-06-06 15:20] cmsbuild commented on #23504
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc630/1641

[2018-06-06 15:37] fabiocos commented on #23439
concerning the original problem, the DQM module triggering the problem is in the sequence

process.pathALCARECOTkAlMuonIsolated = cms.Path(process.ALCARECOTkAlMuonIsolatedHLT+process.ALCARECOTkAlMuonIsolatedDCSFilter+process.ALCARECOTkAlMuonIso
latedGoodMuons+process.ALCARECOTkAlMuonIsolatedRelCombIsoMuons+process.ALCARECOTkAlMuonIsolated, cms.Task(process.ALCARECOTkAlMuonIsolatedTkAlDQM, process.

[2018-06-06 15:41] fabiocos commented on #23439
@fabozzi

the 10_1_X code

` if(doMVA) {
         pvIndex = getPv(iTrack.index(), &(*vertex)); //HFDumpUtitilies
         if (pvIndex > -1) {
	   refPoint = vertex->at(pvIndex).position();
         } else {
	   if (&(*beamSpot)==NULL) {
	     refPoint = beamSpot->position();
	   } else {
	     cout << "ERROR: No beam sport found!" << endl;
	   }
         }
      }`

becomes in 10_2_X

`     if(doM

[2018-06-06 15:44] fabiocos commented on #23439
@arunhep @lpernie @jfernan2 @dmitrijus could you please comment?

[2018-06-06 15:49] fabiocos commented on #23504
+1

[2018-06-06 15:49] cmsbuild commented on #23504
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-06-06 15:49] cmsbuild commented on #23504
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc7_amd64_gcc810, slc7_amd64_gcc630, slc6_amd64_gcc700, slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cm

[2018-06-06 15:50] cmsbuild commented on #23504
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1645/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 15:51] cmsbuild commented on #23504
The build has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1647/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 15:51] cmsbuild commented on #23504
The build has started for slc6_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1646/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 15:51] cmsbuild commented on #23504
The build has started for slc7_amd64_gcc810 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1649/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 15:51] cmsbuild commented on #23504
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1648/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 15:54] fabiocos commented on #23475
@fioriNTU @boudoul @jandrea @arossi83 thanks for the comments, do you know when is this plugin expected to arrive? It will be in time for CMSSW_10_2_0_pre6?

[2018-06-06 15:58] cmsbuild commented on #23504
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1650/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-06 16:40] arossi83 commented on #23475
@fabiocos most probably it will be not ready for CMSSW_10_2_0_pre6, we will provide a FIX for this in time for CMSSW_10_2_0_pre6 @jandrea @fioriNTU

[2018-06-06 16:48] cmsbuild commented on #23504
The was an error for slc7_amd64_gcc810.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc810/1649

[2018-06-06 17:57] cmsbuild commented on #23504
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc700/1648
Some tes

[2018-06-06 18:48] cmsbuild commented on #23504
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc6_amd64_gcc630/1645
Some tes

[2018-06-06 19:02] cmsbuild commented on #23504
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_aarch64_gcc700/1650

[2018-06-06 19:33] cmsbuild commented on #23504
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc700/1648

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-06 19:39] cmsbuild commented on #23504
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc6_amd64_gcc700/1646
Some tes

[2018-06-06 19:42] cmsbuild commented on #23504
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc630/1647
Some tes

[2018-06-06 20:00] dmitrijus commented on #23439
This is fine, I guess (I am not the author of the module).

From what it seems, backporting https://github.com/cms-sw/cmssw/pull/23015 will do the trick.

[2018-06-06 20:02] dmitrijus commented on #23439
@parbol

[2018-06-06 20:32] cmsbuild commented on #23504
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc6_amd64_gcc630/1645

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-06 21:19] cmsbuild commented on #23504
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc6_amd64_gcc700/1646

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-06 21:28] cmsbuild commented on #23504
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc630/1647

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-06 21:58] lpernie commented on #23439
I agree with @dmitrijus , seems that a backport would solve the problem.

[2018-06-07 07:09] fabiocos commented on #23504
upload all

[2018-06-07 07:10] cmsbuild commented on #23504
Queing Jenkins upload for slc6_amd64_gcc630

[2018-06-07 07:10] cmsbuild commented on #23504
Queing Jenkins upload for slc6_amd64_gcc700

[2018-06-07 07:10] cmsbuild commented on #23504
Queing Jenkins upload for slc7_amd64_gcc630

[2018-06-07 07:10] cmsbuild commented on #23504
Queing Jenkins upload for slc7_amd64_gcc700

[2018-06-07 07:10] cmsbuild commented on #23504
The upload has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1093/console

[2018-06-07 07:10] cmsbuild commented on #23504
The upload has started for slc6_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1094/console

[2018-06-07 07:10] cmsbuild commented on #23504
The upload has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1095/console

[2018-06-07 07:11] cmsbuild commented on #23504
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1096/console

[2018-06-07 07:12] cmsbuild commented on #23504
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre5-slc6_amd64_gcc630/1093
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-07 07:12] cmsbuild commented on #23504
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc630/1095
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-07 07:12] cmsbuild commented on #23504
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-07 07:12] cmsbuild commented on #23504
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-07 07:12] cmsbuild commented on #23504
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre5-slc7_amd64_gcc700/1096
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-07 07:12] cmsbuild commented on #23504
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-07 07:12] fabiocos commented on #23439
@dmitrijus @lpernie that backprot will solve one problem, the beam spot not found message. What about the other one, that is flooding with error messages the LogError output? Who is going to look into it? Is anybody looking at the histograms produced by this DQM (I guess no, because the module is not executed I would say)?

[2018-06-07 07:12] cmsbuild commented on #23504
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre5-slc6_amd64_gcc700/1094
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-07 07:13] cmsbuild commented on #23504
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-07 07:30] fabiocos commented on #23504
release-notes

[2018-06-07 07:30] cmsbuild commented on #23504
Generating release notes since CMSSW_10_2_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-06-07 07:30] cmsbuild commented on #23504
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_2_0_pre5 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_0_pre5

Cheers,
cms

[2018-06-07 07:31] cmsbuild commented on #23504
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre5

[2018-06-07 14:20] parbol commented on #23439
Hi,

I am the author of MuonRecoAnalyzer.cc. Yes, there was a problem with that cout, that was fixed as Fabio commented. I think the backport should work.

For the other module:

https://cmssdt.cern.ch/lxr/source/DQMOffline/Alignment/src/TkAlCaRecoMonitor.cc#0190

that was triggering the initial problem I don't know anything. I'm not author/developer of that module.

cheers,

Pablo

[2018-06-07 14:40] fabiocos commented on #23439
@parbol the backport is there #23519

@dmitrijus @lpernie the other issue is flooding of LogError the output (and the skim), who is taking care of that?

[2018-06-07 14:54] lpernie commented on #23439
Hi @fabiocos , for the other module I think it is DQM core or offline DQM-Tk developers responsibility to propose a change.

[2018-06-07 15:16] jfernan2 commented on #23439
I have pinged DQM-Tk since the decission depenps on them, not on DQM. We (DQM) could silence blindly the message, but we are not sure about future consequences.
@boudoul any hint who should we contact directly instead of the full DQM-Tk crew as I did?
Thanks in advance

[2018-06-07 16:46] Dr15Jones opened #23522 "gcc8 SMatrix inversion failure"
In the gcc 8 integration builds, we have many release validation jobs failing with matrix inversion errors. E.g.
[code]

[2018-06-07 16:46] cmsbuild commented on #23522
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-07 16:57] Dr15Jones commented on #23522
I ran one of the failing jobs, workflow 4.57 step 3, in the debugger and obtained the following traceback

[code]

In the debugger, I decomposed the 3x3 matrix which is
[code]
which in expenential form is
[code]

I asked Wolfram Alpha to invert the matrix and it gave
[code]

 Notice that to get unity when multiplying these two matrices, you wind up creating 3 large numbers of order 10^15 and then

[2018-06-07 17:03] slava77 commented on #23522
On 6/7/18 9:57 AM, Chris Jones wrote:

why would it be special with gcc8?

[2018-06-07 18:35] Dr15Jones commented on #23522
I compiled the following function using both gcc8 and gcc6
[code]

In both cases, the matrix inversion failed.

My conclusion is the matrix inversion is not the origin of the problem. Instead,  the problem lies with the values that were passed to the original matrix.

[2018-06-07 20:02] slava77 commented on #23522
IIRC, the failing modules can be rerun from RECO inputs.
It would be worth to compare their behavior in gvv8 and gcc6 based on the same inputs (e.g. made in gcc6).

[2018-06-07 20:46] slava77 opened #23525 "memory leak in nanoAOD in GenHFHadronMatcher"
https://github.com/cms-sw/cmssw/blob/71ca6cc2c05f6ac6aa84b51976d1a06c9b6719a4/PhysicsTools/JetMCAlgos/plugins/GenHFHadronMatcher.cc#L621-L624

analyzedParticles is never deleted.
This adds up to about 250 bytes/event in wf 1325.7

@arizzi
@gpetruc

[2018-06-07 20:46] cmsbuild commented on #23525
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-07 20:47] slava77 commented on #23525
assign analysis

[2018-06-07 20:47] cmsbuild commented on #23525
New categories assigned: analysis

@arizzi,@monttj,@gpetruc you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-07 21:28] Dr15Jones commented on #23522
I used the input file created by step2 of the gcc 8 workflow as the input to a gcc 6 job using the same configuration file which failed on gcc 8. For gcc 6, the job ran just fine.

This implies that the problem lies within the step 3 code.

[2018-06-07 21:55] slava77 commented on #23522
this implied a test of rerunning the failing module using outputs of step3 (RECO)

[2018-06-08 14:45] kpedro88 commented on #19666
To make a pull request:
1. make a fork of https://github.com/cms-sw/cms-bot (click the "fork" button at the top right)
2. make a local copy of the repository: `git clone git@github.com:malbouis/cms-bot.git`
3. make a new branch and edit the categories_map.py file:
[code]
4. Submit a pull request: https://github.com/cms-sw/cms-bot/compare/master...malbouis:addCTPPS?expand=1

This whole process shou

[2018-06-08 14:49] Dr15Jones commented on #23522
I ran the gcc 8 and gcc 6 version in the debugger side-by-side. I found that the `std::vector<reco::PFDisplacedVertexCandidate>` read from the `edm::Event` by the `PFDisplacedVertexProducer` are not the same. They both agree that there is only one `reco::PFDisplacedVertexCandidate` in the collection. However, gcc 8 says that candidate has 273 tracks while gcc 6 says it has 270.

[2018-06-08 15:08] Dr15Jones commented on #23522
Further more, the `reco::VertexCollection` read from the `edm::Event` by `PFDisplacedVertexProducer` for gcc 8 and gcc 6 do not identical. The gcc 8 says there are 26 vertices in the collection, while gcc 6 has 27. The 0th item in the two collections are similar, but not identical.

gcc8
[code]

gcc 6
[code]

[2018-06-08 15:14] Dr15Jones commented on #23522
The _main vertex_ being used comes from the module label `offlinePrimaryVertices`

[2018-06-08 15:28] Dr15Jones commented on #23522
@makortel I've gone well beyond my expertise on the RECO code at this point. My gut says we are probably seeing effects from differences in tracking. If you could use some of your 'spare cycles' to look into this (such as when you want a break from what you are doing now) that would be most helpful.

[2018-06-08 15:29] Dr15Jones commented on #23522
assign core

[2018-06-08 15:29] cmsbuild commented on #23522
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-08 15:35] slava77 commented on #23522
On 6/8/18 8:28 AM, Chris Jones wrote:

simply having random differences is "reasonable".
You'd probably find some by running on the same gcc6 on AMD and Intel
side by side.
The issue is why these differences now lead to such frequent failures.

[2018-06-08 16:00] makortel commented on #23522
@Dr15Jones Can you easily extract how the matrix of https://github.com/cms-sw/cmssw/issues/23522#issuecomment-395492266 and https://github.com/cms-sw/cmssw/issues/23522#issuecomment-395521786 looks in gcc6 for the same event?

[2018-06-08 16:03] Dr15Jones commented on #23522
For completeness, I tried gcc 7 and it got the exact same result for `print *mainVertexHandle.product()->_M_impl._M_start` as gcc 6. It also said there were 27 elements in the main vertex collection.

[2018-06-08 16:06] Dr15Jones commented on #23522
@makortel unfortunately since gcc 6 and gcc 8 disagree on number of vertices and number of tracks used by a vertex, I do not know if there is an equivalent matrix.

[2018-06-08 16:07] makortel commented on #23522
Ah, ok. I (mis)understood your https://github.com/cms-sw/cmssw/issues/23522#issuecomment-395784937 such that in PFDisplacedVertexProducer there would have been only one matrix in both cases.

[2018-06-08 18:51] Dr15Jones commented on #23522
The vertex seed which causes the problem on gcc 8 looks like
[code]
Where `idv == 192`

I looked through all the seed vertices on gcc 6, and the only one I could find which was remotely close to this one was:
[code]
Where `idv == 202`.

However, the gcc 6 one only has two tracks so is rejected nearly immediately (so the error matrix is never requested) while the gcc 8 has 4 tracks and therefore pr

[2018-06-08 19:28] Dr15Jones commented on #23522
I switched debugging information on for the module and it printed the following just before the exception
[code]

[2018-06-08 20:03] Dr15Jones commented on #23509
I was able to modify the system so that exceptions which were labelled `FileWriteError` now cause cmsRun to return with a unique code. However, that exception happens for any write problem.

A major complication for having a separate `FileWriteToFullFileSystemError` is we allow writing from xrootd and dcache. Looking at the documentation for both systems and I can't find a code they use to denote

[2018-06-08 20:03] Dr15Jones commented on #23509
@bbockelm FYI

[2018-06-09 05:38] cmsbuild commented on #23504
The cleanup has started for slc7_aarch64_gcc700

[2018-06-09 05:38] cmsbuild commented on #23504
The cleanup has started for slc7_amd64_gcc810

[2018-06-09 05:38] cmsbuild commented on #23504
The cleanup has started for slc6_amd64_gcc630

[2018-06-09 05:38] cmsbuild commented on #23504
The cleanup has started for slc6_amd64_gcc700

[2018-06-09 05:38] cmsbuild commented on #23504
The cleanup has started for slc7_amd64_gcc630

[2018-06-09 05:38] cmsbuild commented on #23504
The cleanup has started for slc7_amd64_gcc700

[2018-06-09 05:38] #23504 closed

[2018-06-09 05:46] cmsbuild commented on #23504
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre5-slc7_amd64_gcc630/1023

[2018-06-09 06:13] cmsbuild commented on #23504
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre5-slc6_amd64_gcc630/1026

[2018-06-09 08:01] cmsbuild commented on #23504
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre5-slc7_amd64_gcc630/1032

[2018-06-09 08:01] cmsbuild commented on #23504
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre5-slc7_amd64_gcc700/1033

[2018-06-09 08:01] cmsbuild commented on #23504
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre5-slc7_amd64_gcc810/1034

[2018-06-09 08:01] cmsbuild commented on #23504
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre5-slc7_amd64_gcc810/1035

[2018-06-09 08:02] cmsbuild commented on #23504
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre5-slc7_aarch64_gcc700/1036

[2018-06-11 08:34] fabiocos commented on #23509
@Dr15Jones @belforte this is now in the IB for possible checks

[2018-06-11 09:07] belforte commented on #23509
thanks, I have opened a WMCore issue to add this code to the list of known ones
https://github.com/dmwm/WMCore/issues/8647

[2018-06-11 13:35] makortel commented on #15248
@mrodozov Ok. I was thinking whether it would have made sense to add the check as part of PR tests without enforching it (to allow spotting these inconsistencies for new code earlier), but maybe for a ~week time scale it is not worth it.

[2018-06-11 14:07] bbockelm commented on #23509
While we allow writing to Xrootd and dCache, I don't believe this is done in practice at any site.

That said, I think having a file write error is a good enough approximation for now.

[2018-06-11 14:38] piberger opened #23560 "Python XRootD binding broken in CMSSW_10_2_*"
Xrootd python bindings are broken for me since version 10.2,

to reproduce:

    cmsenv
    python

CMSSW_10_2_0_pre4:
"ImportError: No module named XRootD"

CMSSW_10_1_0:
everything ok!

alternatively:

    from xrootdpyfs import XRootDPyFS

will yield the error: ImportError: No module named XRootD.client

anything I can do besides using the (slower) xrdfs program?

[2018-06-11 14:38] cmsbuild commented on #23560
A new Issue was created by  @piberger .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-11 15:14] Dr15Jones commented on #23560
assign core

[2018-06-11 15:14] cmsbuild commented on #23560
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-11 15:20] smuzaffar commented on #23560
@piberger , thanks for reporting this. Looks like it was broken when we did python2/3 updates. We will fix this for next 10_2_X IB. For now you can do
[code]
to get it in PYTHON27PATH.

[2018-06-11 15:37] smuzaffar commented on #23560
This https://github.com/cms-sw/cmsdist/pull/4106 should fix the issue once merged.

[2018-06-11 15:55] piberger commented on #23560
@smuzaffar thanks for your quick help, your workaround with the PYTHON27PATH works for me!

[2018-06-11 16:22] perrotta commented on #23377
I went through the EDFilter's mentioned in this issue: electronsWithPresel, mvaElectrons, (let include also electronsCiCLoose which enters the HI reco sequence), pfNoPileUpCandidates and pfPileUpAllChargedParticles

It turns out that electronsWithPresel, electronsCiCLoose, pfNoPileUpCandidates and pfPileUpAllChargedParticles are "true" filters, which are however configured in the reco sequence in

[2018-06-11 21:22] pcanal commented on #23105
@dan131riley In the JIRA ticket (https://sft.its.cern.ch/jira/browse/ROOT-9422) @lmoneta mentions (and asks):

A small numerical different is expected, not a large one. It is possible that in some case the fit converges and in other not, if the fit is rather un-stable. Do you have a reproducible test showing a large difference ?

[2018-06-12 03:35] kpedro88 opened #23565 "Memory leaks in OMTF"
While valgrinding something else, I noticed some memory leaks in OMTF code.

One source of leaks (~6MB) is in the L1 processor:
https://github.com/cms-sw/cmssw/blob/020159eb35d2bc1d11d7bd637e1f85bd2eb3c005/L1Trigger/L1TMuonOverlap/src/OMTFProcessor.cc#L89
https://github.com/cms-sw/cmssw/blob/020159eb35d2bc1d11d7bd637e1f85bd2eb3c005/L1Trigger/L1TMuonOverlap/src/OMTFProcessor.cc#L106

Another source

[2018-06-12 03:35] kpedro88 commented on #23565
assign l1,db,reconstruction

[2018-06-12 03:35] cmsbuild commented on #23565
New categories assigned: db,reconstruction,l1

@slava77,@ggovi,@rekovic,@nsmith-,@perrotta,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-12 03:35] cmsbuild commented on #23565
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-12 03:54] slava77 commented on #23565
@kpedro88
what was the reason to assign this to reco?

[2018-06-12 03:56] kpedro88 commented on #23565
1. The second leak shows up in the packer sequence (even though the source is CondFormats)
2. Reco L2s seem more likely to actually press someone to fix the code

[2018-06-12 04:20] slava77 commented on #23565
which packer sequence?
EventFilter/L1TRawToDigi belongs to L1
please double-check https://github.com/cms-sw/cms-bot/blob/master/categories_map.py to confirm that the packages with affected code are in the reco category.
Thank you.

[2018-06-12 06:55] thomreis commented on #23565
@konec , @kbunkow please take note of this.

[2018-06-12 13:54] kpedro88 commented on #23565
@slava77 you are right, I was thinking of the whole EventFilter subsystem as part of reco. Apologies.

[2018-06-12 13:55] kpedro88 commented on #23565
unassign reconstruction

[2018-06-12 14:47] dan131riley commented on #23105
@pcanal I was not able to create a reproducible test case in the time budgeted for it.  I suspect we're seeing an amplification of small differences, where we get small differences in one step that are amplified in a subsequent step, but I haven't traced through the operations to see how plausible that is.  These are also low statistics, so they could be ill conditioned.  So at this point I don't

[2018-06-12 20:04] konec commented on #23565
Hi, thank you for finding these problems.
These leaks are not of key importance, because the objects are created only once per job i think. But of course I will fix it (and try to do it soon).

[2018-06-13 07:38] fabiocos opened #23572 "Build CMSSW_10_1_7"

[2018-06-13 07:38] cmsbuild commented on #23572
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-06-13 07:40] fabiocos commented on #23572
build cmssw-tool-conf

[2018-06-13 07:40] cmsbuild commented on #23572
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630, slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-06-13 07:41] cmsbuild commented on #23572
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1651/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-13 07:41] cmsbuild commented on #23572
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1653/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-13 07:41] cmsbuild commented on #23572
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1652/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-13 07:57] smuzaffar opened #23573 "[GCC 7] Fortran warnings in GeneratorInterface/AMPTInterface about used but uninitialized"
There are 5 compiler warnings about `used but uninitialized` variables in one fortran file https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/AMPTInterface/src/hipyset1.35.f

@mrodozov had contacted the developers few months ago but have not received any fix. We should get this fixed or hide before moving to GCC 7 as production compiler (to avoid having the new 'compilation-warnings' l

[2018-06-13 07:58] cmsbuild commented on #23573
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-13 08:28] smuzaffar commented on #23573
assign generators
FYI, @kurtejung

[2018-06-13 08:28] cmsbuild commented on #23573
New categories assigned: generators

@perrozzi,@alberto-sanchez,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-13 08:30] smuzaffar commented on #23573
For ref I have adding the wraning message here as IB logs will go away in few days.
[code]

[2018-06-13 09:00] cmsbuild commented on #23572
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc6_amd64_gcc630/1651

[2018-06-13 09:02] cmsbuild commented on #23572
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc7_amd64_gcc630/1652

[2018-06-13 09:23] cmsbuild commented on #23572
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc7_amd64_gcc700/1653

[2018-06-13 14:38] Dr15Jones commented on #23509
+1

[2018-06-13 14:38] #23509 closed

[2018-06-13 14:39] cmsbuild commented on #23509
This issue is fully signed and ready to be closed.

[2018-06-13 14:46] Dr15Jones commented on #23311
This happened again for the same workflow
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc6_amd64_gcc700/CMSSW_10_2_X_2018-06-12-1100/pyRelValMatrixLogs/run/136.7802_RunHLTPhy2017B_AODextra+RunHLTPhy2017B_AODextra+DQMHLTonAODextra_2017+HARVESTDQMHLTonAOD_2017/step2_RunHLTPhy2017B_AODextra+RunHLTPhy2017B_AODextra+DQMHLTonAODextra_2017+HARVESTDQMHLTonAOD_2017.log#/

[code]

Once again, it happens wi

[2018-06-13 14:50] Dr15Jones commented on #23311
This happened in a different, but related workflow:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_2_X_2018-06-12-1100/pyRelValMatrixLogs/run/136.7801_RunHLTPhy2017B_AOD+RunHLTPhy2017B_AOD+DQMHLTonAOD_2017+HARVESTDQMHLTonAOD_2017/step2_RunHLTPhy2017B_AOD+RunHLTPhy2017B_AOD+DQMHLTonAOD_2017+HARVESTDQMHLTonAOD_2017.log#/

[code]

This happened when stream 1 was processing th

[2018-06-13 16:36] fabiocos commented on #23572
+1

[2018-06-13 16:37] cmsbuild commented on #23572
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-06-13 16:37] cmsbuild commented on #23572
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-06-13 16:37] cmsbuild commented on #23572
The build has started for slc6_amd64_gcc630 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1654/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-13 16:38] cmsbuild commented on #23572
The build has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1655/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-13 16:38] cmsbuild commented on #23572
The build has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1656/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-13 20:30] cmsbuild commented on #23572
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc7_amd64_gcc630/1655
Some tests (

[2018-06-13 20:50] cmsbuild commented on #23572
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc7_amd64_gcc700/1656
Some tests (

[2018-06-13 21:46] cmsbuild commented on #23572
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc7_amd64_gcc630/1655

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-13 21:47] cmsbuild commented on #23572
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc6_amd64_gcc630/1654
Some tests (

[2018-06-13 23:01] cmsbuild commented on #23572
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc7_amd64_gcc700/1656

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-13 23:04] cmsbuild commented on #23572
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_7-slc6_amd64_gcc630/1654

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-14 07:35] fabiocos commented on #23572
upload all

[2018-06-14 07:35] cmsbuild commented on #23572
Queing Jenkins upload for slc6_amd64_gcc630

[2018-06-14 07:35] cmsbuild commented on #23572
Queing Jenkins upload for slc7_amd64_gcc630

[2018-06-14 07:35] cmsbuild commented on #23572
Queing Jenkins upload for slc7_amd64_gcc700

[2018-06-14 07:38] cmsbuild commented on #23572
The upload has started for slc6_amd64_gcc630 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1097/console

[2018-06-14 07:38] cmsbuild commented on #23572
The upload has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1098/console

[2018-06-14 07:39] cmsbuild commented on #23572
The upload has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1099/console

[2018-06-14 07:39] cmsbuild commented on #23572
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_7-slc7_amd64_gcc630/1098
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-14 07:40] cmsbuild commented on #23572
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-14 07:42] cmsbuild commented on #23572
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_7-slc7_amd64_gcc700/1099
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-14 07:42] cmsbuild commented on #23572
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-14 07:45] cmsbuild commented on #23572
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_7-slc6_amd64_gcc630/1097
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-14 07:45] cmsbuild commented on #23572
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-14 08:01] fabiocos commented on #23572
release-notes

[2018-06-14 08:01] cmsbuild commented on #23572
Generating release notes since CMSSW_10_1_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-06-14 08:01] cmsbuild commented on #23572
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_7 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_7

Cheers,
cms-bot

You can also click <a href="

[2018-06-14 08:02] cmsbuild commented on #23572
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_7

[2018-06-14 08:19] fabiocos commented on #23275
CMSSW_10_1_7 has been uploaded and announced, this closes the list of requests received for the preparation of the Totem run

[2018-06-14 16:38] Dr15Jones commented on #23522
I have found why the geometry is not working. When some of the DDLogicalParts are being constructed (i.e. `DD_NC` is being called), the name of the part has extra white space at the end, in particular a return and two tabs. This is because of formatting being done in the xml file: e.g.
https://github.com/cms-sw/cmssw/blob/master/Geometry/TrackerCommonData/data/tidmodule0.xml#L45

Whatever code is

[2018-06-14 19:02] Dr15Jones commented on #23522
I checked gcc630 version and the value passed to `DD_NC` does not have the extra space characters.

[2018-06-14 19:07] Dr15Jones commented on #23522
I believe the strings in an `<Vector></Vector>` are handled by

https://github.com/cms-sw/cmssw/blob/master/DetectorDescription/Parser/src/DDLVector.cc#L66

which is a boost spirit (classic) based parser.

[2018-06-15 07:12] makortel commented on #23522
@Dr15Jones Does the DDLVector parsing fix (#23592) also fix the SMatrix inversion failure? (from your comments it is not crystal clear if these two are connected or not)

[2018-06-15 13:34] Dr15Jones commented on #23522
@makortel  My mistake, this is not a gcc8 problem, it is a new boost problem.

[2018-06-15 13:35] drkovalskyi commented on #23057
This is not a bug, but a way to use bits defined in https://github.com/cms-sw/cmssw/blob/master/DataFormats/MuonReco/interface/MuonSegmentMatch.h So I'll change the input type as recommended by Chris.

[2018-06-15 15:02] mrodozov opened #23598 "FWCore/ParameterSet headers check error"
I'm trying to finish the headers work regarding #15248. We still have few headers with errors in FWCore/ParameterSet
https://cmssdt.cern.ch/SDT/jenkins-artifacts/check_headers/CMSSW_10_2_X_2018-06-14-2300/slc6_amd64_gcc630/headers_with_error.log
Could you please have a look, to cover completely FWCore ?
To reproduce the error just checkout FWCore/ParameterSet  and run it with
`scram b -j $nthreads

[2018-06-15 15:02] cmsbuild commented on #23598
A new Issue was created by  @mrodozov Mircho Rodozov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-15 20:39] Dr15Jones opened #23602 "boost 1.67 and Geometry parsing error"
When testing boost 1.67, the DDD is not properly parsing the files.

[2018-06-15 20:39] cmsbuild commented on #23602
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-15 20:40] Dr15Jones commented on #23602
[I had previously put this comment in the wrong issue]:

I have found why the geometry is not working. When some of the DDLogicalParts are being constructed (i.e. `DD_NC` is being called), the name of the part has extra white space at the end, in particular a return and two tabs. This is because of formatting being done in the xml file: e.g.
https://github.com/cms-sw/cmssw/blob/master/Geometry/Tra

[2018-06-15 20:40] Dr15Jones commented on #23602
I checked the non_DEVEL version and the value passed to DD_NC does not have the extra space characters.

[2018-06-15 20:40] Dr15Jones commented on #23602
assign core

[2018-06-15 20:40] cmsbuild commented on #23602
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-15 20:41] Dr15Jones commented on #23602
I believe the strings in an `<Vector></Vector>` are handled by

https://github.com/cms-sw/cmssw/blob/master/DetectorDescription/Parser/src/DDLVector.cc#L66

which is a boost spirit (classic) based parser.

[2018-06-15 20:42] Dr15Jones commented on #23602
#23592 fixes the test failures in the _DEVEL build.

[2018-06-16 06:08] cmsbuild commented on #23572
The cleanup has started for slc6_amd64_gcc630

[2018-06-16 06:08] cmsbuild commented on #23572
The cleanup has started for slc7_amd64_gcc630

[2018-06-16 06:08] cmsbuild commented on #23572
The cleanup has started for slc7_amd64_gcc700

[2018-06-16 06:08] #23572 closed

[2018-06-16 06:09] cmsbuild commented on #23572
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_7-slc6_amd64_gcc630/1040

[2018-06-16 06:13] cmsbuild commented on #23572
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_7-slc7_amd64_gcc630/1041

[2018-06-16 06:15] cmsbuild commented on #23572
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_7-slc6_amd64_gcc630/1037

[2018-06-16 06:15] cmsbuild commented on #23572
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_7-slc7_amd64_gcc630/1038

[2018-06-16 06:18] cmsbuild commented on #23572
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_7-slc7_amd64_gcc700/1042

[2018-06-16 06:29] cmsbuild commented on #23572
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_7-slc7_amd64_gcc700/1039

[2018-06-18 08:03] fabiocos opened #23606 "Test EcalIntercalibConstants_O2O_test failing in recent IBs"
Since the build of Friday 15 June evening, one of the unit tests in CondTools/Ecal, namely EcalIntercalibConstants_O2O_test , is failing with the output

%MSG
----- Begin Fatal Exception 18-Jun-2018 00:13:24 CEST-----------------------
An exception of category 'ConditionDatabase' occurred while
   [0] Calling endJob for module EcalIntercalibConstantsPopConBTransitionAnalyzer/'popConEcalIntercalibC

[2018-06-18 08:03] cmsbuild commented on #23606
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-18 08:03] fabiocos commented on #23606
assign db

[2018-06-18 08:03] cmsbuild commented on #23606
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-18 09:04] ggovi commented on #23606
@depasse
Hello Pierre, can you please have a look?
Thanks!

[2018-06-18 09:29] depasse commented on #23606
Hi,

why "There is no tag, global tag or (unique) payload named EcalIntercalibConstants_0 in the database."
It is "EcalIntercalibConstants_0T" .

The switching Bon/Boff process has well worked recently, see  :
O2O Run Log Job Name: EcalIntercalibConstants_hlt, Start Time: 2018-06-15 15:45:11.618702
,with  the tag EcalIntercalibConstants_0T.

N.B.
There is a tag EcalIntercalibConstants_0T_v2 with t

[2018-06-18 09:33] fabiocos commented on #23598
assign core

[2018-06-18 09:33] cmsbuild commented on #23598
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-18 10:17] ggovi commented on #23606
@depasse
Hi Pierre, this is a TEST. it has nothing to do with the production O2O. You can find the source in:
https://github.com/cms-sw/cmssw/blob/master/CondTools/Ecal/test/EcalIntercalibConstants_O2O_test.sh

[2018-06-18 11:19] depasse commented on #23606
Hi Giacomo,

you have to change L3 : EcalIntercalibConstants_0   by EcalIntercalibConstants_0T

L3  : conddb --yes copy EcalIntercalibConstants_0 --destdb EcalIntercalibConstants_V1_hlt_O2OTEST.db

[2018-06-18 13:55] ggovi commented on #23606
@depasse
Ok thanks. Pretty strange that it was working before. Can you please prepare the PR?

[2018-06-18 14:15] Dr15Jones commented on #23598
@wddgit could you take a look at this?

[2018-06-18 14:19] depasse commented on #23606
May I create a new PR or is it possible to use the present number (and how ?) Thanks.

[2018-06-18 14:31] ggovi commented on #23606
@depasse
I guess it's better to  create a new PR and then reference it here with one more comment.

[2018-06-18 14:59] depasse commented on #23606
New PR to correct this : "Correction of a tag name" #23610

[2018-06-18 15:38] Dr15Jones opened #23612 "CondCore/CondDB unit test fails with boost 1.67"
When using boost 1.67 in the CMSSW_10_2_DEVEL_X IB, we see a unit test failure in CondCore/CondDB

[code]

[2018-06-18 15:38] cmsbuild commented on #23612
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-18 15:41] Dr15Jones commented on #23612
NOTE: We had a few other failures with boost 1.67 which all involved the boost spirit classic parser. In this version of boost, the parser is now returning trailing white spaces to parsing groups where before it was stripping them off.
E.g. `( "foo" )` previously would return `'"foo"'` but now return `'"foo" '`.

If the DB code is using the spirit parser, this might account for what is going wrong

[2018-06-18 15:42] Dr15Jones commented on #23612
assign db

[2018-06-18 15:42] cmsbuild commented on #23612
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-18 17:46] alberto-sanchez commented on #23573
hi @kurtejung, are you looking into this?

[2018-06-18 18:18] kurtejung commented on #23573
hi @alberto-sanchez - I left CMS a few months ago and am no longer the responsible for this package.   I'll ping the HIN conveners and ask who the new person in charge of the package is and list them here. Thanks.

[2018-06-19 08:05] ggovi commented on #23606
@depasse
thanks a lot! I guess this issue can be closed.

[2018-06-19 08:12] #23606 closed

[2018-06-19 08:20] fabiocos commented on #23606
@depasse as this is failing in 10_1_X as well, could you please make a backport there?

[2018-06-19 09:15] depasse commented on #23606
Sure but I don't know how to do it. Could you indicate me how to proceed or a link to a document that explains.  Thanks.

[2018-06-19 11:23] boudoul commented on #23606
Dear @depasse, @fabiocos , @ggovi
In order to speed up the process, I made myself the backport  :  it is here :  #23622
[I made exactly the same change as @depasse]

I can show at my next visit in Lyon to Pierre how to do it

[2018-06-19 13:53] perrotta commented on #23377
This issue is now addressed by #23623

[2018-06-19 14:19] Dr15Jones commented on #23377
Thanks!

[2018-06-19 14:21] makortel opened #23624 "Fix premixing for HGCal v9 geometry"
The HGCal v9 geometry #23545 uses new DetId's (`HGCSiliconDetId`, `HGCScintillatorDetId`) that use also the subdet-part (i.e. 28 bits in total) of the DetId for subdet-specific data. This is incompatible with how the `PHGCSimAccumulator` currently packs the subdet-specific data by taking the 27 lowest bits
https://github.com/cms-sw/cmssw/blob/3001e850a307d3a1e10f3d862f26cad0c3785e20/DataFormats/HG

[2018-06-19 14:21] cmsbuild commented on #23624
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-19 14:33] kpedro88 commented on #23624
assign simulation,upgrade

[2018-06-19 14:34] cmsbuild commented on #23624
New categories assigned: upgrade,simulation

@mdhildreth,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-19 18:58] Dr15Jones commented on #23598
See #23626

[2018-06-19 19:06] #23602 closed

[2018-06-20 07:51] fabiocos commented on #23475
The PR #23575 "fixes" the LogError problem, but it does not solve ultimately the problem as the module is still not executed (producing a new LogWarning message). Therefore I keep this issue open to track the continuation of the work needed to finally clean up the use of this DQM code.

[2018-06-20 15:10] Dr15Jones commented on #23612
@ggovi I vote to keep the failure to remind us of the problem.

By the way, do you have any mechanism to trace down what difference is causing the problem? E.g. what object or ability to serialize to a text string and compare the old and new output?

[2018-06-20 15:18] ggovi commented on #23612
@Dr15Jones
i'll try to investigate!

[2018-06-20 19:33] #23377 closed

[2018-06-20 19:34] Dr15Jones commented on #23598
+1

[2018-06-20 19:34] cmsbuild commented on #23598
This issue is fully signed and ready to be closed.

[2018-06-20 21:05] #23598 closed

[2018-06-20 21:16] #21640 closed

[2018-06-20 21:16] #21637 closed

[2018-06-20 21:16] #21452 closed

[2018-06-20 21:17] #21445 closed

[2018-06-20 21:17] #21250 closed

[2018-06-20 21:17] #21110 closed

[2018-06-20 21:18] #20977 closed

[2018-06-20 21:18] #20346 closed

[2018-06-20 21:18] #20161 closed

[2018-06-20 21:20] #19690 closed

[2018-06-20 21:20] #19593 closed

[2018-06-20 21:20] #19592 closed

[2018-06-20 21:20] #19590 closed

[2018-06-20 21:21] #18425 closed

[2018-06-20 21:21] #18246 closed

[2018-06-20 21:21] #17664 closed

[2018-06-20 21:21] #15193 closed

[2018-06-21 08:29] mrodozov opened #23633 "Circular inclusion in TrackingTools/GsfTools"
The last remaining header from the fsyntax check that we couldn't fix is this one:
TrackingTools/GsfTools/interface/MultiGaussianStateCombiner.h
with this short description:
[code]
Can we ask you to help us with that, as it requires expert with better understanding than us of this package, to avoid the circular inclusions present.
To reproduce the issue
[code]
References to the error:
https://cmss

[2018-06-21 08:29] cmsbuild commented on #23633
A new Issue was created by  @mrodozov Mircho Rodozov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-21 16:20] fabiocos opened #23634 "Duplication of parameter declarations in SiStrip tracker DIGI"
During the review of #23621 I commented about the evident duplication of parameters between

https://cmssdt.cern.ch/lxr/source/SimGeneral/MixingModule/python/SiStripSimParameters_cfi.py
and
https://cmssdt.cern.ch/lxr/source/SimTracker/SiStripDigitizer/python/SiStripDigiSimLink_cfi.py

It would seem appropriate to have a common PSet definition that is then imported in both configurations, avoiding

[2018-06-21 16:21] cmsbuild commented on #23634
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-21 16:21] fabiocos commented on #23634
assign simulation

[2018-06-21 16:21] cmsbuild commented on #23634
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-22 07:55] makortel commented on #23634
It looks to me that the `SiStripDigiSimLink_cfi.py` and the `DigiSimLinkProducer` it refers to are both completely unused, so easiest would be to just remove them.

[2018-06-22 07:59] fabiocos opened #23641 "Problem in NanoAOD for cut-based electrons after merge of #23477"
After the merge of #23477 there are two reproducible failures in test NanoAOD wfs 1329.1 and 136.7722 with the message

----- Begin Fatal Exception 22-Jun-2018 09:39:05 CEST-----------------------
An exception of category 'UnknownUserInt' occurred while
   [0] Processing  Event run: 1 lumi: 1 event: 1 stream: 1
   [1] Running path 'nanoAOD_step'
   [2] Calling method for module SimpleCandidateFlat

[2018-06-22 07:59] cmsbuild commented on #23641
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-22 08:00] fabiocos commented on #23641
assign analysis

@arizzi @gpetruc could you please have a look?

@perrotta @slava77 FYI

[2018-06-22 14:56] kpedro88 opened #23657 "Build CMSSW_9_3_11"

[2018-06-22 14:56] cmsbuild commented on #23657
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-06-22 14:57] kpedro88 commented on #23657
+1

[2018-06-22 14:57] cmsbuild commented on #23657
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-06-22 14:57] cmsbuild commented on #23657
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-06-22 15:17] cmsbuild commented on #23657
The build has started for slc6_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1657/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-06-22 15:21] cmsbuild commented on #23657
The build has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1658/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-06-22 16:42] gkrintir opened #23661 "LumiAlCaRecoProducers for negative or zero correctionScaleFactors"
Hello,

There are instances that correctionScaleFactors in
https://github.com/cms-sw/cmssw/blob/master/Calibration/LumiAlCaRecoProducers/plugins/RawPCCProducer.cc#L162

have negative or zero values. In that case, we can take the avg. of the three preceding bunches as an estimate of the scale factor.

Also in
https://github.com/cms-sw/cmssw/blob/master/Calibration/LumiAlCaRecoProducers/plugins/RawP

[2018-06-22 16:42] cmsbuild commented on #23661
A new Issue was created by  @gkrintir .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-22 17:00] gkrintir commented on #23661
assign alca

@samhiggie @capalmer85 could you please have a look?

[2018-06-22 17:58] cmsbuild commented on #23657
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_11-slc7_amd64_gcc630/1658
Some tests (

[2018-06-22 19:05] cmsbuild commented on #23657
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_11-slc7_amd64_gcc630/1658

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-06-22 20:19] fabiocos commented on #23641
Fixed by #23656 with a suggestion by @slava77

[2018-06-22 20:19] #23641 closed

[2018-06-22 20:37] cmsbuild commented on #23657
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_11-slc6_amd64_gcc630/1657
Some tests (

[2018-06-22 21:36] cmsbuild commented on #23657
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_11-slc6_amd64_gcc630/1657

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-06-22 21:43] kpedro88 commented on #23657
upload all

[2018-06-22 21:44] cmsbuild commented on #23657
Queing Jenkins upload for slc6_amd64_gcc630

[2018-06-22 21:44] cmsbuild commented on #23657
Queing Jenkins upload for slc7_amd64_gcc630

[2018-06-22 21:45] cmsbuild commented on #23657
The upload has started for slc6_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1100/console

[2018-06-22 21:45] cmsbuild commented on #23657
The upload has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1101/console

[2018-06-22 21:46] cmsbuild commented on #23657
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_11-slc7_amd64_gcc630/1101
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-22 21:46] cmsbuild commented on #23657
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-22 21:49] cmsbuild commented on #23657
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_11-slc6_amd64_gcc630/1100
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-22 21:49] cmsbuild commented on #23657
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-22 22:28] cmsbuild commented on #23657
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_11

[2018-06-23 16:11] fabiocos opened #23666 "Missing SiPixel2DTemplateDBObjectRcd in test wf 11224.0 11224.6"
The integration of #23596 is causing crashes in the the tests 11224.0 and 11224.6 with the exception

----- Begin Fatal Exception 23-Jun-2018 17:56:05 CEST-----------------------
An exception of category 'NoRecord' occurred while
   [0] Processing  Event run: 1 lumi: 1 event: 2 stream: 3
   [1] Running path 'digitisation_step'
   [2] Calling method for module MixingModule/'mix'
Exception Message:

[2018-06-23 16:13] cmsbuild commented on #23666
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-24 08:28] fabiocos commented on #23666
assign alca

[2018-06-24 08:28] cmsbuild commented on #23666
New categories assigned: alca

@lpernie,@franzoni,@pohsun,@arunhep,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-24 08:42] arunhep commented on #23666
@fabiocos this should fix this : https://github.com/cms-sw/cmssw/pull/23667
it got overlooked.. sorry about that.

[2018-06-24 08:54] arunhep commented on #23666
+1

[2018-06-24 08:54] cmsbuild commented on #23666
This issue is fully signed and ready to be closed.

[2018-06-24 14:27] #22721 closed

[2018-06-24 15:41] fabiocos commented on #23661
assign alca

[2018-06-24 15:41] cmsbuild commented on #23661
New categories assigned: alca

@lpernie,@franzoni,@pohsun,@arunhep,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-24 20:38] cmsbuild commented on #23657
The cleanup has started for slc6_amd64_gcc630

[2018-06-24 20:38] cmsbuild commented on #23657
The cleanup has started for slc7_amd64_gcc630

[2018-06-24 20:38] #23657 closed

[2018-06-24 20:39] cmsbuild commented on #23657
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_11-slc7_amd64_gcc630/1044

[2018-06-24 20:45] cmsbuild commented on #23657
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_11-slc6_amd64_gcc630/1043

[2018-06-25 08:13] fabiocos commented on #23666
Fixed by #23667

[2018-06-25 08:13] #23666 closed

[2018-06-25 16:22] guitargeek opened #23676 "VID Selectors don't work in FWLite anymore"
Hello fellow cms devs,

some time ago a remark about electron IDs not working in FWLite appeared on the hypernews [1]. I investigated this problem, made some tests and found out that these VID Selectors don't work for a long time actually: since 8_2_0. I was testing it with this script [2].

Now, I basically found the problem, its this guard here [3] which is always guarding that line since I susp

[2018-06-25 16:22] cmsbuild commented on #23676
A new Issue was created by  @guitargeek Jonas Rembser.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-25 17:43] Dr15Jones commented on #23676
@smuzaffar looks like you made the original change?

[2018-06-27 07:16] fabiocos opened #23693 "Crashes in electron identification after integration of PR 23473"
After the integration of #23473 , starting with CMSSW_10_2_X_2018-06-26-1100 several crashes in test workflows are observed in the IB, e.g. in 10001.0 10003.0 1325.7 1325.9 1329.1 134.707 136.7722 136.844 , both in the standard RECO workflow and in NanoAOD workflows.

[2018-06-27 07:16] cmsbuild commented on #23693
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-27 07:17] fabiocos commented on #23693
assign reconstruction,analysis

[2018-06-27 07:18] cmsbuild commented on #23693
New categories assigned: analysis,reconstruction

@slava77,@arizzi,@perrotta,@monttj,@gpetruc you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-27 09:18] perrotta commented on #23693
@guitargeek

[2018-06-27 10:17] fabiocos opened #23694 "Build CMSSW_7_1_34"

[2018-06-27 10:18] cmsbuild commented on #23694
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-06-27 10:18] fabiocos commented on #23694
+1

[2018-06-27 10:18] cmsbuild commented on #23694
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_34. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2018-06-27 10:18] cmsbuild commented on #23694
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-06-27 10:19] cmsbuild commented on #23694
The build has started for slc6_amd64_gcc481 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1659/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-06-27 13:30] cmsbuild commented on #23694
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_34-slc6_amd64_gcc481/1659
Some tests (

[2018-06-27 14:14] cmsbuild commented on #23694
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_34-slc6_amd64_gcc481/1659

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2018-06-27 14:54] fabiocos opened #23696 "Build CMSSW_10_2_0_pre6"

[2018-06-27 14:55] cmsbuild commented on #23696
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-06-27 14:55] fabiocos commented on #23694
upload all

[2018-06-27 14:56] cmsbuild commented on #23694
Queing Jenkins upload for slc6_amd64_gcc481

[2018-06-27 14:56] fabiocos commented on #23696
build cmssw-tool-conf

[2018-06-27 14:57] cmsbuild commented on #23696
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630, slc7_amd64_gcc700, slc7_amd64_gcc810, slc6_amd64_gcc700, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf

[2018-06-27 14:57] cmsbuild commented on #23694
The upload has started for slc6_amd64_gcc481 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1102/console

[2018-06-27 14:57] cmsbuild commented on #23694
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_34-slc6_amd64_gcc481/1102
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-27 14:58] cmsbuild commented on #23694
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-27 14:58] fabiocos commented on #23694
release-notes

[2018-06-27 14:58] cmsbuild commented on #23694
Generating release notes since CMSSW_7_1_33.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-06-27 14:58] cmsbuild commented on #23694
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_34 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_33 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_34

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2018-06-27 14:59] cmsbuild commented on #23694
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_34

[2018-06-27 14:59] cmsbuild commented on #23696
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1663/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 14:59] cmsbuild commented on #23696
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1661/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 14:59] cmsbuild commented on #23696
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild95.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1660/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 14:59] cmsbuild commented on #23696
The cmssw-tool-conf build has started for slc7_amd64_gcc810 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1664/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 15:12] cmsbuild commented on #23696
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1662/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 16:21] cmsbuild commented on #23696
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1665/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 17:52] guitargeek commented on #23693
Addressed in the last commit of the new PR here: https://github.com/cms-sw/cmssw/pull/23700.

[2018-06-27 18:11] cmsbuild commented on #23696
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1660

[2018-06-27 18:48] cmsbuild commented on #23696
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc630/1662

[2018-06-27 19:00] cmsbuild commented on #23696
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_aarch64_gcc700/1665

[2018-06-27 19:10] cmsbuild commented on #23696
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc700/1661

[2018-06-27 20:52] Dr15Jones opened #23701 "Add edm::Event::emplace"
We could support putting data into the `edm::Event` via an `emplace` in addition to `put`. Instead of
[code]
one could do
[code]

Where pToken is a `edm::EDPutTokenT<Foo>.`

[2018-06-27 20:52] cmsbuild commented on #23701
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-27 21:06] fabiocos commented on #23696
+1

[2018-06-27 21:06] cmsbuild commented on #23696
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-06-27 21:06] cmsbuild commented on #23696
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc7_amd64_gcc810, slc7_amd64_gcc630, slc6_amd64_gcc700, slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cm

[2018-06-27 21:07] cmsbuild commented on #23696
The build has started for slc6_amd64_gcc700 in cmsbuild69.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1667/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 21:07] cmsbuild commented on #23696
The build has started for slc6_amd64_gcc630 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1666/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 21:08] cmsbuild commented on #23696
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1669/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 21:08] cmsbuild commented on #23696
The build has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1668/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 21:08] cmsbuild commented on #23696
The build has started for slc7_amd64_gcc810 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1670/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 22:15] cmsbuild commented on #23696
The was an error for slc7_amd64_gcc810.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc810/1670

[2018-06-27 23:10] cmsbuild commented on #23696
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1671/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-27 23:16] cmsbuild commented on #23696
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc700/1669
Some tes

[2018-06-27 23:55] cmsbuild commented on #23696
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc630/1668
Some tes

[2018-06-28 00:58] cmsbuild commented on #23696
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc700/1669

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-28 02:37] cmsbuild commented on #23696
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc700/1667
Some tes

[2018-06-28 03:07] cmsbuild commented on #23696
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1666
Some tes

[2018-06-28 04:39] cmsbuild commented on #23696
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc700/1667

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-28 05:07] cmsbuild commented on #23696
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1666

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-28 06:14] cmsbuild commented on #23696
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_aarch64_gcc700/1671

Tests results:
29 28 28 24 11 1 1 1 1 tests passed, 2 0 0 0 0 0 0 0 0 failed

[2018-06-28 07:22] fabiocos opened #23704 "Problem in ZMuSkimPath"
In recent IBs (see CMSSW_10_2_X_2018-06-27-1500) a reproducible crash in wf 135.855 appears:

----- Begin Fatal Exception 28-Jun-2018 00:34:25 CEST-----------------------
An exception of category 'RuntimeError' occurred while
   [0] Processing  Event run: 315489 lumi: 89 event: 54074255 stream: 1
   [1] Running path 'ZMuSkimPath'
   [2] Prefetching for module PATMuonSelector/'tightMuonsForZMuSkim'

[2018-06-28 07:22] cmsbuild commented on #23704
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-28 07:53] perrotta commented on #23704
@drkovalskyi

[2018-06-28 09:34] drkovalskyi commented on #23704
How can I reproduce it? What workflow is that?

[2018-06-28 09:51] perrotta commented on #23704
From the description above: "In recent IBs (see CMSSW_10_2_X_2018-06-27-1500) a reproducible crash in wf 135.855 appears"

[2018-06-28 10:05] drkovalskyi commented on #23704
How can I run this test? I don't see it among the tests available in runTheMatrix.py

[2018-06-28 10:16] perrotta commented on #23704
@drkovalskyi : there is a typo, in fact, in the issue description. The failing wf is 136.855, as it can be seen from the page with the failing tests in the IB:
https://cms-sw.github.io/relvalLogDetail.html#slc7_amd64_gcc630;CMSSW_10_2_X_2018-06-27-1500

@fabiocos : can you please fix the description here?

[2018-06-28 10:23] drkovalskyi commented on #23704
I don't see a failure there. I see just

136.855 RunSingleMu2018A cmd Passed	Passed	OtherCMS

Can someone please point me to the log of the failure or something?

[2018-06-28 10:42] jfernan2 opened #23709 "How to test a PR with two extra PRs?"
Dear managers,

according to cms-bot commands:

http://cms-sw.github.io/cms-bot-cmssw-cmds.html

to test a PR with two extra PRs, the command would be (e.g.):

@cmsbuild please test #23686,23257

However, I have tried several combinations on the above sentence (two # no ","  space in between,...) without success (no test triggered) on:

https://github.com/cms-sw/cmssw/pull/23707#issuecomment-40098

[2018-06-28 10:42] cmsbuild commented on #23709
A new Issue was created by  @jfernan2 .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-28 10:49] smuzaffar commented on #23709
@jfernan2 , the following should have worked
[code]
I am looking in to it

[2018-06-28 10:57] smuzaffar commented on #23709
`@cmsbuild please test with #23686,#23257` works. I think initially you had used `@cmsbuild please test with #23686,23257` (i.e. without 2nd #) which is correct according to  http://cms-sw.github.io/cms-bot-cmssw-cmds.html but cms-bot is actually looking for 2nd `#` that is why it did not recognize your first comment. After that you edited the comment but as github webhooks are not triggered when

[2018-06-28 11:08] drkovalskyi commented on #23704
I think I have a fix. Testing it now. What I should next with it?

[2018-06-28 11:52] drkovalskyi commented on #23704
https://github.com/cms-sw/cmssw/pull/23710

[2018-06-28 13:34] dan131riley commented on #22300
Seen again:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc700/CMSSW_10_2_X_2018-06-21-1100/pyRelValMatrixLogs/run/134.801_RunHLTPhy2015C+RunHLTPhy2015C+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2/step3_RunHLTPhy2015C+RunHLTPhy2015C+HLTDR2_25ns+RECODR2_25nsreHLT_HIPM+HARVESTDR2.log

[code]

[2018-06-28 14:23] dan131riley opened #23715 "Frequent HitPairEDProducer segfaults with root-6.15.01"
The CMSSW_10_2_ROOT6_X IBs are showing frequent segfaults in HitPairEDProducer.  These are frequently preceded by a "FatalRootError" exception ending with

[code]

These are not appearing in the ROOT614 IBs, so it looks like some change in 6.15 has introduced or revealed a bug.  Stack traces are not all the same, looks likely to be memory corruption.  Generally happens on the first events.  The ex

[2018-06-28 14:29] jfernan2 commented on #23709
@smuzaffar Can you force #23707 to read the comment again? Thanks

[2018-06-28 14:46] smuzaffar commented on #23709
you can do it yourself by adding anew comment to that PR (this will trigger the bot to re-read) :-)

[2018-06-28 15:57] #23709 closed

[2018-06-28 19:15] fabiocos opened #23717 "Build CMSSW_10_2_0_pre6"

[2018-06-28 19:15] cmsbuild commented on #23717
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-06-28 19:17] fabiocos commented on #23717
+1

[2018-06-28 19:17] cmsbuild commented on #23717
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-06-28 19:18] cmsbuild commented on #23717
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630, slc7_aarch64_gcc700, slc7_amd64_gcc810, slc7_amd64_gcc630, slc6_amd64_gcc700, slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cm

[2018-06-28 19:18] cmsbuild commented on #23717
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1672/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-28 19:20] cmsbuild commented on #23717
The build has started for slc7_amd64_gcc810 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1676/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc810](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc810), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-28 19:20] cmsbuild commented on #23717
The build has started for slc7_amd64_gcc700 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1675/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-28 19:20] cmsbuild commented on #23717
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1673/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-28 19:21] cmsbuild commented on #23717
The build has started for slc7_amd64_gcc630 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1674/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-28 20:16] cmsbuild commented on #23717
The was an error for slc7_amd64_gcc810.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc810/1676

[2018-06-28 21:29] cmsbuild commented on #23717
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc700/1673
Some tes

[2018-06-28 23:00] cmsbuild commented on #23717
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1672
Some tes

[2018-06-28 23:14] cmsbuild commented on #23717
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc700/1673

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-28 23:18] cmsbuild commented on #23717
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc630/1674
Some tes

[2018-06-28 23:24] cmsbuild commented on #23717
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc700/1675
Some tes

[2018-06-29 01:05] cmsbuild commented on #23717
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1672

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-29 01:14] cmsbuild commented on #23717
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc630/1674

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-29 01:20] cmsbuild commented on #23717
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc700/1675

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-06-29 07:15] cmsbuild commented on #23717
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1677/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-06-29 07:23] fabiocos commented on #23717
upload all

[2018-06-29 07:24] cmsbuild commented on #23717
Queing Jenkins upload for slc6_amd64_gcc630

[2018-06-29 07:24] cmsbuild commented on #23717
Queing Jenkins upload for slc6_amd64_gcc700

[2018-06-29 07:24] cmsbuild commented on #23717
Queing Jenkins upload for slc7_amd64_gcc630

[2018-06-29 07:24] cmsbuild commented on #23717
Queing Jenkins upload for slc7_amd64_gcc700

[2018-06-29 07:29] cmsbuild commented on #23717
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1103
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-29 07:29] cmsbuild commented on #23717
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc700/1106
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-29 07:29] cmsbuild commented on #23717
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-29 07:29] cmsbuild commented on #23717
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-29 07:29] cmsbuild commented on #23717
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre6-slc7_amd64_gcc630/1105
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-29 07:29] cmsbuild commented on #23717
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-06-29 07:34] fabiocos commented on #23717
release-notes

[2018-06-29 07:35] cmsbuild commented on #23717
Generating release notes since CMSSW_10_2_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-06-29 07:35] cmsbuild commented on #23717
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_2_0_pre6 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_0_pre6

Cheers,
cms

[2018-06-29 07:36] cmsbuild commented on #23717
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre6

[2018-06-29 10:12] cmsbuild commented on #23717
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_aarch64_gcc700/1677
Some

[2018-06-29 10:13] cmsbuild commented on #23717
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-06-29 10:13] cmsbuild commented on #23717
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1107/console

[2018-06-29 10:14] cmsbuild commented on #23717
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre6-slc7_aarch64_gcc700/1107
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-06-29 13:08] cmsbuild commented on #23694
The cleanup has started for slc6_amd64_gcc481

[2018-06-29 13:08] #23694 closed

[2018-06-29 13:15] cmsbuild commented on #23694
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_34-slc6_amd64_gcc481/1045

[2018-06-29 14:13] cmsbuild commented on #23717
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre6-slc7_aarch64_gcc700/1677

Tests results:
29 28 28 24 11 1 1 1 1 tests passed, 2 0 0 0 0 0 0 0 0 failed

[2018-06-30 05:38] cmsbuild commented on #23696
The cleanup has started for slc7_amd64_gcc810

[2018-06-30 05:38] cmsbuild commented on #23696
The cleanup has started for slc6_amd64_gcc630

[2018-06-30 05:38] cmsbuild commented on #23696
The cleanup has started for slc6_amd64_gcc700

[2018-06-30 05:38] cmsbuild commented on #23696
The cleanup has started for slc7_aarch64_gcc700

[2018-06-30 05:38] cmsbuild commented on #23696
The cleanup has started for slc7_amd64_gcc630

[2018-06-30 05:38] cmsbuild commented on #23696
The cleanup has started for slc7_amd64_gcc700

[2018-06-30 05:38] #23696 closed

[2018-06-30 05:38] cmsbuild commented on #23696
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1046

[2018-06-30 05:38] cmsbuild commented on #23696
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_aarch64_gcc700/1048

[2018-06-30 05:38] cmsbuild commented on #23696
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc6_amd64_gcc700/1047

[2018-06-30 05:39] cmsbuild commented on #23696
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc630/1049

[2018-06-30 05:39] cmsbuild commented on #23696
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1052

[2018-06-30 05:39] cmsbuild commented on #23696
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc810/1051

[2018-06-30 05:39] cmsbuild commented on #23696
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc6_amd64_gcc700/1053

[2018-06-30 05:39] cmsbuild commented on #23696
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc630/1055

[2018-06-30 05:39] cmsbuild commented on #23696
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc700/1050

[2018-06-30 05:39] cmsbuild commented on #23696
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc700/1056

[2018-06-30 05:39] cmsbuild commented on #23696
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_aarch64_gcc700/1054

[2018-06-30 05:52] cmsbuild commented on #23696
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc810/1057

[2018-07-01 05:38] cmsbuild commented on #23717
The cleanup has started for slc7_aarch64_gcc700

[2018-07-01 05:38] cmsbuild commented on #23717
The cleanup has started for slc7_amd64_gcc810

[2018-07-01 05:38] cmsbuild commented on #23717
The cleanup has started for slc6_amd64_gcc630

[2018-07-01 05:38] cmsbuild commented on #23717
The cleanup has started for slc6_amd64_gcc700

[2018-07-01 05:38] cmsbuild commented on #23717
The cleanup has started for slc7_amd64_gcc630

[2018-07-01 05:38] cmsbuild commented on #23717
The cleanup has started for slc7_amd64_gcc700

[2018-07-01 05:38] #23717 closed

[2018-07-01 05:38] cmsbuild commented on #23717
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_aarch64_gcc700/1060

[2018-07-01 05:39] cmsbuild commented on #23717
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc6_amd64_gcc630/1058

[2018-07-01 05:39] cmsbuild commented on #23717
The workspace for slc7_amd64_gcc810 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc810/1063

[2018-07-01 05:40] cmsbuild commented on #23717
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc6_amd64_gcc700/1059

[2018-07-01 05:46] cmsbuild commented on #23717
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc700/1062

[2018-07-01 05:46] cmsbuild commented on #23717
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre6-slc7_amd64_gcc630/1061

[2018-07-02 07:53] slava77 commented on #22978
The bugfix in the electron momentum was signed off just now https://github.com/cms-sw/cmssw/pull/23708.
AFAIK, this is the only fix remaining in the miniAOD step in addition to 9_4_9_cand1

[2018-07-02 15:04] fabiocos commented on #22978
@slava77 I have merged it for test, we need to understand how to proceed for 9_4_9

[2018-07-02 19:05] vargasa opened #23734 "Validation/Geometry module: Empty plots on Material Budget scripts"
`Validation/Geometry/test/MaterialBudget.py` does not extract the content from `matbdg_Tracker.root` file for 2D Histograms `x_vs_z_vs_R`, `l_vs_z_vs_R`. There are some notable differences in some other plots like `l_vs_eta_vs_phi_bw`, `x_vs_z_vs_Rsum` between 10* release and 8* release that need to be addressed

Reproduce the empty plots by running:

[code]

Differences between 10* and 8* release

[2018-07-02 19:05] cmsbuild commented on #23734
A new Issue was created by  @vargasa Andres Vargas.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-02 19:21] boudoul commented on #23734
Dear @vargasa , could you please let us know the motivation for opening an issue in cmssw - Maybe we can chat directly one of these days to adress it - Thanks.

[2018-07-03 10:49] slava77 commented on #21314
This is to remind that there is a continuing interest in having this external supported (IIUC, the use case is still the same and the only one so far)

[2018-07-03 14:12] hqucms commented on #21314
I wrote a spec file to compile mxnet with pkgtools:
https://github.com/hqucms/cmsdist/blob/mxnet/IB/CMSSW_10_2_X/gcc630/mxnet-predict.spec
https://github.com/hqucms/cmsdist/blob/mxnet/IB/CMSSW_10_2_X/gcc630/mxnet-predict-toolfile.spec

Please let me know if there is anything else I can help.

[2018-07-03 14:28] davidlange6 commented on #21314
go ahead and make a pull request if this is the piece that is desired at first. I had looked instead at the python api....

[2018-07-03 14:53] hqucms commented on #21314
OK, I will make a PR now. Sorry for the confusion, @davidlange6

[2018-07-04 16:27] fabiocos opened #23744 "Problem in the 94X backport of HcalDetId protections for calibration events"
The merge of #23688 has caused a list of reproducible failures in 2016 workflows in CMSSW_9_4_X_2018-07-03-2300 , within DQM with the exception

----- Begin Fatal Exception 04-Jul-2018 10:09:31 CEST-----------------------
An exception of category 'Conditions not found' occurred while
[0] Processing Event run: 283877 lumi: 17 event: 27631378 stream: 1
[1] Running path 'dqmoffline_step'
[2] Calling

[2018-07-04 16:32] fabiocos commented on #23744
@bsunanda FYI The failing workflows are not present in 8_0_X, are we sure that the problem does not affect also that release?

[2018-07-04 17:16] vargasa commented on #23734
This is the expected behavior when using `"SAME"` when drawing a [TH2F on top of an empty one](https://root-forum.cern.ch/t/same-option-use-on-th2f-draw/29630/), but as I commented before we can safely remove the `frame` object

[2018-07-04 18:37] bsunanda commented on #23744
I shall take a look and let you know. I thought it was tested for the failed lump blocks
________________________________
From: Fabio Cossutti [notifications@github.com]
Sent: 04 July 2018 18:32
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Problem in the 94X backport of HcalDetId protections for calibration events (#23744)

@bsunanda<https://github.com/bsunanda> FYI T

[2018-07-05 07:28] fabiocos commented on #23693
@guitargeek @perrotta unfortunatelky it looks like we have still a residual problem. In CMSSW_10_2_X_2018-07-04-1900 we have several workflows failing with exceptions:

----- Begin Fatal Exception 05-Jul-2018 08:17:05 CEST-----------------------
An exception of category 'MVA failure: ' occurred while
   [0] Processing  Event run: 274199 lumi: 165 event: 321977507 stream: 0
   [1] Prefetching for m

[2018-07-05 07:36] fabiocos commented on #23693
Ok, I see #23746 ...

[2018-07-05 14:17] fabiocos opened #23752 "Build CMSSW_10_1_8"

[2018-07-05 14:18] cmsbuild commented on #23752
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-07-05 14:22] #23057 closed

[2018-07-05 14:22] fabiocos commented on #23752
@smuzaffar I understand there is no further external update pending, so I can start the externals build (and continue with CMSSW after tonight's IB)

[2018-07-05 14:36] fabiocos opened #23753 "Build CMSSW_9_4_9_cand2"

[2018-07-05 14:36] fabiocos commented on #23753
RELEASE_QUEUE:CMSSW_9_4_MAOD_X
ARCHITECTURE:slc6_amd64_gcc630

[2018-07-05 14:36] cmsbuild commented on #23753
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-07-05 14:37] #23753 closed

[2018-07-05 14:38] fabiocos opened #23754 "Build CMSSW_9_4_9_cand2"
RELEASE_QUEUE:CMSSW_9_4_MAOD_X
ARCHITECTURE:slc6_amd64_gcc630

[2018-07-05 14:38] cmsbuild commented on #23754
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-07-05 14:39] fabiocos commented on #23754
+1

[2018-07-05 14:39] cmsbuild commented on #23754
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_9_cand2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_MAOD_X

[2018-07-05 14:39] cmsbuild commented on #23754
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-07-05 14:40] cmsbuild commented on #23754
The build has started for slc6_amd64_gcc630 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1678/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-07-05 15:01] fabiocos commented on #23752
build cmssw-tool-conf

[2018-07-05 15:01] cmsbuild commented on #23752
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630, slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-07-05 15:02] cmsbuild commented on #23752
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild90.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1679/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-05 15:03] cmsbuild commented on #23752
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1680/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-05 15:03] cmsbuild commented on #23752
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1681/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-05 15:16] Dr15Jones commented on #23701
assign core

[2018-07-05 15:16] cmsbuild commented on #23701
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-05 15:17] Dr15Jones commented on #23715
assign core

[2018-07-05 15:17] cmsbuild commented on #23715
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-05 15:17] Dr15Jones commented on #23715
@pcanal looks like there is a dictionary problem in ROOT master?

[2018-07-05 15:20] Dr15Jones opened #23755 "Allow Services to know if a given module uses ExternalWork"
It would be useful to provide a mechanism for a Service to know which modules are external workers.

[2018-07-05 15:20] Dr15Jones commented on #23755
Assign core

[2018-07-05 15:20] cmsbuild commented on #23755
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-05 15:20] cmsbuild commented on #23755
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-05 15:20] Dr15Jones commented on #23755
@fwyzard based on your hypernews request:
https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3836/1.html

[2018-07-05 15:29] cmsbuild commented on #23752
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_8-slc7_amd64_gcc700/1681

[2018-07-05 15:30] cmsbuild commented on #23752
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_8-slc7_amd64_gcc630/1680

[2018-07-05 15:30] cmsbuild commented on #23752
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_8-slc6_amd64_gcc630/1679

[2018-07-05 15:41] abdoulline commented on #23744
@fabiocos,
(Cc @bsunanda, @DryRun, @deguio)

I guess that DetId  _fix_ may have "provoked" something (undesirable consequence) which until now was kind of hidden behind improper treatment of Calib.channels  Id  and it _may_ need a fix in HCAL DQM as well.
We didn't have HcalDQMData  (neither any other conditions) for CRF channels (which are present in e-map = unpacked, though). So I take it "offli

[2018-07-05 15:44] fabiocos commented on #23752
+1

[2018-07-05 15:45] cmsbuild commented on #23752
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-07-05 15:45] cmsbuild commented on #23752
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2018-07-05 15:46] cmsbuild commented on #23752
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1684/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-05 15:47] cmsbuild commented on #23752
The build has started for slc6_amd64_gcc630 in cmsbuild98.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1682/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-05 16:03] pcanal commented on #23715
What are the files read in this run?

Can you open the files (in the same order) in a bare ROOT session and check that the histogram can be read from it?

It may or may not be related to https://github.com/root-project/root/pull/2121.

[2018-07-05 17:47] cmsbuild commented on #23752
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_8-slc7_amd64_gcc700/1684
Some tests (

[2018-07-05 18:53] cmsbuild commented on #23752
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_8-slc7_amd64_gcc700/1684

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-05 20:36] cmsbuild commented on #23752
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_8-slc7_amd64_gcc630/1683

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-05 21:58] cmsbuild commented on #23752
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_8-slc6_amd64_gcc630/1682
Some tests (

[2018-07-05 22:34] cmsbuild commented on #23754
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_9_cand2-slc6_amd64_gcc630/1678
Some tes

[2018-07-05 23:58] cmsbuild commented on #23754
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_9_cand2-slc6_amd64_gcc630/1678

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-07-06 10:19] davidlange6 opened #23758 "Consider collections.OrderedDict as alternative to SortedKeysDict"
OrderedDict was introduced in python 2.7 - it appears to have nearly the same functionality as CMSSW's SortedKeysDict. The one exception I see is that where SortedKeysDict ignores a request to insert a duplicate key, OrderedDict will update the corresponding value (keeping the order the same). I suspect we do not use this feature...

[2018-07-06 10:20] davidlange6 commented on #23758
assign core

[2018-07-06 10:20] cmsbuild commented on #23758
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-06 10:20] cmsbuild commented on #23758
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-06 11:56] fabiocos commented on #23752
upload all

[2018-07-06 11:58] cmsbuild commented on #23752
Queing Jenkins upload for slc6_amd64_gcc630

[2018-07-06 11:58] cmsbuild commented on #23752
Queing Jenkins upload for slc7_amd64_gcc630

[2018-07-06 11:58] cmsbuild commented on #23752
Queing Jenkins upload for slc7_amd64_gcc700

[2018-07-06 12:01] cmsbuild commented on #23752
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1110/console

[2018-07-06 12:01] cmsbuild commented on #23752
The upload has started for slc6_amd64_gcc630 in cmsbuild98.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1108/console

[2018-07-06 12:02] cmsbuild commented on #23752
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_8-slc7_amd64_gcc700/1110
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-06 12:02] cmsbuild commented on #23752
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-06 12:06] cmsbuild commented on #23752
The upload has started for slc7_amd64_gcc630 in cmsbuild68.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1109/console

[2018-07-06 12:07] cmsbuild commented on #23752
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_8-slc7_amd64_gcc630/1109
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-06 12:07] cmsbuild commented on #23752
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-06 12:09] cmsbuild commented on #23752
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_8-slc6_amd64_gcc630/1108
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-06 12:09] cmsbuild commented on #23752
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-06 12:12] fabiocos commented on #23752
release-notes

[2018-07-06 12:12] cmsbuild commented on #23752
Generating release notes since CMSSW_10_1_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-07-06 12:12] cmsbuild commented on #23752
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_8 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_8

Cheers,
cms-bot

You can also click <a href="

[2018-07-06 12:13] cmsbuild commented on #23752
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_8

[2018-07-06 19:37] fabiocos commented on #23754
upload all

[2018-07-06 19:38] cmsbuild commented on #23754
Queing Jenkins upload for slc6_amd64_gcc630

[2018-07-06 19:40] cmsbuild commented on #23754
The upload has started for slc6_amd64_gcc630 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1111/console

[2018-07-06 19:46] cmsbuild commented on #23754
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_9_cand2-slc6_amd64_gcc630/1111
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-06 19:46] cmsbuild commented on #23754
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-06 19:53] fabiocos commented on #23754
release-notes since CMSSW_9_4_9_cand1

[2018-07-06 19:55] cmsbuild commented on #23754
Generating release notes since CMSSW_9_4_9_cand1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-07-06 19:55] cmsbuild commented on #23754
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_9_cand2 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_9_cand1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_9_cand2

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2018-07-06 19:56] cmsbuild commented on #23754
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_9_cand2

[2018-07-08 10:30] cmsbuild commented on #23752
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_8-slc6_amd64_gcc630/1064

[2018-07-08 10:30] cmsbuild commented on #23752
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_8-slc7_amd64_gcc630/1065

[2018-07-08 18:08] cmsbuild commented on #23754
The cleanup has started for slc6_amd64_gcc630

[2018-07-08 18:08] #23754 closed

[2018-07-08 18:19] cmsbuild commented on #23754
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_9_cand2-slc6_amd64_gcc630/1069

[2018-07-09 07:03] Dr15Jones opened #23766 "Seg Faults in VersionedIdProducer in IBs"
We are getting segmentation faults in VersionedGsfElectronIdProducer:egmGsfElectronIDs in CMSSW_10_2_X_2018-07-08-0000.

[2018-07-09 07:03] cmsbuild commented on #23766
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-09 07:05] Dr15Jones commented on #23766
The relevant traceback is
[code]

[2018-07-09 07:06] Dr15Jones commented on #23766
I believe the problem is here:
https://github.com/cms-sw/cmssw/blob/a7a74c23c2365fe7566497fd6e24fa1b40ea96e1/RecoEgamma/ElectronIdentification/plugins/cuts/GsfEleMVACut.cc#L108

where there is a code path where `iCategory` can be `-1` which the array bounds check does not catch.

[2018-07-09 07:06] Dr15Jones commented on #23766
assign reconstruction

[2018-07-09 07:06] cmsbuild commented on #23766
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-09 07:07] Dr15Jones commented on #23766
@guitargeek FYI

[2018-07-09 07:31] guitargeek commented on #23766
Yes that must be the problem for the seg fault, but the initial problem (which is exactly how the category can become -1) is not understood... See [1]. You see just before the segfault this `category not defined for particle...` message. Eta and pt are defined, there should be a category.

[1] https://github.com/cms-sw/cmssw/pull/23746

[2018-07-09 07:36] guitargeek commented on #23766
Here again for reference the category definition:
https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/ElectronIdentification/python/Identification/mvaElectronID_tools.py#L23
And actually I'm not sure the segfault comes from the line you were quoting: In the MVAValueMapProducer, `findCategory` is called twice:https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaTools/interface/MVAValueMa

[2018-07-09 07:42] guitargeek commented on #23766
Actually sorry, it's the fist call withing `mvaValue` that succeeds and the second call in the MVAValueMapProducer fails, since the category for the cut gets stored here:

https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaTools/interface/MVAValueMapProducer.h#L147

This is then used for the cut and we get the segfault.

[2018-07-09 07:52] guitargeek commented on #23766
Browsing some more logs: it seems to be completely random when `findCategory` returns -1:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_2_X_2018-07-08-2300/pyRelValMatrixLogs/run/1344.0_ZpEE_2250_13+ZpEE_2250_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15/step3_ZpEE_2250_13+ZpEE_2250_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15.log

[2018-07-09 08:29] guitargeek commented on #23766
I propose hardcoding the categories again as before, which should solve the problem.

Honestly, I was a bit reluctant to propose this solution because if we are having all this problems with `findCategory`, which is based on the cut parser, how can I know I can trust the rest of my new code, which uses it as well? The whole MVAVariableManager [1] is built around the cut parser, likewise the new cu

[2018-07-09 09:02] fabiocos commented on #23766
@Dr15Jones this is the continuation of the problem started in #23693 , that can be now closed.

@guitargeek I have been able to produce crashes wit
runTheMatrix.py -t 4 -l 4.74,136.7721,1325.6,1344.0 --ibeos &>log

10:42 cmsdev15 552> less runall-report-step123-.log
4.74_RunEl2012D+RunEl2012D+HLTD+RECODR1reHLT+HARVESTDR1reHLT Step0-PASSED Step1-FAILED Step2-NOTRUN Step3-NOTRUN  - time date Mon Jul

[2018-07-09 09:03] Dr15Jones commented on #23766
I believe I have found the threading problem. MVAValueMapProducer uses a Global Cache:
https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaTools/interface/MVAValueMapProducer.h#L23

objects in a GlobalCache must be thread safe since multiple threads will access the object concurrently. However, ElectronMVAEstimatorRun2 uses a StringCutObjectSelector which is not thread safe:

https://gith

[2018-07-09 09:03] #23693 closed

[2018-07-09 09:11] guitargeek commented on #23766
Ok, I guess that holds for the StringObjectFunction as well? Because it's used in many other parts of the new MVA ID implementation (see post above). In this case all my code is unsafe (even if we don't get segfaults, it will just manifest in garbage mvaValues) and also something like https://github.com/cms-sw/cmssw/pull/23767 doesn't help.

[2018-07-09 11:43] guitargeek commented on #23766
I understand. That means I have to rethink the MVA design again, if we want to preserve the flexibility introduced by the cut parser.

Would for example this approach  work?
1. Make the `MVAValueMapProducer` a `global::EDProducer`
2. Don't use the global cache because a global module has only one instance anyway

Or would this result in the same problem that the StringObjectFunctions/Selectors of

[2018-07-09 11:44] Dr15Jones commented on #23766
This would cause the same problem, a `global::EDProducer` is basically a global cache.

[2018-07-09 11:51] guitargeek commented on #23766
Okay, that's what I thought... What would you advice me to do? Is not using the global cache an option, or you have even different ideas?

[2018-07-09 11:59] Dr15Jones commented on #23766
One note, it is possible that the thread safety issue is because you are using the parsers in 'lazy' mode. In lazy mode, it checks each time it is called exactly what type the object handed to it is rather than using the class declared in the template argument. When run lazy, the expression system will cache the lookup and that cache is not thread safe.

[2018-07-09 12:02] Dr15Jones commented on #23766
Scratch that, I see that even the non-lazy code also has mutables which are not thread-safe

https://github.com/cms-sw/cmssw/blob/9af95fed1a91e9079fb78e0ae8ec648e55c6c2c2/CommonTools/Utils/src/MethodInvoker.h#L73

[2018-07-09 12:03] Dr15Jones commented on #23766
If you just made your classes that use the expression parsers into member data of the stream:: module (instead of a global cache) things would work.

[2018-07-09 12:16] guitargeek commented on #23766
Ok, working on it!

[2018-07-09 12:36] guitargeek commented on #23766
Alright, I updated my hotfix PR with what we were discussing: https://github.com/cms-sw/cmssw/pull/23767.

[2018-07-09 18:59] DryRun commented on #23744
Hi @fabiocos , could I ask specifically which workflows are failing? I tried a few (2016 data), but they apparently ran successfully.

[2018-07-11 07:56] mmusich opened #23774 "FWCore.PythonUtilities.LumiList broken in CMSSW_10_2_0_pre6?"
Dear all,
it seems that this statement:
[code]

doesn't work anymore in `CMSSW_10_2_0_pre6`.

A simpe reproducer is here:

[code]

This results in:

[code]

I've tested in other (pre-)releases and it seems to work up to `CMSSW_10_2_0_pre5`

[2018-07-11 07:56] cmsbuild commented on #23774
A new Issue was created by  @mmusich Marco Musich.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-11 08:58] fabiocos commented on #23744
@abdoulline @DryRun please see https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_9_4/2018-07-04-1100?selectedArchs=slc7_amd64_gcc630&selectedArchs=slc6_amd64_gcc630&selectedFlavors=X&selectedFlavors=MAOD_X&selectedFlavors=AN_X&selectedStatus=failed

136.769, 136.77, 136.771, 136.772, ...

[2018-07-11 09:05] davidlange6 commented on #23774
hi @mmusich - this config works ok for me in pre6 (but I see the set of lumis in the file read in is {} at this moment.

[2018-07-11 09:30] fabiocos commented on #23774
@mmusich I confirm what @davidlange6 finds, the cfg runs smoothly up to the end

[2018-07-11 10:57] mmusich commented on #23774
@fabiocos and @davidlange6 , thanks for checking - indeed it does now, but it didn't early this morning.
I don't know if it is related to any intervention on the file I was trying to open at the time.
Another worrying point is that the DCS json has suddenly become empty, but that's up to data certification to clarify...

[2018-07-11 10:59] boudoul commented on #23774
Weird.. can you report to data certification HN please  ? Thanks

[2018-07-11 11:04] mmusich commented on #23774
Hi @boudoul, done [here](https://hypernews.cern.ch/HyperNews/CMS/get/offline-dqm/797.html).
Anyway I am assuming the code in cmssw is working properly and the problem lied elsewhere, so I am closing the issue.

[2018-07-11 11:05] abdoulline commented on #23744
@fabiocos   Thank you, Fabio.

Unfortunately in my case (lxplus) all the tests you've listed, like
runTheMatrix.py -l 136.769 &

failed at the step2 with similar file access errors:
Failed to open file at URL root://eoscms.cern.ch:1094//eos/cms/store/data/Run2016H/DoubleEG/RAW/v1/000/283/877/00000/00B1E52F-889B-E611-B4B9-FA163EA8BEB3.root.

And I don't see RAW for the aforementioned sample:
eos ls

[2018-07-11 11:35] DryRun commented on #23744
Thanks @abdoulline and @fabiocos. 136.731 and 136.7611 were the ones I tried successfully previously, and unfortunately I see the same file access errors as @abdoulline for most of the others. On EOS, I do see something for `eos ls /eos/cms/store/data/Run2016H/ZeroBias/RAW`, so perhaps 136.778 will work... trying that now.

[2018-07-11 15:16] abdoulline commented on #23744
CMSSW_9_4_X_2018-07-08-0000 + 136.778 = OK...

136.778_RunZeroBias2016H+RunZeroBias2016H+HLTDR2_2016+RECODR2_2016reHLT_Prompt+H
ARVESTDR2 Step0-PASSED Step1-PASSED Step2-PASSED Step3-PASSED  - time date Wed J
ul 11 16:45:10 2018-date Wed Jul 11 13:39:38 2018; exit: 0 0 0 0
1 1 1 1 tests passed, 0 0 0 0 failed

[2018-07-11 16:12] fabiocos commented on #23744
@abdoulline indeed, I reverted the crashing PR in CMSSW_9_4_X_2018-07-04-2300 as you can see in the IB history, so an earlier build should be used. Alternatively just merge #23688 on top of todays' IB an try...

[2018-07-11 20:13] abdoulline commented on #23744
@fabiocos  admittedly I've overlooked the reverting...
So for @DryRun  it should be easy now to reproduce the issue with earlier  (e.g.)
CMSSW_9_4_X_2018-07-03-2300 + 136.778

[2018-07-12 11:20] fabiocos opened #23780 "Residual GEN-only failing test workflows"
After the revision of the Powheg gridpacks in #23751 and the further fix #23778 (fixing the forgotten wf. 554) by @covarell , we are left with 3 wfs failing for gcc700 architectures: 562, 1360.0, 25210.0 .

They are all based on Madgraph gridpacks, and in all cases the ExternalLHCProducer configuration does not specify a different environment to be used. As these gridpacks need libgfortran.3, they

[2018-07-12 11:20] cmsbuild commented on #23780
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-12 11:21] fabiocos commented on #23780
assign generators

[2018-07-12 11:21] cmsbuild commented on #23780
New categories assigned: generators

@perrozzi,@alberto-sanchez,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-12 19:41] DryRun commented on #23744
Thanks for the suggestions. I was using CMSSW_9_4_X_2018-07-03-2300, but it was crashing yesterday due to the cvmfs issues.

It works today, and I was able to locate the crash. I think the crash can be fixed with c3cdccbb3cb57fa622cff03295b2d9115a0276c7 (requires subdet==HcalEndcap for QIE11 digis; also,  f8aeac9086a41dc160e997be433fe5f2091ea48f could be included, which does the same thing for HBH

[2018-07-12 20:38] abdoulline commented on #23744
David,   the two fixing snippets you've linked - they are just several lines of code. So I'd suggest you to submit this "minimum-minimorum" fix to 94X _without_ any other back-porting...

[2018-07-13 09:35] Dr15Jones opened #23787 "BPHMonitor causing crashes in IB RelVals"
The BPHMonitor is crashing the workflow 136.86. In all cases we get the log message
[code]
Which then appears to trigger ROOT's signal handler which then attempts to call 'exit' on multiple threads concurrently which ultimately leads to a crash.

[2018-07-13 09:35] cmsbuild commented on #23787
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-13 09:50] Dr15Jones commented on #23787
From googling, it appears that if one calls `std::__gcd(a,0)` it will cause a floating point exception on some compilers. So the probably line causing the problem is

https://github.com/cms-sw/cmssw/pull/23738/files#diff-42c75a5176b7504671fd5b71aef014daR1187

Where this call is probably returning 0
https://github.com/cms-sw/cmssw/pull/23738/files#diff-42c75a5176b7504671fd5b71aef014daR1185

[2018-07-13 10:49] aboletti commented on #23787
Yes, that is a case for which we should have added a control check (@anigamova ). It is curious that in our tests it never appeared.
Should we create an additional PR with an value check, or the merged PR will be reverted and we will need to re-open it with this fixed?

[2018-07-13 11:00] Dr15Jones commented on #23787
I suggest making a new pull request and tell the bot to run the failing workflow as part of the test.

[2018-07-13 11:11] fabiocos commented on #23787
@aboletti I need to revert this PR, as we are already tight for 10_2_0. In the meanwhile please provide a revised version with the fix inside, and test it on the failing workflows, as @Dr15Jones suggests

[2018-07-13 14:13] Dr15Jones commented on #23787
@dan131riley FYI

[2018-07-13 20:46] fabiocos commented on #23787
@Dr15Jones @aboletti for the time being I revert the PR in #23788 waiting for a fixed replacement to be tested and deployed with more calm

[2018-07-14 05:43] kpedro88 opened #23795 "Potential memory leak in FastSim TrackerSimHitProducer"
Reported by valgrind:
https://github.com/cms-sw/cmssw/blob/f347d6fe59e46dba022c2b4155b6c37abcc9e698/FastSimulation/SimplifiedGeometryPropagator/plugins/TrackerSimHitProducer.cc#L311

The `PSimHit` returned by `fastsim::TrackerSimHitProducer::createHitOnDetector()` is allocated with `new`. It gets stored in a map here:
https://github.com/cms-sw/cmssw/blob/f347d6fe59e46dba022c2b4155b6c37abcc9e698/Fa

[2018-07-14 05:43] kpedro88 commented on #23795
assign fastsim

[2018-07-14 05:43] cmsbuild commented on #23795
New categories assigned: fastsim

@mdhildreth,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-14 05:44] cmsbuild commented on #23795
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-14 07:39] #23766 closed

[2018-07-14 07:43] Dr15Jones commented on #22135
This happened again in
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc630/CMSSW_10_2_X_2018-07-13-2300/pyRelValMatrixLogs/run/106.0_bJpsiX+bJpsiX+DIGI+RECO/step1_bJpsiX+bJpsiX+DIGI+RECO.log#/

[code]

[2018-07-14 08:04] fabiocos opened #23796 "Build CMSSW_10_2_0"

[2018-07-14 08:05] cmsbuild commented on #23796
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-07-14 08:05] fabiocos commented on #23796
build cmssw-tool-conf

[2018-07-14 08:05] cmsbuild commented on #23796
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc630, slc7_amd64_gcc700, slc7_amd64_gcc810, slc6_amd64_gcc630, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf

[2018-07-14 08:07] fabiocos opened #23797 "Build CMSSW_9_4_9"

[2018-07-14 08:08] cmsbuild commented on #23797
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-07-14 08:08] fabiocos commented on #23797
+1

[2018-07-14 08:09] cmsbuild commented on #23797
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-07-14 08:09] cmsbuild commented on #23797
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-07-14 08:11] cmsbuild commented on #23796
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1685/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-14 08:13] cmsbuild commented on #23796
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1686/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-14 08:15] cmsbuild commented on #23796
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1687/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-14 08:18] cmsbuild commented on #23796
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1688/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-14 08:39] cmsbuild commented on #23797
The build has started for slc7_amd64_gcc630 in cmsbuild64.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1691/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-07-14 08:56] cmsbuild commented on #23796
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-015.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1692/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-14 10:49] Dr15Jones opened #23798 "SiStripGainsPCLWorker reads off the end of memory in workflow 1004.0"
The address sanitizer build has found that SiStripGainsPCLWorker reads off the end of a `std::vector<float>` in workflow 1004.0 step 3.

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc6_amd64_gcc700/CMSSW_10_2_ASAN_X_2018-07-13-2300/pyRelValMatrixLogs/run/1004.0_RunHI2011+RunHI2011+TIER0EXPHI+ALCAEXPHI+ALCAHARVD1HI+ALCAHARVD2HI+ALCAHARVD3HI+ALCAHARVD5HI/step3_RunHI2011+RunHI2011+TIER0EXPHI+ALCAEX

[2018-07-14 10:50] cmsbuild commented on #23798
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-14 10:50] Dr15Jones commented on #23798
assign alca

[2018-07-14 10:50] cmsbuild commented on #23798
New categories assigned: alca

@lpernie,@franzoni,@pohsun,@arunhep,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-07-14 10:57] Dr15Jones commented on #23798
I have isolated the problem to a call to `SiStripApvGain::getApvGain` where the passed in `Range` object has an empty range, i.e. `first == second`. I determined this by adding `assert(range.first != range.second);` to

https://github.com/cms-sw/cmssw/blob/master/CondFormats/SiStripObjects/interface/SiStripApvGain.h#L80

The full stack trace when the assert fails follows:

[code]

The relevant par

[2018-07-14 11:00] Dr15Jones commented on #23798
I find it interesting that the earlier call
https://github.com/cms-sw/cmssw/blob/7cba39684ac516862530f2cfdfd44054970682f1/CalibTracker/SiStripChannelGain/src/SiStripGainsPCLWorker.cc#L128

which contains
[code]
does not appear to cause a memory over-read.

[2018-07-14 11:01] cmsbuild commented on #23796
There was an error building cmssw-tool-conf for slc7_amd64_gcc630
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc630/1687

[2018-07-14 11:32] cmsbuild commented on #23796
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc700/1688

[2018-07-14 12:04] cmsbuild commented on #23796
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc810 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc810/1689

[2018-07-14 13:40] cmsbuild commented on #23797
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_9-slc6_amd64_gcc630/1690
Some tests ( r

[2018-07-14 14:19] cmsbuild commented on #23797
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_9-slc7_amd64_gcc630/1691
Some tests ( r

[2018-07-14 14:54] cmsbuild commented on #23797
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_9-slc6_amd64_gcc630/1690

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-07-14 15:32] cmsbuild commented on #23797
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_9-slc7_amd64_gcc630/1691

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-07-14 15:36] fabiocos commented on #23797
upload all

[2018-07-14 15:36] cmsbuild commented on #23797
Queing Jenkins upload for slc6_amd64_gcc630

[2018-07-14 15:36] cmsbuild commented on #23797
Queing Jenkins upload for slc7_amd64_gcc630

[2018-07-14 15:38] cmsbuild commented on #23797
The upload has started for slc7_amd64_gcc630 in cmsbuild64.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1113/console

[2018-07-14 15:38] cmsbuild commented on #23797
The upload has started for slc6_amd64_gcc630 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1112/console

[2018-07-14 15:39] cmsbuild commented on #23797
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_9-slc7_amd64_gcc630/1113
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-14 15:40] cmsbuild commented on #23797
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-14 15:42] cmsbuild commented on #23797
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_9-slc6_amd64_gcc630/1112
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-07-14 15:42] cmsbuild commented on #23797
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-07-14 15:47] cmsbuild commented on #23796
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_aarch64_gcc700/1692

[2018-07-14 16:16] fabiocos commented on #23797
release-notes

[2018-07-14 16:18] cmsbuild commented on #23797
Generating release notes since CMSSW_9_4_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-07-14 16:18] cmsbuild commented on #23797
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_9 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_9

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2018-07-14 16:21] cmsbuild commented on #23797
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_9

[2018-07-14 16:21] fabiocos commented on #23796
@smuzaffar mxnet-predict fails to build on slc6_amd64_gcc700 and slc7_amd64_gcc630, while it succeds elsewhere, this looks strange, as 1) it was successfully built and integrated into the IB 3 days ago and 2) the problem is not specifically linked to a single compiler or OS version only.

The error message reported in the log files sounds quite cryptic to me, was this problem noticed earlier durin

[2018-07-14 19:18] kpedro88 commented on #23796
From https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc6_amd64_gcc700/1686/LOGS/external/mxnet-predict/1.2.0/log:
[code]

Maybe the memory usage of the compiled exceeded what the build machine allows?

[2018-07-14 20:18] cmsbuild commented on #23796
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1693/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-14 20:23] cmsbuild commented on #23796
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1694/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-14 21:34] cmsbuild commented on #23796
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1698/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-14 22:13] cmsbuild commented on #23796
The was an error for slc7_amd64_gcc810.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc810/1697

[2018-07-14 23:58] cmsbuild commented on #23796
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc630/1694

[2018-07-14 23:59] cmsbuild commented on #23796
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-07-15 00:00] cmsbuild commented on #23796
The build has started for slc7_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1699/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-15 00:11] cmsbuild commented on #23796
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc6_amd64_gcc700/1693

[2018-07-15 00:11] cmsbuild commented on #23796
Queuing Jenkins build for the following architectures: slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-07-15 00:12] cmsbuild commented on #23796
The build has started for slc6_amd64_gcc700 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1700/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-07-15 00:12] cmsbuild commented on #23796
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc700/1696
Some tests (

[2018-07-15 00:33] cmsbuild commented on #23796
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_aarch64_gcc700/1698
Some test

[2018-07-15 00:36] cmsbuild commented on #23796
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_aarch64_gcc700/1698

Tests results:
11 0 0 0 0 0 0 0 0 tests passed, 20 11 0 0 0 0 0 0 0 failed

[2018-07-15 01:07] cmsbuild commented on #23796
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc6_amd64_gcc630/1695
Some tests (

[2018-07-15 02:16] cmsbuild commented on #23796
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc700/1696

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-15 02:59] cmsbuild commented on #23796
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc6_amd64_gcc630/1695

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-15 04:09] cmsbuild commented on #23796
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc630/1699
Some tests (

[2018-07-15 06:13] cmsbuild commented on #23796
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc7_amd64_gcc630/1699

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-07-15 08:32] cmsbuild commented on #23796
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0-slc6_amd64_gcc700/1700

Tests results:
31 30 29 24 11 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed