[2022-04-09 16:25] cmsbuild commented on #37513
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0-slc7_ppc64le_gcc11/2297

[2022-04-09 16:26] cmsbuild commented on #37513
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0-slc7_aarch64_gcc11/2294

[2022-04-09 16:34] cmsbuild commented on #37513
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0-slc7_amd64_gcc11/2296

[2022-04-09 16:36] qliphy commented on #37513
release-notes

[2022-04-09 16:36] cmsbuild commented on #37513
Generating release notes since CMSSW_12_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-04-09 16:36] cmsbuild commented on #37513
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_3_0 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0_pre6 can be found at:

https://github.com/cms-sw

[2022-04-09 16:40] cmsbuild commented on #37513
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0

[2022-04-09 16:45] cmsbuild commented on #37513
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-slc7_ppc64le_gcc11/3453

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-10 09:42] VinInn commented on #37488
I use this csh script
``` touch /tmp/a.i ; c++ -v -march=native -s /tmp/a.i -o /dev/null | & grep cc1plus | sed 's/^.*march=//' | cut -f1 -d ' '; rm /tmp/a.i```

a bit compiler oriented I shall agree.

on  lxplus8-arm produces
```armv8.2-a+crypto+fp16+rcpc+dotprod```

do not have access to a power node

[2022-04-10 12:05] smuzaffar commented on #37488
on openlab olarm-202 , it produces `armv8.1-a+crypto` . On openlab power machine it complains
[code]
and then using `-mcpu=native` , it produces `power8`.

[2022-04-10 12:15] #36596 closed

[2022-04-10 12:15] #34704 closed

[2022-04-11 00:56] qliphy commented on #36647
@Dr15Jones  Any comment on the fix in #37487 ?

@cecilecaillol   Do you have answers to "What is the actual behavior this function is supposed to do?"  ?

[2022-04-11 07:18] missirol commented on #37482
assign hlt

(mainly for bookkeeping purposes)

[2022-04-11 07:18] cmsbuild commented on #37482
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-11 07:18] missirol commented on #37482
+hlt

 - fixed in https://github.com/cms-sw/cmssw/pull/37502 and #37503 (fix is already available in 12_3_0)

[2022-04-11 07:21] missirol commented on #37483
A solution is in https://github.com/cms-sw/cmssw/pull/37518 (to be backported to `12_3_X`, unless there are objections).

To follow what is currently done for other parts of the reconstruction (e.g. pixel reco), in #37518 I went for a simple customisation function without touching `modifyHLTforEras`.

[2022-04-11 07:45] smuzaffar commented on #35010
There also many errors like
[code]
seem like https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TTwinMux/src/RPCtoDTTranslator.cc#L349 returns -ve radial angle e.g. when
[code]
@cms-sw/l1-l2 , is `RPCtoDTTranslator::radialAngle` support to return -ve values?

[2022-04-11 09:09] #37512 closed

[2022-04-11 10:20] smuzaffar opened #37523 "CS9 OpenSSL deprecated functions warnings and thread safety"
For CS9 IBs (where we have OpenSSL 3.0) we have many warnings like [a]. I opened a PR https://github.com/cms-sw/cmssw/pull/37490 to fix it. I think we can fix allof these by using `EVP_Digest*` function.  But I just noticed that the following code is not thread safe
[code]
Specially call to `OpenSSL_add_all_digests() or OPENSSL_init_crypto()` which should be call once .  @makortel any idea how to

[2022-04-11 10:20] smuzaffar commented on #37523
assign core

[2022-04-11 10:20] cmsbuild commented on #37523
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-11 10:20] cmsbuild commented on #37523
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-11 11:34] jpata commented on #35969
@wrtabb @SohamBhattacharya please take note of this opportunity for performance improvements. We should start to prioritize computing improvements.

@cms-sw/egamma-pog-l2

[2022-04-11 11:35] jpata commented on #34290
@laurenhay @marksan87 please take note of this performance improvement possibility and let us know if this can be addressed.

@cms-sw/pf-l2

[2022-04-11 11:36] jpata commented on #34289
@laurenhay @marksan87 please take note of this performance improvement possibility and let us know if this can be addressed.

https://github.com/orgs/cms-sw/teams/pf-l2

[2022-04-11 11:57] jpata commented on #32883
@emilbols please take note of this performance issue, and let us know the plans to address this.

@cms-sw/btv-pog-l2

[2022-04-11 12:28] dpiparo opened #37526 "JetTracksAssociationDRVertexAssigned::produce : 0.5% of Phase-2 Reco time spent in dynamic_cast"
When looking at the Phase-2 performance profiles, the usage of dynamic_cast in the creation of jets plus tracks is not negligible, 0.5% of the total time (0.2% in Run-3). This is visible in [this igprof report](http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_4_0_pre1/35234.21/step3/cpu_endjob/352). The dynamic_cast is triggered by `edm::reftobase

[2022-04-11 12:28] cmsbuild commented on #37526
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-11 13:39] dpiparo opened #37527 "Phase-2 performance degradation due to printing of log messages"
When looking at [this igprof report](http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_4_0_pre1/35234.21/step3/cpu_endjob/385) it seems that because of the attempt of using [LogVerbatim to print GlobalPoints](https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoLocalMuon/GEMSegment/plugins/GE0SegAlgoRU.cc#L389) some 0.3

[2022-04-11 13:39] cmsbuild commented on #37527
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-11 13:53] cmsbuild commented on #37526
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-11 13:53] makortel commented on #37526
type performance-improvements

[2022-04-11 13:54] makortel commented on #37523
One option would be to add following kind of utility function to some package (currently unclear to me what would be the best place when taking into account dependencies)
[code]

[2022-04-11 14:01] makortel commented on #37527
assign reconstruction

[2022-04-11 14:02] cmsbuild commented on #37527
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-11 14:12] dpiparo opened #37529 "Potential simplification (and speedup) of Vavilov implementation"
The construction of the [VVIObjF object](https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoLocalTracker/SiPixelRecHits/src/VVIObjF.cc#L41) is responsible for [2.5% of the Phase-2 reconstruction](http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_4_0_pre1/35234.21/step3/cpu_endjob/109), despite the advanced performance

[2022-04-11 14:13] cmsbuild commented on #37529
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-11 14:16] smuzaffar commented on #37523
How about Utilities/OpenSSL package and we also move newly added [openssl unit tests]( https://github.com/cms-sw/cmssw/commit/a1aa8dfcd6a9ac3dadc54f3605698c9e73c5f1f0) in this package?

[2022-04-11 14:17] makortel commented on #37523
Sounds good to me.

[2022-04-11 14:19] Dr15Jones commented on #36487
@ggovi I had a chance to look at the code. On a first pass through I noticed a few things.

1. Why was CondDBESSource.m_proxies data structure changed? From my limited understanding of the code, the change doesn't appear to have anything to do with concurrency. If so, it would be easier to just change one thing at a time. If it does have to do with concurrency, could you please let me know its pur

[2022-04-11 14:19] makortel commented on #37529
type performance-improvements

[2022-04-11 14:19] cmsbuild commented on #37529
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-11 14:25] Dr15Jones commented on #37526
@dpiparo it is definitely another reason why the framework group would like people to move away from `edm::RefToBase` and use `edm::Ptr` instead.

[2022-04-11 14:38] cmsbuild commented on #37513
The cleanup has started for cs8_aarch64_gcc11

[2022-04-11 14:38] cmsbuild commented on #37513
The cleanup has started for slc7_amd64_gcc10

[2022-04-11 14:38] cmsbuild commented on #37513
The cleanup has started for cs8_ppc64le_gcc11

[2022-04-11 14:38] cmsbuild commented on #37513
The cleanup has started for cs8_amd64_gcc10

[2022-04-11 14:38] cmsbuild commented on #37513
The cleanup has started for slc7_amd64_gcc11

[2022-04-11 14:38] cmsbuild commented on #37513
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0-cs8_aarch64_gcc11/1998

[2022-04-11 14:38] cmsbuild commented on #37513
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0-cs8_ppc64le_gcc11/2000

[2022-04-11 14:38] cmsbuild commented on #37513
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0-slc7_aarch64_gcc11/2001

[2022-04-11 14:38] cmsbuild commented on #37513
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0-slc7_ppc64le_gcc11/2004

[2022-04-11 15:02] cecilecaillol commented on #32895
The issue is addressed in https://github.com/cms-sw/cmssw/pull/37495 and can be closed

[2022-04-11 15:04] #32895 closed

[2022-04-11 15:08] cecilecaillol commented on #28598
+l1

[2022-04-11 15:09] cecilecaillol commented on #30583
+l1

[2022-04-11 15:09] cmsbuild commented on #30583
This issue is fully signed and ready to be closed.

[2022-04-11 15:10] cecilecaillol commented on #30742
+l1

[2022-04-11 15:10] cmsbuild commented on #30742
This issue is fully signed and ready to be closed.

[2022-04-11 15:11] cecilecaillol commented on #30744
+l1

[2022-04-11 15:11] cecilecaillol commented on #30913
+l1

[2022-04-11 15:11] cmsbuild commented on #30913
This issue is fully signed and ready to be closed.

[2022-04-11 15:12] cecilecaillol commented on #32460
+l1

[2022-04-11 15:13] cmsbuild commented on #31840
This issue is fully signed and ready to be closed.

[2022-04-11 15:13] #30583 closed

[2022-04-11 15:17] cmsbuild commented on #37482
This issue is fully signed and ready to be closed.

[2022-04-11 15:17] cmsbuild commented on #31506
This issue is fully signed and ready to be closed.

[2022-04-11 15:17] cecilecaillol commented on #30676
+l1

[2022-04-11 15:39] #30676 closed

[2022-04-11 15:39] #28598 closed

[2022-04-11 15:40] cecilecaillol commented on #34196
@srimanob Is it still an issue or can we close it?

[2022-04-11 15:40] #31506 closed

[2022-04-11 15:40] #31840 closed

[2022-04-11 15:41] #32460 closed

[2022-04-11 15:42] #30744 closed

[2022-04-11 15:43] #30742 closed

[2022-04-11 15:44] #37482 closed

[2022-04-11 15:56] cecilecaillol commented on #24377
@cavana Any update on this? :)

[2022-04-11 15:58] cecilecaillol commented on #25090
+l1

[2022-04-11 18:56] wddgit commented on #36967
Resolved by #37532

[2022-04-11 18:56] #36967 closed

[2022-04-11 19:15] makortel commented on #37488
@smuzaffar After discussion we decided to go with https://github.com/google/cpu_features library. Could you add an external for it?

@spigad I assume this improvement would need to be backported from 12_4_X. Which release was used in the Marconi 100 tests?

[2022-04-11 22:04] spigad commented on #37488
@makortel the latest RelVal  samples  were produced with CMSSW_11_2_0 .

[2022-04-12 09:43] smuzaffar commented on #37169
This workflow still randomly fails for all EL8 IBs ( cs8/alma8/rhel8). Could it be a threading issue?

[2022-04-12 12:27] missirol commented on #37483
+hlt

 - fixed in 12_3_X (#37521) and 12_4_X (#37518)

 @silviodonato , feel free to close the issue if you think the problem is solved.

[2022-04-12 12:27] cmsbuild commented on #37483
This issue is fully signed and ready to be closed.

[2022-04-12 13:20] #37483 closed

[2022-04-13 07:56] gkaratha commented on #35010
Hi,

To be honest i dont have any idea about that. I have not been involved in twinmux for 5 years now, so i am not certain about "new" developments.

[2022-04-13 08:58] jordan-martins commented on #37512
Hi @smuzaffar , thanks for this! However, we are still getting the same error while trying to submit the request. Could you kindly tell us if any further action is needed, please? I understood that since it is an x-shared file that it would need any further action and that updates would be ready.
Thanks,
Jordan
FYI @perrotta @qliphy

[2022-04-13 09:08] smuzaffar commented on #37512
ah this is because it is not yet deployed under /cvmfs/cms.cern.ch  . let me force install it.

[2022-04-13 09:15] jpata commented on #32883
Thanks for confirming.

Comparing [11_3_0](http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/circles/piechart.php?local=false&dataset=CMSSW_11_3_0%2Fslc7_amd64_gcc900%2F11834.21%2Fstep4_circles&resource=time_thread&colours=default&groups=packages&threshold=0) (which already includes the AVX2 fix I think) and [12_4_0_pre2](cms-reco-profiling.web.cern.ch/cms-reco-profiling/circles/piechart.ph

[2022-04-13 10:47] jpata commented on #37527
Looks like this has been similar since at least 12_0_0: http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_0_0/34834.21/step3/cpu_endjob/436

It's a good moment to optimize it.

@jshlee @watson-ij @cms-sw/gem-dpg-l2 could you please take a look?

[2022-04-13 10:49] smuzaffar commented on #37512
@jordan-martins update `cmsLHEtoEOSManager.py` is now available on /cvmfs

[2022-04-13 11:36] jordan-martins commented on #37512
thanks @smuzaffar ! this is now working properly. :)

[2022-04-13 13:23] jpata commented on #34289
In http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_4_0_pre1/35234.21/step3/cpu_endjob/1379 it looks more like 0.15% in log/atan2, 0.21% in ConvBremPFTrackFinder.

[2022-04-13 13:47] dan131riley commented on #37169
Not seeing much of a pattern here:
[code]

[2022-04-13 14:20] jpata opened #37549 "TrackAssociator in MuonIdProducer takes ~5% of total reco time"
Going through the profiles, I noticed that MuonIdProducer takes a pretty significant chunk of reco time, ~6% in Run3 and 4% in Phase2. Is this reasonable?

- Run3: http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_4_0_pre1/11834.21/step3/cpu_endjob/46
- Phase2: http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releas

[2022-04-13 14:21] jpata commented on #37549
assign reconstruction

[2022-04-13 14:21] cmsbuild commented on #37549
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-13 14:21] jpata commented on #37549
type performance-improvements

[2022-04-13 15:02] smuzaffar commented on #37488
@makortel , https://github.com/cms-sw/cmsdist/pull/7781 adds `cpu_features. Looks like you need to include different headers fro x86, arm and ppc. Can you please try to add a simple unit test which can run on all archs?

[2022-04-13 15:07] qliphy opened #37553 "Build CMSSW_12_3_1"
To include new PDF sets needed by W mass analysis:  https://github.com/cms-sw/cmssw/issues/37528
Several other HLT related PRs are also included

[2022-04-13 15:08] cmsbuild commented on #37553
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-04-13 15:09] qliphy commented on #37553
+1

[2022-04-13 15:10] cmsbuild commented on #37553
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-04-13 15:10] cmsbuild commented on #37553
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-04-13 15:11] cmsbuild commented on #37553
The build has started for cs8_amd64_gcc10 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3454/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-13 15:11] cmsbuild commented on #37553
The build has started for slc7_amd64_gcc11 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3456/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-13 15:11] cmsbuild commented on #37553
The build has started for slc7_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3455/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-13 15:12] cmsbuild commented on #37553
The build has started for cs8_ppc64le_gcc11 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3457/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-13 15:13] cmsbuild commented on #37553
The build has started for slc7_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3458/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-13 15:17] Dr15Jones commented on #37169
Could it be the random number seeds? Maybe something changed the order in which the random numbers were pulled and now we are periodically hitting a problem with the generator not decaying the Tau?

[2022-04-13 15:57] makortel commented on #37488
@dan131riley Do you have preference?

[2022-04-13 16:08] dan131riley commented on #37488
Hi @smuzaffar lets get it into an IB and I’ll add unit tests

[2022-04-13 16:28] cmsbuild commented on #37553
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3459/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-13 16:48] kdlong commented on #31158
Sorry @jpata we will take a closer look shortly.

[2022-04-13 17:40] silviodonato opened #37556 "Failed to find GEMEtaPartition for ID Re -1 Ri 1 St 2 La 1 Ch 2 Et 1"
After having migrated the HLT cosmics menu to 12_3_0 and synchronized with the offline menu, I'm getting many warnings such as
[code]
Please note that until now the GEM reconstruction was not used by the HLT at P5 during the cosmics.
The GEM reco was added to the HLT menu by https://its.cern.ch/jira/browse/CMSHLT-2200.

You can reproduce the error using from lxplus and running on a recent overnigh

[2022-04-13 17:40] cmsbuild commented on #37556
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-13 17:43] silviodonato commented on #37556
cc @cms-sw/alca-l2

[2022-04-13 17:50] tvami commented on #37556
To me it seems to be more a reco problem. But I contacted @hyunyong about it.

[2022-04-13 17:50] tvami commented on #37556
assign reconstruction

[2022-04-13 17:51] cmsbuild commented on #37556
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-13 17:52] jshlee commented on #37556
hi @silviodonato, this is looking for ge21 which is not yet installed.
Currently, only a demonstrator chamber is installed, but it shouldn't be used for hlt.
This chamber should be present in the geometry, but there shouldn't be any data for it for now since we don't unpack it.

@watson-ij can you look into this.

[2022-04-13 17:57] jpata commented on #37556
Wouldn't this be HLT then? Reco can't really test HLT stuff AFAIK.

[2022-04-13 18:04] tvami commented on #37556
Yes, you are right. Given that HLT reported it, I was a bit reluctant to `assign hlt` to the thread haha and it was about rechits...

[2022-04-13 18:04] tvami commented on #37556
unassign reconstruction

[2022-04-13 18:05] cmsbuild commented on #37556
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-13 19:00] Martin-Grunewald commented on #37556
So we should switch off GEM completely?

[2022-04-13 19:05] missirol commented on #37556
Attn: @JanFSchulte @khaosmos93 (MUO-HLT)

[2022-04-13 19:29] cmsbuild commented on #37553
The build has started for slc7_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3460/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-13 20:08] cmsbuild commented on #37553
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-cs8_ppc64le_gcc11/3457
Some tests (

[2022-04-13 20:17] cmsbuild commented on #37553
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-slc7_ppc64le_gcc11/3458
Some tests

[2022-04-13 21:08] cmsbuild commented on #37553
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-cs8_ppc64le_gcc11/3457

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-13 21:14] cmsbuild commented on #37553
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-slc7_amd64_gcc11/3456
Some tests ( ru

[2022-04-13 21:17] cmsbuild commented on #37553
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-slc7_amd64_gcc10/3455
Some tests ( ru

[2022-04-13 21:17] cmsbuild commented on #37553
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-slc7_ppc64le_gcc11/3458

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-13 21:31] cmsbuild commented on #37553
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-cs8_amd64_gcc10/3454
Some tests ( runT

[2022-04-13 21:35] cmsbuild commented on #37553
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-cs8_aarch64_gcc11/3459
Some tests (

[2022-04-13 21:58] cmsbuild commented on #37553
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-slc7_amd64_gcc11/3456

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-13 22:04] cmsbuild commented on #37553
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-slc7_amd64_gcc10/3455

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-13 22:15] cmsbuild commented on #37553
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-cs8_amd64_gcc10/3454

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-13 22:21] cmsbuild commented on #37553
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-cs8_aarch64_gcc11/3459

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-04-14 00:24] makortel commented on #36938
https://github.com/cms-sw/cmssw/pull/37563 makes `SwitchProducer` to work with `ConditionalTask`. I tested also the configuration from @missirol's recipe in https://github.com/cms-sw/cmssw/issues/36938#issuecomment-1090262706, and it worked (at least technically).

[2022-04-14 00:32] cmsbuild commented on #37553
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-slc7_aarch64_gcc11/3460
Some tests

[2022-04-14 00:35] makortel opened #37564 "Workflow mimicing UL MC production where HLT was run in a separate step"
The Ultra Legacy MC production ran HLT step in a seperate step of the workflow because it had to be run using a different CMSSW release than other steps of the workflow. This lead to inefficiencies reported e.g. in https://indico.cern.ch/event/1078746/#16-improving-efficiency-of-hlt (the talk also discusses a way to improve the efficiency).

In order to work on improving the efficiency of such a s

[2022-04-14 00:36] makortel commented on #37564
assign pdmv

[2022-04-14 00:36] cmsbuild commented on #37564
New categories assigned: pdmv

@bbilin,@wajidalikhan,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-14 00:36] cmsbuild commented on #37564
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-14 00:38] makortel commented on #37564
@cms-sw/pdmv-l2 Could you help in defining such a workflow (or set of workflows) in runTheMatrix, please?

[2022-04-14 00:51] qliphy commented on #37553
upload all

[2022-04-14 00:52] cmsbuild commented on #37553
Queing Jenkins upload for slc7_amd64_gcc10

[2022-04-14 00:52] cmsbuild commented on #37553
Queing Jenkins upload for cs8_amd64_gcc10

[2022-04-14 00:52] cmsbuild commented on #37553
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-04-14 00:52] cmsbuild commented on #37553
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-04-14 00:52] cmsbuild commented on #37553
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-04-14 00:52] cmsbuild commented on #37553
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-04-14 00:52] cmsbuild commented on #37553
Queing Jenkins upload for slc7_amd64_gcc11

[2022-04-14 00:52] cmsbuild commented on #37553
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2298/console

[2022-04-14 00:52] cmsbuild commented on #37553
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2301/console

[2022-04-14 00:52] cmsbuild commented on #37553
The upload has started for cs8_amd64_gcc10 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2299/console

[2022-04-14 00:53] cmsbuild commented on #37553
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_1-slc7_aarch64_gcc11/2301

[2022-04-14 00:53] cmsbuild commented on #37553
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2300/console

[2022-04-14 00:53] cmsbuild commented on #37553
The upload has started for slc7_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2302/console

[2022-04-14 00:53] cmsbuild commented on #37553
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_1-cs8_aarch64_gcc11/2298

[2022-04-14 00:54] cmsbuild commented on #37553
The upload has started for slc7_amd64_gcc11 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2303/console

[2022-04-14 00:54] cmsbuild commented on #37553
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_1-cs8_ppc64le_gcc11/2300

[2022-04-14 00:55] cmsbuild commented on #37553
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_1-slc7_amd64_gcc10/2302

[2022-04-14 00:55] cmsbuild commented on #37553
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2304/console

[2022-04-14 00:56] cmsbuild commented on #37553
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_1-slc7_amd64_gcc11/2303

[2022-04-14 00:56] cmsbuild commented on #37553
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_1-slc7_ppc64le_gcc11/2304

[2022-04-14 00:56] cmsbuild commented on #37553
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_1-cs8_amd64_gcc10/2299

[2022-04-14 01:18] qliphy commented on #37553
release-notes

[2022-04-14 01:18] cmsbuild commented on #37553
Generating release notes since CMSSW_12_3_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-04-14 01:18] cmsbuild commented on #37553
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_3_1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0 can be found at:

https://github.com/cms-sw/cmss

[2022-04-14 01:22] cmsbuild commented on #37553
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_1

[2022-04-14 01:25] cmsbuild commented on #37553
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_1-slc7_aarch64_gcc11/3460

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-04-14 05:01] watson-ij commented on #37556
@Martin-Grunewald in the config, the ge21Off should be set to True to skip unpacking the GE2/1 digis, this is something we added recently to account for the GE2/1 demonstrator.
Also, I would guess useDBEmap should be True, based on our current offline run3 setup:
https://github.com/cms-sw/cmssw/blob/master/EventFilter/GEMRawToDigi/python/muonGEMDigis_cfi.py

[2022-04-14 07:12] Martin-Grunewald commented on #37556
Thanks @watson-ij I can conform that these changes to the two bools get rid of the BadDigiInput messages!

[2022-04-14 07:24] silviodonato commented on #37556
As you can see in the PR description, I found this error at `13-Apr-2022 19:25:07` and you have already provided me a solution in time for the daily run meeting. Thanks a lot to everybody for the very prompt reaction!! :-)

[2022-04-14 08:57] #37556 closed

[2022-04-14 09:56] ferencek opened #37567 "Problems after renaming parent folder of a CMSSW working area"
After renaming the parent folder of a CMSSW working area, I ran the project rename command as can be seen below
[code]
However, later on when I wanted to check out an additional package, I encountered the following error
[code]
which I would not expect to see after a successful project rename.

There was another possibly related issue with code format checks in the context of https://github.com/cm

[2022-04-14 09:57] cmsbuild commented on #37567
A new Issue was created by  @ferencek Dinko F..

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-14 13:09] jpata commented on #37527
type performance-improvements

[2022-04-14 13:34] #37523 closed

[2022-04-14 14:11] watson-ij commented on #37527
Hi @jpata, I made a PR which changes the LogVerbatim calls to LogDebug, which by my understanding should fix this issue  #37571. I wasn't sure how to check that the changes with the igprof tool though. If this is something I should check myself, do you have a twiki page I can follow to do this?

[2022-04-14 14:13] jpata commented on #37527
Thanks a lot for the quick action! If you open a PR, we can run the profiling directly via the bot.
LogDebug is compiled away, so I expect it will decrease the runtime (it cannot increase it by construction).

[2022-04-14 15:19] makortel commented on #37567
assign core

[2022-04-14 15:19] cmsbuild commented on #37567
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-14 15:22] makortel commented on #37392
@missirol The HLT validation test is working fine now, right?

[2022-04-14 15:43] dan131riley commented on #37240
Ping…can this issue be resolved?

[2022-04-14 15:52] makortel commented on #37240
@germanfgv @drkovalskyi Could you confirm that the issues with duplicated GUIDs are gone? (I'd assume so from the silence, but would like to check explicitly) Thanks!

[2022-04-14 16:35] makortel opened #37572 "Stuck jobs in Tier0"
This issue is to document technical details on CMSSW about stuck jobs in Tier0 discussed in https://its.cern.ch/jira/browse/CMSTZ-976 (and to find a solution if the problem would be in CMSSW).

[2022-04-14 16:35] makortel commented on #37572
assign core

[2022-04-14 16:35] cmsbuild commented on #37572
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-14 16:35] cmsbuild commented on #37572
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-14 16:38] missirol commented on #37392
Yes, ever since we by-passed the issue by updating the input files in https://github.com/cms-sw/cmssw/pull/37393. I didn't try to test with the old input file and the patch discussed lately here, but I understood Shahzad did so in https://github.com/cms-sw/cmssw/issues/37392#issuecomment-1084142238 .

Does this answer the question, Matti? (I was waiting for signatures before closing the issue.)

[2022-04-14 16:38] makortel commented on #37572
Job 90307.184, CMSSW_12_3_0

Last lines of log
[code]

Stack trace
[code]

[2022-04-14 16:44] makortel commented on #37392
+1

Thanks @missirol

[2022-04-14 16:44] cmsbuild commented on #37392
This issue is fully signed and ready to be closed.

[2022-04-14 16:46] missirol commented on #37392
Closing. Thanks to experts for the follow-ups.

[2022-04-14 16:46] #37392 closed

[2022-04-14 16:46] makortel commented on #37572
Job 90282.132, CMSSW_12_3_0

Last lines of log
[code]

Stack trace
[code]

[2022-04-14 16:49] makortel commented on #37572
Job 90529.18, CMSSW_12_3_0

Last lines of log
[code]

Stack trace
[code]

[2022-04-14 16:51] makortel commented on #37572
Job 90304.122, CMSSW_12_3_0

Last lines of log
[code]

Stack trace
[code]

[2022-04-14 16:55] makortel commented on #37572
Job 90381.74, CMSSW_12_3_0

Last lines of log
[code]

Stack trace
[code]

[2022-04-14 18:37] makortel commented on #37572
The general pattern appears to be that there is an error in the xrootd communication (shown in the log), and then program enters into a stuck state.

Curiously some of the jobs have a thread waiting in
[code]
This corresponds to
https://github.com/cms-sw/cmssw/blob/29f5fc15b34591745c5cd3c2c6eb9793aa6f371b/FWCore/Services/plugins/CondorStatusUpdater.cc#L401-L408

As far as I can tell, the `condor_c

[2022-04-14 18:41] jhonatanamado commented on #37240
Hello @makortel , From Tier0 we can confirm that the issues with duplicated GUIDs are gone since CMSSW_12_2_3. Thanks.

[2022-04-14 18:44] makortel commented on #37240
+1

Thanks @jhonatanamado

[2022-04-14 18:44] cmsbuild commented on #37240
This issue is fully signed and ready to be closed.

[2022-04-14 18:55] makortel commented on #37572
In the cases above where one thread is not waiting on `waitpid()` via `CondorStatusService::updateChirpImpl()`, there is still one thread calling that function. It is just stuck in
[code]
and at least one of the XrootD threads is stuck in
[code]

[2022-04-14 19:08] makortel commented on #28716
+1

Done in https://github.com/cms-sw/cmssw/pull/34700

[2022-04-14 19:09] cmsbuild commented on #28716
This issue is fully signed and ready to be closed.

[2022-04-14 19:30] Dr15Jones commented on #37572
@dan131riley thoughts?

[2022-04-14 19:31] Dr15Jones commented on #37572
In general, doing a fork (which apparently is what posix_spawn does) in a program using multiple threads and locks is a very bad idea.

[2022-04-14 19:43] smuzaffar commented on #37567
@ferencek , have you run `cmsenv` after in the new directory? `git-cms-addpkg` uses `$CMSSW_BASE/src`  to check out package, so if you have not reset the env in new area then it will try to checkout package in old path

[2022-04-14 20:19] ferencek commented on #37567
Hmm, I honestly cannot recall now but I managed to reproduce the problem by renaming the parent folder and not calling `cmsenv` afterwards so it looks like I called `cmsenv` only once, before renaming the folder. Thanks for the pointer in the right direction and sorry for the noise.

[2022-04-14 20:19] #37567 closed

[2022-04-14 20:41] dan131riley commented on #37572
The fork by itself isn't so bad, but xrootd is trying to intercept the fork to close and reopen its connections, which doesn't seem to be working so well when it is already in an error state.  I think we want to disable the `XrdCl::ForkHandler()` functionality.  We certainly don't need it at shutdown time (where we're getting these deadlocks), but in fact I don't think we want it in general.

[2022-04-14 20:43] Dr15Jones commented on #37572
Back in the 'Stone Age' when cmsRun actually supported forking itself, we definitely needed `XrdCl::ForkHandler()`. Now, it does seem to be a problem for us.

[2022-04-14 20:45] makortel commented on #37572
How can the fork handler be disabled?

[2022-04-14 20:45] dan131riley commented on #37572
Yes, since we've removed the pre-fork functionality, we shouldn't need the fork handler, and turning it off would at least remove one layer of complication.

[2022-04-14 20:51] dan131riley commented on #37572
There's a runtime configuration option, `RunForkHandler`, that looks like it can be turned off via `XrdPosixConfig::SetEnv("RunForkHandler", 0);`, but I'm not really clear on where (if anywhere) we're tuning xrootd options.

[2022-04-14 20:53] Dr15Jones commented on #37572
Utilities/XrdAdaptor?

[2022-04-14 20:56] makortel commented on #37572
I see some things being set in
https://github.com/cms-sw/cmssw/blob/29f5fc15b34591745c5cd3c2c6eb9793aa6f371b/Utilities/XrdAdaptor/plugins/XrdStorageMaker.cc#L64-L67
https://github.com/cms-sw/cmssw/blob/29f5fc15b34591745c5cd3c2c6eb9793aa6f371b/Utilities/XrdAdaptor/plugins/XrdStorageMaker.cc#L180-L191
https://github.com/cms-sw/cmssw/blob/29f5fc15b34591745c5cd3c2c6eb9793aa6f371b/Utilities/XrdAdaptor/

[2022-04-14 20:56] Dr15Jones commented on #37572
https://github.com/cms-sw/cmssw/blob/afbbf4eccb55a3a43ec3566ec2fc50e43114310f/Utilities/XrdAdaptor/plugins/XrdStorageMaker.cc#L180-L191

[2022-04-14 23:10] #37240 closed

[2022-04-14 23:10] #28716 closed

[2022-04-15 13:38] cmsbuild commented on #37407
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3461/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-15 13:38] cmsbuild commented on #37407
The cleanup has started for slc7_amd64_gcc900

[2022-04-15 13:39] cmsbuild commented on #37407
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_2-slc7_amd64_gcc900/2005

[2022-04-15 13:53] slava77 opened #37579 "exponentially long exception messages in multi-threaded setup (ref #37392)"
I observed a problem similar to #37392
with
[code]
in 12_4_0_pre2.
While the issue goes away in a recent IB (e.g. in CMSSW_12_4_X_2022-04-14-1100),

I have a tangential question: the exception messages in 12_4_0_pre2 are issued for every thread with increasingly long stack. In a 32-thread test the last one comes out with
[code]
Is the framework really creating such deep stacks or is this just a fe

[2022-04-15 13:53] cmsbuild commented on #37579
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-15 13:58] makortel commented on #37579
assign core

[2022-04-15 13:58] cmsbuild commented on #37579
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-15 14:05] makortel commented on #37579
Looking at `cmsdev34:/build/slava77/reltest/CMSSW_12_4_0_pre2-orig/test/gensim-1210p5/11634.0_TTbar_14TeV+2021/sort/step2.mt8.log` I see
* 1st trace has depth 4
* 2nd trace has depth 264
* 3rd trace has depth 282
* 4th trace has depth 119
* 5th trace has depth 638
* 6th trace has depth 994
* 7th trace has depth 1347
* 8th trace has depth 1703

The traces are full of `Rethrowing an exception that h

[2022-04-15 14:25] makortel commented on #37579
The delayed reader throws its exception on "different read request" here
https://github.com/cms-sw/cmssw/blob/086e2e24704b05220277c52673a7bdba5e53c16c/IOPool/Input/src/RootDelayedReader.cc#L42-L49

The message gets extended with `While reading from` in
https://github.com/cms-sw/cmssw/blob/086e2e24704b05220277c52673a7bdba5e53c16c/FWCore/Framework/src/ProductResolvers.cc#L196-L204

[2022-04-15 14:42] slava77 commented on #37579
Do I understand this correctly that this is just a length of a message, not an actual depth of the calls?

[2022-04-15 15:02] makortel commented on #37579
Correct, it is how the exception messages are constructed (specifically how additional context information gets added), not the depth of the actual call stack.

[2022-04-15 15:23] makortel opened #37584 "TestDQMOnlineClient-l1tstage2_dqm_sourceclient test fails"
The `TestDQMOnlineClient-l1tstage2_dqm_sourceclient` test fails in CMSSW_12_4_X_2022-04-15-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-04-15-1100/unitTestLogs/DQM/Integration#/

[2022-04-15 15:23] makortel commented on #37584
assign dqm

[2022-04-15 15:23] cmsbuild commented on #37584
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-15 15:24] cmsbuild commented on #37584
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-15 15:25] makortel commented on #37584
https://github.com/cms-sw/cmssw/pull/37544 looks like potential culprit

[2022-04-15 15:26] makortel commented on #37584
assign l1

[2022-04-15 15:26] cmsbuild commented on #37584
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-15 15:31] slava77 commented on #37579
OK, I guess I can close this issue as not an issue.
Thanks for checking/clarifying.

[2022-04-15 15:31] #37579 closed

[2022-04-15 15:47] cmsbuild commented on #37407
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_ppc64le_gcc9/3461
Some tests (

[2022-04-15 15:47] cmsbuild commented on #37407
There was an error when running the tests for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_ppc64le_gcc9/3461

Tests results:
grep: /scratch/cmsbuild/jenkins_a/workspace/auto-builds/CMSSW_12_2_2-slc7_ppc64le_gcc9/build/CMSSW_12_2_2-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2022-04-15 15:48] cmsbuild commented on #37407
The cleanup has started for slc7_ppc64le_gcc9

[2022-04-15 15:48] cmsbuild commented on #37407
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_2-slc7_ppc64le_gcc9/2006

[2022-04-15 16:53] srimanob opened #37585 "Warning of HGCal-related code from static check"
Following up of https://github.com/cms-sw/cmssw/pull/37566, there are still warnings of static code check from HGCal-related code. This issue is to keep track of it until fix comes.

[code]

[2022-04-15 16:53] cmsbuild commented on #37585
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-15 17:06] makortel commented on #37585
assign dqm, upgrade

@cms-sw/hgcal-dpg-l2

[2022-04-15 17:06] cmsbuild commented on #37585
New categories assigned: dqm,upgrade

@jfernan2,@ahmad3213,@AdrianoDee,@micsucmed,@rvenditti,@emanueleusai,@srimanob,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-15 23:23] cmsbuild commented on #37553
The cleanup has started for cs8_aarch64_gcc11

[2022-04-15 23:23] cmsbuild commented on #37553
The cleanup has started for slc7_aarch64_gcc11

[2022-04-15 23:23] cmsbuild commented on #37553
The cleanup has started for slc7_amd64_gcc10

[2022-04-15 23:23] cmsbuild commented on #37553
The cleanup has started for cs8_ppc64le_gcc11

[2022-04-15 23:23] cmsbuild commented on #37553
The cleanup has started for cs8_amd64_gcc10

[2022-04-15 23:23] cmsbuild commented on #37553
The cleanup has started for slc7_amd64_gcc11

[2022-04-15 23:23] cmsbuild commented on #37553
The cleanup has started for slc7_ppc64le_gcc11

[2022-04-15 23:23] #37553 closed

[2022-04-15 23:23] cmsbuild commented on #37553
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_1-cs8_aarch64_gcc11/2007

[2022-04-15 23:23] cmsbuild commented on #37553
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_1-cs8_ppc64le_gcc11/2009

[2022-04-15 23:23] cmsbuild commented on #37553
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_1-slc7_aarch64_gcc11/2010

[2022-04-15 23:23] cmsbuild commented on #37553
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_1-cs8_amd64_gcc10/2008

[2022-04-15 23:23] cmsbuild commented on #37553
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_1-slc7_ppc64le_gcc11/2013

[2022-04-15 23:23] cmsbuild commented on #37553
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_1-slc7_amd64_gcc11/2012

[2022-04-15 23:23] cmsbuild commented on #37553
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_1-slc7_amd64_gcc10/2011

[2022-04-17 10:07] missirol opened #37598 "`hltIntegrationTests` tests failing randomly in IBs"
In recent IBs, there have been seemingly-random failures of the HLT-Validation tests, e.g.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_4_X_2022-04-09-1100/slc7_amd64_gcc10/HLT_Integration_PIon_MC.log
https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_3_X_2022-04-11-1100/slc7_amd64_gcc10/HLT_Integration_PIon_MC.log
https://cmssdt.cern.ch/SDT/jenkins-artif

[2022-04-17 10:07] cmsbuild commented on #37598
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-17 17:38] kskovpen commented on #37564
Sure! That's a very interesting study. Here comes the PR.

[2022-04-17 19:27] srimanob commented on #37564
Hi @makortel
Do I understand correctly that we need 2nd file solution?
Is that possible in our production system? I remember that the way we chose for UL because of the 2nd file solution in production was not available. But that was 4 years ago.

[2022-04-18 00:40] qliphy commented on #37584
@zuoxunwu  As this issue seems to be related to your recent PR: https://github.com/cms-sw/cmssw/pull/37544   Would you please have a look?

[2022-04-18 13:09] Dr15Jones commented on #37579
Should be fixed by #37591

[2022-04-18 14:00] missirol commented on #37584
If it helps, removing/commenting [this line](https://github.com/cms-sw/cmssw/blob/c84c56e0057e517b714e65c0306377bacc82c0eb/DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py#L58) will make the unit test pass. I don't know if that is the correct fix, though.

[2022-04-18 15:33] dan131riley commented on #37572
We could hack it into XrdAdaptor, or add an interface for it to the StorageMaker class and set it in the TFileAdaptor:
https://github.com/cms-sw/cmssw/blob/29f5fc15b34591745c5cd3c2c6eb9793aa6f371b/IOPool/TFileAdaptor/src/TFileAdaptor.cc#L154-L161
Any preference (the latter seems cleaner to me)?

[2022-04-18 15:37] Dr15Jones commented on #37572
@dan131riley I should have a PR in a few minutes where I put it into XrdStorageMaker

[2022-04-18 15:44] Dr15Jones commented on #37572
Hmmm, from the xrootd documentation, it says that the default for RunForkHandler is already 0,

https://xrootd.slac.stanford.edu/doc/xrdcl-docs/www/xrdcldocs.html#x1-400004.2.30

so why are we seeing it being used?

[2022-04-18 15:52] dan131riley commented on #37572
https://github.com/xrootd/xrootd/commit/801a020b9d896f85b909d612bb832870ab148a15

[2022-04-18 15:58] Dr15Jones commented on #37572
Ahhh. Which also accounts for why we are only just now seeing the problem.

[2022-04-18 18:25] makortel commented on #37598
assign core, hlt

[2022-04-18 18:26] cmsbuild commented on #37598
New categories assigned: core,hlt

@missirol,@Dr15Jones,@smuzaffar,@makortel,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-18 18:28] makortel commented on #37598
I remember seeing this kind of errors
[code]
recently in other tests too (was unable to find those now though). I wonder if this could be e.g. a CVMFS issue on a worker node?

[2022-04-19 00:40] qliphy commented on #37572
@makortel  @Dr15Jones   Is this fixed by https://github.com/cms-sw/cmssw/pull/37607 ?

[2022-04-19 00:45] makortel commented on #37572
@qliphy We hope so. I'm afraid we don't have a better way to confirm that than testing in Tier0 itself.

[2022-04-19 09:48] hernand opened #37615 "Failed to use local-connect in site-local-config.xml"
In https://github.com/cms-sw/cmssw/issues/29558 a mechanism was implemented in CMSSW to load the conditions data corresponding to a global tag from a file located in a directory specified in the site-local-config.xml file (<local-connect> section).
In the validation process to integrate the Barcelona Supercomputing Center into CMS operations, one of the steps (the HLT step) of a test workflow (see

[2022-04-19 09:48] cmsbuild commented on #37615
A new Issue was created by  @hernand Jose Hernandez.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-19 10:11] davidlange6 commented on #37615
Likely due to
https://github.com/cms-sw/cmssw/issues/27393
(So maybe 12_3_0 is better?)

[2022-04-19 13:01] mmusich commented on #37529
@dpiparo is  #37533 along the lines of what you had in mind?

[2022-04-20 00:41] qliphy commented on #37584
@zuoxunwu @cms-sw/csc-dpg-l2 @cms-sw/l1-l2 would you please have a look?

[2022-04-20 06:44] missirol commented on #37556
+hlt

for the record

[2022-04-20 06:44] cmsbuild commented on #37556
This issue is fully signed and ready to be closed.

[2022-04-20 07:47] #37529 closed

[2022-04-20 10:57] zuoxunwu commented on #37584
Sorry for the late turn-around. Just got time to look at this.
The MuonCSCShowerDigi are not available in data because the firmware is not yet implemented. I thought it would recreate an empty collection and do not break the sequence. It seems not.
I will make a fix shortly.

[2022-04-20 12:04] zuoxunwu commented on #37584
Indeed this is a correct (not sure yet if it is preferred) fix.
There is an empty MuonCSCShowerDigi collection in muonCSCDigis. And one only need to call the unpacker to make it work.
Another (possibly preferred) way to fix it is to move the CSCShower DQM module from the L1T sequence to the CSC sequence. I will discuss this with relevant L1T and DQM experts and make a decision.

[2022-04-20 13:23] germanfgv commented on #37572
We will be able to test it once the PR is included in a release or pre-release

[2022-04-20 14:11] kskovpen commented on #37564
Here comes a new version of the PR.

[2022-04-20 14:57] zuoxunwu commented on #37584
Hi @qliphy ,
I see. I have made a [PR for the temporary fix](https://github.com/cms-sw/cmssw/pull/37634). Should be good for the release.

After a discussion with L1T SW experts, I think there are 3 options:
1. Enable CSC unpacker in L1T DQM sequence, as in the temporary fix.
Pros: Easy to implement. CSC shower plots and EMTF shower plots stays side-by-side in DQM, better comparison for users.
Con

[2022-04-20 17:06] makortel opened #37637 "Stuck 12_2_X jobs in Tier0"
The JIRA ticket https://its.cern.ch/jira/browse/CMSTZ-976 reports also some 12_2_X jobs getting stuck. Initial investigation shows that it is `xrdcp` following a successful `cmsRun` that gets stuck. I'm opening a separate issue to #37572 since the cause is different (and here I'm a bit afraid if we couldn't do much).

[2022-04-20 17:06] makortel commented on #37637
assign core

[2022-04-20 17:08] makortel commented on #37637
The `wmagentJob.log` ends with
[code]
and the stack trace of the `xrdcp` is
[code]

The process appears to be waiting on something.

[2022-04-20 17:23] cmsbuild commented on #37637
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-20 17:23] cmsbuild commented on #37637
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-20 17:39] makortel commented on #37564
@srimanob

Correct, this approach requires the RECO step to use the so-called "2 file solution".

I can't really comment on that (should be asked from WM and ComOps). Our primary goal is to do this in StepChain in a way that is transparent to the WM. We'd just need WM to support specific customizations on the workflow steps when run in StepChain (see https://github.com/dmwm/WMCore/issues/10819).

[2022-04-20 19:39] belforte commented on #37637
sounds like WMAgent should wrap the xrdcp call with some timeout ? Writing to remote storage may surely get stuck for reasons outside the job control.

[2022-04-21 06:48] qliphy opened #37642 "Build CMSSW_12_4_0_pre3"

[2022-04-21 06:48] cmsbuild commented on #37642
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-04-21 06:53] qliphy commented on #37642
+1

[2022-04-21 06:54] cmsbuild commented on #37642
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-04-21 06:54] cmsbuild commented on #37642
Queuing Jenkins build for the following architectures: slc7_amd64_gcc11, el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-04-21 06:54] cmsbuild commented on #37642
The build has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3462/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-21 06:55] cmsbuild commented on #37642
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3463/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-21 06:55] cmsbuild commented on #37642
The build has started for slc7_amd64_gcc11 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3464/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-21 06:55] cmsbuild commented on #37642
The build has started for el8_ppc64le_gcc10 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3465/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-21 07:07] cmsbuild commented on #37642
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3466/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-21 11:29] cmsbuild commented on #37642
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre3-el8_ppc64le_gcc10/3465
Some tes

[2022-04-21 12:13] cmsbuild commented on #37642
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre3-el8_aarch64_gcc10/3466
Some tes

[2022-04-21 12:20] cmsbuild commented on #37642
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre3-el8_ppc64le_gcc10/3465

Tests results:
48 47 46 35 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-21 13:07] cmsbuild commented on #37642
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre3-el8_amd64_gcc10/3462
Some tests (

[2022-04-21 13:13] cmsbuild commented on #37642
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre3-el8_aarch64_gcc10/3466

Tests results:
48 47 46 35 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-21 14:30] cmsbuild commented on #37642
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre3-slc7_amd64_gcc11/3464
Some tests

[2022-04-21 15:05] cmsbuild commented on #37642
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre3-slc7_amd64_gcc10/3463

Tests results:
48 47 46 35 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-21 15:08] cmsbuild commented on #37642
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-04-21 15:08] cmsbuild commented on #37642
The upload has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2306/console

[2022-04-21 15:09] cmsbuild commented on #37642
The upload has started for slc7_amd64_gcc11 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2309/console

[2022-04-21 15:09] cmsbuild commented on #37642
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre3-el8_amd64_gcc10/2306

[2022-04-21 15:09] cmsbuild commented on #37642
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre3-slc7_amd64_gcc11/2309

[2022-04-21 15:11] cmsbuild commented on #37642
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre3-el8_aarch64_gcc10/2305

[2022-04-21 15:16] qliphy commented on #37642
release-notes

[2022-04-21 15:16] cmsbuild commented on #37642
Generating release notes since CMSSW_12_4_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-04-21 15:16] cmsbuild commented on #37642
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_4_0_pre3 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_amd64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc11
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_0_pre

[2022-04-21 15:19] cmsbuild commented on #37642
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre3

[2022-04-22 09:51] Tommaso93 opened #37654 "Pythia8 and/or Geant4 crashing during McM validation"
Dear experts,
this issue is a follow-up of this thread on CMS talk: https://cms-talk.web.cern.ch/t/externallheproducer-fatal-exception-lhe-file-contains-more-events-than-requested/8904

During the validation of several requests on McM (e.g. [HIG-RunIISummer15wmLHEGS-05269](https://cms-pdmv.cern.ch/mcm/requests?prepid=HIG-RunIISummer15wmLHEGS-05269)), the following fatal error appears:

----- Begin

[2022-04-22 09:51] cmsbuild commented on #37654
A new Issue was created by  @Tommaso93 Tommaso Diotalevi.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-22 10:54] Dr15Jones commented on #37654
Assign generators, simulation

[2022-04-22 10:55] cmsbuild commented on #37654
New categories assigned: generators,simulation

@mdhildreth,@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-22 11:19] civanch commented on #37654
In this job there are G4Exception messages. There are two kind of messages:
1) zero step in magnetic field with following push for 10^-7 mm
2) energy non-conservation in K0L interaction with hydrogen target at 50 GeV

Both are warnings, which may happens in CMSSW_7_1 from time to time but should not crash a run.

The job is killed after the message: "Killing PID 720". It is not clear what class is

[2022-04-22 11:41] Tommaso93 commented on #37654
Hi @civanch if you mean the seed set by McM during validation, the pdmV people actually changed a lot of them but with the same problems.

[2022-04-22 12:57] srimanob opened #37656 "autoSKIM for Run-3"
I just open a PR to update a monopole physics skim for Run-3,
https://github.com/cms-sw/cmssw/pull/37655

However, I wonder if we should clone existing `autoSkim` to `autoSkimRunII` as we did for Run-1. And then we start review `autoSkim` when Run-3 dataset names available.

[2022-04-22 12:58] cmsbuild commented on #37656
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-22 13:54] makortel commented on #37656
assign pdmv

[2022-04-22 13:55] cmsbuild commented on #37656
New categories assigned: pdmv

@bbilin,@wajidalikhan,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-22 15:49] srimanob commented on #33012
Hi @cms-sw/l1-l2 @BenjaminRS Could you please comment on this? Should we stop this `L1Reco` step for Phase-2 wf.

[2022-04-22 19:31] kskovpen commented on #37656
@srimanob I think it is a good idea to move the existing scheme to RunII collection and start building up the Run3 alternative.

[2022-04-22 20:14] Dr15Jones opened #37659 "Stack array overread in L1TrackQuality"
The address sanitizer found that in `L1TrackQuality::featureTransform` the function reads past the end of an array on the stack.

[2022-04-22 20:14] Dr15Jones commented on #37659
assign l1

[2022-04-22 20:14] cmsbuild commented on #37659
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-22 20:14] cmsbuild commented on #37659
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-22 20:15] Dr15Jones commented on #37659
The ASAN messages are
[code]

[2022-04-22 20:17] Dr15Jones commented on #37659
The problem is on line 122
https://github.com/cms-sw/cmssw/blob/93fc3919a3e1fd93e4a66d7405453fa6e50d9297/L1Trigger/TrackTrigger/src/L1TrackQuality.cc#L118-L126

and happens when `i == bendchi2_bins.size() -1` which means `bendchi2_bins[i + 1]` is just passed the end.

[2022-04-22 20:32] makortel commented on #37654
From the log
[code]
could hint the `720` to be the process ID of the `cmsRun`. **If** that is the case, something external to `cmsRun` killed it. The event loop took
[code]
had taken almost 7.5 hours at that point. What is the time limit for the McM validation jobs?

For the `ExternalLHEProducer` exception in particular, I see in that the code in `master` has a way to prevent that exception for va

[2022-04-22 20:43] makortel commented on #36938
@missirol Just to confirm, is the `ConditionalTask` functionality still necessary to be backported to 12_3_x?

[2022-04-22 20:45] makortel commented on #37572
Replay with 12_4_0_pre3 indicates that disabling the fork handler would have fixed the problems (reported in https://its.cern.ch/jira/browse/CMSTZ-976).

[2022-04-22 20:45] makortel commented on #37572
+1

[2022-04-22 20:45] #37572 closed

[2022-04-22 20:45] cmsbuild commented on #37572
This issue is fully signed and ready to be closed.

[2022-04-22 21:07] makortel commented on #37564
Thanks @kskovpen for #37633. I want to follow up on the question of the data tier for the HLT-only step, mostly to clear up my confusion. What data tier was used for the separate HLT step in UL production?

[2022-04-23 13:23] cmsbuild commented on #37642
The cleanup has started for el8_aarch64_gcc10

[2022-04-23 13:23] cmsbuild commented on #37642
The cleanup has started for slc7_amd64_gcc10

[2022-04-23 13:23] cmsbuild commented on #37642
The cleanup has started for slc7_amd64_gcc11

[2022-04-23 13:23] cmsbuild commented on #37642
The cleanup has started for el8_amd64_gcc10

[2022-04-23 13:23] cmsbuild commented on #37642
The cleanup has started for el8_ppc64le_gcc10

[2022-04-23 13:23] #37642 closed

[2022-04-23 13:23] cmsbuild commented on #37642
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre3-el8_aarch64_gcc10/2014

[2022-04-23 13:23] cmsbuild commented on #37642
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre3-el8_ppc64le_gcc10/2016

[2022-04-23 13:23] cmsbuild commented on #37642
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre3-el8_amd64_gcc10/2015

[2022-04-23 13:23] cmsbuild commented on #37642
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre3-slc7_amd64_gcc11/2018

[2022-04-23 13:23] cmsbuild commented on #37642
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre3-slc7_amd64_gcc10/2017

[2022-04-24 20:00] civanch commented on #37654
@makortel , may this code be backported to 7_1_X?

One cannot exclude that the reason of the problem in an infinite loop inside Geant4. Control of loops were introduced later. It is not possible to backport in all places but if the class responsible for the infinite loop will be identified the fix may be added.

[2022-04-25 10:44] davidlange6 commented on #37654
Perhaps try running w/o the SIM step to completely confirm the cause of the crash?

[2022-04-25 13:43] makortel commented on #37654
Actually it has already been backported in 7_1_X in https://github.com/cms-sw/cmssw/pull/34362, but after 7_1_47 and (AFAICT) there has been no releases in 7_1_X since.

[2022-04-25 14:53] missirol commented on #36938
Hi @makortel, this was discussed today in TSG, and the consensus was to stick to `Tasks` for `12_3_X`, with the plan to move to `ConditionalTasks` after HLT-menu development moves to `12_4_X` in the coming weeks. So, unless something new comes up, the backport of `ConditionalTasks` to `12_3_X` will not be needed.

[2022-04-25 15:05] makortel commented on #36938
Thanks @missirol.

[2022-04-26 07:42] cecilecaillol commented on #33012
@srimanob I think we can remove L1Reco step, which is obsolete, and to run the updated L1 objects we need the steps L1TrackTrigger,L1

[2022-04-26 08:26] cecilecaillol commented on #37584
The fix to this issue has been merged: https://github.com/cms-sw/cmssw/pull/37634

[2022-04-26 08:26] cecilecaillol commented on #37584
+l1

[2022-04-26 08:32] jfernan2 commented on #37584
+1

[2022-04-26 08:32] cmsbuild commented on #37584
This issue is fully signed and ready to be closed.

[2022-04-26 08:52] cecilecaillol commented on #34196
+l1

[2022-04-26 08:52] cmsbuild commented on #34196
This issue is fully signed and ready to be closed.

[2022-04-26 08:55] cecilecaillol commented on #32894
@eyigitba Did you follow up on this issue?

[2022-04-26 08:56] #37584 closed

[2022-04-26 10:02] mkirsano commented on #36662
I am ready for the next PRs, adding HepMC3 products to GeneratorInterface/Core BaseHadronizer and adding Pythia8HepMC3Hadronizer plugin.
Work on adding HepMC3 products to edm is to be forced.

[2022-04-26 10:36] civanch commented on #37654
@Tommaso93 , likely working solution to reduce statistics per run is the best what you can do. Any software patch to this release may be a problem.

If the problem is inside Geant4, then loop(s), which provoke the crash, likely are not infinite but very long. In Geant4 after 7_1 many fixes and protections for long loops were introduced.  Most are included into Run-2 legacy 10_6 (Geant4 10.4.3).

I

[2022-04-26 14:21] perrotta commented on #36647
Addressed and fixed in #37487

[2022-04-26 14:21] makortel opened #37685 "ProductNotFound exception in AlcaPCCIntegrator in workflow 1001.2"
Workflow 1001.2 step 2 is failing in CMSSW_12_4_X_2022-04-26-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-04-26-1100/pyRelValMatrixLogs/run/1001.2_RunZeroBias2017F+RunZeroBias2017F+TIER0EXPRUN2+ALCAEXPRUN2+ALCAHARVDSIPIXELCAL+ALCAHARVDSIPIXELCALLA/step2_RunZeroBias2017F+RunZeroBias2017F+TIER0EXPRUN2+ALCAEXPRUN2+ALCAHARVDSIPIXELCAL+ALCAHARVDSIPIXE

[2022-04-26 14:21] makortel commented on #37685
assign alca

[2022-04-26 14:21] cecilecaillol commented on #36647
+l1

[2022-04-26 14:21] cmsbuild commented on #37685
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-26 14:21] cmsbuild commented on #37685
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-26 14:22] cmsbuild commented on #36647
This issue is fully signed and ready to be closed.

[2022-04-26 14:32] tvami commented on #37685
Yes, but I think the solution is not really to modify the content of https://github.com/cms-sw/cmssw/pull/37590
but to modify the wf 1001.2

Right now it uses 2017 data
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_production.py#L15
but I think that should be moved to use the 2021 data.

[2022-04-26 14:32] tvami commented on #37685
assign pdmv

[2022-04-26 14:32] cmsbuild commented on #37685
New categories assigned: pdmv

@bbilin,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-26 14:42] Dr15Jones opened #37686 "L1TStage2EMTF is writing passed array boundary"
The UBSAN report has
[code]

[2022-04-26 14:45] makortel commented on #37686
assign dqm,l1

[2022-04-26 14:45] cmsbuild commented on #37686
New categories assigned: dqm,l1

@jfernan2,@ahmad3213,@epalencia,@micsucmed,@rvenditti,@emanueleusai,@rekovic,@cecilecaillol,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-26 14:51] Dr15Jones opened #37687 "CSCTFUnpacker is writing passed an array boundary"
From the UBSAN report
[code]

[2022-04-26 14:51] cmsbuild commented on #37687
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-26 14:52] Dr15Jones commented on #37687
The problematic piece of code is here
https://github.com/cms-sw/cmssw/blob/5545c3b8004f08aa9ab5ad4aa7528267e7b209de/EventFilter/CSCTFRawToDigi/plugins/CSCTFUnpacker.cc#L186-L188

evidently `lct[0].spInput()` is returning 15.

[2022-04-26 14:54] Dr15Jones commented on #37687
assign l1

[2022-04-26 14:54] cmsbuild commented on #37687
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-26 15:31] Dr15Jones opened #37691 "GTSetup is improperly casting to EtSumUnpacker"
The UBSAN warning is
[code]

[2022-04-26 15:34] Dr15Jones commented on #37691
I believe the problem is this code
https://github.com/cms-sw/cmssw/blob/5545c3b8004f08aa9ab5ad4aa7528267e7b209de/EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTSetup.cc#L85-L88

since EtSumUnpacker_0x10010057 does not inherit from EtSumUnpacker.
https://github.com/cms-sw/cmssw/blob/5545c3b8004f08aa9ab5ad4aa7528267e7b209de/EventFilter/L1TRawToDigi/plugins/implementations_stage2/EtSumUnpa

[2022-04-26 17:44] Dr15Jones opened #37694 "L1EGammaCrystalsEmulatorProducer writes out of array bounds"
The UBSAN report has
[code]
and the same report for lines 1048, 1058, 1060, 1062 and out of bounds for an float array at 1050, 1052, 1054, and 1056.

[2022-04-26 17:44] cmsbuild commented on #37694
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-26 17:44] cmsbuild commented on #37694
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-26 17:57] Dr15Jones commented on #37694
The first reported problem is here
https://github.com/cms-sw/cmssw/blob/c5448e1a5d7ecb3ec6364e68bb86c7a9a20f450d/L1Trigger/L1CaloTrigger/plugins/L1EGammaCrystalsEmulatorProducer.cc#L1044-L1047

it is in the second index used for accessing `crystalID_cluster_L2Card` which is the calculation `jj / n_links_card`. The structure is defined here

https://github.com/cms-sw/cmssw/blob/c5448e1a5d7ecb3ec636

[2022-04-26 18:26] tvami commented on #37685
Surprisingly the test in 12_3_X passed for this wf:
https://github.com/cms-sw/cmssw/pull/37671#issuecomment-1110110702

is this somehow connected to multi-threading?

[2022-04-26 19:24] Dr15Jones opened #37696 "KFbase is reading beyond array bounds"
The issue from UBSAN is
[code]

[2022-04-26 19:24] Dr15Jones commented on #37696
assign l1

[2022-04-26 19:24] cmsbuild commented on #37696
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-26 19:24] cmsbuild commented on #37696
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-26 19:34] Dr15Jones commented on #37696
I checked out the package and built it under debug and added asserts to test the following read
https://github.com/cms-sw/cmssw/blob/5920cbed8194d7309ec45bb59ad0e3e11661783d/L1Trigger/TrackFindingTMTT/src/KFbase.cc#L837

I ran in the debugger and saw the failure. The traceback was

[code]

In the call to `tmtt::KFbase::doKF`, the present information was gleaned for the line with the problem (line

[2022-04-26 21:27] missirol commented on #37598
Just noting here another occurrence of the issue in `CMSSW_12_3_X_2022-04-25-2300`.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_3_X_2022-04-25-2300/slc7_amd64_gcc10/runIB.log
[code]

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_3_X_2022-04-25-2300/slc7_amd64_gcc10/HLT_Integration_HIon_MC.log
[code]

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-

[2022-04-27 09:06] dpiparo opened #37698 "Expensive allocations of a `std::vector<unsigned int>` in `CellularAutomaton::createAndConnectCells`"
[This report](http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_4_0_pre1/11834.21/step3/cpu_endjob/765) seems to hint that [CellularAutomaton::createAndConnectCells](https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoPixelVertexing/PixelTriplets/src/CellularAutomaton.cc#L5) is responsible for heavy allocations trigger

[2022-04-27 09:06] cmsbuild commented on #37698
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-27 10:37] cecilecaillol commented on #37687
@Dr15Jones This code is obsolete as CSCTF has been replaced by EMTF. What should we do in this case?

[2022-04-27 11:32] perrotta commented on #37687
Unless it is needed to reprocess some old data with a new release (?), please make a PR to remove it
As such people can stop maintaining it (or taking time to look for errors in it)

[2022-04-27 11:50] cecilecaillol commented on #37687
@eyigitba Can I safely remove this code or should I fix it?

[2022-04-27 11:59] eyigitba commented on #37687
@cecilecaillol , this should only be used when running on data from 2015 and before. It's ok to remove it for current workflows, but if there are plans to reprocess old data then it will be needed.

[2022-04-27 12:39] Dr15Jones commented on #37687
The code is being run in at least these following workflow (since those were the ones reporting the UBSAN problem)

134.708, 134.805, 134.808, 134.906, 134.908, 136.723, 136.736, 136.738, 136.741, 136.744, 136.751, 136.761,136.771, 136.773, 136.774, 136.779, 21.0, 22.0, 43.0, 500200.0

which we run multiple times per day. So it looks like the code can't be removed and needs to be fixed.

[2022-04-27 12:44] Dr15Jones opened #37704 "CaloRectangle is dereferencing a nullptr"
The UBSAN warning is
[code]

[2022-04-27 12:44] cmsbuild commented on #37704
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-27 12:48] Dr15Jones commented on #37704
The problem is here
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoCaloTools/Navigation/interface/CaloRectangle.h#L79-L80

and looking at the call to `CaloTopology::getSubdetectorTopology` we see
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Geometry/CaloTopology/src/CaloTopology.cc#L17-L20

the function will return a `nullptr` if

[2022-04-27 12:49] Dr15Jones commented on #37704
assign reconstruction, geometry

[2022-04-27 12:50] cmsbuild commented on #37704
New categories assigned: geometry,reconstruction

@cvuosalo,@jpata,@mdhildreth,@slava77,@ianna,@Dr15Jones,@clacaputo,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-27 12:51] Dr15Jones commented on #37704
This warning appears in 527 workflows.

[2022-04-27 12:54] eyigitba commented on #37687
@Dr15Jones , I think most of those workflows are related to 2015/2016 data reprocessing. In which case it makes sense to use the old CSCTF emulator and it probably should be fixed.

[2022-04-27 13:08] jpata commented on #36282
+reconstruction
- the reco release profiling of 136.731 is now standard since some months
- it's also propagated to the release profiling summary web page: http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/results/summary_plot_html/CMSSW_12_4_step3_136.889.html

[2022-04-27 13:08] cmsbuild commented on #36282
This issue is fully signed and ready to be closed.

[2022-04-27 13:11] makortel commented on #37698
assign reconstruction

FYI @cms-sw/tracking-pog-l2

[2022-04-27 13:11] cmsbuild commented on #37698
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-27 13:40] Dr15Jones commented on #37704
For further reference, I added an `assert` to CaloRectangleRange, built all dependent code with debugging on and then ran workflow 1002.0. The assertion happened with the following backtrace

[code]

[2022-04-27 13:56] jpata commented on #37227
+reconstruction
- the ROOT issue (warning about "ignoring return value of function") has been addressed in https://github.com/cms-sw/cmsdist/pull/7722
- the UnusedProductsCanDeleteEarly warning, related to stuff in the configs that was not actually used/run, was addressed in  #37644

Thanks all involved!

[2022-04-27 14:04] #37227 closed

[2022-04-27 14:16] Dr15Jones commented on #37704
One more piece of the puzzle. I ran the job in the debugger and found the DetId begin used for the lookup
[code]

working my way up the call stack, I see that id ultimately comes from
[code]
(where noZS == true) where the values in `cluster.hitsAndFractions()` are
[code]

Non of which are an ID == 0. Looking at `getMaximum`
https://github.com/cms-sw/cmssw/blob/ea4db72839316994467522e9ee33a9f57e8bb

[2022-04-27 14:18] mmusich commented on #37685
Sorry what's the plan to fix this?
If the PCC workflow is not appropriate for 2017 can't it just be removed?
Or even better, why is it not customized for different inputs as a function of the era?

[2022-04-27 16:52] tvami commented on #37685
In the end I resolved it inside the AlCa jurisdiction by not adding this stream to the allForExpress

[2022-04-27 16:53] mmusich commented on #37685
@tvami I think https://github.com/cms-sw/cmssw/pull/37712 might be also a viable solution, allowing you to remain with one list for all eras.

[2022-04-27 16:56] tvami commented on #37685
Yes, that's nice, thanks Marco!

[2022-04-27 16:57] tvami commented on #37685
unassing pdmv

[2022-04-27 17:48] mkirsano commented on #36662
GeneratorInterface/Core : PR #37689

[2022-04-28 00:29] #37685 closed

[2022-04-28 01:45] tvami commented on #37685
+alca
 * for the record

[2022-04-28 01:45] cmsbuild commented on #37685
This issue is fully signed and ready to be closed.

[2022-04-28 08:32] cecilecaillol commented on #32467
Fixed in https://github.com/cms-sw/cmssw/pull/32455 and https://github.com/cms-sw/cmssw/pull/32365

[2022-04-28 08:32] cecilecaillol commented on #32467
+l1

[2022-04-28 08:34] cecilecaillol commented on #32304
Fixed in https://github.com/cms-sw/cmssw/pull/31985

[2022-04-28 08:34] cecilecaillol commented on #32304
+l1

[2022-04-28 08:47] cecilecaillol commented on #30821
Problem removed in this commit https://github.com/cms-sw/cmssw/commit/84315fefd81bcd1aa0885984463f4d220e78e96a

[2022-04-28 08:47] cecilecaillol commented on #30821
+l1

[2022-04-28 08:47] cmsbuild commented on #30821
This issue is fully signed and ready to be closed.

[2022-04-28 08:48] cecilecaillol commented on #37691
Fixed in https://github.com/cms-sw/cmssw/pull/37702

[2022-04-28 08:48] cecilecaillol commented on #37691
+l1

[2022-04-28 08:48] cmsbuild commented on #37691
This issue is fully signed and ready to be closed.

[2022-04-28 09:01] cecilecaillol commented on #37687
Fixed in https://github.com/cms-sw/cmssw/pull/37707

[2022-04-28 09:01] cecilecaillol commented on #37687
+l1

[2022-04-28 09:02] cmsbuild commented on #37687
This issue is fully signed and ready to be closed.

[2022-04-28 09:42] subehera commented on #37512
Hi @smuzaffar, @bbilin,

It seems the pLHE step is done. I tried to validate locally the GS step but the validation job exited due to the segmentation violation in the GS step. Could you please kindly investigate the issue?

Thanks, Subash

[2022-04-28 10:41] mmusich opened #37724 "Loads of python warnings in `DQMServices/Demo` unit tests"
When running the `DQMServices/Demo` unit tests in order to test PR https://github.com/cms-sw/cmssw/pull/37665 I encountered a lot of python warnings of the type:

[code]
These are, by the way, visible also in the IB unit tests: [log](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-04-27-2300/unitTestLogs/DQMServices/Demo#/12755)

[2022-04-28 10:42] cmsbuild commented on #37724
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-28 11:15] smuzaffar commented on #35010
@cms-sw/l1-l2 , can you please check if the [logic here](https://github.com/cms-sw/cmssw/blob/master/L1Trigger/TrackFindingTracklet/interface/imath.h#L1017) is correct? Shouldn't it be
[code]
for `mode::neg` ? Note that `addr` is always < `Nelements_`  so `addr - Nelements_` will be a -ve number? UBSAN Ibs complain about this https://cmssdt.cern.ch/SDT/jenkins-artifacts/ubsan_logs/CMSSW_12_4_X_202

[2022-04-28 12:13] #30821 closed

[2022-04-28 12:14] #37691 closed

[2022-04-28 13:11] makortel commented on #37724
assign dqm,core

[2022-04-28 13:12] cmsbuild commented on #37724
New categories assigned: dqm,core

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@Dr15Jones,@smuzaffar,@emanueleusai,@makortel,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-28 13:26] jpata commented on #37698
type performance-improvements

[2022-04-28 13:29] clacaputo commented on #37527
+reconstruction

- addressed in #37571 https://github.com/cms-sw/cmssw/pull/37571#issuecomment-1104930750

[2022-04-28 13:29] cmsbuild commented on #37527
This issue is fully signed and ready to be closed.

[2022-04-28 14:36] makortel commented on #37512
@subehera Crashes in GEN-SIM are likely more for @cms-sw/generators-l2 or @cms-sw/simulation-l2 to investigate. Could you give the stack trace (or full log) of the crash and/or recipe to reproduce?

[2022-04-28 15:59] cecilecaillol commented on #21620
Fixed in https://github.com/cms-sw/cmssw/pull/37522

[2022-04-28 15:59] cecilecaillol commented on #21620
+l1

[2022-04-28 16:00] cmsbuild commented on #21620
This issue is fully signed and ready to be closed.

[2022-04-28 16:21] makortel commented on #37724
I tried out the command pointed out in the log, and got the following traceback for the warning message
[code]

Something in how the uproot/awkward are set up? @smuzaffar

[2022-04-28 16:27] cecilecaillol commented on #30189
Addressed in https://github.com/cms-sw/cmssw/commit/c13ac4554e31202e760920b0a3f63d31ed29b749

[2022-04-28 16:28] cecilecaillol commented on #30189
+l1

[2022-04-28 16:29] perrotta opened #37730 "Build CMSSW_12_3_2"
For T0 and, eventually, online

[2022-04-28 16:29] cmsbuild commented on #37730
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-04-28 16:34] cmsbuild commented on #37730
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-04-28 16:35] cmsbuild commented on #37730
The build has started for slc7_amd64_gcc10 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3468/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-28 16:35] cmsbuild commented on #37730
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3469/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-28 16:36] cmsbuild commented on #37730
The build has started for slc7_amd64_gcc11 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3470/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-28 16:36] cmsbuild commented on #37730
The build has started for slc7_ppc64le_gcc11 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3472/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-28 16:36] cmsbuild commented on #37730
The build has started for cs8_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3471/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-28 17:18] makortel commented on #37724
Could actually be caused by https://github.com/scikit-hep/uproot4/issues/552

[2022-04-28 19:36] cmsbuild commented on #37730
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-cs8_ppc64le_gcc11/3471
Some tests (

[2022-04-28 19:41] cmsbuild commented on #37730
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-slc7_ppc64le_gcc11/3472
Some tests

[2022-04-28 19:41] cmsbuild commented on #37730
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-cs8_aarch64_gcc11/3469
Some tests (

[2022-04-28 20:05] cmsbuild commented on #37730
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-slc7_amd64_gcc10/3468
Some tests ( ru

[2022-04-28 20:17] cmsbuild commented on #37730
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-slc7_amd64_gcc11/3470
Some tests ( ru

[2022-04-28 20:25] cmsbuild commented on #37730
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-cs8_amd64_gcc10/3467
Some tests ( runT

[2022-04-28 20:25] cmsbuild commented on #37730
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-cs8_aarch64_gcc11/3469

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-04-28 20:37] cmsbuild commented on #37730
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-cs8_ppc64le_gcc11/3471

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-28 20:48] cmsbuild commented on #37730
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-slc7_aarch64_gcc11/3473

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-04-28 20:49] cmsbuild commented on #37730
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-slc7_amd64_gcc10/3468

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-28 21:03] cmsbuild commented on #37730
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-slc7_amd64_gcc11/3470

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-28 21:09] cmsbuild commented on #37730
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2-cs8_amd64_gcc10/3467

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-29 00:12] qliphy opened #37733 "Build CMSSW_7_1_47_patch1"

[2022-04-29 00:13] cmsbuild commented on #37733
No architecures to build found for CMSSW_7_1_47_patch1. Please check that you entered a valid release name or that the IBs are currently enabled for CMSSW_7_1_X

[2022-04-29 00:13] #37733 closed

[2022-04-29 00:15] qliphy commented on #37730
upload all

[2022-04-29 00:16] cmsbuild commented on #37730
Queing Jenkins upload for slc7_amd64_gcc10

[2022-04-29 00:16] cmsbuild commented on #37730
Queing Jenkins upload for cs8_amd64_gcc10

[2022-04-29 00:16] cmsbuild commented on #37730
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-04-29 00:16] cmsbuild commented on #37730
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-04-29 00:16] cmsbuild commented on #37730
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-04-29 00:16] cmsbuild commented on #37730
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-04-29 00:16] cmsbuild commented on #37730
Queing Jenkins upload for slc7_amd64_gcc11

[2022-04-29 00:16] cmsbuild commented on #37730
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2313/console

[2022-04-29 00:16] cmsbuild commented on #37730
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2310/console

[2022-04-29 00:16] cmsbuild commented on #37730
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2312/console

[2022-04-29 00:16] cmsbuild commented on #37730
The upload has started for cs8_amd64_gcc10 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2311/console

[2022-04-29 00:17] cmsbuild commented on #37730
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2-cs8_ppc64le_gcc11/2312

[2022-04-29 00:17] cmsbuild commented on #37730
The upload has started for slc7_amd64_gcc10 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2314/console

[2022-04-29 00:18] cmsbuild commented on #37730
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2-cs8_aarch64_gcc11/2310

[2022-04-29 00:18] cmsbuild commented on #37730
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2-slc7_aarch64_gcc11/2313

[2022-04-29 00:18] cmsbuild commented on #37730
The upload has started for slc7_amd64_gcc11 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2315/console

[2022-04-29 00:18] cmsbuild commented on #37730
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2316/console

[2022-04-29 00:18] cmsbuild commented on #37730
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2-slc7_amd64_gcc10/2314

[2022-04-29 00:22] cmsbuild commented on #37730
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2-cs8_amd64_gcc10/2311

[2022-04-29 00:23] cmsbuild commented on #37730
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2-slc7_amd64_gcc11/2315

[2022-04-29 05:13] perrotta commented on #37730
release-notes

[2022-04-29 05:14] cmsbuild commented on #37730
Generating release notes since CMSSW_12_3_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-04-29 05:14] cmsbuild commented on #37730
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_3_2 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_1 can be found at:

https://github.com/cms-sw/cmss

[2022-04-29 05:20] cmsbuild commented on #37730
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_2

[2022-04-29 07:53] cecilecaillol commented on #31113
+l1

[2022-04-29 09:52] cecilecaillol commented on #33931
Same issue as reported in https://github.com/cms-sw/cmssw/issues/37694. Addtessed in https://github.com/cms-sw/cmssw/pull/37705

[2022-04-29 09:52] cecilecaillol commented on #33931
+l1

[2022-04-29 13:23] smuzaffar commented on #37724
Looks like uproot is still using deprecated `distutils` and there is already a fix for this. @aandvalenzuela  is looking in to it and will update uproot4 to newer version

[2022-04-29 13:36] jpata commented on #37698
(I started looking into this - just to prevent potential overlap)

[2022-04-29 13:38] jpata commented on #37362
a kind ping on this

[2022-04-29 13:55] #36640 closed

[2022-04-29 14:25] slava77 commented on #37549
how many instances of this producer are (still) running?
I recall that we had a few (earlyMuons, muons, displacedMuons; any more?) with only moderately different inputs for most events.

[2022-04-29 14:44] silviodonato opened #37740 "Problems with Modifiers and multiple processes"
In the context of the studies of the difference between GPU/CPU, we've found a conflict between the L1 emulator https://github.com/cms-sw/cmssw/blob/master/HLTrigger/Configuration/python/CustomConfigs.py#L123-L159 and the customizeHLTforPatatrack function https://github.com/cms-sw/cmssw/blob/master/HLTrigger/Configuration/python/customizeHLTforPatatrack.py#L148 .

You can very easily reproduce thi

[2022-04-29 14:44] cmsbuild commented on #37740
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-29 14:47] makortel commented on #34448
https://github.com/cms-sw/cmssw/pull/37592#issuecomment-1112925145 (and two earlier tests) shows lots of differences 9.0 workflow which is a Run 1 MC workflow (the PR itself is technical, but it causes many packages to be built). I'm reporting this mostly for the record, although it would be nice to understand the cause (but it is also incredibly laborious/difficult to investigate).

[2022-04-29 14:48] makortel commented on #37740
assign core

[2022-04-29 14:49] cmsbuild commented on #37740
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-29 14:56] fwyzard commented on #37740
I think there are two problems.

1. the constructor of the temporary `cms.Process('BBB', Run3)` object created inside `foo` calls `Run3._setChosen()`, which "enables" all the modifiers inside the `Run3` era.
Since modifiers are global objects, not attached to a specific `Process`, any customisation like `run3_common.toModify(process.TestPSet, isRun2 = False)` will see those modifiers as enabled, a

[2022-04-29 14:57] fwyzard commented on #37740
It looks like the behaviour of `process.isUsingModifier` is the intended one, at least from the method's name.

While the global nature of the modifiers is causing the unexpected behaviour :-(

[2022-04-29 15:10] makortel commented on #37740
Why does
https://github.com/cms-sw/cmssw/blob/12b3153ff3687d2066993e4bed629c0ede1e34b8/HLTrigger/Configuration/python/CustomConfigs.py#L123-L127
need to create a second `Process` object? Is the argument `process` not using `Run3` modifier?

[2022-04-29 15:12] fwyzard commented on #37740
Not necessarily... _e.g._ not when running over Run-2 data to validate the GPU-vs-CPU code behaviour :-/

[2022-04-29 15:32] Martin-Grunewald commented on #37740
Yes, we want to use real collisions data (hence from Run2) but rerun using the Run3 L1T re-emulation.

[2022-04-29 15:36] silviodonato commented on #37740
Yes, because we want to emulate the latest L1 menu (ie. the Run3 menu) using Run2 data.
In order to use Run2 data, we need to the pixel thresholds to those used in Run2 and then we used the Run3 modifier https://github.com/cms-sw/cmssw/blob/master/HLTrigger/Configuration/python/customizeHLTforPatatrack.py#L148 .

Anyway, we can find a workaround for this specific case. The issue wanted to be more

[2022-04-29 15:48] haozturk opened #37742 "A tool to change the GUID of a file manually for `8034-FileNameInconsistentWithGUID` issues"
We came across w/ the following issue in production a few times:
[code]

Processing of such files were suggested to be done by bypassing this check, since the file content looked proper. However, it's not feasible w/ the existing workload management system as described at [1] Matti suggested to open this issue to discuss/develop a tool to update the GUID of files manually when necessary to allow t

[2022-04-29 15:48] cmsbuild commented on #37742
A new Issue was created by  @haozturk Hasan ztrk.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-29 15:50] makortel commented on #37742
assign core

[2022-04-29 15:51] makortel commented on #37742
@Dr15Jones @dan131riley Any thoughts?

[2022-04-29 15:51] cmsbuild commented on #37742
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-29 16:01] makortel commented on #37740
I'm afraid we can't do much without significantly constraining or changing the configuration system, which would have lots of knock-on effects.

The behavior looks correct. Although given global nature of the selection state of the Modifers, I acknowledge its result can be confusing to interpret.

[2022-04-29 16:13] makortel commented on #37740
Yes, a check and an error message should be possible to do.

[2022-04-29 16:27] Dr15Jones commented on #37742
@pcanal thoughts?

[2022-04-29 16:37] dan131riley commented on #37742
The CMS file GUID is the only entry on the FileIdentifier branch, so in principle it should be possible to update it, or at worst make a copy with the old GUID.  Doing so will change the file hash, which might have other implications for DBS entries, maybe the transfer system?

For the future, I would much rather have a parameter to the PoolOutputModule to set the GUID so the replacement file gets

[2022-04-29 16:51] Dr15Jones commented on #37169
So with the exception in place, we now see
[code]

earlier in the same job we are seeing these messages
[code]

[2022-04-29 17:20] makortel commented on #37169
assign generators

[2022-04-29 17:21] cmsbuild commented on #37169
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-29 17:25] makortel commented on #37742
I agree that approach would be cleaner. Copying @nsmith-'s messages from mattermost https://mattermost.web.cern.ch/cms-o-and-c/pl/5ssbgjxc4bnkdxipof3mhcasth

@drkovalskyi Can you comment if setting an additional parameter for `PoolOutputModule` would be feasible in such recovery reprocessing?

[2022-04-29 18:06] Dr15Jones commented on #37169
One other piece of information, in the IB, workflow 148.0 only processes 1 event so it is very unlikely that the problem stems from a threading issue. What is more likely is tau's are not generated often based on the random number seed being used and only if a tau is generated will we see this error.

[2022-04-29 18:24] nsmith- commented on #37742
An alternative solution to this problem is for T0 to invalidate the lost file in DBS and inject a new replacement file into the dataset, with the GUID being whatever the replacement file creates.

[2022-04-30 02:54] smuzaffar commented on #37724
https://github.com/cms-sw/cmsdist/pull/7833 fixes this

[2022-04-30 08:40] #37724 closed

[2022-04-30 09:39] perrotta commented on #27554
This is fixed by #37534, as verified in CMSSW_12_4_UBSAN_X_2022-04-29-1100

[2022-04-30 10:06] germanfgv commented on #37637
@makortel I found another instance of the issue in 12_3_2, which includes the forkHandler fix, so it is likely due to to this same issue. I put `cmsRun` and `wmagentJob` logs here:
[code]
but I'm not sure how to get the `xrdcp` stack trace.

This affected a single job in a replay with around 30k jobs, so it is clear that this is a vary rare issue.

[2022-04-30 11:35] missirol commented on #37598
Another occurrence of the issue in `CMSSW_12_3_X_2022-04-27-1100`.

Errors are similar to https://github.com/cms-sw/cmssw/issues/37598#issuecomment-1110265799. Example:

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_3_X_2022-04-27-1100/slc7_amd64_gcc10/runIB.log
[code]

[2022-04-30 12:30] #27554 closed

[2022-04-30 13:25] VinInn commented on #37698
This is old CPU code. It should be replaced by the new GPU implementation

[2022-04-30 19:59] makortel commented on #37637
Thanks @germanfgv. The `cmsRun` log ends with
[code]
i.e. the `cmsRun` itself is stuck (symptoms looke like https://github.com/cms-sw/cmssw/issues/37572). If the stuck jobs in 12_3_2 (or later) occur again, I'd be interested to take a look (e.g. via attaching `gdb` to running process as we did before).

[2022-04-30 22:45] fwyzard commented on #37740
I've tried going through the imports of the L1 configuration, and after a few levels of `import` a non-exhaustive list includes (leaving out the ones dealing with Phase 2, heavy ions, and premixing)
[code]

Some are L1-specific, but others are tied to the detectors (likely because of the L1 trigger primitives), so I'm not sure they can be used in the top-level `process`.

[2022-04-30 22:55] fwyzard commented on #37740
Here's just an idea, assuming the current approach picks up the correct modifiers...

What if we extend
[code]
with the possibility of setting and resetting modifiers explicitly ?

Something like
[code]

It _is_ a hack, but it should provide the intended behaviour, hopefully without breaking anything else.

[2022-05-01 03:23] cmsbuild commented on #37730
The cleanup has started for cs8_aarch64_gcc11

[2022-05-01 03:23] cmsbuild commented on #37730
The cleanup has started for slc7_aarch64_gcc11

[2022-05-01 03:23] cmsbuild commented on #37730
The cleanup has started for slc7_amd64_gcc10

[2022-05-01 03:23] cmsbuild commented on #37730
The cleanup has started for cs8_ppc64le_gcc11

[2022-05-01 03:23] cmsbuild commented on #37730
The cleanup has started for cs8_amd64_gcc10

[2022-05-01 03:23] cmsbuild commented on #37730
The cleanup has started for slc7_amd64_gcc11

[2022-05-01 03:23] cmsbuild commented on #37730
The cleanup has started for slc7_ppc64le_gcc11

[2022-05-01 03:23] #37730 closed

[2022-05-01 03:23] cmsbuild commented on #37730
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2-cs8_aarch64_gcc11/2019

[2022-05-01 03:23] cmsbuild commented on #37730
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2-cs8_ppc64le_gcc11/2021

[2022-05-01 03:23] cmsbuild commented on #37730
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2-cs8_amd64_gcc10/2020

[2022-05-01 03:23] cmsbuild commented on #37730
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2-slc7_aarch64_gcc11/2022

[2022-05-01 03:23] cmsbuild commented on #37730
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2-slc7_amd64_gcc10/2023

[2022-05-01 03:23] cmsbuild commented on #37730
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2-slc7_ppc64le_gcc11/2025

[2022-05-01 03:23] cmsbuild commented on #37730
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2-slc7_amd64_gcc11/2024

[2022-05-01 16:50] mkirsano commented on #36662
GeneratorInterface/Pythia8Interface : PR #37753
Depends on #37689

[2022-05-02 08:27] srimanob commented on #33012
Hi @cecilecaillol
Could you please clarification on L1TrackTrigger,L1

Currently we run
cmsDriver.py step2  -s DIGI:pdigi_valid,L1TrackTrigger,L1,DIGI2RAW,HLT:@fake2
cmsDriver.py step3  -s RAW2DIGI,L1Reco,RECO,RECOSIM,PAT

and output we save comes from step3. Do you mean we need to rerun L1TrackTrigger,L1 in step-3 also? As current situation, it seems FEVT is not enough, it seems we may need L1Tri

[2022-05-02 10:23] silviodonato opened #37762 "hltDumpStream needs to update to support FinalPath"
@cms-sw/hlt-l2
[code]
complains about
[code]
because we moved GRun to FinalPath.
https://github.com/cms-sw/cmssw/blob/master/HLTrigger/Configuration/scripts/hltDumpStream
needs to be updated to support FinalPath (it is not urgent).

[2022-05-02 10:23] cmsbuild commented on #37762
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-02 13:11] dan131riley opened #37765 "Use after scope in DMRChecker::bookResidualsHistogram"
ASAN found a stack-use-after-scope in `DMRChecker::bookResidualsHistogram()`

[code]

I think the problem may be here:

https://github.com/cms-sw/cmssw/blob/1481a9564a25d5a6a65c426cb387a81f2e7ba66c/Alignment/OfflineValidation/plugins/DMRChecker.cc#L1968-L1972

where `.c_str()` is called on temporary objects that  immediately go out of scope.  No idea why this wasn't noticed before, it doesn't look

[2022-05-02 13:12] cmsbuild commented on #37765
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-02 13:19] cmsbuild commented on #37765
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-02 13:23] tvami commented on #37765
@antoniovagnerini and Sandra (I didnt find her github handle), can you please have a look and fix this? Thanks!

[2022-05-02 13:25] tvami commented on #37765
Tho I really see @mmusich to be the developer of that package, he'll be back from vacation after Wednesday

[2022-05-02 13:28] makortel commented on #37762
assign hlt

[2022-05-02 13:29] cmsbuild commented on #37762
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-02 13:47] makortel commented on #37740
I can quickly think of one caveat with the hack, that is related to the load/import order of the python files. If all of the python files loaded during the "hacked state of Modifiers" are loaded only there (i.e. none of them are used before or after that snippet), I'd expect the hack to provide the intended behavior.

But if any of the concerned python files is loaded also before the hack, the pyt

[2022-05-02 13:51] fwyzard commented on #37740
I see - yes, you are right, even if we don't have to worry about concurrency here, the order in which the modules are loaded still matters, since modules are global and Python should not re-load them.

[2022-05-02 14:08] mmusich commented on #37765
Because tests have been added only recently (at https://github.com/cms-sw/cmssw/pull/37621) exactly to catch that sort of things.

[2022-05-02 14:11] makortel opened #37767 "Triton fallback server failure in workflow 10805.31 step 3"
(moving from https://github.com/cms-sw/cmssw/issues/37738#issuecomment-1114455507)

The workflow 10805.31 step 3 fails with
[code]
since CMSSW_12_4 2022-04-29-2300.

[2022-05-02 14:11] cmsbuild commented on #37767
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-02 14:12] makortel commented on #37767
assign heterogeneous

[2022-05-02 14:12] cmsbuild commented on #37767
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-02 14:13] makortel commented on #37767
@kpedro88 Can you take a look? Is `sh: nvidia-smi: command not found` a smoking gun?

[2022-05-02 14:24] missirol commented on #37762
Mh.. I think it's a bit more than just supporting `FinalPath`. I think there is also the fact that now `OutputModules` in HLT configs select on `Dataset_*` Paths, and not explicitly on the underlying Paths (and so, according to the current script, the "normal" Paths are unassigned). In any case, noted. I'll make time to work on a fix in the next days.

[2022-05-02 14:24] kpedro88 commented on #37767
No, that just means that GPUs aren't available and the fallback server will use the CPU. (It comes from https://github.com/cms-sw/cmssw/blob/master/HeterogeneousCore/SonicTriton/python/TritonService_cff.py#L11).

[2022-05-02 14:27] kpedro88 commented on #37767
I only see this failure occurring in ppc/aarch IBs. In #35328, I disabled SonicTriton unit tests for non-amd64 OSes, because these require a different container that we do not yet have available.

[2022-05-02 14:33] kpedro88 commented on #37767
Ah, those failures are the DRN unit test in 12_3_X (I had the wrong tab open in the IB dashboard). The linked comment does show the workflow failing in the IB matrix tests. @ssrothman can you take a look?

[2022-05-02 14:36] Dr15Jones commented on #37767
These RelVals are failing on x86

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_4_X_2022-05-01-2300/pyRelValMatrixLogs/run/10805.31_SingleGammaPt35+2018_photonDRN+SingleGammaPt35_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano/step3_SingleGammaPt35+2018_photonDRN+SingleGammaPt35_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano.log#/

[2022-05-02 15:17] ssrothman commented on #37767
The workflow runs successfully on lpc interactive nodes (and iirc ran without problems in the PR tests). I'm not sure what could be causing it to fail in the IB.

It looks like the failure is coming when spinning up the triton fallback server, which indicates to me that whatever is happening is happening in the sonic service rather than in the photonDRN producer. @kpedro88 what is exit code 256? W

[2022-05-02 15:20] Dr15Jones commented on #37767
Exit code 256 is a standard unit exit code for when the executable can not be found.

[2022-05-02 15:21] ssrothman commented on #37767
So maybe the IB unit test can not find the Triton executable/container with which to start up the fallback server?

[2022-05-02 15:21] kpedro88 commented on #37767
Yes, I also tried running it on the lpc interactive nodes and was successful. @smuzaffar can you let one of us log into an IB test machine to try it there?

[2022-05-02 15:23] smuzaffar commented on #37767
I think error is random, for some IB it is `10805.31` and for other it is `10804.31` . Both if these workflows ran successfully for today's IB CMSSW_12_4 2022-05-02-1100

[2022-05-02 15:25] smuzaffar commented on #37767
@kpedro88 , try running on `cmsdev` nodes.

[2022-05-02 15:44] kpedro88 commented on #37767
@Dr15Jones does your change in https://github.com/cms-sw/cmssw/pull/37764/files#diff-8899bb666d79547ed027cd8f543a4debcff63d07dde5211a87ca11527140adf3R269-R273 ensure that the output of the container launching script `cmsTriton` will be printed when an error occurs? That will probably make it easier to debug this in the future.

We could put this info directly into the exception message. I could al

[2022-05-02 15:52] germanfgv commented on #37742
@nsmith- our current procedure is to do exactly that (e.g [CMSTRANSF-344](https://its.cern.ch/jira/browse/CMSTRANSF-344)). I'm not sure what was done for this run in 2018. I was not able to find any report of issues concerning run 322179.

[2022-05-02 15:54] Dr15Jones commented on #37767
I funnel the output of the execSys call to LogError so it will be printed. I didn't add it to the exception since I didn't know how big it would be.

[2022-05-02 15:57] kpedro88 commented on #37767
The output of the command execution should only be a few lines. The server log will be a lot longer.

[2022-05-02 18:42] thomreis commented on #37704
Which event in which WF is this? I do not see noZS == true occurrences in 1002.0 or 10001.0.

[2022-05-02 20:27] makortel commented on #37740
One option would be to make and use L1T-specific modifiers in the necessary files. For example, assuming the `Run2_2018` would be the common base (and `stage2L1Trigger_2021` is not used outside of this context, not sure how `ctpps` or `hcalSkipPacker` should be treated though) this could mean
[code]
(names are only for illustration) Modifiers to be used in these files instead of `run3_{GEM,HB,RPC,

[2022-05-03 00:51] #36282 closed

[2022-05-03 00:52] qliphy commented on #34196
@srimanob   Any comment?

[2022-05-03 00:52] #21620 closed

[2022-05-03 00:58] #37527 closed

[2022-05-03 01:57] srimanob commented on #34196
@qliphy
Sorry, I will not have a chance to look on it until next week. I will close and re-open if I still see issue.

[2022-05-03 01:57] #34196 closed

[2022-05-03 05:17] jpata commented on #37526
type jetmet

[2022-05-03 06:47] drkovalskyi commented on #37742
We can certainly add an option to set GUID in PoolOutputModule, but I don't see why we need it all. What's the use case for GUID check? Keep in mind that it's a "normal" practice for Tier0 to re-create files like that and we have a number of RAW files like that. This number is certainly small and with enough manual work it's possible to replace all such files updating everything everywhere, but do

[2022-05-03 07:29] iarspider commented on #37097
@cms-sw/simulation-l2 any progress? This still happens, e.g. [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_G4VECGEOM_X_2022-05-02-2300/pyRelValMatrixLogs/run/158.0_HydjetQ_B12_5020GeV_2018_ppReco+HydjetQ_B12_5020GeV_2018_ppReco+DIGIHI2018PPRECO+RECOHI2018PPRECOMB+ALCARECOHI2018PPRECO+HARVESTHI2018PPRECO/step1_HydjetQ_B12_5020GeV_2018_ppReco+HydjetQ_B12_5020GeV_201

[2022-05-03 07:38] iarspider commented on #37024
@Axel-Naumann gentle ping on this issue

[2022-05-03 08:51] fwyzard opened #37776 "`nvcc` warnings about code in ParameterDescription.h"
While testing https://github.com/cms-sw/cmssw/pull/37716 locally, there are _a lot_ of warnings coming from `nvcc` about this:

[code]

Going through the code:

  - `ParameterDescriptionNode` declares
[code]

  - `ParameterDescriptionBase`, that inherits from `ParameterDescriptionNode`, declares
[code]

  - `ParameterDescription<T>`, that inherits from `ParameterDescriptionBase`, declares
[code]

[2022-05-03 08:51] fwyzard commented on #37776
assign core

[2022-05-03 08:51] cmsbuild commented on #37776
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-03 08:51] cmsbuild commented on #37776
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-03 09:42] Axel-Naumann commented on #37024
Thanks. How urgent is this? That's not mean to an excuse - we should have acted earlier - but we need to sequence a couple of items for the next few weeks, and I'd like to understand how urgent this is, or whether "May" is enough.

[2022-05-03 10:44] civanch commented on #37097
@iarspider , the problem may be reduced/fixed if we will integrate  vecgeom 1.1.20 (https://github.com/cms-sw/cmsdist/pull/7735 )

[2022-05-03 12:01] iarspider opened #37781 "[ASAN_X] Test CalibTracker/SiStripHitEfficiency fails with SIGSEGV"
Log file:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_4_ASAN_X_2022-05-02-1100/unitTestLogs/CalibTracker/SiStripHitEfficiency#/11206-11206

Failing since at least `CMSSW_12_4_ASAN_X_2022-04-27-1100`

Stack trace:
[code]

[2022-05-03 12:01] cmsbuild commented on #37781
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-03 12:02] iarspider commented on #37781
assign core

[2022-05-03 12:02] cmsbuild commented on #37781
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-03 12:40] missirol commented on #37598
Another occurrence of the issue in [`CMSSW_12_3_X_2022-05-02-2300`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_3_X_2022-05-02-2300/slc7_amd64_gcc10`). Errors are similar to https://github.com/cms-sw/cmssw/issues/37598#issuecomment-1110265799.

In the last 10 days, the issue has continued to appear in `12_3_X` IBs, but not in `12_4_X` IBs (maybe it is just a coincidence).

[2022-05-03 12:50] iarspider commented on #37024
I think it's not urgent, just something that needs to be fixed eventually. @smuzaffar and @makortel can correct me if I'm wrong.

[2022-05-03 15:07] makortel commented on #37776
Thanks @fwyzard for reporting. After digging around a bit, I think the warning has some point. Strictly speaking the `ParameterDescription<T>::writeCfi_(std::ostream&, int)` _does_ hide the `ParameterDescriptionNode::writeCfi_(std::ostream&, bool, bool&, int, bool&)`. I think the hiding has no practical impact though because the virtual `writeCfi()` are called only from the base classes.

Neverthe

[2022-05-03 15:11] fwyzard commented on #37776
Yes, of course.

I thought I would bring this up anyway, in case the warning points to something we want to fix anyway :-)

[2022-05-03 15:23] drkovalskyi commented on #37742
Ok, that's an important use case. @germanfgv could you please add an option to set GUID in the PR that you are working for the compression?

[2022-05-03 15:27] makortel commented on #37742
We would need to first add such an option to PoolOutputModule (so far it wasn't clear if such an option would be really needed, now the needs seems clear).

[2022-05-03 15:28] drkovalskyi commented on #37742
Yes, we need this. We had enough cases where we had to do a manual recovery like that.

[2022-05-03 15:41] kpedro88 commented on #37767
In the latest IB, the workflow failed for `slc7_amd64_gcc11` (succeeded in production arch `lc7_amd64_gcc10`).

Thanks to #37764, we get a little more information:
[code]

It may be that loading the Singularity container over cvmfs is slow on some IB test nodes. Currently, the server start timeout is set to 120 seconds. Should we increase it to e.g. 300 seconds and see if that resolves the sporadi

[2022-05-03 15:43] makortel commented on #37767
CMSSW_12_4_X_2022-05-03-1100 (that includes https://github.com/cms-sw/cmssw/pull/37764) slc7_amd64_gcc11 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_4_X_2022-05-03-1100/pyRelValMatrixLogs/run/10804.31_SingleGammaPt10+2018_photonDRN+SingleGammaPt10_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano/step3_SingleGammaPt10+2018_photonDRN+SingleGammaPt1

[2022-05-03 19:39] pcanal commented on #37781
Is this reproducible?  Does it happen also under valgrind?

[2022-05-03 21:15] smuzaffar commented on #37781
@pcanal yes it is. valgrind also shows
[code]

[2022-05-03 21:17] smuzaffar commented on #37781
full valgrind log is `/afs/cern.ch/user/m/muzaffar/public/valgrind.log`

[2022-05-03 21:35] pcanal commented on #37781
On a side note, did you use `--suppressions=$ROOTSYS/etc/valgrind-root-python.supp` ?

[2022-05-03 21:37] pcanal commented on #37781
On the problem, the 2nd part of the report is also usefull:
[code]

[2022-05-03 21:38] smuzaffar commented on #37781
No

[2022-05-03 21:40] pcanal commented on #37781
Which version/commit of ROOT is being used here?  (The problem seems to be that a top level object that is registered in of the collection 'used' or 'contained' by an histogram also part of this or some other file and somehow, that collection is not informed that the object has been deleted).

[2022-05-03 21:40] pcanal commented on #37781
You should :), this  would reduce the noise in the file.

[2022-05-03 21:46] smuzaffar commented on #37781
this is root v6.24 ( https://github.com/root-project/root/commit/3c21b048d66ee4196ec09473a683855b530bdaf6 from April 6th 2022)

[2022-05-03 22:09] smuzaffar commented on #37781
valgrid log file  with `--suppressions=$ROOTSYS/etc/valgrind-root-python.supp`  is available at `/afs/cern.ch/user/m/muzaffar/public/valgrind-1.log`

[2022-05-03 22:35] fwyzard opened #37790 "Support alpaka-based libraries, plug-ins and executables in CMSSW"
This issue will try to collect, describe and keep track of all changes to the configuration, externals, build rules, _etc._ needed to support alpaka-based libraries, plug-ins and executables in CMSSW

The initial list is likely incomplete and not fully specified; we expect it to evolve and become more clear as we make progress and gain further experience.

### General issues
  - [ ] build multiple

[2022-05-03 22:35] fwyzard commented on #37790
assign core

[2022-05-03 22:35] fwyzard commented on #37790
assign heterogeneous

[2022-05-03 22:35] cmsbuild commented on #37790
New categories assigned: heterogeneous,core

@fwyzard,@Dr15Jones,@smuzaffar,@makortel,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-03 22:35] cmsbuild commented on #37790
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-04 10:42] jpata commented on #37549
It looks like most of it is coming from the muons1stStep instance:
![Screenshot from 2022-05-04 13-40-24](https://user-images.githubusercontent.com/69717/166666514-9442b7bd-cb66-4655-becf-d5b91d045b11.png)

http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/circles/piechart.php?local=false&dataset=CMSSW_12_4_0_pre3%2Fslc7_amd64_gcc10%2F11834.21%2Fstep3_circles&resource=time_real&colours=defa

[2022-05-04 11:10] jpata commented on #37549
type muon

[2022-05-04 12:02] Dr15Jones commented on #37169
So we see another one of these failures in the IBs
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_4_X_2022-05-03-2300/pyRelValMatrixLogs/run/148.0_HydjetQ_MinBias_XeXe_5442GeV_2017+HydjetQ_MinBias_XeXe_5442GeV_2017+DIGIHI2017+RECOHI2017+HARVESTHI2017/step3_HydjetQ_MinBias_XeXe_5442GeV_2017+HydjetQ_MinBias_XeXe_5442GeV_2017+DIGIHI2017+RECOHI2017+HARVESTHI2017.log#/77-77

The

[2022-05-04 12:15] Dr15Jones opened #37799 "AMPT generator failing on ARM processor"
The workflow 575.0 is failing under el8_aarch64_gcc10

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_aarch64_gcc10/CMSSW_12_4_X_2022-05-03-2300/pyRelValMatrixLogs/run/575.0_AMPT_PPb_5020GeV_MinimumBias_ExtGen+AMPT_PPb_5020GeV_MinimumBias_ExtGen+HARVESTGEN/step1_AMPT_PPb_5020GeV_MinimumBias_ExtGen+AMPT_PPb_5020GeV_MinimumBias_ExtGen+HARVESTGEN.log#/

The generator is being run under the External

[2022-05-04 12:19] Dr15Jones commented on #37799
The log messages are
[code]

The telling message was
[code]
searching for that message in CMSSW found this
https://github.com/cms-sw/cmssw/blob/ed9e032abc305dfe67bcdf6afa590189e5555ee8/GeneratorInterface/AMPTInterface/src/hijing1.383_ampt.f#L1932-L1951

Now FORTRAN uses a different way to 'terminate' strings than C++. I'm guessing that the code was trying to pass `P` to FORTRAN but the calling con

[2022-05-04 12:19] Dr15Jones commented on #37799
assign generator

[2022-05-04 12:21] Dr15Jones commented on #37799
In fact, TARG is defined as a `CHARACTER` with exactly 4 chars
https://github.com/cms-sw/cmssw/blob/ed9e032abc305dfe67bcdf6afa590189e5555ee8/GeneratorInterface/AMPTInterface/src/hijing1.383_ampt.f#L1882-L1883

Based on the printout, it looks like the last 3 chars in the variable were not properly set to null.

[2022-05-04 12:25] Dr15Jones commented on #37799
So here appears to be the call, and it is not passing strings properly to fortran

https://github.com/cms-sw/cmssw/blob/ed9e032abc305dfe67bcdf6afa590189e5555ee8/GeneratorInterface/HijingInterface/src/HijingHadronizer.cc#L242-L249

[2022-05-04 12:34] smuzaffar commented on #37799
@Dr15Jones , coult it be that `targ` https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Configuration/Generator/python/Hijing_PPb_MinimumBias_cfi.py#L6 is more than 4 chars long here?

[2022-05-04 12:35] Dr15Jones commented on #37799
@smuzaffar that could be as well. I'd say the length should be enforced on the C++ side, not done on the python side.

[2022-05-04 13:59] dan131riley commented on #37776
I think this is something we should fix anyway, thanks for bringing it up

[2022-05-04 14:29] Dr15Jones commented on #37799
assign generator

[2022-05-04 15:23] pcanal commented on #37781
There is no 'obvious' cause nor any obvious recent commit that would fix this ... i.e. Can you provide a grid-certificate-less reproducer with a debug ROOT build so that I can try to determine which object is triggering the problem?

[2022-05-04 15:31] makortel commented on #37799
assign generators

[2022-05-04 19:20] makortel commented on #37742
https://github.com/cms-sw/cmssw/pull/37806 adds an `overrideGUID` parameter to `PoolOutputModule`.

[2022-05-04 19:22] makortel commented on #37742
@drkovalskyi Would you need a backport for 12_3_X? (I presume earlier releases can be left out by now)

[2022-05-04 19:44] makortel commented on #37776
Thanks @dan131riley, I made a PR https://github.com/cms-sw/cmssw/pull/37807

[2022-05-05 00:29] #37765 closed

[2022-05-05 05:51] drkovalskyi commented on #37742
We do need a back-port to 12_3_X since it's our current data taking release and such issues may raise anytime. Thanks.

[2022-05-05 07:57] iarspider opened #37810 "WF 39434.501 step 3: Assertion failure in SiPixelRecHitSoAFromLegacy::produce"
Workflow 39434.501 failed with the following error:

[code]

Full log: [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-05-04-2300/pyRelValMatrixLogs/run/39434.501_TTbar_14TeV+2026D88_Patatrack_PixelOnlyCPU+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D88_Patatrack_PixelOnlyCPU+TTbar_14TeV_TuneCP5_GenSi

[2022-05-05 07:57] cmsbuild commented on #37810
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-05 07:59] iarspider commented on #37810
assign reconstruction

[2022-05-05 07:59] cmsbuild commented on #37810
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-05 08:03] qliphy commented on #37810
This should be related to https://github.com/cms-sw/cmssw/pull/37617/
and a fix https://github.com/cms-sw/cmssw/pull/37798

[2022-05-05 08:08] iarspider opened #37811 "[PowerPC] Segmentation violation in edm::OrphanHandle<SiPixelErrorsSoA> edm::Event::emplaceImpl WF 11604.0"
Full log: [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_ppc64le_gcc10/CMSSW_12_4_X_2022-05-04-2300/pyRelValMatrixLogs/run/11604.0_SingleGammaPt10+2021+SingleGammaPt10_pythia8_GenSimINPUT+Digi+RecoNano+HARVESTNano+ALCA/step2_SingleGammaPt10+2021+SingleGammaPt10_pythia8_GenSimINPUT+Digi+RecoNano+HARVESTNano+ALCA.log#/109)

[code]

[2022-05-05 08:08] iarspider commented on #37811
assign reconstruction

[2022-05-05 08:08] cmsbuild commented on #37811
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-05 08:08] cmsbuild commented on #37811
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-05 10:09] perrotta opened #37815 "Build CMSSW_12_3_2_patch1"

[2022-05-05 10:10] cmsbuild commented on #37815
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-05 10:11] perrotta commented on #37815
+1

[2022-05-05 10:11] cmsbuild commented on #37815
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-05-05 10:11] cmsbuild commented on #37815
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-05-05 10:13] cmsbuild commented on #37815
The build has started for cs8_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3474/console
CMSDIST Branch: [REL/CMSSW_12_3_2/cs8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_2/cs8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-05 10:13] cmsbuild commented on #37815
The build has started for slc7_ppc64le_gcc11 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3476/console
CMSDIST Branch: [REL/CMSSW_12_3_2/slc7_ppc64le_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_2/slc7_ppc64le_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-05 10:13] cmsbuild commented on #37815
The build has started for cs8_ppc64le_gcc11 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3475/console
CMSDIST Branch: [REL/CMSSW_12_3_2/cs8_ppc64le_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_2/cs8_ppc64le_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-05 10:17] cmsbuild commented on #37815
The build has started for slc7_amd64_gcc10 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3477/console
CMSDIST Branch: [REL/CMSSW_12_3_2/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_2/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-05 10:18] cmsbuild commented on #37815
The build has started for slc7_amd64_gcc11 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3478/console
CMSDIST Branch: [REL/CMSSW_12_3_2/slc7_amd64_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_2/slc7_amd64_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-05 10:24] cmsbuild commented on #37815
The build has started for cs8_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3479/console
CMSDIST Branch: [REL/CMSSW_12_3_2/cs8_aarch64_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_2/cs8_aarch64_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-05 10:33] cmsbuild commented on #37815
The build has started for slc7_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3480/console
CMSDIST Branch: [REL/CMSSW_12_3_2/slc7_aarch64_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_2/slc7_aarch64_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-05 11:03] cmsbuild commented on #37815
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-slc7_amd64_gcc10/3477
Some tes

[2022-05-05 11:03] cmsbuild commented on #37815
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-cs8_ppc64le_gcc11/3475
Some t

[2022-05-05 11:05] cmsbuild commented on #37815
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-slc7_ppc64le_gcc11/3476
Some

[2022-05-05 11:11] cmsbuild commented on #37815
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-cs8_amd64_gcc10/3474
Some tests

[2022-05-05 11:13] cmsbuild commented on #37815
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-slc7_amd64_gcc11/3478
Some tes

[2022-05-05 11:20] cmsbuild commented on #37815
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-cs8_aarch64_gcc11/3479
Some t

[2022-05-05 11:21] jpata commented on #34289
type pf

[2022-05-05 11:30] jpata commented on #35969
type egamma

[2022-05-05 11:30] jpata commented on #34290
type pf

[2022-05-05 11:37] jpata commented on #31158
type pf

[2022-05-05 11:39] jpata commented on #30968
type jetmet

[2022-05-05 11:41] jpata commented on #30968
@cms-sw/jetmet-pog-l2 @laurenhay this is still relevant.

[2022-05-05 11:47] cmsbuild commented on #37815
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-slc7_amd64_gcc10/3477

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-05 11:50] cmsbuild commented on #37815
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-slc7_aarch64_gcc11/3480
Some

[2022-05-05 11:57] cmsbuild commented on #37815
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-slc7_ppc64le_gcc11/3476

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-05 11:58] cmsbuild commented on #37815
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-slc7_amd64_gcc11/3478

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-05 11:58] jpata opened #37816 "igprof pp segfault in 12_3_0, 12_3_0_pre4 in the Run3 reco step"
In two recent releases, `igprof pp` crashes in the reco step in 11834.21:

[code]

[code]

In both cases, the current module is MkFitProducer. Is it a coincidence, or do we have a regression?

Note that `igprof mp` does not crash in these workflows, and the crash happens around event 230-260. Since jenkins tries to run igprof several times in case of failure, it looks like it's reproducible.

@sla

[2022-05-05 11:58] jpata commented on #37816
assign reconstruction

[2022-05-05 11:58] cmsbuild commented on #37816
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-05 11:58] cmsbuild commented on #37816
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-05 12:02] cmsbuild commented on #37815
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-cs8_ppc64le_gcc11/3475

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-05 12:03] cmsbuild commented on #37815
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-cs8_aarch64_gcc11/3479

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-05-05 12:04] perrotta commented on #37815
upload all

[2022-05-05 12:05] cmsbuild commented on #37815
Queing Jenkins upload for slc7_amd64_gcc10

[2022-05-05 12:05] cmsbuild commented on #37815
Queing Jenkins upload for cs8_amd64_gcc10

[2022-05-05 12:05] cmsbuild commented on #37815
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-05-05 12:05] cmsbuild commented on #37815
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-05-05 12:05] cmsbuild commented on #37815
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-05-05 12:05] cmsbuild commented on #37815
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-05-05 12:05] cmsbuild commented on #37815
Queing Jenkins upload for slc7_amd64_gcc11

[2022-05-05 12:05] cmsbuild commented on #37815
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2317/console

[2022-05-05 12:05] cmsbuild commented on #37815
The upload has started for cs8_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2318/console

[2022-05-05 12:05] cmsbuild commented on #37815
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2320/console

[2022-05-05 12:06] cmsbuild commented on #37815
The upload has started for slc7_amd64_gcc10 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2321/console

[2022-05-05 12:06] cmsbuild commented on #37815
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2_patch1-slc7_aarch64_gcc11/2320

[2022-05-05 12:06] cmsbuild commented on #37815
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2_patch1-cs8_amd64_gcc10/2318

[2022-05-05 12:06] cmsbuild commented on #37815
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2319/console

[2022-05-05 12:06] cmsbuild commented on #37815
The upload has started for slc7_amd64_gcc11 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2323/console

[2022-05-05 12:07] cmsbuild commented on #37815
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2_patch1-cs8_ppc64le_gcc11/2319

[2022-05-05 12:07] cmsbuild commented on #37815
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2_patch1-slc7_amd64_gcc10/2321

[2022-05-05 12:07] cmsbuild commented on #37815
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2_patch1-slc7_amd64_gcc11/2323

[2022-05-05 12:09] cmsbuild commented on #37815
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_2_patch1-slc7_ppc64le_gcc11/2322

[2022-05-05 12:27] perrotta commented on #37815
release-notes

[2022-05-05 12:28] cmsbuild commented on #37815
Generating release notes since CMSSW_12_3_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-05 12:28] cmsbuild commented on #37815
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_3_2_patch1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_2 can be found at:

https://github.co

[2022-05-05 12:29] cmsbuild commented on #37815
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_2_patch1

[2022-05-05 12:43] cmsbuild commented on #37815
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_2_patch1-slc7_aarch64_gcc11/3480

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-05-05 12:59] tvami commented on #37765
+alca
 * for the record

[2022-05-05 12:59] cmsbuild commented on #37765
This issue is fully signed and ready to be closed.

[2022-05-05 13:09] jpata commented on #37816
It's not the same event (but roughly ~230...260 events in) in different releases, nor the same module (highPtTripletStepTrackCandidatesMkFit vs. detachedTripletStepTrackCandidatesMkFit).

[2022-05-05 13:30] slava77 commented on #37816
there were no recent updates in the propagate or kalman update routines.
This still seems similar to the previous case where the issue was with the profiler itself having some outdated (was it TBB or pthread?) dependencies.

[2022-05-05 14:38] makortel commented on #37776
+core

[2022-05-05 14:43] jpata commented on #36322
@johnalison is this being addressed in BTV? or should it be closed / moved to a BTV repo?

[2022-05-05 14:44] jpata commented on #37362
type pf

[2022-05-05 14:46] jpata commented on #37167
type jetmet

[2022-05-05 14:48] jpata commented on #34839
@michaelwassmer @cms-sw/jetmet-pog-l2 kind ping on this

[2022-05-05 14:48] jpata commented on #34880
type ecal

[2022-05-05 14:49] jpata commented on #35374
type egamma

[2022-05-05 14:49] jpata commented on #35519
type trk

[2022-05-05 14:51] jpata commented on #35621
type muon

[2022-05-05 14:52] jpata commented on #32883
+reconstruction

[2022-05-05 14:52] jpata commented on #32883
@cmsbuild please close

[2022-05-05 14:52] cmsbuild commented on #32883
This issue is fully signed and ready to be closed.

[2022-05-05 14:53] jpata commented on #33572
type muon

[2022-05-05 14:59] jpata commented on #35005
type jetmet

[2022-05-05 15:00] slava77 commented on #37362
WF 138.3 is beam splash events.
Clustering the full calorimeter could be hard ;)

Are there any memory limits that these deep call stacks are hitting in ASAN?

[2022-05-05 15:01] jpata commented on #28423
@mariadalfonso is this still open?

[2022-05-05 15:03] dan131riley commented on #37362
It's probably hitting the stack size limit, and then timing out trying to generate the backtrace

[2022-05-05 15:12] jpata commented on #18227
@pmaksim1 should we close this?

[2022-05-05 15:23] makortel commented on #37811
Adding more data from the log in an easier to access (later) form: first seen in CMSSW_12_4_X_2022-05-04-2300 el8_ppc64le_gcc10 11604.0 step 2
[code]

[2022-05-05 15:27] dan131riley commented on #37811
Also five threads in `cuda-EvtHandlr`

[2022-05-05 15:29] makortel opened #37820 "[ARM] Assertion failure in gpuVertexFinder in 11634.24"
Workflow 11634.24 step 2 has been failing on el8_aarch64_gcc10 at least since CMSSW_12_4_X_2022-04-28-2300 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_aarch64_gcc10/CMSSW_12_4_X_2022-05-04-2300/pyRelValMatrixLogs/run/11634.24_TTbar_14TeV+2021_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+RecoNano+HARVESTNano+ALCA/step2_TTbar_14TeV+2021_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+RecoNano+HA

[2022-05-05 15:30] makortel commented on #37820
assign reconstruction, heterogeneous

[2022-05-05 15:30] cmsbuild commented on #37820
New categories assigned: heterogeneous,reconstruction

@jpata,@slava77,@fwyzard,@clacaputo,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-05 15:30] cmsbuild commented on #37820
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-05 15:30] makortel commented on #37820
FYI @VinInn @AdrianoDee

[2022-05-05 15:39] makortel opened #37821 "[ARM] Crash in edm::refitem::GetRefPtrImp"
Workflow 25403.18 step 1 crashed in CMSSW_12_4_X_2022-05-04-2300 on el8_aarch64_gcc10
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_aarch64_gcc10/CMSSW_12_4_X_2022-05-04-2300/pyRelValMatrixLogs/run/25403.18_H125GGgluonfusion_13+FS_H125GGgluonfusion_13_UP18_PU50+HARVESTUP18FS+MINIAODMCUP18FS/step1_H125GGgluonfusion_13+FS_H125GGgluonfusion_13_UP18_PU50+HARVESTUP18FS+MINIAODMCUP18FS.log#/

[2022-05-05 15:39] makortel commented on #37821
assign core

[2022-05-05 15:39] cmsbuild commented on #37821
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-05 15:39] cmsbuild commented on #37821
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-05 17:01] gartung commented on #37816
It could be some new TBB thread behavior. I could try running the work flow with gpertools cpu profiling enabled to see if has the same segfault.

Is this related to the segfault in propagateHelixToZMPlex when fast-math optimizations are enabled?

[2022-05-05 17:04] gartung commented on #37816
This is the fix that Steve Lantz suggested
[code]

[2022-05-05 17:05] gartung commented on #37816
The crash is caused by the () operator being optimized out.

[2022-05-05 18:00] kpedro88 opened #37827 "Opportunity to speed up FastjetJetProducer"
I realized recently that running a jet grooming algorithm (e.g. SoftDrop) via `FastjetJetProducer` requires rerunning the jet area calculation and base clustering of constituents. This amounts to a significant consumption of CPU in analysis workflows (such as those using [JetToolbox](https://github.com/cms-jet/JetToolbox)), which could be avoided with a different design.

My first attempt at such

[2022-05-05 18:00] cmsbuild commented on #37827
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-05 18:01] kpedro88 commented on #37827
type jetmet

[2022-05-05 18:01] kpedro88 commented on #37827
assign reconstruction

[2022-05-05 19:49] makortel commented on #37827
assign reconstruction

[2022-05-05 19:49] cmsbuild commented on #37827
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-05 22:06] wddgit commented on #30044
FYI A step forward in addressing this issue. Just submitted and waiting for review comments from anyone interested. #37831. The information collected by the new service is the information that we propose be saved persistently. That PR does not address persistence, although that is coming in a future PR.

[2022-05-05 22:10] fwyzard commented on #37790
@smuzaffar , do you have any idea how SCRAM could be extended to support these two points ?

So far we have relied on the file extension to choose between the default C++ compilation (for `.cc` files) or the CUDA compilation (for `.cu` files).
With Alpaka (and also with native HIP/ROCm) that doesn't work, because they don't use different file extensions for device code.

Here are some ideas, none

[2022-05-05 22:11] johnalison commented on #36322
Hi @Joosep Pata ***@***.***>  yes we will follow up in BTV, looks
like a problem on our side.  You can close.

On Thu, May 5, 2022 at 10:43 AM Joosep Pata ***@***.***>
wrote:

--
Carnegie Mellon University
https://www.cmu.edu/physics/alison-group/

[2022-05-06 05:31] mmusich commented on #35758
addressed at #37833

[2022-05-06 06:39] smuzaffar commented on #37790
@fwyzard , one can add `<flags COMPILER="compiler"/>`  in BuildFile.xml which allows scram to use different compiler . Only requirement is that one should have `compiler-cxxcompiler.xml` tools available. We can make use of this feature and add `(cuda|hipcc)-cxxcompiler.xml` tools.

By the way, are we talking about same set of files to be build twice (once with hipcc and once with nvcc) ? If yes th

[2022-05-06 06:49] VinInn opened #37834 "cling way too verbose"
how one can suppress old these "warnings" that litter the scram output?
[code]

[2022-05-06 06:49] cmsbuild commented on #37834
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-06 06:51] subehera commented on #37512
![Segfault](https://user-images.githubusercontent.com/43812112/167080967-1b2cca4f-9d3c-4b64-8041-b055c40c6c41.png)
Hi @makortel, pls take a look at the error message in the local test.
As the pLHE step is already done I just ran the get-test command[1]for pLHE in lxplus and then I ran the get-test command for the GS step and you can see the cmsRun crash due to the seg-fault.

[1] : https://cms-pdm

[2022-05-06 07:46] fwyzard commented on #37790
Mhm, I think there would be two problems with this approach:
1. we want to mix the compiler the we use within the same library.
    For example, in a plug-in we can have:
      - `Algorithm.h`
      - `Algorithm.cu` (or `Algorithm.cuda.cc`)
      - `Producer.cc`
[code]
?
Or would it be better to put the `BuildFile.xml` directly in the subdirectory, like  `src/alpaka/BuildFile.xml` and `plugins/alp

[2022-05-06 12:19] cecilecaillol commented on #37696
Fixed in https://github.com/cms-sw/cmssw/pull/37700

[2022-05-06 12:19] cecilecaillol commented on #37696
+l1

[2022-05-06 12:59] mmusich opened #37837 "unrunnable configuration file obtained with `edmConfigDump`"
In the process of debugging https://github.com/cms-sw/cmssw/issues/37738 I went:
[code]
this ends in:
[code]

Also I would like to draw to the attention to the fact that if the `edmConfigDump` command is executed on a machine without GPUs I get this warning:
[code]

while it it's done on a machine with a GPU the file is spoiled by a long warning about:
[code]

[2022-05-06 13:00] cmsbuild commented on #37837
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-06 13:09] cecilecaillol commented on #37694
+l1

[2022-05-06 13:09] cmsbuild commented on #37694
This issue is fully signed and ready to be closed.

[2022-05-06 13:16] Dr15Jones commented on #37834
@pcanal

[2022-05-06 13:18] jpata commented on #37816
@gartung do we know why the inlining / optimization of the code being profiled causes the profiler to crash?
I suppose ideally the fix should be on the profiler side, rather than changing what I understand is valid code on the CMSSW side.

[2022-05-06 13:22] Dr15Jones commented on #37837
assign core

[2022-05-06 13:22] cmsbuild commented on #37837
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-06 13:45] pcanal commented on #37834
What is the complete output? (this is not a usual/known warning).

[2022-05-06 13:58] VinInn commented on #37834
uhm.. cannot reproduce it anymore.
trying to repeat what I did yesterday in a clean area.
everything looks fine...

[2022-05-06 14:02] gartung commented on #37816
I will also run the gpertools profiler to see if it segfaults.

[2022-05-06 14:05] Dr15Jones opened #37839 "Two different definitions for the PYINT Fortran common block"
The linker noticed we had two different sizes for PYINT

[code]

and

[code]

[2022-05-06 14:05] Dr15Jones commented on #37839
assign generator

[2022-05-06 14:05] cmsbuild commented on #37839
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-06 14:17] makortel commented on #37839
assign generators

[2022-05-06 14:17] cmsbuild commented on #37839
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-06 14:57] mandrenguyen opened #37841 "Backports for bugfixes to 2018 PbPb reMiniAOD in 11_2_X"
The HIN PAG identified a couple of bugs in the 11_2_X PbPb miniAOD, that would motivate a partial reprocessing, which amounts to two primary datasets and a few MC datasets (i.e., only a small  fraction of the total PbPb data).
To fix these datasets we would need to backport the following two bugfixes to 11_2
#36489 #37262

If there are no objections, I would propose that @FHead and @ttrk make the

[2022-05-06 14:57] cmsbuild commented on #37841
A new Issue was created by  @mandrenguyen Matthew Nguyen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-06 15:01] cmsbuild commented on #37841
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-06 15:36] makortel commented on #37837
Unfortunately indeed any printouts from "running" the configuration (these are not the first ones, nor the last ones) get mixed with the actual dump of the configuration. Maybe we should add a parameter, e.g. `-o`, for the `edmConfigDump` to write the dump directly to a file.

[2022-05-06 15:48] gartung commented on #37816
First run through with the same file did not produce a segfault.

[2022-05-06 17:07] makortel commented on #37512
@subehera Could you give the full log? The screen shot above misses the relevant part of the stack trace.

[2022-05-06 17:31] makortel commented on #37837
Added in https://github.com/cms-sw/cmssw/pull/37844.

[2022-05-06 17:33] makortel commented on #37837
Adding @kpedro88 in case there is anything in these particular printouts that would need to be addressed.

[2022-05-06 17:46] kpedro88 commented on #37837
These printouts could be suppressed if they are causing issues like this one, but #37844 seems like a more general solution.

[2022-05-07 01:08] #37696 closed

[2022-05-07 01:09] #37694 closed

[2022-05-07 01:20] makortel commented on #37837
+core

[2022-05-07 01:20] cmsbuild commented on #37837
This issue is fully signed and ready to be closed.

[2022-05-07 07:49] subehera commented on #37512
hi @makortel, I have attached all the screenshots now. Pls have a look at it. Thank you
![ss1](https://user-images.githubusercontent.com/43812112/167244619-e2162a41-e7bd-4e80-8c57-11ac88895d82.png)
![ss2](https://user-images.githubusercontent.com/43812112/167244621-5178fc34-f6d8-4a48-a3e7-0243ad59fb79.png)
![ss3](https://user-images.githubusercontent.com/43812112/167244622-4f8239d7-af6f-40fd-a009-

[2022-05-07 08:08] perrotta commented on #37686
I attempted a fix in #37853

RPC has four planes in the endcaps since beginning of Run2, but apparently L1TStage2EMTF didn't take it into account.
The code for that class is rather involuted, and I cannot be 100% sure that I fixed it everywhere: https://github.com/orgs/cms-sw/teams/rpc-dpg-l2 is expected to have a look and either approve that fix, or use it as a base for a more correct one (in a s

[2022-05-07 10:38] cmsbuild commented on #37815
The cleanup has started for cs8_aarch64_gcc11

[2022-05-07 10:38] cmsbuild commented on #37815
The cleanup has started for slc7_aarch64_gcc11

[2022-05-07 10:38] cmsbuild commented on #37815
The cleanup has started for slc7_amd64_gcc10

[2022-05-07 10:38] cmsbuild commented on #37815
The cleanup has started for cs8_ppc64le_gcc11

[2022-05-07 10:38] cmsbuild commented on #37815
The cleanup has started for cs8_amd64_gcc10

[2022-05-07 10:38] cmsbuild commented on #37815
The cleanup has started for slc7_amd64_gcc11

[2022-05-07 10:38] cmsbuild commented on #37815
The cleanup has started for slc7_ppc64le_gcc11

[2022-05-07 10:38] #37815 closed

[2022-05-07 10:38] cmsbuild commented on #37815
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2_patch1-cs8_ppc64le_gcc11/2028

[2022-05-07 10:38] cmsbuild commented on #37815
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2_patch1-cs8_amd64_gcc10/2027

[2022-05-07 10:38] cmsbuild commented on #37815
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2_patch1-cs8_aarch64_gcc11/2026

[2022-05-07 10:38] cmsbuild commented on #37815
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2_patch1-slc7_aarch64_gcc11/2029

[2022-05-07 10:39] cmsbuild commented on #37815
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2_patch1-slc7_amd64_gcc11/2031

[2022-05-07 10:39] cmsbuild commented on #37815
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2_patch1-slc7_amd64_gcc10/2030

[2022-05-07 10:39] cmsbuild commented on #37815
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_2_patch1-slc7_ppc64le_gcc11/2032

[2022-05-07 12:22] fwyzard commented on #37820
This is a CPU-only workflow, right ?

[2022-05-08 13:10] qliphy commented on #37767
CMSSW_12_4 2022-05-08-0000 [failure message](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-05-08-0000/pyRelValMatrixLogs/run/10805.31_SingleGammaPt35+2018_photonDRN+SingleGammaPt35_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano/step3_SingleGammaPt35+2018_photonDRN+SingleGammaPt35_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano.log#/35-

[2022-05-08 21:40] makortel commented on #37820
I think so. The least the SwitchProducer is using `@cpu` case.

[2022-05-09 07:13] mmusich commented on #37837
@makortel thanks for the new option, but the proposed solution at https://github.com/cms-sw/cmssw/pull/37844 does not solve the issue, that persists with `CMSSW_12_4_X_2022-05-08-2300`.
with:

[code]
I still get:

[code]

[2022-05-09 08:46] cecilecaillol commented on #37659
Fixed in https://github.com/cms-sw/cmssw/pull/37679

[2022-05-09 08:46] cecilecaillol commented on #37659
+l1

[2022-05-09 08:47] cmsbuild commented on #37659
This issue is fully signed and ready to be closed.

[2022-05-09 09:36] cecilecaillol commented on #22575
Fixed in https://github.com/cms-sw/cmssw/pull/37729

[2022-05-09 09:36] cecilecaillol commented on #22575
+l1

[2022-05-09 09:43] #37486 closed

[2022-05-09 12:53] jpata commented on #37841
Please go ahead. Note that the backports, in case they change physics, need to be protected with a modifier.

[2022-05-09 13:17] makortel commented on #37837
@smuzaffar, could you reopen this issue?

[2022-05-09 13:48] makortel commented on #37837
Thanks @mmusich for reporting, I found the bug causing that error.

On a side note, the dumped configuration is ~21 MB, ~675k lines. That is quite big. On a quick look about 21 % of the lines come from top-level PSets and VPSets, which I'd think to be largely not necessary. So some level of general cleanup would be beneficial, but that is far beyond the scope of this issue.

[2022-05-09 14:22] Dr15Jones opened #37864 "DD4Hep Geometry building takes a lot of time"
When looking at the timing for the NANO step for workflow 11834.21, the vast majority of time is spent in building the volumetric MagneticField.

https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_12_4_X_2022-05-08-2300/slc7_amd64_gcc10/pp/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSim+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step5___b6ff2d761a23670d9b27095006d0e928___10_EndOfJob

[2022-05-09 14:22] Dr15Jones commented on #37864
assign geometry

[2022-05-09 14:22] cmsbuild commented on #37864
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-09 15:38] Dr15Jones opened #37867 "convert MVA models for electronMVAValueMapProducer from XML to ROOT"
Similar to #34707, the profile report for workflow 11834.21 for step5 (generating the NANO AOD) has its startup time dominated by parsing the XML files used by `ElectronMVAValueMapProducer`.

https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_12_4_X_2022-05-08-2300/slc7_amd64_gcc10/pp/11834.21_TTbar_14TeV+2021PU_ProdLike+TTbar_14TeV_TuneCP5_GenSim+DigiPU+RecoNanoPU+MiniAODPU+NanoPU/step5___

[2022-05-09 15:38] cmsbuild commented on #37867
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-09 15:38] cmsbuild commented on #37867
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-09 17:44] makortel commented on #37837
This is now fixed in https://github.com/cms-sw/cmssw/pull/37872 (I tested that the dump from recipe https://github.com/cms-sw/cmssw/issues/37837#issuecomment-1120726574 passes `python3`).

[2022-05-09 17:47] #37799 closed

[2022-05-09 18:50] civanch commented on #37864
@cvuosalo , @ianna , @bsunanda , I think this is urgent. Does voxelization is triggered by DD4hep or by CMSSW code? Are there options?

[2022-05-09 19:07] Dr15Jones commented on #37767
Do not do 2. We already saw that the client side can generate long messages (which we are printing using LogError). If you REALLY want server logs they should also be handled via a LogError.

We do not want long exception messages as those are passed on to the workflow management system. In addition, long exception messages make it much harder to also just quickly understand what the problem is in

[2022-05-09 19:08] Dr15Jones commented on #37767
In addition, just increasing the timeout may reduce the error rate, but will not solve the underlying problem (which is still not fully understood).

[2022-05-09 19:13] kpedro88 commented on #37767
I think printing the server logs is the only way to distinguish a Triton-specific problem from a cvmfs problem (too high load, slow downloading, etc.). I will submit a PR to put the server log into LogError.

[2022-05-09 19:16] cvuosalo commented on #37864
I will ask Markus Frank about the efficiency of the `dd4hep::Converter`.

[2022-05-09 20:28] makortel commented on #37512
Thanks @subehera (next time copy-pasted text would be easier to deal with than screen shots).

So the crash happens in `Pythia8::Rndm::flat()` with the call stack of
[code]
called from
https://github.com/cms-sw/cmssw/blob/38c1e9d73ae9029169a6043cf3b7bcbdc61e66f7/GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc#L819

This looks like something for @cms-sw/generators-l2 to investigate

[2022-05-09 20:59] Dr15Jones commented on #37864
I _think_ the timing is all in our code at the two calls to `parent->GetNode` here

https://github.com/cms-sw/cmssw/blob/master/DetectorDescription/DDCMS/plugins/dd4hep/DDDefinitions2Objects.cc#L1008-L1020

it somewhat matches the calls in the function assuming the compiler has done a bunch of inlining and/or return value optimizations which change the look of the callback stack.

[2022-05-10 00:42] #37837 closed

[2022-05-10 03:06] #37659 closed

[2022-05-10 06:41] perrotta opened #37879 "Build CMSSW_10_2_28_patch1"
Requested to integrate the new generator filter for LLP in #37863, and start productions with it

[2022-05-10 06:42] cmsbuild commented on #37879
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-10 06:44] perrotta commented on #37879
+1

[2022-05-10 06:44] cmsbuild commented on #37879
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_28_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2022-05-10 06:44] cmsbuild commented on #37879
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2022-05-10 06:52] cmsbuild commented on #37879
The build has started for slc6_amd64_gcc700 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3481/console
CMSDIST Branch: [REL/CMSSW_10_2_28/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_28/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-05-10 06:58] cmsbuild commented on #37879
The build has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3482/console
CMSDIST Branch: [REL/CMSSW_10_2_28/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_28/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-05-10 07:14] smuzaffar commented on #37790
correct `<flags COMPILER="compiler"/>` is not suitable for this use case. I think file types e.g `*.cuda.cc, *.rocm.cc` are simple to maintain for both developers and build system

Yes

Yes

I would suggest to not add `<library name="..." file="alpaka/*.cc"></library>`  type fragments in `Package/Buildfile.xml` but use `<flags ALPAKA_MODES/BACKEND="values|1"/>` to let scram automatically build mul

[2022-05-10 07:30] fwyzard commented on #37129
Let's stay with 11.5.x until the next release.

[2022-05-10 07:30] #37129 closed

[2022-05-10 07:44] cmsbuild commented on #37879
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_28_patch1-slc7_amd64_gcc700/3482
Some

[2022-05-10 07:46] cmsbuild commented on #37879
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_28_patch1-slc6_amd64_gcc700/3481
Some

[2022-05-10 07:56] perrotta commented on #37879
upload all

[2022-05-10 07:57] cmsbuild commented on #37879
Queing Jenkins upload for slc6_amd64_gcc700

[2022-05-10 07:57] cmsbuild commented on #37879
Queing Jenkins upload for slc7_amd64_gcc700

[2022-05-10 07:57] cmsbuild commented on #37879
The upload has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2325/console

[2022-05-10 07:57] cmsbuild commented on #37879
The upload has started for slc6_amd64_gcc700 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2324/console

[2022-05-10 07:57] cmsbuild commented on #37879
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_28_patch1-slc6_amd64_gcc700/2324

[2022-05-10 08:03] perrotta commented on #37879
release-notes

[2022-05-10 08:03] cmsbuild commented on #37879
Generating release notes since CMSSW_10_2_28.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-10 08:03] cmsbuild commented on #37879
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_28_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_28 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_28_patch1

Requested to integrate the new generator

[2022-05-10 08:05] cmsbuild commented on #37879
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_28_patch1

[2022-05-10 08:13] fwyzard commented on #37790
Yes, correct:
  - files from `Package/src/*.cc` are used to build `libPackage.so`
  - files from `Package/src/alpaka/*.cc` and `Package/src/alpaka/*.dev.cc` are used to build `libPackageCpuSerial.so`, `libPackageCudaAsync.so`, `libPackageHipAsync.so`, _etc_

and `libPackageCpuSerial.so`, `libPackageCudaAsync.so`, `libPackageHipAsync.so`, _etc._ would automatically depend on and link with `libPacka

[2022-05-10 08:17] SanghyunKo commented on #36705
@Saptaparna @GurpreetSinghChahal @menglu21 @smrenna  Hi all, I just want to remind you guys that the deadline for the last open pre-release for 12_4_X (for Run 3 MC production) is approaching, and I believe we don't want to waste our storage for duplicated weights for O(10B) events.

Can we simply remove the code section that I mentioned above + fix the default weight list in the config file? and

[2022-05-10 08:22] cmsbuild commented on #37879
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_28_patch1-slc7_amd64_gcc700/3482

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-05-10 08:22] cmsbuild commented on #37879
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_28_patch1-slc6_amd64_gcc700/3481

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-05-10 09:56] iarspider opened #37885 "[ASAN_X] RelVal 138.3 failed with SIGSEGV"
Log file (not too useful): [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_4_ASAN_X_2022-05-09-1100/pyRelValMatrixLogs/run/138.3_Splashes+RunMinimumBias2021Splash+COPYPASTER3+RECODR3Splash+HARVESTDR3/step3_Splashes+RunMinimumBias2021Splash+COPYPASTER3+RECODR3Splash+HARVESTDR3.log#/)

I ran the workflow under gdb on cmsdev machine, and this is the backtrace I got: [lin

[2022-05-10 09:56] cmsbuild commented on #37885
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-10 09:57] iarspider commented on #37885
assign reco

[2022-05-10 10:06] jpata commented on #37867
@wrtabb @SohamBhattacharya @cms-sw/egamma-pog-l2 could you please take a look at this?

[2022-05-10 10:06] jpata commented on #37867
type performance-improvements

[2022-05-10 11:07] jpata commented on #37816
It segfaults reliably about halfway through the 500 events if you don't use gdb or don't recompile with debugging symbols, I just tried again on vocms011. Is it possible that gdb or debug symbols make the crash go away?

[2022-05-10 11:13] iarspider commented on #37885
assign reconstruction

[2022-05-10 11:13] cmsbuild commented on #37885
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-10 12:27] iarspider commented on #33682
@dan131riley gentle ping

[2022-05-10 12:28] iarspider commented on #33682
The error seems to be the same, but the stack trace is shorter: ([full log](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el9_aarch64_gcc11/CMSSW_12_4_X_2022-05-09-2300/pyRelValMatrixLogs/run/280.0_AMPT_PPb_5020GeV_MinimumBias+AMPT_PPb_5020GeV_MinimumBias+DIGI+RECO+HARVEST/step1_AMPT_PPb_5020GeV_MinimumBias+AMPT_PPb_5020GeV_MinimumBias+DIGI+RECO+HARVEST.log#/132)):
[code]

[2022-05-10 12:35] iarspider opened #37888 "std::bad_alloc in CondTools/SiStrip test SiStripDAQ_O2O_test"
CondTools/SiStrip is failing with `std::bad_alloc` during `SiStripDAQ_O2O_test` test:
[code]

Full log: [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-05-10-1100/unitTestLogs/CondTools/SiStrip#/133)

Could it be caused by [database connection error](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-05-10-1100/unitTestLogs/CondTo

[2022-05-10 12:36] iarspider commented on #37888
assign db

[2022-05-10 12:57] makortel commented on #37885
Duplicate of #37362

[2022-05-10 13:11] iarspider commented on #37885
@makortel oops.

[2022-05-10 13:11] #37885 closed

[2022-05-10 13:32] dan131riley commented on #33682
This is after #37840 merged, so it looks like yet another attempt to fix this has failed...

[2022-05-10 13:33] gartung commented on #37816
is the job run inside a Singularity image?

[2022-05-10 13:43] gartung commented on #37816
Nevermind. I did get a crash on the second run without gdb that I started Friday evening.

[2022-05-10 15:54] kpedro88 opened #37894 "Improvements/simplifications for --ibeos option in runTheMatrix"
Including the `--ibeos` option in a `runTheMatrix.py` command produces several changes that are not transparent to users or easily reproducible. (The examples here are from workflow 1325.518 (UL18 re-miniAOD) in 12_4_X.)
1. It first produces a command like this: `dasgoclient --limit 0 --query 'file dataset=/RelValProdTTbar_13_pmx25ns/CMSSW_10_6_4-PUpmx25ns_106X_upgrade2018_realistic_v9-v1/AODSIM s

[2022-05-10 15:54] cmsbuild commented on #37894
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-10 15:54] makortel commented on #37894
assign core

[2022-05-10 15:54] cmsbuild commented on #37894
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-10 16:33] gartung commented on #37816
I am trying this patch
https://github.com/libunwind/libunwind/pull/348

[2022-05-10 16:39] gartung commented on #37816
Patch was incorporated into head of 1.6-stable branch in Dec2021. I am updating the libunwind spec to use the latest commit on that branch. I will test with the updated libunwind.

[2022-05-10 16:51] gartung commented on #37816
Captured backtrace in debugger
[code]

[2022-05-10 16:52] gartung commented on #37816
Looks like this bug might be addressed by updating libunwind.

[2022-05-10 19:45] kpedro88 commented on #37767
see #37896

[2022-05-10 21:16] Dr15Jones commented on #37864
After changes in #37895 the voxelization is now taking ~50% of the time for building the geometry.

[2022-05-11 05:52] ianna commented on #37864
Yep, voxelization is slow. I have tried to drop it at some point, but it did not work. I do not remember the details. It may have been related to building Géant4 geometry by DD4hep. It may have changed now. Perhaps, it should be a configurable - if not at all invoked?