[2022-08-11 08:54] mmusich commented on #39026
answering to self:

[code]

will fail at the first event.

[2022-08-11 10:39] bainbrid commented on #35929
Hi @jordan-martins @VinInn @lfinco @swagata87, @slava77, all,

In short, I'm going to struggle to debug this, as it seems to be a problem with core code relating to TrajectoryStates (beyond my remit), and I would appreciate some help, or even somebody taking over the task.

---

Here's a recipe from Jordan to produce the `MultiTrajectoryState mixes states with and without errors` error from the Ru

[2022-08-11 10:53] cmsbuild commented on #39006
The cleanup has started for el8_aarch64_gcc10

[2022-08-11 10:53] cmsbuild commented on #39006
The cleanup has started for slc7_amd64_gcc10

[2022-08-11 10:53] cmsbuild commented on #39006
The cleanup has started for el8_amd64_gcc10

[2022-08-11 10:53] cmsbuild commented on #39006
The cleanup has started for el8_ppc64le_gcc10

[2022-08-11 10:53] #39006 closed

[2022-08-11 10:54] cmsbuild commented on #39006
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_6-el8_aarch64_gcc10/2152

[2022-08-11 10:54] cmsbuild commented on #39006
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_6-el8_amd64_gcc10/2153

[2022-08-11 10:54] cmsbuild commented on #39006
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_6-el8_ppc64le_gcc10/2154

[2022-08-11 10:54] cmsbuild commented on #39006
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_6-slc7_amd64_gcc10/2155

[2022-08-11 11:19] mmusich commented on #38958
@venturana, so here is a possible solution: https://github.com/cms-sw/cmssw/pull/39029 (master) and https://github.com/cms-sw/cmssw/pull/39030 (12_4_X)

[2022-08-11 11:53] tvami commented on #38958
@venturana can you please add in the issue title that this is for the tk alignment Zmumu validation? As of now this issue title is very general, thanks

[2022-08-11 12:03] venturana opened #39031 "tk alignmen fix for overlap validation"
Hello,

When running TkAlOverlapValidation.py, this problem pops up:

[code]

[2022-08-11 12:03] cmsbuild commented on #39031
A new Issue was created by  @venturana .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-11 12:03] venturana commented on #39031
the configuration file is

[code]

[2022-08-11 12:04] venturana commented on #39031
and you can find the dataset used in /afs/cern.ch/cms/CAF/CMSALCA/ALCA_TRACKERALIGN/data/commonValidation/CMSSW_12_4_3/src/Alignment/OfflineValidation/python/Dataset_Validation_StreamExpress_Run2022B-TkAlMinBias-Express-v1_ALCARECO_180722_cff.py

[2022-08-11 12:07] dpiparo commented on #38997
@makortel thanks for pointing out that the XrdFile is handling the bunched requests behind the scenes: it escaped my attention while following the calling sequence.
I have two, mabe naive, questions:
 - Do you see the same stalls if reading from the local disk?
 - Do you see a different "stall pattern" if you modify the size of the chunks from 8 MB to a smaller or larger value?

[2022-08-11 12:51] mmusich commented on #39031
assign alca, trk-dpg

[2022-08-11 12:51] cmsbuild commented on #39031
New categories assigned: trk-dpg,alca

@connorpa,@yuanchao,@mmusich,@tsusa,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-11 12:53] tvami commented on #39031
@venturana please include in the title that this is for the tracker alignment, thanks

[2022-08-11 12:56] tvami commented on #39031
Looking at the history I found this commit: https://github.com/cms-sw/cmssw/commit/843303816dffa2100495248594d0503e0b1f4909

[2022-08-11 13:01] tvami commented on #39031
So it's a type: `subdetConditon`vs `subdetCondition` ...

[2022-08-11 14:55] jpata commented on #37841
+reconstruction

[2022-08-11 19:11] makortel commented on #38997
To clarify, the pattern in https://github.com/cms-sw/cmssw/issues/38997#issuecomment-1211110190 is from the log from T0 itself. I have not seen such stalls when running myself with either local disk input or input from EOS (which, I believe, is consistent what @davidlange6 wrote in https://github.com/cms-sw/cmssw/issues/38997#issuecomment-1209188591).

I'm running more tests to try to understand t

[2022-08-11 19:16] davidlange6 commented on #38997
Right. I did make a graphic showing event-to-event correlations here (I don't think this is the right way to look at the data, but it shows that the two tests I did (with and without copying the data) have little spread compared to my test vs the t0 one)

![d1do](https://user-images.githubusercontent.com/5042883/184221158-0981b95e-8d16-481b-9190-0e66483940c6.png)
![d1d2](https://user-images.github

[2022-08-11 21:26] tvami commented on #39031
+alca
 * resolved in https://github.com/cms-sw/cmssw/pull/39035

[2022-08-11 21:28] tvami commented on #39031
If I may point out, not only the issue is about a typo but the title of the issue has one too ;)

[2022-08-11 22:14] makortel commented on #38997
Here is one correlation I observed between the log from T0 and my local tests (reading the streamer remotely). The Tier0 log had a total of 287 stalls (of longer than 25 s). Of these, 272 correlate to Events for which some OutputModule actually compresses+writes the data out. I did the correlation with `StallMonitor` as follows, assuming the behavior of OutputModules themselves would be reproducib

[2022-08-12 00:48] #39017 closed

[2022-08-12 00:58] #38958 closed

[2022-08-12 00:59] #39031 closed

[2022-08-12 05:45] missirol commented on #39017
+hlt

[2022-08-12 06:10] mmusich commented on #38958
+1
   * solved at https://github.com/cms-sw/cmssw/pull/39029 (master) and https://github.com/cms-sw/cmssw/pull/39030 (12_4_X)

[2022-08-12 06:13] mmusich commented on #39031
+1
   * resolved in https://github.com/cms-sw/cmssw/pull/39035

[2022-08-12 06:14] cmsbuild commented on #39031
This issue is fully signed and ready to be closed.

[2022-08-12 07:21] jordan-martins commented on #39026
Hi, this has(is) also being discussed [here](https://github.com/cms-sw/cmssw/issues/35929)

[2022-08-12 10:22] mmusich commented on #39026
so, for starters I reconstructed the rather involved chain of calls.
The exception originates here in the constructor of `BasicMultiTrajectoryState`

https://github.com/cms-sw/cmssw/blob/2a2ca2ee216a44c2743301dc2dc32b4c7c93f4ad/TrackingTools/GsfTools/src/BasicMultiTrajectoryState.cc#L19-L21

The constructor of `BasicMultiTrajectoryState` is called here by `MultiTrajectoryStateAssembler::combinedSt

[2022-08-12 10:56] mmusich commented on #38976
@jshlee @slowmoyang @quark2 any update on this issue?

[2022-08-12 10:59] quark2 commented on #38976
Hi @mmusich,

Sorry for my late reply, I'm working on it, but I was sick, so the task was delayed... I'll make a fix soon.

Best regards,
Byeonghak Ko

[2022-08-12 11:47] mmusich commented on #39026
with this patch:
[code]

the event `Event run: 356948 lumi: 46 event: 59404076`, does get reconstructed, albeit with quite a few warnings and an ominous error message:

[code]

I'd appreciate feedback from any electron reconstruction expert (if any still exists).

[2022-08-12 11:47] mmusich commented on #35929
see also https://github.com/cms-sw/cmssw/issues/39026#issuecomment-1213027768

[2022-08-12 11:58] bainbrid commented on #39026
Thank @mmusich.
Unfortunately, I'm not an expert of the GSF tracking code ...
@lsoffi @swagata87 @VinInn ?

[2022-08-12 13:41] swagata87 commented on #39026
I have seen those 3 error message appearing together several times while running electron reco at HLT level recently. I suspect (purely observational though) that those 3 messages are related.  If for some reason `sumWeight < DBL_MIN` , ie, if sumWeight is basically 0, then an empty weight vector is returned:
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/TrackingToo

[2022-08-12 15:45] missirol opened #39045 "HLT crash caused by `SiPixelDigisClustersFromSoA` (run 357271)"
In run-357271, one HLT job crashed with the following error message:
[code]
(the monitoring tool does not provide the full error message from `cmsRun`, afaik)

The error is reproducible (see recipe below). Since it originates from the GPU branch of the reconstruction sequence, it can be reproduced only on a machine with a GPU. The input file is currently on `lxplus`.

FYI: @fwyzard @silviodonato

[2022-08-12 15:45] cmsbuild commented on #39045
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-12 16:37] makortel commented on #39045
assign reconstruction, heterogeneous

[2022-08-12 16:37] makortel commented on #39045
FYI @cms-sw/trk-dpg-l2 @VinInn

[2022-08-12 16:37] cmsbuild commented on #39045
New categories assigned: heterogeneous,reconstruction

@jpata,@fwyzard,@clacaputo,@makortel,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-12 17:48] makortel commented on #38997
I took a look of the reads (as seen by `XrdFile`, i.e. issued by `LocalCacheFile`) as well in the T0 log. There are total of 64 of them. 4 of the 64 reads coincide with a stall (i.e. the read is between events for which there is >25 s pause in processing). 2 of 4 coincide with a stall coinciding with an OutputModule write (as defined in https://github.com/cms-sw/cmssw/issues/38997#issuecomment-121

[2022-08-13 08:42] fwyzard opened #39050 "frequent xrootd errors while reading files from EOS"
While reading files from EOS I'm getting once or twice per file this kind of errors:som
[code]

The processing of the data seems to be working fine, despite the errors.

Are they something one should worry about ?
If so, should something be fixed somewhere ?
If not, could they be silences ?

[2022-08-13 08:42] cmsbuild commented on #39050
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-13 17:25] fwyzard commented on #39045
I could reproduce it running on the original error stream file on the online machines:
[code]

I did get the same error, and there is a message shortly before it that may be related:
[code]

[2022-08-14 19:16] ferencek commented on #39045
I did a bit of investigation and the code is crashing in https://github.com/cms-sw/cmssw/blob/CMSSW_12_4_6/RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelDigisClustersFromSoA.cc#L114 where `edmNew::DetSetVector<SiPixelCluster>::FastFiller` is constructed. The constructor eventually end up calling [`edmNew::DetSetVector<T>::addItem`](https://github.com/cms-sw/cmssw/blob/CMSSW_12_4_6/DataFormats

[2022-08-15 01:11] qliphy commented on #38980
@emanueleusai  This issue is fixed and can be closed, right?

[2022-08-15 06:24] swagata87 commented on #39026
I checked only one problematic event, the one that Marco pointed out above (356948:59404076).
Here are my findings:
In this event, there is one reconstructed `supercluster` in endcap, with energy= 33.4 GeV, Eta=-2.6, Phi=-1.8, and Et=4.9 GeV.
And there are 2 reconstructed GSF tracks:
`GSF1` Pt=0.978 GeV, Eta=-2.52, Phi=-1.86
`GSF2` Pt=0.878 GeV, Eta=-2.57, Phi=-2.03

Pt of the `supercluster` does

[2022-08-15 06:44] mmusich commented on #39026
@swagata87 if you follow the link to the [cmsTalk link](https://cms-talk.web.cern.ch/t/error-in-promptreco-for-run-356948-dataset-parkingdoublemuonlowmass5/13791) provided by the OP, you will see that there is a second instance of the same problem in run 356947, tarball at /afs/cern.ch/user/c/cmst0/public/PausedJobs/Run2022C/DQMLogicError/vocms013.cern.ch-1700050-3-log.tar.gz

[2022-08-15 07:01] mmusich commented on #38976
Hi @quark2,
there have been already 5 instances of the issue so far - if I count correctly, can you clarify the timeline for the fix?
In case it cannot arrive by today, such that a patch release can be built tomorrow after the ORP meeting (FYI @perrotta @qliphy), can we consider disabling in production the offending module until a more proper fix is found out?
I think we can do that by commenting

[2022-08-15 07:06] mmusich commented on #39026
while the e/gamma experts take a second look, I've opened https://github.com/cms-sw/cmssw/pull/39056 in order to start giving it some wider exposure.

[2022-08-15 08:10] bainbrid commented on #39026
Hi @swagata87, this is entirely possible with the low-pT algorithm. The chain is tracker-driven and GSF tracks are used to seed a search for a SC in ECAL. The SC algo is "greedy" in the sense that the GSF track is *always* dR-matched to the first (and nearest) ECAL cluster found, i.e. there is no upper bound in dR, while all subsequent clusters must be compatible with the GSF track trajectory acco

[2022-08-15 08:12] quark2 commented on #38976
Hi @mmusich,

I made a fix, but I have no idea how to measure the memory consumption with the fix. Could you provide the way?

Best regards,
Byeonghak Ko

[2022-08-15 08:16] mmusich commented on #38976
@quark2 the best way would be to run the igProf profiler and there are some instructions here: https://twiki.cern.ch/twiki/bin/viewauth/CMS/RecoIntegration#Run_profiler_igprof.
Another (quicker) way, is to just print the RSS used by cmsRun when executing the harvesting and check that it should be substantially lower than before.

[2022-08-15 08:16] quark2 commented on #38976
Thanks, I'll use it!

[2022-08-15 10:46] quark2 commented on #38976
Hi,

I've made a fix and its backport to 12_4_X. I've seen the reduction of the RSS. (Although it was still 1.9 GB; still too large?)

[2022-08-15 10:57] mmusich commented on #38976
How much is it reduced?
Matti pointed above that `GEMDQMHarvester::dqmEndLuminosityBlock()` is taking 610 MB. Do you have a profiling before / after the change? Is 1.9GB only due to GEM or overall by the harvesting job?

[2022-08-15 10:59] swagata87 commented on #39026
the other event (356947:413408861 happening in JetMET dataset) can't be checked because the RAW file is not there in the location anymore.
`Input file root://eoscms.cern.ch//eos/cms/tier0/store/data/Run2022C/JetMET/RAW/v1/000/356/947/00000/e7e7fd8c-d2ed-47c0-a46f-978790000957.root?eos.app=cmst0 could not be opened.`

in that case, I'd say let's proceed with the fix.
From e/gamma side, we will clos

[2022-08-15 11:03] mmusich commented on #39026
indeed, but it's surprising. What's the current policy to keep RAW data on disk at Tier-0 @germanfgv ?

[2022-08-15 11:04] quark2 commented on #38976
The amount 1.9 GB is overall by the harvesting job. The RSS before the fix is 2.8 GB, so about 900 MB is saved.

[2022-08-15 11:07] mmusich commented on #38976
Thanks, can you also provide what would the number in case the harvesting job is executed *without* `GEMDQMHarvester` at all?
This would hep to set the scale of what is reasonable.

[2022-08-15 11:32] germanfgv commented on #39026
@mmusich all data we produce stays at T0 for a minimum of 7 days. Then, if it has been transferred to the desired locations and is not being used by us anymore, it gets deleted.

As [we failed the paused jobs last Friday](https://cms-talk.web.cern.ch/t/error-in-promptreco-for-run-356948-dataset-parkingdoublemuonlowmass5/13791/3?u=ggiraldo), these files were deleted from T0 disk.

[2022-08-15 15:01] missirol opened #39064 "Crashes in muon HLT reconstruction (`reco::TrackExtra` product not found)"
Over the last few weeks, HLT suffered 3 online crashes coming the HLT-muon reconstruction; the first 2 errors are almost identical, while the 3rd one is rather similar to the first 2, but comes from a different producer. The error messages are given below [*].

So far, no one has been able to reproduce any of these errors locally with the relevant error-stream files.

I open an issue to keep track

[2022-08-15 15:08] makortel commented on #39064
assign hlt

[2022-08-15 15:08] cmsbuild commented on #39064
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-15 15:09] makortel commented on #39050
assign core

[2022-08-15 15:09] cmsbuild commented on #39050
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-15 15:12] makortel commented on #39050
@osschar Would you happen to have any thoughts about these error messages?

[2022-08-15 16:21] mrcthiel opened #39069 "Missing qualityBits paths on PhysicsTools/NanoAOD/python/triggerObjects_cff.py"
The qualityBits paths for the triggers HLT_Mu17_Photon30_IsoCaloId* and HLT_Mu17_Photon30_CaloId* are not present on NanoAODv9.

They are:
for 2016:
hltMu17Photon30CaloIdLL1ISOHEFilter
hltMu17Photon30CaloIdLL1ISOORHEFilter
hltL3fL1sL1Mu5IsoEG18L1f5L2f7L3Filtered17
hltL3fL1sL1Mu5IsoEG18ORL1Mu5IsoEG20L1f5L2f7L3Filtered17
for 2017 and 2018:
hltMu17Photon30IsoCaloIdPhotonlegTrackIsoFilter
hltMu17Photo

[2022-08-15 16:21] cmsbuild commented on #39069
A new Issue was created by  @mrcthiel .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-15 16:24] bbilin commented on #39069
@cms-sw/xpog-l2 this has been presented in last SMP-V meeting: https://indico.cern.ch/event/1188769/#3-hz-upsilon-gamma

[2022-08-15 16:28] makortel commented on #39069
assign xpog

[2022-08-15 16:28] cmsbuild commented on #39069
New categories assigned: xpog

@mariadalfonso,@gouskos,@swertz,@vlimant you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-15 16:35] quark2 commented on #38976
I executed it without `GEMDQMHarvester`, and the maximum RSS was also 1.9 GB. I'm not sure if it is reasonable, but at least I can say that `GEMDQMHarvester` consumes basically small memory (after the issue is fixed).

[2022-08-15 16:40] quark2 commented on #38976
Btw, does anyone know how to reproduce `DQMIO` files in local, especially `root://cms-xrd-global.cern.ch//store/express/Run2022C/StreamExpress/DQMIO/Express-v1/000/356/381/00000/0114A6C8-C901-4386-94D4-F0386E636CA0.root`?

[2022-08-15 16:41] mmusich commented on #38976
you would need to run the express reco from the streamer files of 356381, which is strongly suspect are already gone.

[2022-08-15 16:51] quark2 commented on #38976
I see... I need to look at the geometry part more, and reproducing that file should give a good hint.

[2022-08-15 17:09] mmusich commented on #38976
There have been recently failures of the same type e.g. for run [357479](https://cms-talk.web.cern.ch/t/high-memory-usage-in-harvesting-job-for-workflow-express-run356381-streamexpress/13419/10).

I think the streamers for that file are still available:

[code]

you would need to generate the configuration via:

[code]

manually modifying the output configuration

[code]
to get the correct source.

[2022-08-15 20:16] JanFSchulte commented on #39064
The new error is at least somewhat illuminating since it comes from a different CMSSW module as before, one I am more familiar with. Looking at the code, the only place where a `TrackRef` is created in that module is here [https://github.com/cms-sw/cmssw/blob/6ba826d71058bcc4456e66ad7dc2c01edc542626/RecoMuon/TrackerSeedGenerator/plugins/TSGForOIFromL2.cc#L118](here), which suggests that the missin

[2022-08-15 20:36] mariadalfonso commented on #39069
please go ahead and make a PR in master (and once signed backport to 12_4)

see other examples of similar fixes here
https://github.com/cms-nanoAOD/cmssw/issues/580

[2022-08-15 20:41] perrotta commented on #38940
Fixed  by https://github.com/cms-sw/cmssw/issues/38940
Can this get closed?

[2022-08-16 01:38] #37841 closed

[2022-08-16 07:09] cecilecaillol commented on #38940
+l1

[2022-08-16 08:36] silviodonato commented on #35929
Hello,
I just wanted to mention that we saw this error in the HLT yesterday night.
In 357542 (2022-08-15 23:11:11)  we got
[code]

[2022-08-16 09:12] mmusich commented on #35929
is there a way to test offline any of these errors?
I *think* something like this

[code]

should work.

[2022-08-16 10:28] mmusich commented on #38976
@makortel we tried to run the igprof profiler with @sarafiorendi and we got these:

   * `MEM_TOTAL`:
      * https://fiorendi.web.cern.ch/fiorendi/cgi-bin/igprof-navigator/original/igreport_total/ (vanilla)
      * https://fiorendi.web.cern.ch/fiorendi/cgi-bin/igprof-navigator/PR39061/igreport_total/ (PR #39061)
   * `MEM_LIVE`:
      * https://fiorendi.web.cern.ch/fiorendi/cgi-bin/igprof-navigat

[2022-08-16 12:50] #38940 closed

[2022-08-16 12:54] sarafiorendi commented on #38976
@makortel @mmusich
sorry my bad, I updated the results with the PR integrated (same link as above), they show (as far as I understand) some effective reduction

[2022-08-16 12:59] mmusich commented on #38976
thanks. Still I am not sure to understand why there is no contribution from `GEMDQMHarvester` in `MEM_LIVE`.

[2022-08-16 13:06] makortel commented on #38976
@mmusich @sarafiorendi Was this the part of the recipe you followed for the MEM_LIVE profile?

[2022-08-16 13:11] sarafiorendi commented on #38976
this are the commands I ran
[code]
as from
https://igprof.org/analysis.html#:~:text=Memory%20profiling%20reports

so maybe the second one is not correct (?)

[2022-08-16 13:23] makortel commented on #38976
Thanks. I'm a bit confused what dump exactly `igprof.cmsRunGlibC.5556.1660650465.673794.gz` corresponds to, since the `Validation.Performance.IgProfInfo.customise`
https://github.com/cms-sw/cmssw/blob/7654b671ce6f103ca900252d8879e1a9858f3f18/Validation/Performance/python/IgProfInfo.py#L5-L9
causes a profile to be dumped after some events with the event entry number in the file name. Maybe it's the

[2022-08-16 14:34] qliphy opened #39081 "HLT issue in IB"
Since a while, the HLT in IB is in RED, with error message as:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_5_X_2022-08-15-2300/el8_amd64_gcc10/RelVal_RECO_HIon_DATA.log

----- Begin Fatal Exception 16-Aug-2022 03:39:47 UTC-----------------------
An exception of category 'ProductNotFound' occurred while
   [0] Processing  Event run: 355558 lumi: 224 event: 215209915 stream:

[2022-08-16 14:34] cmsbuild commented on #39081
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-16 14:34] qliphy commented on #39081
Could it be related to https://github.com/cms-sw/cmssw/pull/38748 ?  @rgerosa

[2022-08-16 14:34] qliphy commented on #39081
assign hlt

[2022-08-16 14:34] cmsbuild commented on #39081
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-16 14:59] missirol commented on #35929
The issue with the HLT crashes (2 so far) is that they don't seem to be reproducible offline (even when running on a machine with a GPU, like in the original HLT job). For completeness, below are the details to rerun the relevant HLT menu on the problematic events.

1) Run-356615 (`CMSSW_12_4_3`)
    - Error:
[code]
    - Recipe (not reproducing error):
[code]

2) Run-357542 (`CMSSW_12_4_6`)
    -

[2022-08-16 15:01] mmusich commented on #35929
thanks @missirol, what about the errors in the reprocessing @jordan-martins ? Do you have a reproducer?

[2022-08-16 16:23] #39026 closed

[2022-08-16 19:18] makortel commented on #38679
@smuzaffar While trying to understand some of these `-Wstrict-overflow` warnings I came across

from [GCC 8 release notes](https://gcc.gnu.org/gcc-8/changes.html) (pointed in https://bugzilla.redhat.com/show_bug.cgi?format=multiple&id=1635615)

We already include `signed-integer-overflow` as part of UBSAN, don't we? Should we consider dropping `-Wstrict-overflow`?

[2022-08-16 20:26] y19y19 opened #39086 "Fatal Exception: Requested UserInt pileupJetId:fullId not available when using custom_jme_cff.py in CMSSW_10_6_X"
Hi,

I want to privately produce NanoAOD with PuppiAK4 jets for RunII UL2018 analysis, so I want to find a way of customizing the jet collections. I tried the cmsDriver.py with customized commands:
`
from PhysicsTools.NanoAOD.custom_jme_cff import PrepJMECustomNanoAOD_MC
process = PrepJMECustomNanoAOD_MC(process)
`
The full cmsDriver command is shown at the end (with DYJets dataset as example), an

[2022-08-16 20:26] cmsbuild commented on #39086
A new Issue was created by  @y19y19 Yao Yao.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-16 20:34] makortel commented on #39086
assign xpog

[2022-08-16 20:34] cmsbuild commented on #39086
New categories assigned: xpog

@mariadalfonso,@gouskos,@swertz,@vlimant you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-17 06:26] missirol commented on #37598
The issue re-appeared in `CMSSW_12_4_X_2022-08-12-1100`.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_4_X_2022-08-12-1100/el8_amd64_gcc10/HLT_Integration_PIon_DATA.log
[code]

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_4_X_2022-08-12-1100/el8_amd64_gcc10/HLT_Integration_PRef_DATA.log
[code]

[2022-08-17 08:38] smorovic commented on #38997
In #39088 I implemented prebuffering in the streamer source, with a configurable parameter (100 MB could be a reasonable value to try).
I suggest to try it out and see what impact it has on Tier0 jobs.

[2022-08-17 11:28] thomreis commented on #38651
Did an error like this happen again since? It is hard to investigate without the event that caused the crash.

[2022-08-17 11:56] missirol commented on #38651
To my knowledge, it did not happen again.

[2022-08-17 13:40] makortel commented on #38997
@germanfgv Would you happen to have more examples of troublesome repack jobs?

[2022-08-17 13:54] germanfgv commented on #38997
Let me look for some recent examples.

[2022-08-17 15:08] smuzaffar commented on #38679
good point @makortel . For now, we are not passing `-fsanitize=signed-integer-overflow` for `UBSAN` IBs ( [these are the flags](https://github.com/cms-sw/cmssw-config/blob/scramv3/Projects/CMSSW/BuildFile.xml#L49-L62) we set for various sanitizer IBs) . I am no objections on adding `-fsanitize=signed-integer-overflow`  for UBSAN and dropping `-Wstrict-overflow` from default flags

[2022-08-17 15:43] #38781 closed

[2022-08-17 15:48] makortel commented on #38781
+1

[2022-08-17 15:48] cmsbuild commented on #38781
This issue is fully signed and ready to be closed.

[2022-08-17 16:04] smuzaffar commented on #38679
ok, so lets drop `-Wstrict-overflow` as it is deprecated. I have opened https://github.com/cms-sw/cmsdist/pull/8026

[2022-08-18 07:49] perrotta commented on #38939
@kskovpen can this be done, then? Having continuously failing workflows in the IB is far sub-optimal for the sake of checking the effect of newly integrated PRs on them.

[2022-08-18 08:15] fwyzard opened #39098 "Consider adding `-Wconversion` to the build flags"
Should we consider adding `-Wconversion` to the build flags, to catch errors like floating point values being assigned to integers and silently truncated ?

We could first introduce it as `-Wconversion`, and once the warnings ahve been fixed switch to `-Werror=conversion`.

[2022-08-18 08:15] fwyzard commented on #39098
assign core

[2022-08-18 08:15] cmsbuild commented on #39098
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-18 08:15] cmsbuild commented on #39098
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-18 09:03] perrotta opened #39100 "Two bugs to be fixed in the L1T (Phase2) DQM"
While looking (for a different reason) to the report of the static analyzer, I found a couple of places in the code that smell like rather obvious bugs.

- DQMOffline/L1Trigger/src/L1TRate_Offline.cc

In the `for` loop at
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/L1Trigger/src/L1TRate_Offline.cc#L492-L516
either `foundFit` is not needed, or the `if` at
https://github.com/cms-sw/cmssw/

[2022-08-18 09:03] perrotta commented on #39100
assign l1, dqm

[2022-08-18 09:04] cmsbuild commented on #39100
New categories assigned: dqm,l1

@jfernan2,@ahmad3213,@epalencia,@micsucmed,@rvenditti,@emanueleusai,@rekovic,@cecilecaillol,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-18 09:04] cmsbuild commented on #39100
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-18 10:35] perrotta opened #39101 "Build CMSSW_12_4_7"
It includes bug fixes for the data taking, and updates for the local Tracker and for the Tracking code.

[2022-08-18 10:35] cmsbuild commented on #39101
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-18 10:36] perrotta commented on #39101
+1

[2022-08-18 10:36] cmsbuild commented on #39101
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-08-18 10:36] cmsbuild commented on #39101
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-08-18 10:37] cmsbuild commented on #39101
The build has started for el8_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3612/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-18 10:38] cmsbuild commented on #39101
The build has started for slc7_amd64_gcc10 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3614/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-18 10:38] cmsbuild commented on #39101
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3613/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-18 12:38] kskovpen commented on #38939
@mileva @makortel if we want to move it to Run 3, which era should be used for this specific wf? I see that Run2_2018_highBetaStar was used in Run 2.

[2022-08-18 12:50] smuzaffar commented on #38679
full cmssw PR tests with out `-Wstrict-overflow` look good.
- Default cmssw build log is clean https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-4b956a/26888/build-logs/
- LTO build log now only shows 5 packages with [One Definition Rule](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-4b956a/26902/build-logs/) warnings.

if no objections then I can

[2022-08-18 13:11] smuzaffar commented on #39098
tests for cms-sw/cmssw#8027 show over 500K [warning](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-7f08a7/26906/build-logs/) . Most of these ( near 423K ) are coming from
[code]

[2022-08-18 14:04] cmsbuild commented on #39101
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_7-el8_aarch64_gcc10/3613
Some tests (

[2022-08-18 14:11] cmsbuild commented on #39101
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_7-slc7_amd64_gcc10/3614
Some tests ( ru

[2022-08-18 14:28] cmsbuild commented on #39101
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_7-el8_amd64_gcc10/3612
Some tests ( runT

[2022-08-18 14:31] cmsbuild commented on #39101
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_7-el8_ppc64le_gcc10/3615
Some tests (

[2022-08-18 14:52] cmsbuild commented on #39101
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_7-el8_aarch64_gcc10/3613

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-18 14:59] cmsbuild commented on #39101
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_7-slc7_amd64_gcc10/3614

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-18 15:15] cmsbuild commented on #39101
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_7-el8_amd64_gcc10/3612

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-18 15:15] perrotta commented on #39101
upload all
(let upload even if the tests for CMSSW_12_4_X_2022-08-18-1200 aren't finished yet: so far so good)

[2022-08-18 15:16] cmsbuild commented on #39101
Queing Jenkins upload for slc7_amd64_gcc10

[2022-08-18 15:16] cmsbuild commented on #39101
Queing Jenkins upload for el8_amd64_gcc10

[2022-08-18 15:16] cmsbuild commented on #39101
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-08-18 15:16] cmsbuild commented on #39101
Queing Jenkins upload for el8_aarch64_gcc10

[2022-08-18 15:17] cmsbuild commented on #39101
The upload has started for el8_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2450/console

[2022-08-18 15:17] cmsbuild commented on #39101
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2451/console

[2022-08-18 15:17] cmsbuild commented on #39101
The upload has started for slc7_amd64_gcc10 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2452/console

[2022-08-18 15:18] cmsbuild commented on #39101
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_7-el8_aarch64_gcc10/2449

[2022-08-18 15:18] cmsbuild commented on #39101
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_7-slc7_amd64_gcc10/2452

[2022-08-18 15:22] perrotta commented on #39101
release-notes

[2022-08-18 15:22] cmsbuild commented on #39101
Generating release notes since CMSSW_12_4_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-18 15:22] cmsbuild commented on #39101
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_7 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_7

It includes bug fixes for the

[2022-08-18 15:24] cmsbuild commented on #39101
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_7

[2022-08-18 15:49] cmsbuild commented on #39101
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_7-el8_ppc64le_gcc10/3615

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-18 15:55] makortel commented on #38997
I tried out #39088 in local test with 128 MB buffer size and without the `lazy-download`. As expected, the `XrdFile` saw the same read requests as currently with `lazy-download`. I'd think in the leading order the #39088 would not help towards EOS read issues (but those do not seem to be the cause here anyway), but it would help in reducing the local(?) disk use (in terms of both disk space and nu

[2022-08-18 16:13] germanfgv commented on #38997
Recent repack jobs have finished in less that 6h. Here is one example:
It took 5.25h, with a 93.7% CPU efficient
[code]

[2022-08-18 17:52] smuzaffar opened #39105 "LLVM 14: bitwise-instead-of-logical warnings"
[LLVM 14 tests](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-53867e/26901/build-logs/) shows a lot (over 30K) `bitwise-instead-of-logical` warning types . Some of these are in [a]. @VinInn mentioned [here](https://github.com/cms-sw/cmssw/pull/3742#issuecomment-42571454) that some time using bitwise if faster then logical operation.

What should we do with these warnings

[2022-08-18 17:52] smuzaffar commented on #39105
assign core

[2022-08-18 17:53] cmsbuild commented on #39105
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-18 17:53] cmsbuild commented on #39105
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-18 18:06] fwyzard commented on #39098
OK, those are clearly too much to be useful :-(

I wonder if there is a way to warn only about conversions from floating point to integer types, and not from wider to narrower types ?

[2022-08-18 18:13] makortel commented on #39105
A quick search suggests either the use of logical operations, or explicit cast to (unsigned) int for either operand to silence the warning (for the cases where the behavior of bitwise operation is desired).

The performance impact is really a question of tradeoff between the cost of a branch (logical operation) vs the cost of always executing the right-hand side (bitwise operation).

By quick look

[2022-08-18 18:27] fwyzard commented on #39098
Unfortunately I couldn't find anything: `-Wno-narrowing` _does not_ suppress the warnings about these kinds of narrowing conversions.

[2022-08-18 18:52] Dr15Jones commented on #39105
@makortel did you check in godbolt what the optimizer does? I'd bet it does the same operations for bool used for & or &&.

[2022-08-18 18:54] Dr15Jones commented on #39105
Indeed, they are the same

https://godbolt.org/z/qc3hcqPnT

[2022-08-18 19:03] makortel commented on #39105
Seems that things have improved in ~10 years :) I remember seeing (in kd-tree implementation) a noticeable impact on performance back then. Going back with godbolt I see gcc 4.6 still emits a branch with `&&`, whereas gcc 4.7 results in equal code. (for clang I see the same between versions 3.6 and 3.7)

On the other hand, a bit more complicated with comparison expressions still shows a branch wit

[2022-08-18 19:08] emanueleusai commented on #38940
+dqm

[2022-08-18 19:08] cmsbuild commented on #38940
This issue is fully signed and ready to be closed.

[2022-08-18 20:37] makortel commented on #38997
Thanks @germanfgv. I analysed the job in similar way. Here is first the distribution of the timestamp differences between adjacent events
![repack_times](https://user-images.githubusercontent.com/33993/185488655-ebd710dc-edde-44b6-86ac-52882942996a.png)
and quantiles
* `< 0.1 s` : 40549
* `0.1 .. 1 s` : 1520
* `1 .. 25 s` : 1378
* `>= 25 s` : 97

Here is the event processing progress plot (event n

[2022-08-19 06:07] missirol commented on #38980
Looking at recent PRs, it looks like the issue is still present (I don't see plots).

@cms-sw/dqm-l2 , what is the ETA to deploy a fix? (if not done already)

[2022-08-19 06:30] smuzaffar commented on #39098
we can use `-Wfloat-conversion` to report floating point conversion but we still have 65K such unique warnings (700K in total)  from cmssw itself [a]

[code]

[2022-08-19 06:48] fwyzard commented on #39098
I was actually looking for a way to do the opposite:
  - warn about conversions from `float` or `double` to integer types
  - do not warn about conversions from `double` to `float`

[2022-08-19 07:42] smuzaffar commented on #38679
closing as https://github.com/cms-sw/cmsdist/pull/8026 has been merged

[2022-08-19 07:42] #38679 closed

[2022-08-19 08:48] jpata opened #39106 "dataformat compatibility issue for HI SiStrip clusters in RAW"
@makortel pointed out in an email thread that `edmNew::DetSetVector<SiStripApproximateCluster>` introduced here
https://github.com/cms-sw/cmssw/pull/33546/files#diff-f5eea8df4ad3215e1d77c11f1e6dbbdb8a6bcef9d8f05516d0d37a898df47b6fR30 for HI datataking cannot necessarily be guaranteed to be compatible in the future due to the complexity of the edmNew::DetSetVector structure.

This is a required fea

[2022-08-19 08:48] jpata commented on #39106
assign reconstruction

[2022-08-19 08:48] cmsbuild commented on #39106
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-19 08:49] cmsbuild commented on #39106
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-19 08:58] aandvalenzuela commented on #38680
Hi,

`-Wstrict-overflow` flag is deprecated and we have dropped it (https://github.com/cms-sw/cmsdist/pull/8026). Therefore, warnings at `L1Trigger/CSCTrackFinder` and `L1Trigger/TrackFindingTracklet` are already gone. Nevertheless, the warning at `L1Trigger/RPCTrigger` reporting `-Wodr` (violation of the One Definition Rule) should be fixed. Could you please have a look at it?

Many thanks!

[2022-08-19 09:01] aandvalenzuela commented on #38684
Hello,
Are there any news on this fix? We would like to move LTO IBs forward, so we need to clean any errors/warnings.
Thank you!

[2022-08-19 09:22] aandvalenzuela opened #39107 "[LTO - DQM] Compiler warning -Wodr in dqm category"
Hello,

I open a follow-up issue for https://github.com/cms-sw/cmssw/issues/38679.  We don't need to take care of `-Wstrict-overflow` warnings as the flag is deprecated, but the compiler is still reporting violation of the C++ One Definition Rule for two packages:

- `DQM/HLTEvF` reports `-Wodr` warning:
[code]

- `Validation/MtdValidation` reports `-Wodr` warning:
[code]

We think it could be nic

[2022-08-19 09:22] cmsbuild commented on #39107
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-19 09:23] aandvalenzuela commented on #39107
assign dqm

[2022-08-19 09:24] cmsbuild commented on #39107
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-19 09:32] aandvalenzuela commented on #38656
Hi @bsunanda,

We have seen in recent LTO builds that the `-Word` warning is reappearing for lines 42-22:
[code]

Do you think it is something that can be solve as you did in  https://github.com/cms-sw/cmssw/pull/38662? Please, let me know if you prefer that I open a separate issue for this.

Many thanks,
Andrea.

[2022-08-19 09:49] VinInn commented on #39105
again:
The use of bitwise operators IS intentional!
logical operators force the compiler to evaluate them in sequence as the following maybe ill formed if previous fails
(for instance ``` p&&(*p).ok()```) and introduce branches while bitwise operators can be evaluated in any order (even in parallel) and do not require branches.
I'm very sorry for llvm.

[2022-08-19 11:30] swagata87 opened #39110 "reco::Candidate pt = -nan in some rare cases"
This is to keep track of (and hopefully solve at some point) an issue that reco::Candidate pt is `-nan` in some rare cases. It seems that this problem can lead to egamma object's PF isolation being `-nan` as well, if the problematic candidate ends up in egamma object's isolation cone.

One such problematic event is in this AOD file:
`root://xrootd-cms.infn.it//store/mc/Run3Winter22DR/GJet_Pt-10to4

[2022-08-19 11:30] cmsbuild commented on #39110
A new Issue was created by  @swagata87 Swagata Mukherjee.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-19 11:35] swagata87 commented on #39110
thanks to @shdutta16 and @Prasant1993 for bringing this to my notice, this came up while training new photon IDs for Run3.

FYI @cms-sw/pf-l2

[2022-08-19 11:56] bsunanda commented on #38656
I believe it was not complete. I am submitting a new PR (#39112) for this. Please check this. Sorry

Sunanda
________________________________
From: Andrea Valenzuela ***@***.***
Sent: 19 August 2022 11:33
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [LTO_X - Calibration/HcalAlCaRecoProducers] -Wodr compiler warnings (Issue #38656)

Hi @bsunanda<https://github.com/bsun

[2022-08-19 12:51] slava77 commented on #39110
@swagata87
do you see NaNs in the persisted data, or does it appear as a part of running some algorithms (e.g. in or upstream of PFCandidatePrimaryVertexSorter).
Having a specific pf candidate with a nan would be more direct to trace.

[2022-08-19 13:05] makortel commented on #39110
assign reconstruction

[2022-08-19 13:05] cmsbuild commented on #39110
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-19 13:24] makortel commented on #38997
One way to get further confirmation that the OutputModule writes would be (part of) the culprit would be to add the `StallMonitor` service to the repack jobs, and investigate the log file it produces. In the two example jobs the log size of the full job has been O(10 MB). This could be done with e.g.
[code]
and collecting the `stallMonitor.log` file among other log files.

But I don't know how fea

[2022-08-19 13:46] missirol commented on #37598
Another instance of the issue was in `CMSSW_12_5_X_2022-08-17-1100`. The errors are virtually identical to https://github.com/cms-sw/cmssw/issues/37598#issuecomment-1217514871.

[2022-08-19 14:47] missirol commented on #39064
For completeness, below are the details to rerun the relevant HLT menu on the problematic events, even though the 3 HLT crashes do not seem to be reproducible offline.

1) Run-356433 (`CMSSW_12_4_3`)
    - Error:
[code]
    - Recipe (not reproducing error):
[code]

2) Run-356530 (`CMSSW_12_4_3`)
    - Error:
[code]
    - Recipe (not reproducing error):
[code]

3) Run-357442 (`CMSSW_12_4_6`)
    -

[2022-08-19 15:14] swagata87 commented on #39110
Looping over particleFlow candidates (`vector<reco::PFCandidate>             "particleFlow"              ""                "RECO"`) in those problematic events, I see that pt, eta, phi of one pf candidate is `-nan` in those events. @slava77
so I guess its a general problem, not specific to the PFCandidatePrimaryVertexSorter algo

[2022-08-19 15:34] smuzaffar commented on #39098
I am afraid there is no such compiler flag to acheive this. `-Wfloat-conversion` warns for implicit conversions that reduce the precision of a real value. This includes conversions from real to integer, and from higher precision real to lower precision real values. So it will also warn on `double` to `float` conversions

[2022-08-19 16:35] slava77 commented on #39110
considering that it was a pion, is there a nan in the `generalTracks` collection?

[2022-08-19 16:56] makortel commented on #39064
I ran the recipe for Run-357442 by adding `EventContentAnalyzer`, and see that the ProductID `1:2782` corresponds to `hltL2CosmicMuons` module. In the configuration, I see `hltL2CosmicMuons` would be consumed by `hltL2MuonCandidatesNoVtxMeanTimerCosmicSeed` EDProducer and several EDFilters, and `hltL2MuonCandidatesNoVtxMeanTimerCosmicSeed` only by several EDFilters. Assuming these EDFilters do not

[2022-08-19 17:53] swagata87 commented on #39110
yes the `-nan` PF candidate in both events were pions.

I do not see any `nan` in the general track pt/eta/phi in those events.
The issue seem to be in PF charged hadron.
It's also reflected in the fact that, while photon's charged hadron isolation is `-nan`;
the track isolation values make sense:

In one event, both photons have:
`trkSumPtSolidCone=0  trkSumPtHollowCone=0 `

In the other event:
`

[2022-08-19 17:57] slava77 commented on #39110
assign pf

[2022-08-19 17:57] cmsbuild commented on #39110
New categories assigned: pf

@kdlong,@juska you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-19 18:01] makortel commented on #39064
Ok, so I ran my earlier test in a flawed way that lead the ProductIDs to shift. Being more careful I see `1:2782` to correspond `hltL2Muons` which makes more sense (but doesn't really reveal anything new).

[2022-08-19 19:29] missirol commented on #39064
Thanks for having a look, Matti.

Trying to find where the output collections of `hltL2Muons` are produced (incl. the `TrackExtra`s), and I _think_ this happens in
https://github.com/cms-sw/cmssw/blob/2af4be6bb84338820c8d181f4d5dc4f4a5e61dee/RecoMuon/TrackingTools/src/MuonTrackLoader.cc#L141

A non-expert look inside suggests that the trackExtra ref is always set for the output tracks (I might be

[2022-08-19 20:22] makortel commented on #39064
The exception in `RefCore` is thrown here
https://github.com/cms-sw/cmssw/blob/2af4be6bb84338820c8d181f4d5dc4f4a5e61dee/DataFormats/Common/src/RefCore.cc#L125-L131
which is called from `RefCore::getProductPtr()`
https://github.com/cms-sw/cmssw/blob/2af4be6bb84338820c8d181f4d5dc4f4a5e61dee/DataFormats/Common/src/RefCore.cc#L72-L75
or from `RefCore::getThinnedProductPtr()`
https://github.com/cms-sw/

[2022-08-19 21:18] swagata87 commented on #39110
As an intermediate solution, what we can do is to not consider such problematic PF candidates in isolation sum of photons. This way we won's have nan isolation for photons anymore. This does not address the root cause of why such PF candidates are reconstructed in the first place. But it's better than nothing, and serves the purpose for egamma.

[2022-08-20 11:04] swagata87 commented on #39110
right so now I checked that the issue also happen (rarely though) in data (checked in 2022C).
I don't quite like photon's charged isolation being `-nan`;
so I prepared a patch to fix photon's isolation: https://github.com/cms-sw/cmssw/pull/39120

[2022-08-20 13:23] cmsbuild commented on #39101
The cleanup has started for el8_aarch64_gcc10

[2022-08-20 13:23] cmsbuild commented on #39101
The cleanup has started for slc7_amd64_gcc10

[2022-08-20 13:23] cmsbuild commented on #39101
The cleanup has started for el8_amd64_gcc10

[2022-08-20 13:23] cmsbuild commented on #39101
The cleanup has started for el8_ppc64le_gcc10

[2022-08-20 13:23] #39101 closed

[2022-08-20 13:24] cmsbuild commented on #39101
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_7-el8_aarch64_gcc10/2156

[2022-08-20 13:24] cmsbuild commented on #39101
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_7-el8_ppc64le_gcc10/2158

[2022-08-20 13:24] cmsbuild commented on #39101
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_7-el8_amd64_gcc10/2157

[2022-08-20 13:24] cmsbuild commented on #39101
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_7-slc7_amd64_gcc10/2159

[2022-08-20 17:21] perrotta opened #39124 "Unphysical col and/or row reported by CTPPSPixelDataFormatter:"
As pointed out in https://github.com/cms-sw/cmssw/pull/39059#issuecomment-1219743725, since the implementation og the wf 1045 the following warning message appears in its log:
[code]
This points out to an issue to be solved in the PPS code and/or conditions.

It is currently followed up by @cms-sw/ctpps-dpg-l2, see https://github.com/cms-sw/cmssw/pull/39059#issuecomment-1221327824, but let open th

[2022-08-20 17:21] cmsbuild commented on #39124
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-20 17:24] perrotta commented on #39124
assign reconstruction

[2022-08-20 17:25] cmsbuild commented on #39124
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-20 22:42] pkalbhor commented on #37976
Faced similar issue during test of alca validation workflows. Raise a PR to address this issue [PR#39127](https://github.com/cms-sw/cmssw/pull/39127).
Expanding imports via `exec`  in same code where `ConfigBuilder` object is created is problematic.
Apparently fix is to expand imports in a sub-shell, which is why `edmConfigDump` gives correct result even though below lines from `cmsDriver.py` perf

[2022-08-21 15:58] missirol commented on #37976
Since this is somewhat related to #35858, I tried to understand the problem. My knowledge in `python` is basic, so the following is a bit vague.

I see that when `exec` is called in `cmsDriver.py`, the `process.schedule` object is `None` (as expected) up until the call
[code]
but at the time of the `exec` call that import is cached in `sys.modules`, and after that `load` call via `exec`, somehow `

[2022-08-22 10:35] mmusich commented on #39026
+1
   * solved with https://github.com/cms-sw/cmssw/pull/39056, tested successfully on run [356948](https://cmsoms.cern.ch/cms/runs/report?cms_run=356948) in a Tier-0 replay: https://github.com/dmwm/T0/pull/4745

[2022-08-22 13:31] jpata opened #39131 "modernization of RPC code"
In https://github.com/cms-sw/cmssw/pull/39115 it became apparent that some RPC code used internally by the DPG is still using thread-unsafe `cout`.

Potentially also fillDescriptions should be implemented, a workflow to test these codes, and cleaning up unused codes as suggested here: https://github.com/cms-sw/cmssw/issues/33761

[2022-08-22 13:31] cmsbuild commented on #39131
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-22 13:32] jpata commented on #39131
assign reconstruction

[2022-08-22 13:32] cmsbuild commented on #39131
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-22 14:04] makortel opened #39134 "Compilation failure in HOCalibAnalyzer"
The `el8_ppc64le_gcc10` and `el8_aarch64_gcc10` builds if CMSSW_12_5_X_2022-08-21-2300 showed compilation errors in `Calibration/HcalCalibAlgos/plugins/HOCalibAnalyzer.cc`
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/el8_aarch64_gcc10/CMSSW_12_5_X_2022-08-21-2300/Calibration/HcalCalibAlgos

The ambiguity is caused by `0.1` being `double`, and non-qualified `abs()` returning `int` (`hoang` i

[2022-08-22 14:04] makortel commented on #39134
assign alca

[2022-08-22 14:04] cmsbuild commented on #39134
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-22 14:04] cmsbuild commented on #39134
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-22 14:05] makortel commented on #39134
I can't tell why we see this issue only now. https://github.com/cms-sw/cmssw/pull/39089 was merged since the previous successful `ppc64le` / `aarch64` builds (CMSSW_12_5_X_2022-08-19-2300), but as far as I can tell it does not touch anything related to the offending line.

[2022-08-22 14:07] makortel commented on #39134
Is the conversion to `int` intentional in `abs(1.0 * hoang)`? If not, the line could be changed to
[code]
(not sure if the explicit cast to `double` is really needed)

[2022-08-22 14:29] smuzaffar commented on #39134
I think the removal of `using namespace std;` [here[(https://github.com/cms-sw/cmssw/pull/39089/files#diff-8b78e30bb2687c39aaf6693591f93460d0873b31ce5a451c9736d093d3345a56L55) caused this. just use `sdt::abs` should fix this

[2022-08-22 14:43] makortel commented on #39134
Good catch! I would nevertheless recommend replacing `TMath::Max()` with `std::max()`.

[2022-08-22 14:43] tvami commented on #39134
@bsunanda please fix this, thanks!

[2022-08-22 15:52] makortel commented on #37976
If the problem indeed is that the `ConfigBuilder` ends up modifying the `cms.Schedule` object defined in the `HLT_Fake2_cff` python module, perhaps the `ConfigBuilder` should copy the `Schedule` object instead of modifying one defined elsewhere? (this is the general policy anyway for cff/cfi files, i.e. object should be modified only in the python modules that define them)

[2022-08-22 17:17] missirol commented on #37976
Agreed, and now it's clear that #35858 didn't comply with that policy.

I think it would look like this [*]. The copy in the output cfg itself, i.e.
[code]
is not strictly necessary for the issue at hand, but I guess it'd be preferred? (given the policy)

[*]
[code]

[2022-08-22 17:28] missirol commented on #39045
For reference, this type of crash occurred online again in runs 357759 and 357778.

(If it helps, we can get the problematic events from those runs, although there is already recipe to reproduce the crash.)

[2022-08-22 17:41] makortel commented on #37976
The situation is somewhat convoluted. In a sense the `ConfigBuilder` is constructing a `cfg` file, for which the rules are more relaxed because the `cfg` file is supposed to be the main Python "program" (and therefore all modifications of the objects in the `Process` should be safe). I'd bet the `Schedule` is not the only object being modified in the `ConfigBuilder`-generated code that makes this

[2022-08-22 17:42] emanueleusai commented on #38980
Hi it's not fixed yet, it looks like the fix we prepared increasing the tree size is not working. One of our SW engineers is now investigating it.

[2022-08-22 18:14] srimanob commented on #37976
What is the pros and cons to have `dump_python` the same as edmDumpConfig as proposed on #39127 ?

[2022-08-22 21:29] swagata87 commented on #39110
okay after a few more checks, the real issue seem to here:
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoParticleFlow/PFProducer/src/PFCandConnector.cc#L159-L161

before doing that division, we should check that the divisor is `>0`

with this patch, the issue seems to be solved:
[code]
I did not check the effect of the above patch on other objects (jet/met/tau e

[2022-08-23 04:55] perrotta commented on #39110
@swagata87 wouldn't it be enough checking that `momentumPrim.E() > 0` ?

[2022-08-23 07:11] kdlong commented on #39110
Thanks a lot @swagata87. I don't really understand how the energy can be zero here, is the p4 also fully zero? Can you share the setup you're using for testing (just rerunning reach on the RAW event you shared above)?

[2022-08-23 07:30] civanch commented on #37097
+1

the problem is fixed now

[2022-08-23 07:31] cmsbuild commented on #37097
This issue is fully signed and ready to be closed.

[2022-08-23 08:06] #38684 closed

[2022-08-23 08:23] swagata87 commented on #39110
Hello @perrotta, you are right;
The divisor is just `momentumPrim.E()`, so checking that to be `>0` is sufficient to solve the issue.

[2022-08-23 09:06] swagata87 commented on #39110
yeah.. no idea why `momentumPrim.E()` is zero,
actually `px`, `py`, `pz` are all zero in the 2 events where I am checking these things.

yes I am running the RECO step on RAW. Below is the setup I have:

1) Run3 DATA
`CMSSW_12_4_6`
Config file obtained with this cmsDriver command:
`cmsDriver.py  --filein  /store/data/Run2022C/EGamma/RAW/v1/000/355/872/00000/3b478527-d206-4b8e-8004-08e9aff7758b.roo

[2022-08-23 13:09] smuzaffar opened #39147 "[LTO] TestFWCoreFrameworkeventprocessor unit test failure"
Hi,
  `TestFWCoreFrameworkeventprocessor` unit test [fails for LTO IBs](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_LTO_X_2022-08-16-1100/unitTestLogs/FWCore/Framework#/24958). GDB shows that there are matching calls for `PyBind11ProcessDesc::PyBind11ProcessDesc(..)` and `PyBind11ProcessDesc::~PyBind11ProcessDesc()` (which initialize and destroy python interpreter) but

[2022-08-23 13:09] cmsbuild commented on #39147
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-23 13:09] smuzaffar commented on #39147
assign core

[2022-08-23 13:09] cmsbuild commented on #39147
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-23 13:54] Dr15Jones commented on #39147
So the code in question is:
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/FWCore/ParameterSetReader/src/ParameterSetReader.cc#L5-L7

Where not calling the destructor is a clear violation of C++'s rules. This seems like a bug in the LTO implementation.

[2022-08-23 13:57] Dr15Jones commented on #39147
Maybe one thing to try is to create a temporary named variable and see if that some how helps the optimizer
[code]

[2022-08-23 14:14] smuzaffar commented on #39147
@Dr15Jones , https://github.com/cms-sw/cmssw/issues/39147#issuecomment-1224116204 did not fix the issue.
Also note that all `edm::getPSetFromConfig(configuration)` calls before the last call at https://github.com/cms-sw/cmssw/blob/master/FWCore/Framework/test/eventprocessor_t.cppunit.cc#L542 worked fine and properly called the destructor. The 2nd call to `edm::getPSetFromConfig(const std::string&

[2022-08-23 14:25] smuzaffar commented on #39147
here is gdb stack strace
[code]

[2022-08-23 14:53] perrotta commented on #39124
@cms-sw/ctpps-dpg-l2

[2022-08-23 15:40] mmusich commented on #38939
there's no equivalent (yet) for Run3 as we didn't have yet a high beta star run.
https://github.com/cms-sw/cmssw/tree/master/Configuration/Eras/python

I don't quite understand the point of changing the input of this wf, since I think it was expressly designed to test the reconstruction with high beta start (tracking) setup

[2022-08-23 15:49] mmusich commented on #38939
@mileva

is there any downstream consumer of CPPF digis? if we know that the data is corrupt exactly in the run range in which we have the high beta star can the unpacker be removed in the sequence run in that era?

[2022-08-23 15:54] mileva commented on #38939
Hi @mmusich ,
In fact I tried to explain the reason for the crash with the this workflow - namely the cppf data were corrupted in the input run, and the reason for the crash is not in the proposed pull request, but the data.
And I tried the same workflow with one of the recent runs with available data on eos to see that the software runs, nothing more.
I guess that the L1/CPPF/DQM code just needs

[2022-08-23 15:56] mmusich commented on #38939
@mileva

yes, I understand, but changing the input data is NOT an option, unless we want to give up testing the high beta* reco...

[2022-08-23 16:09] mileva commented on #38939
In fact all the 2018A data before run 315764 are affected. The issue happened somewhere in March, before the start of data taking.
The CPPF digis are called by the L1TStage2Emulator. But I think at that moment (2018A) L1 didn't use them and just produced the cppf clusters on flight using the RPCDigis on the emulation step. (CPPF concentrates rpc digis in the endcap and clusterize them)
So, I guess

[2022-08-23 16:14] kskovpen commented on #38939
Does it imply modifying some specific step of this workflow or its désactivation in IBs? In the former case, how it should be modified?

[2022-08-23 16:16] fabferro commented on #39124
We think it may be due to some corrupted data in a few events of the run. We are investigating. If it's confirmed the errors can be considered harmless for testing purposes.

[2022-08-23 16:27] mileva commented on #38939
Just to be clear! I don't think the problem is in the workflow. The workflow shows that there is a problem with the particular pull request.
 It might happen that the CPPF data will be corrupted again. So, some checks to not run over corrupted data in the L1/CPPF/DQM needs to be implemented.
But I am not an expert and could be I am wrong.

[2022-08-23 16:33] kskovpen commented on #38939
As @makortel has mentioned above, the problem is at step3 of 136.8561. Anyhow, if experts could comment on how relevant this wf is for Run3 (as it stands now), it would help to decide on a proper action.

[2022-08-23 16:50] mmusich commented on #38939
@kskovpen

this wf has no relevance whatsoever for run-3, but it is there to ensure we can still reconstruct properly the run2 high beta star data. I think someone with higher paygrade than me should decide if this is something that CMS wants to keep being able to do, but I don't see why that would not be the case.
Having said that to me it seems that the right course of action is to provide these

[2022-08-23 16:59] mmusich commented on #38939
So, I guess there will be no problem the CPPFRPCunpacker to be removed for this particular workflow.

by the way removing the CPPF unpacker results in

[code]

so, there *are* downstream consumers.

[2022-08-23 18:04] makortel commented on #39147
I took a look of what happens inside the call from  https://github.com/cms-sw/cmssw/blob/1ce6a20d05a96a0a336eb63e2b3c56b7c028c3ef/FWCore/Framework/test/eventprocessor_t.cppunit.cc#L542 . During the call, an exception of type `pybind11::error_already_set` is thrown, with a stack trace (from `catch throw`)
[code]
(note that line numbers do not correspond to `master` as I've instrumented the code a l

[2022-08-23 20:18] makortel commented on #39147
Seems that this did the trick, see https://github.com/cms-sw/cmssw/pull/39157

[2022-08-23 20:37] emanueleusai commented on #39107
solved by https://github.com/cms-sw/cmssw/pull/39137 and https://github.com/cms-sw/cmssw/pull/39136
thanks @smuzaffar

[2022-08-23 20:38] cmsbuild commented on #39107
This issue is fully signed and ready to be closed.

[2022-08-24 08:50] AdrianoDee commented on #39045
Hi, I've done some investigations on top of those done by @ferencek and I've found that for the detID that are failing something weird happens. By modifying `SiPixelRawToClusterGPUKernel.cu` with

[code]

what I see (I'm clamping the output here) is that the words on CPU are OK, e.g:

[code]

while on GPU (the last number being the raw detID and there's the incriminated one, `344794116`)

[code]

[2022-08-24 09:13] #39107 closed

[2022-08-24 09:15] #38680 closed

[2022-08-24 09:19] smuzaffar commented on #33667
@VinInn , we have updated cmssw build rules. Now there is special `LTO_FLAGS` which are not used when cuda sources are compiled. [LTO IBs](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/tue/12.5.LTO-tue-11/CMSSW_12_5_LTO_X_2022-08-23-1100) look good now. Do you want to keep this issue open or should I close it ?

[2022-08-24 11:10] jpata commented on #39110
Even though #39120 will mitigate it for photons, I could imagine there's a high likelihood a NaN PFCandidate will mess up also other things.

Therefore, @cms-sw/pf-l2 @laurenhay it might be useful to consider a fix in PF on a short timescale.

[2022-08-24 11:22] jpata commented on #39106
EDIT: I realized we are talking here about infinite forward compatibility (not backwards compatiblity) if I'm not mistaken, so I edited the title accordingly.

[2022-08-24 11:30] davidlange6 commented on #39106
Ensure that old data can be read with new software is usually called backwards compatibility

[2022-08-24 11:41] jpata commented on #39106
ah.. I may be confused.

"Backward compatibility is a design that is compatible with previous versions of itself. Forward compatibility is a design that is compatible with future versions of itself."

Now we are trying to make sure that RAW we generate today will be readable in the future if something changes in in upcoming CMSSW EDM, if I'm not mistaken.

Quoting Matti:

[2022-08-24 12:12] tvami commented on #39134
+alca
 * resolved in https://github.com/cms-sw/cmssw/pull/39142

[2022-08-24 12:12] cmsbuild commented on #39134
This issue is fully signed and ready to be closed.

[2022-08-24 12:24] #39134 closed

[2022-08-24 12:47] perrotta opened #39174 "Build CMSSW_12_4_8"
For the re-reco fo the first part of 2022 data

[2022-08-24 12:48] cmsbuild commented on #39174
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-24 12:49] perrotta commented on #39174
+1

[2022-08-24 12:49] cmsbuild commented on #39174
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-08-24 12:49] cmsbuild commented on #39174
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-08-24 12:50] dan131riley commented on #39045
Shouldn't that be
[code]
I'm surprised the compiler didn't warn, modern compilers are generally pretty good at spotting implicit type conversions in printf.

[2022-08-24 12:51] cmsbuild commented on #39174
The build has started for slc7_amd64_gcc10 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3617/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-24 12:51] cmsbuild commented on #39174
The build has started for el8_amd64_gcc10 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3616/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-24 12:51] cmsbuild commented on #39174
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3618/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-24 12:51] cmsbuild commented on #39174
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3619/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-24 12:57] AdrianoDee commented on #39045
You are right. Sorry for the **huge** noise. For the warning I imagine that's `nvcc` not being that smart or me not noticing it.

[2022-08-24 13:14] tvami commented on #38964
@valsdav do you have any news?

[2022-08-24 13:15] tvami commented on #35005
Hi @rappoccio do you know anything about the status of this fix?

[2022-08-24 13:36] makortel commented on #39106
Correct. Across major versions of CMSSW the backwards compatibility is _guaranteed_ only for RAW data. In practice the situation tends to be much better and all data tiers (event contents?) are backwards compatible most of the time, but this is achieved only as "reasonable effort" basis.

I _think_ we don't formally guarantee forward compatibility, even if it was utilized in the UL MC campaigns to

[2022-08-24 13:43] #39147 closed

[2022-08-24 13:45] makortel commented on #39147
+core

[2022-08-24 13:45] cmsbuild commented on #39147
This issue is fully signed and ready to be closed.

[2022-08-24 13:55] kdlong commented on #39110
Hi @jpata yes I am taking a look. We seem to have candidates with 0's for kinematics before the corrections which puts them to nans. Trying to understand and fix this early in the chain, will have news later this week.

[2022-08-24 14:19] #33667 closed

[2022-08-24 14:27] makortel commented on #33667
+1

[2022-08-24 14:28] cmsbuild commented on #33667
This issue is fully signed and ready to be closed.

[2022-08-24 14:29] smuzaffar commented on #36788
any update on this? We still have over 80 workflows failing for aarch64 IBs due to this. Error message in latest tests is
[code]

[2022-08-24 15:09] cmsbuild commented on #39174
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_8-el8_aarch64_gcc10/3618
Some tests (

[2022-08-24 15:14] cmsbuild commented on #39174
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_8-el8_ppc64le_gcc10/3619
Some tests (

[2022-08-24 15:59] cmsbuild commented on #39174
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_8-el8_aarch64_gcc10/3618

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-24 16:01] makortel opened #39180 "DiMuonMassBiasClient does not support concurrent lumis"
Many workflows in CMSSW_12_5_X_2022-08-24-1100 fail with
[code]

[2022-08-24 16:02] makortel commented on #39180
assign alca

[2022-08-24 16:02] cmsbuild commented on #39180
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-24 16:02] cmsbuild commented on #39180
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-24 16:07] makortel commented on #39180
Caused by https://github.com/cms-sw/cmssw/pull/39148 and `DiMuonMassBiasClient` being an `DQMEDHarvester`.

A quick workaround would be to amend https://github.com/cms-sw/cmssw/blob/f3a190193507fa09d12f82a397a350766f523629/Configuration/AlCa/python/autoAlca.py#L53-L54

but given the widespread failures I'm wondering if this would cause too many job types to not sure concurrent lumis?

[2022-08-24 16:08] makortel commented on #39180
How?

[2022-08-24 16:11] cmsbuild commented on #39174
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_8-slc7_amd64_gcc10/3617
Some tests ( ru

[2022-08-24 16:14] cmsbuild commented on #39174
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_8-el8_ppc64le_gcc10/3619

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-24 16:17] swagata87 commented on #36788
There is a call to `ChiSquaredProbability`from here: https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoEgamma/EgammaPhotonProducers/src/ConversionProducer.cc#L586 , this could be related to the crash reported here. But I'm not entirely sure.

[2022-08-24 16:22] cmsbuild commented on #39174
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_8-el8_amd64_gcc10/3616
Some tests ( runT

[2022-08-24 16:27] perrotta commented on #39174
upload all

[2022-08-24 16:27] perrotta commented on #39174
upload all

[2022-08-24 16:28] cmsbuild commented on #39174
Queing Jenkins upload for slc7_amd64_gcc10

[2022-08-24 16:28] cmsbuild commented on #39174
Queing Jenkins upload for el8_amd64_gcc10

[2022-08-24 16:28] cmsbuild commented on #39174
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-08-24 16:28] cmsbuild commented on #39174
The upload has started for el8_amd64_gcc10 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2454/console

[2022-08-24 16:28] cmsbuild commented on #39174
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2453/console

[2022-08-24 16:29] cmsbuild commented on #39174
The upload has started for slc7_amd64_gcc10 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2456/console

[2022-08-24 16:29] cmsbuild commented on #39174
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2455/console

[2022-08-24 16:30] cmsbuild commented on #39174
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_8-el8_ppc64le_gcc10/2455

[2022-08-24 16:30] cmsbuild commented on #39174
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_8-slc7_amd64_gcc10/2456

[2022-08-24 16:30] cmsbuild commented on #39174
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_8-el8_aarch64_gcc10/2453

[2022-08-24 16:30] cmsbuild commented on #39174
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_8-el8_amd64_gcc10/2454

[2022-08-24 16:31] slava77 commented on #36788
that's the end point of the problem (the input is nan).
Perhaps the easiest is to check for a nan here?

My other idea (implied in mentioning that the particle state is way outside of the tracker) is that a check for the particle/track to be inside of the tracker done upstream would be better

[2022-08-24 16:34] perrotta commented on #39174
release-notes

[2022-08-24 16:34] cmsbuild commented on #39174
Generating release notes since CMSSW_12_4_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-24 16:34] cmsbuild commented on #39174
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_8 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_8

For the re-reco fo the first p

[2022-08-24 16:44] cmsbuild commented on #39174
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_8

[2022-08-24 16:56] mmusich commented on #39180
https://github.com/cms-sw/cmssw/pull/39173/commits/dcc486800196d06e26f8cf9e4efc926e86a1e169 in https://github.com/cms-sw/cmssw/pull/39173 should solve for the time being.
In the long term we'll need a better solution.

[2022-08-24 16:59] cmsbuild commented on #39174
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_8-slc7_amd64_gcc10/3617

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-24 17:00] mmusich commented on #39180
unassign alca

[2022-08-24 17:00] mmusich commented on #39180
assign dqm

[2022-08-24 17:00] cmsbuild commented on #39180
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-24 17:09] cmsbuild commented on #39174
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_8-el8_amd64_gcc10/3616

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-24 17:14] thomreis commented on #38619
Hi @fwyzard , working on this issue at the moment. The first two tasks are done. For the single buffer data format I remember you mentioning that a generic format is being worked on. What is the status of the development there? I found #37952 but it is not merged yet.

[2022-08-24 17:35] swagata87 commented on #36788
I was a bit surprised to see this:
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoEgamma/EgammaPhotonProducers/src/ConversionProducer.cc#L585-L586
It is being checked if `theConversionVertex` is valid or not, and the check passes although the `theConversionVertex` has `nan` chi2() and ndof()?
Will it make sense to update vertex's `isValid()` check to catch `nan`?

[2022-08-24 18:06] mmusich commented on #39180
What are the options here?
It needs to be a harvester in order to fetch the MEs it consumes, since `DQMEDAnalyzer` doesn't have `endJob`-like methods and the fitting needs to happen after having seen all the data of the run.
AFAIU there's no concurrent lumi safe version of a `DQMEDHarvester`.
Also I would not know how to move it to another harvesting path, because the `DQMEDAnalyzer` runs together

[2022-08-24 19:08] makortel commented on #39180
Maybe it would be time to seriously consider one? (although I guess it could be a major effort)

[2022-08-24 19:28] makortel opened #39182 "LTO build failure on gcc11"
CMSSW_12_5_LTO_X_2022-08-24-1100 failed to compile with gcc11
[code]
(for `CondFormats/L1TObjects`, `Fireworks/Core`, and `SimDataFormats/GeneratorProducts`)

[2022-08-24 19:28] makortel commented on #39182
assign core

[2022-08-24 19:28] cmsbuild commented on #39182
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-24 19:28] cmsbuild commented on #39182
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-24 19:34] makortel commented on #39182
I found https://gcc.gnu.org/bugzilla/show_bug.cgi?id=105671 which says

and that it would be fixed in GCC 11.4. If I'm not mistaken, we're still using GCC 11.2.1
https://github.com/cms-sw/cmsdist/blob/180a2a357f656ccc9f76773b626ea3d0b217bf33/gcc.spec#L1

I think we should update GCC to 11.4. If we do that, would we still have time to include 11.4 in the GCC 11 validation with pre5?

[2022-08-24 19:37] makortel commented on #39182
We have also an earlier issue #36480 with link problems related to `_M_high_mark()`, in conjunction with ASAN in GCC 11. Back then we just removed the pointer-compare check because it was claimed to be "not production ready". I'd guess the GCC update would fix that problem as well.

[2022-08-24 20:56] slava77 commented on #36788
After staring at the issue longer, I agree with the proposed solution

[2022-08-25 05:51] #39180 closed

[2022-08-25 06:14] mmusich commented on #39180
@cms-sw/dqm-l2 can you please comment on the feasibility of that?
Would be appropriate openining an *ad hoc* issue to remind about it?

[2022-08-25 06:37] kskovpen commented on #38939
Shall we disable 136.8561 in IBs and wait for further indications from the relevant groups?

[2022-08-25 06:42] smuzaffar commented on #39182
GCC 11.4 is not yet out and I would not suggest to jump to latest gcc-11 branch changes and include them for pre5 validation. We can just apply https://github.com/gcc-mirror/gcc/commit/03af8492bee6243a9d10e78fea1a3e423bd5f9cd patch to our existing gcc build

[2022-08-25 07:08] emanueleusai commented on #39180
I'm not sure how to put together lumi safe version of a DQMEDHarvester, but as DQM we're open to look into it and discuss with the CMSSW experts. So I support opening a dedicated issue to keep track of the task.

[2022-08-25 07:21] perrotta commented on #38939
Trying to find a solution for this longstanding issue: @mileva, could you or someone in your group please commit to provide those sanity checks in the code? If not for pre5 (today-ish), they should be made available before we build the final 12_5_0, so that this particolar workflow can continue to be tested in the cycle

[2022-08-25 07:32] fwyzard commented on #38619
hi @thomreis

We have it implemented for the Alpaka port, see for example my slides from the GPU meeting last Monday or the Core Software meeting last Tuesday (https://indico.cern.ch/event/1192819/contributions/5014619/attachments/2496301/4287337/Alpaka%20GPU%20framework.pdf) (yes, we need better documentation).

If you would like to give it a try already for the CUDA version of the modules, we ca

[2022-08-25 08:37] thomreis commented on #38619
Thanks @fwyzard , in that case I will integrate the first two tasks already. We will probably move the code to Alpaka anyway so the single buffer can be done then.

[2022-08-25 10:22] civanch commented on #38114
+1

[2022-08-25 10:22] cmsbuild commented on #38114
This issue is fully signed and ready to be closed.

[2022-08-25 10:24] civanch commented on #37097
@iarspider , you may close this issue now.

[2022-08-25 10:26] civanch commented on #32905
@kpedro88 , this issue may be closed now.

[2022-08-25 10:26] cmsbuild commented on #32905
This issue is fully signed and ready to be closed.

[2022-08-25 10:28] srimanob commented on #38114
Thanks.

[2022-08-25 10:28] #38114 closed

[2022-08-25 10:28] civanch commented on #31061
+1

[2022-08-25 10:29] civanch commented on #31010
+1

@kpedro88 , we can close this issue now.

[2022-08-25 10:29] cmsbuild commented on #31010
This issue is fully signed and ready to be closed.

[2022-08-25 12:41] #37097 closed

[2022-08-25 13:19] missirol commented on #37598
Another instance of the issue was in `CMSSW_12_5_X_2022-08-24-2300`.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_5_X_2022-08-24-2300/el8_amd64_gcc10/HLT_Integration_HIon_DATA.log
[code]

[2022-08-25 13:32] makortel commented on #39182
Sounds good, thanks.

[2022-08-25 14:22] mileva commented on #38939
Hi @perrotta
I can try to have a look or to ask some from the RPCs colleagues. However for today I am not able to help, as I am in the mountains. When the final 12_5_0 build is scheduled - 20.09 or earlier?
Roumyana

[2022-08-25 14:39] perrotta commented on #38939
Sep 20, see https://twiki.cern.ch/twiki/bin/viewauth/CMS/CMSSW_12_5_0
However, I would aim for a fix well before that date, in order to have still a few IBs available in which the wf can be tested

[2022-08-25 15:23] perrotta opened #39194 "Remaining issues after the merging of "L1T Phase-2, remove old simulation and adapt DQM (#38442)""
The PR in object was merged in time for 12_5_0_pre5, but there were several issues that remained open, and that should all get fixed as soon as possible, and in any case before the final 12_5_0.
If I did not forget anything, the list of the still open issues is the following:

- [x] Change modules and class member names to lowercase, see https://github.com/cms-sw/cmssw/pull/38442#issuecomment-1223

[2022-08-25 15:23] perrotta commented on #39194
assign @cms-sw/l1-l2

[2022-08-25 15:23] cmsbuild commented on #39194
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-25 15:46] missirol commented on #39194
assign l1

(based on https://github.com/cms-sw/cmssw/issues/39194#issuecomment-1227414925 ; thanks @perrotta for opening the issue.)

Regarding item-1, I think the main point is the introduction of a naming convention, e.g. `l1t[Module]` (in addition to starting with lowercase letters), as mentioned in
https://github.com/cms-sw/cmssw/pull/38442#discussion_r952263162
https://github.com/cms-sw/cmssw

[2022-08-25 15:48] missirol commented on #39194
assign hlt

Items-2,3,4 concern the HLT Phase-2 menu (@trtomei).

[2022-08-25 15:48] cmsbuild commented on #39194
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-25 16:18] thomreis commented on #38619
#39195 takes care of the first two tasks.

- [x] To change the modules (EcalPhase2DigiToGPUProducer, EcalUncalibRecHitPhase2WeightsProducerGPU) such that they do not use the external_work template.
- [x] To modify the kernel to be able to run with any number of threads and blocks, by allowing the kernel to reconstruct as many channels per thread as is required.
- [ ] To use the single buffer data

[2022-08-25 16:35] tvami opened #39197 "Nano consumes alignments"
The following table was produced to see what records are consumed in which step:
https://twiki.cern.ch/twiki/bin/view/CMS/AlCaDBHLT2019#Table_of_conditions_for_2018_MC

As you can see the following records are consumed in the Nano step

| Record/Label	| GEN	| SIM	| DIGI|	L1	|DIGI2RAW	|HLT	|AOD	|MINIAOD|	NANOAOD|
|--- | --- | --- | --- | --- | --- | --- | --- | --- | ---|
|CSCAlignmentErrorExtended

[2022-08-25 16:35] cmsbuild commented on #39197
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-25 16:35] tvami commented on #39197
assing xpog

[2022-08-25 16:39] cmsbuild commented on #39197
New categories assigned: xpog

@mariadalfonso,@gouskos,@swertz,@vlimant you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-25 16:57] tvami commented on #39197
I also checked `CMSSW_12_4_8` and `CMSSW_12_5_X_2022-08-25-1100`, the alignment records are still consumed

[2022-08-25 17:23] kpedro88 commented on #31010
@civanch is there now a unit test that checks overlaps whenever someone adds a new phase 2 detector geometry?

[2022-08-25 17:24] #32905 closed

[2022-08-25 17:34] civanch commented on #31010
@kpedro88 , we have extended test which test overlaps in whatever geometry, which should be defined as an input parameter. Test has different levels of checks: 1mm, 0.1 mm, 0.01mm. These numbers are also configurable. We do not have automatic test, decides itself that a new geometry appears and it should be tested. We do not have plans to extend overlap testing facility because the current is now

[2022-08-25 17:37] kpedro88 commented on #31010
That is the topic of this issue.

[2022-08-25 18:53] makortel commented on #39064
assign core

[2022-08-25 18:54] cmsbuild commented on #39064
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-25 20:38] makortel commented on #39180
Let me backtrack a bit. Back in the days the stance of the DQM group was along "harvesting modules would never be run outside of specific harvesting jobs that are single-threaded". The DQM documentation in https://github.com/cms-sw/cmssw/blob/master/DQMServices/Core/README.md#processing-environments mentions `ALCARECO` and `ALCAHARVEST`. So the first question is, why could the `DiMuonMassBiasClien

[2022-08-26 04:42] pkalbhor commented on #37976
I do not see any side effect of the proposed solution(#39127). It is compact and does not interfere with any module. Would love to see experts' opinion and resolve the issue with the choices proposed by @makortel.

[2022-08-26 09:21] bbilin commented on #39069
Hi Maria,

To give a bit of context- the issue that was reported was concerning the miss of these bits in the Nano v9. The authors are not intending to use nanov10 and wanted to report that these were missing in nano v0.

Looking at the other merge requests; can it be that https://github.com/cms-sw/cmssw/pull/39043 is aleady incorporating those bits?

Sorry for the confusion.

B. (as SMP-V convene

[2022-08-26 09:27] mmusich commented on #39197
out of curiosity I tried  to run step2 of wf. 136.8523 by using an overridden tracker alignment record with a tag that doesn't have data on the run which is used for the relval, prepared via:

[code]

and then patching the configuration with:

[code]

in order to see what module would start the crash and I see:

[code]

[2022-08-26 09:48] smuzaffar opened #39212 "FWLite build errors"
@cecilecaillol @cms-sw/orp-l2 , Looks like https://github.com/cms-sw/cmssw/pull/38442 broke [fwlite builds](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/fwlite/el8_amd64_gcc10/www/thu/12.5-thu-23/CMSSW_12_5_X_2022-08-25-2300) as it added dependency on [L1Trigger/Phase2L1GMT/interface/Constants.h](https://github.com/cms-sw/cmssw/blob/master/L1Trigger/Phase2L1GMT/interface/Constants.h) for `D

[2022-08-26 09:48] cmsbuild commented on #39212
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-26 09:54] mariadalfonso commented on #39197
Another case of alignment dependency seems in the PPS

With this commit in 10_6 @nsmith was able to bypass it
i.e. commenting
nanoSequenceOnlyData = cms.Sequence(protonTables + lhcInfoTable)
https://github.com/cms-sw/cmssw/pull/39040/commits/cd90ed159e5829e0404841f478ea59615f88840f

[2022-08-26 09:57] mmusich commented on #39197
judging from the `table` above](https://github.com/cms-sw/cmssw/issues/39197#issue-1351173956) doesn't seem any PPS condition is used (at least for wf 136.8523)

[2022-08-26 10:02] mariadalfonso commented on #39197
The geometry is called here.
https://github.com/cms-sw/cmssw/pull/32616/files#diff-67a90255f126a36efd13f3396aa5aef7edb0ab7bd4744ece6c300e4f0ea7113bR158

[2022-08-26 10:04] mmusich commented on #39197
geometry is not alignment (which is the topic of the issue...)

[2022-08-26 10:07] smuzaffar commented on #39212
please note that fwlite releases are build using a limited number of cmssw packages. List of what is included in fwlite release is defined in https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_5_X/master/fwlite_build_set.file. As L1Trigger/Phase2L1GMT package is not part of fwlite distribution that is why build fails complaining about missing header.  There are couple ways to fix this issue

1. As

[2022-08-26 10:18] mariadalfonso commented on #39197
ok, this is Run2 and we explicitly re-run the tagger since wasn't in UL-mini.
But for Run3 mini the re-running should be off and dependency from BoostedJetONNXJetTagsProducer/'pfParticleNetMassRegressionJetTagsAK8WithDeepInfo' should be gone
https://github.com/cms-sw/cmssw/blob/b54d06d5447f6bb55d1da6c42d3a413f526150a0/PhysicsTools/NanoAOD/python/jetsAK8_cff.py#L261

[2022-08-26 10:22] smuzaffar commented on #39212
I opened https://github.com/cms-sw/cmssw/pull/39213 to move move the header into dataformat package.

[2022-08-26 10:23] perrotta commented on #39212
Thank you Shahzad!
That seems to be the best option

[2022-08-26 10:23] perrotta commented on #39212
assign @cms-sw/l1-l2

[2022-08-26 10:26] cmsbuild commented on #39212
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-26 10:28] perrotta commented on #39212
@cbotta

[2022-08-26 11:47] mrcthiel commented on #39069
Hi Maria and Bugra,

Sorry for the late reply, I'm taking some days off and I'm not with my laptop now.

Yes, the modification is easily mergeble. I'll be back on Monday and I can work on that.

Cheers,
Mauricio

[2022-08-26 11:53] tvami commented on #39197
@mariadalfonso

Right but you are asking us to provide you GTs for Run-2 data as well

Ok that sounds reassuring, can you please post the cmsDriver command to reproduce the Run-3 wf? is there a runTheMatrix wf too for that? I'll check that too. But even if that's the true, it's just half the solution to the problem.

[2022-08-26 12:05] srimanob commented on #37351
@sbein Should this issue be closed? Or something remain to follow up for Run-3 FastSim.

[2022-08-26 12:25] srimanob opened #39214 "Fail comparison of the empty simPVZ (MTD vertices) in PR test"
This issue is to follow the issue of always fail comparison of the empty simPVZ histogram under MTD vertices.

FYI @fabiocos @perrotta I think we did have a short discussion on this before but I can't find it. We can close this issue if already open.

<img width="261" alt="Screen Shot 2565-08-26 at 19 22 05" src="https://user-images.githubusercontent.com/4701449/186902741-ade6500d-a228-4d7c-b6f2-b

[2022-08-26 12:25] mmusich commented on #39197
a consumes statement to `TransientTrackRecord` is declared here,

https://github.com/cms-sw/cmssw/blob/24e950159584b8260e4d3ca0085d9c24a31a3101/RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc#L197-L198

but I don't see where in that module it is consumed.

[2022-08-26 12:25] cmsbuild commented on #39214
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-26 12:28] tvami commented on #39214
assign upgrade

[2022-08-26 12:29] cmsbuild commented on #39214
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-26 12:29] perrotta commented on #39214
assign @cms-sw/mtd-dpg-l2 @cms-sw/dqm-integration-developers

[2022-08-26 12:32] tvami commented on #39197
Isnt that
https://github.com/cms-sw/cmssw/blob/master/RecoBTag/FeatureTools/plugins/DeepDoubleXTagInfoProducer.cc#L118
and then
https://github.com/cms-sw/cmssw/blob/master/RecoBTag/FeatureTools/plugins/DeepDoubleXTagInfoProducer.cc#L224

Or this `DeepDoubleXTagInfo` is not relevant for Nano?

[2022-08-26 12:36] mmusich commented on #39197
it's not in the stack trace I posted above...

[2022-08-26 12:38] tvami commented on #39197
Right, in that stack trace I also didnt find anything, I found this other thing instead, and now I'm asking if that's relevant or not.

[2022-08-26 12:43] mmusich commented on #39197
I think I pointed already to the exact point in which there is the consumes statement :)

[2022-08-26 13:29] perrotta commented on #39214
assign l1 mtd-dpg

[2022-08-26 13:32] makortel commented on #39212
I agree, even outside of FWLite a DataFormat package should not depend a package under L1Trigger.

[2022-08-26 13:38] slava77 commented on #39197
this pointed to use of `TransientTrackBuilder`. This is used in IPTools, the primary tool for many btagging algos.
Poking around a bit, it seems like the `TrackingGeometry` is used mainly for the track inner/outer state Surface building.

[2022-08-26 13:51] makortel commented on #39214
assign dqm, mtd-dpg

[2022-08-26 13:52] cmsbuild commented on #39214
New categories assigned: dqm,mtd-dpg

@jfernan2,@fabiocos,@ahmad3213,@parbol,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-26 14:38] cmsbuild commented on #39174
The cleanup has started for el8_aarch64_gcc10

[2022-08-26 14:38] cmsbuild commented on #39174
The cleanup has started for slc7_amd64_gcc10

[2022-08-26 14:38] cmsbuild commented on #39174
The cleanup has started for el8_amd64_gcc10

[2022-08-26 14:38] cmsbuild commented on #39174
The cleanup has started for el8_ppc64le_gcc10

[2022-08-26 14:38] #39174 closed

[2022-08-26 14:39] cmsbuild commented on #39174
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_8-el8_ppc64le_gcc10/2162

[2022-08-26 14:39] cmsbuild commented on #39174
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_8-el8_amd64_gcc10/2161

[2022-08-26 14:41] slava77 commented on #39197
The TSOS(state on surface)  built from TrackExtra may not be meaningful though if the surface derived from the DetId and new geometry is different from the free state. 🤔

[2022-08-26 14:59] mmusich commented on #39180
So after thinking a bit, I came up with https://github.com/cms-sw/cmssw/pull/39217
In that PR I move the `DiMuonMassBiasClient` to a regular harvesting path, actually into the `DQMHarvestMuon` sequence which as per `autoDQM` is run in the `@muon` sequence

https://github.com/cms-sw/cmssw/blob/d9d4aec32230b7d62e51c4622dfd654e8cea106a/DQMOffline/Configuration/python/autoDQM.py#L96-L99

that would be

[2022-08-26 15:16] tvami commented on #39197
So I ran in `CMSSW_12_5_X_2022-08-25-1100` the following:
[code]

Indeed for Run-3 in master, we dont have the alignment dependency, so this issue is about Run-2 only (which is anyway the era that triggered the discussion).

[2022-08-26 17:40] makortel commented on #39064
I was able to reproduce the exception with the "Run-357442" by adding a 1-second sleep between the iterations of the loop
https://github.com/cms-sw/cmssw/blob/d21a67ba82ceab762e54b1529b8da55c874d528e/FWCore/Framework/src/Event.cc#L220-L229
for the `hltL2Muons` module (running with 1 stream and 4 threads).

I tested the mitigation in #39201 with this setup, and the test job succeeded. Of course thi

[2022-08-26 19:08] makortel opened #39221 "Refactor functionality needed by edm::Callback out from edm::ESProducer"
After #39156 the `edm::ESProducer` uses `edm::Callback` with the `edm::ESProducer` itself as the first template argument (instead of the concrete ESProducer as it was earlier). In principle the `edm::Callback` could be changed to always use `edm::ESProducer` and remove the first template parameter, but the tests in `callback_t.cppunit.cc` rely on a mock implementation and using the full `edm::ESPr

[2022-08-26 19:08] makortel commented on #39221
assign core

[2022-08-26 19:08] cmsbuild commented on #39221
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-26 19:08] cmsbuild commented on #39221
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-26 21:31] mariadalfonso commented on #39197
for completeness: can you list the  Record Label used here  ?

[2022-08-26 22:27] tvami commented on #39197
GBRDWrapperRcd / electron_eb_ECALTRK: GEDelectron_track_EBCorrection_80X_EGM_v4
GBRDWrapperRcd / electron_eb_ECALTRK_lowpt: GEDelectron_track_lowpt_EBCorrection_80X_EGM_v4
GBRDWrapperRcd / electron_eb_ECALTRK_lowpt_var: GEDelectron_track_lowpt_EBUncertainty_80X_EGM_v4
GBRDWrapperRcd / electron_eb_ECALTRK_var: GEDelectron_track_EBUncertainty_80X_EGM_v4
GBRDWrapperRcd / electron_ee_ECALTRK: GEDelect

[2022-08-27 05:01] perrotta commented on #39212
FWLITE build is succesfull in CMSSW_12_5_X_2022-08-26-2300 after https://github.com/cms-sw/cmssw/pull/39213: thank you @smuzaffar
I think that this issue can be closed now

[2022-08-27 05:02] perrotta opened #39222 "Build CMSSW_12_5_0_pre5"
Last open pre-release in the 12_5_X cycle

[2022-08-27 05:02] cmsbuild commented on #39222
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-27 05:03] perrotta commented on #39222
+1

[2022-08-27 05:03] cmsbuild commented on #39222
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-08-27 05:03] cmsbuild commented on #39222
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-08-27 05:05] cmsbuild commented on #39222
The build has started for el8_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3620/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-27 05:15] cmsbuild commented on #39222
The build has started for el8_amd64_gcc11 in cmsbuild90-rh8.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3621/console
CMSDIST Branch: [IB/CMSSW_12_5_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-27 05:25] cmsbuild commented on #39222
The build has started for slc7_amd64_gcc10 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3622/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-27 06:02] cmsbuild commented on #39222
The build has started for el8_aarch64_gcc10 in olarm-99-102c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3623/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-27 06:47] cmsbuild commented on #39222
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3624/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-27 08:08] smuzaffar commented on #39212
agree , closing it now

[2022-08-27 08:08] #39212 closed

[2022-08-27 10:37] cmsbuild commented on #39222
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-el8_amd64_gcc10/3620
Some tests (

[2022-08-27 10:40] cmsbuild commented on #39222
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-slc7_amd64_gcc10/3622
Some tests

[2022-08-27 10:57] cmsbuild commented on #39222
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-el8_ppc64le_gcc10/3624
Some tes

[2022-08-27 11:24] cmsbuild commented on #39222
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-el8_amd64_gcc10/3620

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-27 11:28] cmsbuild commented on #39222
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-slc7_amd64_gcc10/3622

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-27 11:48] cmsbuild commented on #39222
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-el8_ppc64le_gcc10/3624

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-27 22:11] cmsbuild commented on #39222
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-el8_amd64_gcc11/3621
Some tests (

[2022-08-27 23:51] cmsbuild commented on #39222
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-el8_aarch64_gcc10/3623
Some tes

[2022-08-28 02:24] cmsbuild commented on #39222
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5-el8_aarch64_gcc10/3623

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-28 05:20] perrotta commented on #39222
upload all

[2022-08-28 05:21] cmsbuild commented on #39222
Queing Jenkins upload for slc7_amd64_gcc10

[2022-08-28 05:21] cmsbuild commented on #39222
Queing Jenkins upload for el8_amd64_gcc10

[2022-08-28 05:21] cmsbuild commented on #39222
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-08-28 05:21] cmsbuild commented on #39222
Queing Jenkins upload for el8_aarch64_gcc10

[2022-08-28 05:21] cmsbuild commented on #39222
Queing Jenkins upload for el8_amd64_gcc11

[2022-08-28 05:21] cmsbuild commented on #39222
The upload has started for el8_amd64_gcc11 in cmsbuild90-rh8.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2459/console

[2022-08-28 05:21] cmsbuild commented on #39222
The upload has started for el8_aarch64_gcc10 in olarm-102.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2457/console

[2022-08-28 05:21] cmsbuild commented on #39222
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2460/console

[2022-08-28 05:22] cmsbuild commented on #39222
The upload has started for el8_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2458/console

[2022-08-28 05:22] cmsbuild commented on #39222
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre5-el8_ppc64le_gcc10/2460

[2022-08-28 05:23] cmsbuild commented on #39222
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre5-el8_amd64_gcc11/2459

[2022-08-28 05:23] cmsbuild commented on #39222
The upload has started for slc7_amd64_gcc10 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2461/console

[2022-08-28 05:24] cmsbuild commented on #39222
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre5-el8_aarch64_gcc10/2457

[2022-08-28 05:27] cmsbuild commented on #39222
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre5-el8_amd64_gcc10/2458

[2022-08-28 05:29] cmsbuild commented on #39222
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre5-slc7_amd64_gcc10/2461

[2022-08-28 05:36] perrotta commented on #39222
release-notes

[2022-08-28 05:36] cmsbuild commented on #39222
Generating release notes since CMSSW_12_5_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-28 05:36] cmsbuild commented on #39222
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_5_0_pre5 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_5_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_0_pre5

[2022-08-28 05:38] cmsbuild commented on #39222
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre5

[2022-08-28 06:58] perrotta opened #39223 "Build CMSSW_12_5_0_pre5_ROOT626"
CMSSW_COMMIT:CMSSW_12_5_0_pre5
CMSDIST_COMMIT:8bb3afb545c926515589d826f6688ab1cf3a1d8c
ARCHITECTURE:el8_amd64_gcc10

[2022-08-28 06:58] cmsbuild commented on #39223
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-28 07:02] perrotta commented on #39223
@smuzaffar, we are requested to build a ROOT626 release with 12_5_0_pre5 for validation.
Could you please check if I added the correct parameters here? In particular, the CMSDIST_COMMIT: for which I've taken the last one in https://github.com/cms-sw/cmsdist/compare/REL/CMSSW_12_5_0_pre4/el8_amd64_gcc10...REL/CMSSW_12_5_0_pre5/el8_amd64_gcc10

Feel free of saying "+1" yourself if you think it is co

[2022-08-28 07:52] smuzaffar commented on #39223
@perrotta , we need to use CMSSW_12_5_ROOT6_X branch of cms-sw/cmssw for ROOT6 release. This issue is not going to build correct ROOT6 release, I am going to close this and open a new one

[2022-08-28 07:52] #39223 closed

[2022-08-28 07:53] smuzaffar opened #39224 "Build CMSSW_12_5_0_pre5_ROOT626"

[2022-08-28 07:53] cmsbuild commented on #39224
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-28 07:54] smuzaffar commented on #39224
+1

[2022-08-28 07:54] cmsbuild commented on #39224
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre5_ROOT626. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-08-28 07:54] cmsbuild commented on #39224
Queuing Jenkins build for the following architectures: el8_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2022-08-28 10:19] cmsbuild commented on #39224
The build has started for el8_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3625/console
CMSDIST Branch: [IB/CMSSW_12_5_X/rootnext](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/rootnext), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-28 12:20] perrotta commented on #39224
Thank you @smuzaffar

[2022-08-28 13:32] perrotta opened #39225 "Build CMSSW_12_6_0_pre1"
Starting pre-release, identical to CMSSW_12_5_0_pre5

[2022-08-28 13:32] cmsbuild commented on #39225
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-28 13:33] perrotta commented on #39225
+1

[2022-08-28 13:33] cmsbuild commented on #39225
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-08-28 13:33] cmsbuild commented on #39225
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-08-28 13:34] cmsbuild commented on #39225
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3626/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-28 13:35] cmsbuild commented on #39225
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3627/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-28 13:39] cmsbuild commented on #39225
The build has started for el8_amd64_gcc10 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3628/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-28 13:42] cmsbuild commented on #39225
The build has started for el8_amd64_gcc11 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3629/console
CMSDIST Branch: [IB/CMSSW_12_6_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-28 13:42] cmsbuild commented on #39225
The build has started for slc7_amd64_gcc10 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3630/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-28 16:19] cmsbuild commented on #39224
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5_ROOT626-el8_amd64_gcc10/3625
Some

[2022-08-28 16:30] cmsbuild commented on #39225
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-el8_aarch64_gcc10/3626
Some tes

[2022-08-28 16:37] cmsbuild commented on #39225
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-el8_ppc64le_gcc10/3627
Some tes

[2022-08-28 16:41] perrotta commented on #39224
upload all

[2022-08-28 16:41] cmsbuild commented on #39224
Queing Jenkins upload for el8_amd64_gcc10

[2022-08-28 16:42] cmsbuild commented on #39224
The upload has started for el8_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2462/console

[2022-08-28 16:43] cmsbuild commented on #39224
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre5_ROOT626-el8_amd64_gcc10/2462

[2022-08-28 16:43] perrotta commented on #39224
release-notes

[2022-08-28 16:43] cmsbuild commented on #39224
Previous release "" does not appear to be a valid release name

[2022-08-28 17:07] cmsbuild commented on #39224
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre5_ROOT626-el8_amd64_gcc10/3625

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-28 17:08] perrotta commented on #39224
release-notes since CMSSW_1250pre5

[2022-08-28 17:08] cmsbuild commented on #39224
Previous release "CMSSW_1250pre5" does not appear to be a valid release name

[2022-08-28 17:09] perrotta commented on #39224
release-notes since CMSSW_12_5_0_pre5

[2022-08-28 17:10] cmsbuild commented on #39224
Generating release notes since CMSSW_12_5_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-28 17:10] cmsbuild commented on #39224
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_5_0_pre5_ROOT626 is now available for the following architectures:

el8_amd64_gcc10 (production)

The release notes of what changed with respect to CMSSW_12_5_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_0_pre5_ROOT626

Cheers,
cms-bot

You can also click <a href="mailto

[2022-08-28 17:10] cmsbuild commented on #39224
Generating release notes since CMSSW_12_5_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-28 17:10] cmsbuild commented on #39224
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_5_0_pre5_ROOT626 is now available for the following architectures:

el8_amd64_gcc10 (production)

The release notes of what changed with respect to CMSSW_12_5_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_0_pre5_ROOT626

Cheers,
cms-bot

You can also click <a href="mailto

[2022-08-28 17:12] cmsbuild commented on #39225
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-el8_aarch64_gcc10/3626

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-28 17:14] cmsbuild commented on #39224
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre5_ROOT626

[2022-08-28 17:14] cmsbuild commented on #39224
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre5_ROOT626

[2022-08-28 17:27] cmsbuild commented on #39225
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-el8_ppc64le_gcc10/3627

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-28 18:14] cmsbuild commented on #39225
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-slc7_amd64_gcc10/3630
Some tests

[2022-08-28 18:15] cmsbuild commented on #39225
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-el8_amd64_gcc10/3628
Some tests (

[2022-08-28 19:02] cmsbuild commented on #39225
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-slc7_amd64_gcc10/3630

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-28 19:02] cmsbuild commented on #39225
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-el8_amd64_gcc10/3628

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-28 21:45] cmsbuild commented on #39225
The build has started for el8_amd64_gcc11 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3631/console
CMSDIST Branch: [IB/CMSSW_12_6_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-29 02:42] cmsbuild commented on #39225
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-el8_amd64_gcc11/3631
Some tests (

[2022-08-29 03:32] cmsbuild commented on #39225
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre1-el8_amd64_gcc11/3631

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-29 05:25] perrotta commented on #39225
upload all

[2022-08-29 05:25] cmsbuild commented on #39225
Queing Jenkins upload for slc7_amd64_gcc10

[2022-08-29 05:25] cmsbuild commented on #39225
Queing Jenkins upload for el8_amd64_gcc10

[2022-08-29 05:25] cmsbuild commented on #39225
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-08-29 05:25] cmsbuild commented on #39225
Queing Jenkins upload for el8_aarch64_gcc10

[2022-08-29 05:25] cmsbuild commented on #39225
Queing Jenkins upload for el8_amd64_gcc11

[2022-08-29 05:26] cmsbuild commented on #39225
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2463/console

[2022-08-29 05:26] cmsbuild commented on #39225
The upload has started for el8_amd64_gcc11 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2465/console

[2022-08-29 05:26] cmsbuild commented on #39225
The upload has started for el8_amd64_gcc10 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2464/console

[2022-08-29 05:27] cmsbuild commented on #39225
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre1-el8_amd64_gcc11/2465

[2022-08-29 05:27] cmsbuild commented on #39225
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre1-el8_aarch64_gcc10/2463

[2022-08-29 05:27] cmsbuild commented on #39225
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre1-el8_amd64_gcc10/2464

[2022-08-29 05:27] cmsbuild commented on #39225
The upload has started for slc7_amd64_gcc10 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2467/console

[2022-08-29 05:28] cmsbuild commented on #39225
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2466/console

[2022-08-29 05:28] cmsbuild commented on #39225
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre1-slc7_amd64_gcc10/2467

[2022-08-29 05:29] cmsbuild commented on #39225
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre1-el8_ppc64le_gcc10/2466

[2022-08-29 05:29] perrotta commented on #39225
release-notes since CMSSW_12_5_0_pre5

[2022-08-29 05:30] cmsbuild commented on #39225
Generating release notes since CMSSW_12_5_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-29 05:30] cmsbuild commented on #39225
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_6_0_pre1 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_5_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_6_0_pre1

[2022-08-29 05:32] cmsbuild commented on #39225
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre1

[2022-08-29 08:01] valsdav commented on #38964
Hi @tvami, I have checked our scripts and they are writing on local sqlite files, having no problems when running on my lxplus CMSSW instance. Can the issue be related to the filesystem in the testing machine? May I ask your help in understanding this issues?

The only clue I have is that two tests were writing on the same sqlite .db file, maybe if they are run in parallel that can create problems

[2022-08-29 09:15] cecilecaillol commented on #39194
Item 5: The differences in cutset are only formatting, there is no change to the values

[2022-08-29 09:52] perrotta commented on #39194
Thank you Cecile. There were a few differences in the parameters included in the `cutset` PSet of the module `L1TrackSelectionProducerExtended` between the original commits of yours in the PR and what finally got merged. The modifications that got removed in your latest commits are:
[code]
That item 5 intended just to check with you whether the removal of those modifications of the parametere were

[2022-08-29 10:14] smuzaffar opened #39229 "UBSAN issue in TrackListMerger"
As a follow up on https://github.com/cms-sw/cmssw/pull/37384 , the suggested change https://github.com/cms-sw/cmssw/pull/37384#issuecomment-1095361635 [a] by @mmusich works for me. Workflow `2323.4.0` did not fail [b] and ubsan issue about `RecoTracker/FinalTrackSelectors/plugins/TrackListMerger.cc:451:45: runtime error: variable length array bound evaluates to non-positive value 0` is also fixed.

[2022-08-29 10:14] smuzaffar commented on #39229
assign reconstruction

[2022-08-29 10:14] cmsbuild commented on #39229
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-29 10:14] cmsbuild commented on #39229
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-29 10:43] mmusich commented on #39229
I've created https://github.com/cms-sw/cmssw/pull/39233 with my original suggestion (not yet tested in the last IB), to start the discussion.

[2022-08-29 13:02] tvami commented on #38964
Yes, I think the issue really is that the sqlite files have the same name and are in the same directory.

[2022-08-29 13:09] ggovi commented on #38964
Hello, providing two different sqlite file names for the two tests should fix the issue.

[2022-08-29 13:13] valsdav commented on #38964
Ok, sorry for the pain, probably testing locally one thing at a time I missed the issue before.. Preparing the small PR to fix this.

[2022-08-29 13:20] makortel commented on #38997
#39088 is part of 12_5_0_pre5. @germanfgv Is the pre-release something Tier0 could test? I'd suggest to start with 128 MB buffer on the source with
[code]
to match with the behavior of `lazy-download`, and disable the `lazy-download` for the test.

[2022-08-29 13:22] missirol opened #39234 "large number of tracking-related warning/error messages in HLT jobs"
CMSSW jobs with recent HLT menus [0] show a very large number of `LogWarning`s and `LogError`s coming mainly from the HLT e/gamma [1] and muon [2] reconstruction. The warnings/errors seem to be mainly related to tracking. A recipe to reproduce some of these warnings/errors is in [3].

In [CMSHLT-2449](https://its.cern.ch/jira/browse/CMSHLT-2449), it was noted that this creates significant size inc

[2022-08-29 13:22] cmsbuild commented on #39234
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-29 13:34] makortel commented on #39234
assign reconstruction

[2022-08-29 13:34] cmsbuild commented on #39234
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-29 13:34] makortel commented on #39234
FYI @cms-sw/egamma-pog-l2 @cms-sw/muon-pog-l2 @cms-sw/tracking-pog-l2

[2022-08-29 13:39] makortel opened #39236 "Random comparison failures in L1 phase 2 muon histograms"
Phase2 workflows show randomly differences in PR tests (of completely unrelated changes) in `L1T/L1TPhase2/Muons/{SAMuon,TkMuon}/efficiencies/globalEfficiencies` histograms, like
![image](https://user-images.githubusercontent.com/33993/187005584-55544952-902a-4900-abf4-1b5ade6ee877.png)

[2022-08-29 13:39] cmsbuild commented on #39236
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-29 13:39] makortel commented on #39236
assign dqm, l1

[2022-08-29 13:39] cmsbuild commented on #39236
New categories assigned: dqm,l1

@jfernan2,@ahmad3213,@epalencia,@micsucmed,@rvenditti,@emanueleusai,@rekovic,@cecilecaillol,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-29 13:41] cecilecaillol commented on #39236
@folguera Any idea?

[2022-08-29 13:42] makortel commented on #39236
I observed these first in https://github.com/cms-sw/cmssw/pull/39156#issuecomment-1229047386 that were run on top of CMSSW_12_5_X_2022-08-25-2300.

I've also seen these in https://github.com/cms-sw/cmssw/pull/38983#issuecomment-1229124725

[2022-08-29 13:43] makortel commented on #39236
Ah, also part of #39194 now, so we can close this issue.

[2022-08-29 13:43] #39236 closed

[2022-08-29 14:35] mmusich commented on #39234
error in [1] is the same thing I've already reported in https://github.com/cms-sw/cmssw/issues/39026#issuecomment-1213027768.

[2022-08-29 14:42] swagata87 commented on #39234
about this message:
[code]
and similar common messages, raised from https://github.com/cms-sw/cmssw/blob/2a2ca2ee216a44c2743301dc2dc32b4c7c93f4ad/TrackingTools/TrajectoryState/src/BasicTrajectoryState.cc#L87-L97 , I have a feeling that the warning is printing too much information. We can just print `.... error not pos-def` , and remove the details like  `err.matrix()`,   `state.position()`,  `stat

[2022-08-29 14:45] fwyzard commented on #39234
No.

If the warning is something that needs to be followed up, then people should look into it within one-two weeks at most, and solve the underlying issue.

If there is nothing to fix, _i.e._ code is behaving as expected and the physics results are correct, then the warning should be downgraded to `LogInfo` or even better `LogDebug`.

[2022-08-29 15:27] slava77 commented on #39234
That's more of a wishful thinking, not how warnings were treated in the last 10+ years.

[2022-08-29 15:50] fwyzard commented on #39234
I cannot change how RECO and others handled things in the past.

I think I _can_ improve how things are being handled now.

For example, let's pull from the online and offline reconstruction the
offending modules, and see how long it takes to remove the warnings ?

[2022-08-29 16:26] smuzaffar opened #39242 "[LTO][GCC11] Uninitialized warnings"
Hi,
  there are 3 warning like [a] generated from `RecoPixelVertexing/PixelTrackFitting` package. Looking at https://github.com/cms-sw/cmssw/blob/master/RecoPixelVertexing/PixelTrackFitting/interface/RZLine.h#L29-L46 , I think variables are correctly initialized. Any idea why compiler is complaining in this case?

[a] https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/el8_amd64_gcc11/CMSSW_12_6_LTO_X_20

[2022-08-29 16:27] cmsbuild commented on #39242
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-29 17:17] germanfgv commented on #38997
We cannot add this parameter in a regular replay test, but we can create a single job to test it.

[2022-08-29 17:51] makortel commented on #39242
assign reconstruction

[2022-08-29 17:52] cmsbuild commented on #39242
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-29 20:18] makortel commented on #39064
I think I have a proper fix in #39245. At least it works with the "reproducer" in https://github.com/cms-sw/cmssw/issues/39064#issuecomment-1228755900 .

[2022-08-29 21:27] smuzaffar commented on #39182
+core
gcc patch fixed the lto issue

[2022-08-29 21:27] #39182 closed

[2022-08-29 21:28] cmsbuild commented on #39182
This issue is fully signed and ready to be closed.

[2022-08-29 22:10] smuzaffar opened #39246 "ASAN runtine errors in L1Trigger/DTTriggerPhase2"
We have many ASAN errors[a] coming from `L1Trigger/DTTriggerPhase2` . Building this package in debug mode (for ASAN IBs) shows [a] stack.  I think the problem here is that for first iteration the `sl3` is `-1` ( set here https://github.com/cms-sw/cmssw/blob/master/L1Trigger/DTTriggerPhase2/src/MuonPathAssociator.cc#L135-L136 ). Shouldn't it be set to `0` instead of `-1`? I added some printouts and

[2022-08-29 22:10] smuzaffar commented on #39246
assign l1

[2022-08-29 22:10] cmsbuild commented on #39246
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-29 22:10] cmsbuild commented on #39246
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-30 03:39] cmsbuild commented on #39222
The cleanup has started for el8_aarch64_gcc10

[2022-08-30 03:39] cmsbuild commented on #39222
The cleanup has started for slc7_amd64_gcc10

[2022-08-30 03:39] cmsbuild commented on #39222
The cleanup has started for el8_amd64_gcc10

[2022-08-30 03:39] cmsbuild commented on #39222
The cleanup has started for el8_ppc64le_gcc10

[2022-08-30 03:39] cmsbuild commented on #39222
The cleanup has started for el8_amd64_gcc11

[2022-08-30 03:39] #39222 closed

[2022-08-30 03:39] cmsbuild commented on #39222
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre5-el8_amd64_gcc10/2165

[2022-08-30 03:39] cmsbuild commented on #39222
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre5-el8_aarch64_gcc10/2164

[2022-08-30 03:39] cmsbuild commented on #39222
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre5-el8_ppc64le_gcc10/2167

[2022-08-30 03:39] cmsbuild commented on #39222
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre5-el8_amd64_gcc11/2166

[2022-08-30 03:40] cmsbuild commented on #39222
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre5-slc7_amd64_gcc10/2168

[2022-08-30 10:28] cecilecaillol commented on #39194
Sorry, I am still confused. I see these parameters are present and unchanged in the current L1TrackSelectionProducerExtended configuration: https://github.com/cecilecaillol/cmssw/blob/f6c5d02e18f03e70fc6f95a58c8e0782770d356e/L1Trigger/L1TTrackMatch/python/L1TrackSelectionProducer_cfi.py#L33-L44. Am I missing something?

[2022-08-30 10:45] perrotta commented on #39194
I was probably looking at some intermediate version of that file, where the `cutset` PSet was missing in the cloned config... Nevertheless, the original comment was to remove the type specifications in the parameters (whch is safer, cleaner, etc.). Therefore, the cloned config can be rewritten as
[code]

[2022-08-30 10:52] cecilecaillol commented on #39194
@trtomei I took care of item 2. Can you please address items 3 and 4?

[2022-08-30 13:18] makortel opened #39250 "Segfault in MergedGenParticleProducer::isLeptonFromPrunedPhoton()"
Several workflows (e.g. 10001.0, 10003.0, 10006.0 etc) crash in step 6 in CMSSW_12_6_X_2022-08-30-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-08-30-1100/pyRelValMatrixLogs/run/10001.0_SingleElectronPt10+2017+SingleElectronPt10_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano/step6_SingleElectronPt10+2017+SingleElectronPt10_pythia8_Ge

[2022-08-30 13:19] makortel commented on #39250
assign generators

[2022-08-30 13:19] cmsbuild commented on #39250
New categories assigned: generators

@mkirsano,@menglu21,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-30 13:19] cmsbuild commented on #39250
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-30 13:48] perrotta commented on #39250
@mseidel42

[2022-08-30 15:10] mseidel42 commented on #39250
Hi @makortel, too bad, sorry for that :(

Is there an overview of the failed wfs? Are they all ParticleGuns?

[2022-08-30 15:13] makortel commented on #39250
See the list here
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_6/2022-08-30-1100?selectedArchs=el8_amd64_gcc10&selectedFlavors=X&selectedStatus=failed

By quick look they all seem to be particle guns.

[2022-08-30 15:23] #39224 closed

[2022-08-30 15:24] cmsbuild commented on #39224
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre5_ROOT626-el8_amd64_gcc10/2169

[2022-08-30 16:14] perrotta commented on #39250
Thank you @mseidel42
Try to have the fix by tomorrow(ish), and we won't need to revert #38995

[2022-08-30 19:01] #39229 closed

[2022-08-31 01:08] makortel opened #39255 "Assertion failure TrackClusterRemoverPhase2::produce()"
Some workflows in CMSSW_12_6_X_2022-08-30-2300 are failing with an assertion failure
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-08-30-2300/pyRelValMatrixLogs/run/39434.9_TTbar_14TeV+2026D88_vectorHits+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D88_vectorHits+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14

[2022-08-31 01:09] cmsbuild commented on #39255
New categories assigned: upgrade,reconstruction

@jpata,@AdrianoDee,@clacaputo,@srimanob,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-31 02:47] trtomei commented on #39194
Yes, it's on my TODO list for today :)

[2022-08-31 03:20] swagata87 commented on #39234
It might be useful to keep the `LogWarning` messages in `TrackingTools/TrajectoryState/src/BasicTrajectoryState.cc`, as they are helpful to discover other bugs while code-development, debugging crashes that shows up, etc. With this PR (https://github.com/cms-sw/cmssw/pull/39256), the warnings/errors are significantly reduced at HLT.

[2022-08-31 03:38] cmsbuild commented on #39225
The cleanup has started for el8_aarch64_gcc10

[2022-08-31 03:38] cmsbuild commented on #39225
The cleanup has started for slc7_amd64_gcc10

[2022-08-31 03:38] cmsbuild commented on #39225
The cleanup has started for el8_amd64_gcc10

[2022-08-31 03:38] cmsbuild commented on #39225
The cleanup has started for el8_ppc64le_gcc10

[2022-08-31 03:38] cmsbuild commented on #39225
The cleanup has started for el8_amd64_gcc11

[2022-08-31 03:38] #39225 closed

[2022-08-31 03:39] cmsbuild commented on #39225
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre1-el8_aarch64_gcc10/2170

[2022-08-31 03:39] cmsbuild commented on #39225
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre1-el8_amd64_gcc10/2171

[2022-08-31 03:39] cmsbuild commented on #39225
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre1-el8_amd64_gcc11/2172

[2022-08-31 03:39] cmsbuild commented on #39225
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre1-el8_ppc64le_gcc10/2173

[2022-08-31 03:39] cmsbuild commented on #39225
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre1-slc7_amd64_gcc10/2174

[2022-08-31 05:25] fwyzard commented on #39234
If I read the code correctly, #39256 is making the check _more_ stringent, from
[code]
to
[code]

Since the `LogError` is in the "else" branch:
[code]

the change should increase the amount of errors being reported, not reduce them.

[2022-08-31 05:25] fwyzard commented on #39234
That is what `LogDebug` is for.

[2022-08-31 05:43] mmusich commented on #39255
Very likely it's caused by https://github.com/cms-sw/cmssw/pull/39233 (similar symptoms as originally observed in https://github.com/cms-sw/cmssw/pull/37384#issuecomment-1095361635), though not observed in the PR tests, as now it shows in different workflows.

[2022-08-31 05:50] mmusich commented on #39234
case in point no,  because the `LogError` that plagues the HLT logs is not the one originating from taking the `else` branch of that decision, but from taking the passing one,  leading to trying to combine inconsistent states in the multistate. https://github.com/cms-sw/cmssw/issues/39026#issuecomment-1212958386 offers some analysis of the call stack.

[2022-08-31 06:50] fwyzard commented on #39234
I see, so we get a reduction in `%MSG-w BasicTrajectoryState` without increasing the number of errors ?

[code]

[code]

[2022-08-31 06:55] fwyzard commented on #39234
Running over 10k events, we go from 4883 warnings and errors
[code]
to only 2424:
[code]
the differences being a large reduction in warnings and only a small increase in errors:
[code]

[2022-08-31 06:56] mmusich commented on #39234
< I see, so we get a reduction in %MSG-w BasicTrajectoryState without increasing the number of errors ?

I think in a nutshell https://github.com/cms-sw/cmssw/pull/39256 is exchanging a more verbose error for multiple less verbose ones. One might wonder why these pathological states even happen to exist (which is where I think the investigation should be moved to)

[2022-08-31 07:28] iarspider opened #39259 "[ARM] Assertion failure in gpuVertexFinder::fitVertices"
Some workflows in CMSSW_12_6_X_2022-08-30-2300 (el8_aarch64_gcc10 architecture) are failing with an assertion failure

[code]

Full log [here](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_aarch64_gcc10/CMSSW_12_6_X_2022-08-30-2300/pyRelValMatrixLogs/run/11634.24_TTbar_14TeV+2021_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+RecoNano+HARVESTNano+ALCA/step2_TTbar_14TeV+2021_0T+TTbar_14TeV_TuneCP5_GenS

[2022-08-31 07:28] cmsbuild commented on #39259
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-31 07:28] iarspider commented on #39259
assign reco

[2022-08-31 08:47] thomreis commented on #37025
+ecal-dpg

[2022-08-31 09:00] thomreis commented on #37025
+1

[2022-08-31 09:06] thomreis commented on #37025
Hi @smuzaffar why did signing with +ecal-dpg not work here?

[2022-08-31 09:11] mmusich opened #39262 "DQM unit tests massive failures in CMSSW_12_6_X_2022-08-30-2300"
Starting from CMSSW_12_6_X_2022-08-30-2300 we observe massive DQM unit test failures.
See log: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-08-30-2300/unitTestLogs/DQM/Integration#/

Trying to compile in local checkout:

[code]

[2022-08-31 09:11] mmusich commented on #39262
assign dqm

[2022-08-31 09:12] cmsbuild commented on #39262
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-31 09:12] cmsbuild commented on #39262
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-31 09:14] mmusich commented on #39255
I am not able to reproduce (logging on `lxplus8`):
[code]

is there any additional flag I shall use in reproducing the IB test?

[2022-08-31 09:15] fwyzard commented on #37025
+heterogeneous

[2022-08-31 10:46] jpata commented on #35607
I no longer see GBRForestTools.cc in the [UBSAN list](https://cmssdt.cern.ch/SDT/jenkins-artifacts/ubsan_logs/CMSSW_12_5_X_2022-08-24-1100/).

Looking in the history, I think it was addressed here: https://github.com/cms-sw/cmssw/pull/35705

[2022-08-31 10:47] jpata commented on #35607
@cmsbuild please close

[2022-08-31 10:47] #35607 closed

[2022-08-31 10:47] cmsbuild commented on #35607
This issue is fully signed and ready to be closed.

[2022-08-31 10:53] jpata commented on #19113
+reconstruction
- addressed in https://github.com/cms-sw/cmssw/pull/38036

[2022-08-31 10:53] jpata commented on #19113
@cmsbuild please close

[2022-08-31 10:53] #19113 closed

[2022-08-31 10:53] cmsbuild commented on #19113
This issue is fully signed and ready to be closed.

[2022-08-31 10:55] jpata commented on #37816
+reconstruction
- recently, we haven't seen segfaults in the Run3 or Phase2 workflows in the reco profiling.
- I think the issue is addressed in https://github.com/cms-sw/cmsdist/pull/7910.

[2022-08-31 10:55] #37816 closed

[2022-08-31 10:55] cmsbuild commented on #37816
This issue is fully signed and ready to be closed.

[2022-08-31 11:36] iarspider commented on #39259
assign reconstruction

[2022-08-31 11:36] cmsbuild commented on #39259
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-31 12:02] smuzaffar commented on #37025
@thomreis , bot was not recognizing `-` char in the category name. This has been fixed now ( https://github.com/cms-sw/cms-bot/commit/1f3006fefcf25b1773cb68f592d283438d66bcfa )

[2022-08-31 12:06] smuzaffar commented on #39262
I think this is related to https://github.com/cms-sw/cmssw/pull/37278 change. dqm tests are explicitly passing `--catalog file:/cvmfs/cms-ib.cern.ch/SITECONF/local/PhEDEx/storage.xml?protocol=xrootd` . I think simple fix ist just drop the `--catalog` option at https://github.com/cms-sw/cmssw/blob/master/DQM/Integration/python/config/unittestinputsource_cfi.py#L105

[2022-08-31 12:06] thomreis commented on #37025
Thanks @smuzaffar

[2022-08-31 12:17] nhduongvn commented on #39262
Yes, if the SITECONFIG_PATH is set correctly, ```--catalog file:/cvmfs/cms-ib.cern.ch/SITECONF/local/PhEDEx/storage.xml?protocol=xrootd``` should be dropped.

[2022-08-31 12:18] smuzaffar commented on #39262
yes `SITECONFIG_PATH` is set properly for PR and IB tests

[2022-08-31 12:31] smuzaffar commented on #36788
closing this one and will open a new one

[2022-08-31 12:31] #36788 closed

[2022-08-31 12:42] smuzaffar opened #39267 "[AARCH64] Relvals failing due to nan/inf numbers"
Most of the errors reported in https://github.com/cms-sw/cmssw/issues/36788 were fixed by https://github.com/cms-sw/cmssw/pull/39183 . We still have [13 workflows](https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_6/2022-08-29-2300?selectedArchs=el9_aarch64_gcc11&selectedFlavors=X&selectedStatus=failed) failing with same error [a] . Looks like we still have some `nan/inf` number generati

[2022-08-31 12:42] cmsbuild commented on #39267
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-31 12:43] smuzaffar commented on #39267
assign reconstruction

[2022-08-31 12:43] cmsbuild commented on #39267
New categories assigned: reconstruction

@jpata,@clacaputo,@mandrenguyen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-31 12:55] slava77 commented on #39259
it would be nice to see the line numbers in the crash reports, especially in cases if it's hard to access the node with a specific architecture (ARM)

[2022-08-31 13:59] mseidel42 commented on #39250
Hi all, the fix is here: https://github.com/cms-sw/cmssw/pull/39270

Note that the crash only occurs when running on the MINIAOD of an old particle gun sample before https://github.com/cms-sw/cmssw/commit/93b170d8a3b218290341568023384b433c7987b7 (12_3_X)

In this specific case it seems that it went back to a [12_0_0_pre4 sample](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12

[2022-08-31 14:06] makortel commented on #39250
Maybe @cms-sw/pdmv-l2 could comment?

[2022-08-31 14:32] iarspider commented on #39259
@slava77

[code]

[2022-08-31 15:13] slava77 commented on #39259
@VinInn @fwyzard
what do `atomicAdd_block` , `__syncthreads` and such translate to without CUDA for the CPU code in
https://github.com/cms-sw/cmssw/blob/ca8617f5f5948dde414285b6b72a2aad132fd6d1/RecoPixelVertexing/PixelVertexFinding/plugins/gpuFitVertices.h#L66-L76
?
hopefully the `atomicAdd_block` is still an increment

[2022-08-31 15:32] smuzaffar commented on #39267
by the way, the following check at https://github.com/cms-sw/cmssw/blob/master/RecoVertex/KinematicFit/interface/KinematicConstrainedVertexUpdatorT.h#L141 allowed the workflow `10803.0` to run for `el9_aarch64_gcc11`
[code]
but I also need to drop `ofast-flag` from https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaPhotonAlgos/BuildFile.xml#L1 to allow `isnan` and `isinf` work properly.

[2022-08-31 15:33] slava77 commented on #39267
what about edm::isFinite?

[2022-08-31 15:36] smuzaffar commented on #39267
ah ok, let me try that. thanks @slava77

[2022-08-31 16:00] makortel commented on #39262
Thanks @mmusich!

[2022-08-31 16:11] smuzaffar commented on #39267
thanks @slava77 , the following patch after https://github.com/cms-sw/cmssw/blob/master/RecoVertex/KinematicFit/interface/KinematicConstrainedVertexUpdatorT.h#L141  (without dropping `ofast-math` dep) allowed the failing relval to run ( on both el8_amd64 and el9_aarch64)
[code]

@cms-sw/reconstruction-l2 , if this is the correct fix then can you please open a PR with correct error/warning message

[2022-08-31 16:27] mandrenguyen commented on #39267
Well @smuzaffar , I would defer to @slava77 here as tracking POG convener.
If it helps, I can make a pull request adding the message "Kinematic constrained vertex updator failed".  Are you recommending just LogDebug or also LogWarning?

[2022-08-31 16:28] makortel commented on #39255
There is also a similar assertion failure in `TrackClusterRemover`
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-08-30-2300/pyRelValMatrixLogs/run/1325.2_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15_trackingLowPU+HARVESTUP15/step3_TTbar_13+TTbar_13INPUT+DIGIUP15+RECOUP15_trackingLowPU+HARVESTUP15.log#/113-113

There seems to be some level of randomness in which

[2022-08-31 18:11] #39262 closed

[2022-08-31 18:59] kskovpen commented on #39250
In principle, it is intended. These are Run2 wfs, if I understand correctly. At some point, we have updated the inputs for wfs running in IBs, but we are not doing it for every cycle.

[2022-08-31 20:06] #39250 closed

[2022-08-31 20:37] makortel commented on #39255
ASAN does not seem to complain on anything before hitting the assertion.

[2022-09-01 04:09] perrotta commented on #39100
Fixed by https://github.com/cms-sw/cmssw/pull/39261#event-7301469786

[2022-09-01 04:09] #39100 closed

[2022-09-01 04:29] perrotta commented on #39255
urgent
(To make it visible in the list of issues: it keeps breaking the IBs)

[2022-09-01 04:29] perrotta commented on #38939
urgent
(To make it visible in the list of issues: it keeps breaking the IBs)

[2022-09-01 04:32] perrotta commented on #39246
urgent

[2022-09-01 04:34] perrotta commented on #39194
urgent
(To make it visible in the list of issues: item 6, in particular, keeps messing the Phase2 DQM comparisons in the PR tests)

[2022-09-01 04:44] trtomei commented on #39194
Pull requests to address items 3 and 4 are here:
https://github.com/cms-sw/cmssw/pull/39280
https://github.com/cms-sw/cmssw/pull/39281

[2022-09-01 05:22] smuzaffar commented on #39267
@mandrenguyen , as a previous check https://github.com/cms-sw/cmssw/blob/master/RecoVertex/KinematicFit/interface/KinematicConstrainedVertexUpdatorT.h#L131-L135 has both `LogDebug and LogWarning` so that is why I suggested to add both for this check too

[2022-09-01 06:23] perrotta commented on #39267
urgent

[2022-09-01 12:45] kdlong commented on #39110
Hi all, sorry, it took me a bit longer to reproduce the error and figure out a suitable debug setup to chase down what's happening, but I think I have some useful info now.

The nan comes from the line identified by Swagata, in a step where the nuclear interactions are recombined into a single candidate. The original issue, however, is coming from a candidate with zero four momentum.

Looking at e

[2022-09-01 13:16] makortel commented on #38977
We've tried to not to replicate C++ code guidelines (much) into our coding rules in order to keep them concise. If anonymous namespaces in headers becomes a widespread problem, sure, we could consider adding something about them.

[2022-09-01 13:55] slava77 commented on #39110
what is the direction of this track, and also the number of hits?
mkFit tracks are on average shorter than previously in CKF; this can affect the resolution.
This may also be a very forward 3-hit (actual 3-layer) track, at which point it's probably no matter if it's mkFit or CKF.

[2022-09-01 14:25] slava77 commented on #39110
also in your original post `The track is displaced`
How large in dxy(bs)? it's a bit odd to have a large displacement in the pixel-based iteration. The seeding region is limited to 0.02 cm.

[2022-09-01 14:37] kdlong commented on #39110
One simple thing I don't understand, though, is why we let the rescaleMomentum() function [here](https://github.com/cms-sw/cmssw/blob/ba190a48556c489ede2db48885dfea65632c01ec/DataFormats/ParticleFlowCandidate/src/PFCandidate.cc#L293-L297) rescale the full four vector. Don't we really want to rescale the 3 momentum instead? If we leave these ghosts candidates we should at least leave them with a co

[2022-09-01 14:46] slava77 commented on #39110
https://github.com/cms-sw/cmssw/blob/5a3dd48730c2b88d67d1304788801e26e605cd36/RecoParticleFlow/PFTracking/src/PFTrackAlgoTools.cc#L259
is supposed to reject the track with `dpt/pt >~ 10 * 0.06^2 ~ 0.036`
... or is this track from elsewhere (`NuclearInteractionTrackImporter` ?)

[2022-09-01 16:47] nothingface0 commented on #39045
Using @AdrianoDee's code and printing the `rawId` from thread 0, you get something like:

[code]
The third column being the `rawId`, correct?

Since this is printed sequentially inside the `RawToDigi_kernel`, shouldn't the `rawId`s be already contiguous?
I.e. `344795140` is the first in the list above, then `344794116` comes in and `344795140` re-appears in the end.

Excuse my ignorance, I haven't

[2022-09-01 17:18] makortel commented on #39045
I don't think there is any explicit sorting in the CUDA code path. The body of `SiPixelRawToClusterCUDA::acquire()` just reformats the incoming raw data for the GPU consumption.

Could the out-of-order appearance of DetId's be a feature of the raw data itself? The legacy raw-to-digi code seems to handle that case
https://github.com/cms-sw/cmssw/blob/73bb0f634d47e4f2477cf3c021d1ebac66725a56/EventFi

[2022-09-01 17:33] gartung opened #39286 "[SKYLAKEAVX512] Segfault running edmCheckClassVersion.py on host with skylake-avx512 microarch"
On my desktop for an 11th generation CoreI7 which has the skylake-avx512 microarch, I ran a build with debug symbols enabled `CXXFLAGS+=-g -fno-omit-frame-pointer`. In the DataFormat/TauReco package the edmCheckClassVersion.py script segfaults and suggests running `scram b updateclassversion`. Running this command also results in a segfault but does produce an updated class version and checksum. T

[2022-09-01 17:33] cmsbuild commented on #39286
A new Issue was created by  @gartung Patrick Gartung.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-01 17:46] makortel commented on #39286
assign core

[2022-09-01 17:47] cmsbuild commented on #39286
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-01 18:17] gartung commented on #39286
`scram b updateclass version` log
[code]

[2022-09-01 18:20] gartung commented on #39286
Running `scram b SCRAM_TARGET=haswell` still results in a segfault.

[2022-09-01 18:25] gartung commented on #39286
Don't know if this is relevant.
[code]

[2022-09-01 18:35] Dr15Jones commented on #39286
@pcanal FYI

[2022-09-01 18:40] gartung commented on #39286
Hmm...
The flags I was using were `-g -fno-omit-frame-pointer`.
If I use `<flags REM_CXXFLAGS=`-no-omit-frame-pointer`/>` in `DataFormats/TauReco/BuildFile.xml` the the segfault does not occur.

[2022-09-01 19:06] pcanal commented on #39286
gAdvance<reco::PFTauDiscriminatorByIsolation,pair<edm::Ref<vector<reco::PFTau>,reco::PFTau,edm::refhelper::FindUsingAdvance<vector<reco::PFTau>,reco::PFTau> >,int> > > already in TClassTable

Those are weird.  They usually indicates that the library containing that library was loaded twice.  This often happen when the same library is twice on the LD_LIBRARY_PATH and/or rpath.

[2022-09-01 19:13] smuzaffar commented on #39286
@pcanal , then this should have failed for all cmssw user area where we have same library in user lib directory and cmssw release lib directory.

@gartung , I do not think that this error is related to the flags you are passing. I tested it and scram still fails in clean env where scram uses the default microarch. I think the dict loading failed due to errors like
[code]

and then scram thinks tha

[2022-09-01 19:22] gartung commented on #39286
@smuzaffar How do I tell scram to ignore the cmssw release lib directory when I cam rebuilding all of the libraries.

[2022-09-01 19:25] smuzaffar commented on #39286
@gartung , by doing something like
[code]

[2022-09-01 19:27] smuzaffar commented on #39286
strangly , runing `scram build` without `-j` option works. I will check why it fails when multiple dicts are checked in parallel

[2022-09-01 19:29] pcanal commented on #39286
Still the message indicates the dictionary is loaded (or registered twice) and whatever is causing _that_ is likely the original problem.  Debugging this is "relatively" simple.  Run the failing example in a debugger, put a break point on `TClassTable::Add(Add(const char *cname, Version_t id,  const std::type_info &info, DictFuncPtr_t dict, Int_t pragmabits);`
and inspect the stack trace of both r

[2022-09-01 19:53] gartung commented on #39286
After removing `.SCRAM/$SCRAM_ARCH/Environment` and rebuilding I can verify that the segfault does not occur.

[2022-09-01 20:00] gartung commented on #39286
Hmm...  scram auto detects my desktop as haswell according to the LD_LIBRARY_PATH set.
[code]
and there are multiple version of `libDataFormatsTauReco.so`

[code]

[2022-09-01 20:40] smuzaffar commented on #39286
@pcanal , right so looks like the lib was loaded twice though the 2nd lib was not direclt in LD_LIBRARY_PATH. For these special SKYLAKE build we build each product for multiple microarch e.g. we have
[code]

although the LD_LIBRARY_PATH only has `PATH/lib/el8_amd64_gcc10`  but somehow the libs from sub-directories of `PATH/lib/el8_amd64_gcc10`  were also looked up and load.
[code]

[2022-09-01 20:43] gartung commented on #39286
I get segfaults even running `scram b -j1`. These are versions of libDataFormatsTauReco.so in the build LD_LIBRARY_PATH.
[code]
I assume the one being checked is the no arch one that get removed if edmCheckClassVersion.py fails.

[2022-09-01 20:53] pcanal commented on #39286
Can the other directory be on the rpath?

[2022-09-01 21:00] smuzaffar commented on #39286
no, we do not use rpath.

[2022-09-01 21:03] smuzaffar commented on #39286
note that in cmssw env same lib is available in multiple LD_LIBRARY_PATH ( e.g. one in user dev area (CMSSW_BASE/lib), one could be in cmssw patch release (CMSSW_RELEASE_BASE/lib) and another one can be in cmsw full release (CMSSW_FULL_RELEASE_BASE/lib)) but root only loads one from the first valid path from LD_LIBRARY_PATH. No idea why root decided to load same lib from CMSSW_BASE/lib and its sub

[2022-09-01 21:06] smuzaffar commented on #39286
then it is better to just build cmssw for one micro arch :-) and have separate builds for each arch

[2022-09-01 21:07] gartung commented on #39286
Yes.

[2022-09-02 04:38] emanueleusai commented on #37025
+1

[2022-09-02 04:38] cmsbuild commented on #37025
This issue is fully signed and ready to be closed.

[2022-09-02 05:40] JinfengLiu97 opened #39287 "Failure in RECO only sample production for the 12_5_0_pre5 release validation"
Hello, we met a failure in RECO only sample production for the 12_5_0_pre5 release validation, could you help us to solve this issue?

Two kinds of errors were found:

1. The input dataset is:
	/RelValTTbar_14TeV/CMSSW_12_5_0_pre4-PU_124X_mcRun3_2022_realistic_v10-v2/GEN-SIM-DIGI-RAW
   The failure is found in the RECO step, which can be reproduced with:
	https://cms-pdmv.cern.ch/relval/api/relval

[2022-09-02 05:40] cmsbuild commented on #39287
A new Issue was created by  @JinfengLiu97 JinfengLiu.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-02 05:53] kskovpen commented on #39287
Just to add that we have also encountered issues of similar nature in the past: #37013 and #38860.

[2022-09-02 07:30] smuzaffar commented on #39286
@vgvassilev , it is true that rootcling loads/search all libs from the sub-directory of a directory with in LD_LIBRARY_PATH? e.g. is CMSSW_BASE/lib/arch is in LD_LIBRARY_PATH then is rootcling going to search for libs under sub-directories of CMSSW_BASE/lib/arch too? If it is true then it is fine to search/load libs from sub-dirs but why load a with same name e.g. libXYZ.so has been found directly

[2022-09-02 08:21] cecilecaillol commented on #39246
Fixed in https://github.com/cms-sw/cmssw/pull/39263

[2022-09-02 08:22] cecilecaillol commented on #39246
+l1

[2022-09-02 08:22] cmsbuild commented on #39246
This issue is fully signed and ready to be closed.

[2022-09-02 08:35] #39246 closed

[2022-09-02 09:03] vgvassilev commented on #39286
@smuzaffar, does `ldd *.so` return anything that's located in  `CMSSW_BASE/lib/arch`?

[2022-09-02 09:10] smuzaffar commented on #39286
you mean located in `CMSSW_BASE/lib/arch/subdir/` right?

[2022-09-02 09:17] vgvassilev commented on #39286
Can you break with gdb at the second dlopen of libDataFormatsTauReco.so and show the backtrace?

[2022-09-02 10:02] smuzaffar commented on #39286
te commands like the following works
[code]
but the command which failed is
[code]
so no idea why the above two works and fails for https://github.com/cms-sw/cmssw/blob/master/DataFormats/TauReco/src/classes_def_2.xml

I think it is not rootcling but the dynamic loader adding `PATH/lib/arch/haswell` to the search path. We have multiple subdirs under `PATH/lib/arch/` but loader only adds `haswell`

[2022-09-02 11:07] vgvassilev commented on #39286
You could debug the dynamic loader by adding LD_DEBUG=all. That sometimes print useful information why that path is considered.

[2022-09-02 13:07] perrotta commented on #39194
Items (2) and (3) addressed by https://github.com/cms-sw/cmssw/pull/39280 and ticked in the main description

[2022-09-02 13:09] kdlong commented on #39110
You're right, it's coming in only at the NuclearInteractionTrackImporter, which is taking tracks from PFDisplacedVertexProducer. Have already been playing with the track quality cuts here with @laurenhay for another issue. We will consider this as well. I haven't quite tracked what's going on, but when the track is accessed [here](https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c

[2022-09-02 13:13] slava77 commented on #39110
there should be none: the final track fits are done with CKF in full tracking and in refits.
mkFit is used only for the hit pattern recognition now.

[2022-09-02 13:18] makortel commented on #39287
The problem 1 was caused by #38442, and has similar nature as #38860, specifically by
[code]
in `DataFormats/HLTReco/interface/TriggerRefsCollections.h`. There is no way to convert `std::vector<edm::Ref<std::vector<TkMuon>>>` to `std::vector<edm::Ref<std::vector<TrackerMuon>>>`, so this change created a backwards incompatibility.

FYI @cms-sw/upgrade-l2 @cms-sw/l1-l2 @cms-sw/hlt-l2

[2022-09-02 13:25] makortel commented on #39287
In problem 2, the real exception message was (parts got stripped for the Unified page)
[code]
(from https://cms-unified.web.cern.ch/cms-unified/joblogs/pdmvserv_RVCMSSW_12_5_0_pre5TTbar_14TeV__2026D88PU200_RECOonly_220828_105329_7185/8007/RecoGlobal_2026D88/ad5cd513-507a-489d-8ff2-93ef8a4b2fce-0-3-logArchive/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log)

I see `l1t::TkPrimaryVertex` was removed by h

[2022-09-02 13:26] makortel commented on #39287
assign upgrade, l1, hlt

[2022-09-02 13:26] cmsbuild commented on #39287
New categories assigned: upgrade,hlt,l1

@epalencia,@AdrianoDee,@missirol,@srimanob,@rekovic,@Martin-Grunewald,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-02 13:27] perrotta commented on #39287
urgent

[2022-09-02 13:28] smuzaffar commented on #39286
looks like it is glibc feature ( https://clearlinux.org/news-blogs/transparent-use-library-packages-optimized-intel-architecture ) which adds additional sub-directory in to search path. So just changing the name of sub-directory should fix the issue in cmssw env

[2022-09-02 13:32] kdlong commented on #39110
But won't it depend on the hits that mkfit has decided are part of the track?

[2022-09-02 13:33] Martin-Grunewald commented on #39287
@trtomei

[2022-09-02 13:33] Martin-Grunewald commented on #39287
Would re-generating the input file with pre5 solve the issue?

[2022-09-02 13:38] makortel commented on #39287
It should, because the problem in both cases the problem is in reading a file created with pre4.

[2022-09-02 13:41] makortel commented on #39287
I wonder if it would be worth to be able to catch this situation (RECO failing on a file created with the previous pre-release) in IB tests? (and either try to fix it before the next pre-release or @cms-sw/pdmv-l2 knowing that they would fail).

[2022-09-02 13:45] missirol commented on #39287
At the cost of asking trivial questions: isn't backwards-incompatibility for such wf something that is often bound to happen in pre-releases (as DataFormats change)? Could it have been avoided in any way? Since this is urgent, what's the deliverable of this issue? A work-around (if it exists) to make the job run?

[2022-09-02 13:48] vgvassilev commented on #39286
Oh dear…

[2022-09-02 13:53] makortel commented on #39287
We guarantee backwards compatibility between CMSSW major releases only for RAW, for everything else the backwards compatibility is kept with best-effort basis (and thus in practice when a something breaks it must happen in some pre-release). Written that, in practice we have been pretty good in keeping data formats backwards compatible (which in some cases has required non-negligible effort).

[2022-09-02 14:00] makortel commented on #39287
Just to note, because of the name I became concerned if this product would be stored as part RAW, but from `HLTrigger/Configuration/python/HLTrigger_EventContent_cff.py` I see RAW includes only
https://github.com/cms-sw/cmssw/blob/a9b836229a8b2869e3d342b70dd1332e45e0681a/HLTrigger/Configuration/python/HLTrigger_EventContent_cff.py#L19
and `trigger::TriggerEventWithRefs` is only part of `HLTDebugRA

[2022-09-02 14:03] davidlange6 commented on #39287
Indeed, what sort of workflow is this and why is not part of the IB tests?

[2022-09-02 14:05] makortel commented on #39287
It might be technically possible to craft an iorule for the new versions of the classes to ignore the corresponding content of the earlier version of the class and just initialize the corresponding data members with default value. Of course those data members would be physics-wise meaningless when reading in older files, but it would be technically possible to read in an old file.

Whether such a

[2022-09-02 14:15] slava77 commented on #39110
Perhaps I misunderstood the initial concern.

My response implying no interplay was referring to using tracks directly vs refitted tracks, since IIUC, the refitter does not change the hit content.

Before digging more into CKF vs mkFit, is it obvious that the issue is not e.g. in misalignment or some other sources of mis/displaced hits in this data?
Perhaps a check with `--era Run3_noMkFit` would

[2022-09-02 14:20] gartung commented on #39286
It appears to only look for `haswell` and `xeon_phi` in the subdirectory paths.

[2022-09-02 14:21] gartung commented on #39286
I would assume that patch made it into the glibc in our el8 images.

[2022-09-02 14:22] mmusich commented on #39110
I see it happens also in MC (see description:  https://github.com/cms-sw/cmssw/issues/39110#issue-1344317299)

where the concern of misplaced hits is somewhat attenuated.
If we had raw data it would be relatively trivial to reprocess with ideal conditions to check if that's the source of the issue (but as far as I understand we don't have it)

[2022-09-02 14:28] kdlong commented on #39110
Hi @slava77: I don't really mean to suggest this is an mkfit "problem." Clearly the situation that leads to a nan is a PF issue and should be fixed at the PF level. But there has been no protection for this condition since forever, and I assume people would have noticed nan PF candidates, so the logical assumption seems to be that the switch to mkfit is the source of the difference. I actually thi

[2022-09-02 14:28] srimanob commented on #39287
I think for Phase-2 this is not the first time we cross this situation. Phase-2 is in development, do we want to apply the backwards compatibility or put effort to maintain it?

[2022-09-02 14:28] kdlong commented on #39110
A do you mean we don't have the RAW datatier for MC?

[2022-09-02 14:31] mmusich commented on #39110
I mean that I understood from a question asked from @swagata87 in this [mattermost channel ](https://mattermost.web.cern.ch/cms-ppd/pl/xkj1apb847dtfppucmg18nsbih) that we don't have the parent PDs for this dataset (including some data-tier that we can re-reconstruct)

[2022-09-02 14:41] gartung commented on #39286
Although sandybridge would fall somewhere between v2 and v3 because it includes avx but not avx2.

[2022-09-02 14:58] slava77 commented on #39110
is the calorimeter response or calibration possibly something that can lead to a change in behavior (or did that not change since forever?)

[2022-09-02 15:05] makortel commented on #39287
Seems that the problem 1 occurred in Run 3 workflow (input dataset being `/RelValTTbar_14TeV/CMSSW_12_5_0_pre4-PU_124X_mcRun3_2022_realistic_v10-v2/GEN-SIM-DIGI-RAW`)

[2022-09-02 15:12] kdlong commented on #39110
The calo calibrations changed, but this is a pretty small effect, and the response has been hardcoded for forever. The zeroing happens based on a sum of calo energy in a cluster compared to the sum of the track momentum in the cluster. The only thing that seems "special" to me is that the track momentum uncertainty is very high, so it's best fit value for rescaling is zero. Some output (coming fro

[2022-09-02 19:20] trtomei commented on #39194
@perrotta #39280 actually addresses items (3) and (4), item (2) was previously fixed by Cecile.

[2022-09-02 19:32] mmusich commented on #39255
I haven't been able (yet) to consistently reproduce the assertion, but with this patch:

[code]

(which is essentially undoing https://github.com/cms-sw/cmssw/pull/39233 and implementing what I was suggesting at https://github.com/cms-sw/cmssw/pull/37384#issuecomment-1095361635) we should get rid of the UB as well as of the assertion failure.
At least I have been running this script since this mor

[2022-09-02 19:56] kskovpen commented on #39287
Just to confirm that we see these issues in both Run3 and Phase2 wfs (as mentioned in the issue description).

[2022-09-02 20:02] davidlange6 commented on #39287
@kskovpen - please summarize the runTheMatrix numbers that should reproduce this. Thx.

[2022-09-02 20:23] kskovpen commented on #39287
Sure, the affected wfs mentioned in this issue are 11834 and 39434.

[2022-09-03 02:30] srimanob opened #39296 "Error message on ForwardDiskSectorBuilderFromDet"
I see this error message appears in 2018 and 2021/22 PR test workflows,
[code]
I assume it is known and can be ignored. If that is the case, should this message be cleaned up or we would like to keep this LogError?
https://github.com/cms-sw/cmssw/blob/master/RecoTracker/TkDetLayers/src/ForwardDiskSectorBuilderFromDet.cc

[2022-09-03 02:31] cmsbuild commented on #39296
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-03 04:58] perrotta commented on #39194
#39283 was not able to fix item 6, because also after its merge in CMSSW_12_6_X_2022-09-02-1100 the PR tests continue to show non reproducible results for L1T muon global efficiencies, both SA and Tracker muons, e.g.L

[2022-09-03 13:56] makortel commented on #39296
assign geometry

[2022-09-03 13:56] makortel commented on #39296
FYI @cms-sw/trk-dpg-l2

[2022-09-03 13:56] cmsbuild commented on #39296
New categories assigned: geometry

@mdhildreth,@ianna,@Dr15Jones,@makortel,@bsunanda,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-03 15:54] mmusich commented on #39296
Duplicate of https://github.com/cms-sw/cmssw/issues/34476, please close.

[2022-09-04 06:53] #37025 closed

[2022-09-04 12:00] gartung commented on #39286
@smuzaffar The segfaults still occurs in the DataFormats/TauReco package in the latest SKYLAKE release CMSSW_12_6_SKYLAKEAVX512_X_2022-09-03-1100. I really think that haswell can't appear in the subdirectory name.

[2022-09-04 12:11] missirol commented on #37598
Another instance of the issue was in `CMSSW_12_5_X_2022-08-30-2300`.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_5_X_2022-08-30-2300/el8_amd64_gcc10/HLT_Integration_PRef_MC.log

[2022-09-04 12:26] gartung commented on #39286
Changing the SCRAM_TARGET names to avx, avx2 and avx512 avoids the segfault on my desktop. These are the changes I made:

[code]

[2022-09-04 12:45] smuzaffar commented on #39286
https://github.com/cms-sw/cmsdist/pull/8063 should fix this

[2022-09-04 12:51] gartung commented on #39286
This was my suggestion
https://github.com/cms-sw/cmsdist/pull/8064

[2022-09-05 05:52] missirol commented on #39234
@swagata87 , after your PR(s) , do you think we can remove `hltEgammaGsfTracks*` from the `suppressWarning` list of the `MessageLogger` module in the HLT menu?

@JanFSchulte , what would you suggest to do about the many warnings like [2]?

[2]
[code]

[2022-09-05 05:56] missirol commented on #38980
1 month without proper bin-by-bin comparisons feels like a long time.

I don't know if this should be marked as urgent, but it sure needs to be fixed.

@cms-sw/dqm-l2 , is there an ETA?

[2022-09-05 06:29] emanueleusai commented on #38980
So our SW engineer was able to reproduce the issue on a local installation of the GUI using a recent file (where it doesn't work) and an older file (where it works). Inspecting the logs it looks like there might be a problem with the indexer when loading a new file.

We asked the cmsweb admins to do a backup and reset of the index on the DQM GUI dev flavour on server vocms0731 and seemingly it did

[2022-09-05 07:58] vlimant commented on #39086
@y19y19 where did you get the instructions for constructing your configuration from ?
what release did you use?

[2022-09-05 08:25] swagata87 commented on #39234
Hello Marino,
yes, you can remove hltEgammaGsfTracks from the suppressWarning list.
We also plan to work on the remaining error messages, but that's a bit more long-term thing.
Thanks,
Swagata.

[2022-09-05 08:32] vlimant commented on #39069
as @cms-sw/xpog-l2 : please indeed verify the presence (and relevance) of those bits in V10(++) and if needed for V9 please make a 10.6 PR

[2022-09-05 09:09] swagata87 commented on #39110
yes the parent dataset of GJet 122X MC is not available.
There is a relVal MC where the issue was seen, for that we have the RAW,
not sure if it is useful, but this is the raw: `/eos/cms/store/relval/CMSSW_12_1_0_pre4/RelValTTbar_14TeV/GEN-SIM-DIGI-RAW/121X_mcRun3_2021_realistic_v10_HighStat-v2/10000/22c2fc3b-069f-4437-ab6d-edf0a9c0dfc7.root`
(https://github.com/cms-sw/cmssw/issues/39110#issuecomm

[2022-09-05 09:21] mmusich commented on #39110
not sure if it is useful, but this is the raw: /eos/cms/store/relval/CMSSW_12_1_0_pre4/RelValTTbar_14TeV/GEN-SIM-DIGI-RAW/121X_mcRun3_2021_realistic_v10_HighStat-v2/10000/22c2fc3b-069f-4437-ab6d-edf0a9c0dfc7.root

thanks @swagata87 it is useful.

[2022-09-05 10:27] mmusich commented on #39110
using the setup at https://github.com/cms-sw/cmssw/issues/39110#issuecomment-1223779784
but changing the global tag to `121X_mcRun3_2021_design_v9` (including ideal alignment / calibrations) the warning

[code]

is gone. So it seems it's a feature of the calibrations used in the realistic GT.
Addin @cms-sw/trk-dpg-l2 to the thread.

[2022-09-05 10:29] mmusich commented on #39110
can someone of you prepare a list of the DetIds of the hits associated to the problematic track in the MC event?

[2022-09-05 12:04] perrotta commented on #39194
Itemo 6 got fixed by #39301: thank you @missirol for it!

[2022-09-06 07:21] perrotta commented on #38939
Fixed by https://github.com/cms-sw/cmssw/pull/39307

[2022-09-06 12:02] fabiocos commented on #39214
I am busy with other issues on the short term, but I am aware of this problem, and I'll come back to this asap.

[2022-09-06 13:04] #38939 closed

[2022-09-06 13:35] pmandrik commented on #38980
At local setup of DQM GUI version 9.7.7 when the DB is empty / new no problems in indexer:
[code]
and when DB is old (copied from vocms0731) the same crash:
[code]
looks like cmsweb admins had not reset the index DB yet or had not done it properly, maybe we can rather delete the whole DB and start a new one.

[2022-09-06 16:18] makortel commented on #39287
I tried to reproduce problem 1 by generating the `step_2_cfg.py` as in https://cms-pdmv.cern.ch/relval/api/relvals/get_cmsdriver/CMSSW_12_5_0_pre5__AUTOMATED_fullsim_PU_2022_14TeV_RECOonly-TTbar_14TeV-00002, and instead of the exception message shown in the description I get a segfault
[code]

Following up the discussion in ORP, I see the job uses Run 3 GT `auto:phase1_2022_realistic` and Run 3 fi

[2022-09-06 22:47] makortel commented on #39287
I was able to reproduce the exception with `del process.hltExoticaValidator`.

I also started to wonder one aspects in this workflow. The problematic data product is being read by a (HLT) validation module. Is `VALIDATION` sequence necessary for the purposes of the workflow? Or could the goal be achieved by running like with data, i.e. with only `DQM`?

I noticed the example job is configured to u

[2022-09-07 01:08] tvami commented on #38964
+db
 * resolved in https://github.com/cms-sw/cmssw/pull/39235

[2022-09-07 01:08] cmsbuild commented on #38964
This issue is fully signed and ready to be closed.

[2022-09-07 06:16] kskovpen commented on #39287
Thanks a lot for the investigations, @makortel . My historical memory is unfortunately limited in terms of the choices that were made for certain wfs. Maybe others would have more insights here. As for the memory configuration, yes, this is consistent with what we typically run in production. At some point, there were studies that showed that this should be the optimal set of parameters.

[2022-09-07 09:35] vlimant opened #39335 "chaining toReplaceWith"
I was wondering if there is a major issue with allowing

`(Modifier_A | Modifier_B).toReplaceWith(something, something_else).toReplaceWith(something_dfiferent, something_else_different)`

instead of

`(Modifier_A | Modifier_B).toReplaceWith(something, something_else)
(Modifier_A | Modifier_B).toReplaceWith(something_dfiferent, something_else_different)`

and for other modifier functions

[2022-09-07 09:35] cmsbuild commented on #39335
A new Issue was created by  @vlimant vlimant.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-07 13:12] makortel commented on #39335
assign core

[2022-09-07 13:12] cmsbuild commented on #39335
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-07 14:32] mmusich commented on #39110
to anyone who can devote some some to this :)

thanks, this is already helping.

I think that if you retain the `RECO` data-tier, instead of `AOD` you will have all the info needed.

[2022-09-07 17:31] dan131riley opened #39338 "heap-buffer-overflow in MPQualityEnhancerFilter::filterCousins()"
Found in ASAN, possibly here:

https://github.com/cms-sw/cmssw/blob/0f7bef7ce549f1a3df76070f722acba6fd819bc6/L1Trigger/DTTriggerPhase2/src/MPQualityEnhancerFilter.cc#L123

Truncated ASAN report:
[code]

[2022-09-07 17:31] cmsbuild commented on #39338
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-07 17:34] makortel commented on #39338
assign l1

[2022-09-07 17:34] cmsbuild commented on #39338
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-07 17:35] dan131riley commented on #39338
Sample logs:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_ASAN_X_2022-09-07-1100/pyRelValMatrixLogs/run/38234.0_TTbar_14TeV+2026D85+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step2_TTbar_14TeV+2026D85+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal.log#/
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_g