[2017-09-03 17:14] cmsbuild commented on #20360
The build has started for slc6_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1314/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-03 17:15] cmsbuild commented on #20360
The build has started for slc6_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1316/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-03 17:16] cmsbuild commented on #20360
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1317/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-03 17:16] cmsbuild commented on #20360
The build has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1318/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-03 17:44] cmsbuild commented on #20360
The was an error for slc7_ppc64le_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc7_ppc64le_gcc700/1315

[2017-09-03 23:20] cmsbuild commented on #20360
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc7_aarch64_gcc700/1317
Some

[2017-09-03 23:31] cmsbuild commented on #20360
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc6_amd64_gcc630/1314
Some test

[2017-09-04 00:07] cmsbuild commented on #20360
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc7_amd64_gcc630/1318
Some test

[2017-09-04 00:23] cmsbuild commented on #20360
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc6_amd64_gcc630/1314

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-04 00:31] cmsbuild commented on #20360
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc6_amd64_gcc700/1316
Some test

[2017-09-04 01:18] cmsbuild commented on #20360
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc7_amd64_gcc630/1318

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-04 01:19] cmsbuild commented on #20360
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc7_aarch64_gcc700/1317

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-04 01:22] cmsbuild commented on #20360
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc6_amd64_gcc700/1316

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-04 04:43] davidlange6 commented on #20360
upload all

On 4 Sep 2017, at 03:22, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc700
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0_pre5-slc6_amd64_gcc700/1316

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because yo

[2017-09-04 04:43] cmsbuild commented on #20360
Queing Jenkins upload for slc6_amd64_gcc630

[2017-09-04 04:43] cmsbuild commented on #20360
Queing Jenkins upload for slc6_amd64_gcc700

[2017-09-04 04:43] cmsbuild commented on #20360
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-09-04 04:43] cmsbuild commented on #20360
Queing Jenkins upload for slc7_amd64_gcc630

[2017-09-04 04:44] cmsbuild commented on #20360
The upload has started for slc6_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/869/console

[2017-09-04 04:44] cmsbuild commented on #20360
The upload has started for slc6_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/868/console

[2017-09-04 04:44] cmsbuild commented on #20360
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/870/console

[2017-09-04 04:44] cmsbuild commented on #20360
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre5-slc7_aarch64_gcc700/870
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-04 04:47] cmsbuild commented on #20360
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre5-slc6_amd64_gcc700/869
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-04 04:47] cmsbuild commented on #20360
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-04 04:49] cmsbuild commented on #20360
The upload has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/871/console

[2017-09-04 04:50] cmsbuild commented on #20360
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre5-slc6_amd64_gcc630/868
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-04 04:50] cmsbuild commented on #20360
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-04 04:54] cmsbuild commented on #20360
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre5-slc7_amd64_gcc630/871
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-04 04:54] cmsbuild commented on #20360
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-04 07:32] davidlange6 commented on #20360
release-notes

On 4 Sep 2017, at 06:55, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The upload has successfully finished for slc7_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0_pre5-slc7_amd64_gcc630/871
The release is now being installed, you can see the progress here:
https://cmssdt.cern.ch/jenk

[2017-09-04 07:33] cmsbuild commented on #20360
Generating release notes since CMSSW_9_3_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-04 07:33] cmsbuild commented on #20360
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_3_0_pre5 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_0_pre5

fixing sim problem affecting pix

[2017-09-04 07:39] cmsbuild commented on #20360
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0_pre5

[2017-09-04 08:00] Jangbae opened #20361 "SpySoftware affected by a commit on PoolSource"
Hi,

We've found that there was a commit [1] on PoolSource which changes SiStripSpyEventMatcher under DQM/SiStripMonitorHardware package to use EmbeddedRootSource. The EmbeddedRootSource seems not working so we'd like to raise an issue. These followings are what we've tested for the spy event matcher.

1. We tested CMSSW_9_2_6 and add package "DQM/SiStripMonitorHardware"
   - Compiled and cmsenv d

[2017-09-04 08:00] cmsbuild commented on #20361
A new Issue was created by  @Jangbae .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-04 08:35] makortel opened #20363 "Do we still need matrix workflows without --runUnscheduled?"
I tried to add a module inside DQM sequence that apparently also exists within the reconstruction sequence. This worked fine with workflows having `--runUnscheduled`, but 25.0 failed with "unrunnable schedule" exception (25.0 worked as well if I added `--runUnscheduled` to cmsDriver parameters myself).

So I wonder if we still need workflows without `--runUnscheduled`?

[2017-09-04 08:35] cmsbuild commented on #20363
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-04 13:33] Dr15Jones commented on #20361
@dan131riley could you take a look at this?

[2017-09-04 16:22] dan131riley commented on #20361
@Jangbae can you give me a recipe for reproducing this?

[2017-09-04 17:26] davidlange6 opened #20374 "Build CMSSW_9_2_11"

[2017-09-04 17:26] cmsbuild commented on #20374
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-04 17:27] davidlange6 commented on #20374
+1

[2017-09-04 17:27] cmsbuild commented on #20374
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-09-04 17:27] cmsbuild commented on #20374
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-09-04 17:28] cmsbuild commented on #20374
The build has started for slc6_amd64_gcc530 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1319/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-04 17:28] cmsbuild commented on #20374
The build has started for slc6_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1320/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-04 17:29] cmsbuild commented on #20374
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1321/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-04 17:30] cmsbuild commented on #20374
The build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1322/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-04 20:50] cmsbuild commented on #20374
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc6_amd64_gcc630/1320
Some tests (

[2017-09-04 20:55] cmsbuild commented on #20374
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc7_amd64_gcc630/1322
Some tests (

[2017-09-04 21:31] cmsbuild commented on #20374
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc6_amd64_gcc630/1320

Tests results:
17 16 15 13 8 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-09-04 21:43] cmsbuild commented on #20374
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc7_amd64_gcc630/1322

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-09-04 22:31] cmsbuild commented on #20374
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc7_amd64_gcc530/1321
Some tests (

[2017-09-04 23:11] cmsbuild commented on #20374
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc6_amd64_gcc530/1319
Some tests (

[2017-09-04 23:24] cmsbuild commented on #20374
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc7_amd64_gcc530/1321

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-09-04 23:50] cmsbuild commented on #20374
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc6_amd64_gcc530/1319

Tests results:
17 16 15 13 8 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-09-05 06:26] davidlange6 commented on #20374
abort

[2017-09-05 06:26] davidlange6 commented on #20374
broken tests (2017B data)

[2017-09-05 06:27] cmsbuild commented on #20374
Deleting CMSSW_9_2_11:

  -Release successfully deleted

  -cmssw tag CMSSW_9_2_11 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_11/slc6_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_11/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_11/slc7_amd64_gcc530 successfully deleted.

 -cmsdist tag REL/CMSSW_9_2_11/slc7_amd64_gcc630 successfully deleted.

You mu

[2017-09-05 06:36] #20374 closed

[2017-09-05 08:39] Jangbae commented on #20361
@dan131riley
Sure, Following is the recipe.

cmsrel CMSSW_9_2_6
cmsenv in src
git addpkg-cms DQM/SiStripMonitorHardware
scram b
DQM/SiStripMonitorHardware/test/spyEventMatching_cfg.py
        * Line 12 : a main stream data file should be given [1]
        * Line 27 : global tag = 92X_upgrade2017_TSG_For83XSamples_V4
        * Line 32 : a digitized spy data file should be given[2]
        * Line 44

[2017-09-05 09:47] makortel opened #20377 "fix-code-checks-yaml.py fails in 9_3_0_pre5"
I have a case in 9_3_0_pre5 where `scram b code-checks` fails with
[code]

The yaml file contains
[code]
so apparently the empty `Diagnostics:` gets translated as `None`. Is this an indication of a problem in the program producing the yaml file, or should `fix-code-checks-yaml.py` be fixed to properly handle this case?

[2017-09-05 09:48] cmsbuild commented on #20377
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-05 09:51] makortel commented on #20363
The context is #20378, and the failure is visible also in the log
https://cmssdt.cern.ch/SDT/code-checks/PR-20378/500/code-checks.log

[2017-09-05 09:52] makortel commented on #20377
The context is #20378, and the failure is visible in the log
https://cmssdt.cern.ch/SDT/code-checks/PR-20378/500/code-checks.log

[2017-09-05 09:52] makortel commented on #20363
(sorry, the already-deleted comment went to a wrong issue)

[2017-09-05 10:22] smuzaffar commented on #20377
assign core
@makortel , thanks for reporting it. I can reproduce this and soon provide a fix for next IBs (today's 23h).

[2017-09-05 10:22] cmsbuild commented on #20377
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-05 12:04] dan131riley opened #20379 "seg fault in HcalDigitizer::updateGeometry/race in HcalGeometry"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_9_3_DEVEL_X_2017-09-04-2300/pyRelValMatrixLogs/run/250403.0_H125GGgluonfusion_13+FS_H125GGgluonfusion_13_PRMXUP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS/step1_H125GGgluonfusion_13+FS_H125GGgluonfusion_13_PRMXUP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS.log

Possibly due to an (old) race condition in HcalGeometry::getValidDetIds().  HcalGe

[2017-09-05 12:04] cmsbuild commented on #20379
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-05 12:07] Dr15Jones commented on #20379
Assign core

[2017-09-05 12:07] cmsbuild commented on #20379
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-05 12:16] smuzaffar opened #20380 "Avoid generic executable names in cmssw e.g. configure"
Installing pycrypto using pip in PYTHONUSERBASE failed if cmssw env is set [b]. It turned out of one has ```configure``` executable in PATH then setup.py runs our configure instead of one from pycrypto [a]

We have Alignment/HIPAlignmentAlgorithm/scripts/configure which is copied to cmssw/bin/arch directory. Is this script needed (and should it be in PATH)? Is yes then can we rename it?

[a]
https

[2017-09-05 12:16] cmsbuild commented on #20380
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-05 12:17] smuzaffar commented on #20380
assign alca

[2017-09-05 12:17] cmsbuild commented on #20380
New categories assigned: alca

@lpernie,@cerminar,@arunhep,@franzoni,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-05 12:47] ghellwig commented on #20380
att: @usarica @hroskes

[2017-09-05 19:39] davidlange6 opened #20389 "Build CMSSW_9_2_11"

[2017-09-05 19:39] cmsbuild commented on #20389
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-05 19:43] davidlange6 commented on #20389
+1

[2017-09-05 19:43] cmsbuild commented on #20389
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-09-05 19:43] cmsbuild commented on #20389
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-09-05 19:44] cmsbuild commented on #20389
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1323/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-05 19:45] cmsbuild commented on #20389
The build has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1326/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-05 19:45] cmsbuild commented on #20389
The build has started for slc7_amd64_gcc530 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1325/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-05 19:45] cmsbuild commented on #20389
The build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1324/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-05 22:37] cmsbuild commented on #20389
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc6_amd64_gcc630/1324
Some tests (

[2017-09-05 22:42] cmsbuild commented on #20389
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc7_amd64_gcc630/1326
Some tests (

[2017-09-05 22:59] cmsbuild commented on #20389
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc6_amd64_gcc530/1323
Some tests (

[2017-09-05 23:20] cmsbuild commented on #20389
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc6_amd64_gcc630/1324

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-05 23:35] cmsbuild commented on #20389
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc7_amd64_gcc630/1326

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-09-05 23:47] cmsbuild commented on #20389
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc6_amd64_gcc530/1323

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-06 00:06] dan131riley commented on #20361
It looks like this was broken in the 74x timeframe, before PoolSource was refactored.  In 73x, RootInputFileSequence::readOneSequential() returns false when it runs off the end of the file list:

[code]

In 74x, that changed to

[code]

i.e., when it reaches the end of the list it loops back to the first file.  This makes sense for the mixing module, but not for the SpyEventMatcher, it does

[code

[2017-09-06 00:19] cmsbuild commented on #20389
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc7_amd64_gcc530/1325
Some tests (

[2017-09-06 01:09] cmsbuild commented on #20389
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_11-slc7_amd64_gcc530/1325

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-09-06 05:20] davidlange6 commented on #20389
upload all

[2017-09-06 05:20] cmsbuild commented on #20389
Queing Jenkins upload for slc6_amd64_gcc530

[2017-09-06 05:20] cmsbuild commented on #20389
Queing Jenkins upload for slc6_amd64_gcc630

[2017-09-06 05:20] cmsbuild commented on #20389
Queing Jenkins upload for slc7_amd64_gcc530

[2017-09-06 05:20] cmsbuild commented on #20389
Queing Jenkins upload for slc7_amd64_gcc630

[2017-09-06 05:21] cmsbuild commented on #20389
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/872/console

[2017-09-06 05:25] cmsbuild commented on #20389
The upload has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/873/console

[2017-09-06 05:25] cmsbuild commented on #20389
The upload has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/875/console

[2017-09-06 05:25] cmsbuild commented on #20389
The upload has started for slc7_amd64_gcc530 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/874/console

[2017-09-06 05:27] cmsbuild commented on #20389
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_11-slc6_amd64_gcc630/873
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-06 05:27] cmsbuild commented on #20389
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-06 05:27] cmsbuild commented on #20389
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_11-slc6_amd64_gcc530/872
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-06 05:27] cmsbuild commented on #20389
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-06 05:27] cmsbuild commented on #20389
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_11-slc7_amd64_gcc630/875
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-06 05:28] cmsbuild commented on #20389
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-06 05:28] cmsbuild commented on #20389
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_11-slc7_amd64_gcc530/874
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-06 05:28] cmsbuild commented on #20389
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-06 05:38] cmsbuild commented on #20360
The cleanup has started for slc7_aarch64_gcc700

[2017-09-06 05:38] cmsbuild commented on #20360
The cleanup has started for slc7_ppc64le_gcc700

[2017-09-06 05:38] cmsbuild commented on #20360
The cleanup has started for slc6_amd64_gcc630

[2017-09-06 05:38] cmsbuild commented on #20360
The cleanup has started for slc6_amd64_gcc700

[2017-09-06 05:38] cmsbuild commented on #20360
The cleanup has started for slc7_amd64_gcc630

[2017-09-06 05:38] #20360 closed

[2017-09-06 05:41] cmsbuild commented on #20360
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre5-slc7_aarch64_gcc700/777

[2017-09-06 05:42] cmsbuild commented on #20360
The workspace for slc7_ppc64le_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre5-slc7_ppc64le_gcc700/779

[2017-09-06 05:51] cmsbuild commented on #20360
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre5-slc7_amd64_gcc630/778

[2017-09-06 05:52] cmsbuild commented on #20360
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre5-slc6_amd64_gcc630/775

[2017-09-06 06:03] cmsbuild commented on #20360
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0_pre5-slc6_amd64_gcc700/776

[2017-09-06 08:02] davidlange6 commented on #20389
release-notes

[2017-09-06 08:03] cmsbuild commented on #20389
Generating release notes since CMSSW_9_2_10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-06 08:03] cmsbuild commented on #20389
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_11 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_11

Cheers,
cms-bot

You can al

[2017-09-06 08:05] cmsbuild commented on #20389
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_11

[2017-09-06 08:11] #20380 closed

[2017-09-06 08:54] davidlange6 opened #20395 "Build CMSSW_8_0_30"

[2017-09-06 08:54] davidlange6 commented on #20395
+1

[2017-09-06 08:54] cmsbuild commented on #20395
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-06 08:54] cmsbuild commented on #20395
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_30. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2017-09-06 08:54] cmsbuild commented on #20395
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2017-09-06 08:56] cmsbuild commented on #20395
The build has started for slc6_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1327/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-06 08:56] cmsbuild commented on #20395
The build has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1328/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-06 12:13] cmsbuild commented on #20395
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_30-slc7_amd64_gcc530/1328
Some tests (

[2017-09-06 12:16] davidlange6 commented on #20395
upload all

[2017-09-06 12:16] cmsbuild commented on #20395
Queing Jenkins upload for slc7_amd64_gcc530

[2017-09-06 12:19] cmsbuild commented on #20395
The upload has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/876/console

[2017-09-06 12:21] cmsbuild commented on #20395
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_30-slc7_amd64_gcc530/876
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-06 12:21] cmsbuild commented on #20395
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-06 12:41] cmsbuild commented on #20395
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_30-slc7_amd64_gcc530/1328

Tests results:
10 9 8 6 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-09-06 14:14] cmsbuild commented on #20395
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_30-slc6_amd64_gcc530/1327
Some tests (

[2017-09-06 14:14] cmsbuild commented on #20395
Queing Jenkins upload for slc6_amd64_gcc530

[2017-09-06 14:17] cmsbuild commented on #20395
The upload has started for slc6_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/877/console

[2017-09-06 14:20] cmsbuild commented on #20395
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_30-slc6_amd64_gcc530/877
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-06 14:20] cmsbuild commented on #20395
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-06 14:33] slava77 opened #20404 "add a 2017 workflow with PU 35 or more"
currently available 2017 data workflows correspond to run 297227 with PU below 20.
While this is faster to process, this does not cover the range of issue we have seen at higher PU.
Please add a set of workflows, perhaps also from more recent data period with PU 35 or maybe even more.

[2017-09-06 14:33] cmsbuild commented on #20404
New categories assigned: pdmv

@fabozzi,@kkousour,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-06 14:33] cmsbuild commented on #20404
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-06 14:38] cmsbuild commented on #20395
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_30-slc6_amd64_gcc530/1327

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-06 14:40] dan131riley commented on #20361
PR #20403 adds an option to restore the old behavior where EmbeddedRootSource stops at the end of the last file.  With this change, your test case runs to completion, producing a SpyMatchedEvents.root with 1 run, 49 lumis and 0 events.  This looks to be correct, as SpyRawToDigis.root contains run 298270 lumi 1, while the raw data file only has data from run 201679, so there shouldn't be any match.

[2017-09-06 15:27] davidlange6 commented on #20395
release-notes

[2017-09-06 15:27] cmsbuild commented on #20395
Generating release notes since CMSSW_8_0_29.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-06 15:27] cmsbuild commented on #20395
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_30 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_29 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_30

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2017-09-06 15:29] cmsbuild commented on #20395
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_30

[2017-09-07 13:14] slava77 opened #20414 "backport constness of access to miniPFIsolation() in 93X and 92X in pat::Lepton"
This is mostly a reminder, since the backport was already agreed to be made.

more specifically, this is going to be a partial backport of the fix for a change already made in the master branch in https://github.com/cms-sw/cmssw/pull/20367/files#diff-c783acf43613dd0bf38e9a575b05d907R196

@gpetruc @arizzi

[2017-09-07 13:14] cmsbuild commented on #20414
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-07 13:14] slava77 commented on #20414
assign reconstruction

[2017-09-07 13:15] cmsbuild commented on #20414
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-07 13:18] beaudett opened #20415 "edmConfigBrower broken when using era"
Hello,

I wanted to have a detailed look at the reconstruction for the upgrade and to do so I wanted to use the edmConfigBrowser.
I first dumped the python into a file
`
cmsDriver.py step3  --conditions auto:phase2_realistic -n 1 --era Phase2 --eventcontent RECOSIM,MINIAODSIM,DQM --runUnscheduled  -s RAW2DIGI,L1Reco,RECO,PAT,VALIDATION:@phase2Validation+@miniAODValidation,DQM:@phase2+@miniAODDQM -

[2017-09-07 13:18] cmsbuild commented on #20415
A new Issue was created by  @beaudett Florian Beaudette.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-07 13:25] Dr15Jones commented on #20415
assign core

[2017-09-07 13:25] cmsbuild commented on #20415
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-07 14:00] slava77 opened #20417 "merge or unify DAClusterizerInZT_vect and DAClusterizerInZ_vect"
DAClusterizerInZT_vect was derived primarily from DAClusterizerInZ_vect, but with some deviations that were either made ad hoc or to preserve historical compatibility with the old settings in DAClusterizerInZT.

The class declaration and implementation of DAClusterizerInZ_vect and DAClusterizerInZT_vect are over 1K lines of code and differ perhaps only by 10% or less.

@lgray

[2017-09-07 14:00] cmsbuild commented on #20417
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-07 14:01] slava77 commented on #20417
assign reconstruction

[2017-09-07 14:01] cmsbuild commented on #20417
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-07 14:32] Dr15Jones commented on #20415
It appears that edmConfigBrowser is unable to properly show 'unscheduled' configurations.

[2017-09-07 14:39] Dr15Jones commented on #20415
@20419 fixes the crashes seen when parsing the file. That is the best I can do. The code in FWCore/GuiBrowsers was not created by the Core team and therefore is not maintained by us. Developers outside of Core would be needed to modernize edmConfigBrowser.

[2017-09-07 19:46] Dr15Jones commented on #20415
#20419 I have now made edmConfigBrowser always go to 'unscheduled' mode since all configs are now implicitly unscheduled. However, doing that originally made edmConfigBrowser startup to not finish within the 'heat death of the universe' (I let it run for > 30 minutes and it never finished). I made performance improvements on the code and now it only takes a long time (several minutes) to finally f

[2017-09-07 19:46] Dr15Jones commented on #20415
+1

[2017-09-07 19:47] cmsbuild commented on #20415
This issue is fully signed and ready to be closed.

[2017-09-07 23:33] rappoccio commented on #20346
Hi, Folks,

I'm running into some trouble here. My current setup is [here](https://github.com/rappoccio/cmssw/tree/checkingptrs_94x)

I'm not sure I'm using the AssociationMap correctly if PUPPI is used.

From [here](http://cmslxr.fnal.gov/source/PhysicsTools/PatAlgos/plugins/PATPackedCandidateProducer.cc#0389) it seems that the PUPPI candidates are added to the "pf2pc" Association. However, if I

[2017-09-08 06:08] cmsbuild commented on #20389
The cleanup has started for slc6_amd64_gcc530

[2017-09-08 06:08] cmsbuild commented on #20389
The cleanup has started for slc6_amd64_gcc630

[2017-09-08 06:08] cmsbuild commented on #20389
The cleanup has started for slc7_amd64_gcc530

[2017-09-08 06:08] cmsbuild commented on #20389
The cleanup has started for slc7_amd64_gcc630

[2017-09-08 06:08] #20389 closed

[2017-09-08 06:10] cmsbuild commented on #20389
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_11-slc6_amd64_gcc530/780

[2017-09-08 06:15] cmsbuild commented on #20389
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_11-slc7_amd64_gcc530/782

[2017-09-08 06:16] cmsbuild commented on #20389
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_11-slc6_amd64_gcc630/781

[2017-09-08 06:18] cmsbuild commented on #20389
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_11-slc7_amd64_gcc630/783

[2017-09-08 07:45] arizzi commented on #20346
Hi Sal,

as the name says pc2pf does "packedCandidate to ParticleFlow" you should
use
"pf2pc" that should contain both
particleFlow to packedCandidates
and
puppi to packedCandidates

I'm not sure we fill a pc2puppi map (but it can be added)

if the subjets point to packedPfCands it means they have been already
rekeyed so why do you want to go back to puppi cands? if you want to match
the remaining

[2017-09-08 12:14] makortel commented on #20377
I presume the fix is working (didn't bother to test myself) so I close the issue.

[2017-09-08 12:14] #20377 closed

[2017-09-08 13:12] rappoccio commented on #20346
Hi, Andrea,

Yes, I could try to go the other way, but this should also work... having PUPPI in the pf2pc Association doesn't seem to be working, though. This seems like something is wrong, regardless of the final solution. In the meantime I can indeed switch to compare all packed candidates.

Cheers,
Sal

[2017-09-08 13:38] cmsbuild commented on #20395
The cleanup has started for slc6_amd64_gcc530

[2017-09-08 13:38] cmsbuild commented on #20395
The cleanup has started for slc7_amd64_gcc530

[2017-09-08 13:38] #20395 closed

[2017-09-08 13:44] cmsbuild commented on #20395
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_30-slc7_amd64_gcc530/785

[2017-09-08 13:45] cmsbuild commented on #20395
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_30-slc6_amd64_gcc530/784

[2017-09-08 13:55] makortel opened #20435 "Improper patch by code-checks"
In CMSSW_9_3_0_pre5 `scram b code-checks` made the following change
[code]
which doesn't compile because "Handle does not have member 'empty'". I think the checks should have preserved the parentheses, i.e.
[code]

[2017-09-08 13:56] cmsbuild commented on #20435
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-08 14:00] arizzi commented on #20346
so you are saying also pf2pc is broken? i.e. pf2pc[PuppiRef] doesn't work?

On Fri, Sep 8, 2017 at 3:12 PM, rappoccio <notifications@github.com> wrote:

[2017-09-08 14:38] rappoccio commented on #20346
I will double check.

[2017-09-08 21:05] rappoccio commented on #20346
OK good suggestion, comparing all packed candidates is much easier. I have pushed a working version and will make a PR shortly.

[2017-09-08 21:08] rappoccio commented on #20346
PR #20445 addresses this and fixes the issue.

[2017-09-11 14:29] smuzaffar commented on #20435
assign core

thanks @makortel for reporting this. Looks like they have a fix for this in release_50 (we are using release_40) https://github.com/llvm-mirror/clang-tools-extra/commit/5325f7e3c8941232d79913dc2806d13b2c994291#diff-3dad0ce6b4154fbfff0a7b658e5d7c7b

I will try to cherry-pick this fix in our release_40 to avoid this.

[2017-09-11 14:29] cmsbuild commented on #20435
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-11 14:32] cmsbuild commented on #20435
New categories assigned: externals

@smuzaffar,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-11 14:49] ghellwig commented on #20435
@smuzaffar sorry for hijacking this issue, but did you have a look at another code-checks "issue" which I [mentioned in one PR](https://github.com/cms-sw/cmssw/pull/20433#issuecomment-328065055)?

[2017-09-11 14:59] smuzaffar commented on #20435
ah did not noticed that. Looks like checks had broken then line here
https://github.com/cms-sw/cmssw/pull/20433/commits/9f57c6768c4045d2a7f6c4da672df3a7ff5c5e10#diff-616cc1e4006d02189e27f55aafb4c9a8R1446
I will check if they have fix for that too otheriwise open an issue for clang-tidy

[2017-09-11 15:03] ghellwig commented on #20435
thanks!

[2017-09-11 16:42] smuzaffar commented on #20435
@ghellwig ,  this https://github.com/cms-sw/cmssw/commit/9f57c6768c4045d2a7f6c4da672df3a7ff5c5e10#diff-616cc1e4006d02189e27f55aafb4c9a8R1446 is due to bug in our build rules. I will update the rule to avoid this.

[2017-09-12 06:59] ghellwig commented on #20435
@smuzaffar thank you

[2017-09-12 08:08] ianna commented on #20318
the warning message is gone for some reason

[2017-09-12 08:08] #20318 closed

[2017-09-12 08:09] #17786 closed

[2017-09-12 10:47] fwyzard opened #20475 "multiple paths causes the dependency loop detection to fail"
While testing an HLT menu we stumbled upon a job that would be run indefinitely, doing nothing.

Here is a minimal test case to reproduce the issue:
[code]

Running it will produce an output like
[code]
and stay there.

I've reproduced the same behaviour both with `CMSSW_9_2_10` and `CMSSW_9_4_X_2017-09-11-1100`.

If I change the configuration removing or commenting out one of the two identical pa

[2017-09-12 10:47] cmsbuild commented on #20475
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-12 10:48] fwyzard commented on #20475
@degrutto @gennai marco.pieri@cern.ch

[2017-09-12 13:42] Dr15Jones commented on #20475
assign core

[2017-09-12 13:43] cmsbuild commented on #20475
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-12 13:49] Dr15Jones commented on #20475
@fwyzard thanks for reporting the problem and for giving a simple reproducer. Out of curiosity, was the original problem also a case of two identical paths or was it just that two Paths (not EndPaths) had `TriggerResultsFilter`?

That is definitely a bug

The latter might actually be the intended behaviour, though I think it contradicts what would happens with a normal product ?

The latter is int

[2017-09-12 13:56] #20379 closed

[2017-09-12 14:11] #20415 closed

[2017-09-12 18:26] kpedro88 opened #20481 "Propagate Era changes in pickled processes"
When a relval or production job fails, the `PSet.pkl` and `PSet.py` files are provided (see e.g. #20458). One can dump the `PSet.py` file to see what modules and settings are in the process.

However, if the fix for the problem is an Era-dependent change, it will not get propagated to the process, since `PSet.pkl` contains an already-constructed process object. Even though the process object may h

[2017-09-12 18:26] cmsbuild commented on #20481
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-12 18:48] Dr15Jones commented on #20481
assign core

[2017-09-12 18:48] cmsbuild commented on #20481
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-12 19:06] Dr15Jones commented on #20481
I do not believe it is realistically possible to preserve `cms.Modifier`s (ie. "eras") across pickle/unpickle. As far as I can tell, the pickling processes effectively copies the orginal objects. The eras work by sharing the exact same object across all the python modules. After pickling, that connection to the original era is gone.

[2017-09-12 19:22] kpedro88 commented on #20481
Okay, will close and follow up with ops

[2017-09-12 19:22] #20481 closed

[2017-09-13 12:19] smuzaffar commented on #20435
+externals
@makortel and @ghellwig, both of these issues should be fixed in latest 94X IBs.

[2017-09-13 12:19] cmsbuild commented on #20435
This issue is fully signed and ready to be closed.

[2017-09-13 12:55] makortel commented on #20435
Thanks @smuzaffar!

[2017-09-13 12:55] #20435 closed

[2017-09-13 13:25] Dr15Jones commented on #20475
@fwyzard could you put the original full configuration somewhere so I can test that my fix is general enough to catch the full case?

[2017-09-13 13:34] slava77 commented on #19803
+1

fixed in #20153 in 94X

[2017-09-13 13:34] #19803 closed

[2017-09-13 13:34] cmsbuild commented on #19803
This issue is fully signed and ready to be closed.

[2017-09-13 13:35] slava77 commented on #19151
actually closing this issue now

[2017-09-13 13:35] #19151 closed

[2017-09-13 13:38] slava77 commented on #20057
@zdemirag @gouskos @rappoccio @ahinzmann
please take a note.

@kpedro88
are you aware of any follow up on this issue that was not mentioned in this github thread?

[2017-09-13 14:07] kpedro88 commented on #20057
@slava77 not aware of anything

[2017-09-13 15:29] Dr15Jones commented on #20188
I fixed the problem in #20498

[2017-09-13 15:53] Dr15Jones commented on #20475
With the full configuration, my change catches the circular dependency
[code]

I'm testing it now on the full `runTheMatrix.py` to double check I didn't cause a false positive.

[2017-09-13 16:05] Dr15Jones commented on #20475
The fix is in #20502

[2017-09-13 18:09] Dr15Jones opened #20504 "Circular module dependency found in validation_step EndPath"
Improvements to the module circular dependency checker turned up the following problem:
[code]

Cross checking the results does show this to be real. This happens to run because `tpClusterProducer` is run in another Path. However, if for some reason it didn't get run in that Path (because of a failing Filter or because of an exception) the framework would be deadlocked.

[2017-09-13 18:09] cmsbuild commented on #20504
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-13 18:09] Dr15Jones commented on #20504
Assign dqm

[2017-09-13 18:09] cmsbuild commented on #20504
New categories assigned: dqm

@kmaeshima,@vanbesien,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-13 18:10] Dr15Jones commented on #20504
This was discovered in a number of workflows, including 10.0 step3

[2017-09-13 18:25] Dr15Jones commented on #20504
The problem comes from the following ordering

- EndPath `validation_step` contains the Sequence `validationNoHLT`
- `validationNoHLT` contains the Sequences `egammaValidation` and `bdHadronTrackValidationSeq` in that order
- `egammaValidation` contains the Sequence `photonValidationSequence`
- `photonValidationSequence` contains `trackAssociatorByHitsForConversionValidation` but does NOT contain

[2017-09-13 18:29] Dr15Jones commented on #20504
I see several possible solutions

1. Change `photonValidationSequence` to contain all modules needed by all the validating modules. I'm not fond of this since it bloats the processing sequence.
1. Change `bdHadronTrackValidationSeq` and remove all the non validation modules. This is an OK solution and does seem to bring that sequence more in line with other validation sequences.
1. Change `bdHadro

[2017-09-13 19:04] Dr15Jones commented on #20504
Adding a Task to `bdHadronTrackValidationSeq` was easy
[code]
This actually does very little to change the running order since several of the sequences used by the original version of `bdHadronTrackValidationSeq` where just empty Sequences with attached Tasks.

[2017-09-14 05:45] fwyzard commented on #20475
Thanks.
Would you consider a backport to 9.2.x ?
I think the same patch should apply cleanly.

[2017-09-14 07:20] ianna opened #20510 "Running Clang tidy checks-all on Sim packages - summary"
1. Wrong conversion. Here is what is changed:
[code]
this gives compilation error:
[code]
2. The header files are not modified, but the warning is issued:
[code]
and
[code]

[2017-09-14 07:21] cmsbuild commented on #20510
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-14 09:52] smuzaffar commented on #20510
@ianna , For your issue (1), I do not see this behaviour.
- In CMSSW_9_4_X_2017-09-10-2300 relase (where this bug, removal of braces, exists in clang-tidy)  I see that braces were removed but do not see dot being replace with `->`
[code]

- in latest IB i.e. CMSSW_9_4_X_2017-09-13-2300 which has the bug fix for this check, I get
[code]

[2017-09-14 09:57] ianna commented on #20510
@smuzaffar - thanks! I run it with an earlier IB.

[2017-09-14 12:20] smuzaffar commented on #20510
@ianna , for your issue (2), looks like modernize-use-bool-literals check does not fix the code if it is in macro. They have an option  to control it in llvm 5.0 ( https://github.com/llvm-mirror/clang-tools-extra/commit/b1070ce8444b93b58b8cca09e4d887034182871d#diff-7d3ce71e39ae1d05b7415f489e87f69d ). I can cherry pick the change in our llvm 4.0 or we wait for llvm 5.0 to be integrated in our IBs.

[2017-09-14 21:12] Dr15Jones commented on #20504
#20502 contains this necessary change

[2017-09-14 21:15] Dr15Jones commented on #20475
Although the patch would apply cleanly, I have already uncovered two sets of circular dependencies in existing CMSSW_9_4 workflows in runTheMatrix.py. It is likely back porting to CMSSW_9_2 will uncover problems in workflows (that just happen to work) in that release as well. So back porting could cause job failures in jobs that "work" now.

[E.g. the circular dependencies I found would only cause

[2017-09-15 07:37] davidlange6 opened #20526 "Build CMSSW_9_2_12"

[2017-09-15 07:37] cmsbuild commented on #20526
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-15 07:37] davidlange6 commented on #20526
+1

[2017-09-15 07:38] cmsbuild commented on #20526
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_12. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-09-15 07:38] cmsbuild commented on #20526
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-09-15 07:38] cmsbuild commented on #20526
The build has started for slc6_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1330/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-15 07:38] cmsbuild commented on #20526
The build has started for slc6_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1329/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-15 07:39] cmsbuild commented on #20526
The build has started for slc7_amd64_gcc530 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1331/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-15 07:40] cmsbuild commented on #20526
The build has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1332/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-15 09:02] ianna commented on #20510
@smuzaffar - thanks, I think, we can wait

[2017-09-15 09:02] #20510 closed

[2017-09-15 09:48] ahinzmann commented on #20057
here is the fix: #20533

[2017-09-15 09:59] fwyzard commented on #20475
I see... I would still consider it a bug worth fixing, but I don't know who
should fix the workflows.

By the the way - what was the framework doing, when the bug caused the loop
to be undetected ?
Just wait for the collection to be produced ?

.A

[2017-09-15 10:41] cmsbuild commented on #20526
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12-slc6_amd64_gcc630/1330
Some tests (

[2017-09-15 11:26] cmsbuild commented on #20526
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12-slc6_amd64_gcc630/1330

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-15 11:32] cmsbuild commented on #20526
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12-slc7_amd64_gcc530/1331
Some tests (

[2017-09-15 11:39] cmsbuild commented on #20526
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12-slc7_amd64_gcc630/1332
Some tests (

[2017-09-15 12:18] cmsbuild commented on #20526
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12-slc7_amd64_gcc530/1331

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-09-15 12:35] cmsbuild commented on #20526
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12-slc7_amd64_gcc630/1332

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-09-15 13:19] Dr15Jones commented on #20475
to be undetected ?
Just wait for the collection to be produced ?

Yes, it was waiting for the collection to be produced but that couldn't happen because the data it needed ultimately couldn't be made without itself being run.

[2017-09-15 13:21] Dr15Jones commented on #20475
@davidlange6 Andrea has requested that the circular dependency fix be backported to CMSSW_9_2. However, I'm sure it will uncover production configurations which have latent circular dependencies (as it did in CMSSW_9_4). These cycles are bad as they can lead to deadlocks, however modifying production configurations might have unforseen consequences (although I can't see how we would get different

[2017-09-15 14:32] davidlange6 commented on #20526
upload all

[2017-09-15 14:32] cmsbuild commented on #20526
Queing Jenkins upload for slc6_amd64_gcc630

[2017-09-15 14:32] cmsbuild commented on #20526
Queing Jenkins upload for slc7_amd64_gcc530

[2017-09-15 14:32] cmsbuild commented on #20526
Queing Jenkins upload for slc7_amd64_gcc630

[2017-09-15 14:33] cmsbuild commented on #20526
The upload has started for slc7_amd64_gcc530 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/879/console

[2017-09-15 14:33] cmsbuild commented on #20526
The upload has started for slc6_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/878/console

[2017-09-15 14:33] cmsbuild commented on #20526
The upload has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/880/console

[2017-09-15 14:35] cmsbuild commented on #20526
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_12-slc7_amd64_gcc530/879
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-15 14:35] cmsbuild commented on #20526
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-15 14:36] cmsbuild commented on #20526
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_12-slc6_amd64_gcc630/878
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-15 14:36] cmsbuild commented on #20526
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-15 14:37] cmsbuild commented on #20526
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_12-slc7_amd64_gcc630/880
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-15 14:37] cmsbuild commented on #20526
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-15 14:51] davidlange6 commented on #20526
release-notes

[2017-09-15 14:52] cmsbuild commented on #20526
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2017-09-15 15:21] cmsbuild commented on #20526
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12-slc6_amd64_gcc530/1329
Some tests (

[2017-09-15 15:21] cmsbuild commented on #20526
Queing Jenkins upload for slc6_amd64_gcc530

[2017-09-15 15:24] cmsbuild commented on #20526
The upload has started for slc6_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/881/console

[2017-09-15 15:27] cmsbuild commented on #20526
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_12-slc6_amd64_gcc530/881
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-15 15:27] cmsbuild commented on #20526
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-15 15:27] cmsbuild commented on #20526
Generating release notes since CMSSW_9_2_11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-15 15:27] cmsbuild commented on #20526
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_2_12 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_12

Cheers,
cms-bot

You can al

[2017-09-15 15:29] cmsbuild commented on #20526
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_12

[2017-09-15 16:05] davidlange6 opened #20539 "Build CMSSW_9_3_0"

[2017-09-15 16:05] cmsbuild commented on #20539
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-15 16:11] cmsbuild commented on #20526
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12-slc6_amd64_gcc530/1329

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-15 16:20] davidlange6 commented on #20539
+1

[2017-09-15 16:21] cmsbuild commented on #20539
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2017-09-15 16:21] cmsbuild commented on #20539
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2017-09-15 16:32] cmsbuild commented on #20539
The build has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1333/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-15 16:37] cmsbuild commented on #20539
The build has started for slc6_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1334/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-15 16:41] cmsbuild commented on #20539
The build has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1335/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-15 17:49] #13304 closed

[2017-09-15 19:51] Dr15Jones commented on #20475
@fwyzard The backport is #20502

[2017-09-15 20:08] fwyzard commented on #20475
Thanks,
.A

[2017-09-15 20:10] cmsbuild commented on #20539
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0-slc6_amd64_gcc700/1334
Some tests ( r

[2017-09-15 20:21] cmsbuild commented on #20539
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0-slc6_amd64_gcc630/1333
Some tests ( r

[2017-09-15 21:02] cmsbuild commented on #20539
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0-slc6_amd64_gcc700/1334

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-15 21:12] cmsbuild commented on #20539
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1336/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-15 21:20] smuzaffar commented on #9540
@vkuznet , is this still a valid issue?  can we close it?

[2017-09-15 21:25] cmsbuild commented on #20539
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0-slc6_amd64_gcc630/1333

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-15 22:58] cmsbuild commented on #20539
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0-slc7_amd64_gcc630/1335
Some tests ( r

[2017-09-16 00:33] cmsbuild commented on #20539
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0-slc7_amd64_gcc630/1335

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-16 00:33] cmsbuild commented on #20539
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0-slc7_aarch64_gcc700/1336
Some tests

[2017-09-16 02:34] cmsbuild commented on #20539
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_0-slc7_aarch64_gcc700/1336

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-16 08:05] davidlange6 commented on #20539
upload all

[2017-09-16 08:05] cmsbuild commented on #20539
Queing Jenkins upload for slc6_amd64_gcc630

[2017-09-16 08:05] cmsbuild commented on #20539
Queing Jenkins upload for slc6_amd64_gcc700

[2017-09-16 08:05] cmsbuild commented on #20539
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-09-16 08:05] cmsbuild commented on #20539
Queing Jenkins upload for slc7_amd64_gcc630

[2017-09-16 08:07] cmsbuild commented on #20539
The upload has started for slc6_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/883/console

[2017-09-16 08:08] cmsbuild commented on #20539
The upload has started for slc6_amd64_gcc630 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/882/console

[2017-09-16 08:08] cmsbuild commented on #20539
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/884/console

[2017-09-16 08:08] cmsbuild commented on #20539
The upload has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/885/console

[2017-09-16 08:10] cmsbuild commented on #20539
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0-slc6_amd64_gcc700/883
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-16 08:10] cmsbuild commented on #20539
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-16 08:11] cmsbuild commented on #20539
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0-slc6_amd64_gcc630/882
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-16 08:11] cmsbuild commented on #20539
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-16 08:12] cmsbuild commented on #20539
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0-slc7_aarch64_gcc700/884
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-16 08:13] cmsbuild commented on #20539
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_0-slc7_amd64_gcc630/885
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-16 08:13] cmsbuild commented on #20539
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-16 12:44] davidlange6 commented on #20539
release-notes

[2017-09-16 12:44] cmsbuild commented on #20539
Generating release notes since CMSSW_9_3_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-16 12:44] cmsbuild commented on #20539
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_0 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_0

Cheers,
cms-bot

You can also click <a href

[2017-09-16 12:48] cmsbuild commented on #20539
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_0

[2017-09-16 12:52] davidlange6 opened #20546 "Build CMSSW_9_4_0_pre4"

[2017-09-16 12:52] #20546 closed

[2017-09-16 12:53] cmsbuild commented on #20546
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-16 12:53] davidlange6 opened #20547 "Build CMSSW_9_4_0_pre1"

[2017-09-16 12:53] cmsbuild commented on #20547
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-16 12:54] davidlange6 commented on #20547
+1

[2017-09-16 12:54] cmsbuild commented on #20547
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-09-16 12:54] cmsbuild commented on #20547
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-09-16 12:55] cmsbuild commented on #20547
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1337/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-16 12:56] cmsbuild commented on #20547
The build has started for slc6_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1338/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-16 12:56] cmsbuild commented on #20547
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1339/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-16 12:56] cmsbuild commented on #20547
The build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1340/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-16 14:47] cmsbuild commented on #20547
The was an error for slc7_ppc64le_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc7_ppc64le_gcc700/1337

[2017-09-16 15:19] cmsbuild commented on #20547
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc6_amd64_gcc700/1339

[2017-09-16 15:45] cmsbuild commented on #20547
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc7_amd64_gcc630/1340

[2017-09-16 20:40] cmsbuild commented on #20547
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc6_amd64_gcc630/1338
Some test

[2017-09-16 21:33] cmsbuild commented on #20547
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc6_amd64_gcc630/1338

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-16 22:14] cmsbuild commented on #20547
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1341/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-17 01:30] cmsbuild commented on #20547
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc7_aarch64_gcc700/1341

[2017-09-17 07:47] davidlange6 commented on #20547
upload all

On 16 Sep 2017, at 23:33, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc630
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc6_amd64_gcc630/1338

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because y

[2017-09-17 07:48] cmsbuild commented on #20547
Queing Jenkins upload for slc6_amd64_gcc630

[2017-09-17 07:48] cmsbuild commented on #20547
The upload has started for slc6_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/886/console

[2017-09-17 07:56] cmsbuild commented on #20547
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_pre1-slc6_amd64_gcc630/886
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-17 07:56] cmsbuild commented on #20547
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-17 12:53] cmsbuild commented on #20526
The cleanup has started for slc6_amd64_gcc530

[2017-09-17 12:53] cmsbuild commented on #20526
The cleanup has started for slc6_amd64_gcc630

[2017-09-17 12:53] cmsbuild commented on #20526
The cleanup has started for slc7_amd64_gcc530

[2017-09-17 12:53] cmsbuild commented on #20526
The cleanup has started for slc7_amd64_gcc630

[2017-09-17 12:53] #20526 closed

[2017-09-17 13:01] cmsbuild commented on #20526
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_12-slc7_amd64_gcc630/789

[2017-09-17 13:01] cmsbuild commented on #20526
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_12-slc6_amd64_gcc630/787

[2017-09-17 13:01] cmsbuild commented on #20526
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_12-slc7_amd64_gcc530/788

[2017-09-17 13:24] cmsbuild commented on #20526
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_12-slc6_amd64_gcc530/786

[2017-09-17 16:26] davidlange6 commented on #20547
release-notes since CMSSW_9_3_0

[2017-09-17 16:26] cmsbuild commented on #20547
Generating release notes since CMSSW_9_3_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-17 16:26] cmsbuild commented on #20547
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_4_0_pre1 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_3_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_0_pre1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@ce

[2017-09-17 16:32] cmsbuild commented on #20547
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre1

[2017-09-18 10:42] cmsbuild commented on #20547
The build has started for slc7_amd64_gcc630 in cmsbuild28.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1342/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-18 10:43] cmsbuild commented on #20547
The build has started for slc6_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1343/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-18 10:53] cmsbuild commented on #20539
The cleanup has started for slc7_aarch64_gcc700

[2017-09-18 10:53] cmsbuild commented on #20539
The cleanup has started for slc6_amd64_gcc630

[2017-09-18 10:53] cmsbuild commented on #20539
The cleanup has started for slc6_amd64_gcc700

[2017-09-18 10:53] cmsbuild commented on #20539
The cleanup has started for slc7_amd64_gcc630

[2017-09-18 10:53] #20539 closed

[2017-09-18 10:54] cmsbuild commented on #20539
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0-slc6_amd64_gcc630/790

[2017-09-18 10:54] cmsbuild commented on #20539
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0-slc7_aarch64_gcc700/792

[2017-09-18 11:02] cmsbuild commented on #20539
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0-slc7_amd64_gcc630/793

[2017-09-18 11:02] cmsbuild commented on #20539
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_0-slc6_amd64_gcc700/791

[2017-09-18 12:56] perrotta opened #20558 "Optimize new Energy Correlation Functions from fastjet"
Integration of PR #19601 lead to some sizeable increase in computation time, quantified as follows for the new modules:

TimeReport   0.044377     0.044377     0.044377  nb1AK8PuppiSoftDrop
TimeReport   0.011530     0.011530     0.011530  nb1AK8PuppiSoftDropSubjets
TimeReport   0.043666     0.043666     0.043666  nb2AK8PuppiSoftDrop
TimeReport   0.011512     0.011512     0.011512  nb2AK8PuppiSoftD

[2017-09-18 12:56] perrotta commented on #20558
assign reco

[2017-09-18 12:56] cmsbuild commented on #20558
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-18 13:21] Dr15Jones commented on #20558
assign reconstruction

[2017-09-18 13:22] cmsbuild commented on #20558
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-18 18:02] cmsbuild commented on #20547
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc6_amd64_gcc700/1343
Some test

[2017-09-18 18:02] cmsbuild commented on #20547
Queing Jenkins upload for slc6_amd64_gcc700

[2017-09-18 18:02] cmsbuild commented on #20547
The upload has started for slc6_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/887/console

[2017-09-18 18:06] cmsbuild commented on #20547
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_pre1-slc6_amd64_gcc700/887
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-18 18:06] cmsbuild commented on #20547
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-18 18:55] cmsbuild commented on #20547
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc6_amd64_gcc700/1343

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-18 19:30] cmsbuild commented on #20547
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc7_amd64_gcc630/1342
Some test

[2017-09-18 19:30] cmsbuild commented on #20547
Queing Jenkins upload for slc7_amd64_gcc630

[2017-09-18 19:32] cmsbuild commented on #20547
The upload has started for slc7_amd64_gcc630 in cmsbuild28.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/888/console

[2017-09-18 19:35] cmsbuild commented on #20547
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_pre1-slc7_amd64_gcc630/888
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-18 19:35] cmsbuild commented on #20547
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-18 20:57] cmsbuild commented on #20547
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre1-slc7_amd64_gcc630/1342

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-19 04:14] rappoccio commented on #20558
By only running the N3 variable if the jet pt satisfies pt > 250 GeV, I get these timings:

[code]

So an additional factor of two improvement. This was tested over 1000 events of workflow 10024.0. These are each about 2x as expensive as a new jet collection:

[code]

and around the same as the inclusiveCandidateVertexFinder:

[code]

and the HPS tau primary vertex producer:
[code]

[2017-09-19 05:30] perrotta commented on #20558
Thank you @rappoccio
I suppose it was the 10224 wf instead (TTbar with PU, the one we used for reference in the PR): could you please confirm?
Now one should make sure that the pt=250 cut is ok for physics, then a PR with it can be submitted

[2017-09-19 11:29] #20057 closed

[2017-09-19 12:05] vkuznet commented on #9540
Not valid anymore

[2017-09-19 12:05] #9540 closed

[2017-09-19 13:44] rappoccio commented on #20558
Oh, bother, I have indeed been using 10024, not 10224. That may explain the differences we have been seeing!

The pt > 250 GeV cut is okay for physics because this cut won't be relevant until top quarks start to merge, typically around pt > 400 GeV. This is already (probably too) conservative, to be able to catch the corner cases when the groomed pt is much below the ungroomed threshold of pt > 40

[2017-09-19 14:38] cmsbuild commented on #20547
The cleanup has started for slc6_amd64_gcc700

[2017-09-19 14:38] cmsbuild commented on #20547
The cleanup has started for slc7_aarch64_gcc700

[2017-09-19 14:38] cmsbuild commented on #20547
The cleanup has started for slc7_amd64_gcc630

[2017-09-19 14:38] cmsbuild commented on #20547
The cleanup has started for slc7_ppc64le_gcc700

[2017-09-19 14:38] cmsbuild commented on #20547
The cleanup has started for slc6_amd64_gcc630

[2017-09-19 14:38] cmsbuild commented on #20547
The cleanup has started for slc6_amd64_gcc700

[2017-09-19 14:38] #20547 closed

[2017-09-19 16:08] davidlange6 opened #20589 "Build CMSSW_7_1_30"

[2017-09-19 16:08] cmsbuild commented on #20589
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-19 16:08] davidlange6 opened #20590 "Build CMSSW_9_3_1"

[2017-09-19 16:09] cmsbuild commented on #20590
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-19 16:11] davidlange6 commented on #20590
+1

[2017-09-19 16:12] cmsbuild commented on #20590
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2017-09-19 16:12] cmsbuild commented on #20590
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2017-09-19 16:13] cmsbuild commented on #20590
The build has started for slc6_amd64_gcc630 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1344/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-19 16:14] davidlange6 commented on #20589
+1

[2017-09-19 16:14] cmsbuild commented on #20589
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_30. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2017-09-19 16:14] cmsbuild commented on #20589
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-09-19 16:18] cmsbuild commented on #20590
The build has started for slc6_amd64_gcc700 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1345/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-19 16:22] cmsbuild commented on #20590
The build has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1346/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-19 16:23] cmsbuild commented on #20590
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1347/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-19 16:27] cmsbuild commented on #20589
The build has started for slc6_amd64_gcc481 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1348/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-19 17:02] rappoccio commented on #20558
With 10224 over 10 events, I get these timings:

[code]

I don't understand why the timing of the two WFs should be much different.

[2017-09-19 19:01] cmsbuild commented on #20590
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_1-slc7_aarch64_gcc700/1347
Some tests

[2017-09-19 19:22] cmsbuild commented on #20590
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_1-slc6_amd64_gcc700/1345
Some tests ( r

[2017-09-19 19:40] cmsbuild commented on #20590
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_1-slc7_amd64_gcc630/1346
Some tests ( r

[2017-09-19 20:15] cmsbuild commented on #20590
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_1-slc6_amd64_gcc700/1345

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-19 20:38] cmsbuild commented on #20590
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_1-slc7_amd64_gcc630/1346

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-19 21:01] cmsbuild commented on #20590
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_1-slc7_aarch64_gcc700/1347

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-19 21:25] cmsbuild commented on #20589
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_30-slc6_amd64_gcc481/1348
Some tests (

[2017-09-19 21:46] cmsbuild commented on #20589
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_30-slc6_amd64_gcc481/1348

Tests results:
7 6 5 5 3 tests passed, 0 1 0 0 0 failed

[2017-09-19 22:04] cmsbuild commented on #20590
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_1-slc6_amd64_gcc630/1344
Some tests ( r

[2017-09-19 23:10] cmsbuild commented on #20590
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_1-slc6_amd64_gcc630/1344

Tests results:
20 19 18 15 9 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-09-20 13:29] smuzaffar opened #20604 "Files/directories names starting with numeric characters"
We have noticed python import issues with such files, so there is proposal to disallow adding new files/directories names starting with numeric characters.
As in package/test and package/data we have year based files, so may be we should add exception for these sub-folders.

[2017-09-20 13:29] cmsbuild commented on #20604
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-20 13:30] smuzaffar commented on #20604
assign externals
FYI, @perrozzi

[2017-09-20 13:30] cmsbuild commented on #20604
New categories assigned: externals

@smuzaffar,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-20 15:26] davidlange6 commented on #20590
upload all

[2017-09-20 15:26] cmsbuild commented on #20590
Queing Jenkins upload for slc6_amd64_gcc630

[2017-09-20 15:26] cmsbuild commented on #20590
Queing Jenkins upload for slc6_amd64_gcc700

[2017-09-20 15:26] cmsbuild commented on #20590
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-09-20 15:26] cmsbuild commented on #20590
Queing Jenkins upload for slc7_amd64_gcc630

[2017-09-20 15:29] cmsbuild commented on #20590
The upload has started for slc6_amd64_gcc700 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/890/console

[2017-09-20 15:29] cmsbuild commented on #20590
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/891/console

[2017-09-20 15:29] cmsbuild commented on #20590
The upload has started for slc6_amd64_gcc630 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/889/console

[2017-09-20 15:29] cmsbuild commented on #20590
The upload has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/892/console

[2017-09-20 15:29] cmsbuild commented on #20590
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_1-slc7_aarch64_gcc700/891
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-20 15:30] cmsbuild commented on #20590
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_1-slc7_amd64_gcc630/892
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-20 15:30] cmsbuild commented on #20590
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_1-slc6_amd64_gcc700/890
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-20 15:30] cmsbuild commented on #20590
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-20 15:30] cmsbuild commented on #20590
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-20 15:33] cmsbuild commented on #20590
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_1-slc6_amd64_gcc630/889
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-20 15:34] cmsbuild commented on #20590
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-20 17:00] davidlange6 commented on #20590
release-notes

[2017-09-20 17:01] cmsbuild commented on #20590
Generating release notes since CMSSW_9_3_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-20 17:01] cmsbuild commented on #20590
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_1

Cheers,
cms-bot

You can also click <a href="mai

[2017-09-20 17:02] cmsbuild commented on #20590
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_1

[2017-09-21 06:16] davidlange6 commented on #20589
abort

[2017-09-21 06:17] cmsbuild commented on #20589
Deleting CMSSW_7_1_30:

  -Release successfully deleted

  -cmssw tag CMSSW_7_1_30 successfully deleted.

 -cmsdist tag REL/CMSSW_7_1_30/slc6_amd64_gcc481 successfully deleted.

You must create a new issue to start over the build.

[2017-09-21 06:17] #20589 closed

[2017-09-21 06:17] davidlange6 opened #20609 "Build CMSSW_7_1_30"

[2017-09-21 06:17] davidlange6 commented on #20609
+1

[2017-09-21 06:17] cmsbuild commented on #20609
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-21 06:17] cmsbuild commented on #20609
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_30. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2017-09-21 06:18] cmsbuild commented on #20609
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2017-09-21 06:19] cmsbuild commented on #20609
The build has started for slc6_amd64_gcc481 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1349/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-21 08:57] cmsbuild commented on #20609
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_30-slc6_amd64_gcc481/1349
Some tests (

[2017-09-21 09:09] davidlange6 opened #20611 "Build CMSSW_9_2_12_patch1"

[2017-09-21 09:09] cmsbuild commented on #20611
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-21 09:11] cmsbuild commented on #20609
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_30-slc6_amd64_gcc481/1349

Tests results:
7 6 5 5 3 tests passed, 0 1 0 0 0 failed

[2017-09-21 10:09] davidlange6 commented on #20611
+1

[2017-09-21 10:10] cmsbuild commented on #20611
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_12_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-09-21 10:10] cmsbuild commented on #20611
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-09-21 10:10] davidlange6 commented on #20609
upload all

[2017-09-21 10:10] cmsbuild commented on #20609
Queing Jenkins upload for slc6_amd64_gcc481

[2017-09-21 10:11] cmsbuild commented on #20611
The build has started for slc6_amd64_gcc530 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1350/console
CMSDIST Branch: [REL/CMSSW_9_2_12/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_12/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-21 10:11] cmsbuild commented on #20609
The upload has started for slc6_amd64_gcc481 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/893/console

[2017-09-21 10:12] cmsbuild commented on #20611
The build has started for slc6_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1351/console
CMSDIST Branch: [REL/CMSSW_9_2_12/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_12/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-21 10:12] cmsbuild commented on #20611
The build has started for slc7_amd64_gcc530 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1352/console
CMSDIST Branch: [REL/CMSSW_9_2_12/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_12/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-21 10:12] cmsbuild commented on #20611
The build has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1353/console
CMSDIST Branch: [REL/CMSSW_9_2_12/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_2_12/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-09-21 10:12] cmsbuild commented on #20609
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_30-slc6_amd64_gcc481/893
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-21 10:12] cmsbuild commented on #20609
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-21 10:22] davidlange6 commented on #20609
release-notes

[2017-09-21 10:22] cmsbuild commented on #20609
Generating release notes since CMSSW_7_1_29.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-21 10:22] cmsbuild commented on #20609
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_30 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_29 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_30

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2017-09-21 10:24] cmsbuild commented on #20609
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_30

[2017-09-21 10:41] cmsbuild commented on #20611
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12_patch1-slc6_amd64_gcc630/1351
Some t

[2017-09-21 10:41] cmsbuild commented on #20611
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12_patch1-slc7_amd64_gcc630/1353
Some t

[2017-09-21 10:43] cmsbuild commented on #20611
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12_patch1-slc7_amd64_gcc530/1352
Some t

[2017-09-21 10:56] cmsbuild commented on #20611
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12_patch1-slc6_amd64_gcc530/1350
Some t

[2017-09-21 11:24] cmsbuild commented on #20611
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12_patch1-slc6_amd64_gcc630/1351

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-21 11:28] cmsbuild commented on #20611
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12_patch1-slc7_amd64_gcc530/1352

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-09-21 11:30] cmsbuild commented on #20611
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12_patch1-slc7_amd64_gcc630/1353

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-09-21 12:10] cmsbuild commented on #20611
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_12_patch1-slc6_amd64_gcc530/1350

Tests results:
17 17 16 14 8 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-21 12:11] davidlange6 commented on #20611
upload all

[2017-09-21 12:11] cmsbuild commented on #20611
Queing Jenkins upload for slc6_amd64_gcc530

[2017-09-21 12:11] cmsbuild commented on #20611
Queing Jenkins upload for slc6_amd64_gcc630

[2017-09-21 12:11] cmsbuild commented on #20611
Queing Jenkins upload for slc7_amd64_gcc530

[2017-09-21 12:11] cmsbuild commented on #20611
Queing Jenkins upload for slc7_amd64_gcc630

[2017-09-21 12:12] cmsbuild commented on #20611
The upload has started for slc6_amd64_gcc530 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/894/console

[2017-09-21 12:12] cmsbuild commented on #20611
The upload has started for slc6_amd64_gcc630 in cmsbuild24.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/895/console

[2017-09-21 12:12] cmsbuild commented on #20611
The upload has started for slc7_amd64_gcc530 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/896/console

[2017-09-21 12:13] cmsbuild commented on #20611
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_12_patch1-slc6_amd64_gcc530/894
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-21 12:13] cmsbuild commented on #20611
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-21 12:13] cmsbuild commented on #20611
The upload has started for slc7_amd64_gcc630 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/897/console

[2017-09-21 12:14] cmsbuild commented on #20611
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_12_patch1-slc7_amd64_gcc530/896
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-21 12:14] cmsbuild commented on #20611
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-21 12:14] cmsbuild commented on #20611
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_12_patch1-slc6_amd64_gcc630/895
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-21 12:14] cmsbuild commented on #20611
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-21 12:17] cmsbuild commented on #20611
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_12_patch1-slc7_amd64_gcc630/897
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-21 12:17] cmsbuild commented on #20611
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-21 12:19] davidlange6 commented on #20611
release-notes

[2017-09-21 12:19] cmsbuild commented on #20611
Generating release notes since CMSSW_9_2_12.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-21 12:19] cmsbuild commented on #20611
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_2_12_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc630
slc7_amd64_gcc530
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_2_12 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_2_12_patch1

Cheers,

[2017-09-21 12:20] cmsbuild commented on #20611
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_12_patch1

[2017-09-21 17:47] slava77 opened #20616 "why is T in DetSetVector<T> required to be LessThanComparable ?"
In ```template <class T> class DetSetVector ``` I see
[code]

I did not find any place in the implementation of DetSetVector that uses the comparison for T.
The implementation clearly requires that the value_type (the ```DetSet<T>```) is LessThanComparable.
It seems like this had to be ```BOOST_CLASS_REQUIRE(DetSet<T>, boost, LessThanComparableConcept);```

The downside is that we have these compa

[2017-09-21 17:47] slava77 commented on #20616
assign core

[2017-09-21 17:47] cmsbuild commented on #20616
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-21 17:47] cmsbuild commented on #20616
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-21 18:45] Dr15Jones opened #20618 "PathStatus modules show up incorrectly in StallMonitor"
The internal modules which generated the PathStatus show up with incorrect stall amounts in the StallMonitor. This is probably because those modules do not call 'prefetch' signals correctly.

[2017-09-21 18:45] cmsbuild commented on #20618
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-21 18:45] Dr15Jones commented on #20618
assign core

[2017-09-21 18:45] cmsbuild commented on #20618
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-21 18:49] Dr15Jones opened #20619 "edmCheckClassVersion should handle version == 0 special"
The message from edmCheckClassVersion should not tell the developer to increment the version number for the case where version == 0.

[2017-09-21 18:49] cmsbuild commented on #20619
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-21 18:50] Dr15Jones commented on #20619
In ROOT version == 0 means that the data member are all marked as transient and base classes will be streamed as normal.  (So the object is 'stored' but its 'local' data members are not).

Therefore once a class is marked version 0 it should stay version 0.

[2017-09-21 18:51] Dr15Jones commented on #20619
assign core

[2017-09-21 18:51] cmsbuild commented on #20619
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-22 01:00] slava77 opened #20621 "make phase-2 track time "reco" (smearing) in TrackTimeValueMapProducer reproducible"
TrackTimeValueMapProducer uses random engine to smear track time parameters.
This is not reproducible in a multi-threaded job.

The fix becomes increasingly important with increased use of tracks with time and 4D vertex in the reconstruction downstream.

[2017-09-22 01:00] cmsbuild commented on #20621
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-22 01:00] slava77 commented on #20621
assign reconstruction,upgrade

[2017-09-22 01:00] cmsbuild commented on #20621
New categories assigned: upgrade,reconstruction

@kpedro88,@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-22 15:08] cmsbuild commented on #20590
The cleanup has started for slc7_aarch64_gcc700

[2017-09-22 15:08] cmsbuild commented on #20590
The cleanup has started for slc6_amd64_gcc630

[2017-09-22 15:08] cmsbuild commented on #20590
The cleanup has started for slc6_amd64_gcc700

[2017-09-22 15:08] cmsbuild commented on #20590
The cleanup has started for slc7_amd64_gcc630

[2017-09-22 15:08] #20590 closed

[2017-09-22 15:09] cmsbuild commented on #20590
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_1-slc7_aarch64_gcc700/796

[2017-09-22 15:16] cmsbuild commented on #20590
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_1-slc6_amd64_gcc700/795

[2017-09-22 15:16] cmsbuild commented on #20590
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_1-slc7_amd64_gcc630/797

[2017-09-22 15:17] cmsbuild commented on #20590
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_1-slc6_amd64_gcc630/794

[2017-09-23 08:23] cmsbuild commented on #20609
The cleanup has started for slc6_amd64_gcc481

[2017-09-23 08:23] #20609 closed

[2017-09-23 08:29] cmsbuild commented on #20609
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_30-slc6_amd64_gcc481/798

[2017-09-23 10:23] cmsbuild commented on #20611
The cleanup has started for slc6_amd64_gcc530

[2017-09-23 10:23] cmsbuild commented on #20611
The cleanup has started for slc6_amd64_gcc630

[2017-09-23 10:23] cmsbuild commented on #20611
The cleanup has started for slc7_amd64_gcc530

[2017-09-23 10:23] cmsbuild commented on #20611
The cleanup has started for slc7_amd64_gcc630

[2017-09-23 10:23] #20611 closed

[2017-09-23 10:28] cmsbuild commented on #20611
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_12_patch1-slc7_amd64_gcc630/802

[2017-09-23 10:28] cmsbuild commented on #20611
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_12_patch1-slc7_amd64_gcc530/801

[2017-09-23 10:28] cmsbuild commented on #20611
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_12_patch1-slc6_amd64_gcc630/800

[2017-09-23 10:28] cmsbuild commented on #20611
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_2_12_patch1-slc6_amd64_gcc530/799

[2017-09-24 06:22] kartikmaurya opened #20639 "error while feching remote"
[mmaurya@lxplus018 CMSSW_9_2_0]$ git fetch cms-l1t-offline
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2017-09-24 06:22] cmsbuild commented on #20639
A new Issue was created by  @kartikmaurya .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-24 16:52] slava77 opened #20641 "remove CTPPSPixelGainCalibration copying in RPixDetClusterizer"
https://github.com/cms-sw/cmssw/blob/CMSSW_9_4_0_pre1/RecoCTPPS/PixelLocal/src/RPixDetClusterizer.cc#L130
leads to extremely large CPU use
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_9_4_X_2017-09-24-0000-sign962.294736.reCTPPS.pp/57

the fix seems rather trivial
@fabferro

[2017-09-24 16:52] cmsbuild commented on #20641
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-24 16:52] slava77 commented on #20641
assign reconstruction

[2017-09-24 16:53] cmsbuild commented on #20641
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-26 12:57] slava77 opened #20654 "Items needed for XeXe run processing with 92X"
Current release deployment schedule may work best if the XeXe pilot run data taking can be done with 92X release.
Please provide a list of PRs that need a backport from 93X/94X in this thread.

@mandrenguyen @abaty

[2017-09-26 12:58] cmsbuild commented on #20654
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-26 12:58] slava77 commented on #20654
assign reconstruction,dqm,alca,hlt

I've been somewhat liberal in category assignment.
Perhaps less will be needed in the end.

[2017-09-26 12:58] cmsbuild commented on #20654
New categories assigned: dqm,hlt,reconstruction,alca

@kmaeshima,@vanbesien,@Martin-Grunewald,@lpernie,@slava77,@cerminar,@perrotta,@arunhep,@vazzolini,@silviodonato,@dmitrijus,@franzoni,@fwyzard,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-26 16:00] mandrenguyen commented on #20654
Assuming we will run the heavy-ion reco sequence I see the following PRs that should be backported:
#19089
#19475
#19927
#19943
#20024
#20482

[2017-09-26 16:03] ericvaandering commented on #17061
This is still out there....

[2017-09-26 16:34] abaty commented on #20654
Let me add these two small ones to the list:
#19486
#20303

[2017-09-26 19:36] slava77 commented on #20220
@Dr15Jones
how do I use cProfile?

[2017-09-26 20:01] Dr15Jones commented on #20220
@slava77 I'm afraid I no longer remember. I originally figured it out by scanning the documentation.

[2017-09-26 20:25] slava77 opened #20658 "LogErrors in phase-2 workflows HGCalHitCalibration:hgcalHitCalibration not HGCal silicon!"
One example is in 20034.0 in CMSSW_9_4_X_2017-09-21-2300

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-20614/23167/runTheMatrix-results/20034.0_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2023D17_GenSimHLBeamSpotFull14+DigiFullTrigger_2023D17+RecoFullGlobal_2023D17+HARVESTFullGlobal_2023D17/step3_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2023D17_GenSimHLBeamSpotFull14+DigiFullTrigg

[2017-09-26 20:25] slava77 commented on #20658
assign upgrade

[2017-09-26 20:25] cmsbuild commented on #20658
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-26 20:26] cmsbuild commented on #20658
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-26 20:26] slava77 commented on #20658
the goal is to fix or demote to LogDebug or remove altogether

[2017-09-26 20:39] kpedro88 commented on #20658
I already pinged @rovere about this.

The message is generated in `RecHitTools`:
https://github.com/cms-sw/cmssw/blob/master/RecoLocalCalo/HGCalRecAlgos/src/RecHitTools.cc#L103-L115

The most general solution would be to modify this code so it doesn't complain if it gets HCAL DetIds (since these currently are used for BH). Probably easier than protecting all the calls to `getSiThickness()` in `HGC

[2017-09-26 21:47] rovere commented on #20658
Hi all,
I'll demote it to LogDebug, but the logic there should be fixed, also because the code is happily digesting everything comes after the LogError.

[2017-09-27 13:02] slava77 commented on #20654
@mandrenguyen @abaty
To speed up integration in 92X, I suggest to make combined PRs in cases there are overlaps between files or other logical dependence.
It is easier to test and merge in the production environment of 92X.

[2017-09-27 20:22] Dr15Jones commented on #20618
fixed in #20678

[2017-09-27 20:22] #20618 closed

[2017-09-27 20:22] Dr15Jones commented on #20618
+1

[2017-09-27 20:23] cmsbuild commented on #20618
This issue is fully signed and ready to be closed.

[2017-09-28 14:21] kpedro88 commented on #19666
@sandrofonseca, @malbouis another reminder

[2017-09-28 15:24] Dr15Jones opened #20690 "Need better error message for 'put' into wrong transition"
If one calls `produces` with one transition, e.g. `edm::Transition::BeginRun`, but does the `put` on a different transition, e.g. end Run, then the error message one gets is confusing because it only says that the module is supposed to produce a data product for a given Principal (e.g. the Run) but not the exact transition.

[2017-09-28 15:25] Dr15Jones commented on #20690
An example is the following had a data product registered for `edm::Transition::BeginLuminosityBlock` but the put happened at end LuminosityBlock
[code]

[2017-09-28 15:26] cmsbuild commented on #20690
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-28 15:26] Dr15Jones commented on #20690
assign core

[2017-09-28 15:26] cmsbuild commented on #20690
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-28 17:38] slava77 commented on #20404
@fabozzi
please clarify the status of this request.

Not directly related to the high-PU, we also need to test post-TS1 data which has some differences in the firmware that significantly affect how software performs or how data looks like:
- pixel detector sends additional data that is to be interpreted with code from #20151
- the HF selections have changed (IIRC it was in the zero suppression)
Th

[2017-09-29 10:31] fabozzi commented on #20404
Hi @slava77
this week I have started to follow-up on this, only considering higher PU motivation.

- 2017B: I have considered run 297557 for replacement (PU should be ~> 35) and injected a set of relvals based on it. Relvals are still running but some of them are are already finished succesfully.

- 2017C: there is another set of test relvals injected based on run 300515 (Aug 5th), always
PU >~ 35

[2017-09-29 12:22] slava77 commented on #20404
On 9/29/17 3:31 AM, fabozzi wrote:

Thank you for the summary of activities. It would be nice if the first
two appear with pre2.

[2017-09-29 12:27] davidlange6 opened #20697 "Build CMSSW_9_3_2"

[2017-09-29 12:27] cmsbuild commented on #20697
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-09-29 12:33] davidlange6 commented on #20697
+1

[2017-09-29 12:33] cmsbuild commented on #20697
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2017-09-29 12:33] cmsbuild commented on #20697
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2017-09-29 12:36] cmsbuild commented on #20697
The build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1354/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-29 12:36] cmsbuild commented on #20697
The build has started for slc6_amd64_gcc700 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1355/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-29 12:36] cmsbuild commented on #20697
The build has started for slc7_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1356/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-29 12:38] cmsbuild commented on #20697
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1357/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-29 13:19] boudoul commented on #20404
hi @fabozzi , Maybe as suggestion or 2017D : Why not adding  the  run number: 302131 - PD: ZeroBias which anyway will be requeted to be re-reco with pre2 - Having it in data relval will prevent this and we can follow all conditions which will gradullay entered for the re-reco thanks to the data relvals (assuming the GT used for data relval is up to date of course..)

[2017-09-29 15:24] fabozzi commented on #20404
@slava77
PR #20699 follows-up with B and C

@boudoul
Note that in relvals we do not re-reco the full run but only a subset otherwise the relval preparation will take too long (the data relvals are the ones that take most time). For what concernes the GT, the data relvals use prompt-like conditions in order to keep up with the latest conditions available in prompt.  @franzoni , @arunhep

[2017-09-29 16:26] cmsbuild commented on #20697
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc7_amd64_gcc630/1356
Some tests ( r

[2017-09-29 17:11] cmsbuild commented on #20697
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc6_amd64_gcc700/1355
Some tests ( r

[2017-09-29 17:22] cmsbuild commented on #20697
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc7_amd64_gcc630/1356

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-29 17:38] cmsbuild commented on #20697
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc6_amd64_gcc630/1354
Some tests ( r

[2017-09-29 18:11] cmsbuild commented on #20697
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc6_amd64_gcc700/1355

Tests results:
20 19 18 15 9 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-09-29 18:23] slava77 commented on #20414
+1

fixed in #20431 and #20432

[2017-09-29 18:23] #20414 closed

[2017-09-29 18:23] cmsbuild commented on #20414
This issue is fully signed and ready to be closed.

[2017-09-29 18:23] slava77 commented on #20346
+1

fixed in #20445

[2017-09-29 18:23] cmsbuild commented on #20346
This issue is fully signed and ready to be closed.

[2017-09-29 18:31] cmsbuild commented on #20697
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc6_amd64_gcc630/1354

Tests results:
20 19 18 15 9 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-09-29 18:47] slava77 opened #20700 "Use GBRForest in MuonMvaEstimator and SoftMuonMvaEstimator"
this is to follow up on
https://github.com/cms-sw/cmssw/pull/20612#discussion_r141703307

MuonMvaEstimator
can be moved to use GBRForest for MVA evaluation instead of using TMVAReader directly, which consumes much more memory.

@drkovalskyi

[2017-09-29 18:47] slava77 commented on #20700
assign reconstruction

[2017-09-29 18:47] cmsbuild commented on #20700
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-29 18:47] cmsbuild commented on #20700
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-29 19:00] drkovalskyi commented on #20700
Will review and test it when we have final training for 94X production.

[2017-09-29 20:48] cmsbuild commented on #20697
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc7_aarch64_gcc700/1357
Some tests

[2017-09-29 22:47] slava77 opened #20703 "Follow up to TRK POG code review for PixelFed25 #20151"
Several changes were proposed in review of #20151 for the TRK POG code
https://github.com/cms-sw/cmssw/pull/20151#pullrequestreview-56368041
These are expected to be followed up by the TRK POG developers

@makortel @VinInn

[2017-09-29 22:47] slava77 commented on #20703
assign reconstruction

[2017-09-29 22:47] cmsbuild commented on #20703
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-29 22:47] cmsbuild commented on #20703
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-29 23:16] cmsbuild commented on #20697
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc7_aarch64_gcc700/1357

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2017-09-30 12:19] davidlange6 commented on #20697
merge

On 29 Sep 2017, at 20:16, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_aarch64_gcc700
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc7_aarch64_gcc700/1357

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you wer

[2017-09-30 12:47] davidlange6 commented on #20697
upload all

On 30 Sep 2017, at 09:20, David Lange <notifications@github.com<mailto:notifications@github.com>> wrote:

merge

On 29 Sep 2017, at 20:16, cmsbuild <notifications@github.com<mailto:notifications@github.com><mailto:notifications@github.com>> wrote:

The tests have finished for slc7_aarch64_gcc700
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/C

[2017-09-30 12:47] cmsbuild commented on #20697
Queing Jenkins upload for slc6_amd64_gcc630

[2017-09-30 12:47] cmsbuild commented on #20697
Queing Jenkins upload for slc6_amd64_gcc700

[2017-09-30 12:47] cmsbuild commented on #20697
Queing Jenkins upload for slc7_aarch64_gcc700

[2017-09-30 12:47] cmsbuild commented on #20697
Queing Jenkins upload for slc7_amd64_gcc630

[2017-09-30 12:49] cmsbuild commented on #20697
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/900/console

[2017-09-30 12:50] cmsbuild commented on #20697
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_2-slc7_aarch64_gcc700/900
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-30 13:40] cmsbuild commented on #20697
The build has started for slc7_amd64_gcc630 in cmsbuild36.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1358/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-30 13:40] cmsbuild commented on #20697
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1359/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-30 13:40] cmsbuild commented on #20697
The build has started for slc6_amd64_gcc700 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1360/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-09-30 13:42] smuzaffar commented on #20697
@davidlange6 , jenkins crashed this morning due to restart and pending updates for its plugins. I managed to get it back but looks like this release needs to be re-built. I have re-started the build

[2017-09-30 13:44] davidlange6 commented on #20697
hi @smuzaffar - did something go wrong here? (seems the builds are restarting)

[2017-09-30 13:44] davidlange6 commented on #20697
just see your message - ok - no problem!

[2017-09-30 16:41] slava77 opened #20704 "Use a common setup for electron and muon effective areas"
muonRelMiniIsoPUCorrected from #20612 has set up an alternative way to compute effective area isolation.
Compare that to egamma code using RecoEgamma/EgammaTools/interface/EffectiveAreas.h
and e.g. RecoEgamma/ElectronIdentification/plugins/cuts/GsfEleEffAreaPFIsoCut.cc for electrons

@Sam-Harper @jainshilpi @varuns23 @drkovalskyi @folguera

[2017-09-30 16:42] slava77 commented on #20704
assign analysis,reconstruction

[2017-09-30 16:42] cmsbuild commented on #20704
New categories assigned: reconstruction,analysis

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-30 16:43] cmsbuild commented on #20704
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-30 16:44] slava77 commented on #20704
there is actually another common approach to do this introduced in #20626
but here the result comes via a producer.

[2017-09-30 16:46] cmsbuild commented on #20697
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc6_amd64_gcc630/1359
Some tests ( r

[2017-09-30 16:47] cmsbuild commented on #20697
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc7_amd64_gcc630/1358
Some tests ( r

[2017-09-30 16:49] cmsbuild commented on #20697
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/903/console

[2017-09-30 16:49] cmsbuild commented on #20697
The upload has started for slc7_amd64_gcc630 in cmsbuild36.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/904/console

[2017-09-30 16:50] cmsbuild commented on #20697
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_2-slc6_amd64_gcc630/903
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-30 16:50] cmsbuild commented on #20697
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-30 16:50] cmsbuild commented on #20697
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_2-slc7_amd64_gcc630/904
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-30 16:50] cmsbuild commented on #20697
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-30 16:54] drkovalskyi commented on #20704
The whole solution is 5 lines of code. Let's not overdo it.

[2017-09-30 17:21] cmsbuild commented on #20697
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc6_amd64_gcc700/1360
Some tests ( r

[2017-09-30 17:23] cmsbuild commented on #20697
The upload has started for slc6_amd64_gcc700 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/905/console

[2017-09-30 17:25] cmsbuild commented on #20697
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_2-slc6_amd64_gcc700/905
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-09-30 17:25] cmsbuild commented on #20697
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-09-30 17:40] slava77 commented on #20704
On 9/30/17 9:54 AM, drkovalskyi wrote:

One hardcoded solution is like that indeed.

However, one needs to support multiple versions
and the eta regions are not necessarily cast in stone.

[2017-09-30 17:49] cmsbuild commented on #20697
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc6_amd64_gcc630/1359

Tests results:
20 19 18 15 9 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-09-30 17:56] cmsbuild commented on #20697
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc7_amd64_gcc630/1358

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-09-30 18:21] cmsbuild commented on #20697
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_2-slc6_amd64_gcc700/1360

Tests results:
20 19 18 15 9 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2017-09-30 22:50] davidlange6 commented on #20697
release-notes

[2017-09-30 22:53] cmsbuild commented on #20697
Generating release notes since CMSSW_9_3_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-09-30 22:53] cmsbuild commented on #20697
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_2

Cheers,
cms-bot

You can also click <a href="mai

[2017-09-30 22:54] cmsbuild commented on #20697
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_2

[2017-10-01 11:18] Sam-Harper commented on #20704
it should be noted that I'm really not keen on the whole effective area mindset. We dont care if we measure the isolation correctly, we just want to distinguish leptons from fakes. This is a completely different situation from reconstruction where we want to correct the measured quanitity such as jet energy.

To me  it would be much clearer if we called it "relaxing the cut value with increasing p

[2017-10-01 11:47] drkovalskyi commented on #20704
At the moment our primary goal in Muon POG is to get all standard selections done centrally to avoid mistakes and different interpretations. It gives us consistency, speeds up analysis synchronization and helps to share code between PAGs. We never recommended EA-based corrections and use it now in one selector simply because it was found to be a good choice by SUSY PAG for their use case. We don't

[2017-10-01 15:32] slava77 commented on #20704
Sam,
Just to clarify, I was referring to the specific existing implementation of the effective areas
and the fact that the same logic is now implemented for muons as well with a different code.

Dima,
thank you for clarification that the implementation of the muon EA for SUSY is expected to stay likely as a single case situation.

In case the number of variations for muons actually grows, please r

[2017-10-01 15:47] slava77 opened #20706 "broken step MERGE -s PAT in unit test of TauAnalysis/MCEmbeddingTools"
The tau embedding test is now broken, apparently since #20566.
One example of error is in
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-20705/23343/unitTests.log
The error is in the MERGE miniAOD step.

to reproduce, checkout TauAnalysis/MCEmbeddingTools and then
run ```scram b runtests```

@gpetruc @swayand @roger-wolf
please comment if a fix can be made reasonably quic

[2017-10-01 15:47] slava77 commented on #20706
assign reconstruction,analysis

[2017-10-01 15:47] cmsbuild commented on #20706
New categories assigned: analysis,reconstruction

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-01 15:47] cmsbuild commented on #20706
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-01 16:00] drkovalskyi commented on #20704
I don't mind to keep it open. For now the only action item I see is to avoid duplication with NanoAOD code.

[2017-10-02 13:20] gpetruc commented on #20706
I've had a quick look. The problem is that the embedding implements track merging - thus creating a new track collection - but doesn't merge or re-run the de/dx info for it.

A one-line fix is to add `process.merge_step += process.doAlldEdXEstimators` in https://github.com/cms-sw/cmssw/blob/master/TauAnalysis/MCEmbeddingTools/python/customisers.py#L358 which will re-run dE/dx.
With more human effo

[2017-10-02 13:29] roger-wolf commented on #20706
Hi Giovanni,

this would be great. I do not see at the moment, how one of our students
could implement such a merger within the next days. We will put it on
our agenda to find a better solution asa our resources allow to.

Cheers,
Roger

On 02.10.2017 15:20, Giovanni Petrucciani wrote:

[2017-10-02 13:45] gpetruc commented on #20706
done in #20716

[2017-10-02 16:00] Dr15Jones opened #20719 "Improve performance of ProductProvenanceRetriever::insertIntoSet"
Performance measurements of configurations that are dominated by `Event::put` time show that `ProductProvenanceRetriever::insertIntoSet` is an important contribution of the job time. The implementation is to use a concurrent set, however, we know ahead of time what all the possible modules which will add entries and we could then use a pre-allocated slot for each one and keep track of which entrie

[2017-10-02 16:00] cmsbuild commented on #20719
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-02 16:01] Dr15Jones commented on #20719
assign core

[2017-10-02 16:01] cmsbuild commented on #20719
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-02 16:05] Dr15Jones opened #20720 "Proper beginTransition/endTransition calls in the case of an exception during begin"
If an exception happens during a 'begin transition', then no module will get an 'end transition' call. This can lead to problems for modules, especially for the OscarMTProducer, which rely on proper pairing of those calls.
We should keep track of which modules succeeded in their 'begin transition' call and make sure to call only those at 'end transition' if an exception occurs.

[2017-10-02 16:05] cmsbuild commented on #20720
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-02 16:06] Dr15Jones commented on #20720
assign core

[2017-10-02 16:06] cmsbuild commented on #20720
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-02 20:18] davidlange6 opened #20722 "Build CMSSW_9_4_0_pre2"

[2017-10-02 20:18] cmsbuild commented on #20722
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-02 20:19] davidlange6 commented on #20722
+1

[2017-10-02 20:19] cmsbuild commented on #20722
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2017-10-02 20:19] cmsbuild commented on #20722
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_ppc64le_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2017-10-02 20:20] cmsbuild commented on #20722
The build has started for slc7_ppc64le_gcc700 in techlab-ppc64le-winstron-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1361/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-02 20:21] cmsbuild commented on #20722
The build has started for slc6_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1362/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-02 20:21] cmsbuild commented on #20722
The build has started for slc6_amd64_gcc700 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1363/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-02 20:22] cmsbuild commented on #20722
The build has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1364/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-02 20:56] cmsbuild commented on #20722
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1365/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc700), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-02 22:00] cmsbuild commented on #20697
The cleanup has started for slc7_aarch64_gcc700

[2017-10-02 22:00] cmsbuild commented on #20697
The cleanup has started for slc6_amd64_gcc630

[2017-10-02 22:00] cmsbuild commented on #20697
The cleanup has started for slc6_amd64_gcc700

[2017-10-02 22:00] cmsbuild commented on #20697
The cleanup has started for slc7_amd64_gcc630

[2017-10-02 22:00] #20697 closed

[2017-10-02 22:01] cmsbuild commented on #20697
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_2-slc6_amd64_gcc630/803

[2017-10-02 22:01] cmsbuild commented on #20697
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_2-slc7_aarch64_gcc700/805

[2017-10-02 22:06] cmsbuild commented on #20697
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_2-slc7_amd64_gcc630/806

[2017-10-02 22:06] cmsbuild commented on #20697
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_2-slc6_amd64_gcc700/804

[2017-10-02 22:13] cmsbuild commented on #20722
The was an error for slc7_ppc64le_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc7_ppc64le_gcc700/1361

[2017-10-03 01:31] cmsbuild commented on #20722
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc7_aarch64_gcc700/1365

[2017-10-03 02:41] cmsbuild commented on #20722
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc7_amd64_gcc630/1364
Some test

[2017-10-03 03:51] cmsbuild commented on #20722
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc7_amd64_gcc630/1364

Tests results:
20 17 16 14 9 1 1 1 tests passed, 0 3 0 0 0 0 0 0 failed

[2017-10-03 04:53] cmsbuild commented on #20722
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc6_amd64_gcc630/1362
Some test

[2017-10-03 06:12] cmsbuild commented on #20722
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc6_amd64_gcc630/1362

Tests results:
20 18 17 15 9 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-10-03 10:04] cmsbuild commented on #20722
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc6_amd64_gcc700/1363
Some test

[2017-10-03 11:43] cmsbuild commented on #20722
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc6_amd64_gcc700/1363

Tests results:
20 18 17 15 9 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-10-03 13:08] davidlange6 commented on #20722
upload all

On 3 Oct 2017, at 13:44, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc700
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_0_pre2-slc6_amd64_gcc700/1363

Tests results:
20 18 17 15 9 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

—
You are receiving this because you

[2017-10-03 13:08] cmsbuild commented on #20722
Queing Jenkins upload for slc6_amd64_gcc630

[2017-10-03 13:08] cmsbuild commented on #20722
Queing Jenkins upload for slc6_amd64_gcc700

[2017-10-03 13:08] cmsbuild commented on #20722
Queing Jenkins upload for slc7_amd64_gcc630

[2017-10-03 13:10] cmsbuild commented on #20722
The upload has started for slc6_amd64_gcc700 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/907/console

[2017-10-03 13:10] cmsbuild commented on #20722
The upload has started for slc6_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/906/console

[2017-10-03 13:10] cmsbuild commented on #20722
The upload has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/908/console

[2017-10-03 13:11] cmsbuild commented on #20722
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_pre2-slc7_amd64_gcc630/908
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-03 13:11] cmsbuild commented on #20722
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-03 13:14] cmsbuild commented on #20722
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_pre2-slc6_amd64_gcc700/907
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-03 13:14] cmsbuild commented on #20722
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-03 13:32] cmsbuild commented on #20722
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_0_pre2-slc6_amd64_gcc630/906
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-03 13:32] cmsbuild commented on #20722
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2017-10-03 13:48] davidlange6 commented on #20722
release-notes

On 3 Oct 2017, at 15:32, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since <previous-release>", in the first line of your comment.
I will generate the release notes based on the release t

[2017-10-03 13:48] cmsbuild commented on #20722
Generating release notes since CMSSW_9_4_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2017-10-03 13:48] cmsbuild commented on #20722
You can use this template for announcing the release:

Hi all,

The development release CMSSW_9_4_0_pre2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_0_pre2

Cheers,
cms-bot

You can also cl

[2017-10-03 13:55] cmsbuild commented on #20722
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_0_pre2

[2017-10-05 11:53] cmsbuild commented on #20722
The cleanup has started for slc7_aarch64_gcc700

[2017-10-05 11:53] cmsbuild commented on #20722
The cleanup has started for slc7_ppc64le_gcc700

[2017-10-05 11:53] cmsbuild commented on #20722
The cleanup has started for slc6_amd64_gcc630

[2017-10-05 11:53] cmsbuild commented on #20722
The cleanup has started for slc6_amd64_gcc700

[2017-10-05 11:53] cmsbuild commented on #20722
The cleanup has started for slc7_amd64_gcc630

[2017-10-05 11:53] #20722 closed

[2017-10-05 11:55] cmsbuild commented on #20722
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0_pre2-slc7_aarch64_gcc700/809

[2017-10-05 11:56] cmsbuild commented on #20722
The workspace for slc7_ppc64le_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0_pre2-slc7_ppc64le_gcc700/811

[2017-10-05 12:04] cmsbuild commented on #20722
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0_pre2-slc6_amd64_gcc630/807

[2017-10-05 12:04] cmsbuild commented on #20722
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0_pre2-slc7_amd64_gcc630/810

[2017-10-05 12:24] cmsbuild commented on #20722
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_0_pre2-slc6_amd64_gcc700/808

[2017-10-05 16:28] davidlange6 commented on #20654
as we need to close things out in hopes of getting something for the tier0 to test over the weekend. Is anything missing aside from

a) sign and backport of #20749
b) addition of a scenario to Configuration/DataProcessing

?

[2017-10-05 17:47] mandrenguyen commented on #20654
No, AFAIK

[2017-10-06 09:27] perrotta commented on #20192
Fixed with #20298

[2017-10-06 09:27] #20192 closed

[2017-10-06 13:55] kpedro88 opened #20772 "Memory leaks in Phase 2 muon code"
@slava77 identified a few memory leaks in the phase 2 muon code:
[RecoMuon/MuonIdentification/plugins/ME0SegmentMatcher.cc](https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/RecoMuon/MuonIdentification/plugins/ME0SegmentMatcher.cc#L172)
[code]

[RecoLocalMuon/GEMSegment/plugins/GEMSegmentBuilder.cc](https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485

[2017-10-06 13:55] cmsbuild commented on #20772
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-06 13:56] kpedro88 commented on #20772
assign reco,upgrade

[2017-10-06 13:56] cmsbuild commented on #20772
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-06 14:27] ggovi commented on #17664
+1

[2017-10-06 14:31] slava77 commented on #20772
assign reconstruction

On 10/6/17 6:56 AM, Kevin Pedro wrote:

[2017-10-06 14:32] cmsbuild commented on #20772
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-10-07 16:45] slava77 commented on #20706
+1

fixed in #20716

[2017-10-07 16:45] #20706 closed

[2017-10-09 07:55] davidlange6 opened #20837 "Build CMSSW_9_2_13"
Candidate for XeXe run

[2017-10-09 07:55] cmsbuild commented on #20837
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2017-10-09 07:56] davidlange6 commented on #20837
+1

[2017-10-09 07:57] cmsbuild commented on #20837
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_2_13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_2_X

[2017-10-09 07:57] cmsbuild commented on #20837
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2017-10-09 07:58] cmsbuild commented on #20837
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1366/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2017-10-09 07:58] cmsbuild commented on #20837
The build has started for slc6_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1367/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-09 07:58] cmsbuild commented on #20837
The build has started for slc7_amd64_gcc530 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1368/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc530), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-09 07:58] cmsbuild commented on #20837
The build has started for slc7_amd64_gcc630 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1369/console
CMSDIST Branch: [IB/CMSSW_9_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_2_X/gcc630), PKGTOOLS Branch: [V00-30-XX](https://github.com/cms-sw/pkgtools/commits/V00-30-XX)

[2017-10-09 12:10] cmsbuild commented on #20837
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_13-slc7_amd64_gcc630/1369
Some tests (

[2017-10-09 12:42] cmsbuild commented on #20837
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_13-slc6_amd64_gcc630/1367
Some tests (

[2017-10-09 13:00] cmsbuild commented on #20837
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_13-slc7_amd64_gcc630/1369

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-10-09 13:03] cmsbuild commented on #20837
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_13-slc6_amd64_gcc530/1366
Some tests (

[2017-10-09 13:25] cmsbuild commented on #20837
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_13-slc7_amd64_gcc530/1368
Some tests (

[2017-10-09 13:28] cmsbuild commented on #20837
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_13-slc6_amd64_gcc630/1367

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-10-09 13:55] cmsbuild commented on #20837
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_2_13-slc6_amd64_gcc530/1366

Tests results:
17 15 14 12 7 1 1 1 tests passed, 0 2 0 0 0 0 0 0 failed

[2017-10-09 13:56] davidlange6 commented on #20837
upload all

[2017-10-09 13:56] cmsbuild commented on #20837
Queing Jenkins upload for slc6_amd64_gcc530

[2017-10-09 13:56] cmsbuild commented on #20837
Queing Jenkins upload for slc6_amd64_gcc630

[2017-10-09 13:56] cmsbuild commented on #20837
Queing Jenkins upload for slc7_amd64_gcc530

[2017-10-09 13:56] cmsbuild commented on #20837
Queing Jenkins upload for slc7_amd64_gcc630

[2017-10-09 13:57] cmsbuild commented on #20837
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/909/console

[2017-10-09 13:57] cmsbuild commented on #20837
The upload has started for slc6_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/910/console

[2017-10-09 13:57] cmsbuild commented on #20837
The upload has started for slc7_amd64_gcc530 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/911/console

[2017-10-09 13:57] cmsbuild commented on #20837
The upload has started for slc7_amd64_gcc630 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/912/console

[2017-10-09 13:58] cmsbuild commented on #20837
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_2_13-slc6_amd64_gcc530/909
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2017-10-09 13:58] cmsbuild commented on #20837
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms