[2016-02-22 07:52] cmsbuild commented on #13420
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/544/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-22 07:53] davidlt commented on #13420
Note, only GCC 4.9.3 can be cooked as a patch release as GCC 5.3.0 had cmssw-config updated to lower memory consumption during installation. I guess this is fine, as none of GCC 5.3.0 architectures are production .

[2016-02-22 07:54] davidlt commented on #13420
Ignore my message, CMSDIST tag looks good :) I guess, the system is smart enough to re-use CMSSW_8_0_0 tags.

[2016-02-22 08:36] cmsbuild commented on #13420
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch1-slc6_amd64_gcc530/544
Some tes

[2016-02-22 08:56] cmsbuild commented on #13420
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch1-slc6_amd64_gcc493/542
Some tes

[2016-02-22 08:56] cmsbuild commented on #13420
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch1-slc6_amd64_gcc530/544

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-22 09:10] davidlange6 commented on #13420
upload all

[2016-02-22 09:10] cmsbuild commented on #13420
Queing Jenkins upload for slc6_amd64_gcc493

[2016-02-22 09:10] cmsbuild commented on #13420
Queing Jenkins upload for slc6_amd64_gcc530

[2016-02-22 09:11] cmsbuild commented on #13420
The upload has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/317/console

[2016-02-22 09:21] cmsbuild commented on #13420
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch1-slc6_amd64_gcc493/542

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-22 09:37] cmsbuild commented on #13420
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_patch1-slc6_amd64_gcc493/317
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-22 09:40] cmsbuild commented on #13420
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch1-slc7_amd64_gcc530/543
Some tes

[2016-02-22 09:40] cmsbuild commented on #13420
Queing Jenkins upload for slc7_amd64_gcc530

[2016-02-22 09:41] cmsbuild commented on #13420
The upload has started for slc7_amd64_gcc530 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/319/console

[2016-02-22 09:45] cmsbuild commented on #13420
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_patch1/slc6_amd64_gcc493/578/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-02-22 10:06] cmsbuild commented on #13420
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_patch1-slc7_amd64_gcc530/319
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-22 10:11] cmsbuild commented on #13420
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_patch1/slc7_amd64_gcc530/579/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-02-22 10:18] cmsbuild commented on #13420
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch1-slc7_amd64_gcc530/543

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-22 10:26] davidlange6 commented on #13420
release-notes

[2016-02-22 10:27] cmsbuild commented on #13420
Generating release notes since CMSSW_8_0_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-02-22 10:27] cmsbuild commented on #13420
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_0_patch1 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_patch1

Cheers,
cms-bot

You can also click <a href="m

[2016-02-22 10:29] cmsbuild commented on #13420
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_patch1

[2016-02-22 13:06] smuzaffar commented on #13254
https://github.com/cms-sw/cmssw/pull/13316#issuecomment-187155600 has fixed the fwlite dependency. following packages were missing
[code]

[2016-02-22 13:08] smuzaffar commented on #13403
@franzoni , thanks for pointing this out. We are looking in to it

[2016-02-22 13:08] smuzaffar commented on #13403
assign core

[2016-02-22 13:09] cmsbuild commented on #13403
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-22 14:32] smuzaffar commented on #13403
+1
this should be fixed now. Let me know if you still see any inconsistencies

[2016-02-22 14:32] cmsbuild commented on #13403
This issue is fully signed and ready to be closed.

[2016-02-22 17:18] wmtan commented on #12850
This issue is addressed by PR #13430 , whic uses the type information from the consumes information to control what gets inserted into the lookup tables not just for views, but for all products.

[2016-02-22 20:29] wmtan commented on #13268
@Dr15Jones Fixed with PR #13432

[2016-02-22 21:37] wmtan commented on #13114
PR #13158 implements this issue for std::shared_ptr. This issue is still open for std::unique_ptr.

[2016-02-23 13:43] smuzaffar commented on #13304
unit test procedur has been updated to not create symlink but instead copy the sources from github.
This is still not enough. RelVals, addon tests still runs under cmsbuild user which has the write permission to the AFS installation. We need to use different users for installation and build/test

[2016-02-23 14:00] davidlange6 commented on #13304
can we take away the write permission after doing the install?

[2016-02-23 14:04] davidlt commented on #13304
I don't think we have permissions to modify AFS permissions to block cmsbuild from modifying AFS. What if we try to remove write permissions (u-w,g-w, etc) of all files we install? Still wouldn't be a bullet proof as cmsbuild could never that back, but maybe it's enough?

Or it's easier to negotiate additional user with CERN IT?

[2016-02-23 14:07] smuzaffar commented on #13304
agree, it would be much easier to get and use a new service account.

[2016-02-23 14:09] davidlt commented on #13304
I probably agree on that, but remember that we need to change AFS permissions for volumes for cmsbuild account. I think permissions are per AFS volumes, is that correct?

[2016-02-23 14:13] smuzaffar commented on #13304
No, even worst, per directory. Once we have a new user (if agree, I am going to discuss this in todays Core Sw meeting) we allow it to have write permissions. I or Andreas P., should be able to grant the permission.

[2016-02-23 14:39] Dr15Jones commented on #13268
+1

[2016-02-23 14:40] cmsbuild commented on #13268
This issue is fully signed and ready to be closed.

[2016-02-23 22:00] Dr15Jones opened #13443 "ProvenanceCheckerOutputModule should only get products for which it is 'consumes'"
ProvenanceCheckerOutputModule directly interacts with the `ProductHolderBase` and bypasses any `consumes` specifications.

[2016-02-23 22:00] cmsbuild commented on #13443
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-23 22:01] Dr15Jones commented on #13443
assign core

[2016-02-23 22:01] cmsbuild commented on #13443
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-23 22:03] Dr15Jones commented on #13443
GetProductCheckerOutputModule appears to have the same problem.

Both stem from the fact that the OutputModule is given direct access to the Principal class.

[2016-02-23 22:30] wmtan commented on #13114
PR #13444 implements this issue for std::unique_ptr. This issue should now be resolved.

[2016-02-24 09:28] cmsbuild commented on #13420
The cleanup has started for slc6_amd64_gcc493

[2016-02-24 09:28] cmsbuild commented on #13420
The cleanup has started for slc7_amd64_gcc530

[2016-02-24 09:28] #13420 closed

[2016-02-24 09:29] cmsbuild commented on #13420
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_patch1-slc6_amd64_gcc493/281

[2016-02-24 09:33] cmsbuild commented on #13420
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_patch1-slc7_amd64_gcc530/282

[2016-02-24 14:40] Dr15Jones opened #13454 "RootOutputModule should not prefetch data products it fast copied"
If the RootOutputModule fast copied a TBranch from the source we should not prefetch the data from that branch as well. The prefetch would cause the data to be deserialized which is unnecessary and just takes unnecessary amounts of time.

[2016-02-24 14:40] cmsbuild commented on #13454
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-24 14:40] Dr15Jones commented on #13454
assign core

[2016-02-24 14:40] cmsbuild commented on #13454
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-26 11:17] davidlange6 opened #13490 "Build CMSSW_8_0_0_patch2"
to include new L1 menu, HCAL DQM fixes and tracker DQM fixes

[2016-02-26 11:18] cmsbuild commented on #13490
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-02-26 11:19] davidlange6 commented on #13490
+1

[2016-02-26 11:19] cmsbuild commented on #13490
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_0_patchX

[2016-02-26 11:19] cmsbuild commented on #13490
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-02-26 11:20] cmsbuild commented on #13490
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/545/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-26 11:20] cmsbuild commented on #13490
The build has started for slc7_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/546/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-26 11:22] cmsbuild commented on #13490
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/547/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-26 11:43] cmsbuild commented on #13490
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch2-slc6_amd64_gcc493/545
Some tes

[2016-02-26 11:49] cmsbuild commented on #13490
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch2-slc6_amd64_gcc530/547
Some tes

[2016-02-26 11:59] cmsbuild commented on #13490
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch2-slc7_amd64_gcc530/546
Some tes

[2016-02-26 12:03] cmsbuild commented on #13490
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch2-slc6_amd64_gcc493/545

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-26 12:09] cmsbuild commented on #13490
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch2-slc6_amd64_gcc530/547

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-26 12:18] davidlange6 commented on #13490
upload all

[2016-02-26 12:18] cmsbuild commented on #13490
Queing Jenkins upload for slc6_amd64_gcc493

[2016-02-26 12:18] cmsbuild commented on #13490
Queing Jenkins upload for slc6_amd64_gcc530

[2016-02-26 12:18] cmsbuild commented on #13490
Queing Jenkins upload for slc7_amd64_gcc530

[2016-02-26 12:19] cmsbuild commented on #13490
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/320/console

[2016-02-26 12:19] cmsbuild commented on #13490
The upload has started for slc7_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/322/console

[2016-02-26 12:19] cmsbuild commented on #13490
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/321/console

[2016-02-26 12:28] cmsbuild commented on #13490
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch2-slc7_amd64_gcc530/546

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-26 12:46] cmsbuild commented on #13490
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_patch2-slc6_amd64_gcc493/320
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-26 12:53] cmsbuild commented on #13490
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_patch2/slc6_amd64_gcc493/580/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-02-26 12:56] cmsbuild commented on #13490
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_patch2-slc6_amd64_gcc530/321
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-26 13:00] cmsbuild commented on #13490
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_patch2/slc6_amd64_gcc530/581/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-02-26 13:04] davidlange6 commented on #13490
release-notes

[2016-02-26 13:05] cmsbuild commented on #13490
Generating release notes since CMSSW_8_0_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-02-26 13:05] cmsbuild commented on #13490
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_0_patch2 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc6_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_patch2

to include new L1 menu, HCAL DQM fixes

[2016-02-26 13:07] cmsbuild commented on #13490
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_patch2

[2016-02-26 13:08] cmsbuild commented on #13490
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_patch2-slc7_amd64_gcc530/322
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-26 13:12] cmsbuild commented on #13490
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_patch2/slc7_amd64_gcc530/582/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-02-26 22:23] alja commented on #13254
Thanks!
I guess this issue can be closed.

[2016-02-28 12:08] cmsbuild commented on #13490
The cleanup has started for slc6_amd64_gcc493

[2016-02-28 12:08] cmsbuild commented on #13490
The cleanup has started for slc6_amd64_gcc530

[2016-02-28 12:08] cmsbuild commented on #13490
The cleanup has started for slc7_amd64_gcc530

[2016-02-28 12:08] #13490 closed

[2016-02-28 12:09] cmsbuild commented on #13490
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_patch2-slc6_amd64_gcc493/283

[2016-02-28 12:10] cmsbuild commented on #13490
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_patch2-slc6_amd64_gcc530/284

[2016-02-28 12:22] cmsbuild commented on #13490
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_patch2-slc7_amd64_gcc530/285

[2016-03-01 11:09] covarell opened #13531 "Add A. Grohsjean as watcher of the GeneratorInterface package"
Could Alexander (@agrohsje) be added as watcher of the GeneratorInterface package?

Thanks
Roberto

[2016-03-01 11:09] cmsbuild commented on #13531
A new Issue was created by  @covarell (Roberto Covarelli).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-01 16:42] davidlange6 opened #13540 "Build CMSSW_5_3_32_patch2"
Monthly 53x release; primary changes are for generators

[2016-03-01 16:43] cmsbuild commented on #13540
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-01 16:44] davidlange6 commented on #13540
+1

[2016-03-01 16:44] cmsbuild commented on #13540
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_32_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2016-03-01 16:44] cmsbuild commented on #13540
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-03-01 16:46] cmsbuild commented on #13540
The build has started for slc6_amd64_gcc472 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/548/console
CMSDIST Branch: [REL/CMSSW_5_3_32/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_5_3_32/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-01 16:46] davidlange6 opened #13541 "Build CMSSW_7_1_21_patch2"
Build to include PythiaFilterIsolatedTrack

[2016-03-01 16:46] davidlange6 commented on #13541
+1

[2016-03-01 16:46] cmsbuild commented on #13541
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-01 16:47] cmsbuild commented on #13541
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_21_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2016-03-01 16:47] cmsbuild commented on #13541
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-03-01 16:48] cmsbuild commented on #13541
The build has started for slc6_amd64_gcc481 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/549/console
CMSDIST Branch: [REL/CMSSW_7_1_21/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_21/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-01 16:59] cmsbuild commented on #13540
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_32_patch2-slc6_amd64_gcc472/548
Some te

[2016-03-01 17:25] cmsbuild commented on #13541
The upload has started for slc6_amd64_gcc481 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/324/console

[2016-03-01 18:04] cmsbuild commented on #13540
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_32_patch2-slc6_amd64_gcc472/323
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-01 18:11] cmsbuild commented on #13540
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_32_patch2/slc6_amd64_gcc472/583/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-03-01 19:00] cmsbuild commented on #13541
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_21_patch2-slc6_amd64_gcc481/324
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-01 19:06] cmsbuild commented on #13541
The installation has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_21_patch2/slc6_amd64_gcc481/584/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-03-01 20:49] alja commented on #13254
+1

[2016-03-01 20:49] cmsbuild commented on #13254
This issue is fully signed and ready to be closed.

[2016-03-02 08:08] davidlange6 commented on #13541
release-notes

[2016-03-02 08:08] cmsbuild commented on #13541
Generating release notes since CMSSW_7_1_21_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-02 08:08] cmsbuild commented on #13541
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_21_patch2 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_21_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_21_patch2

Build to include PythiaFilterIsolatedTrack

Cheers,
cm

[2016-03-02 08:08] davidlange6 commented on #13540
release-notes

[2016-03-02 08:09] cmsbuild commented on #13540
Generating release notes since CMSSW_5_3_32_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-02 08:09] cmsbuild commented on #13540
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_5_3_32_patch2 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_32_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_32_patch2

Monthly 53x release; primary changes are for generator

[2016-03-02 08:10] cmsbuild commented on #13540
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_32_patch2

[2016-03-03 11:07] degano opened #13575 "[CondTools/SiPixel] Fix warning found by gcc 5.3.0"
Please fix the warning found here: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-03-02-1100/CondTools/SiPixel

[code]

As the intended behavior is not clear from the context.

[2016-03-03 11:07] cmsbuild commented on #13575
A new Issue was created by  @degano (Alessandro Degano).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-03 11:17] smuzaffar commented on #13575
assign db

[2016-03-03 11:17] cmsbuild commented on #13575
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-03 11:19] smuzaffar commented on #13531
assign core

[2016-03-03 11:19] cmsbuild commented on #13531
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-03 11:20] degano opened #13578 "[Calibration/TkAlCaRecoProducers] [Alignment/CommonAlignmentProducer] Fix warning found by gcc 5.3.0"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-03-02-1100/Calibration/TkAlCaRecoProducers
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-03-02-1100/Alignment/CommonAlignmentProducer
[code]
As the intended behavior is not clear from the context.

[2016-03-03 11:20] cmsbuild commented on #13578
A new Issue was created by  @degano (Alessandro Degano).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-03 11:21] degano commented on #13578
assign alca

[2016-03-03 11:21] cmsbuild commented on #13578
New categories assigned: alca

@diguida,@mmusich,@cerminar,@franzoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-03 11:22] smuzaffar commented on #13531
done here https://github.com/cms-sw/cmssw/pull/13574

[2016-03-03 11:22] smuzaffar commented on #13531
+1

[2016-03-03 11:23] cmsbuild commented on #13531
This issue is fully signed and ready to be closed.

[2016-03-03 11:23] #13531 closed

[2016-03-03 11:25] degano opened #13580 "[GeneratorInterface/AMPTInterface] Fix warning found by gcc 5.3.0"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-03-02-1100/GeneratorInterface/AMPTInterface

[code]

Please fix those variables in order to be clear where/if they are initialized before they are used.

[2016-03-03 11:25] cmsbuild commented on #13580
A new Issue was created by  @degano (Alessandro Degano).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-03 11:25] degano commented on #13580
assign generators

[2016-03-03 11:25] cmsbuild commented on #13580
New categories assigned: generators

@thuer,@vciulli,@covarell,@bendavid,@govoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-03 12:40] davidlange6 opened #13582 "Build CMSSW_8_0_0_patch3"
to fix L1 stage2 unpacker for Friday tests

[2016-03-03 12:40] cmsbuild commented on #13582
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-03 12:42] davidlange6 commented on #13582
+1

[2016-03-03 12:42] cmsbuild commented on #13582
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_0_patchX

[2016-03-03 12:42] cmsbuild commented on #13582
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-03-03 12:47] cmsbuild commented on #13582
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/550/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-03 13:01] cmsbuild commented on #13582
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/551/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-03 13:01] mmusich commented on #13578
we know this one:
@mschrode @tlampen can you please follow up.

[2016-03-03 13:04] cmsbuild commented on #13582
The build has started for slc7_amd64_gcc530 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/552/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-03 13:11] cmsbuild commented on #13582
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch3-slc6_amd64_gcc493/550
Some tes

[2016-03-03 13:30] cmsbuild commented on #13582
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch3-slc6_amd64_gcc530/551
Some tes

[2016-03-03 13:30] cmsbuild commented on #13582
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch3-slc6_amd64_gcc493/550

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-03 13:42] cmsbuild commented on #13582
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch3-slc7_amd64_gcc530/552
Some tes

[2016-03-03 13:49] cmsbuild commented on #13582
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch3-slc6_amd64_gcc530/551

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-03 13:54] davidlange6 commented on #13582
upload all

[2016-03-03 13:55] cmsbuild commented on #13582
Queing Jenkins upload for slc6_amd64_gcc493

[2016-03-03 13:55] cmsbuild commented on #13582
Queing Jenkins upload for slc6_amd64_gcc530

[2016-03-03 13:55] cmsbuild commented on #13582
Queing Jenkins upload for slc7_amd64_gcc530

[2016-03-03 13:55] cmsbuild commented on #13582
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/325/console

[2016-03-03 13:55] cmsbuild commented on #13582
The upload has started for slc7_amd64_gcc530 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/327/console

[2016-03-03 13:55] cmsbuild commented on #13582
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/326/console

[2016-03-03 14:08] cmsbuild commented on #13582
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_patch3-slc7_amd64_gcc530/552

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-03 14:48] cmsbuild commented on #13582
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_patch3-slc6_amd64_gcc493/325
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-03 14:56] cmsbuild commented on #13582
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_patch3/slc6_amd64_gcc493/585/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-03-03 15:23] davidlange6 commented on #13582
release-notes

[2016-03-03 15:23] cmsbuild commented on #13582
Generating release notes since CMSSW_8_0_0_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-03 15:23] cmsbuild commented on #13582
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_0_patch3 is now available for the following architectures:

slc6_amd64_gcc493 (production)

The release notes of what changed with respect to CMSSW_8_0_0_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_patch3

to fix L1 stage2 unpacker for Friday tests

Cheers,
cms-b

[2016-03-03 15:26] cmsbuild commented on #13582
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_patch3

[2016-03-03 15:33] cmsbuild commented on #13582
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_patch3-slc6_amd64_gcc530/326
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-03 15:37] cmsbuild commented on #13582
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_patch3/slc6_amd64_gcc530/586/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-03-03 16:14] cmsbuild commented on #13582
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_patch3-slc7_amd64_gcc530/327
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-03 16:17] cmsbuild commented on #13582
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_patch3/slc7_amd64_gcc530/587/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-03-04 07:23] cmsbuild commented on #13541
The cleanup has started for slc6_amd64_gcc481

[2016-03-04 07:23] #13541 closed

[2016-03-04 07:23] cmsbuild commented on #13540
The cleanup has started for slc6_amd64_gcc472

[2016-03-04 07:24] #13540 closed

[2016-03-04 07:24] cmsbuild commented on #13540
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_32_patch2-slc6_amd64_gcc472/286

[2016-03-04 07:24] cmsbuild commented on #13541
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_21_patch2-slc6_amd64_gcc481/287

[2016-03-04 14:01] davidlange6 opened #13597 "Build CMSSW_8_0_1"

[2016-03-04 14:01] davidlange6 commented on #13597
+1

[2016-03-04 14:01] cmsbuild commented on #13597
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-04 14:02] cmsbuild commented on #13597
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-03-04 14:02] cmsbuild commented on #13597
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-03-04 14:05] cmsbuild commented on #13597
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/553/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-04 14:05] cmsbuild commented on #13597
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/554/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-04 14:05] cmsbuild commented on #13597
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/555/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-04 15:39] wmtan opened #13599 "Output Modules should enforce consumes interface, and not directly use Principals"
Output modules currently have direct access to EventPrincipal, RunPrincipal, and LuminosityBlockPrincipal. Calls to getByLabel() or getForOutput() functions of Principal bypass the consumes interface, so missing consumes calls will not be detected. Fix output modules to not access principals directly, and to use getByToken for all reading of data.

[2016-03-04 15:40] cmsbuild commented on #13599
A new Issue was created by  @wmtan .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-04 15:45] Dr15Jones commented on #13599
assign core

[2016-03-04 15:45] cmsbuild commented on #13599
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-04 16:09] cmsbuild commented on #13597
The cmssw-tool-conf build has started for slc7_aarch64_gcc530 in moonshot-arm64-13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/556/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-04 16:21] cmsbuild commented on #13597
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/557/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-04 17:09] ghellwig commented on #13578
Hi all,
I had a quick look into that and according to the comment in [1], I guess this variable is wrongly declared as bool and should be an integer instead, i.e. in [2] we should declare =seedOnlyFromAbove_= as =int=.

However, I do not fully understand what the use case of this configuration parameter is...

Cheers,
Gregor

[1]
https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/Alignment/CommonAli

[2016-03-04 18:25] cmsbuild commented on #13597
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1-slc6_amd64_gcc530/554
Some tests ( ru

[2016-03-04 18:25] cmsbuild commented on #13597
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1-slc6_amd64_gcc493/553
Some tests ( ru

[2016-03-04 18:46] cmsbuild commented on #13597
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1-slc6_amd64_gcc530/554

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-04 18:49] davidlange6 commented on #13597
upload all

[2016-03-04 18:49] cmsbuild commented on #13597
Queing Jenkins upload for slc6_amd64_gcc493

[2016-03-04 18:49] cmsbuild commented on #13597
Queing Jenkins upload for slc6_amd64_gcc530

[2016-03-04 18:50] cmsbuild commented on #13597
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/328/console

[2016-03-04 18:50] cmsbuild commented on #13597
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/329/console

[2016-03-04 18:51] cmsbuild commented on #13597
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1-slc6_amd64_gcc493/553

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-04 19:40] cmsbuild commented on #13597
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_1-slc6_amd64_gcc493/328
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-04 20:03] cmsbuild commented on #13597
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_1/slc6_amd64_gcc493/588/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-04 20:17] cmsbuild commented on #13597
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_1-slc6_amd64_gcc530/329
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-04 20:32] cmsbuild commented on #13597
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_1/slc6_amd64_gcc530/589/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-04 21:38] davidlange6 commented on #13597
release-notes

[2016-03-04 21:38] cmsbuild commented on #13597
Generating release notes since CMSSW_8_0_0_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-04 21:38] cmsbuild commented on #13597
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_1 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc6_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_0_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-

[2016-03-04 21:42] cmsbuild commented on #13597
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_1

[2016-03-04 23:17] cmsbuild commented on #13597
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1-slc7_amd64_gcc530/555
Some tests ( ru

[2016-03-04 23:17] cmsbuild commented on #13597
Queing Jenkins upload for slc7_amd64_gcc530

[2016-03-04 23:18] cmsbuild commented on #13597
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/330/console

[2016-03-04 23:50] mschrode commented on #13578
@ghellwig Thanks Gregor for looking into this!

Does any body know what the exact purpose of the _seedOnlyFromAbove_ variable is and what the impact will be declaring it as _int_?

[2016-03-04 23:54] mschrode commented on #13578
As Gregor pointed out, the default setting of _seedOnlyFromAbove_ is 0, so setting it to int will not change the default behaviour of the code. Are there objections against turning it into an int?

[2016-03-04 23:57] cmsbuild commented on #13597
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1-slc7_amd64_gcc530/555

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-05 00:16] cmsbuild commented on #13597
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_1-slc7_amd64_gcc530/330
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-05 00:35] cmsbuild commented on #13597
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_1/slc7_amd64_gcc530/590/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-05 02:13] cmsbuild commented on #13597
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1-slc7_aarch64_gcc530/557
Some tests

[2016-03-05 02:14] cmsbuild commented on #13597
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-03-05 02:15] cmsbuild commented on #13597
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/331/console

[2016-03-05 02:54] cmsbuild commented on #13597
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1-slc7_aarch64_gcc530/557

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-05 03:04] cmsbuild commented on #13597
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_1-slc7_aarch64_gcc530/331
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-05 10:49] mmusich commented on #13578
@mschrode @ghellwig thanks for checking.
Seems that nobody is using this functionality in CMSSW:
https://github.com/cms-sw/cmssw/search?utf8=%E2%9C%93&q=seedOnlyFrom
being the  `seedOnlyFrom` parameter always set to 0.
I guess that in the original intentions of the author, this parameter was meant to select hits only from particular track topologies (see comment https://github.com/cms-sw/cmssw/blo

[2016-03-05 11:13] davidlt commented on #13578
According to git these lines predates 2013 (git migration). In that case this has not been utilised for years.  Then I would just suggest to remove the feature, which makes code cleaner and easier to maintain in the future.

[2016-03-05 12:19] ghellwig commented on #13578
I have contacted the original author (Gero Flucke) of the commit introducing this feature [1] (I got it from the 62X branch). I would not like to remove it without at least asking for its use case. Typically he answers within 1 or 2 days so there's not much of a delay.

[1] https://github.com/cms-sw/cmssw/commit/00531b21a00a9e049310e285cf57101061e1fa54

[2016-03-05 14:23] cmsbuild commented on #13582
The cleanup has started for slc6_amd64_gcc493

[2016-03-05 14:23] cmsbuild commented on #13582
The cleanup has started for slc6_amd64_gcc530

[2016-03-05 14:23] cmsbuild commented on #13582
The cleanup has started for slc7_amd64_gcc530

[2016-03-05 14:23] #13582 closed

[2016-03-05 14:24] cmsbuild commented on #13582
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_patch3-slc6_amd64_gcc493/288

[2016-03-05 14:25] cmsbuild commented on #13582
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_patch3-slc6_amd64_gcc530/289

[2016-03-05 14:28] cmsbuild commented on #13582
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_patch3-slc7_amd64_gcc530/290

[2016-03-06 20:38] cmsbuild commented on #13597
The cleanup has started for slc7_aarch64_gcc530

[2016-03-06 20:38] cmsbuild commented on #13597
The cleanup has started for slc6_amd64_gcc493

[2016-03-06 20:38] cmsbuild commented on #13597
The cleanup has started for slc6_amd64_gcc530

[2016-03-06 20:38] cmsbuild commented on #13597
The cleanup has started for slc7_amd64_gcc530

[2016-03-06 20:38] #13597 closed

[2016-03-06 20:39] cmsbuild commented on #13597
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_1-slc6_amd64_gcc493/291

[2016-03-06 20:39] cmsbuild commented on #13597
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_1-slc6_amd64_gcc530/292

[2016-03-06 20:40] cmsbuild commented on #13597
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_1-slc7_aarch64_gcc530/293

[2016-03-06 20:46] cmsbuild commented on #13597
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_1-slc7_amd64_gcc530/294

[2016-03-07 14:25] Dr15Jones opened #13622 "Move from EventPrincipal to edm::Event the check putting the same product twice"
Right now the check that an event product is not being put in the event multiple times is done in the Principal. This causes problems with multi-threading (particularly when a product is deleted early). However, the only way the same product could be put across multiple modules is
- a module gets the product, does a const cast on it and then stuffs it in an `std::own_ptr` or `std::unique_ptr`.
- T

[2016-03-07 14:25] cmsbuild commented on #13622
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-07 14:26] Dr15Jones commented on #13622
assign core

[2016-03-07 14:26] cmsbuild commented on #13622
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-07 15:37] Dr15Jones opened #13624 "Do not call Event::getAllProvenance if one does not need the per event provenance"
It appears that most (if not all) calls to Event::getAllProvenance just want the stable job information (e.g. module labels) for the products that maybe available in the event. Therefore we should add a new method which gives access to just the `edm::BranchDescription` information.

The reason we want to avoid `Event::getAllProvenance` type calls is ones we start to use multiple-threads per event

[2016-03-07 15:38] cmsbuild commented on #13624
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-07 15:38] Dr15Jones commented on #13624
assign core

[2016-03-07 15:38] cmsbuild commented on #13624
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-07 15:45] davidlange6 opened #13625 "Needed pull requests for a CMSSW_7_6_X based analysis release"
Hi all

We will start to advertise an analysis release for CMSSW_7_6_X to capture the Moriond analysis recipes that change CMSSW contents. Please add your requests to this thread (target deadline of March 21)

[2016-03-07 15:46] cmsbuild commented on #13625
A new Issue was created by  @davidlange6 (David Lange).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-07 16:43] Dr15Jones opened #13629 "Make EarlyDeleteHelper thread-safe"
The EarlyDeleteHelper deals with the case where an event product is supposed to be deleted before the end of the event. When we allow multiple threads per event this code will need to take that into account.

[2016-03-07 16:43] cmsbuild commented on #13629
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-07 16:43] Dr15Jones commented on #13629
assign core

[2016-03-07 16:44] cmsbuild commented on #13629
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-07 18:26] Dr15Jones commented on #13622
The check is done on the address for the `edm::WrapperBase` and not the actual _product_ class put into the event. Since the framework always behind the scenes creates a new `edm::WrapperBase` for items put by an `EDProducer` that means the only source could trigger this check. Since the source doesn't use the `edm::Event` there is no reason to put the check there.

For now it looks like the best

[2016-03-07 18:45] Dr15Jones opened #13633 "Do not use std::unique_ptr with nullptr as a RAII guard"
One should not do the following
[code]

The problem is `std::unique_ptr` only calls the specialized deleter if and only if the value it holds is not `nullptr`. Therefore above `cleanup` will never be called.

This appears in the following code: http://cmslxr.fnal.gov/source/Utilities/XrdAdaptor/src/XrdRequestManager.cc#1074

[2016-03-07 18:45] cmsbuild commented on #13633
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-07 18:46] Dr15Jones commented on #13633
@bbockelm I tried the same technique in another piece of code and my tests were always failing.

[2016-03-07 18:46] Dr15Jones commented on #13633
assign core

[2016-03-07 18:46] cmsbuild commented on #13633
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-07 19:10] ghellwig commented on #13578
Posting Gero's reply here:

[2016-03-08 08:29] mmusich commented on #13578
@ghellwig I think that implementing what I suggested in https://github.com/cms-sw/cmssw/issues/13578#issuecomment-192621272 is safe enough without digging too much in the past

[2016-03-08 10:14] ghellwig commented on #13578
Ok, I'll create the PRs later today.

[2016-03-08 10:47] davidlange6 opened #13639 "Build CMSSW_8_0_1_patch1"
Primary request for release is for L1fixes from MWGR3

[2016-03-08 10:47] davidlange6 commented on #13639
+1

[2016-03-08 10:47] cmsbuild commented on #13639
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-08 10:47] cmsbuild commented on #13639
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-03-08 10:48] cmsbuild commented on #13639
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-03-08 10:49] cmsbuild commented on #13639
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/559/console
CMSDIST Branch: [REL/CMSSW_8_0_1/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_1/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-08 10:49] cmsbuild commented on #13639
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/558/console
CMSDIST Branch: [REL/CMSSW_8_0_1/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_1/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-08 10:49] cmsbuild commented on #13639
The build has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/560/console
CMSDIST Branch: [REL/CMSSW_8_0_1/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_1/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-08 11:30] cmsbuild commented on #13639
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1_patch1-slc6_amd64_gcc493/558
Some tes

[2016-03-08 11:55] cmsbuild commented on #13639
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1_patch1-slc6_amd64_gcc493/558

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-08 12:04] cmsbuild commented on #13639
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1_patch1-slc7_amd64_gcc530/560
Some tes

[2016-03-08 12:18] cmsbuild commented on #13639
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1_patch1-slc6_amd64_gcc530/559
Some tes

[2016-03-08 12:37] cmsbuild commented on #13639
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1_patch1-slc7_amd64_gcc530/560

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-08 12:38] cmsbuild commented on #13639
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_1_patch1-slc6_amd64_gcc530/559

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-08 12:46] davidlange6 commented on #13639
abort

[2016-03-08 12:47] cmsbuild commented on #13639
Deleting CMSSW_8_0_1_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_8_0_1_patch1 successfully deleted.

  -cmsdist tag REL/CMSSW_8_0_1_patch1/slc7_amd64_gcc530 successfully deleted.

  -cmsdist tag REL/CMSSW_8_0_1_patch1/slc6_amd64_gcc530 successfully deleted.

  -cmsdist tag REL/CMSSW_8_0_1_patch1/slc6_amd64_gcc493 successfully deleted.

You must create a new issue to start over the

[2016-03-08 16:49] davidlange6 opened #13648 "Build CMSSW_8_0_2"
Release with fixes for GR3.

[2016-03-08 16:50] cmsbuild commented on #13648
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-08 16:50] davidlange6 commented on #13648
+1

[2016-03-08 16:50] cmsbuild commented on #13648
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-03-08 16:50] cmsbuild commented on #13648
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-03-08 17:14] cmsbuild commented on #13648
The build has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/561/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-08 17:34] cmsbuild commented on #13648
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/562/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-08 17:59] cmsbuild commented on #13648
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/563/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-08 19:07] davidlange6 opened #13653 "Build CMSSW_7_6_4"
Consolidation of 76x pull requests merged over past weeks.

[2016-03-08 19:07] davidlange6 commented on #13653
+1

[2016-03-08 19:07] cmsbuild commented on #13653
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-08 19:08] cmsbuild commented on #13653
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2016-03-08 19:08] cmsbuild commented on #13653
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2016-03-08 19:08] cmsbuild commented on #13653
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/564/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-08 19:09] cmsbuild commented on #13653
The build has started for slc7_amd64_gcc493 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/565/console
CMSDIST Branch: [IB/CMSSW_7_6_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_6_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-08 21:38] cmsbuild commented on #13648
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc6_amd64_gcc530/563
Some tests ( ru

[2016-03-08 21:53] cmsbuild commented on #13648
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc6_amd64_gcc493/562
Some tests ( ru

[2016-03-08 21:59] cmsbuild commented on #13648
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc6_amd64_gcc530/563

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-08 22:09] cmsbuild commented on #13653
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_4-slc6_amd64_gcc493/564
Some tests ( ru

[2016-03-08 22:19] cmsbuild commented on #13648
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc6_amd64_gcc493/562

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-08 22:28] cmsbuild commented on #13653
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_4-slc6_amd64_gcc493/564

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-08 22:34] cmsbuild commented on #13648
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/566/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-09 01:12] cmsbuild commented on #13648
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc7_amd64_gcc530/561
Some tests ( ru

[2016-03-09 01:46] cmsbuild commented on #13648
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc7_amd64_gcc530/561

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-09 02:22] cmsbuild commented on #13653
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_4-slc7_amd64_gcc493/565
Some tests ( ru

[2016-03-09 03:12] cmsbuild commented on #13653
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_4-slc7_amd64_gcc493/565

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-09 06:28] davidlange6 commented on #13653
upload all

Sent from my iPad

On Mar 9, 2016, at 4:12 AM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_4-slc7_amd64_gcc493/565

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
Reply to this email dire

[2016-03-09 06:29] cmsbuild commented on #13653
Queing Jenkins upload for slc6_amd64_gcc493

[2016-03-09 06:29] cmsbuild commented on #13653
Queing Jenkins upload for slc7_amd64_gcc493

[2016-03-09 06:29] cmsbuild commented on #13653
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/332/console

[2016-03-09 06:30] cmsbuild commented on #13653
The upload has started for slc7_amd64_gcc493 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/333/console

[2016-03-09 06:30] davidlange6 commented on #13648
upload all

Sent from my iPad

On Mar 8, 2016, at 11:20 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc6_amd64_gcc493/562

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

—
Reply to this email dir

[2016-03-09 06:30] cmsbuild commented on #13648
Queing Jenkins upload for slc6_amd64_gcc493

[2016-03-09 06:30] cmsbuild commented on #13648
Queing Jenkins upload for slc6_amd64_gcc530

[2016-03-09 06:30] cmsbuild commented on #13648
Queing Jenkins upload for slc7_amd64_gcc530

[2016-03-09 06:31] cmsbuild commented on #13648
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/334/console

[2016-03-09 06:31] cmsbuild commented on #13648
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/335/console

[2016-03-09 07:03] davidlt commented on #13648
I also manually triggered aarch64 and ppc64le releases to be built. They will be perfect for Bockjoo to test installation scripts on these architectures. Should be built today before the end of working day.

[2016-03-09 07:09] cmsbuild commented on #13648
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/569/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-09 07:15] cmsbuild commented on #13653
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_4-slc6_amd64_gcc493/332
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-09 07:16] cmsbuild commented on #13648
The upload has started for slc7_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/336/console

[2016-03-09 07:38] cmsbuild commented on #13653
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_4/slc6_amd64_gcc493/591/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-09 07:38] cmsbuild commented on #13648
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_2-slc6_amd64_gcc530/335
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-09 07:53] cmsbuild commented on #13648
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_2/slc6_amd64_gcc530/592/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-09 08:01] cmsbuild commented on #13653
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_4-slc7_amd64_gcc493/333
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-09 08:12] cmsbuild commented on #13648
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc7_aarch64_gcc530/566
Some tests

[2016-03-09 08:12] cmsbuild commented on #13648
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-03-09 08:12] cmsbuild commented on #13648
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/337/console

[2016-03-09 08:21] cmsbuild commented on #13653
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_4/slc7_amd64_gcc493/593/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-09 08:33] cmsbuild commented on #13648
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_2-slc6_amd64_gcc493/334
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-09 08:53] cmsbuild commented on #13648
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_2/slc6_amd64_gcc493/594/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-09 08:53] cmsbuild commented on #13648
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-slc7_aarch64_gcc530/566

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-09 08:54] davidlange6 commented on #13648
release-notes

[2016-03-09 08:55] cmsbuild commented on #13648
Generating release notes since CMSSW_8_0_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-09 08:55] cmsbuild commented on #13648
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_2 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc6_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_2

Release with fixes for GR3.

Cheers,
cms-bot

You can also click <

[2016-03-09 08:55] cmsbuild commented on #13648
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_2-slc7_amd64_gcc530/336
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-09 08:56] cmsbuild commented on #13648
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_2

[2016-03-09 09:04] davidlange6 commented on #13653
release-notes

[2016-03-09 09:05] cmsbuild commented on #13653
Generating release notes since CMSSW_7_6_3_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-09 09:05] cmsbuild commented on #13653
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_6_4 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_3_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_4

Consolidation of 76x pull requests merged over past weeks.

[2016-03-09 09:06] cmsbuild commented on #13653
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_4

[2016-03-09 09:13] cmsbuild commented on #13648
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_2/slc7_amd64_gcc530/595/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-09 09:13] cmsbuild commented on #13648
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_2-slc7_aarch64_gcc530/337
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-09 10:25] andreypz opened #13657 "deltaR.h"
Hi,
I just have a couple simple questions about this:
DataFormats/Math/interface/deltaR.h

 * In the file it includes DataFormats/Math/interface/deltaPhi.h but the deltaPhi is not used in any method. Am I missing something?
 * Then, in multiple places there are comments not to use deltaR but use deltaR2 instead. Why is that? I always use deltaR.

Thanks,
Andrey

[2016-03-09 10:26] cmsbuild commented on #13657
A new Issue was created by  @andreypz (Andrey Pozdnyakov).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-09 11:45] cmsbuild commented on #13648
The build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-fc22_ppc64le_gcc530/569
Some tests

[2016-03-09 11:46] cmsbuild commented on #13648
Queing Jenkins upload for fc22_ppc64le_gcc530

[2016-03-09 11:46] cmsbuild commented on #13648
The upload has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/338/console

[2016-03-09 12:03] cmsbuild commented on #13648
The upload has successfully finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_2-fc22_ppc64le_gcc530/338
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-09 12:10] cmsbuild commented on #13648
The tests have finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_2-fc22_ppc64le_gcc530/569

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-09 12:57] Dr15Jones commented on #13657
I suggest asking these questions in the CMS physics tools hypernews. Issues are normally used to report code problems or request new features.

[2016-03-09 13:14] ghellwig commented on #13578
@degano, this issue has been fixed with #13643 and can be closed.

[2016-03-09 13:15] mmusich commented on #13578
+1

[2016-03-09 13:15] cmsbuild commented on #13578
This issue is fully signed and ready to be closed.

[2016-03-09 16:00] Dr15Jones commented on #12363
@smuzaffar Does it mean that 'externals' can sign off on this issue?

[2016-03-09 16:03] Dr15Jones commented on #12608
+1
Solved in #12593

[2016-03-09 16:03] cmsbuild commented on #12608
This issue is fully signed and ready to be closed.

[2016-03-09 16:04] Dr15Jones commented on #12694
@dan131riley Can you remind me which pull request made the change? I'd like to reference it before closing this issue.

[2016-03-09 16:05] Dr15Jones commented on #12840
@wmtan is this finished or are there still 'hard' changes waiting?

[2016-03-09 16:06] Dr15Jones commented on #12842
+1

[2016-03-09 16:06] cmsbuild commented on #12842
This issue is fully signed and ready to be closed.

[2016-03-09 16:07] Dr15Jones commented on #12850
+1

[2016-03-09 16:07] cmsbuild commented on #12850
This issue is fully signed and ready to be closed.

[2016-03-09 16:22] dan131riley commented on #12694
@Dr15Jones

PR#12998

https://github.com/cms-sw/cmssw/pull/12998

[2016-03-09 16:24] Dr15Jones commented on #12694
+1

[2016-03-09 16:24] cmsbuild commented on #12694
This issue is fully signed and ready to be closed.

[2016-03-09 16:51] smuzaffar commented on #12363
+externals

[2016-03-09 17:34] bouril opened #13669 "Error in multi-threaded calls to TH2::DoProfile"
Integration Build CMSSW_8_1_THREADED_X_2016-03-08-2300

test 140.2 PhotonJets_Pt_10_13_HI

Error 35584 in step 3   in TH2::DoProfile

step1: das_client.py--cache .../das-cache.file --query 'file dataset=/RelValPhotonJets_Pt_10_13_HI/CMSSW_7_6_0_pre6-76X_mcRun2_HeavyIon_v4-v1/GEN-SIM site=T2_CH_CERN' | sort -u > step1_dasquery.log 2>&1
step2: cmsDriver.py step2 --conditions auto:run2_mc_hi --scenar

[2016-03-09 17:34] cmsbuild commented on #13669
A new Issue was created by  @bouril (Dimitri Bourilkov).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-09 17:36] wmtan commented on #12840
@Dr15Jones There are still somewhere between 300 and 400 non-const non-mutable pointer data members in core software that may be candidates for propagate_const.

[2016-03-09 17:50] wmtan opened #13670 "Factor out commonality from EventProcessor and SubProcess classes"
There is still quite a bit of code duplication between the EventProcessor class and the SubProcess class. Some formerly duplicated code has already been factored into classes used by both  the top level process and each subprocess, such as the Schedule class.
As an example, a bug was recently discovered where the call to setComplete(), called at endRun and endLumi, was missing in SubProcess. This

[2016-03-09 17:51] cmsbuild commented on #13670
A new Issue was created by  @wmtan .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-09 19:21] wmtan commented on #13599
@Dr15Jones Pull request #13600 implements the solution to this issue.

[2016-03-10 11:24] davidlange6 opened #13674 "Build CMSSW_8_1_0_pre1"

[2016-03-10 11:24] davidlange6 commented on #13674
+1

[2016-03-10 11:25] cmsbuild commented on #13674
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-10 11:26] cmsbuild commented on #13674
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-03-10 11:26] cmsbuild commented on #13674
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc493, fc22_ppc64le_gcc530, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2016-03-10 11:27] cmsbuild commented on #13674
The build has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/570/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-10 11:28] cmsbuild commented on #13674
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/571/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-10 11:28] cmsbuild commented on #13674
The build has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/572/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-10 11:43] cmsbuild commented on #13674
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/573/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-10 11:56] cmsbuild commented on #13639
The cleanup has started for slc6_amd64_gcc493

[2016-03-10 11:56] cmsbuild commented on #13639
The cleanup has started for slc6_amd64_gcc530

[2016-03-10 11:56] cmsbuild commented on #13639
The cleanup has started for slc7_amd64_gcc530

[2016-03-10 11:57] #13639 closed

[2016-03-10 11:59] cmsbuild commented on #13639
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_1_patch1-slc6_amd64_gcc493/295

[2016-03-10 12:01] cmsbuild commented on #13639
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_1_patch1-slc6_amd64_gcc530/296

[2016-03-10 12:04] cmsbuild commented on #13639
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_1_patch1-slc7_amd64_gcc530/297

[2016-03-10 16:19] cmsbuild commented on #13674
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-slc6_amd64_gcc530/573
Some tests

[2016-03-10 16:39] cmsbuild commented on #13674
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-slc6_amd64_gcc530/573

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-10 16:45] cmsbuild commented on #13674
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-slc6_amd64_gcc493/572
Some tests

[2016-03-10 17:11] cmsbuild commented on #13674
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-slc6_amd64_gcc493/572

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-10 19:18] cmsbuild commented on #13674
The was an error for fc22_ppc64le_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-fc22_ppc64le_gcc530/574

[2016-03-10 19:23] cmsbuild commented on #13674
The upload has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/339/console

[2016-03-10 19:23] cmsbuild commented on #13674
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/340/console

[2016-03-10 20:41] cmsbuild commented on #13674
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre1-slc6_amd64_gcc530/340
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-10 21:11] cmsbuild commented on #13674
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre1/slc6_amd64_gcc493/596/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-03-10 21:33] cmsbuild commented on #13674
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre1/slc6_amd64_gcc530/597/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-03-10 21:45] cmsbuild commented on #13674
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-slc7_amd64_gcc530/570
Some tests

[2016-03-10 21:46] cmsbuild commented on #13674
The upload has started for slc7_amd64_gcc530 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/341/console

[2016-03-10 22:23] cmsbuild commented on #13674
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-slc7_amd64_gcc530/570

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-10 22:58] cmsbuild commented on #13674
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre1/slc7_amd64_gcc530/598/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-03-11 00:41] cmsbuild commented on #13674
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-slc7_aarch64_gcc530/571
Some t

[2016-03-11 00:42] cmsbuild commented on #13674
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-03-11 00:42] cmsbuild commented on #13674
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/342/console

[2016-03-11 01:11] cmsbuild commented on #13674
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre1-slc7_aarch64_gcc530/342
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-11 01:24] cmsbuild commented on #13674
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-slc7_aarch64_gcc530/571

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-11 02:05] cmsbuild commented on #13674
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/575/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-11 06:17] cmsbuild commented on #13674
The build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-fc22_ppc64le_gcc530/575
Some t

[2016-03-11 06:17] cmsbuild commented on #13674
Queing Jenkins upload for fc22_ppc64le_gcc530

[2016-03-11 06:18] cmsbuild commented on #13674
The upload has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/343/console

[2016-03-11 06:37] cmsbuild commented on #13674
The upload has successfully finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre1-fc22_ppc64le_gcc530/343
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-11 06:43] cmsbuild commented on #13674
The tests have finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre1-fc22_ppc64le_gcc530/575

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-11 08:08] cmsbuild commented on #13653
The cleanup has started for slc6_amd64_gcc493

[2016-03-11 08:08] cmsbuild commented on #13653
The cleanup has started for slc7_amd64_gcc493

[2016-03-11 08:08] #13653 closed

[2016-03-11 08:09] cmsbuild commented on #13648
The cleanup has started for fc22_ppc64le_gcc530

[2016-03-11 08:09] cmsbuild commented on #13648
The cleanup has started for slc7_aarch64_gcc530

[2016-03-11 08:09] cmsbuild commented on #13648
The cleanup has started for slc6_amd64_gcc493

[2016-03-11 08:09] cmsbuild commented on #13648
The cleanup has started for slc6_amd64_gcc530

[2016-03-11 08:09] cmsbuild commented on #13648
The cleanup has started for slc7_amd64_gcc530

[2016-03-11 08:09] #13648 closed

[2016-03-11 08:10] cmsbuild commented on #13653
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_4-slc6_amd64_gcc493/298

[2016-03-11 08:10] cmsbuild commented on #13648
The workspace for fc22_ppc64le_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_2-fc22_ppc64le_gcc530/300

[2016-03-11 08:11] cmsbuild commented on #13648
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_2-slc6_amd64_gcc493/301

[2016-03-11 08:11] cmsbuild commented on #13648
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_2-slc6_amd64_gcc530/302

[2016-03-11 08:12] cmsbuild commented on #13648
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_2-slc7_aarch64_gcc530/303

[2016-03-11 08:17] cmsbuild commented on #13653
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_4-slc7_amd64_gcc493/299

[2016-03-11 08:17] cmsbuild commented on #13648
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_2-slc7_amd64_gcc530/304

[2016-03-11 08:38] davidlange6 commented on #13674
release-notes

[2016-03-11 08:39] cmsbuild commented on #13674
Unable to find previous release for CMSSW_8_1_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2016-03-11 08:39] davidlange6 commented on #13674
release-notes since CMSSW_8_0_2

[2016-03-11 08:40] cmsbuild commented on #13674
Generating release notes since CMSSW_8_0_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-11 08:40] cmsbuild commented on #13674
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre1

Cheers,
cms-bot

You can also click <

[2016-03-11 08:40] cmsbuild commented on #13674
Generating release notes since CMSSW_8_0_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-11 08:40] cmsbuild commented on #13674
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre1

Cheers,
cms-bot

You can also click <

[2016-03-11 08:44] cmsbuild commented on #13674
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre1

[2016-03-11 08:44] cmsbuild commented on #13674
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre1

[2016-03-11 14:17] fwyzard opened #13694 "add support for "obsolete" parameters to the ParameterSet description and validation"
When updating CMSSW modules, I would find it useful to be able to declare an parameter as "obsolete".
The idea is that the module does not use the parameter any more, but an old configuration that still has it should still be accepted.

The expected behaviour would be:
  - the parameter is not written to the cfi.py file
  - if the parameter *is not* present in the module's configuration, nothing h

[2016-03-11 14:17] cmsbuild commented on #13694
A new Issue was created by  @fwyzard (Andrea Bocci).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-11 20:49] Dr15Jones commented on #13670
assign core

[2016-03-11 20:50] Dr15Jones commented on #13694
assign core

[2016-03-11 20:52] cmsbuild commented on #13670
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-11 20:52] cmsbuild commented on #13694
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-13 07:53] cmsbuild commented on #13674
The cleanup has started for fc22_ppc64le_gcc530

[2016-03-13 07:53] cmsbuild commented on #13674
The cleanup has started for slc7_aarch64_gcc530

[2016-03-13 07:53] cmsbuild commented on #13674
The cleanup has started for fc22_ppc64le_gcc530

[2016-03-13 07:53] cmsbuild commented on #13674
The cleanup has started for slc6_amd64_gcc493

[2016-03-13 07:53] cmsbuild commented on #13674
The cleanup has started for slc6_amd64_gcc530

[2016-03-13 07:53] cmsbuild commented on #13674
The cleanup has started for slc7_amd64_gcc530

[2016-03-13 07:53] #13674 closed

[2016-03-13 07:54] cmsbuild commented on #13674
The workspace for fc22_ppc64le_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre1-fc22_ppc64le_gcc530/305

[2016-03-13 07:55] cmsbuild commented on #13674
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre1-slc6_amd64_gcc493/306

[2016-03-13 07:56] cmsbuild commented on #13674
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre1-slc7_aarch64_gcc530/308

[2016-03-13 07:57] cmsbuild commented on #13674
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre1-slc6_amd64_gcc530/307

[2016-03-13 08:05] cmsbuild commented on #13674
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre1-slc7_amd64_gcc530/309

[2016-03-14 18:39] Dr15Jones commented on #13633
#13718

[2016-03-14 18:39] Dr15Jones commented on #13633
+1

[2016-03-14 18:40] #13633 closed

[2016-03-14 18:40] cmsbuild commented on #13633
This issue is fully signed and ready to be closed.

[2016-03-15 03:38] wmtan commented on #13624
@Dr15Jones PR #13722 solves this issue.

[2016-03-15 14:09] Dr15Jones commented on #13629
#13727

[2016-03-15 14:09] Dr15Jones commented on #13629
+1

[2016-03-15 14:09] cmsbuild commented on #13629
This issue is fully signed and ready to be closed.

[2016-03-17 11:18] davidlange6 opened #13752 "Build CMSSW_8_0_3"
target for (MW)GR4 and includes planned pileup scenario for MC production

[2016-03-17 11:18] davidlange6 commented on #13752
+1

[2016-03-17 11:18] cmsbuild commented on #13752
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-17 11:19] cmsbuild commented on #13752
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-03-17 11:19] cmsbuild commented on #13752
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-03-17 11:21] cmsbuild commented on #13752
The build has started for slc7_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/576/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-17 11:28] cmsbuild commented on #13752
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/577/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-17 12:15] cmsbuild commented on #13752
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/578/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-17 14:59] cmsbuild commented on #13752
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3-slc6_amd64_gcc493/577
Some tests ( ru

[2016-03-17 15:00] cmsbuild commented on #13752
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3-slc6_amd64_gcc530/578
Some tests ( ru

[2016-03-17 15:16] cmsbuild commented on #13752
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3-slc6_amd64_gcc530/578

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-17 15:22] cmsbuild commented on #13752
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3-slc6_amd64_gcc493/577

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-17 16:21] davidlange6 commented on #13752
upload all

[2016-03-17 16:21] cmsbuild commented on #13752
Queing Jenkins upload for slc6_amd64_gcc493

[2016-03-17 16:21] cmsbuild commented on #13752
Queing Jenkins upload for slc6_amd64_gcc530

[2016-03-17 16:22] cmsbuild commented on #13752
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/345/console

[2016-03-17 16:22] cmsbuild commented on #13752
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/344/console

[2016-03-17 16:53] Dr15Jones opened #13760 "Put a wait when lots of messages are being sent"
If the number of outstanding messages exceeds some limit, make the sending thread wait. This is needed to avoid memory explosions as seen https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1430.html

[2016-03-17 16:53] cmsbuild commented on #13760
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-17 16:53] Dr15Jones commented on #13760
assign core

[2016-03-17 16:53] cmsbuild commented on #13760
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-17 16:57] riga opened #13761 "Twisted imports in runMETCorrectionsAndUncertainties"
The RunMETCorrectionsAndUncertainties tool in PatUtils [1] uses wrong imports of the jetUpdaters in PatAlgos [2], e.g. `patJetCorrFactorsUpdated` instead of `updatedPatJetCorrFactors`.

This bug occurred in 7_6_4.

[1] https://github.com/cms-sw/cmssw/blob/CMSSW_7_6_X/PhysicsTools/PatUtils/python/tools/runMETCorrectionsAndUncertainties.py#L1195
[2] https://github.com/cms-sw/cmssw/blob/CMSSW_7_6_X/P

[2016-03-17 16:58] cmsbuild commented on #13761
A new Issue was created by  @riga (Marcel R.).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-17 17:05] riga commented on #13761
Ok, this seems to be already fixed in 8_X_X. Will this fix be backported to 7_6_X?

[2016-03-17 17:14] cmsbuild commented on #13752
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3-slc6_amd64_gcc493/344
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-17 17:36] cmsbuild commented on #13752
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3/slc6_amd64_gcc493/599/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-17 17:43] slava77 commented on #13761
@zdemirag @mariadalfonso  please take a note.
@riga it may be more effective to discuss this in hn-cms-physTools

[2016-03-17 17:44] zdemirag commented on #13761
@riga the plan is to back port the 80X to 76X.

[2016-03-17 17:44] Dr15Jones commented on #13760
@davidlange6 @slava77 There are several ways I could do this. If too many messages are coming simultaneously then when it hits a threshhold

1. I can have the sending threads wait which slows us down or

1. I can start throwing away messages until I can get all the pending messages out

I like the latter since it avoids stalling threads but it does mean losing messages.

Do you have suggestions?

[2016-03-17 17:49] cmsbuild commented on #13752
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3-slc6_amd64_gcc530/345
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-17 17:59] slava77 commented on #13760
Maybe a threshold for 1 and a (higher) threshold for 2?

When I looked at the events with mt4 I have seen that processing in one module on one of the streams would stop for ~x100 or worse longer than it takes to process an event in a single thread.
Sequentially with 1 thread each module completed event processing within 1.5-2.5 secs.

[2016-03-17 18:03] cmsbuild commented on #13752
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3/slc6_amd64_gcc530/600/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-17 18:22] davidlange6 commented on #13752
release-notes

[2016-03-17 18:23] cmsbuild commented on #13752
Generating release notes since CMSSW_8_0_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-17 18:23] cmsbuild commented on #13752
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_3 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc6_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_3

target for (MW)GR4 and includes planned pileup scenario for MC pro

[2016-03-17 18:25] cmsbuild commented on #13752
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3

[2016-03-17 18:38] davidlange6 commented on #13760
for context, what is “lots”?

[2016-03-17 19:17] cmsbuild commented on #13752
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3-slc7_amd64_gcc530/576
Some tests ( ru

[2016-03-17 19:17] cmsbuild commented on #13752
Queing Jenkins upload for slc7_amd64_gcc530

[2016-03-17 19:18] cmsbuild commented on #13752
The upload has started for slc7_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/346/console

[2016-03-17 19:59] cmsbuild commented on #13752
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3-slc7_amd64_gcc530/576

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-17 20:06] cmsbuild commented on #13752
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3-slc7_amd64_gcc530/346
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-17 20:24] cmsbuild commented on #13752
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3/slc7_amd64_gcc530/601/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-03-19 17:23] cmsbuild commented on #13752
The cleanup has started for slc6_amd64_gcc493

[2016-03-19 17:23] cmsbuild commented on #13752
The cleanup has started for slc6_amd64_gcc530

[2016-03-19 17:23] cmsbuild commented on #13752
The cleanup has started for slc7_amd64_gcc530

[2016-03-19 17:23] #13752 closed

[2016-03-19 17:24] cmsbuild commented on #13752
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3-slc6_amd64_gcc530/311

[2016-03-19 17:25] cmsbuild commented on #13752
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3-slc6_amd64_gcc493/310

[2016-03-19 17:30] cmsbuild commented on #13752
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3-slc7_amd64_gcc530/312

[2016-03-21 13:25] Dr15Jones opened #13788 "Consider forking boost serialization"
The conditions use of boost serialization keeps us from being able to migrate to new versions of boost (becuase they require forward compatibility and boost only guarantees backwards compatibility). We should look into forking boost serialization and then moving the code to a new namespace. The conditions code would then only use the new namespace.

[2016-03-21 13:25] cmsbuild commented on #13788
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-21 13:26] Dr15Jones commented on #13788
assign db

[2016-03-21 13:26] Dr15Jones commented on #13788
assign core

[2016-03-21 13:26] cmsbuild commented on #13788
New categories assigned: core,db

@Dr15Jones,@smuzaffar,@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-21 13:53] davidlange6 commented on #13788
I agree - but can we confirm that keeping the serialization part static would be sufficient?

[2016-03-21 13:56] Dr15Jones commented on #13788
First thing would be to determine how much of boost is used by boost serialization. Then see if those other parts have to be forked or if we can just get them from the regular boost.

[2016-03-21 13:59] davidlange6 commented on #13788
Right - @ggovi perhaps can report on this at a future core meeting?

[2016-03-21 16:24] Dr15Jones commented on #13760
I'd think 'lots' could be 100? I'd certainly think more than 10.

[2016-03-21 16:27] ggovi commented on #13788
@Dr15Jones
It is not obvious that it will be feasible ( boost/serialization has a library, not only header files ):
- the change of namespace could be tricky, depending on how many nested files are involved
- the whole consistency is not ensured if we go for the static fork

It will probably require the validation of every boost version change... Do we really need to go for it? As far as I know, u

[2016-03-21 16:31] Dr15Jones commented on #13760
Exceeding the threshold for 1 means the threads would pause and would therefore not add more items to output. This would mean we'd never reach a threshold for 2.

Sequentially with 1 thread each module completed event processing within 1.5-2.5 secs.

Right, the one module being slowed down is the one where the thread is trying to process all the print requests from all the other threads.

[2016-03-21 16:44] davidlt commented on #13788
There is one issue we are solving for GCC 6.0.0 in upstream Boost for 1.61.0 release. This will be trivial to back port to the current version of Boost, but who knows how complicated that will be in the future. We had discussions in the past (1 year ago?) that a permanent solution needs to be found for CondDB so that we are not locked to a specific version of Boost.

Boost is modular. Thus, I thin

[2016-03-21 18:27] Dr15Jones commented on #13760
Actually, 10 messages would already be pretty excessive. The design was meant to be used in a cituation where messages are very infrequent so that even 1 message from another thread should be rare.

[2016-03-22 11:32] ggovi commented on #13788
@davidlt
@all...
I'm currently implementing a protection in our conditon upload service, which should prevent the storage of payloads serialized with boost version > the one in use by the service. This should allow to have the latest greatest CMSSW with a boost version higher then the one in use by the 'production' readers ( presumably running an earlier CMSSW ).
This will imply that the condition

[2016-03-22 11:37] davidlange6 commented on #13788
lets not use @ all - it doesn’t do what you think..

how does one then transition to a new “production” release using the new boost version?

[2016-03-22 11:43] ggovi commented on #13788
the transition requires the back-port of the boost upgrade to the 'reader's CMSSW releases - tipically the earliest is the one in use by HLT.   So:

- latest greatest move to new boost
- after the required validation ( for HLT ), the change is ported ( unless HLT is moving )

This is actually the simpler scenario, we may need to consider if other 'readers' need to be supported...

[2016-03-22 11:47] davidlange6 commented on #13788
I don’t think that solution works long term - unlike the 74x transition, when we had only a few, and not very old, releases to worry about, releases still used by physics using conddb2 will start to get very old in the coming years. [eg, no conddb2 release was used widely by run 1 analysis when we transitioned previously, so the transition was pretty simple]

[2016-03-22 18:31] davidlange6 opened #13804 "Build CMSSW_8_0_3_patch1"
fixes for GR4

[2016-03-22 18:31] cmsbuild commented on #13804
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-22 18:32] davidlange6 commented on #13804
+1

[2016-03-22 18:33] cmsbuild commented on #13804
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-03-22 18:33] cmsbuild commented on #13804
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-03-22 18:34] cmsbuild commented on #13804
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/579/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-22 18:35] cmsbuild commented on #13804
The build has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/580/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-22 18:35] cmsbuild commented on #13804
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/581/console
CMSDIST Branch: [REL/CMSSW_8_0_3/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_3/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-22 19:43] cmsbuild commented on #13804
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch1-slc6_amd64_gcc493/579
Some tes

[2016-03-22 20:03] cmsbuild commented on #13804
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch1-slc6_amd64_gcc493/579

Tests results:
1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Tue Mar 22 20:55:39 2016-date Tue Mar 22 20:54:30

[2016-03-22 20:07] cmsbuild commented on #13804
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch1-slc6_amd64_gcc530/581
Some tes

[2016-03-22 20:24] cmsbuild commented on #13804
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch1-slc6_amd64_gcc530/581

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Tue Mar 22 21:07:32 2016-date Tue Mar 22 21:07:09

[2016-03-22 20:34] cmsbuild commented on #13804
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch1-slc7_amd64_gcc530/580
Some tes

[2016-03-22 20:54] cmsbuild commented on #13804
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_3_patch1-slc7_amd64_gcc530/580

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Tue Mar 22 21:35:07 2016-date Tue Mar 22 21:34:51

[2016-03-22 21:47] slava77 opened #13806 "ConfigBuilder: make --hltProcess to act on patTrigger settings"
--hltProcess  XXX option doesn't modify patTrigger settings.
This can be applied in prepare_PAT step

[2016-03-22 21:48] cmsbuild commented on #13806
A new Issue was created by  @slava77 (Slava Krutelyov).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-22 21:48] slava77 commented on #13806
assign operations reco

[2016-03-22 21:50] slava77 commented on #13806
I guess I can't asign issues

[2016-03-22 21:54] slava77 opened #13807 "ConfigBuilder: propagate FILTER:filterSeqSpecs to all paths"
step FILTER:filterSeqSpecs is supposed to apply filterSeq to all paths.
Currently it doesn't apply this to  a fair fraction of paths.
The logic is around
https://github.com/cms-sw/cmssw/blob/CMSSW_8_0_3/Configuration/Applications/python/ConfigBuilder.py#L2183
All relevant paths should be included in self.conditionalPaths or there should be a bypass option to force everything to get the filterSeq p

[2016-03-22 21:55] Dr15Jones commented on #13806
assign reco, operations

[2016-03-22 21:55] cmsbuild commented on #13807
A new Issue was created by  @slava77 (Slava Krutelyov).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-22 21:55] cmsbuild commented on #13806
New categories assigned: operations

@franzoni,@davidlange6 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-22 21:55] Dr15Jones commented on #13806
assign reco

[2016-03-22 21:57] Dr15Jones commented on #13806
assign reconstruction

[2016-03-22 21:57] cmsbuild commented on #13806
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-23 08:36] davidlange6 commented on #13804
upload all
(das errors aside looks like its all ok)

[2016-03-23 08:36] cmsbuild commented on #13804
Queing Jenkins upload for slc6_amd64_gcc493

[2016-03-23 08:36] cmsbuild commented on #13804
Queing Jenkins upload for slc6_amd64_gcc530

[2016-03-23 08:36] cmsbuild commented on #13804
Queing Jenkins upload for slc7_amd64_gcc530

[2016-03-23 08:37] cmsbuild commented on #13804
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/347/console

[2016-03-23 08:37] cmsbuild commented on #13804
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/348/console

[2016-03-23 08:37] cmsbuild commented on #13804
The upload has started for slc7_amd64_gcc530 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/349/console

[2016-03-23 09:15] cmsbuild commented on #13804
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch1-slc6_amd64_gcc493/347
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-23 09:20] cmsbuild commented on #13804
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch1/slc6_amd64_gcc493/602/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-03-23 09:36] cmsbuild commented on #13804
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch1-slc7_amd64_gcc530/349
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-23 09:41] cmsbuild commented on #13804
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch1/slc7_amd64_gcc530/603/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-03-23 09:49] davidlange6 commented on #13804
release-notes

[2016-03-23 09:50] cmsbuild commented on #13804
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-03-23 09:55] cmsbuild commented on #13804
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_3_patch1-slc6_amd64_gcc530/348
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-23 09:59] cmsbuild commented on #13804
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_3_patch1/slc6_amd64_gcc530/604/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-03-23 09:59] cmsbuild commented on #13804
Generating release notes since CMSSW_8_0_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-23 09:59] cmsbuild commented on #13804
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_3_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_3_patch1

fixes for GR4

Cheers,
cms-b

[2016-03-23 10:02] cmsbuild commented on #13804
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_3_patch1

[2016-03-23 14:58] davidlt opened #13818 "[segfault][8_1_X] Error: uninitialized ProxyBase11 used (TrackingTools)"
While looking into ICC builds I have noticed quite a large number of failures, which we didn't have in the past. This looked to be memory related issue and I managed to reproduce it with GCC.

Workflow 4000.0, step3 (but affects a lot more workflows)

[code]

Note the following change is required:
[code]

The following packages need to checked out:
[code]

Compiled with:
[code]

Without `-DTR_DEBU

[2016-03-23 14:58] cmsbuild commented on #13818
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-23 14:59] davidlt commented on #13818
assign reconstruction

[2016-03-23 14:59] cmsbuild commented on #13818
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-23 15:01] davidlt commented on #13818
This issue popped up (i.e. became visible) sometime in CMSSW_8_0_X development.

[2016-03-23 15:07] slava77 commented on #13818
@VinInn @rovere
please take a look
Thank you.

[2016-03-23 15:25] VinInn commented on #13818
can we see the whole stack trace from gdb?

[2016-03-23 15:29] VinInn commented on #13818
essentially somebody is not testing if TrajectoryStateOnSurface is valid

[2016-03-23 15:37] davidlt commented on #13818
I have ICC (optimised, jemalloc) area with a better stack trace:
[code]
In this particular instance the address was completely garbage.

Here is GCC minimal reproducer with glibc:
[code]

[2016-03-23 15:55] VinInn commented on #13818
The second I do understand that
auto const & refTsos1 = refTsos.components().front();
may be invalid (very strange)
even if by construction cannot be the case...
how to reproduce?
(is 1st record, so should be quite common, still I am running this code daily and never seen a problem)
 (it happens we are working on these classes to optimize and fix few other algorithmic glitches)

the first is somet

[2016-03-23 16:00] davidlt commented on #13818
Just follow instructions in the issue description. Simply running 4000.0 step3 with `cmsRunGlibC` should be enough to reveal it (i.e. cause the segfault).

[2016-03-23 16:10] VinInn commented on #13818
actually any cmsRunGlibC
ACTION: run one wf with cmsRunGlibC in relval and jenkins
can we try a regression scan over old releases?

[2016-03-23 16:23] #11752 closed

[2016-03-23 16:29] ggovi commented on #13788
ok, I'm currently discussing a refined proposal with the AlCa conveners.
I guess we will have to iterate on this.

[2016-03-23 16:45] davidlt commented on #13818
Some months ago ICC builds were running just fine. So either newer version of ICC revealed this issue or it was introduced most likely in CMSSW_8_0_X. You can write a simple bash script to test various releases.

I quickly looked to CMSSW_8_0_0 and to my surprise it did work with cmsRunGlibC, but latest CMSSW IB did not. It segfaulted.

I don't see runTheMatrix or cmsDriver taking option specifyin

[2016-03-23 18:27] VinInn commented on #13818
great nonsense
refTsos.components().front(); is somehow returning nonsense (well 0) with cmsRunGlibC
I added this
     const MagneticField* field = refTsos.magneticField();
+    std::cout << "size " << refTsos.components().size() << std::endl;
+    for (auto const & r : refTsos.components()) {
+      auto const & b = (ProxyBase11<BasicTrajectoryState> const&)(r);
+      if (!r.isValid()) std::cout

[2016-03-23 18:45] VinInn commented on #13818
As you already guessed with
auto const  refTsos1 = refTsos.components().front();
works as in this one (notice first and last and identical)
I think this is not a problem in the code...
maybe in the compiler (and how could be that works with one binary and not with another?)
size 12
refs 2 0x2dd30750
refs 2 0x2dd30930
refs 2 0x2dd30af0
refs 2 0x2dd31710
refs 2 0x2dd38540
refs 2 0x2dd38700
refs 2 0x

[2016-03-23 18:52] Dr15Jones commented on #13818
What happens if you do `dynamic_cast<ProxyBase11 const&>` instead?

[2016-03-23 19:13] Dr15Jones commented on #13818
Can someone run valgrind on the failing job? Different memory allocators will place objects at different relative memory locations so we might be seeing the effect of an overwrite.

[2016-03-23 19:15] VinInn commented on #13818
the problem is
'ProxyBase11<BasicTrajectoryState>' is an inaccessible base of 'TrajectoryStateOnSurface'
so I need a reinterpret_cast ...

[2016-03-23 19:24] Dr15Jones commented on #13818
So I have a question about the output
[code]
What other place is holding the same shared_ptr so that the reference count is 2? Also, given the first and last variables point to the same object `0x7f4572ab0d90` shouldn't their reference count be identical and be 3?

[2016-03-23 19:29] VinInn commented on #13818
in my opinion the ref count is 2 because refTsos.components() returns the vector by copy
with refTsos.components().front() the copy is either elided or already destructed..

[2016-03-23 19:31] Dr15Jones commented on #13818
OK, I understand the `refs 2` now. `refTsos.components()` returns a vector containing copies of the proxies from `refTsos` so there are two shared_ptrs addressing the same items. However, that still doesn't explain why if the first and last entries are the same object that the reference should be 4.

By the way, this construct breaks const thread safety since `components()` is a `const` function b

[2016-03-23 19:32] VinInn commented on #13818
is not last entry: is the second printout! (sorry for not differentiating them)

[2016-03-23 19:34] VinInn commented on #13818
then this
http://cmslxr.fnal.gov/lxr/source/TrackingTools/GsfTools/interface/BasicMultiTrajectoryState.h?v=CMSSW_8_1_0_pre1#0059
should become
std::vector<const TrajectoryStateOnSurface>
agreed
but I do not is what causing the problem

[2016-03-23 19:38] Dr15Jones commented on #13818
That type doesn't have to change since a copy is being done anyway. The method would just make that explicit
[code]

[2016-03-23 19:39] Dr15Jones commented on #13818
Can some dump the machine code for the routine? Maybe that will make the constructor/destructor calls clearer?

[2016-03-23 19:51] davidlt commented on #13818
@Dr15Jones I did tried running valgrind but then cmsRun dumped exception that it cannot read the configuration: something about not being able to convert `1e+64` to `double`.
[code]

I only looked briefly in assembly while debugging it on ICC and registers/memory definitely contained garbage value. On ICC it goes away depending on optimisation level, while it fails always on GCC IIRC. There is one

[2016-03-23 19:56] Dr15Jones commented on #13818
What happens if we change
[code]
To
[code]
?

The thing is, `refTsos.components()` returns a temporary vector filled with things holding `std::shared_ptr`. Then the `front()` returns a reference to one of the items in the temporary vector. The temporary vector goes out of scope deleting the object it holds, including the item referenced from `front`. Given `front` returned a reference and not a ne

[2016-03-23 20:37] VinInn commented on #13818
you will love to know that
valgrind cmsRunGlibC hltOnlyDebug.py
end w/o segfault

@Dr15Jones : I understand your argument. I do not understand how the content of the shared pointers can become 0x0 in one case and stay what should be in the other without any change in the code
(ok there is a malloc call due to the temporary vector, so the area of the deleted shared_ptr is zeroed
and kaboom.)
we kno

[2016-03-24 08:13] VinInn commented on #13818
this
[code]
does not compile
so we cannot return a
std::vector<TrajectoryStateOnSurface const>

[2016-03-24 12:48] slava77 commented on #13818
Is it possible that the IB is an incomplete build (especially if it was a patch)?
Was there a test with a crash on a full build?

[2016-03-24 15:18] VinInn commented on #13818
fixed in #13831

[2016-03-24 17:13] VinInn commented on #13818
I looked at the code referred in the segfault in ICC
[code]
and I cannot see anything peculiar.
Would be useful to reproduce it in gcc

[2016-03-24 19:10] Dr15Jones commented on #13818
Given the code is going through `cmsutils::bqueue`, is it possible that `size()` could be non-zero but `back()` return an invalid object? Is it possible to run valgrind on the ICC binary?

[2016-03-24 19:14] Dr15Jones commented on #13818
What happens if GroupedCkfTrajectoryBuilder.cc:710 is changed to
[code]

i.e. test that the RecHit held by the last measurement is non null.

[2016-03-25 08:05] VinInn commented on #13818
for ( auto & t :  theTrajectories) {
+    if ( t.isValid() && !t.lastMeasurement().recHitP())
+       std::cout << "missing hit in lastMeasurement????" << std::endl;
does not produce any output

[2016-03-25 08:53] cmsbuild commented on #13804
The cleanup has started for slc6_amd64_gcc493

[2016-03-25 08:53] cmsbuild commented on #13804
The cleanup has started for slc6_amd64_gcc530

[2016-03-25 08:53] cmsbuild commented on #13804
The cleanup has started for slc7_amd64_gcc530

[2016-03-25 08:53] #13804 closed

[2016-03-25 08:54] cmsbuild commented on #13804
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch1-slc6_amd64_gcc530/314

[2016-03-25 08:54] cmsbuild commented on #13804
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch1-slc6_amd64_gcc493/313

[2016-03-25 08:57] cmsbuild commented on #13804
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_3_patch1-slc7_amd64_gcc530/315

[2016-03-25 12:16] davidlt commented on #13818
You should focus on the GCC stack trace, because it's more likely to provide reproducible test case. ICC is optimised code, the issues goes away once you turn off optimisation. Valgrind cannot help as CMSSW fails loading configuration while running under valgrind. I did a quick look into assembly and registers on ICC build and it wasn't `nullptr`, it was more or less huge address which looked way

[2016-03-29 19:05] davidlt opened #13858 "[segfaults] SiPixelDigiValid::analyse: blade number is out-of-range of array, out-of-bounds write on stack"
I noticed that we have failing workflows on CLANG builds, e.g. 10023.0 MinBias_13: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_CLANG_X_2016-03-26-1100/pyRelValMatrixLogs/run/10023.0_MinBias_13+MinBias_13TeV_pythia8_TuneCUETP8M1_2017_GenSimFullINPUT+DigiFull_2017+RecoFull_2017+HARVESTFull_2017/step3_MinBias_13+MinBias_13TeV_pythia8_TuneCUETP8M1_2017_GenSimFullINPUT+Digi

[2016-03-29 19:06] cmsbuild commented on #13858
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-29 19:07] davidlt commented on #13858
assign dqm

[2016-03-29 19:07] cmsbuild commented on #13858
New categories assigned: dqm

@deguio,@vanbesien you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-03-30 07:57] davidlange6 opened #13864 "Build CMSSW_7_5_8_patch4"
Primary purpose: add filters and customizations needed for HI re-reco

[2016-03-30 07:57] davidlange6 commented on #13864
+1

[2016-03-30 07:58] cmsbuild commented on #13864
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-30 07:58] cmsbuild commented on #13864
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2016-03-30 07:58] cmsbuild commented on #13864
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-03-30 07:59] cmsbuild commented on #13864
The build has started for slc6_amd64_gcc491 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/582/console
CMSDIST Branch: [REL/CMSSW_7_5_8/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_8/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-30 08:27] cmsbuild commented on #13864
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch4-slc6_amd64_gcc491/582
Some tes

[2016-03-30 08:47] cmsbuild commented on #13864
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch4-slc6_amd64_gcc491/582

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-03-30 09:22] davidlange6 commented on #13864
upload all

[2016-03-30 09:23] cmsbuild commented on #13864
Queing Jenkins upload for slc6_amd64_gcc491

[2016-03-30 09:23] cmsbuild commented on #13864
The upload has started for slc6_amd64_gcc491 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/350/console

[2016-03-30 09:58] cmsbuild commented on #13864
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_8_patch4-slc6_amd64_gcc491/350
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-30 10:10] cmsbuild commented on #13864
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8_patch4/slc6_amd64_gcc491/605/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-03-30 10:18] davidlange6 commented on #13864
release-notes

[2016-03-30 10:18] cmsbuild commented on #13864
Generating release notes since CMSSW_7_5_8_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-30 10:18] cmsbuild commented on #13864
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_8_patch4 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8_patch4

Primary purpose: add filters and customizations needed fo

[2016-03-30 10:20] cmsbuild commented on #13864
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch4

[2016-03-30 11:27] mmarionncern commented on #13761
@riga @slava77
This issue is fixed in the PR #13865 .
A full backport of the updated version of the MET tool from 8XY is too complicated to set in place in 76X (and would break a lot of CMSSW rules such as changes in the production sequence content)

[2016-03-31 12:08] davidlange6 opened #13874 "Build CMSSW_6_2_0_SLHC28_patch1"
now the requested project is pushed forward by upgrade, so building release for validation to start.

[2016-03-31 12:08] davidlange6 commented on #13874
+1

[2016-03-31 12:09] cmsbuild commented on #13874
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-31 12:09] cmsbuild commented on #13874
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_6_2_0_SLHC28_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_6_2_X_SLHC

[2016-03-31 12:09] cmsbuild commented on #13874
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-03-31 12:10] davidlange6 opened #13875 "Build CMSSW_7_1_22"
for new EvtGen files and gen filter

[2016-03-31 12:10] cmsbuild commented on #13875
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-03-31 12:11] cmsbuild commented on #13874
The build has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/583/console
CMSDIST Branch: [REL/CMSSW_6_2_0_SLHC28/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_6_2_0_SLHC28/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-31 12:11] davidlange6 commented on #13875
+1

[2016-03-31 12:11] cmsbuild commented on #13875
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_22. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2016-03-31 12:11] cmsbuild commented on #13875
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-03-31 12:12] cmsbuild commented on #13875
The build has started for slc6_amd64_gcc481 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/584/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-03-31 13:02] cmsbuild commented on #13874
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_6_2_0_SLHC28_patch1-slc6_amd64_gcc472/583
S

[2016-03-31 13:02] cmsbuild commented on #13874
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_6_2_0_SLHC28_patch1-slc6_amd64_gcc472/583

Tests results:
grep: /build/cmsbuild/auto-builds/CMSSW_6_2_0_SLHC28_patch1-slc6_amd64_gcc472/build/CMSSW_6_2_0_SLHC28_patch1-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2016-03-31 13:03] davidlange6 commented on #13874
upload all

[2016-03-31 13:04] cmsbuild commented on #13874
Queing Jenkins upload for slc6_amd64_gcc472

[2016-03-31 13:04] cmsbuild commented on #13874
The upload has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/351/console

[2016-03-31 14:15] cmsbuild commented on #13874
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_6_2_0_SLHC28_patch1-slc6_amd64_gcc472/351
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-31 14:25] cmsbuild commented on #13874
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_6_2_0_SLHC28_patch1/slc6_amd64_gcc472/606/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that yo

[2016-03-31 15:21] cmsbuild commented on #13875
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_22-slc6_amd64_gcc481/584
Some tests ( r

[2016-03-31 15:44] cmsbuild commented on #13875
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_22-slc6_amd64_gcc481/584

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2016-03-31 18:36] davidlange6 commented on #13874
release-notes

[2016-03-31 18:37] cmsbuild commented on #13874
Generating release notes since CMSSW_6_2_0_SLHC28.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-03-31 18:37] davidlange6 commented on #13875
upload all

[2016-03-31 18:37] cmsbuild commented on #13874
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_6_2_0_SLHC28_patch1 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_6_2_0_SLHC28 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_6_2_0_SLHC28_patch1

now the requested project is pushed forward

[2016-03-31 18:37] cmsbuild commented on #13875
Queing Jenkins upload for slc6_amd64_gcc481

[2016-03-31 18:38] cmsbuild commented on #13875
The upload has started for slc6_amd64_gcc481 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/352/console

[2016-03-31 18:39] cmsbuild commented on #13874
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_6_2_0_SLHC28_patch1

[2016-03-31 19:17] cmsbuild commented on #13875
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_22-slc6_amd64_gcc481/352
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-03-31 19:51] cmsbuild commented on #13875
The installation has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_22/slc6_amd64_gcc481/607/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-04-01 07:53] davidlange6 commented on #13875
release-notes

[2016-04-01 07:54] cmsbuild commented on #13875
Generating release notes since CMSSW_7_1_21_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-04-01 07:54] cmsbuild commented on #13875
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_22 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_21_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_22

for new EvtGen files and gen filter

Cheers,
cms-bot

You can also click <

[2016-04-01 07:55] cmsbuild commented on #13875
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_22

[2016-04-01 08:24] cmsbuild commented on #13864
The cleanup has started for slc6_amd64_gcc491

[2016-04-01 08:24] #13864 closed

[2016-04-01 08:25] cmsbuild commented on #13864
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8_patch4-slc6_amd64_gcc491/316

[2016-04-01 20:15] aperloff opened #13889 "FactorizedJetCorrector returns incorrect JEC"
Hi,

I have noticed that the FactorizedJetCorrector is not returning the correct JEC factors since CMSSW_7_6_0. I have tested the code in CMSSW version 741, 750, 758_patch1, 760, 763, and 801. In the first three, the code returns the exact value we would expect, but in the last three releases the code returns some other number.

As far as I can tell the FactorizedJetCorrector relies on FactorizedJ

[2016-04-01 20:15] cmsbuild commented on #13889
A new Issue was created by  @aperloff (Alexx Perloff).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-01 20:38] blinkseb commented on #13889
I can confirm the issue which is directly tracked down to `FormulaEvaluator`. I added this code snippet to `CommonTools/Utils/test/testFormulaEvaluator.cc`

[code]

C++ code returns `1.25124`, while `reco::FormulaEvaluator` returns `5.72194` (same numbers seen by Alexx).

Interestingly, `5.72194` corresponds to the first part of the formula, `std::max(0.0001,v[0]+v[1]/(std::pow(std::log(x)/std::lo

[2016-04-01 20:43] slava77 commented on #13889
@aperloff
Is only the on-the-fly setup affected or do we get wrong corrections using jet corrector modules in CMSSW cmsRun jobs?
please clarify

I thought that the same FormulaEvaluator is used.

[2016-04-01 20:52] blinkseb commented on #13889
@slava77 I'm afraid the whole JEC code is affected by this issue, since all the module basically ends using the FormulaEvaluator to evalue the formula.

It seems we get lucky in the past always using formula compatible with the FormulaEvaluator, but this one seems to trigger an incorrect behavior.

[2016-04-01 20:57] slava77 commented on #13889
@blinkseb
Do I understand correctly, that at least this version of corrections was not yet used in miniAOD production?
(The one that corresponds to Spring16_25nsV1_MC_L2Relative_AK4PFl1.txt or the explicit implementation discussed here)

[2016-04-01 20:59] blinkseb commented on #13889
Exactly, it's not used anywhere for the moment. It's in development for the new miniaod production, and the bug was found by @aperloff during validation.

[2016-04-01 21:00] slava77 commented on #13889
On 4/1/16 1:59 PM, Sébastien Brochet wrote:

OK, that's clear.
Disaster averted ;)

[2016-04-01 22:38] Dr15Jones commented on #13889
I'm sure that you probably found a bug, however, the formula you passed to FormulaEvaluator is not the same one you evaluated with C++.  The C++ had
[code]
but the formula evaluator was given
[code]

Notice the missing '-1*' for the FormulaEvaluator. What is the actual formula that wasn't working?

[2016-04-01 22:41] aperloff commented on #13889
The formula at the top of the text file ([1]) is:
max(0.0001,[0]+[1]/(pow(log10(x),2)+[2])+[3]*exp(-[4]*(log10(x)-[5])*(log10(x)-[5])))

[1]
http://people.physics.tamu.edu/aperloff/CMS_JEC/forGitHubIssue/Spring16_25nsV1_MC_L2Relative_AK4PFl1.txt

[2016-04-02 03:00] Dr15Jones commented on #13889
assign core

[2016-04-02 03:00] cmsbuild commented on #13889
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-02 03:01] Dr15Jones commented on #13889
Fixed in #13890

[2016-04-02 16:38] cmsbuild commented on #13874
The cleanup has started for slc6_amd64_gcc472

[2016-04-02 16:38] #13874 closed

[2016-04-02 16:39] cmsbuild commented on #13874
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_6_2_0_SLHC28_patch1-slc6_amd64_gcc472/317

[2016-04-03 06:08] cmsbuild commented on #13875
The cleanup has started for slc6_amd64_gcc481

[2016-04-03 06:08] #13875 closed

[2016-04-03 06:09] cmsbuild commented on #13875
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_22-slc6_amd64_gcc481/318

[2016-04-04 10:55] davidlt commented on #13858
ping^1

[2016-04-04 21:01] davidlt opened #13924 "hex float literals are only supported in C++1z and GNU"
~Two weeks ago hex float format was added into C++1z on GCC 6.0.0 side. After reading documentation this feature is only available if `-std=c++1z` is used or if GNU extensions are enabled `-std=gnu++{98,03,11,14}`.

The following file is causing errors with GCC: `DataFormats/Math/interface/approx_atan2.h` and `DataFormats/Math/interface/approx_exp.h`

[code]

Note, that hex float literals with pos

[2016-04-04 21:01] cmsbuild commented on #13924
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-04 21:02] davidlt commented on #13924
assign reconstruction

@VinInn

[2016-04-04 21:02] cmsbuild commented on #13924
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-04 21:05] davidlange6 opened #13925 "Build CMSSW_8_1_0_pre2"

[2016-04-04 21:05] cmsbuild commented on #13925
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-04 21:05] davidlange6 commented on #13925
+1

[2016-04-04 21:05] cmsbuild commented on #13925
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-04-04 21:05] cmsbuild commented on #13925
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc493, fc22_ppc64le_gcc530, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2016-04-04 21:06] cmsbuild commented on #13925
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/585/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-04 21:06] cmsbuild commented on #13925
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/588/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-04 21:07] cmsbuild commented on #13925
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/587/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-04 21:07] cmsbuild commented on #13925
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/586/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-04 21:41] cmsbuild commented on #13925
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc530/588

[2016-04-04 22:46] cmsbuild commented on #13925
The was an error for slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_aarch64_gcc530/585

[2016-04-04 23:56] davidlange6 commented on #13925
@smuzaffar @davidlt

ideas? (did root put a /bin/perl in some bug fix?)

RpmInstallFailed: Failed to install package root. Reason:
error: Failed dependencies:
	/bin/perl is needed by lcg+root+6.06.00-giojec2-1-1.x86_64

[2016-04-05 00:53] cmsbuild commented on #13925
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc493/587
Some tests

[2016-04-05 01:20] cmsbuild commented on #13925
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc493/587

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-05 05:01] cmsbuild commented on #13925
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_amd64_gcc530/586
Some tests

[2016-04-05 05:36] cmsbuild commented on #13925
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_amd64_gcc530/586

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-05 05:42] smuzaffar commented on #13925
@davidlange6 , root added perl dependency but some of our build machines has lsf package install which adds /bin/perl (which we were not seeding in the bootstrap). I will remove this package then build should be fine

[2016-04-05 05:47] davidlt commented on #13925
That's correct, I already had cleaned two machines, but apparently we have more machine with LSF-GLIBC-2.3 package installed.

@smuzaffar `L1Trigger/CSCTrackFinder` putting in externals also broke AArch64 and PPC64LE, because `-msse3` was used without conditions (it only works on x86_64). Could you fix this also and restart `CMSSW_8_1_0_pre2`?

[2016-04-05 05:51] davidlt commented on #13925
[code]

[2016-04-05 05:59] cmsbuild commented on #13925
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/589/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 06:25] VinInn commented on #13924
which GCC are we talking about?
This is a major regression. GCC would never do such a thing. I am sure there is a way to tel gcc to accept hex floats.

[2016-04-05 06:28] davidlt commented on #13924
GCC 6. IIUC documentation it's not a regression it was never supposed to work. Jakub replied with the same answer, either wait for C++17 or use GNU mode (`-std=gnu++14`).

The problem is that `0x123p+2` or `0x123p-2` are 3 separate preprocessing tokens and only C++17 defines it as a single token.

[2016-04-05 06:32] VinInn commented on #13924
I propose to move to -std=gnu++14 or to plain C11. There is plenty of math code around with hex float.
(or -std=c++1z)

[2016-04-05 06:39] davidlt commented on #13924
What do you mean plain C11, i.e. C++11? It doesn't work in C++11 either. It looks like only several packages are affected by this in simulation and reconstruction. These headers for now do not seem to be widely used.

I am not against going for c++1z for GCC 6.0.0. I will rebuild CMSSW with GCC 6 ant c++1z to see if it creates extra problems or hits compiler bugs first.

[2016-04-05 06:41] VinInn commented on #13924
with C11 I ment old good C (w/o ++) : joking  (well given recent issues with C++ non present in C maybe not so joking)

[2016-04-05 06:49] davidlt commented on #13924
I recall reading this BZ item, but haven't been following it.

I will try to put GCC 6.0.0 IBs this week, and bump GCC every ~week until GCC 6.1.0 is released.

[2016-04-05 06:57] cmsbuild commented on #13925
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/590/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 06:59] cmsbuild commented on #13925
The was an error for fc22_ppc64le_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-fc22_ppc64le_gcc530/590

[2016-04-05 07:00] cmsbuild commented on #13925
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/591/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 07:00] cmsbuild commented on #13925
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/592/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 07:53] cmsbuild commented on #13925
The was an error for fc22_ppc64le_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-fc22_ppc64le_gcc530/592

[2016-04-05 11:09] cmsbuild commented on #13925
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/593/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 11:21] cmsbuild commented on #13925
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc530/589
Some tests

[2016-04-05 11:45] cmsbuild commented on #13925
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc530/589

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-05 14:13] Dr15Jones opened #13936 "Properly handle tests in CommonTool/Utils"
The unit test testCommonToolsUtil is actually disabled for standard testing. We need to understand why this was done and find a solution to run the tests that can be run and remove those that can't.

[2016-04-05 14:13] cmsbuild commented on #13936
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-05 14:14] Dr15Jones commented on #13936
@smuzaffar You were the one who disabled the test but the git comment doesn't say way.

[2016-04-05 14:14] Dr15Jones commented on #13936
assign core

[2016-04-05 14:14] cmsbuild commented on #13936
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-04-05 15:51] davidlange6 commented on #13925
abort

[2016-04-05 15:54] cmsbuild commented on #13925
Deleting CMSSW_8_1_0_pre2:

  -Release successfully deleted

  -cmssw tag CMSSW_8_1_0_pre2 successfully deleted.

  -Aborting Jenkins build for fc22_ppc64le_gcc530

  -Aborting Jenkins build for slc7_aarch64_gcc530

  -cmsdist tag REL/CMSSW_8_1_0_pre2/slc6_amd64_gcc530 successfully deleted.

  -I was not able to delete the cmsdist tag REL/CMSSW_8_1_0_pre2/slc7_aarch64_gcc530. Probably it had not b

[2016-04-05 15:57] #13925 closed

[2016-04-05 15:57] davidlange6 opened #13938 "Build CMSSW_8_1_0_pre2"

[2016-04-05 15:58] cmsbuild commented on #13938
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-04-05 15:58] davidlange6 commented on #13938
build cmssw-tool-conf

[2016-04-05 15:58] cmsbuild commented on #13938
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc530, slc7_aarch64_gcc530, fc22_ppc64le_gcc530, slc7_amd64_gcc530, slc6_amd64_gcc493
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes buildin

[2016-04-05 15:59] cmsbuild commented on #13938
The cmssw-tool-conf build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/594/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 16:00] cmsbuild commented on #13938
The cmssw-tool-conf build has started for slc7_amd64_gcc530 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/597/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 16:00] cmsbuild commented on #13938
The cmssw-tool-conf build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/596/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 16:00] cmsbuild commented on #13938
The cmssw-tool-conf build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/595/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 16:13] cmsbuild commented on #13925
The build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-fc22_ppc64le_gcc530/593
Some t

[2016-04-05 16:13] cmsbuild commented on #13938
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc530 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_aarch64_gcc530/594

[2016-04-05 16:37] cmsbuild commented on #13925
The tests have finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-fc22_ppc64le_gcc530/593

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-05 16:39] cmsbuild commented on #13938
The cmssw-tool-conf build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/598/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 16:48] cmsbuild commented on #13938
The cmssw-tool-conf build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-fc22_ppc64le_gcc530/598

[2016-04-05 17:12] cmsbuild commented on #13938
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc493 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc493/595

[2016-04-05 17:45] cmsbuild commented on #13925
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_aarch64_gcc530/591
Some t

[2016-04-05 17:49] cmsbuild commented on #13938
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc530 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc530/596

[2016-04-05 18:15] cmsbuild commented on #13938
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc530 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_amd64_gcc530/597

[2016-04-05 18:26] cmsbuild commented on #13925
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_aarch64_gcc530/591

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-05 18:51] davidlange6 commented on #13938
+1

[2016-04-05 18:51] cmsbuild commented on #13938
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-04-05 18:51] cmsbuild commented on #13938
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc493, fc22_ppc64le_gcc530, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2016-04-05 18:53] cmsbuild commented on #13938
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/599/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 18:53] cmsbuild commented on #13938
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/600/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 18:53] cmsbuild commented on #13938
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/601/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 18:53] cmsbuild commented on #13938
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/602/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 19:04] cmsbuild commented on #13938
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/603/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-04-05 21:06] cmsbuild commented on #13938
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc493/600
Some tests

[2016-04-05 21:32] cmsbuild commented on #13938
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc493/600

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-05 22:28] cmsbuild commented on #13938
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc530/601
Some tests

[2016-04-05 22:29] cmsbuild commented on #13938
The was an error for fc22_ppc64le_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-fc22_ppc64le_gcc530/599

[2016-04-05 22:50] cmsbuild commented on #13938
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc6_amd64_gcc530/601

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-06 01:53] cmsbuild commented on #13938
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_amd64_gcc530/602
Some tests

[2016-04-06 02:50] cmsbuild commented on #13938
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_amd64_gcc530/602

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-04-06 03:35] cmsbuild commented on #13938
The was an error for slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre2-slc7_aarch64_gcc530/603

[2016-04-06 06:43] davidlt commented on #13938
My guess is that POWER8 and ARMv8 failed because previously build was aborted while still in-bound (i.e. building) thus "abort" does not have a proper affect while release is building. Again this is just assumption.

[code]

I manually replaced the tags and pushed. Hopefully upload will work.

[2016-04-06 09:49] davidlange6 commented on #13938
upload all

[2016-04-06 09:50] cmsbuild commented on #13938
Queing Jenkins upload for fc22_ppc64le_gcc530

[2016-04-06 09:50] cmsbuild commented on #13938
Queing Jenkins upload for slc6_amd64_gcc493

[2016-04-06 09:50] cmsbuild commented on #13938
Queing Jenkins upload for slc6_amd64_gcc530

[2016-04-06 09:50] cmsbuild commented on #13938
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-04-06 09:50] cmsbuild commented on #13938
Queing Jenkins upload for slc7_amd64_gcc530