[2021-08-25 14:51] tvami commented on #35014
assign alca

[2021-08-25 14:51] cmsbuild commented on #35014
New categories assigned: alca

@francescobrivio,@tvami,@malbouis,@pohsun,@tlampen,@yuanchao you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 14:51] cmsbuild commented on #35014
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-25 14:51] mrodozov commented on #35012
@slava77

this is the log for 136.752 step3:

`./136.752_RunMuonEG2016D+RunMuonEG2016D+HLTDR2_2016+RECODR2_2016reHLT_skimMuonEG_HIPM+HARVESTDR2/step3.log:/data/cmsbld/jenkins/workspace/build-any-ib/w/tmp/BUILDROOT/d928cb233d05eb84875960b7c12732ed/opt/cmssw/slc7_amd64_gcc10/cms/cmssw/CMSSW_12_1_UBSAN_X_2021-08-13-2300/src/EventFilter/EcalRawToDigi/src/DCCEESRPBlock.cc:19:3: runtime error: pointer i

[2021-08-25 14:52] tvami commented on #35014
ECAL experts  (@cms-sw/ecal-dpg-l2 ) already working on this, but I wanted it to be more visible when speaking about it at different coordination meetings.

[2021-08-25 14:53] slava77 commented on #35012
is the line number pointing to the whole loop or really to the specific line where the problem occurred?
[code]
I doubt that `n` would overflow.
I guess `pSCDetId_` could, but luckily here it seems like a dead variable which can be just removed.

@ferriff (the original submitted of this code) please check/confirm
@thomreis

[2021-08-25 14:55] slava77 commented on #35012
assign reconstruction

[2021-08-25 14:56] cmsbuild commented on #35012
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-25 14:58] thomreis commented on #35014
Who exactly is working on this?

[2021-08-25 15:03] mrodozov commented on #35011
https://github.com/cms-sw/cms-bot/blob/master/categories_map.py#L1000

not for this one, it says L1.

[2021-08-25 15:04] tvami commented on #35014
Hi @thomreis , I'm in contact with Marco Cipriani. But I added you to the Mattermost channel where we chatted about this so far.

[2021-08-25 16:06] thomreis commented on #35012
I do not find the runtime error in any of the logs. Where is it? How can I reproduce this issue?

The `pSCDetId_` pointer seems to be unused indeed. Inspired by this, I had a look in some other files and found that also `pTTDetId_` in `EventFilter/EcalRawToDigi/interface/DCCEBSRPBlock.h` and `EventFilter/EcalRawToDigi/interface/DCCTCCBlock.h` seem to be unused.

[2021-08-26 00:36] qliphy opened #35022 "Build CMSSW_12_1_0_pre2"

[2021-08-26 23:28] mrodozov opened #35033 "[UBSAN] Undefined behavior in DataFormats/* reco packages"
The UBSAN IB reports undefined behavior in 5 files, with example relval and step they appear in:

[code]

check the relval logs in here for the examples:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/ubsan_logs/relvals/

[2021-08-26 23:34] mrodozov opened #35034 "[UBSAN] Undefined behavior in DataFormats/* simulation packages"
The UBSAN IB reports undefined behavior in 5 files, with example relval and step they appear in:

[code]

check the relval logs in here for the examples:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/ubsan_logs/relvals/

[2021-08-26 23:38] mrodozov opened #35035 "[UBSAN] Undefined behavior in DataFormats/FEDRawData"
The UBSAN IB reports undefined behavior in 1 file, with example relval and step they appear in:

11603.0 step2
DataFormats/FEDRawData/src/FEDHeader.cc:37:24: runtime error: left shift of 65535 by 20 places cannot be represented in type 'int'

check the relval logs in here for the examples:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/ubsan_logs/relvals/11603.0_SingleElectr

[2021-08-27 00:14] mrodozov opened #35037 "[UBSAN] Undefined behavior in Validation/*"
The UBSAN IB reports undefined behavior in dqm Validation/* with example relval and step they appear in:

[code]

check the relval logs in here for the examples:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/ubsan_logs/relvals/

[2021-08-27 00:18] mrodozov opened #35038 "[UBSAN] Undefined behavior in SimG4Core"
The UBSAN IB reports undefined behavior in SimG4Core with example relval and step:

[code]

check the relval logs in here for the examples:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/ubsan_logs/relvals/

[2021-08-28 04:42] abdoulline commented on #35033
@mseidel42
I don't immediately see a reason of the issue, which might have been present there since > 10 years.
 It requires some investigation (via calotowermaker), which is beyond of what I can do _at the moment_ from vacation.
 Hopefully I'll have a possibility to do it some time next week, still being on vacation.

[2021-08-28 10:28] mrodozov commented on #35033
yes this issues were existing for long time that's why cleaning them out will narrow consequent bugs that pop up for no obvious reasons. although for all bugs we know we have some idea non of which is related to this reports (afaik)

[2021-08-28 12:07] perrotta commented on #33989
@cms-sw/db-l2 was there any progress in the identification of the reason for this issue?
Apparenty it shows up in 10_6, 11_1 and 11_2, but not in more recent releases

[2021-08-28 21:19] #35035 closed

[2021-08-29 10:08] cmsbuild commented on #35022
The cleanup has started for cc8_aarch64_gcc9

[2021-08-29 10:08] cmsbuild commented on #35022
The cleanup has started for slc7_aarch64_gcc9

[2021-08-29 10:08] cmsbuild commented on #35022
The cleanup has started for slc7_amd64_gcc900

[2021-08-29 10:08] cmsbuild commented on #35022
The cleanup has started for cc8_ppc64le_gcc9

[2021-08-29 10:08] cmsbuild commented on #35022
The cleanup has started for slc7_ppc64le_gcc9

[2021-08-29 10:08] cmsbuild commented on #35022
The cleanup has started for cc8_amd64_gcc9

[2021-08-29 10:08] cmsbuild commented on #35022
The cleanup has started for slc7_amd64_gcc10

[2021-08-29 10:08] #35022 closed

[2021-08-29 10:09] cmsbuild commented on #35022
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre2-cc8_aarch64_gcc9/1751

[2021-08-29 10:09] cmsbuild commented on #35022
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre2-cc8_ppc64le_gcc9/1753

[2021-08-29 10:09] cmsbuild commented on #35022
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre2-slc7_aarch64_gcc9/1754

[2021-08-29 10:09] cmsbuild commented on #35022
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre2-cc8_amd64_gcc9/1752

[2021-08-29 10:09] cmsbuild commented on #35022
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre2-slc7_ppc64le_gcc9/1757

[2021-08-29 10:09] cmsbuild commented on #35022
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre2-slc7_amd64_gcc10/1755

[2021-08-29 10:09] cmsbuild commented on #35022
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre2-slc7_amd64_gcc900/1756

[2021-08-30 08:50] mariadalfonso commented on #32347
For the record the trick of setting the following is still needed otherwise the MC matching is called also in the data sequence
       process.patJetsPuppi.addGenPartonMatch = cms.bool(False)
       process.patJetsPuppi.addGenJetMatch = cms.bool(False)

[2021-08-30 10:29] kirschen commented on #32347
@michaelwassmer @dvannerom @mcremone @alkaloge @alefisico @camclean @laurenhay @nurfikri89 @abenecke @lathomas
FYI

[2021-08-30 10:33] smuzaffar opened #35069 "Build CMSSW_12_1_0_pre2_ROOT624"
CMSSW_COMMIT:CMSSW_12_1_0_pre2
CMSDIST_COMMIT:b08c810676b36034329d233dd6279679ad732e4b
ARCHITECTURE:slc7_amd64_gcc900

[2021-08-30 10:33] cmsbuild commented on #35069
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-08-30 10:35] smuzaffar commented on #35069
@makortel , I opened this issue so that we can build this ROOT624 release for validation. If no objections then @qliphy , @perrotta can you please sign this to start the build?

[2021-08-30 10:39] smuzaffar commented on #11754
closing it in favour of #35003

[2021-08-30 10:39] #11754 closed

[2021-08-30 10:39] cmsbuild commented on #11754
A new Issue was created by  @davidlt David Abdurachmanov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-30 10:39] smuzaffar commented on #11755
closing it in favor of #35003

[2021-08-30 10:39] #11755 closed

[2021-08-30 10:39] cmsbuild commented on #11755
A new Issue was created by  @davidlt David Abdurachmanov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-30 10:45] perrotta commented on #35069
+1
(no objections)

[2021-08-30 10:45] cmsbuild commented on #35069
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre2_ROOT624. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-08-30 10:45] cmsbuild commented on #35069
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-08-30 10:47] cmsbuild commented on #35069
The build has started for slc7_amd64_gcc900 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3152/console
CMSDIST Branch: [b08c810676b36034329d233dd6279679ad732e4b](https://github.com/cms-sw/cmsdist/commits/b08c810676b36034329d233dd6279679ad732e4b), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-08-30 13:31] ggovi commented on #33989
The issue is well identified.  In 11_3  we have been switching to a new boost version. The corresponding payloads are no longer readable by the earlier releases like the ones listed. These tests, designed to validate the production workflow, are executed on a local test tag created copying the second-last iov from production tag. In this way, we simulate the ability to execute the last required up

[2021-08-30 13:34] davidlange6 commented on #33989
Could tests instead be run with a stable GT?

[2021-08-30 15:01] cmsbuild commented on #35069
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre2_ROOT624-slc7_amd64_gcc900/3152

[2021-08-30 15:02] makortel commented on #25090
https://github.com/cms-sw/cmssw/pull/35073 should set the number of concurrent lumis to 1 for the relevant AlCa sequences for both cmsDriver and T0.

[2021-08-30 15:25] tvami commented on #34309
Hi @eyigitba I think here is an example for the SiStrips where they are doing something similar that you need, i.e. collect the warning and have a summary in the end:
https://github.com/cms-sw/cmssw/blob/master/EventFilter/SiStripRawToDigi/plugins/WarningSummary.cc

If you could implement something similar by next Monday, then that would still fit into the deadline.

[2021-08-30 15:26] tvami commented on #25090
Thanks @makortel !

[2021-08-30 15:46] cmsbuild commented on #35069
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre2_ROOT624-slc7_amd64_gcc900/3152

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-08-30 16:55] makortel commented on #34873
@nsmith- The reporting of close closures in `EmbeddedRootSource` is now implemented in #35074. Is it sufficient to add this feature in 12_1_X, or would you need it in some earlier release cycles as well?

[2021-08-30 18:37] kpedro88 commented on #29833
Wherever it's discussed, the ECAL and HCAL DPGs should be informed in advance so that their software experts can provide feedback (since they're the primary users of these classes).

[2021-08-30 18:49] tvami commented on #29833
@cms-sw/hcal-dpg-l2 @cms-sw/ecal-dpg-l2 what's your preference?

[2021-08-30 19:56] ggovi commented on #33989
@davidlange6 are you referring to the snapshot mechanism, to ensure to always have a frozen input? Maybe we could, but
a) not sure if stable GTs (=with a specified snapshot ) exist including these tags b). we need to re-write the tests.

[2021-08-30 21:02] abhih1 commented on #35004
Hello, regarding the error from `Validation/EcalDigis/plugins/EcalSelectiveReadoutValidation.cc` I tried the suggestions by @makortel, i.e changing the order of the struct member `simHit` after `eta` and also commented out the occurrences of the `bool[]` arrays to see if the error went away, but the error still remains on testing with the workflow `11603.0`. Any more suggestions on fixing this wou

[2021-08-30 22:27] mrodozov commented on #35004
well I have one suggestion and it is to narrow the size artificially using the order of magnitudes from 360 to 36 and 170 to 17 although this wont be correct from precision perspective it will drop the size of that objects 100 times by my calculations.
If the problem is still there with object size just 0.4 the mb it's probably not the size, which we can think of how to drop further to be extra su

[2021-08-31 00:25] #34775 closed

[2021-08-31 01:51] makortel opened #35082 "LHAPDF::_getQ2CachesMap() is not thread safe"
https://github.com/cms-sw/cmssw/pull/35073#issuecomment-908647991 experienced a rare crash
[code]

that points to a race condition in LHAPDF that is discussed in https://gitlab.com/hepcedar/lhapdf/-/issues/2.

[2021-08-31 01:51] makortel commented on #35082
assign core, generators

[2021-08-31 01:51] cmsbuild commented on #35082
New categories assigned: core,generators

@Dr15Jones,@smuzaffar,@Saptaparna,@mkirsano,@SiewYan,@alberto-sanchez,@makortel,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-31 01:51] cmsbuild commented on #35082
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-31 02:02] makortel commented on #35082
Do we want to try patch https://gitlab.com/hepcedar/lhapdf/-/merge_requests/3 ? I'm not really sure how we could test it conclusively, given that it took ~1.5 months to hit to the issue after the update to LHAPDF 6.3.0.

[2021-08-31 06:52] davidlange6 commented on #33989
For example, yes - CI systems work best if they are reproducible and don't randomly break...

[2021-08-31 08:00] ggovi commented on #33989
An other proposal is offered by: https://github.com/cms-sw/cmssw/pull/35084
It looks it works for 11_2, if we are happy we extend it to the other branches where we have failures.

[2021-08-31 08:06] ggovi commented on #34378
+1

[2021-08-31 08:06] cmsbuild commented on #34378
This issue is fully signed and ready to be closed.

[2021-08-31 08:23] mmusich commented on #35037
@mrodozov @jfernan2
please have a look to https://github.com/cms-sw/cmssw/pull/35086 for what concerns the `MultiTrackValidator` code.

[2021-08-31 08:44] thomreis commented on #29833
I do not really understand the argument about reducing the interdependencies. Now theses classes are located in SimCalorimetry and the other packages depend on that package. Afterwards they would be in another package (CondFormats or CalibFormats) and also all the other packages, including SimCalorimetry, would depend on the new one. There seems to be no improvement here.

[2021-08-31 08:46] smuzaffar commented on #35069
upload all

[2021-08-31 08:47] cmsbuild commented on #35069
Queing Jenkins upload for slc7_amd64_gcc900

[2021-08-31 08:48] thomreis commented on #29833
I might add that at the moment PRs are open to migrate some derived classes to esConsumes (e.g. https://github.com/cms-sw/cmssw/pull/34902) so whatever is decided should maybe wait until the migration has finished.

[2021-08-31 08:49] cmsbuild commented on #35069
The upload has started for slc7_amd64_gcc900 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2039/console

[2021-08-31 08:50] cmsbuild commented on #35069
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre2_ROOT624-slc7_amd64_gcc900/2039

[2021-08-31 10:31] ferencek commented on #35034
@mrodozov what are the exact steps to reproduce the issues. Just to run specified workflows inside an UBSAN IB? Here I am primarily interested in the issue with PixelDigi.h

[2021-08-31 12:21] abdoulline commented on #29833
(not saying for HCAL DPG, just 2 my cents)
I guess if somebody could move CaloVshape to a "neutral-ground" package (to avoide dependence of Reco and other aforementioned by Slava packages on SimCalorimetry) and would update all the relevant header links accordingly
https://cmssdt.cern.ch/lxr/search?_filestring=&_string=CaloVShape
then HCAL DPG shouldn't have objections about it.

[2021-08-31 12:34] smuzaffar commented on #35069
@qliphy , @perrotta this release is now installed, can you please ask for its validation.

[2021-08-31 12:49] mrodozov commented on #34975
Dears,

I requested an account here:
https://phab.hepforge.org/
to contact the devs of ThePEG and/or herwig7 but while waiting for that I want to ask if you know:

1. ThePEG is compiled with -g flag and that's why we see the failing line to be 115
`#0  0x00007fffbc54d305 in ThePEG::CFileLineReader::operator>> (this=0x7fffb79b5de0, d=<error reading variable>) at CFileLineReader.cc:115`
- is there a

[2021-08-31 12:49] qliphy commented on #35069
@smuzaffar   Surely we will.

[2021-08-31 13:09] mrodozov commented on #35034
yes, just run the 11603.0 step 2 with the UBSAN IB, set SCRAM_ARCH=slc7_amd64_gcc10 , we use gcc10 for UBSAN
setup the UBSAN IB, you may checkout DataFormats/SiPixelDigi if you want and then run the
runTheMatrix -i all -l 11603.0 --ibeos -t4

[2021-08-31 13:45] tvami commented on #34718
+alca

* AlCa part was done in
https://github.com/cms-sw/cmssw/pull/34761
https://github.com/cms-sw/cmssw/pull/34762

[2021-08-31 13:47] tvami commented on #20173
Hi @hatakeyamak have you had the chance to look into this?

[2021-08-31 13:54] Dominic-Stafford commented on #34975
Hi @mrodozov.

I'm not sure off the top of my head why thePEG is compiled with -g in CMSSW (it's not by default if one installs standalone Herwig). However since Herwig/thePEG problems are not uncommon, I think it would be good if we left the -g flag on to help debugging these, provided the cost of doing so isn't too high.

In terms of this issue, I emailed the Herwig authors, and one of them repl

[2021-08-31 14:21] Dr15Jones commented on #34975
Maybe it would be useful to run the job using `valgrind`?

[2021-08-31 14:30] tvami commented on #27393
Hi All, just FYI we will be discussing this at the meeting https://indico.cern.ch/event/1069945/#11-removal-of-unused-tau-tags

[2021-08-31 14:52] mrodozov commented on #34975
the valgrind report before it crash:

[code]

[2021-08-31 15:07] Dr15Jones commented on #34975
So the line looks like

https://github.com/hep-mirrors/herwig/blob/024ec3121cbf42deec7a662ddcd73d4c6c4d527b/MatrixElement/FxFx/FxFxFileReader.cc#L686-L693

specifically
[code]
as a guess, maybe `hepup.NUP` is greater than the size of `hep.PUP` container?

[2021-08-31 15:16] Dr15Jones commented on #34975
So hepup is defined here
https://github.com/hep-mirrors/herwig/blob/fca0efc66543e1ae38c82d349a1b6d03797a1839/MatrixElement/FxFx/FxFxReader.h#L636

with the class

https://github.com/hep-mirrors/herwig/blob/fca0efc66543e1ae38c82d349a1b6d03797a1839/MatrixElement/FxFx/FxFx.h#L128

My supposition sees unlikely as things get resized
https://github.com/hep-mirrors/herwig/blob/fca0efc66543e1ae38c82d349a1

[2021-08-31 15:24] Dominic-Stafford commented on #34975
OK, from what you're saying I think the problem is that the segfault is occurring once it reads past the end of the lhe file, right? This previously just raised an error (which we logged and ignored), but it seems to be now producing the segfault. I didn't get the herwig author to test this as I told him to only check the first 7 events, but I suspect this is why he wasn't able to reproduce the se

[2021-08-31 15:28] Dr15Jones commented on #34975
I don't know if it is passed the end or not. I'm just pointing out where valgrind says the line is and what data structures are involved.

[2021-08-31 15:35] mrodozov opened #35090 "Workflow 573.0 failing in all IBs"
Dear all,
the workflow 573.0 is failing since august 19:
https://tinyurl.com/fxyhke7
and it's consistent as it seems. The stacktrace which is available from the logs

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-08-29-2300/pyRelValMatrixLogs/run/573.0_sherpa_ttbar_2j_MENLOPS_13TeV_MASTER_ExtGen+sherpa_ttbar_2j_MENLOPS_13TeV_MASTER_ExtGen+HARVESTGEN/step1_sherpa_

[2021-08-31 15:35] cmsbuild commented on #35090
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-31 15:38] qliphy commented on #35090
assign generators

should be fixed by https://github.com/cms-sw/cmssw/pull/35072

[2021-08-31 15:39] cmsbuild commented on #35090
New categories assigned: generators

@Saptaparna,@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-31 15:44] #34378 closed

[2021-08-31 16:08] mrodozov commented on #35090
ok lets see tonight IB and I'll close it after that

[2021-08-31 17:10] civanch opened #35094 "RPDetDigitizer of PPS requires correct use of EventSetup"
During migration to the new schema of access to EventSetup  it was found that RPDetDigitizer needs update (see there more details at #34989).

[2021-08-31 17:10] civanch commented on #35094
assign simulation core

[2021-08-31 17:10] cmsbuild commented on #35094
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-31 17:12] civanch commented on #35094
assign core

[2021-08-31 17:12] cmsbuild commented on #35094
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-31 17:12] civanch commented on #35094
assign simulation

[2021-08-31 17:13] cmsbuild commented on #35094
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-08-31 17:38] #35006 closed

[2021-08-31 18:26] smuzaffar commented on #34975
I added few print statements and
- At line https://github.com/hep-mirrors/herwig/blob/fca0efc66543e1ae38c82d349a1b6d03797a1839/MatrixElement/FxFx/FxFxFileReader.cc#L681 the `cfile` produced `7,1,-26537.4,17.0482,0.00754677,0.150761` i.e hepeup.NUP was set to `7`
- https://github.com/hep-mirrors/herwig/blob/fca0efc66543e1ae38c82d349a1b6d03797a1839/MatrixElement/FxFx/FxFxFileReader.cc#L684 should se

[2021-08-31 19:11] makortel commented on #30266
I think that would be mainly for later, when we know better what exactly needs to be done. I _believe_ my proposals below should not make batching implementation more difficult than it would be today.

@fwyzard @felicepantaleo Below is some thoughtwork on the API that I'd appreciate your feedback.

1. In order to support EDModules that decide at their construction time (e.g. from configuration) wh

[2021-08-31 20:31] smuzaffar commented on #34975
looks like the https://github.com/hep-mirrors/herwig/blob/fca0efc66543e1ae38c82d349a1b6d03797a1839/MatrixElement/FxFx/FxFx.h is copy of  https://github.com/hep-mirrors/thepeg/blob/master/LesHouches/LesHouches.h excpet that `HEPEUP.PUP` is `vector< vector<double> > PUP;` as compare to `vector< array<double,5> > PUP;` in `LesHouches.h` . If I get  `LesHouches.h` in to herwig with following patch the

[2021-08-31 20:46] Dr15Jones commented on #34975
Looks like it was a 'one definition rule' violation.

[2021-09-01 01:48] qliphy opened #35099 "Build CMSSW_10_6_28"

[2021-09-01 01:49] cmsbuild commented on #35099
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-09-01 01:49] qliphy commented on #35099
+1

[2021-09-01 01:49] cmsbuild commented on #35099
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_28. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-09-01 01:49] cmsbuild commented on #35099
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-09-01 01:53] cmsbuild commented on #35099
The build has started for slc7_amd64_gcc700 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3153/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-01 02:08] cmsbuild commented on #35099
The build has started for slc7_amd64_gcc820 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3154/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-01 07:04] cmsbuild commented on #35099
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_28-slc7_amd64_gcc820/3154
Some tests (

[2021-09-01 07:28] cmsbuild commented on #35099
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_28-slc7_amd64_gcc700/3153
Some tests (

[2021-09-01 07:46] cmsbuild commented on #35099
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_28-slc7_amd64_gcc820/3154

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-01 08:10] cmsbuild commented on #35099
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_28-slc7_amd64_gcc700/3153

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-01 08:17] qliphy commented on #35099
upload all

[2021-09-01 08:18] cmsbuild commented on #35099
Queing Jenkins upload for slc7_amd64_gcc700

[2021-09-01 08:18] cmsbuild commented on #35099
Queing Jenkins upload for slc7_amd64_gcc820

[2021-09-01 08:18] cmsbuild commented on #35099
The upload has started for slc7_amd64_gcc700 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2040/console

[2021-09-01 08:18] cmsbuild commented on #35099
The upload has started for slc7_amd64_gcc820 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2041/console

[2021-09-01 08:19] cmsbuild commented on #35099
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_28-slc7_amd64_gcc820/2041

[2021-09-01 08:20] cmsbuild commented on #35099
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_28-slc7_amd64_gcc700/2040

[2021-09-01 08:25] qliphy commented on #35099
release-notes

[2021-09-01 08:25] cmsbuild commented on #35099
Generating release notes since CMSSW_10_6_27.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-09-01 08:25] cmsbuild commented on #35099
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_28 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_27 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_28

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2021-09-01 08:26] bainbrid commented on #34774
Hi all, @slava77 @jordan-martins,

@jordan-martins a quick (but perhaps important) question. I see your test uses CMSSW_10_6_25 for v2. Can I ask why CMSSW_10_6_26 is not used? Which release is being used for the v2 production in general?

And then a quick update ...

- The solution for master (12_1_X) is trivial and I will provide this shortly.
- I agree the solution provided above does not work

[2021-09-01 08:26] bainbrid commented on #34774
Hi all, @slava77 @jordan-martins,

And then a quick update ...

- The solution for master (12_1_X) is trivial and I will provide this shortly.
- I agree the solution provided above does not work *for 10_6_X* as it modifies the RECO chain.
- I cannot simply reschedule the `lowPtGsfElectronCores` and `lowPtGsfElectrons` modules with an updated configuration (i.e. embed a track from `generalTracks` r

[2021-09-01 08:31] cmsbuild commented on #35099
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_28

[2021-09-01 09:19] jordan-martins commented on #34774
Hi @bainbrid, we currently use 10_6_25 for 20UL 16/16APV and 10_6_20 for 18 and 17.

I assume that we would need perhaps a technical validation to this (?). Or isn't it necessary?

Thanks a lot,
Jordan

[2021-09-01 09:19] mrodozov commented on #35090
this is not failing now, closing

[2021-09-01 09:19] #35090 closed

[2021-09-01 11:11] hatakeyamak commented on #20173
Yes, and have some idea what we may want to do, but need more time for making a concrete proposal/suggestion.

[2021-09-01 12:27] smorovic commented on #21141
+1
this was addressed from daq side
(signing off to remove "daq-pending" tag)

[2021-09-01 13:06] Dominic-Stafford commented on #34975
Thank you all for looking into this- the FxFx merging was formerly a separate package which got merged into Herwig a little while ago, but the authors still need to tidy it up, which is why there's a lot of code duplication with the LHE reading code in thePEG. @smuzaffar are you able to make a PR to apply this patch, please? I can also check with the authors that this wouldn't break anything (thou

[2021-09-01 13:16] mrodozov commented on #34975
If I got it right that LesHouches.h substitutes FxFx.h resulting in diff types in it + the patch from above the whole thing is this:

[code]

and I'm running to see if it works

[2021-09-01 13:20] mrodozov commented on #34975
the test went fine, both worked (37 and 38)

[2021-09-01 13:33] smuzaffar commented on #34975
I am testing this here https://github.com/cms-sw/cmsdist/pull/7261

[2021-09-01 14:07] Dominic-Stafford commented on #34975
The Herwig author I spoke to says this difference wasn't deliberate, just because thePEG code got updated, but nobody remembered to update the duplicated code FxFx code, so this patch shouldn't cause any problems, and they'll include it in a future release

[2021-09-01 15:13] hatakeyamak commented on #20173
@slava77 @spandeyehep @seemasharmafnal all
Obviously this is a very old thread, but finally I looked through it and thought through it. My conclusion is that the code is fine as it is and the changes discussed above due to calibration update is fine.

I would consider that what was happening with v6 is a little more undesired and the behavior is better with v7. In the case of v6, the calibration j

[2021-09-01 15:48] silviodonato commented on #32219
I remember about this issue. Thank you Matti and Jakob for raising this up. I will keep this in mind that this need to be solved much before the data taking.
cc @acostad

[2021-09-01 15:50] mandrenguyen commented on #29639
Sorry about that Kenichi.
I will see if I can dig up the corresponding AOD file and provide you with run/lumi/event.

[2021-09-01 15:52] hatakeyamak commented on #29639
Well, it's me who should say sorry. will stay tuned.

[2021-09-01 16:00] makortel opened #35109 "Instabilities in 11634.911 (DD4Hep) workflow comparisons"
We've observed differences in the DD4Hep workflow 11634.911 comparisons in tests of a few PRs that should not affect results of the DD4Hep workflow. This issue is to collect pointers to those comparisons.

[2021-09-01 16:01] cmsbuild commented on #35109
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-01 16:01] makortel commented on #35109
assign geometry

[2021-09-01 16:01] cmsbuild commented on #35109
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-01 16:01] makortel commented on #35109
Observed in https://github.com/cms-sw/cmssw/pull/35068#issuecomment-908500868 and https://github.com/cms-sw/cmssw/pull/34995#issuecomment-904980210

[2021-09-01 17:33] tvami commented on #28699
+alca

[2021-09-01 17:34] tvami commented on #28699
Since https://github.com/cms-sw/cmssw/pull/35048 is merged, this issue can be closed

[2021-09-01 17:34] tvami commented on #28699
close https://github.com/cms-sw/cmssw/issues/28699

[2021-09-01 17:36] tvami commented on #28699
I don't have the power to close this. @Dr15Jones @qliphy @perrotta

[2021-09-01 17:41] tvami commented on #29833
@civanch if everybody agrees, would you please schedule a discussion about this at the next simulation meeting?

[2021-09-01 19:07] ggovi commented on #28699
+1

[2021-09-01 19:18] #28699 closed

[2021-09-01 19:38] gkrintir commented on #23661
Issue closed since the code was successfully tested during Run 2 w/o a significant impact

[2021-09-01 19:38] #23661 closed

[2021-09-01 20:15] #34975 closed

[2021-09-01 20:16] mandrenguyen commented on #29639
I believe the event is this one:
run=326815
event=400471491
lumi=1008
/store/hidata/HIRun2018A/HIHardProbesLower/AOD/04Apr2019-v1/270000/A07138F7-1DC4-664E-8D83-2D5A35CEBF69.root

[2021-09-01 20:49] bainbrid commented on #34774
Ok, a possible solution:

For master (12_1_X), I will simply revert part of [this](https://github.com/cms-sw/cmssw/commit/1b3dd5721b7f74ea4b162b37a04a5ecc5ad68c00#diff-ee53734cba9db732577d612624ee1f80981d2fdcd3a4d64880103f6a8636ebc9) commit, as follows:
https://github.com/cms-sw/cmssw/compare/master...bainbrid:LowPtElectrons_FastSimFix

For 10_6_X and the UL mini v2 FastSim campaign, I propose the

[2021-09-01 21:28] makortel opened #35116 "Failure in 136.72413"
Workflow 136.72413 step 2 fails in CMSSW_12_1_X_2021-09-01-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-09-01-1100/pyRelValMatrixLogs/run/136.72413_RunJetHT2016B_reminiaodUL+RunJetHT2016B_reminiaodUL+REMININANO_data2016UL_HIPM_met+HARVESTDR2_REMININANO_data2016UL_HIPM_met/step2_RunJetHT2016B_reminiaodUL+RunJetHT2016B_reminiaodUL+REMININANO_data2016UL

[2021-09-01 21:29] makortel commented on #35116
Ah, realized now from the description of https://github.com/cms-sw/cmssw/pull/34714 that this workflow is supposed to fail for now. Probably we don't need an issue for that.

[2021-09-01 21:29] #35116 closed

[2021-09-02 02:34] qliphy opened #35118 "Unit failure in Geometry/TrackerGeometryBuilder"
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-09-01-1100/unitTestLogs/Geometry/TrackerGeometryBuilder#/61-61

===== Test "cmsRun /build/cmsbld/jenkins/workspace/ib-run-qa/CMSSW_12_1_X_2021-09-01-1100/src/Geometry/TrackerGeometryBuilder/test/python/testTrackerHierarchy_cfg.py " ====
Begin processing the 1st record. Run 1, Event 1, LumiSection 1 on stream 0 at 01-S

[2021-09-02 02:34] cmsbuild commented on #35118
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-02 02:34] qliphy commented on #35118
This seems to be due to https://github.com/cms-sw/cmssw/pull/35092

CMSSW_12_1_X_2021-08-31-2300 is fine.
CMSSW_12_1_X_2021-08-31-2300 + #35092 gives the error.

[2021-09-02 02:35] qliphy commented on #35118
assign @cms-sw/geometry-l2

@srimanob

[2021-09-02 02:37] cmsbuild commented on #35118
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-02 02:55] srimanob commented on #35118
Adding fake alignment will make things work.

[code]

Here is the PR https://github.com/cms-sw/cmssw/pull/35119

[2021-09-02 08:57] qliphy opened #35123 "Build CMSSW_12_0_0"

[2021-09-02 08:57] cmsbuild commented on #35123
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-09-02 08:57] qliphy commented on #35123
+1

[2021-09-02 08:58] cmsbuild commented on #35123
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_0_X

[2021-09-02 08:58] cmsbuild commented on #35123
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-09-02 08:59] cmsbuild commented on #35123
The build has started for cc8_amd64_gcc9 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3155/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-02 08:59] cmsbuild commented on #35123
The build has started for slc7_amd64_gcc900 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3157/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-02 09:00] cmsbuild commented on #35123
The build has started for slc7_amd64_gcc10 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3156/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-02 09:01] cmsbuild commented on #35123
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3159/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-02 09:14] cmsbuild commented on #35123
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3160/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-02 09:54] cmsbuild commented on #35123
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3161/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-02 11:54] cmsbuild commented on #35123
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-slc7_ppc64le_gcc9/3159
Some tests (

[2021-09-02 12:05] cmsbuild commented on #35123
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-cc8_ppc64le_gcc9/3158
Some tests ( ru

[2021-09-02 12:19] tvami commented on #20173
+alca
* Based on the previous comment, there are no changes foreseen by the PF experts and the issue can be closed

[2021-09-02 12:27] cmsbuild commented on #35123
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-slc7_amd64_gcc10/3156
Some tests ( ru

[2021-09-02 12:29] slava77 commented on #20173
+reconstruction

[2021-09-02 12:29] cmsbuild commented on #20173
This issue is fully signed and ready to be closed.

[2021-09-02 12:29] #20173 closed

[2021-09-02 12:32] cmsbuild commented on #35123
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-slc7_aarch64_gcc9/3161
Some tests (

[2021-09-02 12:34] cmsbuild commented on #35123
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-cc8_amd64_gcc9/3155
Some tests ( runThe

[2021-09-02 12:51] cmsbuild commented on #35123
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-slc7_ppc64le_gcc9/3159

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-02 13:14] cmsbuild commented on #35123
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-slc7_amd64_gcc10/3156

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-02 13:18] cmsbuild commented on #35123
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-cc8_amd64_gcc9/3155

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-02 13:32] cmsbuild commented on #35123
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-slc7_aarch64_gcc9/3161

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-02 13:34] cmsbuild commented on #35123
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-slc7_amd64_gcc900/3157
Some tests (

[2021-09-02 14:19] cmsbuild commented on #35123
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-slc7_amd64_gcc900/3157

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-02 16:24] abhih1 commented on #35004
It indeed looks like a memory issue. Changing the large arrays to vectors seems to make the error go away, by allocating memory on the heap as @makortel suggested. I have made a PR for this: https://github.com/cms-sw/cmssw/pull/35130

[2021-09-02 16:27] abhih1 commented on #35037
Please have a look at https://github.com/cms-sw/cmssw/pull/35130 related to the Ecal Validation codes.

[2021-09-02 17:06] cmsbuild commented on #35123
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-cc8_aarch64_gcc9/3160
Some tests ( ru

[2021-09-02 17:53] mrodozov commented on #35037
@mmusich there is another one now there, on a different line:
/data/cmsbld/jenkins/workspace/ib-run-pr-tests/CMSSW_12_1_UBSAN_X_2021-08-27-2300/src/Validation/RecoTrack/plugins/MultiTrackValidator.cc:486:27: runtime error: variable length array bound evaluates to non-positive value 0
see

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-d54118/18157/runTheMatrix-results/116

[2021-09-02 19:33] cmsbuild commented on #35123
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0-cc8_aarch64_gcc9/3160

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-09-02 22:28] mrodozov opened #35138 "[UBSAN] Undefined behavior in FWCore"
The the latest UBSAN IB reports undefined behavior in FWCore with example relval and step:

[code]

[2021-09-02 22:28] cmsbuild commented on #35138
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-02 22:28] mrodozov commented on #35138
assign core
this is the last category

[2021-09-02 22:28] cmsbuild commented on #35138
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-03 00:47] qliphy commented on #35123
upload all

[2021-09-03 00:47] cmsbuild commented on #35123
Queing Jenkins upload for slc7_amd64_gcc900

[2021-09-03 00:47] cmsbuild commented on #35123
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-09-03 00:47] cmsbuild commented on #35123
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-09-03 00:47] cmsbuild commented on #35123
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-09-03 00:47] cmsbuild commented on #35123
Queing Jenkins upload for cc8_amd64_gcc9

[2021-09-03 00:47] cmsbuild commented on #35123
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-09-03 00:47] cmsbuild commented on #35123
Queing Jenkins upload for slc7_amd64_gcc10

[2021-09-03 00:48] cmsbuild commented on #35123
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2042/console

[2021-09-03 00:49] cmsbuild commented on #35123
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2045/console

[2021-09-03 00:49] cmsbuild commented on #35123
The upload has started for cc8_amd64_gcc9 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2043/console

[2021-09-03 00:50] cmsbuild commented on #35123
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2044/console

[2021-09-03 00:50] cmsbuild commented on #35123
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0-cc8_aarch64_gcc9/2042

[2021-09-03 00:50] cmsbuild commented on #35123
The upload has started for slc7_amd64_gcc10 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2046/console

[2021-09-03 00:50] cmsbuild commented on #35123
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0-slc7_aarch64_gcc9/2045

[2021-09-03 00:50] cmsbuild commented on #35123
The upload has started for slc7_amd64_gcc900 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2047/console

[2021-09-03 00:51] cmsbuild commented on #35123
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0-cc8_ppc64le_gcc9/2044

[2021-09-03 00:52] cmsbuild commented on #35123
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0-slc7_amd64_gcc10/2046

[2021-09-03 00:52] cmsbuild commented on #35123
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2048/console

[2021-09-03 00:52] cmsbuild commented on #35123
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0-slc7_amd64_gcc900/2047

[2021-09-03 00:53] cmsbuild commented on #35123
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0-slc7_ppc64le_gcc9/2048

[2021-09-03 01:00] cmsbuild commented on #35123
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0-cc8_amd64_gcc9/2043

[2021-09-03 01:15] qliphy commented on #35123
release-notes

[2021-09-03 01:15] cmsbuild commented on #35123
Generating release notes since CMSSW_12_0_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-09-03 01:15] cmsbuild commented on #35123
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_0_0 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_0_pre6 can be found at:

https://github.com/cms-sw/cms

[2021-09-03 01:20] cmsbuild commented on #35123
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0

[2021-09-03 02:06] hatakeyamak commented on #29639
ok. thank you. trying to take a look..

[2021-09-03 06:38] cmsbuild commented on #35099
The cleanup has started for slc7_amd64_gcc700

[2021-09-03 06:38] cmsbuild commented on #35099
The cleanup has started for slc7_amd64_gcc820

[2021-09-03 06:38] #35099 closed

[2021-09-03 06:38] cmsbuild commented on #35099
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_28-slc7_amd64_gcc700/1758

[2021-09-03 06:38] cmsbuild commented on #35099
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_28-slc7_amd64_gcc820/1759

[2021-09-03 10:35] agrohsje opened #35141 "memory consumption when running external processes"
This issue is to follow-up on the problem, that @colizz pointed out in his validation talk on p16 :
https://indico.cern.ch/event/1058787/contributions/4449901/attachments/2283917/3881832/21.07.19_GEN_Update%20on%20multi-threading%20validation.pdf :
PeakValueRss may not see RAM occupation from external instances launched by ExternalGeneratorFilter.
As we start running more in external processes @ma

[2021-09-03 10:36] cmsbuild commented on #35141
A new Issue was created by  @agrohsje .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-03 10:36] agrohsje commented on #35141
assign generators
assign core

[2021-09-03 10:36] cmsbuild commented on #35141
New categories assigned: generators

@mkirsano,@SiewYan,@alberto-sanchez,@Saptaparna,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-03 10:42] mmusich commented on #35037
I know, unfortunately I won't be able to fix that one before next week.

[2021-09-03 11:33] bainbrid commented on #34774
ok, after studies, the suggestion [above](https://github.com/cms-sw/cmssw/issues/34774#issuecomment-910735783) does not work, which leaves me only with the following option:

It's not as ugly as I thought and a compare for the proposed implementation can be found here:
https://github.com/cms-sw/cmssw/compare/CMSSW_10_6_X...bainbrid:LowPtElectrons_ULFastSimFix_106X

More details in today's RECO/AT

[2021-09-03 11:47] cmsbuild commented on #35141
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-03 13:10] vkuznet opened #35142 "Invalid JSON records generated by CMSSW"
Hi,
CMSSW releases generate invalid CMSSW popularity JSON records which we send to our UDP popularity service which by itself send them over to CMS popularity in CERN MONIT infrastructure.

Finally, I got time to debug our UDP proxy server used by many CMS GRID jobs who send to it its popularity info (via JSON). Here is a problematic JSON:

[code]
To make your life easier to spot the problem, the

[2021-09-03 13:11] cmsbuild commented on #35142
A new Issue was created by  @vkuznet Valentin Kuznetsov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-03 13:16] vkuznet commented on #35142
I also suggest to inspect the entire codebase to verify that what is written to `os` stream is valid numerical or string values. I propose to add proper JSON validation to the code.

[2021-09-03 13:35] makortel commented on #35142
This is a duplicate of https://github.com/cms-sw/cmssw/issues/29412, I suggest we move the discussion into the earlier issue.

[2021-09-03 13:56] makortel commented on #29412
https://github.com/cms-sw/cmssw/issues/35142 (and https://hypernews.cern.ch/HyperNews/CMS/get/swDevelopment/3593.html) reports a similar issue with `read_single_sigma`. In the following I'll focus on the math of that
https://github.com/cms-sw/cmssw/blob/27edb9715d56ba082887f018281980d48c030ee2/Utilities/StorageFactory/src/StatisticsSenderService.cc#L76-L86

Since the entry is there, and `single_av

[2021-09-03 14:34] makortel commented on #35138
(and for `ProductRegistryHelper`)  seem to be related to `EcalSelectiveReadoutValidation` that is a topic in https://github.com/cms-sw/cmssw/issues/35037 and https://github.com/cms-sw/cmssw/issues/35004). These should be addressed in https://github.com/cms-sw/cmssw/pull/35130. (although maybe we could think of patching UBSAN to use larger limit)

[2021-09-03 14:35] makortel commented on #35138
FWCore/Framework/interface/one/EDFilterBase.h:101:25: runtime error: member call on address 0x2ba93491ef88 which does not point to an object of type 'ProducerBase'

appears to be from
[code]
that in this job is [`ExternalGeneratorFilter`](https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/Core/plugins/ExternalGeneratorFilter.cc). In contrast to `EcalSelectiveReadoutValidation` the size

[2021-09-03 14:58] makortel commented on #35138
FWCore/ParameterSet/src/types.cc:147:13: runtime error: signed integer overflow: 2001599834 * 10 cannot be represented in type 'int'

is in
https://github.com/cms-sw/cmssw/blob/27edb9715d56ba082887f018281980d48c030ee2/FWCore/ParameterSet/src/types.cc#L134-L152
looks like a legitimate warning.

In the (edmConfigDumped) configuration of 8.2 step3 I see value of `2001599834` being part of (only)
http

[2021-09-03 14:59] makortel commented on #35138
This would really need information who is calling it. The `edm::Span` just blindly uses the iterators (or pointers) that are given to it.

[2021-09-03 15:08] makortel commented on #35138
Well, the only user of `edm::Span` appears to be in
https://github.com/cms-sw/cmssw/blob/27edb9715d56ba082887f018281980d48c030ee2/DataFormats/NanoAOD/interface/FlatTable.h#L70-L82
so this belongs really for @cms-sw/xpog-l2 .

[2021-09-03 15:13] vkuznet commented on #29412
@makortel , I did not inspect all errors (as I reported today there are roughly 7000 of invalid JSON failures reported yesterday). How many do have those per day I don't know, but I would assume this rate. So, the code should check that **all** math operations are valid and produce valid numerical values. I don't see why you can't just check that you pass positive value to sqrt, and you should not

[2021-09-03 18:49] makortel commented on #35141
@Dr15Jones Could you take a look of this?

[2021-09-03 19:19] slava77 commented on #34831
the case with `Assertion `circle_results.qCharge * circle_results.par(1) <= 0' failed.` is apparently "fixed" (the assert is removed) in #35128.

Will this need to be backported to 11_3_X and 12_0_X, or is 12_0_X enough?

[2021-09-03 19:57] fwyzard commented on #34831
12_0_X is enough

[2021-09-03 20:12] Dr15Jones commented on #35141
I do not see anyway to compute this. When the external process hits 'peak' the 'main' process could be at any value (not its peak). When multiple externals are running their peaks are probably not going to be correlated. In fact, the total peak for the sum of all the processes may be when none of them are at their individual peak.

[2021-09-03 20:19] makortel commented on #35141
IIUC `SimpleMemoryCheck` inspects the RSS of the process at `postModuleEvent()` signal. Could we, in principle at least, inspect the RSS of the external processes at those times too? I would imagine that to correspond the behavior we do without any external process.

(a different question is then if that is feasible to do in practice)

[2021-09-03 21:47] tvami commented on #27393
Hi @rekovic @bundocka , could we maybe schedule a discussion about the L1T tags at the same day as the tau tags, Sept 13?

[2021-09-03 23:11] bundocka commented on #27393
Hi, @rekovic please can you follow up on this.

[2021-09-04 08:33] mariadalfonso commented on #35138
@guitargeek you introduced this in july21 https://github.com/cms-sw/cmssw/commit/43dc9e44446fa1704e5a9ee2bb8c9c007c64a5c4#diff-2f0968d25de6c5ae9b088c3a56a87bf5ce050614af7ce8448761ab96725d6170

can you have a look ?

[2021-09-04 10:56] guitargeek commented on #35138
I just renamed `edm::Range` to `edm::Span`, so I think I have nothing to do with this undefined behavior. Does this cause problems in production?

[2021-09-04 23:23] cmsbuild commented on #35123
The cleanup has started for cc8_aarch64_gcc9

[2021-09-04 23:23] cmsbuild commented on #35123
The cleanup has started for slc7_aarch64_gcc9

[2021-09-04 23:23] cmsbuild commented on #35123
The cleanup has started for slc7_amd64_gcc900

[2021-09-04 23:23] cmsbuild commented on #35123
The cleanup has started for cc8_ppc64le_gcc9

[2021-09-04 23:23] cmsbuild commented on #35123
The cleanup has started for slc7_ppc64le_gcc9

[2021-09-04 23:23] cmsbuild commented on #35123
The cleanup has started for cc8_amd64_gcc9

[2021-09-04 23:23] cmsbuild commented on #35123
The cleanup has started for slc7_amd64_gcc10

[2021-09-04 23:23] #35123 closed

[2021-09-04 23:23] cmsbuild commented on #35123
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0-cc8_aarch64_gcc9/1760

[2021-09-04 23:23] cmsbuild commented on #35123
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0-cc8_amd64_gcc9/1761

[2021-09-04 23:23] cmsbuild commented on #35123
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0-cc8_ppc64le_gcc9/1762

[2021-09-04 23:23] cmsbuild commented on #35123
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0-slc7_amd64_gcc10/1764

[2021-09-04 23:23] cmsbuild commented on #35123
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0-slc7_aarch64_gcc9/1763

[2021-09-04 23:23] cmsbuild commented on #35123
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0-slc7_amd64_gcc900/1765

[2021-09-04 23:23] cmsbuild commented on #35123
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0-slc7_ppc64le_gcc9/1766

[2021-09-05 16:14] dan131riley commented on #35141
In principle, on Linux you can walk /proc for all the process's children and get the RSS (or maybe PSS) for each.  Doing this in `postModuleEvent()` is likely to be biased when you have all the cmsRun threads waiting on subprocesses.  Better would be to sample during the `waidpid()` and then register the max in `postModuleEvent()`.

[2021-09-06 00:56] makortel commented on #35138
I suspect this UBSAN report has nothing to do with `edm::Span` per se, but that the pointers(?) passed to it (in the lines I quoted in https://github.com/cms-sw/cmssw/issues/35138#issuecomment-912609126) would be `nullptr`.

[2021-09-06 10:32] bainbrid commented on #34774
Hi all, @slava77 @jordan-martins, I'd like to test my dev for master, using a recent IB for 12_1_X. Can anyone point me to scripts (as found here https://github.com/cms-sw/cmssw/issues/34774#issue-960576497) or runTheMatrix workflows that achieve the same steps for testing: i.e. GEN->AOD and then mini v2? Thanks!

[2021-09-06 12:53] slava77 commented on #34774
I'd expect that in 12_X the test would use the AOD made in 10_6_X and run a regular re-miniAOD workflow, which would be the regular miniAOD config amended with `--procModifiers run2_miniAOD_UL`

[2021-09-06 13:00] slava77 commented on #34774
for 2018, the matrix wf 1325.518 can be a reference; this needs to be spliced with the fastsim for the case at hand here.

[2021-09-06 13:14] fcouderc commented on #35014
Hi @tvami

I investigate a bit more this issue. Rather than the corrections which look ok, this seems to be due to the timestamp of the event. It may be only a problem in the Ecal DQM in fact, does the error show up in the standard reco?

For instance here is just an extended dump of the error message
%MSG-e EcalLaserDbService:  EcalDQMonitorTask:ecalMonitorTask  06-Sep-2021 14:45:33 CEST Run: 338

[2021-09-06 13:29] tvami commented on #35014
I have run
[code]
and indeed I dont see the warning anymore

[2021-09-06 13:29] tvami commented on #35014
assign dqm

[2021-09-06 13:29] cmsbuild commented on #35014
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-06 13:40] abhih1 commented on #35014
Ecal DQM is taking a look at this.

-Abhirami

[2021-09-06 13:54] dan131riley opened #35162 "Likely memory corruption in recent IBs"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_ppc64le_gcc9/CMSSW_12_1_X_2021-09-03-2300/pyRelValMatrixLogs/run/250399.17_FS_PREMIXUP17_PU50+FS_PREMIXUP17_PU50/step1_FS_PREMIXUP17_PU50+FS_PREMIXUP17_PU50.log

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_aarch64_gcc9/CMSSW_12_1_X_2021-09-05-2300/pyRelValMatrixLogs/run/23461.97_PREMIXUP26D49_PU25+2026D49PU_PMXS1+PREMIX_PremixHLBeamSp

[2021-09-06 13:54] cmsbuild commented on #35162
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-06 13:58] makortel commented on #35162
assign core

[2021-09-06 13:58] cmsbuild commented on #35162
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-06 13:59] dan131riley commented on #35162
I'm going to stick this here as possibly related, a weird crash in `edm::ELextendedID::operator<()`:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_12_1_ROOT624_X_2021-09-03-2300/pyRelValMatrixLogs/run/23434.99_TTbar_14TeV+2026D49PU_PMXS1S2+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+PREMIX_PremixHLBeamSpot14PU+DigiTriggerPU+RecoGlobalPU+HARVESTGlobalPU/step2_TTbar_14TeV

[2021-09-06 14:18] abhih1 commented on #35014
Hi @tvami It was indeed an error with DQM. I have created a PR to the master https://github.com/cms-sw/cmssw/pull/35163 to rectify this. Would you like to have a backport PR to CMSSW_11_3_X as well?

[2021-09-06 14:30] tvami commented on #35014
Yes please do the backport to 11_3_X, thanks!

[2021-09-06 14:42] abhih1 commented on #35014
The backport is done here: https://github.com/cms-sw/cmssw/pull/35164.

[2021-09-06 14:50] tvami commented on #35014
Thanks a lot for the quick response @abhih1 !

[2021-09-06 15:44] tvami commented on #35014
Oh @abhih1 since `12_0_X` will be used for CRAFT and test beams, would you please submit a backport there as well? Thanks again! (this is less urgent btw, the `CMSSW_11_3_X `was the urgent one)

[2021-09-06 16:10] abhih1 commented on #35014
Sure! Here is the backport to `12_0_X` https://github.com/cms-sw/cmssw/pull/35171

[2021-09-07 07:27] iarspider commented on #34850
kindly ping @civanch @mdhildreth

[2021-09-07 07:29] smuzaffar commented on #34850
@iarspider , this has been fixed https://github.com/cms-sw/cmssw/pull/35148

[2021-09-07 07:31] iarspider commented on #34850
Ah. Sorry!

[2021-09-07 07:31] #34850 closed

[2021-09-07 12:03] mariadalfonso commented on #33002
I checked the situation at the 12_0_pre5 (this release contains already the roll back to the HB specifications).
I usued the workflows 11634.521 and 11634.522 (here runned the step3 with the same step2 digi to avoid the PU mixing randomness).
<img width="710" alt="Run3_MC_CPUGPU" src="https://user-images.githubusercontent.com/5656714/132340635-3dca2a6c-f81a-4a6f-8f64-3b2fa39959e5.png">

I think th

[2021-09-07 13:02] #19513 closed

[2021-09-07 13:12] smuzaffar commented on #27082
looks likle this is still not fixed for llvm 12.0.1. clang-tidy from llvm 12.0.01 still generated invalid code
[code]
[code]

[2021-09-07 14:49] agrohsje commented on #34975
+generators

[2021-09-07 14:49] cmsbuild commented on #34975
This issue is fully signed and ready to be closed.

[2021-09-07 14:50] nsmith- commented on #34873
I would appreciate if we can backport this to some of the production releases, e.g. 10.6.

[2021-09-07 15:12] agrohsje commented on #35082
Hi @mkirsano : I would agree with @makortel and apply the proposed patch.

[2021-09-07 15:14] slava77 commented on #35033
@jshlee
please check the code implementation in DataFormats/TrackReco/src/HitPattern.cc so that `station -1` is not used in this case.

[2021-09-07 15:20] makortel commented on #34873
@nsmith- I just made a backport to 10_6_X in https://github.com/cms-sw/cmssw/pull/35180. If any other release cycle is needed, please ask.

[2021-09-07 15:26] slava77 commented on #35033
@emilbols
@vmariani @mmusich

this is a kind ping on the pending issues as detailed in https://github.com/cms-sw/cmssw/issues/35033#issuecomment-906831823

[2021-09-07 15:33] jshlee commented on #35033
hi @slava77, where is the code implemented?

[2021-09-07 15:44] jordan-martins commented on #25090
Hi @makortel, I think from our McM tool this would be straightforward. Do I understand correctly that this is to somehow entangle the non-concurrent to the lumis?
Thanks, Jordan

[2021-09-07 17:11] slava77 commented on #35033
https://github.com/cms-sw/cmssw/blob/CMSSW_12_1_0_pre2/DataFormats/TrackReco/src/HitPattern.cc#L100-L104

[2021-09-07 18:34] makortel commented on #25090
Thanks @jordan-martins. Right, this parameter tells explicitly the framework to process one lumi at a time. Essentially every GEN step using a generator that does not support concurrent lumis (I hope in RelVals and production their number would be small) would need one. Everything else either supports concurrent lumis, is explicitly single-threaded (HARVESTING), or handles the special cases automa

[2021-09-07 18:50] abdoulline commented on #33002
@mariadalfonso  thanks for confirmation about MC "unpack-ability"!

[2021-09-07 20:16] makortel commented on #25090
That turned out to be straightforward, see https://github.com/cms-sw/cmssw/pull/35182. If we go with that, no action on McM will be needed.

[2021-09-07 20:47] tvami commented on #35014
Hi @smuzaffar I'm wondering why this issue is not auto-closed, I did this
https://github.com/cms-sw/cmssw/pull/35164#issuecomment-913704020
I thought when I do the `resolves xxxxx` it would close automatically.
(of course in this very specific case, I opened the issue, so I can very easily close it too, but I want to understand why the bot didnt do it)
Thanks!

[2021-09-07 20:49] tvami commented on #35014
+alca
 * master PR: https://github.com/cms-sw/cmssw/pull/35163
 * backport PR to 11_3_X: https://github.com/cms-sw/cmssw/pull/35164
 * backport PR to 12_0_X: https://github.com/cms-sw/cmssw/pull/35171

[2021-09-07 20:50] makortel commented on #35014
The "resolves xxxxx" needs to be in the PR description.

[2021-09-07 20:53] tvami commented on #35014
Ahh I see, thanks for the info! Maybe it would be beneficial if it could be done in the comments as well? Similarly like how it is done for the `backport of ...` command (that works from the comments as well)?

[2021-09-07 20:53] #35014 closed

[2021-09-07 20:58] makortel commented on #35014
The "resolves xxxxx" is a feature of GitHub, see https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

The `backport`, on the other hand, is a feature of cms-bot. I leave it to @smuzaffar to comment how feasible extending cms-bot into that direction would be.

[2021-09-07 21:43] nsmith- commented on #34873
10_6_X covers the digi step for UL so that should be OK for now

[2021-09-08 00:35] qliphy opened #35188 "Build CMSSW_11_3_4_patch1"

[2021-09-08 00:36] cmsbuild commented on #35188
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-09-08 00:36] qliphy commented on #35188
+1

[2021-09-08 00:36] cmsbuild commented on #35188
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_4_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-09-08 00:36] cmsbuild commented on #35188
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-09-08 00:37] cmsbuild commented on #35188
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3162/console
CMSDIST Branch: [REL/CMSSW_11_3_4/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_4/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-08 00:37] cmsbuild commented on #35188
The build has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3163/console
CMSDIST Branch: [REL/CMSSW_11_3_4/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_4/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-08 00:45] cmsbuild commented on #35188
The build has started for slc7_amd64_gcc900 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3164/console
CMSDIST Branch: [REL/CMSSW_11_3_4/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_4/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-08 01:44] cmsbuild commented on #35188
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3165/console
CMSDIST Branch: [REL/CMSSW_11_3_4/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_4/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-08 01:45] cmsbuild commented on #35188
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4_patch1-slc7_amd64_gcc900/3164
Some t

[2021-09-08 01:48] cmsbuild commented on #35188
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4_patch1-cc8_amd64_gcc9/3163
Some tests (

[2021-09-08 02:28] cmsbuild commented on #35188
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4_patch1-slc7_amd64_gcc900/3164

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-08 02:46] cmsbuild commented on #35188
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4_patch1-slc7_aarch64_gcc9/3165
Some t

[2021-09-08 03:00] cmsbuild commented on #35188
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4_patch1-slc7_ppc64le_gcc9/3162

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-09-08 03:40] cmsbuild commented on #35188
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_4_patch1-slc7_aarch64_gcc9/3165

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-08 05:25] smuzaffar commented on #35014
@tvami , as @makortel mentioned , `resolves ...` is github feature and I would not like to change its behavior  with cms-bot

[2021-09-08 08:26] bainbrid commented on #34707
@slava77 please can we close this issue? (no urgency, I'm just checking through issues/PRs related to low pT ele.)

[2021-09-08 08:29] perrotta commented on #35188
upload all

[2021-09-08 08:29] cmsbuild commented on #35188
Queing Jenkins upload for slc7_amd64_gcc900

[2021-09-08 08:29] cmsbuild commented on #35188
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-09-08 08:29] cmsbuild commented on #35188
Queing Jenkins upload for cc8_amd64_gcc9

[2021-09-08 08:29] cmsbuild commented on #35188
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-09-08 08:32] cmsbuild commented on #35188
The upload has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2049/console

[2021-09-08 08:32] cmsbuild commented on #35188
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2050/console

[2021-09-08 08:33] cmsbuild commented on #35188
The upload has started for slc7_amd64_gcc900 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2051/console

[2021-09-08 08:33] cmsbuild commented on #35188
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_4_patch1-cc8_amd64_gcc9/2049

[2021-09-08 08:33] cmsbuild commented on #35188
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2052/console

[2021-09-08 08:33] cmsbuild commented on #35188
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_4_patch1-slc7_aarch64_gcc9/2050

[2021-09-08 08:34] cmsbuild commented on #35188
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_4_patch1-slc7_amd64_gcc900/2051

[2021-09-08 08:34] cmsbuild commented on #35188
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_4_patch1-slc7_ppc64le_gcc9/2052

[2021-09-08 08:35] perrotta commented on #35188
release-notes

[2021-09-08 08:36] cmsbuild commented on #35188
Generating release notes since CMSSW_11_3_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-09-08 08:36] cmsbuild commented on #35188
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_3_4_patch1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9

The release notes of what changed with respect to CMSSW_11_3_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_4_patch1

Cheers,
cm

[2021-09-08 08:52] cmsbuild commented on #35188
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_4_patch1

[2021-09-08 11:46] emilbols commented on #35033
@slava77 @mrodozov So if i understand correctly the error in 1302.17 appears because svStatus is set to a value beyond the enumeration range? Obviously this code was written a long time ago, but as far as i can see, this is the intended behavior. An svStatus=2 indicates a match to the vertex with index 0, svStatus=3 is a match with vertex with index 1, etc. . If we dont want to use enum objects li

[2021-09-08 12:16] slava77 commented on #34707
+reconstruction

[2021-09-08 12:17] #34707 closed

[2021-09-08 12:17] cmsbuild commented on #34707
This issue is fully signed and ready to be closed.

[2021-09-08 13:08] slava77 commented on #35033
@emilbols
thank you for checking the code and clarifying its intents in using the variable. I think that the design span of values should match the type. So, if a change to an int is needed, let's update it. It was not obvious to me in this case, but perhaps this case also implies that a new variable is needed instead instead of an "easy" overload of what was originally designed to be an enum.

As

[2021-09-08 13:57] jordan-martins commented on #25090
Thank @makortel ! Please, let us know which solution you will take and if we need something from the McM side we can have it!

[2021-09-08 15:34] mkirsano commented on #35082
 Hello, does it mean to put lhapdf code to our repo?

  If it is needed for CMS and it will work, why not.

  Then probably we have to write to authors about it.

On 9/7/21 5:12 PM, agrohsje wrote:

[2021-09-08 16:43] scarletnorberg commented on #34061
This is for production because of the way campaigns are setup we have to blacklist certain sites one is CERN and it causes issues because the pLHE can only run at CERN. This seems to be going up and causing a lot of manual operation so if we could fix it sooner we would be appreciate it.

The reason CERN is blacklisted is because the pileup is not hosted at CERN and the HLT resources need the pile

[2021-09-09 09:05] bainbrid commented on #33665
hi @slava77 @chayanit

For my understanding:

1) [Here](https://github.com/cms-sw/cmssw/issues/33665#issuecomment-852394219) you mention 136.898 (data) and 1304.181 (MC). So you plan to duplicate and modify these workflows to handle UL AOD? They both currently run RECO and PAT, the former in the same step, the latter in separate steps, and both use the `bParking` era.

2) Then [here](https://githu

[2021-09-09 11:21] mrodozov opened #35206 "HeterogeneousCore/SonicTriton unit test failing for PPC IBs"
The test TestHeterogeneousCoreSonicTritonProducerGPU
is failing for PPC.
From inside the job script it doesn't look like it's only for x86 archs:
https://github.com/cms-sw/cmssw/blob/master/HeterogeneousCore/SonicTriton/test/unittest.sh
The test also runs for aarch64:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc9/CMSSW_12_1_X_2021-09-06-2300/unitTestLogs/HeterogeneousCore/SonicTri

[2021-09-09 11:21] mrodozov commented on #35206
assign heterogeneous
@kpedro88

[2021-09-09 11:21] cmsbuild commented on #35206
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-09 11:21] cmsbuild commented on #35206
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-09 12:20] slava77 commented on #33665
@bainbrid
Thank you for checking on the status; this somehow slipped out of my attention in August.

The plan originally was to use 1. in 10_6_X to make AOD files representing UL reco files and then 2. to define PAT-only re-miniAOD workflows.

By now, I think that we may have centrally produced datasets and 1. becomes just a DAS query.
Do you have a good reference/pointer to use for data and MC fr

[2021-09-09 12:43] bainbrid commented on #33665
Apologies, I'm not quite sure what you mean here by "good reference/pointer". Do you mean: can I point you to an existing data and MC UL BParking sample processed in 10_6_X?

[2021-09-09 12:46] slava77 commented on #33665
On 9/9/21 5:43 AM, bainbrid wrote:

yes.

[2021-09-09 13:48] herndon opened #35212 "crab in cmssw 12_0_0 or any 12 series release"
Dear CMSSW developers,

 I am having an issue with crab in 12_0_0 and/or pre releases for the 12 series.   When setup a 12 series release, call cmsenv in the release and I try to run crab I get the following error.  The error occurs on our local system or more central systems like lxplus.

[herndon@lxplus753 src]$ crab
Traceback (most recent call last):
  File "/cvmfs/cms.cern.ch/share/cms/crab-pr

[2021-09-09 13:48] cmsbuild commented on #35212
A new Issue was created by  @herndon Matthew Herndon.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-09 13:53] davidlange6 commented on #35212
https://hypernews.cern.ch/HyperNews/CMS/get/cernCompAnnounce/1488.html

[2021-09-09 13:53] makortel commented on #35212
This is really for CRAB developers (@belforte), but have you checked https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/6144.html already?

[2021-09-09 13:56] herndon commented on #35212
Thanks for the quick response.  I'll try this out immediately.

[2021-09-09 13:58] belforte commented on #35212
as @davidlange6 pointed out `crab-dev` must be used for CMSSW_12
Yes @makortel we tested it on CMSSW_12

The reported error is because the default 'crab' command (alias for `crab-prod`) is using `python` i.e. `python2` and externals for it are gone in CMSSW_12_0_0. `crab-dev` will force usage of python3 (among other needed changes).

[2021-09-09 14:11] makortel commented on #34873
So it turns out (thanks @Dr15Jones) that https://github.com/cms-sw/cmssw/pull/35074 (and https://github.com/cms-sw/cmssw/pull/35180) are causing ASAN failure
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_1_ASAN_X_2021-09-08-2300/pyRelValMatrixLogs/run/250207.0_NuGun_UP15+NuGun_UP15INPUT+DIGIPRMXUP15_PU25+RECOPRMXUP15_PU25+HARVESTUP15_PU25/step2_NuGun_UP15+NuGun_UP15

[2021-09-09 14:15] kpedro88 commented on #35206
Here is the actual output of the failing test from `CMSSW_12_0_X_2021-09-07-2300` (without which it is of course impossible to debug any problem):
[code]

Note that the CPU test "succeeds":
[code]

As usual, without access to a machine where I can try to reproduce the error, there's little more I can offer.

[2021-09-09 14:22] nsmith- commented on #34873
Is this somehow not a concern for the existing PoolSource usage of StatisticsSenderService? I think even in this case we could have multiple files open thanks to secondary inputs?

[2021-09-09 17:20] makortel commented on #34873
All sources do their work serially. It seems to me that the secondary input file closings are not reported to the `StatisticsSenderService` given that the `preFileClose` signal is emitted here (via `FileCloseSentry`)
https://github.com/cms-sw/cmssw/blob/40d49e2537b51e42451082b51076f0b5a7f1634f/IOPool/Input/src/RootPrimaryFileSequence.cc#L117-L126
but not here
https://github.com/cms-sw/cmssw/blob/4

[2021-09-09 17:23] nsmith- commented on #34873
Ok, and I guess this brings up another feature request to have secondary input file close be reported as well to `StatisticsSenderService` :)

[2021-09-09 17:55] makortel commented on #34873
Here is another issue in addition to the server name. The size of the reported file is set here
https://github.com/cms-sw/cmssw/blob/40d49e2537b51e42451082b51076f0b5a7f1634f/Utilities/StorageFactory/src/StatisticsSenderService.cc#L172
(`m_size` is atomic) and that gets called in `TStorageFactoryFile::Initialize`
https://github.com/cms-sw/cmssw/blob/40d49e2537b51e42451082b51076f0b5a7f1634f/IOPool/T

[2021-09-09 17:56] makortel commented on #34873
@nsmith- Could you reopen the issue?

[2021-09-09 17:58] nsmith- commented on #34873
I don't seem to have permission to do so

[2021-09-09 17:59] makortel commented on #34873
Ok :( Maybe because it was closed because of the linked PR being merged. @smuzaffar Could you reopen this issue?

[2021-09-09 18:12] smuzaffar commented on #34873
reopened now

[2021-09-09 20:09] makortel commented on #19828
+core

because of

[2021-09-09 23:33] ChuyuanLiu opened #35225 "makeTrackValidationPlots.py crashes in CMSSW_12_1_0_pre2"
Hi,

I encountered a crash when running the command `makeTrackValidationPlots.py DQM_RelValTTbar_D76PU200_14TeV_12_0_0_pre6.root DQM_RelValTTbar_D76PU200_14TeV_12_1_0_pre2.root --ptcut --extended --html-sample TTbar_D76PU200_12_0_0_pre6_vs_12_1_0_pre2 --html-validation-name TTbar_D76PU200_12_0_0_pre6_vs_12_1_0_pre2
` in CMSSW_12_1_0_pre2, which works properly in CMSSW_12_0_0_pre6.

The complete lo

[2021-09-09 23:33] cmsbuild commented on #35225
A new Issue was created by  @ChuyuanLiu Chuyuan Liu.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-10 01:42] makortel commented on #35225
assign dqm

FYI @vmariani @mmusich @lecriste

[2021-09-10 01:43] cmsbuild commented on #35225
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-10 06:38] cmsbuild commented on #35188
The cleanup has started for slc7_aarch64_gcc9

[2021-09-10 06:38] cmsbuild commented on #35188
The cleanup has started for slc7_amd64_gcc900

[2021-09-10 06:38] cmsbuild commented on #35188
The cleanup has started for slc7_ppc64le_gcc9

[2021-09-10 06:38] cmsbuild commented on #35188
The cleanup has started for cc8_amd64_gcc9

[2021-09-10 06:38] #35188 closed

[2021-09-10 06:38] cmsbuild commented on #35188
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_4_patch1-cc8_amd64_gcc9/1767

[2021-09-10 06:38] cmsbuild commented on #35188
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_4_patch1-slc7_aarch64_gcc9/1768

[2021-09-10 06:38] cmsbuild commented on #35188
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_4_patch1-slc7_ppc64le_gcc9/1770

[2021-09-10 06:38] cmsbuild commented on #35188
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_4_patch1-slc7_amd64_gcc900/1769

[2021-09-10 13:03] slava77 commented on #34835
+reconstruction

- #34889 fixes the problem in 10_6_X
- #34888 fixes it in 12_0_X
- #34846 in master/12_1_X

[2021-09-10 13:03] cmsbuild commented on #34835
This issue is fully signed and ready to be closed.

[2021-09-10 13:24] tvami commented on #29833
@civanch @cms-sw/simulation-l2 @cms-sw/ecal-dpg-l2 @cms-sw/hcal-dpg-l2 @kpedro88
should this be discussed at
https://indico.cern.ch/event/1071938/
?

[2021-09-10 13:45] #34835 closed

[2021-09-10 14:24] makortel commented on #31061
Hi, any news about these?

[2021-09-10 14:49] qliphy opened #35227 "Build CMSSW_10_6_28_patch1"
Upon requests by PdmV and GEN who are planning to submit some tests to check the affect of recent PRs by Chris.

[2021-09-10 14:49] cmsbuild commented on #35227
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-09-10 14:49] qliphy commented on #35227
+1

[2021-09-10 14:50] cmsbuild commented on #35227
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_28_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-09-10 14:50] cmsbuild commented on #35227
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-09-10 14:52] cmsbuild commented on #35227
The build has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3167/console
CMSDIST Branch: [REL/CMSSW_10_6_28/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_28/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-10 15:29] cmsbuild commented on #35227
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_28_patch1-slc7_amd64_gcc700/3166
Some

[2021-09-10 15:30] cmsbuild commented on #35227
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_28_patch1-slc7_amd64_gcc820/3167
Some

[2021-09-10 16:10] cmsbuild commented on #35227
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_28_patch1-slc7_amd64_gcc820/3167

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-10 16:10] cmsbuild commented on #35227
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_28_patch1-slc7_amd64_gcc700/3166

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-10 16:18] lecriste commented on #35225
@ChuyuanLiu the error seems to come from a line (1283, in `_doPlotsForPlotter`) introduced by [my PR](https://github.com/cms-sw/cmssw/pull/34954) [*], although I do not understand it.
I tested the code with `makeHGCalValidationPlots.py` and the number of forked subprocesses was always O(10).
Yes, we may limit the number of subprocesses forked simultaneously. Any recommendation from the expert?

[*

[2021-09-10 17:18] makortel commented on #35082
Apparently the authors released a beta that eliminates the cache (I did not look into details), see https://gitlab.com/hepcedar/lhapdf/-/issues/2#note_674891431

[2021-09-11 00:33] qliphy commented on #35227
upload all

[2021-09-11 00:33] cmsbuild commented on #35227
Queing Jenkins upload for slc7_amd64_gcc700

[2021-09-11 00:34] cmsbuild commented on #35227
Queing Jenkins upload for slc7_amd64_gcc820

[2021-09-11 00:36] cmsbuild commented on #35227
The upload has started for slc7_amd64_gcc700 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2053/console

[2021-09-11 00:37] cmsbuild commented on #35227
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_28_patch1-slc7_amd64_gcc700/2053

[2021-09-11 00:37] cmsbuild commented on #35227
The upload has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2054/console

[2021-09-11 00:39] cmsbuild commented on #35227
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_28_patch1-slc7_amd64_gcc820/2054

[2021-09-11 00:48] qliphy commented on #35227
release-notes

[2021-09-11 00:49] cmsbuild commented on #35227
Generating release notes since CMSSW_10_6_28.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-09-11 00:49] cmsbuild commented on #35227
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_28_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_28 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_28_patch1

Upon requests by PdmV and GEN who are pl

[2021-09-11 00:53] cmsbuild commented on #35227
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_28_patch1

[2021-09-12 22:53] cmsbuild commented on #35227
The cleanup has started for slc7_amd64_gcc700

[2021-09-12 22:53] cmsbuild commented on #35227
The cleanup has started for slc7_amd64_gcc820

[2021-09-12 22:53] #35227 closed

[2021-09-12 22:53] cmsbuild commented on #35227
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_28_patch1-slc7_amd64_gcc700/1771

[2021-09-12 22:53] cmsbuild commented on #35227
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_28_patch1-slc7_amd64_gcc820/1772

[2021-09-13 08:37] perrotta opened #35243 "Complete migration of FastSim modules to esConsumes"
As pointed out in the thread discussion of #35056,  `FamosManager` is used only by `FamosProducer`, and `FamosProducer` is not being run in IBs (with `git grep` I see `FamosProducer` being used only in `FastSimulation/EventProducer/python/FamosSimHits_cff.py` that itself is not imported anywhere).

For that reason, these (and other) FastSim modules still need to be fully migrated to esConsumes.

@

[2021-09-13 08:37] perrotta commented on #35243
assign fastsimulation

[2021-09-13 08:38] cmsbuild commented on #35243
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-13 08:39] cmsbuild commented on #35243
New categories assigned: fastsim

@civanch,@sbein,@ssekmen,@mdhildreth,@lveldere you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-13 09:38] civanch commented on #35109
@cvuosalo , is the problem back or it is another one?

[2021-09-13 10:16] civanch commented on #35034
@ferencek , have you any idea what happens?

[2021-09-13 10:21] perrotta opened #35246 "Build CMSSW_12_0_1"
This is supposed to be the 12_0_X release to be actually used for first productions
Validation of HCal conditions is still ongoing, but this does not prevent start bilding the release now: a full validation of 12_0_1 is foreseen anyhow
Also not all PRs relevant for the DD4Hep migration have been backported yet: in any case, the complete migration is only planned for 12_1_X and will not be enabled

[2021-09-13 10:21] cmsbuild commented on #35246
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-09-13 10:22] perrotta commented on #35246
+1

[2021-09-13 10:22] cmsbuild commented on #35246
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_0_X

[2021-09-13 10:22] cmsbuild commented on #35246
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-09-13 10:23] cmsbuild commented on #35246
The build has started for cc8_amd64_gcc9 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3168/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-13 10:23] cmsbuild commented on #35246
The build has started for cc8_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3169/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-13 10:24] cmsbuild commented on #35246
The build has started for slc7_amd64_gcc10 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3171/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-13 10:25] cmsbuild commented on #35246
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3170/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-13 10:29] cmsbuild commented on #35246
The build has started for slc7_amd64_gcc900 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3172/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-13 10:30] haozturk opened #35247 "MismatchedInputFiles: Merge of Run or Lumi product failed for branch LHERunInfoProduct_source__LHEFile"
I see that some production workflows are failing w/ this error:
[code]

It seems that all unmerged files belong to the same output module - datatier pair, so it's not clear to me why these merge jobs fail.

I'll give details for one of the affected workflows:

1. Workflow: https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_HIN-HINPbPbAutumn18pLHE-00058
2. PSet.pfk file which c

[2021-09-13 10:30] cmsbuild commented on #35247
A new Issue was created by  @haozturk Hasan ztrk.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-13 10:46] civanch commented on #35118
Likely the issue fixed?

[2021-09-13 10:49] civanch commented on #35038
+1

[2021-09-13 10:49] cmsbuild commented on #35038
This issue is fully signed and ready to be closed.

[2021-09-13 10:53] jfernan2 commented on #33554
It looks like this issue is no present any longer since months

[2021-09-13 10:53] jfernan2 commented on #33554
+1

[2021-09-13 10:54] cmsbuild commented on #33554
This issue is fully signed and ready to be closed.

[2021-09-13 11:02] srimanob commented on #35118
Hi @civanch
Yes, the issue is solved.

[2021-09-13 11:25] cmsbuild commented on #35246
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3173/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-13 11:30] civanch commented on #32895
@rekovic, @jmduarte, @cecilecaillol, is this issue already fixed?

[2021-09-13 11:59] #35038 closed

[2021-09-13 12:00] #33554 closed

[2021-09-13 12:12] thomreis commented on #29833
That is fine for us (ECAL).

[2021-09-13 12:15] civanch commented on #35118
+1

[2021-09-13 12:15] cmsbuild commented on #35118
This issue is fully signed and ready to be closed.

[2021-09-13 12:17] #35118 closed

[2021-09-13 13:18] makortel commented on #35247
assign core

[2021-09-13 13:18] cmsbuild commented on #35247
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-13 13:20] cmsbuild commented on #35246
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-cc8_ppc64le_gcc9/3169
Some tests ( ru

[2021-09-13 13:20] iarspider opened #35249 "Is dmtcp package used?"
We are cleaning unused cmsdist (externals) specs, and since there are no references to dmtcp (Distributed MultiThreaded CheckPointing) in cmssw repository, it is a candidate for removal.

[2021-09-13 13:20] cmsbuild commented on #35249
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-13 13:23] cmsbuild commented on #35246
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-slc7_ppc64le_gcc9/3170
Some tests (

[2021-09-13 13:23] makortel commented on #35249
Do we know who asked it to be included (i.e. who to ask if it is still needed)?

[2021-09-13 13:37] cmsbuild commented on #35246
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-slc7_amd64_gcc10/3171
Some tests ( ru

[2021-09-13 13:41] cmsbuild commented on #35246
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-cc8_amd64_gcc9/3168
Some tests ( runThe

[2021-09-13 13:48] davidlange6 commented on #35249
My inbox suggests that this came in from some r&d on checkpointing on opportunistic resources (eg, the HLT farm during interfile). At least that original use case didn't work out.

[2021-09-13 14:01] makortel opened #35250 "ExternalGeneratorFilter fails with concurrent beginStream"
After merging https://github.com/cms-sw/cmssw/pull/35230 into DEVEL, 570.0 step 1 failed with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_DEVEL_X_2021-09-13-1100/pyRelValMatrixLogs/run/570.0_BuToKstarJPsiToMuMu_forSTEAM_13TeV_ExtGen+BuToKstarJPsiToMuMu_forSTEAM_13TeV_ExtGen+HARVESTGEN/step1_BuToKstarJPsiToMuMu_forSTEAM_13TeV_ExtGen+BuToKstarJPsiToMuMu_forSTEAM_

[2021-09-13 14:01] makortel commented on #35250
assign core, generators

[2021-09-13 14:01] cmsbuild commented on #35250
New categories assigned: core,generators

@Dr15Jones,@smuzaffar,@mkirsano,@SiewYan,@alberto-sanchez,@Saptaparna,@makortel,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-13 14:01] cmsbuild commented on #35250
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-13 14:02] makortel commented on #35250
The culprit is
https://github.com/cms-sw/cmssw/blob/67dc96760b15f06480a901e79befddd0155df225/GeneratorInterface/Core/plugins/ExternalGeneratorFilter.cc#L58
(and @Dr15Jones is already looking into it)

[2021-09-13 14:06] makortel opened #35251 "Crash in LHAPDF with concurrent beginStream"
After merging #35230 into DEVEL, 504.0 step 1 crashed with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_DEVEL_X_2021-09-13-1100/pyRelValMatrixLogs/run/504.0_QCD_Pt-30_13TeV_pythia8+QCD_Pt-30_13TeV_pythia8+HARVESTGEN/step1_QCD_Pt-30_13TeV_pythia8+QCD_Pt-30_13TeV_pythia8+HARVESTGEN.log#/

[2021-09-13 14:06] makortel commented on #35251
assign generators

[2021-09-13 14:07] cmsbuild commented on #35251
New categories assigned: generators

@mkirsano,@SiewYan,@alberto-sanchez,@Saptaparna,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-13 14:07] cmsbuild commented on #35251
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-13 14:07] makortel commented on #35251
Possibly connected to #35082 ?

[2021-09-13 14:09] cmsbuild commented on #35246
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-cc8_aarch64_gcc9/3173
Some tests ( ru

[2021-09-13 14:14] cmsbuild commented on #35246
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-cc8_ppc64le_gcc9/3169

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-09-13 14:23] cmsbuild commented on #35246
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-slc7_amd64_gcc10/3171

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-13 14:25] cmsbuild commented on #35246
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-slc7_ppc64le_gcc9/3170

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-13 14:25] cmsbuild commented on #35246
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-cc8_amd64_gcc9/3168

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-13 14:32] makortel commented on #35247
The job first processes 20 files with 500k events in each (
* first such file `root://eoscms.cern.ch//eos/cms/store/unmerged/HINPbPbAutumn18pLHE/Psi2SToMuMu_5p02TeV_PbPb_Coherent_HydjetDrumMB_Starlight/LHE/103X_upgrade2018_realistic_HI_v11-v2/270000/633EB600-6201-B544-B002-21431544AF57.root`
* last such file `root://eoscms.cern.ch//eos/cms/store/unmerged/HINPbPbAutumn18pLHE/Psi2SToMuMu_5p02TeV_PbP

[2021-09-13 14:33] makortel commented on #35247
assign generators

[2021-09-13 14:33] cmsbuild commented on #35247
New categories assigned: generators

@mkirsano,@SiewYan,@alberto-sanchez,@Saptaparna,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-13 14:35] makortel commented on #35247
@cms-sw/generators-l2 If this generator produces no events, does it produce `LHERunInfoProduct` for which the checks in (there more than what I quote below)
https://github.com/cms-sw/cmssw/blob/master/SimDataFormats/GeneratorProducts/src/LHERunInfoProduct.cc#L193-L198
return `false`?

[2021-09-13 14:51] cmsbuild commented on #35246
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-slc7_amd64_gcc900/3172
Some tests (

[2021-09-13 14:52] smuzaffar commented on #35249
I think it was @bbockelm who was working on checkpointing and xrootd had issues restoring the opened connection.

[2021-09-13 14:57] davidlange6 commented on #35249
What I know about involved DavidA, DavidC and some external folks.

[2021-09-13 15:09] makortel commented on #35250
Fixed in https://github.com/cms-sw/cmssw/pull/35253

[2021-09-13 15:12] cmsbuild commented on #35246
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-cc8_aarch64_gcc9/3173

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-09-13 15:17] cmsbuild commented on #35246
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3174/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-13 15:23] #30560 closed

[2021-09-13 15:37] cmsbuild commented on #35246
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-slc7_amd64_gcc900/3172

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-13 16:13] agrohsje commented on #35247
Hi @makortel. For the problematic file, there is no LHERunInfoProduct produced.

[2021-09-13 16:19] makortel commented on #35247
Ah, right, the `LHERunInfoProduct_source__LHEFile.present` branch shows value `0`. I only checked with `edmDumpEventContent --run` that the branch is there, but indeed it is not filled with a product.

I suppose the question is then why such file gets produced in the first place?

[2021-09-13 16:20] makortel commented on #31061
Hi @bbilin, would you happen to have any news on `AlignmentProducerAsAnalyzer` yet?

[2021-09-13 16:31] tvami commented on #31061
Hi @makortel my understanding of the situation is that the changes in `AlignmentProducerAsAnalyzer` lead very deep in the code, so the Tracking POG (@mmusich) would prefer to have a more extensive validation done before making a PR.

[2021-09-13 16:37] mmusich commented on #31061
@tvami the code to be touched is not maintained by the POG, but rather from the Tracker Alignment group.
As I have tackled similar migrations in the past I suggested @bbilin certain tests to make sure there's no functuonality disruption, a part from having code that is superficially compiling.
I have no idea of the status of those tests.

[2021-09-13 16:59] bbockelm commented on #35249
I'm not entirely sure I was doing much work here-- but last I could find in my inbox, this line of work dried up in 2015.

[2021-09-13 17:10] cvuosalo commented on #35109
The instability appears to be random and rare. It is strange that wf 11634.912 does not show it. The difference between the two workflows is that 11634.911 runs the algorithms and calculates the reco geometry, while 11634.912 reads the already calculated algorithm results and reco geometry out of the DB.

[2021-09-13 17:38] cmsbuild commented on #35246
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-slc7_aarch64_gcc9/3174
Some tests (

[2021-09-13 18:36] cmsbuild commented on #35246
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_1-slc7_aarch64_gcc9/3174

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-13 19:43] tvami commented on #34309
Hi @eyigitba I think the online machines are about to install 12_0_X as a preparation for CRAFT. So this is becoming urgent again. Do you maybe have an update on the final solution to this issue, to be included in the 12_0_X release?

[2021-09-13 20:41] perrotta commented on #35246
upload all

[2021-09-13 20:42] cmsbuild commented on #35246
Queing Jenkins upload for slc7_amd64_gcc900

[2021-09-13 20:42] cmsbuild commented on #35246
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-09-13 20:42] cmsbuild commented on #35246
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-09-13 20:42] cmsbuild commented on #35246
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-09-13 20:42] cmsbuild commented on #35246
Queing Jenkins upload for cc8_amd64_gcc9

[2021-09-13 20:42] cmsbuild commented on #35246
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-09-13 20:42] cmsbuild commented on #35246
Queing Jenkins upload for slc7_amd64_gcc10

[2021-09-13 20:44] cmsbuild commented on #35246
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2055/console

[2021-09-13 20:44] cmsbuild commented on #35246
The upload has started for cc8_amd64_gcc9 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2056/console

[2021-09-13 20:44] cmsbuild commented on #35246
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2058/console

[2021-09-13 20:45] cmsbuild commented on #35246
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2057/console

[2021-09-13 20:45] cmsbuild commented on #35246
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_1-cc8_amd64_gcc9/2056

[2021-09-13 20:45] cmsbuild commented on #35246
The upload has started for slc7_amd64_gcc900 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2059/console

[2021-09-13 20:45] cmsbuild commented on #35246
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_1-cc8_aarch64_gcc9/2055

[2021-09-13 20:45] cmsbuild commented on #35246
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_1-slc7_aarch64_gcc9/2058

[2021-09-13 20:45] cmsbuild commented on #35246
The upload has started for slc7_amd64_gcc10 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2060/console

[2021-09-13 20:46] cmsbuild commented on #35246
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_1-cc8_ppc64le_gcc9/2057

[2021-09-13 20:46] cmsbuild commented on #35246
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2061/console

[2021-09-13 20:46] cmsbuild commented on #35246
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_1-slc7_amd64_gcc10/2060

[2021-09-13 20:47] cmsbuild commented on #35246
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_1-slc7_amd64_gcc900/2059

[2021-09-13 20:48] cmsbuild commented on #35246
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_1-slc7_ppc64le_gcc9/2061

[2021-09-13 20:50] perrotta commented on #35246
release-notes‌

[2021-09-13 20:50] cmsbuild commented on #35246
Generating release notes since CMSSW_12_0_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-09-13 20:50] cmsbuild commented on #35246
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_0_1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_0 can be found at:

https://github.com/cms-sw/cmssw/re

[2021-09-13 20:53] cmsbuild commented on #35246
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_1

[2021-09-14 07:28] smuzaffar commented on #35249
@iarspider , looks like we can remove it from distribution. I would suggest to remove it from cmssw deps but keep the spec under cmsdist/archive directory.

[2021-09-14 09:34] eyigitba commented on #34309
Hi @tvami , I don't have a final solution at this moment. I looked into the solution you posted, but implementing something similar to that (end of run/stream warning summary) is not trivial apparently. I brought this up in the L1T offline software meeting and maybe they will implement something like that for the entire L1TRawToDigi package.

[2021-09-14 15:21] tvami commented on #34309
Ok, do you think that this development is feasible in about the next 10 days? If not we should do the comment out solution to 12_0_X

[2021-09-14 16:53] tvami commented on #28812
Hi @smuzaffar since 10_2_X is closed, can this issue be closed?

[2021-09-14 16:57] smuzaffar commented on #28812
10.2.X is not really closed .. it is still open for bug fixes and we are regularly building IBs (11.2.X is closed though). But if we do not care much for this unit test in 10.2.X then I can close this issue

[2021-09-14 17:00] tvami commented on #29558
+db

 * https://github.com/cms-sw/cmssw/pull/31544 took care of this

[2021-09-14 17:01] tvami commented on #29558
@makortel can you please sign this for `core` so the issue can be closed?

[2021-09-14 17:03] makortel commented on #29558
+core

[2021-09-14 17:03] cmsbuild commented on #29558
This issue is fully signed and ready to be closed.

[2021-09-14 17:05] #29558 closed

[2021-09-14 19:00] eyigitba commented on #34309
I'm not sure, but I doubt it will be done in 10 days. @rekovic can maybe comment on this. If it can't be done soon I can submit a backport PR to 12_0_X as well.

[2021-09-14 21:37] makortel commented on #30266
I have a prototype of the approach described in https://github.com/cms-sw/cmssw/issues/30266#issuecomment-909526957 in https://github.com/cms-patatrack/pixeltrack-standalone/pull/224

[2021-09-14 23:30] ferencek commented on #35034
@civanch, I plan to have a look this week.

[2021-09-15 00:36] tvami commented on #31113
+alca

 * AlCa part taken care of in https://github.com/cms-sw/cmssw/pull/35278

[2021-09-15 00:36] tvami commented on #31113
+db
 * DB part taken care of in https://github.com/cms-sw/cmssw/pull/35278

[2021-09-15 00:55] qliphy opened #35279 "Build CMSSW_12_1_0_pre3"

[2021-09-15 00:55] cmsbuild commented on #35279
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-09-15 00:55] qliphy commented on #35279
+1

[2021-09-15 00:55] cmsbuild commented on #35279
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-09-15 00:56] cmsbuild commented on #35279
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-09-15 00:56] cmsbuild commented on #35279
The build has started for cc8_amd64_gcc9 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3175/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-15 00:56] cmsbuild commented on #35279
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3177/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-15 00:56] cmsbuild commented on #35279
The build has started for slc7_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3176/console
CMSDIST Branch: [IB/CMSSW_12_1_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-15 00:58] cmsbuild commented on #35279
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3178/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-15 00:58] cmsbuild commented on #35279
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3180/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-15 00:58] cmsbuild commented on #35279
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3179/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-15 00:59] cmsbuild commented on #35279
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3181/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-15 01:29] tvami commented on #17061
@rekovic please sign this issue so it can be closed
or @qliphy @perrotta @ericvaandering if you can close it without the L1 signature, please do so

[2021-09-15 04:59] #17061 closed

[2021-09-15 06:24] cmsbuild commented on #35279
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_ppc64le_gcc9/3181
Some tes

[2021-09-15 07:12] cmsbuild commented on #35279
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_aarch64_gcc9/3180
Some tes

[2021-09-15 07:20] cmsbuild commented on #35279
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_ppc64le_gcc9/3181

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-15 08:10] cmsbuild commented on #35279
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_aarch64_gcc9/3180

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-15 08:46] #35249 closed

[2021-09-15 09:22] civanch commented on #34586
+1

[2021-09-15 09:25] cmsbuild commented on #35279
The was an error for slc7_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc10/3176

[2021-09-15 09:38] qliphy commented on #35279
@smuzaffar @makortel   There is a build error for slc7_amd64_gcc10,  as reported by @perrotta in
https://github.com/cms-sw/cmssw/pull/35240#issuecomment-919704154
Do you have any idea on this? Or if there is plan for gcc10 validation,  can we go ahead with this build of 12_1_0_pre3?  Thanks!
Adding also @bsunanda

https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-sl

[2021-09-15 10:19] cmsbuild commented on #35279
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_ppc64le_gcc9/3179
Some tests

[2021-09-15 11:08] cmsbuild commented on #35279
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc900/3177
Some tes

[2021-09-15 11:33] cmsbuild commented on #35279
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_ppc64le_gcc9/3179

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-09-15 11:44] cmsbuild commented on #35279
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_amd64_gcc9/3175
Some tests ( r

[2021-09-15 11:54] cmsbuild commented on #35279
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc900/3177

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-15 12:32] cmsbuild commented on #35279
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_amd64_gcc9/3175

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-15 12:45] dan131riley opened #35283 "AddressSanitizer: stack-buffer-underflow reco::HitPattern::muonStations"
The latest ASAN build has stack underflows in WF 34834.21 and 34834.9921,

[code]

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc10/CMSSW_12_1_ASAN_X_2021-09-13-2300/pyRelValMatrixLogs/run/34834.9921_TTbar_14TeV+2026D76PU_PMXS1S2ProdLike+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+PREMIX_PremixHLBeamSpot14PU+DigiTriggerPU+RecoGlobalPU+MiniAODPU/step4_TTbar_14TeV+2026D76PU_PMXS1S2P

[2021-09-15 12:45] cmsbuild commented on #35283
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-15 12:48] dan131riley commented on #35283
Should have included:
[code]
so ASAN positively identifies it as `stations[-1]`

[2021-09-15 12:55] makortel commented on #35283
assign reconstruction

[2021-09-15 12:55] cmsbuild commented on #35283
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-15 13:10] slava77 commented on #35283
@jshlee @watson-ij
please take a look.
Thank you.

[2021-09-15 13:38] makortel commented on #35279
I'd think that since there has been no specific fix for the reported discrepancy in GEM plots (that seem more like red herring caused by non-gaussian fluctuations), strictly speaking we would not need a new validation campaign for gcc10. A counter-argument would be that lot's of other developments have been merged in between that have not been validated for gcc10. Counter-counter-argument would be

[2021-09-15 14:40] tvami commented on #29833
Follow-up: it was agreed that @bsunanda and @civanch will take care of this issue

[2021-09-15 14:43] jfernan2 commented on #31061
+1
All DQM modules have been migrated as far as I can tell

[2021-09-15 15:45] ferencek commented on #35034
@mrodozov, @civanch, I had a look at this but I am afraid this issue exceeds my level of expertise with C++. About two weeks ago I just had a quick look at the code and was quite confused because the problematic variable in https://github.com/cms-sw/cmssw/blob/CMSSW_12_1_0_pre1/DataFormats/SiPixelDigi/interface/PixelDigi.h#L75, `PixelChannelIdentifier::thePacking.column_width`, should be properly

[2021-09-15 16:45] smuzaffar commented on #35034
@ferencek , I think problem is `row` being `-1` here  https://github.com/cms-sw/cmssw/blob/CMSSW_12_1_0_pre1/DataFormats/SiPixelDigi/interface/PixelDigi.h#L75

[2021-09-15 16:55] ferencek commented on #35034
@smuzaffar, good point, thanks. I was interpreting the error message incorrectly. OK, this will be helpful for further debugging.

[2021-09-15 18:17] makortel commented on #30432
Has anything changed within a year? Are there any use cases for keeping mxnet external? Or could we just remove both `PhysicsTools/MXNet` and the external?

[2021-09-15 18:53] cmsbuild commented on #35246
The cleanup has started for cc8_aarch64_gcc9

[2021-09-15 18:53] cmsbuild commented on #35246
The cleanup has started for slc7_aarch64_gcc9

[2021-09-15 18:53] cmsbuild commented on #35246
The cleanup has started for slc7_amd64_gcc900

[2021-09-15 18:53] cmsbuild commented on #35246
The cleanup has started for cc8_ppc64le_gcc9

[2021-09-15 18:53] cmsbuild commented on #35246
The cleanup has started for slc7_ppc64le_gcc9

[2021-09-15 18:53] cmsbuild commented on #35246
The cleanup has started for cc8_amd64_gcc9

[2021-09-15 18:53] cmsbuild commented on #35246
The cleanup has started for slc7_amd64_gcc10

[2021-09-15 18:53] #35246 closed

[2021-09-15 18:53] cmsbuild commented on #35246
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_1-cc8_aarch64_gcc9/1773

[2021-09-15 18:53] cmsbuild commented on #35246
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_1-cc8_amd64_gcc9/1774

[2021-09-15 18:53] cmsbuild commented on #35246
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_1-cc8_ppc64le_gcc9/1775

[2021-09-15 18:53] cmsbuild commented on #35246
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_1-slc7_aarch64_gcc9/1776

[2021-09-15 18:53] cmsbuild commented on #35246
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_1-slc7_amd64_gcc10/1777

[2021-09-15 18:53] cmsbuild commented on #35246
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_1-slc7_amd64_gcc900/1778

[2021-09-15 18:53] cmsbuild commented on #35246
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_1-slc7_ppc64le_gcc9/1779

[2021-09-15 20:45] makortel commented on #25090
The logs of CMSSW_12_1_X_2021-09-14-1100 are finally clean from the warnings of modules prohibiting concurrent lumis in RelVal workflows. Next I'll proceed to change the warning to an exception, so that we'll be able to catch an "offending module" early on. I think this issue can be closed now. Thanks everybody!

[2021-09-15 20:45] makortel commented on #25090
+core

[2021-09-16 00:26] qliphy commented on #35279
abort

[2021-09-16 00:27] qliphy commented on #35279
Thanks @makortel
Now a fix has been merged   https://github.com/cms-sw/cmssw/pull/35282
Let's rebuild pre3.

[2021-09-16 00:27] cmsbuild commented on #35279
Deleting CMSSW_12_1_0_pre3:

  - Release successfully deleted

  - cmssw tag CMSSW_12_1_0_pre3 successfully deleted.

 - cmsdist tag REL/CMSSW_12_1_0_pre3/slc7_amd64_gcc900 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_12_1_0_pre3/slc7_amd64_gcc10. Probaly it had not been created.

 - cmsdist tag REL/CMSSW_12_1_0_pre3/slc7_aarch64_gcc9 successfully deleted.

 - cmsdist tag R

[2021-09-16 00:27] cmsbuild commented on #35279
The was an error for cc8_aarch64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_aarch64_gcc9/3178

[2021-09-16 00:31] #35279 closed

[2021-09-16 00:34] qliphy opened #35301 "Build CMSSW_12_1_0_pre3"

[2021-09-16 00:34] cmsbuild commented on #35301
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-09-16 00:35] makortel commented on #35279
That works of course too :)

[2021-09-16 00:35] qliphy commented on #35301
+1

[2021-09-16 00:35] cmsbuild commented on #35301
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-09-16 00:35] cmsbuild commented on #35301
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-09-16 00:35] cmsbuild commented on #35301
The build has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3182/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 00:36] cmsbuild commented on #35301
The build has started for slc7_amd64_gcc10 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3183/console
CMSDIST Branch: [IB/CMSSW_12_1_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 00:36] cmsbuild commented on #35301
The build has started for slc7_amd64_gcc900 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3184/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 00:38] cmsbuild commented on #35301
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3186/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 00:38] cmsbuild commented on #35301
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3185/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 00:38] cmsbuild commented on #35301
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3185/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 00:50] cmsbuild commented on #35301
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3187/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 02:26] cmsbuild commented on #35301
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3188/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 04:34] cmsbuild commented on #35301
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc10/3183
Some tests

[2021-09-16 04:42] cmsbuild commented on #35301
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_amd64_gcc9/3182
Some tests ( r

[2021-09-16 04:46] cmsbuild commented on #35301
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_ppc64le_gcc9/3186
Some tes

[2021-09-16 05:17] cmsbuild commented on #35301
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_ppc64le_gcc9/3185
Some tests

[2021-09-16 05:18] cmsbuild commented on #35301
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc10/3183

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-16 05:24] #16063 closed

[2021-09-16 05:25] cmsbuild commented on #35301
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_amd64_gcc9/3182

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-16 05:26] smuzaffar commented on #16104
@Dr15Jones , can we close this issue now?

[2021-09-16 05:44] cmsbuild commented on #35301
The was an error for cc8_aarch64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_aarch64_gcc9/3187

[2021-09-16 05:49] kskovpen commented on #34686
Any update on this issue?

[2021-09-16 05:51] cmsbuild commented on #35301
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc900/3184
Some tes

[2021-09-16 06:19] qliphy commented on #35301
@smuzaffar @makortel @mrodozov

There is an error in the build of cc8_aarch64_gcc9, which seems to be due to not enough space.  Is it possible for you try to relaunch the build for cc8_aarch64_gcc9?  Thanks!

https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_aarch64_gcc9/3187/LOGS/external/openloops/2.1.2-adb8e999e9153e1c94c850fdbbe9ecff/log
https://cmssdt.cern.

[2021-09-16 06:33] cmsbuild commented on #35301
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_ppc64le_gcc9/3185

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-09-16 06:34] cmsbuild commented on #35301
The build has started for cc8_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3189/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-16 06:36] smuzaffar commented on #35301
restarted

[2021-09-16 06:37] cmsbuild commented on #35301
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc900/3184

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-16 06:51] smuzaffar commented on #11753
closing it as there are new issues to track ubsan issues.

[2021-09-16 06:51] #11753 closed

[2021-09-16 06:51] smuzaffar commented on #11747
closing it as there are new issues to track ubsan issues.

[2021-09-16 06:51] #11747 closed

[2021-09-16 06:51] cmsbuild commented on #11753
A new Issue was created by  @davidlt David Abdurachmanov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-16 06:51] cmsbuild commented on #11747
A new Issue was created by  @davidlt David Abdurachmanov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-16 06:53] smuzaffar commented on #12363
@Dr15Jones , was this implemented? Should we close this issue?

[2021-09-16 06:54] smuzaffar commented on #12126
@Dr15Jones , was this implemented? should we close this issue?

[2021-09-16 06:55] smuzaffar commented on #12120
@Dr15Jones , is it still on to do list or should we close this issue?

[2021-09-16 06:56] smuzaffar commented on #11692
@Dr15Jones , is it still on todo list or should we close it?

[2021-09-16 07:01] smuzaffar commented on #12609
@Dr15Jones , @makortel is it still a needed feature?

[2021-09-16 07:16] smuzaffar commented on #13694
@fwyzard , is this still a needed feature? should we keep this issue open?

[2021-09-16 08:23] fwyzard commented on #12120
This is now supported using the `PathStatusFilter` module.

[2021-09-16 08:30] fwyzard commented on #12126
The use case I had in mind was: given a monolithic CMSSW configuration, how to determine which `ESProducer`s, `ESSource`s, and "global tag" payloads are used by each other ES module and ED module.

This should allow us - for example - to break up the EventSetup mess that is the HLT menu, and keep track of which Path uses which ES object.
It _might_ even allow use to assign the ES modules to the sa

[2021-09-16 09:13] smuzaffar commented on #12120
thanks, I am closing this issue then

[2021-09-16 09:13] #12120 closed

[2021-09-16 09:14] smuzaffar commented on #13670
@makortel , is it still on to do list?

[2021-09-16 09:15] smuzaffar commented on #13454
@Dr15Jones , @makortel has this been implemented?

[2021-09-16 09:17] smuzaffar commented on #13443
@Dr15Jones , @makortel is it still the case, if not then can we close the issue?

[2021-09-16 09:20] smuzaffar commented on #13326
@makortel @Dr15Jones , is this still on wish list?

[2021-09-16 09:23] smuzaffar commented on #13180
@Dr15Jones , @makortel was this implemented?

[2021-09-16 09:26] smuzaffar commented on #13111
@Dr15Jones , I see that `MulticoreRunLumiEventChecker` was dropped in  https://github.com/cms-sw/cmssw/pull/19417 .  So can we close this issue now?

[2021-09-16 09:28] smuzaffar commented on #13079
@Dr15Jones @driley13 , is this still an open issue?

[2021-09-16 09:33] smuzaffar commented on #12968
@Dr15Jones , @makortel I see that `ProductHolders ` was refactored here https://github.com/cms-sw/cmssw/pull/13698 . Is this still an open issue?

[2021-09-16 09:35] smuzaffar commented on #12946
@Dr15Jones , was https://github.com/cms-sw/cmssw/pull/33230 suppose to address this issue too?

[2021-09-16 09:51] smuzaffar commented on #12932
@Dr15Jones , do we still want to remove this feature? Looks like it is now used in many places outside FW ( https://github.com/cms-sw/cmssw/search?q=canDeleteEarly&type=code )

[2021-09-16 09:55] smuzaffar commented on #12858
@Dr15Jones , @makortel is it still on to do list?

[2021-09-16 10:00] smuzaffar commented on #12840
@Dr15Jones , any idea if this was completed?

[2021-09-16 10:01] smuzaffar commented on #12702
@Dr15Jones , @makortel is this still an open issue?

[2021-09-16 10:02] smuzaffar commented on #12699
@Dr15Jones , @makortel has this been fixed/implemented?

[2021-09-16 10:02] smuzaffar commented on #12698
@Dr15Jones @makortel is it still an open issue?

[2021-09-16 10:03] smuzaffar commented on #12695
@Dr15Jones @makortel is it still an open issue?

[2021-09-16 10:05] agrohsje commented on #25090
+generators
thanks @makortel !

[2021-09-16 10:07] smuzaffar commented on #12693
@Dr15Jones @makortel , is `EDLooper API` still not thread-safe?

[2021-09-16 10:13] jpata commented on #32628
Showing up again in 1325.81, 136.731 in https://github.com/cms-sw/cmssw/pull/35216

[code]

[code]

Dumping the pairDiscri names:
[code]

[2021-09-16 10:14] smuzaffar commented on #13991
@amaltaro , what do you think, can WMagent can make use of this?

[2021-09-16 10:16] smuzaffar commented on #13994
looks like no activity on this issue , so I am closing it. please open a new one if needed

[2021-09-16 10:16] #13994 closed

[2021-09-16 10:19] smuzaffar commented on #14211
no activity on this issue since May 2020, so closing it

[2021-09-16 10:19] #14211 closed

[2021-09-16 10:21] smuzaffar commented on #14310
@Dr15Jones , @makortel is it still the case ?

[2021-09-16 10:22] francescobrivio opened #35304 "Crash in Tier0 replay of Run-2 data using 12_0_0"
A crash was observed while running a Tier0 replay on Run-2 data (https://github.com/dmwm/T0/pull/4602, more info in [this HN message](https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2261.html)) to test the PCL workflows and the new AlCaRecos: `SiPixelCalSingleMuonLoose`, `SiPixelCalSingleMuonTight`, `TkAlDiMuonAndVertex`.

The crash has been reported in https://hypernews.cern.ch/HyperNews/CM

[2021-09-16 10:22] cmsbuild commented on #35304
A new Issue was created by  @francescobrivio .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-16 10:22] francescobrivio commented on #35304
assign l1

[2021-09-16 10:22] cmsbuild commented on #35304
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-16 10:23] smuzaffar commented on #14357
@Dr15Jones @gartung is it still an open issue? is static analyzer  enforcing this now?

[2021-09-16 10:25] smuzaffar commented on #14532
@Dr15Jones @makortel , is it still an open issue?

[2021-09-16 10:25] francescobrivio commented on #35304
FYI @cms-sw/alca-l2

[2021-09-16 10:29] smuzaffar commented on #15248
closing this issue. We have CXXMODULE IBs dedicated for this

[2021-09-16 10:29] #15248 closed

[2021-09-16 10:34] #15306 closed

[2021-09-16 10:57] cmsbuild commented on #35301
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_aarch64_gcc9/3189
Some tests

[2021-09-16 11:05] amaltaro commented on #13991
WMAgent is already using SIGUSR2 for jobs that are running for too long, see:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Monitors/PerformanceMonitor.py#L295-L306

I'm not sure whether that's all that was foreseen with this GH issue though. If there is further work to be done, I believe we should then actually track it in the WMCore repository, no?

[2021-09-16 11:32] smuzaffar commented on #13991
I think on `SIGUSR2` cmsRun shut's down itself after processing the current set of events (multithreaded job). Eric wanted to shutdown cmsRun after the end of current lumi. Please check if this is still a valid use case

[2021-09-16 11:39] mmusich commented on #35304
@francescobrivio I think the crashing code is actually in the L1T DQM: https://github.com/cms-sw/cmssw/blob/0967201290508fa815a95781424a5c0b15f0f9b8/DQMOffline/L1Trigger/src/L1TTauOffline.cc#L245
perhaps it should be assigned DQM as well

[2021-09-16 11:41] francescobrivio commented on #35304
assign dqm

[2021-09-16 11:41] cmsbuild commented on #35304
New categories assigned: dqm

@emanueleusai,@jfernan2,@pbo0,@rvenditti,@ahmad3213,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-16 11:51] cmsbuild commented on #35301
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-cc8_aarch64_gcc9/3189

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-09-16 11:58] jfernan2 commented on #35304
@davignon @cecilecaillol @kreczko @benkrikler @vukasinmilosevic @dinyar @thomreis @rekovic @stahlleiton @astakia @cobby319 @ly615
As L1T DQM Offline contacts, could you please have a look and provide a fix?

[2021-09-16 12:04] #16104 closed

[2021-09-16 12:14] #13443 closed

[2021-09-16 12:15] dan131riley commented on #13079
Wrong Dan again (which is why we stopped updating this ticket).

@driley13 sorry we can't remove you, once you're (mistakenly) added, you can remove yourself but we can't do it, AFAIK.

@smuzaffar this was fixed in https://github.com/cms-externals/heppdt/commit/ad5bd2d96ca39491a5c0f729c9ebbec9a36b85bf and the ticket should be closed.

[2021-09-16 12:15] #13111 closed

[2021-09-16 12:18] Dr15Jones commented on #12695
Still open

[2021-09-16 12:19] Dr15Jones commented on #12693
It is still unsafe

[2021-09-16 12:21] amaltaro commented on #13991
If I'm looking at the right place: https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/FWCore/Services/plugins/UnixSignalService.cc

I believe a new signal (SIGUSR1 ?) should then be implemented within CMSSW to support this "complete the current lumi" feature. Once that's available in CMSSW, we could then implement this in WMCore as well.

[2021-09-16 12:28] smuzaffar commented on #13079
oops, my bad :-(
closing this issue now

[2021-09-16 12:28] #13079 closed

[2021-09-16 12:32] boudoul commented on #35304
[attracting the attention of @dpiparo and James Letts (I don't know his github name) ]

[2021-09-16 12:48] slava77 commented on #32628
IIUC, this issue is in a state of a "known feature" now. The differences appear somewhat regularly, depending on the build machines using AVX or AVX2 for baseline or the reference.

[2021-09-16 13:13] qliphy commented on #35301
@smuzaffar   It seems slc7_aarch64_gcc9 build has been there for quite some time.  Any action to take or just to wait a bit more?  Thanks!

[2021-09-16 13:13] makortel commented on #34686
@pcanal, could you take a look?

[2021-09-16 13:20] jpata commented on #32628
I wanted to explicitly put the discriminator names and workflows here so they can be found with a github issue search. In #35216, it took me a bit to be sure the differences are really from this ONNX feature.

[2021-09-16 13:21] makortel commented on #11692
Technically `RefToBase` is missing `operator<()` while `Ref` and `Ptr` both have that. But it seems to me that this feature would not really be needed (also given that we'd really dream to get rid of `RefToBase`)

[2021-09-16 13:23] cmsbuild commented on #35301
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_aarch64_gcc9/3188
Some tes

[2021-09-16 13:23] smuzaffar commented on #35301
cmssw build just finished

[2021-09-16 13:26] slava77 commented on #30432
(perhaps I've misheard) I think that mxnet was mentioned yesterday in the context of DRN implementation.
OTOH, that network was also mentioned to be deployed via Sonic/Triton. So, the `PhysicsTools/MXNet` `Predictor` may be irrelevant.

@lgray @SohamBhattacharya
please clarify.

[2021-09-16 13:28] makortel commented on #12609
Yes, AFAICT it has not been addressed yet (and based on description so far it would be useful).

[2021-09-16 13:29] lathomas commented on #35304
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/L1Trigger/src/L1TTauOffline.cc#L709
This is the problematic line (the antiele part) that triggers the crash.
A quick and dirty fix seems to simply make sure the antielectron discriminators were computed
`if((*antiele)[tauCandidate].workingPoints.size() ==0) continue;`

[2021-09-16 13:34] qliphy commented on #35301
upload all

[2021-09-16 13:34] cmsbuild commented on #35301
Queing Jenkins upload for slc7_amd64_gcc900

[2021-09-16 13:34] cmsbuild commented on #35301
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-09-16 13:34] cmsbuild commented on #35301
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-09-16 13:34] cmsbuild commented on #35301
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-09-16 13:34] cmsbuild commented on #35301
Queing Jenkins upload for cc8_amd64_gcc9

[2021-09-16 13:34] cmsbuild commented on #35301
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-09-16 13:34] cmsbuild commented on #35301
Queing Jenkins upload for slc7_amd64_gcc10

[2021-09-16 13:35] cmsbuild commented on #35301
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2062/console

[2021-09-16 13:35] cmsbuild commented on #35301
The upload has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2063/console

[2021-09-16 13:35] cmsbuild commented on #35301
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2065/console

[2021-09-16 13:35] cmsbuild commented on #35301
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2064/console

[2021-09-16 13:36] cmsbuild commented on #35301
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre3-cc8_amd64_gcc9/2063

[2021-09-16 13:36] tvami commented on #35304
Hi All, since we are kind of pressured in time, AlCa agrees to this plan, please go ahead with the PR! Maybe on the top of this a  a protection against all discriminators should be added?

[2021-09-16 13:36] cmsbuild commented on #35301
The upload has started for slc7_amd64_gcc10 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2066/console

[2021-09-16 13:36] cmsbuild commented on #35301
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre3-cc8_aarch64_gcc9/2062

[2021-09-16 13:36] cmsbuild commented on #35301
The upload has started for slc7_amd64_gcc900 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2067/console

[2021-09-16 13:37] cmsbuild commented on #35301
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre3-slc7_aarch64_gcc9/2065

[2021-09-16 13:37] cmsbuild commented on #35301
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre3-cc8_ppc64le_gcc9/2064

[2021-09-16 13:37] cmsbuild commented on #35301
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc10/2066

[2021-09-16 13:37] cmsbuild commented on #35301
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2068/console

[2021-09-16 13:38] cmsbuild commented on #35301
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre3-slc7_ppc64le_gcc9/2068

[2021-09-16 13:39] smuzaffar commented on #21281
`libfmt`  is part of cmssw distribution and uses by various systems ( https://cmssdt.cern.ch/lxr/search?%21v=CMSSW_12_1_X_2021-09-15-2300&_filestring=&_string=fmt )

[2021-09-16 13:39] #21281 closed

[2021-09-16 13:39] cmsbuild commented on #35301
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre3-slc7_amd64_gcc900/2067

[2021-09-16 13:43] smuzaffar commented on #21135
@slava77 , has #23568 addressed/fixed this issue?

[2021-09-16 13:47] makortel commented on #12858
It's an idea that would be useful, so I'd keep the issue open.

[2021-09-16 13:48] makortel commented on #13670
In principle yes.

[2021-09-16 13:49] qliphy commented on #35301
release-notes

[2021-09-16 13:49] cmsbuild commented on #35301
Generating release notes since CMSSW_12_1_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-09-16 13:49] cmsbuild commented on #35301
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_1_0_pre3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_1_0_pre2 can be found at:

https://github.com/cms-

[2021-09-16 13:50] makortel commented on #13454
I suppose "no" (also FYI @dan131riley)

[2021-09-16 13:51] smuzaffar commented on #21294
Looks like this has been fixed. AddOnTests for ASAN IBs are all running fine

[2021-09-16 13:51] #21294 closed

[2021-09-16 13:52] makortel commented on #13326
It could still be useful (even if we have a de-facto pattern to work around).

[2021-09-16 13:54] smuzaffar commented on #28479
@cms-sw/upgrade-l2 , any objections on removing ` TrackTimeValueMapProducer` ? @kpedro88 may be you can open a PR to remove it?

[2021-09-16 13:55] cmsbuild commented on #35301
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre3

[2021-09-16 13:57] kpedro88 commented on #28479
@cms-sw/mtd-dpg-l2 need to indicate what, if any, pieces of this functionality are still needed in modern releases.

[2021-09-16 13:58] kpedro88 commented on #28479
also @smuzaffar why did the bot remove the upgrade-pending label?

[2021-09-16 14:00] tvami commented on #35304
@lathomas is there somebody already identified who'll do the PR? We need it to merge to master first and then do the backport and then cut a release, so the schedule is somewhat tight. (Sorry for being pushy)

[2021-09-16 14:01] smuzaffar commented on #21420
this has been fixed via https://github.com/cms-sw/cmssw/pull/22191

[2021-09-16 14:01] #21420 closed

[2021-09-16 14:04] smuzaffar commented on #28479
ah looks like a bug/feature of bot :-) as you are no longer L2 of any category so bot ignored your "assign upgrade" comment

[2021-09-16 14:07] Dr15Jones commented on #12363
@makortel is this related to another case of lazy download?

[2021-09-16 14:08] makortel commented on #13180
In the configuration validation system no, but in the configuration reading phase yes, first in https://github.com/cms-sw/cmssw/pull/22362 and then improved in https://github.com/cms-sw/cmssw/pull/31429.

[2021-09-16 14:09] Dr15Jones commented on #12126
@smuzaffar effectively, the esConsumes is doing this.

[2021-09-16 14:10] lathomas commented on #35304
Ok I will make the PR

[2021-09-16 14:14] #12968 closed

[2021-09-16 14:15] makortel commented on #12702
In the way "yes" that we don't have a thread-efficient way to fill histograms.

[2021-09-16 14:18] makortel commented on #12699
This was addressed in https://github.com/cms-sw/cmssw/pull/20189 (as far as `core` is concerned), and has also been followed up in https://github.com/cms-sw/cmssw/issues/19828

[2021-09-16 14:18] makortel commented on #12699
+1

[2021-09-16 14:18] cmsbuild commented on #12699
This issue is fully signed and ready to be closed.

[2021-09-16 14:20] smuzaffar commented on #34272
duplicate

[2021-09-16 14:20] #34272 closed

[2021-09-16 14:21] makortel commented on #12698
I see beginStream signals get the `ModuleCallingContext`
https://github.com/cms-sw/cmssw/blob/f77b40395e4127cc655a748bf1603293bd3174e1/FWCore/ServiceRegistry/interface/ActivityRegistry.h#L260
https://github.com/cms-sw/cmssw/blob/f77b40395e4127cc655a748bf1603293bd3174e1/FWCore/ServiceRegistry/interface/ActivityRegistry.h#L267
but the beginJob signals do not
https://github.com/cms-sw/cmssw/blob/f77b

[2021-09-16 14:22] smuzaffar commented on #21620
@cms-sw/l1-l2 , can you please look in to this . Code in question is https://github.com/cms-sw/cmssw/blob/master/L1Trigger/DTTriggerServerPhi/src/DTTSPhi.cc#L180-L182 and I see there are many other `std::cout` statements?

[2021-09-16 14:22] makortel commented on #12363
@Dr15Jones I'm not following your question :)

[2021-09-16 14:23] #12699 closed

[2021-09-16 14:24] Dr15Jones commented on #12946
Yes

[2021-09-16 14:24] #12946 closed

[2021-09-16 14:24] dan131riley commented on #13454
AIUI, it's possible that a product that was fast-cloned may still need to be deserialized, especially when there are multiple output modules.  I guess we'd want to initially turn off prefetch for fast-cloned branches but then turn it back on if we are getting entries fetched on the branch.

[2021-09-16 14:25] Dr15Jones commented on #12932
@makortel

[2021-09-16 14:25] smuzaffar commented on #21710
assign dqm
is this still and open issue?

[2021-09-16 14:26] cmsbuild commented on #21710
New categories assigned: dqm

@emanueleusai,@jfernan2,@pbo0,@rvenditti,@ahmad3213,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-16 14:26] Dr15Jones commented on #12840
I don't think it is complete. We may have abandoned it however.

@makortel FYI

[2021-09-16 14:27] Dr15Jones commented on #14310
I'm fairly certain this has not been done.

[2021-09-16 14:27] Dr15Jones commented on #14357
Adding @makortel

[2021-09-16 14:28] makortel commented on #12932
I think this issue can be closed in favor of https://github.com/cms-sw/cmssw/issues/16481 .

[2021-09-16 14:30] Dr15Jones commented on #12698
yes

[2021-09-16 14:32] jfernan2 commented on #21710
I doubt it still is, given that those two files have changed a lot in master version since then and the proposed change is probably outdated  but I let @kreczko to confirm
Thanks

[2021-09-16 14:32] Dr15Jones commented on #13454
@dan131riley given fast cloning is off if we use multiple threads in a job, this optimization may not longer be of any use.

[2021-09-16 14:37] slava77 commented on #21135
no, not really.
considering that this is only a Run-1 problem, this issue is slowly getting to a "will not fix" state

[2021-09-16 14:38] smuzaffar commented on #21740
not going to fix it. mixing system python with cmssw env will not work

[2021-09-16 14:38] #21740 closed

[2021-09-16 14:39] slava77 commented on #21135
@cms-sw/hcal-dpg-l2
please comment if there is still a plan to do something special for these channels.

[2021-09-16 14:41] smuzaffar commented on #21806
@cms-sw/analysis-l2 , can you please check?

[2021-09-16 14:44] smuzaffar commented on #22151
@Dr15Jones , I am closing this as #22150 is merged. Feel free to open a new one if improvement can be done on top of  #22150

[2021-09-16 14:44] #22151 closed

[2021-09-16 14:47] fwyzard commented on #12126
Not exactly, or at least non completely.

How does one dump or extract the list of ESProducers needed by each module ?

[2021-09-16 14:51] smuzaffar commented on #12932
closing it in favor of #16481

[2021-09-16 14:51] #12932 closed

[2021-09-16 14:57] smuzaffar commented on #22516
@alja , is it still an open issue?

[2021-09-16 15:39] dan131riley commented on #13454
@Dr15Jones where does that get done?  (I see it's done for the HLT, but I couldn't find a more general switch.)

[2021-09-16 15:47] Dr15Jones commented on #13454
The logic is here

https://github.com/cms-sw/cmssw/blob/04e25fafc456b764f3b59c4e88b1c0f1b681e368/FWCore/Framework/src/EventProcessor.cc#L906-L908

[2021-09-16 16:17] cmsbuild commented on #28479
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-16 16:17] srimanob commented on #28479
assign mtd-dpg

[2021-09-16 16:18] cmsbuild commented on #28479
New categories assigned: mtd-dpg

@fabiocos,@parbol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-16 16:19] cmsbuild commented on #35301
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre3-slc7_aarch64_gcc9/3188

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-16 16:35] alja commented on #22516
@smuzaffar @osschar
I don't know internals of TTreeCache pre-fetching and I also forgot its importance. The issue is more than 3 years old and the logs are lost. I have moved this issue to my git project so we don't forget about it.

[2021-09-16 16:35] #22516 closed

[2021-09-16 18:27] agrohsje commented on #14211
Hi @Dr15Jones.
can you confirm that by now only this line:
https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/GenFilters/plugins/MCMultiParticleFilter.cc#L38
need to have edm::stream::EDFilter<> ?

[2021-09-16 18:34] Dr15Jones commented on #14211
@agrohsje nothing needs to be done as being  an `edm::global::EDFilter<>` is even better than being an `edm::stream::EDFilter<>`

[2021-09-16 18:48] agrohsje commented on #14211
+generators
thanks @Dr15Jones.

[2021-09-16 18:49] cmsbuild commented on #14211
This issue is fully signed and ready to be closed.

[2021-09-16 19:10] pcanal commented on #30493
(still digesting but a quick note):

nesting of std::array is not yet supported by the I/O

[2021-09-16 20:15] pcanal commented on #30493
For 1 (and somewhat 2) (TClass returns a typeinfo or getTypeInfo special case std::array), the major question/trade-off is that we need to either:
a. enumerate all std::array instances used (in selection.xml or getTypeInfo)  [ Error prone / missing instances ]
b. use the interpreter to produce the type info [ slightly slower, increase memory use, potentially significantly ]
c. auto-generate the di

[2021-09-16 21:03] alja commented on #22516
@smuzaffar One more reason to drop this issue is that remote web event display can be combined with xrootd data access that has cache enabled.

[2021-09-16 22:04] kpedro88 commented on #35206
The reason the test seemed to succeed when running manually is most likely that the Singularity environment wasn't started with the `--nv` flag, so the GPU wasn't available.

It seems like cross-platform container support is not available except as an experimental feature in recent Docker versions (i.e. not in Singularity at all, as far as I can tell).

For now, I'll add another check so that the

[2021-09-16 22:38] ferencek commented on #35034
OK, so here is the culprit https://github.com/cms-sw/cmssw/blob/CMSSW_12_1_0_pre1/SimTracker/SiPixelDigitizer/plugins/SiPixelChargeReweightingAlgorithm.cc#L234 Now I need to figure out why the row coordinate gets evaluated to -1.

[2021-09-16 23:30] tvami commented on #34718
Hi @smuzaffar since the PRs above are merged, should this issue be closed?

[2021-09-16 23:41] #34718 closed

[2021-09-17 00:02] tvami commented on #33425
Hi @thomreis has this issue ever been resolved?

[2021-09-17 01:09] makortel commented on #32219
Is there any chance this question could be resolved already for 12_1_0?

[2021-09-17 01:09] makortel commented on #13454
So maybe it is not worth of even trying?

[2021-09-17 07:19] thomreis commented on #33425
No, this is still on the to do list. @atishelmanch @valsdav

[2021-09-17 08:05] SohamBhattacharya commented on #30432
I might have misspoken. But @lgray can confirm if the implementation is in mxnet.

[2021-09-17 09:35] fwyzard commented on #13180
Thanks Matti, I had missed the second part... I've made https://github.com/cms-sw/cmssw/pull/35316 to use the new functionality.

[2021-09-17 13:01] slava77 commented on #35283
+reconstruction

fixed in #35288 , in release since CMSSW_12_1_X_2021-09-16-2300

[2021-09-17 13:01] cmsbuild commented on #35283
This issue is fully signed and ready to be closed.

[2021-09-17 14:25] ferencek commented on #35034
The problem with the PixelCPEBase has already been reported in https://github.com/cms-sw/cmssw/issues/35036

[2021-09-17 14:45] tvami commented on #35304
I made the backport here
https://github.com/cms-sw/cmssw/pull/35322

thanks again @lathomas for the quick reaction!

[2021-09-17 15:13] lecriste commented on #35225
@ChuyuanLiu can you please test [this branch](#35319)?

[2021-09-17 23:29] kpedro88 commented on #34547
Updates on this issue: I was given instructions to access the GPU machines used for IB tests (requesting a GPU worker node on lxplus condor and then using `condor_ssh_to_job`).

If I try to run on the bare metal worker node, I get this message:
[code]

I tried on two different nodes, a T4 and a V100 (both datacenter GPUs). They both had the noted driver version which corresponds to CUDA 11.2, whil

[2021-09-17 23:30] kpedro88 commented on #35206
See: #35328

[2021-09-17 23:30] kpedro88 commented on #34547
See: #35328

[2021-09-18 01:08] #35283 closed

[2021-09-18 05:37] fwyzard commented on #34547
Datacenter GPUs do have forward compatibility for the NVIDIA drivers; this
is already being properly set up and used by the CMSSW environment.

[2021-09-18 11:53] cmsbuild commented on #35301
The cleanup has started for cc8_aarch64_gcc9

[2021-09-18 11:53] cmsbuild commented on #35301
The cleanup has started for slc7_aarch64_gcc9

[2021-09-18 11:53] cmsbuild commented on #35301
The cleanup has started for slc7_amd64_gcc900

[2021-09-18 11:53] cmsbuild commented on #35301
The cleanup has started for cc8_ppc64le_gcc9

[2021-09-18 11:53] cmsbuild commented on #35301
The cleanup has started for slc7_ppc64le_gcc9

[2021-09-18 11:53] cmsbuild commented on #35301
The cleanup has started for cc8_amd64_gcc9

[2021-09-18 11:53] cmsbuild commented on #35301
The cleanup has started for slc7_amd64_gcc10

[2021-09-18 11:53] #35301 closed

[2021-09-18 11:53] cmsbuild commented on #35301
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre3-cc8_aarch64_gcc9/1780

[2021-09-18 11:53] cmsbuild commented on #35301
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre3-cc8_amd64_gcc9/1781

[2021-09-18 11:53] cmsbuild commented on #35301
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre3-cc8_ppc64le_gcc9/1782

[2021-09-18 11:53] cmsbuild commented on #35301
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre3-slc7_aarch64_gcc9/1783

[2021-09-18 11:53] cmsbuild commented on #35301
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre3-slc7_amd64_gcc10/1784

[2021-09-18 11:53] cmsbuild commented on #35301
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre3-slc7_amd64_gcc900/1785

[2021-09-18 11:53] cmsbuild commented on #35301
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre3-slc7_ppc64le_gcc9/1786

[2021-09-20 07:02] smuzaffar commented on #32338
@kpedro88 , is this still an open issue?

[2021-09-20 07:04] smuzaffar commented on #32356
@slava77 , should we close this issue now?

[2021-09-20 07:05] smuzaffar commented on #32347
@mariadalfonso , was this issue resolved?

[2021-09-20 07:19] smuzaffar commented on #32154
@makortel , we have not seen this crash in recent days so may be this is resolved now?

[2021-09-20 07:53] mariadalfonso commented on #32347
@smuzaffar  not yet resolved

[2021-09-20 08:24] jan-kaspar commented on #33080
This change was finally included in #33415 - closing this issue.

[2021-09-20 08:24] #33080 closed

[2021-09-20 09:35] sbein commented on #35243
Hi @perrotta sorry for my delayed reply. I had to review the changes a few times in #35056. It looks ok, like mostly just the small coding tweaks for the migration consistent with

https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideHowToGetDataFromES#Getting_data_from_EventSetup_wit

Is there anything else that needs to be modified here, or is approving this the last step?

[2021-09-20 12:10] slava77 commented on #32356
+reconstruction

[2021-09-20 12:10] #32356 closed

[2021-09-20 12:10] cmsbuild commented on #32356
This issue is fully signed and ready to be closed.

[2021-09-20 14:05] #32154 closed

[2021-09-20 14:19] kpedro88 commented on #32338
@smuzaffar can you fix the bot so it stops removing my labels?

I don't recall observing these spurious differences recently, but I'm also not aware of a particular PR that would have fixed them. Current L2s are probably more attentive to this than I am.

[2021-09-20 14:21] tvami commented on #35304
@francescobrivio since the PR has been submitted, please close this issue

[2021-09-20 14:25] francescobrivio commented on #35304
Solved by #35322

[2021-09-20 14:25] #35304 closed

[2021-09-20 15:54] makortel commented on #35243
The question of this issue is mainly about `FamosManager` and `FamosProducer` that were not migrated in https://github.com/cms-sw/cmssw/pull/35056 because they appear to be unused. They should be either migrated or removed.

[2021-09-20 16:34] jfernan2 commented on #35304
+1
For the records

[2021-09-20 16:55] missirol opened #35344 "`CkfTrackCandidateMaker` lacks `fillDescriptions` method"
It was noted in #35309 that the plugin `CkfTrackCandidateMaker` is currently lacking a `fillDescriptions` method (see [comment](https://github.com/cms-sw/cmssw/pull/35309#discussion_r712333199)).

I was wondering if (tracking?) experts could have a look.

[2021-09-20 16:56] cmsbuild commented on #35344
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-20 17:02] cmsbuild commented on #35344
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-20 17:23] slava77 commented on #35344
@mtosi @vmariani @mmusich
please check and perhaps assign to someone in TRK POG.
Thank you.

[2021-09-20 19:45] pcanal commented on #30493
@wddgit Thanks for the detailed information.  I am reviewing if there is a good practical solution.

[2021-09-21 01:33] #35225 closed

[2021-09-21 07:22] mmusich commented on #35344
@slava77 @missirol
At the moment there's no manpower available for this in the POG.
If it's urgent please feel free to implement it - we'll review.
Thanks

[2021-09-21 09:44] sbein commented on #35243
Ok a pull request has been opened for the removal of the Famos producer/manager, its associated package, and no-longer usable config file:
https://github.com/cms-sw/cmssw/pull/35352

[2021-09-21 19:57] Dr15Jones commented on #29412
So looking at the code, the numbers can be changing on one thread by being read out on another. They are all `std::atomic` so the values themselves are fine, but doing arithmetic on multiples of them while is is happening is not guaranteed to give a meaningful result every time.  I'm protecting the `sqrt` with an internal `abs` so at least we will get a number.

[2021-09-22 01:01] #32475 closed

[2021-09-22 08:51] smuzaffar commented on #35212
@herndon , can we close this issue?

[2021-09-22 13:46] herndon commented on #35212
Yes, the proposed solution worked for me.

- thanks - Matt Herndon

On Sep 22, 2021, at 3:51 AM, Malik Shahzad Muzaffar ***@***.******@***.***>> wrote:

@herndon<https://github.com/herndon> , can we close this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/35212#issuecomment-924720747>, or unsubscr

[2021-09-22 13:54] VinInn opened #35370 "define (and use) single variable constexpr for "magic" number used in device code"
constexpr arrays are not supported in CUDA even if sometimes happen to compile

see https://godbolt.org/z/WfqGvs6Gs

cmssw code https://cmssdt.cern.ch/dxr/CMSSW/source/RecoLocalTracker/SiPixelClusterizer/plugins/gpuClusterChargeCut.h#89

or the new use in
https://github.com/cms-sw/cmssw/pull/35285#discussion_r713500889

Much better to define a single variable for this and few other cases (also to

[2021-09-22 13:55] cmsbuild commented on #35370
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-22 13:55] VinInn commented on #35370
assign heterogeneous

[2021-09-22 13:56] makortel commented on #35370
assign reconstruction, heterogeneous

[2021-09-22 13:56] cmsbuild commented on #35370
New categories assigned: heterogeneous,reconstruction

@slava77,@fwyzard,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-22 14:10] fwyzard commented on #35370
@VinInn this seems to work:
[code]

[2021-09-22 14:16] fwyzard commented on #35370
Note that `constexpr` should be enough for scalars - only the array is an issue (likely because its address cannot be the same on cpu and gpu).

[2021-09-22 14:32] VinInn commented on #35370
@fwyzard will see how to incorporate that in cudaCompat

[2021-09-22 14:38] fwyzard commented on #35370
just a comment: cudaCompat is based on
[code]

for this we should instead base the check on
[code]
because it applies to device vs host code, irrespective if the host code is compiled in CUDA mode (which sets `__CUDACC__` both on the host or device) and C++ mode (which never sets `__CUDACC__`).

[2021-09-22 16:51] cvuosalo commented on #35109
I ran workflow 11634.911 thirty times in CMSSW_12_1_X_2021-09-20-1100 with identical results each time. It appears the instability has gone away.

[2021-09-22 17:47] VinInn commented on #35370
most probably a simple
[code]

will do the trick. will see. (I wait #35285 to be merged in a IB)

[2021-09-22 21:18] swagata87 opened #35374 "EtaExtendedElectrons to be allowed in PF in 12_4_X"
We are trying to put in EtaExtendedElectrons in 12_1_X.
Relevant PR https://github.com/cms-sw/cmssw/pull/35309
But these new EtaExtendedElectrons will not have appropriate PF ID and suitable energy regression.

So in 12_1_X, we will not allow them into particle flow. They stay only in GED electron collection.

It is done via the following switch in `RecoParticleFlow/PFProducer/python/particleFlow_

[2021-09-22 21:18] cmsbuild commented on #35374
A new Issue was created by  @swagata87 Swagata Mukherjee.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-22 21:44] makortel commented on #35374
assign reconstruction

[2021-09-22 21:45] cmsbuild commented on #35374
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-23 07:36] VinInn commented on #35370
Sorry, this is what all Heterogeneous frameworks do.... (including cuda_runtime.h)

[2021-09-23 07:59] fwyzard commented on #35370
Mhm, not really; `cuda_runtime.h` (re)defines only the CUDA-specific keywords (`__host__`, `__device__`, `__global__`, etc.), not the C++ keywords like `constexpr`.

More importantly, I think that something like
[code]
in a header file will risk pushin *a lot* of `constexpr` objects (aggregates, whatever) to the GPU, which will use memory, initialisation time, etc.

I would prefer a more explicit

[2021-09-23 08:04] fwyzard opened #35376 "reproducibility of GPU vs CPU results at HLT"
Tests done in multiple recent releases have shown that the HLT results are not consistent when running on GPU vs on CPU.

Here are the instruction to reproduce the issue using
  - `CMSSW_12_1_0_pre3`
  - the HLT menu included in that release, `/dev/CMSSW_12_1_0/GRun/V1`
  - a recent Run-3 relval sample of TTbar, `/RelValTTbar_14TeV/CMSSW_12_0_0_pre6-PU_120X_mcRun3_2021_realistic_v4_JIRA_129-v1/GEN

[2021-09-23 08:04] fwyzard commented on #35376
assign hlt, heterogeneous

[2021-09-23 08:04] cmsbuild commented on #35376
New categories assigned: heterogeneous,hlt

@fwyzard,@Martin-Grunewald,@makortel,@missirol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-23 08:04] cmsbuild commented on #35376
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-23 08:05] fwyzard commented on #35376
@silviodonato now there is a GitHuib issue...

[2021-09-23 08:05] fwyzard commented on #35376
assign trk-dpg-l2

[2021-09-23 08:06] fwyzard commented on #35376
assign hcal-dpg-l2

[2021-09-23 08:06] VinInn commented on #35370
ok, given that for the time being we just need "96" I will then define a constant ```kFirstModuleAfterFirstLayer" and that's it.

[2021-09-23 08:07] fwyzard commented on #35376
The HCAL discrepancies are being addressed by @mariadalfonso in #35355 / #35357

[2021-09-23 08:08] fwyzard commented on #35376
@smuzaffar how do I assign an issue to the DPGs ?
`assign trk-dpg-l2` does not seem to work

[2021-09-23 08:13] mmusich commented on #35376
assign trk-dpg

[2021-09-23 08:14] cmsbuild commented on #35376
New categories assigned: hcal-dpg,trk-dpg

@mmusich,@georgia14,@tsusa,@mseidel42 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-23 08:20] fwyzard commented on #35376
thanks

[2021-09-23 10:50] VinInn commented on #35376
what does ```Other ``` mean?

[2021-09-23 10:53] fwyzard commented on #35376
`Other` means that the `EDFilter` responsible for accepting/rejecting the event (*i.e.* the last module that runs on a path) is different in the two cases; it's usually safe to ignore.

[2021-09-23 12:14] VinInn commented on #35376
Than it would be better to run with 1K or even 10K events just to understand which are seriously systematic affected.
IMHO the only worth a deeper analysis from the list above are the two HLT_DoubleMu4 events and what is going on with all those HLT_QuadPFJet and their various combinatorial thresholds...

[2021-09-23 13:04] srimanob commented on #20558
Do we need to progress on this, or we are waiting for something?
Testing nb[1,2] on Phase-2 PU200 with 12_1_0_pre3 seems OK. The timing is not significant, compared to RECO.

Thanks.

[2021-09-23 14:07] kpedro88 commented on #20558
ECFs are definitely still used. It would be useful to do a clear benchmark of the speed of this calculation in different releases with 200PU before closing this issue.

[2021-09-23 15:04] mmusich commented on #35344
@slava77 @missirol
I came up with https://github.com/cms-sw/cmssw/pull/35385 in the spare time. It's completely un-validated at this point, but feel free to comment if that's what you need (in the meanwhile I'll run privately integration tests).

[2021-09-23 15:12] slava77 commented on #35370
`CONSTEXPR_DATA` (with perhaps a variation on the name) looks good to me.
does `_HD` for host-device make sense in this context?