[2019-04-01 05:43] cmsbuild commented on #26296
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre3-slc7_amd64_gcc700/1319

[2019-04-01 05:44] cmsbuild commented on #26296
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre3-slc7_amd64_gcc820/1323

[2019-04-01 05:46] cmsbuild commented on #26296
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre3-slc7_amd64_gcc700/1322

[2019-04-01 05:47] cmsbuild commented on #26296
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre3-slc7_amd64_gcc820/1320

[2019-04-01 15:05] #26242 closed

[2019-04-02 07:04] rekovic commented on #26071
@kpedro88
Thanks.

[2019-04-02 08:09] fabiocos opened #26317 "Failure in wf 10424.0 due to missing GEM record"
After merging #26275 a new failure in step2 of wf 10424.0 appears:

[code]

It looks like a problem with one of the refreshed tags

[2019-04-02 08:09] cmsbuild commented on #26317
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-02 08:10] fabiocos commented on #26317
assign alca

[2019-04-02 08:10] cmsbuild commented on #26317
New categories assigned: alca

@tocheng,@pohsun,@franzoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-02 09:26] tocheng commented on #26317
@fabiocos PR #26318 is submitted and being tested.

[2019-04-02 13:48] slava77 commented on #26182
I managed to get a \~simple test with code in CMSSW which leads to the same problem.

[code]

The original problematic case in https://hypernews.cern.ch/HyperNews/CMS/get/physTools/3647.html is similarly connected to instantiating ```HLTPrescaleProvider```.
Somehow call to a constructor of ```HLTPrescaleProvider``` leads to materialization of the "ghost" branches in the input file.

@Dr15Jones wha

[2019-04-02 13:57] slava77 commented on #26182
```catch throw``` in gdb gives:

[code]

[2019-04-02 14:33] slava77 commented on #26182
with linenumbers (this is CMSSW_10_2_10)

[code]

The same problem is present in CMSSW_10_6_0_pre3

[2019-04-02 14:58] Dr15Jones commented on #22135
`UnscheduledCallProducer::runNowAsync` is called ultimately by `StreamSchedule::processOneStreamAsync` on line 451. That is within another task which has the doneTask passed to `UnscheduledCallProducer::runNowAsync`  being held by a `WaitingTaskHolder` in the outer task.

[2019-04-02 15:00] Dr15Jones commented on #22135
`Path::runAllModulesAsync` is also called by that same outer task only line 444 and 448.

[2019-04-02 16:04] wddgit commented on #22135
You are right. I saw the lambda in processOneStreamAsync capturing doneTask but missed that it is also capturing the WaitingTaskHolder(doneTask). Must be something else causing the problem. Sorry for the noise.

[2019-04-03 08:06] #25990 closed

[2019-04-03 08:07] fabiocos commented on #25991
I consider this plan of work as finalized.

[2019-04-03 08:07] #25991 closed

[2019-04-03 08:08] #25362 closed

[2019-04-03 08:11] fabiocos commented on #25792
@smuzaffar the bot is seeing this as still uploading, and not closing because of that?

[2019-04-03 08:11] cmsbuild commented on #25792
Generating release notes since CMSSW_10_5_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-03 08:11] cmsbuild commented on #25792
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_5_0_pre1_ROOT614 is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_5_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_5_0_pre1_ROOT614

Cheers,
cms-bot

You can also click <a href="mail

[2019-04-03 08:12] cmsbuild commented on #25792
Generating release notes since CMSSW_10_5_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-03 08:12] cmsbuild commented on #25792
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_5_0_pre1_ROOT614 is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_5_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_5_0_pre1_ROOT614

Cheers,
cms-bot

You can also click <a href="mail

[2019-04-03 08:12] cmsbuild commented on #25792
The cleanup has started for slc7_amd64_gcc700

[2019-04-03 08:12] #25792 closed

[2019-04-03 08:12] cmsbuild commented on #25792
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre1_ROOT614

[2019-04-03 08:12] fabiocos commented on #26188
@smuzaffar should these builds be closed manually?

[2019-04-03 08:12] cmsbuild commented on #25792
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_5_0_pre1_ROOT614

[2019-04-03 12:06] chayanit opened #26333 "Illegal parameter found in configuration, named skipEvents"
Dear experts,

I have been working on Relval code which taking LHE input stored at EOS and tested them by injection on batch system [*]. But it complained error about illegal parameter found in configuration. The parameter is named: 'skipEvents'. If you look into my cfg file, I don't have this parameter implemented in my code (https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/36d1ae1a37132b62f4c9

[2019-04-03 12:06] cmsbuild commented on #26333
A new Issue was created by  @chayanit Chayanit Asawatangtrakuldee.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-03 12:30] Dr15Jones commented on #26333
As stated in the hypernews post on this subject, the parameter is being added to your configuration by the workflow management system. I downloaded the configuration being run on the worknodes and then dumped the configuration of the source
[code]
This is not being added by CMSSW.

I did see that there is a bug in the LHESource since it is supposed to accept `skipEvents` but recent addition of cod

[2019-04-03 12:54] Dr15Jones commented on #26333
#26334 fixes the validation to properly accept the skipEvents parameter.

[2019-04-03 12:58] rappoccio commented on #26115
Closed with https://github.com/cms-sw/cmssw/pull/26125.

[2019-04-03 12:58] #26115 closed

[2019-04-03 18:08] dildick opened #26345 "Recommended clang style format?"
I was asked to apply the google clang format (`clang-format -i -style=google`) on new files in a recent PR. Is this recommendation shared by most CMS L1's and L2's? Should I be following a  custom CMS style instead?

[2019-04-03 18:08] cmsbuild commented on #26345
A new Issue was created by  @dildick Sven Dildick.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-03 18:11] davidlange6 commented on #26345
soon (eg, this week) there shouldl be a .clang-format to follow in CMSSW.

[2019-04-03 18:28] #26345 closed

[2019-04-03 20:05] bainbrid commented on #25991
For the record:

@prebello reports warnings/errors when running on data with EarlyReReco2018 conditions, found in this log ```/afs/cern.ch/user/p/prebello/public/forBparking/test.log```, as reported [here](https://its.cern.ch/jira/browse/PDMVRERECO-12). The command used is below:
[code]
The warnings/errors that appear to relate to the low pT electron code are listed below.

Comments welcome. @mver

[2019-04-03 20:31] perrotta commented on #25991
Couldn't issue nr (2) be just due to some rounding effect?

Line https://github.com/cms-sw/cmssw/blob/master/DataFormats/TrackerRecHit2D/interface/SiPixelRecHitQuality.h#L134 says:
[code]
and the log reports that prob is equal to "1" (as a float)

[2019-04-03 21:10] fabiocos commented on #26317
Problem solved, @tocheng thank you

[2019-04-03 21:10] #26317 closed

[2019-04-03 21:12] #25981 closed

[2019-04-03 21:35] fabiocos opened #26348 "Testing lumi section boundaries in relval"
In order to probe the FWK capability to run concurrent lumi sections (see https://indico.cern.ch/event/808002/contributions/3363746/attachments/1822355/2981266/Framework_Status_OC_Spring_2019.pdf slide 4), and test in general the code behaviour across boundaries, it would be useful to setup a few workflows (one MC starting from LHE and one real data) where two lumi sections are checked in the job.

[2019-04-03 21:36] cmsbuild commented on #26348
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-03 21:36] fabiocos commented on #26348
assign pdmv

[2019-04-03 21:36] cmsbuild commented on #26348
New categories assigned: pdmv

@prebello,@zhenhu,@pgunnell you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-04 02:01] chayanit commented on #26333
Hi @Dr15Jones , thank you for the fix! from your reply on HN, I was also trying to reach some people from operations (I assumed someone from computing) and opened JIRA ticket (https://its.cern.ch/jira/browse/CMSCOMPPR-5297#add-comment) but as I didn't receive any feedback so it seems I went to wrong group. Anyway, thanks again for your help.
Chayanit

[2019-04-04 07:15] fabiocos commented on #26333
@chayanit this issue implies a follow-up in #26348

[2019-04-04 13:37] ianna commented on #25876
+1

@cvuosalo now that it has been discussed and agreed we can close the issue.

[2019-04-04 13:37] #25876 closed

[2019-04-04 13:37] cmsbuild commented on #25876
This issue is fully signed and ready to be closed.

[2019-04-04 14:11] fabiocos commented on #26299
@prebello @zhenhu FYI, we need a technical validation of this build as a follow-up of what done in 10_5_0_pre1. We also need to add re-miniAOD workflows to the standard set of samples that people looks at (we had an issue there that went unnoticed in the previous validation campaign).

[2019-04-04 14:14] zhenhu commented on #26299
Hi @fabiocos , thank you for the reminder. We will start to produce relvals today.

[2019-04-04 14:41] davidlange6 commented on #26082
#26358 is the new proposal. please complain by tomorrow..

[2019-04-04 15:05] fwyzard commented on #26082
How do I tell scram to run clang-format ?

[2019-04-04 15:09] davidlange6 commented on #26082
i've just been doing

find . -regex '.*\.\(cpp\|hpp\|cc\|cxx\|h\)' | xargs clang-format -i

[2019-04-04 15:31] fwyzard commented on #26082
Yep, I ended up dong something similar.

One thing I do not like much is that it disrupts the hand-made alignment of `type     variable;`:
[code]
though I guess that was intended.

The other is that it tends to get confused between comments and commented-out lines:
[code]
but I don't think we can do anything about it (apart from removing the commented out lines).

[2019-04-05 14:40] abrinke1 commented on #26011
Hi @apana ,
Any progress on this?
Andrew, @rekovic , @davignon

[2019-04-05 15:19] apana commented on #26011
Yes.  I hoping to put the PR in today.

[2019-04-06 20:53] apana commented on #26011
Hi Andrew. The PR that fixes the issues with the circular dependency has been submitted. It's #26378.  Apologies for the delay. @abrinke1, @fabiocos, @rekovic, @davignon

[2019-04-06 23:33] abrinke1 commented on #26011
Thanks, @apana !

[2019-04-08 14:11] Sam-Harper opened #26385 "Unit tests in TauAnalysis/MCEmbeddingTools fail"
Dear All,

When running the unit tests for TauAnalysis/MCEmbeddingTools

MSG-w XrdAdaptorInternal:  file_open 08-Apr-2019 15:57:35 CEST pre-events
Failed to open file at URL root://cms-xrd-global.cern.ch:1094//store/user/swayand/Emmbeddingfiles/Emmbedding_testInput3.root?tried=+1213llrxrd-redir.in2p3.fr,.
%MSG
----- Begin Fatal Exception 08-Apr-2019 15:57:35 CEST-----------------------
An exceptio

[2019-04-08 14:12] cmsbuild commented on #26385
A new Issue was created by  @Sam-Harper Sam Harper.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-08 14:18] slava77 commented on #26385
@rmanzoni @steggema @mbluj @swozniewski
please take a look and forward to someone who can address the issue.
Thank you.

[2019-04-08 14:33] rmanzoni commented on #26385
@roger-wolf should know better

[2019-04-08 14:36] swozniewski commented on #26385
I'll ask the embedding guys in our group.

[2019-04-08 14:54] janekbechtel commented on #26385
The file was indeed removed, however the code that is being tested is deprecated anyhow, so the test can be disabled from our side.

[2019-04-08 16:27] fabiocos opened #26388 "Random failures in CondTools/SiStrip O2O unit test"
We have observed recently non systematic failures in the unit test SiStripDAQ_O2O_test 👍

[code]

[2019-04-08 16:28] cmsbuild commented on #26388
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-08 16:28] fabiocos commented on #26388
assign db

[2019-04-08 16:28] cmsbuild commented on #26388
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-09 08:49] #26182 closed

[2019-04-09 09:31] peruzzim commented on #26163
please follow up on cms-nanoAOD#309

[2019-04-09 09:57] fabiocos opened #26396 "Build CMSSW_10_2_13_patch1"

[2019-04-09 09:58] cmsbuild commented on #26396
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-09 09:58] fabiocos commented on #26396
+1

[2019-04-09 09:58] cmsbuild commented on #26396
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_13_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-04-09 09:58] cmsbuild commented on #26396
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-04-09 09:59] cmsbuild commented on #26396
The build has started for slc6_amd64_gcc700 in cmsbuild98.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2015/console
CMSDIST Branch: [REL/CMSSW_10_2_13/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_13/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-09 09:59] cmsbuild commented on #26396
The build has started for slc7_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2016/console
CMSDIST Branch: [REL/CMSSW_10_2_13/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_13/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-09 10:23] davidlange6 commented on #26082
ok #26398 should be it.

[2019-04-09 10:26] davidlange6 commented on #26082
I'd propose getting a slide into the joint plenary talk of Markus tomorrow to advertise that this is coming (with the additional potential clang-tidy change at the same time to be determined). Objections?

[2019-04-09 10:41] cmsbuild commented on #26396
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_13_patch1-slc6_amd64_gcc700/2015
Some

[2019-04-09 11:21] cmsbuild commented on #26396
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_13_patch1-slc7_amd64_gcc700/2016
Some

[2019-04-09 11:40] Dr15Jones commented on #26082
Sounds good

[2019-04-09 11:57] IzaakWN commented on #26163
Just for reference: the PR to the `master-102X` branch of `cms-nanoAOD/cmssw`: https://github.com/cms-nanoAOD/cmssw/pull/305

[2019-04-09 12:11] Dr15Jones commented on #26246
+1

[2019-04-09 12:12] #26246 closed

[2019-04-09 12:12] cmsbuild commented on #26246
This issue is fully signed and ready to be closed.

[2019-04-09 12:44] cmsbuild commented on #26396
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_13_patch1-slc6_amd64_gcc700/2015

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-04-09 13:13] cmsbuild commented on #26396
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_13_patch1-slc7_amd64_gcc700/2016

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-04-09 14:42] steggema opened #26406 "Save ECAL/HCAL energy fractions in MiniAOD for all PF charged hadrons"
@peruzzim @rmanzoni @mbluj @slava77 @fgolf

Following a discussion in today's XPOG meeting, and based on the new possibility to rerun tau reconstruction on MiniAOD input, we propose to save ECAL and HCAL energy fractions for all PF charged hadrons in MiniAOD, which will enable us to have improved e->tauh and muon->tauh rejection for taus reconstructed from MiniAOD. This would be great to have for

[2019-04-09 16:00] fabiocos commented on #26396
upload all

[2019-04-09 16:01] cmsbuild commented on #26396
Queing Jenkins upload for slc6_amd64_gcc700

[2019-04-09 16:01] cmsbuild commented on #26396
Queing Jenkins upload for slc7_amd64_gcc700

[2019-04-09 16:03] cmsbuild commented on #26396
The upload has started for slc6_amd64_gcc700 in cmsbuild98.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1318/console

[2019-04-09 16:04] cmsbuild commented on #26396
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_13_patch1-slc6_amd64_gcc700/1318

[2019-04-09 16:05] cmsbuild commented on #26396
The upload has started for slc7_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1319/console

[2019-04-09 16:05] cmsbuild commented on #26396
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_13_patch1-slc7_amd64_gcc700/1319

[2019-04-09 16:26] fabiocos commented on #26396
release-notes

[2019-04-09 16:27] cmsbuild commented on #26396
Generating release notes since CMSSW_10_2_13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-09 16:27] cmsbuild commented on #26396
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_13_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_13_patch1

Cheers,
cms-bot

You can also click <a h

[2019-04-09 16:28] cmsbuild commented on #26396
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_13_patch1

[2019-04-10 12:11] rekovic commented on #25785
@fabiocos
From the physics performance point of view the provided fix in #26208 has been confirmed as satisfactory by the OMTF experts.

The issue can be closed.

[2019-04-10 12:11] rekovic commented on #25785
+1

[2019-04-10 12:12] cmsbuild commented on #25785
This issue is fully signed and ready to be closed.

[2019-04-10 14:55] chayanit commented on #26333
@Dr15Jones , sorry for my ignorance. Does this fix need to be merged first and re-test with new release? Can I test by adding this debugging line in my local area under 10_6_0_pre2 and resubmit batch jobs? I guess not as it failed again https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=CMSSW_10_6_0_pre2__fullsim_noPU_2017_testpLHErelval_rsb-1554351600-GluGluHToGG_M125_Pow_MINLO_NN

[2019-04-10 15:08] Dr15Jones commented on #26333
@chayanit you'll have to speak to an expert on McM (or what ever workflow system you use) to see how to get user built code to run. That is not something controlled by CMSSW.

[2019-04-10 15:18] prebello commented on #26333
@chayanit let's wait for pre4 then. Thank you @Dr15Jones

[2019-04-10 15:20] davidlange6 commented on #26333
lets hope it continues not to be possible to run random code in production.. Releases are there so we know what we run

[2019-04-10 15:49] chayanit commented on #26333
ok thank you @Dr15Jones

[2019-04-11 08:29] peruzzim commented on #26406
I would suggest you first try to run a standard MINIAOD production (take e.g. as a reference one of the ongoing campaigns) on 10000 TTBar events (running on too few events makes the estimate not very reliable, also because of compression).

Then, the standard testing workflows will also test the size automatically.

[2019-04-11 14:12] ggovi commented on #26388
@mmusich
Hello Marco, who can give advice on this?

[2019-04-11 14:35] mmusich commented on #26388
Ciao @ggovi
adding @ocolegro @hqucms @quinnanm to cc

[2019-04-11 14:38] cmsbuild commented on #26396
The cleanup has started for slc6_amd64_gcc700

[2019-04-11 14:38] cmsbuild commented on #26396
The cleanup has started for slc7_amd64_gcc700

[2019-04-11 14:38] #26396 closed

[2019-04-11 14:42] cmsbuild commented on #26396
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_13_patch1-slc7_amd64_gcc700/1328

[2019-04-11 14:43] cmsbuild commented on #26396
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_13_patch1-slc6_amd64_gcc700/1327

[2019-04-11 15:35] makortel opened #26438 "Prune non-consumed EDProducers that are only in Tasks"
If a configuration contains an EDProducer in a `Task` (and only in `Task`s) that is not consumed by the chain of consumes starting from the output modules, the `produce()` of such an EDProducer is not run, but all other transition functions are. This behavior may be confusing.

The behavior becomes even more confusing with `SwitchProducer` that intentionally injects all the case-producers into the

[2019-04-11 15:35] cmsbuild commented on #26438
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-11 15:44] kpedro88 opened #26439 "Build CMSSW_7_1_38_patch1"

[2019-04-11 15:44] cmsbuild commented on #26439
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-11 15:45] kpedro88 commented on #26439
+1

[2019-04-11 15:45] cmsbuild commented on #26439
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_38_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-04-11 15:45] cmsbuild commented on #26439
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-04-11 15:46] cmsbuild commented on #26439
The build has started for slc6_amd64_gcc481 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2017/console
CMSDIST Branch: [REL/CMSSW_7_1_38/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_38/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-04-11 15:48] kpedro88 opened #26440 "Build CMSSW_9_4_13_patch4"

[2019-04-11 15:48] cmsbuild commented on #26440
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-11 15:49] hqucms commented on #26388
This line
[code]
in https://github.com/cms-sw/cmssw/blob/master/CondTools/SiStrip/python/SiStripO2O_cfg_template.py#L29 is probably the only one that can cause the type of error like `TypeError: 'NoneType' object is not iterable`. The error could happen if the `.netrc` file for authentication is missing, or it does not contain the entry needed (`cms_omds_tunnel/cms_trk_r`).

As a proof,

[code]

[2019-04-11 15:52] kpedro88 commented on #26440
+1

[2019-04-11 15:52] cmsbuild commented on #26440
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_patch4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-04-11 15:52] cmsbuild commented on #26440
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-04-11 15:53] Dr15Jones commented on #26438
assign core

[2019-04-11 15:54] cmsbuild commented on #26438
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-11 15:54] cmsbuild commented on #26440
The build has started for slc6_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2018/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-11 15:54] cmsbuild commented on #26440
The build has started for slc7_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2019/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-11 15:56] Dr15Jones commented on #26438
Producers explicitly on a Path/EndPath should not be pruned. Only Producers on Tasks could be potentially pruned.

[2019-04-11 15:58] mmusich commented on #26388
this looks like something for @smuzaffar ?

[2019-04-11 16:08] cmsbuild commented on #26439
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_38_patch1-slc6_amd64_gcc481/2017
Some t

[2019-04-11 16:18] cmsbuild commented on #26439
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_38_patch1-slc6_amd64_gcc481/2017

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-04-11 16:21] cmsbuild commented on #26440
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch4-slc7_amd64_gcc630/2019
Some t

[2019-04-11 16:52] cmsbuild commented on #26440
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch4-slc6_amd64_gcc630/2018
Some t

[2019-04-11 16:52] cmsbuild commented on #26440
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch4-slc6_amd64_gcc630/2018
Some t

[2019-04-11 16:53] cmsbuild commented on #26440
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch4-slc6_amd64_gcc630/2018
Some t

[2019-04-11 17:02] cmsbuild commented on #26440
The build has started for slc6_amd64_gcc630 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2020/console
CMSDIST Branch: [REL/CMSSW_9_4_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-11 17:29] cmsbuild commented on #26440
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch4-slc6_amd64_gcc630/2020
Some t

[2019-04-11 17:42] cmsbuild commented on #26440
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch4-slc7_amd64_gcc630/2019

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-04-11 18:34] cmsbuild commented on #26440
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_13_patch4-slc6_amd64_gcc630/2020

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-04-11 21:01] makortel commented on #26438
Good point, I edited the issue description and the title accordingly.

[2019-04-11 22:31] kpedro88 commented on #26439
upload all

[2019-04-11 22:31] kpedro88 commented on #26440
upload all

[2019-04-11 22:32] cmsbuild commented on #26439
Queing Jenkins upload for slc6_amd64_gcc481

[2019-04-11 22:32] cmsbuild commented on #26440
Queing Jenkins upload for slc6_amd64_gcc630

[2019-04-11 22:32] cmsbuild commented on #26440
Queing Jenkins upload for slc7_amd64_gcc630

[2019-04-11 22:33] cmsbuild commented on #26439
The upload has started for slc6_amd64_gcc481 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1320/console

[2019-04-11 22:34] cmsbuild commented on #26439
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_38_patch1-slc6_amd64_gcc481/1320

[2019-04-11 22:34] cmsbuild commented on #26440
The upload has started for slc7_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1322/console

[2019-04-11 22:34] cmsbuild commented on #26440
The upload has started for slc6_amd64_gcc630 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1321/console

[2019-04-11 22:34] cmsbuild commented on #26440
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_patch4-slc7_amd64_gcc630/1322

[2019-04-11 22:35] kpedro88 commented on #26439
release-notes since CMSSW_7_1_38

[2019-04-11 22:35] cmsbuild commented on #26440
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_13_patch4-slc6_amd64_gcc630/1321

[2019-04-11 22:36] cmsbuild commented on #26439
Generating release notes since CMSSW_7_1_38.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-11 22:36] cmsbuild commented on #26439
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_38_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_38 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_38_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2019-04-11 22:37] cmsbuild commented on #26439
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_38_patch1

[2019-04-11 22:52] kpedro88 commented on #26440
release-notes since CMSSW_9_4_13_patch3

[2019-04-11 22:52] cmsbuild commented on #26440
Generating release notes since CMSSW_9_4_13_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-11 22:52] cmsbuild commented on #26440
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_13_patch4 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_13_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_13_patch4

Cheers,
cms-bot

You can also click

[2019-04-11 22:53] cmsbuild commented on #26440
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_13_patch4

[2019-04-12 12:43] alberto-sanchez commented on #25590
ping

[2019-04-12 12:47] davidlange6 commented on #25590
assign hlt

(probably not the right forum for this question)

[2019-04-12 12:48] cmsbuild commented on #25590
New categories assigned: hlt

@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-12 12:58] smuzaffar commented on #26388
@hqucms thanks for the hint. Indeed the .netrc file on afs was missing the entry. This is now fixed. We started to see these errors as now we run unit tests on HTCondor and there cmsbuild home directory was missing this file.

[2019-04-12 13:07] slava77 commented on #26385
I think that the resolution should be to fix the tests.
Otherwise, if the code in  TauAnalysis/MCEmbeddingTools is obsolete and not testable, it should just be removed.

[2019-04-12 13:20] Sam-Harper commented on #26385
I deleted in it in my PR.

[2019-04-12 13:32] slava77 commented on #26385
On 4/12/19 3:20 PM, Sam Harper wrote:

if "it" is the unit test only, then that's not what I would prefer (as
expressed in the previous message).

[2019-04-12 14:33] wddgit opened #26448 "Framework not shutting down cleanly after exception"
A case has been reported where after a primary exception is reported on one stream, the Framework is not cleanly shutting down the other streams. Secondary exceptions are occurring that should never occur unless there is some kind of logic bug in the Framework. We need to investigate this to understand why this is happening and fix it. The following is the exception appearing on the other streams

[2019-04-12 14:33] cmsbuild commented on #26448
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-12 14:42] wddgit commented on #26448
FYI @makortel

[2019-04-12 14:54] Dr15Jones commented on #26448
assign core

[2019-04-12 14:55] cmsbuild commented on #26448
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-12 19:09] makortel commented on #26448
As I described in https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3861/1/1/1.html this exception turned out to be a legitimate one, and caused by a `HLTFilter`-deriving EDFilter being `cms.ignore()`d in the HLT menu. The runUnscheduled customize function treats ignored EDFilters as EDProducers and moves them into a Task, after which the following call in `HLTFilter` no longer works
https:

[2019-04-12 19:10] Dr15Jones commented on #26448
assign hlt

[2019-04-12 19:10] cmsbuild commented on #26448
New categories assigned: hlt

@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-13 20:38] cmsbuild commented on #26439
The cleanup has started for slc6_amd64_gcc481

[2019-04-13 20:38] #26439 closed

[2019-04-13 20:41] cmsbuild commented on #26439
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_38_patch1-slc6_amd64_gcc481/1329

[2019-04-13 20:54] cmsbuild commented on #26440
The cleanup has started for slc6_amd64_gcc630

[2019-04-13 20:54] cmsbuild commented on #26440
The cleanup has started for slc7_amd64_gcc630

[2019-04-13 20:54] #26440 closed

[2019-04-13 20:58] cmsbuild commented on #26440
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_13_patch4-slc6_amd64_gcc630/1330

[2019-04-14 14:05] Dr15Jones opened #26452 "Thread safety issue in HGCalCLUEAlgo"
A release validation job appears to have been stuck in an infinite loop during a call to HGCalCLUEAlgo::setDensity.

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_X_2019-04-13-1100/pyRelValMatrixLogs/run/23234.0_TTbar_14TeV+TTbar_14TeV_TuneCUETP8M1_2023D36_GenSimHLBeamSpotFull14+DigiFullTrigger_2023D36+RecoFullGlobal_2023D36+HARVESTFullGlobal_2023D36/step3_TTbar_14TeV+T

[2019-04-14 14:06] cmsbuild commented on #26452
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-14 14:11] Dr15Jones commented on #26452
The relevant part of the job log is

[code]

1. Things to notice, the time between the last normal event printout and the time stamp for the stack dump is nearly 2 hours.
1. Only one thread is presently doing any work. This means all the other streams have finished processing their events and have nothing else to do. Also, HGCalCLUEAlgo is using multiple TBB tasks (via a parallel_for) but only one

[2019-04-14 14:11] Dr15Jones commented on #26452
assign upgrade

[2019-04-14 14:11] cmsbuild commented on #26452
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-14 15:02] kpedro88 commented on #26452
@rovere @felicepantaleo please take a look

it seems like `density_` may need to become a local variable inside the loop to avoid data races

[2019-04-14 15:12] kpedro88 opened #26453 "Build CMSSW_7_1_39"

[2019-04-14 15:13] cmsbuild commented on #26453
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-14 15:13] kpedro88 commented on #26453
build cmssw-tool-conf

[2019-04-14 15:13] cmsbuild commented on #26453
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc481
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-04-14 15:14] cmsbuild commented on #26453
The cmssw-tool-conf build has started for slc6_amd64_gcc481 in cmsbuild28.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2021/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-04-14 16:16] cmsbuild commented on #26453
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc481 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_39-slc6_amd64_gcc481/2021

[2019-04-14 16:35] kpedro88 commented on #26453
+1

[2019-04-14 16:36] cmsbuild commented on #26453
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_39. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-04-14 16:36] cmsbuild commented on #26453
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-04-14 16:37] cmsbuild commented on #26453
The build has started for slc6_amd64_gcc481 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2022/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-04-14 17:58] Dr15Jones commented on #26452
Yes, density_ is not thread safe
https://github.com/cms-sw/cmssw/blob/fa467bf18d18d639d738a71c3c5e0f533a03c285/RecoLocalCalo/HGCalRecProducers/interface/HGCalClusteringAlgoBase.h#L47

[2019-04-14 19:23] cmsbuild commented on #26453
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_39-slc6_amd64_gcc481/2022
Some tests (

[2019-04-14 19:37] cmsbuild commented on #26453
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_39-slc6_amd64_gcc481/2022

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-04-14 22:16] kpedro88 commented on #26453
upload all

[2019-04-14 22:17] cmsbuild commented on #26453
Queing Jenkins upload for slc6_amd64_gcc481

[2019-04-14 22:17] cmsbuild commented on #26453
The upload has started for slc6_amd64_gcc481 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1323/console

[2019-04-14 22:18] cmsbuild commented on #26453
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_39-slc6_amd64_gcc481/1323

[2019-04-14 22:23] kpedro88 commented on #26453
release-notes since CMSSW_7_1_38_patch1

[2019-04-14 22:24] cmsbuild commented on #26453
Generating release notes since CMSSW_7_1_38_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-14 22:24] cmsbuild commented on #26453
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_39 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_38_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_39

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2019-04-14 22:25] cmsbuild commented on #26453
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_39

[2019-04-15 19:30] aperloff opened #26462 "gfal library issue in CMSSW_10_2_X"
I am unable to use the gfal commands after I've done a `cmsenv` for CMSSW_10_2_X (I'm using CMSSW_10_2_11_patch1). See for example:
[code]

which yields:
[code]

This seems to only be a problem after I've done the `cmsenv`. Prior to doing that I am able to use all of the gfal commands. Is something in CMSSW clobbering the python settings needed to use the gfal commands? I realize that gfal is not

[2019-04-15 19:30] cmsbuild commented on #26462
A new Issue was created by  @aperloff Alexx Perloff.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-15 19:34] davidlange6 commented on #26462
are you by chance not consistently using slc6 on slc6 or slc7 on slc7 ?

[2019-04-15 19:36] aperloff commented on #26462
Hi David, I'm using an slc7 CMSSW release on slc7:

[code]

I was also asked to do an ldd of the collectionsmodule.so, so that is below as well.

[code]

[2019-04-15 19:43] davidlange6 commented on #26462
any suggestions for reproducing at cern? (i'm presumably just missing some setup...)

[dlange@lxplus721 ~]$ cd  CMSSW_10_2_11_patch1
[dlange@lxplus721 ~/CMSSW_10_2_11_patch1]$ cmsenv
[dlange@lxplus721 ~/CMSSW_10_2_11_patch1]$ gfal-ls gsiftp://cmseos-gridftp.fnal.gov//eos/uscms/store/user/lpcsusyhad/
Could not find platform independent libraries <prefix>
Could not find platform dependent libraries

[2019-04-15 19:59] aperloff commented on #26462
Hi David, I also get the same thing as you when I try this on lxplus. I don't know why the messages are different. I generally don't work on lxplus, so I know less about that site configuration. I can tell you that I get the same message in tcsh and in bash, which is not much of a surprise.

[code]

[2019-04-16 08:29] mmusich commented on #26388
If it is so, can this issue be closed?

[2019-04-16 08:39] davidlange6 commented on #26462
Hi Alexx

@belforte who likely knows more

I think the difference between our cern and fnal results is the way the system python is configured (possibly)

gflal-ls (at least at cern) uses the system python (hardwired..) - if your system has a 32-bit python (what does print sys.maxsize, sys.maxsize > 2**32 return?) then you would get the error you had at FNAL.

At CERN, I can make things work by re

[2019-04-16 08:47] fabiocos commented on #26388
@mmusich @hqucms thanks

[2019-04-16 08:47] #26388 closed

[2019-04-16 13:09] belforte commented on #26462
ensuring long-term compatibility among those things may be a  bitch
CRAB client works around this and similar issues by forking a process which does
scram unsetenv; gfal-whatever

is that an option here ? (sorry, haven't read the full thread).

[2019-04-16 13:55] aperloff commented on #26462
Hi David,

I believe FNAL has a 64-bit python.
[code]

This matches what I get when I set up CMSSW:
[code]

[2019-04-16 14:00] aperloff commented on #26462
Hi David and Stefano,

I checked into gfal2's source code. It looks like they are compiling against whichever version of python is setup during installation (https://gitlab.cern.ch/dmc/gfal2/blob/develop/cmake/modules/FindPythonEasy.cmake). This then links to some .so (/usr/lib/python2.7/lib-dynload/_collectionsmodule.so)...somehow.

Is there any reason why we don't just add gfal2 to the list of C

[2019-04-16 14:22] belforte commented on #26462
Well... I gave up many years ago on trying to have CMS and Grid software co-exhist, and my life got better !
It is one of those things where at some time things just work, at times they can be made to work with little effort, and at times the two organizations need to a non-compatible change of course on different time scales. We had various horrible hacks, until scram unsetenv came to the rescue

[2019-04-16 16:10] Dr15Jones opened #26468 "Data mixing needs to be updated to handle EventSetup consumes"
The data mixing module is making use of the EventSetup from the 'primary' event loop rather than based on the events being read from the secondary source. If we continue to do so, we need to propagate the EventSetup consumes from the EDProducers internal to the data mixing module to data mixing module itself.

[2019-04-16 16:11] cmsbuild commented on #26468
New categories assigned: core,simulation

@Dr15Jones,@smuzaffar,@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-16 16:11] cmsbuild commented on #26468
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-16 16:13] kpedro88 commented on #26452
@rovere @felicepantaleo this needs to be addressed sooner rather than later

[2019-04-16 16:53] felicepantaleo commented on #26452
ok, I'm starting working on it, I'll make a PR asap

[2019-04-16 17:09] rekovic commented on #26182
Hi @slava77devel and @Dr15Jones
Is there any further insight on the reason why `HLTPrescaleProvider` give rise to "ghost" branches in the input file ?

[2019-04-16 17:15] slava77 commented on #26182
the branch info is present in the file (ROOT or our EDM design).
The point for the update was not to check details for the branches that do not exist as saved data in the file.

[2019-04-16 19:00] aperloff commented on #26462
Hi Stefano, I'd really rather not have a site or node specific solution. If that's what it's going to take then I'm just going to have to tough it up and keep a terminal open just to use grid software and/or rely more heavily on LCG software. This is really frustrating and disappointing.

[2019-04-16 19:22] davidlange6 commented on #26462
presumably distro using a different python (eg, LCG) is going to have the same issue as CMSSW conflicting with gfal unless they distribute it.. (at least at don't see why not). Do you see something different?

[2019-04-16 19:24] aperloff commented on #26462
LCG includes gfal:
Versions with gfal: http://lcginfo.cern.ch/pkg/gfal/
Versions with gfal2: http://lcginfo.cern.ch/pkg/gfal2/

[2019-04-16 20:21] srimanob commented on #26240
I think we have a clear statement on the need on MinBias in validation step. I will close the issue then.

[2019-04-16 20:21] #26240 closed

[2019-04-16 20:22] srimanob commented on #26206
We have cmsDriver that can make thing works, validation will be needed.
The issue can be closed.

[2019-04-16 20:22] #26206 closed

[2019-04-16 20:24] cmsbuild commented on #26453
The cleanup has started for slc6_amd64_gcc481

[2019-04-16 20:24] #26453 closed

[2019-04-16 20:26] cmsbuild commented on #26453
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_39-slc6_amd64_gcc481/1333

[2019-04-16 20:27] cmsbuild commented on #26453
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_39-slc6_amd64_gcc481/1332

[2019-04-16 21:48] peruzzim opened #26473 "New modifiers for future NanoAOD productions"
We would like to introduce modifiers to customise the next NanoAOD productions.
The mechanism for building composite modifiers that act only if both base modifiers are activated is this one, right?

`(mod1 & mod2).toModify(...)`

We need to be able to switch features to run only on UL MiniAOD, so we would like to introduce a new run2_nanoAOD_106Xv1 modifier, as it was done for run2_nanoAOD_102Xv1.

[2019-04-16 21:48] cmsbuild commented on #26473
A new Issue was created by  @peruzzim .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-17 06:57] fabiocos opened #26474 "Build CMSSW_10_2_14"

[2019-04-17 07:00] cmsbuild commented on #26474
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-17 07:08] fabiocos commented on #26474
+1

[2019-04-17 07:10] cmsbuild commented on #26474
The build has started for slc6_amd64_gcc700 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2023/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-17 07:10] cmsbuild commented on #26474
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2024/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-17 11:03] cmsbuild commented on #26474
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_14-slc7_amd64_gcc700/2024
Some tests (

[2019-04-17 12:17] Dr15Jones commented on #26348
There are two parts. One is to test the framework. For that, we already have unit tests which check the correctness. The second is to test all modules used in production to be sure they work as expected when mulitple LuminosityBlocks are running. For that, we need to have tests of each stage (GEN, SIM, DIGI, RECO, etc.).

I believe that would work, yes.

[2019-04-17 13:02] cmsbuild commented on #26474
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_14-slc7_amd64_gcc700/2024

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-04-17 13:22] cmsbuild commented on #26474
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_14-slc6_amd64_gcc700/2023
Some tests (

[2019-04-17 13:35] aperloff commented on #26462
Update: It looks like LCG is also going to drop the gfal tools (https://sft.its.cern.ch/jira/browse/SPI-1295).

[2019-04-17 14:13] Dr15Jones commented on #22135
Another case has happened
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_ROOT6_X_2019-04-16-2300/pyRelValMatrixLogs/run/106.0_bJpsiX+bJpsiX+DIGI+RECO/step1_bJpsiX+bJpsiX+DIGI+RECO.log#/

[code]

[2019-04-17 14:15] Dr15Jones commented on #22135
And yet another one:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_ROOT6_X_2019-04-16-2300/pyRelValMatrixLogs/run/122.0_UpsMM+UpsMM+DIGI+RECO/step1_UpsMM+UpsMM+DIGI+RECO.log#/

[code]

[2019-04-17 14:41] makortel opened #26478 "Fix confusing exception message from incorrect ESProduct label"
The #26449 has a shortcoming leading to confusing exception messages in case an ESProduct is requested with an incorrect product label. Investigation with @Dr15Jones lead to the following findings

- The implementation of `EventSetupRecord::invalidTokenHandle()` is actually the case for not finding a proxy
  * So e.g. the function could be renamed to `noProxyHandle()` and a new function would be c

[2019-04-17 14:41] cmsbuild commented on #26478
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-17 14:46] Dr15Jones commented on #26478
assign core

[2019-04-17 14:47] cmsbuild commented on #26478
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-17 15:20] cmsbuild commented on #26474
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_14-slc6_amd64_gcc700/2023

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-04-17 15:24] fabiocos commented on #26474
upload all

[2019-04-17 15:24] cmsbuild commented on #26474
Queing Jenkins upload for slc6_amd64_gcc700

[2019-04-17 15:24] cmsbuild commented on #26474
Queing Jenkins upload for slc7_amd64_gcc700

[2019-04-17 15:25] cmsbuild commented on #26474
The upload has started for slc6_amd64_gcc700 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1324/console

[2019-04-17 15:25] cmsbuild commented on #26474
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1325/console

[2019-04-17 15:26] cmsbuild commented on #26474
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_14-slc7_amd64_gcc700/1325

[2019-04-17 15:27] cmsbuild commented on #26474
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_14-slc6_amd64_gcc700/1324

[2019-04-17 15:39] fabiocos commented on #26474
release-notes

[2019-04-17 15:40] cmsbuild commented on #26474
Generating release notes since CMSSW_10_2_13_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-17 15:40] cmsbuild commented on #26474
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_14 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_13_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_14

Cheers,
cms-bot

You can also click <a href="mailto:h

[2019-04-17 15:41] cmsbuild commented on #26474
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_14

[2019-04-17 16:01] fabiocos opened #26481 "Build CMSSW_9_4_14_UL"

[2019-04-17 16:01] #26481 closed

[2019-04-17 16:01] cmsbuild commented on #26481
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-17 16:03] fabiocos opened #26482 "Build CMSSW_9_4_14_UL"
ARCHITECTURE:slc7_amd64_gcc630

[2019-04-17 16:04] cmsbuild commented on #26482
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-17 16:05] fabiocos commented on #26482
+1

[2019-04-17 16:05] fabiocos commented on #26482
@franzoni @srimanob FYI

[2019-04-17 16:06] cmsbuild commented on #26482
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_14_UL. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-04-17 16:06] cmsbuild commented on #26482
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-04-17 16:06] cmsbuild commented on #26482
The build has started for slc7_amd64_gcc630 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2025/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-17 16:07] fabiocos opened #26483 "Build CMSSW_8_0_33_UL"
ARCHITECTURE:slc7_amd64_gcc530

[2019-04-17 16:08] cmsbuild commented on #26483
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-17 16:09] fabiocos commented on #26483
+1

[2019-04-17 16:09] cmsbuild commented on #26483
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_33_UL. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2019-04-17 16:09] fabiocos commented on #26483
@franzoni @srimanob FYI

[2019-04-17 16:09] cmsbuild commented on #26483
Queuing Jenkins build for the following architectures: slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-04-17 16:10] cmsbuild commented on #26483
The build has started for slc7_amd64_gcc530 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2026/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-04-17 16:23] fabiocos commented on #26348
@srimanob I think it would be good to use a workflow starting from LHE, because we had a specific issue there, as you will recall. My idea is to be able to test a whole workflow chain when we cross the lumi boundary in a single test workflow

[2019-04-17 18:32] cmsbuild commented on #26483
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_33_UL-slc7_amd64_gcc530/2026
Some tests

[2019-04-17 18:46] cmsbuild commented on #26483
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_33_UL-slc7_amd64_gcc530/2026

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Wed Apr 17 20:32:54 2019-date Wed Apr 17 20:32:54 20

[2019-04-17 19:44] cmsbuild commented on #26482
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_14_UL-slc7_amd64_gcc630/2025
Some tests

[2019-04-17 20:56] cmsbuild commented on #26482
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_14_UL-slc7_amd64_gcc630/2025

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-04-18 06:51] fabiocos commented on #26483
upload all

[2019-04-18 06:51] fabiocos commented on #26482
upload all

[2019-04-18 06:52] cmsbuild commented on #26483
Queing Jenkins upload for slc7_amd64_gcc530

[2019-04-18 06:52] cmsbuild commented on #26482
Queing Jenkins upload for slc7_amd64_gcc630

[2019-04-18 06:54] cmsbuild commented on #26482
The upload has started for slc7_amd64_gcc630 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1327/console

[2019-04-18 06:54] cmsbuild commented on #26483
The upload has started for slc7_amd64_gcc530 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1326/console

[2019-04-18 06:56] cmsbuild commented on #26482
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_14_UL-slc7_amd64_gcc630/1327

[2019-04-18 06:57] cmsbuild commented on #26483
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_33_UL-slc7_amd64_gcc530/1326

[2019-04-18 07:00] fabiocos commented on #26483
release-notes since CMSSW_8_0_32

[2019-04-18 07:00] cmsbuild commented on #26483
Generating release notes since CMSSW_8_0_32.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-18 07:00] cmsbuild commented on #26483
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_33_UL is now available for the following architectures:

slc7_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_32 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_33_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern

[2019-04-18 07:00] fabiocos commented on #26482
release-notes since CMSSW_9_4_13_patch4

[2019-04-18 07:01] cmsbuild commented on #26482
Generating release notes since CMSSW_9_4_13_patch4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-18 07:01] cmsbuild commented on #26482
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_14_UL is now available for the following architectures:

slc7_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_13_patch4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_14_UL

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnoun

[2019-04-18 07:01] cmsbuild commented on #26483
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_33_UL

[2019-04-18 07:02] cmsbuild commented on #26482
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_14_UL

[2019-04-18 07:54] fabiocos opened #26492 "Build CMSSW_8_0_33"
ARCHITECTURE:slc6_amd64_gcc530

[2019-04-18 07:55] cmsbuild commented on #26492
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-18 07:56] fabiocos opened #26493 "Build CMSSW_9_4_14"
ARCHITECTURE:slc6_amd64_gcc630

[2019-04-18 07:56] fabiocos commented on #26492
+1

[2019-04-18 07:56] cmsbuild commented on #26493
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-18 07:56] fabiocos commented on #26493
+1

[2019-04-18 07:57] cmsbuild commented on #26492
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_33. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2019-04-18 07:57] cmsbuild commented on #26492
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-04-18 07:57] cmsbuild commented on #26493
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_14. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-04-18 07:57] cmsbuild commented on #26493
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-04-18 07:58] cmsbuild commented on #26492
The build has started for slc6_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2027/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-04-18 07:58] cmsbuild commented on #26493
The build has started for slc6_amd64_gcc630 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2028/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-18 08:13] fabiocos opened #26494 "Improve access to GlobalExtBlk information"
This issue is meant to keep track of the residual comments made by @peruzzim and myself to @apana about #26461 . I did not want to hold the test of this code, but it should be possibly improved for next future.

[2019-04-18 08:13] cmsbuild commented on #26494
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-18 08:14] fabiocos commented on #26494
assign l1

[2019-04-18 08:14] cmsbuild commented on #26494
New categories assigned: l1

@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-18 09:26] srimanob commented on #26348
@Dr15Jones Thanks for clarification.
@fabiocos OK, then I will put it together with LHE PR then.
The pilot test ran fine but --nConcurrentLumis is applied to GS only, I will make it to all step. RunTheMatrix needs to be updated a bit to make it possible to inject with several Lumi in each job.

FYI @franzoni @prebello @zhenhu @pgunnell @chayanit

[2019-04-18 12:08] slava77 commented on #24795
Prompted by the recent issues reported in https://github.com/cms-sw/cmssw/pull/26394#issuecomment-484429896

Looking at CMSSW_10_6_X_2019-04-17-2300
Our workflows with ```Run2_2018_highBetaStar``` are
still only 136.8561 and 136.8562.

It looks like this issue is still not resolved even though an update was promised already more than a month ago.

@prebello please clarify if we can get an update t

[2019-04-18 12:30] peruzzim opened #26496 "Wrong getNbins function in Utilities/RelMon"
The getNbins function in Utilities/RelMon/python/utils.py seems wrongly defined or used:

https://github.com/cms-sw/cmssw/blob/8c0b3deb7bf6fc4d0a30a6696fb3b0944316d0c4/Utilities/RelMon/python/utils.py#L92-L97

https://github.com/cms-sw/cmssw/blob/8c0b3deb7bf6fc4d0a30a6696fb3b0944316d0c4/Utilities/RelMon/python/utils.py#L330-L334

In this case, for instance, a 1-D histogram defined with N bins (exc

[2019-04-18 12:30] cmsbuild commented on #26496
A new Issue was created by  @peruzzim .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-18 12:55] cmsbuild commented on #26492
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_33-slc6_amd64_gcc530/2027
Some tests (

[2019-04-18 13:11] cmsbuild commented on #26492
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_33-slc6_amd64_gcc530/2027

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Thu Apr 18 14:55:59 2019-date Thu Apr 18 14:55:59 2019;

[2019-04-18 13:14] fabiocos commented on #26492
upload all

[2019-04-18 13:14] cmsbuild commented on #26492
Queing Jenkins upload for slc6_amd64_gcc530

[2019-04-18 13:15] cmsbuild commented on #26492
The upload has started for slc6_amd64_gcc530 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1328/console

[2019-04-18 13:15] Dr15Jones commented on #26496
assign reconstruction

[2019-04-18 13:16] cmsbuild commented on #26496
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-18 13:16] cmsbuild commented on #26492
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_33-slc6_amd64_gcc530/1328

[2019-04-18 13:17] fabiocos commented on #26492
release-notes since CMSSW_8_0_32

[2019-04-18 13:17] cmsbuild commented on #26492
Generating release notes since CMSSW_8_0_32.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-18 13:17] cmsbuild commented on #26492
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_33 is now available for the following architectures:

slc6_amd64_gcc530 (production)

The release notes of what changed with respect to CMSSW_8_0_32 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_33

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2019-04-18 13:18] cmsbuild commented on #26492
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_33

[2019-04-18 13:20] cmsbuild commented on #26493
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_14-slc6_amd64_gcc630/2028
Some tests (

[2019-04-18 13:20] slava77 commented on #26496
reco is not really using relmon.
If someone will provide a fix, we'll review and sign.

[2019-04-18 14:25] cmsbuild commented on #26493
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_14-slc6_amd64_gcc630/2028

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-04-18 14:28] steggema commented on #26406
After additional input from @mbluj and discussion with @rmanzoni, we realised that the implementation is not as straightforward as originally thought since we need to save "calibrated" energy fractions and not raw energy fractions (the latter are saved for JetMET's charged hadron calibration workflow), i.e. we need to add data members to make sure we save the fractions since the fractions JetMET s

[2019-04-18 14:33] fabiocos commented on #26493
upload all

[2019-04-18 14:33] cmsbuild commented on #26493
Queing Jenkins upload for slc6_amd64_gcc630

[2019-04-18 14:34] cmsbuild commented on #26493
The upload has started for slc6_amd64_gcc630 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1329/console

[2019-04-18 14:38] cmsbuild commented on #26493
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_14-slc6_amd64_gcc630/1329

[2019-04-18 14:44] fabiocos commented on #26493
release-notes since CMSSW_9_4_13_patch4

[2019-04-18 14:45] cmsbuild commented on #26493
Generating release notes since CMSSW_9_4_13_patch4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-18 14:45] cmsbuild commented on #26493
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_14 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_13_patch4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_14

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2019-04-18 14:46] cmsbuild commented on #26493
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_14

[2019-04-18 15:19] slava77 commented on #26406
is there some reasonable pre-selection that can be applied to reduce this?
E.g. use some cones around taus in AOD (or jets that used to seed that tau reco)

[2019-04-18 15:40] steggema commented on #26406
This is surprisingly difficult if we want this tau reconstruction to work generally, e.g. if we want to use it to reconstruct low-pT taus, in which case we cannot make assumptions about taus being reconstructed in AOD or about the pT for jets that seed the reconstruction. We only have a 0.5 GeV minimum pT requirement for charged candidates that enter the tau reconstruction. On the last slide of th

[2019-04-18 20:39] makortel commented on #26478
I can confirm that the last commit (https://github.com/cms-sw/cmssw/pull/26449/commits/466ed9057b319dd03ddcbe716335979672104f8a) in #26449 fixes the exception message.

[2019-04-18 20:46] makortel opened #26498 "Take ECAL topology objects from EventSetup instead of constructing them on the fly"
In #26466 I noticed that ECAL topology objects (`EcalBarrelTopology`, `EcalEndcapTopology`, `EcalPreshowerTopology`) are constructed on the fly (even for each event) in many places. Given that there is an ESProducer (`CaloTopologyBuilder`) creating an object (`CaloTopology`) from which these topology objects could be retrieved, the on-the-fly construction seems to be wasting resources.

[2019-04-18 20:47] cmsbuild commented on #26498
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-18 20:47] makortel commented on #25665
Done in #25877.

[2019-04-18 20:47] #25665 closed

[2019-04-18 20:54] Dr15Jones commented on #26478
+1

[2019-04-18 20:55] cmsbuild commented on #26478
This issue is fully signed and ready to be closed.

[2019-04-18 20:55] Dr15Jones commented on #25665
+1

[2019-04-18 20:55] cmsbuild commented on #25665
This issue is fully signed and ready to be closed.

[2019-04-18 20:58] #26478 closed

[2019-04-19 11:52] fabiocos opened #26499 "Build CMSSW_10_6_0_pre4"

[2019-04-19 11:52] cmsbuild commented on #26499
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-04-19 11:53] fabiocos commented on #26499
build cmssw-tool-conf

[2019-04-19 11:54] cmsbuild commented on #26499
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-04-19 11:54] cmsbuild commented on #26499
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild89.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2029/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-19 11:55] cmsbuild commented on #26499
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2030/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-19 11:55] cmsbuild commented on #26499
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2031/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-19 13:54] cmsbuild commented on #26474
The cleanup has started for slc6_amd64_gcc700

[2019-04-19 13:54] cmsbuild commented on #26474
The cleanup has started for slc7_amd64_gcc700

[2019-04-19 13:54] #26474 closed

[2019-04-19 13:59] cmsbuild commented on #26474
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_14-slc7_amd64_gcc700/1335

[2019-04-19 13:59] cmsbuild commented on #26474
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_14-slc6_amd64_gcc700/1334

[2019-04-19 14:18] slava77 opened #26500 "allow modifiers for reconstruction_fromRECO"
The goal is to allow modifications to module PSets of the RECOfromRECO workflows (which is not possible now).

A process modifier is perhaps the best solution, similar to e.g. Configuration/ProcessModifiers/python/trackdnn_cff.py :
- make a recoFromReco modifier in Configuration/ProcessModifiers
- add a relevant ```recoFromReco.toModify( `` in
- add ```recoFromReco``` to the relevant workflows ...

[2019-04-19 14:18] cmsbuild commented on #26500
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-19 14:19] slava77 commented on #26500
assign reconstruction

preferred timescale: 10_6_0 release

[2019-04-19 14:19] cmsbuild commented on #26500
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-19 20:02] fabiocos commented on #26499
+1

[2019-04-19 20:03] cmsbuild commented on #26499
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-04-19 22:24] cmsbuild commented on #26499
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre4-slc7_amd64_gcc700/2029

[2019-04-19 22:25] cmsbuild commented on #26499
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-04-19 22:26] cmsbuild commented on #26499
The build has started for slc7_amd64_gcc700 in cmsbuild89.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2032/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-20 00:37] cmsbuild commented on #26499
There was an error building cmssw-tool-conf for slc7_aarch64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre4-slc7_aarch64_gcc700/2031

[2019-04-20 04:49] cmsbuild commented on #26499
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre4-slc7_amd64_gcc820/2030

[2019-04-20 04:49] cmsbuild commented on #26499
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-04-20 04:51] cmsbuild commented on #26499
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2033/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-04-20 05:08] cmsbuild commented on #26482
The cleanup has started for slc7_amd64_gcc630

[2019-04-20 05:08] #26482 closed

[2019-04-20 05:09] cmsbuild commented on #26483
The cleanup has started for slc7_amd64_gcc530

[2019-04-20 05:09] #26483 closed

[2019-04-20 05:14] cmsbuild commented on #26483
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_33_UL-slc7_amd64_gcc530/1336

[2019-04-20 05:16] cmsbuild commented on #26482
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_14_UL-slc7_amd64_gcc630/1337

[2019-04-20 05:42] cmsbuild commented on #26499
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre4-slc7_amd64_gcc700/2032
Some tes

[2019-04-20 08:13] cmsbuild commented on #26499
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre4-slc7_amd64_gcc700/2032

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-04-20 09:25] cmsbuild commented on #26499
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre4-slc7_amd64_gcc820/2033
Some tes

[2019-04-20 11:24] cmsbuild commented on #26492
The cleanup has started for slc6_amd64_gcc530

[2019-04-20 11:24] #26492 closed

[2019-04-20 11:32] cmsbuild commented on #26492
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_33-slc6_amd64_gcc530/1338

[2019-04-20 11:37] cmsbuild commented on #26499
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_pre4-slc7_amd64_gcc820/2033

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-04-20 12:53] cmsbuild commented on #26493
The cleanup has started for slc6_amd64_gcc630

[2019-04-20 12:53] #26493 closed

[2019-04-20 12:57] fabiocos commented on #26499
upload all

[2019-04-20 12:58] cmsbuild commented on #26499
Queing Jenkins upload for slc7_amd64_gcc700

[2019-04-20 12:58] cmsbuild commented on #26499
Queing Jenkins upload for slc7_amd64_gcc820

[2019-04-20 12:58] cmsbuild commented on #26499
The upload has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1331/console

[2019-04-20 12:59] cmsbuild commented on #26499
The upload has started for slc7_amd64_gcc700 in cmsbuild89.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1330/console

[2019-04-20 12:59] cmsbuild commented on #26499
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre4-slc7_amd64_gcc820/1331

[2019-04-20 13:00] cmsbuild commented on #26493
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_14-slc6_amd64_gcc630/1339

[2019-04-20 13:04] cmsbuild commented on #26499
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_pre4-slc7_amd64_gcc700/1330

[2019-04-20 13:05] fabiocos commented on #26499
release-notes

[2019-04-20 13:05] cmsbuild commented on #26499
Generating release notes since CMSSW_10_6_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-04-20 13:05] cmsbuild commented on #26499
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_6_0_pre4 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_0_pre4

Cheers,
cms-bot

You can also click <a href="ma

[2019-04-20 13:06] cmsbuild commented on #26499
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_pre4

[2019-04-22 11:08] cmsbuild commented on #26499
The cleanup has started for slc7_amd64_gcc700

[2019-04-22 11:08] cmsbuild commented on #26499
The cleanup has started for slc7_amd64_gcc820

[2019-04-22 11:08] #26499 closed

[2019-04-22 11:15] cmsbuild commented on #26499
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre4-slc7_amd64_gcc820/1341

[2019-04-22 11:17] cmsbuild commented on #26499
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_pre4-slc7_amd64_gcc700/1340

[2019-04-22 15:29] wddgit opened #26503 "Problem with SubProcesses and shared ESProducers, related to EventSetup consumes"
There is a potential problem that would affect the special case where the SubProcess feature is being used and there is an ESProducer being shared between a SubProcess and another SubProcess or the top level process. There are two issues in this case. One relates to what happens if one of the updateLookup functions is called multiple times. Someone needs to look at this carefully and possibly add

[2019-04-22 15:29] cmsbuild commented on #26503
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-22 15:30] Dr15Jones commented on #26503
Assign core.

[2019-04-22 15:31] Dr15Jones commented on #26503
This is in relation to #26449

[2019-04-23 11:13] steggema commented on #26406
Getting back to this:
Increasing the pT threshold to 0.5 GeV reduces the compressed size of the branch so that the increase  is 3.8% (instead of 5.8%). 0.5 GeV is the current threshold used in the reconstruction.
Increasing the pT threshold to 1 GeV reduces the compressed size further such that the increase is 1.6%. This may have sufficiently minor implications on the reconstructed taus for this t

[2019-04-23 15:15] srimanob commented on #26206
With premixing, we should have

'keep *_DMHcalTriggerPrimitiveDigis_*_*'

in step 2a.

[2019-04-23 20:45] makortel opened #26517 "Increase concurrency for Paths containing EDFilters"
The recent experiments with `--runUnscheduled` with GEN-SIM and DIGI-HLT steps
* https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3861/1/1/1/1/2.html
* https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3861/1/1/1.html
* #26448

show that the customize function added by `--runUnscheduled` (`FWCore.ParameterSet.Utilities.convertToUnscheduled`) can not really be applied for configurati

[2019-04-23 20:46] cmsbuild commented on #26517
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-23 20:48] peruzzim commented on #26163
+xpog

fix merged in nanoAOD integration repository, will come to upstream CMSSW with the next round of nanoAOD updates

[2019-04-23 20:51] peruzzim commented on #26011
+xpog

after the revert, I understand this has been properly integrated in #26461

[2019-04-24 10:34] prebello commented on #24795
@slava77  I have just read your comment.
Indeed the promised PR with the updates was lost among my long to-do list items. I apologize for the delay.
As you know, now there are 3 types of hBStar wfs.
The usual wfs
workflows[136.8561] = ['',['RunZeroBias_hBStarTk','HLTDR2_2018_hBStar','RECODR2_2018reHLT_Offline_hBStar','HARVEST2018_hBStar']]
running with /ZeroBias/Commissioning2018-v1/RAW
workflows[

[2019-04-24 13:16] slava77 commented on #24795
@prebello thank you for following up.

At a quick glance, I do not see anything from 2018D that can be processed with the highBeta configuration. This configuration is valid only on low pileup data.
I propose to remove the old commissioning run tests.

[2019-04-24 13:31] prebello commented on #24795
@slava77
More detailed information to support your decision:
the low PU 15 runs in 2018 are listed as  318939 318945 318953 319460 319462 319463 319464 319466 319467 319468 319469 319470 319471 319472 319488
ZeroBias is available as well as few ZeroBiasTOTEM[1-4] ones.
What do you think?

[2019-04-24 13:56] slava77 commented on #24795
I'm not sure I understood the implications of your message.

I proposed run 319270 in October, when this issue was opened. From the follow up discussion we converged on this used to define 136.8563.

Are you proposing alternatives to removal of 136.8561 and 136.8562?
It looks like the runs that you listed, even though taken at lowPU, they were processed in prompt with the standard settings (not hi

[2019-04-24 14:00] prebello commented on #24795
@slava77 ok so maybe I have misunderstood your proposal, as well as mixed subjects. Never mind.
Therefore I will not touch in the 136.8561 and 136.8562 RAW inputs, and will make a PR for 136.8563 only.

[2019-04-24 14:45] slava77 commented on #24795
please note https://github.com/cms-sw/cmssw/issues/24795#issuecomment-484477819

So, we better still do something with 136.8561 and 136.8562. It seems the easiest to just remove them.
If they are really needed for some other purpose, the same 319270 can be used.

[2019-04-24 19:31] wddgit opened #26525 "Extraneous exception message printed after an exception during end run"
There is a problem in the Framework behavior after an exception in end run. The current behavior is that it prints the primary exception, which is good. The first exception you see in the log is in the one you want to see, which also good. But something is missing, because after that exception is caught the Framework is not keeping track of the fact that it should be shutting down. The Framework c

[2019-04-24 19:31] cmsbuild commented on #26525
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-24 20:38] prebello commented on #24795
@slava77 my updates:
1) https://its.cern.ch/jira/browse/CMSTRANSF-63 to make TOTEM10 available for test the wfs in 10-6-X IB before making the PR (we have tested it in 10-5-X before), as well as lock it for future tests
2) I will no remove/touch the old workflows. In the case they are needed then we proceed with the needed changes.
As soon as I can do my test, I will make the PR. It should be read

[2019-04-24 20:53] slava77 commented on #24795
@prebello
thank you for the updates.

Please note that as mentioned earlier, 136.8562 is currently broken in 10_6_X.
It's unclear if there will be a fix to it soon.
This and 136.8561 are the only data workfows using Commissioning acquisition period data. Typically there is no production level support for such kind of data.
Perhaps by accident, 136.8561 (run 314890) still works .

[2019-04-25 08:18] jan-kaspar commented on #24795
If you refer to the problem mentioned here: https://github.com/cms-sw/cmssw/pull/26394#issuecomment-484429896, then a fix should be available in few days. We already have an updated optics configuration, which excludes the special high beta runs and thus should prevent this problem. Since this is an update needed for UL re-reco, it should go relatively fast.

[2019-04-25 16:32] kpedro88 commented on #26452
+upgrade

[2019-04-25 16:33] cmsbuild commented on #26452
This issue is fully signed and ready to be closed.

[2019-04-25 17:19] #26452 closed

[2019-04-25 20:52] wddgit commented on #26503
I put a check in the PR coming soon that implements concurrent IOVs that will allow updateLookup to be called only once. This should resolve the problem with updateLookup being called multiple times. All that was happening without this fix is that entries were being added to vectors and those extra entries were never used, which wastes a little CPU and memory but otherwise causes no problems. It i

[2019-04-26 02:57] prebello commented on #24795
@slava77  @jan-kaspar in my tests with the new wf using TOTEM10 RAW, there is fatal exception related to PPS. the same of the mentioned PR. Is it expected, even using physics run (not commissioning)?
----- Begin Fatal Exception 26-Apr-2019 00:29:29 CEST-----------------------
An exception of category 'ProtonReconstructionAlgorithm' occurred while
   [0] Processing  Event run: 319270 lumi: 138 even

[2019-04-26 03:09] kpedro88 commented on #26071
+upgrade
from my side this is complete (with some debugging still ongoing, but we have relvals and PR/IB tests with the new geometry + workflow)

[2019-04-26 03:13] kpedro88 commented on #25078
@bsunanda @cvuosalo are these fixes complete?

[2019-04-26 03:18] slava77 commented on #24795
On 4/25/19 7:57 PM, Patricia Rebello Teles wrote:

Interesting.
It looks like I was wrong trying to push out the commissioning2018 setup
with an argument that this was way too special of a run/test.
So, it becomes clear that the TOTEM run in 2018B has the same issue with
the PPS payloads.
This then somewhat clearly means that it should not be abandoned for the
UL needs
and we can expect the earlie

[2019-04-26 10:28] prebello commented on #24795
indeed @slava77 @fabiocos , in this case, does it make sense to proceed with the PR of the new wf using TOTEM10 or not? I would suggest to wait for the fix, what do you think?

[2019-04-26 10:38] jan-kaspar commented on #24795
Run 319270 was a high-beta* run and thus this problem is, currently, expected. So far we have only uploaded low-beta* optics to DB and, by mistake, the special-run IOVs have not been excluded.

I've just successfully tested an updated optics sqlite file where the special runs are excluded. This file should be part of the AlCa sign-off on next Monday.

[2019-04-26 15:17] cvuosalo commented on #25078
@kpedro88: I think the issue has been resolved well enough. Maybe @bsunanda would like to comment.

This issue can be closed, from my point of view.

[2019-04-26 15:21] kpedro88 commented on #25078
+upgrade

[2019-04-26 15:37] cvuosalo commented on #25078
+1

[2019-04-26 15:38] cmsbuild commented on #25078
This issue is fully signed and ready to be closed.

[2019-04-27 21:42] #26299 closed

[2019-04-27 21:44] #26188 closed

[2019-04-27 21:47] #25785 closed

[2019-04-27 21:48] #25708 closed

[2019-04-27 21:48] #25573 closed

[2019-04-27 21:48] #25463 closed

[2019-04-27 21:49] #25078 closed

[2019-04-27 21:49] #24023 closed

[2019-04-27 21:49] #23573 closed

[2019-04-27 21:50] #22926 closed

[2019-04-27 21:51] #21880 closed

[2019-04-27 21:51] #21423 closed

[2019-04-27 21:52] #21358 closed

[2019-04-27 21:54] #18606 closed

[2019-04-27 21:55] #18358 closed

[2019-04-27 21:55] #21200 closed

[2019-04-27 22:00] smuzaffar commented on #13236
assign externals

[2019-04-27 22:02] cmsbuild commented on #13236
New categories assigned: externals

@smuzaffar,@gudrutis,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-27 22:03] smuzaffar commented on #13231
this has been fixed by https://github.com/cms-sw/cmssw/pull/13859

[2019-04-27 22:03] #13231 closed

[2019-04-27 22:05] smuzaffar commented on #11692
@Dr15Jones , any update?

[2019-04-27 22:15] smuzaffar commented on #11993
closing it as we do not see this error any more in ASAN IBs.

[2019-04-27 22:15] #11993 closed

[2019-04-27 22:17] smuzaffar commented on #12036
this has been fixed by https://github.com/cms-sw/cmssw/pull/13070

[2019-04-27 22:17] #12036 closed

[2019-04-27 22:17] cmsbuild commented on #11993
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-27 22:17] cmsbuild commented on #12036
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-27 22:20] smuzaffar commented on #12056
closing it as we do not see this any moe in ASAN IBs.

[2019-04-27 22:20] #12056 closed

[2019-04-27 22:21] cmsbuild commented on #12056
A new Issue was created by  @davidlt .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-27 22:23] #13104 closed

[2019-04-27 22:24] #13196 closed

[2019-04-27 22:24] smuzaffar commented on #13196
+1

[2019-04-27 22:24] cmsbuild commented on #13196
This issue is fully signed and ready to be closed.

[2019-04-27 22:27] smuzaffar commented on #13575
closing as this has been fix

[2019-04-27 22:27] #13575 closed

[2019-04-27 22:28] smuzaffar commented on #13580
closing it as this has been fixed.

[2019-04-27 22:28] #13580 closed

[2019-04-27 22:29] smuzaffar commented on #13622
@Dr15Jones , can we close this?

[2019-04-27 22:31] smuzaffar commented on #13599
+1
fixed via https://github.com/cms-sw/cmssw/pull/13600

[2019-04-27 22:31] #13599 closed

[2019-04-27 22:31] smuzaffar commented on #13624
+1

[2019-04-27 22:31] #13624 closed

[2019-04-27 22:31] cmsbuild commented on #13599
This issue is fully signed and ready to be closed.

[2019-04-27 22:32] cmsbuild commented on #13624
This issue is fully signed and ready to be closed.

[2019-04-27 22:35] smuzaffar commented on #13889
+1

[2019-04-27 22:35] #13889 closed

[2019-04-27 22:36] cmsbuild commented on #13889
This issue is fully signed and ready to be closed.

[2019-04-27 22:38] smuzaffar commented on #13994
@Dr15Jones , was this implemented?

[2019-04-27 22:39] smuzaffar commented on #14084
+externals

[2019-04-27 22:39] #14084 closed

[2019-04-27 22:39] cmsbuild commented on #14084
This issue is fully signed and ready to be closed.

[2019-04-27 22:41] smuzaffar commented on #14219
+1
this has been fixed

[2019-04-27 22:41] #14219 closed

[2019-04-27 22:42] cmsbuild commented on #14219
This issue is fully signed and ready to be closed.

[2019-04-27 22:44] smuzaffar commented on #14221
this was fixed by https://github.com/cms-sw/cmssw/pull/22490

[2019-04-27 22:44] #14221 closed

[2019-04-27 22:47] smuzaffar commented on #14222
fixed by https://github.com/cms-sw/cmssw/pull/22535

[2019-04-27 22:47] #14222 closed

[2019-04-27 22:52] smuzaffar commented on #14231
assign externals

[2019-04-27 22:53] smuzaffar commented on #14231
+externals
davix was up dated to 0.6.4 in 8.0.X

[2019-04-27 22:53] cmsbuild commented on #14231
New categories assigned: externals

@smuzaffar,@gudrutis,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-27 22:53] #14231 closed

[2019-04-27 22:53] cmsbuild commented on #14231
This issue is fully signed and ready to be closed.

[2019-04-27 22:55] smuzaffar commented on #14253
+1
this was fixed.

[2019-04-27 22:55] #14253 closed

[2019-04-27 22:56] cmsbuild commented on #14253
This issue is fully signed and ready to be closed.

[2019-04-27 22:56] #14270 closed

[2019-04-27 22:57] smuzaffar commented on #14276
@Dr15Jones , can we close this?

[2019-04-27 22:58] smuzaffar commented on #14310
@Dr15Jones , was this implemented?

[2019-04-27 22:59] #14353 closed

[2019-04-27 23:04] smuzaffar commented on #14398
this has been fixed by https://github.com/cms-sw/cmssw/pull/16991

[2019-04-27 23:04] #14398 closed

[2019-04-27 23:04] smuzaffar commented on #14440
+1
closing it as we have not see this error in IBs for a long time now

[2019-04-27 23:04] #14440 closed

[2019-04-27 23:06] cmsbuild commented on #14440
This issue is fully signed and ready to be closed.

[2019-04-27 23:08] smuzaffar commented on #14473
assign externals

[2019-04-27 23:08] cmsbuild commented on #14473
New categories assigned: externals

@smuzaffar,@gudrutis,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-27 23:09] #14564 closed

[2019-04-27 23:10] smuzaffar commented on #14573
this has been fixed.

[2019-04-27 23:10] #14573 closed

[2019-04-27 23:11] smuzaffar commented on #14607
closing it as we do not see these error any more in IBs.

[2019-04-27 23:11] #14607 closed

[2019-04-27 23:12] smuzaffar commented on #14728
assign externals

[2019-04-27 23:13] cmsbuild commented on #14728
New categories assigned: externals

@smuzaffar,@gudrutis,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-27 23:15] smuzaffar commented on #14840
@davidlange6 and @kpedro88 , can we close this now?

[2019-04-27 23:17] smuzaffar commented on #14895
@kpedro88 , can we close this?

[2019-04-27 23:20] smuzaffar commented on #14897
@Dr15Jones , should we close this now or you would like to keep it open?

[2019-04-27 23:21] smuzaffar commented on #14898
+1

[2019-04-27 23:21] #14898 closed

[2019-04-27 23:21] cmsbuild commented on #14898
This issue is fully signed and ready to be closed.

[2019-04-27 23:25] smuzaffar commented on #14919
+1

[2019-04-27 23:25] #14919 closed

[2019-04-27 23:26] cmsbuild commented on #14919
This issue is fully signed and ready to be closed.

[2019-04-27 23:28] smuzaffar commented on #14952
@Dr15Jones , can we close this? We have not seen such errors in IBs for a long time now.

[2019-04-27 23:32] smuzaffar commented on #15123
+1
https://github.com/cms-sw/cmssw/pull/25826 addresses this

[2019-04-27 23:32] #15123 closed

[2019-04-27 23:34] smuzaffar commented on #15124
closing this as we have not seen this errors in IBs for a long time now

[2019-04-27 23:34] #15124 closed

[2019-04-27 23:34] cmsbuild commented on #15123
This issue is fully signed and ready to be closed.

[2019-04-27 23:46] smuzaffar commented on #16494
@dan131riley , should we close this now?

[2019-04-27 23:48] smuzaffar commented on #17086
@dan131riley , should we close this?

[2019-04-27 23:51] smuzaffar commented on #17149
@slava77 , can we close this now?

[2019-04-27 23:58] smuzaffar commented on #17169
https://github.com/cms-sw/cmssw/pull/18293 fixes some of these.

[2019-04-28 03:25] slava77 commented on #17149
ehm, thank you for checking.
Given the way it entered the CMSSW without reprieve in the last two years, I think that the issue can be counted as resolved.
IIRC, it made sense to be from the start, it was more of a matter to get a formal confirmation for the right thing to do.

[2019-04-28 03:25] slava77 commented on #17149
+1

[2019-04-28 03:26] cmsbuild commented on #17149
This issue is fully signed and ready to be closed.

[2019-04-28 16:23] santocch commented on #26163
+1

[2019-04-28 16:23] cmsbuild commented on #26163
This issue is fully signed and ready to be closed.

[2019-04-29 09:37] fabiocos commented on #26011
this issue seems to have been positively solved

[2019-04-29 09:37] #26011 closed

[2019-04-29 11:22] fabiocos commented on #24795
@jan-kaspar @tocheng @christopheralanwest do I understand correctly that the DB update to solve the present failure in wf 136.8562 should be agreed today?

[2019-04-29 11:22] fabiocos commented on #24795
and of course a PR implementing it may be made...

[2019-04-29 11:28] jan-kaspar commented on #24795
Yes, this should be the plan. As far as I can see, the only PR needed should be updating the auto GT.

[2019-04-29 11:51] fabiocos opened #26562 "Failure of wf 140.55 after merging PR 26485"
After the integration of #26485 a failure is observed in the HI test workflow 140.55 step4:

[code]

[2019-04-29 11:52] cmsbuild commented on #26562
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-29 12:31] fabiocos commented on #26562
assign reconstruction

[2019-04-29 12:32] cmsbuild commented on #26562
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-29 12:35] fabiocos commented on #26562
@slava77 @perrotta @Sam-Harper apparently the update of the Egamma code breaks the old HI reconstruction sequence (140.55), as the required process.allConversions module is not run, why the 2018 HI sequence, that is basically the default pp one, is ok (140.56).

[2019-04-29 12:37] Sam-Harper commented on #26562
looking at it

[2019-04-29 13:44] Dr15Jones commented on #11692
Not yet

[2019-04-29 13:57] Sam-Harper commented on #26562
okay the solution will be simply to have a flag whether this variable is to be filled or not and set it false for HION. Not elegant but no other better solution. Code is written, fixes workflow, testing other workflows.

[2019-04-29 14:01] Dr15Jones commented on #13622
It looks like the check was removed entirely. So I guess it can be closed?

[2019-04-29 14:01] #13622 closed

[2019-04-29 14:22] kpedro88 commented on #14840
@smuzaffar no, this is not actually implemented yet.

[2019-04-29 14:29] Dr15Jones commented on #14310
It has not been done yet.

[2019-04-29 14:31] Dr15Jones commented on #14897
+1

[2019-04-29 14:31] cmsbuild commented on #14897
This issue is fully signed and ready to be closed.

[2019-04-29 14:32] Dr15Jones commented on #14897
Let's go ahead and close

[2019-04-29 14:38] #14897 closed

[2019-04-29 14:46] #17149 closed

[2019-04-29 14:52] makortel commented on #14276
Hmm. The current pattern corresponding to https://github.com/cms-sw/cmssw/issues/14276#issuecomment-215150322 seems to be
[code]

In the spirit of https://github.com/cms-sw/cmssw/issues/14276#issuecomment-215150322 one could think of shortening it to
[code]
but that would actually change the behavior: currently `phase2_muon` includes `gemSimValid` regardless of `run3_GEM`, whereas in the shorthand

[2019-04-29 14:54] Dr15Jones commented on #26525
assign core

[2019-04-29 14:54] cmsbuild commented on #26525
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-29 14:54] Dr15Jones commented on #26517
assign core

[2019-04-29 14:55] cmsbuild commented on #26517
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-29 14:55] Dr15Jones commented on #26503
assign core

[2019-04-29 14:57] Dr15Jones commented on #26221
assign core

[2019-04-29 14:58] cmsbuild commented on #26221
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-29 16:27] fabiocos commented on #26496
@peruzzim you seem to refer to the printout (nok vs ntot), not the final summary right? For what I can see the problem is in ```nbin+2```, that should be just nbin...

[2019-04-29 17:28] jan-kaspar commented on #24795
Using optics with this tag:
https://cms-conddb.cern.ch/cmsDbBrowser/list/Prod/tags/PPSOpticalFunctions_offline_v1
should solve the problem - the b6339... payload should be null, covering also the run 319270 as discussed earlier.

[2019-04-29 18:37] wddgit commented on #26525
I noticed 2 other problems in the behavior of cmsRun after exceptions
while I was testing the concurrent IOV PR. In both cases, I verified with
at test that the behavior already existed in releases before my PR, so I
decided not to fix it in the PR and added it to this issue.

I am seeing issues after exceptions in stream beginLumi transitions.
Similar to above, the correct exception is getting pr

[2019-04-30 12:42] fabiocos commented on #24795
@jan-kaspar @tocheng @christopheralanwest ok, we need a PR with an updated GT including this change

[2019-04-30 14:48] fabiocos commented on #26496
@peruzzim the issue looks to me more complex, looking inside the code it seems to me that there is an inconsistent treatment of ranges. The second value in a range() function is the upper limit of the range *not included in the sequence* . So if we want to use 0 for the underflow and GetNbinsX()+1 for the overflow, the count of ok and total bins as it is now seems to me wrong. I am having a look a

[2019-04-30 14:53] davidlange6 commented on #26496
maybe @dpiparo still remembers this code?

[2019-04-30 18:15] makortel opened #26576 "Introduce ProducesCollector to collect produces() registrations from helper objects"
We have `ConsumesCollector` to collect registration calls for the consumption of Event and EventSetup data from helper classes of an EDModule. We also have `ESConsumesCollector` to collect EventSetup data consumption registration calls in ESProducers.

But to register Event data production information in helper classes we still pass around `this` pointer of the EDProducer/EDFilter (most notably in

[2019-04-30 18:16] cmsbuild commented on #26576
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-30 18:18] Dr15Jones commented on #26576
assign core

[2019-04-30 18:19] cmsbuild commented on #26576
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-01 15:50] makortel opened #26584 "Migrate Geometry packages to EventSetup consumes"
This issue is to track the framework group's effort to migrate Geometry packages to EventSetup consumes (or, use them as guinea-pigs).

Below is a list of packages that use `ESHandle` or `ESTransientHandle` in an ESProducer. The ticked checkbox means that someone is already working on that package.

- [x] `Geometry/CSCGeometryBuilder` merged in #26566
- [x] `Geometry/CaloEventSetup` merged in #265

[2019-05-01 15:50] cmsbuild commented on #26584
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-01 15:51] Dr15Jones commented on #26584
assign core

[2019-05-01 15:51] makortel commented on #26584
There is a conflicting PR modifying ESProducers in `Geometry/GEMGeometryBuilder` in https://github.com/cms-sw/cmssw/pull/26320.

[2019-05-01 15:51] Dr15Jones commented on #26584
@wddgit FYI

[2019-05-01 15:52] cmsbuild commented on #26584
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-01 16:10] makortel commented on #26584
I should further note that the CaloEventSetup PR #26571 migrates the following files in other packages
- `Geometry/HGCalGeometry/plugins/moduleDB.cc`
- `Geometry/HcalEventSetup/src/moduleDB.cc`

because they contain specializations of the `CaloGeometryDBEP::produceAligned()` function. Therefore those files do not have to be migrated again in later PRs.

[2019-05-01 19:29] kpedro88 commented on #14895
@smuzaffar I kept meaning to come back to this. I just submitted #26590, which is another step along the path outlined in this issue.

[2019-05-02 07:35] fabiocos commented on #26496
@davidlange6 looking at the function I think it is a matter to go systematically through the places where number of bins are used in loops and have all of them treated coherently. I am preparing a PR for this

[2019-05-02 14:36] Dr15Jones opened #26594 "Cleanup python stack in exception message in python3"
When dumping the python stack for cmsRun exception message reporting using python 3, there are very many lines starting with `<frozen ` which are not present in python 2.

[2019-05-02 14:36] cmsbuild commented on #26594
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-02 14:37] Dr15Jones commented on #26594
A concrete example is running
` cmsRun $CMSSW_RELEASE_BASE/src/FWCore/Integration/test/importRestrictions2.py`

in python 2 we get exception message
[code]

under python 3 we get
[code]

[2019-05-02 14:38] Dr15Jones commented on #26594
assign core

[2019-05-02 14:38] Dr15Jones commented on #26594
@davidlange6 FYI

[2019-05-02 14:38] cmsbuild commented on #26594
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-03 12:46] fwyzard commented on #26448
So... one should not `cms.ignore()` an `HLTFilter` ?

[2019-05-03 16:58] wddgit opened #26618 "Handling clang format in the Skeletons package"
There is a problem running clang format on the FWCore/Skeletons package. The files there that have the suffixes .h and .cc are not actually C++ code. They are templates used by a code generation script. They include special text sequences that are not C++ and clang format cannot handle these.

We need to figure out how to handle this package. After a quick discussion, the best solution seems to be

[2019-05-03 16:59] cmsbuild commented on #26618
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-03 17:05] makortel commented on #26448
While that would cure the immediate symptoms, we are not suggesting to do that.

The problem is that the framework (or specifically the `convertToUnscheduled()` customize function) does not know that modules inheriting from `HLTFilter` can not be run outside Paths.

It seems to us that the `TriggerFilterObjectWithRefs::path()` and `module()` are unused (by rebuilding CMSSW with those functions com

[2019-05-03 18:35] tocheng commented on #24795
@jan-kaspar since you named this one offline, we need a copy with name prompt so we can put them to offline and prompt GT separately.

[2019-05-03 22:14] christopheralanwest commented on #24795
If I run workflow 136.8562 as follows:
[code]
I still get the same errors as those [in the latest IB](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc700/CMSSW_10_6_X_2019-05-03-1100/pyRelValMatrixLogs/run/136.8562_RunZeroBias1_hBStarRP+RunZeroBias1_hBStarRP+HLTDR2_2018_hBStar+RECODR2_2018reHLT_Offline_hBStar+HARVEST2018_hBStar/step3_RunZeroBias1_hBStarRP+RunZeroBias1_hBStarRP+HLTDR2_20

[2019-05-05 11:03] ianna opened #26635 "CMSSW_10_6_DEVEL_X_2019-05-03-2300 with slc7_amd64_gcc900: internal compiler error: Segmentation fault"
[code]

[2019-05-05 11:03] cmsbuild commented on #26635
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-05 12:32] Dr15Jones commented on #26635
#26633 fixes this

[2019-05-05 12:37] Dr15Jones commented on #25782
This happened again

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_ASAN_X_2019-05-03-2300/pyRelValMatrixLogs/run/250208.18_SMS-T1tttt_mGl-1500_mLSP-100_13UP18+SMS-T1tttt_mGl-1500_mLSP-100_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25/step3_SMS-T1tttt_mGl-1500_mLSP-100_13UP18+SMS-T1tttt_mGl-1500_mLSP-100_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+

[2019-05-05 12:58] #26635 closed

[2019-05-06 08:16] fabiocos opened #26637 "Geometry dependencies for Tracker/MTD"
#25566 was opened to address a problem reported by the URBSAN test concerning dependencies of the tracking geometry on MTD.

In the discussion it emerges that the underlying problem is we need a separate package Geometry/MTDGeometry which should hold the geometry objects. I think the origin of the problem is the MTD system followed the pattern of the Tracker geometry is also needs a separate Geome

[2019-05-06 08:16] cmsbuild commented on #26637
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-06 09:21] jan-kaspar commented on #24795
@clemencia @wpcarvalho Can you please help? It is about the latest optics tag ``PPSOpticalFunctions_offline_v1``

[2019-05-06 09:22] jan-kaspar commented on #24795
Thanks @christopheralanwest ,  I am going to check...

[2019-05-06 10:07] jan-kaspar commented on #24795
In a previous message, https://github.com/cms-sw/cmssw/issues/24795#issuecomment-486907816, a different run 319270 was referred. For that run, the (null) payload b6339... should be used. So I am confused which run is actually used.

The 314276 happens to be a special PPS "alignment" (low beta*) run where also the vertical RPs participate. As this is exceptional, the corresponding optical functions

[2019-05-06 12:14] janekbechtel commented on #26385
Hi,
the test can be fixed by replacing the missing file with the file path
`/store/user/jbechtel/Embedding/CMSSW_UnitTest/preselected.root`

[2019-05-06 12:38] Sam-Harper commented on #26385
@janekbechtel , please put it in a central area, such as the tau pogs eos space, not on a private area otherwise we'll have the same problem in a few years time

[2019-05-06 13:44] christopheralanwest commented on #24795
AlCa cannot approve conditions that crash existing workflows. If the workflow is truly useless, perhaps you could follow up with the person who introduced the workflow to see if it should be removed.

But I think it is more straightforward to generate a new tag that uses the null optics for run 314276.

[2019-05-06 13:50] prebello commented on #24795
@jan-kaspar @christopheralanwest  @fabiocos may PdmV help? all related to validation wfs are under our responsability. What is the problem here actually?

[2019-05-06 13:51] slava77 commented on #24795
So, it sounds like we are partly back to the discussion of extra effort needed to support processing of /Commissioning data
https://github.com/cms-sw/cmssw/issues/24795#issuecomment-486421458

[2019-05-06 13:58] prebello commented on #24795
@slava77  I have understood that since physics run (TOTEM10) had the same issue, a fix is needed from the reconstruction side. The point by @christopheralanwest to "follow up with the person who introduced the workflow" is not effective in principle, unless we will use customization commands to get it working.

[2019-05-06 14:04] guitargeek opened #26658 "Cleaning up Run 1 EGamma ParticleFlow code"
The old egamma particle flow code has not been used for 5 years but still is strongly entangled with the current particle flow code, which poses an unnecessary maintenance burden.  As discussed with @bendavid, @Sam-Harper, @slava77 and @hatakeyamak, a clean-up of the legacy PF egamma code is on our todo list for the 11XY cycle.

I open an issue on this topic so I can link it in my presentation tom

[2019-05-06 14:04] cmsbuild commented on #26658
A new Issue was created by  @guitargeek Jonas Rembser.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-06 14:08] guitargeek commented on #26658
These would be the changes to remove the old PFEGamma code:

https://github.com/cms-sw/cmssw/compare/master...guitargeek:remove_egamma_pf_legacy

A few workflows are still using the old configuration of the PFProducer via these files:

* HLTrigger/Configuration/python/HLT_FULL_cff.py
* HLTrigger/Configuration/python/HLT_GRun_cff.py
* HLTrigger/Configuration/python/HLT_HIon_cff.py
* HLTrigger/Confi

[2019-05-06 14:08] slava77 commented on #24795
@prebello
please confirm that the error appears in the TOTEM10 (run 319270) using the commands as in https://github.com/cms-sw/cmssw/issues/24795#issuecomment-489256750

The most recent messages
https://github.com/cms-sw/cmssw/issues/24795#issuecomment-489256750 were apparently related to the /Commissioning data

[2019-05-06 14:14] jan-kaspar commented on #24795
At least on my side, there is some confusion about the run numbers. Scrolling up this conversion I see the following:
  * 314276 (fill 6554) - PPS "alignment" low beta* fill
  * 314890 (fill 6595) - normal low beta* fill
  * 319176 (fill 6882) - high beta* fill
  * 319270 (fill 6890) - high beta* fill
Many of my previous answers were based on the fact that the discussion was about "high beta*". On

[2019-05-06 14:21] kpedro88 commented on #26637
assign upgrade,geometry

[2019-05-06 14:22] kpedro88 commented on #26637
attn: @lgray @pmeridian

[2019-05-06 14:22] cmsbuild commented on #26637
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-06 15:07] prebello commented on #24795
@slava77. I confirm.
the issue reported at
https://github.com/cms-sw/cmssw/issues/24795#issuecomment-486907816
has appeared in 10-6-X when I was preparing the PR for the new wf 136.8563 with the Physics run (TOTEM10).
You can see the logs and config files at /afs/cern.ch/user/p/prebello/prebello/public/PDMV/highBetastar/CMSSW_10_6_X_2019-04-25-1100/src/test

[2019-05-06 15:26] jan-kaspar commented on #24795
Thanks @prebello ! Have you used the option
``--command="--custom_conditions=PPSOpticalFunctions_offline_v1,CTPPSOpticsRcd,frontier://FrontierProd/CMS_CONDITIONS"`` ?

When I look in your .py files, I see lines like
``process.GlobalTag = GlobalTag(process.GlobalTag, 'auto:run2_data_promptlike', '')``
however when I run the recipe as in https://github.com/cms-sw/cmssw/issues/24795#issuecomment-4892

[2019-05-06 15:39] prebello commented on #24795
@jan-kaspar I didn't use any change pointed by you. Actually these changes came after my test, right? Was the GT change requested anywhere? in 10-5-0 succesfull injection I have used --conditions auto:run2_data_promptlike
I can make a new test with the new commands in the latest IB anyway.

[2019-05-06 15:51] janekbechtel commented on #26385
I agree, the file is now also available at
`/store/group/phys_tau/Embedding/preselected.root`

[2019-05-06 16:47] fabiocos commented on #26637
@kpedro88 this effectively on me...

[2019-05-06 17:40] Dr15Jones opened #26669 "UBSAN and boost serialization are incompatible"
I looked at the UBSAN failure for CondFormats/Common. When running edmCheckClassVersion we get a segmentation fault during the shared library load. Running the code in gdb and looking a the source code

[code]

So what the code appears to be doing is seeing if the `Derived` and `Base` class parts of an object start at the same address or if they are displaced (which can happen with multiple inheri

[2019-05-06 17:40] Dr15Jones commented on #26669
assign core

[2019-05-06 17:40] Dr15Jones commented on #26669
FYI @smuzaffar

[2019-05-06 17:40] cmsbuild commented on #26669
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-06 17:40] cmsbuild commented on #26669
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-06 18:07] Dr15Jones commented on #26669
From the debugger, the problematic stack is

[code]

It looks like the `Serialization.cc` file is one auto-generated by scram. It might be enough to just compile that one file without UBSAN turned on.

[2019-05-07 04:26] prebello commented on #24795
@jan-kaspar actually the prompt-like GT condition has arisen from the AlCa comment https://github.com/cms-sw/cmssw/issues/24795#issuecomment-472121874

FYI 'run2_hlt_relval' : '103X_dataRun2_HLT_relval_v8' while 'run2_data_promptlike' : '106X_dataRun2_PromptLike_v6'

My updates:
 few events tests run locally fine with my new wf using Physics run as
runTheMatrix.py --what standard -l 136.8563 -t 8

[2019-05-07 04:38] tocheng commented on #24795
@prebello
The HLT GTs in autoCond are the frozen version of HLT GTs for data taking.
So they can't be used for offline studies.
For e.g., the error you pointed is due the the new GEM emap condition which was only introduced since 10_6 release.

[2019-05-07 09:49] jan-kaspar commented on #24795
Many thanks @prebello ! This hints that ``PPSOpticalFunctions_offline_v1`` works indeed fine with the high beta* runs.

[2019-05-07 11:59] fabiocos commented on #25919
@Dr15Jones @slava77 so far the official PdmV validation has not reported problems (@prebello @zhenhu please confirm). I have looked at the RelMon output, and made some small scale test (1000 events) myself with a subselection of workflows. For 136.878 (RunMuonEG2018C) I see just 14 differences out of 156022 histograms, all concentrated in HLT/EXO and JetMET for the histograms
https://cmssdt.cern.c

[2019-05-07 12:18] fabiocos commented on #25919
Looking at how the histograms are filled in https://cmssdt.cern.ch/lxr/source/DQMOffline/Trigger/plugins/METMonitor.cc#0268 it looks strange the agreement in MET and difference in deltaPhi, which looks correct in ROOT 6.14.

[2019-05-07 12:31] Dr15Jones commented on #25919
Just to be clear, the ROOT 6.12 histograms look inconsistent and the 6.14 look consistent?

[2019-05-07 12:51] fabiocos commented on #25919
Sorry, I need to rectify, CMSSW_10_6_0_pre3 (ROOT 6.12) looks consistent, while ROOT 6.14 does not. For the central ValDB comparison one can see https://cms-pdmv.cern.ch/ReleaseMonitoring/CMSSW_10_6_0_pre3_ROOT614vsCMSSW_10_6_0_pre3/DataReport_HLT/MuonEGmuEG2018C-v1_105X_dataRun2_v8_resub_RelVal_muEG2018C_319450/b3da40809c.html
for instance, the only plot reported to be different is again
https://

[2019-05-07 12:54] fabiocos commented on #25919
BTW, the whole setup for my checks with output files and histograms is in cmsdev25.cern.ch:/build/fabiocos/106X/ROOT614 , in the work subdirectories I have all the results for a number of workflows

[2019-05-07 13:13] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_6_CLANG_X_2019-05-06-2300/pyRelValMatrixLogs/run/1325.8_TTbar_13_94Xv1NanoAODINPUT+TTbar_13_94Xv1NanoAODINPUT+NANOEDMMC2017_94XMiniAODv1+HARVESTNANOAODMC2017_94XMiniAODv1/step2_TTbar_13_94Xv1NanoAODINPUT+TTbar_13_94Xv1NanoAODINPUT+NANOEDMMC2017_94XMiniAODv1+HARVESTNANOAODMC2017_94XMiniAODv1.log#/229-229

Haven't seen one of th

[2019-05-07 13:18] Dr15Jones commented on #25919
@fabiocos could you try running the ROOT6.14 again and see if it makes the same results?

[2019-05-07 13:19] davidlange6 commented on #25919
most likely its due to two dqm modules writing to the same spot

src/DQMOffline/Trigger/python/HTMonitor_cff.py: MonoCentralPFJet80_PFMETNoMu90_PFMHTNoMu90_HTmonitoring.FolderName = cms.string('HLT/EXO/MET/MonoCentralPFJet80_PFMETNoMu90/')
src/DQMOffline/Trigger/python/METMonitor_cff.py: MonoCentralPFJet80_PFMETNoMu90_PFMHTNoMu90_METmonitoring.FolderName = cms.string('HLT/EXO/MET/MonoCentralPFJet8

[2019-05-07 13:24] davidlange6 commented on #25919
ah - perhaps because thet jet selection is different only in the case of MonoCentralPFJet80_PFMETNoMu90_PFMHTNoMu90_HTmonitoring vs MonoCentralPFJet80_PFMETNoMu90_PFMHTNoMu90_METmonitoring and not for the other similarly named pairs of modules

cool

race condition?

[2019-05-07 13:46] dan131riley commented on #25638
A possibly related seg fault in GeneratorSmearedProducer, seen in slc7_amd64_gcc700 CMSSW_10_5_X_2019-05-02-1100 wf 1360.0:

[code]

Only one other thread active:

[code]

[2019-05-07 13:52] dan131riley commented on #25638
Another, slc7_amd64_gcc820 CMSSW_10_5_X_2019-05-05-2300, also wf 1360.0.  I did check that 10_5 includes #25632.  Only one active thread:

[code]

[2019-05-07 14:05] prebello commented on #25919
@fabiocos so far mostly greenlighted but Jet FullSim in progress (validator contacted to update the status)
https://hypernews.cern.ch/HyperNews/CMS/get/relval/12889/44.html

[2019-05-07 17:58] wpcarvalho commented on #24795
Hi @tocheng , we have prepared a new tag with null payloads for alignment runs. What's your recommendation to better handle it:
1. name one copy 'offline' and another copy 'prompt', or
2. not label the tag so that it can be used for both GT, in case this is possible?

By the way, should I queue the tag(s) via DbBrowser or leave for experts do it for the moment?
Thanks.

[2019-05-07 19:20] dan131riley commented on #16494
Still no check on TSOS validity, but since it hasn't recurred in 2.5 years might as well close it.

[2019-05-07 19:20] #16494 closed

[2019-05-07 19:23] dan131riley commented on #17086
Yes, might as well close it.  OOM killer SIGKILLs seem to be a lot less common, possibly due to the cleanup of some of the issues the ASAN builds have been finding.

[2019-05-07 19:23] #17086 closed

[2019-05-08 07:24] smuzaffar opened #26686 "[CodeFormat] CMS clang-format customization not applied"
Thanks to @wddgit ( https://github.com/cms-sw/cmssw/pull/26678#pullrequestreview-234757992 ) , I noticed that CMS clang-format customization (via https://github.com/cms-sw/cmssw/blob/master/.clang-format ) were not applied in the automatic PRs [a] made by @cmsbuild. This effect packages in **dqm, l1, alca, simulation** categories.

  Note that PRs which are already merged did not break functionali

[2019-05-08 07:24] smuzaffar commented on #26686
assign dqm, l1, alca, simulation

[2019-05-08 07:24] cmsbuild commented on #26686
New categories assigned: dqm,alca,simulation,l1

@mdhildreth,@jfernan2,@christopheralanwest,@franzoni,@andrius-k,@schneiml,@fioriNTU,@tlampen,@pohsun,@rekovic,@tocheng,@kmaeshima,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-08 07:24] cmsbuild commented on #26686
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-08 07:50] ianna opened #26687 "Reco configuration is missing for 2023 D42 scenario"
The ```CMSSW_10_6_X_2019-05-07-2300/​Configuration/​Geometry/​python/​dict2023Geometry.py``` defines D42, but corresponding Reco configuration file is missing:

[code]

[2019-05-08 07:50] ianna commented on #26687
assign upgrade

[2019-05-08 07:51] cmsbuild commented on #26687
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-08 07:51] cmsbuild commented on #26687
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-08 09:16] fabiocos commented on #26686
@smuzaffar is this just affecting the indentation in namespaces?

[2019-05-08 11:27] fabiocos opened #26691 "Build CMSSW_7_1_40"

[2019-05-08 11:28] cmsbuild commented on #26691
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-05-08 11:28] fabiocos commented on #26691
+1

[2019-05-08 11:28] cmsbuild commented on #26691
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_40. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-05-08 11:28] cmsbuild commented on #26691
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-05-08 11:29] cmsbuild commented on #26691
The build has started for slc6_amd64_gcc481 in cmsbuild91.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2034/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-05-08 11:31] smuzaffar commented on #26686
@fabiocos , yes mostly but it also fixes few things e.g.
- line length: instead of default 80 to cms setting 120 e.g. https://github.com/cms-sw/cmssw/pull/26690/files#diff-9ce9a7fb6cc798736e0af0363bce6fd0R29
- Constructor initializers: https://github.com/cms-sw/cmssw/pull/26690/files#diff-9ce9a7fb6cc798736e0af0363bce6fd0R20

Please see https://github.com/cms-sw/cmssw/pull/26690 which properly appl

[2019-05-08 15:01] fabiocos opened #26702 "Build CMSSW_9_3_15"

[2019-05-08 15:02] cmsbuild commented on #26702
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-05-08 15:02] fabiocos commented on #26702
+1

[2019-05-08 15:02] cmsbuild commented on #26702
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_15. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-05-08 15:02] cmsbuild commented on #26702
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-05-08 15:03] cmsbuild commented on #26702
The build has started for slc6_amd64_gcc630 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2035/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-08 15:04] cmsbuild commented on #26702
The build has started for slc7_amd64_gcc630 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2036/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-08 15:29] jan-kaspar commented on #24795
@christopheralanwest The 136.8562 workflow now seems to work fine with the updated optics tag ``PPSOpticalFunctions_offline_v2``.

I've run
[code]
and got
[code]

[2019-05-08 18:05] cmsbuild commented on #26691
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_40-slc6_amd64_gcc481/2034
Some tests (

[2019-05-08 18:16] cmsbuild commented on #26691
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_40-slc6_amd64_gcc481/2034

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-05-08 20:55] cmsbuild commented on #26702
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15-slc6_amd64_gcc630/2035
Some tests (

[2019-05-08 21:25] hatakeyamak commented on #26658
Thank you.

After yesterday's meeting, I am still trying to understand what your concern was about this cleaning.
In the above configurations,
usePFElectrons
usePFPhotons
are both always False in the above HLT configurations, right? (and useEGammaFilters too at HLT). Some relevant lines still just appear in the above HLT config, because they are just dump from HLT I think. Do you still have some q

[2019-05-08 21:53] cmsbuild commented on #26702
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15-slc6_amd64_gcc630/2035

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-05-08 21:56] hatakeyamak commented on #26658
@jpata

[2019-05-09 05:48] ianna commented on #26687
@kpedro88 - thanks for looking into it, it might have been a glitch.

[2019-05-09 05:48] #26687 closed

[2019-05-09 06:33] cmsbuild commented on #26702
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15-slc7_amd64_gcc630/2036
Some tests (

[2019-05-09 07:40] cmsbuild commented on #26702
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15-slc7_amd64_gcc630/2036

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-05-09 08:11] cmsbuild commented on #26702
Queing Jenkins upload for slc6_amd64_gcc630

[2019-05-09 08:11] cmsbuild commented on #26702
Queing Jenkins upload for slc7_amd64_gcc630

[2019-05-09 08:11] fabiocos commented on #26691
upload all

[2019-05-09 08:12] cmsbuild commented on #26691
Queing Jenkins upload for slc6_amd64_gcc481

[2019-05-09 08:13] cmsbuild commented on #26702
The upload has started for slc7_amd64_gcc630 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1333/console

[2019-05-09 08:13] cmsbuild commented on #26702
The upload has started for slc6_amd64_gcc630 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1332/console

[2019-05-09 08:13] cmsbuild commented on #26691
The upload has started for slc6_amd64_gcc481 in cmsbuild91.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1334/console

[2019-05-09 08:14] cmsbuild commented on #26691
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_40-slc6_amd64_gcc481/1334

[2019-05-09 08:14] fabiocos commented on #26702
release-notes

[2019-05-09 08:15] cmsbuild commented on #26702
ATTENTION!!! The production architecture (slc6_amd64_gcc630) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2019-05-09 08:15] cmsbuild commented on #26702
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_15-slc6_amd64_gcc630/1332

[2019-05-09 08:16] cmsbuild commented on #26702
Generating release notes since CMSSW_9_3_14_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-09 08:16] cmsbuild commented on #26702
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_15 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_14_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_15

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-05-09 08:17] cmsbuild commented on #26702
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_15

[2019-05-09 08:27] fabiocos opened #26721 "CMSSW_10_6_X finalization for UL and L1T TDR"
This issue is meant to keep track of the needed CMSSW feature not yet integrated into the 10_6_X branch but still needed for either the UL processing or for the L1T TDR production.

The list of PRs is (updated at 2019-05-13 10:20):

- [x] #26302 (MET uncertainties)

- [ ] #26486 (Adapting VID & Nano to the new E/gamma UL format + adding HEEP V7.1)

- [x] #26607 ([PPS] Timing detectors tracks windo

[2019-05-09 08:28] cmsbuild commented on #26721
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-09 08:28] fabiocos commented on #26721
@slava77 @perrotta FYI

[2019-05-09 09:00] fabiocos commented on #26691
release-notes

[2019-05-09 09:00] cmsbuild commented on #26691
Generating release notes since CMSSW_7_1_39.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-09 09:00] cmsbuild commented on #26691
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_40 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_39 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_40

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2019-05-09 09:01] cmsbuild commented on #26691
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_40

[2019-05-09 12:43] fabiocos opened #26727 "Error in DQM step of Phase 2 relval production"
This issue is meant to track information in a public place about the problem reported today by PdmV experts of a massive failure of DQMIO merge step in phase2 CMSSW_10_6_0_pre4 RelVal samples:

_We observed that most of the Phase 2 relval sample workflows (for e.g. [1, 2]) encounter Error 8022:
Fatal Root Error: @SUB=TH1Merger::CopyMerge
at DQM step, which affected DQMIO output statistics.

Can yo

[2019-05-09 12:43] cmsbuild commented on #26727
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-09 12:44] fabiocos commented on #26727
assign dqm

[2019-05-09 12:44] cmsbuild commented on #26727
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-09 12:45] fabiocos commented on #26727
See also #26726

@schneiml in between pre3 and pre4 there has been a long list of updates, but ROOT did not change https://cmssdt.cern.ch/SDT/ReleaseNotes/CMSSW_10/CMSSW_10_6_0_pre4.html

[2019-05-09 12:54] fabiocos commented on #26727
@schneiml I understand that #26726 goes in the direction of activating a test according @davidlange6 suggestion, which is good. Nevertheless it looks like that we are not experience massive failures in non phase2 relvals (@prebello @zhenhu please confirm), so the problem here seems to be triggered by some specific configuration not routinely probed.

[2019-05-09 12:56] fabiocos commented on #26727
@kpedro88 @abdoulline we are routinely running a very limited set of upgrade workflows, is it clear why we did not notice this problem there? The definition of the histogram should be independent on the amount of statistics in the job.

[2019-05-09 13:00] davidlange6 commented on #26727
Is there a merge performed?

[2019-05-09 13:06] schneiml commented on #26727
@fabiocos Yes, #26726 does basically what David suggested and the result (if my local tests didn't fool me) is basically what I expected: this 0-0 range exists and existed in many places, and while it triggers the chain of problems, it is not why we see these failures now.

Normally these exceptions should never leave ROOT; but somehow they do now, and only in some cases (we had succeeding relvals

[2019-05-09 13:07] schneiml commented on #26727
@davidlange6 no, DQMIO merging is only tested in a unit test with artificial test data, not on real data DQMIO files.

[2019-05-09 13:08] fabiocos commented on #26727
@davidlange6 @schneiml right, we are just running harvesting on a single file...

[2019-05-09 13:20] abdoulline commented on #26727
@fabiocos

Nbins is evaluated (in the DQMOffline/Hcal code in question) from the number of subdetector channels from Geometry. And it's unprotected. I suppose for Phase2 (no HE) it gets 0
(I've sent a query to @bsunanda, asking for his confirmation).

I'll try to fix it (set appropriate protection) in several places in DQMOffline/Hcal and Validation/Hcalxxx tomorrow.

[2019-05-09 13:23] fabiocos commented on #26727
@abdoulline yes, my guess is that this is a code run outside the basic configuration for what it was designed, and the lack of protection causes the weird histogram definition (regardless whether this is the origin of the problem or just the symptom of something deeper).

[2019-05-09 14:26] drkovalskyi commented on #26721
For muons:

- #26704 sim hit info addition for MiniAOD
- #26723 Fix in preselection of low pt muon mva

We may have one more PR for DYT depending on the outcome of the ongoing validation

[2019-05-09 14:59] kpedro88 commented on #26721
I am meeting with @kdlong next Monday to discuss improving the organization of generator weights. This is rather late to be ready for 10_6_0, but would be a boon for analysis users.

[2019-05-09 15:36] slava77 commented on #26721
these are now signed by reco.

[2019-05-09 15:40] slava77 commented on #26721
these are fully signed and are ready to be merged

[2019-05-09 15:50] perrotta commented on #26562
+1
- Fixed with #26567,  workflow 140.55 now passes

[2019-05-09 15:50] cmsbuild commented on #26562
This issue is fully signed and ready to be closed.

[2019-05-09 15:53] #26562 closed

[2019-05-09 16:05] fabiocos commented on #26721
@slava77 @drkovalskyi thank you, I will merge tonight whatever signed already in the list and update it accordingly

[2019-05-09 16:06] perrotta opened #26731 "Avoid code duplication in SiPixelRawToDigi ErrorChecker's"
In PR #26679 the ErrorChecker class was differentiated for Phase0 and Phase1.

In it, from the previous single ErrorChecker two classes
- ErrorChecker (for Phase1)
- ErrorCheckerPhase0

were defined, both deriving from a common base class ErrorCheckerBase.

In the implementation of that PR, basically all methods in the base class are virtual, and the specializations are implemented separately for

[2019-05-09 16:06] cmsbuild commented on #26731
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-09 16:07] perrotta commented on #26731
assign reconstruction

[2019-05-09 16:08] cmsbuild commented on #26731
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-09 16:38] #23439 closed

[2019-05-10 05:17] perrotta commented on #25751
+1
- Fixed with #26302

[2019-05-10 05:17] #25751 closed

[2019-05-10 05:17] cmsbuild commented on #25751
This issue is fully signed and ready to be closed.

[2019-05-10 05:18] perrotta commented on #26496
+1
- Fixed with #26593

[2019-05-10 05:19] cmsbuild commented on #26496
This issue is fully signed and ready to be closed.

[2019-05-10 06:39] dpiparo commented on #26496
@davidlange6 , saw this too late. Thanks for pinging me.

[2019-05-10 07:30] fabiocos commented on #26496
@dpiparo in case have a look, I think that now the textual report is more consistent, while the histogram comparison should not be affected.

[2019-05-10 08:54] fabiocos commented on #26727
We are not testing the merge of multiple DQM files in relVals, but the problem is very easily reproducible by splitting the step3 of wf 29034.0 (just to pick the D41 scenario example we are routine testing) into two sets of 5 events, and then trying the merge there with:

[code]

getting

[code]

It is a pity missing a problem that could be caught with a 5 minutes test...

[2019-05-10 09:30] schneiml commented on #26727
@fabiocos That lack of testing of the various merging modes in DQM (also harvesting with more than one input file and crossing lumi boundaries) has bothered me since a while, but apparently the merging worked without any trouble for so many years that the DQM team even forgot it existed...

I changed the proposed fix to #26738, since the previous approach does cause a hard-to-estimate risk of corr

[2019-05-10 14:02] fabiocos commented on #26727
yesterday we have moved to ROOT 6.14, I have repeated the above test for wf 29034.0 with the following result:

[code]

There are 324 histograms firing complaints, all from Tracker, N_HE from HCAL is not there.
The output merged file is produced.

[2019-05-10 14:06] fabiocos commented on #26727
... and the harvesting runs smoothly (at least apparently) on top of the merged file.

[2019-05-10 14:42] kpedro88 commented on #26727
I had remarked in the earlier email thread that a commit in ROOT 6.14 changes the condition for the error message, which stops it from occurring in this case:
https://github.com/root-project/root/commit/dab04da2641532d1612b548ce86ebac7cd129392

[2019-05-10 14:45] smuzaffar opened #26741 "DB lock issue durring unit tests"
@ggovi , during PR tests of https://github.com/cms-data/RecoBTag-Combined/pull/23 unit test `testConditionDatabase_2` failed due to locking issue [a]. I think issue is that there are two tests ( https://github.com/cms-sw/cmssw/search?q=cms_conditions_3.db&unscoped_q=cms_conditions_3.db ) which are using `cms_conditions_3.db` file. Can you please provide a fix for this?

[a]
[code]

[2019-05-10 14:46] cmsbuild commented on #26741
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-10 14:46] smuzaffar commented on #26741
assign db

[2019-05-10 15:42] Dr15Jones commented on #26584
@makortel I've done both the MTD related packages

[2019-05-10 15:53] makortel commented on #26584
Thanks. So now we're only missing Geometry/GEMGeometryBuilder, for which it is probably best to wait for https://github.com/cms-sw/cmssw/pull/26320 to be merged.

[2019-05-10 20:15] makortel opened #26748 "Migrate ESProducers used in standard workflows to EventSetup consumes"
This issue is a successor of #26584 to migrate the rest of ESProducers used in standard workflows to EventSetup consumes. I gathered a list of ESProducers (and the packages they are in) by running `edmConfigDump` to each configuration of the full `runTheMatrix.py`, and grepping for `ESProducer`
https://docs.google.com/spreadsheets/d/1uOJNwGpTtnDC_GA3PZC2bFva9-WqtyCqAmgCwK3bIFo/edit?usp=sharing

Th

[2019-05-10 20:15] cmsbuild commented on #26748
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-11 06:23] cmsbuild commented on #26702
The cleanup has started for slc6_amd64_gcc630

[2019-05-11 06:23] cmsbuild commented on #26702
The cleanup has started for slc7_amd64_gcc630

[2019-05-11 06:23] #26702 closed

[2019-05-11 06:30] cmsbuild commented on #26702
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_15-slc7_amd64_gcc630/1343

[2019-05-11 06:31] cmsbuild commented on #26702
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_15-slc6_amd64_gcc630/1342

[2019-05-11 07:08] cmsbuild commented on #26691
The cleanup has started for slc6_amd64_gcc481

[2019-05-11 07:08] #26691 closed

[2019-05-11 07:14] cmsbuild commented on #26691
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_40-slc6_amd64_gcc481/1344

[2019-05-11 10:40] fabiocos commented on #26741
Any idea why is this appearing just now? This code seems untouched since a while...

[2019-05-11 20:34] smuzaffar commented on #26741
This is just race condition. If both tests run on same time then there is a chance that there will be lock on the local db file.

[2019-05-11 20:48] fabiocos commented on #26741
@smuzaffar yes, I understand that, the point is why it starts to systematically hit us now...

[2019-05-11 20:57] smuzaffar commented on #26741
is it very frequent now?

[2019-05-11 21:00] smuzaffar commented on #26741
the second test was added on Jan 23 this year ( https://github.com/cms-sw/cmssw/pull/25722 )

[2019-05-11 21:01] fabiocos commented on #26741
well I would say we are seeing it in several PR tests, while this was not the case until recently. But the IB looks clean from this point of view, are unit tests run there differently?

[2019-05-11 21:03] smuzaffar commented on #26741
No, unit tests in IBs are run the same way. Only thing is that in IBs we run all  tests that is why there is less chance of collision.

[2019-05-12 10:37] fabiocos opened #26758 "Headers issues to be fixed"
For future reference the report by @perrotta in https://github.com/cms-sw/cmssw/pull/26703#issuecomment-491574411

- [ ] Usage of obsolete CommonTools/Utils/interface/deltaPhi.h in CommonTools/Utils/interface/MasslessInvariantMass.h

- [ ] Usage of obsolete CommonTools/Utils/interface/deltaR.h in CommonTools/Utils/interface/MaxObjectPairSelector.h

- [x] Issues with DataFormats/Math/interface/AVXV

[2019-05-12 10:38] cmsbuild commented on #26758
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-12 20:00] srimanob commented on #26721
@mverzett, if you open a PR on new HLT dataformat for BTV, please mention here also. Thx.

[2019-05-12 20:31] fabiocos opened #26760 "Build CMSSW_10_6_0"

[2019-05-12 20:32] cmsbuild commented on #26760
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-05-12 20:32] fabiocos commented on #26760
build cmssw-tool-conf

[2019-05-12 20:33] cmsbuild commented on #26760
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-05-12 20:33] cmsbuild commented on #26760
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2037/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-12 20:34] cmsbuild commented on #26760
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2038/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-13 00:44] cmsbuild commented on #26760
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_amd64_gcc820/2038

[2019-05-13 01:08] cmsbuild commented on #26760
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_amd64_gcc700/2037

[2019-05-13 09:01] cmsbuild commented on #26760
There was an error building cmssw-tool-conf for slc7_aarch64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_aarch64_gcc700/2039

[2019-05-13 09:34] perrotta commented on #24318
The dead assignment of ```fTMB_Scope``` and related flags was fixed by #26574

The cleaning of the configs with different ExaminerMask's implemented in them is still pending. According to what was written by @barvic in https://github.com/cms-sw/cmssw/pull/24295#issuecomment-413550040:
- Those test config files with .cfg extensions are obsolete and unusable (from pre-python era). Most likely will b

[2019-05-13 09:45] perrotta commented on #23633
As far as I can see, this got fixed by #26020 : @Dr15Jones, can you confirm (and close this issue, if so)?

[2019-05-13 09:58] fabiocos commented on #26760
+1

[2019-05-13 09:59] cmsbuild commented on #26760
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-05-13 09:59] cmsbuild commented on #26760
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-05-13 10:03] cmsbuild commented on #26760
The build has started for slc7_amd64_gcc700 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2040/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-13 10:04] cmsbuild commented on #26760
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2041/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-13 10:13] cmsbuild commented on #26760
The build has started for slc7_amd64_gcc820 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2042/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-13 11:20] ptcox commented on #24318
I have to say I do not think it is a smart idea to blithely delete
complex code like this. You have a lot more confidence than me that such
code will never need to be reimplemented. And likewise with old config
files. To me it seems better to leave them around because they show what
once WORKED even if they no longer do. Better to comment out code that
is unused but now troublesome rather than com

[2019-05-13 11:55] Dr15Jones commented on #23633
@perrotta I thought we were just waiting for a reconstruction L2 to do sign off on this issue, then it will be closed.

[2019-05-13 11:57] Dr15Jones commented on #23633
@perrotta it does look like the problem was fixed in the referenced pull request.

[2019-05-13 11:58] perrotta commented on #23633
+1
- Solved with #26020: thank you @Dr15Jones for the confirmation

[2019-05-13 11:59] cmsbuild commented on #23633
This issue is fully signed and ready to be closed.

[2019-05-13 12:12] cmsbuild commented on #26760
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2043/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-13 13:48] kpedro88 commented on #24318
@ptcox old code is always available in the git history in case it needs to be revived. Leaving large chunks of commented-out code (or completely broken configs) is discouraged because it is messy and confusing for any future observer or developer.

[2019-05-13 14:07] ptcox commented on #24318
I find untangling old code from git history next to impossible. And that
is only feasible anyway if somebody KNOWS that some particular feature
was once implemented and then deleted. The same is the case for deleted
config files. Their existence, even if they no longer operate, can
illuminate the fact that once some particular feature or set of features
WAS operational, information that can otherw

[2019-05-13 14:11] kpedro88 commented on #24318
@ptcox this is one of the primary purposes of version control systems. There are numerous resources available to become more familiar with Git, including a tutorial I wrote specifically for CMS: https://twiki.cern.ch/twiki/bin/view/CMS/CMSGitTutorial.

Additionally, we usually clean up old code only in the development branch. All the previous branches, corresponding to older release cycles of CMSS

[2019-05-13 14:30] smuzaffar commented on #26741
https://github.com/cms-sw/cmssw/pull/26762 should fix this issue

[2019-05-13 14:48] Sam-Harper commented on #26721
This is the PR for the supercluster regression
https://github.com/cms-sw/cmssw/pull/26763

The electron/photon regression is about 1-2 weeks away as per the agreed schedule with PPD. The ele/pho regression can be applied on the miniAOD though.

The PF cluster regression (no PR expected, just GT change) is in progress.

[2019-05-13 14:50] cmsbuild commented on #26760
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_amd64_gcc820/2042
Some tests (

[2019-05-13 16:29] cmsbuild commented on #26760
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_amd64_gcc700/2040
Some tests (

[2019-05-13 17:02] cmsbuild commented on #26760
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_amd64_gcc820/2042

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-13 17:40] cmsbuild commented on #26760
There was an error building cmssw-tool-conf for slc7_aarch64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_aarch64_gcc700/2043

[2019-05-13 18:39] cmsbuild commented on #26760
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_amd64_gcc700/2040

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-13 18:46] cmsbuild commented on #26760
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2044/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-13 22:20] christopheralanwest opened #26771 "Invalid filename specified in 2021 geometry XML file"
There is a minor problem with the rearranging of files in PR #26535. The line

https://github.com/cms-sw/cmssw/blob/ebb659b4d047d61b577ae18e19dde7a5d95392e8/Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py#L278

specifies an invalid filename. When commit a87a02059bc357cf065cb86f3f3411342b36ed6e renamed `Geometry/MuonSimData/data/2021/muonProdCuts.xml`
 to `Geometry/MuonSimData/data/

[2019-05-13 22:21] cmsbuild commented on #26771
A new Issue was created by  @christopheralanwest .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-13 22:23] Dr15Jones commented on #26771
assign geometry

[2019-05-13 22:23] cmsbuild commented on #26771
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-13 22:27] kpedro88 commented on #26771
@boudoul @ianna FYI

[2019-05-14 05:42] smuzaffar commented on #26758
https://github.com/cms-sw/cmssw/pull/26641
https://github.com/cms-sw/cmssw/pull/26666
- https://github.com/cms-sw/cmssw/pull/26666
 should fix
  - ElectroWeakAnalysis/ZMuMu/interface/*
  - PhysicsTools/HepMCCandAlgos/interface/MCTruthCompositeMatcher.h
  - PhysicsTools/IsolationAlgos/interface/CalIsolationNoExtrapol.h
  - PhysicsTools/IsolationUtils/interface/*
  - PhysicsTools/UtilAlgos/interface

[2019-05-14 06:51] fabiocos commented on #26760
@smuzaffar at this point I would move forward with the upload and release-notes, but we should ensure that we can do the build also on aarch64, as this was already requested by @fwyzard . If I understand properly the docker installation/configuration on the aarch64 build machine should be checked and fixed in case

[2019-05-14 06:52] fabiocos commented on #26760
Ok, the build is running already, so I understand that the basic issues with docker have been fixed. Unless there are other issues this will appear later

[2019-05-14 06:53] fabiocos commented on #26760
upload all

[2019-05-14 06:53] cmsbuild commented on #26760
Queing Jenkins upload for slc7_amd64_gcc700

[2019-05-14 06:53] cmsbuild commented on #26760
Queing Jenkins upload for slc7_amd64_gcc820

[2019-05-14 06:54] cmsbuild commented on #26760
The upload has started for slc7_amd64_gcc700 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1335/console

[2019-05-14 06:54] cmsbuild commented on #26760
The upload has started for slc7_amd64_gcc820 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1336/console

[2019-05-14 06:55] cmsbuild commented on #26760
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0-slc7_amd64_gcc820/1336

[2019-05-14 06:57] cmsbuild commented on #26760
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0-slc7_amd64_gcc700/1335

[2019-05-14 07:25] fabiocos commented on #26760
release-notes

[2019-05-14 07:25] cmsbuild commented on #26760
Generating release notes since CMSSW_10_6_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-14 07:25] cmsbuild commented on #26760
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_0 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms

[2019-05-14 07:26] cmsbuild commented on #26760
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0

[2019-05-14 07:36] smuzaffar commented on #26760
@fabiocos , yes please go ahead. aarch64 release is in build state. It is taking time to build as this is first release after the GCC7 updaet, so basically it is re-build every thing gcc and above. Twice it failed due to low disk on the machines but now it is running on a machine with more than 600GB free.

[2019-05-14 07:40] fwyzard commented on #26760
@smuzaffar, thanks for the aarch64 build !

[2019-05-14 10:13] smuzaffar opened #26776 "Cyclic dependency between DataFormats/TrackerCommon and DataFormats/SiStripDetId"
While building CXXMODULES IB, we noticed a cyclic dependency between DataFormats/TrackerCommon and DataFormats/SiStripDetId [a]. This can be avoided if we move TrackerTopology.* in to DataFormats/SiStripDetId itself or some other common package. If move to DataFormats/SiStripDetId sound reasonable then I can provide a PR.

[a]
[code]
[code]

[2019-05-14 10:13] smuzaffar commented on #26776
assign reconstruction

[2019-05-14 10:15] cmsbuild commented on #26776
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-14 10:15] cmsbuild commented on #26776
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-14 10:21] smuzaffar commented on #26776
assign simulation

[2019-05-14 10:22] cmsbuild commented on #26776
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-14 11:42] slava77 commented on #26776
It looks like SiStripSubStructure should be moved somewhere else.
Moving TrackerTopology to SiStrip* does not work from "first principles", because it has to serve all tracker variants, not just SiStrip.

[2019-05-14 11:56] davidlange6 commented on #26776
I agree - likely to DataFormats/TrackerCommon?

[2019-05-14 13:40] cmsbuild commented on #26760
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_aarch64_gcc700/2044

[2019-05-14 13:48] cmsbuild commented on #26760
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2045/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-14 14:41] drkovalskyi commented on #26721
DYT PR #26778
There should be nothing else pending from Muon POG.

[2019-05-14 15:38] cmsbuild commented on #26760
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_aarch64_gcc700/2045
Some test

[2019-05-14 15:38] cmsbuild commented on #26760
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-05-14 15:40] cmsbuild commented on #26760
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1337/console

[2019-05-14 15:41] cmsbuild commented on #26760
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0-slc7_aarch64_gcc700/1337

[2019-05-14 18:56] cmsbuild commented on #26760
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0-slc7_aarch64_gcc700/2045

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-15 06:47] smuzaffar commented on #26776
moving SiStripSubStructure in to DataFormats/TrackerCommon is even easier and involves less changes.,@perrotta  @slava77 @mdhildreth @civanch any objections?

[2019-05-15 07:24] fabiocos commented on #26760
@fwyzard also the aarch64 build is available:
[code]

[2019-05-15 07:24] pieterdavid commented on #26776
Another option would be to define the two enums that are needed from the headers in DataFormats/SiStripDetId to somewhere in DataFormats/TrackerCommon; out of
[code]
the first is not needed, the second is only to use [this constructor](https://github.com/cms-sw/cmssw/blob/4985c11f34da6f6b475a04267946ea6aaa7a6bbe/DataFormats/SiStripDetId/interface/SiStripDetId.h#L31) (which could simply be replaced

[2019-05-15 08:03] smuzaffar commented on #26686
closing this as all PRs to fix this formating are now merged in cmssw.

[2019-05-15 08:03] #26686 closed

[2019-05-15 09:11] #23633 closed

[2019-05-15 10:19] fwyzard commented on #26760
Thanks !

[2019-05-15 11:57] slava77 commented on #26776
@pieterdavid
you (Tracker DPG) are perhaps the main customer for this.
If you could follow up soon with a PR that fits your needs and also resolves the cyclic dependency, it would be nice.
Thank you.

[2019-05-15 12:23] fabiocos commented on #26721
Post-10_6_0 pending items according to reports:

- [ ]  #26486 (Adapting VID & Nano to the new E/gamma UL format + adding HEEP V7.1)

- [ ] #26763 (updating SC ref corrector for UL regression)

- [ ] #26778 DyT v2 on up to eta 1p2

[2019-05-15 12:39] srimanob commented on #26721
- [ ] https://github.com/cms-sw/cmssw/pull/26785 (Updating the skim for Run-2 ULs)

[2019-05-15 12:44] peruzzim commented on #26721
- [ ] #26724 Higgs STXS Stage 1.1

[2019-05-15 13:39] hatakeyamak commented on #26658
I think a cycle for 11_x has opened, so it may be a good time to go ahead with this cleanup?

[2019-05-16 05:38] cmsbuild commented on #26760
The cleanup has started for slc7_aarch64_gcc700

[2019-05-16 05:38] cmsbuild commented on #26760
The cleanup has started for slc7_amd64_gcc700

[2019-05-16 05:38] cmsbuild commented on #26760
The cleanup has started for slc7_amd64_gcc820

[2019-05-16 05:38] #26760 closed

[2019-05-16 05:39] cmsbuild commented on #26760
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0-slc7_aarch64_gcc700/1345

[2019-05-16 05:41] cmsbuild commented on #26760
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0-slc7_aarch64_gcc700/1348

[2019-05-16 05:41] cmsbuild commented on #26760
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0-slc7_amd64_gcc820/1347

[2019-05-16 05:47] cmsbuild commented on #26760
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0-slc7_amd64_gcc700/1346

[2019-05-16 05:48] cmsbuild commented on #26760
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0-slc7_amd64_gcc700/1349

[2019-05-16 05:52] cmsbuild commented on #26760
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0-slc7_amd64_gcc820/1350

[2019-05-16 16:38] smuzaffar commented on #26758
Most of the header check errors are fixed now. The following PRs should fix the remaining errors [a]
https://github.com/cms-sw/cmssw/pull/26810
https://github.com/cms-sw/cmssw/pull/26809
https://github.com/cms-sw/cmssw/pull/26808
https://github.com/cms-sw/cmssw/pull/26663

[a] https://cmssdt.cern.ch/SDT/jenkins-artifacts/check_headers/CMSSW_11_0_X_2019-05-15-2300/slc7_amd64_gcc700/headers_with_err

[2019-05-16 21:02] srimanob opened #26812 "Issue with cmsDriver with GEN step only"
If I use the following cmsDriver in 10_6_0,

it gives me

However, if I change
--eventcontent FEVTDEBUG ==> RAWSIM (we used to have this in GENOnly campaign)
or
--step GEN ==> GEN,SIM
or
--datatier GEN ==> GEN-SIM or random like MINIAODSIM
things run fine.

It seems to me that if I choose "FEVTDEBUG", the datatier needs to have the keyword "SIM". The cmsDriver run fine with any random datatier wit

[2019-05-16 21:03] cmsbuild commented on #26812
A new Issue was created by  @srimanob Phat Srimanobhas.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-16 21:38] guitargeek commented on #26658
Yes @hatakeyamak, I think it's time now.

Also, everything I said before in this issue was not accurate. I thought it's either the old PFPhotons/PFElectrons or the new PFEgammaFilters, so I first hardcoded the use of the new PFEgammaFilters which didn't work. As @bendavid pointed out in the meeting, it's because they should also be disabled in HLT.

PR will follow suit.

[2019-05-16 21:41] hatakeyamak commented on #26658
Sounds good!

[2019-05-17 09:40] fabiocos commented on #26812
assign pdmv

[2019-05-17 09:40] cmsbuild commented on #26812
New categories assigned: pdmv

@prebello,@pgunnell,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-17 11:39] fabiocos commented on #26812
@srimanob I think you observe just the effect of

https://cmssdt.cern.ch/lxr/source/Configuration/Applications/python/cmsDriverOptions.py#0217

alternatively you may just add ```--mc``` to your command and it should work. I believe this should be updated to add both ```GEN``` and ```LHE``` as steps that trigger the ```isMC``` definition

[2019-05-17 11:40] fabiocos commented on #26812
[code]

[2019-05-17 12:07] srimanob commented on #26812
Big thanks, Fabio.
Yes, the warning shows clearly, but I skipped the line
`We have determined that this is real data (if not, rerun cmsDriver.py with --mc)`

I put the PR to add more options to trigger isMC, https://github.com/cms-sw/cmssw/pull/26818

[2019-05-17 12:07] #26812 closed

[2019-05-19 03:10] smuzaffar commented on #26741
this has been fixes via #26762

[2019-05-19 03:10] #26741 closed

[2019-05-20 09:15] fabiocos opened #26832 "Post 10_6_0 UL and L1T TDR updates"
This issues is the follow-up of #26721 after CMSSW_10_6_0 has been built, and it aims to collect the list of late developments and urgent fixes integrated in 11_0_X and backported into 10_6_X, targeting the 10_6_1 build. The list available so far is (2019-05-21, 11:00):

- [x] Adapting VID & Nano to the new E/gamma UL format + adding HEEP V7.1, #26486 (11_0_X merged) -> #26786 (10_6_X)

- [x] upda

[2019-05-20 09:16] cmsbuild commented on #26832
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-20 09:16] fabiocos commented on #26721
I close this issue, and move the list of residual needs for 10_6_1 to #26832

[2019-05-20 09:16] #26721 closed

[2019-05-20 14:29] peruzzim commented on #26832
- [ ] NANOAOD updates from XPOG, #26844 (11_0_X) -> #26845 (10_6_X)

[2019-05-20 15:33] perrotta opened #26846 "Make Phase2-only parameters not mandatory in Phase1 configs"
Summarizing here the request posted in a past thread in the reconstruction hn, see https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1615.html, con contributions from @fwyzard and @VinInn :

All Phase 2 developers should make the Phase 2-only parameters *not* mandatory in the modules configurations.

An example is ```PixelThresholdClusterizer``` which in CMSSW 10.4.x requires these param

[2019-05-20 15:34] cmsbuild commented on #26846
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-20 15:34] perrotta commented on #26846
assign reconstruction, upgrade

[2019-05-20 15:34] cmsbuild commented on #26846
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-20 18:45] mmusich commented on #26846
@avartak @emiglior FYI

[2019-05-21 13:24] perrotta commented on #26758
PR #26855 can remove the following obsolete headers, which also give rise to warnings in the header checks

DataFormats/BTauReco/interface/JetTracksAssociation.h
DataFormats/JetReco/interface/BasicJetfwd.h
DataFormats/JetReco/interface/CaloJetfwd.h
DataFormats/JetReco/interface/GenJetfwd.h
DataFormats/JetReco/interface/GenericJetfwd.h
DataFormats/JetReco/interface/PFJetfwd.h

[2019-05-21 14:48] slava77 commented on #26832
a backport of #26824 will be requested for 10_6_1 as well
@mbluj

[2019-05-21 14:51] boudoul commented on #26771
It should be fixed with #26856  - Thanks for reporting.

[2019-05-21 15:31] dpiparo commented on #26496
@fabiocos , for me the changes are good to go (not following closely this repo yet, again, apologies for the delay in answering)

[2019-05-21 15:42] mbluj commented on #26832
PR #26859 prepared.

[2019-05-21 16:10] fabiocos opened #26860 "Build CMSSW_7_1_41"

[2019-05-21 16:11] cmsbuild commented on #26860
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t