[2020-02-03 17:11] cmsbuild commented on #28858
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-03 17:15] Dr15Jones commented on #28858
assign dqm

[2020-02-03 17:15] cmsbuild commented on #28858
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-03 19:56] gkrintir commented on #28636
OK sure. ;D

@wouf  time/event is kind of documented in tables like [here](https://twiki.cern.ch/twiki/bin/view/CMS/MCFor2018PbPb5TeV) (PbPb 18), while the list with all campaigns can be found [here](https://twiki.cern.ch/twiki/bin/view/CMS/HeavyIonMCProd).

If these metrics are not enough or make little sense I think we should ping HIN MC contacts to calculate those or let @gsfs to comment whethe

[2020-02-03 20:15] mandrenguyen commented on #28636
@gkrintir @makortel @wouf
Sorry, I missed this thread, and it's not easy to catch up.
A few things:
@makortel  Min Bias heavy ion events take on the order of 1 hour per event, compared to order 1 minute per event for a "signal" event (the one getting embedded into MB).
--pileup HiMixGEN is used in the standard heavy-ion embedding workflow.  What that does is read the generated primary vertex posit

[2020-02-03 20:26] gkrintir commented on #28636
thx @mandrenguyen for clarifying the order of magnitude difference; the tabulated numbers make sense then, I thought there was a typo when seeing the difference of MB mixed vs typical 'signal' events!

[2020-02-03 20:44] makortel commented on #28636
@mandrenguyen Thanks for the clarifications!

Pretty clear then that it makes no sense to generate MinBias on the fly if those get re-used for multiple (signal) datasets.

Ok, so the MB event HepMC product is not used for anything else (I did not trace the downstream modules taking the `CrossingFrame<edm::HepMCProduct>` to check what exactly they do)? I.e. SIM is run only on the signal event, and

[2020-02-03 21:28] mandrenguyen commented on #28636
@makortel We also store gen-particles from the MB event.  Perhaps that is also be made possible by CrossingFrame<edm::HepMCProduct>?  From what i understand, such info is not available in the standard pileup workflow.

I believe you are right that SIM is run only for the 'signal' event, and that the mixing is done at DIGI level.  Otherwise, the SIM step would be as long as for standard Min Bias (i

[2020-02-04 07:01] makortel commented on #28850
@mrodozov @smuzaffar Could you please clarify if anything else is needed for "uploaded releases" to end up in cmvfs? (the release is still not there)

[2020-02-04 07:38] smuzaffar commented on #28850
release-notes since CMSSW_11_1_0_pre2

[2020-02-04 07:39] cmsbuild commented on #28850
Generating release notes since CMSSW_11_1_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-02-04 07:39] cmsbuild commented on #28850
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre2_Patatrack is now available for the following architectures:

slc7_amd64_gcc820 (production)

The release notes of what changed with respect to CMSSW_11_1_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre2_Patatrack

Cheers,
cms-bot

You can also click <a href="

[2020-02-04 07:39] cmsbuild commented on #28850
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre2_Patatrack

[2020-02-04 07:41] smuzaffar commented on #28850
@makortel , once release is uploaded then there is cron job which automatically install releases on cvmfs. @bockjoo can you please check which this release was not installed?

[2020-02-04 07:44] makortel commented on #28636
Thanks, that clears up some of my confusion. So essentially (mostly to document for myself) currently
* `generator` produces `edm::HepMCProduct` for the signal
* `mix` produces `CrossingFrame<edm::HepMCProduct>` containing the signal and the MB
* `genParticles` etc are made from the `CrossingFrame<edm::HepMCProduct>` and contain both the signal and the MB
* SIM takes `edm::HepMCProduct` of the sig

[2020-02-04 07:45] fwyzard commented on #28850
is this something I can ask the bot to do as well ?

[2020-02-04 07:48] fwyzard commented on #28850
Unfortunately it does not seem to produce a useful log: it lists some old 10.2.0 PRs (from when the history between the 10.1.x used by Patatrack and 10.2.x used by the master branch had diverged), and none of the actual Patatrack PRs (which are in a different repository).

Maybe we should skip it instead ?

[2020-02-04 07:49] fwyzard commented on #28850
@smuzaffar is it possible to trigger a build also for aarch64 ?

[2020-02-04 07:50] makortel commented on #28636
I think the easiest way to support already `generator` reading the MB event is then
* `mix` produces `CrossingFrame<edm::HepMCProduct>` that contains only the MB event
* `generator` reads the aforementioned `CrossingFrame<edm::HepMCProduct>` and produces `edm::HepMCProduct` for the signal
* a new module reads the aforementioned `edm::HepMCProduct` for signal and `CrossingFrame<edm::HepMCProduct>`

[2020-02-04 08:12] cmsbuild commented on #28850
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2296/console
CMSDIST Branch: [dae3ce5bd058a3e6467a4d502084504c455e96bf](https://github.com/cms-sw/cmsdist/commits/dae3ce5bd058a3e6467a4d502084504c455e96bf), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-04 08:13] smuzaffar commented on #28850
I have triggered the aarch64 builds. for next Patatrack (ore)release it should be build automatically (unless we are short of resources)

[2020-02-04 08:18] fwyzard commented on #28850
Thank you!

[2020-02-04 09:29] wouf commented on #28636
It gives:
[code]

What You mean here by update?

[2020-02-04 11:02] makortel commented on #28636
The `mix` needs to be configured to not read anything for signal (IIRC that could work).

Their configuration need to be changed to read the output of the "new module" instead of `mix`.

[2020-02-04 11:32] perrotta commented on #28849
+1
- #28853 merged since CMSSW_11_1_X_2020-02-03-2300

[2020-02-04 11:33] cmsbuild commented on #28849
This issue is fully signed and ready to be closed.

[2020-02-04 11:42] wouf commented on #28636
Sorry, but what does IIRC mean?

[2020-02-04 12:44] makortel commented on #28636
"If I recall correctly"

[2020-02-04 12:54] wouf commented on #28636
I see, thanks! But I haven't found a way to do this (via configs) yet.

[2020-02-04 13:16] cmsbuild commented on #28850
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2_Patatrack-slc7_aarch64_gcc820

[2020-02-04 13:16] cmsbuild commented on #28850
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-02-04 13:19] cmsbuild commented on #28850
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1490/console

[2020-02-04 13:21] cmsbuild commented on #28850
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre2_Patatrack-slc7_aarch64_gcc820/1490

[2020-02-04 14:44] peruzzim commented on #27889
taking note of #28844

[2020-02-04 14:52] jrueb opened #28860 "Mistaken use of pt instead of phi in JetCorrectionUncertainty"
I noticed the following line
https://github.com/cms-sw/cmssw/blob/2a0f8519866fae6b40a9f734a36c3c3282261299/CondFormats/JetMETObjects/src/JetCorrectionUncertainty.cc#L124
 It looks like it's supposed to push back phi (`result.push_back(mJetPhi);`) but instead it actually pushes pt. The pushing of pt is done already in the lines above it. Isn't this a mistake?
(Previously reported at https://github.

[2020-02-04 14:53] cmsbuild commented on #28860
A new Issue was created by  @jrueb Jonas Rbenach.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-04 14:58] Dr15Jones commented on #28860
assign alca, reconstruction

[2020-02-04 14:58] cmsbuild commented on #28860
New categories assigned: reconstruction,alca

@slava77,@christopheralanwest,@franzoni,@tlampen,@pohsun,@perrotta,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-04 14:59] #28849 closed

[2020-02-04 15:06] Dr15Jones opened #28861 "Consider adding edm::Event::getCopy"
We could add an `edm::Event::getCopy(edm::EDGetTokenT<T>)` function which behaves similar to `edm::Event::get` except it returns `T` instead of `T const&`. If multiple modules still want the data product (or we know it is used for an `edm::Ref`) the framework would return a copy of the object. If no other module wants the data product, the framework would do a `std::move` of the data product out o

[2020-02-04 15:06] Dr15Jones commented on #28861
assign core

[2020-02-04 15:06] cmsbuild commented on #28861
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-04 15:06] cmsbuild commented on #28861
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-04 15:10] Dr15Jones commented on #28861
The simplest starting point would be only to do the `std::move` for the case

1. the data product is made in the process
1. the module which created the process did not call `getRefBeforePut` on the data product
1. only one module consumes that data product

these would guarantee that no `edm::Ref` like connection was made for the product and there would be no worry about a race condition when the

[2020-02-04 15:22] makortel commented on #28636
Indeed there seems to be no way to explicitly disable reading the signal input, but changing this line
https://github.com/cms-sw/cmssw/blob/master/SimGeneral/MixingModule/python/HiMixGEN_cff.py#L32
to use `cms.InputTag.skipCurrentProcess()` also for the `cms.InputTag("generator","unsmeared")` should make the mixing part to work. Although just relying on the `skipCurrentProcess()` sounds a bit erro

[2020-02-04 17:01] bockjoo commented on #28850
Apology about the delay!
slc7_amd64_gcc820 cms+cmssw+CMSSW_11_1_0_pre2_Patatrack is installed on /cvmfs/cms.cern.ch.
It should appear in the client side soon.

[2020-02-04 17:02] smuzaffar commented on #28850
thanks @bockjoo

[2020-02-04 17:07] ianna opened #28862 "[DD4hep] evaluate all constants by default"
All constants in XML have to be evaluated unless the flag is set to ```false```
requested by Sunanda

[2020-02-04 17:07] cmsbuild commented on #28862
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-04 17:18] makortel commented on #28862
assign geometry

[2020-02-04 17:20] cmsbuild commented on #28862
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-04 17:38] makortel commented on #24185
It occurred to me (some time ago already) that this feature is actually not really needed. We can just queue the transfers to all devices (in separate streams) from the ESProducer and use similar CUDA event + `cudaStreamWaitEvent()` trick in the consumers as we do with `cms::cuda::Product`. (and I have a private prototype)

I'll however leave the issue open until the support actually lands to CMSS

[2020-02-04 18:15] christopheralanwest commented on #28860
Adding JetMET experts: @juska @lathomas @ahinzmann

[2020-02-04 18:34] fwyzard commented on #28850
thanks !

[2020-02-04 18:34] fwyzard commented on #28850
@smuzaffar is it OK to close the issue now ?

[2020-02-04 18:48] #28830 closed

[2020-02-04 19:46] christopheralanwest commented on #28830
+1

[2020-02-04 19:47] cmsbuild commented on #28830
This issue is fully signed and ready to be closed.

[2020-02-04 20:02] smuzaffar commented on #28850
@fwyzard , bot will close it in 3 days.

[2020-02-05 08:30] fabiocos commented on #28632
Solved by #28848

[2020-02-05 08:30] #28632 closed

[2020-02-05 08:54] wouf commented on #28636
After mixing such a way, the output looks like:

[code]
No `CrossingFrame<edm::HepMCProduct>` found. I'm not familiar with mixing, possibly I have to set it somehow?

[2020-02-05 09:17] cmsbuild commented on #28850
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2297/console
CMSDIST Branch: [dae3ce5bd058a3e6467a4d502084504c455e96bf](https://github.com/cms-sw/cmsdist/commits/dae3ce5bd058a3e6467a4d502084504c455e96bf), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-05 09:27] cmsbuild commented on #28850
The was an error for slc7_aarch64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre2_Patatrack-slc7_aarch64_gcc820/2297

[2020-02-05 09:53] ianna opened #28871 "[DD4hep] DDFilteredView add an accessor to a vector from a SpecPar by a path selector"
requested by @slomeo

[2020-02-05 09:54] cmsbuild commented on #28871
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-05 10:27] makortel commented on #28871
assign geometry

[2020-02-05 10:27] cmsbuild commented on #28871
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-05 17:32] makortel commented on #28636
The `CrossingFrame<T>` is a transient-only data product, so it won't end up in output files. You should be able read it from subsequent framework modules though.

[2020-02-05 20:25] wouf commented on #28636
But I can't. I saved the root output just after MixingModule (with empty signal). It contain just
[code]
nothing more.

[2020-02-06 06:53] cmsbuild commented on #28850
The cleanup has started for slc7_aarch64_gcc820

[2020-02-06 06:53] cmsbuild commented on #28850
The cleanup has started for slc7_amd64_gcc820

[2020-02-06 06:53] #28850 closed

[2020-02-06 06:53] cmsbuild commented on #28850
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre2_Patatrack-slc7_aarch64_gcc820/1527

[2020-02-06 06:53] cmsbuild commented on #28850
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre2_Patatrack-slc7_amd64_gcc820/1528

[2020-02-06 08:00] makortel commented on #28636
As I wrote, `CrossingFrame<T>` can not be saved into the file. You can use `EventContentAnalyzer` to print out the products available at run time in `edm::Event`. I.e. define `process.eca = cms.EDAnalyzer("EventContentAnalyzer")`, and put that into your sequence after `process.mix`.

[2020-02-06 14:56] #28837 closed

[2020-02-06 17:12] wouf commented on #28636
Thank You Matti, at first I did not understand.
`EventContentAnalyzer` gives
[code]
But when I'm trying to read it from generator:
[code]
It looks broken. On the other hand the size of event in generator module, after `const edm::Event& e = getEDMEvent();` calling - non zero.

[2020-02-06 17:32] makortel commented on #28636
It is not designed to be serialized, e.g. it holds direct pointers to the actual data products in the signal and pileup events. There is a `PCrossingFrame<T>` if something really needs to be serialized, but that's much more expensive class because it copies the products. Most use cases are anyway to deliver something from the MixingModule to other digitizer modules and do not need to be persisted.

[2020-02-06 17:45] Dr15Jones opened #28877 "Consider creating a SynchronizationService"
Many of the thread safety checking tools (e.g. helgrind) only understand locks as a synchronization mechanism and give false positives when atomics are being used. In order to better use these tools in cmsRun, we could create a SynchronizationService. This service would protect calls into modules using mutexes. In particular, when configuring the service you could say
- For module with label _x_ u

[2020-02-06 17:46] Dr15Jones commented on #28877
assign core

[2020-02-06 17:46] cmsbuild commented on #28877
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-06 17:46] cmsbuild commented on #28877
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-06 17:49] makortel commented on #28877
@Dr15Jones Would you enable the service only when running these tools, or always?

[2020-02-06 17:56] Dr15Jones commented on #28877
Only when running the tool.

[2020-02-07 11:02] wouf commented on #28636
The snapshot is [here](https://github.com/wouf/hj191/commit/faede8f3e2e1b47494091d43ec28c80ebd268abe). Here is [edmConfigDump](https://wouf.web.cern.ch/wouf/up/HJ191_emb). Thanks!

[2020-02-07 14:38] makortel commented on #28636
After further investigation it appears that I was wrong and `MixingModule` effectively ignores an event if the signal input product does not exist. I.e. an explicit flag need to be added.

[2020-02-07 20:41] gartung opened #28894 "Building FWLITE 11.0.0 on macOS with Conda"
Any suggestions?
[code]

[2020-02-07 20:41] cmsbuild commented on #28894
A new Issue was created by  @gartung Patrick Gartung.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-07 20:58] gartung commented on #28894
`M_PIl` does not exist in clang cmatch but `M_PI` does.
That gets me past the first error.

[2020-02-07 20:59] gartung commented on #28894
[code]

[2020-02-07 21:00] gartung commented on #28894
Thought all uses of auto_ptr were changed to unique_ptr

[code]

[2020-02-07 21:09] gartung commented on #28894
Changing auto_ptr to unique_ptr in SimDataFormats/GeneratorProducts classes_def.xml at least allows the dictionary generation to work and compile.

[2020-02-07 21:29] gartung commented on #28894
The first error seemed to be fixed by adding
#include <array>
in FWCore/ParameterSet/src/Entry.cc

[2020-02-07 21:31] gartung commented on #28894
[code]

[2020-02-08 06:55] makortel commented on #28894
assign core

[2020-02-08 06:56] cmsbuild commented on #28894
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-08 07:32] makortel commented on #28852
Fixed in #28895

[2020-02-08 13:42] gartung commented on #28894
This value error was resolved by setting macos_min_ver=10.14

[2020-02-08 17:27] gartung commented on #28894
I think this can be solved by adding
`#include <array>`
[code]

[2020-02-08 17:30] gartung commented on #28894
I had to remove all reference to auto_ptr from
`SimDataFormats/GeneratorProducts/src/classes_def.xml`
This will impact the reading of older sim files generated with auto_ptr.

[2020-02-08 17:38] gartung commented on #28894
[code]

[2020-02-08 18:30] gartung commented on #28894
The fix was to replace
`constexpr ESProxyIndex() noexcept = default;`
with
`constexpr ESProxyIndex() noexcept {};`

[2020-02-09 15:39] Dr15Jones opened #28898 "Converted modules in GeneratorInterface/GenFilters to be thread friendly."
The filter modules in GeneratorInterface/GenFilters need to be converted from legacy modules to thread-friendly ones in order for the GEN step to be CPU efficient.

[2020-02-09 15:39] Dr15Jones commented on #28898
assign gen

[2020-02-09 15:39] cmsbuild commented on #28898
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-09 15:39] Dr15Jones commented on #28898
An example of such a conversion can be found in #28897

[2020-02-10 14:44] wouf commented on #28636
Who able to do it?

[2020-02-10 15:06] cmsbuild commented on #28898
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-10 15:57] gartung commented on #28894
This issue was created to track changes needed to compile FWLite with apple clang 9 in the conda build environment. Now that the build is completed I am closing it.

[2020-02-10 15:57] #28894 closed

[2020-02-10 18:15] simonepigazzini opened #28912 "Writing an ESProducer to create a record holding a tensorflow::Session object"
Dear Experts,

in the context of the H->gg analysis we would like to have in our framework too share the same
tensorflow::Session among different EDProducers. This is in order to reduce the virtual memory used by each process.

My idea is to embed the tensorflow::Session object inside a record that is produced by a dedicatd ESProducer at the beginning of each job and is then accessed by each plugi

[2020-02-10 18:15] cmsbuild commented on #28912
A new Issue was created by  @simonepigazzini .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-11 08:28] #28852 closed

[2020-02-11 09:14] fabiocos opened #28914 "Migration to DD4hep: Geometric(Timing)Det dependence on DDD"
In the process of migrating the MTD reco geometry to DD4hep, I notice that the ```GeometricTimingDet``` object in ```MTDNumberingBuilder```, as well as its tracker counterpart ```GeometricDet```, depend explicitly on DDD through ```DDSolidShape``` and the use of the ```ExpandedNode```. This means that even the present tracker migration is not fully complete.

Before inventing ad-hoc solutions, I w

[2020-02-11 09:14] cmsbuild commented on #28914
A new Issue was created by  @fabiocos Fabio Cossutti.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-11 09:15] fabiocos commented on #28914
assign geometry

[2020-02-11 09:15] cmsbuild commented on #28914
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-11 12:24] wouf commented on #28636
I can't figure out in which place of `MixingModule` the event rejecting happens, in case of empty signal...

[2020-02-11 13:26] silviodonato opened #28919 "Rivet unit test fails with python3"
The new rivet tests (#28873) revealed an incompatibility of rivet with Python3
[code]

Indeed, the command `rivet --list-analyses` gives the error `The rivet Python module could not be loaded: is your PYTHONPATH set correctly?`.

This error seems rather similar to issue #28837, solved with PR #28842.
The probkem is that Rivet is an external package, perhaps we need to use a different version for p

[2020-02-11 13:26] silviodonato commented on #28919
assign core-software

[2020-02-11 13:26] silviodonato commented on #28919
assign generators

[2020-02-11 13:26] cmsbuild commented on #28919
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-11 13:26] cmsbuild commented on #28919
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-11 13:28] Dr15Jones commented on #28919
assign core

[2020-02-11 13:28] cmsbuild commented on #28919
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-11 13:32] #28803 closed

[2020-02-11 14:24] qliphy commented on #28919
adding @intrepid42 @xjanssen

[2020-02-11 15:31] #28403 closed

[2020-02-11 17:09] intrepid42 commented on #28919
Hi, if python3 is configured as default it should be picked up when Rivet is compiled. See some `./configure` output from my local system:

[code]
[code]

[2020-02-11 20:31] makortel commented on #28636
Here
https://github.com/cms-sw/cmssw/blob/1eb6db45e132dd4afd7fa5fbfccabed5bd1e75bc/SimGeneral/MixingModule/plugins/MixingModule.cc#L312-L327
which calls
https://github.com/cms-sw/cmssw/blob/1eb6db45e132dd4afd7fa5fbfccabed5bd1e75bc/SimGeneral/MixingModule/plugins/MixingWorker.cc#L46-L59
and is called from
https://github.com/cms-sw/cmssw/blob/1eb6db45e132dd4afd7fa5fbfccabed5bd1e75bc/Mixing/Base/src/

[2020-02-11 22:36] makortel commented on #28636
Here is another thought based on a discussion with @Dr15Jones.

The current workflow looks like (a bit simplified)
[code]
with first `mix` mixing the `HepMCProduct` and the second `mix` mixing the digis (and SIM simulates only the signal part). Reading the same MinBias files/events twice does have a cost on the computing infrastructure.

The second file read could be avoided by mixing both the `He

[2020-02-11 22:38] makortel commented on #28636
And just to confirm (once more), are the "impact parameter and event plane" parameters needed by the (signal event) generator as an input in such a way that their effect can not be applied afterwards for the signal event? (i.e. their effect is more complex than e.g. coordinate transformation or rotation)

[2020-02-12 06:59] wouf commented on #28636
I see, thank You!

[2020-02-12 08:16] wouf commented on #28636
Fine! That what I mean in point 2. of https://github.com/cms-sw/cmssw/issues/28636#issuecomment-579646306

Can we here just to use accumulator modules itself for digitization, instead of whole MixingModile?

What is the `mixOverlay`?

[2020-02-12 08:37] wouf commented on #28636
Yes their effect is more complex. For example:
**impact parameter** - is the distance between axes of motion of pairs of colliding nuclei. The physics of Central and peripheral collisions has the different contributions of physical processes. The generator have to know about it during generation.

[2020-02-12 08:52] mrodozov opened #28928 "[GCC9] Fix fortran warning in GeneratorInterface/PartonShowerVeto"
There is a warning about uninit var in:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_11_1_X_2020-02-11-2300/GeneratorInterface/PartonShowerVeto
which we'd like to know what init value to use for, to fix the warning.

[2020-02-12 08:52] cmsbuild commented on #28928
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-12 09:58] mandrenguyen commented on #28636
@wouf  How many parameters do we need to read from the background event?  Is it just the impact parameter and the reaction plane angle?   For the reaction plane angle, I guess we could imagine rotating the signal event in phi.  For the impact parameter indeed we really do need to grab this info from the background event.  Alternatively, one could imagine looping over the background events, until y

[2020-02-12 10:01] mandrenguyen commented on #28636
@makortel
Regarding your comment here:
https://github.com/cms-sw/cmssw/issues/28636#issuecomment-584891216
Do I understand that you are proposing an alternative for our standard embedding workflow, independent of the particular feature request being discussed here?
If we can avoid reading the file twice that indeed sounds like something useful.

[2020-02-12 11:29] silviodonato opened #28931 "Build CMSSW_11_0_1"

[2020-02-12 11:29] cmsbuild commented on #28931
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2020-02-12 11:30] silviodonato commented on #28931
build cmssw-tool-conf

[2020-02-12 11:30] cmsbuild commented on #28931
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-02-12 11:31] cmsbuild commented on #28931
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2298/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 11:49] cmsbuild commented on #28931
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2299/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 11:59] cmsbuild commented on #28931
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_1-slc7_amd64_gcc820/2298

[2020-02-12 13:01] cmsbuild commented on #28931
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_1-slc7_aarch64_gcc820/2299

[2020-02-12 14:28] makortel commented on #28928
assign generators

[2020-02-12 14:28] cmsbuild commented on #28928
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-12 14:55] silviodonato commented on #28931
+1

[2020-02-12 14:56] cmsbuild commented on #28931
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_0_X

[2020-02-12 14:56] cmsbuild commented on #28931
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start th

[2020-02-12 14:57] cmsbuild commented on #28931
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2300/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 14:59] cmsbuild commented on #28931
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2301/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 15:52] wouf commented on #28636
For the moment three generators supports the embedding mode: Hydjet, Hydjet2, Pyquen. Two parameters needed: impact parameter and event plane angle. I'm not sure Your alternative method possible: theoretically the impact parameter is continuous function in range from 0 to 3 nuclei radii (for reasanable HYDJET results). In reality Igor speaks about influence to the output since 0.01 nuclei radii.

[2020-02-12 16:09] wddgit commented on #28898
I am starting to work on these. I see 71 modules defined
using the DEFINE_FWK_MODULE macro. At this point,
I am planning to convert all of them (except Chris did
one already).  If anyone knows, it would be nice to have
a shorter list of the ones that are actually used or a list
of ones that are known to be obsolete. That would save
me some time. Expect to start seeing PRs on these soon.

[2020-02-12 17:06] wddgit commented on #28898
FYI. This list might be useful for someone to do some cleanup some day. These classes are defined in .h and .cc files, but never declared in DEFINE_FWK_MODULE macros so they cannot possibly used for anything.

BdecayFilter
HZZ4lFilter
HighETPhotonsFilter
JetFlavourCutFilter
PythiaFilterEMJet
PythiaFilterGammaJetIsoPi0
PythiaFilterZgamma

[2020-02-12 17:21] cmsbuild commented on #28931
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_1-slc7_aarch64_gcc820/2300
Some test

[2020-02-12 18:25] cmsbuild commented on #28931
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_1-slc7_aarch64_gcc820/2300

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-12 18:28] cmsbuild commented on #28931
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_1-slc7_amd64_gcc820/2301
Some tests (

[2020-02-12 18:58] makortel commented on #28636
I'm pretty sure searching for compatible MinBias event would not be desired by the computing.

[2020-02-12 18:59] makortel commented on #28636
@mandrenguyen Correct, that alternative is independent of the particular feature discussed here (=making the MinBias event accessible to the generator).

[2020-02-12 19:04] cmsbuild commented on #28931
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_1-slc7_amd64_gcc820/2301

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-12 19:58] silviodonato commented on #28931
upload all

[2020-02-12 19:59] cmsbuild commented on #28931
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-02-12 19:59] cmsbuild commented on #28931
Queing Jenkins upload for slc7_amd64_gcc820

[2020-02-12 20:00] cmsbuild commented on #28931
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1491/console

[2020-02-12 20:00] cmsbuild commented on #28931
The upload has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1492/console

[2020-02-12 20:01] silviodonato opened #28937 "Build CMSSW_11_1_0_pre3"

[2020-02-12 20:01] cmsbuild commented on #28937
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-12 20:02] cmsbuild commented on #28931
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_1-slc7_aarch64_gcc820/1491

[2020-02-12 20:02] cmsbuild commented on #28931
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_1-slc7_amd64_gcc820/1492

[2020-02-12 20:06] christopheralanwest commented on #28860
+1

- Bug fix PRs are merged.

[2020-02-12 20:15] silviodonato commented on #28931
release-notes

[2020-02-12 20:16] #28937 closed

[2020-02-12 20:17] cmsbuild commented on #28931
Generating release notes since CMSSW_11_0_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-02-12 20:17] cmsbuild commented on #28931
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_0_1 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820

The release notes of what changed with respect to CMSSW_11_0_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_1

Cheers,
cms-bot

You can also click <a href="mailto:hn

[2020-02-12 20:18] cmsbuild commented on #28931
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_1

[2020-02-12 20:19] #28931 closed

[2020-02-12 20:20] silviodonato opened #28938 "Build CMSSW_11_1_0_pre3"

[2020-02-12 20:20] cmsbuild commented on #28938
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2020-02-12 20:20] silviodonato commented on #28938
+1

[2020-02-12 20:21] cmsbuild commented on #28938
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-02-12 20:21] cmsbuild commented on #28938
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each

[2020-02-12 20:22] cmsbuild commented on #28938
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2303/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 20:22] cmsbuild commented on #28938
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2302/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-02-12 20:22] cmsbuild commented on #28938
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2304/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 20:27] cmsbuild commented on #28938
The build has started for slc7_amd64_gcc900 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2305/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 21:50] makortel commented on #28912
A new record that does not depend on any other record needs to have an IOV produced by an `ESSource` (error message's case b). You can either modify your `ESProducer` to become also an `ESSource`, or use `EmptyESSource` to create the IOV of the record and continue to use your `ESProducer`.

For `EmptyESSource` there are plenty of examples in CMSSW, see e.g.
https://github.com/cms-sw/cmssw/blob/mas

[2020-02-12 22:52] cmsbuild commented on #28938
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-cc8_amd64_gcc8/2302

[2020-02-12 22:53] cmsbuild commented on #28938
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2306/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-02-12 22:53] cmsbuild commented on #28938
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2307/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 22:54] cmsbuild commented on #28938
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2308/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 22:54] cmsbuild commented on #28938
The build has started for slc7_amd64_gcc900 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2309/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-12 23:17] cmsbuild commented on #28938
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc820/2307

[2020-02-12 23:51] cmsbuild commented on #28938
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc900/2309

[2020-02-13 01:59] cmsbuild commented on #28938
The was an error for cc8_amd64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-cc8_amd64_gcc8/2306

[2020-02-13 02:27] cmsbuild commented on #28938
The was an error for slc7_aarch64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_aarch64_gcc820/2308

[2020-02-13 05:53] cmsbuild commented on #28938
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2310/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-13 05:54] cmsbuild commented on #28938
The build has started for slc7_amd64_gcc900 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2311/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-13 06:39] cmsbuild commented on #28938
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc900/2311

[2020-02-13 06:49] cmsbuild commented on #28938
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc820/2310

[2020-02-13 08:56] fabiocos commented on #28898
@wddgit a few months ago I moved everything from ```interface``` and ```src``` into a ```plugins``` directory, as agreed with @smuzaffar , but did just a minimal update to preserve the functionality. The list that you mention above sounds to me a s a bug, would not be better to just have each module defined in the end of the ```*.cc``` file? BTW, there is no need to have separate headers I would s

[2020-02-13 09:52] ianna opened #28949 "[DD4hep] DDNamespace::name() usage"
* ```DDNamespace::name()``` should be used to check the namespace
 * ```DDNamespace::prepend(name)``` should be used to add current namespace to a ```name```

[2020-02-13 09:52] ianna commented on #28949
assign geometry

[2020-02-13 09:53] cmsbuild commented on #28949
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-13 09:53] cmsbuild commented on #28949
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-13 10:40] silviodonato commented on #28938
@smuzaffar shall we close this issue and open a new one ?

[2020-02-13 11:10] ianna commented on #28949
Fixed in #28951

[2020-02-13 13:21] #28938 closed

[2020-02-13 13:21] silviodonato opened #28956 "Build CMSSW_11_1_0_pre3"

[2020-02-13 13:23] cmsbuild commented on #28956
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2020-02-13 13:25] silviodonato commented on #28956
+1

[2020-02-13 13:25] cmsbuild commented on #28956
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-02-13 13:25] cmsbuild commented on #28956
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each

[2020-02-13 13:26] cmsbuild commented on #28956
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2312/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-02-13 13:26] cmsbuild commented on #28956
The build has started for slc7_amd64_gcc820 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2313/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-13 13:29] cmsbuild commented on #28956
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2314/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-13 13:31] smuzaffar commented on #28956
@silviodonato , we need to first abort the release otherwise it is going to use old tag. please first issue an abort comment and then open a new issue

[2020-02-13 13:35] perrotta commented on #28860
+1
- Fix integrated in the master, in 10_6 and 10_2

[2020-02-13 13:36] cmsbuild commented on #28860
This issue is fully signed and ready to be closed.

[2020-02-13 13:49] silviodonato commented on #28956
abort
thanks @smuzaffar

[2020-02-13 13:49] cmsbuild commented on #28956
The build has started for slc7_amd64_gcc900 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2315/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-13 13:50] cmsbuild commented on #28956
Deleting CMSSW_11_1_0_pre3:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_pre3 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre3/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre3/slc7_aarch64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre3/slc7_

[2020-02-13 13:50] silviodonato commented on #28938
abort

[2020-02-13 13:50] cmsbuild commented on #28956
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc900/2315

[2020-02-13 13:50] cmsbuild commented on #28956
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc820/2313

[2020-02-13 13:50] cmsbuild commented on #28956
The was an error for slc7_aarch64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_aarch64_gcc820/2314

[2020-02-13 13:50] #28956 closed

[2020-02-13 13:50] cmsbuild commented on #28938
Deleting CMSSW_11_1_0_pre3:

  -Release CMSSW_11_1_0_pre3 not found.

  -I was not able to delete the tag CMSSW_11_1_0_pre3. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre3/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre3/slc7_aarch64_gcc820. Probaly it had not been created.

 -I was not able to

[2020-02-13 13:52] silviodonato opened #28957 "Build CMSSW_11_1_0_pre3"

[2020-02-13 13:52] cmsbuild commented on #28957
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @silviodonato, @kpedro88, @slava77, @davidlange6, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-

[2020-02-13 14:14] silviodonato commented on #28957
+1

[2020-02-13 14:14] cmsbuild commented on #28957
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-02-13 14:14] cmsbuild commented on #28957
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each

[2020-02-13 14:15] cmsbuild commented on #28957
The build has started for cc8_amd64_gcc8 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2316/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-02-13 14:16] cmsbuild commented on #28957
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2317/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-13 14:18] cmsbuild commented on #28957
The build has started for slc7_amd64_gcc900 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2318/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-13 14:34] cmsbuild commented on #28957
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2319/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-13 16:03] wddgit commented on #28898
I checked in release 10_6_2 with LXR. This release does not include your changes moving the modules to the plugins directory. Even there, the 7 modules listed above are not declared in a DEFINE_FWK_MODULE macro. This is not new and your (@fabiocos 's) change didn't introduce it. I did not trace back how far it goes, but suspect that these modules have not been usable for a very long time and concl

[2020-02-13 16:24] wddgit commented on #28898
If people want, I can move the content of the .h files to the .cc files and delete the .h files. I can also move the DEFINE_FWK_MODULE macro calls from SealModule.cc to the module specific .cc files. I can do this as part of the migration as I work through these and just put it in the same PRs.

@makortel  Do you want me to do that cleanup also?

Any objections from the generators conveners?

[2020-02-13 16:31] makortel commented on #28898
@wddgit

It would be nice, but only if it does not add too much work. Thanks!

[2020-02-13 16:58] cmsbuild commented on #28957
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc900/2318
Some tes

[2020-02-13 17:02] cmsbuild commented on #28957
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-cc8_amd64_gcc8/2316
Some tests ( r

[2020-02-13 17:34] cmsbuild commented on #28957
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc900/2318

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-13 17:39] cmsbuild commented on #28957
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-cc8_amd64_gcc8/2316

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-13 17:44] slava77 opened #28959 "recover TF inference for deepJet and deepDoubleX and MXNET inf for deepBoosted (migrated to ONNX in #28112)"
[This issue is contingent on making ONNX properly working on PPC. ]

As a part of #28112 the support for running DeepFlavour and DeepDoubleX inference using TensorFlow was removed; it was replaced with the ONNX-based inference.
Trained model is the same in both cases.
The migration was done to minimize code replication and to bypass implementation/support of an adaptor layer that would allow a con

[2020-02-13 17:45] slava77 commented on #28959
assign reconstruction

[2020-02-13 17:45] cmsbuild commented on #28959
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-13 17:45] cmsbuild commented on #28959
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-13 17:48] cmsbuild commented on #28957
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc820/2317
Some tes

[2020-02-13 17:51] makortel commented on #28912
@slava77 @perrotta @riga Could this kind of ESProducer be of wider interest?

[2020-02-13 18:21] slava77 commented on #28912
There were no clear use cases in reco so far (other than this issue?); however I can think of some in the HLT context.

[2020-02-13 18:25] cmsbuild commented on #28957
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc820/2317

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-13 18:50] silviodonato commented on #28957
upload all

[2020-02-13 18:51] cmsbuild commented on #28957
Queing Jenkins upload for cc8_amd64_gcc8

[2020-02-13 18:51] cmsbuild commented on #28957
Queing Jenkins upload for slc7_amd64_gcc820

[2020-02-13 18:51] cmsbuild commented on #28957
Queing Jenkins upload for slc7_amd64_gcc900

[2020-02-13 18:52] cmsbuild commented on #28957
The upload has started for cc8_amd64_gcc8 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1493/console

[2020-02-13 18:52] cmsbuild commented on #28957
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1494/console

[2020-02-13 18:52] cmsbuild commented on #28957
The upload has started for slc7_amd64_gcc900 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1495/console

[2020-02-13 18:53] cmsbuild commented on #28957
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre3-cc8_amd64_gcc8/1493

[2020-02-13 18:53] cmsbuild commented on #28957
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc900/1495

[2020-02-13 18:54] cmsbuild commented on #28957
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre3-slc7_amd64_gcc820/1494

[2020-02-13 19:57] makortel commented on #28959
@slava77 Thanks for opening the issue. Are you essentially suggesting to continue use ONNX inference on x86 and ARM, and TF on POWER (i.e.  not using TF for all architectures e.g. after #28711)?

Technically we could do that with SwitchProducer, but we would need to solve #28576 first (and that will likely take a while).

@mrodozov @smuzaffar We should probably anyway disable building the ONNX-dep

[2020-02-13 20:01] silviodonato commented on #28957
release-notes

[2020-02-13 20:02] cmsbuild commented on #28957
Generating release notes since CMSSW_11_1_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-02-13 20:02] cmsbuild commented on #28957
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre3 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre3

Cheers,
cms-bot

You can also cl

[2020-02-13 20:03] cmsbuild commented on #28957
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre3

[2020-02-13 20:28] cmsbuild commented on #28957
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_aarch64_gcc820/2319
Some

[2020-02-13 20:28] cmsbuild commented on #28957
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-02-13 20:30] cmsbuild commented on #28957
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1496/console

[2020-02-13 20:31] cmsbuild commented on #28957
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre3-slc7_aarch64_gcc820/1496

[2020-02-13 20:38] simonepigazzini commented on #28912
@makortel thank you for the suggestions. I went for the EmptyESSource and it works just fine. I am testing now if the memory usage is indeed the one expected from a single session. I am also doing something similar for BDTs, in my case is for a TMVA::Reader but I think it could be adapted easily for the GBRForest.

I think this might be of interest for analysis mainly, in our case the issue arise

[2020-02-13 20:45] slava77 commented on #28959
@makortel
I think that a switch producer would be a good option.
The alternative is some "ppcProduction" process modifier, which may be possible to pass through the submission infrastructure.

I'm not sure if #28576 fully applies here. IIUC, it is possible to build ONNX on Power and load libraries without anything exploding.

[2020-02-13 21:07] makortel commented on #28959
I just want to remind that in that case the configuration hash would be different between x86 and POWER (which motivated the SwitchProducer).

At the moment the POWER build fails
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_ppc64le_gcc820/CMSSW_11_1_X_2020-02-12-2300/PhysicsTools/ONNXRuntime

Do I interpret correctly this means that https://github.com/cms-externals/onnxruntime/pull/4 (or some

[2020-02-13 21:41] silviodonato commented on #28957
release-notes

[2020-02-13 21:42] cmsbuild commented on #28957
Generating release notes since CMSSW_11_1_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-02-13 21:42] cmsbuild commented on #28957
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre3 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre3

Cheers,
cms-

[2020-02-13 21:43] cmsbuild commented on #28957
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre3

[2020-02-13 22:11] slava77 commented on #28959
right, that's what I implied by "it's possible to build ONNX on power"

[2020-02-13 22:21] makortel commented on #28959
Thanks for the clarification. I'm not really fond of "hacking an external to build" as a mid/long-term solution. I suppose the added complexity might be justified in the (very) short term if the ONNX continues to be "much faster" than TF for these models even after https://github.com/cms-sw/cmssw/pull/28711.

I'd prefer to find a general solution (https://github.com/cms-sw/cmssw/issues/28576) beca

[2020-02-13 22:30] smuzaffar commented on #28959
cms-externals/onnxruntime#4 only allows us to build but it does not run. ONNX unit tests failed on PowerPC

[2020-02-13 23:06] cmsbuild commented on #28957
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre3-slc7_aarch64_gcc820/2319

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-14 09:35] #28860 closed

[2020-02-14 16:32] wddgit commented on #28898
@Dr15Jones Some of these filters use FORTRAN functions which use SAVE'd variables (like static function variables if I remember correctly from ancient times when I last wrote some FORTRAN). So I assume these filters must become "one" type modules. Is that good enough or do we really need them to be "global" modules. In particular, PythiaMomDauFilter uses PYTHIA6's PYCOMP FUNCTION. I am not sure if

[2020-02-14 17:04] Dr15Jones commented on #28898
The FORTRAN based filters should be `one::` modules using shared resources. Some of those probably already have shared resources defined.

[2020-02-14 22:56] wddgit commented on #28898
A somewhat unusual case. In the filter method of PythiaFilterGammaJet
(not endJob as it indicates in the string). It's a counter of events passing
the filter compared to a configurable constant.

[code]

My first inclination is that I should delete this counter and the code directly
related to it. It does not seem to me to be a very good way of controlling
the number of events. Am I missing someth

[2020-02-15 20:53] cmsbuild commented on #28957
The cleanup has started for slc7_aarch64_gcc820

[2020-02-15 20:53] cmsbuild commented on #28957
The cleanup has started for cc8_amd64_gcc8

[2020-02-15 20:53] cmsbuild commented on #28957
The cleanup has started for slc7_amd64_gcc820

[2020-02-15 20:53] cmsbuild commented on #28957
The cleanup has started for slc7_amd64_gcc900

[2020-02-15 20:53] #28957 closed

[2020-02-15 20:53] cmsbuild commented on #28957
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre3-slc7_aarch64_gcc820/1530

[2020-02-15 20:53] cmsbuild commented on #28957
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre3-slc7_amd64_gcc820/1531

[2020-02-15 20:53] cmsbuild commented on #28957
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre3-cc8_amd64_gcc8/1529

[2020-02-15 20:53] cmsbuild commented on #28957
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre3-slc7_amd64_gcc900/1532

[2020-02-16 17:17] silviodonato opened #28968 "Build CMSSW_10_6_8"

[2020-02-16 17:17] cmsbuild commented on #28968
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-02-16 17:20] silviodonato commented on #28968
abort

[2020-02-16 17:21] #28968 closed

[2020-02-16 17:21] silviodonato opened #28969 "Build CMSSW_10_6_9"

[2020-02-16 17:21] cmsbuild commented on #28969
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-02-16 17:22] silviodonato commented on #28969
+1

[2020-02-16 17:23] cmsbuild commented on #28969
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-02-16 17:23] cmsbuild commented on #28969
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-02-16 17:25] cmsbuild commented on #28969
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2320/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-16 17:28] cmsbuild commented on #28969
The build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2321/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-16 20:13] cmsbuild commented on #28969
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_9-slc7_amd64_gcc820/2321
Some tests (

[2020-02-16 20:54] cmsbuild commented on #28969
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_9-slc7_amd64_gcc820/2321

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-16 20:55] cmsbuild commented on #28969
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_9-slc7_amd64_gcc700/2320
Some tests (

[2020-02-16 21:36] cmsbuild commented on #28969
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_9-slc7_amd64_gcc700/2320

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-17 13:26] silviodonato commented on #28969
upload all

[2020-02-17 13:26] cmsbuild commented on #28969
Queing Jenkins upload for slc7_amd64_gcc700

[2020-02-17 13:26] cmsbuild commented on #28969
Queing Jenkins upload for slc7_amd64_gcc820

[2020-02-17 13:27] cmsbuild commented on #28969
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1497/console

[2020-02-17 13:27] cmsbuild commented on #28969
The upload has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1498/console

[2020-02-17 13:28] cmsbuild commented on #28969
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_9-slc7_amd64_gcc820/1498

[2020-02-17 13:29] cmsbuild commented on #28969
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_9-slc7_amd64_gcc700/1497

[2020-02-17 14:24] mrodozov opened #28973 "[DD4Hep] Unit test fails because of NULL values in XML"
The latest integration test https://github.com/cms-sw/cmsdist/pull/5554 of DD4Hep fails because of failing to parse the NULL values in this section:
https://github.com/cms-sw/cmssw/blob/master/Geometry/TrackerCommonData/data/tibstring0ll.xml#L71
seems to be line
https://github.com/cms-sw/cmssw/blob/master/Geometry/TrackerCommonData/data/tibstring0ll.xml#L79
[code]
Both test fail for the same reaso

[2020-02-17 14:24] cmsbuild commented on #28973
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-17 14:28] makortel commented on #28973
assign geometry

[2020-02-17 14:28] cmsbuild commented on #28973
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-17 15:02] silviodonato commented on #28969
release-notes

[2020-02-17 15:02] cmsbuild commented on #28969
Generating release notes since CMSSW_10_6_8_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-02-17 15:02] cmsbuild commented on #28969
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_9 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_8_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_9

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2020-02-17 15:04] cmsbuild commented on #28969
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_9

[2020-02-17 15:33] makortel opened #28974 "Two MuonAlignment classes"
It seems that we have two classes named `MuonAlignment`
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Alignment/interface/MuonAlignment.h
https://github.com/cms-sw/cmssw/blob/master/Alignment/MuonAlignment/interface/MuonAlignment.h

These introduce a high risk of violating the One Definition Rule (if their libraries get loaded into the same program), and therefore one of them needs to be

[2020-02-17 15:33] cmsbuild commented on #28974
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-17 15:34] makortel commented on #28974
assign alca, dqm

[2020-02-17 15:34] cmsbuild commented on #28974
New categories assigned: dqm,alca

@jfernan2,@christopheralanwest,@franzoni,@andrius-k,@schneiml,@fioriNTU,@tlampen,@pohsun,@tocheng,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-17 15:48] makortel opened #28975 "MuonAlignment needs to be migrated to DQM*EDAnalyzer"
The MuonAlignment EDAnalyzer
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Alignment/interface/MuonAlignment.h
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Alignment/src/MuonAlignment.cc
is being run in workflow 1000.0. This module is still a legacy `edm::Analyzer` and thus prevents framework to schedule its execution efficiently. Also in light of the new "new DQMStore" work (se

[2020-02-17 15:48] cmsbuild commented on #28975
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-17 15:48] makortel commented on #28974
The "DQM MuonAlignment" needs some other work as well https://github.com/cms-sw/cmssw/issues/28975.

[2020-02-17 15:48] makortel commented on #28975
assign dqm

[2020-02-17 15:49] cmsbuild commented on #28975
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-17 18:10] cvuosalo commented on #28973
#28951 may be related to this issue. It was recently merged.

[2020-02-17 20:29] christopheralanwest commented on #28974
I suggest that the class in `DQMOffline/Alignment/interface/MuonAlignment.h` should be renamed since it performs monitoring of the muon alignment whereas the class in `Alignment/MuonAlignment/interface/MuonAlignment.h` actually performs the muon alignment.

[2020-02-17 20:56] cvuosalo commented on #28973
The unit test runs fine in CMSSW_11_1_X_2020-02-17-1100

[2020-02-17 21:17] cvuosalo commented on #28973
@mrodozov Could you please clarify what previous version of DD4hep were we using? And what version of DD4hep is failing this unit test?

[2020-02-18 08:15] silviodonato opened #28983 "Missing file and xrootd-cms.infn.it"
The unit test of Calibration/LumiAlCaRecoProducers
is crashing because there is a glitch in xrootd-cms.infn.it redirector.
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_1_PY3_X_2020-02-17-2300/unitTestLogs/Calibration/LumiAlCaRecoProducers

Searching for "xrootd-cms.infn.it" in CMSSW I realized that this is the only unit test using xrootd-cms.infn.it
https://cm

[2020-02-18 08:15] silviodonato commented on #28983
assign alca

[2020-02-18 08:15] cmsbuild commented on #28983
New categories assigned: alca

@christopheralanwest,@franzoni,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-18 08:15] cmsbuild commented on #28983
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-18 08:23] smuzaffar commented on #28983
I would suggest to just use LFN e.g. `/store/data/Commissioning2018/AlCaLumiPixels0/ALCARECO/AlCaPCCRandom-02May2018-v1/70000/6CE65B93-D657-E811-BBB5-FA163E8006EF.root` instead of 'root://xrootd-cms.infn.it//store/data/Commissioning2018/AlCaLumiPixels0/ALCARECO/AlCaPCCRandom-02May2018-v1/70000/6CE65B93-D657-E811-BBB5-FA163E8006EF.root' . This file has already been caches in our ibeos. So using the

[2020-02-18 09:59] #28949 closed

[2020-02-18 10:00] ianna commented on #28949
+1

[2020-02-18 10:00] cmsbuild commented on #28949
This issue is fully signed and ready to be closed.

[2020-02-18 10:01] ianna commented on #28768
+1

[2020-02-18 10:01] #28768 closed

[2020-02-18 10:01] cmsbuild commented on #28768
This issue is fully signed and ready to be closed.

[2020-02-18 10:09] schneiml commented on #28975
@makortel regarding the `endJob`, this is probably a relic from when the module was used stand-alone. The `endJob` code ran *after* saving the histograms in non-HARVESTING steps since a long time, and even harvesting used to run in `endRun` until ~2015.

The comments about `MEtoEDM` are one that I added (mostly guessing that this would be used together with `MEtoEDM`) and one old comment. I probab

[2020-02-18 10:38] mrodozov commented on #28973
The unit test is failing in the integration test for the update of DD4hep external, they are not failing in the current IB.
The versions can be seen here:
https://github.com/cms-sw/cmsdist/pull/5554/files , the one we are using currently is:
https://github.com/AIDASoft/DD4hep/commit/5bbbb8c86ff764eb452608b5439db90b5e3d2450
and the one we one to update to is
https://github.com/AIDASoft/DD4hep/commi

[2020-02-18 16:36] agrohsje commented on #28928
Just to say: I am not aware of anybody using this code.
YCUT  should be something say 100 or similar. So we can initialize it with a neg value and throw an error if it is below 0.

[2020-02-18 17:54] makortel commented on #28928
Can this piece of code be removed then?

[2020-02-18 18:05] cericeci opened #28988 "Check pat::Muon 3D impact parameter computation"
When fixing several definitions in the 2D IP for muons (#28753) , the question arose on whether the 3D IP information can be taken directly from the track:

https://github.com/cms-sw/cmssw/pull/28753#discussion_r374483119

If changed, on top of higher consistency with the tracks, this would avoid usage of IPTools inside the patmuon producer, which should reduce its cpu load.

Created issue to trac

[2020-02-18 18:06] cmsbuild commented on #28988
A new Issue was created by  @cericeci Carlos Erice.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-18 18:21] Dr15Jones commented on #28988
assign reconstruction, analysis

[2020-02-18 18:21] cmsbuild commented on #28988
New categories assigned: analysis,reconstruction

@slava77,@santocch,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-18 19:00] makortel commented on #28975
Here is a trace for one of the MEs
[code]
Do I interpret correctly that `MEtoEDM` is not used?

If that is the case (also for the other instances of `MuonAlignment`, can we assume that the `MEtoEDM` functionality is not needed? Who could answer that from the point of view what is needed for this module / ALCARECO?

[2020-02-18 21:51] wddgit commented on #28898
I will also skip these 6 filters. They do a double delete on the GenEvent
and crash if you try to run them. Three of them I was already skipping
and they are also in the list above of modules not being built. But the
last 3 are being built in current releases. They were broken by a
commit in 2010 as far as I can see. I'll just make the assumption nothing
needs these.

BdecayFilter
HZZ4lFilter
JetF

[2020-02-19 09:29] silviodonato commented on #28983
Fixed in #28987

[2020-02-19 09:33] silviodonato commented on #28983
thanks @smuzaffar , I was not aware of the file caches in our ibeos

[2020-02-19 09:33] #28983 closed

[2020-02-19 14:08] cmsbuild commented on #28969
The cleanup has started for slc7_amd64_gcc700

[2020-02-19 14:08] cmsbuild commented on #28969
The cleanup has started for slc7_amd64_gcc820

[2020-02-19 14:08] #28969 closed

[2020-02-19 14:08] cmsbuild commented on #28969
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_9-slc7_amd64_gcc700/1533

[2020-02-19 14:08] cmsbuild commented on #28969
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_9-slc7_amd64_gcc820/1534

[2020-02-19 14:21] christopheralanwest commented on #28983
+1

[2020-02-19 14:21] cmsbuild commented on #28983
This issue is fully signed and ready to be closed.

[2020-02-19 15:26] schneiml commented on #28975
The easier way to prove this is by looking at the next step, where the `MEtoEDM` files are loaded, and see if the ME shows up in this job.

In this trace here, I don't see any signs of an output module, though I'd not bet too much on this. The output modules read the MEs through `getAllContents` or (eventually) `findME`, but the only `findME`s here are at begin lumi and end job, while I'd expect t

[2020-02-19 16:10] makortel commented on #28975
@schneiml Ok, so the `endJob()` can be removed anyway because it should have no visible effect anywhere, correct?

[2020-02-19 16:48] makortel commented on #28975
The `step3_SKIM.py` and `step5_ALCAOUTPUT.py` show no sign of that particular ME. The `step4_HARVESTING.py` gives the following trace
[code]

[2020-02-19 17:00] schneiml commented on #28975
That is my claim, though of course that only applies when running in the production reco jobs.

The trace from harvesting indicates that the ME was saved to DQMIO, then loaded in the harvesting step and finally saved again by the `DQMFileSaver`. Lots of modules looked at the ME in between, though probably none of these actually cared about it (just general `getAllContents` calls).

And indeed, the

[2020-02-19 18:31] davidlange6 opened #29001 "Phase2TrackerDigitizerAlgorithm::convertSignalToAdc dominated by LogInfo"
from
http://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/premix_d35_1040mtd5/test_06_perf/51

it appears that a LogTrace instead of LogInfo here:

https://github.com/cms-sw/cmssw/blob/master/SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizerAlgorithm.cc#L979

may save 2-4% of a premixing job in HLLHC configuration.

[2020-02-19 18:31] davidlange6 commented on #29001
assign sim

[2020-02-19 18:32] cmsbuild commented on #29001
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-19 19:09] davidlange6 commented on #29001
assign simulation

On Feb 19, 2020, at 7:31 PM, David Lange <notifications@github.com<mailto:notifications@github.com>> wrote:

assign sim

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/29001?email_source=notifications&email_token=ABGPFQ5TJJY455NT7TGOGULRDV3JXA5CNFSM4KX7B23KYY3PNVWWK3TUL52H

[2020-02-19 19:10] cmsbuild commented on #29001
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-19 20:16] kpedro88 commented on #29001
assign upgrade

[2020-02-19 20:16] cmsbuild commented on #29001
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-19 20:16] kpedro88 commented on #29001
@suchandradutta could you take a look at this?

[2020-02-19 20:43] silviodonato opened #29003 "Build CMSSW_10_6_10"

[2020-02-19 20:44] cmsbuild commented on #29003
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-02-19 20:46] silviodonato commented on #29003
+1

[2020-02-19 20:47] cmsbuild commented on #29003
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-02-19 20:47] cmsbuild commented on #29003
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-02-19 20:48] cmsbuild commented on #29003
The build has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2322/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-19 21:28] cmsbuild commented on #29003
The build has started for slc7_amd64_gcc820 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2323/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-19 21:36] jfernan2 commented on #28975
dear @makortel @schneiml since I was the creator of this module, an after consulting Muon Alignment team, I believe this module can be safely deleted since it is not used any longer.
I can create a PR with such deletion, I am sorry for the inconveience.

[2020-02-19 21:47] Dr15Jones commented on #28975
@jfernan2

If you would, that would be very helpful. Thanks.

[2020-02-20 00:14] cmsbuild commented on #29003
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc820/2323
Some tests (

[2020-02-20 00:16] cmsbuild commented on #29003
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc700/2322
Some tests (

[2020-02-20 00:54] cmsbuild commented on #29003
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc820/2323

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-20 00:55] cmsbuild commented on #29003
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc700/2322

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-20 07:44] jfernan2 commented on #28974
Hi @christopheralanwest , since I was the author of this ancient class, which, to my knowledge it is not being used at present, we would like to completely delete it in order to avoid trouble.
This means also to remove this line:
https://cmssdt.cern.ch/lxr/source/DQMOffline/Configuration/python/AlCaRecoDQM_cff.py#0010
PLease let us know if this is fine with AlCa

[2020-02-20 08:13] silviodonato commented on #29003
abort

[2020-02-20 08:13] cmsbuild commented on #29003
Deleting CMSSW_10_6_10:

  -Release successfully deleted

  -cmssw tag CMSSW_10_6_10 successfully deleted.

 -cmsdist tag REL/CMSSW_10_6_10/slc7_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_6_10/slc7_amd64_gcc820 successfully deleted.

You must create a new issue to start over the build.

[2020-02-20 08:15] #29003 closed

[2020-02-20 08:15] silviodonato opened #29005 "Build CMSSW_10_6_10"

[2020-02-20 08:16] cmsbuild commented on #29005
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-02-20 08:16] silviodonato commented on #29005
+1

[2020-02-20 08:17] cmsbuild commented on #29005
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-02-20 08:17] cmsbuild commented on #29005
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-02-20 08:18] cmsbuild commented on #29005
The build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2324/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-20 08:35] cmsbuild commented on #29005
The build has started for slc7_amd64_gcc820 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2325/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-20 14:32] cmsbuild commented on #29005
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc700/2324

[2020-02-20 15:23] silviodonato commented on #29005
abort

[2020-02-20 16:17] cmsbuild commented on #29005
Deleting CMSSW_10_6_10:

  -Release successfully deleted

  -cmssw tag CMSSW_10_6_10 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_6_10/slc7_amd64_gcc700. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_6_10/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.

[2020-02-20 16:30] silviodonato opened #29008 "Build CMSSW_10_6_10"

[2020-02-20 17:07] #29005 closed

[2020-02-20 17:08] #29008 closed

[2020-02-20 17:08] silviodonato opened #29009 "Build CMSSW_10_6_10"

[2020-02-20 17:23] cmsbuild commented on #29008
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-02-20 17:23] cmsbuild commented on #29009
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-02-20 18:59] cvuosalo commented on #28973
Issue opened with DD4hep: https://github.com/AIDASoft/DD4hep/issues/628

[2020-02-20 20:13] silviodonato commented on #29009
+1

[2020-02-20 20:14] cmsbuild commented on #29009
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-02-20 20:14] cmsbuild commented on #29009
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-02-20 20:16] cmsbuild commented on #29009
The build has started for slc7_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2326/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-20 20:26] cmsbuild commented on #29009
The build has started for slc7_amd64_gcc820 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2327/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-20 22:38] cmsbuild commented on #29009
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc820/2327

[2020-02-20 22:47] cmsbuild commented on #29009
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2328/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-21 00:09] cmsbuild commented on #29009
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc700/2326

[2020-02-21 00:51] cmsbuild commented on #29009
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc820/2328

[2020-02-21 01:36] smuzaffar commented on #29009
@silviodonato , looks like in 10.6.X we had a hardcoded `lapack` linking ( see https://github.com/cms-sw/cmssw/pull/29014 ) due to which 10.6.X IBs/releases failed to build. We need to integrate https://github.com/cms-sw/cmssw/pull/29014 and restart 10.6.10 release

[2020-02-21 08:27] silviodonato commented on #29009
abort

[2020-02-21 08:28] cmsbuild commented on #29009
Deleting CMSSW_10_6_10:

  -Release successfully deleted

  -cmssw tag CMSSW_10_6_10 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_6_10/slc7_amd64_gcc700. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_6_10/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.

[2020-02-21 08:29] #29009 closed

[2020-02-21 08:29] silviodonato opened #29015 "Build CMSSW_10_6_10"

[2020-02-21 08:29] cmsbuild commented on #29015
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-02-21 08:30] silviodonato commented on #29015
+1

[2020-02-21 08:31] cmsbuild commented on #29015
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-02-21 08:31] cmsbuild commented on #29015
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-02-21 08:41] cmsbuild commented on #29015
The build has started for slc7_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2329/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-21 09:00] cmsbuild commented on #29015
The build has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2330/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-02-21 11:31] cmsbuild commented on #29015
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc820/2330
Some tests (

[2020-02-21 12:01] cmsbuild commented on #29015
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc700/2329
Some tests (

[2020-02-21 12:10] cmsbuild commented on #29015
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc820/2330

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-21 12:40] cmsbuild commented on #29015
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_10-slc7_amd64_gcc700/2329

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-02-21 13:44] silviodonato commented on #29015
upload all

[2020-02-21 13:45] cmsbuild commented on #29015
Queing Jenkins upload for slc7_amd64_gcc700

[2020-02-21 13:45] cmsbuild commented on #29015
Queing Jenkins upload for slc7_amd64_gcc820

[2020-02-21 13:45] cmsbuild commented on #29015
The upload has started for slc7_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1499/console

[2020-02-21 13:47] cmsbuild commented on #29015
The upload has started for slc7_amd64_gcc820 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1500/console

[2020-02-21 13:47] cmsbuild commented on #29015
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_10-slc7_amd64_gcc700/1499

[2020-02-21 13:48] cmsbuild commented on #29015
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_10-slc7_amd64_gcc820/1500

[2020-02-21 13:48] silviodonato commented on #29015
release notes

[2020-02-21 13:52] silviodonato commented on #29015
release-notes

[2020-02-21 13:52] cmsbuild commented on #29015
Generating release notes since CMSSW_10_6_9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-02-21 13:52] cmsbuild commented on #29015
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_10 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_10

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2020-02-21 13:53] cmsbuild commented on #29015
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_10

[2020-02-23 12:53] cmsbuild commented on #29015
The cleanup has started for slc7_amd64_gcc700

[2020-02-23 12:53] cmsbuild commented on #29015
The cleanup has started for slc7_amd64_gcc820

[2020-02-23 12:53] #29015 closed

[2020-02-23 12:53] cmsbuild commented on #29015
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_10-slc7_amd64_gcc700/1535

[2020-02-23 12:53] cmsbuild commented on #29015
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_10-slc7_amd64_gcc820/1536

[2020-02-24 09:15] jfernan2 commented on #28858
FYI @tanmaymudholkar

[2020-02-24 16:07] jfernan2 commented on #28975
The PR is there https://github.com/cms-sw/cmssw/pull/29027
Signed by DQM, about to be merged.
Thanks

[2020-02-24 16:07] jfernan2 commented on #28974
The PR is there https://github.com/cms-sw/cmssw/pull/29027
Signed by DQM, about to be merged.
Thanks

[2020-02-24 16:11] jfernan2 commented on #28975
+1

[2020-02-24 16:12] jfernan2 commented on #28974
+1

[2020-02-24 16:12] cmsbuild commented on #28975
This issue is fully signed and ready to be closed.

[2020-02-24 16:38] cvuosalo commented on #28973
This problem is fixed with the new version of DD4hep. See https://github.com/cms-sw/cmsdist/pull/5554

[2020-02-24 16:38] cvuosalo commented on #28973
+1

[2020-02-24 16:38] cmsbuild commented on #28973
This issue is fully signed and ready to be closed.

[2020-02-24 17:04] #28973 closed

[2020-02-25 11:49] silviodonato commented on #28636
@wouf What is the status/plan of this issue and https://github.com/cms-sw/cmssw/pull/28764?

[2020-02-25 13:18] wouf commented on #28636
We're working on it with @makortel For now I find it difficult to estimate time-scale.

[2020-02-25 14:36] makortel commented on #28974
Addressed in https://github.com/cms-sw/cmssw/pull/29027

[2020-02-25 14:36] #28974 closed

[2020-02-25 14:36] makortel commented on #28975
Addressed in https://github.com/cms-sw/cmssw/pull/29027

[2020-02-25 14:36] #28975 closed

[2020-02-25 14:38] schneiml commented on #22203
+1

This should be obsolete after #28622.

[2020-02-25 14:38] cmsbuild commented on #22203
This issue is fully signed and ready to be closed.

[2020-02-25 14:40] schneiml commented on #24337
+1

This should be obsolete after #28622.

[2020-02-25 14:40] cmsbuild commented on #24337
This issue is fully signed and ready to be closed.

[2020-02-25 14:45] schneiml commented on #25090
With #28813, we should be much closer to actual concurrent lumis. There might be few `DQMOneLumiEDAnalyzer`s (`edm::one::EDProducer` watching lumis) left on production sequences, we should have a list of them and then take action.

[2020-02-25 14:49] #27724 closed

[2020-02-25 14:50] schneiml commented on #27780
+1

New `DQMRootSource` was merged with #28622.

[2020-02-25 14:50] cmsbuild commented on #27780
This issue is fully signed and ready to be closed.

[2020-02-25 14:52] #22203 closed

[2020-02-25 14:53] #24337 closed

[2020-02-25 15:06] Dr15Jones opened #29036 "Geometry/DTGeometryBuilder unit test fails for ARM"
The aarch64 IB has the unit tests GeometryDTGeometryBuilderTestDriver failing. The reason is doing a diff on the geometry output is showing an irrelevant difference. One such difference is

[code]

where the coordinates of the normal vector which mathematically should be identical to 0. are instead very tiny numbers where x86 and aarch64 disagree on exactly which tiny number to use.

Computational

[2020-02-25 15:06] Dr15Jones commented on #29036
assign geometry

[2020-02-25 15:06] cmsbuild commented on #29036
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-25 15:06] cmsbuild commented on #29036
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-25 15:07] Dr15Jones commented on #29036
A recent example can be found here
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/cc8_aarch64_gcc8/CMSSW_11_1_X_2020-02-24-2300/unitTestLogs/Geometry/DTGeometryBuilder

[2020-02-25 16:14] Dr15Jones commented on #16481
One piece of information we would also need is to know that if the originating EDProducer makes multiple data products where some of those data products refer to each other either via a `Ref` or bare pointers.

[2020-02-25 18:25] cvuosalo commented on #29036
I think I will create `DataFormats/Math/interface/Rounding.h`. It will contain:
[code]

[2020-02-25 19:34] makortel commented on #22598
+1

already done

[2020-02-25 19:34] cmsbuild commented on #22598
This issue is fully signed and ready to be closed.

[2020-02-25 21:27] cvuosalo commented on #29036
@Dr15Jones How can I test this issue? I don't know about the ARM machines, and I probably don't have access to them.

[2020-02-25 22:12] Dr15Jones commented on #29036
I don't know how to access the ARM machines either. I can only look at the results from the related IB.

[2020-02-26 06:35] ianna commented on #29036
IMHO, this test should produce a reference file dynamically:
https://cmssdt.cern.ch/lxr/source/Geometry/DTGeometryBuilder/test/dtGeometry.log.org

Rounding this `normVector` will fix the test, but may result in rounding errors down the stream which will change the geometry.

[2020-02-26 09:59] #27780 closed

[2020-02-26 09:59] #22598 closed

[2020-02-26 17:31] makortel commented on #21627
https://github.com/cms-sw/cmssw/pull/29024 effectively makes all Paths/EndPaths work like the `UnorderedPath` sketched here.

What has changed since https://github.com/cms-sw/cmssw/issues/21627#issuecomment-348515614 is that we believe (hope) there are not many modules left with "illegal dependencies", and the PR https://github.com/cms-sw/cmssw/pull/29024 adds a configuration construct `cms.wait()

[2020-02-26 17:31] makortel commented on #26517
https://github.com/cms-sw/cmssw/pull/29024 resolves this issue.

[2020-02-26 18:11] XapaJIaMnu commented on #24935
https://bugs.llvm.org/show_bug.cgi?id=45034

[2020-02-26 19:29] slava77 commented on #28772
+1

fixed in #28917 (merged on 02.21 at 17:53)
I do not see this error in 21234.0 and 22434.0 in CMSSW_11_1_ASAN_X_2020-02-21-2300

[2020-02-26 19:40] kpedro88 commented on #28772
+upgrade

[2020-02-26 19:40] cmsbuild commented on #28772
This issue is fully signed and ready to be closed.

[2020-02-26 21:15] slava77 commented on #28959
I just realized that this issue should extend to the MXNET as well (used in deepBoosted taggers)

[2020-02-26 22:24] cvuosalo commented on #29036
A fix is proposed in PR #29052.

[2020-02-26 23:17] wddgit commented on #28898
Possibly I am done with this and this issue can be closed, unless someone requests me to do something more and Matti wants me to spend more time on this. Some comments follow.

The modules I migrated are handled in 3 PRs:
#29048
#28991
#28946
I will take care of these PRs until they get approved and merged.

I counted 76 modules in the GenFilters package

- 16 modules had already been migrated
- 3

[2020-02-26 23:20] slava77 commented on #28469
please clarify if somebody is [planning to] working on this.
Thanks.

[2020-02-27 09:59] mrodozov commented on #29036
@ianna , as discussed , one can test a change for arm (or ppc for that matter) adding:
[code]
as a comment, then comment `please test`, and the bot will take it as default argument (every time, unless the comment is overwritten, edited or deleted)
OR test it specifying the arch like this
`please test for slc7_aarch64_gcc820`

[2020-02-27 10:38] agrohsje commented on #28898
Hi @qliphy, I would be in favor of deleting the broken filters. If somebody needs them, we can always reactivate them. What do you think?
All PR's are now GEN signed.

[2020-02-27 11:16] #28772 closed

[2020-02-27 12:56] slomeo commented on #28871
@ianna any news about this PR?

[2020-02-27 13:01] qliphy commented on #28898
@agrohsje   I am fine with deleting the broken filters.

[2020-02-27 13:05] ianna commented on #29036
Fixed via PR #29052

[2020-02-27 13:05] ianna commented on #29036
+1

[2020-02-27 13:05] cmsbuild commented on #29036
This issue is fully signed and ready to be closed.

[2020-02-27 13:51] agrohsje commented on #28898
@wddgit: Would you still be available to remove the broken filters as you suggested?

[2020-02-27 15:03] wddgit commented on #28898
Yes. I am happy to delete things like that. I'll start looking at that now.

[2020-02-27 21:42] cvuosalo commented on #28871
@ianna This issue is becoming urgent. Are you able to work on it?

[2020-02-27 23:11] wddgit commented on #28898
I have the PR deleting the filters prepared. I will rebase it and submit it after the last PR I submitted is approved again and gets merged, because I know this new PR will conflict with that one.

As  I prepared the PR deleting the filters, I found one mistake in my list of broken modules above. I should have counted MCParticlePairFilter as already migrated. It is not broken.

[2020-02-28 03:14] makortel commented on #21627
+1

[2020-02-28 03:14] makortel commented on #26517
+1

[2020-02-28 03:14] #26517 closed

[2020-02-28 03:14] cmsbuild commented on #21627
This issue is fully signed and ready to be closed.

[2020-02-28 03:14] cmsbuild commented on #26517
This issue is fully signed and ready to be closed.

[2020-02-28 08:32] ianna commented on #28871
urgent

[2020-02-28 08:47] ianna opened #29057 "[DD4hep] Implement delayed Vector evaluation"
`Vector` is defined in `ConstantsSection` and can refer to the unresolved constants from the same section. The unresolved constants are cached and evaluated at the end of the `ConstantsSection`s processing. The same should be done with `Vector`s

requested by @bsunanda

[2020-02-28 08:48] ianna commented on #29057
assign geometry

[2020-02-28 08:48] cmsbuild commented on #29057
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-28 08:48] cmsbuild commented on #29057
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-28 09:27] #29036 closed

[2020-02-28 09:31] #21627 closed

[2020-02-28 20:38] wddgit commented on #28898
PR #29060 just submitted. It deletes the obsolete filter modules.

I think this issue can be closed now. After that PR is merged there will not be any more legacy modules is GenFilters.

[2020-03-02 04:16] bsunanda commented on #29057
@ianna Please let me know if this is resolved

[2020-03-02 06:51] ianna commented on #29057
@bsunanda - no, not yet. I haven't had a chance to start working on it properly. I did a quick prototype where I resolve constants file by file did not work - some calculations required ALL constant sections from ALL files to be parsed first. So next iteration will be either adding a registry of unresolved vectors and then resolve them or making a new section: `VectorSection`. The latter would be

[2020-03-02 16:24] cvuosalo commented on #29057
@ianna At this late date, I think we want to avoid any changes that would require XML changes. If we can change the code to handle the current XML, even if the design is not ideal, that's what we need to do.

[2020-03-02 17:31] Dr15Jones opened #29073 "Buffer overrun in HcalTDC::timing"
The address sanitizer is now showing
[code]

[2020-03-02 17:31] Dr15Jones commented on #29073
assign simulation

[2020-03-02 17:31] cmsbuild commented on #29073
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-02 17:31] cmsbuild commented on #29073
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-02 17:38] Dr15Jones commented on #29073
An example output can be found here:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_1_ASAN_X_2020-02-28-2300/pyRelValMatrixLogs/run/7.23_Cosmics_UP21+Cosmics_UP21+DIGICOS_UP21+RECOCOS_UP21+ALCACOS_UP21+HARVESTCOS_UP21/step2_Cosmics_UP21+Cosmics_UP21+DIGICOS_UP21+RECOCOS_UP21+ALCACOS_UP21+HARVESTCOS_UP21.log

[2020-03-02 18:29] vargasa opened #29075 "DD4hep - Tracker Overlaps on Reference & Migrated 2021 Scenario"
Tracker DD is showing 53 overlaps at 1e-6 precision (0 at 1.5e-6):

![OldDD_53Overlaps_1e-6](https://user-images.githubusercontent.com/16821717/75704087-b0cfc180-5c86-11ea-8446-11731be4b2b3.png)

Tracker DD4hep is showing 77 overlaps 1e-6 precision (3 at 1.5e-6):

![DD4Hep_77Overlaps_1e-6_](https://user-images.githubusercontent.com/16821717/75704538-8a5e5600-5c87-11ea-8f8f-e4ec0a020d92.png)

### H

[2020-03-02 18:30] cmsbuild commented on #29075
A new Issue was created by  @vargasa Andrs Vargas.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-02 18:30] vargasa commented on #29075
FYI: @cvuosalo @ianna

[2020-03-02 18:32] makortel commented on #29075
assign geometry

[2020-03-02 18:32] cmsbuild commented on #29075
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-02 18:42] silviodonato opened #29076 "Fake DQMHistosTests failures in wf 11634.0 and 12434.0 (Hcal/DigiTask/LETDC*)"
@abdoulline  after having integrated #29035 (CMSSW_11_1_X_2020-02-27-2300), we started to have fake DQMHistosTests failures in wf 11634.0 and 12434.0 (Hcal/DigiTask/LETDCTime, LETDCTimevsADC, LETDCvsADC, and LETDCvsTS)

For instance:
https://tinyurl.com/txjqbx9

![image](https://user-images.githubusercontent.com/6177433/75705912-a03a3e00-5cbc-11ea-9ee5-adb3d8fdb2a6.png)

Even if the two distributi

[2020-03-02 18:42] silviodonato commented on #29076
assign simulation

[2020-03-02 18:42] cmsbuild commented on #29076
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-02 18:42] cmsbuild commented on #29076
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-02 19:14] abdoulline commented on #29076
Take the liberty to include HCAL DQM colleagues
@DryRun . @lwang046
There is something problematic in DQM/HcalTasks  "DigiTask" with the histos (variables initialization?) related to TDC, as there was already this sort of issues in the past -
https://github.com/cms-sw/cmssw/issues/28367

[2020-03-02 20:00] makortel commented on #28912
@hajohajo reminded me privately that there actually would be a use case for using the same graph in multiple modules in track selection (the earlier DNN attempt used LWTNN, IIRC only as a temporary solution while waiting for the initial TF integraion in #19893 to converge).

That spurred a question in my head: @simonepigazzini in the description of this issue you wrote

IIUC, the `tensorflow::Sess

[2020-03-02 21:50] simonepigazzini commented on #28912
Hi @makortel,

in the most basic way at the moment ... I simply store a pointer to the session embed it into a container which is the actual record (which holds all the TF sessions).
I think this should be made safer at least by using a shared pointer. I also need to do a const_cast in order to pass the session to other tensorflow routines since the objects inside the ES are const.

The working br

[2020-03-02 22:00] simonepigazzini commented on #28912
I was not aware of the existence of `edm::GlobalCache`, does it work also across different plugins? From the DeepVertex esample I understand it's meant to serve as a chace across different version of the same producer running in different threads, correct?

simone

[2020-03-02 22:26] makortel commented on #28912
@simonepigazzini Thanks for the details.

This is almost certainly not thread safe.

It does not.

Exactly, the purpose of `edm::GlobalCache` is to share a thread-safe cache among the EDM stream instances of the same module.

I believe we'd need a proper (safe and efficient) implementation for a TensorFlow-ESProducer.

[2020-03-03 07:03] abdoulline commented on #29076
Or  (as David Yu  @DryRun  supposed elsewhere)
there could be some TDC simulation (initialization) issue,  which we've hidden previously by excluding TDC simulation for 2017 era (as a followup of issue  https://github.com/cms-sw/cmssw/issues/28367)  which now became "visible" in Run3 wf's with  https://github.com/cms-sw/cmssw/pull/29035 integrated.
Asked  Long Wang @lwang046 to take a close look a

[2020-03-03 08:57] simonepigazzini commented on #28912
I think to start with I can change the ESProducer to produce an object that stores the `tensorflow::GraphDef` only, I think it should be ok for that to have it const.

[2020-03-03 15:54] silviodonato commented on #29076
solved by #29076

[2020-03-03 15:58] Dr15Jones commented on #29076
@silviodonato The pull request you referenced as solving this issue is just this issue.

[2020-03-03 16:00] abdoulline commented on #29076
This is the link to the fix   https://github.com/cms-sw/cmssw/pull/29083

[2020-03-03 18:03] wddgit commented on #28898
Let's close this. All the PRs are merged now.

[2020-03-03 19:15] makortel commented on #25090
Updating the list of modules preventing (efficient use of) concurrent lumi blocks from workflow 1361.181 in CMSSW_11_1_X_2020-03-03-1100 (which contains #28813)

step1
[code]
* `Pythia8HadronizerFilter` is `edm::one::EDFilter<..., one::WatchRuns, one::WatchLuminosityBlocks>`
* `GenXSecAnalyzer` is `edm::one::EDAnalyzer<edm::one::WatchRuns, edm::one::WatchLuminosityBlocks>`

step3
[code]
All of the

[2020-03-03 21:11] makortel commented on #28912
How heavy is the creation of `tensorflow::Session`? Is it something that could be done for every event? (I doubt, but let's make sure; the following assumes it is too heavy to be created for every event)

One option would be to share the `tensorflow::GraphDef` to multiple modules as an ESProduct, and the modules would then create the `tensorflow::Session` in their `produce()` at the first call (an

[2020-03-03 21:43] silviodonato opened #29091 "Build CMSSW_11_1_0_pre4"

[2020-03-03 21:43] cmsbuild commented on #29091
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-03 21:44] silviodonato commented on #29091
+1

[2020-03-03 21:45] cmsbuild commented on #29091
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-03-03 21:45] cmsbuild commented on #29091
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I

[2020-03-03 21:46] cmsbuild commented on #29091
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2332/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-03 21:46] cmsbuild commented on #29091
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2331/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-03 21:46] cmsbuild commented on #29091
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2333/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-03 21:46] cmsbuild commented on #29091
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2334/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-03 21:53] osschar opened #29092 "Adding RECO era to process history"
For Fireworks to be able to reliably identify which RECO geometry to use for a given EDM file we propose to add RECO era string to process history and thus to all EDM files produced in the future.

This string can then be mapped to RECO geometry version that should be used by Fireworks to cover 95%+ of users use-cases (special cases should use full-framework version or generate their own reco geom

[2020-03-03 21:53] cmsbuild commented on #29092
A new Issue was created by  @osschar Matev Tadel.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-03 22:02] cmsbuild commented on #29091
The build has started for slc7_amd64_gcc900 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2335/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-03 22:02] Dr15Jones commented on #29092
assign core

[2020-03-03 22:03] cmsbuild commented on #29092
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-03 22:03] makortel commented on #29092
assign core, visualization, reconstruction

[2020-03-03 22:05] makortel commented on #29092
@osschar Could you describe if there are any other possible sources for this information, and what their drawbacks would be? How are old files (that would not have this information) be dealt with? (and why that would not work for the future)?

[2020-03-03 22:07] makortel commented on #29092
I believe we have the "era" as a string only in `cmsDriver`/`ConfigBuilder`. The `cms.Process` gets only a list of `cms.Modifier` objects and has little-to-no means to find out their "names".

[2020-03-03 22:44] slava77 commented on #29092
is there a way to inject the name of at least the ModifierChain "Era" during the cms.Process construction?
If the individual modifiers can enter as well, perhaps this can be also useful in resolution of #13326

[2020-03-04 02:11] makortel commented on #29092
Not at the moment. And because the era name would be essentially meaningless to the `cms.Process`,  I'd think other means would be simpler to get such string an a tracked `PSet`.

I don't see how that would relate to cfi generation from `fillDescriptions()`.

[2020-03-04 03:36] cmsbuild commented on #29091
The was an error for cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-cc8_aarch64_gcc8/2333

[2020-03-04 03:38] cmsbuild commented on #29091
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_aarch64_gcc820/2334
Some

[2020-03-04 04:00] cmsbuild commented on #29091
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc900/2335
Some tes

[2020-03-04 04:36] cmsbuild commented on #29091
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc900/2335

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-04 04:46] cmsbuild commented on #29091
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc820/2332
Some tes

[2020-03-04 04:47] cmsbuild commented on #29091
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_aarch64_gcc820/2334

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-04 05:23] cmsbuild commented on #29091
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc820/2332

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-04 07:18] cmsbuild commented on #29091
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-cc8_amd64_gcc8/2331
Some tests ( r

[2020-03-04 07:58] cmsbuild commented on #29091
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-cc8_amd64_gcc8/2331

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-04 09:22] silviodonato commented on #29091
abort

[2020-03-04 09:22] cmsbuild commented on #29091
Deleting CMSSW_11_1_0_pre4:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_pre4 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_0_pre4/slc7_amd64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_0_pre4/slc7_aarch64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_0_pre4/slc7_amd64_gcc900 successfully deleted.

 -cmsdist tag REL/CMSSW_11_1_0_pre4/cc8_amd64_gcc8

[2020-03-04 09:27] #29091 closed

[2020-03-04 09:28] silviodonato opened #29094 "Build CMSSW_11_1_0_pre4"

[2020-03-04 09:28] cmsbuild commented on #29094
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-04 09:30] silviodonato commented on #29094
+1

[2020-03-04 09:30] cmsbuild commented on #29094
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-03-04 09:30] cmsbuild commented on #29094
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I

[2020-03-04 09:32] cmsbuild commented on #29094
The build has started for cc8_amd64_gcc8 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2336/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-04 09:32] cmsbuild commented on #29094
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2337/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-04 09:40] fwyzard commented on #29092
Isn't the geometry something that should be tracked by the global tag, rather then the era ?

[2020-03-04 09:59] cmsbuild commented on #29094
The build has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2338/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-04 10:02] cmsbuild commented on #29094
The build has started for slc7_amd64_gcc900 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2339/console
CMSDIST Branch: [IB/CMSSW_11_1_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-04 10:15] ianna commented on #29092
yes, and it's the case for all cms jobs that use it from a GT. It's not the case for the event display and neither for the 2026 workflows.

[2020-03-04 10:17] cmsbuild commented on #29094
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2340/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-04 10:27] fwyzard commented on #29092
Sure - but that means that the even display could extrack the global tag used in the RECO jobs from the provenance, and use that to set up its geometry.

Well, that is simply something that should be fixed :-)
(we were supposed to have modular global tags years ago...)

[2020-03-04 11:30] silviodonato commented on #29091
@mrodozov do you know about this problem?

[2020-03-04 12:18] cmsbuild commented on #29094
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-cc8_amd64_gcc8/2336
Some tests ( r

[2020-03-04 12:38] silviodonato commented on #29091
btw. why are we building cc8_amd64_gcc8?

CMSSW_11_1_0_pre3 was made for:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_amd64_gcc900

[2020-03-04 12:43] cmsbuild commented on #29094
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc900/2339
Some tes

[2020-03-04 12:54] cmsbuild commented on #29094
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_aarch64_gcc820/2340
Some

[2020-03-04 12:55] cmsbuild commented on #29094
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-cc8_amd64_gcc8/2336

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-04 13:11] cmsbuild commented on #29094
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc820/2337
Some tes

[2020-03-04 13:20] cmsbuild commented on #29094
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc900/2339

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-04 13:49] cmsbuild commented on #29094
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc820/2337

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-04 13:56] cmsbuild commented on #29094
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-slc7_aarch64_gcc820/2340

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-04 14:06] mrodozov commented on #29091
can't say yet.
I'll guess Shahzad wants to have early cc8 working releases. About the externals that is failing it's weird as it doesn't fail in the IB. If externals fails in the IB the IB fails so I would've noticed it already. Have to check it by hand

[2020-03-04 14:17] mrodozov commented on #29091
I was checking the release job and since it's ongoing I'd rather let it finish and inspect it if it fails consistently.

[2020-03-04 14:48] silviodonato commented on #29091
Thanks @mrodozov , let's see if https://github.com/cms-sw/cmssw/issues/29094 will fail as well

[2020-03-04 15:40] schneiml commented on #25090
Analyzing all DQM and VALIDATION sequences in `runTheMatrix`, I found the follwing legacy modules on DQM sequences. None of them are actually DQM modules:
[code]
The first few are used in `VALIDATION`, while the `L1` ones look like validation as well (names such as `valGctDigis`, but they end up in many production DQM sequences (`@common` etc.).

The tool I used for this analysis is here: https://

[2020-03-04 16:40] makortel opened #29098 "Is GenXSecAnalyzer still useful?"
The `GenXSecAnalyzer` is an `edm::one::EDAnalyzer<edm::one::WatchRuns, edm::one::WatchLuminosityBlocks>` that prevents efficient use of concurrent luminosity blocks (https://github.com/cms-sw/cmssw/issues/25090#issuecomment-594119628). By quick look it aggregates various information in `endLuminosityBlock()` and `endRun()`, and prints out the result in `endJob()`.

Is this behavior needed in MC pr

[2020-03-04 16:41] makortel commented on #29098
assign generators

[2020-03-04 16:41] cmsbuild commented on #29098
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-04 16:41] cmsbuild commented on #29098
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-04 20:36] osschar commented on #29092
Currently, we don't do any checks, default reco geometry is defined per release as the reco geometry currently used for data. Users have to specify a non-default fireworks reco geometry file on the command line.

As for possible sources, there is:
- run number  - but this does not work for MC; and
-  GT which changes too frequently and does not have a good naming convention.
Using this, we will ha

[2020-03-04 21:16] makortel commented on #29092
@Dr15Jones and I had a short discussion. In principle one possibility could be to add an option for `cms.ModifierChain` (that all the "eras" in https://github.com/cms-sw/cmssw/tree/master/Configuration/Eras/python are) to have a label as well (implying that the "era name" would need to be specified twice), and then make `cms.Process` to fill some tracked `cms.vstring()` in some tracked `PSet` base

[2020-03-04 21:56] slava77 commented on #29092
This is a good point!
It means that saving an era is not enough to give an automatic config/geometry "barcode" needed for the event display.

This issue perhaps needs to be extended with the request to save the argument in the  --geometry  selector in the cmsDriver commands (as in ```--geometry Extended2026D49).

[2020-03-04 22:03] makortel commented on #29092
Should user-produced output (using non-cmsDriver-generated, or -generated-but-edited configuration files) be supported as well?

[2020-03-04 22:08] davidlange6 commented on #29092
I believe that --geometry values  are only relevant until geometries get into the gt.

On Mar 4, 2020 4:57 PM, Slava Krutelyov <notifications@github.com> wrote:

"Phase2" in era -> phase2, but the logic actually breaks down because we don't have a different era for each geometry variation (apparently only for different calorimeter versions)

This is a good point!
It means that saving an era is not

[2020-03-04 22:12] slava77 commented on #29092
well, this is not practical, since I guess that the phase-2 GT geometry will not show up until 2028.

@ianna is there a string in the XML geom builder config (provenance) that could serve as an appropriate key to discover the geometry kind?

[2020-03-04 22:23] davidlange6 commented on #29092
On Mar 4, 2020, at 5:12 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

I believe that --geometry values are only relevant until geometries get into the gt.

well, this is not practical, since I guess that the phase-2 GT geometry will not show up until 2028.

Would be a pity - Due to what constraint?

[2020-03-04 22:37] slava77 commented on #29092
perhaps @ianna and @kpedro88 could clarify that my guess is wrong

[2020-03-04 22:47] cmsbuild commented on #29094
The was an error for cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-cc8_aarch64_gcc8/2338

[2020-03-04 22:50] kpedro88 commented on #29092
Phase 2 geometries are constantly in development and fluctuating. So far, the idea to put these geometries into global tags has been seen as operational overhead without any benefit.

In general (without having followed this entire conversation), I would propose some method to store the provenance of the geometry generically, whether from XML or GT.

[2020-03-04 23:04] fwyzard commented on #29092
The main benefit would be that all the people that use the MC samples would not need to decode the arcane incantations used to set up the geometry, but could simply use the global tag, like we have been doing for Run 1 and Run 2 for the past 10 years.

At some point Phase 2 needs to stop being a playground.

[2020-03-04 23:09] kpedro88 commented on #29092
runTheMatrix.py is very easy to use, and ensures the correct eras, geometries, etc. are kept together.

I don't really want to encourage users to try to put together their own configs ex nihilo, because that generates a lot of annoying emails with trivial mistakes that would have been avoided by using approved methods.

[2020-03-04 23:21] fwyzard commented on #29092
runTheMatrix.py covers the central, offline workflows.
It does not cover the online workflows (i.e. the HLT and online DQM) nor the user analyses.

So, it's a very useful tool for centrally maintained workflows, because it hides a lot of the complexities that make the life miserable for the people that work on other topics.

In an ideal world the offline reconstruction developers, conveners and re

[2020-03-04 23:28] kpedro88 commented on #29092
Geometries are never set by Eras. That idea was discussed early on for phase 2 but rejected by the geometry team as too error-prone.

There are mechanisms to add special workflows to the matrix, so it could easily be extended to cover online workflows etc.

[2020-03-04 23:33] davidlange6 commented on #29092
Sure. Presumably this changes on the timescale of a few years or less as designs are settled?

On Mar 4, 2020 5:51 PM, Kevin Pedro <notifications@github.com> wrote:

Phase 2 geometries are constantly in development and fluctuating. So far, the idea to put these geometries into global tags has been seen as operational overhead without any benefit.

In general (without having followed this entire co

[2020-03-04 23:35] kpedro88 commented on #29092
Indeed, I have fond hopes that the designs will be settled before we start actually building them.

[2020-03-05 00:21] fwyzard commented on #29092
Are you suggesting that we should extend runTheMatrix to support workflows that are not based on cmsDriver ?

[2020-03-05 06:27] qliphy commented on #29098
@makortel

GenXSecAnalyzer is used to gather cross section and filter informations from each luminosityBlock, and then combine them to reach high accuracy with larger statistics.
https://twiki.cern.ch/twiki/bin/viewauth/CMS/HowToGenXSecAnalyzer

This is needed in MC production, especially for MC Contacts who make McM requests and need to input these information (especially on Filter/Matching effic

[2020-03-05 07:47] ianna commented on #29092
The geometry version is uniquely identified by a GT and is recorded in Provenance, but I do not see any suitable place where and how to add a version without adding an extra burden on its maintenance.

For example, here we know an exact geometry version:
[code]
On the other hand, this is what recorded for the 2026 scenarios and it's pretty much impossible to extract an exact geometry version. One

[2020-03-05 07:56] ianna commented on #29092
Would it be possible to assign a different (other then 1) run number to SIM? One could think of something like:
  * 2015 geometry == SIM Run 1 to Run 10
  * 2021 geometry == SIM Run 10 to Run 20
  * 2026DX geometry == SIM Run X (based on a geometry version)

[2020-03-05 09:27] silviodonato commented on #29094
upload all

[2020-03-05 09:28] cmsbuild commented on #29094
Queing Jenkins upload for cc8_amd64_gcc8

[2020-03-05 09:28] cmsbuild commented on #29094
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-03-05 09:28] cmsbuild commented on #29094
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-05 09:28] cmsbuild commented on #29094
Queing Jenkins upload for slc7_amd64_gcc900

[2020-03-05 09:30] cmsbuild commented on #29094
The upload has started for cc8_amd64_gcc8 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1501/console

[2020-03-05 09:30] cmsbuild commented on #29094
The upload has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1503/console

[2020-03-05 09:30] cmsbuild commented on #29094
The upload has started for slc7_amd64_gcc900 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1504/console

[2020-03-05 09:30] cmsbuild commented on #29094
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1502/console

[2020-03-05 09:31] cmsbuild commented on #29094
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre4-cc8_amd64_gcc8/1501

[2020-03-05 09:31] cmsbuild commented on #29094
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc900/1504

[2020-03-05 09:32] cmsbuild commented on #29094
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre4-slc7_amd64_gcc820/1503

[2020-03-05 09:32] cmsbuild commented on #29094
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre4-slc7_aarch64_gcc820/1502

[2020-03-05 09:34] ianna commented on #29092
An option **to version SIM geometry** could be to add an auto-generated version directly in an auto-generated geometry scenario.

To do that:
  * Firstly, we'd need to make sure that all geometry scenarios are auto-generated (similar to [2026](https://cmssdt.cern.ch/lxr/source/Configuration/Geometry/python/dict2026Geometry.py).
  * Secondly, the script which generates the scenarios should generate

[2020-03-05 10:02] silviodonato commented on #29094
release-notes

[2020-03-05 10:02] cmsbuild commented on #29094
Generating release notes since CMSSW_11_1_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-05 10:02] cmsbuild commented on #29094
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_1_0_pre4 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_1_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_0_pre4

Cheers,
cms-

[2020-03-05 10:03] cmsbuild commented on #29094
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre4

[2020-03-05 10:15] fwyzard opened #29107 "Build CMSSW_11_1_0_pre4_Patatrack"

[2020-03-05 10:15] fwyzard commented on #29107
+1

[2020-03-05 10:16] cmsbuild commented on #29107
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-t

[2020-03-05 10:16] cmsbuild commented on #29107
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre4_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-03-05 10:16] cmsbuild commented on #29107
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start th

[2020-03-05 10:18] cmsbuild commented on #29107
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2341/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-05 10:21] fwyzard commented on #29107
abort

[2020-03-05 10:21] fwyzard commented on #29107
Looks like the bot **did not** update the `CMSSW_11_1_Patatrack_X` branch from `cms-patatrack/master` before tagging and starting the build.

[2020-03-05 10:22] cmsbuild commented on #29107
Deleting CMSSW_11_1_0_pre4_Patatrack:

  -Release successfully deleted

  -cmssw tag CMSSW_11_1_0_pre4_Patatrack successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre4_Patatrack/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_1_0_pre4_Patatrack/slc7_aarch64_gcc820. Probaly it had not been created.

You must create a new

[2020-03-05 10:22] fwyzard commented on #29107
@smuzaffar @mrodozov could you look into it ?

[2020-03-05 10:24] mrodozov commented on #29107
I'll run it manually

[2020-03-05 10:28] mrodozov commented on #29107
The jenkins job failed because the branch is unmergable
[code]
maybe we can use patatrack master to make a pull request on cmssw and see what are the conflicts ?

[2020-03-05 10:39] mrodozov commented on #29107
https://github.com/cms-sw/cmssw/compare/CMSSW_11_1_Patatrack_X...cms-patatrack:master
it says it's unmergable :/

[2020-03-05 11:52] fwyzard commented on #29107
It should always be force-pushed, never merged.

[2020-03-05 13:05] mrodozov commented on #29107
I added -f and it's force pushed. You can restart the release build now

[2020-03-05 13:08] smuzaffar commented on #29107
There is a jenkins job to do this, did you run that job or dud it by hand

[2020-03-05 13:11] mrodozov commented on #29107
I ran the job but the job was just pushing the branch, without force-push it
https://cmssdt.cern.ch/jenkins/view/All/job/sync-patatrack-branch/
now I added -f . I've changed the job last week but I don't recall removing the -f , I think it wasn't there in first place

[2020-03-05 13:19] wouf commented on #28636
@makortel do You have any news on this?

[2020-03-05 13:28] fwyzard commented on #29107
Thank you !

[2020-03-05 13:28] #29107 closed

[2020-03-05 13:28] fwyzard opened #29112 "Build CMSSW_11_1_0_pre4_Patatrack"

[2020-03-05 13:28] fwyzard commented on #29112
+1

[2020-03-05 13:29] cmsbuild commented on #29112
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-t

[2020-03-05 13:29] cmsbuild commented on #29112
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre4_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_Patatrack_X

[2020-03-05 13:29] cmsbuild commented on #29112
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start th

[2020-03-05 13:37] cmsbuild commented on #29112
The build has started for slc7_amd64_gcc820 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2342/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-05 14:28] mrodozov commented on #29094
On that failing external, in this file one can see the reason:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-cc8_aarch64_gcc8/2338/LOGS/external/form/4.1.033e/log
[code]

somehow -march=native turns into not what it is supposed to but gets additional symbols, however I can't reproduce it building it manually. We'll have to dig on it further just not now :/

[2020-03-05 14:50] cmsbuild commented on #29112
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2343/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-05 15:24] makortel commented on #29092
This is a more general issue than just geometry: we are not able to check in a later step if the conditions are compatible with the conditions of an earlier step. For example, during 2015-2017 I recall the SIM and RECO beamspot becoming inconsistent about once a year or so. Fortunately that was relatively easy to spot because tracking performance went haywire.

[2020-03-05 15:26] kpedro88 commented on #29092
@fwyzard

Maybe it makes more sense for the existing HLT infrastructure to import phase 2 workflow properties directly from [upgradeWorkflowComponents.py](https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py) to ensure consistency.

[2020-03-05 15:29] makortel commented on #29098
@qliphy Thanks. Is it needed in every GEN job (notably in RelVal and production)? Or would it be sufficient if it could be easily included in a GEN job when needed, but it would not be run by default?

[2020-03-05 15:33] kpedro88 commented on #29092
@ianna

I agree it would be better to enforce this automatically, but in general these mistakes happen because people aren't following approved procedures, i.e. runTheMatrix.

There is code scattered throughout CMSSW (as well as user repositories) that assumes SIM has run = 1, so I don't think this is a good idea.

[2020-03-05 15:34] ianna commented on #29092
Well, yes. It's much simpler for the SIM and RECO geometries though. The versions are identical if the jobs are using the same GT line.

[2020-03-05 15:35] kpedro88 commented on #29092
also

Tracker geometry-dependent records are specified in [autoCondPhase2.py](https://github.com/cms-sw/cmssw/blob/master/Configuration/AlCa/python/autoCondPhase2.py) and the proper GT for each workflow is specified in [upgradeWorkflowComponents.py](https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py). So... the answer is to use runTheM

[2020-03-05 15:38] fwyzard commented on #29092
Yes.

Honestly, it would make sense for people to stop assuming that the offline reconstruction is the only thing CMSSW should cater for.

Or at least to stop commenting about things they know very little about ?

[2020-03-05 15:39] makortel commented on #29092
These assumptions need to be removed if/when we get to run-dependent MC (that *will* contain non-1 run numbers).

[2020-03-05 15:49] qliphy commented on #29098
@makortel  Yes, I think for RelVal and Production, this is not needed to be run .

[2020-03-05 15:50] kpedro88 commented on #29092
runTheMatrix workflows are tested daily in PRs and IBs, ensuring that they do not break and provide consistent results. Non-offline workflows would be well served to imitate this successful strategy.

[2020-03-05 15:50] fwyzard commented on #29092
It's amazing, you keep commenting and showing that you have absolutely no idea what you are taling about.

[2020-03-05 15:52] fwyzard commented on #29092
@kpedro88, basically what you are suggesting is "I developed a particular solution for a very specific problem, so every body else should simply use it", even if the problem they need to solve is fundamentally different.

In principle, yes, the HLT configuration could move back into the release.

However, to avoid issues sneaking in the HLT configurations, that would require the HLT L2s to have ve

[2020-03-05 15:53] fwyzard commented on #29092
Now, since this is clearly going way off topic, I'll be happy to cut the discussion here.

Feel free to open a separate issue if you have concrete proposals about improving the situation.

[2020-03-05 16:37] cmsbuild commented on #29112
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4_Patatrack-slc7_amd64_gcc820/234

[2020-03-05 17:14] cmsbuild commented on #29112
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4_Patatrack-slc7_amd64_gcc820/2342

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-05 19:57] cmsbuild commented on #29094
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2344/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-03-05 19:58] makortel commented on #29092
Let me try to summarize the options presented so far (for MC)

* configuration era
   * could be used to figure out run1-3 geometries, not sufficient to figure out the used phase2 geometry (less eras than geometries)
   * would need some additional work to store it in the provenance
* global tag name
   * could be used to figure out run1-3 geometries, not sufficient to figure out the used phase2 g

[2020-03-05 20:50] cmsbuild commented on #29112
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4_Patatrack-slc7_aarch64_gcc820

[2020-03-05 21:09] fwyzard commented on #29112
upload all

[2020-03-05 21:10] cmsbuild commented on #29112
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-03-05 21:10] cmsbuild commented on #29112
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-05 21:11] cmsbuild commented on #29112
The upload has started for slc7_amd64_gcc820 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1506/console

[2020-03-05 21:11] cmsbuild commented on #29112
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1505/console

[2020-03-05 21:12] cmsbuild commented on #29112
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre4_Patatrack-slc7_aarch64_gcc820/1505

[2020-03-05 21:12] cmsbuild commented on #29112
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre4_Patatrack-slc7_amd64_gcc820/1506

[2020-03-05 22:03] ianna commented on #28871
+1

this feature is already used in #29111

[2020-03-05 22:03] #28871 closed

[2020-03-05 23:26] cmsbuild commented on #29112
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4_Patatrack-slc7_aarch64_gcc820/2343

Tests results:
34 32 31 26 13 1 1 1 1 tests passed, 0 1 0 0 3 3 0 0 0 failed

[2020-03-06 00:39] cmsbuild commented on #29094
The was an error for cc8_aarch64_gcc8.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4-cc8_aarch64_gcc8/2344

[2020-03-06 02:41] slava77 opened #29128 "python tool for BTagProbabilityToDiscriminator instances"
This is a follow up to #28902
https://github.com/cms-sw/cmssw/pull/28902/files#r384794509

E.g. in pfParticleNetDiscriminatorsJetTags_cfi.py we have
- repeated list of the same denominators
- both numerator and denominator InputTags share the same module name

A more compact solution would be to add some python tool/methods to create instances of BTagProbabilityToDiscriminator with something like

[2020-03-06 02:41] cmsbuild commented on #29128
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-06 02:53] slava77 opened #29129 "incorporate center/scale parameters in the training data file distribution for deepBoosted and ParticleNet"
This is a follow up to #28902
https://github.com/cms-sw/cmssw/pull/28902#discussion_r384783580

As an example, RecoBTag/MXNet/python/Parameters/ParticleNet/V00/pfParticleNetPreprocessParams_cfi.py
contains ```median``` and ```norm_factor``` parameters which are somewhat unique to the training set of parameters used.

It would be better then  to distribute these constants in the data files so that

[2020-03-06 02:54] slava77 commented on #29128
assign reconstruction

[2020-03-06 02:54] cmsbuild commented on #29129
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-06 02:54] slava77 commented on #29129
assign reconstruction

[2020-03-06 02:54] cmsbuild commented on #29128
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-06 02:54] cmsbuild commented on #29129
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-06 10:47] fwyzard commented on #29112
release-notes

[2020-03-06 11:14] ahinzmann opened #29132 "Treatment of PUPPI weights for b-tagging inconsistent between AOD and MiniAOD"
While adding puppi jets into RECO in #28936, this issue (though known before) became apparent again.

b-taggers trained and computed on PUPPI jets on MiniAOD use the raw PF particles (not applying the PUPPI weight), e.g. pfDeepBoostedJetTags takes as input PackedCandidates.

b-taggers trained and computed in PUPPI jets on AOD use the weighted PF particles including the PUPPI weight, e.g. pfBoosted

[2020-03-06 11:14] cmsbuild commented on #29132
A new Issue was created by  @ahinzmann .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-06 12:35] Dr15Jones commented on #29132
assign reconstruction

[2020-03-06 12:36] cmsbuild commented on #29132
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-06 13:42] fwyzard commented on #29112
In all cases, the error is
[code]

I didn't see this error for CMSSW_11_1_0_pre4 on AArch64 in https://github.com/cms-sw/cmssw/issues/29094#issuecomment-594537359 , but is seems it should be unrelated to the Patatrack changes ?

@mrodozov @smuzaffar do you have any ideas ?

[2020-03-06 13:44] emilbols commented on #29132
I agree that we should change it, so that it is consistent.

From the point of view of DeepJet, since we never trained (or validated) it on Puppi jets, I think we will need a retraining regardless on Run3. That is at least the plan at the moment.

I might also be mistaken, but I think DeepBoosted applies the puppi weight by hand on the packed candidates, before feeding them to the NN. So there I w

[2020-03-06 14:11] ahinzmann commented on #29132
Ok, so for DeepBoosted this is easy to make consistent without even retraining, that's good news.

[2020-03-06 14:57] silviodonato opened #29133 "Build CMSSW_11_1_0_pre4_GEANT4"
ARCHITECTURE:slc7_amd64_gcc820
CMSSW_COMMIT:61e522225cab761ec911f816ab12d895e35474a6
CMSDIST_COMMIT:REL/CMSSW_11_1_0_pre4/slc7_amd64_gcc820

[2020-03-06 14:58] cmsbuild commented on #29133
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-06 14:59] silviodonato commented on #29133
abort

[2020-03-06 14:59] #29133 closed

[2020-03-06 15:00] silviodonato opened #29134 "Build CMSSW_11_1_0_pre4_GEANT4"
ARCHITECTURE:slc7_amd64_gcc820
CMSSW_COMMIT:61e522225cab761ec911f816ab12d895e35474a6
CMSDIST_COMMIT:3d36b417d1f512075b82b587cde9d0ed401acece

[2020-03-06 15:01] cmsbuild commented on #29134
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-06 15:24] silviodonato commented on #29134
abort

[2020-03-06 15:29] silviodonato opened #29136 "Build CMSSW_11_1_0_pre4_GEANT4"
ARCHITECTURE:slc7_amd64_gcc820
CMSSW_COMMIT:61e522225cab761ec911f816ab12d895e35474a6
CMSDIST_COMMIT:041e26b3a9e932c11a5a97274b06ade52de05b58

[2020-03-06 15:30] cmsbuild commented on #29136
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-06 15:32] #29134 closed

[2020-03-06 15:43] silviodonato commented on #29136
+1

[2020-03-06 15:44] cmsbuild commented on #29136
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_0_pre4_GEANT4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-03-06 15:44] cmsbuild commented on #29136
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-03-06 15:47] silviodonato commented on #29136
As a reference, these are the difference with respect to the standard CMSSW_11_1_0_pre4
CMSDIST: https://github.com/cms-sw/cmsdist/compare/REL/CMSSW_11_1_0_pre4/slc7_amd64_gcc820...041e26b3a9e932c11a5a97274b06ade52de05b58
CMSSW: https://github.com/cms-sw/cmssw/compare/CMSSW_11_1_0_pre4...61e522225cab761ec911f816ab12d895e35474a6

[2020-03-06 15:49] silviodonato commented on #29134
see https://github.com/cms-sw/cmssw/issues/29136

[2020-03-06 15:49] silviodonato commented on #29133
https://github.com/cms-sw/cmssw/issues/29136

[2020-03-06 15:51] cmsbuild commented on #29136
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2345/console
CMSDIST Branch: [041e26b3a9e932c11a5a97274b06ade52de05b58](https://github.com/cms-sw/cmsdist/commits/041e26b3a9e932c11a5a97274b06ade52de05b58), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-06 16:20] wddgit commented on #28898
Is there anything else I need to do related to this issue to close it out? (If I understand correctly how gitHub works, technically to close this we need a generator signature, +1 on the first line). All the PRs are merged. The legacy modules have all been either converted or deleted.

[2020-03-06 19:07] cmsbuild commented on #29136
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4_GEANT4-slc7_amd64_gcc820/2345
S

[2020-03-06 19:40] cmsbuild commented on #29136
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_0_pre4_GEANT4-slc7_amd64_gcc820/2345

Tests results:
32 31 30 24 15 4 1 1 1 tests passed, 2 1 0 0 0 0 0 0 0 failed

[2020-03-06 20:52] silviodonato commented on #29136
@civanch @bsunanda  there are some errors CMSSW_11_1_0_pre4_GEANT4 .
They were visible also in CMSSW_11_1_GEANT4_X_2020-03-05-1100 IB tests: https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_1/2020-03-05-1100?selectedArchs=slc7_amd64_gcc820&selectedFlavors=GEANT4_X&selectedStatus=failed .
Did you expect these errors?

https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_

[2020-03-06 22:17] kpedro88 opened #29142 "Monitoring ExternalWork time"
#29141 introduces SONIC to CMSSW, including a client class that monitors how much time is spent in ExternalWork calls. The client works as follows:
* `SonicEDProducer::acquire()` calls `SonicClient::predict()` and returns
* `SonicClient::predict()` stores the start time `t0`, does its work, then calls `SonicClient::finish()`
* `SonicClient::finish()` checks the time again (`t1`) and emits a `LogIn

[2020-03-06 22:17] kpedro88 commented on #29142
assign core

[2020-03-06 22:17] cmsbuild commented on #29142
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-06 22:17] cmsbuild commented on #29142
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-06 22:28] wddgit commented on #28354
@schneiml Just hypothetically, say that a way to aggregate over multiple runs is developed. How is the range of runs to aggregate over determined? Is it good enough to aggregate over all the runs  processed in one cmsRun job? In other words the range is determined by the input of one cmsRun job. How is this range determined now in multi-run DQM?

[2020-03-07 09:23] cmsbuild commented on #29094
The cleanup has started for slc7_aarch64_gcc820

[2020-03-07 09:23] cmsbuild commented on #29094
The cleanup has started for cc8_aarch64_gcc8

[2020-03-07 09:23] cmsbuild commented on #29094
The cleanup has started for cc8_amd64_gcc8

[2020-03-07 09:23] cmsbuild commented on #29094
The cleanup has started for slc7_amd64_gcc820

[2020-03-07 09:23] cmsbuild commented on #29094
The cleanup has started for slc7_amd64_gcc900

[2020-03-07 09:23] #29094 closed

[2020-03-07 09:23] cmsbuild commented on #29094
The workspace for cc8_aarch64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre4-cc8_aarch64_gcc8/1537

[2020-03-07 09:23] cmsbuild commented on #29094
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre4-cc8_amd64_gcc8/1538

[2020-03-07 09:23] cmsbuild commented on #29094
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre4-slc7_aarch64_gcc820/1539

[2020-03-07 09:23] cmsbuild commented on #29094
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre4-slc7_amd64_gcc900/1541

[2020-03-07 09:23] cmsbuild commented on #29094
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_0_pre4-slc7_amd64_gcc820/1540

[2020-03-07 15:17] civanch commented on #29136
@silviodonato , likely this is the issue #28781. They were more frequent in past and happens always at exit. One fix reduced probability of such crashes but likely more fixes are required. Would it be possible build IB anyway?

[2020-03-07 18:46] civanch commented on #29136
@silviodonato , situation is not a simple. Just now I took the recent GEANT4 IB CMSSW_11_1_GEANT4_X_2020-03-05-1100 and run 20034.0 , which fails here. In my local run there is no problems. If I am right all failed WFs are for Phase-2 not for Run-3.

[2020-03-07 19:50] silviodonato commented on #29136
upload all

[2020-03-07 19:52] cmsbuild commented on #29136
Queing Jenkins upload for slc7_amd64_gcc820

[2020-03-07 19:54] cmsbuild commented on #29136
The upload has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1507/console

[2020-03-07 19:55] cmsbuild commented on #29136
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_0_pre4_GEANT4-slc7_amd64_gcc820/1507

[2020-03-07 20:07] silviodonato commented on #29136
@civanch the new release should be ready by this night

[2020-03-08 00:38] benkrikler opened #29145 "Convert TriggerRulePrefireVetoFilter.cc to callable function"
I would like to be able to call the functionality of `EventFilter/L1TRawToDigi/plugins/TriggerRulePrefireVetoFilter.cc` from elsewhere but not use it as purely a filter.  Is it reasonable to convert this plugin to a simple function and then use that function within the existing plugin so we maintain the existing functionality?

I can implement this but having not done this sort of thing before, is

[2020-03-08 00:38] cmsbuild commented on #29145
A new Issue was created by  @benkrikler .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-08 11:02] silviodonato commented on #29136
release-notes since CMSSW_11_1_0_pre4

[2020-03-08 11:02] cmsbuild commented on #29136
ATTENTION!!! The production architecture () is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2020-03-08 11:07] silviodonato commented on #29136
ping @cmsbuild

[2020-03-09 10:46] agrohsje commented on #28898
+1

[2020-03-09 10:46] cmsbuild commented on #28898
This issue is fully signed and ready to be closed.

[2020-03-09 14:34] schneiml commented on #28354
@wddgit The behaviour today is:
- For single run harvesting, we run a job that filters out lumisections of a single run, aggregates over the entire job, saves at the end of the job.
- For multi run harvesting, we run a job that reads a set of files, aggregates over the entire job, saves at the end of the job.

So indeed, today everything is determined by the input to the job. Also, today single-ru

[2020-03-09 18:50] makortel commented on #29145
assign l1

[2020-03-09 18:51] cmsbuild commented on #29145
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-09 19:02] makortel commented on #29145
Something along the following should work out
* create a new function in `EventFilter/L1TRawToDigi/interface/<NewFunction>.h` and `EventFilter/L1TRawToDigi/src/<NewFunction>.cc` that takes `const TCDSRecord&` as a parameter, move the relevant content fro `filter()` there
* use that function in `TriggerRulePrefireVetoFilter.cc`
* if the "elsewhere" is in another package, declare that package to dep

[2020-03-09 19:06] makortel commented on #29098
How are the configurations for the MC contacts created? Is there perhaps a template, a recipe for cmsDriver command, or generation by a web service?

I'm just thinking if a modifier (e.g. `--processModifier genXsecAnalyzer` for cmsDriver) would work, and where exactly that would need to be propagated (recipe on webpage/twiki, script, web service)

[2020-03-09 21:55] #28898 closed

[2020-03-10 02:16] qliphy commented on #29098
The cmsDriver commands for MC contacts are got from McM automatically:
[B2G-RunIISummer15GS-00007](https://cms-pdmv.cern.ch/mcm/requests?prepid=B2G-RunIISummer15GS-00007&page=0&shown=127)
and
https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_test/B2G-RunIISummer15GS-00007

[2020-03-10 10:16] silviodonato opened #29160 "Build CMSSW_10_2_21"

[2020-03-10 10:17] cmsbuild commented on #29160
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-10 10:21] silviodonato commented on #29160
+1

[2020-03-10 10:23] cmsbuild commented on #29160
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_21. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-03-10 10:23] cmsbuild commented on #29160
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-10 10:24] cmsbuild commented on #29160
The build has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2346/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-10 10:24] cmsbuild commented on #29160
The build has started for slc7_amd64_gcc700 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2347/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-10 12:57] cmsbuild commented on #29160
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_21-slc7_amd64_gcc700/2347

[2020-03-10 13:15] cmsbuild commented on #29160
The was an error for slc6_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_21-slc6_amd64_gcc700/2346

[2020-03-10 15:22] silviodonato commented on #29160
abort

[2020-03-10 15:23] cmsbuild commented on #29160
Deleting CMSSW_10_2_21:

  -Release successfully deleted

  -cmssw tag CMSSW_10_2_21 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_2_21/slc6_amd64_gcc700. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_2_21/slc7_amd64_gcc700. Probaly it had not been created.

You must create a new issue to start over the build.

[2020-03-10 16:57] #29160 closed

[2020-03-10 16:57] silviodonato opened #29167 "Build CMSSW_10_2_21"

[2020-03-10 16:58] cmsbuild commented on #29167
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-10 17:25] silviodonato commented on #29167
+1

[2020-03-10 17:25] cmsbuild commented on #29167
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_21. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2020-03-10 17:25] cmsbuild commented on #29167
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-10 17:27] cmsbuild commented on #29167
The build has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2348/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-10 17:27] cmsbuild commented on #29167
The build has started for slc7_amd64_gcc700 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2349/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-10 19:49] cmsbuild commented on #29167
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_21-slc7_amd64_gcc700/2349
Some tests (

[2020-03-10 20:26] cmsbuild commented on #29167
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_21-slc7_amd64_gcc700/2349

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-10 20:38] cmsbuild commented on #29167
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_21-slc6_amd64_gcc700/2348
Some tests (

[2020-03-10 20:43] hqucms commented on #28959
https://github.com/cms-sw/cmssw/pull/29172 is open to address this issue. Feedback is welcome!

[2020-03-10 21:16] cmsbuild commented on #29167
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_21-slc6_amd64_gcc700/2348

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-03-11 08:05] silviodonato opened #29174 "Compilation error in CMSSW aarch64 due to Boostv1.72.0"
After the integration of https://github.com/cms-sw/cmsdist/pull/5573
we started to have errors in slc7_aarch64_gcc820 since CMSSW_11_1_X_2020-03-09-1100.

The error is related to boost
[code]

[2020-03-11 08:06] cmsbuild commented on #29174
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-11 08:08] smuzaffar commented on #29174
@silviodonato , https://github.com/cms-externals/boost/pull/2 addresses this issue

[2020-03-11 08:09] silviodonato commented on #29174
thanks!

[2020-03-11 08:10] silviodonato commented on #29167
upload all

[2020-03-11 08:10] cmsbuild commented on #29167
Queing Jenkins upload for slc6_amd64_gcc700

[2020-03-11 08:10] cmsbuild commented on #29167
Queing Jenkins upload for slc7_amd64_gcc700

[2020-03-11 08:11] cmsbuild commented on #29167
The upload has started for slc7_amd64_gcc700 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1509/console

[2020-03-11 08:11] cmsbuild commented on #29167
The upload has started for slc6_amd64_gcc700 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1508/console

[2020-03-11 08:12] cmsbuild commented on #29167
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_21-slc7_amd64_gcc700/1509

[2020-03-11 08:12] silviodonato opened #29175 "Build CMSSW_10_6_11"

[2020-03-11 08:12] cmsbuild commented on #29167
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_21-slc6_amd64_gcc700/1508

[2020-03-11 08:13] cmsbuild commented on #29175
Request received. I will start to build the release after one of the following approve the issue: @davidlange6, @silviodonato, @smuzaffar, @fabiocos, @slava77. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf a

[2020-03-11 08:14] silviodonato commented on #29167
release-notes

[2020-03-11 08:14] cmsbuild commented on #29167
Generating release notes since CMSSW_10_2_20.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-03-11 08:14] cmsbuild commented on #29167
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_21 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_20 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_21

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2020-03-11 08:15] cmsbuild commented on #29167
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_21

[2020-03-11 08:16] #29167 closed

[2020-03-11 08:16] silviodonato commented on #29175
+1

[2020-03-11 08:17] cmsbuild commented on #29175
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2020-03-11 08:17] cmsbuild commented on #29175
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2020-03-11 08:18] cmsbuild commented on #29175
The build has started for slc7_amd64_gcc700 in cmsbuild82.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2350/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-11 08:19] silviodonato commented on #29175
abort

[2020-03-11 08:19] cmsbuild commented on #29175
The build has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2351/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-03-11 08:19] cmsbuild commented on #29175
Deleting CMSSW_10_6_11:

  -Release successfully deleted

  -cmssw tag CMSSW_10_6_11 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_6_11/slc7_amd64_gcc700. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_6_11/slc7_amd64_gcc820. Probaly it had not been created.

You must create a new issue to start over the build.