[2018-03-19 23:15] cmsbuild commented on #22666
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-20 00:23] cmsbuild commented on #22666
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_7

[2018-03-20 10:53] makortel commented on #22660
I made a PR #22677 to address the point 1 and thus making the 20261.98 workflow to run with `-i all`.

I did not do anything yet for point 2 as I'm not sure yet on the best strategy.

For run2 premixing stage1 the pileup dataset comes from `baseDataSetRelease`
https://github.com/cms-sw/cmssw/blob/fe62f5a601dfe5f13bd4154ac9c15f0bf10511d3/Configuration/PyReleaseValidation/python/relval_steps.py#L125

[2018-03-20 13:22] kpedro88 commented on #22660
I was actually thinking about stage2, not stage1. It should be fine to use the same input for stage1 and classical mixing.

[2018-03-20 13:27] makortel commented on #22660
Ok. So let's continue with stage1 as it is, and add the additional dictionary for stage2 at some point.

[2018-03-21 15:38] cmsbuild commented on #22661
The cleanup has started for slc6_amd64_gcc630

[2018-03-21 15:38] #22661 closed

[2018-03-21 15:49] cmsbuild commented on #22661
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_5_cand1-slc6_amd64_gcc630/922

[2018-03-21 16:16] fabiocos opened #22695 "PR 22373 crashes several workflows"
After the integration of #22373 several test workflows were crashing in the new class, see

https://cms-sw.github.io/relvalLogDetail.html#slc6_amd64_gcc630;CMSSW_10_1_X_2018-03-20-2300

In order to facilitate the debugging but preserving the integrity of the IB, given it is a well isolated new added class, the code was entirely disabled in python configurations (restoring the original version, add

[2018-03-21 16:16] cmsbuild commented on #22695
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-21 16:17] fabiocos commented on #22695
assign dqm

@suchandradutta

[2018-03-21 16:17] cmsbuild commented on #22695
New categories assigned: dqm

@jfernan2,@vazzolini,@vanbesien,@kmaeshima,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-21 16:40] kpedro88 commented on #22554
+1
see #22666

[2018-03-21 23:31] cmsbuild commented on #22666
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_7-slc6_amd64_gcc630/923

[2018-03-21 23:32] cmsbuild commented on #22666
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_7-slc7_amd64_gcc630/924

[2018-03-22 14:13] slava77 opened #22706 "silence diagnostics/info-only LogWarnings introduced in HCAL unpacker in #22385"
#22385 introduced LogWarnings that are expected to be present in abundance ```nStreams(=8)*20*12 ~``` 2K lines per production job.
Only problems should be displayed as LogWarnings.

The diagnostics/info-only part of the printouts should be demoted to LogInfo or LogDebug or hidden under some "silent" configuration switch.

see also https://hypernews.cern.ch/HyperNews/CMS/get/hcal-cmssw/598/1/1/1/1/

[2018-03-22 14:14] slava77 commented on #22706
assign reconstruction

[2018-03-22 14:14] cmsbuild commented on #22706
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-22 14:14] cmsbuild commented on #22706
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-22 14:56] makortel opened #22710 "Use of edm::RandomNumberGenerator in Phase2TrackerDigitizer is not safe"
`Phase2TrackerDigitizer` acquires `CLHEP::HepRandomEngine` from `edm::RandomNumberGenerator` service in `beginLuminosityBlock`
https://github.com/cms-sw/cmssw/blob/4d5e4d2323e0f1fdbb14113c97fa060cb6f0feea/SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizer.cc#L98-L106
passes it to the member algorithm objects
https://github.com/cms-sw/cmssw/blob/4d5e4d2323e0f1fdbb14113c97fa060cb6f0feea/Sim

[2018-03-22 14:58] cmsbuild commented on #22710
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-22 15:00] boudoul commented on #22710
Thanks @makortel for reporting, let me add @suchandradutta to make her aware of this issue

[2018-03-22 15:04] makortel opened #22711 "See if edm::DetSetVector could be replaced with edmNew::DetSetVector"
The "old-style vector-of-vectors" `edm::DetSetVector` is used heavily in e.g. digitization code. We should try to understand
* if we could replace all uses of it with the "modern linearized vector" `edmNew::DetSetVector`
* what would be the benefits in practice (disk space, memory)
* what would be the impact of deployment
  * e.g. previous DIGI files become unreadable (without extra effort to keep

[2018-03-22 15:04] cmsbuild commented on #22711
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-22 15:25] makortel opened #22712 "Use of edm::RandomNumberGenerator in HGCDigiProducer"
`HGCDigiProducer` (which is/can be a member variable of `MixingModule`, which itself is a `stream::EDProducer`) has a local "stream cache" for `CLHEP::HepRandomEngine`s.
https://github.com/cms-sw/cmssw/blob/301a35e206b6d2b8fe036ef003e7f00e772f3291/SimCalorimetry/HGCalSimProducers/plugins/HGCDigiProducer.cc#L47-L50
https://github.com/cms-sw/cmssw/blob/301a35e206b6d2b8fe036ef003e7f00e772f3291/SimCal

[2018-03-22 15:26] cmsbuild commented on #22712
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-22 15:29] makortel commented on #22712
@lgray It seems that this cache was created in your commit 9a538de0effffe85660de88a748796724037a78f of #11880. Do you have a recollection why the cache was needed?

[2018-03-22 15:40] wddgit commented on #22712
There are actually two separate questions.

1. Why do we need a vector of pointers instead of just one pointer in HGCProducer if there is already an HGCDigiProducer per stream? This was confusing to me and unless I am missing something unnecessary, although I know very little about the MixingModule.

2. Is it worth the effort to cache the pointer? This actually does improve performance slightly so

[2018-03-22 22:02] fabiocos opened #22718 "Clean definition of eras and modifiers"
Following the discussion in #22679 we should consider some cleaning of the use of Eras, separating different data periods from different versions for the same data period, that could be managed through ProcessModifiers

[2018-03-22 22:02] cmsbuild commented on #22718
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-23 09:30] suchandradutta commented on #22710
I am looking into it and shall update the code accordingly

[2018-03-23 11:17] fabiocos opened #22721 "Recurrent fastsim2 addOn test failure"
In recent days a recurrent failure in the fastsim2 addOn test has been noticed, although this does not appear in the IB and it is not trivially reproducible. The pattern of the problem is:

----- Begin Fatal Exception 22-Mar-2018 21:58:34 CET-----------------------
An exception of category 'fastsim::ParticleManager' occurred while
   [0] Processing  Event run: 1 lumi: 1 event: 55 stream: 0
   [1]

[2018-03-23 11:17] cmsbuild commented on #22721
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-23 11:18] fabiocos commented on #22721
assign fastsim

[2018-03-23 11:18] cmsbuild commented on #22721
New categories assigned: fastsim

@mdhildreth,@ssekmen,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-23 11:27] fabiocos commented on #22721
The problem is triggered here:

https://github.com/cms-sw/cmssw/blob/master/FastSimulation/SimplifiedGeometryPropagator/src/ParticleManager.cc#L94

but clearly this is the consequence of some particle with a not recognized id being produced from time to time, apparently in a non reproducible way (which sounds worrying)

[2018-03-23 14:27] imarches commented on #22554
If still possible this could be included:

https://github.com/cms-sw/cmssw/pull/22723

[2018-03-23 14:38] kpedro88 commented on #22554
We will make 9_3_8 with https://github.com/cms-sw/cmsdist/pull/3862, so it might be able to go in as well.

[2018-03-23 14:40] imarches commented on #22554
Thanks @kpedro88 not urgent for this release cycle, but in case possible even better

[2018-03-24 15:03] fabiocos commented on #22721
Extending the addOnTest configuration from 100 to 10000 events and running it twice:

first run:

Begin processing the 7648th record. Run 1, Event 7648, LumiSection 1 on stream 2 at 23-Mar-2018 12:58:02.844 CET
%MSG-e MissingProduct:  HybridClusterProducer:cleanedHybridSuperClusters  23-Mar-2018 12:58:02 CET Run: 1 Event: 7648
could not get a handle on the EcalRecHitCollection!
%MSG
%MSG-e Missing

[2018-03-25 10:27] fabiocos opened #22735 "CMSSW_10_0_X wf 1020 fails in step5"
The new wf 1020, introduced to monitor the AlCa PCC workflow, runs smoothly in CMSSW_10_1_X, but its backport into 10_0_X fails in step5:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_10_0_X_2018-03-25-0000/pyRelValMatrixLogs/run/1020.0_AlCaLumiPixels2016H+AlCaLumiPixels2016H+TIER0EXPLP+ALCAEXPLP+ALCAHARVLP+TIER0PROMPTLP/step5_AlCaLumiPixels2016H+AlCaLumiPixels2016H+TIER0EX

[2018-03-25 10:27] cmsbuild commented on #22735
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-25 10:28] fabiocos commented on #22735
assign alca

[2018-03-25 10:28] cmsbuild commented on #22735
New categories assigned: alca

@lpernie,@franzoni,@arunhep,@ghellwig,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-25 10:30] fabiocos commented on #22735
@cerminar @franzoni @klute FYI

A first comparison of the differences between the backport and the master version did not show any obvious difference, apart for the way the sequence is defined (but the needed modules should be at the end all included anyway)

diff --git a/Calibration/LumiAlCaRecoProducers/python/ALCARECORawPCCProducer_cff.py b/Calibration/LumiAlCaRecoProducers/python/ALCARECORawPC

[2018-03-25 15:35] fabiocos commented on #22735
The problem appears to be linked to the multithreading functionality of the framework as present in 10_0_X wrt 10_1_X. In single threaded mode it completes finding the product also in 10_0_X.

[2018-03-25 17:39] Dr15Jones commented on #22735
Can you run the job with the Tracer service on?

[2018-03-25 18:18] Dr15Jones commented on #22735
Try changing
https://github.com/cms-sw/cmssw/blob/3bf90a20a5536ddf2971dc6a330aa4c0c5aebfc4/Calibration/LumiAlCaRecoProducers/plugins/RawPCCProducer.cc#L89

Replacing edm::InLumi with edm::Transition::EndLuminosityBlock

[2018-03-26 07:05] fabiocos commented on #22735
@Dr15Jones I did already yesterday, and all the modules looked to run in the flow (verified also with some printout), here is the part before the exception

++++++++ finished: processing event for module: stream = 3 label = 'ALCARECOoutput_step' id = 5
++++++ finished: processing path 'ALCARECOoutput_step' : stream = 3
++++++++ finished: processing event for module: stream = 0 label = 'ALCARECOout

[2018-03-26 07:16] fabiocos commented on #22735
@Dr15Jones your suggestion does not compile:

/build/fabiocos/100X/test/fix/new/CMSSW_10_0_X_2018-03-25-2300/src/Calibration/LumiAlCaRecoProducers/plugins/RawPCCProducer.cc: In constructor 'RawPCCProducer::RawPCCProducer(const edm::ParameterSet&)':
/build/fabiocos/100X/test/fix/new/CMSSW_10_0_X_2018-03-25-2300/src/Calibration/LumiAlCaRecoProducers/plugins/RawPCCProducer.cc:88:98: error: no matchin

[2018-03-26 07:18] fabiocos commented on #22735
As a workaround I have prepared #22736 that forced the wf 1020 in 10_0_X to run single threaded, this is not the ultimate solution but allows some tests to be done in case (and prevents a wf to be systematically broken for the time being for a known reason).

[2018-03-26 07:25] fabiocos commented on #22721
from some additional checks run during the week-end: a single-threaded run hangs (in a reproducible way) at event 1735. I have a complete dump with tracer and memory check available, here is the last piece:

++++ finished: processing event : stream = 0 run = 1 lumi = 1 event = 1734 time = 8670000001
++++ starting: source event
++++ finished: source event
Begin processing the 1735th record. Run 1,

[2018-03-26 07:48] kpedro88 opened #22737 "Build CMSSW_9_3_8"

[2018-03-26 07:48] cmsbuild commented on #22737
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-03-26 07:48] kpedro88 commented on #22737
+1

[2018-03-26 07:49] cmsbuild commented on #22737
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-03-26 07:49] cmsbuild commented on #22737
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-03-26 07:49] cmsbuild commented on #22737
The build has started for slc6_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1530/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-26 07:51] cmsbuild commented on #22737
The build has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1531/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-26 09:04] fabiocos opened #22738 "Build CMSSW_10_0_5"

[2018-03-26 09:06] cmsbuild commented on #22738
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-26 09:08] fabiocos commented on #22738
+1

[2018-03-26 09:09] cmsbuild commented on #22738
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_0_X

[2018-03-26 09:09] cmsbuild commented on #22738
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-03-26 09:09] cmsbuild commented on #22738
The build has started for slc6_amd64_gcc630 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1532/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-26 09:11] cmsbuild commented on #22738
The build has started for slc7_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1533/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-26 10:33] cmsbuild commented on #22737
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_8-slc7_amd64_gcc630/1531
Some tests ( r

[2018-03-26 11:39] cmsbuild commented on #22737
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_8-slc7_amd64_gcc630/1531

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-26 12:34] cmsbuild commented on #22738
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_5-slc7_amd64_gcc630/1533
Some tests (

[2018-03-26 13:36] cmsbuild commented on #22738
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_5-slc7_amd64_gcc630/1533

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-26 14:15] intrepid42 commented on #22214
@smrenna Do you have an idea about this? Or should we update and retest (and cross fingers) with Dire 2.002 once it becomes available?

[2018-03-26 14:32] cmsbuild commented on #22738
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_5-slc6_amd64_gcc630/1532
Some tests (

[2018-03-26 14:42] cmsbuild commented on #22737
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_8-slc6_amd64_gcc630/1530
Some tests ( r

[2018-03-26 14:50] kpedro88 opened #22742 "Unable to use gdb on cmsRun w/ CMSSW_10_1_ROOT612_X builds"
When I try to run `gdb` on `cmsRun` in the ROOT612 IBs:
[code]

I get the following error:
[code]

Obviously this error is not caused by my config, but seems like some python/gdb incompatibility. This problem doesn't occur in the normal 10_1_X builds. Does anyone know how to fix it?

[2018-03-26 14:50] cmsbuild commented on #22742
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-26 15:36] smuzaffar commented on #22742
@kpedro88 , your commands works for me on cmsdev15.

[2018-03-26 15:36] cmsbuild commented on #22738
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_5-slc6_amd64_gcc630/1532

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-26 15:47] kpedro88 commented on #22742
I thought it was a problem with the ROOT612 IB because it works fine in 10_1_0_pre3, but I think it's rather the recent changes in `PYTHONPATH` etc. usage for externals (which show up in all recent IBs, but not pre3). This must cause some conflict with my environment.

[2018-03-26 15:47] #22742 closed

[2018-03-26 15:51] cmsbuild commented on #22737
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_8-slc6_amd64_gcc630/1530

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-26 18:10] fabiocos commented on #22738
#22736 is ineffective, #22741 should be used instead. Abort and rebuild

[2018-03-26 18:10] fabiocos commented on #22738
abort

[2018-03-26 18:11] cmsbuild commented on #22738
Deleting CMSSW_10_0_5:

  -Release successfully deleted

  -cmssw tag CMSSW_10_0_5 successfully deleted.

 -cmsdist tag REL/CMSSW_10_0_5/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_10_0_5/slc7_amd64_gcc630 successfully deleted.

You must create a new issue to start over the build.

[2018-03-26 18:43] fabiocos opened #22747 "Build CMSSW_10_0_5"

[2018-03-26 18:46] fabiocos commented on #22747
+1

[2018-03-26 18:47] cmsbuild commented on #22747
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_0_X

[2018-03-26 18:48] cmsbuild commented on #22747
The build has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1535/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-26 20:39] kpedro88 commented on #22737
upload all

[2018-03-26 20:39] cmsbuild commented on #22737
Queing Jenkins upload for slc6_amd64_gcc630

[2018-03-26 20:39] cmsbuild commented on #22737
Queing Jenkins upload for slc7_amd64_gcc630

[2018-03-26 20:40] cmsbuild commented on #22737
The upload has started for slc6_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1019/console

[2018-03-26 20:40] cmsbuild commented on #22737
The upload has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1020/console

[2018-03-26 20:41] cmsbuild commented on #22737
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_8-slc7_amd64_gcc630/1020
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-26 20:41] cmsbuild commented on #22737
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-26 20:44] cmsbuild commented on #22737
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_8-slc6_amd64_gcc630/1019
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-26 20:45] cmsbuild commented on #22737
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-26 20:45] kpedro88 commented on #22737
release-notes since CMSSW_9_3_7

[2018-03-26 20:46] cmsbuild commented on #22737
Generating release notes since CMSSW_9_3_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-26 20:46] cmsbuild commented on #22737
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_8 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_8

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2018-03-26 20:47] cmsbuild commented on #22737
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_8

[2018-03-26 21:40] cmsbuild commented on #22747
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_5-slc6_amd64_gcc630/1534
Some tests (

[2018-03-26 22:41] cmsbuild commented on #22747
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_5-slc6_amd64_gcc630/1534

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-26 23:06] cmsbuild commented on #22747
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_5-slc7_amd64_gcc630/1535

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-27 06:40] fabiocos commented on #22747
upload all

[2018-03-27 06:40] cmsbuild commented on #22747
Queing Jenkins upload for slc6_amd64_gcc630

[2018-03-27 06:40] cmsbuild commented on #22747
Queing Jenkins upload for slc7_amd64_gcc630

[2018-03-27 06:43] cmsbuild commented on #22747
The upload has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1021/console

[2018-03-27 06:43] cmsbuild commented on #22747
The upload has started for slc7_amd64_gcc630 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1022/console

[2018-03-27 06:45] cmsbuild commented on #22747
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_5-slc7_amd64_gcc630/1022
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-27 06:45] cmsbuild commented on #22747
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_5-slc6_amd64_gcc630/1021
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-27 06:45] cmsbuild commented on #22747
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-27 06:45] cmsbuild commented on #22747
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-27 06:51] fabiocos commented on #22747
release-notes

[2018-03-27 06:51] cmsbuild commented on #22747
Generating release notes since CMSSW_10_0_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-27 06:51] cmsbuild commented on #22747
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_0_5 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_0_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_5

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-03-27 06:52] cmsbuild commented on #22747
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_5

[2018-03-27 07:01] fabiocos commented on #22735
The workaround has been updated with #22741 as the IB overwrites the naive protection added

[2018-03-27 07:02] fabiocos commented on #22735
This is now operational in CMSSW_10_0_5 (see https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_5 )

[2018-03-27 08:13] perrotta commented on #20950
Following the discussion that we had on PR #22458, the following additional issues were found for the code in the package. They are listed here together with the other ones  (I am also updating the overall description of this issue), so that they can be fixed all at once when finally the code will get cleaned:

- Memory issues must be addressed for PixelCPEClusterRepair/SiPixelTemplate2D (see comm

[2018-03-27 08:20] deguio commented on #22706
Hi @slava77
as of last night, the message are gone. I've checked run 312851 and I confirm that.
the magic happened at p5 where the digi data frame length for the uMNQIE channels was set to 3, consistently with the length for the other HF channels (calib+physics).

this is the configuration we plan to keep and this is a good solution for now.
we want anyway to improve the way the unpacker handles s

[2018-03-27 09:04] cerminar commented on #22735
@Dr15Jones is there any hint on the root cause of the problem?
Thanks.

[2018-03-27 11:37] fabiocos opened #22754 "pragma one vs include guards statement"
In the review of #22409 a discussion has started about the possible use of "#pragma once" statements instead of the usual include guards that are the default so far in CMSSW, see https://github.com/cms-sw/cmssw/pull/22409/files#diff-b06786b3e691cb0800930a92ec62ca64 .

The integration of the PR is waiting for a discussion and decision about this choice, although the content of the PR itself does no

[2018-03-27 11:37] cmsbuild commented on #22754
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-27 11:43] fabiocos commented on #22754
assign core

[2018-03-27 11:44] cmsbuild commented on #22754
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-27 11:46] fabiocos commented on #22754
@VinInn @fwyzard @Dr15Jones @davidlange6 @slava77 I think it would be useful to have a discussion about this at next Core software meeting, not only to move forward with #22409 (that is not crucially dependent on this choice I believe) but as a general strategy to follow for the future

[2018-03-27 11:55] fwyzard commented on #22754
#22409 is three weeks old, fully singed since two weeks, and at no point it was stated that a discussion about `#pragma once` was needed before it could be integrated.

[2018-03-27 12:01] VinInn commented on #22754
My understanding is that the pragma is irrelevant as the compiler is able to identify full file guards and optimize following access

Sent from my iPhone

[2018-03-27 17:10] fabiocos opened #22759 "GEM geometry needs to be fixed"
The review of #22619 pointed out a problem with the 2018 GEM geometry. This has been fixed in the builder from DD #22730 but the corresponding payload in the DB should be fixed as well.

[2018-03-27 17:10] cmsbuild commented on #22759
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-27 17:10] fabiocos commented on #22759
assign geometry,alca

[2018-03-27 17:10] cmsbuild commented on #22759
New categories assigned: geometry,alca

@Dr15Jones,@mdhildreth,@lpernie,@franzoni,@arunhep,@ghellwig,@ianna,@cerminar,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-27 17:13] fabiocos commented on #22759
@ianna @jshlee there should be a follow up of https://github.com/cms-sw/cmssw/pull/22619#issuecomment-375735180

[2018-03-27 17:16] jshlee commented on #22759
yes, it's in the works. Currently in discussion with alcadb.

[2018-03-27 18:57] Dr15Jones commented on #22735
In CMSSW_10_0 (and before) there is a bug in how the code handles the case where a module asks for a Lumi product in begin Lumi (or during event processing) but the data product is not created until end Lumi. In those cases, one is supposed to get a 'product not found' until the endLumi. In CMSSW_10_0 this was done by setting the product as 'missing' and then resetting the Lumi at end Lumi to allo

[2018-03-27 19:39] pmaksim1 commented on #20950
@perrotta  @slava77
Thanks for the summary: duly noted.
Paul and Morris have a proposal for about x4 memory compression.
Morris and I are slated to discuss the other miscellaneous code cleanup later in the week.

BTW, the comment "I have no idea what this code is doing, and what it is doing here!" is from me.  I wrote the original version of that code, but since then somebody else put these lines

[2018-03-27 20:08] boudoul commented on #20950
Hi @pmaksim1 , Could it be coming from this  PR #3261  ?
https://github.com/cms-sw/cmssw/pull/3261/files#diff-f9cb62bd746ece1591e851b06f9e14b0R144

[2018-03-27 21:22] perrotta commented on #20950
Petar Maksimovic <notifications@github.com> ha scritto:

Hi Petar.

If you open the file in github
https://github.com/cms-sw/cmssw/blob/master/RecoLocalTracker/SiPixelRecHits/src/PixelCPEBase.cc
you have two buttons on the right: with "Blame" you can see line by
line which commit introduced or modified it last; "History" tells you
the whole history in terms of commits of the file:

[2018-03-27 22:19] pmaksim1 commented on #20950
@perrotta @boudoul
Excellent, thanks!  Time for some archaeology!

[2018-03-27 22:29] pmaksim1 commented on #20950
I think the code is from Vincenzo.  I'll ask him in an email and then add comments explaining what's going on.  (What confused me was the mention of strips...)

[2018-03-28 07:57] fabiocos opened #22770 "Build CMSSW_10_1_0"

[2018-03-28 07:59] cmsbuild commented on #22770
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-28 08:00] fabiocos commented on #22770
+1

[2018-03-28 08:00] cmsbuild commented on #22770
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-03-28 08:00] cmsbuild commented on #22770
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2018-03-28 08:02] fabiocos commented on #22770
abort

[2018-03-28 08:03] cmsbuild commented on #22770
The build has started for slc6_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1536/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 08:03] cmsbuild commented on #22770
The build has started for slc6_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1537/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 08:03] cmsbuild commented on #22770
The build has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1538/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 08:03] cmsbuild commented on #22770
The build has started for slc7_amd64_gcc700 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1539/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 08:05] cmsbuild commented on #22770
Deleting CMSSW_10_1_0:

  -Release successfully deleted

  -cmssw tag CMSSW_10_1_0 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_1_0/slc6_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_1_0/slc7_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_1_0/slc7_amd64_gcc700. Probaly it ha

[2018-03-28 08:05] cmsbuild commented on #22770
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc6_amd64_gcc630/1536

[2018-03-28 08:34] fabiocos commented on #22770
Aborted to integrate the fix #22749 for HCAL, discussed at the ORP. It is not an absolute show-stopper, but as it was scrutinized and approved, and it is a fix for an incorrect behaviour of the HCAL reconstruction, it is better to have it.

[2018-03-28 08:40] fabiocos opened #22773 "Build CMSSW_10_1_0"

[2018-03-28 08:42] cmsbuild commented on #22773
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-28 08:47] fabiocos commented on #22773
build cmssw-tool-conf

[2018-03-28 08:47] cmsbuild commented on #22773
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc700, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-03-28 08:48] cmsbuild commented on #22773
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1540/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 08:48] cmsbuild commented on #22773
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1541/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 08:48] cmsbuild commented on #22773
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1543/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 08:48] cmsbuild commented on #22773
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1542/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 09:10] cmsbuild commented on #22773
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1544/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 11:47] cmsbuild commented on #22773
There was an error building cmssw-tool-conf for slc7_aarch64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_aarch64_gcc700/1544

[2018-03-28 12:27] cmsbuild commented on #22773
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_amd64_gcc630/1542

[2018-03-28 12:35] cmsbuild commented on #22773
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc6_amd64_gcc630/1540

[2018-03-28 12:41] cmsbuild commented on #22773
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc6_amd64_gcc700/1541

[2018-03-28 14:02] Dr15Jones commented on #22735
#22778 fixes the problem in CMSSW_10_0_X (there is no need for a fix for 10_1).

[2018-03-28 14:06] cmsbuild commented on #22773
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_amd64_gcc700/1543

[2018-03-28 14:33] fabiocos commented on #22773
+1

[2018-03-28 14:33] cmsbuild commented on #22773
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-03-28 14:34] cmsbuild commented on #22773
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2018-03-28 14:34] cmsbuild commented on #22773
The build has started for slc6_amd64_gcc630 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1545/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 14:37] cmsbuild commented on #22773
The build has started for slc6_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1546/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 14:38] cmsbuild commented on #22773
The build has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1547/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 14:38] cmsbuild commented on #22773
The build has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1548/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-28 16:23] cmsbuild commented on #22738
The cleanup has started for slc6_amd64_gcc630

[2018-03-28 16:23] cmsbuild commented on #22738
The cleanup has started for slc7_amd64_gcc630

[2018-03-28 16:24] #22738 closed

[2018-03-28 16:24] cmsbuild commented on #22738
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_5-slc6_amd64_gcc630/925

[2018-03-28 16:24] cmsbuild commented on #22738
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_5-slc7_amd64_gcc630/926

[2018-03-28 18:17] cmsbuild commented on #22773
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_amd64_gcc630/1547
Some tests (

[2018-03-28 18:19] cmsbuild commented on #22773
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc6_amd64_gcc700/1546
Some tests (

[2018-03-28 18:53] cmsbuild commented on #22737
The cleanup has started for slc6_amd64_gcc630

[2018-03-28 18:53] cmsbuild commented on #22737
The cleanup has started for slc7_amd64_gcc630

[2018-03-28 18:53] #22737 closed

[2018-03-28 18:54] cmsbuild commented on #22737
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_8-slc7_amd64_gcc630/928

[2018-03-28 19:00] cmsbuild commented on #22737
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_8-slc6_amd64_gcc630/927

[2018-03-28 19:27] cmsbuild commented on #22773
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_amd64_gcc630/1547

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-03-28 19:29] cmsbuild commented on #22773
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc6_amd64_gcc700/1546

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-03-28 20:01] cmsbuild commented on #22773
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc6_amd64_gcc630/1545
Some tests (

[2018-03-28 20:01] cmsbuild commented on #22773
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_amd64_gcc700/1548
Some tests (

[2018-03-28 21:13] cmsbuild commented on #22773
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc6_amd64_gcc630/1545

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-03-28 21:40] cmsbuild commented on #22773
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_amd64_gcc700/1548

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-03-29 04:53] cmsbuild commented on #22747
The cleanup has started for slc6_amd64_gcc630

[2018-03-29 04:53] cmsbuild commented on #22747
The cleanup has started for slc7_amd64_gcc630

[2018-03-29 04:53] #22747 closed

[2018-03-29 04:55] cmsbuild commented on #22747
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_5-slc6_amd64_gcc630/929

[2018-03-29 05:00] cmsbuild commented on #22747
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_5-slc7_amd64_gcc630/930

[2018-03-29 06:52] fabiocos commented on #22773
upload all

[2018-03-29 06:52] cmsbuild commented on #22773
Queing Jenkins upload for slc6_amd64_gcc630

[2018-03-29 06:52] cmsbuild commented on #22773
Queing Jenkins upload for slc6_amd64_gcc700

[2018-03-29 06:52] cmsbuild commented on #22773
Queing Jenkins upload for slc7_amd64_gcc630

[2018-03-29 06:52] cmsbuild commented on #22773
Queing Jenkins upload for slc7_amd64_gcc700

[2018-03-29 06:55] cmsbuild commented on #22773
The upload has started for slc6_amd64_gcc630 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1023/console

[2018-03-29 06:55] cmsbuild commented on #22773
The upload has started for slc6_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1024/console

[2018-03-29 06:55] cmsbuild commented on #22773
The upload has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1026/console

[2018-03-29 06:56] cmsbuild commented on #22773
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0-slc7_amd64_gcc630/1025
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-29 06:56] cmsbuild commented on #22773
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-29 06:56] cmsbuild commented on #22773
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0-slc6_amd64_gcc700/1024
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-29 06:56] cmsbuild commented on #22773
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-29 06:57] cmsbuild commented on #22773
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0-slc7_amd64_gcc700/1026
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-29 06:57] cmsbuild commented on #22773
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-29 06:59] cmsbuild commented on #22773
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0-slc6_amd64_gcc630/1023
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-29 06:59] cmsbuild commented on #22773
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-29 07:04] fabiocos commented on #22773
release-notes since CMSSW_10_1_0_pre3

[2018-03-29 07:06] cmsbuild commented on #22773
Generating release notes since CMSSW_10_1_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-29 07:06] cmsbuild commented on #22773
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_0 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_0

Cheers,
cms-bot

You c

[2018-03-29 07:06] cmsbuild commented on #22773
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0

[2018-03-29 07:40] cmsbuild commented on #22773
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1549/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-29 11:43] VinInn commented on #22754
let's try not to replicate
https://github.com/RobotLocomotion/drake/issues/2104

[2018-03-29 12:12] fwyzard commented on #22754
I honestly don't care what choice we pick, as long as we do take a decision
and apply it globally.

[2018-03-29 12:26] davidlange6 commented on #22754
Cmssw is basically in such a state now...no?
Thus my question.

On 29 Mar 2018, at 14:13, Andrea Bocci <notifications@github.com<mailto:notifications@github.com>> wrote:

I honestly don't care what choice we pick, as long as we do take a decision
and apply it globally.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cm

[2018-03-29 12:33] fwyzard commented on #22754
@davidlange6 ahem, sorry, but what is your question ?

[2018-03-29 12:41] fabiocos commented on #22721
The validation report at the PPD meeting of March 29 https://indico.cern.ch/event/718013/contributions/2950677/attachments/1625377/2588128/RelVal10_1_0_pre3_Mar29.pdf confirms that there is a ~ 10% rate of job failure for fastsim in the 10_1_0_pre3 relval production, possibly increased wrt previous releases.

[2018-03-29 12:51] slava77 commented on #22754
On 3/29/18 4:43 AM, Vincenzo Innocente wrote:

https://google.github.io/styleguide/cppguide.html#The__define_Guard
google style is still ifndef/define and for the Widnows code it
explicitly forbids using pragma once.

Chrome
https://chromium.googlesource.com/chromium/src/+/master/styleguide/c++/c++.md

Use standard #include guards in all header files (see the Google style
guide sections on these f

[2018-03-29 13:03] cmsbuild commented on #22773
There was an error building cmssw-tool-conf for slc7_aarch64_gcc700
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_aarch64_gcc700/1549

[2018-03-29 13:13] cmsbuild commented on #22773
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1550/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-29 14:06] Dr15Jones opened #22797 "SiPixelTemplate accesses memory after it is deleted"
The address santizer (ASAN) found the following:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_1_ASAN_X_2018-03-23-2300/pyRelValMatrixLogs/run/5.2_SingleMuPt10+SingleMuPt10FS+HARVESTFS/step1_SingleMuPt10+SingleMuPt10FS+HARVESTFS.log

which is
[code]

The problem is this line:
https://github.com/cms-sw/cmssw/blob/master/RecoLocalTracker/SiPixelRecHits/src/SiPixelTemplate.c

[2018-03-29 14:06] Dr15Jones commented on #22797
assign reconstruction

[2018-03-29 14:06] cmsbuild commented on #22797
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-29 14:06] cmsbuild commented on #22797
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-29 14:28] gouskos commented on #21314
Dear @davidlange6 , @makortel , all;

Did you have the chance to check the details of including for MXNET in CMSSW?
The tagger is approved within Jet/MET and the BTV groups and we would like to include it CMSSW.
Do you have any suggestions on how to proceed?

Thank you!

[2018-03-29 14:32] slava77 commented on #22797
@pmaksim1 @veszpv @boudoul @tsusa
please check this and clarify if you can follow up on this problem soon.
Thank you.

[2018-03-29 14:36] perrotta commented on #22797
Thank you @Dr15Jones

This was noticed already, and a fix was proposed by @mrodozov with #22681

Since there is another, much larger, pull request acting on the same part of code, (more or less) the same fix was applied by @pmaksim1 in #22458 , see https://github.com/cms-sw/cmssw/pull/22458/files#diff-91d1f43735289f0f22a1e31c0a14254aR148 and lines nearby

The plan is to try to merge #22458 in 10_2

[2018-03-29 15:04] slava77 commented on #22797
On 3/29/18 7:36 AM, perrotta wrote:

Ah, it actually is the same issue.
Since the other PR was made by the core group and this github issue
didn't mention it, I thought that this github issue is for a different
problem.

[2018-03-29 16:00] cmsbuild commented on #22773
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_aarch64_gcc700/1550

[2018-03-29 16:04] cmsbuild commented on #22773
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1551/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-29 17:03] davidlange6 commented on #22754
indeed was long ago- and looks like I instead phrased it as a statement:

 "seems one wants #pragma once or include guards and not both.To start a migration towards #pragma might be best done with some discussion on the topic. [looks like its easy to find some interesting ones on google]"

ie, don't have two solutions. If the new thing is better lets agree that it is and move with a migration plan

[2018-03-29 17:05] davidlange6 commented on #21314
I didn't yet - I'll try to get that back on the todo list

[2018-03-29 17:15] fwyzard commented on #22754
Sound good to me.

I'd let somebody else decide if there's anything to gain by moving to
'#pragma once' .

Then, I can volunteer some time to migrate packages to it - or remove it
and improve the '#ifndef' - if the changes can be merged bypassing the
usual signatures.

.A

[2018-03-29 18:54] cmsbuild commented on #22773
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0-slc7_aarch64_gcc700/1551
Some test

[2018-03-29 18:54] cmsbuild commented on #22773
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-03-29 18:57] cmsbuild commented on #22773
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1027/console

[2018-03-29 18:57] cmsbuild commented on #22773
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0-slc7_aarch64_gcc700/1027
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-29 23:10] gouskos commented on #21314
thank you @davidlange6

[2018-03-30 06:08] cmsbuild commented on #22770
The cleanup has started for slc6_amd64_gcc630

[2018-03-30 06:08] #22770 closed

[2018-03-30 06:17] cmsbuild commented on #22770
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc6_amd64_gcc630/931

[2018-03-30 08:35] VinInn commented on #22754
I suspect this: https://sft.its.cern.ch/jira/browse/ROOT-7282 will close the issue for a "long" while

[2018-03-30 08:43] davidlange6 commented on #22754
Seems so...

[2018-03-30 08:49] fwyzard commented on #22754
What is an inline header ?

.A

[2018-03-30 09:05] VinInn commented on #22754
in reality
[code]
does not seem to produce any warning/error
of course the guards are still there...

[2018-03-30 10:16] VinInn commented on #22754
guards removed: still no warning/error from root-dict generation

[2018-03-30 10:25] VinInn commented on #22754
w/o pragma once  I do get compiler errors such as
[code]

[2018-03-30 10:28] davidlange6 commented on #22754
Interesting.. anyway, maybe its worth a discussion of if this change is desirable and if so to sort out the root issue with their experts

[2018-03-30 10:29] VinInn commented on #22754
I even did
[code]
and the only errors/warnings I get are about CMS_THREAD_SAFE
[code]

[2018-03-30 15:33] fabiocos commented on #22735
@Dr15Jones thanks Chris, I merge the fix. We need to understand whether AlCA experts want to try the PCL with this fix or move to 10_1_X at this point.

[2018-03-31 05:08] cmsbuild commented on #22773
The cleanup has started for slc7_aarch64_gcc700

[2018-03-31 05:08] cmsbuild commented on #22773
The cleanup has started for slc6_amd64_gcc630

[2018-03-31 05:08] cmsbuild commented on #22773
The cleanup has started for slc6_amd64_gcc700

[2018-03-31 05:08] cmsbuild commented on #22773
The cleanup has started for slc7_amd64_gcc630

[2018-03-31 05:08] cmsbuild commented on #22773
The cleanup has started for slc7_amd64_gcc700

[2018-03-31 05:08] #22773 closed

[2018-03-31 05:09] cmsbuild commented on #22773
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc7_aarch64_gcc700/934

[2018-03-31 05:15] cmsbuild commented on #22773
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc6_amd64_gcc630/932

[2018-03-31 05:15] cmsbuild commented on #22773
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc7_amd64_gcc630/935

[2018-03-31 05:15] cmsbuild commented on #22773
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc6_amd64_gcc630/937

[2018-03-31 05:15] cmsbuild commented on #22773
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc6_amd64_gcc700/933

[2018-03-31 05:15] cmsbuild commented on #22773
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc7_amd64_gcc700/936

[2018-03-31 05:24] cmsbuild commented on #22773
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc7_amd64_gcc630/939

[2018-03-31 05:25] cmsbuild commented on #22773
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0-slc6_amd64_gcc700/938

[2018-04-01 20:29] kpedro88 commented on #22721
Might be helpful to valgrind it.

[2018-04-03 07:07] fabiocos commented on #22754
@Dr15Jones @VinInn @davidlange6 @fwyzard @slava77 I asked Chris to have a discussion about this at the first Core Software meeting so as to come to an agreement about how to move forward

[2018-04-03 12:52] fabiocos commented on #22721
@ssekmen @civanch do you have any update on this issue?

[2018-04-03 14:25] #21465 closed

[2018-04-03 14:26] #22554 closed

[2018-04-03 14:27] kpedro88 commented on #19666
@sandrofonseca how is it possible that this is still not done?

[2018-04-03 14:36] sandrofonseca commented on #19666
For CTPPS FastSimulation packages was done in this PR below:

https://github.com/cms-sw/cms-bot/pull/918

Concerning DB CT-PPS category, I suggest that you should contact Helena:
@malbouis

Dr. Sandro Fonseca de Souza
__________________________________
Universidade do Estado do Rio de Janeiro - UERJ/IF/DFNAE
524 São Francisco Xavier Street,3rd Floor,Office 3016A, Maracanã, Rio de
Janeiro,
Brazil.

[2018-04-03 14:56] fabiocos commented on #22695
the problem looks to be solved by #22719 as far as crashes are concerned. I assume this PR can be closed.

[2018-04-03 14:56] #22695 closed

[2018-04-03 17:15] fabiocos commented on #22754
@Dr15Jones @VinInn @davidlange6 @fwyzard @slava77 after the discussion at the Core Software meeting today today there was consensus to keep the use of "#pragma once" on hold for the time being, resuming the issue for the code changes planned for the Long Shutdown.

@fwyzard could you please remove the statement from #22409 so as we move forward with its integration without further delays? The PR h

[2018-04-03 17:49] malbouis commented on #19666
Hi,

Can you please point me to instructions on how to do it?

Thanks.

On Tue, Apr 3, 2018, 11:37 Sandro Fonseca de Souza <notifications@github.com>
wrote:

[2018-04-03 18:43] kpedro88 commented on #19666
Here are the instructions given by the bot:
[code]

[2018-04-03 19:42] malbouis commented on #19666
Doesn't really look like instructions to me. 🤔😜
Thanks anyways.

On Tue, Apr 3, 2018, 15:44 Kevin Pedro <notifications@github.com> wrote:

[2018-04-04 07:55] makortel commented on #19604
Adding @hajohajo

[2018-04-04 13:32] Dr15Jones commented on #22797
duplicate

[2018-04-04 13:32] #22797 closed

[2018-04-04 14:58] kpedro88 commented on #22710
assign upgrade

[2018-04-04 14:59] cmsbuild commented on #22710
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-04 18:19] Dr15Jones opened #22846 "Better handling of mergeable Run products for 'split' jobs"
Lets say one has a ROOT file which contains a mergeable Run product which was formed by a job that saw LuminosityBlocks 1-10. Subsequently, we have two seperate jobs, each of which only process a fraction of the LuminosityBlocks in the original file. Say job 1 processes 1-5 while job two processes 6-10. If the files from these two jobs are then merged, the original mergeable Run product will be me

[2018-04-04 18:19] cmsbuild commented on #22846
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-04 18:19] Dr15Jones commented on #22846
assign core

[2018-04-04 18:19] cmsbuild commented on #22846
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-04 18:42] makortel commented on #22712
@wddgit I spotted the same pattern in many other classes within the MixingModule plugins, e.g.
https://github.com/cms-sw/cmssw/blob/285a1d8ec5a00469793b03dca3bc661e4af4a5ad/SimCalorimetry/CastorSim/plugins/CastorDigiProducer.cc#L166-L178
https://github.com/cms-sw/cmssw/blob/285a1d8ec5a00469793b03dca3bc661e4af4a5ad/SimCalorimetry/EcalSimProducers/src/EcalDigiProducer.cc#L631-L643
https://github.com

[2018-04-04 18:58] Dr15Jones commented on #22712
An instance of a stream module is always run in the same stream.

[2018-04-04 19:01] Dr15Jones opened #22847 "Call TBranch::BackFill"
When dealing with output files which have used fast copy, we should call `TBranch::BackFill` instead of `TBranch::Fill`. The relevant change in CMSSW is

https://github.com/cms-sw/cmssw/blob/master/IOPool/Output/src/RootOutputTree.cc#L286

This has to wait until we are using a version of ROOT which contains this new interface.

[2018-04-04 19:01] Dr15Jones commented on #22847
assign core

[2018-04-04 19:01] cmsbuild commented on #22847
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-04 19:01] cmsbuild commented on #22847
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-04 19:02] Dr15Jones commented on #22847
@pcanal FYI

[2018-04-04 20:55] wddgit commented on #22712
Looks like I created this pattern back in 2014. I did not remember
that.

After staring at CastorDigiProducer more, I cannot understand or remember
why I used a vector to cache the pointers in. If I understand this correctly,
the MixingModule is a stream module and each stream instance has its
own CastorDigiProducer so there is no reason for a vector with an entry
per stream. (And if there had bee

[2018-04-04 21:25] wddgit commented on #22712
Also note EcalMixingModuleValidation is a one type module. For that
type of module the vector is needed and correct.

[2018-04-04 21:34] wddgit commented on #22712
I found the reason it was coded that way. Back in 2014 the
MixingModule was a one module. In 2015 it was changed to
be a stream type module. Now I feel better about it ...

[2018-04-05 07:01] makortel commented on #22712
@wddgit Thanks for reminding of the history. Should we then migrate everything else than `EcalMixingModuleValidation` to the same caching pattern as in `PileUp`?

[2018-04-05 07:56] fabiocos commented on #22754
@fwyzard unfortunately this overlapped with several other issues, and my comment was not submitted earlier, sorry for the delay

As discussed at the ORP, I keep this issue open for future memory, as we agreed to possibly come back to this point for LS2.

[2018-04-05 13:58] fabiocos commented on #21769
@Dr15Jones @dan131riley the problem has been very little visible in the IBs in recent weeks, but it has appeared in the RelVals as reported by @fabozzi

https://cmsweb.cern.ch/couchdb/workloadsummary/_design/WorkloadSummary/_show/histogramByWorkflow/zhenhu_RVCMSSW_10_1_0_pre3QCD_Pt_80_120_13_180314_215918_8583

and appears also in the T0 replay in a few runs

https://hypernews.cern.ch/HyperNews/CM

[2018-04-05 14:04] wddgit commented on #22712
That sounds like the best course to me. I see that Dan Riley did that for the PileUp class back in 2015.

I don't feel strongly about this though. If you or Chris advocate removing the caching entirely I would be happy with that also. It might be worth testing that we do not slow it down significantly if we remove the caching.

Matti, were you going to make this change? @Dr15Jones If you want me t

[2018-04-05 14:08] Dr15Jones commented on #21769
@fabiocos this morning I just happen to have been working on the change to downgrade the  following exception to be an INFO message.
-> "Error 22 in qags.c at 563 : integral is divergent, or slowly convergent"

The other ROOT error message triggering an exception was already downgraded to an INFO message in CMSSW_10_1_0.

[2018-04-05 14:15] Dr15Jones commented on #21769
#22859 covers the case for the new ROOT error.

[2018-04-05 15:10] makortel commented on #22712
@wddgit I talked briefly with @Dr15Jones and we felt as well to keep the caching (without strong feelings). I can take care of it at some point in the near future.

[2018-04-05 16:33] fabiocos opened #22865 "Features needed for CMSSW_10_1_1"
The validation of CMSSW_10_1_0 is ongoing, we already know that we need to back-port some fixes and some last minute planned additions. The target is a CMSSW_10_1_1 containing features already deployed and to be validated in 10_2_0_pre1 (the build and validation of these two releases will have to move unfortunately in parallel).

(Updated on April 7 23:00)

Here is the list of the PRs already back

[2018-04-05 16:33] cmsbuild commented on #22865
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-05 16:42] Dr15Jones commented on #22865
@fabiocos #22860 is needed to avoid the exception seen in AlcaBeamMonitor

[2018-04-05 16:47] fabiocos commented on #22865
@popovvp @fabferro  I understand that, besides @22858, for CTPPS we need also the backport of #22678 could you please provide it ?

[2018-04-05 16:48] fabiocos commented on #21769
@Dr15Jones thanks, looking into it

[2018-04-05 17:12] fabferro commented on #22865
@fabiocos: yes we are going to open the backport of #22678 asap.

[2018-04-05 17:26] lpernie commented on #22865
From Alca side we need:
#22834  (2018 GT change)
#22857  (sunanda alcareco fix)
#22854  (SiPixelQuality memry cost mitigation)
#22858 and the backport of #22678 (ctpps fixes)
#22831 , #22832  (fix in O2O)
@ggovi  , @arunhep you can cross-check this list.

[2018-04-05 18:02] fabferro commented on #22865
I've opened PR #22866 as a backport of PR #22678
@fabiocos @popovvp

[2018-04-05 20:08] arunhep commented on #22865
adding to what @lpernie already mentioned :
https://github.com/cms-sw/cmssw/pull/22870 (for Lumi PCC PCL workflow)
and we are expecting a PR tomorrow which is needed to deploy new LHCInfo O2O
we will mention it here once it will be opened.

[2018-04-06 04:39] Martin-Grunewald commented on #22865
For TSG we request:

10_2_X/10_2_0_pre1
  #22863 (bug fix in EgammaHLTGsfTrackVarProducer)

10_1_X/10_1_1
  #22864 (bug fix in EgammaHLTGsfTrackVarProducer - backport)
  #22824 (backport for HLT menu migration to 10_1 template - already in 10_2_X)

[2018-04-06 11:15] makortel commented on #22712
The cleanup is in #22874.

[2018-04-06 13:31] fabiocos opened #22877 "Build CMSSW_9_4_5"
TAG_COMMIT: 05510c8ef8a774d7f7c23c5c599fa55b6cce0c9d
CMSDIST_COMMIT: a87667ab7e640453ef390bbe4f43fb78c8148312
ARCHITECTURE:slc6_amd64_gcc630,slc7_amd64_gcc630

[2018-04-06 13:31] cmsbuild commented on #22877
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-06 13:41] cmsbuild commented on #22877
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-06 13:43] fabiocos commented on #22877
The setup of this build is exactly the input used to build for CMSSW_9_4_5_cand1 , meant to have a production version clone of that

[2018-04-06 13:44] fabiocos commented on #22877
+1

[2018-04-06 13:44] cmsbuild commented on #22877
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-04-06 13:44] cmsbuild commented on #22877
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-06 13:45] cmsbuild commented on #22877
The build has started for slc6_amd64_gcc630 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1552/console
CMSDIST Branch: [a87667ab7e640453ef390bbe4f43fb78c8148312](https://github.com/cms-sw/cmsdist/commits/a87667ab7e640453ef390bbe4f43fb78c8148312), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-06 13:48] cmsbuild commented on #22877
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1553/console
CMSDIST Branch: [a87667ab7e640453ef390bbe4f43fb78c8148312](https://github.com/cms-sw/cmsdist/commits/a87667ab7e640453ef390bbe4f43fb78c8148312), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-06 13:52] smuzaffar commented on #22877
@fabiocos , release build looks good and it is building 9.4.5 identical to 9.4.5.cand1 for both archs (slc6 and slc7) using the exact same externals used by cand1.

[2018-04-06 13:55] fabiocos commented on #22877
@smuzaffar I see both moving in parallel, thanks

[2018-04-06 14:27] thomreis commented on #22865
Hi @fabiocos
For L1T we would like to have these in 10_1_1 if possible.
#22794
#22793
#22795
#22880
@rekovic please take a look as well.

[2018-04-06 16:38] cmsbuild commented on #22877
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_5-slc7_amd64_gcc630/1553
Some tests ( r

[2018-04-06 16:54] fabiocos commented on #22865
@deguio as we discussed at the operation meeting, #22849 can come at a later stage without rushing (not yet approved in master), so I will remove it from the list

[2018-04-06 18:39] cmsbuild commented on #22877
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_5-slc6_amd64_gcc630/1552
Some tests ( r

[2018-04-06 19:46] cmsbuild commented on #22877
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_5-slc6_amd64_gcc630/1552

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-06 21:03] fabiocos commented on #22877
upload all

[2018-04-06 21:03] cmsbuild commented on #22877
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-06 21:03] cmsbuild commented on #22877
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-06 21:06] cmsbuild commented on #22877
The upload has started for slc6_amd64_gcc630 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1028/console

[2018-04-06 21:06] cmsbuild commented on #22877
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1029/console

[2018-04-06 21:07] cmsbuild commented on #22877
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_5-slc7_amd64_gcc630/1029
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-06 21:07] cmsbuild commented on #22877
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-06 21:10] cmsbuild commented on #22877
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_5-slc6_amd64_gcc630/1028
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-06 21:10] cmsbuild commented on #22877
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-07 01:48] slava77 opened #22890 "migrate DeepFlavourJetTagsProducer to use LWTNN from the event setup"
Current setup of DeepFlavourJetTagsProducer in the reco+miniAOD applications includes 5 instances
- 4 of DeepCSV variety: all are using the same NN file
- 1 of DeepCMVA

One example implementation is available in https://github.com/cms-sw/cmssw/pull/21717/files#diff-ac2ab72fdd723402d59c427259ef8c2cR12

This is a follow up to the already great improvement made in #22886

@ferencek @imarches

[2018-04-07 01:48] cmsbuild commented on #22890
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-07 01:49] slava77 commented on #22890
assign reconstruction

[2018-04-07 01:49] cmsbuild commented on #22890
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-07 01:58] slava77 commented on #22890
@wddgit
since you worked on #22886 , I'm tagging you here in case you are available to advance the improvements even further

[2018-04-07 07:02] fabiocos commented on #22877
release-notes since CMSSW_9_4_4

[2018-04-07 07:03] cmsbuild commented on #22877
Generating release notes since CMSSW_9_4_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-07 07:03] cmsbuild commented on #22877
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_5 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_5

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2018-04-07 07:03] cmsbuild commented on #22877
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_5

[2018-04-07 07:25] fabiocos commented on #22865
@arunhep @lpernie Huston we have a problem...

After the integration in 10_2_X of the GT PR #22833 (whose backport #22834 should be one of the key residual ingredients for 10_1_1) we are getting several failures in tonight's IB, see for instance

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_2_X_2018-04-06-2300/pyRelValMatrixLogs/run/136.77_RunDoubleEG2016H+RunDoubleEG201

[2018-04-07 08:16] arunhep commented on #22865
@fabiocos i know the problem. i will open a PR soon.

[2018-04-07 10:00] arunhep commented on #22865
These PRs :
master : https://github.com/cms-sw/cmssw/pull/22892
10.1.X : https://github.com/cms-sw/cmssw/pull/22893
should fix the issue.

[2018-04-07 14:29] fabiocos opened #22896 "Build CMSSW_9_4_6"

[2018-04-07 14:29] cmsbuild commented on #22896
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-07 14:30] fabiocos commented on #22896
+1

[2018-04-07 14:30] cmsbuild commented on #22896
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-04-07 14:30] cmsbuild commented on #22896
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-07 14:35] cmsbuild commented on #22896
The build has started for slc6_amd64_gcc630 in cmsbuild48.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1554/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-07 14:40] cmsbuild commented on #22896
The build has started for slc7_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1555/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-07 18:14] fabiocos commented on #22865
@arunhep #22897 combines #22834 and the fix #22893 (which should be rebased)

[2018-04-07 18:44] cmsbuild commented on #22896
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_6-slc7_amd64_gcc630/1555
Some tests ( r

[2018-04-07 19:52] cmsbuild commented on #22896
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_6-slc7_amd64_gcc630/1555

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-07 20:25] cmsbuild commented on #22896
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_6-slc6_amd64_gcc630/1554
Some tests ( r

[2018-04-07 21:36] cmsbuild commented on #22896
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_6-slc6_amd64_gcc630/1554

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-08 06:06] fabiocos commented on #22896
upload all

[2018-04-08 06:06] cmsbuild commented on #22896
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-08 06:06] cmsbuild commented on #22896
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-08 06:07] cmsbuild commented on #22896
The upload has started for slc7_amd64_gcc630 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1031/console

[2018-04-08 06:07] cmsbuild commented on #22896
The upload has started for slc6_amd64_gcc630 in cmsbuild48.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1030/console

[2018-04-08 06:08] cmsbuild commented on #22896
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_6-slc7_amd64_gcc630/1031
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-08 06:08] cmsbuild commented on #22896
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-08 06:12] cmsbuild commented on #22896
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_6-slc6_amd64_gcc630/1030
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-08 06:12] cmsbuild commented on #22896
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-08 07:49] fabiocos commented on #22896
release-notes since CMSSW_9_4_5

[2018-04-08 07:49] cmsbuild commented on #22896
Generating release notes since CMSSW_9_4_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-08 07:49] cmsbuild commented on #22896
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_6 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_6

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2018-04-08 07:50] cmsbuild commented on #22896
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_6

[2018-04-08 08:10] fabiocos commented on #22865
@fabozzi the new datasets look all at CERN, so I expect we should have no failures due to missing inputs

[2018-04-08 13:35] fabiocos opened #22899 "Build CMSSW_10_2_0_pre1"

[2018-04-08 13:35] cmsbuild commented on #22899
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-08 13:37] fabiocos commented on #22899
build cmssw-tool-conf

[2018-04-08 13:37] cmsbuild commented on #22899
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc700, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-04-08 13:38] cmsbuild commented on #22899
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1556/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-08 13:39] fabiocos opened #22900 "Build CMSSW_10_1_1"

[2018-04-08 13:39] cmsbuild commented on #22900
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-08 13:40] fabiocos commented on #22900
build cmssw-tool-conf

[2018-04-08 13:40] cmsbuild commented on #22900
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc630, slc7_amd64_gcc630
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-04-08 13:42] cmsbuild commented on #22899
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1557/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-08 13:45] cmsbuild commented on #22899
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild62.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1558/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-08 13:48] cmsbuild commented on #22899
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1559/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-08 13:53] cmsbuild commented on #22900
The cmssw-tool-conf build has started for slc6_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1560/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-08 14:10] cmsbuild commented on #22900
The cmssw-tool-conf build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1561/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-08 14:15] cmsbuild commented on #22900
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_1-slc6_amd64_gcc630/1560

[2018-04-08 14:31] cmsbuild commented on #22900
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_1-slc7_amd64_gcc630/1561

[2018-04-08 14:38] cmsbuild commented on #22899
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc7_amd64_gcc700/1559

[2018-04-08 14:52] cmsbuild commented on #22899
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc7_amd64_gcc630/1558

[2018-04-08 14:56] cmsbuild commented on #22899
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc6_amd64_gcc700/1557

[2018-04-08 15:54] cmsbuild commented on #22899
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc630 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc6_amd64_gcc630/1556

[2018-04-08 21:24] fabiocos commented on #22865
At this point I will freeze the present situation, more additions may come in a following patch/release

[2018-04-08 21:25] fabiocos commented on #22900
+1

[2018-04-08 21:26] cmsbuild commented on #22900
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-04-08 21:26] cmsbuild commented on #22900
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-08 21:33] cmsbuild commented on #22900
The build has started for slc6_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1563/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-08 21:51] cmsbuild commented on #22900
The build has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1564/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-09 02:39] cmsbuild commented on #22900
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_1-slc7_amd64_gcc630/1564
Some tests (

[2018-04-09 04:30] cmsbuild commented on #22900
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_1-slc6_amd64_gcc630/1563

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-09 05:03] fabiocos opened #22909 "Build CMSSW_9_4_6_patch1"

[2018-04-09 05:03] cmsbuild commented on #22909
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-09 05:04] fabiocos commented on #22909
+1

[2018-04-09 05:04] cmsbuild commented on #22909
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_6_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-04-09 05:04] cmsbuild commented on #22909
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-09 05:05] cmsbuild commented on #22909
The build has started for slc6_amd64_gcc630 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1565/console
CMSDIST Branch: [REL/CMSSW_9_4_6/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_6/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-09 05:05] cmsbuild commented on #22909
The build has started for slc7_amd64_gcc630 in cmsbuild57.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1566/console
CMSDIST Branch: [REL/CMSSW_9_4_6/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_4_6/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-09 05:08] cmsbuild commented on #22877
The cleanup has started for slc6_amd64_gcc630

[2018-04-09 05:08] cmsbuild commented on #22877
The cleanup has started for slc7_amd64_gcc630

[2018-04-09 05:08] #22877 closed

[2018-04-09 05:13] cmsbuild commented on #22877
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_5-slc7_amd64_gcc630/941

[2018-04-09 05:15] cmsbuild commented on #22877
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_5-slc6_amd64_gcc630/940

[2018-04-09 05:28] cmsbuild commented on #22909
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_6_patch1-slc6_amd64_gcc630/1565
Some te

[2018-04-09 05:29] cmsbuild commented on #22909
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_6_patch1-slc7_amd64_gcc630/1566
Some te

[2018-04-09 06:29] cmsbuild commented on #22909
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_6_patch1-slc6_amd64_gcc630/1565

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-09 06:35] cmsbuild commented on #22909
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_6_patch1-slc7_amd64_gcc630/1566

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-09 07:12] fabiocos commented on #22899
@smuzaffar what about slc6_aarch64_gcc630?

[2018-04-09 07:49] cmsbuild commented on #22899
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1567/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-09 07:50] smuzaffar commented on #22899
@fabiocos , jenkins job crashed https://cmssdt.cern.ch/jenkins/job/build-release/1562/console which I just have restarted now. It will be available in next couple of hours.

[2018-04-09 08:55] fabiocos commented on #22900
upload all

[2018-04-09 08:56] cmsbuild commented on #22900
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-09 08:56] cmsbuild commented on #22900
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-09 08:56] fabiocos commented on #22909
upload all

[2018-04-09 08:56] fabiocos commented on #22899
+1

[2018-04-09 08:56] cmsbuild commented on #22909
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-09 08:56] cmsbuild commented on #22909
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-09 08:57] cmsbuild commented on #22899
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-04-09 08:57] cmsbuild commented on #22899
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for eac

[2018-04-09 08:57] cmsbuild commented on #22900
The upload has started for slc6_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1032/console

[2018-04-09 08:57] cmsbuild commented on #22900
The upload has started for slc7_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1033/console

[2018-04-09 08:58] cmsbuild commented on #22900
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_1-slc7_amd64_gcc630/1033
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 08:58] cmsbuild commented on #22900
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-09 08:58] cmsbuild commented on #22899
The build has started for slc6_amd64_gcc630 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1568/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-09 08:58] cmsbuild commented on #22909
The upload has started for slc6_amd64_gcc630 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1034/console

[2018-04-09 08:58] cmsbuild commented on #22899
The build has started for slc6_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1569/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-09 08:58] cmsbuild commented on #22909
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_6_patch1-slc6_amd64_gcc630/1034
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 08:59] cmsbuild commented on #22909
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-09 08:59] cmsbuild commented on #22909
The upload has started for slc7_amd64_gcc630 in cmsbuild57.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1035/console

[2018-04-09 08:59] cmsbuild commented on #22899
The build has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1571/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-09 08:59] cmsbuild commented on #22899
The build has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1570/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-09 08:59] cmsbuild commented on #22909
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_6_patch1-slc7_amd64_gcc630/1035
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 08:59] cmsbuild commented on #22909
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-09 09:01] cmsbuild commented on #22899
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc7_aarch64_gcc700/1567

[2018-04-09 09:02] cmsbuild commented on #22899
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-04-09 09:02] cmsbuild commented on #22899
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1572/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-09 09:04] cmsbuild commented on #22900
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_1-slc6_amd64_gcc630/1032
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 09:04] cmsbuild commented on #22900
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-09 09:32] fabiocos commented on #22900
release-notes

[2018-04-09 09:32] cmsbuild commented on #22900
Generating release notes since CMSSW_10_1_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-09 09:32] cmsbuild commented on #22900
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_1_1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_1_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-04-09 09:33] fabiocos commented on #22909
release notes

[2018-04-09 09:33] cmsbuild commented on #22900
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_1

[2018-04-09 09:42] fabiocos commented on #22909
release-notes

[2018-04-09 09:42] cmsbuild commented on #22909
Generating release notes since CMSSW_9_4_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-09 09:42] cmsbuild commented on #22909
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_6_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_6_patch1

Cheers,
cms-bot

You can also click <a href="m

[2018-04-09 09:42] cmsbuild commented on #22909
Generating release notes since CMSSW_9_4_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-09 09:42] cmsbuild commented on #22909
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_4_6_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_6_patch1

Cheers,
cms-bot

You can also click <a href="m

[2018-04-09 09:43] cmsbuild commented on #22909
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_6_patch1

[2018-04-09 09:44] cmsbuild commented on #22909
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_6_patch1

[2018-04-09 11:39] cmsbuild commented on #22899
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc7_amd64_gcc630/1570
Some tes

[2018-04-09 11:54] cmsbuild commented on #22899
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc7_aarch64_gcc700/1572
Some

[2018-04-09 12:42] cmsbuild commented on #22899
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc7_amd64_gcc700/1571
Some tes

[2018-04-09 13:05] cmsbuild commented on #22899
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc6_amd64_gcc700/1569
Some tes

[2018-04-09 13:55] cmsbuild commented on #22899
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc7_amd64_gcc700/1571

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-09 14:28] cmsbuild commented on #22899
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc7_aarch64_gcc700/1572

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-09 14:58] cmsbuild commented on #22899
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc6_amd64_gcc630/1568
Some tes

[2018-04-09 16:11] cmsbuild commented on #22899
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1-slc6_amd64_gcc630/1568

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-09 16:24] cmsbuild commented on #22899
The upload has started for slc6_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1037/console

[2018-04-09 16:24] cmsbuild commented on #22899
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1038/console

[2018-04-09 16:24] cmsbuild commented on #22899
The upload has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1039/console

[2018-04-09 16:25] cmsbuild commented on #22899
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre1-slc7_aarch64_gcc700/1038
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 16:25] cmsbuild commented on #22899
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre1-slc7_amd64_gcc630/1039
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 16:25] cmsbuild commented on #22899
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-09 16:25] cmsbuild commented on #22899
The upload has started for slc7_amd64_gcc700 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1040/console

[2018-04-09 16:25] cmsbuild commented on #22899
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre1-slc6_amd64_gcc700/1037
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 16:25] cmsbuild commented on #22899
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-09 16:26] cmsbuild commented on #22899
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre1-slc7_amd64_gcc700/1040
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 16:26] cmsbuild commented on #22899
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-09 16:29] cmsbuild commented on #22899
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre1-slc6_amd64_gcc630/1036
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-09 16:29] cmsbuild commented on #22899
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-09 16:53] fabiocos commented on #22899
release-notes since CMSSW_10_1_0

[2018-04-09 16:54] cmsbuild commented on #22899
Generating release notes since CMSSW_10_1_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-09 16:54] cmsbuild commented on #22899
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_2_0_pre1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_0_pre1

Cheers,
cms-bot

[2018-04-09 16:55] cmsbuild commented on #22899
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre1

[2018-04-09 19:04] wddgit commented on #22890
@Dr15Jones Chris, let me know if you want me to work on converting DeepFlavourJetTagsProducer to use EventSetup. The dependence on the number of streams was already removed by my initial PR, but Slava's suggestion to use the EventSetup sounds even better.

@slava77 I have been using step 3 of runTheMatrix test 25.0 for my profiling runs using igprof. I have been using that one for many years and d

[2018-04-09 20:14] slava77 commented on #22890
On 4/9/18 12:04 PM, W. David Dagenhart wrote:

step3 from 10824.0 is more representative for the 2018.
I expect that it has about the same set of modules as the step3 from 25.0.

When you mention no multiple uses of the function, do you really mean it
is actually called only once per job (or previously per stream)?
I expected additional calls coming from other instances of
DeepFlavourJetTagsProduc

[2018-04-09 21:27] wddgit commented on #22890
I was just mistaken. There are 5 instances in 25.0 also. It hard to see that from the performance profile and after running it again I see I made an incorrect assumption.

[2018-04-09 22:14] wddgit opened #22913 "HcalHitReconstructor Initialization"
In an igprof performance profile of test 25.0 step 3, HcalHitReconstructor shows up using roughly 0.25 seconds times the number of streams to initialize. Of the modules that scale as a function of stream, this is third highest in the profile (there are recent PRs already to improve the two higher cases).

Almost all the time is spent in the two similar lines that are calling the convolve function:

[2018-04-09 22:15] cmsbuild commented on #22913
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-10 05:54] cmsbuild commented on #22896
The cleanup has started for slc6_amd64_gcc630

[2018-04-10 05:54] cmsbuild commented on #22896
The cleanup has started for slc7_amd64_gcc630

[2018-04-10 05:54] #22896 closed

[2018-04-10 06:01] cmsbuild commented on #22896
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_6-slc7_amd64_gcc630/943

[2018-04-10 06:02] cmsbuild commented on #22896
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_6-slc6_amd64_gcc630/942

[2018-04-10 07:33] fabiocos commented on #22759
@jshlee @ianna @lpernie @arunhep do I understand correctly that the GT part of 10_2_0_pre1/10_1_1 is NOT yet solving this issue? The updates to GEM geometry noted in #22834 are only for the upgrade as far as I can see...

[2018-04-10 07:54] #22865 closed

[2018-04-10 07:55] #22735 closed

[2018-04-10 07:57] fabiocos commented on #22706
@deguio @mariadalfonso @slava77 @perrotta is this issue still needed? Is there any activity to improve  further?

[2018-04-10 08:03] smuzaffar commented on #22472
@fwyzard , in CMSSW_10_2_X IBs, we now have new build rules (cmssw-config tag V05-07-00) where we create filename.ext.o instead of filename.o

[2018-04-10 08:13] deguio commented on #22706
Hi @fabiocos
I think that this issue can be closed. the problem with the high rate of warnings is resolved and no changes to the unpacker are foreseen on the short term.

[2018-04-10 09:06] arunhep commented on #22759
@fabiocos
the fixed geometry in the PR #22834 entered into GTs for MC in 2018 and beyond.
Do we need to deploy it in earlier GTs as well?

[2018-04-10 12:00] slava77 commented on #22706
On 4/10/18 1:14 AM, Federico De Guio wrote:

The problem is still technically there, even though the most recent
source was eliminated at the hardware level.
My understanding of the discussion so far was that the logic of the
unpacker will be updated to not react to channels that should not be
unpacked.

I can propose a partial solution to reduce the print out count down to 1
per module (there are

[2018-04-10 12:17] slava77 commented on #22913
assign alca
[just because the code is in CalibCalorimetry subsystem]

@kpedro88

@wddgit please share the results of the profiler run.
I have this somewhat old test as a reference
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_10_0_X_2017-12-17-2300-orig.step3.136.831.100.pp/3478
If I'm not mistaken, this indicates that there are 5 instances of HcalPulseShapes initiali

[2018-04-10 12:17] cmsbuild commented on #22913
New categories assigned: alca

@lpernie,@franzoni,@arunhep,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-10 12:31] Dr15Jones commented on #22913
If it is a static value, I would consider writing a simple program which would write out a '.cc' file containing code with the values hard-coded. I'd then check-in both the program and the .cc file.

[2018-04-10 12:59] kpedro88 commented on #22913
This code is a mess, unfortunately. Turning it into an ESProduct makes sense conceptually, but would entail a lot of refactoring. I would prefer to avoid storing vectors of values because their provenance is inevitably lost over time. (That was the previous situation before I introduced the use of `convolve`; obviously I didn't think about the scaling with number of streams.)

We could try to solv

[2018-04-10 14:16] ianna opened #22919 "Alternative to CLHEP System of Units Usage in CMSSW"
Degrees[*] rather then radians[**] are used in Detector Description extensively for clarity. See:
https://cmssdt.cern.ch/lxr/ident?_i=deg
https://cmssdt.cern.ch/lxr/search?%21v=CMSSW_10_2_X_2018-04-09-2300&_filestring=xml&_string=deg

@Dr15Jones and @smuzaffar - what is an agreed proposed alternative? **_deg** user-defined literal (constexpr)?
[code]

[*] a static constexpr **deg** from CLHEP:
htt

[2018-04-10 14:19] cmsbuild commented on #22919
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-10 14:45] smuzaffar commented on #22475
@fwyzard , I am thinking of providing scram hooks for setting up/reconfiguring tools. We can have `CMSSW/config/SCRAM/hooks/tools/<toolname>` which scram can run at the time of `cmsrel`.

Should we make nvidia-drivers setup by default for cmssw releases/IBs (to avoid build errors like [a]) and only at the time of cmsrel we reconfigure it if GPU found on the system?

[a]
[code]

[2018-04-10 14:53] fwyzard commented on #22475
I would not setup `nvidia-drivers` by default though, as it would break running directly with a release installed on a machine with a GPU without creating a developer area.

Apart from that, having generic hooks sounds like a good idea.
How / "when" do you plan to use them ?
  - at `cmsrel` time
  - at `cmsenv` time
?

If they are used at `cmsrel` time, can we run them also when the release is ins

[2018-04-10 15:08] smuzaffar commented on #22475
We install releases on CVMFS (some shared filesystem) and then these can be used from a machine with or without GPU. So if we have to support shared installation which works for both then I guess we have to run such hooks at the time of cmsenv.  In this case I would not suggest that these hooks change the tool definitions (as mostly they can not write in cvmfs and can not change the externals/arch

[2018-04-10 16:28] kpedro88 commented on #22913
Here is a magic static approach\*:
https://github.com/cms-sw/cmssw/compare/master...kpedro88:StaticPulseShapes

I ran igprof for WF 25.0 step3 (4 threads), here are the results. It seems quite effectively reduced to me.

Before:
[code]
After:
[code]

\* initialization of a local static variable inside a function is guaranteed threadsafe by the C++11 standard

[2018-04-10 16:32] Dr15Jones commented on #22913
but must be declared `const` so subsequent uses can not cause a change.

[2018-04-10 16:35] kpedro88 commented on #22913
Right, thanks to @Dr15Jones for that reminder, it was the reason for the third commit in my branch.

[2018-04-10 16:45] wddgit commented on #22913
Kevin's approach seems reasonable to me. Much better than what we have now. @kpedro88 Can I assume you are going to submit the pull request for this and I can move on to the next item on my list?

@slava77 I put my latest igprof profile results here ~wdd/public/igprofResults. In test 10824.0, HcalHitReconstructor had one instance and 4 other modules of other types were using HcalPulseShapes. (In t

[2018-04-10 16:47] kpedro88 commented on #22913
Yes, I'll submit a PR for this. Hopefully a more in-depth revision of this code can eventually be done by the HCAL software team.

[2018-04-10 20:30] fabiocos commented on #22759
@arunhep as we discussed, I was confised by the #22834 description as it was mentioning GEM for upgrade and not run2. But speaking with you I understand that it is effectively in also for 2018 so this issue can be closed.

[2018-04-10 20:30] #22759 closed

[2018-04-11 07:34] fabiocos opened #22924 "PR 22907 causes crash in wf 134.813"
After the integration of #22907 a reproducible crash is observed in test wf 134.813

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_10_2_X_2018-04-10-2300/pyRelValMatrixLogs/run/134.813_RunCosmics2015C+RunCosmics2015C+RECOCOSDRUN2+ALCACOSDRUN2+HARVESTDCRUN2/step2_RunCosmics2015C+RunCosmics2015C+RECOCOSDRUN2+ALCACOSDRUN2+HARVESTDCRUN2.log

To be verified whether this causes pr

[2018-04-11 07:35] cmsbuild commented on #22924
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-11 07:35] fabiocos commented on #22924
assign dqm

@apana FYI

[2018-04-11 07:35] cmsbuild commented on #22924
New categories assigned: dqm

@jfernan2,@vazzolini,@vanbesien,@kmaeshima,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-11 07:38] cmsbuild commented on #22900
The cleanup has started for slc6_amd64_gcc630

[2018-04-11 07:38] cmsbuild commented on #22900
The cleanup has started for slc7_amd64_gcc630

[2018-04-11 07:38] #22900 closed

[2018-04-11 07:41] cmsbuild commented on #22900
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_1-slc6_amd64_gcc630/946

[2018-04-11 07:42] cmsbuild commented on #22900
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_1-slc7_amd64_gcc630/947

[2018-04-11 07:45] cmsbuild commented on #22900
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_1-slc7_amd64_gcc630/945

[2018-04-11 07:48] cmsbuild commented on #22900
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_1-slc6_amd64_gcc630/944

[2018-04-11 07:53] Dr15Jones opened #22926 "Bad memory access in L1TMuonEndCapTrackProducer"
The address sanitizer found the following problem:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_2_ASAN_X_2018-04-06-2300/pyRelValMatrixLogs/run/136.721_RunHLTPhy2016B+RunHLTPhy2016B+HLTDR2_2016+RECODR2_2016reHLT_HIPM+HARVESTDR2/step2_RunHLTPhy2016B+RunHLTPhy2016B+HLTDR2_2016+RECODR2_2016reHLT_HIPM+HARVESTDR2.log

[code]

[2018-04-11 07:53] cmsbuild commented on #22926
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-11 07:53] cmsbuild commented on #22909
The cleanup has started for slc6_amd64_gcc630

[2018-04-11 07:53] cmsbuild commented on #22909
The cleanup has started for slc7_amd64_gcc630

[2018-04-11 07:53] #22909 closed

[2018-04-11 07:53] Dr15Jones commented on #22926
assign l1

[2018-04-11 07:53] cmsbuild commented on #22926
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-11 07:57] fabiocos commented on #22924
The problem looks induced by the modification to the L1GlobalProducer made

https://github.com/cms-sw/cmssw/pull/22907/files#diff-e19692b71afae49775affe3e8a93b487

Thread 9 (Thread 0x7f7a5d9be700 (LWP 31036)):
#0  0x00000039896df383 in poll () from /lib64/libc.so.6
#1  0x00007f7a7ccbb774 in full_read.constprop () from /cvmfs/cms-ib.cern.ch/nweek-02519/slc6_amd64_gcc630/cms/cmssw/CMSSW_10_2_X_2018-

[2018-04-11 07:57] cmsbuild commented on #22909
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_6_patch1-slc6_amd64_gcc630/948

[2018-04-11 07:57] cmsbuild commented on #22909
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_6_patch1-slc7_amd64_gcc630/949

[2018-04-11 07:58] fabiocos commented on #22924
assign l1

[2018-04-11 07:58] cmsbuild commented on #22924
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-11 10:02] thomreis commented on #22926
Hi @abrinke1
please take a look at this.

[2018-04-11 10:07] thomreis commented on #22924
Hi @apana
could you please take a look at this.

[2018-04-11 11:44] fabiocos opened #22928 "Build CMSSW_10_2_0_pre1_ROOT612"
RELEASE_QUEUE:CMSSW_10_2_X
ARCHITECTURE:slc6_amd64_gcc630,slc7_amd64_gcc630
CMSSW_COMMIT:CMSSW_10_2_0_pre1
CMSDIST_COMMIT:cfe5f71168144790efb8c7b141fcce98d3e5a39c

[2018-04-11 11:45] cmsbuild commented on #22928
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-11 12:41] fabiocos commented on #22928
+1

[2018-04-11 12:41] cmsbuild commented on #22928
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_0_pre1_ROOT612. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-04-11 12:41] cmsbuild commented on #22928
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-11 12:43] cmsbuild commented on #22928
The build has started for slc6_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1573/console
CMSDIST Branch: [cfe5f71168144790efb8c7b141fcce98d3e5a39c](https://github.com/cms-sw/cmsdist/commits/cfe5f71168144790efb8c7b141fcce98d3e5a39c), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-11 12:45] cmsbuild commented on #22928
The build has started for slc7_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1574/console
CMSDIST Branch: [cfe5f71168144790efb8c7b141fcce98d3e5a39c](https://github.com/cms-sw/cmsdist/commits/cfe5f71168144790efb8c7b141fcce98d3e5a39c), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-11 13:39] abrinke1 commented on #22926
Adding @jiafulow ... I have no idea what I'm looking at here.

1) Can I run the workflow myself as : /build/cmsbld/jenkins/workspace/ib-run-relvals/cms-bot/monitor_workflow.py timeout --signal SIGTERM 7200  cmsRun -j JobReport2.xml  step2_L1REPACK_HLT.py

2) Does "AddressSanitizer: heap-buffer-overflow" mean anything to anyone in this conversation?  What sort of error are we looking for?

Cheers,

[2018-04-11 13:47] Dr15Jones commented on #22926
Most likely the code is reading beyond the end of an `std::vector<double>`.

[2018-04-11 13:55] apana commented on #22924
Yes. I’m looking into it.

On Wed, Apr 11, 2018 at 5:07 AM Thomas Reis <notifications@github.com>
wrote:

[2018-04-11 14:02] jiafulow commented on #22926
Hi,

If I have to guess, this is related to a fix that I have applied, but got removed by Khristian. See my version of [PtAssignmentEngine2016.cc](https://github.com/jiafulow/L1TriggerSep2016/blob/phase2-develop/L1TMuonEndCap/src/PtAssignmentEngine2016.cc#L655-L657) vs the [CMSSW version](https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TMuonEndCap/src/PtAssignmentEngine2016.cc#L655).

What

[2018-04-11 15:01] fabiocos opened #22933 "Checking Express event content in Configuration/DataProcessing"
While checking #22796 to verify the changes in the event content, I tried to check not only the usual RelVals (in wf 10824 the new totemTiming digi collection is added to the AODSIM event) but also what would happen in express.

To do this, after having merged #22796 in my work area and added Configuration/DataProcessing, I produced in the test area of this package the express configuration with t

[2018-04-11 15:02] cmsbuild commented on #22933
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-11 15:02] fabiocos commented on #22933
@slava77 @perrotta here is the follow-up of our direct discussion

[2018-04-11 15:08] cmsbuild commented on #22899
The cleanup has started for slc7_aarch64_gcc700

[2018-04-11 15:08] cmsbuild commented on #22899
The cleanup has started for slc6_amd64_gcc630

[2018-04-11 15:08] cmsbuild commented on #22899
The cleanup has started for slc6_amd64_gcc700

[2018-04-11 15:08] cmsbuild commented on #22899
The cleanup has started for slc7_amd64_gcc630

[2018-04-11 15:08] cmsbuild commented on #22899
The cleanup has started for slc7_amd64_gcc700

[2018-04-11 15:08] #22899 closed

[2018-04-11 15:09] cmsbuild commented on #22899
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc7_aarch64_gcc700/952

[2018-04-11 15:09] cmsbuild commented on #22899
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc7_amd64_gcc630/953

[2018-04-11 15:15] cmsbuild commented on #22899
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc6_amd64_gcc630/955

[2018-04-11 15:15] cmsbuild commented on #22899
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc6_amd64_gcc700/951

[2018-04-11 15:15] cmsbuild commented on #22899
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc6_amd64_gcc630/950

[2018-04-11 15:16] cmsbuild commented on #22899
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc7_amd64_gcc700/954

[2018-04-11 15:16] cmsbuild commented on #22899
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc7_amd64_gcc700/958

[2018-04-11 15:21] cmsbuild commented on #22899
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc6_amd64_gcc700/956

[2018-04-11 15:21] cmsbuild commented on #22899
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1-slc7_amd64_gcc630/957

[2018-04-11 15:26] slava77 commented on #22933
The problem is apparently with the eras/process parsing for the EventContent.
Python that's generated with cmsDriver is OK, but the creation of ConfigBuilder and then a pickle as done in the data processing fails to pick up era-based modifications to the event content.

this problem showed up in 10_0_1 and was not present in 10_0_0.

I tried 10_0_0+ #21953 and see the problem is due to this PR.
Ba

[2018-04-11 15:30] fabiocos commented on #22933
@slava77 thank you for the investigation, this needs to be fixed urgently

[2018-04-11 15:34] slava77 commented on #22933
Actually, if the relval submission relies on the same DMWM machinery, we should be missing all this data in centrally submitted relvals as well.

This refers to all centrally submitted workflows with the event content modified with eras (HI on pp; 2016 and later for CTPPS and GEM data; probably also re-miniAOD workflows for more commonly used objects)

[2018-04-11 15:35] fabiocos commented on #22933
@slava77 but this is not visible in tests because they are not using that interface...

[2018-04-11 15:39] slava77 commented on #22933
On 4/11/18 8:35 AM, Fabio Cossutti wrote:

right
what I'm suggesting is to add such tests using the python object based
configuration or perhaps even the full path via DMWM code so that we
actually test what we run.

[2018-04-11 15:41] fabiocos commented on #22933
@slava77 yes, definitely we need to have a better test of this machinery

@arizzi @franzoni FYI

I am indeed concerned about the potential effect of this on the work done so far for 94X reminiAOD

[2018-04-11 15:44] Dr15Jones commented on #22933
Seems like `ConfigBuilder` should _turn on_ the requested `Modifier`s at the very beginning, before doing any imports.

[2018-04-11 16:53] slava77 commented on #22933
On 4/11/18 8:44 AM, Chris Jones wrote:

In this case the code is loaded before the ConfigBuilder is loaded.
Can the ConfigBuilder figure it out?

[2018-04-11 18:02] arizzi commented on #22933
I'm not sure I understand why/how this fails (mainly because I do not know how the Era modifier works.)

I do not think in reminiaod we have any era modifier on th event content if that's the worry (but I can be wrong) @gpetruc  ?

[2018-04-11 21:29] cmsbuild commented on #22928
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1_ROOT612-slc7_amd64_gcc630/1574

[2018-04-11 22:06] apana commented on #22924
Hi @fabiocos

I've found the problem.  I added some extra protection in the code so that if the GlobalAlgBlk is empty, we do not try to access it's member data.  I thought just doing an isValid() check on the GlobalAlgBlk would be enough, but that's not so. I updated my branch, apana-DQM_uGTComps_10_1_X, with the fix.

@nsmith- : I think the era is configured correctly.  This sort of workflow was

[2018-04-11 23:29] cmsbuild commented on #22928
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1_ROOT612-slc7_amd64_gcc630/1574

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-12 01:38] cmsbuild commented on #22928
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_0_pre1_ROOT612-slc6_amd64_gcc630/1573

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-12 04:04] fabiocos commented on #22928
upload all

[2018-04-12 04:05] cmsbuild commented on #22928
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-12 04:05] cmsbuild commented on #22928
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-12 04:07] cmsbuild commented on #22928
The upload has started for slc6_amd64_gcc630 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1041/console

[2018-04-12 04:07] cmsbuild commented on #22928
The upload has started for slc7_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1042/console

[2018-04-12 04:09] cmsbuild commented on #22928
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre1_ROOT612-slc7_amd64_gcc630/1042
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-12 04:09] cmsbuild commented on #22928
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-12 04:13] cmsbuild commented on #22928
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_0_pre1_ROOT612-slc6_amd64_gcc630/1041
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-12 04:13] cmsbuild commented on #22928
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-12 04:45] #22933 closed

[2018-04-12 04:58] fabiocos commented on #22933
@slava77 as this problem is present also in 94X, although it should affect only T0 (see the thread https://hypernews.cern.ch/HyperNews/CMS/get/wmDevelopment/793/1.html ) it is advisable to fix it also there

[2018-04-12 07:08] fabiocos opened #22939 "Build CMSSW_10_1_1_patch1"

[2018-04-12 07:11] fabiocos commented on #22939
@smuzaffar I see that cmsdist for 10_1_X was updated after CMSSW_10_1_1 , right?
https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630
In this case I need to go to a full release...

[2018-04-12 07:31] smuzaffar commented on #22939
@fabiocos , do not worry about the start of the cmsdist. For patch releases we always start from the cmsdist tag used for building the full release. So go ahead and approve the issue to start the build

[2018-04-12 07:35] fabiocos commented on #22939
@smuzaffar ok thanks, no DataFormat is changed, just configurations (and a bit of C++)

[2018-04-12 07:36] fabiocos commented on #22939
+1

[2018-04-12 07:36] cmsbuild commented on #22939
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-04-12 07:36] cmsbuild commented on #22939
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-12 07:37] cmsbuild commented on #22939
The build has started for slc6_amd64_gcc630 in cmsbuild53.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1575/console
CMSDIST Branch: [REL/CMSSW_10_1_1/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_1/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-12 07:37] cmsbuild commented on #22939
The build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1576/console
CMSDIST Branch: [REL/CMSSW_10_1_1/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_1/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-12 07:54] slava77 commented on #22933
done in #22940

[2018-04-12 08:04] cmsbuild commented on #22939
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_1_patch1-slc7_amd64_gcc630/1576
Some t

[2018-04-12 08:07] cmsbuild commented on #22939
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_1_patch1-slc6_amd64_gcc630/1575
Some t

[2018-04-12 09:14] cmsbuild commented on #22939
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_1_patch1-slc7_amd64_gcc630/1576

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-12 10:13] fabiocos commented on #22939
upload all

[2018-04-12 10:13] cmsbuild commented on #22939
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-12 10:13] cmsbuild commented on #22939
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-12 10:13] cmsbuild commented on #22939
The upload has started for slc6_amd64_gcc630 in cmsbuild53.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1043/console

[2018-04-12 10:13] cmsbuild commented on #22939
The upload has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1044/console

[2018-04-12 10:14] cmsbuild commented on #22939
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_1_patch1-slc6_amd64_gcc630/1043
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-12 10:14] cmsbuild commented on #22939
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_1_patch1-slc7_amd64_gcc630/1044
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-12 10:14] cmsbuild commented on #22939
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-12 10:14] cmsbuild commented on #22939
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-12 10:18] fabiocos commented on #22939
release-notes

[2018-04-12 10:19] cmsbuild commented on #22939
Generating release notes since CMSSW_10_1_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-12 10:19] cmsbuild commented on #22939
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_1_1_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_1_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_1_patch1

Cheers,
cms-bot

You can also click <a href

[2018-04-12 11:34] fabiocos commented on #22924
@apana thanks, we anyway need a new PR as the previous one was already merged

[2018-04-12 15:59] apana commented on #22924
Gotchya.  Will do.

On Thu, Apr 12, 2018 at 6:34 AM, Fabio Cossutti <notifications@github.com>
wrote:

[2018-04-12 20:58] jiafulow commented on #22926
I was able to reproduce the error message by

[code]

as `runTheMatrix.py` failed for the file `root://eoscms.cern.ch//eos/cms/store/data/Run2016B/HLTPhysics/RAW/v2/000/274/199/00000/4CC1E375-8526-E611-BAAF-02163E012584.root` event `18`.

I verified that applying the change to `PtAssignmentEngine2016.cc` fixes the issue

[code]

as `runTheMatrix.py` was executed successfully for the first 100 even

[2018-04-13 07:13] perrotta commented on #20950
Following the discussion in #22911, the following two items were added to the description part which is on top of this issue:

- Sanity checks for the parameters stored in the template should be moved from the ```interpolate```method to the ```pushfile``` one, so that they won't needlessly repeated at every iteration. Moreover, also the cotalpha/cotbeta parameters should be checked there, in addit

[2018-04-13 07:32] kpedro88 opened #22950 "Range-based loops with EDM data structures"
Some EDM data structures are not compatible with C++11 range-based for loops (which require `begin()` and `end()` functions that return iterators or iterator-like objects). It would be nice to standardize this across the framework to make it easier to review and modernize code.

[2018-04-13 07:32] kpedro88 commented on #22950
assign core

[2018-04-13 07:32] cmsbuild commented on #22950
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-13 07:32] cmsbuild commented on #22950
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-13 07:38] Dr15Jones commented on #22950
@kpedro88 do you have specific examples?

[2018-04-13 07:39] kpedro88 commented on #22950
Not off the top of my head, but I will try to keep track in the future. This can also be considered if there is any general review of EDM data structures.

[2018-04-13 13:57] pmaksim1 commented on #20950
@perotta @slava77 @schuetzepaul
The first one (as I mentioned elsewhere) is fine and can be done quickly.

However, I would like to push back VERY HARD against the second issue.  This is a solution in search of a problem.   The simulation is supposed to look like the output of RECO.   Why shouldn't it depend on RECO?  Why is that bad?    Is there a formal rule in CMSSW that forbids it?

But even i

[2018-04-13 13:58] pmaksim1 commented on #20950
I rarely get passionate about anything, but this is something that will make my days miserable for years to come, so I hope you will understand why I am getting so revved up.

[2018-04-13 15:14] makortel commented on #22586
I suggest we add a combined stage1+stage2 workflow for 2018 in the PR tests once #22956 (which adds them) gets merged.

[2018-04-13 15:18] makortel opened #22957 "Fix CSC, RPC, and DT digi validation configurations for premixing"
This issue tracks work to fix the inconsistency in CSC, RPC, and DT digi validation configuration files for premixing reported first here
https://hypernews.cern.ch/HyperNews/CMS/get/muon-performance/982.html

It turns out that the necessary signal+pileup SimDigi collections are not part of the FEVTDEBUGHLT event content. If we want to keep premixing stage2 workflows running, we have to

- [ ] 1. A

[2018-04-13 15:18] cmsbuild commented on #22957
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-13 15:52] kpedro88 opened #22958 "Build CMSSW_9_3_8_patch1"

[2018-04-13 15:53] cmsbuild commented on #22958
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-04-13 15:54] kpedro88 commented on #22958
+1

[2018-04-13 15:54] cmsbuild commented on #22958
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_8_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-04-13 15:54] cmsbuild commented on #22958
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-13 15:55] cmsbuild commented on #22958
The build has started for slc6_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1577/console
CMSDIST Branch: [REL/CMSSW_9_3_8/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_8/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-13 15:55] cmsbuild commented on #22958
The build has started for slc7_amd64_gcc630 in cmsbuild50.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1578/console
CMSDIST Branch: [REL/CMSSW_9_3_8/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_8/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-04-13 16:03] kpedro88 commented on #22957
From my perspective, it's fine not to wait for a new relval premixing library.

We could modify the validation code just to skip some actions if the input handles aren't valid (instead of issuing a not found exception) to avoid failing workflows.

[2018-04-13 16:07] makortel commented on #22957
Good idea, that would work as a temporary workaround (even if in general I dislike such pattern if input is expected to always exist).

[2018-04-13 16:17] cmsbuild commented on #22958
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_8_patch1-slc7_amd64_gcc630/1578
Some te

[2018-04-13 16:18] cmsbuild commented on #22958
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_8_patch1-slc6_amd64_gcc630/1577
Some te

[2018-04-13 17:16] #22712 closed

[2018-04-13 17:17] cmsbuild commented on #22958
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_8_patch1-slc6_amd64_gcc630/1577

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-13 17:19] cmsbuild commented on #22958
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_8_patch1-slc7_amd64_gcc630/1578

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-04-13 18:05] kpedro88 commented on #22958
upload all

[2018-04-13 18:06] cmsbuild commented on #22958
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-13 18:06] cmsbuild commented on #22958
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-13 18:06] cmsbuild commented on #22958
The upload has started for slc6_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1045/console

[2018-04-13 18:07] cmsbuild commented on #22958
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_8_patch1-slc6_amd64_gcc630/1045
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-13 18:07] cmsbuild commented on #22958
The upload has started for slc7_amd64_gcc630 in cmsbuild50.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1046/console

[2018-04-13 18:07] cmsbuild commented on #22958
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-13 18:07] cmsbuild commented on #22958
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_8_patch1-slc7_amd64_gcc630/1046
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-13 18:07] cmsbuild commented on #22958
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-13 20:57] kpedro88 commented on #22958
release-notes since CMSSW_9_3_8

[2018-04-13 20:59] cmsbuild commented on #22958
Generating release notes since CMSSW_9_3_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-13 20:59] cmsbuild commented on #22958
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_8_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_8_patch1

Cheers,
cms-bot

You can also click <a href="m

[2018-04-13 20:59] cmsbuild commented on #22958
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_8_patch1

[2018-04-13 21:49] slava77 commented on #21864
The production is on the way now.
Time to close the PR.

[2018-04-13 21:49] #21864 closed

[2018-04-14 02:24] cmsbuild commented on #22928
The cleanup has started for slc6_amd64_gcc630

[2018-04-14 02:24] cmsbuild commented on #22928
The cleanup has started for slc7_amd64_gcc630

[2018-04-14 02:24] #22928 closed

[2018-04-14 02:33] cmsbuild commented on #22928
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1_ROOT612-slc6_amd64_gcc630/959

[2018-04-14 02:34] cmsbuild commented on #22928
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_0_pre1_ROOT612-slc7_amd64_gcc630/960

[2018-04-14 06:28] perrotta commented on #20950
@pmaksim1 : the point is that there is some code (namely the definitions of the templates) on which both Reconstruction and Fast/Full Simulation depend upon. That code should be better placed in a package which does not depend on Reco or Sim, so that there will be no cross dependencies among the two systems (now Fast/Full Sim depends on Reco).

From a quick inspection, I think the files that shoul

[2018-04-14 08:10] fabiocos commented on #22919
@VinInn @Dr15Jones @smuzaffar @ianna what is the proposed alternative to CLHEP, at least as far as table of constants is concerned?
A number of mathematical and physical constants are defined in ROOT::TMath, but what about the system of units? In principle it s just a set of numerical constants that can be encoded anywhere. Was a proposal discussed?

[2018-04-14 08:27] cmsbuild commented on #22939
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_1_patch1-slc6_amd64_gcc630/961

[2018-04-14 08:27] cmsbuild commented on #22939
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_1_patch1-slc7_amd64_gcc630/962

[2018-04-14 08:28] VinInn commented on #22919
I do not remember any "modern" (ie post C++17) discussion on the subject.
My main complain w/r/t the use of CLHEP style of system of units is that it implies multiplication (even divisions) at runtime and is limited to double.
As long as it is used to define other constexpr constants that's sort of ok. Unfortunately often we see it used even in tight loops where we clearly pay the whole penalty.

[2018-04-14 10:48] slava77 commented on #20950
On 4/13/18 11:28 PM, perrotta wrote:

The arguments against moving should perhaps be stronger than just
inability to edit files in future developments when these files are in
more than one package.

[2018-04-14 12:28] fabiocos commented on #22957
@makortel @kpedro88 I would prefer to avoid having for two weeks tests that are "known" to fail. We need to recall to revert the change as soon as the code transition is completed though.

[2018-04-14 18:26] pmaksim1 commented on #20950
@perrotta  @slava77
Executive summary: I propose that we defer this until later.  A couple of follow-ups below:

1) if you browse SiPixelTemplate*.cc, you'll see that this is not just storage, there is a substantial amoun tof non-trivial pixel reco code burried inside: template interpolation, calculation of errors, and, especially, the caculation of Qbin (= classification of the amount of the char

[2018-04-14 18:38] slava77 commented on #20950
the goal of this request to factor out SiPixelTemplate is to reduce
package/library level inter-dependencies.
It will likely stay in the reco category, indeed.

[2018-04-15 19:08] cmsbuild commented on #22958
The cleanup has started for slc6_amd64_gcc630

[2018-04-15 19:08] cmsbuild commented on #22958
The cleanup has started for slc7_amd64_gcc630

[2018-04-15 19:08] #22958 closed

[2018-04-15 19:13] cmsbuild commented on #22958
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_8_patch1-slc6_amd64_gcc630/963

[2018-04-15 19:13] cmsbuild commented on #22958
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_8_patch1-slc7_amd64_gcc630/964

[2018-04-16 07:03] makortel commented on #22710
Fixed in #22836.

[2018-04-16 07:03] #22710 closed

[2018-04-16 08:11] makortel commented on #22957
Thanks @fabiocos. I'll then implement @kpedro88's suggestion https://github.com/cms-sw/cmssw/issues/22957#issuecomment-381182755 and update the plan in the description of this issue.

[2018-04-16 15:13] makortel commented on #22957
Nevermind, while preparing #22977 I realized that the event content to be updated is the output of DIGI step of stage2 workflow, which is always re-done in the matrix workflows. So everything I outlined in the description can be done consistently in one PR without breaking anything or adding temporary workarounds.

Sorry for the noise.

[2018-04-16 15:13] #22957 closed

[2018-04-16 15:22] slava77 commented on #21668
+1

the fix is available in 94X production since CMSSW_9_4_5

[2018-04-16 15:32] slava77 opened #22978 "features needed for re-miniAOD of 2016 data/MC in 94X"
This issue is to collect the list of PRs needed for re-miniAOD of 2016 data/MC (using inputs from 80X "legacy" AOD).
- The release target for production is 94X.  PRs should be submitted to the master and CMSSW_9_4_MAOD_X branches
    - Any new feature should be integrated in the master branch first.
- Pure additions of products can be made in the generic part of the job configuration.
    - The ex

[2018-04-16 15:32] cmsbuild commented on #22978
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-16 15:33] slava77 commented on #22978
assign reconstruction,alca,pdmv

[2018-04-16 15:33] cmsbuild commented on #22978
New categories assigned: pdmv,reconstruction,alca

@slava77,@lpernie,@prebello,@franzoni,@fabozzi,@perrotta,@GurpreetSinghChahal,@arunhep,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-16 15:40] slava77 commented on #22978
assign analysis

[2018-04-16 15:40] cmsbuild commented on #22978
New categories assigned: analysis

@arizzi,@monttj,@gpetruc you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-16 16:34] prebello commented on #22978
please test

[2018-04-16 17:24] fabiocos opened #22979 "Build CMSSW_10_1_2"

[2018-04-16 17:24] cmsbuild commented on #22979
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-16 17:24] fabiocos commented on #22979
+1

[2018-04-16 17:25] cmsbuild commented on #22979
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-04-16 17:25] cmsbuild commented on #22979
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-16 17:26] cmsbuild commented on #22979
The build has started for slc6_amd64_gcc630 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1579/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-16 17:26] cmsbuild commented on #22979
The build has started for slc7_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1580/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-16 18:28] arunhep commented on #22978
@prebello this is a github issue and not a PR. "please test" does not make a sense here.

[2018-04-16 20:00] #22913 closed

[2018-04-16 22:18] cmsbuild commented on #22979
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_2-slc7_amd64_gcc630/1580
Some tests (

[2018-04-16 23:41] cmsbuild commented on #22979
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_2-slc7_amd64_gcc630/1580

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-17 00:07] cmsbuild commented on #22979
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_2-slc6_amd64_gcc630/1579

Tests results:
24 24 23 18 10 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-04-17 07:11] fabiocos commented on #22979
upload all

[2018-04-17 07:11] cmsbuild commented on #22979
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-17 07:11] cmsbuild commented on #22979
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-17 07:14] cmsbuild commented on #22979
The upload has started for slc6_amd64_gcc630 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1047/console

[2018-04-17 07:23] fabiocos opened #22981 "Validation of re-miniAOD and muon DQM"
Following the comment https://github.com/cms-sw/cmssw/pull/22456#issuecomment-381269448 by @slava77
The change in DQM in #22456 breaks the validation of muons for re-miniAOD, for instance wf 136.7611 . This was not noticed because it is a case that requires some statistics, and this wf is not part of the regular RelVal procedure.

An update is under discussion to allow the test of the reminiAOD of

[2018-04-17 07:25] cmsbuild commented on #22979
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_2

[2018-04-17 09:15] deguio commented on #22978
hi @slava77 ,
a new GT will be needed as well. following up with @arunhep at:
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/3495/1/1/1/1/1.html

[2018-04-17 11:36] slava77 commented on #22978
@fabozzi @prebello @GurpreetSinghChahal

A related discussion has opened in
https://github.com/cms-sw/cmssw/pull/22456#discussion_r181999569

I just wanted to confirm/clarify that we have a full working relval setup to test this re-miniAOD.
For the PR tests I'm assuming that the setups used in 136.7611 for data and 1325.5 for MC will suffice.
Please confirm.

[2018-04-17 14:05] smuzaffar commented on #22475
@fwyzard , In 10.2.X DEVEL IBs (CMSSW_10_2_DEVEL_X_2018-04-15-2300 and above) we now have hooks [a] to be called at cmsenv time (cmsenv is also called at `scram build` time). I have added a hook for nvidia-driver [b] which should add the local libcuda.so directory path is available otherwise it fallback to our cuda/drivers. I tested it on `vinavx2` and it properly adds `/usr/lib64/nvidia` in LD_LI

[2018-04-18 12:13] fabiocos commented on #22924
Solved by #22961

[2018-04-18 12:13] #22924 closed

[2018-04-18 12:22] fabiocos opened #22996 "DQM Physics sequence missing input collections"
The DQM Physics sequence is throwing exceptions in the express configuration due to the lack of an input jet corrector collection. A quick protection has been made available in #22992 / #22993 to prevent on the very short term express crashes even if the collection is missing, but this is just a temporary workaround.

A proper solution implies fixing the DQM Physics sequence, in a similar way as t

[2018-04-18 12:33] fabiocos commented on #22996
assign dqm

[2018-04-18 12:34] cmsbuild commented on #22996
New categories assigned: dqm

@jfernan2,@vazzolini,@vanbesien,@kmaeshima,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-04-18 13:09] makortel opened #22998 "Improve workflow step input specifications in WorkFlowRunner"
Currently `WorkFlowRunner` essentially assumes that the input for workflow step `N` comes from step `N-1`
https://github.com/cms-sw/cmssw/blob/e0488ede0af25af19bcdd5bfc01c90172abfa695/Configuration/PyReleaseValidation/python/WorkFlowRunner.py#L147-L151

There are cases where this assumption does not hold, e.g.
* both HARVESTING and ALCA need the output of RECO+DQM+VALIDATION step, but only one of

[2018-04-18 13:09] cmsbuild commented on #22998
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-18 13:11] makortel commented on #22998
As an example here are two recent PRs "hitting" on the current inflexibility #22956 and #22997 (both related to combined premixing stage1+stage2 workflow).

[2018-04-18 14:40] fabiocos opened #23000 "Build CMSSW_10_1_2_patch1"

[2018-04-18 14:41] cmsbuild commented on #23000
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-04-18 14:41] fabiocos commented on #23000
+1

[2018-04-18 14:41] cmsbuild commented on #23000
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_1_X

[2018-04-18 14:41] cmsbuild commented on #23000
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-04-18 14:42] cmsbuild commented on #23000
The build has started for slc6_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1581/console
CMSDIST Branch: [REL/CMSSW_10_1_2/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_2/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-18 14:44] cmsbuild commented on #23000
The build has started for slc7_amd64_gcc630 in cmsbuild38.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1582/console
CMSDIST Branch: [REL/CMSSW_10_1_2/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_2/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-18 15:06] cmsbuild commented on #23000
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_2_patch1-slc7_amd64_gcc630/1582

[2018-04-18 15:27] fabiocos commented on #23000
@smuzaffar as far as I can see the failure for slc7 is due to a glitch in communication with github.com, right? Could you please restart the build?

[2018-04-18 15:46] cmsbuild commented on #23000
The build has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1583/console
CMSDIST Branch: [REL/CMSSW_10_1_2/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_1_2/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-04-18 16:36] kpedro88 commented on #22721
Here is a backtrace and some gdb printouts for the hang on event 1735 in single-threaded mode:
[code]

This looks like an infinite loop in the propagator. I hope someone more familiar with the code can look at it further.

[2018-04-18 19:11] fabiocos commented on #23000
upload all

[2018-04-18 19:11] cmsbuild commented on #23000
Queing Jenkins upload for slc6_amd64_gcc630

[2018-04-18 19:11] cmsbuild commented on #23000
Queing Jenkins upload for slc7_amd64_gcc630

[2018-04-18 19:13] cmsbuild commented on #23000
The upload has started for slc6_amd64_gcc630 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1049/console

[2018-04-18 19:13] cmsbuild commented on #23000
The upload has started for slc7_amd64_gcc630 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1050/console

[2018-04-18 19:13] cmsbuild commented on #23000
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_2_patch1-slc7_amd64_gcc630/1050
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-18 19:13] cmsbuild commented on #23000
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-18 19:13] cmsbuild commented on #23000
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_2_patch1-slc6_amd64_gcc630/1049
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-04-18 19:13] cmsbuild commented on #23000
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-04-18 19:16] fabiocos commented on #23000
release-notes

[2018-04-18 19:16] cmsbuild commented on #23000
Generating release notes since CMSSW_10_1_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-04-18 19:16] cmsbuild commented on #23000
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_1_2_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_1_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_2_patch1

Cheers,
cms-bot

You can also click <a href

[2018-04-18 19:17] cmsbuild commented on #23000
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_2_patch1

[2018-04-19 05:38] cmsbuild commented on #22979
The cleanup has started for slc6_amd64_gcc630

[2018-04-19 05:38] cmsbuild commented on #22979
The cleanup has started for slc7_amd64_gcc630

[2018-04-19 05:38] #22979 closed

[2018-04-19 05:45] cmsbuild commented on #22979
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_2-slc6_amd64_gcc630/965

[2018-04-19 05:45] cmsbuild commented on #22979
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_2-slc7_amd64_gcc630/966

[2018-04-19 08:42] makortel commented on #21314
Hi @davidlange6, any progress yet?

[2018-04-19 08:56] davidlange6 commented on #21314
Not from m my side

Cheers,
David

On 19 Apr 2018, at 10:42, Matti Kortelainen <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @davidlange6<https://github.com/davidlange6>, any progress yet?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw/cmssw/issues/21314#issuecomment-382657567>, or mute the th

[2018-04-19 09:58] thomreis commented on #22926
My guess is that it was removed by mistake.

[2018-04-19 14:35] fabiocos commented on #22721
@kpedro88 thanks for the investogation. @ssekmen is there any progress here?

[2018-04-19 16:06] skurz commented on #22721
I'm making progress in both issues (unknown pdgId and infinite loop) and I expect to have a PR tomorrow.

[2018-04-19 16:44] fabiocos commented on #20950
@pmaksim1 I fully support @slava77 and @perrotta request, and after reading this discussion to be honest I am not so much in favour to integrate #22911 as it is, knowing that this will introduce a problem that will not be cleaned.

It is not just a matter of "elegance", it is a matter of having a clean software distribution minimizing interdependencies, that are always a potential source of very p