[2022-07-11 07:44] cmsbuild commented on #38680
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-11 07:45] cmsbuild commented on #38680
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-11 08:26] tvami commented on #38656
+alca
 * resolved in https://github.com/cms-sw/cmssw/pull/38662

[2022-07-11 08:27] cmsbuild commented on #38656
This issue is fully signed and ready to be closed.

[2022-07-11 08:32] tvami commented on #38198
@tocheng ?

[2022-07-11 08:41] #38656 closed

[2022-07-11 08:44] tvami commented on #35005
hey hey @laurenhay  ;)

[2022-07-11 11:38] smuzaffar commented on #38654
thanks @makortel and @civanch . https://github.com/cms-sw/cms-bot/pull/1788 removes Lucas

[2022-07-11 12:58] francescobrivio commented on #38198
Being addressed in https://github.com/cms-sw/cmssw/pull/38681

[2022-07-11 13:39] aandvalenzuela opened #38684 "[LTO - SimCalorimetry/HGCalAssociatorProducers] Compiler warnings -Wodr in simulation category"
Hello,

We have seen some compiler warnings of the type `-Wodr` in LTO_X IBs ([CMSSW_12_5_LTO_X_2022-07-07-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/thu/12.5.LTO-thu-11/CMSSW_12_5_LTO_X_2022-07-07-1100) and [CMSSW_12_5_LTO_X_2022-07-06-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/wed/12.5.LTO-wed-11/CMSSW_12_5_LTO_X_2022-07-06-11

[2022-07-11 13:39] aandvalenzuela commented on #38684
assign simulation

[2022-07-11 13:39] cmsbuild commented on #38684
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-11 13:39] cmsbuild commented on #38684
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-11 13:58] aandvalenzuela opened #38685 "[LTO - BigProducts/Simulation] Compiler warning -Wstrict-overflow in core category"
Hello,

We have seen some compiler warnings of the type `-Wstrict-overflow` in LTO_X IBs ([CMSSW_12_5_LTO_X_2022-07-07-2300](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/thu/12.5.LTO-thu-23/CMSSW_12_5_LTO_X_2022-07-07-2300)) in `BigProducts/Simulation`. See sample stack trace:

[code]

We have seen this warning because of signed overflow occurring under certain condition

[2022-07-11 13:58] aandvalenzuela commented on #38685
assign core

[2022-07-11 13:58] cmsbuild commented on #38685
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-11 13:58] cmsbuild commented on #38685
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-11 15:21] srimanob opened #38686 "dump_python does not work with Nano step"
While investigating on Nano sequence, I see that I can't dump config file if Nano step is a part of the driver. The error message is
[code]
cmsDriver I am using with CMSSW_12_5_0_pre3:
`cmsDriver.py step3 -s NANO --conditions auto:phase1_2022_realistic --datatier NANOAODSIM -n -1 --eventcontent NANOEDMAODSIM --geometry DB:Extended --era Run3 --python Nano_2021_dump.py --no_exec --filein file:step1

[2022-07-11 17:41] srimanob commented on #38686
I see one recommendation to run in
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuidePythonTips#Running_cmsRun_from_the_script_i

[2022-07-12 09:51] srimanob commented on #38594
I've made a draft PR, so ppl can check:
https://github.com/cms-sw/cmssw/pull/38702

[2022-07-12 12:18] cmsbuild commented on #38686
New categories assigned: xpog

@mariadalfonso,@gouskos,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-12 15:03] makortel commented on #38686
assign operations

[2022-07-12 15:04] cmsbuild commented on #38686
New categories assigned: operations

@fabiocos,@qliphy,@davidlange6,@rappoccio,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-12 15:30] missirol commented on #37598
As far as I can see, this problem has not re-appeared, so something must have improved. :)

[2022-07-12 17:06] srimanob commented on #38594
Hi @kpedro88
Yeah, that is what I would like to ask you. If D86 will be the first workflow, should it just be 20000.0 after resetting?

Currently, the first upgrade workflow after cleaning will be
38600.0 2026D86+FourMuPt_1_200_pythia8_GenSimHLBeamSpot+DigiTrigger+RecoGlobal+HARVESTGlobal

[2022-07-12 18:42] kpedro88 commented on #38594
Yes; in particular, you should change this line as follows: `numWFConflict = [[25000,26000],[50000,51000]]`

[2022-07-12 19:18] srimanob commented on #38594
OK. That line I updated already in the PR, but just to reflect the drop of workflows. I will update again.

[2022-07-12 21:41] perrotta opened #38714 "Build CMSSW_12_3_7_patch1"
Requested by HLT for online

[2022-07-12 21:41] cmsbuild commented on #38714
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-07-12 21:42] perrotta commented on #38714
+1

[2022-07-12 21:43] cmsbuild commented on #38714
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_7_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-07-12 21:43] cmsbuild commented on #38714
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to fini

[2022-07-12 21:45] cmsbuild commented on #38714
The build has started for el8_amd64_gcc10 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3578/console
CMSDIST Branch: [REL/CMSSW_12_3_7/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_7/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-12 21:45] cmsbuild commented on #38714
The build has started for slc7_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3579/console
CMSDIST Branch: [REL/CMSSW_12_3_7/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_7/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-12 22:31] cmsbuild commented on #38714
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7_patch1-slc7_amd64_gcc10/3579
Some tes

[2022-07-12 22:44] cmsbuild commented on #38714
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7_patch1-el8_amd64_gcc10/3578
Some tests

[2022-07-12 23:16] cmsbuild commented on #38714
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7_patch1-slc7_amd64_gcc10/3579

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-12 23:28] cmsbuild commented on #38714
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7_patch1-el8_amd64_gcc10/3578

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-13 01:04] cmsbuild commented on #38714
The build has started for el8_ppc64le_gcc10 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3580/console
CMSDIST Branch: [REL/CMSSW_12_3_7/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_7/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-13 01:54] cmsbuild commented on #38714
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7_patch1-el8_ppc64le_gcc10/3580
Some t

[2022-07-13 02:44] cmsbuild commented on #38714
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7_patch1-el8_ppc64le_gcc10/3580

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-13 05:30] perrotta commented on #38714
upload all

[2022-07-13 05:31] cmsbuild commented on #38714
Queing Jenkins upload for slc7_amd64_gcc10

[2022-07-13 05:31] cmsbuild commented on #38714
Queing Jenkins upload for el8_amd64_gcc10

[2022-07-13 05:31] cmsbuild commented on #38714
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-07-13 05:31] cmsbuild commented on #38714
The upload has started for el8_amd64_gcc10 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2420/console

[2022-07-13 05:32] cmsbuild commented on #38714
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2421/console

[2022-07-13 05:32] cmsbuild commented on #38714
The upload has started for slc7_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2422/console

[2022-07-13 05:33] cmsbuild commented on #38714
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_7_patch1-slc7_amd64_gcc10/2422

[2022-07-13 05:38] cmsbuild commented on #38714
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_7_patch1-el8_amd64_gcc10/2420

[2022-07-13 07:19] perrotta commented on #38714
@cms-sw/externals-l2 upload for el8_ppc64le_gcc10 has failed: is there anything wrong with it (I cannot interpret the log in https://cmssdt.cern.ch/jenkins/job/upload-release/2421/console), or could it get restarted?

[2022-07-13 07:31] cmsbuild commented on #38714
The was error uploading el8_ppc64le_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_7_patch1-el8_ppc64le_gcc10/2423

[2022-07-13 07:35] aandvalenzuela commented on #38714
Hi @perrotta, I am checking the upload failure. I have restarted it for the time being.

[2022-07-13 07:52] perrotta commented on #38714
Thank you Andrea. I don't see the status label updated to "el8_ppc64le_gcc10-uploading", still it remaining in "error": is it normal?

[2022-07-13 07:57] aandvalenzuela commented on #38714
Yes, I think it is normal since the reporting back to github also failed in the first run of the job. By retrying it, the error has been reported.

[2022-07-13 07:59] aandvalenzuela commented on #38714
I am discussing it with @iarspider. It seems the upload was successful, it was the step of reporting back to github that failed.

[2022-07-13 08:14] iarspider commented on #38714
@perrotta the log reports that the upload was successful, the only two steps after the upload are "Mark upload as successful" (which failed, probably because of cvmfs hiccup on build machine) and "Mark installation as successful"

[2022-07-13 08:27] perrotta commented on #38714
Thank you @iarspider
Just to understand: can we consider the upload successfull even now,and announce the release, or should we wait for the further upload started by @aandvalenzuela ?

[2022-07-13 08:39] perrotta commented on #38714
Ok.
Is it something that should I do (how?), or are you taking care of it instead?

[2022-07-13 08:48] aandvalenzuela commented on #38714
Since the upload was successful, we think it is safe to just go ahead with the release. Sorry for the inconveniences!

[2022-07-13 08:50] iarspider commented on #38714
We were hoping you know how to do it :fearful:

[2022-07-13 09:16] iarspider commented on #38714
Looks like the bot doesn't know this command.

[2022-07-13 09:19] iarspider commented on #38714
@perrotta  The bot executed the command, but didn't do anything because of the label. Let's proceed with the release.

[2022-07-13 09:19] perrotta commented on #38714
Ok, thank you all

[2022-07-13 09:19] perrotta commented on #38714
release-notes

[2022-07-13 09:20] cmsbuild commented on #38714
Generating release notes since CMSSW_12_3_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-13 09:20] cmsbuild commented on #38714
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_3_7_patch1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_3_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_3_7_patch1

Requested by HLT for online

Cheers,
cms-bot

[2022-07-13 09:28] cmsbuild commented on #38714
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_7_patch1

[2022-07-13 09:37] perrotta commented on #38714
I see that el8_ppc64le_gcc10 is not listed in the release notes...
Let assume that nobody will urgently need it. Otherwise we will make another build from scratch

[2022-07-13 09:46] smuzaffar commented on #38714
I also have updated the labels by hand :-)

[2022-07-13 09:49] perrotta commented on #38714
Thank you @smuzaffar !

[2022-07-13 09:55] iarspider commented on #38714
Thanks Shahzad!

[2022-07-13 09:57] cbotta commented on #38594
Hello. The L1T team would like to ask if the D49 could be kept. It can be useful for validation studies on the HLT-TDR samples (that we are using for L1T developments since a year). And I think HLT Upgrade would echo this.

[2022-07-13 14:01] slava77 opened #38724 "mis-assignment of log messages to unrelated modules"
I observed the following in CMSSW_12_5_0_pre3:
after adding LogWarnings in a module `TrackClusterRemoverPhase2` as in https://github.com/cms-sw/cmssw/compare/CMSSW_12_5_0_pre3...slava77:cmssw:CMSSW_12_5_0_pre3/debugPh2CluRM

For a job based on wf 35234.21 `cmsDriver.py step3  -s RAW2DIGI,L1Reco,RECO,RECOSIM --conditions auto:phase2_realistic_T21 --datatier AODSIM -n 1 --eventcontent AODSIM --geome

[2022-07-13 14:01] cmsbuild commented on #38724
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-13 14:05] makortel commented on #38724
Could you give a pointer to full log with `Tracer`?

[2022-07-13 14:06] slava77 commented on #38724
without tracer
cmsdev34:/build/slava77/reltest/CMSSW_12_5_0_pre3-ph2Nt/35234.21_TTbar_14TeV+2026D77PU_ProdLike/test1.log

with tracer
cmsdev34:/build/slava77/reltest/CMSSW_12_5_0_pre3-ph2Nt/35234.21_TTbar_14TeV+2026D77PU_ProdLike/test2.log

[2022-07-13 14:16] civanch commented on #38684
@rovere , @felicepantaleo , I do not know who is available just now. The fix seems to be simple and very technical

[2022-07-13 14:30] fwyzard opened #38725 "Using `ConditionalTask`s make the HLT jobs take minutes to start"
While testing the latest HLT menu `/online/collisions/2022/2e34/v1.2/HLT/V5` with `CMSSW_12_4_2` and the `124X_dataRun3_HLT_v4` global tag, I noticed that it takes a few minutes longer than usual to start.
Adding the `Tracer` service shows:
[code]

Following a suggestion by @missirol , I replace all instances of `ConditionalTask` with a `Task`.
This seems to solve the long startup time:
[code]

Th

[2022-07-13 14:31] cmsbuild commented on #38725
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-13 14:34] cmsbuild commented on #38725
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-13 14:37] Dr15Jones commented on #38725
@fwyzard could you dump your configuration somewhere accessible? That would help in profiling.

[2022-07-13 14:56] fwyzard commented on #38619
assign ecal-dpg

[2022-07-13 14:56] fwyzard commented on #38619
assign heterogeneous

[2022-07-13 14:56] cmsbuild commented on #38619
New categories assigned: heterogeneous,ecal-dpg

@fwyzard,@simonepigazzini,@makortel,@jainshilpi,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-13 17:53] srimanob commented on #37351
@cms-sw/xpog-l2
Do you have a comment on Nano step?

Currently, the nano step works if it runs separately, i.e. take Mini as output from FastSim. But it will not work if it runs together with FastSim+Mini step.

**=== one step ===**
`cmsDriver.py TTbar_14TeV_TuneCP5_cfi  -s GEN,SIM,RECOBEFMIX,DIGI:pdigi_valid,L1,DIGI2RAW,L1Reco,RECO,PAT,NANO -n 50 --conditions auto:phase1_2022_realistic --beamspot

[2022-07-13 20:31] Dr15Jones opened #38729 "Out of bounds read in SiStripMonitorCluster::analyze"
The ASAN report

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_ASAN_X_2022-07-13-1100/pyRelValMatrixLogs/run/140.58_RunHI2018+RunHI2018+RAWPRIMEHI18+RECOHID18APPROXCLUSTERS+HARVESTDHI18/step3_RunHI2018+RunHI2018+RAWPRIMEHI18+RECOHID18APPROXCLUSTERS+HARVESTDHI18.log#/

Shows a `heap-buffer-overflow`

[2022-07-13 20:32] Dr15Jones commented on #38729
assign dqm

[2022-07-13 20:32] cmsbuild commented on #38729
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-13 20:32] cmsbuild commented on #38729
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-13 20:33] Dr15Jones commented on #38729
The relevant bits of the log are
[code]

[2022-07-13 20:36] makortel commented on #38729
FYI @cms-sw/trk-dpg-l2

[2022-07-13 20:50] mmusich commented on #38729
It's worth noting that this shows up in the new RAW' workflow introduced in https://github.com/cms-sw/cmssw/pull/38423 by @mandrenguyen.

This is not very plausibile. What is more possible is that the strip number passed to get the noise is "wrong" in case of approximate "rectangular" clusters employed in that workflow.

[2022-07-13 21:23] makortel commented on #38725
Thanks @fwyzard for the addtional test!

[2022-07-14 07:38] mmusich commented on #38729
indeed plugging:
[code]

I get before the crash:
[code]

the cluster with `firstStrip()` = 32767 (max `uint16_t`) doesn't make sense. Probably there's an overflow caused by type mismatches in the reconstruction code.

[2022-07-14 07:39] mmusich commented on #38729
assign reconstruction

[2022-07-14 07:39] cmsbuild commented on #38729
New categories assigned: reconstruction

@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-14 08:25] #38634 closed

[2022-07-14 09:51] mmusich commented on #38729
in this line

https://github.com/cms-sw/cmssw/blob/9e6c192dd06b019f5bb791a42df0a6e8acd389c4/DataFormats/SiStripCluster/src/SiStripCluster.cc#L31

`cluster.barycenter() - cluster.width() / 2; ` can become negative, hence overflowing the `uint16_t` .

This appears to solve the issue:

[code]

[2022-07-14 09:52] cbotta commented on #38594
@srimanob After discussing with the team: we will very likely have our new MC production in 12_5. We think it is useful to keep the D49 up to this release, so that we have one release that can run on both MC productions. But after that we will switch to the new samples, and so it is fine to remove it from 12_6. Thanks!

[2022-07-14 12:18] mmusich opened #38739 "G4e refitter configuration broken by dd4hep"
Since there are widespread plans of using the G4e refitting technology for both the muon momentum scale calibration for the W mass analysis and for the global tracker alignment procedure, it's important that we start testing it.
Unfortunately the current setup is broken, possibly from the dd4hep updates in the configuration.
Running the setup put together at PR https://github.com/cms-sw/cmssw/pull

[2022-07-14 12:18] mmusich commented on #38739
assign geometry, simulation

[2022-07-14 12:18] cmsbuild commented on #38739
New categories assigned: geometry,simulation

@mdhildreth,@mdhildreth,@ianna,@Dr15Jones,@makortel,@bsunanda,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-14 12:18] cmsbuild commented on #38739
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-14 13:48] cmsbuild commented on #38634
This issue is fully signed and ready to be closed.

[2022-07-14 14:11] #38724 closed

[2022-07-14 14:15] makortel commented on #38724
+1

[2022-07-14 14:15] cmsbuild commented on #38724
This issue is fully signed and ready to be closed.

[2022-07-14 22:11] sbein commented on #37351
Hi @srimanob, when running === one step ===, it looks like the crash stems from changes made to the RivetInterface code where there is an ambiguity in the data type associated with the variable genEventInfo, which is requested in the config file dump here:

process.genParticles2HepMCHiggsVtx = cms.EDProducer("GenParticles2HepMCConverter",
    genEventInfo = cms.InputTag("generator"),
    genPartic

[2022-07-14 22:21] makortel commented on #37351
The problem is likely that `GenParticles2HepMCConverter` reads the `GenRunInfoProduct` in `beginRun()`
https://github.com/cms-sw/cmssw/blob/ac7a17a415327c259e1e8d0e67659ce27bf8d197/GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConverter.cc#L68-L70
whereas quick `git grep "produces<GenRunInfoProduct"` shows that all producers of `GenRunInfoProduct` produce it in `endRun()`.

In such a

[2022-07-14 22:29] fwyzard opened #38745 "`edmCheckClassVersion` fails with enum class template parameters"
Declaring the dictionary for a templated class that has a non-type template parameter of enum class type declared within a namespace fails while running `edmCheckClassVersion`.

Here is a small reproducer:

#### DataFormats/Reproducer/interface/Enumarated.h
[code]

#### DataFormats/Reproducer/BuildFile.xml
[code]

#### DataFormats/Reproducer/src/classes.h
[code]

#### DataFormats/Reproducer/src/cl

[2022-07-14 22:29] cmsbuild commented on #38745
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-14 22:34] sbein commented on #37351
Thanks @makortel. Would you see it as non-invasive to put the guts of one of the endRunProduces [1] into a beginRun function? Perhaps even the ```GenParticles2HepMCConverter.cc```? Any other obvious solution that would allow combining the steps?

[1]
void BeamHaloProducer::endRunProduce(Run& run, const EventSetup& es) {
  // just create an empty product
  // to keep the EventContent definitions ha

[2022-07-14 22:36] cmsbuild commented on #38745
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-14 22:52] makortel commented on #37351
Based on (the little) I understood from generators and the `GenParticles2HepMCConverter` they, unfortunately, look like they fundamentally can not be run in the same job (generators have the information available only at endRun, and `GenParticles2HepMCConverter` uses the information during its `produce()`).

Maybe @cms-sw/generators-l2 can provide further insight.

[2022-07-14 23:06] makortel commented on #38745
After compilation, already
[code]
is enough to trigger the error message.

The `DataFormatsReproducer_xr.rootmap` contains
[code]

@pcanal Any thoughts?

[2022-07-15 01:28] srimanob commented on #37351
Thanks @sbein @makortel to look into the detail. I've not looked at the code yet, but there is a quick question that I can think about. Do we run this part differently in FullSim. I assume generator part is the same for both FastSim and FullSim.

[2022-07-15 03:16] srimanob commented on #37351
OK, after splitting and small modification of DQM, it now works. Maybe we can discuss today at the SIM meeting.

`cmsDriver.py TTbar_14TeV_TuneCP5_cfi -s GEN -n 50 --conditions auto:phase1_2022_realistic --beamspot Run3RoundOptics25ns13TeVLowSigmaZ --datatier GEN --eventcontent FEVTDEBUG --geometry DB:Extended --era Run3_FastSim --fast --python TTbar_14TeV_TuneCP5_2021_Gen.py --no_exec --fileout f

[2022-07-15 04:37] #38725 closed

[2022-07-15 06:37] #37704 closed

[2022-07-15 06:38] #31185 closed

[2022-07-15 06:39] #38554 closed

[2022-07-15 07:23] cmsbuild commented on #38714
The cleanup has started for slc7_amd64_gcc10

[2022-07-15 07:23] cmsbuild commented on #38714
The cleanup has started for el8_amd64_gcc10

[2022-07-15 07:23] cmsbuild commented on #38714
The cleanup has started for el8_ppc64le_gcc10

[2022-07-15 07:23] #38714 closed

[2022-07-15 07:24] cmsbuild commented on #38714
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_7_patch1-el8_ppc64le_gcc10/2128

[2022-07-15 07:24] cmsbuild commented on #38714
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_7_patch1-slc7_amd64_gcc10/2129

[2022-07-15 07:24] cmsbuild commented on #38714
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_7_patch1-el8_amd64_gcc10/2127

[2022-07-15 12:16] mariadalfonso commented on #38686
@srimanob I prepared a fix for your python dump problem.
Can you test locally on your side.

[2022-07-15 12:42] srimanob commented on #38686
Hi @mariadalfonso
Thanks very much.

I try with the following cmsDriver (need to split GEN / FastSim as discussed in https://github.com/cms-sw/cmssw/issues/37351)

**Step-1**
cmsDriver.py TTbar_14TeV_TuneCP5_cfi -s GEN -n 200 --conditions auto:phase1_2022_realistic --beamspot Run3RoundOptics25ns13TeVLowSigmaZ --datatier GEN --eventcontent FEVTDEBUG --geometry DB:Extended --era Run3_FastSim --fast

[2022-07-15 13:10] srimanob commented on #37351
Note that, I put this discussion (in summary) and result of Nano+NanoDQM in the SIM meeting today,
https://indico.cern.ch/event/1182398/ (Workflow talk)

[2022-07-15 13:46] makortel commented on #38725
+1

[2022-07-15 13:46] cmsbuild commented on #38725
This issue is fully signed and ready to be closed.

[2022-07-15 14:51] makortel commented on #37564
Workflow was added in #37633

[2022-07-15 16:31] #32940 closed

[2022-07-15 16:34] makortel commented on #32940
+1

[2022-07-15 21:10] perrotta opened #38764 "Build CMSSW_12_4_3"

[2022-07-15 21:10] cmsbuild commented on #38764
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-07-15 21:11] perrotta commented on #38764
+1

[2022-07-15 21:11] cmsbuild commented on #38764
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-07-15 21:11] cmsbuild commented on #38764
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-07-15 21:13] cmsbuild commented on #38764
The build has started for el8_amd64_gcc10 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3581/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-15 21:13] cmsbuild commented on #38764
The build has started for slc7_amd64_gcc10 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3582/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-15 21:13] cmsbuild commented on #38764
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3584/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-15 21:13] cmsbuild commented on #38764
The build has started for el8_ppc64le_gcc10 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3583/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-16 00:27] cmsbuild commented on #38764
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_3-el8_ppc64le_gcc10/3583
Some tests (

[2022-07-16 00:29] cmsbuild commented on #38764
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_3-el8_aarch64_gcc10/3584
Some tests (

[2022-07-16 00:58] cmsbuild commented on #38764
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_3-slc7_amd64_gcc10/3582
Some tests ( ru

[2022-07-16 01:05] cmsbuild commented on #38764
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_3-el8_amd64_gcc10/3581
Some tests ( runT

[2022-07-16 01:33] cmsbuild commented on #38764
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_3-el8_aarch64_gcc10/3584

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-16 01:38] cmsbuild commented on #38764
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_3-el8_ppc64le_gcc10/3583

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-16 01:48] cmsbuild commented on #38764
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_3-slc7_amd64_gcc10/3582

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-16 01:52] cmsbuild commented on #38764
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_3-el8_amd64_gcc10/3581

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-16 06:30] perrotta commented on #38764
The CMSSW_12_4_X_2022-07-15-2300 IB, that should correspond to this release being built, is showing a unit test error in the test "EDAlias_t" from FWCore/Integration/test/EDAlias_t.cpp for all architectures, see e.g. https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/fri/12.4-fri-23/CMSSW_12_4_X_2022-07-15-2300?utests

It could have been originated by the merging of https://gi

[2022-07-16 06:30] perrotta commented on #38764
upload all

[2022-07-16 06:30] cmsbuild commented on #38764
Queing Jenkins upload for slc7_amd64_gcc10

[2022-07-16 06:30] cmsbuild commented on #38764
Queing Jenkins upload for el8_amd64_gcc10

[2022-07-16 06:30] cmsbuild commented on #38764
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-07-16 06:30] cmsbuild commented on #38764
Queing Jenkins upload for el8_aarch64_gcc10

[2022-07-16 06:31] cmsbuild commented on #38764
The upload has started for el8_amd64_gcc10 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2425/console

[2022-07-16 06:31] cmsbuild commented on #38764
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2424/console

[2022-07-16 06:31] cmsbuild commented on #38764
The upload has started for slc7_amd64_gcc10 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2427/console

[2022-07-16 06:31] cmsbuild commented on #38764
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2426/console

[2022-07-16 06:32] cmsbuild commented on #38764
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_3-el8_amd64_gcc10/2425

[2022-07-16 06:32] cmsbuild commented on #38764
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_3-el8_ppc64le_gcc10/2426

[2022-07-16 06:33] cmsbuild commented on #38764
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_3-slc7_amd64_gcc10/2427

[2022-07-16 06:33] cmsbuild commented on #38764
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_3-el8_aarch64_gcc10/2424

[2022-07-16 06:50] perrotta commented on #38764
release-notes

[2022-07-16 06:51] cmsbuild commented on #38764
Generating release notes since CMSSW_12_4_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-16 06:51] cmsbuild commented on #38764
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_3 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_3

Cheers,
cms-bot

You can also

[2022-07-16 06:57] cmsbuild commented on #38764
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_3

[2022-07-18 04:53] cmsbuild commented on #38764
The cleanup has started for el8_aarch64_gcc10

[2022-07-18 04:53] cmsbuild commented on #38764
The cleanup has started for slc7_amd64_gcc10

[2022-07-18 04:53] cmsbuild commented on #38764
The cleanup has started for el8_amd64_gcc10

[2022-07-18 04:53] cmsbuild commented on #38764
The cleanup has started for el8_ppc64le_gcc10

[2022-07-18 04:53] #38764 closed

[2022-07-18 04:54] cmsbuild commented on #38764
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_3-el8_aarch64_gcc10/2130

[2022-07-18 04:54] cmsbuild commented on #38764
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_3-el8_amd64_gcc10/2131

[2022-07-18 04:54] cmsbuild commented on #38764
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_3-el8_ppc64le_gcc10/2132

[2022-07-18 04:54] cmsbuild commented on #38764
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_3-slc7_amd64_gcc10/2133

[2022-07-19 10:37] AdrianoDee opened #38781 "ROOT Dictionary Error For `CUDADataFormats`"
When trying to run on Run3 RAW files on which the new HLT step has been run (from 12_3_X on) some ROOT dictionary error shows up (see below for a link to a sample log) if the definition of `CUDADataFormats` (such as `TrackSoAHeterogeneousT` or `TrackingRecHit2DHeterogeneous `)  is changed. This has been spotted and affects https://github.com/cms-sw/cmssw/pull/38761. Even if not necessary (as far a

[2022-07-19 10:37] cmsbuild commented on #38781
A new Issue was created by  @AdrianoDee .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-19 13:15] aandvalenzuela commented on #38679
As pointed out in https://github.com/cms-sw/cmssw/issues/38685, the `-Wstrict-overflow` warning is also appearing in `BigProducts/Simulation` in the same files as for `Validation/Geometry`:

[code]

[2022-07-19 13:16] aandvalenzuela commented on #38685
Let's close it then due to duplication in https://github.com/cms-sw/cmssw/issues/38679. Thank you!

[2022-07-19 13:16] #38685 closed

[2022-07-19 13:25] makortel commented on #38781
assign core

[2022-07-19 13:25] cmsbuild commented on #38781
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-19 13:57] makortel commented on #38781
The exception gets (re-)thrown in `BranchDescription::initFromDictionary()`
https://github.com/cms-sw/cmssw/blob/38dffe988aea53064ad34b3116620366f8669764/DataFormats/Provenance/src/BranchDescription.cc#L161-L174
(original exception comes from `TypeWithDict::byName(fullClassName())`. This function is called from
https://github.com/cms-sw/cmssw/blob/38dffe988aea53064ad34b3116620366f8669764/IOPool/In

[2022-07-19 16:25] makortel opened #38789 "History of VecGeom validation in gcc10"
As requested in the ORP meeting today, this issue is to collect the history of VecGeom validation in gcc10.

[2022-07-19 16:25] makortel commented on #38789
assign core, simulation, geometry, operations

[2022-07-19 16:26] makortel commented on #38789
type documentation

[2022-07-19 16:34] makortel commented on #38789
The gcc10 vs gcc9 validation was done in 12_0_0_pre4. The issue about the observed GEM DQM differences is #35030. The

VecGeom version in 12_0_0_pre4 was 1.1.16
https://github.com/cms-sw/cmsdist/blob/b81759451981b68eb03f3e425138ba649007ad32/vecgeom.spec#L1
The default optimization level was used at the time
https://github.com/cms-sw/cmsdist/blob/b81759451981b68eb03f3e425138ba649007ad32/vecgeom.spe

[2022-07-19 20:48] civanch commented on #38789
#7992 has been merged. It is planned to perform private validation comparing CMSSW_12_5_X_2022-07-19-2300 (-O2) versus CMSSW_12_5_X_2022-07-19-1100 (-O3).

Backport to 12_4 #7997 is submitted.

[2022-07-20 02:57] qliphy commented on #38789
The above links should be:   https://github.com/cms-sw/cmsdist/pull/7992      https://github.com/cms-sw/cmsdist/pull/7997

[2022-07-20 04:56] perrotta commented on #38789
See also https://github.com/cms-sw/cmsdist/pull/7992#issuecomment-1189824330

[2022-07-20 21:52] makortel commented on #38781
https://github.com/cms-sw/cmssw/pull/38806 has an attempt for that.

[2022-07-21 01:05] #38729 closed

[2022-07-21 11:36] amecca opened #38812 "In `PixelBaryCentreAnalyzer`, `SiPixelQuality` is not updated when changing run"
When adding in [Alignment/OfflineValidation/plugins/PixelBaryCentreAnalyzer.cc:L302](https://github.com/cms-sw/cmssw/blob/master/Alignment/OfflineValidation/plugins/PixelBaryCentreAnalyzer.cc#L302) the following:
[code]
Running with a run range:
[code]
but with only one run:
[code]
So it seems that the `SiPixelQuality` object returned from `EventSetup::getData()` is not updated.

Note that you may

[2022-07-21 11:37] cmsbuild commented on #38812
A new Issue was created by  @amecca .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-21 12:43] tvami commented on #38812
assign alca

[2022-07-21 12:43] cmsbuild commented on #38812
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-21 12:45] tvami commented on #38812
Shouldnt this
https://github.com/cms-sw/cmssw/blob/master/Alignment/OfflineValidation/plugins/PixelBaryCentreAnalyzer.cc#L129
watch for lumisections?

[2022-07-21 12:53] tvami commented on #38812
i.e.
siPixelQualityToken_(esConsumes<SiPixelQuality, SiPixelQualityFromDbRcd>()),
-->
siPixelQualityToken_(esConsumes<SiPixelQuality, SiPixelQualityFromDbRcd, edm::Transition::BeginLuminosityBlock>()),
or
siPixelQualityToken_(esConsumes<SiPixelQuality, SiPixelQualityFromDbRcd, edm::Transition::EndRun>()),
not really sure if you need to transition really at the lumi block, or the end run, you probl

[2022-07-21 12:55] mmusich commented on #38812
the call is done at `analyze`:

https://github.com/cms-sw/cmssw/blob/d7e416cc8b5654e29c68d406d6aecd52a80561e9/Alignment/OfflineValidation/plugins/PixelBaryCentreAnalyzer.cc#L218

so the `esConsumes` statement is correct.
IF one wants to watch for LS it should be done in the `beginLuminosityBlock` transition (this analyzer doesn't have the method). Also it would beg the question of which LS to take

[2022-07-21 12:58] tvami commented on #38812
@mmusich ok, what about the end run transition then? Could that solve the issue?

[2022-07-21 13:02] mmusich commented on #38812
I think the problem is a bit "ill-defined" as there is no "per-Run"  pixel quality.

[2022-07-21 13:52] rvenditti opened #38814 "DQM Offline GUI indexing problem in StreamExpress__Run2022C-PromptCalibProdSiStripHitEff dataset"
The dataset /StreamExpress/Run2022C-PromptCalibProdSiStripHitEff-Express-v1/ALCAPROMPT (run numbers 355807-355942) is not registered in the Offline DQM GUI. We found that the rootfiles are available on DQM machines (see https://cmsweb.cern.ch/dqm/offline/data/browse/ROOT/OfflineData/Run2022/StreamExpress/0003559xx/ ) but they have not been registered in the DQM Offline GUI database. From log files

[2022-07-21 13:52] cmsbuild commented on #38814
A new Issue was created by  @rvenditti .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-21 13:58] makortel commented on #38814
assign dqm

[2022-07-21 13:59] cmsbuild commented on #38814
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-21 14:03] tvami commented on #38814
FYI @mmusich

[2022-07-21 14:51] jfernan2 commented on #38814
Hi @mmusich
The problem is in the semicoon ":", not in the sign:
Valid characters:
https://github.com/cms-DQM/dqmgui_prod/blob/af0a388e8f57c60e51111585d298aeeea943367f/src/cpp/DQM/DQMStore.cc#L56

The check:
https://github.com/cms-DQM/dqmgui_prod/blob/af0a388e8f57c60e51111585d298aeeea943367f/src/cpp/DQM/DQMStore.cc#L1893-L1898

[2022-07-21 15:03] mmusich commented on #38814
@jfernan2,
thanks

does it apply only to the histogram names or also to the titles, labels, etc?

[2022-07-21 15:05] amecca commented on #38812
Indeed, since the call to `EventSetup::getData()` is done in the `analyze()` method, changing the token's initialization to
[code]
causes an error [1] at runtime.

Just to be clear, this tool needs per-IOV pixel quality, so the original author used an ESWatcher to monitor the TrackerAlignmentRcd and fetch the SiPixelQuality only when it changes.
We are aware that this might not be the optimal solu

[2022-07-21 15:10] jfernan2 commented on #38814
MEs names and paths, not titles or labels.

DQMStore: Monitor element path name 'TEC+1: Map of missing hits' uses unacceptable characters

[2022-07-21 15:19] makortel commented on #38814
Is the validity of the histogram name not checked at the time of booking? If not, could the check be added there?

[2022-07-21 15:21] mmusich commented on #38814
apparently it's not because running the workflow locally creates valid root files that can be inspected with `TBrowser` just fine.
The issue appears only in streaming the files on the DQM GUI.

[2022-07-21 15:23] jfernan2 commented on #35726
@Dr15Jones @makortel

Despite the fix you nicely implemented here, it seems we are facing a similar problem:
https://cms-talk.web.cern.ch/t/paused-jobs-for-promptreco-ephemeralhltphysics-0-19/13134/3
in this file (and other similar ones with almost no events and LSs...)

The file producing the crash has 28LS but 20 only events: /eos/cms/tier0/store/data/Run2022C/EphemeralHLTPhysics1/RAW/v1/000/355

[2022-07-21 15:25] jfernan2 commented on #38814
Right, it is the index which has troubles with special characters, due to DB constraints

[2022-07-21 15:29] makortel commented on #35726
@jfernan2 Could you open a new issue? On a first look `Assertion !assertLegacySafe_' failed.` looks like a different problem than the one reported in this issue.

[2022-07-21 15:40] jfernan2 opened #38820 "Assertion !assertLegacySafe_ failed in DQMStore"
Despite the fix nicely implemented here https://github.com/cms-sw/cmssw/pull/35756 and discussed here https://github.com/cms-sw/cmssw/issues/35726, it seems we are facing a similar problem:
https://cms-talk.web.cern.ch/t/paused-jobs-for-promptreco-ephemeralhltphysics-0-19/13134/3
in this file (and other similar ones with almost no events and LSs...)

The file producing the crash has 28LS but 20 on

[2022-07-21 15:40] jfernan2 commented on #38820
assign dqm

[2022-07-21 15:40] cmsbuild commented on #38820
A new Issue was created by  @jfernan2 .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-21 15:51] makortel commented on #38820
I see the `PSet.py` in the tarball has
[code]
and `DQMStore` by default sets `assertLegacySafe_` to `true`
https://github.com/cms-sw/cmssw/blob/5984a2e3640ac76b88939cfba90cee1bac051d65/DQMServices/Core/src/DQMStore.cc#L741

https://github.com/cms-sw/cmssw/pull/34366 set the `assertLegacySafe = False` only in `DQMStore_cfi.py`, so this does not end up being used in this (these?) T0 jobs. Maybe the

[2022-07-21 16:09] jfernan2 commented on #38820
Thank you @makortel !!
Your solution works perfect, as usual.
I have created PRs for master and 12_4_X
https://github.com/cms-sw/cmssw/pull/38821
https://github.com/cms-sw/cmssw/pull/38822

The reason why this may have not been probably seen before is because the crashing PD has acombination of LSs with no events and has not dqm_sequence defined, hence the DQMStore class is used from the class tem

[2022-07-21 16:26] mmusich commented on #38814
see a possible fix at https://github.com/cms-sw/cmssw/pull/38823. I profited to rename the histograms a bit.

[2022-07-21 18:08] makortel commented on #38812
The `SiPixelQuality` in `SiPixelQualityFromDbRcd` record comes directly from the conditions database, right? I suppose further investigations would need a recipe to reproduce the described behavior.

[2022-07-21 18:37] mmusich commented on #38812
Yes, even though it would be probably better to fetch it from `SiPixelQualityRcd`, which  comes from an `ESProducer` (this would need an aside follow-up)

I think the issue description gives a way to reproduce, including the exact commands.
Though this

is not really needed,  one can just print:

[code]

[2022-07-21 19:25] makortel commented on #38812
Thanks @mmusich. In 12_5_0_pre3 I get consistently 68 for both runs (345747 and 345863, when run together or separately).

If I interpret the output of `conddb list SiPixelQuality_v07_offline` correctly, both of these runs are covered with the same IOV (`[345747:1, 346169:1[`), so the value should be the same for those runs.

Is the problem then why in one case it gave (or still gives?) 66 and in

[2022-07-21 19:36] mmusich commented on #38812
I think so, though @amecca should clarify better.
On a side note the configuration is using an `EmptySource`  with 1 event per run in the first LS:

https://github.com/cms-sw/cmssw/blob/3366348d820fac30187461f83eac3ca20e010840/Alignment/OfflineValidation/test/PixelBaryCentreAnalyzer_cfg.py#L47-L53

I don't know if this plots a role.

[2022-07-21 19:58] amecca commented on #38812
I forgot that I had changed the GlobalTag in the config from `"auto:run2_data"` to `"124X_dataRun3_v9"`.
This is the exact recipe to reproduce the issue.

[2022-07-21 20:15] makortel commented on #38812
Thanks. With `124X_dataRun3_v9` I was able to reproduce the issue, i.e. 345747 alone gives consistently 66, 345863 alone gives consistently 68, and together they give 66. I see `124X_dataRun3_v9` has the same tag `SiPixelQuality_v07_offline` as `124X_dataRun2_v2`, so the IOV structure is the same, which explains why framework does not update anything in `SiPixelQualityFromDbRcd` between those runs

[2022-07-21 20:18] mmusich commented on #38812
As I have already discussed with @amecca it's not a good idea to use `124X_dataRun3_v9` when analyzing ~recent runs because it has a snapshot and the framework will not deliver IoVs inserted in the DB more recently than the snapshot.

[2022-07-21 20:35] tvami commented on #38198
+alca
 * new wf introduced in https://github.com/cms-sw/cmssw/pull/38681

[2022-07-21 20:36] tvami commented on #38198
@jpata can you please take over from that? Thanks!

[2022-07-22 00:18] #38814 closed

[2022-07-22 01:01] makortel commented on #38814
Could a check for valid histogram names be added to histogram booking in order to catch these kinds of problems early?

[2022-07-22 06:17] mmusich commented on #38814
What about here:

https://github.com/cms-sw/cmssw/blob/106b43f50a61de1e7497a2a5aec8b30727d99c82/DQMServices/Core/src/DQMStore.cc#L63-L68

[2022-07-22 06:52] fwyzard commented on #37790
+heterogeneous

[2022-07-22 07:34] jfernan2 commented on #38814
I leave it up to @emanueleusai to decide, I believe it may be useful, yes

[2022-07-22 12:03] mmusich commented on #38814
OK, I've opened https://github.com/cms-sw/cmssw/pull/38831 for review. It can be merged in case it's deemed useful by the DQM core team.

[2022-07-22 12:19] #38820 closed

[2022-07-22 13:33] Dr15Jones commented on #38812
@mmusich it appears that when using a snapshot, if someone requests data for a run beyond the end of the snapshot they are given the last IOV instead. Instead, would it be possible to not return a data product at all in the cases where one is requesting data for a run off the end of the snapshot?

[2022-07-22 14:33] mmusich commented on #38812
@Dr15Jones

Yes, this is the original design from when we moved to CondDB version2.

I think the technical part of the question pertains to @cms-sw/db-l2.
From a consumer perspective, changing the behavior in the suggested way might be useful in certain situations to spot "buggy" configurations, on the other hand, it would need some careful consideration because I suspect that there are many users

[2022-07-22 14:40] tvami commented on #38812
Giacomo is on vacation, so it will take some time to get an answer from him

[2022-07-23 07:08] bsunanda commented on #38789
I created big xml files using the O2 and O3 options. I ran then 1000 ttbar events using either of these options in CMSSW versions with O2 and O3 option. The conclusion is generation of the big xml file is not affected by the compiler otimization option but the results from the SIM results do. I attach a text file with mean differences of the ratio from 1 in 3 cases:
(1) geometry generated using op

[2022-07-23 07:52] civanch commented on #38789
In simulation of 1st MinBias event, number of hits in each sub-detector, SimVertex, and SimTrack are different between -O2 and -O3 variants of VecGeom compilation. So, only statistical comparison of results is possible and obviously -O2 should be used for production.

[2022-07-25 15:51] makortel commented on #37742
+1

I suppose a 12_3_X backport is not needed anymore

[2022-07-25 17:36] civanch commented on #38789
TB2006 results are identical for -O2 and -O3. This means that the problem happens not in the barrel calorimeters.
![image](https://user-images.githubusercontent.com/4955118/180839697-d71cd2df-8603-4430-b084-a8390c1102b8.png)

[2022-07-26 07:02] kskovpen opened #38860 "Crash related to l1tPFCandidates"
We have spotted a problem when running Phase2 reconstruction sequences in 12_5_0_pre3 on top of the simulation files that were produced in 12_5_0_pre2. The issue may or may not be connected to https://github.com/cms-sw/cmssw/pull/38230. The crash info is appended below and can also be found here: https://cms-unified.web.cern.ch/cms-unified/showlog/?search=CMSSW_12_5_0_pre3__UPSG_Std_2026D88PU200_R

[2022-07-26 07:02] cmsbuild commented on #38860
A new Issue was created by  @kskovpen .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-26 07:07] srimanob commented on #38860
assign upgrade

[2022-07-26 07:08] cmsbuild commented on #38860
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-26 07:09] srimanob commented on #38860
To be clear, the job uses RAW file out from DIGI-HLT step from previous release, to run RECO only, right?
This is not the case of using existing GEN-SIM to rerun DIGI-RECO again, i.e. as in IB test.

[2022-07-26 07:11] kskovpen commented on #38860
To be more specific, the failed wf uses dbs:/RelValTTbar_14TeV/CMSSW_12_5_0_pre2-PU_124X_mcRun4_realistic_v4_2026D88PU200-v1/GEN-SIM-DIGI-RAW as input.

[2022-07-26 07:38] ryanm124 commented on #35010
@cecilecaillol It looks like the PR has passed all checks and just needs signatures. Is there anything else needed from me?

[2022-07-26 09:42] VinInn commented on #38739
made progress.
try to create geom in beginRun

now I get
----- Begin Fatal Exception 26-Jul-2022 11:39:10 CEST-----------------------
An exception of category 'DetectorDescriptionFault' occurred while
   [0] Processing global begin Run run: 1
   [1] Calling method for module GeometryProducer/'geopro'
Exception Message:
DDG4SolidConverter::convert: conversion failed for s=ebalgo:ESPM   ShapelessSol

[2022-07-26 11:08] VinInn commented on #38739
more progress
with
[code]
seems to work (in wf 20.0)

at least
[code]

does not crash

[2022-07-26 13:42] makortel commented on #38860
The problem is indeed caused by #38230, more specifically this change in `DataFormats/L1TParticleFlow/interface/PFCandidate.h`
[code]
with `l1t::SAMuonRef` being defined as
https://github.com/cms-sw/cmssw/blob/d274e6059bb2ec56587312eaa188dba33bf2d2e4/DataFormats/L1TMuonPhase2/interface/SAMuon.h#L16-L17

It is not possible to convert `edm::Ptr<X>` to `edm::Ref<Y>` (even if `X == Y`), so this change

[2022-07-26 13:46] srimanob commented on #38860
FYI @cecilecaillol @cms-sw/l1-l2

[2022-07-26 13:46] srimanob commented on #38860
assign l1

[2022-07-26 13:46] cmsbuild commented on #38860
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-26 13:51] makortel commented on #38860
The exception message indicates that the `l1tPFCandidates_l1pfCandidates_Calo_HLT` branch was requested by the OutputModule. **If** nothing else needs it in the job, and **if** it is not needed downstream, the problem could be circumvented by dropping the branch on input.

[2022-07-26 14:40] srimanob commented on #38860
Thanks @makortel
I believe l1tPFCandidates_l1pfCandidates_*_HLT is still needed, at least in the DQM code, i.e. https://github.com/cms-sw/cmssw/blob/master/DQMOffline/L1Trigger/python/L1TPhase2Offline_cfi.py#L89-L100

Running with `--outputCommand "drop l1tPFCandidates_l1pfCandidates_*_HLT"` gives a crash in DQM.
[code]

[2022-07-26 17:36] tvami commented on #35005
hi @laurenhay any news on this?

[2022-07-26 21:25] perrotta opened #38866 "Build CMSSW_12_4_4"

[2022-07-26 21:25] cmsbuild commented on #38866
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-07-26 21:26] perrotta commented on #38866
+1

[2022-07-26 21:27] cmsbuild commented on #38866
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-07-26 21:27] cmsbuild commented on #38866
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-07-26 21:29] cmsbuild commented on #38866
The build has started for el8_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3585/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-26 21:29] cmsbuild commented on #38866
The build has started for slc7_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3586/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-26 21:49] cmsbuild commented on #38866
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3587/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-26 22:25] cmsbuild commented on #38866
The was an error for el8_aarch64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_aarch64_gcc10/3587

[2022-07-26 22:25] cmsbuild commented on #38866
The build has started for el8_ppc64le_gcc10 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3588/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-26 22:52] cmsbuild commented on #38866
The was an error for el8_ppc64le_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_ppc64le_gcc10/3588

[2022-07-27 00:09] qliphy commented on #38866
@aandvalenzuela @smuzaffar @cms-sw/core-l2   There seems to be build errors on vecgeom for el8_ppc64le_gcc10 and el8_aarch64_gcc10
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_ppc64le_gcc10/3588/LOGS/external/vecgeom/v1.1.17-be522ca6cc7ef8812a6c203416720a71/log
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_ppc64le_gcc10/3588/LO

[2022-07-27 00:10] qliphy commented on #38866
The build errors seem not in IB.  @aandvalenzuela @smuzaffar Can you have a look or restart the build for el8_ppc64le_gcc10 and el8_aarch64_gcc10?

[2022-07-27 01:37] qliphy opened #38867 "Build CMSSW_12_5_0_pre4"

[2022-07-27 01:38] cmsbuild commented on #38867
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-07-27 01:39] qliphy commented on #38867
+1

[2022-07-27 01:40] cmsbuild commented on #38867
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-07-27 01:41] cmsbuild commented on #38867
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3589/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-27 01:41] cmsbuild commented on #38866
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-slc7_amd64_gcc10/3586
Some tests ( ru

[2022-07-27 01:45] cmsbuild commented on #38867
The build has started for el8_amd64_gcc10 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3590/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-27 01:59] cmsbuild commented on #38867
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3591/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-27 01:59] cmsbuild commented on #38867
The build has started for el8_amd64_gcc11 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3592/console
CMSDIST Branch: [IB/CMSSW_12_5_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-27 02:00] cmsbuild commented on #38867
The build has started for slc7_amd64_gcc10 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3593/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-27 02:32] cmsbuild commented on #38866
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-slc7_amd64_gcc10/3586

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 02:36] cmsbuild commented on #38866
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_amd64_gcc10/3585

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 07:00] cmsbuild commented on #38867
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-el8_aarch64_gcc10/3591
Some tes

[2022-07-27 07:42] cmsbuild commented on #38867
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-el8_aarch64_gcc10/3591

Tests results:
50 49 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 07:56] cmsbuild commented on #38867
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-el8_ppc64le_gcc10/3589
Some tes

[2022-07-27 08:50] cmsbuild commented on #38867
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-slc7_amd64_gcc10/3593
Some tests

[2022-07-27 09:08] cmsbuild commented on #38867
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-el8_amd64_gcc11/3592
Some tests (

[2022-07-27 09:14] cmsbuild commented on #38867
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-el8_ppc64le_gcc10/3589

Tests results:
50 49 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 09:16] cmsbuild commented on #38867
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-el8_amd64_gcc10/3590
Some tests (

[2022-07-27 09:19] cmsbuild commented on #38866
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3594/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-27 09:21] cmsbuild commented on #38866
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3595/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-27 09:23] perrotta commented on #38867
upload all

[2022-07-27 09:23] cmsbuild commented on #38867
Queing Jenkins upload for slc7_amd64_gcc10

[2022-07-27 09:23] cmsbuild commented on #38867
Queing Jenkins upload for el8_amd64_gcc10

[2022-07-27 09:23] cmsbuild commented on #38867
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-07-27 09:23] cmsbuild commented on #38867
Queing Jenkins upload for el8_aarch64_gcc10

[2022-07-27 09:23] cmsbuild commented on #38867
Queing Jenkins upload for el8_amd64_gcc11

[2022-07-27 09:24] aandvalenzuela commented on #38866
Hi @qliphy, I have restarted them :)

[2022-07-27 09:24] cmsbuild commented on #38867
The upload has started for el8_amd64_gcc10 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2429/console

[2022-07-27 09:24] cmsbuild commented on #38867
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2428/console

[2022-07-27 09:24] cmsbuild commented on #38867
The upload has started for el8_amd64_gcc11 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2430/console

[2022-07-27 09:25] cmsbuild commented on #38867
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2431/console

[2022-07-27 09:25] perrotta commented on #38866
Thank you @aandvalenzuela !

[2022-07-27 09:26] cmsbuild commented on #38867
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre4-el8_aarch64_gcc10/2428

[2022-07-27 09:26] cmsbuild commented on #38867
The upload has started for slc7_amd64_gcc10 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2432/console

[2022-07-27 09:26] cmsbuild commented on #38867
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre4-el8_amd64_gcc11/2430

[2022-07-27 09:26] cmsbuild commented on #38867
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre4-el8_ppc64le_gcc10/2431

[2022-07-27 09:26] cmsbuild commented on #38867
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre4-el8_amd64_gcc10/2429

[2022-07-27 09:26] cmsbuild commented on #38867
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre4-slc7_amd64_gcc10/2432

[2022-07-27 09:38] cmsbuild commented on #38867
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-slc7_amd64_gcc10/3593

Tests results:
50 49 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 09:49] perrotta commented on #38867
release-notes

[2022-07-27 09:49] cmsbuild commented on #38867
Generating release notes since CMSSW_12_5_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-27 09:49] cmsbuild commented on #38867
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_5_0_pre4 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_5_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_0_pre4

[2022-07-27 09:53] cmsbuild commented on #38867
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre4

[2022-07-27 09:55] cmsbuild commented on #38867
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-el8_amd64_gcc11/3592

Tests results:
50 49 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 10:05] cmsbuild commented on #38867
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre4-el8_amd64_gcc10/3590

Tests results:
50 49 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 11:43] tvami commented on #38866
hi @perrotta is there a way to upload `el8_amd64_gcc10` alone, instead of waiting for the non-production builds? Or you can just do all at once?

[2022-07-27 12:27] perrotta commented on #38866
Let do it all at once, as usual, and not invent strange procedures...

[2022-07-27 12:32] ebrondol opened #38869 "Segmentation fault in the TrackProducer for EphemeralHLTPhysics"
[as current shadow ORM]

A single job was paused while processing PromptReco for the EphemeralHLTPhysics PD due to segmentation fault in the `TrackProducer`:
[code]
The error is locally reproducible and the job tarball (including PSet and log files) can be found here:
[code]
The full description of the issue can be found in [CMS Talk](https://cms-talk.web.cern.ch/t/paused-job-for-promptreco-epheme

[2022-07-27 12:32] cmsbuild commented on #38869
A new Issue was created by  @ebrondol Erica Brondolin.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-27 12:34] francescobrivio commented on #38869
assign trk-dpg

[2022-07-27 12:34] tvami commented on #38869
assign reconstruction

[2022-07-27 12:34] tvami commented on #38869
type tracking

[2022-07-27 12:35] tvami commented on #38869
that's not a separate thing, it's under the label of `tracking` for the `reconstruction`

[2022-07-27 12:51] cmsbuild commented on #38866
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_ppc64le_gcc10/3595
Some tests (

[2022-07-27 12:51] mmusich commented on #38869
@ebrondol

No.
I am out of office and will not look at this until maybe 10 days. Since it's an isolated job, just fail it.

[2022-07-27 12:53] mmusich commented on #38869
@ebrondol

for the sake of those that will debug please post also the stack trace of the failing thread, the message you provided is not very informative.

[2022-07-27 12:53] tvami commented on #38869
@slava77 maybe?

Already been done.

[2022-07-27 13:08] aandvalenzuela commented on #38866
Hi @qliphy, it seems the vecgeom build errors are now gone (I have checked and there are not build errors for `aarch64` either)

[2022-07-27 13:16] qliphy commented on #38866
Great.  Thanks @aandvalenzuela !

[2022-07-27 13:25] slava77 commented on #38869
was somebody able to reproduce this with a "pointed" config? It would be quite useful/effective to be able to get to the problematic event directly.

[2022-07-27 13:28] cmsbuild commented on #38866
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_aarch64_gcc10/3594
Some tests (

[2022-07-27 13:37] makortel commented on #38869
Here is the stack trace
[code]

[2022-07-27 13:41] cmsbuild commented on #38866
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_ppc64le_gcc10/3595

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 13:55] perrotta commented on #38866
upload all

[2022-07-27 13:55] cmsbuild commented on #38866
Queing Jenkins upload for slc7_amd64_gcc10

[2022-07-27 13:55] cmsbuild commented on #38866
Queing Jenkins upload for el8_amd64_gcc10

[2022-07-27 13:55] cmsbuild commented on #38866
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-07-27 13:55] cmsbuild commented on #38866
Queing Jenkins upload for el8_aarch64_gcc10

[2022-07-27 13:57] cmsbuild commented on #38866
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2433/console

[2022-07-27 13:58] cmsbuild commented on #38866
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_4-el8_aarch64_gcc10/2433

[2022-07-27 13:58] cmsbuild commented on #38866
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2435/console

[2022-07-27 13:59] cmsbuild commented on #38866
The upload has started for slc7_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2436/console

[2022-07-27 14:01] cmsbuild commented on #38866
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_4-slc7_amd64_gcc10/2436

[2022-07-27 14:04] cmsbuild commented on #38866
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_4-el8_amd64_gcc10/2434

[2022-07-27 14:08] perrotta commented on #38866
release-notes

[2022-07-27 14:08] cmsbuild commented on #38866
Generating release notes since CMSSW_12_4_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-27 14:08] cmsbuild commented on #38866
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_4 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_4

Cheers,
cms-bot

You can also

[2022-07-27 14:16] cmsbuild commented on #38866
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_4

[2022-07-27 14:30] cmsbuild commented on #38866
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_4-el8_aarch64_gcc10/3594

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-27 14:32] mmusich commented on #38869
I think this falls under the responsibilities of the ORM.
Who's is it this week?

BTW, do I read correctly this is the problematic thread?

[code]

?

[2022-07-27 14:33] Dr15Jones commented on #38869
Yes, thread 10 is where the problem lies.

[2022-07-27 14:38] mmusich commented on #38869
So, the problem is actually with the 2D templates interpolation and not tracking per se.

[2022-07-27 14:40] mmusich commented on #38869
@tvami, please remove the tracking type and assignment.
Incidentally you are among the main template experts in CMS...

[2022-07-27 14:40] tvami commented on #38869
@mdmorris and shadow-ORM @ebrondol

[2022-07-27 14:41] tvami commented on #38869
unassign tracking-pog

[2022-07-27 14:42] tvami commented on #38869
Yes, I'll have a look...

[2022-07-27 14:49] Dr15Jones commented on #38869
The simple configuration

skip_cfg.py
[code]

If run in the same directory as PSet.py an PSet.pkl will fail in the first event to be processed.

[2022-07-27 15:35] makortel commented on #35578
Hi @igv4321, would you have any update on schedule to get `FFTJetModules` and `FFTJetObjects` migrated?

[2022-07-27 19:28] tvami commented on #38812
+alca
 * the problem reported in the issue is solved by using the correct GT
 * after discussing the getData functionality with snapshots with @ggovi and @cms-sw/alca-l2 the decision is that this is a feature and thus it's category `wontfix`

[2022-07-27 19:28] cmsbuild commented on #38812
This issue is fully signed and ready to be closed.

[2022-07-27 19:43] tvami commented on #32357
@srimanob @bsunanda what is the timeline now for the Phase-2 DD4hep geometries?

[2022-07-27 19:47] tvami commented on #38669
+alca
 * point 1 is resolved in https://github.com/cms-sw/cmssw/pull/38737
 * point 2 is resolved in https://github.com/cms-sw/cmssw/pull/38700
 * point 3 is a performance-improvement suggestion, I believe it's on the further TODO list and doesnt seem urgent

[2022-07-27 21:36] pcanal commented on #38745
I can indeed a reproduce the problem with the header above, the selection xml and a simple invocation of genreflex.

When testing taking the enum out of the scope, I get:
[code]

@vgvassilev What are our options here?

[2022-07-28 05:08] bsunanda commented on #32357
Once we find one stable scenario for Phase2 description, we can think of either DDD or DD4Hep version to be loaded to DB. Currently only DDD versions for Phase2 geometries are running satisfactorily. We need to resolve the DD4hep issue and then reach a stable scenario. Both tracker and HGCal geometries are evolving and none of the Phase2 detectors have gone for "construction" phase as yet
________

[2022-07-28 07:56] ggovi commented on #38812
Hello,
the feature under discussion is implemented by selecting the iovs inserted before the 'freezing' timestamp. This implementation replaces the condbv1 solution, that was based on dedicated snapshot databases exported on demand by the DBAs.  The final behaviour is the same, as it depends only on the 'open iov' approach, that has been adopted in CMS since the early phases.
On the other hand, @D

[2022-07-28 08:02] mdmorris commented on #38869
2 more paused jobs have been reported in the CMS Talk thread: https://cms-talk.web.cern.ch/t/paused-job-for-promptreco-ephemeralhltphysics-due-to-segfault/13318/3

I am testing these locally to see if the segmentation fault is similar

[2022-07-28 10:07] mmusich commented on #38812
@ggovi

Out of curiosity could such a mechanism be implemented "on demand", such that it throws if no data is found when a certain "strict" flag is demanded, but the default is not changed?

[2022-07-28 12:16] mmusich commented on #38869
reporting here also some private findings by @ferencek

It looks like the trajectory local parameters are not well defined which is in line with the warning that is emitted just before in the job:
[code]

clearly there is something fishy in the trajectory building, but can we patch protecting against ill defined trajectories?
e.g. with this patch:
[code]

the job reported in the initial comment: h

[2022-07-28 12:29] mmusich commented on #38869
EDIT: seems that the protection introduced here: https://github.com/cms-sw/cmssw/pull/34846 by @OzAmram happens too late in the code for the 2D case.

[2022-07-28 12:37] tvami commented on #38869
I made a PR here: https://github.com/cms-sw/cmssw/pull/38881
I also changed the 1D reco, I'm not sure if that was really needed or not, but I could imagine the same problem coming up there too, right?

[2022-07-28 13:32] Dr15Jones commented on #38869
looking at the logs I see the traceback to where the segmentation fault occurs are the same.

[2022-07-28 14:17] ggovi commented on #38812
@mmusich Yes it could be possibly on demand, we need to define properly the usage and the policy.

[2022-07-28 14:57] vgvassilev commented on #38745
We seem to be fencing against that particular use case here https://github.com/root-project/root/blob/5c8008d6ee1822e14a3c46cd9c4c413c53632518/core/clingutils/src/TClingUtils.cxx#L5215-L5221

On the other hand I could forward declare this enum: https://godbolt.org/z/cf1WbfhKo

[2022-07-28 18:00] makortel opened #38885 "Unit test and workflow failures because of illegal characters in MonitorElement path name"
The unit test testSiStripDQM_OfflineTkMap started to fail in CMSSW_12_5_X_2022-07-28-1100 with a segfault
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-07-28-1100/unitTestLogs/DQM/SiStripMonitorClient#/

The cause probably lies in the beginning of the log
[code]

[2022-07-28 18:01] makortel commented on #38885
assign dqm

[2022-07-28 18:01] cmsbuild commented on #38885
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-28 18:01] cmsbuild commented on #38885
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-28 18:01] makortel commented on #38885
FYI @cms-sw/trk-dpg-l2

[2022-07-28 18:01] makortel commented on #38885
Seems like caused by https://github.com/cms-sw/cmssw/pull/38831

[2022-07-28 18:04] makortel commented on #38885
The workflow 1042.0 step 3 fails in the same way
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-07-28-1100/pyRelValMatrixLogs/run/1042.0_RunExpressPhy2017F+RunExpressPhy2017F+TIER0EXPPPSCALALIG+ALCASPLITPPSALIG+ALCAHARVDPPSALIG/step3_RunExpressPhy2017F+RunExpressPhy2017F+TIER0EXPPPSCALALIG+ALCASPLITPPSALIG+ALCAHARVDPPSALIG.log#/

[2022-07-28 18:04] makortel commented on #38885
assign alca

FYI @cms-sw/ctpps-dpg-l2 (for https://github.com/cms-sw/cmssw/issues/38885#issuecomment-1198466755)

[2022-07-28 18:05] cmsbuild commented on #38885
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-28 18:28] tvami commented on #38885
Is it the comma that's wrong?

I dont see anything here, is it the whitespace? Dont we have a tonne of MEs with whitespace in them? (that work anyway)

[2022-07-28 18:33] mmusich commented on #38885
Yes.

I think the problem is that the path is checked (not only the histogram name) and when the file is remote, it includes also unacceptable characters in the lfn.

[2022-07-28 18:37] tvami commented on #38885
@ChrisMisan can you please fix that? Thanks!

[2022-07-28 18:47] forthommel opened #38887 "Cleanup of ctpps_2021 era"
As noted by @civanch in the review of #38280 the `ctpps_2021` era is to be superseded by `ctpps_2022` for obvious reasons. A systematic removal of all instances of the earlier in all parts of released and user-consumer code is to be performed as soon as the merging of #38280 is effective.

[2022-07-28 18:47] cmsbuild commented on #38887
A new Issue was created by  @forthommel Laurent Forthomme.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-28 18:56] makortel commented on #38887
assign simulation,reconstruction,daq,operations

(based on packages shown by `git grep ctpps_2021`)

[2022-07-28 18:56] cmsbuild commented on #38887
New categories assigned: operations,daq,reconstruction,simulation

@jpata,@fabiocos,@mdhildreth,@davidlange6,@qliphy,@rappoccio,@clacaputo,@perrotta,@smorovic,@emeschi,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-28 19:51] mmusich commented on #38885
@cms-sw/dqm-l2

regarding

I can either:
   1. Change the unit test such that the input file becomes local
https://github.com/cms-sw/cmssw/blob/cce0fce7c41b73c34804e05dda845cf213a8d603/DQM/SiStripMonitorClient/test/test_SiStripDQM_OfflineTkMap.sh#L11

   2. Lift the requirement of having a sanitized path and just require the histogram name to be have acceptable characters.
   3.  Change the logic

[2022-07-29 07:36] lathomas opened #38890 "L1 Unprefirable event information is missing in MINIAOD for Run 3"
L1 Unprefirable event information is missing in MINIAOD for Run 3

Hello,

The information related to L1 unprefirable events is not available in Run 3 MINIAOD.
Indeed the relevant producer (`simGtExtUnprefireable`) is only enabled for `run2_miniAOD_UL` eras:
https://github.com/cms-sw/cmssw/blob/CMSSW_12_4_X/PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py#L622-L623

Obviously this impacts al

[2022-07-29 07:37] cmsbuild commented on #38890
A new Issue was created by  @lathomas .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-29 07:53] cmsbuild commented on #38867
The cleanup has started for el8_aarch64_gcc10

[2022-07-29 07:53] cmsbuild commented on #38867
The cleanup has started for slc7_amd64_gcc10

[2022-07-29 07:53] cmsbuild commented on #38867
The cleanup has started for el8_amd64_gcc10

[2022-07-29 07:54] cmsbuild commented on #38867
The cleanup has started for el8_ppc64le_gcc10

[2022-07-29 07:54] cmsbuild commented on #38867
The cleanup has started for el8_amd64_gcc11

[2022-07-29 07:54] #38867 closed

[2022-07-29 07:54] cmsbuild commented on #38867
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre4-el8_aarch64_gcc10/2134

[2022-07-29 07:54] cmsbuild commented on #38867
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre4-el8_amd64_gcc10/2135

[2022-07-29 07:54] cmsbuild commented on #38867
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre4-el8_amd64_gcc11/2136

[2022-07-29 07:54] cmsbuild commented on #38867
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre4-el8_ppc64le_gcc10/2137

[2022-07-29 07:54] cmsbuild commented on #38867
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre4-slc7_amd64_gcc10/2138

[2022-07-29 08:59] aandvalenzuela opened #38892 "Compiler errors and unit test failure in `IOPool/Common` for el9_x_gcc11"
Hello,

There are some both compiler errors and a unit test failure in package `IOPool/Common` in last night IBs [CMSSW_12_5_X_2022-07-28-2300](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el9_amd64_gcc11/www/thu/12.5-thu-23/CMSSW_12_5_X_2022-07-28-2300?utests) for `el9_amd64_gcc11` and `el9_aarch64_gcc11`.

- Compiler errors:
[code]

- Unit test failure in test `TestEdmConfigDump`:
[code]

[2022-07-29 09:00] cmsbuild commented on #38892
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-29 09:01] aandvalenzuela commented on #38892
asign core

[2022-07-29 09:02] cmsbuild commented on #38892
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-29 11:53] #33172 closed

[2022-07-29 11:55] srimanob commented on #29345
Close and follow up in https://github.com/cms-sw/cmssw/issues/38686

[2022-07-29 11:55] #29345 closed

[2022-07-29 11:56] srimanob commented on #27889
@cms-sw/operations-l2 should this issue be closed?

[2022-07-29 11:56] #30070 closed

[2022-07-29 12:08] cmsbuild commented on #38866
The cleanup has started for el8_aarch64_gcc10

[2022-07-29 12:08] cmsbuild commented on #38866
The cleanup has started for slc7_amd64_gcc10

[2022-07-29 12:08] cmsbuild commented on #38866
The cleanup has started for el8_amd64_gcc10

[2022-07-29 12:08] cmsbuild commented on #38866
The cleanup has started for el8_ppc64le_gcc10

[2022-07-29 12:08] #38866 closed

[2022-07-29 12:09] cmsbuild commented on #38866
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_4-el8_aarch64_gcc10/2139

[2022-07-29 12:09] cmsbuild commented on #38866
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_4-el8_amd64_gcc10/2140

[2022-07-29 12:09] cmsbuild commented on #38866
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_4-slc7_amd64_gcc10/2142

[2022-07-29 12:09] cmsbuild commented on #38866
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_4-el8_ppc64le_gcc10/2141

[2022-07-29 12:14] perrotta commented on #27889
I think so

[2022-07-29 12:14] #27889 closed

[2022-07-29 12:19] #38869 closed

[2022-07-29 13:18] makortel commented on #38890
assign reconstruction,xpog,l1

[2022-07-29 13:18] cmsbuild commented on #38890
New categories assigned: xpog,reconstruction,l1

@jpata,@mariadalfonso,@epalencia,@gouskos,@swertz,@clacaputo,@rekovic,@cecilecaillol,@vlimant you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-29 13:20] makortel commented on #38892
This is fixed in https://github.com/cms-sw/cmssw/pull/38889

[2022-07-29 13:44] mariadalfonso commented on #38890
@jpata @clacaputo
how do we handle the Run3 era in mini ?
are many things that have been fixed for the run2_miniAOD_UL, and are not pipelined for Run3 ? or this is an isolated case ?

[2022-07-29 14:03] mmusich commented on #38885
There are actually two problems with path name.
The comma here

https://github.com/cms-sw/cmssw/blob/791d9de9c05e0ffd341fc0e9510d7fcda3b1faf7/CalibPPS/AlignmentGlobal/plugins/PPSAlignmentWorker.cc#L277

and here:

https://github.com/cms-sw/cmssw/blob/791d9de9c05e0ffd341fc0e9510d7fcda3b1faf7/CalibPPS/AlignmentGlobal/plugins/PPSAlignmentWorker.cc#L288

but also the point here:

https://github.com/cm

[2022-07-29 17:09] #38892 closed

[2022-07-29 17:15] makortel commented on #38892
+1

[2022-07-29 17:16] cmsbuild commented on #38892
This issue is fully signed and ready to be closed.

[2022-07-29 20:03] mariadalfonso opened #38899 "Problem parsing the enum in reco::Muon::Selector"
Since this PR [0] we have some problem with parsing the enum defined in the
DataFormats/MuonReco/interface)/MuonSelectors.h

This issue affects the nano[1], now the ID are all empty; at the same time this has been seen also in another places[2].

This doesn't work
`tightId = Var("passed('CutBasedIdTight')",bool,doc="cut-based ID, tight WP"),
`
this yes

`tightId = Var("passed(8)",bool,doc="cut-bas

[2022-07-29 20:04] mariadalfonso commented on #38899
assign core,xpog

[2022-07-29 20:04] cmsbuild commented on #38899
A new Issue was created by  @mariadalfonso .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-29 20:11] makortel commented on #38899
Can the comment in https://github.com/cms-sw/cmssw/blob/47dded9ac5760e86d4ce6aaa18189f10765ef303/DQM/GEM/python/gemEfficiencyAnalyzer_cff.py#L9-L10 be interpreted that the name worked in 12_2_0 but not in 12_3_0?

One big difference between 12_2_0 and 12_3_0 is ROOT, 6.22 vs. 6.24.

[2022-07-29 20:16] makortel commented on #38899
I see the `SimpleCandidateFlatTableProducer` uses
https://github.com/cms-sw/cmssw/blob/a1ee449d0c95cbe0ce77e39a3ba396879d0437a4/PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h#L170-L171
uses `StringObjectFunction` and `StringCutObjectSelector` that use ROOT underneath.

[2022-07-29 23:55] makortel commented on #38899
@mariadalfonso Could you provide a recipe to reproduce? I tried with the unit test https://github.com/cms-sw/cmssw/blob/master/CommonTools/Utils/test/testCutParser.cc with
[code]
but was not able to reproduce the problem.

[2022-07-30 00:10] vlimant commented on #38899
`CPPUNIT_ASSERT_EQUAL(StringToEnumValue<reco::Muon::Selector>("MvaIDwpTight"),long(reco::Muon::MvaIDwpTight));
`
 is a way to produce an error, from CMSSW_12_4_4

The issue seems to be that the parser casts the enum to int before recasting to any other value, loosing most information along the way.

The hard way to fix : https://github.com/cms-sw/cmssw/compare/CMSSW_12_4_X...vlimant:cmssw:fw_chang

[2022-07-30 00:16] vlimant commented on #38899
BTW @mariadalfonso, as we were discussing, the parser for muon was partially broken even before, when `LowPtMvaMedium = 1UL << 33` was introduced, as it's beyond what unsigned int can store.

[2022-07-30 12:06] mmusich commented on #38885
Concerning my earlier comment https://github.com/cms-sw/cmssw/issues/38885#issuecomment-1198565872 since I didn't receive any feedback I decided to implement option 3.
The issue with the `testSiStripDQM_OfflineTkMap` unit test described at https://github.com/cms-sw/cmssw/issues/38885#issue-1321291985 should be solved by https://github.com/cms-sw/cmssw/pull/38905.

**N.B.** This won't solve the oth

[2022-08-01 09:55] sscruz commented on #38899
thanks a lot for this @vlimant
I personally would prefer the option in https://github.com/cms-sw/cmssw/compare/CMSSW_12_4_X...vlimant:cmssw:nano_change_for_nano_muon_masks, since it is much cleaner. This shouldn't have an impact in users code that is using the recommended way of accessing the selectors, which is through the enum

[2022-08-01 11:01] jpata commented on #32304
It was just pointed out in https://github.com/cms-sw/cmssw/issues/38890 that this issue is not solved. In fact

violates causality, as this issue was opened to address the remaining bits from the PR. My bad for not noticing.

[2022-08-01 11:01] jpata commented on #32304
@cmsbuild please reopen

[2022-08-01 11:03] jpata commented on #38890
It looks like this was pointed out in the review of the PR that introduced this feature: https://github.com/cms-sw/cmssw/pull/31985#discussion_r526325765

From reading the thread, it seems that the agreement was that it will go in as-is for the UL production, and to follow up with a fix: https://github.com/cms-sw/cmssw/issues/32304.

However, this never happened (I closed the issue by mistake). @r

[2022-08-01 11:07] jpata commented on #38890
In general, so far in reco we tried to avoid switching things on ONLY for a particular era unless it's a special case. Rather, our approach has been that new stuff should be enabled by default, and switched off for old eras if necessary. It's probably still worth to do a `git grep run2_miniAOD_UL` and check that it's used as intended.

[2022-08-01 11:08] germanfgv commented on #38869
Hi all. We have another instance of this segmentation fault issue with EphemeralHLTPhysics. Tarball can be found here:

[code]

[2022-08-01 11:36] mmusich commented on #38869
It is not clear to me if this was completely solved by https://github.com/cms-sw/cmssw/pull/38881

@germanfgv please clarify if the Tier0 moved to a new release including #38881, which is impossible given it does not exist yet. Adjust your expectations accordingly

[2022-08-01 12:14] qliphy commented on #32304
assign l1

[2022-08-01 13:50] emanueleusai commented on #38885
We are ok with any of the three options, though option 3 as far as I understand seem to be the most general solution, so we are definitely on board with this.

[2022-08-01 15:28] fwyzard opened #38922 "assertion failed in RecoLocalTracker/SiPixelClusterizer/plugins/gpuClustering.h"
Building CMSW 12.4.4 plus https://github.com/cms-sw/cmssw/pull/38902, https://github.com/cms-sw/cmssw/pull/38884 and https://github.com/cms-sw/cmssw/pull/38921 with GPU assertion enabled (with `USER_CXXFLAGS="-g -DGPU_DEBUG" USER_CUDA_FLAGS="-g -DGPU_DEBUG" scram b -j$(nproc)`) results in an assertion failure in `RecoLocalTracker/SiPixelClusterizer/plugins/gpuClustering.h` while running over run =

[2022-08-01 15:28] fwyzard commented on #38922
assign heterogeneous

[2022-08-01 15:28] fwyzard commented on #38922
assign tracker

[2022-08-01 15:28] cmsbuild commented on #38922
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-01 15:28] cmsbuild commented on #38922
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-01 15:30] makortel commented on #38922
assign reconstruction

[2022-08-01 15:31] makortel commented on #38922
FYI @cms-sw/trk-dpg-l2

[2022-08-01 15:31] cmsbuild commented on #38922
New categories assigned: reconstruction

@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-01 15:34] VinInn commented on #38922
large number of duplicate pixels I suppose

[2022-08-01 16:02] fwyzard commented on #38922
By the way, here is the full log from the offending event:
[code]

[2022-08-01 16:15] fabiocos commented on #38869
I see another crash that is probably related to this issue, the backport has been already merged, the IB did not show issues related to it for what I can appreciate. Might release managers clarify the possible timescale for a (patch)-release including the fix, or other issues keeping it on hold?

[2022-08-01 16:17] VinInn commented on #38922
the detection of duplicate clusters has never been integrated, not even in debug mode...

[2022-08-01 16:19] VinInn commented on #38922
One can try to add this
https://github.com/cms-sw/cmssw/pull/37359/files#diff-6473251300f99a4418907c32c97ac4f20ad06764ccbbe757e8acf39f02c3da1aR126
in debug mode

[2022-08-01 20:59] igv4321 commented on #35578
@makortel This issue should be fixed by PR #38932. Sorry for the delay.

[2022-08-01 21:14] forthommel commented on #38887
This issue can be safely closed once #38280 is merged.

[2022-08-01 22:13] makortel commented on #35578
Thanks @igv4321!

[2022-08-02 05:31] fwyzard commented on #38922
@VinInn thanks for the suggestion.

I've squashed and rebased #37359 like this (https://github.com/cms-sw/cmssw/compare/master...fwyzard:cmssw:test_expensive_duplicate_pixel_removal?expand=1), and it does fix the problem of the job getting stuck or failing the assertion.

I guess it's finally time to pick an efficient solution :man_shrugging:

[2022-08-02 08:43] mariadalfonso commented on #38899
is ok with everybody in updating the data format ?
if so, JR can make a PR to both master and 12_4.

[2022-08-02 09:57] aandvalenzuela opened #38935 "[G4VECGEOM_X] IB reports compiler errors for both gcc10 and gcc11."
Hello,

IB `G4VECGEOM_X` is reporting compiler errors leading to failures in tests and relvals. See failures at [CMSSW_12_5_G4VECGEOM_X_2022-08-01-2300](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/mon/12.5.G4VECGEOM-mon-23/CMSSW_12_5_G4VECGEOM_X_2022-08-01-2300).

We think it could be broken because of [#38329](https://github.com/cms-sw/cmssw/pull/38329).

In addition,

[2022-08-02 09:57] cmsbuild commented on #38935
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-02 11:19] rappoccio commented on #35005
Hi @tvami Lauren looked at this a few weeks ago and is still working on it, this isn't a "simple fix" (this code is just reporting a problem, not causing it).

[2022-08-02 11:54] tvami commented on #35005
hi @rappoccio great, thanks a lot! It's good to hear she is working on it, I'm sorry it's not a simple fix.

[2022-08-02 11:57] tvami commented on #38885
+alca
 * PPS part fixed in https://github.com/cms-sw/cmssw/pull/38930
 * general DQM part fixed in https://github.com/cms-sw/cmssw/pull/38905

[2022-08-02 12:03] sscruz commented on #38899
It looks good for us (MUO)

[2022-08-02 13:14] #38885 closed

[2022-08-02 13:18] makortel opened #38939 "Out of range exception from RPCAMCRawToDigi"
Workflow 136.8561 step 3 has been failing since CMSSW_12_5_X_2022-07-28-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-08-02-1100/pyRelValMatrixLogs/run/136.8561_RunZeroBias_hBStarTk+RunZeroBias_hBStarTk+HLTDR2_2018_hBStar+RECODR2_2018reHLT_Offline_hBStar+HARVEST2018_hBStar/step3_RunZeroBias_hBStarTk+RunZeroBias_hBStarTk+HLTDR2_2018_hBStar+RECODR2_2

[2022-08-02 13:18] cmsbuild commented on #38939
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-02 13:19] makortel commented on #38939
assign reconstruction

[2022-08-02 13:19] cmsbuild commented on #38939
New categories assigned: reconstruction

@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-02 13:21] makortel commented on #38939
Seems that this was already reported in https://github.com/cms-sw/cmssw/pull/38564#issuecomment-1200323922

@zhangcg123

[2022-08-02 13:26] makortel commented on #38935
@aandvalenzuela Your link points to CXXMODULE IB, could you fix that?

[2022-08-02 13:26] cmsbuild commented on #38935
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-02 13:27] jpata commented on #38198
Thanks! Which of the two new workflows should we use this instead of 136.889? From the reco point of view they are all equivalent, so the question is, which as the most representative ALCA stream.

Note that on the reco side, we basically submit and analyze this 8-threaded profiling job "by hand" for each prerelease - so we don't have the personpower to study a large number of workflows per releas

[2022-08-02 14:03] amecca commented on #38812
@ggovi should we open another issue to request the implementation of such mechanism?

[2022-08-02 14:12] tvami commented on #38198
I think you can go ahead with 1001.3, thanks!

[2022-08-02 14:13] mmusich commented on #38812
This is issue is fully signed, can it be closed? @amecca

[2022-08-02 14:15] makortel opened #38940 "Segfault in L1TStage2EMTF"
Workflows 138.1 and 138.2 step 2 crash in CMSSW_12_5_X_2022-08-02-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_5_X_2022-08-02-1100/pyRelValMatrixLogs/run/138.1_PromptCosmics+RunCosmics2021+RECOCOSDPROMPTRUN3+ALCACOSDPROMPTRUN3+HARVESTDCPROMPTRUN3/step2_PromptCosmics+RunCosmics2021+RECOCOSDPROMPTRUN3+ALCACOSDPROMPTRUN3+HARVESTDCPROMPTRUN3.log#/

[code]
htt

[2022-08-02 14:15] makortel commented on #38940
assign dqm, l1

[2022-08-02 14:15] cmsbuild commented on #38940
New categories assigned: dqm,l1

@jfernan2,@ahmad3213,@epalencia,@micsucmed,@rvenditti,@emanueleusai,@rekovic,@cecilecaillol,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-02 14:15] cmsbuild commented on #38940
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-02 14:21] qliphy commented on #38940
probably due to https://github.com/cms-sw/cmssw/pull/38818
@nickh2000 please have a check. Thanks!

[2022-08-02 14:22] amecca commented on #38812
Thanks. Yes, this issue can be closed

[2022-08-02 14:26] mmusich commented on #38812
@amecca, since you own it, feel free to close it. Thx

[2022-08-02 14:31] #38812 closed

[2022-08-02 14:57] amecca opened #38942 "Request "strict" flag in `EventSetup::getData()`"
When using a snapshot `GlobalTag`, when requesting a payload for a run that's beyond the end of the snapshot `EventSetup::getData()` returns the value contained in the last IOV.
Sometimes it is useful to be sure that this is not the case (e.g. that a wrong GT is not used).
Possible solutions include adding a "strict" flag to the `getData()` signature, or using another function called e.g. `getData

[2022-08-02 14:57] cmsbuild commented on #38942
A new Issue was created by  @amecca .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-02 15:02] makortel commented on #38942
assign core, db

[2022-08-02 15:03] cmsbuild commented on #38942
New categories assigned: core,db

@Dr15Jones,@smuzaffar,@ggovi,@makortel,@francescobrivio,@malbouis,@saumyaphor4252,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-02 15:04] makortel commented on #38942
Could this be a job-wide setting in `CondDBESSource`/`PoolDBESSource`?

[2022-08-02 15:17] tvami commented on #38739
This is an issue that's marked `urgent` and I think already resolved, can it be closed?

[2022-08-02 15:20] mmusich commented on #38739
It needs to be signed by the respective L2s

[2022-08-02 15:35] aandvalenzuela opened #38944 "[UBSAN] Runtime errors in `DQMOffline/Configuration`"
Hello,

There are some runtime errors of the following type in UBSAN IB, Unit test `TestDQMOfflineConfiguration_0` in `DQMOffline/Configuration` although the test itself suceeds :
[code]

See full [stack trace](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_UBSAN_X_2022-08-01-1100/unitTestLogs/DQMOffline/Configuration#/186397-186397)

I have also reproduced those runtime e

[2022-08-02 15:35] cmsbuild commented on #38944
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-02 15:40] makortel commented on #38944
assign l1, upgrade

[2022-08-02 15:41] cmsbuild commented on #38944
New categories assigned: upgrade,l1

@epalencia,@AdrianoDee,@srimanob,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-02 15:47] makortel commented on #38944
These errors come from `hls` external that was requested by L1 track trigger group. They are issued at dynamic library load time, that hints towards problem being in the `ap_*` classes rather than how they are used in CMSSW.

[2022-08-02 16:17] zhangcg123 commented on #38939
The same error can be reproduced simply by

`cmsRun DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py unitTest=True dataset=/ZeroBias/Commissioning2018-v1/RAW runNumber=314890 eventsPerLumi=-1`

It looks like the error only occurs when dataset=/ZeroBias/Commissioning2018-v1/RAW is used as input.

[2022-08-02 16:20] davidlange6 commented on #38939
L1 would seem to be the more appropriate group to assign this to.

[2022-08-02 17:48] makortel commented on #38939
assign l1

Thanks. I followed `RPCAMCRawToDigi` module being defined in `EventFilter/RPCRawToDigi`, and that category being assigned to reconstruction.

[2022-08-02 17:48] cmsbuild commented on #38939
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-02 19:43] civanch commented on #38739
+1

[2022-08-02 19:43] cmsbuild commented on #38739
This issue is fully signed and ready to be closed.

[2022-08-02 20:10] makortel commented on #38940
Also 136.897 step 2 is affected
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-08-02-1100/pyRelValMatrixLogs/run/136.897_RunCosmics2021CRUZET+RunCosmics2021CRUZET+RECOCOSDRUN3+ALCACOSDRUN3+HARVESTDCR3/step2_RunCosmics2021CRUZET+RunCosmics2021CRUZET+RECOCOSDRUN3+ALCACOSDRUN3+HARVESTDCR3.log#/

[2022-08-02 20:36] mmusich commented on #38739
closing as resolved in https://github.com/cms-sw/cmssw/pull/38864

[2022-08-02 20:36] #38739 closed

[2022-08-02 22:20] makortel commented on #38944
Looking more carefully, the global (constant) variable that is being loaded is
[code]
i.e.
https://github.com/cms-sw/cmssw/blob/2609b2988d91668897ed2112ec77c1ab876e25bb/DataFormats/L1TParticleFlow/interface/gt_datatypes.h#L255
The `etaphi_sf_t` is defined in
https://github.com/cms-sw/cmssw/blob/2609b2988d91668897ed2112ec77c1ab876e25bb/DataFormats/L1TParticleFlow/interface/gt_datatypes.h#L252
where

[2022-08-03 04:28] qliphy opened #38956 "Build CMSSW_12_4_5"
To include several PRs needed for operation
https://github.com/cms-sw/cmssw/compare/CMSSW_12_4_4...CMSSW_12_4_X

This is a full build as
https://github.com/cms-sw/cmssw/pull/38895/   touches CondFormats
and
duplicated dictionaries after merging https://github.com/cms-sw/cmssw/pull/38906  needs a full build to fix

[2022-08-03 04:28] cmsbuild commented on #38956
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-03 04:29] qliphy commented on #38956
+1

[2022-08-03 04:29] cmsbuild commented on #38956
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-08-03 04:29] cmsbuild commented on #38956
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-08-03 04:30] cmsbuild commented on #38956
The build has started for el8_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3596/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-03 04:30] cmsbuild commented on #38956
The build has started for slc7_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3597/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-03 05:12] cmsbuild commented on #38956
The build has started for el8_aarch64_gcc10 in olarm-99-102c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3598/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-03 05:49] cmsbuild commented on #38956
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3599/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-03 07:56] cmsbuild commented on #38956
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5-slc7_amd64_gcc10/3597
Some tests ( ru

[2022-08-03 08:01] cmsbuild commented on #38956
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5-el8_amd64_gcc10/3596
Some tests ( runT

[2022-08-03 08:30] cmsbuild commented on #38956
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5-el8_ppc64le_gcc10/3599
Some tests (

[2022-08-03 08:45] cmsbuild commented on #38956
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5-slc7_amd64_gcc10/3597

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-03 08:48] cmsbuild commented on #38956
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5-el8_amd64_gcc10/3596

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-03 09:20] cmsbuild commented on #38956
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5-el8_ppc64le_gcc10/3599

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-03 10:26] venturana opened #38958 "Consumes migration to fix for tk alignment Zmumu validation"
Hello,

An exception of category 'GetByLabelWithoutRegistration' occurred while running the zmumu validation with CMSSW_12_4_3.
`Exception Message:::getByLabel without corresponding call to consumes or mayConsumes for this module.`
For more info about this error check [1]

I've been told that there is a consumes migration to fix, therefore I open this ticket in this regard.
Thank you very much.

[

[2022-08-03 10:26] cmsbuild commented on #38958
A new Issue was created by  @venturana .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-03 10:29] mmusich commented on #38958
assign alca

[2022-08-03 10:29] cmsbuild commented on #38958
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-03 10:30] mmusich commented on #38958
@venturana please post a minimal configuration file to reproduce the issue

[2022-08-03 10:33] venturana commented on #38958
[zmumu:ZMuMuValidation]
maxevents = -1
dataset = Dataset_Validation_DoubleMuon_Run2022C
etaminneg = -2.4
etamaxneg = 2.4
etaminpos = -2.4
etamaxpos = 2.4
ttrhbuilder = WithAngleAndTemplate
#minpt = 200
#maxpt = 1000
multiIOV = false

[plots:zmumu]
customrighttitle = pp collisions (2022) 13.6 TeV
resonance = Z
switchONfit = false
rebinphi = 4
rebinetadiff = 2
rebineta = 2
rebinpt = 8

[validation]

[2022-08-03 10:58] #38935 closed

[2022-08-03 11:29] mmusich commented on #38958
@venturana, the `ini` file from the all-in-one tool is of little use to non expert, please post a link to the cmssw configuration file that is leading to the failures

[2022-08-03 12:08] venturana commented on #38958
this https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_3

[2022-08-03 12:31] tvami commented on #38958
@venturana Marco ment like a line-by-line recipe that we can copy paste and leads to the error. Thanks

[2022-08-03 13:07] venturana commented on #38958
import FWCore.ParameterSet.Config as cms

process = cms.Process("ONLYHISTOS")

process.load("Alignment.OfflineValidation.Dataset_Validation_DoubleMuon_Run2022C_cff")
process.maxEvents = cms.untracked.PSet(
    input = cms.untracked.int32(int(-1 / 1))
)
process.source.skipEvents=cms.untracked.uint32(int(0*-1/1))

process.options = cms.untracked.PSet(
   wantSummary = cms.untracked.bool(False),
   R

[2022-08-03 13:10] mmusich commented on #38958
@venturana the configuration  you posted is not easily readable, please wrap it in triple quotes ````

[2022-08-03 13:13] Dr15Jones commented on #38958
@venturana please post the full exception message from the job. In general, when posting about a failure which involves an exception, it is best to include the entire message.

[2022-08-03 13:15] venturana commented on #38958
[code]

[2022-08-03 13:16] Dr15Jones commented on #38958
@venturana thanks for the full exception.

[2022-08-03 13:18] Dr15Jones commented on #38958
@makortel do we have consumes for loopers?

[2022-08-03 13:35] makortel commented on #38958
I see the `MuScleFit` EDLooper makes four calls to `getByLabel()`
https://github.com/cms-sw/cmssw/blob/762155bff5a6e9155a8d71ef49f95ed5dda51302/MuonAnalysis/MomentumScaleCalibration/plugins/MuScleFit.cc#L789-L790
https://github.com/cms-sw/cmssw/blob/762155bff5a6e9155a8d71ef49f95ed5dda51302/MuonAnalysis/MomentumScaleCalibration/plugins/MuScleFit.cc#L920-L921
https://github.com/cms-sw/cmssw/blob/762

[2022-08-03 13:38] mmusich commented on #38958
I suspect the one that is triggering the crash is actually here:
https://github.com/cms-sw/cmssw/blob/762155bff5a6e9155a8d71ef49f95ed5dda51302/MuonAnalysis/MomentumScaleCalibration/plugins/MuScleFitMuonSelector.cc#L217-L221

called from here

https://github.com/cms-sw/cmssw/blob/762155bff5a6e9155a8d71ef49f95ed5dda51302/MuonAnalysis/MomentumScaleCalibration/plugins/MuScleFit.cc#L849

[2022-08-03 14:04] ChrisMisan opened #38960 "remove ESHandle from pps sampic pcl"
By the way (not changed in this PR so for longer term), the `PPSDiamondSampicTimingCalibrationPCLHarvester` gets an EventSetup product in its `beginRun()` and stores it in a member `ESHandle`
https://github.com/cms-sw/cmssw/blob/dbcf1d6e9834a91def96098fb13570a2a0d88098/CalibPPS/TimingCalibration/plugins/PPSDiamondSampicTimingCalibrationPCLHarvester.cc#L82-L84
and then uses it in `dqmEndJob()` (whi

[2022-08-03 14:05] cmsbuild commented on #38960
A new Issue was created by  @ChrisMisan Christopher.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-03 14:37] cmsbuild commented on #38956
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5-el8_aarch64_gcc10/3598
Some tests (

[2022-08-03 14:50] qliphy commented on #38956
upload all

[2022-08-03 14:50] cmsbuild commented on #38956
Queing Jenkins upload for slc7_amd64_gcc10

[2022-08-03 14:50] cmsbuild commented on #38956
Queing Jenkins upload for el8_amd64_gcc10

[2022-08-03 14:50] cmsbuild commented on #38956
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-08-03 14:50] cmsbuild commented on #38956
Queing Jenkins upload for el8_aarch64_gcc10

[2022-08-03 14:51] cmsbuild commented on #38956
The upload has started for el8_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2438/console

[2022-08-03 14:51] cmsbuild commented on #38956
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2439/console

[2022-08-03 14:51] cmsbuild commented on #38956
The upload has started for el8_aarch64_gcc10 in olarm-102.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2437/console

[2022-08-03 14:51] cmsbuild commented on #38956
The upload has started for slc7_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2440/console

[2022-08-03 14:52] cmsbuild commented on #38956
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_5-el8_ppc64le_gcc10/2439

[2022-08-03 14:56] cmsbuild commented on #38956
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_5-slc7_amd64_gcc10/2440

[2022-08-03 15:02] qliphy commented on #38956
release-notes

[2022-08-03 15:03] cmsbuild commented on #38956
Generating release notes since CMSSW_12_4_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-03 15:03] cmsbuild commented on #38956
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_5 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_5

To include several PRs needed

[2022-08-03 15:05] cmsbuild commented on #38956
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_5

[2022-08-03 15:29] makortel commented on #38960
assign alca

[2022-08-03 15:30] cmsbuild commented on #38960
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-03 17:30] cmsbuild commented on #38956
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5-el8_aarch64_gcc10/3598

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-03 20:40] makortel opened #38964 "EcalTPG_updateWeightGroup_test and EcalTPG_updateWeightIdMap_test fail occasionally"
The EcalTPG_updateWeightGroup_test failed in CMSSW_12_5_X_2022-08-03-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-08-03-1100/unitTestLogs/CondTools/Ecal#/

and EcalTPG_updateWeightIdMap_test with
[code]
in el8_amd64_gcc10, but succeeded in slc7_amd64_gcc10

[2022-08-03 20:40] cmsbuild commented on #38964
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-03 20:40] makortel commented on #38964
Tests were added in https://github.com/cms-sw/cmssw/pull/38856 that was merged in CMSSW_12_5_X_2022-08-02-2300

[2022-08-03 20:40] makortel commented on #38964
assign db

[2022-08-03 20:41] cmsbuild commented on #38964
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@saumyaphor4252,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-03 20:43] makortel commented on #38964
In CMSSW_12_5_X_2022-08-02-2300 EcalTPG_updateWeightGroup_test failed in ROOT6 IB with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_ROOT6_X_2022-08-02-2300/unitTestLogs/CondTools/Ecal#/

and both tests failed in DEVEL IB
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_DEVEL_X_2022-08-02-2300/unitTestLogs/CondTools/Ecal#/

[2022-08-03 20:47] tvami commented on #38964
@valsdav can you please have a look?

[2022-08-04 05:49] forthommel commented on #38887
With the merge of this PPS direct simulation-as-sequence PR the 2021 era was dropped and replaced by a 2022 era in all consumer codes. This issue can be closed.

[2022-08-04 11:24] swagata87 commented on #35929
Hello @bainbrid,
coming back to this rather old issue.
Was there any solution of the crash reported above [1]?

I am asking because this issue re-appeared during Run3 data-taking at the HLT level, a few back, in run number 356615.
The exact error message was this[2].
So, we might need to understand the reason of this crash and follow up on this.
Let me also tag @VinInn as an expert of Gsf tracking

[2022-08-04 13:38] #38887 closed

[2022-08-04 13:39] forthommel commented on #38887
My bad, thanks @makortel :) Seems that only the GitHub Android app is not allowing it...

[2022-08-04 13:54] civanch commented on #38789
+1

The fix is already integrated into 12_4 and 12_5. VecGeom code may be also modified - see https://sft.its.cern.ch/jira/browse/VECGEOM-600

[2022-08-04 13:58] #37742 closed

[2022-08-04 15:24] rvenditti opened #38969 "CTPPS ME merging problems in Harvesting step"
As a follow up of Express job killed at T0 for memory issues at harvesting step in run 356381 ([link](https://cms-talk.web.cern.ch/t/high-memory-usage-in-harvesting-job-for-workflow-express-run356381-streamexpress/13419)), we found that the log files shows a problem in merging a ME:
"%MSG-e MergeFailure:  source 04-Aug-2022 15:58:00 CEST PostBeginProcessBlock
Found histograms with different axis l

[2022-08-04 15:24] cmsbuild commented on #38969
A new Issue was created by  @rvenditti .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-04 15:36] makortel commented on #38969
assign dqm

[2022-08-04 15:36] cmsbuild commented on #38969
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-04 15:55] rvenditti opened #38970 "Problem in DQM Harvesting step with EgHLTOfflineClient"
As a follow up of Express job killed at T0 for memory issues at harvesting step in runs 356381  and 356615 [link](https://cms-talk.web.cern.ch/t/high-memory-usage-in-harvesting-job-for-workflow-express-run356381-streamexpress/13419) we found that the log file shows some problem in HLT-Egamma client:
The message is
%MSG-e HLTConfigProvider:  EgHLTOfflineClient:egHLTOffDQMClient@beginRun  29-Jul-202

[2022-08-04 15:55] cmsbuild commented on #38970
A new Issue was created by  @rvenditti .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-04 16:02] makortel commented on #38970
assign dqm

[2022-08-04 16:02] makortel commented on #38970
FYI @cms-sw/hlt-l2 @cms-sw/egamma-pog-l2

[2022-08-04 16:02] cmsbuild commented on #38970
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-04 17:14] swagata87 commented on #38970
I've seen the `Process name 'HLT' not found in registry!` issue before[1], but as far as I am aware, it's been there since quite some time now and probably wasn't fixed yet as it seems like a rather harmless error message (although need to be debugged and fixed at some point). I'll be surprised if this creates memory issue.

Btw, looking at the log files of the 2 runs, I see several other error me

[2022-08-05 07:59] rvenditti commented on #38970
Hi @swagata87 thanks for the comment, indeed we have asked also to CTPPS experts https://github.com/cms-sw/cmssw/issues/38969 to have a look. BTW, as it is pointed in https://cms-talk.web.cern.ch/t/replay-for-testing-the-run-3-collisions-setup/10676, the responsible for the memory issue could be something completely different from the warnings in the cmsRun-stdout.log file (that seems to be there

[2022-08-05 08:25] vavati commented on #38969
I don't understand which could be the issue: the equivalent plots in DQMonline seems ok. These plots have not been modified since long, I guess the problem is elsewhere, not in the plot itself.

[2022-08-05 11:24] germanfgv commented on #38970
@rvenditti we don't have access to the stack trace of the job at the moment of termination. You can find 3 sets of log files in the tarball:
[code]

Other than that, nomore information is available

[2022-08-05 12:34] #35578 closed

[2022-08-05 13:08] cmsbuild commented on #38956
The cleanup has started for el8_aarch64_gcc10

[2022-08-05 13:08] cmsbuild commented on #38956
The cleanup has started for slc7_amd64_gcc10

[2022-08-05 13:08] cmsbuild commented on #38956
The cleanup has started for el8_amd64_gcc10

[2022-08-05 13:08] cmsbuild commented on #38956
The cleanup has started for el8_ppc64le_gcc10

[2022-08-05 13:08] #38956 closed

[2022-08-05 13:09] cmsbuild commented on #38956
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5-el8_aarch64_gcc10/2143

[2022-08-05 13:09] cmsbuild commented on #38956
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5-el8_amd64_gcc10/2144

[2022-08-05 13:09] cmsbuild commented on #38956
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5-el8_ppc64le_gcc10/2145

[2022-08-05 13:09] cmsbuild commented on #38956
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5-slc7_amd64_gcc10/2146

[2022-08-05 13:54] rvenditti opened #38976 "High memory usage in DQM harvesting job for Express"
DQMHarvesting is exceeding maxPSS in Express reconstruction at T0 in runs 356381, 356615, 356719  [link to cmsTalk](https://cms-talk.web.cern.ch/t/high-memory-usage-in-harvesting-job-for-workflow-express-run356381-streamexpress/13419).

- We re-run job on lxplus and they have been completed successfully even if with some warnings (see below)
- Looking inside the tarball and local running jobs, it

[2022-08-05 13:54] cmsbuild commented on #38976
A new Issue was created by  @rvenditti .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-05 14:00] davidlange6 commented on #38976
could you post the igprof results please?

[2022-08-05 14:01] makortel opened #38977 "Anonymous namespace in CTPPSPixelIndices.h"
I noticed an anonymous namespace being used in a header included in several places
https://github.com/cms-sw/cmssw/blob/eb2d3a59a3aa2a722da88f97059810aa841d35c1/CondFormats/PPSObjects/interface/CTPPSPixelIndices.h#L55-L72
The C++ core guidelines recommend against that http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rs-unnamed

It would be better to enclose these constants in a named na

[2022-08-05 14:01] davidlange6 commented on #38976
(eg, the html version is more easily understandable)

[2022-08-05 14:01] makortel commented on #38977
assign alca

[2022-08-05 14:01] cmsbuild commented on #38977
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-05 14:01] cmsbuild commented on #38977
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-05 14:01] makortel commented on #38977
FYI @cms-sw/ctpps-dpg-l2

[2022-08-05 14:03] makortel commented on #38976
assign dqm

[2022-08-05 14:03] cmsbuild commented on #38976
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-05 14:07] tvami commented on #38977
@grzanka @ChrisMisan can you please fix this? Thanks

[2022-08-05 14:41] rvenditti commented on #38976
Hi @davidlange6 , unfortunately i am not able to forward the browsable version to my cern site. However the related sql3 file is here: /eos/user/r/rosma/www/cgi-bin/data/igreport_perf.sql3

[2022-08-05 14:46] makortel commented on #38976
I took a quick look on `/afs/cern.ch/work/r/rosma/public/Run356381/igreport_total.res` and I see the profile reports `MEM_TOTAL`, i.e. total memory allocations. `MEM_LIVE` (that shows the memory usage at a given time) would be more useful. It seems to me that `IgProfService` does not have dump points for framework callbacks that would be most useful for harvesting job. I'll add some and profile my

[2022-08-05 16:20] missirol opened #38980 "DQM pages for bin-by-bin comparisons in PR tests come up empty"
Since earlier today, I cannot see plots in the DQM webpage (`https://cmsweb.cern.ch/dqm/dev`) used to display bin-by-bin comparisons for CMSSW PR tests, at least for PRs tested recently.

Example:
 - https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_5_X_2022-08-04-2300+0fa187/51986/dqm-histo-comparison-summary.html
 - https://tinyurl.com/29o6fwqe

I see the same for several

[2022-08-05 16:20] cmsbuild commented on #38980
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-05 16:30] makortel commented on #38980
assign core,dqm

[2022-08-05 16:30] cmsbuild commented on #38980
New categories assigned: core,dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@Dr15Jones,@smuzaffar,@emanueleusai,@makortel,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-05 16:35] makortel commented on #38980
@cms-sw/externals-l2 @cms-sw/dqm-l2 Would anyone of you have an idea what could be going wrong?

[2022-08-06 00:58] qliphy opened #38984 "Build CMSSW_12_4_5_patch1"
Requested by HLT as discussed in Weekly Joint Ops: https://indico.cern.ch/event/1188409/

[2022-08-06 00:58] cmsbuild commented on #38984
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-06 01:01] qliphy commented on #38984
+1

[2022-08-06 01:01] makortel commented on #38976
One thing I noticed is the job is awfully slow under `igprof -mp ... cmsRunGlibC`. While restarting my memory profile after copying the input files for run 356615 (for the run 356381 the files were already gone) I profiled the CPU time consumption. Full profile is here
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/issue38976/run356615/perf
Of the 1623 seconds of total
* `TTree::GetEntry(

[2022-08-06 01:01] cmsbuild commented on #38984
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_5_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-08-06 01:01] cmsbuild commented on #38984
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-08-06 01:03] cmsbuild commented on #38984
The build has started for el8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3600/console
CMSDIST Branch: [REL/CMSSW_12_4_5/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_5/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-06 01:05] cmsbuild commented on #38984
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3601/console
CMSDIST Branch: [REL/CMSSW_12_4_5/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_5/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-06 01:09] cmsbuild commented on #38984
The build has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3602/console
CMSDIST Branch: [REL/CMSSW_12_4_5/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_5/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-06 01:29] cmsbuild commented on #38984
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3603/console
CMSDIST Branch: [REL/CMSSW_12_4_5/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_5/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-06 02:02] cmsbuild commented on #38984
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch1-el8_ppc64le_gcc10/3601
Some t

[2022-08-06 02:06] cmsbuild commented on #38984
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch1-slc7_amd64_gcc10/3602
Some tes

[2022-08-06 02:13] cmsbuild commented on #38984
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch1-el8_amd64_gcc10/3600
Some tests

[2022-08-06 02:29] cmsbuild commented on #38984
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch1-el8_aarch64_gcc10/3603
Some t

[2022-08-06 02:53] cmsbuild commented on #38984
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch1-el8_ppc64le_gcc10/3601

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-06 02:54] cmsbuild commented on #38984
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch1-slc7_amd64_gcc10/3602

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-06 03:00] cmsbuild commented on #38984
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch1-el8_amd64_gcc10/3600

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-06 03:11] qliphy commented on #38984
upload all

[2022-08-06 03:12] cmsbuild commented on #38984
Queing Jenkins upload for slc7_amd64_gcc10

[2022-08-06 03:12] cmsbuild commented on #38984
Queing Jenkins upload for el8_amd64_gcc10

[2022-08-06 03:12] cmsbuild commented on #38984
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-08-06 03:12] cmsbuild commented on #38984
Queing Jenkins upload for el8_aarch64_gcc10

[2022-08-06 03:12] cmsbuild commented on #38984
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2441/console

[2022-08-06 03:12] cmsbuild commented on #38984
The upload has started for el8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2442/console

[2022-08-06 03:12] cmsbuild commented on #38984
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2443/console

[2022-08-06 03:12] cmsbuild commented on #38984
The upload has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2444/console

[2022-08-06 03:12] cmsbuild commented on #38984
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_5_patch1-el8_aarch64_gcc10/2441

[2022-08-06 03:13] cmsbuild commented on #38984
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_5_patch1-el8_ppc64le_gcc10/2443

[2022-08-06 03:14] cmsbuild commented on #38984
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_5_patch1-el8_amd64_gcc10/2442

[2022-08-06 03:17] cmsbuild commented on #38984
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch1-el8_aarch64_gcc10/3603

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-06 03:17] cmsbuild commented on #38984
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_5_patch1-slc7_amd64_gcc10/2444

[2022-08-06 03:20] qliphy commented on #38984
release-notes

[2022-08-06 03:20] cmsbuild commented on #38984
Generating release notes since CMSSW_12_4_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-06 03:20] cmsbuild commented on #38984
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_4_5_patch1 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_5_patch1

Requested

[2022-08-06 03:22] cmsbuild commented on #38984
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_5_patch1

[2022-08-06 04:39] emanueleusai commented on #38980
yes I saw this too. I'm going to restart the GUI and see if it fixes it

[2022-08-06 14:10] missirol commented on #38980
@emanueleusai , any news on this? Looks like the issue is still there.

[2022-08-06 17:52] tvami commented on #38980
indeed a recently came back PR test
https://github.com/cms-sw/cmssw/pull/38916
have this stil missing too

[2022-08-07 09:38] fabferro commented on #38977
PR #38985 should solve this issue.

[2022-08-08 01:23] cmsbuild commented on #38984
The cleanup has started for el8_aarch64_gcc10

[2022-08-08 01:23] cmsbuild commented on #38984
The cleanup has started for slc7_amd64_gcc10

[2022-08-08 01:23] cmsbuild commented on #38984
The cleanup has started for el8_amd64_gcc10

[2022-08-08 01:23] cmsbuild commented on #38984
The cleanup has started for el8_ppc64le_gcc10

[2022-08-08 01:24] cmsbuild commented on #38984
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5_patch1-el8_aarch64_gcc10/2147

[2022-08-08 01:24] cmsbuild commented on #38984
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5_patch1-el8_ppc64le_gcc10/2149

[2022-08-08 01:24] cmsbuild commented on #38984
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5_patch1-el8_amd64_gcc10/2148

[2022-08-08 01:24] cmsbuild commented on #38984
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5_patch1-slc7_amd64_gcc10/2150

[2022-08-08 02:25] qliphy opened #38987 "TestDQMOnlineClient unit failures"
Appearing in IB now, possibly related to
https://github.com/cms-data/DQM-Integration/pull/2
https://github.com/cms-sw/cmssw/pull/38925#issuecomment-1202139464

[2022-08-08 02:25] cmsbuild commented on #38987
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-08 02:25] qliphy commented on #38987
===== Test "TestDQMOnlineClient-l1tstage2_dqm_sourceclient" ====
+ [[ 1 -eq 0 ]]
+ [[ -z '' ]]
+ LOCAL_TEST_DIR=.
+ [[ -z '' ]]
+ CLIENTS_DIR=./src/DQM/Integration/python/clients
+ mkdir -p ./upload
+ cmsRun ./src/DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py unitTest=True
Querying DAS for files...
the query is file run=355380 dataset=/ExpressPhysics/Run2022B-Express-v1/FEV

[2022-08-08 02:25] qliphy commented on #38987
===== Test "TestDQMOnlineClient-l1tstage2emulator_dqm_sourceclient" ====
+ [[ 1 -eq 0 ]]
+ [[ -z '' ]]
+ LOCAL_TEST_DIR=.
+ [[ -z '' ]]
+ CLIENTS_DIR=./src/DQM/Integration/python/clients
+ mkdir -p ./upload
+ cmsRun ./src/DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py unitTest=True
Querying DAS for files...
the query is file run=355380 dataset=/ExpressPhysics/Run2022

[2022-08-08 02:26] qliphy commented on #38987
assign dqm, alca

[2022-08-08 02:26] cmsbuild commented on #38987
New categories assigned: dqm,alca

@jfernan2,@ahmad3213,@yuanchao,@micsucmed,@rvenditti,@emanueleusai,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-08 02:26] qliphy commented on #38987
adding also @cms-sw/ctpps-dpg-l2

[2022-08-08 08:01] francescobrivio commented on #38987
unassign alca

 - the PRs mentioned in the Issue description only touch the unitTest of the `beamhlt` DQM client (and its input streamer files) and have nothing to do with the `l1tstage2_dqm` and `l1tstage2emulator_dqm` clients

[2022-08-08 08:36] missirol commented on #38980
@cms-sw/dqm-l2

This issues persists, and it's delaying the review of a few PRs.

Should we expect it to be fixed anytime soon?

[2022-08-08 09:01] emanueleusai commented on #38980
I couldn't look into it any further over the weekend, but we are working on it.

[2022-08-08 09:19] qliphy commented on #38987
This issue seems to be due to https://github.com/cms-sw/cmssw/pull/38886/

I can reproduce the error locally.

1) First CMSSW_12_5_X_2022-08-07-0000 works well
2) Then CMSSW_12_5_X_2022-08-07-2300 + https://github.com/cms-sw/cmssw/pull/38886/ will give the error on  'totemTriggerRawToDigi'

cd DQM/Integration/python/clients
cmsRun l1tstage2emulator_dqm_sourceclient-live_cfg.py unitTest=True

[2022-08-08 09:20] qliphy commented on #38987
@forthommel  would you please have a quick look and fix?

[2022-08-08 09:26] ChrisMisan commented on #38987
This is probably because of the changes in EventFilter/CTPPSRawToDigi/python/ctppsRawToDigi_cff.py

[2022-08-08 11:12] mariadalfonso commented on #38899
+xpog

[2022-08-08 13:18] valsdav commented on #38964
Hi @tvami sorry for the late reply. I'm investigating with experts. I will let you know.

[2022-08-08 13:52] makortel opened #38993 "Crash in prompt reco because of read failure"
A crash
[code]
was observed in prompt reco https://cms-talk.web.cern.ch/t/promptreco-crash-in-run-356719/13691/1. The crash is fully reproducible.

[2022-08-08 13:52] makortel commented on #38993
assign core

[2022-08-08 13:52] cmsbuild commented on #38993
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-08 13:52] cmsbuild commented on #38993
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-08 13:54] makortel commented on #38993
@pcanal Could you take a look? Here is a recipe to reproduce on cmsdev32
[code]
It will start processing directly the problematic event.

[2022-08-08 15:31] germanfgv opened #38997 "Investigation on multi-threading in repack jobs"
After recent changes in Repack, T0 is now using LZMA-4 to compress RAW data. Due to this change, the duration of T0 jobs has increased considerably. While we are mostly able to repack in reasonable times, some jobs dealing with particularly large files may pose a problem.

Usually, Repack jobs are run in a single core, so we tried to explore the possibility of running multicore repack jobs for lar

[2022-08-08 15:32] cmsbuild commented on #38997
A new Issue was created by  @germanfgv Germn Felipe Giraldo Villa.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-08 15:35] makortel commented on #38997
assign core

[2022-08-08 15:35] cmsbuild commented on #38997
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-08 15:59] makortel commented on #38997
An earlier discussion in https://mattermost.web.cern.ch/cms-o-and-c/pl/om99iu1dmfrdjf855beum7387w suggested that given the multiple output modules one could see improvement with 2 (or even 3) threads. I think it would be useful to investigate (at least a bit of) what exactly happens in the current repack jobs.

[2022-08-08 16:10] Dr15Jones commented on #38997
Looking at the job log in the directory given, the job is using 1 thread but is only 39% CPU efficient (CPU time is  21365.2 while the wallclock time is 54837.6). So even at 1 thread, the job is completely IO limited. Using more threads isn't going to help much.

[2022-08-08 16:13] davidlange6 commented on #38997
Nothing here should be io limited:) it should be compression cpu limited

[2022-08-08 16:16] davidlange6 commented on #38997
There are lots of stalls - eg, Here it spent 2 hours..

Begin processing the 2712th record. Run 356993, Event 2537640, LumiSection 145 on stream 0 at 08-Aug-2022 00:05:13.389 CEST
Begin processing the 2713th record. Run 356993, Event 2539460, LumiSection 145 on stream 0 at 08-Aug-2022 00:07:06.644 CEST

[2022-08-08 16:19] makortel commented on #38993
@germanfgv re-run the REPACK for this job in a replay, and I was able to run the PromtpReco job successfully with that input. This test suggests that the problem in the REPACK might not be reproducible.

[2022-08-08 16:20] makortel commented on #38997
Umm, that is two minutes, no? (although still much longer than ideally)

[2022-08-08 16:25] davidlange6 commented on #38997
Whoops:)

Anyway, that 2 minutes does not reproduce.

[2022-08-08 16:40] emanueleusai commented on #38980
So @ahmad3213 found this error message in the logs of the bin by bin GUI:

visDQMIndex: ./DQM/StringAtom.h:124: size_t StringAtomTree::insert(const string&): Assertion `tree_.size() < tree_.capacity()' failed.
*** DQMStore: WARNING: no monitor element 'total_errors' in directory 'Run 1/MessageLogger/Run summary/Errors' for quality test 'total_errors.XrangeWithin:Error'

visDQMIndex (pid=28588 ppid

[2022-08-08 16:45] davidlange6 commented on #38997
Anyway, seems this job would take O(200) minutes on an otherwise busy cern node - maybe input files need to be copied locally to improve the cpu efficiency?

[2022-08-08 17:00] Dr15Jones commented on #38997
So I took a look at the IO accounting in the framework job report. Nothing caught my eye there. But then I remembered that the input to this job is a Streamer file and the streamer code does not doing any IO accounting.

The Streamer source was not written for remote reads (such as EOS) in mind. It does simple Posix calls for each event, that means separate IO request round-trips each time a new e

[2022-08-08 17:05] davidlange6 commented on #38997
Thats good to know! Thanks Chris.

@germanfgv - Does the tier0 have the hardware to copy inputs locally for repack?

[2022-08-08 17:15] emanueleusai commented on #38980
It looks like we might be hitting the size limit of the index trees.
https://github.com/cms-DQM/dqmgui_prod/blob/index128/src/cpp/DQM/StringAtom.h#L64

StringAtomTree(size_t capacity = 1024*1024)

[2022-08-08 17:21] makortel commented on #38997
Just to check some of our assumptions, I ran the repack job with the first streamer file copied locally with IgProf (in this setup I got throughput of 4.2 events/s on cmsdev32 wrt. 0.9 events/s in the log). Here is the full profile https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/issue38997/run356993_ls0145/perf . Of the total of 1418 s
* `edm::PoolOutputModule::write()` took 1374 s (97 %)

[2022-08-08 17:35] davidlange6 commented on #38997
and if the goal is jobs that run in a shorter amount of time, one can also use fewer lumis..

[2022-08-08 19:07] makortel commented on #38997
I continued with the first-lumi job, and got
* with 1 thread: 4.35 events/s throughput, >99 % efficient
* with 2 threads: 4.89 events/s throughput, 53 % efficient

The job has 5 OutputModules
* `write_Cosmics_RAW`, wrote 97 % of events
* `write_HLTPhysics_RAW`, wrote 0.9 % of events
* `write_HcalNZS_RAW`, wrote 0.01 % of events
* `write_MinimumBias_RAW`, wrote 3.6 % of events
* `write_NoBPTX_RAW`,

[2022-08-08 20:13] makortel commented on #38997
I made a distribution of the time differences between subsequent `Begin processing` printouts from the log of the original job (notice logarithmic y axis)
![repack_times](https://user-images.githubusercontent.com/33993/183505454-d9803d06-cde9-4f0a-b06c-39761bf45dbd.png)

and some quantile numbers
* `< 0.1 s`: 93.4 % of events
* `0.1 .. 1 s`: 3.5 % of events
* `1 .. 25 s`: 2.5 % of events
* `> 25 s

[2022-08-08 21:06] makortel commented on #38976
A `MEM_LIVE` profile (dumped at `postGlobalEndRun`) points to `GEMDQMHarvester::dqmEndLuminosityBlock()` taking 610 MB  https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/issue38976/run356615/preEndRun.mem.356615/25 . Nearly all of that appears to be in `std::map`s in `GEMDQMHarvester::createTableWatchingSummary()` https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/issue38976/run356615/p

[2022-08-08 21:06] makortel commented on #38976
FYI @cms-sw/gem-dpg-l2

[2022-08-08 21:12] pcanal commented on #38993
As far I can tell this means that there is a read error within the lzma decoding, i.e. the buffer is most likely corrupted.  It could be corruption that happened during writing (bug in the writing code) or after writing (hardware or network failure).   To track it down we would need to reproduce the writing failure.

[2022-08-08 21:13] tvami opened #39001 "Testing adding `allTrackMCMatch` collection to RelVals"
I was studying fake tracks in ttbar MC, and I learned that `allTrackMCMatch` collection can ensure that the tracks have a sim level match. There were some bugs that were fixed in https://github.com/cms-sw/cmssw/pull/37613
However there is currently no RelVal that tests the changes in 37613

I made this customize function:
https://github.com/cms-sw/cmssw/commit/473760e8249d03cc0f2e6972672af93a69d61

[2022-08-08 21:14] tvami commented on #39001
assign pdmv,tracking-pog

[2022-08-08 21:14] cmsbuild commented on #39001
New categories assigned: pdmv,tracking-pog

@bbilin,@slava77,@mmusich,@jordan-martins,@vmariani,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-08 21:14] cmsbuild commented on #39001
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-09 01:17] jshlee commented on #38976
@slowmoyang @quark2 can you take a look at this.

[2022-08-09 07:37] civanch commented on #38669
+1

[2022-08-09 07:37] cmsbuild commented on #38669
This issue is fully signed and ready to be closed.

[2022-08-09 08:13] #38669 closed

[2022-08-09 08:22] qliphy opened #39005 "Build CMSSW_12_4_5_patch2"
Requested urgently to include #38989 to be deployed at HLT,
https://github.com/cms-sw/cmssw/pull/38989#issuecomment-1209033374

[2022-08-09 08:22] cmsbuild commented on #39005
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-09 08:29] qliphy commented on #39005
+1

[2022-08-09 08:29] cmsbuild commented on #39005
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_5_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-08-09 08:29] cmsbuild commented on #39005
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-08-09 08:30] cmsbuild commented on #39005
The build has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3604/console
CMSDIST Branch: [REL/CMSSW_12_4_5/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_5/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-09 08:30] cmsbuild commented on #39005
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3606/console
CMSDIST Branch: [REL/CMSSW_12_4_5/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_5/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-09 08:30] cmsbuild commented on #39005
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3605/console
CMSDIST Branch: [REL/CMSSW_12_4_5/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_5/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-09 08:30] cmsbuild commented on #39005
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3607/console
CMSDIST Branch: [REL/CMSSW_12_4_5/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_5/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-09 08:56] qliphy commented on #39005
abort
https://github.com/cms-sw/cmssw/pull/38982  needs a full build

[2022-08-09 08:57] cmsbuild commented on #39005
Deleting CMSSW_12_4_5_patch2:

  - Release successfully deleted

  - cmssw tag CMSSW_12_4_5_patch2 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_12_4_5_patch2/el8_amd64_gcc10. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_4_5_patch2/slc7_amd64_gcc10. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_4_5_pa

[2022-08-09 08:57] cmsbuild commented on #39005
The was an error for el8_ppc64le_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_5_patch2-el8_ppc64le_gcc10/3605

[2022-08-09 09:00] qliphy opened #39006 "Build CMSSW_12_4_6"
Requested urgently to include #38989 to be deployed at HLT,  #38989 (comment)

#38982 needs a full build

[2022-08-09 09:00] cmsbuild commented on #39006
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then

[2022-08-09 09:02] qliphy commented on #39006
+1

[2022-08-09 09:02] cmsbuild commented on #39006
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-08-09 09:02] cmsbuild commented on #39006
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-08-09 09:03] cmsbuild commented on #39006
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3608/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-09 09:04] cmsbuild commented on #39006
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3609/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-09 09:04] cmsbuild commented on #39006
The build has started for el8_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3610/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-09 09:04] cmsbuild commented on #39006
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3611/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-08-09 10:15] davidlange6 commented on #38997
I guess there is some variation in Eos read performance then... I tried rerunning my job with local files and see essentially no difference (eg, 10s of seconds improvement over the job).  There is a low rate of events taking >1 second in my tests. Some correspond to output module activity (or at least memory increases) or are reproducible (eg, event 657)

[2022-08-09 11:00] jpata opened #39007 "Phase2 duplicate pixels handling"
In https://github.com/cms-sw/cmssw/pull/37559#issuecomment-1099529597 it was noticed that duplicate pixels are not treated correctly in the Phase2 pixel digitizer. As I understand, their appearance is currently related to the simulation code.

[2022-08-09 11:00] jpata commented on #39007
assign simulation

[2022-08-09 11:00] cmsbuild commented on #39007
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-09 11:00] cmsbuild commented on #39007
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-09 11:10] jpata opened #39008 "test for ClassVersion backwards compatibility"
In https://github.com/cms-sw/cmssw/pull/38870#discussion_r938814564 we missed keeping the old ClassVersion, which has since been readded.

It might be useful if this bug was tested for: either at compile time, statically, or via some runtime test.

[2022-08-09 11:10] jpata commented on #39008
assign core

[2022-08-09 11:10] cmsbuild commented on #39008
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-09 11:10] cmsbuild commented on #39008
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-09 11:29] cmsbuild commented on #39006
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_6-el8_ppc64le_gcc10/3608
Some tests (

[2022-08-09 11:50] tvami commented on #38977
+alca
 * being resolved in https://github.com/cms-sw/cmssw/pull/38985

[2022-08-09 11:50] cmsbuild commented on #38977
This issue is fully signed and ready to be closed.

[2022-08-09 12:03] cmsbuild commented on #39006
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_6-el8_aarch64_gcc10/3609
Some tests (

[2022-08-09 12:19] cmsbuild commented on #39006
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_6-el8_ppc64le_gcc10/3608

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-09 12:24] cmsbuild commented on #39006
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_6-slc7_amd64_gcc10/3611
Some tests ( ru

[2022-08-09 12:37] cmsbuild commented on #39006
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_6-el8_amd64_gcc10/3610
Some tests ( runT

[2022-08-09 12:44] qliphy commented on #39006
upload all

[2022-08-09 12:45] cmsbuild commented on #39006
Queing Jenkins upload for slc7_amd64_gcc10

[2022-08-09 12:45] cmsbuild commented on #39006
Queing Jenkins upload for el8_amd64_gcc10

[2022-08-09 12:45] cmsbuild commented on #39006
Queing Jenkins upload for el8_aarch64_gcc10

[2022-08-09 12:45] cmsbuild commented on #39006
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2445/console

[2022-08-09 12:45] cmsbuild commented on #39006
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2448/console

[2022-08-09 12:45] cmsbuild commented on #39006
The upload has started for el8_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2446/console

[2022-08-09 12:45] cmsbuild commented on #39006
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2447/console

[2022-08-09 12:46] cmsbuild commented on #39006
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_6-el8_aarch64_gcc10/2445

[2022-08-09 12:46] cmsbuild commented on #39006
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_6-el8_ppc64le_gcc10/2447

[2022-08-09 12:47] cmsbuild commented on #39006
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_6-slc7_amd64_gcc10/2448

[2022-08-09 12:47] cmsbuild commented on #39006
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_6-el8_amd64_gcc10/2446

[2022-08-09 12:50] qliphy commented on #39006
release-notes

[2022-08-09 12:51] cmsbuild commented on #39006
Generating release notes since CMSSW_12_4_5_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-08-09 12:51] cmsbuild commented on #39006
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_6 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_5_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_6

Requested urgently to i

[2022-08-09 12:55] cmsbuild commented on #39006
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_6

[2022-08-09 13:10] #38977 closed

[2022-08-09 13:13] cmsbuild commented on #39006
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_6-slc7_amd64_gcc10/3611

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-09 13:22] mmusich commented on #39007
assign trk-dpg

[2022-08-09 13:22] mmusich commented on #39007
@emiglior @suchandradutta FYI

[2022-08-09 13:22] cmsbuild commented on #39007
New categories assigned: trk-dpg

@connorpa,@mmusich,@tsusa you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-09 13:25] cmsbuild commented on #39006
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_6-el8_amd64_gcc10/3610

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-08-09 13:31] makortel commented on #39008
Adding additional comment from https://github.com/cms-sw/cmssw/pull/38986#discussion_r941225540

[2022-08-09 13:37] makortel commented on #39008
So we'd need to somehow figure out if a a change in `classes_def.xml` kept all previous class versions, with an ability to ignore that in case a "break" is really needed (which should be rare).

I'd imagine a check in the PR test infrastructure to be sufficient. My first thought would be to write a python script that would parse two `classes_def.xml` files as an input (old and new, possibly readin

[2022-08-09 16:49] mmusich commented on #38987
I see failures seemingly related to this in the unit test of PR cms-sw/cmssw#38760

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-5b625f/26728/unitTests/failed.html

[code]

Will it get fixed as well?

[2022-08-09 16:54] tvami commented on #38987
I think https://github.com/cms-sw/cmssw/pull/38991 is fixing it already, it's just that the DQM friends havent looked at it yet

[2022-08-09 17:16] tvami commented on #38198
hi @jpata do you have any update on this? thanks!

[2022-08-09 17:27] mmusich opened #39017 "Consumes failure in `BPHMonitor`"
Starting from `CMSSW_12_5_X_2022-08-09-1100`, some workflows are failing with:

[code]

e.g. 11634.911.
First spotted in https://github.com/cms-sw/cmssw/pull/38760#issuecomment-1209651811.

[2022-08-09 17:27] mmusich commented on #39017
assign dqm

[2022-08-09 17:27] cmsbuild commented on #39017
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-09 17:27] cmsbuild commented on #39017
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-09 17:28] mmusich commented on #39017
@cms-sw/alca-l2 @cms-sw/hlt-l2 I am copying you as the more substantive recent changes are on your area.

[2022-08-09 17:43] mmusich commented on #39017
Actually also https://github.com/cms-sw/cmssw/pull/38917 could be the culprit: @Dr15Jones

[2022-08-09 18:03] makortel commented on #39017
The log of 11634.911 step 2 has many
[code]
and
[code]
(`GlobalAlgBlkBxCollection` is a type alias for `BXVector<GlobalAlgBlk>`). Unfortunately these messages don't tell anything about the modules that are using `L1TGlobalUtilsHelper` (we are thinking ways to improve the message decorations or something for that).

It seems to me that there are many modules that have been configured incorrect for

[2022-08-09 18:03] makortel commented on #39017
Adding also @cms-sw/l1-l2

[2022-08-09 18:31] Dr15Jones commented on #39017
The warning about `Found multiple preferred input tags` is most likely the origin of the problem. I took another look at the code before my change. Previously, when `multiple preferred input tags` were found the code would issue a LogDebug message, unset the `edm::InputTag` it has previously set but NOT reset the `EDGetTokenT` it had set. So the code would get which ever data it happened to be han

[2022-08-09 19:43] Dr15Jones commented on #39017
So I changed the Error message to an exception and added context about the module and now I see
[code]

[2022-08-09 19:52] Dr15Jones commented on #39017
Looking at the configuration I find
[code]
which seems to show the inputs ARE specified. So something is up.

[2022-08-09 20:55] missirol commented on #39017
I don't fully follow yet, but I leave a quick guess: I suspect an instance of `HLTPrescaleProvider` (created by `BPHMonitor`) is creating a `L1TGlobalUtil` which in turn makes a `L1TGlobalUtilHelper` with empty `InputTag`s, and that could lead to the routine searching for the preferred input collection, then the warning/error (links below).

Just for my education: in IB `CMSSW_12_5_X_2022-08-09-11

[2022-08-09 20:59] Dr15Jones commented on #39017
So there appears to be a 'hidden' use of `L1TGlobalUtilHelper` in `BPHMonitor` and it is passed the "wrong" configuration.

https://github.com/cms-sw/cmssw/blob/e52f99a59bb77ceec0102769446b26c321662ae8/DQMOffline/Trigger/plugins/BPHMonitor.cc#L237

where the module's full configuration is passed in which goes to
https://github.com/cms-sw/cmssw/blob/e52f99a59bb77ceec0102769446b26c321662ae8/HLTrigge

[2022-08-09 21:01] Dr15Jones commented on #39017
So the question is, what is the purpose of the HLTPrescaleProvider in BPHMonitor and how was is SUPPOSED to be configured?

[2022-08-09 21:02] makortel commented on #39017
No clue, but I'm also wondering why we see the failures only in the .911 (DD4Hep) and .914 (DDD) workflow variations rather than everywhere.

[2022-08-09 21:14] Dr15Jones commented on #39017
I feel that the underlying failure in the design of this code is the use of `existAs` to test if a parameter is available.

[2022-08-10 06:11] #38987 closed

[2022-08-10 08:51] mileva commented on #38939
Hi @makortel all,
The reason for the crash is that during the run 314890 (used by the workflow 136.8561_RunZeroBias) the CPPF data were considered as  corrupted. The reason was an firmware update, which led to some problems.. The CPPF good data have been restored after the run 315764.

My personal advice is to change the input data with some recent zerobias run in order to test the workflow.

And

[2022-08-10 09:38] drkovalskyi commented on #38997
Please keep in mind that even if local input helps, we have no space to copy the streamer file on a worker node - we have limited amount of space per core and blocking many cores is very inefficient.

[2022-08-10 09:52] drkovalskyi commented on #38997
On the other hand, our biggest problem is that all these slow jobs create manual work for operators. If we have a procedure to retry that has a better success rate that would help. At the moment we have two options for retries:

1. Relax compression
2. Use two cores

Do you see any other options that may help?

[2022-08-10 10:00] jeyserma commented on #38997
A few weeks ago I did some timing/efficiency studies for repacking as a function of the #threads, comparing the old and new compression algorithms. See the plots below for reference, it's in line with the expectations: 1) LZMA takes much longer, and 2) we don't benefit much from switching to multithreading. So when switching to 2 cores we won't increase the time considerably.

![raw_timing](https:

[2022-08-10 11:40] qliphy commented on #38939
@mileva  Is https://github.com/cms-sw/cmssw/pull/38974 supposed to fix this issue?

[2022-08-10 12:00] missirol commented on #39017
It is used in various ways inside `BPHMonitor`, for one to get the value of the prescale(s) of certain triggers, and this info is used to fill certain DQM outputs.

I'd say using `gtStage2Digis`.

Taking wf `11634.911` as an example, `hltGtStage2Digis` (L1T digis of step-2) and `gtStage2Digis` (L1T digis of step-3) are not literally the same, but I think they are effectively the same [*]. Other pa

[2022-08-10 12:10] mileva commented on #38939
Hi @qliphy
No, #38974 is not supposed to fix this issue here.

#38974 is intended to fix the CPPF DAQ delay and the unpacked RPC digis, while the current issue relates to a comparison between the unpacked cppf digis vs emulated ones.

The RPCCPPF unpacker processes two different records
TXRecord: Processing it the unpacker fills the CPPFDigi collection (clusters that are sent to L1-EMTF), used by

[2022-08-10 12:22] missirol commented on #39017
assign hlt

[2022-08-10 12:22] cmsbuild commented on #39017
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-10 12:39] dpiparo commented on #38997
The above figures are interesting. We switched to LZMA to save tape, disk and network obtaining 10-15% smaller RAW. This came at a cost, the CPU needed is more to get to these smaller sizes.
Now, it's unclear to me if we are facing an inefficiency of the computing infrastructure (e.g. EOS or network performance) causing much longer jobs than expected or we are looking to quicker repack jobs in gen

[2022-08-10 12:52] davidlange6 commented on #38997
Could you elaborate? An 8 core prompt reading from Eos takes much less than the vo card local disk requested by cms so there is extra disk around on average. Or do we not allocate disk  in pilots in the same way we can allocate memory?

[2022-08-10 13:02] dpiparo commented on #38997
I think we schedule on # cores, memory and accelerators and not (yet?) on scratch space. It is true that with 20-30 GB we could think there is enough room on the local disk to copy streamer files locally but we ought to be sure of that this will not result under any circumstances in random storm of failing jobs b/c of lack of storage on the device, no?

[2022-08-10 13:13] makortel commented on #38939
Thanks, adding @cms-sw/pdmv-l2 for that

[2022-08-10 13:14] makortel commented on #38939
assign pdmv

[2022-08-10 13:14] cmsbuild commented on #38939
New categories assigned: pdmv

@bbilin,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-10 13:48] drkovalskyi commented on #38997
Danilo summarized it well. We were always using cores as a proxy for the scratch space assuming we have 20GB/core.

[2022-08-10 13:52] davidlange6 commented on #38997
Ok, so scratch is handled differently than memory. Thats unfortunate.  But so how did this work in 2018? We allocated two cores for each repack?

[2022-08-10 14:00] drkovalskyi commented on #38997
We compute how much memory we need and then based on that request how many cores we require. This was introducing significant inefficiency in repacking since the second core was mostly idling. Now we revised the calculation dropping the requirement to have extra space for a local input and we are back to reasonable efficiency now.

[2022-08-10 14:47] kskovpen commented on #38939
One can use for example this input: https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_steps.py#L483

[2022-08-10 15:00] Dr15Jones commented on #39017
Unfortunately, the `BPHMonitor::fillDescriptions` does not contain entries needed to configure the InputTags used by the `HLTPrescaleProvider`. I'm presently working on a PR that does add the needed parameters and sets them to `gtStage2Digis` by default.

[2022-08-10 15:29] makortel commented on #38997
It turns out that the example job is using `lazy-download` via
[code]
and the `XrdFile` gets 128 MB read requests that it splits into 8 MB reads downstream.

[2022-08-10 15:33] aperezca commented on #38997
Hi, just to comment that in HTCondor, given that we are using partitionable slots in our pools, one can request number of CPU cores, memory and disk independently. See in
https://htcondor.readthedocs.io/en/latest/man-pages/condor_submit.html

sections concerning request_cpus, request_disk and request_memory.

I would say we have simply not paid much attention to disk in the past in terms of worklo

[2022-08-10 16:39] bainbrid commented on #35929
Hi all,

(mainly for my benefit) I summarise below the exceptions reported in this thread relevant to low pT electrons:

@jordan-martins originally reported in this message https://github.com/cms-sw/cmssw/issues/35929#issue-1040944414 the following two exceptions seen during the BParking UL RERECO:

[code]
and
[code]

Separately, @swagata87 also reported in the message above https://github.com/cms

[2022-08-10 16:39] bainbrid commented on #35929
@lfinco

[2022-08-10 16:59] fwyzard commented on #39017
I agree.
In general (for example, during production jobs), `hltGtStage2Digis` should not be available during step 3.

[2022-08-10 18:39] makortel commented on #38997
I analyzed a bit more the timestamps from the example log. The plot below shows the event processing progress as a function of time since the timestamp of the first event for the first 5k event.

![repack_cumulative](https://user-images.githubusercontent.com/33993/183989196-cecf593f-98c8-424b-8e6e-fd788a417c5d.png)

Notice how the processing (increasing line) and stalls (flat line) alternate (the

[2022-08-11 04:16] emanueleusai opened #39026 "Crash in GsfTrackProducer/'lowPtGsfEleGsfTracks' on ParkingDoubleMuonLowMass5 Prompt Reco dataset"
Hello

We have two instances of  PromptReco jobs for dataset ParkingDoubleMuonLowMass5 crashing when running dqm offline:

cmsRun1
Fatal Exception (Exit Code: 8001)
An exception of category 'LogicError' occurred while
   [0] Processing  Event run: 356948 lumi: 46 event: 59404076 stream: 5
   [1] Running path 'dqmoffline_6_step'
   [2] Prefetching for module LogMessageMonitor/'TrackFinderLogMessage

[2022-08-11 04:16] cmsbuild commented on #39026
A new Issue was created by  @emanueleusai Emanuele Usai.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-11 04:16] emanueleusai commented on #39026
assign dqm,egamma,tracking

[2022-08-11 04:17] cmsbuild commented on #39026
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-11 04:17] emanueleusai commented on #39026
assign egamma

[2022-08-11 04:32] emanueleusai commented on #39026
See cmsTalk post here: https://cms-talk.web.cern.ch/t/error-in-promptreco-for-run-356948-dataset-parkingdoublemuonlowmass5/13791

[2022-08-11 06:03] mmusich commented on #39026
assign reconstruction, tracking-pog, egamma-pog

[2022-08-11 06:04] cmsbuild commented on #39026
New categories assigned: tracking-pog,reconstruction,egamma-pog

@jpata,@slava77,@mmusich,@lfinco,@clacaputo,@swagata87,@vmariani you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-11 06:04] mmusich commented on #39026
unassign dqm
   * doesn't look like it's a DQM issue, even if the stack starts in a dqm path.

[2022-08-11 06:06] mmusich commented on #39026
for the record the exception is triggered here:
https://github.com/cms-sw/cmssw/blob/2a2ca2ee216a44c2743301dc2dc32b4c7c93f4ad/TrackingTools/GsfTools/src/BasicMultiTrajectoryState.cc#L19-L21

[2022-08-11 07:08] #39005 closed

[2022-08-11 07:09] cmsbuild commented on #39005
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_5_patch2-el8_ppc64le_gcc10/2151

[2022-08-11 07:13] mmusich commented on #39026
@emanueleusai @tyjyang (ORM) have you tried to reproduce? Can you provide the first event that fails for ease of debugging?

[2022-08-11 07:24] mmusich commented on #38958
assign tracker-dpg

[2022-08-11 07:24] cmsbuild commented on #38958
New categories assigned: trk-dpg

@connorpa,@mmusich,@tsusa you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-08-11 08:29] smorovic commented on #38997
Hi @dpiparo.
Streamer file reading could indeed benefit from read-ahead.
`StreamerInputFile::readEventMessage()` now does two reads per event, once for event header (which contains payload size) and then the payload.
It could instead read a larger fixed size (configurable amount), and then read again only when this is exhausted, with some care to handle correctly header and payload at the buffer b