[2019-10-22 19:09] Dr15Jones commented on #28241
assign generators

[2019-10-22 19:09] cmsbuild commented on #28241
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-22 19:42] dan131riley commented on #28241
`LHEReader` just calls `StorageFactory::open()`

https://github.com/cms-sw/cmssw/blob/35176b9685b0361db09ba627df8cde4e14d73d09/GeneratorInterface/LHEInterface/src/LHEReader.cc#L52

If I understand correctly, that doesn't use the InputFileCatalog at all, so I guess they must be currently using PFNs, not LFNs?  If that's correct, there'd be two parts to adding AAA fallback--part 1 would be to add an

[2019-10-22 19:58] peruzzim commented on #28238
Just a clarification: this is not intended to be fixed in time for the NanoAODv6 production campaign.

[2019-10-22 20:00] fabiocos commented on #28225
@smuzaffar the situation of labels looks a bit messy, and I do not understand why test output is not yet there

[2019-10-22 22:47] fabiocos commented on #28225
In Jenkins I see:

[code]

and something similar for slc7...

[2019-10-23 04:52] smuzaffar commented on #28225
release build did not reset the build-error label. I have removed it. go ahead and upload if you want

[2019-10-23 09:56] fabiocos commented on #28225
upload all

[2019-10-23 09:56] cmsbuild commented on #28225
Queing Jenkins upload for slc6_amd64_gcc700

[2019-10-23 09:56] cmsbuild commented on #28225
Queing Jenkins upload for slc7_amd64_gcc700

[2019-10-23 09:57] cmsbuild commented on #28225
The upload has started for slc7_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1430/console

[2019-10-23 09:57] cmsbuild commented on #28225
The upload has started for slc6_amd64_gcc700 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1429/console

[2019-10-23 09:58] cmsbuild commented on #28225
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_4-slc7_amd64_gcc700/1430

[2019-10-23 10:00] cmsbuild commented on #28225
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_4-slc6_amd64_gcc700/1429

[2019-10-23 10:19] fabiocos commented on #28225
release-notes

[2019-10-23 10:20] cmsbuild commented on #28225
Generating release notes since CMSSW_10_3_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-10-23 10:20] cmsbuild commented on #28225
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_3_4 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_4

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-10-23 10:21] cmsbuild commented on #28225
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_4

[2019-10-23 10:45] fabiocos opened #28246 "Build CMSSW_10_2_18"

[2019-10-23 10:46] cmsbuild commented on #28246
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-10-23 10:46] fabiocos commented on #28246
+1

[2019-10-23 10:47] cmsbuild commented on #28246
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_18. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-10-23 10:47] cmsbuild commented on #28246
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-10-23 10:47] cmsbuild commented on #28246
The build has started for slc6_amd64_gcc700 in cmsbuild32.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2185/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-23 10:47] cmsbuild commented on #28246
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2186/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-23 10:49] cmsbuild commented on #28246
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_18-slc7_amd64_gcc700/2186

[2019-10-23 10:49] cmsbuild commented on #28246
The build has started for slc7_amd64_gcc700 in cmsbuild34.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2187/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-23 10:56] smuzaffar commented on #28246
@fabiocos , ignore the slc7 build error. the build was again running on vocms0315 which we want to re-install today. So I do not want ay release build to go there. I have restarted the release on a different node

[2019-10-23 10:58] fabiocos commented on #28246
@smuzaffar thank you for warning me, I agree that that node should be avoided until the update is done

[2019-10-23 12:35] peruzzim commented on #28119
For 10_6_X to be used in UL, we need:
- [x] #28094 Backport jetid updates #27184 #27691 to 106X
- [x] #28136 Muon FSR recovery for miniaod and nanoaod [106X]
- [ ] #28097 Enable pt-dependent JER-SF and phi-dependent JEC application in PAT [106X backport
- [ ] #28182 NanoAODv6 updates [106X] (includes backport of #28196)

I don't understand the role of #28177 - is that just for validation activitie

[2019-10-23 14:44] cmsbuild commented on #28246
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_18-slc7_amd64_gcc700/2187
Some tests (

[2019-10-23 15:07] srimanob opened #28248 "PRs target for 11_0_0"
This issue is to collect PRs that target for 11_0_0. From the proposed schedule:
• CMSSW_11_0_0 on December 17
• End of open development: November 19
• Closed pre-release for fixes: December 3
(Page 9 in [Tentative plan](https://indico.cern.ch/event/842166/contributions/3581608/attachments/1930353/3198411/OCWeek_20191022.pdf))

- UL:

- Run-3:

- [ ] #28193  [HBHE] Update MahiDebugger and fix nP i

[2019-10-23 15:08] cmsbuild commented on #28248
A new Issue was created by  @srimanob Phat Srimanobhas.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-23 15:12] fabiocos commented on #28248
@srimanob I think that with such an advance we should be capable to discuss all this in next ORPs, anyway fine for me to keep track here of a few relevant developments that are already available

[2019-10-23 15:26] cmsbuild commented on #28246
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_18-slc6_amd64_gcc700/2185
Some tests (

[2019-10-23 16:05] fabiocos commented on #28119
@aspiezia should comment, I agree that the title should be better updated to reflect the Validation nature of that update

[2019-10-23 22:22] cmsbuild commented on #28246
There was an error when running the tests for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_18-slc6_amd64_gcc700/2190

Tests results:
grep: /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_10_2_18-slc6_amd64_gcc700/build/CMSSW_10_2_18-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2019-10-23 23:47] cmsbuild commented on #28246
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_18-slc7_amd64_gcc700/2189

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-24 00:13] cmsbuild commented on #28246
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_18-slc6_amd64_gcc700/2191

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-24 08:36] forthommel commented on #25690
Hello @slava77 !
As referenced above, this should now be covered by #28252

[2019-10-24 11:09] fabiocos commented on #28246
upload all

[2019-10-24 11:09] cmsbuild commented on #28246
Queing Jenkins upload for slc6_amd64_gcc700

[2019-10-24 11:09] cmsbuild commented on #28246
Queing Jenkins upload for slc7_amd64_gcc700

[2019-10-24 11:10] cmsbuild commented on #28246
The upload has started for slc7_amd64_gcc700 in cmsbuild34.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1432/console

[2019-10-24 11:10] cmsbuild commented on #28246
The upload has started for slc6_amd64_gcc700 in cmsbuild32.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1431/console

[2019-10-24 11:11] cmsbuild commented on #28246
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_18-slc7_amd64_gcc700/1432

[2019-10-24 11:16] cmsbuild commented on #28246
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_18-slc6_amd64_gcc700/1431

[2019-10-24 11:23] fabiocos commented on #28246
release-notes

[2019-10-24 11:24] cmsbuild commented on #28246
Generating release notes since CMSSW_10_2_17.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-10-24 11:24] cmsbuild commented on #28246
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_18 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_17 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_18

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2019-10-24 11:24] cmsbuild commented on #28246
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_18

[2019-10-24 14:39] ianna opened #28256 "DD4hep: TIBLayer0DOHMCarrierFW definition is wrong"
Running simulation on Tracker only with all algorithms enabled:
[code]
Geometry build with DD4hep: the shape in question is selected (red tube segment) and obviously smaller then its children (green boxes)
![Screen Shot 2019-10-24 at 16 22 00](https://user-images.githubusercontent.com/1390682/67496497-c6036680-f67c-11e9-963a-03c7630c5bdc.png)
[code]
Geometry build with DD as a reference. The selec

[2019-10-24 14:40] cmsbuild commented on #28256
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-24 15:29] ianna commented on #28256
@vargasa - Could you, please, have a look after https://github.com/cms-sw/cmssw/pull/28260 is merged in the IBs? Thanks.

[2019-10-24 16:02] ianna opened #28261 "DD4hep: PixelForwardBlade copy numbers are off"
DD4hep geometry: the green volume should have a copy number 55. See reference snapshot.
![Screen Shot 2019-10-24 at 17 53 53](https://user-images.githubusercontent.com/1390682/67503390-d8cf6880-f687-11e9-9ba2-fcf32ac1e1aa.png)
DD geometry reference:
![Screen Shot 2019-10-24 at 17 54 10](https://user-images.githubusercontent.com/1390682/67503415-e4229400-f687-11e9-9bb2-2008ccc0db0d.png)

Hint: inne

[2019-10-24 16:02] cmsbuild commented on #28261
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-24 16:02] ianna commented on #28261
@vargasa - Could you, please, have a look? Thanks.

[2019-10-25 08:24] cmsbuild commented on #28225
The cleanup has started for slc6_amd64_gcc700

[2019-10-25 08:24] cmsbuild commented on #28225
The cleanup has started for slc7_amd64_gcc700

[2019-10-25 08:24] #28225 closed

[2019-10-25 08:24] cmsbuild commented on #28225
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_4-slc7_amd64_gcc700/1467

[2019-10-26 09:24] cmsbuild commented on #28246
The cleanup has started for slc6_amd64_gcc700

[2019-10-26 09:24] cmsbuild commented on #28246
The cleanup has started for slc7_amd64_gcc700

[2019-10-26 09:24] #28246 closed

[2019-10-26 09:25] cmsbuild commented on #28246
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_18-slc7_amd64_gcc700/1469

[2019-10-27 14:05] Dr15Jones opened #28283 "Problem with JetCorrectorParameters::Record::operator<"
The address sanitizer found a problem while calling `std::sort` on the `vector<JetCorrectorParameters::Record>`:

From https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_0_ASAN_X_2019-10-25-2300/addOnTests/logs/cmsDriver-hlt_mc_Fake_cmsRun__cvmfs_cms-ib.cern.ch_nweek-02599_slc7_amd64_gcc820_cms_cmssw_CMSSW_11_0_ASAN_X_2019-10-25-2300_src_HLTrigger_Configuration_test_OnLine_HLT

[2019-10-27 14:06] cmsbuild commented on #28283
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-27 14:07] Dr15Jones commented on #28283
assign analysis, db

[2019-10-27 14:07] cmsbuild commented on #28283
New categories assigned: db,analysis

@ggovi,@santocch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-27 20:04] slava77 opened #28284 "add local caching interface in MagneticField"
This issue is to address the performance scaling problem resulting from cache trashing of the cache used in the MagGeometry (internal to the VolumeBasedMagneticField) observed in multi-threaded applications.
As a follow up to #28180, in line with https://github.com/cms-sw/cmssw/pull/28180#issuecomment-545431737, an update to the interface is expected in 2019 with follow up PR(s) to enable/benefit

[2019-10-27 20:04] cmsbuild commented on #28284
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-27 20:05] slava77 commented on #28284
assign reconstruction,simulation

[2019-10-27 20:06] cmsbuild commented on #28284
New categories assigned: reconstruction,simulation

@mdhildreth,@slava77,@perrotta,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-28 08:04] aspiezia commented on #28119
Dear All, I have updated the title to "Tau Validation/DQM: switching deepTau version from v2 to v2p1 for CMSSW10_6_X".
Please let me know if that makes sense to you.

[2019-10-28 08:19] civanch commented on #28284
@slava77 , @namapane , @amadio, how will proceed? who will make PR(s)?

[2019-10-28 09:52] ianna opened #28285 "XML Material Description: Pixel materials defined in a top level description"
Phase1 BPIX _micro-twisted pairs boundle_ material as defined by L. Caminada is defined but not used. It refers to a tracker material that are defined elsewhere creating a circular dependency between **material.xml** and **trackermaterials.xml** files.

_To check:_ what is an actual material used in BPIX and either remove or move the definition to a more appropriate location.

Note: **T_Material**

[2019-10-28 09:53] cmsbuild commented on #28285
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-28 12:01] namapane commented on #28284
@civanch, as I mentioned in #28180 I can add the new interface but I am working on other developments in the same subsystems that I'd prefer to finish beforehand. It will take a couple of weeks I hope. Otherwise it's fine for me if that is done independently by somebody else; just let me know.

[2019-10-28 14:14] fabiocos opened #28287 "Build CMSSW_11_0_0_pre11"

[2019-10-28 14:15] cmsbuild commented on #28287
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-10-28 14:16] fabiocos commented on #28287
build cmssw-tool-conf

[2019-10-28 14:16] cmsbuild commented on #28287
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-10-28 14:17] cmsbuild commented on #28287
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild38.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2192/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-28 14:18] cmsbuild commented on #28287
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild58.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2193/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-28 14:56] cmsbuild commented on #28287
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2194/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-28 15:56] ianna opened #28292 "DD4hep: Using DDHCalBarrelAlgo report overlaps"
![Screen Shot 2019-10-28 at 16 50 43](https://user-images.githubusercontent.com/1390682/67694405-8fdb2500-f9a3-11e9-88e2-17a68927679e.png)

[2019-10-28 15:56] ianna commented on #28292
@bsunanda - FYI

[2019-10-28 15:56] cmsbuild commented on #28292
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-28 17:02] cmsbuild commented on #28287
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_aarch64_gcc820/2194

[2019-10-28 17:35] cmsbuild commented on #28287
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc820/2192

[2019-10-28 19:05] cmsbuild commented on #28287
There was an error building cmssw-tool-conf for slc7_amd64_gcc900
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc900/2193

[2019-10-28 22:13] slava77 commented on #28047
@felicepantaleo @rovere
please clarify if this issue is being addressed.
Thank you.

[2019-10-29 08:26] fabiocos commented on #28287
@smuzaffar the build for gcc900 fails in vincia with a problem:

[code]

which smells of failed import of includes. Anyway this is not seen in any IB so I am not sure why this appears here (the external is the same as for gcc820).

As far as I understand the git-tools have been now fixed, so I may restart the build in parallel with the IB conclusion, and check for possible further problems. Please

[2019-10-29 08:29] cmsbuild commented on #28287
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2195/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-29 08:54] fabiocos commented on #28119
@peruzzim as discussed, for the record: the integration of #28182 in 10_6_X causes two test workflows to fail (11824 and 11825):

[code]

[2019-10-29 09:09] fabiocos commented on #28285
assign geometry

@vargasa FYI

[2019-10-29 09:09] cmsbuild commented on #28285
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-29 09:36] fabiocos commented on #28292
assign geometry

[2019-10-29 09:37] cmsbuild commented on #28292
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-29 10:00] fabiocos commented on #28287
+1

[2019-10-29 10:01] cmsbuild commented on #28287
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-10-29 10:01] cmsbuild commented on #28287
The build has started for slc7_amd64_gcc820 in cmsbuild34.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2196/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-29 10:02] cmsbuild commented on #28287
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2197/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-29 10:33] cmsbuild commented on #28287
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc900/2195

[2019-10-29 10:34] cmsbuild commented on #28287
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-10-29 10:35] cmsbuild commented on #28287
The build has started for slc7_amd64_gcc900 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2198/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-29 11:58] cmsbuild commented on #28287
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_aarch64_gcc820/2197
Som

[2019-10-29 14:30] cmsbuild commented on #28287
The build has started for slc7_amd64_gcc820 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2199/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-29 14:32] ianna opened #28303 "Simulation: Phase II Beam Pipe description"
Check Phase II Beam Pipe description and update it to include new supports at 16 m. See the following presentations for more details:
https://indico.cern.ch/event/859122/

[2019-10-29 14:33] cmsbuild commented on #28303
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-29 14:49] cmsbuild commented on #28287
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc900/2198
Some te

[2019-10-29 16:29] #28147 closed

[2019-10-29 16:56] cmsbuild commented on #28287
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc900/2198

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-29 20:21] cmsbuild commented on #28287
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc820/2199
Some te

[2019-10-29 22:30] cmsbuild commented on #28287
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc820/2199

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-30 07:58] fabiocos commented on #28287
upload all

[2019-10-30 08:08] cmsbuild commented on #28287
Queing Jenkins upload for slc7_aarch64_gcc820

[2019-10-30 08:08] cmsbuild commented on #28287
Queing Jenkins upload for slc7_amd64_gcc820

[2019-10-30 08:08] cmsbuild commented on #28287
Queing Jenkins upload for slc7_amd64_gcc900

[2019-10-30 08:09] cmsbuild commented on #28287
The upload has started for slc7_amd64_gcc820 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1434/console

[2019-10-30 08:09] cmsbuild commented on #28287
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1433/console

[2019-10-30 08:10] cmsbuild commented on #28287
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre11-slc7_aarch64_gcc820/1433

[2019-10-30 08:10] cmsbuild commented on #28287
The upload has started for slc7_amd64_gcc900 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1435/console

[2019-10-30 08:12] cmsbuild commented on #28287
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc820/1434

[2019-10-30 08:13] fabiocos commented on #28287
release-notes

[2019-10-30 08:14] cmsbuild commented on #28287
Generating release notes since CMSSW_11_0_0_pre10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-10-30 08:14] cmsbuild commented on #28287
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre11 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820

The release notes of what changed with respect to CMSSW_11_0_0_pre10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre11

Cheers,
cms-bot

You can also click <a hre

[2019-10-30 08:15] cmsbuild commented on #28287
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre11

[2019-10-30 08:16] cmsbuild commented on #28287
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre11-slc7_amd64_gcc900/1435

[2019-10-30 10:12] fabiocos commented on #28287
release-notes

[2019-10-30 10:13] cmsbuild commented on #28287
Generating release notes since CMSSW_11_0_0_pre10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-10-30 10:13] cmsbuild commented on #28287
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre11 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre11

Cheers,
cms-bot

You can

[2019-10-30 10:14] cmsbuild commented on #28287
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre11

[2019-10-30 16:41] fabiocos commented on #28139
this looks now addressed by 28281

[2019-10-30 19:12] wddgit opened #28321 "Memory with PoolDBESSource and CondDBESSource and Concurrent IOVs"
As another step after the PR that makes PoolDBESSource
(aka CondDBESSource) capable of handling concurrent
IOVs, we should take a look at its override of the invalidateCache
function. This override does nothing both before and after that
PR. This was one of the things I didn't change trying to minimize
the changes in the PR.

But it may be worth modifying this function so that it actually
clears t

[2019-10-30 19:12] cmsbuild commented on #28321
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-30 19:39] Dr15Jones commented on #28321
assign core, db

[2019-10-30 19:39] cmsbuild commented on #28321
New categories assigned: core,db

@Dr15Jones,@smuzaffar,@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-30 20:10] #28139 closed

[2019-10-30 20:12] Dr15Jones commented on #28303
assign geometry

[2019-10-30 20:13] cmsbuild commented on #28303
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-31 22:22] peruzzim commented on #28158
+xpog

was fixed in recent pull requests #28196 (master) #28182 (106X)
backport to 102X is not yet done, it's not strictly needed, can be done as a low-priority item as a part of the next round of NanoAOD updates

[2019-10-31 22:23] cmsbuild commented on #28158
This issue is fully signed and ready to be closed.

[2019-10-31 22:24] peruzzim commented on #28119
relval workflows are fixed in recent 10_6_X integration builds by #28302, that is specific for the 10_6_X configuration and does not need being ported elsewhere

[2019-10-31 22:26] peruzzim commented on #28119
+xpog

I think we can close the NanoAODv6 chapter, as pull requests are merged in all branches:
- 10_2_X: integrated in CMSSW_10_2_18 (being used for the production campaign)
- 10_6_X: merged, release not yet built
- 11_0_X: integrated in CMSSW_11_0_0_pre11

[2019-10-31 22:27] cmsbuild commented on #28119
This issue is fully signed and ready to be closed.

[2019-11-01 00:08] forthommel commented on #25690
Can we safely assume this issue can now be closed with the merging of #28252?

[2019-11-01 06:48] perrotta commented on #25690
+1
- Fixed by #28252

[2019-11-01 06:48] cmsbuild commented on #25690
This issue is fully signed and ready to be closed.

[2019-11-01 09:23] cmsbuild commented on #28287
The cleanup has started for slc7_aarch64_gcc820

[2019-11-01 09:23] cmsbuild commented on #28287
The cleanup has started for slc7_amd64_gcc820

[2019-11-01 09:23] cmsbuild commented on #28287
The cleanup has started for slc7_amd64_gcc900

[2019-11-01 09:23] #28287 closed

[2019-11-01 09:24] cmsbuild commented on #28287
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre11-slc7_aarch64_gcc820/1470

[2019-11-01 11:21] cmsbuild commented on #28287
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre11-slc7_amd64_gcc820/1475

[2019-11-01 11:22] cmsbuild commented on #28287
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre11-slc7_amd64_gcc900/1476

[2019-11-04 09:23] peruzzim commented on #27889
taking note of https://github.com/cms-sw/cmssw/pull/27929#issuecomment-547892390

[2019-11-04 09:28] ianna commented on #28168
DD4hep:
[code]
vs DD:

[code]

[2019-11-04 09:52] schneiml opened #28341 "Concurrent Lumis and DQM at HLT"
Der HLT and Core Experts,

From recent discussions I hear that HLT is planning to move to concurrent lumisections by Run3. This opens new questions regarding DQM@HLT:

- As I understand currently all DQM@HLT uses `DQMGlobalEDAnalyzer` based modules. These modules hold their histograms in a Run Cache.

- However, the histograms produced at HLT are shipped to online DQM on a per-lumisection basis. T

[2019-11-04 09:53] cmsbuild commented on #28341
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-04 17:03] ianna commented on #28292
It's a bug in the DD4hep ROOT to G4 converter of a Polyhedra:
![Screen Shot 2019-11-04 at 17 32 07](https://user-images.githubusercontent.com/1390682/68139271-279fbc80-ff2a-11e9-9290-e1acd0574dc1.png)
![Screen Shot 2019-11-04 at 17 33 19](https://user-images.githubusercontent.com/1390682/68139272-279fbc80-ff2a-11e9-9461-bb3c2bc7b4b0.png)
![Screen Shot 2019-11-04 at 17 34 27](https://user-images.gi

[2019-11-05 00:36] diemort commented on #25708
Dear @srimanob @alberto-sanchez and all, I'm sorry for reviving this thread, but as the new PPS MC contact, I regret to say that I'm facing the same issue again. I've produced a local pLHE and now I'm trying to run GS step in 10_6_4 as a local test. I've noticed that a workaround has been merged in #25850, but was it propagated to 10_5_X+? Cheers, Gustavo.

[2019-11-05 00:43] Dr15Jones commented on #25708
@diemort can you post to this issue the relevant parts of the log (e.g. the traceback) for the failing job?

[2019-11-05 01:01] diemort commented on #25708
Dear @Dr15Jones, attached I send the traceback and below you find the beginning of the error message:

`[silveira@lxplus780 src]$ cmsRun AAMUMU_2pdiss_LPAIR_13TeV_GENSIM_cfg.py
05-Nov-2019 01:17:52 CET  Initiating request to open file file:/afs/cern.ch/user/s/silveira/work/CTPPSMC/requests/generators/dileptons/SIM/pLHE/CMSSW_9_3_6/src/AAMUMU_2pdiss_LPAIR_13TeV_pLHE.root
05-Nov-2019 01:17:53 CET  S

[2019-11-05 01:24] Dr15Jones commented on #25708
From the log, the crash is
[code]

[2019-11-05 01:27] Dr15Jones commented on #25708
In addition this crash happens on the first event
[code]
so it can't be a problem related to LuminosityBlock traversal.

[2019-11-05 01:47] diemort commented on #25708
I see. It may be related to my input file, although it has been produced with the same generator. I'll double-check it.

[2019-11-06 16:06] vargasa commented on #28261
Thanks @ianna. I'll take a look. I have seen this in one of the migrated algorithms

[2019-11-06 16:07] vargasa commented on #28256
Thanks @ianna. I'll take a look

[2019-11-06 16:15] fabiocos opened #28353 "Build CMSSW_9_3_16_patch1"

[2019-11-06 16:15] cmsbuild commented on #28353
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-06 16:16] schneiml opened #28354 "EndJob module ordering"
Dear framework experts,

while debugging the observed differences in #28316 I noticed a serious conceptual problem in HARVESTING.

The situation is the following:
- MonitorElements are read from file.
- In `endRun`, `QualityTesters` apply QTests (by default, they can also do that in other transitions)
- In `endJob`, custom harvesting modules perform harvesting, producing new MEs.
- MonitorElements

[2019-11-06 16:16] fabiocos commented on #28353
+1

[2019-11-06 16:16] cmsbuild commented on #28354
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-06 16:16] cmsbuild commented on #28353
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_16_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-11-06 16:16] cmsbuild commented on #28353
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-11-06 16:18] cmsbuild commented on #28353
The build has started for slc6_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2200/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 16:18] cmsbuild commented on #28353
The build has started for slc7_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2201/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 16:49] cmsbuild commented on #28353
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc7_amd64_gcc630/2201

[2019-11-06 16:50] cmsbuild commented on #28353
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/2200

[2019-11-06 17:13] fabiocos commented on #28353
@smuzaffar an infrastructure communication issue?

[code]

[2019-11-06 17:18] fabiocos commented on #28168
@ianna to be clean, we are speaking of what happens in https://cmssdt.cern.ch/lxr/source/SimG4Core/Geometry/src/DDG4Builder.cc#0059 , under our control, vs what happens in https://cmssdt.cern.ch/lxr/source/SimG4Core/Geometry/src/DD4hep_DDG4Builder.cc#0034 inside DD4hep, am I correct?

[2019-11-06 20:06] cmsbuild commented on #28353
The build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2202/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 20:18] smuzaffar commented on #28353
yes, looks like a glitch on github side. I have restarted the jenkins jobs

[2019-11-06 20:36] cmsbuild commented on #28353
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/2202
Some t

[2019-11-06 21:34] cmsbuild commented on #28353
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/2202

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-11-06 21:58] cmsbuild commented on #28353
The build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2203/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 22:02] cmsbuild commented on #28353
The build has started for slc7_amd64_gcc630 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2204/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 22:31] cmsbuild commented on #28353
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/2203

[2019-11-06 22:32] cmsbuild commented on #28353
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc7_amd64_gcc630/2204

[2019-11-06 22:32] cmsbuild commented on #28353
The build has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2205/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 22:35] cmsbuild commented on #28353
The build has started for slc7_amd64_gcc630 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2206/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 22:36] cmsbuild commented on #28353
The build has started for slc7_amd64_gcc630 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2207/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 22:38] cmsbuild commented on #28353
The build has started for slc6_amd64_gcc630 in cmsbuild31.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2208/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-06 23:18] cmsbuild commented on #28353
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc7_amd64_gcc630/2207

[2019-11-06 23:20] cmsbuild commented on #28353
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/2208

[2019-11-06 23:38] Dr15Jones commented on #28354
assign core

[2019-11-06 23:39] cmsbuild commented on #28354
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-06 23:58] Dr15Jones commented on #28341
assign hlt, core

[2019-11-06 23:59] cmsbuild commented on #28341
New categories assigned: core,hlt

@Dr15Jones,@smuzaffar,@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-07 00:41] Dr15Jones commented on #26576
+1

[2019-11-07 00:41] cmsbuild commented on #26576
This issue is fully signed and ready to be closed.

[2019-11-07 04:41] cmsbuild commented on #28353
The build has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2209/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-07 04:52] cmsbuild commented on #28353
The build has started for slc7_amd64_gcc630 in cmsbuild51.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2210/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-07 05:19] cmsbuild commented on #28353
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/2209

[2019-11-07 05:22] cmsbuild commented on #28353
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc7_amd64_gcc630/2210

[2019-11-07 05:31] cmsbuild commented on #28353
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2211/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-07 05:35] cmsbuild commented on #28353
The build has started for slc6_amd64_gcc630 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2212/console
CMSDIST Branch: [REL/CMSSW_9_3_16/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_16/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-07 05:55] cmsbuild commented on #28353
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/2212
Some t

[2019-11-07 06:13] cmsbuild commented on #28353
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc7_amd64_gcc630/2211
Some t

[2019-11-07 06:48] cmsbuild commented on #28353
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/2212

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-11-07 07:08] cmsbuild commented on #28353
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16_patch1-slc7_amd64_gcc630/2211

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-11-07 07:45] fabiocos commented on #28353
upload all

[2019-11-07 07:45] cmsbuild commented on #28353
Queing Jenkins upload for slc6_amd64_gcc630

[2019-11-07 07:45] cmsbuild commented on #28353
Queing Jenkins upload for slc7_amd64_gcc630

[2019-11-07 07:47] cmsbuild commented on #28353
The upload has started for slc6_amd64_gcc630 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1436/console

[2019-11-07 07:47] cmsbuild commented on #28353
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1437/console

[2019-11-07 07:48] cmsbuild commented on #28353
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_16_patch1-slc7_amd64_gcc630/1437

[2019-11-07 07:48] cmsbuild commented on #28353
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/1436

[2019-11-07 07:50] fabiocos commented on #28353
release-notes

[2019-11-07 07:50] cmsbuild commented on #28353
Generating release notes since CMSSW_9_3_16.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-07 07:50] cmsbuild commented on #28353
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_16_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_16 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_16_patch1

Cheers,
cms-bot

You can also click <a href

[2019-11-07 07:51] cmsbuild commented on #28353
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_16_patch1

[2019-11-07 13:02] peruzzim opened #28358 "DeepTauId module throws exception returning nan"
The DeepTauId producer has thrown this exception:

https://github.com/cms-sw/cmssw/blob/619b1aa756a2181a5d946f22b4bba8c96c57b84d/RecoTauTag/RecoTau/plugins/DeepTauId.cc#L1008-L1009

in a NanoAODv6 production workflow:
`invalid prediction = -nan for tau_index = 0, pred_index = 0`

Please see https://its.cern.ch/jira/browse/CMSCOMPPR-10135 for details.
@rmanzoni @roger-wolf can you please follow up?

[2019-11-07 13:02] cmsbuild commented on #28358
A new Issue was created by  @peruzzim .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-07 13:06] peruzzim commented on #28358
assign reconstruction

[2019-11-07 13:07] cmsbuild commented on #28358
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-07 13:24] slava77 commented on #28358
IMHO, there should be no throw; we are generally not throwing on FPEs.
The data should be flagged appropriately (LogWarning or LogError depending on perceived importance) and the job should continue.

[2019-11-07 13:35] peruzzim commented on #28358
A small request in case you touch this: would be preferrable to avoid having nan in Mini/NanoAOD for people using this in trainings or other selections. If you deem it ok, it would be better to put a background-like value such as -1 in case there is no value to put.

[2019-11-07 14:05] schneiml commented on #28354
Update:

I now resolved some problems in #28316 by putting QTests in `endRun` (this was default already), having them consume harvesting `DQMTokens`, so the QTester runs after `endRun` of harvesting modules (this `dqmEndRun` was actually freshly introduced for this job), and then running the majority of harvesting in `endJob` (this was also always like that), where it can read `QReport`s from the

[2019-11-07 14:27] rmanzoni commented on #28358
@mbluj @swozniewski @kandrosov
please have a look at this issue.

I don't see anything wrong with @peruzzim's proposal to return -1 rather than NaN.
And turning this into a LogWarning (certainly not an Error imo) as @slava77 suggests wouldn't be bad either.

[2019-11-07 14:30] rmanzoni commented on #28358
there's a few more `throw` in DeepTauId.cc, I think they could use the same treatment, in principle

[2019-11-07 16:06] perrotta commented on #28073
@Dr15Jones , I can still find three ```::getenv``` in CMSSW after your #28117 and #28124, namely:
- two in ```CondCore/Utilities/bin/cmscond_authentication_manager.cpp```
- one in ```OnlineDB/EcalCondDB/bin/cmsecal_write_offline_det_id.cpp```

Were they just got forgotten, or maybe that code is not to be run multithread?

[2019-11-07 16:15] kandrosov commented on #28358
In DeepTau implementation there are protections against having NaN as the output. It should never happen. For that reason, the exception is thrown if the check is not passed. If it happens, I would consider it a strong indication that there is some significant bug and in the presence of such bug, I would do not trust also the results where output is not a NaN. In the private productions done by ta

[2019-11-07 16:18] peruzzim commented on #28358
@kandrosov please check the link above for all informations on the release, the cmsRun command, the input file etc.

[2019-11-07 16:40] fabiocos opened #28360 "Build CMSSW_10_6_5"

[2019-11-07 16:41] cmsbuild commented on #28360
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-07 16:41] fabiocos commented on #28360
+1

[2019-11-07 16:41] cmsbuild commented on #28360
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-11-07 16:41] cmsbuild commented on #28360
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-11-07 16:42] cmsbuild commented on #28360
The build has started for slc7_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2213/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-07 16:42] cmsbuild commented on #28360
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2214/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-07 17:21] kandrosov commented on #28358
@peruzzim Thanks!  Hm... I don't succeed to reproduce the error. I ran the following commands:
[code]
Could you, please, confirm that these steps should lead to the same output as the crashed job [1]?
If yes, a non-reproducibility could mean some problem with the setup on the machine where the job ran,   or some thread safety issue in the DeepTau producer.

[1] http://cern.ch/go/7grD

[2019-11-07 21:23] Dr15Jones commented on #28073
@perrotta given both are stand alone programs, they were going to cause a problem for cmsRun :).

[2019-11-07 21:41] Dr15Jones commented on #28354
@schneiml I'm afraid unscheduled processing of Run and Lumi products has not yet been implemented. We will move that next on the 'to-do' list. Sorry about that.

[2019-11-07 21:42] perrotta commented on #28073
+1
- FIxed with #28117 and #28124

[2019-11-07 22:31] Dr15Jones opened #28364 "Enable unscheduled processing in Run and LuminosityBlock transitions"
The order in which modules are run during Run and LuminosityBlock transitions are not guaranteed to be done based on data dependencies between the modules.

[2019-11-07 22:32] Dr15Jones commented on #28364
assign core

[2019-11-07 22:32] cmsbuild commented on #28364
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-07 22:32] cmsbuild commented on #28364
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-07 22:36] Dr15Jones commented on #28364
A tricky part to this is end transition Producers. Those should only be run unscheduled at at end transition and not begin transitions.

[2019-11-07 22:37] Dr15Jones commented on #28354
See #28364

[2019-11-07 22:54] Dr15Jones commented on #28364
The first approach is probably to change UnscheduledProductResolver to be templated based on the transition. Then create the appropriate resolver in the call to the Principal constructor.

[2019-11-07 23:04] cmsbuild commented on #28360
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5-slc7_amd64_gcc820/2214
Some tests (

[2019-11-07 23:11] Dr15Jones commented on #28364
To determine if we are at end, the logic is already done in PuttableProductResolver::prefetchAsync_
[code]

[2019-11-07 23:40] Dr15Jones commented on #28364
It will be important to see how the deal with race condition for prefetching and running the module directly.

[2019-11-08 00:48] cmsbuild commented on #28360
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5-slc7_amd64_gcc700/2213

[2019-11-08 01:13] cmsbuild commented on #28360
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5-slc7_amd64_gcc820/2214

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-08 07:00] cmsbuild commented on #28360
The build has started for slc7_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2215/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-08 07:01] fabiocos commented on #28360
@smuzaffar again a failure, is the same space problem as for the 9_3_16_patch1 build?

[2019-11-08 07:31] smuzaffar commented on #28360
yes due to an old release (11.0.0.pre11) was still available on the machine.

[2019-11-08 09:03] schneiml commented on #28354
@Dr15Jones ah well... that is a problem, I guess?

That means in this whole "DQM sequences" cleanup, we need to not only make sure we run the correct modules, but also make sure to have them appear in the correct order? That is a unexpected, and unfortunate.

Still, what are the rules then? Tbh, scheduled execution is something that was never really clear to me, especially in the offline workflows

[2019-11-08 10:54] schneiml commented on #28354
@Dr15Jones (or maybe @makortel ?) please note that there is more to this question than just implementing #28364. See the comment over at the PR: https://github.com/cms-sw/cmssw/pull/28316#issuecomment-551569243

I don't understand enough about scheduling in CMSSW to make strong claims here. Was this ever guaranteed to work? if yes, which change broke it? If no, how would we fix it?

[2019-11-08 12:06] fabiocos opened #28367 "Non reproducibility of LETDCTime HCAL DigiTask histograms in PR tests"
After the integration of #28330 we observe non reproducibility of DQM histograms in the LETDCTime section of HCAL DigiTask tests, in PRs which cannot affect this (e.g. #28363).
This happens for test wfs 10024.0, 10042.0 and 10224.0 .

This issue is to keep track of the problem (whose origin seems defined) after the initial remarks by @abdoulline https://github.com/cms-sw/cmssw/pull/28330#issuecomm

[2019-11-08 12:06] cmsbuild commented on #28367
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-08 12:07] fabiocos commented on #28367
assign reconstruction,simulation,dqm

@abdoulline @lwang046 @DryRun FYI

[2019-11-08 12:07] cmsbuild commented on #28367
New categories assigned: dqm,reconstruction,simulation

@mdhildreth,@jfernan2,@slava77,@andrius-k,@schneiml,@fioriNTU,@perrotta,@kmaeshima,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-08 12:26] abdoulline commented on #28367
We've agreed with Long on a workaround and he's submitted it:
https://github.com/cms-sw/cmssw/pull/28368

In the meantime, I've asked our DQM expert (David  @DryRun) to try to figure out what might have been a reason of this issue, specific to 2017 HEP17 (QIE11 pilot module) in legacy HE (QIE8).

Even if we know and all agreed earlier this year that DQM back-compatibility (now turned toward Run3)

[2019-11-08 12:47] cmsbuild commented on #28360
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5-slc7_amd64_gcc700/2215
Some tests (

[2019-11-08 14:48] cmsbuild commented on #28360
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5-slc7_amd64_gcc700/2215

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-08 19:00] fabiocos commented on #28360
upload all

[2019-11-08 19:01] cmsbuild commented on #28360
Queing Jenkins upload for slc7_amd64_gcc700

[2019-11-08 19:01] cmsbuild commented on #28360
Queing Jenkins upload for slc7_amd64_gcc820

[2019-11-08 19:01] cmsbuild commented on #28360
The upload has started for slc7_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1438/console

[2019-11-08 19:01] cmsbuild commented on #28360
The upload has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1439/console

[2019-11-08 19:02] cmsbuild commented on #28360
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_5-slc7_amd64_gcc820/1439

[2019-11-08 19:03] cmsbuild commented on #28360
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_5-slc7_amd64_gcc700/1438

[2019-11-08 19:05] fabiocos commented on #28360
release-notes

[2019-11-08 19:06] cmsbuild commented on #28360
Generating release notes since CMSSW_10_6_4_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-08 19:06] cmsbuild commented on #28360
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_5 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_4_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_5

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-11-08 19:07] cmsbuild commented on #28360
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_5

[2019-11-08 21:08] Dr15Jones commented on #28354
@schneiml from a quick look, it appears to be just a job for a few days. However, I’m on vacation in Australia with limited access to computing time. So maybe it can ce changed by the end of next week?

[2019-11-09 06:53] cmsbuild commented on #28353
The cleanup has started for slc6_amd64_gcc630

[2019-11-09 06:53] cmsbuild commented on #28353
The cleanup has started for slc7_amd64_gcc630

[2019-11-09 06:53] #28353 closed

[2019-11-09 06:53] cmsbuild commented on #28353
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_16_patch1-slc6_amd64_gcc630/1477

[2019-11-09 06:53] cmsbuild commented on #28353
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_16_patch1-slc7_amd64_gcc630/1478

[2019-11-10 18:08] cmsbuild commented on #28360
The cleanup has started for slc7_amd64_gcc700

[2019-11-10 18:08] cmsbuild commented on #28360
The cleanup has started for slc7_amd64_gcc700

[2019-11-10 18:08] cmsbuild commented on #28360
The cleanup has started for slc7_amd64_gcc820

[2019-11-10 18:08] #28360 closed

[2019-11-10 18:08] cmsbuild commented on #28360
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_5-slc7_amd64_gcc820/1479

[2019-11-11 13:15] schneiml commented on #28354
@Dr15Jones end of next week is better than nothing, but that does not really answer my question:

Is manual scheduling in production workflows still possible? If yes, is how is it controlled? If no, how *do* we handle ordering dependencies in `endJob`? (which *do* exist, *today*, and where in production for the last few years)

[2019-11-11 19:32] vargasa commented on #28256
I can confirm that the overlaps are still present by using `CMSSW_11_0_X_2019-11-11-1100`  with #28260 was merged. Will have to take a further look into this

![Screenshot from 2019-11-11 14-27-58](https://user-images.githubusercontent.com/16821717/68614793-a7300d00-048f-11ea-9def-a56a12e7df95.png)

[2019-11-11 20:54] Dr15Jones commented on #28354
@schneiml upon re-evaluation, it looks like the present framework code DOES preserve consumes ordering when requesting data from Run and LuminosityBlocks. I created a very simple test module which requests data from Run and/or LuminosityBlock at either begin and/or end and setup the following ordering

[code]

Then using the tracer I see
[code]

where you can see the end LuminosityBlock (where the

[2019-11-11 21:00] Dr15Jones commented on #28354
Manual ordering is only enforced during processing of Events (since Paths only have meaning for filtering during processing of Events, not during processing of Runs and LuminosityBlocks). At Run and LuminosityBlock transitions the framework concurrently runs all modules (the inter-module data dependencies automatically guarantee the ordering of dependent modules).

The framework only allows data t

[2019-11-11 21:11] Dr15Jones commented on #28354
Looking at your tracer output
[code]

I sed that `siStripQTester` data requests are done without specifying a _product instance_ label. Try adding a unique _product instance_ label for both the run and lumi.

[2019-11-12 08:56] schneiml commented on #28354
See https://github.com/cms-sw/cmssw/issues/28354#issuecomment-551093147, primarily the edits. `schneiml:dqm-remove-clientconfig-order-bug`. This is what I tried first.

Yet here we are, the SiStrip Certification code relies on that, since pretty much the beginning of time. Also multi-run harvesting obviously relies on communication across run boundaries, and is an official feature of DQM for years

[2019-11-12 14:41] ianna commented on #28292
the bug has been fixed, but the overlaps remain, though G4 does not report them:

[2019-11-12 15:48] bsunanda commented on #28292
Hi Ianna - I shall take a look once your PR is merged. Regards      Sunanda
________________________________
From: Ianna Osborne [notifications@github.com]
Sent: 12 November 2019 15:41
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] DD4hep: Using DDHCalBarrelAlgo report overlaps (#28292)

the bug has been fixed, but the overlaps remain, though G4 does not report them:

—

[2019-11-12 16:33] kpedro88 opened #28382 "Modernize string usage in cms::DDFilteredView interface"
In #28361, I noticed `c_str()` being used repeatedly within calls to `cms::DDFilteredView::get()`. Apparently the interface currently requires it:
https://github.com/cms-sw/cmssw/blob/e626860d26692de5880c52c7c80aec7b859a0c60/DetectorDescription/DDCMS/interface/DDFilteredView.h#L148-L154

This should be modernized to use `std::string`. If functions called inside of `get()` require c-strings for som

[2019-11-12 16:34] kpedro88 commented on #28382
assign geometry

[2019-11-12 16:34] cmsbuild commented on #28382
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-12 16:34] cmsbuild commented on #28382
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-12 16:55] fabiocos opened #28383 "Build CMSSW_11_0_0_pre12"

[2019-11-12 16:56] cmsbuild commented on #28383
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-12 16:59] fabiocos commented on #28383
+1

[2019-11-12 17:00] cmsbuild commented on #28383
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre12. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-11-12 17:00] cmsbuild commented on #28383
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-11-12 17:02] cmsbuild commented on #28383
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2216/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-12 17:03] cmsbuild commented on #28383
The build has started for slc7_amd64_gcc820 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2217/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-12 17:03] cmsbuild commented on #28383
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2218/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-12 17:22] ianna commented on #28382
https://github.com/cms-sw/cmssw/pull/28384

[2019-11-12 19:21] kpedro88 commented on #27450
The first part of this issue is addressed in #28387

MTD developers should handle the actual code changes (removing unneeded features/classes/etc.)

[2019-11-12 19:52] Dr15Jones commented on #28354
That is correct.

[2019-11-12 19:57] Dr15Jones commented on #28354
OK, so now it does work for you?

[2019-11-12 21:02] ianna commented on #28382
+1

[2019-11-12 21:02] cmsbuild commented on #28382
This issue is fully signed and ready to be closed.

[2019-11-12 21:04] ianna commented on #28256
fixed in https://github.com/cms-sw/cmssw/pull/28386

[2019-11-12 21:04] #28256 closed

[2019-11-12 21:05] ianna commented on #28261
fixed in #28378

[2019-11-12 21:05] #28261 closed

[2019-11-12 21:05] kpedro88 commented on #28382
thanks @ianna

[2019-11-12 21:05] #28382 closed

[2019-11-13 00:30] cmsbuild commented on #28383
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre12-slc7_aarch64_gcc820/2216
Som

[2019-11-13 01:24] cmsbuild commented on #28383
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre12-slc7_amd64_gcc900/2218
Some te

[2019-11-13 02:07] cmsbuild commented on #28383
The was an error for slc7_amd64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre12-slc7_amd64_gcc820/2217

[2019-11-13 03:28] cmsbuild commented on #28383
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre12-slc7_amd64_gcc900/2218

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-13 04:00] cmsbuild commented on #28383
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre12-slc7_aarch64_gcc820/2216

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-13 05:16] cmsbuild commented on #28383
The build has started for slc7_amd64_gcc820 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2219/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-13 05:32] fabiocos commented on #28383
@smuzaffar thanks for restarting, again the space problem I presume

[2019-11-13 05:52] smuzaffar commented on #28383
yes, python3 was updated which rebuilt over 330 packages causing too much disk to be used by build artefacts.
By the way, new `--delete-build-directory` option for cmsBuild ( https://github.com/cms-sw/pkgtools/commit/a771a79b15ffe3d7030a4264df03f75b19544538 ) works for cc8 IBs. So I will enable it for all IBs and release build. This should also save a lot disk space (specially when release builds

[2019-11-13 09:04] schneiml commented on #28354
Test results show that yes, putting the instance label works. As well es `consumesMany` worked before.

Now, for the main question in the title of this issue -- how to ensure `endJob` ordering -- I guess your answer is as clear as it gets. Except, that does not solve the problem at all. We somehow have to explain now to all the people who keep asking about multi-run harvesting that *this was actua

[2019-11-13 09:22] cmsbuild commented on #28383
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre12-slc7_amd64_gcc820/2219
Some te

[2019-11-13 09:33] #28119 closed

[2019-11-13 09:33] #28158 closed

[2019-11-13 09:34] peruzzim commented on #28358
Can you please follow up with PdmV in the JIRA ticket mentioned above?

[2019-11-13 09:35] peruzzim commented on #27918
Can we consider this item closed? If so GEN please sign

[2019-11-13 09:35] #26496 closed

[2019-11-13 09:44] qliphy commented on #27918
+1

[2019-11-13 09:45] cmsbuild commented on #27918
This issue is fully signed and ready to be closed.

[2019-11-13 09:53] #27918 closed

[2019-11-13 11:27] cmsbuild commented on #28383
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre12-slc7_amd64_gcc820/2219

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-13 11:44] fabiocos commented on #28383
upload all

[2019-11-13 11:44] cmsbuild commented on #28383
Queing Jenkins upload for slc7_aarch64_gcc820

[2019-11-13 11:44] cmsbuild commented on #28383
Queing Jenkins upload for slc7_amd64_gcc820

[2019-11-13 11:44] cmsbuild commented on #28383
Queing Jenkins upload for slc7_amd64_gcc900

[2019-11-13 11:44] cmsbuild commented on #28383
The was error uploading slc7_aarch64_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre12-slc7_aarch64_gcc820/1440

[2019-11-13 11:45] cmsbuild commented on #28383
The upload has started for slc7_amd64_gcc820 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1441/console

[2019-11-13 11:45] cmsbuild commented on #28383
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1442/console

[2019-11-13 11:47] cmsbuild commented on #28383
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre12-slc7_amd64_gcc900/1442

[2019-11-13 11:48] cmsbuild commented on #28383
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre12-slc7_amd64_gcc820/1441

[2019-11-13 13:09] fabiocos commented on #28383
@smuzaffar is the upload failure for aarch64 also due to the space issue? If I look into the Jenkins dashboard it seems to me it is ok now. I move forward with the notes at this point

[2019-11-13 13:09] fabiocos commented on #28383
release-notes

[2019-11-13 13:09] cmsbuild commented on #28383
Generating release notes since CMSSW_11_0_0_pre11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-13 13:09] cmsbuild commented on #28383
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre12 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre12

Cheers,
cms-bot

You can also click <a href=

[2019-11-13 13:10] cmsbuild commented on #28383
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre12

[2019-11-13 13:43] smuzaffar commented on #28383
no, it is not due to size issue. upload job was looking in to wrong node ( we have 3 aarch64 slaves in jenkins but they all point to same physical host ). I will restart the upload.

[2019-11-13 13:47] fabiocos commented on #28383
another "feature" of the system, thanks

[2019-11-13 13:56] cmsbuild commented on #28383
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1444/console

[2019-11-13 14:00] cmsbuild commented on #28383
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre12-slc7_aarch64_gcc820/1444

[2019-11-13 14:10] schneiml commented on #28354
On the concrete issue of `SiStripCertificationInfo` it turns out that I was actually mistaken and the transition that needs correct ordering is indeed `endRun` (`endJob` actually does not matter for this module). So it can be fixed by passing tokens around, though that would be a lot easier if
- EDM actually complained if `consumes` are not satisfied. Is there an option for that? For me, the only

[2019-11-13 14:18] kpedro88 opened #28392 "Build CMSSW_7_1_44"

[2019-11-13 14:19] cmsbuild commented on #28392
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-13 14:21] kpedro88 commented on #28392
build cmssw-tool-conf

[2019-11-13 14:21] cmsbuild commented on #28392
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc481
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-11-13 14:30] cmsbuild commented on #28392
The cmssw-tool-conf build has started for slc6_amd64_gcc481 in cmsbuild32.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2220/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-11-13 14:45] makortel commented on #28354
Framework complains if the consumer attempts to read a missing product.

Such a behavior is in fact legal (although not really encouraged). Again, an exception is thrown if a consumer attempts to read a product that was never produced.

[2019-11-13 15:00] cmsbuild commented on #28392
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc481 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_44-slc6_amd64_gcc481/2220

[2019-11-13 15:04] kpedro88 commented on #28392
+1

[2019-11-13 15:04] cmsbuild commented on #28392
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_44. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-11-13 15:04] cmsbuild commented on #28392
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-11-13 15:06] cmsbuild commented on #28392
The build has started for slc6_amd64_gcc481 in cmsbuild52.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2221/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-11-13 17:04] ianna commented on #28292
@bsunanda - it seems like the overlaps reported by ROOT are false-positive:
[code]

[2019-11-13 17:04] ianna commented on #28292
+1

[2019-11-13 17:04] #28292 closed

[2019-11-13 17:05] cmsbuild commented on #28292
This issue is fully signed and ready to be closed.

[2019-11-13 18:20] cmsbuild commented on #28392
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_44-slc6_amd64_gcc481/2221
Some tests (

[2019-11-13 18:34] cmsbuild commented on #28392
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_44-slc6_amd64_gcc481/2221

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2019-11-13 19:41] kpedro88 commented on #28392
upload all

[2019-11-13 19:41] cmsbuild commented on #28392
Queing Jenkins upload for slc6_amd64_gcc481

[2019-11-13 19:42] cmsbuild commented on #28392
The upload has started for slc6_amd64_gcc481 in cmsbuild52.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1445/console

[2019-11-13 19:42] cmsbuild commented on #28392
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_44-slc6_amd64_gcc481/1445

[2019-11-13 19:46] kpedro88 commented on #28392
release-notes since CMSSW_7_1_43_patch1

[2019-11-13 19:46] cmsbuild commented on #28392
Generating release notes since CMSSW_7_1_43_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-13 19:46] cmsbuild commented on #28392
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_44 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_43_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_44

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2019-11-13 19:48] cmsbuild commented on #28392
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_44

[2019-11-13 20:27] slava77 commented on #28367
it looks like this can be signed and closed.
@perrotta please confirm (since you followed up on this directly).

[2019-11-13 21:11] fabiocos opened #28397 "Build CMSSW_10_6_5_patch1"

[2019-11-13 21:11] cmsbuild commented on #28397
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-13 21:12] fabiocos commented on #28397
+1

[2019-11-13 21:12] cmsbuild commented on #28397
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_5_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-11-13 21:12] cmsbuild commented on #28397
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-11-13 21:13] cmsbuild commented on #28397
The build has started for slc7_amd64_gcc700 in cmsbuild34.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2222/console
CMSDIST Branch: [REL/CMSSW_10_6_5/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_5/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-13 21:13] cmsbuild commented on #28397
The build has started for slc7_amd64_gcc820 in cmsbuild35.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2223/console
CMSDIST Branch: [REL/CMSSW_10_6_5/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_5/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-13 21:46] cmsbuild commented on #28397
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5_patch1-slc7_amd64_gcc700/2222
Some t

[2019-11-13 21:47] cmsbuild commented on #28397
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5_patch1-slc7_amd64_gcc820/2223
Some t

[2019-11-13 23:46] cmsbuild commented on #28397
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5_patch1-slc7_amd64_gcc700/2222

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-13 23:53] cmsbuild commented on #28397
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_5_patch1-slc7_amd64_gcc820/2223

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-14 05:05] fabiocos commented on #28397
upload all

[2019-11-14 05:05] cmsbuild commented on #28397
Queing Jenkins upload for slc7_amd64_gcc700

[2019-11-14 05:05] cmsbuild commented on #28397
Queing Jenkins upload for slc7_amd64_gcc820

[2019-11-14 05:07] cmsbuild commented on #28397
The upload has started for slc7_amd64_gcc820 in cmsbuild35.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1447/console

[2019-11-14 05:08] cmsbuild commented on #28397
The upload has started for slc7_amd64_gcc700 in cmsbuild34.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1446/console

[2019-11-14 05:09] cmsbuild commented on #28397
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_5_patch1-slc7_amd64_gcc700/1446

[2019-11-14 05:09] cmsbuild commented on #28397
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_5_patch1-slc7_amd64_gcc820/1447

[2019-11-14 05:14] fabiocos commented on #28397
release-notes

[2019-11-14 05:15] cmsbuild commented on #28397
Generating release notes since CMSSW_10_6_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-14 05:15] cmsbuild commented on #28397
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_5_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_5_patch1

Cheers,
cms-bot

You can also click <a href

[2019-11-14 05:15] cmsbuild commented on #28397
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_5_patch1

[2019-11-14 08:58] schneiml commented on #28354
The problem with `produces<DQMToken, edm::InRun>("DQMGenerationSiStripAnalyserRun");` is that actually it has to be `produces<DQMToken, edm::Transition::EndRun>("DQMGenerationSiStripAnalyserRun");`. One is an `enum`, the other an `enum class`, the values have different meanings, and I am really surprised that this compiles at all...

Re failure on reading: yes, of course, though that does not help

[2019-11-14 09:09] pgunnell commented on #28358
Dear all, I confirm that this might be to a site problem (MIT) in production. We ask computing to resubmit the failing jobs. Thanks a lot for all your effort, there was no hint that this error could come from a site issue and not from the code.

@kandrosov @peruzzim

[2019-11-14 09:15] davidlange6 commented on #28358
What sort of “site problem”? Corrupt cvmfs cache? Or is this more of a guess?

On Nov 14, 2019, at 10:09 AM, pgunnell <notifications@github.com<mailto:notifications@github.com>> wrote:

Dear all, I confirm that this might be to a site problem (MIT) in production. We ask computing to resubmit the failing jobs. Thanks a lot for all your effort, there was no hint that this error could come from a sit

[2019-11-14 09:18] ianna commented on #22161
+1

fixed

[2019-11-14 09:18] #22161 closed

[2019-11-14 09:21] ianna commented on #22919
+1

[2019-11-14 09:21] #22919 closed

[2019-11-14 09:21] ianna commented on #25869
+1

[2019-11-14 09:21] #25869 closed

[2019-11-14 09:22] cmsbuild commented on #25869
This issue is fully signed and ready to be closed.

[2019-11-14 09:22] #27788 closed

[2019-11-14 09:23] ianna commented on #28285
+1

fixed

[2019-11-14 09:24] cmsbuild commented on #28285
This issue is fully signed and ready to be closed.

[2019-11-14 10:10] ianna opened #28398 "[DD4hep] [Simulation] [Validation]: Regions, root logical volumes and cuts"
* Default world region name is different

DD:
[code]
DD4hep:
[code]

* Units are off by x10

DD:
[code]
DD4hep:
[code]
* Some logical volumes contain namespace

DD:
[code]
DD4hep:
[code]

[2019-11-14 10:11] cmsbuild commented on #28398
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-14 11:41] ianna commented on #28168
**Material Validation Summary**

The analyzers run in CMSSW_11_0_X_2019-11-13-2300 IB.

* G4 materials created with DD4hep for 2021 geometry scenario:

[code]

* G4 materials created with DD for 2017 geometry scenario:

[code]

* Atomic mass number differs for 13 materials out of 42:

   * Created from DD:
[code]

   * Created from DD4hep:

[code]

* The following definitions are completely wrong.

[2019-11-14 11:44] ianna commented on #28168
@civanch, @cvuosalo - FYI

Summary: the issues with units are still there, but DD4hep is going to move to G4 units as the default ones in the next release, I think.

The question is if we should ask for more precise material definition in ROOT and who will communicate it to the ROOT team?

[2019-11-14 14:52] pgunnell commented on #28358
it's a guess but we had 5 wf failures in computing all running at MIT. The error is what you see in the jira ticket (https://its.cern.ch/jira/browse/CMSCOMPPR-10135). I suspect it was a glitch on reading the input file of DeepTau but not sure how to check that.

[2019-11-15 11:13] ianna commented on #28168
The units converter bug is reported to DD4hep team and will be fixed asap.

[2019-11-15 12:23] cmsbuild commented on #28383
The cleanup has started for slc7_aarch64_gcc820

[2019-11-15 12:23] cmsbuild commented on #28383
The cleanup has started for slc7_amd64_gcc820

[2019-11-15 12:23] cmsbuild commented on #28383
The cleanup has started for slc7_amd64_gcc900

[2019-11-15 12:23] #28383 closed

[2019-11-15 12:23] cmsbuild commented on #28383
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre12-slc7_aarch64_gcc820/1480

[2019-11-15 12:23] cmsbuild commented on #28383
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre12-slc7_amd64_gcc820/1481

[2019-11-15 12:23] cmsbuild commented on #28383
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre12-slc7_amd64_gcc900/1482

[2019-11-15 13:29] Sam-Harper opened #28403 "Broken HLT customisation function"
Dear All,

After https://github.com/cms-sw/cmssw/pull/28110, the frozen 2018 menu in 110X (/frozen/2018/110X/HLT/V3) can no longer be run. Specifically the error is

[code]

I'm also surprised it runs on any HLT menu, looking at /dev/CMSSW_11_0_0/GRun/V11  in hltParticleFlow:
[code]

is set so it'll crash again. Right now the work around is easy, just catch the exception
[code]

but I would like a

[2019-11-15 13:30] cmsbuild commented on #28403
A new Issue was created by  @Sam-Harper Sam Harper.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-15 14:11] Dr15Jones commented on #28403
assign hlt

[2019-11-15 14:12] cmsbuild commented on #28403
New categories assigned: hlt

@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-15 14:20] hatakeyamak commented on #28403
Looks like I should have added some protection for deletion of bCalibSecondary in case bCalibSecondary doesn't exist. Probably this wasn't an issue during PR review since all tests were done using HLT configs that have bCalibSecondary.
I am new to this, so will wait to hear suggestions from @Martin-Grunewald .

[2019-11-15 14:57] civanch commented on #28168
@ianna , there are two separate issues: CMS material definition and DD4Hep. Concerning CMS I have in mind to define all elements differently both in DD and DD4Hep cases using G4 database. After that, some part of differences in materials may gone. What will be left is duplicated materials and materials which have different densities and/or compositions in DD and DD4Hep, which should be resolved on

[2019-11-15 15:02] ianna commented on #28168
https://github.com/cms-sw/cmssw/pull/28404 fixes atomic weight and density issues.

[2019-11-15 15:05] Dr15Jones commented on #28364
+1
It turns out this already works. I added a test to be sure it continues working, see #28405.

[2019-11-15 15:05] #28364 closed

[2019-11-15 15:06] cmsbuild commented on #28364
This issue is fully signed and ready to be closed.

[2019-11-15 15:19] Martin-Grunewald commented on #28403
Fixed by https://github.com/cms-sw/cmssw/pull/28406
which absorbs the customisation of the PFProducer instances in all menus

[2019-11-15 15:21] ianna commented on #28168
@civanch - after testing with normalised after parsing xml values (PR#28404) all but one differences in materials have gone. The only difference I see is the temperature.

G4 from DD4hep **273.15 K**:
[code]
vs
G4 from DD **293.15 K**:
[code]

[2019-11-15 15:22] Martin-Grunewald commented on #28403
/frozen/2018/110X/HLT/V3 has the changes in so the custom function should no longer
be applied - you were too fast :-)

[2019-11-15 15:27] Sam-Harper commented on #28403
thanks martin for the clarification and fix! Much appreciated

[2019-11-15 16:14] civanch commented on #28168
@ianna , Great!

G4 temperature is more correct, it is 20C and not 0C defined in DD4Hep but this is really very minor problem, we may have work around and additionally notify DD4Hep developers.

[2019-11-15 16:20] ianna commented on #28168
@civanch - yes. It looks like G4 uses NTP: 20 C and 1 atm and ROOT uses STP: 0 C and 1 atm. DD4hep neither manipulate nor define these properties.

[2019-11-15 16:31] ianna commented on #28168
Updated GDML dump of the G4 geometry built with DD4hep defines MEE values close to the DD's.

For example, **284.911565734504 eV** vs **284.911565693922 eV**:
[code]

[2019-11-15 16:47] Dr15Jones commented on #28354
The `edm::InRun` was the old legacy way of specifying where data is produced. The new `edm::Transition::EndRun` is the new way since it disambiguates doing produce in begin or end transition. Hence why both compile. What can be changed is a run-time check that if one specifies via the template parameter 'EndRunProducer' but then calls `produces<..., edm::InRun>` then a runtime error occurs. (Unfor

[2019-11-15 18:53] cmsbuild commented on #28392
The cleanup has started for slc6_amd64_gcc481

[2019-11-15 18:53] #28392 closed

[2019-11-15 18:53] cmsbuild commented on #28392
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_44-slc6_amd64_gcc481/1483

[2019-11-15 18:53] cmsbuild commented on #28392
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_44-slc6_amd64_gcc481/1484

[2019-11-16 04:23] cmsbuild commented on #28397
The cleanup has started for slc7_amd64_gcc700

[2019-11-16 04:23] cmsbuild commented on #28397
The cleanup has started for slc7_amd64_gcc820

[2019-11-16 04:23] #28397 closed

[2019-11-16 04:23] cmsbuild commented on #28397
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_5_patch1-slc7_amd64_gcc700/1485

[2019-11-16 04:23] cmsbuild commented on #28397
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_5_patch1-slc7_amd64_gcc820/1486

[2019-11-17 19:14] fabiocos opened #28414 "Build CMSSW_7_1_44_patch1"

[2019-11-17 19:14] cmsbuild commented on #28414
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-17 19:14] fabiocos commented on #28414
+1

[2019-11-17 19:15] cmsbuild commented on #28414
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_44_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-11-17 19:15] cmsbuild commented on #28414
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-11-17 19:17] fabiocos commented on #28398
assign geometry

[2019-11-17 19:17] cmsbuild commented on #28398
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-17 19:32] cmsbuild commented on #28414
The build has started for slc6_amd64_gcc481 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2224/console
CMSDIST Branch: [REL/CMSSW_7_1_44/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_44/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-11-17 19:52] cmsbuild commented on #28414
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_44_patch1-slc6_amd64_gcc481/2224
Some t

[2019-11-17 20:05] cmsbuild commented on #28414
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_44_patch1-slc6_amd64_gcc481/2224

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2019-11-17 21:19] fabiocos commented on #28414
upload all

[2019-11-17 21:21] cmsbuild commented on #28414
Queing Jenkins upload for slc6_amd64_gcc481

[2019-11-17 21:23] cmsbuild commented on #28414
The upload has started for slc6_amd64_gcc481 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1448/console

[2019-11-17 21:23] cmsbuild commented on #28414
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_44_patch1-slc6_amd64_gcc481/1448

[2019-11-17 21:46] fabiocos commented on #28414
release-notes

[2019-11-17 21:47] cmsbuild commented on #28414
Generating release notes since CMSSW_7_1_44.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-17 21:47] cmsbuild commented on #28414
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_44_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_44 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_44_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2019-11-17 21:48] cmsbuild commented on #28414
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_44_patch1

[2019-11-18 09:27] schneiml commented on #28354
@Dr15Jones interesting, good to know. Does this mean I can use `edm::Transition::EndRun` also for consumes or are the APIs now asymmetrical (which would sort of make sense, but is also surprising)?

[2019-11-18 09:31] perrotta commented on #28367
According to what @abdoulline wrote in https://github.com/cms-sw/cmssw/pull/28368#issuecomment-552512465 , there can be still an issue with the HCAL data-specialized DQM (DQM/HcalTasks: DigiTask, where the issue popped up). That specialized DQM is not even supposed to be used for 2018 data, and of course not for MC and previous years.

As such this is certainly not an issue for reco any more, and

[2019-11-18 09:32] perrotta commented on #28367
+1
- not an issue for reco any more, and not even for DQM (see https://github.com/cms-sw/cmssw/pull/28368#issuecomment-552512465)

[2019-11-18 09:34] fabiocos commented on #28367
@slava77 @perrotta in practice the issue has not been observed after the integration of the workaround, so I believe that this can be closed at this point, @jfernan2 do you agree?

[2019-11-18 09:48] smuzaffar opened #28415 "Cyclic dependency between Geometry/CommonTopologies and Geometry/CommonDetUnit"
UBSAN IBs failed [a] due to `undefined reference to 'typeinfo for GeomDetType'`. `GeomDetType` comes from `Geometry/CommonDetUnit` but `Geometry/CommonTopologies` can not depend on  `Geometry/CommonDetUnit` due to cyclic dependency [b].

[a]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc820/CMSSW_11_0_UBSAN_X_2019-11-15-2300/Geometry/CommonTopologies

[b]
[code]

[2019-11-18 09:48] smuzaffar commented on #28415
assign geometry

[2019-11-18 09:48] cmsbuild commented on #28415
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-18 09:48] cmsbuild commented on #28415
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-18 11:46] jfernan2 commented on #28367
+1
Yes, it seems this is gone. Nevertheless, we expect some DQM cleanup from HCAL in the mid-term future. Thanks

[2019-11-18 13:49] fabiocos commented on #28403
the fix has been integrated

[2019-11-18 16:25] #28367 closed

[2019-11-18 17:34] Dr15Jones commented on #28354
@schneiml it looks like the `consumes` doesn't have a way to specify in which transition one will do the _consuming_, it only says in from which container the data will be obtained. The assumption right now is the data is going to be requested in the earliest possible transition matching the data. This is not the greatest, but comes from the fact that 99.99999% ( :) ) requests are in the event and

[2019-11-18 20:42] smuzaffar commented on #28148
this has been fixed

[2019-11-18 20:42] #28148 closed

[2019-11-18 20:52] smuzaffar commented on #15896
@civanch , @ssekmen was this ever looked in to and fixed?

[2019-11-18 20:54] smuzaffar commented on #16004
@cvuosalo , is this still a valid issue? can we close it?

[2019-11-18 20:54] cmsbuild commented on #16004
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-18 20:57] smuzaffar commented on #17306
looms like this has been fixed.

[2019-11-18 20:57] #17306 closed

[2019-11-18 21:00] smuzaffar commented on #16850
is this still an issue for hlt and l1?

[2019-11-18 21:00] smuzaffar commented on #18070
closing in favor of @16850

[2019-11-18 21:00] #18070 closed

[2019-11-18 21:01] smuzaffar commented on #18107
looks like this has been fixed.

[2019-11-18 21:01] #18107 closed

[2019-11-18 21:02] smuzaffar commented on #19306
this has been fix via @22584

[2019-11-18 21:02] #19306 closed

[2019-11-18 21:03] smuzaffar commented on #19082
looks like this has been fixed

[2019-11-18 21:03] #19082 closed

[2019-11-18 21:06] smuzaffar commented on #19003
looks like the leak is still there? Can some one please provide a fix?

[2019-11-18 21:10] smuzaffar commented on #18433
this should be fixed now. clang compiler tools should have removed these flags

[2019-11-18 21:10] #18433 closed

[2019-11-18 21:12] smuzaffar commented on #18193
do we have this test now?

[2019-11-18 21:15] smuzaffar commented on #20337
this can not be fixed as check itself does not update/fix the code.

[2019-11-18 21:15] #20337 closed

[2019-11-18 21:21] smuzaffar commented on #19879
CMSSW_9_2_3_patchX  branch is delete. CMSSW_9_2_3_patch2 tag can be used to create a new branch if needed.

[2019-11-18 21:21] #19879 closed

[2019-11-18 21:22] smuzaffar commented on #19775
looks like this issue has been fixed

[2019-11-18 21:22] #19775 closed

[2019-11-18 21:22] smuzaffar commented on #19638
look like this has been fixed

[2019-11-18 21:22] #19638 closed

[2019-11-18 21:25] smuzaffar commented on #19783
Looks like this has been fixed. Does any one remember what we did you fix this? Can we close this issue?

[2019-11-18 21:43] #20031 closed

[2019-11-18 21:43] #28285 closed

[2019-11-18 21:47] smuzaffar commented on #17938
@Dr15Jones , has this been implemented?

[2019-11-18 21:56] #22582 closed

[2019-11-18 21:58] #27533 closed

[2019-11-18 21:58] #27523 closed

[2019-11-18 21:59] #26913 closed

[2019-11-18 21:59] #26576 closed

[2019-11-18 21:59] #26238 closed

[2019-11-18 22:00] #26163 closed

[2019-11-18 22:00] #25690 closed

[2019-11-18 22:00] #24309 closed

[2019-11-18 22:01] #23798 closed

[2019-11-18 22:02] smuzaffar commented on #22472
+externals

[2019-11-18 22:02] #22472 closed

[2019-11-18 22:04] cmsbuild commented on #22472
This issue is fully signed and ready to be closed.

[2019-11-18 22:07] smuzaffar commented on #28065
this has been fixed https://github.com/cms-sw/cmsdist/commit/e6eb35485a76ef6e6b061d1447003507b0d0cc4d

[2019-11-18 22:07] #28065 closed

[2019-11-18 22:07] #27904 closed

[2019-11-18 22:09] #27371 closed

[2019-11-18 22:12] #27243 closed

[2019-11-18 22:13] #26669 closed

[2019-11-18 22:13] smuzaffar commented on #26669
+core

[2019-11-18 22:14] #26385 closed

[2019-11-18 22:14] cmsbuild commented on #26669
This issue is fully signed and ready to be closed.

[2019-11-18 22:15] #26333 closed

[2019-11-18 22:17] smuzaffar commented on #26288
@davidlange6 , this can be closed now ... right?

[2019-11-18 22:18] #26082 closed

[2019-11-18 22:19] #26002 closed

[2019-11-18 22:20] smuzaffar commented on #25776
@Dr15Jones , I think this has been resolved ... right?

[2019-11-18 22:20] #25772 closed

[2019-11-18 22:22] Dr15Jones commented on #25776
@smuzaffar I don't remember if it was fixed.

[2019-11-18 22:24] smuzaffar commented on #24968
can we close this issue?

[2019-11-18 22:26] smuzaffar commented on #23612
looks like this has been fixed now

[2019-11-18 22:26] #23612 closed

[2019-11-18 22:26] #23560 closed

[2019-11-18 22:26] smuzaffar commented on #23560
+core

[2019-11-18 22:26] cmsbuild commented on #23560
This issue is fully signed and ready to be closed.

[2019-11-18 22:29] smuzaffar commented on #23205
this has been addressed by patching python 2.7 to avoid register keyword

https://github.com/cms-externals/cpython/commit/583c0f2237aade97173702ac602b16f51eadde6d

[2019-11-18 22:29] #23205 closed

[2019-11-18 22:30] #28149 closed

[2019-11-19 08:44] perrotta commented on #28047
+1
- This was fixed with #28048, already merged since CMSSW_11_0_0_pre10

[2019-11-19 08:45] cmsbuild commented on #28047
This issue is fully signed and ready to be closed.

[2019-11-19 09:18] fabiocos commented on #24968
I would say so, I let @peruzzim to confirm.

[2019-11-19 10:53] peruzzim commented on #24968
yes I think it can be closed

[2019-11-19 11:28] perrotta opened #28423 "Fix the "ill defined" ArrivalTime computed in mahi"
As sorted out from the review of #28366, the ArrivalTime resulting from the mahi HCal algo is ill defined and subject to unjustified fluctuations.

Quoting @mariadalfonso from the discussion in that PR:

"ArrivalTime is pretty much a ill undefined.
It assumes that any fit discrepancy arises from the jitter of the pulse, which is not completely correct.
For the Run2/Run3 there is no use of the recH

[2019-11-19 11:29] perrotta commented on #28423
assign reconstruction

[2019-11-19 11:29] cmsbuild commented on #28423
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-19 11:29] cmsbuild commented on #28423
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-19 15:42] #28047 closed

[2019-11-19 16:21] schneiml commented on #28354
@Dr15Jones ok, I can live with that behavior for now, though the two calls next to each other look a bit weird...

Now, coming back to the main issue in this thread, we need to have a longer discussion about this at some point.
- What can we rely on in `endJob` harvesting? Are we sure that e.g. all MEs are produced (all module `endJob` ran) before saving the output file?
- Do we need to move all h

[2019-11-19 20:53] cmsbuild commented on #28414
The cleanup has started for slc6_amd64_gcc481

[2019-11-19 20:53] #28414 closed

[2019-11-19 20:53] cmsbuild commented on #28414
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_44_patch1-slc6_amd64_gcc481/1487

[2019-11-19 22:49] christopheralanwest commented on #19003
@francescobrivio @sarafiorendi Could you address the memory leaks in PVFitter? Thanks.

[2019-11-20 08:38] francescobrivio commented on #19003
Hi @christopheralanwest , sorry we were not aware of this issue.
We will provide a PR to address this.

[2019-11-20 09:24] Martin-Grunewald commented on #16850
@perrotta commented the data structure is removed, so no issue anymore.

[2019-11-20 16:29] christopheralanwest commented on #20173
@hatakeyamak @bendavid Has this issue been resolved?

[2019-11-20 16:36] christopheralanwest commented on #23661
@capalmer85 Could you either comment on or address this issue? The links in the introduction to this issue reference the line numbers of the code in the master branch and do not give the intended line number as it was when the issue was opened. The correct lines seem to be:
https://github.com/cms-sw/cmssw/blob/d0692d4ee55172ad5221ac549a85b33d4ae2c858/Calibration/LumiAlCaRecoProducers/plugins/RawPC

[2019-11-20 16:56] fabiocos opened #28436 "Is FWCore/GuiBrowser really needed?"
Looking at python scripts not directly probed by the PY3 build, I see we have the package ```FWCore/GuiBrowsers``` which looks abandoned since the time of the migration to git,
apart for some basic maintenance. In any case the scripts of this package are not functional at present, and depend on Qt.

@smuzaffar @Dr15Jones before spending further time in view of a python3 migration, is it really nee

[2019-11-20 16:57] cmsbuild commented on #28436
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-20 16:57] fabiocos commented on #28436
assign core

[2019-11-20 16:57] cmsbuild commented on #28436
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-20 17:00] Dr15Jones commented on #28436
@fabiocos this was something 'gifted' to the Core group and we've never had the expertise to maintain it. I'm all for removing it.

[2019-11-21 10:42] srimanob commented on #28358
Maybe this issue can be closed as the conclusion is about the site, and re-open if need.

[2019-11-21 10:48] perrotta commented on #28358
Were the failing jobs resubmitted, as requested/anticipated in https://github.com/cms-sw/cmssw/issues/28358#issuecomment-553794615?
Did the re-submissions complete without errors?

[2019-11-21 11:06] VinInn commented on #28415
I suggest to merge the two packages

[2019-11-21 13:58] francescobrivio commented on #19003
hi @christopheralanwest and @smuzaffar
we have prepared a fix for this issue, you can preliminarily find it here:
https://github.com/MilanoBicocca-pix/cmssw/commit/28c5211ba906c51152db8616adb69f63d8582e74
Before opening a PR I would like to test if this solves the problem you mention, since in the last years we run with this code without incurring in any problem.
Could you provide use a way to rep

[2019-11-21 14:53] civanch commented on #28415
I would follow Vincenzo.

@ianna , @cvuosalo, what you think?

[2019-11-21 16:18] fabiocos commented on #28436
@Dr15Jones @smuzaffar actually, contrary to what I was believing, the tools in this package were function until CMSSW_11_0_0_pre2, and broke in the move top pre3. I suspect #27191 could play a role, I am making a test just to cross check. Whether we want to keep support and the corresponding dependency is another story.

[2019-11-21 21:31] #28172 closed

[2019-11-21 21:48] makortel commented on #27427
Fixed in #28447

[2019-11-21 22:15] Dr15Jones opened #28451 "Investigate changing MessageDrop::runEvent to std::string_view"
With the change #28450 it looks like all the string copies done to fill `MessageDrop::runEvent` are now redundant as the source string has a lifetime as long as that value of `runEvent` is in use.

[2019-11-21 22:15] Dr15Jones commented on #28451
assign core

[2019-11-21 22:16] cmsbuild commented on #28451
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-21 22:16] cmsbuild commented on #28451
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-22 08:16] fabiocos commented on #28436
I confirma that #27191 has broken the Gui tools

[2019-11-22 09:10] #27427 closed

[2019-11-22 13:08] fabiocos opened #28455 "Finalization of CMSSW_11_0_X open development"
I collect here the features that have been discussed as strongly desirable for the closure of the open integration of CMSSW_11_0_X , in view of HLT TDR production, Run3 tests and UL validation:

- [x] #28301 (new pythia8 243, it makes sense to update before a new production campaign)

- [x] #28385 (HGCAL trigger, almost ready, @rekovic please review)

- [x] #28466 (EGM regression for 2016 UL)

- [

[2019-11-22 13:08] cmsbuild commented on #28455
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-22 13:17] fabiocos commented on #28455
@emiglior I understand the desired update it #28448 , please confirm

[2019-11-22 14:53] mmusich commented on #28455
Yes it is.

[2019-11-22 15:04] makortel commented on #25090
@Dr15Jones The non-DQM legacy modules I listed in https://github.com/cms-sw/cmssw/issues/25090#issuecomment-543214528 are now modernized (PRs open). I believe no new non-DQM legacy modules have surfaced since.

[2019-11-22 15:36] kpedro88 commented on #28455
It would be good to include #28446, which cleans up some unneeded heavy items in the Phase 2 reco sequence.

[2019-11-22 15:38] Dr15Jones commented on #28451
See #28457 for a solution

[2019-11-22 17:46] makortel commented on #28354
@schneiml We will think about a solution for the multi-run harvesting that would conform framework policies. Could you please describe the requirements for the various actions that need to be done to achieve the multi-run harvesting?

[2019-11-25 08:26] fabiocos opened #28462 "Build CMSSW_7_1_45"

[2019-11-25 08:26] cmsbuild commented on #28462
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-25 08:27] fabiocos commented on #28462
+1

[2019-11-25 08:27] cmsbuild commented on #28462
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_45. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-11-25 08:27] cmsbuild commented on #28462
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-11-25 08:28] cmsbuild commented on #28462
The build has started for slc6_amd64_gcc481 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2225/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-11-25 09:19] fabiocos commented on #28451
@Dr15Jones your #28457 has been now integrated

[2019-11-25 10:20] cmsbuild commented on #28462
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_45-slc6_amd64_gcc481/2225
Some tests (

[2019-11-25 10:32] cmsbuild commented on #28462
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_45-slc6_amd64_gcc481/2225

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2019-11-25 12:12] fabiocos commented on #28462
upload all

[2019-11-25 12:13] cmsbuild commented on #28462
Queing Jenkins upload for slc6_amd64_gcc481

[2019-11-25 12:15] cmsbuild commented on #28462
The upload has started for slc6_amd64_gcc481 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1449/console

[2019-11-25 12:16] cmsbuild commented on #28462
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_45-slc6_amd64_gcc481/1449

[2019-11-25 12:18] fabiocos commented on #28462
release-notes

[2019-11-25 12:19] cmsbuild commented on #28462
Generating release notes since CMSSW_7_1_44_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-25 12:19] cmsbuild commented on #28462
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_45 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_44_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_45

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2019-11-25 12:20] cmsbuild commented on #28462
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_45

[2019-11-25 13:03] Dr15Jones commented on #28451
+1

[2019-11-25 13:03] #28451 closed

[2019-11-25 13:04] cmsbuild commented on #28451
This issue is fully signed and ready to be closed.

[2019-11-25 21:11] slava77 opened #28469 "apply 1e-4 rounding/truncation in ONNXRuntime jet tags"
This is a follow up to the proposal made in #28112 .
The goal of this truncation would be to reduce the size of the outputs on disk in miniAOD and also reduce discrepancies with nanoAOD which typically rounds/truncates the floats used for various discriminants.

The truncation or rounding should be done consistently to keep the nanoAOD outputs the same as the (mini)AOD.

[2019-11-25 21:11] slava77 commented on #28469
assign reconstruction

[2019-11-25 21:11] cmsbuild commented on #28469
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-25 21:11] cmsbuild commented on #28469
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-25 21:11] slava77 commented on #28469
@hqucms @ferencek @mverzett

[2019-11-26 11:17] mrodozov opened #28476 "Fix unit test in DD4hep"
We updated dd4hep here:
https://github.com/cms-sw/cmsdist/pull/5376
in order to pick the latest changes but the tests are failing due to the same error
in all the unit tests
`Fatal in <TGeoMixture::AddElement>: Cannot add element having Z=13 to mixture materials:Aluminium`
One can see all the tests that are failing here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-35b5

[2019-11-26 11:18] cmsbuild commented on #28476
A new Issue was created by  @mrodozov Mircho Rodozov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-26 15:51] kpedro88 commented on #28455
#28463 should also be considered

[2019-11-26 15:54] kpedro88 opened #28479 "Proposed removal of TrackTimeValueMapProducer"
The `TrackTimeValueMapProducer` was used for the MTD "fastsim" approach (applying simple smearing to the truth time values, no relationship to the actual fast simulation of the CMS detector). Since this approach is no longer needed, I propose removing the unnecessary components.

The branch implementing this proposal is here: https://github.com/cms-sw/cmssw/compare/master...kpedro88:Phase2-WF52

a

[2019-11-26 15:55] fwyzard commented on #28455
#28442 does look like something we would like to have in, if possible.

[2019-11-26 15:55] kpedro88 commented on #28479
assign upgrade

[2019-11-26 15:55] cmsbuild commented on #28479
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-26 15:55] cmsbuild commented on #28479
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-26 16:14] cvuosalo commented on #28476
@mrodozov: Can you submit a PR to fix this issue?

[2019-11-26 16:25] mrodozov commented on #28476
Well if I knew anything about DD4Hep I would've done it already

[2019-11-26 16:40] cvuosalo commented on #28476
Might this error be an "aluminum" vs. "aluminium" conflict in spelling?

[2019-11-26 17:32] cvuosalo commented on #28476
@civanch Might you know what this error might mean?

 [a] Fatal Root Error: @SUB=TGeoMixture::AddElement
Cannot add element having Z=13 to mixture materials:Aluminium

It happens in SimG4Core DD4hep unit tests.

[2019-11-26 18:04] slava77 opened #28482 "merge run2_ECAL_201[678] and run2_egamma_201[678] modifiers (separately) for 11X/master"
The UL reco parts modified by run2_ECAL_201[678] and run2_egamma_201[678] are the same after #28466 (superseding #28422 ) is merged in 11X.
As it was discussed in #28422 it would be too disruptive to apply this merge in the UL release as well.
The goal of this issue is to simplify the support and configuration in 11X and the future releases.

I propose to
- merge/replace run2_ECAL_201[678] with ru

[2019-11-26 18:04] slava77 commented on #28482
assign reconstruction

[2019-11-26 18:04] cmsbuild commented on #28482
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-26 18:04] cmsbuild commented on #28482
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-26 19:48] kpedro88 opened #28483 "Build CMSSW_10_6_6"

[2019-11-26 19:49] cmsbuild commented on #28483
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-26 19:49] kpedro88 commented on #28483
build cmssw-tool-conf

[2019-11-26 19:49] cmsbuild commented on #28483
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-11-26 19:51] cmsbuild commented on #28483
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2226/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-26 19:53] cmsbuild commented on #28483
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2227/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-26 20:12] cmsbuild commented on #28483
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_6-slc7_amd64_gcc700/2226

[2019-11-26 20:14] cmsbuild commented on #28483
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_6-slc7_amd64_gcc820/2227

[2019-11-26 20:19] kpedro88 commented on #28483
+1

[2019-11-26 20:20] cmsbuild commented on #28483
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-11-26 20:20] cmsbuild commented on #28483
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-11-26 20:21] cmsbuild commented on #28483
The build has started for slc7_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2228/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-26 21:15] cmsbuild commented on #28483
The build has started for slc7_amd64_gcc820 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2229/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-26 23:41] cmsbuild commented on #28483
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_6-slc7_amd64_gcc700/2228
Some tests (

[2019-11-27 01:38] cmsbuild commented on #28483
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_6-slc7_amd64_gcc700/2228

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-27 02:18] cmsbuild commented on #28483
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_6-slc7_amd64_gcc820/2229
Some tests (

[2019-11-27 04:21] cmsbuild commented on #28483
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_6-slc7_amd64_gcc820/2229

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-27 04:22] kpedro88 commented on #28483
release-notes since CMSSW_10_6_5_patch1

[2019-11-27 04:44] kpedro88 commented on #28483
@cmsbuild ping

[2019-11-27 05:02] kpedro88 commented on #28483
@smuzaffar @mrodozov the bot appears to be stuck, can you check it?

[2019-11-27 05:27] kpedro88 commented on #28483
upload all

[2019-11-27 05:27] smuzaffar commented on #28483
@kpedro88 , you need to upload the release first

[2019-11-27 05:28] kpedro88 commented on #28483
@smuzaffar thanks, realized that as soon as you commented...

[2019-11-27 05:28] cmsbuild commented on #28483
Queing Jenkins upload for slc7_amd64_gcc700

[2019-11-27 05:28] cmsbuild commented on #28483
Queing Jenkins upload for slc7_amd64_gcc820

[2019-11-27 05:29] cmsbuild commented on #28483
The upload has started for slc7_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1450/console

[2019-11-27 05:31] cmsbuild commented on #28483
The upload has started for slc7_amd64_gcc820 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1451/console

[2019-11-27 05:31] cmsbuild commented on #28483
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_6-slc7_amd64_gcc700/1450

[2019-11-27 05:32] cmsbuild commented on #28483
Generating release notes since CMSSW_10_6_5_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-27 05:32] cmsbuild commented on #28483
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_6 is now available for the following architectures:

slc7_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_6_5_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_6

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2019-11-27 05:33] cmsbuild commented on #28483
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_6

[2019-11-27 05:33] cmsbuild commented on #28483
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_6-slc7_amd64_gcc820/1451

[2019-11-27 07:34] Sam-Harper commented on #28482
Hi Slava, I agree.

Best,
Sam

[2019-11-27 09:54] schneiml commented on #28354
@makortel on the first glimpse, what we need is
- Ability to aggregate information over multiple runs (that means keeping state between runs)
- Ability to post-process that information at the end of the job (ideally with multiple modules, in a well-defined order: e.g. compute efficiency, apply quality tests, create summary, in three different modules).
- Ability to run a "output module" (this may

[2019-11-27 11:23] cmsbuild commented on #28462
The cleanup has started for slc6_amd64_gcc481

[2019-11-27 11:23] #28462 closed

[2019-11-27 11:23] cmsbuild commented on #28462
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_45-slc6_amd64_gcc481/1488

[2019-11-27 15:50] smuzaffar commented on #28436
@fabiocos , we have dropped QT from GCC9 and CentOS8 builds. I would recoomand to drop this.

[2019-11-27 16:06] mariadalfonso commented on #28455
Would be good to keep in the radar of the pre13 also the HCAL-TDC small update
https://github.com/cms-sw/cmssw/pull/28474
This PR target the Run3 and can be useful for the RAW production for L1 trigger studies.

[2019-11-27 22:02] civanch commented on #28398
@ianna , @cvuosalo , I would consider these 3 cases separately. For me the difference "OCMS" and "world_volume" should not bring any issue, we may want to return to OCMS only in order to be consistent. Other two cases are bugs to be fixed. I would avoid namespaces in the new description.

[2019-11-27 23:37] civanch commented on #28476
@cvuosalo , it is my main concern for DD4hep: they should not use TGeo at all. It is known, that TGeo cannot provide a normal material model, in any case, we have to use work around. Concerning this concrete bug : the error message is meaningless and you may be right, that somewhere there is misspell of element name - in unit test itself or in xml material description. I cannot look before will be

[2019-11-28 08:47] fabiocos commented on #28455
From the notes of @kpedro88 at the ORP of 2019/11/26: the crucial PRs to close CMSSW_11_0_0_pre13 are #28466 #28433 #28463 .

On top of that #28495 is claimed as needed to prevent inconsistent results in L1T

[2019-11-28 10:05] fabiocos opened #28498 "Build CMSSW_11_0_0_pre13"

[2019-11-28 10:06] cmsbuild commented on #28498
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-28 10:06] fabiocos commented on #28498
build cmssw-tool-conf

[2019-11-28 10:07] cmsbuild commented on #28498
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-11-28 10:09] cmsbuild commented on #28498
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2231/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-28 10:10] cmsbuild commented on #28498
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2232/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-28 10:10] cmsbuild commented on #28498
There was an error building cmssw-tool-conf for slc7_aarch64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_aarch64_gcc820/2230

[2019-11-28 11:06] smuzaffar opened #28499 "Frontier fails when FRONTIER_LOG_LEVEL and frontier-connect ipfamily are set"
We have seen that recently a CMSSW unit test is failing with error [b]. It only fails when we set following env[a]. Note `/cvmfs/cms-ib.cern.ch` contains a local SITECONF https://github.com/cms-sw/siteconf . @DrDaveD why it is happening? Unsetting `FRONTIER_LOG_LEVEL` or using `CMS_PATH=/cvmfs/cms.cern.ch`  do not break the test. Looks like the the change https://github.com/cms-sw/siteconf/commit/

[2019-11-28 11:07] cmsbuild commented on #28499
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-28 12:35] cmsbuild commented on #28498
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_amd64_gcc820/2231

[2019-11-28 12:50] cmsbuild commented on #28498
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_amd64_gcc900/2232

[2019-11-28 14:45] cmsbuild commented on #28498
There was an error building cmssw-tool-conf for slc7_aarch64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_aarch64_gcc820/2233

[2019-11-28 15:19] cmsbuild commented on #28498
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2234/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-28 15:24] fabiocos commented on #28498
@smuzaffar for aarch64 I see

[code]
a problem with the machine installation?

[2019-11-28 15:25] smuzaffar commented on #28498
yes, it is fixed now and release is in build state

[2019-11-28 17:27] cmsbuild commented on #28498
There was an error building cmssw-tool-conf for slc7_aarch64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_aarch64_gcc820/2234

[2019-11-28 17:44] DrDaveD commented on #28499
@smuzaffar That's not a fatal error, it's only a warning, correct?

It appears that the IPv6 connectivity to the grid-wpad.cern.ch servers is intermittent.  When I do the connections by hand, it works sometimes and fails sometimes.  I will need to look into it later, today and tomorrow are U.S. holidays.

[2019-11-28 17:58] cmsbuild commented on #28498
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2235/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-28 18:02] smuzaffar commented on #28499
@DrDaveD , correct, it is a warning.
@wddgit CMSSW unit tests is failing due to `diff` comand we are doing here https://github.com/cms-sw/cmssw/blob/master/CondCore/ESSources/test/TestConcurrentIOVsCondCore.sh#L9. May be we can keep only `'^lumi `  lines in log for comparion?

[2019-11-28 21:01] cmsbuild commented on #28498
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_aarch64_gcc820/2235

[2019-11-29 03:23] cmsbuild commented on #28483
The cleanup has started for slc7_amd64_gcc700

[2019-11-29 03:23] cmsbuild commented on #28483
The cleanup has started for slc7_amd64_gcc820

[2019-11-29 03:23] #28483 closed

[2019-11-29 03:23] cmsbuild commented on #28483
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_6-slc7_amd64_gcc700/1489

[2019-11-29 03:23] cmsbuild commented on #28483
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_6-slc7_amd64_gcc820/1490

[2019-11-29 03:23] cmsbuild commented on #28483
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_6-slc7_amd64_gcc820/1491

[2019-11-29 04:02] DrDaveD commented on #28499
It's good that you reported this, because otherwise I wouldn't have known about the intermittent failures.  I made service desk ticket INC2225950.

[2019-11-29 08:04] fabiocos commented on #28498
+1

[2019-11-29 08:05] cmsbuild commented on #28498
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-11-29 08:05] cmsbuild commented on #28498
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-11-29 08:05] cmsbuild commented on #28498
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-11-29 08:06] cmsbuild commented on #28498
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2236/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-29 08:07] cmsbuild commented on #28498
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2237/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-29 08:07] cmsbuild commented on #28498
The build has started for slc7_amd64_gcc900 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2238/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-29 08:12] fabiocos commented on #28498
abort

[2019-11-29 08:13] cmsbuild commented on #28498
Deleting CMSSW_11_0_0_pre13:

  -Release successfully deleted

  -cmssw tag CMSSW_11_0_0_pre13 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_11_0_0_pre13/slc7_amd64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_0_0_pre13/slc7_aarch64_gcc820. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_11_0_0_pre13/

[2019-11-29 08:14] #28498 closed

[2019-11-29 08:42] fabiocos opened #28507 "Build CMSSW_11_0_0_pre13"

[2019-11-29 08:42] cmsbuild commented on #28507
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-11-29 08:42] fabiocos commented on #28507
+1

[2019-11-29 08:43] cmsbuild commented on #28507
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-11-29 08:43] cmsbuild commented on #28507
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-11-29 08:43] cmsbuild commented on #28507
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2240/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-29 08:43] cmsbuild commented on #28507
The build has started for slc7_amd64_gcc820 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2239/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-29 09:31] cmsbuild commented on #28507
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2242/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-11-29 11:57] cmsbuild commented on #28507
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_amd64_gcc900/2240
Some te

[2019-11-29 12:09] cmsbuild commented on #28507
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_amd64_gcc820/2239
Some te

[2019-11-29 12:24] cmsbuild commented on #28507
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_aarch64_gcc820/2242
Som

[2019-11-29 13:58] cmsbuild commented on #28507
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_amd64_gcc900/2240

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-29 14:07] cmsbuild commented on #28507
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_amd64_gcc820/2239

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-29 16:01] cmsbuild commented on #28507
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre13-slc7_aarch64_gcc820/2242

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-11-29 18:24] fabiocos commented on #28507
upload all

[2019-11-29 18:25] cmsbuild commented on #28507
Queing Jenkins upload for slc7_aarch64_gcc820

[2019-11-29 18:25] cmsbuild commented on #28507
Queing Jenkins upload for slc7_amd64_gcc820

[2019-11-29 18:25] cmsbuild commented on #28507
Queing Jenkins upload for slc7_amd64_gcc900

[2019-11-29 18:27] cmsbuild commented on #28507
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1453/console

[2019-11-29 18:27] cmsbuild commented on #28507
The upload has started for slc7_amd64_gcc820 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1454/console

[2019-11-29 18:28] cmsbuild commented on #28507
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre13-slc7_amd64_gcc900/1453

[2019-11-29 18:30] cmsbuild commented on #28507
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre13-slc7_amd64_gcc820/1454

[2019-11-29 18:40] cmsbuild commented on #28507
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1455/console

[2019-11-29 18:42] cmsbuild commented on #28507
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre13-slc7_aarch64_gcc820/1455

[2019-11-29 18:42] fabiocos commented on #28507
release-notes

[2019-11-29 18:42] cmsbuild commented on #28507
Generating release notes since CMSSW_11_0_0_pre12.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-11-29 18:42] cmsbuild commented on #28507
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre13 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre12 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre13

Cheers,
cms-bot

You can

[2019-11-29 18:43] cmsbuild commented on #28507
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre13

[2019-12-01 17:53] cmsbuild commented on #28507
The cleanup has started for slc7_aarch64_gcc820

[2019-12-01 17:53] cmsbuild commented on #28507
The cleanup has started for slc7_amd64_gcc820

[2019-12-01 17:53] cmsbuild commented on #28507
The cleanup has started for slc7_amd64_gcc900

[2019-12-01 17:53] #28507 closed

[2019-12-01 17:53] cmsbuild commented on #28507
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre13-slc7_aarch64_gcc820/1492

[2019-12-01 17:53] cmsbuild commented on #28507
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre13-slc7_amd64_gcc820/1493

[2019-12-01 17:53] cmsbuild commented on #28507
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre13-slc7_amd64_gcc900/1494

[2019-12-02 14:40] schneiml opened #28521 "edm::Service callback for lumi/run cleanup"
Dear framework experts,

while porting the "new DQMStore" work back to work with a `edm::Service` based `DQMStore`, I face a problem related to which callbacks are available to the service.

In the `DQMStore`, we now essentially emulate the product life cycle in edm: histograms are created as a module enters a lumisection/run, kept while that lumi/run has not ended, saved to one or more output fil

[2019-12-02 14:40] cmsbuild commented on #28521
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-02 22:24] smuzaffar commented on #13236
@VinInn , warning has been avoided in CLHEP 2.4.0.0 by using `__attribute__((unused))`

[code]

[2019-12-02 22:37] smuzaffar commented on #15660
+core

[2019-12-02 22:37] #15660 closed

[2019-12-02 22:38] cmsbuild commented on #15660
This issue is fully signed and ready to be closed.

[2019-12-02 22:44] smuzaffar commented on #15896
this now takes 23s.
[code]

I am closing this issue, please reopen a new one if this is still an issue.

[2019-12-02 22:44] #15896 closed

[2019-12-02 22:47] #16850 closed

[2019-12-02 22:55] #17673 closed

[2019-12-02 23:06] #19783 closed

[2019-12-02 23:09] #21011 closed

[2019-12-02 23:16] smuzaffar commented on #22522
closing it, please reopen a new one of you still have such problem

[2019-12-02 23:16] #22522 closed

[2019-12-02 23:17] smuzaffar commented on #23401
this has been fixed
[code]

[2019-12-02 23:17] #23401 closed

[2019-12-02 23:20] smuzaffar commented on #23409
+core
this has been fixed via @23410

[2019-12-02 23:20] #23409 closed

[2019-12-02 23:21] cmsbuild commented on #23409
This issue is fully signed and ready to be closed.

[2019-12-03 08:33] civanch commented on #28073
The issue is fixed in Geant4 10.6 in all classes related to CMS productions.

[2019-12-03 08:33] civanch commented on #28073
+1

[2019-12-03 10:08] civanch commented on #28476
@ianna , @cvuosalo , I have studied this problem more and can conclude that problem of Aluminium happens only because it is the first material inside materials.xml. If you look below you may see the same problem with other materials. So, TGeoMixture::AddElement failing for all materials. "Aluminium" name is fine even with slightly wrong spelling which is historical.

There is another problem: Dete

[2019-12-03 13:56] mrodozov commented on #28476
I don't know what exactly DD4Hep team changed but tests are passing with the latest 4 commits.
It's in commits 7532b5928bba270023c1fac6f8333e4b132a456b to 982b65499b76600ede1e0e6f79c40fb832967c35 although the changes are mostly cosmetic.
@civanch I'll suggest lets have an issue about the 2026 / 2021 files separately.

[2019-12-03 13:56] #28476 closed

[2019-12-03 15:43] wddgit commented on #28499
I will take a look and submit a PR fixing this today. Sorry for the delay replying, holidays and time off...
Just got back today.

[2019-12-03 15:50] DrDaveD commented on #28499
We could also work around it by removing the IPv6 address for that server from DNS.  We're not getting any response on the ticket yet, but I think we'll first try rebooting the machine but if that doesn't fix it we'll make it be IPv4-only for now.

[2019-12-03 16:48] wddgit commented on #28499
PR #28530 fixes this is in 11_1_X. It makes the test less fragile, so we should do this. Possibly in addition we might want to think about other changes, but anything else would be someone else's responsibility. I occasionally use cout (standard output), but only in unit tests. I never use it in code that might run in production or outside a test. I am wondering why something else is sending outpu

[2019-12-03 19:49] nsmith- opened #28534 "DQMRootSource and DQMRootOutputModule don't use the same file ID"
Since the DQM file type is not using the standard RootFile IO, it doesn't have the `edm::createGlobalIdentifier()` embedded in a `MetaData` tree.
Rather, it uses the method `TFile::GetUUID` to read the file ID out of input files in:
https://github.com/cms-sw/cmssw/blob/81e12a9da6b3864a9d1aac5d433c7147f578fd2a/DQMServices/FwkIO/plugins/DQMRootSource.cc#L641

The DQMRootOutputModule should then corr

[2019-12-03 19:50] cmsbuild commented on #28534
A new Issue was created by  @nsmith- Nicholas Smith.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-03 21:00] cvuosalo commented on #16004
@smuzaffar @slava77 This issue is so old that I don't think it is relevant anymore. We can close it if Slava agrees.

[2019-12-03 21:20] smuzaffar commented on #28499
thanks @wddgit , 11.1.X is fine for now

[2019-12-03 22:16] slava77 commented on #16004
it's OK to close.

[2019-12-03 22:22] christopheralanwest commented on #19003
+1

This has been resolved by PR #28509.

[2019-12-03 22:24] cvuosalo commented on #16004
Issue no longer relevant.

[2019-12-03 22:24] #16004 closed

[2019-12-03 22:34] slava77 commented on #18443
I'm closing this as obsolete or "will not fix" case.

[2019-12-03 22:34] #18443 closed

[2019-12-03 22:43] slava77 commented on #25090
+1

from https://github.com/cms-sw/cmssw/issues/25090#issuecomment-543332225
it looks like there are no running legacy modules related to reco

[2019-12-03 22:45] slava77 commented on #27374
@perrotta
it looks like it's time to close this

[2019-12-04 08:48] #28415 closed

[2019-12-04 15:52] makortel commented on #28534
@nsmith- Below is my understanding of the chain of actions, could you confirm whether it is correct or not?

* Production runs `cmsRun` to produce a DQMIO file with some temporary file name.
* `cmsRun` (in `DQMRootOutputModule`) reports an GUID from `edm::createGlobalIdentifier()` in the job report
* Production renames the DQMIO file according to the GUID from the job report
* Production runs anot

[2019-12-04 16:10] Dr15Jones opened #28548 "StreamerInputSource is inconsistent wrt other Sources"
The StreamerInputSource is the only user of `EventPrincipal::putOnRead` and the only source that modifies its ProductRegistry at event time:

https://github.com/cms-sw/cmssw/blob/90acb56fb3a9cc8eb55e741119e02d8de4216283/IOPool/Streamer/src/StreamerFileReader.cc#L52

It would be better to have the streamer code
- Issue a _new file_ transition when it wants to modify the ProductRegistry
- Use the De

[2019-12-04 16:10] Dr15Jones commented on #28548
assign core

[2019-12-04 16:11] cmsbuild commented on #28548
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-04 16:11] cmsbuild commented on #28548
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-04 16:14] Dr15Jones opened #28549 "LHESource should not inherit from ProducerSourceFromFiles"
The LHESource bypasses the EDProducer part of ProducerSourceFromFiles and instead directly goes for the lower interface layers. This makes maintenance more difficult.

We should find or create a more appropriate base class for LHESource.

[2019-12-04 16:15] Dr15Jones commented on #28549
assign core

[2019-12-04 16:15] cmsbuild commented on #28549
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-04 16:15] cmsbuild commented on #28549
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-04 17:38] Dr15Jones commented on #28548
As it stands now, if the streamer changes the ProductRegistry, it is likely that the ProductProvenanceRetriever is not properly being updated (i.e. it probably is losing the product information about data products being produced during the job).

[2019-12-04 17:40] Dr15Jones commented on #28521
@schneiml I would think that the natural way to handle such re-use would be to use a shared reference count. If the count is 0 by the time you need to 'rebook' you can just re-use it.

[2019-12-04 17:49] makortel commented on #28534
Done in #28551.

[2019-12-04 17:49] DrDaveD commented on #28499
The service is back to working 100% on IPv6.

[2019-12-04 18:40] Dr15Jones commented on #28521
@schneiml I probably missed something. You are trying to make the new interface work with the old system involving the DQMStore service? Does that mean you would not be putting data products into the Run and LuminosityBlock for this?

[2019-12-04 18:49] nsmith- commented on #28534
Yeah the fix you've done is exactly what I was thinking to do.  Lowercase is not an issue in principle (since already that is how its reported in the inputfile jobreport) but while you're there having it uppercase would be nice for consistency.

Indeed there is no practical way to fix the existing files.

[2019-12-04 18:52] makortel opened #28553 "Provide a way to silence static analyzer warnings"
Discussion in https://github.com/cms-sw/cmssw/pull/28459#issuecomment-561313562 brought up a need for a way to silence static analyzer warnings in specific cases that are not covered with `CMS_THREAD_SAFE` or `CMS_THREAD_GUARD()`. For example `mutable` members in "thread friendly" (non-data format) classes are acceptable as long as no mutable state is shared between objects of that class.

A propo

[2019-12-04 18:52] makortel commented on #28553
@Dr15Jones @gartung

[2019-12-04 18:52] cmsbuild commented on #28553
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-04 19:54] gartung commented on #28553
The new macro definition is added in PR
https://github.com/cms-sw/cmssw/pull/28554

[2019-12-04 19:55] makortel opened #28555 "Add pre/post signals for write-lumi and write-run"
In the context of #28521 @Dr15Jones and I realized that while the framework emits pre/post signals for globalEndLumi before/after the global end-lumi functions of all modules (including output) have been called, there are no signals for the subsequent write-lumi transitions (same holds for run).

We came to the conclusion that it would be beneficial to add pre/post signals for write-lumi and write

[2019-12-04 19:56] cmsbuild commented on #28555
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-04 19:57] Dr15Jones commented on #28553
assign core

[2019-12-04 19:57] cmsbuild commented on #28553
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-04 20:05] Dr15Jones commented on #28521
assign core

[2019-12-04 20:05] Dr15Jones commented on #28555
assign core

[2019-12-04 20:05] cmsbuild commented on #28521
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-04 20:05] cmsbuild commented on #28555
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-04 20:22] makortel commented on #28534
Ok, updated #28551 accordingly.

[2019-12-05 09:55] schneiml commented on #28521
@Dr15Jones The current plan for 11_1 is to have `DQMToken`s everywhere (except legacy modules), but keep all the data inside the `DQMStore`, in an organisation that is a bit closer to products than "one big pile of histograms". This decision is because there are many unsolved problems with products only: online DQM, DQM@HLT, legacy modules, multi-run harvesting and end-job histograms, etc.

This w

[2019-12-05 09:57] schneiml commented on #28555
Just to confirm: this is exactly what I wanted to request in #28521.

[2019-12-05 10:01] schneiml commented on #28521
BTW, another idea I had was to trigger the ref-count/cleanup using `edm::Service` calls from the `DQMToken` constructor/destructor. But I don't see how this could be done without a dependency from `DataFormats` to `DQMServices`, and also it feels like a very, very bad idea...

[2019-12-05 13:59] fabiocos opened #28557 "Build CMSSW_7_1_45_patch1"

[2019-12-05 13:59] cmsbuild commented on #28557
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-12-05 14:00] fabiocos commented on #28557
+1

[2019-12-05 14:01] cmsbuild commented on #28557
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_45_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-12-05 14:01] cmsbuild commented on #28557
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-05 14:02] fabiocos opened #28559 "Build CMSSW_5_3_39"

[2019-12-05 14:03] cmsbuild commented on #28559
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-12-05 14:03] fabiocos commented on #28559
+1

[2019-12-05 14:03] cmsbuild commented on #28559
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_39. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2019-12-05 14:03] cmsbuild commented on #28559
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-12-05 14:06] cmsbuild commented on #28557
The build has started for slc6_amd64_gcc481 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2243/console
CMSDIST Branch: [REL/CMSSW_7_1_45/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_45/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-12-05 14:15] cmsbuild commented on #28559
The build has started for slc6_amd64_gcc472 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2244/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-12-05 14:27] cmsbuild commented on #28557
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_45_patch1-slc6_amd64_gcc481/2243
Some t

[2019-12-05 14:41] cmsbuild commented on #28557
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_45_patch1-slc6_amd64_gcc481/2243

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2019-12-05 15:34] fabiocos commented on #28557
upload all

[2019-12-05 15:35] cmsbuild commented on #28557
Queing Jenkins upload for slc6_amd64_gcc481

[2019-12-05 15:37] cmsbuild commented on #28557
The upload has started for slc6_amd64_gcc481 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1456/console

[2019-12-05 15:38] cmsbuild commented on #28559
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_39-slc6_amd64_gcc472/2244
Some tests (

[2019-12-05 15:38] cmsbuild commented on #28559
There was an error when running the tests for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_39-slc6_amd64_gcc472/2244

Tests results:
grep: /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_5_3_39-slc6_amd64_gcc472/build/CMSSW_5_3_39-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2019-12-05 15:38] cmsbuild commented on #28557
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_45_patch1-slc6_amd64_gcc481/1456

[2019-12-05 15:40] fabiocos commented on #28557
release-notes

[2019-12-05 15:41] cmsbuild commented on #28557
Generating release notes since CMSSW_7_1_45.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-05 15:41] cmsbuild commented on #28557
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_45_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_45 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_45_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2019-12-05 15:42] cmsbuild commented on #28557
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_45_patch1

[2019-12-05 16:16] fabiocos commented on #28559
@smuzaffar the build itself looks successful , checking the logs, it fails at the end:

[code]

[2019-12-05 16:30] cmsbuild commented on #28559
There was an error when running the tests for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_39-slc6_amd64_gcc472/2245

Tests results:
grep: /data/cmsbld/jenkins/workspace/auto-builds/CMSSW_5_3_39-slc6_amd64_gcc472/build/CMSSW_5_3_39-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2019-12-05 16:36] smuzaffar commented on #28559
@fabiocos , there was a error while running the tests as the test script was looking in to architecture path [a]. This is fixed now https://github.com/cms-sw/cms-bot/commit/dc9074f51584a28516b9f4ecd195d24c1086bb88 and tests are now running https://cmssdt.cern.ch/jenkins/job/build-release/2246/console

[a]
[code]

[2019-12-05 16:44] Dr15Jones commented on #28555
Accomplished with #28562

[2019-12-05 16:44] Dr15Jones commented on #28555
+1

[2019-12-05 16:44] cmsbuild commented on #28555
This issue is fully signed and ready to be closed.

[2019-12-05 16:59] cmsbuild commented on #28559
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_39-slc6_amd64_gcc472/2246

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2019-12-05 17:16] Dr15Jones commented on #28521
My thought was to share a `std::atomic<bool>` between the class holding the histograms and the `DQMToken`. When the token gets made, it sets the bool to `true`. When the token gets destroyed, it sets the bool to `false`. To determine if a given histogram can be re-used, the DQMStore would just look at the value of the bool. In that way, no callbacks are needed.

[2019-12-05 17:43] makortel commented on #26748
Another case came up in #28564.

[2019-12-05 17:53] Dr15Jones opened #28565 "Yet another memory problem in CSCTriggerPrimitivesProducer"
The address sanitizer running workflow 20634.21 for step 2 found this

[code]

[2019-12-05 17:54] cmsbuild commented on #28565
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-05 17:54] Dr15Jones commented on #28565
assign l1

[2019-12-05 17:54] cmsbuild commented on #28565
New categories assigned: l1

@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-05 17:57] Dr15Jones opened #28566 "Memory problem in HGCalBackendLayer2Producer"
The address sanitizer found the following when running workflow 21634.0 on step 2
[code]

[2019-12-05 17:57] Dr15Jones commented on #28566
assign upgrade

[2019-12-05 17:57] cmsbuild commented on #28566
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-05 17:57] cmsbuild commented on #28566
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-05 18:00] fabiocos commented on #28559
@smuzaffar thanks, so the architecture was not explicitely passed? ```scram``` was supposed to get it as an argument in the script as far as I can see

[2019-12-05 18:00] fabiocos commented on #28559
upload all

[2019-12-05 18:01] cmsbuild commented on #28559
Queing Jenkins upload for slc6_amd64_gcc472

[2019-12-05 18:01] cmsbuild commented on #28559
The upload has started for slc6_amd64_gcc472 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1457/console

[2019-12-05 18:01] cmsbuild commented on #28559
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_39-slc6_amd64_gcc472/1457

[2019-12-05 19:17] Dr15Jones commented on #28566
It is possible the problem is here

https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1THGCal/src/backend/HGCalShowerShape.cc#L136

If all the pt_s are 0 then `pt_sum` would be 0 so `percentile == layers.size()` resulting in reading off the end.

[2019-12-05 19:26] Dr15Jones commented on #28565
The problem is most likely here

https://github.com/cms-sw/cmssw/blob/master/L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc#L186

with `gen2.roll() >= mymap2.size()`

[2019-12-05 19:26] kpedro88 commented on #28566
@jbsauvan please take a look

[2019-12-05 19:32] kpedro88 commented on #28565
attn: @dildick @tahuang1991

[2019-12-05 19:37] dildick commented on #28565
@Dr15Jones Thanks for letting me know. I'll take a look.

[2019-12-05 20:49] jbsauvan commented on #28566
I will check and provide a fix. There is indeed a size check missing.

[2019-12-05 21:08] fabiocos commented on #28559
release-notes

[2019-12-05 21:09] cmsbuild commented on #28559
Generating release notes since CMSSW_5_3_38.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-12-05 21:09] cmsbuild commented on #28559
You can use this template for announcing the release:

Hi all,

The production release CMSSW_5_3_39 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_38 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_39

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2019-12-05 21:10] cmsbuild commented on #28559
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_39

[2019-12-05 21:11] #28534 closed

[2019-12-06 09:30] schneiml commented on #28521
@Dr15Jones hmm, that way the dependency could be avoided. I still think this sounds rather fragile, esp. since the correctness for legacy modules depends on the cleanup happening at exactly the right time (if a module holds a ME/TH1 pointer and expects it to stay valid across run/lumi boundaries, we need to be really sure to _never_ allocate a copy).

Since you provide the signal in #28562, I gues

[2019-12-06 13:02] jbsauvan commented on #28566
PR #28570 should fix this issue

[2019-12-06 13:34] dan131riley opened #28571 "MTDGeomDet type problem"
This is a followup to PR #28531.  In that PR, address sanitizer found that some unit tests were passing the wrong GeomDet type to the BaseTrackerRecHit constructor.  That constructor implicitly assumes that the GeomDet it receives is a TrackerGeomDet via this static_cast:

https://github.com/cms-sw/cmssw/blob/30a2ff8ff13aaa416259453b54ad0b62588edc91/DataFormats/TrackerRecHit2D/interface/BaseTracke

[2019-12-06 13:35] cmsbuild commented on #28571
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-06 13:39] dan131riley commented on #28571
@perrotta this is a followup to your question on #28531

[2019-12-06 13:48] perrotta commented on #28571
assign geometry, reconstruction

[2019-12-06 13:48] cmsbuild commented on #28571
New categories assigned: geometry,reconstruction

@Dr15Jones,@cvuosalo,@mdhildreth,@slava77,@perrotta,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-12-06 19:27] dan131riley commented on #28571
Replacing MTDGeomDet.h with `using MTDGeomDet = TrackerGeomDet;` seems to work.  I pushed my working area with that change and several static casts converted to dynamic casts to https://github.com/dan131riley/cmssw/tree/GeomDet-type-fixes

If there's interest I could make a straw-man PR  for discussion.

[2019-12-06 22:06] makortel opened #28575 "Where to place loading of CUDAService?"
PR #28537 introduces `CUDAService` that needs to be loaded in any configuration that may include CUDA EDModules. The service works also on machines without GPUs, and is used to communicate that fact to elsewhere in CMSSW.

The question is then where exactly the `process.load("HeterogeneousCore.CUDAServices.CUDAService_cfi")` should be placed? In the patatrack fork we modified `ConfigBuilder` to al

[2019-12-06 22:06] cmsbuild commented on #28575
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-06 22:19] makortel opened #28576 "How to deal with plugins not being built for some architectures?"
PR #28537 introduces first plugins depending on CUDA, and they are ignored for `ppc64le`. If/when we add some of these (or future) plugins on any configuration fragment used in `runTheMatrix.py`, the depending workflows will fail on `ppc64le` (similar to the tests in #28572) already because the `fillDescriptions()`-generated configuration files are not present (and even if that would succeed, load

[2019-12-06 22:20] cmsbuild commented on #28576
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-06 22:26] makortel commented on #26438
#28576 raises a bit more general issue that what if we can't even build the EDProducers on some architectures.

[2019-12-07 00:15] cvuosalo commented on #28571
@dan131riley Changing to the `using` seems like a good idea as a quick fix. If you could submit the PR, that would be helpful.
For a more comprehensive solution, I don't see why these clumsy casts are used in the first place. Maybe `GeomDet::localAlignmentError()` could be added as a virtual function so the casts wouldn't be necessary.

[2019-12-07 14:53] cmsbuild commented on #28557
The cleanup has started for slc6_amd64_gcc481

[2019-12-07 14:53] #28557 closed

[2019-12-07 14:53] cmsbuild commented on #28557
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_45_patch1-slc6_amd64_gcc481/1495

[2019-12-07 17:28] VinInn commented on #28576
Do really cuda not exist for ppc64le?
option 4 is interesting, still (given the historical organization of CMSSW with many algos in "src") not fully satisfactory.
option 1 is simply nogo

[2019-12-07 19:02] slava77 commented on #28576
moving fillDescriptions to a separate file.cc is a possible solution; not as a standard but to avoid issues in these cases; but this likely requires having a plugin.h and a modules.cc file to declare and instantiate the relevant parts, while leaving some methods unresolved if the rest of the plugin.cc can not be compiled.

[2019-12-07 20:23] cmsbuild commented on #28559
The cleanup has started for slc6_amd64_gcc472

[2019-12-07 20:23] #28559 closed

[2019-12-07 20:23] cmsbuild commented on #28559
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_39-slc6_amd64_gcc472/1496

[2019-12-08 08:10] VinInn commented on #28576
1) I think we should simply ifdef (eventually at higher level)
2) in any case None of this is a solution: if we support a platform better all code be able to run on it and produce correct results

[2019-12-08 16:42] dan131riley commented on #28571
@cvuosalo Ok, I'll make PR.  Making a virtual `GeomDet::localAlignmentError()` would be easy enough except that `MuonGeomDet` has its own version with a different type signature:

https://github.com/cms-sw/cmssw/blob/bf5212e884781d1fa3d172b9d97c8ac162bc88d2/Geometry/CommonTopologies/interface/MuonGeomDet.h#L16

This isn't actually used:

https://github.com/cms-sw/cmssw/blob/bf5212e884781d1fa3d172b

[2019-12-09 08:18] fabiocos opened #28582 "Build CMSSW_10_6_7"

[2019-12-09 08:20] cmsbuild commented on #28582
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-12-09 08:38] fabiocos commented on #28582
build cmssw-tool-conf

[2019-12-09 08:38] cmsbuild commented on #28582
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.