[2020-10-21 17:54] mmusich commented on #31889
@silviodonato the failure in the `Alignment/OfflineValidation` is due to an empty DAS query. I guess I can reduce the severity of the exception.
The failure in 1000.0 does not seem directly related to anything I changed though (?)

[2020-10-21 17:55] silviodonato commented on #31889
we get also https://github.com/cms-sw/cmssw/pull/31654#issuecomment-713632176
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-4287c1/10176/unitTests.log

[2020-10-21 17:56] silviodonato commented on #31889
assign core
something weird is happening

[2020-10-21 17:56] cmsbuild commented on #31889
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-21 17:58] makortel commented on #31889
That segfault in 1000.0 occurs randomly and is being tracked in https://github.com/cms-sw/cmssw/issues/30359

[2020-10-21 17:58] makortel commented on #31889
unassign core

(assuming the assignment was based on the segfault in 1000.0)

[2020-10-21 18:35] silviodonato commented on #31889
ok, so the error of 1000.0 is  #30359 and the unit test failure is a transient problem with DAS (indeed the unit test is ok in Patatrack and ARM)

[2020-10-21 18:35] #31889 closed

[2020-10-21 18:52] mmusich commented on #31889
I'll mitigate for transient failures anyway (tomorrow morning).

[2020-10-21 20:27] makortel commented on #30359
There is another failure in the workflow 1000.0 step2 in the default IB CMSSW_11_2_X_2020-10-21-1100

[2020-10-21 20:31] silviodonato opened #31890 "Build CMSSW_11_2_0_pre8"

[2020-10-21 20:37] #31890 closed

[2020-10-21 20:38] silviodonato opened #31891 "Build CMSSW_11_2_0_pre8"

[2020-10-21 20:38] cmsbuild commented on #31891
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-10-21 20:40] silviodonato commented on #31891
+1

[2020-10-21 20:40] cmsbuild commented on #31891
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-10-21 20:40] cmsbuild commented on #31891
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmss

[2020-10-21 20:41] cmsbuild commented on #31891
The build has started for slc7_amd64_gcc820 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2677/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-21 20:41] cmsbuild commented on #31891
The build has started for cc8_amd64_gcc8 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2676/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-21 20:41] cmsbuild commented on #31891
The build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2678/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-21 20:41] cmsbuild commented on #31891
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2679/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-21 20:42] cmsbuild commented on #31891
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2680/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-21 20:43] cmsbuild commented on #31891
The build has started for slc7_amd64_gcc900 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2681/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 01:35] cmsbuild commented on #31891
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_ppc64le_gcc820/2680
Some

[2020-10-22 01:39] cmsbuild commented on #31891
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_aarch64_gcc820/2679
Some

[2020-10-22 01:47] cmsbuild commented on #31891
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_aarch64_gcc8/2678
Some tests

[2020-10-22 02:30] cmsbuild commented on #31891
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_ppc64le_gcc820/2680

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-22 02:39] cmsbuild commented on #31891
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_aarch64_gcc820/2679

Tests results:
35 33 32 24 16 4 1 1 1 tests passed, 0 1 0 1 0 0 0 0 0 failed

[2020-10-22 02:46] cmsbuild commented on #31891
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_aarch64_gcc8/2678

Tests results:
35 33 32 25 17 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-10-22 03:01] cmsbuild commented on #31891
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc900/2681
Some tes

[2020-10-22 03:32] cmsbuild commented on #31891
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_amd64_gcc8/2676
Some tests ( r

[2020-10-22 03:41] cmsbuild commented on #31891
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc900/2681

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-22 03:50] cmsbuild commented on #31891
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc820/2677
Some tes

[2020-10-22 04:12] cmsbuild commented on #31891
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_amd64_gcc8/2676

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-22 04:29] cmsbuild commented on #31891
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc820/2677

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-22 06:43] silviodonato opened #31894 "Exception in egmPhotonPUPPIIsolation in several HI workflows"
In `CMSSW_11_2_X_2020-10-21-2300`, workflows
[code]
throw an exception
[code]
Since all crashing workflow are related to HI, the error seems related to #31668

[2020-10-22 06:43] cmsbuild commented on #31894
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-22 06:44] silviodonato commented on #31894
assign reconstruction

[2020-10-22 06:44] silviodonato commented on #31894
@mandrenguyen

[2020-10-22 06:44] cmsbuild commented on #31894
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-22 07:07] silviodonato opened #31895 "Segmentation violation in workflows 33034.0 and 33434.0 (geometry D72)"
In `CMSSW_11_2_X_2020-10-21-2300`, two worklows give seg violation
[code]
`Module: LXXXCorrectorProducer:ak4CaloL3AbsoluteCorrector (crashed)`

`cmsDriver.py step3  --conditions auto:phase2_realistic_T21 -s RAW2DIGI,L1Reco,RECO,RECOSIM,PAT,VALIDATION:@phase2Validation+@miniAODValidation,DQM:@phase2+@miniAODDQM --datatier GEN-SIM-RECO,MINIAODSIM,DQMIO -n 10 --geometry Extended2026D72 --era Phase2C1

[2020-10-22 07:08] cmsbuild commented on #31895
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-22 07:09] silviodonato commented on #31895
assign reconstruction
(actually I'm not sure about the origin of the problem)

PRs merged
    #31314 from JanFSchulte: Integrating VectorHits reconstruction for the Phase2 OT - reprise
    #31700 from guitargeek: Adapt EgammaHadTower and ElectronHcalHelper classes to use ESGetToken
    #31859 from Dr15Jones: Removed unused fwkJobReports from MessageLogger in HLTrigger Subsystem
    #31668 from man

[2020-10-22 07:10] cmsbuild commented on #31895
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-22 07:19] silviodonato opened #31896 "DQMOnlineClient-beam_dqm_sourceclient error"
In `CMSSW_11_2_X_2020-10-21-2300`, a unit test from `DQM/Integration` is failing.
This was already reported in some PR test (see https://github.com/cms-sw/cmssw/pull/31654#issuecomment-713632176) :

https://github.com/cms-sw/cmssw/pull/32135#issuecomment-726882729
https://github.com/cms-sw/cmssw/pull/32036#issuecomment-734247790
https://github.com/cms-sw/cmssw/pull/31765#issuecomment-714579386
htt

[2020-10-22 07:19] cmsbuild commented on #31896
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-22 07:20] silviodonato commented on #31896
assign DQM

[2020-10-22 07:22] silviodonato commented on #31896
assign dqm

[2020-10-22 07:22] cmsbuild commented on #31896
New categories assigned: dqm

@jfernan2,@andrius-k,@fioriNTU,@kmaeshima,@ErnestaP you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-22 07:23] silviodonato commented on #31896
we don't see the error in ` slc7 amd64 gcc900` and other architectures, so perhaps it is just a temporary problem

[2020-10-22 07:41] mandrenguyen commented on #31894
@silviodonato Checking now

[2020-10-22 09:04] silviodonato commented on #31895
assign upgrade, geometry

[2020-10-22 09:05] cmsbuild commented on #31895
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-22 09:05] ianna commented on #31822
+1

Done in https://github.com/cms-sw/cmssw/pull/31875
Thanks @fabiocos !

[2020-10-22 09:05] #31822 closed

[2020-10-22 09:05] silviodonato commented on #31895
cc @fabiocos

[2020-10-22 09:05] cmsbuild commented on #31822
This issue is fully signed and ready to be closed.

[2020-10-22 09:10] ianna commented on #24452
@fabiocos - please, check if there are any outstanding issues. Thanks!

[2020-10-22 09:11] ianna commented on #25434
+1

[2020-10-22 09:11] #25434 closed

[2020-10-22 09:11] silviodonato commented on #31895
the workflow was added with https://github.com/cms-sw/cmssw/pull/31842
@bsunanda

[2020-10-22 09:14] silviodonato commented on #31895
unassign reconstruction

[2020-10-22 09:15] fabiocos commented on #31895
@silviodonato @kpedro88 unfortunately #31842 did not just conflict with mine, but activated workflows that are bound to crash without #31765 . So It is not simply a matter of rebasing mine, those need to be switched off for the time being. I prepare a PR to fix this for the time being.

[2020-10-22 09:15] mbluj commented on #31583
OK, great, thanks! Please let me know when it is there. Then, I will try to perform relevant checks.

[2020-10-22 09:26] silviodonato commented on #31894
fix in #31897

[2020-10-22 09:32] silviodonato commented on #31891
abort

[2020-10-22 09:33] #31891 closed

[2020-10-22 09:33] silviodonato opened #31900 "Build CMSSW_11_2_0_pre8"

[2020-10-22 09:34] cmsbuild commented on #31891
Deleting CMSSW_11_2_0_pre8:

  -Release successfully deleted

  -cmssw tag CMSSW_11_2_0_pre8 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_pre8/slc7_amd64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_pre8/slc7_aarch64_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_pre8/slc7_ppc64le_gcc820 successfully deleted.

 -cmsdist tag REL/CMSSW_11_2_0_pre8/slc7_amd64_gc

[2020-10-22 09:34] cmsbuild commented on #31900
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-10-22 09:34] silviodonato commented on #31900
build cmssw-tool-conf

[2020-10-22 09:35] cmsbuild commented on #31900
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_ppc64le_gcc820, slc7_amd64_gcc900, cc8_amd64_gcc8, cc8_aarch64_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf f

[2020-10-22 09:36] fabiocos commented on #31895
the problem should be fixed by #31899

[2020-10-22 09:37] cmsbuild commented on #31900
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2684/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 09:37] cmsbuild commented on #31900
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2683/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 09:37] cmsbuild commented on #31900
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2682/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-22 09:37] cmsbuild commented on #31900
The cmssw-tool-conf build has started for cc8_aarch64_gcc8 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2685/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-22 09:40] cmsbuild commented on #31900
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2686/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 10:04] perrotta commented on #31783
I'm going to approve #31789 as it is coded now. As soon as  @jhgoh confirms that such a loop in the rpcMatches is actually not needed, I will submit another (trivial) PR which removes the comment lines added as a warning in https://github.com/cms-sw/cmssw/pull/31789/files#diff-84d3b2406deefaf4cd5103d8a2cfba5c84f294c81f62dd46aecd3ec2ff24487eR152 and https://github.com/cms-sw/cmssw/pull/31789/files#

[2020-10-22 10:34] fabiocos commented on #24452
@ianna @kpedro88 yes, I had kept this link in my folder to have a look at it, I will check for a cleaning when the basics of the ongoing PR are done

[2020-10-22 11:03] hatakeyamak commented on #31583
pickEvent still doesn't work, but
root://kodiak-se.baylor.edu//store/mc/RunIIAutumn18DRPremix/TauGun_Pt-15to3000_13TeV_pythia8/AODSIM/102X_upgrade2018_realistic_v15-v1/120000/5CE6FB17-A5FB-6843-86F7-C9C276A6AF16.root
should include this event.

edmFileUtil -e root://kodiak-se.baylor.edu//store/mc/RunIIAutumn18DRPremix/TauGun_Pt-15to3000_13TeV_pythia8/AODSIM/102X_upgrade2018_realistic_v15-v1/120000

[2020-10-22 11:25] mbluj commented on #31583
Yes, thanks. I copied the file locally.

[2020-10-22 11:48] mmusich commented on #31889
addressed in #31901.

[2020-10-22 11:49] cmsbuild commented on #31900
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2687/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 13:50] cmsbuild commented on #31900
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc820/2683

[2020-10-22 13:56] cmsbuild commented on #31900
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_aarch64_gcc820/2686

[2020-10-22 13:56] mbluj commented on #31583
I performed the checks with the following results:
1. In the event causing problems there is a track with pt=114263 which is above the maximal value allowed by the packing algorithm used by packedCands.
2. In 102X it gives in result a packedCandidate (in the lostTracks collection) with infinite pt (nan), but correct eta and phi. Then, a track retrieved from this packedCandidate (with bestTrack() m

[2020-10-22 14:00] cmsbuild commented on #31900
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_aarch64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_aarch64_gcc8/2685

[2020-10-22 14:05] hatakeyamak commented on #31583
Thanks. All sound good.

[2020-10-22 14:07] cmsbuild commented on #31900
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc900/2684

[2020-10-22 14:31] cmsbuild commented on #31900
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_amd64_gcc8/2682

[2020-10-22 15:08] cmsbuild commented on #31900
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_ppc64le_gcc820/2687

[2020-10-22 15:28] makortel commented on #31759
This was implemented in https://github.com/cms-sw/cmssw/pull/31815

[2020-10-22 15:28] makortel commented on #31759
+1

[2020-10-22 15:28] #31759 closed

[2020-10-22 15:29] cmsbuild commented on #31759
This issue is fully signed and ready to be closed.

[2020-10-22 15:46] makortel commented on #31097
+1

[2020-10-22 15:46] #31097 closed

[2020-10-22 16:04] Dr15Jones opened #31905 "Extend ParameterSetDescription to include PSetTemplate handling"
In python we can now declare a general description of a `PSet` to be used with `cms.optional` and `cms.required`. We should extend the C++ ParameterSet validation code to be able to generate such entries in the _cfi files.

[2020-10-22 16:04] cmsbuild commented on #31905
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-22 16:05] Dr15Jones commented on #31905
Such a facility could allow full ParameterSet validation usage by a slightly modified MessageLogger configuration description.

[2020-10-22 16:05] Dr15Jones commented on #31905
assign core

[2020-10-22 16:05] cmsbuild commented on #31905
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-22 18:38] Dr15Jones opened #31910 "[RFC] New MessageLogger configuration syntax"
The present configuration syntax used by the MessageLogger service can be confusing to use. Many different parameters often must be changed simultaneously to control the output. Here we propose simplifying some of the options by providing better grouping and avoiding previously required multiple declarations of parameter names. This would entail no changes to the internals of the MessageLogger, ju

[2020-10-22 18:38] cmsbuild commented on #31910
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-22 18:38] Dr15Jones commented on #31910
assign core

[2020-10-22 18:39] cmsbuild commented on #31910
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-22 18:44] Dr15Jones commented on #31910
### Variant 1

Move the destinations **`cout`** and **`cerr`** out of the **`destinations`** `PSet` and up to the top level of the MessageLogger PSet. Then change **`destinations`** to **`files`**.
E.g.
[code]

An advantage here is it keeps the syntax a bit closer to the original and makes it clear that the other destinations are files.

[2020-10-22 18:58] Dr15Jones commented on #31910
### Variation 2

In the original syntax, there was the option to set default values to be applied to all categories, all destinations or to all categories within a given destination. That could be retained
[code]
with
[code]
and
[code]

I'm not a big fan of this since it makes it more difficult to see exactly what messages will be printed since one needs to check the values of the message explicil

[2020-10-22 19:14] Dr15Jones commented on #31910
So, using this new syntax, how would one suppress all INFO messages except for 'MyLabel'? I actually can't see a way except to explicitly set each other message label to an `limit` of 0. I do not think the following would actually work
[code]

If we had a default for a destination, then one could write
[code]
although I think that would also discard any WARNING or ERROR messages as well since all

[2020-10-22 19:23] kpedro88 commented on #31910
Maybe it's worth considering the most common use cases, and how to make those as simple as possible? I think users usually want one of these cases:
1. Enable all messages from [my category]
2. Enable all messages from [given severity]

e.g. for SonicTriton tests, I do this:
https://github.com/cms-sw/cmssw/blob/9d0ce208578c2937a0d3d0af093c1e00226bd46f/HeterogeneousCore/SonicTriton/test/tritonTest_c

[2020-10-22 19:36] Dr15Jones commented on #31910
NOTE: After testing I did determine that my first guess as to how to keep only 1 particular INFO message was the correct configuration. I've update the previous comment accordingly.

[2020-10-22 19:59] Dr15Jones commented on #31910
@kpedro88
In the new syntax, your example could be
[code]

Since I'd propose making the default limit effectivetly infinite, the setattr would then just be
[code]

[2020-10-22 20:05] kpedro88 commented on #31910
That's definitely simpler. I would propose a helper (similar to `RandomServiceHelper`) to make the syntax a bit simpler, e.g.:
[code]
(or `activate()` could take one category at a time in a loop)

[2020-10-22 20:09] makortel commented on #31910
(just to record here: WM and CRAB do not customize MessageLogger configuration)

[2020-10-22 20:15] silviodonato commented on #31900
+1

[2020-10-22 20:15] cmsbuild commented on #31900
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-10-22 20:15] cmsbuild commented on #31900
Queuing Jenkins build for the following architectures: cc8_amd64_gcc8, cc8_aarch64_gcc8, slc7_ppc64le_gcc820, slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmss

[2020-10-22 20:16] cmsbuild commented on #31900
The build has started for slc7_amd64_gcc900 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2690/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 20:16] cmsbuild commented on #31900
The build has started for slc7_amd64_gcc820 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2689/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 20:16] cmsbuild commented on #31900
The build has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2688/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-22 20:17] cmsbuild commented on #31900
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2691/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 21:10] cmsbuild commented on #31900
The build has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2692/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-22 21:19] cmsbuild commented on #31900
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2693/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-22 22:04] slava77 commented on #31910
I'd add an ability to disable something specifically, not just enable
and also to have control per module.

I can't recall a use case to need to control different destinations for logging of outputs of one processing job (since ever on CMS or before).
I can imagine a contol-room like situation with multiple monitors (displays/humans/bots) looking at the flow of text for different areas/subsystems.

[2020-10-22 22:16] kpedro88 commented on #31910
I've occasionally done something like this, but in practice, it's also quite simple just to put everything into cout/cerr and then grep for the desired messages.

[2020-10-22 22:24] slava77 commented on #31910
fine, I guess having separate destinations is the only way to disentangle Log{Print,Verbatim,Trace}, which have no MSG-generated headers

[2020-10-22 23:19] cmsbuild commented on #31900
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc900/2690
Some tes

[2020-10-22 23:48] cmsbuild commented on #31900
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_amd64_gcc8/2688
Some tests ( r

[2020-10-22 23:58] cmsbuild commented on #31900
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc900/2690

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-23 00:11] cmsbuild commented on #31900
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc820/2689
Some tes

[2020-10-23 00:30] cmsbuild commented on #31900
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_amd64_gcc8/2688

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-23 00:41] cmsbuild commented on #31900
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_aarch64_gcc820/2693
Some

[2020-10-23 00:49] cmsbuild commented on #31900
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc820/2689

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-23 01:38] cmsbuild commented on #31900
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_aarch64_gcc820/2693

Tests results:
35 33 32 25 17 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-10-23 02:36] cmsbuild commented on #31900
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_ppc64le_gcc820/2691
Some

[2020-10-23 04:09] cmsbuild commented on #31900
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_aarch64_gcc8/2692
Some tests

[2020-10-23 05:38] cmsbuild commented on #31900
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-slc7_ppc64le_gcc820/2691

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-23 06:09] silviodonato opened #31914 "cmsExtendedGeometry2021.xml differs (unit test)"
Unit test in `Configuration/Geometry`
[code]

[2020-10-23 06:09] silviodonato commented on #31914
assign geometry

[2020-10-23 06:09] cmsbuild commented on #31914
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-23 06:09] cmsbuild commented on #31914
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-23 06:30] ianna commented on #31914
@silviodonato - this should fix it https://github.com/cms-sw/cmssw/pull/31915

[2020-10-23 06:41] cmsbuild commented on #31900
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8-cc8_aarch64_gcc8/2692

Tests results:
35 33 32 25 17 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-10-23 06:42] silviodonato commented on #31914
Thanks @ianna. Is it a serious problem or shall go ahead with the build of `CMSSW_11_2_0_pre8`? I see all workflows run without errors.

[2020-10-23 06:47] ianna commented on #31914
@silviodonato - no, it's not a serious problem. However, you may want to integrate the fix to have a clean pre8.

[2020-10-23 07:00] silviodonato commented on #31900
upload all

[2020-10-23 07:00] cmsbuild commented on #31900
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-10-23 07:00] cmsbuild commented on #31900
Queing Jenkins upload for cc8_amd64_gcc8

[2020-10-23 07:00] cmsbuild commented on #31900
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-10-23 07:00] cmsbuild commented on #31900
Queing Jenkins upload for slc7_amd64_gcc820

[2020-10-23 07:00] cmsbuild commented on #31900
Queing Jenkins upload for slc7_amd64_gcc900

[2020-10-23 07:00] cmsbuild commented on #31900
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-10-23 07:01] cmsbuild commented on #31900
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1721/console

[2020-10-23 07:01] cmsbuild commented on #31900
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1723/console

[2020-10-23 07:01] cmsbuild commented on #31900
The upload has started for cc8_amd64_gcc8 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1720/console

[2020-10-23 07:01] cmsbuild commented on #31900
The upload has started for slc7_amd64_gcc820 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1722/console

[2020-10-23 07:02] cmsbuild commented on #31900
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8-slc7_aarch64_gcc820/1721

[2020-10-23 07:03] silviodonato commented on #31914
I prefer to upload pre8 now, otherwise we will miss the weekend for the relval production

[2020-10-23 07:03] cmsbuild commented on #31900
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8-cc8_aarch64_gcc8/1723

[2020-10-23 07:03] cmsbuild commented on #31900
The upload has started for slc7_amd64_gcc900 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1724/console

[2020-10-23 07:04] cmsbuild commented on #31900
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1725/console

[2020-10-23 07:06] cmsbuild commented on #31900
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8-slc7_ppc64le_gcc820/1725

[2020-10-23 07:08] cmsbuild commented on #31900
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8-cc8_amd64_gcc8/1720

[2020-10-23 07:10] cmsbuild commented on #31900
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc900/1724

[2020-10-23 07:11] cmsbuild commented on #31900
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8-slc7_amd64_gcc820/1722

[2020-10-23 07:16] silviodonato commented on #31900
release-notes

[2020-10-23 07:16] cmsbuild commented on #31900
Generating release notes since CMSSW_11_2_0_pre7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-10-23 07:16] cmsbuild commented on #31900
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre8 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
cc8_aarch64_gcc8
slc7_ppc64le_gcc820
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_2_0_pre7 can be found at:

https://github.com/cms-sw/cmssw/rel

[2020-10-23 07:18] cmsbuild commented on #31900
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre8

[2020-10-23 07:51] fabiocos commented on #31910
A possible use case is given by tests (possibly unit tests) were you want to isolate a subset of categories into a file, but for debugging purposes you may want to optionally enable a few others. For instance if you debug geometry of one subdetector you may not be interested into all the troubles of others, or of unrelated parts of the code. A practical example I have recently played with is

http

[2020-10-23 10:25] mmusich opened #31920 "Segmentation fault with G4 Refitter"
Dear all,
I'd like to surface here the discussion which has been ongoing for some time in this [Hypernews thread](https://hypernews.cern.ch/HyperNews/CMS/get/tracker-material/144/1/1/1/1/1/1/1/1/2/1/1/2/1/2/2/1/1/2/1/1/1/2/1/1/1/1/1/1/1/1/1.html).
For reasons linked to avoiding biases in the alignment of the Tracker End Caps (apparently induced by bad description of the Tracker RECO material in th

[2020-10-23 10:26] cmsbuild commented on #31920
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-23 10:50] fwyzard commented on #31910
Is there any use case for having both `cout` and `cerr` ?

I don't think we actually use it anywhere in production... and every time I send them to different files (e.g. `cmsRun config.py > log 2> err`) I end up with very confusing reports, for example with an exception message in the error file and the stack trace in the output.

[2020-10-23 10:55] fwyzard commented on #31910
Right.

I think something that could make it easier would be to have a way to pass to `scram` a list of packages or files to be rebuilt with  `-DEDM_ML_DEBUG`.

Something like
[code]
that would add `USER_CXXFLAGS="-g" USER_CUDA_FLAGS="-g -lineinfo"` to the compilation of files matching the list.

[2020-10-23 10:56] fwyzard commented on #31910
what is the purpose of `extension` ?

[2020-10-23 11:11] fwyzard commented on #31910
By the way, here is a recent MessageLogger configuration used at HLT:
[code]

As you can see there is a lot of stuff that we should probably remove... unfortunately I think it gets added back because we parse the autogenerated cfi file to begin with :-(

[2020-10-23 12:47] slava77 commented on #31910
did I read it correctly that the PSet `errors` and `warnings` are identical and both have `threshold = cms.untracked.string("INFO")`.
Both are mentioned in `destinations`.
What do they actually do? (I recall seeing these in the past and being confused of the purpose; I'm trying to understand if this is something mapped to the new proposed syntax)

[2020-10-23 13:01] fwyzard commented on #31910
I think they don't actually do anything, because they have
[code]

[2020-10-23 13:09] #31895 closed

[2020-10-23 13:10] #31894 closed

[2020-10-23 13:10] makortel commented on #31920
assign simulation, reconstruction

[2020-10-23 13:11] cmsbuild commented on #31920
New categories assigned: reconstruction,simulation

@mdhildreth,@slava77,@perrotta,@jpata,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-23 13:15] mmusich commented on #31920
Additionally, when trying to move the analysis to the master cycle (`CMSSW_11_2_0_pre7`) one gets immediately this error from the framework:
[code]
I have tried to solve by applying this patch:

[code]

but I am not sure if these changes are appropriate at all, as running with them, it results in an immediate segmentation fault at the 1st event.

[2020-10-23 13:17] slomeo commented on #31824
@ianna : as PR #31839  is merged, I think that you can close this PR.

[2020-10-23 13:17] Dr15Jones commented on #31910
@slava77

You can find cases in CMSSW doing that by `git grep process.MessageLogger.destinations` and then looking for multiple entries.

[2020-10-23 13:22] slomeo commented on #31576
@ianna @cvuosalo  : as the PRs #31903 and #31683 are merged I think you can close this PR.

[2020-10-23 13:23] Dr15Jones commented on #31910
Unfortunately, the vast majority of use cases configuring the MessageLogger are not production (since that would make it much easier to do changes :) ).

Again, doing `process.MessageLogger.destinations` one can see cases were people use _cout_ and even _cout_ and _cerr_ together.

As for the stack trace, it isn't possible to safely redirect the stack trace output to the MessageLogger as the stack

[2020-10-23 13:27] Dr15Jones commented on #31910
@fwyzard

So by default if one were to write (in the present configuration syntax)
[code]
Then it would write a file named `foo.log`. If you were to instead have
[code]
Then it would write a file named `foo.mylog`.

Just to be clear, I am in no way trying to defend the present interface :), I'm just trying to explain what I've found out about it recently.

[2020-10-23 13:36] Dr15Jones commented on #31910
@fwyzard is correct. That parameter tells the MessageLogger to just ignore that destination even though it appears in the `destinations` list.

All this stuff dates back to the _dawn of time_ when the original developer (who wrote this code for CDF) was still the maintainer of the code. It was pointed out to him that the configuration was difficult to use and his solution was to inject these _plac

[2020-10-23 13:48] Dr15Jones commented on #31910
@fwyzard

The FWCore.MessageService.MessageLogger_cfi is actually hand written since the present syntax required by the MessageLogger can't be expressed by the ParameterSet validation code. Another reason for this RFC was to change the syntax so we could use the standard validation code.

As a first step, the pull request
https://github.com/cms-sw/cmssw/pull/31888

already removes some of the obso

[2020-10-23 14:01] fwyzard commented on #31910
It's maintained in ConfDB, so changing the syntax is not trivial but should be doable.

[2020-10-23 14:08] Dr15Jones commented on #31910
@fwyzard

Ah, good to know. Under this RFC, the actual syntax for setting the supressions would remain as it is now so maybe that would be even less disruptive.

[2020-10-23 15:10] Dr15Jones commented on #31910
Yes, please do open a dedicated issue for those requests. It makes it easier for us to track specific items.

[2020-10-23 15:29] fwyzard opened #31925 "MessageLogger support for HTML log files"
Currently, the MessageLogger kind of supports only plain text output.

Something that would come in handy when we look at log files with a browser (e.g. for all PR and IB tests...) would be to be able to generate logs in HTML format.
Even something as simple as:
  - wrapping the log in some lightweight HTML file:
[code]
  - defining a simple CSS schema for the LogError, LogWarning, etc.
  - wrappi

[2020-10-23 15:29] cmsbuild commented on #31925
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-23 15:33] fwyzard opened #31926 "coloured log messages via MessageLogger"
When going over large log output on the console, it would be helpful to have some colour coding of the messages, like recent versions of GCC, CMake, etc do.

For example, we could colour the %MSG-w ... header with the category, and the footer.
Here I put them in bold:

A possible schema:
  - LogSystem: ?
  - LogError: in red
  - LogWarning: in yellow
  - LogInfo: in white
  - LogDebug: ?

The opti

[2020-10-23 15:33] fwyzard commented on #31925
assign core

[2020-10-23 15:34] fwyzard commented on #31926
assign core

[2020-10-23 15:34] cmsbuild commented on #31926
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-23 15:34] cmsbuild commented on #31926
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-23 15:34] cmsbuild commented on #31925
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-23 15:34] fwyzard commented on #31910
Done: #31925 and #31926 .

[2020-10-23 19:14] makortel commented on #31920
Looks correct to me by eye.

Could you share the stack trace, or is the same as in the description?

[2020-10-23 20:29] Dr15Jones commented on #31910
@fwyzard
[code]

It tells the message logger to write is job statistics (that huge tabulated list) to cerr at the end of the job.

[code]
I think it would be doing the same thing as the other line if `cerr_stats` had been in the `statistics` list.

[2020-10-23 22:07] makortel commented on #30359
There is another failure in the workflow 1000.0 step2 in the default IB CMSSW_11_2_X_2020-10-23-1100

[2020-10-23 22:23] cvuosalo commented on #31824
+1

[2020-10-23 22:23] cmsbuild commented on #31824
This issue is fully signed and ready to be closed.

[2020-10-23 22:25] cvuosalo commented on #31576
+1

[2020-10-23 22:25] cmsbuild commented on #31576
This issue is fully signed and ready to be closed.

[2020-10-24 00:53] #31824 closed

[2020-10-24 01:03] #31576 closed

[2020-10-24 10:12] civanch commented on #31757
@makortel , #31811 should fix the issue.

[2020-10-24 16:32] Dr15Jones commented on #31910
### Variant 3

This variant should require the smallest number of files to be modified to still be able to get the goal of
- no longer having to multiply declare names, once in a `vstring` and another time as a parameter in a `PSet`
- be able to use the ParameterSet description system with MessageLogger which would make `edmPluginHelp -p MessageLogger` give useful results

The changes would be as

[2020-10-24 19:03] jhgoh commented on #31783
@perrotta Thank you for catching the meaningless loop.
I guess the routine was there long ago hidden in the very long lines of routines and simply not been caught. Logically the code changes in the master branch is identical to the one before the fix and must be safe.
For the author's intentions, it is not clear for me, though... In any case, I think this issue can be closed.

[2020-10-24 21:26] fwyzard opened #31933 "Build CMSSW_11_2_0_pre8_Patatrack"

[2020-10-24 21:26] cmsbuild commented on #31933
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @fwyzard. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and the

[2020-10-24 21:26] fwyzard commented on #31933
+1

[2020-10-24 21:26] cmsbuild commented on #31933
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre8_Patatrack. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_Patatrack_X

[2020-10-24 21:26] cmsbuild commented on #31933
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-10-24 21:28] cmsbuild commented on #31933
The build has started for slc7_amd64_gcc820 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2695/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-24 21:28] cmsbuild commented on #31933
The build has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2694/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-10-24 21:28] cmsbuild commented on #31933
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2696/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-24 23:51] cmsbuild commented on #31933
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8_Patatrack-slc7_aarch64_gcc820

[2020-10-25 00:32] cmsbuild commented on #31933
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8_Patatrack-slc7_amd64_gcc820/269

[2020-10-25 00:36] cmsbuild commented on #31933
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8_Patatrack-cc8_amd64_gcc8/2694
Some

[2020-10-25 00:55] cmsbuild commented on #31933
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8_Patatrack-slc7_aarch64_gcc820/2696

Tests results:
35 33 31 23 15 4 1 1 1 tests passed, 0 1 1 2 2 0 0 0 0 failed

[2020-10-25 01:04] cmsbuild commented on #31933
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8_Patatrack-slc7_amd64_gcc820/2695

Tests results:
32 8 0 0 0 0 0 0 0 tests passed, 3 23 8 0 0 0 0 0 0 failed

[2020-10-25 01:15] cmsbuild commented on #31933
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8_Patatrack-cc8_amd64_gcc8/2694

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-25 03:28] fwyzard commented on #31933
upload all

[2020-10-25 03:30] cmsbuild commented on #31933
Queing Jenkins upload for cc8_amd64_gcc8

[2020-10-25 03:31] cmsbuild commented on #31933
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-10-25 03:31] cmsbuild commented on #31933
Queing Jenkins upload for slc7_amd64_gcc820

[2020-10-25 03:33] cmsbuild commented on #31933
The upload has started for cc8_amd64_gcc8 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1726/console

[2020-10-25 03:33] cmsbuild commented on #31933
The upload has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1727/console

[2020-10-25 03:33] cmsbuild commented on #31933
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1728/console

[2020-10-25 03:34] cmsbuild commented on #31933
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8_Patatrack-cc8_amd64_gcc8/1726

[2020-10-25 03:34] cmsbuild commented on #31933
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8_Patatrack-slc7_aarch64_gcc820/1728

[2020-10-25 03:34] cmsbuild commented on #31933
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8_Patatrack-slc7_amd64_gcc820/1727

[2020-10-25 06:24] cmsbuild commented on #31900
The cleanup has started for cc8_aarch64_gcc8

[2020-10-25 06:24] cmsbuild commented on #31900
The cleanup has started for slc7_aarch64_gcc820

[2020-10-25 06:24] cmsbuild commented on #31900
The cleanup has started for cc8_amd64_gcc8

[2020-10-25 06:24] cmsbuild commented on #31900
The cleanup has started for slc7_amd64_gcc820

[2020-10-25 06:24] cmsbuild commented on #31900
The cleanup has started for slc7_amd64_gcc900

[2020-10-25 06:24] cmsbuild commented on #31900
The cleanup has started for slc7_ppc64le_gcc820

[2020-10-25 06:24] #31900 closed

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for cc8_aarch64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-cc8_aarch64_gcc8/1578

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-cc8_amd64_gcc8/1579

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-slc7_aarch64_gcc820/1580

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-slc7_amd64_gcc820/1581

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for slc7_ppc64le_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-slc7_ppc64le_gcc820/1583

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-cc8_amd64_gcc8/1585

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for cc8_aarch64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-cc8_aarch64_gcc8/1584

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-slc7_amd64_gcc900/1582

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-slc7_aarch64_gcc820/1586

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-slc7_amd64_gcc820/1587

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for slc7_ppc64le_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-slc7_ppc64le_gcc820/1589

[2020-10-25 06:25] cmsbuild commented on #31900
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_0_pre8-slc7_amd64_gcc900/1588

[2020-10-25 11:24] ianna commented on #31637
progress on this issue is discussed here https://github.com/AIDASoft/DD4hep/issues/534

[2020-10-25 15:17] cmsbuild commented on #31933
The build has started for slc7_ppc64le_gcc820 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2697/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-10-25 16:56] civanch commented on #31505
+1

[2020-10-25 17:33] cmsbuild commented on #31933
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8_Patatrack-slc7_ppc64le_gcc820

[2020-10-25 17:33] cmsbuild commented on #31933
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-10-25 17:35] cmsbuild commented on #31933
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1729/console

[2020-10-25 17:35] cmsbuild commented on #31933
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre8_Patatrack-slc7_ppc64le_gcc820/1729

[2020-10-25 18:26] cmsbuild commented on #31933
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre8_Patatrack-slc7_ppc64le_gcc820/2697

Tests results:
35 34 33 25 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-10-26 07:59] mmusich commented on #31920
@makortel

no, it's different, here is a link to the [stack trace](https://gist.github.com/mmusich/b499b807ed8128c91c72427fd066523b#file-stack-trace-11-2-x).
Relevant lines seem to be:
[code]

[2020-10-26 09:04] mariadalfonso commented on #29833
is this new package update still targeting the 11_2 ?

[2020-10-26 09:06] mariadalfonso commented on #31731
@perrotta
with the fixes provided by Slava we do not  see anymore the deepMet problem in NanoAOD validation tests

We can close this issue

[2020-10-26 12:34] Dr15Jones commented on #31920
How many threads are you using to run the job?

[2020-10-26 12:40] mmusich commented on #31920
[code]

[2020-10-26 12:58] #31757 closed

[2020-10-26 13:42] Dr15Jones opened #31940 "Buffer overflow in HGCalCLUEAlgoT::computeThreshold"
In ASAN intergration builds are showing a buffer overflow in `HGCalCLUEAlgoT<HGCalLayerTilesT<HGCalTilesConstants> >::computeThreshold()`

[2020-10-26 13:42] cmsbuild commented on #31940
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-26 13:44] Dr15Jones commented on #31940
The full information is
[code]

[2020-10-26 13:44] Dr15Jones commented on #31940
assign reconstruction, upgrade

[2020-10-26 13:44] cmsbuild commented on #31940
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@jpata,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-26 13:48] perrotta commented on #31940
@felicepantaleo @rovere

[2020-10-27 07:47] perrotta opened #31947 "Sim Calo hardcoded parameters in TrackDetectorAssociator"
In the `TrackDetectorAssociator::fillCaloTruth` method of TrackingTools/TrackAssociator/src/TrackDetectorAssociator.cc the flow of the C++ code is ruled by some hardocoded parameter, see https://github.com/cms-sw/cmssw/blob/master/TrackingTools/TrackAssociator/src/TrackDetectorAssociator.cc#L948 and below. This is prone to error, and hard to maintain in case of required modifications.

A comment f

[2020-10-27 07:47] perrotta commented on #31947
assign reconstruction, simulation

[2020-10-27 07:47] cmsbuild commented on #31947
New categories assigned: reconstruction,simulation

@mdhildreth,@slava77,@perrotta,@jpata,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-27 07:47] cmsbuild commented on #31947
A new Issue was created by  @perrotta .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-27 13:45] davidlange6 opened #31952 "incorrect PR references (possibly limited to patatrack prs?)"
I noticed this while browsing cmssw code

<img width="1218" alt="image" src="https://user-images.githubusercontent.com/5042883/97309862-d7b8b480-1862-11eb-82db-b0e70316633b.png">

of course #557 in the cmssw repo has nothing to with this code change. I presume its instead from the patatrack repository instead. Can we get the crossreferences to be correct at least for future PRs?

[2020-10-27 13:45] cmsbuild commented on #31952
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-27 13:47] makortel commented on #31952
assign core

[2020-10-27 13:47] cmsbuild commented on #31952
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-27 14:08] ianna commented on #25868
+1

done

[2020-10-27 14:08] cmsbuild commented on #25868
This issue is fully signed and ready to be closed.

[2020-10-27 14:23] ianna opened #31954 "[Muon][Geometry] use smart pointers"
`DTGeometry`, `CSCGeometry`, `RPCGeometry`, `GEMGeometry`, `ME0Geometry` should use `std::unique_ptr` smart pointer that owns and manages another object through a pointer and disposes of that object when the unique_ptr goes out of scope.

`DT` and `CSC` deallocate the resources:
https://cmssdt.cern.ch/lxr/source/Geometry/DTGeometry/src/DTGeometry.cc#0016
https://cmssdt.cern.ch/lxr/source/Geometry/

[2020-10-27 14:23] cmsbuild commented on #31954
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-27 14:26] makortel commented on #31954
assign geometry

[2020-10-27 14:26] cmsbuild commented on #31954
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-27 14:27] ianna commented on #27343
@jan-kaspar - please, let me know if there are any news on CTPPS.
@cvuosalo - I suppose, the CTPPS should be integrated in the DB payload?

[2020-10-27 14:58] ianna commented on #31954
@bsunanda - FYI

[2020-10-27 15:03] makortel commented on #31644
https://github.com/cms-sw/cmssw/pull/31930#issuecomment-715752393 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/d0Resolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/{d0Resolution,PhiResolution}

[2020-10-27 15:06] santocch commented on #31505
+1

[2020-10-27 15:34] boudoul opened #31956 "UnexpectedMagneticField message in Pixel2D template (Run3 data at 0T)"
Hello
I noticed when reconstructing a run from MWGR this message :

_%MSG-w UnexpectedMagneticFieldUsingNonIdealPixel2DTemplate:  PostModuleEvent  27-Oct-2020 15:14:15 CET Run: 334393 Event: 9562884
Magnetic field is 0 Template Magnetic field is 3.8_

I'm just reporting here in case this is the sign that something needs to be fixed in order to have the right config when taking data at 0T (= the cu

[2020-10-27 15:36] makortel commented on #31956
assign reconstruction

[2020-10-27 15:36] cmsbuild commented on #31956
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-27 15:52] cvuosalo commented on #31954
This issue is low-priority, and it can be addressed after more urgent issues are resolved. It is helpful optimization to reduce memory use.

[2020-10-27 16:01] boudoul commented on #31956
Adding @amassiro

[2020-10-27 16:02] makortel commented on #31952
I suppose this is a "feature" whenever PRs in forks of `cms-sw/cmssw` are merged there, and then the branch containing such merges is PR'd+merged in the main `cms-sw/cmssw`. I have seen these also before the Patatrack PRs.

Fixing the references to point the correct fork would require rewriting the commit messages. A script itself to do that should be straightforward (assuming all the references a

[2020-10-27 16:46] mariadalfonso commented on #27889
update
* Electron Scale and smearing for UL
(backport needed for) https://github.com/cms-sw/cmssw/pull/31936

[2020-10-27 16:51] slava77 commented on #31956
@pmaksim1 @mmusich @OzAmram

[2020-10-27 16:53] slava77 commented on #31956
assign alca

it looks more like an alca topic for GT content

[2020-10-27 16:53] cmsbuild commented on #31956
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-27 16:56] rovere commented on #31940
Thanks for reporting. After some further investigation, I think I've found the bug. We will submit a fix asap.

[2020-10-27 16:59] mmusich commented on #31956
For now this is **WONTFIX**:
1) Pixel Tracker is not part of MWGR
2) 2D template reco is irrelevant for cosmics anyway

For more discussion:

https://github.com/cms-sw/cmssw/pull/26940

Will eventually be fixed before start of data-taking for collisions.

[2020-10-27 17:04] mmusich commented on #31956
@tvami @ferencek FYI

[2020-10-27 17:43] cvuosalo opened #31958 "Muon DB loaders need to be migrated to DD4hep"
In `CondTools/​Geometry/​plugins/` the muon DB loaders need to be migrated to DD4hep.
[code]
`HcalParametersDBBuilder.cc` provides an example of what needs to be done.

[2020-10-27 17:43] cmsbuild commented on #31958
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-27 17:44] cvuosalo commented on #31958
@slomeo This issue is low-priority but should be done when you have time.

[2020-10-27 17:45] cvuosalo commented on #31958
assign geometry

[2020-10-27 17:45] cmsbuild commented on #31958
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-27 18:27] mundim commented on #27343
Sorry, somehow I overlooked this thread. I was not aware we have not defined production cuts for 2021. Since the simulation geometry (and all related files) are basically copied from 2018, the cuts should also be the same. However, I have tested the 2021 geometry (including the one in the 112 GT) and it worked fine. But we need to make some more detailed studies about the impact of such cuts.

[2020-10-27 19:03] namapane commented on #31954
@ianna I'm not sure I understand: do you mean DT and CSC (which deallocate resources) should be changed to use std::unique_ptr, or just that GEM, ME0 and RPC need to add proper memory handling?
DT and CSC codes were written well before std::unique_ptr made its appearance in the C++ standard. I am personally against changing code that behaves properly and is well tested to embrace newer features of

[2020-10-27 19:46] makortel commented on #31952
Here is a similar observation elsewhere https://github.com/isaacs/github/issues/1072 .

[2020-10-27 19:48] makortel commented on #31952
Let me also add @fwyzard explicitly to comment

[2020-10-27 19:56] vargasa commented on #27343
Due to time constraints I haven't been able to look into this. FYI @mmusich

[2020-10-27 21:16] fwyzard commented on #31952
Mhm, I see.

I can fix the commit history it for all the Patatrack PRs that are still open.

I guess we don't want to re-write the history to fix the past commits, though ?

[2020-10-27 23:34] makortel commented on #31952
Thanks Andrea!

My feeling is the same, i.e. these would not be big-enough deal to justify the trouble of rewriting the history of `master`.

One option towards preventing such PRs to be merged in the future would be to detect if any of the commit messages contain a PR/issue reference, and ask the author and reviewers to double-check those. I'm not sure if we could automatically identify non-`cms-

[2020-10-28 07:23] #25868 closed

[2020-10-28 07:28] ianna commented on #31954
@namapane - it would be nice to have a uniform and consistent code. We are revisiting the geometry builders for the DD4hep migration. `new` looks kinda old there :-)
Besides a copy-and-paste practice is common in CMSSW development - the problems arise  when only a part of the code is copied (see RPC's). Also, are all the containers used and useful?

Note, CMSSW is heading toward an automated linti

[2020-10-28 07:58] namapane commented on #31954
Uhm, which "containers" are you referring to?

[2020-10-28 13:14] makortel commented on #30359
There is another failure in the workflow 1000.0 step2 in the cc8_amd64_gcc8 IB CMSSW_11_2_X_2020-10-27-2300

[2020-10-28 13:17] makortel commented on #24051
Here is a similar crash from https://github.com/cms-sw/cmsdist/pull/6343#issuecomment-717623664 in `fastsim` test
[code]

[2020-10-28 17:24] cvuosalo commented on #31958
closed by accident

[2020-10-28 21:51] cvuosalo opened #31979 "[DD4hep] Change DD4hep to return values with the Geant4 units convention"
DD4hep returns values with the ROOT/CMS units convention, where lengths are in cm. Geant4 uses its own units convention, where lengths are in mm. When values obtained from DD4hep are sent to Geant4, they need to be converted.

These conversions impose costs in terms of performance and precision. DD4hep can be configured to return values with the Geant4 units convention. Doing so would improve perf

[2020-10-28 21:51] cvuosalo commented on #31979
assign geometry

[2020-10-28 21:51] cmsbuild commented on #31979
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-28 21:51] cmsbuild commented on #31979
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-29 13:37] slava77 commented on #27889
this is added now in the description

also updated at the top:
- #31847 Activate deepDoubleXV2 (now a 10_6_X PR)
- #31984 "unprefireable bit info"
    - only the feature is in, customization `L1TStage2SetPrefireVetoBit` needs to be propagated to the workflows
- #31220 update LowPtElectrons ... : the item was merged with  #25884 now that #31220 includes the low-pt elements for the default miniAOD

[2020-10-29 15:01] rovere commented on #31817
Dear all, @SohamBhattacharya
I did a quick investigation of the effect of including #31906 on the final size of the miniAODSIM.
I post here my findings after running on 25 events of TTBar with 200PU. Maybe not the definitive answer, but I think it is worth sharing the results here.
I used `CMSSW_11_2_0_pre8` and `CMSSW_11_2_0_pre8` + #31906

I attach below the report from `edmEventSize` on the out

[2020-10-29 15:38] kpedro88 commented on #31817
thanks @rovere
the change from pre6 to pre7 is shown here: https://jiwoong.web.cern.ch/jiwoong/results/phase2/compare_products_11_2_0/prod_PAT_compare_cpu_11_2_0Pre6vsPre7.txt
I think the byte sizes are not directly comparable (different events), but for example, patElectrons_slimmedElectronsFromMultiCl__PAT increased by ~7x from pre6 to pre7, and here it decreases by ~6x, so that mostly recovers

[2020-10-29 15:51] rovere commented on #31817
Thanks, @kpedro88 for the pointers and numbers.

[2020-10-29 15:54] silviodonato opened #31987 "test MagneticFieldEngineTestDriver had ERRORS"
In `CMSSW_11_2_X_2020-10-29-1100` we get an exception from the magnetic field geometry:
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/slc7_amd64_gcc820/www/thu/11.2-thu-11/CMSSW_11_2_X_2020-10-29-1100?utests

[2020-10-29 15:54] silviodonato commented on #31987
assign geometry

[2020-10-29 15:54] cmsbuild commented on #31987
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-29 15:54] cmsbuild commented on #31987
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-30 09:12] silviodonato opened #31991 "g4SimHitsCTPPSPixelHits not found"
Since `CMSSW_11_2 2020-10-29-2300` we get
[code]

because of https://github.com/cms-sw/cmssw/pull/31943

https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_2/2020-10-29-2300?selectedArchs=cc8_amd64_gcc8&selectedFlavors=X&selectedStatus=failed

[2020-10-30 09:13] silviodonato commented on #31991
assign simulation

[2020-10-30 09:13] cmsbuild commented on #31991
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-30 09:13] cmsbuild commented on #31991
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-30 11:46] civanch commented on #31991
@silviodonato , situation is simple: PPS hits are not present in premix sample. When @mundim tested #31943 things were working: hits were produced in step1 and product exists at step2. When it was merged we start to face situation that in all previously produced MC samples there is no PPS hits.

Ho to resolve this situation in an optimal way? Can this situation be resolved in python scripts or on

[2020-10-30 12:11] civanch commented on #31991
May be solution would be to have a separate WFs for Run-3 PPS developments?  In other WFs we may not enable PPS simulation.

[2020-10-30 13:42] davidlange6 commented on #31991
You might wait to active digitizers until new gem-sim has been created and the matrix updated.

[2020-10-30 15:03] kpedro88 commented on #29267
assign upgrade

[2020-10-30 15:03] cmsbuild commented on #29267
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-10-30 15:37] makortel commented on #30359
There is another failure in the workflow 1000.0 step 2 in the slc7_amd64_gcc10 IB CMSSW_11_2_X_2020-10-29-2300

[2020-10-30 16:03] slomeo commented on #31958
@cvuosalo @ptcox : I have edited CondTools/Geometry/plugins/CSCRecoIdealDBLoader.cc in oreder to add the dd4hep flag as I saw in HcalParametersDBBuilder.cc and the compilation is fine.
Two questions:
1) do I have to add CSCParametersWriter_cff.py in CondTools/Geometry/python ?
2) do I have to edit  in CondTools/Geometry/test/cscgeometrywriter.py ?

[2020-10-30 16:11] cvuosalo commented on #31958
@slomeo You should change `cscgeometrywriter.py` to include the new DD4hep flag. Test the script with dd4hep=true, but in the PR set the flag to false because we are not ready yet to create DB payloads with DD4hep.

I don't understand your question about `CSCParametersWriter_cff.py`.

[2020-10-30 16:27] ptcox commented on #31958
And I have no idea either. I know nothing about CSCParametersWriter.
Something to do with geometry-in-database?

Sorry,

Tim

[2020-10-30 16:27] slomeo commented on #31958
@cvuosalo : ok.
As far as CSCParametersWriter_cff.py I followed what I understood by looking:
1) at https://cmssdt.cern.ch/lxr/source/CondTools/Geometry/plugins/HcalParametersDBBuilder.cc  (line 42)
2) at https://cmssdt.cern.ch/lxr/source/CondTools/Geometry/python/HcalParametersWriter_cff.py
Is a new file (CSCParametersWriter_cff.py ) needed?

[2020-10-30 16:29] slomeo commented on #31958
@ptcox : please see my answer (above) to @cvuosalo

[2020-10-30 16:39] slomeo commented on #31958
@cvuosalo @ptcox : in summary, if I have to follow what it has been done for HcalParametersDBBuilder.cc, is a ParameterWriter file (as HcalParametersWriter_cff.py) need for CSC too?

[2020-10-30 18:01] smuzaffar commented on #30359
@pcanal , please note that CMSSW_11_2_ROOT622_X_2020-10-30-0800 release was build using latest root 6.22 branch plus you fix for non-zero enums ( https://github.com/root-project/root/pull/6728)

[2020-10-30 21:03] silviodonato commented on #31991
Thanks, I would temporary revert the PR and look for a solution next week.
This problem looks similar to issue https://github.com/cms-sw/cmssw/issues/29216

[2020-10-31 00:31] mundim commented on #31991
Hi all. Sorry, I was unable to look my email today. The commend of @civanch said it all. I'll see the other PR and see if there is anything I should do. thanks you all.

[2020-10-31 07:29] silviodonato commented on #31991
Ok, I removed it for the time being
https://github.com/cms-sw/cmssw/pull/31997

[2020-11-02 07:34] #31933 closed

[2020-11-02 07:37] smuzaffar commented on #30359
@makortel , ROOT622 IBs are in good state now. We have not chnaged root but reverted a cmssw PR to get it in green state. Do you see any issues with root 6.22 IBs now?

[2020-11-02 10:53] ianna commented on #31987
fixed in https://github.com/cms-sw/cmssw/pull/32000

[2020-11-02 10:54] ianna commented on #31987
+1

[2020-11-02 10:54] cmsbuild commented on #31987
This issue is fully signed and ready to be closed.

[2020-11-02 12:15] slomeo commented on #31958
@cvuosalo @ptcox please take a look to PR #32001

[2020-11-02 14:11] makortel commented on #30359
The ROOT 6.22 IBs themselves indeed look good now. The sporadic issue with 1000.0 step2 (that this issue appears really to be about in practice) is presumably still there, but can occur in any IB.

[2020-11-02 15:14] silviodonato commented on #31991
I opened back https://github.com/cms-sw/cmssw/pull/32003 as a placeholder.

How can we have problems with the premixing samples even in no-pileup workflows?

For instance
`11634.0 TTbar_14TeV+2021+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+Reco+HARVEST+ALCA`

is made of
step1
`dasgoclient --limit 0 --query 'file dataset=/RelValTTbar_14TeV/CMSSW_10_6_1-106X_mcRun3_2021_realistic_v1_rsb-v1/GEN-SIM site=T2

[2020-11-02 16:33] hatakeyamak commented on #31583
Perhaps this can be closed?

[2020-11-02 16:48] mbluj commented on #31583
Yes, right. I close it.

[2020-11-02 16:48] #31583 closed

[2020-11-02 21:11] cvuosalo commented on #31466
With CMSSW_11_2_X_2020-11-02-1100 in step 1 with DD4hep, still see the double placement:

Geant4Converter  ERROR ++ Attempt to DOUBLE-place physical volume: ebalgo:EVFE_1_1 No:1
Geant4Converter  ERROR ++ Attempt to DOUBLE-place physical volume: ebalgo:EVFE_2_1 No:1
Geant4Converter  ERROR ++ Attempt to DOUBLE-place physical volume: ebalgo:EVFE_3_1 No:1
Geant4Converter  ERROR ++ Attempt to DOUBLE-pl

[2020-11-03 02:30] makortel opened #32011 "How to migrate OscarMTProducer to EventSetup consumes?"
@bsunanda brought up a question that how a code implementing `SimProducer` or `SimWatcher` that uses `BeginOfJob` signal should be migrated to declare EventSetup product consumption (https://github.com/cms-sw/cmssw/issues/31061).

The difficulty is that `BeginOfJob` signal delivers `edm::EventSetup`
https://github.com/cms-sw/cmssw/blob/59d2873fdd664e57dfe67fc113ed826a08198e14/SimG4Core/Notificatio

[2020-11-03 02:30] cmsbuild commented on #32011
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-03 02:31] makortel commented on #32011
assign core, simulation

[2020-11-03 02:32] cmsbuild commented on #32011
New categories assigned: core,simulation

@Dr15Jones,@smuzaffar,@mdhildreth,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-03 02:33] makortel commented on #32011
Note that before https://github.com/cms-sw/cmssw/pull/31022 there was no ambiguity, all calls came at event transition.

[2020-11-03 02:34] makortel commented on #32011
On a related note, can `OscarProducer` be removed now (to avoid migrating all that to EventSetup consumes)?

[2020-11-03 08:48] esindril commented on #31657
The issue mentioned in this ticket has been identified and fixed in the EOS project. I believe this can be closed.

[2020-11-03 09:09] silviodonato commented on #31991
Just to keep track of the errors we got
![image](https://user-images.githubusercontent.com/6177433/97966769-8fe2e180-1dbc-11eb-8d4d-ce8502fa0a88.png)

[2020-11-03 09:15] davidlange6 commented on #31991
You have problems with gem-sim input that is not consistent with how the digitizers are configured

[2020-11-03 11:36] civanch commented on #32011
@makortel , in Geant4 10.7 a new feature will be available allowing to choose type of threading. I would reconsider how Geant4 is instantiated and initialized after migration to 10.7. At that moment OscarProducer may be dropped, because multi-threading method (or its absence) can be defined in one producer.

Concerning initialization of Geant4: may be #31022 make what we want not in the best way a

[2020-11-03 13:15] bsunanda commented on #32011
I do not agree with what Vladimir says about SimWatchers or SimProducers. They are really useful to validate simulation when any new detector is introduced. SimWatcher/SimProducer class was created by Chris Jones from the beginning of CMSSW. It is still heavily used in material budget studies.
________________________________
From: Vladimir Ivantchenko [notifications@github.com]
Sent: 03 November

[2020-11-03 13:25] makortel commented on #31657
Thanks @esindril!

[2020-11-03 13:25] makortel commented on #31657
+1

[2020-11-03 13:25] cmsbuild commented on #31657
This issue is fully signed and ready to be closed.

[2020-11-03 13:31] #31657 closed

[2020-11-03 14:03] makortel commented on #32011
@civanch From the timeline you presented in the O&C week (10.7 release in Dec 2020, integration in CMSSW by March 2021) postponing the `esConsumes()` to 10.7 sounds feasible. Is there already any documentation about the possible choices of threading types?

About SimWatchers and SimProducers, unfortunately they all need to be migrated to `esConsumes()` (or left into a non-functional state in which

[2020-11-04 10:03] fabiocos commented on #27343
@ianna as far as MTD is concerned, this issues should be solved now.

[2020-11-04 14:11] ianna commented on #31466
@cvuosalo - FYI, the double placement is fixed in a DD4hep private branch https://github.com/MarkusFrankATcernch/DD4hep

[code]
and
[code]

[2020-11-04 16:35] dan131riley opened #32027 "AddressSanitizer: heap-buffer-overflow DAClusterizerInZ_vect::purge"
@gartung  There's an ASAN heap buffer overflow in DAClusterizerInZ_vect::purge

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-02-2300/pyRelValMatrixLogs/run/6.0_SingleMuPt1+SingleMuPt1INPUT+DIGI+RECO+HARVEST/step3_SingleMuPt1+SingleMuPt1INPUT+DIGI+RECO+HARVEST.log#/

[code]

My best guess is that the problem is here:

https://github.com/cms-sw/cmssw/blob/

[2020-11-04 16:36] cmsbuild commented on #32027
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-04 16:45] fabiocos commented on #24452
#32026 addresses some of the comments listed by @perrotta at the beginning of this issue in the ```Geometry``` and ```RecoMTD/DetLayers``` domains. There are two other issues there not managed for the time being:

- the refactorization of ```compatibleDets``` in the ```MTDRingForwardDoubleLayer``` class, with the problem being the same in the newly introduced ```MTDSectorForwardDoubleLayer``` clas

[2020-11-04 16:49] gartung commented on #32027
Good catch. I will submit a PR shortly.

[2020-11-04 16:50] makortel commented on #32027
assign reconstruction

[2020-11-04 16:50] cmsbuild commented on #32027
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-04 17:02] gartung commented on #32027
https://github.com/cms-sw/cmssw/pull/32028

[2020-11-04 17:15] ianna commented on #31632
+1

[2020-11-04 17:15] #31632 closed

[2020-11-04 17:17] ianna commented on #31637
+1

[2020-11-04 17:17] #31637 closed

[2020-11-04 17:36] makortel commented on #24452
In my opinion if the use of `enum class` leads to substantial use of `static_cast` to access the numerical value, it could be easier to stay with plain `enum`.

[2020-11-04 17:38] perrotta commented on #24452
Thank you @fabiocos,
Since in this issue there is also an action which relates to the RecoMuon code, before forgetting about it I provided a (trivial) fix with #32029

[2020-11-04 17:54] #32027 closed

[2020-11-05 11:43] fabiocos commented on #24452
@makortel thanks for the comment, in operations like those implied by https://github.com/cms-sw/cmssw/blob/master/DataFormats/ForwardDetId/interface/BTLDetId.h#L76 an explicit type cast is required il ```enum class ``` is needed as far as I can see, just make a trivial test

[code]

giving (on Mac with clang 11, but this is irrelevant here I believe)

[code]

[2020-11-05 13:56] makortel commented on #31644
https://github.com/cms-sw/cms-bot/pull/1409#issuecomment-721911240 shows tiny differences in
* 23234.0: SiOuterTrackerV/Tracks/FinalResolution/VtxZResolution
* 28234.0: SiOuterTrackerV/Tracks/FinalResolution/PhiResolution

[2020-11-05 14:04] silviodonato opened #32035 "pLHE production, singularity, and xrdfs in CMSSW_7_1_X"
@jordan-martins reported a crash related to the `cmsLHEtoEOSManager` in the pLHE production in CMSSW_7_1_X ( https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_test/BPH-RunIIWinter15pLHE-00009 ):

[code]

The script `BPH-RunIIWinter15pLHE-00009` runs the command
[code]
I noticed that we do not get any error running directly `./BPH-RunIIWinter15pLHE-00009_test.sh` on `lxplus6`.

I temporarly

[2020-11-05 14:05] silviodonato commented on #32035
assign externals, pdmv

[2020-11-05 14:05] cmsbuild commented on #32035
New categories assigned: pdmv,externals

@smuzaffar,@chayanit,@wajidalikhan,@mrodozov,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-05 14:05] cmsbuild commented on #32035
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-05 14:19] smuzaffar commented on #32035
@silviodonato , first I would not suggest to source `/cvmfs/sft.cern.ch/lcg/views/LCG_83/x86_64-slc6-gcc48-opt/setup.sh`  even if it fixes the issue. This will bring in other issue as we mix sft and cms env.

Can you please try with `docker://cmssw/slc6:amd64` container instead of `docker://cmssw/slc6:latest`

[2020-11-05 14:25] silviodonato commented on #32035
@smuzaffar I get
[code]
even with
`singularity run -B /afs -B /eos -B /cvmfs -B /etc/grid-security --home $PWD:$PWD docker://cmssw/slc6:amd64 $(echo $(pwd)/BPH-RunIIWinter15pLHE-00009_test.sh)`

[2020-11-05 14:26] silviodonato commented on #32035
as well as
[code]

[2020-11-05 14:26] smuzaffar commented on #32035
If issue is missing xrdfs then we can install make it available in the continer. I though we pick up xrootd from cmssw env.

[2020-11-05 14:29] silviodonato commented on #32035
We pick `xrdfs` up from cmssw starting from `CMSSW_7_4_0`

[2020-11-05 14:29] smuzaffar commented on #32035
about the perl warning, I can not reproduce it ( may be due to my env where I have LC_* env set)

[2020-11-05 14:46] slava77 commented on #29818
I'm curious if there were some activities related to this issue in the ML group

[2020-11-05 14:46] silviodonato commented on #32035
Right, I can fix it even setting the variable outside `singularity`
[code]

About `xrdfs`, I found it only on these releases
[code]
and beyond `CMSSW_7_4_0_pre1`

[2020-11-05 14:51] smuzaffar commented on #32035
yes xrdfs commands are part of xrootd 4.X client which was only available in CMSSW_7_4 and above. I will update the container to include xrootd client.

[2020-11-05 15:59] dan131riley commented on #30359
`TCling::GetSharedLibs()` iterates through the shared library list in a way that doesn't appear to be well documented, particularly wrt thread safety:

https://github.com/root-project/root/blob/989c5537a8bb021da494310b386515c5640545bd/core/metacling/src/TCling.cxx#L3274-L3290

After staring at it for awhile (and running valgrind, and running in a loop in gdb), while I've failed to reproduce the pr

[2020-11-05 16:17] makortel commented on #30359
I suppose the `tbb::enumerable_thread_specific` could be tried out now that the thread-specific approach was accepted (as a compromise) for magnetic field.

[2020-11-05 17:52] smuzaffar commented on #32035
@silviodonato , I have created a new container `cmssw/slc6:amd64-d20201105` which includes xrootd client. Can you please try it and if this works then I will tag it as `cmssw/slc6:amd64`

[2020-11-05 17:59] silviodonato commented on #32035
@smuzaffar it works with `cmssw/slc6:amd64-d20201105`!

[2020-11-05 19:05] smuzaffar commented on #32035
@silviodonato , `cmssw/slc6:amd64` and `cmssw/slc6:latest` containers are now same as `cmssw/slc6:amd64-d20201105`

[2020-11-05 19:57] silviodonato commented on #32035
Perfect, thanks!

[2020-11-05 20:03] #32035 closed

[2020-11-06 08:50] jfernan2 commented on #29187
This issue is solved by https://github.com/cms-sw/cmssw/pull/32041

[2020-11-06 13:49] makortel opened #32045 "Fatal system signal has occurred during exit"
Occasionally random jobs in IB RelVals fail with
[code]
at the very end of the log without any further hint of what is causing the problem. This purpose of this issue is to collect their occurrences, and to discuss how to debug it and what could be causing the problem.

[2020-11-06 13:49] makortel commented on #32045
assign core

[2020-11-06 13:50] cmsbuild commented on #32045
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-06 13:50] cmsbuild commented on #32045
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-06 13:51] makortel commented on #32045
Occurred in 250407.17 step 2 in slc7_amd64_gcc10 IB CMSSW_11_2_X_2020-11-05-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_11_2_X_2020-11-05-2300/pyRelValMatrixLogs/run/250407.17_NuGun_UP17+FS_NuGun_UP17_PRMXUP17_PU50+HARVESTUP17FS+MINIAODMCUP17FS/step2_NuGun_UP17+FS_NuGun_UP17_PRMXUP17_PU50+HARVESTUP17FS+MINIAODMCUP17FS.log#/

[2020-11-06 13:57] makortel commented on #32045
@hufnagel reported "high rate of job failures" with the same error at T3_US_TACC in https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3902.html with CMSSW_9_3_18 and CMSSW_9_4_7 (slc6_amd64_gcc630). The HN thread did not end up in any conclusion (yet). Some of the failed jobs did give stack traces:

[code]

[code]

[code]

[code]

[2020-11-06 14:07] silviodonato opened #32047 "simHcalTriggerPrimitiveDigis.weightsQIE11 PSet uses number as keyword"
Minimal code to reproduce the error. Create a file `test.py` containing
[code]

Then
[code]
gives
[code]

The origin of the problem is #31661 which defines `weightsQIE11` using `dict`
[code]
https://github.com/cms-sw/cmssw/blob/master/SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cfi.py#L19
@JHiltbrand : please rename the variables from "1", "2", ... to something else!
Eg.
[code]

@cms-sw

[2020-11-06 14:07] cmsbuild commented on #32047
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-06 14:09] silviodonato commented on #32047
assign core, l1

[2020-11-06 14:10] cmsbuild commented on #32047
New categories assigned: core,l1

@Dr15Jones,@smuzaffar,@rekovic,@makortel,@jmduarte you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-06 14:32] makortel commented on #32047
The behavior is not unexpected, the keys of `PSet` are intended to be valid python identifiers, although when effectively using `setattr()` "anything" works (until `edmConfigDump`).

We could think of (somehow) enforcing the keys of `PSet` to be valid identifiers.

[2020-11-06 15:12] davidlange6 commented on #32047
I’m naively surprised that python allows this - but ok it does..

One approach in python3 is just to check

Import keyword
if varname.isidentifier() and not keyword.iskeyword(varname)

Python2 could borrow code from here
https://stackoverflow.com/questions/12700893/how-to-check-if-a-string-is-a-valid-python-identifier-including-keyword-check

[2020-11-06 15:20] makortel commented on #32047
Internally they're all dictionaries, and dictionary allows "anything" as keys (e.g. `{1: 2}`).

Thanks, this could be something to look into.

[2020-11-06 15:29] davidlange6 commented on #32047
Yes. And what I didn’t think of is that FWCore/ParameterSet never uses **kwargs as variable names and rather just as strings
(By chance). So effectively they remain as dictionaries..

[2020-11-06 15:43] slava77 opened #32050 "HGCAL in phase-2 premix workflow .999: missing HEB rechits, low response in HEF and EE"
followed by recent (e.g. https://github.com/cms-sw/cmssw/pull/31906#issuecomment-722578846 or https://github.com/cms-sw/cmssw/pull/32022#issuecomment-722025986) it looks like some of the premixing is not working in phase 2

here are a few plots comparing in CMSSW_11_2_X_2020-11-04-1100 23234.0 in black with 23434.999 in red (10 events; presumably the same sim), using the matrix outputs from the ba

[2020-11-06 15:43] slava77 commented on #32050
assign upgrade

[2020-11-06 15:43] cmsbuild commented on #32050
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-06 15:43] cmsbuild commented on #32050
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-06 15:56] kpedro88 commented on #32050
@makortel @adas1994 please take a look if you have time

[2020-11-06 16:06] makortel commented on #32050
Don't expect anything from me (beyond looking specific code someone else points to).

[2020-11-06 16:37] adas1994 commented on #32050
What's in the x-axis ? Is it Energy or Eta ? @kpedro88

[2020-11-06 16:38] kpedro88 commented on #32050
@adas1994 these plots show RecHit energy

[2020-11-06 16:41] adas1994 commented on #32050
I don't understand the negative energy. But, give me this weekend. Let me see if I can find something out.

[2020-11-06 16:44] kpedro88 commented on #32050
Sorry, it's log10(energy), to display the low values better.

[2020-11-06 16:49] hufnagel commented on #32045
One conclusion from the tests at TACC was that the failure is reproducible (although whether or not you end up getting a stack trace seems to be random). Another interesting data point was that the same workflow had almost 100% failure rate at TACC and ran fine elsewhere.

[2020-11-06 17:42] silviodonato commented on #31991
I investigated why `11634.0` works in the PR test of #32003 and why `11634.0` crashed in `CMSSW_11_2 2020-10-29-2300` (see above).
The reason is that in IB test we use the `-i all --ibeos` options which runs
[code]
which takes as input the already existing GEN-SIM files
[code]

On contrary, the default `runTheMatrix.py -l 11834.0` regenerates the GEN-SIM
[code]

[2020-11-06 18:04] silviodonato commented on #31991
@cms-sw/pdmv-l2 we need to update https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_steps.py#L3238 to a sample made with [CMSSW_11_2_0_pre6](https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_pre6) or later (ie. including  #30575 that integrates PPS into the simulation).
The same thing has to be done also for the pileup samples, otherwise the pileup sam

[2020-11-06 18:56] makortel commented on #31991
I wonder if a way to add `-i all` to PR tests would be useful in general (@smuzaffar). Of course then the challenge would be to remember to test also that for PRs where it would be relevant, so it is not obvious if that would really improve the situation compared to catching it in IBs.

[2020-11-06 19:07] smuzaffar commented on #31991
how about we add an extra test where we run with `-i all --command "-n 1"` this should catch any misconfiguration and any missing inputdata

[2020-11-08 23:18] mrodozov opened #32058 "Fortran warnings in GeneratorInterface for GCC 10"
There are 16 fortran warnings in 4 subpackages in GeneratorInterface/* that can be seen here:

https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/slc7_amd64_gcc10/www/thu/11.2-thu-23/CMSSW_11_2_X_2020-11-05-2300

Unless the warnings are fixed we cannot start the validation for gcc10
Usually we'd be happy to fix them right away (if they were C++ warnings), but this files are very long and we are n

[2020-11-08 23:18] cmsbuild commented on #32058
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-08 23:18] mrodozov commented on #32058
assign generators

[2020-11-08 23:19] cmsbuild commented on #32058
New categories assigned: generators

@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-09 10:43] silviodonato commented on #31991
@makortel @makortel I'm ok with adding `-i all --command "-n 1"`. I'm a bit afraid that it will take a lot of time even if we run a single event. Perhaps `--maxStep=2` might help to limit the running time

[2020-11-09 11:48] agrohsje commented on #32058
Hi @mkirsano , @SiewYan. Is one of you available to fix?
I am wondering about removing
MCatNLOInterface, which isn't used at all anymore.

[2020-11-09 11:52] mkirsano commented on #32058
Hello, I am still working on the pythia8 crash, can look only after that

On 11/9/20 12:48 PM, agrohsje wrote:

[2020-11-09 11:56] silviodonato commented on #31991
@cms-sw/pdmv-l2 we can discuss about https://github.com/cms-sw/cmssw/issues/31991#issuecomment-723210397 in the ORP meeting

[2020-11-09 15:01] Dr15Jones opened #32065 "Possible task ordering problem during job end"
In CMSSW_11_2_ROOT622_X_2020-11-08-0000 for workflow 1000.0 step3 we see the following crash

[code]

[2020-11-09 15:01] cmsbuild commented on #32065
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-09 15:01] Dr15Jones commented on #32065
@wddgit could you look at this to see if we have a potential ordering problem?

[2020-11-09 15:01] Dr15Jones commented on #32065
assign core

[2020-11-09 15:01] cmsbuild commented on #32065
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-09 15:02] Dr15Jones commented on #32065
The full log is here (at least for now)
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc820/CMSSW_11_2_ROOT622_X_2020-11-08-0000/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step3_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT.log

[2020-11-09 15:03] wddgit commented on #32065
@Dr15Jones  I will take a look now.

[2020-11-09 15:12] Dr15Jones commented on #32065
It is possible that the crash reported here
https://github.com/cms-sw/cmssw/pull/32049#issuecomment-724055451

Is related to the same problem as the main thread in PPC builds have the same tracebacks.

[2020-11-09 15:17] #31030 closed

[2020-11-09 15:25] SiewYan commented on #32058
@mrodozov , i will take a look at it. Sorry, could you remind me i shall fix it on the master branch? Thanks

[2020-11-09 15:36] JHiltbrand commented on #32047
Hi @silviodonato ,

I am working on the changes now.

[2020-11-09 15:47] Dr15Jones commented on #32065
From the PPC failure, I wonder if the TBB environment was 'torn down' before the wait was called?

[2020-11-09 15:52] wddgit commented on #32065
I am still looking and this is just wild speculation at this point. This is probably totally wrong... But could the main loop think it is done and start shutting down before the first IOV starts...

[2020-11-09 16:02] Dr15Jones commented on #32065
@wddgit I thought all the jobs showed they had processed all of their events.

[2020-11-09 16:06] wddgit commented on #32065
Yes. I see that now. The events are done. We had 1 lumi with 100 events and they look complete in the log. There should only be 1 IOV. 4 threads and 4 streams, but only 1 IOV and 1 lumi... I still don't understand why EventSetupRecordIOVQueue::startNewIOVAsync is getting called...

[2020-11-09 16:10] adas1994 commented on #32050
Last week I was almost off work and facing a huge backlog of work to push through. I know I promised to get something about it by this Monday but I failed. I am hoping to get something done about it within a couple of days though. I am really sorry for the delay @kpedro88 .

[2020-11-09 16:19] wddgit commented on #32065
More wild speculation that I have not really thought through class VolumeBasedMagneticFieldESProducerFromDB : public edm::ESProducer. Does it make sense that this class is an ESProducer and not an ESSource? This could be totally irrelevant.

[2020-11-09 16:24] JHiltbrand commented on #32047
Hi @silviodonato ,

Please refer to #32067 for addressing this issue.

[2020-11-09 16:55] makortel commented on #30359
There is another failure in the workflow 1000.0 step 2 in the slc7_amd64_gcc10 IB CMSSW_11_2_X_2020-11-08-2300
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_11_2_X_2020-11-08-2300/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step2_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT.log#/

[code]

[2020-11-09 16:59] makortel commented on #30359
There is another failure in the workflow 1000.0 step 2 in the slc7_amd64_gcc820 IB CMSSW_11_2_SCRAMV3_X_2020-11-07-1100
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_SCRAMV3_X_2020-11-07-1100/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step2_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT.log#/

[co

[2020-11-09 17:22] pcanal commented on #30359
Unfortunately 1000.0 requires a grid certificate, so I can't reproduce it.
Was the error:
[code]
ever caught in one of the debug build?

[2020-11-09 17:49] bfonta opened #32070 "numberOfThreads does not check for type"
In a ```python``` configuration file, the maximum number of CPU threads to be considered by CMSSW when running a series of modules is specified as follows:

[code]

If the user, by mistake specifies the following:

[code]

it is prompted with a reasonably looking error:

[code]

However, an equivalent message is not displayed when the mistake happens with ```numberOfThreads```; in that case, the C

[2020-11-09 17:49] cmsbuild commented on #32070
A new Issue was created by  @b-fontana .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-09 17:58] wddgit commented on #32065
We are calling EventSetupRecordIOVQueue::startNewIOVAsync during the endRun call to eventSetupForInstance for one record. Possibly that is the one causing trouble. It is a bit strange to be doing that at endRun... I will keep investigating that after lunch. I don't understand why we are doing that and maybe the Framework doesn't have the proper waits during endRun to handle it...

[2020-11-09 18:09] makortel commented on #32070
assign core

[2020-11-09 18:09] cmsbuild commented on #32070
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-09 18:20] makortel commented on #30359
Just for the record, I provided Philippe the file and the configuration from 1000.0 step 2 to (try to) reproduce.

[2020-11-09 18:59] makortel commented on #32070
I can reproduce in 11_2_0_pre8 (it's a bit strange though).

Note that already for some time now the `process.options` PSet is pre-defined by the `cms.Process` constructor and you can do just
[code]

[2020-11-09 19:54] makortel commented on #32070
Ok, what happens is the following. The `process.options` PSet (throwing the exception for `numberOfStreams`)  is called from `EventProcessor::init()`
https://github.com/cms-sw/cmssw/blob/fc0a40f7e66a9de1b58b0527904da2ce6551d587/FWCore/Framework/src/EventProcessor.cc#L345-L348

The `EventProcessor::init()` is called by its constructor, which is called by `main()`
https://github.com/cms-sw/cmssw/blo

[2020-11-09 20:43] mrodozov commented on #32058
Yes, you need master but setup the gcc10 IB, changing the SCRAM_ARCH to slc7_amd64_gcc10

[2020-11-09 21:13] rchatter opened #32072 "Geometry with material budget variations in 2017 and 2018"
For the Higgs mass measurement in the diphoton channel, one of the sources of uncertainty is that on the photon energy scale due to the uncertainty in the modelling of the material budget from the interaction point up to the ECAL. More details  may be found in Section 14.5,1 of  AN-17-036 [1].

This estimate is performed using dedicated samples where the said material budget is varied by +/- 5 and

[2020-11-09 21:13] cmsbuild commented on #32072
A new Issue was created by  @rchatter Rajdeep Mohan Chatterjee.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-09 21:30] makortel commented on #32072
Assign geometry

[2020-11-09 21:31] cmsbuild commented on #32072
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-09 21:40] wddgit commented on #32065
After looking some more, I cannot see any problems in EventSetupRecordIOVQueue. It is not the startNewIOVAsync function that is running. I was mistaken. I misinterpreted the stack trace. Instead, I think it is a functor created in that function that ends the IOV. It crashed while trying to end a particular IOV. It makes sense that runs near the end. It makes sense that in another thread it would g

[2020-11-09 21:43] pcanal commented on #30359
Thanks @makortel, it is running but has not failed yet ;)

[2020-11-09 22:30] wddgit commented on #32065
Does anyone know if it is OK to put boost intrusive pointers in a vector?

[2020-11-09 23:02] wddgit commented on #32065
I have no idea if this is important. A valgrind error:

==15413== Source and destination overlap in memcpy(0x1ffeff0c78, 0x1ffeff0c78, 12)
==15413==    at 0x40322A8: memcpy@@GLIBC_2.14 (in /cvmfs/cms-ib.cern.ch/nweek-02654/slc7_amd64_gcc820/external/valgrind/3.15.0-bcolbf2/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==15413==    by 0x15A64868: void llvm::SmallVectorImpl<char>::append<char cons

[2020-11-10 10:28] Axel-Naumann commented on #30359
Do I understand correctly that ROOT's v6-22-00-patches branch (which now has Philippe's PR https://github.com/root-project/root/pull/6768 merged) is "good enough" for CMS for us to tag 6.22/04?

We will continue to investigate the crash related to `TCling::GetSharedLibs()` which IIUC is not new / not unique to v6.22.

[2020-11-10 13:39] SiewYan commented on #32058
Thanks, i have setup the gcc10 IB, i will need some time to remove warning message for 16 files. Once all is done i will reference the PR here.

[2020-11-10 15:15] mrodozov opened #32079 "[PPC] Unit test in DetectorDescription/Core is failing on PPC"
The test testUnits is failing on this assertion:
https://github.com/cms-sw/cmssw/blob/master/DetectorDescription/Core/test/DDUnits.cppunit.cc#L53
on PowerPC
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc820/CMSSW_11_2_X_2020-11-05-2300/unitTestLogs/DetectorDescription/Core#/198-198
When the line is commented it runs, and when I put the angle12 to be unsingned:
`unsigned angle120 = c

[2020-11-10 15:16] cmsbuild commented on #32079
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 15:19] wddgit commented on #32065
The only other new valgrind errors I see are of this type:

"Conditional jump or move depends on uninitialised value(s)"

Most of the time those are harmless (not always).
(A few related to ~concurrent_unordered_map
and some in frontier_client)

Note that the error in the previous comment,
"Source and destination overlap in memcpy",
is undefined behavior. It is occurring deep inside
llvm/cling/ROO

[2020-11-10 15:24] Dr15Jones commented on #32065
[code]

If the values of the arguments shown in the message are true, then it looks like memcpy is copying the same memory onto itself since the two addresses are identical. Looking at the standard, even that is technically undefined behavior. So we shold report it to ROOT.

[2020-11-10 15:30] wddgit commented on #32065
I will submit a ROOT JIRA ticket.

[2020-11-10 15:57] wddgit commented on #32065
ROOT moved from JIRA to GitHub issues for reporting bugs. Here is the issue I submitted.

https://github.com/root-project/root/issues/6792

[2020-11-10 17:24] mrodozov opened #32084 "[PPC] Two unit tests failing in Alignment/MillePedeAlignmentAlgorithm"
Two unit tests are failing in
Alignment/MillePedeAlignmentAlgorithm
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc820/CMSSW_11_2_X_2020-11-05-2300/unitTestLogs/Alignment/MillePedeAlignmentAlgorithm#/105-105

running the same script over the (what it looks like) the same .db file:

1.
test_MpsWorkFlow
[code]
2.
test_PrepareInputDb
[code]

To reproduce this access to any of our powerp

[2020-11-10 17:25] cmsbuild commented on #32084
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 18:13] adas1994 commented on #32050
@kpedro88  I have looked into the plots in detail using K0_L thrown directly at HGCAL at 5 GeV. And it is a pretty serious issue actually. I don't have a clue at present why the energy distribution would be different from the reference, as I changed nothing on the accumulated charge but changed only how timing is computed. I would have to look into the code for possible bugs I may have introduced.

[2020-11-10 18:18] kpedro88 commented on #32050
@adas1994 are you using minbias that you generated yourself, or the official sample used by runTheMatrix?

[2020-11-10 18:22] mrodozov opened #32085 "[PPC] Unit test failing in Alignment/OfflineValidation"
One unit test is failing  in Alignment/OfflineValidation :

testAlignmentOfflineValidation

running

`conddb --yes --db pro copy TrackerAlignment_Upgrade2017_design_v4 --destdb myfile.db`

[code]

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc820/CMSSW_11_2_X_2020-11-05-2300/unitTestLogs/Alignment/OfflineValidation#/377

note to self: this is not the only DB related issue so I'm thi

[2020-11-10 18:22] adas1994 commented on #32050
@kpedro88  I used official Sample used by runTheMatrix.
One quick question - this is a very legit open issue and needs to be addressed ASAP. But I will remain extremely busy for the next few months. I was just wondering if there is any deadline before which this needs to be addressed. I would have to reschedule stuff in that case.

[2020-11-10 18:22] cmsbuild commented on #32085
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 18:23] kpedro88 commented on #32050
@adas1994 it might be worth trying a new sample generated in the same release before digging through the code. it's possible the old sample is no longer 100% compatible.

[2020-11-10 18:29] adas1994 commented on #32050
@kpedro88 I will try new samples and update you on it as soon as I can.

[2020-11-10 18:44] makortel commented on #32084
assign alca

[2020-11-10 18:45] makortel commented on #32085
assign alca

[2020-11-10 18:46] cmsbuild commented on #32084
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-10 18:46] cmsbuild commented on #32085
New categories assigned: alca

@christopheralanwest,@tlampen,@pohsun,@yuanchao,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-10 19:24] mmusich commented on #32085
I think this as well as https://github.com/cms-sw/cmssw/issues/32084 should rather be db-assigned as it is actually `conddb` which is failing

[2020-11-10 19:26] mmusich commented on #32084
Out of curiousity how does one gain access to such machines?

[2020-11-10 19:29] christopheralanwest commented on #32085
assign db

[2020-11-10 19:29] cmsbuild commented on #32085
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-10 20:58] mrodozov opened #32086 "[PPC] Unit test failure in FWCore/Concurrency"
Unit test:
testFWCoreConcurrency fails
with
`Running ............./bin/sh: line 1: 91746 Floating point exception(core dumped) testFWCoreConcurrency`
on powerpc. It doesn's say anything else, so I guess  disassembling the test which includes all .ccpunit. files.

[2020-11-10 21:00] cmsbuild commented on #32086
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 21:02] mariadalfonso commented on #31393
change of PDF done here https://github.com/cms-sw/cmssw/pull/31946

+xpog

[2020-11-10 21:03] mariadalfonso commented on #31393
+xpog

[2020-11-10 21:05] makortel commented on #32086
assign core

[2020-11-10 21:05] cmsbuild commented on #32086
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-10 21:43] makortel commented on #32079
assign geometry

[2020-11-10 21:43] cmsbuild commented on #32079
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-10 21:44] makortel commented on #32086
I wonder if the problem has the same origin as in https://github.com/cms-sw/cmssw/pull/32049#issuecomment-724055451 as the cause is floating point exception.

[2020-11-10 22:00] mrodozov opened #32088 "[PPC] Unit test fails in Geometry/TrackerGeometryBuilder"
This unit test:
GeometryTrackerGeometryBuilderTestDriver
is failing with
[code]

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc820/CMSSW_11_2_X_2020-11-05-2300/unitTestLogs/Geometry/TrackerGeometryBuilder#/47775-47775

running:

`cmsRun test/python/testTrackerParametersFromDD4hep_cfg.py`

[2020-11-10 22:00] cmsbuild commented on #32088
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 22:03] makortel commented on #32088
assign geometry

[2020-11-10 22:05] makortel commented on #32088
Some more details from the log in the description
[code]

[2020-11-10 22:05] cmsbuild commented on #32088
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-10 22:06] mrodozov opened #32089 "[PPC] Unit test failing in Geometry/DTGeometryBuilder"
This unit test:
GeometryDTGeometryBuilderTestDriver
is failing:
`Failure using cmsRun /scratch/cmsbuild/jenkins_a/workspace/ib-run-qa/CMSSW_11_2_X_2020-11-05-2300/src/Geometry/DTGeometryBuilder/test/python/validateDTGeometry_cfg.py: status 139`
in powerpc IBs
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc820/CMSSW_11_2_X_2020-11-05-2300/unitTestLogs/Geometry/DTGeometryBuilder#/83

[2020-11-10 22:06] cmsbuild commented on #32089
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 22:07] makortel commented on #32089
assign geometry

[2020-11-10 22:08] cmsbuild commented on #32089
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@makortel,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-10 22:09] mrodozov opened #32090 "[PPC] Unit test failure in SimG4Core/DD4hepGeometry"
This unit test is failing:
DD4hepGeometryTestDriver
in
SimG4Core/DD4hepGeometry
running
`cmsRun /scratch/cmsbuild/jenkins_a/workspace/ib-run-qa/CMSSW_11_2_X_2020-11-05-2300/src/SimG4Core/DD4hepGeometry/test/python/testG4Geometry.py`

[code]

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc820/CMSSW_11_2_X_2020-11-05-2300/unitTestLogs/SimG4Core/DD4hepGeometry#/93-93

[2020-11-10 22:09] cmsbuild commented on #32090
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 22:10] makortel commented on #32089
Some more details from the log in the description
[code]

[2020-11-10 22:11] makortel commented on #32090
assign simulation, geometry

[2020-11-10 22:11] cmsbuild commented on #32090
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@makortel,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-10 22:11] makortel commented on #32090
More details from the log in the description
[code]

[2020-11-10 22:24] mrodozov opened #32091 "[PPC][ARM] Unit test in EventFilter/Utilities failing"
Unit test:
BUFU_TEST

in EventFilter/Utilities is failing in both Arm and powerpc IBs
with the following:

[code]

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_aarch64_gcc820/CMSSW_11_2_X_2020-11-09-2300/unitTestLogs/EventFilter/Utilities#/

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc820/CMSSW_11_2_X_2020-11-06-2300/unitTestLogs/EventFilter/Utilities#/50-50

[2020-11-10 22:25] cmsbuild commented on #32091
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 22:25] adas1994 commented on #32050
@kpedro88 - sorry to bother again, but I am a little confused as to how is it possible to compare plots from workflows 23234.0  and 23434.999. The workflow 23234.0 has no pileups, but 23434.999 has.

[2020-11-10 22:27] kpedro88 commented on #32050
@adas1994 that's true, I read too fast: 23434.0 (PU workflow, needs to be modified to set PU to 50) should be compared to 23434.999. @slava77 FYI

[2020-11-10 22:31] adas1994 commented on #32050
Cool. I will ping you once I stumble upon something concrete.

[2020-11-10 22:32] slava77 commented on #32050
more pileup -> more hits are expected, but we get less.
That's a good enough comparison to show that there are problems.

[2020-11-10 22:41] cvuosalo commented on #32079
@mrodozov This unit test has been in place for months. Why is it suddenly failing now? What is the urgency of this issue?

[2020-11-10 22:53] mrodozov commented on #32079
It fails in the PowerPC IB. And it was failing all along, we just want to clear all unit tests in that IB

[2020-11-10 23:13] mrodozov opened #32094 "[PPC] Unit test failing in Validation/Geometry"
Two unit tests are failing in Validation/Geometry

materialBudgetHGCalPlots
and
materialBudgetTrackerPlots

when run by hand

`
python /scratch/mrodozov/units/CMSSW_11_2_X_2020-11-05-2300/src/Validation/Geometry/test/runP_HGCal_cfg.py geom=Extended2026D71 label=HGCal`

a (yet another) floating point exception followed:

[code]

[2020-11-10 23:13] cvuosalo commented on #32079
`convertRadToDeg` comes from here:
https://cmssdt.cern.ch/lxr/source/DataFormats/Math/interface/angle_units.h
In effect, it is `angle * 180. / M_PIl`.

I think we need a Power PC expert to look at these issues, or at least someone who has access to a Power PC.

[2020-11-10 23:13] cmsbuild commented on #32094
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 23:17] mrodozov commented on #32079
We have access to a Power PC, and this is how we are building this IBs
You can request an access for your zh user name here:
https://cern.service-now.com/service-portal?id=sc_cat_item&name=access-openlab-machine&se=it-procurement

[2020-11-10 23:20] mrodozov commented on #32084
I think I'll add this to all of this PPC issues:
https://github.com/cms-sw/cmssw/issues/32079#issuecomment-725025273

[2020-11-11 00:29] makortel commented on #32091
assign daq

[2020-11-11 00:30] cmsbuild commented on #32091
New categories assigned: daq

@smorovic,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-11 00:35] makortel commented on #32094
assign core

FYI @cms-sw/geometry-l2 @cms-sw/dqm-l2

[2020-11-11 00:35] cmsbuild commented on #32094
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-11 00:36] makortel commented on #32094
There is clearly something very fishy going on with floating points on PPC

[2020-11-11 01:12] smorovic commented on #32091
Endianness is the same as x86_64 if I remember correctly. Suspicion would be alignment difference wrt. x86_64, so files aren't correctly written or read (or both) on these two platforms .

We don't use ARM or PPC currently for DAQ/HLT workflow (don't even have hardware for development and testing) and we can't currently support it.
I'd tend to disable the unit test for non-x86_64 architectures. Fr

[2020-11-11 08:13] Axel-Naumann commented on #30359
Ping ^ - we're holding the tag for your confirmation.

[2020-11-11 08:36] jfernan2 commented on #29187
+1

[2020-11-11 08:37] cmsbuild commented on #29187
This issue is fully signed and ready to be closed.

[2020-11-11 09:17] perrotta commented on #31940
+1
- #32021 should have fixed it

[2020-11-11 09:36] smuzaffar commented on #30359
@Axel-Naumann , we had integrated https://github.com/root-project/root/commit/2c44aae445133b9eb4852e1ded7c37aa6cbde31a in special ROOT622 IBs. Things look good now.  Yesterday's 11h00 IB is all good (no failures except 3 tests failing due to remote file reading but I do not thing it is related to root) and tests are still running for 23h00 IB and every thing is green so far.

We just noticed that

[2020-11-11 12:03] smuzaffar commented on #30359
The comparison job just finished and I still see those 8 reco comparison failures ( https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_11_2_ROOT622_X_2020-11-10-2300+6b2453/39821/validateJR.html ) . @slava77 , can you please check these reco differences ?

Integration built (IB) itself is in good state, for last two IBs we have not seen any crashes ( https://cmssdt.cern.ch/SDT/

[2020-11-11 12:15] Dr15Jones commented on #31940
The problem still remains even after the pull request #32021 . See https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ASAN_X_2020-11-09-2300/pyRelValMatrixLogs/run/23234.9_TTbar_14TeV+2026D49_vectorHits+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D49_vectorHits+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+

[2020-11-11 12:55] silviodonato opened #32101 "Build CMSSW_11_1_5"

[2020-11-11 12:56] cmsbuild commented on #32101
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-11-11 12:56] silviodonato commented on #32101
build cmssw-tool-conf

[2020-11-11 12:57] cmsbuild commented on #32101
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_ppc64le_gcc820, cc8_amd64_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-11-11 12:58] cmsbuild commented on #32101
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2699/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-11 12:58] cmsbuild commented on #32101
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2698/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 12:59] cmsbuild commented on #32101
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2700/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 12:59] cmsbuild commented on #32101
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2701/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 13:13] cmsbuild commented on #32101
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/2700

[2020-11-11 13:18] cmsbuild commented on #32101
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_amd64_gcc820/2701

[2020-11-11 13:22] cmsbuild commented on #32101
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-cc8_amd64_gcc8/2699

[2020-11-11 13:23] cmsbuild commented on #32101
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_aarch64_gcc820/2698

[2020-11-11 13:59] kpedro88 commented on #31940
@smuzaffar @mrodozov is there a way to launch PR tests with the ASAN IB, so (in the future) this can be checked before a PR intended to fix an ASAN problem is approved/merged?

[2020-11-11 14:05] smuzaffar commented on #31940
currently you can requets the test by doing "please test with CMSSW_11_2_ASAN_X" to run additional PR tests for ASAN IBs

[2020-11-11 14:06] perrotta commented on #31940
Removed the "+1" previously issued for reco, waiting for the actual fix
@felicepantaleo @rovere

[2020-11-11 14:13] perrotta commented on #31940
@smuzaffar this is indeed what I did for #32021, and the results (see https://github.com/cms-sw/cmssw/pull/32021#issuecomment-722593920) didn't point to any error related to HGCal. The only issue was in a AlCa related step of wf 1001 (MinBias2011A) and obviously unrelated to HGCal

[2020-11-11 14:17] perrotta commented on #31940
@Dr15Jones [your test](https://github.com/cms-sw/cmssw/issues/31940#issuecomment-725390369) was run with CMSSW_11_2_ASAN_X_2020-11-09-2300, while #32021 was merged for CMSSW_11_2_X_2020-11-10-2300, i.e. more recent.
I bet ASAN test will succeed for a more recent ASAN IB

[2020-11-11 14:27] smuzaffar commented on #31940
I think workflow 23234.9 is not part of PR tests that is why it was not shown.

[2020-11-11 14:32] smuzaffar commented on #31940
and indeed we do not have an ASAN IB with #32021 yet (there will be one tonight)

[2020-11-11 14:34] silviodonato commented on #32101
abort

[2020-11-11 14:34] perrotta commented on #31940
The very same error [appeared](https://cms-sw.github.io/relvalLogDetail.html#slc7_amd64_gcc820;CMSSW_11_2_ASAN_X_2020-11-09-2300) also on 23234.0, which is part of the PR tests

[2020-11-11 14:42] rovere commented on #31940
That IB, unless I'm wrong, **does not have the fix merged**.

[2020-11-11 14:55] #32101 closed

[2020-11-11 14:56] silviodonato opened #32108 "Build CMSSW_11_1_5"

[2020-11-11 14:56] cmsbuild commented on #32108
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-11-11 14:58] silviodonato commented on #32108
build cmssw-tool-conf

[2020-11-11 14:58] cmsbuild commented on #32108
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_ppc64le_gcc820, cc8_amd64_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2020-11-11 15:00] cmsbuild commented on #32108
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2703/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 15:00] cmsbuild commented on #32108
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2702/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-11 15:00] cmsbuild commented on #32108
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2704/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 15:01] cmsbuild commented on #32108
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2705/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 15:08] makortel commented on #30359
There is another failure in the workflow 1000.0 step 2 in the slc7_amd64_gcc820 IB CMSSW_11_2_ROOT6_X_2020-11-10-2300 **with debug symbols in ROOT**
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_ROOT6_X_2020-11-10-2300/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step2_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVES

[2020-11-11 15:15] makortel commented on #32091
It could be clearer to disable the test for non-x86 in the BuildFile. Syntax should be the following (@smuzaffar please correct if necessary)
[code]

The same unit test appears to fail in the same way in CLANG IBs as well (on x86)
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_2_CLANG_X_2020-11-10-2300/unitTestLogs/EventFilter/Utilities#/38-38

[2020-11-11 15:21] smuzaffar commented on #30359
@makortel , this is from ROOT6 (which is based on root master) IB.

[2020-11-11 15:21] smuzaffar commented on #30359
ROOT622 IBs are in much better state now, we just need to understand the reco comparison failures

[2020-11-11 15:26] smorovic commented on #32091
@makortel ok, so it's not architecture specific. I'll investigate and try to reproduce it on my side starting from the master branch.

[2020-11-11 15:32] cmsbuild commented on #32108
There was an error building cmssw-tool-conf for slc7_ppc64le_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/2705

[2020-11-11 15:37] cmsbuild commented on #32108
There was an error building cmssw-tool-conf for slc7_aarch64_gcc820
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_aarch64_gcc820/2704

[2020-11-11 15:37] cmsbuild commented on #32108
There was an error building cmssw-tool-conf for cc8_amd64_gcc8
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-cc8_amd64_gcc8/2702

[2020-11-11 15:40] agrohsje commented on #31393
+1

[2020-11-11 15:41] cmsbuild commented on #31393
This issue is fully signed and ready to be closed.

[2020-11-11 15:43] smuzaffar commented on #31991
https://github.com/cms-sw/cms-bot/pull/1412 adds a new test which runs `runTheMatrix.py -all --maxStep=0` which basically runs all the das query commands for all of our workflows. It takes only 5 to 8 mins to run it. Once this is merged the bot will report on the PR summary page ( https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-118832/10645/summary.html )about the failed d

[2020-11-11 15:47] makortel commented on #31991
I'm a bit confused how das query alone would have shown that using the old/existing GEN-SIM would lead to failures in step2.

[2020-11-11 15:57] mrodozov commented on #32091
@smorovic you can use the CLANG IB, fixing it against it and then we can run the test for Arm and PPC from here

[code]

sry if this is redundant :/

[2020-11-11 16:02] smuzaffar commented on #31991
No, it is not going to solve that issue. It is only going to solve the issue where new data set is added which is not used by short matrix. Those error will be caught by this test.

[2020-11-11 16:42] SiewYan commented on #32058
PR #32109

[2020-11-11 17:19] wddgit commented on #32065
I think there is a problem with the constructor and assignment operators here:

https://cmssdt.cern.ch/dxr/CMSSW/source/DataFormats/GeometrySurface/interface/ReferenceCounted.h#32

Do you agree? It seems like this could cause the reference count to be initialized.

[2020-11-11 17:20] wddgit commented on #32065
Oops I meant uninitialized.

[2020-11-11 17:30] silviodonato commented on #32101
abort

[2020-11-11 17:31] wddgit commented on #32065
Forget the last two comments. It is OK. So far I have failed to find the problem. I don't see anything wrong yet.

[2020-11-11 17:33] silviodonato commented on #32108
@smuzaffar I see
`fatal: tag 'REL/CMSSW_11_1_5-tool-conf/slc7_amd64_gcc820' already exists`
Perhaps it is because of the previous attempt #32101.

I stopped #32101 because I merged https://github.com/cms-sw/cmsdist/pull/6340

[2020-11-11 17:36] smuzaffar commented on #32108
not need to built the tool-conf, just approve this to start the build directly.

[2020-11-11 17:38] smuzaffar commented on #32108
build cmssw-tool-conf

[2020-11-11 17:39] smuzaffar commented on #32108
I have fixed the script to not tag for tool-conf as we do not use it.
`abort` command only works for release tags. If you have only build tool-conf then there is nothing to abort

[2020-11-11 17:41] smuzaffar commented on #32108
looks like bot does not recognize this any more. please close this and re-start

[2020-11-11 17:42] cmsbuild commented on #32108
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2706/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-11 17:42] cmsbuild commented on #32108
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2707/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 17:44] cmsbuild commented on #32108
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2708/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 17:44] cmsbuild commented on #32108
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2709/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 17:51] dan131riley commented on #30359
From the debug output, the crash is where I guessed, iterating over the list of shared objects:

https://github.com/root-project/root/blob/49c45b3291c71ffc7f603ae4267f112fdaf77ac4/core/metacling/src/TCling.cxx#L3285-L3289

That code isn't thread safe, there's a lock that needs to be held to iterate over the DSO headers.  Some searching finds there is a function for this, `dl_iterate_phdr()` (which

[2020-11-11 17:59] cmsbuild commented on #32108
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/2709

[2020-11-11 18:00] cmsbuild commented on #32108
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_amd64_gcc820/2707

[2020-11-11 18:06] cmsbuild commented on #32108
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_aarch64_gcc820/2708

[2020-11-11 18:06] cmsbuild commented on #32108
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-cc8_amd64_gcc8/2706

[2020-11-11 18:19] adas1994 commented on #32050
I used similar new samples for StdMix-PreMix comparison this time -
![RecHits_HGCEE_energy](https://user-images.githubusercontent.com/29214321/98848835-4a5b8f80-2420-11eb-90f0-bb9c4dcb3f7d.png)
![RecHits_HGCHEB_energy](https://user-images.githubusercontent.com/29214321/98848861-53e4f780-2420-11eb-84db-9991cbc9989e.png)
![RecHits_HGCHEF_energy](https://user-images.githubusercontent.com/29214321/988

[2020-11-11 18:31] kpedro88 commented on #32050
@adas1994 can you clarify exactly which CMSSW release you used and what samples you produced?

[2020-11-11 18:37] Axel-Naumann commented on #30359
Thanks, @dan131riley ! That's ROOT GitHub issue these days ;-) The only part I want to check is why no caller is taking a lock - it should, TCling-style. Thanks for your investigation!

[2020-11-11 18:44] adas1994 commented on #32050
**For yesterday's plots**-
I had used CMSSW_11_1_0_pre8. PU samples - /store/relval/CMSSW_10_6_0_patch2/RelValMinBias_14TeV/GEN-SIM/106X_upgrade2023_reali\
stic_v3_2023D41noPU-v1/10000/*.root

**For today's plots -**
CMSSW_11_2_0_pre8 and PU samples -
/store/relval/CMSSW_11_0_0_pre13/RelValMinBias_14TeV/GEN-SIM/110X_mcRun4_realistic_v\
2_2026D49noPU-v1/20000/*.root
**Underlying Generator Event sam

[2020-11-11 18:50] kpedro88 commented on #32050
@adas1994 I'm not sure we learn much moving from 10_6 to 11_0 MinBias samples. They could both be considered out of date. My suggestion was to generate your own MinBias sample using 11_2_0_pre8, to ensure consistency.

[2020-11-11 18:51] adas1994 commented on #32050
I don't know how to do that using runThematrix.py workflows. Can you provide an example code for generating my own minbias samples?

[2020-11-11 18:57] kpedro88 commented on #32050
@adas1994 there is a minbias workflow for D49: `runTheMatrix.py -w upgrade -l 23240.0 --dryRun`

That will print the cmsDriver commands for the workflow. You just need to run the GEN-SIM step (probably with more events than the default 10). Then use the resulting root file as the --pileup_input for the classical mixing and premixing workflows.

[2020-11-11 19:08] adas1994 commented on #32050
And How do I specify the number of PUs, like 50 or 200 and whether I want a Poisson distribution of mixing or whether do I want fixed number of pileups in this Gen-SIm step?

[2020-11-11 19:12] kpedro88 commented on #32050
in `23434.999` this is already specified with the cmsDriver argument: `--pileup AVE_50_BX_25ns_m3p3`. Just make sure to use the same argument for classical mixing.

[2020-11-11 19:34] wddgit commented on #32065
@Dr15Jones I found another thing that looks suspicious. If the tbb arena goes out of scope before the last the tbb task runs, is it a problem?  The tasks that end IOVs run at the very end of cmsRun when the EventProcessor gets destroyed. It looks as though the arena goes out of scope earlier.

https://cmssdt.cern.ch/dxr/CMSSW/source/FWCore/Framework/bin/cmsRun.cpp#284

[2020-11-11 19:40] Dr15Jones commented on #32065
good question. I don't know.

[2020-11-11 19:41] wddgit commented on #32065
I could explicitly force the end IOV tasks to run earlier. It looks like the arena code was added in September. That would explain why we didn't see this before now.

[2020-11-11 19:50] makortel commented on #32065
Thanks David for the investigation. I think it would be good to run all tasks within the function calls called by the call to the `arena.execute()`, just to be clear about those even if it would turn out not to be the cause.

[2020-11-11 19:53] wddgit commented on #32065
I will do that. I'll submit a PR soon. And then I suggest we assume that is the cause of the problem as long as the crash does not recur. It seems plausible.

[2020-11-11 19:55] smorovic commented on #32091
Thanks @mrodozov , that was useful suggestion.
I just tried and reproduced the problem with that IB (CMSSW_11_2_CLANG_X_2020-11-10-2300) on lxplus.
What is interesting is that same tests run fine with the baseline build CMSSW_11_2_X_2020-11-10-2300.

My suspicion is a recent patch introducing changes in the raw data event header format (error is about that header).
https://github.com/cms-sw/cmssw/

[2020-11-11 19:55] dan131riley commented on #30359
@Axel-Naumann this is internal to glibc, so it can't be protected via a TCling lock, it has to be protected by the glibc dl lock

[2020-11-11 20:00] slava77 opened #32114 "optimize btagbtvdeep::seedingTracksToFeatures re DeepVertex (or deep flavor+vertex combined) tagging"
as a part of #31988 (https://github.com/cms-sw/cmssw/pull/31988#issuecomment-725604610) we find that the `btagbtvdeep::seedingTracksToFeatures` is pretty expensive.
At a quick glance, its implementation is rather suboptimal and can be sped up by caching relevant data per track instead of recomputing it in a nested loop over tracks.

https://legianni.web.cern.ch/legianni/cgi-bin/igprof-navigator/te

[2020-11-11 20:00] slava77 commented on #32114
assign reconstruction

[2020-11-11 20:00] cmsbuild commented on #32114
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-11 20:00] cmsbuild commented on #32114
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-11 20:00] silviodonato commented on #32108
+1

[2020-11-11 20:01] cmsbuild commented on #32108
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-11-11 20:01] cmsbuild commented on #32108
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-11-11 20:01] pcanal commented on #30359
Do you have an inkling of which part of the code (beside TCling) is manipulating the dlopen structure?  i.e. it is not thread-safe and to fail it needs another thread touching it.

[2020-11-11 20:02] cmsbuild commented on #32108
The build has started for cc8_amd64_gcc8 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2710/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-11 20:02] cmsbuild commented on #32108
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2711/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 20:02] cmsbuild commented on #32108
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2712/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 20:02] cmsbuild commented on #32108
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2713/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 20:04] silviodonato commented on #32108
abort

[2020-11-11 20:05] cmsbuild commented on #32108
The was an error for slc7_ppc64le_gcc820.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/2712

[2020-11-11 20:06] #32108 closed

[2020-11-11 20:06] silviodonato opened #32115 "Build CMSSW_11_1_5"

[2020-11-11 20:06] cmsbuild commented on #32115
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-11-11 20:06] slava77 commented on #30359
if this is an equivalent of cms-sw/cmsdist#6388, then please see https://github.com/cms-sw/cmsdist/pull/6388#issuecomment-725620932

[2020-11-11 20:07] silviodonato commented on #32115
+1

[2020-11-11 20:07] cmsbuild commented on #32115
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2020-11-11 20:08] cmsbuild commented on #32115
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, cc8_amd64_gcc8, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for ea

[2020-11-11 20:08] cmsbuild commented on #32115
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2714/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 20:08] cmsbuild commented on #32115
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2715/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 20:09] cmsbuild commented on #32115
The build has started for cc8_amd64_gcc8 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2716/console
CMSDIST Branch: [IB/CMSSW_11_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-11 20:09] dan131riley commented on #30359
@pcanal I suspect that the dlopen list is being modified by the allocation of thread local storage in `MagGeometry::findVolume()`.  TCling saves a pointer into the middle of the list, `fPrevLoadedDynLibInfo`, implicitly assuming that entries are not removed from the list or modified, which likely isn't a good assumption.

[2020-11-11 20:10] cmsbuild commented on #32115
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2717/console
CMSDIST Branch: [IB/CMSSW_11_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_1_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-11 20:13] pcanal commented on #30359
As far as I understood that list is the list of share library handle, so I am not sure why the thread local allocation would change that but I indeed could be

[2020-11-11 20:15] pcanal commented on #30359
@slava77 Does reading the failing map from a file written with an old version of ROOT & CMSSW work (or fails) when reading with the new FWLite?  (i.e. is the file badly read or badly written?)

[2020-11-11 21:36] smorovic commented on #32091
I found the cause: In IOPool/Streamer/interface/FRDEventMessage.h:
`FRDHeaderVersionSize` array is of size 6 (positions 0-5)

But in EventFilter/Utilities/src/FedRawDataInputSource.cc (in a few places):
`FRDHeaderVersionSize[detectedFRDversion_]`
Version is in this case 6, going out of array.

There are also checks making sure version is <= "6" in a few places. I'll instead move this into the head

[2020-11-11 22:01] smorovic commented on #32091
I created the PR: https://github.com/cms-sw/cmssw/pull/32116
if you can also test it on ARM and PPC.

It will be followed by 11_1_X backport later.

[2020-11-11 22:12] smuzaffar commented on #30359
I have tested latest root v.6.22 against native 11.2.X IB and there were not comparison differences https://github.com/cms-sw/cmsdist/pull/6404#issuecomment-725671870

[2020-11-11 22:30] cmsbuild commented on #32115
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_aarch64_gcc820/2714
Some test

[2020-11-11 22:39] cmsbuild commented on #32115
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/2715
Some test

[2020-11-11 23:06] cmsbuild commented on #32115
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-cc8_amd64_gcc8/2716
Some tests ( runThe

[2020-11-11 23:34] cmsbuild commented on #32115
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_aarch64_gcc820/2714

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-11-11 23:44] cmsbuild commented on #32115
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/2715

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-11-11 23:46] cmsbuild commented on #32115
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-cc8_amd64_gcc8/2716

Tests results:
36 35 33 25 15 3 0 0 0 tests passed, 0 0 0 1 0 0 0 0 0 failed

[2020-11-11 23:53] cmsbuild commented on #32115
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_amd64_gcc820/2717
Some tests (

[2020-11-12 00:15] qliphy opened #32118 "Build CMSSW_11_2_0_pre9"

[2020-11-12 00:16] cmsbuild commented on #32118
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2020-11-12 00:17] qliphy commented on #32118
build cmssw-tool-conf

[2020-11-12 00:17] cmsbuild commented on #32118
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_ppc64le_gcc820, slc7_amd64_gcc900, cc8_amd64_gcc8, cc8_aarch64_gcc8
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf f

[2020-11-12 00:18] cmsbuild commented on #32118
The cmssw-tool-conf build has started for cc8_amd64_gcc8 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2718/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-12 00:20] cmsbuild commented on #32118
The cmssw-tool-conf build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2720/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 00:20] cmsbuild commented on #32118
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2719/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 00:24] cmsbuild commented on #32118
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2721/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 00:31] cmsbuild commented on #32115
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_5-slc7_amd64_gcc820/2717

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-12 00:43] cmsbuild commented on #32118
The cmssw-tool-conf build has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2722/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-12 01:44] cmsbuild commented on #32118
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2723/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 05:25] cmsbuild commented on #32118
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_ppc64le_gcc820/2720

[2020-11-12 06:23] cmsbuild commented on #32118
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_amd64_gcc820/2719

[2020-11-12 06:38] cmsbuild commented on #32118
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_amd64_gcc900/2721

[2020-11-12 06:47] cmsbuild commented on #32118
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_amd64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-cc8_amd64_gcc8/2718

[2020-11-12 06:58] cmsbuild commented on #32118
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2724/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 08:11] silviodonato commented on #32115
+1

[2020-11-12 08:13] silviodonato commented on #32115
upload all

[2020-11-12 08:13] cmsbuild commented on #32115
Queing Jenkins upload for cc8_amd64_gcc8

[2020-11-12 08:13] cmsbuild commented on #32115
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-11-12 08:13] cmsbuild commented on #32115
Queing Jenkins upload for slc7_amd64_gcc820

[2020-11-12 08:13] cmsbuild commented on #32115
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-11-12 08:16] cmsbuild commented on #32115
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1732/console

[2020-11-12 08:16] cmsbuild commented on #32115
The upload has started for cc8_amd64_gcc8 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1730/console

[2020-11-12 08:16] cmsbuild commented on #32115
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1731/console

[2020-11-12 08:16] cmsbuild commented on #32115
The upload has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1733/console

[2020-11-12 08:17] cmsbuild commented on #32115
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_5-slc7_ppc64le_gcc820/1732

[2020-11-12 08:17] cmsbuild commented on #32115
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_5-cc8_amd64_gcc8/1730

[2020-11-12 08:18] cmsbuild commented on #32115
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_5-slc7_aarch64_gcc820/1731

[2020-11-12 08:20] silviodonato commented on #32115
release-notes

[2020-11-12 08:21] cmsbuild commented on #32115
ATTENTION!!! The production architecture (slc7_amd64_gcc820) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2020-11-12 08:24] cmsbuild commented on #32115
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_1_5-slc7_amd64_gcc820/1733

[2020-11-12 08:24] cmsbuild commented on #32115
Generating release notes since CMSSW_11_1_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-11-12 08:24] cmsbuild commented on #32115
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_5 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_5

Cheers,
cms-bot

You can a

[2020-11-12 08:25] silviodonato commented on #32115
release-notes

[2020-11-12 08:26] cmsbuild commented on #32115
Generating release notes since CMSSW_11_1_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-11-12 08:26] cmsbuild commented on #32115
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_5 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
cc8_amd64_gcc8
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_1_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_5

Cheers,
cms-bot

You can a

[2020-11-12 08:27] cmsbuild commented on #32115
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_5

[2020-11-12 08:28] cmsbuild commented on #32115
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_5

[2020-11-12 08:28] #32115 closed

[2020-11-12 08:50] silviodonato commented on #32118
+1

[2020-11-12 08:50] cmsbuild commented on #32118
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2020-11-12 08:50] cmsbuild commented on #32118
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc8, slc7_amd64_gcc900, slc7_ppc64le_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each

[2020-11-12 08:53] cmsbuild commented on #32118
The build has started for slc7_ppc64le_gcc820 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2725/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 09:00] silviodonato commented on #31987
solved

[2020-11-12 09:00] #31987 closed

[2020-11-12 09:04] cmsbuild commented on #32118
The build has started for cc8_amd64_gcc8 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2726/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-12 09:16] cmsbuild commented on #32118
The build has started for slc7_amd64_gcc820 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2727/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 09:19] cmsbuild commented on #32118
The build has started for slc7_amd64_gcc900 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2728/console
CMSDIST Branch: [IB/CMSSW_11_2_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 10:03] cmsbuild commented on #32118
The cmssw-tool-conf build has finished sucessfully for the architecture cc8_aarch64_gcc8 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-cc8_aarch64_gcc8/2722

[2020-11-12 10:03] cmsbuild commented on #32118
Queuing Jenkins build for the following architectures: cc8_aarch64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-12 10:06] cmsbuild commented on #32118
The build has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2729/console
CMSDIST Branch: [IB/CMSSW_11_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2020-11-12 11:08] cmsbuild commented on #32118
The build has finished sucessfully for the architecture slc7_ppc64le_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_ppc64le_gcc820/2725
Some

[2020-11-12 11:19] silviodonato commented on #31991
Thanks @smuzaffar . About https://github.com/cms-sw/cmssw/issues/31991#issuecomment-723244866, I think the current situation where we catch the error in the IB is not so bad, but of course it would be good to have the possibility to run the PR test with `-i all`. This option might be useful also to speed up the PR tests which does not affect gen-sim. On the other hand, it is good to test the workf

[2020-11-12 11:27] smuzaffar commented on #31991
@silviodonato , I think we can easily add `-i all --command "-n 1" --maxStep=2` and only run those workflows where we use input data in step1. I will add such a test to see how much time it will take.

[2020-11-12 11:53] adas1994 commented on #32050
@kpedro88 , with the freshly made minbias samples, the rechits enrgy profile are similar as my last comparison plots, i.e. completely different for stdmix and premix. I guess I have no other choice than delve into the code.

[2020-11-12 11:54] cmsbuild commented on #32118
The tests have finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_ppc64le_gcc820/2725

Tests results:
14 0 0 0 0 0 0 0 0 tests passed, 21 14 0 0 0 0 0 0 0 failed

[2020-11-12 12:04] #29187 closed

[2020-11-12 12:10] cmsbuild commented on #32118
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_amd64_gcc900/2728
Some tes

[2020-11-12 12:16] cmsbuild commented on #32118
The build has finished sucessfully for the architecture cc8_amd64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-cc8_amd64_gcc8/2726
Some tests ( r

[2020-11-12 12:40] cmsbuild commented on #32118
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_aarch64_gcc820/2724

[2020-11-12 12:40] cmsbuild commented on #32118
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2020-11-12 12:50] cmsbuild commented on #32118
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_amd64_gcc900/2728

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-12 12:56] cmsbuild commented on #32118
The tests have finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-cc8_amd64_gcc8/2726

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-12 13:14] perrotta commented on #31940
+1
- #32021 fixed it
- No related errors in CMSSW_11_2_ASAN_X_2020-11-11-2300

[2020-11-12 13:18] cmsbuild commented on #32118
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_amd64_gcc820/2727
Some tes

[2020-11-12 13:42] smuzaffar commented on #30359
@makortel , @Dr15Jones , we now have 4 full IBs for ROOT 6.22 and there are no errors in relcvals/unittests. The PR tests with root v6.22 for native IBs also look good. So can we give green light to root team that they can tag v6.22? Or are there any other pending issues with it?

[2020-11-12 13:51] cmsbuild commented on #32118
The build has started for slc7_aarch64_gcc820 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2730/console
CMSDIST Branch: [IB/CMSSW_11_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_2_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2020-11-12 13:51] Dr15Jones commented on #30359
I certainly do not know of any outstanding issues.

[2020-11-12 14:00] cmsbuild commented on #32118
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_amd64_gcc820/2727

Tests results:
35 34 33 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2020-11-12 14:04] makortel commented on #30359
I'm not aware of any outstanding issues either, so I suppose we can give green light.

[2020-11-12 14:32] silviodonato opened #32125 "Update of GEN-SIM files used in runTheMatrix --useInputs and of the pileup samples (Run-3 only)"
(Originally discussed in https://github.com/cms-sw/cmssw/issues/31991#issuecomment-723210397)

As reported in #31991, when we integrated PPS in the DIGI step (#31943 or equivalently #32003) we got the error
[code]
in the IB tests.

The reason is that the IB tests run using the option `-i all --ibeos` options. This means, for instance,  `11834.0` wf runs
[code]
which takes as input the already exis

[2020-11-12 14:33] silviodonato commented on #32125
assign pdmv

[2020-11-12 14:33] cmsbuild commented on #32125
New categories assigned: pdmv

@chayanit,@wajidalikhan,@jordan-martins you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-12 14:33] cmsbuild commented on #32125
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-12 14:50] silviodonato commented on #32118
upload all

[2020-11-12 14:50] cmsbuild commented on #32118
Queing Jenkins upload for cc8_amd64_gcc8

[2020-11-12 14:50] cmsbuild commented on #32118
Queing Jenkins upload for slc7_amd64_gcc820

[2020-11-12 14:50] cmsbuild commented on #32118
Queing Jenkins upload for slc7_amd64_gcc900

[2020-11-12 14:50] cmsbuild commented on #32118
Queing Jenkins upload for slc7_ppc64le_gcc820

[2020-11-12 14:52] cmsbuild commented on #32118
The upload has started for cc8_amd64_gcc8 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1734/console

[2020-11-12 14:52] cmsbuild commented on #32118
The upload has started for slc7_amd64_gcc900 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1736/console

[2020-11-12 14:52] cmsbuild commented on #32118
The upload has started for slc7_amd64_gcc820 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1735/console

[2020-11-12 14:53] cmsbuild commented on #32118
The upload has successfully finished for cc8_amd64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9-cc8_amd64_gcc8/1734

[2020-11-12 14:53] cmsbuild commented on #32118
The upload has started for slc7_ppc64le_gcc820 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1737/console

[2020-11-12 14:54] cmsbuild commented on #32118
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9-slc7_amd64_gcc900/1736

[2020-11-12 14:54] cmsbuild commented on #32118
The upload has successfully finished for slc7_ppc64le_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9-slc7_ppc64le_gcc820/1737

[2020-11-12 14:55] cmsbuild commented on #32118
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9-slc7_amd64_gcc820/1735

[2020-11-12 14:57] silviodonato commented on #28919
Update of the error (`CMSSW_11_2_PY3_X_2020-11-11-2300`)
[code]

[2020-11-12 14:59] #29076 closed

[2020-11-12 15:03] #30980 closed

[2020-11-12 15:05] silviodonato commented on #31393
see wf `546.0`, `547.0`, `548.0`

[2020-11-12 15:05] #31393 closed

[2020-11-12 15:07] silviodonato commented on #31592
fixed by #31593

[2020-11-12 15:07] #31592 closed

[2020-11-12 15:07] cmsbuild commented on #31592
This issue is fully signed and ready to be closed.

[2020-11-12 15:09] #31914 closed

[2020-11-12 15:13] intrepid42 commented on #28919
Hi Fabio,

I think @smuzaffar has solved the problem for YODA: https://github.com/cms-sw/cmsdist/blame/IB/CMSSW_11_2_X/py3/yoda.spec#L19 (see output below)

Would the same work for Rivet?

[code]

[2020-11-12 15:31] silviodonato commented on #32118
release-notes

[2020-11-12 15:31] cmsbuild commented on #32118
Generating release notes since CMSSW_11_2_0_pre8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2020-11-12 15:31] cmsbuild commented on #32118
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_2_0_pre9 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8
slc7_amd64_gcc900
slc7_ppc64le_gcc820

The release notes of what changed with respect to CMSSW_11_2_0_pre8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_0_pre9

Cheers,
cms-

[2020-11-12 15:37] cmsbuild commented on #32118
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_0_pre9

[2020-11-12 16:16] cmsbuild commented on #32118
The build has finished sucessfully for the architecture cc8_aarch64_gcc8 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-cc8_aarch64_gcc8/2729
Some tests

[2020-11-12 16:16] cmsbuild commented on #32118
Queing Jenkins upload for cc8_aarch64_gcc8

[2020-11-12 16:17] cmsbuild commented on #32118
The upload has started for cc8_aarch64_gcc8 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1738/console

[2020-11-12 16:18] cmsbuild commented on #32118
The upload has successfully finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9-cc8_aarch64_gcc8/1738

[2020-11-12 16:42] cmsbuild commented on #32118
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_aarch64_gcc820/2730
Some

[2020-11-12 16:43] cmsbuild commented on #32118
Queing Jenkins upload for slc7_aarch64_gcc820

[2020-11-12 16:44] cmsbuild commented on #32118
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1739/console

[2020-11-12 16:45] cmsbuild commented on #32118
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_0_pre9-slc7_aarch64_gcc820/1739

[2020-11-12 17:41] #32118 closed

[2020-11-12 17:53] cmsbuild commented on #32118
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-slc7_aarch64_gcc820/2730

Tests results:
35 33 32 25 16 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-11-12 18:52] cmsbuild commented on #32118
The tests have finished for cc8_aarch64_gcc8
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_0_pre9-cc8_aarch64_gcc8/2729

Tests results:
35 33 32 25 16 4 1 1 1 tests passed, 0 1 0 0 0 0 0 0 0 failed

[2020-11-13 03:08] slava77 commented on #27889
updates:
- now merged
    - #31847 Activate deepDoubleXV2 (merged Nov 4, 2020)
    - #31995 Electron Scale and smearing for UL (merged Nov 4, 2020)
    - #32055 speedup at job start in EnergyScaleCorrection (merged Nov 10, 2020)

[2020-11-13 03:09] slava77 commented on #27889
@lathomas @ahinzmann @kirschen @cms-sw/xpog-l2
please comment on the status of the following items which do not yet have a PR :
- quark gluon likelihood retraining
- update of the prefiring maps. (this one would just be an update of the related file in https://github.com/cms-data/PhysicsTools-PatUtils in principle)

[2020-11-13 07:53] rovere commented on #31817
Can we have this re-assessed using `CMSSW_11_2_0_pre9` and, in case, close the issue if the problems are solved?

[2020-11-13 07:54] rovere commented on #31552
This has been solved by #32022
Can we close this issue?

[2020-11-13 08:20] riga commented on #29818
Not yet, but seeing this now, I think we could clearly benefit from a common data structure.

Kevins approach is already quite nice and clear and I like the idea that features keep a pointer to the value to fill. I can image cases, however, where the input data (e.g. a tensor) might change, for instance between events or when a batch size > 1 is used. To avoid having to loop over features to reset

[2020-11-13 13:53] silviodonato opened #32133 "vector<l1t::Muon> read too many bytes: 187 instead of 171"
From https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2187/1/1/1.html and
https://docs.google.com/document/d/1LWs-87dWMTlIj2VhmVZLcPhqZEGZK1Zkv1fRLeBbO1E/edit?pli=1#

In `CMSSW_11_1_5`, we get
[code]

You can reproduce the error by
[code]

[2020-11-13 13:53] cmsbuild commented on #32133
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-13 13:54] silviodonato commented on #32133
assign l1

[2020-11-13 13:54] cmsbuild commented on #32133
New categories assigned: l1

@rekovic,@jmduarte you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-11-13 13:55] silviodonato commented on #32133
cc @boudoul @amassiro

[2020-11-13 14:32] silviodonato commented on #32133
I can confirm that `CMSSW_11_1_4` works without error. The error appears running with `CMSSW_11_1_4` + https://github.com/cms-sw/cmssw/pull/31679

[2020-11-13 14:41] makortel commented on #32133
The `ioread` in https://github.com/cms-sw/cmssw/pull/31679 11_1_X backport has a slight difference wrt. 11_2_X original PR https://github.com/cms-sw/cmssw/pull/31608 (red #31608, green #31679)
[code]

[2020-11-13 14:42] dan131riley commented on #32086
Maybe?  That crash looks like the floating point exception state is getting reset from a state saved by TBB after the saved state has been invalidated, probably because the object holding the saved state has been freed.  I have a vague theory that Chris's changes to the MessageLogger somehow exposed a bug in our use of TBB, and this is a manifestation of the same issue, but that's just a hand-wavy